*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
configuration
.nyc_output
.grunt
.lock-wscript
build/Release
node_modules
jspm_packages
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.DS_Store
.vscode/launch.json

Makefile.private.mk
lerna-debug.log
package-lock.json

!serviceModels/logs
dist

.idea/
*.iml
*.iws

codegen/**/build
codegen/**/build-single
codegen/sdk-codegen/aws-models-examples
codegen/sdk-codegen/smithy-build.json
codegen/sdk-codegen/smithy-build-*.json
.gradle
*/out/
*/*/out/
workspace

.turbo
coverage
dist
dist-*

/verdaccio/*
/storage/.verdaccio-db.json
!/verdaccio/config.yaml

*.tsbuildinfo

codegen/.attach*
codegen/.project
codegen/.classpath
codegen/.settings/
codegen/*/.project
codegen/*/.classpath
codegen/*/.settings/
codegen/*/bin

benchmark/size/raw

etc/
temp/
temp-packages/
temp-lib/

# Gradle composite build properties
codegen/local.properties
