*.log
npm-debug.log*
pids
*.pid
*.seed
*.pid.lock
lib-cov
configuration
.nyc_output
.grunt
.lock-wscript
build/Release
node_modules
jspm_packages
.npm
.eslintcache
.node_repl_history
*.tgz
.yarn-integrity
.DS_Store
.vscode/launch.json

lerna-debug.log
package-lock.json

!serviceModels/logs
dist

.idea/
*.iml
*.iws

codegen/**/build
codegen/sdk-codegen/smithy-build.json
.gradle
*/out/
*/*/out/

coverage
dist
types
!packages/types

/verdaccio/*
!/verdaccio/config.yaml
