CHANGELOG.md
**/*/CHANGELOG.md
.github/*
**/*.hbs
**/*/report.md
clients/**/src
clients/**/README.md
private/**
!private/aws-client-api-test/src/**/*
packages/nested-clients/src/submodules/*/endpoint/ruleset.ts
**/*.java