CHANGELOG.md
**/*/CHANGELOG.md
.github/*
**/*.hbs
**/*/report.md
clients/**/src
clients/**/README.md
clients/**/test/index-objects.spec.mjs
clients/**/test/index-types.ts
clients/**/test/snapshots.integ.spec.ts
private/**
!private/aws-client-api-test/src/**/*
packages/nested-clients/src/submodules/**/*.ts
packages-internal/nested-clients/src/
lib/lib-dynamodb/src/DynamoDBDocument.ts
lib/lib-dynamodb/src/DynamoDBDocumentClient.ts
lib/lib-dynamodb/src/index.ts
lib/lib-dynamodb/src/commands/*Command.ts
lib/lib-dynamodb/src/commands/index.ts
lib/lib-dynamodb/src/pagination/
packages-internal/core/src/submodules/client/util-endpoints/lib/aws/partitions.ts
**/*.java