# When building and testing the app, please rename this file to .env and replace the 
# keys with proper resources
AWS_SMOKE_TEST_IDENTITY_POOL_ID=[identity-pool-id]
AWS_SMOKE_TEST_BUCKET=[bucket-name]
AWS_SMOKE_TEST_REGION=[region]