======================== minimal response ========================
[status] 200
  
content-type: application/xml
x-amzn-requestid: 1111amzn-requ-stid-uuid-000000001111

[Uint8Array (xml)]
<GetInstanceTypesFromInstanceRequirementsResult xmlns="https://placeholder.amazonaws.com"/>


--- [output object] ---
{
  $metadata: {
    httpStatusCode: (number) 200,
    requestId: "1111amzn-requ-stid-uuid-000000001111",
    extendedRequestId: (undefined),
    cfId: (undefined),
    attempts: (number) 1,
    totalRetryDelay: (number) 0
  }
}

======================== w/ optional fields ========================
[status] 200
  
content-type: application/xml
x-amzn-requestid: 1111amzn-requ-stid-uuid-000000001111

[Uint8Array (xml)]
<GetInstanceTypesFromInstanceRequirementsResult xmlns="https://placeholder.amazonaws.com">
    <instanceTypeSet>
        <item>
            <instanceType>
                __InstanceType__
            </instanceType>
        </item>
        <item>
            <instanceType>
                __InstanceType__
            </instanceType>
        </item>
        <item>
            <instanceType>
                __InstanceType__
            </instanceType>
        </item>
    </instanceTypeSet>
    <nextToken>
        __NextToken__
    </nextToken>
</GetInstanceTypesFromInstanceRequirementsResult>


--- [output object] ---
{
  $metadata: {
    httpStatusCode: (number) 200,
    requestId: "1111amzn-requ-stid-uuid-000000001111",
    extendedRequestId: (undefined),
    cfId: (undefined),
    attempts: (number) 1,
    totalRetryDelay: (number) 0
  },
  InstanceTypes: [
    {
      InstanceType: "__InstanceType__"
    },
    {
      InstanceType: "__InstanceType__"
    },
    {
      InstanceType: "__InstanceType__"
    }
  ],
  NextToken: "__NextToken__"
}

