{
  "smithy": "1.0",
  "shapes": {
    "com.amazonaws.accessanalyzer#AccessAnalyzer": {
      "type": "service",
      "version": "2019-11-01",
      "operations": [
        {
          "target": "com.amazonaws.accessanalyzer#ApplyArchiveRule"
        },
        {
          "target": "com.amazonaws.accessanalyzer#CancelPolicyGeneration"
        },
        {
          "target": "com.amazonaws.accessanalyzer#CreateAccessPreview"
        },
        {
          "target": "com.amazonaws.accessanalyzer#GetAccessPreview"
        },
        {
          "target": "com.amazonaws.accessanalyzer#GetAnalyzedResource"
        },
        {
          "target": "com.amazonaws.accessanalyzer#GetFinding"
        },
        {
          "target": "com.amazonaws.accessanalyzer#GetGeneratedPolicy"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ListAccessPreviewFindings"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ListAccessPreviews"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ListAnalyzedResources"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ListFindings"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ListPolicyGenerations"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.accessanalyzer#StartPolicyGeneration"
        },
        {
          "target": "com.amazonaws.accessanalyzer#StartResourceScan"
        },
        {
          "target": "com.amazonaws.accessanalyzer#TagResource"
        },
        {
          "target": "com.amazonaws.accessanalyzer#UntagResource"
        },
        {
          "target": "com.amazonaws.accessanalyzer#UpdateFindings"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ValidatePolicy"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.accessanalyzer#Analyzer"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "AccessAnalyzer",
          "arnNamespace": "access-analyzer",
          "cloudFormationName": "AccessAnalyzer",
          "cloudTrailEventSource": "access-analyzer.amazonaws.com",
          "endpointPrefix": "access-analyzer"
        },
        "aws.auth#sigv4": {
          "name": "access-analyzer"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {},
        "smithy.api#documentation": "<p>Identity and Access Management Access Analyzer helps identify potential resource-access risks by enabling you to\n         identify any policies that grant access to an external principal. It does this by using\n         logic-based reasoning to analyze resource-based policies in your Amazon Web Services environment. An\n         external principal can be another Amazon Web Services account, a root user, an IAM user or role, a\n         federated user, an Amazon Web Services service, or an anonymous user. You can also use IAM Access Analyzer to\n         preview and validate public and cross-account access to your resources before deploying\n         permissions changes. This guide describes the Identity and Access Management Access Analyzer operations that you can\n         call programmatically. For general information about IAM Access Analyzer, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/what-is-access-analyzer.html\">Identity and Access Management Access Analyzer</a> in the <b>IAM User Guide</b>.</p>\n         <p>To start using IAM Access Analyzer, you first need to create an analyzer.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        },
        "smithy.api#title": "Access Analyzer"
      }
    },
    "com.amazonaws.accessanalyzer#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.accessanalyzer#AccessPointArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:[^:]*:s3:[^:]*:[^:]*:accesspoint/.*$"
      }
    },
    "com.amazonaws.accessanalyzer#AccessPointPolicy": {
      "type": "string"
    },
    "com.amazonaws.accessanalyzer#AccessPreview": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.accessanalyzer#AccessPreviewId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the access preview.</p>",
            "smithy.api#required": {}
          }
        },
        "analyzerArn": {
          "target": "com.amazonaws.accessanalyzer#AnalyzerArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the analyzer used to generate the access preview.</p>",
            "smithy.api#required": {}
          }
        },
        "configurations": {
          "target": "com.amazonaws.accessanalyzer#ConfigurationsMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of resource ARNs for the proposed resource configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the access preview was created.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.accessanalyzer#AccessPreviewStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the access preview.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Creating</code> - The access preview creation is in progress.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Completed</code> - The access preview is complete. You can preview findings\n               for external access to the resource.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Failed</code> - The access preview creation has failed.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "statusReason": {
          "target": "com.amazonaws.accessanalyzer#AccessPreviewStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>Provides more details about the current status of the access preview.</p>\n         <p>For example, if the creation of the access preview fails, a <code>Failed</code> status\n         is returned. This failure can be due to an internal issue with the analysis or due to an\n         invalid resource configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an access preview.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#AccessPreviewFinding": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.accessanalyzer#AccessPreviewFindingId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the access preview finding. This ID uniquely identifies the element in the\n         list of access preview findings and is not related to the finding ID in Access\n         Analyzer.</p>",
            "smithy.api#required": {}
          }
        },
        "existingFindingId": {
          "target": "com.amazonaws.accessanalyzer#FindingId",
          "traits": {
            "smithy.api#documentation": "<p>The existing ID of the finding in IAM Access Analyzer, provided only for existing\n         findings.</p>"
          }
        },
        "existingFindingStatus": {
          "target": "com.amazonaws.accessanalyzer#FindingStatus",
          "traits": {
            "smithy.api#documentation": "<p>The existing status of the finding, provided only for existing findings.</p>"
          }
        },
        "principal": {
          "target": "com.amazonaws.accessanalyzer#PrincipalMap",
          "traits": {
            "smithy.api#documentation": "<p>The external principal that has access to a resource within the zone of trust.</p>"
          }
        },
        "action": {
          "target": "com.amazonaws.accessanalyzer#ActionList",
          "traits": {
            "smithy.api#documentation": "<p>The action in the analyzed policy statement that an external principal has permission to\n         perform.</p>"
          }
        },
        "condition": {
          "target": "com.amazonaws.accessanalyzer#ConditionKeyMap",
          "traits": {
            "smithy.api#documentation": "<p>The condition in the analyzed policy statement that resulted in a finding.</p>"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource that an external principal has access to. This is the resource associated\n         with the access preview.</p>"
          }
        },
        "isPublic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the policy that generated the finding allows public access to the\n         resource.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.accessanalyzer#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource that can be accessed in the finding.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the access preview finding was created.</p>",
            "smithy.api#required": {}
          }
        },
        "changeType": {
          "target": "com.amazonaws.accessanalyzer#FindingChangeType",
          "traits": {
            "smithy.api#documentation": "<p>Provides context on how the access preview finding compares to existing access\n         identified in IAM Access Analyzer.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>New</code> - The finding is for newly-introduced access.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Unchanged</code> - The preview finding is an existing finding that would\n               remain unchanged.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Changed</code> - The preview finding is an existing finding with a change in\n               status.</p>\n            </li>\n         </ul>\n         <p>For example, a <code>Changed</code> finding with preview status <code>Resolved</code>\n         and existing status <code>Active</code> indicates the existing <code>Active</code> finding\n         would become <code>Resolved</code> as a result of the proposed permissions change.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.accessanalyzer#FindingStatus",
          "traits": {
            "smithy.api#documentation": "<p>The preview status of the finding. This is what the status of the finding would be after\n         permissions deployment. For example, a <code>Changed</code> finding with preview status\n            <code>Resolved</code> and existing status <code>Active</code> indicates the existing\n            <code>Active</code> finding would become <code>Resolved</code> as a result of the\n         proposed permissions change.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceOwnerAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID that owns the resource. For most Amazon Web Services resources, the owning\n         account is the account in which the resource was created.</p>",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An error.</p>"
          }
        },
        "sources": {
          "target": "com.amazonaws.accessanalyzer#FindingSourceList",
          "traits": {
            "smithy.api#documentation": "<p>The sources of the finding. This indicates how the access that generated the finding is\n         granted. It is populated for Amazon S3 bucket findings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An access preview finding generated by the access preview.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#AccessPreviewFindingId": {
      "type": "string"
    },
    "com.amazonaws.accessanalyzer#AccessPreviewFindingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.accessanalyzer#AccessPreviewFinding"
      }
    },
    "com.amazonaws.accessanalyzer#AccessPreviewId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
      }
    },
    "com.amazonaws.accessanalyzer#AccessPreviewStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.accessanalyzer#AccessPreviewStatusReason": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.accessanalyzer#AccessPreviewStatusReasonCode",
          "traits": {
            "smithy.api#documentation": "<p>The reason code for the current status of the access preview.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides more details about the current status of the access preview. For example, if\n         the creation of the access preview fails, a <code>Failed</code> status is returned. This\n         failure can be due to an internal issue with the analysis or due to an invalid proposed\n         resource configuration.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#AccessPreviewStatusReasonCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INTERNAL_ERROR",
            "name": "INTERNAL_ERROR"
          },
          {
            "value": "INVALID_CONFIGURATION",
            "name": "INVALID_CONFIGURATION"
          }
        ]
      }
    },
    "com.amazonaws.accessanalyzer#AccessPreviewSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.accessanalyzer#AccessPreviewId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the access preview.</p>",
            "smithy.api#required": {}
          }
        },
        "analyzerArn": {
          "target": "com.amazonaws.accessanalyzer#AnalyzerArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the analyzer used to generate the access preview.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the access preview was created.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.accessanalyzer#AccessPreviewStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the access preview.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Creating</code> - The access preview creation is in progress.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Completed</code> - The access preview is complete and previews the findings\n               for external access to the resource.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Failed</code> - The access preview creation has failed.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "statusReason": {
          "target": "com.amazonaws.accessanalyzer#AccessPreviewStatusReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of information about an access preview.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#AccessPreviewsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.accessanalyzer#AccessPreviewSummary"
      }
    },
    "com.amazonaws.accessanalyzer#AclCanonicalId": {
      "type": "string"
    },
    "com.amazonaws.accessanalyzer#AclGrantee": {
      "type": "union",
      "members": {
        "id": {
          "target": "com.amazonaws.accessanalyzer#AclCanonicalId",
          "traits": {
            "smithy.api#documentation": "<p>The value specified is the canonical user ID of an Amazon Web Services account.</p>"
          }
        },
        "uri": {
          "target": "com.amazonaws.accessanalyzer#AclUri",
          "traits": {
            "smithy.api#documentation": "<p>Used for granting permissions to a predefined group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You specify each grantee as a type-value pair using one of these types. You can specify\n         only one type of grantee. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketAcl.html\">PutBucketAcl</a>.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#AclPermission": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "READ",
            "name": "READ"
          },
          {
            "value": "WRITE",
            "name": "WRITE"
          },
          {
            "value": "READ_ACP",
            "name": "READ_ACP"
          },
          {
            "value": "WRITE_ACP",
            "name": "WRITE_ACP"
          },
          {
            "value": "FULL_CONTROL",
            "name": "FULL_CONTROL"
          }
        ]
      }
    },
    "com.amazonaws.accessanalyzer#AclUri": {
      "type": "string"
    },
    "com.amazonaws.accessanalyzer#ActionList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.accessanalyzer#AnalyzedResource": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.accessanalyzer#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource that was analyzed.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.accessanalyzer#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource that was analyzed.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the finding was created.</p>",
            "smithy.api#required": {}
          }
        },
        "analyzedAt": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the resource was analyzed.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the finding was updated.</p>",
            "smithy.api#required": {}
          }
        },
        "isPublic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the policy that generated the finding grants public access to the\n         resource.</p>",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.amazonaws.accessanalyzer#ActionList",
          "traits": {
            "smithy.api#documentation": "<p>The actions that an external principal is granted permission to use by the policy that\n         generated the finding.</p>"
          }
        },
        "sharedVia": {
          "target": "com.amazonaws.accessanalyzer#SharedViaList",
          "traits": {
            "smithy.api#documentation": "<p>Indicates how the access that generated the finding is granted. This is populated for\n         Amazon S3 bucket findings.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.accessanalyzer#FindingStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the finding generated from the analyzed resource.</p>"
          }
        },
        "resourceOwnerAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID that owns the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the analyzed resource.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#AnalyzedResourceSummary": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.accessanalyzer#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the analyzed resource.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceOwnerAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID that owns the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.accessanalyzer#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource that was analyzed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the ARN of the analyzed resource.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#AnalyzedResourcesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.accessanalyzer#AnalyzedResourceSummary"
      }
    },
    "com.amazonaws.accessanalyzer#Analyzer": {
      "type": "resource",
      "identifiers": {
        "analyzerName": {
          "target": "com.amazonaws.accessanalyzer#Name"
        }
      },
      "put": {
        "target": "com.amazonaws.accessanalyzer#CreateAnalyzer"
      },
      "read": {
        "target": "com.amazonaws.accessanalyzer#GetAnalyzer"
      },
      "delete": {
        "target": "com.amazonaws.accessanalyzer#DeleteAnalyzer"
      },
      "list": {
        "target": "com.amazonaws.accessanalyzer#ListAnalyzers"
      },
      "resources": [
        {
          "target": "com.amazonaws.accessanalyzer#ArchiveRule"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "analyzer/{analyzerName}",
          "absolute": false,
          "noAccount": false,
          "noRegion": false
        },
        "smithy.api#noReplace": {}
      }
    },
    "com.amazonaws.accessanalyzer#AnalyzerArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[^:]*:[^:]*:[^:]*:[^:]*:[^:]*:analyzer/.{1,255}$"
      }
    },
    "com.amazonaws.accessanalyzer#AnalyzerStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.accessanalyzer#AnalyzerSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.accessanalyzer#AnalyzerArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the analyzer.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.accessanalyzer#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the analyzer.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.accessanalyzer#Type",
          "traits": {
            "smithy.api#documentation": "<p>The type of analyzer, which corresponds to the zone of trust chosen for the\n         analyzer.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp for the time at which the analyzer was created.</p>",
            "smithy.api#required": {}
          }
        },
        "lastResourceAnalyzed": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource that was most recently analyzed by the analyzer.</p>"
          }
        },
        "lastResourceAnalyzedAt": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the most recently analyzed resource was analyzed.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.accessanalyzer#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags added to the analyzer.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.accessanalyzer#AnalyzerStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the analyzer. An <code>Active</code> analyzer successfully monitors\n         supported resources and generates new findings. The analyzer is <code>Disabled</code> when\n         a user action, such as removing trusted access for Identity and Access Management Access Analyzer from Organizations, causes\n         the analyzer to stop generating new findings. The status is <code>Creating</code> when the\n         analyzer creation is in progress and <code>Failed</code> when the analyzer creation has\n         failed. </p>",
            "smithy.api#required": {}
          }
        },
        "statusReason": {
          "target": "com.amazonaws.accessanalyzer#StatusReason",
          "traits": {
            "smithy.api#documentation": "<p>The <code>statusReason</code> provides more details about the current status of the\n         analyzer. For example, if the creation for the analyzer fails, a <code>Failed</code> status\n         is returned. For an analyzer with organization as the type, this failure can be due to an\n         issue with creating the service-linked roles required in the member accounts of the Amazon Web Services\n         organization.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the analyzer.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#AnalyzersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.accessanalyzer#AnalyzerSummary"
      }
    },
    "com.amazonaws.accessanalyzer#ApplyArchiveRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.accessanalyzer#ApplyArchiveRuleRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.accessanalyzer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#InternalServerException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retroactively applies the archive rule to existing findings that meet the archive rule\n         criteria.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/archive-rule",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.accessanalyzer#ApplyArchiveRuleRequest": {
      "type": "structure",
      "members": {
        "analyzerArn": {
          "target": "com.amazonaws.accessanalyzer#AnalyzerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource name (ARN) of the analyzer.</p>",
            "smithy.api#required": {}
          }
        },
        "ruleName": {
          "target": "com.amazonaws.accessanalyzer#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule to apply.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A client token.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Retroactively applies an archive rule.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#ArchiveRule": {
      "type": "resource",
      "identifiers": {
        "analyzerName": {
          "target": "com.amazonaws.accessanalyzer#Name"
        },
        "ruleName": {
          "target": "com.amazonaws.accessanalyzer#Name"
        }
      },
      "put": {
        "target": "com.amazonaws.accessanalyzer#CreateArchiveRule"
      },
      "read": {
        "target": "com.amazonaws.accessanalyzer#GetArchiveRule"
      },
      "update": {
        "target": "com.amazonaws.accessanalyzer#UpdateArchiveRule"
      },
      "delete": {
        "target": "com.amazonaws.accessanalyzer#DeleteArchiveRule"
      },
      "list": {
        "target": "com.amazonaws.accessanalyzer#ListArchiveRules"
      },
      "traits": {
        "aws.api#arn": {
          "template": "analyzer/{analyzerName}/archive-rule/{ruleName}",
          "absolute": false,
          "noAccount": false,
          "noRegion": false
        },
        "smithy.api#noReplace": {}
      }
    },
    "com.amazonaws.accessanalyzer#ArchiveRuleSummary": {
      "type": "structure",
      "members": {
        "ruleName": {
          "target": "com.amazonaws.accessanalyzer#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the archive rule.</p>",
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "com.amazonaws.accessanalyzer#FilterCriteriaMap",
          "traits": {
            "smithy.api#documentation": "<p>A filter used to define the archive rule.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the archive rule was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the archive rule was last updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an archive rule.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#ArchiveRulesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.accessanalyzer#ArchiveRuleSummary"
      }
    },
    "com.amazonaws.accessanalyzer#CancelPolicyGeneration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.accessanalyzer#CancelPolicyGenerationRequest"
      },
      "output": {
        "target": "com.amazonaws.accessanalyzer#CancelPolicyGenerationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.accessanalyzer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#InternalServerException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the requested policy generation.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/policy/generation/{jobId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.accessanalyzer#CancelPolicyGenerationRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.accessanalyzer#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>JobId</code> that is returned by the <code>StartPolicyGeneration</code>\n         operation. The <code>JobId</code> can be used with <code>GetGeneratedPolicy</code> to\n         retrieve the generated policies or used with <code>CancelPolicyGeneration</code> to cancel\n         the policy generation request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.accessanalyzer#CancelPolicyGenerationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.accessanalyzer#CloudTrailArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:[^:]*:cloudtrail:[^:]*:[^:]*:trail/.{1,576}$"
      }
    },
    "com.amazonaws.accessanalyzer#CloudTrailDetails": {
      "type": "structure",
      "members": {
        "trails": {
          "target": "com.amazonaws.accessanalyzer#TrailList",
          "traits": {
            "smithy.api#documentation": "<p>A <code>Trail</code> object that contains settings for a trail.</p>",
            "smithy.api#required": {}
          }
        },
        "accessRole": {
          "target": "com.amazonaws.accessanalyzer#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the service role that IAM Access Analyzer uses to access your CloudTrail trail and\n         service last accessed information.</p>",
            "smithy.api#required": {}
          }
        },
        "startTime": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start of the time range for which IAM Access Analyzer reviews your CloudTrail events. Events\n         with a timestamp before this time are not considered to generate a policy.</p>",
            "smithy.api#required": {}
          }
        },
        "endTime": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end of the time range for which IAM Access Analyzer reviews your CloudTrail events. Events with\n         a timestamp after this time are not considered to generate a policy. If this is not\n         included in the request, the default value is the current time.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about CloudTrail access.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#CloudTrailProperties": {
      "type": "structure",
      "members": {
        "trailProperties": {
          "target": "com.amazonaws.accessanalyzer#TrailPropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>A <code>TrailProperties</code> object that contains settings for trail\n         properties.</p>",
            "smithy.api#required": {}
          }
        },
        "startTime": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start of the time range for which IAM Access Analyzer reviews your CloudTrail events. Events\n         with a timestamp before this time are not considered to generate a policy.</p>",
            "smithy.api#required": {}
          }
        },
        "endTime": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end of the time range for which IAM Access Analyzer reviews your CloudTrail events. Events with\n         a timestamp after this time are not considered to generate a policy. If this is not\n         included in the request, the default value is the current time.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about CloudTrail access.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#ConditionKeyMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.accessanalyzer#Configuration": {
      "type": "union",
      "members": {
        "iamRole": {
          "target": "com.amazonaws.accessanalyzer#IamRoleConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The access control configuration is for an IAM role. </p>"
          }
        },
        "kmsKey": {
          "target": "com.amazonaws.accessanalyzer#KmsKeyConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The access control configuration is for a KMS key. </p>"
          }
        },
        "secretsManagerSecret": {
          "target": "com.amazonaws.accessanalyzer#SecretsManagerSecretConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The access control configuration is for a Secrets Manager secret.</p>"
          }
        },
        "s3Bucket": {
          "target": "com.amazonaws.accessanalyzer#S3BucketConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The access control configuration is for an Amazon S3 Bucket. </p>"
          }
        },
        "sqsQueue": {
          "target": "com.amazonaws.accessanalyzer#SqsQueueConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The access control configuration is for an Amazon SQS queue. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access control configuration structures for your resource. You specify the configuration\n         as a type-value pair. You can specify only one type of access control configuration.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#ConfigurationsMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.accessanalyzer#ConfigurationsMapKey"
      },
      "value": {
        "target": "com.amazonaws.accessanalyzer#Configuration"
      }
    },
    "com.amazonaws.accessanalyzer#ConfigurationsMapKey": {
      "type": "string"
    },
    "com.amazonaws.accessanalyzer#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A conflict exception error.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.accessanalyzer#CreateAccessPreview": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.accessanalyzer#CreateAccessPreviewRequest"
      },
      "output": {
        "target": "com.amazonaws.accessanalyzer#CreateAccessPreviewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.accessanalyzer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ConflictException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#InternalServerException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an access preview that allows you to preview IAM Access Analyzer findings for your\n         resource before deploying resource permissions.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/access-preview",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.accessanalyzer#CreateAccessPreviewRequest": {
      "type": "structure",
      "members": {
        "analyzerArn": {
          "target": "com.amazonaws.accessanalyzer#AnalyzerArn",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of\n            the account analyzer</a> used to generate the access preview. You can only create an\n         access preview for analyzers with an <code>Account</code> type and <code>Active</code>\n         status.</p>",
            "smithy.api#required": {}
          }
        },
        "configurations": {
          "target": "com.amazonaws.accessanalyzer#ConfigurationsMap",
          "traits": {
            "smithy.api#documentation": "<p>Access control configuration for your resource that is used to generate the access\n         preview. The access preview includes findings for external access allowed to the resource\n         with the proposed access control configuration. The configuration must contain exactly one\n         element.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A client token.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.accessanalyzer#CreateAccessPreviewResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.accessanalyzer#AccessPreviewId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the access preview.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.accessanalyzer#CreateAnalyzer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.accessanalyzer#CreateAnalyzerRequest"
      },
      "output": {
        "target": "com.amazonaws.accessanalyzer#CreateAnalyzerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.accessanalyzer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ConflictException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#InternalServerException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an analyzer for your account.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/analyzer",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.accessanalyzer#CreateAnalyzerRequest": {
      "type": "structure",
      "members": {
        "analyzerName": {
          "target": "com.amazonaws.accessanalyzer#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the analyzer to create.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.accessanalyzer#Type",
          "traits": {
            "smithy.api#documentation": "<p>The type of analyzer to create. Only ACCOUNT and ORGANIZATION analyzers are supported.\n         You can create only one analyzer per account per Region. You can create up to 5 analyzers\n         per organization per Region.</p>",
            "smithy.api#required": {}
          }
        },
        "archiveRules": {
          "target": "com.amazonaws.accessanalyzer#InlineArchiveRulesList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the archive rules to add for the analyzer. Archive rules automatically archive\n         findings that meet the criteria you define for the rule.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.accessanalyzer#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the analyzer.</p>"
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A client token.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates an analyzer.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#CreateAnalyzerResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.accessanalyzer#AnalyzerArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the analyzer that was created by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response to the request to create an analyzer.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#CreateArchiveRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.accessanalyzer#CreateArchiveRuleRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.accessanalyzer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ConflictException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#InternalServerException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an archive rule for the specified analyzer. Archive rules automatically archive\n         new findings that meet the criteria you define when you create the rule.</p>\n         <p>To learn about filter keys that you can use to create an archive rule, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-reference-filter-keys.html\">IAM Access Analyzer filter keys</a> in the <b>IAM User Guide</b>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/analyzer/{analyzerName}/archive-rule",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.accessanalyzer#CreateArchiveRuleRequest": {
      "type": "structure",
      "members": {
        "analyzerName": {
          "target": "com.amazonaws.accessanalyzer#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the created analyzer.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleName": {
          "target": "com.amazonaws.accessanalyzer#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule to create.</p>",
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "com.amazonaws.accessanalyzer#FilterCriteriaMap",
          "traits": {
            "smithy.api#documentation": "<p>The criteria for the rule.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A client token.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates an archive rule.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#Criterion": {
      "type": "structure",
      "members": {
        "eq": {
          "target": "com.amazonaws.accessanalyzer#ValueList",
          "traits": {
            "smithy.api#documentation": "<p>An \"equals\" operator to match for the filter used to create the rule.</p>"
          }
        },
        "neq": {
          "target": "com.amazonaws.accessanalyzer#ValueList",
          "traits": {
            "smithy.api#documentation": "<p>A \"not equals\" operator to match for the filter used to create the rule.</p>"
          }
        },
        "contains": {
          "target": "com.amazonaws.accessanalyzer#ValueList",
          "traits": {
            "smithy.api#documentation": "<p>A \"contains\" operator to match for the filter used to create the rule.</p>"
          }
        },
        "exists": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>An \"exists\" operator to match for the filter used to create the rule. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The criteria to use in the filter that defines the archive rule.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#DeleteAnalyzer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.accessanalyzer#DeleteAnalyzerRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.accessanalyzer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#InternalServerException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified analyzer. When you delete an analyzer, IAM Access Analyzer is disabled\n         for the account or organization in the current or specific Region. All findings that were\n         generated by the analyzer are deleted. You cannot undo this action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/analyzer/{analyzerName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.accessanalyzer#DeleteAnalyzerRequest": {
      "type": "structure",
      "members": {
        "analyzerName": {
          "target": "com.amazonaws.accessanalyzer#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the analyzer to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A client token.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes an analyzer.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#DeleteArchiveRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.accessanalyzer#DeleteArchiveRuleRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.accessanalyzer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#InternalServerException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified archive rule.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.accessanalyzer#DeleteArchiveRuleRequest": {
      "type": "structure",
      "members": {
        "analyzerName": {
          "target": "com.amazonaws.accessanalyzer#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the analyzer that associated with the archive rule to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleName": {
          "target": "com.amazonaws.accessanalyzer#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A client token.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes an archive rule.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#FilterCriteriaMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.accessanalyzer#Criterion"
      }
    },
    "com.amazonaws.accessanalyzer#Finding": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.accessanalyzer#FindingId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the finding.</p>",
            "smithy.api#required": {}
          }
        },
        "principal": {
          "target": "com.amazonaws.accessanalyzer#PrincipalMap",
          "traits": {
            "smithy.api#documentation": "<p>The external principal that access to a resource within the zone of trust.</p>"
          }
        },
        "action": {
          "target": "com.amazonaws.accessanalyzer#ActionList",
          "traits": {
            "smithy.api#documentation": "<p>The action in the analyzed policy statement that an external principal has permission to\n         use.</p>"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource that an external principal has access to.</p>"
          }
        },
        "isPublic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the policy that generated the finding allows public access to the\n         resource.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.accessanalyzer#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource identified in the finding.</p>",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "com.amazonaws.accessanalyzer#ConditionKeyMap",
          "traits": {
            "smithy.api#documentation": "<p>The condition in the analyzed policy statement that resulted in a finding.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the finding was generated.</p>",
            "smithy.api#required": {}
          }
        },
        "analyzedAt": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the resource was analyzed.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the finding was updated.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.accessanalyzer#FindingStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the finding.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceOwnerAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID that owns the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An error.</p>"
          }
        },
        "sources": {
          "target": "com.amazonaws.accessanalyzer#FindingSourceList",
          "traits": {
            "smithy.api#documentation": "<p>The sources of the finding. This indicates how the access that generated the finding is\n         granted. It is populated for Amazon S3 bucket findings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a finding.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#FindingChangeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CHANGED",
            "name": "CHANGED"
          },
          {
            "value": "NEW",
            "name": "NEW"
          },
          {
            "value": "UNCHANGED",
            "name": "UNCHANGED"
          }
        ]
      }
    },
    "com.amazonaws.accessanalyzer#FindingId": {
      "type": "string"
    },
    "com.amazonaws.accessanalyzer#FindingIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.accessanalyzer#FindingId"
      }
    },
    "com.amazonaws.accessanalyzer#FindingSource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.accessanalyzer#FindingSourceType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the type of access that generated the finding.</p>",
            "smithy.api#required": {}
          }
        },
        "detail": {
          "target": "com.amazonaws.accessanalyzer#FindingSourceDetail",
          "traits": {
            "smithy.api#documentation": "<p>Includes details about how the access that generated the finding is granted. This is\n         populated for Amazon S3 bucket findings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The source of the finding. This indicates how the access that generated the finding is\n         granted. It is populated for Amazon S3 bucket findings.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#FindingSourceDetail": {
      "type": "structure",
      "members": {
        "accessPointArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the access point that generated the finding. The ARN format depends on\n         whether the ARN represents an access point or a multi-region access point.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Includes details about how the access that generated the finding is granted. This is\n         populated for Amazon S3 bucket findings.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#FindingSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.accessanalyzer#FindingSource"
      }
    },
    "com.amazonaws.accessanalyzer#FindingSourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "POLICY",
            "name": "POLICY"
          },
          {
            "value": "BUCKET_ACL",
            "name": "BUCKET_ACL"
          },
          {
            "value": "S3_ACCESS_POINT",
            "name": "S3_ACCESS_POINT"
          }
        ]
      }
    },
    "com.amazonaws.accessanalyzer#FindingStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "ARCHIVED",
            "name": "ARCHIVED"
          },
          {
            "value": "RESOLVED",
            "name": "RESOLVED"
          }
        ]
      }
    },
    "com.amazonaws.accessanalyzer#FindingStatusUpdate": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "ARCHIVED",
            "name": "ARCHIVED"
          }
        ]
      }
    },
    "com.amazonaws.accessanalyzer#FindingSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.accessanalyzer#FindingId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the finding.</p>",
            "smithy.api#required": {}
          }
        },
        "principal": {
          "target": "com.amazonaws.accessanalyzer#PrincipalMap",
          "traits": {
            "smithy.api#documentation": "<p>The external principal that has access to a resource within the zone of trust.</p>"
          }
        },
        "action": {
          "target": "com.amazonaws.accessanalyzer#ActionList",
          "traits": {
            "smithy.api#documentation": "<p>The action in the analyzed policy statement that an external principal has permission to\n         use.</p>"
          }
        },
        "resource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource that the external principal has access to.</p>"
          }
        },
        "isPublic": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the finding reports a resource that has a policy that allows public\n         access.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.accessanalyzer#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource that the external principal has access to.</p>",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "com.amazonaws.accessanalyzer#ConditionKeyMap",
          "traits": {
            "smithy.api#documentation": "<p>The condition in the analyzed policy statement that resulted in a finding.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the finding was created.</p>",
            "smithy.api#required": {}
          }
        },
        "analyzedAt": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the resource-based policy that generated the finding was\n         analyzed.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the finding was most recently updated.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.accessanalyzer#FindingStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the finding.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceOwnerAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID that owns the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The error that resulted in an Error finding.</p>"
          }
        },
        "sources": {
          "target": "com.amazonaws.accessanalyzer#FindingSourceList",
          "traits": {
            "smithy.api#documentation": "<p>The sources of the finding. This indicates how the access that generated the finding is\n         granted. It is populated for Amazon S3 bucket findings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a finding.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#FindingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.accessanalyzer#FindingSummary"
      }
    },
    "com.amazonaws.accessanalyzer#GeneratedPolicy": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The text to use as the content for the new policy. The policy is created using the\n            <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreatePolicy.html\">CreatePolicy</a> action.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the text for the generated policy.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#GeneratedPolicyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.accessanalyzer#GeneratedPolicy"
      }
    },
    "com.amazonaws.accessanalyzer#GeneratedPolicyProperties": {
      "type": "structure",
      "members": {
        "isComplete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>This value is set to <code>true</code> if the generated policy contains all possible\n         actions for a service that IAM Access Analyzer identified from the CloudTrail trail that you specified,\n         and <code>false</code> otherwise.</p>"
          }
        },
        "principalArn": {
          "target": "com.amazonaws.accessanalyzer#PrincipalArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM entity (user or role) for which you are generating a policy.</p>",
            "smithy.api#required": {}
          }
        },
        "cloudTrailProperties": {
          "target": "com.amazonaws.accessanalyzer#CloudTrailProperties",
          "traits": {
            "smithy.api#documentation": "<p>Lists details about the <code>Trail</code> used to generated policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the generated policy details.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#GeneratedPolicyResult": {
      "type": "structure",
      "members": {
        "properties": {
          "target": "com.amazonaws.accessanalyzer#GeneratedPolicyProperties",
          "traits": {
            "smithy.api#documentation": "<p>A <code>GeneratedPolicyProperties</code> object that contains properties of the\n         generated policy.</p>",
            "smithy.api#required": {}
          }
        },
        "generatedPolicies": {
          "target": "com.amazonaws.accessanalyzer#GeneratedPolicyList",
          "traits": {
            "smithy.api#documentation": "<p>The text to use as the content for the new policy. The policy is created using the\n            <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreatePolicy.html\">CreatePolicy</a> action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the text for the generated policy and its details.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#GetAccessPreview": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.accessanalyzer#GetAccessPreviewRequest"
      },
      "output": {
        "target": "com.amazonaws.accessanalyzer#GetAccessPreviewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.accessanalyzer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#InternalServerException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about an access preview for the specified analyzer.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/access-preview/{accessPreviewId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.accessanalyzer#GetAccessPreviewRequest": {
      "type": "structure",
      "members": {
        "accessPreviewId": {
          "target": "com.amazonaws.accessanalyzer#AccessPreviewId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the access preview.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "analyzerArn": {
          "target": "com.amazonaws.accessanalyzer#AnalyzerArn",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of\n            the analyzer</a> used to generate the access preview.</p>",
            "smithy.api#httpQuery": "analyzerArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.accessanalyzer#GetAccessPreviewResponse": {
      "type": "structure",
      "members": {
        "accessPreview": {
          "target": "com.amazonaws.accessanalyzer#AccessPreview",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information about the access preview.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.accessanalyzer#GetAnalyzedResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.accessanalyzer#GetAnalyzedResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.accessanalyzer#GetAnalyzedResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.accessanalyzer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#InternalServerException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about a resource that was analyzed.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/analyzed-resource",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.accessanalyzer#GetAnalyzedResourceRequest": {
      "type": "structure",
      "members": {
        "analyzerArn": {
          "target": "com.amazonaws.accessanalyzer#AnalyzerArn",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of\n            the analyzer</a> to retrieve information from.</p>",
            "smithy.api#httpQuery": "analyzerArn",
            "smithy.api#required": {}
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.accessanalyzer#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource to retrieve information about.</p>",
            "smithy.api#httpQuery": "resourceArn",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves an analyzed resource.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#GetAnalyzedResourceResponse": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.amazonaws.accessanalyzer#AnalyzedResource",
          "traits": {
            "smithy.api#documentation": "<p>An <code>AnalyzedResource</code> object that contains information that IAM Access Analyzer\n         found when it analyzed the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response to the request.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#GetAnalyzer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.accessanalyzer#GetAnalyzerRequest"
      },
      "output": {
        "target": "com.amazonaws.accessanalyzer#GetAnalyzerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.accessanalyzer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#InternalServerException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about the specified analyzer.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/analyzer/{analyzerName}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.accessanalyzer#GetAnalyzerRequest": {
      "type": "structure",
      "members": {
        "analyzerName": {
          "target": "com.amazonaws.accessanalyzer#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the analyzer retrieved.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves an analyzer.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#GetAnalyzerResponse": {
      "type": "structure",
      "members": {
        "analyzer": {
          "target": "com.amazonaws.accessanalyzer#AnalyzerSummary",
          "traits": {
            "smithy.api#documentation": "<p>An <code>AnalyzerSummary</code> object that contains information about the\n         analyzer.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response to the request.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#GetArchiveRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.accessanalyzer#GetArchiveRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.accessanalyzer#GetArchiveRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.accessanalyzer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#InternalServerException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about an archive rule.</p>\n         <p>To learn about filter keys that you can use to create an archive rule, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-reference-filter-keys.html\">IAM Access Analyzer filter keys</a> in the <b>IAM User Guide</b>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.accessanalyzer#GetArchiveRuleRequest": {
      "type": "structure",
      "members": {
        "analyzerName": {
          "target": "com.amazonaws.accessanalyzer#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the analyzer to retrieve rules from.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleName": {
          "target": "com.amazonaws.accessanalyzer#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves an archive rule.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#GetArchiveRuleResponse": {
      "type": "structure",
      "members": {
        "archiveRule": {
          "target": "com.amazonaws.accessanalyzer#ArchiveRuleSummary",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response to the request.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#GetFinding": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.accessanalyzer#GetFindingRequest"
      },
      "output": {
        "target": "com.amazonaws.accessanalyzer#GetFindingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.accessanalyzer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#InternalServerException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about the specified finding.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/finding/{id}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.accessanalyzer#GetFindingRequest": {
      "type": "structure",
      "members": {
        "analyzerArn": {
          "target": "com.amazonaws.accessanalyzer#AnalyzerArn",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of\n            the analyzer</a> that generated the finding.</p>",
            "smithy.api#httpQuery": "analyzerArn",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.accessanalyzer#FindingId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the finding to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a finding.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#GetFindingResponse": {
      "type": "structure",
      "members": {
        "finding": {
          "target": "com.amazonaws.accessanalyzer#Finding",
          "traits": {
            "smithy.api#documentation": "<p>A <code>finding</code> object that contains finding details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response to the request.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#GetGeneratedPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.accessanalyzer#GetGeneratedPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.accessanalyzer#GetGeneratedPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.accessanalyzer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#InternalServerException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.accessanalyzer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the policy that was generated using <code>StartPolicyGeneration</code>.\n      </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/policy/generation/{jobId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.accessanalyzer#GetGeneratedPolicyRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.accessanalyzer#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>JobId</code> that is returned by the <code>StartPolicyGeneration</code>\n         operation. The <code>JobId</code> can be used with <code>GetGeneratedPolicy</code> to\n         retrieve the generated policies or used with <code>CancelPolicyGeneration</code> to cancel\n         the policy generation request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "includeResourcePlaceholders": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The level of detail that you want to generate. You can specify whether to generate\n         policies with placeholders for resource ARNs for actions that support resource level\n         granularity in policies.</p>\n         <p>For example, in the resource section of a policy, you can receive a placeholder such as\n            <code>\"Resource\":\"arn:aws:s3:::${BucketName}\"</code> instead of <code>\"*\"</code>.</p>",
            "smithy.api#httpQuery": "includeResourcePlaceholders"
          }
        },
        "includeServiceLevelTemplate": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The level of detail that you want to generate. You can specify whether to generate\n         service-level policies. </p>\n         <p>IAM Access Analyzer uses <code>iam:servicelastaccessed</code> to identify services that have\n         been used recently to create this service-level template.</p>",
            "smithy.api#httpQuery": "includeServiceLevelTemplate"
          }
        }
      }
    },
    "com.amazonaws.accessanalyzer#GetGeneratedPolicyResponse": {
      "type": "structure",
      "members": {
        "jobDetails": {
          "target": "com.amazonaws.accessanalyzer#JobDetails",
          "traits": {
            "smithy.api#documentation": "<p>A <code>GeneratedPolicyDetails</code> object that contains details about the generated\n         policy.</p>",
            "smithy.api#required": {}
          }
        },
        "generatedPolicyResult": {
          "target": "com.amazonaws.accessanalyzer#GeneratedPolicyResult",
          "traits": {
            "smithy.api#documentation": "<p>A <code>GeneratedPolicyResult</code> object that contains the generated policies and\n         associated details.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.accessanalyzer#GranteePrincipal": {
      "type": "string"
    },
    "com.amazonaws.accessanalyzer#IamRoleConfiguration": {
      "type": "structure",
      "members": {
        "trustPolicy": {
          "target": "com.amazonaws.accessanalyzer#IamTrustPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The proposed trust policy for the IAM role.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The proposed access control configuration for an IAM role. You can propose a\n         configuration for a new IAM role or an existing IAM role that you own by specifying the\n         trust policy. If the configuration is for a new IAM role, you must specify the trust\n         policy. If the configuration is for an existing IAM role that you own and you do not\n         propose the trust policy, the access preview uses the existing trust policy for the role.\n         The proposed trust policy cannot be an empty string. For more information about role trust\n         policy limits, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_iam-quotas.html\">IAM and STS\n         quotas</a>.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#IamTrustPolicy": {
      "type": "string"
    },
    "com.amazonaws.accessanalyzer#InlineArchiveRule": {
      "type": "structure",
      "members": {
        "ruleName": {
          "target": "com.amazonaws.accessanalyzer#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule.</p>",
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "com.amazonaws.accessanalyzer#FilterCriteriaMap",
          "traits": {
            "smithy.api#documentation": "<p>The condition and values for a criterion.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An criterion statement in an archive rule. Each archive rule may have multiple\n         criteria.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#InlineArchiveRulesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.accessanalyzer#InlineArchiveRule"
      }
    },
    "com.amazonaws.accessanalyzer#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The seconds to wait to retry.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Internal server error.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.accessanalyzer#InternetConfiguration": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>This configuration sets the network origin for the Amazon S3 access point or multi-region\n         access point to <code>Internet</code>.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#IssueCode": {
      "type": "string"
    },
    "com.amazonaws.accessanalyzer#IssuingAccount": {
      "type": "string"
    },
    "com.amazonaws.accessanalyzer#JobDetails": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.accessanalyzer#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>JobId</code> that is returned by the <code>StartPolicyGeneration</code>\n         operation. The <code>JobId</code> can be used with <code>GetGeneratedPolicy</code> to\n         retrieve the generated policies or used with <code>CancelPolicyGeneration</code> to cancel\n         the policy generation request.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.accessanalyzer#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the job request.</p>",
            "smithy.api#required": {}
          }
        },
        "startedOn": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp of when the job was started.</p>",
            "smithy.api#required": {}
          }
        },
        "completedOn": {
          "target": "com.amazonaws.accessanalyzer#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp of when the job was completed.</p>"
          }
        },
        "jobError": {
          "target": "com.amazonaws.accessanalyzer#JobError",
          "traits": {
            "smithy.api#documentation": "<p>The job error for the policy generation request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the policy generation request.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#JobError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.accessanalyzer#JobErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The job error code.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specific information about the error. For example, which service quota was exceeded or\n         which resource was not found.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details about the policy generation error.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#JobErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AUTHORIZATION_ERROR",
            "name": "AUTHORIZATION_ERROR"
          },
          {
            "value": "RESOURCE_NOT_FOUND_ERROR",
            "name": "RESOURCE_NOT_FOUND_ERROR"
          },
          {
            "value": "SERVICE_QUOTA_EXCEEDED_ERROR",
            "name": "SERVICE_QUOTA_EXCEEDED_ERROR"
          },
          {
            "value": "SERVICE_ERROR",
            "name": "SERVICE_ERROR"
          }
        ]
      }
    },
    "com.amazonaws.accessanalyzer#JobId": {
      "type": "string"
    },
    "com.amazonaws.accessanalyzer#JobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "CANCELED",
            "name": "CANCELED"
          }
        ]
      }
    },
    "com.amazonaws.accessanalyzer#KmsConstraintsKey": {
      "type": "string"
    },
    "com.amazonaws.accessanalyzer#KmsConstraintsMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.accessanalyzer#KmsConstraintsKey"
      },
      "value": {
        "target": "com.amazonaws.accessanalyzer#KmsConstraintsValue"
      }
    },
    "com.amazonaws.accessanalyzer#KmsConstraintsValue": {
      "type": "string"
    },
    "com.amazonaws.accessanalyzer#KmsGrantConfiguration": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.amazonaws.accessanalyzer#KmsGrantOperationsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of operations that the grant permits.</p>",
            "smithy.api#required": {}
          }
        },
        "granteePrincipal": {
          "target": "com.amazonaws.accessanalyzer#GranteePrincipal",
          "traits": {
            "smithy.api#documentation": "<p>The principal that is given permission to perform the operations that the grant\n         permits.</p>",
            "smithy.api#required": {}
          }
        },
        "retiringPrincipal": {
          "target": "com.amazonaws.accessanalyzer#RetiringPrincipal",
          "traits": {
            "smithy.api#documentation": "<p>The principal that is given permission to retire the grant by using <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_RetireGrant.html\">RetireGrant</a> operation.</p>"
          }
        },
        "constraints": {
          "target": "com.amazonaws.accessanalyzer#KmsGrantConstraints",
          "traits": {
            "smithy.api#documentation": "<p>Use this structure to propose allowing <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations\">cryptographic\n            operations</a> in the grant only when the operation request includes the specified\n            <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#encrypt_context\">encryption\n         context</a>.</p>"
          }
        },
        "issuingAccount": {
          "target": "com.amazonaws.accessanalyzer#IssuingAccount",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services account under which the grant was issued. The account is used to propose\n         KMS grants issued by accounts other than the owner of the key.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A proposed grant configuration for a KMS key. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_CreateGrant.html\">CreateGrant</a>.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#KmsGrantConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.accessanalyzer#KmsGrantConfiguration"
      }
    },
    "com.amazonaws.accessanalyzer#KmsGrantConstraints": {
      "type": "structure",
      "members": {
        "encryptionContextEquals": {
          "target": "com.amazonaws.accessanalyzer#KmsConstraintsMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that must match the encryption context in the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations\">cryptographic\n            operation</a> request. The grant allows the operation only when the encryption\n         context in the request is the same as the encryption context specified in this\n         constraint.</p>"
          }
        },
        "encryptionContextSubset": {
          "target": "com.amazonaws.accessanalyzer#KmsConstraintsMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that must be included in the encryption context of the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations\">cryptographic\n            operation</a> request. The grant allows the cryptographic operation only when the\n         encryption context in the request includes the key-value pairs specified in this\n         constraint, although it can include additional key-value pairs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Use this structure to propose allowing <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations\">cryptographic\n            operations</a> in the grant only when the operation request includes the specified\n            <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#encrypt_context\">encryption\n         context</a>. You can specify only one type of encryption context. An empty map is\n         treated as not specified. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_GrantConstraints.html\">GrantConstraints</a>.</p>"
      }
    },
    "com.amazonaws.accessanalyzer#KmsGrantOperation": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CreateGrant",
            "name": "CREATE_GRANT"
          },
          {
            "value": "Decrypt",
            "name": "DECRYPT"
          },
          {
            "value": "DescribeKey",
            "name": "DESCRIBE_KEY"
          },
          {
            "value": "Encrypt",
            "name": "ENCRYPT"
          },
          {
            "value": "GenerateDataKey",
            "name": "GENERATE_DATA_KEY"
          },
          {
            "value": "GenerateDataKeyPair",
            "name": "GENERATE_DATA_KEY_PAIR"
          },
          {
            "value": "GenerateDataKeyPairWithoutPlaintext",
            "name": "GENERATE_DATA_KEY_PAIR_WITHOUT_PLAINTEXT"
          },
          {
            "value": "GenerateDataKeyWithoutPlaintext",
            "name": "GENERATE_DATA_KEY_WITHOUT_PLAINTEXT"
          },
          {
            "value": "GetPublicKey",
            "name": "GET_PUBLIC_KEY"
          },
          {
            "value": "ReEncryptFrom",
[...]
