{
  "smithy": "0.4.0",
  "com.amazon.accessanalyzer": {
    "shapes": {
      "AccessAnalyzer": {
        "type": "service",
        "version": "2019-11-01",
        "operations": [
          "GetAnalyzedResource",
          "GetFinding",
          "ListAnalyzedResources",
          "ListFindings",
          "ListTagsForResource",
          "StartResourceScan",
          "TagResource",
          "UntagResource",
          "UpdateFindings"
        ],
        "resources": [
          "Analyzer"
        ],
        "aws.api#service": {
          "sdkId": "AccessAnalyzer",
          "arnNamespace": "access-analyzer",
          "cloudFormationName": "AccessAnalyzer",
          "cloudTrailEventSource": "access-analyzer"
        },
        "smithy.api#auth": [
          "aws.v4"
        ],
        "smithy.api#cors": { },
        "smithy.api#documentation": "<p>AWS IAM Access Analyzer helps identify potential resource-access risks by enabling you to identify\n         any policies that grant access to an external principal. It does this by using logic-based\n         reasoning to analyze resource-based policies in your AWS environment. An external principal\n         can be another AWS account, a root user, an IAM user or role, a federated user, an AWS\n         service, or an anonymous user. This guide describes the AWS IAM Access Analyzer operations that you can\n         call programmatically. For general information about Access Analyzer, \n         see the <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/what-is-access-analyzer.html\">AWS IAM Access Analyzer section of the IAM User Guide</a>.</p>\n         <p>To start using Access Analyzer, you first need to create an analyzer.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        },
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Access Analyzer"
      },
      "AccessDeniedException": {
        "type": "structure",
        "members": {
          "message": {
            "target": "smithy.api#String",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      },
      "ActionList": {
        "type": "list",
        "member": {
          "target": "smithy.api#String"
        }
      },
      "AnalyzedResource": {
        "type": "structure",
        "members": {
          "actions": {
            "target": "ActionList",
            "smithy.api#documentation": "<p>The actions that an external principal is granted permission to use by the policy that\n         generated the finding.</p>"
          },
          "analyzedAt": {
            "target": "Timestamp",
            "smithy.api#documentation": "<p>The time at which the resource was analyzed.</p>",
            "smithy.api#required": true
          },
          "createdAt": {
            "target": "Timestamp",
            "smithy.api#documentation": "<p>The time at which the finding was created.</p>",
            "smithy.api#required": true
          },
          "error": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>An error message.</p>"
          },
          "isPublic": {
            "target": "smithy.api#Boolean",
            "smithy.api#documentation": "<p>Indicates whether the policy that generated the finding grants public access to the\n         resource.</p>",
            "smithy.api#required": true
          },
          "resourceArn": {
            "target": "ResourceArn",
            "smithy.api#documentation": "<p>The ARN of the resource that was analyzed.</p>",
            "smithy.api#required": true
          },
          "resourceType": {
            "target": "ResourceType",
            "smithy.api#documentation": "<p>The type of the resource that was analyzed.</p>",
            "smithy.api#required": true
          },
          "sharedVia": {
            "target": "SharedViaList",
            "smithy.api#documentation": "<p>Indicates how the access that generated the finding is granted.</p>"
          },
          "status": {
            "target": "FindingStatus",
            "smithy.api#documentation": "<p>The current status of the finding generated from the analyzed resource.</p>"
          },
          "updatedAt": {
            "target": "Timestamp",
            "smithy.api#documentation": "<p>The time at which the finding was updated.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Contains details about the analyzed resource.</p>"
      },
      "AnalyzedResourceSummary": {
        "type": "structure",
        "members": {
          "resourceArn": {
            "target": "ResourceArn",
            "smithy.api#documentation": "<p>The ARN of the analyzed resource.</p>",
            "smithy.api#required": true
          },
          "resourceType": {
            "target": "ResourceType",
            "smithy.api#documentation": "<p>The type of resource that was analyzed.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Contains the ARN of the analyzed resource.</p>"
      },
      "AnalyzedResourcesList": {
        "type": "list",
        "member": {
          "target": "AnalyzedResourceSummary"
        }
      },
      "Analyzer": {
        "type": "resource",
        "identifiers": {
          "analyzerName": "Name"
        },
        "put": "CreateAnalyzer",
        "read": "GetAnalyzer",
        "delete": "DeleteAnalyzer",
        "list": "ListAnalyzers",
        "resources": [
          "ArchiveRule"
        ],
        "aws.api#arn": {
          "template": "analyzer/{analyzerName}",
          "absolute": false,
          "noAccount": false,
          "noRegion": false
        }
      },
      "AnalyzerArn": {
        "type": "string",
        "smithy.api#pattern": "^[^:]*:[^:]*:[^:]*:[^:]*:[^:]*:analyzer/.{1,255}$"
      },
      "AnalyzerSummary": {
        "type": "structure",
        "members": {
          "arn": {
            "target": "AnalyzerArn",
            "smithy.api#documentation": "<p>The ARN of the analyzer.</p>",
            "smithy.api#required": true
          },
          "createdAt": {
            "target": "Timestamp",
            "smithy.api#documentation": "<p>A timestamp for the time at which the analyzer was created.</p>",
            "smithy.api#required": true
          },
          "lastResourceAnalyzed": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The resource that was most recently analyzed by the analyzer.</p>"
          },
          "lastResourceAnalyzedAt": {
            "target": "Timestamp",
            "smithy.api#documentation": "<p>The time at which the most recently analyzed resource was analyzed.</p>"
          },
          "name": {
            "target": "Name",
            "smithy.api#documentation": "<p>The name of the analyzer.</p>",
            "smithy.api#required": true
          },
          "tags": {
            "target": "TagsMap",
            "smithy.api#documentation": "<p>The tags added to the analyzer.</p>"
          },
          "type": {
            "target": "Type",
            "smithy.api#documentation": "<p>The type of analyzer, which corresponds to the zone of trust chosen for the\n         analyzer.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Contains information about the analyzer.</p>"
      },
      "AnalyzersList": {
        "type": "list",
        "member": {
          "target": "AnalyzerSummary"
        }
      },
      "ArchiveRule": {
        "type": "resource",
        "identifiers": {
          "analyzerName": "Name",
          "ruleName": "Name"
        },
        "put": "CreateArchiveRule",
        "read": "GetArchiveRule",
        "update": "UpdateArchiveRule",
        "delete": "DeleteArchiveRule",
        "list": "ListArchiveRules",
        "aws.api#arn": {
          "template": "analyzer/{analyzerName}/archive-rule/{ruleName}",
          "absolute": false,
          "noAccount": false,
          "noRegion": false
        }
      },
      "ArchiveRuleSummary": {
        "type": "structure",
        "members": {
          "createdAt": {
            "target": "Timestamp",
            "smithy.api#documentation": "<p>The time at which the archive rule was created.</p>",
            "smithy.api#required": true
          },
          "filter": {
            "target": "FilterCriteriaMap",
            "smithy.api#documentation": "<p>A filter used to define the archive rule.</p>",
            "smithy.api#required": true
          },
          "ruleName": {
            "target": "Name",
            "smithy.api#documentation": "<p>The name of the archive rule.</p>",
            "smithy.api#required": true
          },
          "updatedAt": {
            "target": "Timestamp",
            "smithy.api#documentation": "<p>The time at which the archive rule was last updated.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Contains information about an archive rule.</p>"
      },
      "ArchiveRulesList": {
        "type": "list",
        "member": {
          "target": "ArchiveRuleSummary"
        }
      },
      "ConditionKeyMap": {
        "type": "map",
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "ConflictException": {
        "type": "structure",
        "members": {
          "message": {
            "target": "smithy.api#String",
            "smithy.api#required": true
          },
          "resourceId": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The ID of the resource.</p>",
            "smithy.api#required": true
          },
          "resourceType": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The resource type.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>A conflict exception error.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      },
      "CreateAnalyzer": {
        "type": "operation",
        "input": "CreateAnalyzerRequest",
        "output": "CreateAnalyzerResponse",
        "errors": [
          "AccessDeniedException",
          "ConflictException",
          "InternalServerException",
          "ServiceQuotaExceededException",
          "ThrottlingException",
          "ValidationException"
        ],
        "smithy.api#documentation": "<p>Creates an analyzer for your account.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/analyzer",
          "code": 200
        },
        "smithy.api#idempotent": true
      },
      "CreateAnalyzerRequest": {
        "type": "structure",
        "members": {
          "analyzerName": {
            "target": "Name",
            "smithy.api#documentation": "<p>The name of the analyzer to create.</p>",
            "smithy.api#required": true
          },
          "archiveRules": {
            "target": "InlineArchiveRulesList",
            "smithy.api#documentation": "<p>Specifies the archive rules to add for the analyzer. Archive rules automatically archive findings that meet the criteria you define for the rule.</p>"
          },
          "clientToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>A client token.</p>",
            "smithy.api#idempotencyToken": true
          },
          "tags": {
            "target": "TagsMap",
            "smithy.api#documentation": "<p>The tags to apply to the analyzer.</p>"
          },
          "type": {
            "target": "Type",
            "smithy.api#documentation": "<p>The type of analyzer to create. Only ACCOUNT analyzers are supported. You can create only one analyzer per account per\n         Region.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Creates an analyzer.</p>"
      },
      "CreateAnalyzerResponse": {
        "type": "structure",
        "members": {
          "arn": {
            "target": "AnalyzerArn",
            "smithy.api#documentation": "<p>The ARN of the analyzer that was created by the request.</p>"
          }
        },
        "smithy.api#documentation": "<p>The response to the request to create an analyzer.</p>"
      },
      "CreateArchiveRule": {
        "type": "operation",
        "input": "CreateArchiveRuleRequest",
        "errors": [
          "AccessDeniedException",
          "ConflictException",
          "InternalServerException",
          "ResourceNotFoundException",
          "ServiceQuotaExceededException",
          "ThrottlingException",
          "ValidationException"
        ],
        "smithy.api#documentation": "<p>Creates an archive rule for the specified analyzer. Archive rules automatically archive findings that meet the criteria you define when you create the rule.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/analyzer/{analyzerName}/archive-rule",
          "code": 200
        },
        "smithy.api#idempotent": true
      },
      "CreateArchiveRuleRequest": {
        "type": "structure",
        "members": {
          "analyzerName": {
            "target": "Name",
            "smithy.api#documentation": "<p>The name of the created analyzer.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "clientToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>A client token.</p>",
            "smithy.api#idempotencyToken": true
          },
          "filter": {
            "target": "FilterCriteriaMap",
            "smithy.api#documentation": "<p>The criteria for the rule.</p>",
            "smithy.api#required": true
          },
          "ruleName": {
            "target": "Name",
            "smithy.api#documentation": "<p>The name of the rule to create.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Creates an archive rule.</p>"
      },
      "Criterion": {
        "type": "structure",
        "members": {
          "contains": {
            "target": "ValueList",
            "smithy.api#documentation": "<p>A \"contains\" operator to match for the filter used to create the rule.</p>"
          },
          "eq": {
            "target": "ValueList",
            "smithy.api#documentation": "<p>An \"equals\" operator to match for the filter used to create the rule.</p>"
          },
          "exists": {
            "target": "smithy.api#Boolean",
            "smithy.api#documentation": "<p>An \"exists\" operator to match for the filter used to create the rule. </p>"
          },
          "neq": {
            "target": "ValueList",
            "smithy.api#documentation": "<p>A \"not equals\" operator to match for the filter used to create the rule.</p>"
          }
        },
        "smithy.api#documentation": "<p>The criteria to use in the filter that defines the archive rule.</p>"
      },
      "DeleteAnalyzer": {
        "type": "operation",
        "input": "DeleteAnalyzerRequest",
        "errors": [
          "AccessDeniedException",
          "InternalServerException",
          "ResourceNotFoundException",
          "ThrottlingException",
          "ValidationException"
        ],
        "smithy.api#documentation": "<p>Deletes the specified analyzer. When you delete an analyzer, Access Analyzer is disabled\n         for the account in the current or specific Region. All findings that were generated by the\n         analyzer are deleted. You cannot undo this action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/analyzer/{analyzerName}",
          "code": 200
        },
        "smithy.api#idempotent": true
      },
      "DeleteAnalyzerRequest": {
        "type": "structure",
        "members": {
          "analyzerName": {
            "target": "Name",
            "smithy.api#documentation": "<p>The name of the analyzer to delete.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "clientToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>A client token.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": true
          }
        },
        "smithy.api#documentation": "<p>Deletes an analyzer.</p>"
      },
      "DeleteArchiveRule": {
        "type": "operation",
        "input": "DeleteArchiveRuleRequest",
        "errors": [
          "AccessDeniedException",
          "InternalServerException",
          "ResourceNotFoundException",
          "ThrottlingException",
          "ValidationException"
        ],
        "smithy.api#documentation": "<p>Deletes the specified archive rule.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
          "code": 200
        },
        "smithy.api#idempotent": true
      },
      "DeleteArchiveRuleRequest": {
        "type": "structure",
        "members": {
          "analyzerName": {
            "target": "Name",
            "smithy.api#documentation": "<p>The name of the analyzer that associated with the archive rule to delete.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "clientToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>A client token.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": true
          },
          "ruleName": {
            "target": "Name",
            "smithy.api#documentation": "<p>The name of the rule to delete.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Deletes an archive rule.</p>"
      },
      "FilterCriteriaMap": {
        "type": "map",
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "Criterion"
        }
      },
      "Finding": {
        "type": "structure",
        "members": {
          "action": {
            "target": "ActionList",
            "smithy.api#documentation": "<p>The action in the analyzed policy statement that an external principal has permission to\n         use.</p>"
          },
          "analyzedAt": {
            "target": "Timestamp",
            "smithy.api#documentation": "<p>The time at which the resource was analyzed.</p>",
            "smithy.api#required": true
          },
          "condition": {
            "target": "ConditionKeyMap",
            "smithy.api#documentation": "<p>The condition in the analyzed policy statement that resulted in a finding.</p>",
            "smithy.api#required": true
          },
          "createdAt": {
            "target": "Timestamp",
            "smithy.api#documentation": "<p>The time at which the finding was generated.</p>",
            "smithy.api#required": true
          },
          "error": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>An error.</p>"
          },
          "id": {
            "target": "FindingId",
            "smithy.api#documentation": "<p>The ID of the finding.</p>",
            "smithy.api#required": true
          },
          "isPublic": {
            "target": "smithy.api#Boolean",
            "smithy.api#documentation": "<p>Indicates whether the policy that generated the finding allows public access to the\n         resource.</p>"
          },
          "principal": {
            "target": "PrincipalMap",
            "smithy.api#documentation": "<p>The external principal that access to a resource within the zone of trust.</p>"
          },
          "resource": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The resource that an external principal has access to.</p>"
          },
          "resourceType": {
            "target": "ResourceType",
            "smithy.api#documentation": "<p>The type of the resource reported in the finding.</p>",
            "smithy.api#required": true
          },
          "status": {
            "target": "FindingStatus",
            "smithy.api#documentation": "<p>The current status of the finding.</p>",
            "smithy.api#required": true
          },
          "updatedAt": {
            "target": "Timestamp",
            "smithy.api#documentation": "<p>The time at which the finding was updated.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Contains information about a finding.</p>"
      },
      "FindingId": {
        "type": "string"
      },
      "FindingIdList": {
        "type": "list",
        "member": {
          "target": "FindingId"
        }
      },
      "FindingStatus": {
        "type": "string",
        "smithy.api#enum": {
          "ACTIVE": { },
          "ARCHIVED": { },
          "RESOLVED": { }
        }
      },
      "FindingStatusUpdate": {
        "type": "string",
        "smithy.api#enum": {
          "ACTIVE": { },
          "ARCHIVED": { }
        }
      },
      "FindingSummary": {
        "type": "structure",
        "members": {
          "action": {
            "target": "ActionList",
            "smithy.api#documentation": "<p>The action in the analyzed policy statement that an external principal has permission to\n         use.</p>"
          },
          "analyzedAt": {
            "target": "Timestamp",
            "smithy.api#documentation": "<p>The time at which the resource-based policy that generated the finding was\n         analyzed.</p>",
            "smithy.api#required": true
          },
          "condition": {
            "target": "ConditionKeyMap",
            "smithy.api#documentation": "<p>The condition in the analyzed policy statement that resulted in a finding.</p>",
            "smithy.api#required": true
          },
          "createdAt": {
            "target": "Timestamp",
            "smithy.api#documentation": "<p>The time at which the finding was created.</p>",
            "smithy.api#required": true
          },
          "error": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The error that resulted in an Error finding.</p>"
          },
          "id": {
            "target": "FindingId",
            "smithy.api#documentation": "<p>The ID of the finding.</p>",
            "smithy.api#required": true
          },
          "isPublic": {
            "target": "smithy.api#Boolean",
            "smithy.api#documentation": "<p>Indicates whether the finding reports a resource that has a policy that allows public\n         access.</p>"
          },
          "principal": {
            "target": "PrincipalMap",
            "smithy.api#documentation": "<p>The external principal that has access to a resource within the zone of trust.</p>"
          },
          "resource": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The resource that the external principal has access to.</p>"
          },
          "resourceType": {
            "target": "ResourceType",
            "smithy.api#documentation": "<p>The type of the resource that the external principal has access to.</p>",
            "smithy.api#required": true
          },
          "status": {
            "target": "FindingStatus",
            "smithy.api#documentation": "<p>The status of the finding.</p>",
            "smithy.api#required": true
          },
          "updatedAt": {
            "target": "Timestamp",
            "smithy.api#documentation": "<p>The time at which the finding was most recently updated.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Contains information about a finding.</p>"
      },
      "FindingsList": {
        "type": "list",
        "member": {
          "target": "FindingSummary"
        }
      },
      "GetAnalyzedResource": {
        "type": "operation",
        "input": "GetAnalyzedResourceRequest",
        "output": "GetAnalyzedResourceResponse",
        "errors": [
          "AccessDeniedException",
          "InternalServerException",
          "ResourceNotFoundException",
          "ThrottlingException",
          "ValidationException"
        ],
        "smithy.api#documentation": "<p>Retrieves information about a resource that was analyzed.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/analyzed-resource",
          "code": 200
        },
        "smithy.api#readonly": true
      },
      "GetAnalyzedResourceRequest": {
        "type": "structure",
        "members": {
          "analyzerArn": {
            "target": "AnalyzerArn",
            "smithy.api#documentation": "<p>The ARN of the analyzer to retrieve information from.</p>",
            "smithy.api#httpQuery": "analyzerArn",
            "smithy.api#required": true
          },
          "resourceArn": {
            "target": "ResourceArn",
            "smithy.api#documentation": "<p>The ARN of the resource to retrieve information about.</p>",
            "smithy.api#httpQuery": "resourceArn",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Retrieves an analyzed resource.</p>"
      },
      "GetAnalyzedResourceResponse": {
        "type": "structure",
        "members": {
          "resource": {
            "target": "AnalyzedResource",
            "smithy.api#documentation": "<p>An <code>AnalyedResource</code> object that contains information that Access Analyzer\n         found when it analyzed the resource.</p>"
          }
        },
        "smithy.api#documentation": "<p>The response to the request.</p>"
      },
      "GetAnalyzer": {
        "type": "operation",
        "input": "GetAnalyzerRequest",
        "output": "GetAnalyzerResponse",
        "errors": [
          "AccessDeniedException",
          "InternalServerException",
          "ResourceNotFoundException",
          "ThrottlingException",
          "ValidationException"
        ],
        "smithy.api#documentation": "<p>Retrieves information about the specified analyzer.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/analyzer/{analyzerName}",
          "code": 200
        },
        "smithy.api#readonly": true
      },
      "GetAnalyzerRequest": {
        "type": "structure",
        "members": {
          "analyzerName": {
            "target": "Name",
            "smithy.api#documentation": "<p>The name of the analyzer retrieved.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Retrieves an analyzer.</p>"
      },
      "GetAnalyzerResponse": {
        "type": "structure",
        "members": {
          "analyzer": {
            "target": "AnalyzerSummary",
            "smithy.api#documentation": "<p>An <code>AnalyzerSummary</code> object that contains information about the\n         analyzer.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>The response to the request.</p>"
      },
      "GetArchiveRule": {
        "type": "operation",
        "input": "GetArchiveRuleRequest",
        "output": "GetArchiveRuleResponse",
        "errors": [
          "AccessDeniedException",
          "InternalServerException",
          "ResourceNotFoundException",
          "ThrottlingException",
          "ValidationException"
        ],
        "smithy.api#documentation": "<p>Retrieves information about an archive rule.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
          "code": 200
        },
        "smithy.api#readonly": true
      },
      "GetArchiveRuleRequest": {
        "type": "structure",
        "members": {
          "analyzerName": {
            "target": "Name",
            "smithy.api#documentation": "<p>The name of the analyzer to retrieve rules from.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "ruleName": {
            "target": "Name",
            "smithy.api#documentation": "<p>The name of the rule to retrieve.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Retrieves an archive rule.</p>"
      },
      "GetArchiveRuleResponse": {
        "type": "structure",
        "members": {
          "archiveRule": {
            "target": "ArchiveRuleSummary",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>The response to the request.</p>"
      },
      "GetFinding": {
        "type": "operation",
        "input": "GetFindingRequest",
        "output": "GetFindingResponse",
        "errors": [
          "AccessDeniedException",
          "InternalServerException",
          "ResourceNotFoundException",
          "ThrottlingException",
          "ValidationException"
        ],
        "smithy.api#documentation": "<p>Retrieves information about the specified finding.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/finding/{id}",
          "code": 200
        },
        "smithy.api#readonly": true
      },
      "GetFindingRequest": {
        "type": "structure",
        "members": {
          "analyzerArn": {
            "target": "AnalyzerArn",
            "smithy.api#documentation": "<p>The ARN of the analyzer that generated the finding.</p>",
            "smithy.api#httpQuery": "analyzerArn",
            "smithy.api#required": true
          },
          "id": {
            "target": "FindingId",
            "smithy.api#documentation": "<p>The ID of the finding to retrieve.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Retrieves a finding.</p>"
      },
      "GetFindingResponse": {
        "type": "structure",
        "members": {
          "finding": {
            "target": "Finding",
            "smithy.api#documentation": "<p>A <code>finding</code> object that contains finding details.</p>"
          }
        },
        "smithy.api#documentation": "<p>The response to the request.</p>"
      },
      "InlineArchiveRule": {
        "type": "structure",
        "members": {
          "filter": {
            "target": "FilterCriteriaMap",
            "smithy.api#documentation": "<p>The condition and values for a criterion.</p>",
            "smithy.api#required": true
          },
          "ruleName": {
            "target": "Name",
            "smithy.api#documentation": "<p>The name of the rule.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>An criterion statement in an archive rule. Each archive rule may have multiple\n         criteria.</p>"
      },
      "InlineArchiveRulesList": {
        "type": "list",
        "member": {
          "target": "InlineArchiveRule"
        }
      },
      "InternalServerException": {
        "type": "structure",
        "members": {
          "message": {
            "target": "smithy.api#String",
            "smithy.api#required": true
          },
          "retryAfterSeconds": {
            "target": "smithy.api#Integer",
            "smithy.api#documentation": "<p>The seconds to wait to retry.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        },
        "smithy.api#documentation": "<p>Internal server error.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": { }
      },
      "ListAnalyzedResources": {
        "type": "operation",
        "input": "ListAnalyzedResourcesRequest",
        "output": "ListAnalyzedResourcesResponse",
        "errors": [
          "AccessDeniedException",
          "InternalServerException",
          "ResourceNotFoundException",
          "ThrottlingException",
          "ValidationException"
        ],
        "smithy.api#documentation": "<p>Retrieves a list of resources of the specified type that have been analyzed by the\n         specified analyzer..</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/analyzed-resource",
          "code": 200
        },
        "smithy.api#paginated": {
          "items": "analyzedResources"
        },
        "smithy.api#readonly": true
      },
      "ListAnalyzedResourcesRequest": {
        "type": "structure",
        "members": {
          "analyzerArn": {
            "target": "AnalyzerArn",
            "smithy.api#documentation": "<p>The ARN of the analyzer to retrieve a list of analyzed resources from.</p>",
            "smithy.api#required": true
          },
          "maxResults": {
            "target": "smithy.api#Integer",
            "smithy.api#documentation": "<p>The maximum number of results to return in the response.</p>"
          },
          "nextToken": {
            "target": "Token",
            "smithy.api#documentation": "<p>A token used for pagination of results returned.</p>"
          },
          "resourceType": {
            "target": "ResourceType",
            "smithy.api#documentation": "<p>The type of resource.</p>"
          }
        },
        "smithy.api#documentation": "<p>Retrieves a list of resources that have been analyzed.</p>"
      },
      "ListAnalyzedResourcesResponse": {
        "type": "structure",
        "members": {
          "analyzedResources": {
            "target": "AnalyzedResourcesList",
            "smithy.api#documentation": "<p>A list of resources that were analyzed.</p>",
            "smithy.api#required": true
          },
          "nextToken": {
            "target": "Token",
            "smithy.api#documentation": "<p>A token used for pagination of results returned.</p>"
          }
        },
        "smithy.api#documentation": "<p>The response to the request.</p>"
      },
      "ListAnalyzers": {
        "type": "operation",
        "input": "ListAnalyzersRequest",
        "output": "ListAnalyzersResponse",
        "errors": [
          "AccessDeniedException",
          "InternalServerException",
          "ThrottlingException",
          "ValidationException"
        ],
        "smithy.api#documentation": "<p>Retrieves a list of analyzers.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/analyzer",
          "code": 200
        },
        "smithy.api#paginated": {
          "items": "analyzers"
        },
        "smithy.api#readonly": true
      },
      "ListAnalyzersRequest": {
        "type": "structure",
        "members": {
          "maxResults": {
            "target": "smithy.api#Integer",
            "smithy.api#documentation": "<p>The maximum number of results to return in the response.</p>",
            "smithy.api#httpQuery": "maxResults"
          },
          "nextToken": {
            "target": "Token",
            "smithy.api#documentation": "<p>A token used for pagination of results returned.</p>",
            "smithy.api#httpQuery": "nextToken"
          },
          "type": {
            "target": "Type",
            "smithy.api#documentation": "<p>The type of analyzer.</p>",
            "smithy.api#httpQuery": "type"
          }
        },
        "smithy.api#documentation": "<p>Retrieves a list of analyzers.</p>"
      },
      "ListAnalyzersResponse": {
        "type": "structure",
        "members": {
          "analyzers": {
            "target": "AnalyzersList",
            "smithy.api#documentation": "<p>The analyzers retrieved.</p>",
            "smithy.api#required": true
          },
          "nextToken": {
            "target": "Token",
            "smithy.api#documentation": "<p>A token used for pagination of results returned.</p>"
          }
        },
        "smithy.api#documentation": "<p>The response to the request.</p>"
      },
      "ListArchiveRules": {
        "type": "operation",
        "input": "ListArchiveRulesRequest",
        "output": "ListArchiveRulesResponse",
        "errors": [
          "AccessDeniedException",
          "InternalServerException",
          "ThrottlingException",
          "ValidationException"
        ],
        "smithy.api#documentation": "<p>Retrieves a list of archive rules created for the specified analyzer.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/analyzer/{analyzerName}/archive-rule",
          "code": 200
        },
        "smithy.api#paginated": {
          "items": "archiveRules"
        },
        "smithy.api#readonly": true
      },
      "ListArchiveRulesRequest": {
        "type": "structure",
        "members": {
          "analyzerName": {
            "target": "Name",
            "smithy.api#documentation": "<p>The name of the analyzer to retrieve rules from.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "maxResults": {
            "target": "smithy.api#Integer",
            "smithy.api#documentation": "<p>The maximum number of results to return in the request.</p>",
            "smithy.api#httpQuery": "maxResults"
          },
          "nextToken": {
            "target": "Token",
            "smithy.api#documentation": "<p>A token used for pagination of results returned.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "smithy.api#documentation": "<p>Retrieves a list of archive rules created for the specified analyzer.</p>"
      },
      "ListArchiveRulesResponse": {
        "type": "structure",
        "members": {
          "archiveRules": {
            "target": "ArchiveRulesList",
            "smithy.api#documentation": "<p>A list of archive rules created for the specified analyzer.</p>",
            "smithy.api#required": true
          },
          "nextToken": {
            "target": "Token",
            "smithy.api#documentation": "<p>A token used for pagination of results returned.</p>"
          }
        },
        "smithy.api#documentation": "<p>The response to the request.</p>"
      },
      "ListFindings": {
        "type": "operation",
        "input": "ListFindingsRequest",
        "output": "ListFindingsResponse",
        "errors": [
          "AccessDeniedException",
          "InternalServerException",
          "ResourceNotFoundException",
          "ThrottlingException",
          "ValidationException"
        ],
        "smithy.api#documentation": "<p>Retrieves a list of findings generated by the specified analyzer.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/finding",
          "code": 200
        },
        "smithy.api#paginated": {
          "items": "findings"
        },
        "smithy.api#readonly": true
      },
      "ListFindingsRequest": {
        "type": "structure",
        "members": {
          "analyzerArn": {
            "target": "AnalyzerArn",
            "smithy.api#documentation": "<p>The ARN of the analyzer to retrieve findings from.</p>",
            "smithy.api#required": true
          },
          "filter": {
            "target": "FilterCriteriaMap",
            "smithy.api#documentation": "<p>A filter to match for the findings to return.</p>"
          },
          "maxResults": {
            "target": "smithy.api#Integer",
            "smithy.api#documentation": "<p>The maximum number of results to return in the response.</p>"
          },
          "nextToken": {
            "target": "Token",
            "smithy.api#documentation": "<p>A token used for pagination of results returned.</p>"
          },
          "sort": {
            "target": "SortCriteria",
            "smithy.api#documentation": "<p>The sort order for the findings returned.</p>"
          }
        },
        "smithy.api#documentation": "<p>Retrieves a list of findings generated by the specified analyzer.</p>"
      },
      "ListFindingsResponse": {
        "type": "structure",
        "members": {
          "findings": {
            "target": "FindingsList",
            "smithy.api#documentation": "<p>A list of findings retrieved from the analyzer that match the filter criteria specified,\n         if any.</p>",
            "smithy.api#required": true
          },
          "nextToken": {
            "target": "Token",
            "smithy.api#documentation": "<p>A token used for pagination of results returned.</p>"
          }
        },
        "smithy.api#documentation": "<p>The response to the request.</p>"
      },
      "ListTagsForResource": {
        "type": "operation",
        "input": "ListTagsForResourceRequest",
        "output": "ListTagsForResourceResponse",
        "errors": [
          "AccessDeniedException",
          "InternalServerException",
          "ResourceNotFoundException",
          "ThrottlingException",
          "ValidationException"
        ],
        "smithy.api#documentation": "<p>Retrieves a list of tags applied to the specified resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{resourceArn}",
          "code": 200
        },
        "smithy.api#readonly": true
      },
      "ListTagsForResourceRequest": {
        "type": "structure",
        "members": {
          "resourceArn": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The ARN of the resource to retrieve tags from.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Retrieves a list of tags applied to the specified resource.</p>"
      },
      "ListTagsForResourceResponse": {
        "type": "structure",
        "members": {
          "tags": {
            "target": "TagsMap",
            "smithy.api#documentation": "<p>The tags that are applied to the specified resource.</p>"
          }
        },
        "smithy.api#documentation": "<p>The response to the request.</p>"
      },
      "Name": {
        "type": "string",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[A-Za-z][A-Za-z0-9_.-]*$"
      },
      "OrderBy": {
        "type": "string",
        "smithy.api#enum": {
          "ASC": { },
          "DESC": { }
        }
      },
      "PrincipalMap": {
        "type": "map",
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "ResourceArn": {
        "type": "string",
        "smithy.api#pattern": "arn:[^:]*:[^:]*:[^:]*:[^:]*:.*$"
      },
      "ResourceNotFoundException": {
        "type": "structure",
        "members": {
          "message": {
            "target": "smithy.api#String",
            "smithy.api#required": true
          },
          "resourceId": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The ID of the resource.</p>",
            "smithy.api#required": true
          },
          "resourceType": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The type of the resource.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>The specified resource could not be found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      },
      "ResourceType": {
        "type": "string",
        "smithy.api#enum": {
          "AWS::S3::Bucket": { },
          "AWS::IAM::Role": { },
          "AWS::SQS::Queue": { },
          "AWS::Lambda::Function": { },
          "AWS::Lambda::LayerVersion": { },
          "AWS::KMS::Key": { }
        }
      },
      "ServiceQuotaExceededException": {
        "type": "structure",
        "members": {
          "message": {
            "target": "smithy.api#String",
            "smithy.api#required": true
          },
          "resourceId": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The resource ID.</p>",
            "smithy.api#required": true
          },
          "resourceType": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The resource type.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Service quote met error.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      },
      "SharedViaList": {
        "type": "list",
        "member": {
          "target": "smithy.api#String"
        }
      },
      "SortCriteria": {
        "type": "structure",
        "members": {
          "attributeName": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The name of the attribute to sort on.</p>"
          },
          "orderBy": {
            "target": "OrderBy",
            "smithy.api#documentation": "<p>The sort order, ascending or descending.</p>"
          }
        },
        "smithy.api#documentation": "<p>The criteria used to sort.</p>"
      },
      "StartResourceScan": {
        "type": "operation",
        "input": "StartResourceScanRequest",
        "errors": [
          "AccessDeniedException",
          "InternalServerException",
          "ResourceNotFoundException",
          "ThrottlingException",
          "ValidationException"
        ],
        "smithy.api#documentation": "<p>Immediately starts a scan of the policies applied to the specified resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/resource/scan",
          "code": 200
        }
      },
      "StartResourceScanRequest": {
        "type": "structure",
        "members": {
          "analyzerArn": {
            "target": "AnalyzerArn",
            "smithy.api#documentation": "<p>The ARN of the analyzer to use to scan the policies applied to the specified\n         resource.</p>",
            "smithy.api#required": true
          },
          "resourceArn": {
            "target": "ResourceArn",
            "smithy.api#documentation": "<p>The ARN of the resource to scan.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Starts a scan of the policies applied to the specified resource.</p>"
      },
      "TagKeys": {
        "type": "list",
        "member": {
          "target": "smithy.api#String"
        }
      },
      "TagResource": {
        "type": "operation",
        "input": "TagResourceRequest",
        "output": "TagResourceResponse",
        "errors": [
          "AccessDeniedException",
          "InternalServerException",
          "ResourceNotFoundException",
          "ThrottlingException",
          "ValidationException"
        ],
        "smithy.api#documentation": "<p>Adds a tag to the specified resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{resourceArn}",
          "code": 200
        },
        "smithy.api#idempotent": true
      },
      "TagResourceRequest": {
        "type": "structure",
        "members": {
          "resourceArn": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The ARN of the resource to add the tag to.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "tags": {
            "target": "TagsMap",
            "smithy.api#documentation": "<p>The tags to add to the resource.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Adds a tag to the specified resource.</p>"
      },
      "TagResourceResponse": {
        "type": "structure",
        "members": { },
        "smithy.api#documentation": "<p>The response to the request.</p>"
      },
      "TagsMap": {
        "type": "map",
        "key": {
          "target": "smithy.api#String"
        },
        "value": {
          "target": "smithy.api#String"
        }
      },
      "ThrottlingException": {
        "type": "structure",
        "members": {
          "message": {
            "target": "smithy.api#String",
            "smithy.api#required": true
          },
          "retryAfterSeconds": {
            "target": "smithy.api#Integer",
            "smithy.api#documentation": "<p>The seconds to wait to retry.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        },
        "smithy.api#documentation": "<p>Throttling limit exceeded error.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429,
        "smithy.api#retryable": { }
      },
      "Timestamp": {
        "type": "timestamp",
        "smithy.api#timestampFormat": "date-time"
      },
      "Token": {
        "type": "string"
      },
      "Type": {
        "type": "string",
        "smithy.api#enum": {
          "ACCOUNT": { }
        }
      },
      "UntagResource": {
        "type": "operation",
        "input": "UntagResourceRequest",
        "output": "UntagResourceResponse",
        "errors": [
          "AccessDeniedException",
          "InternalServerException",
          "ResourceNotFoundException",
          "ThrottlingException",
          "ValidationException"
        ],
        "smithy.api#documentation": "<p>Removes a tag from the specified resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{resourceArn}",
          "code": 200
        },
        "smithy.api#idempotent": true
      },
      "UntagResourceRequest": {
        "type": "structure",
        "members": {
          "resourceArn": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The ARN of the resource to remove the tag from.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "tagKeys": {
            "target": "TagKeys",
            "smithy.api#documentation": "<p>The key for the tag to add.</p>",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Removes a tag from the specified resource.</p>"
      },
      "UntagResourceResponse": {
        "type": "structure",
        "members": { },
        "smithy.api#documentation": "<p>The response to the request.</p>"
      },
      "UpdateArchiveRule": {
        "type": "operation",
        "input": "UpdateArchiveRuleRequest",
        "errors": [
          "AccessDeniedException",
          "InternalServerException",
          "ResourceNotFoundException",
          "ThrottlingException",
          "ValidationException"
        ],
        "smithy.api#documentation": "<p>Updates the criteria and values for the specified archive rule.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
          "code": 200
        },
        "smithy.api#idempotent": true
      },
      "UpdateArchiveRuleRequest": {
        "type": "structure",
        "members": {
          "analyzerName": {
            "target": "Name",
            "smithy.api#documentation": "<p>The name of the analyzer to update the archive rules for.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "clientToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>A client token.</p>",
            "smithy.api#idempotencyToken": true
          },
          "filter": {
            "target": "FilterCriteriaMap",
            "smithy.api#documentation": "<p>A filter to match for the rules to update. Only rules that match the filter are\n         updated.</p>",
            "smithy.api#required": true
          },
          "ruleName": {
            "target": "Name",
            "smithy.api#documentation": "<p>The name of the rule to update.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Updates the specified archive rule.</p>"
      },
      "UpdateFindings": {
        "type": "operation",
        "input": "UpdateFindingsRequest",
        "errors": [
          "AccessDeniedException",
          "InternalServerException",
          "ResourceNotFoundException",
          "ThrottlingException",
          "ValidationException"
        ],
        "smithy.api#documentation": "<p>Updates the status for the specified findings.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/finding",
          "code": 200
        },
        "smithy.api#idempotent": true
      },
      "UpdateFindingsRequest": {
        "type": "structure",
        "members": {
          "analyzerArn": {
            "target": "AnalyzerArn",
            "smithy.api#documentation": "<p>The ARN of the analyzer that generated the findings to update.</p>",
            "smithy.api#required": true
          },
          "clientToken": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>A client token.</p>",
            "smithy.api#idempotencyToken": true
          },
          "ids": {
            "target": "FindingIdList",
            "smithy.api#documentation": "<p>The IDs of the findings to update.</p>"
          },
          "resourceArn": {
            "target": "ResourceArn",
            "smithy.api#documentation": "<p>The ARN of the resource identified in the finding.</p>"
          },
          "status": {
            "target": "FindingStatusUpdate",
            "smithy.api#documentation": "<p>The state represents the action to take to update the finding Status. Use\n            <code>ARCHIVE</code> to change an Active finding to an Archived finding. Use\n            <code>ACTIVE</code> to change an Archived finding to an Active finding.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Updates findings with the new values provided in the request.</p>"
      },
      "ValidationException": {
        "type": "structure",
        "members": {
          "fieldList": {
            "target": "ValidationExceptionFieldList",
            "smithy.api#documentation": "<p>A list of fields that didn't validate.</p>"
          },
          "message": {
            "target": "smithy.api#String",
            "smithy.api#required": true
          },
          "reason": {
            "target": "ValidationExceptionReason",
            "smithy.api#documentation": "<p>The reason for the exception.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Validation exception error.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      },
      "ValidationExceptionField": {
        "type": "structure",
        "members": {
          "message": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>A message about the validation exception.</p>",
            "smithy.api#required": true
          },
          "name": {
            "target": "smithy.api#String",
            "smithy.api#documentation": "<p>The name of the validation exception.</p>",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "<p>Contains information about a validation exception.</p>"
      },
      "ValidationExceptionFieldList": {
        "type": "list",
        "member": {
          "target": "ValidationExceptionField"
        }
      },
      "ValidationExceptionReason": {
        "type": "string",
        "smithy.api#enum": {
          "unknownOperation": {
            "name": "UNKNOWN_OPERATION"
          },
          "cannotParse": {
            "name": "CANNOT_PARSE"
          },
          "fieldValidationFailed": {
            "name": "FIELD_VALIDATION_FAILED"
          },
          "other": {
            "name": "OTHER"
          }
        }
      },
      "ValueList": {
        "type": "list",
        "member": {
          "target": "smithy.api#String"
        },
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    }
  }
}
