{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.account#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation failed because the calling identity doesn't have the minimum required\n            permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.account#Account": {
      "type": "service",
      "version": "2021-02-01",
      "resources": [
        {
          "target": "com.amazonaws.account#AlternateContactResource"
        },
        {
          "target": "com.amazonaws.account#ContactInformationResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Account",
          "arnNamespace": "account",
          "cloudTrailEventSource": "CLOUDTRAIL_EVENT_SOURCE"
        },
        "aws.auth#sigv4": {
          "name": "account"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {},
        "smithy.api#documentation": "<p>Operations for Amazon Web Services Account Management</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        },
        "smithy.api#suppress": [
          "EventSource"
        ],
        "smithy.api#title": "AWS Account",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://account-fips.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "account",
                                      "signingRegion": "us-east-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://account-fips.{Region}.amazonaws.com",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "account",
                                      "signingRegion": "us-east-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://account.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "account",
                                      "signingRegion": "us-east-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://account.us-east-1.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingName": "account",
                              "signingRegion": "us-east-1"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws-cn"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://account-fips.{Region}.api.amazonwebservices.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "account",
                                      "signingRegion": "cn-northwest-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://account-fips.{Region}.amazonaws.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "account",
                                      "signingRegion": "cn-northwest-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://account.{Region}.api.amazonwebservices.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "account",
                                      "signingRegion": "cn-northwest-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://account.cn-northwest-1.amazonaws.com.cn",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingName": "account",
                              "signingRegion": "cn-northwest-1"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://account-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://account-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://account.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://account.us-east-1.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingName": "account",
                              "signingRegion": "us-east-1"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-cn-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://account.cn-northwest-1.amazonaws.com.cn",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingName": "account",
                              "signingRegion": "cn-northwest-1"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://account.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region aws-cn-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingName": "account",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://account.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "aws-cn-global",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region aws-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingName": "account",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://account.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "aws-global",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.account#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.account#AddressLine": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 60
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.account#AlternateContact": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.account#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name associated with this alternate contact.</p>"
          }
        },
        "Title": {
          "target": "com.amazonaws.account#Title",
          "traits": {
            "smithy.api#documentation": "<p>The title associated with this alternate contact.</p>"
          }
        },
        "EmailAddress": {
          "target": "com.amazonaws.account#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email address associated with this alternate contact.</p>"
          }
        },
        "PhoneNumber": {
          "target": "com.amazonaws.account#PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number associated with this alternate contact.</p>"
          }
        },
        "AlternateContactType": {
          "target": "com.amazonaws.account#AlternateContactType",
          "traits": {
            "smithy.api#documentation": "<p>The type of alternate contact.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains the details of an alternate contact associated with an Amazon Web Services\n            account</p>"
      }
    },
    "com.amazonaws.account#AlternateContactResource": {
      "type": "resource",
      "identifiers": {
        "AlternateContactType": {
          "target": "com.amazonaws.account#AlternateContactType"
        }
      },
      "put": {
        "target": "com.amazonaws.account#PutAlternateContact"
      },
      "read": {
        "target": "com.amazonaws.account#GetAlternateContact"
      },
      "delete": {
        "target": "com.amazonaws.account#DeleteAlternateContact"
      },
      "traits": {
        "aws.api#arn": {
          "template": "AlternateContact/{AlternateContactType}"
        }
      }
    },
    "com.amazonaws.account#AlternateContactType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BILLING",
            "name": "BILLING"
          },
          {
            "value": "OPERATIONS",
            "name": "OPERATIONS"
          },
          {
            "value": "SECURITY",
            "name": "SECURITY"
          }
        ]
      }
    },
    "com.amazonaws.account#City": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.account#CompanyName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.account#ContactInformation": {
      "type": "structure",
      "members": {
        "FullName": {
          "target": "com.amazonaws.account#FullName",
          "traits": {
            "smithy.api#documentation": "<p>The full name of the primary contact address.</p>",
            "smithy.api#required": {}
          }
        },
        "AddressLine1": {
          "target": "com.amazonaws.account#AddressLine",
          "traits": {
            "smithy.api#documentation": "<p>The first line of the primary contact address.</p>",
            "smithy.api#required": {}
          }
        },
        "AddressLine2": {
          "target": "com.amazonaws.account#AddressLine",
          "traits": {
            "smithy.api#documentation": "<p>The second line of the primary contact address, if any.</p>"
          }
        },
        "AddressLine3": {
          "target": "com.amazonaws.account#AddressLine",
          "traits": {
            "smithy.api#documentation": "<p>The third line of the primary contact address, if any.</p>"
          }
        },
        "City": {
          "target": "com.amazonaws.account#City",
          "traits": {
            "smithy.api#documentation": "<p>The city of the primary contact address.</p>",
            "smithy.api#required": {}
          }
        },
        "StateOrRegion": {
          "target": "com.amazonaws.account#StateOrRegion",
          "traits": {
            "smithy.api#documentation": "<p>The state or region of the primary contact address. This field is required in selected countries.</p>"
          }
        },
        "DistrictOrCounty": {
          "target": "com.amazonaws.account#DistrictOrCounty",
          "traits": {
            "smithy.api#documentation": "<p>The district or county of the primary contact address, if any.</p>"
          }
        },
        "PostalCode": {
          "target": "com.amazonaws.account#PostalCode",
          "traits": {
            "smithy.api#documentation": "<p>The postal code of the primary contact address.</p>",
            "smithy.api#required": {}
          }
        },
        "CountryCode": {
          "target": "com.amazonaws.account#CountryCode",
          "traits": {
            "smithy.api#documentation": "<p>The ISO-3166 two-letter country code for the primary contact address.</p>",
            "smithy.api#required": {}
          }
        },
        "PhoneNumber": {
          "target": "com.amazonaws.account#ContactInformationPhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number of the primary contact information. The number will be validated and, in some countries, checked for activation.</p>",
            "smithy.api#required": {}
          }
        },
        "CompanyName": {
          "target": "com.amazonaws.account#CompanyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the company associated with the primary contact information, if any.</p>"
          }
        },
        "WebsiteUrl": {
          "target": "com.amazonaws.account#WebsiteUrl",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the website associated with the primary contact information, if any.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the primary contact information associated with an Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.account#ContactInformationPhoneNumber": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^[+][\\s0-9()-]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.account#ContactInformationResource": {
      "type": "resource",
      "put": {
        "target": "com.amazonaws.account#PutContactInformation"
      },
      "read": {
        "target": "com.amazonaws.account#GetContactInformation"
      },
      "traits": {
        "aws.api#arn": {
          "template": "ContactInformation"
        }
      }
    },
    "com.amazonaws.account#CountryCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.account#DeleteAlternateContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.account#DeleteAlternateContactRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.account#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.account#InternalServerException"
        },
        {
          "target": "com.amazonaws.account#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.account#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.account#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified alternate contact from an Amazon Web Services account.</p>\n        <p>For complete details about how to use the alternate contact operations, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/manage-acct-update-contact.html\">Access or\n                updating the alternate contacts</a>.</p>\n        <note>\n            <p>Before you can update the alternate contact information for an \n     Amazon Web Services account that is managed by Organizations, you must first enable integration between Amazon Web Services Account Management\n     and Organizations.  For more information, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/using-orgs-trusted-access.html\">Enabling trusted access for \n     Amazon Web Services Account Management</a>.</p>\n         </note>",
        "smithy.api#http": {
          "uri": "/deleteAlternateContact",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.account#DeleteAlternateContactRequest": {
      "type": "structure",
      "members": {
        "AlternateContactType": {
          "target": "com.amazonaws.account#AlternateContactType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which of the alternate contacts to delete. </p>",
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.account#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the 12 digit account ID number of the Amazon Web Services account that \n        you want to access or modify with this operation.</p>\n         <p>If you do not specify this parameter, it defaults to the Amazon Web Services account of the \n        identity used to call the operation.</p>\n         <p>To use this parameter, the caller must be an identity in the <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#account\">organization's management account</a> or a delegated administrator account, and \n        the specified account ID must be a member account in the same organization. The\n        organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">all features \n        enabled</a>, and the organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/using-orgs-trusted-access.html\">trusted access</a> enabled for the \n        Account Management service, and optionally a <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/using-orgs-delegated-admin.html\">delegated admin</a> account \n        assigned.</p>\n         <note>\n            <p>The management account can't specify its own <code>AccountId</code>; it must call\n            the operation in standalone context by not including the <code>AccountId</code> \n            parameter.</p>\n         </note>\n         <p>To call this operation on an account that is not a member of an organization, then \n        don't specify this parameter, and call the operation using an identity belonging to\n        the account whose contacts you wish to retrieve or modify.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.account#DistrictOrCounty": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.account#EmailAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[\\s]*[\\w+=.#!&-]+@[\\w.-]+\\.[\\w]+[\\s]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.account#FullName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.account#GetAlternateContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.account#GetAlternateContactRequest"
      },
      "output": {
        "target": "com.amazonaws.account#GetAlternateContactResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.account#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.account#InternalServerException"
        },
        {
          "target": "com.amazonaws.account#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.account#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.account#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the specified alternate contact attached to an Amazon Web Services account.</p>\n        <p>For complete details about how to use the alternate contact operations, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/manage-acct-update-contact.html\">Access or\n                updating the alternate contacts</a>.</p>\n        <note>\n            <p>Before you can update the alternate contact information for an \n     Amazon Web Services account that is managed by Organizations, you must first enable integration between Amazon Web Services Account Management\n     and Organizations.  For more information, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/using-orgs-trusted-access.html\">Enabling trusted access for \n     Amazon Web Services Account Management</a>.</p>\n         </note>",
        "smithy.api#http": {
          "uri": "/getAlternateContact",
          "method": "POST",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.api#suppress": [
          "HttpMethodSemantics"
        ]
      }
    },
    "com.amazonaws.account#GetAlternateContactRequest": {
      "type": "structure",
      "members": {
        "AlternateContactType": {
          "target": "com.amazonaws.account#AlternateContactType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which alternate contact you want to retrieve.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.account#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the 12 digit account ID number of the Amazon Web Services account that \n        you want to access or modify with this operation.</p>\n         <p>If you do not specify this parameter, it defaults to the Amazon Web Services account of the \n        identity used to call the operation.</p>\n         <p>To use this parameter, the caller must be an identity in the <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#account\">organization's management account</a> or a delegated administrator account, and \n        the specified account ID must be a member account in the same organization. The\n        organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">all features \n        enabled</a>, and the organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/using-orgs-trusted-access.html\">trusted access</a> enabled for the \n        Account Management service, and optionally a <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/using-orgs-delegated-admin.html\">delegated admin</a> account \n        assigned.</p>\n         <note>\n            <p>The management account can't specify its own <code>AccountId</code>; it must call\n            the operation in standalone context by not including the <code>AccountId</code> \n            parameter.</p>\n         </note>\n         <p>To call this operation on an account that is not a member of an organization, then \n        don't specify this parameter, and call the operation using an identity belonging to\n        the account whose contacts you wish to retrieve or modify.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.account#GetAlternateContactResponse": {
      "type": "structure",
      "members": {
        "AlternateContact": {
          "target": "com.amazonaws.account#AlternateContact",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the details for the specified alternate contact.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.account#GetContactInformation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.account#GetContactInformationRequest"
      },
      "output": {
        "target": "com.amazonaws.account#GetContactInformationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.account#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.account#InternalServerException"
        },
        {
          "target": "com.amazonaws.account#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.account#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.account#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the primary contact information of an Amazon Web Services account.</p>\n        <p>For complete details about how to use the primary contact operations, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/manage-acct-update-contact.html\">Update\n                the primary and alternate contact information</a>.</p>",
        "smithy.api#http": {
          "uri": "/getContactInformation",
          "method": "POST",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.api#suppress": [
          "HttpMethodSemantics"
        ]
      }
    },
    "com.amazonaws.account#GetContactInformationRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.account#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the 12-digit account ID number of the Amazon Web Services account that you want to access\n            or modify with this operation. If you don't specify this parameter, it defaults to the\n            Amazon Web Services account of the identity used to call the operation. To use this parameter, the\n            caller must be an identity in the <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#account\">organization's\n                management account</a> or a delegated administrator account. The specified\n            account ID must also be a member account in the same organization. The organization must have\n                <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">all features\n                enabled</a>, and the organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/using-orgs-trusted-access.html\">trusted access</a> enabled\n            for the Account Management service, and optionally a <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/using-orgs-delegated-admin.html\">delegated admin</a> account\n            assigned.</p>\n        <note>\n            <p>The management account can't specify its own <code>AccountId</code>. It must call\n                the operation in standalone context by not including the <code>AccountId</code>\n                parameter.</p>\n        </note>\n        <p>To call this operation on an account that is not a member of an organization, don't\n            specify this parameter. Instead, call the operation using an identity belonging to\n            the account whose contacts you wish to retrieve or modify.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.account#GetContactInformationResponse": {
      "type": "structure",
      "members": {
        "ContactInformation": {
          "target": "com.amazonaws.account#ContactInformation",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the primary contact information associated with an Amazon Web Services account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.account#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation failed because of an error internal to Amazon Web Services. Try your operation again\n            later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.account#Name": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.account#PhoneNumber": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        },
        "smithy.api#pattern": "^[\\s0-9()+-]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.account#PostalCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.account#PutAlternateContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.account#PutAlternateContactRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.account#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.account#InternalServerException"
        },
        {
          "target": "com.amazonaws.account#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.account#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Modifies the specified alternate contact attached to an Amazon Web Services account.</p>\n        <p>For complete details about how to use the alternate contact operations, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/manage-acct-update-contact.html\">Access or\n                updating the alternate contacts</a>.</p>\n        <note>\n            <p>Before you can update the alternate contact information for an \n     Amazon Web Services account that is managed by Organizations, you must first enable integration between Amazon Web Services Account Management\n     and Organizations.  For more information, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/using-orgs-trusted-access.html\">Enabling trusted access for \n     Amazon Web Services Account Management</a>.</p>\n         </note>",
        "smithy.api#http": {
          "uri": "/putAlternateContact",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.account#PutAlternateContactRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.account#Name",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a name for the alternate contact.</p>",
            "smithy.api#required": {}
          }
        },
        "Title": {
          "target": "com.amazonaws.account#Title",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a title for the alternate contact.</p>",
            "smithy.api#required": {}
          }
        },
        "EmailAddress": {
          "target": "com.amazonaws.account#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an email address for the alternate contact. </p>",
            "smithy.api#required": {}
          }
        },
        "PhoneNumber": {
          "target": "com.amazonaws.account#PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a phone number for the alternate contact.</p>",
            "smithy.api#required": {}
          }
        },
        "AlternateContactType": {
          "target": "com.amazonaws.account#AlternateContactType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which alternate contact you want to create or update.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.account#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the 12 digit account ID number of the Amazon Web Services account that \n        you want to access or modify with this operation.</p>\n         <p>If you do not specify this parameter, it defaults to the Amazon Web Services account of the \n        identity used to call the operation.</p>\n         <p>To use this parameter, the caller must be an identity in the <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#account\">organization's management account</a> or a delegated administrator account, and \n        the specified account ID must be a member account in the same organization. The\n        organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">all features \n        enabled</a>, and the organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/using-orgs-trusted-access.html\">trusted access</a> enabled for the \n        Account Management service, and optionally a <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/using-orgs-delegated-admin.html\">delegated admin</a> account \n        assigned.</p>\n         <note>\n            <p>The management account can't specify its own <code>AccountId</code>; it must call\n            the operation in standalone context by not including the <code>AccountId</code> \n            parameter.</p>\n         </note>\n         <p>To call this operation on an account that is not a member of an organization, then \n        don't specify this parameter, and call the operation using an identity belonging to\n        the account whose contacts you wish to retrieve or modify.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.account#PutContactInformation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.account#PutContactInformationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.account#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.account#InternalServerException"
        },
        {
          "target": "com.amazonaws.account#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.account#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the primary contact information of an Amazon Web Services account.</p>\n        <p>For complete details about how to use the primary contact operations, see <a href=\"https://docs.aws.amazon.com/accounts/latest/reference/manage-acct-update-contact.html\">Update\n            the primary and alternate contact information</a>.</p>",
        "smithy.api#http": {
          "uri": "/putContactInformation",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.account#PutContactInformationRequest": {
      "type": "structure",
      "members": {
        "ContactInformation": {
          "target": "com.amazonaws.account#ContactInformation",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the primary contact information associated with an Amazon Web Services account.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.account#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the 12-digit account ID number of the Amazon Web Services account that you want to access\n            or modify with this operation. If you don't specify this parameter, it defaults to the\n            Amazon Web Services account of the identity used to call the operation. To use this parameter, the\n            caller must be an identity in the <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#account\">organization's\n                management account</a> or a delegated administrator account. The specified\n            account ID must also be a member account in the same organization. The organization must have\n            <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">all features\n                enabled</a>, and the organization must have <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/using-orgs-trusted-access.html\">trusted access</a> enabled\n            for the Account Management service, and optionally a <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/using-orgs-delegated-admin.html\">delegated admin</a> account\n            assigned.</p>\n        <note>\n            <p>The management account can't specify its own <code>AccountId</code>. It must call\n                the operation in standalone context by not including the <code>AccountId</code>\n                parameter.</p>\n        </note>\n        <p>To call this operation on an account that is not a member of an organization, don't\n            specify this parameter. Instead, call the operation using an identity belonging to\n            the account whose contacts you wish to retrieve or modify.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.account#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation failed because it specified a resource that can't be found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.account#StateOrRegion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.account#Title": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.account#TooManyRequestsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation failed because it was called too frequently and exceeded a throttle\n            limit.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429,
        "smithy.api#retryable": {
          "throttling": true
        }
      }
    },
    "com.amazonaws.account#ValidationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation failed because one of the input parameters was invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.account#WebsiteUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#sensitive": {}
      }
    }
  }
}