{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.acmpca#ACMPrivateCA": {
      "type": "service",
      "version": "2017-08-22",
      "operations": [
        {
          "target": "com.amazonaws.acmpca#CreateCertificateAuthority"
        },
        {
          "target": "com.amazonaws.acmpca#CreateCertificateAuthorityAuditReport"
        },
        {
          "target": "com.amazonaws.acmpca#CreatePermission"
        },
        {
          "target": "com.amazonaws.acmpca#DeleteCertificateAuthority"
        },
        {
          "target": "com.amazonaws.acmpca#DeletePermission"
        },
        {
          "target": "com.amazonaws.acmpca#DescribeCertificateAuthority"
        },
        {
          "target": "com.amazonaws.acmpca#DescribeCertificateAuthorityAuditReport"
        },
        {
          "target": "com.amazonaws.acmpca#GetCertificate"
        },
        {
          "target": "com.amazonaws.acmpca#GetCertificateAuthorityCertificate"
        },
        {
          "target": "com.amazonaws.acmpca#GetCertificateAuthorityCsr"
        },
        {
          "target": "com.amazonaws.acmpca#ImportCertificateAuthorityCertificate"
        },
        {
          "target": "com.amazonaws.acmpca#IssueCertificate"
        },
        {
          "target": "com.amazonaws.acmpca#ListCertificateAuthorities"
        },
        {
          "target": "com.amazonaws.acmpca#ListPermissions"
        },
        {
          "target": "com.amazonaws.acmpca#ListTags"
        },
        {
          "target": "com.amazonaws.acmpca#RestoreCertificateAuthority"
        },
        {
          "target": "com.amazonaws.acmpca#RevokeCertificate"
        },
        {
          "target": "com.amazonaws.acmpca#TagCertificateAuthority"
        },
        {
          "target": "com.amazonaws.acmpca#UntagCertificateAuthority"
        },
        {
          "target": "com.amazonaws.acmpca#UpdateCertificateAuthority"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ACM PCA",
          "arnNamespace": "acm-pca",
          "cloudFormationName": "ACMPCA",
          "cloudTrailEventSource": "acmpca.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "acm-pca"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>This is the <i>ACM Private CA API Reference</i>. It provides descriptions,\n\t\t\tsyntax, and usage examples for each of the actions and data types involved in creating\n\t\t\tand managing private certificate authorities (CA) for your organization.</p>\n\t\t       <p>The documentation for each action shows the Query API request parameters and the XML\n\t\t\tresponse. Alternatively, you can use one of the AWS SDKs to access an API that's\n\t\t\ttailored to the programming language or platform that you're using. For more\n\t\t\tinformation, see <a href=\"https://aws.amazon.com/tools/#SDKs\">AWS\n\t\t\tSDKs</a>.</p>\n\t\t       <note>\n\t\t\t         <p>Each ACM Private CA API action has a throttling limit which determines the number of times\n\t\t\t\tthe action can be called per second. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/PcaLimits.html#PcaLimits-api\">API Rate Limits in ACM Private CA</a>\n\t\t\t\tin the ACM Private CA user guide.</p>\n\t\t       </note>",
        "smithy.api#title": "AWS Certificate Manager Private Certificate Authority"
      }
    },
    "com.amazonaws.acmpca#ASN1Subject": {
      "type": "structure",
      "members": {
        "CommonName": {
          "target": "com.amazonaws.acmpca#String64",
          "traits": {
            "smithy.api#documentation": "<p>Fully qualified domain name (FQDN) associated with the certificate subject.</p>"
          }
        },
        "Country": {
          "target": "com.amazonaws.acmpca#CountryCodeString",
          "traits": {
            "smithy.api#documentation": "<p>Two-digit code that specifies the country in which the certificate subject\n\t\t\tlocated.</p>"
          }
        },
        "DistinguishedNameQualifier": {
          "target": "com.amazonaws.acmpca#DistinguishedNameQualifierString",
          "traits": {
            "smithy.api#documentation": "<p>Disambiguating information for the certificate subject.</p>"
          }
        },
        "GenerationQualifier": {
          "target": "com.amazonaws.acmpca#String3",
          "traits": {
            "smithy.api#documentation": "<p>Typically a qualifier appended to the name of an individual. Examples include Jr. for\n\t\t\tjunior, Sr. for senior, and III for third.</p>"
          }
        },
        "GivenName": {
          "target": "com.amazonaws.acmpca#String16",
          "traits": {
            "smithy.api#documentation": "<p>First name.</p>"
          }
        },
        "Initials": {
          "target": "com.amazonaws.acmpca#String5",
          "traits": {
            "smithy.api#documentation": "<p>Concatenation that typically contains the first letter of the <b>GivenName</b>, the first letter of the middle name if one exists, and the\n\t\t\tfirst letter of the <b>SurName</b>.</p>"
          }
        },
        "Locality": {
          "target": "com.amazonaws.acmpca#String128",
          "traits": {
            "smithy.api#documentation": "<p>The locality (such as a city or town) in which the certificate subject is\n\t\t\tlocated.</p>"
          }
        },
        "Organization": {
          "target": "com.amazonaws.acmpca#String64",
          "traits": {
            "smithy.api#documentation": "<p>Legal name of the organization with which the certificate subject is affiliated.\n\t\t</p>"
          }
        },
        "OrganizationalUnit": {
          "target": "com.amazonaws.acmpca#String64",
          "traits": {
            "smithy.api#documentation": "<p>A subdivision or unit of the organization (such as sales or finance) with which the\n\t\t\tcertificate subject is affiliated.</p>"
          }
        },
        "Pseudonym": {
          "target": "com.amazonaws.acmpca#String128",
          "traits": {
            "smithy.api#documentation": "<p>Typically a shortened version of a longer <b>GivenName</b>.\n\t\t\tFor example, Jonathan is often shortened to John. Elizabeth is often shortened to Beth,\n\t\t\tLiz, or Eliza.</p>"
          }
        },
        "SerialNumber": {
          "target": "com.amazonaws.acmpca#String64",
          "traits": {
            "smithy.api#documentation": "<p>The certificate serial number.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.acmpca#String128",
          "traits": {
            "smithy.api#documentation": "<p>State in which the subject of the certificate is located.</p>"
          }
        },
        "Surname": {
          "target": "com.amazonaws.acmpca#String40",
          "traits": {
            "smithy.api#documentation": "<p>Family name. In the US and the UK, for example, the surname of an individual is\n\t\t\tordered last. In Asian cultures the surname is typically ordered first.</p>"
          }
        },
        "Title": {
          "target": "com.amazonaws.acmpca#String64",
          "traits": {
            "smithy.api#documentation": "<p>A title such as Mr. or Ms., which is pre-pended to the name to refer formally to the\n\t\t\tcertificate subject.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the certificate subject. The certificate can be one issued\n\t\t\tby your private certificate authority (CA) or it can be your private CA certificate. The\n\t\t\t\t<b>Subject</b> field in the certificate identifies the\n\t\t\tentity that owns or controls the public key in the certificate. The entity can be a\n\t\t\tuser, computer, device, or service. The <b>Subject</b> must\n\t\t\tcontain an X.500 distinguished name (DN). A DN is a sequence of relative distinguished\n\t\t\tnames (RDNs). The RDNs are separated by commas in the certificate. The DN must be unique\n\t\t\tfor each entity, but your private CA can issue more than one certificate with the same\n\t\t\tDN to the same entity. </p>"
      }
    },
    "com.amazonaws.acmpca#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "[0-9]+"
      }
    },
    "com.amazonaws.acmpca#ActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acmpca#ActionType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 3
        }
      }
    },
    "com.amazonaws.acmpca#ActionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IssueCertificate",
            "name": "IssueCertificate"
          },
          {
            "value": "GetCertificate",
            "name": "GetCertificate"
          },
          {
            "value": "ListPermissions",
            "name": "ListPermissions"
          }
        ]
      }
    },
    "com.amazonaws.acmpca#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 200
        },
        "smithy.api#pattern": "arn:[\\w+=/,.@-]+:[\\w+=/,.@-]+:[\\w+=/,.@-]*:[0-9]*:[\\w+=,.@-]+(/[\\w+=/,.@-]+)*"
      }
    },
    "com.amazonaws.acmpca#AuditReportId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "[a-z0-9]{8}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{12}"
      }
    },
    "com.amazonaws.acmpca#AuditReportResponseFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "JSON",
            "name": "JSON"
          },
          {
            "value": "CSV",
            "name": "CSV"
          }
        ]
      }
    },
    "com.amazonaws.acmpca#AuditReportStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "SUCCESS",
            "name": "SUCCESS"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.acmpca#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.acmpca#CertificateAuthorities": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acmpca#CertificateAuthority"
      }
    },
    "com.amazonaws.acmpca#CertificateAuthority": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for your private certificate authority (CA). The format is\n\t\t\t\t\t<code>\n               <i>12345678-1234-1234-1234-123456789012</i>\n            </code>.</p>"
          }
        },
        "CertificateAuthorityConfiguration": {
          "target": "com.amazonaws.acmpca#CertificateAuthorityConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Your private CA configuration.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.acmpca#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Date and time at which your private CA was created.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.acmpca#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>Reason the request to create your private CA failed.</p>"
          }
        },
        "LastStateChangeAt": {
          "target": "com.amazonaws.acmpca#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Date and time at which your private CA was last updated.</p>"
          }
        },
        "NotAfter": {
          "target": "com.amazonaws.acmpca#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Date and time after which your private CA certificate is not valid.</p>"
          }
        },
        "NotBefore": {
          "target": "com.amazonaws.acmpca#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Date and time before which your private CA certificate is not valid.</p>"
          }
        },
        "RestorableUntil": {
          "target": "com.amazonaws.acmpca#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The period during which a deleted CA can be restored. For more information, see the\n\t\t\t\t<code>PermanentDeletionTimeInDays</code> parameter of the <a>DeleteCertificateAuthorityRequest</a> action. </p>"
          }
        },
        "RevocationConfiguration": {
          "target": "com.amazonaws.acmpca#RevocationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information about the certificate revocation list (CRL) created and maintained by your\n\t\t\tprivate CA. </p>"
          }
        },
        "Serial": {
          "target": "com.amazonaws.acmpca#String",
          "traits": {
            "smithy.api#documentation": "<p>Serial number of your private CA.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.acmpca#CertificateAuthorityStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of your private CA.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.acmpca#CertificateAuthorityType",
          "traits": {
            "smithy.api#documentation": "<p>Type of your private CA.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about your private certificate authority (CA). Your private CA can\n\t\t\tissue and revoke X.509 digital certificates. Digital certificates verify that the entity\n\t\t\tnamed in the certificate <b>Subject</b> field owns or controls\n\t\t\tthe public key contained in the <b>Subject Public Key Info</b>\n\t\t\tfield. Call the <a>CreateCertificateAuthority</a> action to create your\n\t\t\tprivate CA. You must then call the <a>GetCertificateAuthorityCertificate</a>\n\t\t\taction to retrieve a private CA certificate signing request (CSR). Sign the CSR with\n\t\t\tyour ACM Private CA-hosted or on-premises root  or subordinate CA certificate. Call the <a>ImportCertificateAuthorityCertificate</a> action to import the signed\n\t\t\tcertificate into AWS Certificate Manager (ACM). </p>"
      }
    },
    "com.amazonaws.acmpca#CertificateAuthorityConfiguration": {
      "type": "structure",
      "members": {
        "KeyAlgorithm": {
          "target": "com.amazonaws.acmpca#KeyAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>Type of the public key algorithm and size, in bits, of the key pair that your CA creates\n\t\t\twhen it issues a certificate. When you create a subordinate CA, you must use a key\n\t\t\talgorithm supported by the parent CA.</p>",
            "smithy.api#required": {}
          }
        },
        "SigningAlgorithm": {
          "target": "com.amazonaws.acmpca#SigningAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>Name of the algorithm your private CA uses to sign certificate requests.</p>",
            "smithy.api#required": {}
          }
        },
        "Subject": {
          "target": "com.amazonaws.acmpca#ASN1Subject",
          "traits": {
            "smithy.api#documentation": "<p>Structure that contains X.500 distinguished name information for your private\n\t\t\tCA.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configuration information for your private certificate authority (CA). This\n\t\t\tincludes information about the class of public key algorithm and the key pair that your\n\t\t\tprivate CA creates when it issues a certificate. It also includes the signature\n\t\t\talgorithm that it uses when issuing certificates, and its X.500 distinguished name. You\n\t\t\tmust specify this information when you call the <a>CreateCertificateAuthority</a> action. </p>"
      }
    },
    "com.amazonaws.acmpca#CertificateAuthorityStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "PENDING_CERTIFICATE",
            "name": "PENDING_CERTIFICATE"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "EXPIRED",
            "name": "EXPIRED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.acmpca#CertificateAuthorityType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ROOT",
            "name": "ROOT"
          },
          {
            "value": "SUBORDINATE",
            "name": "SUBORDINATE"
          }
        ]
      }
    },
    "com.amazonaws.acmpca#CertificateBody": {
      "type": "string"
    },
    "com.amazonaws.acmpca#CertificateBodyBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32768
        }
      }
    },
    "com.amazonaws.acmpca#CertificateChain": {
      "type": "string"
    },
    "com.amazonaws.acmpca#CertificateChainBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2097152
        }
      }
    },
    "com.amazonaws.acmpca#CertificateMismatchException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The certificate authority certificate you are importing does not comply with\n\t\t\tconditions specified in the certificate that signed it.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A previous update to your private CA is still ongoing.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#CountryCodeString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[A-Za-z]{2}"
      }
    },
    "com.amazonaws.acmpca#CreateCertificateAuthority": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#CreateCertificateAuthorityRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#CreateCertificateAuthorityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArgsException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidPolicyException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidTagException"
        },
        {
          "target": "com.amazonaws.acmpca#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a root or subordinate private certificate authority (CA). You must specify the CA\n\t\t\tconfiguration, the certificate revocation list (CRL) configuration, the CA type, and an\n\t\t\toptional idempotency token to avoid accidental creation of multiple CAs. The CA\n\t\t\tconfiguration specifies the name of the algorithm and key size to be used to create the\n\t\t\tCA private key, the type of signing algorithm that the CA uses, and X.500 subject\n\t\t\tinformation. The CRL configuration specifies the CRL expiration period in days (the\n\t\t\tvalidity period of the CRL), the Amazon S3 bucket that will contain the CRL, and a CNAME\n\t\t\talias for the S3 bucket that is included in certificates issued by the CA. If\n\t\t\tsuccessful, this action returns the Amazon Resource Name (ARN) of the CA.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.acmpca#CreateCertificateAuthorityAuditReport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#CreateCertificateAuthorityAuditReportRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#CreateCertificateAuthorityAuditReportResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArgsException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestFailedException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestInProgressException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an audit report that lists every time that your CA private key is used. The report\n\t\t\tis saved in the Amazon S3 bucket that you specify on input. The <a>IssueCertificate</a> and <a>RevokeCertificate</a> actions use the\n\t\t\tprivate key.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.acmpca#CreateCertificateAuthorityAuditReportRequest": {
      "type": "structure",
      "members": {
        "AuditReportResponseFormat": {
          "target": "com.amazonaws.acmpca#AuditReportResponseFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format in which to create the report. This can be either <b>JSON</b> or <b>CSV</b>.</p>",
            "smithy.api#required": {}
          }
        },
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the CA to be audited. This is of the form:</p>\n\t\t       <p>\n            <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>.</p>",
            "smithy.api#required": {}
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.acmpca#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the S3 bucket that will contain the audit report.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.acmpca#CreateCertificateAuthorityAuditReportResponse": {
      "type": "structure",
      "members": {
        "AuditReportId": {
          "target": "com.amazonaws.acmpca#AuditReportId",
          "traits": {
            "smithy.api#documentation": "<p>An alphanumeric string that contains a report identifier.</p>"
          }
        },
        "S3Key": {
          "target": "com.amazonaws.acmpca#String",
          "traits": {
            "smithy.api#documentation": "<p>The <b>key</b> that uniquely identifies the report file in\n\t\t\tyour S3 bucket.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#CreateCertificateAuthorityRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityConfiguration": {
          "target": "com.amazonaws.acmpca#CertificateAuthorityConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Name and bit size of the private key algorithm, the name of the signing algorithm, and\n\t\t\tX.500 certificate subject information.</p>",
            "smithy.api#required": {}
          }
        },
        "CertificateAuthorityType": {
          "target": "com.amazonaws.acmpca#CertificateAuthorityType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the certificate authority.</p>",
            "smithy.api#required": {}
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.acmpca#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>Alphanumeric string that can be used to distinguish between calls to <b>CreateCertificateAuthority</b>. Idempotency tokens time out after\n\t\t\tfive minutes. Therefore, if you call <b>CreateCertificateAuthority</b> multiple times with the same idempotency\n\t\t\ttoken within a five minute period, ACM Private CA recognizes that you are requesting only one\n\t\t\tcertificate. As a result, ACM Private CA issues only one. If you change the idempotency token for\n\t\t\teach call, however, ACM Private CA recognizes that you are requesting multiple\n\t\t\tcertificates.</p>"
          }
        },
        "RevocationConfiguration": {
          "target": "com.amazonaws.acmpca#RevocationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains a Boolean value that you can use to enable a certification revocation list\n\t\t\t(CRL) for the CA, the name of the S3 bucket to which ACM Private CA will write the CRL, and an\n\t\t\toptional CNAME alias that you can use to hide the name of your bucket in the <b>CRL Distribution Points</b> extension of your CA certificate. For\n\t\t\tmore information, see the <a>CrlConfiguration</a> structure. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.acmpca#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that will be attached to the new private CA. You can associate up to\n\t\t\t50 tags with a private CA. For information using tags with </p>\n\t\t       <p>IAM to manage permissions, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_iam-tags.html\">Controlling Access Using IAM Tags</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#CreateCertificateAuthorityResponse": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>If successful, the Amazon Resource Name (ARN) of the certificate authority (CA). This\n\t\t\tis of the form: </p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>.\n\t\t</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#CreatePermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#CreatePermissionRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#LimitExceededException"
        },
        {
          "target": "com.amazonaws.acmpca#PermissionAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestFailedException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Assigns permissions from a private CA to a designated AWS service. Services are\n\t\t\tspecified by their service principals and can be given permission to create and retrieve\n\t\t\tcertificates on a private CA. Services can also be given permission to list the active\n\t\t\tpermissions that the private CA has granted. For ACM to automatically renew your\n\t\t\tprivate CA's certificates, you must assign all possible permissions from the CA to the\n\t\t\tACM service principal.</p>\n\t\t       <p>At this time, you can only assign permissions to ACM (<code>acm.amazonaws.com</code>).\n\t\t\tPermissions can be revoked with the <a>DeletePermission</a> action and listed\n\t\t\twith the <a>ListPermissions</a> action.</p>"
      }
    },
    "com.amazonaws.acmpca#CreatePermissionRequest": {
      "type": "structure",
      "members": {
        "Actions": {
          "target": "com.amazonaws.acmpca#ActionList",
          "traits": {
            "smithy.api#documentation": "<p>The actions that the specified AWS service principal can use. These include\n\t\t\t\t<code>IssueCertificate</code>, <code>GetCertificate</code>, and\n\t\t\t\t<code>ListPermissions</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the CA that grants the permissions. You can find the ARN\n\t\t\tby calling the <a>ListCertificateAuthorities</a> action. This must have the\n\t\t\tfollowing form: </p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>.\n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "Principal": {
          "target": "com.amazonaws.acmpca#Principal",
          "traits": {
            "smithy.api#documentation": "<p>The AWS service or identity that receives the permission. At this time, the only\n\t\t\tvalid principal is <code>acm.amazonaws.com</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceAccount": {
          "target": "com.amazonaws.acmpca#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the calling account.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#CrlConfiguration": {
      "type": "structure",
      "members": {
        "CustomCname": {
          "target": "com.amazonaws.acmpca#String253",
          "traits": {
            "smithy.api#documentation": "<p>Name inserted into the certificate <b>CRL Distribution\n\t\t\t\tPoints</b> extension that enables the use of an alias for the CRL\n\t\t\tdistribution point. Use this value if you don't want the name of your S3 bucket to be\n\t\t\tpublic.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.acmpca#Boolean",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>Boolean value that specifies whether certificate revocation lists (CRLs) are enabled. You\n\t\t\tcan use this value to enable certificate revocation for a new CA when you call the <a>CreateCertificateAuthority</a> action or for an existing CA when you call\n\t\t\tthe <a>UpdateCertificateAuthority</a> action. </p>",
            "smithy.api#required": {}
          }
        },
        "ExpirationInDays": {
          "target": "com.amazonaws.acmpca#Integer1To5000",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>Number of days until a certificate expires.</p>"
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.acmpca#String3To255",
          "traits": {
            "smithy.api#documentation": "<p>Name of the S3 bucket that contains the CRL. If you do not provide a value for the\n\t\t\t\t<b>CustomCname</b> argument, the name of your S3 bucket\n\t\t\tis placed into the <b>CRL Distribution Points</b> extension of\n\t\t\tthe issued certificate. You can change the name of your bucket by calling the <a>UpdateCertificateAuthority</a> action. You must specify a bucket policy that\n\t\t\tallows ACM Private CA to write the CRL to your bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configuration information for a certificate revocation list (CRL). Your\n\t\t\tprivate certificate authority (CA) creates base CRLs. Delta CRLs are not supported. You\n\t\t\tcan enable CRLs for your new or an existing private CA by setting the <b>Enabled</b> parameter to <code>true</code>. Your private CA\n\t\t\twrites CRLs to an S3 bucket that you specify in the <b>S3BucketName</b> parameter. You can hide the name of your bucket by\n\t\t\tspecifying a value for the <b>CustomCname</b> parameter. Your\n\t\t\tprivate CA copies the CNAME or the S3 bucket name to the <b>CRL\n\t\t\t\tDistribution Points</b> extension of each certificate it issues. Your S3\n\t\t\tbucket policy must give write permission to ACM Private CA. </p>\n\t\t       <p>Your private CA uses the value in the <b>ExpirationInDays</b> parameter to calculate the <b>nextUpdate</b> field in the CRL. The CRL is refreshed at 1/2 the age of next\n\t\t\tupdate or when a certificate is revoked. When a certificate is revoked, it is recorded\n\t\t\tin the next CRL that is generated and in the next audit report. Only time valid\n\t\t\tcertificates are listed in the CRL. Expired certificates are not included. </p>\n\t\t       <p>CRLs contain the following fields:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <b>Version</b>: The current version number defined\n\t\t\t\t\tin RFC 5280 is V2. The integer value is 0x1. </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Signature Algorithm</b>: The name of the\n\t\t\t\t\talgorithm used to sign the CRL.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Issuer</b>: The X.500 distinguished name of your\n\t\t\t\t\tprivate CA that issued the CRL.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Last Update</b>: The issue date and time of this\n\t\t\t\t\tCRL.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Next Update</b>: The day and time by which the\n\t\t\t\t\tnext CRL will be issued.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Revoked Certificates</b>: List of revoked\n\t\t\t\t\tcertificates. Each list item contains the following information.</p>\n\t\t\t\t           <ul>\n                  <li>\n\t\t\t\t\t\t               <p>\n                        <b>Serial Number</b>: The serial number, in\n\t\t\t\t\t\t\thexadecimal format, of the revoked certificate.</p>\n\t\t\t\t\t             </li>\n                  <li>\n\t\t\t\t\t\t               <p>\n                        <b>Revocation Date</b>: Date and time the\n\t\t\t\t\t\t\tcertificate was revoked.</p>\n\t\t\t\t\t             </li>\n                  <li>\n\t\t\t\t\t\t               <p>\n                        <b>CRL Entry Extensions</b>: Optional\n\t\t\t\t\t\t\textensions for the CRL entry.</p>\n\t\t\t\t\t\t               <ul>\n                        <li>\n\t\t\t\t\t\t\t\t                   <p>\n                              <b>X509v3 CRL Reason Code</b>:\n\t\t\t\t\t\t\t\t\tReason the certificate was revoked.</p>\n\t\t\t\t\t\t\t                 </li>\n                     </ul>\n\t\t\t\t\t             </li>\n               </ul>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>CRL Extensions</b>: Optional extensions for the\n\t\t\t\t\tCRL.</p>\n\t\t\t\t           <ul>\n                  <li>\n\t\t\t\t\t\t               <p>\n                        <b>X509v3 Authority Key Identifier</b>:\n\t\t\t\t\t\t\tIdentifies the public key associated with the private key used to sign\n\t\t\t\t\t\t\tthe certificate.</p>\n\t\t\t\t\t             </li>\n                  <li>\n\t\t\t\t\t\t               <p>\n                        <b>X509v3 CRL Number:</b>: Decimal sequence\n\t\t\t\t\t\t\tnumber for the CRL.</p>\n\t\t\t\t\t             </li>\n               </ul>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Signature Algorithm</b>: Algorithm used by your\n\t\t\t\t\tprivate CA to sign the CRL.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Signature Value</b>: Signature computed over the\n\t\t\t\t\tCRL.</p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>Certificate revocation lists created by ACM Private CA are DER-encoded. You can use the\n\t\t\tfollowing OpenSSL command to list a CRL.</p>\n\t\t       <p>\n            <code>openssl crl -inform DER -text -in <i>crl_path</i>\n\t\t\t-noout</code>\n         </p>"
      }
    },
    "com.amazonaws.acmpca#CsrBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32768
        }
      }
    },
    "com.amazonaws.acmpca#CsrBody": {
      "type": "string"
    },
    "com.amazonaws.acmpca#DeleteCertificateAuthority": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#DeleteCertificateAuthorityRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a private certificate authority (CA). You must provide the Amazon Resource\n\t\t\tName (ARN) of the private CA that you want to delete. You can find the ARN by calling\n\t\t\tthe <a>ListCertificateAuthorities</a> action. </p>\n\t\t       <note>\n\t\t\t         <p>Deleting a CA will invalidate other CAs and certificates below it in your CA\n\t\t\t\thierarchy.</p>\n\t\t       </note>\n\t\t       <p>Before you can delete a CA that you have created and activated, you must disable it.\n\t\t\tTo do this, call the <a>UpdateCertificateAuthority</a> action and set the\n\t\t\t\t<b>CertificateAuthorityStatus</b> parameter to\n\t\t\t\t<code>DISABLED</code>. </p>\n\t\t       <p>Additionally, you can delete a CA if you are waiting for it to be created (that is,\n\t\t\tthe status of the CA is <code>CREATING</code>). You can also delete it if the CA has\n\t\t\tbeen created but you haven't yet imported the signed certificate  into ACM Private CA (that is,\n\t\t\tthe status of the CA is <code>PENDING_CERTIFICATE</code>). </p>\n\t\t       <p>When you successfully call <a>DeleteCertificateAuthority</a>, the CA's\n\t\t\tstatus changes to <code>DELETED</code>. However, the CA won't be permanently deleted\n\t\t\tuntil the restoration period has passed. By default, if you do not set the\n\t\t\t\t<code>PermanentDeletionTimeInDays</code> parameter, the CA remains restorable for 30\n\t\t\tdays. You can set the parameter from 7 to 30 days. The <a>DescribeCertificateAuthority</a> action returns the time remaining in the\n\t\t\trestoration window of a private CA in the <code>DELETED</code> state. To restore an\n\t\t\teligible CA, call the <a>RestoreCertificateAuthority</a> action.</p>"
      }
    },
    "com.amazonaws.acmpca#DeleteCertificateAuthorityRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a>CreateCertificateAuthority</a>. This must have the following form: </p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>.\n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "PermanentDeletionTimeInDays": {
          "target": "com.amazonaws.acmpca#PermanentDeletionTimeInDays",
          "traits": {
            "smithy.api#documentation": "<p>The number of days to make a CA restorable after it has been deleted. This can be\n\t\t\tanywhere from 7 to 30 days, with 30 being the default.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#DeletePermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#DeletePermissionRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestFailedException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Revokes permissions that a private CA assigned to a designated AWS service. Permissions\n\t\t\tcan be created with the <a>CreatePermission</a> action and listed with the\n\t\t\t\t<a>ListPermissions</a> action. </p>"
      }
    },
    "com.amazonaws.acmpca#DeletePermissionRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the private CA that issued the permissions. You can find\n\t\t\tthe CA's ARN by calling the <a>ListCertificateAuthorities</a> action. This\n\t\t\tmust have the following form: </p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>.\n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "Principal": {
          "target": "com.amazonaws.acmpca#Principal",
          "traits": {
            "smithy.api#documentation": "<p>The AWS service or identity that will have its CA permissions revoked. At this time,\n\t\t\tthe only valid service principal is <code>acm.amazonaws.com</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "SourceAccount": {
          "target": "com.amazonaws.acmpca#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account that calls this action.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#DescribeCertificateAuthority": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#DescribeCertificateAuthorityRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#DescribeCertificateAuthorityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists information about your private certificate authority (CA). You specify the\n\t\t\tprivate CA on input by its ARN (Amazon Resource Name). The output contains the status of\n\t\t\tyour CA. This can be any of the following: </p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <code>CREATING</code> - ACM Private CA is creating your private certificate\n\t\t\t\t\tauthority.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>PENDING_CERTIFICATE</code> - The certificate is pending. You must use your\n\t\t\t\t\tACM Private CA-hosted or on-premises root or subordinate CA to sign your private CA CSR\n\t\t\t\t\tand then import it into PCA. </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>ACTIVE</code> - Your private CA is active.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>DISABLED</code> - Your private CA has been disabled.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>EXPIRED</code> - Your private CA certificate has expired.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>FAILED</code> - Your private CA has failed. Your CA can fail because of\n\t\t\t\t\tproblems such a network outage or backend AWS failure or other errors. A\n\t\t\t\t\tfailed CA can never return to the pending state. You must create a new CA.\n\t\t\t\t</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>DELETED</code> - Your private CA is within the restoration period, after which it is\n\t\t\t\t\tpermanently deleted. The length of time remaining in the CA's restoration period\n\t\t\t\t\tis also included in this action's output.</p>\n\t\t\t         </li>\n         </ul>"
      }
    },
    "com.amazonaws.acmpca#DescribeCertificateAuthorityAuditReport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#DescribeCertificateAuthorityAuditReportRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#DescribeCertificateAuthorityAuditReportResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArgsException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists information about a specific audit report created by calling the <a>CreateCertificateAuthorityAuditReport</a> action. Audit information is\n\t\t\tcreated every time the certificate authority (CA) private key is used. The private key\n\t\t\tis used when you call the <a>IssueCertificate</a> action or the <a>RevokeCertificate</a> action. </p>"
      }
    },
    "com.amazonaws.acmpca#DescribeCertificateAuthorityAuditReportRequest": {
      "type": "structure",
      "members": {
        "AuditReportId": {
          "target": "com.amazonaws.acmpca#AuditReportId",
          "traits": {
            "smithy.api#documentation": "<p>The report ID returned by calling the <a>CreateCertificateAuthorityAuditReport</a> action.</p>",
            "smithy.api#required": {}
          }
        },
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the private CA. This must be of the form:</p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>.\n\t\t</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.acmpca#DescribeCertificateAuthorityAuditReportResponse": {
      "type": "structure",
      "members": {
        "AuditReportStatus": {
          "target": "com.amazonaws.acmpca#AuditReportStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether report creation is in progress, has succeeded, or has failed.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.acmpca#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time at which the report was created.</p>"
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.acmpca#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of the S3 bucket that contains the report.</p>"
          }
        },
        "S3Key": {
          "target": "com.amazonaws.acmpca#String",
          "traits": {
            "smithy.api#documentation": "<p>S3 <b>key</b> that uniquely identifies the report file in\n\t\t\tyour S3 bucket.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#DescribeCertificateAuthorityRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a>CreateCertificateAuthority</a>. This must be of the form: </p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>.\n\t\t</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.acmpca#DescribeCertificateAuthorityResponse": {
      "type": "structure",
      "members": {
        "CertificateAuthority": {
          "target": "com.amazonaws.acmpca#CertificateAuthority",
          "traits": {
            "smithy.api#documentation": "<p>A <a>CertificateAuthority</a> structure that contains information about\n\t\t\tyour private CA.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#DistinguishedNameQualifierString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        },
        "smithy.api#pattern": "[a-zA-Z0-9'()+-.?:/= ]*"
      }
    },
    "com.amazonaws.acmpca#FailureReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "REQUEST_TIMED_OUT",
            "name": "REQUEST_TIMED_OUT"
          },
          {
            "value": "UNSUPPORTED_ALGORITHM",
            "name": "UNSUPPORTED_ALGORITHM"
          },
          {
            "value": "OTHER",
            "name": "OTHER"
          }
        ]
      }
    },
    "com.amazonaws.acmpca#GetCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#GetCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#GetCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestFailedException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestInProgressException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a certificate from your private CA. The ARN of the certificate is returned when\n\t\t\tyou call the <a>IssueCertificate</a> action. You must specify both the ARN of\n\t\t\tyour private CA and the ARN of the issued certificate when calling the <b>GetCertificate</b> action. You can retrieve the certificate if it\n\t\t\tis in the <b>ISSUED</b> state. You can call the <a>CreateCertificateAuthorityAuditReport</a> action to create a report that\n\t\t\tcontains information about all of the certificates issued and revoked by your private\n\t\t\tCA. </p>"
      }
    },
    "com.amazonaws.acmpca#GetCertificateAuthorityCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#GetCertificateAuthorityCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#GetCertificateAuthorityCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the certificate and certificate chain for your private certificate authority\n\t\t\t(CA). Both the certificate and the chain are base64 PEM-encoded. The chain does not\n\t\t\tinclude the CA certificate. Each certificate in the chain signs the one before it. </p>"
      }
    },
    "com.amazonaws.acmpca#GetCertificateAuthorityCertificateRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of your private CA. This is of the form:</p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>.\n\t\t</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.acmpca#GetCertificateAuthorityCertificateResponse": {
      "type": "structure",
      "members": {
        "Certificate": {
          "target": "com.amazonaws.acmpca#CertificateBody",
          "traits": {
            "smithy.api#documentation": "<p>Base64-encoded certificate authority (CA) certificate.</p>"
          }
        },
        "CertificateChain": {
          "target": "com.amazonaws.acmpca#CertificateChain",
          "traits": {
            "smithy.api#documentation": "<p>Base64-encoded certificate chain that includes any intermediate certificates and chains up\n\t\t\tto root on-premises certificate that you used to sign your private CA certificate. The\n\t\t\tchain does not include your private CA certificate. If this is a root CA, the value will\n\t\t\tbe null.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#GetCertificateAuthorityCsr": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#GetCertificateAuthorityCsrRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#GetCertificateAuthorityCsrResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestFailedException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestInProgressException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the certificate signing request (CSR) for your private certificate authority (CA).\n\t\t\tThe CSR is created when you call the <a>CreateCertificateAuthority</a>\n\t\t\taction. Sign the CSR with your ACM Private CA-hosted or on-premises root or subordinate CA. Then\n\t\t\timport the signed certificate back into ACM Private CA by calling the <a>ImportCertificateAuthorityCertificate</a> action. The CSR is returned as a\n\t\t\tbase64 PEM-encoded string. </p>"
      }
    },
    "com.amazonaws.acmpca#GetCertificateAuthorityCsrRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called the <a>CreateCertificateAuthority</a> action. This must be of the form: </p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>\n\t\t       </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.acmpca#GetCertificateAuthorityCsrResponse": {
      "type": "structure",
      "members": {
        "Csr": {
          "target": "com.amazonaws.acmpca#CsrBody",
          "traits": {
            "smithy.api#documentation": "<p>The base64 PEM-encoded certificate signing request (CSR) for your private CA\n\t\t\tcertificate.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#GetCertificateRequest": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the issued certificate. The ARN contains the certificate serial number and\n\t\t\tmust be in the following form: </p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>/certificate/<i>286535153982981100925020015808220737245</i>\n            </code>\n\t\t       </p>",
            "smithy.api#required": {}
          }
        },
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a>CreateCertificateAuthority</a>. This must be of the form: </p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>.\n\t\t</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.acmpca#GetCertificateResponse": {
      "type": "structure",
      "members": {
        "Certificate": {
          "target": "com.amazonaws.acmpca#CertificateBody",
          "traits": {
            "smithy.api#documentation": "<p>The base64 PEM-encoded certificate specified by the <code>CertificateArn</code>\n\t\t\tparameter.</p>"
          }
        },
        "CertificateChain": {
          "target": "com.amazonaws.acmpca#CertificateChain",
          "traits": {
            "smithy.api#documentation": "<p>The base64 PEM-encoded certificate chain that chains up to the on-premises root CA\n\t\t\tcertificate that you used to sign your private CA certificate. </p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#IdempotencyToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        },
        "smithy.api#pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u00FF]*"
      }
    },
    "com.amazonaws.acmpca#ImportCertificateAuthorityCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#ImportCertificateAuthorityCertificateRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#CertificateMismatchException"
        },
        {
          "target": "com.amazonaws.acmpca#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#MalformedCertificateException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestFailedException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestInProgressException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Imports a signed\n\t\t\tprivate CA certificate into ACM Private CA. This action is used when you are using a chain of\n\t\t\ttrust whose root is located outside ACM Private CA. Before you can call this action, the\n\t\t\tfollowing preparations must in place:</p>\n\t\t\n\t\t       <ol>\n            <li>\n               <p>In ACM Private CA,  call the <a>CreateCertificateAuthority</a> action to create the private\n\t\t\t\t\tCA that that you plan to back with the imported certificate.</p>\n            </li>\n            <li>\n               <p>Call the <a>GetCertificateAuthorityCsr</a> action to generate a certificate signing\n\t\t\t\t\trequest (CSR).</p>\n            </li>\n            <li>\n               <p>Sign the CSR using a root or intermediate CA hosted either by an on-premises PKI hierarchy or\n\t\t\t\t\ta commercial CA..</p>\n            </li>\n            <li>\n               <p>Create a\n\t\t\t\t\tcertificate chain and copy the signed certificate and the certificate chain to your\n\t\t\t\t\tworking directory.</p>\n            </li>\n         </ol>\t\t\n\t\t\n\t\t       <p>The following requirements apply when you import a CA certificate.</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>You cannot import a non-self-signed certificate for use as a root CA.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>You cannot import a self-signed certificate for use as a subordinate\n\t\t\t\t\tCA.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Your certificate chain must not include the private CA certificate that you\n\t\t\t\t\tare importing.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Your ACM Private CA-hosted or on-premises CA certificate must be the last certificate\n\t\t\t\t\tin your chain. The subordinate certificate, if any, that your root CA signed\n\t\t\t\t\tmust be next to last. The subordinate certificate signed by the preceding\n\t\t\t\t\tsubordinate CA must come next, and so on until your chain is built. </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>The chain must be PEM-encoded.</p>\n\t\t\t         </li>\n         </ul>"
      }
    },
    "com.amazonaws.acmpca#ImportCertificateAuthorityCertificateRequest": {
      "type": "structure",
      "members": {
        "Certificate": {
          "target": "com.amazonaws.acmpca#CertificateBodyBlob",
          "traits": {
            "smithy.api#documentation": "<p>The PEM-encoded certificate for a private CA. This may be a self-signed certificate in the\n\t\t\tcase of a root CA, or it may be signed by another CA that you control.</p>",
            "smithy.api#required": {}
          }
        },
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a>CreateCertificateAuthority</a>. This must be of the form: </p>\n\t\t       <p>\n            <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "CertificateChain": {
          "target": "com.amazonaws.acmpca#CertificateChainBlob",
          "traits": {
            "smithy.api#documentation": "<p>A PEM-encoded file that contains all of your certificates, other than the certificate you're\n\t\t\timporting, chaining up to your root CA. Your ACM Private CA-hosted or on-premises root\n\t\t\tcertificate is the last in the chain, and each certificate in the chain signs the one\n\t\t\tpreceding. </p>\n\t\t       <p>This parameter must be supplied when you import a subordinate CA. When you import a\n\t\t\troot CA, there is no chain.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#Integer1To5000": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 5000
        }
      }
    },
    "com.amazonaws.acmpca#InvalidArgsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more of the specified arguments was not valid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#InvalidArnException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested Amazon Resource Name (ARN) does not refer to an existing\n\t\t\tresource.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#InvalidNextTokenException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The token specified in the <code>NextToken</code> argument is not valid. Use the token\n\t\t\treturned from your previous call to <a>ListCertificateAuthorities</a>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#InvalidPolicyException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The S3 bucket policy is not valid. The policy must give ACM Private CA rights to read from\n\t\t\tand write to the bucket and find the bucket location.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#InvalidRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request action cannot be performed or is prohibited.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#InvalidStateException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The private CA is in a state during which a report or certificate cannot be\n\t\t\tgenerated.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#InvalidTagException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The tag associated with the CA is not valid. The invalid argument is contained in the\n\t\t\tmessage field.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#IssueCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#IssueCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#IssueCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArgsException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#LimitExceededException"
        },
        {
          "target": "com.amazonaws.acmpca#MalformedCSRException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Uses your private certificate authority (CA) to issue a client certificate. This action\n\t\t\treturns the Amazon Resource Name (ARN) of the certificate. You can retrieve the\n\t\t\tcertificate by calling the <a>GetCertificate</a> action and specifying the\n\t\t\tARN. </p>\n\t\t       <note>\n\t\t\t         <p>You cannot use the ACM <b>ListCertificateAuthorities</b> action\n\t\t\t\tto retrieve the ARNs of the certificates that you issue by using ACM Private CA.</p>\n\t\t       </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.acmpca#IssueCertificateRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a>CreateCertificateAuthority</a>. This must be of the form:</p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>\n\t\t       </p>",
            "smithy.api#required": {}
          }
        },
        "Csr": {
          "target": "com.amazonaws.acmpca#CsrBlob",
          "traits": {
            "smithy.api#documentation": "<p>The certificate signing request (CSR) for the certificate you want to issue. You can\n\t\t\tuse the following OpenSSL command to create the CSR and a 2048 bit RSA private key. </p>\n\t\t       <p>\n\t\t\t         <code>openssl req -new -newkey rsa:2048 -days 365 -keyout private/test_cert_priv_key.pem\n\t\t\t\t-out csr/test_cert_.csr</code>\n\t\t       </p>\n\t\t       <p>If you have a configuration file, you can use the following OpenSSL command. The\n\t\t\t\t<code>usr_cert</code> block in the configuration file contains your X509 version 3\n\t\t\textensions. </p>\n\t\t       <p>\n            <code>openssl req -new -config openssl_rsa.cnf -extensions usr_cert -newkey rsa:2048\n\t\t\t\t-days -365 -keyout private/test_cert_priv_key.pem -out\n\t\t\tcsr/test_cert_.csr</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.acmpca#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>Custom string that can be used to distinguish between calls to the <b>IssueCertificate</b> action. Idempotency tokens time out after one hour.\n\t\t\tTherefore, if you call <b>IssueCertificate</b> multiple times\n\t\t\twith the same idempotency token within 5 minutes, ACM Private CA recognizes that you are\n\t\t\trequesting only one certificate and will issue only one. If you change the idempotency\n\t\t\ttoken for each call, PCA recognizes that you are requesting multiple\n\t\t\tcertificates.</p>"
          }
        },
        "SigningAlgorithm": {
          "target": "com.amazonaws.acmpca#SigningAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The name of the algorithm that will be used to sign the certificate to be\n\t\t\tissued.</p>",
            "smithy.api#required": {}
          }
        },
        "TemplateArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a custom configuration template to use when issuing a certificate. If this\n\t\t\tparameter is not provided, ACM Private CA defaults to the <code>EndEntityCertificate/V1</code>\n\t\t\ttemplate.</p>\n\t\t       <p>The following service-owned <code>TemplateArn</code> values are supported by ACM Private CA: </p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>arn:aws:acm-pca:::template/EndEntityCertificate/V1</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>arn:aws:acm-pca:::template/SubordinateCACertificate_PathLen0/V1</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>arn:aws:acm-pca:::template/SubordinateCACertificate_PathLen1/V1</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>arn:aws:acm-pca:::template/SubordinateCACertificate_PathLen2/V1</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>arn:aws:acm-pca:::template/SubordinateCACertificate_PathLen3/V1</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>arn:aws:acm-pca:::template/RootCACertificate/V1</p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/UsingTemplates.html\">Using\n\t\t\t\tTemplates</a>.</p>"
          }
        },
        "Validity": {
          "target": "com.amazonaws.acmpca#Validity",
          "traits": {
            "smithy.api#documentation": "<p>The type of the validity period.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.acmpca#IssueCertificateResponse": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the issued certificate and the certificate serial\n\t\t\tnumber. This is of the form:</p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>/certificate/<i>286535153982981100925020015808220737245</i>\n            </code>\n\t\t       </p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#KeyAlgorithm": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RSA_2048",
            "name": "RSA_2048"
          },
          {
            "value": "RSA_4096",
            "name": "RSA_4096"
          },
          {
            "value": "EC_prime256v1",
            "name": "EC_prime256v1"
          },
          {
            "value": "EC_secp384r1",
            "name": "EC_secp384r1"
          }
        ]
      }
    },
    "com.amazonaws.acmpca#LimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An ACM Private CA limit has been exceeded. See the exception message returned to determine the\n\t\t\tlimit that was exceeded.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#ListCertificateAuthorities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#ListCertificateAuthoritiesRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#ListCertificateAuthoritiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidNextTokenException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the private certificate authorities that you created by using the <a>CreateCertificateAuthority</a> action.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "CertificateAuthorities",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.acmpca#ListCertificateAuthoritiesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.acmpca#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter when paginating results to specify the maximum number of items to\n\t\t\treturn in the response on each page. If additional items exist beyond the number you\n\t\t\tspecify, the <code>NextToken</code> element is sent in the response. Use this\n\t\t\t\t<code>NextToken</code> value in a subsequent request to retrieve additional\n\t\t\titems.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.acmpca#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter when paginating results in a subsequent request after you receive a\n\t\t\tresponse with truncated results. Set it to the value of the <code>NextToken</code>\n\t\t\tparameter from the response you just received.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#ListCertificateAuthoritiesResponse": {
      "type": "structure",
      "members": {
        "CertificateAuthorities": {
          "target": "com.amazonaws.acmpca#CertificateAuthorities",
          "traits": {
            "smithy.api#documentation": "<p>Summary information about each certificate authority you have created.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.acmpca#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When the list is truncated, this value is present and should be used for the\n\t\t\t\t<code>NextToken</code> parameter in a subsequent pagination request.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#ListPermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#ListPermissionsRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#ListPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestFailedException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the permissions, if any, that have been assigned by a private CA. Permissions can\n\t\t\tbe granted with the <a>CreatePermission</a> action and revoked with the <a>DeletePermission</a> action.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Permissions",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.acmpca#ListPermissionsRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the private CA to inspect. You can find the ARN by\n\t\t\tcalling the <a>ListCertificateAuthorities</a> action. This must be of the\n\t\t\tform:\n\t\t\t\t<code>arn:aws:acm-pca:region:account:certificate-authority/12345678-1234-1234-1234-123456789012</code>\n\t\t\tYou can get a private CA's ARN by running the <a>ListCertificateAuthorities</a> action.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.acmpca#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>When paginating results, use this parameter to specify the maximum number of items to\n\t\t\treturn in the response. If additional items exist beyond the number you specify, the\n\t\t\t\t<b>NextToken</b> element is sent in the response. Use this\n\t\t\t\t<b>NextToken</b> value in a subsequent request to retrieve\n\t\t\tadditional items.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.acmpca#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When paginating results, use this parameter in a subsequent request after you receive\n\t\t\ta response with truncated results. Set it to the value of <b>NextToken</b> from the response you just received.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#ListPermissionsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.acmpca#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When the list is truncated, this value is present and should be used for the <b>NextToken</b> parameter in a subsequent pagination request.\n\t\t</p>"
          }
        },
        "Permissions": {
          "target": "com.amazonaws.acmpca#PermissionList",
          "traits": {
            "smithy.api#documentation": "<p>Summary information about each permission assigned by the specified private CA,\n\t\t\tincluding the action enabled, the policy provided, and the time of creation.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#ListTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#ListTagsRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#ListTagsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags, if any, that are associated with your private CA. Tags are labels that you\n\t\t\tcan use to identify and organize your CAs. Each tag consists of a key and an optional\n\t\t\tvalue. Call the <a>TagCertificateAuthority</a> action to add one or more tags\n\t\t\tto your CA. Call the <a>UntagCertificateAuthority</a> action to remove tags. </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Tags",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.acmpca#ListTagsRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called the <a>CreateCertificateAuthority</a> action. This must be of the form: </p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>\n\t\t       </p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.acmpca#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter when paginating results to specify the maximum number of items to\n\t\t\treturn in the response. If additional items exist beyond the number you specify, the\n\t\t\t\t<b>NextToken</b> element is sent in the response. Use this\n\t\t\t\t<b>NextToken</b> value in a subsequent request to retrieve\n\t\t\tadditional items.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.acmpca#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter when paginating results in a subsequent request after you receive a\n\t\t\tresponse with truncated results. Set it to the value of <b>NextToken</b> from the response you just received.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#ListTagsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.acmpca#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When the list is truncated, this value is present and should be used for the <b>NextToken</b> parameter in a subsequent pagination request.\n\t\t</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.acmpca#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with your private CA.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#MalformedCSRException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The certificate signing request is invalid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#MalformedCertificateException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more fields in the certificate are invalid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.acmpca#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.acmpca#PermanentDeletionTimeInDays": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 7,
          "max": 30
        }
      }
    },
    "com.amazonaws.acmpca#Permission": {
      "type": "structure",
      "members": {
        "Actions": {
          "target": "com.amazonaws.acmpca#ActionList",
          "traits": {
            "smithy.api#documentation": "<p>The private CA actions that can be performed by the designated AWS service.</p>"
          }
        },
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the private CA from which the permission was\n\t\t\tissued.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.acmpca#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the permission was created.</p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.acmpca#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the policy that is associated with the permission.</p>"
          }
        },
        "Principal": {
          "target": "com.amazonaws.acmpca#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS service or entity that holds the permission. At this time, the only valid\n\t\t\tprincipal is <code>acm.amazonaws.com</code>.</p>"
          }
        },
        "SourceAccount": {
          "target": "com.amazonaws.acmpca#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account that assigned the permission.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Permissions designate which private CA actions can be performed by an AWS service or\n\t\t\tentity. In order for ACM to automatically renew private certificates, you must give\n\t\t\tthe ACM service principal all available permissions (<code>IssueCertificate</code>,\n\t\t\t\t<code>GetCertificate</code>, and <code>ListPermissions</code>). Permissions can be\n\t\t\tassigned with the <a>CreatePermission</a> action, removed with the <a>DeletePermission</a> action, and listed with the <a>ListPermissions</a> action.</p>"
      }
    },
    "com.amazonaws.acmpca#PermissionAlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The designated permission has already been given to the user.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#PermissionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acmpca#Permission"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0
        }
      }
    },
    "com.amazonaws.acmpca#PositiveLong": {
      "type": "long",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.acmpca#Principal": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^[^*]+$"
      }
    },
    "com.amazonaws.acmpca#RequestAlreadyProcessedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request has already been completed.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#RequestFailedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request has failed for an unspecified reason.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#RequestInProgressException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request is already in progress.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource such as a private CA, S3 bucket, certificate, or audit report cannot be\n\t\t\tfound.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#RestoreCertificateAuthority": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#RestoreCertificateAuthorityRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Restores a certificate authority (CA) that is in the <code>DELETED</code> state. You can\n\t\t\trestore a CA during the period that you defined in the <b>PermanentDeletionTimeInDays</b> parameter of the <a>DeleteCertificateAuthority</a> action. Currently, you can specify 7 to 30\n\t\t\tdays. If you did not specify a <b>PermanentDeletionTimeInDays</b> value, by default you can restore the CA at\n\t\t\tany time in a 30 day period. You can check the time remaining in the restoration period\n\t\t\tof a private CA in the <code>DELETED</code> state by calling the <a>DescribeCertificateAuthority</a> or <a>ListCertificateAuthorities</a> actions. The status of a restored CA is set\n\t\t\tto its pre-deletion status when the <b>RestoreCertificateAuthority</b> action returns. To change its status to\n\t\t\t\t<code>ACTIVE</code>, call the <a>UpdateCertificateAuthority</a> action.\n\t\t\tIf the private CA was in the <code>PENDING_CERTIFICATE</code> state at deletion, you\n\t\t\tmust use the <a>ImportCertificateAuthorityCertificate</a> action to import a\n\t\t\tcertificate authority into the private CA before it can be activated. You cannot restore\n\t\t\ta CA after the restoration period has ended.</p>"
      }
    },
    "com.amazonaws.acmpca#RestoreCertificateAuthorityRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called the <a>CreateCertificateAuthority</a> action. This must be of the form: </p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>\n\t\t       </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.acmpca#RevocationConfiguration": {
      "type": "structure",
      "members": {
        "CrlConfiguration": {
          "target": "com.amazonaws.acmpca#CrlConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration of the certificate revocation list (CRL), if any, maintained by your\n\t\t\tprivate CA.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Certificate revocation information used by the <a>CreateCertificateAuthority</a>\n\t\t\tand <a>UpdateCertificateAuthority</a> actions. Your private certificate\n\t\t\tauthority (CA) can create and maintain a certificate revocation list (CRL). A CRL\n\t\t\tcontains information about certificates revoked by your CA. For more information, see\n\t\t\t\t<a>RevokeCertificate</a>.</p>"
      }
    },
    "com.amazonaws.acmpca#RevocationReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "UNSPECIFIED",
            "name": "UNSPECIFIED"
          },
          {
            "value": "KEY_COMPROMISE",
            "name": "KEY_COMPROMISE"
          },
          {
            "value": "CERTIFICATE_AUTHORITY_COMPROMISE",
            "name": "CERTIFICATE_AUTHORITY_COMPROMISE"
          },
          {
            "value": "AFFILIATION_CHANGED",
            "name": "AFFILIATION_CHANGED"
          },
          {
            "value": "SUPERSEDED",
            "name": "SUPERSEDED"
          },
          {
            "value": "CESSATION_OF_OPERATION",
            "name": "CESSATION_OF_OPERATION"
          },
          {
            "value": "PRIVILEGE_WITHDRAWN",
            "name": "PRIVILEGE_WITHDRAWN"
          },
          {
            "value": "A_A_COMPROMISE",
            "name": "A_A_COMPROMISE"
          }
        ]
      }
    },
    "com.amazonaws.acmpca#RevokeCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#RevokeCertificateRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#LimitExceededException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestAlreadyProcessedException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestFailedException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestInProgressException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Revokes a certificate that was issued inside ACM Private CA. If you enable a certificate\n\t\t\trevocation list (CRL) when you create or update your private CA, information about the\n\t\t\trevoked certificates will be included in the CRL. ACM Private CA writes the CRL to an S3 bucket\n\t\t\tthat you specify. For more information about revocation, see the <a>CrlConfiguration</a> structure. ACM Private CA also writes revocation information to\n\t\t\tthe audit report. For more information, see <a>CreateCertificateAuthorityAuditReport</a>. </p>\n\t\t       <note>\n\t\t\t         <p>You cannot revoke a root CA self-signed certificate.</p>\n\t\t       </note>"
      }
    },
    "com.amazonaws.acmpca#RevokeCertificateRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the private CA that issued the certificate to be\n\t\t\trevoked. This must be of the form:</p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>\n\t\t       </p>",
            "smithy.api#required": {}
          }
        },
        "CertificateSerial": {
          "target": "com.amazonaws.acmpca#String128",
          "traits": {
            "smithy.api#documentation": "<p>Serial number of the certificate to be revoked. This must be in hexadecimal format. You can\n\t\t\tretrieve the serial number by calling <a>GetCertificate</a> with the Amazon\n\t\t\tResource Name (ARN) of the certificate you want and the ARN of your private CA. The\n\t\t\t\t<b>GetCertificate</b> action retrieves the certificate in\n\t\t\tthe PEM format. You can use the following OpenSSL command to list the certificate in\n\t\t\ttext format and copy the hexadecimal serial number. </p>\n\t\t       <p>\n            <code>openssl x509 -in <i>file_path</i> -text -noout</code>\n         </p>\n\t\t       <p>You can also copy the serial number from the console or use the <a href=\"https://docs.aws.amazon.com/acm/latest/APIReference/API_DescribeCertificate.html\">DescribeCertificate</a> action in the <i>AWS Certificate Manager API\n\t\t\t\tReference</i>. </p>",
            "smithy.api#required": {}
          }
        },
        "RevocationReason": {
          "target": "com.amazonaws.acmpca#RevocationReason",
          "traits": {
            "smithy.api#documentation": "<p>Specifies why you revoked the certificate.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.acmpca#SigningAlgorithm": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SHA256WITHECDSA",
            "name": "SHA256WITHECDSA"
          },
          {
            "value": "SHA384WITHECDSA",
            "name": "SHA384WITHECDSA"
          },
          {
            "value": "SHA512WITHECDSA",
            "name": "SHA512WITHECDSA"
          },
          {
            "value": "SHA256WITHRSA",
            "name": "SHA256WITHRSA"
          },
          {
            "value": "SHA384WITHRSA",
            "name": "SHA384WITHRSA"
          },
          {
            "value": "SHA512WITHRSA",
            "name": "SHA512WITHRSA"
          }
        ]
      }
    },
    "com.amazonaws.acmpca#String": {
      "type": "string"
    },
    "com.amazonaws.acmpca#String128": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.acmpca#String16": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 16
        }
      }
    },
    "com.amazonaws.acmpca#String253": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 253
        }
      }
    },
    "com.amazonaws.acmpca#String3": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 3
        }
      }
    },
    "com.amazonaws.acmpca#String3To255": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 255
        }
      }
    },
    "com.amazonaws.acmpca#String40": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 40
        }
      }
    },
    "com.amazonaws.acmpca#String5": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.acmpca#String64": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        }
      }
    },
    "com.amazonaws.acmpca#TStamp": {
      "type": "timestamp"
    },
    "com.amazonaws.acmpca#Tag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.acmpca#TagKey",
          "traits": {
            "smithy.api#documentation": "<p>Key (name) of the tag.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.acmpca#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>Value of the tag.</p>"
          }
        }
      },
      "traits": {
[...]
