{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.acmpca#ACMPrivateCA": {
      "type": "service",
      "version": "2017-08-22",
      "operations": [
        {
          "target": "com.amazonaws.acmpca#CreateCertificateAuthority"
        },
        {
          "target": "com.amazonaws.acmpca#CreateCertificateAuthorityAuditReport"
        },
        {
          "target": "com.amazonaws.acmpca#CreatePermission"
        },
        {
          "target": "com.amazonaws.acmpca#DeleteCertificateAuthority"
        },
        {
          "target": "com.amazonaws.acmpca#DeletePermission"
        },
        {
          "target": "com.amazonaws.acmpca#DeletePolicy"
        },
        {
          "target": "com.amazonaws.acmpca#DescribeCertificateAuthority"
        },
        {
          "target": "com.amazonaws.acmpca#DescribeCertificateAuthorityAuditReport"
        },
        {
          "target": "com.amazonaws.acmpca#GetCertificate"
        },
        {
          "target": "com.amazonaws.acmpca#GetCertificateAuthorityCertificate"
        },
        {
          "target": "com.amazonaws.acmpca#GetCertificateAuthorityCsr"
        },
        {
          "target": "com.amazonaws.acmpca#GetPolicy"
        },
        {
          "target": "com.amazonaws.acmpca#ImportCertificateAuthorityCertificate"
        },
        {
          "target": "com.amazonaws.acmpca#IssueCertificate"
        },
        {
          "target": "com.amazonaws.acmpca#ListCertificateAuthorities"
        },
        {
          "target": "com.amazonaws.acmpca#ListPermissions"
        },
        {
          "target": "com.amazonaws.acmpca#ListTags"
        },
        {
          "target": "com.amazonaws.acmpca#PutPolicy"
        },
        {
          "target": "com.amazonaws.acmpca#RestoreCertificateAuthority"
        },
        {
          "target": "com.amazonaws.acmpca#RevokeCertificate"
        },
        {
          "target": "com.amazonaws.acmpca#TagCertificateAuthority"
        },
        {
          "target": "com.amazonaws.acmpca#UntagCertificateAuthority"
        },
        {
          "target": "com.amazonaws.acmpca#UpdateCertificateAuthority"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ACM PCA",
          "arnNamespace": "acm-pca",
          "cloudFormationName": "ACMPCA",
          "cloudTrailEventSource": "acmpca.amazonaws.com",
          "endpointPrefix": "acm-pca"
        },
        "aws.auth#sigv4": {
          "name": "acm-pca"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>This is the <i>ACM Private CA API Reference</i>. It provides descriptions,\n\t\t\tsyntax, and usage examples for each of the actions and data types involved in creating\n\t\t\tand managing private certificate authorities (CA) for your organization.</p>\n\t\t       <p>The documentation for each action shows the Query API request parameters and the XML\n\t\t\tresponse. Alternatively, you can use one of the AWS SDKs to access an API that's\n\t\t\ttailored to the programming language or platform that you're using. For more\n\t\t\tinformation, see <a href=\"https://aws.amazon.com/tools/#SDKs\">AWS\n\t\t\tSDKs</a>.</p>\n\t\t       <p>Each ACM Private CA API operation has a quota that determines the number of times the operation\n\t\t\tcan be called per second. ACM Private CA throttles API requests at different rates depending\n\t\t\ton the operation. Throttling means that ACM Private CA rejects an otherwise valid request\n\t\t\tbecause the request exceeds the operation's quota for the number of requests per second.\n\t\t\tWhen a request is throttled, ACM Private CA returns a <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/CommonErrors.html\">ThrottlingException</a> error. ACM Private CA does not guarantee a minimum request\n\t\t\trate for APIs. </p>\n\n\t\t       <p>To see an up-to-date list of your ACM Private CA quotas, or to request a quota increase,\n\t\t\tlog into your AWS account and visit the <a href=\"https://console.aws.amazon.com/servicequotas/\">Service Quotas</a>\n\t\t\tconsole.</p>",
        "smithy.api#title": "AWS Certificate Manager Private Certificate Authority"
      }
    },
    "com.amazonaws.acmpca#ASN1PrintableString64": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9'()+-.?:/= ]*$"
      }
    },
    "com.amazonaws.acmpca#ASN1Subject": {
      "type": "structure",
      "members": {
        "Country": {
          "target": "com.amazonaws.acmpca#CountryCodeString",
          "traits": {
            "smithy.api#documentation": "<p>Two-digit code that specifies the country in which the certificate subject\n\t\t\tlocated.</p>"
          }
        },
        "Organization": {
          "target": "com.amazonaws.acmpca#String64",
          "traits": {
            "smithy.api#documentation": "<p>Legal name of the organization with which the certificate subject is affiliated.\n\t\t</p>"
          }
        },
        "OrganizationalUnit": {
          "target": "com.amazonaws.acmpca#String64",
          "traits": {
            "smithy.api#documentation": "<p>A subdivision or unit of the organization (such as sales or finance) with which the\n\t\t\tcertificate subject is affiliated.</p>"
          }
        },
        "DistinguishedNameQualifier": {
          "target": "com.amazonaws.acmpca#ASN1PrintableString64",
          "traits": {
            "smithy.api#documentation": "<p>Disambiguating information for the certificate subject.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.acmpca#String128",
          "traits": {
            "smithy.api#documentation": "<p>State in which the subject of the certificate is located.</p>"
          }
        },
        "CommonName": {
          "target": "com.amazonaws.acmpca#String64",
          "traits": {
            "smithy.api#documentation": "<p>For CA and end-entity certificates in a private PKI, the common name (CN) can be any\n\t\t\tstring within the length limit. </p>\n\t\t       <p>Note: In publicly trusted certificates, the common name must be a fully qualified\n\t\t\tdomain name (FQDN) associated with the certificate subject.</p>"
          }
        },
        "SerialNumber": {
          "target": "com.amazonaws.acmpca#ASN1PrintableString64",
          "traits": {
            "smithy.api#documentation": "<p>The certificate serial number.</p>"
          }
        },
        "Locality": {
          "target": "com.amazonaws.acmpca#String128",
          "traits": {
            "smithy.api#documentation": "<p>The locality (such as a city or town) in which the certificate subject is\n\t\t\tlocated.</p>"
          }
        },
        "Title": {
          "target": "com.amazonaws.acmpca#String64",
          "traits": {
            "smithy.api#documentation": "<p>A title such as Mr. or Ms., which is pre-pended to the name to refer formally to the\n\t\t\tcertificate subject.</p>"
          }
        },
        "Surname": {
          "target": "com.amazonaws.acmpca#String40",
          "traits": {
            "smithy.api#documentation": "<p>Family name. In the US and the UK, for example, the surname of an individual is\n\t\t\tordered last. In Asian cultures the surname is typically ordered first.</p>"
          }
        },
        "GivenName": {
          "target": "com.amazonaws.acmpca#String16",
          "traits": {
            "smithy.api#documentation": "<p>First name.</p>"
          }
        },
        "Initials": {
          "target": "com.amazonaws.acmpca#String5",
          "traits": {
            "smithy.api#documentation": "<p>Concatenation that typically contains the first letter of the <b>GivenName</b>, the first letter of the middle name if one exists, and the\n\t\t\tfirst letter of the <b>Surname</b>.</p>"
          }
        },
        "Pseudonym": {
          "target": "com.amazonaws.acmpca#String128",
          "traits": {
            "smithy.api#documentation": "<p>Typically a shortened version of a longer <b>GivenName</b>.\n\t\t\tFor example, Jonathan is often shortened to John. Elizabeth is often shortened to Beth,\n\t\t\tLiz, or Eliza.</p>"
          }
        },
        "GenerationQualifier": {
          "target": "com.amazonaws.acmpca#String3",
          "traits": {
            "smithy.api#documentation": "<p>Typically a qualifier appended to the name of an individual. Examples include Jr. for\n\t\t\tjunior, Sr. for senior, and III for third.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the certificate subject. The <code>Subject</code> field in\n\t\t\tthe certificate identifies the entity that owns or controls the public key in the\n\t\t\tcertificate. The entity can be a user, computer, device, or service. The <code>Subject\n\t\t\t</code>must contain an X.500 distinguished name (DN). A DN is a sequence of relative\n\t\t\tdistinguished names (RDNs). The RDNs are separated by commas in the certificate.</p>"
      }
    },
    "com.amazonaws.acmpca#AWSPolicy": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20480
        },
        "smithy.api#pattern": "^[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+$"
      }
    },
    "com.amazonaws.acmpca#AccessDescription": {
      "type": "structure",
      "members": {
        "AccessMethod": {
          "target": "com.amazonaws.acmpca#AccessMethod",
          "traits": {
            "smithy.api#documentation": "<p>The type and format of <code>AccessDescription</code> information.</p>",
            "smithy.api#required": {}
          }
        },
        "AccessLocation": {
          "target": "com.amazonaws.acmpca#GeneralName",
          "traits": {
            "smithy.api#documentation": "<p>The location of <code>AccessDescription</code> information.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides access information used by the <code>authorityInfoAccess</code> and\n\t\t\t\t<code>subjectInfoAccess</code> extensions described in <a href=\"https://tools.ietf.org/html/rfc5280\">RFC 5280</a>.</p>"
      }
    },
    "com.amazonaws.acmpca#AccessDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acmpca#AccessDescription"
      }
    },
    "com.amazonaws.acmpca#AccessMethod": {
      "type": "structure",
      "members": {
        "CustomObjectIdentifier": {
          "target": "com.amazonaws.acmpca#CustomObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>An object identifier (OID) specifying the <code>AccessMethod</code>. The OID must\n\t\t\tsatisfy the regular expression shown below. For more information, see NIST's definition\n\t\t\tof <a href=\"https://csrc.nist.gov/glossary/term/Object_Identifier\">Object Identifier\n\t\t\t\t(OID)</a>.</p>"
          }
        },
        "AccessMethodType": {
          "target": "com.amazonaws.acmpca#AccessMethodType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code>AccessMethod</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the type and format of extension access. Only one of\n\t\t\t\t<code>CustomObjectIdentifier</code> or <code>AccessMethodType</code> may be\n\t\t\tprovided. Providing both results in <code>InvalidArgsException</code>.</p>"
      }
    },
    "com.amazonaws.acmpca#AccessMethodType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CA_REPOSITORY",
            "name": "CA_REPOSITORY"
          },
          {
            "value": "RESOURCE_PKI_MANIFEST",
            "name": "RESOURCE_PKI_MANIFEST"
          },
          {
            "value": "RESOURCE_PKI_NOTIFY",
            "name": "RESOURCE_PKI_NOTIFY"
          }
        ]
      }
    },
    "com.amazonaws.acmpca#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.acmpca#ActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acmpca#ActionType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 3
        }
      }
    },
    "com.amazonaws.acmpca#ActionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IssueCertificate",
            "name": "IssueCertificate"
          },
          {
            "value": "GetCertificate",
            "name": "GetCertificate"
          },
          {
            "value": "ListPermissions",
            "name": "ListPermissions"
          }
        ]
      }
    },
    "com.amazonaws.acmpca#ApiPassthrough": {
      "type": "structure",
      "members": {
        "Extensions": {
          "target": "com.amazonaws.acmpca#Extensions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies X.509 extension information for a certificate.</p>"
          }
        },
        "Subject": {
          "target": "com.amazonaws.acmpca#ASN1Subject"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains X.509 certificate information to be placed in an issued certificate. An\n\t\t\t\t<code>APIPassthrough</code> or <code>APICSRPassthrough</code> template variant must\n\t\t\tbe selected, or else this parameter is ignored. </p>\n\t\t       <p>If conflicting or duplicate certificate information is supplied from other sources,\n\t\t\tACM Private CA applies <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/UsingTemplates.html#template-order-of-operations\">order of\n\t\t\t\toperation rules</a> to determine what information is used.</p>"
      }
    },
    "com.amazonaws.acmpca#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 200
        },
        "smithy.api#pattern": "^arn:[\\w+=/,.@-]+:[\\w+=/,.@-]+:[\\w+=/,.@-]*:[0-9]*:[\\w+=,.@-]+(/[\\w+=,.@-]+)*$"
      }
    },
    "com.amazonaws.acmpca#AuditReportId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "^[a-z0-9]{8}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{12}$"
      }
    },
    "com.amazonaws.acmpca#AuditReportResponseFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "JSON",
            "name": "JSON"
          },
          {
            "value": "CSV",
            "name": "CSV"
          }
        ]
      }
    },
    "com.amazonaws.acmpca#AuditReportStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "SUCCESS",
            "name": "SUCCESS"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.acmpca#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.acmpca#CertificateAuthorities": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acmpca#CertificateAuthority"
      }
    },
    "com.amazonaws.acmpca#CertificateAuthority": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for your private certificate authority (CA). The format is\n\t\t\t\t\t<code>\n               <i>12345678-1234-1234-1234-123456789012</i>\n            </code>.</p>"
          }
        },
        "OwnerAccount": {
          "target": "com.amazonaws.acmpca#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID that owns the certificate authority.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.acmpca#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Date and time at which your private CA was created.</p>"
          }
        },
        "LastStateChangeAt": {
          "target": "com.amazonaws.acmpca#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Date and time at which your private CA was last updated.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.acmpca#CertificateAuthorityType",
          "traits": {
            "smithy.api#documentation": "<p>Type of your private CA.</p>"
          }
        },
        "Serial": {
          "target": "com.amazonaws.acmpca#String",
          "traits": {
            "smithy.api#documentation": "<p>Serial number of your private CA.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.acmpca#CertificateAuthorityStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of your private CA.</p>"
          }
        },
        "NotBefore": {
          "target": "com.amazonaws.acmpca#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Date and time before which your private CA certificate is not valid.</p>"
          }
        },
        "NotAfter": {
          "target": "com.amazonaws.acmpca#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Date and time after which your private CA certificate is not valid.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.acmpca#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>Reason the request to create your private CA failed.</p>"
          }
        },
        "CertificateAuthorityConfiguration": {
          "target": "com.amazonaws.acmpca#CertificateAuthorityConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Your private CA configuration.</p>"
          }
        },
        "RevocationConfiguration": {
          "target": "com.amazonaws.acmpca#RevocationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Online Certificate Status Protocol (OCSP) configuration or \n\t\t\tcertificate revocation list (CRL) created and maintained by your private CA. </p>"
          }
        },
        "RestorableUntil": {
          "target": "com.amazonaws.acmpca#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The period during which a deleted CA can be restored. For more information, see the\n\t\t\t\t<code>PermanentDeletionTimeInDays</code> parameter of the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_DeleteCertificateAuthorityRequest.html\">DeleteCertificateAuthorityRequest</a> action. </p>"
          }
        },
        "KeyStorageSecurityStandard": {
          "target": "com.amazonaws.acmpca#KeyStorageSecurityStandard",
          "traits": {
            "smithy.api#documentation": "<p>Defines a cryptographic key management compliance standard used for handling CA keys. </p>\n\t\t       <p>Default: FIPS_140_2_LEVEL_3_OR_HIGHER</p>\n\t\t       <p>Note: AWS Region ap-northeast-3 supports only FIPS_140_2_LEVEL_2_OR_HIGHER. You must\n\t\t\texplicitly specify this parameter and value when creating a CA in that Region.\n\t\t\tSpecifying a different value (or no value) results in an\n\t\t\t\t<code>InvalidArgsException</code> with the message \"A certificate authority cannot\n\t\t\tbe created in this region with the specified security standard.\"</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about your private certificate authority (CA). Your private CA\n\t\t\tcan issue and revoke X.509 digital certificates. Digital certificates verify that the\n\t\t\tentity named in the certificate <b>Subject</b> field owns or\n\t\t\tcontrols the public key contained in the <b>Subject Public Key\n\t\t\t\tInfo</b> field. Call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a> action to create your private CA. You must then\n\t\t\tcall the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_GetCertificateAuthorityCertificate.html\">GetCertificateAuthorityCertificate</a> action to retrieve a private CA\n\t\t\tcertificate signing request (CSR). Sign the CSR with your ACM Private CA-hosted or on-premises\n\t\t\troot or subordinate CA certificate. Call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ImportCertificateAuthorityCertificate.html\">ImportCertificateAuthorityCertificate</a> action to import the signed\n\t\t\tcertificate into AWS Certificate Manager (ACM). </p>"
      }
    },
    "com.amazonaws.acmpca#CertificateAuthorityConfiguration": {
      "type": "structure",
      "members": {
        "KeyAlgorithm": {
          "target": "com.amazonaws.acmpca#KeyAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>Type of the public key algorithm and size, in bits, of the key pair that your CA\n\t\t\tcreates when it issues a certificate. When you create a subordinate CA, you must use a\n\t\t\tkey algorithm supported by the parent CA.</p>",
            "smithy.api#required": {}
          }
        },
        "SigningAlgorithm": {
          "target": "com.amazonaws.acmpca#SigningAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>Name of the algorithm your private CA uses to sign certificate requests.</p>\n\t\t       <p>This parameter should not be confused with the <code>SigningAlgorithm</code> parameter\n\t\t\tused to sign certificates when they are issued.</p>",
            "smithy.api#required": {}
          }
        },
        "Subject": {
          "target": "com.amazonaws.acmpca#ASN1Subject",
          "traits": {
            "smithy.api#documentation": "<p>Structure that contains X.500 distinguished name information for your private\n\t\t\tCA.</p>",
            "smithy.api#required": {}
          }
        },
        "CsrExtensions": {
          "target": "com.amazonaws.acmpca#CsrExtensions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies information to be added to the extension section of the certificate signing\n\t\t\trequest (CSR).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configuration information for your private certificate authority (CA). This\n\t\t\tincludes information about the class of public key algorithm and the key pair that your\n\t\t\tprivate CA creates when it issues a certificate. It also includes the signature\n\t\t\talgorithm that it uses when issuing certificates, and its X.500 distinguished name. You\n\t\t\tmust specify this information when you call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a> action. </p>"
      }
    },
    "com.amazonaws.acmpca#CertificateAuthorityStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "PENDING_CERTIFICATE",
            "name": "PENDING_CERTIFICATE"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "EXPIRED",
            "name": "EXPIRED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.acmpca#CertificateAuthorityType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ROOT",
            "name": "ROOT"
          },
          {
            "value": "SUBORDINATE",
            "name": "SUBORDINATE"
          }
        ]
      }
    },
    "com.amazonaws.acmpca#CertificateBody": {
      "type": "string"
    },
    "com.amazonaws.acmpca#CertificateBodyBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32768
        }
      }
    },
    "com.amazonaws.acmpca#CertificateChain": {
      "type": "string"
    },
    "com.amazonaws.acmpca#CertificateChainBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2097152
        }
      }
    },
    "com.amazonaws.acmpca#CertificateMismatchException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The certificate authority certificate you are importing does not comply with\n\t\t\tconditions specified in the certificate that signed it.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#CertificatePolicyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acmpca#PolicyInformation"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.acmpca#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A previous update to your private CA is still ongoing.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#CountryCodeString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2
        },
        "smithy.api#pattern": "^[A-Za-z]{2}$"
      }
    },
    "com.amazonaws.acmpca#CreateCertificateAuthority": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#CreateCertificateAuthorityRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#CreateCertificateAuthorityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArgsException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidPolicyException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidTagException"
        },
        {
          "target": "com.amazonaws.acmpca#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a root or subordinate private certificate authority (CA). You must specify the\n\t\t\tCA configuration, an optional configuration for Online Certificate Status Protocol (OCSP) \n\t\t\tand/or a certificate revocation list (CRL), the CA type, and\n\t\t\tan optional idempotency token to avoid accidental creation of multiple CAs. The CA\n\t\t\tconfiguration specifies the name of the algorithm and key size to be used to create the\n\t\t\tCA private key, the type of signing algorithm that the CA uses, and X.500 subject\n\t\t\tinformation. The OCSP configuration can optionally specify a custom URL for the OCSP responder.\n\t\t\tThe CRL configuration specifies the CRL expiration period in days (the\n\t\t\tvalidity period of the CRL), the Amazon S3 bucket that will contain the CRL, and a CNAME\n\t\t\talias for the S3 bucket that is included in certificates issued by the CA. If\n\t\t\tsuccessful, this action returns the Amazon Resource Name (ARN) of the CA.</p>\n\t\t       <p>ACM Private CA assets that are stored in Amazon S3 can be protected with encryption. \n  For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/PcaCreateCa.html#crl-encryption\">Encrypting Your\n\t\t\tCRLs</a>.</p> \n         <note>\n                        <p>Both PCA and the IAM principal must have permission to write to\n                        the S3 bucket that you specify. If the IAM principal making the call\n                        does not have permission to write to the bucket, then an exception is\n                        thrown. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/PcaAuthAccess.html\">Configure\n                        Access to ACM Private CA</a>.</p>\n                </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.acmpca#CreateCertificateAuthorityAuditReport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#CreateCertificateAuthorityAuditReportRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#CreateCertificateAuthorityAuditReportResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArgsException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestFailedException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestInProgressException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an audit report that lists every time that your CA private key is used. The\n\t\t\treport is saved in the Amazon S3 bucket that you specify on input. \n\t\t\t\n\t\t\tThe <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_IssueCertificate.html\">IssueCertificate</a> and <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_RevokeCertificate.html\">RevokeCertificate</a> actions use\n\t\t\tthe private key. </p> \n         <note>\n                        <p>Both PCA and the IAM principal must have permission to write to\n                        the S3 bucket that you specify. If the IAM principal making the call\n                        does not have permission to write to the bucket, then an exception is\n                        thrown. For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/PcaAuthAccess.html\">Configure\n                        Access to ACM Private CA</a>.</p>\n                </note>\n\t\t    \n\t\t       <p>ACM Private CA assets that are stored in Amazon S3 can be protected with encryption. \n  For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/PcaAuditReport.html#audit-report-encryption\">Encrypting Your Audit\n\t\t\t\tReports</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.acmpca#CreateCertificateAuthorityAuditReportRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the CA to be audited. This is of the form:</p>\n\t\t       <p>\n            <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>.</p>",
            "smithy.api#required": {}
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.acmpca#S3BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the S3 bucket that will contain the audit report.</p>",
            "smithy.api#required": {}
          }
        },
        "AuditReportResponseFormat": {
          "target": "com.amazonaws.acmpca#AuditReportResponseFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format in which to create the report. This can be either <b>JSON</b> or <b>CSV</b>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.acmpca#CreateCertificateAuthorityAuditReportResponse": {
      "type": "structure",
      "members": {
        "AuditReportId": {
          "target": "com.amazonaws.acmpca#AuditReportId",
          "traits": {
            "smithy.api#documentation": "<p>An alphanumeric string that contains a report identifier.</p>"
          }
        },
        "S3Key": {
          "target": "com.amazonaws.acmpca#S3Key",
          "traits": {
            "smithy.api#documentation": "<p>The <b>key</b> that uniquely identifies the report file in\n\t\t\tyour S3 bucket.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#CreateCertificateAuthorityRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityConfiguration": {
          "target": "com.amazonaws.acmpca#CertificateAuthorityConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Name and bit size of the private key algorithm, the name of the signing algorithm, and\n\t\t\tX.500 certificate subject information.</p>",
            "smithy.api#required": {}
          }
        },
        "RevocationConfiguration": {
          "target": "com.amazonaws.acmpca#RevocationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains information to enable Online Certificate Status Protocol (OCSP) support, \n\t\t\tto enable a certificate revocation list (CRL), to enable both, or to enable neither. The\n\t\t\tdefault is for both certificate validation mechanisms to be disabled. For more\n\t\t\tinformation, see the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_OcspConfiguration.html\">OcspConfiguration</a> and <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CrlConfiguration.html\">CrlConfiguration</a> types.</p>"
          }
        },
        "CertificateAuthorityType": {
          "target": "com.amazonaws.acmpca#CertificateAuthorityType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the certificate authority.</p>",
            "smithy.api#required": {}
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.acmpca#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>Custom string that can be used to distinguish between calls to the <b>CreateCertificateAuthority</b> action. Idempotency tokens for\n\t\t\t\t<b>CreateCertificateAuthority</b> time out after five\n\t\t\tminutes. Therefore, if you call <b>CreateCertificateAuthority</b> multiple times with the same idempotency\n\t\t\ttoken within five minutes, ACM Private CA recognizes that you are requesting only certificate\n\t\t\tauthority and will issue only one. If you change the idempotency token for each call,\n\t\t\tPCA recognizes that you are requesting multiple certificate authorities.</p>"
          }
        },
        "KeyStorageSecurityStandard": {
          "target": "com.amazonaws.acmpca#KeyStorageSecurityStandard",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a\n\t\t\tcryptographic key management compliance standard used for handling CA keys.</p>\n\t\t       <p>Default: FIPS_140_2_LEVEL_3_OR_HIGHER</p>\n\t\t       <p>Note: <code>FIPS_140_2_LEVEL_3_OR_HIGHER</code> is not supported in Region\n\t\t\tap-northeast-3. When creating a CA in the ap-northeast-3, you must provide\n\t\t\t\t<code>FIPS_140_2_LEVEL_2_OR_HIGHER</code> as the argument for\n\t\t\t\t<code>KeyStorageSecurityStandard</code>. Failure to do this results in an\n\t\t\t\t<code>InvalidArgsException</code> with the message, \"A certificate authority cannot\n\t\t\tbe created in this region with the specified security standard.\"</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.acmpca#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that will be attached to the new private CA. You can associate up to\n\t\t\t50 tags with a private CA. For information using tags with IAM to manage permissions,\n\t\t\tsee <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_iam-tags.html\">Controlling Access Using IAM Tags</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#CreateCertificateAuthorityResponse": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>If successful, the Amazon Resource Name (ARN) of the certificate authority (CA). This\n\t\t\tis of the form: </p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>.\n\t\t</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#CreatePermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#CreatePermissionRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#LimitExceededException"
        },
        {
          "target": "com.amazonaws.acmpca#PermissionAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestFailedException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Grants one or more permissions on a private CA to the AWS Certificate Manager (ACM) service\n\t\t\tprincipal (<code>acm.amazonaws.com</code>). These permissions allow ACM to issue and\n\t\t\trenew ACM certificates that reside in the same AWS account as the CA.</p>\n\t\t       <p>You can list current permissions with the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ListPermissions.html\">ListPermissions</a> action and\n\t\t\trevoke them with the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_DeletePermission.html\">DeletePermission</a> action.</p>\n\t\t       <p class=\"title\">\n            <b>About Permissions</b>\n         </p>\n         <ul>\n            <li>\n\t\t\t            <p>If the private CA and the certificates it issues reside in the same \n\t\t\taccount, you can use <code>CreatePermission</code> to grant permissions for ACM to \n\t\t\tcarry out automatic certificate renewals.</p>\n\t\t          </li>\n            <li>\n\t\t\t            <p>For automatic certificate renewal to succeed, the ACM service principal\n\t\t\tneeds permissions to create, retrieve, and list certificates.</p>\n\t\t          </li>\n            <li>\n\t\t\t            <p>If the private CA and the ACM certificates reside in different accounts, \n\t\t\tthen permissions cannot be used to enable automatic renewals. Instead, \n\t\t\tthe ACM certificate owner must set up a resource-based policy to enable \n\t\t\tcross-account issuance and renewals. For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/pca-rbp.html\">Using a Resource\n\t\t\tBased Policy with ACM Private CA</a>.</p>\n\t\t          </li>\n         </ul>"
      }
    },
    "com.amazonaws.acmpca#CreatePermissionRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the CA that grants the permissions. You can find the\n\t\t\tARN by calling the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ListCertificateAuthorities.html\">ListCertificateAuthorities</a> action. This must have the following form: </p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>.\n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "Principal": {
          "target": "com.amazonaws.acmpca#Principal",
          "traits": {
            "smithy.api#documentation": "<p>The AWS service or identity that receives the permission. At this time, the only\n\t\t\tvalid principal is <code>acm.amazonaws.com</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceAccount": {
          "target": "com.amazonaws.acmpca#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the calling account.</p>"
          }
        },
        "Actions": {
          "target": "com.amazonaws.acmpca#ActionList",
          "traits": {
            "smithy.api#documentation": "<p>The actions that the specified AWS service principal can use. These include\n\t\t\t\t<code>IssueCertificate</code>, <code>GetCertificate</code>, and\n\t\t\t\t<code>ListPermissions</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.acmpca#CrlConfiguration": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.acmpca#Boolean",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>Boolean value that specifies whether certificate revocation lists (CRLs) are enabled.\n\t\t\tYou can use this value to enable certificate revocation for a new CA when you call the\n\t\t\t\t<a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a> action or for an existing CA when you call the\n\t\t\t\t<a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_UpdateCertificateAuthority.html\">UpdateCertificateAuthority</a> action. </p>",
            "smithy.api#required": {}
          }
        },
        "ExpirationInDays": {
          "target": "com.amazonaws.acmpca#Integer1To5000",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>Validity period of the CRL in days.</p>"
          }
        },
        "CustomCname": {
          "target": "com.amazonaws.acmpca#String253",
          "traits": {
            "smithy.api#documentation": "<p>Name inserted into the certificate <b>CRL Distribution\n\t\t\t\tPoints</b> extension that enables the use of an alias for the CRL\n\t\t\tdistribution point. Use this value if you don't want the name of your S3 bucket to be\n\t\t\tpublic.</p>"
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.acmpca#String3To255",
          "traits": {
            "smithy.api#documentation": "<p>Name of the S3 bucket that contains the CRL. If you do not provide a value for the\n\t\t\t\t<b>CustomCname</b> argument, the name of your S3 bucket\n\t\t\tis placed into the <b>CRL Distribution Points</b> extension of\n\t\t\tthe issued certificate. You can change the name of your bucket by calling the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_UpdateCertificateAuthority.html\">UpdateCertificateAuthority</a> operation. You must specify a <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/PcaCreateCa.html#s3-policies\">bucket\n\t\t\t\tpolicy</a> that allows ACM Private CA to write the CRL to your bucket.</p>"
          }
        },
        "S3ObjectAcl": {
          "target": "com.amazonaws.acmpca#S3ObjectAcl",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether the CRL will be publicly readable or privately held in the CRL\n\t\t\tAmazon S3 bucket. If you choose PUBLIC_READ, the CRL will be accessible over the public\n\t\t\tinternet. If you choose BUCKET_OWNER_FULL_CONTROL, only the owner of the CRL S3 bucket\n\t\t\tcan access the CRL, and your PKI clients may need an alternative method of access. </p>\n\t\t       <p>If no value is specified, the default is <code>PUBLIC_READ</code>.</p>\n\t\t       <p>\n            <i>Note:</i> This default can cause CA creation to fail in some\n\t\t\tcircumstances. If you have have enabled the Block Public Access (BPA) feature in your S3\n\t\t\taccount, then you must specify the value of this parameter as\n\t\t\t\t<code>BUCKET_OWNER_FULL_CONTROL</code>, and not doing so results in an error. If you\n\t\t\thave disabled BPA in S3, then you can specify either\n\t\t\t\t<code>BUCKET_OWNER_FULL_CONTROL</code> or <code>PUBLIC_READ</code> as the\n\t\t\tvalue.</p>\n\t\t       <p>For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/PcaCreateCa.html#s3-bpa\">Blocking public access to the S3\n\t\t\t\tbucket</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configuration information for a certificate revocation list (CRL). Your\n\t\t\tprivate certificate authority (CA) creates base CRLs. Delta CRLs are not supported. You\n\t\t\tcan enable CRLs for your new or an existing private CA by setting the <b>Enabled</b> parameter to <code>true</code>. Your private CA\n\t\t\twrites CRLs to an S3 bucket that you specify in the <b>S3BucketName</b> parameter. You can hide the name of your bucket by\n\t\t\tspecifying a value for the <b>CustomCname</b> parameter. Your\n\t\t\tprivate CA copies the CNAME or the S3 bucket name to the <b>CRL\n\t\t\t\tDistribution Points</b> extension of each certificate it issues. Your S3\n\t\t\tbucket policy must give write permission to ACM Private CA. </p>\n\t\t       <p>ACM Private CA assets that are stored in Amazon S3 can be protected with encryption. \n  For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/PcaCreateCa.html#crl-encryption\">Encrypting Your\n\t\t\tCRLs</a>.</p>\n\t\t       <p>Your private CA uses the value in the <b>ExpirationInDays</b>\n\t\t\tparameter to calculate the <b>nextUpdate</b> field in the CRL.\n\t\t\tThe CRL is refreshed at 1/2 the age of next update or when a certificate is revoked.\n\t\t\tWhen a certificate is revoked, it is recorded in the next CRL that is generated and in\n\t\t\tthe next audit report. Only time valid certificates are listed in the CRL. Expired\n\t\t\tcertificates are not included.</p>\n\t\t\n\t\t       <p>A CRL is typically updated approximately 30 minutes after a certificate \n\tis revoked. If for any reason a CRL update fails, ACM Private CA makes further attempts \n\tevery 15 minutes.</p>\n\t\t\n\t\t       <p>CRLs contain the following fields:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <b>Version</b>: The current version number defined\n\t\t\t\t\tin RFC 5280 is V2. The integer value is 0x1. </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Signature Algorithm</b>: The name of the\n\t\t\t\t\talgorithm used to sign the CRL.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Issuer</b>: The X.500 distinguished name of your\n\t\t\t\t\tprivate CA that issued the CRL.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Last Update</b>: The issue date and time of this\n\t\t\t\t\tCRL.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Next Update</b>: The day and time by which the\n\t\t\t\t\tnext CRL will be issued.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Revoked Certificates</b>: List of revoked\n\t\t\t\t\tcertificates. Each list item contains the following information.</p>\n\t\t\t\t           <ul>\n                  <li>\n\t\t\t\t\t\t               <p>\n                        <b>Serial Number</b>: The serial number, in\n\t\t\t\t\t\t\thexadecimal format, of the revoked certificate.</p>\n\t\t\t\t\t             </li>\n                  <li>\n\t\t\t\t\t\t               <p>\n                        <b>Revocation Date</b>: Date and time the\n\t\t\t\t\t\t\tcertificate was revoked.</p>\n\t\t\t\t\t             </li>\n                  <li>\n\t\t\t\t\t\t               <p>\n                        <b>CRL Entry Extensions</b>: Optional\n\t\t\t\t\t\t\textensions for the CRL entry.</p>\n\t\t\t\t\t\t               <ul>\n                        <li>\n\t\t\t\t\t\t\t\t                   <p>\n                              <b>X509v3 CRL Reason Code</b>:\n\t\t\t\t\t\t\t\t\tReason the certificate was revoked.</p>\n\t\t\t\t\t\t\t                 </li>\n                     </ul>\n\t\t\t\t\t             </li>\n               </ul>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>CRL Extensions</b>: Optional extensions for the\n\t\t\t\t\tCRL.</p>\n\t\t\t\t           <ul>\n                  <li>\n\t\t\t\t\t\t               <p>\n                        <b>X509v3 Authority Key Identifier</b>:\n\t\t\t\t\t\t\tIdentifies the public key associated with the private key used to sign\n\t\t\t\t\t\t\tthe certificate.</p>\n\t\t\t\t\t             </li>\n                  <li>\n\t\t\t\t\t\t               <p>\n                        <b>X509v3 CRL Number:</b>: Decimal sequence\n\t\t\t\t\t\t\tnumber for the CRL.</p>\n\t\t\t\t\t             </li>\n               </ul>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Signature Algorithm</b>: Algorithm used by your\n\t\t\t\t\tprivate CA to sign the CRL.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Signature Value</b>: Signature computed over the\n\t\t\t\t\tCRL.</p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>Certificate revocation lists created by ACM Private CA are DER-encoded. You can use the\n\t\t\tfollowing OpenSSL command to list a CRL.</p>\n\t\t       <p>\n            <code>openssl crl -inform DER -text -in <i>crl_path</i>\n\t\t\t-noout</code>\n         </p>\n\t\t       <p>For more information, see <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/crl-planning.html\">Planning a certificate revocation list (CRL)</a> \n\t\t\tin the <i>AWS Certificate Manager Private Certificate Authority (PCA) User Guide</i>\n         </p>"
      }
    },
    "com.amazonaws.acmpca#CsrBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32768
        }
      }
    },
    "com.amazonaws.acmpca#CsrBody": {
      "type": "string"
    },
    "com.amazonaws.acmpca#CsrExtensions": {
      "type": "structure",
      "members": {
        "KeyUsage": {
          "target": "com.amazonaws.acmpca#KeyUsage",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the purpose of the certificate and of the key contained in the\n\t\t\tcertificate.</p>"
          }
        },
        "SubjectInformationAccess": {
          "target": "com.amazonaws.acmpca#AccessDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>For CA certificates, provides a path to additional information pertaining to the CA,\n\t\t\tsuch as revocation and policy. For more information, see <a href=\"https://tools.ietf.org/html/rfc5280#section-4.2.2.2\">Subject Information\n\t\t\t\tAccess</a> in RFC 5280.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the certificate extensions to be added to the certificate signing request\n\t\t\t(CSR).</p>"
      }
    },
    "com.amazonaws.acmpca#CustomObjectIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        },
        "smithy.api#pattern": "^([0-2])\\.([0-9]|([0-3][0-9]))((\\.([0-9]+)){0,126})$"
      }
    },
    "com.amazonaws.acmpca#DeleteCertificateAuthority": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#DeleteCertificateAuthorityRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a private certificate authority (CA). You must provide the Amazon Resource\n\t\t\tName (ARN) of the private CA that you want to delete. You can find the ARN by calling\n\t\t\tthe <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ListCertificateAuthorities.html\">ListCertificateAuthorities</a> action. </p>\n\t\t       <note>\n\t\t\t         <p>Deleting a CA will invalidate other CAs and certificates below it in your CA\n\t\t\t\thierarchy.</p>\n\t\t       </note>\n\t\t       <p>Before you can delete a CA that you have created and activated, you must disable it.\n\t\t\tTo do this, call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_UpdateCertificateAuthority.html\">UpdateCertificateAuthority</a> action and set the <b>CertificateAuthorityStatus</b> parameter to <code>DISABLED</code>. </p>\n\t\t       <p>Additionally, you can delete a CA if you are waiting for it to be created (that is,\n\t\t\tthe status of the CA is <code>CREATING</code>). You can also delete it if the CA has\n\t\t\tbeen created but you haven't yet imported the signed certificate into ACM Private CA (that is,\n\t\t\tthe status of the CA is <code>PENDING_CERTIFICATE</code>). </p>\n\t\t       <p>When you successfully call <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_DeleteCertificateAuthority.html\">DeleteCertificateAuthority</a>, the CA's status changes to\n\t\t\t<code>DELETED</code>. However, the CA won't be permanently deleted until the restoration\n\t\t\tperiod has passed. By default, if you do not set the\n\t\t\t\t<code>PermanentDeletionTimeInDays</code> parameter, the CA remains restorable for 30\n\t\t\tdays. You can set the parameter from 7 to 30 days. The <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_DescribeCertificateAuthority.html\">DescribeCertificateAuthority</a> action returns the time remaining in the\n\t\t\trestoration window of a private CA in the <code>DELETED</code> state. To restore an\n\t\t\teligible CA, call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_RestoreCertificateAuthority.html\">RestoreCertificateAuthority</a> action.</p>"
      }
    },
    "com.amazonaws.acmpca#DeleteCertificateAuthorityRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a>. This must have the following form: </p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>.\n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "PermanentDeletionTimeInDays": {
          "target": "com.amazonaws.acmpca#PermanentDeletionTimeInDays",
          "traits": {
            "smithy.api#documentation": "<p>The number of days to make a CA restorable after it has been deleted. This can be\n\t\t\tanywhere from 7 to 30 days, with 30 being the default.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#DeletePermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#DeletePermissionRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestFailedException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Revokes permissions on a private CA granted to the AWS Certificate Manager (ACM) service principal\n\t\t\t(acm.amazonaws.com). </p>\n\t\t       <p>These permissions allow ACM to issue and renew ACM certificates that reside in the\n\t\t\tsame AWS account as the CA. If you revoke these permissions, ACM will no longer\n\t\t\trenew the affected certificates automatically.</p>\n\t\t       <p>Permissions can be granted with the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreatePermission.html\">CreatePermission</a> action and\n\t\t\tlisted with the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ListPermissions.html\">ListPermissions</a> action. </p> \n         <p class=\"title\">\n            <b>About Permissions</b>\n         </p>\n         <ul>\n            <li>\n\t\t\t            <p>If the private CA and the certificates it issues reside in the same \n\t\t\taccount, you can use <code>CreatePermission</code> to grant permissions for ACM to \n\t\t\tcarry out automatic certificate renewals.</p>\n\t\t          </li>\n            <li>\n\t\t\t            <p>For automatic certificate renewal to succeed, the ACM service principal\n\t\t\tneeds permissions to create, retrieve, and list certificates.</p>\n\t\t          </li>\n            <li>\n\t\t\t            <p>If the private CA and the ACM certificates reside in different accounts, \n\t\t\tthen permissions cannot be used to enable automatic renewals. Instead, \n\t\t\tthe ACM certificate owner must set up a resource-based policy to enable \n\t\t\tcross-account issuance and renewals. For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/pca-rbp.html\">Using a Resource\n\t\t\tBased Policy with ACM Private CA</a>.</p>\n\t\t          </li>\n         </ul>"
      }
    },
    "com.amazonaws.acmpca#DeletePermissionRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the private CA that issued the permissions. You\n\t\t\tcan find the CA's ARN by calling the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ListCertificateAuthorities.html\">ListCertificateAuthorities</a> action. This must have the following form: </p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>.\n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "Principal": {
          "target": "com.amazonaws.acmpca#Principal",
          "traits": {
            "smithy.api#documentation": "<p>The AWS service or identity that will have its CA permissions revoked. At this time,\n\t\t\tthe only valid service principal is <code>acm.amazonaws.com</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "SourceAccount": {
          "target": "com.amazonaws.acmpca#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account that calls this action.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#DeletePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#DeletePolicyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#LockoutPreventedException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestFailedException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the resource-based policy attached to a private CA. Deletion will remove any\n\t\t\taccess that the policy has granted. If there is no policy attached to the private CA,\n\t\t\tthis action will return successful.</p>\n\t\t       <p>If you delete a policy that was applied through AWS Resource Access Manager (RAM), the\n\t\t\tCA will be removed from all shares in which it was included. </p>\n\t\t       <p>The AWS Certificate Manager Service Linked Role that the policy supports is not affected when you\n\t\t\tdelete the policy. </p>\n\t\t       <p>The current policy can be shown with <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_GetPolicy.html\">GetPolicy</a> and updated with <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_PutPolicy.html\">PutPolicy</a>.</p>\n\t\t       <p class=\"title\">\n            <b>About Policies</b>\n         </p>\n         <ul>\n            <li>\n\t\t\t            <p>A policy grants access on a private CA to an AWS customer account, to AWS Organizations, or to\n\t\t\tan AWS Organizations unit. Policies are under the control of a CA administrator. For more information, \n\t\t\tsee <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/pca-rbp.html\">Using a Resource Based Policy with ACM Private CA</a>.</p>\n\t\t          </li>\n            <li>\n\t\t\t            <p>A policy permits a user of AWS Certificate Manager (ACM) to issue ACM certificates \n\t\t\tsigned by a CA in another account.</p>\t\t\t\n\t\t          </li>\n            <li>\n\t\t\t            <p>For ACM to manage automatic renewal of these certificates, \n\t\t\tthe ACM user must configure a Service Linked Role (SLR). The SLR allows \n\t\t\tthe ACM service to assume the identity of the user, subject to confirmation against the \n\t\t\tACM Private CA policy. For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-slr.html\">Using a\n            Service Linked Role with ACM</a>.</p>\t\t\t\n\t\t          </li>\n            <li>\n\t\t\t            <p>Updates made in AWS Resource Manager (RAM) are reflected in policies. For more information,\n\t\t\tsee <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/pca-ram.html\">Attach a Policy for Cross-Account \n\t\t\tAccess</a>.</p>\t\t\t\t\n\t\t          </li>\n         </ul>"
      }
    },
    "com.amazonaws.acmpca#DeletePolicyRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the private CA that will have its policy deleted.\n\t\t\tYou can find the CA's ARN by calling the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ListCertificateAuthorities.html\">ListCertificateAuthorities</a> action. The ARN value must have the form\n\t\t\t\t<code>arn:aws:acm-pca:region:account:certificate-authority/01234567-89ab-cdef-0123-0123456789ab</code>.\n\t\t</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.acmpca#DescribeCertificateAuthority": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#DescribeCertificateAuthorityRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#DescribeCertificateAuthorityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists information about your private certificate authority (CA) or one that has been\n\t\t\tshared with you. You specify the private CA on input by its ARN (Amazon Resource Name).\n\t\t\tThe output contains the status of your CA. This can be any of the following: </p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <code>CREATING</code> - ACM Private CA is creating your private certificate\n\t\t\t\t\tauthority.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>PENDING_CERTIFICATE</code> - The certificate is pending. You must use\n\t\t\t\t\tyour ACM Private CA-hosted or on-premises root or subordinate CA to sign your private CA\n\t\t\t\t\tCSR and then import it into PCA. </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>ACTIVE</code> - Your private CA is active.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>DISABLED</code> - Your private CA has been disabled.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>EXPIRED</code> - Your private CA certificate has expired.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>FAILED</code> - Your private CA has failed. Your CA can fail because of\n\t\t\t\t\tproblems such a network outage or back-end AWS failure or other errors. A\n\t\t\t\t\tfailed CA can never return to the pending state. You must create a new CA.\n\t\t\t\t</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>DELETED</code> - Your private CA is within the restoration period, after\n\t\t\t\t\twhich it is permanently deleted. The length of time remaining in the CA's\n\t\t\t\t\trestoration period is also included in this action's output.</p>\n\t\t\t         </li>\n         </ul>"
      }
    },
    "com.amazonaws.acmpca#DescribeCertificateAuthorityAuditReport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#DescribeCertificateAuthorityAuditReportRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#DescribeCertificateAuthorityAuditReportResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArgsException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists information about a specific audit report created by calling the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthorityAuditReport.html\">CreateCertificateAuthorityAuditReport</a> action. Audit information is created\n\t\t\tevery time the certificate authority (CA) private key is used. The private key is used\n\t\t\twhen you call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_IssueCertificate.html\">IssueCertificate</a> action or the\n\t\t\t\t<a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_RevokeCertificate.html\">RevokeCertificate</a> action. </p>",
        "smithy.waiters#waitable": {
          "AuditReportCreated": {
            "documentation": "Wait until a Audit Report is created",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "AuditReportStatus",
                    "expected": "SUCCESS",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "AuditReportStatus",
                    "expected": "FAILED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ],
            "minDelay": 3
          }
        }
      }
    },
    "com.amazonaws.acmpca#DescribeCertificateAuthorityAuditReportRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the private CA. This must be of the form:</p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>.\n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "AuditReportId": {
          "target": "com.amazonaws.acmpca#AuditReportId",
          "traits": {
            "smithy.api#documentation": "<p>The report ID returned by calling the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthorityAuditReport.html\">CreateCertificateAuthorityAuditReport</a> action.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.acmpca#DescribeCertificateAuthorityAuditReportResponse": {
      "type": "structure",
      "members": {
        "AuditReportStatus": {
          "target": "com.amazonaws.acmpca#AuditReportStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether report creation is in progress, has succeeded, or has failed.</p>"
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.acmpca#S3BucketName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the S3 bucket that contains the report.</p>"
          }
        },
        "S3Key": {
          "target": "com.amazonaws.acmpca#S3Key",
          "traits": {
            "smithy.api#documentation": "<p>S3 <b>key</b> that uniquely identifies the report file in\n\t\t\tyour S3 bucket.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.acmpca#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time at which the report was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#DescribeCertificateAuthorityRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a>. This must be of the form: </p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>.\n\t\t</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.acmpca#DescribeCertificateAuthorityResponse": {
      "type": "structure",
      "members": {
        "CertificateAuthority": {
          "target": "com.amazonaws.acmpca#CertificateAuthority",
          "traits": {
            "smithy.api#documentation": "<p>A <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CertificateAuthority.html\">CertificateAuthority</a> structure that contains information about your private\n\t\t\tCA.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#EdiPartyName": {
      "type": "structure",
      "members": {
        "PartyName": {
          "target": "com.amazonaws.acmpca#String256",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the party name.</p>",
            "smithy.api#required": {}
          }
        },
        "NameAssigner": {
          "target": "com.amazonaws.acmpca#String256",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name assigner.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Electronic Data Interchange (EDI) entity as described in as defined in\n\t\t\t\t<a href=\"https://tools.ietf.org/html/rfc5280\">Subject Alternative Name</a> in\n\t\t\tRFC 5280.</p>"
      }
    },
    "com.amazonaws.acmpca#ExtendedKeyUsage": {
      "type": "structure",
      "members": {
        "ExtendedKeyUsageType": {
          "target": "com.amazonaws.acmpca#ExtendedKeyUsageType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a standard <code>ExtendedKeyUsage</code> as defined as in <a href=\"https://tools.ietf.org/html/rfc5280#section-4.2.1.12\">RFC 5280</a>.</p>"
          }
        },
        "ExtendedKeyUsageObjectIdentifier": {
          "target": "com.amazonaws.acmpca#CustomObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a custom <code>ExtendedKeyUsage</code> with an object identifier\n\t\t\t(OID).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies additional purposes for which the certified public key may be used other\n\t\t\tthan basic purposes indicated in the <code>KeyUsage</code> extension.</p>"
      }
    },
    "com.amazonaws.acmpca#ExtendedKeyUsageList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acmpca#ExtendedKeyUsage"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.acmpca#ExtendedKeyUsageType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SERVER_AUTH",
            "name": "SERVER_AUTH"
          },
          {
            "value": "CLIENT_AUTH",
            "name": "CLIENT_AUTH"
          },
          {
            "value": "CODE_SIGNING",
            "name": "CODE_SIGNING"
          },
          {
            "value": "EMAIL_PROTECTION",
            "name": "EMAIL_PROTECTION"
          },
          {
            "value": "TIME_STAMPING",
            "name": "TIME_STAMPING"
          },
          {
            "value": "OCSP_SIGNING",
            "name": "OCSP_SIGNING"
          },
          {
            "value": "SMART_CARD_LOGIN",
            "name": "SMART_CARD_LOGIN"
          },
          {
            "value": "DOCUMENT_SIGNING",
            "name": "DOCUMENT_SIGNING"
          },
          {
            "value": "CERTIFICATE_TRANSPARENCY",
            "name": "CERTIFICATE_TRANSPARENCY"
          }
        ]
      }
    },
    "com.amazonaws.acmpca#Extensions": {
      "type": "structure",
      "members": {
        "CertificatePolicies": {
          "target": "com.amazonaws.acmpca#CertificatePolicyList",
          "traits": {
            "smithy.api#documentation": "<p>Contains a sequence of one or more policy information terms, each of which consists of\n\t\t\tan object identifier (OID) and optional qualifiers. For more information, see NIST's\n\t\t\tdefinition of <a href=\"https://csrc.nist.gov/glossary/term/Object_Identifier\">Object\n\t\t\t\tIdentifier (OID)</a>.</p>\n\t\t       <p>In an end-entity certificate, these terms indicate the policy under which the\n\t\t\tcertificate was issued and the purposes for which it may be used. In a CA certificate,\n\t\t\tthese terms limit the set of policies for certification paths that include this\n\t\t\tcertificate.</p>"
          }
        },
        "ExtendedKeyUsage": {
          "target": "com.amazonaws.acmpca#ExtendedKeyUsageList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies additional purposes for which the certified public key may be used other\n\t\t\tthan basic purposes indicated in the <code>KeyUsage</code> extension.</p>"
          }
        },
        "KeyUsage": {
          "target": "com.amazonaws.acmpca#KeyUsage"
        },
        "SubjectAlternativeNames": {
          "target": "com.amazonaws.acmpca#GeneralNameList",
          "traits": {
            "smithy.api#documentation": "<p>The subject alternative name extension allows identities to be bound to the subject of\n\t\t\tthe certificate. These identities may be included in addition to or in place of the\n\t\t\tidentity in the subject field of the certificate.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains X.509 extension information for a certificate.</p>"
      }
    },
    "com.amazonaws.acmpca#FailureReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "REQUEST_TIMED_OUT",
            "name": "REQUEST_TIMED_OUT"
          },
          {
            "value": "UNSUPPORTED_ALGORITHM",
            "name": "UNSUPPORTED_ALGORITHM"
          },
          {
            "value": "OTHER",
            "name": "OTHER"
          }
        ]
      }
    },
    "com.amazonaws.acmpca#GeneralName": {
      "type": "structure",
      "members": {
        "OtherName": {
          "target": "com.amazonaws.acmpca#OtherName",
          "traits": {
            "smithy.api#documentation": "<p>Represents <code>GeneralName</code> using an <code>OtherName</code> object.</p>"
          }
        },
        "Rfc822Name": {
          "target": "com.amazonaws.acmpca#String256",
          "traits": {
            "smithy.api#documentation": "<p>Represents <code>GeneralName</code> as an <a href=\"https://tools.ietf.org/html/rfc822\">RFC 822</a> email address.</p>"
          }
        },
        "DnsName": {
          "target": "com.amazonaws.acmpca#String253",
          "traits": {
            "smithy.api#documentation": "<p>Represents <code>GeneralName</code> as a DNS name.</p>"
          }
        },
        "DirectoryName": {
          "target": "com.amazonaws.acmpca#ASN1Subject"
        },
        "EdiPartyName": {
          "target": "com.amazonaws.acmpca#EdiPartyName",
          "traits": {
            "smithy.api#documentation": "<p>Represents <code>GeneralName</code> as an <code>EdiPartyName</code> object.</p>"
          }
        },
        "UniformResourceIdentifier": {
          "target": "com.amazonaws.acmpca#String253",
          "traits": {
            "smithy.api#documentation": "<p>Represents <code>GeneralName</code> as a URI.</p>"
          }
        },
        "IpAddress": {
          "target": "com.amazonaws.acmpca#String39",
          "traits": {
            "smithy.api#documentation": "<p>Represents <code>GeneralName</code> as an IPv4 or IPv6 address.</p>"
          }
        },
        "RegisteredId": {
          "target": "com.amazonaws.acmpca#CustomObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p> Represents <code>GeneralName</code> as an object identifier (OID).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an ASN.1 X.400 <code>GeneralName</code> as defined in <a href=\"https://tools.ietf.org/html/rfc5280\">RFC 5280</a>. Only one of the\n\t\t\tfollowing naming options should be provided. Providing more than one option results in\n\t\t\tan <code>InvalidArgsException</code> error.</p>"
      }
    },
    "com.amazonaws.acmpca#GeneralNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acmpca#GeneralName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.acmpca#GetCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#GetCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#GetCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestFailedException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestInProgressException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a certificate from your private CA or one that has been shared with you. The\n\t\t\tARN of the certificate is returned when you call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_IssueCertificate.html\">IssueCertificate</a> action. You\n\t\t\tmust specify both the ARN of your private CA and the ARN of the issued certificate when\n\t\t\tcalling the <b>GetCertificate</b> action. You can retrieve the\n\t\t\tcertificate if it is in the <b>ISSUED</b> state. You can call\n\t\t\tthe <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthorityAuditReport.html\">CreateCertificateAuthorityAuditReport</a> action to create a report that\n\t\t\tcontains information about all of the certificates issued and revoked by your private\n\t\t\tCA. </p>",
        "smithy.waiters#waitable": {
          "CertificateIssued": {
            "documentation": "Wait until a certificate is issued",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "success": true
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "RequestInProgressException"
                }
              }
            ],
            "minDelay": 3
          }
        }
      }
    },
    "com.amazonaws.acmpca#GetCertificateAuthorityCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#GetCertificateAuthorityCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#GetCertificateAuthorityCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the certificate and certificate chain for your private certificate authority\n\t\t\t(CA) or one that has been shared with you. Both the certificate and the chain are base64\n\t\t\tPEM-encoded. The chain does not include the CA certificate. Each certificate in the\n\t\t\tchain signs the one before it. </p>"
      }
    },
    "com.amazonaws.acmpca#GetCertificateAuthorityCertificateRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of your private CA. This is of the form:</p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>.\n\t\t</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.acmpca#GetCertificateAuthorityCertificateResponse": {
      "type": "structure",
      "members": {
        "Certificate": {
          "target": "com.amazonaws.acmpca#CertificateBody",
          "traits": {
            "smithy.api#documentation": "<p>Base64-encoded certificate authority (CA) certificate.</p>"
          }
        },
        "CertificateChain": {
          "target": "com.amazonaws.acmpca#CertificateChain",
          "traits": {
            "smithy.api#documentation": "<p>Base64-encoded certificate chain that includes any intermediate certificates and\n\t\t\tchains up to root certificate that you used to sign your private CA certificate. The\n\t\t\tchain does not include your private CA certificate. If this is a root CA, the value will\n\t\t\tbe null.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#GetCertificateAuthorityCsr": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#GetCertificateAuthorityCsrRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#GetCertificateAuthorityCsrResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestFailedException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestInProgressException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the certificate signing request (CSR) for your private certificate authority\n\t\t\t(CA). The CSR is created when you call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a> action. Sign the CSR with your ACM Private CA-hosted or\n\t\t\ton-premises root or subordinate CA. Then import the signed certificate back into ACM Private CA\n\t\t\tby calling the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_ImportCertificateAuthorityCertificate.html\">ImportCertificateAuthorityCertificate</a> action. The CSR is returned as a\n\t\t\tbase64 PEM-encoded string. </p>",
        "smithy.waiters#waitable": {
          "CertificateAuthorityCSRCreated": {
            "documentation": "Wait until a Certificate Authority CSR is created",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "success": true
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "RequestInProgressException"
                }
              }
            ],
            "minDelay": 3
          }
        }
      }
    },
    "com.amazonaws.acmpca#GetCertificateAuthorityCsrRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a> action. This must be of the form: </p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>\n\t\t       </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.acmpca#GetCertificateAuthorityCsrResponse": {
      "type": "structure",
      "members": {
        "Csr": {
          "target": "com.amazonaws.acmpca#CsrBody",
          "traits": {
            "smithy.api#documentation": "<p>The base64 PEM-encoded certificate signing request (CSR) for your private CA\n\t\t\tcertificate.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#GetCertificateRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a>. This must be of the form: </p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>\n            </code>.\n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "CertificateArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the issued certificate. The ARN contains the certificate serial number and\n\t\t\tmust be in the following form: </p>\n\t\t       <p>\n\t\t\t         <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i>/certificate/<i>286535153982981100925020015808220737245</i>\n            </code>\n\t\t       </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.acmpca#GetCertificateResponse": {
      "type": "structure",
      "members": {
        "Certificate": {
          "target": "com.amazonaws.acmpca#CertificateBody",
          "traits": {
            "smithy.api#documentation": "<p>The base64 PEM-encoded certificate specified by the <code>CertificateArn</code>\n\t\t\tparameter.</p>"
          }
        },
        "CertificateChain": {
          "target": "com.amazonaws.acmpca#CertificateChain",
          "traits": {
            "smithy.api#documentation": "<p>The base64 PEM-encoded certificate chain that chains up to the root CA certificate\n\t\t\tthat you used to sign your private CA certificate. </p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#GetPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#GetPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#GetPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestFailedException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the resource-based policy attached to a private CA. If either the private CA\n\t\t\tresource or the policy cannot be found, this action returns a\n\t\t\t\t<code>ResourceNotFoundException</code>. </p>\n\t\t       <p>The policy can be attached or updated with <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_PutPolicy.html\">PutPolicy</a> and removed with <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_DeletePolicy.html\">DeletePolicy</a>.</p> \n         <p class=\"title\">\n            <b>About Policies</b>\n         </p>\n         <ul>\n            <li>\n\t\t\t            <p>A policy grants access on a private CA to an AWS customer account, to AWS Organizations, or to\n\t\t\tan AWS Organizations unit. Policies are under the control of a CA administrator. For more information, \n\t\t\tsee <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/pca-rbp.html\">Using a Resource Based Policy with ACM Private CA</a>.</p>\n\t\t          </li>\n            <li>\n\t\t\t            <p>A policy permits a user of AWS Certificate Manager (ACM) to issue ACM certificates \n\t\t\tsigned by a CA in another account.</p>\t\t\t\n\t\t          </li>\n            <li>\n\t\t\t            <p>For ACM to manage automatic renewal of these certificates, \n\t\t\tthe ACM user must configure a Service Linked Role (SLR). The SLR allows \n\t\t\tthe ACM service to assume the identity of the user, subject to confirmation against the \n\t\t\tACM Private CA policy. For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-slr.html\">Using a\n            Service Linked Role with ACM</a>.</p>\t\t\t\n\t\t          </li>\n            <li>\n\t\t\t            <p>Updates made in AWS Resource Manager (RAM) are reflected in policies. For more information,\n\t\t\tsee <a href=\"https://docs.aws.amazon.com/acm-pca/latest/userguide/pca-ram.html\">Attach a Policy for Cross-Account \n\t\t\tAccess</a>.</p>\t\t\t\t\n\t\t          </li>\n         </ul>"
      }
    },
    "com.amazonaws.acmpca#GetPolicyRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the private CA that will have its policy\n\t\t\tretrieved. You can find the CA's ARN by calling the ListCertificateAuthorities action.\n\t\t\t\n\t\t</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.acmpca#GetPolicyResponse": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazonaws.acmpca#AWSPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The policy attached to the private CA as a JSON document.</p>"
          }
        }
      }
    },
    "com.amazonaws.acmpca#IdempotencyToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        },
        "smithy.api#pattern": "^[\\u0009\\u000A\\u000D\\u0020-\\u00FF]*$"
      }
    },
    "com.amazonaws.acmpca#ImportCertificateAuthorityCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#ImportCertificateAuthorityCertificateRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#CertificateMismatchException"
        },
        {
          "target": "com.amazonaws.acmpca#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#MalformedCertificateException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestFailedException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestInProgressException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Imports a signed private CA certificate into ACM Private CA. This action is used when you are\n\t\t\tusing a chain of trust whose root is located outside ACM Private CA. Before you can call this\n\t\t\taction, the following preparations must in place:</p>\n\t\t       <ol>\n            <li>\n\t\t\t\t           <p>In ACM Private CA, call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a> action to create the private CA that you\n\t\t\t\t\tplan to back with the imported certificate.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Call the <a href=\"https://docs.aws.amazon.com/acm-pca/latest/APIReference/API_GetCertificateAuthorityCsr.html\">GetCertificateAuthorityCsr</a> action to generate a certificate signing\n\t\t\t\t\trequest (CSR).</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Sign the CSR using a root or intermediate CA hosted by either an on-premises\n\t\t\t\t\tPKI hierarchy or by a commercial CA.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Create a certificate chain and copy the signed certificate and the certificate\n\t\t\t\t\tchain to your working directory.</p>\n\t\t\t         </li>\n         </ol>\n\t\t       <p>ACM Private CA supports three scenarios for installing a CA certificate:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>Installing a certificate for a root CA hosted by ACM Private CA.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Installing a subordinate CA certificate whose parent authority is hosted by\n\t\t\t\t\tACM Private CA.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Installing a subordinate CA certificate whose parent authority is externally\n\t\t\t\t\thosted.</p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>The following additional requirements apply when you import a CA certificate.</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>Only a self-signed certificate can be imported as a root CA.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>A self-signed certificate cannot be imported as a subordinate CA.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Your certificate chain must not include the private CA certificate that you\n\t\t\t\t\tare importing.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Your root CA must be the last certificate in your chain. The subordinate\n\t\t\t\t\tcertificate, if any, that your root CA signed must be next to last. The\n\t\t\t\t\tsubordinate certificate signed by the preceding subordinate CA must come next,\n\t\t\t\t\tand so on until your chain is built. </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>The chain must be PEM-encoded.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>The maximum allowed size of a certificate is 32 KB.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>The maximum allowed size of a certificate chain is 2 MB.</p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>\n            <i>Enforcement of Critical Constraints</i>\n         </p>\n\t\t       <p>ACM Private CA allows the following extensions to be marked critical in the imported CA\n\t\t\tcertificate or chain.</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>Basic constraints (<i>must</i> be marked critical)</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Subject alternative names</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Key usage</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Extended key usage</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Authority key identifier</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Subject key identifier</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Issuer alternative name</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Subject directory attributes</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Subject information access</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Certificate policies</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Policy mappings</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Inhibit anyPolicy</p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>ACM Private CA rejects the following extensions when they are marked critical in an imported CA\n\t\t\tcertificate or chain.</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>Name constraints</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Policy constraints</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>CRL distribution points</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Authority 
[...]
