{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.acmpca#ACMPrivateCA": {
      "type": "service",
      "operations": [
        {
          "target": "com.amazonaws.acmpca#CreateCertificateAuthority"
        },
        {
          "target": "com.amazonaws.acmpca#CreateCertificateAuthorityAuditReport"
        },
        {
          "target": "com.amazonaws.acmpca#CreatePermission"
        },
        {
          "target": "com.amazonaws.acmpca#DeleteCertificateAuthority"
        },
        {
          "target": "com.amazonaws.acmpca#DeletePermission"
        },
        {
          "target": "com.amazonaws.acmpca#DeletePolicy"
        },
        {
          "target": "com.amazonaws.acmpca#DescribeCertificateAuthority"
        },
        {
          "target": "com.amazonaws.acmpca#DescribeCertificateAuthorityAuditReport"
        },
        {
          "target": "com.amazonaws.acmpca#GetCertificate"
        },
        {
          "target": "com.amazonaws.acmpca#GetCertificateAuthorityCertificate"
        },
        {
          "target": "com.amazonaws.acmpca#GetCertificateAuthorityCsr"
        },
        {
          "target": "com.amazonaws.acmpca#GetPolicy"
        },
        {
          "target": "com.amazonaws.acmpca#ImportCertificateAuthorityCertificate"
        },
        {
          "target": "com.amazonaws.acmpca#IssueCertificate"
        },
        {
          "target": "com.amazonaws.acmpca#ListCertificateAuthorities"
        },
        {
          "target": "com.amazonaws.acmpca#ListPermissions"
        },
        {
          "target": "com.amazonaws.acmpca#ListTags"
        },
        {
          "target": "com.amazonaws.acmpca#PutPolicy"
        },
        {
          "target": "com.amazonaws.acmpca#RestoreCertificateAuthority"
        },
        {
          "target": "com.amazonaws.acmpca#RevokeCertificate"
        },
        {
          "target": "com.amazonaws.acmpca#TagCertificateAuthority"
        },
        {
          "target": "com.amazonaws.acmpca#UntagCertificateAuthority"
        },
        {
          "target": "com.amazonaws.acmpca#UpdateCertificateAuthority"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ACM PCA",
          "arnNamespace": "acm-pca",
          "cloudFormationName": "ACMPCA",
          "cloudTrailEventSource": "acm-pca.amazonaws.com",
          "docId": "acm-pca-2017-08-22",
          "endpointPrefix": "acm-pca"
        },
        "aws.auth#sigv4": {
          "name": "acm-pca"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>This is the <i>Amazon Web Services Private Certificate Authority API Reference</i>. It provides descriptions, syntax, and usage examples for each of the actions and data types involved in creating and managing a private certificate authority (CA) for your organization.</p> <p>The documentation for each action shows the API request parameters and the JSON response. Alternatively, you can use one of the Amazon Web Services SDKs to access an API that is tailored to the programming language or platform that you prefer. For more information, see <a href=\"https://aws.amazon.com/tools/#SDKs\">Amazon Web Services SDKs</a>.</p> <p>Each Amazon Web Services Private CA API operation has a quota that determines the number of times the operation can be called per second. Amazon Web Services Private CA throttles API requests at different rates depending on the operation. Throttling means that Amazon Web Services Private CA rejects an otherwise valid request because the request exceeds the operation's quota for the number of requests per second. When a request is throttled, Amazon Web Services Private CA returns a <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/CommonErrors.html\">ThrottlingException</a> error. Amazon Web Services Private CA does not guarantee a minimum request rate for APIs. </p> <p>To see an up-to-date list of your Amazon Web Services Private CA quotas, or to request a quota increase, log into your Amazon Web Services account and visit the <a href=\"https://console.aws.amazon.com/servicequotas/\">Service Quotas</a> console.</p>",
        "smithy.api#title": "AWS Certificate Manager Private Certificate Authority",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://acm-pca-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    },
                                    "aws-us-gov"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://acm-pca.{Region}.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://acm-pca-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://acm-pca.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://acm-pca.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-pca.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.acmpca#ASN1PrintableString64": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9'()+-.?:/= ]*$"
      }
    },
    "com.amazonaws.acmpca#ASN1Subject": {
      "type": "structure",
      "members": {
        "Country": {
          "target": "com.amazonaws.acmpca#CountryCodeString",
          "traits": {
            "smithy.api#documentation": "<p>Two-digit code that specifies the country in which the certificate subject located.</p>"
          }
        },
        "Organization": {
          "target": "com.amazonaws.acmpca#String64",
          "traits": {
            "smithy.api#documentation": "<p>Legal name of the organization with which the certificate subject is affiliated. </p>"
          }
        },
        "OrganizationalUnit": {
          "target": "com.amazonaws.acmpca#String64",
          "traits": {
            "smithy.api#documentation": "<p>A subdivision or unit of the organization (such as sales or finance) with which the certificate subject is affiliated.</p>"
          }
        },
        "DistinguishedNameQualifier": {
          "target": "com.amazonaws.acmpca#ASN1PrintableString64",
          "traits": {
            "smithy.api#documentation": "<p>Disambiguating information for the certificate subject.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.acmpca#String128",
          "traits": {
            "smithy.api#documentation": "<p>State in which the subject of the certificate is located.</p>"
          }
        },
        "CommonName": {
          "target": "com.amazonaws.acmpca#String64",
          "traits": {
            "smithy.api#documentation": "<p>For CA and end-entity certificates in a private PKI, the common name (CN) can be any string within the length limit. </p> <p>Note: In publicly trusted certificates, the common name must be a fully qualified domain name (FQDN) associated with the certificate subject.</p>"
          }
        },
        "SerialNumber": {
          "target": "com.amazonaws.acmpca#ASN1PrintableString64",
          "traits": {
            "smithy.api#documentation": "<p>The certificate serial number.</p>"
          }
        },
        "Locality": {
          "target": "com.amazonaws.acmpca#String128",
          "traits": {
            "smithy.api#documentation": "<p>The locality (such as a city or town) in which the certificate subject is located.</p>"
          }
        },
        "Title": {
          "target": "com.amazonaws.acmpca#String64",
          "traits": {
            "smithy.api#documentation": "<p>A title such as Mr. or Ms., which is pre-pended to the name to refer formally to the certificate subject.</p>"
          }
        },
        "Surname": {
          "target": "com.amazonaws.acmpca#String40",
          "traits": {
            "smithy.api#documentation": "<p>Family name. In the US and the UK, for example, the surname of an individual is ordered last. In Asian cultures the surname is typically ordered first.</p>"
          }
        },
        "GivenName": {
          "target": "com.amazonaws.acmpca#String16",
          "traits": {
            "smithy.api#documentation": "<p>First name.</p>"
          }
        },
        "Initials": {
          "target": "com.amazonaws.acmpca#String5",
          "traits": {
            "smithy.api#documentation": "<p>Concatenation that typically contains the first letter of the <b>GivenName</b>, the first letter of the middle name if one exists, and the first letter of the <b>Surname</b>.</p>"
          }
        },
        "Pseudonym": {
          "target": "com.amazonaws.acmpca#String128",
          "traits": {
            "smithy.api#documentation": "<p>Typically a shortened version of a longer <b>GivenName</b>. For example, Jonathan is often shortened to John. Elizabeth is often shortened to Beth, Liz, or Eliza.</p>"
          }
        },
        "GenerationQualifier": {
          "target": "com.amazonaws.acmpca#String3",
          "traits": {
            "smithy.api#documentation": "<p>Typically a qualifier appended to the name of an individual. Examples include Jr. for junior, Sr. for senior, and III for third.</p>"
          }
        },
        "CustomAttributes": {
          "target": "com.amazonaws.acmpca#CustomAttributeList",
          "traits": {
            "smithy.api#documentation": "<p/> <p>Contains a sequence of one or more X.500 relative distinguished names (RDNs), each of which consists of an object identifier (OID) and a value. For more information, see NIST’s definition of <a href=\"https://csrc.nist.gov/glossary/term/Object_Identifier\">Object Identifier (OID)</a>.</p> <note> <p>Custom attributes cannot be used in combination with standard attributes.</p> </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the certificate subject. The <code>Subject</code> field in the certificate identifies the entity that owns or controls the public key in the certificate. The entity can be a user, computer, device, or service. The <code>Subject </code>must contain an X.500 distinguished name (DN). A DN is a sequence of relative distinguished names (RDNs). The RDNs are separated by commas in the certificate.</p>"
      }
    },
    "com.amazonaws.acmpca#AWSPolicy": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 81920
        },
        "smithy.api#pattern": "^[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+$"
      }
    },
    "com.amazonaws.acmpca#AccessDescription": {
      "type": "structure",
      "members": {
        "AccessMethod": {
          "target": "com.amazonaws.acmpca#AccessMethod",
          "traits": {
            "smithy.api#documentation": "<p>The type and format of <code>AccessDescription</code> information.</p>",
            "smithy.api#required": {}
          }
        },
        "AccessLocation": {
          "target": "com.amazonaws.acmpca#GeneralName",
          "traits": {
            "smithy.api#documentation": "<p>The location of <code>AccessDescription</code> information.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides access information used by the <code>authorityInfoAccess</code> and <code>subjectInfoAccess</code> extensions described in <a href=\"https://datatracker.ietf.org/doc/html/rfc5280\">RFC 5280</a>.</p>"
      }
    },
    "com.amazonaws.acmpca#AccessDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acmpca#AccessDescription"
      }
    },
    "com.amazonaws.acmpca#AccessMethod": {
      "type": "structure",
      "members": {
        "CustomObjectIdentifier": {
          "target": "com.amazonaws.acmpca#CustomObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>An object identifier (OID) specifying the <code>AccessMethod</code>. The OID must satisfy the regular expression shown below. For more information, see NIST's definition of <a href=\"https://csrc.nist.gov/glossary/term/Object_Identifier\">Object Identifier (OID)</a>.</p>"
          }
        },
        "AccessMethodType": {
          "target": "com.amazonaws.acmpca#AccessMethodType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code>AccessMethod</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the type and format of extension access. Only one of <code>CustomObjectIdentifier</code> or <code>AccessMethodType</code> may be provided. Providing both results in <code>InvalidArgsException</code>.</p>"
      }
    },
    "com.amazonaws.acmpca#AccessMethodType": {
      "type": "enum",
      "members": {
        "CA_REPOSITORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA_REPOSITORY"
          }
        },
        "RESOURCE_PKI_MANIFEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_PKI_MANIFEST"
          }
        },
        "RESOURCE_PKI_NOTIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_PKI_NOTIFY"
          }
        }
      }
    },
    "com.amazonaws.acmpca#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.acmpca#ActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acmpca#ActionType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 3
        }
      }
    },
    "com.amazonaws.acmpca#ActionType": {
      "type": "enum",
      "members": {
        "IssueCertificate": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IssueCertificate"
          }
        },
        "GetCertificate": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GetCertificate"
          }
        },
        "ListPermissions": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ListPermissions"
          }
        }
      }
    },
    "com.amazonaws.acmpca#ApiPassthrough": {
      "type": "structure",
      "members": {
        "Extensions": {
          "target": "com.amazonaws.acmpca#Extensions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies X.509 extension information for a certificate.</p>"
          }
        },
        "Subject": {
          "target": "com.amazonaws.acmpca#ASN1Subject"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains X.509 certificate information to be placed in an issued certificate. An <code>APIPassthrough</code> or <code>APICSRPassthrough</code> template variant must be selected, or else this parameter is ignored. </p> <p>If conflicting or duplicate certificate information is supplied from other sources, Amazon Web Services Private CA applies <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/UsingTemplates.html#template-order-of-operations\">order of operation rules</a> to determine what information is used.</p>"
      }
    },
    "com.amazonaws.acmpca#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 200
        },
        "smithy.api#pattern": "^arn:[\\w+=/,.@-]+:acm-pca:[\\w+=/,.@-]*:[0-9]*:[\\w+=,.@-]+(/[\\w+=,.@-]+)*$"
      }
    },
    "com.amazonaws.acmpca#AuditReportId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "^[a-z0-9]{8}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{4}-[a-z0-9]{12}$"
      }
    },
    "com.amazonaws.acmpca#AuditReportResponseFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CSV"
          }
        }
      }
    },
    "com.amazonaws.acmpca#AuditReportStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.acmpca#Base64String1To4096": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#pattern": "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
      }
    },
    "com.amazonaws.acmpca#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.acmpca#CertificateAuthorities": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acmpca#CertificateAuthority"
      }
    },
    "com.amazonaws.acmpca#CertificateAuthority": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for your private certificate authority (CA). The format is <code> <i>12345678-1234-1234-1234-123456789012</i> </code>.</p>"
          }
        },
        "OwnerAccount": {
          "target": "com.amazonaws.acmpca#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID that owns the certificate authority.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.acmpca#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Date and time at which your private CA was created.</p>"
          }
        },
        "LastStateChangeAt": {
          "target": "com.amazonaws.acmpca#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Date and time at which your private CA was last updated.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.acmpca#CertificateAuthorityType",
          "traits": {
            "smithy.api#documentation": "<p>Type of your private CA.</p>"
          }
        },
        "Serial": {
          "target": "com.amazonaws.acmpca#String",
          "traits": {
            "smithy.api#documentation": "<p>Serial number of your private CA.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.acmpca#CertificateAuthorityStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of your private CA.</p>"
          }
        },
        "NotBefore": {
          "target": "com.amazonaws.acmpca#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Date and time before which your private CA certificate is not valid.</p>"
          }
        },
        "NotAfter": {
          "target": "com.amazonaws.acmpca#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Date and time after which your private CA certificate is not valid.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.acmpca#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>Reason the request to create your private CA failed.</p>"
          }
        },
        "CertificateAuthorityConfiguration": {
          "target": "com.amazonaws.acmpca#CertificateAuthorityConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Your private CA configuration.</p>"
          }
        },
        "RevocationConfiguration": {
          "target": "com.amazonaws.acmpca#RevocationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Online Certificate Status Protocol (OCSP) configuration or certificate revocation list (CRL) created and maintained by your private CA. </p>"
          }
        },
        "RestorableUntil": {
          "target": "com.amazonaws.acmpca#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The period during which a deleted CA can be restored. For more information, see the <code>PermanentDeletionTimeInDays</code> parameter of the <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_DeleteCertificateAuthorityRequest.html\">DeleteCertificateAuthorityRequest</a> action. </p>"
          }
        },
        "KeyStorageSecurityStandard": {
          "target": "com.amazonaws.acmpca#KeyStorageSecurityStandard",
          "traits": {
            "smithy.api#documentation": "<p>Defines a cryptographic key management compliance standard for handling and protecting CA keys.</p> <p>Default: FIPS_140_2_LEVEL_3_OR_HIGHER</p> <note> <p>Starting January 26, 2023, Amazon Web Services Private CA protects all CA private keys in non-China regions using hardware security modules (HSMs) that comply with FIPS PUB 140-2 Level 3.</p> <p>For information about security standard support in different Amazon Web Services Regions, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/data-protection.html#private-keys\">Storage and security compliance of Amazon Web Services Private CA private keys</a>.</p> </note>"
          }
        },
        "UsageMode": {
          "target": "com.amazonaws.acmpca#CertificateAuthorityUsageMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the CA issues general-purpose certificates that typically require a revocation mechanism, or short-lived certificates that may optionally omit revocation because they expire quickly. Short-lived certificate validity is limited to seven days.</p> <p>The default value is GENERAL_PURPOSE.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about your private certificate authority (CA). Your private CA can issue and revoke X.509 digital certificates. Digital certificates verify that the entity named in the certificate <b>Subject</b> field owns or controls the public key contained in the <b>Subject Public Key Info</b> field. Call the <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a> action to create your private CA. You must then call the <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_GetCertificateAuthorityCertificate.html\">GetCertificateAuthorityCertificate</a> action to retrieve a private CA certificate signing request (CSR). Sign the CSR with your Amazon Web Services Private CA-hosted or on-premises root or subordinate CA certificate. Call the <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_ImportCertificateAuthorityCertificate.html\">ImportCertificateAuthorityCertificate</a> action to import the signed certificate into Certificate Manager (ACM). </p>"
      }
    },
    "com.amazonaws.acmpca#CertificateAuthorityConfiguration": {
      "type": "structure",
      "members": {
        "KeyAlgorithm": {
          "target": "com.amazonaws.acmpca#KeyAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>Type of the public key algorithm and size, in bits, of the key pair that your CA creates when it issues a certificate. When you create a subordinate CA, you must use a key algorithm supported by the parent CA.</p>",
            "smithy.api#required": {}
          }
        },
        "SigningAlgorithm": {
          "target": "com.amazonaws.acmpca#SigningAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>Name of the algorithm your private CA uses to sign certificate requests.</p> <p>This parameter should not be confused with the <code>SigningAlgorithm</code> parameter used to sign certificates when they are issued.</p>",
            "smithy.api#required": {}
          }
        },
        "Subject": {
          "target": "com.amazonaws.acmpca#ASN1Subject",
          "traits": {
            "smithy.api#documentation": "<p>Structure that contains X.500 distinguished name information for your private CA.</p>",
            "smithy.api#required": {}
          }
        },
        "CsrExtensions": {
          "target": "com.amazonaws.acmpca#CsrExtensions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies information to be added to the extension section of the certificate signing request (CSR).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configuration information for your private certificate authority (CA). This includes information about the class of public key algorithm and the key pair that your private CA creates when it issues a certificate. It also includes the signature algorithm that it uses when issuing certificates, and its X.500 distinguished name. You must specify this information when you call the <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a> action. </p>"
      }
    },
    "com.amazonaws.acmpca#CertificateAuthorityStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "PENDING_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_CERTIFICATE"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.acmpca#CertificateAuthorityType": {
      "type": "enum",
      "members": {
        "ROOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROOT"
          }
        },
        "SUBORDINATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBORDINATE"
          }
        }
      }
    },
    "com.amazonaws.acmpca#CertificateAuthorityUsageMode": {
      "type": "enum",
      "members": {
        "GENERAL_PURPOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERAL_PURPOSE"
          }
        },
        "SHORT_LIVED_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHORT_LIVED_CERTIFICATE"
          }
        }
      }
    },
    "com.amazonaws.acmpca#CertificateBody": {
      "type": "string"
    },
    "com.amazonaws.acmpca#CertificateBodyBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32768
        }
      }
    },
    "com.amazonaws.acmpca#CertificateChain": {
      "type": "string"
    },
    "com.amazonaws.acmpca#CertificateChainBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2097152
        }
      }
    },
    "com.amazonaws.acmpca#CertificateMismatchException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The certificate authority certificate you are importing does not comply with conditions specified in the certificate that signed it.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#CertificatePolicyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acmpca#PolicyInformation"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.acmpca#CnameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 253
        },
        "smithy.api#pattern": "^[-a-zA-Z0-9;/?:@&=+$,%_.!~*()']*$"
      }
    },
    "com.amazonaws.acmpca#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acmpca#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A previous update to your private CA is still ongoing.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acmpca#CountryCodeString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2
        },
        "smithy.api#pattern": "^[A-Za-z]{2}$"
      }
    },
    "com.amazonaws.acmpca#CreateCertificateAuthority": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#CreateCertificateAuthorityRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#CreateCertificateAuthorityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArgsException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidPolicyException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidTagException"
        },
        {
          "target": "com.amazonaws.acmpca#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a root or subordinate private certificate authority (CA). You must specify the CA configuration, an optional configuration for Online Certificate Status Protocol (OCSP) and/or a certificate revocation list (CRL), the CA type, and an optional idempotency token to avoid accidental creation of multiple CAs. The CA configuration specifies the name of the algorithm and key size to be used to create the CA private key, the type of signing algorithm that the CA uses, and X.500 subject information. The OCSP configuration can optionally specify a custom URL for the OCSP responder. The CRL configuration specifies the CRL expiration period in days (the validity period of the CRL), the Amazon S3 bucket that will contain the CRL, and a CNAME alias for the S3 bucket that is included in certificates issued by the CA. If successful, this action returns the Amazon Resource Name (ARN) of the CA.</p> <note> <p>Both Amazon Web Services Private CA and the IAM principal must have permission to write to the S3 bucket that you specify. If the IAM principal making the call does not have permission to write to the bucket, then an exception is thrown. For more information, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/crl-planning.html#s3-policies\">Access policies for CRLs in Amazon S3</a>.</p> </note> <p>Amazon Web Services Private CA assets that are stored in Amazon S3 can be protected with encryption. For more information, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/crl-planning.html#crl-encryption\">Encrypting Your CRLs</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.acmpca#CreateCertificateAuthorityAuditReport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#CreateCertificateAuthorityAuditReportRequest"
      },
      "output": {
        "target": "com.amazonaws.acmpca#CreateCertificateAuthorityAuditReportResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArgsException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestFailedException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestInProgressException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an audit report that lists every time that your CA private key is used to issue a certificate. The <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_IssueCertificate.html\">IssueCertificate</a> and <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_RevokeCertificate.html\">RevokeCertificate</a> actions use the private key.</p> <p>To save the audit report to your designated Amazon S3 bucket, you must create a bucket policy that grants Amazon Web Services Private CA permission to access and write to it. For an example policy, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/PcaAuditReport.html#s3-access\">Prepare an Amazon S3 bucket for audit reports</a>.</p> <p>Amazon Web Services Private CA assets that are stored in Amazon S3 can be protected with encryption. For more information, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/PcaAuditReport.html#audit-report-encryption\">Encrypting Your Audit Reports</a>.</p> <note> <p>You can generate a maximum of one report every 30 minutes.</p> </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.acmpca#CreateCertificateAuthorityAuditReportRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the CA to be audited. This is of the form:</p> <p> <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>.</p>",
            "smithy.api#required": {}
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.acmpca#S3BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the S3 bucket that will contain the audit report.</p>",
            "smithy.api#required": {}
          }
        },
        "AuditReportResponseFormat": {
          "target": "com.amazonaws.acmpca#AuditReportResponseFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format in which to create the report. This can be either <b>JSON</b> or <b>CSV</b>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.acmpca#CreateCertificateAuthorityAuditReportResponse": {
      "type": "structure",
      "members": {
        "AuditReportId": {
          "target": "com.amazonaws.acmpca#AuditReportId",
          "traits": {
            "smithy.api#documentation": "<p>An alphanumeric string that contains a report identifier.</p>"
          }
        },
        "S3Key": {
          "target": "com.amazonaws.acmpca#S3Key",
          "traits": {
            "smithy.api#documentation": "<p>The <b>key</b> that uniquely identifies the report file in your S3 bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.acmpca#CreateCertificateAuthorityRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityConfiguration": {
          "target": "com.amazonaws.acmpca#CertificateAuthorityConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Name and bit size of the private key algorithm, the name of the signing algorithm, and X.500 certificate subject information.</p>",
            "smithy.api#required": {}
          }
        },
        "RevocationConfiguration": {
          "target": "com.amazonaws.acmpca#RevocationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains information to enable support for Online Certificate Status Protocol (OCSP), certificate revocation list (CRL), both protocols, or neither. By default, both certificate validation mechanisms are disabled.</p> <p>The following requirements apply to revocation configurations.</p> <ul> <li> <p>A configuration disabling CRLs or OCSP must contain only the <code>Enabled=False</code> parameter, and will fail if other parameters such as <code>CustomCname</code> or <code>ExpirationInDays</code> are included.</p> </li> <li> <p>In a CRL configuration, the <code>S3BucketName</code> parameter must conform to <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/bucketnamingrules.html\">Amazon S3 bucket naming rules</a>.</p> </li> <li> <p>A configuration containing a custom Canonical Name (CNAME) parameter for CRLs or OCSP must conform to <a href=\"https://www.ietf.org/rfc/rfc2396.txt\">RFC2396</a> restrictions on the use of special characters in a CNAME. </p> </li> <li> <p>In a CRL or OCSP configuration, the value of a CNAME parameter must not include a protocol prefix such as \"http://\" or \"https://\".</p> </li> </ul> <p> For more information, see the <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_OcspConfiguration.html\">OcspConfiguration</a> and <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_CrlConfiguration.html\">CrlConfiguration</a> types.</p>"
          }
        },
        "CertificateAuthorityType": {
          "target": "com.amazonaws.acmpca#CertificateAuthorityType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the certificate authority.</p>",
            "smithy.api#required": {}
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.acmpca#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>Custom string that can be used to distinguish between calls to the <b>CreateCertificateAuthority</b> action. Idempotency tokens for <b>CreateCertificateAuthority</b> time out after five minutes. Therefore, if you call <b>CreateCertificateAuthority</b> multiple times with the same idempotency token within five minutes, Amazon Web Services Private CA recognizes that you are requesting only certificate authority and will issue only one. If you change the idempotency token for each call, Amazon Web Services Private CA recognizes that you are requesting multiple certificate authorities.</p>"
          }
        },
        "KeyStorageSecurityStandard": {
          "target": "com.amazonaws.acmpca#KeyStorageSecurityStandard",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a cryptographic key management compliance standard for handling and protecting CA keys.</p> <p>Default: FIPS_140_2_LEVEL_3_OR_HIGHER</p> <note> <p>Some Amazon Web Services Regions don't support the default value. When you create a CA in these Regions, you must use <code>CCPC_LEVEL_1_OR_HIGHER</code> for the <code>KeyStorageSecurityStandard</code> parameter. If you don't, the operation returns an <code>InvalidArgsException</code> with this message: \"A certificate authority cannot be created in this region with the specified security standard.\"</p> <p>For information about security standard support in different Amazon Web Services Regions, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/data-protection.html#private-keys\">Storage and security compliance of Amazon Web Services Private CA private keys</a>.</p> </note>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.acmpca#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that will be attached to the new private CA. You can associate up to 50 tags with a private CA. For information using tags with IAM to manage permissions, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_iam-tags.html\">Controlling Access Using IAM Tags</a>.</p>"
          }
        },
        "UsageMode": {
          "target": "com.amazonaws.acmpca#CertificateAuthorityUsageMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the CA issues general-purpose certificates that typically require a revocation mechanism, or short-lived certificates that may optionally omit revocation because they expire quickly. Short-lived certificate validity is limited to seven days.</p> <p>The default value is GENERAL_PURPOSE.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.acmpca#CreateCertificateAuthorityResponse": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>If successful, the Amazon Resource Name (ARN) of the certificate authority (CA). This is of the form: </p> <p> <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.acmpca#CreatePermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#CreatePermissionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#LimitExceededException"
        },
        {
          "target": "com.amazonaws.acmpca#PermissionAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.acmpca#RequestFailedException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Grants one or more permissions on a private CA to the Certificate Manager (ACM) service principal (<code>acm.amazonaws.com</code>). These permissions allow ACM to issue and renew ACM certificates that reside in the same Amazon Web Services account as the CA.</p> <p>You can list current permissions with the <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_ListPermissions.html\">ListPermissions</a> action and revoke them with the <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_DeletePermission.html\">DeletePermission</a> action.</p> <p class=\"title\"> <b>About Permissions</b> </p> <ul> <li> <p>If the private CA and the certificates it issues reside in the same account, you can use <code>CreatePermission</code> to grant permissions for ACM to carry out automatic certificate renewals.</p> </li> <li> <p>For automatic certificate renewal to succeed, the ACM service principal needs permissions to create, retrieve, and list certificates.</p> </li> <li> <p>If the private CA and the ACM certificates reside in different accounts, then permissions cannot be used to enable automatic renewals. Instead, the ACM certificate owner must set up a resource-based policy to enable cross-account issuance and renewals. For more information, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/pca-rbp.html\">Using a Resource Based Policy with Amazon Web Services Private CA</a>.</p> </li> </ul>"
      }
    },
    "com.amazonaws.acmpca#CreatePermissionRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the CA that grants the permissions. You can find the ARN by calling the <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_ListCertificateAuthorities.html\">ListCertificateAuthorities</a> action. This must have the following form: </p> <p> <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>. </p>",
            "smithy.api#required": {}
          }
        },
        "Principal": {
          "target": "com.amazonaws.acmpca#Principal",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services service or identity that receives the permission. At this time, the only valid principal is <code>acm.amazonaws.com</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceAccount": {
          "target": "com.amazonaws.acmpca#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the calling account.</p>"
          }
        },
        "Actions": {
          "target": "com.amazonaws.acmpca#ActionList",
          "traits": {
            "smithy.api#documentation": "<p>The actions that the specified Amazon Web Services service principal can use. These include <code>IssueCertificate</code>, <code>GetCertificate</code>, and <code>ListPermissions</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.acmpca#CrlConfiguration": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.acmpca#Boolean",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Boolean value that specifies whether certificate revocation lists (CRLs) are enabled. You can use this value to enable certificate revocation for a new CA when you call the <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a> action or for an existing CA when you call the <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_UpdateCertificateAuthority.html\">UpdateCertificateAuthority</a> action. </p>",
            "smithy.api#required": {}
          }
        },
        "ExpirationInDays": {
          "target": "com.amazonaws.acmpca#Integer1To5000",
          "traits": {
            "smithy.api#documentation": "<p>Validity period of the CRL in days.</p>"
          }
        },
        "CustomCname": {
          "target": "com.amazonaws.acmpca#CnameString",
          "traits": {
            "smithy.api#documentation": "<p>Name inserted into the certificate <b>CRL Distribution Points</b> extension that enables the use of an alias for the CRL distribution point. Use this value if you don't want the name of your S3 bucket to be public.</p> <note> <p>The content of a Canonical Name (CNAME) record must conform to <a href=\"https://www.ietf.org/rfc/rfc2396.txt\">RFC2396</a> restrictions on the use of special characters in URIs. Additionally, the value of the CNAME must not include a protocol prefix such as \"http://\" or \"https://\".</p> </note>"
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.acmpca#S3BucketName3To255",
          "traits": {
            "smithy.api#documentation": "<p>Name of the S3 bucket that contains the CRL. If you do not provide a value for the <b>CustomCname</b> argument, the name of your S3 bucket is placed into the <b>CRL Distribution Points</b> extension of the issued certificate. You can change the name of your bucket by calling the <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_UpdateCertificateAuthority.html\">UpdateCertificateAuthority</a> operation. You must specify a <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/PcaCreateCa.html#s3-policies\">bucket policy</a> that allows Amazon Web Services Private CA to write the CRL to your bucket.</p> <note> <p>The <code>S3BucketName</code> parameter must conform to the <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/bucketnamingrules.html\">S3 bucket naming rules</a>.</p> </note>"
          }
        },
        "S3ObjectAcl": {
          "target": "com.amazonaws.acmpca#S3ObjectAcl",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether the CRL will be publicly readable or privately held in the CRL Amazon S3 bucket. If you choose PUBLIC_READ, the CRL will be accessible over the public internet. If you choose BUCKET_OWNER_FULL_CONTROL, only the owner of the CRL S3 bucket can access the CRL, and your PKI clients may need an alternative method of access. </p> <p>If no value is specified, the default is <code>PUBLIC_READ</code>.</p> <p> <i>Note:</i> This default can cause CA creation to fail in some circumstances. If you have have enabled the Block Public Access (BPA) feature in your S3 account, then you must specify the value of this parameter as <code>BUCKET_OWNER_FULL_CONTROL</code>, and not doing so results in an error. If you have disabled BPA in S3, then you can specify either <code>BUCKET_OWNER_FULL_CONTROL</code> or <code>PUBLIC_READ</code> as the value.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/PcaCreateCa.html#s3-bpa\">Blocking public access to the S3 bucket</a>.</p>"
          }
        },
        "CrlDistributionPointExtensionConfiguration": {
          "target": "com.amazonaws.acmpca#CrlDistributionPointExtensionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configures the behavior of the CRL Distribution Point extension for certificates issued by your certificate authority. If this field is not provided, then the CRl Distribution Point Extension will be present and contain the default CRL URL.</p>"
          }
        },
        "CrlType": {
          "target": "com.amazonaws.acmpca#CrlType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to create a complete or partitioned CRL. This setting determines the maximum number of certificates that the certificate authority can issue and revoke. For more information, see <a href=\"privateca/latest/userguide/pca.html#limits_pca\">Amazon Web Services Private CA quotas</a>.</p> <ul> <li> <p> <code>COMPLETE</code> - The default setting. Amazon Web Services Private CA maintains a single CRL ﬁle for all unexpired certiﬁcates issued by a CA that have been revoked for any reason. Each certiﬁcate that Amazon Web Services Private CA issues is bound to a speciﬁc CRL through its CRL distribution point (CDP) extension, deﬁned in <a href=\"https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.1.9\"> RFC 5280</a>.</p> </li> <li> <p> <code>PARTITIONED</code> - Compared to complete CRLs, partitioned CRLs dramatically increase the number of certiﬁcates your private CA can issue. </p> <important> <p> When using partitioned CRLs, you must validate that the CRL's associated issuing distribution point (IDP) URI matches the certiﬁcate's CDP URI to ensure the right CRL has been fetched. Amazon Web Services Private CA marks the IDP extension as critical, which your client must be able to process. </p> </important> </li> </ul>"
          }
        },
        "CustomPath": {
          "target": "com.amazonaws.acmpca#CrlPathString",
          "traits": {
            "smithy.api#documentation": "<p>Designates a custom ﬁle path in S3 for CRL(s). For example, <code>http://&lt;CustomName&gt;/ &lt;CustomPath&gt;/&lt;CrlPartition_GUID&gt;.crl</code>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configuration information for a certificate revocation list (CRL). Your private certificate authority (CA) creates base CRLs. Delta CRLs are not supported. You can enable CRLs for your new or an existing private CA by setting the <b>Enabled</b> parameter to <code>true</code>. Your private CA writes CRLs to an S3 bucket that you specify in the <b>S3BucketName</b> parameter. You can hide the name of your bucket by specifying a value for the <b>CustomCname</b> parameter. Your private CA by default copies the CNAME or the S3 bucket name to the <b>CRL Distribution Points</b> extension of each certificate it issues. If you want to configure this default behavior to be something different, you can set the <b>CrlDistributionPointExtensionConfiguration</b> parameter. Your S3 bucket policy must give write permission to Amazon Web Services Private CA. </p> <p>Amazon Web Services Private CA assets that are stored in Amazon S3 can be protected with encryption. For more information, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/crl-planning.html#crl-encryption\">Encrypting Your CRLs</a>.</p> <p>Your private CA uses the value in the <b>ExpirationInDays</b> parameter to calculate the <b>nextUpdate</b> field in the CRL. The CRL is refreshed prior to a certificate's expiration date or when a certificate is revoked. When a certificate is revoked, it appears in the CRL until the certificate expires, and then in one additional CRL after expiration, and it always appears in the audit report.</p> <p>A CRL is typically updated approximately 30 minutes after a certificate is revoked. If for any reason a CRL update fails, Amazon Web Services Private CA makes further attempts every 15 minutes.</p> <p>CRLs contain the following fields:</p> <ul> <li> <p> <b>Version</b>: The current version number defined in RFC 5280 is V2. The integer value is 0x1. </p> </li> <li> <p> <b>Signature Algorithm</b>: The name of the algorithm used to sign the CRL.</p> </li> <li> <p> <b>Issuer</b>: The X.500 distinguished name of your private CA that issued the CRL.</p> </li> <li> <p> <b>Last Update</b>: The issue date and time of this CRL.</p> </li> <li> <p> <b>Next Update</b>: The day and time by which the next CRL will be issued.</p> </li> <li> <p> <b>Revoked Certificates</b>: List of revoked certificates. Each list item contains the following information.</p> <ul> <li> <p> <b>Serial Number</b>: The serial number, in hexadecimal format, of the revoked certificate.</p> </li> <li> <p> <b>Revocation Date</b>: Date and time the certificate was revoked.</p> </li> <li> <p> <b>CRL Entry Extensions</b>: Optional extensions for the CRL entry.</p> <ul> <li> <p> <b>X509v3 CRL Reason Code</b>: Reason the certificate was revoked.</p> </li> </ul> </li> </ul> </li> <li> <p> <b>CRL Extensions</b>: Optional extensions for the CRL.</p> <ul> <li> <p> <b>X509v3 Authority Key Identifier</b>: Identifies the public key associated with the private key used to sign the certificate.</p> </li> <li> <p> <b>X509v3 CRL Number:</b>: Decimal sequence number for the CRL.</p> </li> </ul> </li> <li> <p> <b>Signature Algorithm</b>: Algorithm used by your private CA to sign the CRL.</p> </li> <li> <p> <b>Signature Value</b>: Signature computed over the CRL.</p> </li> </ul> <p>Certificate revocation lists created by Amazon Web Services Private CA are DER-encoded. You can use the following OpenSSL command to list a CRL.</p> <p> <code>openssl crl -inform DER -text -in <i>crl_path</i> -noout</code> </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/crl-planning.html\">Planning a certificate revocation list (CRL)</a> in the <i>Amazon Web Services Private Certificate Authority User Guide</i> </p>"
      }
    },
    "com.amazonaws.acmpca#CrlDistributionPointExtensionConfiguration": {
      "type": "structure",
      "members": {
        "OmitExtension": {
          "target": "com.amazonaws.acmpca#Boolean",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Configures whether the CRL Distribution Point extension should be populated with the default URL to the CRL. If set to <code>true</code>, then the CDP extension will not be present in any certificates issued by that CA unless otherwise specified through CSR or API passthrough.</p> <note> <p>Only set this if you have another way to distribute the CRL Distribution Points ffor certificates issued by your CA, such as the Matter Distributed Compliance Ledger</p> <p>This configuration cannot be enabled with a custom CNAME set.</p> </note>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configuration information for the default behavior of the CRL Distribution Point (CDP) extension in certificates issued by your CA. This extension contains a link to download the CRL, so you can check whether a certificate has been revoked. To choose whether you want this extension omitted or not in certificates issued by your CA, you can set the <b>OmitExtension</b> parameter.</p>"
      }
    },
    "com.amazonaws.acmpca#CrlPathString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 253
        },
        "smithy.api#pattern": "^[-a-zA-Z0-9;?:@&=+$,%_.!~*()']+(/[-a-zA-Z0-9;?:@&=+$,%_.!~*()']+)*$"
      }
    },
    "com.amazonaws.acmpca#CrlType": {
      "type": "enum",
      "members": {
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "PARTITIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTITIONED"
          }
        }
      }
    },
    "com.amazonaws.acmpca#CsrBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32768
        }
      }
    },
    "com.amazonaws.acmpca#CsrBody": {
      "type": "string"
    },
    "com.amazonaws.acmpca#CsrExtensions": {
      "type": "structure",
      "members": {
        "KeyUsage": {
          "target": "com.amazonaws.acmpca#KeyUsage",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the purpose of the certificate and of the key contained in the certificate.</p>"
          }
        },
        "SubjectInformationAccess": {
          "target": "com.amazonaws.acmpca#AccessDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>For CA certificates, provides a path to additional information pertaining to the CA, such as revocation and policy. For more information, see <a href=\"https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.2.2\">Subject Information Access</a> in RFC 5280.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the certificate extensions to be added to the certificate signing request (CSR).</p>"
      }
    },
    "com.amazonaws.acmpca#CustomAttribute": {
      "type": "structure",
      "members": {
        "ObjectIdentifier": {
          "target": "com.amazonaws.acmpca#CustomObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the object identifier (OID) of the attribute type of the relative distinguished name (RDN).</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.acmpca#String1To256",
          "traits": {
            "smithy.api#documentation": "<p/> <p>Specifies the attribute value of relative distinguished name (RDN).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the X.500 relative distinguished name (RDN).</p>"
      }
    },
    "com.amazonaws.acmpca#CustomAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acmpca#CustomAttribute"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 150
        }
      }
    },
    "com.amazonaws.acmpca#CustomExtension": {
      "type": "structure",
      "members": {
        "ObjectIdentifier": {
          "target": "com.amazonaws.acmpca#CustomObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p/> <p>Specifies the object identifier (OID) of the X.509 extension. For more information, see the <a href=\"https://oidref.com/2.5.29\">Global OID reference database.</a> </p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.acmpca#Base64String1To4096",
          "traits": {
            "smithy.api#documentation": "<p/> <p>Specifies the base64-encoded value of the X.509 extension.</p>",
            "smithy.api#required": {}
          }
        },
        "Critical": {
          "target": "com.amazonaws.acmpca#Boolean",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p/> <p>Specifies the critical flag of the X.509 extension.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/> <p>Specifies the X.509 extension information for a certificate.</p> <p>Extensions present in <code>CustomExtensions</code> follow the <code>ApiPassthrough</code> <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/UsingTemplates.html#template-order-of-operations\">template rules</a>. </p>"
      }
    },
    "com.amazonaws.acmpca#CustomExtensionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acmpca#CustomExtension"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 150
        }
      }
    },
    "com.amazonaws.acmpca#CustomObjectIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        },
        "smithy.api#pattern": "^([0-2])\\.([0-9]|([0-3][0-9]))((\\.([0-9]+)){0,126})$"
      }
    },
    "com.amazonaws.acmpca#DeleteCertificateAuthority": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acmpca#DeleteCertificateAuthorityRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.acmpca#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acmpca#InvalidStateException"
        },
        {
          "target": "com.amazonaws.acmpca#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a private certificate authority (CA). You must provide the Amazon Resource Name (ARN) of the private CA that you want to delete. You can find the ARN by calling the <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_ListCertificateAuthorities.html\">ListCertificateAuthorities</a> action. </p> <note> <p>Deleting a CA will invalidate other CAs and certificates below it in your CA hierarchy.</p> </note> <p>Before you can delete a CA that you have created and activated, you must disable it. To do this, call the <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_UpdateCertificateAuthority.html\">UpdateCertificateAuthority</a> action and set the <b>CertificateAuthorityStatus</b> parameter to <code>DISABLED</code>. </p> <p>Additionally, you can delete a CA if you are waiting for it to be created (that is, the status of the CA is <code>CREATING</code>). You can also delete it if the CA has been created but you haven't yet imported the signed certificate into Amazon Web Services Private CA (that is, the status of the CA is <code>PENDING_CERTIFICATE</code>). </p> <p>When you successfully call <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_DeleteCertificateAuthority.html\">DeleteCertificateAuthority</a>, the CA's status changes to <code>DELETED</code>. However, the CA won't be permanently deleted until the restoration period has passed. By default, if you do not set the <code>PermanentDeletionTimeInDays</code> parameter, the CA remains restorable for 30 days. You can set the parameter from 7 to 30 days. The <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_DescribeCertificateAuthority.html\">DescribeCertificateAuthority</a> action returns the time remaining in the restoration window of a private CA in the <code>DELETED</code> state. To restore an eligible CA, call the <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_RestoreCertificateAuthority.html\">RestoreCertificateAuthority</a> action.</p> <important> <p>A private CA can be deleted if it is in the <code>PENDING_CERTIFICATE</code>, <code>CREATING</code>, <code>EXPIRED</code>, <code>DISABLED</code>, or <code>FAILED</code> state. To delete a CA in the <code>ACTIVE</code> state, you must first disable it, or else the delete request results in an exception. If you are deleting a private CA in the <code>PENDING_CERTIFICATE</code> or <code>DISABLED</code> state, you can set the length of its restoration period to 7-30 days. The default is 30. During this time, the status is set to <code>DELETED</code> and the CA can be restored. A private CA deleted in the <code>CREATING</code> or <code>FAILED</code> state has no assigned restoration period and cannot be restored.</p> </important>"
      }
    },
    "com.amazonaws.acmpca#DeleteCertificateAuthorityRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acmpca#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/privateca/latest/APIReference/API_CreateCertificateAuthority.html\">CreateCertificateAuthority</a>. This must have the following form: </p> <p> <code>arn:aws:acm-pca:<i>region</i>:<i>account</i>:certificate-authority/<i>12345678-1234-1234-1234-123456789012</i> </code>. </p>",
            "smithy.api#required": {}
          }
        },
        "PermanentDeletionTimeInDays": {
[...]
