{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.acm#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.acm#ServiceErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AccessDenied",
          "httpResponseCode": 403
        },
        "smithy.api#documentation": "<p>You do not have access required to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.acm#AcmCertificateMetadata": {
      "type": "structure",
      "members": {
        "CreatedAt": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the certificate was requested.</p>"
          }
        },
        "Exported": {
          "target": "com.amazonaws.acm#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the certificate has been exported.</p>"
          }
        },
        "ImportedAt": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the certificate was imported. This value exists only when the certificate type is <code>IMPORTED</code>. </p>"
          }
        },
        "InUse": {
          "target": "com.amazonaws.acm#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the certificate is currently in use by an Amazon Web Services service.</p>"
          }
        },
        "IssuedAt": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the certificate was issued. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>. </p>"
          }
        },
        "RenewalEligibility": {
          "target": "com.amazonaws.acm#RenewalEligibility",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the certificate is eligible for renewal. At this time, only exported private certificates can be renewed with the <a>RenewCertificate</a> command.</p>"
          }
        },
        "RevokedAt": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the certificate was revoked. This value exists only when the certificate status is <code>REVOKED</code>. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.acm#CertificateStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the certificate.</p> <p>A certificate enters status PENDING_VALIDATION upon being requested, unless it fails for any of the reasons given in the troubleshooting topic <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/troubleshooting-failed.html\">Certificate request fails</a>. ACM makes repeated attempts to validate a certificate for 72 hours and then times out. If a certificate shows status FAILED or VALIDATION_TIMED_OUT, delete the request, correct the issue with <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/dns-validation.html\">DNS validation</a> or <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/email-validation.html\">Email validation</a>, and try again. If validation succeeds, the certificate enters status ISSUED. </p>"
          }
        },
        "RenewalStatus": {
          "target": "com.amazonaws.acm#RenewalStatus",
          "traits": {
            "smithy.api#documentation": "<p>The renewal status of the certificate.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.acm#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>The source of the certificate. For certificates provided by ACM, this value is <code>AMAZON_ISSUED</code>. For certificates that you imported with <a>ImportCertificate</a>, this value is <code>IMPORTED</code>. ACM does not provide <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed renewal</a> for imported certificates. For more information about the differences between certificates that you import and those that ACM provides, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html\">Importing Certificates</a> in the <i>Certificate Manager User Guide</i>. </p>"
          }
        },
        "ExportOption": {
          "target": "com.amazonaws.acm#CertificateExport",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the certificate can be exported.</p>"
          }
        },
        "ManagedBy": {
          "target": "com.amazonaws.acm#CertificateManagedBy",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the Amazon Web Services service that manages the certificate issued by ACM.</p>"
          }
        },
        "ValidationMethod": {
          "target": "com.amazonaws.acm#ValidationMethod",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the domain validation method.</p>"
          }
        },
        "CertificateKeyPairOrigin": {
          "target": "com.amazonaws.acm#CertificateKeyPairOrigin",
          "traits": {
            "smithy.api#documentation": "<p>The origin of the certificate's key pair.</p>"
          }
        },
        "AcmeEndpointArn": {
          "target": "com.amazonaws.acm#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the ACME endpoint used to issue the certificate.</p>"
          }
        },
        "AcmeAccountId": {
          "target": "com.amazonaws.acm#AcmeAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ACME account identifier associated with the certificate.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains ACM-specific metadata about a certificate.</p>"
      }
    },
    "com.amazonaws.acm#AcmCertificateMetadataFilter": {
      "type": "union",
      "members": {
        "Status": {
          "target": "com.amazonaws.acm#CertificateStatus",
          "traits": {
            "smithy.api#documentation": "<p>Filter by certificate status.</p>"
          }
        },
        "RenewalStatus": {
          "target": "com.amazonaws.acm#RenewalStatus",
          "traits": {
            "smithy.api#documentation": "<p>Filter by certificate renewal status.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.acm#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>Filter by certificate type.</p>"
          }
        },
        "InUse": {
          "target": "com.amazonaws.acm#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Filter by whether the certificate is in use.</p>"
          }
        },
        "Exported": {
          "target": "com.amazonaws.acm#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Filter by whether the certificate has been exported.</p>"
          }
        },
        "ExportOption": {
          "target": "com.amazonaws.acm#CertificateExport",
          "traits": {
            "smithy.api#documentation": "<p>Filter by certificate export option.</p>"
          }
        },
        "ManagedBy": {
          "target": "com.amazonaws.acm#CertificateManagedBy",
          "traits": {
            "smithy.api#documentation": "<p>Filter by the entity that manages the certificate.</p>"
          }
        },
        "ValidationMethod": {
          "target": "com.amazonaws.acm#ValidationMethod",
          "traits": {
            "smithy.api#documentation": "<p>Filter by validation method.</p>"
          }
        },
        "CertificateKeyPairOrigin": {
          "target": "com.amazonaws.acm#CertificateKeyPairOrigin",
          "traits": {
            "smithy.api#documentation": "<p>Filter by certificate key pair origin.</p>"
          }
        },
        "AcmeEndpointArn": {
          "target": "com.amazonaws.acm#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Filter by ACME endpoint ARN.</p>"
          }
        },
        "AcmeAccountId": {
          "target": "com.amazonaws.acm#AcmeAccountId",
          "traits": {
            "smithy.api#documentation": "<p>Filter by ACME account identifier.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters certificates by ACM metadata.</p>"
      }
    },
    "com.amazonaws.acm#AcmeAccount": {
      "type": "structure",
      "members": {
        "AccountUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the ACME account.</p>"
          }
        },
        "PublicKeyThumbprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The thumbprint of the public key associated with the ACME account.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.acm#AcmeAccountStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the ACME account.</p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the ACME account was created.</p>"
          }
        },
        "AcmeExternalAccountBindingArn": {
          "target": "com.amazonaws.acm#AcmeExternalAccountBindingArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the external account binding associated with this ACME account.</p>"
          }
        },
        "Contacts": {
          "target": "com.amazonaws.acm#ContactList",
          "traits": {
            "smithy.api#documentation": "<p>The contact information for the ACME account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains detailed information about an ACME account.</p>"
      }
    },
    "com.amazonaws.acm#AcmeAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        }
      }
    },
    "com.amazonaws.acm#AcmeAccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acm#AcmeAccountSummary"
      }
    },
    "com.amazonaws.acm#AcmeAccountStatus": {
      "type": "enum",
      "members": {
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID"
          }
        },
        "DEACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEACTIVATED"
          }
        },
        "REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVOKED"
          }
        }
      }
    },
    "com.amazonaws.acm#AcmeAccountSummary": {
      "type": "structure",
      "members": {
        "AccountUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the ACME account.</p>"
          }
        },
        "PublicKeyThumbprint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The thumbprint of the public key associated with the ACME account.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.acm#AcmeAccountStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the ACME account.</p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the ACME account was created.</p>"
          }
        },
        "AcmeExternalAccountBindingArn": {
          "target": "com.amazonaws.acm#AcmeExternalAccountBindingArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the external account binding associated with this ACME account.</p>"
          }
        },
        "Contacts": {
          "target": "com.amazonaws.acm#ContactList",
          "traits": {
            "smithy.api#documentation": "<p>The contact information for the ACME account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about an ACME account.</p>"
      }
    },
    "com.amazonaws.acm#AcmeAuthorizationBehavior": {
      "type": "enum",
      "members": {
        "PRE_APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRE_APPROVED"
          }
        }
      }
    },
    "com.amazonaws.acm#AcmeContact": {
      "type": "enum",
      "members": {
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED"
          }
        },
        "NOT_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_REQUIRED"
          }
        }
      }
    },
    "com.amazonaws.acm#AcmeDomainValidation": {
      "type": "structure",
      "members": {
        "AcmeDomainValidationArn": {
          "target": "com.amazonaws.acm#AcmeDomainValidationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACME domain validation.</p>"
          }
        },
        "AcmeEndpointArn": {
          "target": "com.amazonaws.acm#AcmeEndpointArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACME endpoint.</p>"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.acm#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name being validated.</p>"
          }
        },
        "PrevalidationType": {
          "target": "com.amazonaws.acm#PrevalidationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of prevalidation used.</p>"
          }
        },
        "PrevalidationDetails": {
          "target": "com.amazonaws.acm#PrevalidationDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the prevalidation configuration.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.acm#AcmeDomainValidationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the domain validation.</p>"
          }
        },
        "FailureDetails": {
          "target": "com.amazonaws.acm#FailureDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the failure, if the validation failed.</p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the domain validation was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the domain validation was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains detailed information about an ACME domain validation.</p>"
      }
    },
    "com.amazonaws.acm#AcmeDomainValidationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^arn:aws[a-z-]*:acm:[a-z0-9-]+:[0-9]{12}:acme-endpoint/[a-zA-Z0-9-]+/acme-domain-validation/[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.acm#AcmeDomainValidationFailureReason": {
      "type": "enum",
      "members": {
        "ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_DENIED"
          }
        },
        "DOMAIN_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_MISMATCH"
          }
        },
        "DOMAIN_NOT_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_NOT_ALLOWED"
          }
        },
        "ENDPOINT_NOT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDPOINT_NOT_ACTIVE"
          }
        },
        "HOSTED_ZONE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HOSTED_ZONE_NOT_FOUND"
          }
        },
        "INTERNAL_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_FAILURE"
          }
        },
        "INVALID_CHANGE_BATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_CHANGE_BATCH"
          }
        },
        "INVALID_PUBLIC_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_PUBLIC_DOMAIN"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMED_OUT"
          }
        }
      }
    },
    "com.amazonaws.acm#AcmeDomainValidationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acm#AcmeDomainValidationSummary"
      }
    },
    "com.amazonaws.acm#AcmeDomainValidationStatus": {
      "type": "enum",
      "members": {
        "VALIDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATING"
          }
        },
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.amazonaws.acm#AcmeDomainValidationSummary": {
      "type": "structure",
      "members": {
        "AcmeDomainValidationArn": {
          "target": "com.amazonaws.acm#AcmeDomainValidationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACME domain validation.</p>"
          }
        },
        "AcmeEndpointArn": {
          "target": "com.amazonaws.acm#AcmeEndpointArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACME endpoint.</p>"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.acm#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name being validated.</p>"
          }
        },
        "PrevalidationType": {
          "target": "com.amazonaws.acm#PrevalidationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of prevalidation used.</p>"
          }
        },
        "PrevalidationDetails": {
          "target": "com.amazonaws.acm#PrevalidationDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the prevalidation configuration.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.acm#AcmeDomainValidationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the domain validation.</p>"
          }
        },
        "FailureDetails": {
          "target": "com.amazonaws.acm#FailureDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the failure, if the validation failed.</p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the domain validation was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the domain validation was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about an ACME domain validation.</p>"
      }
    },
    "com.amazonaws.acm#AcmeEndpoint": {
      "type": "structure",
      "members": {
        "AcmeEndpointArn": {
          "target": "com.amazonaws.acm#AcmeEndpointArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACME endpoint.</p>"
          }
        },
        "EndpointUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the ACME endpoint.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.acm#AcmeEndpointStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the ACME endpoint.</p>"
          }
        },
        "FailureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason the ACME endpoint failed, if applicable.</p>"
          }
        },
        "AuthorizationBehavior": {
          "target": "com.amazonaws.acm#AcmeAuthorizationBehavior",
          "traits": {
            "smithy.api#documentation": "<p>The authorization behavior of the ACME endpoint.</p>"
          }
        },
        "Contact": {
          "target": "com.amazonaws.acm#AcmeContact",
          "traits": {
            "smithy.api#documentation": "<p>Whether ACME clients must provide contact information during account registration.</p>"
          }
        },
        "CertificateAuthority": {
          "target": "com.amazonaws.acm#CertificateAuthority",
          "traits": {
            "smithy.api#documentation": "<p>The certificate authority configuration for the ACME endpoint.</p>"
          }
        },
        "CertificateTags": {
          "target": "com.amazonaws.acm#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags applied to certificates issued through this ACME endpoint.</p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the ACME endpoint was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the ACME endpoint was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains detailed information about an ACME endpoint.</p>"
      }
    },
    "com.amazonaws.acm#AcmeEndpointArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^arn:aws[a-z-]*:acm:[a-z0-9-]+:[0-9]{12}:acme-endpoint/[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.acm#AcmeEndpointList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acm#AcmeEndpointSummary"
      }
    },
    "com.amazonaws.acm#AcmeEndpointStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.acm#AcmeEndpointSummary": {
      "type": "structure",
      "members": {
        "AcmeEndpointArn": {
          "target": "com.amazonaws.acm#AcmeEndpointArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACME endpoint.</p>"
          }
        },
        "EndpointUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the ACME endpoint.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.acm#AcmeEndpointStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the ACME endpoint.</p>"
          }
        },
        "FailureReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason the ACME endpoint failed, if applicable.</p>"
          }
        },
        "AuthorizationBehavior": {
          "target": "com.amazonaws.acm#AcmeAuthorizationBehavior",
          "traits": {
            "smithy.api#documentation": "<p>The authorization behavior of the ACME endpoint.</p>"
          }
        },
        "Contact": {
          "target": "com.amazonaws.acm#AcmeContact",
          "traits": {
            "smithy.api#documentation": "<p>Whether ACME clients must provide contact information during account registration.</p>"
          }
        },
        "CertificateAuthority": {
          "target": "com.amazonaws.acm#CertificateAuthority",
          "traits": {
            "smithy.api#documentation": "<p>The certificate authority configuration for the ACME endpoint.</p>"
          }
        },
        "CertificateTags": {
          "target": "com.amazonaws.acm#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags applied to certificates issued through this ACME endpoint.</p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the ACME endpoint was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the ACME endpoint was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about an ACME endpoint.</p>"
      }
    },
    "com.amazonaws.acm#AcmeExternalAccountBinding": {
      "type": "structure",
      "members": {
        "AcmeExternalAccountBindingArn": {
          "target": "com.amazonaws.acm#AcmeExternalAccountBindingArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACME external account binding.</p>"
          }
        },
        "AcmeEndpointArn": {
          "target": "com.amazonaws.acm#AcmeEndpointArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACME endpoint.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.acm#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role associated with the external account binding.</p>"
          }
        },
        "ExpiresAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the external account binding expires.</p>"
          }
        },
        "RevokedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the external account binding was revoked.</p>"
          }
        },
        "LastUsedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the external account binding was last used.</p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the external account binding was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the external account binding was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains detailed information about an ACME external account binding.</p>"
      }
    },
    "com.amazonaws.acm#AcmeExternalAccountBindingArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^arn:aws[a-z-]*:acm:[a-z0-9-]+:[0-9]{12}:acme-endpoint/[a-zA-Z0-9-]+/acme-external-account-binding/[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.acm#AcmeExternalAccountBindingList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acm#AcmeExternalAccountBindingSummary"
      }
    },
    "com.amazonaws.acm#AcmeExternalAccountBindingSummary": {
      "type": "structure",
      "members": {
        "AcmeExternalAccountBindingArn": {
          "target": "com.amazonaws.acm#AcmeExternalAccountBindingArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACME external account binding.</p>"
          }
        },
        "AcmeEndpointArn": {
          "target": "com.amazonaws.acm#AcmeEndpointArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACME endpoint.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.acm#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role associated with the external account binding.</p>"
          }
        },
        "ExpiresAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the external account binding expires.</p>"
          }
        },
        "RevokedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the external account binding was revoked.</p>"
          }
        },
        "LastUsedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the external account binding was last used.</p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the external account binding was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the external account binding was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about an ACME external account binding.</p>"
      }
    },
    "com.amazonaws.acm#AddTagsToCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acm#AddTagsToCertificateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.acm#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acm#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.acm#InvalidTagException"
        },
        {
          "target": "com.amazonaws.acm#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.acm#TagPolicyException"
        },
        {
          "target": "com.amazonaws.acm#ThrottlingException"
        },
        {
          "target": "com.amazonaws.acm#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.acm#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more tags to an ACM certificate. Tags are labels that you can use to identify and organize your Amazon Web Services resources. Each tag consists of a <code>key</code> and an optional <code>value</code>. You specify the certificate on input by its Amazon Resource Name (ARN). You specify the tag by using a key-value pair. </p> <note> <p>This action applies only to the <code>certificate</code> resource type. For all other ACM resource types, use <a>TagResource</a> instead.</p> </note> <p>You can apply a tag to just one certificate if you want to identify a specific characteristic of that certificate, or you can apply the same tag to multiple certificates if you want to filter for a common relationship among those certificates. Similarly, you can apply the same tag to multiple resources if you want to specify a relationship among those resources. For example, you can add the same tag to an ACM certificate and an Elastic Load Balancing load balancer to indicate that they are both used by the same website. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/tags.html\">Tagging ACM certificates</a>. </p> <p>To remove one or more tags, use the <a>RemoveTagsFromCertificate</a> action. To view all of the tags that have been applied to the certificate, use the <a>ListTagsForCertificate</a> action. </p>",
        "smithy.rules#staticContextParams": {
          "ServiceType": {
            "value": "ACM"
          }
        }
      }
    },
    "com.amazonaws.acm#AddTagsToCertificateRequest": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.acm#Arn",
          "traits": {
            "smithy.api#documentation": "<p>String that contains the ARN of the ACM certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.acm#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that defines the tag. The tag value is optional.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.acm#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:[\\w+=/,.@-]+:acm:[\\w+=/,.@-]*:[0-9]+:[\\w+=,.@-]+(/[\\w+=,.@-]+)*$"
      }
    },
    "com.amazonaws.acm#AvailabilityErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.acm#CertificateAuthority": {
      "type": "union",
      "members": {
        "PublicCertificateAuthority": {
          "target": "com.amazonaws.acm#PublicCertificateAuthority",
          "traits": {
            "smithy.api#documentation": "<p>Configuration for using a public certificate authority.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the certificate authority to use for an ACME endpoint.</p>"
      }
    },
    "com.amazonaws.acm#CertificateBody": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32768
        },
        "smithy.api#pattern": "^-{5}BEGIN CERTIFICATE-{5}\\u000D?\\u000A([A-Za-z0-9/+]{64}\\u000D?\\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\\u000D?\\u000A-{5}END CERTIFICATE-{5}(\\u000D?\\u000A)?$"
      }
    },
    "com.amazonaws.acm#CertificateBodyBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32768
        }
      }
    },
    "com.amazonaws.acm#CertificateChain": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2097152
        },
        "smithy.api#pattern": "^(-{5}BEGIN CERTIFICATE-{5}\\u000D?\\u000A([A-Za-z0-9/+]{64}\\u000D?\\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\\u000D?\\u000A-{5}END CERTIFICATE-{5}\\u000D?\\u000A)*-{5}BEGIN CERTIFICATE-{5}\\u000D?\\u000A([A-Za-z0-9/+]{64}\\u000D?\\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\\u000D?\\u000A-{5}END CERTIFICATE-{5}(\\u000D?\\u000A)?$"
      }
    },
    "com.amazonaws.acm#CertificateChainBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2097152
        }
      }
    },
    "com.amazonaws.acm#CertificateDetail": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.acm#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the certificate. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>.</p>"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.acm#DomainNameString",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified domain name for the certificate, such as www.example.com or example.com.</p>"
          }
        },
        "SubjectAlternativeNames": {
          "target": "com.amazonaws.acm#DomainList",
          "traits": {
            "smithy.api#documentation": "<p>One or more domain names (subject alternative names) included in the certificate. This list contains the domain names that are bound to the public key that is contained in the certificate. The subject alternative names include the canonical domain name (CN) of the certificate and additional domain names that can be used to connect to the website. </p>"
          }
        },
        "ManagedBy": {
          "target": "com.amazonaws.acm#CertificateManagedBy",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the Amazon Web Services service that manages the certificate issued by ACM.</p>"
          }
        },
        "DomainValidationOptions": {
          "target": "com.amazonaws.acm#DomainValidationList",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the initial validation of each domain name that occurs as a result of the <a>RequestCertificate</a> request. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>. </p>"
          }
        },
        "Serial": {
          "target": "com.amazonaws.acm#String",
          "traits": {
            "smithy.api#documentation": "<p>The serial number of the certificate.</p>"
          }
        },
        "Subject": {
          "target": "com.amazonaws.acm#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entity that is associated with the public key contained in the certificate.</p>"
          }
        },
        "Issuer": {
          "target": "com.amazonaws.acm#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the certificate authority that issued and signed the certificate.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the certificate was requested.</p>"
          }
        },
        "IssuedAt": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the certificate was issued. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>. </p>"
          }
        },
        "ImportedAt": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the certificate was imported. This value exists only when the certificate type is <code>IMPORTED</code>. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.acm#CertificateStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the certificate.</p> <p>A certificate enters status PENDING_VALIDATION upon being requested, unless it fails for any of the reasons given in the troubleshooting topic <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/troubleshooting-failed.html\">Certificate request fails</a>. ACM makes repeated attempts to validate a certificate for 72 hours and then times out. If a certificate shows status FAILED or VALIDATION_TIMED_OUT, delete the request, correct the issue with <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/dns-validation.html\">DNS validation</a> or <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/email-validation.html\">Email validation</a>, and try again. If validation succeeds, the certificate enters status ISSUED. </p>"
          }
        },
        "RevokedAt": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the certificate was revoked. This value exists only when the certificate status is <code>REVOKED</code>. </p>"
          }
        },
        "RevocationReason": {
          "target": "com.amazonaws.acm#RevocationReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason the certificate was revoked. This value exists only when the certificate status is <code>REVOKED</code>. </p>"
          }
        },
        "NotBefore": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time before which the certificate is not valid.</p>"
          }
        },
        "NotAfter": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time after which the certificate is not valid.</p>"
          }
        },
        "KeyAlgorithm": {
          "target": "com.amazonaws.acm#KeyAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm that was used to generate the public-private key pair.</p>"
          }
        },
        "SignatureAlgorithm": {
          "target": "com.amazonaws.acm#String",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm that was used to sign the certificate.</p>"
          }
        },
        "InUseBy": {
          "target": "com.amazonaws.acm#InUseList",
          "traits": {
            "smithy.api#documentation": "<p>A list of ARNs for the Amazon Web Services resources that are using the certificate. A certificate can be used by multiple Amazon Web Services resources. </p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.acm#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason the certificate request failed. This value exists only when the certificate status is <code>FAILED</code>. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/troubleshooting.html#troubleshooting-failed\">Certificate Request Failed</a> in the <i>Certificate Manager User Guide</i>. </p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.acm#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>The source of the certificate. For certificates provided by ACM, this value is <code>AMAZON_ISSUED</code>. For certificates that you imported with <a>ImportCertificate</a>, this value is <code>IMPORTED</code>. ACM does not provide <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed renewal</a> for imported certificates. For more information about the differences between certificates that you import and those that ACM provides, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html\">Importing Certificates</a> in the <i>Certificate Manager User Guide</i>. </p>"
          }
        },
        "RenewalSummary": {
          "target": "com.amazonaws.acm#RenewalSummary",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the status of ACM's <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed renewal</a> for the certificate. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>"
          }
        },
        "KeyUsages": {
          "target": "com.amazonaws.acm#KeyUsageList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Key Usage X.509 v3 extension objects. Each object is a string value that identifies the purpose of the public key contained in the certificate. Possible extension values include DIGITAL_SIGNATURE, KEY_ENCHIPHERMENT, NON_REPUDIATION, and more.</p>"
          }
        },
        "ExtendedKeyUsages": {
          "target": "com.amazonaws.acm#ExtendedKeyUsageList",
          "traits": {
            "smithy.api#documentation": "<p>Contains a list of Extended Key Usage X.509 v3 extension objects. Each object specifies a purpose for which the certificate public key can be used and consists of a name and an object identifier (OID). </p>"
          }
        },
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acm#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the private certificate authority (CA) that issued the certificate. This has the following format: </p> <p> <code>arn:aws:acm-pca:region:account:certificate-authority/12345678-1234-1234-1234-123456789012</code> </p>"
          }
        },
        "RenewalEligibility": {
          "target": "com.amazonaws.acm#RenewalEligibility",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the certificate is eligible for renewal. At this time, only exported private certificates can be renewed with the <a>RenewCertificate</a> command.</p>"
          }
        },
        "Options": {
          "target": "com.amazonaws.acm#CertificateOptions",
          "traits": {
            "smithy.api#documentation": "<p>Contains the certificate options. Certificate transparency logging opt-out is no longer available. All public certificates are recorded in a certificate transparency log.</p>"
          }
        },
        "CertificateKeyPairOrigin": {
          "target": "com.amazonaws.acm#CertificateKeyPairOrigin",
          "traits": {
            "smithy.api#documentation": "<p>The origin of the certificate's key pair.</p>"
          }
        },
        "AcmeEndpointArn": {
          "target": "com.amazonaws.acm#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the ACME endpoint used to issue the certificate.</p>"
          }
        },
        "AcmeAccountId": {
          "target": "com.amazonaws.acm#AcmeAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ACME account identifier associated with the certificate.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata about an ACM certificate. This structure is returned in the response to a <a>DescribeCertificate</a> request. </p>"
      }
    },
    "com.amazonaws.acm#CertificateExport": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.acm#CertificateFilter": {
      "type": "union",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.acm#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Filter by certificate ARN.</p>"
          }
        },
        "X509AttributeFilter": {
          "target": "com.amazonaws.acm#X509AttributeFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filter by X.509 certificate attributes.</p>"
          }
        },
        "AcmCertificateMetadataFilter": {
          "target": "com.amazonaws.acm#AcmCertificateMetadataFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filter by ACM certificate metadata.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a filter for searching certificates by ARN, X.509 attributes, or ACM metadata.</p>"
      }
    },
    "com.amazonaws.acm#CertificateFilterStatement": {
      "type": "union",
      "members": {
        "And": {
          "target": "com.amazonaws.acm#CertificateFilterStatementList",
          "traits": {
            "smithy.api#documentation": "<p>A list of filter statements that must all be true.</p>"
          }
        },
        "Or": {
          "target": "com.amazonaws.acm#CertificateFilterStatementList",
          "traits": {
            "smithy.api#documentation": "<p>A list of filter statements where at least one must be true.</p>"
          }
        },
        "Not": {
          "target": "com.amazonaws.acm#CertificateFilterStatement",
          "traits": {
            "smithy.api#documentation": "<p>A filter statement that must not be true.</p>"
          }
        },
        "Filter": {
          "target": "com.amazonaws.acm#CertificateFilter",
          "traits": {
            "smithy.api#documentation": "<p>A single certificate filter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter statement used to search for certificates. Can contain AND, OR, NOT logical operators or a single filter.</p>"
      }
    },
    "com.amazonaws.acm#CertificateFilterStatementList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acm#CertificateFilterStatement"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of <code>CertificateFilterStatement</code> objects.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 15
        }
      }
    },
    "com.amazonaws.acm#CertificateKeyPairOrigin": {
      "type": "enum",
      "members": {
        "AWS_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_MANAGED"
          }
        },
        "ACME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACME"
          }
        },
        "CUSTOMER_PROVIDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_PROVIDED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The origin of the certificate's key pair.</p>"
      }
    },
    "com.amazonaws.acm#CertificateKeyPairOrigins": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acm#CertificateKeyPairOrigin"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of <code>CertificateKeyPairOrigin</code> values used to filter certificates.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 3
        }
      }
    },
    "com.amazonaws.acm#CertificateManagedBy": {
      "type": "enum",
      "members": {
        "CLOUDFRONT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDFRONT"
          }
        }
      }
    },
    "com.amazonaws.acm#CertificateManager": {
      "type": "service",
      "version": "2015-12-08",
      "operations": [
        {
          "target": "com.amazonaws.acm#AddTagsToCertificate"
        },
        {
          "target": "com.amazonaws.acm#CreateAcmeDomainValidation"
        },
        {
          "target": "com.amazonaws.acm#CreateAcmeEndpoint"
        },
        {
          "target": "com.amazonaws.acm#CreateAcmeExternalAccountBinding"
        },
        {
          "target": "com.amazonaws.acm#DeleteAcmeDomainValidation"
        },
        {
          "target": "com.amazonaws.acm#DeleteAcmeEndpoint"
        },
        {
          "target": "com.amazonaws.acm#DeleteAcmeExternalAccountBinding"
        },
        {
          "target": "com.amazonaws.acm#DeleteCertificate"
        },
        {
          "target": "com.amazonaws.acm#DescribeAcmeAccount"
        },
        {
          "target": "com.amazonaws.acm#DescribeAcmeDomainValidation"
        },
        {
          "target": "com.amazonaws.acm#DescribeAcmeEndpoint"
        },
        {
          "target": "com.amazonaws.acm#DescribeAcmeExternalAccountBinding"
        },
        {
          "target": "com.amazonaws.acm#DescribeCertificate"
        },
        {
          "target": "com.amazonaws.acm#ExportCertificate"
        },
        {
          "target": "com.amazonaws.acm#GetAccountConfiguration"
        },
        {
          "target": "com.amazonaws.acm#GetAcmeExternalAccountBindingCredentials"
        },
        {
          "target": "com.amazonaws.acm#GetCertificate"
        },
        {
          "target": "com.amazonaws.acm#ImportCertificate"
        },
        {
          "target": "com.amazonaws.acm#ListAcmeAccounts"
        },
        {
          "target": "com.amazonaws.acm#ListAcmeDomainValidations"
        },
        {
          "target": "com.amazonaws.acm#ListAcmeEndpoints"
        },
        {
          "target": "com.amazonaws.acm#ListAcmeExternalAccountBindings"
        },
        {
          "target": "com.amazonaws.acm#ListCertificates"
        },
        {
          "target": "com.amazonaws.acm#ListTagsForCertificate"
        },
        {
          "target": "com.amazonaws.acm#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.acm#PutAccountConfiguration"
        },
        {
          "target": "com.amazonaws.acm#RemoveTagsFromCertificate"
        },
        {
          "target": "com.amazonaws.acm#RenewCertificate"
        },
        {
          "target": "com.amazonaws.acm#RequestCertificate"
        },
        {
          "target": "com.amazonaws.acm#ResendValidationEmail"
        },
        {
          "target": "com.amazonaws.acm#RevokeAcmeAccount"
        },
        {
          "target": "com.amazonaws.acm#RevokeAcmeExternalAccountBinding"
        },
        {
          "target": "com.amazonaws.acm#RevokeCertificate"
        },
        {
          "target": "com.amazonaws.acm#SearchCertificates"
        },
        {
          "target": "com.amazonaws.acm#TagResource"
        },
        {
          "target": "com.amazonaws.acm#UntagResource"
        },
        {
          "target": "com.amazonaws.acm#UpdateAcmeDomainValidation"
        },
        {
          "target": "com.amazonaws.acm#UpdateAcmeEndpoint"
        },
        {
          "target": "com.amazonaws.acm#UpdateCertificateOptions"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ACM",
          "endpointPrefix": "acm",
          "arnNamespace": "acm",
          "cloudTrailEventSource": "acm.amazonaws.com",
          "cloudFormationName": "CertificateManager"
        },
        "aws.auth#sigv4": {
          "name": "acm"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>Certificate Manager</fullname> <p>You can use Certificate Manager (ACM) to manage SSL/TLS certificates for your Amazon Web Services-based websites and applications. For more information about using ACM, see the <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/\">Certificate Manager User Guide</a>.</p>",
        "smithy.api#title": "AWS Certificate Manager",
        "smithy.rules#clientContextParams": {
          "ServiceType": {
            "type": "string",
            "documentation": "The service type: ACM or ACM-ACME. Injected via @staticContextParams."
          }
        },
        "smithy.rules#endpointBdd": {
          "version": "1.1",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region to send requests to.",
              "type": "string"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send requests.",
              "type": "string"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "Use FIPS endpoints.",
              "type": "boolean"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "Use dual-stack endpoints.",
              "type": "boolean"
            },
            "ServiceType": {
              "required": true,
              "documentation": "The service type: ACM or ACM-ACME. Injected via @staticContextParams.",
              "type": "string"
            }
          },
          "conditions": [
            {
              "fn": "isSet",
              "argv": [
                {
                  "ref": "Endpoint"
                }
              ]
            },
            {
              "fn": "aws.partition",
              "argv": [
                {
                  "ref": "Region"
                }
              ],
              "assign": "PartitionResult"
            },
            {
              "fn": "stringEquals",
              "argv": [
                {
                  "ref": "ServiceType"
                },
                "ACM-ACME"
              ]
            },
            {
              "fn": "stringEquals",
              "argv": [
                {
                  "fn": "getAttr",
                  "argv": [
                    {
                      "ref": "PartitionResult"
                    },
                    "name"
                  ]
                },
                "aws"
              ]
            },
            {
              "fn": "booleanEquals",
              "argv": [
                {
                  "ref": "UseFIPS"
                },
                true
              ]
            },
            {
              "fn": "booleanEquals",
              "argv": [
                {
                  "ref": "UseDualStack"
                },
                true
              ]
            },
            {
              "fn": "stringEquals",
              "argv": [
                {
                  "fn": "getAttr",
                  "argv": [
                    {
                      "ref": "PartitionResult"
                    },
                    "name"
                  ]
                },
                "aws-us-gov"
              ]
            }
          ],
          "results": [
            {
              "conditions": [],
              "endpoint": {
                "url": "{Endpoint}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "error": "FIPS endpoints are not available for ACME operations",
              "type": "error"
            },
            {
              "documentation": "ACME standard",
              "conditions": [],
              "endpoint": {
                "url": "https://acm-acme.{Region}.{PartitionResult#dualStackDnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "documentation": "ACME operations are only available in commercial AWS partitions",
              "conditions": [],
              "error": "ACME operations are only available in commercial AWS partitions",
              "type": "error"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://acm-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://acm.{Region}.amazonaws.com",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "documentation": "ACM FIPS standard",
              "conditions": [],
              "endpoint": {
                "url": "https://acm-fips.{Region}.{PartitionResult#dnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://acm.{Region}.{PartitionResult#dualStackDnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "documentation": "ACM standard",
              "conditions": [],
              "endpoint": {
                "url": "https://acm.{Region}.{PartitionResult#dnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "documentation": "Fallback error if region is not set",
              "conditions": [],
              "error": "Region must be set to resolve an endpoint.",
              "type": "error"
            }
          ],
          "root": 2,
          "nodeCount": 10,
          "nodes": "/////wAAAAH/////AAAAAAX14QEAAAADAAAAAQAAAAQF9eEKAAAAAgAAAAkAAAAFAAAABAAAAAcAAAAGAAAABQX14QgF9eEJAAAABQX14QUAAAAIAAAABgX14QYF9eEHAAAAAwAAAAoF9eEEAAAABAX14QIF9eED"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "type": "string",
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region to send requests to."
            },
            "Endpoint": {
              "type": "string",
              "builtIn": "SDK::Endpoint",
              "documentation": "Override the endpoint used to send requests."
            },
            "UseFIPS": {
              "type": "boolean",
              "builtIn": "AWS::UseFIPS",
              "documentation": "Use FIPS endpoints.",
              "default": false,
              "required": true
            },
            "UseDualStack": {
              "type": "boolean",
              "builtIn": "AWS::UseDualStack",
              "documentation": "Use dual-stack endpoints.",
              "default": false,
              "required": true
            },
            "ServiceType": {
              "type": "string",
              "required": true,
              "documentation": "The service type: ACM or ACM-ACME. Injected via @staticContextParams."
            }
          },
          "rules": [
            {
              "documentation": "Use custom endpoint if provided",
              "type": "endpoint",
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "endpoint": {
                "url": "{Endpoint}"
              }
            },
            {
              "documentation": "Resolve partition for region",
              "type": "tree",
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "rules": [
                {
                  "documentation": "ACME operations",
                  "type": "tree",
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "ref": "ServiceType"
                        },
                        "ACM-ACME"
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "documentation": "ACME with custom endpoint",
                      "conditions": [
                        {
                          "fn": "isSet",
                          "argv": [
                            {
                              "ref": "Endpoint"
                            }
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "{Endpoint}"
                      },
                      "type": "endpoint"
                    },
                    {
                      "documentation": "ACME operations are only available in commercial AWS partitions",
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "name"
                              ]
                            },
                            "aws"
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "documentation": "FIPS endpoints are not available for ACME operations",
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "FIPS endpoints are not available for ACME operations",
                          "type": "error"
                        },
                        {
                          "documentation": "ACME standard",
                          "conditions": [],
                          "endpoint": {
                            "url": "https://acm-acme.{Region}.{PartitionResult#dualStackDnsSuffix}"
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "documentation": "ACME operations are only available in commercial AWS partitions",
                      "conditions": [],
                      "error": "ACME operations are only available in commercial AWS partitions",
                      "type": "error"
                    }
                  ]
                },
                {
                  "documentation": "ACM operations",
                  "type": "tree",
                  "conditions": [],
                  "rules": [
                    {
                      "documentation": "ACM FIPS + DualStack",
                      "type": "endpoint",
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://acm-fips.{Region}.{PartitionResult#dualStackDnsSuffix}"
                      }
                    },
                    {
                      "documentation": "ACM FIPS only",
                      "type": "tree",
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "documentation": "ACM FIPS GovCloud",
                          "type": "endpoint",
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-us-gov"
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://acm.{Region}.amazonaws.com"
                          }
                        },
                        {
                          "documentation": "ACM FIPS standard",
                          "type": "endpoint",
                          "conditions": [],
                          "endpoint": {
                            "url": "https://acm-fips.{Region}.{PartitionResult#dnsSuffix}"
                          }
                        }
                      ]
                    },
                    {
                      "documentation": "ACM DualStack only",
                      "type": "endpoint",
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://acm.{Region}.{PartitionResult#dualStackDnsSuffix}"
                      }
                    },
                    {
                      "documentation": "ACM standard",
                      "type": "endpoint",
                      "conditions": [],
                      "endpoint": {
                        "url": "https://acm.{Region}.{PartitionResult#dnsSuffix}"
                      }
                    }
                  ]
                }
              ]
            },
            {
              "documentation": "Fallback error if region is not set",
              "type": "error",
              "conditions": [],
              "error": "Region must be set to resolve an endpoint."
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "version": "1.0",
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.af-south-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-east-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-northeast-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-northeast-2.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-northeast-3.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-south-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-southeast-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-southeast-2.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-southeast-3.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.ca-central-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.eu-central-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.eu-north-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.eu-south-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.eu-west-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.eu-west-2.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.eu-west-3.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.me-south-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.sa-east-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-east-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-east-2.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-west-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-west-2.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.ca-central-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-east-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-east-2.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-west-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-west-2.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-east-1.api.aws"
                }
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-east-1.api.aws"
                }
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.cn-north-1.amazonaws.com.cn"
                }
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.cn-northwest-1.amazonaws.com.cn"
                }
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.cn-north-1.amazonaws.com.cn"
                }
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.cn-north-1.api.amazonwebservices.com.cn"
                }
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-gov-east-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-gov-west-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-gov-east-1.api.aws"
                }
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-gov-east-1.amazonaws.com"
                }
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "ServiceType": "ACM"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-gov-east-1.api.aws"
                }
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and DualStack disabled",
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM",
                "Endpoint": "https://example.com"
              },
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              }
            },
            {
              "documentation": "For custom endpoint with FIPS enabled and DualStack disabled",
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "ServiceType": "ACM",
                "Endpoint": "https://example.com"
              },
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              }
            },
            {
              "documentation": "For custom endpoint with FIPS disabled and dualstack enabled",
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "ServiceType": "ACM",
                "Endpoint": "https://example.com"
              },
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              }
            },
            {
              "documentation": "ACM-ACME standard endpoint for us-east-1",
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM-ACME"
              },
              "expect": {
                "endpoint": {
                  "url": "https://acm-acme.us-east-1.api.aws"
                }
              }
            },
            {
              "documentation": "ACM-ACME FIPS returns error",
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false,
                "ServiceType": "ACM-ACME"
              },
              "expect": {
                "error": "FIPS endpoints are not available for ACME operations"
              }
            },
            {
              "documentation": "ACM-ACME custom endpoint",
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM-ACME",
                "Endpoint": "https://custom.example.com"
              },
              "expect": {
                "endpoint": {
                  "url": "https://custom.example.com"
                }
              }
            },
            {
              "documentation": "ACM-ACME in us-gov-west-1 returns partition error",
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM-ACME"
              },
              "expect": {
                "error": "ACME operations are only available in commercial AWS partitions"
              }
            },
            {
              "documentation": "ACM-ACME in cn-north-1 returns partition error",
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "ServiceType": "ACM-ACME"
              },
              "expect": {
                "error": "ACME operations are only available in commercial AWS partitions"
              }
            }
          ]
        }
      }
    },
    "com.amazonaws.acm#CertificateMetadata": {
      "type": "union",
      "members": {
        "AcmCertificateMetadata": {
          "target": "com.amazonaws.acm#AcmCertificateMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Metadata for an ACM certificate.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata about a certificate. Currently supports ACM certificate metadata.</p>"
      }
    },
    "com.amazonaws.acm#CertificateOptions": {
      "type": "structure",
      "members": {
        "CertificateTransparencyLoggingPreference": {
          "target": "com.amazonaws.acm#CertificateTransparencyLoggingPreference",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Certificate transparency logging opt-out is no longer available.",
              "since": "12th June 2026"
            },
            "smithy.api#documentation": "<p>This parameter has been deprecated. Certificate transparency logging opt-out is no longer available. All public certificates are recorded in a certificate transparency log.</p>"
          }
        },
        "Export": {
          "target": "com.amazonaws.acm#CertificateExport",
          "traits": {
            "smithy.api#documentation": "<p>You can opt in to allow the export of your certificates by specifying <code>ENABLED</code>. You cannot update the value of <code>Export</code> after the the certificate is created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure that contains options for your certificate. You can use this structure to specify whether to export your certificate.</p> <p>Certificate transparency logging opt-out is no longer available. All public certificates are recorded in a certificate transparency log. For general information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-concepts.html#concept-transparency\">Certificate Transparency Logging</a>.</p> <p>You can export public ACM certificates to use with Amazon Web Services services as well as outside Amazon Web Services Cloud. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-exportable-certificates.html\">Certificate Manager exportable public certificate</a>.</p>"
      }
    },
    "com.amazonaws.acm#CertificateSearchResult": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.acm#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the certificate.</p>"
          }
        },
        "X509Attributes": {
          "target": "com.amazonaws.acm#X509Attributes",
          "traits": {
            "smithy.api#documentation": "<p>X.509 certificate attributes such as subject, issuer, and validity period.</p>"
          }
        },
        "CertificateMetadata": {
          "target": "com.amazonaws.acm#CertificateMetadata",
          "traits": {
            "smithy.api#documentation": "<p>ACM-specific metadata about the certificate.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a certificate returned by the <a>SearchCertificates</a> action. This structure includes the certificate ARN, X.509 attributes, and ACM metadata.</p>"
      }
    },
    "com.amazonaws.acm#CertificateSearchResultList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acm#CertificateSearchResult"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of <code>CertificateSearchResult</code> objects.</p>"
      }
    },
    "com.amazonaws.acm#CertificateStatus": {
      "type": "enum",
      "members": {
        "PENDING_VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_VALIDATION"
          }
        },
        "ISSUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUED"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "VALIDATION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATION_TIMED_OUT"
          }
        },
        "REVOKED": {
          "target": "smithy.api#Unit",
[...]
