{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.acm#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.acm#ServiceErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AccessDenied",
          "httpResponseCode": 403
        },
        "smithy.api#documentation": "<p>You do not have access required to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.acm#AddTagsToCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acm#AddTagsToCertificateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.acm#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acm#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.acm#InvalidTagException"
        },
        {
          "target": "com.amazonaws.acm#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.acm#TagPolicyException"
        },
        {
          "target": "com.amazonaws.acm#ThrottlingException"
        },
        {
          "target": "com.amazonaws.acm#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more tags to an ACM certificate. Tags are labels that you can use to identify and organize your Amazon Web Services resources. Each tag consists of a <code>key</code> and an optional <code>value</code>. You specify the certificate on input by its Amazon Resource Name (ARN). You specify the tag by using a key-value pair. </p> <p>You can apply a tag to just one certificate if you want to identify a specific characteristic of that certificate, or you can apply the same tag to multiple certificates if you want to filter for a common relationship among those certificates. Similarly, you can apply the same tag to multiple resources if you want to specify a relationship among those resources. For example, you can add the same tag to an ACM certificate and an Elastic Load Balancing load balancer to indicate that they are both used by the same website. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/tags.html\">Tagging ACM certificates</a>. </p> <p>To remove one or more tags, use the <a>RemoveTagsFromCertificate</a> action. To view all of the tags that have been applied to the certificate, use the <a>ListTagsForCertificate</a> action. </p>"
      }
    },
    "com.amazonaws.acm#AddTagsToCertificateRequest": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.acm#Arn",
          "traits": {
            "smithy.api#documentation": "<p>String that contains the ARN of the ACM certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.acm#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair that defines the tag. The tag value is optional.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.acm#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:[\\w+=/,.@-]+:acm:[\\w+=/,.@-]*:[0-9]+:[\\w+=,.@-]+(/[\\w+=,.@-]+)*$"
      }
    },
    "com.amazonaws.acm#AvailabilityErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.acm#CertificateBody": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32768
        },
        "smithy.api#pattern": "^-{5}BEGIN CERTIFICATE-{5}\\u000D?\\u000A([A-Za-z0-9/+]{64}\\u000D?\\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\\u000D?\\u000A-{5}END CERTIFICATE-{5}(\\u000D?\\u000A)?$"
      }
    },
    "com.amazonaws.acm#CertificateBodyBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32768
        }
      }
    },
    "com.amazonaws.acm#CertificateChain": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2097152
        },
        "smithy.api#pattern": "^(-{5}BEGIN CERTIFICATE-{5}\\u000D?\\u000A([A-Za-z0-9/+]{64}\\u000D?\\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\\u000D?\\u000A-{5}END CERTIFICATE-{5}\\u000D?\\u000A)*-{5}BEGIN CERTIFICATE-{5}\\u000D?\\u000A([A-Za-z0-9/+]{64}\\u000D?\\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\\u000D?\\u000A-{5}END CERTIFICATE-{5}(\\u000D?\\u000A)?$"
      }
    },
    "com.amazonaws.acm#CertificateChainBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2097152
        }
      }
    },
    "com.amazonaws.acm#CertificateDetail": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.acm#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the certificate. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>.</p>"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.acm#DomainNameString",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified domain name for the certificate, such as www.example.com or example.com.</p>"
          }
        },
        "SubjectAlternativeNames": {
          "target": "com.amazonaws.acm#DomainList",
          "traits": {
            "smithy.api#documentation": "<p>One or more domain names (subject alternative names) included in the certificate. This list contains the domain names that are bound to the public key that is contained in the certificate. The subject alternative names include the canonical domain name (CN) of the certificate and additional domain names that can be used to connect to the website. </p>"
          }
        },
        "ManagedBy": {
          "target": "com.amazonaws.acm#CertificateManagedBy",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the Amazon Web Services service that manages the certificate issued by ACM.</p>"
          }
        },
        "DomainValidationOptions": {
          "target": "com.amazonaws.acm#DomainValidationList",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the initial validation of each domain name that occurs as a result of the <a>RequestCertificate</a> request. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>. </p>"
          }
        },
        "Serial": {
          "target": "com.amazonaws.acm#String",
          "traits": {
            "smithy.api#documentation": "<p>The serial number of the certificate.</p>"
          }
        },
        "Subject": {
          "target": "com.amazonaws.acm#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entity that is associated with the public key contained in the certificate.</p>"
          }
        },
        "Issuer": {
          "target": "com.amazonaws.acm#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the certificate authority that issued and signed the certificate.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the certificate was requested.</p>"
          }
        },
        "IssuedAt": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the certificate was issued. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>. </p>"
          }
        },
        "ImportedAt": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the certificate was imported. This value exists only when the certificate type is <code>IMPORTED</code>. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.acm#CertificateStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the certificate.</p> <p>A certificate enters status PENDING_VALIDATION upon being requested, unless it fails for any of the reasons given in the troubleshooting topic <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/troubleshooting-failed.html\">Certificate request fails</a>. ACM makes repeated attempts to validate a certificate for 72 hours and then times out. If a certificate shows status FAILED or VALIDATION_TIMED_OUT, delete the request, correct the issue with <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/dns-validation.html\">DNS validation</a> or <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/email-validation.html\">Email validation</a>, and try again. If validation succeeds, the certificate enters status ISSUED. </p>"
          }
        },
        "RevokedAt": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the certificate was revoked. This value exists only when the certificate status is <code>REVOKED</code>. </p>"
          }
        },
        "RevocationReason": {
          "target": "com.amazonaws.acm#RevocationReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason the certificate was revoked. This value exists only when the certificate status is <code>REVOKED</code>. </p>"
          }
        },
        "NotBefore": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time before which the certificate is not valid.</p>"
          }
        },
        "NotAfter": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time after which the certificate is not valid.</p>"
          }
        },
        "KeyAlgorithm": {
          "target": "com.amazonaws.acm#KeyAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm that was used to generate the public-private key pair.</p>"
          }
        },
        "SignatureAlgorithm": {
          "target": "com.amazonaws.acm#String",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm that was used to sign the certificate.</p>"
          }
        },
        "InUseBy": {
          "target": "com.amazonaws.acm#InUseList",
          "traits": {
            "smithy.api#documentation": "<p>A list of ARNs for the Amazon Web Services resources that are using the certificate. A certificate can be used by multiple Amazon Web Services resources. </p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.acm#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason the certificate request failed. This value exists only when the certificate status is <code>FAILED</code>. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/troubleshooting.html#troubleshooting-failed\">Certificate Request Failed</a> in the <i>Certificate Manager User Guide</i>. </p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.acm#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>The source of the certificate. For certificates provided by ACM, this value is <code>AMAZON_ISSUED</code>. For certificates that you imported with <a>ImportCertificate</a>, this value is <code>IMPORTED</code>. ACM does not provide <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed renewal</a> for imported certificates. For more information about the differences between certificates that you import and those that ACM provides, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html\">Importing Certificates</a> in the <i>Certificate Manager User Guide</i>. </p>"
          }
        },
        "RenewalSummary": {
          "target": "com.amazonaws.acm#RenewalSummary",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the status of ACM's <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed renewal</a> for the certificate. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>"
          }
        },
        "KeyUsages": {
          "target": "com.amazonaws.acm#KeyUsageList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Key Usage X.509 v3 extension objects. Each object is a string value that identifies the purpose of the public key contained in the certificate. Possible extension values include DIGITAL_SIGNATURE, KEY_ENCHIPHERMENT, NON_REPUDIATION, and more.</p>"
          }
        },
        "ExtendedKeyUsages": {
          "target": "com.amazonaws.acm#ExtendedKeyUsageList",
          "traits": {
            "smithy.api#documentation": "<p>Contains a list of Extended Key Usage X.509 v3 extension objects. Each object specifies a purpose for which the certificate public key can be used and consists of a name and an object identifier (OID). </p>"
          }
        },
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.acm#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the private certificate authority (CA) that issued the certificate. This has the following format: </p> <p> <code>arn:aws:acm-pca:region:account:certificate-authority/12345678-1234-1234-1234-123456789012</code> </p>"
          }
        },
        "RenewalEligibility": {
          "target": "com.amazonaws.acm#RenewalEligibility",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the certificate is eligible for renewal. At this time, only exported private certificates can be renewed with the <a>RenewCertificate</a> command.</p>"
          }
        },
        "Options": {
          "target": "com.amazonaws.acm#CertificateOptions",
          "traits": {
            "smithy.api#documentation": "<p>Value that specifies whether to add the certificate to a transparency log. Certificate transparency makes it possible to detect SSL certificates that have been mistakenly or maliciously issued. A browser might respond to certificate that has not been logged by showing an error message. The logs are cryptographically secure. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata about an ACM certificate. This structure is returned in the response to a <a>DescribeCertificate</a> request. </p>"
      }
    },
    "com.amazonaws.acm#CertificateExport": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.acm#CertificateManagedBy": {
      "type": "enum",
      "members": {
        "CLOUDFRONT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDFRONT"
          }
        }
      }
    },
    "com.amazonaws.acm#CertificateManager": {
      "type": "service",
      "version": "2015-12-08",
      "operations": [
        {
          "target": "com.amazonaws.acm#AddTagsToCertificate"
        },
        {
          "target": "com.amazonaws.acm#DeleteCertificate"
        },
        {
          "target": "com.amazonaws.acm#DescribeCertificate"
        },
        {
          "target": "com.amazonaws.acm#ExportCertificate"
        },
        {
          "target": "com.amazonaws.acm#GetAccountConfiguration"
        },
        {
          "target": "com.amazonaws.acm#GetCertificate"
        },
        {
          "target": "com.amazonaws.acm#ImportCertificate"
        },
        {
          "target": "com.amazonaws.acm#ListCertificates"
        },
        {
          "target": "com.amazonaws.acm#ListTagsForCertificate"
        },
        {
          "target": "com.amazonaws.acm#PutAccountConfiguration"
        },
        {
          "target": "com.amazonaws.acm#RemoveTagsFromCertificate"
        },
        {
          "target": "com.amazonaws.acm#RenewCertificate"
        },
        {
          "target": "com.amazonaws.acm#RequestCertificate"
        },
        {
          "target": "com.amazonaws.acm#ResendValidationEmail"
        },
        {
          "target": "com.amazonaws.acm#RevokeCertificate"
        },
        {
          "target": "com.amazonaws.acm#UpdateCertificateOptions"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ACM",
          "endpointPrefix": "acm",
          "arnNamespace": "acm",
          "cloudTrailEventSource": "acm.amazonaws.com",
          "cloudFormationName": "CertificateManager"
        },
        "aws.auth#sigv4": {
          "name": "acm"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>Certificate Manager</fullname> <p>You can use Certificate Manager (ACM) to manage SSL/TLS certificates for your Amazon Web Services-based websites and applications. For more information about using ACM, see the <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/\">Certificate Manager User Guide</a>.</p>",
        "smithy.api#title": "AWS Certificate Manager",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://acm-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    },
                                    "aws-us-gov"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://acm.{Region}.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://acm-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://acm.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://acm.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://acm.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.acm#CertificateOptions": {
      "type": "structure",
      "members": {
        "CertificateTransparencyLoggingPreference": {
          "target": "com.amazonaws.acm#CertificateTransparencyLoggingPreference",
          "traits": {
            "smithy.api#documentation": "<p>You can opt out of certificate transparency logging by specifying the <code>DISABLED</code> option. Opt in by specifying <code>ENABLED</code>. </p>"
          }
        },
        "Export": {
          "target": "com.amazonaws.acm#CertificateExport",
          "traits": {
            "smithy.api#documentation": "<p>You can opt in to allow the export of your certificates by specifying <code>ENABLED</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure that contains options for your certificate. You can use this structure to specify whether to opt in to or out of certificate transparency logging and export your certificate. </p> <p>Some browsers require that public certificates issued for your domain be recorded in a log. Certificates that are not logged typically generate a browser error. Transparency makes it possible for you to detect SSL/TLS certificates that have been mistakenly or maliciously issued for your domain. For general information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-concepts.html#concept-transparency\">Certificate Transparency Logging</a>.</p> <p>You can export public ACM certificates to use with Amazon Web Services services as well as outside Amazon Web Services Cloud. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-exportable-certificates.html\">Certificate Manager exportable public certificate</a>.</p>"
      }
    },
    "com.amazonaws.acm#CertificateStatus": {
      "type": "enum",
      "members": {
        "PENDING_VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_VALIDATION"
          }
        },
        "ISSUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUED"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "VALIDATION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATION_TIMED_OUT"
          }
        },
        "REVOKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVOKED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.acm#CertificateStatuses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acm#CertificateStatus"
      }
    },
    "com.amazonaws.acm#CertificateSummary": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.acm#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the certificate. This is of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.acm#DomainNameString",
          "traits": {
            "smithy.api#documentation": "<p>Fully qualified domain name (FQDN), such as www.example.com or example.com, for the certificate.</p>"
          }
        },
        "SubjectAlternativeNameSummaries": {
          "target": "com.amazonaws.acm#DomainList",
          "traits": {
            "smithy.api#documentation": "<p>One or more domain names (subject alternative names) included in the certificate. This list contains the domain names that are bound to the public key that is contained in the certificate. The subject alternative names include the canonical domain name (CN) of the certificate and additional domain names that can be used to connect to the website. </p> <p>When called by <a href=\"https://docs.aws.amazon.com/acm/latestAPIReference/API_ListCertificates.html\">ListCertificates</a>, this parameter will only return the first 100 subject alternative names included in the certificate. To display the full list of subject alternative names, use <a href=\"https://docs.aws.amazon.com/acm/latestAPIReference/API_DescribeCertificate.html\">DescribeCertificate</a>.</p>"
          }
        },
        "HasAdditionalSubjectAlternativeNames": {
          "target": "com.amazonaws.acm#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>When called by <a href=\"https://docs.aws.amazon.com/acm/latestAPIReference/API_ListCertificates.html\">ListCertificates</a>, indicates whether the full list of subject alternative names has been included in the response. If false, the response includes all of the subject alternative names included in the certificate. If true, the response only includes the first 100 subject alternative names included in the certificate. To display the full list of subject alternative names, use <a href=\"https://docs.aws.amazon.com/acm/latestAPIReference/API_DescribeCertificate.html\">DescribeCertificate</a>.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.acm#CertificateStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the certificate.</p> <p>A certificate enters status PENDING_VALIDATION upon being requested, unless it fails for any of the reasons given in the troubleshooting topic <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/troubleshooting-failed.html\">Certificate request fails</a>. ACM makes repeated attempts to validate a certificate for 72 hours and then times out. If a certificate shows status FAILED or VALIDATION_TIMED_OUT, delete the request, correct the issue with <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/dns-validation.html\">DNS validation</a> or <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/email-validation.html\">Email validation</a>, and try again. If validation succeeds, the certificate enters status ISSUED. </p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.acm#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>The source of the certificate. For certificates provided by ACM, this value is <code>AMAZON_ISSUED</code>. For certificates that you imported with <a>ImportCertificate</a>, this value is <code>IMPORTED</code>. ACM does not provide <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed renewal</a> for imported certificates. For more information about the differences between certificates that you import and those that ACM provides, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html\">Importing Certificates</a> in the <i>Certificate Manager User Guide</i>. </p>"
          }
        },
        "KeyAlgorithm": {
          "target": "com.amazonaws.acm#KeyAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm that was used to generate the public-private key pair.</p>"
          }
        },
        "KeyUsages": {
          "target": "com.amazonaws.acm#KeyUsageNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of Key Usage X.509 v3 extension objects. Each object is a string value that identifies the purpose of the public key contained in the certificate. Possible extension values include DIGITAL_SIGNATURE, KEY_ENCHIPHERMENT, NON_REPUDIATION, and more.</p>"
          }
        },
        "ExtendedKeyUsages": {
          "target": "com.amazonaws.acm#ExtendedKeyUsageNames",
          "traits": {
            "smithy.api#documentation": "<p>Contains a list of Extended Key Usage X.509 v3 extension objects. Each object specifies a purpose for which the certificate public key can be used and consists of a name and an object identifier (OID). </p>"
          }
        },
        "ExportOption": {
          "target": "com.amazonaws.acm#CertificateExport",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if export is enabled for the certificate.</p>"
          }
        },
        "InUse": {
          "target": "com.amazonaws.acm#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the certificate is currently in use by any Amazon Web Services resources.</p>"
          }
        },
        "Exported": {
          "target": "com.amazonaws.acm#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the certificate has been exported. This value exists only when the certificate type is <code>PRIVATE</code>.</p>"
          }
        },
        "RenewalEligibility": {
          "target": "com.amazonaws.acm#RenewalEligibility",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the certificate is eligible for renewal. At this time, only exported private certificates can be renewed with the <a>RenewCertificate</a> command.</p>"
          }
        },
        "NotBefore": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time before which the certificate is not valid.</p>"
          }
        },
        "NotAfter": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time after which the certificate is not valid.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the certificate was requested.</p>"
          }
        },
        "IssuedAt": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the certificate was issued. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>. </p>"
          }
        },
        "ImportedAt": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the certificate was imported. This value exists only when the certificate type is <code>IMPORTED</code>. </p>"
          }
        },
        "RevokedAt": {
          "target": "com.amazonaws.acm#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the certificate was revoked. This value exists only when the certificate status is <code>REVOKED</code>. </p>"
          }
        },
        "ManagedBy": {
          "target": "com.amazonaws.acm#CertificateManagedBy",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the Amazon Web Services service that manages the certificate issued by ACM.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure is returned in the response object of <a>ListCertificates</a> action. </p>"
      }
    },
    "com.amazonaws.acm#CertificateSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acm#CertificateSummary"
      }
    },
    "com.amazonaws.acm#CertificateTransparencyLoggingPreference": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.acm#CertificateType": {
      "type": "enum",
      "members": {
        "IMPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORTED"
          }
        },
        "AMAZON_ISSUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMAZON_ISSUED"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE"
          }
        }
      }
    },
    "com.amazonaws.acm#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.acm#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You are trying to update a resource or configuration that is already being created or updated. Wait for the previous operation to finish and try again.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.acm#DeleteCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acm#DeleteCertificateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.acm#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.acm#ConflictException"
        },
        {
          "target": "com.amazonaws.acm#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acm#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.acm#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.acm#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a certificate and its associated private key. If this action succeeds, the certificate no longer appears in the list that can be displayed by calling the <a>ListCertificates</a> action or be retrieved by calling the <a>GetCertificate</a> action. The certificate will not be available for use by Amazon Web Services services integrated with ACM. </p> <note> <p>You cannot delete an ACM certificate that is being used by another Amazon Web Services service. To delete a certificate that is in use, the certificate association must first be removed.</p> </note>"
      }
    },
    "com.amazonaws.acm#DeleteCertificateRequest": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.acm#Arn",
          "traits": {
            "smithy.api#documentation": "<p>String that contains the ARN of the ACM certificate to be deleted. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.acm#DescribeCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acm#DescribeCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.acm#DescribeCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acm#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acm#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed metadata about the specified ACM certificate.</p> <p>If you have just created a certificate using the <code>RequestCertificate</code> action, there is a delay of several seconds before you can retrieve information about it.</p>",
        "smithy.waiters#waitable": {
          "CertificateValidated": {
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "Certificate.DomainValidationOptions[].ValidationStatus",
                    "expected": "SUCCESS",
                    "comparator": "allStringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "Certificate.DomainValidationOptions[].ValidationStatus",
                    "expected": "PENDING_VALIDATION",
                    "comparator": "anyStringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "Certificate.Status",
                    "expected": "FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "errorType": "ResourceNotFoundException"
                }
              }
            ],
            "minDelay": 60
          }
        }
      }
    },
    "com.amazonaws.acm#DescribeCertificateRequest": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.acm#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACM certificate. The ARN must have the following form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.acm#DescribeCertificateResponse": {
      "type": "structure",
      "members": {
        "Certificate": {
          "target": "com.amazonaws.acm#CertificateDetail",
          "traits": {
            "smithy.api#documentation": "<p>Metadata about an ACM certificate.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.acm#DomainList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acm#DomainNameString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.acm#DomainNameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 253
        },
        "smithy.api#pattern": "^(\\*\\.)?(((?!-)[A-Za-z0-9-]{0,62}[A-Za-z0-9])\\.)+((?!-)[A-Za-z0-9-]{1,62}[A-Za-z0-9])$"
      }
    },
    "com.amazonaws.acm#DomainStatus": {
      "type": "enum",
      "members": {
        "PENDING_VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_VALIDATION"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.acm#DomainValidation": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.acm#DomainNameString",
          "traits": {
            "smithy.api#documentation": "<p>A fully qualified domain name (FQDN) in the certificate. For example, <code>www.example.com</code> or <code>example.com</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "ValidationEmails": {
          "target": "com.amazonaws.acm#ValidationEmailList",
          "traits": {
            "smithy.api#documentation": "<p>A list of email addresses that ACM used to send domain validation emails.</p>"
          }
        },
        "ValidationDomain": {
          "target": "com.amazonaws.acm#DomainNameString",
          "traits": {
            "smithy.api#documentation": "<p>The domain name that ACM used to send domain validation emails.</p>"
          }
        },
        "ValidationStatus": {
          "target": "com.amazonaws.acm#DomainStatus",
          "traits": {
            "smithy.api#documentation": "<p>The validation status of the domain name. This can be one of the following values:</p> <ul> <li> <p> <code>PENDING_VALIDATION</code> </p> </li> <li> <p> <code/>SUCCESS</p> </li> <li> <p> <code/>FAILED</p> </li> </ul>"
          }
        },
        "ResourceRecord": {
          "target": "com.amazonaws.acm#ResourceRecord",
          "traits": {
            "smithy.api#documentation": "<p>Contains the CNAME record that you add to your DNS database for domain validation. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-validate-dns.html\">Use DNS to Validate Domain Ownership</a>.</p> <note> <p>The CNAME information that you need does not include the name of your domain. If you include your domain name in the DNS database CNAME record, validation fails. For example, if the name is <code>_a79865eb4cd1a6ab990a45779b4e0b96.yourdomain.com</code>, only <code>_a79865eb4cd1a6ab990a45779b4e0b96</code> must be used.</p> </note>"
          }
        },
        "HttpRedirect": {
          "target": "com.amazonaws.acm#HttpRedirect",
          "traits": {
            "smithy.api#documentation": "<p>Contains information for HTTP-based domain validation of certificates requested through Amazon CloudFront and issued by ACM. This field exists only when the certificate type is <code>AMAZON_ISSUED</code> and the validation method is <code>HTTP</code>.</p>"
          }
        },
        "ValidationMethod": {
          "target": "com.amazonaws.acm#ValidationMethod",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the domain validation method.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the validation of each domain name in the certificate.</p>"
      }
    },
    "com.amazonaws.acm#DomainValidationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acm#DomainValidation"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.acm#DomainValidationOption": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.acm#DomainNameString",
          "traits": {
            "smithy.api#documentation": "<p>A fully qualified domain name (FQDN) in the certificate request.</p>",
            "smithy.api#required": {}
          }
        },
        "ValidationDomain": {
          "target": "com.amazonaws.acm#DomainNameString",
          "traits": {
            "smithy.api#documentation": "<p>The domain name that you want ACM to use to send you validation emails. This domain name is the suffix of the email addresses that you want ACM to use. This must be the same as the <code>DomainName</code> value or a superdomain of the <code>DomainName</code> value. For example, if you request a certificate for <code>testing.example.com</code>, you can specify <code>example.com</code> for this value. In that case, ACM sends domain validation emails to the following five addresses:</p> <ul> <li> <p>admin@example.com</p> </li> <li> <p>administrator@example.com</p> </li> <li> <p>hostmaster@example.com</p> </li> <li> <p>postmaster@example.com</p> </li> <li> <p>webmaster@example.com</p> </li> </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the domain names that you want ACM to use to send you emails that enable you to validate domain ownership.</p>"
      }
    },
    "com.amazonaws.acm#DomainValidationOptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acm#DomainValidationOption"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.acm#ExpiryEventsConfiguration": {
      "type": "structure",
      "members": {
        "DaysBeforeExpiry": {
          "target": "com.amazonaws.acm#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of days prior to certificate expiration when ACM starts generating <code>EventBridge</code> events. ACM sends one event per day per certificate until the certificate expires. By default, accounts receive events starting 45 days before certificate expiration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object containing expiration events options associated with an Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.acm#ExportCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acm#ExportCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.acm#ExportCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acm#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acm#RequestInProgressException"
        },
        {
          "target": "com.amazonaws.acm#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Exports a private certificate issued by a private certificate authority (CA) or public certificate for use anywhere. The exported file contains the certificate, the certificate chain, and the encrypted private key associated with the public key that is embedded in the certificate. For security, you must assign a passphrase for the private key when exporting it. </p> <p>For information about exporting and formatting a certificate using the ACM console or CLI, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/export-private.html\">Export a private certificate</a> and <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/export-public-certificate\">Export a public certificate</a>.</p>"
      }
    },
    "com.amazonaws.acm#ExportCertificateRequest": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.acm#Arn",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) of the issued certificate. This must be of the form:</p> <p> <code>arn:aws:acm:region:account:certificate/12345678-1234-1234-1234-123456789012</code> </p>",
            "smithy.api#required": {}
          }
        },
        "Passphrase": {
          "target": "com.amazonaws.acm#PassphraseBlob",
          "traits": {
            "smithy.api#documentation": "<p>Passphrase to associate with the encrypted exported private key. </p> <note> <p>When creating your passphrase, you can use any ASCII character except #, $, or %.</p> </note> <p>If you want to later decrypt the private key, you must have the passphrase. You can use the following OpenSSL command to decrypt a private key. After entering the command, you are prompted for the passphrase.</p> <p> <code>openssl rsa -in encrypted_key.pem -out decrypted_key.pem</code> </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.acm#ExportCertificateResponse": {
      "type": "structure",
      "members": {
        "Certificate": {
          "target": "com.amazonaws.acm#CertificateBody",
          "traits": {
            "smithy.api#documentation": "<p>The base64 PEM-encoded certificate.</p>"
          }
        },
        "CertificateChain": {
          "target": "com.amazonaws.acm#CertificateChain",
          "traits": {
            "smithy.api#documentation": "<p>The base64 PEM-encoded certificate chain. This does not include the certificate that you are exporting.</p>"
          }
        },
        "PrivateKey": {
          "target": "com.amazonaws.acm#PrivateKey",
          "traits": {
            "smithy.api#documentation": "<p>The encrypted private key associated with the public key in the certificate. The key is output in PKCS #8 format and is base64 PEM-encoded. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.acm#ExtendedKeyUsage": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.acm#ExtendedKeyUsageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an Extended Key Usage value.</p>"
          }
        },
        "OID": {
          "target": "com.amazonaws.acm#String",
          "traits": {
            "smithy.api#documentation": "<p>An object identifier (OID) for the extension value. OIDs are strings of numbers separated by periods. The following OIDs are defined in RFC 3280 and RFC 5280. </p> <ul> <li> <p> <code>1.3.6.1.5.5.7.3.1 (TLS_WEB_SERVER_AUTHENTICATION)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.2 (TLS_WEB_CLIENT_AUTHENTICATION)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.3 (CODE_SIGNING)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.4 (EMAIL_PROTECTION)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.8 (TIME_STAMPING)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.9 (OCSP_SIGNING)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.5 (IPSEC_END_SYSTEM)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.6 (IPSEC_TUNNEL)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.7 (IPSEC_USER)</code> </p> </li> </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Extended Key Usage X.509 v3 extension defines one or more purposes for which the public key can be used. This is in addition to or in place of the basic purposes specified by the Key Usage extension. </p>"
      }
    },
    "com.amazonaws.acm#ExtendedKeyUsageFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acm#ExtendedKeyUsageName"
      }
    },
    "com.amazonaws.acm#ExtendedKeyUsageList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acm#ExtendedKeyUsage"
      }
    },
    "com.amazonaws.acm#ExtendedKeyUsageName": {
      "type": "enum",
      "members": {
        "TLS_WEB_SERVER_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TLS_WEB_SERVER_AUTHENTICATION"
          }
        },
        "TLS_WEB_CLIENT_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TLS_WEB_CLIENT_AUTHENTICATION"
          }
        },
        "CODE_SIGNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_SIGNING"
          }
        },
        "EMAIL_PROTECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMAIL_PROTECTION"
          }
        },
        "TIME_STAMPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_STAMPING"
          }
        },
        "OCSP_SIGNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OCSP_SIGNING"
          }
        },
        "IPSEC_END_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPSEC_END_SYSTEM"
          }
        },
        "IPSEC_TUNNEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPSEC_TUNNEL"
          }
        },
        "IPSEC_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPSEC_USER"
          }
        },
        "ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.amazonaws.acm#ExtendedKeyUsageNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.acm#ExtendedKeyUsageName"
      }
    },
    "com.amazonaws.acm#FailureReason": {
      "type": "enum",
      "members": {
        "NO_AVAILABLE_CONTACTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_AVAILABLE_CONTACTS"
          }
        },
        "ADDITIONAL_VERIFICATION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDITIONAL_VERIFICATION_REQUIRED"
          }
        },
        "DOMAIN_NOT_ALLOWED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_NOT_ALLOWED"
          }
        },
        "INVALID_PUBLIC_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_PUBLIC_DOMAIN"
          }
        },
        "DOMAIN_VALIDATION_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_VALIDATION_DENIED"
          }
        },
        "CAA_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAA_ERROR"
          }
        },
        "PCA_LIMIT_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCA_LIMIT_EXCEEDED"
          }
        },
        "PCA_INVALID_ARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCA_INVALID_ARN"
          }
        },
        "PCA_INVALID_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCA_INVALID_STATE"
          }
        },
        "PCA_REQUEST_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCA_REQUEST_FAILED"
          }
        },
        "PCA_NAME_CONSTRAINTS_VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCA_NAME_CONSTRAINTS_VALIDATION"
          }
        },
        "PCA_RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCA_RESOURCE_NOT_FOUND"
          }
        },
        "PCA_INVALID_ARGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCA_INVALID_ARGS"
          }
        },
        "PCA_INVALID_DURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCA_INVALID_DURATION"
          }
        },
        "PCA_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PCA_ACCESS_DENIED"
          }
        },
        "SLR_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SLR_NOT_FOUND"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.amazonaws.acm#Filters": {
      "type": "structure",
      "members": {
        "extendedKeyUsage": {
          "target": "com.amazonaws.acm#ExtendedKeyUsageFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Specify one or more <a>ExtendedKeyUsage</a> extension values.</p>"
          }
        },
        "keyUsage": {
          "target": "com.amazonaws.acm#KeyUsageFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Specify one or more <a>KeyUsage</a> extension values.</p>"
          }
        },
        "keyTypes": {
          "target": "com.amazonaws.acm#KeyAlgorithmList",
          "traits": {
            "smithy.api#documentation": "<p>Specify one or more algorithms that can be used to generate key pairs.</p> <p>Default filtering returns only <code>RSA_1024</code> and <code>RSA_2048</code> certificates that have at least one domain. To return other certificate types, provide the desired type signatures in a comma-separated list. For example, <code>\"keyTypes\": [\"RSA_2048\",\"RSA_4096\"]</code> returns both <code>RSA_2048</code> and <code>RSA_4096</code> certificates.</p>"
          }
        },
        "exportOption": {
          "target": "com.amazonaws.acm#CertificateExport",
          "traits": {
            "smithy.api#documentation": "<p>Specify <code>ENABLED</code> or <code>DISABLED</code> to identify certificates that can be exported.</p>"
          }
        },
        "managedBy": {
          "target": "com.amazonaws.acm#CertificateManagedBy",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the Amazon Web Services service that manages the certificate issued by ACM.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure can be used in the <a>ListCertificates</a> action to filter the output of the certificate list. </p>"
      }
    },
    "com.amazonaws.acm#GetAccountConfiguration": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.acm#GetAccountConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acm#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.acm#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the account configuration options associated with an Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.acm#GetAccountConfigurationResponse": {
      "type": "structure",
      "members": {
        "ExpiryEvents": {
          "target": "com.amazonaws.acm#ExpiryEventsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Expiration events configuration options associated with the Amazon Web Services account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.acm#GetCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acm#GetCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.acm#GetCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acm#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acm#RequestInProgressException"
        },
        {
          "target": "com.amazonaws.acm#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a certificate and its certificate chain. The certificate may be either a public or private certificate issued using the ACM <code>RequestCertificate</code> action, or a certificate imported into ACM using the <code>ImportCertificate</code> action. The chain consists of the certificate of the issuing CA and the intermediate certificates of any other subordinate CAs. All of the certificates are base64 encoded. You can use <a href=\"https://wiki.openssl.org/index.php/Command_Line_Utilities\">OpenSSL</a> to decode the certificates and inspect individual fields.</p>",
        "smithy.test#smokeTests": [
          {
            "id": "GetCertificateFailure",
            "params": {
              "CertificateArn": "arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012"
            },
            "vendorParams": {
              "region": "us-west-2"
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "expect": {
              "failure": {}
            }
          }
        ]
      }
    },
    "com.amazonaws.acm#GetCertificateRequest": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.acm#Arn",
          "traits": {
            "smithy.api#documentation": "<p>String that contains a certificate ARN in the following format:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.acm#GetCertificateResponse": {
      "type": "structure",
      "members": {
        "Certificate": {
          "target": "com.amazonaws.acm#CertificateBody",
          "traits": {
            "smithy.api#documentation": "<p>The ACM-issued certificate corresponding to the ARN specified as input.</p>"
          }
        },
        "CertificateChain": {
          "target": "com.amazonaws.acm#CertificateChain",
          "traits": {
            "smithy.api#documentation": "<p>Certificates forming the requested certificate's chain of trust. The chain consists of the certificate of the issuing CA and the intermediate certificates of any other subordinate CAs. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.acm#HttpRedirect": {
      "type": "structure",
      "members": {
        "RedirectFrom": {
          "target": "com.amazonaws.acm#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL including the domain to be validated. The certificate authority sends <code>GET</code> requests here during validation.</p>"
          }
        },
        "RedirectTo": {
          "target": "com.amazonaws.acm#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL hosting the validation token. <code>RedirectFrom</code> must return this content or redirect here.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information for HTTP-based domain validation of certificates requested through Amazon CloudFront and issued by ACM. This field exists only when the certificate type is <code>AMAZON_ISSUED</code> and the validation method is <code>HTTP</code>.</p>"
      }
    },
    "com.amazonaws.acm#IdempotencyToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "^\\w+$"
      }
    },
    "com.amazonaws.acm#ImportCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.acm#ImportCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.acm#ImportCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.acm#InvalidArnException"
        },
        {
          "target": "com.amazonaws.acm#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.acm#InvalidTagException"
        },
        {
          "target": "com.amazonaws.acm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.acm#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.acm#TagPolicyException"
        },
        {
          "target": "com.amazonaws.acm#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Imports a certificate into Certificate Manager (ACM) to use with services that are integrated with ACM. Note that <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-services.html\">integrated services</a> allow only certificate types and keys they support to be associated with their resources. Further, their support differs depending on whether the certificate is imported into IAM or into ACM. For more information, see the documentation for each service. For more information about importing certificates into ACM, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html\">Importing Certificates</a> in the <i>Certificate Manager User Guide</i>. </p> <note> <p>ACM does not provide <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed renewal</a> for certificates that you import.</p> </note> <p>Note the following guidelines when importing third party certificates:</p> <ul> <li> <p>You must enter the private key that matches the certificate you are importing.</p> </li> <li> <p>The private key must be unencrypted. You cannot import a private key that is protected by a password or a passphrase.</p> </li> <li> <p>The private key must be no larger than 5 KB (5,120 bytes).</p> </li> <li> <p>The certificate, private key, and certificate chain must be PEM-encoded.</p> </li> <li> <p>The current time must be between the <code>Not Before</code> and <code>Not After</code> certificate fields.</p> </li> <li> <p>The <code>Issuer</code> field must not be empty.</p> </li> <li> <p>The OCSP authority URL, if present, must not exceed 1000 characters.</p> </li> <li> <p>To import a new certificate, omit the <code>CertificateArn</code> argument. Include this argument only when you want to replace a previously imported certificate.</p> </li> <li> <p>When you import a certificate by using the CLI, you must specify the certificate, the certificate chain, and the private key by their file names preceded by <code>fileb://</code>. For example, you can specify a certificate saved in the <code>C:\\temp</code> folder as <code>fileb://C:\\temp\\certificate_to_import.pem</code>. If you are making an HTTP or HTTPS Query request, include these arguments as BLOBs. </p> </li> <li> <p>When you import a certificate by using an SDK, you must specify the certificate, the certificate chain, and the private key files in the manner required by the programming language you're using. </p> </li> <li> <p>The cryptographic algorithm of an imported certificate must match the algorithm of the signing CA. For example, if the signing CA key type is RSA, then the certificate key type must also be RSA.</p> </li> </ul> <p>This operation returns the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the imported certificate.</p>"
      }
    },
    "com.amazonaws.acm#ImportCertificateRequest": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.acm#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of an imported certificate to replace. To import a new certificate, omit this field. </p>"
          }
        },
        "Certificate": {
          "target": "com.amazonaws.acm#CertificateBodyBlob",
          "traits": {
[...]
