{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.awsmoneypennyresourcemanagement#Address": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AddressBook": {
      "type": "structure",
      "members": {
        "AddressBookArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the address book.</p>\n      "
          }
        },
        "Description": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#AddressBookDescription",
          "traits": {
            "smithy.api#documentation": "\n         <p>The description of the address book.</p>\n      "
          }
        },
        "Name": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#AddressBookName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the address book.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>An address book with attributes.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AddressBookData": {
      "type": "structure",
      "members": {
        "AddressBookArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the address book.</p>\n      "
          }
        },
        "Description": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#AddressBookDescription",
          "traits": {
            "smithy.api#documentation": "\n         <p>The description of the address book.</p>\n      "
          }
        },
        "Name": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#AddressBookName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the address book.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Information related to an address book.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AddressBookDataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#AddressBookData"
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AddressBookDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AddressBookName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AlexaForBusiness": {
      "type": "service",
      "version": "2017-11-09",
      "operations": [
        {
          "target": "com.amazonaws.a4b.endpointoperationservice#SendAnnouncement"
        },
        {
          "target": "com.amazonaws.a4bendpointmanagement#DeleteDeviceUsageData"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ApproveSkill"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#AssociateContactWithAddressBook"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#AssociateDeviceWithNetworkProfile"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#AssociateDeviceWithRoom"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#AssociateSkillGroupWithRoom"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#AssociateSkillWithSkillGroup"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#AssociateSkillWithUsers"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateAddressBook"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateBusinessReportSchedule"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateConferenceProvider"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateContact"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateGatewayGroup"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateNetworkProfile"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateProfile"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateRoom"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateSkillGroup"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateUser"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteAddressBook"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteBusinessReportSchedule"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteConferenceProvider"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteContact"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteDevice"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteGatewayGroup"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteNetworkProfile"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteProfile"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteRoom"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteRoomSkillParameter"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteSkillAuthorization"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteSkillGroup"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteUser"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DisassociateContactFromAddressBook"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DisassociateDeviceFromRoom"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DisassociateSkillFromSkillGroup"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DisassociateSkillFromUsers"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DisassociateSkillGroupFromRoom"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ForgetSmartHomeAppliances"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#GetAddressBook"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#GetConferencePreference"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#GetConferenceProvider"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#GetContact"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#GetDevice"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#GetGateway"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#GetGatewayGroup"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#GetInvitationConfiguration"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#GetNetworkProfile"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#GetProfile"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#GetRoom"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#GetRoomSkillParameter"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#GetSkillGroup"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ListBusinessReportSchedules"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ListConferenceProviders"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ListDeviceEvents"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ListGatewayGroups"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ListGateways"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ListSkills"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ListSkillsStoreCategories"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ListSkillsStoreSkillsByCategory"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ListSmartHomeAppliances"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ListTags"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#PutConferencePreference"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#PutInvitationConfiguration"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#PutRoomSkillParameter"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#PutSkillAuthorization"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#RegisterAVSDevice"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#RejectSkill"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ResolveRoom"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#RevokeInvitation"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#SearchAddressBooks"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#SearchContacts"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#SearchDevices"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#SearchNetworkProfiles"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#SearchProfiles"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#SearchRooms"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#SearchSkillGroups"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#SearchUsers"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#SendInvitation"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#StartDeviceSync"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#StartSmartHomeApplianceDiscovery"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#TagResource"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#UntagResource"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#UpdateAddressBook"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#UpdateBusinessReportSchedule"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#UpdateConferenceProvider"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#UpdateContact"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#UpdateDevice"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#UpdateGateway"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#UpdateGatewayGroup"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#UpdateNetworkProfile"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#UpdateProfile"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#UpdateRoom"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#UpdateSkillGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Alexa For Business",
          "arnNamespace": "a4b",
          "cloudFormationName": "AlexaForBusiness",
          "cloudTrailEventSource": "awsmoneypennyresourcemanagement.amazonaws.com"
        },
        "smithy.api#documentation": "\n         <p>Alexa for Business helps you use Alexa in your organization. Alexa for Business provides you with the tools\n         to manage Alexa devices, enroll your users, and assign skills, at scale. You can build your\n         own context-aware voice skills using the Alexa Skills Kit and the Alexa for Business API operations.\n         You can also make these available as private skills for your organization. Alexa for Business makes it\n         efficient to voice-enable your products and services, thus providing context-aware voice\n         experiences for your customers. Device makers building with the Alexa Voice Service (AVS)\n         can create fully integrated solutions, register their products with Alexa for Business, and manage them\n         as shared devices in their organization. </p>\n      ",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Alexa For Business"
      }
    },
    "com.amazonaws.a4b.api#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.a4b.api#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The resource being created already exists.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AmazonId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-zA-Z0-9]{1,18}"
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#ApplianceDescription": {
      "type": "string"
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#ApplianceFriendlyName": {
      "type": "string"
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#ApplianceManufacturerName": {
      "type": "string"
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#ApproveSkill": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#ApproveSkillRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#ApproveSkillResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.a4b.api#LimitExceededException"
        },
        {
          "target": "com.amazonaws.a4b.api#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Associates a skill with the organization under the customer's AWS account. If a skill\n         is private, the user implicitly accepts access to this skill during enablement.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#ApproveSkillRequest": {
      "type": "structure",
      "members": {
        "SkillId": {
          "target": "com.amazonaws.a4b.api#SkillId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The unique identifier of the skill.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#ApproveSkillResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.a4b.api#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}"
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AssociateContactWithAddressBook": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#AssociateContactWithAddressBookRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#AssociateContactWithAddressBookResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Associates a contact with a given address book.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AssociateContactWithAddressBookRequest": {
      "type": "structure",
      "members": {
        "AddressBookArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the address book with which to associate the contact.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "ContactArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the contact to associate with an address book.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AssociateContactWithAddressBookResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AssociateDeviceWithNetworkProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#AssociateDeviceWithNetworkProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#AssociateDeviceWithNetworkProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.a4b.api#DeviceNotRegisteredException"
        },
        {
          "target": "com.amazonaws.a4b.api#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Associates a device with the specified network profile.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AssociateDeviceWithNetworkProfileRequest": {
      "type": "structure",
      "members": {
        "DeviceArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The device ARN.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "NetworkProfileArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the network profile to associate with a device.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AssociateDeviceWithNetworkProfileResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AssociateDeviceWithRoom": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#AssociateDeviceWithRoomRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#AssociateDeviceWithRoomResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.a4b.api#DeviceNotRegisteredException"
        },
        {
          "target": "com.amazonaws.a4b.api#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Associates a device with a given room. This applies all the settings from the room\n         profile to the device, and all the skills in any skill groups added to that room. This\n         operation requires the device to be online, or else a manual sync is required. </p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AssociateDeviceWithRoomRequest": {
      "type": "structure",
      "members": {
        "DeviceArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the device to associate to a room. Required.</p>\n      "
          }
        },
        "RoomArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the room with which to associate the device. Required.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AssociateDeviceWithRoomResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AssociateSkillGroupWithRoom": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#AssociateSkillGroupWithRoomRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#AssociateSkillGroupWithRoomResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#ConcurrentModificationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Associates a skill group with a given room. This enables all skills in the associated\n         skill group on all devices in the room.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AssociateSkillGroupWithRoomRequest": {
      "type": "structure",
      "members": {
        "RoomArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the room with which to associate the skill group. Required.</p>\n      "
          }
        },
        "SkillGroupArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the skill group to associate with a room. Required.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AssociateSkillGroupWithRoomResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AssociateSkillWithSkillGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#AssociateSkillWithSkillGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#AssociateSkillWithSkillGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.a4b.api#NotFoundException"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#SkillNotLinkedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Associates a skill with a skill group.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AssociateSkillWithSkillGroupRequest": {
      "type": "structure",
      "members": {
        "SkillGroupArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the skill group to associate the skill to. Required.</p>\n      "
          }
        },
        "SkillId": {
          "target": "com.amazonaws.a4b.api#SkillId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The unique identifier of the skill.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AssociateSkillWithSkillGroupResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AssociateSkillWithUsers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#AssociateSkillWithUsersRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#AssociateSkillWithUsersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.a4b.api#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Makes a private skill available for enrolled users to enable on their devices.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AssociateSkillWithUsersRequest": {
      "type": "structure",
      "members": {
        "SkillId": {
          "target": "com.amazonaws.a4b.api#SkillId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The private skill ID you want to make available to enrolled users.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AssociateSkillWithUsersResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.a4b.endpointoperationservice#Audio": {
      "type": "structure",
      "members": {
        "Locale": {
          "target": "com.amazonaws.a4b.endpointoperationservice#Locale",
          "traits": {
            "smithy.api#documentation": "\n         <p>The locale of the audio message. Currently, en-US is supported.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Location": {
          "target": "com.amazonaws.a4b.endpointoperationservice#AudioLocation",
          "traits": {
            "smithy.api#documentation": "\n         <p>The location of the audio file. Currently, S3 URLs are supported. Only S3 locations\n         comprised of safe characters are valid. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#Safe%20Characters\">Safe Characters</a>.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The audio message. There is a 1 MB limit on the audio file input and the only supported\n         format is MP3. To convert your MP3 audio files to an Alexa-friendly,  </p>\n         <p>required codec version (MPEG version 2) and bit rate (48 kbps), you might use converter\n         software. One option for this is a command-line tool, FFmpeg. For more information, see\n            <a href=\"https://www.ffmpeg.org/\">FFmpeg</a>. The following command converts the\n         provided <input-file> to an MP3 file that is played in the announcement:</p>\n         <p>\n            <code>ffmpeg -i <input-file> -ac 2 -codec:a libmp3lame -b:a 48k -ar 16000\n            <output-file.mp3></code>\n         </p>\n      "
      }
    },
    "com.amazonaws.a4b.endpointoperationservice#AudioList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.a4b.endpointoperationservice#Audio"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.a4b.endpointoperationservice#AudioLocation": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1200
        },
        "smithy.api#pattern": "https://([A-Za-z0-9_.-]+)?(s3-[A-Za-z0-9-]+|s3\\.([A-Za-z0-9-])+|s3|s3.dualstack\\.([A-Za-z0-9-])+)+.amazonaws.com/.*"
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#AuthorizationResult": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#Key"
      },
      "value": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#Value"
      },
      "traits": {
        "smithy.api#sensitive": true
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#Boolean2": {
      "type": "boolean"
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#BulletPoint": {
      "type": "string"
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#BulletPoints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#BulletPoint"
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReport": {
      "type": "structure",
      "members": {
        "DeliveryTime": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportDeliveryTime",
          "traits": {
            "smithy.api#documentation": "\n         <p>The time of report delivery.</p>\n      "
          }
        },
        "DownloadUrl": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportDownloadUrl",
          "traits": {
            "smithy.api#documentation": "\n         <p>The download link where a user can download the report.</p>\n      "
          }
        },
        "FailureCode": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportFailureCode",
          "traits": {
            "smithy.api#documentation": "\n         <p>The failure code.</p>\n      "
          }
        },
        "S3Location": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportS3Location",
          "traits": {
            "smithy.api#documentation": "\n         <p>The S3 location of the output reports.</p>\n      "
          }
        },
        "Status": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportStatus",
          "traits": {
            "smithy.api#documentation": "\n         <p>The status of the report generation execution (RUNNING, SUCCEEDED, or\n         FAILED).</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Usage report with specified parameters.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportContentRange": {
      "type": "structure",
      "members": {
        "Interval": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportInterval",
          "traits": {
            "smithy.api#documentation": "\n         <p>The interval of the content range.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The content range of the report.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportDeliveryTime": {
      "type": "timestamp"
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportDownloadUrl": {
      "type": "string"
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportFailureCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ACCESS_DENIED": {
            "name": "ACCESS_DENIED"
          },
          "NO_SUCH_BUCKET": {
            "name": "NO_SUCH_BUCKET"
          },
          "INTERNAL_FAILURE": {
            "name": "INTERNAL_FAILURE"
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CSV": {
            "name": "CSV"
          },
          "CSV_ZIP": {
            "name": "CSV_ZIP"
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportInterval": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ONE_DAY": {
            "name": "ONE_DAY"
          },
          "ONE_WEEK": {
            "name": "ONE_WEEK"
          },
          "THIRTY_DAYS": {
            "name": "THIRTY_DAYS"
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportRecurrence": {
      "type": "structure",
      "members": {
        "StartDate": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#Date",
          "traits": {
            "smithy.api#documentation": "\n         <p>The start date.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The recurrence of the reports.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportS3Location": {
      "type": "structure",
      "members": {
        "BucketName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CustomerS3BucketName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The S3 bucket name of the output reports.</p>\n      "
          }
        },
        "Path": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportS3Path",
          "traits": {
            "smithy.api#documentation": "\n         <p>The path of the business report.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The S3 location of the output reports.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportS3Path": {
      "type": "string"
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportSchedule": {
      "type": "structure",
      "members": {
        "ContentRange": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportContentRange",
          "traits": {
            "smithy.api#documentation": "\n         <p>The content range of the reports.</p>\n      "
          }
        },
        "Format": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportFormat",
          "traits": {
            "smithy.api#documentation": "\n         <p>The format of the generated report (individual CSV files or zipped files of\n         individual files).</p>\n      "
          }
        },
        "LastBusinessReport": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReport",
          "traits": {
            "smithy.api#documentation": "\n         <p>The details of the last business report delivery for a specified time\n         interval.</p>\n      "
          }
        },
        "Recurrence": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportRecurrence",
          "traits": {
            "smithy.api#documentation": "\n         <p>The recurrence of the reports.</p>\n      "
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CustomerS3BucketName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The S3 bucket name of the output reports.</p>\n      "
          }
        },
        "S3KeyPrefix": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#S3KeyPrefix",
          "traits": {
            "smithy.api#documentation": "\n         <p>The S3 key where the report is delivered.</p>\n      "
          }
        },
        "ScheduleArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the business report schedule.</p>\n      "
          }
        },
        "ScheduleName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportScheduleName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name identifier of the schedule.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The schedule of the usage report.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportScheduleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportSchedule"
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportScheduleName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        },
        "smithy.api#pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "RUNNING": {
            "name": "RUNNING"
          },
          "SUCCEEDED": {
            "name": "SUCCEEDED"
          },
          "FAILED": {
            "name": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#Category": {
      "type": "structure",
      "members": {
        "CategoryId": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CategoryId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the skill store category.</p>\n      "
          }
        },
        "CategoryName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CategoryName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the skill store category.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The skill store category that is shown. Alexa skills are assigned a specific skill\n         category during creation, such as News, Social, and Sports.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CategoryId": {
      "type": "long",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CategoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#Category"
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CategoryName": {
      "type": "string"
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CertificateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#ClientId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\S+{1,256}$"
      }
    },
    "com.amazonaws.a4b.api#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "\n         <p>A unique, user-specified identifier for the request that ensures idempotency.</p>\n      ",
        "smithy.api#length": {
          "min": 10,
          "max": 150
        },
        "smithy.api#pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
      }
    },
    "com.amazonaws.a4b.conferencing#CommsProtocol": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "SIP": {
            "name": "SIP"
          },
          "SIPS": {
            "name": "SIPS"
          },
          "H323": {
            "name": "H323"
          }
        }
      }
    },
    "com.amazonaws.a4b.api#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.a4b.api#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>There is a concurrent modification of resources.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#ConferencePreference": {
      "type": "structure",
      "members": {
        "DefaultConferenceProviderArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the default conference provider.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The default conference provider that is used if no other scheduled meetings are\n         detected.</p>\n      "
      }
    },
    "com.amazonaws.a4b.conferencing#ConferenceProvider": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ARN of the newly created conference provider.</p>\n      "
          }
        },
        "IPDialIn": {
          "target": "com.amazonaws.a4b.conferencing#IPDialIn",
          "traits": {
            "smithy.api#documentation": "\n        <p>The IP endpoint and protocol for calling.</p>\n      "
          }
        },
        "MeetingSetting": {
          "target": "com.amazonaws.a4b.conferencing#MeetingSetting",
          "traits": {
            "smithy.api#documentation": "\n        <p>The meeting settings for the conference provider.</p>\n      "
          }
        },
        "Name": {
          "target": "com.amazonaws.a4b.conferencing#ConferenceProviderName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the conference provider.</p>\n      "
          }
        },
        "PSTNDialIn": {
          "target": "com.amazonaws.a4b.conferencing#PSTNDialIn",
          "traits": {
            "smithy.api#documentation": "\n        <p>The information for PSTN conferencing.</p>\n      "
          }
        },
        "Type": {
          "target": "com.amazonaws.a4b.conferencing#ConferenceProviderType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The type of conference providers.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>An entity that provides a conferencing solution. Alexa for Business acts as the voice interface and mediator that connects users to their preferred conference provider. Examples of conference providers include Amazon Chime, Zoom, Cisco, and Polycom. </p>\n      "
      }
    },
    "com.amazonaws.a4b.conferencing#ConferenceProviderName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
      }
    },
    "com.amazonaws.a4b.conferencing#ConferenceProviderType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CHIME": {
            "name": "CHIME"
          },
          "BLUEJEANS": {
            "name": "BLUEJEANS"
          },
          "FUZE": {
            "name": "FUZE"
          },
          "GOOGLE_HANGOUTS": {
            "name": "GOOGLE_HANGOUTS"
          },
          "POLYCOM": {
            "name": "POLYCOM"
          },
          "RINGCENTRAL": {
            "name": "RINGCENTRAL"
          },
          "SKYPE_FOR_BUSINESS": {
            "name": "SKYPE_FOR_BUSINESS"
          },
          "WEBEX": {
            "name": "WEBEX"
          },
          "ZOOM": {
            "name": "ZOOM"
          },
          "CUSTOM": {
            "name": "CUSTOM"
          }
        }
      }
    },
    "com.amazonaws.a4b.conferencing#ConferenceProvidersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.a4b.conferencing#ConferenceProvider"
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#ConnectionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ONLINE": {
            "name": "ONLINE"
          },
          "OFFLINE": {
            "name": "OFFLINE"
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#Contact": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the contact.</p>\n      "
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ContactName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the contact to display on the console.</p>\n      "
          }
        },
        "FirstName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ContactName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The first name of the contact, used to call the contact on the device.</p>\n      "
          }
        },
        "LastName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ContactName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The last name of the contact, used to call the contact on the device.</p>\n      "
          }
        },
        "PhoneNumber": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#RawPhoneNumber",
          "traits": {
            "smithy.api#documentation": "\n         <p>The phone number of the contact. The phone number type defaults to WORK. You can\n         either specify PhoneNumber or PhoneNumbers. We recommend that you use PhoneNumbers, which\n         lets you specify the phone number type and multiple numbers.</p>\n      "
          }
        },
        "PhoneNumbers": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#PhoneNumberList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The list of phone numbers for the contact.</p>\n      "
          }
        },
        "SipAddresses": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#SipAddressList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The list of SIP addresses for the contact.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>A contact with attributes.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#ContactData": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the contact.</p>\n      "
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ContactName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the contact to display on the console.</p>\n      "
          }
        },
        "FirstName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ContactName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The first name of the contact, used to call the contact on the device.</p>\n      "
          }
        },
        "LastName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ContactName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The last name of the contact, used to call the contact on the device.</p>\n      "
          }
        },
        "PhoneNumber": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#RawPhoneNumber",
          "traits": {
            "smithy.api#documentation": "\n         <p>The phone number of the contact. The phone number type defaults to WORK. You can\n         specify PhoneNumber or PhoneNumbers. We recommend that you use PhoneNumbers, which lets you\n         specify the phone number type and multiple numbers.</p>\n      "
          }
        },
        "PhoneNumbers": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#PhoneNumberList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The list of phone numbers for the contact.</p>\n      "
          }
        },
        "SipAddresses": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#SipAddressList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The list of SIP addresses for the contact.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Information related to a contact.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#ContactDataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#ContactData"
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#ContactName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
      }
    },
    "com.amazonaws.a4b.endpointoperationservice#Content": {
      "type": "structure",
      "members": {
        "AudioList": {
          "target": "com.amazonaws.a4b.endpointoperationservice#AudioList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The list of audio messages.</p>\n      "
          }
        },
        "SsmlList": {
          "target": "com.amazonaws.a4b.endpointoperationservice#SsmlList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The list of SSML messages.</p>\n      "
          }
        },
        "TextList": {
          "target": "com.amazonaws.a4b.endpointoperationservice#TextList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The list of text messages.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>The content definition. This can contain only one text, SSML, or audio list\n         object.</p>\n      "
      }
    },
    "com.amazonaws.a4b.conferencing#CountryCode": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "\\d{1,3}"
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateAddressBook": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateAddressBookRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateAddressBookResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.a4b.api#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates an address book with the specified details.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateAddressBookRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.a4b.api#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>A unique, user-specified identifier for the request that ensures\n         idempotency.</p>\n      ",
            "smithy.api#idempotencyToken": true
          }
        },
        "Description": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#AddressBookDescription",
          "traits": {
            "smithy.api#documentation": "\n         <p>The description of the address book.</p>\n      "
          }
        },
        "Name": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#AddressBookName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the address book.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateAddressBookResponse": {
      "type": "structure",
      "members": {
        "AddressBookArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the newly created address book.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateBusinessReportSchedule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateBusinessReportScheduleRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateBusinessReportScheduleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#AlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates a recurring schedule for usage reports to deliver to the specified S3\n         location with a specified daily or weekly interval.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateBusinessReportScheduleRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.a4b.api#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>The client request token.</p>\n      ",
            "smithy.api#idempotencyToken": true
          }
        },
        "ContentRange": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportContentRange",
          "traits": {
            "smithy.api#documentation": "\n         <p>The content range of the reports.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Format": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportFormat",
          "traits": {
            "smithy.api#documentation": "\n         <p>The format of the generated report (individual CSV files or zipped files of\n         individual files).</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Recurrence": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportRecurrence",
          "traits": {
            "smithy.api#documentation": "\n         <p>The recurrence of the reports. If this isn't specified, the report will only be\n         delivered one time when the API is called. </p>\n      "
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CustomerS3BucketName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The S3 bucket name of the output reports. If this isn't specified, the report can be\n         retrieved from a download link by calling ListBusinessReportSchedule. </p>\n      "
          }
        },
        "S3KeyPrefix": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#S3KeyPrefix",
          "traits": {
            "smithy.api#documentation": "\n         <p>The S3 key where the report is delivered.</p>\n      "
          }
        },
        "ScheduleName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#BusinessReportScheduleName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name identifier of the schedule.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateBusinessReportScheduleResponse": {
      "type": "structure",
      "members": {
        "ScheduleArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the business report schedule.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateConferenceProvider": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateConferenceProviderRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateConferenceProviderResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#AlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Adds a new conference provider under the user's AWS account.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateConferenceProviderRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.a4b.api#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>The request token of the client.</p>\n      ",
            "smithy.api#idempotencyToken": true
          }
        },
        "ConferenceProviderName": {
          "target": "com.amazonaws.a4b.conferencing#ConferenceProviderName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the conference provider.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "ConferenceProviderType": {
          "target": "com.amazonaws.a4b.conferencing#ConferenceProviderType",
          "traits": {
            "smithy.api#documentation": "\n         <p>Represents a type within a list of predefined types.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "IPDialIn": {
          "target": "com.amazonaws.a4b.conferencing#IPDialIn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The IP endpoint and protocol for calling.</p>\n      "
          }
        },
        "MeetingSetting": {
          "target": "com.amazonaws.a4b.conferencing#MeetingSetting",
          "traits": {
            "smithy.api#documentation": "\n         <p>The meeting settings for the conference provider.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "PSTNDialIn": {
          "target": "com.amazonaws.a4b.conferencing#PSTNDialIn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The information for PSTN conferencing.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateConferenceProviderResponse": {
      "type": "structure",
      "members": {
        "ConferenceProviderArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the newly-created conference provider.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateContactRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateContactResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.a4b.api#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates a contact with the specified details.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateContactRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.a4b.api#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>A unique, user-specified identifier for this request that ensures\n         idempotency.</p>\n      ",
            "smithy.api#idempotencyToken": true
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ContactName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the contact to display on the console.</p>\n      "
          }
        },
        "FirstName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ContactName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The first name of the contact that is used to call the contact on the\n         device.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "LastName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ContactName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The last name of the contact that is used to call the contact on the\n         device.</p>\n      "
          }
        },
        "PhoneNumber": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#RawPhoneNumber",
          "traits": {
            "smithy.api#documentation": "\n         <p>The phone number of the contact in E.164 format. The phone number type defaults to\n         WORK. You can specify PhoneNumber or PhoneNumbers. We recommend that you use PhoneNumbers,\n         which lets you specify the phone number type and multiple numbers.</p>\n      "
          }
        },
        "PhoneNumbers": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#PhoneNumberList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The list of phone numbers for the contact.</p>\n      "
          }
        },
        "SipAddresses": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#SipAddressList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The list of SIP addresses for the contact.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateContactResponse": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the newly created address book.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateEndOfMeetingReminder": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>Whether an end of meeting reminder is enabled or not.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "ReminderAtMinutes": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#EndOfMeetingReminderMinutesList",
          "traits": {
            "smithy.api#documentation": "\n         <p> A range of 3 to 15 minutes that determines when the reminder begins.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "ReminderType": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#EndOfMeetingReminderType",
          "traits": {
            "smithy.api#documentation": "\n         <p>The type of sound that users hear during the end of meeting reminder. </p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates settings for the end of meeting reminder feature that are applied to a room\n         profile. The end of meeting reminder enables Alexa to remind users when a meeting is\n         ending.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateGatewayGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateGatewayGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateGatewayGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.a4b.api#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates a gateway group with the specified details.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateGatewayGroupRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.a4b.api#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "\n         <p> A unique, user-specified identifier for the request that ensures idempotency.</p>\n      ",
            "smithy.api#idempotencyToken": true,
            "smithy.api#required": true
          }
        },
        "Description": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#GatewayGroupDescription",
          "traits": {
            "smithy.api#documentation": "\n         <p>The description of the gateway group.</p>\n      "
          }
        },
        "Name": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#GatewayGroupName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the gateway group.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateGatewayGroupResponse": {
      "type": "structure",
      "members": {
        "GatewayGroupArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the created gateway group.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateInstantBooking": {
      "type": "structure",
      "members": {
        "DurationInMinutes": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#Minutes",
          "traits": {
            "smithy.api#documentation": "\n         <p>Duration between 15 and 240 minutes at increments of 15 that determines how long to book\n         an available room when a meeting is started with Alexa.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Enabled": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>Whether instant booking is enabled or not.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates settings for the instant booking feature that are applied to a room profile.\n         When users start their meeting with Alexa, Alexa automatically books the room for the\n         configured duration if the room is available.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateMeetingRoomConfiguration": {
      "type": "structure",
      "members": {
        "EndOfMeetingReminder": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateEndOfMeetingReminder"
        },
        "InstantBooking": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateInstantBooking",
          "traits": {
            "smithy.api#documentation": "\n         <p>Settings to automatically book a room for a configured duration if it's free when joining a meeting with Alexa.</p>\n      "
          }
        },
        "RequireCheckIn": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateRequireCheckIn",
          "traits": {
            "smithy.api#documentation": "\n         <p>Settings for requiring a check in when a room is reserved. Alexa can cancel a room reservation if it's not checked into to make the room available for others. Users can check in by joining the meeting with Alexa or an AVS device, or by saying “Alexa, check in.”</p>\n      "
          }
        },
        "RoomUtilizationMetricsEnabled": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>Whether room utilization metrics are enabled or not.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates meeting room settings of a room profile.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateNetworkProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateNetworkProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateNetworkProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.a4b.api#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.a4b.api#LimitExceededException"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#InvalidCertificateAuthorityException"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#InvalidServiceLinkedRoleStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates a network profile with the specified details.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateNetworkProfileRequest": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the Private Certificate Authority (PCA) created in AWS Certificate Manager\n         (ACM). This is used to issue certificates to the devices. </p>\n      "
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.a4b.api#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": true,
            "smithy.api#required": true
          }
        },
        "CurrentPassword": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CurrentWiFiPassword",
          "traits": {
            "smithy.api#documentation": "\n         <p>The current password of the Wi-Fi network.</p>\n      "
          }
        },
        "Description": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#NetworkProfileDescription",
          "traits": {
            "smithy.api#documentation": "\n         <p>Detailed information about a device's network profile.</p>\n      "
          }
        },
        "EapMethod": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#NetworkEapMethod",
          "traits": {
            "smithy.api#documentation": "\n         <p>The authentication standard that is used in the EAP framework. Currently, EAP_TLS is\n         supported.</p>\n      "
          }
        },
        "NetworkProfileName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#NetworkProfileName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the network profile associated with a device.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "NextPassword": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#NextWiFiPassword",
          "traits": {
            "smithy.api#documentation": "\n         <p>The next, or subsequent, password of the Wi-Fi network. This password is asynchronously\n         transmitted to the device and is used when the password of the network changes to\n         NextPassword. </p>\n      "
          }
        },
        "SecurityType": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#NetworkSecurityType",
          "traits": {
            "smithy.api#documentation": "\n         <p>The security type of the Wi-Fi network. This can be WPA2_ENTERPRISE, WPA2_PSK, WPA_PSK,\n         WEP, or OPEN.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Ssid": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#NetworkSsid",
          "traits": {
            "smithy.api#documentation": "\n         <p>The SSID of the Wi-Fi network.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "TrustAnchors": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#TrustAnchorList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The root certificates of your authentication server that is installed on your devices\n         and used to trust your authentication server during EAP negotiation. </p>\n      "
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateNetworkProfileResponse": {
      "type": "structure",
      "members": {
        "NetworkProfileArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the network profile associated with a device.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.a4b.api#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.a4b.api#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates a new room profile with the specified details.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateProfileRequest": {
      "type": "structure",
      "members": {
        "Address": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#Address",
          "traits": {
            "smithy.api#documentation": "\n         <p>The valid address for the room.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.a4b.api#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>The user-specified token that is used during the creation of a profile.</p>\n      ",
            "smithy.api#idempotencyToken": true
          }
        },
        "DistanceUnit": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DistanceUnit",
          "traits": {
            "smithy.api#documentation": "\n         <p>The distance unit to be used by devices in the profile.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Locale": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeviceLocale",
          "traits": {
            "smithy.api#documentation": "\n         <p>The locale of the room profile. (This is currently only available to a limited preview audience.)</p>     \n      "
          }
        },
        "MaxVolumeLimit": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#MaxVolumeLimit",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum volume limit for a room profile.</p>\n      "
          }
        },
        "MeetingRoomConfiguration": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateMeetingRoomConfiguration",
          "traits": {
            "smithy.api#documentation": "\n         <p>The meeting room settings of a room profile.</p>\n      "
          }
        },
        "PSTNEnabled": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>Whether PSTN calling is enabled.</p>\n      "
          }
        },
        "ProfileName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ProfileName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of a room profile.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "SetupModeDisabled": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>Whether room profile setup is enabled.</p>\n      "
          }
        },
        "TemperatureUnit": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#TemperatureUnit",
          "traits": {
            "smithy.api#documentation": "\n         <p>The temperature unit to be used by devices in the profile.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Timezone": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#Timezone",
          "traits": {
            "smithy.api#documentation": "\n         <p>The time zone used by a room profile.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "WakeWord": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#WakeWord",
          "traits": {
            "smithy.api#documentation": "\n         <p>A wake word for Alexa, Echo, Amazon, or a computer.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateProfileResponse": {
      "type": "structure",
      "members": {
        "ProfileArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the newly created room profile in the response.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateRequireCheckIn": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#Boolean",
          "traits": {
            "smithy.api#documentation": "\n         <p>Whether require check in is enabled or not.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "ReleaseAfterMinutes": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#Minutes",
          "traits": {
            "smithy.api#documentation": "\n         <p>Duration between 5 and 20 minutes to determine when to release the room if it's not checked into.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates settings for the require check in feature that are applied to a room profile. Require check in allows a meeting room’s Alexa or AVS device to prompt the user to check in; otherwise, the room will be released.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateRoom": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateRoomRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateRoomResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.a4b.api#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates a room with the specified details.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateRoomRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.a4b.api#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>A unique, user-specified identifier for this request that ensures idempotency.\n      </p>\n      ",
            "smithy.api#idempotencyToken": true
          }
        },
        "Description": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#RoomDescription",
          "traits": {
            "smithy.api#documentation": "\n         <p>The description for the room.</p>\n      "
          }
        },
        "ProfileArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The profile ARN for the room.</p>\n      "
          }
        },
        "ProviderCalendarId": {
          "target": "com.amazonaws.a4b.conferencing#ProviderCalendarId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The calendar ARN for the room.</p>\n      "
          }
        },
        "RoomName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#RoomName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name for the room.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#TagList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The tags for the room.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateRoomResponse": {
      "type": "structure",
      "members": {
        "RoomArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the newly created room in the response.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateSkillGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateSkillGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateSkillGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.a4b.api#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.a4b.api#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates a skill group with a specified name and description.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateSkillGroupRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.a4b.api#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>A unique, user-specified identifier for this request that ensures idempotency.\n      </p>\n      ",
            "smithy.api#idempotencyToken": true
          }
        },
        "Description": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#SkillGroupDescription",
          "traits": {
            "smithy.api#documentation": "\n         <p>The description for the skill group.</p>\n      "
          }
        },
        "SkillGroupName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#SkillGroupName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name for the skill group.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateSkillGroupResponse": {
      "type": "structure",
      "members": {
        "SkillGroupArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the newly created skill group in the response.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.a4b.api#LimitExceededException"
        },
        {
          "target": "com.amazonaws.a4b.api#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates a user.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateUserRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.a4b.api#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>A unique, user-specified identifier for this request that ensures idempotency.\n      </p>\n      ",
            "smithy.api#idempotencyToken": true
          }
        },
        "Email": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#Email",
          "traits": {
            "smithy.api#documentation": "\n         <p>The email address for the user.</p>\n      "
          }
        },
        "FirstName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#user_FirstName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The first name for the user.</p>\n      "
          }
        },
        "LastName": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#user_LastName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The last name for the user.</p>\n      "
          }
        },
        "Tags": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#TagList",
          "traits": {
            "smithy.api#documentation": "\n         <p>The tags for the user.</p>\n      "
          }
        },
        "UserId": {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#user_UserId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN for the user.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CreateUserResponse": {
      "type": "structure",
      "members": {
        "UserArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the newly created user in the response.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CurrentWiFiPassword": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 128
        },
        "smithy.api#pattern": "[\\x00-\\x7F]*",
        "smithy.api#sensitive": true
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#CustomerS3BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-z0-9-\\.]{3,63}"
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#Date": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{4}\\-(0?[1-9]|1[012])\\-(0?[1-9]|[12][0-9]|3[01])$"
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteAddressBook": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteAddressBookRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteAddressBookResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.a4b.api#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Deletes an address book by the address book ARN.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteAddressBookRequest": {
      "type": "structure",
      "members": {
        "AddressBookArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the address book to delete.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteAddressBookResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteBusinessReportSchedule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteBusinessReportScheduleRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteBusinessReportScheduleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.a4b.api#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Deletes the recurring report delivery schedule with the specified schedule\n         ARN.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteBusinessReportScheduleRequest": {
      "type": "structure",
      "members": {
        "ScheduleArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the business report schedule.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteBusinessReportScheduleResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteConferenceProvider": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteConferenceProviderRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteConferenceProviderResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Deletes a conference provider.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteConferenceProviderRequest": {
      "type": "structure",
      "members": {
        "ConferenceProviderArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the conference provider.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteConferenceProviderResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteContactRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteContactResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.a4b.api#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Deletes a contact by the contact ARN.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteContactRequest": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the contact to delete.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteContactResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.a4b.api#NotFoundException"
        },
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#InvalidCertificateAuthorityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Removes a device from Alexa For Business.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteDeviceRequest": {
      "type": "structure",
      "members": {
        "DeviceArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the device for which to request details.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteDeviceResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.a4bendpointmanagement#DeleteDeviceUsageData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.a4bendpointmanagement#DeleteDeviceUsageDataRequest"
      },
      "output": {
        "target": "com.amazonaws.a4bendpointmanagement#DeleteDeviceUsageDataResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#DeviceNotRegisteredException"
        },
        {
          "target": "com.amazonaws.a4b.api#LimitExceededException"
        },
        {
          "target": "com.amazonaws.a4b.api#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>When this action is called for a specified shared device, it allows authorized users to\n         delete the device's entire previous history of voice input data and associated response\n         data. This action can be called once every 24 hours for a specific shared device.</p>\n      "
      }
    },
    "com.amazonaws.a4bendpointmanagement#DeleteDeviceUsageDataRequest": {
      "type": "structure",
      "members": {
        "DeviceArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the device.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "DeviceUsageType": {
          "target": "com.amazonaws.a4bendpointmanagement#DeviceUsageType",
          "traits": {
            "smithy.api#documentation": "\n         <p>The type of usage data to delete.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.a4bendpointmanagement#DeleteDeviceUsageDataResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteGatewayGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteGatewayGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteGatewayGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.awsmoneypennyresourcemanagement#ResourceAssociatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Deletes a gateway group.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteGatewayGroupRequest": {
      "type": "structure",
      "members": {
        "GatewayGroupArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the gateway group to delete.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteGatewayGroupResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteNetworkProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteNetworkProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.awsmoneypennyresourcemanagement#DeleteNetworkProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.a4b.api#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.a4b.api#NotFoundException"
        },
        {
          "target": "com.amazonaws.a4b.api#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Deletes a network profile by the network profile ARN.</p>\n      "
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteNetworkProfileRequest": {
      "type": "structure",
      "members": {
        "NetworkProfileArn": {
          "target": "com.amazonaws.a4b.api#Arn",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ARN of the network profile associated with a device.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteNetworkProfileResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.awsmoneypennyresourcemanagement#DeleteProfile": {
[...]
