{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.alexaforbusiness#Address": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.alexaforbusiness#AddressBook": {
      "type": "structure",
      "members": {
        "AddressBookArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the address book.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.alexaforbusiness#AddressBookName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the address book.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.alexaforbusiness#AddressBookDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the address book.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An address book with attributes.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#AddressBookData": {
      "type": "structure",
      "members": {
        "AddressBookArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the address book.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.alexaforbusiness#AddressBookName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the address book.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.alexaforbusiness#AddressBookDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the address book.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information related to an address book.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#AddressBookDataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.alexaforbusiness#AddressBookData"
      }
    },
    "com.amazonaws.alexaforbusiness#AddressBookDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
      }
    },
    "com.amazonaws.alexaforbusiness#AddressBookName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
      }
    },
    "com.amazonaws.alexaforbusiness#AlexaForBusiness": {
      "type": "service",
      "version": "2017-11-09",
      "operations": [
        {
          "target": "com.amazonaws.alexaforbusiness#ApproveSkill"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#AssociateContactWithAddressBook"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#AssociateDeviceWithNetworkProfile"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#AssociateDeviceWithRoom"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#AssociateSkillGroupWithRoom"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#AssociateSkillWithSkillGroup"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#AssociateSkillWithUsers"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#CreateAddressBook"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#CreateBusinessReportSchedule"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#CreateConferenceProvider"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#CreateContact"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#CreateGatewayGroup"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#CreateNetworkProfile"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#CreateProfile"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#CreateRoom"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#CreateSkillGroup"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#CreateUser"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DeleteAddressBook"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DeleteBusinessReportSchedule"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DeleteConferenceProvider"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DeleteContact"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DeleteDevice"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DeleteDeviceUsageData"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DeleteGatewayGroup"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DeleteNetworkProfile"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DeleteProfile"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DeleteRoom"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DeleteRoomSkillParameter"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DeleteSkillAuthorization"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DeleteSkillGroup"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DeleteUser"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DisassociateContactFromAddressBook"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DisassociateDeviceFromRoom"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DisassociateSkillFromSkillGroup"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DisassociateSkillFromUsers"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DisassociateSkillGroupFromRoom"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#ForgetSmartHomeAppliances"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#GetAddressBook"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#GetConferencePreference"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#GetConferenceProvider"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#GetContact"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#GetDevice"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#GetGateway"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#GetGatewayGroup"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#GetInvitationConfiguration"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#GetNetworkProfile"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#GetProfile"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#GetRoom"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#GetRoomSkillParameter"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#GetSkillGroup"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#ListBusinessReportSchedules"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#ListConferenceProviders"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#ListDeviceEvents"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#ListGatewayGroups"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#ListGateways"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#ListSkills"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#ListSkillsStoreCategories"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#ListSkillsStoreSkillsByCategory"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#ListSmartHomeAppliances"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#ListTags"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#PutConferencePreference"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#PutInvitationConfiguration"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#PutRoomSkillParameter"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#PutSkillAuthorization"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#RegisterAVSDevice"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#RejectSkill"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#ResolveRoom"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#RevokeInvitation"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#SearchAddressBooks"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#SearchContacts"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#SearchDevices"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#SearchNetworkProfiles"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#SearchProfiles"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#SearchRooms"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#SearchSkillGroups"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#SearchUsers"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#SendAnnouncement"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#SendInvitation"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#StartDeviceSync"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#StartSmartHomeApplianceDiscovery"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#TagResource"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#UntagResource"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#UpdateAddressBook"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#UpdateBusinessReportSchedule"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#UpdateConferenceProvider"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#UpdateContact"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#UpdateDevice"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#UpdateGateway"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#UpdateGatewayGroup"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#UpdateNetworkProfile"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#UpdateProfile"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#UpdateRoom"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#UpdateSkillGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Alexa For Business",
          "arnNamespace": "a4b",
          "cloudFormationName": "AlexaForBusiness",
          "cloudTrailEventSource": "alexaforbusiness.amazonaws.com",
          "endpointPrefix": "a4b"
        },
        "aws.auth#sigv4": {
          "name": "a4b"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Alexa for Business helps you use Alexa in your organization. Alexa for Business provides you with the tools\n         to manage Alexa devices, enroll your users, and assign skills, at scale. You can build your\n         own context-aware voice skills using the Alexa Skills Kit and the Alexa for Business API operations.\n         You can also make these available as private skills for your organization. Alexa for Business makes it\n         efficient to voice-enable your products and services, thus providing context-aware voice\n         experiences for your customers. Device makers building with the Alexa Voice Service (AVS)\n         can create fully integrated solutions, register their products with Alexa for Business, and manage them\n         as shared devices in their organization. </p>",
        "smithy.api#title": "Alexa For Business",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://a4b-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://a4b-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://a4b.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://a4b.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://a4b-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://a4b-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://a4b.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://a4b.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.alexaforbusiness#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.alexaforbusiness#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource being created already exists.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.alexaforbusiness#AmazonId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-zA-Z0-9]{1,18}"
      }
    },
    "com.amazonaws.alexaforbusiness#ApplianceDescription": {
      "type": "string"
    },
    "com.amazonaws.alexaforbusiness#ApplianceFriendlyName": {
      "type": "string"
    },
    "com.amazonaws.alexaforbusiness#ApplianceManufacturerName": {
      "type": "string"
    },
    "com.amazonaws.alexaforbusiness#ApproveSkill": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.alexaforbusiness#ApproveSkillRequest"
      },
      "output": {
        "target": "com.amazonaws.alexaforbusiness#ApproveSkillResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.alexaforbusiness#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#LimitExceededException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a skill with the organization under the customer's AWS account. If a skill\n         is private, the user implicitly accepts access to this skill during enablement.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#ApproveSkillRequest": {
      "type": "structure",
      "members": {
        "SkillId": {
          "target": "com.amazonaws.alexaforbusiness#SkillId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the skill.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#ApproveSkillResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.alexaforbusiness#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}"
      }
    },
    "com.amazonaws.alexaforbusiness#AssociateContactWithAddressBook": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.alexaforbusiness#AssociateContactWithAddressBookRequest"
      },
      "output": {
        "target": "com.amazonaws.alexaforbusiness#AssociateContactWithAddressBookResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.alexaforbusiness#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a contact with a given address book.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#AssociateContactWithAddressBookRequest": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the contact to associate with an address book.</p>",
            "smithy.api#required": {}
          }
        },
        "AddressBookArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the address book with which to associate the contact.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#AssociateContactWithAddressBookResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.alexaforbusiness#AssociateDeviceWithNetworkProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.alexaforbusiness#AssociateDeviceWithNetworkProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.alexaforbusiness#AssociateDeviceWithNetworkProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.alexaforbusiness#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DeviceNotRegisteredException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a device with the specified network profile.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#AssociateDeviceWithNetworkProfileRequest": {
      "type": "structure",
      "members": {
        "DeviceArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The device ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "NetworkProfileArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the network profile to associate with a device.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#AssociateDeviceWithNetworkProfileResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.alexaforbusiness#AssociateDeviceWithRoom": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.alexaforbusiness#AssociateDeviceWithRoomRequest"
      },
      "output": {
        "target": "com.amazonaws.alexaforbusiness#AssociateDeviceWithRoomResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.alexaforbusiness#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#DeviceNotRegisteredException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a device with a given room. This applies all the settings from the room\n         profile to the device, and all the skills in any skill groups added to that room. This\n         operation requires the device to be online, or else a manual sync is required. </p>"
      }
    },
    "com.amazonaws.alexaforbusiness#AssociateDeviceWithRoomRequest": {
      "type": "structure",
      "members": {
        "DeviceArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the device to associate to a room. Required.</p>"
          }
        },
        "RoomArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the room with which to associate the device. Required.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#AssociateDeviceWithRoomResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.alexaforbusiness#AssociateSkillGroupWithRoom": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.alexaforbusiness#AssociateSkillGroupWithRoomRequest"
      },
      "output": {
        "target": "com.amazonaws.alexaforbusiness#AssociateSkillGroupWithRoomResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.alexaforbusiness#ConcurrentModificationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a skill group with a given room. This enables all skills in the associated\n         skill group on all devices in the room.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#AssociateSkillGroupWithRoomRequest": {
      "type": "structure",
      "members": {
        "SkillGroupArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the skill group to associate with a room. Required.</p>"
          }
        },
        "RoomArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the room with which to associate the skill group. Required.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#AssociateSkillGroupWithRoomResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.alexaforbusiness#AssociateSkillWithSkillGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.alexaforbusiness#AssociateSkillWithSkillGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.alexaforbusiness#AssociateSkillWithSkillGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.alexaforbusiness#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#NotFoundException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#SkillNotLinkedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a skill with a skill group.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#AssociateSkillWithSkillGroupRequest": {
      "type": "structure",
      "members": {
        "SkillGroupArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the skill group to associate the skill to. Required.</p>"
          }
        },
        "SkillId": {
          "target": "com.amazonaws.alexaforbusiness#SkillId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the skill.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#AssociateSkillWithSkillGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.alexaforbusiness#AssociateSkillWithUsers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.alexaforbusiness#AssociateSkillWithUsersRequest"
      },
      "output": {
        "target": "com.amazonaws.alexaforbusiness#AssociateSkillWithUsersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.alexaforbusiness#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Makes a private skill available for enrolled users to enable on their devices.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#AssociateSkillWithUsersRequest": {
      "type": "structure",
      "members": {
        "SkillId": {
          "target": "com.amazonaws.alexaforbusiness#SkillId",
          "traits": {
            "smithy.api#documentation": "<p>The private skill ID you want to make available to enrolled users.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#AssociateSkillWithUsersResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.alexaforbusiness#Audio": {
      "type": "structure",
      "members": {
        "Locale": {
          "target": "com.amazonaws.alexaforbusiness#Locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale of the audio message. Currently, en-US is supported.</p>",
            "smithy.api#required": {}
          }
        },
        "Location": {
          "target": "com.amazonaws.alexaforbusiness#AudioLocation",
          "traits": {
            "smithy.api#documentation": "<p>The location of the audio file. Currently, S3 URLs are supported. Only S3 locations\n         comprised of safe characters are valid. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#Safe%20Characters\">Safe Characters</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The audio message. There is a 1 MB limit on the audio file input and the only supported\n         format is MP3. To convert your MP3 audio files to an Alexa-friendly,  </p>\n         <p>required codec version (MPEG version 2) and bit rate (48 kbps), you might use converter\n         software. One option for this is a command-line tool, FFmpeg. For more information, see\n            <a href=\"https://www.ffmpeg.org/\">FFmpeg</a>. The following command converts the\n         provided <input-file> to an MP3 file that is played in the announcement:</p>\n         <p>\n            <code>ffmpeg -i <input-file> -ac 2 -codec:a libmp3lame -b:a 48k -ar 16000\n            <output-file.mp3></code>\n         </p>"
      }
    },
    "com.amazonaws.alexaforbusiness#AudioList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.alexaforbusiness#Audio"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.alexaforbusiness#AudioLocation": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1200
        },
        "smithy.api#pattern": "https://([A-Za-z0-9_.-]+)?(s3-[A-Za-z0-9-]+|s3\\.([A-Za-z0-9-])+|s3|s3.dualstack\\.([A-Za-z0-9-])+)+.amazonaws.com/.*"
      }
    },
    "com.amazonaws.alexaforbusiness#AuthorizationResult": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.alexaforbusiness#Key"
      },
      "value": {
        "target": "com.amazonaws.alexaforbusiness#Value"
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.alexaforbusiness#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.alexaforbusiness#Boolean2": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.alexaforbusiness#BulletPoint": {
      "type": "string"
    },
    "com.amazonaws.alexaforbusiness#BulletPoints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.alexaforbusiness#BulletPoint"
      }
    },
    "com.amazonaws.alexaforbusiness#BusinessReport": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.alexaforbusiness#BusinessReportStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the report generation execution (RUNNING, SUCCEEDED, or\n         FAILED).</p>"
          }
        },
        "FailureCode": {
          "target": "com.amazonaws.alexaforbusiness#BusinessReportFailureCode",
          "traits": {
            "smithy.api#documentation": "<p>The failure code.</p>"
          }
        },
        "S3Location": {
          "target": "com.amazonaws.alexaforbusiness#BusinessReportS3Location",
          "traits": {
            "smithy.api#documentation": "<p>The S3 location of the output reports.</p>"
          }
        },
        "DeliveryTime": {
          "target": "com.amazonaws.alexaforbusiness#BusinessReportDeliveryTime",
          "traits": {
            "smithy.api#documentation": "<p>The time of report delivery.</p>"
          }
        },
        "DownloadUrl": {
          "target": "com.amazonaws.alexaforbusiness#BusinessReportDownloadUrl",
          "traits": {
            "smithy.api#documentation": "<p>The download link where a user can download the report.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Usage report with specified parameters.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#BusinessReportContentRange": {
      "type": "structure",
      "members": {
        "Interval": {
          "target": "com.amazonaws.alexaforbusiness#BusinessReportInterval",
          "traits": {
            "smithy.api#documentation": "<p>The interval of the content range.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The content range of the report.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#BusinessReportDeliveryTime": {
      "type": "timestamp"
    },
    "com.amazonaws.alexaforbusiness#BusinessReportDownloadUrl": {
      "type": "string"
    },
    "com.amazonaws.alexaforbusiness#BusinessReportFailureCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACCESS_DENIED",
            "name": "ACCESS_DENIED"
          },
          {
            "value": "NO_SUCH_BUCKET",
            "name": "NO_SUCH_BUCKET"
          },
          {
            "value": "INTERNAL_FAILURE",
            "name": "INTERNAL_FAILURE"
          }
        ]
      }
    },
    "com.amazonaws.alexaforbusiness#BusinessReportFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CSV",
            "name": "CSV"
          },
          {
            "value": "CSV_ZIP",
            "name": "CSV_ZIP"
          }
        ]
      }
    },
    "com.amazonaws.alexaforbusiness#BusinessReportInterval": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ONE_DAY",
            "name": "ONE_DAY"
          },
          {
            "value": "ONE_WEEK",
            "name": "ONE_WEEK"
          },
          {
            "value": "THIRTY_DAYS",
            "name": "THIRTY_DAYS"
          }
        ]
      }
    },
    "com.amazonaws.alexaforbusiness#BusinessReportRecurrence": {
      "type": "structure",
      "members": {
        "StartDate": {
          "target": "com.amazonaws.alexaforbusiness#Date",
          "traits": {
            "smithy.api#documentation": "<p>The start date.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The recurrence of the reports.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#BusinessReportS3Location": {
      "type": "structure",
      "members": {
        "Path": {
          "target": "com.amazonaws.alexaforbusiness#BusinessReportS3Path",
          "traits": {
            "smithy.api#documentation": "<p>The path of the business report.</p>"
          }
        },
        "BucketName": {
          "target": "com.amazonaws.alexaforbusiness#CustomerS3BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket name of the output reports.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The S3 location of the output reports.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#BusinessReportS3Path": {
      "type": "string"
    },
    "com.amazonaws.alexaforbusiness#BusinessReportSchedule": {
      "type": "structure",
      "members": {
        "ScheduleArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the business report schedule.</p>"
          }
        },
        "ScheduleName": {
          "target": "com.amazonaws.alexaforbusiness#BusinessReportScheduleName",
          "traits": {
            "smithy.api#documentation": "<p>The name identifier of the schedule.</p>"
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.alexaforbusiness#CustomerS3BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket name of the output reports.</p>"
          }
        },
        "S3KeyPrefix": {
          "target": "com.amazonaws.alexaforbusiness#S3KeyPrefix",
          "traits": {
            "smithy.api#documentation": "<p>The S3 key where the report is delivered.</p>"
          }
        },
        "Format": {
          "target": "com.amazonaws.alexaforbusiness#BusinessReportFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the generated report (individual CSV files or zipped files of\n         individual files).</p>"
          }
        },
        "ContentRange": {
          "target": "com.amazonaws.alexaforbusiness#BusinessReportContentRange",
          "traits": {
            "smithy.api#documentation": "<p>The content range of the reports.</p>"
          }
        },
        "Recurrence": {
          "target": "com.amazonaws.alexaforbusiness#BusinessReportRecurrence",
          "traits": {
            "smithy.api#documentation": "<p>The recurrence of the reports.</p>"
          }
        },
        "LastBusinessReport": {
          "target": "com.amazonaws.alexaforbusiness#BusinessReport",
          "traits": {
            "smithy.api#documentation": "<p>The details of the last business report delivery for a specified time\n         interval.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The schedule of the usage report.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#BusinessReportScheduleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.alexaforbusiness#BusinessReportSchedule"
      }
    },
    "com.amazonaws.alexaforbusiness#BusinessReportScheduleName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        },
        "smithy.api#pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
      }
    },
    "com.amazonaws.alexaforbusiness#BusinessReportStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.alexaforbusiness#Category": {
      "type": "structure",
      "members": {
        "CategoryId": {
          "target": "com.amazonaws.alexaforbusiness#CategoryId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the skill store category.</p>"
          }
        },
        "CategoryName": {
          "target": "com.amazonaws.alexaforbusiness#CategoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the skill store category.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The skill store category that is shown. Alexa skills are assigned a specific skill\n         category during creation, such as News, Social, and Sports.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#CategoryId": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CategoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.alexaforbusiness#Category"
      }
    },
    "com.amazonaws.alexaforbusiness#CategoryName": {
      "type": "string"
    },
    "com.amazonaws.alexaforbusiness#CertificateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.alexaforbusiness#ClientId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\S+{1,256}$"
      }
    },
    "com.amazonaws.alexaforbusiness#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>A unique, user-specified identifier for the request that ensures idempotency.</p>",
        "smithy.api#length": {
          "min": 10,
          "max": 150
        },
        "smithy.api#pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
      }
    },
    "com.amazonaws.alexaforbusiness#CommsProtocol": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SIP",
            "name": "SIP"
          },
          {
            "value": "SIPS",
            "name": "SIPS"
          },
          {
            "value": "H323",
            "name": "H323"
          }
        ]
      }
    },
    "com.amazonaws.alexaforbusiness#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.alexaforbusiness#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There is a concurrent modification of resources.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.alexaforbusiness#ConferencePreference": {
      "type": "structure",
      "members": {
        "DefaultConferenceProviderArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the default conference provider.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The default conference provider that is used if no other scheduled meetings are\n         detected.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#ConferenceProvider": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the newly created conference provider.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.alexaforbusiness#ConferenceProviderName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the conference provider.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.alexaforbusiness#ConferenceProviderType",
          "traits": {
            "smithy.api#documentation": "<p>The type of conference providers.</p>"
          }
        },
        "IPDialIn": {
          "target": "com.amazonaws.alexaforbusiness#IPDialIn",
          "traits": {
            "smithy.api#documentation": "<p>The IP endpoint and protocol for calling.</p>"
          }
        },
        "PSTNDialIn": {
          "target": "com.amazonaws.alexaforbusiness#PSTNDialIn",
          "traits": {
            "smithy.api#documentation": "<p>The information for PSTN conferencing.</p>"
          }
        },
        "MeetingSetting": {
          "target": "com.amazonaws.alexaforbusiness#MeetingSetting",
          "traits": {
            "smithy.api#documentation": "<p>The meeting settings for the conference provider.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An entity that provides a conferencing solution. Alexa for Business acts as the voice interface and mediator that connects users to their preferred conference provider. Examples of conference providers include Amazon Chime, Zoom, Cisco, and Polycom. </p>"
      }
    },
    "com.amazonaws.alexaforbusiness#ConferenceProviderName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
      }
    },
    "com.amazonaws.alexaforbusiness#ConferenceProviderType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CHIME",
            "name": "CHIME"
          },
          {
            "value": "BLUEJEANS",
            "name": "BLUEJEANS"
          },
          {
            "value": "FUZE",
            "name": "FUZE"
          },
          {
            "value": "GOOGLE_HANGOUTS",
            "name": "GOOGLE_HANGOUTS"
          },
          {
            "value": "POLYCOM",
            "name": "POLYCOM"
          },
          {
            "value": "RINGCENTRAL",
            "name": "RINGCENTRAL"
          },
          {
            "value": "SKYPE_FOR_BUSINESS",
            "name": "SKYPE_FOR_BUSINESS"
          },
          {
            "value": "WEBEX",
            "name": "WEBEX"
          },
          {
            "value": "ZOOM",
            "name": "ZOOM"
          },
          {
            "value": "CUSTOM",
            "name": "CUSTOM"
          }
        ]
      }
    },
    "com.amazonaws.alexaforbusiness#ConferenceProvidersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.alexaforbusiness#ConferenceProvider"
      }
    },
    "com.amazonaws.alexaforbusiness#ConnectionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ONLINE",
            "name": "ONLINE"
          },
          {
            "value": "OFFLINE",
            "name": "OFFLINE"
          }
        ]
      }
    },
    "com.amazonaws.alexaforbusiness#ConnectionStatusUpdatedTime": {
      "type": "timestamp"
    },
    "com.amazonaws.alexaforbusiness#Contact": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the contact.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.alexaforbusiness#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contact to display on the console.</p>"
          }
        },
        "FirstName": {
          "target": "com.amazonaws.alexaforbusiness#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>The first name of the contact, used to call the contact on the device.</p>"
          }
        },
        "LastName": {
          "target": "com.amazonaws.alexaforbusiness#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>The last name of the contact, used to call the contact on the device.</p>"
          }
        },
        "PhoneNumber": {
          "target": "com.amazonaws.alexaforbusiness#RawPhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number of the contact. The phone number type defaults to WORK. You can\n         either specify PhoneNumber or PhoneNumbers. We recommend that you use PhoneNumbers, which\n         lets you specify the phone number type and multiple numbers.</p>"
          }
        },
        "PhoneNumbers": {
          "target": "com.amazonaws.alexaforbusiness#PhoneNumberList",
          "traits": {
            "smithy.api#documentation": "<p>The list of phone numbers for the contact.</p>"
          }
        },
        "SipAddresses": {
          "target": "com.amazonaws.alexaforbusiness#SipAddressList",
          "traits": {
            "smithy.api#documentation": "<p>The list of SIP addresses for the contact.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A contact with attributes.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#ContactData": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the contact.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.alexaforbusiness#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contact to display on the console.</p>"
          }
        },
        "FirstName": {
          "target": "com.amazonaws.alexaforbusiness#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>The first name of the contact, used to call the contact on the device.</p>"
          }
        },
        "LastName": {
          "target": "com.amazonaws.alexaforbusiness#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>The last name of the contact, used to call the contact on the device.</p>"
          }
        },
        "PhoneNumber": {
          "target": "com.amazonaws.alexaforbusiness#RawPhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number of the contact. The phone number type defaults to WORK. You can\n         specify PhoneNumber or PhoneNumbers. We recommend that you use PhoneNumbers, which lets you\n         specify the phone number type and multiple numbers.</p>"
          }
        },
        "PhoneNumbers": {
          "target": "com.amazonaws.alexaforbusiness#PhoneNumberList",
          "traits": {
            "smithy.api#documentation": "<p>The list of phone numbers for the contact.</p>"
          }
        },
        "SipAddresses": {
          "target": "com.amazonaws.alexaforbusiness#SipAddressList",
          "traits": {
            "smithy.api#documentation": "<p>The list of SIP addresses for the contact.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information related to a contact.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#ContactDataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.alexaforbusiness#ContactData"
      }
    },
    "com.amazonaws.alexaforbusiness#ContactName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*"
      }
    },
    "com.amazonaws.alexaforbusiness#Content": {
      "type": "structure",
      "members": {
        "TextList": {
          "target": "com.amazonaws.alexaforbusiness#TextList",
          "traits": {
            "smithy.api#documentation": "<p>The list of text messages.</p>"
          }
        },
        "SsmlList": {
          "target": "com.amazonaws.alexaforbusiness#SsmlList",
          "traits": {
            "smithy.api#documentation": "<p>The list of SSML messages.</p>"
          }
        },
        "AudioList": {
          "target": "com.amazonaws.alexaforbusiness#AudioList",
          "traits": {
            "smithy.api#documentation": "<p>The list of audio messages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The content definition. This can contain only one text, SSML, or audio list\n         object.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#CountryCode": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "\\d{1,3}"
      }
    },
    "com.amazonaws.alexaforbusiness#CreateAddressBook": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.alexaforbusiness#CreateAddressBookRequest"
      },
      "output": {
        "target": "com.amazonaws.alexaforbusiness#CreateAddressBookResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.alexaforbusiness#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an address book with the specified details.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#CreateAddressBookRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.alexaforbusiness#AddressBookName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the address book.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.alexaforbusiness#AddressBookDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the address book.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.alexaforbusiness#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, user-specified identifier for the request that ensures\n         idempotency.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.alexaforbusiness#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be added to the specified resource. Do not provide system tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateAddressBookResponse": {
      "type": "structure",
      "members": {
        "AddressBookArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the newly created address book.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateBusinessReportSchedule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.alexaforbusiness#CreateBusinessReportScheduleRequest"
      },
      "output": {
        "target": "com.amazonaws.alexaforbusiness#CreateBusinessReportScheduleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.alexaforbusiness#AlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a recurring schedule for usage reports to deliver to the specified S3\n         location with a specified daily or weekly interval.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#CreateBusinessReportScheduleRequest": {
      "type": "structure",
      "members": {
        "ScheduleName": {
          "target": "com.amazonaws.alexaforbusiness#BusinessReportScheduleName",
          "traits": {
            "smithy.api#documentation": "<p>The name identifier of the schedule.</p>"
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.alexaforbusiness#CustomerS3BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket name of the output reports. If this isn't specified, the report can be\n         retrieved from a download link by calling ListBusinessReportSchedule. </p>"
          }
        },
        "S3KeyPrefix": {
          "target": "com.amazonaws.alexaforbusiness#S3KeyPrefix",
          "traits": {
            "smithy.api#documentation": "<p>The S3 key where the report is delivered.</p>"
          }
        },
        "Format": {
          "target": "com.amazonaws.alexaforbusiness#BusinessReportFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the generated report (individual CSV files or zipped files of\n         individual files).</p>",
            "smithy.api#required": {}
          }
        },
        "ContentRange": {
          "target": "com.amazonaws.alexaforbusiness#BusinessReportContentRange",
          "traits": {
            "smithy.api#documentation": "<p>The content range of the reports.</p>",
            "smithy.api#required": {}
          }
        },
        "Recurrence": {
          "target": "com.amazonaws.alexaforbusiness#BusinessReportRecurrence",
          "traits": {
            "smithy.api#documentation": "<p>The recurrence of the reports. If this isn't specified, the report will only be\n         delivered one time when the API is called. </p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.alexaforbusiness#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The client request token.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.alexaforbusiness#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the business report schedule.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateBusinessReportScheduleResponse": {
      "type": "structure",
      "members": {
        "ScheduleArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the business report schedule.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateConferenceProvider": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.alexaforbusiness#CreateConferenceProviderRequest"
      },
      "output": {
        "target": "com.amazonaws.alexaforbusiness#CreateConferenceProviderResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.alexaforbusiness#AlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a new conference provider under the user's AWS account.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#CreateConferenceProviderRequest": {
      "type": "structure",
      "members": {
        "ConferenceProviderName": {
          "target": "com.amazonaws.alexaforbusiness#ConferenceProviderName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the conference provider.</p>",
            "smithy.api#required": {}
          }
        },
        "ConferenceProviderType": {
          "target": "com.amazonaws.alexaforbusiness#ConferenceProviderType",
          "traits": {
            "smithy.api#documentation": "<p>Represents a type within a list of predefined types.</p>",
            "smithy.api#required": {}
          }
        },
        "IPDialIn": {
          "target": "com.amazonaws.alexaforbusiness#IPDialIn",
          "traits": {
            "smithy.api#documentation": "<p>The IP endpoint and protocol for calling.</p>"
          }
        },
        "PSTNDialIn": {
          "target": "com.amazonaws.alexaforbusiness#PSTNDialIn",
          "traits": {
            "smithy.api#documentation": "<p>The information for PSTN conferencing.</p>"
          }
        },
        "MeetingSetting": {
          "target": "com.amazonaws.alexaforbusiness#MeetingSetting",
          "traits": {
            "smithy.api#documentation": "<p>The meeting settings for the conference provider.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.alexaforbusiness#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The request token of the client.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.alexaforbusiness#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be added to the specified resource. Do not provide system tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateConferenceProviderResponse": {
      "type": "structure",
      "members": {
        "ConferenceProviderArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the newly-created conference provider.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.alexaforbusiness#CreateContactRequest"
      },
      "output": {
        "target": "com.amazonaws.alexaforbusiness#CreateContactResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.alexaforbusiness#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a contact with the specified details.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#CreateContactRequest": {
      "type": "structure",
      "members": {
        "DisplayName": {
          "target": "com.amazonaws.alexaforbusiness#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contact to display on the console.</p>"
          }
        },
        "FirstName": {
          "target": "com.amazonaws.alexaforbusiness#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>The first name of the contact that is used to call the contact on the\n         device.</p>",
            "smithy.api#required": {}
          }
        },
        "LastName": {
          "target": "com.amazonaws.alexaforbusiness#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>The last name of the contact that is used to call the contact on the\n         device.</p>"
          }
        },
        "PhoneNumber": {
          "target": "com.amazonaws.alexaforbusiness#RawPhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number of the contact in E.164 format. The phone number type defaults to\n         WORK. You can specify PhoneNumber or PhoneNumbers. We recommend that you use PhoneNumbers,\n         which lets you specify the phone number type and multiple numbers.</p>"
          }
        },
        "PhoneNumbers": {
          "target": "com.amazonaws.alexaforbusiness#PhoneNumberList",
          "traits": {
            "smithy.api#documentation": "<p>The list of phone numbers for the contact.</p>"
          }
        },
        "SipAddresses": {
          "target": "com.amazonaws.alexaforbusiness#SipAddressList",
          "traits": {
            "smithy.api#documentation": "<p>The list of SIP addresses for the contact.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.alexaforbusiness#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, user-specified identifier for this request that ensures\n         idempotency.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.alexaforbusiness#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be added to the specified resource. Do not provide system tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateContactResponse": {
      "type": "structure",
      "members": {
        "ContactArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the newly created address book.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateEndOfMeetingReminder": {
      "type": "structure",
      "members": {
        "ReminderAtMinutes": {
          "target": "com.amazonaws.alexaforbusiness#EndOfMeetingReminderMinutesList",
          "traits": {
            "smithy.api#documentation": "<p> A range of 3 to 15 minutes that determines when the reminder begins.</p>",
            "smithy.api#required": {}
          }
        },
        "ReminderType": {
          "target": "com.amazonaws.alexaforbusiness#EndOfMeetingReminderType",
          "traits": {
            "smithy.api#documentation": "<p>The type of sound that users hear during the end of meeting reminder. </p>",
            "smithy.api#required": {}
          }
        },
        "Enabled": {
          "target": "com.amazonaws.alexaforbusiness#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether an end of meeting reminder is enabled or not.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates settings for the end of meeting reminder feature that are applied to a room\n         profile. The end of meeting reminder enables Alexa to remind users when a meeting is\n         ending.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#CreateGatewayGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.alexaforbusiness#CreateGatewayGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.alexaforbusiness#CreateGatewayGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.alexaforbusiness#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a gateway group with the specified details.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#CreateGatewayGroupRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.alexaforbusiness#GatewayGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the gateway group.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.alexaforbusiness#GatewayGroupDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the gateway group.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.alexaforbusiness#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p> A unique, user-specified identifier for the request that ensures idempotency.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.alexaforbusiness#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be added to the specified resource. Do not provide system tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateGatewayGroupResponse": {
      "type": "structure",
      "members": {
        "GatewayGroupArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the created gateway group.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateInstantBooking": {
      "type": "structure",
      "members": {
        "DurationInMinutes": {
          "target": "com.amazonaws.alexaforbusiness#Minutes",
          "traits": {
            "smithy.api#documentation": "<p>Duration between 15 and 240 minutes at increments of 15 that determines how long to book\n         an available room when a meeting is started with Alexa.</p>",
            "smithy.api#required": {}
          }
        },
        "Enabled": {
          "target": "com.amazonaws.alexaforbusiness#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether instant booking is enabled or not.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates settings for the instant booking feature that are applied to a room profile.\n         When users start their meeting with Alexa, Alexa automatically books the room for the\n         configured duration if the room is available.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#CreateMeetingRoomConfiguration": {
      "type": "structure",
      "members": {
        "RoomUtilizationMetricsEnabled": {
          "target": "com.amazonaws.alexaforbusiness#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether room utilization metrics are enabled or not.</p>"
          }
        },
        "EndOfMeetingReminder": {
          "target": "com.amazonaws.alexaforbusiness#CreateEndOfMeetingReminder"
        },
        "InstantBooking": {
          "target": "com.amazonaws.alexaforbusiness#CreateInstantBooking",
          "traits": {
            "smithy.api#documentation": "<p>Settings to automatically book a room for a configured duration if it's free when joining a meeting with Alexa.</p>"
          }
        },
        "RequireCheckIn": {
          "target": "com.amazonaws.alexaforbusiness#CreateRequireCheckIn",
          "traits": {
            "smithy.api#documentation": "<p>Settings for requiring a check in when a room is reserved. Alexa can cancel a room reservation if it's not checked into to make the room available for others. Users can check in by joining the meeting with Alexa or an AVS device, or by saying “Alexa, check in.”</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates meeting room settings of a room profile.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#CreateNetworkProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.alexaforbusiness#CreateNetworkProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.alexaforbusiness#CreateNetworkProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.alexaforbusiness#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#InvalidCertificateAuthorityException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#InvalidServiceLinkedRoleStateException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a network profile with the specified details.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#CreateNetworkProfileRequest": {
      "type": "structure",
      "members": {
        "NetworkProfileName": {
          "target": "com.amazonaws.alexaforbusiness#NetworkProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the network profile associated with a device.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.alexaforbusiness#NetworkProfileDescription",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about a device's network profile.</p>"
          }
        },
        "Ssid": {
          "target": "com.amazonaws.alexaforbusiness#NetworkSsid",
          "traits": {
            "smithy.api#documentation": "<p>The SSID of the Wi-Fi network.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityType": {
          "target": "com.amazonaws.alexaforbusiness#NetworkSecurityType",
          "traits": {
            "smithy.api#documentation": "<p>The security type of the Wi-Fi network. This can be WPA2_ENTERPRISE, WPA2_PSK, WPA_PSK,\n         WEP, or OPEN.</p>",
            "smithy.api#required": {}
          }
        },
        "EapMethod": {
          "target": "com.amazonaws.alexaforbusiness#NetworkEapMethod",
          "traits": {
            "smithy.api#documentation": "<p>The authentication standard that is used in the EAP framework. Currently, EAP_TLS is\n         supported.</p>"
          }
        },
        "CurrentPassword": {
          "target": "com.amazonaws.alexaforbusiness#CurrentWiFiPassword",
          "traits": {
            "smithy.api#documentation": "<p>The current password of the Wi-Fi network.</p>"
          }
        },
        "NextPassword": {
          "target": "com.amazonaws.alexaforbusiness#NextWiFiPassword",
          "traits": {
            "smithy.api#documentation": "<p>The next, or subsequent, password of the Wi-Fi network. This password is asynchronously\n         transmitted to the device and is used when the password of the network changes to\n         NextPassword. </p>"
          }
        },
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Private Certificate Authority (PCA) created in AWS Certificate Manager\n         (ACM). This is used to issue certificates to the devices. </p>"
          }
        },
        "TrustAnchors": {
          "target": "com.amazonaws.alexaforbusiness#TrustAnchorList",
          "traits": {
            "smithy.api#documentation": "<p>The root certificates of your authentication server that is installed on your devices\n         and used to trust your authentication server during EAP negotiation. </p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.alexaforbusiness#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.alexaforbusiness#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be added to the specified resource. Do not provide system tags. </p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateNetworkProfileResponse": {
      "type": "structure",
      "members": {
        "NetworkProfileArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the network profile associated with a device.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.alexaforbusiness#CreateProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.alexaforbusiness#CreateProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.alexaforbusiness#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new room profile with the specified details.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#CreateProfileRequest": {
      "type": "structure",
      "members": {
        "ProfileName": {
          "target": "com.amazonaws.alexaforbusiness#ProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a room profile.</p>",
            "smithy.api#required": {}
          }
        },
        "Timezone": {
          "target": "com.amazonaws.alexaforbusiness#Timezone",
          "traits": {
            "smithy.api#documentation": "<p>The time zone used by a room profile.</p>",
            "smithy.api#required": {}
          }
        },
        "Address": {
          "target": "com.amazonaws.alexaforbusiness#Address",
          "traits": {
            "smithy.api#documentation": "<p>The valid address for the room.</p>",
            "smithy.api#required": {}
          }
        },
        "DistanceUnit": {
          "target": "com.amazonaws.alexaforbusiness#DistanceUnit",
          "traits": {
            "smithy.api#documentation": "<p>The distance unit to be used by devices in the profile.</p>",
            "smithy.api#required": {}
          }
        },
        "TemperatureUnit": {
          "target": "com.amazonaws.alexaforbusiness#TemperatureUnit",
          "traits": {
            "smithy.api#documentation": "<p>The temperature unit to be used by devices in the profile.</p>",
            "smithy.api#required": {}
          }
        },
        "WakeWord": {
          "target": "com.amazonaws.alexaforbusiness#WakeWord",
          "traits": {
            "smithy.api#documentation": "<p>A wake word for Alexa, Echo, Amazon, or a computer.</p>",
            "smithy.api#required": {}
          }
        },
        "Locale": {
          "target": "com.amazonaws.alexaforbusiness#DeviceLocale",
          "traits": {
            "smithy.api#documentation": "<p>The locale of the room profile. (This is currently only available to a limited preview audience.)</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.alexaforbusiness#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The user-specified token that is used during the creation of a profile.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "SetupModeDisabled": {
          "target": "com.amazonaws.alexaforbusiness#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether room profile setup is enabled.</p>"
          }
        },
        "MaxVolumeLimit": {
          "target": "com.amazonaws.alexaforbusiness#MaxVolumeLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum volume limit for a room profile.</p>"
          }
        },
        "PSTNEnabled": {
          "target": "com.amazonaws.alexaforbusiness#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether PSTN calling is enabled.</p>"
          }
        },
        "DataRetentionOptIn": {
          "target": "com.amazonaws.alexaforbusiness#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether data retention of the profile is enabled.</p>"
          }
        },
        "MeetingRoomConfiguration": {
          "target": "com.amazonaws.alexaforbusiness#CreateMeetingRoomConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The meeting room settings of a room profile.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.alexaforbusiness#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the profile.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateProfileResponse": {
      "type": "structure",
      "members": {
        "ProfileArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the newly created room profile in the response.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateRequireCheckIn": {
      "type": "structure",
      "members": {
        "ReleaseAfterMinutes": {
          "target": "com.amazonaws.alexaforbusiness#Minutes",
          "traits": {
            "smithy.api#documentation": "<p>Duration between 5 and 20 minutes to determine when to release the room if it's not checked into.</p>",
            "smithy.api#required": {}
          }
        },
        "Enabled": {
          "target": "com.amazonaws.alexaforbusiness#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether require check in is enabled or not.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates settings for the require check in feature that are applied to a room profile. Require check in allows a meeting room’s Alexa or AVS device to prompt the user to check in; otherwise, the room will be released.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#CreateRoom": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.alexaforbusiness#CreateRoomRequest"
      },
      "output": {
        "target": "com.amazonaws.alexaforbusiness#CreateRoomResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.alexaforbusiness#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a room with the specified details.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#CreateRoomRequest": {
      "type": "structure",
      "members": {
        "RoomName": {
          "target": "com.amazonaws.alexaforbusiness#RoomName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the room.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.alexaforbusiness#RoomDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description for the room.</p>"
          }
        },
        "ProfileArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The profile ARN for the room. This is required.</p>"
          }
        },
        "ProviderCalendarId": {
          "target": "com.amazonaws.alexaforbusiness#ProviderCalendarId",
          "traits": {
            "smithy.api#documentation": "<p>The calendar ARN for the room.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.alexaforbusiness#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, user-specified identifier for this request that ensures idempotency.\n      </p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.alexaforbusiness#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the room.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateRoomResponse": {
      "type": "structure",
      "members": {
        "RoomArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the newly created room in the response.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateSkillGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.alexaforbusiness#CreateSkillGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.alexaforbusiness#CreateSkillGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.alexaforbusiness#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a skill group with a specified name and description.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#CreateSkillGroupRequest": {
      "type": "structure",
      "members": {
        "SkillGroupName": {
          "target": "com.amazonaws.alexaforbusiness#SkillGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the skill group.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.alexaforbusiness#SkillGroupDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description for the skill group.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.alexaforbusiness#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, user-specified identifier for this request that ensures idempotency.\n      </p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.alexaforbusiness#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the skill group.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateSkillGroupResponse": {
      "type": "structure",
      "members": {
        "SkillGroupArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the newly created skill group in the response.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.alexaforbusiness#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.alexaforbusiness#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.alexaforbusiness#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#LimitExceededException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#CreateUserRequest": {
      "type": "structure",
      "members": {
        "UserId": {
          "target": "com.amazonaws.alexaforbusiness#user_UserId",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the user.</p>",
            "smithy.api#required": {}
          }
        },
        "FirstName": {
          "target": "com.amazonaws.alexaforbusiness#user_FirstName",
          "traits": {
            "smithy.api#documentation": "<p>The first name for the user.</p>"
          }
        },
        "LastName": {
          "target": "com.amazonaws.alexaforbusiness#user_LastName",
          "traits": {
            "smithy.api#documentation": "<p>The last name for the user.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.alexaforbusiness#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address for the user.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.alexaforbusiness#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, user-specified identifier for this request that ensures idempotency.\n      </p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.alexaforbusiness#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the user.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CreateUserResponse": {
      "type": "structure",
      "members": {
        "UserArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the newly created user in the response.</p>"
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#CurrentWiFiPassword": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 128
        },
        "smithy.api#pattern": "[\\x00-\\x7F]*",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.alexaforbusiness#CustomerS3BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-z0-9-\\.]{3,63}"
      }
    },
    "com.amazonaws.alexaforbusiness#Date": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{4}\\-(0?[1-9]|1[012])\\-(0?[1-9]|[12][0-9]|3[01])$"
      }
    },
    "com.amazonaws.alexaforbusiness#DeleteAddressBook": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.alexaforbusiness#DeleteAddressBookRequest"
      },
      "output": {
        "target": "com.amazonaws.alexaforbusiness#DeleteAddressBookResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.alexaforbusiness#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.alexaforbusiness#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an address book by the address book ARN.</p>"
      }
    },
    "com.amazonaws.alexaforbusiness#DeleteAddressBookRequest": {
      "type": "structure",
      "members": {
        "AddressBookArn": {
          "target": "com.amazonaws.alexaforbusiness#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the address book to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.alexaforbusiness#DeleteAddressBookResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.alexaforbusiness#DeleteBusinessReportSchedule": {
      "type": "operation",
      "input": {
[...]
