{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.amp#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Description of the error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.amp#AlertManagerDefinition": {
      "type": "resource",
      "identifiers": {
        "workspaceId": {
          "target": "com.amazonaws.amp#WorkspaceId"
        }
      },
      "put": {
        "target": "com.amazonaws.amp#CreateAlertManagerDefinition"
      },
      "read": {
        "target": "com.amazonaws.amp#DescribeAlertManagerDefinition"
      },
      "update": {
        "target": "com.amazonaws.amp#PutAlertManagerDefinition"
      },
      "delete": {
        "target": "com.amazonaws.amp#DeleteAlertManagerDefinition"
      },
      "traits": {
        "aws.api#arn": {
          "template": "workspace/{workspaceId}"
        },
        "smithy.api#documentation": "<p>The alert manager definition, a YAML configuration for the alertmanager in your\n            Amazon Managed Service for Prometheus workspace.</p>\n         <p>For details about the alert manager definition, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/APIReference/yaml-AlertManagerDefinitionData.html\">AlertManagedDefinitionData</a>.</p>"
      }
    },
    "com.amazonaws.amp#AlertManagerDefinitionData": {
      "type": "blob",
      "traits": {
        "smithy.api#documentation": "<p>The base-64 encoded blob that is alert manager definition.</p>\n         <p>For details about the alert manager definition, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/APIReference/yaml-AlertManagerDefinitionData.html\">AlertManagedDefinitionData</a>.</p>"
      }
    },
    "com.amazonaws.amp#AlertManagerDefinitionDescription": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.amp#AlertManagerDefinitionStatus",
          "traits": {
            "smithy.api#documentation": "<p>A structure that displays the current status of the alert manager definition..</p>",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.amazonaws.amp#AlertManagerDefinitionData",
          "traits": {
            "smithy.api#documentation": "<p>The actual alert manager definition.</p>\n         <p>For details about the alert manager definition, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/APIReference/yaml-AlertManagerDefinitionData.html\">AlertManagedDefinitionData</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the alert manager definition was created.</p>",
            "smithy.api#required": {}
          }
        },
        "modifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the alert manager definition was most recently changed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an alert manager definition. It is the configuration for the\n            alert manager, including information about receivers for routing alerts.</p>"
      }
    },
    "com.amazonaws.amp#AlertManagerDefinitionStatus": {
      "type": "structure",
      "members": {
        "statusCode": {
          "target": "com.amazonaws.amp#AlertManagerDefinitionStatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the alert manager. </p>",
            "smithy.api#required": {}
          }
        },
        "statusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>If there is a failure, the reason for the failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status of the alert manager. </p>"
      }
    },
    "com.amazonaws.amp#AlertManagerDefinitionStatusCode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>State of an <code>AlertManagerDefinition</code>.</p>",
        "smithy.api#enum": [
          {
            "name": "CREATING",
            "value": "CREATING",
            "documentation": "Definition is being created. Update/Deletion is disallowed until definition is ACTIVE and workspace status is ACTIVE."
          },
          {
            "name": "ACTIVE",
            "value": "ACTIVE",
            "documentation": "Definition has been created/updated. Update/Deletion is disallowed until definition is ACTIVE and workspace status is ACTIVE."
          },
          {
            "name": "UPDATING",
            "value": "UPDATING",
            "documentation": "Definition is being updated. Update/Deletion is disallowed until definition is ACTIVE and workspace status is ACTIVE."
          },
          {
            "name": "DELETING",
            "value": "DELETING",
            "documentation": "Definition is being deleting. Update/Deletion is disallowed until definition is ACTIVE and workspace status is ACTIVE."
          },
          {
            "name": "CREATION_FAILED",
            "value": "CREATION_FAILED",
            "documentation": "Definition creation failed."
          },
          {
            "name": "UPDATE_FAILED",
            "value": "UPDATE_FAILED",
            "documentation": "Definition update failed."
          }
        ]
      }
    },
    "com.amazonaws.amp#AmazonPrometheusService": {
      "type": "service",
      "version": "2020-08-01",
      "operations": [
        {
          "target": "com.amazonaws.amp#GetDefaultScraperConfiguration"
        },
        {
          "target": "com.amazonaws.amp#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.amp#TagResource"
        },
        {
          "target": "com.amazonaws.amp#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.amp#Scraper"
        },
        {
          "target": "com.amazonaws.amp#Workspace"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "amp",
          "arnNamespace": "aps",
          "cloudTrailEventSource": "CLOUDTRAIL_PLACEHOLDER_REPLACED_BY_CDK"
        },
        "aws.auth#sigv4": {
          "name": "aps"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*",
            "Authorization",
            "Date",
            "X-Amz-Date",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-user-agent",
            "x-amzn-platform-id",
            "x-amzn-trace-id",
            "X-Amz-Security-Token",
            "X-Amz-Target"
          ],
          "additionalExposedHeaders": [
            "x-amzn-errortype",
            "x-amzn-requestid",
            "x-amzn-trace-id",
            "x-amzn-errormessage",
            "x-amz-apigw-id",
            "date"
          ]
        },
        "smithy.api#documentation": "<p>Amazon Managed Service for Prometheus is a serverless, Prometheus-compatible monitoring service for\n            container metrics that makes it easier to securely monitor container environments at\n            scale. With Amazon Managed Service for Prometheus, you can use the same open-source Prometheus data\n            model and query language that you use today to monitor the performance of your\n            containerized workloads, and also enjoy improved scalability, availability, and security\n            without having to manage the underlying infrastructure.</p>\n         <p>For more information about Amazon Managed Service for Prometheus, see the <a href=\"https://docs.aws.amazon.com/prometheus/latest/userguide/what-is-Amazon-Managed-Service-Prometheus.html\">Amazon Managed Service for Prometheus</a> User Guide.</p>\n         <p>Amazon Managed Service for Prometheus includes two APIs.</p>\n         <ul>\n            <li>\n               <p>Use the Amazon Web Services API described in this guide to manage Amazon Managed Service for Prometheus resources, such as workspaces, rule groups, and alert\n                    managers.</p>\n            </li>\n            <li>\n               <p>Use the <a href=\"https://docs.aws.amazon.com/prometheus/latest/userguide/AMP-APIReference.html#AMP-APIReference-Prometheus-Compatible-Apis\">Prometheus-compatible API</a> to work within your Prometheus\n                    workspace.</p>\n            </li>\n         </ul>",
        "smithy.api#title": "Amazon Prometheus Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://aps-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://aps-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://aps.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://aps.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aps.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.amp#AmpConfiguration": {
      "type": "structure",
      "members": {
        "workspaceArn": {
          "target": "com.amazonaws.amp#WorkspaceArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the Amazon Managed Service for Prometheus workspace.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>AmpConfiguration</code> structure defines the Amazon Managed Service for Prometheus instance a scraper\n            should send metrics to.</p>"
      }
    },
    "com.amazonaws.amp#ClusterArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::EKS::Cluster"
        },
        "smithy.api#documentation": "<p>The ARN of an EKS cluster.</p>",
        "smithy.api#pattern": "^arn:aws[-a-z]*:eks:[-a-z0-9]+:[0-9]{12}:cluster/.+$"
      }
    },
    "com.amazonaws.amp#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Description of the error.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the resource affected.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Type of the resource affected.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request would cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.amp#CreateAlertManagerDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amp#CreateAlertManagerDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.amp#CreateAlertManagerDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amp#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.amp#ConflictException"
        },
        {
          "target": "com.amazonaws.amp#InternalServerException"
        },
        {
          "target": "com.amazonaws.amp#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amp#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.amp#ThrottlingException"
        },
        {
          "target": "com.amazonaws.amp#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>CreateAlertManagerDefinition</code> operation creates the alert manager\n            definition in a workspace. If a workspace already has an alert manager definition, don't\n            use this operation to update it. Instead, use\n            <code>PutAlertManagerDefinition</code>.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "POST",
          "uri": "/workspaces/{workspaceId}/alertmanager/definition"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.amp#CreateAlertManagerDefinitionRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.amp#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace to add the alert manager definition to.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.amazonaws.amp#AlertManagerDefinitionData",
          "traits": {
            "smithy.api#documentation": "<p>The alert manager definition to add. A base64-encoded version of the YAML alert\n            manager definition file.</p>\n         <p>For details about the alert manager definition, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/APIReference/yaml-AlertManagerDefinitionData.html\">AlertManagedDefinitionData</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.amp#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you can provide to ensure the idempotency of the request.\n            Case-sensitive.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>CreateAlertManagerDefinition</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#CreateAlertManagerDefinitionResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.amp#AlertManagerDefinitionStatus",
          "traits": {
            "smithy.api#documentation": "<p>A structure that displays the current status of the alert manager definition.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>CreateAlertManagerDefinition</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#CreateLoggingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amp#CreateLoggingConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.amp#CreateLoggingConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amp#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.amp#InternalServerException"
        },
        {
          "target": "com.amazonaws.amp#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amp#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>CreateLoggingConfiguration</code> operation creates a logging configuration\n            for the workspace. Use this operation to set the CloudWatch log group to which\n            the logs will be published to.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "POST",
          "uri": "/workspaces/{workspaceId}/logging"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.amp#CreateLoggingConfigurationRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.amp#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace to create the logging configuration for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "logGroupArn": {
          "target": "com.amazonaws.amp#LogGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the CloudWatch log group to which the vended log data will be\n            published. This log group must exist prior to calling this operation.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.amp#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you can provide to ensure the idempotency of the request.\n            Case-sensitive.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>CreateLoggingConfiguration</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#CreateLoggingConfigurationResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.amp#LoggingConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>A structure that displays the current status of the logging configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>CreateLoggingConfiguration</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#CreateRuleGroupsNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amp#CreateRuleGroupsNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.amp#CreateRuleGroupsNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amp#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.amp#ConflictException"
        },
        {
          "target": "com.amazonaws.amp#InternalServerException"
        },
        {
          "target": "com.amazonaws.amp#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amp#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.amp#ThrottlingException"
        },
        {
          "target": "com.amazonaws.amp#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>CreateRuleGroupsNamespace</code> operation creates a rule groups namespace\n            within a workspace. A rule groups namespace is associated with exactly one rules file. A\n            workspace can have multiple rule groups namespaces.</p>\n         <p>Use this operation only to create new rule groups namespaces. To update an existing\n            rule groups namespace, use <code>PutRuleGroupsNamespace</code>.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "POST",
          "uri": "/workspaces/{workspaceId}/rulegroupsnamespaces"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.amp#CreateRuleGroupsNamespaceRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.amp#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace to add the rule groups namespace.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.amp#RuleGroupsNamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new rule groups namespace.</p>",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.amazonaws.amp#RuleGroupsNamespaceData",
          "traits": {
            "smithy.api#documentation": "<p>The rules file to use in the new namespace.</p>\n         <p>Contains the base64-encoded version of the YAML rules file.</p>\n         <p>For details about the rule groups namespace structure, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/APIReference/yaml-RuleGroupsNamespaceData.html\">RuleGroupsNamespaceData</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.amp#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you can provide to ensure the idempotency of the request.\n            Case-sensitive.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.amp#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of tag keys and values to associate with the rule groups namespace.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>CreateRuleGroupsNamespace</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#CreateRuleGroupsNamespaceResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.amp#RuleGroupsNamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new rule groups namespace.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.amp#RuleGroupsNamespaceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the new rule groups namespace.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.amp#RuleGroupsNamespaceStatus",
          "traits": {
            "smithy.api#documentation": "<p>A structure that returns the current status of the rule groups namespace.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.amp#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of tag keys and values that are associated with the namespace.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>CreateRuleGroupsNamespace</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#CreateScraper": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amp#CreateScraperRequest"
      },
      "output": {
        "target": "com.amazonaws.amp#CreateScraperResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amp#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.amp#ConflictException"
        },
        {
          "target": "com.amazonaws.amp#InternalServerException"
        },
        {
          "target": "com.amazonaws.amp#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amp#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.amp#ThrottlingException"
        },
        {
          "target": "com.amazonaws.amp#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>CreateScraper</code> operation creates a scraper to collect metrics. A\n            scraper pulls metrics from Prometheus-compatible sources within an Amazon EKS\n            cluster, and sends them to your Amazon Managed Service for Prometheus workspace. Scrapers are \n            flexible, and can be configured to control what metrics are collected, the \n            frequency of collection, what transformations are applied to the metrics, and more.</p>\n         <p>An IAM role will be created for you that Amazon Managed Service for Prometheus uses \n            to access the metrics in your cluster. You must configure this role with a policy that\n            allows it to scrape metrics from your cluster. For more information, see \n            <a href=\"https://docs.aws.amazon.com/prometheus/latest/userguide/AMP-collector-how-to.html#AMP-collector-eks-setup\">Configuring your Amazon EKS cluster</a> in the <i>Amazon Managed Service for Prometheus User Guide</i>.</p>\n         <p>The <code>scrapeConfiguration</code> parameter contains the base-64 encoded YAML \n            configuration for the scraper.</p>\n         <note>\n            <p>For more information about collectors, including what metrics are collected, and\n                how to configure the scraper, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/userguide/AMP-collector-how-to.html\">Using an \n                    Amazon Web Services managed\n                    collector</a> in the <i>Amazon Managed Service for Prometheus User \n                        Guide</i>.</p>\n         </note>",
        "smithy.api#examples": [
          {
            "title": "CreateScraper with optional alias input, optional clientToken input, and one set of tags",
            "input": {
              "alias": "alias",
              "scrapeConfiguration": {
                "configurationBlob": "blob"
              },
              "source": {
                "eksConfiguration": {
                  "clusterArn": "arn:aws:eks:us-west-2:123456789012:cluster/example",
                  "securityGroupIds": ["sg-abc123"],
                  "subnetIds": ["subnet-abc123"]
                }
              },
              "destination": {
                "ampConfiguration": {
                  "workspaceArn": "arn:aws:aps:us-west-2:123456789012:workspace/ws-ogh2u499-ce12-hg89-v6c7-123412341234"
                }
              },
              "clientToken": "token",
              "tags": {
                "exampleTag": "exampleValue"
              }
            },
            "output": {
              "scraperId": "scraper-123",
              "arn": "arn:aws:aps:us-west-2:123456789012:scraper/scraper-123",
              "status": {
                "statusCode": "CREATING"
              },
              "tags": {
                "exampleTag": "exampleValue"
              }
            }
          }
        ],
        "smithy.api#http": {
          "code": 202,
          "method": "POST",
          "uri": "/scrapers"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.amp#CreateScraperRequest": {
      "type": "structure",
      "members": {
        "alias": {
          "target": "com.amazonaws.amp#ScraperAlias",
          "traits": {
            "smithy.api#documentation": "<p>(optional) An alias to associate with the scraper. This is for your use, and does not\n            need to be unique.</p>"
          }
        },
        "scrapeConfiguration": {
          "target": "com.amazonaws.amp#ScrapeConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration file to use in the new scraper. For more information, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/userguide/AMP-collector-how-to.html#AMP-collector-configuration\">Scraper configuration</a> in the <i>Amazon Managed Service for Prometheus User \n                Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.amazonaws.amp#Source",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EKS cluster from which the scraper will collect metrics.</p>",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.amazonaws.amp#Destination",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Managed Service for Prometheus workspace to send metrics to.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.amp#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) A unique, case-sensitive identifier that you can provide to ensure the\n            idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.amp#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The list of tag keys and values to associate with the scraper.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>CreateScraper</code> operation.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.amp#CreateScraperResponse": {
      "type": "structure",
      "members": {
        "scraperId": {
          "target": "com.amazonaws.amp#ScraperId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the new scraper.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.amp#ScraperArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the new scraper.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.amp#ScraperStatus",
          "traits": {
            "smithy.api#documentation": "<p>A structure that displays the current status of the scraper.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.amp#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of tag keys and values that are associated with the scraper.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>CreateScraper</code> operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.amp#CreateWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amp#CreateWorkspaceRequest"
      },
      "output": {
        "target": "com.amazonaws.amp#CreateWorkspaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amp#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.amp#ConflictException"
        },
        {
          "target": "com.amazonaws.amp#InternalServerException"
        },
        {
          "target": "com.amazonaws.amp#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.amp#ThrottlingException"
        },
        {
          "target": "com.amazonaws.amp#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Prometheus workspace. A workspace is a logical space dedicated to the\n            storage and querying of Prometheus metrics. You can have one or more workspaces in each\n            Region in your account.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "POST",
          "uri": "/workspaces"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.amp#CreateWorkspaceRequest": {
      "type": "structure",
      "members": {
        "alias": {
          "target": "com.amazonaws.amp#WorkspaceAlias",
          "traits": {
            "smithy.api#documentation": "<p>An alias that you assign to this workspace to help you identify it. It does not need\n            to be unique.</p>\n         <p>Blank spaces at the beginning or end of the alias that you specify will be trimmed\n            from the value used.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.amp#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you can provide to ensure the idempotency of the request.\n            Case-sensitive.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.amp#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of tag keys and values to associate with the workspace.</p>"
          }
        },
        "kmsKeyArn": {
          "target": "com.amazonaws.amp#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>(optional) The ARN for a customer managed KMS key to use for \n            encrypting data within your workspace. For more information about using your\n            own key in your workspace, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/userguide/encryption-at-rest-Amazon-Service-Prometheus.html\">Encryption at rest</a> in the <i>Amazon Managed Service for Prometheus User \n                    Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>CreateWorkspace</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#CreateWorkspaceResponse": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.amp#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the new workspace.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.amp#WorkspaceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the new workspace.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.amp#WorkspaceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the new workspace. Immediately after you create the workspace,\n            the status is usually <code>CREATING</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.amp#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of tag keys and values that are associated with the workspace.</p>"
          }
        },
        "kmsKeyArn": {
          "target": "com.amazonaws.amp#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>(optional) If the workspace was created with a customer managed KMS \n            key, the ARN for the key used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>CreateWorkspace</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#DeleteAlertManagerDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amp#DeleteAlertManagerDefinitionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.amp#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.amp#ConflictException"
        },
        {
          "target": "com.amazonaws.amp#InternalServerException"
        },
        {
          "target": "com.amazonaws.amp#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amp#ThrottlingException"
        },
        {
          "target": "com.amazonaws.amp#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the alert manager definition from a workspace.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "DELETE",
          "uri": "/workspaces/{workspaceId}/alertmanager/definition"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.amp#DeleteAlertManagerDefinitionRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.amp#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace to delete the alert manager definition from.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.amp#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you can provide to ensure the idempotency of the request.\n            Case-sensitive.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>DeleteAlertManagerDefinition</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#DeleteLoggingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amp#DeleteLoggingConfigurationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.amp#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.amp#ConflictException"
        },
        {
          "target": "com.amazonaws.amp#InternalServerException"
        },
        {
          "target": "com.amazonaws.amp#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amp#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the logging configuration for a workspace.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "DELETE",
          "uri": "/workspaces/{workspaceId}/logging"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.amp#DeleteLoggingConfigurationRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.amp#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace containing the logging configuration to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.amp#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you can provide to ensure the idempotency of the request.\n            Case-sensitive.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>DeleteLoggingConfiguration</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#DeleteRuleGroupsNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amp#DeleteRuleGroupsNamespaceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.amp#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.amp#ConflictException"
        },
        {
          "target": "com.amazonaws.amp#InternalServerException"
        },
        {
          "target": "com.amazonaws.amp#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amp#ThrottlingException"
        },
        {
          "target": "com.amazonaws.amp#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes one rule groups namespace and its associated rule groups definition.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "DELETE",
          "uri": "/workspaces/{workspaceId}/rulegroupsnamespaces/{name}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.amp#DeleteRuleGroupsNamespaceRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.amp#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace containing the rule groups namespace and definition to\n            delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.amp#RuleGroupsNamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule groups namespace to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.amp#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you can provide to ensure the idempotency of the request.\n            Case-sensitive.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>DeleteRuleGroupsNamespace</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#DeleteScraper": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amp#DeleteScraperRequest"
      },
      "output": {
        "target": "com.amazonaws.amp#DeleteScraperResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amp#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.amp#ConflictException"
        },
        {
          "target": "com.amazonaws.amp#InternalServerException"
        },
        {
          "target": "com.amazonaws.amp#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amp#ThrottlingException"
        },
        {
          "target": "com.amazonaws.amp#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>DeleteScraper</code> operation deletes one scraper, and stops any metrics\n            collection that the scraper performs.</p>",
        "smithy.api#examples": [
          {
            "title": "DeleteScraper with optional clientToken input",
            "input": {
              "scraperId": "scraper-123",
              "clientToken": "token"
            },
            "output": {
              "scraperId": "scraper-123",
              "status": {
                "statusCode": "DELETING"
              }
            }
          }
        ],
        "smithy.api#http": {
          "code": 202,
          "method": "DELETE",
          "uri": "/scrapers/{scraperId}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.amp#DeleteScraperRequest": {
      "type": "structure",
      "members": {
        "scraperId": {
          "target": "com.amazonaws.amp#ScraperId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the scraper to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.amp#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) A unique, case-sensitive identifier that you can provide to ensure the \n            idempotency of the request.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>DeleteScraper</code> operation.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.amp#DeleteScraperResponse": {
      "type": "structure",
      "members": {
        "scraperId": {
          "target": "com.amazonaws.amp#ScraperId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the scraper to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.amp#ScraperStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the scraper.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DeleteScraper</code> operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.amp#DeleteWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amp#DeleteWorkspaceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.amp#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.amp#ConflictException"
        },
        {
          "target": "com.amazonaws.amp#InternalServerException"
        },
        {
          "target": "com.amazonaws.amp#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amp#ThrottlingException"
        },
        {
          "target": "com.amazonaws.amp#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing workspace. </p>\n         <note>\n            <p>When you delete a workspace, the data that has been ingested into it is not\n                immediately deleted. It will be permanently deleted within one month.</p>\n         </note>",
        "smithy.api#http": {
          "code": 202,
          "method": "DELETE",
          "uri": "/workspaces/{workspaceId}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.amp#DeleteWorkspaceRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.amp#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.amp#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that you can provide to ensure the idempotency of the request.\n            Case-sensitive.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>DeleteWorkspace</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#DescribeAlertManagerDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amp#DescribeAlertManagerDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.amp#DescribeAlertManagerDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amp#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.amp#InternalServerException"
        },
        {
          "target": "com.amazonaws.amp#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amp#ThrottlingException"
        },
        {
          "target": "com.amazonaws.amp#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the full information about the alert manager definition for a\n            workspace.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/workspaces/{workspaceId}/alertmanager/definition"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.amp#DescribeAlertManagerDefinitionRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.amp#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace to retrieve the alert manager definition from.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>DescribeAlertManagerDefinition</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#DescribeAlertManagerDefinitionResponse": {
      "type": "structure",
      "members": {
        "alertManagerDefinition": {
          "target": "com.amazonaws.amp#AlertManagerDefinitionDescription",
          "traits": {
            "smithy.api#documentation": "<p>The alert manager definition.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DescribeAlertManagerDefinition</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#DescribeLoggingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amp#DescribeLoggingConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.amp#DescribeLoggingConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amp#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.amp#InternalServerException"
        },
        {
          "target": "com.amazonaws.amp#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amp#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns complete information about the current logging configuration of the\n            workspace.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/workspaces/{workspaceId}/logging"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.amp#DescribeLoggingConfigurationRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.amp#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace to describe the logging configuration for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>DescribeLoggingConfiguration</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#DescribeLoggingConfigurationResponse": {
      "type": "structure",
      "members": {
        "loggingConfiguration": {
          "target": "com.amazonaws.amp#LoggingConfigurationMetadata",
          "traits": {
            "smithy.api#documentation": "<p>A structure that displays the information about the logging configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DescribeLoggingConfiguration</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#DescribeRuleGroupsNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amp#DescribeRuleGroupsNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.amp#DescribeRuleGroupsNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amp#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.amp#InternalServerException"
        },
        {
          "target": "com.amazonaws.amp#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amp#ThrottlingException"
        },
        {
          "target": "com.amazonaws.amp#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns complete information about one rule groups namespace. To retrieve a list of\n            rule groups namespaces, use <code>ListRuleGroupsNamespaces</code>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/workspaces/{workspaceId}/rulegroupsnamespaces/{name}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.amp#DescribeRuleGroupsNamespaceRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.amp#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace containing the rule groups namespace.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.amp#RuleGroupsNamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule groups namespace that you want information for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>DescribeRuleGroupsNamespace</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#DescribeRuleGroupsNamespaceResponse": {
      "type": "structure",
      "members": {
        "ruleGroupsNamespace": {
          "target": "com.amazonaws.amp#RuleGroupsNamespaceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The information about the rule groups namespace.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DescribeRuleGroupsNamespace</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#DescribeScraper": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amp#DescribeScraperRequest"
      },
      "output": {
        "target": "com.amazonaws.amp#DescribeScraperResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amp#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.amp#InternalServerException"
        },
        {
          "target": "com.amazonaws.amp#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amp#ThrottlingException"
        },
        {
          "target": "com.amazonaws.amp#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>DescribeScraper</code> operation displays information about an existing\n            scraper.</p>",
        "smithy.api#examples": [
          {
            "title": "DescribeScraper, with no statusReason to report",
            "input": {
              "scraperId": "scraper-123"
            },
            "output": {
              "scraper": {
                "alias": "alias",
                "scraperId": "scraper-123",
                "arn": "arn:aws:aps:us-west-2:123456789012:scraper/scraper-123",
                "roleArn": "arn:aws:iam::123456789012:role/exampleRole",
                "status": {
                  "statusCode": "ACTIVE"
                },
                "createdAt": "2023-01-01T00:00:00Z",
                "lastModifiedAt": "2020-01-02T00:00:00Z",
                "tags": {
                  "exampleTag": "exampleValue"
                },
                "scrapeConfiguration": {
                  "configurationBlob": "blob"
                },
                "source": {
                  "eksConfiguration": {
                    "clusterArn": "arn:aws:eks:us-west-2:123456789012:cluster/example",
                    "securityGroupIds": ["sg-abc123"],
                    "subnetIds": ["subnet-abc123"]
                  }
                },
                "destination": {
                  "ampConfiguration": {
                    "workspaceArn": "arn:aws:aps:us-west-2:123456789012:workspace/ws-ogh2u499-ce12-hg89-v6c7-123412341234"
                  }
                }
              }
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/scrapers/{scraperId}"
        },
        "smithy.api#readonly": {},
        "smithy.waiters#waitable": {
          "ScraperActive": {
            "documentation": "Wait until a scraper reaches ACTIVE status",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "scraper.status.statusCode",
                    "expected": "ACTIVE",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "scraper.status.statusCode",
                    "expected": "CREATION_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          },
          "ScraperDeleted": {
            "documentation": "Wait until a scraper reaches DELETED status",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "errorType": "ResourceNotFoundException"
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "scraper.status.statusCode",
                    "expected": "DELETION_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.amp#DescribeScraperRequest": {
      "type": "structure",
      "members": {
        "scraperId": {
          "target": "com.amazonaws.amp#ScraperId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the scraper to describe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>DescribeScraper</code> operation.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.amp#DescribeScraperResponse": {
      "type": "structure",
      "members": {
        "scraper": {
          "target": "com.amazonaws.amp#ScraperDescription",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the scraper.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DescribeScraper</code> operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.amp#DescribeWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amp#DescribeWorkspaceRequest"
      },
      "output": {
        "target": "com.amazonaws.amp#DescribeWorkspaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amp#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.amp#InternalServerException"
        },
        {
          "target": "com.amazonaws.amp#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amp#ThrottlingException"
        },
        {
          "target": "com.amazonaws.amp#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an existing workspace. </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/workspaces/{workspaceId}"
        },
        "smithy.api#readonly": {},
        "smithy.waiters#waitable": {
          "WorkspaceActive": {
            "documentation": "Wait until a workspace reaches ACTIVE status",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "workspace.status.statusCode",
                    "expected": "ACTIVE",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "workspace.status.statusCode",
                    "expected": "UPDATING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "workspace.status.statusCode",
                    "expected": "CREATING",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          },
          "WorkspaceDeleted": {
            "documentation": "Wait until a workspace reaches DELETED status",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "errorType": "ResourceNotFoundException"
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "workspace.status.statusCode",
                    "expected": "DELETING",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.amp#DescribeWorkspaceRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.amp#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace to describe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>DescribeWorkspace</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#DescribeWorkspaceResponse": {
      "type": "structure",
      "members": {
        "workspace": {
          "target": "com.amazonaws.amp#WorkspaceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains details about the workspace.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DescribeWorkspace</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#Destination": {
      "type": "union",
      "members": {
        "ampConfiguration": {
          "target": "com.amazonaws.amp#AmpConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Managed Service for Prometheus workspace to send metrics to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Where to send the metrics from a scraper.</p>"
      }
    },
    "com.amazonaws.amp#EksConfiguration": {
      "type": "structure",
      "members": {
        "clusterArn": {
          "target": "com.amazonaws.amp#ClusterArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the Amazon EKS cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.amp#SecurityGroupIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of the security group IDs for the Amazon EKS cluster VPC configuration.</p>"
          }
        },
        "subnetIds": {
          "target": "com.amazonaws.amp#SubnetIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of subnet IDs for the Amazon EKS cluster VPC configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>EksConfiguration</code> structure describes the connection to the \n            Amazon EKS cluster from which a scraper collects metrics.</p>"
      }
    },
    "com.amazonaws.amp#FilterKey": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The name of the key by which to filter.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.amp#FilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The value for a given key by which to filter.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.amp#FilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amp#FilterValue"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of scraper filter values.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.amp#GetDefaultScraperConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amp#GetDefaultScraperConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.amp#GetDefaultScraperConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amp#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.amp#InternalServerException"
        },
        {
          "target": "com.amazonaws.amp#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>GetDefaultScraperConfiguration</code> operation returns the default \n            scraper configuration used when Amazon EKS creates a scraper for you.</p>",
        "smithy.api#examples": [
          {
            "title": "GetDefaultScraperConfiguration",
            "input": {},
            "output": {
              "configuration": "blob"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/scraperconfiguration"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.amp#GetDefaultScraperConfigurationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>GetDefaultScraperConfiguration</code> operation.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.amp#GetDefaultScraperConfigurationResponse": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "<p>The configuration file. Base 64 encoded. \n            For more information, see <a href=\"https://docs.aws.amazon.com/prometheus/latest/userguide/AMP-collector-how-to.html#AMP-collector-configuration\">Scraper configuration</a>in the <i>Amazon Managed Service for Prometheus User \n                    Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>GetDefaultScraperConfiguration</code> operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.amp#IamRoleArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::IAM::Role"
        },
        "smithy.api#documentation": "<p>An ARN identifying an IAM role used by the scraper.</p>"
      }
    },
    "com.amazonaws.amp#IdempotencyToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>An identifier used to ensure the idempotency of a write request.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[!-~]+$"
      }
    },
    "com.amazonaws.amp#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Description of the error.</p>",
            "smithy.api#required": {}
          }
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Advice to clients on when the call can be safely retried.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An unexpected error occurred during the processing of the request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.amp#KmsKeyArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::KMS::Key"
        },
        "smithy.api#documentation": "<p>A KMS Key ARN.</p>",
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws:kms:[a-z0-9\\-]+:\\d+:key/[a-f0-9\\-]+$"
      }
    },
    "com.amazonaws.amp#ListRuleGroupsNamespaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amp#ListRuleGroupsNamespacesRequest"
      },
      "output": {
        "target": "com.amazonaws.amp#ListRuleGroupsNamespacesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amp#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.amp#InternalServerException"
        },
        {
          "target": "com.amazonaws.amp#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.amp#ThrottlingException"
        },
        {
          "target": "com.amazonaws.amp#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of rule groups namespaces in a workspace.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/workspaces/{workspaceId}/rulegroupsnamespaces"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "ruleGroupsNamespaces"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.amp#ListRuleGroupsNamespacesRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.amp#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace containing the rule groups namespaces.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.amp#RuleGroupsNamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter to filter the rule groups namespaces that are returned. Only the\n            namespaces with names that begin with the value that you specify are returned.</p>",
            "smithy.api#httpQuery": "name"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.amp#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. You receive this token from a previous\n            call, and use it to get the next page of results. The other parameters must be the same\n            as the initial call.</p>\n         <p>For example, if your initial request has <code>maxResults</code> of 10, and there are\n            12 rule groups namespaces to return, then your initial request will return 10 and a\n                <code>nextToken</code>. Using the next token in a subsequent call will return the\n            remaining 2 namespaces.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return. The default is 100.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 1000
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>ListRuleGroupsNamespaces</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#ListRuleGroupsNamespacesResponse": {
      "type": "structure",
      "members": {
        "ruleGroupsNamespaces": {
          "target": "com.amazonaws.amp#RuleGroupsNamespaceSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The returned list of rule groups namespaces.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.amp#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>A token indicating that there are more results to retrieve. You can use this token as\n            part of your next <code>ListRuleGroupsNamespaces</code> request to retrieve those\n            results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>ListRuleGroupsNamespaces</code> operation.</p>"
      }
    },
    "com.amazonaws.amp#ListScrapers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amp#ListScrapersRequest"
      },
      "output": {
        "target": "com.amazonaws.amp#ListScrapersResponse"
      },
      "errors": [
        {
[...]
