{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.amplify#AccessToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(?s).+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.amplify#ActiveJobId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#Amplify": {
      "type": "service",
      "version": "2017-07-25",
      "operations": [
        {
          "target": "com.amazonaws.amplify#CreateApp"
        },
        {
          "target": "com.amazonaws.amplify#CreateBackendEnvironment"
        },
        {
          "target": "com.amazonaws.amplify#CreateBranch"
        },
        {
          "target": "com.amazonaws.amplify#CreateDeployment"
        },
        {
          "target": "com.amazonaws.amplify#CreateDomainAssociation"
        },
        {
          "target": "com.amazonaws.amplify#CreateWebhook"
        },
        {
          "target": "com.amazonaws.amplify#DeleteApp"
        },
        {
          "target": "com.amazonaws.amplify#DeleteBackendEnvironment"
        },
        {
          "target": "com.amazonaws.amplify#DeleteBranch"
        },
        {
          "target": "com.amazonaws.amplify#DeleteDomainAssociation"
        },
        {
          "target": "com.amazonaws.amplify#DeleteJob"
        },
        {
          "target": "com.amazonaws.amplify#DeleteWebhook"
        },
        {
          "target": "com.amazonaws.amplify#GenerateAccessLogs"
        },
        {
          "target": "com.amazonaws.amplify#GetApp"
        },
        {
          "target": "com.amazonaws.amplify#GetArtifactUrl"
        },
        {
          "target": "com.amazonaws.amplify#GetBackendEnvironment"
        },
        {
          "target": "com.amazonaws.amplify#GetBranch"
        },
        {
          "target": "com.amazonaws.amplify#GetDomainAssociation"
        },
        {
          "target": "com.amazonaws.amplify#GetJob"
        },
        {
          "target": "com.amazonaws.amplify#GetWebhook"
        },
        {
          "target": "com.amazonaws.amplify#ListApps"
        },
        {
          "target": "com.amazonaws.amplify#ListArtifacts"
        },
        {
          "target": "com.amazonaws.amplify#ListBackendEnvironments"
        },
        {
          "target": "com.amazonaws.amplify#ListBranches"
        },
        {
          "target": "com.amazonaws.amplify#ListDomainAssociations"
        },
        {
          "target": "com.amazonaws.amplify#ListJobs"
        },
        {
          "target": "com.amazonaws.amplify#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.amplify#ListWebhooks"
        },
        {
          "target": "com.amazonaws.amplify#StartDeployment"
        },
        {
          "target": "com.amazonaws.amplify#StartJob"
        },
        {
          "target": "com.amazonaws.amplify#StopJob"
        },
        {
          "target": "com.amazonaws.amplify#TagResource"
        },
        {
          "target": "com.amazonaws.amplify#UntagResource"
        },
        {
          "target": "com.amazonaws.amplify#UpdateApp"
        },
        {
          "target": "com.amazonaws.amplify#UpdateBranch"
        },
        {
          "target": "com.amazonaws.amplify#UpdateDomainAssociation"
        },
        {
          "target": "com.amazonaws.amplify#UpdateWebhook"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Amplify",
          "arnNamespace": "amplify",
          "cloudFormationName": "Amplify",
          "cloudTrailEventSource": "amplify.amazonaws.com",
          "endpointPrefix": "amplify"
        },
        "aws.auth#sigv4": {
          "name": "amplify"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Amplify enables developers to develop and deploy cloud-powered mobile and web apps.\n            The Amplify Console provides a continuous delivery and hosting service for web\n            applications. For more information, see the <a href=\"https://docs.aws.amazon.com/amplify/latest/userguide/welcome.html\">Amplify Console User Guide</a>. The\n            Amplify Framework is a comprehensive set of SDKs, libraries, tools, and documentation\n            for client app development. For more information, see the <a href=\"https://docs.amplify.aws/\">Amplify Framework.</a>\n         </p>",
        "smithy.api#title": "AWS Amplify",
        "smithy.api#xmlNamespace": {
          "uri": "http://amplify.amazonaws.com"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://amplify-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://amplify-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://amplify.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://amplify.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.us-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.me-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplify.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.amplify#App": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p> The unique ID of the Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "appArn": {
          "target": "com.amazonaws.amplify#AppArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.amplify#Name",
          "traits": {
            "smithy.api#documentation": "<p> The name for the Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.amplify#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tag for the Amplify app. </p>"
          }
        },
        "description": {
          "target": "com.amazonaws.amplify#Description",
          "traits": {
            "smithy.api#documentation": "<p> The description for the Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "repository": {
          "target": "com.amazonaws.amplify#Repository",
          "traits": {
            "smithy.api#documentation": "<p> The Git repository for the Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "platform": {
          "target": "com.amazonaws.amplify#Platform",
          "traits": {
            "smithy.api#documentation": "<p> The platform for the Amplify app. For a static app, set the platform type to <code>WEB</code>.\n            For a dynamic server-side rendered (SSR) app, set the platform type to\n            <code>WEB_COMPUTE</code>. For an app requiring Amplify Hosting's original SSR support only, set the platform type to\n            <code>WEB_DYNAMIC</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "com.amazonaws.amplify#CreateTime",
          "traits": {
            "smithy.api#documentation": "<p> Creates a date and time for the Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "com.amazonaws.amplify#UpdateTime",
          "traits": {
            "smithy.api#documentation": "<p> Updates the date and time for the Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "iamServiceRoleArn": {
          "target": "com.amazonaws.amplify#ServiceRoleArn",
          "traits": {
            "smithy.api#documentation": "<p> The AWS Identity and Access Management (IAM) service role for the Amazon Resource\n            Name (ARN) of the Amplify app. </p>"
          }
        },
        "environmentVariables": {
          "target": "com.amazonaws.amplify#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p> The environment variables for the Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "defaultDomain": {
          "target": "com.amazonaws.amplify#DefaultDomain",
          "traits": {
            "smithy.api#documentation": "<p> The default domain for the Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "enableBranchAutoBuild": {
          "target": "com.amazonaws.amplify#EnableBranchAutoBuild",
          "traits": {
            "smithy.api#documentation": "<p> Enables the auto-building of branches for the Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "enableBranchAutoDeletion": {
          "target": "com.amazonaws.amplify#EnableBranchAutoDeletion",
          "traits": {
            "smithy.api#documentation": "<p> Automatically disconnect a branch in the Amplify Console when you delete a branch\n            from your Git repository. </p>"
          }
        },
        "enableBasicAuth": {
          "target": "com.amazonaws.amplify#EnableBasicAuth",
          "traits": {
            "smithy.api#documentation": "<p> Enables basic authorization for the Amplify app's branches. </p>",
            "smithy.api#required": {}
          }
        },
        "basicAuthCredentials": {
          "target": "com.amazonaws.amplify#BasicAuthCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The basic authorization credentials for branches for the Amplify app. You must\n            base64-encode the authorization credentials and provide them in the format\n                <code>user:password</code>.</p>"
          }
        },
        "customRules": {
          "target": "com.amazonaws.amplify#CustomRules",
          "traits": {
            "smithy.api#documentation": "<p> Describes the custom redirect and rewrite rules for the Amplify app. </p>"
          }
        },
        "productionBranch": {
          "target": "com.amazonaws.amplify#ProductionBranch",
          "traits": {
            "smithy.api#documentation": "<p> Describes the information about a production branch of the Amplify app. </p>"
          }
        },
        "buildSpec": {
          "target": "com.amazonaws.amplify#BuildSpec",
          "traits": {
            "smithy.api#documentation": "<p> Describes the content of the build specification (build spec) for the Amplify app.\n        </p>"
          }
        },
        "customHeaders": {
          "target": "com.amazonaws.amplify#CustomHeaders",
          "traits": {
            "smithy.api#documentation": "<p>Describes the custom HTTP headers for the Amplify app.</p>"
          }
        },
        "enableAutoBranchCreation": {
          "target": "com.amazonaws.amplify#EnableAutoBranchCreation",
          "traits": {
            "smithy.api#documentation": "<p> Enables automated branch creation for the Amplify app. </p>"
          }
        },
        "autoBranchCreationPatterns": {
          "target": "com.amazonaws.amplify#AutoBranchCreationPatterns",
          "traits": {
            "smithy.api#documentation": "<p> Describes the automated branch creation glob patterns for the Amplify app. </p>"
          }
        },
        "autoBranchCreationConfig": {
          "target": "com.amazonaws.amplify#AutoBranchCreationConfig",
          "traits": {
            "smithy.api#documentation": "<p> Describes the automated branch creation configuration for the Amplify app. </p>"
          }
        },
        "repositoryCloneMethod": {
          "target": "com.amazonaws.amplify#RepositoryCloneMethod",
          "traits": {
            "smithy.api#documentation": "<note>\n            <p>This is for internal use.</p>\n        </note>\n        <p>The Amplify service uses this parameter to specify the authentication protocol to use to access\n            the Git repository for an Amplify app. Amplify specifies <code>TOKEN</code> for a GitHub\n            repository, <code>SIGV4</code> for an Amazon Web Services CodeCommit repository, and\n                <code>SSH</code> for GitLab and Bitbucket repositories.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the different branches of a repository for building, deploying, and\n            hosting an Amplify app. </p>"
      }
    },
    "com.amazonaws.amplify#AppArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#AppId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^d[a-z0-9]+$"
      }
    },
    "com.amazonaws.amplify#Apps": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplify#App"
      }
    },
    "com.amazonaws.amplify#Artifact": {
      "type": "structure",
      "members": {
        "artifactFileName": {
          "target": "com.amazonaws.amplify#ArtifactFileName",
          "traits": {
            "smithy.api#documentation": "<p> The file name for the artifact. </p>",
            "smithy.api#required": {}
          }
        },
        "artifactId": {
          "target": "com.amazonaws.amplify#ArtifactId",
          "traits": {
            "smithy.api#documentation": "<p> The unique ID for the artifact. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Describes an artifact. </p>"
      }
    },
    "com.amazonaws.amplify#ArtifactFileName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#ArtifactId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^(?s)"
      }
    },
    "com.amazonaws.amplify#ArtifactUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#Artifacts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplify#Artifact"
      }
    },
    "com.amazonaws.amplify#ArtifactsUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#AssociatedResource": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.amplify#AssociatedResources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplify#AssociatedResource"
      }
    },
    "com.amazonaws.amplify#AutoBranchCreationConfig": {
      "type": "structure",
      "members": {
        "stage": {
          "target": "com.amazonaws.amplify#Stage",
          "traits": {
            "smithy.api#documentation": "<p> Describes the current stage for the autocreated branch. </p>"
          }
        },
        "framework": {
          "target": "com.amazonaws.amplify#Framework",
          "traits": {
            "smithy.api#documentation": "<p> The framework for the autocreated branch. </p>"
          }
        },
        "enableAutoBuild": {
          "target": "com.amazonaws.amplify#EnableAutoBuild",
          "traits": {
            "smithy.api#documentation": "<p> Enables auto building for the autocreated branch. </p>"
          }
        },
        "environmentVariables": {
          "target": "com.amazonaws.amplify#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p> The environment variables for the autocreated branch. </p>"
          }
        },
        "basicAuthCredentials": {
          "target": "com.amazonaws.amplify#BasicAuthCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The basic authorization credentials for the autocreated branch. You must\n            base64-encode the authorization credentials and provide them in the format\n                <code>user:password</code>.</p>"
          }
        },
        "enableBasicAuth": {
          "target": "com.amazonaws.amplify#EnableBasicAuth",
          "traits": {
            "smithy.api#documentation": "<p> Enables basic authorization for the autocreated branch. </p>"
          }
        },
        "enablePerformanceMode": {
          "target": "com.amazonaws.amplify#EnablePerformanceMode",
          "traits": {
            "smithy.api#documentation": "<p>Enables performance mode for the branch.</p>\n        <p>Performance mode optimizes for faster hosting performance by keeping content cached at\n            the edge for a longer interval. When performance mode is enabled, hosting configuration\n            or code changes can take up to 10 minutes to roll out. </p>"
          }
        },
        "buildSpec": {
          "target": "com.amazonaws.amplify#BuildSpec",
          "traits": {
            "smithy.api#documentation": "<p> The build specification (build spec) for the autocreated branch. </p>"
          }
        },
        "enablePullRequestPreview": {
          "target": "com.amazonaws.amplify#EnablePullRequestPreview",
          "traits": {
            "smithy.api#documentation": "<p> Enables pull request previews for the autocreated branch. </p>"
          }
        },
        "pullRequestEnvironmentName": {
          "target": "com.amazonaws.amplify#PullRequestEnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p> The Amplify environment name for the pull request. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Describes the automated branch creation configuration. </p>"
      }
    },
    "com.amazonaws.amplify#AutoBranchCreationPattern": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^(?s).+$"
      }
    },
    "com.amazonaws.amplify#AutoBranchCreationPatterns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplify#AutoBranchCreationPattern"
      }
    },
    "com.amazonaws.amplify#AutoSubDomainCreationPattern": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^(?s).+$"
      }
    },
    "com.amazonaws.amplify#AutoSubDomainCreationPatterns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplify#AutoSubDomainCreationPattern"
      }
    },
    "com.amazonaws.amplify#AutoSubDomainIAMRole": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        },
        "smithy.api#pattern": "^$|^arn:aws:iam::\\d{12}:role.+$"
      }
    },
    "com.amazonaws.amplify#BackendEnvironment": {
      "type": "structure",
      "members": {
        "backendEnvironmentArn": {
          "target": "com.amazonaws.amplify#BackendEnvironmentArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) for a backend environment that is part of an Amplify\n            app. </p>",
            "smithy.api#required": {}
          }
        },
        "environmentName": {
          "target": "com.amazonaws.amplify#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p> The name for a backend environment that is part of an Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "stackName": {
          "target": "com.amazonaws.amplify#StackName",
          "traits": {
            "smithy.api#documentation": "<p> The AWS CloudFormation stack name of a backend environment. </p>"
          }
        },
        "deploymentArtifacts": {
          "target": "com.amazonaws.amplify#DeploymentArtifacts",
          "traits": {
            "smithy.api#documentation": "<p> The name of deployment artifacts. </p>"
          }
        },
        "createTime": {
          "target": "com.amazonaws.amplify#CreateTime",
          "traits": {
            "smithy.api#documentation": "<p> The creation date and time for a backend environment that is part of an Amplify app.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "com.amazonaws.amplify#UpdateTime",
          "traits": {
            "smithy.api#documentation": "<p> The last updated date and time for a backend environment that is part of an Amplify\n            app. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Describes the backend environment for an Amplify app. </p>"
      }
    },
    "com.amazonaws.amplify#BackendEnvironmentArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        },
        "smithy.api#pattern": "^(?s)"
      }
    },
    "com.amazonaws.amplify#BackendEnvironments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplify#BackendEnvironment"
      }
    },
    "com.amazonaws.amplify#BadRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.amplify#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A request contains unexpected data. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.amplify#BasicAuthCredentials": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2000
        },
        "smithy.api#pattern": "^(?s)",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.amplify#Branch": {
      "type": "structure",
      "members": {
        "branchArn": {
          "target": "com.amazonaws.amplify#BranchArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) for a branch that is part of an Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "branchName": {
          "target": "com.amazonaws.amplify#BranchName",
          "traits": {
            "smithy.api#documentation": "<p> The name for the branch that is part of an Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.amplify#Description",
          "traits": {
            "smithy.api#documentation": "<p> The description for the branch that is part of an Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.amplify#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tag for the branch of an Amplify app. </p>"
          }
        },
        "stage": {
          "target": "com.amazonaws.amplify#Stage",
          "traits": {
            "smithy.api#documentation": "<p> The current stage for the branch that is part of an Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.amplify#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p> The display name for the branch. This is used as the default domain prefix. </p>",
            "smithy.api#required": {}
          }
        },
        "enableNotification": {
          "target": "com.amazonaws.amplify#EnableNotification",
          "traits": {
            "smithy.api#documentation": "<p> Enables notifications for a branch that is part of an Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "com.amazonaws.amplify#CreateTime",
          "traits": {
            "smithy.api#documentation": "<p> The creation date and time for a branch that is part of an Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "com.amazonaws.amplify#UpdateTime",
          "traits": {
            "smithy.api#documentation": "<p> The last updated date and time for a branch that is part of an Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "environmentVariables": {
          "target": "com.amazonaws.amplify#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p> The environment variables specific to a branch of an Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "enableAutoBuild": {
          "target": "com.amazonaws.amplify#EnableAutoBuild",
          "traits": {
            "smithy.api#documentation": "<p> Enables auto-building on push for a branch of an Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "customDomains": {
          "target": "com.amazonaws.amplify#CustomDomains",
          "traits": {
            "smithy.api#documentation": "<p> The custom domains for a branch of an Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "framework": {
          "target": "com.amazonaws.amplify#Framework",
          "traits": {
            "smithy.api#documentation": "<p> The framework for a branch of an Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "activeJobId": {
          "target": "com.amazonaws.amplify#ActiveJobId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the active job for a branch of an Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "totalNumberOfJobs": {
          "target": "com.amazonaws.amplify#TotalNumberOfJobs",
          "traits": {
            "smithy.api#documentation": "<p> The total number of jobs that are part of an Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "enableBasicAuth": {
          "target": "com.amazonaws.amplify#EnableBasicAuth",
          "traits": {
            "smithy.api#documentation": "<p> Enables basic authorization for a branch of an Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "enablePerformanceMode": {
          "target": "com.amazonaws.amplify#EnablePerformanceMode",
          "traits": {
            "smithy.api#documentation": "<p>Enables performance mode for the branch.</p>\n        <p>Performance mode optimizes for faster hosting performance by keeping content cached at\n            the edge for a longer interval. When performance mode is enabled, hosting configuration\n            or code changes can take up to 10 minutes to roll out. </p>"
          }
        },
        "thumbnailUrl": {
          "target": "com.amazonaws.amplify#ThumbnailUrl",
          "traits": {
            "smithy.api#documentation": "<p> The thumbnail URL for the branch of an Amplify app. </p>"
          }
        },
        "basicAuthCredentials": {
          "target": "com.amazonaws.amplify#BasicAuthCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The basic authorization credentials for a branch of an Amplify app. You must\n            base64-encode the authorization credentials and provide them in the format\n                <code>user:password</code>.</p>"
          }
        },
        "buildSpec": {
          "target": "com.amazonaws.amplify#BuildSpec",
          "traits": {
            "smithy.api#documentation": "<p> The build specification (build spec) content for the branch of an Amplify app.\n        </p>"
          }
        },
        "ttl": {
          "target": "com.amazonaws.amplify#TTL",
          "traits": {
            "smithy.api#documentation": "<p> The content Time to Live (TTL) for the website in seconds. </p>",
            "smithy.api#required": {}
          }
        },
        "associatedResources": {
          "target": "com.amazonaws.amplify#AssociatedResources",
          "traits": {
            "smithy.api#documentation": "<p> A list of custom resources that are linked to this branch. </p>"
          }
        },
        "enablePullRequestPreview": {
          "target": "com.amazonaws.amplify#EnablePullRequestPreview",
          "traits": {
            "smithy.api#documentation": "<p> Enables pull request previews for the branch. </p>",
            "smithy.api#required": {}
          }
        },
        "pullRequestEnvironmentName": {
          "target": "com.amazonaws.amplify#PullRequestEnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p> The Amplify environment name for the pull request. </p>"
          }
        },
        "destinationBranch": {
          "target": "com.amazonaws.amplify#BranchName",
          "traits": {
            "smithy.api#documentation": "<p> The destination branch if the branch is a pull request branch. </p>"
          }
        },
        "sourceBranch": {
          "target": "com.amazonaws.amplify#BranchName",
          "traits": {
            "smithy.api#documentation": "<p> The source branch if the branch is a pull request branch. </p>"
          }
        },
        "backendEnvironmentArn": {
          "target": "com.amazonaws.amplify#BackendEnvironmentArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) for a backend environment that is part of an Amplify\n            app. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The branch for an Amplify app, which maps to a third-party repository branch. </p>"
      }
    },
    "com.amazonaws.amplify#BranchArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        },
        "smithy.api#pattern": "^(?s)"
      }
    },
    "com.amazonaws.amplify#BranchName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(?s).+$"
      }
    },
    "com.amazonaws.amplify#Branches": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplify#Branch"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#BuildSpec": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p> The build specification (build spec) file for an Amplify app build. </p>",
        "smithy.api#length": {
          "min": 1,
          "max": 25000
        },
        "smithy.api#pattern": "^(?s).+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.amplify#CertificateVerificationDNSRecord": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#Code": {
      "type": "string"
    },
    "com.amazonaws.amplify#CommitId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^(?s)"
      }
    },
    "com.amazonaws.amplify#CommitMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10000
        },
        "smithy.api#pattern": "^(?s)"
      }
    },
    "com.amazonaws.amplify#CommitTime": {
      "type": "timestamp"
    },
    "com.amazonaws.amplify#Condition": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^(?s)"
      }
    },
    "com.amazonaws.amplify#Context": {
      "type": "string"
    },
    "com.amazonaws.amplify#CreateApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#CreateAppRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#CreateAppResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#DependentServiceFailureException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#LimitExceededException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a new Amplify app. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#CreateAppRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.amplify#Name",
          "traits": {
            "smithy.api#documentation": "<p> The name for an Amplify app. </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.amplify#Description",
          "traits": {
            "smithy.api#documentation": "<p> The description for an Amplify app. </p>"
          }
        },
        "repository": {
          "target": "com.amazonaws.amplify#Repository",
          "traits": {
            "smithy.api#documentation": "<p> The repository for an Amplify app. </p>"
          }
        },
        "platform": {
          "target": "com.amazonaws.amplify#Platform",
          "traits": {
            "smithy.api#documentation": "<p> The platform for the Amplify app. For a static app, set the platform type to <code>WEB</code>.\n            For a dynamic server-side rendered (SSR) app, set the platform type to\n            <code>WEB_COMPUTE</code>. For an app requiring Amplify Hosting's original SSR support only, set the platform type to\n            <code>WEB_DYNAMIC</code>.</p>"
          }
        },
        "iamServiceRoleArn": {
          "target": "com.amazonaws.amplify#ServiceRoleArn",
          "traits": {
            "smithy.api#documentation": "<p> The AWS Identity and Access Management (IAM) service role for an Amplify app. </p>"
          }
        },
        "oauthToken": {
          "target": "com.amazonaws.amplify#OauthToken",
          "traits": {
            "smithy.api#documentation": "<p>The OAuth token for a third-party source control system for an Amplify app. The OAuth\n            token is used to create a webhook and a read-only deploy key using SSH cloning. The\n            OAuth token is not stored.</p>\n        <p>Use <code>oauthToken</code> for repository providers other than GitHub, such as\n            Bitbucket or CodeCommit. To authorize access to GitHub as your repository provider, use\n                <code>accessToken</code>.</p>\n        <p>You must specify either <code>oauthToken</code> or <code>accessToken</code> when you\n            create a new app.</p>\n        <p>Existing Amplify apps deployed from a GitHub repository using OAuth continue to work\n            with CI/CD. However, we strongly recommend that you migrate these apps to use the GitHub\n            App. For more information, see <a href=\"https://docs.aws.amazon.com/amplify/latest/UserGuide/setting-up-GitHub-access.html#migrating-to-github-app-auth\">Migrating an existing OAuth app to the Amplify GitHub App</a> in the\n                <i>Amplify User Guide</i> .</p>"
          }
        },
        "accessToken": {
          "target": "com.amazonaws.amplify#AccessToken",
          "traits": {
            "smithy.api#documentation": "<p>The personal access token for a GitHub repository for an Amplify app. The personal\n            access token is used to authorize access to a GitHub repository using the Amplify GitHub\n            App. The token is not stored.</p>\n        <p>Use <code>accessToken</code> for GitHub repositories only. To authorize access to a\n            repository provider such as Bitbucket or CodeCommit, use <code>oauthToken</code>.</p>\n        <p>You must specify either <code>accessToken</code> or <code>oauthToken</code> when you\n            create a new app.</p>\n        <p>Existing Amplify apps deployed from a GitHub repository using OAuth continue to work\n            with CI/CD. However, we strongly recommend that you migrate these apps to use the GitHub\n            App. For more information, see <a href=\"https://docs.aws.amazon.com/amplify/latest/UserGuide/setting-up-GitHub-access.html#migrating-to-github-app-auth\">Migrating an existing OAuth app to the Amplify GitHub App</a> in the\n                <i>Amplify User Guide</i> .</p>"
          }
        },
        "environmentVariables": {
          "target": "com.amazonaws.amplify#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p> The environment variables map for an Amplify app. </p>"
          }
        },
        "enableBranchAutoBuild": {
          "target": "com.amazonaws.amplify#EnableBranchAutoBuild",
          "traits": {
            "smithy.api#documentation": "<p> Enables the auto building of branches for an Amplify app. </p>"
          }
        },
        "enableBranchAutoDeletion": {
          "target": "com.amazonaws.amplify#EnableBranchAutoDeletion",
          "traits": {
            "smithy.api#documentation": "<p> Automatically disconnects a branch in the Amplify Console when you delete a branch\n            from your Git repository. </p>"
          }
        },
        "enableBasicAuth": {
          "target": "com.amazonaws.amplify#EnableBasicAuth",
          "traits": {
            "smithy.api#documentation": "<p> Enables basic authorization for an Amplify app. This will apply to all branches that\n            are part of this app. </p>"
          }
        },
        "basicAuthCredentials": {
          "target": "com.amazonaws.amplify#BasicAuthCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The credentials for basic authorization for an Amplify app. You must base64-encode\n            the authorization credentials and provide them in the format\n            <code>user:password</code>.</p>"
          }
        },
        "customRules": {
          "target": "com.amazonaws.amplify#CustomRules",
          "traits": {
            "smithy.api#documentation": "<p> The custom rewrite and redirect rules for an Amplify app. </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.amplify#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tag for an Amplify app. </p>"
          }
        },
        "buildSpec": {
          "target": "com.amazonaws.amplify#BuildSpec",
          "traits": {
            "smithy.api#documentation": "<p> The build specification (build spec) for an Amplify app. </p>"
          }
        },
        "customHeaders": {
          "target": "com.amazonaws.amplify#CustomHeaders",
          "traits": {
            "smithy.api#documentation": "<p>The custom HTTP headers for an Amplify app.</p>"
          }
        },
        "enableAutoBranchCreation": {
          "target": "com.amazonaws.amplify#EnableAutoBranchCreation",
          "traits": {
            "smithy.api#documentation": "<p> Enables automated branch creation for an Amplify app. </p>"
          }
        },
        "autoBranchCreationPatterns": {
          "target": "com.amazonaws.amplify#AutoBranchCreationPatterns",
          "traits": {
            "smithy.api#documentation": "<p> The automated branch creation glob patterns for an Amplify app. </p>"
          }
        },
        "autoBranchCreationConfig": {
          "target": "com.amazonaws.amplify#AutoBranchCreationConfig",
          "traits": {
            "smithy.api#documentation": "<p> The automated branch creation configuration for an Amplify app. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The request structure used to create apps in Amplify. </p>"
      }
    },
    "com.amazonaws.amplify#CreateAppResult": {
      "type": "structure",
      "members": {
        "app": {
          "target": "com.amazonaws.amplify#App",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.amplify#CreateBackendEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#CreateBackendEnvironmentRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#CreateBackendEnvironmentResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#LimitExceededException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a new backend environment for an Amplify app. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps/{appId}/backendenvironments",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#CreateBackendEnvironmentRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p> The unique ID for an Amplify app. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "environmentName": {
          "target": "com.amazonaws.amplify#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p> The name for the backend environment. </p>",
            "smithy.api#required": {}
          }
        },
        "stackName": {
          "target": "com.amazonaws.amplify#StackName",
          "traits": {
            "smithy.api#documentation": "<p> The AWS CloudFormation stack name of a backend environment. </p>"
          }
        },
        "deploymentArtifacts": {
          "target": "com.amazonaws.amplify#DeploymentArtifacts",
          "traits": {
            "smithy.api#documentation": "<p> The name of deployment artifacts. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The request structure for the backend environment create request. </p>"
      }
    },
    "com.amazonaws.amplify#CreateBackendEnvironmentResult": {
      "type": "structure",
      "members": {
        "backendEnvironment": {
          "target": "com.amazonaws.amplify#BackendEnvironment",
          "traits": {
            "smithy.api#documentation": "<p> Describes the backend environment for an Amplify app. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The result structure for the create backend environment request. </p>"
      }
    },
    "com.amazonaws.amplify#CreateBranch": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#CreateBranchRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#CreateBranchResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#DependentServiceFailureException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#LimitExceededException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a new branch for an Amplify app. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps/{appId}/branches",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#CreateBranchRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p> The unique ID for an Amplify app. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "branchName": {
          "target": "com.amazonaws.amplify#BranchName",
          "traits": {
            "smithy.api#documentation": "<p> The name for the branch. </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.amplify#Description",
          "traits": {
            "smithy.api#documentation": "<p> The description for the branch. </p>"
          }
        },
        "stage": {
          "target": "com.amazonaws.amplify#Stage",
          "traits": {
            "smithy.api#documentation": "<p> Describes the current stage for the branch. </p>"
          }
        },
        "framework": {
          "target": "com.amazonaws.amplify#Framework",
          "traits": {
            "smithy.api#documentation": "<p> The framework for the branch. </p>"
          }
        },
        "enableNotification": {
          "target": "com.amazonaws.amplify#EnableNotification",
          "traits": {
            "smithy.api#documentation": "<p> Enables notifications for the branch. </p>"
          }
        },
        "enableAutoBuild": {
          "target": "com.amazonaws.amplify#EnableAutoBuild",
          "traits": {
            "smithy.api#documentation": "<p> Enables auto building for the branch. </p>"
          }
        },
        "environmentVariables": {
          "target": "com.amazonaws.amplify#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p> The environment variables for the branch. </p>"
          }
        },
        "basicAuthCredentials": {
          "target": "com.amazonaws.amplify#BasicAuthCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The basic authorization credentials for the branch. You must base64-encode the\n            authorization credentials and provide them in the format\n            <code>user:password</code>.</p>"
          }
        },
        "enableBasicAuth": {
          "target": "com.amazonaws.amplify#EnableBasicAuth",
          "traits": {
            "smithy.api#documentation": "<p> Enables basic authorization for the branch. </p>"
          }
        },
        "enablePerformanceMode": {
          "target": "com.amazonaws.amplify#EnablePerformanceMode",
          "traits": {
            "smithy.api#documentation": "<p>Enables performance mode for the branch.</p>\n        <p>Performance mode optimizes for faster hosting performance by keeping content cached at\n            the edge for a longer interval. When performance mode is enabled, hosting configuration\n            or code changes can take up to 10 minutes to roll out. </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.amplify#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tag for the branch. </p>"
          }
        },
        "buildSpec": {
          "target": "com.amazonaws.amplify#BuildSpec",
          "traits": {
            "smithy.api#documentation": "<p> The build specification (build spec) for the branch. </p>"
          }
        },
        "ttl": {
          "target": "com.amazonaws.amplify#TTL",
          "traits": {
            "smithy.api#documentation": "<p> The content Time To Live (TTL) for the website in seconds. </p>"
          }
        },
        "displayName": {
          "target": "com.amazonaws.amplify#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p> The display name for a branch. This is used as the default domain prefix. </p>"
          }
        },
        "enablePullRequestPreview": {
          "target": "com.amazonaws.amplify#EnablePullRequestPreview",
          "traits": {
            "smithy.api#documentation": "<p> Enables pull request previews for this branch. </p>"
          }
        },
        "pullRequestEnvironmentName": {
          "target": "com.amazonaws.amplify#PullRequestEnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p> The Amplify environment name for the pull request. </p>"
          }
        },
        "backendEnvironmentArn": {
          "target": "com.amazonaws.amplify#BackendEnvironmentArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) for a backend environment that is part of an Amplify\n            app. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The request structure for the create branch request. </p>"
      }
    },
    "com.amazonaws.amplify#CreateBranchResult": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "com.amazonaws.amplify#Branch",
          "traits": {
            "smithy.api#documentation": "<p> Describes the branch for an Amplify app, which maps to a third-party repository\n            branch. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The result structure for create branch request. </p>"
      }
    },
    "com.amazonaws.amplify#CreateDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#CreateDeploymentRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#CreateDeploymentResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#LimitExceededException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a deployment for a manually deployed Amplify app. Manually deployed apps are\n            not connected to a repository. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps/{appId}/branches/{branchName}/deployments",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#CreateDeploymentRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p> The unique ID for an Amplify app. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "branchName": {
          "target": "com.amazonaws.amplify#BranchName",
          "traits": {
            "smithy.api#documentation": "<p> The name for the branch, for the job. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "fileMap": {
          "target": "com.amazonaws.amplify#FileMap",
          "traits": {
            "smithy.api#documentation": "<p> An optional file map that contains the file name as the key and the file content md5\n            hash as the value. If this argument is provided, the service will generate a unique\n            upload URL per file. Otherwise, the service will only generate a single upload URL for\n            the zipped files. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The request structure for the create a new deployment request. </p>"
      }
    },
    "com.amazonaws.amplify#CreateDeploymentResult": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.amplify#JobId",
          "traits": {
            "smithy.api#documentation": "<p> The job ID for this deployment. will supply to start deployment api. </p>"
          }
        },
        "fileUploadUrls": {
          "target": "com.amazonaws.amplify#FileUploadUrls",
          "traits": {
            "smithy.api#documentation": "<p> When the <code>fileMap</code> argument is provided in the request,\n                <code>fileUploadUrls</code> will contain a map of file names to upload URLs. </p>",
            "smithy.api#required": {}
          }
        },
        "zipUploadUrl": {
          "target": "com.amazonaws.amplify#UploadUrl",
          "traits": {
            "smithy.api#documentation": "<p> When the <code>fileMap</code> argument is not provided in the request, this\n                <code>zipUploadUrl</code> is returned. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The result structure for the create a new deployment request. </p>"
      }
    },
    "com.amazonaws.amplify#CreateDomainAssociation": {
      "type": "operation",
      "input": {
[...]
