{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.amplifyuibuilder#ActionParameters": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentProperty",
          "traits": {
            "smithy.api#documentation": "<p>The type of navigation action. Valid values are <code>url</code> and <code>anchor</code>. This value is required for a navigation action.</p>"
          }
        },
        "url": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentProperty",
          "traits": {
            "smithy.api#documentation": "<p>The URL to the location to open. Specify this value for a navigation action.</p>"
          }
        },
        "anchor": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentProperty",
          "traits": {
            "smithy.api#documentation": "<p>The HTML anchor link to the location to open. Specify this value for a navigation action.</p>"
          }
        },
        "target": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentProperty",
          "traits": {
            "smithy.api#documentation": "<p>The element within the same component to modify when the action occurs.</p>"
          }
        },
        "global": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentProperty",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the user should be signed out globally. Specify this value for an auth sign out action.</p>"
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data model. Use when the action performs an operation on an Amplify DataStore\n      model.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentProperty",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the component that the <code>ActionParameters</code> apply to.</p>"
          }
        },
        "fields": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentProperties",
          "traits": {
            "smithy.api#documentation": "<p>A dictionary of key-value pairs mapping Amplify Studio properties to fields in a data model. Use when the action\n      performs an operation on an Amplify DataStore model.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.amplifyuibuilder#MutationActionSetStateParameter",
          "traits": {
            "smithy.api#documentation": "<p>A key-value pair that specifies the state property name and its initial value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the event action configuration for an element of a <code>Component</code>\n      or <code>ComponentChild</code>. Use for the workflow feature in Amplify Studio\n      that allows you to bind events and actions to components. <code>ActionParameters</code>\n      defines the action that is performed when an event occurs on the component.</p>"
      }
    },
    "com.amazonaws.amplifyuibuilder#AmplifyUIBuilder": {
      "type": "service",
      "version": "2021-08-11",
      "operations": [
        {
          "target": "com.amazonaws.amplifyuibuilder#ExchangeCodeForToken"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#GetMetadata"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#PutMetadataFlag"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#RefreshToken"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.amplifyuibuilder#ComponentResource"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#FormResource"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#ThemeResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "AmplifyUIBuilder",
          "arnNamespace": "amplifyuibuilder",
          "cloudFormationName": "AmplifyUIBuilder",
          "cloudTrailEventSource": "amplifyuibuilder.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "amplifyuibuilder"
        },
        "aws.iam#defineConditionKeys": {
          "aws:ResourceTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access based on the tags associated with the resource",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-resourcetag"
          },
          "aws:RequestTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access based on the tags that are passed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
          },
          "aws:TagKeys": {
            "type": "ArrayOfString",
            "documentation": "Filters access based on the tag keys that are passed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-tagkeys"
          }
        },
        "aws.iam#supportedPrincipalTypes": [
          "Root",
          "IAMUser",
          "IAMRole",
          "FederatedUser"
        ],
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {},
        "smithy.api#documentation": "<p>The Amplify UI Builder API provides a programmatic interface for creating\n      and configuring user interface (UI) component libraries and themes for use in your Amplify applications. You can then connect these UI components to an application's\n      backend Amazon Web Services resources.</p>\n         <p>You can also use the Amplify Studio visual designer to create UI components\n      and model data for an app. For more information, see <a href=\"https://docs.amplify.aws/console/adminui/intro\">Introduction</a> in the\n        <i>Amplify Docs</i>.</p>\n         <p>The Amplify Framework is a comprehensive set of SDKs, libraries, tools, and\n      documentation for client app development. For more information, see the <a href=\"https://docs.amplify.aws/\">Amplify Framework</a>. For more information about\n      deploying an Amplify application to Amazon Web Services, see the <a href=\"https://docs.aws.amazon.com/amplify/latest/userguide/welcome.html\">Amplify User Guide</a>.</p>",
        "smithy.api#title": "AWS Amplify UI Builder",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://amplifyuibuilder-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://amplifyuibuilder-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://amplifyuibuilder.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://amplifyuibuilder.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://amplifyuibuilder.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.amplifyuibuilder#Component": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the Amplify app associated with the component.</p>",
            "smithy.api#required": {}
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the backend environment that is a part of the Amplify\n      app.</p>",
            "smithy.api#required": {}
          }
        },
        "sourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the component in its original source system, such as Figma.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.amplifyuibuilder#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the component.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>",
            "smithy.api#required": {}
          }
        },
        "componentType": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the component. This can be an Amplify custom UI component or\n      another custom component.</p>",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentProperties",
          "traits": {
            "smithy.api#documentation": "<p>Describes the component's properties. You can't specify <code>tags</code> as a valid\n      property for <code>properties</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "children": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentChildList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the component's <code>ComponentChild</code> instances.</p>"
          }
        },
        "variants": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentVariants",
          "traits": {
            "smithy.api#documentation": "<p>A list of the component's variants. A variant is a unique style configuration of a main\n      component.</p>",
            "smithy.api#required": {}
          }
        },
        "overrides": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentOverrides",
          "traits": {
            "smithy.api#documentation": "<p>Describes the component's properties that can be overriden in a customized instance of the\n      component. You can't specify <code>tags</code> as a valid property for\n      <code>overrides</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "bindingProperties": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentBindingProperties",
          "traits": {
            "smithy.api#documentation": "<p>The information to connect a component's properties to data at runtime. You can't specify\n        <code>tags</code> as a valid property for <code>bindingProperties</code>.</p>\n         <p/>",
            "smithy.api#required": {}
          }
        },
        "collectionProperties": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentCollectionProperties",
          "traits": {
            "smithy.api#documentation": "<p>The data binding configuration for the component's properties. Use this for a collection\n      component. You can't specify <code>tags</code> as a valid property for\n        <code>collectionProperties</code>.</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The time that the component was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "modifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The time that the component was modified.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "tags": {
          "target": "com.amazonaws.amplifyuibuilder#Tags",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>One or more key-value pairs to use when tagging the component.</p>"
          }
        },
        "events": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentEvents",
          "traits": {
            "smithy.api#documentation": "<p>Describes the events that can be raised on the component. Use for the workflow feature in Amplify Studio that allows you to\n      bind events and actions to components.</p>"
          }
        },
        "schemaVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The schema version of the component when it was imported.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the configuration settings for a user interface (UI) element for an Amplify app. A component is configured as a primary, stand-alone UI element. Use\n        <code>ComponentChild</code> to configure an instance of a <code>Component</code>. A\n        <code>ComponentChild</code> instance inherits the configuration of the main\n        <code>Component</code>.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.amplifyuibuilder#ComponentResource"
          }
        ]
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentBindingProperties": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.amplifyuibuilder#ComponentBindingPropertiesValue"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentBindingPropertiesValue": {
      "type": "structure",
      "members": {
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The property type.</p>"
          }
        },
        "bindingProperties": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentBindingPropertiesValueProperties",
          "traits": {
            "smithy.api#documentation": "<p>Describes the properties to customize with data at runtime.</p>"
          }
        },
        "defaultValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The default value of the property.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the data binding configuration for a component at runtime. You can use\n        <code>ComponentBindingPropertiesValue</code> to add exposed properties to a component to\n      allow different values to be entered when a component is reused in different places in an\n      app.</p>"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentBindingPropertiesValueProperties": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An Amplify DataStore model.</p>"
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The field to bind the data to.</p>"
          }
        },
        "predicates": {
          "target": "com.amazonaws.amplifyuibuilder#PredicateList",
          "traits": {
            "smithy.api#documentation": "<p>A list of predicates for binding a component's properties to data.</p>"
          }
        },
        "userAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An authenticated user attribute.</p>"
          }
        },
        "bucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon S3 bucket.</p>"
          }
        },
        "key": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The storage key for an Amazon S3 bucket.</p>"
          }
        },
        "defaultValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The default value to assign to the property.</p>"
          }
        },
        "slotName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a component slot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the data binding configuration for a specific property using data stored in\n        Amazon Web Services. For Amazon Web Services connected properties, you can bind a property to\n      data stored in an Amazon S3 bucket, an Amplify DataStore model or an\n      authenticated user attribute.</p>"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentChild": {
      "type": "structure",
      "members": {
        "componentType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the child component. </p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the child component.</p>",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentProperties",
          "traits": {
            "smithy.api#documentation": "<p>Describes the properties of the child component. You can't specify <code>tags</code> as a\n      valid property for <code>properties</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "children": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentChildList",
          "traits": {
            "smithy.api#documentation": "<p>The list of <code>ComponentChild</code> instances for this component.</p>"
          }
        },
        "events": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentEvents",
          "traits": {
            "smithy.api#documentation": "<p>Describes the events that can be raised on the child component. Use for the workflow feature in Amplify Studio that allows you to\n      bind events and actions to components.</p>"
          }
        },
        "sourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the child component in its original source system, such as Figma.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A nested UI configuration within a parent <code>Component</code>.</p>"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentChildList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplifyuibuilder#ComponentChild"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentCollectionProperties": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.amplifyuibuilder#ComponentDataConfiguration"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentConditionProperty": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the conditional property.</p>"
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a field. Specify this when the property is a data model.</p>"
          }
        },
        "operator": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The operator to use to perform the evaluation, such as <code>eq</code> to represent\n      equals.</p>"
          }
        },
        "operand": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the property to evaluate.</p>"
          }
        },
        "then": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentProperty",
          "traits": {
            "smithy.api#documentation": "<p>The value to assign to the property if the condition is met.</p>"
          }
        },
        "else": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentProperty",
          "traits": {
            "smithy.api#documentation": "<p>The value to assign to the property if the condition is not met.</p>"
          }
        },
        "operandType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the property to evaluate.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a conditional expression to set a component property. Use\n        <code>ComponentConditionProperty</code> to set a property to different values conditionally,\n      based on the value of another property.</p>"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentDataConfiguration": {
      "type": "structure",
      "members": {
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data model to use to bind data to a component.</p>",
            "smithy.api#required": {}
          }
        },
        "sort": {
          "target": "com.amazonaws.amplifyuibuilder#SortPropertyList",
          "traits": {
            "smithy.api#documentation": "<p>Describes how to sort the component's properties.</p>"
          }
        },
        "predicate": {
          "target": "com.amazonaws.amplifyuibuilder#Predicate",
          "traits": {
            "smithy.api#documentation": "<p>Represents the conditional logic to use when binding data to a component. Use this\n      property to retrieve only a subset of the data in a collection.</p>"
          }
        },
        "identifiers": {
          "target": "com.amazonaws.amplifyuibuilder#IdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of IDs to use to bind data to a component. Use this property to bind specifically\n      chosen data, rather than data retrieved from a query.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the configuration for binding a component's properties to data.</p>"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentEvent": {
      "type": "structure",
      "members": {
        "action": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The action to perform when a specific event is raised.</p>"
          }
        },
        "parameters": {
          "target": "com.amazonaws.amplifyuibuilder#ActionParameters",
          "traits": {
            "smithy.api#documentation": "<p>Describes information about the action.</p>"
          }
        },
        "bindingEvent": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Binds an event to an action on a component. When you specify a <code>bindingEvent</code>,\n      the event is called when the action is performed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the configuration of an event. You can bind an event and a corresponding\n      action to a <code>Component</code> or a <code>ComponentChild</code>. A button click\n      is an example of an event. </p>"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentEvents": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.amplifyuibuilder#ComponentEvent"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplifyuibuilder#Component"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentOverrides": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.amplifyuibuilder#ComponentOverridesValue"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentOverridesValue": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentProperties": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.amplifyuibuilder#ComponentProperty"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentProperty": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The value to assign to the component property.</p>"
          }
        },
        "bindingProperties": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentPropertyBindingProperties",
          "traits": {
            "smithy.api#documentation": "<p>The information to bind the component property to data at runtime.</p>"
          }
        },
        "collectionBindingProperties": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentPropertyBindingProperties",
          "traits": {
            "smithy.api#documentation": "<p>The information to bind the component property to data at runtime. Use this for collection\n      components.</p>"
          }
        },
        "defaultValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The default value to assign to the component property.</p>"
          }
        },
        "model": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The data model to use to assign a value to the component property.</p>"
          }
        },
        "bindings": {
          "target": "com.amazonaws.amplifyuibuilder#FormBindings",
          "traits": {
            "smithy.api#documentation": "<p>The information to bind the component property to form data.</p>"
          }
        },
        "event": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An event that occurs in your app. Use this for workflow data binding.</p>"
          }
        },
        "userAttribute": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An authenticated user attribute to use to assign a value to the component property.</p>"
          }
        },
        "concat": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentPropertyList",
          "traits": {
            "smithy.api#documentation": "<p>A list of component properties to concatenate to create the value to assign to this\n      component property.</p>"
          }
        },
        "condition": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentConditionProperty",
          "traits": {
            "smithy.api#documentation": "<p>The conditional expression to use to assign a value to the component property.</p>"
          }
        },
        "configured": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the user configured the property in Amplify Studio after\n      importing it.</p>"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The component type.</p>"
          }
        },
        "importedValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The default value assigned to the property when the component is imported into an\n      app.</p>"
          }
        },
        "componentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component that is affected by an event.</p>"
          }
        },
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component's property that is affected by an event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the configuration for all of a component's properties. Use\n        <code>ComponentProperty</code> to specify the values to render or bind by default.</p>"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentPropertyBindingProperties": {
      "type": "structure",
      "members": {
        "property": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The component property to bind to the data field.</p>",
            "smithy.api#required": {}
          }
        },
        "field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The data field to bind the property to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Associates a component property to a binding property. This enables exposed properties on\n      the top level component to propagate data to the component's property values.</p>"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentPropertyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplifyuibuilder#ComponentProperty"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentResource": {
      "type": "resource",
      "identifiers": {
        "id": {
          "target": "com.amazonaws.amplifyuibuilder#Uuid"
        },
        "appId": {
          "target": "smithy.api#String"
        },
        "environmentName": {
          "target": "smithy.api#String"
        }
      },
      "create": {
        "target": "com.amazonaws.amplifyuibuilder#CreateComponent"
      },
      "read": {
        "target": "com.amazonaws.amplifyuibuilder#GetComponent"
      },
      "update": {
        "target": "com.amazonaws.amplifyuibuilder#UpdateComponent"
      },
      "delete": {
        "target": "com.amazonaws.amplifyuibuilder#DeleteComponent"
      },
      "list": {
        "target": "com.amazonaws.amplifyuibuilder#ListComponents"
      },
      "collectionOperations": [
        {
          "target": "com.amazonaws.amplifyuibuilder#ExportComponents"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "app/{appId}/environment/{environmentName}/components/{id}"
        },
        "aws.cloudformation#cfnResource": {
          "name": "Component",
          "additionalSchemas": [
            "com.amazonaws.amplifyuibuilder#Component"
          ]
        },
        "aws.iam#conditionKeys": [
          "aws:ResourceTag/${TagKey}"
        ]
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentSummary": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the Amplify app associated with the component.</p>",
            "smithy.api#required": {}
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the backend environment that is a part of the Amplify\n      app.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.amplifyuibuilder#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the component.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>",
            "smithy.api#required": {}
          }
        },
        "componentType": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentType",
          "traits": {
            "smithy.api#documentation": "<p>The component type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of a component. This is a read-only data type that is returned by\n        <code>ListComponents</code>.</p>"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplifyuibuilder#ComponentSummary"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentVariant": {
      "type": "structure",
      "members": {
        "variantValues": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentVariantValues",
          "traits": {
            "smithy.api#documentation": "<p>The combination of variants that comprise this variant. You can't specify\n        <code>tags</code> as a valid property for <code>variantValues</code>.</p>"
          }
        },
        "overrides": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentOverrides",
          "traits": {
            "smithy.api#documentation": "<p>The properties of the component variant that can be overriden when customizing an instance\n      of the component. You can't specify <code>tags</code> as a valid property for\n        <code>overrides</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the style configuration of a unique variation of a main component.</p>"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentVariantValues": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.amplifyuibuilder#ComponentVariants": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplifyuibuilder#ComponentVariant"
      }
    },
    "com.amazonaws.amplifyuibuilder#CreateComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplifyuibuilder#CreateComponentRequest"
      },
      "output": {
        "target": "com.amazonaws.amplifyuibuilder#CreateComponentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplifyuibuilder#InternalServerException"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": [
          "aws:TagKeys",
          "aws:RequestTag/${TagKey}"
        ],
        "aws.iam#requiredActions": [
          "amplify:GetApp"
        ],
        "smithy.api#documentation": "<p>Creates a new component for an Amplify app.</p>",
        "smithy.api#http": {
          "uri": "/app/{appId}/environment/{environmentName}/components",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.amplifyuibuilder#CreateComponentData": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component</p>",
            "smithy.api#required": {}
          }
        },
        "sourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the component in its original source system, such as Figma.</p>"
          }
        },
        "componentType": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentType",
          "traits": {
            "smithy.api#documentation": "<p>The component type. This can be an Amplify custom UI component or another\n      custom component.</p>",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentProperties",
          "traits": {
            "smithy.api#documentation": "<p>Describes the component's properties.</p>",
            "smithy.api#required": {}
          }
        },
        "children": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentChildList",
          "traits": {
            "smithy.api#documentation": "<p>A list of child components that are instances of the main component.</p>"
          }
        },
        "variants": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentVariants",
          "traits": {
            "smithy.api#documentation": "<p>A list of the unique variants of this component.</p>",
            "smithy.api#required": {}
          }
        },
        "overrides": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentOverrides",
          "traits": {
            "smithy.api#documentation": "<p>Describes the component properties that can be overriden to customize an instance of the\n      component.</p>",
            "smithy.api#required": {}
          }
        },
        "bindingProperties": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentBindingProperties",
          "traits": {
            "smithy.api#documentation": "<p>The data binding information for the component's properties.</p>",
            "smithy.api#required": {}
          }
        },
        "collectionProperties": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentCollectionProperties",
          "traits": {
            "smithy.api#documentation": "<p>The data binding configuration for customizing a component's properties. Use this for a\n      collection component.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.amplifyuibuilder#Tags",
          "traits": {
            "smithy.api#documentation": "<p>One or more key-value pairs to use when tagging the component data.</p>"
          }
        },
        "events": {
          "target": "com.amazonaws.amplifyuibuilder#ComponentEvents",
          "traits": {
            "smithy.api#documentation": "<p>The event configuration for the component. Use for the workflow feature in Amplify Studio that allows you to bind events and actions to components.</p>"
          }
        },
        "schemaVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The schema version of the component when it was imported.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents all of the information that is required to create a component.</p>"
      }
    },
    "com.amazonaws.amplifyuibuilder#CreateComponentRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the Amplify app to associate with the component.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the backend environment that is a part of the Amplify\n      app.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The unique client token.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": {}
          }
        },
        "componentToCreate": {
          "target": "com.amazonaws.amplifyuibuilder#CreateComponentData",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Represents the configuration of the component to create.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.amplifyuibuilder#CreateComponentResponse": {
      "type": "structure",
      "members": {
        "entity": {
          "target": "com.amazonaws.amplifyuibuilder#Component",
          "traits": {
            "smithy.api#documentation": "<p>Describes the configuration of the new component.</p>",
            "smithy.api#httpPayload": {}
          }
        }
      }
    },
    "com.amazonaws.amplifyuibuilder#CreateForm": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplifyuibuilder#CreateFormRequest"
      },
      "output": {
        "target": "com.amazonaws.amplifyuibuilder#CreateFormResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplifyuibuilder#InternalServerException"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": [
          "aws:TagKeys",
          "aws:RequestTag/${TagKey}"
        ],
        "aws.iam#requiredActions": [
          "amplify:GetApp"
        ],
        "smithy.api#documentation": "<p>Creates a new form for an Amplify app.</p>",
        "smithy.api#http": {
          "uri": "/app/{appId}/environment/{environmentName}/forms",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.amplifyuibuilder#CreateFormData": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.amplifyuibuilder#FormName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the form.</p>",
            "smithy.api#required": {}
          }
        },
        "dataType": {
          "target": "com.amazonaws.amplifyuibuilder#FormDataTypeConfig",
          "traits": {
            "smithy.api#documentation": "<p>The type of data source to use to create the form.</p>",
            "smithy.api#required": {}
          }
        },
        "formActionType": {
          "target": "com.amazonaws.amplifyuibuilder#FormActionType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to perform a create or update action on the form.</p>",
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "com.amazonaws.amplifyuibuilder#FieldsMap",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the form's fields.</p>",
            "smithy.api#required": {}
          }
        },
        "style": {
          "target": "com.amazonaws.amplifyuibuilder#FormStyle",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the form's style.</p>",
            "smithy.api#required": {}
          }
        },
        "sectionalElements": {
          "target": "com.amazonaws.amplifyuibuilder#SectionalElementMap",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the visual helper elements for the form. These elements\n      are not associated with any data.</p>",
            "smithy.api#required": {}
          }
        },
        "schemaVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The schema version of the form.</p>",
            "smithy.api#required": {}
          }
        },
        "cta": {
          "target": "com.amazonaws.amplifyuibuilder#FormCTA",
          "traits": {
            "smithy.api#documentation": "<p>The <code>FormCTA</code> object that stores the call to action configuration for the\n      form.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.amplifyuibuilder#Tags",
          "traits": {
            "smithy.api#documentation": "<p>One or more key-value pairs to use when tagging the form data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents all of the information that is required to create a form.</p>"
      }
    },
    "com.amazonaws.amplifyuibuilder#CreateFormRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the Amplify app to associate with the form.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the backend environment that is a part of the Amplify app.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The unique client token.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": {}
          }
        },
        "formToCreate": {
          "target": "com.amazonaws.amplifyuibuilder#CreateFormData",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Represents the configuration of the form to create.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.amplifyuibuilder#CreateFormResponse": {
      "type": "structure",
      "members": {
        "entity": {
          "target": "com.amazonaws.amplifyuibuilder#Form",
          "traits": {
            "smithy.api#documentation": "<p>Describes the configuration of the new form.</p>",
            "smithy.api#httpPayload": {}
          }
        }
      }
    },
    "com.amazonaws.amplifyuibuilder#CreateTheme": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplifyuibuilder#CreateThemeRequest"
      },
      "output": {
        "target": "com.amazonaws.amplifyuibuilder#CreateThemeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplifyuibuilder#InternalServerException"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": [
          "aws:TagKeys",
          "aws:RequestTag/${TagKey}"
        ],
        "aws.iam#requiredActions": [
          "amplify:GetApp"
        ],
        "smithy.api#documentation": "<p>Creates a theme to apply to the components in an Amplify app.</p>",
        "smithy.api#http": {
          "uri": "/app/{appId}/environment/{environmentName}/themes",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.amplifyuibuilder#CreateThemeData": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.amplifyuibuilder#ThemeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the theme.</p>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.amplifyuibuilder#ThemeValuesList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that deﬁnes the properties of the theme.</p>",
            "smithy.api#required": {}
          }
        },
        "overrides": {
          "target": "com.amazonaws.amplifyuibuilder#ThemeValuesList",
          "traits": {
            "smithy.api#documentation": "<p>Describes the properties that can be overriden to customize an instance of the\n      theme.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.amplifyuibuilder#Tags",
          "traits": {
            "smithy.api#documentation": "<p>One or more key-value pairs to use when tagging the theme data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents all of the information that is required to create a theme.</p>"
      }
    },
    "com.amazonaws.amplifyuibuilder#CreateThemeRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the Amplify app associated with the theme.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the backend environment that is a part of the Amplify\n      app.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The unique client token.</p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": {}
          }
        },
        "themeToCreate": {
          "target": "com.amazonaws.amplifyuibuilder#CreateThemeData",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Represents the configuration of the theme to create.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.amplifyuibuilder#CreateThemeResponse": {
      "type": "structure",
      "members": {
        "entity": {
          "target": "com.amazonaws.amplifyuibuilder#Theme",
          "traits": {
            "smithy.api#documentation": "<p>Describes the configuration of the new theme.</p>",
            "smithy.api#httpPayload": {}
          }
        }
      }
    },
    "com.amazonaws.amplifyuibuilder#DeleteComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplifyuibuilder#DeleteComponentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplifyuibuilder#InternalServerException"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#requiredActions": [
          "amplify:GetApp"
        ],
        "smithy.api#documentation": "<p>Deletes a component from an Amplify app.</p>",
        "smithy.api#http": {
          "uri": "/app/{appId}/environment/{environmentName}/components/{id}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.amplifyuibuilder#DeleteComponentRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the Amplify app associated with the component to\n      delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the backend environment that is a part of the Amplify\n      app.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.amplifyuibuilder#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the component to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.amplifyuibuilder#DeleteForm": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplifyuibuilder#DeleteFormRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplifyuibuilder#InternalServerException"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#requiredActions": [
          "amplify:GetApp"
        ],
        "smithy.api#documentation": "<p>Deletes a form from an Amplify app.</p>",
        "smithy.api#http": {
          "uri": "/app/{appId}/environment/{environmentName}/forms/{id}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.amplifyuibuilder#DeleteFormRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the Amplify app associated with the form to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the backend environment that is a part of the Amplify app.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.amplifyuibuilder#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the form to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.amplifyuibuilder#DeleteTheme": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplifyuibuilder#DeleteThemeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplifyuibuilder#InternalServerException"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.amplifyuibuilder#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#requiredActions": [
          "amplify:GetApp"
        ],
        "smithy.api#documentation": "<p>Deletes a theme from an Amplify app.</p>",
        "smithy.api#http": {
          "uri": "/app/{appId}/environment/{environmentName}/themes/{id}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.amplifyuibuilder#DeleteThemeRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the Amplify app associated with the theme to\n      delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "environmentName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the backend environment that is a part of the Amplify\n      app.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.amplifyuibuilder#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the theme to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
[...]
