{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.amplify#AccessToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#ActiveJobId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#Amplify": {
      "type": "service",
      "version": "2017-07-25",
      "operations": [
        {
          "target": "com.amazonaws.amplify#CreateApp"
        },
        {
          "target": "com.amazonaws.amplify#CreateBackendEnvironment"
        },
        {
          "target": "com.amazonaws.amplify#CreateBranch"
        },
        {
          "target": "com.amazonaws.amplify#CreateDeployment"
        },
        {
          "target": "com.amazonaws.amplify#CreateDomainAssociation"
        },
        {
          "target": "com.amazonaws.amplify#CreateWebhook"
        },
        {
          "target": "com.amazonaws.amplify#DeleteApp"
        },
        {
          "target": "com.amazonaws.amplify#DeleteBackendEnvironment"
        },
        {
          "target": "com.amazonaws.amplify#DeleteBranch"
        },
        {
          "target": "com.amazonaws.amplify#DeleteDomainAssociation"
        },
        {
          "target": "com.amazonaws.amplify#DeleteJob"
        },
        {
          "target": "com.amazonaws.amplify#DeleteWebhook"
        },
        {
          "target": "com.amazonaws.amplify#GenerateAccessLogs"
        },
        {
          "target": "com.amazonaws.amplify#GetApp"
        },
        {
          "target": "com.amazonaws.amplify#GetArtifactUrl"
        },
        {
          "target": "com.amazonaws.amplify#GetBackendEnvironment"
        },
        {
          "target": "com.amazonaws.amplify#GetBranch"
        },
        {
          "target": "com.amazonaws.amplify#GetDomainAssociation"
        },
        {
          "target": "com.amazonaws.amplify#GetJob"
        },
        {
          "target": "com.amazonaws.amplify#GetWebhook"
        },
        {
          "target": "com.amazonaws.amplify#ListApps"
        },
        {
          "target": "com.amazonaws.amplify#ListArtifacts"
        },
        {
          "target": "com.amazonaws.amplify#ListBackendEnvironments"
        },
        {
          "target": "com.amazonaws.amplify#ListBranches"
        },
        {
          "target": "com.amazonaws.amplify#ListDomainAssociations"
        },
        {
          "target": "com.amazonaws.amplify#ListJobs"
        },
        {
          "target": "com.amazonaws.amplify#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.amplify#ListWebhooks"
        },
        {
          "target": "com.amazonaws.amplify#StartDeployment"
        },
        {
          "target": "com.amazonaws.amplify#StartJob"
        },
        {
          "target": "com.amazonaws.amplify#StopJob"
        },
        {
          "target": "com.amazonaws.amplify#TagResource"
        },
        {
          "target": "com.amazonaws.amplify#UntagResource"
        },
        {
          "target": "com.amazonaws.amplify#UpdateApp"
        },
        {
          "target": "com.amazonaws.amplify#UpdateBranch"
        },
        {
          "target": "com.amazonaws.amplify#UpdateDomainAssociation"
        },
        {
          "target": "com.amazonaws.amplify#UpdateWebhook"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Amplify",
          "arnNamespace": "amplify",
          "cloudFormationName": "Amplify",
          "cloudTrailEventSource": "amplify.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "amplify"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>\n            Amplify is a fully managed continuous deployment and hosting service for modern web apps.\n        </p>",
        "smithy.api#title": "AWS Amplify",
        "smithy.api#xmlNamespace": {
          "uri": "http://amplify.amazonaws.com"
        }
      }
    },
    "com.amazonaws.amplify#App": {
      "type": "structure",
      "members": {
        "appArn": {
          "target": "com.amazonaws.amplify#AppArn",
          "traits": {
            "smithy.api#documentation": "<p>\n            ARN for the Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for the Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "autoBranchCreationConfig": {
          "target": "com.amazonaws.amplify#AutoBranchCreationConfig",
          "traits": {
            "smithy.api#documentation": "<p>\n            Automated branch creation config for the Amplify App.\n        </p>"
          }
        },
        "autoBranchCreationPatterns": {
          "target": "com.amazonaws.amplify#AutoBranchCreationPatterns",
          "traits": {
            "smithy.api#documentation": "<p>\n            Automated branch creation glob patterns for the Amplify App.\n        </p>"
          }
        },
        "basicAuthCredentials": {
          "target": "com.amazonaws.amplify#BasicAuthCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n            Basic Authorization credentials for branches for the Amplify App.\n        </p>"
          }
        },
        "buildSpec": {
          "target": "com.amazonaws.amplify#BuildSpec",
          "traits": {
            "smithy.api#documentation": "<p>\n            BuildSpec content for Amplify App.\n        </p>"
          }
        },
        "createTime": {
          "target": "com.amazonaws.amplify#CreateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            Create date / time for the Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "customRules": {
          "target": "com.amazonaws.amplify#CustomRules",
          "traits": {
            "smithy.api#documentation": "<p>\n            Custom redirect / rewrite rules for the Amplify App.\n        </p>"
          }
        },
        "defaultDomain": {
          "target": "com.amazonaws.amplify#DefaultDomain",
          "traits": {
            "smithy.api#documentation": "<p>\n            Default domain for the Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.amplify#Description",
          "traits": {
            "smithy.api#documentation": "<p>\n            Description for the Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "enableAutoBranchCreation": {
          "target": "com.amazonaws.amplify#EnableAutoBranchCreation",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enables automated branch creation for the Amplify App.\n        </p>"
          }
        },
        "enableBasicAuth": {
          "target": "com.amazonaws.amplify#EnableBasicAuth",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enables Basic Authorization for branches for the Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "enableBranchAutoBuild": {
          "target": "com.amazonaws.amplify#EnableBranchAutoBuild",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enables auto-building of branches for the Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "environmentVariables": {
          "target": "com.amazonaws.amplify#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>\n            Environment Variables for the Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "iamServiceRoleArn": {
          "target": "com.amazonaws.amplify#ServiceRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>\n            IAM service role ARN for the Amplify App.\n        </p>"
          }
        },
        "name": {
          "target": "com.amazonaws.amplify#Name",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name for the Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "platform": {
          "target": "com.amazonaws.amplify#Platform",
          "traits": {
            "smithy.api#documentation": "<p>\n            Platform for the Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "productionBranch": {
          "target": "com.amazonaws.amplify#ProductionBranch",
          "traits": {
            "smithy.api#documentation": "<p>\n            Structure with Production Branch information.\n        </p>"
          }
        },
        "repository": {
          "target": "com.amazonaws.amplify#Repository",
          "traits": {
            "smithy.api#documentation": "<p>\n            Repository for the Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.amplify#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n            Tag for Amplify App.\n        </p>"
          }
        },
        "updateTime": {
          "target": "com.amazonaws.amplify#UpdateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            Update date / time for the Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Amplify App represents different branches of a repository for building, deploying, and hosting.\n        </p>"
      }
    },
    "com.amazonaws.amplify#AppArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#AppId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#Apps": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplify#App"
      }
    },
    "com.amazonaws.amplify#Artifact": {
      "type": "structure",
      "members": {
        "artifactFileName": {
          "target": "com.amazonaws.amplify#ArtifactFileName",
          "traits": {
            "smithy.api#documentation": "<p>\n            File name for the artifact.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "artifactId": {
          "target": "com.amazonaws.amplify#ArtifactId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for a artifact.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Structure for artifact.\n        </p>"
      }
    },
    "com.amazonaws.amplify#ArtifactFileName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#ArtifactId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#ArtifactUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#Artifacts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplify#Artifact"
      }
    },
    "com.amazonaws.amplify#ArtifactsUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#AssociatedResource": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.amplify#AssociatedResources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplify#AssociatedResource"
      }
    },
    "com.amazonaws.amplify#AutoBranchCreationConfig": {
      "type": "structure",
      "members": {
        "basicAuthCredentials": {
          "target": "com.amazonaws.amplify#BasicAuthCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n            Basic Authorization credentials for the auto created branch.\n        </p>"
          }
        },
        "buildSpec": {
          "target": "com.amazonaws.amplify#BuildSpec",
          "traits": {
            "smithy.api#documentation": "<p>\n            BuildSpec for the auto created branch.\n        </p>"
          }
        },
        "enableAutoBuild": {
          "target": "com.amazonaws.amplify#EnableAutoBuild",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enables auto building for the auto created branch.\n        </p>"
          }
        },
        "enableBasicAuth": {
          "target": "com.amazonaws.amplify#EnableBasicAuth",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enables Basic Auth for the auto created branch.\n        </p>"
          }
        },
        "enablePullRequestPreview": {
          "target": "com.amazonaws.amplify#EnablePullRequestPreview",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enables Pull Request Preview for auto created branch.\n        </p>"
          }
        },
        "environmentVariables": {
          "target": "com.amazonaws.amplify#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>\n            Environment Variables for the auto created branch.\n        </p>"
          }
        },
        "framework": {
          "target": "com.amazonaws.amplify#Framework",
          "traits": {
            "smithy.api#documentation": "<p>\n            Framework for the auto created branch.\n        </p>"
          }
        },
        "pullRequestEnvironmentName": {
          "target": "com.amazonaws.amplify#PullRequestEnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>\n            The Amplify Environment name for the pull request.\n        </p>"
          }
        },
        "stage": {
          "target": "com.amazonaws.amplify#Stage",
          "traits": {
            "smithy.api#documentation": "<p>\n            Stage for the auto created branch.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Structure with auto branch creation config.\n        </p>"
      }
    },
    "com.amazonaws.amplify#AutoBranchCreationPattern": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.amplify#AutoBranchCreationPatterns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplify#AutoBranchCreationPattern"
      }
    },
    "com.amazonaws.amplify#BackendEnvironment": {
      "type": "structure",
      "members": {
        "backendEnvironmentArn": {
          "target": "com.amazonaws.amplify#BackendEnvironmentArn",
          "traits": {
            "smithy.api#documentation": "<p>\n            Arn for a backend environment, part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "com.amazonaws.amplify#CreateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            Creation date and time for a backend environment, part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "deploymentArtifacts": {
          "target": "com.amazonaws.amplify#DeploymentArtifacts",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name of deployment artifacts.\n        </p>"
          }
        },
        "environmentName": {
          "target": "com.amazonaws.amplify#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name for a backend environment, part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "stackName": {
          "target": "com.amazonaws.amplify#StackName",
          "traits": {
            "smithy.api#documentation": "<p>\n            CloudFormation stack name of backend environment.\n        </p>"
          }
        },
        "updateTime": {
          "target": "com.amazonaws.amplify#UpdateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            Last updated date and time for a backend environment, part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Backend environment for an Amplify App.\n        </p>"
      }
    },
    "com.amazonaws.amplify#BackendEnvironmentArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#BackendEnvironments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplify#BackendEnvironment"
      }
    },
    "com.amazonaws.amplify#BadRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.amplify#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Exception thrown when a request contains unexpected data.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.amplify#BasicAuthCredentials": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2000
        }
      }
    },
    "com.amazonaws.amplify#Branch": {
      "type": "structure",
      "members": {
        "activeJobId": {
          "target": "com.amazonaws.amplify#ActiveJobId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Id of the active job for a branch, part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "associatedResources": {
          "target": "com.amazonaws.amplify#AssociatedResources",
          "traits": {
            "smithy.api#documentation": "<p>\n            List of custom resources that are linked to this branch.\n        </p>"
          }
        },
        "backendEnvironmentArn": {
          "target": "com.amazonaws.amplify#BackendEnvironmentArn",
          "traits": {
            "smithy.api#documentation": "<p>\n            ARN for a Backend Environment, part of an Amplify App.\n        </p>"
          }
        },
        "basicAuthCredentials": {
          "target": "com.amazonaws.amplify#BasicAuthCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n            Basic Authorization credentials for a branch, part of an Amplify App.\n        </p>"
          }
        },
        "branchArn": {
          "target": "com.amazonaws.amplify#BranchArn",
          "traits": {
            "smithy.api#documentation": "<p>\n            ARN for a branch, part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "branchName": {
          "target": "com.amazonaws.amplify#BranchName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name for a branch, part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "buildSpec": {
          "target": "com.amazonaws.amplify#BuildSpec",
          "traits": {
            "smithy.api#documentation": "<p>\n            BuildSpec content for branch for Amplify App.\n        </p>"
          }
        },
        "createTime": {
          "target": "com.amazonaws.amplify#CreateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            Creation date and time for a branch, part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "customDomains": {
          "target": "com.amazonaws.amplify#CustomDomains",
          "traits": {
            "smithy.api#documentation": "<p>\n            Custom domains for a branch, part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.amplify#Description",
          "traits": {
            "smithy.api#documentation": "<p>\n            Description for a branch, part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "destinationBranch": {
          "target": "com.amazonaws.amplify#BranchName",
          "traits": {
            "smithy.api#documentation": "<p>\n            The destination branch if the branch is a pull request branch.\n        </p>"
          }
        },
        "displayName": {
          "target": "com.amazonaws.amplify#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Display name for a branch, will use as the default domain prefix.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "enableAutoBuild": {
          "target": "com.amazonaws.amplify#EnableAutoBuild",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enables auto-building on push for a branch, part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "enableBasicAuth": {
          "target": "com.amazonaws.amplify#EnableBasicAuth",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enables Basic Authorization for a branch, part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "enableNotification": {
          "target": "com.amazonaws.amplify#EnableNotification",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enables notifications for a branch, part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "enablePullRequestPreview": {
          "target": "com.amazonaws.amplify#EnablePullRequestPreview",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enables Pull Request Preview for this branch.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "environmentVariables": {
          "target": "com.amazonaws.amplify#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>\n            Environment Variables specific to a branch, part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "framework": {
          "target": "com.amazonaws.amplify#Framework",
          "traits": {
            "smithy.api#documentation": "<p>\n            Framework for a branch, part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "pullRequestEnvironmentName": {
          "target": "com.amazonaws.amplify#PullRequestEnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>\n            The Amplify Environment name for the pull request.\n        </p>"
          }
        },
        "sourceBranch": {
          "target": "com.amazonaws.amplify#BranchName",
          "traits": {
            "smithy.api#documentation": "<p>\n            The source branch if the branch is a pull request branch.\n        </p>"
          }
        },
        "stage": {
          "target": "com.amazonaws.amplify#Stage",
          "traits": {
            "smithy.api#documentation": "<p>\n            Stage for a branch, part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.amplify#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n            Tag for branch for Amplify App.\n        </p>"
          }
        },
        "thumbnailUrl": {
          "target": "com.amazonaws.amplify#ThumbnailUrl",
          "traits": {
            "smithy.api#documentation": "<p>\n            Thumbnail URL for the branch.\n        </p>"
          }
        },
        "totalNumberOfJobs": {
          "target": "com.amazonaws.amplify#TotalNumberOfJobs",
          "traits": {
            "smithy.api#documentation": "<p>\n            Total number of Jobs part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "com.amazonaws.amplify#TTL",
          "traits": {
            "smithy.api#documentation": "<p>\n            The content TTL for the website in seconds.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "com.amazonaws.amplify#UpdateTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            Last updated date and time for a branch, part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Branch for an Amplify App, which maps to a 3rd party repository branch.\n        </p>"
      }
    },
    "com.amazonaws.amplify#BranchArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#BranchName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#Branches": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplify#Branch"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#BuildSpec": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            BuildSpec file for Amplify app build.\n        </p>",
        "smithy.api#length": {
          "min": 1,
          "max": 25000
        }
      }
    },
    "com.amazonaws.amplify#CertificateVerificationDNSRecord": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#Code": {
      "type": "string"
    },
    "com.amazonaws.amplify#CommitId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#CommitMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10000
        }
      }
    },
    "com.amazonaws.amplify#CommitTime": {
      "type": "timestamp"
    },
    "com.amazonaws.amplify#Condition": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.amplify#Context": {
      "type": "string"
    },
    "com.amazonaws.amplify#CreateApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#CreateAppRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#CreateAppResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#DependentServiceFailureException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#LimitExceededException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Creates a new Amplify App.\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#CreateAppRequest": {
      "type": "structure",
      "members": {
        "accessToken": {
          "target": "com.amazonaws.amplify#AccessToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            Personal Access token for 3rd party source control system for an Amplify App, used to create webhook and read-only\n            deploy key. Token is not stored.\n        </p>"
          }
        },
        "autoBranchCreationConfig": {
          "target": "com.amazonaws.amplify#AutoBranchCreationConfig",
          "traits": {
            "smithy.api#documentation": "<p>\n            Automated branch creation config for the Amplify App.\n        </p>"
          }
        },
        "autoBranchCreationPatterns": {
          "target": "com.amazonaws.amplify#AutoBranchCreationPatterns",
          "traits": {
            "smithy.api#documentation": "<p>\n            Automated branch creation glob patterns for the Amplify App.\n        </p>"
          }
        },
        "basicAuthCredentials": {
          "target": "com.amazonaws.amplify#BasicAuthCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n            Credentials for Basic Authorization for an Amplify App.\n        </p>"
          }
        },
        "buildSpec": {
          "target": "com.amazonaws.amplify#BuildSpec",
          "traits": {
            "smithy.api#documentation": "<p>\n            BuildSpec for an Amplify App\n        </p>"
          }
        },
        "customRules": {
          "target": "com.amazonaws.amplify#CustomRules",
          "traits": {
            "smithy.api#documentation": "<p>\n            Custom rewrite / redirect rules for an Amplify App.\n        </p>"
          }
        },
        "description": {
          "target": "com.amazonaws.amplify#Description",
          "traits": {
            "smithy.api#documentation": "<p>\n            Description for an Amplify App\n        </p>"
          }
        },
        "enableAutoBranchCreation": {
          "target": "com.amazonaws.amplify#EnableAutoBranchCreation",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enables automated branch creation for the Amplify App.\n        </p>"
          }
        },
        "enableBasicAuth": {
          "target": "com.amazonaws.amplify#EnableBasicAuth",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enable Basic Authorization for an Amplify App, this will apply to all branches part of this App.\n        </p>"
          }
        },
        "enableBranchAutoBuild": {
          "target": "com.amazonaws.amplify#EnableBranchAutoBuild",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enable the auto building of branches for an Amplify App.\n        </p>"
          }
        },
        "environmentVariables": {
          "target": "com.amazonaws.amplify#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>\n            Environment variables map for an Amplify App.\n        </p>"
          }
        },
        "iamServiceRoleArn": {
          "target": "com.amazonaws.amplify#ServiceRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>\n            AWS IAM service role for an Amplify App\n        </p>"
          }
        },
        "name": {
          "target": "com.amazonaws.amplify#Name",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name for the Amplify App\n        </p>",
            "smithy.api#required": {}
          }
        },
        "oauthToken": {
          "target": "com.amazonaws.amplify#OauthToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            OAuth token for 3rd party source control system for an Amplify App, used to create webhook and read-only\n            deploy key. OAuth token is not stored.\n        </p>"
          }
        },
        "platform": {
          "target": "com.amazonaws.amplify#Platform",
          "traits": {
            "smithy.api#documentation": "<p>\n            Platform / framework for an Amplify App\n        </p>"
          }
        },
        "repository": {
          "target": "com.amazonaws.amplify#Repository",
          "traits": {
            "smithy.api#documentation": "<p>\n            Repository for an Amplify App\n        </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.amplify#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n            Tag for an Amplify App\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure used to create Apps in Amplify.\n        </p>"
      }
    },
    "com.amazonaws.amplify#CreateAppResult": {
      "type": "structure",
      "members": {
        "app": {
          "target": "com.amazonaws.amplify#App",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.amplify#CreateBackendEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#CreateBackendEnvironmentRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#CreateBackendEnvironmentResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#LimitExceededException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Creates a new backend environment for an Amplify App.\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps/{appId}/backendenvironments",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#CreateBackendEnvironmentRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for an Amplify App.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "deploymentArtifacts": {
          "target": "com.amazonaws.amplify#DeploymentArtifacts",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name of deployment artifacts.\n        </p>"
          }
        },
        "environmentName": {
          "target": "com.amazonaws.amplify#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name for the backend environment.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "stackName": {
          "target": "com.amazonaws.amplify#StackName",
          "traits": {
            "smithy.api#documentation": "<p>\n            CloudFormation stack name of backend environment.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for a backend environment create request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#CreateBackendEnvironmentResult": {
      "type": "structure",
      "members": {
        "backendEnvironment": {
          "target": "com.amazonaws.amplify#BackendEnvironment",
          "traits": {
            "smithy.api#documentation": "<p>\n            Backend environment structure for an amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure for create backend environment.\n        </p>"
      }
    },
    "com.amazonaws.amplify#CreateBranch": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#CreateBranchRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#CreateBranchResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#DependentServiceFailureException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#LimitExceededException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Creates a new Branch for an Amplify App.\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps/{appId}/branches",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#CreateBranchRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for an Amplify App.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "backendEnvironmentArn": {
          "target": "com.amazonaws.amplify#BackendEnvironmentArn",
          "traits": {
            "smithy.api#documentation": "<p>\n            ARN for a Backend Environment, part of an Amplify App.\n        </p>"
          }
        },
        "basicAuthCredentials": {
          "target": "com.amazonaws.amplify#BasicAuthCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n            Basic Authorization credentials for the branch.\n        </p>"
          }
        },
        "branchName": {
          "target": "com.amazonaws.amplify#BranchName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name for the branch.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "buildSpec": {
          "target": "com.amazonaws.amplify#BuildSpec",
          "traits": {
            "smithy.api#documentation": "<p>\n            BuildSpec for the branch.\n        </p>"
          }
        },
        "description": {
          "target": "com.amazonaws.amplify#Description",
          "traits": {
            "smithy.api#documentation": "<p>\n            Description for the branch.\n        </p>"
          }
        },
        "displayName": {
          "target": "com.amazonaws.amplify#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Display name for a branch, will use as the default domain prefix.\n        </p>"
          }
        },
        "enableAutoBuild": {
          "target": "com.amazonaws.amplify#EnableAutoBuild",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enables auto building for the branch.\n        </p>"
          }
        },
        "enableBasicAuth": {
          "target": "com.amazonaws.amplify#EnableBasicAuth",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enables Basic Auth for the branch.\n        </p>"
          }
        },
        "enableNotification": {
          "target": "com.amazonaws.amplify#EnableNotification",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enables notifications for the branch.\n        </p>"
          }
        },
        "enablePullRequestPreview": {
          "target": "com.amazonaws.amplify#EnablePullRequestPreview",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enables Pull Request Preview for this branch.\n        </p>"
          }
        },
        "environmentVariables": {
          "target": "com.amazonaws.amplify#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>\n            Environment Variables for the branch.\n        </p>"
          }
        },
        "framework": {
          "target": "com.amazonaws.amplify#Framework",
          "traits": {
            "smithy.api#documentation": "<p>\n            Framework for the branch.\n        </p>"
          }
        },
        "pullRequestEnvironmentName": {
          "target": "com.amazonaws.amplify#PullRequestEnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>\n            The Amplify Environment name for the pull request.\n        </p>"
          }
        },
        "stage": {
          "target": "com.amazonaws.amplify#Stage",
          "traits": {
            "smithy.api#documentation": "<p>\n            Stage for the branch.\n        </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.amplify#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n            Tag for the branch.\n        </p>"
          }
        },
        "ttl": {
          "target": "com.amazonaws.amplify#TTL",
          "traits": {
            "smithy.api#documentation": "<p>\n            The content TTL for the website in seconds.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for a branch create request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#CreateBranchResult": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "com.amazonaws.amplify#Branch",
          "traits": {
            "smithy.api#documentation": "<p>\n            Branch structure for an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure for create branch request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#CreateDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#CreateDeploymentRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#CreateDeploymentResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#LimitExceededException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Create a deployment for manual deploy apps. (Apps are not connected to repository)\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps/{appId}/branches/{branchName}/deployments",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#CreateDeploymentRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for an Amplify App.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "branchName": {
          "target": "com.amazonaws.amplify#BranchName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name for the branch, for the Job.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "fileMap": {
          "target": "com.amazonaws.amplify#FileMap",
          "traits": {
            "smithy.api#documentation": "<p>\n            Optional file map that contains file name as the key and file content md5 hash as the value.\n            If this argument is provided, the service will generate different upload url per file.\n            Otherwise, the service will only generate a single upload url for the zipped files.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for create a new deployment.\n        </p>"
      }
    },
    "com.amazonaws.amplify#CreateDeploymentResult": {
      "type": "structure",
      "members": {
        "fileUploadUrls": {
          "target": "com.amazonaws.amplify#FileUploadUrls",
          "traits": {
            "smithy.api#documentation": "<p>\n            When the fileMap argument is provided in the request,\n            the fileUploadUrls will contain a map of file names to upload url.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "jobId": {
          "target": "com.amazonaws.amplify#JobId",
          "traits": {
            "smithy.api#documentation": "<p>\n            The jobId for this deployment, will supply to start deployment api.\n        </p>"
          }
        },
        "zipUploadUrl": {
          "target": "com.amazonaws.amplify#UploadUrl",
          "traits": {
            "smithy.api#documentation": "<p>\n            When the fileMap argument is NOT provided. This zipUploadUrl will be returned.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure for create a new deployment.\n        </p>"
      }
    },
    "com.amazonaws.amplify#CreateDomainAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#CreateDomainAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#CreateDomainAssociationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#DependentServiceFailureException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#LimitExceededException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Create a new DomainAssociation on an App\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps/{appId}/domains",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#CreateDomainAssociationRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for an Amplify App.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domainName": {
          "target": "com.amazonaws.amplify#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Domain name for the Domain Association.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "enableAutoSubDomain": {
          "target": "com.amazonaws.amplify#EnableAutoSubDomain",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enables automated creation of Subdomains for branches. (Currently not supported)\n        </p>"
          }
        },
        "subDomainSettings": {
          "target": "com.amazonaws.amplify#SubDomainSettings",
          "traits": {
            "smithy.api#documentation": "<p>\n            Setting structure for the Subdomain.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for create Domain Association request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#CreateDomainAssociationResult": {
      "type": "structure",
      "members": {
        "domainAssociation": {
          "target": "com.amazonaws.amplify#DomainAssociation",
          "traits": {
            "smithy.api#documentation": "<p>\n            Domain Association structure.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure for the create Domain Association request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#CreateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.amplify#CreateWebhook": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#CreateWebhookRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#CreateWebhookResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#DependentServiceFailureException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#LimitExceededException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Create a new webhook on an App.\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps/{appId}/webhooks",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#CreateWebhookRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for an Amplify App.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "branchName": {
          "target": "com.amazonaws.amplify#BranchName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name for a branch, part of an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.amplify#Description",
          "traits": {
            "smithy.api#documentation": "<p>\n            Description for a webhook.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for create webhook request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#CreateWebhookResult": {
      "type": "structure",
      "members": {
        "webhook": {
          "target": "com.amazonaws.amplify#Webhook",
          "traits": {
            "smithy.api#documentation": "<p>\n            Webhook structure.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure for the create webhook request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#CustomDomain": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#CustomDomains": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplify#CustomDomain"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#CustomRule": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.amazonaws.amplify#Condition",
          "traits": {
            "smithy.api#documentation": "<p>\n            The condition for a URL rewrite or redirect rule, e.g. country code.\n        </p>"
          }
        },
        "source": {
          "target": "com.amazonaws.amplify#Source",
          "traits": {
            "smithy.api#documentation": "<p>\n            The source pattern for a URL rewrite or redirect rule.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.amplify#Status",
          "traits": {
            "smithy.api#documentation": "<p>\n            The status code for a URL rewrite or redirect rule.\n        </p>"
          }
        },
        "target": {
          "target": "com.amazonaws.amplify#Target",
          "traits": {
            "smithy.api#documentation": "<p>\n            The target pattern for a URL rewrite or redirect rule.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Custom rewrite / redirect rule.\n        </p>"
      }
    },
    "com.amazonaws.amplify#CustomRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplify#CustomRule"
      }
    },
    "com.amazonaws.amplify#DNSRecord": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#DefaultDomain": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#DeleteApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#DeleteAppRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#DeleteAppResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#DependentServiceFailureException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Delete an existing Amplify App by appId.\n        </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apps/{appId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#DeleteAppRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for an Amplify App.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for an Amplify App delete request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#DeleteAppResult": {
      "type": "structure",
      "members": {
        "app": {
          "target": "com.amazonaws.amplify#App",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure for an Amplify App delete request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#DeleteBackendEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#DeleteBackendEnvironmentRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#DeleteBackendEnvironmentResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#DependentServiceFailureException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Delete backend environment for an Amplify App.\n        </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apps/{appId}/backendenvironments/{environmentName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#DeleteBackendEnvironmentRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id of an Amplify App.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "environmentName": {
          "target": "com.amazonaws.amplify#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name of a backend environment of an Amplify App.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for delete backend environment request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#DeleteBackendEnvironmentResult": {
      "type": "structure",
      "members": {
        "backendEnvironment": {
          "target": "com.amazonaws.amplify#BackendEnvironment",
          "traits": {
            "smithy.api#documentation": "<p>\n            Backend environment structure for an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure of a delete backend environment result.\n        </p>"
      }
    },
    "com.amazonaws.amplify#DeleteBranch": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#DeleteBranchRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#DeleteBranchResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#DependentServiceFailureException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Deletes a branch for an Amplify App.\n        </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apps/{appId}/branches/{branchName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#DeleteBranchRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for an Amplify App.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "branchName": {
          "target": "com.amazonaws.amplify#BranchName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name for the branch.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for delete branch request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#DeleteBranchResult": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "com.amazonaws.amplify#Branch",
          "traits": {
            "smithy.api#documentation": "<p>\n            Branch structure for an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure for delete branch request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#DeleteDomainAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#DeleteDomainAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#DeleteDomainAssociationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#DependentServiceFailureException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Deletes a DomainAssociation.\n        </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apps/{appId}/domains/{domainName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#DeleteDomainAssociationRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for an Amplify App.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domainName": {
          "target": "com.amazonaws.amplify#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name of the domain.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for the delete Domain Association request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#DeleteDomainAssociationResult": {
      "type": "structure",
      "members": {
        "domainAssociation": {
          "target": "com.amazonaws.amplify#DomainAssociation",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.amplify#DeleteJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#DeleteJobRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#DeleteJobResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#LimitExceededException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Delete a job, for an Amplify branch, part of Amplify App.\n        </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#DeleteJobRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for an Amplify App.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "branchName": {
          "target": "com.amazonaws.amplify#BranchName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name for the branch, for the Job.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "jobId": {
          "target": "com.amazonaws.amplify#JobId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for the Job.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for delete job request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#DeleteJobResult": {
      "type": "structure",
      "members": {
        "jobSummary": {
          "target": "com.amazonaws.amplify#JobSummary",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure for the delete job request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#DeleteWebhook": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#DeleteWebhookRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#DeleteWebhookResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#LimitExceededException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Deletes a webhook.\n        </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/webhooks/{webhookId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#DeleteWebhookRequest": {
      "type": "structure",
      "members": {
        "webhookId": {
          "target": "com.amazonaws.amplify#WebhookId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for a webhook.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for the delete webhook request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#DeleteWebhookResult": {
      "type": "structure",
      "members": {
        "webhook": {
          "target": "com.amazonaws.amplify#Webhook",
          "traits": {
            "smithy.api#documentation": "<p>\n            Webhook structure.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure for the delete webhook request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#DependentServiceFailureException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.amplify#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Exception thrown when an operation fails due to a dependent service throwing an exception.\n        </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.amplify#DeploymentArtifacts": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#DisplayName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#DomainAssociation": {
      "type": "structure",
      "members": {
        "certificateVerificationDNSRecord": {
          "target": "com.amazonaws.amplify#CertificateVerificationDNSRecord",
          "traits": {
            "smithy.api#documentation": "<p>\n            DNS Record for certificate verification.\n        </p>"
          }
        },
        "domainAssociationArn": {
          "target": "com.amazonaws.amplify#DomainAssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>\n            ARN for the Domain Association.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "domainName": {
          "target": "com.amazonaws.amplify#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name of the domain.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "domainStatus": {
          "target": "com.amazonaws.amplify#DomainStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n            Status fo the Domain Association.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "enableAutoSubDomain": {
          "target": "com.amazonaws.amplify#EnableAutoSubDomain",
          "traits": {
            "smithy.api#documentation": "<p>\n            Enables automated creation of Subdomains for branches. (Currently not supported)\n        </p>",
            "smithy.api#required": {}
          }
        },
        "statusReason": {
          "target": "com.amazonaws.amplify#StatusReason",
          "traits": {
            "smithy.api#documentation": "<p>\n            Reason for the current status of the Domain Association.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "subDomains": {
          "target": "com.amazonaws.amplify#SubDomains",
          "traits": {
            "smithy.api#documentation": "<p>\n            Subdomains for the Domain Association.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Structure for Domain Association, which associates a custom domain with an Amplify App.\n        </p>"
      }
    },
    "com.amazonaws.amplify#DomainAssociationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#DomainAssociations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplify#DomainAssociation"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#DomainName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#DomainPrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#DomainStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING_VERIFICATION",
            "name": "PENDING_VERIFICATION"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "AVAILABLE",
            "name": "AVAILABLE"
          },
          {
            "value": "PENDING_DEPLOYMENT",
            "name": "PENDING_DEPLOYMENT"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "REQUESTING_CERTIFICATE",
            "name": "REQUESTING_CERTIFICATE"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          }
        ]
      }
    },
    "com.amazonaws.amplify#EnableAutoBranchCreation": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.amplify#EnableAutoBuild": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.amplify#EnableAutoSubDomain": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.amplify#EnableBasicAuth": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.amplify#EnableBranchAutoBuild": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.amplify#EnableNotification": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.amplify#EnablePullRequestPreview": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.amplify#EndTime": {
      "type": "timestamp"
    },
    "com.amazonaws.amplify#EnvKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#EnvValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#EnvironmentName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#EnvironmentVariables": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.amplify#EnvKey"
      },
      "value": {
        "target": "com.amazonaws.amplify#EnvValue"
      }
    },
    "com.amazonaws.amplify#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#FileMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.amplify#FileName"
      },
      "value": {
        "target": "com.amazonaws.amplify#MD5Hash"
      }
    },
    "com.amazonaws.amplify#FileName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#FileUploadUrls": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.amplify#FileName"
      },
      "value": {
        "target": "com.amazonaws.amplify#UploadUrl"
      }
    },
    "com.amazonaws.amplify#Framework": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#GenerateAccessLogs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#GenerateAccessLogsRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#GenerateAccessLogsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Retrieve website access logs for a specific time range via a pre-signed URL.\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps/{appId}/accesslogs",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#GenerateAccessLogsRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for an Amplify App.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domainName": {
          "target": "com.amazonaws.amplify#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name of the domain.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "endTime": {
          "target": "com.amazonaws.amplify#EndTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            The time at which the logs should end, inclusive.\n        </p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.amplify#StartTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            The time at which the logs should start, inclusive.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for the generate access logs request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#GenerateAccessLogsResult": {
      "type": "structure",
      "members": {
        "logUrl": {
          "target": "com.amazonaws.amplify#LogUrl",
          "traits": {
            "smithy.api#documentation": "<p>\n            Pre-signed URL for the requested access logs.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure for the generate access logs request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#GetApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#GetAppRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#GetAppResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Retrieves an existing Amplify App by appId.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps/{appId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#GetAppRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for an Amplify App.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for get App request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#GetAppResult": {
      "type": "structure",
      "members": {
        "app": {
          "target": "com.amazonaws.amplify#App",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.amplify#GetArtifactUrl": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#GetArtifactUrlRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#GetArtifactUrlResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#LimitExceededException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Retrieves artifact info that corresponds to a artifactId.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/artifacts/{artifactId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#GetArtifactUrlRequest": {
      "type": "structure",
      "members": {
        "artifactId": {
          "target": "com.amazonaws.amplify#ArtifactId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for a artifact.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for the get artifact request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#GetArtifactUrlResult": {
      "type": "structure",
      "members": {
        "artifactId": {
          "target": "com.amazonaws.amplify#ArtifactId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for a artifact.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "artifactUrl": {
          "target": "com.amazonaws.amplify#ArtifactUrl",
          "traits": {
            "smithy.api#documentation": "<p>\n            Presigned url for the artifact.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure for the get artifact request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#GetBackendEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#GetBackendEnvironmentRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#GetBackendEnvironmentResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Retrieves a backend environment for an Amplify App.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps/{appId}/backendenvironments/{environmentName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#GetBackendEnvironmentRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for an Amplify App.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "environmentName": {
          "target": "com.amazonaws.amplify#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name for the backend environment.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for get backend environment request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#GetBackendEnvironmentResult": {
      "type": "structure",
      "members": {
        "backendEnvironment": {
          "target": "com.amazonaws.amplify#BackendEnvironment",
          "traits": {
            "smithy.api#documentation": "<p>\n            Backend environment structure for an an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure for get backend environment result.\n        </p>"
      }
    },
    "com.amazonaws.amplify#GetBranch": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#GetBranchRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#GetBranchResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Retrieves a branch for an Amplify App.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps/{appId}/branches/{branchName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#GetBranchRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for an Amplify App.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "branchName": {
          "target": "com.amazonaws.amplify#BranchName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name for the branch.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for get branch request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#GetBranchResult": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "com.amazonaws.amplify#Branch",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.amplify#GetDomainAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#GetDomainAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#GetDomainAssociationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Retrieves domain info that corresponds to an appId and domainName.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps/{appId}/domains/{domainName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#GetDomainAssociationRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for an Amplify App.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "domainName": {
          "target": "com.amazonaws.amplify#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name of the domain.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for the get Domain Association request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#GetDomainAssociationResult": {
      "type": "structure",
      "members": {
        "domainAssociation": {
          "target": "com.amazonaws.amplify#DomainAssociation",
          "traits": {
            "smithy.api#documentation": "<p>\n            Domain Association structure.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure for the get Domain Association request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#GetJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#GetJobRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#GetJobResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#LimitExceededException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Get a job for a branch, part of an Amplify App.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#GetJobRequest": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.amplify#AppId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for an Amplify App.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "branchName": {
          "target": "com.amazonaws.amplify#BranchName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name for the branch, for the Job.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "jobId": {
          "target": "com.amazonaws.amplify#JobId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for the Job.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for get job request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#GetJobResult": {
      "type": "structure",
      "members": {
        "job": {
          "target": "com.amazonaws.amplify#Job",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.amplify#GetWebhook": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.amplify#GetWebhookRequest"
      },
      "output": {
        "target": "com.amazonaws.amplify#GetWebhookResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.amplify#BadRequestException"
        },
        {
          "target": "com.amazonaws.amplify#InternalFailureException"
        },
        {
          "target": "com.amazonaws.amplify#LimitExceededException"
        },
        {
          "target": "com.amazonaws.amplify#NotFoundException"
        },
        {
          "target": "com.amazonaws.amplify#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Retrieves webhook info that corresponds to a webhookId.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/webhooks/{webhookId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.amplify#GetWebhookRequest": {
      "type": "structure",
      "members": {
        "webhookId": {
          "target": "com.amazonaws.amplify#WebhookId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for a webhook.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure for the get webhook request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#GetWebhookResult": {
      "type": "structure",
      "members": {
        "webhook": {
          "target": "com.amazonaws.amplify#Webhook",
          "traits": {
            "smithy.api#documentation": "<p>\n            Webhook structure.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure for the get webhook request.\n        </p>"
      }
    },
    "com.amazonaws.amplify#InternalFailureException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.amplify#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Exception thrown when the service fails to perform an operation due to an internal issue.\n        </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.amplify#Job": {
      "type": "structure",
      "members": {
        "steps": {
          "target": "com.amazonaws.amplify#Steps",
          "traits": {
            "smithy.api#documentation": "<p>\n            Execution steps for an execution job, for an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "summary": {
          "target": "com.amazonaws.amplify#JobSummary",
          "traits": {
            "smithy.api#documentation": "<p>\n            Summary for an execution job for an Amplify App.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Structure for an execution job for an Amplify App.\n        </p>"
      }
    },
    "com.amazonaws.amplify#JobArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.amplify#JobId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#JobReason": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.amplify#JobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "PROVISIONING",
            "name": "PROVISIONING"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "SUCCEED",
            "name": "SUCCEED"
          },
          {
            "value": "CANCELLING",
            "name": "CANCELLING"
          },
          {
            "value": "CANCELLED",
            "name": "CANCELLED"
          }
        ]
      }
    },
    "com.amazonaws.amplify#JobSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.amplify#JobSummary"
      }
    },
    "com.amazonaws.amplify#JobSummary": {
      "type": "structure",
      "members": {
        "commitId": {
          "target": "com.amazonaws.amplify#CommitId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Commit Id from 3rd party repository provider for the Job.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "commitMessage": {
          "target": "com.amazonaws.amplify#CommitMessage",
          "traits": {
            "smithy.api#documentation": "<p>\n            Commit message from 3rd party repository provider for the Job.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "commitTime": {
          "target": "com.amazonaws.amplify#CommitTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            Commit date / time for the Job.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "endTime": {
          "target": "com.amazonaws.amplify#EndTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            End date / time for the Job.\n        </p>"
          }
        },
        "jobArn": {
          "target": "com.amazonaws.amplify#JobArn",
          "traits": {
            "smithy.api#documentation": "<p>\n            Arn for the Job.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "jobId": {
          "target": "com.amazonaws.amplify#JobId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique Id for the Job.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "jobType": {
          "target": "com.amazonaws.amplify#JobType",
          "traits": {
            "smithy.api#documentation": "<p>\n            Type for the Job. \\n\n            \"RELEASE\": Manually released from source by using StartJob API.\n            \"RETRY\": Manually retried by using StartJob API.\n            \"WEB_HOOK\": Automatically triggered by WebHooks.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "startTime": {
          "target": "com.amazonaws.amplify#StartTime",
          "traits": {
            "smithy.api#documentation": "<p>\n            Start date / time for the Job.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.amplify#JobStatus",
          "traits": {
[...]
