{
  "smithy": "0.4.0",
  "metadata": {
    "suppressions": [
      {
        "ids": ["HttpMethodSemantics"]
      }
    ]
  },
  "com.amazonaws.backplane.controlplane": {
    "shapes": {
      "AccessLogSettings": {
        "type": "structure",
        "members": {
          "destinationArn": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n      <p>The ARN of the CloudWatch Logs log group to receive access logs.</p>\n    "
          },
          "format": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "replaced docs "
          }
        },
        "smithy.api#documentation": "\n        <p>Access log settings, including the access log format and access log destination ARN.</p>\n    "
      },
      "Account": {
        "type": "structure",
        "members": {
          "apiKeyVersion": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>The version of the API keys used for the account.</p>"
          },
          "cloudwatchRoleArn": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The ARN of an Amazon CloudWatch role for the current <a>Account</a>. </p>\n    "
          },
          "features": {
            "target": "com.amazonaws.commonapi#ListOfString",
            "smithy.api#documentation": "<p>A list of features supported for the account. When usage plans are enabled, the features list will include an entry of <code>\"UsagePlans\"</code>.</p>"
          },
          "throttleSettings": {
            "target": "ThrottleSettings",
            "smithy.api#documentation": "\n        <p>Specifies the API request limits configured for the current <a>Account</a>.</p>\n    "
          }
        },
        "smithy.api#documentation": "\n        <p>Represents an AWS account that is associated with API Gateway.</p>\n        <div class=\"remarks\">\n          <p>To view the account info, call <code>GET</code> on this resource.</p>\n          <h4>Error Codes</h4>\n          <p>The following exception may be thrown when the request fails.</p>\n          <ul>\n            <li>UnauthorizedException</li>\n            <li>NotFoundException</li>\n            <li>TooManyRequestsException</li>\n          </ul>\n          <p>For detailed error code information, including the corresponding HTTP Status Codes, see <a href=\"https://docs.aws.amazon.com/apigateway/api-reference/handling-errors/#api-error-codes\">API Gateway Error Codes</a></p>\n            <h4>Example: Get the information about an account.</h4>\n            <h5>Request</h5>\n            <pre><code>GET /account HTTP/1.1\nContent-Type: application/json\nHost: apigateway.us-east-1.amazonaws.com\nX-Amz-Date: 20160531T184618Z\nAuthorization: AWS4-HMAC-SHA256 Credential={access_key_ID}/us-east-1/apigateway/aws4_request, SignedHeaders=content-type;host;x-amz-date, Signature={sig4_hash}\n            </code></pre>\n            <h5>Response</h5>\n            <p>The successful response returns a <code>200 OK</code> status code and a payload similar to the following:</p>\n            <pre><code>{\n  \"_links\": {\n    \"curies\": {\n      \"href\": \"https://docs.aws.amazon.com/apigateway/latest/developerguide/account-apigateway-{rel}.html\",\n      \"name\": \"account\",\n      \"templated\": true\n    },\n    \"self\": {\n      \"href\": \"/account\"\n    },\n    \"account:update\": {\n      \"href\": \"/account\"\n    }\n  },\n  \"cloudwatchRoleArn\": \"arn:aws:iam::123456789012:role/apigAwsProxyRole\",\n  \"throttleSettings\": {\n    \"rateLimit\": 500,\n    \"burstLimit\": 1000\n  }\n}\n            </code></pre>\n            <p>In addition to making the REST API call directly, you can use the AWS CLI and an AWS SDK to access this resource.</p>\n        </div>\n        <div class=\"seeAlso\">\n          <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-limits.html\">API Gateway Limits</a>\n            <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/welcome.html\">Developer Guide</a>,\n            <a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/get-account.html\">AWS CLI</a>\n        </div>\n    "
      },
      "ApiKey": {
        "type": "structure",
        "members": {
          "createdDate": {
            "target": "com.amazonaws.commonapi#Timestamp",
            "smithy.api#documentation": "\n        <p>The timestamp when the API Key was created.</p>\n    "
          },
          "customerId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n      <p>An AWS Marketplace customer identifier , when integrating with the AWS SaaS Marketplace.</p>\n    "
          },
          "description": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The description of the API Key.</p>\n    "
          },
          "enabled": {
            "target": "com.amazonaws.commonapi#Boolean",
            "smithy.api#documentation": "\n        <p>Specifies whether the API Key can be used by callers.</p>\n    "
          },
          "id": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The identifier of the API Key.</p>\n    "
          },
          "lastUpdatedDate": {
            "target": "com.amazonaws.commonapi#Timestamp",
            "smithy.api#documentation": "\n        <p>The timestamp when the API Key was last updated.</p>\n    "
          },
          "name": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The name of the API Key.</p>\n    "
          },
          "stageKeys": {
            "target": "com.amazonaws.commonapi#ListOfString",
            "smithy.api#documentation": "\n        <p>A list of <a>Stage</a> resources that are associated with the <a>ApiKey</a> resource.</p>\n    "
          },
          "tags": {
            "target": "MapOfStringToString",
            "smithy.api#documentation": "\n        <p>The collection of tags. Each tag element is associated with a given resource.</p>\n    "
          },
          "value": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n      <p>The value of the API Key.</p>\n    "
          }
        },
        "smithy.api#documentation": "\n        <p>A resource that can be distributed to callers for executing <a>Method</a> resources that require an API key. API keys can be mapped to any <a>Stage</a> on any <a>RestApi</a>, which indicates that the callers with the API key can make requests to that stage.</p>\n      <div class=\"seeAlso\">\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-api-keys.html\">Use API Keys</a>\n      </div>\n    "
      },
      "ApiKeyIds": {
        "type": "structure",
        "members": {
          "ids": {
            "target": "com.amazonaws.commonapi#ListOfString",
            "smithy.api#documentation": "\n    <p>A list of all the <a>ApiKey</a> identifiers.</p>\n  "
          },
          "warnings": {
            "target": "com.amazonaws.commonapi#ListOfString",
            "smithy.api#documentation": "\n    <p>A list of warning messages.</p>\n  "
          }
        },
        "smithy.api#documentation": "\n    <p>The identifier of an <a>ApiKey</a> used in a <a>UsagePlan</a>.</p>\n  "
      },
      "ApiKeySourceType": {
        "type": "string",
        "smithy.api#enum": {
          "HEADER": {
            "name": "HEADER"
          },
          "AUTHORIZER": {
            "name": "AUTHORIZER"
          }
        }
      },
      "ApiKeys": {
        "type": "structure",
        "members": {
          "items": {
            "target": "ListOfApiKey",
            "smithy.api#documentation": "\n        <p>The current page of elements from this collection.</p>\n    ",
            "smithy.api#jsonName": "item"
          },
          "position": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>The current pagination position in the paged result set.</p>",
            "smithy.api#httpQuery": "position"
          },
          "warnings": {
            "target": "com.amazonaws.commonapi#ListOfString",
            "smithy.api#documentation": "<p>A list of warning messages logged during the import of API keys when the <code>failOnWarnings</code> option is set to true.</p>"
          }
        },
        "smithy.api#documentation": "\n        <p>Represents a collection of API keys as represented by an <a>ApiKeys</a> resource.</p>\n      <div class=\"seeAlso\">\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-api-keys.html\">Use API Keys</a>\n      </div>\n    "
      },
      "ApiKeysFormat": {
        "type": "string",
        "smithy.api#enum": {
          "csv": {
            "name": "csv"
          }
        }
      },
      "ApiStage": {
        "type": "structure",
        "members": {
          "apiId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n      <p>API Id of the associated API stage in a usage plan.</p>\n    "
          },
          "stage": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n      <p>API stage name of the associated API stage in a usage plan.</p>\n    "
          },
          "throttle": {
            "target": "MapOfApiStageThrottleSettings",
            "smithy.api#documentation": "\n    <p>Map containing method level throttling information for API stage in a usage plan.</p>\n    "
          }
        },
        "smithy.api#documentation": "\n      <p>API stage name of the associated API stage in a usage plan.</p>\n    "
      },
      "Authorizer": {
        "type": "structure",
        "members": {
          "authType": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>Optional customer-defined field, used in OpenAPI imports and exports without functional impact.</p>\n    "
          },
          "authorizerCredentials": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>Specifies the required credentials as an IAM role for API Gateway to invoke the authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To use resource-based permissions on the Lambda function, specify null.</p>\n    "
          },
          "authorizerResultTtlInSeconds": {
            "target": "com.amazonaws.commonapi#NullableInteger",
            "smithy.api#documentation": "\n        <p>The TTL in seconds of cached authorizer results. If it equals 0, authorization caching is disabled. If it is greater than 0, API Gateway will cache authorizer responses. If this field is not set, the default value is 300. The maximum value is 3600, or 1 hour.</p>\n    "
          },
          "authorizerUri": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>Specifies the authorizer's Uniform Resource Identifier (URI). For <code>TOKEN</code> or <code>REQUEST</code> authorizers, this must be a well-formed Lambda function URI, for example, <code>arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:{account_id}:function:{lambda_function_name}/invocations</code>. In general, the URI has this form  <code>arn:aws:apigateway:{region}:lambda:path/{service_api}</code>, where <code>{region}</code> is the same as the region hosting the Lambda function, <code>path</code> indicates that the remaining substring in the URI should be treated as the path to the resource, including the initial <code>/</code>. For Lambda functions, this is usually of the form <code>/2015-03-31/functions/[FunctionARN]/invocations</code>.</p>\n    "
          },
          "id": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The identifier for the authorizer resource.</p>\n    "
          },
          "identitySource": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The identity source for which authorization is requested. <ul><li>For a <code>TOKEN</code> or <code>COGNITO_USER_POOLS</code> authorizer, this is required and specifies the request header mapping expression for the custom header holding the authorization token submitted by the client. For example, if the token header name is <code>Auth</code>, the header mapping expression is  <code>method.request.header.Auth</code>.</li><li>For the <code>REQUEST</code> authorizer, this is required when authorization caching is enabled. The value is a comma-separated string of one or more mapping expressions of the specified request parameters. For example, if an <code>Auth</code> header, a <code>Name</code> query string parameter are defined as identity sources, this value is <code>method.request.header.Auth, method.request.querystring.Name</code>.  These parameters will be used to derive the authorization caching key and to perform runtime validation of the <code>REQUEST</code> authorizer by verifying all of the identity-related request parameters are present, not null and non-empty. Only when this is true does the authorizer invoke the authorizer Lambda function, otherwise, it returns a 401 Unauthorized response without calling the Lambda function. The valid value is a string of comma-separated mapping expressions of the specified request parameters. When the authorization caching is not enabled, this property is optional.</li></ul></p>\n    "
          },
          "identityValidationExpression": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>A validation expression for the incoming identity token. For <code>TOKEN</code> authorizers, this value is a regular expression. For <code>COGNITO_USER_POOLS</code> authorizers, API Gateway will match the <code>aud</code> field of the incoming token from the client against the specified regular expression. It will invoke the authorizer's Lambda function when there is a match. Otherwise, it will return a 401 Unauthorized response without calling the Lambda function. The validation expression does not apply to the <code>REQUEST</code> authorizer.</p>\n    "
          },
          "name": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The name of the authorizer.</p>\n    "
          },
          "providerARNs": {
            "target": "ListOfARNs",
            "smithy.api#documentation": "\n      <p>A list of the Amazon Cognito user pool ARNs for the <code>COGNITO_USER_POOLS</code> authorizer. Each element is of this format: <code>arn:aws:cognito-idp:{region}:{account_id}:userpool/{user_pool_id}</code>. For a <code>TOKEN</code> or <code>REQUEST</code> authorizer, this is not defined. </p>\n    "
          },
          "type": {
            "target": "AuthorizerType",
            "smithy.api#documentation": "\n        <p>The authorizer type. Valid values are <code>TOKEN</code> for a Lambda function using a single authorization token submitted in a custom header, <code>REQUEST</code> for a Lambda function using incoming request parameters, and <code>COGNITO_USER_POOLS</code> for using an Amazon Cognito user pool.</p>\n    "
          }
        },
        "smithy.api#documentation": "\n        <p>Represents an authorization layer for methods. If enabled on a method, API Gateway will activate the authorizer when a client calls the method.</p>\n      <div class=\"seeAlso\">\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-use-lambda-authorizer.html\">Use Lambda Function as Authorizer</a>\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-integrate-with-cognito.html\">Use Cognito User Pool as Authorizer</a>\n      </div>\n    "
      },
      "AuthorizerType": {
        "type": "string",
        "smithy.api#documentation": "\n        <p>The authorizer type. Valid values are <code>TOKEN</code> for a Lambda function using a single authorization token submitted in a custom header, <code>REQUEST</code> for a Lambda function using incoming request parameters, and <code>COGNITO_USER_POOLS</code> for using an Amazon Cognito user pool.</p>\n    ",
        "smithy.api#enum": {
          "TOKEN": {
            "name": "TOKEN"
          },
          "REQUEST": {
            "name": "REQUEST"
          },
          "COGNITO_USER_POOLS": {
            "name": "COGNITO_USER_POOLS"
          }
        }
      },
      "Authorizers": {
        "type": "structure",
        "members": {
          "items": {
            "target": "ListOfAuthorizer",
            "smithy.api#documentation": "\n        <p>The current page of elements from this collection.</p>\n    ",
            "smithy.api#jsonName": "item"
          },
          "position": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>The current pagination position in the paged result set.</p>",
            "smithy.api#httpQuery": "position"
          }
        },
        "smithy.api#documentation": "\n        <p>Represents a collection of <a>Authorizer</a> resources.</p>\n      <div class=\"seeAlso\">\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-use-lambda-authorizer.html\">Use Lambda Function as Authorizer</a>\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-integrate-with-cognito.html\">Use Cognito User Pool as Authorizer</a>\n      </div>\n    "
      },
      "BackplaneControlService": {
        "type": "service",
        "version": "2015-07-09",
        "operations": [
          "CreateApiKey",
          "CreateAuthorizer",
          "CreateBasePathMapping",
          "CreateDeployment",
          "CreateDocumentationPart",
          "CreateDocumentationVersion",
          "CreateDomainName",
          "CreateModel",
          "CreateRequestValidator",
          "CreateResource",
          "CreateRestApi",
          "CreateStage",
          "CreateUsagePlan",
          "CreateUsagePlanKey",
          "CreateVpcLink",
          "DeleteApiKey",
          "DeleteAuthorizer",
          "DeleteBasePathMapping",
          "DeleteClientCertificate",
          "DeleteDeployment",
          "DeleteDocumentationPart",
          "DeleteDocumentationVersion",
          "DeleteDomainName",
          "DeleteGatewayResponse",
          "DeleteIntegration",
          "DeleteIntegrationResponse",
          "DeleteMethod",
          "DeleteMethodResponse",
          "DeleteModel",
          "DeleteRequestValidator",
          "DeleteResource",
          "DeleteRestApi",
          "DeleteStage",
          "DeleteUsagePlan",
          "DeleteUsagePlanKey",
          "DeleteVpcLink",
          "FlushStageAuthorizersCache",
          "FlushStageCache",
          "GenerateClientCertificate",
          "GetAccount",
          "GetApiKey",
          "GetApiKeys",
          "GetAuthorizer",
          "GetAuthorizers",
          "GetBasePathMapping",
          "GetBasePathMappings",
          "GetClientCertificate",
          "GetClientCertificates",
          "GetDeployment",
          "GetDeployments",
          "GetDocumentationPart",
          "GetDocumentationParts",
          "GetDocumentationVersion",
          "GetDocumentationVersions",
          "GetDomainName",
          "GetDomainNames",
          "GetExport",
          "GetGatewayResponse",
          "GetGatewayResponses",
          "GetIntegration",
          "GetIntegrationResponse",
          "GetMethod",
          "GetMethodResponse",
          "GetModel",
          "GetModelTemplate",
          "GetModels",
          "GetRequestValidator",
          "GetRequestValidators",
          "GetResource",
          "GetResources",
          "GetRestApi",
          "GetRestApis",
          "GetSdk",
          "GetSdkType",
          "GetSdkTypes",
          "GetStage",
          "GetStages",
          "GetTags",
          "GetUsage",
          "GetUsagePlan",
          "GetUsagePlanKey",
          "GetUsagePlanKeys",
          "GetUsagePlans",
          "GetVpcLink",
          "GetVpcLinks",
          "ImportApiKeys",
          "ImportDocumentationParts",
          "ImportRestApi",
          "PutGatewayResponse",
          "PutIntegration",
          "PutIntegrationResponse",
          "PutMethod",
          "PutMethodResponse",
          "PutRestApi",
          "TagResource",
          "TestInvokeAuthorizer",
          "TestInvokeMethod",
          "UntagResource",
          "UpdateAccount",
          "UpdateApiKey",
          "UpdateAuthorizer",
          "UpdateBasePathMapping",
          "UpdateClientCertificate",
          "UpdateDeployment",
          "UpdateDocumentationPart",
          "UpdateDocumentationVersion",
          "UpdateDomainName",
          "UpdateGatewayResponse",
          "UpdateIntegration",
          "UpdateIntegrationResponse",
          "UpdateMethod",
          "UpdateMethodResponse",
          "UpdateModel",
          "UpdateRequestValidator",
          "UpdateResource",
          "UpdateRestApi",
          "UpdateStage",
          "UpdateUsage",
          "UpdateUsagePlan",
          "UpdateVpcLink"
        ],
        "aws.api#service": {
          "sdkId": "API Gateway",
          "arnNamespace": "backplanecontrolservice",
          "cloudFormationName": "APIGateway",
          "cloudTrailEventSource": "controlplane.backplane.amazonaws.com"
        },
        "smithy.api#documentation": "\n        <fullname>Amazon API Gateway</fullname>\n        <p>Amazon API Gateway helps developers deliver robust, secure, and scalable mobile and web application back ends. API Gateway allows developers to securely connect mobile and web applications to APIs that run on AWS Lambda, Amazon EC2, or other publicly addressable web services that are hosted outside of AWS.</p>\n    ",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json",
            "auth": ["aws.v4"]
          }
        ],
        "smithy.api#title": "Amazon API Gateway"
      },
      "BasePathMapping": {
        "type": "structure",
        "members": {
          "basePath": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The base path name that callers of the API must provide as part of the URL after the domain name.</p>\n    "
          },
          "restApiId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>The string identifier of the associated <a>RestApi</a>.</p>"
          },
          "stage": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>The name of the associated stage.</p>"
          }
        },
        "smithy.api#documentation": "\n        <p>Represents the base path that callers of the API must provide as part of the URL after the domain name.</p>\n        <div class=\"remarks\">A custom domain name plus a <code>BasePathMapping</code> specification identifies a deployed <a>RestApi</a> in a given stage of the owner <a>Account</a>.</div>\n      <div class=\"seeAlso\">\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-custom-domains.html\">Use Custom Domain Names</a>\n      </div>\n    "
      },
      "BasePathMappings": {
        "type": "structure",
        "members": {
          "items": {
            "target": "ListOfBasePathMapping",
            "smithy.api#documentation": "\n        <p>The current page of elements from this collection.</p>\n    ",
            "smithy.api#jsonName": "item"
          },
          "position": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>The current pagination position in the paged result set.</p>",
            "smithy.api#httpQuery": "position"
          }
        },
        "smithy.api#documentation": "\n        <p>Represents a collection of <a>BasePathMapping</a> resources.</p>\n      <div class=\"seeAlso\">\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-custom-domains.html\">Use Custom Domain Names</a>\n      </div>\n    "
      },
      "Blob": {
        "type": "blob"
      },
      "CacheClusterSize": {
        "type": "string",
        "smithy.api#documentation": "\n        <p>Returns the size of the <b>CacheCluster</b>.</p>\n    ",
        "smithy.api#enum": {
          "0.5": {
            "name": "SIZE_0_POINT_5_GB"
          },
          "1.6": {
            "name": "SIZE_1_POINT_6_GB"
          },
          "6.1": {
            "name": "SIZE_6_POINT_1_GB"
          },
          "13.5": {
            "name": "SIZE_13_POINT_5_GB"
          },
          "28.4": {
            "name": "SIZE_28_POINT_4_GB"
          },
          "58.2": {
            "name": "SIZE_58_POINT_2_GB"
          },
          "118": {
            "name": "SIZE_118_GB"
          },
          "237": {
            "name": "SIZE_237_GB"
          }
        }
      },
      "CacheClusterStatus": {
        "type": "string",
        "smithy.api#documentation": "\n        <p>Returns the status of the <b>CacheCluster</b>.</p>\n    ",
        "smithy.api#enum": {
          "CREATE_IN_PROGRESS": {
            "name": "CREATE_IN_PROGRESS"
          },
          "AVAILABLE": {
            "name": "AVAILABLE"
          },
          "DELETE_IN_PROGRESS": {
            "name": "DELETE_IN_PROGRESS"
          },
          "NOT_AVAILABLE": {
            "name": "NOT_AVAILABLE"
          },
          "FLUSH_IN_PROGRESS": {
            "name": "FLUSH_IN_PROGRESS"
          }
        }
      },
      "CanarySettings": {
        "type": "structure",
        "members": {
          "deploymentId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The ID of the canary deployment.</p>\n    "
          },
          "percentTraffic": {
            "target": "com.amazonaws.commonapi#Double",
            "smithy.api#documentation": "\n        <p>The percent (0-100) of traffic diverted to a canary deployment.</p>\n    "
          },
          "stageVariableOverrides": {
            "target": "MapOfStringToString",
            "smithy.api#documentation": "\n        <p>Stage variables overridden for a canary release deployment, including new stage variables introduced in the canary. These stage variables are represented as a string-to-string map between stage variable names and their values.</p>\n    "
          },
          "useStageCache": {
            "target": "com.amazonaws.commonapi#Boolean",
            "smithy.api#documentation": "\n        <p>A Boolean flag to indicate whether the canary deployment uses the stage cache or not.</p>\n    "
          }
        },
        "smithy.api#documentation": "\n        <p>Configuration settings of a canary deployment.</p>\n    "
      },
      "ClientCertificate": {
        "type": "structure",
        "members": {
          "clientCertificateId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The identifier of the client certificate.</p>\n    "
          },
          "createdDate": {
            "target": "com.amazonaws.commonapi#Timestamp",
            "smithy.api#documentation": "\n        <p>The timestamp when the client certificate was created.</p>\n    "
          },
          "description": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The description of the client certificate.</p>\n    "
          },
          "expirationDate": {
            "target": "com.amazonaws.commonapi#Timestamp",
            "smithy.api#documentation": "\n        <p>The timestamp when the client certificate will expire.</p>\n    "
          },
          "pemEncodedCertificate": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The PEM-encoded public key of the client certificate, which can be used to configure certificate authentication in the integration endpoint .</p>\n    "
          },
          "tags": {
            "target": "MapOfStringToString",
            "smithy.api#documentation": "\n        <p>The collection of tags. Each tag element is associated with a given resource.</p>\n    "
          }
        },
        "smithy.api#documentation": "\n        <p>Represents a client certificate used to configure client-side SSL authentication while sending requests to the integration endpoint.</p>\n        <div class=\"remarks\">Client certificates are used to authenticate an API by the backend server. To authenticate an API client (or user), use IAM roles and policies, a custom <a>Authorizer</a> or an Amazon Cognito user pool.</div>\n      <div class=\"seeAlso\">\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/getting-started-client-side-ssl-authentication.html\">Use Client-Side Certificate</a>\n      </div>\n    "
      },
      "ClientCertificates": {
        "type": "structure",
        "members": {
          "items": {
            "target": "ListOfClientCertificate",
            "smithy.api#documentation": "\n        <p>The current page of elements from this collection.</p>\n    ",
            "smithy.api#jsonName": "item"
          },
          "position": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>The current pagination position in the paged result set.</p>",
            "smithy.api#httpQuery": "position"
          }
        },
        "smithy.api#documentation": "\n        <p>Represents a collection of <a>ClientCertificate</a> resources.</p>\n      <div class=\"seeAlso\">\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/getting-started-client-side-ssl-authentication.html\">Use Client-Side Certificate</a>\n      </div>\n    "
      },
      "ConnectionType": {
        "type": "string",
        "smithy.api#enum": {
          "INTERNET": {
            "name": "INTERNET"
          },
          "VPC_LINK": {
            "name": "VPC_LINK"
          }
        }
      },
      "ContentHandlingStrategy": {
        "type": "string",
        "smithy.api#enum": {
          "CONVERT_TO_BINARY": {
            "name": "CONVERT_TO_BINARY"
          },
          "CONVERT_TO_TEXT": {
            "name": "CONVERT_TO_TEXT"
          }
        }
      },
      "CreateApiKey": {
        "type": "operation",
        "input": "CreateApiKeyRequest",
        "output": "ApiKey",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#ConflictException",
          "com.amazonaws.commonapi.exceptions#LimitExceededException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n        <p>Create an <a>ApiKey</a> resource. </p>\n        <div class=\"seeAlso\"><a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/create-api-key.html\">AWS CLI</a></div>\n    ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apikeys",
          "code": 201
        }
      },
      "CreateApiKeyRequest": {
        "type": "structure",
        "members": {
          "customerId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n      <p>An AWS Marketplace customer identifier , when integrating with the AWS SaaS Marketplace.</p>\n    "
          },
          "description": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The description of the <a>ApiKey</a>.</p>\n    "
          },
          "enabled": {
            "target": "com.amazonaws.commonapi#Boolean",
            "smithy.api#documentation": "\n        <p>Specifies whether the <a>ApiKey</a> can be used by callers.</p>\n    "
          },
          "generateDistinctId": {
            "target": "com.amazonaws.commonapi#Boolean",
            "smithy.api#documentation": "\n      <p>Specifies whether (<code>true</code>) or not (<code>false</code>) the key identifier is distinct from the created API key value.</p>\n    "
          },
          "name": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The name of the <a>ApiKey</a>.</p>\n    "
          },
          "stageKeys": {
            "target": "ListOfStageKeys",
            "smithy.api#documentation": "\n        <p>DEPRECATED FOR USAGE PLANS - Specifies stages associated with the API key.</p>\n    "
          },
          "tags": {
            "target": "MapOfStringToString",
            "smithy.api#documentation": "\n        <p>The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with <code>aws:</code>. The tag value can be up to 256 characters.</p>\n    "
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          },
          "value": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n      <p>Specifies a value of the API key.</p> <!-- Why is this declared as the input to create an API key? As a form of copying an existing key value into a new API key? -->\n    "
          }
        },
        "smithy.api#documentation": "\n        <p>Request to create an <a>ApiKey</a> resource.</p>\n    "
      },
      "CreateAuthorizer": {
        "type": "operation",
        "input": "CreateAuthorizerRequest",
        "output": "Authorizer",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#LimitExceededException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n        <p>Adds a new <a>Authorizer</a> resource to an existing <a>RestApi</a> resource.</p>\n        <div class=\"seeAlso\"><a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/create-authorizer.html\">AWS CLI</a></div>\n    ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/restapis/{restApiId}/authorizers",
          "code": 201
        }
      },
      "CreateAuthorizerRequest": {
        "type": "structure",
        "members": {
          "authType": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>Optional customer-defined field, used in OpenAPI imports and exports without functional impact.</p>\n    "
          },
          "authorizerCredentials": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>Specifies the required credentials as an IAM role for API Gateway to invoke the authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To use resource-based permissions on the Lambda function, specify null.</p>\n    "
          },
          "authorizerResultTtlInSeconds": {
            "target": "com.amazonaws.commonapi#NullableInteger",
            "smithy.api#documentation": "\n        <p>The TTL in seconds of cached authorizer results. If it equals 0, authorization caching is disabled. If it is greater than 0, API Gateway will cache authorizer responses. If this field is not set, the default value is 300. The maximum value is 3600, or 1 hour.</p>\n    "
          },
          "authorizerUri": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>Specifies the authorizer's Uniform Resource Identifier (URI). For <code>TOKEN</code> or <code>REQUEST</code> authorizers, this must be a well-formed Lambda function URI, for example, <code>arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:{account_id}:function:{lambda_function_name}/invocations</code>. In general, the URI has this form  <code>arn:aws:apigateway:{region}:lambda:path/{service_api}</code>, where <code>{region}</code> is the same as the region hosting the Lambda function, <code>path</code> indicates that the remaining substring in the URI should be treated as the path to the resource, including the initial <code>/</code>. For Lambda functions, this is usually of the form <code>/2015-03-31/functions/[FunctionARN]/invocations</code>.</p>\n    "
          },
          "identitySource": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The identity source for which authorization is requested. <ul><li>For a <code>TOKEN</code> or <code>COGNITO_USER_POOLS</code> authorizer, this is required and specifies the request header mapping expression for the custom header holding the authorization token submitted by the client. For example, if the token header name is <code>Auth</code>, the header mapping expression is  <code>method.request.header.Auth</code>.</li><li>For the <code>REQUEST</code> authorizer, this is required when authorization caching is enabled. The value is a comma-separated string of one or more mapping expressions of the specified request parameters. For example, if an <code>Auth</code> header, a <code>Name</code> query string parameter are defined as identity sources, this value is <code>method.request.header.Auth, method.request.querystring.Name</code>.  These parameters will be used to derive the authorization caching key and to perform runtime validation of the <code>REQUEST</code> authorizer by verifying all of the identity-related request parameters are present, not null and non-empty. Only when this is true does the authorizer invoke the authorizer Lambda function, otherwise, it returns a 401 Unauthorized response without calling the Lambda function. The valid value is a string of comma-separated mapping expressions of the specified request parameters. When the authorization caching is not enabled, this property is optional.</li></ul></p>\n    "
          },
          "identityValidationExpression": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>A validation expression for the incoming identity token. For <code>TOKEN</code> authorizers, this value is a regular expression. For <code>COGNITO_USER_POOLS</code> authorizers, API Gateway will match the <code>aud</code> field of the incoming token from the client against the specified regular expression. It will invoke the authorizer's Lambda function when there is a match. Otherwise, it will return a 401 Unauthorized response without calling the Lambda function. The validation expression does not apply to the <code>REQUEST</code> authorizer.</p>\n    "
          },
          "name": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The name of the authorizer.</p>\n    ",
            "smithy.api#required": true
          },
          "providerARNs": {
            "target": "ListOfARNs",
            "smithy.api#documentation": "\n      <p>A list of the Amazon Cognito user pool ARNs for the <code>COGNITO_USER_POOLS</code> authorizer. Each element is of this format: <code>arn:aws:cognito-idp:{region}:{account_id}:userpool/{user_pool_id}</code>. For a <code>TOKEN</code> or <code>REQUEST</code> authorizer, this is not defined. </p>\n    "
          },
          "restApiId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          },
          "type": {
            "target": "AuthorizerType",
            "smithy.api#documentation": "\n        <p>[Required] The authorizer type. Valid values are <code>TOKEN</code> for a Lambda function using a single authorization token submitted in a custom header, <code>REQUEST</code> for a Lambda function using incoming request parameters, and <code>COGNITO_USER_POOLS</code> for using an Amazon Cognito user pool.</p>\n    ",
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "\n        <p>Request to add a new <a>Authorizer</a> to an existing <a>RestApi</a> resource.</p>\n    "
      },
      "CreateBasePathMapping": {
        "type": "operation",
        "input": "CreateBasePathMappingRequest",
        "output": "BasePathMapping",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#ConflictException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n        <p>Creates a new <a>BasePathMapping</a> resource.</p>\n    ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domainnames/{domainName}/basepathmappings",
          "code": 201
        }
      },
      "CreateBasePathMappingRequest": {
        "type": "structure",
        "members": {
          "basePath": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The base path name that callers of the API must provide as part of the URL after the domain name. This value must be unique for all of the mappings across a single API. Specify '(none)' if you do not want callers to specify a base path name after the domain name.</p>\n    "
          },
          "domainName": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The domain name of the <a>BasePathMapping</a> resource to create.</p>\n    ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "name": {
            "target": "com.amazonaws.commonapi#String"
          },
          "restApiId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#required": true
          },
          "stage": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The name of the API's stage that you want to use for this mapping. Specify '(none)' if you do not want callers to explicitly specify the stage name after any base path name.</p>\n    "
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          }
        },
        "smithy.api#documentation": "\n        <p>Requests API Gateway to create a new <a>BasePathMapping</a> resource.</p>\n    "
      },
      "CreateDeployment": {
        "type": "operation",
        "input": "CreateDeploymentRequest",
        "output": "Deployment",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#ConflictException",
          "com.amazonaws.commonapi.exceptions#LimitExceededException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#ServiceUnavailableException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n        <p>Creates a <a>Deployment</a> resource, which makes a specified <a>RestApi</a> callable over the internet.</p>\n    ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/restapis/{restApiId}/deployments",
          "code": 201
        }
      },
      "CreateDeploymentRequest": {
        "type": "structure",
        "members": {
          "cacheClusterEnabled": {
            "target": "com.amazonaws.commonapi#NullableBoolean",
            "smithy.api#documentation": "\n        <p>Enables a cache cluster for the <a>Stage</a> resource specified in the input.</p>\n    "
          },
          "cacheClusterSize": {
            "target": "CacheClusterSize",
            "smithy.api#documentation": "\n        <p>Specifies the cache cluster size for the <a>Stage</a> resource specified in the input, if a cache cluster is enabled.</p>\n    "
          },
          "canarySettings": {
            "target": "DeploymentCanarySettings",
            "smithy.api#documentation": "\n        <p>The input configuration for the canary deployment when the deployment is a canary release deployment. </p>\n    "
          },
          "description": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The description for the <a>Deployment</a> resource to create.</p>\n    "
          },
          "name": {
            "target": "com.amazonaws.commonapi#String"
          },
          "restApiId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "stageDescription": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The description of the <a>Stage</a> resource for the <a>Deployment</a> resource to create.</p>\n    "
          },
          "stageName": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The name of the <a>Stage</a> resource for the <a>Deployment</a> resource to create.</p>\n    "
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          },
          "tracingEnabled": {
            "target": "com.amazonaws.commonapi#NullableBoolean",
            "smithy.api#documentation": "\n        <p>Specifies whether active tracing with X-ray is enabled for the <a>Stage</a>.</p>\n    "
          },
          "variables": {
            "target": "MapOfStringToString",
            "smithy.api#documentation": "\n        <p>A map that defines the stage variables for the <a>Stage</a> resource that is associated\n          with the new deployment. Variable names can have alphanumeric and underscore characters, and the values\n          must match <code>[A-Za-z0-9-._~:/?#&=,]+</code>.</p>\n    "
          }
        },
        "smithy.api#documentation": "\n        <p>Requests API Gateway to create a <a>Deployment</a> resource.</p>\n    "
      },
      "CreateDocumentationPart": {
        "type": "operation",
        "input": "CreateDocumentationPartRequest",
        "output": "DocumentationPart",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#ConflictException",
          "com.amazonaws.commonapi.exceptions#LimitExceededException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/restapis/{restApiId}/documentation/parts",
          "code": 201
        }
      },
      "CreateDocumentationPartRequest": {
        "type": "structure",
        "members": {
          "location": {
            "target": "DocumentationPartLocation",
            "smithy.api#documentation": "<p>[Required] The location of the targeted API entity of the to-be-created documentation part.</p>",
            "smithy.api#required": true
          },
          "name": {
            "target": "com.amazonaws.commonapi#String"
          },
          "properties": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>[Required] The new documentation content map of the targeted API entity. Enclosed key-value pairs are API-specific, but only OpenAPI-compliant key-value pairs can be exported and, hence, published.</p>",
            "smithy.api#required": true
          },
          "restApiId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          }
        },
        "smithy.api#documentation": "<p>Creates a new documentation part of a given API.</p>"
      },
      "CreateDocumentationVersion": {
        "type": "operation",
        "input": "CreateDocumentationVersionRequest",
        "output": "DocumentationVersion",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#ConflictException",
          "com.amazonaws.commonapi.exceptions#LimitExceededException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/restapis/{restApiId}/documentation/versions",
          "code": 201
        }
      },
      "CreateDocumentationVersionRequest": {
        "type": "structure",
        "members": {
          "description": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>A description about the new documentation snapshot.</p>"
          },
          "documentationVersion": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>[Required] The version identifier of the new snapshot.</p>",
            "smithy.api#required": true
          },
          "name": {
            "target": "com.amazonaws.commonapi#String"
          },
          "restApiId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "stageName": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>The stage name to be associated with the new documentation snapshot.</p>"
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          }
        },
        "smithy.api#documentation": "<p>Creates a new documentation version of a given API.</p>"
      },
      "CreateDomainName": {
        "type": "operation",
        "input": "CreateDomainNameRequest",
        "output": "DomainName",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#ConflictException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n        <p>Creates a new domain name.</p>\n    ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domainnames",
          "code": 201
        }
      },
      "CreateDomainNameRequest": {
        "type": "structure",
        "members": {
          "certificateArn": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The reference to an AWS-managed certificate that will be used by edge-optimized endpoint for this domain name. AWS Certificate Manager is the only supported source.</p>\n    "
          },
          "certificateBody": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Deprecated] The body of the server certificate that will be used by edge-optimized endpoint for this domain name provided by your certificate authority.</p>\n    "
          },
          "certificateChain": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n      <p>[Deprecated] The intermediate certificates and optionally the root certificate, one after the other without any blank lines, used by an edge-optimized endpoint for this domain name. If you include the root certificate, your certificate chain must start with intermediate certificates and end with the root certificate. Use the intermediate certificates that were provided by your certificate authority. Do not include any intermediaries that are not in the chain of trust path.</p>\n    "
          },
          "certificateName": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The user-friendly name of the certificate that will be used by edge-optimized endpoint for this domain name.</p>\n    "
          },
          "certificatePrivateKey": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Deprecated] Your edge-optimized endpoint's domain name certificate's private key.</p>\n    "
          },
          "domainName": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The name of the <a>DomainName</a> resource.</p>\n    ",
            "smithy.api#required": true
          },
          "endpointConfiguration": {
            "target": "EndpointConfiguration",
            "smithy.api#documentation": "\n        <p>The endpoint configuration of this <a>DomainName</a> showing the endpoint types of the domain name. </p>\n    "
          },
          "name": {
            "target": "com.amazonaws.commonapi#String"
          },
          "regionalCertificateArn": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n      <p>The reference to an AWS-managed certificate that will be used by regional endpoint for this domain name. AWS Certificate Manager is the only supported source.</p>\n    "
          },
          "regionalCertificateName": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n      <p>The user-friendly name of the certificate that will be used by regional endpoint for this domain name.</p>\n    "
          },
          "securityPolicy": {
            "target": "SecurityPolicy",
            "smithy.api#documentation": "\n    <p>The Transport Layer Security (TLS) version + cipher suite for this <a>DomainName</a>. The valid values are <code>TLS_1_0</code> and <code>TLS_1_2</code>.</p>\n  "
          },
          "tags": {
            "target": "MapOfStringToString",
            "smithy.api#documentation": "\n        <p>The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with <code>aws:</code>. The tag value can be up to 256 characters.</p>\n    "
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          }
        },
        "smithy.api#documentation": "\n        <p>A request to create a new domain name.</p>\n    "
      },
      "CreateModel": {
        "type": "operation",
        "input": "CreateModelRequest",
        "output": "Model",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#ConflictException",
          "com.amazonaws.commonapi.exceptions#LimitExceededException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n        <p>Adds a new <a>Model</a> resource to an existing <a>RestApi</a> resource.</p>\n    ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/restapis/{restApiId}/models",
          "code": 201
        }
      },
      "CreateModelRequest": {
        "type": "structure",
        "members": {
          "contentType": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The content-type for the model.</p>\n    ",
            "smithy.api#required": true
          },
          "description": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The description of the model.</p>\n    "
          },
          "name": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The name of the model. Must be alphanumeric.</p>\n    ",
            "smithy.api#required": true
          },
          "restApiId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The <a>RestApi</a> identifier under which the <a>Model</a> will be created.</p>\n    ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "schema": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The schema for the model. For <code>application/json</code> models, this should be <a target=\"_blank\" href=\"https://tools.ietf.org/html/draft-zyp-json-schema-04\">JSON schema draft 4</a> model.</p>\n    "
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          }
        },
        "smithy.api#documentation": "\n        <p>Request to add a new <a>Model</a> to an existing <a>RestApi</a> resource.</p>\n    "
      },
      "CreateRequestValidator": {
        "type": "operation",
        "input": "CreateRequestValidatorRequest",
        "output": "RequestValidator",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#LimitExceededException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n      <p>Creates a <a>ReqeustValidator</a> of a given <a>RestApi</a>.</p>\n    ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/restapis/{restApiId}/requestvalidators",
          "code": 201
        }
      },
      "CreateRequestValidatorRequest": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The name of the to-be-created <a>RequestValidator</a>.</p>\n    "
          },
          "restApiId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          },
          "validateRequestBody": {
            "target": "com.amazonaws.commonapi#Boolean",
            "smithy.api#documentation": "\n        <p>A Boolean flag to indicate whether to validate request body according to the configured model schema for the method (<code>true</code>) or not (<code>false</code>).</p>\n    "
          },
          "validateRequestParameters": {
            "target": "com.amazonaws.commonapi#Boolean",
            "smithy.api#documentation": "\n        <p>A Boolean flag to indicate whether to validate request parameters, <code>true</code>, or not <code>false</code>.</p>\n    "
          }
        },
        "smithy.api#documentation": "\n        <p>Creates a <a>RequestValidator</a> of a given <a>RestApi</a>.</p>\n    "
      },
      "CreateResource": {
        "type": "operation",
        "input": "CreateResourceRequest",
        "output": "Resource",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#ConflictException",
          "com.amazonaws.commonapi.exceptions#LimitExceededException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n        <p>Creates a <a>Resource</a> resource.</p>\n    ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/restapis/{restApiId}/resources/{parentId}",
          "code": 201
        }
      },
      "CreateResourceRequest": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.commonapi#String"
          },
          "parentId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The parent resource's identifier.</p>\n    ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "pathPart": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The last path segment for this resource.</p>\n    ",
            "smithy.api#required": true
          },
          "restApiId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          }
        },
        "smithy.api#documentation": "\n        <p>Requests API Gateway to create a <a>Resource</a> resource.</p>\n    "
      },
      "CreateRestApi": {
        "type": "operation",
        "input": "CreateRestApiRequest",
        "output": "RestApi",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#LimitExceededException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n        <p>Creates a new <a>RestApi</a> resource.</p>\n    ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/restapis",
          "code": 201
        }
      },
      "CreateRestApiRequest": {
        "type": "structure",
        "members": {
          "apiKeySource": {
            "target": "ApiKeySourceType",
            "smithy.api#documentation": "\n        <p>The source of the API key for metering requests according to a usage plan. Valid values are: <ul><li><code>HEADER</code> to read the API key from the <code>X-API-Key</code> header of a request. </li><li><code>AUTHORIZER</code> to read the API key from the <code>UsageIdentifierKey</code> from a custom authorizer.</li></ul> </p>\n    "
          },
          "binaryMediaTypes": {
            "target": "com.amazonaws.commonapi#ListOfString",
            "smithy.api#documentation": "<p>The list of binary media types supported by the <a>RestApi</a>. By default, the <a>RestApi</a> supports only UTF-8-encoded text payloads.</p>"
          },
          "cloneFrom": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The ID of the <a>RestApi</a> that you want to clone from.</p>\n    "
          },
          "description": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The description of the <a>RestApi</a>.</p>\n    "
          },
          "endpointConfiguration": {
            "target": "EndpointConfiguration",
            "smithy.api#documentation": "\n        <p>The endpoint configuration of this <a>RestApi</a> showing the endpoint types of the API. </p>\n    "
          },
          "minimumCompressionSize": {
            "target": "com.amazonaws.commonapi#NullableInteger",
            "smithy.api#documentation": "<p>A nullable integer that is used to enable compression (with non-negative between 0 and 10485760 (10M) bytes, inclusive) or disable compression (with a null value) on an API. When compression is enabled, compression or decompression is not applied on the payload if the payload size is smaller than this value. Setting it to zero allows compression for any payload size.</p>"
          },
          "name": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The name of the <a>RestApi</a>.</p>\n    ",
            "smithy.api#required": true
          },
          "policy": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        A stringified JSON policy document that applies to this RestApi regardless of the caller and <a>Method</a> configuration.\n    "
          },
          "tags": {
            "target": "MapOfStringToString",
            "smithy.api#documentation": "\n        <p>The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with <code>aws:</code>. The tag value can be up to 256 characters.</p>\n    "
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          },
          "version": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>A version identifier for the API.</p>\n    "
          }
        },
        "smithy.api#documentation": "\n        <p>The POST Request to add a new <a>RestApi</a> resource to your collection.</p>\n    "
      },
      "CreateStage": {
        "type": "operation",
        "input": "CreateStageRequest",
        "output": "Stage",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#ConflictException",
          "com.amazonaws.commonapi.exceptions#LimitExceededException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n        <p>Creates a new <a>Stage</a> resource that references a pre-existing <a>Deployment</a> for the API. </p>\n        <!--   <p>Creates a <a>Stage</a> resource.</p>  -->\n    ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/restapis/{restApiId}/stages",
          "code": 201
        }
      },
      "CreateStageRequest": {
        "type": "structure",
        "members": {
          "cacheClusterEnabled": {
            "target": "com.amazonaws.commonapi#Boolean",
            "smithy.api#documentation": "\n        <p>Whether cache clustering is enabled for the stage.</p>\n    "
          },
          "cacheClusterSize": {
            "target": "CacheClusterSize",
            "smithy.api#documentation": "\n        <p>The stage's cache cluster size.</p>\n    "
          },
          "canarySettings": {
            "target": "CanarySettings",
            "smithy.api#documentation": "\n        <p>The canary deployment settings of this stage.</p>\n    "
          },
          "deploymentId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The identifier of the <a>Deployment</a> resource for the <a>Stage</a> resource.</p>\n    ",
            "smithy.api#required": true
          },
          "description": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The description of the <a>Stage</a> resource.</p>\n    "
          },
          "documentationVersion": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>The version of the associated API documentation.</p>"
          },
          "name": {
            "target": "com.amazonaws.commonapi#String"
          },
          "restApiId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "stageName": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The name for the <a>Stage</a> resource. Stage names can only contain alphanumeric characters, hyphens, and underscores. Maximum length is 128 characters.</p>\n    ",
            "smithy.api#required": true
          },
          "tags": {
            "target": "MapOfStringToString",
            "smithy.api#documentation": "\n        <p>The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with <code>aws:</code>. The tag value can be up to 256 characters.</p>\n    "
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          },
          "tracingEnabled": {
            "target": "com.amazonaws.commonapi#Boolean",
            "smithy.api#documentation": "\n        <p>Specifies whether active tracing with X-ray is enabled for the <a>Stage</a>.</p>\n    "
          },
          "variables": {
            "target": "MapOfStringToString",
            "smithy.api#documentation": "\n        <p>A map that defines the stage variables for the new <a>Stage</a> resource. Variable names\n          can have alphanumeric and underscore characters, and the values must match\n          <code>[A-Za-z0-9-._~:/?#&=,]+</code>.</p>\n    "
          }
        },
        "smithy.api#documentation": "\n        <p>Requests API Gateway to create a <a>Stage</a> resource.</p>\n    "
      },
      "CreateUsagePlan": {
        "type": "operation",
        "input": "CreateUsagePlanRequest",
        "output": "UsagePlan",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#ConflictException",
          "com.amazonaws.commonapi.exceptions#LimitExceededException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n    <p>Creates a usage plan with the throttle and quota limits, as well as the associated API stages, specified in the payload. </p>\n  ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/usageplans",
          "code": 201
        }
      },
      "CreateUsagePlanKey": {
        "type": "operation",
        "input": "CreateUsagePlanKeyRequest",
        "output": "UsagePlanKey",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#ConflictException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n    <p>Creates a usage plan key for adding an existing API key to a usage plan.</p>\n  ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/usageplans/{usagePlanId}/keys",
          "code": 201
        }
      },
      "CreateUsagePlanKeyRequest": {
        "type": "structure",
        "members": {
          "keyId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n      <p>[Required] The identifier of a <a>UsagePlanKey</a> resource for a plan customer.</p>\n  ",
            "smithy.api#required": true
          },
          "keyType": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n      <p>[Required] The type of a <a>UsagePlanKey</a> resource for a plan customer.</p>\n  ",
            "smithy.api#required": true
          },
          "name": {
            "target": "com.amazonaws.commonapi#String"
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          },
          "usagePlanId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n      <p>[Required] The Id of the <a>UsagePlan</a> resource representing the usage plan containing the to-be-created <a>UsagePlanKey</a> resource representing a plan customer.</p>\n  ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "smithy.api#documentation": "\n    <p>The POST request to create a usage plan key for adding an existing API key to a usage plan.</p>\n  "
      },
      "CreateUsagePlanRequest": {
        "type": "structure",
        "members": {
          "apiStages": {
            "target": "ListOfApiStage",
            "smithy.api#documentation": "<p>The associated API stages of the usage plan.</p>"
          },
          "description": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>The description of the usage plan.</p>"
          },
          "name": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n      <p>[Required] The name of the usage plan.</p>\n  ",
            "smithy.api#required": true
          },
          "quota": {
            "target": "QuotaSettings",
            "smithy.api#documentation": "<p>The quota of the usage plan.</p>"
          },
          "tags": {
            "target": "MapOfStringToString",
            "smithy.api#documentation": "\n    <p>The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with <code>aws:</code>. The tag value can be up to 256 characters.</p>\n  "
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "throttle": {
            "target": "ThrottleSettings",
            "smithy.api#documentation": "<p>The throttling limits of the usage plan.</p>"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          }
        },
        "smithy.api#documentation": "\n    <p>The POST request to create a usage plan with the name, description, throttle limits and quota limits, as well as the associated API stages, specified in the payload.</p>\n  "
      },
      "CreateVpcLink": {
        "type": "operation",
        "input": "CreateVpcLinkRequest",
        "output": "VpcLink",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n        <p>Creates a VPC link, under the caller's account in a selected region, in an asynchronous operation that typically takes 2-4 minutes to complete and become operational. The caller must have permissions to create and update VPC Endpoint services.</p>\n    ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vpclinks",
          "code": 202
        }
      },
      "CreateVpcLinkRequest": {
        "type": "structure",
        "members": {
          "description": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>The description of the VPC link.</p>\n    "
          },
          "name": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The name used to label and identify the VPC link.</p>\n    ",
            "smithy.api#required": true
          },
          "tags": {
            "target": "MapOfStringToString",
            "smithy.api#documentation": "\n        <p>The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with <code>aws:</code>. The tag value can be up to 256 characters.</p>\n    "
          },
          "targetArns": {
            "target": "com.amazonaws.commonapi#ListOfString",
            "smithy.api#documentation": "\n        <p>[Required] The ARNs of network load balancers of the VPC targeted by the VPC link. The network load balancers must be owned by the same AWS account of the API owner.</p>\n    ",
            "smithy.api#required": true
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          }
        },
        "smithy.api#documentation": "\n        <p>Creates a VPC link, under the caller's account in a selected region, in an asynchronous operation that typically takes 2-4 minutes to complete and become operational. The caller must have permissions to create and update VPC Endpoint services.</p>\n    "
      },
      "DeleteApiKey": {
        "type": "operation",
        "input": "DeleteApiKeyRequest",
        "errors": [
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n        <p>Deletes the <a>ApiKey</a> resource.</p>\n    ",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apikeys/{apiKey}",
          "code": 202
        }
      },
      "DeleteApiKeyRequest": {
        "type": "structure",
        "members": {
          "apiKey": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The identifier of the <a>ApiKey</a> resource to be deleted.</p>\n    ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "name": {
            "target": "com.amazonaws.commonapi#String"
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          }
        },
        "smithy.api#documentation": "\n        <p>A request to delete the <a>ApiKey</a> resource.</p>\n    "
      },
      "DeleteAuthorizer": {
        "type": "operation",
        "input": "DeleteAuthorizerRequest",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#ConflictException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n        <p>Deletes an existing <a>Authorizer</a> resource.</p>\n        <div class=\"seeAlso\"><a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/delete-authorizer.html\">AWS CLI</a></div>\n    ",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/restapis/{restApiId}/authorizers/{authorizerId}",
          "code": 202
        }
      },
      "DeleteAuthorizerRequest": {
        "type": "structure",
        "members": {
          "authorizerId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The identifier of the <a>Authorizer</a> resource.</p>\n    ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "name": {
            "target": "com.amazonaws.commonapi#String"
          },
          "restApiId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          }
        },
        "smithy.api#documentation": "\n        <p>Request to delete an existing <a>Authorizer</a> resource.</p>\n    "
      },
      "DeleteBasePathMapping": {
        "type": "operation",
        "input": "DeleteBasePathMappingRequest",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#ConflictException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n        <p>Deletes the <a>BasePathMapping</a> resource.</p>\n    ",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/domainnames/{domainName}/basepathmappings/{basePath}",
          "code": 202
        }
      },
      "DeleteBasePathMappingRequest": {
        "type": "structure",
        "members": {
          "basePath": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The base path name of the <a>BasePathMapping</a> resource to delete.</p>\n        <p>To specify an empty base path, set this parameter to <code>'(none)'</code>.</p>\n    ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "domainName": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The domain name of the <a>BasePathMapping</a> resource to delete.</p>\n    ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "name": {
            "target": "com.amazonaws.commonapi#String"
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          }
        },
        "smithy.api#documentation": "\n        <p>A request to delete the <a>BasePathMapping</a> resource.</p>\n    "
      },
      "DeleteClientCertificate": {
        "type": "operation",
        "input": "DeleteClientCertificateRequest",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n        <p>Deletes the <a>ClientCertificate</a> resource.</p>\n    ",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/clientcertificates/{clientCertificateId}",
          "code": 202
        }
      },
      "DeleteClientCertificateRequest": {
        "type": "structure",
        "members": {
          "clientCertificateId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The identifier of the <a>ClientCertificate</a> resource to be deleted.</p>\n    ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "name": {
            "target": "com.amazonaws.commonapi#String"
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          }
        },
        "smithy.api#documentation": "\n        <p>A request to delete the <a>ClientCertificate</a> resource.</p>\n    "
      },
      "DeleteDeployment": {
        "type": "operation",
        "input": "DeleteDeploymentRequest",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n        <p>Deletes a <a>Deployment</a> resource. Deleting a deployment will only succeed if there are no <a>Stage</a> resources associated with it.</p>\n    ",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/restapis/{restApiId}/deployments/{deploymentId}",
          "code": 202
        }
      },
      "DeleteDeploymentRequest": {
        "type": "structure",
        "members": {
          "deploymentId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The identifier of the <a>Deployment</a> resource to delete.</p>\n    ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "name": {
            "target": "com.amazonaws.commonapi#String"
          },
          "restApiId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          }
        },
        "smithy.api#documentation": "\n        <p>Requests API Gateway to delete a <a>Deployment</a> resource.</p>\n    "
      },
      "DeleteDocumentationPart": {
        "type": "operation",
        "input": "DeleteDocumentationPartRequest",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#ConflictException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/restapis/{restApiId}/documentation/parts/{documentationPartId}",
          "code": 202
        }
      },
      "DeleteDocumentationPartRequest": {
        "type": "structure",
        "members": {
          "documentationPartId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>[Required] The identifier of the to-be-deleted documentation part.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "name": {
            "target": "com.amazonaws.commonapi#String"
          },
          "restApiId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          }
        },
        "smithy.api#documentation": "<p>Deletes an existing documentation part of an API.</p>"
      },
      "DeleteDocumentationVersion": {
        "type": "operation",
        "input": "DeleteDocumentationVersionRequest",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#ConflictException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/restapis/{restApiId}/documentation/versions/{documentationVersion}",
          "code": 202
        }
      },
      "DeleteDocumentationVersionRequest": {
        "type": "structure",
        "members": {
          "documentationVersion": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>[Required] The version identifier of a to-be-deleted documentation snapshot.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "name": {
            "target": "com.amazonaws.commonapi#String"
          },
          "restApiId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          }
        },
        "smithy.api#documentation": "<p>Deletes an existing documentation version of an API.</p>"
      },
      "DeleteDomainName": {
        "type": "operation",
        "input": "DeleteDomainNameRequest",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n        <p>Deletes the <a>DomainName</a> resource.</p>\n    ",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/domainnames/{domainName}",
          "code": 202
        }
      },
      "DeleteDomainNameRequest": {
        "type": "structure",
        "members": {
          "domainName": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "\n        <p>[Required] The name of the <a>DomainName</a> resource to be deleted.</p>\n    ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "name": {
            "target": "com.amazonaws.commonapi#String"
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          }
        },
        "smithy.api#documentation": "\n        <p>A request to delete the <a>DomainName</a> resource.</p>\n    "
      },
      "DeleteGatewayResponse": {
        "type": "operation",
        "input": "DeleteGatewayResponseRequest",
        "errors": [
          "com.amazonaws.commonapi.exceptions#BadRequestException",
          "com.amazonaws.commonapi.exceptions#ConflictException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "<p>Clears any customization of a <a>GatewayResponse</a> of a specified response type on the given <a>RestApi</a> and resets it with the default settings.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/restapis/{restApiId}/gatewayresponses/{responseType}",
          "code": 202
        }
      },
      "DeleteGatewayResponseRequest": {
        "type": "structure",
        "members": {
          "name": {
            "target": "com.amazonaws.commonapi#String"
          },
          "responseType": {
            "target": "GatewayResponseType",
            "smithy.api#documentation": "<p>[Required] <p>The response type of the associated <a>GatewayResponse</a>. Valid values are <ul><li>ACCESS_DENIED</li><li>API_CONFIGURATION_ERROR</li><li>AUTHORIZER_FAILURE</li><li> AUTHORIZER_CONFIGURATION_ERROR</li><li>BAD_REQUEST_PARAMETERS</li><li>BAD_REQUEST_BODY</li><li>DEFAULT_4XX</li><li>DEFAULT_5XX</li><li>EXPIRED_TOKEN</li><li>INVALID_SIGNATURE</li><li>INTEGRATION_FAILURE</li><li>INTEGRATION_TIMEOUT</li><li>INVALID_API_KEY</li><li>MISSING_AUTHENTICATION_TOKEN</li><li> QUOTA_EXCEEDED</li><li>REQUEST_TOO_LARGE</li><li>RESOURCE_NOT_FOUND</li><li>THROTTLED</li><li>UNAUTHORIZED</li><li>UNSUPPORTED_MEDIA_TYPE</li></ul> </p></p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "restApiId": {
            "target": "com.amazonaws.commonapi#String",
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          },
          "template": {
            "target": "com.amazonaws.commonapi#Boolean"
          },
          "templateSkipList": {
            "target": "com.amazonaws.commonapi#ListOfString"
          },
          "title": {
            "target": "com.amazonaws.commonapi#String"
          }
        },
        "smithy.api#documentation": "<p>Clears any customization of a <a>GatewayResponse</a> of a specified response type on the given <a>RestApi</a> and resets it with the default settings.</p>"
      },
      "DeleteIntegration": {
        "type": "operation",
        "input": "DeleteIntegrationRequest",
        "errors": [
          "com.amazonaws.commonapi.exceptions#ConflictException",
          "com.amazonaws.commonapi.exceptions#NotFoundException",
          "com.amazonaws.commonapi.exceptions#TooManyRequestsException",
          "com.amazonaws.commonapi.exceptions#UnauthorizedException"
        ],
        "smithy.api#documentation": "\n        <p>Represents a delete integration.</p>\n    ",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/restapis/{restApiId}/resources/{resourceId}/methods/{httpMethod}/integration",
          "code": 204
        }
      },
      "DeleteIntegrationRequest": {
        "type": "structure",
        "members": {
          "httpMethod": {
            "target": "com.amazonaws.commonapi#String",
[...]
