{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.apigateway#AccessLogSettings": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>A single line format of the access logs of data, as specified by selected <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html#context-variable-reference\">$context variables</a>. The format must include at least <code>$context.requestId</code>.</p>"
          }
        },
        "destinationArn": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the CloudWatch Logs log group or Kinesis Data Firehose delivery stream to receive access logs. If you specify a Kinesis Data Firehose delivery stream, the stream name must begin with <code>amazon-apigateway-</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access log settings, including the access log format and access log destination ARN.</p>"
      }
    },
    "com.amazonaws.apigateway#Account": {
      "type": "structure",
      "members": {
        "cloudwatchRoleArn": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of an Amazon CloudWatch role for the current <a>Account</a>. </p>"
          }
        },
        "throttleSettings": {
          "target": "com.amazonaws.apigateway#ThrottleSettings",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the API request limits configured for the current <a>Account</a>.</p>"
          }
        },
        "features": {
          "target": "com.amazonaws.apigateway#ListOfString",
          "traits": {
            "smithy.api#documentation": "<p>A list of features supported for the account. When usage plans are enabled, the features list will include an entry of <code>\"UsagePlans\"</code>.</p>"
          }
        },
        "apiKeyVersion": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the API keys used for the account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an AWS account that is associated with API Gateway.</p>\n        <div class=\"remarks\">\n          <p>To view the account info, call <code>GET</code> on this resource.</p>\n          <h4>Error Codes</h4>\n          <p>The following exception may be thrown when the request fails.</p>\n          <ul>\n            <li>UnauthorizedException</li>\n            <li>NotFoundException</li>\n            <li>TooManyRequestsException</li>\n          </ul>\n          <p>For detailed error code information, including the corresponding HTTP Status Codes, see <a href=\"https://docs.aws.amazon.com/apigateway/api-reference/handling-errors/#api-error-codes\">API Gateway Error Codes</a></p>\n            <h4>Example: Get the information about an account.</h4>\n            <h5>Request</h5>\n            <pre><code>GET /account HTTP/1.1\nContent-Type: application/json\nHost: apigateway.us-east-1.amazonaws.com\nX-Amz-Date: 20160531T184618Z\nAuthorization: AWS4-HMAC-SHA256 Credential={access_key_ID}/us-east-1/apigateway/aws4_request, SignedHeaders=content-type;host;x-amz-date, Signature={sig4_hash}\n            </code></pre>\n            <h5>Response</h5>\n            <p>The successful response returns a <code>200 OK</code> status code and a payload similar to the following:</p>\n            <pre><code>{\n  \"_links\": {\n    \"curies\": {\n      \"href\": \"https://docs.aws.amazon.com/apigateway/latest/developerguide/account-apigateway-{rel}.html\",\n      \"name\": \"account\",\n      \"templated\": true\n    },\n    \"self\": {\n      \"href\": \"/account\"\n    },\n    \"account:update\": {\n      \"href\": \"/account\"\n    }\n  },\n  \"cloudwatchRoleArn\": \"arn:aws:iam::123456789012:role/apigAwsProxyRole\",\n  \"throttleSettings\": {\n    \"rateLimit\": 500,\n    \"burstLimit\": 1000\n  }\n}\n            </code></pre>\n            <p>In addition to making the REST API call directly, you can use the AWS CLI and an AWS SDK to access this resource.</p>\n        </div>\n        <div class=\"seeAlso\">\n          <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-limits.html\">API Gateway Limits</a>\n            <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/welcome.html\">Developer Guide</a>,\n            <a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/get-account.html\">AWS CLI</a>\n        </div>"
      }
    },
    "com.amazonaws.apigateway#ApiKey": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the API Key.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the API Key.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the API Key.</p>"
          }
        },
        "customerId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>An AWS Marketplace customer identifier , when integrating with the AWS SaaS Marketplace.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the API Key.</p>"
          }
        },
        "enabled": {
          "target": "com.amazonaws.apigateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the API Key can be used by callers.</p>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.apigateway#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the API Key was created.</p>"
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.apigateway#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the API Key was last updated.</p>"
          }
        },
        "stageKeys": {
          "target": "com.amazonaws.apigateway#ListOfString",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a>Stage</a> resources that are associated with the <a>ApiKey</a> resource.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.apigateway#MapOfStringToString",
          "traits": {
            "smithy.api#documentation": "<p>The collection of tags. Each tag element is associated with a given resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource that can be distributed to callers for executing <a>Method</a> resources that require an API key. API keys can be mapped to any <a>Stage</a> on any <a>RestApi</a>, which indicates that the callers with the API key can make requests to that stage.</p>\n      <div class=\"seeAlso\">\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-api-keys.html\">Use API Keys</a>\n      </div>"
      }
    },
    "com.amazonaws.apigateway#ApiKeyIds": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.amazonaws.apigateway#ListOfString",
          "traits": {
            "smithy.api#documentation": "<p>A list of all the <a>ApiKey</a> identifiers.</p>"
          }
        },
        "warnings": {
          "target": "com.amazonaws.apigateway#ListOfString",
          "traits": {
            "smithy.api#documentation": "<p>A list of warning messages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The identifier of an <a>ApiKey</a> used in a <a>UsagePlan</a>.</p>"
      }
    },
    "com.amazonaws.apigateway#ApiKeySourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "HEADER",
            "name": "HEADER"
          },
          {
            "value": "AUTHORIZER",
            "name": "AUTHORIZER"
          }
        ]
      }
    },
    "com.amazonaws.apigateway#ApiKeys": {
      "type": "structure",
      "members": {
        "warnings": {
          "target": "com.amazonaws.apigateway#ListOfString",
          "traits": {
            "smithy.api#documentation": "<p>A list of warning messages logged during the import of API keys when the <code>failOnWarnings</code> option is set to true.</p>"
          }
        },
        "items": {
          "target": "com.amazonaws.apigateway#ListOfApiKey",
          "traits": {
            "smithy.api#documentation": "<p>The current page of elements from this collection.</p>",
            "smithy.api#jsonName": "item"
          }
        },
        "position": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The current pagination position in the paged result set.</p>",
            "smithy.api#httpQuery": "position"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a collection of API keys as represented by an <a>ApiKeys</a> resource.</p>\n      <div class=\"seeAlso\">\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-api-keys.html\">Use API Keys</a>\n      </div>"
      }
    },
    "com.amazonaws.apigateway#ApiKeysFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "csv",
            "name": "csv"
          }
        ]
      }
    },
    "com.amazonaws.apigateway#ApiStage": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>API Id of the associated API stage in a usage plan.</p>"
          }
        },
        "stage": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>API stage name of the associated API stage in a usage plan.</p>"
          }
        },
        "throttle": {
          "target": "com.amazonaws.apigateway#MapOfApiStageThrottleSettings",
          "traits": {
            "smithy.api#documentation": "<p>Map containing method level throttling information for API stage in a usage plan.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>API stage name of the associated API stage in a usage plan.</p>"
      }
    },
    "com.amazonaws.apigateway#Authorizer": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the authorizer resource.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The name of the authorizer.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.apigateway#AuthorizerType",
          "traits": {
            "smithy.api#documentation": "<p>The authorizer type. Valid values are <code>TOKEN</code> for a Lambda function using a single authorization token submitted in a custom header, <code>REQUEST</code> for a Lambda function using incoming request parameters, and <code>COGNITO_USER_POOLS</code> for using an Amazon Cognito user pool.</p>"
          }
        },
        "providerARNs": {
          "target": "com.amazonaws.apigateway#ListOfARNs",
          "traits": {
            "smithy.api#documentation": "<p>A list of the Amazon Cognito user pool ARNs for the <code>COGNITO_USER_POOLS</code> authorizer. Each element is of this format: <code>arn:aws:cognito-idp:{region}:{account_id}:userpool/{user_pool_id}</code>. For a <code>TOKEN</code> or <code>REQUEST</code> authorizer, this is not defined.</p>"
          }
        },
        "authType": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>Optional customer-defined field, used in OpenAPI imports and exports without functional impact.</p>"
          }
        },
        "authorizerUri": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the authorizer's Uniform Resource Identifier (URI). For <code>TOKEN</code> or <code>REQUEST</code> authorizers, this must be a well-formed Lambda function URI, for example, <code>arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:{account_id}:function:{lambda_function_name}/invocations</code>. In general, the URI has this form  <code>arn:aws:apigateway:{region}:lambda:path/{service_api}</code>, where <code>{region}</code> is the same as the region hosting the Lambda function, <code>path</code> indicates that the remaining substring in the URI should be treated as the path to the resource, including the initial <code>/</code>. For Lambda functions, this is usually of the form <code>/2015-03-31/functions/[FunctionARN]/invocations</code>.</p>"
          }
        },
        "authorizerCredentials": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the required credentials as an IAM role for API Gateway to invoke the authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To use resource-based permissions on the Lambda function, specify null.</p>"
          }
        },
        "identitySource": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The identity source for which authorization is requested. <ul><li>For a <code>TOKEN</code> or <code>COGNITO_USER_POOLS</code> authorizer, this is required and specifies the request header mapping expression for the custom header holding the authorization token submitted by the client. For example, if the token header name is <code>Auth</code>, the header mapping expression is  <code>method.request.header.Auth</code>.</li><li>For the <code>REQUEST</code> authorizer, this is required when authorization caching is enabled. The value is a comma-separated string of one or more mapping expressions of the specified request parameters. For example, if an <code>Auth</code> header, a <code>Name</code> query string parameter are defined as identity sources, this value is <code>method.request.header.Auth, method.request.querystring.Name</code>.  These parameters will be used to derive the authorization caching key and to perform runtime validation of the <code>REQUEST</code> authorizer by verifying all of the identity-related request parameters are present, not null and non-empty. Only when this is true does the authorizer invoke the authorizer Lambda function, otherwise, it returns a 401 Unauthorized response without calling the Lambda function. The valid value is a string of comma-separated mapping expressions of the specified request parameters. When the authorization caching is not enabled, this property is optional.</li></ul></p>"
          }
        },
        "identityValidationExpression": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>A validation expression for the incoming identity token. For <code>TOKEN</code> authorizers, this value is a regular expression. For <code>COGNITO_USER_POOLS</code> authorizers, API Gateway will match the <code>aud</code> field of the incoming token from the client against the specified regular expression. It will invoke the authorizer's Lambda function when there is a match. Otherwise, it will return a 401 Unauthorized response without calling the Lambda function. The validation expression does not apply to the <code>REQUEST</code> authorizer.</p>"
          }
        },
        "authorizerResultTtlInSeconds": {
          "target": "com.amazonaws.apigateway#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>The TTL in seconds of cached authorizer results. If it equals 0, authorization caching is disabled. If it is greater than 0, API Gateway will cache authorizer responses. If this field is not set, the default value is 300. The maximum value is 3600, or 1 hour.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an authorization layer for methods. If enabled on a method, API Gateway will activate the authorizer when a client calls the method.</p>\n      <div class=\"seeAlso\">\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-use-lambda-authorizer.html\">Use Lambda Function as Authorizer</a>\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-integrate-with-cognito.html\">Use Cognito User Pool as Authorizer</a>\n      </div>"
      }
    },
    "com.amazonaws.apigateway#AuthorizerType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The authorizer type. Valid values are <code>TOKEN</code> for a Lambda function using a single authorization token submitted in a custom header, <code>REQUEST</code> for a Lambda function using incoming request parameters, and <code>COGNITO_USER_POOLS</code> for using an Amazon Cognito user pool.</p>",
        "smithy.api#enum": [
          {
            "value": "TOKEN",
            "name": "TOKEN"
          },
          {
            "value": "REQUEST",
            "name": "REQUEST"
          },
          {
            "value": "COGNITO_USER_POOLS",
            "name": "COGNITO_USER_POOLS"
          }
        ]
      }
    },
    "com.amazonaws.apigateway#Authorizers": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.apigateway#ListOfAuthorizer",
          "traits": {
            "smithy.api#documentation": "<p>The current page of elements from this collection.</p>",
            "smithy.api#jsonName": "item"
          }
        },
        "position": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The current pagination position in the paged result set.</p>",
            "smithy.api#httpQuery": "position"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a collection of <a>Authorizer</a> resources.</p>\n      <div class=\"seeAlso\">\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-use-lambda-authorizer.html\">Use Lambda Function as Authorizer</a>\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-integrate-with-cognito.html\">Use Cognito User Pool as Authorizer</a>\n      </div>"
      }
    },
    "com.amazonaws.apigateway#BackplaneControlService": {
      "type": "service",
      "version": "2015-07-09",
      "operations": [
        {
          "target": "com.amazonaws.apigateway#CreateApiKey"
        },
        {
          "target": "com.amazonaws.apigateway#CreateAuthorizer"
        },
        {
          "target": "com.amazonaws.apigateway#CreateBasePathMapping"
        },
        {
          "target": "com.amazonaws.apigateway#CreateDeployment"
        },
        {
          "target": "com.amazonaws.apigateway#CreateDocumentationPart"
        },
        {
          "target": "com.amazonaws.apigateway#CreateDocumentationVersion"
        },
        {
          "target": "com.amazonaws.apigateway#CreateDomainName"
        },
        {
          "target": "com.amazonaws.apigateway#CreateModel"
        },
        {
          "target": "com.amazonaws.apigateway#CreateRequestValidator"
        },
        {
          "target": "com.amazonaws.apigateway#CreateResource"
        },
        {
          "target": "com.amazonaws.apigateway#CreateRestApi"
        },
        {
          "target": "com.amazonaws.apigateway#CreateStage"
        },
        {
          "target": "com.amazonaws.apigateway#CreateUsagePlan"
        },
        {
          "target": "com.amazonaws.apigateway#CreateUsagePlanKey"
        },
        {
          "target": "com.amazonaws.apigateway#CreateVpcLink"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteApiKey"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteAuthorizer"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteBasePathMapping"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteClientCertificate"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteDeployment"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteDocumentationPart"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteDocumentationVersion"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteDomainName"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteGatewayResponse"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteIntegration"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteIntegrationResponse"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteMethod"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteMethodResponse"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteModel"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteRequestValidator"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteResource"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteRestApi"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteStage"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteUsagePlan"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteUsagePlanKey"
        },
        {
          "target": "com.amazonaws.apigateway#DeleteVpcLink"
        },
        {
          "target": "com.amazonaws.apigateway#FlushStageAuthorizersCache"
        },
        {
          "target": "com.amazonaws.apigateway#FlushStageCache"
        },
        {
          "target": "com.amazonaws.apigateway#GenerateClientCertificate"
        },
        {
          "target": "com.amazonaws.apigateway#GetAccount"
        },
        {
          "target": "com.amazonaws.apigateway#GetApiKey"
        },
        {
          "target": "com.amazonaws.apigateway#GetApiKeys"
        },
        {
          "target": "com.amazonaws.apigateway#GetAuthorizer"
        },
        {
          "target": "com.amazonaws.apigateway#GetAuthorizers"
        },
        {
          "target": "com.amazonaws.apigateway#GetBasePathMapping"
        },
        {
          "target": "com.amazonaws.apigateway#GetBasePathMappings"
        },
        {
          "target": "com.amazonaws.apigateway#GetClientCertificate"
        },
        {
          "target": "com.amazonaws.apigateway#GetClientCertificates"
        },
        {
          "target": "com.amazonaws.apigateway#GetDeployment"
        },
        {
          "target": "com.amazonaws.apigateway#GetDeployments"
        },
        {
          "target": "com.amazonaws.apigateway#GetDocumentationPart"
        },
        {
          "target": "com.amazonaws.apigateway#GetDocumentationParts"
        },
        {
          "target": "com.amazonaws.apigateway#GetDocumentationVersion"
        },
        {
          "target": "com.amazonaws.apigateway#GetDocumentationVersions"
        },
        {
          "target": "com.amazonaws.apigateway#GetDomainName"
        },
        {
          "target": "com.amazonaws.apigateway#GetDomainNames"
        },
        {
          "target": "com.amazonaws.apigateway#GetExport"
        },
        {
          "target": "com.amazonaws.apigateway#GetGatewayResponse"
        },
        {
          "target": "com.amazonaws.apigateway#GetGatewayResponses"
        },
        {
          "target": "com.amazonaws.apigateway#GetIntegration"
        },
        {
          "target": "com.amazonaws.apigateway#GetIntegrationResponse"
        },
        {
          "target": "com.amazonaws.apigateway#GetMethod"
        },
        {
          "target": "com.amazonaws.apigateway#GetMethodResponse"
        },
        {
          "target": "com.amazonaws.apigateway#GetModel"
        },
        {
          "target": "com.amazonaws.apigateway#GetModels"
        },
        {
          "target": "com.amazonaws.apigateway#GetModelTemplate"
        },
        {
          "target": "com.amazonaws.apigateway#GetRequestValidator"
        },
        {
          "target": "com.amazonaws.apigateway#GetRequestValidators"
        },
        {
          "target": "com.amazonaws.apigateway#GetResource"
        },
        {
          "target": "com.amazonaws.apigateway#GetResources"
        },
        {
          "target": "com.amazonaws.apigateway#GetRestApi"
        },
        {
          "target": "com.amazonaws.apigateway#GetRestApis"
        },
        {
          "target": "com.amazonaws.apigateway#GetSdk"
        },
        {
          "target": "com.amazonaws.apigateway#GetSdkType"
        },
        {
          "target": "com.amazonaws.apigateway#GetSdkTypes"
        },
        {
          "target": "com.amazonaws.apigateway#GetStage"
        },
        {
          "target": "com.amazonaws.apigateway#GetStages"
        },
        {
          "target": "com.amazonaws.apigateway#GetTags"
        },
        {
          "target": "com.amazonaws.apigateway#GetUsage"
        },
        {
          "target": "com.amazonaws.apigateway#GetUsagePlan"
        },
        {
          "target": "com.amazonaws.apigateway#GetUsagePlanKey"
        },
        {
          "target": "com.amazonaws.apigateway#GetUsagePlanKeys"
        },
        {
          "target": "com.amazonaws.apigateway#GetUsagePlans"
        },
        {
          "target": "com.amazonaws.apigateway#GetVpcLink"
        },
        {
          "target": "com.amazonaws.apigateway#GetVpcLinks"
        },
        {
          "target": "com.amazonaws.apigateway#ImportApiKeys"
        },
        {
          "target": "com.amazonaws.apigateway#ImportDocumentationParts"
        },
        {
          "target": "com.amazonaws.apigateway#ImportRestApi"
        },
        {
          "target": "com.amazonaws.apigateway#PutGatewayResponse"
        },
        {
          "target": "com.amazonaws.apigateway#PutIntegration"
        },
        {
          "target": "com.amazonaws.apigateway#PutIntegrationResponse"
        },
        {
          "target": "com.amazonaws.apigateway#PutMethod"
        },
        {
          "target": "com.amazonaws.apigateway#PutMethodResponse"
        },
        {
          "target": "com.amazonaws.apigateway#PutRestApi"
        },
        {
          "target": "com.amazonaws.apigateway#TagResource"
        },
        {
          "target": "com.amazonaws.apigateway#TestInvokeAuthorizer"
        },
        {
          "target": "com.amazonaws.apigateway#TestInvokeMethod"
        },
        {
          "target": "com.amazonaws.apigateway#UntagResource"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateAccount"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateApiKey"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateAuthorizer"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateBasePathMapping"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateClientCertificate"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateDeployment"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateDocumentationPart"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateDocumentationVersion"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateDomainName"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateGatewayResponse"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateIntegration"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateIntegrationResponse"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateMethod"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateMethodResponse"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateModel"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateRequestValidator"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateResource"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateRestApi"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateStage"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateUsage"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateUsagePlan"
        },
        {
          "target": "com.amazonaws.apigateway#UpdateVpcLink"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "API Gateway",
          "arnNamespace": "apigateway",
          "cloudFormationName": "ApiGateway",
          "cloudTrailEventSource": "apigateway.amazonaws.com",
          "endpointPrefix": "apigateway"
        },
        "aws.auth#sigv4": {
          "name": "apigateway"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Amazon API Gateway</fullname>\n        <p>Amazon API Gateway helps developers deliver robust, secure, and scalable mobile and web application back ends. API Gateway allows developers to securely connect mobile and web applications to APIs that run on AWS Lambda, Amazon EC2, or other publicly addressable web services that are hosted outside of AWS.</p>",
        "smithy.api#title": "Amazon API Gateway"
      }
    },
    "com.amazonaws.apigateway#BadRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.apigateway#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The submitted request is not valid, for example, the input is incomplete or incorrect. See the accompanying error message for details.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.apigateway#BasePathMapping": {
      "type": "structure",
      "members": {
        "basePath": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The base path name that callers of the API must provide as part of the URL after the domain name.</p>"
          }
        },
        "restApiId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The string identifier of the associated <a>RestApi</a>.</p>"
          }
        },
        "stage": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the associated stage.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the base path that callers of the API must provide as part of the URL after the domain name.</p>\n        <div class=\"remarks\">A custom domain name plus a <code>BasePathMapping</code> specification identifies a deployed <a>RestApi</a> in a given stage of the owner <a>Account</a>.</div>\n      <div class=\"seeAlso\">\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-custom-domains.html\">Use Custom Domain Names</a>\n      </div>"
      }
    },
    "com.amazonaws.apigateway#BasePathMappings": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.apigateway#ListOfBasePathMapping",
          "traits": {
            "smithy.api#documentation": "<p>The current page of elements from this collection.</p>",
            "smithy.api#jsonName": "item"
          }
        },
        "position": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The current pagination position in the paged result set.</p>",
            "smithy.api#httpQuery": "position"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a collection of <a>BasePathMapping</a> resources.</p>\n      <div class=\"seeAlso\">\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-custom-domains.html\">Use Custom Domain Names</a>\n      </div>"
      }
    },
    "com.amazonaws.apigateway#Blob": {
      "type": "blob"
    },
    "com.amazonaws.apigateway#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.apigateway#CacheClusterSize": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Returns the size of the <b>CacheCluster</b>.</p>",
        "smithy.api#enum": [
          {
            "value": "0.5",
            "name": "SIZE_0_POINT_5_GB"
          },
          {
            "value": "1.6",
            "name": "SIZE_1_POINT_6_GB"
          },
          {
            "value": "6.1",
            "name": "SIZE_6_POINT_1_GB"
          },
          {
            "value": "13.5",
            "name": "SIZE_13_POINT_5_GB"
          },
          {
            "value": "28.4",
            "name": "SIZE_28_POINT_4_GB"
          },
          {
            "value": "58.2",
            "name": "SIZE_58_POINT_2_GB"
          },
          {
            "value": "118",
            "name": "SIZE_118_GB"
          },
          {
            "value": "237",
            "name": "SIZE_237_GB"
          }
        ]
      }
    },
    "com.amazonaws.apigateway#CacheClusterStatus": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Returns the status of the <b>CacheCluster</b>.</p>",
        "smithy.api#enum": [
          {
            "value": "CREATE_IN_PROGRESS",
            "name": "CREATE_IN_PROGRESS"
          },
          {
            "value": "AVAILABLE",
            "name": "AVAILABLE"
          },
          {
            "value": "DELETE_IN_PROGRESS",
            "name": "DELETE_IN_PROGRESS"
          },
          {
            "value": "NOT_AVAILABLE",
            "name": "NOT_AVAILABLE"
          },
          {
            "value": "FLUSH_IN_PROGRESS",
            "name": "FLUSH_IN_PROGRESS"
          }
        ]
      }
    },
    "com.amazonaws.apigateway#CanarySettings": {
      "type": "structure",
      "members": {
        "percentTraffic": {
          "target": "com.amazonaws.apigateway#Double",
          "traits": {
            "smithy.api#documentation": "<p>The percent (0-100) of traffic diverted to a canary deployment.</p>"
          }
        },
        "deploymentId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the canary deployment.</p>"
          }
        },
        "stageVariableOverrides": {
          "target": "com.amazonaws.apigateway#MapOfStringToString",
          "traits": {
            "smithy.api#documentation": "<p>Stage variables overridden for a canary release deployment, including new stage variables introduced in the canary. These stage variables are represented as a string-to-string map between stage variable names and their values.</p>"
          }
        },
        "useStageCache": {
          "target": "com.amazonaws.apigateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean flag to indicate whether the canary deployment uses the stage cache or not.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration settings of a canary deployment.</p>"
      }
    },
    "com.amazonaws.apigateway#ClientCertificate": {
      "type": "structure",
      "members": {
        "clientCertificateId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the client certificate.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the client certificate.</p>"
          }
        },
        "pemEncodedCertificate": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The PEM-encoded public key of the client certificate, which can be used to configure certificate authentication in the integration endpoint .</p>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.apigateway#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the client certificate was created.</p>"
          }
        },
        "expirationDate": {
          "target": "com.amazonaws.apigateway#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the client certificate will expire.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.apigateway#MapOfStringToString",
          "traits": {
            "smithy.api#documentation": "<p>The collection of tags. Each tag element is associated with a given resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a client certificate used to configure client-side SSL authentication while sending requests to the integration endpoint.</p>\n        <div class=\"remarks\">Client certificates are used to authenticate an API by the backend server. To authenticate an API client (or user), use IAM roles and policies, a custom <a>Authorizer</a> or an Amazon Cognito user pool.</div>\n      <div class=\"seeAlso\">\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/getting-started-client-side-ssl-authentication.html\">Use Client-Side Certificate</a>\n      </div>"
      }
    },
    "com.amazonaws.apigateway#ClientCertificates": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.apigateway#ListOfClientCertificate",
          "traits": {
            "smithy.api#documentation": "<p>The current page of elements from this collection.</p>",
            "smithy.api#jsonName": "item"
          }
        },
        "position": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The current pagination position in the paged result set.</p>",
            "smithy.api#httpQuery": "position"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a collection of <a>ClientCertificate</a> resources.</p>\n      <div class=\"seeAlso\">\n        <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/getting-started-client-side-ssl-authentication.html\">Use Client-Side Certificate</a>\n      </div>"
      }
    },
    "com.amazonaws.apigateway#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.apigateway#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.apigateway#ConnectionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INTERNET",
            "name": "INTERNET"
          },
          {
            "value": "VPC_LINK",
            "name": "VPC_LINK"
          }
        ]
      }
    },
    "com.amazonaws.apigateway#ContentHandlingStrategy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CONVERT_TO_BINARY",
            "name": "CONVERT_TO_BINARY"
          },
          {
            "value": "CONVERT_TO_TEXT",
            "name": "CONVERT_TO_TEXT"
          }
        ]
      }
    },
    "com.amazonaws.apigateway#CreateApiKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#CreateApiKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.apigateway#ApiKey"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigateway#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigateway#ConflictException"
        },
        {
          "target": "com.amazonaws.apigateway#LimitExceededException"
        },
        {
          "target": "com.amazonaws.apigateway#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigateway#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.apigateway#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create an <a>ApiKey</a> resource. </p>\n        <div class=\"seeAlso\"><a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/create-api-key.html\">AWS CLI</a></div>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apikeys",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigateway#CreateApiKeyRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <a>ApiKey</a>.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the <a>ApiKey</a>.</p>"
          }
        },
        "enabled": {
          "target": "com.amazonaws.apigateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the <a>ApiKey</a> can be used by callers.</p>"
          }
        },
        "generateDistinctId": {
          "target": "com.amazonaws.apigateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether (<code>true</code>) or not (<code>false</code>) the key identifier is distinct from the created API key value. This parameter is deprecated and should not be used.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a value of the API key.</p> <!-- Why is this declared as the input to create an API key? As a form of copying an existing key value into a new API key? -->"
          }
        },
        "stageKeys": {
          "target": "com.amazonaws.apigateway#ListOfStageKeys",
          "traits": {
            "smithy.api#documentation": "<p>DEPRECATED FOR USAGE PLANS - Specifies stages associated with the API key.</p>"
          }
        },
        "customerId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>An AWS Marketplace customer identifier , when integrating with the AWS SaaS Marketplace.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.apigateway#MapOfStringToString",
          "traits": {
            "smithy.api#documentation": "<p>The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with <code>aws:</code>. The tag value can be up to 256 characters.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to create an <a>ApiKey</a> resource.</p>"
      }
    },
    "com.amazonaws.apigateway#CreateAuthorizer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#CreateAuthorizerRequest"
      },
      "output": {
        "target": "com.amazonaws.apigateway#Authorizer"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigateway#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigateway#LimitExceededException"
        },
        {
          "target": "com.amazonaws.apigateway#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigateway#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.apigateway#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a new <a>Authorizer</a> resource to an existing <a>RestApi</a> resource.</p>\n        <div class=\"seeAlso\"><a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/create-authorizer.html\">AWS CLI</a></div>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/restapis/{restApiId}/authorizers",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigateway#CreateAuthorizerRequest": {
      "type": "structure",
      "members": {
        "restApiId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The name of the authorizer.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.apigateway#AuthorizerType",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The authorizer type. Valid values are <code>TOKEN</code> for a Lambda function using a single authorization token submitted in a custom header, <code>REQUEST</code> for a Lambda function using incoming request parameters, and <code>COGNITO_USER_POOLS</code> for using an Amazon Cognito user pool.</p>",
            "smithy.api#required": {}
          }
        },
        "providerARNs": {
          "target": "com.amazonaws.apigateway#ListOfARNs",
          "traits": {
            "smithy.api#documentation": "<p>A list of the Amazon Cognito user pool ARNs for the <code>COGNITO_USER_POOLS</code> authorizer. Each element is of this format: <code>arn:aws:cognito-idp:{region}:{account_id}:userpool/{user_pool_id}</code>. For a <code>TOKEN</code> or <code>REQUEST</code> authorizer, this is not defined.</p>"
          }
        },
        "authType": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>Optional customer-defined field, used in OpenAPI imports and exports without functional impact.</p>"
          }
        },
        "authorizerUri": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the authorizer's Uniform Resource Identifier (URI). For <code>TOKEN</code> or <code>REQUEST</code> authorizers, this must be a well-formed Lambda function URI, for example, <code>arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:{account_id}:function:{lambda_function_name}/invocations</code>. In general, the URI has this form  <code>arn:aws:apigateway:{region}:lambda:path/{service_api}</code>, where <code>{region}</code> is the same as the region hosting the Lambda function, <code>path</code> indicates that the remaining substring in the URI should be treated as the path to the resource, including the initial <code>/</code>. For Lambda functions, this is usually of the form <code>/2015-03-31/functions/[FunctionARN]/invocations</code>.</p>"
          }
        },
        "authorizerCredentials": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the required credentials as an IAM role for API Gateway to invoke the authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To use resource-based permissions on the Lambda function, specify null.</p>"
          }
        },
        "identitySource": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The identity source for which authorization is requested. <ul><li>For a <code>TOKEN</code> or <code>COGNITO_USER_POOLS</code> authorizer, this is required and specifies the request header mapping expression for the custom header holding the authorization token submitted by the client. For example, if the token header name is <code>Auth</code>, the header mapping expression is  <code>method.request.header.Auth</code>.</li><li>For the <code>REQUEST</code> authorizer, this is required when authorization caching is enabled. The value is a comma-separated string of one or more mapping expressions of the specified request parameters. For example, if an <code>Auth</code> header, a <code>Name</code> query string parameter are defined as identity sources, this value is <code>method.request.header.Auth, method.request.querystring.Name</code>.  These parameters will be used to derive the authorization caching key and to perform runtime validation of the <code>REQUEST</code> authorizer by verifying all of the identity-related request parameters are present, not null and non-empty. Only when this is true does the authorizer invoke the authorizer Lambda function, otherwise, it returns a 401 Unauthorized response without calling the Lambda function. The valid value is a string of comma-separated mapping expressions of the specified request parameters. When the authorization caching is not enabled, this property is optional.</li></ul></p>"
          }
        },
        "identityValidationExpression": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>A validation expression for the incoming identity token. For <code>TOKEN</code> authorizers, this value is a regular expression. For <code>COGNITO_USER_POOLS</code> authorizers, API Gateway will match the <code>aud</code> field of the incoming token from the client against the specified regular expression. It will invoke the authorizer's Lambda function when there is a match. Otherwise, it will return a 401 Unauthorized response without calling the Lambda function. The validation expression does not apply to the <code>REQUEST</code> authorizer.</p>"
          }
        },
        "authorizerResultTtlInSeconds": {
          "target": "com.amazonaws.apigateway#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>The TTL in seconds of cached authorizer results. If it equals 0, authorization caching is disabled. If it is greater than 0, API Gateway will cache authorizer responses. If this field is not set, the default value is 300. The maximum value is 3600, or 1 hour.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to add a new <a>Authorizer</a> to an existing <a>RestApi</a> resource.</p>"
      }
    },
    "com.amazonaws.apigateway#CreateBasePathMapping": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#CreateBasePathMappingRequest"
      },
      "output": {
        "target": "com.amazonaws.apigateway#BasePathMapping"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigateway#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigateway#ConflictException"
        },
        {
          "target": "com.amazonaws.apigateway#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigateway#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.apigateway#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new <a>BasePathMapping</a> resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domainnames/{domainName}/basepathmappings",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigateway#CreateBasePathMappingRequest": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The domain name of the <a>BasePathMapping</a> resource to create.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "basePath": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The base path name that callers of the API must provide as part of the URL after the domain name. This value must be unique for all of the mappings across a single API. Specify '(none)' if you do not want callers to specify a base path name after the domain name.</p>"
          }
        },
        "restApiId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "stage": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the API's stage that you want to use for this mapping. Specify '(none)' if you want callers to explicitly specify the stage name after any base path name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Requests API Gateway to create a new <a>BasePathMapping</a> resource.</p>"
      }
    },
    "com.amazonaws.apigateway#CreateDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#CreateDeploymentRequest"
      },
      "output": {
        "target": "com.amazonaws.apigateway#Deployment"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigateway#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigateway#ConflictException"
        },
        {
          "target": "com.amazonaws.apigateway#LimitExceededException"
        },
        {
          "target": "com.amazonaws.apigateway#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigateway#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.apigateway#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.apigateway#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <a>Deployment</a> resource, which makes a specified <a>RestApi</a> callable over the internet.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/restapis/{restApiId}/deployments",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigateway#CreateDeploymentRequest": {
      "type": "structure",
      "members": {
        "restApiId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "stageName": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <a>Stage</a> resource for the <a>Deployment</a> resource to create.</p>"
          }
        },
        "stageDescription": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the <a>Stage</a> resource for the <a>Deployment</a> resource to create.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The description for the <a>Deployment</a> resource to create.</p>"
          }
        },
        "cacheClusterEnabled": {
          "target": "com.amazonaws.apigateway#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Enables a cache cluster for the <a>Stage</a> resource specified in the input.</p>"
          }
        },
        "cacheClusterSize": {
          "target": "com.amazonaws.apigateway#CacheClusterSize",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the cache cluster size for the <a>Stage</a> resource specified in the input, if a cache cluster is enabled.</p>"
          }
        },
        "variables": {
          "target": "com.amazonaws.apigateway#MapOfStringToString",
          "traits": {
            "smithy.api#documentation": "<p>A map that defines the stage variables for the <a>Stage</a> resource that is associated\n          with the new deployment. Variable names can have alphanumeric and underscore characters, and the values\n          must match <code>[A-Za-z0-9-._~:/?#&=,]+</code>.</p>"
          }
        },
        "canarySettings": {
          "target": "com.amazonaws.apigateway#DeploymentCanarySettings",
          "traits": {
            "smithy.api#documentation": "<p>The input configuration for the canary deployment when the deployment is a canary release deployment. </p>"
          }
        },
        "tracingEnabled": {
          "target": "com.amazonaws.apigateway#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether active tracing with X-ray is enabled for the <a>Stage</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Requests API Gateway to create a <a>Deployment</a> resource.</p>"
      }
    },
    "com.amazonaws.apigateway#CreateDocumentationPart": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#CreateDocumentationPartRequest"
      },
      "output": {
        "target": "com.amazonaws.apigateway#DocumentationPart"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigateway#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigateway#ConflictException"
        },
        {
          "target": "com.amazonaws.apigateway#LimitExceededException"
        },
        {
          "target": "com.amazonaws.apigateway#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigateway#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.apigateway#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/restapis/{restApiId}/documentation/parts",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigateway#CreateDocumentationPartRequest": {
      "type": "structure",
      "members": {
        "restApiId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.amazonaws.apigateway#DocumentationPartLocation",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The location of the targeted API entity of the to-be-created documentation part.</p>",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The new documentation content map of the targeted API entity. Enclosed key-value pairs are API-specific, but only OpenAPI-compliant key-value pairs can be exported and, hence, published.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a new documentation part of a given API.</p>"
      }
    },
    "com.amazonaws.apigateway#CreateDocumentationVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#CreateDocumentationVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.apigateway#DocumentationVersion"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigateway#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigateway#ConflictException"
        },
        {
          "target": "com.amazonaws.apigateway#LimitExceededException"
        },
        {
          "target": "com.amazonaws.apigateway#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigateway#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.apigateway#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/restapis/{restApiId}/documentation/versions",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigateway#CreateDocumentationVersionRequest": {
      "type": "structure",
      "members": {
        "restApiId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "documentationVersion": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The version identifier of the new snapshot.</p>",
            "smithy.api#required": {}
          }
        },
        "stageName": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The stage name to be associated with the new documentation snapshot.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>A description about the new documentation snapshot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a new documentation version of a given API.</p>"
      }
    },
    "com.amazonaws.apigateway#CreateDomainName": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#CreateDomainNameRequest"
      },
      "output": {
        "target": "com.amazonaws.apigateway#DomainName"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigateway#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigateway#ConflictException"
        },
        {
          "target": "com.amazonaws.apigateway#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.apigateway#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new domain name.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domainnames",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigateway#CreateDomainNameRequest": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The name of the <a>DomainName</a> resource.</p>",
            "smithy.api#required": {}
          }
        },
        "certificateName": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The user-friendly name of the certificate that will be used by edge-optimized endpoint for this domain name.</p>"
          }
        },
        "certificateBody": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Deprecated] The body of the server certificate that will be used by edge-optimized endpoint for this domain name provided by your certificate authority.</p>"
          }
        },
        "certificatePrivateKey": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Deprecated] Your edge-optimized endpoint's domain name certificate's private key.</p>"
          }
        },
        "certificateChain": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Deprecated] The intermediate certificates and optionally the root certificate, one after the other without any blank lines, used by an edge-optimized endpoint for this domain name. If you include the root certificate, your certificate chain must start with intermediate certificates and end with the root certificate. Use the intermediate certificates that were provided by your certificate authority. Do not include any intermediaries that are not in the chain of trust path.</p>"
          }
        },
        "certificateArn": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The reference to an AWS-managed certificate that will be used by edge-optimized endpoint for this domain name. AWS Certificate Manager is the only supported source.</p>"
          }
        },
        "regionalCertificateName": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The user-friendly name of the certificate that will be used by regional endpoint for this domain name.</p>"
          }
        },
        "regionalCertificateArn": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The reference to an AWS-managed certificate that will be used by regional endpoint for this domain name. AWS Certificate Manager is the only supported source.</p>"
          }
        },
        "endpointConfiguration": {
          "target": "com.amazonaws.apigateway#EndpointConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint configuration of this <a>DomainName</a> showing the endpoint types of the domain name.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.apigateway#MapOfStringToString",
          "traits": {
            "smithy.api#documentation": "<p>The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with <code>aws:</code>. The tag value can be up to 256 characters.</p>"
          }
        },
        "securityPolicy": {
          "target": "com.amazonaws.apigateway#SecurityPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The Transport Layer Security (TLS) version + cipher suite for this <a>DomainName</a>. The valid values are <code>TLS_1_0</code> and <code>TLS_1_2</code>.</p>"
          }
        },
        "mutualTlsAuthentication": {
          "target": "com.amazonaws.apigateway#MutualTlsAuthenticationInput"
        },
        "ownershipVerificationCertificateArn": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the public certificate issued by ACM to validate ownership of your custom domain. Only required when configuring mutual TLS and using an ACM imported or private CA certificate ARN as the regionalCertificateArn.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request to create a new domain name.</p>"
      }
    },
    "com.amazonaws.apigateway#CreateModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#CreateModelRequest"
      },
      "output": {
        "target": "com.amazonaws.apigateway#Model"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigateway#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigateway#ConflictException"
        },
        {
          "target": "com.amazonaws.apigateway#LimitExceededException"
        },
        {
          "target": "com.amazonaws.apigateway#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigateway#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.apigateway#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a new <a>Model</a> resource to an existing <a>RestApi</a> resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/restapis/{restApiId}/models",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigateway#CreateModelRequest": {
      "type": "structure",
      "members": {
        "restApiId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The <a>RestApi</a> identifier under which the <a>Model</a> will be created.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The name of the model. Must be alphanumeric.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the model.</p>"
          }
        },
        "schema": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The schema for the model. For <code>application/json</code> models, this should be <a target=\"_blank\" href=\"https://tools.ietf.org/html/draft-zyp-json-schema-04\">JSON schema draft 4</a> model.</p>"
          }
        },
        "contentType": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The content-type for the model.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to add a new <a>Model</a> to an existing <a>RestApi</a> resource.</p>"
      }
    },
    "com.amazonaws.apigateway#CreateRequestValidator": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#CreateRequestValidatorRequest"
      },
      "output": {
        "target": "com.amazonaws.apigateway#RequestValidator"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigateway#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigateway#LimitExceededException"
        },
        {
          "target": "com.amazonaws.apigateway#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigateway#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.apigateway#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <a>ReqeustValidator</a> of a given <a>RestApi</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/restapis/{restApiId}/requestvalidators",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigateway#CreateRequestValidatorRequest": {
      "type": "structure",
      "members": {
        "restApiId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the to-be-created <a>RequestValidator</a>.</p>"
          }
        },
        "validateRequestBody": {
          "target": "com.amazonaws.apigateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean flag to indicate whether to validate request body according to the configured model schema for the method (<code>true</code>) or not (<code>false</code>).</p>"
          }
        },
        "validateRequestParameters": {
          "target": "com.amazonaws.apigateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean flag to indicate whether to validate request parameters, <code>true</code>, or not <code>false</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a <a>RequestValidator</a> of a given <a>RestApi</a>.</p>"
      }
    },
    "com.amazonaws.apigateway#CreateResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#CreateResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.apigateway#Resource"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigateway#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigateway#ConflictException"
        },
        {
          "target": "com.amazonaws.apigateway#LimitExceededException"
        },
        {
          "target": "com.amazonaws.apigateway#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigateway#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.apigateway#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <a>Resource</a> resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/restapis/{restApiId}/resources/{parentId}",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigateway#CreateResourceRequest": {
      "type": "structure",
      "members": {
        "restApiId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "parentId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The parent resource's identifier.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "pathPart": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The last path segment for this resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Requests API Gateway to create a <a>Resource</a> resource.</p>"
      }
    },
    "com.amazonaws.apigateway#CreateRestApi": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#CreateRestApiRequest"
      },
      "output": {
        "target": "com.amazonaws.apigateway#RestApi"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigateway#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigateway#LimitExceededException"
        },
        {
          "target": "com.amazonaws.apigateway#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.apigateway#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new <a>RestApi</a> resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/restapis",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigateway#CreateRestApiRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The name of the <a>RestApi</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the <a>RestApi</a>.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>A version identifier for the API.</p>"
          }
        },
        "cloneFrom": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the <a>RestApi</a> that you want to clone from.</p>"
          }
        },
        "binaryMediaTypes": {
          "target": "com.amazonaws.apigateway#ListOfString",
          "traits": {
            "smithy.api#documentation": "<p>The list of binary media types supported by the <a>RestApi</a>. By default, the <a>RestApi</a> supports only UTF-8-encoded text payloads.</p>"
          }
        },
        "minimumCompressionSize": {
          "target": "com.amazonaws.apigateway#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>A nullable integer that is used to enable compression (with non-negative between 0 and 10485760 (10M) bytes, inclusive) or disable compression (with a null value) on an API. When compression is enabled, compression or decompression is not applied on the payload if the payload size is smaller than this value. Setting it to zero allows compression for any payload size.</p>"
          }
        },
        "apiKeySource": {
          "target": "com.amazonaws.apigateway#ApiKeySourceType",
          "traits": {
            "smithy.api#documentation": "<p>The source of the API key for metering requests according to a usage plan. Valid values are: <ul><li><code>HEADER</code> to read the API key from the <code>X-API-Key</code> header of a request. </li><li><code>AUTHORIZER</code> to read the API key from the <code>UsageIdentifierKey</code> from a custom authorizer.</li></ul></p>"
          }
        },
        "endpointConfiguration": {
          "target": "com.amazonaws.apigateway#EndpointConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint configuration of this <a>RestApi</a> showing the endpoint types of the API.</p>"
          }
        },
        "policy": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "A stringified JSON policy document that applies to this RestApi regardless of the caller and <a>Method</a> configuration."
          }
        },
        "tags": {
          "target": "com.amazonaws.apigateway#MapOfStringToString",
          "traits": {
            "smithy.api#documentation": "<p>The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with <code>aws:</code>. The tag value can be up to 256 characters.</p>"
          }
        },
        "disableExecuteApiEndpoint": {
          "target": "com.amazonaws.apigateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether clients can invoke your API by using the default <code>execute-api</code> endpoint. By default, clients can invoke your API with the default https://{api_id}.execute-api.{region}.amazonaws.com endpoint. To require that clients use a custom domain name to invoke your API, disable the default endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The POST Request to add a new <a>RestApi</a> resource to your collection.</p>"
      }
    },
    "com.amazonaws.apigateway#CreateStage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#CreateStageRequest"
      },
      "output": {
        "target": "com.amazonaws.apigateway#Stage"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigateway#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigateway#ConflictException"
        },
        {
          "target": "com.amazonaws.apigateway#LimitExceededException"
        },
        {
          "target": "com.amazonaws.apigateway#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigateway#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.apigateway#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new <a>Stage</a> resource that references a pre-existing <a>Deployment</a> for the API. </p>\n        <!--   <p>Creates a <a>Stage</a> resource.</p>  -->",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/restapis/{restApiId}/stages",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigateway#CreateStageRequest": {
      "type": "structure",
      "members": {
        "restApiId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "stageName": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The name for the <a>Stage</a> resource. Stage names can only contain alphanumeric characters, hyphens, and underscores. Maximum length is 128 characters.</p>",
            "smithy.api#required": {}
          }
        },
        "deploymentId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The identifier of the <a>Deployment</a> resource for the <a>Stage</a> resource.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the <a>Stage</a> resource.</p>"
          }
        },
        "cacheClusterEnabled": {
          "target": "com.amazonaws.apigateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether cache clustering is enabled for the stage.</p>"
          }
        },
        "cacheClusterSize": {
          "target": "com.amazonaws.apigateway#CacheClusterSize",
          "traits": {
            "smithy.api#documentation": "<p>The stage's cache cluster size.</p>"
          }
        },
        "variables": {
          "target": "com.amazonaws.apigateway#MapOfStringToString",
          "traits": {
            "smithy.api#documentation": "<p>A map that defines the stage variables for the new <a>Stage</a> resource. Variable names\n          can have alphanumeric and underscore characters, and the values must match\n          <code>[A-Za-z0-9-._~:/?#&=,]+</code>.</p>"
          }
        },
        "documentationVersion": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the associated API documentation.</p>"
          }
        },
        "canarySettings": {
          "target": "com.amazonaws.apigateway#CanarySettings",
          "traits": {
            "smithy.api#documentation": "<p>The canary deployment settings of this stage.</p>"
          }
        },
        "tracingEnabled": {
          "target": "com.amazonaws.apigateway#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether active tracing with X-ray is enabled for the <a>Stage</a>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.apigateway#MapOfStringToString",
          "traits": {
            "smithy.api#documentation": "<p>The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with <code>aws:</code>. The tag value can be up to 256 characters.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Requests API Gateway to create a <a>Stage</a> resource.</p>"
      }
    },
    "com.amazonaws.apigateway#CreateUsagePlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#CreateUsagePlanRequest"
      },
      "output": {
        "target": "com.amazonaws.apigateway#UsagePlan"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigateway#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigateway#ConflictException"
        },
        {
          "target": "com.amazonaws.apigateway#LimitExceededException"
        },
        {
          "target": "com.amazonaws.apigateway#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigateway#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.apigateway#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a usage plan with the throttle and quota limits, as well as the associated API stages, specified in the payload. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/usageplans",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigateway#CreateUsagePlanKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#CreateUsagePlanKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.apigateway#UsagePlanKey"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigateway#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigateway#ConflictException"
        },
        {
          "target": "com.amazonaws.apigateway#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigateway#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.apigateway#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a usage plan key for adding an existing API key to a usage plan.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/usageplans/{usagePlanId}/keys",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigateway#CreateUsagePlanKeyRequest": {
      "type": "structure",
      "members": {
        "usagePlanId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The Id of the <a>UsagePlan</a> resource representing the usage plan containing the to-be-created <a>UsagePlanKey</a> resource representing a plan customer.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "keyId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The identifier of a <a>UsagePlanKey</a> resource for a plan customer.</p>",
            "smithy.api#required": {}
          }
        },
        "keyType": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The type of a <a>UsagePlanKey</a> resource for a plan customer.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The POST request to create a usage plan key for adding an existing API key to a usage plan.</p>"
      }
    },
    "com.amazonaws.apigateway#CreateUsagePlanRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The name of the usage plan.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the usage plan.</p>"
          }
        },
        "apiStages": {
          "target": "com.amazonaws.apigateway#ListOfApiStage",
          "traits": {
            "smithy.api#documentation": "<p>The associated API stages of the usage plan.</p>"
          }
        },
        "throttle": {
          "target": "com.amazonaws.apigateway#ThrottleSettings",
          "traits": {
            "smithy.api#documentation": "<p>The throttling limits of the usage plan.</p>"
          }
        },
        "quota": {
          "target": "com.amazonaws.apigateway#QuotaSettings",
          "traits": {
            "smithy.api#documentation": "<p>The quota of the usage plan.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.apigateway#MapOfStringToString",
          "traits": {
            "smithy.api#documentation": "<p>The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with <code>aws:</code>. The tag value can be up to 256 characters.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The POST request to create a usage plan with the name, description, throttle limits and quota limits, as well as the associated API stages, specified in the payload.</p>"
      }
    },
    "com.amazonaws.apigateway#CreateVpcLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#CreateVpcLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.apigateway#VpcLink"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigateway#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigateway#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.apigateway#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a VPC link, under the caller's account in a selected region, in an asynchronous operation that typically takes 2-4 minutes to complete and become operational. The caller must have permissions to create and update VPC Endpoint services.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vpclinks",
          "code": 202
        }
      }
    },
    "com.amazonaws.apigateway#CreateVpcLinkRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The name used to label and identify the VPC link.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the VPC link.</p>"
          }
        },
        "targetArns": {
          "target": "com.amazonaws.apigateway#ListOfString",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The ARN of the network load balancer of the VPC targeted by the VPC link. The network load balancer must be owned by the same AWS account of the API owner.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.apigateway#MapOfStringToString",
          "traits": {
            "smithy.api#documentation": "<p>The key-value map of strings. The valid character set is [a-zA-Z+-=._:/]. The tag key can be up to 128 characters and must not start with <code>aws:</code>. The tag value can be up to 256 characters.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a VPC link, under the caller's account in a selected region, in an asynchronous operation that typically takes 2-4 minutes to complete and become operational. The caller must have permissions to create and update VPC Endpoint services.</p>"
      }
    },
    "com.amazonaws.apigateway#DeleteApiKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#DeleteApiKeyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigateway#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigateway#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.apigateway#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the <a>ApiKey</a> resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/apikeys/{apiKey}",
          "code": 202
        }
      }
    },
    "com.amazonaws.apigateway#DeleteApiKeyRequest": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The identifier of the <a>ApiKey</a> resource to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request to delete the <a>ApiKey</a> resource.</p>"
      }
    },
    "com.amazonaws.apigateway#DeleteAuthorizer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#DeleteAuthorizerRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigateway#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigateway#ConflictException"
        },
        {
          "target": "com.amazonaws.apigateway#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigateway#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.apigateway#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing <a>Authorizer</a> resource.</p>\n        <div class=\"seeAlso\"><a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/delete-authorizer.html\">AWS CLI</a></div>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/restapis/{restApiId}/authorizers/{authorizerId}",
          "code": 202
        }
      }
    },
    "com.amazonaws.apigateway#DeleteAuthorizerRequest": {
      "type": "structure",
      "members": {
        "restApiId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The string identifier of the associated <a>RestApi</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "authorizerId": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The identifier of the <a>Authorizer</a> resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request to delete an existing <a>Authorizer</a> resource.</p>"
      }
    },
    "com.amazonaws.apigateway#DeleteBasePathMapping": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#DeleteBasePathMappingRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigateway#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigateway#ConflictException"
        },
        {
          "target": "com.amazonaws.apigateway#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigateway#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.apigateway#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the <a>BasePathMapping</a> resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/domainnames/{domainName}/basepathmappings/{basePath}",
          "code": 202
        }
      }
    },
    "com.amazonaws.apigateway#DeleteBasePathMappingRequest": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The domain name of the <a>BasePathMapping</a> resource to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "basePath": {
          "target": "com.amazonaws.apigateway#String",
          "traits": {
            "smithy.api#documentation": "<p>[Required] The base path name of the <a>BasePathMapping</a> resource to delete.</p>\n        <p>To specify an empty base path, set this parameter to <code>'(none)'</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request to delete the <a>BasePathMapping</a> resource.</p>"
      }
    },
    "com.amazonaws.apigateway#DeleteClientCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigateway#DeleteClientCertificateRequest"
      },
      "errors": [
        {
[...]
