{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.apigatewayv2#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.apigatewayv2#AccessLogSettings": {
      "type": "structure",
      "members": {
        "DestinationArn": {
          "target": "com.amazonaws.apigatewayv2#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the CloudWatch Logs log group to receive access logs.</p>",
            "smithy.api#jsonName": "destinationArn"
          }
        },
        "Format": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And1024",
          "traits": {
            "smithy.api#documentation": "<p>A single line format of the access logs of data, as specified by selected $context variables. The format must include at least $context.requestId.</p>",
            "smithy.api#jsonName": "format"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Settings for logging access in a stage.</p>"
      }
    },
    "com.amazonaws.apigatewayv2#Api": {
      "type": "structure",
      "members": {
        "ApiEndpoint": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the API, of the form {api-id}.execute-api.{region}.amazonaws.com. The stage name is typically appended to this URI to form a complete path to a deployed API stage.</p>",
            "smithy.api#jsonName": "apiEndpoint"
          }
        },
        "ApiGatewayManaged": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether an API is managed by API Gateway. You can't update or delete a managed API by using API Gateway. A managed API can be deleted only through the tooling or service that created it.</p>",
            "smithy.api#jsonName": "apiGatewayManaged"
          }
        },
        "ApiId": {
          "target": "com.amazonaws.apigatewayv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#jsonName": "apiId"
          }
        },
        "ApiKeySelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#documentation": "<p>An API key selection expression. Supported only for WebSocket APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">API Key Selection Expressions</a>.</p>",
            "smithy.api#jsonName": "apiKeySelectionExpression"
          }
        },
        "CorsConfiguration": {
          "target": "com.amazonaws.apigatewayv2#Cors",
          "traits": {
            "smithy.api#documentation": "<p>A CORS configuration. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "corsConfiguration"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.apigatewayv2#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the API was created.</p>",
            "smithy.api#jsonName": "createdDate"
          }
        },
        "Description": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween0And1024",
          "traits": {
            "smithy.api#documentation": "<p>The description of the API.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "DisableSchemaValidation": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoid validating models when creating a deployment. Supported only for WebSocket APIs.</p>",
            "smithy.api#jsonName": "disableSchemaValidation"
          }
        },
        "DisableExecuteApiEndpoint": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether clients can invoke your API by using the default execute-api endpoint. By default, clients can invoke your API with the default https://{api_id}.execute-api.{region}.amazonaws.com endpoint. To require that clients use a custom domain name to invoke your API, disable the default endpoint.</p>",
            "smithy.api#jsonName": "disableExecuteApiEndpoint"
          }
        },
        "ImportInfo": {
          "target": "com.amazonaws.apigatewayv2#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The validation information during API import. This may include particular properties of your OpenAPI definition which are ignored during import. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "importInfo"
          }
        },
        "Name": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And128",
          "traits": {
            "smithy.api#documentation": "<p>The name of the API.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "ProtocolType": {
          "target": "com.amazonaws.apigatewayv2#ProtocolType",
          "traits": {
            "smithy.api#documentation": "<p>The API protocol.</p>",
            "smithy.api#jsonName": "protocolType",
            "smithy.api#required": {}
          }
        },
        "RouteSelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#documentation": "<p>The route selection expression for the API. For HTTP APIs, the routeSelectionExpression must be ${request.method} ${request.path}. If not provided, this will be the default for HTTP APIs. This property is required for WebSocket APIs.</p>",
            "smithy.api#jsonName": "routeSelectionExpression",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.apigatewayv2#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A collection of tags associated with the API.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "Version": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#documentation": "<p>A version identifier for the API.</p>",
            "smithy.api#jsonName": "version"
          }
        },
        "Warnings": {
          "target": "com.amazonaws.apigatewayv2#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The warning messages reported when failonwarnings is turned on during API import.</p>",
            "smithy.api#jsonName": "warnings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an API.</p>"
      }
    },
    "com.amazonaws.apigatewayv2#ApiGatewayV2": {
      "type": "service",
      "version": "2018-11-29",
      "operations": [
        {
          "target": "com.amazonaws.apigatewayv2#CreateApi"
        },
        {
          "target": "com.amazonaws.apigatewayv2#CreateApiMapping"
        },
        {
          "target": "com.amazonaws.apigatewayv2#CreateAuthorizer"
        },
        {
          "target": "com.amazonaws.apigatewayv2#CreateDeployment"
        },
        {
          "target": "com.amazonaws.apigatewayv2#CreateDomainName"
        },
        {
          "target": "com.amazonaws.apigatewayv2#CreateIntegration"
        },
        {
          "target": "com.amazonaws.apigatewayv2#CreateIntegrationResponse"
        },
        {
          "target": "com.amazonaws.apigatewayv2#CreateModel"
        },
        {
          "target": "com.amazonaws.apigatewayv2#CreateRoute"
        },
        {
          "target": "com.amazonaws.apigatewayv2#CreateRouteResponse"
        },
        {
          "target": "com.amazonaws.apigatewayv2#CreateStage"
        },
        {
          "target": "com.amazonaws.apigatewayv2#CreateVpcLink"
        },
        {
          "target": "com.amazonaws.apigatewayv2#DeleteAccessLogSettings"
        },
        {
          "target": "com.amazonaws.apigatewayv2#DeleteApi"
        },
        {
          "target": "com.amazonaws.apigatewayv2#DeleteApiMapping"
        },
        {
          "target": "com.amazonaws.apigatewayv2#DeleteAuthorizer"
        },
        {
          "target": "com.amazonaws.apigatewayv2#DeleteCorsConfiguration"
        },
        {
          "target": "com.amazonaws.apigatewayv2#DeleteDeployment"
        },
        {
          "target": "com.amazonaws.apigatewayv2#DeleteDomainName"
        },
        {
          "target": "com.amazonaws.apigatewayv2#DeleteIntegration"
        },
        {
          "target": "com.amazonaws.apigatewayv2#DeleteIntegrationResponse"
        },
        {
          "target": "com.amazonaws.apigatewayv2#DeleteModel"
        },
        {
          "target": "com.amazonaws.apigatewayv2#DeleteRoute"
        },
        {
          "target": "com.amazonaws.apigatewayv2#DeleteRouteRequestParameter"
        },
        {
          "target": "com.amazonaws.apigatewayv2#DeleteRouteResponse"
        },
        {
          "target": "com.amazonaws.apigatewayv2#DeleteRouteSettings"
        },
        {
          "target": "com.amazonaws.apigatewayv2#DeleteStage"
        },
        {
          "target": "com.amazonaws.apigatewayv2#DeleteVpcLink"
        },
        {
          "target": "com.amazonaws.apigatewayv2#ExportApi"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetApi"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetApiMapping"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetApiMappings"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetApis"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetAuthorizer"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetAuthorizers"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetDeployment"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetDeployments"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetDomainName"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetDomainNames"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetIntegration"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetIntegrationResponse"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetIntegrationResponses"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetIntegrations"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetModel"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetModels"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetModelTemplate"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetRoute"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetRouteResponse"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetRouteResponses"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetRoutes"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetStage"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetStages"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetTags"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetVpcLink"
        },
        {
          "target": "com.amazonaws.apigatewayv2#GetVpcLinks"
        },
        {
          "target": "com.amazonaws.apigatewayv2#ImportApi"
        },
        {
          "target": "com.amazonaws.apigatewayv2#ReimportApi"
        },
        {
          "target": "com.amazonaws.apigatewayv2#ResetAuthorizersCache"
        },
        {
          "target": "com.amazonaws.apigatewayv2#TagResource"
        },
        {
          "target": "com.amazonaws.apigatewayv2#UntagResource"
        },
        {
          "target": "com.amazonaws.apigatewayv2#UpdateApi"
        },
        {
          "target": "com.amazonaws.apigatewayv2#UpdateApiMapping"
        },
        {
          "target": "com.amazonaws.apigatewayv2#UpdateAuthorizer"
        },
        {
          "target": "com.amazonaws.apigatewayv2#UpdateDeployment"
        },
        {
          "target": "com.amazonaws.apigatewayv2#UpdateDomainName"
        },
        {
          "target": "com.amazonaws.apigatewayv2#UpdateIntegration"
        },
        {
          "target": "com.amazonaws.apigatewayv2#UpdateIntegrationResponse"
        },
        {
          "target": "com.amazonaws.apigatewayv2#UpdateModel"
        },
        {
          "target": "com.amazonaws.apigatewayv2#UpdateRoute"
        },
        {
          "target": "com.amazonaws.apigatewayv2#UpdateRouteResponse"
        },
        {
          "target": "com.amazonaws.apigatewayv2#UpdateStage"
        },
        {
          "target": "com.amazonaws.apigatewayv2#UpdateVpcLink"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ApiGatewayV2",
          "arnNamespace": "apigateway",
          "cloudFormationName": "ApiGatewayV2",
          "cloudTrailEventSource": "apigatewayv2.amazonaws.com",
          "endpointPrefix": "apigateway"
        },
        "aws.auth#sigv4": {
          "name": "apigateway"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Amazon API Gateway V2</p>",
        "smithy.api#title": "AmazonApiGatewayV2"
      }
    },
    "com.amazonaws.apigatewayv2#ApiMapping": {
      "type": "structure",
      "members": {
        "ApiId": {
          "target": "com.amazonaws.apigatewayv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The API identifier.</p>",
            "smithy.api#jsonName": "apiId",
            "smithy.api#required": {}
          }
        },
        "ApiMappingId": {
          "target": "com.amazonaws.apigatewayv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The API mapping identifier.</p>",
            "smithy.api#jsonName": "apiMappingId"
          }
        },
        "ApiMappingKey": {
          "target": "com.amazonaws.apigatewayv2#SelectionKey",
          "traits": {
            "smithy.api#documentation": "<p>The API mapping key.</p>",
            "smithy.api#jsonName": "apiMappingKey"
          }
        },
        "Stage": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And128",
          "traits": {
            "smithy.api#documentation": "<p>The API stage.</p>",
            "smithy.api#jsonName": "stage",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an API mapping.</p>"
      }
    },
    "com.amazonaws.apigatewayv2#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Represents an Amazon Resource Name (ARN).</p>"
      }
    },
    "com.amazonaws.apigatewayv2#AuthorizationScopes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of authorization scopes configured on a route. The scopes are used with a JWT authorizer to authorize the method invocation. The authorization works by matching the route scopes against the scopes parsed from the access token in the incoming request. The method invocation is authorized if any route scope matches a claimed scope in the access token. Otherwise, the invocation is not authorized. When the route scope is configured, the client must provide an access token instead of an identity token for authorization purposes.</p>"
      }
    },
    "com.amazonaws.apigatewayv2#AuthorizationType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The authorization type. For WebSocket APIs, valid values are NONE for open access, AWS_IAM for using AWS IAM permissions, and CUSTOM for using a Lambda authorizer. For HTTP APIs, valid values are NONE for open access, JWT for using JSON Web Tokens, AWS_IAM for using AWS IAM permissions, and CUSTOM for using a Lambda authorizer.</p>",
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "AWS_IAM",
            "name": "AWS_IAM"
          },
          {
            "value": "CUSTOM",
            "name": "CUSTOM"
          },
          {
            "value": "JWT",
            "name": "JWT"
          }
        ]
      }
    },
    "com.amazonaws.apigatewayv2#Authorizer": {
      "type": "structure",
      "members": {
        "AuthorizerCredentialsArn": {
          "target": "com.amazonaws.apigatewayv2#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the required credentials as an IAM role for API Gateway to invoke the authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To use resource-based permissions on the Lambda function, don't specify this parameter. Supported only for REQUEST authorizers.</p>",
            "smithy.api#jsonName": "authorizerCredentialsArn"
          }
        },
        "AuthorizerId": {
          "target": "com.amazonaws.apigatewayv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The authorizer identifier.</p>",
            "smithy.api#jsonName": "authorizerId"
          }
        },
        "AuthorizerPayloadFormatVersion": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format of the payload sent to an HTTP API Lambda authorizer. Required for HTTP API Lambda authorizers. Supported values are 1.0 and 2.0. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html\">Working with AWS Lambda authorizers for HTTP APIs</a>.</p>",
            "smithy.api#jsonName": "authorizerPayloadFormatVersion"
          }
        },
        "AuthorizerResultTtlInSeconds": {
          "target": "com.amazonaws.apigatewayv2#IntegerWithLengthBetween0And3600",
          "traits": {
            "smithy.api#documentation": "<p>The time to live (TTL) for cached authorizer results, in seconds. If it equals 0, authorization caching is disabled. If it is greater than 0, API Gateway caches authorizer responses. The maximum value is 3600, or 1 hour. Supported only for HTTP API Lambda authorizers.</p>",
            "smithy.api#jsonName": "authorizerResultTtlInSeconds"
          }
        },
        "AuthorizerType": {
          "target": "com.amazonaws.apigatewayv2#AuthorizerType",
          "traits": {
            "smithy.api#documentation": "<p>The authorizer type. Specify REQUEST for a Lambda function using incoming request parameters. Specify JWT to use JSON Web Tokens (supported only for HTTP APIs).</p>",
            "smithy.api#jsonName": "authorizerType"
          }
        },
        "AuthorizerUri": {
          "target": "com.amazonaws.apigatewayv2#UriWithLengthBetween1And2048",
          "traits": {
            "smithy.api#documentation": "<p>The authorizer's Uniform Resource Identifier (URI). For REQUEST authorizers, this must be a well-formed Lambda function URI, for example, arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:<replaceable>{account_id}</replaceable>:function:<replaceable>{lambda_function_name}</replaceable>/invocations. In general, the URI has this form: arn:aws:apigateway:<replaceable>{region}</replaceable>:lambda:path/<replaceable>{service_api}</replaceable>\n               , where <replaceable></replaceable>{region} is the same as the region hosting the Lambda function, path indicates that the remaining substring in the URI should be treated as the path to the resource, including the initial /. For Lambda functions, this is usually of the form /2015-03-31/functions/[FunctionARN]/invocations. Supported only for REQUEST authorizers.</p>",
            "smithy.api#jsonName": "authorizerUri"
          }
        },
        "EnableSimpleResponses": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a Lambda authorizer returns a response in a simple format. If enabled, the Lambda authorizer can return a boolean value instead of an IAM policy. Supported only for HTTP APIs. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html\">Working with AWS Lambda authorizers for HTTP APIs</a></p>",
            "smithy.api#jsonName": "enableSimpleResponses"
          }
        },
        "IdentitySource": {
          "target": "com.amazonaws.apigatewayv2#IdentitySourceList",
          "traits": {
            "smithy.api#documentation": "<p>The identity source for which authorization is requested.</p> <p>For a REQUEST authorizer, this is optional. The value is a set of one or more mapping expressions of the specified request parameters. The identity source can be headers, query string parameters, stage variables, and context parameters. For example, if an Auth header and a Name query string parameter are defined as identity sources, this value is route.request.header.Auth, route.request.querystring.Name for WebSocket APIs. For HTTP APIs, use selection expressions prefixed with $, for example, $request.header.Auth, $request.querystring.Name. These parameters are used to perform runtime validation for Lambda-based authorizers by verifying all of the identity-related request parameters are present in the request, not null, and non-empty. Only when this is true does the authorizer invoke the authorizer Lambda function. Otherwise, it returns a 401 Unauthorized response without calling the Lambda function. For HTTP APIs, identity sources are also used as the cache key when caching is enabled. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html\">Working with AWS Lambda authorizers for HTTP APIs</a>.</p> <p>For JWT, a single entry that specifies where to extract the JSON Web Token (JWT) from inbound requests. Currently only header-based and query parameter-based selections are supported, for example $request.header.Authorization.</p>",
            "smithy.api#jsonName": "identitySource"
          }
        },
        "IdentityValidationExpression": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween0And1024",
          "traits": {
            "smithy.api#documentation": "<p>The validation expression does not apply to the REQUEST authorizer.</p>",
            "smithy.api#jsonName": "identityValidationExpression"
          }
        },
        "JwtConfiguration": {
          "target": "com.amazonaws.apigatewayv2#JWTConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Represents the configuration of a JWT authorizer. Required for the JWT authorizer type. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "jwtConfiguration"
          }
        },
        "Name": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And128",
          "traits": {
            "smithy.api#documentation": "<p>The name of the authorizer.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an authorizer.</p>"
      }
    },
    "com.amazonaws.apigatewayv2#AuthorizerType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The authorizer type. Specify REQUEST for a Lambda function using incoming request parameters. Specify JWT to use JSON Web Tokens (supported only for HTTP APIs).</p>",
        "smithy.api#enum": [
          {
            "value": "REQUEST",
            "name": "REQUEST"
          },
          {
            "value": "JWT",
            "name": "JWT"
          }
        ]
      }
    },
    "com.amazonaws.apigatewayv2#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#documentation": "<p>Describes the error encountered.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is not valid, for example, the input is incomplete or incorrect. See the accompanying error message for details.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.apigatewayv2#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#documentation": "<p>Describes the error encountered.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. See the accompanying error message for details.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.apigatewayv2#ConnectionType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Represents a connection type.</p>",
        "smithy.api#enum": [
          {
            "value": "INTERNET",
            "name": "INTERNET"
          },
          {
            "value": "VPC_LINK",
            "name": "VPC_LINK"
          }
        ]
      }
    },
    "com.amazonaws.apigatewayv2#ContentHandlingStrategy": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Specifies how to handle response payload content type conversions. Supported only for WebSocket APIs.</p>",
        "smithy.api#enum": [
          {
            "value": "CONVERT_TO_BINARY",
            "name": "CONVERT_TO_BINARY"
          },
          {
            "value": "CONVERT_TO_TEXT",
            "name": "CONVERT_TO_TEXT"
          }
        ]
      }
    },
    "com.amazonaws.apigatewayv2#Cors": {
      "type": "structure",
      "members": {
        "AllowCredentials": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether credentials are included in the CORS request. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "allowCredentials"
          }
        },
        "AllowHeaders": {
          "target": "com.amazonaws.apigatewayv2#CorsHeaderList",
          "traits": {
            "smithy.api#documentation": "<p>Represents a collection of allowed headers. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "allowHeaders"
          }
        },
        "AllowMethods": {
          "target": "com.amazonaws.apigatewayv2#CorsMethodList",
          "traits": {
            "smithy.api#documentation": "<p>Represents a collection of allowed HTTP methods. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "allowMethods"
          }
        },
        "AllowOrigins": {
          "target": "com.amazonaws.apigatewayv2#CorsOriginList",
          "traits": {
            "smithy.api#documentation": "<p>Represents a collection of allowed origins. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "allowOrigins"
          }
        },
        "ExposeHeaders": {
          "target": "com.amazonaws.apigatewayv2#CorsHeaderList",
          "traits": {
            "smithy.api#documentation": "<p>Represents a collection of exposed headers. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "exposeHeaders"
          }
        },
        "MaxAge": {
          "target": "com.amazonaws.apigatewayv2#IntegerWithLengthBetweenMinus1And86400",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds that the browser should cache preflight request results. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "maxAge"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a CORS configuration. Supported only for HTTP APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-cors.html\">Configuring CORS</a> for more information.</p>"
      }
    },
    "com.amazonaws.apigatewayv2#CorsHeaderList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.apigatewayv2#__string"
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a collection of allowed headers. Supported only for HTTP APIs.</p>"
      }
    },
    "com.amazonaws.apigatewayv2#CorsMethodList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64"
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a collection of methods. Supported only for HTTP APIs.</p>"
      }
    },
    "com.amazonaws.apigatewayv2#CorsOriginList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.apigatewayv2#__string"
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a collection of origins. Supported only for HTTP APIs.</p>"
      }
    },
    "com.amazonaws.apigatewayv2#CreateApi": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigatewayv2#CreateApiRequest"
      },
      "output": {
        "target": "com.amazonaws.apigatewayv2#CreateApiResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigatewayv2#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#ConflictException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Api resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/apis",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigatewayv2#CreateApiMapping": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigatewayv2#CreateApiMappingRequest"
      },
      "output": {
        "target": "com.amazonaws.apigatewayv2#CreateApiMappingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigatewayv2#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#ConflictException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an API mapping.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/domainnames/{DomainName}/apimappings",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigatewayv2#CreateApiMappingRequest": {
      "type": "structure",
      "members": {
        "ApiId": {
          "target": "com.amazonaws.apigatewayv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The API identifier.</p>",
            "smithy.api#jsonName": "apiId",
            "smithy.api#required": {}
          }
        },
        "ApiMappingKey": {
          "target": "com.amazonaws.apigatewayv2#SelectionKey",
          "traits": {
            "smithy.api#documentation": "The API mapping key.",
            "smithy.api#jsonName": "apiMappingKey"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The domain name.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Stage": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And128",
          "traits": {
            "smithy.api#documentation": "<p>The API stage.</p>",
            "smithy.api#jsonName": "stage",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a new ApiMapping resource to represent an API mapping.</p>"
      }
    },
    "com.amazonaws.apigatewayv2#CreateApiMappingResponse": {
      "type": "structure",
      "members": {
        "ApiId": {
          "target": "com.amazonaws.apigatewayv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The API identifier.</p>",
            "smithy.api#jsonName": "apiId"
          }
        },
        "ApiMappingId": {
          "target": "com.amazonaws.apigatewayv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The API mapping identifier.</p>",
            "smithy.api#jsonName": "apiMappingId"
          }
        },
        "ApiMappingKey": {
          "target": "com.amazonaws.apigatewayv2#SelectionKey",
          "traits": {
            "smithy.api#documentation": "<p>The API mapping key.</p>",
            "smithy.api#jsonName": "apiMappingKey"
          }
        },
        "Stage": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And128",
          "traits": {
            "smithy.api#documentation": "<p>The API stage.</p>",
            "smithy.api#jsonName": "stage"
          }
        }
      }
    },
    "com.amazonaws.apigatewayv2#CreateApiRequest": {
      "type": "structure",
      "members": {
        "ApiKeySelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#documentation": "<p>An API key selection expression. Supported only for WebSocket APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">API Key Selection Expressions</a>.</p>",
            "smithy.api#jsonName": "apiKeySelectionExpression"
          }
        },
        "CorsConfiguration": {
          "target": "com.amazonaws.apigatewayv2#Cors",
          "traits": {
            "smithy.api#documentation": "<p>A CORS configuration. Supported only for HTTP APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-cors.html\">Configuring CORS</a> for more information.</p>",
            "smithy.api#jsonName": "corsConfiguration"
          }
        },
        "CredentialsArn": {
          "target": "com.amazonaws.apigatewayv2#Arn",
          "traits": {
            "smithy.api#documentation": "<p>This property is part of quick create. It specifies the credentials required for the integration, if any. For a Lambda integration, three options are available. To specify an IAM Role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To require that the caller's identity be passed through from the request, specify arn:aws:iam::*:user/*. To use resource-based permissions on supported AWS services, specify null. Currently, this property is not used for HTTP integrations. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "credentialsArn"
          }
        },
        "Description": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween0And1024",
          "traits": {
            "smithy.api#documentation": "<p>The description of the API.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "DisableSchemaValidation": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoid validating models when creating a deployment. Supported only for WebSocket APIs.</p>",
            "smithy.api#jsonName": "disableSchemaValidation"
          }
        },
        "DisableExecuteApiEndpoint": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether clients can invoke your API by using the default execute-api endpoint. By default, clients can invoke your API with the default https://{api_id}.execute-api.{region}.amazonaws.com endpoint. To require that clients use a custom domain name to invoke your API, disable the default endpoint.</p>",
            "smithy.api#jsonName": "disableExecuteApiEndpoint"
          }
        },
        "Name": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And128",
          "traits": {
            "smithy.api#documentation": "<p>The name of the API.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "ProtocolType": {
          "target": "com.amazonaws.apigatewayv2#ProtocolType",
          "traits": {
            "smithy.api#documentation": "<p>The API protocol.</p>",
            "smithy.api#jsonName": "protocolType",
            "smithy.api#required": {}
          }
        },
        "RouteKey": {
          "target": "com.amazonaws.apigatewayv2#SelectionKey",
          "traits": {
            "smithy.api#documentation": "<p>This property is part of quick create. If you don't specify a routeKey, a default route of $default is created. The $default route acts as a catch-all for any request made to your API, for a particular stage. The $default route key can't be modified. You can add routes after creating the API, and you can update the route keys of additional routes. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "routeKey"
          }
        },
        "RouteSelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#documentation": "<p>The route selection expression for the API. For HTTP APIs, the routeSelectionExpression must be ${request.method} ${request.path}. If not provided, this will be the default for HTTP APIs. This property is required for WebSocket APIs.</p>",
            "smithy.api#jsonName": "routeSelectionExpression"
          }
        },
        "Tags": {
          "target": "com.amazonaws.apigatewayv2#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The collection of tags. Each tag element is associated with a given resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "Target": {
          "target": "com.amazonaws.apigatewayv2#UriWithLengthBetween1And2048",
          "traits": {
            "smithy.api#documentation": "<p>This property is part of quick create. Quick create produces an API with an integration, a default catch-all route, and a default stage which is configured to automatically deploy changes. For HTTP integrations, specify a fully qualified URL. For Lambda integrations, specify a function ARN. The type of the integration will be HTTP_PROXY or AWS_PROXY, respectively. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "target"
          }
        },
        "Version": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#documentation": "<p>A version identifier for the API.</p>",
            "smithy.api#jsonName": "version"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Api resource to represent an API.</p>"
      }
    },
    "com.amazonaws.apigatewayv2#CreateApiResponse": {
      "type": "structure",
      "members": {
        "ApiEndpoint": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the API, of the form {api-id}.execute-api.{region}.amazonaws.com. The stage name is typically appended to this URI to form a complete path to a deployed API stage.</p>",
            "smithy.api#jsonName": "apiEndpoint"
          }
        },
        "ApiGatewayManaged": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether an API is managed by API Gateway. You can't update or delete a managed API by using API Gateway. A managed API can be deleted only through the tooling or service that created it.</p>",
            "smithy.api#jsonName": "apiGatewayManaged"
          }
        },
        "ApiId": {
          "target": "com.amazonaws.apigatewayv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#jsonName": "apiId"
          }
        },
        "ApiKeySelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#documentation": "<p>An API key selection expression. Supported only for WebSocket APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">API Key Selection Expressions</a>.</p>",
            "smithy.api#jsonName": "apiKeySelectionExpression"
          }
        },
        "CorsConfiguration": {
          "target": "com.amazonaws.apigatewayv2#Cors",
          "traits": {
            "smithy.api#documentation": "<p>A CORS configuration. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "corsConfiguration"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.apigatewayv2#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the API was created.</p>",
            "smithy.api#jsonName": "createdDate"
          }
        },
        "Description": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween0And1024",
          "traits": {
            "smithy.api#documentation": "<p>The description of the API.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "DisableSchemaValidation": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoid validating models when creating a deployment. Supported only for WebSocket APIs.</p>",
            "smithy.api#jsonName": "disableSchemaValidation"
          }
        },
        "DisableExecuteApiEndpoint": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether clients can invoke your API by using the default execute-api endpoint. By default, clients can invoke your API with the default https://{api_id}.execute-api.{region}.amazonaws.com endpoint. To require that clients use a custom domain name to invoke your API, disable the default endpoint.</p>",
            "smithy.api#jsonName": "disableExecuteApiEndpoint"
          }
        },
        "ImportInfo": {
          "target": "com.amazonaws.apigatewayv2#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The validation information during API import. This may include particular properties of your OpenAPI definition which are ignored during import. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "importInfo"
          }
        },
        "Name": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And128",
          "traits": {
            "smithy.api#documentation": "<p>The name of the API.</p>",
            "smithy.api#jsonName": "name"
          }
        },
        "ProtocolType": {
          "target": "com.amazonaws.apigatewayv2#ProtocolType",
          "traits": {
            "smithy.api#documentation": "<p>The API protocol.</p>",
            "smithy.api#jsonName": "protocolType"
          }
        },
        "RouteSelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#documentation": "<p>The route selection expression for the API. For HTTP APIs, the routeSelectionExpression must be ${request.method} ${request.path}. If not provided, this will be the default for HTTP APIs. This property is required for WebSocket APIs.</p>",
            "smithy.api#jsonName": "routeSelectionExpression"
          }
        },
        "Tags": {
          "target": "com.amazonaws.apigatewayv2#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A collection of tags associated with the API.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "Version": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#documentation": "<p>A version identifier for the API.</p>",
            "smithy.api#jsonName": "version"
          }
        },
        "Warnings": {
          "target": "com.amazonaws.apigatewayv2#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The warning messages reported when failonwarnings is turned on during API import.</p>",
            "smithy.api#jsonName": "warnings"
          }
        }
      }
    },
    "com.amazonaws.apigatewayv2#CreateAuthorizer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigatewayv2#CreateAuthorizerRequest"
      },
      "output": {
        "target": "com.amazonaws.apigatewayv2#CreateAuthorizerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigatewayv2#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#ConflictException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Authorizer for an API.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/apis/{ApiId}/authorizers",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigatewayv2#CreateAuthorizerRequest": {
      "type": "structure",
      "members": {
        "ApiId": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The API identifier.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AuthorizerCredentialsArn": {
          "target": "com.amazonaws.apigatewayv2#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the required credentials as an IAM role for API Gateway to invoke the authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To use resource-based permissions on the Lambda function, don't specify this parameter. Supported only for REQUEST authorizers.</p>",
            "smithy.api#jsonName": "authorizerCredentialsArn"
          }
        },
        "AuthorizerPayloadFormatVersion": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format of the payload sent to an HTTP API Lambda authorizer. Required for HTTP API Lambda authorizers. Supported values are 1.0 and 2.0. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html\">Working with AWS Lambda authorizers for HTTP APIs</a>.</p>",
            "smithy.api#jsonName": "authorizerPayloadFormatVersion"
          }
        },
        "AuthorizerResultTtlInSeconds": {
          "target": "com.amazonaws.apigatewayv2#IntegerWithLengthBetween0And3600",
          "traits": {
            "smithy.api#documentation": "<p>The time to live (TTL) for cached authorizer results, in seconds. If it equals 0, authorization caching is disabled. If it is greater than 0, API Gateway caches authorizer responses. The maximum value is 3600, or 1 hour. Supported only for HTTP API Lambda authorizers.</p>",
            "smithy.api#jsonName": "authorizerResultTtlInSeconds"
          }
        },
        "AuthorizerType": {
          "target": "com.amazonaws.apigatewayv2#AuthorizerType",
          "traits": {
            "smithy.api#documentation": "<p>The authorizer type. Specify REQUEST for a Lambda function using incoming request parameters. Specify JWT to use JSON Web Tokens (supported only for HTTP APIs).</p>",
            "smithy.api#jsonName": "authorizerType",
            "smithy.api#required": {}
          }
        },
        "AuthorizerUri": {
          "target": "com.amazonaws.apigatewayv2#UriWithLengthBetween1And2048",
          "traits": {
            "smithy.api#documentation": "<p>The authorizer's Uniform Resource Identifier (URI). For REQUEST authorizers, this must be a well-formed Lambda function URI, for example, arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:<replaceable>{account_id}</replaceable>:function:<replaceable>{lambda_function_name}</replaceable>/invocations. In general, the URI has this form: arn:aws:apigateway:<replaceable>{region}</replaceable>:lambda:path/<replaceable>{service_api}</replaceable>\n               , where <replaceable></replaceable>{region} is the same as the region hosting the Lambda function, path indicates that the remaining substring in the URI should be treated as the path to the resource, including the initial /. For Lambda functions, this is usually of the form /2015-03-31/functions/[FunctionARN]/invocations. Supported only for REQUEST authorizers.</p>",
            "smithy.api#jsonName": "authorizerUri"
          }
        },
        "EnableSimpleResponses": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a Lambda authorizer returns a response in a simple format. By default, a Lambda authorizer must return an IAM policy. If enabled, the Lambda authorizer can return a boolean value instead of an IAM policy. Supported only for HTTP APIs. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html\">Working with AWS Lambda authorizers for HTTP APIs</a></p>",
            "smithy.api#jsonName": "enableSimpleResponses"
          }
        },
        "IdentitySource": {
          "target": "com.amazonaws.apigatewayv2#IdentitySourceList",
          "traits": {
            "smithy.api#documentation": "<p>The identity source for which authorization is requested.</p> <p>For a REQUEST authorizer, this is optional. The value is a set of one or more mapping expressions of the specified request parameters. The identity source can be headers, query string parameters, stage variables, and context parameters. For example, if an Auth header and a Name query string parameter are defined as identity sources, this value is route.request.header.Auth, route.request.querystring.Name for WebSocket APIs. For HTTP APIs, use selection expressions prefixed with $, for example, $request.header.Auth, $request.querystring.Name. These parameters are used to perform runtime validation for Lambda-based authorizers by verifying all of the identity-related request parameters are present in the request, not null, and non-empty. Only when this is true does the authorizer invoke the authorizer Lambda function. Otherwise, it returns a 401 Unauthorized response without calling the Lambda function. For HTTP APIs, identity sources are also used as the cache key when caching is enabled. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html\">Working with AWS Lambda authorizers for HTTP APIs</a>.</p> <p>For JWT, a single entry that specifies where to extract the JSON Web Token (JWT) from inbound requests. Currently only header-based and query parameter-based selections are supported, for example $request.header.Authorization.</p>",
            "smithy.api#jsonName": "identitySource",
            "smithy.api#required": {}
          }
        },
        "IdentityValidationExpression": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween0And1024",
          "traits": {
            "smithy.api#documentation": "<p>This parameter is not used.</p>",
            "smithy.api#jsonName": "identityValidationExpression"
          }
        },
        "JwtConfiguration": {
          "target": "com.amazonaws.apigatewayv2#JWTConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Represents the configuration of a JWT authorizer. Required for the JWT authorizer type. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "jwtConfiguration"
          }
        },
        "Name": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And128",
          "traits": {
            "smithy.api#documentation": "<p>The name of the authorizer.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Authorizer resource to represent an authorizer.</p>"
      }
    },
    "com.amazonaws.apigatewayv2#CreateAuthorizerResponse": {
      "type": "structure",
      "members": {
        "AuthorizerCredentialsArn": {
          "target": "com.amazonaws.apigatewayv2#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the required credentials as an IAM role for API Gateway to invoke the authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To use resource-based permissions on the Lambda function, don't specify this parameter. Supported only for REQUEST authorizers.</p>",
            "smithy.api#jsonName": "authorizerCredentialsArn"
          }
        },
        "AuthorizerId": {
          "target": "com.amazonaws.apigatewayv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The authorizer identifier.</p>",
            "smithy.api#jsonName": "authorizerId"
          }
        },
        "AuthorizerPayloadFormatVersion": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format of the payload sent to an HTTP API Lambda authorizer. Required for HTTP API Lambda authorizers. Supported values are 1.0 and 2.0. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html\">Working with AWS Lambda authorizers for HTTP APIs</a>.</p>",
            "smithy.api#jsonName": "authorizerPayloadFormatVersion"
          }
        },
        "AuthorizerResultTtlInSeconds": {
          "target": "com.amazonaws.apigatewayv2#IntegerWithLengthBetween0And3600",
          "traits": {
            "smithy.api#documentation": "<p>The time to live (TTL) for cached authorizer results, in seconds. If it equals 0, authorization caching is disabled. If it is greater than 0, API Gateway caches authorizer responses. The maximum value is 3600, or 1 hour. Supported only for HTTP API Lambda authorizers.</p>",
            "smithy.api#jsonName": "authorizerResultTtlInSeconds"
          }
        },
        "AuthorizerType": {
          "target": "com.amazonaws.apigatewayv2#AuthorizerType",
          "traits": {
            "smithy.api#documentation": "<p>The authorizer type. Specify REQUEST for a Lambda function using incoming request parameters. Specify JWT to use JSON Web Tokens (supported only for HTTP APIs).</p>",
            "smithy.api#jsonName": "authorizerType"
          }
        },
        "AuthorizerUri": {
          "target": "com.amazonaws.apigatewayv2#UriWithLengthBetween1And2048",
          "traits": {
            "smithy.api#documentation": "<p>The authorizer's Uniform Resource Identifier (URI). For REQUEST authorizers, this must be a well-formed Lambda function URI, for example, arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:<replaceable>{account_id}</replaceable>:function:<replaceable>{lambda_function_name}</replaceable>/invocations. In general, the URI has this form: arn:aws:apigateway:<replaceable>{region}</replaceable>:lambda:path/<replaceable>{service_api}</replaceable>\n               , where <replaceable></replaceable>{region} is the same as the region hosting the Lambda function, path indicates that the remaining substring in the URI should be treated as the path to the resource, including the initial /. For Lambda functions, this is usually of the form /2015-03-31/functions/[FunctionARN]/invocations. Supported only for REQUEST authorizers.</p>",
            "smithy.api#jsonName": "authorizerUri"
          }
        },
        "EnableSimpleResponses": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a Lambda authorizer returns a response in a simple format. If enabled, the Lambda authorizer can return a boolean value instead of an IAM policy. Supported only for HTTP APIs. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html\">Working with AWS Lambda authorizers for HTTP APIs</a></p>",
            "smithy.api#jsonName": "enableSimpleResponses"
          }
        },
        "IdentitySource": {
          "target": "com.amazonaws.apigatewayv2#IdentitySourceList",
          "traits": {
            "smithy.api#documentation": "<p>The identity source for which authorization is requested.</p> <p>For a REQUEST authorizer, this is optional. The value is a set of one or more mapping expressions of the specified request parameters. The identity source can be headers, query string parameters, stage variables, and context parameters. For example, if an Auth header and a Name query string parameter are defined as identity sources, this value is route.request.header.Auth, route.request.querystring.Name for WebSocket APIs. For HTTP APIs, use selection expressions prefixed with $, for example, $request.header.Auth, $request.querystring.Name. These parameters are used to perform runtime validation for Lambda-based authorizers by verifying all of the identity-related request parameters are present in the request, not null, and non-empty. Only when this is true does the authorizer invoke the authorizer Lambda function. Otherwise, it returns a 401 Unauthorized response without calling the Lambda function. For HTTP APIs, identity sources are also used as the cache key when caching is enabled. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html\">Working with AWS Lambda authorizers for HTTP APIs</a>.</p> <p>For JWT, a single entry that specifies where to extract the JSON Web Token (JWT) from inbound requests. Currently only header-based and query parameter-based selections are supported, for example $request.header.Authorization.</p>",
            "smithy.api#jsonName": "identitySource"
          }
        },
        "IdentityValidationExpression": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween0And1024",
          "traits": {
            "smithy.api#documentation": "<p>The validation expression does not apply to the REQUEST authorizer.</p>",
            "smithy.api#jsonName": "identityValidationExpression"
          }
        },
        "JwtConfiguration": {
          "target": "com.amazonaws.apigatewayv2#JWTConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Represents the configuration of a JWT authorizer. Required for the JWT authorizer type. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "jwtConfiguration"
          }
        },
        "Name": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And128",
          "traits": {
            "smithy.api#documentation": "<p>The name of the authorizer.</p>",
            "smithy.api#jsonName": "name"
          }
        }
      }
    },
    "com.amazonaws.apigatewayv2#CreateDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigatewayv2#CreateDeploymentRequest"
      },
      "output": {
        "target": "com.amazonaws.apigatewayv2#CreateDeploymentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigatewayv2#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#ConflictException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Deployment for an API.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/apis/{ApiId}/deployments",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigatewayv2#CreateDeploymentRequest": {
      "type": "structure",
      "members": {
        "ApiId": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The API identifier.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween0And1024",
          "traits": {
            "smithy.api#documentation": "<p>The description for the deployment resource.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "StageName": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And128",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Stage resource for the Deployment resource to create.</p>",
            "smithy.api#jsonName": "stageName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Deployment resource to represent a deployment.</p>"
      }
    },
    "com.amazonaws.apigatewayv2#CreateDeploymentResponse": {
      "type": "structure",
      "members": {
        "AutoDeployed": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a deployment was automatically released.</p>",
            "smithy.api#jsonName": "autoDeployed"
          }
        },
        "CreatedDate": {
          "target": "com.amazonaws.apigatewayv2#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the Deployment resource was created.</p>",
            "smithy.api#jsonName": "createdDate"
          }
        },
        "DeploymentId": {
          "target": "com.amazonaws.apigatewayv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the deployment.</p>",
            "smithy.api#jsonName": "deploymentId"
          }
        },
        "DeploymentStatus": {
          "target": "com.amazonaws.apigatewayv2#DeploymentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the deployment: PENDING, FAILED, or SUCCEEDED.</p>",
            "smithy.api#jsonName": "deploymentStatus"
          }
        },
        "DeploymentStatusMessage": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#documentation": "<p>May contain additional feedback on the status of an API deployment.</p>",
            "smithy.api#jsonName": "deploymentStatusMessage"
          }
        },
        "Description": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween0And1024",
          "traits": {
            "smithy.api#documentation": "<p>The description for the deployment.</p>",
            "smithy.api#jsonName": "description"
          }
        }
      }
    },
    "com.amazonaws.apigatewayv2#CreateDomainName": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigatewayv2#CreateDomainNameRequest"
      },
      "output": {
        "target": "com.amazonaws.apigatewayv2#CreateDomainNameResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigatewayv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#ConflictException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a domain name.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/domainnames",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigatewayv2#CreateDomainNameRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And512",
          "traits": {
            "smithy.api#documentation": "<p>The domain name.</p>",
            "smithy.api#jsonName": "domainName",
            "smithy.api#required": {}
          }
        },
        "DomainNameConfigurations": {
          "target": "com.amazonaws.apigatewayv2#DomainNameConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>The domain name configurations.</p>",
            "smithy.api#jsonName": "domainNameConfigurations"
          }
        },
        "MutualTlsAuthentication": {
          "target": "com.amazonaws.apigatewayv2#MutualTlsAuthenticationInput",
          "traits": {
            "smithy.api#documentation": "<p>The mutual TLS authentication configuration for a custom domain name.</p>",
            "smithy.api#jsonName": "mutualTlsAuthentication"
          }
        },
        "Tags": {
          "target": "com.amazonaws.apigatewayv2#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The collection of tags associated with a domain name.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a new DomainName resource to represent a domain name.</p>"
      }
    },
    "com.amazonaws.apigatewayv2#CreateDomainNameResponse": {
      "type": "structure",
      "members": {
        "ApiMappingSelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#documentation": "<p>The API mapping selection expression.</p>",
            "smithy.api#jsonName": "apiMappingSelectionExpression"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And512",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DomainName resource.</p>",
            "smithy.api#jsonName": "domainName"
          }
        },
        "DomainNameConfigurations": {
          "target": "com.amazonaws.apigatewayv2#DomainNameConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>The domain name configurations.</p>",
            "smithy.api#jsonName": "domainNameConfigurations"
          }
        },
        "MutualTlsAuthentication": {
          "target": "com.amazonaws.apigatewayv2#MutualTlsAuthentication",
          "traits": {
            "smithy.api#documentation": "<p>The mutual TLS authentication configuration for a custom domain name.</p>",
            "smithy.api#jsonName": "mutualTlsAuthentication"
          }
        },
        "Tags": {
          "target": "com.amazonaws.apigatewayv2#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The collection of tags associated with a domain name.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.apigatewayv2#CreateIntegration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigatewayv2#CreateIntegrationRequest"
      },
      "output": {
        "target": "com.amazonaws.apigatewayv2#CreateIntegrationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigatewayv2#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#ConflictException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Integration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/apis/{ApiId}/integrations",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigatewayv2#CreateIntegrationRequest": {
      "type": "structure",
      "members": {
        "ApiId": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The API identifier.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConnectionId": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And1024",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC link for a private integration. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "connectionId"
          }
        },
        "ConnectionType": {
          "target": "com.amazonaws.apigatewayv2#ConnectionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the network connection to the integration endpoint. Specify INTERNET for connections through the public routable internet or VPC_LINK for private connections between API Gateway and resources in a VPC. The default value is INTERNET.</p>",
            "smithy.api#jsonName": "connectionType"
          }
        },
        "ContentHandlingStrategy": {
          "target": "com.amazonaws.apigatewayv2#ContentHandlingStrategy",
          "traits": {
            "smithy.api#documentation": "<p>Supported only for WebSocket APIs. Specifies how to handle response payload content type conversions. Supported values are CONVERT_TO_BINARY and CONVERT_TO_TEXT, with the following behaviors:</p> <p>CONVERT_TO_BINARY: Converts a response payload from a Base64-encoded string to the corresponding binary blob.</p> <p>CONVERT_TO_TEXT: Converts a response payload from a binary blob to a Base64-encoded string.</p> <p>If this property is not defined, the response payload will be passed through from the integration response to the route response or method response without modification.</p>",
            "smithy.api#jsonName": "contentHandlingStrategy"
          }
        },
        "CredentialsArn": {
          "target": "com.amazonaws.apigatewayv2#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the credentials required for the integration, if any. For AWS integrations, three options are available. To specify an IAM Role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To require that the caller's identity be passed through from the request, specify the string arn:aws:iam::*:user/*. To use resource-based permissions on supported AWS services, specify null.</p>",
            "smithy.api#jsonName": "credentialsArn"
          }
        },
        "Description": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween0And1024",
          "traits": {
            "smithy.api#documentation": "<p>The description of the integration.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "IntegrationMethod": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the integration's HTTP method type.</p>",
            "smithy.api#jsonName": "integrationMethod"
          }
        },
        "IntegrationSubtype": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And128",
          "traits": {
            "smithy.api#documentation": "<p>Supported only for HTTP API AWS_PROXY integrations. Specifies the AWS service action to invoke. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-develop-integrations-aws-services-reference.html\">Integration subtype reference</a>.</p>",
            "smithy.api#jsonName": "integrationSubtype"
          }
        },
        "IntegrationType": {
          "target": "com.amazonaws.apigatewayv2#IntegrationType",
          "traits": {
            "smithy.api#documentation": "<p>The integration type of an integration. One of the following:</p> <p>AWS: for integrating the route or method request with an AWS service action, including the Lambda function-invoking action. With the Lambda function-invoking action, this is referred to as the Lambda custom integration. With any other AWS service action, this is known as AWS integration. Supported only for WebSocket APIs.</p> <p>AWS_PROXY: for integrating the route or method request with a Lambda function or other AWS service action. This integration is also referred to as a Lambda proxy integration.</p> <p>HTTP: for integrating the route or method request with an HTTP endpoint. This integration is also referred to as the HTTP custom integration. Supported only for WebSocket APIs.</p> <p>HTTP_PROXY: for integrating the route or method request with an HTTP endpoint, with the client request passed through as-is. This is also referred to as HTTP proxy integration. For HTTP API private integrations, use an HTTP_PROXY integration.</p> <p>MOCK: for integrating the route or method request with API Gateway as a \"loopback\" endpoint without invoking any backend. Supported only for WebSocket APIs.</p>",
            "smithy.api#jsonName": "integrationType",
            "smithy.api#required": {}
          }
        },
        "IntegrationUri": {
          "target": "com.amazonaws.apigatewayv2#UriWithLengthBetween1And2048",
          "traits": {
            "smithy.api#documentation": "<p>For a Lambda integration, specify the URI of a Lambda function.</p> <p>For an HTTP integration, specify a fully-qualified URL.</p> <p>For an HTTP API private integration, specify the ARN of an Application Load Balancer listener, Network Load Balancer listener, or AWS Cloud Map service. If you specify the ARN of an AWS Cloud Map service, API Gateway uses DiscoverInstances to identify resources. You can use query parameters to target specific resources. To learn more, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_DiscoverInstances.html\">DiscoverInstances</a>. For private integrations, all resources must be owned by the same AWS account.</p>",
            "smithy.api#jsonName": "integrationUri"
          }
        },
        "PassthroughBehavior": {
          "target": "com.amazonaws.apigatewayv2#PassthroughBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the pass-through behavior for incoming requests based on the Content-Type header in the request, and the available mapping templates specified as the requestTemplates property on the Integration resource. There are three valid values: WHEN_NO_MATCH, WHEN_NO_TEMPLATES, and NEVER. Supported only for WebSocket APIs.</p> <p>WHEN_NO_MATCH passes the request body for unmapped content types through to the integration backend without transformation.</p> <p>NEVER rejects unmapped content types with an HTTP 415 Unsupported Media Type response.</p> <p>WHEN_NO_TEMPLATES allows pass-through when the integration has no content types mapped to templates. However, if there is at least one content type defined, unmapped content types will be rejected with the same HTTP 415 Unsupported Media Type response.</p>",
            "smithy.api#jsonName": "passthroughBehavior"
          }
        },
        "PayloadFormatVersion": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format of the payload sent to an integration. Required for HTTP APIs.</p>",
            "smithy.api#jsonName": "payloadFormatVersion"
          }
        },
        "RequestParameters": {
          "target": "com.amazonaws.apigatewayv2#IntegrationParameters",
          "traits": {
            "smithy.api#documentation": "<p>For WebSocket APIs, a key-value map specifying request parameters that are passed from the method request to the backend. The key is an integration request parameter name and the associated value is a method request parameter value or static value that must be enclosed within single quotes and pre-encoded as required by the backend. The method request parameter value must match the pattern of method.request.<replaceable>{location}</replaceable>.<replaceable>{name}</replaceable>\n               , where \n                  <replaceable>{location}</replaceable>\n                is querystring, path, or header; and \n                  <replaceable>{name}</replaceable>\n                must be a valid and unique method request parameter name.</p> <p>For HTTP API integrations with a specified integrationSubtype, request parameters are a key-value map specifying parameters that are passed to AWS_PROXY integrations. You can provide static values, or map request data, stage variables, or context variables that are evaluated at runtime. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-develop-integrations-aws-services.html\">Working with AWS service integrations for HTTP APIs</a>.</p> <p>For HTTP API integrations without a specified integrationSubtype request parameters are a key-value map specifying how to transform HTTP requests before sending them to the backend. The key should follow the pattern &lt;action&gt;:&lt;header|querystring|path&gt;.&lt;location&gt; where action can be append, overwrite or remove. For values, you can provide static values, or map request data, stage variables, or context variables that are evaluated at runtime. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-parameter-mapping.html\">Transforming API requests and responses</a>.</p>",
            "smithy.api#jsonName": "requestParameters"
          }
        },
        "RequestTemplates": {
          "target": "com.amazonaws.apigatewayv2#TemplateMap",
          "traits": {
            "smithy.api#documentation": "<p>Represents a map of Velocity templates that are applied on the request payload based on the value of the Content-Type header sent by the client. The content type value is the key in this map, and the template (as a String) is the value. Supported only for WebSocket APIs.</p>",
            "smithy.api#jsonName": "requestTemplates"
          }
        },
        "ResponseParameters": {
          "target": "com.amazonaws.apigatewayv2#ResponseParameters",
          "traits": {
            "smithy.api#documentation": "<p>Supported only for HTTP APIs. You use response parameters to transform the HTTP response from a backend integration before returning the response to clients. Specify a key-value map from a selection key to response parameters. The selection key must be a valid HTTP status code within the range of 200-599. Response parameters are a key-value map. The key must match pattern &lt;action&gt;:&lt;header&gt;.&lt;location&gt; or overwrite.statuscode. The action can be append, overwrite or remove. The value can be a static value, or map to response data, stage variables, or context variables that are evaluated at runtime. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-parameter-mapping.html\">Transforming API requests and responses</a>.</p>",
            "smithy.api#jsonName": "responseParameters"
          }
        },
        "TemplateSelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#documentation": "<p>The template selection expression for the integration.</p>",
            "smithy.api#jsonName": "templateSelectionExpression"
          }
        },
        "TimeoutInMillis": {
          "target": "com.amazonaws.apigatewayv2#IntegerWithLengthBetween50And30000",
          "traits": {
            "smithy.api#documentation": "<p>Custom timeout between 50 and 29,000 milliseconds for WebSocket APIs and between 50 and 30,000 milliseconds for HTTP APIs. The default timeout is 29 seconds for WebSocket APIs and 30 seconds for HTTP APIs.</p>",
            "smithy.api#jsonName": "timeoutInMillis"
          }
        },
        "TlsConfig": {
          "target": "com.amazonaws.apigatewayv2#TlsConfigInput",
          "traits": {
            "smithy.api#documentation": "<p>The TLS configuration for a private integration. If you specify a TLS configuration, private integration traffic uses the HTTPS protocol. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "tlsConfig"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Integration resource to represent an integration.</p>"
      }
    },
    "com.amazonaws.apigatewayv2#CreateIntegrationResponse": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apigatewayv2#CreateIntegrationResponseRequest"
      },
      "output": {
        "target": "com.amazonaws.apigatewayv2#CreateIntegrationResponseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apigatewayv2#BadRequestException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#ConflictException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#NotFoundException"
        },
        {
          "target": "com.amazonaws.apigatewayv2#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an IntegrationResponses.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/apis/{ApiId}/integrations/{IntegrationId}/integrationresponses",
          "code": 201
        }
      }
    },
    "com.amazonaws.apigatewayv2#CreateIntegrationResponseRequest": {
      "type": "structure",
      "members": {
        "ApiId": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The API identifier.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ContentHandlingStrategy": {
          "target": "com.amazonaws.apigatewayv2#ContentHandlingStrategy",
          "traits": {
            "smithy.api#documentation": "<p>Specifies how to handle response payload content type conversions. Supported values are CONVERT_TO_BINARY and CONVERT_TO_TEXT, with the following behaviors:</p> <p>CONVERT_TO_BINARY: Converts a response payload from a Base64-encoded string to the corresponding binary blob.</p> <p>CONVERT_TO_TEXT: Converts a response payload from a binary blob to a Base64-encoded string.</p> <p>If this property is not defined, the response payload will be passed through from the integration response to the route response or method response without modification.</p>",
            "smithy.api#jsonName": "contentHandlingStrategy"
          }
        },
        "IntegrationId": {
          "target": "com.amazonaws.apigatewayv2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The integration ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "IntegrationResponseKey": {
          "target": "com.amazonaws.apigatewayv2#SelectionKey",
          "traits": {
            "smithy.api#documentation": "<p>The integration response key.</p>",
            "smithy.api#jsonName": "integrationResponseKey",
            "smithy.api#required": {}
          }
        },
        "ResponseParameters": {
          "target": "com.amazonaws.apigatewayv2#IntegrationParameters",
          "traits": {
            "smithy.api#documentation": "<p>A key-value map specifying response parameters that are passed to the method response from the backend. The key is a method response header parameter name and the mapped value is an integration response header value, a static value enclosed within a pair of single quotes, or a JSON expression from the integration response body. The mapping key must match the pattern of method.response.header.{name}, where {name} is a valid and unique header name. The mapped non-static value must match the pattern of integration.response.header.{name} or integration.response.body.{JSON-expression}, where {name} is a valid and unique response header name and {JSON-expression} is a valid JSON expression without the $ prefix.</p>",
            "smithy.api#jsonName": "responseParameters"
          }
        },
        "ResponseTemplates": {
          "target": "com.amazonaws.apigatewayv2#TemplateMap",
          "traits": {
            "smithy.api#documentation": "<p>The collection of response templates for the integration response as a string-to-string map of key-value pairs. Response templates are represented as a key/value map, with a content-type as the key and a template as the value.</p>",
            "smithy.api#jsonName": "responseTemplates"
          }
        },
        "TemplateSelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#documentation": "<p>The template selection expression for the integration response. Supported only for WebSocket APIs.</p>",
            "smithy.api#jsonName": "templateSelectionExpression"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a new IntegrationResponse resource to represent an integration response.</p>"
      }
    },
    "com.amazonaws.apigatewayv2#CreateIntegrationResponseResponse": {
      "type": "structure",
      "members": {
        "ContentHandlingStrategy": {
          "target": "com.amazonaws.apigatewayv2#ContentHandlingStrategy",
          "traits": {
            "smithy.api#documentation": "<p>Supported only for WebSocket APIs. Specifies how to handle response payload content type conversions. Supported values are CONVERT_TO_BINARY and CONVERT_TO_TEXT, with the following behaviors:</p> <p>CONVERT_TO_BINARY: Converts a response payload from a Base64-encoded string to the corresponding binary blob.</p> <p>CONVERT_TO_TEXT: Converts a response payload from a binary blob to a Base64-encoded string.</p> <p>If this property is not defined, the response payload will be passed through from the integration response to the route response or method response without modification.</p>",
            "smithy.api#jsonName": "contentHandlingStrategy"
          }
        },
        "IntegrationResponseId": {
          "target": "com.amazonaws.apigatewayv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The integration response ID.</p>",
            "smithy.api#jsonName": "integrationResponseId"
          }
        },
        "IntegrationResponseKey": {
          "target": "com.amazonaws.apigatewayv2#SelectionKey",
          "traits": {
            "smithy.api#documentation": "<p>The integration response key.</p>",
            "smithy.api#jsonName": "integrationResponseKey"
          }
        },
        "ResponseParameters": {
          "target": "com.amazonaws.apigatewayv2#IntegrationParameters",
          "traits": {
            "smithy.api#documentation": "<p>A key-value map specifying response parameters that are passed to the method response from the backend. The key is a method response header parameter name and the mapped value is an integration response header value, a static value enclosed within a pair of single quotes, or a JSON expression from the integration response body. The mapping key must match the pattern of method.response.header.{name}, where name is a valid and unique header name. The mapped non-static value must match the pattern of integration.response.header.{name} or integration.response.body.{JSON-expression}, where name is a valid and unique response header name and JSON-expression is a valid JSON expression without the $ prefix.</p>",
            "smithy.api#jsonName": "responseParameters"
          }
        },
        "ResponseTemplates": {
          "target": "com.amazonaws.apigatewayv2#TemplateMap",
          "traits": {
            "smithy.api#documentation": "<p>The collection of response templates for the integration response as a string-to-string map of key-value pairs. Response templates are represented as a key/value map, with a content-type as the key and a template as the value.</p>",
            "smithy.api#jsonName": "responseTemplates"
          }
        },
        "TemplateSelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#documentation": "<p>The template selection expressions for the integration response.</p>",
            "smithy.api#jsonName": "templateSelectionExpression"
          }
        }
      }
    },
    "com.amazonaws.apigatewayv2#CreateIntegrationResult": {
      "type": "structure",
      "members": {
        "ApiGatewayManaged": {
          "target": "com.amazonaws.apigatewayv2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether an integration is managed by API Gateway. If you created an API using using quick create, the resulting integration is managed by API Gateway. You can update a managed integration, but you can't delete it.</p>",
            "smithy.api#jsonName": "apiGatewayManaged"
          }
        },
        "ConnectionId": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And1024",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC link for a private integration. Supported only for HTTP APIs.</p>",
            "smithy.api#jsonName": "connectionId"
          }
        },
        "ConnectionType": {
          "target": "com.amazonaws.apigatewayv2#ConnectionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the network connection to the integration endpoint. Specify INTERNET for connections through the public routable internet or VPC_LINK for private connections between API Gateway and resources in a VPC. The default value is INTERNET.</p>",
            "smithy.api#jsonName": "connectionType"
          }
        },
        "ContentHandlingStrategy": {
          "target": "com.amazonaws.apigatewayv2#ContentHandlingStrategy",
          "traits": {
            "smithy.api#documentation": "<p>Supported only for WebSocket APIs. Specifies how to handle response payload content type conversions. Supported values are CONVERT_TO_BINARY and CONVERT_TO_TEXT, with the following behaviors:</p> <p>CONVERT_TO_BINARY: Converts a response payload from a Base64-encoded string to the corresponding binary blob.</p> <p>CONVERT_TO_TEXT: Converts a response payload from a binary blob to a Base64-encoded string.</p> <p>If this property is not defined, the response payload will be passed through from the integration response to the route response or method response without modification.</p>",
            "smithy.api#jsonName": "contentHandlingStrategy"
          }
        },
        "CredentialsArn": {
          "target": "com.amazonaws.apigatewayv2#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the credentials required for the integration, if any. For AWS integrations, three options are available. To specify an IAM Role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To require that the caller's identity be passed through from the request, specify the string arn:aws:iam::*:user/*. To use resource-based permissions on supported AWS services, specify null.</p>",
            "smithy.api#jsonName": "credentialsArn"
          }
        },
        "Description": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween0And1024",
          "traits": {
            "smithy.api#documentation": "<p>Represents the description of an integration.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "IntegrationId": {
          "target": "com.amazonaws.apigatewayv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>Represents the identifier of an integration.</p>",
            "smithy.api#jsonName": "integrationId"
          }
        },
        "IntegrationMethod": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the integration's HTTP method type.</p>",
            "smithy.api#jsonName": "integrationMethod"
          }
        },
        "IntegrationResponseSelectionExpression": {
          "target": "com.amazonaws.apigatewayv2#SelectionExpression",
          "traits": {
            "smithy.api#documentation": "<p>The integration response selection expression for the integration. Supported only for WebSocket APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-integration-response-selection-expressions\">Integration Response Selection Expressions</a>.</p>",
            "smithy.api#jsonName": "integrationResponseSelectionExpression"
          }
        },
        "IntegrationSubtype": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And128",
          "traits": {
            "smithy.api#documentation": "<p>Supported only for HTTP API AWS_PROXY integrations. Specifies the AWS service action to invoke. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-develop-integrations-aws-services-reference.html\">Integration subtype reference</a>.</p>",
            "smithy.api#jsonName": "integrationSubtype"
          }
        },
        "IntegrationType": {
          "target": "com.amazonaws.apigatewayv2#IntegrationType",
          "traits": {
            "smithy.api#documentation": "<p>The integration type of an integration. One of the following:</p> <p>AWS: for integrating the route or method request with an AWS service action, including the Lambda function-invoking action. With the Lambda function-invoking action, this is referred to as the Lambda custom integration. With any other AWS service action, this is known as AWS integration. Supported only for WebSocket APIs.</p> <p>AWS_PROXY: for integrating the route or method request with a Lambda function or other AWS service action. This integration is also referred to as a Lambda proxy integration.</p> <p>HTTP: for integrating the route or method request with an HTTP endpoint. This integration is also referred to as the HTTP custom integration. Supported only for WebSocket APIs.</p> <p>HTTP_PROXY: for integrating the route or method request with an HTTP endpoint, with the client request passed through as-is. This is also referred to as HTTP proxy integration.</p> <p>MOCK: for integrating the route or method request with API Gateway as a \"loopback\" endpoint without invoking any backend. Supported only for WebSocket APIs.</p>",
            "smithy.api#jsonName": "integrationType"
          }
        },
        "IntegrationUri": {
          "target": "com.amazonaws.apigatewayv2#UriWithLengthBetween1And2048",
          "traits": {
            "smithy.api#documentation": "<p>For a Lambda integration, specify the URI of a Lambda function.</p> <p>For an HTTP integration, specify a fully-qualified URL.</p> <p>For an HTTP API private integration, specify the ARN of an Application Load Balancer listener, Network Load Balancer listener, or AWS Cloud Map service. If you specify the ARN of an AWS Cloud Map service, API Gateway uses DiscoverInstances to identify resources. You can use query parameters to target specific resources. To learn more, see <a href=\"https://docs.aws.amazon.com/cloud-map/latest/api/API_DiscoverInstances.html\">DiscoverInstances</a>. For private integrations, all resources must be owned by the same AWS account.</p>",
            "smithy.api#jsonName": "integrationUri"
          }
        },
        "PassthroughBehavior": {
          "target": "com.amazonaws.apigatewayv2#PassthroughBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the pass-through behavior for incoming requests based on the Content-Type header in the request, and the available mapping templates specified as the requestTemplates property on the Integration resource. There are three valid values: WHEN_NO_MATCH, WHEN_NO_TEMPLATES, and NEVER. Supported only for WebSocket APIs.</p> <p>WHEN_NO_MATCH passes the request body for unmapped content types through to the integration backend without transformation.</p> <p>NEVER rejects unmapped content types with an HTTP 415 Unsupported Media Type response.</p> <p>WHEN_NO_TEMPLATES allows pass-through when the integration has no content types mapped to templates. However, if there is at least one content type defined, unmapped content types will be rejected with the same HTTP 415 Unsupported Media Type response.</p>",
            "smithy.api#jsonName": "passthroughBehavior"
          }
        },
        "PayloadFormatVersion": {
          "target": "com.amazonaws.apigatewayv2#StringWithLengthBetween1And64",
          "traits": {
[...]
