{
    "smithy": "1.0",
    "shapes": {
        "com.amazonaws.appmesh#AccessLog": {
            "type": "union",
            "members": {
                "file": {
                    "target": "com.amazonaws.appmesh#FileAccessLog",
                    "traits": {
                        "smithy.api#documentation": "<p>The file object to send virtual node access logs to.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents the access logging information for a virtual node.</p>"
            }
        },
        "com.amazonaws.appmesh#AccountId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 12,
                    "max": 12
                }
            }
        },
        "com.amazonaws.appmesh#Arn": {
            "type": "string"
        },
        "com.amazonaws.appmesh#AwsCloudMapInstanceAttribute": {
            "type": "structure",
            "members": {
                "key": {
                    "target": "com.amazonaws.appmesh#AwsCloudMapInstanceAttributeKey",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of an AWS Cloud Map service instance attribute key. Any AWS Cloud Map service\n         instance that contains the specified key and value is returned.</p>",
                        "smithy.api#required": {}
                    }
                },
                "value": {
                    "target": "com.amazonaws.appmesh#AwsCloudMapInstanceAttributeValue",
                    "traits": {
                        "smithy.api#documentation": "<p>The value of an AWS Cloud Map service instance attribute key. Any AWS Cloud Map service\n         instance that contains the specified key and value is returned.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents the AWS Cloud Map attribute information for your virtual\n         node.</p>"
            }
        },
        "com.amazonaws.appmesh#AwsCloudMapInstanceAttributeKey": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "^[a-zA-Z0-9!-~]+$"
            }
        },
        "com.amazonaws.appmesh#AwsCloudMapInstanceAttributeValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                },
                "smithy.api#pattern": "^([a-zA-Z0-9!-~][ \ta-zA-Z0-9!-~]*){0,1}[a-zA-Z0-9!-~]{0,1}$"
            }
        },
        "com.amazonaws.appmesh#AwsCloudMapInstanceAttributes": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.appmesh#AwsCloudMapInstanceAttribute"
            }
        },
        "com.amazonaws.appmesh#AwsCloudMapName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 1024
                },
                "smithy.api#pattern": "((?=^.{1,127}$)^([a-zA-Z0-9_][a-zA-Z0-9-_]{0,61}[a-zA-Z0-9_]|[a-zA-Z0-9])(\\.([a-zA-Z0-9_][a-zA-Z0-9-_]{0,61}[a-zA-Z0-9_]|[a-zA-Z0-9]))*$)|(^\\.$)"
            }
        },
        "com.amazonaws.appmesh#AwsCloudMapServiceDiscovery": {
            "type": "structure",
            "members": {
                "attributes": {
                    "target": "com.amazonaws.appmesh#AwsCloudMapInstanceAttributes",
                    "traits": {
                        "smithy.api#documentation": "<p>A string map that contains attributes with values that you can use to filter instances\n         by any custom attribute that you specified when you registered the instance. Only instances\n         that match all of the specified key/value pairs will be returned.</p>"
                    }
                },
                "namespaceName": {
                    "target": "com.amazonaws.appmesh#AwsCloudMapName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the AWS Cloud Map namespace to use.</p>",
                        "smithy.api#required": {}
                    }
                },
                "serviceName": {
                    "target": "com.amazonaws.appmesh#AwsCloudMapName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the AWS Cloud Map service to use.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents the AWS Cloud Map service discovery information for your virtual\n         node.</p>"
            }
        },
        "com.amazonaws.appmesh#AppMesh": {
            "type": "service",
            "version": "2019-01-25",
            "operations": [
                {
                    "target": "com.amazonaws.appmesh#DeleteMeshPolicy"
                },
                {
                    "target": "com.amazonaws.appmesh#GetMeshPolicy"
                },
                {
                    "target": "com.amazonaws.appmesh#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.appmesh#PutMeshPolicy"
                },
                {
                    "target": "com.amazonaws.appmesh#TagResource"
                },
                {
                    "target": "com.amazonaws.appmesh#UntagResource"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.appmesh#Mesh"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "App Mesh",
                    "arnNamespace": "appmesh",
                    "cloudTrailEventSource": "appmesh.amazonaws.com"
                },
                "aws.auth#sigv4": {
                    "name": ""
                },
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {},
                "smithy.api#documentation": "<p>AWS App Mesh is a service mesh based on the Envoy proxy that makes it easy to monitor and\n         control microservices. App Mesh standardizes how your microservices communicate, giving you\n         end-to-end visibility and helping to ensure high availability for your applications.</p>\n         <p>App Mesh gives you consistent visibility and network traffic controls for every\n         microservice in an application. You can use App Mesh with AWS Fargate, Amazon ECS, Amazon EKS,\n         Kubernetes on AWS, and Amazon EC2.</p>\n         <note>\n            <p>App Mesh supports microservice applications that use service discovery naming for their\n            components. For more information about service discovery on Amazon ECS, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-discovery.html\">Service Discovery</a> in the <i>Amazon Elastic Container Service Developer Guide</i>. Kubernetes\n               <code>kube-dns</code> and <code>coredns</code> are supported. For more information,\n            see <a href=\"https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/\">DNS\n               for Services and Pods</a> in the Kubernetes documentation.</p>\n         </note>",
                "smithy.api#title": "AWS App Mesh"
            }
        },
        "com.amazonaws.appmesh#Backend": {
            "type": "union",
            "members": {
                "virtualService": {
                    "target": "com.amazonaws.appmesh#VirtualServiceBackend",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies a virtual service to use as a backend for a virtual node. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents the backends that a virtual node is expected to send outbound\n         traffic to. </p>"
            }
        },
        "com.amazonaws.appmesh#BackendDefaults": {
            "type": "structure",
            "members": {
                "clientPolicy": {
                    "target": "com.amazonaws.appmesh#ClientPolicy",
                    "traits": {
                        "smithy.api#documentation": "<p>A reference to an object that represents a client policy.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents the default properties for a backend.</p>"
            }
        },
        "com.amazonaws.appmesh#Backends": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.appmesh#Backend"
            }
        },
        "com.amazonaws.appmesh#BadRequestException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 400
            }
        },
        "com.amazonaws.appmesh#CertificateAuthorityArns": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.appmesh#Arn"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 3
                }
            }
        },
        "com.amazonaws.appmesh#ClientPolicy": {
            "type": "structure",
            "members": {
                "tls": {
                    "target": "com.amazonaws.appmesh#ClientPolicyTls",
                    "traits": {
                        "smithy.api#documentation": "<p>A reference to an object that represents a Transport Layer Security (TLS) client policy.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents a client policy.</p>"
            }
        },
        "com.amazonaws.appmesh#ClientPolicyTls": {
            "type": "structure",
            "members": {
                "enforce": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#box": {},
                        "smithy.api#documentation": "<p>Whether the policy is enforced. The default is <code>True</code>, if a value isn't\n         specified.</p>"
                    }
                },
                "ports": {
                    "target": "com.amazonaws.appmesh#PortSet",
                    "traits": {
                        "smithy.api#documentation": "<p>One or more ports that the policy is enforced for.</p>"
                    }
                },
                "validation": {
                    "target": "com.amazonaws.appmesh#TlsValidationContext",
                    "traits": {
                        "smithy.api#documentation": "<p>A reference to an object that represents a TLS validation context.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents a Transport Layer Security (TLS) client policy.</p>"
            }
        },
        "com.amazonaws.appmesh#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.appmesh#CreateMesh": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appmesh#CreateMeshInput"
            },
            "output": {
                "target": "com.amazonaws.appmesh#CreateMeshOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appmesh#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appmesh#ConflictException"
                },
                {
                    "target": "com.amazonaws.appmesh#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.appmesh#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.appmesh#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.appmesh#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appmesh#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.appmesh#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a service mesh.</p>\n         <p> A service mesh is a logical boundary for network traffic between services that are\n         represented by resources within the mesh. After you create your service mesh, you can\n         create virtual services, virtual nodes, virtual routers, and routes to distribute traffic\n         between the applications in your mesh.</p>\n         <p>For more information about service meshes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/meshes.html\">Service meshes</a>.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/v20190125/meshes",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.appmesh#CreateMeshInput": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "meshName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to use for the service mesh.</p>",
                        "smithy.api#required": {}
                    }
                },
                "spec": {
                    "target": "com.amazonaws.appmesh#MeshSpec",
                    "traits": {
                        "smithy.api#documentation": "<p>The service mesh specification to apply.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.appmesh#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>Optional metadata that you can apply to the service mesh to assist with categorization\n         and organization. Each tag consists of a key and an optional value, both of which you\n         define. Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>",
                        "smithy.api#tags": [
                            "not-preview"
                        ]
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#CreateMeshOutput": {
            "type": "structure",
            "members": {
                "mesh": {
                    "target": "com.amazonaws.appmesh#MeshData",
                    "traits": {
                        "smithy.api#documentation": "<p>The full description of your service mesh following the create call.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#CreateRoute": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appmesh#CreateRouteInput"
            },
            "output": {
                "target": "com.amazonaws.appmesh#CreateRouteOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appmesh#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appmesh#ConflictException"
                },
                {
                    "target": "com.amazonaws.appmesh#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.appmesh#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.appmesh#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.appmesh#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appmesh#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.appmesh#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a route that is associated with a virtual router.</p>\n         <p> You can route several different protocols and define a retry policy for a route.\n         Traffic can be routed to one or more virtual nodes.</p>\n         <p>For more information about routes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/routes.html\">Routes</a>.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.appmesh#CreateRouteInput": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "meshName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the service mesh to create the route in.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "meshOwner": {
                    "target": "com.amazonaws.appmesh#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then\n               the account that you specify must share the mesh with your account before you can create \n             the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
                        "smithy.api#httpQuery": "meshOwner",
                        "smithy.api#tags": [
                            "com.amazonaws.appmesh#preview"
                        ]
                    }
                },
                "routeName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to use for the route.</p>",
                        "smithy.api#required": {}
                    }
                },
                "spec": {
                    "target": "com.amazonaws.appmesh#RouteSpec",
                    "traits": {
                        "smithy.api#documentation": "<p>The route specification to apply.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.appmesh#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>Optional metadata that you can apply to the route to assist with categorization and\n         organization. Each tag consists of a key and an optional value, both of which you define.\n         Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>",
                        "smithy.api#tags": [
                            "not-preview"
                        ]
                    }
                },
                "virtualRouterName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the virtual router in which to create the route. If the virtual router is in\n         a shared mesh, then you must be the owner of the virtual router resource.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#CreateRouteOutput": {
            "type": "structure",
            "members": {
                "route": {
                    "target": "com.amazonaws.appmesh#RouteData",
                    "traits": {
                        "smithy.api#documentation": "<p>The full description of your mesh following the create call.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#CreateVirtualNode": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appmesh#CreateVirtualNodeInput"
            },
            "output": {
                "target": "com.amazonaws.appmesh#CreateVirtualNodeOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appmesh#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appmesh#ConflictException"
                },
                {
                    "target": "com.amazonaws.appmesh#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.appmesh#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.appmesh#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.appmesh#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appmesh#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.appmesh#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a virtual node within a service mesh.</p>\n         <p> A virtual node acts as a logical pointer to a particular task group, such as an Amazon ECS\n         service or a Kubernetes deployment. When you create a virtual node, you can specify the\n         service discovery information for your task group, and whether the proxy running in a task\n         group will communicate with other proxies using Transport Layer Security (TLS).</p>\n         <p>You define a <code>listener</code> for any inbound traffic that your virtual node\n         expects. Any virtual service that your virtual node expects to communicate to is specified\n         as a <code>backend</code>.</p>\n         <p>The response metadata for your new virtual node contains the <code>arn</code> that is\n         associated with the virtual node. Set this value (either the full ARN or the truncated\n         resource name: for example, <code>mesh/default/virtualNode/simpleapp</code>) as the\n            <code>APPMESH_VIRTUAL_NODE_NAME</code> environment variable for your task group's Envoy\n         proxy container in your task definition or pod spec. This is then mapped to the\n            <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p>\n         <note>\n            <p>If you require your Envoy stats or tracing to use a different name, you can override\n            the <code>node.cluster</code> value that is set by\n               <code>APPMESH_VIRTUAL_NODE_NAME</code> with the\n               <code>APPMESH_VIRTUAL_NODE_CLUSTER</code> environment variable.</p>\n         </note>\n         <p>For more information about virtual nodes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_nodes.html\">Virtual nodes</a>.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/v20190125/meshes/{meshName}/virtualNodes",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.appmesh#CreateVirtualNodeInput": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "meshName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the service mesh to create the virtual node in.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "meshOwner": {
                    "target": "com.amazonaws.appmesh#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then\n               the account that you specify must share the mesh with your account before you can create \n             the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
                        "smithy.api#httpQuery": "meshOwner",
                        "smithy.api#tags": [
                            "com.amazonaws.appmesh#preview"
                        ]
                    }
                },
                "spec": {
                    "target": "com.amazonaws.appmesh#VirtualNodeSpec",
                    "traits": {
                        "smithy.api#documentation": "<p>The virtual node specification to apply.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.appmesh#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>Optional metadata that you can apply to the virtual node to assist with categorization\n         and organization. Each tag consists of a key and an optional value, both of which you\n         define. Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>",
                        "smithy.api#tags": [
                            "not-preview"
                        ]
                    }
                },
                "virtualNodeName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to use for the virtual node.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#CreateVirtualNodeOutput": {
            "type": "structure",
            "members": {
                "virtualNode": {
                    "target": "com.amazonaws.appmesh#VirtualNodeData",
                    "traits": {
                        "smithy.api#documentation": "<p>The full description of your virtual node following the create call.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#CreateVirtualRouter": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appmesh#CreateVirtualRouterInput"
            },
            "output": {
                "target": "com.amazonaws.appmesh#CreateVirtualRouterOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appmesh#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appmesh#ConflictException"
                },
                {
                    "target": "com.amazonaws.appmesh#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.appmesh#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.appmesh#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.appmesh#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appmesh#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.appmesh#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a virtual router within a service mesh.</p>\n         <p>Specify a <code>listener</code> for any inbound traffic that your virtual router\n         receives. Create a virtual router for each protocol and port that you need to route.\n         Virtual routers handle traffic for one or more virtual services within your mesh. After you\n         create your virtual router, create and associate routes for your virtual router that direct\n         incoming requests to different virtual nodes.</p>\n         <p>For more information about virtual routers, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_routers.html\">Virtual routers</a>.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/v20190125/meshes/{meshName}/virtualRouters",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.appmesh#CreateVirtualRouterInput": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "meshName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the service mesh to create the virtual router in.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "meshOwner": {
                    "target": "com.amazonaws.appmesh#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then\n               the account that you specify must share the mesh with your account before you can create \n             the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
                        "smithy.api#httpQuery": "meshOwner",
                        "smithy.api#tags": [
                            "com.amazonaws.appmesh#preview"
                        ]
                    }
                },
                "spec": {
                    "target": "com.amazonaws.appmesh#VirtualRouterSpec",
                    "traits": {
                        "smithy.api#documentation": "<p>The virtual router specification to apply.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.appmesh#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>Optional metadata that you can apply to the virtual router to assist with categorization\n         and organization. Each tag consists of a key and an optional value, both of which you\n         define. Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>",
                        "smithy.api#tags": [
                            "not-preview"
                        ]
                    }
                },
                "virtualRouterName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to use for the virtual router.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#CreateVirtualRouterOutput": {
            "type": "structure",
            "members": {
                "virtualRouter": {
                    "target": "com.amazonaws.appmesh#VirtualRouterData",
                    "traits": {
                        "smithy.api#documentation": "<p>The full description of your virtual router following the create call.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#CreateVirtualService": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appmesh#CreateVirtualServiceInput"
            },
            "output": {
                "target": "com.amazonaws.appmesh#CreateVirtualServiceOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appmesh#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appmesh#ConflictException"
                },
                {
                    "target": "com.amazonaws.appmesh#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.appmesh#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.appmesh#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.appmesh#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appmesh#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.appmesh#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a virtual service within a service mesh.</p>\n         <p>A virtual service is an abstraction of a real service that is provided by a virtual node\n         directly or indirectly by means of a virtual router. Dependent services call your virtual\n         service by its <code>virtualServiceName</code>, and those requests are routed to the\n         virtual node or virtual router that is specified as the provider for the virtual\n         service.</p>\n         <p>For more information about virtual services, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_services.html\">Virtual services</a>.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/v20190125/meshes/{meshName}/virtualServices",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.appmesh#CreateVirtualServiceInput": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "meshName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the service mesh to create the virtual service in.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "meshOwner": {
                    "target": "com.amazonaws.appmesh#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then\n               the account that you specify must share the mesh with your account before you can create \n             the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
                        "smithy.api#httpQuery": "meshOwner",
                        "smithy.api#tags": [
                            "com.amazonaws.appmesh#preview"
                        ]
                    }
                },
                "spec": {
                    "target": "com.amazonaws.appmesh#VirtualServiceSpec",
                    "traits": {
                        "smithy.api#documentation": "<p>The virtual service specification to apply.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.appmesh#TagList",
                    "traits": {
                        "smithy.api#documentation": "<p>Optional metadata that you can apply to the virtual service to assist with\n         categorization and organization. Each tag consists of a key and an optional value, both of\n         which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>",
                        "smithy.api#tags": [
                            "not-preview"
                        ]
                    }
                },
                "virtualServiceName": {
                    "target": "com.amazonaws.appmesh#ServiceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name to use for the virtual service.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#CreateVirtualServiceOutput": {
            "type": "structure",
            "members": {
                "virtualService": {
                    "target": "com.amazonaws.appmesh#VirtualServiceData",
                    "traits": {
                        "smithy.api#documentation": "<p>The full description of your virtual service following the create call.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DeleteMesh": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appmesh#DeleteMeshInput"
            },
            "output": {
                "target": "com.amazonaws.appmesh#DeleteMeshOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appmesh#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appmesh#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.appmesh#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.appmesh#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appmesh#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.appmesh#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.appmesh#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an existing service mesh.</p>\n         <p>You must delete all resources (virtual services, routes, virtual routers, and virtual\n         nodes) in the service mesh before you can delete the mesh itself.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v20190125/meshes/{meshName}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.appmesh#DeleteMeshInput": {
            "type": "structure",
            "members": {
                "meshName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the service mesh to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DeleteMeshOutput": {
            "type": "structure",
            "members": {
                "mesh": {
                    "target": "com.amazonaws.appmesh#MeshData",
                    "traits": {
                        "smithy.api#documentation": "<p>The service mesh that was deleted.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DeleteMeshPolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appmesh#DeleteMeshPolicyInput"
            },
            "output": {
                "target": "com.amazonaws.appmesh#DeleteMeshPolicyOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appmesh#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appmesh#ConflictException"
                },
                {
                    "target": "com.amazonaws.appmesh#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.appmesh#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.appmesh#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.appmesh#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appmesh#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.appmesh#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#http": {
                    "method": "com.amazonaws.appmesh#DELETE",
                    "uri": "/v20190125/meshPolicy",
                    "code": 200
                },
                "smithy.api#idempotent": {},
                "smithy.api#tags": [
                    "com.amazonaws.appmesh#internal"
                ]
            }
        },
        "com.amazonaws.appmesh#DeleteMeshPolicyInput": {
            "type": "structure",
            "members": {
                "meshArn": {
                    "target": "com.amazonaws.appmesh#Arn",
                    "traits": {
                        "smithy.api#httpQuery": "meshArn",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#tags": [
                    "com.amazonaws.appmesh#internal"
                ]
            }
        },
        "com.amazonaws.appmesh#DeleteMeshPolicyOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#tags": [
                    "com.amazonaws.appmesh#internal"
                ]
            }
        },
        "com.amazonaws.appmesh#DeleteRoute": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appmesh#DeleteRouteInput"
            },
            "output": {
                "target": "com.amazonaws.appmesh#DeleteRouteOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appmesh#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appmesh#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.appmesh#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.appmesh#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appmesh#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.appmesh#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.appmesh#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an existing route.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.appmesh#DeleteRouteInput": {
            "type": "structure",
            "members": {
                "meshName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the service mesh to delete the route in.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "meshOwner": {
                    "target": "com.amazonaws.appmesh#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
                        "smithy.api#httpQuery": "meshOwner",
                        "smithy.api#tags": [
                            "com.amazonaws.appmesh#preview"
                        ]
                    }
                },
                "routeName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the route to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "virtualRouterName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the virtual router to delete the route in.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DeleteRouteOutput": {
            "type": "structure",
            "members": {
                "route": {
                    "target": "com.amazonaws.appmesh#RouteData",
                    "traits": {
                        "smithy.api#documentation": "<p>The route that was deleted.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DeleteVirtualNode": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appmesh#DeleteVirtualNodeInput"
            },
            "output": {
                "target": "com.amazonaws.appmesh#DeleteVirtualNodeOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appmesh#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appmesh#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.appmesh#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.appmesh#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appmesh#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.appmesh#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.appmesh#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an existing virtual node.</p>\n         <p>You must delete any virtual services that list a virtual node as a service provider\n         before you can delete the virtual node itself.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.appmesh#DeleteVirtualNodeInput": {
            "type": "structure",
            "members": {
                "meshName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the service mesh to delete the virtual node in.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "meshOwner": {
                    "target": "com.amazonaws.appmesh#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
                        "smithy.api#httpQuery": "meshOwner",
                        "smithy.api#tags": [
                            "com.amazonaws.appmesh#preview"
                        ]
                    }
                },
                "virtualNodeName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the virtual node to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DeleteVirtualNodeOutput": {
            "type": "structure",
            "members": {
                "virtualNode": {
                    "target": "com.amazonaws.appmesh#VirtualNodeData",
                    "traits": {
                        "smithy.api#documentation": "<p>The virtual node that was deleted.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DeleteVirtualRouter": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appmesh#DeleteVirtualRouterInput"
            },
            "output": {
                "target": "com.amazonaws.appmesh#DeleteVirtualRouterOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appmesh#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appmesh#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.appmesh#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.appmesh#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appmesh#ResourceInUseException"
                },
                {
                    "target": "com.amazonaws.appmesh#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.appmesh#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an existing virtual router.</p>\n         <p>You must delete any routes associated with the virtual router before you can delete the\n         router itself.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.appmesh#DeleteVirtualRouterInput": {
            "type": "structure",
            "members": {
                "meshName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the service mesh to delete the virtual router in.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "meshOwner": {
                    "target": "com.amazonaws.appmesh#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
                        "smithy.api#httpQuery": "meshOwner",
                        "smithy.api#tags": [
                            "com.amazonaws.appmesh#preview"
                        ]
                    }
                },
                "virtualRouterName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the virtual router to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DeleteVirtualRouterOutput": {
            "type": "structure",
            "members": {
                "virtualRouter": {
                    "target": "com.amazonaws.appmesh#VirtualRouterData",
                    "traits": {
                        "smithy.api#documentation": "<p>The virtual router that was deleted.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DeleteVirtualService": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appmesh#DeleteVirtualServiceInput"
            },
            "output": {
                "target": "com.amazonaws.appmesh#DeleteVirtualServiceOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appmesh#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appmesh#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.appmesh#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.appmesh#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appmesh#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.appmesh#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an existing virtual service.</p>",
                "smithy.api#http": {
                    "method": "DELETE",
                    "uri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.appmesh#DeleteVirtualServiceInput": {
            "type": "structure",
            "members": {
                "meshName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the service mesh to delete the virtual service in.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "meshOwner": {
                    "target": "com.amazonaws.appmesh#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
                        "smithy.api#httpQuery": "meshOwner",
                        "smithy.api#tags": [
                            "com.amazonaws.appmesh#preview"
                        ]
                    }
                },
                "virtualServiceName": {
                    "target": "com.amazonaws.appmesh#ServiceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the virtual service to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DeleteVirtualServiceOutput": {
            "type": "structure",
            "members": {
                "virtualService": {
                    "target": "com.amazonaws.appmesh#VirtualServiceData",
                    "traits": {
                        "smithy.api#documentation": "<p>The virtual service that was deleted.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DescribeMesh": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appmesh#DescribeMeshInput"
            },
            "output": {
                "target": "com.amazonaws.appmesh#DescribeMeshOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appmesh#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appmesh#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.appmesh#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.appmesh#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appmesh#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.appmesh#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes an existing service mesh.</p>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v20190125/meshes/{meshName}",
                    "code": 200
                },
                "smithy.api#readonly": {},
                "smithy.api#suppress": [
                    "HttpMethodSemantics"
                ]
            }
        },
        "com.amazonaws.appmesh#DescribeMeshInput": {
            "type": "structure",
            "members": {
                "meshName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the service mesh to describe.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "meshOwner": {
                    "target": "com.amazonaws.appmesh#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
                        "smithy.api#httpQuery": "meshOwner",
                        "smithy.api#tags": [
                            "com.amazonaws.appmesh#preview"
                        ]
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DescribeMeshOutput": {
            "type": "structure",
            "members": {
                "mesh": {
                    "target": "com.amazonaws.appmesh#MeshData",
                    "traits": {
                        "smithy.api#documentation": "<p>The full description of your service mesh.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DescribeRoute": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appmesh#DescribeRouteInput"
            },
            "output": {
                "target": "com.amazonaws.appmesh#DescribeRouteOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appmesh#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appmesh#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.appmesh#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.appmesh#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appmesh#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.appmesh#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes an existing route.</p>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.appmesh#DescribeRouteInput": {
            "type": "structure",
            "members": {
                "meshName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the service mesh that the route resides in.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "meshOwner": {
                    "target": "com.amazonaws.appmesh#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
                        "smithy.api#httpQuery": "meshOwner",
                        "smithy.api#tags": [
                            "com.amazonaws.appmesh#preview"
                        ]
                    }
                },
                "routeName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the route to describe.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "virtualRouterName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the virtual router that the route is associated with.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DescribeRouteOutput": {
            "type": "structure",
            "members": {
                "route": {
                    "target": "com.amazonaws.appmesh#RouteData",
                    "traits": {
                        "smithy.api#documentation": "<p>The full description of your route.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DescribeVirtualNode": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appmesh#DescribeVirtualNodeInput"
            },
            "output": {
                "target": "com.amazonaws.appmesh#DescribeVirtualNodeOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appmesh#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appmesh#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.appmesh#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.appmesh#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appmesh#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.appmesh#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes an existing virtual node.</p>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.appmesh#DescribeVirtualNodeInput": {
            "type": "structure",
            "members": {
                "meshName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the service mesh that the virtual node resides in.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "meshOwner": {
                    "target": "com.amazonaws.appmesh#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
                        "smithy.api#httpQuery": "meshOwner",
                        "smithy.api#tags": [
                            "com.amazonaws.appmesh#preview"
                        ]
                    }
                },
                "virtualNodeName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the virtual node to describe.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DescribeVirtualNodeOutput": {
            "type": "structure",
            "members": {
                "virtualNode": {
                    "target": "com.amazonaws.appmesh#VirtualNodeData",
                    "traits": {
                        "smithy.api#documentation": "<p>The full description of your virtual node.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DescribeVirtualRouter": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appmesh#DescribeVirtualRouterInput"
            },
            "output": {
                "target": "com.amazonaws.appmesh#DescribeVirtualRouterOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appmesh#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appmesh#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.appmesh#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.appmesh#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appmesh#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.appmesh#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes an existing virtual router.</p>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.appmesh#DescribeVirtualRouterInput": {
            "type": "structure",
            "members": {
                "meshName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the service mesh that the virtual router resides in.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "meshOwner": {
                    "target": "com.amazonaws.appmesh#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
                        "smithy.api#httpQuery": "meshOwner",
                        "smithy.api#tags": [
                            "com.amazonaws.appmesh#preview"
                        ]
                    }
                },
                "virtualRouterName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the virtual router to describe.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DescribeVirtualRouterOutput": {
            "type": "structure",
            "members": {
                "virtualRouter": {
                    "target": "com.amazonaws.appmesh#VirtualRouterData",
                    "traits": {
                        "smithy.api#documentation": "<p>The full description of your virtual router.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DescribeVirtualService": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appmesh#DescribeVirtualServiceInput"
            },
            "output": {
                "target": "com.amazonaws.appmesh#DescribeVirtualServiceOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appmesh#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appmesh#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.appmesh#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.appmesh#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appmesh#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.appmesh#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Describes an existing virtual service.</p>",
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
                    "code": 200
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.appmesh#DescribeVirtualServiceInput": {
            "type": "structure",
            "members": {
                "meshName": {
                    "target": "com.amazonaws.appmesh#ResourceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the service mesh that the virtual service resides in.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "meshOwner": {
                    "target": "com.amazonaws.appmesh#AccountId",
                    "traits": {
                        "smithy.api#documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
                        "smithy.api#httpQuery": "meshOwner",
                        "smithy.api#tags": [
                            "com.amazonaws.appmesh#preview"
                        ]
                    }
                },
                "virtualServiceName": {
                    "target": "com.amazonaws.appmesh#ServiceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the virtual service to describe.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DescribeVirtualServiceOutput": {
            "type": "structure",
            "members": {
                "virtualService": {
                    "target": "com.amazonaws.appmesh#VirtualServiceData",
                    "traits": {
                        "smithy.api#documentation": "<p>The full description of your virtual service.</p>",
                        "smithy.api#httpPayload": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": ""
            }
        },
        "com.amazonaws.appmesh#DnsServiceDiscovery": {
            "type": "structure",
            "members": {
                "hostname": {
                    "target": "com.amazonaws.appmesh#Hostname",
                    "traits": {
                        "smithy.api#documentation": "<p>Specifies the DNS service discovery hostname for the virtual node. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents the DNS service discovery information for your virtual\n         node.</p>"
            }
        },
        "com.amazonaws.appmesh#Duration": {
            "type": "structure",
            "members": {
                "unit": {
                    "target": "com.amazonaws.appmesh#DurationUnit",
                    "traits": {
                        "smithy.api#documentation": "<p>A unit of time.</p>"
                    }
                },
                "value": {
                    "target": "com.amazonaws.appmesh#DurationValue",
                    "traits": {
                        "smithy.api#documentation": "<p>A number of time units.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents a duration of time.</p>"
            }
        },
        "com.amazonaws.appmesh#DurationUnit": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "s",
                        "name": "S"
                    },
                    {
                        "value": "ms",
                        "name": "MS"
                    }
                ]
            }
        },
        "com.amazonaws.appmesh#DurationValue": {
            "type": "long",
            "traits": {
                "smithy.api#box": {},
                "smithy.api#range": {
                    "min": 0
                }
            }
        },
        "com.amazonaws.appmesh#EgressFilter": {
            "type": "structure",
            "members": {
                "type": {
                    "target": "com.amazonaws.appmesh#EgressFilterType",
                    "traits": {
                        "smithy.api#documentation": "<p>The egress filter type. By default, the type is <code>DROP_ALL</code>, which allows\n         egress only from virtual nodes to other defined resources in the service mesh (and any\n         traffic to <code>*.amazonaws.com</code> for AWS API calls). You can set the egress filter\n         type to <code>ALLOW_ALL</code> to allow egress to any endpoint inside or outside of the\n         service mesh.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents the egress filter rules for a service mesh.</p>"
            }
        },
        "com.amazonaws.appmesh#EgressFilterType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "ALLOW_ALL",
                        "name": "ALLOW_ALL"
                    },
                    {
                        "value": "DROP_ALL",
                        "name": "DROP_ALL"
                    }
                ]
            }
        },
        "com.amazonaws.appmesh#FileAccessLog": {
            "type": "structure",
            "members": {
                "path": {
                    "target": "com.amazonaws.appmesh#FilePath",
                    "traits": {
                        "smithy.api#documentation": "<p>The file path to write access logs to. You can use <code>/dev/stdout</code> to send\n         access logs to standard out and configure your Envoy container to use a log driver, such as\n            <code>awslogs</code>, to export the access logs to a log storage service such as Amazon\n         CloudWatch Logs. You can also specify a path in the Envoy container's file system to write\n         the files to disk.</p>\n         <note>\n            <p>The Envoy process must have write permissions to the path that you specify here.\n            Otherwise, Envoy fails to bootstrap properly.</p>\n         </note>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents an access log file.</p>"
            }
        },
        "com.amazonaws.appmesh#FilePath": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                }
            }
        },
        "com.amazonaws.appmesh#ForbiddenException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You don't have permissions to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.appmesh#GetMeshPolicy": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.appmesh#GetMeshPolicyInput"
            },
            "output": {
                "target": "com.amazonaws.appmesh#GetMeshPolicyOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.appmesh#BadRequestException"
                },
                {
                    "target": "com.amazonaws.appmesh#ConflictException"
                },
                {
                    "target": "com.amazonaws.appmesh#ForbiddenException"
                },
                {
                    "target": "com.amazonaws.appmesh#InternalServerErrorException"
                },
                {
                    "target": "com.amazonaws.appmesh#LimitExceededException"
                },
                {
                    "target": "com.amazonaws.appmesh#NotFoundException"
                },
                {
                    "target": "com.amazonaws.appmesh#ServiceUnavailableException"
                },
                {
                    "target": "com.amazonaws.appmesh#TooManyRequestsException"
                }
            ],
            "traits": {
                "smithy.api#http": {
                    "method": "com.amazonaws.appmesh#GET",
                    "uri": "/v20190125/meshPolicy",
                    "code": 200
                },
                "smithy.api#readonly": {},
                "smithy.api#tags": [
                    "com.amazonaws.appmesh#internal"
                ]
            }
        },
        "com.amazonaws.appmesh#GetMeshPolicyInput": {
            "type": "structure",
            "members": {
                "meshArn": {
                    "target": "com.amazonaws.appmesh#Arn",
                    "traits": {
                        "smithy.api#httpQuery": "meshArn",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#tags": [
                    "com.amazonaws.appmesh#internal"
                ]
            }
        },
        "com.amazonaws.appmesh#GetMeshPolicyOutput": {
            "type": "structure",
            "members": {
                "policy": {
                    "target": "com.amazonaws.appmesh#IamPolicy",
                    "traits": {
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#tags": [
                    "com.amazonaws.appmesh#internal"
                ]
            }
        },
        "com.amazonaws.appmesh#GrpcRetryPolicy": {
            "type": "structure",
            "members": {
                "grpcRetryEvents": {
                    "target": "com.amazonaws.appmesh#GrpcRetryPolicyEvents",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify at least one of the valid values.</p>"
                    }
                },
                "httpRetryEvents": {
                    "target": "com.amazonaws.appmesh#HttpRetryPolicyEvents",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify at least one of the following values.</p> \n         <ul>\n            <li>\n               <p>\n                  <b>server-error</b> – HTTP status codes 500, 501,\n                  502, 503, 504, 505, 506, 507, 508, 510, and 511</p>\n            </li>\n            <li>\n               <p>\n                  <b>gateway-error</b> – HTTP status codes 502,\n                  503, and 504</p>\n            </li>\n            <li>\n               <p>\n                  <b>client-error</b> – HTTP status code 409</p>\n            </li>\n            <li>\n               <p>\n                  <b>stream-error</b> – Retry on refused\n                  stream</p>\n            </li>\n         </ul>"
                    }
                },
                "maxRetries": {
                    "target": "com.amazonaws.appmesh#MaxRetries",
                    "traits": {
                        "smithy.api#documentation": "<p>The maximum number of retry attempts.</p>",
                        "smithy.api#required": {}
                    }
                },
                "perRetryTimeout": {
                    "target": "com.amazonaws.appmesh#Duration",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that represents a duration of time.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tcpRetryEvents": {
                    "target": "com.amazonaws.appmesh#TcpRetryPolicyEvents",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify a valid value.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents a retry policy. Specify at least one value for at least one of the types of <code>RetryEvents</code>, a value for <code>maxRetries</code>, and a value for <code>perRetryTimeout</code>.</p>"
            }
        },
        "com.amazonaws.appmesh#GrpcRetryPolicyEvent": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "cancelled",
                        "name": "CANCELLED"
                    },
                    {
                        "value": "deadline-exceeded",
                        "name": "DEADLINE_EXCEEDED"
                    },
                    {
                        "value": "internal",
                        "name": "INTERNAL"
                    },
                    {
                        "value": "resource-exhausted",
                        "name": "RESOURCE_EXHAUSTED"
                    },
                    {
                        "value": "unavailable",
                        "name": "UNAVAILABLE"
                    }
                ]
            }
        },
        "com.amazonaws.appmesh#GrpcRetryPolicyEvents": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.appmesh#GrpcRetryPolicyEvent"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 5
                }
            }
        },
        "com.amazonaws.appmesh#GrpcRoute": {
            "type": "structure",
            "members": {
                "action": {
                    "target": "com.amazonaws.appmesh#GrpcRouteAction",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that represents the action to take if a match is determined.</p>",
                        "smithy.api#required": {}
                    }
                },
                "match": {
                    "target": "com.amazonaws.appmesh#GrpcRouteMatch",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that represents the criteria for determining a request match.</p>",
                        "smithy.api#required": {}
                    }
                },
                "retryPolicy": {
                    "target": "com.amazonaws.appmesh#GrpcRetryPolicy",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that represents a retry policy.</p>"
                    }
                },
                "timeout": {
                    "target": "com.amazonaws.appmesh#GrpcTimeout",
                    "traits": {
                        "smithy.api#tags": [
                            "com.amazonaws.appmesh#preview"
                        ]
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents a gRPC route type.</p>"
            }
        },
        "com.amazonaws.appmesh#GrpcRouteAction": {
            "type": "structure",
            "members": {
                "weightedTargets": {
                    "target": "com.amazonaws.appmesh#WeightedTargets",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that represents the targets that traffic is routed to when a request matches the route.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents the action to take if a match is determined.</p>"
            }
        },
        "com.amazonaws.appmesh#GrpcRouteMatch": {
            "type": "structure",
            "members": {
                "metadata": {
                    "target": "com.amazonaws.appmesh#GrpcRouteMetadataList",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that represents the data to match from the request.</p>"
                    }
                },
                "methodName": {
                    "target": "com.amazonaws.appmesh#MethodName",
                    "traits": {
                        "smithy.api#documentation": "<p>The method name to match from the request. If you specify a name, you must also specify\n         a <code>serviceName</code>.</p>"
                    }
                },
                "serviceName": {
                    "target": "com.amazonaws.appmesh#ServiceName",
                    "traits": {
                        "smithy.api#documentation": "<p>The fully qualified domain name for the service to match from the request.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An object that represents the criteria for determining a request match.</p>"
            }
        },
        "com.amazonaws.appmesh#GrpcRouteMetadata": {
            "type": "structure",
            "members": {
                "invert": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Specify <code>True</code> to match anything except the match criteria. The default value is <code>False</code>.</p>"
                    }
                },
                "match": {
                    "target": "com.amazonaws.appmesh#GrpcRouteMetadataMatchMethod",
                    "traits": {
                        "smithy.api#documentation": "<p>An object that represents the data to match from the request.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.appmesh#HeaderName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the route.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
[...]
