{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.appmesh#AccessLog": {
      "type": "union",
      "members": {
        "file": {
          "target": "com.amazonaws.appmesh#FileAccessLog",
          "traits": {
            "smithy.api#documentation": "<p>The file object to send virtual node access logs to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the access logging information for a virtual node.</p>"
      }
    },
    "com.amazonaws.appmesh#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        }
      }
    },
    "com.amazonaws.appmesh#AppMesh": {
      "type": "service",
      "version": "2019-01-25",
      "operations": [
        {
          "target": "com.amazonaws.appmesh#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.appmesh#TagResource"
        },
        {
          "target": "com.amazonaws.appmesh#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.appmesh#Mesh"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "App Mesh",
          "arnNamespace": "appmesh",
          "cloudFormationName": "AppMesh",
          "cloudTrailEventSource": "appmesh.amazonaws.com",
          "endpointPrefix": "appmesh"
        },
        "aws.auth#sigv4": {
          "name": "appmesh"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {},
        "smithy.api#documentation": "<p>App Mesh is a service mesh based on the Envoy proxy that makes it easy to\n         monitor and control microservices. App Mesh standardizes how your microservices\n         communicate, giving you end-to-end visibility and helping to ensure high availability for\n         your applications.</p>\n         <p>App Mesh gives you consistent visibility and network traffic controls for\n         every microservice in an application. You can use App Mesh with Amazon Web Services Fargate, Amazon ECS, Amazon EKS, Kubernetes on Amazon Web Services, and\n            Amazon EC2.</p>\n         <note>\n            <p>App Mesh supports microservice applications that use service discovery\n            naming for their components. For more information about service discovery on Amazon ECS, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-discovery.html\">Service\n               Discovery</a> in the <i>Amazon Elastic Container Service Developer Guide</i>. Kubernetes\n               <code>kube-dns</code> and <code>coredns</code> are supported. For more information,\n            see <a href=\"https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/\">DNS\n               for Services and Pods</a> in the Kubernetes documentation.</p>\n         </note>",
        "smithy.api#title": "AWS App Mesh",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://appmesh-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://appmesh-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://appmesh.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://appmesh.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appmesh.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.appmesh#Arn": {
      "type": "string"
    },
    "com.amazonaws.appmesh#AwsCloudMapInstanceAttribute": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.appmesh#AwsCloudMapInstanceAttributeKey",
          "traits": {
            "smithy.api#documentation": "<p>The name of an Cloud Map service instance attribute key. Any Cloud Map service instance that contains the specified key and value is\n         returned.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.appmesh#AwsCloudMapInstanceAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of an Cloud Map service instance attribute key. Any Cloud Map service instance that contains the specified key and value is\n         returned.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the Cloud Map attribute information for your\n         virtual node.</p>\n         <note>\n            <p>Cloud Map is not available in the eu-south-1 Region.</p>\n         </note>"
      }
    },
    "com.amazonaws.appmesh#AwsCloudMapInstanceAttributeKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9!-~]+$"
      }
    },
    "com.amazonaws.appmesh#AwsCloudMapInstanceAttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^([a-zA-Z0-9!-~][ \ta-zA-Z0-9!-~]*){0,1}[a-zA-Z0-9!-~]{0,1}$"
      }
    },
    "com.amazonaws.appmesh#AwsCloudMapInstanceAttributes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appmesh#AwsCloudMapInstanceAttribute"
      }
    },
    "com.amazonaws.appmesh#AwsCloudMapName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.appmesh#AwsCloudMapServiceDiscovery": {
      "type": "structure",
      "members": {
        "namespaceName": {
          "target": "com.amazonaws.appmesh#AwsCloudMapName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Cloud Map namespace to use.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceName": {
          "target": "com.amazonaws.appmesh#AwsCloudMapName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Cloud Map service to use.</p>",
            "smithy.api#required": {}
          }
        },
        "attributes": {
          "target": "com.amazonaws.appmesh#AwsCloudMapInstanceAttributes",
          "traits": {
            "smithy.api#documentation": "<p>A string map that contains attributes with values that you can use to filter instances\n         by any custom attribute that you specified when you registered the instance. Only instances\n         that match all of the specified key/value pairs will be returned.</p>"
          }
        },
        "ipPreference": {
          "target": "com.amazonaws.appmesh#IpPreference",
          "traits": {
            "smithy.api#documentation": "<p>The preferred IP version that this virtual node uses. Setting the IP preference on the\n         virtual node only overrides the IP preference set for the mesh on this specific\n         node.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the Cloud Map service discovery information for\n         your virtual node.</p>\n         <note>\n            <p>Cloud Map is not available in the eu-south-1 Region.</p>\n         </note>"
      }
    },
    "com.amazonaws.appmesh#Backend": {
      "type": "union",
      "members": {
        "virtualService": {
          "target": "com.amazonaws.appmesh#VirtualServiceBackend",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a virtual service to use as a backend.  </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the backends that a virtual node is expected to send outbound\n         traffic to.</p>"
      }
    },
    "com.amazonaws.appmesh#BackendDefaults": {
      "type": "structure",
      "members": {
        "clientPolicy": {
          "target": "com.amazonaws.appmesh#ClientPolicy",
          "traits": {
            "smithy.api#documentation": "<p>A reference to an object that represents a client policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the default properties for a backend.</p>"
      }
    },
    "com.amazonaws.appmesh#Backends": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appmesh#Backend"
      }
    },
    "com.amazonaws.appmesh#BadRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.appmesh#CertificateAuthorityArns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appmesh#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 3
        }
      }
    },
    "com.amazonaws.appmesh#ClientPolicy": {
      "type": "structure",
      "members": {
        "tls": {
          "target": "com.amazonaws.appmesh#ClientPolicyTls",
          "traits": {
            "smithy.api#documentation": "<p>A reference to an object that represents a Transport Layer Security (TLS) client policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents a client policy.</p>"
      }
    },
    "com.amazonaws.appmesh#ClientPolicyTls": {
      "type": "structure",
      "members": {
        "enforce": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Whether the policy is enforced. The default is <code>True</code>, if a value isn't specified.</p>"
          }
        },
        "ports": {
          "target": "com.amazonaws.appmesh#PortSet",
          "traits": {
            "smithy.api#documentation": "<p>One or more ports that the policy is enforced for.</p>"
          }
        },
        "certificate": {
          "target": "com.amazonaws.appmesh#ClientTlsCertificate",
          "traits": {
            "smithy.api#documentation": "<p>A reference to an object that represents a client's TLS certificate.</p>"
          }
        },
        "validation": {
          "target": "com.amazonaws.appmesh#TlsValidationContext",
          "traits": {
            "smithy.api#documentation": "<p>A reference to an object that represents a TLS validation context.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A reference to an object that represents a Transport Layer Security (TLS) client policy.</p>"
      }
    },
    "com.amazonaws.appmesh#ClientTlsCertificate": {
      "type": "union",
      "members": {
        "file": {
          "target": "com.amazonaws.appmesh#ListenerTlsFileCertificate",
          "traits": {
            "smithy.api#documentation": "<p>An object that represents a local file certificate. The certificate must meet specific\n         requirements and you must have proxy authorization enabled. For more information, see\n            <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/tls.html\">Transport Layer Security (TLS)</a>.</p>"
          }
        },
        "sds": {
          "target": "com.amazonaws.appmesh#ListenerTlsSdsCertificate",
          "traits": {
            "smithy.api#documentation": "<p>A reference to an object that represents a client's TLS Secret Discovery Service\n         certificate.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the client's certificate.</p>"
      }
    },
    "com.amazonaws.appmesh#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.appmesh#CreateGatewayRoute": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appmesh#CreateGatewayRouteInput"
      },
      "output": {
        "target": "com.amazonaws.appmesh#CreateGatewayRouteOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.appmesh#BadRequestException"
        },
        {
          "target": "com.amazonaws.appmesh#ConflictException"
        },
        {
          "target": "com.amazonaws.appmesh#ForbiddenException"
        },
        {
          "target": "com.amazonaws.appmesh#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.appmesh#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appmesh#NotFoundException"
        },
        {
          "target": "com.amazonaws.appmesh#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.appmesh#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a gateway route.</p>\n         <p>A gateway route is attached to a virtual gateway and routes traffic to an existing\n         virtual service. If a route matches a request, it can distribute traffic to a target\n         virtual service.</p>\n         <p>For more information about gateway routes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/gateway-routes.html\">Gateway routes</a>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.appmesh#CreateGatewayRouteInput": {
      "type": "structure",
      "members": {
        "gatewayRouteName": {
          "target": "com.amazonaws.appmesh#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name to use for the gateway route.</p>",
            "smithy.api#required": {}
          }
        },
        "meshName": {
          "target": "com.amazonaws.appmesh#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service mesh to create the gateway route in.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "virtualGatewayName": {
          "target": "com.amazonaws.appmesh#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the virtual gateway to associate the gateway route with. If the virtual\n         gateway is in a shared mesh, then you must be the owner of the virtual gateway\n         resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.amazonaws.appmesh#GatewayRouteSpec",
          "traits": {
            "smithy.api#documentation": "<p>The gateway route specification to apply.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.appmesh#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Optional metadata that you can apply to the gateway route to assist with categorization\n         and organization. Each tag consists of a key and an optional value, both of which you\n         define. Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>"
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "meshOwner": {
          "target": "com.amazonaws.appmesh#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then\n               the account that you specify must share the mesh with your account before you can create \n             the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
            "smithy.api#httpQuery": "meshOwner"
          }
        }
      }
    },
    "com.amazonaws.appmesh#CreateGatewayRouteOutput": {
      "type": "structure",
      "members": {
        "gatewayRoute": {
          "target": "com.amazonaws.appmesh#GatewayRouteData",
          "traits": {
            "smithy.api#documentation": "<p>The full description of your gateway route following the create call.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appmesh#CreateMesh": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appmesh#CreateMeshInput"
      },
      "output": {
        "target": "com.amazonaws.appmesh#CreateMeshOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.appmesh#BadRequestException"
        },
        {
          "target": "com.amazonaws.appmesh#ConflictException"
        },
        {
          "target": "com.amazonaws.appmesh#ForbiddenException"
        },
        {
          "target": "com.amazonaws.appmesh#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.appmesh#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appmesh#NotFoundException"
        },
        {
          "target": "com.amazonaws.appmesh#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.appmesh#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a service mesh.</p>\n         <p> A service mesh is a logical boundary for network traffic between services that are\n         represented by resources within the mesh. After you create your service mesh, you can\n         create virtual services, virtual nodes, virtual routers, and routes to distribute traffic\n         between the applications in your mesh.</p>\n         <p>For more information about service meshes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/meshes.html\">Service meshes</a>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v20190125/meshes",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.appmesh#CreateMeshInput": {
      "type": "structure",
      "members": {
        "meshName": {
          "target": "com.amazonaws.appmesh#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name to use for the service mesh.</p>",
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.amazonaws.appmesh#MeshSpec",
          "traits": {
            "smithy.api#documentation": "<p>The service mesh specification to apply.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.appmesh#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Optional metadata that you can apply to the service mesh to assist with categorization\n         and organization. Each tag consists of a key and an optional value, both of which you\n         define. Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>",
            "smithy.api#tags": [
              "not-preview"
            ]
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": ""
      }
    },
    "com.amazonaws.appmesh#CreateMeshOutput": {
      "type": "structure",
      "members": {
        "mesh": {
          "target": "com.amazonaws.appmesh#MeshData",
          "traits": {
            "smithy.api#documentation": "<p>The full description of your service mesh following the create call.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": ""
      }
    },
    "com.amazonaws.appmesh#CreateRoute": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appmesh#CreateRouteInput"
      },
      "output": {
        "target": "com.amazonaws.appmesh#CreateRouteOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.appmesh#BadRequestException"
        },
        {
          "target": "com.amazonaws.appmesh#ConflictException"
        },
        {
          "target": "com.amazonaws.appmesh#ForbiddenException"
        },
        {
          "target": "com.amazonaws.appmesh#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.appmesh#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appmesh#NotFoundException"
        },
        {
          "target": "com.amazonaws.appmesh#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.appmesh#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a route that is associated with a virtual router.</p>\n         <p> You can route several different protocols and define a retry policy for a route.\n         Traffic can be routed to one or more virtual nodes.</p>\n         <p>For more information about routes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/routes.html\">Routes</a>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.appmesh#CreateRouteInput": {
      "type": "structure",
      "members": {
        "routeName": {
          "target": "com.amazonaws.appmesh#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name to use for the route.</p>",
            "smithy.api#required": {}
          }
        },
        "meshName": {
          "target": "com.amazonaws.appmesh#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service mesh to create the route in.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "virtualRouterName": {
          "target": "com.amazonaws.appmesh#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the virtual router in which to create the route. If the virtual router is in\n         a shared mesh, then you must be the owner of the virtual router resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.amazonaws.appmesh#RouteSpec",
          "traits": {
            "smithy.api#documentation": "<p>The route specification to apply.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.appmesh#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Optional metadata that you can apply to the route to assist with categorization and\n         organization. Each tag consists of a key and an optional value, both of which you define.\n         Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>",
            "smithy.api#tags": [
              "not-preview"
            ]
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "meshOwner": {
          "target": "com.amazonaws.appmesh#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then\n               the account that you specify must share the mesh with your account before you can create \n             the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
            "smithy.api#httpQuery": "meshOwner"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": ""
      }
    },
    "com.amazonaws.appmesh#CreateRouteOutput": {
      "type": "structure",
      "members": {
        "route": {
          "target": "com.amazonaws.appmesh#RouteData",
          "traits": {
            "smithy.api#documentation": "<p>The full description of your mesh following the create call.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": ""
      }
    },
    "com.amazonaws.appmesh#CreateVirtualGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appmesh#CreateVirtualGatewayInput"
      },
      "output": {
        "target": "com.amazonaws.appmesh#CreateVirtualGatewayOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.appmesh#BadRequestException"
        },
        {
          "target": "com.amazonaws.appmesh#ConflictException"
        },
        {
          "target": "com.amazonaws.appmesh#ForbiddenException"
        },
        {
          "target": "com.amazonaws.appmesh#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.appmesh#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appmesh#NotFoundException"
        },
        {
          "target": "com.amazonaws.appmesh#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.appmesh#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a virtual gateway.</p>\n         <p>A virtual gateway allows resources outside your mesh to communicate to resources that\n         are inside your mesh. The virtual gateway represents an Envoy proxy running in an Amazon ECS task, in a Kubernetes service, or on an Amazon EC2 instance. Unlike a\n         virtual node, which represents an Envoy running with an application, a virtual gateway\n         represents Envoy deployed by itself.</p>\n         <p>For more information about virtual gateways, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_gateways.html\">Virtual gateways</a>. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v20190125/meshes/{meshName}/virtualGateways",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.appmesh#CreateVirtualGatewayInput": {
      "type": "structure",
      "members": {
        "virtualGatewayName": {
          "target": "com.amazonaws.appmesh#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name to use for the virtual gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "meshName": {
          "target": "com.amazonaws.appmesh#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service mesh to create the virtual gateway in.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.amazonaws.appmesh#VirtualGatewaySpec",
          "traits": {
            "smithy.api#documentation": "<p>The virtual gateway specification to apply.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.appmesh#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Optional metadata that you can apply to the virtual gateway to assist with\n         categorization and organization. Each tag consists of a key and an optional value, both of\n         which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>"
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "meshOwner": {
          "target": "com.amazonaws.appmesh#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then\n               the account that you specify must share the mesh with your account before you can create \n             the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
            "smithy.api#httpQuery": "meshOwner"
          }
        }
      }
    },
    "com.amazonaws.appmesh#CreateVirtualGatewayOutput": {
      "type": "structure",
      "members": {
        "virtualGateway": {
          "target": "com.amazonaws.appmesh#VirtualGatewayData",
          "traits": {
            "smithy.api#documentation": "<p>The full description of your virtual gateway following the create call.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appmesh#CreateVirtualNode": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appmesh#CreateVirtualNodeInput"
      },
      "output": {
        "target": "com.amazonaws.appmesh#CreateVirtualNodeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.appmesh#BadRequestException"
        },
        {
          "target": "com.amazonaws.appmesh#ConflictException"
        },
        {
          "target": "com.amazonaws.appmesh#ForbiddenException"
        },
        {
          "target": "com.amazonaws.appmesh#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.appmesh#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appmesh#NotFoundException"
        },
        {
          "target": "com.amazonaws.appmesh#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.appmesh#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a virtual node within a service mesh.</p>\n         <p> A virtual node acts as a logical pointer to a particular task group, such as an Amazon ECS service or a Kubernetes deployment. When you create a virtual node, you can\n         specify the service discovery information for your task group, and whether the proxy\n         running in a task group will communicate with other proxies using Transport Layer Security\n         (TLS).</p>\n         <p>You define a <code>listener</code> for any inbound traffic that your virtual node\n         expects. Any virtual service that your virtual node expects to communicate to is specified\n         as a <code>backend</code>.</p>\n         <p>The response metadata for your new virtual node contains the <code>arn</code> that is\n         associated with the virtual node. Set this value to the full ARN; for example,\n            <code>arn:aws:appmesh:us-west-2:123456789012:myMesh/default/virtualNode/myApp</code>)\n         as the <code>APPMESH_RESOURCE_ARN</code> environment variable for your task group's Envoy\n         proxy container in your task definition or pod spec. This is then mapped to the\n            <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p>\n         <note>\n            <p>By default, App Mesh uses the name of the resource you specified in\n               <code>APPMESH_RESOURCE_ARN</code> when Envoy is referring to itself in metrics and\n            traces. You can override this behavior by setting the\n               <code>APPMESH_RESOURCE_CLUSTER</code> environment variable with your own name.</p>\n         </note>\n         <p>For more information about virtual nodes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_nodes.html\">Virtual nodes</a>. You must be using <code>1.15.0</code> or later of the Envoy image when\n         setting these variables. For more information aboutApp Mesh Envoy variables, see\n            <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/envoy.html\">Envoy\n            image</a> in the App Mesh User Guide.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v20190125/meshes/{meshName}/virtualNodes",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.appmesh#CreateVirtualNodeInput": {
      "type": "structure",
      "members": {
        "virtualNodeName": {
          "target": "com.amazonaws.appmesh#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name to use for the virtual node.</p>",
            "smithy.api#required": {}
          }
        },
        "meshName": {
          "target": "com.amazonaws.appmesh#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service mesh to create the virtual node in.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.amazonaws.appmesh#VirtualNodeSpec",
          "traits": {
            "smithy.api#documentation": "<p>The virtual node specification to apply.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.appmesh#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Optional metadata that you can apply to the virtual node to assist with categorization\n         and organization. Each tag consists of a key and an optional value, both of which you\n         define. Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>",
            "smithy.api#tags": [
              "not-preview"
            ]
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "meshOwner": {
          "target": "com.amazonaws.appmesh#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then\n               the account that you specify must share the mesh with your account before you can create \n             the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
            "smithy.api#httpQuery": "meshOwner"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": ""
      }
    },
    "com.amazonaws.appmesh#CreateVirtualNodeOutput": {
      "type": "structure",
      "members": {
        "virtualNode": {
          "target": "com.amazonaws.appmesh#VirtualNodeData",
          "traits": {
            "smithy.api#documentation": "<p>The full description of your virtual node following the create call.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": ""
      }
    },
    "com.amazonaws.appmesh#CreateVirtualRouter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appmesh#CreateVirtualRouterInput"
      },
      "output": {
        "target": "com.amazonaws.appmesh#CreateVirtualRouterOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.appmesh#BadRequestException"
        },
        {
          "target": "com.amazonaws.appmesh#ConflictException"
        },
        {
          "target": "com.amazonaws.appmesh#ForbiddenException"
        },
        {
          "target": "com.amazonaws.appmesh#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.appmesh#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appmesh#NotFoundException"
        },
        {
          "target": "com.amazonaws.appmesh#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.appmesh#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a virtual router within a service mesh.</p>\n         <p>Specify a <code>listener</code> for any inbound traffic that your virtual router\n         receives. Create a virtual router for each protocol and port that you need to route.\n         Virtual routers handle traffic for one or more virtual services within your mesh. After you\n         create your virtual router, create and associate routes for your virtual router that direct\n         incoming requests to different virtual nodes.</p>\n         <p>For more information about virtual routers, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_routers.html\">Virtual routers</a>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v20190125/meshes/{meshName}/virtualRouters",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.appmesh#CreateVirtualRouterInput": {
      "type": "structure",
      "members": {
        "virtualRouterName": {
          "target": "com.amazonaws.appmesh#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name to use for the virtual router.</p>",
            "smithy.api#required": {}
          }
        },
        "meshName": {
          "target": "com.amazonaws.appmesh#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service mesh to create the virtual router in.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.amazonaws.appmesh#VirtualRouterSpec",
          "traits": {
            "smithy.api#documentation": "<p>The virtual router specification to apply.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.appmesh#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Optional metadata that you can apply to the virtual router to assist with categorization\n         and organization. Each tag consists of a key and an optional value, both of which you\n         define. Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>",
            "smithy.api#tags": [
              "not-preview"
            ]
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "meshOwner": {
          "target": "com.amazonaws.appmesh#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then\n               the account that you specify must share the mesh with your account before you can create \n             the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
            "smithy.api#httpQuery": "meshOwner"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": ""
      }
    },
    "com.amazonaws.appmesh#CreateVirtualRouterOutput": {
      "type": "structure",
      "members": {
        "virtualRouter": {
          "target": "com.amazonaws.appmesh#VirtualRouterData",
          "traits": {
            "smithy.api#documentation": "<p>The full description of your virtual router following the create call.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": ""
      }
    },
    "com.amazonaws.appmesh#CreateVirtualService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appmesh#CreateVirtualServiceInput"
      },
      "output": {
        "target": "com.amazonaws.appmesh#CreateVirtualServiceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.appmesh#BadRequestException"
        },
        {
          "target": "com.amazonaws.appmesh#ConflictException"
        },
        {
          "target": "com.amazonaws.appmesh#ForbiddenException"
        },
        {
          "target": "com.amazonaws.appmesh#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.appmesh#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appmesh#NotFoundException"
        },
        {
          "target": "com.amazonaws.appmesh#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.appmesh#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a virtual service within a service mesh.</p>\n         <p>A virtual service is an abstraction of a real service that is provided by a virtual node\n         directly or indirectly by means of a virtual router. Dependent services call your virtual\n         service by its <code>virtualServiceName</code>, and those requests are routed to the\n         virtual node or virtual router that is specified as the provider for the virtual\n         service.</p>\n         <p>For more information about virtual services, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_services.html\">Virtual services</a>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v20190125/meshes/{meshName}/virtualServices",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.appmesh#CreateVirtualServiceInput": {
      "type": "structure",
      "members": {
        "virtualServiceName": {
          "target": "com.amazonaws.appmesh#ServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The name to use for the virtual service.</p>",
            "smithy.api#required": {}
          }
        },
        "meshName": {
          "target": "com.amazonaws.appmesh#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service mesh to create the virtual service in.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "spec": {
          "target": "com.amazonaws.appmesh#VirtualServiceSpec",
          "traits": {
[...]
