{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.appconfig#AmazonAppConfig": {
      "type": "service",
      "version": "2019-10-09",
      "operations": [
        {
          "target": "com.amazonaws.appconfig#CreateApplication"
        },
        {
          "target": "com.amazonaws.appconfig#CreateConfigurationProfile"
        },
        {
          "target": "com.amazonaws.appconfig#CreateDeploymentStrategy"
        },
        {
          "target": "com.amazonaws.appconfig#CreateEnvironment"
        },
        {
          "target": "com.amazonaws.appconfig#CreateHostedConfigurationVersion"
        },
        {
          "target": "com.amazonaws.appconfig#DeleteApplication"
        },
        {
          "target": "com.amazonaws.appconfig#DeleteConfigurationProfile"
        },
        {
          "target": "com.amazonaws.appconfig#DeleteDeploymentStrategy"
        },
        {
          "target": "com.amazonaws.appconfig#DeleteEnvironment"
        },
        {
          "target": "com.amazonaws.appconfig#DeleteHostedConfigurationVersion"
        },
        {
          "target": "com.amazonaws.appconfig#GetApplication"
        },
        {
          "target": "com.amazonaws.appconfig#GetConfiguration"
        },
        {
          "target": "com.amazonaws.appconfig#GetConfigurationProfile"
        },
        {
          "target": "com.amazonaws.appconfig#GetDeployment"
        },
        {
          "target": "com.amazonaws.appconfig#GetDeploymentStrategy"
        },
        {
          "target": "com.amazonaws.appconfig#GetEnvironment"
        },
        {
          "target": "com.amazonaws.appconfig#GetHostedConfigurationVersion"
        },
        {
          "target": "com.amazonaws.appconfig#ListApplications"
        },
        {
          "target": "com.amazonaws.appconfig#ListConfigurationProfiles"
        },
        {
          "target": "com.amazonaws.appconfig#ListDeployments"
        },
        {
          "target": "com.amazonaws.appconfig#ListDeploymentStrategies"
        },
        {
          "target": "com.amazonaws.appconfig#ListEnvironments"
        },
        {
          "target": "com.amazonaws.appconfig#ListHostedConfigurationVersions"
        },
        {
          "target": "com.amazonaws.appconfig#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.appconfig#StartDeployment"
        },
        {
          "target": "com.amazonaws.appconfig#StopDeployment"
        },
        {
          "target": "com.amazonaws.appconfig#TagResource"
        },
        {
          "target": "com.amazonaws.appconfig#UntagResource"
        },
        {
          "target": "com.amazonaws.appconfig#UpdateApplication"
        },
        {
          "target": "com.amazonaws.appconfig#UpdateConfigurationProfile"
        },
        {
          "target": "com.amazonaws.appconfig#UpdateDeploymentStrategy"
        },
        {
          "target": "com.amazonaws.appconfig#UpdateEnvironment"
        },
        {
          "target": "com.amazonaws.appconfig#ValidateConfiguration"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "AppConfig",
          "arnNamespace": "appconfig",
          "cloudFormationName": "AppConfig",
          "cloudTrailEventSource": "appconfig.amazonaws.com",
          "endpointPrefix": "appconfig"
        },
        "aws.auth#sigv4": {
          "name": "appconfig"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>AWS AppConfig</fullname>\n         <p>Use AWS AppConfig, a capability of AWS Systems Manager, to create, manage, and quickly deploy\n         application configurations. AppConfig supports controlled deployments to applications of any\n         size and includes built-in validation checks and monitoring. You can use AppConfig with\n         applications hosted on Amazon EC2 instances, AWS Lambda, containers, mobile applications, or IoT\n         devices.</p>\n\n         <p>To prevent errors when deploying application configurations, especially for production\n         systems where a simple typo could cause an unexpected outage, AppConfig includes validators.\n         A validator provides a syntactic or semantic check to ensure that the configuration you\n         want to deploy works as intended. To validate your application configuration data, you\n         provide a schema or a Lambda function that runs against the configuration. The\n         configuration deployment or update can only proceed when the configuration data is\n         valid.</p>\n\n         <p>During a configuration deployment, AppConfig monitors the application to ensure that the\n         deployment is successful. If the system encounters an error, AppConfig rolls back the change\n         to minimize impact for your application users. You can configure a deployment strategy for\n         each application or environment that includes deployment criteria, including velocity, bake\n         time, and alarms to monitor. Similar to error monitoring, if a deployment triggers an\n         alarm, AppConfig automatically rolls back to the previous version. </p>\n\n         <p>AppConfig supports multiple use cases. Here are some examples.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Application tuning</b>: Use AppConfig to carefully\n               introduce changes to your application that can only be tested with production\n               traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Feature toggle</b>: Use AppConfig to turn on new\n               features that require a timely deployment, such as a product launch or announcement.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <b>Allow list</b>: Use AppConfig to allow premium\n               subscribers to access paid content. </p>\n            </li>\n            <li>\n               <p>\n                  <b>Operational issues</b>: Use AppConfig to reduce stress\n               on your application when a dependency or other external factor impacts the\n               system.</p>\n            </li>\n         </ul>\n         <p>This reference is intended to be used with the <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/appconfig.html\">AWS AppConfig User Guide</a>.</p>",
        "smithy.api#title": "Amazon AppConfig"
      }
    },
    "com.amazonaws.appconfig#Application": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The application name.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the application.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ApplicationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#Application"
      }
    },
    "com.amazonaws.appconfig#Applications": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.appconfig#ApplicationList",
          "traits": {
            "smithy.api#documentation": "<p>The elements from this collection.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. Use this token to get the next set of\n         results.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "arn:(aws[a-zA-Z-]*)?:[a-z]+:([a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1})?:(\\d{12})?:[a-zA-Z0-9-_/:.]+"
      }
    },
    "com.amazonaws.appconfig#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appconfig#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.appconfig#Blob": {
      "type": "blob",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appconfig#BytesMeasure": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "KILOBYTES",
            "name": "KILOBYTES"
          }
        ]
      }
    },
    "com.amazonaws.appconfig#Configuration": {
      "type": "structure",
      "members": {
        "Content": {
          "target": "com.amazonaws.appconfig#Blob",
          "traits": {
            "smithy.api#documentation": "<p>The content of the configuration or the configuration data.</p>",
            "smithy.api#httpPayload": {}
          }
        },
        "ConfigurationVersion": {
          "target": "com.amazonaws.appconfig#Version",
          "traits": {
            "smithy.api#documentation": "<p>The configuration version.</p>",
            "smithy.api#httpHeader": "Configuration-Version"
          }
        },
        "ContentType": {
          "target": "com.amazonaws.appconfig#String",
          "traits": {
            "smithy.api#documentation": "<p>A standard MIME type describing the format of the configuration content. For more\n         information, see <a href=\"http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.17\">Content-Type</a>.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ConfigurationProfile": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The configuration profile ID.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration profile.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>The configuration profile description.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.appconfig#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The URI location of the configuration.</p>"
          }
        },
        "RetrievalRoleArn": {
          "target": "com.amazonaws.appconfig#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of an IAM role with permission to access the configuration at the specified\n         LocationUri.</p>"
          }
        },
        "Validators": {
          "target": "com.amazonaws.appconfig#ValidatorList",
          "traits": {
            "smithy.api#documentation": "<p>A list of methods for validating the configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ConfigurationProfileSummary": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the configuration profile.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration profile.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.appconfig#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The URI location of the configuration.</p>"
          }
        },
        "ValidatorTypes": {
          "target": "com.amazonaws.appconfig#ValidatorTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The types of validators in the configuration profile.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of a configuration profile.</p>"
      }
    },
    "com.amazonaws.appconfig#ConfigurationProfileSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#ConfigurationProfileSummary"
      }
    },
    "com.amazonaws.appconfig#ConfigurationProfiles": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.appconfig#ConfigurationProfileSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The elements from this collection.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. Use this token to get the next set of\n         results.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appconfig#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be processed because of conflict in the current state of the\n         resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.appconfig#CreateApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#CreateApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Application"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>An application in AppConfig is a logical unit of code that provides capabilities for your\n         customers. For example, an application can be a microservice that runs on Amazon EC2 instances,\n         a mobile application installed by your users, a serverless application using Amazon API\n         Gateway and AWS Lambda, or any system you run on behalf of others.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applications",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfig#CreateApplicationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the application.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the application.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata to assign to the application. Tags help organize and categorize your AppConfig\n         resources. Each tag consists of a key and an optional value, both of which you\n         define.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#CreateConfigurationProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#CreateConfigurationProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#ConfigurationProfile"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Information that enables AppConfig to access the configuration source. Valid\n         configuration sources include Systems Manager (SSM) documents, SSM Parameter Store parameters, and\n         Amazon S3 objects. A configuration profile includes the following information.</p>\n         <ul>\n            <li>\n               <p>The Uri location of the configuration data.</p>\n            </li>\n            <li>\n               <p>The AWS Identity and Access Management (IAM) role that provides access to the configuration data.</p>\n            </li>\n            <li>\n               <p>A validator for the configuration data. Available validators include either a JSON\n               Schema or an AWS Lambda function.</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/appconfig-creating-configuration-and-profile.html\">Create a\n            Configuration and a Configuration Profile</a> in the\n            <i>AWS AppConfig User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applications/{ApplicationId}/configurationprofiles",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfig#CreateConfigurationProfileRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the configuration profile.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the configuration profile.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.appconfig#Uri",
          "traits": {
            "smithy.api#documentation": "<p>A URI to locate the configuration. You can specify a Systems Manager (SSM) document, an SSM\n         Parameter Store parameter, or an Amazon S3 object. For an SSM document, specify either the\n         document name in the format <code>ssm-document://<Document_name></code> or the Amazon\n         Resource Name (ARN). For a parameter, specify either the parameter name in the format\n            <code>ssm-parameter://<Parameter_name></code> or the ARN. For an Amazon S3 object,\n         specify the URI in the following format: <code>s3://<bucket>/<objectKey>\n         </code>. Here is an example: s3://my-bucket/my-app/us-east-1/my-config.json</p>",
            "smithy.api#required": {}
          }
        },
        "RetrievalRoleArn": {
          "target": "com.amazonaws.appconfig#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of an IAM role with permission to access the configuration at the specified\n         LocationUri.</p>"
          }
        },
        "Validators": {
          "target": "com.amazonaws.appconfig#ValidatorList",
          "traits": {
            "smithy.api#documentation": "<p>A list of methods for validating the configuration.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata to assign to the configuration profile. Tags help organize and categorize your\n         AppConfig resources. Each tag consists of a key and an optional value, both of which you\n         define.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#CreateDeploymentStrategy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#CreateDeploymentStrategyRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#DeploymentStrategy"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>A deployment strategy defines important criteria for rolling out your configuration to\n         the designated targets. A deployment strategy includes: the overall duration required, a\n         percentage of targets to receive the deployment during each interval, an algorithm that\n         defines how percentage grows, and bake time.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/deploymentstrategies",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfig#CreateDeploymentStrategyRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the deployment strategy.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the deployment strategy.</p>"
          }
        },
        "DeploymentDurationInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>Total amount of time for a deployment to last.</p>",
            "smithy.api#required": {}
          }
        },
        "FinalBakeTimeInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time AppConfig monitors for alarms before considering the deployment to be\n         complete and no longer eligible for automatic roll back.</p>"
          }
        },
        "GrowthFactor": {
          "target": "com.amazonaws.appconfig#GrowthFactor",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The percentage of targets to receive a deployed configuration during each\n         interval.</p>",
            "smithy.api#required": {}
          }
        },
        "GrowthType": {
          "target": "com.amazonaws.appconfig#GrowthType",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm used to define how percentage grows over time. AWS AppConfig supports the\n         following growth types:</p>\n         <p>\n            <b>Linear</b>: For this type, AppConfig processes the\n         deployment by dividing the total number of targets by the value specified for <code>Step\n            percentage</code>. For example, a linear deployment that uses a <code>Step\n            percentage</code> of 10 deploys the configuration to 10 percent of the hosts. After\n         those deployments are complete, the system deploys the configuration to the next 10\n         percent. This continues until 100% of the targets have successfully received the\n         configuration.</p>\n\n         <p>\n            <b>Exponential</b>: For this type, AppConfig processes the\n         deployment exponentially using the following formula: <code>G*(2^N)</code>. In this\n         formula, <code>G</code> is the growth factor specified by the user and <code>N</code> is\n         the number of steps until the configuration is deployed to all targets. For example, if you\n         specify a growth factor of 2, then the system rolls out the configuration as\n         follows:</p>\n         <p>\n            <code>2*(2^0)</code>\n         </p>\n         <p>\n            <code>2*(2^1)</code>\n         </p>\n         <p>\n            <code>2*(2^2)</code>\n         </p>\n         <p>Expressed numerically, the deployment rolls out as follows: 2% of the targets, 4% of the\n         targets, 8% of the targets, and continues until the configuration has been deployed to all\n         targets.</p>"
          }
        },
        "ReplicateTo": {
          "target": "com.amazonaws.appconfig#ReplicateTo",
          "traits": {
            "smithy.api#documentation": "<p>Save the deployment strategy to a Systems Manager (SSM) document.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata to assign to the deployment strategy. Tags help organize and categorize your\n         AppConfig resources. Each tag consists of a key and an optional value, both of which you\n         define.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#CreateEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#CreateEnvironmentRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Environment"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>For each application, you define one or more environments. An environment is a logical\n         deployment group of AppConfig targets, such as applications in a <code>Beta</code> or\n            <code>Production</code> environment. You can also define environments for application\n         subcomponents such as the <code>Web</code>, <code>Mobile</code> and <code>Back-end</code>\n         components for your application. You can configure Amazon CloudWatch alarms for each environment.\n         The system monitors alarms during a configuration deployment. If an alarm is triggered, the\n         system rolls back the configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applications/{ApplicationId}/environments",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfig#CreateEnvironmentRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the environment.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the environment.</p>"
          }
        },
        "Monitors": {
          "target": "com.amazonaws.appconfig#MonitorList",
          "traits": {
            "smithy.api#documentation": "<p>Amazon CloudWatch alarms to monitor during the deployment process.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata to assign to the environment. Tags help organize and categorize your AppConfig\n         resources. Each tag consists of a key and an optional value, both of which you\n         define.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#CreateHostedConfigurationVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#CreateHostedConfigurationVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#HostedConfigurationVersion"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#ConflictException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#PayloadTooLargeException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appconfig#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new configuration in the AppConfig configuration store.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applications/{ApplicationId}/configurationprofiles/{ConfigurationProfileId}/hostedconfigurationversions",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfig#CreateHostedConfigurationVersionRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConfigurationProfileId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The configuration profile ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the configuration.</p>",
            "smithy.api#httpHeader": "Description"
          }
        },
        "Content": {
          "target": "com.amazonaws.appconfig#Blob",
          "traits": {
            "smithy.api#documentation": "<p>The content of the configuration or the configuration data.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "ContentType": {
          "target": "com.amazonaws.appconfig#StringWithLengthBetween1And255",
          "traits": {
            "smithy.api#documentation": "<p>A standard MIME type describing the format of the configuration content. For more\n         information, see <a href=\"https://docs.aws.amazon.com/https:/www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.17\">Content-Type</a>.</p>",
            "smithy.api#httpHeader": "Content-Type",
            "smithy.api#required": {}
          }
        },
        "LatestVersionNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>An optional locking token used to prevent race conditions from overwriting configuration\n         updates when creating a new version. To ensure your data is not overwritten when creating\n         multiple hosted configuration versions in rapid succession, specify the version of the\n         latest hosted configuration version.</p>",
            "smithy.api#httpHeader": "Latest-Version-Number"
          }
        }
      }
    },
    "com.amazonaws.appconfig#DeleteApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#DeleteApplicationRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete an application. Deleting an application does not delete a configuration from a\n         host.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/applications/{ApplicationId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.appconfig#DeleteApplicationRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#DeleteConfigurationProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#DeleteConfigurationProfileRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#ConflictException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a configuration profile. Deleting a configuration profile does not delete a\n         configuration from a host.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/applications/{ApplicationId}/configurationprofiles/{ConfigurationProfileId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.appconfig#DeleteConfigurationProfileRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID that includes the configuration profile you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConfigurationProfileId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the configuration profile you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#DeleteDeploymentStrategy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#DeleteDeploymentStrategyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a deployment strategy. Deleting a deployment strategy does not delete a\n         configuration from a host.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/deployementstrategies/{DeploymentStrategyId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.appconfig#DeleteDeploymentStrategyRequest": {
      "type": "structure",
      "members": {
        "DeploymentStrategyId": {
          "target": "com.amazonaws.appconfig#DeploymentStrategyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the deployment strategy you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#DeleteEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#DeleteEnvironmentRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#ConflictException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete an environment. Deleting an environment does not delete a configuration from a\n         host.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/applications/{ApplicationId}/environments/{EnvironmentId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.appconfig#DeleteEnvironmentRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID that includes the environment you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "EnvironmentId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the environment you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#DeleteHostedConfigurationVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#DeleteHostedConfigurationVersionRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a version of a configuration from the AppConfig configuration store.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/applications/{ApplicationId}/configurationprofiles/{ConfigurationProfileId}/hostedconfigurationversions/{VersionNumber}",
          "code": 204
        }
      }
    },
    "com.amazonaws.appconfig#DeleteHostedConfigurationVersionRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConfigurationProfileId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The configuration profile ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VersionNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The versions number to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#Deployment": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application that was deployed.</p>"
          }
        },
        "EnvironmentId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the environment that was deployed.</p>"
          }
        },
        "DeploymentStrategyId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the deployment strategy that was deployed.</p>"
          }
        },
        "ConfigurationProfileId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the configuration profile that was deployed.</p>"
          }
        },
        "DeploymentNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The sequence number of the deployment.</p>"
          }
        },
        "ConfigurationName": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>"
          }
        },
        "ConfigurationLocationUri": {
          "target": "com.amazonaws.appconfig#Uri",
          "traits": {
            "smithy.api#documentation": "<p>Information about the source location of the configuration.</p>"
          }
        },
        "ConfigurationVersion": {
          "target": "com.amazonaws.appconfig#Version",
          "traits": {
            "smithy.api#documentation": "<p>The configuration version that was deployed.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the deployment.</p>"
          }
        },
        "DeploymentDurationInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#documentation": "<p>Total amount of time the deployment lasted.</p>"
          }
        },
        "GrowthType": {
          "target": "com.amazonaws.appconfig#GrowthType",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm used to define how percentage grew over time.</p>"
          }
        },
        "GrowthFactor": {
          "target": "com.amazonaws.appconfig#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of targets to receive a deployed configuration during each\n         interval.</p>"
          }
        },
        "FinalBakeTimeInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time AppConfig monitored for alarms before considering the deployment to be\n         complete and no longer eligible for automatic roll back.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.appconfig#DeploymentState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the deployment.</p>"
          }
        },
        "EventLog": {
          "target": "com.amazonaws.appconfig#DeploymentEvents",
          "traits": {
            "smithy.api#documentation": "<p>A list containing all events related to a deployment. The most recent events are\n         displayed first.</p>"
          }
        },
        "PercentageComplete": {
          "target": "com.amazonaws.appconfig#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of targets for which the deployment is available.</p>"
          }
        },
        "StartedAt": {
          "target": "com.amazonaws.appconfig#Iso8601DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the deployment started.</p>"
          }
        },
        "CompletedAt": {
          "target": "com.amazonaws.appconfig#Iso8601DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the deployment completed. </p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#DeploymentEvent": {
      "type": "structure",
      "members": {
        "EventType": {
          "target": "com.amazonaws.appconfig#DeploymentEventType",
          "traits": {
            "smithy.api#documentation": "<p>The type of deployment event. Deployment event types include the start, stop, or\n         completion of a deployment; a percentage update; the start or stop of a bake period; the\n         start or completion of a rollback.</p>"
          }
        },
        "TriggeredBy": {
          "target": "com.amazonaws.appconfig#TriggeredBy",
          "traits": {
            "smithy.api#documentation": "<p>The entity that triggered the deployment event. Events can be triggered by a user, AWS\n         AppConfig, an Amazon CloudWatch alarm, or an internal error.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the deployment event. Descriptions include, but are not limited to, the\n         user account or the CloudWatch alarm ARN that initiated a rollback, the percentage of hosts\n         that received the deployment, or in the case of an internal error, a recommendation to\n         attempt a new deployment.</p>"
          }
        },
        "OccurredAt": {
          "target": "com.amazonaws.appconfig#Iso8601DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the event occurred.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that describes a deployment event.</p>"
      }
    },
    "com.amazonaws.appconfig#DeploymentEventType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PERCENTAGE_UPDATED",
            "name": "PERCENTAGE_UPDATED"
          },
          {
            "value": "ROLLBACK_STARTED",
            "name": "ROLLBACK_STARTED"
          },
          {
            "value": "ROLLBACK_COMPLETED",
            "name": "ROLLBACK_COMPLETED"
          },
          {
            "value": "BAKE_TIME_STARTED",
            "name": "BAKE_TIME_STARTED"
          },
          {
            "value": "DEPLOYMENT_STARTED",
            "name": "DEPLOYMENT_STARTED"
          },
          {
            "value": "DEPLOYMENT_COMPLETED",
            "name": "DEPLOYMENT_COMPLETED"
          }
        ]
      }
    },
    "com.amazonaws.appconfig#DeploymentEvents": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#DeploymentEvent"
      }
    },
    "com.amazonaws.appconfig#DeploymentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#DeploymentSummary"
      }
    },
    "com.amazonaws.appconfig#DeploymentState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BAKING",
            "name": "BAKING"
          },
          {
            "value": "VALIDATING",
            "name": "VALIDATING"
          },
          {
            "value": "DEPLOYING",
            "name": "DEPLOYING"
          },
          {
            "value": "COMPLETE",
            "name": "COMPLETE"
          },
          {
            "value": "ROLLING_BACK",
            "name": "ROLLING_BACK"
          },
          {
            "value": "ROLLED_BACK",
            "name": "ROLLED_BACK"
          }
        ]
      }
    },
    "com.amazonaws.appconfig#DeploymentStrategies": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.appconfig#DeploymentStrategyList",
          "traits": {
            "smithy.api#documentation": "<p>The elements from this collection.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. Use this token to get the next set of\n         results.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#DeploymentStrategy": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The deployment strategy ID.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the deployment strategy.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the deployment strategy.</p>"
          }
        },
        "DeploymentDurationInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#documentation": "<p>Total amount of time the deployment lasted.</p>"
          }
        },
        "GrowthType": {
          "target": "com.amazonaws.appconfig#GrowthType",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm used to define how percentage grew over time.</p>"
          }
        },
        "GrowthFactor": {
          "target": "com.amazonaws.appconfig#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of targets that received a deployed configuration during each\n         interval.</p>"
          }
        },
        "FinalBakeTimeInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time AppConfig monitored for alarms before considering the deployment to be\n         complete and no longer eligible for automatic roll back.</p>"
          }
        },
        "ReplicateTo": {
          "target": "com.amazonaws.appconfig#ReplicateTo",
          "traits": {
            "smithy.api#documentation": "<p>Save the deployment strategy to a Systems Manager (SSM) document.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#DeploymentStrategyId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "(^[a-z0-9]{4,7}$|^AppConfig\\.[A-Za-z0-9]{9,40}$)"
      }
    },
    "com.amazonaws.appconfig#DeploymentStrategyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#DeploymentStrategy"
      }
    },
    "com.amazonaws.appconfig#DeploymentSummary": {
      "type": "structure",
      "members": {
        "DeploymentNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The sequence number of the deployment.</p>"
          }
        },
        "ConfigurationName": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>"
          }
        },
        "ConfigurationVersion": {
          "target": "com.amazonaws.appconfig#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the configuration.</p>"
          }
        },
        "DeploymentDurationInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#documentation": "<p>Total amount of time the deployment lasted.</p>"
          }
        },
        "GrowthType": {
          "target": "com.amazonaws.appconfig#GrowthType",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm used to define how percentage grows over time.</p>"
          }
        },
        "GrowthFactor": {
          "target": "com.amazonaws.appconfig#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of targets to receive a deployed configuration during each\n         interval.</p>"
          }
        },
        "FinalBakeTimeInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time AppConfig monitors for alarms before considering the deployment to be\n         complete and no longer eligible for automatic roll back.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.appconfig#DeploymentState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the deployment.</p>"
          }
        },
        "PercentageComplete": {
          "target": "com.amazonaws.appconfig#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of targets for which the deployment is available.</p>"
          }
        },
        "StartedAt": {
          "target": "com.amazonaws.appconfig#Iso8601DateTime",
          "traits": {
            "smithy.api#documentation": "<p>Time the deployment started.</p>"
          }
        },
        "CompletedAt": {
          "target": "com.amazonaws.appconfig#Iso8601DateTime",
          "traits": {
            "smithy.api#documentation": "<p>Time the deployment completed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the deployment.</p>"
      }
    },
    "com.amazonaws.appconfig#Deployments": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.appconfig#DeploymentList",
          "traits": {
            "smithy.api#documentation": "<p>The elements from this collection.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. Use this token to get the next set of\n         results.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.appconfig#Environment": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The environment ID.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the environment.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.appconfig#EnvironmentState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the environment. An environment can be in one of the following states:\n            <code>READY_FOR_DEPLOYMENT</code>, <code>DEPLOYING</code>, <code>ROLLING_BACK</code>, or\n            <code>ROLLED_BACK</code>\n         </p>"
          }
        },
        "Monitors": {
          "target": "com.amazonaws.appconfig#MonitorList",
          "traits": {
            "smithy.api#documentation": "<p>Amazon CloudWatch alarms monitored during the deployment.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#EnvironmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#Environment"
      }
    },
    "com.amazonaws.appconfig#EnvironmentState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "READY_FOR_DEPLOYMENT",
            "name": "READY_FOR_DEPLOYMENT"
          },
          {
            "value": "DEPLOYING",
            "name": "DEPLOYING"
          },
          {
            "value": "ROLLING_BACK",
            "name": "ROLLING_BACK"
          },
          {
            "value": "ROLLED_BACK",
            "name": "ROLLED_BACK"
          }
        ]
      }
    },
    "com.amazonaws.appconfig#Environments": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.appconfig#EnvironmentList",
          "traits": {
            "smithy.api#documentation": "<p>The elements from this collection.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. Use this token to get the next set of\n         results.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#Float": {
      "type": "float"
    },
    "com.amazonaws.appconfig#GetApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#GetApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Application"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve information about an application.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{ApplicationId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#GetApplicationRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application you want to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#GetConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#GetConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Configuration"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Receive information about a configuration.</p>\n         <important>\n            <p>AWS AppConfig uses the value of the <code>ClientConfigurationVersion</code> parameter\n            to identify the configuration version on your clients. If you don’t send\n               <code>ClientConfigurationVersion</code> with each call to\n               <code>GetConfiguration</code>, your clients receive the current configuration. You\n            are charged each time your clients receive a configuration.</p>\n            <p>To avoid excess charges, we recommend that you include the\n               <code>ClientConfigurationVersion</code> value with every call to\n               <code>GetConfiguration</code>. This value must be saved on your client. Subsequent\n            calls to <code>GetConfiguration</code> must pass this value by using the\n               <code>ClientConfigurationVersion</code> parameter. </p>\n         </important>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{Application}/environments/{Environment}/configurations/{Configuration}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#GetConfigurationProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#GetConfigurationProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#ConfigurationProfile"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve information about a configuration profile.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{ApplicationId}/configurationprofiles/{ConfigurationProfileId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#GetConfigurationProfileRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application that includes the configuration profile you want to\n         get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConfigurationProfileId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the configuration profile you want to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#GetConfigurationRequest": {
      "type": "structure",
      "members": {
        "Application": {
          "target": "com.amazonaws.appconfig#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#documentation": "<p>The application to get. Specify either the application name or the application\n         ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Environment": {
          "target": "com.amazonaws.appconfig#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#documentation": "<p>The environment to get. Specify either the environment name or the environment\n         ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Configuration": {
          "target": "com.amazonaws.appconfig#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#documentation": "<p>The configuration to get. Specify either the configuration name or the configuration\n         ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ClientId": {
          "target": "com.amazonaws.appconfig#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#documentation": "<p>A unique ID to identify the client for the configuration. This ID enables AppConfig to\n         deploy the configuration in intervals, as defined in the deployment strategy.</p>",
            "smithy.api#httpQuery": "client_id",
            "smithy.api#required": {}
          }
        },
        "ClientConfigurationVersion": {
          "target": "com.amazonaws.appconfig#Version",
          "traits": {
            "smithy.api#documentation": "<p>The configuration version returned in the most recent <code>GetConfiguration</code>\n         response.</p>\n         <important>\n            <p>AWS AppConfig uses the value of the <code>ClientConfigurationVersion</code> parameter\n            to identify the configuration version on your clients. If you don’t send\n               <code>ClientConfigurationVersion</code> with each call to\n               <code>GetConfiguration</code>, your clients receive the current configuration. You\n            are charged each time your clients receive a configuration.</p>\n            <p>To avoid excess charges, we recommend that you include the\n               <code>ClientConfigurationVersion</code> value with every call to\n               <code>GetConfiguration</code>. This value must be saved on your client. Subsequent\n            calls to <code>GetConfiguration</code> must pass this value by using the\n               <code>ClientConfigurationVersion</code> parameter. </p>\n         </important>\n         <p>For more information about working with configurations, see <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/appconfig-retrieving-the-configuration.html\">Retrieving the Configuration</a> in the\n         <i>AWS AppConfig User Guide</i>.</p>",
            "smithy.api#httpQuery": "client_configuration_version"
          }
        }
      }
    },
    "com.amazonaws.appconfig#GetDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#GetDeploymentRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Deployment"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve information about a configuration deployment.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{ApplicationId}/environments/{EnvironmentId}/deployments/{DeploymentNumber}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#GetDeploymentRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application that includes the deployment you want to get. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "EnvironmentId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the environment that includes the deployment you want to get. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeploymentNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The sequence number of the deployment.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#GetDeploymentStrategy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#GetDeploymentStrategyRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#DeploymentStrategy"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve information about a deployment strategy. A deployment strategy defines\n         important criteria for rolling out your configuration to the designated targets. A\n         deployment strategy includes: the overall duration required, a percentage of targets to\n         receive the deployment during each interval, an algorithm that defines how percentage\n         grows, and bake time.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/deploymentstrategies/{DeploymentStrategyId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#GetDeploymentStrategyRequest": {
      "type": "structure",
      "members": {
        "DeploymentStrategyId": {
          "target": "com.amazonaws.appconfig#DeploymentStrategyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the deployment strategy to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#GetEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#GetEnvironmentRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Environment"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve information about an environment. An environment is a logical deployment group\n         of AppConfig applications, such as applications in a <code>Production</code> environment or\n         in an <code>EU_Region</code> environment. Each configuration deployment targets an\n         environment. You can enable one or more Amazon CloudWatch alarms for an environment. If an alarm is\n         triggered during a deployment, AppConfig roles back the configuration.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{ApplicationId}/environments/{EnvironmentId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#GetEnvironmentRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application that includes the environment you want to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "EnvironmentId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the environment you wnat to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#GetHostedConfigurationVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#GetHostedConfigurationVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#HostedConfigurationVersion"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get information about a specific configuration version.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{ApplicationId}/configurationprofiles/{ConfigurationProfileId}/hostedconfigurationversions/{VersionNumber}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#GetHostedConfigurationVersionRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConfigurationProfileId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The configuration profile ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VersionNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The version.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#GrowthFactor": {
      "type": "float",
      "traits": {
        "smithy.api#range": {
          "min": 1.0,
          "max": 100.0
        }
      }
    },
    "com.amazonaws.appconfig#GrowthType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LINEAR",
            "name": "LINEAR"
          },
          {
            "value": "EXPONENTIAL",
            "name": "EXPONENTIAL"
          }
        ]
      }
    },
    "com.amazonaws.appconfig#HostedConfigurationVersion": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpHeader": "Application-Id"
          }
        },
        "ConfigurationProfileId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The configuration profile ID.</p>",
            "smithy.api#httpHeader": "Configuration-Profile-Id"
          }
        },
        "VersionNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The configuration version.</p>",
            "smithy.api#httpHeader": "Version-Number"
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the configuration.</p>",
            "smithy.api#httpHeader": "Description"
          }
        },
        "Content": {
          "target": "com.amazonaws.appconfig#Blob",
          "traits": {
            "smithy.api#documentation": "<p>The content of the configuration or the configuration data.</p>",
            "smithy.api#httpPayload": {}
          }
        },
        "ContentType": {
          "target": "com.amazonaws.appconfig#StringWithLengthBetween1And255",
          "traits": {
            "smithy.api#documentation": "<p>A standard MIME type describing the format of the configuration content. For more\n         information, see <a href=\"https://docs.aws.amazon.com/https:/www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.17\">Content-Type</a>.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        }
      }
    },
    "com.amazonaws.appconfig#HostedConfigurationVersionSummary": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>"
          }
        },
        "ConfigurationProfileId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The configuration profile ID.</p>"
          }
        },
        "VersionNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The configuration version.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the configuration.</p>"
          }
        },
        "ContentType": {
          "target": "com.amazonaws.appconfig#StringWithLengthBetween1And255",
          "traits": {
            "smithy.api#documentation": "<p>A standard MIME type describing the format of the configuration content. For more\n         information, see <a href=\"https://docs.aws.amazon.com/https:/www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.17\">Content-Type</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the configuration.</p>"
      }
    },
    "com.amazonaws.appconfig#HostedConfigurationVersionSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#HostedConfigurationVersionSummary"
      }
    },
    "com.amazonaws.appconfig#HostedConfigurationVersions": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.appconfig#HostedConfigurationVersionSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The elements from this collection.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. Use this token to get the next set of\n         results.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#Id": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-z0-9]{4,7}"
      }
    },
    "com.amazonaws.appconfig#Integer": {
      "type": "integer"
    },
    "com.amazonaws.appconfig#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appconfig#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was an internal failure in the AppConfig service.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.appconfig#Iso8601DateTime": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.appconfig#ListApplications": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#ListApplicationsRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Applications"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List all applications in your AWS account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.appconfig#ListApplicationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.appconfig#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of items to return for this call. The call also returns a token that\n         you can specify in a subsequent call to get the next set of results.</p>",
            "smithy.api#httpQuery": "max_results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to start the list. Use this token to get the next set of results.</p>",
            "smithy.api#httpQuery": "next_token"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ListConfigurationProfiles": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#ListConfigurationProfilesRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#ConfigurationProfiles"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the configuration profiles for an application.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{ApplicationId}/configurationprofiles",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.appconfig#ListConfigurationProfilesRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.appconfig#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of items to return for this call. The call also returns a token that\n         you can specify in a subsequent call to get the next set of results.</p>",
            "smithy.api#httpQuery": "max_results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to start the list. Use this token to get the next set of results.</p>",
            "smithy.api#httpQuery": "next_token"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ListDeploymentStrategies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#ListDeploymentStrategiesRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#DeploymentStrategies"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List deployment strategies.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/deploymentstrategies",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.appconfig#ListDeploymentStrategiesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.appconfig#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of items to return for this call. The call also returns a token that\n         you can specify in a subsequent call to get the next set of results.</p>",
            "smithy.api#httpQuery": "max_results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to start the list. Use this token to get the next set of results.</p>",
            "smithy.api#httpQuery": "next_token"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ListDeployments": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#ListDeploymentsRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Deployments"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the deployments for an environment.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{ApplicationId}/environments/{EnvironmentId}/deployments",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.appconfig#ListDeploymentsRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "EnvironmentId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The environment ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.appconfig#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of items to return for this call. The call also returns a token that\n         you can specify in a subsequent call to get the next set of results.</p>",
            "smithy.api#httpQuery": "max_results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to start the list. Use this token to get the next set of results.</p>",
            "smithy.api#httpQuery": "next_token"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ListEnvironments": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#ListEnvironmentsRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Environments"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List the environments for an application.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{ApplicationId}/environments",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.appconfig#ListEnvironmentsRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.appconfig#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of items to return for this call. The call also returns a token that\n         you can specify in a subsequent call to get the next set of results.</p>",
            "smithy.api#httpQuery": "max_results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to start the list. Use this token to get the next set of results.</p>",
            "smithy.api#httpQuery": "next_token"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ListHostedConfigurationVersions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#ListHostedConfigurationVersionsRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#HostedConfigurationVersions"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>View a list of configurations stored in the AppConfig configuration store by\n         version.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{ApplicationId}/configurationprofiles/{ConfigurationProfileId}/hostedconfigurationversions",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.appconfig#ListHostedConfigurationVersionsRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConfigurationProfileId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The configuration profile ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.appconfig#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of items to return for this call. The call also returns a token that\n         you can specify in a subsequent call to get the next set of results.</p>",
            "smithy.api#httpQuery": "max_results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to start the list. Use this token to get the next set of results. </p>",
            "smithy.api#httpQuery": "next_token"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#ResourceTags"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the list of key-value tags assigned to the resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.appconfig#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The resource ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.appconfig#MinutesBetween0And24Hours": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1440
        }
      }
    },
    "com.amazonaws.appconfig#Monitor": {
      "type": "structure",
      "members": {
        "AlarmArn": {
          "target": "com.amazonaws.appconfig#Arn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the Amazon CloudWatch alarm.</p>"
          }
        },
        "AlarmRoleArn": {
          "target": "com.amazonaws.appconfig#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of an IAM role for AppConfig to monitor <code>AlarmArn</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon CloudWatch alarms to monitor during the deployment process.</p>"
      }
    },
    "com.amazonaws.appconfig#MonitorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#Monitor"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.appconfig#Name": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.appconfig#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.appconfig#PayloadTooLargeException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appconfig#String"
        },
        "Measure": {
          "target": "com.amazonaws.appconfig#BytesMeasure"
        },
        "Limit": {
          "target": "com.amazonaws.appconfig#Float"
        },
        "Size": {
          "target": "com.amazonaws.appconfig#Float"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration size is too large.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 413
      }
    },
    "com.amazonaws.appconfig#Percentage": {
      "type": "float",
      "traits": {
        "smithy.api#range": {
          "min": 1.0,
          "max": 100.0
        }
      }
    },
    "com.amazonaws.appconfig#ReplicateTo": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "SSM_DOCUMENT",
            "name": "SSM_DOCUMENT"
          }
        ]
      }
    },
    "com.amazonaws.appconfig#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appconfig#String"
        },
        "ResourceName": {
          "target": "com.amazonaws.appconfig#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested resource could not be found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.appconfig#ResourceTags": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata to assign to AppConfig resources. Tags help organize and categorize your\n         AppConfig resources. Each tag consists of a key and an optional value, both of which you\n         define.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#RoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^((arn):(aws|aws-cn|aws-iso|aws-iso-[a-z]{1}|aws-us-gov):(iam)::\\d{12}:role[/].*)$"
      }
    },
    "com.amazonaws.appconfig#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appconfig#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of hosted configuration versions exceeds the limit for the AppConfig\n         configuration store. Delete one or more versions and try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.appconfig#StartDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#StartDeploymentRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Deployment"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#ConflictException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Starts a deployment.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applications/{ApplicationId}/environments/{EnvironmentId}/deployments",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfig#StartDeploymentRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "EnvironmentId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The environment ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeploymentStrategyId": {
          "target": "com.amazonaws.appconfig#DeploymentStrategyId",
          "traits": {
            "smithy.api#documentation": "<p>The deployment strategy ID.</p>",
            "smithy.api#required": {}
          }
        },
        "ConfigurationProfileId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The configuration profile ID.</p>",
            "smithy.api#required": {}
          }
        },
        "ConfigurationVersion": {
          "target": "com.amazonaws.appconfig#Version",
          "traits": {
            "smithy.api#documentation": "<p>The configuration version to deploy.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the deployment.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
[...]
