{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.appconfig#AmazonAppConfig": {
      "type": "service",
      "version": "2019-10-09",
      "operations": [
        {
          "target": "com.amazonaws.appconfig#CreateApplication"
        },
        {
          "target": "com.amazonaws.appconfig#CreateConfigurationProfile"
        },
        {
          "target": "com.amazonaws.appconfig#CreateDeploymentStrategy"
        },
        {
          "target": "com.amazonaws.appconfig#CreateEnvironment"
        },
        {
          "target": "com.amazonaws.appconfig#DeleteApplication"
        },
        {
          "target": "com.amazonaws.appconfig#DeleteConfigurationProfile"
        },
        {
          "target": "com.amazonaws.appconfig#DeleteDeploymentStrategy"
        },
        {
          "target": "com.amazonaws.appconfig#DeleteEnvironment"
        },
        {
          "target": "com.amazonaws.appconfig#GetApplication"
        },
        {
          "target": "com.amazonaws.appconfig#GetConfiguration"
        },
        {
          "target": "com.amazonaws.appconfig#GetConfigurationProfile"
        },
        {
          "target": "com.amazonaws.appconfig#GetDeployment"
        },
        {
          "target": "com.amazonaws.appconfig#GetDeploymentStrategy"
        },
        {
          "target": "com.amazonaws.appconfig#GetEnvironment"
        },
        {
          "target": "com.amazonaws.appconfig#ListApplications"
        },
        {
          "target": "com.amazonaws.appconfig#ListConfigurationProfiles"
        },
        {
          "target": "com.amazonaws.appconfig#ListDeployments"
        },
        {
          "target": "com.amazonaws.appconfig#ListDeploymentStrategies"
        },
        {
          "target": "com.amazonaws.appconfig#ListEnvironments"
        },
        {
          "target": "com.amazonaws.appconfig#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.appconfig#StartDeployment"
        },
        {
          "target": "com.amazonaws.appconfig#StopDeployment"
        },
        {
          "target": "com.amazonaws.appconfig#TagResource"
        },
        {
          "target": "com.amazonaws.appconfig#UntagResource"
        },
        {
          "target": "com.amazonaws.appconfig#UpdateApplication"
        },
        {
          "target": "com.amazonaws.appconfig#UpdateConfigurationProfile"
        },
        {
          "target": "com.amazonaws.appconfig#UpdateDeploymentStrategy"
        },
        {
          "target": "com.amazonaws.appconfig#UpdateEnvironment"
        },
        {
          "target": "com.amazonaws.appconfig#ValidateConfiguration"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "AppConfig",
          "arnNamespace": "appconfig",
          "cloudFormationName": "AppConfig",
          "cloudTrailEventSource": "blue.services.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "appconfig"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>AWS AppConfig</fullname>\n         <p>Use AWS AppConfig, a capability of AWS Systems Manager, to create, manage, and quickly deploy\n         application configurations. AppConfig supports controlled deployments to applications of any size\n         and includes built-in validation checks and monitoring. You can use AppConfig with applications\n         hosted on Amazon EC2 instances, AWS Lambda, containers, mobile applications, or IoT\n         devices.</p>\n\n         <p>To prevent errors when deploying application configurations, especially for production\n         systems where a simple typo could cause an unexpected outage, AppConfig includes validators. A\n         validator provides a syntactic or semantic check to ensure that the configuration you want\n         to deploy works as intended. To validate your application configuration data, you provide a\n         schema or a Lambda function that runs against the configuration. The configuration\n         deployment or update can only proceed when the configuration data is valid.</p>\n\n         <p>During a configuration deployment, AppConfig monitors the application to ensure that the\n         deployment is successful. If the system encounters an error, AppConfig rolls back the change to\n         minimize impact for your application users. You can configure a deployment strategy for\n         each application or environment that includes deployment criteria, including velocity, bake\n         time, and alarms to monitor. Similar to error monitoring, if a deployment triggers an alarm,\n         AppConfig automatically rolls back to the previous version. </p>\n\n         <p>AppConfig supports multiple use cases. Here are some examples.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Application tuning</b>: Use AppConfig to carefully\n               introduce changes to your application that can only be tested with production\n               traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Feature toggle</b>: Use AppConfig to turn on new features\n               that require a timely deployment, such as a product launch or announcement. </p>\n            </li>\n            <li>\n               <p>\n                  <b>User membership</b>: Use AppConfig to allow premium\n               subscribers to access paid content. </p>\n            </li>\n            <li>\n               <p>\n                  <b>Operational issues</b>: Use AppConfig to reduce stress on\n               your application when a dependency or other external factor impacts the\n               system.</p>\n            </li>\n         </ul>\n         <p>This reference is intended to be used with the <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/appconfig.html\">AWS AppConfig User Guide</a>.</p>",
        "smithy.api#title": "Amazon AppConfig"
      }
    },
    "com.amazonaws.appconfig#Application": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the application.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The application name.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ApplicationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#Application"
      }
    },
    "com.amazonaws.appconfig#Applications": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.appconfig#ApplicationList",
          "traits": {
            "smithy.api#documentation": "<p>The elements from this collection.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. Use this token to get the next set of\n         results.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "arn:(aws[a-zA-Z-]*)?:[a-z]+:([a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1})?:(\\d{12})?:[a-zA-Z0-9-_/:.]+"
      }
    },
    "com.amazonaws.appconfig#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appconfig#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.appconfig#Blob": {
      "type": "blob"
    },
    "com.amazonaws.appconfig#Configuration": {
      "type": "structure",
      "members": {
        "ConfigurationVersion": {
          "target": "com.amazonaws.appconfig#Version",
          "traits": {
            "smithy.api#documentation": "<p>The configuration version.</p>",
            "smithy.api#httpHeader": "Configuration-Version"
          }
        },
        "Content": {
          "target": "com.amazonaws.appconfig#Blob",
          "traits": {
            "smithy.api#documentation": "<p>The content of the configuration or the configuration data.</p>",
            "smithy.api#httpPayload": {}
          }
        },
        "ContentType": {
          "target": "com.amazonaws.appconfig#String",
          "traits": {
            "smithy.api#documentation": "<p>A standard MIME type describing the format of the configuration content. For more\n         information, see <a href=\"http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.17\">Content-Type</a>.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ConfigurationProfile": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>The configuration profile description.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The configuration profile ID.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.appconfig#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The URI location of the configuration.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration profile.</p>"
          }
        },
        "RetrievalRoleArn": {
          "target": "com.amazonaws.appconfig#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of an IAM role with permission to access the configuration at the specified\n         LocationUri.</p>"
          }
        },
        "Validators": {
          "target": "com.amazonaws.appconfig#ValidatorList",
          "traits": {
            "smithy.api#documentation": "<p>A list of methods for validating the configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ConfigurationProfileSummary": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the configuration profile.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.appconfig#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The URI location of the configuration.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration profile.</p>"
          }
        },
        "ValidatorTypes": {
          "target": "com.amazonaws.appconfig#ValidatorTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The types of validators in the configuration profile.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of a configuration profile.</p>"
      }
    },
    "com.amazonaws.appconfig#ConfigurationProfileSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#ConfigurationProfileSummary"
      }
    },
    "com.amazonaws.appconfig#ConfigurationProfiles": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.appconfig#ConfigurationProfileSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The elements from this collection.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. Use this token to get the next set of\n         results.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appconfig#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be processed because of conflict in the current state of the\n         resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.appconfig#CreateApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#CreateApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Application"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>An application in AppConfig is a logical unit of code that provides capabilities for your\n         customers. For example, an application can be a microservice that runs on Amazon EC2 instances,\n         a mobile application installed by your users, a serverless application using Amazon API\n         Gateway and AWS Lambda, or any system you run on behalf of others.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applications",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfig#CreateApplicationRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the application.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the application.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata to assign to the application. Tags help organize and categorize your AppConfig\n         resources. Each tag consists of a key and an optional value, both of which you\n         define.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#CreateConfigurationProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#CreateConfigurationProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#ConfigurationProfile"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Information that enables AppConfig to access the configuration source. Valid configuration\n         sources include Systems Manager (SSM) documents and SSM Parameter Store parameters. A configuration\n         profile includes the following information.</p>\n         <ul>\n            <li>\n               <p>The Uri location of the configuration data.</p>\n            </li>\n            <li>\n               <p>The AWS Identity and Access Management (IAM) role that provides access to the configuration data.</p>\n            </li>\n            <li>\n               <p>A validator for the configuration data. Available validators include either a JSON\n               Schema or an AWS Lambda function.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applications/{ApplicationId}/configurationprofiles",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfig#CreateConfigurationProfileRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the configuration profile.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.appconfig#Uri",
          "traits": {
            "smithy.api#documentation": "<p>A URI to locate the configuration. You can specify either a Systems Manager (SSM) document or an SSM Parameter Store parameter. For an SSM document, specify either the document name in the format <code>ssm-document://<Document name></code> or the Amazon Resource Name (ARN). For a parameter, specify either the parameter name in the format <code>ssm-parameter://<Parameter name></code> or the ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the configuration profile.</p>",
            "smithy.api#required": {}
          }
        },
        "RetrievalRoleArn": {
          "target": "com.amazonaws.appconfig#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of an IAM role with permission to access the configuration at the specified\n         LocationUri.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata to assign to the configuration profile. Tags help organize and categorize your\n         AppConfig resources. Each tag consists of a key and an optional value, both of which you\n         define.</p>"
          }
        },
        "Validators": {
          "target": "com.amazonaws.appconfig#ValidatorList",
          "traits": {
            "smithy.api#documentation": "<p>A list of methods for validating the configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#CreateDeploymentStrategy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#CreateDeploymentStrategyRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#DeploymentStrategy"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>A deployment strategy defines important criteria for rolling out your configuration to\n         the designated targets. A deployment strategy includes: the overall duration required, a\n         percentage of targets to receive the deployment during each interval, an algorithm that\n         defines how percentage grows, and bake time.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/deploymentstrategies",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfig#CreateDeploymentStrategyRequest": {
      "type": "structure",
      "members": {
        "DeploymentDurationInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>Total amount of time for a deployment to last.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the deployment strategy.</p>"
          }
        },
        "FinalBakeTimeInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time AppConfig monitors for alarms before considering the deployment to be\n         complete and no longer eligible for automatic roll back.</p>"
          }
        },
        "GrowthFactor": {
          "target": "com.amazonaws.appconfig#GrowthFactor",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The percentage of targets to receive a deployed configuration during each\n         interval.</p>",
            "smithy.api#required": {}
          }
        },
        "GrowthType": {
          "target": "com.amazonaws.appconfig#GrowthType",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm used to define how percentage grows over time.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the deployment strategy.</p>",
            "smithy.api#required": {}
          }
        },
        "ReplicateTo": {
          "target": "com.amazonaws.appconfig#ReplicateTo",
          "traits": {
            "smithy.api#documentation": "<p>Save the deployment strategy to a Systems Manager (SSM) document.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata to assign to the deployment strategy. Tags help organize and categorize your\n         AppConfig resources. Each tag consists of a key and an optional value, both of which you\n         define.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#CreateEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#CreateEnvironmentRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Environment"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>For each application, you define one or more environments. An environment is a logical\n         deployment group of AppConfig targets, such as applications in a <code>Beta</code> or\n            <code>Production</code> environment. You can also define environments for application\n         subcomponents such as the <code>Web</code>, <code>Mobile</code> and <code>Back-end</code>\n         components for your application. You can configure Amazon CloudWatch alarms for each environment.\n         The system monitors alarms during a configuration deployment. If an alarm is triggered, the\n         system rolls back the configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applications/{ApplicationId}/environments",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfig#CreateEnvironmentRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the environment.</p>"
          }
        },
        "Monitors": {
          "target": "com.amazonaws.appconfig#MonitorList",
          "traits": {
            "smithy.api#documentation": "<p>Amazon CloudWatch alarms to monitor during the deployment process.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the environment.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata to assign to the environment. Tags help organize and categorize your AppConfig\n         resources. Each tag consists of a key and an optional value, both of which you\n         define.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#DeleteApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#DeleteApplicationRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete an application. Deleting an application does not delete a configuration from a\n         host.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/applications/{ApplicationId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.appconfig#DeleteApplicationRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#DeleteConfigurationProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#DeleteConfigurationProfileRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#ConflictException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a configuration profile. Deleting a configuration profile does not delete a\n         configuration from a host.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/applications/{ApplicationId}/configurationprofiles/{ConfigurationProfileId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.appconfig#DeleteConfigurationProfileRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID that includes the configuration profile you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConfigurationProfileId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the configuration profile you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#DeleteDeploymentStrategy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#DeleteDeploymentStrategyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a deployment strategy. Deleting a deployment strategy does not delete a\n         configuration from a host.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/deployementstrategies/{DeploymentStrategyId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.appconfig#DeleteDeploymentStrategyRequest": {
      "type": "structure",
      "members": {
        "DeploymentStrategyId": {
          "target": "com.amazonaws.appconfig#DeploymentStrategyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the deployment strategy you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#DeleteEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#DeleteEnvironmentRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#ConflictException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete an environment. Deleting an environment does not delete a configuration from a\n         host.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/applications/{ApplicationId}/environments/{EnvironmentId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.appconfig#DeleteEnvironmentRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID that includes the environment you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "EnvironmentId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the environment you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#Deployment": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application that was deployed.</p>"
          }
        },
        "CompletedAt": {
          "target": "com.amazonaws.appconfig#Iso8601DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the deployment completed. </p>"
          }
        },
        "ConfigurationLocationUri": {
          "target": "com.amazonaws.appconfig#Uri",
          "traits": {
            "smithy.api#documentation": "<p>Information about the source location of the configuration.</p>"
          }
        },
        "ConfigurationName": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>"
          }
        },
        "ConfigurationProfileId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the configuration profile that was deployed.</p>"
          }
        },
        "ConfigurationVersion": {
          "target": "com.amazonaws.appconfig#Version",
          "traits": {
            "smithy.api#documentation": "<p>The configuration version that was deployed.</p>"
          }
        },
        "DeploymentDurationInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#documentation": "<p>Total amount of time the deployment lasted.</p>"
          }
        },
        "DeploymentNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The sequence number of the deployment.</p>"
          }
        },
        "DeploymentStrategyId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the deployment strategy that was deployed.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the deployment.</p>"
          }
        },
        "EnvironmentId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the environment that was deployed.</p>"
          }
        },
        "FinalBakeTimeInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time AppConfig monitored for alarms before considering the deployment to be\n         complete and no longer eligible for automatic roll back.</p>"
          }
        },
        "GrowthFactor": {
          "target": "com.amazonaws.appconfig#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of targets to receive a deployed configuration during each\n         interval.</p>"
          }
        },
        "GrowthType": {
          "target": "com.amazonaws.appconfig#GrowthType",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm used to define how percentage grew over time.</p>"
          }
        },
        "PercentageComplete": {
          "target": "com.amazonaws.appconfig#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of targets for which the deployment is available.</p>"
          }
        },
        "StartedAt": {
          "target": "com.amazonaws.appconfig#Iso8601DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the deployment started.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.appconfig#DeploymentState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the deployment.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#DeploymentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#DeploymentSummary"
      }
    },
    "com.amazonaws.appconfig#DeploymentState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BAKING",
            "name": "BAKING"
          },
          {
            "value": "VALIDATING",
            "name": "VALIDATING"
          },
          {
            "value": "DEPLOYING",
            "name": "DEPLOYING"
          },
          {
            "value": "COMPLETE",
            "name": "COMPLETE"
          },
          {
            "value": "ROLLING_BACK",
            "name": "ROLLING_BACK"
          },
          {
            "value": "ROLLED_BACK",
            "name": "ROLLED_BACK"
          }
        ]
      }
    },
    "com.amazonaws.appconfig#DeploymentStrategies": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.appconfig#DeploymentStrategyList",
          "traits": {
            "smithy.api#documentation": "<p>The elements from this collection.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. Use this token to get the next set of\n         results.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#DeploymentStrategy": {
      "type": "structure",
      "members": {
        "DeploymentDurationInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#documentation": "<p>Total amount of time the deployment lasted.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the deployment strategy.</p>"
          }
        },
        "FinalBakeTimeInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time AppConfig monitored for alarms before considering the deployment to be\n         complete and no longer eligible for automatic roll back.</p>"
          }
        },
        "GrowthFactor": {
          "target": "com.amazonaws.appconfig#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of targets that received a deployed configuration during each\n         interval.</p>"
          }
        },
        "GrowthType": {
          "target": "com.amazonaws.appconfig#GrowthType",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm used to define how percentage grew over time.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The deployment strategy ID.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the deployment strategy.</p>"
          }
        },
        "ReplicateTo": {
          "target": "com.amazonaws.appconfig#ReplicateTo",
          "traits": {
            "smithy.api#documentation": "<p>Save the deployment strategy to a Systems Manager (SSM) document.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#DeploymentStrategyId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "([a-z0-9]{4,7}|arn:aws.*)"
      }
    },
    "com.amazonaws.appconfig#DeploymentStrategyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#DeploymentStrategy"
      }
    },
    "com.amazonaws.appconfig#DeploymentSummary": {
      "type": "structure",
      "members": {
        "CompletedAt": {
          "target": "com.amazonaws.appconfig#Iso8601DateTime",
          "traits": {
            "smithy.api#documentation": "<p>Time the deployment completed.</p>"
          }
        },
        "ConfigurationName": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>"
          }
        },
        "ConfigurationVersion": {
          "target": "com.amazonaws.appconfig#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the configuration.</p>"
          }
        },
        "DeploymentDurationInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#documentation": "<p>Total amount of time the deployment lasted.</p>"
          }
        },
        "DeploymentNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The sequence number of the deployment.</p>"
          }
        },
        "FinalBakeTimeInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time AppConfig monitors for alarms before considering the deployment to be\n         complete and no longer eligible for automatic roll back.</p>"
          }
        },
        "GrowthFactor": {
          "target": "com.amazonaws.appconfig#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of targets to receive a deployed configuration during each\n         interval.</p>"
          }
        },
        "GrowthType": {
          "target": "com.amazonaws.appconfig#GrowthType",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm used to define how percentage grows over time.</p>"
          }
        },
        "PercentageComplete": {
          "target": "com.amazonaws.appconfig#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of targets for which the deployment is available.</p>"
          }
        },
        "StartedAt": {
          "target": "com.amazonaws.appconfig#Iso8601DateTime",
          "traits": {
            "smithy.api#documentation": "<p>Time the deployment started.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.appconfig#DeploymentState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the deployment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the deployment.</p>"
      }
    },
    "com.amazonaws.appconfig#Deployments": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.appconfig#DeploymentList",
          "traits": {
            "smithy.api#documentation": "<p>The elements from this collection.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. Use this token to get the next set of\n         results.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.appconfig#Environment": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the environment.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The environment ID.</p>"
          }
        },
        "Monitors": {
          "target": "com.amazonaws.appconfig#MonitorList",
          "traits": {
            "smithy.api#documentation": "<p>Amazon CloudWatch alarms monitored during the deployment.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.appconfig#EnvironmentState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the environment. An environment can be in one of the following states:\n            <code>READY_FOR_DEPLOYMENT</code>, <code>DEPLOYING</code>, <code>ROLLING_BACK</code>, or\n            <code>ROLLED_BACK</code>\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#EnvironmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#Environment"
      }
    },
    "com.amazonaws.appconfig#EnvironmentState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "READY_FOR_DEPLOYMENT",
            "name": "READY_FOR_DEPLOYMENT"
          },
          {
            "value": "DEPLOYING",
            "name": "DEPLOYING"
          },
          {
            "value": "ROLLING_BACK",
            "name": "ROLLING_BACK"
          },
          {
            "value": "ROLLED_BACK",
            "name": "ROLLED_BACK"
          }
        ]
      }
    },
    "com.amazonaws.appconfig#Environments": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.appconfig#EnvironmentList",
          "traits": {
            "smithy.api#documentation": "<p>The elements from this collection.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. Use this token to get the next set of\n         results.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#GetApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#GetApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Application"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve information about an application.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{ApplicationId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#GetApplicationRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application you want to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#GetConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#GetConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Configuration"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve information about a configuration.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{Application}/environments/{Environment}/configurations/{Configuration}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#GetConfigurationProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#GetConfigurationProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#ConfigurationProfile"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve information about a configuration profile.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{ApplicationId}/configurationprofiles/{ConfigurationProfileId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#GetConfigurationProfileRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application that includes the configuration profile you want to\n         get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConfigurationProfileId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the configuration profile you want to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#GetConfigurationRequest": {
      "type": "structure",
      "members": {
        "Application": {
          "target": "com.amazonaws.appconfig#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#documentation": "<p>The application to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ClientConfigurationVersion": {
          "target": "com.amazonaws.appconfig#Version",
          "traits": {
            "smithy.api#documentation": "<p>The configuration version returned in the most recent GetConfiguration response.</p>",
            "smithy.api#httpQuery": "client_configuration_version"
          }
        },
        "ClientId": {
          "target": "com.amazonaws.appconfig#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#documentation": "<p>A unique ID to identify the client for the configuration. This ID enables AppConfig to deploy\n         the configuration in intervals, as defined in the deployment strategy.</p>",
            "smithy.api#httpQuery": "client_id",
            "smithy.api#required": {}
          }
        },
        "Configuration": {
          "target": "com.amazonaws.appconfig#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#documentation": "<p>The configuration to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Environment": {
          "target": "com.amazonaws.appconfig#StringWithLengthBetween1And64",
          "traits": {
            "smithy.api#documentation": "<p>The environment to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#GetDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#GetDeploymentRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Deployment"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve information about a configuration deployment.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{ApplicationId}/environments/{EnvironmentId}/deployments/{DeploymentNumber}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#GetDeploymentRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application that includes the deployment you want to get. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeploymentNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The sequence number of the deployment.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "EnvironmentId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the environment that includes the deployment you want to get. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#GetDeploymentStrategy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#GetDeploymentStrategyRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#DeploymentStrategy"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve information about a deployment strategy. A deployment strategy defines\n         important criteria for rolling out your configuration to the designated targets. A\n         deployment strategy includes: the overall duration required, a percentage of targets to\n         receive the deployment during each interval, an algorithm that defines how percentage\n         grows, and bake time.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/deploymentstrategies/{DeploymentStrategyId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#GetDeploymentStrategyRequest": {
      "type": "structure",
      "members": {
        "DeploymentStrategyId": {
          "target": "com.amazonaws.appconfig#DeploymentStrategyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the deployment strategy to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#GetEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#GetEnvironmentRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Environment"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve information about an environment. An environment is a logical deployment group\n         of AppConfig applications, such as applications in a <code>Production</code> environment or in\n         an <code>EU_Region</code> environment. Each configuration deployment targets an\n         environment. You can enable one or more Amazon CloudWatch alarms for an environment. If an alarm is\n         triggered during a deployment, AppConfig roles back the configuration.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{ApplicationId}/environments/{EnvironmentId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#GetEnvironmentRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application that includes the environment you want to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "EnvironmentId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the environment you wnat to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#GrowthFactor": {
      "type": "float",
      "traits": {
        "smithy.api#range": {
          "min": 1.0,
          "max": 100.0
        }
      }
    },
    "com.amazonaws.appconfig#GrowthType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LINEAR",
            "name": "LINEAR"
          }
        ]
      }
    },
    "com.amazonaws.appconfig#Id": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-z0-9]{4,7}"
      }
    },
    "com.amazonaws.appconfig#Integer": {
      "type": "integer"
    },
    "com.amazonaws.appconfig#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appconfig#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was an internal failure in the AppConfig service.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.appconfig#Iso8601DateTime": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.appconfig#ListApplications": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#ListApplicationsRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Applications"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List all applications in your AWS account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.appconfig#ListApplicationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.appconfig#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of items to return for this call. The call also returns a token that\n         you can specify in a subsequent call to get the next set of results.</p>",
            "smithy.api#httpQuery": "max_results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to start the list. Use this token to get the next set of results.</p>",
            "smithy.api#httpQuery": "next_token"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ListConfigurationProfiles": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#ListConfigurationProfilesRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#ConfigurationProfiles"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the configuration profiles for an application.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{ApplicationId}/configurationprofiles",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.appconfig#ListConfigurationProfilesRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.appconfig#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of items to return for this call. The call also returns a token that\n         you can specify in a subsequent call to get the next set of results.</p>",
            "smithy.api#httpQuery": "max_results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to start the list. Use this token to get the next set of results.</p>",
            "smithy.api#httpQuery": "next_token"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ListDeploymentStrategies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#ListDeploymentStrategiesRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#DeploymentStrategies"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List deployment strategies.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/deploymentstrategies",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.appconfig#ListDeploymentStrategiesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.appconfig#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of items to return for this call. The call also returns a token that\n         you can specify in a subsequent call to get the next set of results.</p>",
            "smithy.api#httpQuery": "max_results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to start the list. Use this token to get the next set of results.</p>",
            "smithy.api#httpQuery": "next_token"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ListDeployments": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#ListDeploymentsRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Deployments"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the deployments for an environment.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{ApplicationId}/environments/{EnvironmentId}/deployments",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.appconfig#ListDeploymentsRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "EnvironmentId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The environment ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.appconfig#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of items to return for this call. The call also returns a token that\n         you can specify in a subsequent call to get the next set of results.</p>",
            "smithy.api#httpQuery": "max_results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to start the list. Use this token to get the next set of results.</p>",
            "smithy.api#httpQuery": "next_token"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ListEnvironments": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#ListEnvironmentsRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Environments"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List the environments for an application.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/applications/{ApplicationId}/environments",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.appconfig#ListEnvironmentsRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.appconfig#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of items to return for this call. The call also returns a token that\n         you can specify in a subsequent call to get the next set of results.</p>",
            "smithy.api#httpQuery": "max_results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to start the list. Use this token to get the next set of results.</p>",
            "smithy.api#httpQuery": "next_token"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#ResourceTags"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the list of key-value tags assigned to the resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.appconfig#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The resource ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.appconfig#MinutesBetween0And24Hours": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1440
        }
      }
    },
    "com.amazonaws.appconfig#Monitor": {
      "type": "structure",
      "members": {
        "AlarmArn": {
          "target": "com.amazonaws.appconfig#Arn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the Amazon CloudWatch alarm.</p>"
          }
        },
        "AlarmRoleArn": {
          "target": "com.amazonaws.appconfig#Arn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of an IAM role for AppConfig to monitor <code>AlarmArn</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon CloudWatch alarms to monitor during the deployment process.</p>"
      }
    },
    "com.amazonaws.appconfig#MonitorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#Monitor"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.appconfig#Name": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.appconfig#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.appconfig#Percentage": {
      "type": "float",
      "traits": {
        "smithy.api#range": {
          "min": 1.0,
          "max": 100.0
        }
      }
    },
    "com.amazonaws.appconfig#ReplicateTo": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "SSM_DOCUMENT",
            "name": "SSM_DOCUMENT"
          }
        ]
      }
    },
    "com.amazonaws.appconfig#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appconfig#String"
        },
        "ResourceName": {
          "target": "com.amazonaws.appconfig#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested resource could not be found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.appconfig#ResourceTags": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata to assign to AppConfig resources. Tags help organize and categorize your AppConfig\n         resources. Each tag consists of a key and an optional value, both of which you\n         define.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#StartDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#StartDeploymentRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Deployment"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#ConflictException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Starts a deployment.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applications/{ApplicationId}/environments/{EnvironmentId}/deployments",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfig#StartDeploymentRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConfigurationProfileId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The configuration profile ID.</p>",
            "smithy.api#required": {}
          }
        },
        "ConfigurationVersion": {
          "target": "com.amazonaws.appconfig#Version",
          "traits": {
            "smithy.api#documentation": "<p>The configuration version to deploy.</p>",
            "smithy.api#required": {}
          }
        },
        "DeploymentStrategyId": {
          "target": "com.amazonaws.appconfig#DeploymentStrategyId",
          "traits": {
            "smithy.api#documentation": "<p>The deployment strategy ID.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the deployment.</p>"
          }
        },
        "EnvironmentId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The environment ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata to assign to the deployment. Tags help organize and categorize your AppConfig\n         resources. Each tag consists of a key and an optional value, both of which you\n         define.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#StopDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#StopDeploymentRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Deployment"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Stops a deployment. This API action works only on deployments that have a status of\n            <code>DEPLOYING</code>. This action moves the deployment to a status of\n            <code>ROLLED_BACK</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/applications/{ApplicationId}/environments/{EnvironmentId}/deployments/{DeploymentNumber}",
          "code": 202
        }
      }
    },
    "com.amazonaws.appconfig#StopDeploymentRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeploymentNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The sequence number of the deployment.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "EnvironmentId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The environment ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#String": {
      "type": "string"
    },
    "com.amazonaws.appconfig#StringWithLengthBetween0And32768": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 32768
        }
      }
    },
    "com.amazonaws.appconfig#StringWithLengthBetween1And64": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.appconfig#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.appconfig#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.appconfig#TagMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.appconfig#TagKey"
      },
      "value": {
        "target": "com.amazonaws.appconfig#TagValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.appconfig#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#TagResourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Metadata to assign to an AppConfig resource. Tags help organize and categorize your AppConfig\n         resources. Each tag consists of a key and an optional value, both of which you define. You\n         can specify a maximum of 50 tags for a resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{ResourceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.appconfig#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.appconfig#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource for which to retrieve tags.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The key-value string map. The valid character set is [a-zA-Z+-=._:/]. The tag key can be\n         up to 128 characters and must not start with <code>aws:</code>. The tag value can be up to\n         256 characters.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.appconfig#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#UntagResourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a tag key and value from an AppConfig resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{ResourceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.appconfig#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.appconfig#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource for which to remove tags.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.appconfig#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The tag keys to delete.</p>",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#UpdateApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#UpdateApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Application"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates an application.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/applications/{ApplicationId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#UpdateApplicationRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the application.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#UpdateConfigurationProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#UpdateConfigurationProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#ConfigurationProfile"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates a configuration profile.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/applications/{ApplicationId}/configurationprofiles/{ConfigurationProfileId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#UpdateConfigurationProfileRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConfigurationProfileId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the configuration profile.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the configuration profile.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration profile.</p>"
          }
        },
        "RetrievalRoleArn": {
          "target": "com.amazonaws.appconfig#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of an IAM role with permission to access the configuration at the specified\n         LocationUri.</p>"
          }
        },
        "Validators": {
          "target": "com.amazonaws.appconfig#ValidatorList",
          "traits": {
            "smithy.api#documentation": "<p>A list of methods for validating the configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#UpdateDeploymentStrategy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#UpdateDeploymentStrategyRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#DeploymentStrategy"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates a deployment strategy.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/deploymentstrategies/{DeploymentStrategyId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#UpdateDeploymentStrategyRequest": {
      "type": "structure",
      "members": {
        "DeploymentDurationInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>Total amount of time for a deployment to last.</p>"
          }
        },
        "DeploymentStrategyId": {
          "target": "com.amazonaws.appconfig#DeploymentStrategyId",
          "traits": {
            "smithy.api#documentation": "<p>The deployment strategy ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the deployment strategy.</p>"
          }
        },
        "FinalBakeTimeInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The amount of time AppConfig monitors for alarms before considering the deployment to be\n         complete and no longer eligible for automatic roll back.</p>"
          }
        },
        "GrowthFactor": {
          "target": "com.amazonaws.appconfig#GrowthFactor",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The percentage of targets to receive a deployed configuration during each\n         interval.</p>"
          }
        },
        "GrowthType": {
          "target": "com.amazonaws.appconfig#GrowthType",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm used to define how percentage grows over time.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#UpdateEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#UpdateEnvironmentRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Environment"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates an environment.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/applications/{ApplicationId}/environments/{EnvironmentId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appconfig#UpdateEnvironmentRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the environment.</p>"
          }
        },
        "EnvironmentId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The environment ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Monitors": {
          "target": "com.amazonaws.appconfig#MonitorList",
          "traits": {
            "smithy.api#documentation": "<p>Amazon CloudWatch alarms to monitor during the deployment process.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#Uri": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.appconfig#ValidateConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#ValidateConfigurationRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Uses the validators in a configuration profile to validate a configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applications/{ApplicationId}/configurationprofiles/{ConfigurationProfileId}/validators",
          "code": 204
        }
      }
    },
    "com.amazonaws.appconfig#ValidateConfigurationRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConfigurationProfileId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The configuration profile ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConfigurationVersion": {
          "target": "com.amazonaws.appconfig#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the configuration to validate.</p>",
            "smithy.api#httpQuery": "configuration_version",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appconfig#Validator": {
      "type": "structure",
      "members": {
        "Content": {
          "target": "com.amazonaws.appconfig#StringWithLengthBetween0And32768",
          "traits": {
            "smithy.api#documentation": "<p>Either the JSON Schema content or an AWS Lambda function name.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.appconfig#ValidatorType",
          "traits": {
            "smithy.api#documentation": "<p>AppConfig supports validators of type <code>JSON_SCHEMA</code> and <code>LAMBDA</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A validator provides a syntactic or semantic check to ensure the configuration you want\n         to deploy functions as intended. To validate your application configuration data, you\n         provide a schema or a Lambda function that runs against the configuration. The\n         configuration deployment or update can only proceed when the configuration data is\n         valid.</p>"
      }
    },
    "com.amazonaws.appconfig#ValidatorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#Validator"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2
        }
      }
    },
    "com.amazonaws.appconfig#ValidatorType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "JSON_SCHEMA",
            "name": "JSON_SCHEMA"
          },
          {
            "value": "LAMBDA",
            "name": "LAMBDA"
          }
        ]
      }
    },
    "com.amazonaws.appconfig#ValidatorTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#ValidatorType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2
        }
      }
    },
    "com.amazonaws.appconfig#Version": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    }
  }
}
