{
  "smithy": "1.0",
  "shapes": {
    "com.amazonaws.appconfigdata#AppConfigData": {
      "type": "service",
      "traits": {
        "aws.api#dataPlane": {},
        "aws.api#service": {
          "sdkId": "AppConfigData",
          "arnNamespace": "appconfigdata",
          "cloudFormationName": "AppConfigData",
          "cloudTrailEventSource": "appconfigdata.amazonaws.com",
          "endpointPrefix": "appconfigdata"
        },
        "aws.auth#sigv4": {
          "name": "appconfig"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Use the AppConfigData API, a capability of AWS AppConfig, to retrieve deployed configuration.</p>",
        "smithy.api#title": "AWS AppConfig Data"
      },
      "version": "2021-11-11",
      "operations": [
        {
          "target": "com.amazonaws.appconfigdata#GetLatestConfiguration"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.appconfigdata#ConfigurationSession"
        }
      ]
    },
    "com.amazonaws.appconfigdata#BadRequestDetails": {
      "type": "union",
      "members": {
        "InvalidParameters": {
          "target": "com.amazonaws.appconfigdata#InvalidParameterMap",
          "traits": {
            "smithy.api#documentation": "<p>Present if the Reason for the bad request was 'InvalidParameters'</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details describing why the request was invalid</p>"
      }
    },
    "com.amazonaws.appconfigdata#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appconfigdata#String"
        },
        "Reason": {
          "target": "com.amazonaws.appconfigdata#BadRequestReason",
          "traits": {
            "smithy.api#documentation": "<p>Code indicating the reason the request was invalid.</p>"
          }
        },
        "Details": {
          "target": "com.amazonaws.appconfigdata#BadRequestDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details describing why the request was invalid</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input fails to satisfy the constraints specified by the service.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.appconfigdata#BadRequestReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "InvalidParameters",
            "name": "INVALID_PARAMETERS",
            "documentation": "Indicates there was a problem with one or more of the parameters.\nSee InvalidParameters in the BadRequestDetails for more information."
          }
        ]
      }
    },
    "com.amazonaws.appconfigdata#Blob": {
      "type": "blob"
    },
    "com.amazonaws.appconfigdata#ConfigurationSession": {
      "type": "resource",
      "identifiers": {
        "SessionId": {
          "target": "com.amazonaws.appconfigdata#Id"
        }
      },
      "create": {
        "target": "com.amazonaws.appconfigdata#StartConfigurationSession"
      }
    },
    "com.amazonaws.appconfigdata#GetLatestConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfigdata#GetLatestConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfigdata#GetLatestConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfigdata#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfigdata#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfigdata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appconfigdata#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the latest deployed configuration. This API may return empty Configuration data if the client already has the latest version. See StartConfigurationSession to obtain an InitialConfigurationToken to call this API.</p>\n        <important>\n            <p>Each call to GetLatestConfiguration returns a new ConfigurationToken (NextPollConfigurationToken\n                in the response). This new token MUST be provided to the next call to GetLatestConfiguration when\n                polling for configuration updates.</p>\n            <p>To avoid excess charges, we recommend that you include the\n                <code>ClientConfigurationVersion</code> value with every call to\n                <code>GetConfiguration</code>. This value must be saved on your client. Subsequent\n                calls to <code>GetConfiguration</code> must pass this value by using the\n                <code>ClientConfigurationVersion</code> parameter. </p>\n        </important>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/configuration",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.appconfigdata#GetLatestConfigurationRequest": {
      "type": "structure",
      "members": {
        "ConfigurationToken": {
          "target": "com.amazonaws.appconfigdata#Token",
          "traits": {
            "smithy.api#documentation": "<p>Token describing the current state of the configuration session. To obtain a token, first call the StartConfigurationSession API. Note that every call to GetLatestConfiguration will return a new ConfigurationToken (NextPollConfigurationToken in the response) and MUST be provided to subsequent GetLatestConfiguration API calls.</p>",
            "smithy.api#httpQuery": "configuration_token",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request parameters for the GetLatestConfiguration API</p>"
      }
    },
    "com.amazonaws.appconfigdata#GetLatestConfigurationResponse": {
      "type": "structure",
      "members": {
        "NextPollConfigurationToken": {
          "target": "com.amazonaws.appconfigdata#Token",
          "traits": {
            "smithy.api#documentation": "<p>The latest token describing the current state of the configuration session. This MUST be provided to the next call to GetLatestConfiguration.</p>",
            "smithy.api#httpHeader": "Next-Poll-Configuration-Token"
          }
        },
        "NextPollIntervalInSeconds": {
          "target": "com.amazonaws.appconfigdata#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time the client should wait before polling for configuration updates again. See RequiredMinimumPollIntervalInSeconds to set the desired poll interval.</p>",
            "smithy.api#httpHeader": "Next-Poll-Interval-In-Seconds"
          }
        },
        "ContentType": {
          "target": "com.amazonaws.appconfigdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A standard MIME type describing the format of the configuration content.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        },
        "Configuration": {
          "target": "com.amazonaws.appconfigdata#Blob",
          "traits": {
            "smithy.api#documentation": "<p>The data of the configuration. Note that this may be empty if the client already has the latest version of configuration.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#sensitive": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Response parameters for the GetLatestConfiguration API</p>"
      }
    },
    "com.amazonaws.appconfigdata#Id": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-z0-9]{7}$"
      }
    },
    "com.amazonaws.appconfigdata#Identifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.appconfigdata#Integer": {
      "type": "integer"
    },
    "com.amazonaws.appconfigdata#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appconfigdata#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was an internal failure in the service.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.appconfigdata#InvalidParameterDetail": {
      "type": "structure",
      "members": {
        "Problem": {
          "target": "com.amazonaws.appconfigdata#InvalidParameterProblem",
          "traits": {
            "smithy.api#documentation": "<p>Detail describing why an individual parameter did not satisfy the constraints specified by the service</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about an invalid parameter.</p>"
      }
    },
    "com.amazonaws.appconfigdata#InvalidParameterMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.appconfigdata#String"
      },
      "value": {
        "target": "com.amazonaws.appconfigdata#InvalidParameterDetail"
      }
    },
    "com.amazonaws.appconfigdata#InvalidParameterProblem": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Corrupted",
            "name": "CORRUPTED",
            "documentation": "The parameter was corrupted and could not be understood by the service."
          },
          {
            "value": "Expired",
            "name": "EXPIRED",
            "documentation": "The parameter was expired and can no longer be used."
          },
          {
            "value": "PollIntervalNotSatisfied",
            "name": "POLL_INTERVAL_NOT_SATISFIED",
            "documentation": "The client called the service before the time specified in the poll interval."
          }
        ]
      }
    },
    "com.amazonaws.appconfigdata#OptionalPollSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 15,
          "max": 86400
        }
      }
    },
    "com.amazonaws.appconfigdata#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appconfigdata#String"
        },
        "ResourceType": {
          "target": "com.amazonaws.appconfigdata#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource that was not found.</p>"
          }
        },
        "ReferencedBy": {
          "target": "com.amazonaws.appconfigdata#StringMap",
          "traits": {
            "smithy.api#documentation": "<p>A map indicating which parameters in the request reference the resource that was not found.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested resource could not be found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.appconfigdata#ResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Application",
            "name": "APPLICATION",
            "documentation": "Resource type value for the Application resource."
          },
          {
            "value": "ConfigurationProfile",
            "name": "CONFIGURATION_PROFILE",
            "documentation": "Resource type value for the ConfigurationProfile resource."
          },
          {
            "value": "Deployment",
            "name": "DEPLOYMENT",
            "documentation": "Resource type value for the Deployment resource."
          },
          {
            "value": "Environment",
            "name": "ENVIRONMENT",
            "documentation": "Resource type value for the Environment resource."
          },
          {
            "value": "Configuration",
            "name": "CONFIGURATION",
            "documentation": "Resource type value for the Configuration resource."
          }
        ]
      }
    },
    "com.amazonaws.appconfigdata#StartConfigurationSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfigdata#StartConfigurationSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfigdata#StartConfigurationSessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfigdata#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfigdata#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfigdata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appconfigdata#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Starts a configuration session used to retrieve a deployed configuration. See the GetLatestConfiguration API for more details.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/configurationsessions",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfigdata#StartConfigurationSessionRequest": {
      "type": "structure",
      "members": {
        "ApplicationIdentifier": {
          "target": "com.amazonaws.appconfigdata#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The application ID or the application name.</p>",
            "smithy.api#required": {}
          }
        },
        "EnvironmentIdentifier": {
          "target": "com.amazonaws.appconfigdata#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The environment ID or the environment name.</p>",
            "smithy.api#required": {}
          }
        },
        "ConfigurationProfileIdentifier": {
          "target": "com.amazonaws.appconfigdata#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The configuration profile ID or the configuration profile name.</p>",
            "smithy.api#required": {}
          }
        },
        "RequiredMinimumPollIntervalInSeconds": {
          "target": "com.amazonaws.appconfigdata#OptionalPollSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The interval at which your client will poll for configuration. If provided, the service\n        will throw a BadRequestException if the client polls before the specified poll interval. By default,\n        client poll intervals are not enforced.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request parameters for the StartConfigurationSession API.</p>"
      }
    },
    "com.amazonaws.appconfigdata#StartConfigurationSessionResponse": {
      "type": "structure",
      "members": {
        "InitialConfigurationToken": {
          "target": "com.amazonaws.appconfigdata#Token",
          "traits": {
            "smithy.api#documentation": "<p>Token encapsulating state about the configuration session. Provide this token to the GetLatestConfiguration API to retrieve configuration data.</p>\n        <important>\n            <p>This token should only be used once in your first call to GetLatestConfiguration. You MUST use the\n                new token in the GetConfiguration response (NextPollConfigurationToken) in each subsequent call to\n                GetLatestConfiguration.</p>\n        </important>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Response parameters for the StartConfigurationSession API.</p>"
      }
    },
    "com.amazonaws.appconfigdata#String": {
      "type": "string"
    },
    "com.amazonaws.appconfigdata#StringMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.appconfigdata#String"
      },
      "value": {
        "target": "com.amazonaws.appconfigdata#String"
      }
    },
    "com.amazonaws.appconfigdata#ThrottlingException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appconfigdata#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied due to request throttling.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.appconfigdata#Token": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\S{1,8192}$"
      }
    }
  }
}
