{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.appconfig#Action": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The action name.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>Information about the action.</p>"
          }
        },
        "Uri": {
          "target": "com.amazonaws.appconfig#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The extension URI associated to the action point in the extension definition. The URI\n         can be an Amazon Resource Name (ARN) for one of the following: an Lambda\n         function, an Amazon Simple Queue Service queue, an Amazon Simple Notification Service topic, or the Amazon EventBridge default event bus.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.appconfig#Arn",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) for an Identity and Access Management assume role.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An action defines the tasks that the extension performs during the AppConfig\n         workflow. Each action includes an action point such as\n            <code>ON_CREATE_HOSTED_CONFIGURATION</code>, <code>PRE_DEPLOYMENT</code>, or\n            <code>ON_DEPLOYMENT</code>. Each action also includes a name, a URI to an Lambda function, and an Amazon Resource Name (ARN) for an Identity and Access Management\n         assume role. You specify the name, URI, and ARN for each <i>action point</i>\n         defined in the extension. You can specify the following actions for an extension:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PRE_CREATE_HOSTED_CONFIGURATION_VERSION</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>PRE_START_DEPLOYMENT</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ON_DEPLOYMENT_START</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ON_DEPLOYMENT_STEP</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ON_DEPLOYMENT_BAKING</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ON_DEPLOYMENT_COMPLETE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ON_DEPLOYMENT_ROLLED_BACK</code>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.appconfig#ActionInvocation": {
      "type": "structure",
      "members": {
        "ExtensionIdentifier": {
          "target": "com.amazonaws.appconfig#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name, the ID, or the Amazon Resource Name (ARN) of the extension.</p>"
          }
        },
        "ActionName": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action.</p>"
          }
        },
        "Uri": {
          "target": "com.amazonaws.appconfig#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The extension URI associated to the action point in the extension definition. The URI\n         can be an Amazon Resource Name (ARN) for one of the following: an Lambda\n         function, an Amazon Simple Queue Service queue, an Amazon Simple Notification Service topic, or the Amazon EventBridge default event bus.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.appconfig#Arn",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) for an Identity and Access Management assume role.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.appconfig#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message when an extension invocation fails.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.appconfig#String",
          "traits": {
            "smithy.api#documentation": "<p>The error code when an extension invocation fails.</p>"
          }
        },
        "InvocationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>A system-generated ID for this invocation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An extension that was invoked as part of a deployment event.</p>"
      }
    },
    "com.amazonaws.appconfig#ActionInvocations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#ActionInvocation"
      }
    },
    "com.amazonaws.appconfig#ActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#Action"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.appconfig#ActionPoint": {
      "type": "enum",
      "members": {
        "PRE_CREATE_HOSTED_CONFIGURATION_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRE_CREATE_HOSTED_CONFIGURATION_VERSION"
          }
        },
        "PRE_START_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRE_START_DEPLOYMENT"
          }
        },
        "ON_DEPLOYMENT_START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEPLOYMENT_START"
          }
        },
        "ON_DEPLOYMENT_STEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEPLOYMENT_STEP"
          }
        },
        "ON_DEPLOYMENT_BAKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEPLOYMENT_BAKING"
          }
        },
        "ON_DEPLOYMENT_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEPLOYMENT_COMPLETE"
          }
        },
        "ON_DEPLOYMENT_ROLLED_BACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEPLOYMENT_ROLLED_BACK"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ActionsMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.appconfig#ActionPoint"
      },
      "value": {
        "target": "com.amazonaws.appconfig#ActionList"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.appconfig#AmazonAppConfig": {
      "type": "service",
      "version": "2019-10-09",
      "operations": [
        {
          "target": "com.amazonaws.appconfig#CreateApplication"
        },
        {
          "target": "com.amazonaws.appconfig#CreateConfigurationProfile"
        },
        {
          "target": "com.amazonaws.appconfig#CreateDeploymentStrategy"
        },
        {
          "target": "com.amazonaws.appconfig#CreateEnvironment"
        },
        {
          "target": "com.amazonaws.appconfig#CreateExtension"
        },
        {
          "target": "com.amazonaws.appconfig#CreateExtensionAssociation"
        },
        {
          "target": "com.amazonaws.appconfig#CreateHostedConfigurationVersion"
        },
        {
          "target": "com.amazonaws.appconfig#DeleteApplication"
        },
        {
          "target": "com.amazonaws.appconfig#DeleteConfigurationProfile"
        },
        {
          "target": "com.amazonaws.appconfig#DeleteDeploymentStrategy"
        },
        {
          "target": "com.amazonaws.appconfig#DeleteEnvironment"
        },
        {
          "target": "com.amazonaws.appconfig#DeleteExtension"
        },
        {
          "target": "com.amazonaws.appconfig#DeleteExtensionAssociation"
        },
        {
          "target": "com.amazonaws.appconfig#DeleteHostedConfigurationVersion"
        },
        {
          "target": "com.amazonaws.appconfig#GetApplication"
        },
        {
          "target": "com.amazonaws.appconfig#GetConfiguration"
        },
        {
          "target": "com.amazonaws.appconfig#GetConfigurationProfile"
        },
        {
          "target": "com.amazonaws.appconfig#GetDeployment"
        },
        {
          "target": "com.amazonaws.appconfig#GetDeploymentStrategy"
        },
        {
          "target": "com.amazonaws.appconfig#GetEnvironment"
        },
        {
          "target": "com.amazonaws.appconfig#GetExtension"
        },
        {
          "target": "com.amazonaws.appconfig#GetExtensionAssociation"
        },
        {
          "target": "com.amazonaws.appconfig#GetHostedConfigurationVersion"
        },
        {
          "target": "com.amazonaws.appconfig#ListApplications"
        },
        {
          "target": "com.amazonaws.appconfig#ListConfigurationProfiles"
        },
        {
          "target": "com.amazonaws.appconfig#ListDeployments"
        },
        {
          "target": "com.amazonaws.appconfig#ListDeploymentStrategies"
        },
        {
          "target": "com.amazonaws.appconfig#ListEnvironments"
        },
        {
          "target": "com.amazonaws.appconfig#ListExtensionAssociations"
        },
        {
          "target": "com.amazonaws.appconfig#ListExtensions"
        },
        {
          "target": "com.amazonaws.appconfig#ListHostedConfigurationVersions"
        },
        {
          "target": "com.amazonaws.appconfig#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.appconfig#StartDeployment"
        },
        {
          "target": "com.amazonaws.appconfig#StopDeployment"
        },
        {
          "target": "com.amazonaws.appconfig#TagResource"
        },
        {
          "target": "com.amazonaws.appconfig#UntagResource"
        },
        {
          "target": "com.amazonaws.appconfig#UpdateApplication"
        },
        {
          "target": "com.amazonaws.appconfig#UpdateConfigurationProfile"
        },
        {
          "target": "com.amazonaws.appconfig#UpdateDeploymentStrategy"
        },
        {
          "target": "com.amazonaws.appconfig#UpdateEnvironment"
        },
        {
          "target": "com.amazonaws.appconfig#UpdateExtension"
        },
        {
          "target": "com.amazonaws.appconfig#UpdateExtensionAssociation"
        },
        {
          "target": "com.amazonaws.appconfig#ValidateConfiguration"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "AppConfig",
          "arnNamespace": "appconfig",
          "cloudFormationName": "AppConfig",
          "cloudTrailEventSource": "appconfig.amazonaws.com",
          "endpointPrefix": "appconfig"
        },
        "aws.auth#sigv4": {
          "name": "appconfig"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Use AppConfig, a capability of Amazon Web Services Systems Manager, to create, manage, and quickly\n         deploy application configurations. AppConfig supports controlled deployments to\n         applications of any size and includes built-in validation checks and monitoring. You can\n         use AppConfig with applications hosted on Amazon EC2 instances, Lambda, containers,\n         mobile applications, or IoT devices.</p>\n         <p>To prevent errors when deploying application configurations, especially for production\n         systems where a simple typo could cause an unexpected outage, AppConfig includes\n         validators. A validator provides a syntactic or semantic check to ensure that the\n         configuration you want to deploy works as intended. To validate your application\n         configuration data, you provide a schema or an Amazon Web Services Lambda function that runs against\n         the configuration. The configuration deployment or update can only proceed when the\n         configuration data is valid.</p>\n         <p>During a configuration deployment, AppConfig monitors the application to\n         ensure that the deployment is successful. If the system encounters an error, AppConfig rolls back the change to minimize impact for your application users. You can\n         configure a deployment strategy for each application or environment that includes\n         deployment criteria, including velocity, bake time, and alarms to monitor. Similar to error\n         monitoring, if a deployment triggers an alarm, AppConfig automatically rolls back\n         to the previous version. </p>\n         <p>AppConfig supports multiple use cases. Here are some examples:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Feature flags</b>: Use AppConfig to turn on\n               new features that require a timely deployment, such as a product launch or\n               announcement. </p>\n            </li>\n            <li>\n               <p>\n                  <b>Application tuning</b>: Use AppConfig to\n               carefully introduce changes to your application that can only be tested with\n               production traffic.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Allow list</b>: Use AppConfig to allow\n               premium subscribers to access paid content. </p>\n            </li>\n            <li>\n               <p>\n                  <b>Operational issues</b>: Use AppConfig to\n               reduce stress on your application when a dependency or other external factor impacts\n               the system.</p>\n            </li>\n         </ul>\n         <p>This reference is intended to be used with the <a href=\"http://docs.aws.amazon.com/appconfig/latest/userguide/what-is-appconfig.html\">AppConfig User\n         Guide</a>.</p>",
        "smithy.api#title": "Amazon AppConfig",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://appconfig-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "us-gov-east-1"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://appconfig.us-gov-east-1.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "us-gov-west-1"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://appconfig.us-gov-west-1.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://appconfig-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://appconfig.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://appconfig.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appconfig-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.appconfig#Application": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>The application name.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the application.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ApplicationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#Application"
      }
    },
    "com.amazonaws.appconfig#Applications": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.appconfig#ApplicationList",
          "traits": {
            "smithy.api#documentation": "<p>The elements from this collection.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. Use this token to get the next set of\n         results.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#AppliedExtension": {
      "type": "structure",
      "members": {
        "ExtensionId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated ID of the extension.</p>"
          }
        },
        "ExtensionAssociationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated ID for the association.</p>"
          }
        },
        "VersionNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The extension version number.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.appconfig#ParameterValueMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more parameters for the actions called by the extension.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An extension that was invoked during a deployment.</p>"
      }
    },
    "com.amazonaws.appconfig#AppliedExtensions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#AppliedExtension"
      }
    },
    "com.amazonaws.appconfig#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z-]*)?:[a-z]+:([a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1})?:(\\d{12})?:[a-zA-Z0-9-_/:.]+$"
      }
    },
    "com.amazonaws.appconfig#BadRequestDetails": {
      "type": "union",
      "members": {
        "InvalidConfiguration": {
          "target": "com.amazonaws.appconfig#InvalidConfigurationDetailList",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about the bad request exception error when creating a hosted\n         configuration version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed information about the input that failed to satisfy the constraints specified by\n         a call.</p>"
      }
    },
    "com.amazonaws.appconfig#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appconfig#String"
        },
        "Reason": {
          "target": "com.amazonaws.appconfig#BadRequestReason"
        },
        "Details": {
          "target": "com.amazonaws.appconfig#BadRequestDetails"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.appconfig#BadRequestReason": {
      "type": "enum",
      "members": {
        "INVALID_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InvalidConfiguration"
          }
        }
      }
    },
    "com.amazonaws.appconfig#Blob": {
      "type": "blob",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appconfig#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.appconfig#BytesMeasure": {
      "type": "enum",
      "members": {
        "KILOBYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KILOBYTES"
          }
        }
      }
    },
    "com.amazonaws.appconfig#Configuration": {
      "type": "structure",
      "members": {
        "Content": {
          "target": "com.amazonaws.appconfig#Blob",
          "traits": {
            "smithy.api#documentation": "<p>The content of the configuration or the configuration data.</p>\n         <important>\n            <p>The <code>Content</code> attribute only contains data if the system finds new or\n            updated configuration data. If there is no new or updated data and\n               <code>ClientConfigurationVersion</code> matches the version of the current\n            configuration, AppConfig returns a <code>204 No Content</code> HTTP response\n            code and the <code>Content</code> value will be empty.</p>\n         </important>",
            "smithy.api#httpPayload": {}
          }
        },
        "ConfigurationVersion": {
          "target": "com.amazonaws.appconfig#Version",
          "traits": {
            "smithy.api#documentation": "<p>The configuration version.</p>",
            "smithy.api#httpHeader": "Configuration-Version"
          }
        },
        "ContentType": {
          "target": "com.amazonaws.appconfig#String",
          "traits": {
            "smithy.api#documentation": "<p>A standard MIME type describing the format of the configuration content. For more\n         information, see <a href=\"http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.17\">Content-Type</a>.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ConfigurationProfile": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The configuration profile ID.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#LongName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration profile.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>The configuration profile description.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.appconfig#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The URI location of the configuration.</p>"
          }
        },
        "RetrievalRoleArn": {
          "target": "com.amazonaws.appconfig#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of an IAM role with permission to access the configuration at the specified\n            <code>LocationUri</code>.</p>"
          }
        },
        "Validators": {
          "target": "com.amazonaws.appconfig#ValidatorList",
          "traits": {
            "smithy.api#documentation": "<p>A list of methods for validating the configuration.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.appconfig#ConfigurationProfileType",
          "traits": {
            "smithy.api#documentation": "<p>The type of configurations contained in the profile. AppConfig supports\n            <code>feature flags</code> and <code>freeform</code> configurations. We recommend you\n         create feature flag configurations to enable or disable new features and freeform\n         configurations to distribute configurations to an application. When calling this API, enter\n         one of the following values for <code>Type</code>:</p>\n         <p>\n            <code>AWS.AppConfig.FeatureFlags</code>\n         </p>\n         <p>\n            <code>AWS.Freeform</code>\n         </p>"
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.appconfig#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the Key Management Service key to encrypt new configuration data\n         versions in the AppConfig hosted configuration store. This\n         attribute is only used for <code>hosted</code> configuration types. To encrypt data managed\n         in other configuration stores, see the documentation for how to specify an KMS key for that particular service.</p>"
          }
        },
        "KmsKeyIdentifier": {
          "target": "com.amazonaws.appconfig#KmsKeyIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The Key Management Service key identifier (key ID, key alias, or key ARN) provided when the resource was created or updated.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ConfigurationProfileSummary": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the configuration profile.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#LongName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration profile.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.appconfig#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The URI location of the configuration.</p>"
          }
        },
        "ValidatorTypes": {
          "target": "com.amazonaws.appconfig#ValidatorTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The types of validators in the configuration profile.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.appconfig#ConfigurationProfileType",
          "traits": {
            "smithy.api#documentation": "<p>The type of configurations contained in the profile. AppConfig supports\n            <code>feature flags</code> and <code>freeform</code> configurations. We recommend you\n         create feature flag configurations to enable or disable new features and freeform\n         configurations to distribute configurations to an application. When calling this API, enter\n         one of the following values for <code>Type</code>:</p>\n         <p>\n            <code>AWS.AppConfig.FeatureFlags</code>\n         </p>\n         <p>\n            <code>AWS.Freeform</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of a configuration profile.</p>"
      }
    },
    "com.amazonaws.appconfig#ConfigurationProfileSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appconfig#ConfigurationProfileSummary"
      }
    },
    "com.amazonaws.appconfig#ConfigurationProfileType": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z\\.]+$"
      }
    },
    "com.amazonaws.appconfig#ConfigurationProfiles": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.appconfig#ConfigurationProfileSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The elements from this collection.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appconfig#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. Use this token to get the next set of\n         results.</p>"
          }
        }
      }
    },
    "com.amazonaws.appconfig#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appconfig#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be processed because of conflict in the current state of the\n         resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.appconfig#CreateApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#CreateApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Application"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an application. In AppConfig, an application is simply an\n         organizational construct like a folder. This organizational construct has a relationship\n         with some unit of executable code. For example, you could create an application called\n         MyMobileApp to organize and manage configuration data for a mobile application installed by\n         your users.</p>",
        "smithy.api#examples": [
          {
            "title": "To create an application",
            "documentation": "The following create-application example creates an application in AWS AppConfig.",
            "input": {
              "Name": "example-application",
              "Description": "An application used for creating an example."
            },
            "output": {
              "Id": "339ohji",
              "Name": "example-application",
              "Description": "An application used for creating an example."
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applications",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfig#CreateApplicationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the application.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the application.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata to assign to the application. Tags help organize and categorize your AppConfig resources. Each tag consists of a key and an optional value, both of which\n         you define.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appconfig#CreateConfigurationProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#CreateConfigurationProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#ConfigurationProfile"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appconfig#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a configuration profile, which is information that enables AppConfig\n         to access the configuration source. Valid configuration sources include the\n         following:</p>\n         <ul>\n            <li>\n               <p>Configuration data in YAML, JSON, and other formats stored in the AppConfig hosted configuration store</p>\n            </li>\n            <li>\n               <p>Configuration data stored as objects in an Amazon Simple Storage Service (Amazon S3)\n               bucket</p>\n            </li>\n            <li>\n               <p>Pipelines stored in CodePipeline</p>\n            </li>\n            <li>\n               <p>Secrets stored in Secrets Manager</p>\n            </li>\n            <li>\n               <p>Standard and secure string parameters stored in Amazon Web Services Systems Manager Parameter Store</p>\n            </li>\n            <li>\n               <p>Configuration data in SSM documents stored in the Systems Manager document store</p>\n            </li>\n         </ul>\n         <p>A configuration profile includes the following information:</p>\n         <ul>\n            <li>\n               <p>The URI location of the configuration data.</p>\n            </li>\n            <li>\n               <p>The Identity and Access Management (IAM) role that provides access to the configuration data.</p>\n            </li>\n            <li>\n               <p>A validator for the configuration data. Available validators include either a JSON\n               Schema or an Amazon Web Services Lambda function.</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"http://docs.aws.amazon.com/appconfig/latest/userguide/appconfig-creating-configuration-and-profile.html\">Create a\n            Configuration and a Configuration Profile</a> in the <i>AppConfig\n            User Guide</i>.</p>",
        "smithy.api#examples": [
          {
            "title": "To create a configuration profile",
            "documentation": "The following create-configuration-profile example creates a configuration profile using a configuration stored in Parameter Store, a capability of Systems Manager.",
            "input": {
              "ApplicationId": "339ohji",
              "Name": "Example-Configuration-Profile",
              "LocationUri": "ssm-parameter://Example-Parameter",
              "RetrievalRoleArn": "arn:aws:iam::111122223333:role/Example-App-Config-Role"
            },
            "output": {
              "ApplicationId": "339ohji",
              "Id": "ur8hx2f",
              "Name": "Example-Configuration-Profile",
              "LocationUri": "ssm-parameter://Example-Parameter",
              "RetrievalRoleArn": "arn:aws:iam::111122223333:role/Example-App-Config-Role"
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applications/{ApplicationId}/configurationprofiles",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfig#CreateConfigurationProfileRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#LongName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the configuration profile.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the configuration profile.</p>"
          }
        },
        "LocationUri": {
          "target": "com.amazonaws.appconfig#Uri",
          "traits": {
            "smithy.api#documentation": "<p>A URI to locate the configuration. You can specify the following:</p>\n         <ul>\n            <li>\n               <p>For the AppConfig hosted configuration store and for feature flags,\n               specify <code>hosted</code>.</p>\n            </li>\n            <li>\n               <p>For an Amazon Web Services Systems Manager Parameter Store parameter, specify either the parameter name in\n               the format <code>ssm-parameter://<parameter name></code> or the ARN.</p>\n            </li>\n            <li>\n               <p>For an Amazon Web Services\n               CodePipeline pipeline, specify the URI in the following format:\n                  <code>codepipeline</code>://<pipeline name>.</p>\n            </li>\n            <li>\n               <p>For an Secrets Manager secret, specify the URI in the following format:\n                  <code>secretsmanager</code>://<secret name>.</p>\n            </li>\n            <li>\n               <p>For an Amazon S3 object, specify the URI in the following format:\n                  <code>s3://<bucket>/<objectKey> </code>. Here is an example:\n                  <code>s3://my-bucket/my-app/us-east-1/my-config.json</code>\n               </p>\n            </li>\n            <li>\n               <p>For an SSM document, specify either the document name in the format\n                  <code>ssm-document://<document name></code> or the Amazon Resource Name\n               (ARN).</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "RetrievalRoleArn": {
          "target": "com.amazonaws.appconfig#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of an IAM role with permission to access the configuration at the specified\n            <code>LocationUri</code>.</p>\n         <important>\n            <p>A retrieval role ARN is not required for configurations stored in the AppConfig hosted configuration store. It is required for all other sources that\n            store your configuration. </p>\n         </important>"
          }
        },
        "Validators": {
          "target": "com.amazonaws.appconfig#ValidatorList",
          "traits": {
            "smithy.api#documentation": "<p>A list of methods for validating the configuration.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata to assign to the configuration profile. Tags help organize and categorize your\n            AppConfig resources. Each tag consists of a key and an optional value, both of\n         which you define.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.appconfig#ConfigurationProfileType",
          "traits": {
            "smithy.api#documentation": "<p>The type of configurations contained in the profile. AppConfig supports\n            <code>feature flags</code> and <code>freeform</code> configurations. We recommend you\n         create feature flag configurations to enable or disable new features and freeform\n         configurations to distribute configurations to an application. When calling this API, enter\n         one of the following values for <code>Type</code>:</p>\n         <p>\n            <code>AWS.AppConfig.FeatureFlags</code>\n         </p>\n         <p>\n            <code>AWS.Freeform</code>\n         </p>"
          }
        },
        "KmsKeyIdentifier": {
          "target": "com.amazonaws.appconfig#KmsKeyIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for an Key Management Service key to encrypt new configuration\n         data versions in the AppConfig hosted configuration store. This attribute is only\n         used for <code>hosted</code> configuration types. The identifier can be an KMS key ID, alias, or the Amazon Resource Name (ARN) of the key ID or alias.\n         To encrypt data managed in other configuration stores, see the documentation for how to\n         specify an KMS key for that particular service.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appconfig#CreateDeploymentStrategy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#CreateDeploymentStrategyRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#DeploymentStrategy"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a deployment strategy that defines important criteria for rolling out your\n         configuration to the designated targets. A deployment strategy includes the overall\n         duration required, a percentage of targets to receive the deployment during each interval,\n         an algorithm that defines how percentage grows, and bake time.</p>",
        "smithy.api#examples": [
          {
            "title": "To create a deployment strategy",
            "documentation": "The following create-deployment-strategy example creates a deployment strategy called Example-Deployment that takes 15 minutes and deploys the configuration to 25% of the application at a time. The strategy is also copied to an SSM Document.",
            "input": {
              "Name": "Example-Deployment",
              "DeploymentDurationInMinutes": 15,
              "GrowthFactor": 25,
              "ReplicateTo": "SSM_DOCUMENT"
            },
            "output": {
              "Id": "1225qzk",
              "Name": "Example-Deployment",
              "DeploymentDurationInMinutes": 15,
              "GrowthType": "LINEAR",
              "GrowthFactor": 25,
              "FinalBakeTimeInMinutes": 0,
              "ReplicateTo": "SSM_DOCUMENT"
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/deploymentstrategies",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfig#CreateDeploymentStrategyRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the deployment strategy.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the deployment strategy.</p>"
          }
        },
        "DeploymentDurationInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Total amount of time for a deployment to last.</p>",
            "smithy.api#required": {}
          }
        },
        "FinalBakeTimeInMinutes": {
          "target": "com.amazonaws.appconfig#MinutesBetween0And24Hours",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Specifies the amount of time AppConfig monitors for Amazon CloudWatch alarms after the\n         configuration has been deployed to 100% of its targets, before considering the deployment\n         to be complete. If an alarm is triggered during this time, AppConfig rolls back\n         the deployment. You must configure permissions for AppConfig to roll back based\n         on CloudWatch alarms. For more information, see <a href=\"https://docs.aws.amazon.com/appconfig/latest/userguide/getting-started-with-appconfig-cloudwatch-alarms-permissions.html\">Configuring permissions for rollback based on Amazon CloudWatch alarms</a> in the\n            <i>AppConfig User Guide</i>.</p>"
          }
        },
        "GrowthFactor": {
          "target": "com.amazonaws.appconfig#GrowthFactor",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The percentage of targets to receive a deployed configuration during each\n         interval.</p>",
            "smithy.api#required": {}
          }
        },
        "GrowthType": {
          "target": "com.amazonaws.appconfig#GrowthType",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm used to define how percentage grows over time. AppConfig\n         supports the following growth types:</p>\n         <p>\n            <b>Linear</b>: For this type, AppConfig processes\n         the deployment by dividing the total number of targets by the value specified for\n            <code>Step percentage</code>. For example, a linear deployment that uses a <code>Step\n            percentage</code> of 10 deploys the configuration to 10 percent of the hosts. After\n         those deployments are complete, the system deploys the configuration to the next 10\n         percent. This continues until 100% of the targets have successfully received the\n         configuration.</p>\n         <p>\n            <b>Exponential</b>: For this type, AppConfig\n         processes the deployment exponentially using the following formula: <code>G*(2^N)</code>.\n         In this formula, <code>G</code> is the growth factor specified by the user and\n            <code>N</code> is the number of steps until the configuration is deployed to all\n         targets. For example, if you specify a growth factor of 2, then the system rolls out the\n         configuration as follows:</p>\n         <p>\n            <code>2*(2^0)</code>\n         </p>\n         <p>\n            <code>2*(2^1)</code>\n         </p>\n         <p>\n            <code>2*(2^2)</code>\n         </p>\n         <p>Expressed numerically, the deployment rolls out as follows: 2% of the targets, 4% of the\n         targets, 8% of the targets, and continues until the configuration has been deployed to all\n         targets.</p>"
          }
        },
        "ReplicateTo": {
          "target": "com.amazonaws.appconfig#ReplicateTo",
          "traits": {
            "smithy.api#documentation": "<p>Save the deployment strategy to a Systems Manager (SSM) document.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata to assign to the deployment strategy. Tags help organize and categorize your\n            AppConfig resources. Each tag consists of a key and an optional value, both of\n         which you define.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appconfig#CreateEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#CreateEnvironmentRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Environment"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appconfig#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an environment. For each application, you define one or more environments. An\n         environment is a deployment group of AppConfig targets, such as applications in a\n            <code>Beta</code> or <code>Production</code> environment. You can also define\n         environments for application subcomponents such as the <code>Web</code>,\n            <code>Mobile</code> and <code>Back-end</code> components for your application. You can\n         configure Amazon CloudWatch alarms for each environment. The system monitors alarms during a\n         configuration deployment. If an alarm is triggered, the system rolls back the\n         configuration.</p>",
        "smithy.api#examples": [
          {
            "title": "To create an environment",
            "documentation": "The following create-environment example creates an AWS AppConfig environment named Example-Environment using the application you created using create-application",
            "input": {
              "ApplicationId": "339ohji",
              "Name": "Example-Environment"
            },
            "output": {
              "ApplicationId": "339ohji",
              "Id": "54j1r29",
              "Name": "Example-Environment",
              "State": "READY_FOR_DEPLOYMENT"
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applications/{ApplicationId}/environments",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfig#CreateEnvironmentRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.appconfig#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the environment.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the environment.</p>"
          }
        },
        "Monitors": {
          "target": "com.amazonaws.appconfig#MonitorList",
          "traits": {
            "smithy.api#documentation": "<p>Amazon CloudWatch alarms to monitor during the deployment process.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata to assign to the environment. Tags help organize and categorize your AppConfig resources. Each tag consists of a key and an optional value, both of which\n         you define.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appconfig#CreateExtension": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#CreateExtensionRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#Extension"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#ConflictException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an AppConfig extension. An extension augments your ability to inject\n         logic or behavior at different points during the AppConfig workflow of creating\n         or deploying a configuration.</p>\n         <p>You can create your own extensions or use the Amazon Web Services authored extensions provided by\n            AppConfig. For an AppConfig extension that uses Lambda, you must create a Lambda function to perform any computation and processing\n         defined in the extension. If you plan to create custom versions of the Amazon Web Services\n         authored notification extensions, you only need to specify an Amazon Resource Name (ARN) in\n         the <code>Uri</code> field for the new extension version.</p>\n         <ul>\n            <li>\n               <p>For a custom EventBridge notification extension, enter the ARN of the EventBridge\n               default events in the <code>Uri</code> field.</p>\n            </li>\n            <li>\n               <p>For a custom Amazon SNS notification extension, enter the ARN of an Amazon SNS\n               topic in the <code>Uri</code> field.</p>\n            </li>\n            <li>\n               <p>For a custom Amazon SQS notification extension, enter the ARN of an Amazon SQS\n               message queue in the <code>Uri</code> field. </p>\n            </li>\n         </ul>\n         <p>For more information about extensions, see <a href=\"https://docs.aws.amazon.com/appconfig/latest/userguide/working-with-appconfig-extensions.html\">Working with\n               AppConfig extensions</a> in the\n         <i>AppConfig User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/extensions",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfig#CreateExtensionAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#CreateExtensionAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#ExtensionAssociation"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appconfig#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>When you create an extension or configure an Amazon Web Services authored extension, you\n         associate the extension with an AppConfig application, environment, or\n         configuration profile. For example, you can choose to run the <code>AppConfig\n            deployment events to Amazon SNS</code>\n         Amazon Web Services authored extension and receive notifications on an Amazon SNS\n         topic anytime a configuration deployment is started for a specific application. Defining\n         which extension to associate with an AppConfig resource is called an\n            <i>extension association</i>. An extension association is a specified\n         relationship between an extension and an AppConfig resource, such as an\n         application or a configuration profile. For more information about extensions and\n         associations, see <a href=\"https://docs.aws.amazon.com/appconfig/latest/userguide/working-with-appconfig-extensions.html\">Working with\n               AppConfig extensions</a> in the\n         <i>AppConfig User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/extensionassociations",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfig#CreateExtensionAssociationRequest": {
      "type": "structure",
      "members": {
        "ExtensionIdentifier": {
          "target": "com.amazonaws.appconfig#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The name, the ID, or the Amazon Resource Name (ARN) of the extension.</p>",
            "smithy.api#required": {}
          }
        },
        "ExtensionVersionNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The version number of the extension. If not specified, AppConfig uses the\n         maximum version of the extension.</p>"
          }
        },
        "ResourceIdentifier": {
          "target": "com.amazonaws.appconfig#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of an application, configuration profile, or environment.</p>",
            "smithy.api#required": {}
          }
        },
        "Parameters": {
          "target": "com.amazonaws.appconfig#ParameterValueMap",
          "traits": {
            "smithy.api#documentation": "<p>The parameter names and values defined in the extensions. Extension parameters marked\n            <code>Required</code> must be entered for this field.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Adds one or more tags for the specified extension association. Tags are metadata that\n         help you categorize resources in different ways, for example, by purpose, owner, or\n         environment. Each tag consists of a key and an optional value, both of which you define.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appconfig#CreateExtensionRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appconfig#ExtensionOrParameterName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the extension. Each extension name in your account must be unique. Extension\n         versions use the same name.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>Information about the extension.</p>"
          }
        },
        "Actions": {
          "target": "com.amazonaws.appconfig#ActionsMap",
          "traits": {
            "smithy.api#documentation": "<p>The actions defined in the extension.</p>",
            "smithy.api#required": {}
          }
        },
        "Parameters": {
          "target": "com.amazonaws.appconfig#ParameterMap",
          "traits": {
            "smithy.api#documentation": "<p>The parameters accepted by the extension. You specify parameter values when you\n         associate the extension to an AppConfig resource by using the\n            <code>CreateExtensionAssociation</code> API action. For Lambda extension\n         actions, these parameters are included in the Lambda request object.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appconfig#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Adds one or more tags for the specified extension. Tags are metadata that help you\n         categorize resources in different ways, for example, by purpose, owner, or environment.\n         Each tag consists of a key and an optional value, both of which you define. </p>"
          }
        },
        "LatestVersionNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>You can omit this field when you create an extension. When you create a new version,\n         specify the most recent current version number. For example, you create version 3, enter 2\n         for this field.</p>",
            "smithy.api#httpHeader": "Latest-Version-Number"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appconfig#CreateHostedConfigurationVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#CreateHostedConfigurationVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.appconfig#HostedConfigurationVersion"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#ConflictException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#PayloadTooLargeException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appconfig#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new configuration in the AppConfig hosted configuration\n         store.</p>",
        "smithy.api#examples": [
          {
            "title": "To create a hosted configuration version",
            "documentation": "The following create-hosted-configuration-version example creates a new configuration in the AWS AppConfig configuration store.",
            "input": {
              "ApplicationId": "339ohji",
              "ConfigurationProfileId": "ur8hx2f",
              "Content": "eyAiTmFtZSI6ICJFeGFtcGxlQXBwbGljYXRpb24iLCAiSWQiOiBFeGFtcGxlSUQsICJSYW5rIjogNyB9",
              "ContentType": "text",
              "LatestVersionNumber": 1
            },
            "output": {
              "ApplicationId": "339ohji",
              "ConfigurationProfileId": "ur8hx2f",
              "VersionNumber": 1,
              "ContentType": "text"
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/applications/{ApplicationId}/configurationprofiles/{ConfigurationProfileId}/hostedconfigurationversions",
          "code": 201
        }
      }
    },
    "com.amazonaws.appconfig#CreateHostedConfigurationVersionRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The application ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConfigurationProfileId": {
          "target": "com.amazonaws.appconfig#Id",
          "traits": {
            "smithy.api#documentation": "<p>The configuration profile ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appconfig#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the configuration.</p>",
            "smithy.api#httpHeader": "Description"
          }
        },
        "Content": {
          "target": "com.amazonaws.appconfig#Blob",
          "traits": {
            "smithy.api#documentation": "<p>The content of the configuration or the configuration data.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "ContentType": {
          "target": "com.amazonaws.appconfig#StringWithLengthBetween1And255",
          "traits": {
            "smithy.api#documentation": "<p>A standard MIME type describing the format of the configuration content. For more\n         information, see <a href=\"https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.17\">Content-Type</a>.</p>",
            "smithy.api#httpHeader": "Content-Type",
            "smithy.api#required": {}
          }
        },
        "LatestVersionNumber": {
          "target": "com.amazonaws.appconfig#Integer",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>An optional locking token used to prevent race conditions from overwriting configuration\n         updates when creating a new version. To ensure your data is not overwritten when creating\n         multiple hosted configuration versions in rapid succession, specify the version number of\n         the latest hosted configuration version.</p>",
            "smithy.api#httpHeader": "Latest-Version-Number"
          }
        },
        "VersionLabel": {
          "target": "com.amazonaws.appconfig#VersionLabel",
          "traits": {
            "smithy.api#documentation": "<p>An optional, user-defined label for the AppConfig hosted configuration\n         version. This value must contain at least one non-numeric character. For example,\n         \"v2.2.0\".</p>",
            "smithy.api#httpHeader": "VersionLabel"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appconfig#DeleteApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appconfig#DeleteApplicationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.appconfig#BadRequestException"
        },
        {
          "target": "com.amazonaws.appconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.appconfig#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an application. Deleting an application does not delete a configuration from a\n         host.</p>",
        "smithy.api#examples": [
          {
[...]
