{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.appflow#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^arn:aws:.*:.*:[0-9]+:"
      }
    },
    "com.amazonaws.appflow#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.appflow#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AppFlow/Requester has invalid or missing permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.appflow#AccessKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appflow#AccessToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        },
        "smithy.api#pattern": "^\\S+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appflow#AccountName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#AggregationConfig": {
      "type": "structure",
      "members": {
        "aggregationType": {
          "target": "com.amazonaws.appflow#AggregationType",
          "traits": {
            "smithy.api#documentation": "<p> Specifies whether Amazon AppFlow aggregates the flow records into a single file, or\n      leave them unaggregated. </p>"
          }
        },
        "targetFileSize": {
          "target": "com.amazonaws.appflow#Long",
          "traits": {
            "smithy.api#documentation": "<p>The desired file size, in MB, for each output file that Amazon AppFlow writes to the\n      flow destination. For each file, Amazon AppFlow attempts to achieve the size that you\n      specify. The actual file sizes might differ from this target based on the number and size of\n      the records that each file contains.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The aggregation settings that you can use to customize the output format of your flow\n      data. </p>"
      }
    },
    "com.amazonaws.appflow#AggregationType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        },
        "SINGLE_FILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SingleFile"
          }
        }
      }
    },
    "com.amazonaws.appflow#AmplitudeConnectorOperator": {
      "type": "enum",
      "members": {
        "BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETWEEN"
          }
        }
      }
    },
    "com.amazonaws.appflow#AmplitudeConnectorProfileCredentials": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "com.amazonaws.appflow#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling\n      program to your API. </p>",
            "smithy.api#required": {}
          }
        },
        "secretKey": {
          "target": "com.amazonaws.appflow#SecretKey",
          "traits": {
            "smithy.api#documentation": "<p> The Secret Access Key portion of the credentials. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The connector-specific credentials required when using Amplitude. </p>"
      }
    },
    "com.amazonaws.appflow#AmplitudeConnectorProfileProperties": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> The connector-specific profile properties required when using Amplitude. </p>"
      }
    },
    "com.amazonaws.appflow#AmplitudeMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> The connector metadata specific to Amplitude. </p>"
      }
    },
    "com.amazonaws.appflow#AmplitudeSourceProperties": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.amazonaws.appflow#Object",
          "traits": {
            "smithy.api#documentation": "<p> The object specified in the Amplitude flow source. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The properties that are applied when Amplitude is being used as a source. </p>"
      }
    },
    "com.amazonaws.appflow#ApiKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appflow#ApiKeyCredentials": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "com.amazonaws.appflow#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p>The API key required for API key authentication.</p>",
            "smithy.api#required": {}
          }
        },
        "apiSecretKey": {
          "target": "com.amazonaws.appflow#ApiSecretKey",
          "traits": {
            "smithy.api#documentation": "<p>The API secret key required for API key authentication.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The API key credentials required for API key authentication.</p>"
      }
    },
    "com.amazonaws.appflow#ApiSecretKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appflow#ApiToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#ApiVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#ApplicationHostUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^(https?)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]$"
      }
    },
    "com.amazonaws.appflow#ApplicationKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#ApplicationServicePath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#ApplicationType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#AuthCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#AuthCodeUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^(https?)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]$"
      }
    },
    "com.amazonaws.appflow#AuthCodeUrlList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#AuthCodeUrl"
      }
    },
    "com.amazonaws.appflow#AuthParameter": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.appflow#Key",
          "traits": {
            "smithy.api#documentation": "<p>The authentication key required to authenticate with the connector.</p>"
          }
        },
        "isRequired": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether this authentication parameter is required.</p>"
          }
        },
        "label": {
          "target": "com.amazonaws.appflow#Label",
          "traits": {
            "smithy.api#documentation": "<p>Label used for authentication parameter.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.appflow#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description about the authentication parameter.</p>"
          }
        },
        "isSensitiveField": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether this authentication parameter is a sensitive field.</p>"
          }
        },
        "connectorSuppliedValues": {
          "target": "com.amazonaws.appflow#ConnectorSuppliedValueList",
          "traits": {
            "smithy.api#documentation": "<p>Contains default values for this authentication parameter that are supplied by the\n      connector.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about required authentication parameters.</p>"
      }
    },
    "com.amazonaws.appflow#AuthParameterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#AuthParameter"
      }
    },
    "com.amazonaws.appflow#AuthenticationConfig": {
      "type": "structure",
      "members": {
        "isBasicAuthSupported": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether basic authentication is supported by the connector.</p>"
          }
        },
        "isApiKeyAuthSupported": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether API key authentication is supported by the connector</p>"
          }
        },
        "isOAuth2Supported": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether OAuth 2.0 authentication is supported by the connector.</p>"
          }
        },
        "isCustomAuthSupported": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether custom authentication is supported by the connector</p>"
          }
        },
        "oAuth2Defaults": {
          "target": "com.amazonaws.appflow#OAuth2Defaults",
          "traits": {
            "smithy.api#documentation": "<p>Contains the default values required for OAuth 2.0 authentication.</p>"
          }
        },
        "customAuthConfigs": {
          "target": "com.amazonaws.appflow#CustomAuthConfigList",
          "traits": {
            "smithy.api#documentation": "<p>Contains information required for custom authentication.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the authentication config that the connector supports.</p>"
      }
    },
    "com.amazonaws.appflow#AuthenticationType": {
      "type": "enum",
      "members": {
        "OAUTH2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2"
          }
        },
        "APIKEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APIKEY"
          }
        },
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.amazonaws.appflow#BasicAuthCredentials": {
      "type": "structure",
      "members": {
        "username": {
          "target": "com.amazonaws.appflow#Username",
          "traits": {
            "smithy.api#documentation": "<p> The username to use to connect to a resource. </p>",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "com.amazonaws.appflow#Password",
          "traits": {
            "smithy.api#documentation": "<p> The password to use to connect to a resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The basic auth credentials required for basic authentication. </p>"
      }
    },
    "com.amazonaws.appflow#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.appflow#BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 63
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#BucketPrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.appflow#BusinessUnitId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 18
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#CatalogType": {
      "type": "enum",
      "members": {
        "GLUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GLUE"
          }
        }
      }
    },
    "com.amazonaws.appflow#ClientCredentialsArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws:secretsmanager:.*:[0-9]+:",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appflow#ClientId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#ClientNumber": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 3
        },
        "smithy.api#pattern": "^\\d{3}$"
      }
    },
    "com.amazonaws.appflow#ClientSecret": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\S+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appflow#ClusterIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.appflow#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> There was a conflict when processing the request (for example, a flow with the given name\n      already exists within the account. Check for conflicting resource names and try again. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.appflow#ConnectionMode": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Public"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Private"
          }
        }
      }
    },
    "com.amazonaws.appflow#ConnectorAuthenticationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.appflow#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> An error occurred when authenticating with the connector endpoint. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.appflow#ConnectorConfiguration": {
      "type": "structure",
      "members": {
        "canUseAsSource": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p> Specifies whether the connector can be used as a source. </p>"
          }
        },
        "canUseAsDestination": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p> Specifies whether the connector can be used as a destination. </p>"
          }
        },
        "supportedDestinationConnectors": {
          "target": "com.amazonaws.appflow#ConnectorTypeList",
          "traits": {
            "smithy.api#documentation": "<p> Lists the connectors that are available for use as destinations. </p>"
          }
        },
        "supportedSchedulingFrequencies": {
          "target": "com.amazonaws.appflow#SchedulingFrequencyTypeList",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the supported flow frequency for that connector. </p>"
          }
        },
        "isPrivateLinkEnabled": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p> Specifies if PrivateLink is enabled for that connector. </p>"
          }
        },
        "isPrivateLinkEndpointUrlRequired": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p> Specifies if a PrivateLink endpoint URL is required. </p>"
          }
        },
        "supportedTriggerTypes": {
          "target": "com.amazonaws.appflow#TriggerTypeList",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the supported trigger types for the flow. </p>"
          }
        },
        "connectorMetadata": {
          "target": "com.amazonaws.appflow#ConnectorMetadata",
          "traits": {
            "smithy.api#documentation": "<p> Specifies connector-specific metadata such as <code>oAuthScopes</code>,\n        <code>supportedRegions</code>, <code>privateLinkServiceUrl</code>, and so on. </p>"
          }
        },
        "connectorType": {
          "target": "com.amazonaws.appflow#ConnectorType",
          "traits": {
            "smithy.api#documentation": "<p>The connector type.</p>"
          }
        },
        "connectorLabel": {
          "target": "com.amazonaws.appflow#ConnectorLabel",
          "traits": {
            "smithy.api#documentation": "<p>The label used for registering the connector.</p>"
          }
        },
        "connectorDescription": {
          "target": "com.amazonaws.appflow#ConnectorDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description about the connector.</p>"
          }
        },
        "connectorOwner": {
          "target": "com.amazonaws.appflow#ConnectorOwner",
          "traits": {
            "smithy.api#documentation": "<p>The owner who developed the connector.</p>"
          }
        },
        "connectorName": {
          "target": "com.amazonaws.appflow#ConnectorName",
          "traits": {
            "smithy.api#documentation": "<p>The connector name.</p>"
          }
        },
        "connectorVersion": {
          "target": "com.amazonaws.appflow#ConnectorVersion",
          "traits": {
            "smithy.api#documentation": "<p>The connector version.</p>"
          }
        },
        "connectorArn": {
          "target": "com.amazonaws.appflow#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the registered connector.</p>"
          }
        },
        "connectorModes": {
          "target": "com.amazonaws.appflow#ConnectorModeList",
          "traits": {
            "smithy.api#documentation": "<p>The connection modes that the connector supports.</p>"
          }
        },
        "authenticationConfig": {
          "target": "com.amazonaws.appflow#AuthenticationConfig",
          "traits": {
            "smithy.api#documentation": "<p>The authentication config required for the connector.</p>"
          }
        },
        "connectorRuntimeSettings": {
          "target": "com.amazonaws.appflow#ConnectorRuntimeSettingList",
          "traits": {
            "smithy.api#documentation": "<p>The required connector runtime settings.</p>"
          }
        },
        "supportedApiVersions": {
          "target": "com.amazonaws.appflow#SupportedApiVersionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of API versions that are supported by the connector.</p>"
          }
        },
        "supportedOperators": {
          "target": "com.amazonaws.appflow#SupportedOperatorList",
          "traits": {
            "smithy.api#documentation": "<p>A list of operators supported by the connector.</p>"
          }
        },
        "supportedWriteOperations": {
          "target": "com.amazonaws.appflow#SupportedWriteOperationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of write operations supported by the connector.</p>"
          }
        },
        "connectorProvisioningType": {
          "target": "com.amazonaws.appflow#ConnectorProvisioningType",
          "traits": {
            "smithy.api#documentation": "<p>The provisioning type used to register the connector.</p>"
          }
        },
        "connectorProvisioningConfig": {
          "target": "com.amazonaws.appflow#ConnectorProvisioningConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration required for registering the connector.</p>"
          }
        },
        "logoURL": {
          "target": "com.amazonaws.appflow#LogoURL",
          "traits": {
            "smithy.api#documentation": "<p>Logo URL of the connector.</p>"
          }
        },
        "registeredAt": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date on which the connector was registered.</p>"
          }
        },
        "registeredBy": {
          "target": "com.amazonaws.appflow#RegisteredBy",
          "traits": {
            "smithy.api#documentation": "<p>Information about who registered the connector.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The configuration settings related to a given connector. </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorConfigurationsMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.appflow#ConnectorType"
      },
      "value": {
        "target": "com.amazonaws.appflow#ConnectorConfiguration"
      }
    },
    "com.amazonaws.appflow#ConnectorDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^[\\w!@#\\-.?,\\s]*$"
      }
    },
    "com.amazonaws.appflow#ConnectorDetail": {
      "type": "structure",
      "members": {
        "connectorDescription": {
          "target": "com.amazonaws.appflow#ConnectorDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description about the registered connector.</p>"
          }
        },
        "connectorName": {
          "target": "com.amazonaws.appflow#ConnectorName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the connector.</p>"
          }
        },
        "connectorOwner": {
          "target": "com.amazonaws.appflow#ConnectorOwner",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the connector.</p>"
          }
        },
        "connectorVersion": {
          "target": "com.amazonaws.appflow#ConnectorVersion",
          "traits": {
            "smithy.api#documentation": "<p>The connector version.</p>"
          }
        },
        "applicationType": {
          "target": "com.amazonaws.appflow#ApplicationType",
          "traits": {
            "smithy.api#documentation": "<p>The application type of the connector.</p>"
          }
        },
        "connectorType": {
          "target": "com.amazonaws.appflow#ConnectorType",
          "traits": {
            "smithy.api#documentation": "<p>The connector type.</p>"
          }
        },
        "connectorLabel": {
          "target": "com.amazonaws.appflow#ConnectorLabel",
          "traits": {
            "smithy.api#documentation": "<p>A label used for the connector.</p>"
          }
        },
        "registeredAt": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the connector was registered.</p>"
          }
        },
        "registeredBy": {
          "target": "com.amazonaws.appflow#RegisteredBy",
          "traits": {
            "smithy.api#documentation": "<p>The user who registered the connector.</p>"
          }
        },
        "connectorProvisioningType": {
          "target": "com.amazonaws.appflow#ConnectorProvisioningType",
          "traits": {
            "smithy.api#documentation": "<p>The provisioning type that the connector uses.</p>"
          }
        },
        "connectorModes": {
          "target": "com.amazonaws.appflow#ConnectorModeList",
          "traits": {
            "smithy.api#documentation": "<p>The connection mode that the connector supports.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the registered connector.</p>"
      }
    },
    "com.amazonaws.appflow#ConnectorEntity": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.appflow#Name",
          "traits": {
            "smithy.api#documentation": "<p> The name of the connector entity. </p>",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "com.amazonaws.appflow#Label",
          "traits": {
            "smithy.api#documentation": "<p> The label applied to the connector entity. </p>"
          }
        },
        "hasNestedEntities": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p> Specifies whether the connector entity is a parent or a category and has more entities\n      nested underneath it. If another call is made with <code>entitiesPath =\n        \"the_current_entity_name_with_hasNestedEntities_true\"</code>, then it returns the nested\n      entities underneath it. This provides a way to retrieve all supported entities in a recursive\n      fashion. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The high-level entity that can be queried in Amazon AppFlow. For example, a\n      Salesforce entity might be an <i>Account</i> or\n      <i>Opportunity</i>, whereas a ServiceNow entity might be an\n        <i>Incident</i>. </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorEntityField": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "com.amazonaws.appflow#Identifier",
          "traits": {
            "smithy.api#documentation": "<p> The unique identifier of the connector field. </p>",
            "smithy.api#required": {}
          }
        },
        "parentIdentifier": {
          "target": "com.amazonaws.appflow#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The parent identifier of the connector field.</p>"
          }
        },
        "label": {
          "target": "com.amazonaws.appflow#Label",
          "traits": {
            "smithy.api#documentation": "<p> The label applied to a connector entity field. </p>"
          }
        },
        "isPrimaryKey": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Booelan value that indicates whether this field can be used as a primary key.</p>"
          }
        },
        "defaultValue": {
          "target": "com.amazonaws.appflow#String",
          "traits": {
            "smithy.api#documentation": "<p>Default value that can be assigned to this field.</p>"
          }
        },
        "isDeprecated": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Booelan value that indicates whether this field is deprecated or not.</p>"
          }
        },
        "supportedFieldTypeDetails": {
          "target": "com.amazonaws.appflow#SupportedFieldTypeDetails",
          "traits": {
            "smithy.api#documentation": "<p> Contains details regarding the supported <code>FieldType</code>, including the\n      corresponding <code>filterOperators</code> and <code>supportedValues</code>. </p>"
          }
        },
        "description": {
          "target": "com.amazonaws.appflow#Description",
          "traits": {
            "smithy.api#documentation": "<p> A description of the connector entity field. </p>"
          }
        },
        "sourceProperties": {
          "target": "com.amazonaws.appflow#SourceFieldProperties",
          "traits": {
            "smithy.api#documentation": "<p> The properties that can be applied to a field when the connector is being used as a\n      source. </p>"
          }
        },
        "destinationProperties": {
          "target": "com.amazonaws.appflow#DestinationFieldProperties",
          "traits": {
            "smithy.api#documentation": "<p> The properties applied to a field when the connector is being used as a destination.\n    </p>"
          }
        },
        "customProperties": {
          "target": "com.amazonaws.appflow#CustomProperties",
          "traits": {
            "smithy.api#documentation": "<p>A map that has specific properties related to the ConnectorEntityField.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Describes the data model of a connector field. For example, for an\n        <i>account</i> entity, the fields would be <i>account name</i>,\n        <i>account ID</i>, and so on. </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorEntityFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorEntityField"
      }
    },
    "com.amazonaws.appflow#ConnectorEntityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorEntity"
      }
    },
    "com.amazonaws.appflow#ConnectorEntityMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.appflow#Group"
      },
      "value": {
        "target": "com.amazonaws.appflow#ConnectorEntityList"
      }
    },
    "com.amazonaws.appflow#ConnectorLabel": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][\\w!@#.-]+$"
      }
    },
    "com.amazonaws.appflow#ConnectorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorDetail"
      }
    },
    "com.amazonaws.appflow#ConnectorMetadata": {
      "type": "structure",
      "members": {
        "Amplitude": {
          "target": "com.amazonaws.appflow#AmplitudeMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Amplitude. </p>"
          }
        },
        "Datadog": {
          "target": "com.amazonaws.appflow#DatadogMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Datadog. </p>"
          }
        },
        "Dynatrace": {
          "target": "com.amazonaws.appflow#DynatraceMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Dynatrace. </p>"
          }
        },
        "GoogleAnalytics": {
          "target": "com.amazonaws.appflow#GoogleAnalyticsMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Google Analytics. </p>"
          }
        },
        "InforNexus": {
          "target": "com.amazonaws.appflow#InforNexusMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Infor Nexus. </p>"
          }
        },
        "Marketo": {
          "target": "com.amazonaws.appflow#MarketoMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Marketo. </p>"
          }
        },
        "Redshift": {
          "target": "com.amazonaws.appflow#RedshiftMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Amazon Redshift. </p>"
          }
        },
        "S3": {
          "target": "com.amazonaws.appflow#S3Metadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Amazon S3. </p>"
          }
        },
        "Salesforce": {
          "target": "com.amazonaws.appflow#SalesforceMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Salesforce. </p>"
          }
        },
        "ServiceNow": {
          "target": "com.amazonaws.appflow#ServiceNowMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to ServiceNow. </p>"
          }
        },
        "Singular": {
          "target": "com.amazonaws.appflow#SingularMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Singular. </p>"
          }
        },
        "Slack": {
          "target": "com.amazonaws.appflow#SlackMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Slack. </p>"
          }
        },
        "Snowflake": {
          "target": "com.amazonaws.appflow#SnowflakeMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Snowflake. </p>"
          }
        },
        "Trendmicro": {
          "target": "com.amazonaws.appflow#TrendmicroMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Trend Micro. </p>"
          }
        },
        "Veeva": {
          "target": "com.amazonaws.appflow#VeevaMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Veeva. </p>"
          }
        },
        "Zendesk": {
          "target": "com.amazonaws.appflow#ZendeskMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Zendesk. </p>"
          }
        },
        "EventBridge": {
          "target": "com.amazonaws.appflow#EventBridgeMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Amazon EventBridge. </p>"
          }
        },
        "Upsolver": {
          "target": "com.amazonaws.appflow#UpsolverMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Upsolver. </p>"
          }
        },
        "CustomerProfiles": {
          "target": "com.amazonaws.appflow#CustomerProfilesMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Amazon Connect Customer Profiles. </p>"
          }
        },
        "Honeycode": {
          "target": "com.amazonaws.appflow#HoneycodeMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Amazon Honeycode. </p>"
          }
        },
        "SAPOData": {
          "target": "com.amazonaws.appflow#SAPODataMetadata"
        },
        "Pardot": {
          "target": "com.amazonaws.appflow#PardotMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The connector metadata specific to Salesforce Pardot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A structure to specify connector-specific metadata such as <code>oAuthScopes</code>,\n        <code>supportedRegions</code>, <code>privateLinkServiceUrl</code>, and so on. </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorMode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#ConnectorModeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorMode"
      }
    },
    "com.amazonaws.appflow#ConnectorName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.appflow#ConnectorOAuthRequest": {
      "type": "structure",
      "members": {
        "authCode": {
          "target": "com.amazonaws.appflow#AuthCode",
          "traits": {
            "smithy.api#documentation": "<p> The code provided by the connector when it has been authenticated via the connected app.\n    </p>"
          }
        },
        "redirectUri": {
          "target": "com.amazonaws.appflow#RedirectUri",
          "traits": {
            "smithy.api#documentation": "<p> The URL to which the authentication server redirects the browser after authorization has\n      been granted. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Used by select connectors for which the OAuth workflow is supported, such as Salesforce,\n      Google Analytics, Marketo, Zendesk, and Slack. </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorOperator": {
      "type": "structure",
      "members": {
        "Amplitude": {
          "target": "com.amazonaws.appflow#AmplitudeConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Amplitude source fields. </p>"
          }
        },
        "Datadog": {
          "target": "com.amazonaws.appflow#DatadogConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Datadog source fields. </p>"
          }
        },
        "Dynatrace": {
          "target": "com.amazonaws.appflow#DynatraceConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Dynatrace source fields. </p>"
          }
        },
        "GoogleAnalytics": {
          "target": "com.amazonaws.appflow#GoogleAnalyticsConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Google Analytics source fields. </p>"
          }
        },
        "InforNexus": {
          "target": "com.amazonaws.appflow#InforNexusConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Infor Nexus source fields. </p>"
          }
        },
        "Marketo": {
          "target": "com.amazonaws.appflow#MarketoConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Marketo source fields. </p>"
          }
        },
        "S3": {
          "target": "com.amazonaws.appflow#S3ConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Amazon S3 source fields. </p>"
          }
        },
        "Salesforce": {
          "target": "com.amazonaws.appflow#SalesforceConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Salesforce source fields. </p>"
          }
        },
        "ServiceNow": {
          "target": "com.amazonaws.appflow#ServiceNowConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided ServiceNow source fields. </p>"
          }
        },
        "Singular": {
          "target": "com.amazonaws.appflow#SingularConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Singular source fields. </p>"
          }
        },
        "Slack": {
          "target": "com.amazonaws.appflow#SlackConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Slack source fields. </p>"
          }
        },
        "Trendmicro": {
          "target": "com.amazonaws.appflow#TrendmicroConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Trend Micro source fields. </p>"
          }
        },
        "Veeva": {
          "target": "com.amazonaws.appflow#VeevaConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Veeva source fields. </p>"
          }
        },
        "Zendesk": {
          "target": "com.amazonaws.appflow#ZendeskConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Zendesk source fields. </p>"
          }
        },
        "SAPOData": {
          "target": "com.amazonaws.appflow#SAPODataConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided SAPOData source fields. </p>"
          }
        },
        "CustomConnector": {
          "target": "com.amazonaws.appflow#Operator",
          "traits": {
            "smithy.api#documentation": "<p>Operators supported by the custom connector.</p>"
          }
        },
        "Pardot": {
          "target": "com.amazonaws.appflow#PardotConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operation to be performed on the provided Salesforce Pardot source fields.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The operation to be performed on the provided source fields. </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorOwner": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.appflow#ConnectorProfile": {
      "type": "structure",
      "members": {
        "connectorProfileArn": {
          "target": "com.amazonaws.appflow#ConnectorProfileArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the connector profile. </p>"
          }
        },
        "connectorProfileName": {
          "target": "com.amazonaws.appflow#ConnectorProfileName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the connector profile. The name is unique for each\n        <code>ConnectorProfile</code> in the Amazon Web Services account. </p>"
          }
        },
        "connectorType": {
          "target": "com.amazonaws.appflow#ConnectorType",
          "traits": {
            "smithy.api#documentation": "<p> The type of connector, such as Salesforce, Amplitude, and so on. </p>"
          }
        },
        "connectorLabel": {
          "target": "com.amazonaws.appflow#ConnectorLabel",
          "traits": {
            "smithy.api#documentation": "<p>The label for the connector profile being created.</p>"
          }
        },
        "connectionMode": {
          "target": "com.amazonaws.appflow#ConnectionMode",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the connection mode and if it is public or private. </p>"
          }
        },
        "credentialsArn": {
          "target": "com.amazonaws.appflow#ARN",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the connector profile credentials. </p>"
          }
        },
        "connectorProfileProperties": {
          "target": "com.amazonaws.appflow#ConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties of the profile configuration. </p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p> Specifies when the connector profile was created. </p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p> Specifies when the connector profile was last updated. </p>"
          }
        },
        "privateConnectionProvisioningState": {
          "target": "com.amazonaws.appflow#PrivateConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the private connection provisioning state. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Describes an instance of a connector. This includes the provided name, credentials ARN,\n      connection-mode, and so on. To keep the API intuitive and extensible, the fields that are\n      common to all types of connector profiles are explicitly specified at the top level. The rest\n      of the connector-specific properties are available via the\n        <code>connectorProfileProperties</code> field. </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorProfileArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^arn:aws:appflow:.*:[0-9]+:"
      }
    },
    "com.amazonaws.appflow#ConnectorProfileConfig": {
      "type": "structure",
      "members": {
        "connectorProfileProperties": {
          "target": "com.amazonaws.appflow#ConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties of the profile configuration. </p>",
            "smithy.api#required": {}
          }
        },
        "connectorProfileCredentials": {
          "target": "com.amazonaws.appflow#ConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required by each connector. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Defines the connector-specific configuration and credentials for the connector profile.\n    </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorProfileCredentials": {
      "type": "structure",
      "members": {
        "Amplitude": {
          "target": "com.amazonaws.appflow#AmplitudeConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Amplitude. </p>"
          }
        },
        "Datadog": {
          "target": "com.amazonaws.appflow#DatadogConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Datadog. </p>"
          }
        },
        "Dynatrace": {
          "target": "com.amazonaws.appflow#DynatraceConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Dynatrace. </p>"
          }
        },
        "GoogleAnalytics": {
          "target": "com.amazonaws.appflow#GoogleAnalyticsConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Google Analytics. </p>"
          }
        },
        "Honeycode": {
          "target": "com.amazonaws.appflow#HoneycodeConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Amazon Honeycode. </p>"
          }
        },
        "InforNexus": {
          "target": "com.amazonaws.appflow#InforNexusConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Infor Nexus. </p>"
          }
        },
        "Marketo": {
          "target": "com.amazonaws.appflow#MarketoConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Marketo. </p>"
          }
        },
        "Redshift": {
          "target": "com.amazonaws.appflow#RedshiftConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Amazon Redshift. </p>"
          }
        },
        "Salesforce": {
          "target": "com.amazonaws.appflow#SalesforceConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Salesforce. </p>"
          }
        },
        "ServiceNow": {
          "target": "com.amazonaws.appflow#ServiceNowConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using ServiceNow. </p>"
          }
        },
        "Singular": {
          "target": "com.amazonaws.appflow#SingularConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Singular. </p>"
          }
        },
        "Slack": {
          "target": "com.amazonaws.appflow#SlackConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Slack. </p>"
          }
        },
        "Snowflake": {
          "target": "com.amazonaws.appflow#SnowflakeConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Snowflake. </p>"
          }
        },
        "Trendmicro": {
          "target": "com.amazonaws.appflow#TrendmicroConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Trend Micro. </p>"
          }
        },
        "Veeva": {
          "target": "com.amazonaws.appflow#VeevaConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Veeva. </p>"
          }
        },
        "Zendesk": {
          "target": "com.amazonaws.appflow#ZendeskConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Zendesk. </p>"
          }
        },
        "SAPOData": {
          "target": "com.amazonaws.appflow#SAPODataConnectorProfileCredentials"
        },
        "CustomConnector": {
          "target": "com.amazonaws.appflow#CustomConnectorProfileCredentials"
        },
        "Pardot": {
          "target": "com.amazonaws.appflow#PardotConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p>The connector-specific credentials required when using Salesforce Pardot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The connector-specific credentials required by a connector. </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorProfileDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorProfile"
      }
    },
    "com.amazonaws.appflow#ConnectorProfileName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[\\w/!@#+=.-]+$"
      }
    },
    "com.amazonaws.appflow#ConnectorProfileNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorProfileName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.appflow#ConnectorProfileProperties": {
      "type": "structure",
      "members": {
        "Amplitude": {
          "target": "com.amazonaws.appflow#AmplitudeConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Amplitude. </p>"
          }
        },
        "Datadog": {
          "target": "com.amazonaws.appflow#DatadogConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Datadog. </p>"
          }
        },
        "Dynatrace": {
          "target": "com.amazonaws.appflow#DynatraceConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Dynatrace. </p>"
          }
        },
        "GoogleAnalytics": {
          "target": "com.amazonaws.appflow#GoogleAnalyticsConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required Google Analytics. </p>"
          }
        },
        "Honeycode": {
          "target": "com.amazonaws.appflow#HoneycodeConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Amazon Honeycode. </p>"
          }
        },
        "InforNexus": {
          "target": "com.amazonaws.appflow#InforNexusConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Infor Nexus. </p>"
          }
        },
        "Marketo": {
          "target": "com.amazonaws.appflow#MarketoConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Marketo. </p>"
          }
        },
        "Redshift": {
          "target": "com.amazonaws.appflow#RedshiftConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Amazon Redshift. </p>"
          }
        },
        "Salesforce": {
          "target": "com.amazonaws.appflow#SalesforceConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Salesforce. </p>"
          }
        },
        "ServiceNow": {
          "target": "com.amazonaws.appflow#ServiceNowConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by serviceNow. </p>"
          }
        },
        "Singular": {
          "target": "com.amazonaws.appflow#SingularConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Singular. </p>"
          }
        },
        "Slack": {
          "target": "com.amazonaws.appflow#SlackConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Slack. </p>"
          }
        },
        "Snowflake": {
          "target": "com.amazonaws.appflow#SnowflakeConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Snowflake. </p>"
          }
        },
        "Trendmicro": {
          "target": "com.amazonaws.appflow#TrendmicroConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Trend Micro. </p>"
          }
        },
        "Veeva": {
          "target": "com.amazonaws.appflow#VeevaConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Veeva. </p>"
          }
        },
        "Zendesk": {
          "target": "com.amazonaws.appflow#ZendeskConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Zendesk. </p>"
          }
        },
        "SAPOData": {
          "target": "com.amazonaws.appflow#SAPODataConnectorProfileProperties"
        },
        "CustomConnector": {
          "target": "com.amazonaws.appflow#CustomConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>The properties required by the custom connector.</p>"
          }
        },
        "Pardot": {
          "target": "com.amazonaws.appflow#PardotConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>The connector-specific properties required by Salesforce Pardot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The connector-specific profile properties required by each connector. </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorProvisioningConfig": {
      "type": "structure",
      "members": {
        "lambda": {
          "target": "com.amazonaws.appflow#LambdaConnectorProvisioningConfig",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the configuration of the lambda which is being registered as\n      the connector.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the configuration of the connector being registered.</p>"
      }
    },
    "com.amazonaws.appflow#ConnectorProvisioningType": {
      "type": "enum",
      "members": {
        "LAMBDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAMBDA"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The type of provisioning that the connector supports, such as Lambda.</p>"
      }
    },
    "com.amazonaws.appflow#ConnectorRuntimeSetting": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.appflow#Key",
          "traits": {
            "smithy.api#documentation": "<p>Contains value information about the connector runtime setting.</p>"
          }
        },
        "dataType": {
          "target": "com.amazonaws.appflow#ConnectorRuntimeSettingDataType",
          "traits": {
            "smithy.api#documentation": "<p>Data type of the connector runtime setting.</p>"
          }
        },
        "isRequired": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether this connector runtime setting is required.</p>"
          }
        },
        "label": {
          "target": "com.amazonaws.appflow#Label",
          "traits": {
            "smithy.api#documentation": "<p>A label used for connector runtime setting.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.appflow#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description about the connector runtime setting.</p>"
          }
        },
        "scope": {
          "target": "com.amazonaws.appflow#ConnectorRuntimeSettingScope",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the scope of the connector runtime setting.</p>"
          }
        },
        "connectorSuppliedValueOptions": {
          "target": "com.amazonaws.appflow#ConnectorSuppliedValueOptionList",
          "traits": {
            "smithy.api#documentation": "<p>Contains default values for the connector runtime setting that are supplied by the\n      connector.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the connector runtime settings that are required for flow\n      execution.</p>"
      }
    },
    "com.amazonaws.appflow#ConnectorRuntimeSettingDataType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#ConnectorRuntimeSettingList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorRuntimeSetting"
      }
    },
    "com.amazonaws.appflow#ConnectorRuntimeSettingScope": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#ConnectorServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.appflow#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> An error occurred when retrieving data from the connector endpoint. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.appflow#ConnectorSuppliedValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#ConnectorSuppliedValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorSuppliedValue"
      }
    },
    "com.amazonaws.appflow#ConnectorSuppliedValueOptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorSuppliedValue"
      }
    },
    "com.amazonaws.appflow#ConnectorType": {
      "type": "enum",
      "members": {
        "SALESFORCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Salesforce"
          }
        },
        "SINGULAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Singular"
          }
        },
        "SLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Slack"
          }
        },
        "REDSHIFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Redshift"
          }
        },
        "S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3"
          }
        },
        "MARKETO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Marketo"
          }
        },
        "GOOGLEANALYTICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Googleanalytics"
          }
        },
        "ZENDESK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Zendesk"
          }
        },
        "SERVICENOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Servicenow"
          }
        },
        "DATADOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Datadog"
          }
        },
        "TRENDMICRO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Trendmicro"
          }
        },
        "SNOWFLAKE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Snowflake"
          }
        },
        "DYNATRACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dynatrace"
          }
        },
        "INFORNEXUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Infornexus"
          }
        },
        "AMPLITUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Amplitude"
          }
        },
        "VEEVA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Veeva"
          }
        },
        "EVENTBRIDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EventBridge"
          }
        },
        "LOOKOUTMETRICS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LookoutMetrics"
          }
        },
        "UPSOLVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Upsolver"
          }
        },
        "HONEYCODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Honeycode"
          }
        },
        "CUSTOMERPROFILES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomerProfiles"
          }
        },
        "SAPODATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAPOData"
          }
        },
        "CUSTOMCONNECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomConnector"
          }
        },
        "PARDOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pardot"
          }
        }
      }
    },
    "com.amazonaws.appflow#ConnectorTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.appflow#ConnectorVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#CreateConnectorProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#CreateConnectorProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#CreateConnectorProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#ConflictException"
        },
        {
          "target": "com.amazonaws.appflow#ConnectorAuthenticationException"
        },
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.appflow#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a new connector profile associated with your Amazon Web Services account. There\n      is a soft quota of 100 connector profiles per Amazon Web Services account. If you need more\n      connector profiles than this quota allows, you can submit a request to the Amazon AppFlow team through the Amazon AppFlow support channel. In each connector profile that you\n      create, you can provide the credentials and properties for only one connector.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/create-connector-profile",
          "code": 200
        }
      }
    },
    "com.amazonaws.appflow#CreateConnectorProfileRequest": {
      "type": "structure",
      "members": {
        "connectorProfileName": {
          "target": "com.amazonaws.appflow#ConnectorProfileName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the connector profile. The name is unique for each\n        <code>ConnectorProfile</code> in your Amazon Web Services account. </p>",
            "smithy.api#required": {}
          }
        },
        "kmsArn": {
          "target": "com.amazonaws.appflow#KMSArn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN (Amazon Resource Name) of the Key Management Service (KMS) key you provide for\n      encryption. This is required if you do not want to use the Amazon AppFlow-managed KMS\n      key. If you don't provide anything here, Amazon AppFlow uses the Amazon AppFlow-managed KMS key. </p>"
          }
        },
        "connectorType": {
          "target": "com.amazonaws.appflow#ConnectorType",
          "traits": {
            "smithy.api#documentation": "<p> The type of connector, such as Salesforce, Amplitude, and so on. </p>",
            "smithy.api#required": {}
          }
        },
        "connectorLabel": {
          "target": "com.amazonaws.appflow#ConnectorLabel",
          "traits": {
            "smithy.api#documentation": "<p>The label of the connector. The label is unique for each\n        <code>ConnectorRegistration</code> in your Amazon Web Services account. Only needed if\n      calling for CUSTOMCONNECTOR connector type/.</p>"
          }
        },
        "connectionMode": {
          "target": "com.amazonaws.appflow#ConnectionMode",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the connection mode and specifies whether it is public or private. Private\n      flows use Amazon Web Services PrivateLink to route data over Amazon Web Services infrastructure\n      without exposing it to the public internet. </p>",
            "smithy.api#required": {}
          }
        },
        "connectorProfileConfig": {
          "target": "com.amazonaws.appflow#ConnectorProfileConfig",
          "traits": {
            "smithy.api#documentation": "<p> Defines the connector-specific configuration and credentials. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appflow#CreateConnectorProfileResponse": {
      "type": "structure",
      "members": {
        "connectorProfileArn": {
          "target": "com.amazonaws.appflow#ConnectorProfileArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the connector profile. </p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#CreateFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#CreateFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#CreateFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#ConflictException"
        },
        {
          "target": "com.amazonaws.appflow#ConnectorAuthenticationException"
        },
        {
          "target": "com.amazonaws.appflow#ConnectorServerException"
        },
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appflow#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.appflow#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Enables your application to create a new flow using Amazon AppFlow. You must create\n      a connector profile before calling this API. Please note that the Request Syntax below shows\n      syntax for multiple destinations, however, you can only transfer data to one item in this list\n      at a time. Amazon AppFlow does not currently support flows to multiple destinations at\n      once. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/create-flow",
          "code": 200
        }
      }
    },
    "com.amazonaws.appflow#CreateFlowRequest": {
      "type": "structure",
      "members": {
        "flowName": {
          "target": "com.amazonaws.appflow#FlowName",
          "traits": {
            "smithy.api#documentation": "<p> The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens\n      (-) only. </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.appflow#FlowDescription",
          "traits": {
            "smithy.api#documentation": "<p> A description of the flow you want to create. </p>"
          }
        },
        "kmsArn": {
          "target": "com.amazonaws.appflow#KMSArn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN (Amazon Resource Name) of the Key Management Service (KMS) key you provide for\n      encryption. This is required if you do not want to use the Amazon AppFlow-managed KMS\n      key. If you don't provide anything here, Amazon AppFlow uses the Amazon AppFlow-managed KMS key. </p>"
          }
        },
        "triggerConfig": {
          "target": "com.amazonaws.appflow#TriggerConfig",
          "traits": {
            "smithy.api#documentation": "<p> The trigger settings that determine how and when the flow runs. </p>",
            "smithy.api#required": {}
          }
        },
        "sourceFlowConfig": {
          "target": "com.amazonaws.appflow#SourceFlowConfig",
          "traits": {
            "smithy.api#documentation": "<p> The configuration that controls how Amazon AppFlow retrieves data from the source\n      connector. </p>",
            "smithy.api#required": {}
          }
        },
        "destinationFlowConfigList": {
          "target": "com.amazonaws.appflow#DestinationFlowConfigList",
          "traits": {
            "smithy.api#documentation": "<p> The configuration that controls how Amazon AppFlow places data in the destination\n      connector. </p>",
            "smithy.api#required": {}
          }
        },
        "tasks": {
          "target": "com.amazonaws.appflow#Tasks",
          "traits": {
            "smithy.api#documentation": "<p> A list of tasks that Amazon AppFlow performs while transferring the data in the\n      flow run. </p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.appflow#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tags used to organize, track, or control access for your flow. </p>"
          }
        },
        "metadataCatalogConfig": {
          "target": "com.amazonaws.appflow#MetadataCatalogConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the configuration that Amazon AppFlow uses when it catalogs the data\n      that's transferred by the associated flow. When Amazon AppFlow catalogs the data from a\n      flow, it stores metadata in a data catalog.</p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#CreateFlowResponse": {
      "type": "structure",
      "members": {
        "flowArn": {
          "target": "com.amazonaws.appflow#FlowArn",
          "traits": {
            "smithy.api#documentation": "<p> The flow's Amazon Resource Name (ARN). </p>"
          }
        },
        "flowStatus": {
          "target": "com.amazonaws.appflow#FlowStatus",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the current status of the flow. </p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#CreatedBy": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#CredentialsMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.appflow#CredentialsMapKey"
      },
      "value": {
        "target": "com.amazonaws.appflow#CredentialsMapValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.appflow#CredentialsMapKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[\\w]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appflow#CredentialsMapValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^\\S+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appflow#CustomAuthConfig": {
      "type": "structure",
      "members": {
        "customAuthenticationType": {
          "target": "com.amazonaws.appflow#CustomAuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type that the custom connector uses.</p>"
          }
        },
        "authParameters": {
          "target": "com.amazonaws.appflow#AuthParameterList",
          "traits": {
            "smithy.api#documentation": "<p>Information about authentication parameters required for authentication.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information required for custom authentication.</p>"
      }
    },
    "com.amazonaws.appflow#CustomAuthConfigList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#CustomAuthConfig"
      }
    },
    "com.amazonaws.appflow#CustomAuthCredentials": {
      "type": "structure",
      "members": {
        "customAuthenticationType": {
          "target": "com.amazonaws.appflow#CustomAuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The custom authentication type that the connector uses.</p>",
            "smithy.api#required": {}
          }
        },
        "credentialsMap": {
          "target": "com.amazonaws.appflow#CredentialsMap",
          "traits": {
            "smithy.api#documentation": "<p>A map that holds custom authentication credentials.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The custom credentials required for custom authentication.</p>"
      }
    },
    "com.amazonaws.appflow#CustomAuthenticationType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#CustomConnectorDestinationProperties": {
      "type": "structure",
      "members": {
        "entityName": {
          "target": "com.amazonaws.appflow#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The entity specified in the custom connector as a destination in the flow.</p>",
            "smithy.api#required": {}
          }
        },
        "errorHandlingConfig": {
          "target": "com.amazonaws.appflow#ErrorHandlingConfig",
          "traits": {
            "smithy.api#documentation": "<p>The settings that determine how Amazon AppFlow handles an error when placing data in\n      the custom connector as destination.</p>"
          }
        },
        "writeOperationType": {
          "target": "com.amazonaws.appflow#WriteOperationType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of write operation to be performed in the custom connector when it's\n      used as destination.</p>"
          }
        },
        "idFieldNames": {
          "target": "com.amazonaws.appflow#IdFieldNameList",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field that Amazon AppFlow uses as an ID when performing a write\n      operation such as update, delete, or upsert.</p>"
          }
        },
        "customProperties": {
          "target": "com.amazonaws.appflow#CustomProperties",
          "traits": {
            "smithy.api#documentation": "<p>The custom properties that are specific to the connector when it's used as a destination\n      in the flow.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The properties that are applied when the custom connector is being used as a\n      destination.</p>"
      }
    },
    "com.amazonaws.appflow#CustomConnectorProfileCredentials": {
      "type": "structure",
      "members": {
        "authenticationType": {
          "target": "com.amazonaws.appflow#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type that the custom connector uses for authenticating while creating a\n      connector profile.</p>",
            "smithy.api#required": {}
          }
        },
        "basic": {
          "target": "com.amazonaws.appflow#BasicAuthCredentials",
          "traits": {
            "smithy.api#documentation": "<p>The basic credentials that are required for the authentication of the user.</p>"
          }
        },
        "oauth2": {
          "target": "com.amazonaws.appflow#OAuth2Credentials",
          "traits": {
            "smithy.api#documentation": "<p>The OAuth 2.0 credentials required for the authentication of the user.</p>"
          }
        },
        "apiKey": {
          "target": "com.amazonaws.appflow#ApiKeyCredentials",
          "traits": {
            "smithy.api#documentation": "<p>The API keys required for the authentication of the user.</p>"
          }
        },
        "custom": {
          "target": "com.amazonaws.appflow#CustomAuthCredentials",
          "traits": {
            "smithy.api#documentation": "<p>If the connector uses the custom authentication mechanism, this holds the required\n      credentials.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The connector-specific profile credentials that are required when using the custom\n      connector.</p>"
      }
    },
    "com.amazonaws.appflow#CustomConnectorProfileProperties": {
      "type": "structure",
      "members": {
        "profileProperties": {
          "target": "com.amazonaws.appflow#ProfilePropertiesMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of properties that are required to create a profile for the custom connector.</p>"
          }
        },
        "oAuth2Properties": {
          "target": "com.amazonaws.appflow#OAuth2Properties"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The profile properties required by the custom connector.</p>"
      }
    },
    "com.amazonaws.appflow#CustomConnectorSourceProperties": {
      "type": "structure",
      "members": {
        "entityName": {
          "target": "com.amazonaws.appflow#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The entity specified in the custom connector as a source in the flow.</p>",
            "smithy.api#required": {}
          }
        },
        "customProperties": {
          "target": "com.amazonaws.appflow#CustomProperties",
          "traits": {
            "smithy.api#documentation": "<p>Custom properties that are required to use the custom connector as a source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The properties that are applied when the custom connector is being used as a\n      source.</p>"
      }
    },
    "com.amazonaws.appflow#CustomProperties": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.appflow#CustomPropertyKey"
      },
      "value": {
        "target": "com.amazonaws.appflow#CustomPropertyValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.appflow#CustomPropertyKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[\\w]+$"
      }
    },
    "com.amazonaws.appflow#CustomPropertyValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#CustomerProfilesDestinationProperties": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "com.amazonaws.appflow#DomainName",
          "traits": {
            "smithy.api#documentation": "<p> The unique name of the Amazon Connect Customer Profiles domain. </p>",
            "smithy.api#required": {}
          }
        },
        "objectTypeName": {
          "target": "com.amazonaws.appflow#ObjectTypeName",
          "traits": {
            "smithy.api#documentation": "<p> The object specified in the Amazon Connect Customer Profiles flow destination.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The properties that are applied when Amazon Connect Customer Profiles is used as a\n      destination. </p>"
      }
    },
    "com.amazonaws.appflow#CustomerProfilesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> The connector metadata specific to Amazon Connect Customer Profiles. </p>"
      }
    },
    "com.amazonaws.appflow#DataApiRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^arn:aws:iam:.*:[0-9]+:"
      }
    },
    "com.amazonaws.appflow#DataPullMode": {
      "type": "enum",
      "members": {
        "INCREMENTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Incremental"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Complete"
          }
        }
      }
    },
    "com.amazonaws.appflow#DatabaseName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#DatabaseUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#DatadogConnectorOperator": {
      "type": "enum",
      "members": {
        "PROJECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROJECTION"
          }
        },
        "BETWEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BETWEEN"
          }
        },
        "EQUAL_TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUAL_TO"
          }
        },
        "ADDITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDITION"
          }
        },
        "MULTIPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTIPLICATION"
          }
        },
        "DIVISION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIVISION"
          }
        },
        "SUBTRACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBTRACTION"
          }
        },
        "MASK_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MASK_ALL"
          }
        },
        "MASK_FIRST_N": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MASK_FIRST_N"
          }
        },
        "MASK_LAST_N": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MASK_LAST_N"
          }
        },
        "VALIDATE_NON_NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATE_NON_NULL"
          }
        },
        "VALIDATE_NON_ZERO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATE_NON_ZERO"
          }
        },
        "VALIDATE_NON_NEGATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATE_NON_NEGATIVE"
          }
        },
        "VALIDATE_NUMERIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALIDATE_NUMERIC"
          }
        },
        "NO_OP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_OP"
          }
        }
      }
    },
    "com.amazonaws.appflow#DatadogConnectorProfileCredentials": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "com.amazonaws.appflow#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling\n      program to your API. </p>",
            "smithy.api#required": {}
          }
        },
        "applicationKey": {
          "target": "com.amazonaws.appflow#ApplicationKey",
          "traits": {
            "smithy.api#documentation": "<p> Application keys, in conjunction with your API key, give you full access to Datadog’s\n      programmatic API. Application keys are associated with the user account that created them. The\n      application key is used to log all requests made to the API. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The connector-specific credentials required by Datadog. </p>"
      }
    },
    "com.amazonaws.appflow#DatadogConnectorProfileProperties": {
      "type": "structure",
      "members": {
        "instanceUrl": {
          "target": "com.amazonaws.appflow#InstanceUrl",
          "traits": {
            "smithy.api#documentation": "<p> The location of the Datadog resource. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The connector-specific profile properties required by Datadog. </p>"
      }
    },
    "com.amazonaws.appflow#DatadogMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> The connector metadata specific to Datadog. </p>"
      }
    },
    "com.amazonaws.appflow#DatadogSourceProperties": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.amazonaws.appflow#Object",
          "traits": {
            "smithy.api#documentation": "<p> The object specified in the Datadog flow source. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The properties that are applied when Datadog is being used as a source. </p>"
      }
    },
    "com.amazonaws.appflow#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.appflow#DatetimeTypeFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.appflow#DeleteConnectorProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#DeleteConnectorProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#DeleteConnectorProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#ConflictException"
        },
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Enables you to delete an existing connector profile. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-connector-profile",
          "code": 200
        }
      }
    },
    "com.amazonaws.appflow#DeleteConnectorProfileRequest": {
      "type": "structure",
      "members": {
        "connectorProfileName": {
          "target": "com.amazonaws.appflow#ConnectorProfileName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the connector profile. The name is unique for each\n        <code>ConnectorProfile</code> in your account. </p>",
            "smithy.api#required": {}
          }
        },
        "forceDelete": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p> Indicates whether Amazon AppFlow should delete the profile, even if it is currently\n      in use in one or more flows. </p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DeleteConnectorProfileResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appflow#DeleteFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#DeleteFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#DeleteFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#ConflictException"
        },
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Enables your application to delete an existing flow. Before deleting the flow, Amazon AppFlow validates the request by checking the flow configuration and status. You can\n      delete flows one at a time. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-flow",
          "code": 200
        }
      }
    },
    "com.amazonaws.appflow#DeleteFlowRequest": {
      "type": "structure",
      "members": {
        "flowName": {
          "target": "com.amazonaws.appflow#FlowName",
          "traits": {
            "smithy.api#documentation": "<p> The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens\n      (-) only. </p>",
            "smithy.api#required": {}
          }
        },
        "forceDelete": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p> Indicates whether Amazon AppFlow should delete the flow, even if it is currently in\n      use. </p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DeleteFlowResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appflow#DescribeConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#DescribeConnectorRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#DescribeConnectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appflow#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the given custom connector registered in your Amazon Web Services account. This\n      API can be used for custom connectors that are registered in your account and also for Amazon\n      authored connectors.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-connector",
          "code": 200
        }
      }
    },
    "com.amazonaws.appflow#DescribeConnectorEntity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#DescribeConnectorEntityRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#DescribeConnectorEntityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#ConnectorAuthenticationException"
        },
        {
          "target": "com.amazonaws.appflow#ConnectorServerException"
        },
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appflow#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Provides details regarding the entity used with the connector, with a description of the\n      data model for each field in that entity. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-connector-entity",
          "code": 200
        }
      }
    },
    "com.amazonaws.appflow#DescribeConnectorEntityRequest": {
      "type": "structure",
      "members": {
[...]
