{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.appflow#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^arn:aws:.*:.*:[0-9]+:"
      }
    },
    "com.amazonaws.appflow#AccessKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appflow#AccessToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\S+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appflow#AccountName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#AggregationConfig": {
      "type": "structure",
      "members": {
        "aggregationType": {
          "target": "com.amazonaws.appflow#AggregationType",
          "traits": {
            "smithy.api#documentation": "<p> Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave\n      them unaggregated. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The aggregation settings that you can use to customize the output format of your flow\n      data. </p>"
      }
    },
    "com.amazonaws.appflow#AggregationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "None",
            "name": "NONE"
          },
          {
            "value": "SingleFile",
            "name": "SINGLE_FILE"
          }
        ]
      }
    },
    "com.amazonaws.appflow#AmplitudeConnectorOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BETWEEN",
            "name": "BETWEEN"
          }
        ]
      }
    },
    "com.amazonaws.appflow#AmplitudeConnectorProfileCredentials": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "com.amazonaws.appflow#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling\n      program to your API. </p>",
            "smithy.api#required": {}
          }
        },
        "secretKey": {
          "target": "com.amazonaws.appflow#SecretKey",
          "traits": {
            "smithy.api#documentation": "<p> The Secret Access Key portion of the credentials. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The connector-specific credentials required when using Amplitude. </p>"
      }
    },
    "com.amazonaws.appflow#AmplitudeConnectorProfileProperties": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> The connector-specific profile properties required when using Amplitude. </p>"
      }
    },
    "com.amazonaws.appflow#AmplitudeMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> The connector metadata specific to Amplitude. </p>"
      }
    },
    "com.amazonaws.appflow#AmplitudeSourceProperties": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.amazonaws.appflow#Object",
          "traits": {
            "smithy.api#documentation": "<p> The object specified in the Amplitude flow source. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The properties that are applied when Amplitude is being used as a source. </p>"
      }
    },
    "com.amazonaws.appflow#ApiKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#ApiSecretKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appflow#ApiToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#ApplicationHostUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^(https?)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]$"
      }
    },
    "com.amazonaws.appflow#ApplicationKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#ApplicationServicePath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#AuthCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#AuthCodeUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^(https?)://[-a-zA-Z0-9+&@#/%?=~_|!:,.;]*[-a-zA-Z0-9+&@#/%=~_|]$"
      }
    },
    "com.amazonaws.appflow#BasicAuthCredentials": {
      "type": "structure",
      "members": {
        "username": {
          "target": "com.amazonaws.appflow#Username",
          "traits": {
            "smithy.api#documentation": "<p> The username to use to connect to a resource. </p>",
            "smithy.api#required": {}
          }
        },
        "password": {
          "target": "com.amazonaws.appflow#Password",
          "traits": {
            "smithy.api#documentation": "<p> The password to use to connect to a resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The basic auth credentials required for basic authentication. </p>"
      }
    },
    "com.amazonaws.appflow#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.appflow#BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 63
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#BucketPrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.appflow#ClientCredentialsArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws:secretsmanager:.*:[0-9]+:",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appflow#ClientId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#ClientNumber": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 3
        },
        "smithy.api#pattern": "^\\d{3}$"
      }
    },
    "com.amazonaws.appflow#ClientSecret": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\S+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appflow#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.appflow#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> There was a conflict when processing the request (for example, a flow with the given name\n      already exists within the account. Check for conflicting resource names and try again. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.appflow#ConnectionMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Public",
            "name": "PUBLIC"
          },
          {
            "value": "Private",
            "name": "PRIVATE"
          }
        ]
      }
    },
    "com.amazonaws.appflow#ConnectorAuthenticationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.appflow#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> An error occurred when authenticating with the connector endpoint. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.appflow#ConnectorConfiguration": {
      "type": "structure",
      "members": {
        "canUseAsSource": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p> Specifies whether the connector can be used as a source. </p>"
          }
        },
        "canUseAsDestination": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p> Specifies whether the connector can be used as a destination. </p>"
          }
        },
        "supportedDestinationConnectors": {
          "target": "com.amazonaws.appflow#ConnectorTypeList",
          "traits": {
            "smithy.api#documentation": "<p> Lists the connectors that are available for use as destinations. </p>"
          }
        },
        "supportedSchedulingFrequencies": {
          "target": "com.amazonaws.appflow#SchedulingFrequencyTypeList",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the supported flow frequency for that connector. </p>"
          }
        },
        "isPrivateLinkEnabled": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p> Specifies if PrivateLink is enabled for that connector. </p>"
          }
        },
        "isPrivateLinkEndpointUrlRequired": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p> Specifies if a PrivateLink endpoint URL is required. </p>"
          }
        },
        "supportedTriggerTypes": {
          "target": "com.amazonaws.appflow#TriggerTypeList",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the supported trigger types for the flow. </p>"
          }
        },
        "connectorMetadata": {
          "target": "com.amazonaws.appflow#ConnectorMetadata",
          "traits": {
            "smithy.api#documentation": "<p> Specifies connector-specific metadata such as <code>oAuthScopes</code>,\n        <code>supportedRegions</code>, <code>privateLinkServiceUrl</code>, and so on. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The configuration settings related to a given connector. </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorConfigurationsMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.appflow#ConnectorType"
      },
      "value": {
        "target": "com.amazonaws.appflow#ConnectorConfiguration"
      }
    },
    "com.amazonaws.appflow#ConnectorEntity": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.appflow#Name",
          "traits": {
            "smithy.api#documentation": "<p> The name of the connector entity. </p>",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "com.amazonaws.appflow#Label",
          "traits": {
            "smithy.api#documentation": "<p> The label applied to the connector entity. </p>"
          }
        },
        "hasNestedEntities": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p> Specifies whether the connector entity is a parent or a category and has more entities\n      nested underneath it. If another call is made with <code>entitiesPath =\n        \"the_current_entity_name_with_hasNestedEntities_true\"</code>, then it returns the nested\n      entities underneath it. This provides a way to retrieve all supported entities in a recursive\n      fashion. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The high-level entity that can be queried in Amazon AppFlow. For example, a Salesforce\n      entity might be an <i>Account</i> or <i>Opportunity</i>, whereas a\n      ServiceNow entity might be an <i>Incident</i>. </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorEntityField": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "com.amazonaws.appflow#Identifier",
          "traits": {
            "smithy.api#documentation": "<p> The unique identifier of the connector field. </p>",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "com.amazonaws.appflow#Label",
          "traits": {
            "smithy.api#documentation": "<p> The label applied to a connector entity field. </p>"
          }
        },
        "supportedFieldTypeDetails": {
          "target": "com.amazonaws.appflow#SupportedFieldTypeDetails",
          "traits": {
            "smithy.api#documentation": "<p> Contains details regarding the supported <code>FieldType</code>, including the\n      corresponding <code>filterOperators</code> and <code>supportedValues</code>. </p>"
          }
        },
        "description": {
          "target": "com.amazonaws.appflow#Description",
          "traits": {
            "smithy.api#documentation": "<p> A description of the connector entity field. </p>"
          }
        },
        "sourceProperties": {
          "target": "com.amazonaws.appflow#SourceFieldProperties",
          "traits": {
            "smithy.api#documentation": "<p> The properties that can be applied to a field when the connector is being used as a\n      source. </p>"
          }
        },
        "destinationProperties": {
          "target": "com.amazonaws.appflow#DestinationFieldProperties",
          "traits": {
            "smithy.api#documentation": "<p> The properties applied to a field when the connector is being used as a destination.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Describes the data model of a connector field. For example, for an\n        <i>account</i> entity, the fields would be <i>account name</i>,\n        <i>account ID</i>, and so on. </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorEntityFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorEntityField"
      }
    },
    "com.amazonaws.appflow#ConnectorEntityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorEntity"
      }
    },
    "com.amazonaws.appflow#ConnectorEntityMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.appflow#Group"
      },
      "value": {
        "target": "com.amazonaws.appflow#ConnectorEntityList"
      }
    },
    "com.amazonaws.appflow#ConnectorMetadata": {
      "type": "structure",
      "members": {
        "Amplitude": {
          "target": "com.amazonaws.appflow#AmplitudeMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Amplitude. </p>"
          }
        },
        "Datadog": {
          "target": "com.amazonaws.appflow#DatadogMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Datadog. </p>"
          }
        },
        "Dynatrace": {
          "target": "com.amazonaws.appflow#DynatraceMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Dynatrace. </p>"
          }
        },
        "GoogleAnalytics": {
          "target": "com.amazonaws.appflow#GoogleAnalyticsMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Google Analytics. </p>"
          }
        },
        "InforNexus": {
          "target": "com.amazonaws.appflow#InforNexusMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Infor Nexus. </p>"
          }
        },
        "Marketo": {
          "target": "com.amazonaws.appflow#MarketoMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Marketo. </p>"
          }
        },
        "Redshift": {
          "target": "com.amazonaws.appflow#RedshiftMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Amazon Redshift. </p>"
          }
        },
        "S3": {
          "target": "com.amazonaws.appflow#S3Metadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Amazon S3. </p>"
          }
        },
        "Salesforce": {
          "target": "com.amazonaws.appflow#SalesforceMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Salesforce. </p>"
          }
        },
        "ServiceNow": {
          "target": "com.amazonaws.appflow#ServiceNowMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to ServiceNow. </p>"
          }
        },
        "Singular": {
          "target": "com.amazonaws.appflow#SingularMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Singular. </p>"
          }
        },
        "Slack": {
          "target": "com.amazonaws.appflow#SlackMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Slack. </p>"
          }
        },
        "Snowflake": {
          "target": "com.amazonaws.appflow#SnowflakeMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Snowflake. </p>"
          }
        },
        "Trendmicro": {
          "target": "com.amazonaws.appflow#TrendmicroMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Trend Micro. </p>"
          }
        },
        "Veeva": {
          "target": "com.amazonaws.appflow#VeevaMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Veeva. </p>"
          }
        },
        "Zendesk": {
          "target": "com.amazonaws.appflow#ZendeskMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Zendesk. </p>"
          }
        },
        "EventBridge": {
          "target": "com.amazonaws.appflow#EventBridgeMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Amazon EventBridge. </p>"
          }
        },
        "Upsolver": {
          "target": "com.amazonaws.appflow#UpsolverMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Upsolver. </p>"
          }
        },
        "CustomerProfiles": {
          "target": "com.amazonaws.appflow#CustomerProfilesMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Amazon Connect Customer Profiles. </p>"
          }
        },
        "Honeycode": {
          "target": "com.amazonaws.appflow#HoneycodeMetadata",
          "traits": {
            "smithy.api#documentation": "<p> The connector metadata specific to Amazon Honeycode. </p>"
          }
        },
        "SAPOData": {
          "target": "com.amazonaws.appflow#SAPODataMetadata"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A structure to specify connector-specific metadata such as <code>oAuthScopes</code>,\n        <code>supportedRegions</code>, <code>privateLinkServiceUrl</code>, and so on. </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorOAuthRequest": {
      "type": "structure",
      "members": {
        "authCode": {
          "target": "com.amazonaws.appflow#AuthCode",
          "traits": {
            "smithy.api#documentation": "<p> The code provided by the connector when it has been authenticated via the connected app.\n    </p>"
          }
        },
        "redirectUri": {
          "target": "com.amazonaws.appflow#RedirectUri",
          "traits": {
            "smithy.api#documentation": "<p> The URL to which the authentication server redirects the browser after authorization has\n      been granted. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Used by select connectors for which the OAuth workflow is supported, such as Salesforce,\n      Google Analytics, Marketo, Zendesk, and Slack. </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorOperator": {
      "type": "structure",
      "members": {
        "Amplitude": {
          "target": "com.amazonaws.appflow#AmplitudeConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Amplitude source fields. </p>"
          }
        },
        "Datadog": {
          "target": "com.amazonaws.appflow#DatadogConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Datadog source fields. </p>"
          }
        },
        "Dynatrace": {
          "target": "com.amazonaws.appflow#DynatraceConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Dynatrace source fields. </p>"
          }
        },
        "GoogleAnalytics": {
          "target": "com.amazonaws.appflow#GoogleAnalyticsConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Google Analytics source fields. </p>"
          }
        },
        "InforNexus": {
          "target": "com.amazonaws.appflow#InforNexusConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Infor Nexus source fields. </p>"
          }
        },
        "Marketo": {
          "target": "com.amazonaws.appflow#MarketoConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Marketo source fields. </p>"
          }
        },
        "S3": {
          "target": "com.amazonaws.appflow#S3ConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Amazon S3 source fields. </p>"
          }
        },
        "Salesforce": {
          "target": "com.amazonaws.appflow#SalesforceConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Salesforce source fields. </p>"
          }
        },
        "ServiceNow": {
          "target": "com.amazonaws.appflow#ServiceNowConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided ServiceNow source fields. </p>"
          }
        },
        "Singular": {
          "target": "com.amazonaws.appflow#SingularConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Singular source fields. </p>"
          }
        },
        "Slack": {
          "target": "com.amazonaws.appflow#SlackConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Slack source fields. </p>"
          }
        },
        "Trendmicro": {
          "target": "com.amazonaws.appflow#TrendmicroConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Trend Micro source fields. </p>"
          }
        },
        "Veeva": {
          "target": "com.amazonaws.appflow#VeevaConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Veeva source fields. </p>"
          }
        },
        "Zendesk": {
          "target": "com.amazonaws.appflow#ZendeskConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided Zendesk source fields. </p>"
          }
        },
        "SAPOData": {
          "target": "com.amazonaws.appflow#SAPODataConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p> The operation to be performed on the provided SAPOData source fields. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The operation to be performed on the provided source fields. </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorProfile": {
      "type": "structure",
      "members": {
        "connectorProfileArn": {
          "target": "com.amazonaws.appflow#ConnectorProfileArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the connector profile. </p>"
          }
        },
        "connectorProfileName": {
          "target": "com.amazonaws.appflow#ConnectorProfileName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the connector profile. The name is unique for each\n        <code>ConnectorProfile</code> in the Amazon Web Services account. </p>"
          }
        },
        "connectorType": {
          "target": "com.amazonaws.appflow#ConnectorType",
          "traits": {
            "smithy.api#documentation": "<p> The type of connector, such as Salesforce, Amplitude, and so on. </p>"
          }
        },
        "connectionMode": {
          "target": "com.amazonaws.appflow#ConnectionMode",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the connection mode and if it is public or private. </p>"
          }
        },
        "credentialsArn": {
          "target": "com.amazonaws.appflow#ARN",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the connector profile credentials. </p>"
          }
        },
        "connectorProfileProperties": {
          "target": "com.amazonaws.appflow#ConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties of the profile configuration. </p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p> Specifies when the connector profile was created. </p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p> Specifies when the connector profile was last updated. </p>"
          }
        },
        "privateConnectionProvisioningState": {
          "target": "com.amazonaws.appflow#PrivateConnectionProvisioningState",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the private connection provisioning state. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Describes an instance of a connector. This includes the provided name, credentials ARN,\n      connection-mode, and so on. To keep the API intuitive and extensible, the fields that are\n      common to all types of connector profiles are explicitly specified at the top level. The rest\n      of the connector-specific properties are available via the\n        <code>connectorProfileProperties</code> field. </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorProfileArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^arn:aws:kms:.*:[0-9]+:"
      }
    },
    "com.amazonaws.appflow#ConnectorProfileConfig": {
      "type": "structure",
      "members": {
        "connectorProfileProperties": {
          "target": "com.amazonaws.appflow#ConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties of the profile configuration. </p>",
            "smithy.api#required": {}
          }
        },
        "connectorProfileCredentials": {
          "target": "com.amazonaws.appflow#ConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required by each connector. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Defines the connector-specific configuration and credentials for the connector profile.\n    </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorProfileCredentials": {
      "type": "structure",
      "members": {
        "Amplitude": {
          "target": "com.amazonaws.appflow#AmplitudeConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Amplitude. </p>"
          }
        },
        "Datadog": {
          "target": "com.amazonaws.appflow#DatadogConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Datadog. </p>"
          }
        },
        "Dynatrace": {
          "target": "com.amazonaws.appflow#DynatraceConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Dynatrace. </p>"
          }
        },
        "GoogleAnalytics": {
          "target": "com.amazonaws.appflow#GoogleAnalyticsConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Google Analytics. </p>"
          }
        },
        "Honeycode": {
          "target": "com.amazonaws.appflow#HoneycodeConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Amazon Honeycode. </p>"
          }
        },
        "InforNexus": {
          "target": "com.amazonaws.appflow#InforNexusConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Infor Nexus. </p>"
          }
        },
        "Marketo": {
          "target": "com.amazonaws.appflow#MarketoConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Marketo. </p>"
          }
        },
        "Redshift": {
          "target": "com.amazonaws.appflow#RedshiftConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Amazon Redshift. </p>"
          }
        },
        "Salesforce": {
          "target": "com.amazonaws.appflow#SalesforceConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Salesforce. </p>"
          }
        },
        "ServiceNow": {
          "target": "com.amazonaws.appflow#ServiceNowConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using ServiceNow. </p>"
          }
        },
        "Singular": {
          "target": "com.amazonaws.appflow#SingularConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Singular. </p>"
          }
        },
        "Slack": {
          "target": "com.amazonaws.appflow#SlackConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Slack. </p>"
          }
        },
        "Snowflake": {
          "target": "com.amazonaws.appflow#SnowflakeConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Snowflake. </p>"
          }
        },
        "Trendmicro": {
          "target": "com.amazonaws.appflow#TrendmicroConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Trend Micro. </p>"
          }
        },
        "Veeva": {
          "target": "com.amazonaws.appflow#VeevaConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Veeva. </p>"
          }
        },
        "Zendesk": {
          "target": "com.amazonaws.appflow#ZendeskConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific credentials required when using Zendesk. </p>"
          }
        },
        "SAPOData": {
          "target": "com.amazonaws.appflow#SAPODataConnectorProfileCredentials"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The connector-specific credentials required by a connector. </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorProfileDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorProfile"
      }
    },
    "com.amazonaws.appflow#ConnectorProfileName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[\\w/!@#+=.-]+$"
      }
    },
    "com.amazonaws.appflow#ConnectorProfileNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorProfileName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.appflow#ConnectorProfileProperties": {
      "type": "structure",
      "members": {
        "Amplitude": {
          "target": "com.amazonaws.appflow#AmplitudeConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Amplitude. </p>"
          }
        },
        "Datadog": {
          "target": "com.amazonaws.appflow#DatadogConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Datadog. </p>"
          }
        },
        "Dynatrace": {
          "target": "com.amazonaws.appflow#DynatraceConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Dynatrace. </p>"
          }
        },
        "GoogleAnalytics": {
          "target": "com.amazonaws.appflow#GoogleAnalyticsConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required Google Analytics. </p>"
          }
        },
        "Honeycode": {
          "target": "com.amazonaws.appflow#HoneycodeConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Amazon Honeycode. </p>"
          }
        },
        "InforNexus": {
          "target": "com.amazonaws.appflow#InforNexusConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Infor Nexus. </p>"
          }
        },
        "Marketo": {
          "target": "com.amazonaws.appflow#MarketoConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Marketo. </p>"
          }
        },
        "Redshift": {
          "target": "com.amazonaws.appflow#RedshiftConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Amazon Redshift. </p>"
          }
        },
        "Salesforce": {
          "target": "com.amazonaws.appflow#SalesforceConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Salesforce. </p>"
          }
        },
        "ServiceNow": {
          "target": "com.amazonaws.appflow#ServiceNowConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by serviceNow. </p>"
          }
        },
        "Singular": {
          "target": "com.amazonaws.appflow#SingularConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Singular. </p>"
          }
        },
        "Slack": {
          "target": "com.amazonaws.appflow#SlackConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Slack. </p>"
          }
        },
        "Snowflake": {
          "target": "com.amazonaws.appflow#SnowflakeConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Snowflake. </p>"
          }
        },
        "Trendmicro": {
          "target": "com.amazonaws.appflow#TrendmicroConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Trend Micro. </p>"
          }
        },
        "Veeva": {
          "target": "com.amazonaws.appflow#VeevaConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Veeva. </p>"
          }
        },
        "Zendesk": {
          "target": "com.amazonaws.appflow#ZendeskConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p> The connector-specific properties required by Zendesk. </p>"
          }
        },
        "SAPOData": {
          "target": "com.amazonaws.appflow#SAPODataConnectorProfileProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The connector-specific profile properties required by each connector. </p>"
      }
    },
    "com.amazonaws.appflow#ConnectorServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.appflow#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> An error occurred when retrieving data from the connector endpoint. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.appflow#ConnectorType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Salesforce",
            "name": "SALESFORCE"
          },
          {
            "value": "Singular",
            "name": "SINGULAR"
          },
          {
            "value": "Slack",
            "name": "SLACK"
          },
          {
            "value": "Redshift",
            "name": "REDSHIFT"
          },
          {
            "value": "S3",
            "name": "S3"
          },
          {
            "value": "Marketo",
            "name": "MARKETO"
          },
          {
            "value": "Googleanalytics",
            "name": "GOOGLEANALYTICS"
          },
          {
            "value": "Zendesk",
            "name": "ZENDESK"
          },
          {
            "value": "Servicenow",
            "name": "SERVICENOW"
          },
          {
            "value": "Datadog",
            "name": "DATADOG"
          },
          {
            "value": "Trendmicro",
            "name": "TRENDMICRO"
          },
          {
            "value": "Snowflake",
            "name": "SNOWFLAKE"
          },
          {
            "value": "Dynatrace",
            "name": "DYNATRACE"
          },
          {
            "value": "Infornexus",
            "name": "INFORNEXUS"
          },
          {
            "value": "Amplitude",
            "name": "AMPLITUDE"
          },
          {
            "value": "Veeva",
            "name": "VEEVA"
          },
          {
            "value": "EventBridge",
            "name": "EVENTBRIDGE"
          },
          {
            "value": "LookoutMetrics",
            "name": "LOOKOUTMETRICS"
          },
          {
            "value": "Upsolver",
            "name": "UPSOLVER"
          },
          {
            "value": "Honeycode",
            "name": "HONEYCODE"
          },
          {
            "value": "CustomerProfiles",
            "name": "CUSTOMERPROFILES"
          },
          {
            "value": "SAPOData",
            "name": "SAPODATA"
          }
        ]
      }
    },
    "com.amazonaws.appflow#ConnectorTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.appflow#CreateConnectorProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#CreateConnectorProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#CreateConnectorProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#ConflictException"
        },
        {
          "target": "com.amazonaws.appflow#ConnectorAuthenticationException"
        },
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.appflow#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a new connector profile associated with your Amazon Web Services account. There is a soft quota\n      of 100 connector profiles per Amazon Web Services account. If you need more connector profiles than this quota\n      allows, you can submit a request to the Amazon AppFlow team through the Amazon AppFlow support\n      channel. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/create-connector-profile",
          "code": 200
        }
      }
    },
    "com.amazonaws.appflow#CreateConnectorProfileRequest": {
      "type": "structure",
      "members": {
        "connectorProfileName": {
          "target": "com.amazonaws.appflow#ConnectorProfileName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the connector profile. The name is unique for each\n        <code>ConnectorProfile</code> in your Amazon Web Services account. </p>",
            "smithy.api#required": {}
          }
        },
        "kmsArn": {
          "target": "com.amazonaws.appflow#KMSArn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN (Amazon Resource Name) of the Key Management Service (KMS) key you provide for\n      encryption. This is required if you do not want to use the Amazon AppFlow-managed KMS key. If\n      you don't provide anything here, Amazon AppFlow uses the Amazon AppFlow-managed KMS key.\n    </p>"
          }
        },
        "connectorType": {
          "target": "com.amazonaws.appflow#ConnectorType",
          "traits": {
            "smithy.api#documentation": "<p> The type of connector, such as Salesforce, Amplitude, and so on. </p>",
            "smithy.api#required": {}
          }
        },
        "connectionMode": {
          "target": "com.amazonaws.appflow#ConnectionMode",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the connection mode and specifies whether it is public or private. Private\n      flows use Amazon Web Services PrivateLink to route data over Amazon Web Services infrastructure without exposing it to the\n      public internet. </p>",
            "smithy.api#required": {}
          }
        },
        "connectorProfileConfig": {
          "target": "com.amazonaws.appflow#ConnectorProfileConfig",
          "traits": {
            "smithy.api#documentation": "<p> Defines the connector-specific configuration and credentials. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appflow#CreateConnectorProfileResponse": {
      "type": "structure",
      "members": {
        "connectorProfileArn": {
          "target": "com.amazonaws.appflow#ConnectorProfileArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the connector profile. </p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#CreateFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#CreateFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#CreateFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#ConflictException"
        },
        {
          "target": "com.amazonaws.appflow#ConnectorAuthenticationException"
        },
        {
          "target": "com.amazonaws.appflow#ConnectorServerException"
        },
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appflow#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.appflow#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Enables your application to create a new flow using Amazon AppFlow. You must create a\n      connector profile before calling this API. Please note that the Request Syntax below shows\n      syntax for multiple destinations, however, you can only transfer data to one item in this list\n      at a time. Amazon AppFlow does not currently support flows to multiple destinations at once. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/create-flow",
          "code": 200
        }
      }
    },
    "com.amazonaws.appflow#CreateFlowRequest": {
      "type": "structure",
      "members": {
        "flowName": {
          "target": "com.amazonaws.appflow#FlowName",
          "traits": {
            "smithy.api#documentation": "<p> The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens\n      (-) only. </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.appflow#FlowDescription",
          "traits": {
            "smithy.api#documentation": "<p> A description of the flow you want to create. </p>"
          }
        },
        "kmsArn": {
          "target": "com.amazonaws.appflow#KMSArn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN (Amazon Resource Name) of the Key Management Service (KMS) key you provide for\n      encryption. This is required if you do not want to use the Amazon AppFlow-managed KMS key. If\n      you don't provide anything here, Amazon AppFlow uses the Amazon AppFlow-managed KMS key.\n    </p>"
          }
        },
        "triggerConfig": {
          "target": "com.amazonaws.appflow#TriggerConfig",
          "traits": {
            "smithy.api#documentation": "<p> The trigger settings that determine how and when the flow runs. </p>",
            "smithy.api#required": {}
          }
        },
        "sourceFlowConfig": {
          "target": "com.amazonaws.appflow#SourceFlowConfig",
          "traits": {
            "smithy.api#documentation": "<p> The configuration that controls how Amazon AppFlow retrieves data from the source\n      connector. </p>",
            "smithy.api#required": {}
          }
        },
        "destinationFlowConfigList": {
          "target": "com.amazonaws.appflow#DestinationFlowConfigList",
          "traits": {
            "smithy.api#documentation": "<p> The configuration that controls how Amazon AppFlow places data in the destination\n      connector. </p>",
            "smithy.api#required": {}
          }
        },
        "tasks": {
          "target": "com.amazonaws.appflow#Tasks",
          "traits": {
            "smithy.api#documentation": "<p> A list of tasks that Amazon AppFlow performs while transferring the data in the flow run.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.appflow#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tags used to organize, track, or control access for your flow. </p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#CreateFlowResponse": {
      "type": "structure",
      "members": {
        "flowArn": {
          "target": "com.amazonaws.appflow#FlowArn",
          "traits": {
            "smithy.api#documentation": "<p> The flow's Amazon Resource Name (ARN). </p>"
          }
        },
        "flowStatus": {
          "target": "com.amazonaws.appflow#FlowStatus",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the current status of the flow. </p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#CreatedBy": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#CustomerProfilesDestinationProperties": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "com.amazonaws.appflow#DomainName",
          "traits": {
            "smithy.api#documentation": "<p> The unique name of the Amazon Connect Customer Profiles domain. </p>",
            "smithy.api#required": {}
          }
        },
        "objectTypeName": {
          "target": "com.amazonaws.appflow#ObjectTypeName",
          "traits": {
            "smithy.api#documentation": "<p> The object specified in the Amazon Connect Customer Profiles flow destination. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The properties that are applied when Amazon Connect Customer Profiles is used as a\n      destination. </p>"
      }
    },
    "com.amazonaws.appflow#CustomerProfilesMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> The connector metadata specific to Amazon Connect Customer Profiles. </p>"
      }
    },
    "com.amazonaws.appflow#DataPullMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Incremental",
            "name": "INCREMENTAL"
          },
          {
            "value": "Complete",
            "name": "COMPLETE"
          }
        ]
      }
    },
    "com.amazonaws.appflow#DatabaseUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#DatadogConnectorOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PROJECTION",
            "name": "PROJECTION"
          },
          {
            "value": "BETWEEN",
            "name": "BETWEEN"
          },
          {
            "value": "EQUAL_TO",
            "name": "EQUAL_TO"
          },
          {
            "value": "ADDITION",
            "name": "ADDITION"
          },
          {
            "value": "MULTIPLICATION",
            "name": "MULTIPLICATION"
          },
          {
            "value": "DIVISION",
            "name": "DIVISION"
          },
          {
            "value": "SUBTRACTION",
            "name": "SUBTRACTION"
          },
          {
            "value": "MASK_ALL",
            "name": "MASK_ALL"
          },
          {
            "value": "MASK_FIRST_N",
            "name": "MASK_FIRST_N"
          },
          {
            "value": "MASK_LAST_N",
            "name": "MASK_LAST_N"
          },
          {
            "value": "VALIDATE_NON_NULL",
            "name": "VALIDATE_NON_NULL"
          },
          {
            "value": "VALIDATE_NON_ZERO",
            "name": "VALIDATE_NON_ZERO"
          },
          {
            "value": "VALIDATE_NON_NEGATIVE",
            "name": "VALIDATE_NON_NEGATIVE"
          },
          {
            "value": "VALIDATE_NUMERIC",
            "name": "VALIDATE_NUMERIC"
          },
          {
            "value": "NO_OP",
            "name": "NO_OP"
          }
        ]
      }
    },
    "com.amazonaws.appflow#DatadogConnectorProfileCredentials": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "com.amazonaws.appflow#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p> A unique alphanumeric identifier used to authenticate a user, developer, or calling\n      program to your API. </p>",
            "smithy.api#required": {}
          }
        },
        "applicationKey": {
          "target": "com.amazonaws.appflow#ApplicationKey",
          "traits": {
            "smithy.api#documentation": "<p> Application keys, in conjunction with your API key, give you full access to Datadog’s\n      programmatic API. Application keys are associated with the user account that created them. The\n      application key is used to log all requests made to the API. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The connector-specific credentials required by Datadog. </p>"
      }
    },
    "com.amazonaws.appflow#DatadogConnectorProfileProperties": {
      "type": "structure",
      "members": {
        "instanceUrl": {
          "target": "com.amazonaws.appflow#InstanceUrl",
          "traits": {
            "smithy.api#documentation": "<p> The location of the Datadog resource. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The connector-specific profile properties required by Datadog. </p>"
      }
    },
    "com.amazonaws.appflow#DatadogMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> The connector metadata specific to Datadog. </p>"
      }
    },
    "com.amazonaws.appflow#DatadogSourceProperties": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.amazonaws.appflow#Object",
          "traits": {
            "smithy.api#documentation": "<p> The object specified in the Datadog flow source. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The properties that are applied when Datadog is being used as a source. </p>"
      }
    },
    "com.amazonaws.appflow#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.appflow#DatetimeTypeFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.appflow#DeleteConnectorProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#DeleteConnectorProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#DeleteConnectorProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#ConflictException"
        },
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Enables you to delete an existing connector profile. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-connector-profile",
          "code": 200
        }
      }
    },
    "com.amazonaws.appflow#DeleteConnectorProfileRequest": {
      "type": "structure",
      "members": {
        "connectorProfileName": {
          "target": "com.amazonaws.appflow#ConnectorProfileName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the connector profile. The name is unique for each\n        <code>ConnectorProfile</code> in your account. </p>",
            "smithy.api#required": {}
          }
        },
        "forceDelete": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p> Indicates whether Amazon AppFlow should delete the profile, even if it is currently in\n      use in one or more flows. </p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DeleteConnectorProfileResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appflow#DeleteFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#DeleteFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#DeleteFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#ConflictException"
        },
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Enables your application to delete an existing flow. Before deleting the flow, Amazon\n      AppFlow validates the request by checking the flow configuration and status. You can delete\n      flows one at a time. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-flow",
          "code": 200
        }
      }
    },
    "com.amazonaws.appflow#DeleteFlowRequest": {
      "type": "structure",
      "members": {
        "flowName": {
          "target": "com.amazonaws.appflow#FlowName",
          "traits": {
            "smithy.api#documentation": "<p> The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens\n      (-) only. </p>",
            "smithy.api#required": {}
          }
        },
        "forceDelete": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p> Indicates whether Amazon AppFlow should delete the flow, even if it is currently in use.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DeleteFlowResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appflow#DescribeConnectorEntity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#DescribeConnectorEntityRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#DescribeConnectorEntityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#ConnectorAuthenticationException"
        },
        {
          "target": "com.amazonaws.appflow#ConnectorServerException"
        },
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appflow#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Provides details regarding the entity used with the connector, with a description of the\n      data model for each entity. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-connector-entity",
          "code": 200
        }
      }
    },
    "com.amazonaws.appflow#DescribeConnectorEntityRequest": {
      "type": "structure",
      "members": {
        "connectorEntityName": {
          "target": "com.amazonaws.appflow#Name",
          "traits": {
            "smithy.api#documentation": "<p> The entity name for that connector. </p>",
            "smithy.api#required": {}
          }
        },
        "connectorType": {
          "target": "com.amazonaws.appflow#ConnectorType",
          "traits": {
            "smithy.api#documentation": "<p> The type of connector application, such as Salesforce, Amplitude, and so on. </p>"
          }
        },
        "connectorProfileName": {
          "target": "com.amazonaws.appflow#ConnectorProfileName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the connector profile. The name is unique for each\n        <code>ConnectorProfile</code> in the Amazon Web Services account. </p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DescribeConnectorEntityResponse": {
      "type": "structure",
      "members": {
        "connectorEntityFields": {
          "target": "com.amazonaws.appflow#ConnectorEntityFieldList",
          "traits": {
            "smithy.api#documentation": "<p> Describes the fields for that connector entity. For example, for an\n        <i>account</i> entity, the fields would be <i>account name</i>,\n        <i>account ID</i>, and so on. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appflow#DescribeConnectorProfiles": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#DescribeConnectorProfilesRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#DescribeConnectorProfilesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Returns a list of <code>connector-profile</code> details matching the provided\n        <code>connector-profile</code> names and <code>connector-types</code>. Both input lists are\n      optional, and you can use them to filter the result. </p>\n         <p>If no names or <code>connector-types</code> are provided, returns all connector profiles\n      in a paginated form. If there is no match, this operation returns an empty list.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-connector-profiles",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.appflow#DescribeConnectorProfilesRequest": {
      "type": "structure",
      "members": {
        "connectorProfileNames": {
          "target": "com.amazonaws.appflow#ConnectorProfileNameList",
          "traits": {
            "smithy.api#documentation": "<p> The name of the connector profile. The name is unique for each\n        <code>ConnectorProfile</code> in the Amazon Web Services account. </p>"
          }
        },
        "connectorType": {
          "target": "com.amazonaws.appflow#ConnectorType",
          "traits": {
            "smithy.api#documentation": "<p> The type of connector, such as Salesforce, Amplitude, and so on. </p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.appflow#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the maximum number of items that should be returned in the result set. The\n      default for <code>maxResults</code> is 20 (for all paginated API operations). </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.appflow#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> The pagination token for the next page of data. </p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DescribeConnectorProfilesResponse": {
      "type": "structure",
      "members": {
        "connectorProfileDetails": {
          "target": "com.amazonaws.appflow#ConnectorProfileDetailList",
          "traits": {
            "smithy.api#documentation": "<p> Returns information about the connector profiles associated with the flow. </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.appflow#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> The pagination token for the next page of data. If <code>nextToken=null</code>, this\n      means that all records have been fetched. </p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DescribeConnectors": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#DescribeConnectorsRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#DescribeConnectorsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Describes the connectors vended by Amazon AppFlow for specified connector types. If you\n      don't specify a connector type, this operation describes all connectors vended by Amazon\n      AppFlow. If there are more connectors than can be returned in one page, the response contains\n      a <code>nextToken</code> object, which can be be passed in to the next call to the\n        <code>DescribeConnectors</code> API operation to retrieve the next page. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-connectors",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken"
        }
      }
    },
    "com.amazonaws.appflow#DescribeConnectorsRequest": {
      "type": "structure",
      "members": {
        "connectorTypes": {
          "target": "com.amazonaws.appflow#ConnectorTypeList",
          "traits": {
            "smithy.api#documentation": "<p> The type of connector, such as Salesforce, Amplitude, and so on. </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.appflow#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> The pagination token for the next page of data. </p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DescribeConnectorsResponse": {
      "type": "structure",
      "members": {
        "connectorConfigurations": {
          "target": "com.amazonaws.appflow#ConnectorConfigurationsMap",
          "traits": {
            "smithy.api#documentation": "<p> The configuration that is applied to the connectors used in the flow. </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.appflow#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> The pagination token for the next page of data. </p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DescribeFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#DescribeFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#DescribeFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Provides a description of the specified flow. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-flow",
          "code": 200
        }
      }
    },
    "com.amazonaws.appflow#DescribeFlowExecutionRecords": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#DescribeFlowExecutionRecordsRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#DescribeFlowExecutionRecordsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appflow#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Fetches the execution history of the flow. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-flow-execution-records",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.appflow#DescribeFlowExecutionRecordsRequest": {
      "type": "structure",
      "members": {
        "flowName": {
          "target": "com.amazonaws.appflow#FlowName",
          "traits": {
            "smithy.api#documentation": "<p> The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens\n      (-) only. </p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.appflow#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the maximum number of items that should be returned in the result set. The\n      default for <code>maxResults</code> is 20 (for all paginated API operations). </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.appflow#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> The pagination token for the next page of data. </p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DescribeFlowExecutionRecordsResponse": {
      "type": "structure",
      "members": {
        "flowExecutions": {
          "target": "com.amazonaws.appflow#FlowExecutionList",
          "traits": {
            "smithy.api#documentation": "<p> Returns a list of all instances when this flow was run. </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.appflow#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> The pagination token for the next page of data. </p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DescribeFlowRequest": {
      "type": "structure",
      "members": {
        "flowName": {
          "target": "com.amazonaws.appflow#FlowName",
          "traits": {
            "smithy.api#documentation": "<p> The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens\n      (-) only. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appflow#DescribeFlowResponse": {
      "type": "structure",
      "members": {
        "flowArn": {
          "target": "com.amazonaws.appflow#FlowArn",
          "traits": {
            "smithy.api#documentation": "<p> The flow's Amazon Resource Name (ARN). </p>"
          }
        },
        "description": {
          "target": "com.amazonaws.appflow#FlowDescription",
          "traits": {
            "smithy.api#documentation": "<p> A description of the flow. </p>"
          }
        },
        "flowName": {
          "target": "com.amazonaws.appflow#FlowName",
          "traits": {
            "smithy.api#documentation": "<p> The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens\n      (-) only. </p>"
          }
        },
        "kmsArn": {
          "target": "com.amazonaws.appflow#KMSArn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN (Amazon Resource Name) of the Key Management Service (KMS) key you provide for\n      encryption. This is required if you do not want to use the Amazon AppFlow-managed KMS key. If\n      you don't provide anything here, Amazon AppFlow uses the Amazon AppFlow-managed KMS key.\n    </p>"
          }
        },
        "flowStatus": {
          "target": "com.amazonaws.appflow#FlowStatus",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the current status of the flow. </p>"
          }
        },
        "flowStatusMessage": {
          "target": "com.amazonaws.appflow#FlowStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p> Contains an error message if the flow status is in a suspended or error state. This\n      applies only to scheduled or event-triggered flows. </p>"
          }
        },
        "sourceFlowConfig": {
          "target": "com.amazonaws.appflow#SourceFlowConfig",
          "traits": {
            "smithy.api#documentation": "<p> The configuration that controls how Amazon AppFlow retrieves data from the source\n      connector. </p>"
          }
        },
        "destinationFlowConfigList": {
          "target": "com.amazonaws.appflow#DestinationFlowConfigList",
          "traits": {
            "smithy.api#documentation": "<p> The configuration that controls how Amazon AppFlow transfers data to the destination\n      connector. </p>"
          }
        },
        "lastRunExecutionDetails": {
          "target": "com.amazonaws.appflow#ExecutionDetails",
          "traits": {
            "smithy.api#documentation": "<p> Describes the details of the most recent flow run. </p>"
          }
        },
        "triggerConfig": {
          "target": "com.amazonaws.appflow#TriggerConfig",
          "traits": {
            "smithy.api#documentation": "<p> The trigger settings that determine how and when the flow runs. </p>"
          }
        },
        "tasks": {
          "target": "com.amazonaws.appflow#Tasks",
          "traits": {
            "smithy.api#documentation": "<p> A list of tasks that Amazon AppFlow performs while transferring the data in the flow run.\n    </p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p> Specifies when the flow was created. </p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p> Specifies when the flow was last updated. </p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.appflow#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of the user who created the flow. </p>"
          }
        },
        "lastUpdatedBy": {
          "target": "com.amazonaws.appflow#UpdatedBy",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the user name of the account that performed the most recent update. </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.appflow#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tags used to organize, track, or control access for your flow. </p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^[\\s\\w/!@#+=.-]*$"
      }
    },
    "com.amazonaws.appflow#DestinationConnectorProperties": {
      "type": "structure",
      "members": {
        "Redshift": {
          "target": "com.amazonaws.appflow#RedshiftDestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p> The properties required to query Amazon Redshift. </p>"
          }
        },
        "S3": {
          "target": "com.amazonaws.appflow#S3DestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p> The properties required to query Amazon S3. </p>"
          }
        },
        "Salesforce": {
          "target": "com.amazonaws.appflow#SalesforceDestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p> The properties required to query Salesforce. </p>"
          }
        },
        "Snowflake": {
          "target": "com.amazonaws.appflow#SnowflakeDestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p> The properties required to query Snowflake. </p>"
          }
        },
        "EventBridge": {
          "target": "com.amazonaws.appflow#EventBridgeDestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p> The properties required to query Amazon EventBridge. </p>"
          }
        },
        "LookoutMetrics": {
          "target": "com.amazonaws.appflow#LookoutMetricsDestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p> The properties required to query Amazon Lookout for Metrics. </p>"
          }
        },
        "Upsolver": {
          "target": "com.amazonaws.appflow#UpsolverDestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p> The properties required to query Upsolver. </p>"
          }
        },
        "Honeycode": {
          "target": "com.amazonaws.appflow#HoneycodeDestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p> The properties required to query Amazon Honeycode. </p>"
          }
        },
        "CustomerProfiles": {
          "target": "com.amazonaws.appflow#CustomerProfilesDestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p> The properties required to query Amazon Connect Customer Profiles. </p>"
          }
        },
        "Zendesk": {
          "target": "com.amazonaws.appflow#ZendeskDestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p>The properties required to query Zendesk.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> This stores the information that is required to query a particular connector. </p>"
      }
    },
    "com.amazonaws.appflow#DestinationField": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.appflow#DestinationFieldProperties": {
      "type": "structure",
      "members": {
        "isCreatable": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p> Specifies if the destination field can be created by the current user. </p>"
          }
        },
        "isNullable": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p> Specifies if the destination field can have a null value. </p>"
          }
        },
        "isUpsertable": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p> Specifies if the flow run can either insert new rows in the destination field if they do\n      not already exist, or update them if they do. </p>"
          }
        },
        "isUpdatable": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p> Specifies whether the field can be updated during an <code>UPDATE</code> or\n        <code>UPSERT</code> write operation. </p>"
          }
        },
        "supportedWriteOperations": {
          "target": "com.amazonaws.appflow#SupportedWriteOperationList",
          "traits": {
            "smithy.api#documentation": "<p> A list of supported write operations. For each write operation listed, this field can be\n      used in <code>idFieldNames</code> when that write operation is present as a destination\n      option. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The properties that can be applied to a field when connector is being used as a\n      destination. </p>"
      }
    },
    "com.amazonaws.appflow#DestinationFlowConfig": {
      "type": "structure",
      "members": {
        "connectorType": {
          "target": "com.amazonaws.appflow#ConnectorType",
          "traits": {
            "smithy.api#documentation": "<p> The type of connector, such as Salesforce, Amplitude, and so on. </p>",
            "smithy.api#required": {}
          }
        },
        "connectorProfileName": {
          "target": "com.amazonaws.appflow#ConnectorProfileName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the connector profile. This name must be unique for each connector profile in\n      the Amazon Web Services account. </p>"
          }
        },
        "destinationConnectorProperties": {
          "target": "com.amazonaws.appflow#DestinationConnectorProperties",
          "traits": {
            "smithy.api#documentation": "<p> This stores the information that is required to query a particular connector. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Contains information about the configuration of destination connectors present in the\n      flow. </p>"
      }
    },
    "com.amazonaws.appflow#DestinationFlowConfigList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#DestinationFlowConfig"
      }
    },
    "com.amazonaws.appflow#DocumentType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^[\\s\\w_-]+$"
      }
    },
    "com.amazonaws.appflow#DomainName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#DynatraceConnectorOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PROJECTION",
            "name": "PROJECTION"
          },
          {
            "value": "BETWEEN",
            "name": "BETWEEN"
          },
          {
            "value": "EQUAL_TO",
            "name": "EQUAL_TO"
          },
          {
            "value": "ADDITION",
            "name": "ADDITION"
          },
          {
            "value": "MULTIPLICATION",
            "name": "MULTIPLICATION"
          },
          {
            "value": "DIVISION",
            "name": "DIVISION"
          },
          {
            "value": "SUBTRACTION",
            "name": "SUBTRACTION"
          },
          {
            "value": "MASK_ALL",
            "name": "MASK_ALL"
          },
          {
            "value": "MASK_FIRST_N",
            "name": "MASK_FIRST_N"
          },
          {
            "value": "MASK_LAST_N",
            "name": "MASK_LAST_N"
          },
          {
            "value": "VALIDATE_NON_NULL",
            "name": "VALIDATE_NON_NULL"
          },
          {
            "value": "VALIDATE_NON_ZERO",
            "name": "VALIDATE_NON_ZERO"
          },
          {
            "value": "VALIDATE_NON_NEGATIVE",
            "name": "VALIDATE_NON_NEGATIVE"
          },
          {
            "value": "VALIDATE_NUMERIC",
            "name": "VALIDATE_NUMERIC"
          },
          {
            "value": "NO_OP",
            "name": "NO_OP"
          }
        ]
      }
    },
    "com.amazonaws.appflow#DynatraceConnectorProfileCredentials": {
      "type": "structure",
      "members": {
        "apiToken": {
          "target": "com.amazonaws.appflow#ApiToken",
          "traits": {
            "smithy.api#documentation": "<p> The API tokens used by Dynatrace API to authenticate various API calls. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The connector-specific profile credentials required by Dynatrace. </p>"
      }
    },
    "com.amazonaws.appflow#DynatraceConnectorProfileProperties": {
      "type": "structure",
      "members": {
        "instanceUrl": {
          "target": "com.amazonaws.appflow#InstanceUrl",
          "traits": {
            "smithy.api#documentation": "<p> The location of the Dynatrace resource. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The connector-specific profile properties required by Dynatrace. </p>"
      }
    },
    "com.amazonaws.appflow#DynatraceMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> The connector metadata specific to Dynatrace. </p>"
      }
    },
    "com.amazonaws.appflow#DynatraceSourceProperties": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.amazonaws.appflow#Object",
          "traits": {
            "smithy.api#documentation": "<p> The object specified in the Dynatrace flow source. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The properties that are applied when Dynatrace is being used as a source. </p>"
      }
    },
    "com.amazonaws.appflow#EntitiesPath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[\\s\\w/!@#+=.-]*$"
      }
    },
    "com.amazonaws.appflow#ErrorHandlingConfig": {
      "type": "structure",
      "members": {
        "failOnFirstDestinationError": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p> Specifies if the flow should fail after the first instance of a failure when attempting\n      to place data in the destination. </p>"
          }
        },
        "bucketPrefix": {
          "target": "com.amazonaws.appflow#BucketPrefix",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the Amazon S3 bucket prefix. </p>"
          }
        },
        "bucketName": {
          "target": "com.amazonaws.appflow#BucketName",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the name of the Amazon S3 bucket. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The settings that determine how Amazon AppFlow handles an error when placing data in the\n      destination. For example, this setting would determine if the flow should fail after one\n      insertion error, or continue and attempt to insert every record regardless of the initial\n      failure. <code>ErrorHandlingConfig</code> is a part of the destination connector details.\n    </p>"
      }
    },
    "com.amazonaws.appflow#ErrorInfo": {
      "type": "structure",
      "members": {
        "putFailuresCount": {
          "target": "com.amazonaws.appflow#Long",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the failure count for the attempted flow. </p>"
          }
        },
        "executionMessage": {
          "target": "com.amazonaws.appflow#ExecutionMessage",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the error message that appears if a flow fails. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Provides details in the event of a failed flow, including the failure count and the\n      related error messages. </p>"
      }
    },
    "com.amazonaws.appflow#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^[\\s\\w/!@#+=.-]*$"
      }
    },
    "com.amazonaws.appflow#EventBridgeDestinationProperties": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.amazonaws.appflow#Object",
          "traits": {
            "smithy.api#documentation": "<p> The object specified in the Amazon EventBridge flow destination. </p>",
            "smithy.api#required": {}
          }
        },
        "errorHandlingConfig": {
          "target": "com.amazonaws.appflow#ErrorHandlingConfig"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The properties that are applied when Amazon EventBridge is being used as a destination.\n    </p>"
      }
    },
    "com.amazonaws.appflow#EventBridgeMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> The connector metadata specific to Amazon EventBridge. </p>"
      }
    },
    "com.amazonaws.appflow#ExecutionDetails": {
      "type": "structure",
      "members": {
        "mostRecentExecutionMessage": {
          "target": "com.amazonaws.appflow#MostRecentExecutionMessage",
          "traits": {
            "smithy.api#documentation": "<p> Describes the details of the most recent flow run. </p>"
          }
        },
        "mostRecentExecutionTime": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the time of the most recent flow run. </p>"
          }
        },
        "mostRecentExecutionStatus": {
          "target": "com.amazonaws.appflow#ExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the status of the most recent flow run. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Describes the details of the flow run, including the timestamp, status, and message.\n    </p>"
      }
    },
    "com.amazonaws.appflow#ExecutionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.appflow#ExecutionMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^[\\s\\w/!@#+=.-]*$"
      }
    },
    "com.amazonaws.appflow#ExecutionRecord": {
      "type": "structure",
      "members": {
        "executionId": {
          "target": "com.amazonaws.appflow#ExecutionId",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the identifier of the given flow run. </p>"
          }
        },
        "executionStatus": {
          "target": "com.amazonaws.appflow#ExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the flow run status and whether it is in progress, has completed successfully,\n      or has failed. </p>"
          }
        },
        "executionResult": {
          "target": "com.amazonaws.appflow#ExecutionResult",
          "traits": {
            "smithy.api#documentation": "<p> Describes the result of the given flow run. </p>"
          }
        },
        "startedAt": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the start time of the flow run. </p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the time of the most recent update. </p>"
          }
        },
        "dataPullStartTime": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p> The timestamp that determines the first new or updated record to be transferred in the\n      flow run. </p>"
          }
        },
        "dataPullEndTime": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p> The timestamp that indicates the last new or updated record to be transferred in the flow\n      run. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Specifies information about the past flow run instances for a given flow. </p>"
      }
    },
    "com.amazonaws.appflow#ExecutionResult": {
      "type": "structure",
      "members": {
        "errorInfo": {
          "target": "com.amazonaws.appflow#ErrorInfo",
          "traits": {
            "smithy.api#documentation": "<p> Provides any error message information related to the flow run. </p>"
          }
        },
        "bytesProcessed": {
          "target": "com.amazonaws.appflow#Long",
          "traits": {
            "smithy.api#documentation": "<p> The total number of bytes processed by the flow run. </p>"
          }
        },
        "bytesWritten": {
          "target": "com.amazonaws.appflow#Long",
          "traits": {
            "smithy.api#documentation": "<p> The total number of bytes written as a result of the flow run. </p>"
          }
        },
        "recordsProcessed": {
          "target": "com.amazonaws.appflow#Long",
          "traits": {
            "smithy.api#documentation": "<p> The number of records processed in the flow run. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Specifies the end result of the flow run. </p>"
      }
    },
    "com.amazonaws.appflow#ExecutionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "InProgress",
            "name": "INPROGRESS"
          },
          {
            "value": "Successful",
            "name": "SUCCESSFUL"
          },
          {
            "value": "Error",
            "name": "ERROR"
          }
        ]
      }
    },
    "com.amazonaws.appflow#FieldType": {
      "type": "string"
    },
    "com.amazonaws.appflow#FieldTypeDetails": {
      "type": "structure",
      "members": {
        "fieldType": {
          "target": "com.amazonaws.appflow#FieldType",
          "traits": {
            "smithy.api#documentation": "<p> The type of field, such as string, integer, date, and so on. </p>",
            "smithy.api#required": {}
          }
        },
        "filterOperators": {
          "target": "com.amazonaws.appflow#FilterOperatorList",
          "traits": {
            "smithy.api#documentation": "<p> The list of operators supported by a field. </p>",
            "smithy.api#required": {}
          }
        },
        "supportedValues": {
          "target": "com.amazonaws.appflow#SupportedValueList",
          "traits": {
            "smithy.api#documentation": "<p> The list of values that a field can contain. For example, a Boolean\n        <code>fieldType</code> can have two values: \"true\" and \"false\". </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Contains details regarding the supported field type and the operators that can be applied\n      for filtering. </p>"
      }
    },
    "com.amazonaws.appflow#FileType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CSV",
            "name": "CSV"
          },
          {
            "value": "JSON",
            "name": "JSON"
          },
          {
            "value": "PARQUET",
            "name": "PARQUET"
          }
        ]
      }
    },
    "com.amazonaws.appflow#FilterOperatorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#Operator"
      }
    },
    "com.amazonaws.appflow#FlowArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^arn:aws:appflow:.*:[0-9]+:"
      }
    },
    "com.amazonaws.appflow#FlowDefinition": {
      "type": "structure",
      "members": {
        "flowArn": {
          "target": "com.amazonaws.appflow#FlowArn",
          "traits": {
            "smithy.api#documentation": "<p> The flow's Amazon Resource Name (ARN). </p>"
          }
        },
        "description": {
          "target": "com.amazonaws.appflow#FlowDescription",
          "traits": {
            "smithy.api#documentation": "<p> A user-entered description of the flow. </p>"
          }
        },
        "flowName": {
          "target": "com.amazonaws.appflow#FlowName",
          "traits": {
            "smithy.api#documentation": "<p> The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens\n      (-) only. </p>"
          }
        },
        "flowStatus": {
          "target": "com.amazonaws.appflow#FlowStatus",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the current status of the flow. </p>"
          }
        },
        "sourceConnectorType": {
          "target": "com.amazonaws.appflow#ConnectorType",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the source connector type, such as Salesforce, Amazon S3, Amplitude, and so on.\n    </p>"
          }
        },
        "destinationConnectorType": {
          "target": "com.amazonaws.appflow#ConnectorType",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the destination connector type, such as Salesforce, Amazon S3, Amplitude, and\n      so on. </p>"
          }
        },
        "triggerType": {
[...]
