{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.appfabric#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You are not authorized to perform this operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.appfabric#ApiKeyCredential": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "com.amazonaws.appfabric#SensitiveString2048",
          "traits": {
            "smithy.api#documentation": "<p>An API key for an application.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains API key credential information.</p>"
      }
    },
    "com.amazonaws.appfabric#AppAuthorization": {
      "type": "structure",
      "members": {
        "appAuthorizationArn": {
          "target": "com.amazonaws.appfabric#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the app authorization.</p>",
            "smithy.api#required": {}
          }
        },
        "appBundleArn": {
          "target": "com.amazonaws.appfabric#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the app bundle for the app authorization.</p>",
            "smithy.api#required": {}
          }
        },
        "app": {
          "target": "com.amazonaws.appfabric#String255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "tenant": {
          "target": "com.amazonaws.appfabric#Tenant",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an application tenant, such as the application display name\n         and identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "authType": {
          "target": "com.amazonaws.appfabric#AuthType",
          "traits": {
            "smithy.api#documentation": "<p>The authorization type.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.appfabric#AppAuthorizationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The state of the app authorization.</p>\n         <p>The following states are possible:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PendingConnect</code>: The initial state of the app authorization. The app\n               authorization is created but not yet connected.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Connected</code>: The app authorization is connected to the application, and\n               is ready to be used.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ConnectionValidationFailed</code>: The app authorization received a\n               validation exception when trying to connect to the application. If the app\n               authorization is in this state, you should verify the configured credentials and try\n               to connect the app authorization again.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TokenAutoRotationFailed</code>: AppFabric failed to refresh the access token. If\n               the app authorization is in this state, you should try to reconnect the app\n               authorization.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.appfabric#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the app authorization was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.appfabric#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the app authorization was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "persona": {
          "target": "com.amazonaws.appfabric#Persona",
          "traits": {
            "smithy.api#documentation": "<p>The user persona of the app authorization.</p>\n         <p>This field should always be <code>admin</code>.</p>"
          }
        },
        "authUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The application URL for the OAuth flow.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an app authorization.</p>"
      }
    },
    "com.amazonaws.appfabric#AppAuthorizationStatus": {
      "type": "enum",
      "members": {
        "PENDING_CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PendingConnect"
          }
        },
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Connected"
          }
        },
        "CONNECTION_VALIDATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConnectionValidationFailed"
          }
        },
        "TOKEN_AUTO_ROTATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TokenAutoRotationFailed"
          }
        }
      }
    },
    "com.amazonaws.appfabric#AppAuthorizationSummary": {
      "type": "structure",
      "members": {
        "appAuthorizationArn": {
          "target": "com.amazonaws.appfabric#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the app authorization.</p>",
            "smithy.api#required": {}
          }
        },
        "appBundleArn": {
          "target": "com.amazonaws.appfabric#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the app bundle for the app authorization.</p>",
            "smithy.api#required": {}
          }
        },
        "app": {
          "target": "com.amazonaws.appfabric#String255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "tenant": {
          "target": "com.amazonaws.appfabric#Tenant",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an application tenant, such as the application display name\n         and identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.appfabric#AppAuthorizationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The state of the app authorization.</p>\n         <p>The following states are possible:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PendingConnect</code>: The initial state of the app authorization. The app\n               authorization is created but not yet connected.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Connected</code>: The app authorization is connected to the application, and\n               is ready to be used.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ConnectionValidationFailed</code>: The app authorization received a\n               validation exception when trying to connect to the application. If the app\n               authorization is in this state, you should verify the configured credentials and try\n               to connect the app authorization again.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TokenAutoRotationFailed</code>: AppFabric failed to refresh the access token. If\n               the app authorization is in this state, you should try to reconnect the app\n               authorization.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.appfabric#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp for when the app authorization was last updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of an app authorization.</p>"
      }
    },
    "com.amazonaws.appfabric#AppAuthorizationSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appfabric#AppAuthorizationSummary"
      }
    },
    "com.amazonaws.appfabric#AppBundle": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.appfabric#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the app bundle.</p>",
            "smithy.api#required": {}
          }
        },
        "customerManagedKeyArn": {
          "target": "com.amazonaws.appfabric#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Key Management Service (KMS) key\n         used to encrypt the application data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an app bundle.</p>"
      }
    },
    "com.amazonaws.appfabric#AppBundleSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.appfabric#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the app bundle.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of an app bundle.</p>"
      }
    },
    "com.amazonaws.appfabric#AppBundleSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appfabric#AppBundleSummary"
      }
    },
    "com.amazonaws.appfabric#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:.+$"
      }
    },
    "com.amazonaws.appfabric#AuditLogDestinationConfiguration": {
      "type": "structure",
      "members": {
        "destination": {
          "target": "com.amazonaws.appfabric#Destination",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an audit log destination.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an audit log destination configuration.</p>"
      }
    },
    "com.amazonaws.appfabric#AuditLogProcessingConfiguration": {
      "type": "structure",
      "members": {
        "schema": {
          "target": "com.amazonaws.appfabric#Schema",
          "traits": {
            "smithy.api#documentation": "<p>The event schema in which the audit logs need to be formatted.</p>",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.amazonaws.appfabric#Format",
          "traits": {
            "smithy.api#documentation": "<p>The format in which the audit logs need to be formatted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an audit log processing configuration.</p>"
      }
    },
    "com.amazonaws.appfabric#AuthRequest": {
      "type": "structure",
      "members": {
        "redirectUri": {
          "target": "com.amazonaws.appfabric#RedirectUri",
          "traits": {
            "smithy.api#documentation": "<p>The redirect URL that is specified in the AuthURL and the application client.</p>",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "com.amazonaws.appfabric#SensitiveString2048",
          "traits": {
            "smithy.api#documentation": "<p>The authorization code returned by the application after permission is granted in the\n         application OAuth page (after clicking on the AuthURL).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains authorization request information, which is required for Amazon Web Services AppFabric to get the\n         OAuth2 access token for an application.</p>"
      }
    },
    "com.amazonaws.appfabric#AuthType": {
      "type": "enum",
      "members": {
        "OAUTH2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "oauth2"
          }
        },
        "API_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "apiKey"
          }
        }
      }
    },
    "com.amazonaws.appfabric#BatchGetUserAccessTasks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appfabric#BatchGetUserAccessTasksRequest"
      },
      "output": {
        "target": "com.amazonaws.appfabric#BatchGetUserAccessTasksResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.appfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.appfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets user access details in a batch request.</p>\n         <p>This action polls data from the tasks that are kicked off by the\n            <code>StartUserAccessTasks</code> action.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/useraccess/batchget"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.appfabric#BatchGetUserAccessTasksRequest": {
      "type": "structure",
      "members": {
        "appBundleIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the app bundle\n         to use for the request.</p>",
            "smithy.api#required": {}
          }
        },
        "taskIdList": {
          "target": "com.amazonaws.appfabric#TaskIdList",
          "traits": {
            "smithy.api#documentation": "<p>The tasks IDs to use for the request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appfabric#BatchGetUserAccessTasksResponse": {
      "type": "structure",
      "members": {
        "userAccessResultsList": {
          "target": "com.amazonaws.appfabric#UserAccessResultsList",
          "traits": {
            "smithy.api#documentation": "<p>Contains a list of user access results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.appfabric#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request has created a conflict. Check the request parameters and try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.appfabric#ConnectAppAuthorization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appfabric#ConnectAppAuthorizationRequest"
      },
      "output": {
        "target": "com.amazonaws.appfabric#ConnectAppAuthorizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.appfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.appfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Establishes a connection between Amazon Web Services AppFabric and an application, which allows AppFabric to\n         call the APIs of the application.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/appbundles/{appBundleIdentifier}/appauthorizations/{appAuthorizationIdentifier}/connect"
        }
      }
    },
    "com.amazonaws.appfabric#ConnectAppAuthorizationRequest": {
      "type": "structure",
      "members": {
        "appBundleIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the app bundle\n         that contains the app authorization to use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "appAuthorizationIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the app\n         authorization to use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "authRequest": {
          "target": "com.amazonaws.appfabric#AuthRequest",
          "traits": {
            "smithy.api#documentation": "<p>Contains OAuth2 authorization information.</p>\n         <p>This is required if the app authorization for the request is configured with an OAuth2\n            (<code>oauth2</code>) authorization type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appfabric#ConnectAppAuthorizationResponse": {
      "type": "structure",
      "members": {
        "appAuthorizationSummary": {
          "target": "com.amazonaws.appfabric#AppAuthorizationSummary",
          "traits": {
            "smithy.api#documentation": "<p>Contains a summary of the app authorization.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.appfabric#CreateAppAuthorization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appfabric#CreateAppAuthorizationRequest"
      },
      "output": {
        "target": "com.amazonaws.appfabric#CreateAppAuthorizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appfabric#ConflictException"
        },
        {
          "target": "com.amazonaws.appfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.appfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appfabric#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.appfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.appfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an app authorization within an app bundle, which allows AppFabric to connect to an\n         application.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/appbundles/{appBundleIdentifier}/appauthorizations"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.appfabric#CreateAppAuthorizationRequest": {
      "type": "structure",
      "members": {
        "appBundleIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the app bundle\n         to use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app": {
          "target": "com.amazonaws.appfabric#String255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>\n         <p>Valid values are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SLACK</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ASANA</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>JIRA</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>M365</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>M365AUDITLOGS</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ZOOM</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ZENDESK</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>OKTA</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>GOOGLE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>DROPBOX</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>SMARTSHEET</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>CISCO</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "credential": {
          "target": "com.amazonaws.appfabric#Credential",
          "traits": {
            "smithy.api#documentation": "<p>Contains credentials for the application, such as an API key or OAuth2 client ID and\n         secret.</p>\n         <p>Specify credentials that match the authorization type for your request. For example, if\n         the authorization type for your request is OAuth2 (<code>oauth2</code>), then you should\n         provide only the OAuth2 credentials.</p>",
            "smithy.api#required": {}
          }
        },
        "tenant": {
          "target": "com.amazonaws.appfabric#Tenant",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an application tenant, such as the application display name\n         and identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "authType": {
          "target": "com.amazonaws.appfabric#AuthType",
          "traits": {
            "smithy.api#documentation": "<p>The authorization type for the app authorization.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.appfabric#UUID",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency\n         of the request. This lets you safely retry the request without accidentally performing the\n         same operation a second time. Passing the same value to a later call to an operation\n         requires that you also pass the same value for all other parameters. We recommend that you\n         use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of\n            value</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n         you.</p>\n         <p>If you retry the operation with the same <code>ClientToken</code>, but with different\n         parameters, the retry fails with an <code>IdempotentParameterMismatch</code> error.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.appfabric#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A map of the key-value pairs of the tag or tags to assign to the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appfabric#CreateAppAuthorizationResponse": {
      "type": "structure",
      "members": {
        "appAuthorization": {
          "target": "com.amazonaws.appfabric#AppAuthorization",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an app authorization.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.appfabric#CreateAppBundle": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appfabric#CreateAppBundleRequest"
      },
      "output": {
        "target": "com.amazonaws.appfabric#CreateAppBundleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appfabric#ConflictException"
        },
        {
          "target": "com.amazonaws.appfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.appfabric#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.appfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.appfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an app bundle to collect data from an application using AppFabric.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/appbundles"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.appfabric#CreateAppBundleRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.appfabric#UUID",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency\n         of the request. This lets you safely retry the request without accidentally performing the\n         same operation a second time. Passing the same value to a later call to an operation\n         requires that you also pass the same value for all other parameters. We recommend that you\n         use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of\n            value</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n         you.</p>\n         <p>If you retry the operation with the same <code>ClientToken</code>, but with different\n         parameters, the retry fails with an <code>IdempotentParameterMismatch</code> error.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "customerManagedKeyIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Key Management Service (KMS) key to\n         use to encrypt the application data. If this is not specified, an Amazon Web Services owned key is used for encryption.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.appfabric#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A map of the key-value pairs of the tag or tags to assign to the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appfabric#CreateAppBundleResponse": {
      "type": "structure",
      "members": {
        "appBundle": {
          "target": "com.amazonaws.appfabric#AppBundle",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an app bundle.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.appfabric#CreateIngestion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appfabric#CreateIngestionRequest"
      },
      "output": {
        "target": "com.amazonaws.appfabric#CreateIngestionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appfabric#ConflictException"
        },
        {
          "target": "com.amazonaws.appfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.appfabric#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.appfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.appfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a data ingestion for an application.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/appbundles/{appBundleIdentifier}/ingestions"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.appfabric#CreateIngestionDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appfabric#CreateIngestionDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.appfabric#CreateIngestionDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appfabric#ConflictException"
        },
        {
          "target": "com.amazonaws.appfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.appfabric#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.appfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.appfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an ingestion destination, which specifies how an application's ingested data is\n         processed by Amazon Web Services AppFabric and where it's delivered.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}/ingestiondestinations"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.appfabric#CreateIngestionDestinationRequest": {
      "type": "structure",
      "members": {
        "appBundleIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the app bundle\n         to use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ingestionIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the ingestion to\n         use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "processingConfiguration": {
          "target": "com.amazonaws.appfabric#ProcessingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about how ingested data is processed.</p>",
            "smithy.api#required": {}
          }
        },
        "destinationConfiguration": {
          "target": "com.amazonaws.appfabric#DestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the destination of ingested data.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.appfabric#UUID",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency\n         of the request. This lets you safely retry the request without accidentally performing the\n         same operation a second time. Passing the same value to a later call to an operation\n         requires that you also pass the same value for all other parameters. We recommend that you\n         use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of\n            value</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n         you.</p>\n         <p>If you retry the operation with the same <code>ClientToken</code>, but with different\n         parameters, the retry fails with an <code>IdempotentParameterMismatch</code> error.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.appfabric#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A map of the key-value pairs of the tag or tags to assign to the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appfabric#CreateIngestionDestinationResponse": {
      "type": "structure",
      "members": {
        "ingestionDestination": {
          "target": "com.amazonaws.appfabric#IngestionDestination",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an ingestion destination.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.appfabric#CreateIngestionRequest": {
      "type": "structure",
      "members": {
        "appBundleIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the app bundle\n         to use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "app": {
          "target": "com.amazonaws.appfabric#String255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>\n         <p>Valid values are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SLACK</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ASANA</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>JIRA</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>M365</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>M365AUDITLOGS</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ZOOM</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ZENDESK</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>OKTA</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>GOOGLE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>DROPBOX</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>SMARTSHEET</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>CISCO</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "tenantId": {
          "target": "com.amazonaws.appfabric#TenantIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application tenant.</p>",
            "smithy.api#required": {}
          }
        },
        "ingestionType": {
          "target": "com.amazonaws.appfabric#IngestionType",
          "traits": {
            "smithy.api#documentation": "<p>The ingestion type.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.appfabric#UUID",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency\n         of the request. This lets you safely retry the request without accidentally performing the\n         same operation a second time. Passing the same value to a later call to an operation\n         requires that you also pass the same value for all other parameters. We recommend that you\n         use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of\n            value</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n         you.</p>\n         <p>If you retry the operation with the same <code>ClientToken</code>, but with different\n         parameters, the retry fails with an <code>IdempotentParameterMismatch</code> error.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.appfabric#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A map of the key-value pairs of the tag or tags to assign to the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appfabric#CreateIngestionResponse": {
      "type": "structure",
      "members": {
        "ingestion": {
          "target": "com.amazonaws.appfabric#Ingestion",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an ingestion.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.appfabric#Credential": {
      "type": "union",
      "members": {
        "oauth2Credential": {
          "target": "com.amazonaws.appfabric#Oauth2Credential",
          "traits": {
            "smithy.api#documentation": "<p>Contains OAuth2 client credential information.</p>"
          }
        },
        "apiKeyCredential": {
          "target": "com.amazonaws.appfabric#ApiKeyCredential",
          "traits": {
            "smithy.api#documentation": "<p>Contains API key credential information.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains credential information for an application.</p>"
      }
    },
    "com.amazonaws.appfabric#DateTime": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.appfabric#DeleteAppAuthorization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appfabric#DeleteAppAuthorizationRequest"
      },
      "output": {
        "target": "com.amazonaws.appfabric#DeleteAppAuthorizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.appfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.appfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an app authorization. You must delete the associated ingestion before you can\n         delete an app authorization.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/appbundles/{appBundleIdentifier}/appauthorizations/{appAuthorizationIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.appfabric#DeleteAppAuthorizationRequest": {
      "type": "structure",
      "members": {
        "appBundleIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the app bundle\n         to use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "appAuthorizationIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the app\n         authorization to use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appfabric#DeleteAppAuthorizationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.appfabric#DeleteAppBundle": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appfabric#DeleteAppBundleRequest"
      },
      "output": {
        "target": "com.amazonaws.appfabric#DeleteAppBundleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appfabric#ConflictException"
        },
        {
          "target": "com.amazonaws.appfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.appfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.appfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an app bundle. You must delete all associated app authorizations before you can\n         delete an app bundle.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/appbundles/{appBundleIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.appfabric#DeleteAppBundleRequest": {
      "type": "structure",
      "members": {
        "appBundleIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or Amazon Resource Name (ARN) of the app bundle that needs to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appfabric#DeleteAppBundleResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.appfabric#DeleteIngestion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appfabric#DeleteIngestionRequest"
      },
      "output": {
        "target": "com.amazonaws.appfabric#DeleteIngestionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.appfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.appfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an ingestion. You must stop (disable) the ingestion and you must delete all\n         associated ingestion destinations before you can delete an app ingestion.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.appfabric#DeleteIngestionDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appfabric#DeleteIngestionDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.appfabric#DeleteIngestionDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.appfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.appfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an ingestion destination.</p>\n         <p>This deletes the association between an ingestion and it's destination. It doesn't\n         delete previously ingested data or the storage destination, such as the Amazon S3\n         bucket where the data is delivered. If the ingestion destination is deleted while the\n         associated ingestion is enabled, the ingestion will fail and is eventually disabled.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}/ingestiondestinations/{ingestionDestinationIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.appfabric#DeleteIngestionDestinationRequest": {
      "type": "structure",
      "members": {
        "appBundleIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the app bundle\n         to use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ingestionIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the ingestion to\n         use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ingestionDestinationIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the ingestion\n         destination to use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appfabric#DeleteIngestionDestinationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.appfabric#DeleteIngestionRequest": {
      "type": "structure",
      "members": {
        "appBundleIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the app bundle\n         to use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ingestionIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the ingestion to\n         use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appfabric#DeleteIngestionResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.appfabric#Destination": {
      "type": "union",
      "members": {
        "s3Bucket": {
          "target": "com.amazonaws.appfabric#S3Bucket",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an Amazon S3 bucket.</p>"
          }
        },
        "firehoseStream": {
          "target": "com.amazonaws.appfabric#FirehoseStream",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an Amazon Kinesis Data Firehose delivery stream.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an audit log destination.</p>"
      }
    },
    "com.amazonaws.appfabric#DestinationConfiguration": {
      "type": "union",
      "members": {
        "auditLog": {
          "target": "com.amazonaws.appfabric#AuditLogDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an audit log destination configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the destination of ingested data.</p>"
      }
    },
    "com.amazonaws.appfabric#Email": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 320
        },
        "smithy.api#pattern": "^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appfabric#FabricFrontEndService": {
      "type": "service",
      "version": "2023-05-19",
      "operations": [
        {
          "target": "com.amazonaws.appfabric#BatchGetUserAccessTasks"
        },
        {
          "target": "com.amazonaws.appfabric#ConnectAppAuthorization"
        },
        {
          "target": "com.amazonaws.appfabric#CreateAppAuthorization"
        },
        {
          "target": "com.amazonaws.appfabric#CreateAppBundle"
        },
        {
          "target": "com.amazonaws.appfabric#CreateIngestion"
        },
        {
          "target": "com.amazonaws.appfabric#CreateIngestionDestination"
        },
        {
          "target": "com.amazonaws.appfabric#DeleteAppAuthorization"
        },
        {
          "target": "com.amazonaws.appfabric#DeleteAppBundle"
        },
        {
          "target": "com.amazonaws.appfabric#DeleteIngestion"
        },
        {
          "target": "com.amazonaws.appfabric#DeleteIngestionDestination"
        },
        {
          "target": "com.amazonaws.appfabric#GetAppAuthorization"
        },
        {
          "target": "com.amazonaws.appfabric#GetAppBundle"
        },
        {
          "target": "com.amazonaws.appfabric#GetIngestion"
        },
        {
          "target": "com.amazonaws.appfabric#GetIngestionDestination"
        },
        {
          "target": "com.amazonaws.appfabric#ListAppAuthorizations"
        },
        {
          "target": "com.amazonaws.appfabric#ListAppBundles"
        },
        {
          "target": "com.amazonaws.appfabric#ListIngestionDestinations"
        },
        {
          "target": "com.amazonaws.appfabric#ListIngestions"
        },
        {
          "target": "com.amazonaws.appfabric#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.appfabric#StartIngestion"
        },
        {
          "target": "com.amazonaws.appfabric#StartUserAccessTasks"
        },
        {
          "target": "com.amazonaws.appfabric#StopIngestion"
        },
        {
          "target": "com.amazonaws.appfabric#TagResource"
        },
        {
          "target": "com.amazonaws.appfabric#UntagResource"
        },
        {
          "target": "com.amazonaws.appfabric#UpdateAppAuthorization"
        },
        {
          "target": "com.amazonaws.appfabric#UpdateIngestionDestination"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "AppFabric",
          "arnNamespace": "appfabric"
        },
        "aws.auth#sigv4": {
          "name": "appfabric"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Amazon Web Services AppFabric quickly connects software as a service (SaaS) applications across your\n         organization. This allows IT and security teams to easily manage and secure applications\n         using a standard schema, and employees can complete everyday tasks faster using generative\n         artificial intelligence (AI). You can use these APIs to complete AppFabric tasks, such as\n         setting up audit log ingestions or viewing user access. For more information about AppFabric,\n         including the required permissions to use the service, see the <a href=\"https://docs.aws.amazon.com/appfabric/latest/adminguide/\">Amazon Web Services AppFabric Administration Guide</a>. For more\n         information about using the Command Line Interface (CLI) to manage your\n         AppFabric resources, see the <a href=\"https://docs.aws.amazon.com/cli/latest/reference/appfabric/index.html\">AppFabric section of the CLI\n            Reference</a>.</p>",
        "smithy.api#title": "AppFabric",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://appfabric-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://appfabric-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://appfabric.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://appfabric.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appfabric-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appfabric-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appfabric.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appfabric.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appfabric-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appfabric-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appfabric.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appfabric.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-iso-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appfabric-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-iso-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-iso-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appfabric.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-iso-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appfabric-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appfabric-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://appfabric.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appfabric.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-isob-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appfabric-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-isob-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-isob-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://appfabric.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-isob-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.appfabric#FirehoseStream": {
      "type": "structure",
      "members": {
        "streamName": {
          "target": "com.amazonaws.appfabric#String64",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Kinesis Data Firehose delivery stream.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an Amazon Kinesis Data Firehose delivery stream.</p>"
      }
    },
    "com.amazonaws.appfabric#Format": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        },
        "PARQUET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "parquet"
          }
        }
      }
    },
    "com.amazonaws.appfabric#GetAppAuthorization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appfabric#GetAppAuthorizationRequest"
      },
      "output": {
        "target": "com.amazonaws.appfabric#GetAppAuthorizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.appfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.appfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an app authorization.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/appbundles/{appBundleIdentifier}/appauthorizations/{appAuthorizationIdentifier}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.appfabric#GetAppAuthorizationRequest": {
      "type": "structure",
      "members": {
        "appBundleIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the app bundle\n         to use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "appAuthorizationIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the app\n         authorization to use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appfabric#GetAppAuthorizationResponse": {
      "type": "structure",
      "members": {
        "appAuthorization": {
          "target": "com.amazonaws.appfabric#AppAuthorization",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an app authorization.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.appfabric#GetAppBundle": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appfabric#GetAppBundleRequest"
      },
      "output": {
        "target": "com.amazonaws.appfabric#GetAppBundleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.appfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.appfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an app bundle.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/appbundles/{appBundleIdentifier}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.appfabric#GetAppBundleRequest": {
      "type": "structure",
      "members": {
        "appBundleIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the app bundle\n         to use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appfabric#GetAppBundleResponse": {
      "type": "structure",
      "members": {
        "appBundle": {
          "target": "com.amazonaws.appfabric#AppBundle",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an app bundle.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.appfabric#GetIngestion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appfabric#GetIngestionRequest"
      },
      "output": {
        "target": "com.amazonaws.appfabric#GetIngestionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.appfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.appfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an ingestion.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.appfabric#GetIngestionDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appfabric#GetIngestionDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.appfabric#GetIngestionDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.appfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.appfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an ingestion destination.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/appbundles/{appBundleIdentifier}/ingestions/{ingestionIdentifier}/ingestiondestinations/{ingestionDestinationIdentifier}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.appfabric#GetIngestionDestinationRequest": {
      "type": "structure",
      "members": {
        "appBundleIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the app bundle\n         to use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ingestionIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the ingestion to\n         use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ingestionDestinationIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the ingestion\n         destination to use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appfabric#GetIngestionDestinationResponse": {
      "type": "structure",
      "members": {
        "ingestionDestination": {
          "target": "com.amazonaws.appfabric#IngestionDestination",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an ingestion destination.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.appfabric#GetIngestionRequest": {
      "type": "structure",
      "members": {
        "appBundleIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the app bundle\n         to use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ingestionIdentifier": {
          "target": "com.amazonaws.appfabric#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or Universal Unique Identifier (UUID) of the ingestion to\n         use for the request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appfabric#GetIngestionResponse": {
      "type": "structure",
      "members": {
        "ingestion": {
          "target": "com.amazonaws.appfabric#Ingestion",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an ingestion.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.appfabric#Identifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:.+$|^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
      }
    },
    "com.amazonaws.appfabric#Ingestion": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.appfabric#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ingestion.</p>",
            "smithy.api#required": {}
          }
        },
        "appBundleArn": {
          "target": "com.amazonaws.appfabric#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the app bundle for the ingestion.</p>",
            "smithy.api#required": {}
          }
        },
        "app": {
          "target": "com.amazonaws.appfabric#String255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "tenantId": {
          "target": "com.amazonaws.appfabric#TenantIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application tenant.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.appfabric#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the ingestion was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.appfabric#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the ingestion was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.appfabric#IngestionState",
          "traits": {
            "smithy.api#documentation": "<p>The status of the ingestion.</p>",
            "smithy.api#required": {}
          }
        },
        "ingestionType": {
          "target": "com.amazonaws.appfabric#IngestionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the ingestion.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an ingestion.</p>"
      }
    },
    "com.amazonaws.appfabric#IngestionDestination": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.appfabric#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ingestion destination.</p>",
            "smithy.api#required": {}
          }
        },
        "ingestionArn": {
          "target": "com.amazonaws.appfabric#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ingestion.</p>",
            "smithy.api#required": {}
          }
        },
        "processingConfiguration": {
          "target": "com.amazonaws.appfabric#ProcessingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about how ingested data is processed.</p>",
            "smithy.api#required": {}
          }
        },
        "destinationConfiguration": {
          "target": "com.amazonaws.appfabric#DestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the destination of ingested data.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.appfabric#IngestionDestinationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The state of the ingestion destination.</p>\n         <p>The following states are possible:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Active</code>: The ingestion destination is active and is ready to be\n               used.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Failed</code>: The ingestion destination has failed. If the ingestion\n               destination is in this state, you should verify the ingestion destination\n               configuration and try again.</p>\n            </li>\n         </ul>"
          }
        },
        "statusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the current status of the ingestion destination.</p>\n         <p>Only present when the <code>status</code> of ingestion destination is\n            <code>Failed</code>.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.appfabric#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the ingestion destination was created.</p>"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.appfabric#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the ingestion destination was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an ingestion destination.</p>"
      }
    },
    "com.amazonaws.appfabric#IngestionDestinationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appfabric#IngestionDestinationSummary"
      }
    },
    "com.amazonaws.appfabric#IngestionDestinationStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      }
    },
    "com.amazonaws.appfabric#IngestionDestinationSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.appfabric#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ingestion destination.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of an ingestion destination.</p>"
      }
    },
    "com.amazonaws.appfabric#IngestionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appfabric#IngestionSummary"
      }
    },
    "com.amazonaws.appfabric#IngestionState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        }
      }
    },
    "com.amazonaws.appfabric#IngestionSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.appfabric#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ingestion.</p>",
            "smithy.api#required": {}
          }
        },
        "app": {
          "target": "com.amazonaws.appfabric#String255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "tenantId": {
          "target": "com.amazonaws.appfabric#TenantIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application tenant.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.appfabric#IngestionState",
          "traits": {
            "smithy.api#documentation": "<p>The status of the ingestion.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of an ingestion.</p>"
      }
    },
    "com.amazonaws.appfabric#IngestionType": {
      "type": "enum",
      "members": {
        "AUDIT_LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auditLog"
          }
        }
      }
    },
    "com.amazonaws.appfabric#Integer": {
      "type": "integer"
    },
    "com.amazonaws.appfabric#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retryAfterSeconds": {
          "target": "com.amazonaws.appfabric#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The period of time after which you should retry your request.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
[...]
