{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.appflow#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "arn:aws:.*:.*:[0-9]+:.*"
      }
    },
    "com.amazonaws.appflow#AccessKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "\\S+",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appflow#AccessToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "\\S+",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appflow#AccountName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "\\S+"
      }
    },
    "com.amazonaws.appflow#AggregationConfig": {
      "type": "structure",
      "members": {
        "aggregationType": {
          "target": "com.amazonaws.appflow#AggregationType",
          "traits": {
            "smithy.api#documentation": "<p>\n Specifies whether Amazon AppFlow aggregates the flow records into a single file, or leave them unaggregated.  \n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\nThe aggregation settings that you can use to customize the output format of your flow data. \n</p>"
      }
    },
    "com.amazonaws.appflow#AggregationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "None",
            "name": "NONE"
          },
          {
            "value": "SingleFile",
            "name": "SINGLE_FILE"
          }
        ]
      }
    },
    "com.amazonaws.appflow#AmplitudeConnectorOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BETWEEN",
            "name": "BETWEEN"
          }
        ]
      }
    },
    "com.amazonaws.appflow#AmplitudeConnectorProfileCredentials": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "com.amazonaws.appflow#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p>\n  A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API.\n</p>",
            "smithy.api#required": {}
          }
        },
        "secretKey": {
          "target": "com.amazonaws.appflow#SecretKey",
          "traits": {
            "smithy.api#documentation": "<p>\n  The Secret Access Key portion of the credentials.\n</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  The connector-specific credentials required when using Amplitude.\n</p>"
      }
    },
    "com.amazonaws.appflow#AmplitudeConnectorProfileProperties": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>\n  The connector-specific profile properties required when using Amplitude.\n</p>"
      }
    },
    "com.amazonaws.appflow#AmplitudeMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>\n  The connector metadata specific to Amplitude.\n</p>"
      }
    },
    "com.amazonaws.appflow#AmplitudeSourceProperties": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.amazonaws.appflow#Object",
          "traits": {
            "smithy.api#documentation": "<p>\nThe object specified in the Amplitude flow source.\n</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  The properties that are applied when Amplitude is being used as a source.\n</p>"
      }
    },
    "com.amazonaws.appflow#ApiKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "\\S+"
      }
    },
    "com.amazonaws.appflow#ApiSecretKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "\\S+",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appflow#ApiToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "\\S+"
      }
    },
    "com.amazonaws.appflow#ApplicationKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "\\S+"
      }
    },
    "com.amazonaws.appflow#AuthCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "\\S+"
      }
    },
    "com.amazonaws.appflow#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.appflow#BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 63
        },
        "smithy.api#pattern": "\\S+"
      }
    },
    "com.amazonaws.appflow#BucketPrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.appflow#ClientCredentialsArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "arn:aws:secretsmanager:.*:[0-9]+:.*",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appflow#ClientId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "\\S+"
      }
    },
    "com.amazonaws.appflow#ClientSecret": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "\\S+",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appflow#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.appflow#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  There was a conflict when processing the request (for example, a flow with the given name already exists within the account. Check for conflicting resource names and try again.\n</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.appflow#ConnectionMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Public",
            "name": "PUBLIC"
          },
          {
            "value": "Private",
            "name": "PRIVATE"
          }
        ]
      }
    },
    "com.amazonaws.appflow#ConnectorAuthenticationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.appflow#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n An error occurred when authenticating with the connector endpoint.\n</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.appflow#ConnectorConfiguration": {
      "type": "structure",
      "members": {
        "canUseAsSource": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\n  Specifies whether the connector can be used as a source.\n</p>"
          }
        },
        "canUseAsDestination": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies whether the connector can be used as a destination.\n</p>"
          }
        },
        "supportedDestinationConnectors": {
          "target": "com.amazonaws.appflow#ConnectorTypeList",
          "traits": {
            "smithy.api#documentation": "<p>\nLists the connectors that are available for use as destinations.\n</p>"
          }
        },
        "supportedSchedulingFrequencies": {
          "target": "com.amazonaws.appflow#SchedulingFrequencyTypeList",
          "traits": {
            "smithy.api#documentation": "<p>\n    Specifies the supported flow frequency for that connector.\n    </p>"
          }
        },
        "isPrivateLinkEnabled": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies if PrivateLink is enabled for that connector.\n</p>"
          }
        },
        "isPrivateLinkEndpointUrlRequired": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies if a PrivateLink endpoint URL is required.\n</p>"
          }
        },
        "supportedTriggerTypes": {
          "target": "com.amazonaws.appflow#TriggerTypeList",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies the supported trigger types for the flow. \n</p>"
          }
        },
        "connectorMetadata": {
          "target": "com.amazonaws.appflow#ConnectorMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies connector-specific metadata such as <code>oAuthScopes</code>, <code>supportedRegions</code>, <code>privateLinkServiceUrl</code>, and so on.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\nThe configuration settings related to a given connector.\n</p>"
      }
    },
    "com.amazonaws.appflow#ConnectorConfigurationsMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.appflow#ConnectorType"
      },
      "value": {
        "target": "com.amazonaws.appflow#ConnectorConfiguration"
      }
    },
    "com.amazonaws.appflow#ConnectorEntity": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.appflow#Name",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the connector entity.\n</p>",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "com.amazonaws.appflow#Label",
          "traits": {
            "smithy.api#documentation": "<p>\nThe label applied to the connector entity.\n</p>"
          }
        },
        "hasNestedEntities": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies whether the connector entity is a parent or a category and has more entities nested underneath it. If another call is made with <code>entitiesPath = \"the_current_entity_name_with_hasNestedEntities_true\"</code>, then it returns the nested entities underneath it. This provides a way to retrieve all supported entities in a recursive fashion.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\nThe high-level entity that can be queried in Amazon AppFlow. For example, a Salesforce entity might be an <i>Account</i> or <i>Opportunity</i>, whereas a ServiceNow entity might be an <i>Incident</i>.\n\n</p>"
      }
    },
    "com.amazonaws.appflow#ConnectorEntityField": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "com.amazonaws.appflow#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>\nThe unique identifier of the connector field.\n</p>",
            "smithy.api#required": {}
          }
        },
        "label": {
          "target": "com.amazonaws.appflow#Label",
          "traits": {
            "smithy.api#documentation": "<p>\nThe label applied to a connector entity field.\n</p>"
          }
        },
        "supportedFieldTypeDetails": {
          "target": "com.amazonaws.appflow#SupportedFieldTypeDetails",
          "traits": {
            "smithy.api#documentation": "<p>\n Contains details regarding the supported <code>FieldType</code>, including the corresponding <code>filterOperators</code> and <code>supportedValues</code>.\n</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.appflow#Description",
          "traits": {
            "smithy.api#documentation": "<p>\n  A description of the connector entity field.\n</p>"
          }
        },
        "sourceProperties": {
          "target": "com.amazonaws.appflow#SourceFieldProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The properties that can be applied to a field when the connector is being used as a source.\n</p>"
          }
        },
        "destinationProperties": {
          "target": "com.amazonaws.appflow#DestinationFieldProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The properties applied to a field when the connector is being used as a destination.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\nDescribes the data model of a connector field. For example, for an <i>account</i> entity, the fields would be <i>account name</i>, <i>account ID</i>, and so on.\n</p>"
      }
    },
    "com.amazonaws.appflow#ConnectorEntityFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorEntityField"
      }
    },
    "com.amazonaws.appflow#ConnectorEntityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorEntity"
      }
    },
    "com.amazonaws.appflow#ConnectorEntityMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.appflow#Group"
      },
      "value": {
        "target": "com.amazonaws.appflow#ConnectorEntityList"
      }
    },
    "com.amazonaws.appflow#ConnectorMetadata": {
      "type": "structure",
      "members": {
        "Amplitude": {
          "target": "com.amazonaws.appflow#AmplitudeMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n The connector metadata specific to Amplitude.\n</p>"
          }
        },
        "Datadog": {
          "target": "com.amazonaws.appflow#DatadogMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector metadata specific to Datadog.\n</p>"
          }
        },
        "Dynatrace": {
          "target": "com.amazonaws.appflow#DynatraceMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector metadata specific to Dynatrace.\n</p>"
          }
        },
        "GoogleAnalytics": {
          "target": "com.amazonaws.appflow#GoogleAnalyticsMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector metadata specific to Google Analytics.\n</p>"
          }
        },
        "InforNexus": {
          "target": "com.amazonaws.appflow#InforNexusMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector metadata specific to Infor Nexus.\n</p>"
          }
        },
        "Marketo": {
          "target": "com.amazonaws.appflow#MarketoMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector metadata specific to Marketo.\n</p>"
          }
        },
        "Redshift": {
          "target": "com.amazonaws.appflow#RedshiftMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector metadata specific to Amazon Redshift.\n</p>"
          }
        },
        "S3": {
          "target": "com.amazonaws.appflow#S3Metadata",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector metadata specific to Amazon S3.\n</p>"
          }
        },
        "Salesforce": {
          "target": "com.amazonaws.appflow#SalesforceMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector metadata specific to Salesforce.\n</p>"
          }
        },
        "ServiceNow": {
          "target": "com.amazonaws.appflow#ServiceNowMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector metadata specific to ServiceNow.\n</p>"
          }
        },
        "Singular": {
          "target": "com.amazonaws.appflow#SingularMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector metadata specific to Singular.\n</p>"
          }
        },
        "Slack": {
          "target": "com.amazonaws.appflow#SlackMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector metadata specific to Slack.\n</p>"
          }
        },
        "Snowflake": {
          "target": "com.amazonaws.appflow#SnowflakeMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector metadata specific to Snowflake.\n</p>"
          }
        },
        "Trendmicro": {
          "target": "com.amazonaws.appflow#TrendmicroMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector metadata specific to Trend Micro.\n</p>"
          }
        },
        "Veeva": {
          "target": "com.amazonaws.appflow#VeevaMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector metadata specific to Veeva.\n</p>"
          }
        },
        "Zendesk": {
          "target": "com.amazonaws.appflow#ZendeskMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector metadata specific to Zendesk.\n</p>"
          }
        },
        "EventBridge": {
          "target": "com.amazonaws.appflow#EventBridgeMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n      The connector metadata specific to Amazon EventBridge.\n    </p>"
          }
        },
        "Upsolver": {
          "target": "com.amazonaws.appflow#UpsolverMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n      The connector metadata specific to Upsolver.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  A structure to specify connector-specific metadata such as <code>oAuthScopes</code>, <code>supportedRegions</code>, <code>privateLinkServiceUrl</code>, and so on.\n</p>"
      }
    },
    "com.amazonaws.appflow#ConnectorOAuthRequest": {
      "type": "structure",
      "members": {
        "authCode": {
          "target": "com.amazonaws.appflow#AuthCode",
          "traits": {
            "smithy.api#documentation": "<p>\n The code provided by the connector when it has been authenticated via the connected app.\n</p>"
          }
        },
        "redirectUri": {
          "target": "com.amazonaws.appflow#RedirectUri",
          "traits": {
            "smithy.api#documentation": "<p>\n      The URL to which the authentication server redirects the browser after authorization has been granted.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n Used by select connectors for which the OAuth workflow is supported, such as Salesforce, Google Analytics, Marketo, Zendesk, and Slack.\n</p>"
      }
    },
    "com.amazonaws.appflow#ConnectorOperator": {
      "type": "structure",
      "members": {
        "Amplitude": {
          "target": "com.amazonaws.appflow#AmplitudeConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>\n      The operation to be performed on the provided Amplitude source fields.\n    </p>"
          }
        },
        "Datadog": {
          "target": "com.amazonaws.appflow#DatadogConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>\n  The operation to be performed on the provided Datadog source fields.\n</p>"
          }
        },
        "Dynatrace": {
          "target": "com.amazonaws.appflow#DynatraceConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>\n  The operation to be performed on the provided Dynatrace source fields.\n</p>"
          }
        },
        "GoogleAnalytics": {
          "target": "com.amazonaws.appflow#GoogleAnalyticsConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>\n  The operation to be performed on the provided Google Analytics source fields.\n</p>"
          }
        },
        "InforNexus": {
          "target": "com.amazonaws.appflow#InforNexusConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>\n  The operation to be performed on the provided Infor Nexus source fields.\n</p>"
          }
        },
        "Marketo": {
          "target": "com.amazonaws.appflow#MarketoConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>\n  The operation to be performed on the provided Marketo source fields.\n</p>"
          }
        },
        "S3": {
          "target": "com.amazonaws.appflow#S3ConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>\n  The operation to be performed on the provided Amazon S3 source fields.\n</p>"
          }
        },
        "Salesforce": {
          "target": "com.amazonaws.appflow#SalesforceConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>\n  The operation to be performed on the provided Salesforce source fields.\n</p>"
          }
        },
        "ServiceNow": {
          "target": "com.amazonaws.appflow#ServiceNowConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>\n  The operation to be performed on the provided ServiceNow source fields.\n</p>"
          }
        },
        "Singular": {
          "target": "com.amazonaws.appflow#SingularConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>\n  The operation to be performed on the provided Singular source fields.\n</p>"
          }
        },
        "Slack": {
          "target": "com.amazonaws.appflow#SlackConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>\n  The operation to be performed on the provided Slack source fields.\n</p>"
          }
        },
        "Trendmicro": {
          "target": "com.amazonaws.appflow#TrendmicroConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>\n  The operation to be performed on the provided Trend Micro source fields.\n</p>"
          }
        },
        "Veeva": {
          "target": "com.amazonaws.appflow#VeevaConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>\n  The operation to be performed on the provided Veeva source fields.\n</p>"
          }
        },
        "Zendesk": {
          "target": "com.amazonaws.appflow#ZendeskConnectorOperator",
          "traits": {
            "smithy.api#documentation": "<p>\n  The operation to be performed on the provided Zendesk source fields.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\nThe operation to be performed on the provided source fields.\n</p>"
      }
    },
    "com.amazonaws.appflow#ConnectorProfile": {
      "type": "structure",
      "members": {
        "connectorProfileArn": {
          "target": "com.amazonaws.appflow#ConnectorProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>\nThe Amazon Resource Name (ARN) of the connector profile.\n</p>"
          }
        },
        "connectorProfileName": {
          "target": "com.amazonaws.appflow#ConnectorProfileName",
          "traits": {
            "smithy.api#documentation": "<p>\n  The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in the AWS account.\n</p>"
          }
        },
        "connectorType": {
          "target": "com.amazonaws.appflow#ConnectorType",
          "traits": {
            "smithy.api#documentation": "<p>\n  The type of connector, such as Salesforce, Amplitude, and so on.\n</p>"
          }
        },
        "connectionMode": {
          "target": "com.amazonaws.appflow#ConnectionMode",
          "traits": {
            "smithy.api#documentation": "<p>\n  Indicates the connection mode and if it is public or private.\n</p>"
          }
        },
        "credentialsArn": {
          "target": "com.amazonaws.appflow#ARN",
          "traits": {
            "smithy.api#documentation": "<p>\n  The Amazon Resource Name (ARN) of the connector profile credentials.\n</p>"
          }
        },
        "connectorProfileProperties": {
          "target": "com.amazonaws.appflow#ConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>\nThe connector-specific properties of the profile configuration.\n</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p>\n  Specifies when the connector profile was created.\n</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p>\n  Specifies when the connector profile was last updated.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  Describes an instance of a connector. This includes the provided name, credentials ARN, connection-mode, and so on. To keep the API intuitive and extensible, the fields that are common to all types of connector profiles are explicitly specified at the top level. The rest of the connector-specific properties are available via  the <code>connectorProfileProperties</code> field.\n</p>"
      }
    },
    "com.amazonaws.appflow#ConnectorProfileArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "arn:aws:kms:.*:[0-9]+:.*"
      }
    },
    "com.amazonaws.appflow#ConnectorProfileConfig": {
      "type": "structure",
      "members": {
        "connectorProfileProperties": {
          "target": "com.amazonaws.appflow#ConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific properties of the profile configuration.\n</p>",
            "smithy.api#required": {}
          }
        },
        "connectorProfileCredentials": {
          "target": "com.amazonaws.appflow#ConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n The connector-specific credentials required by each connector.\n</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  Defines the connector-specific configuration and credentials for the connector profile.\n</p>"
      }
    },
    "com.amazonaws.appflow#ConnectorProfileCredentials": {
      "type": "structure",
      "members": {
        "Amplitude": {
          "target": "com.amazonaws.appflow#AmplitudeConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific credentials required when using Amplitude.\n</p>"
          }
        },
        "Datadog": {
          "target": "com.amazonaws.appflow#DatadogConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific credentials required when using Datadog.\n</p>"
          }
        },
        "Dynatrace": {
          "target": "com.amazonaws.appflow#DynatraceConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific credentials required when using Dynatrace.\n</p>"
          }
        },
        "GoogleAnalytics": {
          "target": "com.amazonaws.appflow#GoogleAnalyticsConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific credentials required when using Google Analytics.\n</p>"
          }
        },
        "InforNexus": {
          "target": "com.amazonaws.appflow#InforNexusConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific credentials required when using Infor Nexus.\n</p>"
          }
        },
        "Marketo": {
          "target": "com.amazonaws.appflow#MarketoConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific credentials required when using Marketo.\n</p>"
          }
        },
        "Redshift": {
          "target": "com.amazonaws.appflow#RedshiftConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific credentials required when using Amazon Redshift.\n</p>"
          }
        },
        "Salesforce": {
          "target": "com.amazonaws.appflow#SalesforceConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific credentials required when using Salesforce.\n</p>"
          }
        },
        "ServiceNow": {
          "target": "com.amazonaws.appflow#ServiceNowConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific credentials required when using ServiceNow.\n</p>"
          }
        },
        "Singular": {
          "target": "com.amazonaws.appflow#SingularConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific credentials required when using Singular.\n</p>"
          }
        },
        "Slack": {
          "target": "com.amazonaws.appflow#SlackConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific credentials required when using Slack.\n</p>"
          }
        },
        "Snowflake": {
          "target": "com.amazonaws.appflow#SnowflakeConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific credentials required when using Snowflake.\n</p>"
          }
        },
        "Trendmicro": {
          "target": "com.amazonaws.appflow#TrendmicroConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific credentials required when using Trend Micro.\n</p>"
          }
        },
        "Veeva": {
          "target": "com.amazonaws.appflow#VeevaConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific credentials required when using Veeva.\n</p>"
          }
        },
        "Zendesk": {
          "target": "com.amazonaws.appflow#ZendeskConnectorProfileCredentials",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific credentials required when using Zendesk.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n The connector-specific credentials required by a connector.\n</p>"
      }
    },
    "com.amazonaws.appflow#ConnectorProfileDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorProfile"
      }
    },
    "com.amazonaws.appflow#ConnectorProfileName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "[\\w/!@#+=.-]+"
      }
    },
    "com.amazonaws.appflow#ConnectorProfileNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorProfileName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.appflow#ConnectorProfileProperties": {
      "type": "structure",
      "members": {
        "Amplitude": {
          "target": "com.amazonaws.appflow#AmplitudeConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific properties required by Amplitude.\n</p>"
          }
        },
        "Datadog": {
          "target": "com.amazonaws.appflow#DatadogConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific properties required by Datadog.\n</p>"
          }
        },
        "Dynatrace": {
          "target": "com.amazonaws.appflow#DynatraceConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific properties required by Dynatrace.\n</p>"
          }
        },
        "GoogleAnalytics": {
          "target": "com.amazonaws.appflow#GoogleAnalyticsConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific properties required Google Analytics.\n</p>"
          }
        },
        "InforNexus": {
          "target": "com.amazonaws.appflow#InforNexusConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific properties required by Infor Nexus.\n</p>"
          }
        },
        "Marketo": {
          "target": "com.amazonaws.appflow#MarketoConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific properties required by Marketo.\n</p>"
          }
        },
        "Redshift": {
          "target": "com.amazonaws.appflow#RedshiftConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific properties required by Amazon Redshift.\n</p>"
          }
        },
        "Salesforce": {
          "target": "com.amazonaws.appflow#SalesforceConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific properties required by Salesforce.\n</p>"
          }
        },
        "ServiceNow": {
          "target": "com.amazonaws.appflow#ServiceNowConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific properties required by serviceNow.\n</p>"
          }
        },
        "Singular": {
          "target": "com.amazonaws.appflow#SingularConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific properties required by Singular.\n</p>"
          }
        },
        "Slack": {
          "target": "com.amazonaws.appflow#SlackConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific properties required by Slack.\n</p>"
          }
        },
        "Snowflake": {
          "target": "com.amazonaws.appflow#SnowflakeConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>\nThe connector-specific properties required by Snowflake.\n</p>"
          }
        },
        "Trendmicro": {
          "target": "com.amazonaws.appflow#TrendmicroConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific properties required by Trend Micro.\n</p>"
          }
        },
        "Veeva": {
          "target": "com.amazonaws.appflow#VeevaConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific properties required by Veeva.\n</p>"
          }
        },
        "Zendesk": {
          "target": "com.amazonaws.appflow#ZendeskConnectorProfileProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The connector-specific properties required by Zendesk.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  The connector-specific profile properties required by each connector.\n</p>"
      }
    },
    "com.amazonaws.appflow#ConnectorServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.appflow#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n An error occurred when retrieving data from the connector endpoint.\n</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.appflow#ConnectorType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Salesforce",
            "name": "SALESFORCE"
          },
          {
            "value": "Singular",
            "name": "SINGULAR"
          },
          {
            "value": "Slack",
            "name": "SLACK"
          },
          {
            "value": "Redshift",
            "name": "REDSHIFT"
          },
          {
            "value": "S3",
            "name": "S3"
          },
          {
            "value": "Marketo",
            "name": "MARKETO"
          },
          {
            "value": "Googleanalytics",
            "name": "GOOGLEANALYTICS"
          },
          {
            "value": "Zendesk",
            "name": "ZENDESK"
          },
          {
            "value": "Servicenow",
            "name": "SERVICENOW"
          },
          {
            "value": "Datadog",
            "name": "DATADOG"
          },
          {
            "value": "Trendmicro",
            "name": "TRENDMICRO"
          },
          {
            "value": "Snowflake",
            "name": "SNOWFLAKE"
          },
          {
            "value": "Dynatrace",
            "name": "DYNATRACE"
          },
          {
            "value": "Infornexus",
            "name": "INFORNEXUS"
          },
          {
            "value": "Amplitude",
            "name": "AMPLITUDE"
          },
          {
            "value": "Veeva",
            "name": "VEEVA"
          },
          {
            "value": "EventBridge",
            "name": "EVENTBRIDGE"
          },
          {
            "value": "Upsolver",
            "name": "UPSOLVER"
          }
        ]
      }
    },
    "com.amazonaws.appflow#ConnectorTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ConnectorType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.appflow#CreateConnectorProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#CreateConnectorProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#CreateConnectorProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#ConflictException"
        },
        {
          "target": "com.amazonaws.appflow#ConnectorAuthenticationException"
        },
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.appflow#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n  Creates a new connector profile associated with your AWS account. There is a soft quota of 100 connector profiles per AWS account. If you need more connector profiles than this quota allows, you can submit a request to the Amazon AppFlow team through the Amazon AppFlow support channel.\n</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/create-connector-profile",
          "code": 200
        }
      }
    },
    "com.amazonaws.appflow#CreateConnectorProfileRequest": {
      "type": "structure",
      "members": {
        "connectorProfileName": {
          "target": "com.amazonaws.appflow#ConnectorProfileName",
          "traits": {
            "smithy.api#documentation": "<p>\n  The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in your AWS account.\n</p>",
            "smithy.api#required": {}
          }
        },
        "kmsArn": {
          "target": "com.amazonaws.appflow#KMSArn",
          "traits": {
            "smithy.api#documentation": "<p>\n  The ARN (Amazon Resource Name) of the Key Management Service (KMS) key you provide for encryption. This is required if you do not want to use the Amazon AppFlow-managed KMS key. If you don't provide anything here, Amazon AppFlow uses the Amazon AppFlow-managed KMS key.\n</p>"
          }
        },
        "connectorType": {
          "target": "com.amazonaws.appflow#ConnectorType",
          "traits": {
            "smithy.api#documentation": "<p>\nThe type of connector, such as Salesforce, Amplitude, and so on.\n</p>",
            "smithy.api#required": {}
          }
        },
        "connectionMode": {
          "target": "com.amazonaws.appflow#ConnectionMode",
          "traits": {
            "smithy.api#documentation": "<p>\n  Indicates the connection mode and specifies whether it is public or private. Private flows use AWS PrivateLink to route data over AWS infrastructure without exposing it to the public internet.\n</p>",
            "smithy.api#required": {}
          }
        },
        "connectorProfileConfig": {
          "target": "com.amazonaws.appflow#ConnectorProfileConfig",
          "traits": {
            "smithy.api#documentation": "<p>\nDefines the connector-specific configuration and credentials.\n</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appflow#CreateConnectorProfileResponse": {
      "type": "structure",
      "members": {
        "connectorProfileArn": {
          "target": "com.amazonaws.appflow#ConnectorProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>\n  The Amazon Resource Name (ARN) of the connector profile.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#CreateFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#CreateFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#CreateFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#ConflictException"
        },
        {
          "target": "com.amazonaws.appflow#ConnectorAuthenticationException"
        },
        {
          "target": "com.amazonaws.appflow#ConnectorServerException"
        },
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appflow#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.appflow#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nEnables your application to create a new flow using Amazon AppFlow. You must create a connector profile before calling this API. Please note that the Request Syntax below shows syntax for multiple destinations, however, you can only transfer data to one item in this list at a time. Amazon AppFlow does not currently support flows to multiple destinations at once.\n  \n</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/create-flow",
          "code": 200
        }
      }
    },
    "com.amazonaws.appflow#CreateFlowRequest": {
      "type": "structure",
      "members": {
        "flowName": {
          "target": "com.amazonaws.appflow#FlowName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only.\n</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.appflow#FlowDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n A description of the flow you want to create. \n</p>"
          }
        },
        "kmsArn": {
          "target": "com.amazonaws.appflow#KMSArn",
          "traits": {
            "smithy.api#documentation": "<p>\n  The ARN (Amazon Resource Name) of the Key Management Service (KMS) key you provide for encryption. This is required if you do not want to use the Amazon AppFlow-managed KMS key. If you don't provide anything here, Amazon AppFlow uses the Amazon AppFlow-managed KMS key.\n</p>"
          }
        },
        "triggerConfig": {
          "target": "com.amazonaws.appflow#TriggerConfig",
          "traits": {
            "smithy.api#documentation": "<p>\n The trigger settings that determine how and when the flow runs.\n</p>",
            "smithy.api#required": {}
          }
        },
        "sourceFlowConfig": {
          "target": "com.amazonaws.appflow#SourceFlowConfig",
          "traits": {
            "smithy.api#documentation": "<p>\nThe configuration that controls how Amazon AppFlow retrieves data from the source connector.\n</p>",
            "smithy.api#required": {}
          }
        },
        "destinationFlowConfigList": {
          "target": "com.amazonaws.appflow#DestinationFlowConfigList",
          "traits": {
            "smithy.api#documentation": "<p>\nThe configuration that controls how Amazon AppFlow places data in the destination connector.\n</p>",
            "smithy.api#required": {}
          }
        },
        "tasks": {
          "target": "com.amazonaws.appflow#Tasks",
          "traits": {
            "smithy.api#documentation": "<p>\n A list of tasks that Amazon AppFlow performs while transferring the data in the flow run.\n</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.appflow#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\nThe tags used to organize, track, or control access for your flow. \n</p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#CreateFlowResponse": {
      "type": "structure",
      "members": {
        "flowArn": {
          "target": "com.amazonaws.appflow#FlowArn",
          "traits": {
            "smithy.api#documentation": "<p>\nThe flow's Amazon Resource Name (ARN).\n</p>"
          }
        },
        "flowStatus": {
          "target": "com.amazonaws.appflow#FlowStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n      Indicates the current status of the flow.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#CreatedBy": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "\\S+"
      }
    },
    "com.amazonaws.appflow#DataPullMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Incremental",
            "name": "INCREMENTAL"
          },
          {
            "value": "Complete",
            "name": "COMPLETE"
          }
        ]
      }
    },
    "com.amazonaws.appflow#DatabaseUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "\\S+"
      }
    },
    "com.amazonaws.appflow#DatadogConnectorOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PROJECTION",
            "name": "PROJECTION"
          },
          {
            "value": "BETWEEN",
            "name": "BETWEEN"
          },
          {
            "value": "EQUAL_TO",
            "name": "EQUAL_TO"
          },
          {
            "value": "ADDITION",
            "name": "ADDITION"
          },
          {
            "value": "MULTIPLICATION",
            "name": "MULTIPLICATION"
          },
          {
            "value": "DIVISION",
            "name": "DIVISION"
          },
          {
            "value": "SUBTRACTION",
            "name": "SUBTRACTION"
          },
          {
            "value": "MASK_ALL",
            "name": "MASK_ALL"
          },
          {
            "value": "MASK_FIRST_N",
            "name": "MASK_FIRST_N"
          },
          {
            "value": "MASK_LAST_N",
            "name": "MASK_LAST_N"
          },
          {
            "value": "VALIDATE_NON_NULL",
            "name": "VALIDATE_NON_NULL"
          },
          {
            "value": "VALIDATE_NON_ZERO",
            "name": "VALIDATE_NON_ZERO"
          },
          {
            "value": "VALIDATE_NON_NEGATIVE",
            "name": "VALIDATE_NON_NEGATIVE"
          },
          {
            "value": "VALIDATE_NUMERIC",
            "name": "VALIDATE_NUMERIC"
          },
          {
            "value": "NO_OP",
            "name": "NO_OP"
          }
        ]
      }
    },
    "com.amazonaws.appflow#DatadogConnectorProfileCredentials": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "com.amazonaws.appflow#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p>\n  A unique alphanumeric identifier used to authenticate a user, developer, or calling program to your API.\n</p>",
            "smithy.api#required": {}
          }
        },
        "applicationKey": {
          "target": "com.amazonaws.appflow#ApplicationKey",
          "traits": {
            "smithy.api#documentation": "<p>\n  Application keys, in conjunction with your API key, give you full access to Datadog’s programmatic API. Application keys are associated with the user account that created them. The application key is used to log all requests made to the API. \n</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  The connector-specific credentials required by Datadog.\n</p>"
      }
    },
    "com.amazonaws.appflow#DatadogConnectorProfileProperties": {
      "type": "structure",
      "members": {
        "instanceUrl": {
          "target": "com.amazonaws.appflow#InstanceUrl",
          "traits": {
            "smithy.api#documentation": "<p>\n The location of the Datadog resource.\n</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  The connector-specific profile properties required by Datadog.\n</p>"
      }
    },
    "com.amazonaws.appflow#DatadogMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>\n  The connector metadata specific to Datadog.\n</p>"
      }
    },
    "com.amazonaws.appflow#DatadogSourceProperties": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.amazonaws.appflow#Object",
          "traits": {
            "smithy.api#documentation": "<p>\n  The object specified in the Datadog flow source.\n</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  The properties that are applied when Datadog is being used as a source.\n</p>"
      }
    },
    "com.amazonaws.appflow#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.appflow#DatetimeTypeFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.appflow#DeleteConnectorProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#DeleteConnectorProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#DeleteConnectorProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#ConflictException"
        },
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n Enables you to delete an existing connector profile.\n</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-connector-profile",
          "code": 200
        }
      }
    },
    "com.amazonaws.appflow#DeleteConnectorProfileRequest": {
      "type": "structure",
      "members": {
        "connectorProfileName": {
          "target": "com.amazonaws.appflow#ConnectorProfileName",
          "traits": {
            "smithy.api#documentation": "<p>\n  The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in your account.\n</p>",
            "smithy.api#required": {}
          }
        },
        "forceDelete": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\nIndicates whether Amazon AppFlow should delete the profile, even if it is currently in use in one or more flows.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DeleteConnectorProfileResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appflow#DeleteFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#DeleteFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#DeleteFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#ConflictException"
        },
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n  Enables your application to delete an existing flow. Before deleting the flow, Amazon AppFlow validates the request by checking the flow configuration and status. You can delete flows one at a time. \n \n</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-flow",
          "code": 200
        }
      }
    },
    "com.amazonaws.appflow#DeleteFlowRequest": {
      "type": "structure",
      "members": {
        "flowName": {
          "target": "com.amazonaws.appflow#FlowName",
          "traits": {
            "smithy.api#documentation": "<p>\n  The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only.\n</p>",
            "smithy.api#required": {}
          }
        },
        "forceDelete": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\n  Indicates whether Amazon AppFlow should delete the flow, even if it is currently in use.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DeleteFlowResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appflow#DescribeConnectorEntity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#DescribeConnectorEntityRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#DescribeConnectorEntityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#ConnectorAuthenticationException"
        },
        {
          "target": "com.amazonaws.appflow#ConnectorServerException"
        },
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appflow#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nProvides details regarding the entity used with the connector, with a description of the data model for each entity. \n</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-connector-entity",
          "code": 200
        }
      }
    },
    "com.amazonaws.appflow#DescribeConnectorEntityRequest": {
      "type": "structure",
      "members": {
        "connectorEntityName": {
          "target": "com.amazonaws.appflow#Name",
          "traits": {
            "smithy.api#documentation": "<p>\n The entity name for that connector.\n</p>",
            "smithy.api#required": {}
          }
        },
        "connectorType": {
          "target": "com.amazonaws.appflow#ConnectorType",
          "traits": {
            "smithy.api#documentation": "<p>\n  The type of connector application, such as Salesforce, Amplitude, and so on.\n</p>"
          }
        },
        "connectorProfileName": {
          "target": "com.amazonaws.appflow#ConnectorProfileName",
          "traits": {
            "smithy.api#documentation": "<p>\n  The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in the AWS account.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DescribeConnectorEntityResponse": {
      "type": "structure",
      "members": {
        "connectorEntityFields": {
          "target": "com.amazonaws.appflow#ConnectorEntityFieldList",
          "traits": {
            "smithy.api#documentation": "<p>\n  Describes the fields for that connector entity. For example, for an <i>account</i> entity, the fields would be <i>account name</i>, <i>account ID</i>, and so on.\n</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appflow#DescribeConnectorProfiles": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#DescribeConnectorProfilesRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#DescribeConnectorProfilesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n  Returns a list of <code>connector-profile</code> details matching the provided <code>connector-profile</code> names and <code>connector-types</code>. Both input lists are optional, and you can use them to filter the result. </p>\n         <p>If no names or <code>connector-types</code> are provided, returns all connector profiles in a paginated form. If there is no match, this operation returns an empty list.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-connector-profiles",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.appflow#DescribeConnectorProfilesRequest": {
      "type": "structure",
      "members": {
        "connectorProfileNames": {
          "target": "com.amazonaws.appflow#ConnectorProfileNameList",
          "traits": {
            "smithy.api#documentation": "<p>\n  The name of the connector profile. The name is unique for each <code>ConnectorProfile</code> in the AWS account.\n</p>"
          }
        },
        "connectorType": {
          "target": "com.amazonaws.appflow#ConnectorType",
          "traits": {
            "smithy.api#documentation": "<p>\n  The type of connector, such as Salesforce, Amplitude, and so on.\n</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.appflow#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>\n       Specifies the maximum number of items that should be returned in the result set. The default for <code>maxResults</code> is 20 (for all paginated API operations).\n    </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.appflow#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\nThe pagination token for the next page of data.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DescribeConnectorProfilesResponse": {
      "type": "structure",
      "members": {
        "connectorProfileDetails": {
          "target": "com.amazonaws.appflow#ConnectorProfileDetailList",
          "traits": {
            "smithy.api#documentation": "<p>\nReturns information about the connector profiles associated with the flow.\n</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.appflow#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n  The pagination token for the next page of data. If <code>nextToken=null</code>, this means that all records have been fetched.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DescribeConnectors": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#DescribeConnectorsRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#DescribeConnectorsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n  Describes the connectors vended by Amazon AppFlow for specified connector types. If you don't specify a connector type, this operation describes all connectors vended by Amazon AppFlow.\n  If there are more connectors than can be returned in one page, the response contains a <code>nextToken</code> object, which can be be passed in to the next call to the <code>DescribeConnectors</code> API operation to retrieve the next page. \n</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-connectors",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken"
        }
      }
    },
    "com.amazonaws.appflow#DescribeConnectorsRequest": {
      "type": "structure",
      "members": {
        "connectorTypes": {
          "target": "com.amazonaws.appflow#ConnectorTypeList",
          "traits": {
            "smithy.api#documentation": "<p>\n  The type of connector, such as Salesforce, Amplitude, and so on.\n</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.appflow#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\nThe pagination token for the next page of data.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DescribeConnectorsResponse": {
      "type": "structure",
      "members": {
        "connectorConfigurations": {
          "target": "com.amazonaws.appflow#ConnectorConfigurationsMap",
          "traits": {
            "smithy.api#documentation": "<p>\n  The configuration that is applied to the connectors used in the flow.\n</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.appflow#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\nThe pagination token for the next page of data.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DescribeFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#DescribeFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#DescribeFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n  Provides a description of the specified flow.\n  \n</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-flow",
          "code": 200
        }
      }
    },
    "com.amazonaws.appflow#DescribeFlowExecutionRecords": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appflow#DescribeFlowExecutionRecordsRequest"
      },
      "output": {
        "target": "com.amazonaws.appflow#DescribeFlowExecutionRecordsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appflow#InternalServerException"
        },
        {
          "target": "com.amazonaws.appflow#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appflow#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nFetches the execution history of the flow.\n</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-flow-execution-records",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.appflow#DescribeFlowExecutionRecordsRequest": {
      "type": "structure",
      "members": {
        "flowName": {
          "target": "com.amazonaws.appflow#FlowName",
          "traits": {
            "smithy.api#documentation": "<p>\n  The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only.\n</p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.appflow#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>\n    Specifies the maximum number of items that should be returned in the result set. The default for <code>maxResults</code> is 20 (for all paginated API operations).\n  </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.appflow#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\nThe pagination token for the next page of data.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DescribeFlowExecutionRecordsResponse": {
      "type": "structure",
      "members": {
        "flowExecutions": {
          "target": "com.amazonaws.appflow#FlowExecutionList",
          "traits": {
            "smithy.api#documentation": "<p>\nReturns a list of all instances when this flow was run.\n</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.appflow#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n The pagination token for the next page of data.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#DescribeFlowRequest": {
      "type": "structure",
      "members": {
        "flowName": {
          "target": "com.amazonaws.appflow#FlowName",
          "traits": {
            "smithy.api#documentation": "<p>\n  The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only.\n</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appflow#DescribeFlowResponse": {
      "type": "structure",
      "members": {
        "flowArn": {
          "target": "com.amazonaws.appflow#FlowArn",
          "traits": {
            "smithy.api#documentation": "<p>\n  The flow's Amazon Resource Name (ARN).\n</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.appflow#FlowDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n  A description of the flow.\n</p>"
          }
        },
        "flowName": {
          "target": "com.amazonaws.appflow#FlowName",
          "traits": {
            "smithy.api#documentation": "<p>\n  The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only.\n</p>"
          }
        },
        "kmsArn": {
          "target": "com.amazonaws.appflow#KMSArn",
          "traits": {
            "smithy.api#documentation": "<p>\n  The ARN (Amazon Resource Name) of the Key Management Service (KMS) key you provide for encryption. This is required if you do not want to use the Amazon AppFlow-managed KMS key. If you don't provide anything here, Amazon AppFlow uses the Amazon AppFlow-managed KMS key.\n</p>"
          }
        },
        "flowStatus": {
          "target": "com.amazonaws.appflow#FlowStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n      Indicates the current status of the flow.\n    </p>"
          }
        },
        "flowStatusMessage": {
          "target": "com.amazonaws.appflow#FlowStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>\n      Contains an error message if the flow status is in a suspended or error state. This applies only to scheduled or event-triggered flows.   \n    </p>"
          }
        },
        "sourceFlowConfig": {
          "target": "com.amazonaws.appflow#SourceFlowConfig",
          "traits": {
            "smithy.api#documentation": "<p>\n  The configuration that controls how Amazon AppFlow retrieves data from the source connector.\n</p>"
          }
        },
        "destinationFlowConfigList": {
          "target": "com.amazonaws.appflow#DestinationFlowConfigList",
          "traits": {
            "smithy.api#documentation": "<p>\n  The configuration that controls how Amazon AppFlow transfers data to the destination connector.\n</p>"
          }
        },
        "lastRunExecutionDetails": {
          "target": "com.amazonaws.appflow#ExecutionDetails",
          "traits": {
            "smithy.api#documentation": "<p>\nDescribes the details of the most recent flow run.\n</p>"
          }
        },
        "triggerConfig": {
          "target": "com.amazonaws.appflow#TriggerConfig",
          "traits": {
            "smithy.api#documentation": "<p>\n  The trigger settings that determine how and when the flow runs.\n</p>"
          }
        },
        "tasks": {
          "target": "com.amazonaws.appflow#Tasks",
          "traits": {
            "smithy.api#documentation": "<p>\n  A list of tasks that Amazon AppFlow performs while transferring the data in the flow run.\n</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies when the flow was created.\n</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p>\n  Specifies when the flow was last updated.\n</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.appflow#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>\n  The ARN of the user who created the flow.\n</p>"
          }
        },
        "lastUpdatedBy": {
          "target": "com.amazonaws.appflow#UpdatedBy",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies the user name of the account that performed the most recent update. \n</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.appflow#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n  The tags used to organize, track, or control access for your flow. \n</p>"
          }
        }
      }
    },
    "com.amazonaws.appflow#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "[\\s\\w/!@#+=.-]*"
      }
    },
    "com.amazonaws.appflow#DestinationConnectorProperties": {
      "type": "structure",
      "members": {
        "Redshift": {
          "target": "com.amazonaws.appflow#RedshiftDestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The properties required to query Amazon Redshift.\n</p>"
          }
        },
        "S3": {
          "target": "com.amazonaws.appflow#S3DestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The properties required to query Amazon S3.\n</p>"
          }
        },
        "Salesforce": {
          "target": "com.amazonaws.appflow#SalesforceDestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The properties required to query Salesforce.\n</p>"
          }
        },
        "Snowflake": {
          "target": "com.amazonaws.appflow#SnowflakeDestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  The properties required to query Snowflake.\n</p>"
          }
        },
        "EventBridge": {
          "target": "com.amazonaws.appflow#EventBridgeDestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n      The properties required to query Amazon EventBridge.\n    </p>"
          }
        },
        "Upsolver": {
          "target": "com.amazonaws.appflow#UpsolverDestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n      The properties required to query Upsolver.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  This stores the information that is required to query a particular connector.\n</p>"
      }
    },
    "com.amazonaws.appflow#DestinationField": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.appflow#DestinationFieldProperties": {
      "type": "structure",
      "members": {
        "isCreatable": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\n  Specifies if the destination field can be created by the current user.\n</p>"
          }
        },
        "isNullable": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\n  Specifies if the destination field can have a null value.\n</p>"
          }
        },
        "isUpsertable": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\n      Specifies if the flow run can either insert new rows in the destination field if they do not already exist, or update them if they do.\n    </p>"
          }
        },
        "isUpdatable": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\n      Specifies whether the field can be updated during an <code>UPDATE</code> or <code>UPSERT</code> write operation.\n    </p>"
          }
        },
        "supportedWriteOperations": {
          "target": "com.amazonaws.appflow#SupportedWriteOperationList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of supported write operations. For each write operation listed, this field can be used in <code>idFieldNames</code> when that write operation is present as a destination option. \n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  The properties that can be applied to a field when connector is being used as a destination.\n</p>"
      }
    },
    "com.amazonaws.appflow#DestinationFlowConfig": {
      "type": "structure",
      "members": {
        "connectorType": {
          "target": "com.amazonaws.appflow#ConnectorType",
          "traits": {
            "smithy.api#documentation": "<p>\n  The type of connector, such as Salesforce, Amplitude, and so on.\n</p>",
            "smithy.api#required": {}
          }
        },
        "connectorProfileName": {
          "target": "com.amazonaws.appflow#ConnectorProfileName",
          "traits": {
            "smithy.api#documentation": "<p>\n  The name of the connector profile. This name must be unique for each connector profile in the AWS account.\n</p>"
          }
        },
        "destinationConnectorProperties": {
          "target": "com.amazonaws.appflow#DestinationConnectorProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n  This stores the information that is required to query a particular connector.\n</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  Contains information about the configuration of destination connectors present in the flow.  \n</p>"
      }
    },
    "com.amazonaws.appflow#DestinationFlowConfigList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#DestinationFlowConfig"
      }
    },
    "com.amazonaws.appflow#DynatraceConnectorOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PROJECTION",
            "name": "PROJECTION"
          },
          {
            "value": "BETWEEN",
            "name": "BETWEEN"
          },
          {
            "value": "EQUAL_TO",
            "name": "EQUAL_TO"
          },
          {
            "value": "ADDITION",
            "name": "ADDITION"
          },
          {
            "value": "MULTIPLICATION",
            "name": "MULTIPLICATION"
          },
          {
            "value": "DIVISION",
            "name": "DIVISION"
          },
          {
            "value": "SUBTRACTION",
            "name": "SUBTRACTION"
          },
          {
            "value": "MASK_ALL",
            "name": "MASK_ALL"
          },
          {
            "value": "MASK_FIRST_N",
            "name": "MASK_FIRST_N"
          },
          {
            "value": "MASK_LAST_N",
            "name": "MASK_LAST_N"
          },
          {
            "value": "VALIDATE_NON_NULL",
            "name": "VALIDATE_NON_NULL"
          },
          {
            "value": "VALIDATE_NON_ZERO",
            "name": "VALIDATE_NON_ZERO"
          },
          {
            "value": "VALIDATE_NON_NEGATIVE",
            "name": "VALIDATE_NON_NEGATIVE"
          },
          {
            "value": "VALIDATE_NUMERIC",
            "name": "VALIDATE_NUMERIC"
          },
          {
            "value": "NO_OP",
            "name": "NO_OP"
          }
        ]
      }
    },
    "com.amazonaws.appflow#DynatraceConnectorProfileCredentials": {
      "type": "structure",
      "members": {
        "apiToken": {
          "target": "com.amazonaws.appflow#ApiToken",
          "traits": {
            "smithy.api#documentation": "<p>\n  The API tokens used by Dynatrace API to authenticate various API calls. \n</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  The connector-specific profile credentials required by Dynatrace.\n</p>"
      }
    },
    "com.amazonaws.appflow#DynatraceConnectorProfileProperties": {
      "type": "structure",
      "members": {
        "instanceUrl": {
          "target": "com.amazonaws.appflow#InstanceUrl",
          "traits": {
            "smithy.api#documentation": "<p>\n  The location of the Dynatrace resource.\n</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  The connector-specific profile properties required by Dynatrace.\n</p>"
      }
    },
    "com.amazonaws.appflow#DynatraceMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>\n  The connector metadata specific to Dynatrace.\n</p>"
      }
    },
    "com.amazonaws.appflow#DynatraceSourceProperties": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.amazonaws.appflow#Object",
          "traits": {
            "smithy.api#documentation": "<p>\n  The object specified in the Dynatrace flow source.\n</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  The properties that are applied when Dynatrace is being used as a source.\n</p>"
      }
    },
    "com.amazonaws.appflow#EntitiesPath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "[\\s\\w/!@#+=.-]*"
      }
    },
    "com.amazonaws.appflow#ErrorHandlingConfig": {
      "type": "structure",
      "members": {
        "failOnFirstDestinationError": {
          "target": "com.amazonaws.appflow#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies if the flow should fail after the first instance of a failure when attempting to place data in the destination.\n</p>"
          }
        },
        "bucketPrefix": {
          "target": "com.amazonaws.appflow#BucketPrefix",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies the Amazon S3 bucket prefix.\n</p>"
          }
        },
        "bucketName": {
          "target": "com.amazonaws.appflow#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies the name of the Amazon S3 bucket.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  The settings that determine how Amazon AppFlow handles an error when placing data in the destination. For example, this setting would determine if the flow should fail after one insertion error, or continue and attempt to insert every record regardless of the initial failure. <code>ErrorHandlingConfig</code> is a part of the destination connector details.\n  \n</p>"
      }
    },
    "com.amazonaws.appflow#ErrorInfo": {
      "type": "structure",
      "members": {
        "putFailuresCount": {
          "target": "com.amazonaws.appflow#Long",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies the failure count for the attempted flow.\n</p>"
          }
        },
        "executionMessage": {
          "target": "com.amazonaws.appflow#ExecutionMessage",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies the error message that appears if a flow fails.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\nProvides details in the event of a failed flow, including the failure count and the related error messages.\n</p>"
      }
    },
    "com.amazonaws.appflow#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "[\\s\\w/!@#+=.-]*"
      }
    },
    "com.amazonaws.appflow#EventBridgeDestinationProperties": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.amazonaws.appflow#Object",
          "traits": {
            "smithy.api#documentation": "<p>\n      The object specified in the Amazon EventBridge flow destination.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "errorHandlingConfig": {
          "target": "com.amazonaws.appflow#ErrorHandlingConfig"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      The properties that are applied when Amazon EventBridge is being used as a destination.\n    </p>"
      }
    },
    "com.amazonaws.appflow#EventBridgeMetadata": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>\n      The connector metadata specific to Amazon EventBridge.\n    </p>"
      }
    },
    "com.amazonaws.appflow#ExecutionDetails": {
      "type": "structure",
      "members": {
        "mostRecentExecutionMessage": {
          "target": "com.amazonaws.appflow#MostRecentExecutionMessage",
          "traits": {
            "smithy.api#documentation": "<p>\n  Describes the details of the most recent flow run.\n</p>"
          }
        },
        "mostRecentExecutionTime": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p>\n  Specifies the time of the most recent flow run.\n</p>"
          }
        },
        "mostRecentExecutionStatus": {
          "target": "com.amazonaws.appflow#ExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n  Specifies the status of the most recent flow run.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  Describes the details of the flow run, including the timestamp, status, and message.\n</p>"
      }
    },
    "com.amazonaws.appflow#ExecutionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "\\S+"
      }
    },
    "com.amazonaws.appflow#ExecutionMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "[\\s\\w/!@#+=.-]*"
      }
    },
    "com.amazonaws.appflow#ExecutionRecord": {
      "type": "structure",
      "members": {
        "executionId": {
          "target": "com.amazonaws.appflow#ExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies the identifier of the given flow run.\n</p>"
          }
        },
        "executionStatus": {
          "target": "com.amazonaws.appflow#ExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies the flow run status and whether it is in progress, has completed successfully, or has failed.\n</p>"
          }
        },
        "executionResult": {
          "target": "com.amazonaws.appflow#ExecutionResult",
          "traits": {
            "smithy.api#documentation": "<p>\nDescribes the result of the given flow run.\n</p>"
          }
        },
        "startedAt": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies the start time of the flow run.\n</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p>\n  Specifies the time of the most recent update.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\nSpecifies information about the past flow run instances for a given flow.\n</p>"
      }
    },
    "com.amazonaws.appflow#ExecutionResult": {
      "type": "structure",
      "members": {
        "errorInfo": {
          "target": "com.amazonaws.appflow#ErrorInfo",
          "traits": {
            "smithy.api#documentation": "<p>\nProvides any error message information related to the flow run.\n</p>"
          }
        },
        "bytesProcessed": {
          "target": "com.amazonaws.appflow#Long",
          "traits": {
            "smithy.api#documentation": "<p>\n  The total number of bytes processed by the flow run.\n</p>"
          }
        },
        "bytesWritten": {
          "target": "com.amazonaws.appflow#Long",
          "traits": {
            "smithy.api#documentation": "<p>\n  The total number of bytes written as a result of the flow run.\n</p>"
          }
        },
        "recordsProcessed": {
          "target": "com.amazonaws.appflow#Long",
          "traits": {
            "smithy.api#documentation": "<p>\nThe number of records processed in the flow run.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\nSpecifies the end result of the flow run.\n</p>"
      }
    },
    "com.amazonaws.appflow#ExecutionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "InProgress",
            "name": "INPROGRESS"
          },
          {
            "value": "Successful",
            "name": "SUCCESSFUL"
          },
          {
            "value": "Error",
            "name": "ERROR"
          }
        ]
      }
    },
    "com.amazonaws.appflow#FieldType": {
      "type": "string"
    },
    "com.amazonaws.appflow#FieldTypeDetails": {
      "type": "structure",
      "members": {
        "fieldType": {
          "target": "com.amazonaws.appflow#FieldType",
          "traits": {
            "smithy.api#documentation": "<p>\nThe type of field, such as string, integer, date, and so on.\n</p>",
            "smithy.api#required": {}
          }
        },
        "filterOperators": {
          "target": "com.amazonaws.appflow#FilterOperatorList",
          "traits": {
            "smithy.api#documentation": "<p>\nThe list of operators supported by a field.\n</p>",
            "smithy.api#required": {}
          }
        },
        "supportedValues": {
          "target": "com.amazonaws.appflow#SupportedValueList",
          "traits": {
            "smithy.api#documentation": "<p>\n The list of values that a field can contain. For example, a Boolean <code>fieldType</code> can have two values: \"true\" and \"false\". \n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n Contains details regarding the supported field type and the operators that can be applied for filtering.\n</p>"
      }
    },
    "com.amazonaws.appflow#FileType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CSV",
            "name": "CSV"
          },
          {
            "value": "JSON",
            "name": "JSON"
          },
          {
            "value": "PARQUET",
            "name": "PARQUET"
          }
        ]
      }
    },
    "com.amazonaws.appflow#FilterOperatorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#Operator"
      }
    },
    "com.amazonaws.appflow#FlowArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "arn:aws:appflow:.*:[0-9]+:.*"
      }
    },
    "com.amazonaws.appflow#FlowDefinition": {
      "type": "structure",
      "members": {
        "flowArn": {
          "target": "com.amazonaws.appflow#FlowArn",
          "traits": {
            "smithy.api#documentation": "<p>\n  The flow's Amazon Resource Name (ARN).\n</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.appflow#FlowDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n  A user-entered description of the flow.\n</p>"
          }
        },
        "flowName": {
          "target": "com.amazonaws.appflow#FlowName",
          "traits": {
            "smithy.api#documentation": "<p>\n  The specified name of the flow. Spaces are not allowed. Use underscores (_) or hyphens (-) only.\n</p>"
          }
        },
        "flowStatus": {
          "target": "com.amazonaws.appflow#FlowStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n  Indicates the current status of the flow.\n</p>"
          }
        },
        "sourceConnectorType": {
          "target": "com.amazonaws.appflow#ConnectorType",
          "traits": {
            "smithy.api#documentation": "<p>\n  Specifies the source connector type, such as Salesforce, Amazon S3, Amplitude, and so on.\n</p>"
          }
        },
        "destinationConnectorType": {
          "target": "com.amazonaws.appflow#ConnectorType",
          "traits": {
            "smithy.api#documentation": "<p>\n  Specifies the destination connector type, such as Salesforce, Amazon S3, Amplitude, and so on.\n</p>"
          }
        },
        "triggerType": {
          "target": "com.amazonaws.appflow#TriggerType",
          "traits": {
            "smithy.api#documentation": "<p>\n  Specifies the type of flow trigger. This can be <code>OnDemand</code>, <code>Scheduled</code>, or <code>Event</code>.\n</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p>\n  Specifies when the flow was created.\n</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.appflow#Date",
          "traits": {
            "smithy.api#documentation": "<p>\n  Specifies when the flow was last updated.\n</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.appflow#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>\n  The ARN of the user who created the flow.\n</p>"
          }
        },
        "lastUpdatedBy": {
          "target": "com.amazonaws.appflow#UpdatedBy",
          "traits": {
            "smithy.api#documentation": "<p>\n  Specifies the account user name that most recently updated the flow. \n</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.appflow#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\nThe tags used to organize, track, or control access for your flow. \n</p>"
          }
        },
        "lastRunExecutionDetails": {
          "target": "com.amazonaws.appflow#ExecutionDetails",
          "traits": {
            "smithy.api#documentation": "<p>\n  Describes the details of the most recent flow run.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\nThe properties of the flow, such as its source, destination, trigger type, and so on.\n</p>"
      }
    },
    "com.amazonaws.appflow#FlowDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "[\\w!@#\\-.?,\\s]*"
      }
    },
    "com.amazonaws.appflow#FlowExecutionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#ExecutionRecord"
      }
    },
    "com.amazonaws.appflow#FlowList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appflow#FlowDefinition"
      }
    },
    "com.amazonaws.appflow#FlowName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "[a-zA-Z0-9][\\w!@#.-]+"
      }
    },
    "com.amazonaws.appflow#FlowStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Active",
            "name": "ACTIVE"
          },
          {
            "value": "Deprecated",
            "name": "DEPRECATED"
          },
          {
            "value": "Deleted",
            "name": "DELETED"
          },
          {
            "value": "Draft",
            "name": "DRAFT"
          },
          {
            "value": "Errored",
            "name": "ERRORED"
          },
          {
            "value": "Suspended",
            "name": "SUSPENDED"
          }
        ]
      }
    },
    "com.amazonaws.appflow#FlowStatusMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "[\\s\\w/!@#+=.-]*"
      }
    },
    "com.amazonaws.appflow#GoogleAnalyticsConnectorOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PROJECTION",
            "name": "PROJECTION"
          },
          {
            "value": "BETWEEN",
            "name": "BETWEEN"
          }
        ]
      }
    },
    "com.amazonaws.appflow#GoogleAnalyticsConnectorProfileCredentials": {
      "type": "structure",
      "members": {
        "clientId": {
          "target": "com.amazonaws.appflow#ClientId",
          "traits": {
            "smithy.api#documentation": "<p>\n  The identifier for the desired client.\n</p>",
            "smithy.api#required": {}
          }
        },
        "clientSecret": {
          "target": "com.amazonaws.appflow#ClientSecret",
          "traits": {
            "smithy.api#documentation": "<p>\n  The client secret used by the OAuth client to authenticate to the authorization server. \n</p>",
            "smithy.api#required": {}
          }
        },
        "accessToken": {
          "target": "com.amazonaws.appflow#AccessToken",
          "traits": {
            "smithy.api#documentation": "<p>\nThe credentials used to access protected Google Analytics resources.\n</p>"
          }
        },
        "refreshToken": {
          "target": "com.amazonaws.appflow#RefreshToken",
          "traits": {
            "smithy.api#documentation": "<p>\n  The credentials used to acquire new access tokens. This is required only for OAuth2 access tokens, and is not required for OAuth1 access tokens.\n</p>"
          }
        },
        "oAuthRequest": {
          "target": "com.amazonaws.appflow#ConnectorOAuthRequest",
          "traits": {
            "smithy.api#documentation": "<p>\n  The OAuth requirement needed to request security tokens from the connector endpoint.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  The connector-specific profile credentials required by Google Analytics.\n</p>"
      }
    },
    "com.amazonaws.appflow#GoogleAnalyticsConnectorProfileProperties": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>\n  The connector-specific profile properties required by Google Analytics.\n</p>"
      }
    },
    "com.amazonaws.appflow#GoogleAnalyticsMetadata": {
      "type": "structure",
      "members": {
        "oAuthScopes": {
          "target": "com.amazonaws.appflow#OAuthScopeList",
          "traits": {
            "smithy.api#documentation": "<p>\n  The desired authorization scope for the Google Analytics account.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  The connector metadata specific to Google Analytics.\n</p>"
      }
    },
    "com.amazonaws.appflow#GoogleAnalyticsSourceProperties": {
      "type": "structure",
      "members": {
        "object": {
          "target": "com.amazonaws.appflow#Object",
          "traits": {
            "smithy.api#documentation": "<p>\n  The object specified in the Google Analytics flow source.\n</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  The properties that are applied when Google Analytics is being used as a source.\n</p>"
      }
    },
    "com.amazonaws.appflow#Group": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
[...]
