{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.appintegrations#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appintegrations#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.appintegrations#AmazonAppIntegrationService": {
      "type": "service",
      "version": "2020-07-29",
      "operations": [
        {
          "target": "com.amazonaws.appintegrations#CreateDataIntegration"
        },
        {
          "target": "com.amazonaws.appintegrations#CreateEventIntegration"
        },
        {
          "target": "com.amazonaws.appintegrations#DeleteDataIntegration"
        },
        {
          "target": "com.amazonaws.appintegrations#DeleteEventIntegration"
        },
        {
          "target": "com.amazonaws.appintegrations#GetDataIntegration"
        },
        {
          "target": "com.amazonaws.appintegrations#GetEventIntegration"
        },
        {
          "target": "com.amazonaws.appintegrations#ListDataIntegrationAssociations"
        },
        {
          "target": "com.amazonaws.appintegrations#ListDataIntegrations"
        },
        {
          "target": "com.amazonaws.appintegrations#ListEventIntegrationAssociations"
        },
        {
          "target": "com.amazonaws.appintegrations#ListEventIntegrations"
        },
        {
          "target": "com.amazonaws.appintegrations#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.appintegrations#TagResource"
        },
        {
          "target": "com.amazonaws.appintegrations#UntagResource"
        },
        {
          "target": "com.amazonaws.appintegrations#UpdateDataIntegration"
        },
        {
          "target": "com.amazonaws.appintegrations#UpdateEventIntegration"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "AppIntegrations",
          "arnNamespace": "app-integrations",
          "cloudFormationName": "AppIntegrations",
          "cloudTrailEventSource": "appintegrations.amazonaws.com",
          "endpointPrefix": "app-integrations"
        },
        "aws.auth#sigv4": {
          "name": "app-integrations"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>The Amazon AppIntegrations service enables you to configure and reuse connections to external\n      applications.</p>\n         <p>For information about how you can use external applications with Amazon Connect, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/crm.html\">Set up pre-built\n      integrations</a> and <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-wisdom.html\">Deliver information to agents using Amazon Connect Wisdom</a>\n       in the <i>Amazon Connect Administrator Guide</i>.</p>",
        "smithy.api#title": "Amazon AppIntegrations Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://app-integrations-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://app-integrations-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://app-integrations.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://app-integrations.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://app-integrations.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.appintegrations#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$"
      }
    },
    "com.amazonaws.appintegrations#ClientAssociationMetadata": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.appintegrations#NonBlankString"
      },
      "value": {
        "target": "com.amazonaws.appintegrations#NonBlankString"
      }
    },
    "com.amazonaws.appintegrations#ClientId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.appintegrations#CreateDataIntegration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appintegrations#CreateDataIntegrationRequest"
      },
      "output": {
        "target": "com.amazonaws.appintegrations#CreateDataIntegrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appintegrations#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.appintegrations#InternalServiceError"
        },
        {
          "target": "com.amazonaws.appintegrations#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.appintegrations#ResourceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.appintegrations#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates and persists a DataIntegration resource.</p>\n         <note>\n            <p>You cannot create a DataIntegration association for a DataIntegration that has been previously associated.  \n      Use a different DataIntegration, or recreate the DataIntegration using the \n      <code>CreateDataIntegration</code> API.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/dataIntegrations",
          "code": 200
        }
      }
    },
    "com.amazonaws.appintegrations#CreateDataIntegrationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appintegrations#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DataIntegration.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appintegrations#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the DataIntegration.</p>"
          }
        },
        "KmsKey": {
          "target": "com.amazonaws.appintegrations#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key for the DataIntegration.</p>"
          }
        },
        "SourceURI": {
          "target": "com.amazonaws.appintegrations#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the data source.</p>"
          }
        },
        "ScheduleConfig": {
          "target": "com.amazonaws.appintegrations#ScheduleConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data and how often it should be pulled from the source.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appintegrations#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.appintegrations#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.appintegrations#CreateDataIntegrationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.appintegrations#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN)</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.appintegrations#UUID",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appintegrations#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DataIntegration.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appintegrations#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the DataIntegration.</p>"
          }
        },
        "KmsKey": {
          "target": "com.amazonaws.appintegrations#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key for the DataIntegration.</p>"
          }
        },
        "SourceURI": {
          "target": "com.amazonaws.appintegrations#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the data source.</p>"
          }
        },
        "ScheduleConfiguration": {
          "target": "com.amazonaws.appintegrations#ScheduleConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data and how often it should be pulled from the source.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appintegrations#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.appintegrations#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request.</p>"
          }
        }
      }
    },
    "com.amazonaws.appintegrations#CreateEventIntegration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appintegrations#CreateEventIntegrationRequest"
      },
      "output": {
        "target": "com.amazonaws.appintegrations#CreateEventIntegrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appintegrations#DuplicateResourceException"
        },
        {
          "target": "com.amazonaws.appintegrations#InternalServiceError"
        },
        {
          "target": "com.amazonaws.appintegrations#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.appintegrations#ResourceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.appintegrations#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an EventIntegration, given a specified name, description, and a reference to an\n      Amazon EventBridge bus in your account and a partner event source that pushes events to that bus. No\n      objects are created in the your account, only metadata that is persisted on the\n      EventIntegration control plane.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/eventIntegrations",
          "code": 200
        }
      }
    },
    "com.amazonaws.appintegrations#CreateEventIntegrationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appintegrations#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event integration.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appintegrations#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the event integration.</p>"
          }
        },
        "EventFilter": {
          "target": "com.amazonaws.appintegrations#EventFilter",
          "traits": {
            "smithy.api#documentation": "<p>The event filter.</p>",
            "smithy.api#required": {}
          }
        },
        "EventBridgeBus": {
          "target": "com.amazonaws.appintegrations#EventBridgeBus",
          "traits": {
            "smithy.api#documentation": "<p>The EventBridge bus.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.appintegrations#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n      request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.appintegrations#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.appintegrations#CreateEventIntegrationResponse": {
      "type": "structure",
      "members": {
        "EventIntegrationArn": {
          "target": "com.amazonaws.appintegrations#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the event integration. </p>"
          }
        }
      }
    },
    "com.amazonaws.appintegrations#DataIntegrationAssociationSummary": {
      "type": "structure",
      "members": {
        "DataIntegrationAssociationArn": {
          "target": "com.amazonaws.appintegrations#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the DataIntegration association.</p>"
          }
        },
        "DataIntegrationArn": {
          "target": "com.amazonaws.appintegrations#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN)of the DataIntegration.</p>"
          }
        },
        "ClientId": {
          "target": "com.amazonaws.appintegrations#ClientId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for teh client that is associated with the DataIntegration\n      association.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about the DataIntegration association.</p>"
      }
    },
    "com.amazonaws.appintegrations#DataIntegrationAssociationsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appintegrations#DataIntegrationAssociationSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.appintegrations#DataIntegrationSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.appintegrations#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the DataIntegration.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appintegrations#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DataIntegration.</p>"
          }
        },
        "SourceURI": {
          "target": "com.amazonaws.appintegrations#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the data source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about the DataIntegration.</p>"
      }
    },
    "com.amazonaws.appintegrations#DataIntegrationsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appintegrations#DataIntegrationSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.appintegrations#DeleteDataIntegration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appintegrations#DeleteDataIntegrationRequest"
      },
      "output": {
        "target": "com.amazonaws.appintegrations#DeleteDataIntegrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appintegrations#InternalServiceError"
        },
        {
          "target": "com.amazonaws.appintegrations#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.appintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appintegrations#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the DataIntegration. Only DataIntegrations that don't have any\n      DataIntegrationAssociations can be deleted. Deleting a DataIntegration also deletes the\n      underlying Amazon AppFlow flow and service linked role. </p>\n         <note>\n            <p>You cannot create a DataIntegration association for a DataIntegration that has been previously associated.  \nUse a different DataIntegration, or recreate the DataIntegration using the \n<a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> API.</p>\n         </note>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/dataIntegrations/{DataIntegrationIdentifier}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appintegrations#DeleteDataIntegrationRequest": {
      "type": "structure",
      "members": {
        "DataIntegrationIdentifier": {
          "target": "com.amazonaws.appintegrations#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the DataIntegration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appintegrations#DeleteDataIntegrationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appintegrations#DeleteEventIntegration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appintegrations#DeleteEventIntegrationRequest"
      },
      "output": {
        "target": "com.amazonaws.appintegrations#DeleteEventIntegrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appintegrations#InternalServiceError"
        },
        {
          "target": "com.amazonaws.appintegrations#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.appintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appintegrations#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified existing event integration. If the event integration is associated\n      with clients, the request is rejected.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/eventIntegrations/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appintegrations#DeleteEventIntegrationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appintegrations#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event integration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appintegrations#DeleteEventIntegrationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appintegrations#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.appintegrations#DuplicateResourceException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appintegrations#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource with the specified name already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.appintegrations#EventBridgeBus": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\/\\._\\-]+$"
      }
    },
    "com.amazonaws.appintegrations#EventBridgeRuleName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\/\\._\\-]+$"
      }
    },
    "com.amazonaws.appintegrations#EventFilter": {
      "type": "structure",
      "members": {
        "Source": {
          "target": "com.amazonaws.appintegrations#Source",
          "traits": {
            "smithy.api#documentation": "<p>The source of the events.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The event filter.</p>"
      }
    },
    "com.amazonaws.appintegrations#EventIntegration": {
      "type": "structure",
      "members": {
        "EventIntegrationArn": {
          "target": "com.amazonaws.appintegrations#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the event integration.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appintegrations#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event integration.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appintegrations#Description",
          "traits": {
            "smithy.api#documentation": "<p>The event integration description.</p>"
          }
        },
        "EventFilter": {
          "target": "com.amazonaws.appintegrations#EventFilter",
          "traits": {
            "smithy.api#documentation": "<p>The event integration filter.</p>"
          }
        },
        "EventBridgeBus": {
          "target": "com.amazonaws.appintegrations#EventBridgeBus",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EventBridge bus for the event integration.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appintegrations#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The event integration.</p>"
      }
    },
    "com.amazonaws.appintegrations#EventIntegrationAssociation": {
      "type": "structure",
      "members": {
        "EventIntegrationAssociationArn": {
          "target": "com.amazonaws.appintegrations#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the event integration association.</p>"
          }
        },
        "EventIntegrationAssociationId": {
          "target": "com.amazonaws.appintegrations#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the event integration association.</p>"
          }
        },
        "EventIntegrationName": {
          "target": "com.amazonaws.appintegrations#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event integration.</p>"
          }
        },
        "ClientId": {
          "target": "com.amazonaws.appintegrations#ClientId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the client that is associated with the event integration.</p>"
          }
        },
        "EventBridgeRuleName": {
          "target": "com.amazonaws.appintegrations#EventBridgeRuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the EventBridge rule.</p>"
          }
        },
        "ClientAssociationMetadata": {
          "target": "com.amazonaws.appintegrations#ClientAssociationMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata associated with the client.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The event integration association.</p>"
      }
    },
    "com.amazonaws.appintegrations#EventIntegrationAssociationsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appintegrations#EventIntegrationAssociation"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.appintegrations#EventIntegrationsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appintegrations#EventIntegration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.appintegrations#GetDataIntegration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appintegrations#GetDataIntegrationRequest"
      },
      "output": {
        "target": "com.amazonaws.appintegrations#GetDataIntegrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appintegrations#InternalServiceError"
        },
        {
          "target": "com.amazonaws.appintegrations#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.appintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appintegrations#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the DataIntegration.</p>\n         <note>\n            <p>You cannot create a DataIntegration association for a DataIntegration that has been previously associated.  \nUse a different DataIntegration, or recreate the DataIntegration using the \n<a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> API.</p>\n         </note>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dataIntegrations/{Identifier}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appintegrations#GetDataIntegrationRequest": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.appintegrations#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appintegrations#GetDataIntegrationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.appintegrations#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the DataIntegration.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.appintegrations#UUID",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appintegrations#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DataIntegration.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appintegrations#Description",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key for the DataIntegration.</p>"
          }
        },
        "KmsKey": {
          "target": "com.amazonaws.appintegrations#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key for the DataIntegration.</p>"
          }
        },
        "SourceURI": {
          "target": "com.amazonaws.appintegrations#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the data source.</p>"
          }
        },
        "ScheduleConfiguration": {
          "target": "com.amazonaws.appintegrations#ScheduleConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data and how often it should be pulled from the source.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appintegrations#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.appintegrations#GetEventIntegration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appintegrations#GetEventIntegrationRequest"
      },
      "output": {
        "target": "com.amazonaws.appintegrations#GetEventIntegrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appintegrations#InternalServiceError"
        },
        {
          "target": "com.amazonaws.appintegrations#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.appintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appintegrations#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the event integration.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/eventIntegrations/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appintegrations#GetEventIntegrationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appintegrations#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event integration. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appintegrations#GetEventIntegrationResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appintegrations#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event integration. </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appintegrations#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the event integration.</p>"
          }
        },
        "EventIntegrationArn": {
          "target": "com.amazonaws.appintegrations#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the event integration.</p>"
          }
        },
        "EventBridgeBus": {
          "target": "com.amazonaws.appintegrations#EventBridgeBus",
          "traits": {
            "smithy.api#documentation": "<p>The EventBridge bus.</p>"
          }
        },
        "EventFilter": {
          "target": "com.amazonaws.appintegrations#EventFilter",
          "traits": {
            "smithy.api#documentation": "<p>The event filter.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appintegrations#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.appintegrations#IdempotencyToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.appintegrations#Identifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.appintegrations#InternalServiceError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appintegrations#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request processing failed due to an error or failure with the service.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.appintegrations#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appintegrations#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is not valid. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.appintegrations#ListDataIntegrationAssociations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appintegrations#ListDataIntegrationAssociationsRequest"
      },
      "output": {
        "target": "com.amazonaws.appintegrations#ListDataIntegrationAssociationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appintegrations#InternalServiceError"
        },
        {
          "target": "com.amazonaws.appintegrations#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.appintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appintegrations#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a paginated list of DataIntegration associations in the account.</p>\n         <note>\n            <p>You cannot create a DataIntegration association for a DataIntegration that has been previously associated.  \nUse a different DataIntegration, or recreate the DataIntegration using the \n<a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> API.</p>\n         </note>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dataIntegrations/{DataIntegrationIdentifier}/associations",
          "code": 200
        }
      }
    },
    "com.amazonaws.appintegrations#ListDataIntegrationAssociationsRequest": {
      "type": "structure",
      "members": {
        "DataIntegrationIdentifier": {
          "target": "com.amazonaws.appintegrations#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the DataIntegration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appintegrations#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous \nresponse in the next request to retrieve the next set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.appintegrations#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per page.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      }
    },
    "com.amazonaws.appintegrations#ListDataIntegrationAssociationsResponse": {
      "type": "structure",
      "members": {
        "DataIntegrationAssociations": {
          "target": "com.amazonaws.appintegrations#DataIntegrationAssociationsList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) and unique ID of the DataIntegration association.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appintegrations#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.appintegrations#ListDataIntegrations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appintegrations#ListDataIntegrationsRequest"
      },
      "output": {
        "target": "com.amazonaws.appintegrations#ListDataIntegrationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appintegrations#InternalServiceError"
        },
        {
          "target": "com.amazonaws.appintegrations#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.appintegrations#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a paginated list of DataIntegrations in the account.</p>\n         <note>\n            <p>You cannot create a DataIntegration association for a DataIntegration that has been previously associated.  \nUse a different DataIntegration, or recreate the DataIntegration using the \n<a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> API.</p>\n         </note>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dataIntegrations",
          "code": 200
        }
      }
    },
    "com.amazonaws.appintegrations#ListDataIntegrationsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.appintegrations#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous \nresponse in the next request to retrieve the next set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.appintegrations#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per page.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      }
    },
    "com.amazonaws.appintegrations#ListDataIntegrationsResponse": {
      "type": "structure",
      "members": {
        "DataIntegrations": {
          "target": "com.amazonaws.appintegrations#DataIntegrationsList",
          "traits": {
            "smithy.api#documentation": "<p>The DataIntegrations associated with this account.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appintegrations#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.appintegrations#ListEventIntegrationAssociations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appintegrations#ListEventIntegrationAssociationsRequest"
      },
      "output": {
        "target": "com.amazonaws.appintegrations#ListEventIntegrationAssociationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appintegrations#InternalServiceError"
        },
        {
          "target": "com.amazonaws.appintegrations#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.appintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appintegrations#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a paginated list of event integration associations in the account. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/eventIntegrations/{EventIntegrationName}/associations",
          "code": 200
        }
      }
    },
    "com.amazonaws.appintegrations#ListEventIntegrationAssociationsRequest": {
      "type": "structure",
      "members": {
        "EventIntegrationName": {
          "target": "com.amazonaws.appintegrations#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event integration. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appintegrations#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous \nresponse in the next request to retrieve the next set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.appintegrations#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per page.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      }
    },
    "com.amazonaws.appintegrations#ListEventIntegrationAssociationsResponse": {
      "type": "structure",
      "members": {
        "EventIntegrationAssociations": {
          "target": "com.amazonaws.appintegrations#EventIntegrationAssociationsList",
          "traits": {
            "smithy.api#documentation": "<p>The event integration associations.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appintegrations#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.appintegrations#ListEventIntegrations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appintegrations#ListEventIntegrationsRequest"
      },
      "output": {
        "target": "com.amazonaws.appintegrations#ListEventIntegrationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appintegrations#InternalServiceError"
        },
        {
          "target": "com.amazonaws.appintegrations#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.appintegrations#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a paginated list of event integrations in the account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/eventIntegrations",
          "code": 200
        }
      }
    },
    "com.amazonaws.appintegrations#ListEventIntegrationsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.appintegrations#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. Use the value returned in the previous \nresponse in the next request to retrieve the next set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.appintegrations#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per page.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      }
    },
    "com.amazonaws.appintegrations#ListEventIntegrationsResponse": {
      "type": "structure",
      "members": {
        "EventIntegrations": {
          "target": "com.amazonaws.appintegrations#EventIntegrationsList",
          "traits": {
            "smithy.api#documentation": "<p>The event integrations.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appintegrations#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are additional results, this is the token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.appintegrations#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appintegrations#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.appintegrations#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appintegrations#InternalServiceError"
        },
        {
          "target": "com.amazonaws.appintegrations#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.appintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appintegrations#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags for the specified resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{resourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appintegrations#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.appintegrations#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appintegrations#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.appintegrations#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Information about the tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.appintegrations#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.appintegrations#Message": {
      "type": "string"
    },
    "com.amazonaws.appintegrations#Name": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\/\\._\\-]+$"
      }
    },
    "com.amazonaws.appintegrations#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.appintegrations#NonBlankString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.appintegrations#Object": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\/\\._\\-]+$"
      }
    },
    "com.amazonaws.appintegrations#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appintegrations#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resource was not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.appintegrations#ResourceQuotaExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appintegrations#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The allowed quota for the resource has been exceeded.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.appintegrations#Schedule": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\/\\._\\-]+$"
      }
    },
    "com.amazonaws.appintegrations#ScheduleConfiguration": {
      "type": "structure",
      "members": {
        "FirstExecutionFrom": {
          "target": "com.amazonaws.appintegrations#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The start date for objects to import in the first flow run.</p>"
          }
        },
        "Object": {
          "target": "com.amazonaws.appintegrations#Object",
          "traits": {
            "smithy.api#documentation": "<p>The name of the object to pull from the data source.</p>"
          }
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.appintegrations#Schedule",
          "traits": {
            "smithy.api#documentation": "<p>How often the data should be pulled from data source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The name of the data and how often it should be pulled from the source.</p>"
      }
    },
    "com.amazonaws.appintegrations#Source": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^aws\\.partner\\/.*$"
      }
    },
    "com.amazonaws.appintegrations#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^(?!aws:)[a-zA-Z+-=._:/]+$"
      }
    },
    "com.amazonaws.appintegrations#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appintegrations#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.appintegrations#TagMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.appintegrations#TagKey"
      },
      "value": {
        "target": "com.amazonaws.appintegrations#TagValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.appintegrations#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appintegrations#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.appintegrations#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appintegrations#InternalServiceError"
        },
        {
          "target": "com.amazonaws.appintegrations#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.appintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appintegrations#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified tags to the specified resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{resourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appintegrations#TagResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.appintegrations#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.appintegrations#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appintegrations#TagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appintegrations#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.appintegrations#ThrottlingException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appintegrations#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The throttling limit has been exceeded.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.appintegrations#UUID": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
      }
    },
    "com.amazonaws.appintegrations#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appintegrations#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.appintegrations#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appintegrations#InternalServiceError"
        },
        {
          "target": "com.amazonaws.appintegrations#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.appintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appintegrations#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the specified tags from the specified resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{resourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appintegrations#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.appintegrations#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tagKeys": {
          "target": "com.amazonaws.appintegrations#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The tag keys.</p>",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appintegrations#UntagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appintegrations#UpdateDataIntegration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appintegrations#UpdateDataIntegrationRequest"
      },
      "output": {
        "target": "com.amazonaws.appintegrations#UpdateDataIntegrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appintegrations#InternalServiceError"
        },
        {
          "target": "com.amazonaws.appintegrations#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.appintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appintegrations#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the description of a DataIntegration.</p>\n         <note>\n            <p>You cannot create a DataIntegration association for a DataIntegration that has been previously associated.  \nUse a different DataIntegration, or recreate the DataIntegration using the \n<a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> API.</p>\n         </note>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/dataIntegrations/{Identifier}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appintegrations#UpdateDataIntegrationRequest": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.appintegrations#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the DataIntegration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.appintegrations#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DataIntegration.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appintegrations#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the DataIntegration.</p>"
          }
        }
      }
    },
    "com.amazonaws.appintegrations#UpdateDataIntegrationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appintegrations#UpdateEventIntegration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appintegrations#UpdateEventIntegrationRequest"
      },
      "output": {
        "target": "com.amazonaws.appintegrations#UpdateEventIntegrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appintegrations#InternalServiceError"
        },
        {
          "target": "com.amazonaws.appintegrations#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.appintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.appintegrations#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the description of an event integration.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/eventIntegrations/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appintegrations#UpdateEventIntegrationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appintegrations#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event integration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appintegrations#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the event inegration.</p>"
          }
        }
      }
    },
    "com.amazonaws.appintegrations#UpdateEventIntegrationResponse": {
      "type": "structure",
      "members": {}
    }
  }
}