{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.appstream#AccessEndpoint": {
      "type": "structure",
      "members": {
        "EndpointType": {
          "target": "com.amazonaws.appstream#AccessEndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of interface endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "VpceId": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the VPC in which the interface endpoint is used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an interface VPC endpoint (interface endpoint) that lets you create a private connection between the virtual private cloud (VPC) that you specify and AppStream 2.0. When you specify an interface endpoint for a stack, users of the stack can connect to AppStream 2.0 only through that endpoint. When you specify an interface endpoint for an image builder, administrators can connect to the image builder only through that endpoint.</p>"
      }
    },
    "com.amazonaws.appstream#AccessEndpointList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appstream#AccessEndpoint"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4
        }
      }
    },
    "com.amazonaws.appstream#AccessEndpointType": {
      "type": "enum",
      "members": {
        "STREAMING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREAMING"
          }
        }
      }
    },
    "com.amazonaws.appstream#AccountName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appstream#AccountPassword": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 127
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appstream#Action": {
      "type": "enum",
      "members": {
        "CLIPBOARD_COPY_FROM_LOCAL_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIPBOARD_COPY_FROM_LOCAL_DEVICE"
          }
        },
        "CLIPBOARD_COPY_TO_LOCAL_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIPBOARD_COPY_TO_LOCAL_DEVICE"
          }
        },
        "FILE_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_UPLOAD"
          }
        },
        "FILE_DOWNLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_DOWNLOAD"
          }
        },
        "PRINTING_TO_LOCAL_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRINTING_TO_LOCAL_DEVICE"
          }
        },
        "DOMAIN_PASSWORD_SIGNIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_PASSWORD_SIGNIN"
          }
        },
        "DOMAIN_SMART_CARD_SIGNIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOMAIN_SMART_CARD_SIGNIN"
          }
        }
      }
    },
    "com.amazonaws.appstream#AppBlock": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the app block.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.appstream#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the app block.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the app block.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the app block.</p>"
          }
        },
        "SourceS3Location": {
          "target": "com.amazonaws.appstream#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>The source S3 location of the app block.</p>"
          }
        },
        "SetupScriptDetails": {
          "target": "com.amazonaws.appstream#ScriptDetails",
          "traits": {
            "smithy.api#documentation": "<p>The setup script details of the app block.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.appstream#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The created time of the app block.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an app block.</p>\n         <p>App blocks are an Amazon AppStream 2.0 resource that stores the details about the\n           virtual hard disk in an S3 bucket. It also stores the setup script with details about\n           how to mount the virtual hard disk. The virtual hard disk includes the application\n           binaries and other files necessary to launch your applications. Multiple applications\n           can be assigned to a single app block.</p>\n         <p>This is only supported for Elastic fleets.</p>"
      }
    },
    "com.amazonaws.appstream#AppBlocks": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appstream#AppBlock"
      }
    },
    "com.amazonaws.appstream#AppVisibility": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "ASSOCIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSOCIATED"
          }
        }
      }
    },
    "com.amazonaws.appstream#Application": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The application name to display.</p>"
          }
        },
        "IconURL": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL for the application icon. This URL might be time-limited.</p>"
          }
        },
        "LaunchPath": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The path to the application executable in the instance.</p>"
          }
        },
        "LaunchParameters": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The arguments that are passed to the application at launch.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.appstream#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>If there is a problem, the application can be disabled after image creation.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.appstream#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>Additional attributes that describe the application.</p>"
          }
        },
        "WorkingDirectory": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The working directory for the application.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the application.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.appstream#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the application.</p>"
          }
        },
        "AppBlockArn": {
          "target": "com.amazonaws.appstream#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The app block ARN of the application.</p>"
          }
        },
        "IconS3Location": {
          "target": "com.amazonaws.appstream#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>The S3 location of the application icon.</p>"
          }
        },
        "Platforms": {
          "target": "com.amazonaws.appstream#Platforms",
          "traits": {
            "smithy.api#documentation": "<p>The platforms on which the application can run.</p>"
          }
        },
        "InstanceFamilies": {
          "target": "com.amazonaws.appstream#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The instance families for the application.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.appstream#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the application was created within the app block.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an application in the application catalog.</p>"
      }
    },
    "com.amazonaws.appstream#ApplicationAttribute": {
      "type": "enum",
      "members": {
        "LAUNCH_PARAMETERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAUNCH_PARAMETERS"
          }
        },
        "WORKING_DIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WORKING_DIRECTORY"
          }
        }
      }
    },
    "com.amazonaws.appstream#ApplicationAttributes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appstream#ApplicationAttribute"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2
        }
      }
    },
    "com.amazonaws.appstream#ApplicationFleetAssociation": {
      "type": "structure",
      "members": {
        "FleetName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the fleet associated with the application.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationArn": {
          "target": "com.amazonaws.appstream#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the application associated with the fleet.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the application fleet association.</p>"
      }
    },
    "com.amazonaws.appstream#ApplicationFleetAssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appstream#ApplicationFleetAssociation"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.appstream#ApplicationSettings": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.appstream#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Enables or disables persistent application settings for users during their streaming sessions. </p>",
            "smithy.api#required": {}
          }
        },
        "SettingsGroup": {
          "target": "com.amazonaws.appstream#SettingsGroup",
          "traits": {
            "smithy.api#documentation": "<p>The path prefix for the S3 bucket where users’ persistent application settings are stored. You can allow the same persistent application settings to be used across multiple stacks by specifying the same settings group for each stack. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The persistent application settings for users of a stack.</p>"
      }
    },
    "com.amazonaws.appstream#ApplicationSettingsResponse": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.appstream#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Specifies whether persistent application settings are enabled for users during their streaming sessions.</p>"
          }
        },
        "SettingsGroup": {
          "target": "com.amazonaws.appstream#SettingsGroup",
          "traits": {
            "smithy.api#documentation": "<p>The path prefix for the S3 bucket where users’ persistent application settings are stored.</p>"
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket where users’ persistent application settings are stored. When persistent application settings are enabled for the first time for an account in an AWS Region, an S3 bucket is created. The bucket is unique to the AWS account and the Region. \n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the persistent application settings for users of a stack.</p>"
      }
    },
    "com.amazonaws.appstream#Applications": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appstream#Application"
      }
    },
    "com.amazonaws.appstream#AppstreamAgentVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.appstream#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws(?:\\-cn|\\-iso\\-b|\\-iso|\\-us\\-gov)?:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.\\\\-]{0,1023}$"
      }
    },
    "com.amazonaws.appstream#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appstream#Arn"
      }
    },
    "com.amazonaws.appstream#AssociateApplicationFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#AssociateApplicationFleetRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#AssociateApplicationFleetResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified application with the specified fleet. This is only supported for Elastic fleets.</p>"
      }
    },
    "com.amazonaws.appstream#AssociateApplicationFleetRequest": {
      "type": "structure",
      "members": {
        "FleetName": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the fleet.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationArn": {
          "target": "com.amazonaws.appstream#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the application.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#AssociateApplicationFleetResult": {
      "type": "structure",
      "members": {
        "ApplicationFleetAssociation": {
          "target": "com.amazonaws.appstream#ApplicationFleetAssociation",
          "traits": {
            "smithy.api#documentation": "<p>If fleet name is specified, this returns the list of applications that are associated\n            to it. If application ARN is specified, this returns the list of fleets to which it is\n            associated.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#AssociateApplicationToEntitlement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#AssociateApplicationToEntitlementRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#AssociateApplicationToEntitlementResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#EntitlementNotFoundException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an application to entitle.</p>"
      }
    },
    "com.amazonaws.appstream#AssociateApplicationToEntitlementRequest": {
      "type": "structure",
      "members": {
        "StackName": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stack.</p>",
            "smithy.api#required": {}
          }
        },
        "EntitlementName": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entitlement.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationIdentifier": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the application.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#AssociateApplicationToEntitlementResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#AssociateFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#AssociateFleetRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#AssociateFleetResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#IncompatibleImageException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified fleet with the specified stack.</p>"
      }
    },
    "com.amazonaws.appstream#AssociateFleetRequest": {
      "type": "structure",
      "members": {
        "FleetName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the fleet. </p>",
            "smithy.api#required": {}
          }
        },
        "StackName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stack.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#AssociateFleetResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#AuthenticationType": {
      "type": "enum",
      "members": {
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API"
          }
        },
        "SAML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAML"
          }
        },
        "USERPOOL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USERPOOL"
          }
        },
        "AWS_AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_AD"
          }
        }
      }
    },
    "com.amazonaws.appstream#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d+$"
      }
    },
    "com.amazonaws.appstream#AwsAccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appstream#AwsAccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.appstream#BatchAssociateUserStack": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#BatchAssociateUserStackRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#BatchAssociateUserStackResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified users with the specified stacks. Users in a user pool cannot be assigned to stacks with fleets that are joined to an Active Directory domain.</p>"
      }
    },
    "com.amazonaws.appstream#BatchAssociateUserStackRequest": {
      "type": "structure",
      "members": {
        "UserStackAssociations": {
          "target": "com.amazonaws.appstream#UserStackAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>The list of UserStackAssociation objects.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#BatchAssociateUserStackResult": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.appstream#UserStackAssociationErrorList",
          "traits": {
            "smithy.api#documentation": "<p>The list of UserStackAssociationError objects.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#BatchDisassociateUserStack": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#BatchDisassociateUserStackRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#BatchDisassociateUserStackResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates the specified users from the specified stacks.</p>"
      }
    },
    "com.amazonaws.appstream#BatchDisassociateUserStackRequest": {
      "type": "structure",
      "members": {
        "UserStackAssociations": {
          "target": "com.amazonaws.appstream#UserStackAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>The list of UserStackAssociation objects.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#BatchDisassociateUserStackResult": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.appstream#UserStackAssociationErrorList",
          "traits": {
            "smithy.api#documentation": "<p>The list of UserStackAssociationError objects.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.appstream#BooleanObject": {
      "type": "boolean"
    },
    "com.amazonaws.appstream#CertificateBasedAuthProperties": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.appstream#CertificateBasedAuthStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the certificate-based authentication properties.</p>"
          }
        },
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.appstream#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the AWS Certificate Manager Private CA resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The certificate-based authentication properties used to authenticate SAML 2.0 Identity\n            Provider (IdP) user identities to Active Directory domain-joined streaming instances.\n            Fallback is turned on by default when certificate-based authentication is <b>Enabled</b> . Fallback allows users to log in using their AD\n            domain password if certificate-based authentication is unsuccessful, or to unlock a\n            desktop lock screen. <b>Enabled_no_directory_login_fallback</b> enables certificate-based\n            authentication, but does not allow users to log in using their AD domain password. Users\n            will be disconnected to re-authenticate using certificates.</p>"
      }
    },
    "com.amazonaws.appstream#CertificateBasedAuthStatus": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "ENABLED_NO_DIRECTORY_LOGIN_FALLBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED_NO_DIRECTORY_LOGIN_FALLBACK"
          }
        }
      }
    },
    "com.amazonaws.appstream#ComputeCapacity": {
      "type": "structure",
      "members": {
        "DesiredInstances": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The desired number of streaming instances.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the capacity for a fleet.</p>"
      }
    },
    "com.amazonaws.appstream#ComputeCapacityStatus": {
      "type": "structure",
      "members": {
        "Desired": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The desired number of streaming instances.</p>",
            "smithy.api#required": {}
          }
        },
        "Running": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of simultaneous streaming instances that are running.</p>"
          }
        },
        "InUse": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of instances in use for streaming.</p>"
          }
        },
        "Available": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of currently available instances that can be used to stream\n            sessions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the capacity status for a fleet.</p>"
      }
    },
    "com.amazonaws.appstream#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appstream#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.appstream#CopyImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CopyImageRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CopyImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#IncompatibleImageException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotAvailableException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies the image within the same region or to a new region within the same AWS account. Note that any tags you added to the image will not be copied.</p>"
      }
    },
    "com.amazonaws.appstream#CopyImageRequest": {
      "type": "structure",
      "members": {
        "SourceImageName": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the image to copy.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationImageName": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name that the image will have when it is copied to the destination.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationRegion": {
          "target": "com.amazonaws.appstream#RegionName",
          "traits": {
            "smithy.api#documentation": "<p>The destination region to which the image will be copied. This parameter is required, even if you are copying an image within the same region.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationImageDescription": {
          "target": "com.amazonaws.appstream#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description that the image will have when it is copied to the destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#CopyImageResponse": {
      "type": "structure",
      "members": {
        "DestinationImageName": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the destination image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.appstream#CreateAppBlock": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateAppBlockRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateAppBlockResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an app block.</p>\n         <p>App blocks are an Amazon AppStream 2.0 resource that stores the details about the\n            virtual hard disk in an S3 bucket. It also stores the setup script with details about\n            how to mount the virtual hard disk. The virtual hard disk includes the application\n            binaries and other files necessary to launch your applications. Multiple applications\n            can be assigned to a single app block.</p>\n         <p>This is only supported for Elastic fleets.</p>"
      }
    },
    "com.amazonaws.appstream#CreateAppBlockRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the app block.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appstream#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the app block.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.appstream#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the app block. This is not displayed to the user.</p>"
          }
        },
        "SourceS3Location": {
          "target": "com.amazonaws.appstream#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>The source S3 location of the app block.</p>",
            "smithy.api#required": {}
          }
        },
        "SetupScriptDetails": {
          "target": "com.amazonaws.appstream#ScriptDetails",
          "traits": {
            "smithy.api#documentation": "<p>The setup script details of the app block.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.appstream#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the app block.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#CreateAppBlockResult": {
      "type": "structure",
      "members": {
        "AppBlock": {
          "target": "com.amazonaws.appstream#AppBlock",
          "traits": {
            "smithy.api#documentation": "<p>The app block.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateApplicationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an application.</p>\n         <p>Applications are an Amazon AppStream 2.0 resource that stores the details about how to\n            launch applications on Elastic fleet streaming instances. An application consists of the\n            launch details, icon, and display name. Applications are associated with an app block\n            that contains the application binaries and other files. The applications assigned to an\n            Elastic fleet are the applications users can launch. </p>\n         <p>This is only supported for Elastic fleets.</p>"
      }
    },
    "com.amazonaws.appstream#CreateApplicationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application. This name is visible to users when display name is not specified.</p>",
            "smithy.api#required": {}
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.appstream#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the application. This name is visible to users in the application catalog.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appstream#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the application.</p>"
          }
        },
        "IconS3Location": {
          "target": "com.amazonaws.appstream#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>The location in S3 of the application icon.</p>",
            "smithy.api#required": {}
          }
        },
        "LaunchPath": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The launch path of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "WorkingDirectory": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The working directory of the application.</p>"
          }
        },
        "LaunchParameters": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The launch parameters of the application.</p>"
          }
        },
        "Platforms": {
          "target": "com.amazonaws.appstream#Platforms",
          "traits": {
            "smithy.api#documentation": "<p>The platforms the application supports. WINDOWS_SERVER_2019 and AMAZON_LINUX2 are supported for Elastic fleets.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceFamilies": {
          "target": "com.amazonaws.appstream#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The instance families the application supports. Valid values are GENERAL_PURPOSE and GRAPHICS_G4.</p>",
            "smithy.api#required": {}
          }
        },
        "AppBlockArn": {
          "target": "com.amazonaws.appstream#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The app block ARN to which the application should be associated</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.appstream#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#CreateApplicationResult": {
      "type": "structure",
      "members": {
        "Application": {
          "target": "com.amazonaws.appstream#Application"
        }
      }
    },
    "com.amazonaws.appstream#CreateDirectoryConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateDirectoryConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateDirectoryConfigResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidRoleException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Directory Config object in AppStream 2.0. This object includes the configuration information required to join fleets and image builders to Microsoft Active Directory domains.</p>"
      }
    },
    "com.amazonaws.appstream#CreateDirectoryConfigRequest": {
      "type": "structure",
      "members": {
        "DirectoryName": {
          "target": "com.amazonaws.appstream#DirectoryName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified name of the directory (for example, corp.example.com).</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationalUnitDistinguishedNames": {
          "target": "com.amazonaws.appstream#OrganizationalUnitDistinguishedNamesList",
          "traits": {
            "smithy.api#documentation": "<p>The distinguished names of the organizational units for computer accounts.</p>",
            "smithy.api#required": {}
          }
        },
        "ServiceAccountCredentials": {
          "target": "com.amazonaws.appstream#ServiceAccountCredentials",
          "traits": {
            "smithy.api#documentation": "<p>The credentials for the service account used by the fleet or image builder to connect to the directory.</p>"
          }
        },
        "CertificateBasedAuthProperties": {
          "target": "com.amazonaws.appstream#CertificateBasedAuthProperties",
          "traits": {
            "smithy.api#documentation": "<p>The certificate-based authentication properties used to authenticate SAML 2.0 Identity\n            Provider (IdP) user identities to Active Directory domain-joined streaming instances.\n            Fallback is turned on by default when certificate-based authentication is <b>Enabled</b> . Fallback allows users to log in using their AD\n            domain password if certificate-based authentication is unsuccessful, or to unlock a\n            desktop lock screen. <b>Enabled_no_directory_login_fallback</b> enables certificate-based\n            authentication, but does not allow users to log in using their AD domain password. Users\n            will be disconnected to re-authenticate using certificates.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#CreateDirectoryConfigResult": {
      "type": "structure",
      "members": {
        "DirectoryConfig": {
          "target": "com.amazonaws.appstream#DirectoryConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the directory configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateEntitlement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateEntitlementRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateEntitlementResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#EntitlementAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new entitlement. Entitlements control access to specific applications within\n            a stack, based on user attributes. Entitlements apply to SAML 2.0 federated user\n            identities. Amazon AppStream 2.0 user pool and streaming URL users are entitled to all\n            applications in a stack. Entitlements don't apply to the desktop stream view\n            application, or to applications managed by a dynamic app provider using the Dynamic\n            Application Framework.</p>"
      }
    },
    "com.amazonaws.appstream#CreateEntitlementRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entitlement.</p>",
            "smithy.api#required": {}
          }
        },
        "StackName": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stack with which the entitlement is associated.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appstream#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the entitlement.</p>"
          }
        },
        "AppVisibility": {
          "target": "com.amazonaws.appstream#AppVisibility",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether all or selected apps are entitled.</p>",
            "smithy.api#required": {}
          }
        },
        "Attributes": {
          "target": "com.amazonaws.appstream#EntitlementAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The attributes of the entitlement.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#CreateEntitlementResult": {
      "type": "structure",
      "members": {
        "Entitlement": {
          "target": "com.amazonaws.appstream#Entitlement",
          "traits": {
            "smithy.api#documentation": "<p>The entitlement.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateFleetRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateFleetResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#IncompatibleImageException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidRoleException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#RequestLimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotAvailableException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a fleet. A fleet consists of streaming instances that your users access for their applications and desktops.</p>"
      }
    },
    "com.amazonaws.appstream#CreateFleetRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>A unique name for the fleet.</p>",
            "smithy.api#required": {}
          }
        },
        "ImageName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the image used to create the fleet.</p>"
          }
        },
        "ImageArn": {
          "target": "com.amazonaws.appstream#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the public, private, or shared image to use.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The instance type to use when launching fleet instances. The following instance types are available:</p>\n         <ul>\n            <li>\n               <p>stream.standard.small</p>\n            </li>\n            <li>\n               <p>stream.standard.medium</p>\n            </li>\n            <li>\n               <p>stream.standard.large</p>\n            </li>\n            <li>\n               <p>stream.standard.xlarge</p>\n            </li>\n            <li>\n               <p>stream.standard.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.compute.large</p>\n            </li>\n            <li>\n               <p>stream.compute.xlarge</p>\n            </li>\n            <li>\n               <p>stream.compute.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.compute.4xlarge</p>\n            </li>\n            <li>\n               <p>stream.compute.8xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.large</p>\n            </li>\n            <li>\n               <p>stream.memory.xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.4xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.8xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.z1d.large</p>\n            </li>\n            <li>\n               <p>stream.memory.z1d.xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.z1d.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.z1d.3xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.z1d.6xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.z1d.12xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-design.large</p>\n            </li>\n            <li>\n               <p>stream.graphics-design.xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-design.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-design.4xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-desktop.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics.g4dn.xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics.g4dn.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics.g4dn.4xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics.g4dn.8xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics.g4dn.12xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics.g4dn.16xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-pro.4xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-pro.8xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-pro.16xlarge</p>\n            </li>\n         </ul>\n         <p>The following instance types are available for Elastic fleets:</p>\n         <ul>\n            <li>\n               <p>stream.standard.small</p>\n            </li>\n            <li>\n               <p>stream.standard.medium</p>\n            </li>\n            <li>\n               <p>stream.standard.large</p>\n            </li>\n            <li>\n               <p>stream.standard.xlarge</p>\n            </li>\n            <li>\n               <p>stream.standard.2xlarge</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "FleetType": {
          "target": "com.amazonaws.appstream#FleetType",
          "traits": {
            "smithy.api#documentation": "<p>The fleet type.</p>\n         <dl>\n            <dt>ALWAYS_ON</dt>\n            <dd>\n               <p>Provides users with instant-on access to their apps.\n                        You are charged for all running instances in your fleet, even if no users are streaming apps.</p>\n            </dd>\n            <dt>ON_DEMAND</dt>\n            <dd>\n               <p>Provide users with access to applications after they connect, which takes one to two minutes.\n                        You are charged for instance streaming when users are connected and a\n                        small hourly fee for instances that are not streaming apps.</p>\n            </dd>\n         </dl>"
          }
        },
        "ComputeCapacity": {
          "target": "com.amazonaws.appstream#ComputeCapacity",
          "traits": {
            "smithy.api#documentation": "<p>The desired capacity for the fleet. This is not allowed for Elastic fleets. For Elastic fleets, specify MaxConcurrentSessions instead.</p>"
          }
        },
        "VpcConfig": {
          "target": "com.amazonaws.appstream#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>The VPC configuration for the fleet. This is required for Elastic fleets, but not required for other fleet types. Elastic fleets require that you specify at least two subnets in different availability zones.</p>"
          }
        },
        "MaxUserDurationInSeconds": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum amount of time that a streaming session can remain active, in seconds. If users are still connected to a streaming instance five minutes before this limit is reached, they are prompted to save any open documents before being disconnected. After this time elapses, the instance is terminated and replaced by a new instance.</p>\n         <p>Specify a value between 600 and 360000.</p>"
          }
        },
        "DisconnectTimeoutInSeconds": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time that a streaming session remains active after users disconnect. If users try to reconnect to the streaming session after a disconnection or network interruption within this time interval, they are connected to their previous session. Otherwise, they are connected to a new session with a new streaming instance. </p>\n         <p>Specify a value between 60 and 360000.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appstream#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description to display.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.appstream#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The fleet name to display.</p>"
          }
        },
        "EnableDefaultInternetAccess": {
          "target": "com.amazonaws.appstream#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables default internet access for the fleet.</p>"
          }
        },
        "DomainJoinInfo": {
          "target": "com.amazonaws.appstream#DomainJoinInfo",
          "traits": {
            "smithy.api#documentation": "<p>The name of the directory and organizational unit (OU) to use to join the fleet to a Microsoft Active Directory domain. This is not allowed for Elastic fleets. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appstream#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the fleet. A tag is a key-value pair, and the value is optional. For example, Environment=Test. If you do not specify a value, Environment=. </p>\n         <p>If you do not specify a value, the value is set to an empty string.</p>\n         <p>Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following special characters: </p>\n         <p>_ . : / = + \\ - @</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
          }
        },
        "IdleDisconnectTimeoutInSeconds": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time that users can be idle (inactive) before they are disconnected\n            from their streaming session and the <code>DisconnectTimeoutInSeconds</code> time\n            interval begins. Users are notified before they are disconnected due to inactivity. If\n            they try to reconnect to the streaming session before the time interval specified in\n            <code>DisconnectTimeoutInSeconds</code> elapses, they are connected to their\n            previous session. Users are considered idle when they stop providing keyboard or mouse\n            input during their streaming session. File uploads and downloads, audio in, audio out,\n            and pixels changing do not qualify as user activity. If users continue to be idle after\n            the time interval in <code>IdleDisconnectTimeoutInSeconds</code> elapses, they are\n            disconnected.</p>\n         <p>To prevent users from being disconnected due to inactivity, specify a value of 0. Otherwise, specify a value between 60 and 3600. The default value is 0.</p>\n         <note>\n            <p>If you enable this feature, we recommend that you specify a value that corresponds exactly to a whole number of minutes (for example, 60, 120, and 180). If you don't do this, the value is rounded to the nearest minute. For example, if you specify a value of 70, users are disconnected after 1 minute of inactivity. If you specify a value that is at the midpoint between two different minutes, the value is rounded up. For example, if you specify a value of 90, users are disconnected after 2 minutes of inactivity. </p>\n         </note>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.appstream#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to apply to the fleet. To assume a role, a fleet instance calls the AWS Security Token Service (STS) <code>AssumeRole</code> API operation and passes the ARN of the role to use. The operation creates a new session with temporary credentials. AppStream 2.0 retrieves the temporary credentials and creates the <b>appstream_machine_role</b> credential profile on the instance.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/using-iam-roles-to-grant-permissions-to-applications-scripts-streaming-instances.html\">Using an IAM Role to Grant Permissions to Applications and Scripts Running on AppStream 2.0 Streaming Instances</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
          }
        },
        "StreamView": {
          "target": "com.amazonaws.appstream#StreamView",
          "traits": {
            "smithy.api#documentation": "<p>The AppStream 2.0 view that is displayed to your users when they stream from the fleet. When <code>APP</code> is specified, only the windows of applications opened by users display. When <code>DESKTOP</code> is specified, the standard desktop that is provided by the operating system displays.</p>\n         <p>The default value is <code>APP</code>.</p>"
          }
        },
        "Platform": {
          "target": "com.amazonaws.appstream#PlatformType",
          "traits": {
            "smithy.api#documentation": "<p>The fleet platform. WINDOWS_SERVER_2019 and AMAZON_LINUX2 are supported for Elastic\n            fleets. </p>"
          }
        },
        "MaxConcurrentSessions": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum concurrent sessions of the Elastic fleet. This is required for Elastic\n            fleets, and not allowed for other fleet types.</p>"
          }
        },
        "UsbDeviceFilterStrings": {
          "target": "com.amazonaws.appstream#UsbDeviceFilterStrings",
          "traits": {
            "smithy.api#documentation": "<p>The USB device filter strings that specify which USB devices a user can redirect to the fleet streaming session, when using the Windows native client. This is allowed but not required for Elastic fleets.</p>"
          }
        },
        "SessionScriptS3Location": {
          "target": "com.amazonaws.appstream#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>The S3 location of the session scripts configuration zip file. This only applies to Elastic fleets.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#CreateFleetResult": {
      "type": "structure",
      "members": {
        "Fleet": {
          "target": "com.amazonaws.appstream#Fleet",
          "traits": {
            "smithy.api#documentation": "<p>Information about the fleet.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateImageBuilder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateImageBuilderRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateImageBuilderResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#IncompatibleImageException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidRoleException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#RequestLimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotAvailableException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an image builder. An image builder is a virtual machine that is used to create an image.</p>\n         <p>The initial state of the builder is <code>PENDING</code>. When it is ready, the state is <code>RUNNING</code>.</p>"
      }
    },
    "com.amazonaws.appstream#CreateImageBuilderRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>A unique name for the image builder.</p>",
            "smithy.api#required": {}
          }
        },
        "ImageName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the image used to create the image builder.</p>"
          }
        },
        "ImageArn": {
          "target": "com.amazonaws.appstream#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the public, private, or shared image to use.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The instance type to use when launching the image builder. The following instance types are available:</p>\n         <ul>\n            <li>\n               <p>stream.standard.small</p>\n            </li>\n            <li>\n               <p>stream.standard.medium</p>\n            </li>\n            <li>\n               <p>stream.standard.large</p>\n            </li>\n            <li>\n               <p>stream.compute.large</p>\n            </li>\n            <li>\n               <p>stream.compute.xlarge</p>\n            </li>\n            <li>\n               <p>stream.compute.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.compute.4xlarge</p>\n            </li>\n            <li>\n               <p>stream.compute.8xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.large</p>\n            </li>\n            <li>\n               <p>stream.memory.xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.4xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.8xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.z1d.large</p>\n            </li>\n            <li>\n               <p>stream.memory.z1d.xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.z1d.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.z1d.3xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.z1d.6xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.z1d.12xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-design.large</p>\n            </li>\n            <li>\n               <p>stream.graphics-design.xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-design.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-design.4xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-desktop.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics.g4dn.xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics.g4dn.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics.g4dn.4xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics.g4dn.8xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics.g4dn.12xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics.g4dn.16xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-pro.4xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-pro.8xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-pro.16xlarge</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appstream#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description to display.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.appstream#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The image builder name to display.</p>"
          }
        },
        "VpcConfig": {
          "target": "com.amazonaws.appstream#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>The VPC configuration for the image builder. You can specify only one subnet.</p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.appstream#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to apply to the image builder. To assume a role, the image builder calls the AWS Security Token Service (STS) <code>AssumeRole</code> API operation and passes the ARN of the role to use. The operation creates a new session with temporary credentials. AppStream 2.0 retrieves the temporary credentials and creates the <b>appstream_machine_role</b> credential profile on the instance.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/using-iam-roles-to-grant-permissions-to-applications-scripts-streaming-instances.html\">Using an IAM Role to Grant Permissions to Applications and Scripts Running on AppStream 2.0 Streaming Instances</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
          }
        },
        "EnableDefaultInternetAccess": {
          "target": "com.amazonaws.appstream#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables default internet access for the image builder.</p>"
          }
        },
        "DomainJoinInfo": {
          "target": "com.amazonaws.appstream#DomainJoinInfo",
          "traits": {
            "smithy.api#documentation": "<p>The name of the directory and organizational unit (OU) to use to join the image builder to a Microsoft Active Directory domain. </p>"
          }
        },
        "AppstreamAgentVersion": {
          "target": "com.amazonaws.appstream#AppstreamAgentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the AppStream 2.0 agent to use for this image builder. To use the latest version of the AppStream 2.0 agent, specify [LATEST]. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appstream#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the image builder. A tag is a key-value pair, and the value is optional. For example, Environment=Test. If you do not specify a value, Environment=. </p>\n         <p>Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following special characters: </p>\n         <p>_ . : / = + \\ - @</p>\n         <p>If you do not specify a value, the value is set to an empty string.</p>\n         <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
          }
        },
        "AccessEndpoints": {
          "target": "com.amazonaws.appstream#AccessEndpointList",
          "traits": {
            "smithy.api#documentation": "<p>The list of interface VPC endpoint (interface endpoint) objects. Administrators can connect to the image builder only through the specified endpoints.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#CreateImageBuilderResult": {
      "type": "structure",
      "members": {
        "ImageBuilder": {
          "target": "com.amazonaws.appstream#ImageBuilder",
          "traits": {
            "smithy.api#documentation": "<p>Information about the image builder.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateImageBuilderStreamingURL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateImageBuilderStreamingURLRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateImageBuilderStreamingURLResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a URL to start an image builder streaming session.</p>"
      }
    },
    "com.amazonaws.appstream#CreateImageBuilderStreamingURLRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the image builder.</p>",
            "smithy.api#required": {}
          }
        },
        "Validity": {
          "target": "com.amazonaws.appstream#Long",
          "traits": {
            "smithy.api#documentation": "<p>The time that the streaming URL will be valid, in seconds. \n            Specify a value between 1 and 604800 seconds. The default is 3600 seconds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#CreateImageBuilderStreamingURLResult": {
      "type": "structure",
      "members": {
        "StreamingURL": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL to start the AppStream 2.0 streaming session.</p>"
          }
        },
        "Expires": {
          "target": "com.amazonaws.appstream#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The elapsed time, in seconds after the Unix epoch, when this URL expires.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateStack": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateStackRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateStackResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidRoleException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a stack to start streaming applications to users. A stack consists of an associated fleet, user access policies, and storage configurations. </p>"
      }
    },
    "com.amazonaws.appstream#CreateStackRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stack.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appstream#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description to display.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.appstream#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The stack name to display.</p>"
          }
        },
        "StorageConnectors": {
          "target": "com.amazonaws.appstream#StorageConnectorList",
          "traits": {
            "smithy.api#documentation": "<p>The storage connectors to enable.</p>"
          }
        },
        "RedirectURL": {
          "target": "com.amazonaws.appstream#RedirectURL",
          "traits": {
            "smithy.api#documentation": "<p>The URL that users are redirected to after their streaming session ends.</p>"
          }
        },
        "FeedbackURL": {
          "target": "com.amazonaws.appstream#FeedbackURL",
          "traits": {
            "smithy.api#documentation": "<p>The URL that users are redirected to after they click the Send Feedback link. If no URL is specified, no Send Feedback link is displayed.</p>"
          }
        },
        "UserSettings": {
          "target": "com.amazonaws.appstream#UserSettingList",
          "traits": {
            "smithy.api#documentation": "<p>The actions that are enabled or disabled for users during their streaming sessions. By default, these actions are enabled. </p>"
          }
        },
        "ApplicationSettings": {
          "target": "com.amazonaws.appstream#ApplicationSettings",
          "traits": {
            "smithy.api#documentation": "<p>The persistent application settings for users of a stack. When these settings are enabled, changes that users make to applications and Windows settings are automatically saved after each session and applied to the next session.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appstream#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the stack. A tag is a key-value pair, and the value is optional. For example, Environment=Test. If you do not specify a value, Environment=. </p>\n         <p>If you do not specify a value, the value is set to an empty string.</p>\n         <p>Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following special characters: </p>\n         <p>_ . : / = + \\ - @</p>\n         <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
          }
        },
        "AccessEndpoints": {
          "target": "com.amazonaws.appstream#AccessEndpointList",
          "traits": {
            "smithy.api#documentation": "<p>The list of interface VPC endpoint (interface endpoint) objects. Users of the stack can connect to AppStream 2.0 only through the specified endpoints.</p>"
          }
        },
        "EmbedHostDomains": {
          "target": "com.amazonaws.appstream#EmbedHostDomains",
          "traits": {
            "smithy.api#documentation": "<p>The domains where AppStream 2.0 streaming sessions can be embedded in an iframe. You must approve the domains that you want to host embedded AppStream 2.0 streaming sessions. </p>"
          }
        },
        "StreamingExperienceSettings": {
          "target": "com.amazonaws.appstream#StreamingExperienceSettings",
          "traits": {
            "smithy.api#documentation": "<p>The streaming protocol you want your stack to prefer. This can be UDP or TCP. Currently, UDP is only supported in the Windows native client.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#CreateStackResult": {
      "type": "structure",
      "members": {
        "Stack": {
          "target": "com.amazonaws.appstream#Stack",
          "traits": {
            "smithy.api#documentation": "<p>Information about the stack.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateStreamingURL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateStreamingURLRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateStreamingURLResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotAvailableException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a temporary URL to start an AppStream 2.0 streaming session for the specified user. A streaming URL enables application streaming to be tested without user setup. </p>"
      }
    },
    "com.amazonaws.appstream#CreateStreamingURLRequest": {
      "type": "structure",
      "members": {
        "StackName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stack.</p>",
            "smithy.api#required": {}
          }
        },
        "FleetName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the fleet.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.appstream#StreamingUrlUserId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationId": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application to launch after the session starts. This is the name that you specified\n            as <b>Name</b> in the Image Assistant. If your fleet is enabled for the <b>Desktop</b> stream view, you can also choose to launch directly to the operating system desktop. To do so, specify <b>Desktop</b>.</p>"
          }
        },
        "Validity": {
          "target": "com.amazonaws.appstream#Long",
          "traits": {
            "smithy.api#documentation": "<p>The time that the streaming URL will be valid, in seconds.\n            Specify a value between 1 and 604800 seconds. The default is 60 seconds.</p>"
          }
        },
        "SessionContext": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The session context. For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/managing-stacks-fleets.html#managing-stacks-fleets-parameters\">Session Context</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#CreateStreamingURLResult": {
      "type": "structure",
      "members": {
        "StreamingURL": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL to start the AppStream 2.0 streaming session.</p>"
          }
        },
        "Expires": {
          "target": "com.amazonaws.appstream#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The elapsed time, in seconds after the Unix epoch, when this URL expires.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateUpdatedImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateUpdatedImageRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateUpdatedImageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#IncompatibleImageException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new image with the latest Windows operating system updates, driver updates, and AppStream 2.0 agent software.</p>\n         <p>For more information, see the \"Update an Image by Using\n            Managed AppStream 2.0 Image Updates\" section in <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/administer-images.html\">Administer Your AppStream 2.0 Images</a>, in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
      }
    },
    "com.amazonaws.appstream#CreateUpdatedImageRequest": {
      "type": "structure",
      "members": {
        "existingImageName": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the image to update.</p>",
            "smithy.api#required": {}
          }
        },
        "newImageName": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new image. The name must be unique within the AWS account and Region.</p>",
            "smithy.api#required": {}
          }
        },
        "newImageDescription": {
          "target": "com.amazonaws.appstream#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description to display for the new image.</p>"
          }
        },
        "newImageDisplayName": {
          "target": "com.amazonaws.appstream#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The name to display for the new image.</p>"
          }
        },
        "newImageTags": {
          "target": "com.amazonaws.appstream#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the new image. A tag is a key-value pair, and the value is optional. For example, Environment=Test. If you do not specify a value, Environment=. </p>\n         <p>Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following special characters: </p>\n         <p>_ . : / = + \\ - @</p>\n         <p>If you do not specify a value, the value is set to an empty string.</p>\n         <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
          }
        },
        "dryRun": {
          "target": "com.amazonaws.appstream#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether to display the status of image update availability before AppStream 2.0 initiates the process of creating a new updated image. If this value is set to <code>true</code>, AppStream 2.0 displays whether image updates are available. If this value is set to <code>false</code>, AppStream 2.0 initiates the process of creating a new updated image without displaying whether image updates are available.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#CreateUpdatedImageResult": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.amazonaws.appstream#Image"
        },
        "canUpdateImage": {
          "target": "com.amazonaws.appstream#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether a new image can be created.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateUsageReportSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateUsageReportSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateUsageReportSubscriptionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidRoleException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a usage report subscription. Usage reports are generated daily.</p>"
      }
    },
    "com.amazonaws.appstream#CreateUsageReportSubscriptionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#CreateUsageReportSubscriptionResult": {
      "type": "structure",
      "members": {
        "S3BucketName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket where generated reports are stored.</p>\n         <p>If you enabled on-instance session scripts and Amazon S3 logging for your session script\n            configuration, AppStream 2.0 created an S3 bucket to store the script output. The bucket is\n            unique to your account and Region. When you enable usage reporting in this case, AppStream 2.0\n            uses the same bucket to store your usage reports. If you haven't already enabled on-instance session scripts, \n            when you enable usage reports, AppStream 2.0 creates a new S3 bucket.</p>"
          }
        },
        "Schedule": {
          "target": "com.amazonaws.appstream#UsageReportSchedule",
          "traits": {
            "smithy.api#documentation": "<p>The schedule for generating usage reports.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateUserResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new user in the user pool.</p>"
      }
    },
    "com.amazonaws.appstream#CreateUserRequest": {
      "type": "structure",
      "members": {
        "UserName": {
          "target": "com.amazonaws.appstream#Username",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the user.</p>\n         <note>\n            <p>Users' email addresses are case-sensitive. During login, if they specify an email address that doesn't use the same capitalization as the email address specified when their user pool account was created, a \"user does not exist\" error message displays.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "MessageAction": {
          "target": "com.amazonaws.appstream#MessageAction",
          "traits": {
            "smithy.api#documentation": "<p>The action to take for the welcome email that is sent to a user after the user is created in the user pool. If you specify SUPPRESS, no email is sent. If you specify RESEND, do not specify the first name or last name of the user. If the value is null, the email is sent. </p>\n         <note>\n            <p>The temporary password in the welcome email is valid for only 7 days. If users don’t set their passwords within 7 days, you must send them a new welcome email.</p>\n         </note>"
          }
        },
        "FirstName": {
          "target": "com.amazonaws.appstream#UserAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The first name, or given name, of the user.</p>"
          }
        },
        "LastName": {
          "target": "com.amazonaws.appstream#UserAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The last name, or surname, of the user.</p>"
          }
        },
        "AuthenticationType": {
          "target": "com.amazonaws.appstream#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type for the user. You must specify USERPOOL. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#CreateUserResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#DeleteAppBlock": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DeleteAppBlockRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DeleteAppBlockResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an app block.</p>"
      }
    },
    "com.amazonaws.appstream#DeleteAppBlockRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the app block.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#DeleteAppBlockResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#DeleteApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DeleteApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DeleteApplicationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an application.</p>"
      }
    },
    "com.amazonaws.appstream#DeleteApplicationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#DeleteApplicationResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#DeleteDirectoryConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DeleteDirectoryConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DeleteDirectoryConfigResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Directory Config object from AppStream 2.0. This object includes the information required to join streaming instances to an Active Directory domain.</p>"
      }
    },
    "com.amazonaws.appstream#DeleteDirectoryConfigRequest": {
      "type": "structure",
      "members": {
        "DirectoryName": {
          "target": "com.amazonaws.appstream#DirectoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the directory configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#DeleteDirectoryConfigResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#DeleteEntitlement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DeleteEntitlementRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DeleteEntitlementResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#EntitlementNotFoundException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified entitlement.</p>"
      }
    },
    "com.amazonaws.appstream#DeleteEntitlementRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entitlement.</p>",
            "smithy.api#required": {}
          }
        },
        "StackName": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stack with which the entitlement is associated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#DeleteEntitlementResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#DeleteFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DeleteFleetRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DeleteFleetResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified fleet.</p>"
      }
    },
    "com.amazonaws.appstream#DeleteFleetRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the fleet.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.appstream#DeleteFleetResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#DeleteImage": {
      "type": "operation",
      "input": {
[...]
