{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.appstream#AccessEndpoint": {
      "type": "structure",
      "members": {
        "EndpointType": {
          "target": "com.amazonaws.appstream#AccessEndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of interface endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "VpceId": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the VPC in which the interface endpoint is used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an interface VPC endpoint (interface endpoint) that lets you create a private connection between the virtual private cloud (VPC) that you specify and AppStream 2.0. When you specify an interface endpoint for a stack, users of the stack can connect to AppStream 2.0 only through that endpoint. When you specify an interface endpoint for an image builder, administrators can connect to the image builder only through that endpoint.</p>"
      }
    },
    "com.amazonaws.appstream#AccessEndpointList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appstream#AccessEndpoint"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4
        }
      }
    },
    "com.amazonaws.appstream#AccessEndpointType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STREAMING",
            "name": "STREAMING"
          }
        ]
      }
    },
    "com.amazonaws.appstream#AccountName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appstream#AccountPassword": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 127
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.appstream#Action": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CLIPBOARD_COPY_FROM_LOCAL_DEVICE",
            "name": "CLIPBOARD_COPY_FROM_LOCAL_DEVICE"
          },
          {
            "value": "CLIPBOARD_COPY_TO_LOCAL_DEVICE",
            "name": "CLIPBOARD_COPY_TO_LOCAL_DEVICE"
          },
          {
            "value": "FILE_UPLOAD",
            "name": "FILE_UPLOAD"
          },
          {
            "value": "FILE_DOWNLOAD",
            "name": "FILE_DOWNLOAD"
          },
          {
            "value": "PRINTING_TO_LOCAL_DEVICE",
            "name": "PRINTING_TO_LOCAL_DEVICE"
          }
        ]
      }
    },
    "com.amazonaws.appstream#Application": {
      "type": "structure",
      "members": {
        "DisplayName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The application name to display.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.appstream#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>If there is a problem, the application can be disabled after image creation.</p>"
          }
        },
        "IconURL": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL for the application icon. This URL might be time-limited.</p>"
          }
        },
        "LaunchParameters": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The arguments that are passed to the application at launch.</p>"
          }
        },
        "LaunchPath": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The path to the application executable in the instance.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.appstream#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>Additional attributes that describe the application.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an application in the application catalog.</p>"
      }
    },
    "com.amazonaws.appstream#ApplicationSettings": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.appstream#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables persistent application settings for users during their streaming sessions. </p>",
            "smithy.api#required": {}
          }
        },
        "SettingsGroup": {
          "target": "com.amazonaws.appstream#SettingsGroup",
          "traits": {
            "smithy.api#documentation": "<p>The path prefix for the S3 bucket where users’ persistent application settings are stored. You can allow the same persistent application settings to be used across multiple stacks by specifying the same settings group for each stack. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The persistent application settings for users of a stack.</p>"
      }
    },
    "com.amazonaws.appstream#ApplicationSettingsResponse": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.appstream#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether persistent application settings are enabled for users during their streaming sessions.</p>"
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket where users’ persistent application settings are stored. When persistent application settings are enabled for the first time for an account in an AWS Region, an S3 bucket is created. The bucket is unique to the AWS account and the Region. \n        </p>"
          }
        },
        "SettingsGroup": {
          "target": "com.amazonaws.appstream#SettingsGroup",
          "traits": {
            "smithy.api#documentation": "<p>The path prefix for the S3 bucket where users’ persistent application settings are stored.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the persistent application settings for users of a stack.</p>"
      }
    },
    "com.amazonaws.appstream#Applications": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appstream#Application"
      }
    },
    "com.amazonaws.appstream#AppstreamAgentVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.appstream#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$"
      }
    },
    "com.amazonaws.appstream#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appstream#Arn"
      }
    },
    "com.amazonaws.appstream#AssociateFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#AssociateFleetRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#AssociateFleetResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#IncompatibleImageException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified fleet with the specified stack.</p>"
      }
    },
    "com.amazonaws.appstream#AssociateFleetRequest": {
      "type": "structure",
      "members": {
        "FleetName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the fleet. </p>",
            "smithy.api#required": {}
          }
        },
        "StackName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stack.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appstream#AssociateFleetResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#AuthenticationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "API",
            "name": "API"
          },
          {
            "value": "SAML",
            "name": "SAML"
          },
          {
            "value": "USERPOOL",
            "name": "USERPOOL"
          }
        ]
      }
    },
    "com.amazonaws.appstream#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d+$"
      }
    },
    "com.amazonaws.appstream#AwsAccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appstream#AwsAccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.appstream#BatchAssociateUserStack": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#BatchAssociateUserStackRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#BatchAssociateUserStackResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified users with the specified stacks. Users in a user pool cannot be assigned to stacks with fleets that are joined to an Active Directory domain.</p>"
      }
    },
    "com.amazonaws.appstream#BatchAssociateUserStackRequest": {
      "type": "structure",
      "members": {
        "UserStackAssociations": {
          "target": "com.amazonaws.appstream#UserStackAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>The list of UserStackAssociation objects.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appstream#BatchAssociateUserStackResult": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.appstream#UserStackAssociationErrorList",
          "traits": {
            "smithy.api#documentation": "<p>The list of UserStackAssociationError objects.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#BatchDisassociateUserStack": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#BatchDisassociateUserStackRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#BatchDisassociateUserStackResult"
      },
      "traits": {
        "smithy.api#documentation": "<p>Disassociates the specified users from the specified stacks.</p>"
      }
    },
    "com.amazonaws.appstream#BatchDisassociateUserStackRequest": {
      "type": "structure",
      "members": {
        "UserStackAssociations": {
          "target": "com.amazonaws.appstream#UserStackAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>The list of UserStackAssociation objects.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appstream#BatchDisassociateUserStackResult": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.appstream#UserStackAssociationErrorList",
          "traits": {
            "smithy.api#documentation": "<p>The list of UserStackAssociationError objects.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.appstream#BooleanObject": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.appstream#ComputeCapacity": {
      "type": "structure",
      "members": {
        "DesiredInstances": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The desired number of streaming instances.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the capacity for a fleet.</p>"
      }
    },
    "com.amazonaws.appstream#ComputeCapacityStatus": {
      "type": "structure",
      "members": {
        "Available": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of currently available instances that can be used to stream\n            sessions.</p>"
          }
        },
        "Desired": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The desired number of streaming instances.</p>",
            "smithy.api#required": {}
          }
        },
        "InUse": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of instances in use for streaming.</p>"
          }
        },
        "Running": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of simultaneous streaming instances that are running.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the capacity status for a fleet.</p>"
      }
    },
    "com.amazonaws.appstream#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.appstream#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An API error occurred. Wait a few minutes and try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.appstream#CopyImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CopyImageRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CopyImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#IncompatibleImageException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotAvailableException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies the image within the same region or to a new region within the same AWS account. Note that any tags you added to the image will not be copied.</p>"
      }
    },
    "com.amazonaws.appstream#CopyImageRequest": {
      "type": "structure",
      "members": {
        "DestinationImageDescription": {
          "target": "com.amazonaws.appstream#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description that the image will have when it is copied to the destination.</p>"
          }
        },
        "DestinationImageName": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name that the image will have when it is copied to the destination.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationRegion": {
          "target": "com.amazonaws.appstream#RegionName",
          "traits": {
            "smithy.api#documentation": "<p>The destination region to which the image will be copied. This parameter is required, even if you are copying an image within the same region.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceImageName": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the image to copy.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appstream#CopyImageResponse": {
      "type": "structure",
      "members": {
        "DestinationImageName": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the destination image.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateDirectoryConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateDirectoryConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateDirectoryConfigResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Directory Config object in AppStream 2.0. This object includes the configuration information required to join fleets and image builders to Microsoft Active Directory domains.</p>"
      }
    },
    "com.amazonaws.appstream#CreateDirectoryConfigRequest": {
      "type": "structure",
      "members": {
        "DirectoryName": {
          "target": "com.amazonaws.appstream#DirectoryName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified name of the directory (for example, corp.example.com).</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationalUnitDistinguishedNames": {
          "target": "com.amazonaws.appstream#OrganizationalUnitDistinguishedNamesList",
          "traits": {
            "smithy.api#documentation": "<p>The distinguished names of the organizational units for computer accounts.</p>",
            "smithy.api#required": {}
          }
        },
        "ServiceAccountCredentials": {
          "target": "com.amazonaws.appstream#ServiceAccountCredentials",
          "traits": {
            "smithy.api#documentation": "<p>The credentials for the service account used by the fleet or image builder to connect to the directory.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateDirectoryConfigResult": {
      "type": "structure",
      "members": {
        "DirectoryConfig": {
          "target": "com.amazonaws.appstream#DirectoryConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the directory configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateFleetRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateFleetResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#IncompatibleImageException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidRoleException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotAvailableException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a fleet. A fleet consists of streaming instances that run a specified image.</p>"
      }
    },
    "com.amazonaws.appstream#CreateFleetRequest": {
      "type": "structure",
      "members": {
        "ComputeCapacity": {
          "target": "com.amazonaws.appstream#ComputeCapacity",
          "traits": {
            "smithy.api#documentation": "<p>The desired capacity for the fleet.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.appstream#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description to display.</p>"
          }
        },
        "DisconnectTimeoutInSeconds": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time that a streaming session remains active after users disconnect. If users try to reconnect to the streaming session after a disconnection or network interruption within this time interval, they are connected to their previous session. Otherwise, they are connected to a new session with a new streaming instance. </p>\n        <p>Specify a value between 60 and 360000.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.appstream#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The fleet name to display.</p>"
          }
        },
        "DomainJoinInfo": {
          "target": "com.amazonaws.appstream#DomainJoinInfo",
          "traits": {
            "smithy.api#documentation": "<p>The name of the directory and organizational unit (OU) to use to join the fleet to a Microsoft Active Directory domain. </p>"
          }
        },
        "EnableDefaultInternetAccess": {
          "target": "com.amazonaws.appstream#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables default internet access for the fleet.</p>"
          }
        },
        "FleetType": {
          "target": "com.amazonaws.appstream#FleetType",
          "traits": {
            "smithy.api#documentation": "<p>The fleet type.</p>\n        <dl>\n            <dt>ALWAYS_ON</dt>\n            <dd>\n                    <p>Provides users with instant-on access to their apps.\n                        You are charged for all running instances in your fleet, even if no users are streaming apps.</p>\n                </dd>\n            <dt>ON_DEMAND</dt>\n            <dd>\n                    <p>Provide users with access to applications after they connect, which takes one to two minutes.\n                        You are charged for instance streaming when users are connected and a\n                        small hourly fee for instances that are not streaming apps.</p>\n                </dd>\n         </dl>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.appstream#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to apply to the fleet. To assume a role, a fleet instance calls the AWS Security Token Service (STS) <code>AssumeRole</code> API operation and passes the ARN of the role to use. The operation creates a new session with temporary credentials. AppStream 2.0 retrieves the temporary credentials and creates the <b>AppStream_Machine_Role</b> credential profile on the instance.</p>\n        \n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/using-iam-roles-to-grant-permissions-to-applications-scripts-streaming-instances.html\">Using an IAM Role to Grant Permissions to Applications and Scripts Running on AppStream 2.0 Streaming Instances</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
          }
        },
        "IdleDisconnectTimeoutInSeconds": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time that users can be idle (inactive) before they are disconnected\n            from their streaming session and the <code>DisconnectTimeoutInSeconds</code> time\n            interval begins. Users are notified before they are disconnected due to inactivity. If\n            they try to reconnect to the streaming session before the time interval specified in\n            <code>DisconnectTimeoutInSeconds</code> elapses, they are connected to their\n            previous session. Users are considered idle when they stop providing keyboard or mouse\n            input during their streaming session. File uploads and downloads, audio in, audio out,\n            and pixels changing do not qualify as user activity. If users continue to be idle after\n            the time interval in <code>IdleDisconnectTimeoutInSeconds</code> elapses, they are\n            disconnected.</p>\n        <p>To prevent users from being disconnected due to inactivity, specify a value of 0. Otherwise, specify a value between 60 and 3600. The default value is 0.</p>\n        <note>\n            <p>If you enable this feature, we recommend that you specify a value that corresponds exactly to a whole number of minutes (for example, 60, 120, and 180). If you don't do this, the value is rounded to the nearest minute. For example, if you specify a value of 70, users are disconnected after 1 minute of inactivity. If you specify a value that is at the midpoint between two different minutes, the value is rounded up. For example, if you specify a value of 90, users are disconnected after 2 minutes of inactivity. </p>\n         </note>"
          }
        },
        "ImageArn": {
          "target": "com.amazonaws.appstream#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the public, private, or shared image to use.</p>"
          }
        },
        "ImageName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the image used to create the fleet.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The instance type to use when launching fleet instances. The following instance types are available:</p>    \n        <ul>\n            <li>\n               <p>stream.standard.medium</p>\n            </li>\n            <li>\n               <p>stream.standard.large</p>\n            </li>\n            <li>\n               <p>stream.compute.large</p>\n            </li>\n            <li>\n               <p>stream.compute.xlarge</p>\n            </li>\n            <li>\n               <p>stream.compute.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.compute.4xlarge</p>\n            </li>\n            <li>\n               <p>stream.compute.8xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.large</p>\n            </li>\n            <li>\n               <p>stream.memory.xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.4xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.8xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-design.large</p>\n            </li>\n            <li>\n               <p>stream.graphics-design.xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-design.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-design.4xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-desktop.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-pro.4xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-pro.8xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-pro.16xlarge</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "MaxUserDurationInSeconds": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum amount of time that a streaming session can remain active, in seconds. If users are still connected to a streaming instance five minutes before this limit is reached, they are prompted to save any open documents before being disconnected. After this time elapses, the instance is terminated and replaced by a new instance.</p>\n        <p>Specify a value between 600 and 360000.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>A unique name for the fleet.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.appstream#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the fleet. A tag is a key-value pair, and the value is optional. For example, Environment=Test. If you do not specify a value, Environment=. </p>\n        \n        <p>If you do not specify a value, the value is set to an empty string.</p>\n        \n        <p>Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following special characters: </p>\n        <p>_ . : / = + \\ - @</p>\n     \n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
          }
        },
        "VpcConfig": {
          "target": "com.amazonaws.appstream#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>The VPC configuration for the fleet.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateFleetResult": {
      "type": "structure",
      "members": {
        "Fleet": {
          "target": "com.amazonaws.appstream#Fleet",
          "traits": {
            "smithy.api#documentation": "<p>Information about the fleet.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateImageBuilder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateImageBuilderRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateImageBuilderResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#IncompatibleImageException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidRoleException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotAvailableException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an image builder. An image builder is a virtual machine that is used to create an image.</p> \n        <p>The initial state of the builder is <code>PENDING</code>. When it is ready, the state is <code>RUNNING</code>.</p>"
      }
    },
    "com.amazonaws.appstream#CreateImageBuilderRequest": {
      "type": "structure",
      "members": {
        "AccessEndpoints": {
          "target": "com.amazonaws.appstream#AccessEndpointList",
          "traits": {
            "smithy.api#documentation": "<p>The list of interface VPC endpoint (interface endpoint) objects. Administrators can connect to the image builder only through the specified endpoints.</p>"
          }
        },
        "AppstreamAgentVersion": {
          "target": "com.amazonaws.appstream#AppstreamAgentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the AppStream 2.0 agent to use for this image builder. To use the latest version of the AppStream 2.0 agent, specify [LATEST]. </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appstream#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description to display.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.appstream#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The image builder name to display.</p>"
          }
        },
        "DomainJoinInfo": {
          "target": "com.amazonaws.appstream#DomainJoinInfo",
          "traits": {
            "smithy.api#documentation": "<p>The name of the directory and organizational unit (OU) to use to join the image builder to a Microsoft Active Directory domain. </p>"
          }
        },
        "EnableDefaultInternetAccess": {
          "target": "com.amazonaws.appstream#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables default internet access for the image builder.</p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.appstream#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to apply to the image builder. To assume a role, the image builder calls the AWS Security Token Service (STS) <code>AssumeRole</code> API operation and passes the ARN of the role to use. The operation creates a new session with temporary credentials. AppStream 2.0 retrieves the temporary credentials and creates the <b>AppStream_Machine_Role</b> credential profile on the instance.</p>\n        \n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/using-iam-roles-to-grant-permissions-to-applications-scripts-streaming-instances.html\">Using an IAM Role to Grant Permissions to Applications and Scripts Running on AppStream 2.0 Streaming Instances</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
          }
        },
        "ImageArn": {
          "target": "com.amazonaws.appstream#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the public, private, or shared image to use.</p>"
          }
        },
        "ImageName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the image used to create the image builder.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The instance type to use when launching the image builder. The following instance types are available:</p>   \n        <ul>\n            <li>\n               <p>stream.standard.medium</p>\n            </li>\n            <li>\n               <p>stream.standard.large</p>\n            </li>\n            <li>\n               <p>stream.compute.large</p>\n            </li>\n            <li>\n               <p>stream.compute.xlarge</p>\n            </li>\n            <li>\n               <p>stream.compute.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.compute.4xlarge</p>\n            </li>\n            <li>\n               <p>stream.compute.8xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.large</p>\n            </li>\n            <li>\n               <p>stream.memory.xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.4xlarge</p>\n            </li>\n            <li>\n               <p>stream.memory.8xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-design.large</p>\n            </li>\n            <li>\n               <p>stream.graphics-design.xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-design.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-design.4xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-desktop.2xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-pro.4xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-pro.8xlarge</p>\n            </li>\n            <li>\n               <p>stream.graphics-pro.16xlarge</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>A unique name for the image builder.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.appstream#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the image builder. A tag is a key-value pair, and the value is optional. For example, Environment=Test. If you do not specify a value, Environment=. </p>\n        \n        <p>Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following special characters: </p>\n        <p>_ . : / = + \\ - @</p>\n        \n        <p>If you do not specify a value, the value is set to an empty string.</p>\n        \n        <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
          }
        },
        "VpcConfig": {
          "target": "com.amazonaws.appstream#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>The VPC configuration for the image builder. You can specify only one subnet.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateImageBuilderResult": {
      "type": "structure",
      "members": {
        "ImageBuilder": {
          "target": "com.amazonaws.appstream#ImageBuilder",
          "traits": {
            "smithy.api#documentation": "<p>Information about the image builder.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateImageBuilderStreamingURL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateImageBuilderStreamingURLRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateImageBuilderStreamingURLResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a URL to start an image builder streaming session.</p>"
      }
    },
    "com.amazonaws.appstream#CreateImageBuilderStreamingURLRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the image builder.</p>",
            "smithy.api#required": {}
          }
        },
        "Validity": {
          "target": "com.amazonaws.appstream#Long",
          "traits": {
            "smithy.api#documentation": "<p>The time that the streaming URL will be valid, in seconds. \n            Specify a value between 1 and 604800 seconds. The default is 3600 seconds.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateImageBuilderStreamingURLResult": {
      "type": "structure",
      "members": {
        "Expires": {
          "target": "com.amazonaws.appstream#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The elapsed time, in seconds after the Unix epoch, when this URL expires.</p>"
          }
        },
        "StreamingURL": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL to start the AppStream 2.0 streaming session.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateStack": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateStackRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateStackResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidRoleException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a stack to start streaming applications to users. A stack consists of an associated fleet, user access policies, and storage configurations. </p>"
      }
    },
    "com.amazonaws.appstream#CreateStackRequest": {
      "type": "structure",
      "members": {
        "AccessEndpoints": {
          "target": "com.amazonaws.appstream#AccessEndpointList",
          "traits": {
            "smithy.api#documentation": "<p>The list of interface VPC endpoint (interface endpoint) objects. Users of the stack can connect to AppStream 2.0 only through the specified endpoints.</p>"
          }
        },
        "ApplicationSettings": {
          "target": "com.amazonaws.appstream#ApplicationSettings",
          "traits": {
            "smithy.api#documentation": "<p>The persistent application settings for users of a stack. When these settings are enabled, changes that users make to applications and Windows settings are automatically saved after each session and applied to the next session.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.appstream#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description to display.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.appstream#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The stack name to display.</p>"
          }
        },
        "EmbedHostDomains": {
          "target": "com.amazonaws.appstream#EmbedHostDomains",
          "traits": {
            "smithy.api#documentation": "<p>The domains where AppStream 2.0 streaming sessions can be embedded in an iframe. You must approve the domains that you want to host embedded AppStream 2.0 streaming sessions.</p>"
          }
        },
        "FeedbackURL": {
          "target": "com.amazonaws.appstream#FeedbackURL",
          "traits": {
            "smithy.api#documentation": "<p>The URL that users are redirected to after they click the Send Feedback link. If no URL is specified, no Send Feedback link is displayed.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stack.</p>",
            "smithy.api#required": {}
          }
        },
        "RedirectURL": {
          "target": "com.amazonaws.appstream#RedirectURL",
          "traits": {
            "smithy.api#documentation": "<p>The URL that users are redirected to after their streaming session ends.</p>"
          }
        },
        "StorageConnectors": {
          "target": "com.amazonaws.appstream#StorageConnectorList",
          "traits": {
            "smithy.api#documentation": "<p>The storage connectors to enable.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.appstream#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the stack. A tag is a key-value pair, and the value is optional. For example, Environment=Test. If you do not specify a value, Environment=. </p>\n        \n        <p>If you do not specify a value, the value is set to an empty string.</p>\n        \n        <p>Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following special characters: </p>\n        <p>_ . : / = + \\ - @</p>\n        \n        <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
          }
        },
        "UserSettings": {
          "target": "com.amazonaws.appstream#UserSettingList",
          "traits": {
            "smithy.api#documentation": "<p>The actions that are enabled or disabled for users during their streaming sessions. By default, these actions are enabled. </p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateStackResult": {
      "type": "structure",
      "members": {
        "Stack": {
          "target": "com.amazonaws.appstream#Stack",
          "traits": {
            "smithy.api#documentation": "<p>Information about the stack.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateStreamingURL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateStreamingURLRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateStreamingURLResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotAvailableException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a temporary URL to start an AppStream 2.0 streaming session for the specified user. A streaming URL enables application streaming to be tested without user setup. </p>"
      }
    },
    "com.amazonaws.appstream#CreateStreamingURLRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application to launch after the session starts. This is the name that you specified\n            as <b>Name</b> in the Image Assistant.</p>"
          }
        },
        "FleetName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the fleet.</p>",
            "smithy.api#required": {}
          }
        },
        "SessionContext": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The session context. For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/managing-stacks-fleets.html#managing-stacks-fleets-parameters\">Session Context</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
          }
        },
        "StackName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stack.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.appstream#StreamingUrlUserId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user.</p>",
            "smithy.api#required": {}
          }
        },
        "Validity": {
          "target": "com.amazonaws.appstream#Long",
          "traits": {
            "smithy.api#documentation": "<p>The time that the streaming URL will be valid, in seconds.\n            Specify a value between 1 and 604800 seconds. The default is 60 seconds.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateStreamingURLResult": {
      "type": "structure",
      "members": {
        "Expires": {
          "target": "com.amazonaws.appstream#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The elapsed time, in seconds after the Unix epoch, when this URL expires.</p>"
          }
        },
        "StreamingURL": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL to start the AppStream 2.0 streaming session.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateUsageReportSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateUsageReportSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateUsageReportSubscriptionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidRoleException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a usage report subscription. Usage reports are generated daily.</p>"
      }
    },
    "com.amazonaws.appstream#CreateUsageReportSubscriptionRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#CreateUsageReportSubscriptionResult": {
      "type": "structure",
      "members": {
        "S3BucketName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket where generated reports are stored.</p> \n            \n            <p>If you enabled on-instance session scripts and Amazon S3 logging for your session script\n            configuration, AppStream 2.0 created an S3 bucket to store the script output. The bucket is\n            unique to your account and Region. When you enable usage reporting in this case, AppStream 2.0\n            uses the same bucket to store your usage reports. If you haven't already enabled on-instance session scripts, \n            when you enable usage reports, AppStream 2.0 creates a new S3 bucket.</p>"
          }
        },
        "Schedule": {
          "target": "com.amazonaws.appstream#UsageReportSchedule",
          "traits": {
            "smithy.api#documentation": "<p>The schedule for generating usage reports.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#CreateUserResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.appstream#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new user in the user pool.</p>"
      }
    },
    "com.amazonaws.appstream#CreateUserRequest": {
      "type": "structure",
      "members": {
        "AuthenticationType": {
          "target": "com.amazonaws.appstream#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type for the user. You must specify USERPOOL. </p>",
            "smithy.api#required": {}
          }
        },
        "FirstName": {
          "target": "com.amazonaws.appstream#UserAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The first name, or given name, of the user.</p>"
          }
        },
        "LastName": {
          "target": "com.amazonaws.appstream#UserAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The last name, or surname, of the user.</p>"
          }
        },
        "MessageAction": {
          "target": "com.amazonaws.appstream#MessageAction",
          "traits": {
            "smithy.api#documentation": "<p>The action to take for the welcome email that is sent to a user after the user is created in the user pool. If you specify SUPPRESS, no email is sent. If you specify RESEND, do not specify the first name or last name of the user. If the value is null, the email is sent. </p>\n        \n        <note>\n            <p>The temporary password in the welcome email is valid for only 7 days. If users don’t set their passwords within 7 days, you must send them a new welcome email.</p>\n         </note>"
          }
        },
        "UserName": {
          "target": "com.amazonaws.appstream#Username",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the user.</p>\n        \n        <note>\n            <p>Users' email addresses are case-sensitive. During login, if they specify an email address that doesn't use the same capitalization as the email address specified when their user pool account was created, a \"user does not exist\" error message displays.</p>\n         </note>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appstream#CreateUserResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#DeleteDirectoryConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DeleteDirectoryConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DeleteDirectoryConfigResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Directory Config object from AppStream 2.0. This object includes the information required to join streaming instances to an Active Directory domain.</p>"
      }
    },
    "com.amazonaws.appstream#DeleteDirectoryConfigRequest": {
      "type": "structure",
      "members": {
        "DirectoryName": {
          "target": "com.amazonaws.appstream#DirectoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the directory configuration.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appstream#DeleteDirectoryConfigResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#DeleteFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DeleteFleetRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DeleteFleetResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified fleet.</p>"
      }
    },
    "com.amazonaws.appstream#DeleteFleetRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the fleet.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appstream#DeleteFleetResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#DeleteImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DeleteImageRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DeleteImageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified image. You cannot delete an image when it is in use.  \n            After you delete an image, you cannot provision new capacity using the image.</p>"
      }
    },
    "com.amazonaws.appstream#DeleteImageBuilder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DeleteImageBuilderRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DeleteImageBuilderResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified image builder and releases the capacity.</p>"
      }
    },
    "com.amazonaws.appstream#DeleteImageBuilderRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the image builder.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appstream#DeleteImageBuilderResult": {
      "type": "structure",
      "members": {
        "ImageBuilder": {
          "target": "com.amazonaws.appstream#ImageBuilder",
          "traits": {
            "smithy.api#documentation": "<p>Information about the image builder.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DeleteImagePermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DeleteImagePermissionsRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DeleteImagePermissionsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ResourceNotAvailableException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes permissions for the specified private image. After you delete permissions for an image, AWS accounts to which you previously granted these permissions can no longer use the image.</p>"
      }
    },
    "com.amazonaws.appstream#DeleteImagePermissionsRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the private image.</p>",
            "smithy.api#required": {}
          }
        },
        "SharedAccountId": {
          "target": "com.amazonaws.appstream#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit identifier of the AWS account for which to delete image permissions.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appstream#DeleteImagePermissionsResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#DeleteImageRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the image.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appstream#DeleteImageResult": {
      "type": "structure",
      "members": {
        "Image": {
          "target": "com.amazonaws.appstream#Image",
          "traits": {
            "smithy.api#documentation": "<p>Information about the image.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DeleteStack": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DeleteStackRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DeleteStackResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified stack. After the stack is deleted, the application streaming environment provided by the stack is no longer available to users. Also, any reservations made for application streaming sessions for the stack are released.</p>"
      }
    },
    "com.amazonaws.appstream#DeleteStackRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stack.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appstream#DeleteStackResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#DeleteUsageReportSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DeleteUsageReportSubscriptionRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DeleteUsageReportSubscriptionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables usage report generation.</p>"
      }
    },
    "com.amazonaws.appstream#DeleteUsageReportSubscriptionRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#DeleteUsageReportSubscriptionResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#DeleteUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DeleteUserRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DeleteUserResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a user from the user pool.</p>"
      }
    },
    "com.amazonaws.appstream#DeleteUserRequest": {
      "type": "structure",
      "members": {
        "AuthenticationType": {
          "target": "com.amazonaws.appstream#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type for the user. You must specify USERPOOL.</p>",
            "smithy.api#required": {}
          }
        },
        "UserName": {
          "target": "com.amazonaws.appstream#Username",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the user.</p>\n        \n        <note>\n            <p>Users' email addresses are case-sensitive.</p>\n         </note>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appstream#DeleteUserResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#DescribeDirectoryConfigs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DescribeDirectoryConfigsRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DescribeDirectoryConfigsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list that describes one or more specified Directory Config objects for AppStream 2.0, if the names for these objects are provided. Otherwise, all Directory Config objects in the account are described. These objects include the configuration information required to join fleets and image builders to Microsoft Active Directory domains. \n        </p>\n        <p>Although the response syntax in this topic includes the account password, this password is not returned in the actual response.</p>"
      }
    },
    "com.amazonaws.appstream#DescribeDirectoryConfigsRequest": {
      "type": "structure",
      "members": {
        "DirectoryNames": {
          "target": "com.amazonaws.appstream#DirectoryNameList",
          "traits": {
            "smithy.api#documentation": "<p>The directory names.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of each page of results.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeDirectoryConfigsResult": {
      "type": "structure",
      "members": {
        "DirectoryConfigs": {
          "target": "com.amazonaws.appstream#DirectoryConfigList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the directory configurations. Note that although the response syntax in this topic includes the account password, this password is not returned in the actual response. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeFleets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DescribeFleetsRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DescribeFleetsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list that describes one or more specified fleets, if the fleet names are provided. Otherwise, all fleets in the account are described.</p>"
      }
    },
    "com.amazonaws.appstream#DescribeFleetsRequest": {
      "type": "structure",
      "members": {
        "Names": {
          "target": "com.amazonaws.appstream#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the fleets to describe.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeFleetsResult": {
      "type": "structure",
      "members": {
        "Fleets": {
          "target": "com.amazonaws.appstream#FleetList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the fleets.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeImageBuilders": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DescribeImageBuildersRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DescribeImageBuildersResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list that describes one or more specified image builders, if the image builder names are provided. Otherwise, all image builders in the account are described.</p>"
      }
    },
    "com.amazonaws.appstream#DescribeImageBuildersRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of each page of results.</p>"
          }
        },
        "Names": {
          "target": "com.amazonaws.appstream#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the image builders to describe.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeImageBuildersResult": {
      "type": "structure",
      "members": {
        "ImageBuilders": {
          "target": "com.amazonaws.appstream#ImageBuilderList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the image builders.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeImagePermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DescribeImagePermissionsRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DescribeImagePermissionsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list that describes the permissions for shared AWS account IDs on a private image that you own. </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.appstream#DescribeImagePermissionsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.appstream#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of each page of results.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the private image for which to describe permissions. The image must be one that you own. </p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
          }
        },
        "SharedAwsAccountIds": {
          "target": "com.amazonaws.appstream#AwsAccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit identifier of one or more AWS accounts with which the image is shared.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeImagePermissionsResult": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.appstream#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the private image.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
          }
        },
        "SharedImagePermissionsList": {
          "target": "com.amazonaws.appstream#SharedImagePermissionsList",
          "traits": {
            "smithy.api#documentation": "<p>The permissions for a private image that you own. </p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeImages": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DescribeImagesRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DescribeImagesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list that describes one or more specified images, if the image names or image ARNs are provided. Otherwise, all images in the account are described.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.appstream#DescribeImagesMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 25
        }
      }
    },
    "com.amazonaws.appstream#DescribeImagesRequest": {
      "type": "structure",
      "members": {
        "Arns": {
          "target": "com.amazonaws.appstream#ArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the public, private, and shared images to describe.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.appstream#DescribeImagesMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of each page of results.</p>"
          }
        },
        "Names": {
          "target": "com.amazonaws.appstream#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the public or private images to describe.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.appstream#VisibilityType",
          "traits": {
            "smithy.api#documentation": "<p>The type of image (public, private, or shared) to describe. </p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeImagesResult": {
      "type": "structure",
      "members": {
        "Images": {
          "target": "com.amazonaws.appstream#ImageList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the images.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeSessions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DescribeSessionsRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DescribeSessionsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#InvalidParameterCombinationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list that describes the streaming sessions for a specified stack and fleet. If a UserId is provided for the stack and fleet,\n            only streaming sessions for that user are described. If an authentication type is not provided, \n            the default is to authenticate users using a streaming URL.</p>"
      }
    },
    "com.amazonaws.appstream#DescribeSessionsRequest": {
      "type": "structure",
      "members": {
        "AuthenticationType": {
          "target": "com.amazonaws.appstream#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication method. Specify <code>API</code> for a user\n            authenticated using a streaming URL or <code>SAML</code> for a SAML federated user. \n            The default is to authenticate users using a streaming URL.</p>"
          }
        },
        "FleetName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the fleet. This value is case-sensitive.</p>",
            "smithy.api#required": {}
          }
        },
        "Limit": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of each page of results. The default value is 20 and the maximum value is 50.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
          }
        },
        "StackName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stack. This value is case-sensitive.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.appstream#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The user identifier.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeSessionsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
          }
        },
        "Sessions": {
          "target": "com.amazonaws.appstream#SessionList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the streaming sessions.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeStacks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DescribeStacksRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DescribeStacksResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list that describes one or more specified stacks, if the stack names are provided. Otherwise, all stacks in the account are described.</p>"
      }
    },
    "com.amazonaws.appstream#DescribeStacksRequest": {
      "type": "structure",
      "members": {
        "Names": {
          "target": "com.amazonaws.appstream#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the stacks to describe.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeStacksResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
          }
        },
        "Stacks": {
          "target": "com.amazonaws.appstream#StackList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the stacks.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeUsageReportSubscriptions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DescribeUsageReportSubscriptionsRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DescribeUsageReportSubscriptionsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list that describes one or more usage report subscriptions.</p>"
      }
    },
    "com.amazonaws.appstream#DescribeUsageReportSubscriptionsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of each page of results.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeUsageReportSubscriptionsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
          }
        },
        "UsageReportSubscriptions": {
          "target": "com.amazonaws.appstream#UsageReportSubscriptionList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the usage report subscription.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeUserStackAssociations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DescribeUserStackAssociationsRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DescribeUserStackAssociationsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#InvalidParameterCombinationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list that describes the UserStackAssociation objects. You must specify either or both of the following:</p>\n        <ul>\n            <li>\n               <p>The stack name</p>\n            </li>\n            <li> \n               <p>The user name (email address of the user associated with the stack) and the authentication type for the user</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.appstream#DescribeUserStackAssociationsRequest": {
      "type": "structure",
      "members": {
        "AuthenticationType": {
          "target": "com.amazonaws.appstream#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type for the user who is associated with the stack. You must specify USERPOOL.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.appstream#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of each page of results.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
          }
        },
        "StackName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stack that is associated with the user.</p>"
          }
        },
        "UserName": {
          "target": "com.amazonaws.appstream#Username",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the user who is associated with the stack.</p>\n        \n        <note>\n            <p>Users' email addresses are case-sensitive.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeUserStackAssociationsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
          }
        },
        "UserStackAssociations": {
          "target": "com.amazonaws.appstream#UserStackAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>The UserStackAssociation objects.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeUsers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DescribeUsersRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DescribeUsersResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list that describes one or more specified users in the user pool.</p>"
      }
    },
    "com.amazonaws.appstream#DescribeUsersRequest": {
      "type": "structure",
      "members": {
        "AuthenticationType": {
          "target": "com.amazonaws.appstream#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type for the users in the user pool to describe. You must specify USERPOOL.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.appstream#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of each page of results.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#DescribeUsersResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
          }
        },
        "Users": {
          "target": "com.amazonaws.appstream#UserList",
          "traits": {
            "smithy.api#documentation": "<p>Information about users in the user pool.</p>"
          }
        }
      }
    },
    "com.amazonaws.appstream#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.appstream#DirectoryConfig": {
      "type": "structure",
      "members": {
        "CreatedTime": {
          "target": "com.amazonaws.appstream#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the directory configuration was created.</p>"
          }
        },
        "DirectoryName": {
          "target": "com.amazonaws.appstream#DirectoryName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified name of the directory (for example, corp.example.com).</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationalUnitDistinguishedNames": {
          "target": "com.amazonaws.appstream#OrganizationalUnitDistinguishedNamesList",
          "traits": {
            "smithy.api#documentation": "<p>The distinguished names of the organizational units for computer accounts.</p>"
          }
        },
        "ServiceAccountCredentials": {
          "target": "com.amazonaws.appstream#ServiceAccountCredentials",
          "traits": {
            "smithy.api#documentation": "<p>The credentials for the service account used by the fleet or image builder to connect to the directory.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the configuration information required to join fleets and image builders to Microsoft Active Directory domains.</p>"
      }
    },
    "com.amazonaws.appstream#DirectoryConfigList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appstream#DirectoryConfig"
      }
    },
    "com.amazonaws.appstream#DirectoryName": {
      "type": "string"
    },
    "com.amazonaws.appstream#DirectoryNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appstream#DirectoryName"
      }
    },
    "com.amazonaws.appstream#DisableUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DisableUserRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DisableUserResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables the specified user in the user pool. Users can't sign in to AppStream 2.0 until they are re-enabled. This action does not delete the user. </p>"
      }
    },
    "com.amazonaws.appstream#DisableUserRequest": {
      "type": "structure",
      "members": {
        "AuthenticationType": {
          "target": "com.amazonaws.appstream#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type for the user. You must specify USERPOOL.</p>",
            "smithy.api#required": {}
          }
        },
        "UserName": {
          "target": "com.amazonaws.appstream#Username",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the user.</p>\n        \n        <note>\n            <p>Users' email addresses are case-sensitive.</p>\n         </note>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appstream#DisableUserResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#DisassociateFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#DisassociateFleetRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#DisassociateFleetResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates the specified fleet from the specified stack.</p>"
      }
    },
    "com.amazonaws.appstream#DisassociateFleetRequest": {
      "type": "structure",
      "members": {
        "FleetName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the fleet.</p>",
            "smithy.api#required": {}
          }
        },
        "StackName": {
          "target": "com.amazonaws.appstream#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stack.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appstream#DisassociateFleetResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appstream#DisplayName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.appstream#Domain": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "GSuite domain for GDrive integration.",
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.appstream#DomainJoinInfo": {
      "type": "structure",
      "members": {
        "DirectoryName": {
          "target": "com.amazonaws.appstream#DirectoryName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified name of the directory (for example, corp.example.com).</p>"
          }
        },
        "OrganizationalUnitDistinguishedName": {
          "target": "com.amazonaws.appstream#OrganizationalUnitDistinguishedName",
          "traits": {
            "smithy.api#documentation": "<p>The distinguished name of the organizational unit for computer accounts.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the configuration information required to join fleets and image builders to Microsoft Active Directory domains.</p>"
      }
    },
    "com.amazonaws.appstream#DomainList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appstream#Domain"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.appstream#EmbedHostDomain": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specifies a valid domain that can embed AppStream.\n        Valid examples include: [\"testorigin.tt--com\", \"testingorigin.com.us\", \"test.com.us\"]\n        Invalid examples include: [\"test,com\", \".com\", \"h*llo.com\". \"\"]",
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "(?:[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?\\.)+[a-z0-9][a-z0-9-]{0,61}[a-z0-9]"
      }
    },
    "com.amazonaws.appstream#EmbedHostDomains": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appstream#EmbedHostDomain"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.appstream#EnableUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appstream#EnableUserRequest"
      },
      "output": {
        "target": "com.amazonaws.appstream#EnableUserResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.appstream#InvalidAccountStatusException"
        },
        {
          "target": "com.amazonaws.appstream#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables a user in the user pool. After being enabled, users can sign in to AppStream 2.0 and open applications from the stacks to which they are assigned.</p>"
      }
    },
    "com.amazonaws.appstream#EnableUserRequest": {
      "type": "structure",
      "members": {
        "AuthenticationType": {
[...]
