{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.appsync#AWSDeepdishControlPlaneService": {
      "type": "service",
      "traits": {
        "aws.api#service": {
          "sdkId": "AppSync",
          "arnNamespace": "appsync",
          "cloudFormationName": "AppSync",
          "cloudTrailEventSource": "appsync.amazonaws.com",
          "endpointPrefix": "appsync"
        },
        "aws.auth#sigv4": {
          "name": "appsync"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>AppSync provides API actions for creating and interacting with data\n         sources using GraphQL from your application.</p>",
        "smithy.api#title": "AWS AppSync",
        "smithy.api#xmlNamespace": {
          "uri": "http://appsync.amazonaws.com"
        }
      },
      "version": "2017-07-25",
      "operations": [
        {
          "target": "com.amazonaws.appsync#AssociateApi"
        },
        {
          "target": "com.amazonaws.appsync#CreateApiCache"
        },
        {
          "target": "com.amazonaws.appsync#CreateApiKey"
        },
        {
          "target": "com.amazonaws.appsync#CreateDataSource"
        },
        {
          "target": "com.amazonaws.appsync#CreateDomainName"
        },
        {
          "target": "com.amazonaws.appsync#CreateFunction"
        },
        {
          "target": "com.amazonaws.appsync#CreateGraphqlApi"
        },
        {
          "target": "com.amazonaws.appsync#CreateResolver"
        },
        {
          "target": "com.amazonaws.appsync#CreateType"
        },
        {
          "target": "com.amazonaws.appsync#DeleteApiCache"
        },
        {
          "target": "com.amazonaws.appsync#DeleteApiKey"
        },
        {
          "target": "com.amazonaws.appsync#DeleteDataSource"
        },
        {
          "target": "com.amazonaws.appsync#DeleteDomainName"
        },
        {
          "target": "com.amazonaws.appsync#DeleteFunction"
        },
        {
          "target": "com.amazonaws.appsync#DeleteGraphqlApi"
        },
        {
          "target": "com.amazonaws.appsync#DeleteResolver"
        },
        {
          "target": "com.amazonaws.appsync#DeleteType"
        },
        {
          "target": "com.amazonaws.appsync#DisassociateApi"
        },
        {
          "target": "com.amazonaws.appsync#FlushApiCache"
        },
        {
          "target": "com.amazonaws.appsync#GetApiAssociation"
        },
        {
          "target": "com.amazonaws.appsync#GetApiCache"
        },
        {
          "target": "com.amazonaws.appsync#GetDataSource"
        },
        {
          "target": "com.amazonaws.appsync#GetDomainName"
        },
        {
          "target": "com.amazonaws.appsync#GetFunction"
        },
        {
          "target": "com.amazonaws.appsync#GetGraphqlApi"
        },
        {
          "target": "com.amazonaws.appsync#GetIntrospectionSchema"
        },
        {
          "target": "com.amazonaws.appsync#GetResolver"
        },
        {
          "target": "com.amazonaws.appsync#GetSchemaCreationStatus"
        },
        {
          "target": "com.amazonaws.appsync#GetType"
        },
        {
          "target": "com.amazonaws.appsync#ListApiKeys"
        },
        {
          "target": "com.amazonaws.appsync#ListDataSources"
        },
        {
          "target": "com.amazonaws.appsync#ListDomainNames"
        },
        {
          "target": "com.amazonaws.appsync#ListFunctions"
        },
        {
          "target": "com.amazonaws.appsync#ListGraphqlApis"
        },
        {
          "target": "com.amazonaws.appsync#ListResolvers"
        },
        {
          "target": "com.amazonaws.appsync#ListResolversByFunction"
        },
        {
          "target": "com.amazonaws.appsync#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.appsync#ListTypes"
        },
        {
          "target": "com.amazonaws.appsync#StartSchemaCreation"
        },
        {
          "target": "com.amazonaws.appsync#TagResource"
        },
        {
          "target": "com.amazonaws.appsync#UntagResource"
        },
        {
          "target": "com.amazonaws.appsync#UpdateApiCache"
        },
        {
          "target": "com.amazonaws.appsync#UpdateApiKey"
        },
        {
          "target": "com.amazonaws.appsync#UpdateDataSource"
        },
        {
          "target": "com.amazonaws.appsync#UpdateDomainName"
        },
        {
          "target": "com.amazonaws.appsync#UpdateFunction"
        },
        {
          "target": "com.amazonaws.appsync#UpdateGraphqlApi"
        },
        {
          "target": "com.amazonaws.appsync#UpdateResolver"
        },
        {
          "target": "com.amazonaws.appsync#UpdateType"
        }
      ]
    },
    "com.amazonaws.appsync#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.appsync#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have access to perform this operation on this resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.appsync#AdditionalAuthenticationProvider": {
      "type": "structure",
      "members": {
        "authenticationType": {
          "target": "com.amazonaws.appsync#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type: API key, Identity and Access Management (IAM), OpenID\n         Connect (OIDC), Amazon Cognito user pools, or Lambda.</p>"
          }
        },
        "openIDConnectConfig": {
          "target": "com.amazonaws.appsync#OpenIDConnectConfig",
          "traits": {
            "smithy.api#documentation": "<p>The OIDC configuration.</p>"
          }
        },
        "userPoolConfig": {
          "target": "com.amazonaws.appsync#CognitoUserPoolConfig",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Cognito user pool configuration.</p>"
          }
        },
        "lambdaAuthorizerConfig": {
          "target": "com.amazonaws.appsync#LambdaAuthorizerConfig",
          "traits": {
            "smithy.api#documentation": "<p>Configuration for Lambda function authorization.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an additional authentication provider.</p>"
      }
    },
    "com.amazonaws.appsync#AdditionalAuthenticationProviders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appsync#AdditionalAuthenticationProvider"
      }
    },
    "com.amazonaws.appsync#ApiAssociation": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "com.amazonaws.appsync#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name.</p>"
          }
        },
        "apiId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>"
          }
        },
        "associationStatus": {
          "target": "com.amazonaws.appsync#AssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the status of an association.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>PROCESSING</b>: The API association is being\n               created. You cannot modify association requests during processing.</p>\n            </li>\n            <li>\n               <p>\n                  <b>SUCCESS</b>: The API association was successful.\n               You can modify associations after success.</p>\n            </li>\n            <li>\n               <p>\n                  <b>FAILED</b>: The API association has failed. You\n               can modify associations after failure.</p>\n            </li>\n         </ul>"
          }
        },
        "deploymentDetail": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>Details about the last deployment status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an <code>ApiAssociation</code> object.</p>"
      }
    },
    "com.amazonaws.appsync#ApiCache": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "com.amazonaws.appsync#Long",
          "traits": {
            "smithy.api#documentation": "<p>TTL in seconds for cache entries.</p>\n         <p>Valid values are 1–3,600 seconds.</p>"
          }
        },
        "apiCachingBehavior": {
          "target": "com.amazonaws.appsync#ApiCachingBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Caching behavior.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>FULL_REQUEST_CACHING</b>: All requests are fully\n               cached.</p>\n            </li>\n            <li>\n               <p>\n                  <b>PER_RESOLVER_CACHING</b>: Individual resolvers\n               that you specify are cached.</p>\n            </li>\n         </ul>"
          }
        },
        "transitEncryptionEnabled": {
          "target": "com.amazonaws.appsync#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Transit encryption flag when connecting to cache. You cannot update this setting after\n         creation.</p>"
          }
        },
        "atRestEncryptionEnabled": {
          "target": "com.amazonaws.appsync#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>At-rest encryption flag for cache. You cannot update this setting after creation.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.appsync#ApiCacheType",
          "traits": {
            "smithy.api#documentation": "<p>The cache instance type. Valid values are </p>\n         <ul>\n            <li>\n               <p>\n                  <code>SMALL</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>MEDIUM</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>LARGE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>XLARGE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>LARGE_2X</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>LARGE_4X</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>LARGE_8X</code> (not available in all regions)</p>\n            </li>\n            <li>\n               <p>\n                  <code>LARGE_12X</code>\n               </p>\n            </li>\n         </ul>\n         <p>Historically, instance types were identified by an EC2-style value. As of July 2020, this is deprecated, and the generic identifiers above should be used.</p>\n         <p>The following legacy instance types are available, but their use is discouraged:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>T2_SMALL</b>: A t2.small instance type.</p>\n            </li>\n            <li>\n               <p>\n                  <b>T2_MEDIUM</b>: A t2.medium instance type.</p>\n            </li>\n            <li>\n               <p>\n                  <b>R4_LARGE</b>: A r4.large instance type.</p>\n            </li>\n            <li>\n               <p>\n                  <b>R4_XLARGE</b>: A r4.xlarge instance type.</p>\n            </li>\n            <li>\n               <p>\n                  <b>R4_2XLARGE</b>: A r4.2xlarge instance type.</p>\n            </li>\n            <li>\n               <p>\n                  <b>R4_4XLARGE</b>: A r4.4xlarge instance type.</p>\n            </li>\n            <li>\n               <p>\n                  <b>R4_8XLARGE</b>: A r4.8xlarge instance type.</p>\n            </li>\n         </ul>"
          }
        },
        "status": {
          "target": "com.amazonaws.appsync#ApiCacheStatus",
          "traits": {
            "smithy.api#documentation": "<p>The cache instance status.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>AVAILABLE</b>: The instance is available for\n               use.</p>\n            </li>\n            <li>\n               <p>\n                  <b>CREATING</b>: The instance is currently\n               creating.</p>\n            </li>\n            <li>\n               <p>\n                  <b>DELETING</b>: The instance is currently\n               deleting.</p>\n            </li>\n            <li>\n               <p>\n                  <b>MODIFYING</b>: The instance is currently\n               modifying.</p>\n            </li>\n            <li>\n               <p>\n                  <b>FAILED</b>: The instance has failed\n               creation.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>ApiCache</code> object.</p>"
      }
    },
    "com.amazonaws.appsync#ApiCacheStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AVAILABLE",
            "name": "AVAILABLE"
          },
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "MODIFYING",
            "name": "MODIFYING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.appsync#ApiCacheType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "T2_SMALL",
            "name": "T2_SMALL"
          },
          {
            "value": "T2_MEDIUM",
            "name": "T2_MEDIUM"
          },
          {
            "value": "R4_LARGE",
            "name": "R4_LARGE"
          },
          {
            "value": "R4_XLARGE",
            "name": "R4_XLARGE"
          },
          {
            "value": "R4_2XLARGE",
            "name": "R4_2XLARGE"
          },
          {
            "value": "R4_4XLARGE",
            "name": "R4_4XLARGE"
          },
          {
            "value": "R4_8XLARGE",
            "name": "R4_8XLARGE"
          },
          {
            "value": "SMALL",
            "name": "SMALL"
          },
          {
            "value": "MEDIUM",
            "name": "MEDIUM"
          },
          {
            "value": "LARGE",
            "name": "LARGE"
          },
          {
            "value": "XLARGE",
            "name": "XLARGE"
          },
          {
            "value": "LARGE_2X",
            "name": "LARGE_2X"
          },
          {
            "value": "LARGE_4X",
            "name": "LARGE_4X"
          },
          {
            "value": "LARGE_8X",
            "name": "LARGE_8X"
          },
          {
            "value": "LARGE_12X",
            "name": "LARGE_12X"
          }
        ]
      }
    },
    "com.amazonaws.appsync#ApiCachingBehavior": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FULL_REQUEST_CACHING",
            "name": "FULL_REQUEST_CACHING"
          },
          {
            "value": "PER_RESOLVER_CACHING",
            "name": "PER_RESOLVER_CACHING"
          }
        ]
      }
    },
    "com.amazonaws.appsync#ApiKey": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The API key ID.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the purpose of the API key.</p>"
          }
        },
        "expires": {
          "target": "com.amazonaws.appsync#Long",
          "traits": {
            "smithy.api#documentation": "<p>The time after which the API key expires. The date is represented as seconds since the\n         epoch, rounded down to the nearest hour.</p>"
          }
        },
        "deletes": {
          "target": "com.amazonaws.appsync#Long",
          "traits": {
            "smithy.api#documentation": "<p>The time after which the API key is deleted. The date is represented as seconds since\n         the epoch, rounded down to the nearest hour.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an API key.</p>\n         <p>Customers invoke AppSync GraphQL API operations with API keys as an\n         identity mechanism. There are two key versions:</p>\n         <p>\n            <b>da1</b>: We introduced this version at launch in November\n         2017. These keys always expire after 7 days. Amazon DynamoDB TTL manages key\n         expiration. These keys ceased to be valid after February 21, 2018, and they should no\n         longer be used.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ListApiKeys</code> returns the expiration time in milliseconds.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CreateApiKey</code> returns the expiration time in\n               milliseconds.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UpdateApiKey</code> is not available for this key version.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteApiKey</code> deletes the item from the table.</p>\n            </li>\n            <li>\n               <p>Expiration is stored in DynamoDB as milliseconds. This results in a\n               bug where keys are not automatically deleted because DynamoDB expects the\n               TTL to be stored in seconds. As a one-time action, we deleted these keys from the\n               table on February 21, 2018.</p>\n            </li>\n         </ul>\n         <p>\n            <b>da2</b>: We introduced this version in February 2018 when\n            AppSync added support to extend key expiration.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ListApiKeys</code> returns the expiration time and deletion time in\n               seconds.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CreateApiKey</code> returns the expiration time and deletion time in\n               seconds and accepts a user-provided expiration time in seconds.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UpdateApiKey</code> returns the expiration time and and deletion time in\n               seconds and accepts a user-provided expiration time in seconds. Expired API keys are\n               kept for 60 days after the expiration time. You can update the key expiration time as\n               long as the key isn't deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteApiKey</code> deletes the item from the table.</p>\n            </li>\n            <li>\n               <p>Expiration is stored in DynamoDB as seconds. After the expiration\n               time, using the key to authenticate will fail. However, you can reinstate the key\n               before deletion.</p>\n            </li>\n            <li>\n               <p>Deletion is stored in DynamoDB as seconds. The key is deleted after\n               deletion time.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.appsync#ApiKeyLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.appsync#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The API key exceeded a limit. Try your request again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.appsync#ApiKeyValidityOutOfBoundsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.appsync#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The API key expiration must be set to a value between 1 and 365 days from creation (for\n            <code>CreateApiKey</code>) or from update (for <code>UpdateApiKey</code>).</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.appsync#ApiKeys": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appsync#ApiKey"
      }
    },
    "com.amazonaws.appsync#ApiLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.appsync#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The GraphQL API exceeded a limit. Try your request again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.appsync#AssociateApi": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#AssociateApiRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#AssociateApiResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Maps an endpoint to your custom domain.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domainnames/{domainName}/apiassociation",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#AssociateApiRequest": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "com.amazonaws.appsync#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "apiId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appsync#AssociateApiResponse": {
      "type": "structure",
      "members": {
        "apiAssociation": {
          "target": "com.amazonaws.appsync#ApiAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ApiAssociation</code> object.</p>"
          }
        }
      }
    },
    "com.amazonaws.appsync#AssociationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PROCESSING",
            "name": "Processing"
          },
          {
            "value": "FAILED",
            "name": "Failed"
          },
          {
            "value": "SUCCESS",
            "name": "Success"
          }
        ]
      }
    },
    "com.amazonaws.appsync#AuthenticationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "API_KEY",
            "name": "API_KEY"
          },
          {
            "value": "AWS_IAM",
            "name": "AWS_IAM"
          },
          {
            "value": "AMAZON_COGNITO_USER_POOLS",
            "name": "AMAZON_COGNITO_USER_POOLS"
          },
          {
            "value": "OPENID_CONNECT",
            "name": "OPENID_CONNECT"
          },
          {
            "value": "AWS_LAMBDA",
            "name": "AWS_LAMBDA"
          }
        ]
      }
    },
    "com.amazonaws.appsync#AuthorizationConfig": {
      "type": "structure",
      "members": {
        "authorizationType": {
          "target": "com.amazonaws.appsync#AuthorizationType",
          "traits": {
            "smithy.api#documentation": "<p>The authorization type that the HTTP endpoint requires.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>AWS_IAM</b>: The authorization type is Signature\n               Version 4 (SigV4).</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "awsIamConfig": {
          "target": "com.amazonaws.appsync#AwsIamConfig",
          "traits": {
            "smithy.api#documentation": "<p>The Identity and Access Management (IAM) settings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The authorization configuration in case the HTTP endpoint requires authorization.</p>"
      }
    },
    "com.amazonaws.appsync#AuthorizationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AWS_IAM",
            "name": "AWS_IAM"
          }
        ]
      }
    },
    "com.amazonaws.appsync#AwsIamConfig": {
      "type": "structure",
      "members": {
        "signingRegion": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The signing Amazon Web Services Region for IAM authorization.</p>"
          }
        },
        "signingServiceName": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The signing service name for IAM authorization.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Identity and Access Management (IAM) configuration.</p>"
      }
    },
    "com.amazonaws.appsync#BadRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.appsync#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is not well formed. For example, a value is invalid or a required field is\n         missing. Check the field values, and then try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.appsync#Blob": {
      "type": "blob"
    },
    "com.amazonaws.appsync#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.appsync#BooleanValue": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.appsync#CachingConfig": {
      "type": "structure",
      "members": {
        "ttl": {
          "target": "com.amazonaws.appsync#Long",
          "traits": {
            "smithy.api#documentation": "<p>The TTL in seconds for a resolver that has caching activated.</p>\n         <p>Valid values are 1–3,600 seconds.</p>"
          }
        },
        "cachingKeys": {
          "target": "com.amazonaws.appsync#CachingKeys",
          "traits": {
            "smithy.api#documentation": "<p>The caching keys for a resolver that has caching activated.</p>\n         <p>Valid values are entries from the <code>$context.arguments</code>,\n            <code>$context.source</code>, and <code>$context.identity</code> maps.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The caching configuration for a resolver that has caching activated.</p>"
      }
    },
    "com.amazonaws.appsync#CachingKeys": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appsync#String"
      }
    },
    "com.amazonaws.appsync#CertificateArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:[a-z-]*:(acm|iam):[a-z0-9-]*:\\d{12}:(certificate|server-certificate)/[0-9A-Za-z_/-]*$"
      }
    },
    "com.amazonaws.appsync#CognitoUserPoolConfig": {
      "type": "structure",
      "members": {
        "userPoolId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The user pool ID.</p>",
            "smithy.api#required": {}
          }
        },
        "awsRegion": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region in which the user pool was created.</p>",
            "smithy.api#required": {}
          }
        },
        "appIdClientRegex": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>A regular expression for validating the incoming Amazon Cognito user pool app client\n         ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Amazon Cognito user pool configuration.</p>"
      }
    },
    "com.amazonaws.appsync#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.appsync#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Another modification is in progress at this time and it must complete before you can\n         make your change.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.appsync#ConflictDetectionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "VERSION",
            "name": "VERSION"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.appsync#ConflictHandlerType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OPTIMISTIC_CONCURRENCY",
            "name": "OPTIMISTIC_CONCURRENCY"
          },
          {
            "value": "LAMBDA",
            "name": "LAMBDA"
          },
          {
            "value": "AUTOMERGE",
            "name": "AUTOMERGE"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.appsync#CreateApiCache": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#CreateApiCacheRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#CreateApiCacheResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        },
        {
          "target": "com.amazonaws.appsync#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a cache for the GraphQL API.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/apis/{apiId}/ApiCaches",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#CreateApiCacheRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The GraphQL API ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ttl": {
          "target": "com.amazonaws.appsync#Long",
          "traits": {
            "smithy.api#documentation": "<p>TTL in seconds for cache entries.</p>\n         <p>Valid values are 1–3,600 seconds.</p>",
            "smithy.api#required": {}
          }
        },
        "transitEncryptionEnabled": {
          "target": "com.amazonaws.appsync#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Transit encryption flag when connecting to cache. You cannot update this setting after\n         creation.</p>"
          }
        },
        "atRestEncryptionEnabled": {
          "target": "com.amazonaws.appsync#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>At-rest encryption flag for cache. You cannot update this setting after creation.</p>"
          }
        },
        "apiCachingBehavior": {
          "target": "com.amazonaws.appsync#ApiCachingBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Caching behavior.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>FULL_REQUEST_CACHING</b>: All requests are fully\n               cached.</p>\n            </li>\n            <li>\n               <p>\n                  <b>PER_RESOLVER_CACHING</b>: Individual resolvers\n               that you specify are cached.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.appsync#ApiCacheType",
          "traits": {
            "smithy.api#documentation": "<p>The cache instance type. Valid values are </p>\n         <ul>\n            <li>\n               <p>\n                  <code>SMALL</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>MEDIUM</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>LARGE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>XLARGE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>LARGE_2X</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>LARGE_4X</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>LARGE_8X</code> (not available in all regions)</p>\n            </li>\n            <li>\n               <p>\n                  <code>LARGE_12X</code>\n               </p>\n            </li>\n         </ul>\n         <p>Historically, instance types were identified by an EC2-style value. As of July 2020, this is deprecated, and the generic identifiers above should be used.</p>\n         <p>The following legacy instance types are available, but their use is discouraged:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>T2_SMALL</b>: A t2.small instance type.</p>\n            </li>\n            <li>\n               <p>\n                  <b>T2_MEDIUM</b>: A t2.medium instance type.</p>\n            </li>\n            <li>\n               <p>\n                  <b>R4_LARGE</b>: A r4.large instance type.</p>\n            </li>\n            <li>\n               <p>\n                  <b>R4_XLARGE</b>: A r4.xlarge instance type.</p>\n            </li>\n            <li>\n               <p>\n                  <b>R4_2XLARGE</b>: A r4.2xlarge instance type.</p>\n            </li>\n            <li>\n               <p>\n                  <b>R4_4XLARGE</b>: A r4.4xlarge instance type.</p>\n            </li>\n            <li>\n               <p>\n                  <b>R4_8XLARGE</b>: A r4.8xlarge instance type.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>CreateApiCache</code> operation.</p>"
      }
    },
    "com.amazonaws.appsync#CreateApiCacheResponse": {
      "type": "structure",
      "members": {
        "apiCache": {
          "target": "com.amazonaws.appsync#ApiCache",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ApiCache</code> object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>CreateApiCache</code> operation.</p>"
      }
    },
    "com.amazonaws.appsync#CreateApiKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#CreateApiKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#CreateApiKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#ApiKeyLimitExceededException"
        },
        {
          "target": "com.amazonaws.appsync#ApiKeyValidityOutOfBoundsException"
        },
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        },
        {
          "target": "com.amazonaws.appsync#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a unique key that you can distribute to clients who invoke your API.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/apis/{apiId}/apikeys",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#CreateApiKeyRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID for your GraphQL API.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the purpose of the API key.</p>"
          }
        },
        "expires": {
          "target": "com.amazonaws.appsync#Long",
          "traits": {
            "smithy.api#documentation": "<p>From the creation time, the time after which the API key expires. The date is\n         represented as seconds since the epoch, rounded down to the nearest hour. The default value\n         for this parameter is 7 days from creation time. For more information, see .</p>"
          }
        }
      }
    },
    "com.amazonaws.appsync#CreateApiKeyResponse": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "com.amazonaws.appsync#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p>The API key.</p>"
          }
        }
      }
    },
    "com.amazonaws.appsync#CreateDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#CreateDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#CreateDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        },
        {
          "target": "com.amazonaws.appsync#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>DataSource</code> object.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/apis/{apiId}/datasources",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#CreateDataSourceRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID for the GraphQL API for the <code>DataSource</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.appsync#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied name for the <code>DataSource</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the <code>DataSource</code>.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.appsync#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the <code>DataSource</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceRoleArn": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The Identity and Access Management (IAM) service role Amazon Resource Name (ARN)\n         for the data source. The system assumes this role when accessing the data source.</p>"
          }
        },
        "dynamodbConfig": {
          "target": "com.amazonaws.appsync#DynamodbDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Amazon DynamoDB settings.</p>"
          }
        },
        "lambdaConfig": {
          "target": "com.amazonaws.appsync#LambdaDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Lambda settings.</p>"
          }
        },
        "elasticsearchConfig": {
          "target": "com.amazonaws.appsync#ElasticsearchDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Amazon OpenSearch Service settings.</p>\n         <p>As of September 2021, Amazon Elasticsearch service is Amazon OpenSearch Service. This\n         configuration is deprecated. For new data sources, use <a>CreateDataSourceRequest$openSearchServiceConfig</a> to create an OpenSearch data source.</p>"
          }
        },
        "openSearchServiceConfig": {
          "target": "com.amazonaws.appsync#OpenSearchServiceDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Amazon OpenSearch Service settings.</p>"
          }
        },
        "httpConfig": {
          "target": "com.amazonaws.appsync#HttpDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>HTTP endpoint settings.</p>"
          }
        },
        "relationalDatabaseConfig": {
          "target": "com.amazonaws.appsync#RelationalDatabaseDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Relational database settings.</p>"
          }
        }
      }
    },
    "com.amazonaws.appsync#CreateDataSourceResponse": {
      "type": "structure",
      "members": {
        "dataSource": {
          "target": "com.amazonaws.appsync#DataSource",
          "traits": {
            "smithy.api#documentation": "<p>The <code>DataSource</code> object.</p>"
          }
        }
      }
    },
    "com.amazonaws.appsync#CreateDomainName": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#CreateDomainNameRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#CreateDomainNameResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a custom <code>DomainName</code> object.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/domainnames",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#CreateDomainNameRequest": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "com.amazonaws.appsync#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name.</p>",
            "smithy.api#required": {}
          }
        },
        "certificateArn": {
          "target": "com.amazonaws.appsync#CertificateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the certificate. This can be an Certificate Manager\n            (ACM) certificate or an Identity and Access Management (IAM)\n         server certificate.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.appsync#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the <code>DomainName</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.appsync#CreateDomainNameResponse": {
      "type": "structure",
      "members": {
        "domainNameConfig": {
          "target": "com.amazonaws.appsync#DomainNameConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the <code>DomainName</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.appsync#CreateFunction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#CreateFunctionRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#CreateFunctionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        },
        {
          "target": "com.amazonaws.appsync#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>Function</code> object.</p>\n         <p>A function is a reusable entity. You can use multiple functions to compose the resolver\n         logic.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/apis/{apiId}/functions",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#CreateFunctionRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The GraphQL API ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.appsync#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> name. The function name does not have to be unique.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> description.</p>"
          }
        },
        "dataSourceName": {
          "target": "com.amazonaws.appsync#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code>\n            <code>DataSource</code> name.</p>",
            "smithy.api#required": {}
          }
        },
        "requestMappingTemplate": {
          "target": "com.amazonaws.appsync#MappingTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> request mapping template. Functions support only the\n         2018-05-29 version of the request mapping template.</p>"
          }
        },
        "responseMappingTemplate": {
          "target": "com.amazonaws.appsync#MappingTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> response mapping template.</p>"
          }
        },
        "functionVersion": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>version</code> of the request mapping template. Currently, the supported value\n         is 2018-05-29.</p>",
            "smithy.api#required": {}
          }
        },
        "syncConfig": {
          "target": "com.amazonaws.appsync#SyncConfig"
        },
        "maxBatchSize": {
          "target": "com.amazonaws.appsync#MaxBatchSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum batching size for a resolver.</p>"
          }
        }
      }
    },
    "com.amazonaws.appsync#CreateFunctionResponse": {
      "type": "structure",
      "members": {
        "functionConfiguration": {
          "target": "com.amazonaws.appsync#FunctionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> object.</p>"
          }
        }
      }
    },
    "com.amazonaws.appsync#CreateGraphqlApi": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#CreateGraphqlApiRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#CreateGraphqlApiResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#ApiLimitExceededException"
        },
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#LimitExceededException"
        },
        {
          "target": "com.amazonaws.appsync#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>GraphqlApi</code> object.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/apis",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#CreateGraphqlApiRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied name for the <code>GraphqlApi</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "logConfig": {
          "target": "com.amazonaws.appsync#LogConfig",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon CloudWatch Logs configuration.</p>"
          }
        },
        "authenticationType": {
          "target": "com.amazonaws.appsync#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type: API key, Identity and Access Management (IAM), OpenID\n         Connect (OIDC), Amazon Cognito user pools, or Lambda.</p>",
            "smithy.api#required": {}
          }
        },
        "userPoolConfig": {
          "target": "com.amazonaws.appsync#UserPoolConfig",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Cognito user pool configuration.</p>"
          }
        },
        "openIDConnectConfig": {
          "target": "com.amazonaws.appsync#OpenIDConnectConfig",
          "traits": {
            "smithy.api#documentation": "<p>The OIDC configuration.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.appsync#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A <code>TagMap</code> object.</p>"
          }
        },
        "additionalAuthenticationProviders": {
          "target": "com.amazonaws.appsync#AdditionalAuthenticationProviders",
          "traits": {
            "smithy.api#documentation": "<p>A list of additional authentication providers for the <code>GraphqlApi</code>\n         API.</p>"
          }
        },
        "xrayEnabled": {
          "target": "com.amazonaws.appsync#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag indicating whether to use X-Ray tracing for the\n            <code>GraphqlApi</code>.</p>"
          }
        },
        "lambdaAuthorizerConfig": {
          "target": "com.amazonaws.appsync#LambdaAuthorizerConfig",
          "traits": {
            "smithy.api#documentation": "<p>Configuration for Lambda function authorization.</p>"
          }
        }
      }
    },
    "com.amazonaws.appsync#CreateGraphqlApiResponse": {
      "type": "structure",
      "members": {
        "graphqlApi": {
          "target": "com.amazonaws.appsync#GraphqlApi",
          "traits": {
            "smithy.api#documentation": "<p>The <code>GraphqlApi</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.appsync#CreateResolver": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#CreateResolverRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#CreateResolverResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        },
        {
          "target": "com.amazonaws.appsync#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>Resolver</code> object.</p>\n         <p>A resolver converts incoming requests into a format that a data source can understand,\n         and converts the data source's responses into GraphQL.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/apis/{apiId}/types/{typeName}/resolvers",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#CreateResolverRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the GraphQL API for which the resolver is being created.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "typeName": {
          "target": "com.amazonaws.appsync#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>Type</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "fieldName": {
          "target": "com.amazonaws.appsync#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field to attach the resolver to.</p>",
            "smithy.api#required": {}
          }
        },
        "dataSourceName": {
          "target": "com.amazonaws.appsync#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source for which the resolver is being created.</p>"
          }
        },
        "requestMappingTemplate": {
          "target": "com.amazonaws.appsync#MappingTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The mapping template to use for requests.</p>\n         <p>A resolver uses a request mapping template to convert a GraphQL expression into a format\n         that a data source can understand. Mapping templates are written in Apache Velocity\n         Template Language (VTL).</p>\n         <p>VTL request mapping templates are optional when using an Lambda data\n         source. For all other data sources, VTL request and response mapping templates are\n         required.</p>"
          }
        },
        "responseMappingTemplate": {
          "target": "com.amazonaws.appsync#MappingTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The mapping template to use for responses from the data source.</p>"
          }
        },
        "kind": {
          "target": "com.amazonaws.appsync#ResolverKind",
          "traits": {
            "smithy.api#documentation": "<p>The resolver type.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>UNIT</b>: A UNIT resolver type. A UNIT resolver is\n               the default resolver type. You can use a UNIT resolver to run a GraphQL query against\n               a single data source.</p>\n            </li>\n            <li>\n               <p>\n                  <b>PIPELINE</b>: A PIPELINE resolver type. You can\n               use a PIPELINE resolver to invoke a series of <code>Function</code> objects in a\n               serial manner. You can use a pipeline resolver to run a GraphQL query against\n               multiple data sources.</p>\n            </li>\n         </ul>"
          }
        },
        "pipelineConfig": {
          "target": "com.amazonaws.appsync#PipelineConfig",
          "traits": {
            "smithy.api#documentation": "<p>The <code>PipelineConfig</code>.</p>"
          }
        },
        "syncConfig": {
          "target": "com.amazonaws.appsync#SyncConfig",
          "traits": {
            "smithy.api#documentation": "<p>The <code>SyncConfig</code> for a resolver attached to a versioned data source.</p>"
          }
        },
        "cachingConfig": {
          "target": "com.amazonaws.appsync#CachingConfig",
          "traits": {
            "smithy.api#documentation": "<p>The caching configuration for the resolver.</p>"
          }
        },
        "maxBatchSize": {
          "target": "com.amazonaws.appsync#MaxBatchSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum batching size for a resolver.</p>"
          }
        }
      }
    },
    "com.amazonaws.appsync#CreateResolverResponse": {
      "type": "structure",
      "members": {
        "resolver": {
          "target": "com.amazonaws.appsync#Resolver",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Resolver</code> object.</p>"
          }
        }
      }
    },
    "com.amazonaws.appsync#CreateType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#CreateTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#CreateTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        },
        {
          "target": "com.amazonaws.appsync#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>Type</code> object.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/apis/{apiId}/types",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#CreateTypeRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "definition": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The type definition, in GraphQL Schema Definition Language (SDL) format.</p>\n         <p>For more information, see the <a href=\"http://graphql.org/learn/schema/\">GraphQL SDL\n            documentation</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.amazonaws.appsync#TypeDefinitionFormat",
          "traits": {
            "smithy.api#documentation": "<p>The type format: SDL or JSON.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appsync#CreateTypeResponse": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.appsync#Type",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Type</code> object.</p>"
          }
        }
      }
    },
    "com.amazonaws.appsync#DataSource": {
      "type": "structure",
      "members": {
        "dataSourceArn": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The data source Amazon Resource Name (ARN).</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.appsync#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the data source.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.appsync#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data source.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>AWS_LAMBDA</b>: The data source is an Lambda function.</p>\n            </li>\n            <li>\n               <p>\n                  <b>AMAZON_DYNAMODB</b>: The data source is an Amazon DynamoDB table.</p>\n            </li>\n            <li>\n               <p>\n                  <b>AMAZON_ELASTICSEARCH</b>: The data source is an\n                  Amazon OpenSearch Service domain.</p>\n            </li>\n            <li>\n               <p>\n                  <b>AMAZON_OPENSEARCH_SERVICE</b>: The data source is\n               an Amazon OpenSearch Service domain.</p>\n            </li>\n            <li>\n               <p>\n                  <b>NONE</b>: There is no data source. Use this type\n               when you want to invoke a GraphQL operation without connecting to a data source, such\n               as when you're performing data transformation with resolvers or invoking a\n               subscription from a mutation.</p>\n            </li>\n            <li>\n               <p>\n                  <b>HTTP</b>: The data source is an HTTP\n               endpoint.</p>\n            </li>\n            <li>\n               <p>\n                  <b>RELATIONAL_DATABASE</b>: The data source is a\n               relational database.</p>\n            </li>\n         </ul>"
          }
        },
        "serviceRoleArn": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The Identity and Access Management (IAM) service role Amazon Resource Name (ARN)\n         for the data source. The system assumes this role when accessing the data source.</p>"
          }
        },
        "dynamodbConfig": {
          "target": "com.amazonaws.appsync#DynamodbDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>DynamoDB settings.</p>"
          }
        },
        "lambdaConfig": {
          "target": "com.amazonaws.appsync#LambdaDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Lambda settings.</p>"
          }
        },
        "elasticsearchConfig": {
          "target": "com.amazonaws.appsync#ElasticsearchDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Amazon OpenSearch Service settings.</p>"
          }
        },
        "openSearchServiceConfig": {
          "target": "com.amazonaws.appsync#OpenSearchServiceDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Amazon OpenSearch Service settings.</p>"
          }
        },
        "httpConfig": {
          "target": "com.amazonaws.appsync#HttpDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>HTTP endpoint settings.</p>"
          }
        },
        "relationalDatabaseConfig": {
          "target": "com.amazonaws.appsync#RelationalDatabaseDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Relational database settings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a data source.</p>"
      }
    },
    "com.amazonaws.appsync#DataSourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AWS_LAMBDA",
            "name": "AWS_LAMBDA"
          },
          {
            "value": "AMAZON_DYNAMODB",
            "name": "AMAZON_DYNAMODB"
          },
          {
            "value": "AMAZON_ELASTICSEARCH",
            "name": "AMAZON_ELASTICSEARCH"
          },
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "HTTP",
            "name": "HTTP"
          },
          {
            "value": "RELATIONAL_DATABASE",
            "name": "RELATIONAL_DATABASE"
          },
          {
            "value": "AMAZON_OPENSEARCH_SERVICE",
            "name": "AMAZON_OPENSEARCH_SERVICE"
          }
        ]
      }
    },
    "com.amazonaws.appsync#DataSources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appsync#DataSource"
      }
    },
    "com.amazonaws.appsync#DefaultAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALLOW",
            "name": "ALLOW"
          },
          {
            "value": "DENY",
            "name": "DENY"
          }
        ]
      }
    },
    "com.amazonaws.appsync#DeleteApiCache": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#DeleteApiCacheRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#DeleteApiCacheResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        },
        {
          "target": "com.amazonaws.appsync#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an <code>ApiCache</code> object.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/apis/{apiId}/ApiCaches",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#DeleteApiCacheRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>DeleteApiCache</code> operation.</p>"
      }
    },
    "com.amazonaws.appsync#DeleteApiCacheResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DeleteApiCache</code> operation.</p>"
      }
    },
    "com.amazonaws.appsync#DeleteApiKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#DeleteApiKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#DeleteApiKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        },
        {
          "target": "com.amazonaws.appsync#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an API key.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/apis/{apiId}/apikeys/{id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#DeleteApiKeyRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the API key.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appsync#DeleteApiKeyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appsync#DeleteDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#DeleteDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#DeleteDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        },
        {
          "target": "com.amazonaws.appsync#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a <code>DataSource</code> object.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/apis/{apiId}/datasources/{name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#DeleteDataSourceRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.appsync#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appsync#DeleteDataSourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appsync#DeleteDomainName": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#DeleteDomainNameRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#DeleteDomainNameResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a custom <code>DomainName</code> object.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/domainnames/{domainName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#DeleteDomainNameRequest": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "com.amazonaws.appsync#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appsync#DeleteDomainNameResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appsync#DeleteFunction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#DeleteFunctionRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#DeleteFunctionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        },
        {
          "target": "com.amazonaws.appsync#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a <code>Function</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/apis/{apiId}/functions/{functionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#DeleteFunctionRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The GraphQL API ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "functionId": {
          "target": "com.amazonaws.appsync#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appsync#DeleteFunctionResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appsync#DeleteGraphqlApi": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#DeleteGraphqlApiRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#DeleteGraphqlApiResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        },
        {
          "target": "com.amazonaws.appsync#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a <code>GraphqlApi</code> object.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/apis/{apiId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#DeleteGraphqlApiRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appsync#DeleteGraphqlApiResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appsync#DeleteResolver": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#DeleteResolverRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#DeleteResolverResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        },
        {
          "target": "com.amazonaws.appsync#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a <code>Resolver</code> object.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/apis/{apiId}/types/{typeName}/resolvers/{fieldName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#DeleteResolverRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "typeName": {
          "target": "com.amazonaws.appsync#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resolver type.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "fieldName": {
          "target": "com.amazonaws.appsync#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The resolver field name.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appsync#DeleteResolverResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appsync#DeleteType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#DeleteTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#DeleteTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        },
        {
          "target": "com.amazonaws.appsync#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a <code>Type</code> object.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/apis/{apiId}/types/{typeName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#DeleteTypeRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "typeName": {
          "target": "com.amazonaws.appsync#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The type name.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appsync#DeleteTypeResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appsync#DeltaSyncConfig": {
      "type": "structure",
      "members": {
        "baseTableTTL": {
          "target": "com.amazonaws.appsync#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of minutes that an Item is stored in the data source.</p>"
          }
        },
        "deltaSyncTableName": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The Delta Sync table name.</p>"
          }
        },
        "deltaSyncTableTTL": {
          "target": "com.amazonaws.appsync#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of minutes that a Delta Sync log entry is stored in the Delta Sync\n         table.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a Delta Sync configuration.</p>"
      }
    },
    "com.amazonaws.appsync#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.appsync#DisassociateApi": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#DisassociateApiRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#DisassociateApiResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes an <code>ApiAssociation</code> object from a custom domain.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/domainnames/{domainName}/apiassociation",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#DisassociateApiRequest": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "com.amazonaws.appsync#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appsync#DisassociateApiResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.appsync#DomainName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 253
        },
        "smithy.api#pattern": "^(\\*[\\w\\d-]*\\.)?([\\w\\d-]+\\.)+[\\w\\d-]+$"
      }
    },
    "com.amazonaws.appsync#DomainNameConfig": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "com.amazonaws.appsync#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.appsync#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the <code>DomainName</code> configuration.</p>"
          }
        },
        "certificateArn": {
          "target": "com.amazonaws.appsync#CertificateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the certificate. This can be an Certificate Manager\n            (ACM) certificate or an Identity and Access Management (IAM)\n         server certificate.</p>"
          }
        },
        "appsyncDomainName": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The domain name that AppSync provides.</p>"
          }
        },
        "hostedZoneId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of your Amazon Route 53 hosted zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a configuration for a custom domain.</p>"
      }
    },
    "com.amazonaws.appsync#DomainNameConfigs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appsync#DomainNameConfig"
      }
    },
    "com.amazonaws.appsync#DynamodbDataSourceConfig": {
      "type": "structure",
      "members": {
        "tableName": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The table name.</p>",
            "smithy.api#required": {}
          }
        },
        "awsRegion": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region.</p>",
            "smithy.api#required": {}
          }
        },
        "useCallerCredentials": {
          "target": "com.amazonaws.appsync#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to TRUE to use Amazon Cognito credentials with this data source.</p>"
          }
        },
        "deltaSyncConfig": {
          "target": "com.amazonaws.appsync#DeltaSyncConfig",
          "traits": {
            "smithy.api#documentation": "<p>The <code>DeltaSyncConfig</code> for a versioned data source.</p>"
          }
        },
        "versioned": {
          "target": "com.amazonaws.appsync#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to TRUE to use Conflict Detection and Resolution with this data source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Amazon DynamoDB data source configuration.</p>"
      }
    },
    "com.amazonaws.appsync#ElasticsearchDataSourceConfig": {
      "type": "structure",
      "members": {
        "endpoint": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "awsRegion": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an OpenSearch data source configuration.</p>\n         <p>As of September 2021, Amazon Elasticsearch service is Amazon OpenSearch Service. This\n         configuration is deprecated. For new data sources, use <a>OpenSearchServiceDataSourceConfig</a> to specify an OpenSearch data\n         source.</p>"
      }
    },
    "com.amazonaws.appsync#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.appsync#FieldLogLevel": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          },
          {
            "value": "ALL",
            "name": "ALL"
          }
        ]
      }
    },
    "com.amazonaws.appsync#FlushApiCache": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#FlushApiCacheRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#FlushApiCacheResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        },
        {
          "target": "com.amazonaws.appsync#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Flushes an <code>ApiCache</code> object.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/apis/{apiId}/FlushCache",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#FlushApiCacheRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>FlushApiCache</code> operation.</p>"
      }
    },
    "com.amazonaws.appsync#FlushApiCacheResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>FlushApiCache</code> operation.</p>"
      }
    },
    "com.amazonaws.appsync#FunctionConfiguration": {
      "type": "structure",
      "members": {
        "functionId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique ID representing the <code>Function</code> object.</p>"
          }
        },
        "functionArn": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>Function</code> object.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.appsync#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>Function</code> object.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> description.</p>"
          }
        },
        "dataSourceName": {
          "target": "com.amazonaws.appsync#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>DataSource</code>.</p>"
          }
        },
        "requestMappingTemplate": {
          "target": "com.amazonaws.appsync#MappingTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> request mapping template. Functions support only the\n         2018-05-29 version of the request mapping template.</p>"
          }
        },
        "responseMappingTemplate": {
          "target": "com.amazonaws.appsync#MappingTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The <code>Function</code> response mapping template.</p>"
          }
        },
        "functionVersion": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the request mapping template. Currently, only the 2018-05-29 version of\n         the template is supported.</p>"
          }
        },
        "syncConfig": {
          "target": "com.amazonaws.appsync#SyncConfig"
        },
        "maxBatchSize": {
          "target": "com.amazonaws.appsync#MaxBatchSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum batching size for a resolver.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A function is a reusable entity. You can use multiple functions to compose the resolver\n         logic.</p>"
      }
    },
    "com.amazonaws.appsync#Functions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appsync#FunctionConfiguration"
      }
    },
    "com.amazonaws.appsync#FunctionsIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.appsync#String"
      }
    },
    "com.amazonaws.appsync#GetApiAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#GetApiAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#GetApiAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves an <code>ApiAssociation</code> object.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domainnames/{domainName}/apiassociation",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#GetApiAssociationRequest": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "com.amazonaws.appsync#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appsync#GetApiAssociationResponse": {
      "type": "structure",
      "members": {
        "apiAssociation": {
          "target": "com.amazonaws.appsync#ApiAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ApiAssociation</code> object.</p>"
          }
        }
      }
    },
    "com.amazonaws.appsync#GetApiCache": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#GetApiCacheRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#GetApiCacheResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        },
        {
          "target": "com.amazonaws.appsync#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves an <code>ApiCache</code> object.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/apis/{apiId}/ApiCaches",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#GetApiCacheRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a <code>GetApiCache</code> operation.</p>"
      }
    },
    "com.amazonaws.appsync#GetApiCacheResponse": {
      "type": "structure",
      "members": {
        "apiCache": {
          "target": "com.amazonaws.appsync#ApiCache",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ApiCache</code> object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>GetApiCache</code> operation.</p>"
      }
    },
    "com.amazonaws.appsync#GetDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#GetDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#GetDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        },
        {
          "target": "com.amazonaws.appsync#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a <code>DataSource</code> object.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/apis/{apiId}/datasources/{name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#GetDataSourceRequest": {
      "type": "structure",
      "members": {
        "apiId": {
          "target": "com.amazonaws.appsync#String",
          "traits": {
            "smithy.api#documentation": "<p>The API ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.appsync#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appsync#GetDataSourceResponse": {
      "type": "structure",
      "members": {
        "dataSource": {
          "target": "com.amazonaws.appsync#DataSource",
          "traits": {
            "smithy.api#documentation": "<p>The <code>DataSource</code> object.</p>"
          }
        }
      }
    },
    "com.amazonaws.appsync#GetDomainName": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#GetDomainNameRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#GetDomainNameResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.appsync#BadRequestException"
        },
        {
          "target": "com.amazonaws.appsync#InternalFailureException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a custom <code>DomainName</code> object.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/domainnames/{domainName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.appsync#GetDomainNameRequest": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "com.amazonaws.appsync#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.appsync#GetDomainNameResponse": {
      "type": "structure",
      "members": {
        "domainNameConfig": {
          "target": "com.amazonaws.appsync#DomainNameConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the <code>DomainName</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.appsync#GetFunction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.appsync#GetFunctionRequest"
      },
      "output": {
        "target": "com.amazonaws.appsync#GetFunctionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.appsync#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.appsync#NotFoundException"
        },
        {
          "target": "com.amazonaws.appsync#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get a <code>Function</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/apis/{apiId}/functions/{functionId}",
          "code": 200
        }
      }
    },
[...]
