{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.apptest#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The account or role doesn't have the right permissions to make the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.apptest#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-iso|aws-iso-[a-z]{1}|aws-us-gov):[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:([a-z]{2}-((iso[a-z]{0,1}-)|(gov-)){0,1}[a-z]+-[0-9]):[0-9]{12}:[A-Za-z0-9/][A-Za-z0-9:_/+=,@.-]{0,1023}$"
      }
    },
    "com.amazonaws.apptest#AwsApptestControlPlaneService": {
      "type": "service",
      "version": "2022-12-06",
      "operations": [
        {
          "target": "com.amazonaws.apptest#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.apptest#TagResource"
        },
        {
          "target": "com.amazonaws.apptest#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.apptest#TestCase"
        },
        {
          "target": "com.amazonaws.apptest#TestConfiguration"
        },
        {
          "target": "com.amazonaws.apptest#TestRun"
        },
        {
          "target": "com.amazonaws.apptest#TestSuite"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "AppTest",
          "cloudFormationName": "AppTest",
          "cloudTrailEventSource": "apptest.amazonaws.com",
          "arnNamespace": "apptest",
          "endpointPrefix": "apptest"
        },
        "aws.auth#sigv4": {
          "name": "apptest"
        },
        "aws.iam#defineConditionKeys": {
          "aws:ResourceTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by a tag key and value pair of a resource",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-resourcetag"
          },
          "aws:RequestTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by a tag key and value pair that is allowed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
          },
          "aws:TagKeys": {
            "type": "ArrayOfString",
            "documentation": "Filters access by a list of tag keys that are allowed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-tagkeys"
          }
        },
        "aws.iam#supportedPrincipalTypes": ["Root", "IAMUser", "IAMRole", "FederatedUser"],
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*,authorization,date,x-amz-date,x-amz-security-token,x-amz-target,content-type,x-amz-content-sha256,x-amz-user-agent,x-amzn-platform-id,x-amzn-trace-id,amz-sdk-invocation-id,amz-sdk-request"
          ]
        },
        "smithy.api#documentation": "<p>AWS Mainframe Modernization Application Testing provides tools and resources for automated functional equivalence testing for your migration projects.</p>",
        "smithy.api#title": "AWS Mainframe Modernization Application Testing",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://apptest-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://apptest-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://apptest.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://apptest.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://apptest-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apptest-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://apptest.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apptest.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://apptest-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apptest-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://apptest.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apptest.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://apptest-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apptest-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://apptest.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apptest.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apptest-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apptest.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apptest-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://apptest.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.apptest#Batch": {
      "type": "structure",
      "members": {
        "batchJobName": {
          "target": "com.amazonaws.apptest#Variable",
          "traits": {
            "smithy.api#documentation": "<p>The job name of the batch.</p>",
            "smithy.api#required": {}
          }
        },
        "batchJobParameters": {
          "target": "com.amazonaws.apptest#BatchJobParameters",
          "traits": {
            "smithy.api#documentation": "<p>The batch job parameters of the batch.</p>"
          }
        },
        "exportDataSetNames": {
          "target": "com.amazonaws.apptest#ExportDataSetNames",
          "traits": {
            "smithy.api#documentation": "<p>The export data set names of the batch.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a batch.</p>"
      }
    },
    "com.amazonaws.apptest#BatchJobParameters": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.apptest#BatchStepInput": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.amazonaws.apptest#MainframeResourceSummary",
          "traits": {
            "smithy.api#documentation": "<p>The resource of the batch step input.</p>",
            "smithy.api#required": {}
          }
        },
        "batchJobName": {
          "target": "com.amazonaws.apptest#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The batch job name of the batch step input.</p>",
            "smithy.api#required": {}
          }
        },
        "batchJobParameters": {
          "target": "com.amazonaws.apptest#BatchJobParameters",
          "traits": {
            "smithy.api#documentation": "<p>The batch job parameters of the batch step input.</p>"
          }
        },
        "exportDataSetNames": {
          "target": "com.amazonaws.apptest#ExportDataSetNames",
          "traits": {
            "smithy.api#documentation": "<p>The export data set names of the batch step input.</p>"
          }
        },
        "properties": {
          "target": "com.amazonaws.apptest#MainframeActionProperties",
          "traits": {
            "smithy.api#documentation": "<p>The properties of the batch step input.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a batch step input.</p>"
      }
    },
    "com.amazonaws.apptest#BatchStepOutput": {
      "type": "structure",
      "members": {
        "dataSetExportLocation": {
          "target": "com.amazonaws.apptest#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The data set export location of the batch step output.</p>"
          }
        },
        "dmsOutputLocation": {
          "target": "com.amazonaws.apptest#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Database Migration Service (DMS) output location of the batch step output.</p>"
          }
        },
        "dataSetDetails": {
          "target": "com.amazonaws.apptest#DataSetList",
          "traits": {
            "smithy.api#documentation": "<p>The data set details of the batch step output.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a batch step output.</p>"
      }
    },
    "com.amazonaws.apptest#BatchSummary": {
      "type": "structure",
      "members": {
        "stepInput": {
          "target": "com.amazonaws.apptest#BatchStepInput",
          "traits": {
            "smithy.api#documentation": "<p>The step input of the batch summary.</p>",
            "smithy.api#required": {}
          }
        },
        "stepOutput": {
          "target": "com.amazonaws.apptest#BatchStepOutput",
          "traits": {
            "smithy.api#documentation": "<p>The step output of the batch summary.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summarizes a batch job.</p>"
      }
    },
    "com.amazonaws.apptest#CaptureTool": {
      "type": "enum",
      "members": {
        "PRECISELY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Precisely"
          }
        },
        "AWS_DMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS DMS"
          }
        }
      }
    },
    "com.amazonaws.apptest#CloudFormation": {
      "type": "structure",
      "members": {
        "templateLocation": {
          "target": "com.amazonaws.apptest#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The template location of the CloudFormation template.</p>",
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "com.amazonaws.apptest#Properties",
          "traits": {
            "smithy.api#documentation": "<p>The CloudFormation properties in the CloudFormation template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the CloudFormation template and its parameters.</p>"
      }
    },
    "com.amazonaws.apptest#CloudFormationAction": {
      "type": "structure",
      "members": {
        "resource": {
          "target": "com.amazonaws.apptest#Variable",
          "traits": {
            "smithy.api#documentation": "<p>The resource of the CloudFormation action.</p>",
            "smithy.api#required": {}
          }
        },
        "actionType": {
          "target": "com.amazonaws.apptest#CloudFormationActionType",
          "traits": {
            "smithy.api#documentation": "<p>The action type of the CloudFormation action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the CloudFormation action.</p>"
      }
    },
    "com.amazonaws.apptest#CloudFormationActionType": {
      "type": "enum",
      "members": {
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Create"
          }
        },
        "DELETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delete"
          }
        }
      }
    },
    "com.amazonaws.apptest#CloudFormationStepSummary": {
      "type": "union",
      "members": {
        "createCloudformation": {
          "target": "com.amazonaws.apptest#CreateCloudFormationSummary",
          "traits": {
            "smithy.api#documentation": "<p>Creates the CloudFormation summary of the step.</p>"
          }
        },
        "deleteCloudformation": {
          "target": "com.amazonaws.apptest#DeleteCloudFormationSummary",
          "traits": {
            "smithy.api#documentation": "<p>Deletes the CloudFormation summary of the CloudFormation step summary.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the CloudFormation step summary.</p>"
      }
    },
    "com.amazonaws.apptest#CompareAction": {
      "type": "structure",
      "members": {
        "input": {
          "target": "com.amazonaws.apptest#Input",
          "traits": {
            "smithy.api#documentation": "<p>The input of the compare action.</p>",
            "smithy.api#required": {}
          }
        },
        "output": {
          "target": "com.amazonaws.apptest#Output",
          "traits": {
            "smithy.api#documentation": "<p>The output of the compare action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Compares the action.</p>"
      }
    },
    "com.amazonaws.apptest#CompareActionSummary": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.apptest#File",
          "traits": {
            "smithy.api#documentation": "<p>The type of the compare action summary.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the compare action summary.</p>"
      }
    },
    "com.amazonaws.apptest#CompareDataSetsStepInput": {
      "type": "structure",
      "members": {
        "sourceLocation": {
          "target": "com.amazonaws.apptest#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The source location of the compare data sets step input location.</p>",
            "smithy.api#required": {}
          }
        },
        "targetLocation": {
          "target": "com.amazonaws.apptest#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The target location of the compare data sets step input location.</p>",
            "smithy.api#required": {}
          }
        },
        "sourceDataSets": {
          "target": "com.amazonaws.apptest#DataSetList",
          "traits": {
            "smithy.api#documentation": "<p>The source data sets of the compare data sets step input location.</p>",
            "smithy.api#required": {}
          }
        },
        "targetDataSets": {
          "target": "com.amazonaws.apptest#DataSetList",
          "traits": {
            "smithy.api#documentation": "<p>The target data sets of the compare data sets step input location.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the compare data sets step input.</p>"
      }
    },
    "com.amazonaws.apptest#CompareDataSetsStepOutput": {
      "type": "structure",
      "members": {
        "comparisonOutputLocation": {
          "target": "com.amazonaws.apptest#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The comparison output location of the compare data sets step output.</p>",
            "smithy.api#required": {}
          }
        },
        "comparisonStatus": {
          "target": "com.amazonaws.apptest#ComparisonStatusEnum",
          "traits": {
            "smithy.api#documentation": "<p>The comparison status of the compare data sets step output.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the compare data sets step output.</p>"
      }
    },
    "com.amazonaws.apptest#CompareDataSetsSummary": {
      "type": "structure",
      "members": {
        "stepInput": {
          "target": "com.amazonaws.apptest#CompareDataSetsStepInput",
          "traits": {
            "smithy.api#documentation": "<p>The step input of the compare data sets summary.</p>",
            "smithy.api#required": {}
          }
        },
        "stepOutput": {
          "target": "com.amazonaws.apptest#CompareDataSetsStepOutput",
          "traits": {
            "smithy.api#documentation": "<p>The step output of the compare data sets summary.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Compares data sets summary.</p>"
      }
    },
    "com.amazonaws.apptest#CompareDatabaseCDCStepInput": {
      "type": "structure",
      "members": {
        "sourceLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The source location of the compare database CDC step input.</p>",
            "smithy.api#required": {}
          }
        },
        "targetLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The target location of the compare database CDC step input.</p>",
            "smithy.api#required": {}
          }
        },
        "outputLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The output location of the compare database CDC step input.</p>"
          }
        },
        "sourceMetadata": {
          "target": "com.amazonaws.apptest#SourceDatabaseMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The source metadata of the compare database CDC step input.</p>",
            "smithy.api#required": {}
          }
        },
        "targetMetadata": {
          "target": "com.amazonaws.apptest#TargetDatabaseMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The target metadata location of the compare database CDC step input.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Compares the database Change Data Capture (CDC) step input.</p>"
      }
    },
    "com.amazonaws.apptest#CompareDatabaseCDCStepOutput": {
      "type": "structure",
      "members": {
        "comparisonOutputLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The comparison output of the compare database CDC step output.</p>",
            "smithy.api#required": {}
          }
        },
        "comparisonStatus": {
          "target": "com.amazonaws.apptest#ComparisonStatusEnum",
          "traits": {
            "smithy.api#documentation": "<p>The comparison status of the compare database CDC step output.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Compares the database CDC step output.</p>"
      }
    },
    "com.amazonaws.apptest#CompareDatabaseCDCSummary": {
      "type": "structure",
      "members": {
        "stepInput": {
          "target": "com.amazonaws.apptest#CompareDatabaseCDCStepInput",
          "traits": {
            "smithy.api#documentation": "<p>The step input of the compare database CDC summary.</p>",
            "smithy.api#required": {}
          }
        },
        "stepOutput": {
          "target": "com.amazonaws.apptest#CompareDatabaseCDCStepOutput",
          "traits": {
            "smithy.api#documentation": "<p>The step output of the compare database CDC summary.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Compares the database CDC summary.</p>"
      }
    },
    "com.amazonaws.apptest#CompareFileType": {
      "type": "union",
      "members": {
        "datasets": {
          "target": "com.amazonaws.apptest#CompareDataSetsSummary",
          "traits": {
            "smithy.api#documentation": "<p>The data sets in the compare file type.</p>"
          }
        },
        "databaseCDC": {
          "target": "com.amazonaws.apptest#CompareDatabaseCDCSummary",
          "traits": {
            "smithy.api#documentation": "<p>The database CDC of the compare file type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Compares the file type.</p>"
      }
    },
    "com.amazonaws.apptest#ComparisonStatusEnum": {
      "type": "enum",
      "members": {
        "DIFFERENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Different"
          }
        },
        "EQUIVALENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Equivalent"
          }
        },
        "EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Equal"
          }
        }
      }
    },
    "com.amazonaws.apptest#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID of the conflicts with existing resources.</p>"
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type of the conflicts with existing resources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters provided in the request conflict with existing resources.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.apptest#CreateCloudFormationStepInput": {
      "type": "structure",
      "members": {
        "templateLocation": {
          "target": "com.amazonaws.apptest#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The template location of the CloudFormation step input.</p>",
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "com.amazonaws.apptest#Properties",
          "traits": {
            "smithy.api#documentation": "<p>The CloudFormation properties of the CloudFormation step input.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates the CloudFormation step input.</p>"
      }
    },
    "com.amazonaws.apptest#CreateCloudFormationStepOutput": {
      "type": "structure",
      "members": {
        "stackId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The stack ID of the CloudFormation step output.</p>",
            "smithy.api#required": {}
          }
        },
        "exports": {
          "target": "com.amazonaws.apptest#Properties",
          "traits": {
            "smithy.api#documentation": "<p>The exports of the CloudFormation step output.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a CloudFormation step output.</p>"
      }
    },
    "com.amazonaws.apptest#CreateCloudFormationSummary": {
      "type": "structure",
      "members": {
        "stepInput": {
          "target": "com.amazonaws.apptest#CreateCloudFormationStepInput",
          "traits": {
            "smithy.api#documentation": "<p>The step input of the CloudFormation summary.</p>",
            "smithy.api#required": {}
          }
        },
        "stepOutput": {
          "target": "com.amazonaws.apptest#CreateCloudFormationStepOutput",
          "traits": {
            "smithy.api#documentation": "<p>The step output of the CloudFormation summary.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a CloudFormation summary.</p>"
      }
    },
    "com.amazonaws.apptest#CreateTestCase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apptest#CreateTestCaseRequest"
      },
      "output": {
        "target": "com.amazonaws.apptest#CreateTestCaseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apptest#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.apptest#ConflictException"
        },
        {
          "target": "com.amazonaws.apptest#InternalServerException"
        },
        {
          "target": "com.amazonaws.apptest#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.apptest#ThrottlingException"
        },
        {
          "target": "com.amazonaws.apptest#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "aws.iam#iamAction": {
          "name": "CreateTestCase",
          "documentation": "Grants permission to create a test case",
          "createsResources": ["TestCase"]
        },
        "smithy.api#documentation": "<p>Creates a test case.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/testcase",
          "code": 201
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.apptest#CreateTestCaseRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.apptest#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the test case.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.apptest#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the test case.</p>"
          }
        },
        "steps": {
          "target": "com.amazonaws.apptest#StepList",
          "traits": {
            "smithy.api#documentation": "<p>The steps in the test case.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.apptest#IdempotencyTokenString",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The client token of the test case.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.apptest#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The specified tags of the test case.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.apptest#CreateTestCaseResponse": {
      "type": "structure",
      "members": {
        "testCaseId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The test case ID of the test case.</p>",
            "smithy.api#required": {}
          }
        },
        "testCaseVersion": {
          "target": "com.amazonaws.apptest#Version",
          "traits": {
            "smithy.api#documentation": "<p>The test case version of the test case.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.apptest#CreateTestConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apptest#CreateTestConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.apptest#CreateTestConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apptest#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.apptest#ConflictException"
        },
        {
          "target": "com.amazonaws.apptest#InternalServerException"
        },
        {
          "target": "com.amazonaws.apptest#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.apptest#ThrottlingException"
        },
        {
          "target": "com.amazonaws.apptest#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "aws.iam#iamAction": {
          "name": "CreateTestConfiguration",
          "documentation": "Grants permission to create a test configuration",
          "createsResources": ["TestConfiguration"]
        },
        "smithy.api#documentation": "<p>Creates a test configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/testconfiguration",
          "code": 201
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.apptest#CreateTestConfigurationRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.apptest#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the test configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.apptest#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the test configuration.</p>"
          }
        },
        "resources": {
          "target": "com.amazonaws.apptest#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>The defined resources of the test configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.amazonaws.apptest#Properties",
          "traits": {
            "smithy.api#documentation": "<p>The properties of the test configuration.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.apptest#IdempotencyTokenString",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The client token of the test configuration.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.apptest#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the test configuration.</p>"
          }
        },
        "serviceSettings": {
          "target": "com.amazonaws.apptest#ServiceSettings",
          "traits": {
            "smithy.api#documentation": "<p>The service settings of the test configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.apptest#CreateTestConfigurationResponse": {
      "type": "structure",
      "members": {
        "testConfigurationId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The test configuration ID.</p>",
            "smithy.api#required": {}
          }
        },
        "testConfigurationVersion": {
          "target": "com.amazonaws.apptest#Version",
          "traits": {
            "smithy.api#documentation": "<p>The test configuration version.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.apptest#CreateTestSuite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apptest#CreateTestSuiteRequest"
      },
      "output": {
        "target": "com.amazonaws.apptest#CreateTestSuiteResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apptest#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.apptest#ConflictException"
        },
        {
          "target": "com.amazonaws.apptest#InternalServerException"
        },
        {
          "target": "com.amazonaws.apptest#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.apptest#ThrottlingException"
        },
        {
          "target": "com.amazonaws.apptest#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "aws.iam#iamAction": {
          "name": "CreateTestSuite",
          "documentation": "Grants permission to create a test suite",
          "createsResources": ["TestSuite"]
        },
        "smithy.api#documentation": "<p>Creates a test suite.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/testsuite",
          "code": 201
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.apptest#CreateTestSuiteRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.apptest#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the test suite.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.apptest#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the test suite.</p>"
          }
        },
        "beforeSteps": {
          "target": "com.amazonaws.apptest#StepList",
          "traits": {
            "smithy.api#documentation": "<p>The before steps of the test suite.</p>"
          }
        },
        "afterSteps": {
          "target": "com.amazonaws.apptest#StepList",
          "traits": {
            "smithy.api#documentation": "<p>The after steps of the test suite.</p>"
          }
        },
        "testCases": {
          "target": "com.amazonaws.apptest#TestCases",
          "traits": {
            "smithy.api#documentation": "<p>The test cases in the test suite.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.apptest#IdempotencyTokenString",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The client token of the test suite.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.apptest#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the test suite.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.apptest#CreateTestSuiteResponse": {
      "type": "structure",
      "members": {
        "testSuiteId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The suite ID of the test suite.</p>",
            "smithy.api#required": {}
          }
        },
        "testSuiteVersion": {
          "target": "com.amazonaws.apptest#Version",
          "traits": {
            "smithy.api#documentation": "<p>The suite version of the test suite.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.apptest#DataSet": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.apptest#DataSetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data set.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.apptest#String100",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data set.</p>",
            "smithy.api#required": {}
          }
        },
        "ccsid": {
          "target": "com.amazonaws.apptest#String50",
          "traits": {
            "smithy.api#documentation": "<p>The CCSID of the data set.</p>",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.amazonaws.apptest#Format",
          "traits": {
            "smithy.api#documentation": "<p>The format of the data set.</p>",
            "smithy.api#required": {}
          }
        },
        "length": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The length of the data set.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a data set.</p>"
      }
    },
    "com.amazonaws.apptest#DataSetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.apptest#DataSet"
      }
    },
    "com.amazonaws.apptest#DataSetType": {
      "type": "enum",
      "members": {
        "PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS"
          }
        }
      }
    },
    "com.amazonaws.apptest#DatabaseCDC": {
      "type": "structure",
      "members": {
        "sourceMetadata": {
          "target": "com.amazonaws.apptest#SourceDatabaseMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The source metadata of the database CDC.</p>",
            "smithy.api#required": {}
          }
        },
        "targetMetadata": {
          "target": "com.amazonaws.apptest#TargetDatabaseMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The target metadata of the database CDC.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the Change Data Capture (CDC) of the database.</p>"
      }
    },
    "com.amazonaws.apptest#DeleteCloudFormationStepInput": {
      "type": "structure",
      "members": {
        "stackId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The stack ID of the deleted CloudFormation step input.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes the CloudFormation step input.</p>"
      }
    },
    "com.amazonaws.apptest#DeleteCloudFormationStepOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Deletes the CloudFormation summary step output.</p>"
      }
    },
    "com.amazonaws.apptest#DeleteCloudFormationSummary": {
      "type": "structure",
      "members": {
        "stepInput": {
          "target": "com.amazonaws.apptest#DeleteCloudFormationStepInput",
          "traits": {
            "smithy.api#documentation": "<p>The step input of the deleted CloudFormation summary.</p>",
            "smithy.api#required": {}
          }
        },
        "stepOutput": {
          "target": "com.amazonaws.apptest#DeleteCloudFormationStepOutput",
          "traits": {
            "smithy.api#documentation": "<p>The step output of the deleted CloudFormation summary.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes the CloudFormation summary.</p>"
      }
    },
    "com.amazonaws.apptest#DeleteTestCase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apptest#DeleteTestCaseRequest"
      },
      "output": {
        "target": "com.amazonaws.apptest#DeleteTestCaseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apptest#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.apptest#ConflictException"
        },
        {
          "target": "com.amazonaws.apptest#InternalServerException"
        },
        {
          "target": "com.amazonaws.apptest#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.apptest#ThrottlingException"
        },
        {
          "target": "com.amazonaws.apptest#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "DeleteTestCase",
          "documentation": "Grants permission to delete a test case"
        },
        "smithy.api#documentation": "<p>Deletes a test case.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/testcases/{testCaseId}",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.apptest#DeleteTestCaseRequest": {
      "type": "structure",
      "members": {
        "testCaseId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The test case ID of the test case.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.apptest#DeleteTestCaseResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.apptest#DeleteTestConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apptest#DeleteTestConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.apptest#DeleteTestConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apptest#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.apptest#ConflictException"
        },
        {
          "target": "com.amazonaws.apptest#InternalServerException"
        },
        {
          "target": "com.amazonaws.apptest#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.apptest#ThrottlingException"
        },
        {
          "target": "com.amazonaws.apptest#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "DeleteTestConfiguration",
          "documentation": "Grants permission to delete a test configuration"
        },
        "smithy.api#documentation": "<p>Deletes a test configuration.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/testconfigurations/{testConfigurationId}",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.apptest#DeleteTestConfigurationRequest": {
      "type": "structure",
      "members": {
        "testConfigurationId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The test ID of the test configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.apptest#DeleteTestConfigurationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.apptest#DeleteTestRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apptest#DeleteTestRunRequest"
      },
      "output": {
        "target": "com.amazonaws.apptest#DeleteTestRunResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apptest#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.apptest#ConflictException"
        },
        {
          "target": "com.amazonaws.apptest#InternalServerException"
        },
        {
          "target": "com.amazonaws.apptest#ThrottlingException"
        },
        {
          "target": "com.amazonaws.apptest#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "DeleteTestRun",
          "documentation": "Grants permission to delete a test run",
          "requiredActions": ["s3:DeleteObjects", "s3:ListObjectsV2"]
        },
        "smithy.api#documentation": "<p>Deletes a test run.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/testruns/{testRunId}",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.apptest#DeleteTestRunRequest": {
      "type": "structure",
      "members": {
        "testRunId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The run ID of the test run.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.apptest#DeleteTestRunResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.apptest#DeleteTestSuite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apptest#DeleteTestSuiteRequest"
      },
      "output": {
        "target": "com.amazonaws.apptest#DeleteTestSuiteResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apptest#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.apptest#ConflictException"
        },
        {
          "target": "com.amazonaws.apptest#InternalServerException"
        },
        {
          "target": "com.amazonaws.apptest#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.apptest#ThrottlingException"
        },
        {
          "target": "com.amazonaws.apptest#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "DeleteTestSuite",
          "documentation": "Grants permission to delete a test suite"
        },
        "smithy.api#documentation": "<p>Deletes a test suite.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/testsuites/{testSuiteId}",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.apptest#DeleteTestSuiteRequest": {
      "type": "structure",
      "members": {
        "testSuiteId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The test ID of the test suite.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.apptest#DeleteTestSuiteResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.apptest#ExportDataSetNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.apptest#String100"
      }
    },
    "com.amazonaws.apptest#File": {
      "type": "union",
      "members": {
        "fileType": {
          "target": "com.amazonaws.apptest#CompareFileType",
          "traits": {
            "smithy.api#documentation": "<p>The file type of the file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a file.</p>"
      }
    },
    "com.amazonaws.apptest#FileMetadata": {
      "type": "union",
      "members": {
        "dataSets": {
          "target": "com.amazonaws.apptest#DataSetList",
          "traits": {
            "smithy.api#documentation": "<p>The data sets of the file metadata.</p>"
          }
        },
        "databaseCDC": {
          "target": "com.amazonaws.apptest#DatabaseCDC",
          "traits": {
            "smithy.api#documentation": "<p>The database CDC of the file metadata.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a file metadata.</p>"
      }
    },
    "com.amazonaws.apptest#Format": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIXED"
          }
        },
        "VARIABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARIABLE"
          }
        },
        "LINE_SEQUENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINE_SEQUENTIAL"
          }
        }
      }
    },
    "com.amazonaws.apptest#GetTestCase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apptest#GetTestCaseRequest"
      },
      "output": {
        "target": "com.amazonaws.apptest#GetTestCaseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apptest#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.apptest#InternalServerException"
        },
        {
          "target": "com.amazonaws.apptest#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.apptest#ThrottlingException"
        },
        {
          "target": "com.amazonaws.apptest#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "GetTestCase",
          "documentation": "Grants permission to get a test case"
        },
        "smithy.api#documentation": "<p>Gets a test case.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/testcases/{testCaseId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.apptest#GetTestCaseRequest": {
      "type": "structure",
      "members": {
        "testCaseId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The request test ID of the test case.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "testCaseVersion": {
          "target": "com.amazonaws.apptest#Version",
          "traits": {
            "smithy.api#documentation": "<p>The test case version of the test case.</p>",
            "smithy.api#httpQuery": "testCaseVersion"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.apptest#GetTestCaseResponse": {
      "type": "structure",
      "members": {
        "testCaseId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The response test ID of the test case.</p>",
            "smithy.api#required": {}
          }
        },
        "testCaseArn": {
          "target": "com.amazonaws.apptest#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the test case.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.apptest#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the test case.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.apptest#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the test case.</p>"
          }
        },
        "latestVersion": {
          "target": "com.amazonaws.apptest#TestCaseLatestVersion",
          "traits": {
            "smithy.api#documentation": "<p>The latest version of the test case.</p>",
            "smithy.api#required": {}
          }
        },
        "testCaseVersion": {
          "target": "com.amazonaws.apptest#Version",
          "traits": {
            "smithy.api#documentation": "<p>The case version of the test case.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.apptest#TestCaseLifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The status of the test case.</p>",
            "smithy.api#required": {}
          }
        },
        "statusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The status reason of the test case.</p>"
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the test case.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last update time of the test case.</p>",
            "smithy.api#required": {}
          }
        },
        "steps": {
          "target": "com.amazonaws.apptest#StepList",
          "traits": {
            "smithy.api#documentation": "<p>The steps of the test case.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.apptest#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the test case.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.apptest#GetTestConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apptest#GetTestConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.apptest#GetTestConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apptest#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.apptest#InternalServerException"
        },
        {
          "target": "com.amazonaws.apptest#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.apptest#ThrottlingException"
        },
        {
          "target": "com.amazonaws.apptest#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "GetTestConfiguration",
          "documentation": "Grants permission to get a test configuration"
        },
        "smithy.api#documentation": "<p>Gets a test configuration.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/testconfigurations/{testConfigurationId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.apptest#GetTestConfigurationRequest": {
      "type": "structure",
      "members": {
        "testConfigurationId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The request test configuration ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "testConfigurationVersion": {
          "target": "com.amazonaws.apptest#Version",
          "traits": {
            "smithy.api#documentation": "<p>The test configuration version.</p>",
            "smithy.api#httpQuery": "testConfigurationVersion"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.apptest#GetTestConfigurationResponse": {
      "type": "structure",
      "members": {
        "testConfigurationId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The response test configuration ID.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.apptest#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The test configuration name</p>",
            "smithy.api#required": {}
          }
        },
        "testConfigurationArn": {
          "target": "com.amazonaws.apptest#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The test configuration Amazon Resource Name (ARN).</p>",
            "smithy.api#required": {}
          }
        },
        "latestVersion": {
          "target": "com.amazonaws.apptest#TestConfigurationLatestVersion",
          "traits": {
            "smithy.api#documentation": "<p>The latest version of the test configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "testConfigurationVersion": {
          "target": "com.amazonaws.apptest#Version",
          "traits": {
            "smithy.api#documentation": "<p>The test configuration version.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.apptest#TestConfigurationLifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The status of the test configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "statusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The status reason of the test configuration.</p>"
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the test configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last update time of the test configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.apptest#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the test configuration.</p>"
          }
        },
        "resources": {
          "target": "com.amazonaws.apptest#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>The resources of the test configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.amazonaws.apptest#Properties",
          "traits": {
            "smithy.api#documentation": "<p>The properties of the test configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.apptest#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the test configuration.</p>"
          }
        },
        "serviceSettings": {
          "target": "com.amazonaws.apptest#ServiceSettings",
          "traits": {
            "smithy.api#documentation": "<p>The service settings of the test configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.apptest#GetTestRunStep": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apptest#GetTestRunStepRequest"
      },
      "output": {
        "target": "com.amazonaws.apptest#GetTestRunStepResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apptest#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.apptest#InternalServerException"
        },
        {
          "target": "com.amazonaws.apptest#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.apptest#ThrottlingException"
        },
        {
          "target": "com.amazonaws.apptest#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "GetTestRunStep",
          "documentation": "Grants permission to get test run step"
        },
        "smithy.api#documentation": "<p>Gets a test run step.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/testruns/{testRunId}/steps/{stepName}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.apptest#GetTestRunStepRequest": {
      "type": "structure",
      "members": {
        "testRunId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The test run ID of the test run step.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "stepName": {
          "target": "com.amazonaws.apptest#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The step name of the test run step.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "testCaseId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The test case ID of a test run step.</p>",
            "smithy.api#httpQuery": "testCaseId"
          }
        },
        "testSuiteId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The test suite ID of a test run step.</p>",
            "smithy.api#httpQuery": "testSuiteId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.apptest#GetTestRunStepResponse": {
      "type": "structure",
      "members": {
        "stepName": {
          "target": "com.amazonaws.apptest#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The step name of the test run step.</p>",
            "smithy.api#required": {}
          }
        },
        "testRunId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The test run ID of the test run step.</p>",
            "smithy.api#required": {}
          }
        },
        "testCaseId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The test case ID of the test run step.</p>"
          }
        },
        "testCaseVersion": {
          "target": "com.amazonaws.apptest#Version",
          "traits": {
            "smithy.api#documentation": "<p>The test case version of the test run step.</p>"
          }
        },
        "testSuiteId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The test suite ID of the test run step.</p>"
          }
        },
        "testSuiteVersion": {
          "target": "com.amazonaws.apptest#Version",
          "traits": {
            "smithy.api#documentation": "<p>The test suite version of the test run step.</p>"
          }
        },
        "beforeStep": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The before steps of the test run step.</p>"
          }
        },
        "afterStep": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The after steps of the test run step.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.apptest#StepRunStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the test run step.</p>",
            "smithy.api#required": {}
          }
        },
        "statusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The status reason of the test run step.</p>"
          }
        },
        "runStartTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The run start time of the test run step.</p>",
            "smithy.api#required": {}
          }
        },
        "runEndTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The run end time of the test run step.</p>"
          }
        },
        "stepRunSummary": {
          "target": "com.amazonaws.apptest#StepRunSummary",
          "traits": {
            "smithy.api#documentation": "<p>The step run summary of the test run step.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.apptest#GetTestSuite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apptest#GetTestSuiteRequest"
      },
      "output": {
        "target": "com.amazonaws.apptest#GetTestSuiteResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apptest#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.apptest#InternalServerException"
        },
        {
          "target": "com.amazonaws.apptest#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.apptest#ThrottlingException"
        },
        {
          "target": "com.amazonaws.apptest#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "GetTestSuite",
          "documentation": "Grants permission to get a test suite"
        },
        "smithy.api#documentation": "<p>Gets a test suite.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/testsuites/{testSuiteId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.apptest#GetTestSuiteRequest": {
      "type": "structure",
      "members": {
        "testSuiteId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the test suite.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "testSuiteVersion": {
          "target": "com.amazonaws.apptest#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the test suite.</p>",
            "smithy.api#httpQuery": "testSuiteVersion"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.apptest#GetTestSuiteResponse": {
      "type": "structure",
      "members": {
        "testSuiteId": {
          "target": "com.amazonaws.apptest#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The response ID of the test suite.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.apptest#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the test suite.</p>",
            "smithy.api#required": {}
          }
        },
        "latestVersion": {
          "target": "com.amazonaws.apptest#TestSuiteLatestVersion",
          "traits": {
            "smithy.api#documentation": "<p>The latest version of the test suite.</p>",
            "smithy.api#required": {}
          }
        },
        "testSuiteVersion": {
          "target": "com.amazonaws.apptest#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the test suite.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.apptest#TestSuiteLifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The status of the test suite.</p>"
          }
        },
        "statusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The status reason of the test suite.</p>"
          }
        },
        "testSuiteArn": {
          "target": "com.amazonaws.apptest#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The test suite Amazon Resource Name (ARN).</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the test suite.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last update time of the test suite.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.apptest#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the test suite.</p>"
          }
        },
        "beforeSteps": {
          "target": "com.amazonaws.apptest#StepList",
          "traits": {
            "smithy.api#documentation": "<p>The before steps of the test suite.</p>",
            "smithy.api#required": {}
          }
        },
        "afterSteps": {
          "target": "com.amazonaws.apptest#StepList",
          "traits": {
            "smithy.api#documentation": "<p>The after steps of the test suite.  </p>",
            "smithy.api#required": {}
          }
        },
        "testCases": {
          "target": "com.amazonaws.apptest#TestCases",
          "traits": {
            "smithy.api#documentation": "<p>The test cases of the test suite.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.apptest#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the test suite.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.apptest#IdempotencyTokenString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[A-Za-z0-9\\-]{1,64}$"
      }
    },
    "com.amazonaws.apptest#Identifier": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[A-Za-z0-9:/\\-]{1,100}$"
      }
    },
    "com.amazonaws.apptest#Input": {
      "type": "union",
      "members": {
        "file": {
          "target": "com.amazonaws.apptest#InputFile",
          "traits": {
            "smithy.api#documentation": "<p>The file in the input.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the input.</p>"
      }
    },
    "com.amazonaws.apptest#InputFile": {
      "type": "structure",
      "members": {
        "sourceLocation": {
          "target": "com.amazonaws.apptest#Variable",
          "traits": {
            "smithy.api#documentation": "<p>The source location of the input file.</p>",
            "smithy.api#required": {}
          }
        },
        "targetLocation": {
          "target": "com.amazonaws.apptest#Variable",
          "traits": {
            "smithy.api#documentation": "<p>The target location of the input file.</p>",
            "smithy.api#required": {}
          }
        },
        "fileMetadata": {
          "target": "com.amazonaws.apptest#FileMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The file metadata of the input file.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the input file.</p>"
      }
    },
    "com.amazonaws.apptest#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds to retry the query.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An unexpected error occurred during the processing of the request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.apptest#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apptest#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.apptest#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apptest#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.apptest#InternalServerException"
        },
        {
          "target": "com.amazonaws.apptest#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.apptest#ThrottlingException"
        },
        {
          "target": "com.amazonaws.apptest#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list tags for a resource"
        },
        "smithy.api#documentation": "<p>Lists tags for a resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{resourceArn}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.apptest#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.apptest#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.apptest#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.apptest#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.apptest#ListTestCases": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apptest#ListTestCasesRequest"
      },
      "output": {
        "target": "com.amazonaws.apptest#ListTestCasesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apptest#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.apptest#InternalServerException"
        },
        {
          "target": "com.amazonaws.apptest#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.apptest#ThrottlingException"
        },
        {
          "target": "com.amazonaws.apptest#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "ListTestCases",
          "documentation": "Grants permission to list test cases"
        },
        "smithy.api#documentation": "<p>Lists test cases.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/testcases",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "testCases"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.apptest#ListTestCasesRequest": {
      "type": "structure",
      "members": {
        "testCaseIds": {
          "target": "com.amazonaws.apptest#TestCaseIdList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the test cases.</p>",
            "smithy.api#httpQuery": "testCaseIds"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.apptest#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The next token of the test cases.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.apptest#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum results of the test case.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.apptest#ListTestCasesResponse": {
      "type": "structure",
      "members": {
        "testCases": {
          "target": "com.amazonaws.apptest#TestCaseSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The test cases in an application.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.apptest#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The next token in test cases.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.apptest#ListTestConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.apptest#ListTestConfigurationsRequest"
      },
      "output": {
        "target": "com.amazonaws.apptest#ListTestConfigurationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.apptest#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.apptest#InternalServerException"
        },
        {
          "target": "com.amazonaws.apptest#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.apptest#ThrottlingException"
        },
        {
          "target": "com.amazonaws.apptest#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "ListTestConfigurations",
          "documentation": "Grants permission to list test configurations"
        },
        "smithy.api#documentation": "<p>Lists test configurations.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/testconfigurations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "testConfigurations"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.apptest#ListTestConfigurationsRequest": {
      "type": "structure",
      "members": {
        "testConfigurationIds": {
          "target": "com.amazonaws.apptest#TestConfigurationIdList",
          "traits": {
            "smithy.api#documentation": "<p>The configuration IDs of the test configurations.</p>",
            "smithy.api#httpQuery": "testConfigurationIds"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.apptest#NextToken",
          "traits": {
[...]
