{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.arczonalshift#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.arczonalshift#AppliedStatus": {
      "type": "enum",
      "members": {
        "APPLIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLIED"
          }
        },
        "NOT_APPLIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_APPLIED"
          }
        }
      }
    },
    "com.amazonaws.arczonalshift#AppliedWeights": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.arczonalshift#AvailabilityZone"
      },
      "value": {
        "target": "com.amazonaws.arczonalshift#Weight"
      }
    },
    "com.amazonaws.arczonalshift#Autoshift": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.arczonalshift#ListAutoshifts"
        }
      ]
    },
    "com.amazonaws.arczonalshift#AutoshiftAppliedStatus": {
      "type": "enum",
      "members": {
        "APPLIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLIED"
          }
        },
        "NOT_APPLIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_APPLIED"
          }
        }
      }
    },
    "com.amazonaws.arczonalshift#AutoshiftExecutionStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        }
      }
    },
    "com.amazonaws.arczonalshift#AutoshiftInResource": {
      "type": "structure",
      "members": {
        "appliedStatus": {
          "target": "com.amazonaws.arczonalshift#AutoshiftAppliedStatus",
          "traits": {
            "smithy.api#documentation": "<p>The <code>appliedStatus</code> field specifies which application traffic shift is in effect for a\n\t\t\tresource when there is more than one active traffic shift. There can be more than one application traffic \n\t\t\tshift in progress at the same time - that is, practice run zonal shifts, customer-initiated zonal shifts, \n\t\t\tor an autoshift. The <code>appliedStatus</code> field for a shift that is in progress for a resource can \n\t\t\thave one of two values: <code>APPLIED</code> or <code>NOT_APPLIED</code>. The zonal shift or autoshift \n\t\t\tthat is currently in effect for the resource has an <code>appliedStatus</code> set to <code>APPLIED</code>.</p>\n         <p>The overall principle for precedence is that zonal shifts that you start as a customer take precedence \n\t\t\tautoshifts, which take precedence over practice runs. That is, customer-initiated zonal shifts &gt; autoshifts &gt; practice run \n\t\t\tzonal shifts.</p>\n         <p>For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/arc-zonal-autoshift.how-it-works.html\">How zonal autoshift \n\t\t\t\tand practice runs work</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p>",
            "smithy.api#required": {}
          }
        },
        "awayFrom": {
          "target": "com.amazonaws.arczonalshift#AvailabilityZone",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone (for example, <code>use1-az1</code>) that traffic is shifted away from for a resource, when Amazon Web Services starts an autoshift. \n\t\t\tUntil the autoshift ends, traffic for the resource is instead directed to other Availability Zones in the Amazon Web Services Region.\n\t\t\tAn autoshift can end for a resource, for example, when Amazon Web Services ends the autoshift for the Availability Zone or when \n\t\t\tyou disable zonal autoshift for the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "startTime": {
          "target": "com.amazonaws.arczonalshift#StartTime",
          "traits": {
            "smithy.api#documentation": "<p>The time (UTC) when the autoshift started.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex structure that lists an autoshift that is currently active for a managed resource and information about\n\t\t\tthe autoshift.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/arc-zonal-autoshift.how-it-works.html\">How zonal autoshift \n\t\t\tand practice runs work</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p>"
      }
    },
    "com.amazonaws.arczonalshift#AutoshiftObserverNotification": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.arczonalshift#GetAutoshiftObserverNotificationStatus"
        },
        {
          "target": "com.amazonaws.arczonalshift#UpdateAutoshiftObserverNotificationStatus"
        }
      ]
    },
    "com.amazonaws.arczonalshift#AutoshiftObserverNotificationStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.arczonalshift#AutoshiftSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.arczonalshift#AutoshiftSummary"
      }
    },
    "com.amazonaws.arczonalshift#AutoshiftSummary": {
      "type": "structure",
      "members": {
        "awayFrom": {
          "target": "com.amazonaws.arczonalshift#AvailabilityZone",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone (for example, <code>use1-az1</code>) that traffic is shifted away from for a resource when Amazon Web Services starts an autoshift. \n\t\t\tUntil the autoshift ends, traffic for the resource is instead directed to other Availability Zones in the Amazon Web Services Region.\n\t\t\tAn autoshift can end for a resource, for example, when Amazon Web Services ends the autoshift for the Availability Zone or when \n\t\t\tyou disable zonal autoshift for the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "endTime": {
          "target": "com.amazonaws.arczonalshift#ExpiryTime",
          "traits": {
            "smithy.api#documentation": "<p>The time (in UTC) when the autoshift ended.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.arczonalshift#StartTime",
          "traits": {
            "smithy.api#documentation": "<p>The time (in UTC) when the autoshift started.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.arczonalshift#AutoshiftExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status for an autoshift. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an autoshift. Amazon Web Services starts an autoshift to temporarily move traffic for a resource \n\t\t\taway from an Availability Zone in an Amazon Web Services Region\n\t\t\twhen Amazon Web Services determines that there's an issue in the Availability Zone that could potentially affect customers.\n\t\t\tYou can configure zonal autoshift in ARC for managed resources in your Amazon Web Services account in a Region. \n\t\t\tSupported Amazon Web Services resources are automatically registered with ARC.</p>\n         <p>Autoshifts are temporary. When the Availability Zone recovers, Amazon Web Services ends the autoshift, and \n\t\t\ttraffic for the resource is no longer directed to the other Availability Zones in the Region.</p>\n         <p>You can stop an autoshift for a resource by disabling zonal autoshift.</p>"
      }
    },
    "com.amazonaws.arczonalshift#AutoshiftTriggerResource": {
      "type": "resource"
    },
    "com.amazonaws.arczonalshift#AutoshiftsInResource": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.arczonalshift#AutoshiftInResource"
      }
    },
    "com.amazonaws.arczonalshift#AvailabilityZone": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 20
        }
      }
    },
    "com.amazonaws.arczonalshift#AvailabilityZones": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.arczonalshift#AvailabilityZone"
      }
    },
    "com.amazonaws.arczonalshift#BlockedDate": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 10
        },
        "smithy.api#pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
      }
    },
    "com.amazonaws.arczonalshift#BlockedDates": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.arczonalshift#BlockedDate"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 15
        }
      }
    },
    "com.amazonaws.arczonalshift#BlockedWindow": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 19,
          "max": 19
        },
        "smithy.api#pattern": "^(Mon|Tue|Wed|Thu|Fri|Sat|Sun):[0-9]{2}:[0-9]{2}-(Mon|Tue|Wed|Thu|Fri|Sat|Sun):[0-9]{2}:[0-9]{2}$"
      }
    },
    "com.amazonaws.arczonalshift#BlockedWindows": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.arczonalshift#BlockedWindow"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 15
        }
      }
    },
    "com.amazonaws.arczonalshift#CancelZonalShift": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.arczonalshift#CancelZonalShiftRequest"
      },
      "output": {
        "target": "com.amazonaws.arczonalshift#ZonalShift"
      },
      "errors": [
        {
          "target": "com.amazonaws.arczonalshift#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ConflictException"
        },
        {
          "target": "com.amazonaws.arczonalshift#InternalServerException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ThrottlingException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancel a zonal shift in Amazon Route 53 Application Recovery Controller. To cancel the zonal shift, specify the zonal shift ID.</p>\n         <p>A zonal shift can be one that you've started for a resource in your Amazon Web Services account \n  \t\tin an Amazon Web Services Region, or it can be a zonal shift started by a practice run with zonal \n  \t\tautoshift. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/zonalshifts/{zonalShiftId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.arczonalshift#CancelZonalShiftRequest": {
      "type": "structure",
      "members": {
        "zonalShiftId": {
          "target": "com.amazonaws.arczonalshift#ZonalShiftId",
          "traits": {
            "smithy.api#documentation": "<p>The internally-generated identifier of a zonal shift.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.arczonalshift#ZonalShiftResource"
          }
        ]
      }
    },
    "com.amazonaws.arczonalshift#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.arczonalshift#ConflictExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the conflict exception.</p>",
            "smithy.api#required": {}
          }
        },
        "zonalShiftId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The zonal shift ID associated with the conflict exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be processed because of conflict in the current state of the resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.arczonalshift#ConflictExceptionReason": {
      "type": "enum",
      "members": {
        "ZONAL_SHIFT_ALREADY_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZonalShiftAlreadyExists"
          }
        },
        "ZONAL_SHIFT_STATUS_NOT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZonalShiftStatusNotActive"
          }
        },
        "SIMULTANEOUS_ZONAL_SHIFTS_CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SimultaneousZonalShiftsConflict"
          }
        },
        "PRACTICE_CONFIGURATION_ALREADY_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PracticeConfigurationAlreadyExists"
          }
        },
        "AUTOSHIFT_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AutoShiftEnabled"
          }
        },
        "PRACTICE_CONFIGURATION_DOES_NOT_EXIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PracticeConfigurationDoesNotExist"
          }
        },
        "ZONAL_AUTOSHIFT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZonalAutoshiftActive"
          }
        }
      }
    },
    "com.amazonaws.arczonalshift#ControlCondition": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.arczonalshift#ControlConditionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of alarm specified for a practice run. You can only specify Amazon CloudWatch alarms for practice runs, so the \n\t\t\tonly valid value is <code>CLOUDWATCH</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "alarmIdentifier": {
          "target": "com.amazonaws.arczonalshift#MetricIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for an Amazon CloudWatch alarm that you specify as a control condition for a practice run.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A control condition is an alarm that you specify for a practice run. When you configure practice runs\n\t\t\twith zonal autoshift for a resource, you specify Amazon CloudWatch alarms, which you create in CloudWatch \n\t\t\tto use with the practice run. The alarms that you specify are an \n\t\t\t<i>outcome alarm</i>, to monitor application health during practice runs and, \n\t\t\toptionally, a <i>blocking alarm</i>, to block practice runs from starting or to interrupt\n\t\t\ta practice run in progress.</p>\n         <p>Control condition alarms do not apply for autoshifts.</p>\n         <p>For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/arc-zonal-autoshift.considerations.html\">\n\t\t\t\tConsiderations when you configure zonal autoshift</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p>"
      }
    },
    "com.amazonaws.arczonalshift#ControlConditionType": {
      "type": "enum",
      "members": {
        "CLOUDWATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDWATCH"
          }
        }
      }
    },
    "com.amazonaws.arczonalshift#ControlConditions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.arczonalshift#ControlCondition"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.arczonalshift#CreatePracticeRunConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.arczonalshift#CreatePracticeRunConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.arczonalshift#CreatePracticeRunConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.arczonalshift#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ConflictException"
        },
        {
          "target": "com.amazonaws.arczonalshift#InternalServerException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ThrottlingException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>A practice run configuration for zonal autoshift is required when you enable zonal autoshift.\n\t\t\tA practice run configuration includes specifications for blocked dates and blocked time windows,\n\t\tand for Amazon CloudWatch alarms that you create to use with practice runs. The alarms that you specify are an \n\t\t\t<i>outcome alarm</i>, to monitor application health during practice runs and, \n\t\t\toptionally, a <i>blocking alarm</i>, to block practice runs from starting.</p>\n         <p>When a resource has a practice run configuration, ARC starts zonal shifts for the resource\n\t\t\tweekly, to shift traffic for practice runs. Practice runs help you to ensure that \n\t\t\tshifting away traffic from an Availability Zone during an autoshift is safe for your application.</p>\n         <p>For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/arc-zonal-autoshift.considerations.html\">\n\t\t\t\tConsiderations when you configure zonal autoshift</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/configuration",
          "code": 201
        }
      }
    },
    "com.amazonaws.arczonalshift#CreatePracticeRunConfigurationRequest": {
      "type": "structure",
      "members": {
        "resourceIdentifier": {
          "target": "com.amazonaws.arczonalshift#ResourceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource that Amazon Web Services shifts traffic for with a practice \n\t\t\trun zonal shift. The identifier is the Amazon Resource Name (ARN) for the resource.</p>\n         <p>At this time, supported resources are Network Load Balancers and Application Load Balancers with cross-zone load balancing turned off.</p>",
            "smithy.api#required": {}
          }
        },
        "blockedWindows": {
          "target": "com.amazonaws.arczonalshift#BlockedWindows",
          "traits": {
            "smithy.api#documentation": "<p>Optionally, you can block ARC from starting practice runs for specific windows of \n\t\t\tdays and times. </p>\n         <p>The format for blocked windows is: DAY:HH:SS-DAY:HH:SS. Keep in mind, when you specify dates,\n\t\t\tthat dates and times for practice runs are in UTC. Also, be aware of potential time adjustments \n\t\t\tthat might be required for daylight saving time differences. Separate multiple blocked windows \n\t\t\twith spaces.</p>\n         <p>For example, say you run business report summaries three days a week. For\n\t\t\tthis scenario, you might set the following recurring days and times as blocked windows, \n\t\t\tfor example: <code>MON-20:30-21:30 WED-20:30-21:30 \n\t\t\t\tFRI-20:30-21:30</code>.</p>"
          }
        },
        "blockedDates": {
          "target": "com.amazonaws.arczonalshift#BlockedDates",
          "traits": {
            "smithy.api#documentation": "<p>Optionally, you can block ARC from starting practice runs for a resource\n\t\t\ton specific calendar dates.</p>\n         <p>The format for blocked dates is: YYYY-MM-DD. Keep in mind, when you specify dates,\n\t\t\tthat dates and times for practice runs are in UTC. Separate multiple blocked \n\t\t\tdates with spaces.</p>\n         <p>For example, if you have an application update scheduled to launch on May 1, 2024, and \n\t\t\tyou don't want practice runs to shift traffic away at that time, you could set a blocked date \n\t\t\tfor <code>2024-05-01</code>.</p>"
          }
        },
        "blockingAlarms": {
          "target": "com.amazonaws.arczonalshift#ControlConditions",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon CloudWatch alarm that you can specify for zonal autoshift \n\t\t\tpractice runs. This alarm blocks ARC from starting practice run zonal \n\t\t\tshifts, and ends a practice run that's in progress, when the alarm is in \n\t\t\tan <code>ALARM</code> state. </p>"
          }
        },
        "outcomeAlarms": {
          "target": "com.amazonaws.arczonalshift#ControlConditions",
          "traits": {
            "smithy.api#documentation": "<p>The <i>outcome alarm</i> for practice runs is a required\n\t\t\tAmazon CloudWatch alarm that you specify that ends a practice run when the \n\t\t\talarm is in an <code>ALARM</code> state.</p>\n         <p>Configure the alarm to monitor the health of your application \n\t\t\twhen traffic is shifted away from an Availability Zone during each \n\t\t\tpractice run. You should configure the alarm to go into an <code>ALARM</code> state \n\t\t\tif your application is impacted by the zonal shift, and you want to stop the\n\t\t\tzonal shift, to let traffic for the resource return to the Availability Zone.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.arczonalshift#PracticeRunConfigurationResource"
          }
        ]
      }
    },
    "com.amazonaws.arczonalshift#CreatePracticeRunConfigurationResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.arczonalshift#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource that you configured  the practice \n\t\t\trun for.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.arczonalshift#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource that you configured  the practice run for. </p>",
            "smithy.api#required": {}
          }
        },
        "zonalAutoshiftStatus": {
          "target": "com.amazonaws.arczonalshift#ZonalAutoshiftStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status for zonal autoshift for a resource. When you specify <code>ENABLED</code>\n\t\t\tfor the autoshift status, Amazon Web Services shifts traffic \n\t\t\taway from shifts away application resource traffic from an Availability Zone, \n\t\t\ton your behalf, when internal telemetry indicates that there is an Availability \n\t\t\tZone impairment that could potentially impact customers.</p>\n         <p>When you enable zonal autoshift, you must also configure practice runs for\n\t\t\tthe resource.</p>",
            "smithy.api#required": {}
          }
        },
        "practiceRunConfiguration": {
          "target": "com.amazonaws.arczonalshift#PracticeRunConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A practice run configuration for a resource. Configurations include the\n\t\t\toutcome alarm that you specify for practice runs, and, optionally, a\n\t\t\tblocking alarm and blocking dates and windows.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.arczonalshift#DeletePracticeRunConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.arczonalshift#DeletePracticeRunConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.arczonalshift#DeletePracticeRunConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.arczonalshift#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ConflictException"
        },
        {
          "target": "com.amazonaws.arczonalshift#InternalServerException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ThrottlingException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the practice run configuration for a resource. Before you can delete\n\t\t\ta practice run configuration for a resource., you must disable zonal autoshift for \n\t\t\tthe resource. Practice runs must be configured for zonal autoshift to be enabled.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/configuration/{resourceIdentifier}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.arczonalshift#DeletePracticeRunConfigurationRequest": {
      "type": "structure",
      "members": {
        "resourceIdentifier": {
          "target": "com.amazonaws.arczonalshift#ResourceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the resource that you want to delete the practice\n\t\t\trun configuration for. The identifier is the Amazon Resource Name (ARN) for the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.arczonalshift#PracticeRunConfigurationResource"
          }
        ]
      }
    },
    "com.amazonaws.arczonalshift#DeletePracticeRunConfigurationResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.arczonalshift#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource that you deleted the practice \n\t\t\trun for.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.arczonalshift#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource that you deleted the practice \n\t\t\trun for. </p>",
            "smithy.api#required": {}
          }
        },
        "zonalAutoshiftStatus": {
          "target": "com.amazonaws.arczonalshift#ZonalAutoshiftStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of zonal autoshift for the resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.arczonalshift#ExpiresIn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 5
        },
        "smithy.api#pattern": "^([1-9][0-9]*)(m|h)$"
      }
    },
    "com.amazonaws.arczonalshift#ExpiryTime": {
      "type": "timestamp"
    },
    "com.amazonaws.arczonalshift#GetAutoshiftObserverNotificationStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.arczonalshift#GetAutoshiftObserverNotificationStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.arczonalshift#GetAutoshiftObserverNotificationStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.arczonalshift#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.arczonalshift#InternalServerException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the status of the autoshift observer notification. Autoshift observer notifications notify you through Amazon EventBridge when there is an autoshift event for zonal autoshift. The status can be <code>ENABLED</code> or <code>DISABLED</code>. When <code>ENABLED</code>, a notification is sent when an autoshift is triggered. When <code>DISABLED</code>, notifications are not sent.\n\t\t</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/autoshift-observer-notification",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.arczonalshift#GetAutoshiftObserverNotificationStatusRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.arczonalshift#AutoshiftObserverNotification"
          }
        ]
      }
    },
    "com.amazonaws.arczonalshift#GetAutoshiftObserverNotificationStatusResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.arczonalshift#AutoshiftObserverNotificationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of autoshift observer notification. If the status is <code>ENABLED</code>,\n\t\t\tARC includes all autoshift events when you use the Amazon EventBridge pattern\n\t\t\t<code>Autoshift In Progress</code>. When the status is <code>DISABLED</code>,\n\t\t\tARC includes only autoshift events for autoshifts when one or more of your\n\t\t\tresources is included in the autoshift. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.arczonalshift#GetManagedResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.arczonalshift#GetManagedResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.arczonalshift#GetManagedResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.arczonalshift#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.arczonalshift#InternalServerException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ThrottlingException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get information about a resource that's been registered for zonal shifts with Amazon Route 53 Application Recovery Controller in this Amazon Web Services Region. Resources that are registered for\n   \t\tzonal shifts are managed resources in ARC. You can start zonal shifts and configure zonal autoshift for managed resources.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/managedresources/{resourceIdentifier}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.arczonalshift#GetManagedResourceRequest": {
      "type": "structure",
      "members": {
        "resourceIdentifier": {
          "target": "com.amazonaws.arczonalshift#ResourceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the resource that Amazon Web Services shifts traffic for. The identifier is the Amazon Resource Name (ARN) for the resource.</p>\n         <p>At this time, supported resources are Network Load Balancers and Application Load Balancers with cross-zone load balancing turned off.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.arczonalshift#ManagedResource"
          }
        ]
      }
    },
    "com.amazonaws.arczonalshift#GetManagedResourceResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.arczonalshift#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the resource.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.arczonalshift#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource.</p>"
          }
        },
        "appliedWeights": {
          "target": "com.amazonaws.arczonalshift#AppliedWeights",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key-value pairs that indicate whether resources are active in Availability Zones or not.  \n   \t\tThe key name is the Availability Zone where the resource is deployed. The value is 1 or 0.</p>",
            "smithy.api#required": {}
          }
        },
        "zonalShifts": {
          "target": "com.amazonaws.arczonalshift#ZonalShiftsInResource",
          "traits": {
            "smithy.api#documentation": "<p>The zonal shifts that are currently active for a resource. </p>",
            "smithy.api#required": {}
          }
        },
        "autoshifts": {
          "target": "com.amazonaws.arczonalshift#AutoshiftsInResource",
          "traits": {
            "smithy.api#documentation": "<p>An array of the autoshifts that are active for the resource.</p>"
          }
        },
        "practiceRunConfiguration": {
          "target": "com.amazonaws.arczonalshift#PracticeRunConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The practice run configuration for zonal autoshift that's associated with\n\t\t\tthe resource.</p>"
          }
        },
        "zonalAutoshiftStatus": {
          "target": "com.amazonaws.arczonalshift#ZonalAutoshiftStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status for zonal autoshift for a resource. When the\n\t\t\tautoshift status is <code>ENABLED</code>, Amazon Web Services shifts traffic \n\t\t\tfor a resource away from an Availability Zone, on your behalf, when \n\t\t\tAmazon Web Services determines that there's an issue in \n\t\t\tthe Availability Zone that could potentially affect customers.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.arczonalshift#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was an internal server error.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.arczonalshift#ListAutoshifts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.arczonalshift#ListAutoshiftsRequest"
      },
      "output": {
        "target": "com.amazonaws.arczonalshift#ListAutoshiftsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.arczonalshift#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.arczonalshift#InternalServerException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ThrottlingException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the autoshifts for an Amazon Web Services Region. By default, the call returns\n\t\t\tonly <code>ACTIVE</code> autoshifts. Optionally, you can specify the <code>status</code> parameter to return\n\t\t\t<code>COMPLETED</code> autoshifts.\n\t\t</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/autoshifts",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "items"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.arczonalshift#ListAutoshiftsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>nextToken</code> response in the \n\t\t\tprevious request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous \n\t\t\tcall's <code>nextToken</code> response to request the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "status": {
          "target": "com.amazonaws.arczonalshift#AutoshiftExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the autoshift.</p>",
            "smithy.api#httpQuery": "status"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.arczonalshift#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.arczonalshift#ListAutoshiftsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.arczonalshift#AutoshiftSummaries",
          "traits": {
            "smithy.api#documentation": "<p>The items in the response list.</p>"
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>nextToken</code> response in the \n\t\t\tprevious request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous \n\t\t\tcall's <code>nextToken</code> response to request the next page of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.arczonalshift#ListManagedResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.arczonalshift#ListManagedResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.arczonalshift#ListManagedResourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.arczonalshift#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.arczonalshift#InternalServerException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ThrottlingException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the resources in your Amazon Web Services account in this Amazon Web Services Region that are managed for \n   \t\tzonal shifts in Amazon Route 53 Application Recovery Controller, and information about them. The information includes the zonal autoshift status for the resource, \n   \t\tas well as the Amazon Resource Name (ARN), the Availability Zones that each resource is deployed in, and \n   \t\tthe resource name.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/managedresources",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "items"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.arczonalshift#ListManagedResourcesRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>nextToken</code> response in the \n   \t\tprevious request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous \n   \t\tcall's <code>nextToken</code> response to request the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.arczonalshift#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.arczonalshift#ListManagedResourcesResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.arczonalshift#ManagedResourceSummaries",
          "traits": {
            "smithy.api#documentation": "<p>The items in the response list.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>nextToken</code> response in the \n   \t\tprevious request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous \n   \t\tcall's <code>nextToken</code> response to request the next page of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.arczonalshift#ListZonalShifts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.arczonalshift#ListZonalShiftsRequest"
      },
      "output": {
        "target": "com.amazonaws.arczonalshift#ListZonalShiftsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.arczonalshift#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.arczonalshift#InternalServerException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ThrottlingException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all active and completed zonal shifts in Amazon Route 53 Application Recovery Controller in your Amazon Web Services account in this Amazon Web Services Region.\n   \t\t<code>ListZonalShifts</code> returns customer-initiated zonal shifts, as well as practice run zonal shifts that ARC started on \n   \t\tyour behalf for zonal autoshift.</p>\n         <p>For more information about listing\n   \t\tautoshifts, see <a href=\"https://docs.aws.amazon.com/arc-zonal-shift/latest/api/API_ListAutoshifts.html\">\"&gt;ListAutoshifts</a>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/zonalshifts",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "items"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.arczonalshift#ListZonalShiftsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>nextToken</code> response in the \n   \t\tprevious request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous \n   \t\tcall's <code>nextToken</code> response to request the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "status": {
          "target": "com.amazonaws.arczonalshift#ZonalShiftStatus",
          "traits": {
            "smithy.api#documentation": "<p>A status for a zonal shift.</p>\n         <p>The <code>Status</code> for a zonal shift can have one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>ACTIVE</b>: The zonal shift has been started and active.</p>\n            </li>\n            <li>\n               <p>\n                  <b>EXPIRED</b>: The zonal shift has expired (the expiry time was exceeded).</p>\n            </li>\n            <li>\n               <p>\n                  <b>CANCELED</b>: The zonal shift was canceled.</p>\n            </li>\n         </ul>",
            "smithy.api#httpQuery": "status"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.arczonalshift#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "resourceIdentifier": {
          "target": "com.amazonaws.arczonalshift#ResourceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the resource that you want to list zonal shifts for.\n\t\t\tThe identifier is the Amazon Resource Name (ARN) for the resource.</p>",
            "smithy.api#httpQuery": "resourceIdentifier"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.arczonalshift#ListZonalShiftsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.arczonalshift#ZonalShiftSummaries",
          "traits": {
            "smithy.api#documentation": "<p>The items in the response list.</p>"
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>nextToken</code> response in the \n   \t\tprevious request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous \n   \t\tcall's <code>nextToken</code> response to request the next page of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.arczonalshift#ManagedResource": {
      "type": "resource",
      "identifiers": {
        "resourceIdentifier": {
          "target": "com.amazonaws.arczonalshift#ResourceIdentifier"
        }
      },
      "read": {
        "target": "com.amazonaws.arczonalshift#GetManagedResource"
      },
      "list": {
        "target": "com.amazonaws.arczonalshift#ListManagedResources"
      },
      "operations": [
        {
          "target": "com.amazonaws.arczonalshift#UpdateZonalAutoshiftConfiguration"
        }
      ]
    },
    "com.amazonaws.arczonalshift#ManagedResourceSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.arczonalshift#ManagedResourceSummary"
      }
    },
    "com.amazonaws.arczonalshift#ManagedResourceSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.arczonalshift#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the managed resource.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.arczonalshift#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the managed resource.</p>"
          }
        },
        "availabilityZones": {
          "target": "com.amazonaws.arczonalshift#AvailabilityZones",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zones that a resource is deployed in.</p>",
            "smithy.api#required": {}
          }
        },
        "appliedWeights": {
          "target": "com.amazonaws.arczonalshift#AppliedWeights",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key-value pairs that indicate whether resources are active in Availability Zones or not.  \n\t\t\tThe key name is the Availability Zone where the resource is deployed. The value is 1 or 0.</p>"
          }
        },
        "zonalShifts": {
          "target": "com.amazonaws.arczonalshift#ZonalShiftsInResource",
          "traits": {
            "smithy.api#documentation": "<p>An array of the zonal shifts for a resource.</p>"
          }
        },
        "autoshifts": {
          "target": "com.amazonaws.arczonalshift#AutoshiftsInResource",
          "traits": {
            "smithy.api#documentation": "<p>An array of the autoshifts that have been completed for a resource.</p>"
          }
        },
        "zonalAutoshiftStatus": {
          "target": "com.amazonaws.arczonalshift#ZonalAutoshiftStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of autoshift for a resource. When you configure zonal autoshift for a\n\t\t\tresource, you can set the value of the status to <code>ENABLED</code> or <code>DISABLED</code>.</p>"
          }
        },
        "practiceRunStatus": {
          "target": "com.amazonaws.arczonalshift#ZonalAutoshiftStatus",
          "traits": {
            "smithy.api#documentation": "<p>This status tracks whether a practice run configuration exists for a resource. When you configure\n\t\t\ta practice run for a resource so that a practice run configuration exists, ARC sets this value to \n\t\t\t<code>ENABLED</code>. If a you have not configured a practice run for the resource, or delete a practice \n\t\t\trun configuration, ARC sets the value to <code>DISABLED</code>.</p>\n         <p>ARC updates this status; you can't set a practice run status to <code>ENABLED</code> or \n\t\t\t<code>DISABLED</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex structure for a managed resource in an Amazon Web Services account with information about zonal shifts\n   \t\tand autoshifts.</p>\n         <p>A managed resource is a load balancer that has been registered \n   \t\twith ARC by Elastic Load Balancing. You can start a zonal shift in ARC for a managed resource to \n   \t\ttemporarily move traffic for the resource away from an Availability Zone in an Amazon Web Services Region.\n   \t\tYou can also configure zonal autoshift for a managed resource.</p>\n         <note>\n            <p>At this time, managed resources are Network Load Balancers and Application Load Balancers with cross-zone load balancing turned off.</p>\n         </note>"
      }
    },
    "com.amazonaws.arczonalshift#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.arczonalshift#MetricIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 8,
          "max": 1024
        },
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.arczonalshift#PercDataPlane": {
      "type": "service",
      "version": "2022-10-30",
      "resources": [
        {
          "target": "com.amazonaws.arczonalshift#Autoshift"
        },
        {
          "target": "com.amazonaws.arczonalshift#AutoshiftObserverNotification"
        },
        {
          "target": "com.amazonaws.arczonalshift#AutoshiftTriggerResource"
        },
        {
          "target": "com.amazonaws.arczonalshift#ManagedResource"
        },
        {
          "target": "com.amazonaws.arczonalshift#PracticeRunConfigurationResource"
        },
        {
          "target": "com.amazonaws.arczonalshift#ZonalShiftResource"
        },
        {
          "target": "com.amazonaws.arczonalshift#ZonalShifts"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ARC Zonal Shift",
          "endpointPrefix": "arc-zonal-shift",
          "cloudFormationName": "ARCZonalShift"
        },
        "aws.auth#sigv4": {
          "name": "arc-zonal-shift"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*",
            "Authorization",
            "Date",
            "X-Amz-Date",
            "X-Amz-Security-Token",
            "X-Amz-Target",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-user-agent",
            "x-amzn-platform-id",
            "x-amzn-trace-id"
          ],
          "additionalExposedHeaders": [
            "x-amzn-ErrorType",
            "x-amzn-RequestId",
            "x-amzn-ErrorMessage",
            "x-amzn-trace-id",
            "Date"
          ]
        },
        "smithy.api#documentation": "<p>Welcome to the API Reference Guide for zonal shift and zonal autoshift in Amazon Route 53 Application Recovery Controller (ARC).</p>\n         <p>You can start a zonal shift to move traffic for a load balancer resource away from an Availability Zone to\n\t\t\thelp your application recover quickly from an impairment in an Availability Zone. For example, \n\t\t\tyou can recover your application from a developer's bad code deployment or from an \n\t\t\tAmazon Web Services infrastructure failure in a single Availability Zone.</p>\n         <p>You can also configure zonal autoshift for supported load balancer resources. Zonal autoshift \n\t\t\tis a capability in ARC where you authorize Amazon Web Services to shift away application resource \n\t\t\ttraffic from an Availability Zone during events, on your behalf, to help reduce your time to recovery.\n\t\t\tAmazon Web Services starts an autoshift when internal telemetry indicates that there is an Availability \n\t\t\tZone impairment that could potentially impact customers.</p>\n         <p>To help make sure that zonal autoshift is safe for your application, you must \n\t\t\talso configure practice runs when you enable zonal autoshift for a resource. Practice runs start \n\t\t\tweekly zonal shifts for a resource, to shift traffic for the resource away from an Availability Zone. \n\t\t\tPractice runs help you to make sure, on a regular basis, that you have enough capacity in all the \n\t\t\tAvailability Zones in an Amazon Web Services Region for your application to continue to operate normally \n\t\t\twhen traffic for a resource is shifted away from one Availability Zone.</p>\n         <important>\n            <p>Before you configure practice runs or enable zonal autoshift, we strongly recommend\n\t\t\tthat you prescale your application resource capacity in all Availability Zones in the Region where \n\t\t\tyour application resources are deployed. You should not rely on scaling on demand when an \n\t\t\tautoshift or practice run starts. Zonal autoshift, including practice runs, works independently, \n\t\t\tand does not wait for auto scaling actions to complete. Relying on auto scaling, instead of \n\t\t\tpre-scaling, can result in loss of availability.</p>\n            <p>If you use auto scaling to handle regular cycles of traffic, we strongly recommend that you configure \n\t\t\t\tthe minimum capacity of your auto scaling to continue operating normally with the loss of an \n\t\t\t\tAvailability Zone. </p>\n         </important>\n         <p>Be aware that ARC does not inspect the health of individual resources. Amazon Web Services only starts an \n\t\t\tautoshift when Amazon Web Services telemetry detects that there is an Availability Zone impairment that could \n\t\t\tpotentially impact customers. In some cases, resources might be shifted away that are not experiencing \n\t\t\timpact.</p>\n         <p>For more information about using zonal shift and zonal autoshift, see the \n\t\t\t<a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/what-is-route53-recovery.html\">Amazon Route 53 Application Recovery Controller \n\t\t\t\tDeveloper Guide</a>.</p>",
        "smithy.api#title": "AWS ARC - Zonal Shift",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://arc-zonal-shift-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://arc-zonal-shift-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://arc-zonal-shift.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://arc-zonal-shift.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-zonal-shift-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-zonal-shift-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-zonal-shift.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-zonal-shift.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-zonal-shift-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-zonal-shift-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-zonal-shift.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-zonal-shift.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-zonal-shift-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-zonal-shift-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-zonal-shift.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-zonal-shift.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-zonal-shift-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-zonal-shift.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-zonal-shift-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-zonal-shift.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.arczonalshift#PracticeRunConfiguration": {
      "type": "structure",
      "members": {
        "blockingAlarms": {
          "target": "com.amazonaws.arczonalshift#ControlConditions",
          "traits": {
            "smithy.api#documentation": "<p>The <i>blocking alarm</i> for practice runs is an optional alarm that you can \n\t\t\tspecify that blocks practice runs when the alarm is in an <code>ALARM</code> state.</p>"
          }
        },
        "outcomeAlarms": {
          "target": "com.amazonaws.arczonalshift#ControlConditions",
          "traits": {
            "smithy.api#documentation": "<p>The <i>outcome alarm</i> for practice runs is an alarm that you specify that \n\t\t\tends a practice run when the alarm is in an <code>ALARM</code> state.</p>",
            "smithy.api#required": {}
          }
        },
        "blockedWindows": {
          "target": "com.amazonaws.arczonalshift#BlockedWindows",
          "traits": {
            "smithy.api#documentation": "<p>An array of one or more windows of days and times that you can block ARC\n\t\t\tfrom starting practice runs for a resource.</p>\n         <p>Specify the blocked windows in UTC, using the format <code>DAY:HH:MM-DAY:HH:MM</code>, separated by \n\t\t\tspaces. For example, <code>MON:18:30-MON:19:30 TUE:18:30-TUE:19:30</code>.</p>"
          }
        },
        "blockedDates": {
          "target": "com.amazonaws.arczonalshift#BlockedDates",
          "traits": {
            "smithy.api#default": [],
            "smithy.api#documentation": "<p>An array of one or more dates that you can specify when Amazon Web Services does not start practice runs for a resource.</p>\n         <p>Specify blocked dates, in UTC, in the format <code>YYYY-MM-DD</code>, separated by spaces. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A practice run configuration for a resource includes the Amazon CloudWatch alarms that you've specified for a practice\n\t\trun, as well as any blocked dates or blocked windows for the practice run. When a resource has a practice run \n\t\tconfiguration, ARC shifts traffic for the resource weekly for practice runs.</p>\n         <p>Practice runs are required for zonal autoshift. The zonal shifts that ARC starts for practice runs help you to ensure that \n\t\t\tshifting away traffic from an Availability Zone during an autoshift is safe for your application.</p>\n         <p>You can update or delete a practice run configuration. Before you delete a practice run configuration, you\n\t\t\tmust disable zonal autoshift for the resource. A practice run configuration is required when zonal autoshift is enabled.</p>"
      }
    },
    "com.amazonaws.arczonalshift#PracticeRunConfigurationResource": {
      "type": "resource",
      "identifiers": {
        "resourceIdentifier": {
          "target": "com.amazonaws.arczonalshift#ResourceIdentifier"
        }
      },
      "update": {
        "target": "com.amazonaws.arczonalshift#UpdatePracticeRunConfiguration"
      },
      "delete": {
        "target": "com.amazonaws.arczonalshift#DeletePracticeRunConfiguration"
      },
      "operations": [
        {
          "target": "com.amazonaws.arczonalshift#CreatePracticeRunConfiguration"
        }
      ],
      "traits": {
        "aws.cloudformation#cfnResource": {
          "name": "ZonalAutoshiftConfiguration"
        }
      }
    },
    "com.amazonaws.arczonalshift#PracticeRunOutcome": {
      "type": "enum",
      "members": {
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "INTERRUPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERRUPTED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        }
      }
    },
    "com.amazonaws.arczonalshift#ResourceArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 8,
          "max": 1024
        },
        "smithy.api#pattern": "^arn:.*$"
      }
    },
    "com.amazonaws.arczonalshift#ResourceIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 8,
          "max": 1024
        }
      }
    },
    "com.amazonaws.arczonalshift#ResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.arczonalshift#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input requested a resource that was not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.arczonalshift#ShiftType": {
      "type": "enum",
      "members": {
        "ZONAL_SHIFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZONAL_SHIFT"
          }
        },
        "PRACTICE_RUN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRACTICE_RUN"
          }
        },
        "FIS_EXPERIMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIS_EXPERIMENT"
          }
        },
        "ZONAL_AUTOSHIFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZONAL_AUTOSHIFT"
          }
        }
      }
    },
    "com.amazonaws.arczonalshift#StartTime": {
      "type": "timestamp"
    },
    "com.amazonaws.arczonalshift#StartZonalShift": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.arczonalshift#StartZonalShiftRequest"
      },
      "output": {
        "target": "com.amazonaws.arczonalshift#ZonalShift"
      },
      "errors": [
        {
          "target": "com.amazonaws.arczonalshift#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ConflictException"
        },
        {
          "target": "com.amazonaws.arczonalshift#InternalServerException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ThrottlingException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>You start a zonal shift to temporarily move load balancer traffic away from an Availability Zone in an Amazon Web Services Region,\n   \t\tto help your application recover immediately, for example, from a developer's bad code deployment or from an Amazon Web Services \n   \t\tinfrastructure failure in a single Availability Zone. You can start a zonal shift in ARC only for managed\n   \t\tresources in your Amazon Web Services account in an Amazon Web Services Region. Resources are automatically registered with ARC \n   \t\tby Amazon Web Services services.</p>\n         <p>At this time, you can only start a zonal shift for Network Load Balancers and Application Load Balancers with cross-zone load balancing turned off.</p>\n         <p>When you start a zonal shift, traffic for the resource is no longer routed to the Availability Zone. The\n   \t\tzonal shift is created immediately in ARC. However, it can take a short time, typically up to a few minutes,\n   \t\tfor existing, in-progress connections in the Availability Zone to complete.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/arc-zonal-shift.html\">Zonal shift</a>\n   \t\tin the Amazon Route 53 Application Recovery Controller Developer Guide.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/zonalshifts",
          "code": 201
        }
      }
    },
    "com.amazonaws.arczonalshift#StartZonalShiftRequest": {
      "type": "structure",
      "members": {
        "resourceIdentifier": {
          "target": "com.amazonaws.arczonalshift#ResourceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the resource that Amazon Web Services shifts traffic for. The identifier is the Amazon Resource Name (ARN) for the resource.</p>\n         <p>At this time, supported resources are Network Load Balancers and Application Load Balancers with cross-zone load balancing turned off.</p>",
            "smithy.api#required": {}
          }
        },
        "awayFrom": {
          "target": "com.amazonaws.arczonalshift#AvailabilityZone",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone (for example, <code>use1-az1</code>) that traffic is moved away from for a resource when you start a zonal shift. \n   \t\tUntil the zonal shift expires or you cancel it, traffic for the resource is instead moved to other Availability Zones in the Amazon Web Services Region.</p>",
            "smithy.api#required": {}
          }
        },
        "expiresIn": {
          "target": "com.amazonaws.arczonalshift#ExpiresIn",
          "traits": {
            "smithy.api#documentation": "<p>The length of time that you want a zonal shift to be active, which ARC converts to an expiry time (expiration time).\n\t\tZonal shifts are temporary. You can set a zonal shift to be active initially for up to three days (72 hours).</p>\n         <p>If you want to still keep traffic away from an Availability Zone, you can update the \n\t\tzonal shift and set a new expiration. You can also cancel a zonal shift, before it expires, for example, if you're ready to \n\t\trestore traffic to the Availability Zone.</p>\n         <p>To set a length of time for a zonal shift to be active, specify a whole number, and then one of the following, with no space:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>A lowercase letter m:</b> To specify that the value is in minutes.</p>\n            </li>\n            <li>\n               <p>\n                  <b>A lowercase letter h:</b> To specify that the value is in hours.</p>\n            </li>\n         </ul>\n         <p>For example: <code>20h</code> means the zonal shift expires in 20 hours. <code>120m</code> means the zonal shift expires in 120 minutes (2 hours).</p>",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "com.amazonaws.arczonalshift#ZonalShiftComment",
          "traits": {
            "smithy.api#documentation": "<p>A comment that you enter about the zonal shift. Only the latest comment is retained; no comment\n   \t\thistory is maintained. A new comment overwrites any existing comment string.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.arczonalshift#ZonalShifts"
          }
        ]
      }
    },
    "com.amazonaws.arczonalshift#ThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied due to request throttling.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.arczonalshift#UpdateAutoshiftObserverNotificationStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.arczonalshift#UpdateAutoshiftObserverNotificationStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.arczonalshift#UpdateAutoshiftObserverNotificationStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.arczonalshift#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.arczonalshift#InternalServerException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ThrottlingException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Update the status of autoshift observer notification. Autoshift observer\n\t\t\tnotification enables you to be notified, through Amazon EventBridge, when\n\t\t\tthere is an autoshift event for zonal autoshift.</p>\n         <p>If the status is <code>ENABLED</code>,\n\t\t\tARC includes all autoshift events when you use the EventBridge pattern\n\t\t\t<code>Autoshift In Progress</code>. When the status is <code>DISABLED</code>,\n\t\t\tARC includes only autoshift events for autoshifts when one or more of your\n\t\t\tresources is included in the autoshift.</p>\n         <p>For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/arc-zonal-autoshift.how-it-works.html#ZAShiftNotification\">\n\t\t\t\tNotifications for practice runs and autoshifts</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/autoshift-observer-notification",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.arczonalshift#UpdateAutoshiftObserverNotificationStatusRequest": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.arczonalshift#AutoshiftObserverNotificationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status to set for autoshift observer notification. If the status is <code>ENABLED</code>,\n\t\t\tARC includes all autoshift events when you use the Amazon EventBridge pattern\n\t\t\t<code>Autoshift In Progress</code>. When the status is <code>DISABLED</code>,\n\t\t\tARC includes only autoshift events for autoshifts when one or more of your\n\t\t\tresources is included in the autoshift. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.arczonalshift#AutoshiftObserverNotification"
          }
        ]
      }
    },
    "com.amazonaws.arczonalshift#UpdateAutoshiftObserverNotificationStatusResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.arczonalshift#AutoshiftObserverNotificationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status for autoshift observer notification.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.arczonalshift#UpdatePracticeRunConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.arczonalshift#UpdatePracticeRunConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.arczonalshift#UpdatePracticeRunConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.arczonalshift#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ConflictException"
        },
        {
          "target": "com.amazonaws.arczonalshift#InternalServerException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ThrottlingException"
        },
        {
          "target": "com.amazonaws.arczonalshift#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Update a practice run configuration to change one or more of the following: add, \n\t\t\tchange, or remove the blocking alarm; change the outcome alarm; or add, change, \n\t\t\tor remove blocking dates or time windows.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/configuration/{resourceIdentifier}",
          "code": 200
        }
      }
    },
    "com.amazonaws.arczonalshift#UpdatePracticeRunConfigurationRequest": {
      "type": "structure",
      "members": {
        "resourceIdentifier": {
          "target": "com.amazonaws.arczonalshift#ResourceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the resource that you want to update the practice\n\t\t\trun configuration for. The identifier is the Amazon Resource Name (ARN) for the resource.</p>",
[...]
