{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.arcregionswitch#AbbreviatedExecution": {
      "type": "structure",
      "members": {
        "planArn": {
          "target": "com.amazonaws.arcregionswitch#PlanArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the plan.</p>",
            "smithy.api#required": {}
          }
        },
        "executionId": {
          "target": "com.amazonaws.arcregionswitch#ExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The execution identifier of a plan execution.</p>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The version for the plan.</p>"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The timestamp when the plan execution was last updated.</p>"
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional comment about the plan execution.</p>"
          }
        },
        "startTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the plan execution was started.</p>",
            "smithy.api#required": {}
          }
        },
        "endTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the plan execution was ended.</p>"
          }
        },
        "mode": {
          "target": "com.amazonaws.arcregionswitch#ExecutionMode",
          "traits": {
            "smithy.api#documentation": "<p>The plan execution mode. Valid values are <code>Practice</code>, for testing without making actual changes, or <code>Recovery</code>, for actual traffic shifting and application recovery.</p>",
            "smithy.api#required": {}
          }
        },
        "executionState": {
          "target": "com.amazonaws.arcregionswitch#ExecutionState",
          "traits": {
            "smithy.api#documentation": "<p>The plan execution state. Provides the state of a plan execution, for example, In Progress or Paused by Operator.</p>",
            "smithy.api#required": {}
          }
        },
        "executionAction": {
          "target": "com.amazonaws.arcregionswitch#ExecutionAction",
          "traits": {
            "smithy.api#documentation": "<p>The plan execution action. Valid values are <code>Activate</code>, to activate an Amazon Web Services Region, or <code>Deactivate</code>, to deactivate a Region.</p>",
            "smithy.api#required": {}
          }
        },
        "executionRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region for a plan execution.</p>",
            "smithy.api#required": {}
          }
        },
        "actualRecoveryTime": {
          "target": "com.amazonaws.arcregionswitch#Duration",
          "traits": {
            "smithy.api#documentation": "<p>The actual recovery time that Region switch calculates for a plan execution. Actual recovery time includes the time for the plan to run added to the time elapsed until the application health alarms that you've specified are healthy again.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summarized representation of a plan execution. This structure contains key information about an execution without all the detailed step data.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#AbbreviatedExecutionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.arcregionswitch#AbbreviatedExecution"
      }
    },
    "com.amazonaws.arcregionswitch#AbbreviatedPlan": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.arcregionswitch#PlanArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Region switch plan.</p>",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.amazonaws.arcregionswitch#AccountId",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The owner of a Region switch plan.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.arcregionswitch#PlanName",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The name of a Region switch plan.</p>",
            "smithy.api#required": {}
          }
        },
        "regions": {
          "target": "com.amazonaws.arcregionswitch#RegionList",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The Amazon Web Services Region specified for a Region switch plan.</p>",
            "smithy.api#required": {}
          }
        },
        "recoveryApproach": {
          "target": "com.amazonaws.arcregionswitch#RecoveryApproach",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The recovery approach for a Region switch plan, which can be active/active (activeActive) or active/passive (activePassive).</p>",
            "smithy.api#required": {}
          }
        },
        "primaryRegion": {
          "target": "com.amazonaws.arcregionswitch#Region",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The primary Region for a plan.</p>"
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The version for the plan.</p>"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The timestamp when the plan execution was last updated.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of a Region switch plan.</p>"
          }
        },
        "executionRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The execution role is a way to categorize a Region switch plan. </p>"
          }
        },
        "activePlanExecution": {
          "target": "com.amazonaws.arcregionswitch#ExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies if this is the active plan execution at this time.</p>"
          }
        },
        "recoveryTimeObjectiveMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The recovery time objective that you've specified.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 10080
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summarized representation of a Region switch plan. This structure contains key information about a plan without all the detailed workflow and step data.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p> <p>HTTP Status Code: 403</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.arcregionswitch#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.arcregionswitch#AlarmCondition": {
      "type": "enum",
      "members": {
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "red"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "green"
          }
        }
      }
    },
    "com.amazonaws.arcregionswitch#AlarmType": {
      "type": "enum",
      "members": {
        "APPLICATION_HEALTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "applicationHealth"
          }
        },
        "TRIGGER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "trigger"
          }
        }
      }
    },
    "com.amazonaws.arcregionswitch#Approval": {
      "type": "enum",
      "members": {
        "APPROVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approve"
          }
        },
        "DECLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "decline"
          }
        }
      }
    },
    "com.amazonaws.arcregionswitch#ApprovePlanExecutionStep": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.arcregionswitch#ApprovePlanExecutionStepRequest"
      },
      "output": {
        "target": "com.amazonaws.arcregionswitch#ApprovePlanExecutionStepResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.arcregionswitch#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.arcregionswitch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to approve a plan execution step"
        },
        "smithy.api#documentation": "<p>Approves a step in a plan execution that requires manual approval. When you create a plan, you can include approval steps that require manual intervention before the execution can proceed. This operation allows you to provide that approval.</p> <p>You must specify the plan ARN, execution ID, step name, and approval status. You can also provide an optional comment explaining the approval decision.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#ApprovePlanExecutionStepRequest": {
      "type": "structure",
      "members": {
        "planArn": {
          "target": "com.amazonaws.arcregionswitch#PlanArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the plan.</p>",
            "smithy.api#required": {}
          }
        },
        "executionId": {
          "target": "com.amazonaws.arcregionswitch#ExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The execution identifier of a plan execution.</p>",
            "smithy.api#required": {}
          }
        },
        "stepName": {
          "target": "com.amazonaws.arcregionswitch#StepName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a step in a plan execution.</p>",
            "smithy.api#required": {}
          }
        },
        "approval": {
          "target": "com.amazonaws.arcregionswitch#Approval",
          "traits": {
            "smithy.api#documentation": "<p>The status of approval for a plan execution step. </p>",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "com.amazonaws.arcregionswitch#ExecutionComment",
          "traits": {
            "smithy.api#documentation": "<p>A comment that you can enter about a plan execution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.arcregionswitch#ApprovePlanExecutionStepResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.arcregionswitch#ArcRegionSwitch": {
      "type": "service",
      "version": "2022-07-26",
      "operations": [
        {
          "target": "com.amazonaws.arcregionswitch#ApprovePlanExecutionStep"
        },
        {
          "target": "com.amazonaws.arcregionswitch#CancelPlanExecution"
        },
        {
          "target": "com.amazonaws.arcregionswitch#GetPlanEvaluationStatus"
        },
        {
          "target": "com.amazonaws.arcregionswitch#GetPlanExecution"
        },
        {
          "target": "com.amazonaws.arcregionswitch#GetPlanInRegion"
        },
        {
          "target": "com.amazonaws.arcregionswitch#ListPlanExecutionEvents"
        },
        {
          "target": "com.amazonaws.arcregionswitch#ListPlanExecutions"
        },
        {
          "target": "com.amazonaws.arcregionswitch#ListPlansInRegion"
        },
        {
          "target": "com.amazonaws.arcregionswitch#ListRoute53HealthChecks"
        },
        {
          "target": "com.amazonaws.arcregionswitch#ListRoute53HealthChecksInRegion"
        },
        {
          "target": "com.amazonaws.arcregionswitch#StartPlanExecution"
        },
        {
          "target": "com.amazonaws.arcregionswitch#UpdatePlanExecution"
        },
        {
          "target": "com.amazonaws.arcregionswitch#UpdatePlanExecutionStep"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.arcregionswitch#RegionSwitchPlan"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ARC Region switch",
          "endpointPrefix": "arc-region-switch",
          "arnNamespace": "arc-region-switch",
          "cloudFormationName": "ARCRegionSwitch"
        },
        "aws.auth#sigv4": {
          "name": "arc-region-switch"
        },
        "aws.endpoints#dualStackOnlyEndpoints": {},
        "aws.endpoints#rulesBasedEndpoints": {},
        "aws.endpoints#standardRegionalEndpoints": {},
        "aws.iam#defineConditionKeys": {
          "aws:ResourceTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by a tag's key and value in a request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-resourcetag"
          },
          "aws:RequestTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by tag key-value pairs attached to the resource",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
          },
          "aws:TagKeys": {
            "type": "ArrayOfString",
            "documentation": "Filters access by the presence of tag keys in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-tagkeys"
          }
        },
        "aws.iam#supportedPrincipalTypes": ["Root", "IAMUser", "IAMRole", "FederatedUser"],
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<p>Amazon Application Recovery Controller (ARC) Region switch helps you to quickly and reliably shift traffic away from an impaired Amazon Web Services Region to a healthy Region. With Region switch, you can create plans that define the steps to shift traffic for your application from one Amazon Web Services Region to another. You can test your plans in practice mode before using them in a real recovery scenario.</p> <p>Region switch provides a structured approach to multi-Region failover, helping you to meet your recovery time objectives (RTOs) and maintain business continuity during regional disruptions.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/region-switch.html\">Region switch in ARC</a> in the <i>Amazon Application Recovery Controller User Guide</i>.</p>",
        "smithy.api#title": "ARC - Region switch",
        "smithy.protocols#rpcv2Cbor": {},
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            },
            "UseControlPlaneEndpoint": {
              "required": false,
              "documentation": "Whether the operation is a control plane operation. Control plane operations are routed to a centralized endpoint in the partition leader.",
              "type": "boolean"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "UseControlPlaneEndpoint"
                    }
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "UseControlPlaneEndpoint"
                    },
                    true
                  ]
                },
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                },
                {
                  "fn": "not",
                  "argv": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ]
                },
                {
                  "fn": "not",
                  "argv": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                },
                {
                  "fn": "stringEquals",
                  "argv": [
                    {
                      "fn": "getAttr",
                      "argv": [
                        {
                          "ref": "PartitionResult"
                        },
                        "name"
                      ]
                    },
                    "aws-cn"
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://arc-region-switch-control-plane.cn-north-1.{PartitionResult#dualStackDnsSuffix}",
                    "properties": {
                      "authSchemes": [
                        {
                          "name": "sigv4",
                          "signingName": "arc-region-switch",
                          "signingRegion": "cn-north-1"
                        }
                      ]
                    },
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "not",
                  "argv": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "UseControlPlaneEndpoint"
                    }
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "UseControlPlaneEndpoint"
                    },
                    true
                  ]
                },
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "UseFIPS"
                    },
                    true
                  ]
                },
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws-cn"
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS is not supported in this partition",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://arc-region-switch-control-plane-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingName": "arc-region-switch",
                              "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "UseControlPlaneEndpoint"
                    }
                  ]
                },
                {
                  "fn": "booleanEquals",
                  "argv": [
                    {
                      "ref": "UseControlPlaneEndpoint"
                    },
                    true
                  ]
                },
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                },
                {
                  "fn": "not",
                  "argv": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ]
                },
                {
                  "fn": "not",
                  "argv": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "rules": [
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://arc-region-switch-control-plane.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}",
                    "properties": {
                      "authSchemes": [
                        {
                          "name": "sigv4",
                          "signingName": "arc-region-switch",
                          "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                        }
                      ]
                    },
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://arc-region-switch-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://arc-region-switch.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with region not set and fips disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-region-switch-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-region-switch.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-region-switch-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-region-switch.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-region-switch-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://arc-region-switch.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            },
            {
              "documentation": "Control plane operation with DualStack in us-west-2 routes to us-east-1 DualStack endpoint",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1",
                        "signingName": "arc-region-switch"
                      }
                    ]
                  },
                  "url": "https://arc-region-switch-control-plane.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseControlPlaneEndpoint": true
              }
            },
            {
              "documentation": "Control plane operation with endpoint set in us-east-1 routes to provided endpoint",
              "expect": {
                "endpoint": {
                  "url": "https://amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseControlPlaneEndpoint": true,
                "Endpoint": "https://amazonaws.com"
              }
            },
            {
              "documentation": "Control plane operation with endpoint set in us-west-2 routes to provided endpoint",
              "expect": {
                "endpoint": {
                  "url": "https://amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseControlPlaneEndpoint": true,
                "Endpoint": "https://amazonaws.com"
              }
            },
            {
              "documentation": "Control plane operation in us-west-2 (standard partition) routes to us-east-1",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1",
                        "signingName": "arc-region-switch"
                      }
                    ]
                  },
                  "url": "https://arc-region-switch-control-plane.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseControlPlaneEndpoint": true
              }
            },
            {
              "documentation": "Control plane operation in cn-north-1 (China partition) routes to cn-north-1 with China DNS suffix",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-north-1",
                        "signingName": "arc-region-switch"
                      }
                    ]
                  },
                  "url": "https://arc-region-switch-control-plane.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseControlPlaneEndpoint": true
              }
            },
            {
              "documentation": "Control plane operation in cn-northwest-1 (China partition) routes to cn-north-1 with China DNS suffix",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-north-1",
                        "signingName": "arc-region-switch"
                      }
                    ]
                  },
                  "url": "https://arc-region-switch-control-plane.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseControlPlaneEndpoint": true
              }
            },
            {
              "documentation": "Control plane operation in us-gov-west-1 (GovCloud partition) routes to us-gov-west-1 with GovCloud DNS suffix",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1",
                        "signingName": "arc-region-switch"
                      }
                    ]
                  },
                  "url": "https://arc-region-switch-control-plane.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseControlPlaneEndpoint": true
              }
            },
            {
              "documentation": "Control plane operation in us-gov-east-1 (GovCloud partition) routes to us-gov-west-1 with GovCloud DNS suffix",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1",
                        "signingName": "arc-region-switch"
                      }
                    ]
                  },
                  "url": "https://arc-region-switch-control-plane.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseControlPlaneEndpoint": true
              }
            },
            {
              "documentation": "Control plane operation with FIPS in us-west-2 routes to us-east-1 FIPS endpoint",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1",
                        "signingName": "arc-region-switch"
                      }
                    ]
                  },
                  "url": "https://arc-region-switch-control-plane-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseControlPlaneEndpoint": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "Control plane operation with FIPS in us-east-1 routes to us-east-1 FIPS endpoint",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1",
                        "signingName": "arc-region-switch"
                      }
                    ]
                  },
                  "url": "https://arc-region-switch-control-plane-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseControlPlaneEndpoint": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "Control plane operation with FIPS in CN returns an error",
              "expect": {
                "error": "Invalid Configuration: FIPS is not supported in this partition"
              },
              "params": {
                "Region": "cn-north-1",
                "UseControlPlaneEndpoint": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "Control plane operation with endpoint set using FIPS in us-east-1 errors",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseControlPlaneEndpoint": true,
                "UseFIPS": true,
                "Endpoint": "https://amazonaws.com"
              }
            },
            {
              "documentation": "Control plane operation with endpoint set using FIPS in us-west-2 routes to provided endpoint",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-west-2",
                "UseControlPlaneEndpoint": true,
                "UseFIPS": true,
                "Endpoint": "https://amazonaws.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.arcregionswitch#ArcRoutingControlConfiguration": {
      "type": "structure",
      "members": {
        "timeoutMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#default": 60,
            "smithy.api#documentation": "<p>The timeout value specified for the configuration.</p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        },
        "crossAccountRole": {
          "target": "com.amazonaws.arcregionswitch#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The cross account role for the configuration.</p>"
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The external ID (secret key) for the configuration.</p>"
          }
        },
        "regionAndRoutingControls": {
          "target": "com.amazonaws.arcregionswitch#RegionAndRoutingControls",
          "traits": {
            "smithy.api#documentation": "<p>The Region and ARC routing controls for the configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for ARC routing controls used in a Region switch plan. Routing controls are simple on/off switches that you can use to shift traffic away from an impaired Region.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#ArcRoutingControlState": {
      "type": "structure",
      "members": {
        "routingControlArn": {
          "target": "com.amazonaws.arcregionswitch#RoutingControlArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a routing control.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.arcregionswitch#RoutingControlStateChange",
          "traits": {
            "smithy.api#documentation": "<p>The state of an ARC routing control, On or Off.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the state of an ARC routing control.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#ArcRoutingControlStates": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.arcregionswitch#ArcRoutingControlState"
      }
    },
    "com.amazonaws.arcregionswitch#Asg": {
      "type": "structure",
      "members": {
        "crossAccountRole": {
          "target": "com.amazonaws.arcregionswitch#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The cross account role for the configuration.</p>"
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The external ID (secret key) for the configuration.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.arcregionswitch#AsgArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the EC2 Auto Scaling group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for an Amazon EC2 Auto Scaling group used in a Region switch plan.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#AsgArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[a-zA-Z-]*:autoscaling:[a-z0-9-]+:\\d{12}:autoScalingGroup:[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}:autoScalingGroupName/[\\S\\s]{1,255}$"
      }
    },
    "com.amazonaws.arcregionswitch#AsgList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.arcregionswitch#Asg"
      },
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2
        }
      }
    },
    "com.amazonaws.arcregionswitch#AssociatedAlarm": {
      "type": "structure",
      "members": {
        "crossAccountRole": {
          "target": "com.amazonaws.arcregionswitch#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The cross account role for the configuration.</p>"
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The external ID (secret key) for the configuration.</p>"
          }
        },
        "resourceIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource identifier for alarms that you associate with a plan.</p>",
            "smithy.api#required": {}
          }
        },
        "alarmType": {
          "target": "com.amazonaws.arcregionswitch#AlarmType",
          "traits": {
            "smithy.api#documentation": "<p>The alarm type for an associated alarm. An associated CloudWatch alarm can be an application health alarm or a trigger alarm.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Amazon CloudWatch alarm associated with a Region switch plan. These alarms can be used to trigger automatic execution of the plan.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#AssociatedAlarmMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.arcregionswitch#AssociatedAlarm"
      }
    },
    "com.amazonaws.arcregionswitch#AuroraClusterArn": {
      "type": "string"
    },
    "com.amazonaws.arcregionswitch#AuroraClusterArns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.arcregionswitch#AuroraClusterArn"
      }
    },
    "com.amazonaws.arcregionswitch#CancelPlanExecution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.arcregionswitch#CancelPlanExecutionRequest"
      },
      "output": {
        "target": "com.amazonaws.arcregionswitch#CancelPlanExecutionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.arcregionswitch#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.arcregionswitch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to cancel a plan execution"
        },
        "smithy.api#documentation": "<p>Cancels an in-progress plan execution. This operation stops the execution of the plan and prevents any further steps from being processed.</p> <p>You must specify the plan ARN and execution ID. You can also provide an optional comment explaining why the execution was canceled.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#CancelPlanExecutionRequest": {
      "type": "structure",
      "members": {
        "planArn": {
          "target": "com.amazonaws.arcregionswitch#PlanArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the plan.</p>",
            "smithy.api#required": {}
          }
        },
        "executionId": {
          "target": "com.amazonaws.arcregionswitch#ExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The execution identifier of a plan execution.</p>",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "com.amazonaws.arcregionswitch#ExecutionComment",
          "traits": {
            "smithy.api#documentation": "<p>A comment that you can enter about canceling a plan execution step.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.arcregionswitch#CancelPlanExecutionResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.arcregionswitch#CreatePlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.arcregionswitch#CreatePlanRequest"
      },
      "output": {
        "target": "com.amazonaws.arcregionswitch#CreatePlanResponse"
      },
      "traits": {
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a plan"
        },
        "smithy.api#documentation": "<p>Creates a new Region switch plan. A plan defines the steps required to shift traffic from one Amazon Web Services Region to another.</p> <p>You must specify a name for the plan, the primary Region, and at least one additional Region. You can also provide a description, execution role, recovery time objective, associated alarms, triggers, and workflows that define the steps to execute during a Region switch.</p>",
        "smithy.rules#staticContextParams": {
          "UseControlPlaneEndpoint": {
            "value": true
          }
        }
      }
    },
    "com.amazonaws.arcregionswitch#CreatePlanRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The description of a Region switch plan.</p>"
          }
        },
        "workflows": {
          "target": "com.amazonaws.arcregionswitch#WorkflowList",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>An array of workflows included in a Region switch plan.</p>",
            "smithy.api#required": {}
          }
        },
        "executionRole": {
          "target": "com.amazonaws.arcregionswitch#IamRoleArn",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>An execution role is a way to categorize a Region switch plan.</p>",
            "smithy.api#required": {}
          }
        },
        "recoveryTimeObjectiveMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>Optionally, you can specify an recovery time objective for a Region switch plan, in minutes.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 10080
            }
          }
        },
        "associatedAlarms": {
          "target": "com.amazonaws.arcregionswitch#AssociatedAlarmMap",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The alarms associated with a Region switch plan.</p>"
          }
        },
        "triggers": {
          "target": "com.amazonaws.arcregionswitch#TriggerList",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The triggers associated with a Region switch plan.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.arcregionswitch#PlanName",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The name of a Region switch plan.</p>",
            "smithy.api#required": {}
          }
        },
        "regions": {
          "target": "com.amazonaws.arcregionswitch#RegionList",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>An array that specifies the Amazon Web Services Regions for a Region switch plan. Specify two Regions.</p>",
            "smithy.api#required": {}
          }
        },
        "recoveryApproach": {
          "target": "com.amazonaws.arcregionswitch#RecoveryApproach",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The recovery approach for a Region switch plan, which can be active/active (activeActive) or active/passive (activePassive).</p>",
            "smithy.api#required": {}
          }
        },
        "primaryRegion": {
          "target": "com.amazonaws.arcregionswitch#Region",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The primary Amazon Web Services Region for the application. This is the Region where the application normally runs before any Region switch occurs.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.arcregionswitch#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the Region switch plan.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.arcregionswitch#CreatePlanResponse": {
      "type": "structure",
      "members": {
        "plan": {
          "target": "com.amazonaws.arcregionswitch#Plan",
          "traits": {
            "smithy.api#documentation": "<p>The details of the created Region switch plan.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.arcregionswitch#CustomActionLambdaConfiguration": {
      "type": "structure",
      "members": {
        "timeoutMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#default": 60,
            "smithy.api#documentation": "<p>The timeout value specified for the configuration.</p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        },
        "lambdas": {
          "target": "com.amazonaws.arcregionswitch#LambdaList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Lambda functions for the execution block.</p>",
            "smithy.api#required": {}
          }
        },
        "retryIntervalMinutes": {
          "target": "smithy.api#Float",
          "traits": {
            "smithy.api#documentation": "<p>The retry interval specified.</p>",
            "smithy.api#required": {}
          }
        },
        "regionToRun": {
          "target": "com.amazonaws.arcregionswitch#RegionToRunIn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region for the function to run in.</p>",
            "smithy.api#required": {}
          }
        },
        "ungraceful": {
          "target": "com.amazonaws.arcregionswitch#LambdaUngraceful",
          "traits": {
            "smithy.api#documentation": "<p>The settings for ungraceful execution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for Amazon Web Services Lambda functions that perform custom actions during a Region switch.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#DeletePlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.arcregionswitch#DeletePlanRequest"
      },
      "output": {
        "target": "com.amazonaws.arcregionswitch#DeletePlanResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.arcregionswitch#IllegalStateException"
        },
        {
          "target": "com.amazonaws.arcregionswitch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete a plan"
        },
        "smithy.api#documentation": "<p>Deletes a Region switch plan. You must specify the ARN of the plan to delete.</p> <p>You cannot delete a plan that has an active execution in progress.</p>",
        "smithy.api#idempotent": {},
        "smithy.rules#staticContextParams": {
          "UseControlPlaneEndpoint": {
            "value": true
          }
        }
      }
    },
    "com.amazonaws.arcregionswitch#DeletePlanRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.arcregionswitch#PlanArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the plan.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.arcregionswitch#DeletePlanResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.arcregionswitch#Duration": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^P(?!$)(\\d+Y)?(\\d+M)?(\\d+D)?(T(?=\\d)(\\d+H)?(\\d+M)?(\\d+S)?)?$"
      }
    },
    "com.amazonaws.arcregionswitch#Ec2AsgCapacityIncreaseConfiguration": {
      "type": "structure",
      "members": {
        "timeoutMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#default": 60,
            "smithy.api#documentation": "<p>The timeout value specified for the configuration.</p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        },
        "asgs": {
          "target": "com.amazonaws.arcregionswitch#AsgList",
          "traits": {
            "smithy.api#documentation": "<p>The EC2 Auto Scaling groups for the configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "ungraceful": {
          "target": "com.amazonaws.arcregionswitch#Ec2Ungraceful",
          "traits": {
            "smithy.api#documentation": "<p>The settings for ungraceful execution.</p>"
          }
        },
        "targetPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#default": 100,
            "smithy.api#documentation": "<p>The target percentage that you specify for EC2 Auto Scaling groups.</p>"
          }
        },
        "capacityMonitoringApproach": {
          "target": "com.amazonaws.arcregionswitch#Ec2AsgCapacityMonitoringApproach",
          "traits": {
            "smithy.api#default": "sampledMaxInLast24Hours",
            "smithy.api#documentation": "<p>The monitoring approach that you specify EC2 Auto Scaling groups for the configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for increasing the capacity of Amazon EC2 Auto Scaling groups during a Region switch.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#Ec2AsgCapacityMonitoringApproach": {
      "type": "enum",
      "members": {
        "SAMPLED_MAX_IN_LAST_24_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sampledMaxInLast24Hours"
          }
        },
        "AUTOSCALING_MAX_IN_LAST_24_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "autoscalingMaxInLast24Hours"
          }
        }
      }
    },
    "com.amazonaws.arcregionswitch#Ec2Ungraceful": {
      "type": "structure",
      "members": {
        "minimumSuccessPercentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The minimum success percentage that you specify for EC2 Auto Scaling groups.</p>",
            "smithy.api#range": {
              "min": 0,
              "max": 99
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for handling failures when performing operations on EC2 resources.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#EcsCapacityIncreaseConfiguration": {
      "type": "structure",
      "members": {
        "timeoutMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#default": 60,
            "smithy.api#documentation": "<p>The timeout value specified for the configuration.</p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        },
        "services": {
          "target": "com.amazonaws.arcregionswitch#ServiceList",
          "traits": {
            "smithy.api#documentation": "<p>The services specified for the configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "ungraceful": {
          "target": "com.amazonaws.arcregionswitch#EcsUngraceful",
          "traits": {
            "smithy.api#documentation": "<p>The settings for ungraceful execution.</p>"
          }
        },
        "targetPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#default": 100,
            "smithy.api#documentation": "<p>The target percentage specified for the configuration.</p>"
          }
        },
        "capacityMonitoringApproach": {
          "target": "com.amazonaws.arcregionswitch#EcsCapacityMonitoringApproach",
          "traits": {
            "smithy.api#default": "sampledMaxInLast24Hours",
            "smithy.api#documentation": "<p>The monitoring approach specified for the configuration, for example, <code>Most_Recent</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for an Amazon Web Services ECS capacity increase.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#EcsCapacityMonitoringApproach": {
      "type": "enum",
      "members": {
        "SAMPLED_MAX_IN_LAST_24_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sampledMaxInLast24Hours"
          }
        },
        "CONTAINER_INSIGHTS_MAX_IN_LAST_24_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "containerInsightsMaxInLast24Hours"
          }
        }
      }
    },
    "com.amazonaws.arcregionswitch#EcsClusterArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[a-zA-Z-]*:ecs:[a-z0-9-]+:\\d{12}:cluster/[a-zA-Z0-9_-]{1,255}$"
      }
    },
    "com.amazonaws.arcregionswitch#EcsServiceArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[a-zA-Z-]*:ecs:[a-z0-9-]+:\\d{12}:service/[a-zA-Z0-9_-]+/[a-zA-Z0-9_-]{1,255}$"
      }
    },
    "com.amazonaws.arcregionswitch#EcsUngraceful": {
      "type": "structure",
      "members": {
        "minimumSuccessPercentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The minimum success percentage specified for the configuration.</p>",
            "smithy.api#range": {
              "min": 0,
              "max": 99
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The settings for ungraceful execution.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#EksCapacityMonitoringApproach": {
      "type": "enum",
      "members": {
        "SAMPLED_MAX_IN_LAST_24_HOURS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sampledMaxInLast24Hours"
          }
        }
      }
    },
    "com.amazonaws.arcregionswitch#EksCluster": {
      "type": "structure",
      "members": {
        "crossAccountRole": {
          "target": "com.amazonaws.arcregionswitch#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The cross account role for the configuration.</p>"
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The external ID (secret key) for the configuration.</p>"
          }
        },
        "clusterArn": {
          "target": "com.amazonaws.arcregionswitch#EksClusterArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Amazon Web Services EKS cluster.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Web Services EKS cluster execution block configuration.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#EksClusterArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[a-zA-Z-]*:eks:[a-z0-9-]+:\\d{12}:cluster/[a-zA-Z0-9][a-zA-Z0-9-_]{0,99}$"
      }
    },
    "com.amazonaws.arcregionswitch#EksClusters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.arcregionswitch#EksCluster"
      },
      "traits": {
        "smithy.api#length": {
          "min": 2
        }
      }
    },
    "com.amazonaws.arcregionswitch#EksResourceScalingConfiguration": {
      "type": "structure",
      "members": {
        "timeoutMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#default": 60,
            "smithy.api#documentation": "<p>The timeout value specified for the configuration.</p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        },
        "kubernetesResourceType": {
          "target": "com.amazonaws.arcregionswitch#KubernetesResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The Kubernetes resource type for the configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "scalingResources": {
          "target": "com.amazonaws.arcregionswitch#KubernetesScalingApps",
          "traits": {
            "smithy.api#documentation": "<p>The scaling resources for the configuration.</p>"
          }
        },
        "eksClusters": {
          "target": "com.amazonaws.arcregionswitch#EksClusters",
          "traits": {
            "smithy.api#documentation": "<p>The clusters for the configuration.</p>"
          }
        },
        "ungraceful": {
          "target": "com.amazonaws.arcregionswitch#EksResourceScalingUngraceful",
          "traits": {
            "smithy.api#documentation": "<p>The settings for ungraceful execution.</p>"
          }
        },
        "targetPercent": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#default": 100,
            "smithy.api#documentation": "<p>The target percentage for the configuration.</p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        },
        "capacityMonitoringApproach": {
          "target": "com.amazonaws.arcregionswitch#EksCapacityMonitoringApproach",
          "traits": {
            "smithy.api#default": "sampledMaxInLast24Hours",
            "smithy.api#documentation": "<p>The monitoring approach for the configuration, that is, whether it was sampled in the last 24 hours or autoscaled in the last 24 hours.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Web Services EKS resource scaling configuration.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#EksResourceScalingUngraceful": {
      "type": "structure",
      "members": {
        "minimumSuccessPercentage": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The minimum success percentage for the configuration.</p>",
            "smithy.api#range": {
              "min": 0,
              "max": 99
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The ungraceful settings for Amazon Web Services EKS resource scaling.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#EvaluationStatus": {
      "type": "enum",
      "members": {
        "PASSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "passed"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "actionRequired"
          }
        },
        "PENDING_EVALUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingEvaluation"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        }
      }
    },
    "com.amazonaws.arcregionswitch#ExecutionAction": {
      "type": "enum",
      "members": {
        "ACTIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "activate"
          }
        },
        "DEACTIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deactivate"
          }
        }
      }
    },
    "com.amazonaws.arcregionswitch#ExecutionApprovalConfiguration": {
      "type": "structure",
      "members": {
        "timeoutMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#default": 60,
            "smithy.api#documentation": "<p>The timeout value specified for the configuration.</p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        },
        "approvalRole": {
          "target": "com.amazonaws.arcregionswitch#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The IAM approval role for the configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for approval steps in a Region switch plan execution. Approval steps require manual intervention before the execution can proceed.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#ExecutionBlockConfiguration": {
      "type": "union",
      "members": {
        "customActionLambdaConfig": {
          "target": "com.amazonaws.arcregionswitch#CustomActionLambdaConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Web Services Lambda execution block.</p>"
          }
        },
        "ec2AsgCapacityIncreaseConfig": {
          "target": "com.amazonaws.arcregionswitch#Ec2AsgCapacityIncreaseConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>An EC2 Auto Scaling group execution block.</p>"
          }
        },
        "executionApprovalConfig": {
          "target": "com.amazonaws.arcregionswitch#ExecutionApprovalConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A manual approval execution block.</p>"
          }
        },
        "arcRoutingControlConfig": {
          "target": "com.amazonaws.arcregionswitch#ArcRoutingControlConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>An ARC routing control execution block.</p>"
          }
        },
        "globalAuroraConfig": {
          "target": "com.amazonaws.arcregionswitch#GlobalAuroraConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>An Aurora Global Database execution block.</p>"
          }
        },
        "parallelConfig": {
          "target": "com.amazonaws.arcregionswitch#ParallelExecutionBlockConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A parallel configuration execution block.</p>"
          }
        },
        "regionSwitchPlanConfig": {
          "target": "com.amazonaws.arcregionswitch#RegionSwitchPlanConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A Region switch plan execution block.</p>"
          }
        },
        "ecsCapacityIncreaseConfig": {
          "target": "com.amazonaws.arcregionswitch#EcsCapacityIncreaseConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The capacity increase specified for the configuration.</p>"
          }
        },
        "eksResourceScalingConfig": {
          "target": "com.amazonaws.arcregionswitch#EksResourceScalingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Web Services EKS resource scaling execution block.</p>"
          }
        },
        "route53HealthCheckConfig": {
          "target": "com.amazonaws.arcregionswitch#Route53HealthCheckConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Route 53 health check configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Execution block configurations for a workflow in a Region switch plan. An execution block represents a specific type of action to perform during a Region switch.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#ExecutionBlockType": {
      "type": "enum",
      "members": {
        "CUSTOM_ACTION_LAMBDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CustomActionLambda"
          }
        },
        "EXECUTION_APPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManualApproval"
          }
        },
        "AURORA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AuroraGlobalDatabase"
          }
        },
        "EC2_ASG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC2AutoScaling"
          }
        },
        "ROUTING_CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCRoutingControl"
          }
        },
        "REGION_SWITCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCRegionSwitchPlan"
          }
        },
        "PARALLEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Parallel"
          }
        },
        "ECS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECSServiceScaling"
          }
        },
        "EKS_RESOURCE_SCALING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EKSResourceScaling"
          }
        },
        "ROUTE53_HEALTH_CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Route53HealthCheck"
          }
        }
      }
    },
    "com.amazonaws.arcregionswitch#ExecutionComment": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 1024
        }
      }
    },
    "com.amazonaws.arcregionswitch#ExecutionEvent": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp for an execution event.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.arcregionswitch#ExecutionEventType",
          "traits": {
            "smithy.api#documentation": "<p>The type of an execution event.</p>"
          }
        },
        "stepName": {
          "target": "com.amazonaws.arcregionswitch#StepName",
          "traits": {
            "smithy.api#documentation": "<p>The step name for an execution event.</p>"
          }
        },
        "executionBlockType": {
          "target": "com.amazonaws.arcregionswitch#ExecutionBlockType",
          "traits": {
            "smithy.api#documentation": "<p>The execution block type for an execution event.</p>"
          }
        },
        "resources": {
          "target": "com.amazonaws.arcregionswitch#Resources",
          "traits": {
            "smithy.api#documentation": "<p>The resources for an execution event.</p>"
          }
        },
        "error": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Errors for an execution event.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description for an execution event.</p>"
          }
        },
        "eventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The event ID for an execution event.</p>",
            "smithy.api#required": {}
          }
        },
        "previousEventId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The event ID of the previous execution event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an event that occurred during a plan execution. These events provide a detailed timeline of the execution process.</p>"
      }
    },
    "com.amazonaws.arcregionswitch#ExecutionEventList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.arcregionswitch#ExecutionEvent"
      }
    },
    "com.amazonaws.arcregionswitch#ExecutionEventType": {
      "type": "enum",
      "members": {
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknown"
          }
        },
        "EXECUTION_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "executionPending"
          }
        },
        "EXECUTION_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "executionStarted"
          }
        },
        "EXECUTION_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "executionSucceeded"
          }
        },
        "EXECUTION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "executionFailed"
          }
        },
        "EXECUTION_PAUSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "executionPausing"
          }
        },
        "EXECUTION_PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "executionPaused"
          }
        },
        "EXECUTION_CANCELING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "executionCanceling"
          }
        },
        "EXECUTION_CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "executionCanceled"
          }
        },
        "EXECUTION_PENDING_APPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "executionPendingApproval"
          }
        },
        "EXECUTION_BEHAVIOR_CHANGED_TO_UNGRACEFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "executionBehaviorChangedToUngraceful"
          }
        },
        "EXECUTION_BEHAVIOR_CHANGED_TO_GRACEFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "executionBehaviorChangedToGraceful"
          }
        },
        "EXECUTION_PENDING_CHILD_PLAN_MANUAL_APPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "executionPendingChildPlanManualApproval"
          }
        },
        "EXECUTION_SUCCESS_MONITORING_APPLICATION_HEALTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "executionSuccessMonitoringApplicationHealth"
          }
        },
        "STEP_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stepStarted"
          }
        },
        "STEP_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stepUpdate"
          }
        },
        "STEP_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stepSucceeded"
          }
        },
        "STEP_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stepFailed"
          }
        },
        "STEP_SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stepSkipped"
          }
        },
        "STEP_PAUSED_BY_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stepPausedByError"
          }
        },
        "STEP_PAUSED_BY_OPERATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stepPausedByOperator"
          }
        },
        "STEP_CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stepCanceled"
          }
        },
        "STEP_PENDING_APPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stepPendingApproval"
          }
        },
        "STEP_EXECUTION_BEHAVIOR_CHANGED_TO_UNGRACEFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stepExecutionBehaviorChangedToUngraceful"
          }
        },
        "STEP_PENDING_APPLICATION_HEALTH_MONITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stepPendingApplicationHealthMonitor"
          }
        }
      }
    },
    "com.amazonaws.arcregionswitch#ExecutionId": {
      "type": "string"
    },
    "com.amazonaws.arcregionswitch#ExecutionMode": {
      "type": "enum",
      "members": {
        "GRACEFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "graceful"
          }
        },
        "UNGRACEFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ungraceful"
          }
        }
      }
    },
    "com.amazonaws.arcregionswitch#ExecutionState": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "inProgress"
          }
        },
        "PAUSED_BY_FAILED_STEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pausedByFailedStep"
          }
        },
        "PAUSED_BY_OPERATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pausedByOperator"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completed"
          }
        },
        "COMPLETED_WITH_EXCEPTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completedWithExceptions"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "canceled"
          }
        },
        "PLAN_EXECUTION_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "planExecutionTimedOut"
          }
        },
        "PENDING_MANUAL_APPROVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pendingManualApproval"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "COMPLETED_MONITORING_APPLICATION_HEALTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "completedMonitoringApplicationHealth"
          }
        }
      }
    },
    "com.amazonaws.arcregionswitch#GetPlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.arcregionswitch#GetPlanRequest"
      },
      "output": {
        "target": "com.amazonaws.arcregionswitch#GetPlanResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.arcregionswitch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get information about a plan"
        },
        "smithy.api#documentation": "<p>Retrieves detailed information about a Region switch plan. You must specify the ARN of the plan.</p>",
        "smithy.api#readonly": {},
        "smithy.rules#staticContextParams": {
          "UseControlPlaneEndpoint": {
            "value": true
          }
        }
      }
    },
    "com.amazonaws.arcregionswitch#GetPlanEvaluationStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.arcregionswitch#GetPlanEvaluationStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.arcregionswitch#GetPlanEvaluationStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.arcregionswitch#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.arcregionswitch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get a plan's evaluation status"
        },
        "smithy.api#documentation": "<p>Retrieves the evaluation status of a Region switch plan. The evaluation status provides information about the last time the plan was evaluated and any warnings or issues detected.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "warnings"
        },
        "smithy.api#readonly": {},
        "smithy.waiters#waitable": {
          "PlanEvaluationStatusPassed": {
            "minDelay": 30,
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "evaluationState",
                    "expected": "passed",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "evaluationState",
                    "expected": "actionRequired",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "evaluationState",
                    "expected": "pendingEvaluation",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.arcregionswitch#GetPlanEvaluationStatusRequest": {
      "type": "structure",
      "members": {
        "planArn": {
          "target": "com.amazonaws.arcregionswitch#PlanArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Region switch plan to retrieve evaluation status for.</p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.arcregionswitch#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.arcregionswitch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>nextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>nextToken</code> response to request the next page of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.arcregionswitch#GetPlanEvaluationStatusResponse": {
      "type": "structure",
      "members": {
        "planArn": {
          "target": "com.amazonaws.arcregionswitch#PlanArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the plan.</p>",
            "smithy.api#required": {}
          }
        },
        "lastEvaluationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time of the last time that Region switch ran an evaluation of the plan.</p>"
          }
        },
        "lastEvaluatedVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the last evaluation of the plan.</p>"
          }
        },
        "region": {
          "target": "com.amazonaws.arcregionswitch#Region",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region for the plan.</p>"
          }
        },
        "evaluationState": {
          "target": "com.amazonaws.arcregionswitch#EvaluationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The evaluation state for the plan.</p>"
          }
        },
        "warnings": {
          "target": "com.amazonaws.arcregionswitch#PlanWarnings",
          "traits": {
            "smithy.api#documentation": "<p>The current evaluation warnings for the plan. </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.arcregionswitch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>nextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>nextToken</code> response to request the next page of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.arcregionswitch#GetPlanExecution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.arcregionswitch#GetPlanExecutionRequest"
      },
      "output": {
        "target": "com.amazonaws.arcregionswitch#GetPlanExecutionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.arcregionswitch#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.arcregionswitch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get plan execution details and setup information"
        },
        "smithy.api#documentation": "<p>Retrieves detailed information about a specific plan execution. You must specify the plan ARN and execution ID.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "stepStates"
        },
        "smithy.api#readonly": {},
        "smithy.waiters#waitable": {
          "PlanExecutionCompleted": {
            "minDelay": 30,
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "executionState",
                    "expected": "completed",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "executionState",
                    "expected": "completedWithExceptions",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "executionState",
                    "expected": "failed",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "executionState",
                    "expected": "canceled",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "executionState",
                    "expected": "planExecutionTimedOut",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.arcregionswitch#GetPlanExecutionRequest": {
      "type": "structure",
      "members": {
        "planArn": {
          "target": "com.amazonaws.arcregionswitch#PlanArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the plan with the execution to retrieve.</p>",
            "smithy.api#required": {}
          }
        },
        "executionId": {
          "target": "com.amazonaws.arcregionswitch#ExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The execution identifier of a plan execution.</p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.arcregionswitch#GetPlanExecutionStepStatesMaxResults",
          "traits": {
            "smithy.api#default": 100,
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>"
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that you want to receive the next page of results. Valid only if you received a <code>nextToken</code> response in the previous request. If you did, it indicates that more output is available. Set this parameter to the value provided by the previous call's <code>nextToken</code> response to request the next page of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.arcregionswitch#GetPlanExecutionResponse": {
      "type": "structure",
      "members": {
        "planArn": {
          "target": "com.amazonaws.arcregionswitch#PlanArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the plan.</p>",
            "smithy.api#required": {}
          }
        },
        "executionId": {
          "target": "com.amazonaws.arcregionswitch#ExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The execution identifier of a plan execution.</p>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The version for the plan.</p>"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The timestamp when the plan execution was last updated.</p>"
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A comment included on the plan execution.</p>"
          }
        },
        "startTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time (UTC) when the plan execution started.</p>",
            "smithy.api#required": {}
          }
        },
        "endTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time (UTC) when the plan execution ended.</p>"
          }
        },
        "mode": {
          "target": "com.amazonaws.arcregionswitch#ExecutionMode",
          "traits": {
            "smithy.api#documentation": "<p>The plan execution mode. Valid values are <code>Practice</code>, for testing without making actual changes, or <code>Recovery</code>, for actual traffic shifting and application recovery.</p>",
            "smithy.api#required": {}
          }
        },
        "executionState": {
          "target": "com.amazonaws.arcregionswitch#ExecutionState",
          "traits": {
            "smithy.api#documentation": "<p>The plan execution state. Provides the state of a plan execution, for example, In Progress or Paused by Operator.</p>",
            "smithy.api#required": {}
          }
[...]
