{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.athena#AclConfiguration": {
      "type": "structure",
      "members": {
        "S3AclOption": {
          "target": "com.amazonaws.athena#S3AclOption",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 canned ACL that Athena should specify when storing\n            query results. Currently the only supported canned ACL is\n                <code>BUCKET_OWNER_FULL_CONTROL</code>. If a query runs in a workgroup and the\n            workgroup overrides client-side settings, then the Amazon S3 canned ACL\n            specified in the workgroup's settings is used for all queries that run in the workgroup.\n            For more information about Amazon S3 canned ACLs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/acl-overview.html#canned-acl\">Canned ACL</a> in the <i>Amazon S3 User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that an Amazon S3 canned ACL should be set to control ownership of\n            stored query results. When Athena stores query results in Amazon S3,\n            the canned ACL is set with the <code>x-amz-acl</code> request header. For more\n            information about S3 Object Ownership, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/about-object-ownership.html#object-ownership-overview\">Object Ownership settings</a> in the <i>Amazon S3 User\n                Guide</i>.</p>"
      }
    },
    "com.amazonaws.athena#Age": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 10080
        }
      }
    },
    "com.amazonaws.athena#AmazonAthena": {
      "type": "service",
      "version": "2017-05-18",
      "operations": [
        {
          "target": "com.amazonaws.athena#BatchGetNamedQuery"
        },
        {
          "target": "com.amazonaws.athena#BatchGetPreparedStatement"
        },
        {
          "target": "com.amazonaws.athena#BatchGetQueryExecution"
        },
        {
          "target": "com.amazonaws.athena#CreateDataCatalog"
        },
        {
          "target": "com.amazonaws.athena#CreateNamedQuery"
        },
        {
          "target": "com.amazonaws.athena#CreateNotebook"
        },
        {
          "target": "com.amazonaws.athena#CreatePreparedStatement"
        },
        {
          "target": "com.amazonaws.athena#CreatePresignedNotebookUrl"
        },
        {
          "target": "com.amazonaws.athena#CreateWorkGroup"
        },
        {
          "target": "com.amazonaws.athena#DeleteDataCatalog"
        },
        {
          "target": "com.amazonaws.athena#DeleteNamedQuery"
        },
        {
          "target": "com.amazonaws.athena#DeleteNotebook"
        },
        {
          "target": "com.amazonaws.athena#DeletePreparedStatement"
        },
        {
          "target": "com.amazonaws.athena#DeleteWorkGroup"
        },
        {
          "target": "com.amazonaws.athena#ExportNotebook"
        },
        {
          "target": "com.amazonaws.athena#GetCalculationExecution"
        },
        {
          "target": "com.amazonaws.athena#GetCalculationExecutionCode"
        },
        {
          "target": "com.amazonaws.athena#GetCalculationExecutionStatus"
        },
        {
          "target": "com.amazonaws.athena#GetDatabase"
        },
        {
          "target": "com.amazonaws.athena#GetDataCatalog"
        },
        {
          "target": "com.amazonaws.athena#GetNamedQuery"
        },
        {
          "target": "com.amazonaws.athena#GetNotebookMetadata"
        },
        {
          "target": "com.amazonaws.athena#GetPreparedStatement"
        },
        {
          "target": "com.amazonaws.athena#GetQueryExecution"
        },
        {
          "target": "com.amazonaws.athena#GetQueryResults"
        },
        {
          "target": "com.amazonaws.athena#GetQueryRuntimeStatistics"
        },
        {
          "target": "com.amazonaws.athena#GetSession"
        },
        {
          "target": "com.amazonaws.athena#GetSessionStatus"
        },
        {
          "target": "com.amazonaws.athena#GetTableMetadata"
        },
        {
          "target": "com.amazonaws.athena#GetWorkGroup"
        },
        {
          "target": "com.amazonaws.athena#ImportNotebook"
        },
        {
          "target": "com.amazonaws.athena#ListApplicationDPUSizes"
        },
        {
          "target": "com.amazonaws.athena#ListCalculationExecutions"
        },
        {
          "target": "com.amazonaws.athena#ListDatabases"
        },
        {
          "target": "com.amazonaws.athena#ListDataCatalogs"
        },
        {
          "target": "com.amazonaws.athena#ListEngineVersions"
        },
        {
          "target": "com.amazonaws.athena#ListExecutors"
        },
        {
          "target": "com.amazonaws.athena#ListNamedQueries"
        },
        {
          "target": "com.amazonaws.athena#ListNotebookMetadata"
        },
        {
          "target": "com.amazonaws.athena#ListNotebookSessions"
        },
        {
          "target": "com.amazonaws.athena#ListPreparedStatements"
        },
        {
          "target": "com.amazonaws.athena#ListQueryExecutions"
        },
        {
          "target": "com.amazonaws.athena#ListSessions"
        },
        {
          "target": "com.amazonaws.athena#ListTableMetadata"
        },
        {
          "target": "com.amazonaws.athena#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.athena#ListWorkGroups"
        },
        {
          "target": "com.amazonaws.athena#StartCalculationExecution"
        },
        {
          "target": "com.amazonaws.athena#StartQueryExecution"
        },
        {
          "target": "com.amazonaws.athena#StartSession"
        },
        {
          "target": "com.amazonaws.athena#StopCalculationExecution"
        },
        {
          "target": "com.amazonaws.athena#StopQueryExecution"
        },
        {
          "target": "com.amazonaws.athena#TagResource"
        },
        {
          "target": "com.amazonaws.athena#TerminateSession"
        },
        {
          "target": "com.amazonaws.athena#UntagResource"
        },
        {
          "target": "com.amazonaws.athena#UpdateDataCatalog"
        },
        {
          "target": "com.amazonaws.athena#UpdateNamedQuery"
        },
        {
          "target": "com.amazonaws.athena#UpdateNotebook"
        },
        {
          "target": "com.amazonaws.athena#UpdateNotebookMetadata"
        },
        {
          "target": "com.amazonaws.athena#UpdatePreparedStatement"
        },
        {
          "target": "com.amazonaws.athena#UpdateWorkGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Athena",
          "arnNamespace": "athena",
          "cloudFormationName": "Athena",
          "cloudTrailEventSource": "athena.amazonaws.com",
          "endpointPrefix": "athena"
        },
        "aws.auth#sigv4": {
          "name": "athena"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon Athena is an interactive query service that lets you use standard SQL\n            to analyze data directly in Amazon S3. You can point Athena at your\n            data in Amazon S3 and run ad-hoc queries and get results in seconds. Athena is serverless, so there is no infrastructure to set up or manage. You pay\n            only for the queries you run. Athena scales automatically—executing queries\n            in parallel—so results are fast, even with large datasets and complex queries. For more\n            information, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/what-is.html\">What is Amazon Athena</a> in the <i>Amazon Athena User\n                Guide</i>.</p>\n         <p>If you connect to Athena using the JDBC driver, use version 1.1.0 of the\n            driver or later with the Amazon Athena API. Earlier version drivers do not\n            support the API. For more information and to download the driver, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/connect-with-jdbc.html\">Accessing\n                    Amazon Athena with JDBC</a>.</p>\n         <p>For code samples using the Amazon Web Services SDK for Java, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and\n                Code Samples</a> in the <i>Amazon Athena User\n            Guide</i>.</p>",
        "smithy.api#title": "Amazon Athena",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://athena-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://athena-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://athena.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://athena.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "af-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "af-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "af-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "af-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-iso-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-iso-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-iso-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-iso-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-northwest-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-northwest-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-northwest-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-northwest-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-isob-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-isob-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-isob-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://athena.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-isob-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.athena#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.athena#ApplicationDPUSizes": {
      "type": "structure",
      "members": {
        "ApplicationRuntimeId": {
          "target": "com.amazonaws.athena#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the supported application runtime (for example, <code>Jupyter\n            1.0</code>).</p>"
          }
        },
        "SupportedDPUSizes": {
          "target": "com.amazonaws.athena#SupportedDPUSizeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the supported DPU sizes that the application runtime supports.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the application runtime IDs and their supported DPU sizes.</p>"
      }
    },
    "com.amazonaws.athena#ApplicationDPUSizesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena#ApplicationDPUSizes"
      }
    },
    "com.amazonaws.athena#AthenaError": {
      "type": "structure",
      "members": {
        "ErrorCategory": {
          "target": "com.amazonaws.athena#ErrorCategory",
          "traits": {
            "smithy.api#documentation": "<p>An integer value that specifies the category of a query failure error. The following\n            list shows the category for each integer value.</p>\n         <p>\n            <b>1</b> - System</p>\n         <p>\n            <b>2</b> - User</p>\n         <p>\n            <b>3</b> - Other</p>"
          }
        },
        "ErrorType": {
          "target": "com.amazonaws.athena#ErrorType",
          "traits": {
            "smithy.api#documentation": "<p>An integer value that provides specific information about an Athena query\n            error. For the meaning of specific values, see the <a href=\"https://docs.aws.amazon.com/athena/latest/ug/error-reference.html#error-reference-error-type-reference\">Error Type Reference</a> in the <i>Amazon Athena User\n                Guide</i>.</p>"
          }
        },
        "Retryable": {
          "target": "com.amazonaws.athena#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>True if the query might succeed if resubmitted.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.athena#String",
          "traits": {
            "smithy.api#documentation": "<p>Contains a short description of the error that occurred.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about an Athena query error. The\n                <code>AthenaError</code> feature provides standardized error information to help you\n            understand failed queries and take steps after a query failure occurs.\n                <code>AthenaError</code> includes an <code>ErrorCategory</code> field that specifies\n            whether the cause of the failed query is due to system error, user error, or other\n            error.</p>"
      }
    },
    "com.amazonaws.athena#AuthToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.athena#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.athena#BatchGetNamedQuery": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#BatchGetNamedQueryInput"
      },
      "output": {
        "target": "com.amazonaws.athena#BatchGetNamedQueryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the details of a single named query or a list of up to 50 queries, which you\n            provide as an array of query ID strings. Requires you to have access to the workgroup in\n            which the queries were saved. Use <a>ListNamedQueriesInput</a> to get the\n            list of named query IDs in the specified workgroup. If information could not be\n            retrieved for a submitted query ID, information about the query ID submitted is listed\n            under <a>UnprocessedNamedQueryId</a>. Named queries differ from executed\n            queries. Use <a>BatchGetQueryExecutionInput</a> to get details about each\n            unique query execution, and <a>ListQueryExecutionsInput</a> to get a list of\n            query execution IDs.</p>"
      }
    },
    "com.amazonaws.athena#BatchGetNamedQueryInput": {
      "type": "structure",
      "members": {
        "NamedQueryIds": {
          "target": "com.amazonaws.athena#NamedQueryIdList",
          "traits": {
            "smithy.api#documentation": "<p>An array of query IDs.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an array of named query IDs.</p>"
      }
    },
    "com.amazonaws.athena#BatchGetNamedQueryOutput": {
      "type": "structure",
      "members": {
        "NamedQueries": {
          "target": "com.amazonaws.athena#NamedQueryList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the named query IDs submitted.</p>"
          }
        },
        "UnprocessedNamedQueryIds": {
          "target": "com.amazonaws.athena#UnprocessedNamedQueryIdList",
          "traits": {
            "smithy.api#documentation": "<p>Information about provided query IDs.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#BatchGetPreparedStatement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#BatchGetPreparedStatementInput"
      },
      "output": {
        "target": "com.amazonaws.athena#BatchGetPreparedStatementOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the details of a single prepared statement or a list of up to 256 prepared\n            statements for the array of prepared statement names that you provide. Requires you to\n            have access to the workgroup to which the prepared statements belong. If a prepared\n            statement cannot be retrieved for the name specified, the statement is listed in\n                <code>UnprocessedPreparedStatementNames</code>.</p>"
      }
    },
    "com.amazonaws.athena#BatchGetPreparedStatementInput": {
      "type": "structure",
      "members": {
        "PreparedStatementNames": {
          "target": "com.amazonaws.athena#PreparedStatementNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of prepared statement names to return.</p>",
            "smithy.api#required": {}
          }
        },
        "WorkGroup": {
          "target": "com.amazonaws.athena#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup to which the prepared statements belong.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.athena#BatchGetPreparedStatementOutput": {
      "type": "structure",
      "members": {
        "PreparedStatements": {
          "target": "com.amazonaws.athena#PreparedStatementDetailsList",
          "traits": {
            "smithy.api#documentation": "<p>The list of prepared statements returned.</p>"
          }
        },
        "UnprocessedPreparedStatementNames": {
          "target": "com.amazonaws.athena#UnprocessedPreparedStatementNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of one or more prepared statements that were requested but could not be\n            returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#BatchGetQueryExecution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#BatchGetQueryExecutionInput"
      },
      "output": {
        "target": "com.amazonaws.athena#BatchGetQueryExecutionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the details of a single query execution or a list of up to 50 query\n            executions, which you provide as an array of query execution ID strings. Requires you to\n            have access to the workgroup in which the queries ran. To get a list of query execution\n            IDs, use <a>ListQueryExecutionsInput$WorkGroup</a>. Query executions differ\n            from named (saved) queries. Use <a>BatchGetNamedQueryInput</a> to get details\n            about named queries.</p>"
      }
    },
    "com.amazonaws.athena#BatchGetQueryExecutionInput": {
      "type": "structure",
      "members": {
        "QueryExecutionIds": {
          "target": "com.amazonaws.athena#QueryExecutionIdList",
          "traits": {
            "smithy.api#documentation": "<p>An array of query execution IDs.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an array of query execution IDs.</p>"
      }
    },
    "com.amazonaws.athena#BatchGetQueryExecutionOutput": {
      "type": "structure",
      "members": {
        "QueryExecutions": {
          "target": "com.amazonaws.athena#QueryExecutionList",
          "traits": {
            "smithy.api#documentation": "<p>Information about a query execution.</p>"
          }
        },
        "UnprocessedQueryExecutionIds": {
          "target": "com.amazonaws.athena#UnprocessedQueryExecutionIdList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the query executions that failed to run.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.athena#BoxedBoolean": {
      "type": "boolean"
    },
    "com.amazonaws.athena#BytesScannedCutoffValue": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 10000000
        }
      }
    },
    "com.amazonaws.athena#CalculationConfiguration": {
      "type": "structure",
      "members": {
        "CodeBlock": {
          "target": "com.amazonaws.athena#CodeBlock",
          "traits": {
            "smithy.api#documentation": "<p>A string that contains the code for the calculation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configuration information for the calculation.</p>"
      }
    },
    "com.amazonaws.athena#CalculationExecutionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        }
      }
    },
    "com.amazonaws.athena#CalculationExecutionState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "QUEUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "CANCELING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELING"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.athena#CalculationResult": {
      "type": "structure",
      "members": {
        "StdOutS3Uri": {
          "target": "com.amazonaws.athena#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of the <code>stdout</code> file for the calculation.</p>"
          }
        },
        "StdErrorS3Uri": {
          "target": "com.amazonaws.athena#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of the <code>stderr</code> error messages file for the\n            calculation.</p>"
          }
        },
        "ResultS3Uri": {
          "target": "com.amazonaws.athena#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location of the folder for the calculation results.</p>"
          }
        },
        "ResultType": {
          "target": "com.amazonaws.athena#CalculationResultType",
          "traits": {
            "smithy.api#documentation": "<p>The data format of the calculation result.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an application-specific calculation result.</p>"
      }
    },
    "com.amazonaws.athena#CalculationResultType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^\\w+\\/[-+.\\w]+$"
      }
    },
    "com.amazonaws.athena#CalculationStatistics": {
      "type": "structure",
      "members": {
        "DpuExecutionInMillis": {
          "target": "com.amazonaws.athena#Long",
          "traits": {
            "smithy.api#documentation": "<p>The data processing unit execution time in milliseconds for the calculation.</p>"
          }
        },
        "Progress": {
          "target": "com.amazonaws.athena#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The progress of the calculation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains statistics for a notebook calculation.</p>"
      }
    },
    "com.amazonaws.athena#CalculationStatus": {
      "type": "structure",
      "members": {
        "SubmissionDateTime": {
          "target": "com.amazonaws.athena#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the calculation was submitted for processing.</p>"
          }
        },
        "CompletionDateTime": {
          "target": "com.amazonaws.athena#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the calculation completed processing.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.athena#CalculationExecutionState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the calculation execution. A description of each state follows.</p>\n         <p>\n            <code>CREATING</code> - The calculation is in the process of being created.</p>\n         <p>\n            <code>CREATED</code> - The calculation has been created and is ready to run.</p>\n         <p>\n            <code>QUEUED</code> - The calculation has been queued for processing.</p>\n         <p>\n            <code>RUNNING</code> - The calculation is running.</p>\n         <p>\n            <code>CANCELING</code> - A request to cancel the calculation has been received and the\n            system is working to stop it.</p>\n         <p>\n            <code>CANCELED</code> - The calculation is no longer running as the result of a cancel\n            request.</p>\n         <p>\n            <code>COMPLETED</code> - The calculation has completed without error.</p>\n         <p>\n            <code>FAILED</code> - The calculation failed and is no longer running.</p>"
          }
        },
        "StateChangeReason": {
          "target": "com.amazonaws.athena#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the calculation state change (for example, the calculation was canceled\n            because the session was terminated).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the status of a notebook calculation.</p>"
      }
    },
    "com.amazonaws.athena#CalculationSummary": {
      "type": "structure",
      "members": {
        "CalculationExecutionId": {
          "target": "com.amazonaws.athena#CalculationExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The calculation execution UUID.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.athena#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the calculation.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.athena#CalculationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the status of the calculation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information for a notebook calculation.</p>"
      }
    },
    "com.amazonaws.athena#CalculationsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena#CalculationSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.athena#CatalogNameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*$"
      }
    },
    "com.amazonaws.athena#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        },
        "smithy.api#pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
      }
    },
    "com.amazonaws.athena#CodeBlock": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 68000
        }
      }
    },
    "com.amazonaws.athena#Column": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.athena#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.athena#TypeString",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the column.</p>"
          }
        },
        "Comment": {
          "target": "com.amazonaws.athena#CommentString",
          "traits": {
            "smithy.api#documentation": "<p>Optional information about the column.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata for a column in a table.</p>"
      }
    },
    "com.amazonaws.athena#ColumnInfo": {
      "type": "structure",
      "members": {
        "CatalogName": {
          "target": "com.amazonaws.athena#String",
          "traits": {
            "smithy.api#documentation": "<p>The catalog to which the query results belong.</p>"
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.athena#String",
          "traits": {
            "smithy.api#documentation": "<p>The schema name (database name) to which the query results belong.</p>"
          }
        },
        "TableName": {
          "target": "com.amazonaws.athena#String",
          "traits": {
            "smithy.api#documentation": "<p>The table name for the query results.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.athena#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column.</p>",
            "smithy.api#required": {}
          }
        },
        "Label": {
          "target": "com.amazonaws.athena#String",
          "traits": {
            "smithy.api#documentation": "<p>A column label.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.athena#String",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the column.</p>",
            "smithy.api#required": {}
          }
        },
        "Precision": {
          "target": "com.amazonaws.athena#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>For <code>DECIMAL</code> data types, specifies the total number of digits, up to 38.\n            For performance reasons, we recommend up to 18 digits.</p>"
          }
        },
        "Scale": {
          "target": "com.amazonaws.athena#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>For <code>DECIMAL</code> data types, specifies the total number of digits in the\n            fractional part of the value. Defaults to 0.</p>"
          }
        },
        "Nullable": {
          "target": "com.amazonaws.athena#ColumnNullable",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the column's nullable status.</p>"
          }
        },
        "CaseSensitive": {
          "target": "com.amazonaws.athena#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether values in the column are case-sensitive.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the columns in a query execution result.</p>"
      }
    },
    "com.amazonaws.athena#ColumnInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena#ColumnInfo"
      }
    },
    "com.amazonaws.athena#ColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena#Column"
      }
    },
    "com.amazonaws.athena#ColumnNullable": {
      "type": "enum",
      "members": {
        "NOT_NULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_NULL"
          }
        },
        "NULLABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NULLABLE"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.amazonaws.athena#CommentString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*$"
      }
    },
    "com.amazonaws.athena#CoordinatorDpuSize": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 5000
        }
      }
    },
    "com.amazonaws.athena#CreateDataCatalog": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#CreateDataCatalogInput"
      },
      "output": {
        "target": "com.amazonaws.athena#CreateDataCatalogOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates (registers) a data catalog with the specified name and properties. Catalogs\n            created are visible to all users of the same Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.athena#CreateDataCatalogInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.athena#CatalogNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data catalog to create. The catalog name must be unique for the\n                Amazon Web Services account and can use a maximum of 127 alphanumeric, underscore, at\n            sign, or hyphen characters. The remainder of the length constraint of 256 is reserved\n            for use by Athena.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.athena#DataCatalogType",
          "traits": {
            "smithy.api#documentation": "<p>The type of data catalog to create: <code>LAMBDA</code> for a federated catalog,\n                <code>HIVE</code> for an external hive metastore, or <code>GLUE</code> for an\n                Glue Data Catalog.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.athena#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the data catalog to be created.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.athena#ParametersMap",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Lambda function or functions to use for creating the data\n            catalog. This is a mapping whose values depend on the catalog type. </p>\n         <ul>\n            <li>\n               <p>For the <code>HIVE</code> data catalog type, use the following syntax. The\n                        <code>metadata-function</code> parameter is required. <code>The\n                        sdk-version</code> parameter is optional and defaults to the currently\n                    supported version.</p>\n               <p>\n                  <code>metadata-function=<i>lambda_arn</i>,\n                            sdk-version=<i>version_number</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n               <p>For the <code>LAMBDA</code> data catalog type, use one of the following sets\n                    of required parameters, but not both.</p>\n               <ul>\n                  <li>\n                     <p>If you have one Lambda function that processes metadata\n                            and another for reading the actual data, use the following syntax. Both\n                            parameters are required.</p>\n                     <p>\n                        <code>metadata-function=<i>lambda_arn</i>,\n                                    record-function=<i>lambda_arn</i>\n                        </code>\n                     </p>\n                  </li>\n                  <li>\n                     <p> If you have a composite Lambda function that processes\n                            both metadata and data, use the following syntax to specify your Lambda function.</p>\n                     <p>\n                        <code>function=<i>lambda_arn</i>\n                        </code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>The <code>GLUE</code> type takes a catalog ID parameter and is required. The\n                            <code>\n                     <i>catalog_id</i>\n                  </code> is the account ID of the\n                        Amazon Web Services account to which the Glue Data Catalog\n                    belongs.</p>\n               <p>\n                  <code>catalog-id=<i>catalog_id</i>\n                  </code>\n               </p>\n               <ul>\n                  <li>\n                     <p>The <code>GLUE</code> data catalog type also applies to the default\n                                <code>AwsDataCatalog</code> that already exists in your account, of\n                            which you can have only one and cannot modify.</p>\n                  </li>\n                  <li>\n                     <p>Queries that specify a Glue Data Catalog other than the default\n                                <code>AwsDataCatalog</code> must be run on Athena engine\n   
[...]
