{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.athena#AmazonAthena": {
      "type": "service",
      "version": "2017-05-18",
      "operations": [
        {
          "target": "com.amazonaws.athena#BatchGetNamedQuery"
        },
        {
          "target": "com.amazonaws.athena#BatchGetQueryExecution"
        },
        {
          "target": "com.amazonaws.athena#CreateDataCatalog"
        },
        {
          "target": "com.amazonaws.athena#CreateNamedQuery"
        },
        {
          "target": "com.amazonaws.athena#CreatePreparedStatement"
        },
        {
          "target": "com.amazonaws.athena#CreateWorkGroup"
        },
        {
          "target": "com.amazonaws.athena#DeleteDataCatalog"
        },
        {
          "target": "com.amazonaws.athena#DeleteNamedQuery"
        },
        {
          "target": "com.amazonaws.athena#DeletePreparedStatement"
        },
        {
          "target": "com.amazonaws.athena#DeleteWorkGroup"
        },
        {
          "target": "com.amazonaws.athena#GetDatabase"
        },
        {
          "target": "com.amazonaws.athena#GetDataCatalog"
        },
        {
          "target": "com.amazonaws.athena#GetNamedQuery"
        },
        {
          "target": "com.amazonaws.athena#GetPreparedStatement"
        },
        {
          "target": "com.amazonaws.athena#GetQueryExecution"
        },
        {
          "target": "com.amazonaws.athena#GetQueryResults"
        },
        {
          "target": "com.amazonaws.athena#GetTableMetadata"
        },
        {
          "target": "com.amazonaws.athena#GetWorkGroup"
        },
        {
          "target": "com.amazonaws.athena#ListDatabases"
        },
        {
          "target": "com.amazonaws.athena#ListDataCatalogs"
        },
        {
          "target": "com.amazonaws.athena#ListEngineVersions"
        },
        {
          "target": "com.amazonaws.athena#ListNamedQueries"
        },
        {
          "target": "com.amazonaws.athena#ListPreparedStatements"
        },
        {
          "target": "com.amazonaws.athena#ListQueryExecutions"
        },
        {
          "target": "com.amazonaws.athena#ListTableMetadata"
        },
        {
          "target": "com.amazonaws.athena#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.athena#ListWorkGroups"
        },
        {
          "target": "com.amazonaws.athena#StartQueryExecution"
        },
        {
          "target": "com.amazonaws.athena#StopQueryExecution"
        },
        {
          "target": "com.amazonaws.athena#TagResource"
        },
        {
          "target": "com.amazonaws.athena#UntagResource"
        },
        {
          "target": "com.amazonaws.athena#UpdateDataCatalog"
        },
        {
          "target": "com.amazonaws.athena#UpdatePreparedStatement"
        },
        {
          "target": "com.amazonaws.athena#UpdateWorkGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Athena",
          "arnNamespace": "athena",
          "cloudFormationName": "Athena",
          "cloudTrailEventSource": "athena.amazonaws.com",
          "endpointPrefix": "athena"
        },
        "aws.auth#sigv4": {
          "name": "athena"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon Athena is an interactive query service that lets you use standard SQL\n            to analyze data directly in Amazon S3. You can point Athena at your\n            data in Amazon S3 and run ad-hoc queries and get results in seconds. Athena is serverless, so there is no infrastructure to set up or manage. You pay\n            only for the queries you run. Athena scales automatically—executing queries\n            in parallel—so results are fast, even with large datasets and complex queries. For more\n            information, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/what-is.html\">What is Amazon Athena</a> in the <i>Amazon Athena User\n                Guide</i>.</p>\n        <p>If you connect to Athena using the JDBC driver, use version 1.1.0 of the\n            driver or later with the Amazon Athena API. Earlier version drivers do not\n            support the API. For more information and to download the driver, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/connect-with-jdbc.html\">Accessing\n                    Amazon Athena with JDBC</a>.</p>\n        <p>For code samples using the Amazon Web Services SDK for Java, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and\n                Code Samples</a> in the <i>Amazon Athena User\n            Guide</i>.</p>",
        "smithy.api#title": "Amazon Athena"
      }
    },
    "com.amazonaws.athena#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.athena#BatchGetNamedQuery": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#BatchGetNamedQueryInput"
      },
      "output": {
        "target": "com.amazonaws.athena#BatchGetNamedQueryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the details of a single named query or a list of up to 50 queries, which you\n            provide as an array of query ID strings. Requires you to have access to the workgroup in\n            which the queries were saved. Use <a>ListNamedQueriesInput</a> to get the\n            list of named query IDs in the specified workgroup. If information could not be\n            retrieved for a submitted query ID, information about the query ID submitted is listed\n            under <a>UnprocessedNamedQueryId</a>. Named queries differ from executed\n            queries. Use <a>BatchGetQueryExecutionInput</a> to get details about each\n            unique query execution, and <a>ListQueryExecutionsInput</a> to get a list of\n            query execution IDs.</p>"
      }
    },
    "com.amazonaws.athena#BatchGetNamedQueryInput": {
      "type": "structure",
      "members": {
        "NamedQueryIds": {
          "target": "com.amazonaws.athena#NamedQueryIdList",
          "traits": {
            "smithy.api#documentation": "<p>An array of query IDs.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.athena#BatchGetNamedQueryOutput": {
      "type": "structure",
      "members": {
        "NamedQueries": {
          "target": "com.amazonaws.athena#NamedQueryList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the named query IDs submitted.</p>"
          }
        },
        "UnprocessedNamedQueryIds": {
          "target": "com.amazonaws.athena#UnprocessedNamedQueryIdList",
          "traits": {
            "smithy.api#documentation": "<p>Information about provided query IDs.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#BatchGetQueryExecution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#BatchGetQueryExecutionInput"
      },
      "output": {
        "target": "com.amazonaws.athena#BatchGetQueryExecutionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the details of a single query execution or a list of up to 50 query\n            executions, which you provide as an array of query execution ID strings. Requires you to\n            have access to the workgroup in which the queries ran. To get a list of query execution\n            IDs, use <a>ListQueryExecutionsInput$WorkGroup</a>. Query executions differ\n            from named (saved) queries. Use <a>BatchGetNamedQueryInput</a> to get details\n            about named queries.</p>"
      }
    },
    "com.amazonaws.athena#BatchGetQueryExecutionInput": {
      "type": "structure",
      "members": {
        "QueryExecutionIds": {
          "target": "com.amazonaws.athena#QueryExecutionIdList",
          "traits": {
            "smithy.api#documentation": "<p>An array of query execution IDs.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.athena#BatchGetQueryExecutionOutput": {
      "type": "structure",
      "members": {
        "QueryExecutions": {
          "target": "com.amazonaws.athena#QueryExecutionList",
          "traits": {
            "smithy.api#documentation": "<p>Information about a query execution.</p>"
          }
        },
        "UnprocessedQueryExecutionIds": {
          "target": "com.amazonaws.athena#UnprocessedQueryExecutionIdList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the query executions that failed to run.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.athena#BoxedBoolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.athena#BytesScannedCutoffValue": {
      "type": "long",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 10000000
        }
      }
    },
    "com.amazonaws.athena#CatalogNameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*$"
      }
    },
    "com.amazonaws.athena#Column": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.athena#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.athena#TypeString",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the column.</p>"
          }
        },
        "Comment": {
          "target": "com.amazonaws.athena#CommentString",
          "traits": {
            "smithy.api#documentation": "<p>Optional information about the column.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata for a column in a table.</p>"
      }
    },
    "com.amazonaws.athena#ColumnInfo": {
      "type": "structure",
      "members": {
        "CatalogName": {
          "target": "com.amazonaws.athena#String",
          "traits": {
            "smithy.api#documentation": "<p>The catalog to which the query results belong.</p>"
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.athena#String",
          "traits": {
            "smithy.api#documentation": "<p>The schema name (database name) to which the query results belong.</p>"
          }
        },
        "TableName": {
          "target": "com.amazonaws.athena#String",
          "traits": {
            "smithy.api#documentation": "<p>The table name for the query results.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.athena#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column.</p>",
            "smithy.api#required": {}
          }
        },
        "Label": {
          "target": "com.amazonaws.athena#String",
          "traits": {
            "smithy.api#documentation": "<p>A column label.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.athena#String",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the column.</p>",
            "smithy.api#required": {}
          }
        },
        "Precision": {
          "target": "com.amazonaws.athena#Integer",
          "traits": {
            "smithy.api#documentation": "<p>For <code>DECIMAL</code> data types, specifies the total number of digits, up to 38.\n            For performance reasons, we recommend up to 18 digits.</p>"
          }
        },
        "Scale": {
          "target": "com.amazonaws.athena#Integer",
          "traits": {
            "smithy.api#documentation": "<p>For <code>DECIMAL</code> data types, specifies the total number of digits in the\n            fractional part of the value. Defaults to 0.</p>"
          }
        },
        "Nullable": {
          "target": "com.amazonaws.athena#ColumnNullable",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the column's nullable status.</p>"
          }
        },
        "CaseSensitive": {
          "target": "com.amazonaws.athena#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether values in the column are case-sensitive.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the columns in a query execution result.</p>"
      }
    },
    "com.amazonaws.athena#ColumnInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena#ColumnInfo"
      }
    },
    "com.amazonaws.athena#ColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena#Column"
      }
    },
    "com.amazonaws.athena#ColumnNullable": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NOT_NULL",
            "name": "NOT_NULL"
          },
          {
            "value": "NULLABLE",
            "name": "NULLABLE"
          },
          {
            "value": "UNKNOWN",
            "name": "UNKNOWN"
          }
        ]
      }
    },
    "com.amazonaws.athena#CommentString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*$"
      }
    },
    "com.amazonaws.athena#CreateDataCatalog": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#CreateDataCatalogInput"
      },
      "output": {
        "target": "com.amazonaws.athena#CreateDataCatalogOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates (registers) a data catalog with the specified name and properties. Catalogs\n            created are visible to all users of the same Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.athena#CreateDataCatalogInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.athena#CatalogNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data catalog to create. The catalog name must be unique for the\n                Amazon Web Services account and can use a maximum of 128 alphanumeric, underscore, at\n            sign, or hyphen characters.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.athena#DataCatalogType",
          "traits": {
            "smithy.api#documentation": "<p>The type of data catalog to create: <code>LAMBDA</code> for a federated catalog,\n                <code>HIVE</code> for an external hive metastore, or <code>GLUE</code> for an\n                Glue Data Catalog.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.athena#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the data catalog to be created.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.athena#ParametersMap",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Lambda function or functions to use for creating the data\n            catalog. This is a mapping whose values depend on the catalog type. </p>\n        <ul>\n            <li>\n                <p>For the <code>HIVE</code> data catalog type, use the following syntax. The\n                        <code>metadata-function</code> parameter is required. <code>The\n                        sdk-version</code> parameter is optional and defaults to the currently\n                    supported version.</p>\n                <p>\n                  <code>metadata-function=<i>lambda_arn</i>,\n                            sdk-version=<i>version_number</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n                <p>For the <code>LAMBDA</code> data catalog type, use one of the following sets\n                    of required parameters, but not both.</p>\n                <ul>\n                  <li>\n                        <p>If you have one Lambda function that processes metadata\n                            and another for reading the actual data, use the following syntax. Both\n                            parameters are required.</p>\n                        <p>\n                        <code>metadata-function=<i>lambda_arn</i>,\n                                    record-function=<i>lambda_arn</i>\n                        </code>\n                     </p>\n                    </li>\n                  <li>\n                        <p> If you have a composite Lambda function that processes\n                            both metadata and data, use the following syntax to specify your Lambda function.</p>\n                        <p>\n                        <code>function=<i>lambda_arn</i>\n                        </code>\n                     </p>\n                    </li>\n               </ul>\n            </li>\n            <li>\n                <p>The <code>GLUE</code> type takes a catalog ID parameter and is required. The\n                            <code>\n                     <i>catalog_id</i>\n                  </code> is the account ID of the\n                        Amazon Web Services account to which the Glue Data Catalog\n                    belongs.</p>\n                <p>\n                  <code>catalog-id=<i>catalog_id</i>\n                  </code>\n               </p>\n                <ul>\n                  <li>\n                        <p>The <code>GLUE</code> data catalog type also applies to the default\n                                <code>AwsDataCatalog</code> that already exists in your account, of\n                            which you can have only one and cannot modify.</p>\n                    </li>\n                  <li>\n                        <p>Queries that specify a Glue Data Catalog other than the default\n                                <code>AwsDataCatalog</code> must be run on Athena engine\n                            version 2.</p>\n                    </li>\n                  <li>\n                        <p>In Regions where Athena engine version 2 is not available,\n                            creating new Glue data catalogs results in an\n                                <code>INVALID_INPUT</code> error.</p>\n                    </li>\n               </ul>\n            </li>\n         </ul>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.athena#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of comma separated tags to add to the data catalog that is created.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#CreateDataCatalogOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.athena#CreateNamedQuery": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#CreateNamedQueryInput"
      },
      "output": {
        "target": "com.amazonaws.athena#CreateNamedQueryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a named query in the specified workgroup. Requires that you have access to the\n            workgroup.</p>\n        <p>For code samples using the Amazon Web Services SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and\n                Code Samples</a> in the <i>Amazon Athena User\n            Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.athena#CreateNamedQueryInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.athena#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The query name.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.athena#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The query description.</p>"
          }
        },
        "Database": {
          "target": "com.amazonaws.athena#DatabaseString",
          "traits": {
            "smithy.api#documentation": "<p>The database to which the query belongs.</p>",
            "smithy.api#required": {}
          }
        },
        "QueryString": {
          "target": "com.amazonaws.athena#QueryString",
          "traits": {
            "smithy.api#documentation": "<p>The contents of the query with all query statements.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.athena#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique case-sensitive string used to ensure the request to create the query is\n            idempotent (executes only once). If another <code>CreateNamedQuery</code> request is\n            received, the same response is returned and another query is not created. If a parameter\n            has changed, for example, the <code>QueryString</code>, an error is returned.</p>\n        <important>\n            <p>This token is listed as not required because Amazon Web Services SDKs (for example\n                the Amazon Web Services SDK for Java) auto-generate the token for users. If you are\n                not using the Amazon Web Services SDK or the Amazon Web Services CLI, you must provide\n                this token or the action will fail.</p>\n        </important>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "WorkGroup": {
          "target": "com.amazonaws.athena#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup in which the named query is being created.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#CreateNamedQueryOutput": {
      "type": "structure",
      "members": {
        "NamedQueryId": {
          "target": "com.amazonaws.athena#NamedQueryId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the query.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#CreatePreparedStatement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#CreatePreparedStatementInput"
      },
      "output": {
        "target": "com.amazonaws.athena#CreatePreparedStatementOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a prepared statement for use with SQL queries in Athena.</p>"
      }
    },
    "com.amazonaws.athena#CreatePreparedStatementInput": {
      "type": "structure",
      "members": {
        "StatementName": {
          "target": "com.amazonaws.athena#StatementName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the prepared statement.</p>",
            "smithy.api#required": {}
          }
        },
        "WorkGroup": {
          "target": "com.amazonaws.athena#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup to which the prepared statement belongs.</p>",
            "smithy.api#required": {}
          }
        },
        "QueryStatement": {
          "target": "com.amazonaws.athena#QueryString",
          "traits": {
            "smithy.api#documentation": "<p>The query string for the prepared statement.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.athena#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the prepared statement.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#CreatePreparedStatementOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.athena#CreateWorkGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#CreateWorkGroupInput"
      },
      "output": {
        "target": "com.amazonaws.athena#CreateWorkGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a workgroup with the specified name.</p>"
      }
    },
    "com.amazonaws.athena#CreateWorkGroupInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.athena#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The workgroup name.</p>",
            "smithy.api#required": {}
          }
        },
        "Configuration": {
          "target": "com.amazonaws.athena#WorkGroupConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the workgroup, which includes the location in Amazon S3\n            where query results are stored, the encryption configuration, if any, used for\n            encrypting query results, whether the Amazon CloudWatch Metrics are enabled for the\n            workgroup, the limit for the amount of bytes scanned (cutoff) per query, if it is\n            specified, and whether workgroup's settings (specified with\n                <code>EnforceWorkGroupConfiguration</code>) in the\n                <code>WorkGroupConfiguration</code> override client-side settings. See <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.athena#WorkGroupDescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The workgroup description.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.athena#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of comma separated tags to add to the workgroup that is created.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#CreateWorkGroupOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.athena#DataCatalog": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.athena#CatalogNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data catalog. The catalog name must be unique for the Amazon Web Services account and can use a maximum of 128 alphanumeric, underscore, at sign,\n            or hyphen characters.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.athena#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the data catalog.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.athena#DataCatalogType",
          "traits": {
            "smithy.api#documentation": "<p>The type of data catalog to create: <code>LAMBDA</code> for a federated catalog,\n                <code>HIVE</code> for an external hive metastore, or <code>GLUE</code> for an\n                Glue Data Catalog.</p>",
            "smithy.api#required": {}
          }
        },
        "Parameters": {
          "target": "com.amazonaws.athena#ParametersMap",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Lambda function or functions to use for the data catalog.\n            This is a mapping whose values depend on the catalog type. </p>\n        <ul>\n            <li>\n                <p>For the <code>HIVE</code> data catalog type, use the following syntax. The\n                        <code>metadata-function</code> parameter is required. <code>The\n                        sdk-version</code> parameter is optional and defaults to the currently\n                    supported version.</p>\n                <p>\n                  <code>metadata-function=<i>lambda_arn</i>,\n                            sdk-version=<i>version_number</i>\n                  </code>\n               </p>\n            </li>\n            <li>\n                <p>For the <code>LAMBDA</code> data catalog type, use one of the following sets\n                    of required parameters, but not both.</p>\n                <ul>\n                  <li>\n                        <p>If you have one Lambda function that processes metadata\n                            and another for reading the actual data, use the following syntax. Both\n                            parameters are required.</p>\n                        <p>\n                        <code>metadata-function=<i>lambda_arn</i>,\n                                    record-function=<i>lambda_arn</i>\n                        </code>\n                     </p>\n                    </li>\n                  <li>\n                        <p> If you have a composite Lambda function that processes\n                            both metadata and data, use the following syntax to specify your Lambda function.</p>\n                        <p>\n                        <code>function=<i>lambda_arn</i>\n                        </code>\n                     </p>\n                    </li>\n               </ul>\n            </li>\n            <li>\n                <p>The <code>GLUE</code> type takes a catalog ID parameter and is required. The\n                            <code>\n                     <i>catalog_id</i>\n                  </code> is the account ID of the\n                        Amazon Web Services account to which the Glue catalog\n                    belongs.</p>\n                <p>\n                  <code>catalog-id=<i>catalog_id</i>\n                  </code>\n               </p>\n                <ul>\n                  <li>\n                        <p>The <code>GLUE</code> data catalog type also applies to the default\n                                <code>AwsDataCatalog</code> that already exists in your account, of\n                            which you can have only one and cannot modify.</p>\n                    </li>\n                  <li>\n                        <p>Queries that specify a Glue Data Catalog other than the default\n                                <code>AwsDataCatalog</code> must be run on Athena engine\n                            version 2.</p>\n                    </li>\n               </ul>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a data catalog in an Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.athena#DataCatalogSummary": {
      "type": "structure",
      "members": {
        "CatalogName": {
          "target": "com.amazonaws.athena#CatalogNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data catalog.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.athena#DataCatalogType",
          "traits": {
            "smithy.api#documentation": "<p>The data catalog type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary information for the data catalog, which includes its name and type.</p>"
      }
    },
    "com.amazonaws.athena#DataCatalogSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena#DataCatalogSummary"
      }
    },
    "com.amazonaws.athena#DataCatalogType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LAMBDA",
            "name": "LAMBDA"
          },
          {
            "value": "GLUE",
            "name": "GLUE"
          },
          {
            "value": "HIVE",
            "name": "HIVE"
          }
        ]
      }
    },
    "com.amazonaws.athena#Database": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.athena#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.athena#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the database.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.athena#ParametersMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of custom key/value pairs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata information for a database in a data catalog.</p>"
      }
    },
    "com.amazonaws.athena#DatabaseList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena#Database"
      }
    },
    "com.amazonaws.athena#DatabaseString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.athena#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.athena#Datum": {
      "type": "structure",
      "members": {
        "VarCharValue": {
          "target": "com.amazonaws.athena#datumString",
          "traits": {
            "smithy.api#documentation": "<p>The value of the datum.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A piece of data (a field in the table).</p>"
      }
    },
    "com.amazonaws.athena#DeleteDataCatalog": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#DeleteDataCatalogInput"
      },
      "output": {
        "target": "com.amazonaws.athena#DeleteDataCatalogOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a data catalog.</p>"
      }
    },
    "com.amazonaws.athena#DeleteDataCatalogInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.athena#CatalogNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data catalog to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.athena#DeleteDataCatalogOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.athena#DeleteNamedQuery": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#DeleteNamedQueryInput"
      },
      "output": {
        "target": "com.amazonaws.athena#DeleteNamedQueryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the named query if you have access to the workgroup in which the query was\n            saved.</p>\n        <p>For code samples using the Amazon Web Services SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and\n                Code Samples</a> in the <i>Amazon Athena User\n            Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.athena#DeleteNamedQueryInput": {
      "type": "structure",
      "members": {
        "NamedQueryId": {
          "target": "com.amazonaws.athena#NamedQueryId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the query to delete.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.athena#DeleteNamedQueryOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.athena#DeletePreparedStatement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#DeletePreparedStatementInput"
      },
      "output": {
        "target": "com.amazonaws.athena#DeletePreparedStatementOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.athena#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the prepared statement with the specified name from the specified\n            workgroup.</p>"
      }
    },
    "com.amazonaws.athena#DeletePreparedStatementInput": {
      "type": "structure",
      "members": {
        "StatementName": {
          "target": "com.amazonaws.athena#StatementName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the prepared statement to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "WorkGroup": {
          "target": "com.amazonaws.athena#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The workgroup to which the statement to be deleted belongs.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.athena#DeletePreparedStatementOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.athena#DeleteWorkGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#DeleteWorkGroupInput"
      },
      "output": {
        "target": "com.amazonaws.athena#DeleteWorkGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the workgroup with the specified name. The primary workgroup cannot be\n            deleted.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.athena#DeleteWorkGroupInput": {
      "type": "structure",
      "members": {
        "WorkGroup": {
          "target": "com.amazonaws.athena#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the workgroup to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "RecursiveDeleteOption": {
          "target": "com.amazonaws.athena#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>The option to delete the workgroup and its contents even if the workgroup contains any\n            named queries or query executions.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#DeleteWorkGroupOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.athena#DescriptionString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.athena#EncryptionConfiguration": {
      "type": "structure",
      "members": {
        "EncryptionOption": {
          "target": "com.amazonaws.athena#EncryptionOption",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether Amazon S3 server-side encryption with Amazon S3-managed keys (<code>SSE-S3</code>), server-side encryption with KMS-managed keys\n                (<code>SSE-KMS</code>), or client-side encryption with KMS-managed keys (CSE-KMS) is\n            used.</p>\n        <p>If a query runs in a workgroup and the workgroup overrides client-side settings, then\n            the workgroup's setting for encryption is used. It specifies whether query results must\n            be encrypted, for all queries that run in this workgroup. </p>",
            "smithy.api#required": {}
          }
        },
        "KmsKey": {
          "target": "com.amazonaws.athena#String",
          "traits": {
            "smithy.api#documentation": "<p>For <code>SSE-KMS</code> and <code>CSE-KMS</code>, this is the KMS key ARN or\n            ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>If query results are encrypted in Amazon S3, indicates the encryption option\n            used (for example, <code>SSE-KMS</code> or <code>CSE-KMS</code>) and key\n            information.</p>"
      }
    },
    "com.amazonaws.athena#EncryptionOption": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SSE_S3",
            "name": "SSE_S3"
          },
          {
            "value": "SSE_KMS",
            "name": "SSE_KMS"
          },
          {
            "value": "CSE_KMS",
            "name": "CSE_KMS"
          }
        ]
      }
    },
    "com.amazonaws.athena#EngineVersion": {
      "type": "structure",
      "members": {
        "SelectedEngineVersion": {
          "target": "com.amazonaws.athena#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The engine version requested by the user. Possible values are determined by the output\n            of <code>ListEngineVersions</code>, including Auto. The default is Auto.</p>"
          }
        },
        "EffectiveEngineVersion": {
          "target": "com.amazonaws.athena#NameString",
          "traits": {
            "smithy.api#documentation": "<p>Read only. The engine version on which the query runs. If the user requests a valid\n            engine version other than Auto, the effective engine version is the same as the engine\n            version that the user requested. If the user requests Auto, the effective engine version\n            is chosen by Athena. When a request to update the engine version is made by\n            a <code>CreateWorkGroup</code> or <code>UpdateWorkGroup</code> operation, the\n                <code>EffectiveEngineVersion</code> field is ignored.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Athena engine version for running queries.</p>"
      }
    },
    "com.amazonaws.athena#EngineVersionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena#EngineVersion"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.athena#ErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The error code returned when the query execution failed to process, or when the\n            processing request for the named query failed.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.athena#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.athena#ExpressionString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.athena#GetDataCatalog": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#GetDataCatalogInput"
      },
      "output": {
        "target": "com.amazonaws.athena#GetDataCatalogOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the specified data catalog.</p>"
      }
    },
    "com.amazonaws.athena#GetDataCatalogInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.athena#CatalogNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data catalog to return.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.athena#GetDataCatalogOutput": {
      "type": "structure",
      "members": {
        "DataCatalog": {
          "target": "com.amazonaws.athena#DataCatalog",
          "traits": {
            "smithy.api#documentation": "<p>The data catalog returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#GetDatabase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#GetDatabaseInput"
      },
      "output": {
        "target": "com.amazonaws.athena#GetDatabaseOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.athena#MetadataException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a database object for the specified database and data catalog.</p>"
      }
    },
    "com.amazonaws.athena#GetDatabaseInput": {
      "type": "structure",
      "members": {
        "CatalogName": {
          "target": "com.amazonaws.athena#CatalogNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data catalog that contains the database to return.</p>",
            "smithy.api#required": {}
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.athena#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database to return.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.athena#GetDatabaseOutput": {
      "type": "structure",
      "members": {
        "Database": {
          "target": "com.amazonaws.athena#Database",
          "traits": {
            "smithy.api#documentation": "<p>The database returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#GetNamedQuery": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#GetNamedQueryInput"
      },
      "output": {
        "target": "com.amazonaws.athena#GetNamedQueryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a single query. Requires that you have access to the\n            workgroup in which the query was saved.</p>"
      }
    },
    "com.amazonaws.athena#GetNamedQueryInput": {
      "type": "structure",
      "members": {
        "NamedQueryId": {
          "target": "com.amazonaws.athena#NamedQueryId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the query. Use <a>ListNamedQueries</a> to get query\n            IDs.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.athena#GetNamedQueryOutput": {
      "type": "structure",
      "members": {
        "NamedQuery": {
          "target": "com.amazonaws.athena#NamedQuery",
          "traits": {
            "smithy.api#documentation": "<p>Information about the query.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#GetPreparedStatement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#GetPreparedStatementInput"
      },
      "output": {
        "target": "com.amazonaws.athena#GetPreparedStatementOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.athena#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the prepared statement with the specified name from the specified\n            workgroup.</p>"
      }
    },
    "com.amazonaws.athena#GetPreparedStatementInput": {
      "type": "structure",
      "members": {
        "StatementName": {
          "target": "com.amazonaws.athena#StatementName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the prepared statement to retrieve.</p>",
            "smithy.api#required": {}
          }
        },
        "WorkGroup": {
          "target": "com.amazonaws.athena#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The workgroup to which the statement to be retrieved belongs.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.athena#GetPreparedStatementOutput": {
      "type": "structure",
      "members": {
        "PreparedStatement": {
          "target": "com.amazonaws.athena#PreparedStatement",
          "traits": {
            "smithy.api#documentation": "<p>The name of the prepared statement that was retrieved.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#GetQueryExecution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#GetQueryExecutionInput"
      },
      "output": {
        "target": "com.amazonaws.athena#GetQueryExecutionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a single execution of a query if you have access to the\n            workgroup in which the query ran. Each time a query executes, information about the\n            query execution is saved with a unique ID.</p>"
      }
    },
    "com.amazonaws.athena#GetQueryExecutionInput": {
      "type": "structure",
      "members": {
        "QueryExecutionId": {
          "target": "com.amazonaws.athena#QueryExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the query execution.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.athena#GetQueryExecutionOutput": {
      "type": "structure",
      "members": {
        "QueryExecution": {
          "target": "com.amazonaws.athena#QueryExecution",
          "traits": {
            "smithy.api#documentation": "<p>Information about the query execution.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#GetQueryResults": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#GetQueryResultsInput"
      },
      "output": {
        "target": "com.amazonaws.athena#GetQueryResultsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Streams the results of a single query execution specified by\n                <code>QueryExecutionId</code> from the Athena query results location in\n                Amazon S3. For more information, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/querying.html\">Query Results</a> in the <i>Amazon Athena User Guide</i>. This request does not execute the query\n            but returns results. Use <a>StartQueryExecution</a> to run a query.</p>\n        <p>To stream query results successfully, the IAM principal with permission to call\n                <code>GetQueryResults</code> also must have permissions to the Amazon S3\n            <code>GetObject</code> action for the Athena query results location.</p>\n        <important>\n            <p>IAM principals with permission to the Amazon S3\n                <code>GetObject</code> action for the query results location are able to retrieve\n                query results from Amazon S3 even if permission to the\n                    <code>GetQueryResults</code> action is denied. To restrict user or role access,\n                ensure that Amazon S3 permissions to the Athena query location\n                are denied.</p>\n        </important>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.athena#GetQueryResultsInput": {
      "type": "structure",
      "members": {
        "QueryExecutionId": {
          "target": "com.amazonaws.athena#QueryExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the query execution.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token generated by the Athena service that specifies where to continue\n            pagination if a previous request was truncated. To obtain the next set of pages, pass in\n            the <code>NextToken</code> from the response object of the previous page call.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.athena#MaxQueryResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results (rows) to return in this request.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#GetQueryResultsOutput": {
      "type": "structure",
      "members": {
        "UpdateCount": {
          "target": "com.amazonaws.athena#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of rows inserted with a <code>CREATE TABLE AS SELECT</code> statement.\n        </p>"
          }
        },
        "ResultSet": {
          "target": "com.amazonaws.athena#ResultSet",
          "traits": {
            "smithy.api#documentation": "<p>The results of the query execution.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token generated by the Athena service that specifies where to continue\n            pagination if a previous request was truncated. To obtain the next set of pages, pass in\n            the <code>NextToken</code> from the response object of the previous page call.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#GetTableMetadata": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#GetTableMetadataInput"
      },
      "output": {
        "target": "com.amazonaws.athena#GetTableMetadataOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.athena#MetadataException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns table metadata for the specified catalog, database, and table.</p>"
      }
    },
    "com.amazonaws.athena#GetTableMetadataInput": {
      "type": "structure",
      "members": {
        "CatalogName": {
          "target": "com.amazonaws.athena#CatalogNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data catalog that contains the database and table metadata to\n            return.</p>",
            "smithy.api#required": {}
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.athena#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database that contains the table metadata to return.</p>",
            "smithy.api#required": {}
          }
        },
        "TableName": {
          "target": "com.amazonaws.athena#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table for which metadata is returned.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.athena#GetTableMetadataOutput": {
      "type": "structure",
      "members": {
        "TableMetadata": {
          "target": "com.amazonaws.athena#TableMetadata",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains table metadata.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#GetWorkGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#GetWorkGroupInput"
      },
      "output": {
        "target": "com.amazonaws.athena#GetWorkGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the workgroup with the specified name.</p>"
      }
    },
    "com.amazonaws.athena#GetWorkGroupInput": {
      "type": "structure",
      "members": {
        "WorkGroup": {
          "target": "com.amazonaws.athena#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.athena#GetWorkGroupOutput": {
      "type": "structure",
      "members": {
        "WorkGroup": {
          "target": "com.amazonaws.athena#WorkGroup",
          "traits": {
            "smithy.api#documentation": "<p>Information about the workgroup.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#IdempotencyToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 32,
          "max": 128
        }
      }
    },
    "com.amazonaws.athena#Integer": {
      "type": "integer"
    },
    "com.amazonaws.athena#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.athena#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates a platform issue, which may be due to a transient condition or\n            outage.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.athena#InvalidRequestException": {
      "type": "structure",
      "members": {
        "AthenaErrorCode": {
          "target": "com.amazonaws.athena#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.athena#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that something is wrong with the input to the request. For example, a\n            required parameter may be missing or out of range.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.athena#KeyString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*$"
      }
    },
    "com.amazonaws.athena#ListDataCatalogs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#ListDataCatalogsInput"
      },
      "output": {
        "target": "com.amazonaws.athena#ListDataCatalogsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the data catalogs in the current Amazon Web Services account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "DataCatalogsSummary",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.athena#ListDataCatalogsInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token generated by the Athena service that specifies where to continue\n            pagination if a previous request was truncated. To obtain the next set of pages, pass in\n            the NextToken from the response object of the previous page call.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.athena#MaxDataCatalogsCount",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the maximum number of data catalogs to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#ListDataCatalogsOutput": {
      "type": "structure",
      "members": {
        "DataCatalogsSummary": {
          "target": "com.amazonaws.athena#DataCatalogSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A summary list of data catalogs.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token generated by the Athena service that specifies where to continue\n            pagination if a previous request was truncated. To obtain the next set of pages, pass in\n            the NextToken from the response object of the previous page call.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#ListDatabases": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#ListDatabasesInput"
      },
      "output": {
        "target": "com.amazonaws.athena#ListDatabasesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.athena#MetadataException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the databases in the specified data catalog.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "DatabaseList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.athena#ListDatabasesInput": {
      "type": "structure",
      "members": {
        "CatalogName": {
          "target": "com.amazonaws.athena#CatalogNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data catalog that contains the databases to return.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token generated by the Athena service that specifies where to continue\n            pagination if a previous request was truncated. To obtain the next set of pages, pass in\n            the <code>NextToken</code> from the response object of the previous page call.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.athena#MaxDatabasesCount",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the maximum number of results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#ListDatabasesOutput": {
      "type": "structure",
      "members": {
        "DatabaseList": {
          "target": "com.amazonaws.athena#DatabaseList",
          "traits": {
            "smithy.api#documentation": "<p>A list of databases from a data catalog.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token generated by the Athena service that specifies where to continue\n            pagination if a previous request was truncated. To obtain the next set of pages, pass in\n            the NextToken from the response object of the previous page call.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#ListEngineVersions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#ListEngineVersionsInput"
      },
      "output": {
        "target": "com.amazonaws.athena#ListEngineVersionsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of engine versions that are available to choose from, including the\n            Auto option.</p>"
      }
    },
    "com.amazonaws.athena#ListEngineVersionsInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token generated by the Athena service that specifies where to continue\n            pagination if a previous request was truncated. To obtain the next set of pages, pass in\n            the <code>NextToken</code> from the response object of the previous page call.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.athena#MaxEngineVersionsCount",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of engine versions to return in this request.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#ListEngineVersionsOutput": {
      "type": "structure",
      "members": {
        "EngineVersions": {
          "target": "com.amazonaws.athena#EngineVersionsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of engine versions that are available to choose from.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token generated by the Athena service that specifies where to continue\n            pagination if a previous request was truncated. To obtain the next set of pages, pass in\n            the <code>NextToken</code> from the response object of the previous page call.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#ListNamedQueries": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#ListNamedQueriesInput"
      },
      "output": {
        "target": "com.amazonaws.athena#ListNamedQueriesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides a list of available query IDs only for queries saved in the specified\n            workgroup. Requires that you have access to the specified workgroup. If a workgroup is\n            not specified, lists the saved queries for the primary workgroup.</p>\n        <p>For code samples using the Amazon Web Services SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and\n                Code Samples</a> in the <i>Amazon Athena User\n            Guide</i>.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.athena#ListNamedQueriesInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token generated by the Athena service that specifies where to continue\n            pagination if a previous request was truncated. To obtain the next set of pages, pass in\n            the <code>NextToken</code> from the response object of the previous page call.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.athena#MaxNamedQueriesCount",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of queries to return in this request.</p>"
          }
        },
        "WorkGroup": {
          "target": "com.amazonaws.athena#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup from which the named queries are being returned. If a\n            workgroup is not specified, the saved queries for the primary workgroup are\n            returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#ListNamedQueriesOutput": {
      "type": "structure",
      "members": {
        "NamedQueryIds": {
          "target": "com.amazonaws.athena#NamedQueryIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of unique query IDs.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token generated by the Athena service that specifies where to continue\n            pagination if a previous request was truncated. To obtain the next set of pages, pass in\n            the <code>NextToken</code> from the response object of the previous page call.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#ListPreparedStatements": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#ListPreparedStatementsInput"
      },
      "output": {
        "target": "com.amazonaws.athena#ListPreparedStatementsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the prepared statements in the specfied workgroup.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.athena#ListPreparedStatementsInput": {
      "type": "structure",
      "members": {
        "WorkGroup": {
          "target": "com.amazonaws.athena#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The workgroup to list the prepared statements for.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token generated by the Athena service that specifies where to continue\n            pagination if a previous request was truncated. To obtain the next set of pages, pass in\n            the <code>NextToken</code> from the response object of the previous page call.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.athena#MaxPreparedStatementsCount",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in this request.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#ListPreparedStatementsOutput": {
      "type": "structure",
      "members": {
        "PreparedStatements": {
          "target": "com.amazonaws.athena#PreparedStatementsList",
          "traits": {
            "smithy.api#documentation": "<p>The list of prepared statements for the workgroup.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token generated by the Athena service that specifies where to continue\n            pagination if a previous request was truncated. To obtain the next set of pages, pass in\n            the <code>NextToken</code> from the response object of the previous page call.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#ListQueryExecutions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#ListQueryExecutionsInput"
      },
      "output": {
        "target": "com.amazonaws.athena#ListQueryExecutionsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides a list of available query execution IDs for the queries in the specified\n            workgroup. If a workgroup is not specified, returns a list of query execution IDs for\n            the primary workgroup. Requires you to have access to the workgroup in which the queries\n            ran.</p>\n        <p>For code samples using the Amazon Web Services SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and\n                Code Samples</a> in the <i>Amazon Athena User\n            Guide</i>.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.athena#ListQueryExecutionsInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token generated by the Athena service that specifies where to continue\n            pagination if a previous request was truncated. To obtain the next set of pages, pass in\n            the <code>NextToken</code> from the response object of the previous page call.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.athena#MaxQueryExecutionsCount",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of query executions to return in this request.</p>"
          }
        },
        "WorkGroup": {
          "target": "com.amazonaws.athena#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup from which queries are being returned. If a workgroup is not\n            specified, a list of available query execution IDs for the queries in the primary\n            workgroup is returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#ListQueryExecutionsOutput": {
      "type": "structure",
      "members": {
        "QueryExecutionIds": {
          "target": "com.amazonaws.athena#QueryExecutionIdList",
          "traits": {
            "smithy.api#documentation": "<p>The unique IDs of each query execution as an array of strings.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token to be used by the next request if this request is truncated.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#ListTableMetadata": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#ListTableMetadataInput"
      },
      "output": {
        "target": "com.amazonaws.athena#ListTableMetadataOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.athena#MetadataException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the metadata for the tables in the specified data catalog database.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "TableMetadataList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.athena#ListTableMetadataInput": {
      "type": "structure",
      "members": {
        "CatalogName": {
          "target": "com.amazonaws.athena#CatalogNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data catalog for which table metadata should be returned.</p>",
            "smithy.api#required": {}
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.athena#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database for which table metadata should be returned.</p>",
            "smithy.api#required": {}
          }
        },
        "Expression": {
          "target": "com.amazonaws.athena#ExpressionString",
          "traits": {
            "smithy.api#documentation": "<p>A regex filter that pattern-matches table names. If no expression is supplied,\n            metadata for all tables are listed.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token generated by the Athena service that specifies where to continue\n            pagination if a previous request was truncated. To obtain the next set of pages, pass in\n            the NextToken from the response object of the previous page call.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.athena#MaxTableMetadataCount",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the maximum number of results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#ListTableMetadataOutput": {
      "type": "structure",
      "members": {
        "TableMetadataList": {
          "target": "com.amazonaws.athena#TableMetadataList",
          "traits": {
            "smithy.api#documentation": "<p>A list of table metadata.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token generated by the Athena service that specifies where to continue\n            pagination if a previous request was truncated. To obtain the next set of pages, pass in\n            the NextToken from the response object of the previous page call.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#ListTagsForResourceInput"
      },
      "output": {
        "target": "com.amazonaws.athena#ListTagsForResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.athena#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags associated with an Athena workgroup or data catalog\n            resource.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Tags",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.athena#ListTagsForResourceInput": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.athena#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Lists the tags for the resource with the specified ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results, or null if there are no additional results for\n            this request, where the request lists the tags for the resource with the specified\n            ARN.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.athena#MaxTagsCount",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to be returned per request that lists the tags for the\n            resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#ListTagsForResourceOutput": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.athena#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags associated with the specified resource.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token to be used by the next request if this request is truncated.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#ListWorkGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.athena#ListWorkGroupsInput"
      },
      "output": {
        "target": "com.amazonaws.athena#ListWorkGroupsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.athena#InternalServerException"
        },
        {
          "target": "com.amazonaws.athena#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists available workgroups for the account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.athena#ListWorkGroupsInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token generated by the Athena service that specifies where to continue\n            pagination if a previous request was truncated. To obtain the next set of pages, pass in\n            the <code>NextToken</code> from the response object of the previous page call.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.athena#MaxWorkGroupsCount",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of workgroups to return in this request.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#ListWorkGroupsOutput": {
      "type": "structure",
      "members": {
        "WorkGroups": {
          "target": "com.amazonaws.athena#WorkGroupsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a>WorkGroupSummary</a> objects that include the names,\n            descriptions, creation times, and states for each workgroup.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.athena#Token",
          "traits": {
            "smithy.api#documentation": "<p>A token generated by the Athena service that specifies where to continue\n            pagination if a previous request was truncated. To obtain the next set of pages, pass in\n            the <code>NextToken</code> from the response object of the previous page call.</p>"
          }
        }
      }
    },
    "com.amazonaws.athena#Long": {
      "type": "long",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.athena#MaxDataCatalogsCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 2,
          "max": 50
        }
      }
    },
    "com.amazonaws.athena#MaxDatabasesCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.athena#MaxEngineVersionsCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.athena#MaxNamedQueriesCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.athena#MaxPreparedStatementsCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.athena#MaxQueryExecutionsCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.athena#MaxQueryResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.athena#MaxTableMetadataCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.athena#MaxTagsCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 75
        }
      }
    },
    "com.amazonaws.athena#MaxWorkGroupsCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.athena#MetadataException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.athena#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An exception that Athena received when it called a custom metastore.\n            Occurs if the error is not caused by user input (<code>InvalidRequestException</code>)\n            or from the Athena platform (<code>InternalServerException</code>). For\n            example, if a user-created Lambda function is missing permissions, the\n                Lambda\n            <code>4XX</code> exception is returned in a <code>MetadataException</code>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.athena#NameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.athena#NamedQuery": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.athena#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The query name.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.athena#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The query description.</p>"
          }
        },
        "Database": {
          "target": "com.amazonaws.athena#DatabaseString",
          "traits": {
            "smithy.api#documentation": "<p>The database to which the query belongs.</p>",
            "smithy.api#required": {}
          }
        },
        "QueryString": {
          "target": "com.amazonaws.athena#QueryString",
          "traits": {
            "smithy.api#documentation": "<p>The SQL query statements that comprise the query.</p>",
            "smithy.api#required": {}
          }
        },
        "NamedQueryId": {
          "target": "com.amazonaws.athena#NamedQueryId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the query.</p>"
          }
        },
        "WorkGroup": {
          "target": "com.amazonaws.athena#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup that contains the named query.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A query, where <code>QueryString</code> is the list of SQL query statements that\n            comprise the query.</p>"
      }
    },
    "com.amazonaws.athena#NamedQueryId": {
      "type": "string"
    },
    "com.amazonaws.athena#NamedQueryIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena#NamedQueryId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.athena#NamedQueryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena#NamedQuery"
      }
    },
    "com.amazonaws.athena#ParametersMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.athena#KeyString"
      },
      "value": {
        "target": "com.amazonaws.athena#ParametersMapValue"
      }
    },
    "com.amazonaws.athena#ParametersMapValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 51200
        }
      }
    },
    "com.amazonaws.athena#PreparedStatement": {
      "type": "structure",
      "members": {
        "StatementName": {
          "target": "com.amazonaws.athena#StatementName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the prepared statement.</p>"
          }
        },
        "QueryStatement": {
          "target": "com.amazonaws.athena#QueryString",
          "traits": {
            "smithy.api#documentation": "<p>The query string for the prepared statement.</p>"
          }
        },
        "WorkGroupName": {
          "target": "com.amazonaws.athena#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup to which the prepared statement belongs.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.athena#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the prepared statement.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.athena#Date",
          "traits": {
            "smithy.api#documentation": "<p>The last modified time of the prepared statement.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A prepared SQL statement for use with Athena.</p>"
      }
    },
    "com.amazonaws.athena#PreparedStatementSummary": {
      "type": "structure",
      "members": {
        "StatementName": {
          "target": "com.amazonaws.athena#StatementName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the prepared statement.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.athena#Date",
          "traits": {
            "smithy.api#documentation": "<p>The last modified time of the prepared statement.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The name and last modified time of the prepared statement.</p>"
      }
    },
    "com.amazonaws.athena#PreparedStatementsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena#PreparedStatementSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.athena#QueryExecution": {
      "type": "structure",
      "members": {
        "QueryExecutionId": {
          "target": "com.amazonaws.athena#QueryExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for each query execution.</p>"
          }
        },
        "Query": {
          "target": "com.amazonaws.athena#QueryString",
          "traits": {
            "smithy.api#documentation": "<p>The SQL query statements which the query execution ran.</p>"
          }
        },
        "StatementType": {
          "target": "com.amazonaws.athena#StatementType",
          "traits": {
            "smithy.api#documentation": "<p>The type of query statement that was run. <code>DDL</code> indicates DDL query\n            statements. <code>DML</code> indicates DML (Data Manipulation Language) query\n            statements, such as <code>CREATE TABLE AS SELECT</code>. <code>UTILITY</code> indicates\n            query statements other than DDL and DML, such as <code>SHOW CREATE TABLE</code>, or\n                <code>DESCRIBE TABLE</code>.</p>"
          }
        },
        "ResultConfiguration": {
          "target": "com.amazonaws.athena#ResultConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The location in Amazon S3 where query results were stored and the encryption\n            option, if any, used for query results. These are known as \"client-side settings\". If\n            workgroup settings override client-side settings, then the query uses the location for\n            the query results and the encryption configuration that are specified for the\n            workgroup.</p>"
          }
        },
        "QueryExecutionContext": {
          "target": "com.amazonaws.athena#QueryExecutionContext",
          "traits": {
            "smithy.api#documentation": "<p>The database in which the query execution occurred.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.athena#QueryExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The completion date, current state, submission time, and state change reason (if\n            applicable) for the query execution.</p>"
          }
        },
        "Statistics": {
          "target": "com.amazonaws.athena#QueryExecutionStatistics",
          "traits": {
            "smithy.api#documentation": "<p>Query execution statistics, such as the amount of data scanned, the amount of time\n            that the query took to process, and the type of statement that was run.</p>"
          }
        },
        "WorkGroup": {
          "target": "com.amazonaws.athena#WorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup in which the query ran.</p>"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.athena#EngineVersion",
          "traits": {
            "smithy.api#documentation": "<p>The engine version that executed the query.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a single instance of a query execution.</p>"
      }
    },
    "com.amazonaws.athena#QueryExecutionContext": {
      "type": "structure",
      "members": {
        "Database": {
          "target": "com.amazonaws.athena#DatabaseString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database used in the query execution. The database must exist in the catalog.</p>"
          }
        },
        "Catalog": {
          "target": "com.amazonaws.athena#CatalogNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data catalog used in the query execution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The database and data catalog context in which the query execution occurs.</p>"
      }
    },
    "com.amazonaws.athena#QueryExecutionId": {
      "type": "string"
    },
    "com.amazonaws.athena#QueryExecutionIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena#QueryExecutionId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.athena#QueryExecutionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.athena#QueryExecution"
      }
    },
    "com.amazonaws.athena#QueryExecutionState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "QUEUED",
            "name": "QUEUED"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "CANCELLED",
            "name": "CANCELLED"
          }
        ]
      }
    },
    "com.amazonaws.athena#QueryExecutionStatistics": {
      "type": "structure",
      "members": {
        "EngineExecutionTimeInMillis": {
          "target": "com.amazonaws.athena#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of milliseconds that the query took to execute.</p>"
          }
        },
        "DataScannedInBytes": {
          "target": "com.amazonaws.athena#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of bytes in the data that was queried.</p>"
          }
        },
        "DataManifestLocation": {
          "target": "com.amazonaws.athena#String",
          "traits": {
[...]
