{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.auditmanager#AWSAccount": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.auditmanager#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n   The identifier for the specified AWS account. \n</p>"
          }
        },
        "emailAddress": {
          "target": "com.amazonaws.auditmanager#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>\n   The email address associated with the specified AWS account. \n</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.auditmanager#AccountName",
          "traits": {
            "smithy.api#documentation": "<p>\n   The name of the specified AWS account. \n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   The wrapper of AWS account details, such as account ID, email address, and so on. \n</p>"
      }
    },
    "com.amazonaws.auditmanager#AWSAccounts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#AWSAccount"
      }
    },
    "com.amazonaws.auditmanager#AWSService": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "com.amazonaws.auditmanager#AWSServiceName",
          "traits": {
            "smithy.api#documentation": "<p>\n   The name of the AWS service. \n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   An AWS service such as Amazon S3, AWS CloudTrail, and so on. \n</p>"
      }
    },
    "com.amazonaws.auditmanager#AWSServiceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 40
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-\\s().]+$"
      }
    },
    "com.amazonaws.auditmanager#AWSServices": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#AWSService"
      }
    },
    "com.amazonaws.auditmanager#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.auditmanager#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   You do not have sufficient access to perform this action. \n</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.auditmanager#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.auditmanager#AccountName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^[\\u0020-\\u007E]+$"
      }
    },
    "com.amazonaws.auditmanager#AccountStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "INACTIVE",
            "name": "INACTIVE"
          },
          {
            "value": "PENDING_ACTIVATION",
            "name": "PENDING_ACTIVATION"
          }
        ]
      }
    },
    "com.amazonaws.auditmanager#ActionEnum": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATE",
            "name": "CREATE"
          },
          {
            "value": "UPDATE_METADATA",
            "name": "UPDATE_METADATA"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "INACTIVE",
            "name": "INACTIVE"
          },
          {
            "value": "DELETE",
            "name": "DELETE"
          },
          {
            "value": "UNDER_REVIEW",
            "name": "UNDER_REVIEW"
          },
          {
            "value": "REVIEWED",
            "name": "REVIEWED"
          },
          {
            "value": "IMPORT_EVIDENCE",
            "name": "IMPORT_EVIDENCE"
          }
        ]
      }
    },
    "com.amazonaws.auditmanager#ActionPlanInstructions": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\w\\W\\s\\S]*$"
      }
    },
    "com.amazonaws.auditmanager#ActionPlanTitle": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 300
        },
        "smithy.api#pattern": "^[\\w\\W\\s\\S]*$"
      }
    },
    "com.amazonaws.auditmanager#Assessment": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.auditmanager#AuditManagerArn",
          "traits": {
            "smithy.api#documentation": "<p>\n   The Amazon Resource Name (ARN) of the assessment. \n</p>"
          }
        },
        "awsAccount": {
          "target": "com.amazonaws.auditmanager#AWSAccount",
          "traits": {
            "smithy.api#documentation": "<p>\n The AWS account associated with the assessment. \n</p>"
          }
        },
        "metadata": {
          "target": "com.amazonaws.auditmanager#AssessmentMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n The metadata for the specified assessment. \n</p>"
          }
        },
        "framework": {
          "target": "com.amazonaws.auditmanager#AssessmentFramework",
          "traits": {
            "smithy.api#documentation": "<p>\n   The framework from which the assessment was created. \n</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.auditmanager#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n The tags associated with the assessment. \n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   An entity that defines the scope of audit evidence collected by AWS Audit Manager. An AWS Audit Manager assessment is an implementation of an AWS Audit Manager framework. \n</p>"
      }
    },
    "com.amazonaws.auditmanager#AssessmentControl": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n   The identifier for the specified control. \n</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.auditmanager#ControlName",
          "traits": {
            "smithy.api#documentation": "<p>\n   The name of the specified control. \n</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.auditmanager#ControlDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n   The description of the specified control. \n</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.auditmanager#ControlStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n   The status of the specified control. \n</p>"
          }
        },
        "response": {
          "target": "com.amazonaws.auditmanager#ControlResponse",
          "traits": {
            "smithy.api#documentation": "<p>\n   The response of the specified control. \n</p>"
          }
        },
        "comments": {
          "target": "com.amazonaws.auditmanager#ControlComments",
          "traits": {
            "smithy.api#documentation": "<p>\n   The list of comments attached to the specified control. \n</p>"
          }
        },
        "evidenceSources": {
          "target": "com.amazonaws.auditmanager#EvidenceSources",
          "traits": {
            "smithy.api#documentation": "<p>\n   The list of data sources for the specified evidence.\n</p>"
          }
        },
        "evidenceCount": {
          "target": "com.amazonaws.auditmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n   The amount of evidence generated for the control.\n</p>"
          }
        },
        "assessmentReportEvidenceCount": {
          "target": "com.amazonaws.auditmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n   The amount of evidence in the assessment report.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   The control entity that represents a standard or custom control used in an AWS Audit Manager assessment.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#AssessmentControlSet": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.auditmanager#ControlSetId",
          "traits": {
            "smithy.api#documentation": "<p>\n   The identifier of the control set in the assessment. This is the control set name in a plain string format. \n</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.auditmanager#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>\n   The description for the control set. \n</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.auditmanager#ControlSetStatus",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies the current status of the control set.\n</p>"
          }
        },
        "roles": {
          "target": "com.amazonaws.auditmanager#Roles",
          "traits": {
            "smithy.api#documentation": "<p>\n   The roles associated with the control set. \n</p>"
          }
        },
        "controls": {
          "target": "com.amazonaws.auditmanager#AssessmentControls",
          "traits": {
            "smithy.api#documentation": "<p>\nThe list of controls contained with the control set.\n</p>"
          }
        },
        "delegations": {
          "target": "com.amazonaws.auditmanager#Delegations",
          "traits": {
            "smithy.api#documentation": "<p>\n   The delegations associated with the control set.\n</p>"
          }
        },
        "systemEvidenceCount": {
          "target": "com.amazonaws.auditmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n   The total number of evidence objects retrieved automatically for the control set. \n</p>"
          }
        },
        "manualEvidenceCount": {
          "target": "com.amazonaws.auditmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n   The total number of evidence objects uploaded manually to the control set. \n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\nRepresents a set of controls in an AWS Audit Manager assessment.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#AssessmentControlSets": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#AssessmentControlSet"
      }
    },
    "com.amazonaws.auditmanager#AssessmentControls": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#AssessmentControl"
      }
    },
    "com.amazonaws.auditmanager#AssessmentDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\w\\W\\s\\S]*$"
      }
    },
    "com.amazonaws.auditmanager#AssessmentEvidenceFolder": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.auditmanager#AssessmentEvidenceFolderName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the specified evidence folder.\n</p>"
          }
        },
        "date": {
          "target": "com.amazonaws.auditmanager#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n         The date when the first evidence was added to the evidence folder.\n      </p>"
          }
        },
        "assessmentId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n   The identifier for the specified assessment. \n</p>"
          }
        },
        "controlSetId": {
          "target": "com.amazonaws.auditmanager#ControlSetId",
          "traits": {
            "smithy.api#documentation": "<p>\n   The identifier for the control set. \n</p>"
          }
        },
        "controlId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n   \n   The unique identifier for the specified control. \n</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\nThe identifier for the folder in which evidence is stored.\n</p>"
          }
        },
        "dataSource": {
          "target": "com.amazonaws.auditmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>\n   The AWS service from which the evidence was collected. \n</p>"
          }
        },
        "author": {
          "target": "com.amazonaws.auditmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>\n   The name of the user who created the evidence folder.\n</p>"
          }
        },
        "totalEvidence": {
          "target": "com.amazonaws.auditmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n         The total amount of evidence in the evidence folder.\n      </p>"
          }
        },
        "assessmentReportSelectionCount": {
          "target": "com.amazonaws.auditmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n         The total count of evidence included in the assessment report.\n      </p>"
          }
        },
        "controlName": {
          "target": "com.amazonaws.auditmanager#ControlName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the control.\n      </p>"
          }
        },
        "evidenceResourcesIncludedCount": {
          "target": "com.amazonaws.auditmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n         The amount of evidence included in the evidence folder.\n      </p>"
          }
        },
        "evidenceByTypeConfigurationDataCount": {
          "target": "com.amazonaws.auditmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n         The number of evidence that falls under the configuration data category. This evidence is collected from configuration snapshots of other AWS services such as Amazon EC2, Amazon S3, or IAM.\n      </p>"
          }
        },
        "evidenceByTypeManualCount": {
          "target": "com.amazonaws.auditmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n         The number of evidence that falls under the manual category. This evidence is imported manually.\n      </p>"
          }
        },
        "evidenceByTypeComplianceCheckCount": {
          "target": "com.amazonaws.auditmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n         The number of evidence that falls under the compliance check category. This evidence is collected from AWS Config or AWS Security Hub.\n      </p>"
          }
        },
        "evidenceByTypeComplianceCheckIssuesCount": {
          "target": "com.amazonaws.auditmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n         The total number of issues that were reported directly from AWS Security\n         Hub, AWS Config, or both.\n      </p>"
          }
        },
        "evidenceByTypeUserActivityCount": {
          "target": "com.amazonaws.auditmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n         The number of evidence that falls under the user activity category. This evidence is collected from AWS CloudTrail logs.\n      </p>"
          }
        },
        "evidenceAwsServiceSourceCount": {
          "target": "com.amazonaws.auditmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n   The total number of AWS resources assessed to generate the evidence. \n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\nThe folder in which AWS Audit Manager stores evidence for an assessment.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#AssessmentEvidenceFolderName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        },
        "smithy.api#pattern": "^[\\w\\W\\s\\S]*$"
      }
    },
    "com.amazonaws.auditmanager#AssessmentEvidenceFolders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#AssessmentEvidenceFolder"
      }
    },
    "com.amazonaws.auditmanager#AssessmentFramework": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\nThe unique identifier for the framework.\n</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.auditmanager#AuditManagerArn",
          "traits": {
            "smithy.api#documentation": "<p>\n   The Amazon Resource Name (ARN) of the specified framework. \n</p>"
          }
        },
        "metadata": {
          "target": "com.amazonaws.auditmanager#FrameworkMetadata"
        },
        "controlSets": {
          "target": "com.amazonaws.auditmanager#AssessmentControlSets",
          "traits": {
            "smithy.api#documentation": "<p>\n   The control sets associated with the framework. \n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   The file used to structure and automate AWS Audit Manager assessments for a given compliance standard.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#AssessmentFrameworkDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[\\w\\W\\s\\S]*$"
      }
    },
    "com.amazonaws.auditmanager#AssessmentFrameworkMetadata": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\nThe unique identified for the specified framework.\n</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.auditmanager#FrameworkType",
          "traits": {
            "smithy.api#documentation": "<p>\nThe framework type, such as standard or custom.\n</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.auditmanager#FrameworkName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the specified framework.\n</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.auditmanager#FrameworkDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n   The description of the specified framework.\n</p>"
          }
        },
        "logo": {
          "target": "com.amazonaws.auditmanager#Filename",
          "traits": {
            "smithy.api#documentation": "<p>\n   The logo associated with the framework. \n</p>"
          }
        },
        "complianceType": {
          "target": "com.amazonaws.auditmanager#ComplianceType",
          "traits": {
            "smithy.api#documentation": "<p>\n   The compliance type that the new custom framework supports, such as CIS or HIPAA.\n</p>"
          }
        },
        "controlsCount": {
          "target": "com.amazonaws.auditmanager#ControlsCount",
          "traits": {
            "smithy.api#documentation": "<p>\nThe number of controls associated with the specified framework.\n</p>"
          }
        },
        "controlSetsCount": {
          "target": "com.amazonaws.auditmanager#ControlSetsCount",
          "traits": {
            "smithy.api#documentation": "<p>\n   The number of control sets associated with the specified framework.\n</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.auditmanager#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n   Specifies when the framework was created.\n</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.auditmanager#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n   Specifies when the framework was most recently updated.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   The metadata associated with a standard or custom framework.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#AssessmentMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.auditmanager#AssessmentName",
          "traits": {
            "smithy.api#documentation": "<p>\n   The name of the assessment. \n</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n   The unique identifier for the assessment. \n</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.auditmanager#AssessmentDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n   The description of the assessment. \n</p>"
          }
        },
        "complianceType": {
          "target": "com.amazonaws.auditmanager#ComplianceType",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of a compliance standard related to the assessment, such as PCI-DSS. \n      </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.auditmanager#AssessmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n   The overall status of the assessment. \n</p>"
          }
        },
        "assessmentReportsDestination": {
          "target": "com.amazonaws.auditmanager#AssessmentReportsDestination",
          "traits": {
            "smithy.api#documentation": "<p>\n   The destination in which evidence reports are stored for the specified assessment. \n</p>"
          }
        },
        "scope": {
          "target": "com.amazonaws.auditmanager#Scope",
          "traits": {
            "smithy.api#documentation": "<p>\n   The wrapper of AWS accounts and services in scope for the assessment. \n</p>"
          }
        },
        "roles": {
          "target": "com.amazonaws.auditmanager#Roles",
          "traits": {
            "smithy.api#documentation": "<p>\n   The roles associated with the assessment. \n</p>"
          }
        },
        "delegations": {
          "target": "com.amazonaws.auditmanager#Delegations",
          "traits": {
            "smithy.api#documentation": "<p>\n   The delegations associated with the assessment. \n</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.auditmanager#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n   Specifies when the assessment was created.\n</p>"
          }
        },
        "lastUpdated": {
          "target": "com.amazonaws.auditmanager#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n   The time of the most recent update. \n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   The metadata associated with the specified assessment.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#AssessmentMetadataItem": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.auditmanager#AssessmentName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the assessment.\n</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n   The unique identifier for the assessment. \n</p>"
          }
        },
        "complianceType": {
          "target": "com.amazonaws.auditmanager#ComplianceType",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the compliance standard related to the assessment, such as PCI-DSS. \n      </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.auditmanager#AssessmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>\nThe current status of the assessment.\n</p>"
          }
        },
        "roles": {
          "target": "com.amazonaws.auditmanager#Roles",
          "traits": {
            "smithy.api#documentation": "<p>\n   The roles associated with the assessment. \n</p>"
          }
        },
        "delegations": {
          "target": "com.amazonaws.auditmanager#Delegations",
          "traits": {
            "smithy.api#documentation": "<p>\n   The delegations associated with the assessment.\n</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.auditmanager#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n   Specifies when the assessment was created.\n</p>"
          }
        },
        "lastUpdated": {
          "target": "com.amazonaws.auditmanager#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n   The time of the most recent update. \n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\nA metadata object associated with an assessment in AWS Audit Manager.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#AssessmentName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        },
        "smithy.api#pattern": "^[\\w\\W\\s\\S]*$"
      }
    },
    "com.amazonaws.auditmanager#AssessmentReport": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\nThe unique identifier for the specified assessment report.\n</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.auditmanager#AssessmentReportName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name given to the assessment report.\n</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.auditmanager#AssessmentReportDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n   The description of the specified assessment report.\n</p>"
          }
        },
        "awsAccountId": {
          "target": "com.amazonaws.auditmanager#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n   The identifier for the specified AWS account. \n</p>"
          }
        },
        "assessmentId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n   The identifier for the specified assessment. \n</p>"
          }
        },
        "assessmentName": {
          "target": "com.amazonaws.auditmanager#AssessmentName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the associated assessment.\n</p>"
          }
        },
        "author": {
          "target": "com.amazonaws.auditmanager#Username",
          "traits": {
            "smithy.api#documentation": "<p>\n   The name of the user who created the assessment report.\n</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.auditmanager#AssessmentReportStatus",
          "traits": {
            "smithy.api#documentation": "<p>\nThe current status of the specified assessment report.\n</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.auditmanager#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n   Specifies when the assessment report was created. \n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n A finalized document generated from an AWS Audit Manager assessment. These reports summarize the relevant evidence collected for your audit, and link to the relevant evidence folders which are named and organized according to the controls specified in your assessment.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#AssessmentReportDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\w\\W\\s\\S]*$"
      }
    },
    "com.amazonaws.auditmanager#AssessmentReportDestinationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "S3",
            "name": "S3"
          }
        ]
      }
    },
    "com.amazonaws.auditmanager#AssessmentReportEvidenceError": {
      "type": "structure",
      "members": {
        "evidenceId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n   The identifier for the evidence. \n</p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.auditmanager#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>\n   The error code returned by the <code>AssessmentReportEvidence</code> API. \n</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.auditmanager#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>\n   The error message returned by the <code>AssessmentReportEvidence</code> API. \n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   An error entity for the <code>AssessmentReportEvidence</code> API. This is used to provide more meaningful errors than a simple string message.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#AssessmentReportEvidenceErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#AssessmentReportEvidenceError"
      }
    },
    "com.amazonaws.auditmanager#AssessmentReportMetadata": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\nThe unique identifier for the assessment report.\n</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.auditmanager#AssessmentReportName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the assessment report.\n</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.auditmanager#AssessmentReportDescription",
          "traits": {
            "smithy.api#documentation": "<p>\nThe description of the specified assessment report.\n</p>"
          }
        },
        "assessmentId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n   The unique identifier for the associated assessment.\n</p>"
          }
        },
        "assessmentName": {
          "target": "com.amazonaws.auditmanager#AssessmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the associated assessment. \n</p>"
          }
        },
        "author": {
          "target": "com.amazonaws.auditmanager#Username",
          "traits": {
            "smithy.api#documentation": "<p>\n   The name of the user who created the assessment report.\n</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.auditmanager#AssessmentReportStatus",
          "traits": {
            "smithy.api#documentation": "<p>\nThe current status of the assessment report.\n</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.auditmanager#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n   Specifies when the assessment report was created.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   The metadata objects associated with the specified assessment report.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#AssessmentReportName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_\\.]+$"
      }
    },
    "com.amazonaws.auditmanager#AssessmentReportStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "COMPLETE",
            "name": "COMPLETE"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.auditmanager#AssessmentReportsDestination": {
      "type": "structure",
      "members": {
        "destinationType": {
          "target": "com.amazonaws.auditmanager#AssessmentReportDestinationType",
          "traits": {
            "smithy.api#documentation": "<p>\n   The destination type, such as Amazon S3. \n</p>"
          }
        },
        "destination": {
          "target": "com.amazonaws.auditmanager#S3Url",
          "traits": {
            "smithy.api#documentation": "<p>\n   The destination of the assessment report.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   The location in which AWS Audit Manager saves assessment reports for the given assessment.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#AssessmentReportsMetadata": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#AssessmentReportMetadata"
      }
    },
    "com.amazonaws.auditmanager#AssessmentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "INACTIVE",
            "name": "INACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.auditmanager#AssociateAssessmentReportEvidenceFolder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.auditmanager#AssociateAssessmentReportEvidenceFolderRequest"
      },
      "output": {
        "target": "com.amazonaws.auditmanager#AssociateAssessmentReportEvidenceFolderResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.auditmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.auditmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.auditmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.auditmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Associates an evidence folder to the specified assessment report in AWS Audit Manager. \n      </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/assessments/{assessmentId}/associateToAssessmentReport",
          "code": 200
        }
      }
    },
    "com.amazonaws.auditmanager#AssociateAssessmentReportEvidenceFolderRequest": {
      "type": "structure",
      "members": {
        "assessmentId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n         The identifier for the specified assessment. \n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "evidenceFolderId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n         The identifier for the folder in which evidence is stored.\n      </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.auditmanager#AssociateAssessmentReportEvidenceFolderResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.auditmanager#AuditManagerArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:.*:auditmanager:.*"
      }
    },
    "com.amazonaws.auditmanager#BatchAssociateAssessmentReportEvidence": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.auditmanager#BatchAssociateAssessmentReportEvidenceRequest"
      },
      "output": {
        "target": "com.amazonaws.auditmanager#BatchAssociateAssessmentReportEvidenceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.auditmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.auditmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.auditmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.auditmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n        Associates a list of evidence to an assessment report in an AWS Audit Manager assessment.\n      </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/assessments/{assessmentId}/batchAssociateToAssessmentReport",
          "code": 200
        }
      }
    },
    "com.amazonaws.auditmanager#BatchAssociateAssessmentReportEvidenceRequest": {
      "type": "structure",
      "members": {
        "assessmentId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n    The unique identifier for the specified assessment.\n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "evidenceFolderId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n         The identifier for the folder in which the evidence is stored.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "evidenceIds": {
          "target": "com.amazonaws.auditmanager#EvidenceIds",
          "traits": {
            "smithy.api#documentation": "<p>\n         The list of evidence identifiers. \n      </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.auditmanager#BatchAssociateAssessmentReportEvidenceResponse": {
      "type": "structure",
      "members": {
        "evidenceIds": {
          "target": "com.amazonaws.auditmanager#EvidenceIds",
          "traits": {
            "smithy.api#documentation": "<p>\n         The identifier for the evidence. \n      </p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.auditmanager#AssessmentReportEvidenceErrors",
          "traits": {
            "smithy.api#documentation": "<p>\n         A list of errors returned by the <code>BatchAssociateAssessmentReportEvidence</code> API. \n      </p>"
          }
        }
      }
    },
    "com.amazonaws.auditmanager#BatchCreateDelegationByAssessment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.auditmanager#BatchCreateDelegationByAssessmentRequest"
      },
      "output": {
        "target": "com.amazonaws.auditmanager#BatchCreateDelegationByAssessmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.auditmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.auditmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.auditmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.auditmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n   Create a batch of delegations for a specified assessment in AWS Audit Manager.\n      </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/assessments/{assessmentId}/delegations",
          "code": 200
        }
      }
    },
    "com.amazonaws.auditmanager#BatchCreateDelegationByAssessmentError": {
      "type": "structure",
      "members": {
        "createDelegationRequest": {
          "target": "com.amazonaws.auditmanager#CreateDelegationRequest",
          "traits": {
            "smithy.api#documentation": "<p>\nThe API request to batch create delegations in AWS Audit Manager.\n</p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.auditmanager#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>\n   The error code returned by the <code>BatchCreateDelegationByAssessment</code> API. \n</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.auditmanager#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>\n   The error message returned by the <code>BatchCreateDelegationByAssessment</code> API. \n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   An error entity for the <code>BatchCreateDelegationByAssessment</code> API. This is used to provide more meaningful errors than a simple string message.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#BatchCreateDelegationByAssessmentErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#BatchCreateDelegationByAssessmentError"
      }
    },
    "com.amazonaws.auditmanager#BatchCreateDelegationByAssessmentRequest": {
      "type": "structure",
      "members": {
        "createDelegationRequests": {
          "target": "com.amazonaws.auditmanager#CreateDelegationRequests",
          "traits": {
            "smithy.api#documentation": "<p>\n         The API request to batch create delegations in AWS Audit Manager.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "assessmentId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n         The identifier for the specified assessment. \n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.auditmanager#BatchCreateDelegationByAssessmentResponse": {
      "type": "structure",
      "members": {
        "delegations": {
          "target": "com.amazonaws.auditmanager#Delegations",
          "traits": {
            "smithy.api#documentation": "<p>\n         The delegations associated with the assessment. \n      </p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.auditmanager#BatchCreateDelegationByAssessmentErrors",
          "traits": {
            "smithy.api#documentation": "<p>\n         A list of errors returned by the <code>BatchCreateDelegationByAssessment</code> API. \n      </p>"
          }
        }
      }
    },
    "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessmentRequest"
      },
      "output": {
        "target": "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.auditmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.auditmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.auditmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.auditmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nDeletes the delegations in the specified AWS Audit Manager assessment.\n      </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/assessments/{assessmentId}/delegations",
          "code": 200
        }
      }
    },
    "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessmentError": {
      "type": "structure",
      "members": {
        "delegationId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n   The identifier for the specified delegation.\n</p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.auditmanager#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>\n   The error code returned by the <code>BatchDeleteDelegationByAssessment</code> API.\n</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.auditmanager#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>\n   The error message returned by the <code>BatchDeleteDelegationByAssessment</code> API.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   An error entity for the <code>BatchDeleteDelegationByAssessment</code> API. This is used to provide more meaningful errors than a simple string message.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessmentErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessmentError"
      }
    },
    "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessmentRequest": {
      "type": "structure",
      "members": {
        "delegationIds": {
          "target": "com.amazonaws.auditmanager#DelegationIds",
          "traits": {
            "smithy.api#documentation": "<p>\n   The identifiers for the specified delegations.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "assessmentId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n         The identifier for the specified assessment. \n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessmentResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessmentErrors",
          "traits": {
            "smithy.api#documentation": "<p>\n         A list of errors returned by the <code>BatchDeleteDelegationByAssessment</code> API. \n      </p>"
          }
        }
      }
    },
    "com.amazonaws.auditmanager#BatchDisassociateAssessmentReportEvidence": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.auditmanager#BatchDisassociateAssessmentReportEvidenceRequest"
      },
      "output": {
        "target": "com.amazonaws.auditmanager#BatchDisassociateAssessmentReportEvidenceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.auditmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.auditmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.auditmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.auditmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Disassociates a list of evidence from the specified assessment report in AWS Audit Manager. \n      </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/assessments/{assessmentId}/batchDisassociateFromAssessmentReport",
          "code": 200
        }
      }
    },
    "com.amazonaws.auditmanager#BatchDisassociateAssessmentReportEvidenceRequest": {
      "type": "structure",
      "members": {
        "assessmentId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n         The identifier for the specified assessment. \n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "evidenceFolderId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n         The identifier for the folder in which evidence is stored.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "evidenceIds": {
          "target": "com.amazonaws.auditmanager#EvidenceIds",
          "traits": {
            "smithy.api#documentation": "<p>\n         The list of evidence identifiers. \n      </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.auditmanager#BatchDisassociateAssessmentReportEvidenceResponse": {
      "type": "structure",
      "members": {
        "evidenceIds": {
          "target": "com.amazonaws.auditmanager#EvidenceIds",
          "traits": {
            "smithy.api#documentation": "<p>\n         The identifier for the evidence. \n      </p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.auditmanager#AssessmentReportEvidenceErrors",
          "traits": {
            "smithy.api#documentation": "<p>\n         A list of errors returned by the <code>BatchDisassociateAssessmentReportEvidence</code> API. \n      </p>"
          }
        }
      }
    },
    "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControl": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControlRequest"
      },
      "output": {
        "target": "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControlResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.auditmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.auditmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.auditmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.auditmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Uploads one or more pieces of evidence to the specified control in the assessment in AWS Audit Manager.\n      </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/assessments/{assessmentId}/controlSets/{controlSetId}/controls/{controlId}/evidence",
          "code": 200
        }
      }
    },
    "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControlError": {
      "type": "structure",
      "members": {
        "manualEvidence": {
          "target": "com.amazonaws.auditmanager#ManualEvidence",
          "traits": {
            "smithy.api#documentation": "<p>\nManual evidence that cannot be collected automatically by AWS Audit Manager.\n</p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.auditmanager#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>\n  The error code returned by the <code>BatchImportEvidenceToAssessmentControl</code> API. \n</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.auditmanager#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>\n  The error message returned by the <code>BatchImportEvidenceToAssessmentControlError</code> API. \n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   An error entity for the <code>BatchImportEvidenceToAssessmentControl</code> API. This is used to provide more meaningful errors than a simple string message.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControlErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControlError"
      }
    },
    "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControlRequest": {
      "type": "structure",
      "members": {
        "assessmentId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n         The identifier for the specified assessment. \n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "controlSetId": {
          "target": "com.amazonaws.auditmanager#ControlSetId",
          "traits": {
            "smithy.api#documentation": "<p>\n         The identifier for the specified control set.\n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "controlId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n         \n               The identifier for the specified control. \n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "manualEvidence": {
          "target": "com.amazonaws.auditmanager#ManualEvidenceList",
          "traits": {
            "smithy.api#documentation": "<p>\n         The list of manual evidence objects.\n      </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControlResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControlErrors",
          "traits": {
            "smithy.api#documentation": "<p>\n         A list of errors returned by the <code>BatchImportEvidenceToAssessmentControl</code> API. \n      </p>"
          }
        }
      }
    },
    "com.amazonaws.auditmanager#BedrockAssessmentManagerLambda": {
      "type": "service",
      "version": "2017-07-25",
      "operations": [
        {
          "target": "com.amazonaws.auditmanager#AssociateAssessmentReportEvidenceFolder"
        },
        {
          "target": "com.amazonaws.auditmanager#BatchAssociateAssessmentReportEvidence"
        },
        {
          "target": "com.amazonaws.auditmanager#BatchCreateDelegationByAssessment"
        },
        {
          "target": "com.amazonaws.auditmanager#BatchDeleteDelegationByAssessment"
        },
        {
          "target": "com.amazonaws.auditmanager#BatchDisassociateAssessmentReportEvidence"
        },
        {
          "target": "com.amazonaws.auditmanager#BatchImportEvidenceToAssessmentControl"
        },
        {
          "target": "com.amazonaws.auditmanager#CreateAssessment"
        },
        {
          "target": "com.amazonaws.auditmanager#CreateAssessmentFramework"
        },
        {
          "target": "com.amazonaws.auditmanager#CreateAssessmentReport"
        },
        {
          "target": "com.amazonaws.auditmanager#CreateControl"
        },
        {
          "target": "com.amazonaws.auditmanager#DeleteAssessment"
        },
        {
          "target": "com.amazonaws.auditmanager#DeleteAssessmentFramework"
        },
        {
          "target": "com.amazonaws.auditmanager#DeleteAssessmentReport"
        },
        {
          "target": "com.amazonaws.auditmanager#DeleteControl"
        },
        {
          "target": "com.amazonaws.auditmanager#DeregisterAccount"
        },
        {
          "target": "com.amazonaws.auditmanager#DeregisterOrganizationAdminAccount"
        },
        {
          "target": "com.amazonaws.auditmanager#DisassociateAssessmentReportEvidenceFolder"
        },
        {
          "target": "com.amazonaws.auditmanager#GetAccountStatus"
        },
        {
          "target": "com.amazonaws.auditmanager#GetAssessment"
        },
        {
          "target": "com.amazonaws.auditmanager#GetAssessmentFramework"
        },
        {
          "target": "com.amazonaws.auditmanager#GetAssessmentReportUrl"
        },
        {
          "target": "com.amazonaws.auditmanager#GetChangeLogs"
        },
        {
          "target": "com.amazonaws.auditmanager#GetControl"
        },
        {
          "target": "com.amazonaws.auditmanager#GetDelegations"
        },
        {
          "target": "com.amazonaws.auditmanager#GetEvidence"
        },
        {
          "target": "com.amazonaws.auditmanager#GetEvidenceByEvidenceFolder"
        },
        {
          "target": "com.amazonaws.auditmanager#GetEvidenceFolder"
        },
        {
          "target": "com.amazonaws.auditmanager#GetEvidenceFoldersByAssessment"
        },
        {
          "target": "com.amazonaws.auditmanager#GetEvidenceFoldersByAssessmentControl"
        },
        {
          "target": "com.amazonaws.auditmanager#GetOrganizationAdminAccount"
        },
        {
          "target": "com.amazonaws.auditmanager#GetServicesInScope"
        },
        {
          "target": "com.amazonaws.auditmanager#GetSettings"
        },
        {
          "target": "com.amazonaws.auditmanager#ListAssessmentFrameworks"
        },
        {
          "target": "com.amazonaws.auditmanager#ListAssessmentReports"
        },
        {
          "target": "com.amazonaws.auditmanager#ListAssessments"
        },
        {
          "target": "com.amazonaws.auditmanager#ListControls"
        },
        {
          "target": "com.amazonaws.auditmanager#ListKeywordsForDataSource"
        },
        {
          "target": "com.amazonaws.auditmanager#ListNotifications"
        },
        {
          "target": "com.amazonaws.auditmanager#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.auditmanager#RegisterAccount"
        },
        {
          "target": "com.amazonaws.auditmanager#RegisterOrganizationAdminAccount"
        },
        {
          "target": "com.amazonaws.auditmanager#TagResource"
        },
        {
          "target": "com.amazonaws.auditmanager#UntagResource"
        },
        {
          "target": "com.amazonaws.auditmanager#UpdateAssessment"
        },
        {
          "target": "com.amazonaws.auditmanager#UpdateAssessmentControl"
        },
        {
          "target": "com.amazonaws.auditmanager#UpdateAssessmentControlSetStatus"
        },
        {
          "target": "com.amazonaws.auditmanager#UpdateAssessmentFramework"
        },
        {
          "target": "com.amazonaws.auditmanager#UpdateAssessmentStatus"
        },
        {
          "target": "com.amazonaws.auditmanager#UpdateControl"
        },
        {
          "target": "com.amazonaws.auditmanager#UpdateSettings"
        },
        {
          "target": "com.amazonaws.auditmanager#ValidateAssessmentReportIntegrity"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "AuditManager",
          "arnNamespace": "auditmanager",
          "cloudFormationName": "AuditManager",
          "cloudTrailEventSource": "auditmanager.amazonaws.com",
          "endpointPrefix": "auditmanager"
        },
        "aws.auth#sigv4": {
          "name": "auditmanager"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Welcome to the AWS Audit Manager API reference. This guide is for developers who need detailed information about the AWS Audit Manager API operations, data types, and errors. </p>\n         <p>AWS Audit Manager is a service that provides automated evidence collection so that you\n         can continuously audit your AWS usage, and assess the effectiveness of your controls to\n         better manage risk and simplify compliance.</p>\n         <p>AWS Audit Manager provides pre-built frameworks that structure and automate assessments\n         for a given compliance standard. Frameworks include a pre-built collection of controls with\n         descriptions and testing procedures, which are grouped according to the requirements of the\n         specified compliance standard or regulation. You can also customize frameworks and controls\n         to support internal audits with unique requirements. </p> \n    \n         <p>Use the following links to get started with the AWS Audit Manager API:</p> \n         <ul>\n            <li> \n               <p>\n                  <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/API_Operations.html\">Actions</a>: An alphabetical list of all AWS Audit Manager API operations.</p> \n            </li>\n            <li> \n               <p>\n                  <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/API_Types.html\">Data types</a>: An alphabetical list of all AWS Audit Manager data types.</p> \n            </li>\n            <li> \n               <p>\n                  <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/CommonParameters.html\">Common parameters</a>: Parameters that all Query operations can use.</p> \n            </li>\n            <li> \n               <p>\n                  <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/CommonErrors.html\">Common errors</a>: Client and server errors that all operations can return.</p> \n            </li>\n         </ul> \n    \n         <p>If you're new to AWS Audit Manager, we recommend that you review the <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/what-is.html\"> AWS Audit Manager User Guide</a>.</p>",
        "smithy.api#title": "AWS Audit Manager"
      }
    },
    "com.amazonaws.auditmanager#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.auditmanager#ChangeLog": {
      "type": "structure",
      "members": {
        "objectType": {
          "target": "com.amazonaws.auditmanager#ObjectTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>\n The changelog object type, such as an assessment, control, or control set. \n</p>"
          }
        },
        "objectName": {
          "target": "com.amazonaws.auditmanager#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>\n The name of the changelog object. \n</p>"
          }
        },
        "action": {
          "target": "com.amazonaws.auditmanager#ActionEnum",
          "traits": {
            "smithy.api#documentation": "<p>\n   The action performed. \n</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.auditmanager#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n The time of creation for the changelog object. \n</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.auditmanager#IamArn",
          "traits": {
            "smithy.api#documentation": "<p>\n The IAM user or role that performed the action. \n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   The record of a change within AWS Audit Manager, such as a modified assessment, a delegated control set, and so on. \n</p>"
      }
    },
    "com.amazonaws.auditmanager#ChangeLogs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#ChangeLog"
      }
    },
    "com.amazonaws.auditmanager#ComplianceType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        },
        "smithy.api#pattern": "^[\\w\\W\\s\\S]*$"
      }
    },
    "com.amazonaws.auditmanager#Control": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.auditmanager#AuditManagerArn",
          "traits": {
            "smithy.api#documentation": "<p>\n   The Amazon Resource Name (ARN) of the specified control.\n</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\nThe unique identifier for the control.\n</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.auditmanager#ControlType",
          "traits": {
            "smithy.api#documentation": "<p>\nThe type of control, such as custom or standard.\n</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.auditmanager#ControlName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the specified control.\n</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.auditmanager#ControlDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n   The description of the specified control. \n</p>"
          }
        },
        "testingInformation": {
          "target": "com.amazonaws.auditmanager#TestingInformation",
          "traits": {
            "smithy.api#documentation": "<p>\n         The steps to follow to determine if the control has been satisfied.\n      </p>"
          }
        },
        "actionPlanTitle": {
          "target": "com.amazonaws.auditmanager#ActionPlanTitle",
          "traits": {
            "smithy.api#documentation": "<p>\n         The title of the action plan for remediating the control.\n      </p>"
          }
        },
        "actionPlanInstructions": {
          "target": "com.amazonaws.auditmanager#ActionPlanInstructions",
          "traits": {
            "smithy.api#documentation": "<p>\n         \n         The recommended actions to carry out if the control is not fulfilled.\n      </p>"
          }
        },
        "controlSources": {
          "target": "com.amazonaws.auditmanager#ControlSources",
          "traits": {
            "smithy.api#documentation": "<p>\n   The data mapping sources for the specified control.\n</p>"
          }
        },
        "controlMappingSources": {
          "target": "com.amazonaws.auditmanager#ControlMappingSources",
          "traits": {
            "smithy.api#documentation": "<p>\n   The data mapping sources for the specified control. \n</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.auditmanager#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies when the control was created.\n</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.auditmanager#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\nSpecifies when the control was most recently updated.\n</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.auditmanager#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p>\n         The IAM user or role that created the control.\n      </p>"
          }
        },
        "lastUpdatedBy": {
          "target": "com.amazonaws.auditmanager#LastUpdatedBy",
          "traits": {
            "smithy.api#documentation": "<p>\n         The IAM user or role that most recently updated the control. \n      </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.auditmanager#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n   The tags associated with the control.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\nA control in AWS Audit Manager.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#ControlComment": {
      "type": "structure",
      "members": {
        "authorName": {
          "target": "com.amazonaws.auditmanager#Username",
          "traits": {
            "smithy.api#documentation": "<p>\n The name of the user who authored the comment. \n</p>"
          }
        },
        "commentBody": {
          "target": "com.amazonaws.auditmanager#ControlCommentBody",
          "traits": {
            "smithy.api#documentation": "<p>\n   The body text of a control comment. \n</p>"
          }
        },
        "postedDate": {
          "target": "com.amazonaws.auditmanager#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n The time when the comment was posted. \n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   A comment posted by a user on a control. This includes the author's name, the comment text, and a timestamp. \n</p>"
      }
    },
    "com.amazonaws.auditmanager#ControlCommentBody": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        },
        "smithy.api#pattern": "^[\\w\\W\\s\\S]*$"
      }
    },
    "com.amazonaws.auditmanager#ControlComments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#ControlComment"
      }
    },
    "com.amazonaws.auditmanager#ControlDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\w\\W\\s\\S]*$"
      }
    },
    "com.amazonaws.auditmanager#ControlMappingSource": {
      "type": "structure",
      "members": {
        "sourceId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\nThe unique identifier for the specified source.\n</p>"
          }
        },
        "sourceName": {
          "target": "com.amazonaws.auditmanager#SourceName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the specified source.\n</p>"
          }
        },
        "sourceDescription": {
          "target": "com.amazonaws.auditmanager#SourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>\nThe description of the specified source.\n</p>"
          }
        },
        "sourceSetUpOption": {
          "target": "com.amazonaws.auditmanager#SourceSetUpOption",
          "traits": {
            "smithy.api#documentation": "<p>\n   The setup option for the data source, which reflects if the evidence collection is automated or manual.\n</p>"
          }
        },
        "sourceType": {
          "target": "com.amazonaws.auditmanager#SourceType",
          "traits": {
            "smithy.api#documentation": "<p>\n   Specifies one of the five types of data sources for evidence collection.\n</p>"
          }
        },
        "sourceKeyword": {
          "target": "com.amazonaws.auditmanager#SourceKeyword"
        },
        "sourceFrequency": {
          "target": "com.amazonaws.auditmanager#SourceFrequency",
          "traits": {
            "smithy.api#documentation": "<p>\n         The frequency of evidence collection for the specified control mapping source.\n      </p>"
          }
        },
        "troubleshootingText": {
          "target": "com.amazonaws.auditmanager#TroubleshootingText",
          "traits": {
            "smithy.api#documentation": "<p>\n         The instructions for troubleshooting the specified control.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   The data source that determines from where AWS Audit Manager collects evidence for the control.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#ControlMappingSources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#ControlMappingSource"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.auditmanager#ControlMetadata": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.auditmanager#AuditManagerArn",
          "traits": {
            "smithy.api#documentation": "<p>\n   The Amazon Resource Name (ARN) of the specified control.\n</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\nThe unique identifier for the specified control.\n</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.auditmanager#ControlName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the specified control.\n</p>"
          }
        },
        "controlSources": {
          "target": "com.amazonaws.auditmanager#ControlSources",
          "traits": {
            "smithy.api#documentation": "<p>\n   The data source that determines from where AWS Audit Manager collects evidence for the control.\n</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.auditmanager#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n   Specifies when the control was created.\n</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.auditmanager#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n   Specifies when the control was most recently updated.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   The metadata associated with the specified standard or custom control.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#ControlMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#ControlMetadata"
      }
    },
    "com.amazonaws.auditmanager#ControlName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        },
        "smithy.api#pattern": "^[\\w\\W\\s\\S]*$"
      }
    },
    "com.amazonaws.auditmanager#ControlResponse": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MANUAL",
            "name": "MANUAL"
          },
          {
            "value": "AUTOMATE",
            "name": "AUTOMATE"
          },
          {
            "value": "DEFER",
            "name": "DEFER"
          },
          {
            "value": "IGNORE",
            "name": "IGNORE"
          }
        ]
      }
    },
    "com.amazonaws.auditmanager#ControlSet": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n   The identifier of the control set in the assessment. This is the control set name in a plain string format. \n</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.auditmanager#ControlSetName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the control set.\n</p>"
          }
        },
        "controls": {
          "target": "com.amazonaws.auditmanager#Controls",
          "traits": {
            "smithy.api#documentation": "<p>\n   The list of controls within the control set. \n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\nA set of controls in AWS Audit Manager.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#ControlSetId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        },
        "smithy.api#pattern": "^[\\w\\W\\s\\S]*$"
      }
    },
    "com.amazonaws.auditmanager#ControlSetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        },
        "smithy.api#pattern": "^[^\\_]*$"
      }
    },
    "com.amazonaws.auditmanager#ControlSetStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "UNDER_REVIEW",
            "name": "UNDER_REVIEW"
          },
          {
            "value": "REVIEWED",
            "name": "REVIEWED"
          }
        ]
      }
    },
    "com.amazonaws.auditmanager#ControlSets": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#ControlSet"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.auditmanager#ControlSetsCount": {
      "type": "integer"
    },
    "com.amazonaws.auditmanager#ControlSources": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z_0-9-\\s.,]+$"
      }
    },
    "com.amazonaws.auditmanager#ControlStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "UNDER_REVIEW",
            "name": "UNDER_REVIEW"
          },
          {
            "value": "REVIEWED",
            "name": "REVIEWED"
          },
          {
            "value": "INACTIVE",
            "name": "INACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.auditmanager#ControlType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Standard",
            "name": "STANDARD"
          },
          {
            "value": "Custom",
            "name": "CUSTOM"
          }
        ]
      }
    },
    "com.amazonaws.auditmanager#Controls": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#Control"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.auditmanager#ControlsCount": {
      "type": "integer"
    },
    "com.amazonaws.auditmanager#CreateAssessment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.auditmanager#CreateAssessmentRequest"
      },
      "output": {
        "target": "com.amazonaws.auditmanager#CreateAssessmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.auditmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.auditmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.auditmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.auditmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n  Creates an assessment in AWS Audit Manager. \n</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/assessments",
          "code": 200
        }
      }
    },
    "com.amazonaws.auditmanager#CreateAssessmentFramework": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.auditmanager#CreateAssessmentFrameworkRequest"
      },
      "output": {
        "target": "com.amazonaws.auditmanager#CreateAssessmentFrameworkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.auditmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.auditmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.auditmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.auditmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nCreates a custom framework in AWS Audit Manager. \n</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/assessmentFrameworks",
          "code": 200
        }
      }
    },
    "com.amazonaws.auditmanager#CreateAssessmentFrameworkControl": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\nThe unique identifier of the control.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\nControl entity attributes that uniquely identify an existing control to be added to a framework in AWS Audit Manager.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#CreateAssessmentFrameworkControlSet": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.auditmanager#ControlSetName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the specified control set.\n</p>"
          }
        },
        "controls": {
          "target": "com.amazonaws.auditmanager#CreateAssessmentFrameworkControls",
          "traits": {
            "smithy.api#documentation": "<p>\n   The list of controls within the control set. This does not contain the control set ID.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\nA <code>controlSet</code> entity that represents a collection of controls in AWS Audit Manager. This does not contain the control set ID.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#CreateAssessmentFrameworkControlSets": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#CreateAssessmentFrameworkControlSet"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.auditmanager#CreateAssessmentFrameworkControls": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#CreateAssessmentFrameworkControl"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.auditmanager#CreateAssessmentFrameworkRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.auditmanager#FrameworkName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the new custom framework.\n</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.auditmanager#FrameworkDescription",
          "traits": {
            "smithy.api#documentation": "<p>\nAn optional description for the new custom framework.\n</p>"
          }
        },
        "complianceType": {
          "target": "com.amazonaws.auditmanager#ComplianceType",
          "traits": {
            "smithy.api#documentation": "<p>\nThe compliance type that the new custom framework supports, such as CIS or HIPAA.\n</p>"
          }
        },
        "controlSets": {
          "target": "com.amazonaws.auditmanager#CreateAssessmentFrameworkControlSets",
          "traits": {
            "smithy.api#documentation": "<p>\n   The control sets to be associated with the framework. \n</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.auditmanager#CreateAssessmentFrameworkResponse": {
      "type": "structure",
      "members": {
        "framework": {
          "target": "com.amazonaws.auditmanager#Framework",
          "traits": {
            "smithy.api#documentation": "<p>\n   The name of the new framework returned by the <code>CreateAssessmentFramework</code> API.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.auditmanager#CreateAssessmentReport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.auditmanager#CreateAssessmentReportRequest"
      },
      "output": {
        "target": "com.amazonaws.auditmanager#CreateAssessmentReportResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.auditmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.auditmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.auditmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.auditmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nCreates an assessment report for the specified assessment.\n</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/assessments/{assessmentId}/reports",
          "code": 200
        }
      }
    },
    "com.amazonaws.auditmanager#CreateAssessmentReportRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.auditmanager#AssessmentReportName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the new assessment report.\n</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.auditmanager#AssessmentReportDescription",
          "traits": {
            "smithy.api#documentation": "<p>\nThe description of the assessment report.\n</p>"
          }
        },
        "assessmentId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n   The identifier for the specified assessment. \n</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.auditmanager#CreateAssessmentReportResponse": {
      "type": "structure",
      "members": {
        "assessmentReport": {
          "target": "com.amazonaws.auditmanager#AssessmentReport",
          "traits": {
            "smithy.api#documentation": "<p>\n   The new assessment report returned by the <code>CreateAssessmentReport</code> API.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.auditmanager#CreateAssessmentRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.auditmanager#AssessmentName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the assessment to be created.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.auditmanager#AssessmentDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n         The optional description of the assessment to be created.\n      </p>"
          }
        },
        "assessmentReportsDestination": {
          "target": "com.amazonaws.auditmanager#AssessmentReportsDestination",
          "traits": {
            "smithy.api#documentation": "<p>\n         The assessment report storage destination for the specified assessment that is being created. \n      </p>",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.amazonaws.auditmanager#Scope",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "roles": {
          "target": "com.amazonaws.auditmanager#Roles",
          "traits": {
            "smithy.api#documentation": "<p>\n         The list of roles for the specified assessment. \n      </p>",
            "smithy.api#required": {}
          }
        },
        "frameworkId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n         The identifier for the specified framework. \n      </p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.auditmanager#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n   The tags associated with the assessment. \n</p>"
          }
        }
      }
    },
    "com.amazonaws.auditmanager#CreateAssessmentResponse": {
      "type": "structure",
      "members": {
        "assessment": {
          "target": "com.amazonaws.auditmanager#Assessment"
        }
      }
    },
    "com.amazonaws.auditmanager#CreateControl": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.auditmanager#CreateControlRequest"
      },
      "output": {
        "target": "com.amazonaws.auditmanager#CreateControlResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.auditmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.auditmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.auditmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.auditmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nCreates a new custom control in AWS Audit Manager.\n</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/controls",
          "code": 200
        }
      }
    },
    "com.amazonaws.auditmanager#CreateControlMappingSource": {
      "type": "structure",
      "members": {
        "sourceName": {
          "target": "com.amazonaws.auditmanager#SourceName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the control mapping data source.\n</p>"
          }
        },
        "sourceDescription": {
          "target": "com.amazonaws.auditmanager#SourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n   The description of the data source that determines from where AWS Audit Manager collects evidence for the control. \n</p>"
          }
        },
        "sourceSetUpOption": {
          "target": "com.amazonaws.auditmanager#SourceSetUpOption",
          "traits": {
            "smithy.api#documentation": "<p>\n   The setup option for the data source, which reflects if the evidence collection is automated or manual.\n</p>"
          }
        },
        "sourceType": {
          "target": "com.amazonaws.auditmanager#SourceType",
          "traits": {
            "smithy.api#documentation": "<p>\n   Specifies one of the five types of data sources for evidence collection.\n   \n</p>"
          }
        },
        "sourceKeyword": {
          "target": "com.amazonaws.auditmanager#SourceKeyword"
        },
        "sourceFrequency": {
          "target": "com.amazonaws.auditmanager#SourceFrequency",
          "traits": {
            "smithy.api#documentation": "<p>\n   The frequency of evidence collection for the specified control mapping source.\n</p>"
          }
        },
        "troubleshootingText": {
          "target": "com.amazonaws.auditmanager#TroubleshootingText",
          "traits": {
            "smithy.api#documentation": "<p>\nThe instructions for troubleshooting the specified control.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  Control mapping fields that represent the source for evidence collection, along with related parameters and metadata. This does not contain <code>mappingID</code>.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#CreateControlMappingSources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#CreateControlMappingSource"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.auditmanager#CreateControlRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.auditmanager#ControlName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the control.\n</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.auditmanager#ControlDescription",
          "traits": {
            "smithy.api#documentation": "<p>\nThe description of the control.\n</p>"
          }
        },
        "testingInformation": {
          "target": "com.amazonaws.auditmanager#TestingInformation",
          "traits": {
            "smithy.api#documentation": "<p>\n         The steps to follow to determine if the control has been satisfied.\n      </p>"
          }
        },
        "actionPlanTitle": {
          "target": "com.amazonaws.auditmanager#ActionPlanTitle",
          "traits": {
            "smithy.api#documentation": "<p>\n         The title of the action plan for remediating the control.\n      </p>"
          }
        },
        "actionPlanInstructions": {
          "target": "com.amazonaws.auditmanager#ActionPlanInstructions",
          "traits": {
            "smithy.api#documentation": "<p>\n         The recommended actions to carry out if the control is not fulfilled.\n      </p>"
          }
        },
        "controlMappingSources": {
          "target": "com.amazonaws.auditmanager#CreateControlMappingSources",
          "traits": {
            "smithy.api#documentation": "<p>\n The data source that determines from where AWS Audit Manager collects evidence for the control. \n</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.auditmanager#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n   The tags associated with the control.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.auditmanager#CreateControlResponse": {
      "type": "structure",
      "members": {
        "control": {
          "target": "com.amazonaws.auditmanager#Control",
          "traits": {
            "smithy.api#documentation": "<p>\n   The new control returned by the <code>CreateControl</code> API. \n</p>"
          }
        }
      }
    },
    "com.amazonaws.auditmanager#CreateDelegationRequest": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "com.amazonaws.auditmanager#DelegationComment",
          "traits": {
            "smithy.api#documentation": "<p>\n   A comment related to the delegation request. \n</p>"
          }
        },
        "controlSetId": {
          "target": "com.amazonaws.auditmanager#ControlSetId",
          "traits": {
            "smithy.api#documentation": "<p>\n   The unique identifier for the control set. \n</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.auditmanager#IamArn",
          "traits": {
            "smithy.api#documentation": "<p>\n   The Amazon Resource Name (ARN) of the IAM role. \n</p>"
          }
        },
        "roleType": {
          "target": "com.amazonaws.auditmanager#RoleType",
          "traits": {
            "smithy.api#documentation": "<p>\n   The type of customer persona.\n</p>\n         <note>\n            <p>In <code>CreateAssessment</code>, <code>roleType</code> can only be <code>PROCESS_OWNER</code>. </p>\n            <p>In <code>UpdateSettings</code>, <code>roleType</code> can only be <code>PROCESS_OWNER</code>.</p>\n            <p>In <code>BatchCreateDelegationByAssessment</code>, <code>roleType</code> can only be <code>RESOURCE_OWNER</code>.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n  A collection of attributes used to create a delegation for an assessment in AWS Audit Manager.\n</p>"
      }
    },
    "com.amazonaws.auditmanager#CreateDelegationRequests": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.auditmanager#CreateDelegationRequest"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.auditmanager#CreatedBy": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\s-_()\\[\\]]+$"
      }
    },
    "com.amazonaws.auditmanager#Delegation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n The unique identifier for the delegation. \n</p>"
          }
        },
        "assessmentName": {
          "target": "com.amazonaws.auditmanager#AssessmentName",
          "traits": {
            "smithy.api#documentation": "<p>\n The name of the associated assessment. \n</p>"
          }
        },
        "assessmentId": {
          "target": "com.amazonaws.auditmanager#UUID",
          "traits": {
            "smithy.api#documentation": "<p>\n   The identifier for the associated assessment. \n</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.auditmanager#DelegationStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n The status of the delegation. \n</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.auditmanager#IamArn",
          "traits": {
            "smithy.api#documentation": "<p>\n   The Amazon Resource Name (ARN) of the IAM role. \n</p>"
          }
        },
        "roleType": {
          "target": "com.amazonaws.auditmanager#RoleType",
          "traits": {
            "smithy.api#documentation": "<p>\n   The type of customer persona.\n</p>\n         <note>\n            <p>In <code>CreateAssessment</code>, <code>roleType</code> can only be <code>PROCESS_OWNER</code>. </p>\n            <p>In <code>UpdateSettings</code>, <code>roleType</code> can only be <code>PROCESS_OWNER</code>.</p>\n            <p>In <code>BatchCreateDelegationByAssessment</code>, <code>roleType</code> can only be <code>RESOURCE_OWNER</code>.</p>\n         </note>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.auditmanager#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> Specifies when the delegation was created. </p>"
          }
        },
        "lastUpdated": {
          "target": "com.amazonaws.auditmanager#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n Specifies when the delegation was last updated. \n</p>"
          }
        },
        "controlSetId": {
          "target": "com.amazonaws.auditmanager#ControlSetId",
          "traits": {
            "smithy.api#documentation": "<p>\n   The identifier for the associated control set.\n</p>"
          }
        },
        "comment": {
          "target": "com.amazonaws.auditmanager#DelegationComment",
          "traits": {
            "smithy.api#documentation": "<p>\n The comment related to the delegation. \n</p>"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.auditmanager#CreatedBy",
          "traits": {
            "smithy.api#documentation": "<p> The IAM user or role that created the delegation. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n   The assignment of a control set to a delegate for review. \n</p>"
      }
    },
    "com.amazonaws.auditmanager#DelegationComment": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
[...]
