{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.autoscalingplans#AnyScaleScalingPlannerFrontendService": {
      "type": "service",
      "version": "2018-01-06",
      "operations": [
        {
          "target": "com.amazonaws.autoscalingplans#CreateScalingPlan"
        },
        {
          "target": "com.amazonaws.autoscalingplans#DeleteScalingPlan"
        },
        {
          "target": "com.amazonaws.autoscalingplans#DescribeScalingPlanResources"
        },
        {
          "target": "com.amazonaws.autoscalingplans#DescribeScalingPlans"
        },
        {
          "target": "com.amazonaws.autoscalingplans#GetScalingPlanResourceForecastData"
        },
        {
          "target": "com.amazonaws.autoscalingplans#UpdateScalingPlan"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Auto Scaling Plans",
          "arnNamespace": "autoscaling-plans",
          "cloudFormationName": "AutoScalingPlans",
          "cloudTrailEventSource": "autoscalingplans.amazonaws.com",
          "endpointPrefix": "autoscaling-plans"
        },
        "aws.auth#sigv4": {
          "name": "autoscaling-plans"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>AWS Auto Scaling</fullname>\n\n      \n         <p>Use AWS Auto Scaling to create scaling plans for your applications to\n         automatically scale your scalable AWS resources. </p>\n         <p>\n            <b>API Summary</b>\n         </p>\n         <p>You can use the AWS Auto Scaling service API to accomplish the following tasks:</p>\n         <ul>\n            <li>\n               <p>Create and manage scaling plans</p>\n            </li>\n            <li>\n               <p>Define target tracking scaling policies to dynamically scale your resources based\n               on utilization</p>\n            </li>\n            <li>\n               <p>Scale Amazon EC2 Auto Scaling groups using predictive scaling and dynamic scaling to scale your\n               Amazon EC2 capacity faster</p>\n            </li>\n            <li>\n               <p>Set minimum and maximum capacity limits</p>\n            </li>\n            <li>\n               <p>Retrieve information on existing scaling plans</p>\n            </li>\n            <li>\n               <p>Access current forecast data and historical forecast data for up to 56 days\n               previous</p>\n            </li>\n         </ul>\n      \n         <p>To learn more about AWS Auto Scaling, including information about granting IAM users required\n         permissions for AWS Auto Scaling actions, see the <a href=\"https://docs.aws.amazon.com/autoscaling/plans/userguide/what-is-aws-auto-scaling.html\">AWS Auto Scaling User Guide</a>. </p>",
        "smithy.api#title": "AWS Auto Scaling Plans",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://autoscaling-plans-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://autoscaling-plans-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://autoscaling-plans.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://autoscaling-plans.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://autoscaling-plans.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.autoscalingplans#ApplicationSource": {
      "type": "structure",
      "members": {
        "CloudFormationStackARN": {
          "target": "com.amazonaws.autoscalingplans#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a AWS CloudFormation stack.</p>"
          }
        },
        "TagFilters": {
          "target": "com.amazonaws.autoscalingplans#TagFilters",
          "traits": {
            "smithy.api#documentation": "<p>A set of tags (up to 50).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an application source.</p>"
      }
    },
    "com.amazonaws.autoscalingplans#ApplicationSources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscalingplans#ApplicationSource"
      }
    },
    "com.amazonaws.autoscalingplans#ConcurrentUpdateException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.autoscalingplans#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Concurrent updates caused an exception, for example, if you request an update to a\n         scaling plan that already has a pending update.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.autoscalingplans#Cooldown": {
      "type": "integer"
    },
    "com.amazonaws.autoscalingplans#CreateScalingPlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscalingplans#CreateScalingPlanRequest"
      },
      "output": {
        "target": "com.amazonaws.autoscalingplans#CreateScalingPlanResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscalingplans#ConcurrentUpdateException"
        },
        {
          "target": "com.amazonaws.autoscalingplans#InternalServiceException"
        },
        {
          "target": "com.amazonaws.autoscalingplans#LimitExceededException"
        },
        {
          "target": "com.amazonaws.autoscalingplans#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a scaling plan. </p>"
      }
    },
    "com.amazonaws.autoscalingplans#CreateScalingPlanRequest": {
      "type": "structure",
      "members": {
        "ScalingPlanName": {
          "target": "com.amazonaws.autoscalingplans#ScalingPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the scaling plan. Names cannot contain vertical bars, colons, or forward\n         slashes.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationSource": {
          "target": "com.amazonaws.autoscalingplans#ApplicationSource",
          "traits": {
            "smithy.api#documentation": "<p>A CloudFormation stack or set of tags. You can create one scaling plan per application\n         source.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/plans/APIReference/API_ApplicationSource.html\">ApplicationSource</a> in the <i>AWS Auto Scaling API Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "ScalingInstructions": {
          "target": "com.amazonaws.autoscalingplans#ScalingInstructions",
          "traits": {
            "smithy.api#documentation": "<p>The scaling instructions.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/plans/APIReference/API_ScalingInstruction.html\">ScalingInstruction</a> in the <i>AWS Auto Scaling API Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscalingplans#CreateScalingPlanResponse": {
      "type": "structure",
      "members": {
        "ScalingPlanVersion": {
          "target": "com.amazonaws.autoscalingplans#ScalingPlanVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the scaling plan. This value is always <code>1</code>. Currently,\n         you cannot have multiple scaling plan versions.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscalingplans#CustomizedLoadMetricSpecification": {
      "type": "structure",
      "members": {
        "MetricName": {
          "target": "com.amazonaws.autoscalingplans#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Namespace": {
          "target": "com.amazonaws.autoscalingplans#MetricNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.autoscalingplans#MetricDimensions",
          "traits": {
            "smithy.api#documentation": "<p>The dimensions of the metric.</p>\n         <p>Conditional: If you published your metric with dimensions, you must specify the same\n         dimensions in your customized load metric specification.</p>"
          }
        },
        "Statistic": {
          "target": "com.amazonaws.autoscalingplans#MetricStatistic",
          "traits": {
            "smithy.api#documentation": "<p>The statistic of the metric. The only valid value is <code>Sum</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Unit": {
          "target": "com.amazonaws.autoscalingplans#MetricUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit of the metric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a CloudWatch metric of your choosing that can be used for predictive scaling. </p>\n         <p>For predictive scaling to work with a customized load metric specification, AWS Auto Scaling\n         needs access to the <code>Sum</code> and <code>Average</code> statistics that CloudWatch computes\n         from metric data.</p>\n         <p>When you choose a load metric, make sure that the required <code>Sum</code> and\n            <code>Average</code> statistics for your metric are available in CloudWatch and that they\n         provide relevant data for predictive scaling. The <code>Sum</code> statistic must represent\n         the total load on the resource, and the <code>Average</code> statistic must represent the\n         average load per capacity unit of the resource. For example, there is a metric that counts\n         the number of requests processed by your Auto Scaling group. If the <code>Sum</code> statistic\n         represents the total request count processed by the group, then the <code>Average</code>\n         statistic for the specified metric must represent the average request count processed by\n         each instance of the group. </p>\n         <p>If you publish your own metrics, you can aggregate the data points at a given interval\n         and then publish the aggregated data points to CloudWatch. Before AWS Auto Scaling generates the\n         forecast, it sums up all the metric data points that occurred within each hour to match the\n         granularity period that is used in the forecast (60 minutes).</p>\n         <p>For information about terminology, available metrics, or how to publish new metrics, see\n            <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html\">Amazon CloudWatch\n            Concepts</a> in the <i>Amazon CloudWatch User Guide</i>. </p>\n         <p>After creating your scaling plan, you can use the AWS Auto Scaling console to visualize\n         forecasts for the specified metric. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/plans/userguide/gs-create-scaling-plan.html#gs-view-resource\">View\n            Scaling Information for a Resource</a> in the\n         <i>AWS Auto Scaling User Guide</i>.</p>"
      }
    },
    "com.amazonaws.autoscalingplans#CustomizedScalingMetricSpecification": {
      "type": "structure",
      "members": {
        "MetricName": {
          "target": "com.amazonaws.autoscalingplans#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Namespace": {
          "target": "com.amazonaws.autoscalingplans#MetricNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.autoscalingplans#MetricDimensions",
          "traits": {
            "smithy.api#documentation": "<p>The dimensions of the metric.</p>\n         <p>Conditional: If you published your metric with dimensions, you must specify the same\n         dimensions in your customized scaling metric specification.</p>"
          }
        },
        "Statistic": {
          "target": "com.amazonaws.autoscalingplans#MetricStatistic",
          "traits": {
            "smithy.api#documentation": "<p>The statistic of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Unit": {
          "target": "com.amazonaws.autoscalingplans#MetricUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit of the metric. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a CloudWatch metric of your choosing that can be used for dynamic scaling as part\n         of a target tracking scaling policy. </p>\n         <p>To create your customized scaling metric specification:</p>\n         <ul>\n            <li>\n               <p>Add values for each required parameter from CloudWatch. You can use an existing metric,\n               or a new metric that you create. To use your own metric, you must first publish the\n               metric to CloudWatch. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html\">Publish Custom\n                  Metrics</a> in the <i>Amazon CloudWatch User Guide</i>.</p>\n            </li>\n            <li>\n               <p>Choose a metric that changes proportionally with capacity. The value of the metric\n               should increase or decrease in inverse proportion to the number of capacity units.\n               That is, the value of the metric should decrease when capacity increases. </p>\n            </li>\n         </ul>\n         <p>For information about terminology, available metrics, or how to publish new metrics, see\n            <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html\">Amazon CloudWatch\n            Concepts</a> in the <i>Amazon CloudWatch User Guide</i>. </p>"
      }
    },
    "com.amazonaws.autoscalingplans#Datapoint": {
      "type": "structure",
      "members": {
        "Timestamp": {
          "target": "com.amazonaws.autoscalingplans#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp for the data point in UTC format.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.autoscalingplans#MetricScale",
          "traits": {
            "smithy.api#documentation": "<p>The value of the data point.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a single value in the forecast data used for predictive scaling.</p>"
      }
    },
    "com.amazonaws.autoscalingplans#Datapoints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscalingplans#Datapoint"
      }
    },
    "com.amazonaws.autoscalingplans#DeleteScalingPlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscalingplans#DeleteScalingPlanRequest"
      },
      "output": {
        "target": "com.amazonaws.autoscalingplans#DeleteScalingPlanResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscalingplans#ConcurrentUpdateException"
        },
        {
          "target": "com.amazonaws.autoscalingplans#InternalServiceException"
        },
        {
          "target": "com.amazonaws.autoscalingplans#ObjectNotFoundException"
        },
        {
          "target": "com.amazonaws.autoscalingplans#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified scaling plan.</p>\n         <p>Deleting a scaling plan deletes the underlying <a>ScalingInstruction</a> for\n         all of the scalable resources that are covered by the plan.</p>\n         <p>If the plan has launched resources or has scaling activities in progress, you must\n         delete those resources separately.</p>"
      }
    },
    "com.amazonaws.autoscalingplans#DeleteScalingPlanRequest": {
      "type": "structure",
      "members": {
        "ScalingPlanName": {
          "target": "com.amazonaws.autoscalingplans#ScalingPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the scaling plan.</p>",
            "smithy.api#required": {}
          }
        },
        "ScalingPlanVersion": {
          "target": "com.amazonaws.autoscalingplans#ScalingPlanVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the scaling plan. Currently, the only valid value is\n            <code>1</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscalingplans#DeleteScalingPlanResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.autoscalingplans#DescribeScalingPlanResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscalingplans#DescribeScalingPlanResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.autoscalingplans#DescribeScalingPlanResourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscalingplans#ConcurrentUpdateException"
        },
        {
          "target": "com.amazonaws.autoscalingplans#InternalServiceException"
        },
        {
          "target": "com.amazonaws.autoscalingplans#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.autoscalingplans#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the scalable resources in the specified scaling plan.</p>"
      }
    },
    "com.amazonaws.autoscalingplans#DescribeScalingPlanResourcesRequest": {
      "type": "structure",
      "members": {
        "ScalingPlanName": {
          "target": "com.amazonaws.autoscalingplans#ScalingPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the scaling plan.</p>",
            "smithy.api#required": {}
          }
        },
        "ScalingPlanVersion": {
          "target": "com.amazonaws.autoscalingplans#ScalingPlanVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the scaling plan. Currently, the only valid value is\n            <code>1</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.autoscalingplans#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of scalable resources to return. The value must be between\n         1 and 50. The default value is 50.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.autoscalingplans#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscalingplans#DescribeScalingPlanResourcesResponse": {
      "type": "structure",
      "members": {
        "ScalingPlanResources": {
          "target": "com.amazonaws.autoscalingplans#ScalingPlanResources",
          "traits": {
            "smithy.api#documentation": "<p>Information about the scalable resources.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.autoscalingplans#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token required to get the next set of results. This value is <code>null</code> if\n         there are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscalingplans#DescribeScalingPlans": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscalingplans#DescribeScalingPlansRequest"
      },
      "output": {
        "target": "com.amazonaws.autoscalingplans#DescribeScalingPlansResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscalingplans#ConcurrentUpdateException"
        },
        {
          "target": "com.amazonaws.autoscalingplans#InternalServiceException"
        },
        {
          "target": "com.amazonaws.autoscalingplans#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.autoscalingplans#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes one or more of your scaling plans.</p>"
      }
    },
    "com.amazonaws.autoscalingplans#DescribeScalingPlansRequest": {
      "type": "structure",
      "members": {
        "ScalingPlanNames": {
          "target": "com.amazonaws.autoscalingplans#ScalingPlanNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the scaling plans (up to 10). If you specify application sources, you\n         cannot specify scaling plan names.</p>"
          }
        },
        "ScalingPlanVersion": {
          "target": "com.amazonaws.autoscalingplans#ScalingPlanVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the scaling plan. Currently, the only valid value is\n            <code>1</code>.</p>\n         <note>\n            <p>If you specify a scaling plan version, you must also specify a scaling plan\n            name.</p>\n         </note>"
          }
        },
        "ApplicationSources": {
          "target": "com.amazonaws.autoscalingplans#ApplicationSources",
          "traits": {
            "smithy.api#documentation": "<p>The sources for the applications (up to 10). If you specify scaling plan names, you\n         cannot specify application sources.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.autoscalingplans#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of scalable resources to return. This value can be between\n         1 and 50. The default value is 50.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.autoscalingplans#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscalingplans#DescribeScalingPlansResponse": {
      "type": "structure",
      "members": {
        "ScalingPlans": {
          "target": "com.amazonaws.autoscalingplans#ScalingPlans",
          "traits": {
            "smithy.api#documentation": "<p>Information about the scaling plans.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.autoscalingplans#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token required to get the next set of results. This value is <code>null</code> if\n         there are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscalingplans#DisableDynamicScaling": {
      "type": "boolean"
    },
    "com.amazonaws.autoscalingplans#DisableScaleIn": {
      "type": "boolean"
    },
    "com.amazonaws.autoscalingplans#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.autoscalingplans#ForecastDataType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CapacityForecast",
            "name": "CapacityForecast"
          },
          {
            "value": "LoadForecast",
            "name": "LoadForecast"
          },
          {
            "value": "ScheduledActionMinCapacity",
            "name": "ScheduledActionMinCapacity"
          },
          {
            "value": "ScheduledActionMaxCapacity",
            "name": "ScheduledActionMaxCapacity"
          }
        ]
      }
    },
    "com.amazonaws.autoscalingplans#GetScalingPlanResourceForecastData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscalingplans#GetScalingPlanResourceForecastDataRequest"
      },
      "output": {
        "target": "com.amazonaws.autoscalingplans#GetScalingPlanResourceForecastDataResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscalingplans#InternalServiceException"
        },
        {
          "target": "com.amazonaws.autoscalingplans#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the forecast data for a scalable resource.</p>\n         <p>Capacity forecasts are represented as predicted values, or data points, that are\n         calculated using historical data points from a specified CloudWatch load metric. Data points are\n         available for up to 56 days. </p>"
      }
    },
    "com.amazonaws.autoscalingplans#GetScalingPlanResourceForecastDataRequest": {
      "type": "structure",
      "members": {
        "ScalingPlanName": {
          "target": "com.amazonaws.autoscalingplans#ScalingPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the scaling plan.</p>",
            "smithy.api#required": {}
          }
        },
        "ScalingPlanVersion": {
          "target": "com.amazonaws.autoscalingplans#ScalingPlanVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the scaling plan. Currently, the only valid value is\n            <code>1</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ServiceNamespace": {
          "target": "com.amazonaws.autoscalingplans#ServiceNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the AWS service. The only valid value is <code>autoscaling</code>.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.autoscalingplans#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource. This string consists of a prefix (<code>autoScalingGroup</code>)\n         followed by the name of a specified Auto Scaling group (<code>my-asg</code>). Example:\n            <code>autoScalingGroup/my-asg</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "ScalableDimension": {
          "target": "com.amazonaws.autoscalingplans#ScalableDimension",
          "traits": {
            "smithy.api#documentation": "<p>The scalable dimension for the resource. The only valid value is\n            <code>autoscaling:autoScalingGroup:DesiredCapacity</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "ForecastDataType": {
          "target": "com.amazonaws.autoscalingplans#ForecastDataType",
          "traits": {
            "smithy.api#documentation": "<p>The type of forecast data to get.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>LoadForecast</code>: The load metric forecast. </p>\n            </li>\n            <li>\n               <p>\n                  <code>CapacityForecast</code>: The capacity forecast. </p>\n            </li>\n            <li>\n               <p>\n                  <code>ScheduledActionMinCapacity</code>: The minimum capacity for each scheduled\n               scaling action. This data is calculated as the larger of two values: the capacity\n               forecast or the minimum capacity in the scaling instruction.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ScheduledActionMaxCapacity</code>: The maximum capacity for each scheduled\n               scaling action. The calculation used is determined by the predictive scaling maximum\n               capacity behavior setting in the scaling instruction.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "StartTime": {
          "target": "com.amazonaws.autoscalingplans#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The inclusive start time of the time range for the forecast data to get. The date and\n         time can be at most 56 days before the current date and time. </p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.autoscalingplans#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The exclusive end time of the time range for the forecast data to get. The maximum time\n         duration between the start and end time is seven days. </p>\n         <p>Although this parameter can accept a date and time that is more than two days in the\n         future, the availability of forecast data has limits. AWS Auto Scaling only issues forecasts for\n         periods of two days in advance.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscalingplans#GetScalingPlanResourceForecastDataResponse": {
      "type": "structure",
      "members": {
        "Datapoints": {
          "target": "com.amazonaws.autoscalingplans#Datapoints",
          "traits": {
            "smithy.api#documentation": "<p>The data points to return.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscalingplans#InternalServiceException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.autoscalingplans#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The service encountered an internal error.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.autoscalingplans#InvalidNextTokenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.autoscalingplans#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The token provided is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.autoscalingplans#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.autoscalingplans#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your account exceeded a limit. This exception is thrown when a per-account resource\n         limit is exceeded.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.autoscalingplans#LoadMetricType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ASGTotalCPUUtilization",
            "name": "ASGTotalCPUUtilization"
          },
          {
            "value": "ASGTotalNetworkIn",
            "name": "ASGTotalNetworkIn"
          },
          {
            "value": "ASGTotalNetworkOut",
            "name": "ASGTotalNetworkOut"
          },
          {
            "value": "ALBTargetGroupRequestCount",
            "name": "ALBTargetGroupRequestCount"
          }
        ]
      }
    },
    "com.amazonaws.autoscalingplans#MaxResults": {
      "type": "integer"
    },
    "com.amazonaws.autoscalingplans#MetricDimension": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.autoscalingplans#MetricDimensionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dimension.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.autoscalingplans#MetricDimensionValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the dimension.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a dimension for a customized metric.</p>"
      }
    },
    "com.amazonaws.autoscalingplans#MetricDimensionName": {
      "type": "string"
    },
    "com.amazonaws.autoscalingplans#MetricDimensionValue": {
      "type": "string"
    },
    "com.amazonaws.autoscalingplans#MetricDimensions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscalingplans#MetricDimension"
      }
    },
    "com.amazonaws.autoscalingplans#MetricName": {
      "type": "string"
    },
    "com.amazonaws.autoscalingplans#MetricNamespace": {
      "type": "string"
    },
    "com.amazonaws.autoscalingplans#MetricScale": {
      "type": "double"
    },
    "com.amazonaws.autoscalingplans#MetricStatistic": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Average",
            "name": "Average"
          },
          {
            "value": "Minimum",
            "name": "Minimum"
          },
          {
            "value": "Maximum",
            "name": "Maximum"
          },
          {
            "value": "SampleCount",
            "name": "SampleCount"
          },
          {
            "value": "Sum",
            "name": "Sum"
          }
        ]
      }
    },
    "com.amazonaws.autoscalingplans#MetricUnit": {
      "type": "string"
    },
    "com.amazonaws.autoscalingplans#NextToken": {
      "type": "string"
    },
    "com.amazonaws.autoscalingplans#ObjectNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.autoscalingplans#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified object could not be found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.autoscalingplans#PolicyName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "\\p{Print}+"
      }
    },
    "com.amazonaws.autoscalingplans#PolicyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TargetTrackingScaling",
            "name": "TargetTrackingScaling"
          }
        ]
      }
    },
    "com.amazonaws.autoscalingplans#PredefinedLoadMetricSpecification": {
      "type": "structure",
      "members": {
        "PredefinedLoadMetricType": {
          "target": "com.amazonaws.autoscalingplans#LoadMetricType",
          "traits": {
            "smithy.api#documentation": "<p>The metric type.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceLabel": {
          "target": "com.amazonaws.autoscalingplans#ResourceLabel",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the resource associated with the metric type. You can't specify a resource\n         label unless the metric type is <code>ALBTargetGroupRequestCount</code> and there is a\n         target group for an Application Load Balancer attached to the Auto Scaling group.</p>\n         <p>You create the resource label by appending the final portion of the load balancer ARN\n         and the final portion of the target group ARN into a single value, separated by a forward\n         slash (/). The format is\n         app/<load-balancer-name>/<load-balancer-id>/targetgroup/<target-group-name>/<target-group-id>,\n         where:</p>\n         <ul>\n            <li>\n               <p>app/<load-balancer-name>/<load-balancer-id> is the final portion of\n               the load balancer ARN</p>\n            </li>\n            <li>\n               <p>targetgroup/<target-group-name>/<target-group-id> is the final portion\n               of the target group ARN.</p>\n            </li>\n         </ul>\n         <p>This is an example:\n         app/EC2Co-EcsEl-1TKLTMITMM0EO/f37c06a68c1748aa/targetgroup/EC2Co-Defau-LDNM7Q3ZH1ZN/6d4ea56ca2d6a18d.</p>\n         <p>To find the ARN for an Application Load Balancer, use the <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</a> API operation. To find the ARN for the target group, use\n         the <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_DescribeTargetGroups.html\">DescribeTargetGroups</a> API operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a predefined metric that can be used for predictive scaling.</p>\n         <p>After creating your scaling plan, you can use the AWS Auto Scaling console to visualize\n         forecasts for the specified metric. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/plans/userguide/gs-create-scaling-plan.html#gs-view-resource\">View\n            Scaling Information for a Resource</a> in the\n         <i>AWS Auto Scaling User Guide</i>.</p>"
      }
    },
    "com.amazonaws.autoscalingplans#PredefinedScalingMetricSpecification": {
      "type": "structure",
      "members": {
        "PredefinedScalingMetricType": {
          "target": "com.amazonaws.autoscalingplans#ScalingMetricType",
          "traits": {
            "smithy.api#documentation": "<p>The metric type. The <code>ALBRequestCountPerTarget</code> metric type applies only to\n         Auto Scaling groups, Spot Fleet requests, and ECS services.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceLabel": {
          "target": "com.amazonaws.autoscalingplans#ResourceLabel",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the resource associated with the metric type. You can't specify a resource\n         label unless the metric type is <code>ALBRequestCountPerTarget</code> and there is a target\n         group for an Application Load Balancer attached to the Auto Scaling group, Spot Fleet request, or\n         ECS service.</p>\n         <p>You create the resource label by appending the final portion of the load balancer ARN\n         and the final portion of the target group ARN into a single value, separated by a forward\n         slash (/). The format is\n         app/<load-balancer-name>/<load-balancer-id>/targetgroup/<target-group-name>/<target-group-id>,\n         where:</p>\n         <ul>\n            <li>\n               <p>app/<load-balancer-name>/<load-balancer-id> is the final portion of\n               the load balancer ARN</p>\n            </li>\n            <li>\n               <p>targetgroup/<target-group-name>/<target-group-id> is the final portion\n               of the target group ARN.</p>\n            </li>\n         </ul>\n         <p>This is an example:\n         app/EC2Co-EcsEl-1TKLTMITMM0EO/f37c06a68c1748aa/targetgroup/EC2Co-Defau-LDNM7Q3ZH1ZN/6d4ea56ca2d6a18d.</p>\n         <p>To find the ARN for an Application Load Balancer, use the <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</a> API operation. To find the ARN for the target group, use\n         the <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_DescribeTargetGroups.html\">DescribeTargetGroups</a> API operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a predefined metric that can be used for dynamic scaling as part of a target\n         tracking scaling policy.</p>"
      }
    },
    "com.amazonaws.autoscalingplans#PredictiveScalingMaxCapacityBehavior": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SetForecastCapacityToMaxCapacity",
            "name": "SetForecastCapacityToMaxCapacity"
          },
          {
            "value": "SetMaxCapacityToForecastCapacity",
[...]
