{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.autoscaling#Activities": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#Activity"
      }
    },
    "com.amazonaws.autoscaling#ActivitiesType": {
      "type": "structure",
      "members": {
        "Activities": {
          "target": "com.amazonaws.autoscaling#Activities",
          "traits": {
            "smithy.api#documentation": "<p>The scaling activities. Activities are sorted by start time. Activities still in\n            progress are described first.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.autoscaling#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>A string that indicates that the response contains more items than can be returned in\n            a single response. To receive additional items, specify this string for the\n                <code>NextToken</code> value when requesting the next set of items. This value is\n            null when there are no more items to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#Activity": {
      "type": "structure",
      "members": {
        "ActivityId": {
          "target": "com.amazonaws.autoscaling#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the activity.</p>",
            "smithy.api#required": {}
          }
        },
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "Cause": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen1023",
          "traits": {
            "smithy.api#documentation": "<p>The reason the activity began.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.autoscaling#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>A friendly, more verbose description of the activity.</p>"
          }
        },
        "Details": {
          "target": "com.amazonaws.autoscaling#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>The details about the activity.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.autoscaling#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The end time of the activity.</p>"
          }
        },
        "Progress": {
          "target": "com.amazonaws.autoscaling#Progress",
          "traits": {
            "smithy.api#documentation": "<p>A value between 0 and 100 that indicates the progress of the activity.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.autoscaling#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the activity.</p>",
            "smithy.api#required": {}
          }
        },
        "StatusCode": {
          "target": "com.amazonaws.autoscaling#ScalingActivityStatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the activity.</p>",
            "smithy.api#required": {}
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>A friendly, more verbose description of the activity status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes scaling activity, which is a long-running process that represents a change\n            to your Auto Scaling group, such as changing its size or replacing an instance.</p>"
      }
    },
    "com.amazonaws.autoscaling#ActivityIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#XmlString"
      }
    },
    "com.amazonaws.autoscaling#ActivityType": {
      "type": "structure",
      "members": {
        "Activity": {
          "target": "com.amazonaws.autoscaling#Activity",
          "traits": {
            "smithy.api#documentation": "<p>A scaling activity.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#AdjustmentType": {
      "type": "structure",
      "members": {
        "AdjustmentType": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The policy adjustment type. The valid values are <code>ChangeInCapacity</code>,\n                <code>ExactCapacity</code>, and <code>PercentChangeInCapacity</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a policy adjustment type.</p>"
      }
    },
    "com.amazonaws.autoscaling#AdjustmentTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#AdjustmentType"
      }
    },
    "com.amazonaws.autoscaling#Alarm": {
      "type": "structure",
      "members": {
        "AlarmARN": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the alarm.</p>"
          }
        },
        "AlarmName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alarm.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an alarm.</p>"
      }
    },
    "com.amazonaws.autoscaling#Alarms": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#Alarm"
      }
    },
    "com.amazonaws.autoscaling#AlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You already have an Auto Scaling group or launch configuration with this name.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.autoscaling#AsciiStringMaxLen255": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "[A-Za-z0-9\\-_\\/]+"
      }
    },
    "com.amazonaws.autoscaling#AssociatePublicIpAddress": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.autoscaling#AttachInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#AttachInstancesQuery"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ServiceLinkedRoleFailure"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches one or more EC2 instances to the specified Auto Scaling group.</p>\n        <p>When you attach instances, Amazon EC2 Auto Scaling increases the desired capacity of the group by the\n            number of instances being attached. If the number of instances being attached plus the\n            desired capacity of the group exceeds the maximum size of the group, the operation\n            fails.</p>\n        <p>If there is a Classic Load Balancer attached to your Auto Scaling group, the instances are\n            also registered with the load balancer. If there are target groups attached to your Auto Scaling\n            group, the instances are also registered with the target groups.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/attach-instance-asg.html\">Attach EC2 Instances to\n                Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
      }
    },
    "com.amazonaws.autoscaling#AttachInstancesQuery": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceIds": {
          "target": "com.amazonaws.autoscaling#InstanceIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the instances. You can specify up to 20 instances.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#AttachLoadBalancerTargetGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#AttachLoadBalancerTargetGroupsType"
      },
      "output": {
        "target": "com.amazonaws.autoscaling#AttachLoadBalancerTargetGroupsResultType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ServiceLinkedRoleFailure"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches one or more target groups to the specified Auto Scaling group.</p>\n        <p>To describe the target groups for an Auto Scaling group, use <a>DescribeLoadBalancerTargetGroups</a>. To detach the target group from the\n            Auto Scaling group, use <a>DetachLoadBalancerTargetGroups</a>.</p>\n        <p>With Application Load Balancers and Network Load Balancers, instances are registered\n            as targets with a target group. With Classic Load Balancers, instances are registered\n            with the load balancer. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/attach-load-balancer-asg.html\">Attaching a Load\n                Balancer to Your Auto Scaling Group</a> in the\n            <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
      }
    },
    "com.amazonaws.autoscaling#AttachLoadBalancerTargetGroupsResultType": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.autoscaling#AttachLoadBalancerTargetGroupsType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetGroupARNs": {
          "target": "com.amazonaws.autoscaling#TargetGroupARNs",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the target groups. You can specify up to 10 target\n            groups.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#AttachLoadBalancers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#AttachLoadBalancersType"
      },
      "output": {
        "target": "com.amazonaws.autoscaling#AttachLoadBalancersResultType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ServiceLinkedRoleFailure"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches one or more Classic Load Balancers to the specified Auto Scaling group.</p>\n        <p>To attach an Application Load Balancer or a Network Load Balancer instead, see <a>AttachLoadBalancerTargetGroups</a>.</p>\n        <p>To describe the load balancers for an Auto Scaling group, use <a>DescribeLoadBalancers</a>. To detach the load balancer from the Auto Scaling group,\n            use <a>DetachLoadBalancers</a>.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/attach-load-balancer-asg.html\">Attaching a Load\n                Balancer to Your Auto Scaling Group</a> in the\n            <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
      }
    },
    "com.amazonaws.autoscaling#AttachLoadBalancersResultType": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.autoscaling#AttachLoadBalancersType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "LoadBalancerNames": {
          "target": "com.amazonaws.autoscaling#LoadBalancerNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the load balancers. You can specify up to 10 load balancers.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#AutoScalingGroup": {
      "type": "structure",
      "members": {
        "AutoScalingGroupARN": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>"
          }
        },
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "AvailabilityZones": {
          "target": "com.amazonaws.autoscaling#AvailabilityZones",
          "traits": {
            "smithy.api#documentation": "<p>One or more Availability Zones for the group.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.autoscaling#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the group was created.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultCooldown": {
          "target": "com.amazonaws.autoscaling#Cooldown",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, after a scaling activity completes before another\n            scaling activity can start.</p>",
            "smithy.api#required": {}
          }
        },
        "DesiredCapacity": {
          "target": "com.amazonaws.autoscaling#AutoScalingGroupDesiredCapacity",
          "traits": {
            "smithy.api#documentation": "<p>The desired size of the group.</p>",
            "smithy.api#required": {}
          }
        },
        "EnabledMetrics": {
          "target": "com.amazonaws.autoscaling#EnabledMetrics",
          "traits": {
            "smithy.api#documentation": "<p>The metrics enabled for the group.</p>"
          }
        },
        "HealthCheckGracePeriod": {
          "target": "com.amazonaws.autoscaling#HealthCheckGracePeriod",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, that Amazon EC2 Auto Scaling waits before checking the health status\n            of an EC2 instance that has come into service.</p>"
          }
        },
        "HealthCheckType": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen32",
          "traits": {
            "smithy.api#documentation": "<p>The service to use for the health checks. The valid values are <code>EC2</code> and\n                <code>ELB</code>. If you configure an Auto Scaling group to use ELB health checks, it\n            considers the instance unhealthy if it fails either the EC2 status checks or the load\n            balancer health checks.</p>",
            "smithy.api#required": {}
          }
        },
        "Instances": {
          "target": "com.amazonaws.autoscaling#Instances",
          "traits": {
            "smithy.api#documentation": "<p>The EC2 instances associated with the group.</p>"
          }
        },
        "LaunchConfigurationName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the associated launch configuration.</p>"
          }
        },
        "LaunchTemplate": {
          "target": "com.amazonaws.autoscaling#LaunchTemplateSpecification",
          "traits": {
            "smithy.api#documentation": "<p>The launch template for the group.</p>"
          }
        },
        "LoadBalancerNames": {
          "target": "com.amazonaws.autoscaling#LoadBalancerNames",
          "traits": {
            "smithy.api#documentation": "<p>One or more load balancers associated with the group.</p>"
          }
        },
        "MaxInstanceLifetime": {
          "target": "com.amazonaws.autoscaling#MaxInstanceLifetime",
          "traits": {
            "smithy.api#documentation": "<p>The maximum amount of time, in seconds, that an instance can be in service.</p>\n        <p>Valid Range: Minimum value of 604800.</p>"
          }
        },
        "MaxSize": {
          "target": "com.amazonaws.autoscaling#AutoScalingGroupMaxSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of the group.</p>",
            "smithy.api#required": {}
          }
        },
        "MinSize": {
          "target": "com.amazonaws.autoscaling#AutoScalingGroupMinSize",
          "traits": {
            "smithy.api#documentation": "<p>The minimum size of the group.</p>",
            "smithy.api#required": {}
          }
        },
        "MixedInstancesPolicy": {
          "target": "com.amazonaws.autoscaling#MixedInstancesPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The mixed instances policy for the group.</p>"
          }
        },
        "NewInstancesProtectedFromScaleIn": {
          "target": "com.amazonaws.autoscaling#InstanceProtected",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether newly launched instances are protected from termination by Amazon EC2 Auto Scaling\n            when scaling in.</p>"
          }
        },
        "PlacementGroup": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the placement group into which to launch your instances, if any.</p>"
          }
        },
        "ServiceLinkedRoleARN": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service-linked role that the Auto Scaling group uses to\n            call other AWS services on your behalf.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the group when <a>DeleteAutoScalingGroup</a> is in\n            progress.</p>"
          }
        },
        "SuspendedProcesses": {
          "target": "com.amazonaws.autoscaling#SuspendedProcesses",
          "traits": {
            "smithy.api#documentation": "<p>The suspended processes associated with the group.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.autoscaling#TagDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the group.</p>"
          }
        },
        "TargetGroupARNs": {
          "target": "com.amazonaws.autoscaling#TargetGroupARNs",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the target groups for your load balancer.</p>"
          }
        },
        "TerminationPolicies": {
          "target": "com.amazonaws.autoscaling#TerminationPolicies",
          "traits": {
            "smithy.api#documentation": "<p>The termination policies for the group.</p>"
          }
        },
        "VPCZoneIdentifier": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen2047",
          "traits": {
            "smithy.api#documentation": "<p>One or more subnet IDs, if applicable, separated by commas.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Auto Scaling group.</p>"
      }
    },
    "com.amazonaws.autoscaling#AutoScalingGroupDesiredCapacity": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.autoscaling#AutoScalingGroupMaxSize": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.autoscaling#AutoScalingGroupMinSize": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.autoscaling#AutoScalingGroupNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#ResourceName"
      }
    },
    "com.amazonaws.autoscaling#AutoScalingGroupNamesType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupNames": {
          "target": "com.amazonaws.autoscaling#AutoScalingGroupNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the Auto Scaling groups. Each name can be a maximum of 1600 characters. By\n            default, you can only specify up to 50 names. You can optionally increase this limit\n            using the <code>MaxRecords</code> parameter.</p>\n        <p>If you omit this parameter, all Auto Scaling groups are described.</p>"
          }
        },
        "MaxRecords": {
          "target": "com.amazonaws.autoscaling#MaxRecords",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return with this call. The default value is\n                <code>50</code> and the maximum value is <code>100</code>.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.autoscaling#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. (You received this token from a\n            previous call.)</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#AutoScalingGroups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#AutoScalingGroup"
      }
    },
    "com.amazonaws.autoscaling#AutoScalingGroupsType": {
      "type": "structure",
      "members": {
        "AutoScalingGroups": {
          "target": "com.amazonaws.autoscaling#AutoScalingGroups",
          "traits": {
            "smithy.api#documentation": "<p>The groups.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.autoscaling#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>A string that indicates that the response contains more items than can be returned in\n            a single response. To receive additional items, specify this string for the\n                <code>NextToken</code> value when requesting the next set of items. This value is\n            null when there are no more items to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#AutoScalingInstanceDetails": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group for the instance.</p>",
            "smithy.api#required": {}
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone for the instance.</p>",
            "smithy.api#required": {}
          }
        },
        "HealthStatus": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen32",
          "traits": {
            "smithy.api#documentation": "<p>The last reported health status of this instance. \"Healthy\" means that the instance is\n            healthy and should remain in service. \"Unhealthy\" means that the instance is unhealthy\n            and Amazon EC2 Auto Scaling should terminate and replace it.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen19",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the instance.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The instance type of the EC2 instance.</p>"
          }
        },
        "LaunchConfigurationName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The launch configuration used to launch the instance. This value is not available if\n            you attached the instance to the Auto Scaling group.</p>"
          }
        },
        "LaunchTemplate": {
          "target": "com.amazonaws.autoscaling#LaunchTemplateSpecification",
          "traits": {
            "smithy.api#documentation": "<p>The launch template for the instance.</p>"
          }
        },
        "LifecycleState": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen32",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle state for the instance.</p>",
            "smithy.api#required": {}
          }
        },
        "ProtectedFromScaleIn": {
          "target": "com.amazonaws.autoscaling#InstanceProtected",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the instance is protected from termination by Amazon EC2 Auto Scaling when scaling\n            in.</p>",
            "smithy.api#required": {}
          }
        },
        "WeightedCapacity": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen32",
          "traits": {
            "smithy.api#documentation": "<p>The number of capacity units contributed by the instance based on its instance type.</p>\n        <p>Valid Range: Minimum value of 1. Maximum value of 999.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an EC2 instance associated with an Auto Scaling group.</p>"
      }
    },
    "com.amazonaws.autoscaling#AutoScalingInstances": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#AutoScalingInstanceDetails"
      }
    },
    "com.amazonaws.autoscaling#AutoScalingInstancesType": {
      "type": "structure",
      "members": {
        "AutoScalingInstances": {
          "target": "com.amazonaws.autoscaling#AutoScalingInstances",
          "traits": {
            "smithy.api#documentation": "<p>The instances.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.autoscaling#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>A string that indicates that the response contains more items than can be returned in\n            a single response. To receive additional items, specify this string for the\n                <code>NextToken</code> value when requesting the next set of items. This value is\n            null when there are no more items to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#AutoScalingNotificationTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#XmlStringMaxLen255"
      }
    },
    "com.amazonaws.autoscaling#AutoScaling_2011_01_01": {
      "type": "service",
      "version": "2011-01-01",
      "operations": [
        {
          "target": "com.amazonaws.autoscaling#AttachInstances"
        },
        {
          "target": "com.amazonaws.autoscaling#AttachLoadBalancers"
        },
        {
          "target": "com.amazonaws.autoscaling#AttachLoadBalancerTargetGroups"
        },
        {
          "target": "com.amazonaws.autoscaling#BatchDeleteScheduledAction"
        },
        {
          "target": "com.amazonaws.autoscaling#BatchPutScheduledUpdateGroupAction"
        },
        {
          "target": "com.amazonaws.autoscaling#CompleteLifecycleAction"
        },
        {
          "target": "com.amazonaws.autoscaling#CreateAutoScalingGroup"
        },
        {
          "target": "com.amazonaws.autoscaling#CreateLaunchConfiguration"
        },
        {
          "target": "com.amazonaws.autoscaling#CreateOrUpdateTags"
        },
        {
          "target": "com.amazonaws.autoscaling#DeleteAutoScalingGroup"
        },
        {
          "target": "com.amazonaws.autoscaling#DeleteLaunchConfiguration"
        },
        {
          "target": "com.amazonaws.autoscaling#DeleteLifecycleHook"
        },
        {
          "target": "com.amazonaws.autoscaling#DeleteNotificationConfiguration"
        },
        {
          "target": "com.amazonaws.autoscaling#DeletePolicy"
        },
        {
          "target": "com.amazonaws.autoscaling#DeleteScheduledAction"
        },
        {
          "target": "com.amazonaws.autoscaling#DeleteTags"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeAccountLimits"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeAdjustmentTypes"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeAutoScalingGroups"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeAutoScalingInstances"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeAutoScalingNotificationTypes"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeLaunchConfigurations"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeLifecycleHooks"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeLifecycleHookTypes"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeLoadBalancers"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeLoadBalancerTargetGroups"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeMetricCollectionTypes"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeNotificationConfigurations"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribePolicies"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeScalingActivities"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeScalingProcessTypes"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeScheduledActions"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeTags"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeTerminationPolicyTypes"
        },
        {
          "target": "com.amazonaws.autoscaling#DetachInstances"
        },
        {
          "target": "com.amazonaws.autoscaling#DetachLoadBalancers"
        },
        {
          "target": "com.amazonaws.autoscaling#DetachLoadBalancerTargetGroups"
        },
        {
          "target": "com.amazonaws.autoscaling#DisableMetricsCollection"
        },
        {
          "target": "com.amazonaws.autoscaling#EnableMetricsCollection"
        },
        {
          "target": "com.amazonaws.autoscaling#EnterStandby"
        },
        {
          "target": "com.amazonaws.autoscaling#ExecutePolicy"
        },
        {
          "target": "com.amazonaws.autoscaling#ExitStandby"
        },
        {
          "target": "com.amazonaws.autoscaling#PutLifecycleHook"
        },
        {
          "target": "com.amazonaws.autoscaling#PutNotificationConfiguration"
        },
        {
          "target": "com.amazonaws.autoscaling#PutScalingPolicy"
        },
        {
          "target": "com.amazonaws.autoscaling#PutScheduledUpdateGroupAction"
        },
        {
          "target": "com.amazonaws.autoscaling#RecordLifecycleActionHeartbeat"
        },
        {
          "target": "com.amazonaws.autoscaling#ResumeProcesses"
        },
        {
          "target": "com.amazonaws.autoscaling#SetDesiredCapacity"
        },
        {
          "target": "com.amazonaws.autoscaling#SetInstanceHealth"
        },
        {
          "target": "com.amazonaws.autoscaling#SetInstanceProtection"
        },
        {
          "target": "com.amazonaws.autoscaling#SuspendProcesses"
        },
        {
          "target": "com.amazonaws.autoscaling#TerminateInstanceInAutoScalingGroup"
        },
        {
          "target": "com.amazonaws.autoscaling#UpdateAutoScalingGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Auto Scaling",
          "arnNamespace": "autoscaling",
          "cloudFormationName": "AutoScaling",
          "cloudTrailEventSource": "version_2011_01_01.csls.fws.amazon.com"
        },
        "aws.auth#sigv4": {
          "name": "autoscaling"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#documentation": "<fullname>Amazon EC2 Auto Scaling</fullname>\n\n        <p>Amazon EC2 Auto Scaling is designed to automatically launch or terminate EC2 instances based on\n            user-defined scaling policies, scheduled actions, and health checks. Use this service\n            with AWS Auto Scaling, Amazon CloudWatch, and Elastic Load Balancing.</p>\n        <p>For more information, including information about granting IAM users required\n            permissions for Amazon EC2 Auto Scaling actions, see the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/what-is-amazon-ec2-auto-scaling.html\">Amazon EC2 Auto Scaling User Guide</a>.</p>",
        "smithy.api#title": "Auto Scaling",
        "smithy.api#xmlNamespace": {
          "uri": "http://autoscaling.amazonaws.com/doc/2011-01-01/"
        }
      }
    },
    "com.amazonaws.autoscaling#AvailabilityZones": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#XmlStringMaxLen255"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.autoscaling#BatchDeleteScheduledAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#BatchDeleteScheduledActionType"
      },
      "output": {
        "target": "com.amazonaws.autoscaling#BatchDeleteScheduledActionAnswer"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes one or more scheduled actions for the specified Auto Scaling group.</p>"
      }
    },
    "com.amazonaws.autoscaling#BatchDeleteScheduledActionAnswer": {
      "type": "structure",
      "members": {
        "FailedScheduledActions": {
          "target": "com.amazonaws.autoscaling#FailedScheduledUpdateGroupActionRequests",
          "traits": {
            "smithy.api#documentation": "<p>The names of the scheduled actions that could not be deleted, including an error\n            message.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#BatchDeleteScheduledActionType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "ScheduledActionNames": {
          "target": "com.amazonaws.autoscaling#ScheduledActionNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the scheduled actions to delete. The maximum number allowed is 50.\n        </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#BatchPutScheduledUpdateGroupAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#BatchPutScheduledUpdateGroupActionType"
      },
      "output": {
        "target": "com.amazonaws.autoscaling#BatchPutScheduledUpdateGroupActionAnswer"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#AlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.autoscaling#LimitExceededFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates or updates one or more scheduled scaling actions for an Auto Scaling group. If you\n            leave a parameter unspecified when updating a scheduled scaling action, the\n            corresponding value remains unchanged.</p>"
      }
    },
    "com.amazonaws.autoscaling#BatchPutScheduledUpdateGroupActionAnswer": {
      "type": "structure",
      "members": {
        "FailedScheduledUpdateGroupActions": {
          "target": "com.amazonaws.autoscaling#FailedScheduledUpdateGroupActionRequests",
          "traits": {
            "smithy.api#documentation": "<p>The names of the scheduled actions that could not be created or updated, including an\n            error message.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#BatchPutScheduledUpdateGroupActionType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "ScheduledUpdateGroupActions": {
          "target": "com.amazonaws.autoscaling#ScheduledUpdateGroupActionRequests",
          "traits": {
            "smithy.api#documentation": "<p>One or more scheduled actions. The maximum number allowed is 50.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#BlockDeviceEbsDeleteOnTermination": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.autoscaling#BlockDeviceEbsEncrypted": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.autoscaling#BlockDeviceEbsIops": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 100,
          "max": 20000
        }
      }
    },
    "com.amazonaws.autoscaling#BlockDeviceEbsVolumeSize": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 16384
        }
      }
    },
    "com.amazonaws.autoscaling#BlockDeviceEbsVolumeType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.autoscaling#BlockDeviceMapping": {
      "type": "structure",
      "members": {
        "DeviceName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The device name exposed to the EC2 instance (for example, <code>/dev/sdh</code> or\n                <code>xvdh</code>). For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/device_naming.html\">Device Naming on Linux\n                Instances</a> in the <i>Amazon EC2 User Guide for Linux\n                Instances</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "Ebs": {
          "target": "com.amazonaws.autoscaling#Ebs",
          "traits": {
            "smithy.api#documentation": "<p>The information about the Amazon EBS volume.</p>"
          }
        },
        "NoDevice": {
          "target": "com.amazonaws.autoscaling#NoDevice",
          "traits": {
            "smithy.api#documentation": "<p>Suppresses a device mapping.</p>\n        <p>If this parameter is true for the root device, the instance might fail the EC2 health\n            check. In that case, Amazon EC2 Auto Scaling launches a replacement instance.</p>"
          }
        },
        "VirtualName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the virtual device (for example, <code>ephemeral0</code>).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a block device mapping.</p>"
      }
    },
    "com.amazonaws.autoscaling#BlockDeviceMappings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#BlockDeviceMapping"
      }
    },
    "com.amazonaws.autoscaling#ClassicLinkVPCSecurityGroups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#XmlStringMaxLen255"
      }
    },
    "com.amazonaws.autoscaling#CompleteLifecycleAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#CompleteLifecycleActionType"
      },
      "output": {
        "target": "com.amazonaws.autoscaling#CompleteLifecycleActionAnswer"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Completes the lifecycle action for the specified token or instance with the specified\n            result.</p>\n\n        <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling\n            group:</p>\n        <ol>\n            <li>\n                <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to\n                    invoke your Lambda function when Amazon EC2 Auto Scaling launches or terminates\n                    instances.</p>\n            </li>\n            <li>\n                <p>(Optional) Create a notification target and an IAM role. The target can be\n                    either an Amazon SQS queue or an Amazon SNS topic. The role allows Amazon EC2 Auto Scaling to\n                    publish lifecycle notifications to the target.</p>\n            </li>\n            <li>\n                <p>Create the lifecycle hook. Specify whether the hook is used when the instances\n                    launch or terminate.</p>\n            </li>\n            <li>\n                <p>If you need more time, record the lifecycle action heartbeat to keep the\n                    instance in a pending state.</p>\n            </li>\n            <li>\n                <p>\n                  <b>If you finish before the timeout period ends, complete\n                        the lifecycle action.</b>\n               </p>\n            </li>\n         </ol>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/lifecycle-hooks.html\">Amazon EC2 Auto Scaling Lifecycle\n                Hooks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
      }
    },
    "com.amazonaws.autoscaling#CompleteLifecycleActionAnswer": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.autoscaling#CompleteLifecycleActionType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen19",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the instance.</p>"
          }
        },
        "LifecycleActionResult": {
          "target": "com.amazonaws.autoscaling#LifecycleActionResult",
          "traits": {
            "smithy.api#documentation": "<p>The action for the group to take. This parameter can be either <code>CONTINUE</code>\n            or <code>ABANDON</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "LifecycleActionToken": {
          "target": "com.amazonaws.autoscaling#LifecycleActionToken",
          "traits": {
            "smithy.api#documentation": "<p>A universally unique identifier (UUID) that identifies a specific lifecycle action\n            associated with an instance. Amazon EC2 Auto Scaling sends this token to the notification target you\n            specified when you created the lifecycle hook.</p>"
          }
        },
        "LifecycleHookName": {
          "target": "com.amazonaws.autoscaling#AsciiStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the lifecycle hook.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#Cooldown": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.autoscaling#CreateAutoScalingGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#CreateAutoScalingGroupType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#AlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.autoscaling#LimitExceededFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ServiceLinkedRoleFailure"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Auto Scaling group with the specified name and attributes.</p>\n        <p>If you exceed your maximum limit of Auto Scaling groups, the call fails. For information about\n            viewing this limit, see <a>DescribeAccountLimits</a>. For information about\n            updating this limit, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-account-limits.html\">Amazon EC2 Auto Scaling Limits</a> in\n            the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
      }
    },
    "com.amazonaws.autoscaling#CreateAutoScalingGroupType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group. This name must be unique per Region per account.</p>",
            "smithy.api#required": {}
          }
        },
        "AvailabilityZones": {
          "target": "com.amazonaws.autoscaling#AvailabilityZones",
          "traits": {
            "smithy.api#documentation": "<p>One or more Availability Zones for the group. This parameter is optional if you\n            specify one or more subnets for <code>VPCZoneIdentifier</code>.</p>\n        <p>Conditional: If your account supports EC2-Classic and VPC, this parameter is required\n            to launch instances into EC2-Classic.</p>"
          }
        },
        "DefaultCooldown": {
          "target": "com.amazonaws.autoscaling#Cooldown",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, after a scaling activity completes before another\n            scaling activity can start. The default value is <code>300</code>.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/Cooldown.html\">Scaling Cooldowns</a> in the\n                <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "DesiredCapacity": {
          "target": "com.amazonaws.autoscaling#AutoScalingGroupDesiredCapacity",
          "traits": {
            "smithy.api#documentation": "<p>The number of Amazon EC2 instances that the Auto Scaling group attempts to maintain. This\n            number must be greater than or equal to the minimum size of the group and less than or\n            equal to the maximum size of the group. If you do not specify a desired capacity, the\n            default is the minimum size of the group.</p>"
          }
        },
        "HealthCheckGracePeriod": {
          "target": "com.amazonaws.autoscaling#HealthCheckGracePeriod",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, that Amazon EC2 Auto Scaling waits before checking the health status\n            of an EC2 instance that has come into service. During this time, any health check\n            failures for the instance are ignored. The default value is <code>0</code>.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/healthcheck.html#health-check-grace-period\">Health\n                Check Grace Period</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <p>Conditional: This parameter is required if you are adding an <code>ELB</code> health\n            check.</p>"
          }
        },
        "HealthCheckType": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen32",
          "traits": {
            "smithy.api#documentation": "<p>The service to use for the health checks. The valid values are <code>EC2</code> and\n                <code>ELB</code>. The default value is <code>EC2</code>. If you configure an Auto Scaling\n            group to use ELB health checks, it considers the instance unhealthy if it fails either\n            the EC2 status checks or the load balancer health checks.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/healthcheck.html\">Health Checks for Auto Scaling\n                Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen19",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the instance used to create a launch configuration for the group.</p>\n        <p>When you specify an ID of an instance, Amazon EC2 Auto Scaling creates a new launch configuration and\n            associates it with the group. This launch configuration derives its attributes from the\n            specified instance, except for the block device mapping.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-asg-from-instance.html\">Create an Auto Scaling Group\n                Using an EC2 Instance</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <p>You must specify one of the following parameters in your request:\n                <code>LaunchConfigurationName</code>, <code>LaunchTemplate</code>,\n                <code>InstanceId</code>, or <code>MixedInstancesPolicy</code>.</p>"
          }
        },
        "LaunchConfigurationName": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the launch configuration.</p>\n        \n        <p>If you do not specify <code>LaunchConfigurationName</code>, you must specify one of\n            the following parameters: <code>InstanceId</code>, <code>LaunchTemplate</code>, or\n                <code>MixedInstancesPolicy</code>.</p>"
          }
        },
        "LaunchTemplate": {
          "target": "com.amazonaws.autoscaling#LaunchTemplateSpecification",
          "traits": {
            "smithy.api#documentation": "<p>The launch template to use to launch instances.</p>\n        \n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_LaunchTemplateSpecification.html\">LaunchTemplateSpecification</a> in the <i>Amazon EC2 Auto Scaling API\n                Reference</i>.</p>\n        <p>If you do not specify <code>LaunchTemplate</code>, you must specify one of the\n            following parameters: <code>InstanceId</code>, <code>LaunchConfigurationName</code>, or\n                <code>MixedInstancesPolicy</code>.</p>"
          }
        },
        "LifecycleHookSpecificationList": {
          "target": "com.amazonaws.autoscaling#LifecycleHookSpecifications",
          "traits": {
            "smithy.api#documentation": "<p>One or more lifecycle hooks.</p>"
          }
        },
        "LoadBalancerNames": {
          "target": "com.amazonaws.autoscaling#LoadBalancerNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of Classic Load Balancers associated with this Auto Scaling group. For Application Load\n            Balancers and Network Load Balancers, specify a list of target groups using the\n                <code>TargetGroupARNs</code> property instead.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html\">Using a Load Balancer\n                with an Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "MaxInstanceLifetime": {
          "target": "com.amazonaws.autoscaling#MaxInstanceLifetime",
          "traits": {
            "smithy.api#documentation": "<p>The maximum amount of time, in seconds, that an instance can be in service.</p>\n        <p>Valid Range: Minimum value of 604800.</p>"
          }
        },
        "MaxSize": {
          "target": "com.amazonaws.autoscaling#AutoScalingGroupMaxSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of the group.</p>",
            "smithy.api#required": {}
          }
        },
        "MinSize": {
          "target": "com.amazonaws.autoscaling#AutoScalingGroupMinSize",
          "traits": {
            "smithy.api#documentation": "<p>The minimum size of the group.</p>",
            "smithy.api#required": {}
          }
        },
        "MixedInstancesPolicy": {
          "target": "com.amazonaws.autoscaling#MixedInstancesPolicy",
          "traits": {
            "smithy.api#documentation": "<p>An embedded object that specifies a mixed instances policy. The required parameters\n            must be specified. If optional parameters are unspecified, their default values are\n            used.</p>\n        <p>The policy includes parameters that not only define the distribution of On-Demand\n            Instances and Spot Instances, the maximum price to pay for Spot Instances, and how the\n            Auto Scaling group allocates instance types to fulfill On-Demand and Spot capacity, but\n            also the parameters that specify the instance configuration information—the launch\n            template and instance types.</p>\n        \n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_MixedInstancesPolicy.html\">MixedInstancesPolicy</a> in the <i>Amazon EC2 Auto Scaling API\n                Reference</i> and <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-purchase-options.html\">Auto Scaling Groups with\n                Multiple Instance Types and Purchase Options</a> in the <i>Amazon EC2\n                Auto Scaling User Guide</i>.</p>\n        <p>You must specify one of the following parameters in your request:\n                <code>LaunchConfigurationName</code>, <code>LaunchTemplate</code>,\n                <code>InstanceId</code>, or <code>MixedInstancesPolicy</code>.</p>"
          }
        },
        "NewInstancesProtectedFromScaleIn": {
          "target": "com.amazonaws.autoscaling#InstanceProtected",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether newly launched instances are protected from termination by Amazon EC2 Auto Scaling\n            when scaling in.</p>\n        <p>For more information about preventing instances from terminating on scale in, see\n                <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html#instance-protection\">Instance Protection</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "PlacementGroup": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the placement group into which to launch your instances, if any. A\n            placement group is a logical grouping of instances within a single Availability Zone.\n            You cannot specify multiple Availability Zones and a placement group. For more\n            information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html\">Placement Groups</a> in the\n                <i>Amazon EC2 User Guide for Linux Instances</i>.</p>"
          }
        },
        "ServiceLinkedRoleARN": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service-linked role that the Auto Scaling group uses to\n            call other AWS services on your behalf. By default, Amazon EC2 Auto Scaling uses a service-linked role\n            named AWSServiceRoleForAutoScaling, which it creates if it does not exist. For more\n            information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-service-linked-role.html\">Service-Linked\n                Roles</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.autoscaling#Tags",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-tagging.html\">Tagging Auto Scaling Groups and\n                Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "TargetGroupARNs": {
          "target": "com.amazonaws.autoscaling#TargetGroupARNs",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the target groups to associate with the Auto Scaling group.\n            Instances are registered as targets in a target group, and traffic is routed to the\n            target group.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html\">Using a Load Balancer\n                with an Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "TerminationPolicies": {
          "target": "com.amazonaws.autoscaling#TerminationPolicies",
          "traits": {
            "smithy.api#documentation": "<p>One or more termination policies used to select the instance to terminate. These\n            policies are executed in the order that they are listed.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html\">Controlling Which\n                Instances Auto Scaling Terminates During Scale In</a> in the\n                <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "VPCZoneIdentifier": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen2047",
          "traits": {
            "smithy.api#documentation": "<p>A comma-separated list of subnet IDs for your virtual private cloud (VPC).</p>\n        <p>If you specify <code>VPCZoneIdentifier</code> with <code>AvailabilityZones</code>, the\n            subnets that you specify for this parameter must reside in those Availability\n            Zones.</p>\n        <p>Conditional: If your account supports EC2-Classic and VPC, this parameter is required\n            to launch instances into a VPC.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#CreateLaunchConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#CreateLaunchConfigurationType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#AlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.autoscaling#LimitExceededFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a launch configuration.</p>\n        <p>If you exceed your maximum limit of launch configurations, the call fails. For\n            information about viewing this limit, see <a>DescribeAccountLimits</a>. For\n            information about updating this limit, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-account-limits.html\">Amazon EC2 Auto Scaling Limits</a> in\n            the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/LaunchConfiguration.html\">Launch\n                Configurations</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
      }
    },
    "com.amazonaws.autoscaling#CreateLaunchConfigurationType": {
      "type": "structure",
      "members": {
        "AssociatePublicIpAddress": {
          "target": "com.amazonaws.autoscaling#AssociatePublicIpAddress",
          "traits": {
            "smithy.api#documentation": "<p>For Auto Scaling groups that are running in a virtual private cloud (VPC), specifies whether\n            to assign a public IP address to the group's instances. If you specify\n            <code>true</code>, each instance in the Auto Scaling group receives a unique public IP address.\n            For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html\">Launching Auto Scaling Instances in a\n                VPC</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <p>If you specify this parameter, you must specify at least one subnet for\n                <code>VPCZoneIdentifier</code> when you create your group.</p>\n        <note>\n            <p>If the instance is launched into a default subnet, the default is to assign a\n                public IP address, unless you disabled the option to assign a public IP address on\n                the subnet. If the instance is launched into a nondefault subnet, the default is not\n                to assign a public IP address, unless you enabled the option to assign a public IP\n                address on the subnet.</p>\n        </note>"
          }
        },
        "BlockDeviceMappings": {
          "target": "com.amazonaws.autoscaling#BlockDeviceMappings",
          "traits": {
            "smithy.api#documentation": "<p>A block device mapping, which specifies the block devices for the instance. You can\n            specify virtual devices and EBS volumes. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/block-device-mapping-concepts.html\">Block Device\n                Mapping</a> in the <i>Amazon EC2 User Guide for Linux\n                Instances</i>.</p>"
          }
        },
        "ClassicLinkVPCId": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a ClassicLink-enabled VPC to link your EC2-Classic instances to. For more\n            information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-classiclink.html\">ClassicLink</a> in the\n                <i>Amazon EC2 User Guide for Linux Instances</i> and <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html#as-ClassicLink\">Linking EC2-Classic\n                Instances to a VPC</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <p>This parameter can only be used if you are launching EC2-Classic instances.</p>"
          }
        },
        "ClassicLinkVPCSecurityGroups": {
          "target": "com.amazonaws.autoscaling#ClassicLinkVPCSecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of one or more security groups for the specified ClassicLink-enabled VPC. For\n            more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-classiclink.html\">ClassicLink</a> in the\n                <i>Amazon EC2 User Guide for Linux Instances</i> and <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html#as-ClassicLink\">Linking EC2-Classic\n                Instances to a VPC</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <p>If you specify the <code>ClassicLinkVPCId</code> parameter, you must specify this\n            parameter.</p>"
          }
        },
        "EbsOptimized": {
          "target": "com.amazonaws.autoscaling#EbsOptimized",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the launch configuration is optimized for EBS I/O\n            (<code>true</code>) or not (<code>false</code>). The optimization provides dedicated\n            throughput to Amazon EBS and an optimized configuration stack to provide optimal I/O\n            performance. This optimization is not available with all instance types. Additional fees\n            are incurred when you enable EBS optimization for an instance type that is not\n            EBS-optimized by default. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSOptimized.html\">Amazon EBS-Optimized\n                Instances</a> in the <i>Amazon EC2 User Guide for Linux\n                Instances</i>.</p>\n        <p>The default value is <code>false</code>.</p>"
          }
        },
        "IamInstanceProfile": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen1600",
          "traits": {
            "smithy.api#documentation": "<p>The name or the Amazon Resource Name (ARN) of the instance profile associated with the\n            IAM role for the instance. The instance profile contains the IAM role.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/us-iam-role.html\">IAM Role for Applications That Run\n                on Amazon EC2 Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "ImageId": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Machine Image (AMI) that was assigned during registration. For\n            more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/finding-an-ami.html\">Finding an AMI</a> in the\n                <i>Amazon EC2 User Guide for Linux Instances</i>.</p>\n        <p>If you do not specify <code>InstanceId</code>, you must specify\n            <code>ImageId</code>.</p>"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen19",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the instance to use to create the launch configuration. The new launch\n            configuration derives attributes from the instance, except for the block device\n            mapping.</p>\n        <p>To create a launch configuration with a block device mapping or override any other\n            instance attributes, specify them as part of the same request.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-lc-with-instanceID.html\">Create a Launch\n                Configuration Using an EC2 Instance</a> in the\n                <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <p>If you do not specify <code>InstanceId</code>, you must specify both\n                <code>ImageId</code> and <code>InstanceType</code>.</p>"
          }
        },
        "InstanceMonitoring": {
          "target": "com.amazonaws.autoscaling#InstanceMonitoring",
          "traits": {
            "smithy.api#documentation": "<p>Controls whether instances in this group are launched with detailed\n            (<code>true</code>) or basic (<code>false</code>) monitoring.</p>\n        <p>The default value is <code>true</code> (enabled).</p>\n        <important>\n            <p>When detailed monitoring is enabled, Amazon CloudWatch generates metrics every minute and\n                your account is charged a fee. When you disable detailed monitoring, CloudWatch generates\n                metrics every 5 minutes. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/latest/userguide/as-instance-monitoring.html#enable-as-instance-metrics\">Configure Monitoring for Auto Scaling Instances</a> in the\n                    <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        </important>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the instance type of the EC2 instance.</p>\n        <p>For information about available instance types, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html#AvailableInstanceTypes\">Available\n                Instance Types</a> in the <i>Amazon EC2 User Guide for Linux\n                Instances.</i>\n         </p>\n        <p>If you do not specify <code>InstanceId</code>, you must specify\n                <code>InstanceType</code>.</p>"
          }
        },
        "KernelId": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the kernel associated with the AMI.</p>"
          }
        },
        "KeyName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the key pair. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html\">Amazon EC2 Key Pairs</a> in the\n                <i>Amazon EC2 User Guide for Linux Instances</i>.</p>"
          }
        },
        "LaunchConfigurationName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the launch configuration. This name must be unique per Region per\n            account.</p>",
            "smithy.api#required": {}
          }
        },
        "PlacementTenancy": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen64",
          "traits": {
            "smithy.api#documentation": "<p>The tenancy of the instance. An instance with <code>dedicated</code> tenancy runs on\n            isolated, single-tenant hardware and can only be launched into a VPC.</p>\n        <p>To launch dedicated instances into a shared tenancy VPC (a VPC with the instance\n            placement tenancy attribute set to <code>default</code>), you must set the value of this\n            parameter to <code>dedicated</code>.</p>\n        <p>If you specify <code>PlacementTenancy</code>, you must specify at least one subnet for\n                <code>VPCZoneIdentifier</code> when you create your group.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html#as-vpc-tenancy\">Instance Placement\n                Tenancy</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <p>Valid Values: <code>default</code> | <code>dedicated</code>\n        </p>"
          }
        },
        "RamdiskId": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the RAM disk to select.</p>"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.autoscaling#SecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>A list that contains the security groups to assign to the instances in the Auto Scaling\n            group.</p>\n        <p>[EC2-VPC] Specify the security group IDs. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_SecurityGroups.html\">Security Groups for Your VPC</a> in the <i>Amazon Virtual Private Cloud\n                User Guide</i>.</p>\n        <p>[EC2-Classic] Specify either the security group names or the security group IDs. For\n            more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html\">Amazon EC2 Security\n                Groups</a> in the <i>Amazon EC2 User Guide for Linux\n            Instances</i>.</p>"
          }
        },
        "SpotPrice": {
          "target": "com.amazonaws.autoscaling#SpotPrice",
          "traits": {
            "smithy.api#documentation": "<p>The maximum hourly price to be paid for any Spot Instance launched to fulfill the\n            request. Spot Instances are launched when the price you specify exceeds the current Spot\n            price. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-launch-spot-instances.html\">Launching Spot\n                Instances in Your Auto Scaling Group</a> in the\n            <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <note>\n            <p>When you change your maximum price by creating a new launch configuration, running\n                instances will continue to run as long as the maximum price for those running\n                instances is higher than the current Spot price.</p>\n        </note>"
          }
        },
        "UserData": {
          "target": "com.amazonaws.autoscaling#XmlStringUserData",
          "traits": {
            "smithy.api#documentation": "<p>The Base64-encoded user data to make available to the launched EC2 instances. For more\n            information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html\">Instance Metadata and User\n                Data</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#CreateOrUpdateTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#CreateOrUpdateTagsType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#AlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.autoscaling#LimitExceededFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceInUseFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates or updates tags for the specified Auto Scaling group.</p>\n        <p>When you specify a tag with a key that already exists, the operation overwrites the\n            previous tag definition, and you do not get an error message.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-tagging.html\">Tagging Auto Scaling Groups and\n                Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
      }
    },
    "com.amazonaws.autoscaling#CreateOrUpdateTagsType": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.autoscaling#Tags",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#CustomizedMetricSpecification": {
      "type": "structure",
      "members": {
        "Dimensions": {
          "target": "com.amazonaws.autoscaling#MetricDimensions",
          "traits": {
            "smithy.api#documentation": "<p>The dimensions of the metric.</p>\n        <p>Conditional: If you published your metric with dimensions, you must specify the same\n            dimensions in your scaling policy.</p>"
          }
        },
        "MetricName": {
          "target": "com.amazonaws.autoscaling#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Namespace": {
          "target": "com.amazonaws.autoscaling#MetricNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Statistic": {
          "target": "com.amazonaws.autoscaling#MetricStatistic",
          "traits": {
            "smithy.api#documentation": "<p>The statistic of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Unit": {
          "target": "com.amazonaws.autoscaling#MetricUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit of the metric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a CloudWatch metric of your choosing for a target tracking scaling policy to use\n            with Amazon EC2 Auto Scaling.</p>\n        <p>To create your customized metric specification:</p>\n        <ul>\n            <li>\n                <p>Add values for each required parameter from CloudWatch. You can use an existing\n                    metric, or a new metric that you create. To use your own metric, you must first\n                    publish the metric to CloudWatch. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html\">Publish\n                        Custom Metrics</a> in the <i>Amazon CloudWatch User\n                    Guide</i>.</p>\n            </li>\n            <li>\n                <p>Choose a metric that changes proportionally with capacity. The value of the\n                    metric should increase or decrease in inverse proportion to the number of\n                    capacity units. That is, the value of the metric should decrease when capacity\n                    increases.</p>\n            </li>\n         </ul>\n        <p>For more information about CloudWatch, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html\">Amazon CloudWatch\n                Concepts</a>.</p>"
      }
    },
    "com.amazonaws.autoscaling#DeleteAutoScalingGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#DeleteAutoScalingGroupType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceInUseFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ScalingActivityInProgressFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Auto Scaling group.</p>\n        <p>If the group has instances or scaling activities in progress, you must specify the\n            option to force the deletion in order for it to succeed.</p>\n        <p>If the group has policies, deleting the group deletes the policies, the underlying\n            alarm actions, and any alarm that no longer has an associated action.</p>\n        <p>To remove instances from the Auto Scaling group before deleting it, call <a>DetachInstances</a> with the list of instances and the option to decrement\n            the desired capacity. This ensures that Amazon EC2 Auto Scaling does not launch replacement\n            instances.</p>\n        <p>To terminate all instances before deleting the Auto Scaling group, call <a>UpdateAutoScalingGroup</a> and set the minimum size and desired capacity of\n            the Auto Scaling group to zero.</p>"
      }
    },
    "com.amazonaws.autoscaling#DeleteAutoScalingGroupType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "ForceDelete": {
          "target": "com.amazonaws.autoscaling#ForceDelete",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that the group is to be deleted along with all instances associated with the\n            group, without waiting for all instances to be terminated. This parameter also deletes\n            any lifecycle actions associated with the group.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DeleteLaunchConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#LaunchConfigurationNameType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceInUseFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified launch configuration.</p>\n        <p>The launch configuration must not be attached to an Auto Scaling group. When this call\n            completes, the launch configuration is no longer available for use.</p>"
      }
    },
    "com.amazonaws.autoscaling#DeleteLifecycleHook": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#DeleteLifecycleHookType"
      },
      "output": {
        "target": "com.amazonaws.autoscaling#DeleteLifecycleHookAnswer"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified lifecycle hook.</p>\n        <p>If there are any outstanding lifecycle actions, they are completed first\n                (<code>ABANDON</code> for launching instances, <code>CONTINUE</code> for terminating\n            instances).</p>"
      }
    },
    "com.amazonaws.autoscaling#DeleteLifecycleHookAnswer": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.autoscaling#DeleteLifecycleHookType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "LifecycleHookName": {
          "target": "com.amazonaws.autoscaling#AsciiStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the lifecycle hook.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DeleteNotificationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#DeleteNotificationConfigurationType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified notification.</p>"
      }
    },
    "com.amazonaws.autoscaling#DeleteNotificationConfigurationType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "TopicARN": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Simple Notification Service (Amazon SNS)\n            topic.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DeletePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#DeletePolicyType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ServiceLinkedRoleFailure"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified scaling policy.</p>\n        <p>Deleting either a step scaling policy or a simple scaling policy deletes the\n            underlying alarm action, but does not delete the alarm, even if it no longer has an\n            associated action.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/deleting-scaling-policy.html\">Deleting a Scaling\n                Policy</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
      }
    },
    "com.amazonaws.autoscaling#DeletePolicyType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>"
          }
        },
        "PolicyName": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name or Amazon Resource Name (ARN) of the policy.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DeleteScheduledAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#DeleteScheduledActionType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified scheduled action.</p>"
      }
    },
    "com.amazonaws.autoscaling#DeleteScheduledActionType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "ScheduledActionName": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DeleteTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#DeleteTagsType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceInUseFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified tags.</p>"
      }
    },
    "com.amazonaws.autoscaling#DeleteTagsType": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.autoscaling#Tags",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DescribeAccountLimits": {
      "type": "operation",
      "output": {
        "target": "com.amazonaws.autoscaling#DescribeAccountLimitsAnswer"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the current Amazon EC2 Auto Scaling resource limits for your AWS account.</p>\n        <p>For information about requesting an increase in these limits, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-account-limits.html\">Amazon EC2 Auto Scaling\n                Limits</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
      }
    },
    "com.amazonaws.autoscaling#DescribeAccountLimitsAnswer": {
      "type": "structure",
      "members": {
        "MaxNumberOfAutoScalingGroups": {
          "target": "com.amazonaws.autoscaling#MaxNumberOfAutoScalingGroups",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of groups allowed for your AWS account. The default limit is 200\n            per AWS Region.</p>"
          }
        },
        "MaxNumberOfLaunchConfigurations": {
          "target": "com.amazonaws.autoscaling#MaxNumberOfLaunchConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of launch configurations allowed for your AWS account. The default\n            limit is 200 per AWS Region.</p>"
          }
        },
        "NumberOfAutoScalingGroups": {
          "target": "com.amazonaws.autoscaling#NumberOfAutoScalingGroups",
          "traits": {
            "smithy.api#documentation": "<p>The current number of groups for your AWS account.</p>"
          }
        },
        "NumberOfLaunchConfigurations": {
          "target": "com.amazonaws.autoscaling#NumberOfLaunchConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>The current number of launch configurations for your AWS account.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DescribeAdjustmentTypes": {
      "type": "operation",
      "output": {
        "target": "com.amazonaws.autoscaling#DescribeAdjustmentTypesAnswer"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the policy adjustment types for use with <a>PutScalingPolicy</a>.</p>"
      }
    },
    "com.amazonaws.autoscaling#DescribeAdjustmentTypesAnswer": {
      "type": "structure",
      "members": {
        "AdjustmentTypes": {
          "target": "com.amazonaws.autoscaling#AdjustmentTypes",
          "traits": {
            "smithy.api#documentation": "<p>The policy adjustment types.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DescribeAutoScalingGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#AutoScalingGroupNamesType"
      },
      "output": {
        "target": "com.amazonaws.autoscaling#AutoScalingGroupsType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#InvalidNextToken"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes one or more Auto Scaling groups.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AutoScalingGroups",
          "pageSize": "MaxRecords"
        }
      }
    },
    "com.amazonaws.autoscaling#DescribeAutoScalingInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#DescribeAutoScalingInstancesType"
      },
      "output": {
        "target": "com.amazonaws.autoscaling#AutoScalingInstancesType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#InvalidNextToken"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes one or more Auto Scaling instances.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AutoScalingInstances",
          "pageSize": "MaxRecords"
        }
      }
    },
    "com.amazonaws.autoscaling#DescribeAutoScalingInstancesType": {
      "type": "structure",
      "members": {
        "InstanceIds": {
          "target": "com.amazonaws.autoscaling#InstanceIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the instances. You can specify up to <code>MaxRecords</code> IDs. If you\n            omit this parameter, all Auto Scaling instances are described. If you specify an ID that does\n            not exist, it is ignored with no error.</p>"
          }
        },
        "MaxRecords": {
          "target": "com.amazonaws.autoscaling#MaxRecords",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return with this call. The default value is\n                <code>50</code> and the maximum value is <code>50</code>.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.autoscaling#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. (You received this token from a\n            previous call.)</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DescribeAutoScalingNotificationTypes": {
      "type": "operation",
      "output": {
        "target": "com.amazonaws.autoscaling#DescribeAutoScalingNotificationTypesAnswer"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the notification types that are supported by Amazon EC2 Auto Scaling.</p>"
      }
    },
    "com.amazonaws.autoscaling#DescribeAutoScalingNotificationTypesAnswer": {
      "type": "structure",
      "members": {
        "AutoScalingNotificationTypes": {
          "target": "com.amazonaws.autoscaling#AutoScalingNotificationTypes",
          "traits": {
            "smithy.api#documentation": "<p>The notification types.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DescribeLaunchConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#LaunchConfigurationNamesType"
      },
      "output": {
        "target": "com.amazonaws.autoscaling#LaunchConfigurationsType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#InvalidNextToken"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes one or more launch configurations.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "LaunchConfigurations",
          "pageSize": "MaxRecords"
        }
      }
    },
    "com.amazonaws.autoscaling#DescribeLifecycleHookTypes": {
      "type": "operation",
      "output": {
        "target": "com.amazonaws.autoscaling#DescribeLifecycleHookTypesAnswer"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the available types of lifecycle hooks.</p>\n        <p>The following hook types are supported:</p>\n        <ul>\n            <li>\n                <p>autoscaling:EC2_INSTANCE_LAUNCHING</p>\n            </li>\n            <li>\n                <p>autoscaling:EC2_INSTANCE_TERMINATING</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.autoscaling#DescribeLifecycleHookTypesAnswer": {
      "type": "structure",
      "members": {
        "LifecycleHookTypes": {
          "target": "com.amazonaws.autoscaling#AutoScalingNotificationTypes",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle hook types.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DescribeLifecycleHooks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#DescribeLifecycleHooksType"
      },
      "output": {
        "target": "com.amazonaws.autoscaling#DescribeLifecycleHooksAnswer"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the lifecycle hooks for the specified Auto Scaling group.</p>"
      }
    },
    "com.amazonaws.autoscaling#DescribeLifecycleHooksAnswer": {
      "type": "structure",
      "members": {
        "LifecycleHooks": {
          "target": "com.amazonaws.autoscaling#LifecycleHooks",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle hooks for the specified group.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DescribeLifecycleHooksType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "LifecycleHookNames": {
          "target": "com.amazonaws.autoscaling#LifecycleHookNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of one or more lifecycle hooks. If you omit this parameter, all lifecycle\n            hooks are described.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DescribeLoadBalancerTargetGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#DescribeLoadBalancerTargetGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.autoscaling#DescribeLoadBalancerTargetGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the target groups for the specified Auto Scaling group.</p>"
      }
    },
    "com.amazonaws.autoscaling#DescribeLoadBalancerTargetGroupsRequest": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxRecords": {
          "target": "com.amazonaws.autoscaling#MaxRecords",
[...]
