{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.autoscaling#ActiveInstanceRefreshNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed because an active instance refresh for the specified Auto Scaling group was\n            not found. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.autoscaling#Activities": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#Activity"
      }
    },
    "com.amazonaws.autoscaling#ActivitiesType": {
      "type": "structure",
      "members": {
        "Activities": {
          "target": "com.amazonaws.autoscaling#Activities",
          "traits": {
            "smithy.api#documentation": "<p>The scaling activities. Activities are sorted by start time. Activities still in\n            progress are described first.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.autoscaling#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>A string that indicates that the response contains more items than can be returned in\n            a single response. To receive additional items, specify this string for the\n                <code>NextToken</code> value when requesting the next set of items. This value is\n            null when there are no more items to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#Activity": {
      "type": "structure",
      "members": {
        "ActivityId": {
          "target": "com.amazonaws.autoscaling#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the activity.</p>",
            "smithy.api#required": {}
          }
        },
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.autoscaling#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>A friendly, more verbose description of the activity.</p>"
          }
        },
        "Cause": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen1023",
          "traits": {
            "smithy.api#documentation": "<p>The reason the activity began.</p>",
            "smithy.api#required": {}
          }
        },
        "StartTime": {
          "target": "com.amazonaws.autoscaling#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the activity.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.autoscaling#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The end time of the activity.</p>"
          }
        },
        "StatusCode": {
          "target": "com.amazonaws.autoscaling#ScalingActivityStatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the activity.</p>",
            "smithy.api#required": {}
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>A friendly, more verbose description of the activity status.</p>"
          }
        },
        "Progress": {
          "target": "com.amazonaws.autoscaling#Progress",
          "traits": {
            "smithy.api#documentation": "<p>A value between 0 and 100 that indicates the progress of the activity.</p>"
          }
        },
        "Details": {
          "target": "com.amazonaws.autoscaling#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>The details about the activity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes scaling activity, which is a long-running process that represents a change\n            to your Auto Scaling group, such as changing its size or replacing an instance.</p>"
      }
    },
    "com.amazonaws.autoscaling#ActivityIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#XmlString"
      }
    },
    "com.amazonaws.autoscaling#ActivityType": {
      "type": "structure",
      "members": {
        "Activity": {
          "target": "com.amazonaws.autoscaling#Activity",
          "traits": {
            "smithy.api#documentation": "<p>A scaling activity.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#AdjustmentType": {
      "type": "structure",
      "members": {
        "AdjustmentType": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The policy adjustment type. The valid values are <code>ChangeInCapacity</code>,\n                <code>ExactCapacity</code>, and <code>PercentChangeInCapacity</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a policy adjustment type.</p>"
      }
    },
    "com.amazonaws.autoscaling#AdjustmentTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#AdjustmentType"
      }
    },
    "com.amazonaws.autoscaling#Alarm": {
      "type": "structure",
      "members": {
        "AlarmName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alarm.</p>"
          }
        },
        "AlarmARN": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the alarm.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an alarm.</p>"
      }
    },
    "com.amazonaws.autoscaling#Alarms": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#Alarm"
      }
    },
    "com.amazonaws.autoscaling#AlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You already have an Auto Scaling group or launch configuration with this name.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.autoscaling#AsciiStringMaxLen255": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "[A-Za-z0-9\\-_\\/]+"
      }
    },
    "com.amazonaws.autoscaling#AssociatePublicIpAddress": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.autoscaling#AttachInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#AttachInstancesQuery"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ServiceLinkedRoleFailure"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches one or more EC2 instances to the specified Auto Scaling group.</p>\n        <p>When you attach instances, Amazon EC2 Auto Scaling increases the desired capacity of the group by the\n            number of instances being attached. If the number of instances being attached plus the\n            desired capacity of the group exceeds the maximum size of the group, the operation\n            fails.</p>\n        <p>If there is a Classic Load Balancer attached to your Auto Scaling group, the instances are\n            also registered with the load balancer. If there are target groups attached to your Auto Scaling\n            group, the instances are also registered with the target groups.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/attach-instance-asg.html\">Attach EC2 instances to\n                your Auto Scaling group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
      }
    },
    "com.amazonaws.autoscaling#AttachInstancesQuery": {
      "type": "structure",
      "members": {
        "InstanceIds": {
          "target": "com.amazonaws.autoscaling#InstanceIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the instances. You can specify up to 20 instances.</p>"
          }
        },
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#AttachLoadBalancerTargetGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#AttachLoadBalancerTargetGroupsType"
      },
      "output": {
        "target": "com.amazonaws.autoscaling#AttachLoadBalancerTargetGroupsResultType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ServiceLinkedRoleFailure"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches one or more target groups to the specified Auto Scaling group.</p>\n        <p>This operation is used with the following load balancer types: </p>\n        <ul>\n            <li>\n                <p> Application Load Balancer - Operates at the application layer (layer 7) and\n                    supports HTTP and HTTPS. </p>\n            </li>\n            <li>\n                <p> Network Load Balancer - Operates at the transport layer (layer 4) and\n                    supports TCP, TLS, and UDP. </p>\n            </li>\n            <li>\n                <p> Gateway Load Balancer - Operates at the network layer (layer 3).</p>\n            </li>\n         </ul>\n        <p>To describe the target groups for an Auto Scaling group, call the <a>DescribeLoadBalancerTargetGroups</a> API. To detach the target group from\n            the Auto Scaling group, call the <a>DetachLoadBalancerTargetGroups</a> API.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html\">Elastic Load Balancing and\n                Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. </p>"
      }
    },
    "com.amazonaws.autoscaling#AttachLoadBalancerTargetGroupsResultType": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.autoscaling#AttachLoadBalancerTargetGroupsType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetGroupARNs": {
          "target": "com.amazonaws.autoscaling#TargetGroupARNs",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the target groups. You can specify up to 10 target\n            groups. To get the ARN of a target group, use the Elastic Load Balancing <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_DescribeTargetGroups.html\">DescribeTargetGroups</a> API operation.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#AttachLoadBalancers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#AttachLoadBalancersType"
      },
      "output": {
        "target": "com.amazonaws.autoscaling#AttachLoadBalancersResultType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ServiceLinkedRoleFailure"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>To attach an Application Load Balancer, Network Load Balancer, or Gateway Load\n                Balancer, use the <a>AttachLoadBalancerTargetGroups</a> API operation\n                instead.</p>\n        </note>\n        <p>Attaches one or more Classic Load Balancers to the specified Auto Scaling group. Amazon EC2 Auto Scaling\n            registers the running instances with these Classic Load Balancers.</p>\n        <p>To describe the load balancers for an Auto Scaling group, call the <a>DescribeLoadBalancers</a> API. To detach the load balancer from the Auto Scaling\n            group, call the <a>DetachLoadBalancers</a> API.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html\">Elastic Load Balancing and\n                Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. </p>"
      }
    },
    "com.amazonaws.autoscaling#AttachLoadBalancersResultType": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.autoscaling#AttachLoadBalancersType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "LoadBalancerNames": {
          "target": "com.amazonaws.autoscaling#LoadBalancerNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the load balancers. You can specify up to 10 load balancers.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#AutoScalingGroup": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "AutoScalingGroupARN": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>"
          }
        },
        "LaunchConfigurationName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the associated launch configuration.</p>"
          }
        },
        "LaunchTemplate": {
          "target": "com.amazonaws.autoscaling#LaunchTemplateSpecification",
          "traits": {
            "smithy.api#documentation": "<p>The launch template for the group.</p>"
          }
        },
        "MixedInstancesPolicy": {
          "target": "com.amazonaws.autoscaling#MixedInstancesPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The mixed instances policy for the group.</p>"
          }
        },
        "MinSize": {
          "target": "com.amazonaws.autoscaling#AutoScalingGroupMinSize",
          "traits": {
            "smithy.api#documentation": "<p>The minimum size of the group.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxSize": {
          "target": "com.amazonaws.autoscaling#AutoScalingGroupMaxSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of the group.</p>",
            "smithy.api#required": {}
          }
        },
        "DesiredCapacity": {
          "target": "com.amazonaws.autoscaling#AutoScalingGroupDesiredCapacity",
          "traits": {
            "smithy.api#documentation": "<p>The desired size of the group.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultCooldown": {
          "target": "com.amazonaws.autoscaling#Cooldown",
          "traits": {
            "smithy.api#documentation": "<p>The duration of the default cooldown period, in seconds.</p>",
            "smithy.api#required": {}
          }
        },
        "AvailabilityZones": {
          "target": "com.amazonaws.autoscaling#AvailabilityZones",
          "traits": {
            "smithy.api#documentation": "<p>One or more Availability Zones for the group.</p>",
            "smithy.api#required": {}
          }
        },
        "LoadBalancerNames": {
          "target": "com.amazonaws.autoscaling#LoadBalancerNames",
          "traits": {
            "smithy.api#documentation": "<p>One or more load balancers associated with the group.</p>"
          }
        },
        "TargetGroupARNs": {
          "target": "com.amazonaws.autoscaling#TargetGroupARNs",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the target groups for your load balancer.</p>"
          }
        },
        "HealthCheckType": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen32",
          "traits": {
            "smithy.api#documentation": "<p>The service to use for the health checks. The valid values are <code>EC2</code> and\n                <code>ELB</code>. If you configure an Auto Scaling group to use ELB health checks, it\n            considers the instance unhealthy if it fails either the EC2 status checks or the load\n            balancer health checks.</p>",
            "smithy.api#required": {}
          }
        },
        "HealthCheckGracePeriod": {
          "target": "com.amazonaws.autoscaling#HealthCheckGracePeriod",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, that Amazon EC2 Auto Scaling waits before checking the health status\n            of an EC2 instance that has come into service.</p>"
          }
        },
        "Instances": {
          "target": "com.amazonaws.autoscaling#Instances",
          "traits": {
            "smithy.api#documentation": "<p>The EC2 instances associated with the group.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.autoscaling#TimestampType",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the group was created.</p>",
            "smithy.api#required": {}
          }
        },
        "SuspendedProcesses": {
          "target": "com.amazonaws.autoscaling#SuspendedProcesses",
          "traits": {
            "smithy.api#documentation": "<p>The suspended processes associated with the group.</p>"
          }
        },
        "PlacementGroup": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the placement group into which to launch your instances, if any.</p>"
          }
        },
        "VPCZoneIdentifier": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen2047",
          "traits": {
            "smithy.api#documentation": "<p>One or more subnet IDs, if applicable, separated by commas.</p>"
          }
        },
        "EnabledMetrics": {
          "target": "com.amazonaws.autoscaling#EnabledMetrics",
          "traits": {
            "smithy.api#documentation": "<p>The metrics enabled for the group.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the group when the <a>DeleteAutoScalingGroup</a>\n            operation is in progress.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.autoscaling#TagDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the group.</p>"
          }
        },
        "TerminationPolicies": {
          "target": "com.amazonaws.autoscaling#TerminationPolicies",
          "traits": {
            "smithy.api#documentation": "<p>The termination policies for the group.</p>"
          }
        },
        "NewInstancesProtectedFromScaleIn": {
          "target": "com.amazonaws.autoscaling#InstanceProtected",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether newly launched instances are protected from termination by Amazon EC2 Auto Scaling\n            when scaling in.</p>"
          }
        },
        "ServiceLinkedRoleARN": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service-linked role that the Auto Scaling group uses to\n            call other AWS services on your behalf.</p>"
          }
        },
        "MaxInstanceLifetime": {
          "target": "com.amazonaws.autoscaling#MaxInstanceLifetime",
          "traits": {
            "smithy.api#documentation": "<p>The maximum amount of time, in seconds, that an instance can be in service.</p>\n        <p>Valid Range: Minimum value of 0.</p>"
          }
        },
        "CapacityRebalance": {
          "target": "com.amazonaws.autoscaling#CapacityRebalanceEnabled",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether Capacity Rebalancing is enabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Auto Scaling group.</p>"
      }
    },
    "com.amazonaws.autoscaling#AutoScalingGroupDesiredCapacity": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.autoscaling#AutoScalingGroupMaxSize": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.autoscaling#AutoScalingGroupMinSize": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.autoscaling#AutoScalingGroupNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#XmlStringMaxLen255"
      }
    },
    "com.amazonaws.autoscaling#AutoScalingGroupNamesType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupNames": {
          "target": "com.amazonaws.autoscaling#AutoScalingGroupNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the Auto Scaling groups. By default, you can only specify up to 50 names. You can\n            optionally increase this limit using the <code>MaxRecords</code> parameter.</p>\n        <p>If you omit this parameter, all Auto Scaling groups are described.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.autoscaling#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. (You received this token from a\n            previous call.)</p>"
          }
        },
        "MaxRecords": {
          "target": "com.amazonaws.autoscaling#MaxRecords",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return with this call. The default value is\n                <code>50</code> and the maximum value is <code>100</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#AutoScalingGroups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#AutoScalingGroup"
      }
    },
    "com.amazonaws.autoscaling#AutoScalingGroupsType": {
      "type": "structure",
      "members": {
        "AutoScalingGroups": {
          "target": "com.amazonaws.autoscaling#AutoScalingGroups",
          "traits": {
            "smithy.api#documentation": "<p>The groups.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.autoscaling#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>A string that indicates that the response contains more items than can be returned in\n            a single response. To receive additional items, specify this string for the\n                <code>NextToken</code> value when requesting the next set of items. This value is\n            null when there are no more items to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#AutoScalingInstanceDetails": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen19",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the instance.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The instance type of the EC2 instance.</p>"
          }
        },
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group for the instance.</p>",
            "smithy.api#required": {}
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone for the instance.</p>",
            "smithy.api#required": {}
          }
        },
        "LifecycleState": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen32",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle state for the instance.</p>",
            "smithy.api#required": {}
          }
        },
        "HealthStatus": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen32",
          "traits": {
            "smithy.api#documentation": "<p>The last reported health status of this instance. \"Healthy\" means that the instance is\n            healthy and should remain in service. \"Unhealthy\" means that the instance is unhealthy\n            and Amazon EC2 Auto Scaling should terminate and replace it.</p>",
            "smithy.api#required": {}
          }
        },
        "LaunchConfigurationName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The launch configuration used to launch the instance. This value is not available if\n            you attached the instance to the Auto Scaling group.</p>"
          }
        },
        "LaunchTemplate": {
          "target": "com.amazonaws.autoscaling#LaunchTemplateSpecification",
          "traits": {
            "smithy.api#documentation": "<p>The launch template for the instance.</p>"
          }
        },
        "ProtectedFromScaleIn": {
          "target": "com.amazonaws.autoscaling#InstanceProtected",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the instance is protected from termination by Amazon EC2 Auto Scaling when scaling\n            in.</p>",
            "smithy.api#required": {}
          }
        },
        "WeightedCapacity": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen32",
          "traits": {
            "smithy.api#documentation": "<p>The number of capacity units contributed by the instance based on its instance\n            type.</p>\n        <p>Valid Range: Minimum value of 1. Maximum value of 999.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an EC2 instance associated with an Auto Scaling group.</p>"
      }
    },
    "com.amazonaws.autoscaling#AutoScalingInstances": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#AutoScalingInstanceDetails"
      }
    },
    "com.amazonaws.autoscaling#AutoScalingInstancesType": {
      "type": "structure",
      "members": {
        "AutoScalingInstances": {
          "target": "com.amazonaws.autoscaling#AutoScalingInstances",
          "traits": {
            "smithy.api#documentation": "<p>The instances.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.autoscaling#XmlString",
          "traits": {
            "smithy.api#documentation": "<p>A string that indicates that the response contains more items than can be returned in\n            a single response. To receive additional items, specify this string for the\n                <code>NextToken</code> value when requesting the next set of items. This value is\n            null when there are no more items to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#AutoScalingNotificationTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#XmlStringMaxLen255"
      }
    },
    "com.amazonaws.autoscaling#AutoScaling_2011_01_01": {
      "type": "service",
      "version": "2011-01-01",
      "operations": [
        {
          "target": "com.amazonaws.autoscaling#AttachInstances"
        },
        {
          "target": "com.amazonaws.autoscaling#AttachLoadBalancers"
        },
        {
          "target": "com.amazonaws.autoscaling#AttachLoadBalancerTargetGroups"
        },
        {
          "target": "com.amazonaws.autoscaling#BatchDeleteScheduledAction"
        },
        {
          "target": "com.amazonaws.autoscaling#BatchPutScheduledUpdateGroupAction"
        },
        {
          "target": "com.amazonaws.autoscaling#CancelInstanceRefresh"
        },
        {
          "target": "com.amazonaws.autoscaling#CompleteLifecycleAction"
        },
        {
          "target": "com.amazonaws.autoscaling#CreateAutoScalingGroup"
        },
        {
          "target": "com.amazonaws.autoscaling#CreateLaunchConfiguration"
        },
        {
          "target": "com.amazonaws.autoscaling#CreateOrUpdateTags"
        },
        {
          "target": "com.amazonaws.autoscaling#DeleteAutoScalingGroup"
        },
        {
          "target": "com.amazonaws.autoscaling#DeleteLaunchConfiguration"
        },
        {
          "target": "com.amazonaws.autoscaling#DeleteLifecycleHook"
        },
        {
          "target": "com.amazonaws.autoscaling#DeleteNotificationConfiguration"
        },
        {
          "target": "com.amazonaws.autoscaling#DeletePolicy"
        },
        {
          "target": "com.amazonaws.autoscaling#DeleteScheduledAction"
        },
        {
          "target": "com.amazonaws.autoscaling#DeleteTags"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeAccountLimits"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeAdjustmentTypes"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeAutoScalingGroups"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeAutoScalingInstances"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeAutoScalingNotificationTypes"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeInstanceRefreshes"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeLaunchConfigurations"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeLifecycleHooks"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeLifecycleHookTypes"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeLoadBalancers"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeLoadBalancerTargetGroups"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeMetricCollectionTypes"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeNotificationConfigurations"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribePolicies"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeScalingActivities"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeScalingProcessTypes"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeScheduledActions"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeTags"
        },
        {
          "target": "com.amazonaws.autoscaling#DescribeTerminationPolicyTypes"
        },
        {
          "target": "com.amazonaws.autoscaling#DetachInstances"
        },
        {
          "target": "com.amazonaws.autoscaling#DetachLoadBalancers"
        },
        {
          "target": "com.amazonaws.autoscaling#DetachLoadBalancerTargetGroups"
        },
        {
          "target": "com.amazonaws.autoscaling#DisableMetricsCollection"
        },
        {
          "target": "com.amazonaws.autoscaling#EnableMetricsCollection"
        },
        {
          "target": "com.amazonaws.autoscaling#EnterStandby"
        },
        {
          "target": "com.amazonaws.autoscaling#ExecutePolicy"
        },
        {
          "target": "com.amazonaws.autoscaling#ExitStandby"
        },
        {
          "target": "com.amazonaws.autoscaling#PutLifecycleHook"
        },
        {
          "target": "com.amazonaws.autoscaling#PutNotificationConfiguration"
        },
        {
          "target": "com.amazonaws.autoscaling#PutScalingPolicy"
        },
        {
          "target": "com.amazonaws.autoscaling#PutScheduledUpdateGroupAction"
        },
        {
          "target": "com.amazonaws.autoscaling#RecordLifecycleActionHeartbeat"
        },
        {
          "target": "com.amazonaws.autoscaling#ResumeProcesses"
        },
        {
          "target": "com.amazonaws.autoscaling#SetDesiredCapacity"
        },
        {
          "target": "com.amazonaws.autoscaling#SetInstanceHealth"
        },
        {
          "target": "com.amazonaws.autoscaling#SetInstanceProtection"
        },
        {
          "target": "com.amazonaws.autoscaling#StartInstanceRefresh"
        },
        {
          "target": "com.amazonaws.autoscaling#SuspendProcesses"
        },
        {
          "target": "com.amazonaws.autoscaling#TerminateInstanceInAutoScalingGroup"
        },
        {
          "target": "com.amazonaws.autoscaling#UpdateAutoScalingGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Auto Scaling",
          "arnNamespace": "autoscaling",
          "cloudFormationName": "AutoScaling",
          "cloudTrailEventSource": "autoscaling.amazonaws.com",
          "endpointPrefix": "autoscaling"
        },
        "aws.auth#sigv4": {
          "name": "autoscaling"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#documentation": "<fullname>Amazon EC2 Auto Scaling</fullname>\n\n        <p>Amazon EC2 Auto Scaling is designed to automatically launch or terminate EC2 instances based on\n            user-defined scaling policies, scheduled actions, and health checks. Use this service\n            with AWS Auto Scaling, Amazon CloudWatch, and Elastic Load Balancing.</p>\n        <p>For more information, including information about granting IAM users required\n            permissions for Amazon EC2 Auto Scaling actions, see the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/what-is-amazon-ec2-auto-scaling.html\">Amazon EC2 Auto Scaling User Guide</a>.</p>",
        "smithy.api#title": "Auto Scaling",
        "smithy.api#xmlNamespace": {
          "uri": "http://autoscaling.amazonaws.com/doc/2011-01-01/"
        }
      }
    },
    "com.amazonaws.autoscaling#AvailabilityZones": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#XmlStringMaxLen255"
      }
    },
    "com.amazonaws.autoscaling#BatchDeleteScheduledAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#BatchDeleteScheduledActionType"
      },
      "output": {
        "target": "com.amazonaws.autoscaling#BatchDeleteScheduledActionAnswer"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes one or more scheduled actions for the specified Auto Scaling group.</p>"
      }
    },
    "com.amazonaws.autoscaling#BatchDeleteScheduledActionAnswer": {
      "type": "structure",
      "members": {
        "FailedScheduledActions": {
          "target": "com.amazonaws.autoscaling#FailedScheduledUpdateGroupActionRequests",
          "traits": {
            "smithy.api#documentation": "<p>The names of the scheduled actions that could not be deleted, including an error\n            message.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#BatchDeleteScheduledActionType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "ScheduledActionNames": {
          "target": "com.amazonaws.autoscaling#ScheduledActionNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the scheduled actions to delete. The maximum number allowed is 50.\n        </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#BatchPutScheduledUpdateGroupAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#BatchPutScheduledUpdateGroupActionType"
      },
      "output": {
        "target": "com.amazonaws.autoscaling#BatchPutScheduledUpdateGroupActionAnswer"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#AlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.autoscaling#LimitExceededFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates or updates one or more scheduled scaling actions for an Auto Scaling group. If you\n            leave a parameter unspecified when updating a scheduled scaling action, the\n            corresponding value remains unchanged.</p>"
      }
    },
    "com.amazonaws.autoscaling#BatchPutScheduledUpdateGroupActionAnswer": {
      "type": "structure",
      "members": {
        "FailedScheduledUpdateGroupActions": {
          "target": "com.amazonaws.autoscaling#FailedScheduledUpdateGroupActionRequests",
          "traits": {
            "smithy.api#documentation": "<p>The names of the scheduled actions that could not be created or updated, including an\n            error message.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#BatchPutScheduledUpdateGroupActionType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "ScheduledUpdateGroupActions": {
          "target": "com.amazonaws.autoscaling#ScheduledUpdateGroupActionRequests",
          "traits": {
            "smithy.api#documentation": "<p>One or more scheduled actions. The maximum number allowed is 50.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#BlockDeviceEbsDeleteOnTermination": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.autoscaling#BlockDeviceEbsEncrypted": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.autoscaling#BlockDeviceEbsIops": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 100,
          "max": 20000
        }
      }
    },
    "com.amazonaws.autoscaling#BlockDeviceEbsVolumeSize": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 16384
        }
      }
    },
    "com.amazonaws.autoscaling#BlockDeviceEbsVolumeType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.autoscaling#BlockDeviceMapping": {
      "type": "structure",
      "members": {
        "VirtualName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the virtual device (for example, <code>ephemeral0</code>).</p>\n        <p>You can specify either <code>VirtualName</code> or <code>Ebs</code>, but not\n            both.</p>"
          }
        },
        "DeviceName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The device name exposed to the EC2 instance (for example, <code>/dev/sdh</code> or\n                <code>xvdh</code>). For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/device_naming.html\">Device Naming on Linux\n                Instances</a> in the <i>Amazon EC2 User Guide for Linux\n                Instances</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "Ebs": {
          "target": "com.amazonaws.autoscaling#Ebs",
          "traits": {
            "smithy.api#documentation": "<p>Parameters used to automatically set up EBS volumes when an instance is\n            launched.</p>\n        <p>You can specify either <code>VirtualName</code> or <code>Ebs</code>, but not\n            both.</p>"
          }
        },
        "NoDevice": {
          "target": "com.amazonaws.autoscaling#NoDevice",
          "traits": {
            "smithy.api#documentation": "<p>Setting this value to <code>true</code> suppresses the specified device included in\n            the block device mapping of the AMI.</p>\n        <p>If <code>NoDevice</code> is <code>true</code> for the root device, instances might\n            fail the EC2 health check. In that case, Amazon EC2 Auto Scaling launches replacement instances.</p>\n        <p>If you specify <code>NoDevice</code>, you cannot specify <code>Ebs</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a block device mapping.</p>"
      }
    },
    "com.amazonaws.autoscaling#BlockDeviceMappings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#BlockDeviceMapping"
      }
    },
    "com.amazonaws.autoscaling#CancelInstanceRefresh": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#CancelInstanceRefreshType"
      },
      "output": {
        "target": "com.amazonaws.autoscaling#CancelInstanceRefreshAnswer"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ActiveInstanceRefreshNotFoundFault"
        },
        {
          "target": "com.amazonaws.autoscaling#LimitExceededFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels an instance refresh operation in progress. Cancellation does not roll back any\n            replacements that have already been completed, but it prevents new replacements from\n            being started. </p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-instance-refresh.html\">Replacing Auto Scaling Instances\n                Based on an Instance Refresh</a>.</p>"
      }
    },
    "com.amazonaws.autoscaling#CancelInstanceRefreshAnswer": {
      "type": "structure",
      "members": {
        "InstanceRefreshId": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The instance refresh ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#CancelInstanceRefreshType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#CapacityRebalanceEnabled": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.autoscaling#ClassicLinkVPCSecurityGroups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.autoscaling#XmlStringMaxLen255"
      }
    },
    "com.amazonaws.autoscaling#CompleteLifecycleAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#CompleteLifecycleActionType"
      },
      "output": {
        "target": "com.amazonaws.autoscaling#CompleteLifecycleActionAnswer"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Completes the lifecycle action for the specified token or instance with the specified\n            result.</p>\n        <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling\n            group:</p>\n        <ol>\n            <li>\n                <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to\n                    invoke your Lambda function when Amazon EC2 Auto Scaling launches or terminates\n                    instances.</p>\n            </li>\n            <li>\n                <p>(Optional) Create a notification target and an IAM role. The target can be\n                    either an Amazon SQS queue or an Amazon SNS topic. The role allows Amazon EC2 Auto Scaling to\n                    publish lifecycle notifications to the target.</p>\n            </li>\n            <li>\n                <p>Create the lifecycle hook. Specify whether the hook is used when the instances\n                    launch or terminate.</p>\n            </li>\n            <li>\n                <p>If you need more time, record the lifecycle action heartbeat to keep the\n                    instance in a pending state.</p>\n            </li>\n            <li>\n                <p>\n                  <b>If you finish before the timeout period ends, complete\n                        the lifecycle action.</b>\n               </p>\n            </li>\n         </ol>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/lifecycle-hooks.html\">Amazon EC2 Auto Scaling lifecycle\n                hooks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
      }
    },
    "com.amazonaws.autoscaling#CompleteLifecycleActionAnswer": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.autoscaling#CompleteLifecycleActionType": {
      "type": "structure",
      "members": {
        "LifecycleHookName": {
          "target": "com.amazonaws.autoscaling#AsciiStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the lifecycle hook.</p>",
            "smithy.api#required": {}
          }
        },
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "LifecycleActionToken": {
          "target": "com.amazonaws.autoscaling#LifecycleActionToken",
          "traits": {
            "smithy.api#documentation": "<p>A universally unique identifier (UUID) that identifies a specific lifecycle action\n            associated with an instance. Amazon EC2 Auto Scaling sends this token to the notification target you\n            specified when you created the lifecycle hook.</p>"
          }
        },
        "LifecycleActionResult": {
          "target": "com.amazonaws.autoscaling#LifecycleActionResult",
          "traits": {
            "smithy.api#documentation": "<p>The action for the group to take. This parameter can be either <code>CONTINUE</code>\n            or <code>ABANDON</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen19",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the instance.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#Cooldown": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.autoscaling#CreateAutoScalingGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#CreateAutoScalingGroupType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#AlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.autoscaling#LimitExceededFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ServiceLinkedRoleFailure"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Auto Scaling group with the specified name and attributes. </p>\n        <p>If you exceed your maximum limit of Auto Scaling groups, the call fails. To query this limit,\n            call the <a>DescribeAccountLimits</a> API. For information about updating\n            this limit, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-account-limits.html\">Amazon EC2 Auto Scaling service\n                quotas</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <p>For introductory exercises for creating an Auto Scaling group, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/GettingStartedTutorial.html\">Getting started with\n                Amazon EC2 Auto Scaling</a> and <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-register-lbs-with-asg.html\">Tutorial: Set up a\n                scaled and load-balanced application</a> in the\n                <i>Amazon EC2 Auto Scaling User Guide</i>. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/AutoScalingGroup.html\">Auto Scaling\n                groups</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <p>Every Auto Scaling group has three size parameters (<code>DesiredCapacity</code>,\n                <code>MaxSize</code>, and <code>MinSize</code>). Usually, you set these sizes based\n            on a specific number of instances. However, if you configure a mixed instances policy\n            that defines weights for the instance types, you must specify these sizes with the same\n            units that you use for weighting instances.</p>"
      }
    },
    "com.amazonaws.autoscaling#CreateAutoScalingGroupType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group. This name must be unique per Region per account.</p>",
            "smithy.api#required": {}
          }
        },
        "LaunchConfigurationName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the launch configuration to use to launch instances. </p>\n        <p>Conditional: You must specify either a launch template (<code>LaunchTemplate</code> or\n                <code>MixedInstancesPolicy</code>) or a launch configuration\n                (<code>LaunchConfigurationName</code> or <code>InstanceId</code>).</p>"
          }
        },
        "LaunchTemplate": {
          "target": "com.amazonaws.autoscaling#LaunchTemplateSpecification",
          "traits": {
            "smithy.api#documentation": "<p>Parameters used to specify the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-ec2-launchtemplate.html\">launch\n                template</a> and version to use to launch instances. </p>\n        <p>Conditional: You must specify either a launch template (<code>LaunchTemplate</code> or\n                <code>MixedInstancesPolicy</code>) or a launch configuration\n                (<code>LaunchConfigurationName</code> or <code>InstanceId</code>).</p>\n        <note>\n            <p>The launch template that is specified must be configured for use with an Auto Scaling\n                group. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-launch-template.html\">Creating a launch\n                    template for an Auto Scaling group</a> in the\n                <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        </note>"
          }
        },
        "MixedInstancesPolicy": {
          "target": "com.amazonaws.autoscaling#MixedInstancesPolicy",
          "traits": {
            "smithy.api#documentation": "<p>An embedded object that specifies a mixed instances policy. The required parameters\n            must be specified. If optional parameters are unspecified, their default values are\n            used.</p>\n        <p>The policy includes parameters that not only define the distribution of On-Demand\n            Instances and Spot Instances, the maximum price to pay for Spot Instances, and how the\n            Auto Scaling group allocates instance types to fulfill On-Demand and Spot capacities, but also\n            the parameters that specify the instance configuration information—the launch template\n            and instance types. The policy can also include a weight for each instance type and\n            different launch templates for individual instance types. For more information, see\n                <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-purchase-options.html\">Auto Scaling groups with multiple\n                instance types and purchase options</a> in the <i>Amazon EC2 Auto Scaling User\n                Guide</i>.</p>"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen19",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the instance used to base the launch configuration on. If specified, Amazon\n            EC2 Auto Scaling uses the configuration values from the specified instance to create a\n            new launch configuration. To get the instance ID, use the Amazon EC2 <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstances.html\">DescribeInstances</a> API operation. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-asg-from-instance.html\">Creating an Auto Scaling group using an EC2 instance</a> in the\n                <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "MinSize": {
          "target": "com.amazonaws.autoscaling#AutoScalingGroupMinSize",
          "traits": {
            "smithy.api#documentation": "<p>The minimum size of the group.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxSize": {
          "target": "com.amazonaws.autoscaling#AutoScalingGroupMaxSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of the group.</p>\n        <note>\n            <p>With a mixed instances policy that uses instance weighting, Amazon EC2 Auto Scaling may need to\n                go above <code>MaxSize</code> to meet your capacity requirements. In this event,\n                Amazon EC2 Auto Scaling will never go above <code>MaxSize</code> by more than your largest instance\n                weight (weights that define how many units each instance contributes to the desired\n                capacity of the group).</p>\n        </note>",
            "smithy.api#required": {}
          }
        },
        "DesiredCapacity": {
          "target": "com.amazonaws.autoscaling#AutoScalingGroupDesiredCapacity",
          "traits": {
            "smithy.api#documentation": "<p>The desired capacity is the initial capacity of the Auto Scaling group at the time of its\n            creation and the capacity it attempts to maintain. It can scale beyond this capacity if\n            you configure auto scaling. This number must be greater than or equal to the minimum\n            size of the group and less than or equal to the maximum size of the group. If you do not\n            specify a desired capacity, the default is the minimum size of the group.</p>"
          }
        },
        "DefaultCooldown": {
          "target": "com.amazonaws.autoscaling#Cooldown",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, after a scaling activity completes before another\n            scaling activity can start. The default value is <code>300</code>. This setting applies\n            when using simple scaling policies, but not when using other scaling policies or\n            scheduled scaling. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/Cooldown.html\">Scaling cooldowns for Amazon EC2 Auto Scaling</a>\n            in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "AvailabilityZones": {
          "target": "com.amazonaws.autoscaling#AvailabilityZones",
          "traits": {
            "smithy.api#documentation": "<p>A list of Availability Zones where instances in the Auto Scaling group can be created. This\n            parameter is optional if you specify one or more subnets for\n                <code>VPCZoneIdentifier</code>.</p>\n        <p>Conditional: If your account supports EC2-Classic and VPC, this parameter is required\n            to launch instances into EC2-Classic.</p>"
          }
        },
        "LoadBalancerNames": {
          "target": "com.amazonaws.autoscaling#LoadBalancerNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of Classic Load Balancers associated with this Auto Scaling group. For\n            Application Load Balancers, Network Load Balancers, and Gateway Load Balancers, specify\n            the <code>TargetGroupARNs</code> property instead.</p>"
          }
        },
        "TargetGroupARNs": {
          "target": "com.amazonaws.autoscaling#TargetGroupARNs",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the target groups to associate with the Auto Scaling group.\n            Instances are registered as targets in a target group, and traffic is routed to the\n            target group. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html\">Elastic Load Balancing and\n                Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "HealthCheckType": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen32",
          "traits": {
            "smithy.api#documentation": "<p>The service to use for the health checks. The valid values are <code>EC2</code>\n            (default) and <code>ELB</code>. If you configure an Auto Scaling group to use load balancer\n            (ELB) health checks, it considers the instance unhealthy if it fails either the EC2\n            status checks or the load balancer health checks. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/healthcheck.html\">Health checks\n                for Auto Scaling instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "HealthCheckGracePeriod": {
          "target": "com.amazonaws.autoscaling#HealthCheckGracePeriod",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, that Amazon EC2 Auto Scaling waits before checking the health status\n            of an EC2 instance that has come into service. During this time, any health check\n            failures for the instance are ignored. The default value is <code>0</code>. For more\n            information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/healthcheck.html#health-check-grace-period\">Health\n                check grace period</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <p>Conditional: Required if you are adding an <code>ELB</code> health check.</p>"
          }
        },
        "PlacementGroup": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of an existing placement group into which to launch your instances, if any. A\n            placement group is a logical grouping of instances within a single Availability Zone.\n            You cannot specify multiple Availability Zones and a placement group. For more\n            information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html\">Placement Groups</a> in the\n                <i>Amazon EC2 User Guide for Linux Instances</i>.</p>"
          }
        },
        "VPCZoneIdentifier": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen2047",
          "traits": {
            "smithy.api#documentation": "<p>A comma-separated list of subnet IDs for a virtual private cloud (VPC) where instances\n            in the Auto Scaling group can be created. If you specify <code>VPCZoneIdentifier</code> with\n                <code>AvailabilityZones</code>, the subnets that you specify for this parameter must\n            reside in those Availability Zones.</p>\n        <p>Conditional: If your account supports EC2-Classic and VPC, this parameter is required\n            to launch instances into a VPC.</p>"
          }
        },
        "TerminationPolicies": {
          "target": "com.amazonaws.autoscaling#TerminationPolicies",
          "traits": {
            "smithy.api#documentation": "<p>A policy or a list of policies that are used to select the instance to terminate.\n            These policies are executed in the order that you list them. For more information, see\n                <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html\">Controlling which Auto Scaling\n                instances terminate during scale in</a> in the\n                <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "NewInstancesProtectedFromScaleIn": {
          "target": "com.amazonaws.autoscaling#InstanceProtected",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether newly launched instances are protected from termination by Amazon EC2 Auto Scaling\n            when scaling in. For more information about preventing instances from terminating on\n            scale in, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html#instance-protection\">Instance scale-in protection</a> in the\n            <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "CapacityRebalance": {
          "target": "com.amazonaws.autoscaling#CapacityRebalanceEnabled",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether Capacity Rebalancing is enabled. Otherwise, Capacity Rebalancing is\n            disabled. When you turn on Capacity Rebalancing, Amazon EC2 Auto Scaling attempts to launch a Spot\n            Instance whenever Amazon EC2 notifies that a Spot Instance is at an elevated risk of\n            interruption. After launching a new instance, it then terminates an old instance. For\n            more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/capacity-rebalance.html\">Amazon EC2 Auto Scaling Capacity\n                Rebalancing</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "LifecycleHookSpecificationList": {
          "target": "com.amazonaws.autoscaling#LifecycleHookSpecifications",
          "traits": {
            "smithy.api#documentation": "<p>One or more lifecycle hooks for the group, which specify actions to perform when\n            Amazon EC2 Auto Scaling launches or terminates instances.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.autoscaling#Tags",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags. You can tag your Auto Scaling group and propagate the tags to the Amazon EC2\n            instances it launches. Tags are not propagated to Amazon EBS volumes. To add tags to Amazon EBS\n            volumes, specify the tags in a launch template but use caution. If the launch template\n            specifies an instance tag with a key that is also specified for the Auto Scaling group, Amazon EC2 Auto Scaling\n            overrides the value of that instance tag with the value specified by the Auto Scaling group. For\n            more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-tagging.html\">Tagging Auto Scaling groups and\n                instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "ServiceLinkedRoleARN": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service-linked role that the Auto Scaling group uses to\n            call other AWS services on your behalf. By default, Amazon EC2 Auto Scaling uses a service-linked role\n            named AWSServiceRoleForAutoScaling, which it creates if it does not exist. For more\n            information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-service-linked-role.html\">Service-linked\n                roles</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "MaxInstanceLifetime": {
          "target": "com.amazonaws.autoscaling#MaxInstanceLifetime",
          "traits": {
            "smithy.api#documentation": "<p>The maximum amount of time, in seconds, that an instance can be in service. The\n            default is null. If specified, the value must be either 0 or a number equal to or\n            greater than 86,400 seconds (1 day). For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-max-instance-lifetime.html\">Replacing Auto Scaling instances based on maximum instance lifetime</a> in the\n                <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#CreateLaunchConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#CreateLaunchConfigurationType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#AlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.autoscaling#LimitExceededFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a launch configuration.</p>\n        <p>If you exceed your maximum limit of launch configurations, the call fails. To query\n            this limit, call the <a>DescribeAccountLimits</a> API. For information about\n            updating this limit, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-account-limits.html\">Amazon EC2 Auto Scaling service\n                quotas</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/LaunchConfiguration.html\">Launch\n                configurations</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
      }
    },
    "com.amazonaws.autoscaling#CreateLaunchConfigurationType": {
      "type": "structure",
      "members": {
        "LaunchConfigurationName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the launch configuration. This name must be unique per Region per\n            account.</p>",
            "smithy.api#required": {}
          }
        },
        "ImageId": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Machine Image (AMI) that was assigned during registration. For\n            more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/finding-an-ami.html\">Finding an AMI</a> in the\n                <i>Amazon EC2 User Guide for Linux Instances</i>.</p>\n        <p>If you do not specify <code>InstanceId</code>, you must specify\n            <code>ImageId</code>.</p>"
          }
        },
        "KeyName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the key pair. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html\">Amazon EC2 Key Pairs</a> in the\n                <i>Amazon EC2 User Guide for Linux Instances</i>.</p>"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.autoscaling#SecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>A list that contains the security groups to assign to the instances in the Auto Scaling\n            group.</p>\n        <p>[EC2-VPC] Specify the security group IDs. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_SecurityGroups.html\">Security Groups for Your VPC</a> in the <i>Amazon Virtual Private Cloud\n                User Guide</i>.</p>\n        <p>[EC2-Classic] Specify either the security group names or the security group IDs. For\n            more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html\">Amazon EC2 Security\n                Groups</a> in the <i>Amazon EC2 User Guide for Linux\n            Instances</i>.</p>"
          }
        },
        "ClassicLinkVPCId": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a ClassicLink-enabled VPC to link your EC2-Classic instances to. For more\n            information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-classiclink.html\">ClassicLink</a> in the\n                <i>Amazon EC2 User Guide for Linux Instances</i> and <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html#as-ClassicLink\">Linking EC2-Classic\n                instances to a VPC</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <p>This parameter can only be used if you are launching EC2-Classic instances.</p>"
          }
        },
        "ClassicLinkVPCSecurityGroups": {
          "target": "com.amazonaws.autoscaling#ClassicLinkVPCSecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of one or more security groups for the specified ClassicLink-enabled VPC. For\n            more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-classiclink.html\">ClassicLink</a> in the\n                <i>Amazon EC2 User Guide for Linux Instances</i> and <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html#as-ClassicLink\">Linking EC2-Classic\n                instances to a VPC</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <p>If you specify the <code>ClassicLinkVPCId</code> parameter, you must specify this\n            parameter.</p>"
          }
        },
        "UserData": {
          "target": "com.amazonaws.autoscaling#XmlStringUserData",
          "traits": {
            "smithy.api#documentation": "<p>The Base64-encoded user data to make available to the launched EC2 instances. For more\n            information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html\">Instance metadata and user\n                data</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p>"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen19",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the instance to use to create the launch configuration. The new launch\n            configuration derives attributes from the instance, except for the block device\n            mapping.</p>\n        <p>To create a launch configuration with a block device mapping or override any other\n            instance attributes, specify them as part of the same request.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-lc-with-instanceID.html\">Creating a launch\n                configuration using an EC2 instance</a> in the\n                <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <p>If you do not specify <code>InstanceId</code>, you must specify both\n                <code>ImageId</code> and <code>InstanceType</code>.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the instance type of the EC2 instance.</p>\n        <p>For information about available instance types, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html#AvailableInstanceTypes\">Available\n                Instance Types</a> in the <i>Amazon EC2 User Guide for Linux\n                Instances.</i>\n         </p>\n        <p>If you do not specify <code>InstanceId</code>, you must specify\n                <code>InstanceType</code>.</p>"
          }
        },
        "KernelId": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the kernel associated with the AMI.</p>"
          }
        },
        "RamdiskId": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the RAM disk to select.</p>"
          }
        },
        "BlockDeviceMappings": {
          "target": "com.amazonaws.autoscaling#BlockDeviceMappings",
          "traits": {
            "smithy.api#documentation": "<p>A block device mapping, which specifies the block devices for the instance. You can\n            specify virtual devices and EBS volumes. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/block-device-mapping-concepts.html\">Block Device\n                Mapping</a> in the <i>Amazon EC2 User Guide for Linux\n                Instances</i>.</p>"
          }
        },
        "InstanceMonitoring": {
          "target": "com.amazonaws.autoscaling#InstanceMonitoring",
          "traits": {
            "smithy.api#documentation": "<p>Controls whether instances in this group are launched with detailed\n            (<code>true</code>) or basic (<code>false</code>) monitoring.</p>\n        <p>The default value is <code>true</code> (enabled).</p>\n        <important>\n            <p>When detailed monitoring is enabled, Amazon CloudWatch generates metrics every minute and\n                your account is charged a fee. When you disable detailed monitoring, CloudWatch generates\n                metrics every 5 minutes. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/latest/userguide/enable-as-instance-metrics.html\">Configure\n                    Monitoring for Auto Scaling Instances</a> in the\n                <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        </important>"
          }
        },
        "SpotPrice": {
          "target": "com.amazonaws.autoscaling#SpotPrice",
          "traits": {
            "smithy.api#documentation": "<p>The maximum hourly price to be paid for any Spot Instance launched to fulfill the\n            request. Spot Instances are launched when the price you specify exceeds the current Spot\n            price. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-launch-spot-instances.html\">Requesting Spot\n                Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <note>\n            <p>When you change your maximum price by creating a new launch configuration, running\n                instances will continue to run as long as the maximum price for those running\n                instances is higher than the current Spot price.</p>\n        </note>"
          }
        },
        "IamInstanceProfile": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen1600",
          "traits": {
            "smithy.api#documentation": "<p>The name or the Amazon Resource Name (ARN) of the instance profile associated with the\n            IAM role for the instance. The instance profile contains the IAM role.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/us-iam-role.html\">IAM role for applications that run\n                on Amazon EC2 instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        },
        "EbsOptimized": {
          "target": "com.amazonaws.autoscaling#EbsOptimized",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the launch configuration is optimized for EBS I/O\n            (<code>true</code>) or not (<code>false</code>). The optimization provides dedicated\n            throughput to Amazon EBS and an optimized configuration stack to provide optimal I/O\n            performance. This optimization is not available with all instance types. Additional fees\n            are incurred when you enable EBS optimization for an instance type that is not\n            EBS-optimized by default. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSOptimized.html\">Amazon EBS-Optimized\n                Instances</a> in the <i>Amazon EC2 User Guide for Linux\n                Instances</i>.</p>\n        <p>The default value is <code>false</code>.</p>"
          }
        },
        "AssociatePublicIpAddress": {
          "target": "com.amazonaws.autoscaling#AssociatePublicIpAddress",
          "traits": {
            "smithy.api#documentation": "<p>For Auto Scaling groups that are running in a virtual private cloud (VPC), specifies whether\n            to assign a public IP address to the group's instances. If you specify\n            <code>true</code>, each instance in the Auto Scaling group receives a unique public IP address.\n            For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html\">Launching Auto Scaling instances in a\n                VPC</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <p>If you specify this parameter, you must specify at least one subnet for\n                <code>VPCZoneIdentifier</code> when you create your group.</p>\n        <note>\n            <p>If the instance is launched into a default subnet, the default is to assign a\n                public IP address, unless you disabled the option to assign a public IP address on\n                the subnet. If the instance is launched into a nondefault subnet, the default is not\n                to assign a public IP address, unless you enabled the option to assign a public IP\n                address on the subnet.</p>\n        </note>"
          }
        },
        "PlacementTenancy": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen64",
          "traits": {
            "smithy.api#documentation": "<p>The tenancy of the instance. An instance with <code>dedicated</code> tenancy runs on\n            isolated, single-tenant hardware and can only be launched into a VPC.</p>\n        <p>To launch dedicated instances into a shared tenancy VPC (a VPC with the instance\n            placement tenancy attribute set to <code>default</code>), you must set the value of this\n            parameter to <code>dedicated</code>.</p>\n        <p>If you specify <code>PlacementTenancy</code>, you must specify at least one subnet for\n                <code>VPCZoneIdentifier</code> when you create your group.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/auto-scaling-dedicated-instances.html\">Configuring instance tenancy with Amazon EC2 Auto Scaling</a> in the\n                <i>Amazon EC2 Auto Scaling User Guide</i>.</p>\n        <p>Valid Values: <code>default</code> | <code>dedicated</code>\n        </p>"
          }
        },
        "MetadataOptions": {
          "target": "com.amazonaws.autoscaling#InstanceMetadataOptions",
          "traits": {
            "smithy.api#documentation": "<p>The metadata options for the instances. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-launch-config.html#launch-configurations-imds\">Configuring the Instance Metadata Options</a> in the\n                <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#CreateOrUpdateTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#CreateOrUpdateTagsType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#AlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.autoscaling#LimitExceededFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceInUseFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates or updates tags for the specified Auto Scaling group.</p>\n        <p>When you specify a tag with a key that already exists, the operation overwrites the\n            previous tag definition, and you do not get an error message.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-tagging.html\">Tagging Auto Scaling groups and\n                instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
      }
    },
    "com.amazonaws.autoscaling#CreateOrUpdateTagsType": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.autoscaling#Tags",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#CustomizedMetricSpecification": {
      "type": "structure",
      "members": {
        "MetricName": {
          "target": "com.amazonaws.autoscaling#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Namespace": {
          "target": "com.amazonaws.autoscaling#MetricNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.autoscaling#MetricDimensions",
          "traits": {
            "smithy.api#documentation": "<p>The dimensions of the metric.</p>\n        <p>Conditional: If you published your metric with dimensions, you must specify the same\n            dimensions in your scaling policy.</p>"
          }
        },
        "Statistic": {
          "target": "com.amazonaws.autoscaling#MetricStatistic",
          "traits": {
            "smithy.api#documentation": "<p>The statistic of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Unit": {
          "target": "com.amazonaws.autoscaling#MetricUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit of the metric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a CloudWatch metric of your choosing for a target tracking scaling policy to use\n            with Amazon EC2 Auto Scaling.</p>\n        <p>To create your customized metric specification:</p>\n        <ul>\n            <li>\n                <p>Add values for each required parameter from CloudWatch. You can use an existing\n                    metric, or a new metric that you create. To use your own metric, you must first\n                    publish the metric to CloudWatch. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html\">Publish\n                        Custom Metrics</a> in the <i>Amazon CloudWatch User\n                    Guide</i>.</p>\n            </li>\n            <li>\n                <p>Choose a metric that changes proportionally with capacity. The value of the\n                    metric should increase or decrease in inverse proportion to the number of\n                    capacity units. That is, the value of the metric should decrease when capacity\n                    increases.</p>\n            </li>\n         </ul>\n        <p>For more information about CloudWatch, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html\">Amazon CloudWatch\n                Concepts</a>.</p>"
      }
    },
    "com.amazonaws.autoscaling#DeleteAutoScalingGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#DeleteAutoScalingGroupType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceInUseFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ScalingActivityInProgressFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Auto Scaling group.</p>\n        <p>If the group has instances or scaling activities in progress, you must specify the\n            option to force the deletion in order for it to succeed.</p>\n        <p>If the group has policies, deleting the group deletes the policies, the underlying\n            alarm actions, and any alarm that no longer has an associated action.</p>\n        <p>To remove instances from the Auto Scaling group before deleting it, call the <a>DetachInstances</a> API with the list of instances and the option to\n            decrement the desired capacity. This ensures that Amazon EC2 Auto Scaling does not launch replacement\n            instances.</p>\n        <p>To terminate all instances before deleting the Auto Scaling group, call the <a>UpdateAutoScalingGroup</a> API and set the minimum size and desired capacity\n            of the Auto Scaling group to zero.</p>"
      }
    },
    "com.amazonaws.autoscaling#DeleteAutoScalingGroupType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "ForceDelete": {
          "target": "com.amazonaws.autoscaling#ForceDelete",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that the group is to be deleted along with all instances associated with the\n            group, without waiting for all instances to be terminated. This parameter also deletes\n            any lifecycle actions associated with the group.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DeleteLaunchConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#LaunchConfigurationNameType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceInUseFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified launch configuration.</p>\n        <p>The launch configuration must not be attached to an Auto Scaling group. When this call\n            completes, the launch configuration is no longer available for use.</p>"
      }
    },
    "com.amazonaws.autoscaling#DeleteLifecycleHook": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#DeleteLifecycleHookType"
      },
      "output": {
        "target": "com.amazonaws.autoscaling#DeleteLifecycleHookAnswer"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified lifecycle hook.</p>\n        <p>If there are any outstanding lifecycle actions, they are completed first\n                (<code>ABANDON</code> for launching instances, <code>CONTINUE</code> for terminating\n            instances).</p>"
      }
    },
    "com.amazonaws.autoscaling#DeleteLifecycleHookAnswer": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.autoscaling#DeleteLifecycleHookType": {
      "type": "structure",
      "members": {
        "LifecycleHookName": {
          "target": "com.amazonaws.autoscaling#AsciiStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the lifecycle hook.</p>",
            "smithy.api#required": {}
          }
        },
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DeleteNotificationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#DeleteNotificationConfigurationType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified notification.</p>"
      }
    },
    "com.amazonaws.autoscaling#DeleteNotificationConfigurationType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "TopicARN": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Simple Notification Service (Amazon SNS)\n            topic.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DeletePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#DeletePolicyType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ServiceLinkedRoleFailure"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified scaling policy.</p>\n        <p>Deleting either a step scaling policy or a simple scaling policy deletes the\n            underlying alarm action, but does not delete the alarm, even if it no longer has an\n            associated action.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/deleting-scaling-policy.html\">Deleting a scaling\n                policy</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
      }
    },
    "com.amazonaws.autoscaling#DeletePolicyType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>"
          }
        },
        "PolicyName": {
          "target": "com.amazonaws.autoscaling#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name or Amazon Resource Name (ARN) of the policy.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DeleteScheduledAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#DeleteScheduledActionType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified scheduled action.</p>"
      }
    },
    "com.amazonaws.autoscaling#DeleteScheduledActionType": {
      "type": "structure",
      "members": {
        "AutoScalingGroupName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Auto Scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "ScheduledActionName": {
          "target": "com.amazonaws.autoscaling#XmlStringMaxLen255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DeleteTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.autoscaling#DeleteTagsType"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        },
        {
          "target": "com.amazonaws.autoscaling#ResourceInUseFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified tags.</p>"
      }
    },
    "com.amazonaws.autoscaling#DeleteTagsType": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.autoscaling#Tags",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DescribeAccountLimits": {
      "type": "operation",
      "output": {
        "target": "com.amazonaws.autoscaling#DescribeAccountLimitsAnswer"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the current Amazon EC2 Auto Scaling resource quotas for your AWS account.</p>\n        <p>For information about requesting an increase, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-account-limits.html\">Amazon EC2 Auto Scaling service\n                quotas</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
      }
    },
    "com.amazonaws.autoscaling#DescribeAccountLimitsAnswer": {
      "type": "structure",
      "members": {
        "MaxNumberOfAutoScalingGroups": {
          "target": "com.amazonaws.autoscaling#MaxNumberOfAutoScalingGroups",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of groups allowed for your AWS account. The default is 200 groups\n            per AWS Region.</p>"
          }
        },
        "MaxNumberOfLaunchConfigurations": {
          "target": "com.amazonaws.autoscaling#MaxNumberOfLaunchConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of launch configurations allowed for your AWS account. The default\n            is 200 launch configurations per AWS Region.</p>"
          }
        },
        "NumberOfAutoScalingGroups": {
          "target": "com.amazonaws.autoscaling#NumberOfAutoScalingGroups",
          "traits": {
            "smithy.api#documentation": "<p>The current number of groups for your AWS account.</p>"
          }
        },
        "NumberOfLaunchConfigurations": {
          "target": "com.amazonaws.autoscaling#NumberOfLaunchConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>The current number of launch configurations for your AWS account.</p>"
          }
        }
      }
    },
    "com.amazonaws.autoscaling#DescribeAdjustmentTypes": {
      "type": "operation",
      "output": {
        "target": "com.amazonaws.autoscaling#DescribeAdjustmentTypesAnswer"
      },
      "errors": [
        {
          "target": "com.amazonaws.autoscaling#ResourceContentionFault"
        }
      ],
      "traits": {
[...]
