{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.b2bi#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.b2bi#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.b2bi#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.b2bi#B2BI": {
      "type": "service",
      "version": "2022-06-23",
      "operations": [
        {
          "target": "com.amazonaws.b2bi#CreateStarterMappingTemplate"
        },
        {
          "target": "com.amazonaws.b2bi#GenerateMapping"
        },
        {
          "target": "com.amazonaws.b2bi#GetTransformerJob"
        },
        {
          "target": "com.amazonaws.b2bi#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.b2bi#StartTransformerJob"
        },
        {
          "target": "com.amazonaws.b2bi#TagResource"
        },
        {
          "target": "com.amazonaws.b2bi#TestConversion"
        },
        {
          "target": "com.amazonaws.b2bi#TestMapping"
        },
        {
          "target": "com.amazonaws.b2bi#TestParsing"
        },
        {
          "target": "com.amazonaws.b2bi#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.b2bi#Capability"
        },
        {
          "target": "com.amazonaws.b2bi#Partnership"
        },
        {
          "target": "com.amazonaws.b2bi#Profile"
        },
        {
          "target": "com.amazonaws.b2bi#Transformer"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "b2bi",
          "endpointPrefix": "b2bi"
        },
        "aws.api#tagEnabled": {},
        "aws.auth#sigv4": {
          "name": "b2bi"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#cors": {},
        "smithy.api#documentation": "<p>This is the <i>Amazon Web Services B2B Data Interchange API Reference</i>. It provides descriptions, API request parameters, and the XML response for each of the B2BI API actions.</p>\n         <p>B2BI enables automated exchange of EDI (electronic data interchange) based business-critical transactions at cloud\n         scale, with elasticity and pay-as-you-go pricing. Businesses use EDI documents to exchange\n         transactional data with trading partners, such as suppliers and end customers, using\n         standardized formats such as X12.</p>\n         <note>\n            <p>Rather than actually running a command, you can use the\n            <code>--generate-cli-skeleton</code> parameter with any API call to generate and display\n            a parameter template. You can then use the generated template to customize and use as input\n            on a later command. For details, see <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-usage-skeleton.html#cli-usage-skeleton-generate\">Generate and use a parameter skeleton file</a>.</p>\n         </note>",
        "smithy.api#title": "AWS B2B Data Interchange",
        "smithy.api#unstable": {},
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://b2bi-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://b2bi-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://b2bi.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://b2bi.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://b2bi-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://b2bi-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://b2bi.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://b2bi.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://b2bi-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://b2bi-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://b2bi.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://b2bi.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://b2bi-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://b2bi-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://b2bi.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://b2bi.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://b2bi-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://b2bi.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://b2bi-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://b2bi.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.b2bi#BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 63
        }
      }
    },
    "com.amazonaws.b2bi#BusinessName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 254
        }
      }
    },
    "com.amazonaws.b2bi#Capability": {
      "type": "resource",
      "identifiers": {
        "capabilityId": {
          "target": "com.amazonaws.b2bi#CapabilityId"
        }
      },
      "create": {
        "target": "com.amazonaws.b2bi#CreateCapability"
      },
      "read": {
        "target": "com.amazonaws.b2bi#GetCapability"
      },
      "update": {
        "target": "com.amazonaws.b2bi#UpdateCapability"
      },
      "delete": {
        "target": "com.amazonaws.b2bi#DeleteCapability"
      },
      "list": {
        "target": "com.amazonaws.b2bi#ListCapabilities"
      },
      "traits": {
        "aws.api#arn": {
          "template": "capabilities/{capabilityId}"
        },
        "aws.api#taggable": {
          "property": "tags"
        },
        "aws.cloudformation#cfnResource": {
          "additionalSchemas": ["com.amazonaws.b2bi#CapabilitySummary"]
        },
        "smithy.api#unstable": {}
      }
    },
    "com.amazonaws.b2bi#CapabilityConfiguration": {
      "type": "union",
      "members": {
        "edi": {
          "target": "com.amazonaws.b2bi#EdiConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>An EDI (electronic data interchange) configuration object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A capability object. Currently, only EDI (electronic data interchange) capabilities are supported. A trading capability contains the information required to transform incoming EDI documents into JSON or XML outputs.</p>"
      }
    },
    "com.amazonaws.b2bi#CapabilityDirection": {
      "type": "enum",
      "members": {
        "INBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INBOUND"
          }
        },
        "OUTBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTBOUND"
          }
        }
      }
    },
    "com.amazonaws.b2bi#CapabilityId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
      }
    },
    "com.amazonaws.b2bi#CapabilityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.b2bi#CapabilitySummary"
      }
    },
    "com.amazonaws.b2bi#CapabilityName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 254
        }
      }
    },
    "com.amazonaws.b2bi#CapabilityOptions": {
      "type": "structure",
      "members": {
        "outboundEdi": {
          "target": "com.amazonaws.b2bi#OutboundEdiOptions",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the outbound EDI options.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details for an Outbound EDI capability.</p>"
      }
    },
    "com.amazonaws.b2bi#CapabilitySummary": {
      "type": "structure",
      "members": {
        "capabilityId": {
          "target": "com.amazonaws.b2bi#CapabilityId",
          "traits": {
            "smithy.api#documentation": "<p>Returns a system-assigned unique identifier for the capability.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.b2bi#CapabilityName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the capability.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.b2bi#CapabilityType",
          "traits": {
            "smithy.api#documentation": "<p>Returns the type of the capability. Currently, only <code>edi</code> is supported.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.b2bi#CreatedDate",
          "traits": {
            "smithy.api#documentation": "<p>Returns a timestamp for creation date and time of the capability.</p>",
            "smithy.api#required": {}
          }
        },
        "modifiedAt": {
          "target": "com.amazonaws.b2bi#ModifiedDate",
          "traits": {
            "smithy.api#documentation": "<p>Returns a timestamp that identifies the most recent date and time that the capability was modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the capability summary details. A trading capability contains the information required to transform incoming EDI documents into JSON or XML outputs.</p>"
      }
    },
    "com.amazonaws.b2bi#CapabilityType": {
      "type": "enum",
      "members": {
        "EDI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "edi"
          }
        }
      }
    },
    "com.amazonaws.b2bi#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.b2bi#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A conflict exception is thrown when you attempt to delete a resource (such as a profile or a capability) that is being used by other resources.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.b2bi#ConversionSource": {
      "type": "structure",
      "members": {
        "fileFormat": {
          "target": "com.amazonaws.b2bi#ConversionSourceFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format for the input file: either JSON or XML.</p>",
            "smithy.api#required": {}
          }
        },
        "inputFile": {
          "target": "com.amazonaws.b2bi#InputFileSource",
          "traits": {
            "smithy.api#documentation": "File to be converted",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the input for an outbound transformation. </p>"
      }
    },
    "com.amazonaws.b2bi#ConversionSourceFormat": {
      "type": "enum",
      "members": {
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "XML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XML"
          }
        }
      }
    },
    "com.amazonaws.b2bi#ConversionTarget": {
      "type": "structure",
      "members": {
        "fileFormat": {
          "target": "com.amazonaws.b2bi#ConversionTargetFormat",
          "traits": {
            "smithy.api#documentation": "<p>Currently, only X12 format is supported.</p>",
            "smithy.api#required": {}
          }
        },
        "formatDetails": {
          "target": "com.amazonaws.b2bi#ConversionTargetFormatDetails",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the formatting details for the conversion target.</p>"
          }
        },
        "outputSampleFile": {
          "target": "com.amazonaws.b2bi#OutputSampleFileSource",
          "traits": {
            "smithy.api#documentation": "Customer uses this to provide a sample on what should file look like after conversion\nX12 EDI use case around this would be discovering the file syntax"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provide a sample of what the output of the transformation should look like.</p>"
      }
    },
    "com.amazonaws.b2bi#ConversionTargetFormat": {
      "type": "enum",
      "members": {
        "X12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X12"
          }
        }
      }
    },
    "com.amazonaws.b2bi#ConversionTargetFormatDetails": {
      "type": "union",
      "members": {
        "x12": {
          "target": "com.amazonaws.b2bi#X12Details"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a structure describing the X12 details for the conversion target.</p>"
      }
    },
    "com.amazonaws.b2bi#CreateCapability": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.b2bi#CreateCapabilityRequest"
      },
      "output": {
        "target": "com.amazonaws.b2bi#CreateCapabilityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.b2bi#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.b2bi#ConflictException"
        },
        {
          "target": "com.amazonaws.b2bi#InternalServerException"
        },
        {
          "target": "com.amazonaws.b2bi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.b2bi#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.b2bi#ThrottlingException"
        },
        {
          "target": "com.amazonaws.b2bi#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#requiredActions": ["b2bi:TagResource"],
        "smithy.api#documentation": "<p>Instantiates a capability based on the specified parameters. A trading capability contains the information required to transform incoming EDI documents into JSON or XML outputs.</p>",
        "smithy.api#examples": [
          {
            "title": "Sample CreateCapability call",
            "input": {
              "name": "b2biexample",
              "type": "edi",
              "configuration": {
                "edi": {
                  "type": {
                    "x12Details": {
                      "transactionSet": "X12_110",
                      "version": "VERSION_4010"
                    }
                  },
                  "inputLocation": {
                    "bucketName": "test-bucket",
                    "key": "input/"
                  },
                  "outputLocation": {
                    "bucketName": "test-bucket",
                    "key": "output/"
                  },
                  "transformerId": "tr-9a893cf536df4658b"
                }
              },
              "instructionsDocuments": [
                {
                  "bucketName": "test-bucket",
                  "key": "instructiondoc.txt"
                }
              ],
              "clientToken": "foo",
              "tags": [
                {
                  "Key": "capabilityKey1",
                  "Value": "capabilityValue1"
                }
              ]
            },
            "output": {
              "capabilityArn": "arn:aws:b2bi:us-west-2:123456789012:capability/ca-963a8121e4fc4e348",
              "capabilityId": "ca-963a8121e4fc4e348",
              "createdAt": "2023-11-01T21:51:05.504Z",
              "configuration": {
                "edi": {
                  "type": {
                    "x12Details": {
                      "transactionSet": "X12_110",
                      "version": "VERSION_4010"
                    }
                  },
                  "inputLocation": {
                    "bucketName": "test-bucket",
                    "key": "input/"
                  },
                  "outputLocation": {
                    "bucketName": "test-bucket",
                    "key": "output/"
                  },
                  "transformerId": "tr-9a893cf536df4658b"
                }
              },
              "instructionsDocuments": [
                {
                  "bucketName": "test-bucket",
                  "key": "instructiondoc.txt"
                }
              ],
              "name": "b2biexample",
              "type": "edi"
            }
          }
        ],
        "smithy.api#http": {
          "code": 201,
          "uri": "/capabilities",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.b2bi#CreateCapabilityRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.b2bi#CapabilityName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the capability, used to identify it.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.b2bi#CapabilityType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of the capability. Currently, only <code>edi</code> is supported.</p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.b2bi#CapabilityConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a structure that contains the details for a capability.</p>",
            "smithy.api#required": {}
          }
        },
        "instructionsDocuments": {
          "target": "com.amazonaws.b2bi#InstructionsDocuments",
          "traits": {
            "smithy.api#documentation": "<p>Specifies one or more locations in Amazon S3, each specifying an EDI document that can be used with this capability. Each item contains the name of the bucket and the key, to identify the document's location.</p>"
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.b2bi#TagList",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>Specifies the key-value pairs assigned to ARNs that you can use to group and search for resources by type. You can attach this metadata to resources (capabilities, partnerships, and so on) for any purpose.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.b2bi#CreateCapabilityResponse": {
      "type": "structure",
      "members": {
        "capabilityId": {
          "target": "com.amazonaws.b2bi#CapabilityId",
          "traits": {
            "smithy.api#documentation": "<p>Returns a system-assigned unique identifier for the capability.</p>",
            "smithy.api#required": {}
          }
        },
        "capabilityArn": {
          "target": "com.amazonaws.b2bi#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>Returns an Amazon Resource Name (ARN) for a specific Amazon Web Services resource, such as a capability, partnership, profile, or transformer.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.b2bi#CapabilityName",
          "traits": {
            "smithy.api#documentation": "<p>Returns the name of the capability used to identify it.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.b2bi#CapabilityType",
          "traits": {
            "smithy.api#documentation": "<p>Returns the type of the capability. Currently, only <code>edi</code> is supported.</p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.b2bi#CapabilityConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Returns a structure that contains the details for a capability.</p>",
            "smithy.api#required": {}
          }
        },
        "instructionsDocuments": {
          "target": "com.amazonaws.b2bi#InstructionsDocuments",
          "traits": {
            "smithy.api#documentation": "<p>Returns one or more locations in Amazon S3, each specifying an EDI document that can be used with this capability. Each item contains the name of the bucket and the key, to identify the document's location.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.b2bi#CreatedDate",
          "traits": {
            "smithy.api#documentation": "<p>Returns a timestamp for creation date and time of the capability.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.b2bi#CreatePartnership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.b2bi#CreatePartnershipRequest"
      },
      "output": {
        "target": "com.amazonaws.b2bi#CreatePartnershipResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.b2bi#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.b2bi#ConflictException"
        },
        {
          "target": "com.amazonaws.b2bi#InternalServerException"
        },
        {
          "target": "com.amazonaws.b2bi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.b2bi#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.b2bi#ThrottlingException"
        },
        {
          "target": "com.amazonaws.b2bi#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#requiredActions": ["b2bi:TagResource"],
        "smithy.api#documentation": "<p>Creates a partnership between a customer and a trading partner, based on the supplied parameters. A partnership represents the connection between you and your trading partner. It ties\n   together a profile and one or more trading capabilities.</p>",
        "smithy.api#examples": [
          {
            "title": "Sample CreatePartnership call",
            "input": {
              "capabilities": ["ca-963a8121e4fc4e348"],
              "clientToken": "foo",
              "email": "john@example.com",
              "name": "b2bipartner",
              "phone": "5555555555",
              "profileId": "p-60fbc37c87f04fce9",
              "tags": [
                {
                  "Key": "sampleKey1",
                  "Value": "sampleValue1"
                }
              ]
            },
            "output": {
              "capabilities": ["ca-963a8121e4fc4e348"],
              "createdAt": "2023-11-01T21:51:05.504Z",
              "email": "john@example.com",
              "name": "b2bipartner",
              "partnershipArn": "arn:aws:b2bi:us-west-2:123456789012:partnership/ps-60fbc37c87f04fce9",
              "partnershipId": "ps-219fa02f5b4242af8",
              "phone": "5555555555",
              "profileId": "p-60fbc37c87f04fce9",
              "tradingPartnerId": "tp-2a17ca447f6f4a8a8"
            }
          }
        ],
        "smithy.api#http": {
          "code": 201,
          "uri": "/partnerships",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.b2bi#CreatePartnershipRequest": {
      "type": "structure",
      "members": {
        "profileId": {
          "target": "com.amazonaws.b2bi#ProfileId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the unique, system-generated identifier for the profile connected to this partnership.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.b2bi#PartnerName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a descriptive name for the partnership.</p>",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "com.amazonaws.b2bi#Email",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the email address associated with this trading partner.</p>",
            "smithy.api#required": {}
          }
        },
        "phone": {
          "target": "com.amazonaws.b2bi#Phone",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the phone number associated with the partnership.</p>"
          }
        },
        "capabilities": {
          "target": "com.amazonaws.b2bi#PartnershipCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of the capabilities associated with this partnership.</p>",
            "smithy.api#required": {}
          }
        },
        "capabilityOptions": {
          "target": "com.amazonaws.b2bi#CapabilityOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specify the structure that contains the details for the associated capabilities.</p>"
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.b2bi#TagList",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>Specifies the key-value pairs assigned to ARNs that you can use to group and search for resources by type. You can attach this metadata to resources (capabilities, partnerships, and so on) for any purpose.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.b2bi#CreatePartnershipResponse": {
      "type": "structure",
      "members": {
        "profileId": {
          "target": "com.amazonaws.b2bi#ProfileId",
          "traits": {
            "smithy.api#documentation": "<p>Returns the unique, system-generated identifier for the profile connected to this partnership.</p>",
            "smithy.api#required": {}
          }
        },
        "partnershipId": {
          "target": "com.amazonaws.b2bi#PartnershipId",
          "traits": {
            "smithy.api#documentation": "<p>Returns the unique, system-generated identifier for a partnership.</p>",
            "smithy.api#required": {}
          }
        },
        "partnershipArn": {
          "target": "com.amazonaws.b2bi#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>Returns an Amazon Resource Name (ARN) for a specific Amazon Web Services resource, such as a capability, partnership, profile, or transformer.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.b2bi#PartnerName",
          "traits": {
            "smithy.api#documentation": "<p>Returns a descriptive name for the partnership.</p>"
          }
        },
        "email": {
          "target": "com.amazonaws.b2bi#Email",
          "traits": {
            "smithy.api#documentation": "<p>Returns the email address associated with this trading partner.</p>"
          }
        },
        "phone": {
          "target": "com.amazonaws.b2bi#Phone",
          "traits": {
            "smithy.api#documentation": "<p>Returns the phone number associated with the partnership.</p>"
          }
        },
        "capabilities": {
          "target": "com.amazonaws.b2bi#PartnershipCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>Returns one or more capabilities associated with this partnership.</p>"
          }
        },
        "capabilityOptions": {
          "target": "com.amazonaws.b2bi#CapabilityOptions",
          "traits": {
            "smithy.api#documentation": "<p>Returns the structure that contains the details for the associated capabilities.</p>"
          }
        },
        "tradingPartnerId": {
          "target": "com.amazonaws.b2bi#TradingPartnerId",
          "traits": {
            "smithy.api#documentation": "<p>Returns the unique, system-generated identifier for a trading partner.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.b2bi#CreatedDate",
          "traits": {
            "smithy.api#documentation": "<p>Returns a timestamp for creation date and time of the partnership.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.b2bi#CreateProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.b2bi#CreateProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.b2bi#CreateProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.b2bi#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.b2bi#ConflictException"
        },
        {
          "target": "com.amazonaws.b2bi#InternalServerException"
        },
        {
          "target": "com.amazonaws.b2bi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.b2bi#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.b2bi#ThrottlingException"
        },
        {
          "target": "com.amazonaws.b2bi#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#requiredActions": [
          "b2bi:TagResource",
          "logs:CreateLogDelivery",
          "logs:CreateLogGroup",
          "logs:CreateLogStream",
          "logs:DeleteLogDelivery",
          "logs:DescribeLogGroups",
          "logs:DescribeLogStreams",
          "logs:DescribeResourcePolicies",
          "logs:ListLogDeliveries",
          "logs:PutLogEvents",
          "logs:PutResourcePolicy"
        ],
        "smithy.api#documentation": "<p>Creates a customer profile. You can have up to five customer profiles, each representing a distinct private network. A profile is the mechanism used to create the concept of\n   a private network.</p>",
        "smithy.api#examples": [
          {
            "title": "Sample CreateProfile call",
            "input": {
              "businessName": "John's Shipping",
              "clientToken": "foo",
              "email": "john@example.com",
              "logging": "ENABLED",
              "name": "Shipping Profile",
              "phone": "5555555555",
              "tags": [
                {
                  "Key": "sampleKey",
                  "Value": "sampleValue"
                }
              ]
            },
            "output": {
              "businessName": "John's Trucking",
              "createdAt": "2023-11-01T21:51:05.504Z",
              "email": "john@example.com",
              "logging": "ENABLED",
              "logGroupName": "b2bi/p-60fbc37c87f04fce9-Logs",
              "name": "Shipping Profile",
              "phone": "5555555555",
              "profileArn": "arn:aws:b2bi:us-west-2:123456789012:profile/p-60fbc37c87f04fce9",
              "profileId": "p-60fbc37c87f04fce9"
            }
          }
        ],
        "smithy.api#http": {
          "code": 201,
          "uri": "/profiles",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.b2bi#CreateProfileRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.b2bi#ProfileName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the profile.</p>",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "com.amazonaws.b2bi#Email",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the email address associated with this customer profile.</p>"
          }
        },
        "phone": {
          "target": "com.amazonaws.b2bi#Phone",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the phone number associated with the profile.</p>",
            "smithy.api#required": {}
          }
        },
        "businessName": {
          "target": "com.amazonaws.b2bi#BusinessName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name for the business associated with this profile.</p>",
            "smithy.api#required": {}
          }
        },
        "logging": {
          "target": "com.amazonaws.b2bi#Logging",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether or not logging is enabled for this profile.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.b2bi#TagList",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>Specifies the key-value pairs assigned to ARNs that you can use to group and search for resources by type. You can attach this metadata to resources (capabilities, partnerships, and so on) for any purpose.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.b2bi#CreateProfileResponse": {
      "type": "structure",
      "members": {
        "profileId": {
          "target": "com.amazonaws.b2bi#ProfileId",
          "traits": {
            "smithy.api#documentation": "<p>Returns the unique, system-generated identifier for the profile.</p>",
            "smithy.api#required": {}
          }
        },
        "profileArn": {
          "target": "com.amazonaws.b2bi#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>Returns an Amazon Resource Name (ARN) for the profile.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.b2bi#ProfileName",
          "traits": {
            "smithy.api#documentation": "<p>Returns the name of the profile, used to identify it.</p>",
            "smithy.api#required": {}
          }
        },
        "businessName": {
          "target": "com.amazonaws.b2bi#BusinessName",
          "traits": {
            "smithy.api#documentation": "<p>Returns the name for the business associated with this profile.</p>",
            "smithy.api#required": {}
          }
        },
        "phone": {
          "target": "com.amazonaws.b2bi#Phone",
          "traits": {
            "smithy.api#documentation": "<p>Returns the phone number associated with the profile.</p>",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "com.amazonaws.b2bi#Email",
          "traits": {
            "smithy.api#documentation": "<p>Returns the email address associated with this customer profile.</p>"
          }
        },
        "logging": {
          "target": "com.amazonaws.b2bi#Logging",
          "traits": {
            "smithy.api#documentation": "<p>Returns whether or not logging is turned on for this profile.</p>"
          }
        },
        "logGroupName": {
          "target": "com.amazonaws.b2bi#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>Returns the name of the logging group.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.b2bi#CreatedDate",
          "traits": {
            "smithy.api#documentation": "<p>Returns a timestamp representing the time the profile was created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.b2bi#CreateStarterMappingTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.b2bi#CreateStarterMappingTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.b2bi#CreateStarterMappingTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.b2bi#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.b2bi#InternalServerException"
        },
        {
          "target": "com.amazonaws.b2bi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.b2bi#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Amazon Web Services B2B Data Interchange uses a mapping template in JSONata or XSLT format to transform a customer input file into a JSON or XML file that can be converted to EDI.</p>\n         <p>If you provide a sample EDI file with the same structure as the EDI files that you wish to generate, then the service can generate a mapping template.\n      The starter template contains placeholder values which you can replace with JSONata or XSLT expressions to take data from your input file and insert it\n      into the JSON or XML file that is used to generate the EDI.</p>\n         <p>If you do not provide a sample EDI file, then the service can generate a mapping template based on the EDI settings in the <code>templateDetails</code> parameter.\n   </p>\n         <p> Currently, we only support generating a template that can generate the input to produce an Outbound X12 EDI file.</p>",
        "smithy.api#examples": [
          {
            "title": "Sample CreateStarterMappingTemplate call",
            "input": {
              "mappingType": "JSONATA",
              "templateDetails": {
                "x12": {
                  "transactionSet": "X12_110",
                  "version": "VERSION_4010"
                }
              },
              "outputSampleLocation": {
                "bucketName": "output-sample-bucket",
                "key": "output-sample-key"
              }
            },
            "output": {
              "mappingTemplate": "Example Mapping Template"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "uri": "/createmappingstarttemplate",
          "method": "POST"
        }
      }
    },
    "com.amazonaws.b2bi#CreateStarterMappingTemplateRequest": {
      "type": "structure",
      "members": {
        "outputSampleLocation": {
          "target": "com.amazonaws.b2bi#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>Specify the location of the sample EDI file that is used to generate the mapping template.</p>"
          }
        },
        "mappingType": {
          "target": "com.amazonaws.b2bi#MappingType",
          "traits": {
            "smithy.api#documentation": "<p>Specify the format for the mapping template: either JSONATA or XSLT.</p>",
            "smithy.api#required": {}
          }
        },
        "templateDetails": {
          "target": "com.amazonaws.b2bi#TemplateDetails",
          "traits": {
            "smithy.api#documentation": "<p>\n         Describes the details needed for generating the template. Specify the X12 transaction set and version for which the template is used:\n         currently, we only support X12.\n      </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.b2bi#CreateStarterMappingTemplateResponse": {
      "type": "structure",
      "members": {
        "mappingTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Returns a string that represents the mapping template.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.b2bi#CreateTransformer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.b2bi#CreateTransformerRequest"
      },
      "output": {
        "target": "com.amazonaws.b2bi#CreateTransformerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.b2bi#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.b2bi#ConflictException"
        },
        {
          "target": "com.amazonaws.b2bi#InternalServerException"
        },
        {
          "target": "com.amazonaws.b2bi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.b2bi#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.b2bi#ThrottlingException"
        },
        {
          "target": "com.amazonaws.b2bi#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#requiredActions": [
          "b2bi:TagResource",
          "b2bi:UpdateTransformer",
          "logs:CreateLogDelivery",
          "logs:CreateLogGroup",
          "logs:CreateLogStream",
          "logs:DescribeLogGroups",
          "logs:DescribeLogStreams",
          "logs:DescribeResourcePolicies",
          "logs:ListLogDeliveries",
          "logs:PutLogEvents",
          "logs:PutResourcePolicy"
        ],
        "smithy.api#documentation": "<p>Creates a transformer. Amazon Web Services B2B Data Interchange currently supports two scenarios:</p>\n         <ul>\n            <li>\n               <p>\n                  <i>Inbound EDI</i>: the Amazon Web Services customer receives an EDI file from their trading partner. Amazon Web Services B2B Data Interchange \n               converts this EDI file into a JSON or XML file with a service-defined structure. A mapping template provided by the customer,\n               in JSONata or XSLT format, is optionally applied to this file to produce a JSON or XML file with the structure the customer requires.</p>\n            </li>\n            <li>\n               <p>\n                  <i>Outbound EDI</i>: the Amazon Web Services customer has a JSON or XML file containing data that they wish to use\n               in an EDI file. A mapping template, provided by the customer (in either JSONata or XSLT format) is applied to this file to generate\n               a JSON or XML file in the service-defined structure. This file is then converted to an EDI file.</p>\n            </li>\n         </ul>\n         <note>\n            <p>The following fields are provided for backwards compatibility only: <code>fileFormat</code>,\n            <code>mappingTemplate</code>, <code>ediType</code>, and <code>sampleDocument</code>.</p>\n            <ul>\n               <li>\n                  <p>Use the <code>mapping</code> data type in place of <code>mappingTemplate</code> and <code>fileFormat</code>\n                  </p>\n               </li>\n               <li>\n                  <p>Use the <code>sampleDocuments</code> data type in place of <code>sampleDocument</code>\n                  </p>\n               </li>\n               <li>\n                  <p>Use either the <code>inputConversion</code> or <code>outputConversion</code> in place of <code>ediType</code>\n                  </p>\n               </li>\n            </ul>\n         </note>",
        "smithy.api#examples": [
          {
            "title": "Sample CreateTransformer call",
            "input": {
              "clientToken": "foo",
              "name": "transformX12",
              "inputConversion": {
                "fromFormat": "X12",
                "formatOptions": {
                  "x12": {
                    "transactionSet": "X12_110",
                    "version": "VERSION_4010"
                  }
                }
              },
              "mapping": {
                "templateLanguage": "JSONATA",
                "template": "{}"
              },
              "sampleDocuments": {
                "bucketName": "test-bucket",
                "keys": [
                  {
                    "input": "sampleDoc.txt"
                  }
                ]
              },
              "tags": [
                {
                  "Key": "sampleKey",
                  "Value": "sampleValue"
                }
              ]
            },
            "output": {
              "createdAt": "2023-11-01T21:51:05.504Z",
              "name": "transformX12",
              "inputConversion": {
                "fromFormat": "X12",
                "formatOptions": {
                  "x12": {
                    "transactionSet": "X12_110",
                    "version": "VERSION_4010"
                  }
                }
              },
              "mapping": {
                "templateLanguage": "JSONATA",
                "template": "{}"
              },
              "sampleDocuments": {
                "bucketName": "test-bucket",
                "keys": [
                  {
                    "input": "sampleDoc.txt"
                  }
                ]
              },
              "status": "inactive",
              "transformerArn": "arn:aws:b2bi:us-west-2:123456789012:transformer/tr-974c129999f84d8c9",
              "transformerId": "tr-974c129999f84d8c9"
            }
          }
        ],
        "smithy.api#http": {
          "code": 201,
          "uri": "/transformers",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.b2bi#CreateTransformerRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.b2bi#TransformerName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the transformer, used to identify it.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.b2bi#TagList",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>Specifies the key-value pairs assigned to ARNs that you can use to group and search for resources by type. You can attach this metadata to resources (capabilities, partnerships, and so on) for any purpose.</p>"
          }
        },
        "fileFormat": {
          "target": "com.amazonaws.b2bi#FileFormat",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This is a legacy trait. Please use input-conversion or output-conversion."
            },
            "smithy.api#documentation": "<p>Specifies that the currently supported file formats for EDI transformations are <code>JSON</code> and <code>XML</code>.</p>"
          }
        },
        "mappingTemplate": {
          "target": "com.amazonaws.b2bi#MappingTemplate",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This is a legacy trait. Please use input-conversion or output-conversion."
            },
            "smithy.api#documentation": "<p>Specifies the mapping template for the transformer. This template is used to map the parsed EDI file using JSONata or XSLT.</p>\n         <note>\n            <p>This parameter is available for backwards compatibility. Use the <a href=\"https://docs.aws.amazon.com/b2bi/latest/APIReference/API_Mapping.html\">Mapping</a> data type instead.</p>\n         </note>"
          }
        },
        "ediType": {
          "target": "com.amazonaws.b2bi#EdiType",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This is a legacy trait. Please use input-conversion or output-conversion."
            },
            "smithy.api#documentation": "<p>Specifies the details for the EDI standard that is being used for the transformer. Currently, only X12 is supported. X12 is a set of standards and corresponding messages that define specific business documents.</p>"
          }
        },
        "sampleDocument": {
          "target": "com.amazonaws.b2bi#FileLocation",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This is a legacy trait. Please use input-conversion or output-conversion."
            },
            "smithy.api#documentation": "<p>Specifies a sample EDI document that is used by a transformer as a guide for processing the EDI data.</p>"
          }
        },
        "inputConversion": {
          "target": "com.amazonaws.b2bi#InputConversion",
          "traits": {
            "smithy.api#documentation": "<p>Specify  the <code>InputConversion</code> object, which contains the format options for the inbound transformation.</p>"
          }
        },
        "mapping": {
          "target": "com.amazonaws.b2bi#Mapping",
          "traits": {
            "smithy.api#documentation": "<p>Specify the structure that contains the mapping template and its language (either XSLT or JSONATA).</p>"
          }
        },
        "outputConversion": {
          "target": "com.amazonaws.b2bi#OutputConversion",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the <code>OutputConversion</code> object, which contains the format options for the outbound transformation.</p>"
          }
        },
        "sampleDocuments": {
          "target": "com.amazonaws.b2bi#SampleDocuments",
          "traits": {
            "smithy.api#documentation": "<p>Specify a structure that contains the Amazon S3 bucket and an array of the corresponding keys used to identify the location for your sample documents.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.b2bi#CreateTransformerResponse": {
      "type": "structure",
      "members": {
        "transformerId": {
          "target": "com.amazonaws.b2bi#TransformerId",
          "traits": {
            "smithy.api#documentation": "<p>Returns the system-assigned unique identifier for the transformer.</p>",
            "smithy.api#required": {}
          }
        },
        "transformerArn": {
          "target": "com.amazonaws.b2bi#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>Returns an Amazon Resource Name (ARN) for a specific Amazon Web Services resource, such as a capability, partnership, profile, or transformer.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.b2bi#TransformerName",
          "traits": {
            "smithy.api#documentation": "<p>Returns the name of the transformer, used to identify it.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.b2bi#TransformerStatus",
          "traits": {
            "smithy.api#documentation": "<p>Returns the state of the newly created transformer. The transformer can be either\n            <code>active</code> or <code>inactive</code>. For the transformer to be used in a\n         capability, its status must <code>active</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.b2bi#CreatedDate",
          "traits": {
            "smithy.api#documentation": "<p>Returns a timestamp for creation date and time of the transformer.</p>",
            "smithy.api#required": {}
          }
        },
        "fileFormat": {
          "target": "com.amazonaws.b2bi#FileFormat",
          "traits": {
            "smithy.api#addedDefault": {},
            "smithy.api#default": "NOT_USED",
            "smithy.api#deprecated": {
              "message": "This is a legacy trait. Please use input-conversion or output-conversion."
            },
            "smithy.api#documentation": "<p>Returns that the currently supported file formats for EDI transformations are <code>JSON</code> and <code>XML</code>.</p>"
          }
        },
        "mappingTemplate": {
          "target": "com.amazonaws.b2bi#MappingTemplate",
          "traits": {
            "smithy.api#addedDefault": {},
            "smithy.api#default": "NOT_USED",
            "smithy.api#deprecated": {
              "message": "This is a legacy trait. Please use input-conversion or output-conversion."
            },
            "smithy.api#documentation": "<p>Returns the mapping template for the transformer. This template is used to map the parsed EDI file using JSONata or XSLT.</p>"
          }
        },
        "ediType": {
          "target": "com.amazonaws.b2bi#EdiType",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This is a legacy trait. Please use input-conversion or output-conversion."
            },
            "smithy.api#documentation": "<p>Returns the details for the EDI standard that is being used for the transformer. Currently, only X12 is supported. X12 is a set of standards and corresponding messages that define specific business documents.</p>"
          }
        },
        "sampleDocument": {
          "target": "com.amazonaws.b2bi#FileLocation",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This is a legacy trait. Please use input-conversion or output-conversion."
            },
            "smithy.api#documentation": "<p>Returns a sample EDI document that is used by a transformer as a guide for processing the EDI data.</p>"
          }
        },
        "inputConversion": {
          "target": "com.amazonaws.b2bi#InputConversion",
          "traits": {
            "smithy.api#documentation": "<p>Returns the <code>InputConversion</code> object, which contains the format options for the inbound transformation.</p>"
          }
        },
        "mapping": {
          "target": "com.amazonaws.b2bi#Mapping",
          "traits": {
            "smithy.api#documentation": "<p>Returns the structure that contains the mapping template and its language (either XSLT or JSONATA).</p>"
          }
        },
        "outputConversion": {
          "target": "com.amazonaws.b2bi#OutputConversion",
          "traits": {
            "smithy.api#documentation": "<p>Returns the <code>OutputConversion</code> object, which contains the format options for the outbound transformation.</p>"
          }
        },
        "sampleDocuments": {
          "target": "com.amazonaws.b2bi#SampleDocuments",
          "traits": {
            "smithy.api#documentation": "<p>Returns a structure that contains the Amazon S3 bucket and an array of the corresponding keys used to identify the location for your sample documents.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.b2bi#CreatedDate": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.b2bi#DeleteCapability": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.b2bi#DeleteCapabilityRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.b2bi#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.b2bi#ConflictException"
        },
        {
          "target": "com.amazonaws.b2bi#InternalServerException"
        },
        {
          "target": "com.amazonaws.b2bi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.b2bi#ThrottlingException"
        },
        {
          "target": "com.amazonaws.b2bi#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified capability. A trading capability contains the information required to transform incoming EDI documents into JSON or XML outputs.</p>",
        "smithy.api#examples": [
          {
            "title": "Sample DeleteCapabilty call",
            "input": {
              "capabilityId": "ca-963a8121e4fc4e348"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "uri": "/capabilities/{capabilityId}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.b2bi#DeleteCapabilityRequest": {
      "type": "structure",
      "members": {
        "capabilityId": {
          "target": "com.amazonaws.b2bi#CapabilityId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a system-assigned unique identifier for the capability.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.b2bi#DeletePartnership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.b2bi#DeletePartnershipRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.b2bi#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.b2bi#ConflictException"
        },
        {
          "target": "com.amazonaws.b2bi#InternalServerException"
        },
        {
          "target": "com.amazonaws.b2bi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.b2bi#ThrottlingException"
        },
        {
          "target": "com.amazonaws.b2bi#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified partnership. A partnership represents the connection between you and your trading partner. It ties\n   together a profile and one or more trading capabilities.</p>",
        "smithy.api#examples": [
          {
            "title": "Sample DeletePartnership call",
            "input": {
              "partnershipId": "ps-219fa02f5b4242af8"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "uri": "/partnerships/{partnershipId}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.b2bi#DeletePartnershipRequest": {
      "type": "structure",
      "members": {
        "partnershipId": {
          "target": "com.amazonaws.b2bi#PartnershipId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the unique, system-generated identifier for a partnership.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.b2bi#DeleteProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.b2bi#DeleteProfileRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.b2bi#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.b2bi#ConflictException"
        },
        {
          "target": "com.amazonaws.b2bi#InternalServerException"
        },
        {
          "target": "com.amazonaws.b2bi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.b2bi#ThrottlingException"
        },
        {
          "target": "com.amazonaws.b2bi#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#requiredActions": ["logs:DeleteLogDelivery", "logs:ListLogDeliveries"],
        "smithy.api#documentation": "<p>Deletes the specified profile. A profile is the mechanism used to create the concept of\n   a private network.</p>",
        "smithy.api#examples": [
          {
            "title": "Sample DeleteProfile call",
            "input": {
              "profileId": "p-60fbc37c87f04fce9"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "uri": "/profiles/{profileId}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.b2bi#DeleteProfileRequest": {
      "type": "structure",
      "members": {
        "profileId": {
          "target": "com.amazonaws.b2bi#ProfileId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the unique, system-generated identifier for the profile.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.b2bi#DeleteTransformer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.b2bi#DeleteTransformerRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.b2bi#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.b2bi#ConflictException"
        },
        {
          "target": "com.amazonaws.b2bi#InternalServerException"
        },
        {
          "target": "com.amazonaws.b2bi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.b2bi#ThrottlingException"
        },
        {
          "target": "com.amazonaws.b2bi#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified transformer. A transformer can take an EDI file as input and transform it into a JSON-or XML-formatted document. Alternatively,\n    a transformer can take a JSON-or XML-formatted document as input and transform it into an EDI file.</p>",
        "smithy.api#examples": [
          {
            "title": "Sample DeleteTransformer call",
            "input": {
              "transformerId": "tr-974c129999f84d8c9"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "uri": "/transformers/{transformerId}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.b2bi#DeleteTransformerRequest": {
      "type": "structure",
      "members": {
        "transformerId": {
          "target": "com.amazonaws.b2bi#TransformerId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the system-assigned unique identifier for the transformer.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.b2bi#EdiConfiguration": {
      "type": "structure",
      "members": {
        "capabilityDirection": {
          "target": "com.amazonaws.b2bi#CapabilityDirection",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this is capability is for inbound or outbound transformations.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.b2bi#EdiType",
          "traits": {
            "smithy.api#documentation": "<p>Returns the type of the capability. Currently, only <code>edi</code> is supported.</p>",
            "smithy.api#required": {}
          }
        },
        "inputLocation": {
          "target": "com.amazonaws.b2bi#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>Contains the Amazon S3 bucket and prefix for the location of the input file, which is contained in an <code>S3Location</code> object.</p>",
            "smithy.api#required": {}
          }
        },
        "outputLocation": {
          "target": "com.amazonaws.b2bi#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>Contains the Amazon S3 bucket and prefix for the location of the output file, which is contained in an <code>S3Location</code> object.</p>",
            "smithy.api#required": {}
          }
        },
        "transformerId": {
          "target": "com.amazonaws.b2bi#TransformerId",
          "traits": {
            "smithy.api#documentation": "<p>Returns the system-assigned unique identifier for the transformer.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the details for the EDI (electronic data interchange) transformation.</p>"
      }
    },
    "com.amazonaws.b2bi#EdiType": {
      "type": "union",
      "members": {
        "x12Details": {
          "target": "com.amazonaws.b2bi#X12Details",
          "traits": {
            "smithy.api#documentation": "<p>Returns the details for the EDI standard that is being used for the transformer. Currently, only X12 is supported. X12 is a set of standards and corresponding messages that define specific business documents.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the details for the EDI standard that is being used for the transformer.\n         Currently, only X12 is supported. X12 is a set of standards and corresponding messages \n         that define specific business documents.</p>"
      }
    },
    "com.amazonaws.b2bi#Email": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 254
        },
        "smithy.api#pattern": "^[\\w\\.\\-]+@[\\w\\.\\-]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.b2bi#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 1024
        }
      }
    },
    "com.amazonaws.b2bi#FileFormat": {
      "type": "enum",
      "members": {
        "XML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XML"
          }
        },
        "JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JSON"
          }
        },
        "NOT_USED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_USED"
          }
        }
      }
    },
    "com.amazonaws.b2bi#FileLocation": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.b2bi#FormatOptions": {
      "type": "union",
      "members": {
        "x12": {
          "target": "com.amazonaws.b2bi#X12Details"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains the X12 transaction set and version.</p>"
      }
    },
    "com.amazonaws.b2bi#FromFormat": {
      "type": "enum",
      "members": {
        "X12": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "X12"
          }
        }
      }
    },
    "com.amazonaws.b2bi#GenerateMapping": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.b2bi#GenerateMappingRequest"
      },
      "output": {
        "target": "com.amazonaws.b2bi#GenerateMappingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.b2bi#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.b2bi#InternalServerException"
        },
        {
          "target": "com.amazonaws.b2bi#ThrottlingException"
        },
        {
          "target": "com.amazonaws.b2bi#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Takes sample input and output documents and uses Amazon Bedrock to generate a mapping automatically. Depending on the accuracy and other factors, you can then edit the mapping for your needs.</p>\n         <note>\n            <p>Before you can use the AI-assisted feature for Amazon Web Services B2B Data Interchange you must enable models in Amazon Bedrock. For details, see <a href=\"https://docs.aws.amazon.com/b2bi/latest/userguide/ai-assisted-mapping.html#ai-assist-prereq\">AI-assisted template mapping prerequisites</a> in\n            the <i>Amazon Web Services B2B Data Interchange User guide</i>.</p>\n         </note>",
        "smithy.api#examples": [
          {
            "title": "Sample GenerateMapping call",
            "input": {
              "inputFileContent": "Sample input file content",
              "outputFileContent": "Sample output file content",
              "mappingType": "JSONATA"
            },
            "output": {
              "mappingTemplate": "Sample mapping content",
              "mappingAccuracy": 0.95
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/generate-mapping",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.b2bi#GenerateMappingInputFileContent": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5000000
        }
      }
    },
    "com.amazonaws.b2bi#GenerateMappingOutputFileContent": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5000000
        }
      }
    },
    "com.amazonaws.b2bi#GenerateMappingRequest": {
      "type": "structure",
      "members": {
        "inputFileContent": {
          "target": "com.amazonaws.b2bi#GenerateMappingInputFileContent",
          "traits": {
            "smithy.api#documentation": "<p>Provide the contents of a sample X12 EDI file (for inbound EDI) or JSON/XML file (for outbound EDI) to use as a starting point for the mapping.</p>",
            "smithy.api#required": {}
          }
        },
        "outputFileContent": {
          "target": "com.amazonaws.b2bi#GenerateMappingOutputFileContent",
          "traits": {
            "smithy.api#documentation": "<p>Provide the contents of a sample X12 EDI file (for outbound EDI) or JSON/XML file (for inbound EDI) to use as a target for the mapping.</p>",
            "smithy.api#required": {}
          }
        },
        "mappingType": {
          "target": "com.amazonaws.b2bi#MappingType",
          "traits": {
            "smithy.api#documentation": "<p>Specify the mapping type: either <code>JSONATA</code> or <code>XSLT.</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.b2bi#GenerateMappingResponse": {
      "type": "structure",
      "members": {
        "mappingTemplate": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Returns a mapping template based on your inputs.</p>",
            "smithy.api#required": {}
          }
        },
        "mappingAccuracy": {
          "target": "smithy.api#Float",
          "traits": {
            "smithy.api#documentation": "<p>Returns a percentage that estimates the accuracy of the generated mapping.</p>",
            "smithy.api#range": {
              "min": 0.0,
              "max": 1.0
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.b2bi#GetCapability": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.b2bi#GetCapabilityRequest"
      },
      "output": {
        "target": "com.amazonaws.b2bi#GetCapabilityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.b2bi#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.b2bi#InternalServerException"
        },
        {
          "target": "com.amazonaws.b2bi#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.b2bi#ThrottlingException"
        },
        {
          "target": "com.amazonaws.b2bi#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the details for the specified capability. A trading capability contains the information required to transform incoming EDI documents into JSON or XML outputs.</p>",
        "smithy.api#examples": [
          {
            "title": "Sample GetCapabilty call",
            "input": {
              "capabilityId": "ca-963a8121e4fc4e348"
            },
            "output": {
              "capabilityArn": "arn:aws:b2bi:us-west-2:123456789012:capability/ca-963a8121e4fc4e348",
              "capabilityId": "ca-963a8121e4fc4e348",
              "configuration": {
                "edi": {
                  "type": {
                    "x12Details": {
                      "transactionSet": "X12_110",
                      "version": "VERSION_4010"
                    }
                  },
                  "inputLocation": {
                    "bucketName": "test-bucket",
                    "key": "input/"
                  },
                  "outputLocation": {
                    "bucketName": "test-bucket",
                    "key": "output/"
                  },
                  "transformerId": "tr-9a893cf536df4658b"
                }
              },
              "createdAt": "2023-11-01T21:51:05.504Z",
              "instructionsDocuments": [
                {
                  "bucketName": "test-bucket",
                  "key": "instructiondoc.txt"
                }
              ],
              "modifiedAt": "2023-11-02T21:51:05.504Z",
              "name": "b2biexample",
              "type": "edi"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "uri": "/capabilities/{capabilityId}",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.b2bi#GetCapabilityRequest": {
      "type": "structure",
      "members": {
        "capabilityId": {
          "target": "com.amazonaws.b2bi#CapabilityId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a system-assigned unique identifier for the capability.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.b2bi#GetCapabilityResponse": {
      "type": "structure",
      "members": {
        "capabilityId": {
          "target": "com.amazonaws.b2bi#CapabilityId",
          "traits": {
            "smithy.api#documentation": "<p>Returns a system-assigned unique identifier for the capability.</p>",
            "smithy.api#required": {}
          }
        },
        "capabilityArn": {
          "target": "com.amazonaws.b2bi#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>Returns an Amazon Resource Name (ARN) for a specific Amazon Web Services resource, such as a capability, partnership, profile, or transformer.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.b2bi#CapabilityName",
          "traits": {
            "smithy.api#documentation": "<p>Returns the name of the capability, used to identify it.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.b2bi#CapabilityType",
          "traits": {
            "smithy.api#documentation": "<p>Returns the type of the capability. Currently, only <code>edi</code> is supported.</p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.b2bi#CapabilityConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Returns a structure that contains the details for a capability.</p>",
            "smithy.api#required": {}
          }
        },
[...]
