{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.backup#ARN": {
      "type": "string"
    },
    "com.amazonaws.backup#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.backup#AdvancedBackupSetting": {
      "type": "structure",
      "members": {
        "ResourceType": {
          "target": "com.amazonaws.backup#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an object containing resource type and backup options. The only supported\n         resource type is Amazon EC2 instances with Windows Volume Shadow Copy Service\n         (VSS). For a CloudFormation example, see the <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/integrate-cloudformation-with-aws-backup.html\">sample\n            CloudFormation template to enable Windows VSS</a> in the <i>Backup User Guide</i>.</p>\n         <p>Valid values: <code>EC2</code>.</p>"
          }
        },
        "BackupOptions": {
          "target": "com.amazonaws.backup#BackupOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the backup option for a selected resource. This option is only available for\n         Windows VSS backup jobs.</p>\n         <p>Valid values: </p>\n         <p>Set to <code>\"WindowsVSS\":\"enabled\"</code> to enable the <code>WindowsVSS</code> backup\n         option and create a Windows VSS backup. </p>\n         <p>Set to <code>\"WindowsVSS\":\"disabled\"</code> to create a regular backup. The\n            <code>WindowsVSS</code> option is not enabled by default.</p>\n         <p>If you specify an invalid option, you get an <code>InvalidParameterValueException</code>\n         exception.</p>\n         <p>For more information about Windows VSS backups, see <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/windows-backups.html\">Creating a VSS-Enabled Windows\n            Backup</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of backup options for each resource type.</p>"
      }
    },
    "com.amazonaws.backup#AdvancedBackupSettings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#AdvancedBackupSetting"
      }
    },
    "com.amazonaws.backup#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.backup#string"
        },
        "Message": {
          "target": "com.amazonaws.backup#string"
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "Context": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The required resource already exists.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.backup#BackupJob": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.backup#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID that owns the backup job.</p>"
          }
        },
        "BackupJobId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a request to Backup to back up a resource.</p>"
          }
        },
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Amazon Web Services\n         Region where they are created. They consist of lowercase letters, numbers, and\n         hyphens.</p>"
          }
        },
        "BackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
          }
        },
        "RecoveryPointArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a recovery point; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a resource. The format of the ARN depends on the\n         resource type.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a backup job is created, in Unix format and Coordinated Universal Time\n         (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the\n         value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "CompletionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a job to create a backup job is completed, in Unix format and\n         Coordinated Universal Time (UTC). The value of <code>CompletionDate</code> is accurate to\n         milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018\n         12:11:30.087 AM.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.backup#BackupJobState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of a resource recovery point.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A detailed message explaining the status of the job to back up a resource.</p>"
          }
        },
        "PercentDone": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Contains an estimated percentage complete of a job at the time the job status was\n         queried.</p>"
          }
        },
        "BackupSizeInBytes": {
          "target": "com.amazonaws.backup#Long",
          "traits": {
            "smithy.api#documentation": "<p>The size, in bytes, of a backup.</p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.backup#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IAM role ARN used to create the target recovery point. IAM roles other\n         than the default role must include either <code>AWSBackup</code> or <code>AwsBackup</code>\n         in the role name. For example,\n            <code>arn:aws:iam::123456789012:role/AWSBackupRDSAccess</code>. Role names without those\n         strings lack permissions to perform backup jobs.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.backup#RecoveryPointCreator",
          "traits": {
            "smithy.api#documentation": "<p>Contains identifying information about the creation of a backup job, including the\n            <code>BackupPlanArn</code>, <code>BackupPlanId</code>, <code>BackupPlanVersion</code>,\n         and <code>BackupRuleId</code> of the backup plan used to create it.</p>"
          }
        },
        "ExpectedCompletionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a job to back up resources is expected to be completed, in Unix format\n         and Coordinated Universal Time (UTC). The value of <code>ExpectedCompletionDate</code> is\n         accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January\n         26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "StartBy": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the time in Unix format and Coordinated Universal Time (UTC) when a backup job\n         must be started before it is canceled. The value is calculated by adding the start window\n         to the scheduled time. So if the scheduled time were 6:00 PM and the start window is 2\n         hours, the <code>StartBy</code> time would be 8:00 PM on the date specified. The value of\n            <code>StartBy</code> is accurate to milliseconds. For example, the value 1516925490.087\n         represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.backup#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon Web Services resource to be backed up; for example, an Amazon Elastic Block Store (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS) database. For Windows Volume Shadow Copy Service (VSS) backups, the only\n         supported resource type is Amazon EC2.</p>"
          }
        },
        "BytesTransferred": {
          "target": "com.amazonaws.backup#Long",
          "traits": {
            "smithy.api#documentation": "<p>The size in bytes transferred to a backup vault at the time that the job status was\n         queried.</p>"
          }
        },
        "BackupOptions": {
          "target": "com.amazonaws.backup#BackupOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the backup option for a selected resource. This option is only available for\n         Windows Volume Shadow Copy Service (VSS) backup jobs.</p>\n         <p>Valid values: Set to <code>\"WindowsVSS\":\"enabled\"</code> to enable the\n            <code>WindowsVSS</code> backup option and create a Windows VSS backup. Set to\n            <code>\"WindowsVSS\":\"disabled\"</code> to create a regular backup. If you specify an\n         invalid option, you get an <code>InvalidParameterValueException</code> exception.</p>"
          }
        },
        "BackupType": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Represents the type of backup for a backup job.</p>"
          }
        },
        "ParentJobId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>This uniquely identifies a request to Backup \n         to back up a resource. The return will be the \n         parent (composite) job ID.</p>"
          }
        },
        "IsParent": {
          "target": "com.amazonaws.backup#Boolean2",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>This is a boolean value indicating this is \n         a parent (composite) backup job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains detailed information about a backup job.</p>"
      }
    },
    "com.amazonaws.backup#BackupJobChildJobsInState": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.backup#BackupJobState"
      },
      "value": {
        "target": "com.amazonaws.backup#Long"
      }
    },
    "com.amazonaws.backup#BackupJobState": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "ABORTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABORTING"
          }
        },
        "ABORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABORTED"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        },
        "PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL"
          }
        }
      }
    },
    "com.amazonaws.backup#BackupJobsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupJob"
      }
    },
    "com.amazonaws.backup#BackupOptionKey": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_\\.]{1,50}$"
      }
    },
    "com.amazonaws.backup#BackupOptionValue": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_\\.]{1,50}$"
      }
    },
    "com.amazonaws.backup#BackupOptions": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.backup#BackupOptionKey"
      },
      "value": {
        "target": "com.amazonaws.backup#BackupOptionValue"
      }
    },
    "com.amazonaws.backup#BackupPlan": {
      "type": "structure",
      "members": {
        "BackupPlanName": {
          "target": "com.amazonaws.backup#BackupPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of a backup plan. Must contain 1 to 50 alphanumeric or '-_.'\n         characters.</p>",
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.backup#BackupRules",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>BackupRule</code> objects, each of which specifies a scheduled task\n         that is used to back up a selection of resources. </p>",
            "smithy.api#required": {}
          }
        },
        "AdvancedBackupSettings": {
          "target": "com.amazonaws.backup#AdvancedBackupSettings",
          "traits": {
            "smithy.api#documentation": "<p>Contains a list of <code>BackupOptions</code> for each resource type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an optional backup plan display name and an array of <code>BackupRule</code>\n         objects, each of which specifies a backup rule. Each rule in a backup plan is a separate\n         scheduled task and can back up a different selection of Amazon Web Services\n         resources.</p>"
      }
    },
    "com.amazonaws.backup#BackupPlanInput": {
      "type": "structure",
      "members": {
        "BackupPlanName": {
          "target": "com.amazonaws.backup#BackupPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of a backup plan. Must contain 1 to 50 alphanumeric or '-_.'\n         characters.</p>",
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.backup#BackupRulesInput",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>BackupRule</code> objects, each of which specifies a scheduled task\n         that is used to back up a selection of resources.</p>",
            "smithy.api#required": {}
          }
        },
        "AdvancedBackupSettings": {
          "target": "com.amazonaws.backup#AdvancedBackupSettings",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of <code>BackupOptions</code> for each resource type. These settings\n         are only available for Windows Volume Shadow Copy Service (VSS) backup jobs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an optional backup plan display name and an array of <code>BackupRule</code>\n         objects, each of which specifies a backup rule. Each rule in a backup plan is a separate\n         scheduled task. </p>"
      }
    },
    "com.amazonaws.backup#BackupPlanName": {
      "type": "string"
    },
    "com.amazonaws.backup#BackupPlanTemplatesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupPlanTemplatesListMember"
      }
    },
    "com.amazonaws.backup#BackupPlanTemplatesListMember": {
      "type": "structure",
      "members": {
        "BackupPlanTemplateId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a stored backup plan template.</p>"
          }
        },
        "BackupPlanTemplateName": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>The optional display name of a backup plan template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object specifying metadata associated with a backup plan template.</p>"
      }
    },
    "com.amazonaws.backup#BackupPlanVersionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupPlansListMember"
      }
    },
    "com.amazonaws.backup#BackupPlansList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupPlansListMember"
      }
    },
    "com.amazonaws.backup#BackupPlansListMember": {
      "type": "structure",
      "members": {
        "BackupPlanArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup plan; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:plan:8F81F553-3A74-4A3F-B93D-B3360DC80C50</code>.</p>"
          }
        },
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a resource backup plan is created, in Unix format and Coordinated\n         Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds.\n         For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "DeletionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a backup plan is deleted, in Unix format and Coordinated Universal\n         Time (UTC). The value of <code>DeletionDate</code> is accurate to milliseconds. For\n         example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Unique, randomly generated, Unicode, UTF-8 encoded strings that are at most 1,024 bytes\n         long. Version IDs cannot be edited.</p>"
          }
        },
        "BackupPlanName": {
          "target": "com.amazonaws.backup#BackupPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of a saved backup plan.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and allows failed requests to be retried\n         without the risk of running the operation twice. This parameter is optional.</p>\n         <p>If used, this parameter must contain 1 to 50 alphanumeric or '-_.' characters.</p>"
          }
        },
        "LastExecutionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time a job to back up resources was run with this rule. A date and time, in\n         Unix format and Coordinated Universal Time (UTC). The value of\n            <code>LastExecutionDate</code> is accurate to milliseconds. For example, the value\n         1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "AdvancedBackupSettings": {
          "target": "com.amazonaws.backup#AdvancedBackupSettings",
          "traits": {
            "smithy.api#documentation": "<p>Contains a list of <code>BackupOptions</code> for a resource type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata about a backup plan.</p>"
      }
    },
    "com.amazonaws.backup#BackupRule": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.backup#BackupRuleName",
          "traits": {
            "smithy.api#documentation": "<p>A display name for a backup rule. Must contain 1 to 50 alphanumeric or '-_.'\n         characters.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetBackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Amazon Web Services\n         Region where they are created. They consist of lowercase letters, numbers, and\n         hyphens.</p>",
            "smithy.api#required": {}
          }
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.backup#CronExpression",
          "traits": {
            "smithy.api#documentation": "<p>A cron expression in UTC specifying when Backup initiates a backup job. For\n         more information about Amazon Web Services cron expressions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html\">Schedule Expressions for Rules</a> in the <i>Amazon CloudWatch Events User\n            Guide.</i>. Two examples of Amazon Web Services cron expressions are <code> 15 * ?\n            * * *</code> (take a backup every hour at 15 minutes past the hour) and <code>0 12 * * ?\n            *</code> (take a backup every day at 12 noon UTC). For a table of examples, click the\n         preceding link and scroll down the page.</p>"
          }
        },
        "StartWindowMinutes": {
          "target": "com.amazonaws.backup#WindowMinutes",
          "traits": {
            "smithy.api#documentation": "<p>A value in minutes after a backup is scheduled before a job will be canceled if it\n         doesn't start successfully. This value is optional. \n         If this value is included, it must be at least 60 minutes to avoid errors.</p>"
          }
        },
        "CompletionWindowMinutes": {
          "target": "com.amazonaws.backup#WindowMinutes",
          "traits": {
            "smithy.api#documentation": "<p>A value in minutes after a backup job is successfully started before it must be\n         completed or it will be canceled by Backup. This value is optional.</p>"
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.backup#Lifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle defines when a protected resource is transitioned to cold storage and when\n         it expires. Backup transitions and expires backups automatically according to\n         the lifecycle that you define. </p>\n         <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90\n         days. Therefore, the “retention” setting must be 90 days greater than the “transition to\n         cold after days” setting. The “transition to cold after days” setting cannot be changed\n         after a backup has been transitioned to cold. </p>\n         <p>Resource types that are able to be transitioned to cold storage are listed in the \"Lifecycle to cold storage\" \n         section of the <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/whatisbackup.html#features-by-resource\"> \n            Feature availability by resource</a> table. Backup ignores this expression for\n         other resource types.</p>"
          }
        },
        "RecoveryPointTags": {
          "target": "com.amazonaws.backup#Tags",
          "traits": {
            "smithy.api#documentation": "<p>An array of key-value pair strings that are assigned to resources that are associated\n         with this rule when restored from backup.</p>"
          }
        },
        "RuleId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a rule that is used to schedule the backup of a selection of\n         resources.</p>"
          }
        },
        "CopyActions": {
          "target": "com.amazonaws.backup#CopyActions",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>CopyAction</code> objects, which contains the details of the copy\n         operation.</p>"
          }
        },
        "EnableContinuousBackup": {
          "target": "com.amazonaws.backup#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Backup creates continuous backups. True causes Backup to create continuous backups capable of point-in-time restore (PITR). False\n         (or not specified) causes Backup to create snapshot backups.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a scheduled task used to back up a selection of resources.</p>"
      }
    },
    "com.amazonaws.backup#BackupRuleInput": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.backup#BackupRuleName",
          "traits": {
            "smithy.api#documentation": "<p>A display name for a backup rule. Must contain 1 to 50 alphanumeric or '-_.'\n         characters.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetBackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Amazon Web Services\n         Region where they are created. They consist of lowercase letters, numbers, and\n         hyphens.</p>",
            "smithy.api#required": {}
          }
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.backup#CronExpression",
          "traits": {
            "smithy.api#documentation": "<p>A CRON expression in UTC specifying when Backup initiates a backup\n         job.</p>"
          }
        },
        "StartWindowMinutes": {
          "target": "com.amazonaws.backup#WindowMinutes",
          "traits": {
            "smithy.api#documentation": "<p>A value in minutes after a backup is scheduled before a job will be canceled if it\n         doesn't start successfully. This value is optional. \n         If this value is included, it must be at least 60 minutes to avoid errors.</p>"
          }
        },
        "CompletionWindowMinutes": {
          "target": "com.amazonaws.backup#WindowMinutes",
          "traits": {
            "smithy.api#documentation": "<p>A value in minutes after a backup job is successfully started before it must be\n         completed or it will be canceled by Backup. This value is optional.</p>"
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.backup#Lifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle defines when a protected resource is transitioned to cold storage and when\n         it expires. Backup will transition and expire backups automatically according\n         to the lifecycle that you define. </p>\n         <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90\n         days. Therefore, the “retention” setting must be 90 days greater than the “transition to\n         cold after days” setting. The “transition to cold after days” setting cannot be changed\n         after a backup has been transitioned to cold.</p>\n         <p>Resource types that are able to be transitioned to cold storage are listed in the \"Lifecycle to cold storage\" \n         section of the <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/whatisbackup.html#features-by-resource\"> \n            Feature availability by resource</a> table. Backup ignores this expression for\n         other resource types.</p>"
          }
        },
        "RecoveryPointTags": {
          "target": "com.amazonaws.backup#Tags",
          "traits": {
            "smithy.api#documentation": "<p>To help organize your resources, you can assign your own metadata to the resources that\n         you create. Each tag is a key-value pair.</p>"
          }
        },
        "CopyActions": {
          "target": "com.amazonaws.backup#CopyActions",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>CopyAction</code> objects, which contains the details of the copy\n         operation.</p>"
          }
        },
        "EnableContinuousBackup": {
          "target": "com.amazonaws.backup#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Backup creates continuous backups. True causes Backup to create continuous backups capable of point-in-time restore (PITR). False\n         (or not specified) causes Backup to create snapshot backups.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a scheduled task used to back up a selection of resources.</p>"
      }
    },
    "com.amazonaws.backup#BackupRuleName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_\\.]{1,50}$"
      }
    },
    "com.amazonaws.backup#BackupRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupRule"
      }
    },
    "com.amazonaws.backup#BackupRulesInput": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupRuleInput"
      }
    },
    "com.amazonaws.backup#BackupSelection": {
      "type": "structure",
      "members": {
        "SelectionName": {
          "target": "com.amazonaws.backup#BackupSelectionName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of a resource selection document. Must contain 1 to 50 alphanumeric or\n         '-_.' characters.</p>",
            "smithy.api#required": {}
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.backup#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that Backup uses to authenticate when backing up the\n         target resource; for example, <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Resources": {
          "target": "com.amazonaws.backup#ResourceArns",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon Resource Names (ARNs) to assign to a backup plan. The maximum number of\n         ARNs is 500 without wildcards, or 30 ARNs with wildcards.</p>\n         <p>If you need to assign many resources to a backup plan, consider a different resource\n         selection strategy, such as assigning all resources of a resource type or refining your\n         resource selection using tags.</p>"
          }
        },
        "ListOfTags": {
          "target": "com.amazonaws.backup#ListOfTags",
          "traits": {
            "smithy.api#documentation": "<p>A list of conditions that you define to assign resources to your backup plans using\n         tags. For example, <code>\"StringEquals\":  {\n            \"ConditionKey\": \"aws:ResourceTag/CreatedByCryo\",\n            \"ConditionValue\": \"true\"\n            },</code>. Condition\n         operators are case sensitive.</p>\n         <p>\n            <code>ListOfTags</code> differs from <code>Conditions</code> as follows:</p>\n         <ul>\n            <li>\n               <p>When you specify more than one condition, you assign all resources that match AT\n               LEAST ONE condition (using OR logic).</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListOfTags</code> only supports <code>StringEquals</code>.\n                  <code>Conditions</code> supports <code>StringEquals</code>,\n                  <code>StringLike</code>, <code>StringNotEquals</code>, and\n                  <code>StringNotLike</code>. </p>\n            </li>\n         </ul>"
          }
        },
        "NotResources": {
          "target": "com.amazonaws.backup#ResourceArns",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon Resource Names (ARNs) to exclude from a backup plan. The maximum number\n         of ARNs is 500 without wildcards, or 30 ARNs with wildcards.</p>\n         <p>If you need to exclude many resources from a backup plan, consider a different resource\n         selection strategy, such as assigning only one or a few resource types or refining your\n         resource selection using tags.</p>"
          }
        },
        "Conditions": {
          "target": "com.amazonaws.backup#Conditions",
          "traits": {
            "smithy.api#documentation": "<p>A list of conditions that you define to assign resources to your backup plans using\n         tags. For example, <code>\"StringEquals\":  {\n            \"ConditionKey\": \"aws:ResourceTag/CreatedByCryo\",\n            \"ConditionValue\": \"true\"\n            },</code>. Condition\n         operators are case sensitive.</p>\n         <p>\n            <code>Conditions</code> differs from <code>ListOfTags</code> as follows:</p>\n         <ul>\n            <li>\n               <p>When you specify more than one condition, you only assign the resources that match\n               ALL conditions (using AND logic).</p>\n            </li>\n            <li>\n               <p>\n                  <code>Conditions</code> supports <code>StringEquals</code>,\n                  <code>StringLike</code>, <code>StringNotEquals</code>, and\n                  <code>StringNotLike</code>. <code>ListOfTags</code> only supports\n                  <code>StringEquals</code>.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used to specify a set of resources to a backup plan.</p>\n         <p>Specifying your desired <code>Conditions</code>, <code>ListOfTags</code>, <code>NotResources</code>, \n         and/or <code>Resources</code> is recommended. If none of these are specified, Backup will attempt to \n       select all supported and opted-in storage resources, which could have unintended cost implications.</p>"
      }
    },
    "com.amazonaws.backup#BackupSelectionName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_\\.]{1,50}$"
      }
    },
    "com.amazonaws.backup#BackupSelectionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupSelectionsListMember"
      }
    },
    "com.amazonaws.backup#BackupSelectionsListMember": {
      "type": "structure",
      "members": {
        "SelectionId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a request to assign a set of resources to a backup plan.</p>"
          }
        },
        "SelectionName": {
          "target": "com.amazonaws.backup#BackupSelectionName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of a resource selection document.</p>"
          }
        },
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a backup plan is created, in Unix format and Coordinated Universal\n         Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For\n         example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and allows failed requests to be retried\n         without the risk of running the operation twice. This parameter is optional.</p>\n         <p>If used, this parameter must contain 1 to 50 alphanumeric or '-_.' characters.</p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.backup#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IAM role Amazon Resource Name (ARN) to create the target recovery point;\n         for example, <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata about a <code>BackupSelection</code> object.</p>"
      }
    },
    "com.amazonaws.backup#BackupVaultEvent": {
      "type": "enum",
      "members": {
        "BACKUP_JOB_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_JOB_STARTED"
          }
        },
        "BACKUP_JOB_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_JOB_COMPLETED"
          }
        },
        "BACKUP_JOB_SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_JOB_SUCCESSFUL"
          }
        },
        "BACKUP_JOB_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_JOB_FAILED"
          }
        },
        "BACKUP_JOB_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_JOB_EXPIRED"
          }
        },
        "RESTORE_JOB_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORE_JOB_STARTED"
          }
        },
        "RESTORE_JOB_COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORE_JOB_COMPLETED"
          }
        },
        "RESTORE_JOB_SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORE_JOB_SUCCESSFUL"
          }
        },
        "RESTORE_JOB_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTORE_JOB_FAILED"
          }
        },
        "COPY_JOB_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY_JOB_STARTED"
          }
        },
        "COPY_JOB_SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY_JOB_SUCCESSFUL"
          }
        },
        "COPY_JOB_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPY_JOB_FAILED"
          }
        },
        "RECOVERY_POINT_MODIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECOVERY_POINT_MODIFIED"
          }
        },
        "BACKUP_PLAN_CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_PLAN_CREATED"
          }
        },
        "BACKUP_PLAN_MODIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BACKUP_PLAN_MODIFIED"
          }
        },
        "S3_BACKUP_OBJECT_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3_BACKUP_OBJECT_FAILED"
          }
        },
        "S3_RESTORE_OBJECT_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3_RESTORE_OBJECT_FAILED"
          }
        }
      }
    },
    "com.amazonaws.backup#BackupVaultEvents": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupVaultEvent"
      }
    },
    "com.amazonaws.backup#BackupVaultList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupVaultListMember"
      }
    },
    "com.amazonaws.backup#BackupVaultListMember": {
      "type": "structure",
      "members": {
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Amazon Web Services\n         Region where they are created. They consist of lowercase letters, numbers, and\n         hyphens.</p>"
          }
        },
        "BackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a resource backup is created, in Unix format and Coordinated Universal\n         Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For\n         example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "EncryptionKeyArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>A server-side encryption key you can specify to encrypt your backups from services\n      that support full Backup management; for example,\n      <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.\n      If you specify a key, you must specify its ARN, not its alias. If you do not specify a key,\n      Backup creates a KMS key for you by default.</p>\n         <p>To learn which Backup services support full Backup management\n         and how Backup handles encryption for backups from services that do not yet support\n         full Backup, see <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/encryption.html\">\n            Encryption for backups in Backup</a>\n         </p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and allows failed requests to be retried\n         without the risk of running the operation twice. This parameter is optional.</p>\n         <p>If used, this parameter must contain 1 to 50 alphanumeric or '-_.' characters.</p>"
          }
        },
        "NumberOfRecoveryPoints": {
          "target": "com.amazonaws.backup#Long2",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of recovery points that are stored in a backup vault.</p>"
          }
        },
        "Locked": {
          "target": "com.amazonaws.backup#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value that indicates whether Backup Vault Lock applies to the\n         selected backup vault. If <code>true</code>, Vault Lock prevents delete and update\n         operations on the recovery points in the selected vault.</p>"
          }
        },
        "MinRetentionDays": {
          "target": "com.amazonaws.backup#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Backup Vault Lock setting that specifies the minimum retention period\n         that the vault retains its recovery points. If this parameter is not specified, Vault Lock\n         does not enforce a minimum retention period.</p>\n         <p>If specified, any backup or copy job to the vault must have a lifecycle policy with a\n         retention period equal to or longer than the minimum retention period. If the job's\n         retention period is shorter than that minimum retention period, then the vault fails the\n         backup or copy job, and you should either modify your lifecycle settings or use a different\n         vault. Recovery points already stored in the vault prior to Vault Lock are not\n         affected.</p>"
          }
        },
        "MaxRetentionDays": {
          "target": "com.amazonaws.backup#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Backup Vault Lock setting that specifies the maximum retention period\n         that the vault retains its recovery points. If this parameter is not specified, Vault Lock\n         does not enforce a maximum retention period on the recovery points in the vault (allowing\n         indefinite storage).</p>\n         <p>If specified, any backup or copy job to the vault must have a lifecycle policy with a\n         retention period equal to or shorter than the maximum retention period. If the job's\n         retention period is longer than that maximum retention period, then the vault fails the\n         backup or copy job, and you should either modify your lifecycle settings or use a different\n         vault. Recovery points already stored in the vault prior to Vault Lock are not\n         affected.</p>"
          }
        },
        "LockDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when Backup Vault Lock configuration becomes immutable,\n         meaning it cannot be changed or deleted.</p>\n         <p>If you applied Vault Lock to your vault without specifying a lock date, you can change\n         your Vault Lock settings, or delete Vault Lock from the vault entirely, at any time.</p>\n         <p>This value is in Unix format, Coordinated Universal Time (UTC), and accurate to\n         milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018\n         12:11:30.087 AM.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata about a backup vault.</p>"
      }
    },
    "com.amazonaws.backup#BackupVaultName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_]{2,50}$"
      }
    },
    "com.amazonaws.backup#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.backup#Boolean2": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.backup#CalculatedLifecycle": {
      "type": "structure",
      "members": {
        "MoveToColdStorageAt": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that specifies when to transition a recovery point to cold storage.</p>"
          }
        },
        "DeleteAt": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that specifies when to delete a recovery point.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains <code>DeleteAt</code> and <code>MoveToColdStorageAt</code> timestamps, which\n         are used to specify a lifecycle for a recovery point.</p>\n         <p>The lifecycle defines when a protected resource is transitioned to cold storage and when\n         it expires. Backup transitions and expires backups automatically according to\n         the lifecycle that you define.</p>\n         <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90\n         days. Therefore, the “retention” setting must be 90 days greater than the “transition to\n         cold after days” setting. The “transition to cold after days” setting cannot be changed\n         after a backup has been transitioned to cold.</p>\n         <p>Resource types that are able to be transitioned to cold storage are listed in the \"Lifecycle to cold storage\" \n         section of the <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/whatisbackup.html#features-by-resource\"> \n            Feature availability by resource</a> table. Backup ignores this expression for\n         other resource types.</p>"
      }
    },
    "com.amazonaws.backup#CancelLegalHold": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#CancelLegalHoldInput"
      },
      "output": {
        "target": "com.amazonaws.backup#CancelLegalHoldOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This action removes the specified legal hold on a recovery point. \n         This action can only be performed by a user with sufficient permissions.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/legal-holds/{LegalHoldId}",
          "code": 201
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#CancelLegalHoldInput": {
      "type": "structure",
      "members": {
        "LegalHoldId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Legal hold ID required to remove the specified legal hold on a recovery point.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "CancelDescription": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>String describing the reason for removing the legal hold.</p>",
            "smithy.api#httpQuery": "cancelDescription",
            "smithy.api#required": {}
          }
        },
        "RetainRecordInDays": {
          "target": "com.amazonaws.backup#Long",
          "traits": {
            "smithy.api#documentation": "<p>The integer amount in days specifying amount of days after this \n         API operation to remove legal hold.</p>",
            "smithy.api#httpQuery": "retainRecordInDays"
          }
        }
      }
    },
    "com.amazonaws.backup#CancelLegalHoldOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.backup#ComplianceResourceIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#string"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.backup#Condition": {
      "type": "structure",
      "members": {
        "ConditionType": {
          "target": "com.amazonaws.backup#ConditionType",
          "traits": {
            "smithy.api#documentation": "<p>An operation applied to a key-value pair used to assign resources to your backup plan.\n         Condition only supports <code>StringEquals</code>. For more flexible assignment options,\n         including <code>StringLike</code> and the ability to exclude resources from your backup\n         plan, use <code>Conditions</code> (with an \"s\" on the end) for your <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/API_BackupSelection.html\">\n               <code>BackupSelection</code>\n            </a>.</p>",
            "smithy.api#required": {}
          }
        },
        "ConditionKey": {
          "target": "com.amazonaws.backup#ConditionKey",
          "traits": {
            "smithy.api#documentation": "<p>The key in a key-value pair. For example, in the tag <code>Department:\n         Accounting</code>, <code>Department</code> is the key.</p>",
            "smithy.api#required": {}
          }
        },
        "ConditionValue": {
          "target": "com.amazonaws.backup#ConditionValue",
          "traits": {
            "smithy.api#documentation": "<p>The value in a key-value pair. For example, in the tag <code>Department:\n            Accounting</code>, <code>Accounting</code> is the value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an array of triplets made up of a condition type (such as\n            <code>StringEquals</code>), a key, and a value. Used to filter resources using their\n         tags and assign them to a backup plan. Case sensitive.</p>"
      }
    },
    "com.amazonaws.backup#ConditionKey": {
      "type": "string"
    },
    "com.amazonaws.backup#ConditionParameter": {
      "type": "structure",
      "members": {
        "ConditionKey": {
          "target": "com.amazonaws.backup#ConditionKey",
          "traits": {
            "smithy.api#documentation": "<p>The key in a key-value pair. For example, in the tag <code>Department:\n         Accounting</code>, <code>Department</code> is the key.</p>"
          }
        },
        "ConditionValue": {
          "target": "com.amazonaws.backup#ConditionValue",
          "traits": {
            "smithy.api#documentation": "<p>The value in a key-value pair. For example, in the tag <code>Department:\n            Accounting</code>, <code>Accounting</code> is the value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Includes information about tags you define to assign tagged resources to a backup\n         plan.</p>"
      }
    },
    "com.amazonaws.backup#ConditionParameters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#ConditionParameter"
      }
    },
    "com.amazonaws.backup#ConditionType": {
      "type": "enum",
      "members": {
        "STRINGEQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRINGEQUALS"
          }
        }
      }
    },
    "com.amazonaws.backup#ConditionValue": {
      "type": "string"
    },
    "com.amazonaws.backup#Conditions": {
      "type": "structure",
      "members": {
        "StringEquals": {
          "target": "com.amazonaws.backup#ConditionParameters",
          "traits": {
            "smithy.api#documentation": "<p>Filters the values of your tagged resources for only those resources that you tagged\n         with the same value. Also called \"exact matching.\"</p>"
          }
        },
        "StringNotEquals": {
          "target": "com.amazonaws.backup#ConditionParameters",
          "traits": {
            "smithy.api#documentation": "<p>Filters the values of your tagged resources for only those resources that you tagged\n         that do not have the same value. Also called \"negated matching.\"</p>"
          }
        },
        "StringLike": {
          "target": "com.amazonaws.backup#ConditionParameters",
          "traits": {
            "smithy.api#documentation": "<p>Filters the values of your tagged resources for matching tag values with the use of a\n         wildcard character (*) anywhere in the string. For example, \"prod*\" or \"*rod*\" matches the\n         tag value \"production\".</p>"
          }
        },
        "StringNotLike": {
          "target": "com.amazonaws.backup#ConditionParameters",
          "traits": {
            "smithy.api#documentation": "<p>Filters the values of your tagged resources for non-matching tag values with the use of\n         a wildcard character (*) anywhere in the string.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about which resources to include or exclude from a backup plan\n         using their tags. Conditions are case sensitive.</p>"
      }
    },
    "com.amazonaws.backup#ConflictException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.backup#string"
        },
        "Message": {
          "target": "com.amazonaws.backup#string"
        },
        "Type": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "Context": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ConflictException",
          "httpResponseCode": 409
        },
        "smithy.api#documentation": "<p>Backup can't perform the action that you requested until it finishes\n         performing a previous action. Try again later.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.backup#ControlInputParameter": {
      "type": "structure",
      "members": {
        "ParameterName": {
          "target": "com.amazonaws.backup#ParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a parameter, for example, <code>BackupPlanFrequency</code>.</p>"
          }
        },
        "ParameterValue": {
          "target": "com.amazonaws.backup#ParameterValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of parameter, for example, <code>hourly</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of parameters for a control. A control can have zero, one, or more than one\n         parameter. An example of a control with two parameters is: \"backup plan frequency is at\n         least <code>daily</code> and the retention period is at least <code>1 year</code>\". The\n         first parameter is <code>daily</code>. The second parameter is <code>1 year</code>.</p>"
      }
    },
    "com.amazonaws.backup#ControlInputParameters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#ControlInputParameter"
      }
    },
    "com.amazonaws.backup#ControlName": {
      "type": "string"
    },
    "com.amazonaws.backup#ControlScope": {
      "type": "structure",
      "members": {
        "ComplianceResourceIds": {
          "target": "com.amazonaws.backup#ComplianceResourceIdList",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the only Amazon Web Services resource that you want your control scope to\n         contain.</p>"
          }
        },
        "ComplianceResourceTypes": {
          "target": "com.amazonaws.backup#ResourceTypeList",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether the control scope includes one or more types of resources, such as\n            <code>EFS</code> or <code>RDS</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.backup#stringMap",
          "traits": {
            "smithy.api#documentation": "<p>The tag key-value pair applied to those Amazon Web Services resources that you want to\n         trigger an evaluation for a rule. A maximum of one key-value pair can be provided. The tag\n         value is optional, but it cannot be an empty string. The structure to assign a tag is:\n            <code>[{\"Key\":\"string\",\"Value\":\"string\"}]</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A framework consists of one or more controls. Each control has its own control scope.\n         The control scope can include one or more resource types, a combination of a tag key and\n         value, or a combination of one resource type and one resource ID. If no scope is specified,\n         evaluations for the rule are triggered when any resource in your recording group changes in\n         configuration.</p>\n         <note>\n            <p>To set a control scope that includes all of a particular resource, leave the\n               <code>ControlScope</code> empty or do not pass it when calling\n               <code>CreateFramework</code>.</p>\n         </note>"
      }
    },
    "com.amazonaws.backup#CopyAction": {
      "type": "structure",
      "members": {
        "Lifecycle": {
          "target": "com.amazonaws.backup#Lifecycle"
        },
        "DestinationBackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies the destination backup vault for\n         the copied backup. For example,\n            <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the copy operation.</p>"
      }
    },
    "com.amazonaws.backup#CopyActions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#CopyAction"
      }
    },
    "com.amazonaws.backup#CopyJob": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.backup#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID that owns the copy job.</p>"
          }
        },
        "CopyJobId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a copy job.</p>"
          }
        },
        "SourceBackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a source copy vault; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>. </p>"
          }
        },
        "SourceRecoveryPointArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a source recovery point; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>"
          }
        },
        "DestinationBackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a destination copy vault; for\n         example, <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
          }
        },
        "DestinationRecoveryPointArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a destination recovery point; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services resource to be copied; for example, an Amazon Elastic Block Store\n            (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS)\n         database.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a copy job is created, in Unix format and Coordinated Universal Time\n         (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the\n         value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "CompletionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a copy job is completed, in Unix format and Coordinated Universal Time\n         (UTC). The value of <code>CompletionDate</code> is accurate to milliseconds. For example,\n         the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.backup#CopyJobState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of a copy job.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A detailed message explaining the status of the job to copy a resource.</p>"
          }
        },
        "BackupSizeInBytes": {
          "target": "com.amazonaws.backup#Long",
          "traits": {
            "smithy.api#documentation": "<p>The size, in bytes, of a copy job.</p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.backup#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IAM role ARN used to copy the target recovery point; for example,\n            <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.backup#RecoveryPointCreator"
        },
        "ResourceType": {
          "target": "com.amazonaws.backup#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon Web Services resource to be copied; for example, an Amazon Elastic Block Store (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS) database.</p>"
          }
        },
        "ParentJobId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>This uniquely identifies a request to Backup \n         to copy a resource. The return will be the \n         parent (composite) job ID.</p>"
          }
        },
        "IsParent": {
          "target": "com.amazonaws.backup#Boolean2",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>This is a boolean value indicating this is \n         a parent (composite) copy job.</p>"
          }
        },
        "CompositeMemberIdentifier": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>This is the identifier of a resource within a composite group, such as \n         nested (child) recovery point belonging to a composite (parent) stack. The \n         ID is transferred from \n         the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/resources-section-structure.html#resources-section-structure-syntax\">\n            logical ID</a> within a stack.</p>"
          }
        },
        "NumberOfChildJobs": {
          "target": "com.amazonaws.backup#Long",
          "traits": {
            "smithy.api#documentation": "<p>This is the number of child (nested) copy jobs.</p>"
          }
        },
        "ChildJobsInState": {
          "target": "com.amazonaws.backup#CopyJobChildJobsInState",
          "traits": {
            "smithy.api#documentation": "<p>This returns the statistics of the included \n         child (nested) copy jobs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains detailed information about a copy job.</p>"
      }
    },
    "com.amazonaws.backup#CopyJobChildJobsInState": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.backup#CopyJobState"
      },
      "value": {
        "target": "com.amazonaws.backup#Long"
      }
    },
    "com.amazonaws.backup#CopyJobState": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "PARTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL"
          }
        }
      }
    },
    "com.amazonaws.backup#CopyJobsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#CopyJob"
      }
    },
    "com.amazonaws.backup#CreateBackupPlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#CreateBackupPlanInput"
      },
      "output": {
        "target": "com.amazonaws.backup#CreateBackupPlanOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#LimitExceededException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a backup plan using a backup plan name and backup rules. A backup plan is a\n         document that contains information that Backup uses to schedule tasks that\n         create recovery points for resources.</p>\n         <p>If you call <code>CreateBackupPlan</code> with a plan that already exists, you receive\n         an <code>AlreadyExistsException</code> exception.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/backup/plans",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#CreateBackupPlanInput": {
      "type": "structure",
      "members": {
        "BackupPlan": {
          "target": "com.amazonaws.backup#BackupPlanInput",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the body of a backup plan. Includes a <code>BackupPlanName</code> and one or\n         more sets of <code>Rules</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "BackupPlanTags": {
          "target": "com.amazonaws.backup#Tags",
          "traits": {
            "smithy.api#documentation": "<p>To help organize your resources, you can assign your own metadata to the resources that\n         you create. Each tag is a key-value pair. The specified tags are assigned to all backups\n         created with this plan.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the request and allows failed requests to be retried without the risk of\n         running the operation twice. If the request includes a <code>CreatorRequestId</code> that\n         matches an existing backup plan, that plan is returned. This parameter is optional.</p>\n         <p>If used, this parameter must contain 1 to 50 alphanumeric or '-_.' characters.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateBackupPlanOutput": {
      "type": "structure",
      "members": {
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.</p>"
          }
        },
        "BackupPlanArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup plan; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:plan:8F81F553-3A74-4A3F-B93D-B3360DC80C50</code>.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that a backup plan is created, in Unix format and Coordinated\n         Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds.\n         For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Unique, randomly generated, Unicode, UTF-8 encoded strings that are at most 1,024 bytes\n         long. They cannot be edited.</p>"
          }
        },
        "AdvancedBackupSettings": {
          "target": "com.amazonaws.backup#AdvancedBackupSettings",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>BackupOptions</code> settings for a resource type. This option is only\n         available for Windows Volume Shadow Copy Service (VSS) backup jobs.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateBackupSelection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#CreateBackupSelectionInput"
      },
      "output": {
        "target": "com.amazonaws.backup#CreateBackupSelectionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#LimitExceededException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a JSON document that specifies a set of resources to assign to a backup plan.\n         For examples, see <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/assigning-resources.html#assigning-resources-json\">Assigning resources programmatically</a>. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/backup/plans/{BackupPlanId}/selections",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#CreateBackupSelectionInput": {
      "type": "structure",
      "members": {
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies the backup plan to be associated with the selection of\n         resources.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "BackupSelection": {
          "target": "com.amazonaws.backup#BackupSelection",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the body of a request to assign a set of resources to a backup plan.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and allows failed requests to be retried\n         without the risk of running the operation twice. This parameter is optional.</p>\n         <p>If used, this parameter must contain 1 to 50 alphanumeric or '-_.' characters.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateBackupSelectionOutput": {
      "type": "structure",
      "members": {
        "SelectionId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies the body of a request to assign a set of resources to a backup\n         plan.</p>"
          }
        },
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a backup selection is created, in Unix format and Coordinated\n         Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds.\n         For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateBackupVault": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#CreateBackupVaultInput"
      },
      "output": {
        "target": "com.amazonaws.backup#CreateBackupVaultOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#LimitExceededException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a logical container where backups are stored. A <code>CreateBackupVault</code>\n         request includes a name, optionally one or more resource tags, an encryption key, and a\n         request ID.</p>\n         <note>\n            <p>Do not include sensitive data, such as passport numbers, in the name of a backup\n            vault.</p>\n         </note>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/backup-vaults/{BackupVaultName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#CreateBackupVaultInput": {
      "type": "structure",
      "members": {
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Amazon Web Services\n         Region where they are created. They consist of letters, numbers, and hyphens.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "BackupVaultTags": {
          "target": "com.amazonaws.backup#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that you can assign to help organize the resources that you create. Each tag is\n         a key-value pair.</p>"
          }
        },
        "EncryptionKeyArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The server-side encryption key that is used to protect your backups; for example,\n            <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and allows failed requests to be retried\n         without the risk of running the operation twice. This parameter is optional.</p>\n         <p>If used, this parameter must contain 1 to 50 alphanumeric or '-_.' characters.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateBackupVaultOutput": {
      "type": "structure",
      "members": {
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Region where they are\n         created. They consist of lowercase letters, numbers, and hyphens.</p>"
          }
        },
        "BackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a backup vault is created, in Unix format and Coordinated Universal\n         Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For\n         example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateFramework": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#CreateFrameworkInput"
      },
      "output": {
        "target": "com.amazonaws.backup#CreateFrameworkOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#LimitExceededException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a framework with one or more controls. A framework is a collection of controls\n         that you can use to evaluate your backup practices. By using pre-built customizable\n         controls to define your policies, you can evaluate whether your backup practices comply\n         with your policies and which resources are not yet in compliance.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/audit/frameworks",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#CreateFrameworkInput": {
      "type": "structure",
      "members": {
        "FrameworkName": {
          "target": "com.amazonaws.backup#FrameworkName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the framework. The name must be between 1 and 256 characters,\n         starting with a letter, and consisting of letters (a-z, A-Z), numbers (0-9), and\n         underscores (_).</p>",
            "smithy.api#required": {}
          }
        },
        "FrameworkDescription": {
          "target": "com.amazonaws.backup#FrameworkDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the framework with a maximum of 1,024 characters.</p>"
          }
        },
        "FrameworkControls": {
          "target": "com.amazonaws.backup#FrameworkControls",
          "traits": {
            "smithy.api#documentation": "<p>A list of the controls that make up the framework. Each control in the list has a name,\n         input parameters, and scope.</p>",
            "smithy.api#required": {}
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A customer-chosen string that you can use to distinguish between otherwise identical\n         calls to <code>CreateFrameworkInput</code>. Retrying a successful request with the same\n         idempotency token results in a success message with no action taken.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "FrameworkTags": {
          "target": "com.amazonaws.backup#stringMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that you can assign to help organize the frameworks that you create. Each tag\n         is a key-value pair.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateFrameworkOutput": {
      "type": "structure",
      "members": {
        "FrameworkName": {
          "target": "com.amazonaws.backup#FrameworkName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the framework. The name must be between 1 and 256 characters,\n         starting with a letter, and consisting of letters (a-z, A-Z), numbers (0-9), and\n         underscores (_).</p>"
          }
        },
        "FrameworkArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a resource. The format of the ARN\n         depends on the resource type.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateLegalHold": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#CreateLegalHoldInput"
      },
      "output": {
        "target": "com.amazonaws.backup#CreateLegalHoldOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#LimitExceededException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This action creates a legal hold on a recovery point (backup). A legal hold \n         is a restraint on altering or deleting a backup until an authorized user cancels the \n         legal hold. Any actions to delete or disassociate a recovery point will fail with \n         an error if one or more active legal holds are on the recovery point.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/legal-holds",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#CreateLegalHoldInput": {
      "type": "structure",
      "members": {
        "Title": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>This is the string title of the legal hold.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>This is the string description of the legal hold.</p>",
            "smithy.api#required": {}
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>This is a user-chosen string used to distinguish between otherwise identical \n         calls. Retrying a successful request with the \n         same idempotency token results in a success message with no action taken.</p>"
          }
        },
        "RecoveryPointSelection": {
          "target": "com.amazonaws.backup#RecoveryPointSelection",
          "traits": {
            "smithy.api#documentation": "<p>This specifies criteria to assign \n         a set of resources, such as resource types or backup vaults.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.backup#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Optional tags to include. A tag is a key-value pair you can use to manage, \n         filter, and search for your resources. Allowed characters include UTF-8 letters, \n         numbers, spaces, and the following characters: + - = . _ : /. </p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateLegalHoldOutput": {
      "type": "structure",
      "members": {
        "Title": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>This is the string title of the legal hold returned after creating the legal hold.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.backup#LegalHoldStatus",
          "traits": {
            "smithy.api#documentation": "<p>This displays the status of the legal hold returned after creating the legal hold. \n         Statuses can be <code>ACTIVE</code>, <code>PENDING</code>, <code>CANCELED</code>, \n         <code>CANCELING</code>, or <code>FAILED</code>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>This is the returned string description of the legal hold.</p>"
          }
        },
        "LegalHoldId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Legal hold ID returned for the specified legal hold on a recovery point.</p>"
          }
        },
        "LegalHoldArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>This is the ARN (Amazon Resource Number) of the created legal hold.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Time in number format when legal hold was created.</p>"
          }
        },
        "RecoveryPointSelection": {
          "target": "com.amazonaws.backup#RecoveryPointSelection",
          "traits": {
            "smithy.api#documentation": "<p>This specifies criteria to assign \n         a set of resources, such as resource types or backup vaults.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateReportPlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#CreateReportPlanInput"
      },
      "output": {
        "target": "com.amazonaws.backup#CreateReportPlanOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#LimitExceededException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a report plan. A report plan is a document that contains information about the\n         contents of the report and where Backup will deliver it.</p>\n         <p>If you call <code>CreateReportPlan</code> with a plan that already exists, you receive\n         an <code>AlreadyExistsException</code> exception.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/audit/report-plans",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#CreateReportPlanInput": {
      "type": "structure",
      "members": {
        "ReportPlanName": {
          "target": "com.amazonaws.backup#ReportPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the report plan. The name must be between 1 and 256 characters,\n         starting with a letter, and consisting of letters (a-z, A-Z), numbers (0-9), and\n         underscores (_).</p>",
            "smithy.api#required": {}
          }
        },
        "ReportPlanDescription": {
          "target": "com.amazonaws.backup#ReportPlanDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the report plan with a maximum of 1,024 characters.</p>"
          }
        },
        "ReportDeliveryChannel": {
          "target": "com.amazonaws.backup#ReportDeliveryChannel",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains information about where and how to deliver your reports,\n         specifically your Amazon S3 bucket name, S3 key prefix, and the formats of your\n         reports.</p>",
            "smithy.api#required": {}
          }
        },
        "ReportSetting": {
          "target": "com.amazonaws.backup#ReportSetting",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the report template for the report. Reports are built using a report\n         template. The report templates are:</p>\n         <p>\n            <code>RESOURCE_COMPLIANCE_REPORT | CONTROL_COMPLIANCE_REPORT | BACKUP_JOB_REPORT |\n            COPY_JOB_REPORT | RESTORE_JOB_REPORT</code>\n         </p>\n         <p>If the report template is <code>RESOURCE_COMPLIANCE_REPORT</code> or\n            <code>CONTROL_COMPLIANCE_REPORT</code>, this API resource also describes the report\n         coverage by Amazon Web Services Regions and frameworks.</p>",
            "smithy.api#required": {}
          }
        },
        "ReportPlanTags": {
          "target": "com.amazonaws.backup#stringMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that you can assign to help organize the report plans that you create. Each tag\n         is a key-value pair.</p>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A customer-chosen string that you can use to distinguish between otherwise identical\n         calls to <code>CreateReportPlanInput</code>. Retrying a successful request with the same\n         idempotency token results in a success message with no action taken.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.backup#CreateReportPlanOutput": {
      "type": "structure",
      "members": {
        "ReportPlanName": {
          "target": "com.amazonaws.backup#ReportPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the report plan.</p>"
          }
        },
        "ReportPlanArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a resource. The format of the ARN\n         depends on the resource type.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a backup vault is created, in Unix format and Coordinated Universal\n         Time (UTC). The value of <code>CreationTime</code> is accurate to milliseconds. For\n         example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CronExpression": {
      "type": "string"
    },
    "com.amazonaws.backup#CryoControllerUserManager": {
      "type": "service",
      "version": "2018-11-15",
      "operations": [
        {
          "target": "com.amazonaws.backup#CancelLegalHold"
        },
        {
          "target": "com.amazonaws.backup#CreateBackupPlan"
        },
        {
          "target": "com.amazonaws.backup#CreateBackupSelection"
        },
        {
          "target": "com.amazonaws.backup#CreateBackupVault"
        },
        {
          "target": "com.amazonaws.backup#CreateFramework"
        },
        {
          "target": "com.amazonaws.backup#CreateLegalHold"
        },
        {
          "target": "com.amazonaws.backup#CreateReportPlan"
        },
        {
          "target": "com.amazonaws.backup#DeleteBackupPlan"
        },
        {
          "target": "com.amazonaws.backup#DeleteBackupSelection"
        },
        {
          "target": "com.amazonaws.backup#DeleteBackupVault"
        },
        {
          "target": "com.amazonaws.backup#DeleteBackupVaultAccessPolicy"
        },
        {
          "target": "com.amazonaws.backup#DeleteBackupVaultLockConfiguration"
        },
        {
          "target": "com.amazonaws.backup#DeleteBackupVaultNotifications"
        },
        {
          "target": "com.amazonaws.backup#DeleteFramework"
        },
        {
[...]
