{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.backup#ARN": {
      "type": "string"
    },
    "com.amazonaws.backup#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "Code": {
          "target": "com.amazonaws.backup#string"
        },
        "Context": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.backup#string"
        },
        "Type": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The required resource already exists.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.backup#BackupJob": {
      "type": "structure",
      "members": {
        "BackupJobId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a request to AWS Backup to back up a resource.</p>"
          }
        },
        "BackupSizeInBytes": {
          "target": "com.amazonaws.backup#Long",
          "traits": {
            "smithy.api#documentation": "<p>The size, in bytes, of a backup.</p>"
          }
        },
        "BackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
          }
        },
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the AWS Region where they\n         are created. They consist of lowercase letters, numbers, and hyphens.</p>"
          }
        },
        "BytesTransferred": {
          "target": "com.amazonaws.backup#Long",
          "traits": {
            "smithy.api#documentation": "<p>The size in bytes transferred to a backup vault at the time that the job status was\n         queried.</p>"
          }
        },
        "CompletionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a job to create a backup job is completed, in Unix format and\n         Coordinated Universal Time (UTC). The value of <code>CompletionDate</code> is accurate to\n         milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018\n         12:11:30.087 AM.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.backup#RecoveryPointCreator",
          "traits": {
            "smithy.api#documentation": "<p>Contains identifying information about the creation of a backup job, including the\n            <code>BackupPlanArn</code>, <code>BackupPlanId</code>, <code>BackupPlanVersion</code>,\n         and <code>BackupRuleId</code> of the backup plan used to create it.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a backup job is created, in Unix format and Coordinated Universal Time\n         (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the\n         value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "ExpectedCompletionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a job to back up resources is expected to be completed, in Unix format\n         and Coordinated Universal Time (UTC). The value of <code>ExpectedCompletionDate</code> is\n         accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January\n         26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.backup#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IAM role ARN used to create the target recovery point; for example,\n            <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>"
          }
        },
        "PercentDone": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Contains an estimated percentage complete of a job at the time the job status was\n         queried.</p>"
          }
        },
        "RecoveryPointArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a recovery point; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a resource. The format of the ARN depends on the\n         resource type.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.backup#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of AWS resource to be backed-up; for example, an Amazon Elastic Block Store\n         (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS) database.</p>"
          }
        },
        "StartBy": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the time in Unix format and Coordinated Universal Time (UTC) when a backup job\n         must be started before it is canceled. The value is calculated by adding the start window\n         to the scheduled time. So if the scheduled time were 6:00 PM and the start window is 2\n         hours, the <code>StartBy</code> time would be 8:00 PM on the date specified. The value of\n            <code>StartBy</code> is accurate to milliseconds. For example, the value 1516925490.087\n         represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.backup#BackupJobState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of a resource recovery point.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A detailed message explaining the status of the job to back up a resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains detailed information about a backup job.</p>"
      }
    },
    "com.amazonaws.backup#BackupJobState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATED",
            "name": "CREATED"
          },
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "ABORTING",
            "name": "ABORTING"
          },
          {
            "value": "ABORTED",
            "name": "ABORTED"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "EXPIRED",
            "name": "EXPIRED"
          }
        ]
      }
    },
    "com.amazonaws.backup#BackupJobsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupJob"
      }
    },
    "com.amazonaws.backup#BackupPlan": {
      "type": "structure",
      "members": {
        "BackupPlanName": {
          "target": "com.amazonaws.backup#BackupPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of a backup plan.</p>",
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.backup#BackupRules",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>BackupRule</code> objects, each of which specifies a scheduled task\n         that is used to back up a selection of resources.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an optional backup plan display name and an array of <code>BackupRule</code>\n         objects, each of which specifies a backup rule. Each rule in a backup plan is a separate\n         scheduled task and can back up a different selection of AWS resources.</p>"
      }
    },
    "com.amazonaws.backup#BackupPlanInput": {
      "type": "structure",
      "members": {
        "BackupPlanName": {
          "target": "com.amazonaws.backup#BackupPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of a backup plan.</p>",
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.backup#BackupRulesInput",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>BackupRule</code> objects, each of which specifies a scheduled task\n         that is used to back up a selection of resources.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an optional backup plan display name and an array of <code>BackupRule</code>\n         objects, each of which specifies a backup rule. Each rule in a backup plan is a separate\n         scheduled task and can back up a different selection of AWS resources.</p>"
      }
    },
    "com.amazonaws.backup#BackupPlanName": {
      "type": "string"
    },
    "com.amazonaws.backup#BackupPlanTemplatesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupPlanTemplatesListMember"
      }
    },
    "com.amazonaws.backup#BackupPlanTemplatesListMember": {
      "type": "structure",
      "members": {
        "BackupPlanTemplateId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a stored backup plan template.</p>"
          }
        },
        "BackupPlanTemplateName": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>The optional display name of a backup plan template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object specifying metadata associated with a backup plan template.</p>"
      }
    },
    "com.amazonaws.backup#BackupPlanVersionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupPlansListMember"
      }
    },
    "com.amazonaws.backup#BackupPlansList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupPlansListMember"
      }
    },
    "com.amazonaws.backup#BackupPlansListMember": {
      "type": "structure",
      "members": {
        "BackupPlanArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup plan; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:plan:8F81F553-3A74-4A3F-B93D-B3360DC80C50</code>.</p>"
          }
        },
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.</p>"
          }
        },
        "BackupPlanName": {
          "target": "com.amazonaws.backup#BackupPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of a saved backup plan.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a resource backup plan is created, in Unix format and Coordinated\n         Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds.\n         For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and allows failed requests to be retried\n         without the risk of executing the operation twice.</p>"
          }
        },
        "DeletionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a backup plan is deleted, in Unix format and Coordinated Universal\n         Time (UTC). The value of <code>DeletionDate</code> is accurate to milliseconds. For\n         example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "LastExecutionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time a job to back up resources was executed with this rule. A date and time,\n         in Unix format and Coordinated Universal Time (UTC). The value of\n            <code>LastExecutionDate</code> is accurate to milliseconds. For example, the value\n         1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Unique, randomly generated, Unicode, UTF-8 encoded strings that are at most 1,024 bytes\n         long. Version IDs cannot be edited.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata about a backup plan.</p>"
      }
    },
    "com.amazonaws.backup#BackupRule": {
      "type": "structure",
      "members": {
        "CompletionWindowMinutes": {
          "target": "com.amazonaws.backup#WindowMinutes",
          "traits": {
            "smithy.api#documentation": "<p>A value in minutes after a backup job is successfully started before it must be\n         completed or it is canceled by AWS Backup. This value is optional.</p>"
          }
        },
        "CopyActions": {
          "target": "com.amazonaws.backup#CopyActions",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>CopyAction</code> objects, which contains the details of the copy operation.</p>"
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.backup#Lifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle defines when a protected resource is transitioned to cold storage and when\n         it expires. AWS Backup transitions and expires backups automatically according to the\n         lifecycle that you define. </p>\n         <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90\n         days. Therefore, the “expire after days” setting must be 90 days greater than the\n         “transition to cold after days” setting. The “transition to cold after days” setting cannot\n         be changed after a backup has been transitioned to cold. </p>"
          }
        },
        "RecoveryPointTags": {
          "target": "com.amazonaws.backup#Tags",
          "traits": {
            "smithy.api#documentation": "<p>An array of key-value pair strings that are assigned to resources that are associated\n         with this rule when restored from backup.</p>"
          }
        },
        "RuleId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a rule that is used to schedule the backup of a selection of\n         resources.</p>"
          }
        },
        "RuleName": {
          "target": "com.amazonaws.backup#BackupRuleName",
          "traits": {
            "smithy.api#documentation": "<p>An optional display name for a backup rule.</p>",
            "smithy.api#required": {}
          }
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.backup#CronExpression",
          "traits": {
            "smithy.api#documentation": "<p>A CRON expression specifying when AWS Backup initiates a backup job.</p>"
          }
        },
        "StartWindowMinutes": {
          "target": "com.amazonaws.backup#WindowMinutes",
          "traits": {
            "smithy.api#documentation": "<p>An optional value that specifies a period of time in minutes after a backup is scheduled\n         before a job is canceled if it doesn't start successfully.</p>"
          }
        },
        "TargetBackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the AWS Region where they\n         are created. They consist of lowercase letters, numbers, and hyphens.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a scheduled task used to back up a selection of resources.</p>"
      }
    },
    "com.amazonaws.backup#BackupRuleInput": {
      "type": "structure",
      "members": {
        "CompletionWindowMinutes": {
          "target": "com.amazonaws.backup#WindowMinutes",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time AWS Backup attempts a backup before canceling the job and returning\n         an error.</p>"
          }
        },
        "CopyActions": {
          "target": "com.amazonaws.backup#CopyActions",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>CopyAction</code> objects, which contains the details of the copy operation.</p>"
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.backup#Lifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle defines when a protected resource is transitioned to cold storage and when\n         it expires. AWS Backup will transition and expire backups automatically according to the\n         lifecycle that you define. </p>\n         <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90\n         days. Therefore, the “expire after days” setting must be 90 days greater than the\n         “transition to cold after days”. The “transition to cold after days” setting cannot be\n         changed after a backup has been transitioned to cold. </p>"
          }
        },
        "RecoveryPointTags": {
          "target": "com.amazonaws.backup#Tags",
          "traits": {
            "smithy.api#documentation": "<p>To help organize your resources, you can assign your own metadata to the resources that\n         you create. Each tag is a key-value pair.</p>"
          }
        },
        "RuleName": {
          "target": "com.amazonaws.backup#BackupRuleName",
          "traits": {
            "smithy.api#documentation": "<p>>An optional display name for a backup rule.</p>",
            "smithy.api#required": {}
          }
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.backup#CronExpression",
          "traits": {
            "smithy.api#documentation": "<p>A CRON expression specifying when AWS Backup initiates a backup job.</p>"
          }
        },
        "StartWindowMinutes": {
          "target": "com.amazonaws.backup#WindowMinutes",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time in minutes before beginning a backup.</p>"
          }
        },
        "TargetBackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the AWS Region where they\n         are created. They consist of lowercase letters, numbers, and hyphens.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a scheduled task used to back up a selection of resources.</p>"
      }
    },
    "com.amazonaws.backup#BackupRuleName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_\\.]{1,50}$"
      }
    },
    "com.amazonaws.backup#BackupRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupRule"
      }
    },
    "com.amazonaws.backup#BackupRulesInput": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupRuleInput"
      }
    },
    "com.amazonaws.backup#BackupSelection": {
      "type": "structure",
      "members": {
        "IamRoleArn": {
          "target": "com.amazonaws.backup#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that AWS Backup uses to authenticate when restoring the target\n         resource; for example, <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ListOfTags": {
          "target": "com.amazonaws.backup#ListOfTags",
          "traits": {
            "smithy.api#documentation": "<p>An array of conditions used to specify a set of resources to assign to a backup plan;\n         for example, <code>\"STRINGEQUALS\": {\"ec2:ResourceTag/Department\":\n         \"accounting\"</code>.</p>"
          }
        },
        "Resources": {
          "target": "com.amazonaws.backup#ResourceArns",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that contain Amazon Resource Names (ARNs)  of resources to assign\n         to a backup plan.</p>"
          }
        },
        "SelectionName": {
          "target": "com.amazonaws.backup#BackupSelectionName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of a resource selection document.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used to specify a set of resources to a backup plan.</p>"
      }
    },
    "com.amazonaws.backup#BackupSelectionName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_\\.]{1,50}$"
      }
    },
    "com.amazonaws.backup#BackupSelectionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupSelectionsListMember"
      }
    },
    "com.amazonaws.backup#BackupSelectionsListMember": {
      "type": "structure",
      "members": {
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a backup plan is created, in Unix format and Coordinated Universal\n         Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For\n         example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and allows failed requests to be retried\n         without the risk of executing the operation twice.</p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.backup#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IAM role Amazon Resource Name (ARN) to create the target recovery point;\n         for example, <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>"
          }
        },
        "SelectionId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a request to assign a set of resources to a backup plan.</p>"
          }
        },
        "SelectionName": {
          "target": "com.amazonaws.backup#BackupSelectionName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of a resource selection document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata about a <code>BackupSelection</code> object.</p>"
      }
    },
    "com.amazonaws.backup#BackupVaultEvent": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BACKUP_JOB_STARTED",
            "name": "BACKUP_JOB_STARTED"
          },
          {
            "value": "BACKUP_JOB_COMPLETED",
            "name": "BACKUP_JOB_COMPLETED"
          },
          {
            "value": "BACKUP_JOB_SUCCESSFUL",
            "name": "BACKUP_JOB_SUCCESSFUL"
          },
          {
            "value": "BACKUP_JOB_FAILED",
            "name": "BACKUP_JOB_FAILED"
          },
          {
            "value": "BACKUP_JOB_EXPIRED",
            "name": "BACKUP_JOB_EXPIRED"
          },
          {
            "value": "RESTORE_JOB_STARTED",
            "name": "RESTORE_JOB_STARTED"
          },
          {
            "value": "RESTORE_JOB_COMPLETED",
            "name": "RESTORE_JOB_COMPLETED"
          },
          {
            "value": "RESTORE_JOB_SUCCESSFUL",
            "name": "RESTORE_JOB_SUCCESSFUL"
          },
          {
            "value": "RESTORE_JOB_FAILED",
            "name": "RESTORE_JOB_FAILED"
          },
          {
            "value": "COPY_JOB_STARTED",
            "name": "COPY_JOB_STARTED"
          },
          {
            "value": "COPY_JOB_SUCCESSFUL",
            "name": "COPY_JOB_SUCCESSFUL"
          },
          {
            "value": "COPY_JOB_FAILED",
            "name": "COPY_JOB_FAILED"
          },
          {
            "value": "RECOVERY_POINT_MODIFIED",
            "name": "RECOVERY_POINT_MODIFIED"
          },
          {
            "value": "BACKUP_PLAN_CREATED",
            "name": "BACKUP_PLAN_CREATED"
          },
          {
            "value": "BACKUP_PLAN_MODIFIED",
            "name": "BACKUP_PLAN_MODIFIED"
          }
        ]
      }
    },
    "com.amazonaws.backup#BackupVaultEvents": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupVaultEvent"
      }
    },
    "com.amazonaws.backup#BackupVaultList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupVaultListMember"
      }
    },
    "com.amazonaws.backup#BackupVaultListMember": {
      "type": "structure",
      "members": {
        "BackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
          }
        },
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the AWS Region where they\n         are created. They consist of lowercase letters, numbers, and hyphens.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a resource backup is created, in Unix format and Coordinated Universal\n         Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For\n         example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and allows failed requests to be retried\n         without the risk of executing the operation twice.</p>"
          }
        },
        "EncryptionKeyArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The server-side encryption key that is used to protect your backups; for example,\n            <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>"
          }
        },
        "NumberOfRecoveryPoints": {
          "target": "com.amazonaws.backup#Long2",
          "traits": {
            "smithy.api#documentation": "<p>The number of recovery points that are stored in a backup vault.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata about a backup vault.</p>"
      }
    },
    "com.amazonaws.backup#BackupVaultName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_\\.]{1,50}$"
      }
    },
    "com.amazonaws.backup#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.backup#Boolean2": {
      "type": "boolean"
    },
    "com.amazonaws.backup#CalculatedLifecycle": {
      "type": "structure",
      "members": {
        "DeleteAt": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that specifies when to delete a recovery point.</p>"
          }
        },
        "MoveToColdStorageAt": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that specifies when to transition a recovery point to cold storage.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains <code>DeleteAt</code> and <code>MoveToColdStorageAt</code> timestamps, which\n         are used to specify a lifecycle for a recovery point.</p>\n         <p>The lifecycle defines when a protected resource is transitioned to cold storage and when\n         it expires. AWS Backup transitions and expires backups automatically according to the\n         lifecycle that you define. </p>\n         <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90\n         days. Therefore, the “expire after days” setting must be 90 days greater than the\n         “transition to cold after days” setting. The “transition to cold after days” setting cannot\n         be changed after a backup has been transitioned to cold. </p>"
      }
    },
    "com.amazonaws.backup#Condition": {
      "type": "structure",
      "members": {
        "ConditionKey": {
          "target": "com.amazonaws.backup#ConditionKey",
          "traits": {
            "smithy.api#documentation": "<p>The key in a key-value pair. For example, in <code>\"ec2:ResourceTag/Department\":\n            \"accounting\"</code>, <code>\"ec2:ResourceTag/Department\"</code> is the key.</p>",
            "smithy.api#required": {}
          }
        },
        "ConditionType": {
          "target": "com.amazonaws.backup#ConditionType",
          "traits": {
            "smithy.api#documentation": "<p>An operation, such as <code>STRINGEQUALS</code>, that is applied to a key-value pair\n         used to filter resources in a selection.</p>",
            "smithy.api#required": {}
          }
        },
        "ConditionValue": {
          "target": "com.amazonaws.backup#ConditionValue",
          "traits": {
            "smithy.api#documentation": "<p>The value in a key-value pair. For example, in <code>\"ec2:ResourceTag/Department\":\n            \"accounting\"</code>, <code>\"accounting\"</code> is the value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an array of triplets made up of a condition type (such as\n         <code>STRINGEQUALS</code>), a key, and a value. Conditions are used to filter resources\n         in a selection that is assigned to a backup plan.</p>"
      }
    },
    "com.amazonaws.backup#ConditionKey": {
      "type": "string"
    },
    "com.amazonaws.backup#ConditionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STRINGEQUALS",
            "name": "STRINGEQUALS"
          }
        ]
      }
    },
    "com.amazonaws.backup#ConditionValue": {
      "type": "string"
    },
    "com.amazonaws.backup#CopyAction": {
      "type": "structure",
      "members": {
        "DestinationBackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies the destination backup vault for the copied backup. For example, arn:aws:backup:us-east-1:123456789012:vault:aBackupVault.</p>",
            "smithy.api#required": {}
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.backup#Lifecycle"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the copy operation.</p>"
      }
    },
    "com.amazonaws.backup#CopyActions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#CopyAction"
      }
    },
    "com.amazonaws.backup#CopyJob": {
      "type": "structure",
      "members": {
        "BackupSizeInBytes": {
          "target": "com.amazonaws.backup#Long",
          "traits": {
            "smithy.api#documentation": "<p>The size, in bytes, of a copy job.</p>"
          }
        },
        "CompletionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a job to create a copy job is completed, in Unix format and Coordinated Universal Time (UTC). The value of CompletionDate is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM. </p>"
          }
        },
        "CopyJobId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a request to AWS Backup to copy a resource.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.backup#RecoveryPointCreator"
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a copy job is created, in Unix format and Coordinated Universal Time (UTC). The value of CreationDate is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM. </p>"
          }
        },
        "DestinationBackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a destination copy vault; for example, arn:aws:backup:us-east-1:123456789012:vault:aBackupVault.</p>"
          }
        },
        "DestinationRecoveryPointArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a destination recovery point; for example, arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45. </p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.backup#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IAM role ARN used to copy the target recovery point; for example, arn:aws:iam::123456789012:role/S3Access.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The type of AWS resource to be copied; for example, an Amazon Elastic Block Store (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS) database. </p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.backup#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of AWS resource to be copied; for example, an Amazon Elastic Block Store (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS) database. </p>"
          }
        },
        "SourceBackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a source copy vault; for example, arn:aws:backup:us-east-1:123456789012:vault:aBackupVault. </p>"
          }
        },
        "SourceRecoveryPointArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a source recovery point; for example, arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45. </p>"
          }
        },
        "State": {
          "target": "com.amazonaws.backup#CopyJobState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of a resource recovery point.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A detailed message explaining the status of the job that to copy a resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains detailed information about a copy job.</p>"
      }
    },
    "com.amazonaws.backup#CopyJobState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATED",
            "name": "CREATED"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.backup#CopyJobsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#CopyJob"
      }
    },
    "com.amazonaws.backup#CreateBackupPlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#CreateBackupPlanInput"
      },
      "output": {
        "target": "com.amazonaws.backup#CreateBackupPlanOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#LimitExceededException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Backup plans are documents that contain information that AWS Backup uses to schedule\n         tasks that create recovery points of resources.</p>\n         <p>If you call <code>CreateBackupPlan</code> with a plan that already exists, an\n            <code>AlreadyExistsException</code> is returned.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/backup/plans",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#CreateBackupPlanInput": {
      "type": "structure",
      "members": {
        "BackupPlan": {
          "target": "com.amazonaws.backup#BackupPlanInput",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the body of a backup plan. Includes a <code>BackupPlanName</code> and one or\n         more sets of <code>Rules</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "BackupPlanTags": {
          "target": "com.amazonaws.backup#Tags",
          "traits": {
            "smithy.api#documentation": "<p>To help organize your resources, you can assign your own metadata to the resources that\n         you create. Each tag is a key-value pair. The specified tags are assigned to all backups\n         created with this plan.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the request and allows failed requests to be retried without the risk of\n         executing the operation twice. If the request includes a <code>CreatorRequestId</code> that\n         matches an existing backup plan, that plan is returned. This parameter is optional.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateBackupPlanOutput": {
      "type": "structure",
      "members": {
        "BackupPlanArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup plan; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:plan:8F81F553-3A74-4A3F-B93D-B3360DC80C50</code>.</p>"
          }
        },
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that a backup plan is created, in Unix format and Coordinated\n         Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds.\n         For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Unique, randomly generated, Unicode, UTF-8 encoded strings that are at most 1024 bytes\n         long. They cannot be edited.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateBackupSelection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#CreateBackupSelectionInput"
      },
      "output": {
        "target": "com.amazonaws.backup#CreateBackupSelectionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#LimitExceededException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a JSON document that specifies a set of resources to assign to a backup plan.\n         Resources can be included by specifying patterns for a <code>ListOfTags</code> and selected\n            <code>Resources</code>. </p>\n         <p>For example, consider the following patterns:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Resources: \"arn:aws:ec2:region:account-id:volume/volume-id\"</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ConditionKey:\"department\"</code>\n               </p>\n               <p>\n                  <code>ConditionValue:\"finance\"</code>\n               </p>\n               <p>\n                  <code>ConditionType:\"STRINGEQUALS\"</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ConditionKey:\"importance\"</code>\n               </p>\n               <p>\n                  <code>ConditionValue:\"critical\"</code>\n               </p>\n               <p>\n                  <code>ConditionType:\"STRINGEQUALS\"</code>\n               </p>\n            </li>\n         </ul>\n         <p>Using these patterns would back up all Amazon Elastic Block Store (Amazon EBS) volumes\n         that are tagged as <code>\"department=finance\"</code>, <code>\"importance=critical\"</code>,\n         in addition to an EBS volume with the specified volume Id.</p>\n         <p>Resources and conditions are additive in that all resources that match the pattern are\n         selected. This shouldn't be confused with a logical AND, where all conditions must match.\n         The matching patterns are logically 'put together using the OR\n         operator. In other words, all patterns that match are selected for backup.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/backup/plans/{BackupPlanId}/selections",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#CreateBackupSelectionInput": {
      "type": "structure",
      "members": {
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies the backup plan to be associated with the selection of\n         resources.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "BackupSelection": {
          "target": "com.amazonaws.backup#BackupSelection",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the body of a request to assign a set of resources to a backup plan.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and allows failed requests to be retried\n         without the risk of executing the operation twice.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateBackupSelectionOutput": {
      "type": "structure",
      "members": {
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a backup selection is created, in Unix format and Coordinated\n         Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds.\n         For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "SelectionId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies the body of a request to assign a set of resources to a backup\n         plan.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateBackupVault": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#CreateBackupVaultInput"
      },
      "output": {
        "target": "com.amazonaws.backup#CreateBackupVaultOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#LimitExceededException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a logical container where backups are stored. A <code>CreateBackupVault</code>\n         request includes a name, optionally one or more resource tags, an encryption key, and a\n         request ID.</p>\n         <note>\n            <p>Sensitive data, such as passport numbers, should not be included the name of a backup\n            vault.</p>\n         </note>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/backup-vaults/{BackupVaultName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#CreateBackupVaultInput": {
      "type": "structure",
      "members": {
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the AWS Region where they\n         are created. They consist of lowercase letters, numbers, and hyphens.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "BackupVaultTags": {
          "target": "com.amazonaws.backup#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that you can assign to help organize the resources that you create. Each tag is\n         a key-value pair.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and allows failed requests to be retried\n         without the risk of executing the operation twice.</p>"
          }
        },
        "EncryptionKeyArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The server-side encryption key that is used to protect your backups; for example,\n            <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateBackupVaultOutput": {
      "type": "structure",
      "members": {
        "BackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
          }
        },
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Region where they are\n         created. They consist of lowercase letters, numbers, and hyphens.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a backup vault is created, in Unix format and Coordinated Universal\n         Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For\n         example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CronExpression": {
      "type": "string"
    },
    "com.amazonaws.backup#CryoControllerUserManager": {
      "type": "service",
      "version": "2018-11-15",
      "operations": [
        {
          "target": "com.amazonaws.backup#CreateBackupPlan"
        },
        {
          "target": "com.amazonaws.backup#CreateBackupSelection"
        },
        {
          "target": "com.amazonaws.backup#CreateBackupVault"
        },
        {
          "target": "com.amazonaws.backup#DeleteBackupPlan"
        },
        {
          "target": "com.amazonaws.backup#DeleteBackupSelection"
        },
        {
          "target": "com.amazonaws.backup#DeleteBackupVault"
        },
        {
          "target": "com.amazonaws.backup#DeleteBackupVaultAccessPolicy"
        },
        {
          "target": "com.amazonaws.backup#DeleteBackupVaultNotifications"
        },
        {
          "target": "com.amazonaws.backup#DeleteRecoveryPoint"
        },
        {
          "target": "com.amazonaws.backup#DescribeBackupJob"
        },
        {
          "target": "com.amazonaws.backup#DescribeBackupVault"
        },
        {
          "target": "com.amazonaws.backup#DescribeCopyJob"
        },
        {
          "target": "com.amazonaws.backup#DescribeProtectedResource"
        },
        {
          "target": "com.amazonaws.backup#DescribeRecoveryPoint"
        },
        {
          "target": "com.amazonaws.backup#DescribeRestoreJob"
        },
        {
          "target": "com.amazonaws.backup#ExportBackupPlanTemplate"
        },
        {
          "target": "com.amazonaws.backup#GetBackupPlan"
        },
        {
          "target": "com.amazonaws.backup#GetBackupPlanFromJSON"
        },
        {
          "target": "com.amazonaws.backup#GetBackupPlanFromTemplate"
        },
        {
          "target": "com.amazonaws.backup#GetBackupSelection"
        },
        {
          "target": "com.amazonaws.backup#GetBackupVaultAccessPolicy"
        },
        {
          "target": "com.amazonaws.backup#GetBackupVaultNotifications"
        },
        {
          "target": "com.amazonaws.backup#GetRecoveryPointRestoreMetadata"
        },
        {
          "target": "com.amazonaws.backup#GetSupportedResourceTypes"
        },
        {
          "target": "com.amazonaws.backup#ListBackupJobs"
        },
        {
          "target": "com.amazonaws.backup#ListBackupPlans"
        },
        {
          "target": "com.amazonaws.backup#ListBackupPlanTemplates"
        },
        {
          "target": "com.amazonaws.backup#ListBackupPlanVersions"
        },
        {
          "target": "com.amazonaws.backup#ListBackupSelections"
        },
        {
          "target": "com.amazonaws.backup#ListBackupVaults"
        },
        {
          "target": "com.amazonaws.backup#ListCopyJobs"
        },
        {
          "target": "com.amazonaws.backup#ListProtectedResources"
        },
        {
          "target": "com.amazonaws.backup#ListRecoveryPointsByBackupVault"
        },
        {
          "target": "com.amazonaws.backup#ListRecoveryPointsByResource"
        },
        {
          "target": "com.amazonaws.backup#ListRestoreJobs"
        },
        {
          "target": "com.amazonaws.backup#ListTags"
        },
        {
          "target": "com.amazonaws.backup#PutBackupVaultAccessPolicy"
        },
        {
          "target": "com.amazonaws.backup#PutBackupVaultNotifications"
        },
        {
          "target": "com.amazonaws.backup#StartBackupJob"
        },
        {
          "target": "com.amazonaws.backup#StartCopyJob"
        },
        {
          "target": "com.amazonaws.backup#StartRestoreJob"
        },
        {
          "target": "com.amazonaws.backup#StopBackupJob"
        },
        {
          "target": "com.amazonaws.backup#TagResource"
        },
        {
          "target": "com.amazonaws.backup#UntagResource"
        },
        {
          "target": "com.amazonaws.backup#UpdateBackupPlan"
        },
        {
          "target": "com.amazonaws.backup#UpdateRecoveryPointLifecycle"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Backup",
          "arnNamespace": "backup",
          "cloudFormationName": "Backup",
          "cloudTrailEventSource": "cryo.services.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "backup"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>AWS Backup</fullname>\n         <p>AWS Backup is a unified backup service designed to protect AWS services and their\n         associated data. AWS Backup simplifies the creation, migration, restoration, and deletion\n         of backups, while also providing reporting and auditing.</p>",
        "smithy.api#title": "AWS Backup"
      }
    },
    "com.amazonaws.backup#DeleteBackupPlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DeleteBackupPlanInput"
      },
      "output": {
        "target": "com.amazonaws.backup#DeleteBackupPlanOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a backup plan. A backup plan can only be deleted after all associated selections\n         of resources have been deleted. Deleting a backup plan deletes the current version of a\n         backup plan. Previous versions, if any, will still exist.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/backup/plans/{BackupPlanId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.backup#DeleteBackupPlanInput": {
      "type": "structure",
      "members": {
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DeleteBackupPlanOutput": {
      "type": "structure",
      "members": {
        "BackupPlanArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup plan; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:plan:8F81F553-3A74-4A3F-B93D-B3360DC80C50</code>.</p>"
          }
        },
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.</p>"
          }
        },
        "DeletionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a backup plan is deleted, in Unix format and Coordinated Universal\n         Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For\n         example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Unique, randomly generated, Unicode, UTF-8 encoded strings that are at most 1,024 bytes\n         long. Version Ids cannot be edited.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#DeleteBackupSelection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DeleteBackupSelectionInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the resource selection associated with a backup plan that is specified by the\n            <code>SelectionId</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/backup/plans/{BackupPlanId}/selections/{SelectionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.backup#DeleteBackupSelectionInput": {
      "type": "structure",
      "members": {
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SelectionId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies the body of a request to assign a set of resources to a backup\n         plan.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DeleteBackupVault": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DeleteBackupVaultInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the backup vault identified by its name. A vault can be deleted only if it is\n         empty.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/backup-vaults/{BackupVaultName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.backup#DeleteBackupVaultAccessPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DeleteBackupVaultAccessPolicyInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the policy document that manages permissions on a backup vault.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/backup-vaults/{BackupVaultName}/access-policy",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#DeleteBackupVaultAccessPolicyInput": {
      "type": "structure",
      "members": {
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the AWS Region where they\n         are created. They consist of lowercase letters, numbers, and hyphens.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DeleteBackupVaultInput": {
      "type": "structure",
      "members": {
        "BackupVaultName": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and theAWS Region where they\n         are created. They consist of lowercase letters, numbers, and hyphens.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DeleteBackupVaultNotifications": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DeleteBackupVaultNotificationsInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes event notifications for the specified backup vault.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/backup-vaults/{BackupVaultName}/notification-configuration",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#DeleteBackupVaultNotificationsInput": {
      "type": "structure",
      "members": {
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Region where they are\n         created. They consist of lowercase letters, numbers, and hyphens.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DeleteRecoveryPoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DeleteRecoveryPointInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the recovery point specified by a recovery point ID.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/backup-vaults/{BackupVaultName}/recovery-points/{RecoveryPointArn}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#DeleteRecoveryPointInput": {
      "type": "structure",
      "members": {
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the AWS Region where they\n         are created. They consist of lowercase letters, numbers, and hyphens.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RecoveryPointArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a recovery point; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DependencyFailureException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.backup#string"
        },
        "Context": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.backup#string"
        },
        "Type": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A dependent AWS service or resource returned an error to the AWS Backup service, and the\n         action cannot be completed.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.backup#DescribeBackupJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DescribeBackupJobInput"
      },
      "output": {
        "target": "com.amazonaws.backup#DescribeBackupJobOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#DependencyFailureException"
        },
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata associated with creating a backup of a resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/backup-jobs/{BackupJobId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#DescribeBackupJobInput": {
      "type": "structure",
      "members": {
        "BackupJobId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a request to AWS Backup to back up a resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DescribeBackupJobOutput": {
      "type": "structure",
      "members": {
        "BackupJobId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a request to AWS Backup to back up a resource.</p>"
          }
        },
        "BackupSizeInBytes": {
          "target": "com.amazonaws.backup#Long",
          "traits": {
            "smithy.api#documentation": "<p>The size, in bytes, of a backup.</p>"
          }
        },
        "BackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
          }
        },
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the AWS Region where they\n         are created. They consist of lowercase letters, numbers, and hyphens.</p>"
          }
        },
        "BytesTransferred": {
          "target": "com.amazonaws.backup#Long",
          "traits": {
            "smithy.api#documentation": "<p>The size in bytes transferred to a backup vault at the time that the job status was\n         queried.</p>"
          }
        },
        "CompletionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that a job to create a backup job is completed, in Unix format and\n         Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to\n         milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018\n         12:11:30.087 AM.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.backup#RecoveryPointCreator",
          "traits": {
            "smithy.api#documentation": "<p>Contains identifying information about the creation of a backup job, including the\n            <code>BackupPlanArn</code>, <code>BackupPlanId</code>, <code>BackupPlanVersion</code>,\n         and <code>BackupRuleId</code> of the backup plan that is used to create it.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that a backup job is created, in Unix format and Coordinated Universal\n         Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For\n         example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "ExpectedCompletionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that a job to back up resources is expected to be completed, in Unix\n         format and Coordinated Universal Time (UTC). The value of\n            <code>ExpectedCompletionDate</code> is accurate to milliseconds. For example, the value\n         1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.backup#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IAM role ARN used to create the target recovery point; for example,\n            <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>"
          }
        },
        "PercentDone": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Contains an estimated percentage that is complete of a job at the time the job status\n         was queried.</p>"
          }
        },
        "RecoveryPointArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a recovery point; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a saved resource. The format of the ARN depends on the\n         resource type.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.backup#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of AWS resource to be backed-up; for example, an Amazon Elastic Block Store\n         (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS) database.</p>"
          }
        },
        "StartBy": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the time in Unix format and Coordinated Universal Time (UTC) when a backup job\n         must be started before it is canceled. The value is calculated by adding the start window\n         to the scheduled time. So if the scheduled time were 6:00 PM and the start window is 2\n         hours, the <code>StartBy</code> time would be 8:00 PM on the date specified. The value of\n            <code>StartBy</code> is accurate to milliseconds. For example, the value 1516925490.087\n         represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.backup#BackupJobState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of a resource recovery point.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A detailed message explaining the status of the job to back up a resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#DescribeBackupVault": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DescribeBackupVaultInput"
      },
      "output": {
        "target": "com.amazonaws.backup#DescribeBackupVaultOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata about a backup vault specified by its name.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/backup-vaults/{BackupVaultName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#DescribeBackupVaultInput": {
      "type": "structure",
      "members": {
        "BackupVaultName": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the AWS Region where they\n         are created. They consist of lowercase letters, numbers, and hyphens.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DescribeBackupVaultOutput": {
      "type": "structure",
      "members": {
        "BackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
          }
        },
        "BackupVaultName": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Region where they are\n         created. They consist of lowercase letters, numbers, and hyphens.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that a backup vault is created, in Unix format and Coordinated\n         Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds.\n         For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and allows failed requests to be retried\n         without the risk of executing the operation twice.</p>"
          }
        },
        "EncryptionKeyArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The server-side encryption key that is used to protect your backups; for example,\n            <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>"
          }
        },
        "NumberOfRecoveryPoints": {
          "target": "com.amazonaws.backup#Long2",
          "traits": {
            "smithy.api#documentation": "<p>The number of recovery points that are stored in a backup vault.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#DescribeCopyJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DescribeCopyJobInput"
      },
      "output": {
        "target": "com.amazonaws.backup#DescribeCopyJobOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata associated with creating a copy of a resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/copy-jobs/{CopyJobId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#DescribeCopyJobInput": {
      "type": "structure",
      "members": {
        "CopyJobId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a request to AWS Backup to copy a resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DescribeCopyJobOutput": {
      "type": "structure",
      "members": {
        "CopyJob": {
          "target": "com.amazonaws.backup#CopyJob",
          "traits": {
            "smithy.api#documentation": "<p>Contains detailed information about a copy job.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#DescribeProtectedResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DescribeProtectedResourceInput"
      },
      "output": {
        "target": "com.amazonaws.backup#DescribeProtectedResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a saved resource, including the last time it was backed-up,\n         its Amazon Resource Name (ARN), and the AWS service type of the saved resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/resources/{ResourceArn}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#DescribeProtectedResourceInput": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a resource. The format of the ARN\n         depends on the resource type.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DescribeProtectedResourceOutput": {
      "type": "structure",
      "members": {
        "LastBackupTime": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that a resource was last backed up, in Unix format and Coordinated\n         Universal Time (UTC). The value of <code>LastBackupTime</code> is accurate to milliseconds.\n         For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a resource. The format of the ARN depends on the\n         resource type.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.backup#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of AWS resource saved as a recovery point; for example, an EBS volume or an\n         Amazon RDS database.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#DescribeRecoveryPoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DescribeRecoveryPointInput"
      },
      "output": {
        "target": "com.amazonaws.backup#DescribeRecoveryPointOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata associated with a recovery point, including ID, status, encryption, and\n         lifecycle.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/backup-vaults/{BackupVaultName}/recovery-points/{RecoveryPointArn}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#DescribeRecoveryPointInput": {
      "type": "structure",
      "members": {
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the AWS Region where they\n         are created. They consist of lowercase letters, numbers, and hyphens.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RecoveryPointArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a recovery point; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DescribeRecoveryPointOutput": {
      "type": "structure",
      "members": {
        "BackupSizeInBytes": {
          "target": "com.amazonaws.backup#Long",
          "traits": {
            "smithy.api#documentation": "<p>The size, in bytes, of a backup.</p>"
          }
        },
        "BackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a backup vault; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
          }
        },
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Region where they are\n         created. They consist of lowercase letters, numbers, and hyphens.</p>"
          }
        },
        "CalculatedLifecycle": {
          "target": "com.amazonaws.backup#CalculatedLifecycle",
          "traits": {
            "smithy.api#documentation": "<p>A <code>CalculatedLifecycle</code> object containing <code>DeleteAt</code> and\n            <code>MoveToColdStorageAt</code> timestamps.</p>"
          }
        },
        "CompletionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that a job to create a recovery point is completed, in Unix format and\n         Coordinated Universal Time (UTC). The value of <code>CompletionDate</code> is accurate to\n         milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018\n         12:11:30.087 AM.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.backup#RecoveryPointCreator",
          "traits": {
            "smithy.api#documentation": "<p>Contains identifying information about the creation of a recovery point, including the\n            <code>BackupPlanArn</code>, <code>BackupPlanId</code>, <code>BackupPlanVersion</code>,\n         and <code>BackupRuleId</code> of the backup plan used to create it.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that a recovery point is created, in Unix format and Coordinated\n         Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds.\n         For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "EncryptionKeyArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The server-side encryption key used to protect your backups; for example,\n            <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.backup#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IAM role ARN used to create the target recovery point; for example,\n            <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>"
          }
        },
        "IsEncrypted": {
          "target": "com.amazonaws.backup#Boolean2",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value that is returned as <code>TRUE</code> if the specified recovery point is\n         encrypted, or <code>FALSE</code> if the recovery point is not encrypted.</p>"
          }
        },
        "LastRestoreTime": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that a recovery point was last restored, in Unix format and\n         Coordinated Universal Time (UTC). The value of <code>LastRestoreTime</code> is accurate to\n         milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018\n         12:11:30.087 AM.</p>"
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.backup#Lifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle defines when a protected resource is transitioned to cold storage and when\n         it expires. AWS Backup transitions and expires backups automatically according to the\n         lifecycle that you define. </p>\n         <p>Backups that are transitioned to cold storage must be stored in cold storage for a\n         minimum of 90 days. Therefore, the “expire after days” setting must be 90 days greater than\n         the “transition to cold after days” setting. The “transition to cold after days” setting\n         cannot be changed after a backup has been transitioned to cold. </p>"
          }
        },
        "RecoveryPointArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a recovery point; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a saved resource. The format of the ARN depends on the\n         resource type.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.backup#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of AWS resource to save as a recovery point; for example, an Amazon Elastic\n         Block Store (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS)\n         database.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.backup#RecoveryPointStatus",
          "traits": {
            "smithy.api#documentation": "<p>A status code specifying the state of the recovery point.</p>\n         <note>\n            <p>A partial status indicates that the recovery point was not successfully re-created\n            and must be retried.</p>\n         </note>"
          }
        },
        "StorageClass": {
          "target": "com.amazonaws.backup#StorageClass",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the storage class of the recovery point. Valid values are <code>WARM</code> or\n            <code>COLD</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#DescribeRestoreJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DescribeRestoreJobInput"
      },
      "output": {
        "target": "com.amazonaws.backup#DescribeRestoreJobOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#DependencyFailureException"
        },
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata associated with a restore job that is specified by a job ID.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/restore-jobs/{RestoreJobId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#DescribeRestoreJobInput": {
      "type": "structure",
      "members": {
        "RestoreJobId": {
          "target": "com.amazonaws.backup#RestoreJobId",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies the job that restores a recovery point.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DescribeRestoreJobOutput": {
      "type": "structure",
      "members": {
        "BackupSizeInBytes": {
          "target": "com.amazonaws.backup#Long",
          "traits": {
            "smithy.api#documentation": "<p>The size, in bytes, of the restored resource.</p>"
          }
        },
        "CompletionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that a job to restore a recovery point is completed, in Unix format\n         and Coordinated Universal Time (UTC). The value of <code>CompletionDate</code> is accurate\n         to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018\n         12:11:30.087 AM.</p>"
          }
        },
        "CreatedResourceArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a resource whose recovery point\n         is being restored. The format of the ARN depends on the resource type of the backed-up\n         resource.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that a restore job is created, in Unix format and Coordinated\n         Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds.\n         For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "ExpectedCompletionTimeMinutes": {
          "target": "com.amazonaws.backup#Long",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time in minutes that a job restoring a recovery point is expected to\n         take.</p>"
          }
[...]
