{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.backup#ARN": {
      "type": "string"
    },
    "com.amazonaws.backup#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.backup#AdvancedBackupSetting": {
      "type": "structure",
      "members": {
        "ResourceType": {
          "target": "com.amazonaws.backup#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an object containing resource type and backup options. The only supported\n         resource type is Amazon EC2 instances with Windows Volume Shadow Copy Service\n         (VSS). For a CloudFormation example, see the <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/integrate-cloudformation-with-aws-backup.html\">sample\n            CloudFormation template to enable Windows VSS</a> in the <i>Backup User Guide</i>.</p>\n         <p>Valid values: <code>EC2</code>.</p>"
          }
        },
        "BackupOptions": {
          "target": "com.amazonaws.backup#BackupOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the backup option for a selected resource. This option is only available for\n         Windows VSS backup jobs.</p>\n         <p>Valid values: </p>\n         <p>Set to <code>\"WindowsVSS\":\"enabled\"</code> to enable the <code>WindowsVSS</code> backup\n         option and create a Windows VSS backup. </p>\n         <p>Set to <code>\"WindowsVSS\":\"disabled\"</code> to create a regular backup. The\n            <code>WindowsVSS</code> option is not enabled by default.</p>\n         <p>If you specify an invalid option, you get an <code>InvalidParameterValueException</code>\n         exception.</p>\n         <p>For more information about Windows VSS backups, see <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/windows-backups.html\">Creating a VSS-Enabled Windows\n            Backup</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of backup options for each resource type.</p>"
      }
    },
    "com.amazonaws.backup#AdvancedBackupSettings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#AdvancedBackupSetting"
      }
    },
    "com.amazonaws.backup#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.backup#string"
        },
        "Message": {
          "target": "com.amazonaws.backup#string"
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "Context": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The required resource already exists.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.backup#BackupJob": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.backup#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID that owns the backup job.</p>"
          }
        },
        "BackupJobId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a request to Backup to back up a resource.</p>"
          }
        },
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Amazon Web Services\n         Region where they are created. They consist of lowercase letters, numbers, and\n         hyphens.</p>"
          }
        },
        "BackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
          }
        },
        "RecoveryPointArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a recovery point; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a resource. The format of the ARN depends on the\n         resource type.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a backup job is created, in Unix format and Coordinated Universal Time\n         (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the\n         value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "CompletionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a job to create a backup job is completed, in Unix format and\n         Coordinated Universal Time (UTC). The value of <code>CompletionDate</code> is accurate to\n         milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018\n         12:11:30.087 AM.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.backup#BackupJobState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of a resource recovery point.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A detailed message explaining the status of the job to back up a resource.</p>"
          }
        },
        "PercentDone": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Contains an estimated percentage complete of a job at the time the job status was\n         queried.</p>"
          }
        },
        "BackupSizeInBytes": {
          "target": "com.amazonaws.backup#Long",
          "traits": {
            "smithy.api#documentation": "<p>The size, in bytes, of a backup.</p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.backup#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IAM role ARN used to create the target recovery point. IAM roles other\n         than the default role must include either <code>AWSBackup</code> or <code>AwsBackup</code>\n         in the role name. For example,\n            <code>arn:aws:iam::123456789012:role/AWSBackupRDSAccess</code>. Role names without those\n         strings lack permissions to perform backup jobs.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.backup#RecoveryPointCreator",
          "traits": {
            "smithy.api#documentation": "<p>Contains identifying information about the creation of a backup job, including the\n            <code>BackupPlanArn</code>, <code>BackupPlanId</code>, <code>BackupPlanVersion</code>,\n         and <code>BackupRuleId</code> of the backup plan used to create it.</p>"
          }
        },
        "ExpectedCompletionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a job to back up resources is expected to be completed, in Unix format\n         and Coordinated Universal Time (UTC). The value of <code>ExpectedCompletionDate</code> is\n         accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January\n         26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "StartBy": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the time in Unix format and Coordinated Universal Time (UTC) when a backup job\n         must be started before it is canceled. The value is calculated by adding the start window\n         to the scheduled time. So if the scheduled time were 6:00 PM and the start window is 2\n         hours, the <code>StartBy</code> time would be 8:00 PM on the date specified. The value of\n            <code>StartBy</code> is accurate to milliseconds. For example, the value 1516925490.087\n         represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.backup#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon Web Services resource to be backed up; for example, an Amazon Elastic Block Store (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS) database. For Windows Volume Shadow Copy Service (VSS) backups, the only\n         supported resource type is Amazon EC2.</p>"
          }
        },
        "BytesTransferred": {
          "target": "com.amazonaws.backup#Long",
          "traits": {
            "smithy.api#documentation": "<p>The size in bytes transferred to a backup vault at the time that the job status was\n         queried.</p>"
          }
        },
        "BackupOptions": {
          "target": "com.amazonaws.backup#BackupOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the backup option for a selected resource. This option is only available for\n         Windows Volume Shadow Copy Service (VSS) backup jobs.</p>\n         <p>Valid values: Set to <code>\"WindowsVSS\":\"enabled\"</code> to enable the\n            <code>WindowsVSS</code> backup option and create a Windows VSS backup. Set to\n            <code>\"WindowsVSS\":\"disabled\"</code> to create a regular backup. If you specify an\n         invalid option, you get an <code>InvalidParameterValueException</code> exception.</p>"
          }
        },
        "BackupType": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Represents the type of backup for a backup job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains detailed information about a backup job.</p>"
      }
    },
    "com.amazonaws.backup#BackupJobState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATED",
            "name": "CREATED"
          },
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "ABORTING",
            "name": "ABORTING"
          },
          {
            "value": "ABORTED",
            "name": "ABORTED"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "EXPIRED",
            "name": "EXPIRED"
          }
        ]
      }
    },
    "com.amazonaws.backup#BackupJobsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupJob"
      }
    },
    "com.amazonaws.backup#BackupOptionKey": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_\\.]{1,50}$"
      }
    },
    "com.amazonaws.backup#BackupOptionValue": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_\\.]{1,50}$"
      }
    },
    "com.amazonaws.backup#BackupOptions": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.backup#BackupOptionKey"
      },
      "value": {
        "target": "com.amazonaws.backup#BackupOptionValue"
      }
    },
    "com.amazonaws.backup#BackupPlan": {
      "type": "structure",
      "members": {
        "BackupPlanName": {
          "target": "com.amazonaws.backup#BackupPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of a backup plan.</p>",
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.backup#BackupRules",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>BackupRule</code> objects, each of which specifies a scheduled task\n         that is used to back up a selection of resources. </p>",
            "smithy.api#required": {}
          }
        },
        "AdvancedBackupSettings": {
          "target": "com.amazonaws.backup#AdvancedBackupSettings",
          "traits": {
            "smithy.api#documentation": "<p>Contains a list of <code>BackupOptions</code> for each resource type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an optional backup plan display name and an array of <code>BackupRule</code>\n         objects, each of which specifies a backup rule. Each rule in a backup plan is a separate\n         scheduled task and can back up a different selection of Amazon Web Services\n         resources.</p>"
      }
    },
    "com.amazonaws.backup#BackupPlanInput": {
      "type": "structure",
      "members": {
        "BackupPlanName": {
          "target": "com.amazonaws.backup#BackupPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The optional display name of a backup plan.</p>",
            "smithy.api#required": {}
          }
        },
        "Rules": {
          "target": "com.amazonaws.backup#BackupRulesInput",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>BackupRule</code> objects, each of which specifies a scheduled task\n         that is used to back up a selection of resources.</p>",
            "smithy.api#required": {}
          }
        },
        "AdvancedBackupSettings": {
          "target": "com.amazonaws.backup#AdvancedBackupSettings",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of <code>BackupOptions</code> for each resource type. These settings\n         are only available for Windows Volume Shadow Copy Service (VSS) backup jobs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an optional backup plan display name and an array of <code>BackupRule</code>\n         objects, each of which specifies a backup rule. Each rule in a backup plan is a separate\n         scheduled task and can back up a different selection of Amazon Web Services resources.\n      </p>"
      }
    },
    "com.amazonaws.backup#BackupPlanName": {
      "type": "string"
    },
    "com.amazonaws.backup#BackupPlanTemplatesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupPlanTemplatesListMember"
      }
    },
    "com.amazonaws.backup#BackupPlanTemplatesListMember": {
      "type": "structure",
      "members": {
        "BackupPlanTemplateId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a stored backup plan template.</p>"
          }
        },
        "BackupPlanTemplateName": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>The optional display name of a backup plan template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object specifying metadata associated with a backup plan template.</p>"
      }
    },
    "com.amazonaws.backup#BackupPlanVersionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupPlansListMember"
      }
    },
    "com.amazonaws.backup#BackupPlansList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupPlansListMember"
      }
    },
    "com.amazonaws.backup#BackupPlansListMember": {
      "type": "structure",
      "members": {
        "BackupPlanArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup plan; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:plan:8F81F553-3A74-4A3F-B93D-B3360DC80C50</code>.</p>"
          }
        },
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a resource backup plan is created, in Unix format and Coordinated\n         Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds.\n         For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "DeletionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a backup plan is deleted, in Unix format and Coordinated Universal\n         Time (UTC). The value of <code>DeletionDate</code> is accurate to milliseconds. For\n         example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Unique, randomly generated, Unicode, UTF-8 encoded strings that are at most 1,024 bytes\n         long. Version IDs cannot be edited.</p>"
          }
        },
        "BackupPlanName": {
          "target": "com.amazonaws.backup#BackupPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of a saved backup plan.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and allows failed requests to be retried\n         without the risk of running the operation twice.</p>"
          }
        },
        "LastExecutionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time a job to back up resources was run with this rule. A date and time, in\n         Unix format and Coordinated Universal Time (UTC). The value of\n            <code>LastExecutionDate</code> is accurate to milliseconds. For example, the value\n         1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "AdvancedBackupSettings": {
          "target": "com.amazonaws.backup#AdvancedBackupSettings",
          "traits": {
            "smithy.api#documentation": "<p>Contains a list of <code>BackupOptions</code> for a resource type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata about a backup plan.</p>"
      }
    },
    "com.amazonaws.backup#BackupRule": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.backup#BackupRuleName",
          "traits": {
            "smithy.api#documentation": "<p>An optional display name for a backup rule.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetBackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Amazon Web Services\n         Region where they are created. They consist of lowercase letters, numbers, and\n         hyphens.</p>",
            "smithy.api#required": {}
          }
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.backup#CronExpression",
          "traits": {
            "smithy.api#documentation": "<p>A cron expression in UTC specifying when Backup initiates a backup job. For\n         more information about cron expressions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html\">Schedule Expressions for Rules</a> in the <i>Amazon CloudWatch Events User\n            Guide.</i>. Prior to specifying a value for this parameter, we recommend testing\n         your cron expression using one of the many available cron generator and testing\n         tools.</p>"
          }
        },
        "StartWindowMinutes": {
          "target": "com.amazonaws.backup#WindowMinutes",
          "traits": {
            "smithy.api#documentation": "<p>A value in minutes after a backup is scheduled before a job will be canceled if it\n         doesn't start successfully. This value is optional.</p>"
          }
        },
        "CompletionWindowMinutes": {
          "target": "com.amazonaws.backup#WindowMinutes",
          "traits": {
            "smithy.api#documentation": "<p>A value in minutes after a backup job is successfully started before it must be\n         completed or it will be canceled by Backup. This value is optional.</p>"
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.backup#Lifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle defines when a protected resource is transitioned to cold storage and when\n         it expires. Backup transitions and expires backups automatically according to\n         the lifecycle that you define. </p>\n         <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90\n         days. Therefore, the “expire after days” setting must be 90 days greater than the\n         “transition to cold after days” setting. The “transition to cold after days” setting cannot\n         be changed after a backup has been transitioned to cold. </p>\n         <p>Only Amazon EFS file system backups can be transitioned to cold storage.</p>"
          }
        },
        "RecoveryPointTags": {
          "target": "com.amazonaws.backup#Tags",
          "traits": {
            "smithy.api#documentation": "<p>An array of key-value pair strings that are assigned to resources that are associated\n         with this rule when restored from backup.</p>"
          }
        },
        "RuleId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a rule that is used to schedule the backup of a selection of\n         resources.</p>"
          }
        },
        "CopyActions": {
          "target": "com.amazonaws.backup#CopyActions",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>CopyAction</code> objects, which contains the details of the copy\n         operation.</p>"
          }
        },
        "EnableContinuousBackup": {
          "target": "com.amazonaws.backup#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Backup creates continuous backups. True causes Backup to create continuous backups capable of point-in-time restore (PITR). False\n         (or not specified) causes Backup to create snapshot backups.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a scheduled task used to back up a selection of resources.</p>"
      }
    },
    "com.amazonaws.backup#BackupRuleInput": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.backup#BackupRuleName",
          "traits": {
            "smithy.api#documentation": "<p>An optional display name for a backup rule.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetBackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Amazon Web Services\n         Region where they are created. They consist of lowercase letters, numbers, and\n         hyphens.</p>",
            "smithy.api#required": {}
          }
        },
        "ScheduleExpression": {
          "target": "com.amazonaws.backup#CronExpression",
          "traits": {
            "smithy.api#documentation": "<p>A CRON expression in UTC specifying when Backup initiates a backup\n         job.</p>"
          }
        },
        "StartWindowMinutes": {
          "target": "com.amazonaws.backup#WindowMinutes",
          "traits": {
            "smithy.api#documentation": "<p>A value in minutes after a backup is scheduled before a job will be canceled if it\n         doesn't start successfully. This value is optional.</p>"
          }
        },
        "CompletionWindowMinutes": {
          "target": "com.amazonaws.backup#WindowMinutes",
          "traits": {
            "smithy.api#documentation": "<p>A value in minutes after a backup job is successfully started before it must be\n         completed or it will be canceled by Backup. This value is optional.</p>"
          }
        },
        "Lifecycle": {
          "target": "com.amazonaws.backup#Lifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle defines when a protected resource is transitioned to cold storage and when\n         it expires. Backup will transition and expire backups automatically according\n         to the lifecycle that you define. </p>\n         <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90\n         days. Therefore, the “expire after days” setting must be 90 days greater than the\n         “transition to cold after days” setting. The “transition to cold after days” setting cannot\n         be changed after a backup has been transitioned to cold. </p>\n         <p>Only Amazon EFS file system backups can be transitioned to cold storage.</p>"
          }
        },
        "RecoveryPointTags": {
          "target": "com.amazonaws.backup#Tags",
          "traits": {
            "smithy.api#documentation": "<p>To help organize your resources, you can assign your own metadata to the resources that\n         you create. Each tag is a key-value pair.</p>"
          }
        },
        "CopyActions": {
          "target": "com.amazonaws.backup#CopyActions",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>CopyAction</code> objects, which contains the details of the copy\n         operation.</p>"
          }
        },
        "EnableContinuousBackup": {
          "target": "com.amazonaws.backup#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Backup creates continuous backups. True causes Backup to create continuous backups capable of point-in-time restore (PITR). False\n         (or not specified) causes Backup to create snapshot backups.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a scheduled task used to back up a selection of resources.</p>"
      }
    },
    "com.amazonaws.backup#BackupRuleName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_\\.]{1,50}$"
      }
    },
    "com.amazonaws.backup#BackupRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupRule"
      }
    },
    "com.amazonaws.backup#BackupRulesInput": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupRuleInput"
      }
    },
    "com.amazonaws.backup#BackupSelection": {
      "type": "structure",
      "members": {
        "SelectionName": {
          "target": "com.amazonaws.backup#BackupSelectionName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of a resource selection document.</p>",
            "smithy.api#required": {}
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.backup#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that Backup uses to authenticate when backing up the\n         target resource; for example, <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Resources": {
          "target": "com.amazonaws.backup#ResourceArns",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that contain Amazon Resource Names (ARNs)\n         \n         of resources to assign to a backup plan.</p>"
          }
        },
        "ListOfTags": {
          "target": "com.amazonaws.backup#ListOfTags",
          "traits": {
            "smithy.api#documentation": "<p>An array of conditions used to specify a set of resources to assign to a backup plan;\n         for example, <code>\"StringEquals\": {\"ec2:ResourceTag/Department\": \"accounting\"</code>.\n         Assigns the backup plan to every resource with at least one matching tag.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used to specify a set of resources to a backup plan.</p>"
      }
    },
    "com.amazonaws.backup#BackupSelectionName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_\\.]{1,50}$"
      }
    },
    "com.amazonaws.backup#BackupSelectionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupSelectionsListMember"
      }
    },
    "com.amazonaws.backup#BackupSelectionsListMember": {
      "type": "structure",
      "members": {
        "SelectionId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a request to assign a set of resources to a backup plan.</p>"
          }
        },
        "SelectionName": {
          "target": "com.amazonaws.backup#BackupSelectionName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of a resource selection document.</p>"
          }
        },
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a backup plan is created, in Unix format and Coordinated Universal\n         Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For\n         example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and allows failed requests to be retried\n         without the risk of running the operation twice.</p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.backup#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IAM role Amazon Resource Name (ARN) to create the target recovery point;\n         for example, <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata about a <code>BackupSelection</code> object.</p>"
      }
    },
    "com.amazonaws.backup#BackupVaultEvent": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BACKUP_JOB_STARTED",
            "name": "BACKUP_JOB_STARTED"
          },
          {
            "value": "BACKUP_JOB_COMPLETED",
            "name": "BACKUP_JOB_COMPLETED"
          },
          {
            "value": "BACKUP_JOB_SUCCESSFUL",
            "name": "BACKUP_JOB_SUCCESSFUL"
          },
          {
            "value": "BACKUP_JOB_FAILED",
            "name": "BACKUP_JOB_FAILED"
          },
          {
            "value": "BACKUP_JOB_EXPIRED",
            "name": "BACKUP_JOB_EXPIRED"
          },
          {
            "value": "RESTORE_JOB_STARTED",
            "name": "RESTORE_JOB_STARTED"
          },
          {
            "value": "RESTORE_JOB_COMPLETED",
            "name": "RESTORE_JOB_COMPLETED"
          },
          {
            "value": "RESTORE_JOB_SUCCESSFUL",
            "name": "RESTORE_JOB_SUCCESSFUL"
          },
          {
            "value": "RESTORE_JOB_FAILED",
            "name": "RESTORE_JOB_FAILED"
          },
          {
            "value": "COPY_JOB_STARTED",
            "name": "COPY_JOB_STARTED"
          },
          {
            "value": "COPY_JOB_SUCCESSFUL",
            "name": "COPY_JOB_SUCCESSFUL"
          },
          {
            "value": "COPY_JOB_FAILED",
            "name": "COPY_JOB_FAILED"
          },
          {
            "value": "RECOVERY_POINT_MODIFIED",
            "name": "RECOVERY_POINT_MODIFIED"
          },
          {
            "value": "BACKUP_PLAN_CREATED",
            "name": "BACKUP_PLAN_CREATED"
          },
          {
            "value": "BACKUP_PLAN_MODIFIED",
            "name": "BACKUP_PLAN_MODIFIED"
          }
        ]
      }
    },
    "com.amazonaws.backup#BackupVaultEvents": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupVaultEvent"
      }
    },
    "com.amazonaws.backup#BackupVaultList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#BackupVaultListMember"
      }
    },
    "com.amazonaws.backup#BackupVaultListMember": {
      "type": "structure",
      "members": {
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Amazon Web Services\n         Region where they are created. They consist of lowercase letters, numbers, and\n         hyphens.</p>"
          }
        },
        "BackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a resource backup is created, in Unix format and Coordinated Universal\n         Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For\n         example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "EncryptionKeyArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The server-side encryption key that is used to protect your backups; for example,\n            <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and allows failed requests to be retried\n         without the risk of running the operation twice.</p>"
          }
        },
        "NumberOfRecoveryPoints": {
          "target": "com.amazonaws.backup#Long2",
          "traits": {
            "smithy.api#documentation": "<p>The number of recovery points that are stored in a backup vault.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata about a backup vault.</p>"
      }
    },
    "com.amazonaws.backup#BackupVaultName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_]{2,50}$"
      }
    },
    "com.amazonaws.backup#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.backup#Boolean2": {
      "type": "boolean"
    },
    "com.amazonaws.backup#CalculatedLifecycle": {
      "type": "structure",
      "members": {
        "MoveToColdStorageAt": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that specifies when to transition a recovery point to cold storage.</p>"
          }
        },
        "DeleteAt": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp that specifies when to delete a recovery point.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains <code>DeleteAt</code> and <code>MoveToColdStorageAt</code> timestamps, which\n         are used to specify a lifecycle for a recovery point.</p>\n         <p>The lifecycle defines when a protected resource is transitioned to cold storage and when\n         it expires. Backup transitions and expires backups automatically according to\n         the lifecycle that you define.</p>\n         <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90\n         days. Therefore, the “expire after days” setting must be 90 days greater than the\n         “transition to cold after days” setting. The “transition to cold after days” setting cannot\n         be changed after a backup has been transitioned to cold.</p>\n         <p>Only Amazon EFS file system backups can be transitioned to cold storage.</p>"
      }
    },
    "com.amazonaws.backup#ComplianceResourceIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#string"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.backup#Condition": {
      "type": "structure",
      "members": {
        "ConditionType": {
          "target": "com.amazonaws.backup#ConditionType",
          "traits": {
            "smithy.api#documentation": "<p>An operation, such as <code>StringEquals</code>, that is applied to a key-value pair\n         used to filter resources in a selection.</p>",
            "smithy.api#required": {}
          }
        },
        "ConditionKey": {
          "target": "com.amazonaws.backup#ConditionKey",
          "traits": {
            "smithy.api#documentation": "<p>The key in a key-value pair. For example, in <code>\"ec2:ResourceTag/Department\":\n            \"accounting\"</code>, <code>\"ec2:ResourceTag/Department\"</code> is the key.</p>",
            "smithy.api#required": {}
          }
        },
        "ConditionValue": {
          "target": "com.amazonaws.backup#ConditionValue",
          "traits": {
            "smithy.api#documentation": "<p>The value in a key-value pair. For example, in <code>\"ec2:ResourceTag/Department\":\n            \"accounting\"</code>, <code>\"accounting\"</code> is the value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an array of triplets made up of a condition type (such as\n            <code>StringEquals</code>), a key, and a value. Conditions are used to filter resources\n         in a selection that is assigned to a backup plan.</p>"
      }
    },
    "com.amazonaws.backup#ConditionKey": {
      "type": "string"
    },
    "com.amazonaws.backup#ConditionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STRINGEQUALS",
            "name": "STRINGEQUALS"
          }
        ]
      }
    },
    "com.amazonaws.backup#ConditionValue": {
      "type": "string"
    },
    "com.amazonaws.backup#ConflictException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.backup#string"
        },
        "Message": {
          "target": "com.amazonaws.backup#string"
        },
        "Type": {
          "target": "com.amazonaws.backup#string"
        },
        "Context": {
          "target": "com.amazonaws.backup#string"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ConflictException",
          "httpResponseCode": 409
        },
        "smithy.api#documentation": "<p>Backup can't perform the action that you requested until it finishes\n         performing a previous action. Try again later.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.backup#ControlInputParameter": {
      "type": "structure",
      "members": {
        "ParameterName": {
          "target": "com.amazonaws.backup#ParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a parameter, for example, <code>BackupPlanFrequency</code>.</p>"
          }
        },
        "ParameterValue": {
          "target": "com.amazonaws.backup#ParameterValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of parameter, for example, <code>hourly</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of parameters for a control. A control can have zero, one, or more than one\n         parameter. An example of a control with two parameters is: \"backup plan frequency is at\n         least <code>daily</code> and the retention period is at least <code>1 year</code>\". The\n         first parameter is <code>daily</code>. The second parameter is <code>1 year</code>.</p>"
      }
    },
    "com.amazonaws.backup#ControlInputParameters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#ControlInputParameter"
      }
    },
    "com.amazonaws.backup#ControlName": {
      "type": "string"
    },
    "com.amazonaws.backup#ControlScope": {
      "type": "structure",
      "members": {
        "ComplianceResourceIds": {
          "target": "com.amazonaws.backup#ComplianceResourceIdList",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether the control scope includes a specific resource identified by its\n         unique Amazon Resource Name (ARN).</p>"
          }
        },
        "ComplianceResourceTypes": {
          "target": "com.amazonaws.backup#ResourceTypeList",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether the control scope includes one or more types of resources, such as\n            <code>EFS</code> or <code>RDS</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.backup#stringMap",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether the control scope includes resources with one or more tags. Each tag\n         is a key-value pair.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A framework consists of one or more controls. Each control has its own control scope.\n         The control scope defines what the control will evaluate. Three examples of control scopes\n         are: a specific backup plan, all backup plans with a specific tag, or all backup\n         plans.</p>\n         <note>\n            <p>To set a control scope that includes all of a particular resource, leave the\n               <code>ControlScope</code> empty or do not pass it when calling\n               <code>CreateFramework</code>.</p>\n         </note>"
      }
    },
    "com.amazonaws.backup#CopyAction": {
      "type": "structure",
      "members": {
        "Lifecycle": {
          "target": "com.amazonaws.backup#Lifecycle"
        },
        "DestinationBackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies the destination backup vault for\n         the copied backup. For example,\n            <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the copy operation.</p>"
      }
    },
    "com.amazonaws.backup#CopyActions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#CopyAction"
      }
    },
    "com.amazonaws.backup#CopyJob": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.backup#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID that owns the copy job.</p>"
          }
        },
        "CopyJobId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a copy job.</p>"
          }
        },
        "SourceBackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a source copy vault; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>. </p>"
          }
        },
        "SourceRecoveryPointArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a source recovery point; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>"
          }
        },
        "DestinationBackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a destination copy vault; for\n         example, <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
          }
        },
        "DestinationRecoveryPointArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a destination recovery point; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services resource to be copied; for example, an Amazon Elastic Block Store\n            (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS)\n         database.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a copy job is created, in Unix format and Coordinated Universal Time\n         (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the\n         value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "CompletionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a copy job is completed, in Unix format and Coordinated Universal Time\n         (UTC). The value of <code>CompletionDate</code> is accurate to milliseconds. For example,\n         the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.backup#CopyJobState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of a copy job.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A detailed message explaining the status of the job to copy a resource.</p>"
          }
        },
        "BackupSizeInBytes": {
          "target": "com.amazonaws.backup#Long",
          "traits": {
            "smithy.api#documentation": "<p>The size, in bytes, of a copy job.</p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.backup#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IAM role ARN used to copy the target recovery point; for example,\n            <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.backup#RecoveryPointCreator"
        },
        "ResourceType": {
          "target": "com.amazonaws.backup#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon Web Services resource to be copied; for example, an Amazon Elastic Block Store (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS) database.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains detailed information about a copy job.</p>"
      }
    },
    "com.amazonaws.backup#CopyJobState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATED",
            "name": "CREATED"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.backup#CopyJobsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.backup#CopyJob"
      }
    },
    "com.amazonaws.backup#CreateBackupPlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#CreateBackupPlanInput"
      },
      "output": {
        "target": "com.amazonaws.backup#CreateBackupPlanOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#LimitExceededException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a backup plan using a backup plan name and backup rules. A backup plan is a\n         document that contains information that Backup uses to schedule tasks that\n         create recovery points for resources.</p>\n         <p>If you call <code>CreateBackupPlan</code> with a plan that already exists, you receive\n         an <code>AlreadyExistsException</code> exception.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/backup/plans",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#CreateBackupPlanInput": {
      "type": "structure",
      "members": {
        "BackupPlan": {
          "target": "com.amazonaws.backup#BackupPlanInput",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the body of a backup plan. Includes a <code>BackupPlanName</code> and one or\n         more sets of <code>Rules</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "BackupPlanTags": {
          "target": "com.amazonaws.backup#Tags",
          "traits": {
            "smithy.api#documentation": "<p>To help organize your resources, you can assign your own metadata to the resources that\n         you create. Each tag is a key-value pair. The specified tags are assigned to all backups\n         created with this plan.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the request and allows failed requests to be retried without the risk of\n         running the operation twice. If the request includes a <code>CreatorRequestId</code> that\n         matches an existing backup plan, that plan is returned. This parameter is optional.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateBackupPlanOutput": {
      "type": "structure",
      "members": {
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.</p>"
          }
        },
        "BackupPlanArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup plan; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:plan:8F81F553-3A74-4A3F-B93D-B3360DC80C50</code>.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that a backup plan is created, in Unix format and Coordinated\n         Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds.\n         For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Unique, randomly generated, Unicode, UTF-8 encoded strings that are at most 1,024 bytes\n         long. They cannot be edited.</p>"
          }
        },
        "AdvancedBackupSettings": {
          "target": "com.amazonaws.backup#AdvancedBackupSettings",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>BackupOptions</code> settings for a resource type. This option is only\n         available for Windows Volume Shadow Copy Service (VSS) backup jobs.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateBackupSelection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#CreateBackupSelectionInput"
      },
      "output": {
        "target": "com.amazonaws.backup#CreateBackupSelectionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#LimitExceededException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a JSON document that specifies a set of resources to assign to a backup plan.\n         Resources can be included by specifying patterns for a <code>ListOfTags</code> and selected\n            <code>Resources</code>. </p>\n         <p>For example, consider the following patterns:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Resources: \"arn:aws:ec2:region:account-id:volume/volume-id\"</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ConditionKey:\"department\"</code>\n               </p>\n               <p>\n                  <code>ConditionValue:\"finance\"</code>\n               </p>\n               <p>\n                  <code>ConditionType:\"StringEquals\"</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ConditionKey:\"importance\"</code>\n               </p>\n               <p>\n                  <code>ConditionValue:\"critical\"</code>\n               </p>\n               <p>\n                  <code>ConditionType:\"StringEquals\"</code>\n               </p>\n            </li>\n         </ul>\n         <p>Using these patterns would back up all Amazon Elastic Block Store (Amazon EBS)\n         volumes that are tagged as <code>\"department=finance\"</code>,\n            <code>\"importance=critical\"</code>, in addition to an EBS volume with the specified\n         volume ID.</p>\n         <p>Resources and conditions are additive in that all resources that match the pattern are\n         selected. This shouldn't be confused with a logical AND, where all conditions must match.\n         The matching patterns are logically put together using the OR operator.\n         In other words, all patterns that match are selected for backup.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/backup/plans/{BackupPlanId}/selections",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#CreateBackupSelectionInput": {
      "type": "structure",
      "members": {
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies the backup plan to be associated with the selection of\n         resources.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "BackupSelection": {
          "target": "com.amazonaws.backup#BackupSelection",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the body of a request to assign a set of resources to a backup plan.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and allows failed requests to be retried\n         without the risk of running the operation twice.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateBackupSelectionOutput": {
      "type": "structure",
      "members": {
        "SelectionId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies the body of a request to assign a set of resources to a backup\n         plan.</p>"
          }
        },
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a backup selection is created, in Unix format and Coordinated\n         Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds.\n         For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateBackupVault": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#CreateBackupVaultInput"
      },
      "output": {
        "target": "com.amazonaws.backup#CreateBackupVaultOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#LimitExceededException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a logical container where backups are stored. A <code>CreateBackupVault</code>\n         request includes a name, optionally one or more resource tags, an encryption key, and a\n         request ID.</p>\n         <note>\n            <p>Do not include sensitive data, such as passport numbers, in the name of a backup\n            vault.</p>\n         </note>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/backup-vaults/{BackupVaultName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#CreateBackupVaultInput": {
      "type": "structure",
      "members": {
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Amazon Web Services\n         Region where they are created. They consist of letters, numbers, and hyphens.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "BackupVaultTags": {
          "target": "com.amazonaws.backup#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that you can assign to help organize the resources that you create. Each tag is\n         a key-value pair.</p>"
          }
        },
        "EncryptionKeyArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The server-side encryption key that is used to protect your backups; for example,\n            <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and allows failed requests to be retried\n         without the risk of running the operation twice.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateBackupVaultOutput": {
      "type": "structure",
      "members": {
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Region where they are\n         created. They consist of lowercase letters, numbers, and hyphens.</p>"
          }
        },
        "BackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a backup vault is created, in Unix format and Coordinated Universal\n         Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For\n         example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateFramework": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#CreateFrameworkInput"
      },
      "output": {
        "target": "com.amazonaws.backup#CreateFrameworkOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#LimitExceededException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a framework with one or more controls. A framework is a collection of controls\n         that you can use to evaluate your backup practices. By using pre-built customizable\n         controls to define your policies, you can evaluate whether your backup practices comply\n         with your policies. To get insights into the compliance status of your frameworks, you can\n         set up automatic daily reports.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/audit/frameworks",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#CreateFrameworkInput": {
      "type": "structure",
      "members": {
        "FrameworkName": {
          "target": "com.amazonaws.backup#FrameworkName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the framework. The name must be between 1 and 256 characters,\n         starting with a letter, and consisting of letters (a-z, A-Z), numbers (0-9), and\n         underscores (_).</p>",
            "smithy.api#required": {}
          }
        },
        "FrameworkDescription": {
          "target": "com.amazonaws.backup#FrameworkDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the framework with a maximum of 1,024 characters.</p>"
          }
        },
        "FrameworkControls": {
          "target": "com.amazonaws.backup#FrameworkControls",
          "traits": {
            "smithy.api#documentation": "<p>A list of the controls that make up the framework. Each control in the list has a name,\n         input parameters, and scope.</p>",
            "smithy.api#required": {}
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A customer-chosen string that you can use to distinguish between otherwise identical\n         calls to <code>CreateFrameworkInput</code>. Retrying a successful request with the same\n         idempotency token results in a success message with no action taken.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "FrameworkTags": {
          "target": "com.amazonaws.backup#stringMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that you can assign to help organize the frameworks that you create. Each tag\n         is a key-value pair.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateFrameworkOutput": {
      "type": "structure",
      "members": {
        "FrameworkName": {
          "target": "com.amazonaws.backup#FrameworkName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the framework. The name must be between 1 and 256 characters,\n         starting with a letter, and consisting of letters (a-z, A-Z), numbers (0-9), and\n         underscores (_).</p>"
          }
        },
        "FrameworkArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a resource. The format of the ARN\n         depends on the resource type.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CreateReportPlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#CreateReportPlanInput"
      },
      "output": {
        "target": "com.amazonaws.backup#CreateReportPlanOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#LimitExceededException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a report plan. A report plan is a document that contains information about the\n         contents of the report and where Backup will deliver it.</p>\n         <p>If you call <code>CreateReportPlan</code> with a plan that already exists, you receive\n         an <code>AlreadyExistsException</code> exception.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/audit/report-plans",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#CreateReportPlanInput": {
      "type": "structure",
      "members": {
        "ReportPlanName": {
          "target": "com.amazonaws.backup#ReportPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the report plan. The name must be between 1 and 256 characters,\n         starting with a letter, and consisting of letters (a-z, A-Z), numbers (0-9), and\n         underscores (_).</p>",
            "smithy.api#required": {}
          }
        },
        "ReportPlanDescription": {
          "target": "com.amazonaws.backup#ReportPlanDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the report plan with a maximum of 1,024 characters.</p>"
          }
        },
        "ReportDeliveryChannel": {
          "target": "com.amazonaws.backup#ReportDeliveryChannel",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains information about where and how to deliver your reports,\n         specifically your Amazon S3 bucket name, S3 key prefix, and the formats of your\n         reports.</p>",
            "smithy.api#required": {}
          }
        },
        "ReportSetting": {
          "target": "com.amazonaws.backup#ReportSetting",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the report template for the report. Reports are built using a report\n         template. The report templates are:</p>\n         <p>\n            <code>BACKUP_JOB_REPORT | COPY_JOB_REPORT | RESTORE_JOB_REPORT</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "ReportPlanTags": {
          "target": "com.amazonaws.backup#stringMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that you can assign to help organize the frameworks that you create. Each tag\n         is a key-value pair.</p>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>A customer-chosen string that you can use to distinguish between otherwise identical\n         calls to <code>CreateReportPlanInput</code>. Retrying a successful request with the same\n         idempotency token results in a success message with no action taken.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.backup#CreateReportPlanOutput": {
      "type": "structure",
      "members": {
        "ReportPlanName": {
          "target": "com.amazonaws.backup#ReportPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the report plan.</p>"
          }
        },
        "ReportPlanArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a resource. The format of the ARN\n         depends on the resource type.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#CronExpression": {
      "type": "string"
    },
    "com.amazonaws.backup#CryoControllerUserManager": {
      "type": "service",
      "version": "2018-11-15",
      "operations": [
        {
          "target": "com.amazonaws.backup#CreateBackupPlan"
        },
        {
          "target": "com.amazonaws.backup#CreateBackupSelection"
        },
        {
          "target": "com.amazonaws.backup#CreateBackupVault"
        },
        {
          "target": "com.amazonaws.backup#CreateFramework"
        },
        {
          "target": "com.amazonaws.backup#CreateReportPlan"
        },
        {
          "target": "com.amazonaws.backup#DeleteBackupPlan"
        },
        {
          "target": "com.amazonaws.backup#DeleteBackupSelection"
        },
        {
          "target": "com.amazonaws.backup#DeleteBackupVault"
        },
        {
          "target": "com.amazonaws.backup#DeleteBackupVaultAccessPolicy"
        },
        {
          "target": "com.amazonaws.backup#DeleteBackupVaultNotifications"
        },
        {
          "target": "com.amazonaws.backup#DeleteFramework"
        },
        {
          "target": "com.amazonaws.backup#DeleteRecoveryPoint"
        },
        {
          "target": "com.amazonaws.backup#DeleteReportPlan"
        },
        {
          "target": "com.amazonaws.backup#DescribeBackupJob"
        },
        {
          "target": "com.amazonaws.backup#DescribeBackupVault"
        },
        {
          "target": "com.amazonaws.backup#DescribeCopyJob"
        },
        {
          "target": "com.amazonaws.backup#DescribeFramework"
        },
        {
          "target": "com.amazonaws.backup#DescribeGlobalSettings"
        },
        {
          "target": "com.amazonaws.backup#DescribeProtectedResource"
        },
        {
          "target": "com.amazonaws.backup#DescribeRecoveryPoint"
        },
        {
          "target": "com.amazonaws.backup#DescribeRegionSettings"
        },
        {
          "target": "com.amazonaws.backup#DescribeReportJob"
        },
        {
          "target": "com.amazonaws.backup#DescribeReportPlan"
        },
        {
          "target": "com.amazonaws.backup#DescribeRestoreJob"
        },
        {
          "target": "com.amazonaws.backup#DisassociateRecoveryPoint"
        },
        {
          "target": "com.amazonaws.backup#ExportBackupPlanTemplate"
        },
        {
          "target": "com.amazonaws.backup#GetBackupPlan"
        },
        {
          "target": "com.amazonaws.backup#GetBackupPlanFromJSON"
        },
        {
          "target": "com.amazonaws.backup#GetBackupPlanFromTemplate"
        },
        {
          "target": "com.amazonaws.backup#GetBackupSelection"
        },
        {
          "target": "com.amazonaws.backup#GetBackupVaultAccessPolicy"
        },
        {
          "target": "com.amazonaws.backup#GetBackupVaultNotifications"
        },
        {
          "target": "com.amazonaws.backup#GetRecoveryPointRestoreMetadata"
        },
        {
          "target": "com.amazonaws.backup#GetSupportedResourceTypes"
        },
        {
          "target": "com.amazonaws.backup#ListBackupJobs"
        },
        {
          "target": "com.amazonaws.backup#ListBackupPlans"
        },
        {
          "target": "com.amazonaws.backup#ListBackupPlanTemplates"
        },
        {
          "target": "com.amazonaws.backup#ListBackupPlanVersions"
        },
        {
          "target": "com.amazonaws.backup#ListBackupSelections"
        },
        {
          "target": "com.amazonaws.backup#ListBackupVaults"
        },
        {
          "target": "com.amazonaws.backup#ListCopyJobs"
        },
        {
          "target": "com.amazonaws.backup#ListFrameworks"
        },
        {
          "target": "com.amazonaws.backup#ListProtectedResources"
        },
        {
          "target": "com.amazonaws.backup#ListRecoveryPointsByBackupVault"
        },
        {
          "target": "com.amazonaws.backup#ListRecoveryPointsByResource"
        },
        {
          "target": "com.amazonaws.backup#ListReportJobs"
        },
        {
          "target": "com.amazonaws.backup#ListReportPlans"
        },
        {
          "target": "com.amazonaws.backup#ListRestoreJobs"
        },
        {
          "target": "com.amazonaws.backup#ListTags"
        },
        {
          "target": "com.amazonaws.backup#PutBackupVaultAccessPolicy"
        },
        {
          "target": "com.amazonaws.backup#PutBackupVaultNotifications"
        },
        {
          "target": "com.amazonaws.backup#StartBackupJob"
        },
        {
          "target": "com.amazonaws.backup#StartCopyJob"
        },
        {
          "target": "com.amazonaws.backup#StartReportJob"
        },
        {
          "target": "com.amazonaws.backup#StartRestoreJob"
        },
        {
          "target": "com.amazonaws.backup#StopBackupJob"
        },
        {
          "target": "com.amazonaws.backup#TagResource"
        },
        {
          "target": "com.amazonaws.backup#UntagResource"
        },
        {
          "target": "com.amazonaws.backup#UpdateBackupPlan"
        },
        {
          "target": "com.amazonaws.backup#UpdateFramework"
        },
        {
          "target": "com.amazonaws.backup#UpdateGlobalSettings"
        },
        {
          "target": "com.amazonaws.backup#UpdateRecoveryPointLifecycle"
        },
        {
          "target": "com.amazonaws.backup#UpdateRegionSettings"
        },
        {
          "target": "com.amazonaws.backup#UpdateReportPlan"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Backup",
          "arnNamespace": "backup",
          "cloudFormationName": "Backup",
          "cloudTrailEventSource": "backup.amazonaws.com",
          "endpointPrefix": "backup"
        },
        "aws.auth#sigv4": {
          "name": "backup"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Backup</fullname>\n         <p>Backup is a unified backup service designed to protect Amazon Web Services\n         services and their associated data. Backup simplifies the creation, migration,\n         restoration, and deletion of backups, while also providing reporting and\n         auditing.</p>",
        "smithy.api#title": "AWS Backup"
      }
    },
    "com.amazonaws.backup#DeleteBackupPlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DeleteBackupPlanInput"
      },
      "output": {
        "target": "com.amazonaws.backup#DeleteBackupPlanOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a backup plan. A backup plan can only be deleted after all associated selections\n         of resources have been deleted. Deleting a backup plan deletes the current version of a\n         backup plan. Previous versions, if any, will still exist.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/backup/plans/{BackupPlanId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.backup#DeleteBackupPlanInput": {
      "type": "structure",
      "members": {
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DeleteBackupPlanOutput": {
      "type": "structure",
      "members": {
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.</p>"
          }
        },
        "BackupPlanArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup plan; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:plan:8F81F553-3A74-4A3F-B93D-B3360DC80C50</code>.</p>"
          }
        },
        "DeletionDate": {
          "target": "com.amazonaws.backup#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time a backup plan is deleted, in Unix format and Coordinated Universal\n         Time (UTC). The value of <code>DeletionDate</code> is accurate to milliseconds. For\n         example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087\n         AM.</p>"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Unique, randomly generated, Unicode, UTF-8 encoded strings that are at most 1,024 bytes\n         long. Version IDs cannot be edited.</p>"
          }
        }
      }
    },
    "com.amazonaws.backup#DeleteBackupSelection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DeleteBackupSelectionInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the resource selection associated with a backup plan that is specified by the\n            <code>SelectionId</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/backup/plans/{BackupPlanId}/selections/{SelectionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.backup#DeleteBackupSelectionInput": {
      "type": "structure",
      "members": {
        "BackupPlanId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a backup plan.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SelectionId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies the body of a request to assign a set of resources to a backup\n         plan.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DeleteBackupVault": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DeleteBackupVaultInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the backup vault identified by its name. A vault can be deleted only if it is\n         empty.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/backup-vaults/{BackupVaultName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.backup#DeleteBackupVaultAccessPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DeleteBackupVaultAccessPolicyInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the policy document that manages permissions on a backup vault.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/backup-vaults/{BackupVaultName}/access-policy",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#DeleteBackupVaultAccessPolicyInput": {
      "type": "structure",
      "members": {
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Amazon Web Services\n         Region where they are created. They consist of lowercase letters, numbers, and\n         hyphens.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DeleteBackupVaultInput": {
      "type": "structure",
      "members": {
        "BackupVaultName": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Amazon Web Services\n         Region where they are created. They consist of lowercase letters, numbers, and\n         hyphens.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DeleteBackupVaultNotifications": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DeleteBackupVaultNotificationsInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes event notifications for the specified backup vault.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/backup-vaults/{BackupVaultName}/notification-configuration",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#DeleteBackupVaultNotificationsInput": {
      "type": "structure",
      "members": {
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Region where they are\n         created. They consist of lowercase letters, numbers, and hyphens.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DeleteFramework": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DeleteFrameworkInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#ConflictException"
        },
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the framework specified by a framework name.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/audit/frameworks/{FrameworkName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.backup#DeleteFrameworkInput": {
      "type": "structure",
      "members": {
        "FrameworkName": {
          "target": "com.amazonaws.backup#FrameworkName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of a framework.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DeleteRecoveryPoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DeleteRecoveryPointInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.backup#InvalidResourceStateException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the recovery point specified by a recovery point ID.</p>\n         <p>If the recovery point ID belongs to a continuous backup, calling this endpoint deletes\n         the existing continuous backup and stops future continuous backup.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/backup-vaults/{BackupVaultName}/recovery-points/{RecoveryPointArn}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#DeleteRecoveryPointInput": {
      "type": "structure",
      "members": {
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Amazon Web Services\n         Region where they are created. They consist of lowercase letters, numbers, and\n         hyphens.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RecoveryPointArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a recovery point; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DeleteReportPlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DeleteReportPlanInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#ConflictException"
        },
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the report plan specified by a report plan name.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/audit/report-plans/{ReportPlanName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#DeleteReportPlanInput": {
      "type": "structure",
      "members": {
        "ReportPlanName": {
          "target": "com.amazonaws.backup#ReportPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of a report plan.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DependencyFailureException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.backup#string"
        },
        "Message": {
          "target": "com.amazonaws.backup#string"
        },
        "Type": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "Context": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A dependent Amazon Web Services service or resource returned an error to the Backup service, and the action cannot be completed.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.backup#DescribeBackupJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.backup#DescribeBackupJobInput"
      },
      "output": {
        "target": "com.amazonaws.backup#DescribeBackupJobOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.backup#DependencyFailureException"
        },
        {
          "target": "com.amazonaws.backup#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.backup#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.backup#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns backup job details for the specified <code>BackupJobId</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/backup-jobs/{BackupJobId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.backup#DescribeBackupJobInput": {
      "type": "structure",
      "members": {
        "BackupJobId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a request to Backup to back up a resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.backup#DescribeBackupJobOutput": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.backup#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>Returns the account ID that owns the backup job.</p>"
          }
        },
        "BackupJobId": {
          "target": "com.amazonaws.backup#string",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies a request to Backup to back up a resource.</p>"
          }
        },
        "BackupVaultName": {
          "target": "com.amazonaws.backup#BackupVaultName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified\n         by names that are unique to the account used to create them and the Amazon Web Services\n         Region where they are created. They consist of lowercase letters, numbers, and\n         hyphens.</p>"
          }
        },
        "BackupVaultArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>"
          }
        },
        "RecoveryPointArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a recovery point; for example,\n            <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.backup#ARN",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies a saved resource. The format of the ARN depends on the\n         resource type.</p>"
          }
        },
        "CreationDate": {
[...]
