{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.batch#AWSBatchV20160810": {
      "type": "service",
      "version": "2016-08-10",
      "operations": [
        {
          "target": "com.amazonaws.batch#CancelJob"
        },
        {
          "target": "com.amazonaws.batch#CreateComputeEnvironment"
        },
        {
          "target": "com.amazonaws.batch#CreateConsumableResource"
        },
        {
          "target": "com.amazonaws.batch#CreateJobQueue"
        },
        {
          "target": "com.amazonaws.batch#CreateSchedulingPolicy"
        },
        {
          "target": "com.amazonaws.batch#CreateServiceEnvironment"
        },
        {
          "target": "com.amazonaws.batch#DeleteComputeEnvironment"
        },
        {
          "target": "com.amazonaws.batch#DeleteConsumableResource"
        },
        {
          "target": "com.amazonaws.batch#DeleteJobQueue"
        },
        {
          "target": "com.amazonaws.batch#DeleteSchedulingPolicy"
        },
        {
          "target": "com.amazonaws.batch#DeleteServiceEnvironment"
        },
        {
          "target": "com.amazonaws.batch#DeregisterJobDefinition"
        },
        {
          "target": "com.amazonaws.batch#DescribeComputeEnvironments"
        },
        {
          "target": "com.amazonaws.batch#DescribeConsumableResource"
        },
        {
          "target": "com.amazonaws.batch#DescribeJobDefinitions"
        },
        {
          "target": "com.amazonaws.batch#DescribeJobQueues"
        },
        {
          "target": "com.amazonaws.batch#DescribeJobs"
        },
        {
          "target": "com.amazonaws.batch#DescribeSchedulingPolicies"
        },
        {
          "target": "com.amazonaws.batch#DescribeServiceEnvironments"
        },
        {
          "target": "com.amazonaws.batch#DescribeServiceJob"
        },
        {
          "target": "com.amazonaws.batch#GetJobQueueSnapshot"
        },
        {
          "target": "com.amazonaws.batch#ListConsumableResources"
        },
        {
          "target": "com.amazonaws.batch#ListJobs"
        },
        {
          "target": "com.amazonaws.batch#ListJobsByConsumableResource"
        },
        {
          "target": "com.amazonaws.batch#ListSchedulingPolicies"
        },
        {
          "target": "com.amazonaws.batch#ListServiceJobs"
        },
        {
          "target": "com.amazonaws.batch#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.batch#RegisterJobDefinition"
        },
        {
          "target": "com.amazonaws.batch#SubmitJob"
        },
        {
          "target": "com.amazonaws.batch#SubmitServiceJob"
        },
        {
          "target": "com.amazonaws.batch#TagResource"
        },
        {
          "target": "com.amazonaws.batch#TerminateJob"
        },
        {
          "target": "com.amazonaws.batch#TerminateServiceJob"
        },
        {
          "target": "com.amazonaws.batch#UntagResource"
        },
        {
          "target": "com.amazonaws.batch#UpdateComputeEnvironment"
        },
        {
          "target": "com.amazonaws.batch#UpdateConsumableResource"
        },
        {
          "target": "com.amazonaws.batch#UpdateJobQueue"
        },
        {
          "target": "com.amazonaws.batch#UpdateSchedulingPolicy"
        },
        {
          "target": "com.amazonaws.batch#UpdateServiceEnvironment"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Batch",
          "arnNamespace": "batch",
          "cloudFormationName": "Batch",
          "cloudTrailEventSource": "batch.amazonaws.com",
          "endpointPrefix": "batch"
        },
        "aws.auth#sigv4": {
          "name": "batch"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Batch</fullname>\n         <p>Using Batch, you can run batch computing workloads on the Amazon Web Services Cloud. Batch computing is a common means for\n   developers, scientists, and engineers to access large amounts of compute resources. Batch uses the advantages of\n   the batch computing to remove the undifferentiated heavy lifting of configuring and managing required infrastructure.\n   At the same time, it also adopts a familiar batch computing software approach. You can use Batch to efficiently\n   provision resources, and work toward eliminating capacity constraints, reducing your overall compute costs, and\n   delivering results more quickly.</p>\n         <p>As a fully managed service, Batch can run batch computing workloads of any scale. Batch automatically\n   provisions compute resources and optimizes workload distribution based on the quantity and scale of your specific\n   workloads. With Batch, there's no need to install or manage batch computing software. This means that you can focus\n   on analyzing results and solving your specific problems instead.</p>",
        "smithy.api#title": "AWS Batch",
        "smithy.api#xmlNamespace": {
          "uri": "http://batch.amazonaws.com/doc/2016-08-10/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://batch-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    },
                                    "aws"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://fips.batch.{Region}.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    },
                                    "aws-us-gov"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://batch.{Region}.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://batch-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://batch.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://batch.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.batch#ArrayJobDependency": {
      "type": "enum",
      "members": {
        "N_TO_N": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N_TO_N"
          }
        },
        "SEQUENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEQUENTIAL"
          }
        }
      }
    },
    "com.amazonaws.batch#ArrayJobStatusSummary": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.batch#String"
      },
      "value": {
        "target": "com.amazonaws.batch#Integer"
      }
    },
    "com.amazonaws.batch#ArrayProperties": {
      "type": "structure",
      "members": {
        "size": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the array job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents an Batch array job.</p>"
      }
    },
    "com.amazonaws.batch#ArrayPropertiesDetail": {
      "type": "structure",
      "members": {
        "statusSummary": {
          "target": "com.amazonaws.batch#ArrayJobStatusSummary",
          "traits": {
            "smithy.api#documentation": "<p>A summary of the number of array job children in each available job status. This parameter\n   is returned for parent array jobs.</p>"
          }
        },
        "size": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the array job. This parameter is returned for parent array jobs.</p>"
          }
        },
        "index": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The job index within the array that's associated with this job. This parameter is returned\n   for array job children.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the array properties of a job.</p>"
      }
    },
    "com.amazonaws.batch#ArrayPropertiesSummary": {
      "type": "structure",
      "members": {
        "size": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the array job. This parameter is returned for parent array jobs.</p>"
          }
        },
        "index": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The job index within the array that's associated with this job. This parameter is returned\n   for children of array jobs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the array properties of a job.</p>"
      }
    },
    "com.amazonaws.batch#AssignPublicIp": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.batch#AttemptContainerDetail": {
      "type": "structure",
      "members": {
        "containerInstanceArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon ECS container instance that hosts the job attempt.</p>"
          }
        },
        "taskArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon ECS task that's associated with the job attempt. Each container\n   attempt receives a task ARN when they reach the <code>STARTING</code> status.</p>"
          }
        },
        "exitCode": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The exit code for the job attempt. A non-zero exit code is considered failed.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short (255 max characters) human-readable string to provide additional details for a\n   running or stopped container.</p>"
          }
        },
        "logStreamName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch Logs log stream that's associated with the container. The log\n   group for Batch jobs is <code>/aws/batch/job</code>. Each container attempt receives a log\n   stream name when they reach the <code>RUNNING</code> status.</p>"
          }
        },
        "networkInterfaces": {
          "target": "com.amazonaws.batch#NetworkInterfaceList",
          "traits": {
            "smithy.api#documentation": "<p>The network interfaces that are associated with the job attempt.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the details of a container that's part of a job attempt.</p>"
      }
    },
    "com.amazonaws.batch#AttemptDetail": {
      "type": "structure",
      "members": {
        "container": {
          "target": "com.amazonaws.batch#AttemptContainerDetail",
          "traits": {
            "smithy.api#documentation": "<p>The details for the container in this job attempt.</p>"
          }
        },
        "startedAt": {
          "target": "com.amazonaws.batch#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp (in milliseconds) for when the attempt was started (when the attempt\n   transitioned from the <code>STARTING</code> state to the <code>RUNNING</code> state).</p>"
          }
        },
        "stoppedAt": {
          "target": "com.amazonaws.batch#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp (in milliseconds) for when the attempt was stopped (when the attempt\n   transitioned from the <code>RUNNING</code> state to a terminal state, such as\n    <code>SUCCEEDED</code> or <code>FAILED</code>).</p>"
          }
        },
        "statusReason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short, human-readable string to provide additional details for the current status of the\n   job attempt.</p>"
          }
        },
        "taskProperties": {
          "target": "com.amazonaws.batch#ListAttemptEcsTaskDetails",
          "traits": {
            "smithy.api#documentation": "<p>The properties for a task definition that describes the container and volume definitions of\n   an Amazon ECS task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents a job attempt.</p>"
      }
    },
    "com.amazonaws.batch#AttemptDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#AttemptDetail"
      }
    },
    "com.amazonaws.batch#AttemptEcsTaskDetails": {
      "type": "structure",
      "members": {
        "containerInstanceArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container instance that hosts the task.</p>"
          }
        },
        "taskArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon ECS task.</p>"
          }
        },
        "containers": {
          "target": "com.amazonaws.batch#ListAttemptTaskContainerDetails",
          "traits": {
            "smithy.api#documentation": "<p>A list of containers that are included in the <code>taskProperties</code> list.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the details of a task.</p>"
      }
    },
    "com.amazonaws.batch#AttemptTaskContainerDetails": {
      "type": "structure",
      "members": {
        "exitCode": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The exit code for the container’s attempt. A non-zero exit code is considered failed.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a container.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short (255 max characters) string that's easy to understand and provides additional details for a\n   running or stopped container.</p>"
          }
        },
        "logStreamName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon CloudWatch Logs log stream that's associated with the container. The log\n   group for Batch jobs is <code>/aws/batch/job</code>. Each container attempt receives a log stream name\n   when they reach the <code>RUNNING</code> status.</p>"
          }
        },
        "networkInterfaces": {
          "target": "com.amazonaws.batch#NetworkInterfaceList",
          "traits": {
            "smithy.api#documentation": "<p>The network interfaces that are associated with the job attempt.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the details of a container that's part of a job attempt.</p>"
      }
    },
    "com.amazonaws.batch#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.batch#CEState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.batch#CEStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        }
      }
    },
    "com.amazonaws.batch#CEType": {
      "type": "enum",
      "members": {
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED"
          }
        },
        "UNMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNMANAGED"
          }
        }
      }
    },
    "com.amazonaws.batch#CRAllocationStrategy": {
      "type": "enum",
      "members": {
        "BEST_FIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEST_FIT"
          }
        },
        "BEST_FIT_PROGRESSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEST_FIT_PROGRESSIVE"
          }
        },
        "SPOT_CAPACITY_OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT_CAPACITY_OPTIMIZED"
          }
        },
        "SPOT_PRICE_CAPACITY_OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT_PRICE_CAPACITY_OPTIMIZED"
          }
        }
      }
    },
    "com.amazonaws.batch#CRType": {
      "type": "enum",
      "members": {
        "EC2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC2"
          }
        },
        "SPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT"
          }
        },
        "FARGATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FARGATE"
          }
        },
        "FARGATE_SPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FARGATE_SPOT"
          }
        }
      }
    },
    "com.amazonaws.batch#CRUpdateAllocationStrategy": {
      "type": "enum",
      "members": {
        "BEST_FIT_PROGRESSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEST_FIT_PROGRESSIVE"
          }
        },
        "SPOT_CAPACITY_OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT_CAPACITY_OPTIMIZED"
          }
        },
        "SPOT_PRICE_CAPACITY_OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT_PRICE_CAPACITY_OPTIMIZED"
          }
        }
      }
    },
    "com.amazonaws.batch#CancelJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#CancelJobRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#CancelJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a job in an Batch job queue. Jobs that are in a <code>SUBMITTED</code>, <code>PENDING</code>, or <code>RUNNABLE</code> state are cancelled and the job status is updated to <code>FAILED</code>.</p>\n         <note>\n            <p>A <code>PENDING</code> job is canceled after all dependency jobs are completed.\n        Therefore, it may take longer than expected to cancel a job in <code>PENDING</code>\n        status.</p>\n            <p>When you try to cancel an array parent job in <code>PENDING</code>, Batch attempts to\n        cancel all child jobs. The array parent job is canceled when all child jobs are\n        completed.</p>\n         </note>\n         <p>Jobs that progressed to the <code>STARTING</code> or\n        <code>RUNNING</code> state aren't canceled. However, the API operation still succeeds, even\n      if no job is canceled. These jobs must be terminated with the <a>TerminateJob</a>\n      operation.</p>",
        "smithy.api#examples": [
          {
            "title": "To cancel a job",
            "documentation": "This example cancels a job with the specified job ID.",
            "input": {
              "reason": "Cancelling job.",
              "jobId": "1d828f65-7a4d-42e8-996d-3b900ed59dc4"
            },
            "output": {}
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/canceljob",
          "code": 200
        }
      }
    },
    "com.amazonaws.batch#CancelJobRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The Batch job ID of the job to cancel.</p>",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>A message to attach to the job that explains the reason for canceling it. This message is\n      returned by future <a>DescribeJobs</a> operations on the job. It is also\n      recorded in the Batch activity logs.</p>\n         <p>This parameter has as limit of 1024 characters.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the parameters for <code>CancelJob</code>.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.batch#CancelJobResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.batch#CapacityLimit": {
      "type": "structure",
      "members": {
        "maxCapacity": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum capacity available for the service environment. This value represents the maximum amount of resources that can be allocated to service jobs.</p>\n         <p>For example, <code>maxCapacity=50</code>, <code>capacityUnit=NUM_INSTANCES</code>. This indicates that the\n            maximum number of instances that can be run on this service environment is 50. You could\n            then run 5 SageMaker Training jobs that each use 10 instances. However, if you submit another job that\n            requires 10 instances, it will wait in the queue.</p>"
          }
        },
        "capacityUnit": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The unit of measure for the capacity limit. This defines how the maxCapacity value should be interpreted. For <code>SAGEMAKER_TRAINING</code> jobs, use <code>NUM_INSTANCES</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the capacity limit for a service environment. This structure specifies the maximum amount of resources that can be used by service jobs in the environment.</p>"
      }
    },
    "com.amazonaws.batch#CapacityLimits": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#CapacityLimit"
      }
    },
    "com.amazonaws.batch#ClientException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.batch#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>These errors are usually caused by a client action. One example cause is using an action or resource on behalf\n   of a user that doesn't have permissions to use the action or resource. Another cause is specifying an identifier\n   that's not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.batch#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.batch#ComputeEnvironmentDetail": {
      "type": "structure",
      "members": {
        "computeEnvironmentName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The name of the compute environment. It can be up to 128 characters long. It can contain uppercase and\n lowercase letters, numbers, hyphens (-), and underscores (_).</p>",
            "smithy.api#required": {}
          }
        },
        "computeEnvironmentArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the compute environment.</p>",
            "smithy.api#required": {}
          }
        },
        "unmanagedvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of VCPUs expected to be used for an unmanaged compute environment.</p>"
          }
        },
        "ecsClusterArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the underlying Amazon ECS cluster that the compute environment uses.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.batch#TagrisTagsMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags applied to the compute environment.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.batch#CEType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the compute environment: <code>MANAGED</code> or <code>UNMANAGED</code>. For\n   more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute environments</a> in the <i>Batch User Guide</i>.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.batch#CEState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the compute environment. The valid values are <code>ENABLED</code> or\n    <code>DISABLED</code>.</p>\n         <p>If the state is <code>ENABLED</code>, then the Batch scheduler can attempt to place jobs\n   from an associated job queue on the compute resources within the environment. If the compute\n   environment is managed, then it can scale its instances out or in automatically based on the job\n   queue demand.</p>\n         <p>If the state is <code>DISABLED</code>, then the Batch scheduler doesn't attempt to place\n   jobs within the environment. Jobs in a <code>STARTING</code> or <code>RUNNING</code> state\n   continue to progress normally. Managed compute environments in the <code>DISABLED</code> state\n   don't scale out. </p>\n         <note>\n            <p>Compute environments in a <code>DISABLED</code> state may continue to incur billing\n    charges. To prevent additional charges, turn off and then delete the compute environment. For\n    more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environment_parameters.html#compute_environment_state\">State</a> in the <i>Batch User Guide</i>.</p>\n         </note>\n         <p>When an instance is idle, the instance scales down to the <code>minvCpus</code> value.\n   However, the instance size doesn't change. For example, consider a <code>c5.8xlarge</code>\n   instance with a <code>minvCpus</code> value of <code>4</code> and a <code>desiredvCpus</code>\n   value of <code>36</code>. This instance doesn't scale down to a <code>c5.large</code>\n   instance.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.batch#CEStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the compute environment (for example, <code>CREATING</code> or\n    <code>VALID</code>).</p>"
          }
        },
        "statusReason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short, human-readable string to provide additional details for the current status of the\n   compute environment.</p>"
          }
        },
        "computeResources": {
          "target": "com.amazonaws.batch#ComputeResource",
          "traits": {
            "smithy.api#documentation": "<p>The compute resources defined for the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute environments</a> in\n   the <i>Batch User Guide</i>.</p>"
          }
        },
        "serviceRole": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The service role that's associated with the compute environment that allows Batch to make\n   calls to Amazon Web Services API operations on your behalf. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/service_IAM_role.html\">Batch service IAM role</a> in the\n    <i>Batch User Guide</i>.</p>"
          }
        },
        "updatePolicy": {
          "target": "com.amazonaws.batch#UpdatePolicy",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the infrastructure update policy for the compute environment. For more information\n   about infrastructure updates, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the\n    <i>Batch User Guide</i>.</p>"
          }
        },
        "eksConfiguration": {
          "target": "com.amazonaws.batch#EksConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the Amazon EKS cluster that supports the Batch compute environment. Only\n   specify this parameter if the <code>containerOrchestrationType</code> is <code>EKS</code>.</p>"
          }
        },
        "containerOrchestrationType": {
          "target": "com.amazonaws.batch#OrchestrationType",
          "traits": {
            "smithy.api#documentation": "<p>The orchestration type of the compute environment. The valid values are <code>ECS</code>\n   (default) or <code>EKS</code>.</p>"
          }
        },
        "uuid": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for the compute environment.</p>"
          }
        },
        "context": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>Reserved.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents an Batch compute environment.</p>"
      }
    },
    "com.amazonaws.batch#ComputeEnvironmentDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#ComputeEnvironmentDetail"
      }
    },
    "com.amazonaws.batch#ComputeEnvironmentOrder": {
      "type": "structure",
      "members": {
        "order": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The order of the compute environment. Compute environments are tried in ascending order. For\n   example, if two compute environments are associated with a job queue, the compute environment\n   with a lower <code>order</code> integer value is tried for job placement first.</p>",
            "smithy.api#required": {}
          }
        },
        "computeEnvironment": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the compute environment.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The order that compute environments are tried in for job placement within a queue. Compute\n   environments are tried in ascending order. For example, if two compute environments are\n   associated with a job queue, the compute environment with a lower order integer value is tried\n   for job placement first. Compute environments must be in the <code>VALID</code> state before you\n   can associate them with a job queue. All of the compute environments must be either EC2\n    (<code>EC2</code> or <code>SPOT</code>) or Fargate (<code>FARGATE</code> or\n    <code>FARGATE_SPOT</code>); Amazon EC2 and Fargate compute environments can't be mixed.</p>\n         <note>\n            <p>All compute environments that are associated with a job queue must share the same\n    architecture. Batch doesn't support mixing compute environment architecture types in a single\n    job queue.</p>\n         </note>"
      }
    },
    "com.amazonaws.batch#ComputeEnvironmentOrders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#ComputeEnvironmentOrder"
      }
    },
    "com.amazonaws.batch#ComputeResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.batch#CRType",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The type of compute environment: <code>EC2</code>, <code>SPOT</code>, <code>FARGATE</code>,\n   or <code>FARGATE_SPOT</code>. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute environments</a> in the\n    <i>Batch User Guide</i>.</p>\n         <p> If you choose <code>SPOT</code>, you must also specify an Amazon EC2 Spot Fleet role with the\n    <code>spotIamFleetRole</code> parameter. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/spot_fleet_IAM_role.html\">Amazon EC2 spot fleet role</a> in the\n    <i>Batch User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "allocationStrategy": {
          "target": "com.amazonaws.batch#CRAllocationStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The allocation strategy to use for the compute resource if not enough instances of the best\n   fitting instance type can be allocated. This might be because of availability of the instance\n   type in the Region or <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-resource-limits.html\">Amazon EC2 service limits</a>. For more\n   information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/allocation-strategies.html\">Allocation strategies</a> in the <i>Batch User Guide</i>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>\n         <dl>\n            <dt>BEST_FIT (default)</dt>\n            <dd>\n               <p>Batch selects an instance type that best fits the needs of the jobs with a preference\n      for the lowest-cost instance type. If additional instances of the selected instance type\n      aren't available, Batch waits for the additional instances to be available. If there aren't\n      enough instances available or the user is reaching <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-resource-limits.html\">Amazon EC2 service limits</a>,\n      additional jobs aren't run until the currently running jobs are completed. This allocation\n      strategy keeps costs lower but can limit scaling. If you're using Spot Fleets with\n       <code>BEST_FIT</code>, the Spot Fleet IAM Role must be specified. Compute resources that use\n      a <code>BEST_FIT</code> allocation strategy don't support infrastructure updates and can't\n      update some parameters. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in\n      the <i>Batch User Guide</i>.</p>\n            </dd>\n            <dt>BEST_FIT_PROGRESSIVE</dt>\n            <dd>\n               <p>Batch selects additional instance types that are large enough to meet the requirements\n      of the jobs in the queue. Its preference is for instance types with lower cost vCPUs. If\n      additional instances of the previously selected instance types aren't available, Batch\n      selects new instance types.</p>\n            </dd>\n            <dt>SPOT_CAPACITY_OPTIMIZED</dt>\n            <dd>\n               <p>Batch selects one or more instance types that are large enough to meet the requirements\n      of the jobs in the queue. Its preference is for instance types that are less likely to be\n      interrupted. This allocation strategy is only available for Spot Instance compute\n      resources.</p>\n            </dd>\n            <dt>SPOT_PRICE_CAPACITY_OPTIMIZED</dt>\n            <dd>\n               <p>The price and capacity optimized allocation strategy looks at both price and capacity to\n      select the Spot Instance pools that are the least likely to be interrupted and have the lowest\n      possible price. This allocation strategy is only available for Spot Instance compute\n      resources.</p>\n            </dd>\n         </dl>\n         <p>With <code>BEST_FIT_PROGRESSIVE</code>,<code>SPOT_CAPACITY_OPTIMIZED</code> and\n    <code>SPOT_PRICE_CAPACITY_OPTIMIZED</code> (recommended) strategies using On-Demand or Spot \n    Instances, and the <code>BEST_FIT</code> strategy using Spot Instances, Batch might need to \n    exceed <code>maxvCpus</code> to meet your capacity requirements. In this event, Batch never \n    exceeds <code>maxvCpus</code> by more than a single instance.</p>"
          }
        },
        "minvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of vCPUs that a compute environment should maintain (even if the compute \n   environment is <code>DISABLED</code>).</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
          }
        },
        "maxvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The maximum number of vCPUs that a compute environment can support.</p>\n         <note>\n            <p>With <code>BEST_FIT_PROGRESSIVE</code>,<code>SPOT_CAPACITY_OPTIMIZED</code> and\n     <code>SPOT_PRICE_CAPACITY_OPTIMIZED</code> (recommended) strategies using On-Demand or Spot Instances, \n     and the <code>BEST_FIT</code> strategy using Spot Instances, Batch might need to exceed\n     <code>maxvCpus</code> to meet your capacity requirements. In this event, Batch never exceeds\n     <code>maxvCpus</code> by more than a single instance.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "desiredvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The desired number of vCPUS in the compute environment. Batch modifies this value between \n   the minimum and maximum values based on job queue demand.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
          }
        },
        "instanceTypes": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The instances types that can be launched. You can specify instance families to launch any\n   instance type within those families (for example, <code>c5</code> or <code>p3</code>), or you can\n   specify specific sizes within a family (such as <code>c5.8xlarge</code>). You can also choose\n    <code>optimal</code> to select instance types (from the C4, M4, and R4 instance families) that\n   match the demand of your job queues.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>\n         <note>\n            <p>When you create a compute environment, the instance types that you select for the compute environment must\n    share the same architecture. For example, you can't mix x86 and ARM instances in the same compute\n    environment.</p>\n         </note>\n         <note>\n            <p>Currently, <code>optimal</code> uses instance types from the C4, M4, and R4 instance\n    families. In Regions that don't have instance types from those instance families, instance types\n    from the C5, M5, and R5 instance families are used.</p>\n         </note>"
          }
        },
        "imageId": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use ec2Configuration[].imageIdOverride instead."
            },
            "smithy.api#documentation": "<p>The Amazon Machine Image (AMI) ID used for instances launched in the compute environment.\n   This parameter is overridden by the <code>imageIdOverride</code> member of the\n    <code>Ec2Configuration</code> structure.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>\n         <note>\n            <p>The AMI that you choose for a compute environment must match the architecture of the instance types that\n    you intend to use for that compute environment. For example, if your compute environment uses A1 instance types,\n    the compute resource AMI that you choose must support ARM instances. Amazon ECS vends both x86 and ARM versions of the\n    Amazon ECS-optimized Amazon Linux 2 AMI. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html#ecs-optimized-ami-linux-variants.html\">Amazon ECS-optimized\n    Amazon Linux 2 AMI</a>\n    in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n         </note>"
          }
        },
        "subnets": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The VPC subnets where the compute resources are launched. These subnets must be within the\n   same VPC. Fargate compute resources can contain up to 16 subnets. For more information, see\n    <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html\">VPCs and subnets</a>\n   in the <i>Amazon VPC User Guide</i>.</p>\n         <note>\n            <p>Batch on Amazon EC2 and Batch on Amazon EKS support Local Zones. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-local-zones\"> Local\n     Zones</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>, <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/local-zones.html\">Amazon EKS and Amazon Web Services Local\n     Zones</a> in the <i>Amazon EKS User Guide</i> and <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/cluster-regions-zones.html#clusters-local-zones\"> Amazon ECS\n     clusters in Local Zones, Wavelength Zones, and Amazon Web Services Outposts</a> in the <i>Amazon ECS\n     Developer Guide</i>.</p>\n            <p>Batch on Fargate doesn't currently support Local Zones.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 security groups that are associated with instances launched in the compute\n   environment. One or more security groups must be specified, either in\n    <code>securityGroupIds</code> or using a launch template referenced in\n    <code>launchTemplate</code>. This parameter is required for jobs that are running on Fargate\n   resources and must contain at least one security group. Fargate doesn't support launch\n   templates. If security groups are specified using both <code>securityGroupIds</code> and\n    <code>launchTemplate</code>, the values in <code>securityGroupIds</code> are used.</p>"
          }
        },
        "ec2KeyPair": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 key pair that's used for instances launched in the compute environment. You can\n   use this key pair to log in to your instances with SSH.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
          }
        },
        "instanceRole": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon ECS instance profile applied to Amazon EC2 instances in a compute environment. This\n   parameter is required for Amazon EC2 instances types. You can specify the short name or full Amazon Resource Name (ARN)\n   of an instance profile. For example, <code>\n               <i>ecsInstanceRole</i>\n            </code> or\n     <code>arn:aws:iam::<i><aws_account_id></i>:instance-profile/<i>ecsInstanceRole</i>\n            </code>.\n   For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/instance_IAM_role.html\">Amazon ECS instance role</a> in the <i>Batch User Guide</i>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
          }
        },
        "tags": {
          "target": "com.amazonaws.batch#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pair tags to be applied to Amazon EC2 resources that are launched in the compute\n   environment. For Batch, these take the form of <code>\"String1\": \"String2\"</code>, where\n    <code>String1</code> is the tag key and <code>String2</code> is the tag value (for example,\n    <code>{ \"Name\": \"Batch Instance - C4OnDemand\" }</code>). This is helpful for recognizing your\n   Batch instances in the Amazon EC2 console. Updating these tags requires an infrastructure update to\n   the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the\n    <i>Batch User Guide</i>. These tags aren't seen when using the Batch\n    <code>ListTagsForResource</code> API operation.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
          }
        },
        "placementGroup": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 placement group to associate with your compute resources. If you intend to submit\n   multi-node parallel jobs to your compute environment, you should consider creating a cluster\n   placement group and associate it with your compute resources. This keeps your multi-node parallel\n   job on a logical grouping of instances within a single Availability Zone with high network flow\n   potential. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html\">Placement groups</a> in the\n    <i>Amazon EC2 User Guide for Linux Instances</i>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
          }
        },
        "bidPercentage": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum percentage that a Spot Instance price can be when compared with the On-Demand\n   price for that instance type before instances are launched. For example, if your maximum\n   percentage is 20%, then the Spot price must be less than 20% of the current On-Demand price for\n   that Amazon EC2 instance. You always pay the lowest (market) price and never more than your maximum\n   percentage. If you leave this field empty, the default value is 100% of the On-Demand\n   price. For most use cases, we recommend leaving this field empty.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
          }
        },
        "spotIamFleetRole": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon EC2 Spot Fleet IAM role applied to a <code>SPOT</code> compute\n   environment. This role is required if the allocation strategy set to <code>BEST_FIT</code> or if\n   the allocation strategy isn't specified. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/spot_fleet_IAM_role.html\">Amazon EC2 spot fleet role</a> in the\n    <i>Batch User Guide</i>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>\n         <important>\n            <p>To tag your Spot Instances on creation, the Spot Fleet IAM role specified here must use\n    the newer <b>AmazonEC2SpotFleetTaggingRole</b> managed policy. The\n    previously recommended <b>AmazonEC2SpotFleetRole</b> managed policy\n    doesn't have the required permissions to tag Spot Instances. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/troubleshooting.html#spot-instance-no-tag\">Spot instances\n     not tagged on creation</a> in the <i>Batch User Guide</i>.</p>\n         </important>"
          }
        },
        "launchTemplate": {
          "target": "com.amazonaws.batch#LaunchTemplateSpecification",
          "traits": {
            "smithy.api#documentation": "<p>The launch template to use for your compute resources. Any other compute resource parameters\n   that you specify in a <a href=\"https://docs.aws.amazon.com/batch/latest/APIReference/API_CreateComputeEnvironment.html\">CreateComputeEnvironment</a> API operation override the same parameters in the launch\n   template. You must specify either the launch template ID or launch template name in the request,\n   but not both. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/launch-templates.html\">Launch template support</a> in the\n    <i>Batch User Guide</i>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
          }
        },
        "ec2Configuration": {
          "target": "com.amazonaws.batch#Ec2ConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>Provides information that's used to select Amazon Machine Images (AMIs) for Amazon EC2 instances\n   in the compute environment. If <code>Ec2Configuration</code> isn't specified, the default is\n    <code>ECS_AL2</code>.</p>\n         <p>One or two values can be provided.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents an Batch compute resource. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute environments</a> in\n   the <i>Batch User Guide</i>.</p>"
      }
    },
    "com.amazonaws.batch#ComputeResourceUpdate": {
      "type": "structure",
      "members": {
        "minvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of vCPUs that an environment should maintain (even if the compute environment \n   is <code>DISABLED</code>).</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
          }
        },
        "maxvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of Amazon EC2 vCPUs that an environment can reach.</p>\n         <note>\n            <p>With <code>BEST_FIT_PROGRESSIVE</code>,<code>SPOT_CAPACITY_OPTIMIZED</code> and\n     <code>SPOT_PRICE_CAPACITY_OPTIMIZED</code> (recommended) strategies using On-Demand or Spot \n     Instances, and the <code>BEST_FIT</code> strategy using Spot Instances, Batch might need to \n     exceed <code>maxvCpus</code> to meet your capacity requirements. In this event, Batch never \n     exceeds <code>maxvCpus</code> by more than a single instance.</p>\n         </note>"
          }
        },
        "desiredvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The desired number of vCPUS in the compute environment. Batch modifies this value between \n   the minimum and maximum values based on job queue demand.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>\n         <note>\n            <p>Batch doesn't support changing the desired number of vCPUs of an existing compute\n    environment. Don't specify this parameter for compute environments using Amazon EKS clusters.</p>\n         </note>\n         <note>\n            <p>When you update the <code>desiredvCpus</code> setting, the value must be between the\n     <code>minvCpus</code> and <code>maxvCpus</code> values. </p>\n            <p>Additionally, the updated <code>desiredvCpus</code> value must be greater than or equal to\n    the current <code>desiredvCpus</code> value. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/troubleshooting.html#error-desired-vcpus-update\">Troubleshooting\n     Batch</a> in the <i>Batch User Guide</i>.</p>\n         </note>"
          }
        },
        "subnets": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The VPC subnets where the compute resources are launched. Fargate compute resources can\n   contain up to 16 subnets. For Fargate compute resources, providing an empty list will be\n   handled as if this parameter wasn't specified and no change is made. For Amazon EC2 compute resources,\n   providing an empty list removes the VPC subnets from the compute resource. For more information,\n   see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html\">VPCs and\n    subnets</a> in the <i>Amazon VPC User Guide</i>.</p>\n         <p>When updating a compute environment, changing the VPC subnets requires an infrastructure\n   update of the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the\n    <i>Batch User Guide</i>.</p>\n         <note>\n            <p>Batch on Amazon EC2 and Batch on Amazon EKS support Local Zones. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-local-zones\"> Local\n     Zones</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>, <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/local-zones.html\">Amazon EKS and Amazon Web Services Local\n     Zones</a> in the <i>Amazon EKS User Guide</i> and <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/cluster-regions-zones.html#clusters-local-zones\"> Amazon ECS\n     clusters in Local Zones, Wavelength Zones, and Amazon Web Services Outposts</a> in the <i>Amazon ECS\n     Developer Guide</i>.</p>\n            <p>Batch on Fargate doesn't currently support Local Zones.</p>\n         </note>"
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 security groups that are associated with instances launched in the compute\n   environment. This parameter is required for Fargate compute resources, where it can contain up\n   to 5 security groups. For Fargate compute resources, providing an empty list is handled as if\n   this parameter wasn't specified and no change is made. For Amazon EC2 compute resources, providing an\n   empty list removes the security groups from the compute resource.</p>\n         <p>When updating a compute environment, changing the Amazon EC2 security groups requires an\n   infrastructure update of the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute\n    environments</a> in the <i>Batch User Guide</i>.</p>"
          }
        },
        "allocationStrategy": {
          "target": "com.amazonaws.batch#CRUpdateAllocationStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The allocation strategy to use for the compute resource if there's not enough instances of\n   the best fitting instance type that can be allocated. This might be because of availability of\n   the instance type in the Region or <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-resource-limits.html\">Amazon EC2 service limits</a>. For more\n   information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/allocation-strategies.html\">Allocation strategies</a> in the <i>Batch User Guide</i>.</p>\n         <p>When updating a compute environment, changing the allocation strategy requires an\n   infrastructure update of the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute\n    environments</a> in the <i>Batch User Guide</i>. <code>BEST_FIT</code> isn't\n   supported when updating a compute environment.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>\n         <dl>\n            <dt>BEST_FIT_PROGRESSIVE</dt>\n            <dd>\n               <p>Batch selects additional instance types that are large enough to meet the requirements\n      of the jobs in the queue. Its preference is for instance types with lower cost vCPUs. If\n      additional instances of the previously selected instance types aren't available, Batch\n      selects new instance types.</p>\n            </dd>\n            <dt>SPOT_CAPACITY_OPTIMIZED</dt>\n            <dd>\n               <p>Batch selects one or more instance types that are large enough to meet the requirements\n      of the jobs in the queue. Its preference is for instance types that are less likely to be\n      interrupted. This allocation strategy is only available for Spot Instance compute\n      resources.</p>\n            </dd>\n            <dt>SPOT_PRICE_CAPACITY_OPTIMIZED</dt>\n            <dd>\n               <p>The price and capacity optimized allocation strategy looks at both price and capacity to\n      select the Spot Instance pools that are the least likely to be interrupted and have the lowest\n      possible price. This allocation strategy is only available for Spot Instance compute\n      resources.</p>\n            </dd>\n         </dl>\n         <p>With <code>BEST_FIT_PROGRESSIVE</code>,<code>SPOT_CAPACITY_OPTIMIZED</code> and\n    <code>SPOT_PRICE_CAPACITY_OPTIMIZED</code> (recommended) strategies using On-Demand or Spot Instances, \n    and the <code>BEST_FIT</code> strategy using Spot Instances, Batch might need to exceed\n    <code>maxvCpus</code> to meet your capacity requirements. In this event, Batch never exceeds\n    <code>maxvCpus</code> by more than a single instance.</p>"
          }
        },
        "instanceTypes": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The instances types that can be launched. You can specify instance families to launch any\n   instance type within those families (for example, <code>c5</code> or <code>p3</code>), or you can\n   specify specific sizes within a family (such as <code>c5.8xlarge</code>). You can also choose\n    <code>optimal</code> to select instance types (from the C4, M4, and R4 instance families) that\n   match the demand of your job queues.</p>\n         <p>When updating a compute environment, changing this setting requires an infrastructure update\n   of the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the\n    <i>Batch User Guide</i>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>\n         <note>\n            <p>When you create a compute environment, the instance types that you select for the compute environment must\n    share the same architecture. For example, you can't mix x86 and ARM instances in the same compute\n    environment.</p>\n         </note>\n         <note>\n            <p>Currently, <code>optimal</code> uses instance types from the C4, M4, and R4 instance\n    families. In Regions that don't have instance types from those instance families, instance types\n    from the C5, M5, and R5 instance families are used.</p>\n         </note>"
          }
        },
        "ec2KeyPair": {
[...]
