{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.batch#AWSBatchV20160810": {
      "type": "service",
      "version": "2016-08-10",
      "operations": [
        {
          "target": "com.amazonaws.batch#CancelJob"
        },
        {
          "target": "com.amazonaws.batch#CreateComputeEnvironment"
        },
        {
          "target": "com.amazonaws.batch#CreateJobQueue"
        },
        {
          "target": "com.amazonaws.batch#CreateSchedulingPolicy"
        },
        {
          "target": "com.amazonaws.batch#DeleteComputeEnvironment"
        },
        {
          "target": "com.amazonaws.batch#DeleteJobQueue"
        },
        {
          "target": "com.amazonaws.batch#DeleteSchedulingPolicy"
        },
        {
          "target": "com.amazonaws.batch#DeregisterJobDefinition"
        },
        {
          "target": "com.amazonaws.batch#DescribeComputeEnvironments"
        },
        {
          "target": "com.amazonaws.batch#DescribeJobDefinitions"
        },
        {
          "target": "com.amazonaws.batch#DescribeJobQueues"
        },
        {
          "target": "com.amazonaws.batch#DescribeJobs"
        },
        {
          "target": "com.amazonaws.batch#DescribeSchedulingPolicies"
        },
        {
          "target": "com.amazonaws.batch#ListJobs"
        },
        {
          "target": "com.amazonaws.batch#ListSchedulingPolicies"
        },
        {
          "target": "com.amazonaws.batch#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.batch#RegisterJobDefinition"
        },
        {
          "target": "com.amazonaws.batch#SubmitJob"
        },
        {
          "target": "com.amazonaws.batch#TagResource"
        },
        {
          "target": "com.amazonaws.batch#TerminateJob"
        },
        {
          "target": "com.amazonaws.batch#UntagResource"
        },
        {
          "target": "com.amazonaws.batch#UpdateComputeEnvironment"
        },
        {
          "target": "com.amazonaws.batch#UpdateJobQueue"
        },
        {
          "target": "com.amazonaws.batch#UpdateSchedulingPolicy"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Batch",
          "arnNamespace": "batch",
          "cloudFormationName": "Batch",
          "cloudTrailEventSource": "batch.amazonaws.com",
          "endpointPrefix": "batch"
        },
        "aws.auth#sigv4": {
          "name": "batch"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Batch</fullname>\n         <p>Using Batch, you can run batch computing workloads on the Amazon Web Services Cloud. Batch computing is a common means for\n   developers, scientists, and engineers to access large amounts of compute resources. Batch uses the advantages of\n   the batch computing to remove the undifferentiated heavy lifting of configuring and managing required infrastructure.\n   At the same time, it also adopts a familiar batch computing software approach. You can use Batch to efficiently\n   provision resources d, and work toward eliminating capacity constraints, reducing your overall compute costs, and\n   delivering results more quickly.</p>\n         <p>As a fully managed service, Batch can run batch computing workloads of any scale. Batch automatically\n   provisions compute resources and optimizes workload distribution based on the quantity and scale of your specific\n   workloads. With Batch, there's no need to install or manage batch computing software. This means that you can focus\n   on analyzing results and solving your specific problems instead.</p>",
        "smithy.api#title": "AWS Batch",
        "smithy.api#xmlNamespace": {
          "uri": "http://batch.amazonaws.com/doc/2016-08-10/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://batch-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://fips.batch.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws-us-gov",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://batch.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://batch-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://batch.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://batch.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.me-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.me-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "af-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "af-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "af-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "af-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://fips.batch.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-northwest-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-northwest-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-northwest-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://batch.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-northwest-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.batch#ArrayJobDependency": {
      "type": "enum",
      "members": {
        "N_TO_N": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "N_TO_N"
          }
        },
        "SEQUENTIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEQUENTIAL"
          }
        }
      }
    },
    "com.amazonaws.batch#ArrayJobStatusSummary": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.batch#String"
      },
      "value": {
        "target": "com.amazonaws.batch#Integer"
      }
    },
    "com.amazonaws.batch#ArrayProperties": {
      "type": "structure",
      "members": {
        "size": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the array job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents an Batch array job.</p>"
      }
    },
    "com.amazonaws.batch#ArrayPropertiesDetail": {
      "type": "structure",
      "members": {
        "statusSummary": {
          "target": "com.amazonaws.batch#ArrayJobStatusSummary",
          "traits": {
            "smithy.api#documentation": "<p>A summary of the number of array job children in each available job status. This parameter is returned for\n   parent array jobs.</p>"
          }
        },
        "size": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the array job. This parameter is returned for parent array jobs.</p>"
          }
        },
        "index": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The job index within the array that's associated with this job. This parameter is returned for array job\n   children.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the array properties of a job.</p>"
      }
    },
    "com.amazonaws.batch#ArrayPropertiesSummary": {
      "type": "structure",
      "members": {
        "size": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the array job. This parameter is returned for parent array jobs.</p>"
          }
        },
        "index": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The job index within the array that's associated with this job. This parameter is returned for children of array\n   jobs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the array properties of a job.</p>"
      }
    },
    "com.amazonaws.batch#AssignPublicIp": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.batch#AttemptContainerDetail": {
      "type": "structure",
      "members": {
        "containerInstanceArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon ECS container instance that hosts the job attempt.</p>"
          }
        },
        "taskArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon ECS task that's associated with the job attempt. Each container attempt receives a task\n   ARN when they reach the <code>STARTING</code> status.</p>"
          }
        },
        "exitCode": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The exit code for the job attempt. A non-zero exit code is considered failed.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short (255 max characters) human-readable string to provide additional details for a running or stopped\n   container.</p>"
          }
        },
        "logStreamName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch Logs log stream that's associated with the container. The log group for Batch jobs\n   is <code>/aws/batch/job</code>. Each container attempt receives a log stream name when they reach the\n   <code>RUNNING</code> status.</p>"
          }
        },
        "networkInterfaces": {
          "target": "com.amazonaws.batch#NetworkInterfaceList",
          "traits": {
            "smithy.api#documentation": "<p>The network interfaces that are associated with the job attempt.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the details of a container that's part of a job attempt.</p>"
      }
    },
    "com.amazonaws.batch#AttemptDetail": {
      "type": "structure",
      "members": {
        "container": {
          "target": "com.amazonaws.batch#AttemptContainerDetail",
          "traits": {
            "smithy.api#documentation": "<p>The details for the container in this job attempt.</p>"
          }
        },
        "startedAt": {
          "target": "com.amazonaws.batch#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp (in milliseconds) for when the attempt was started (when the attempt transitioned from the\n   <code>STARTING</code> state to the <code>RUNNING</code> state).</p>"
          }
        },
        "stoppedAt": {
          "target": "com.amazonaws.batch#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp (in milliseconds) for when the attempt was stopped (when the attempt transitioned from the\n   <code>RUNNING</code> state to a terminal state, such as <code>SUCCEEDED</code> or <code>FAILED</code>).</p>"
          }
        },
        "statusReason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short, human-readable string to provide additional details for the current status of the job attempt.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents a job attempt.</p>"
      }
    },
    "com.amazonaws.batch#AttemptDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#AttemptDetail"
      }
    },
    "com.amazonaws.batch#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.batch#CEState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.batch#CEStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        }
      }
    },
    "com.amazonaws.batch#CEType": {
      "type": "enum",
      "members": {
        "MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED"
          }
        },
        "UNMANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNMANAGED"
          }
        }
      }
    },
    "com.amazonaws.batch#CRAllocationStrategy": {
      "type": "enum",
      "members": {
        "BEST_FIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEST_FIT"
          }
        },
        "BEST_FIT_PROGRESSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEST_FIT_PROGRESSIVE"
          }
        },
        "SPOT_CAPACITY_OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT_CAPACITY_OPTIMIZED"
          }
        }
      }
    },
    "com.amazonaws.batch#CRType": {
      "type": "enum",
      "members": {
        "EC2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC2"
          }
        },
        "SPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT"
          }
        },
        "FARGATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FARGATE"
          }
        },
        "FARGATE_SPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FARGATE_SPOT"
          }
        }
      }
    },
    "com.amazonaws.batch#CRUpdateAllocationStrategy": {
      "type": "enum",
      "members": {
        "BEST_FIT_PROGRESSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEST_FIT_PROGRESSIVE"
          }
        },
        "SPOT_CAPACITY_OPTIMIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT_CAPACITY_OPTIMIZED"
          }
        }
      }
    },
    "com.amazonaws.batch#CancelJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#CancelJobRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#CancelJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a job in an Batch job queue. Jobs that are in the <code>SUBMITTED</code>, <code>PENDING</code>, or\n   <code>RUNNABLE</code> state are canceled. Jobs that progressed to the <code>STARTING</code> or <code>RUNNING</code>\n   state aren't canceled. However, the API operation still succeeds, even if no job is canceled. These jobs must be\n   terminated with the <a>TerminateJob</a> operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/canceljob",
          "code": 200
        }
      }
    },
    "com.amazonaws.batch#CancelJobRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Batch job ID of the job to cancel.</p>",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A message to attach to the job that explains the reason for canceling it. This message is returned by future\n    <a>DescribeJobs</a> operations on the job. This message is also recorded in the Batch activity\n   logs.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the parameters for <code>CancelJob</code>.</p>"
      }
    },
    "com.amazonaws.batch#CancelJobResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.batch#ClientException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.batch#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>These errors are usually caused by a client action. One example cause is using an action or resource on behalf\n   of a user that doesn't have permissions to use the action or resource. Another cause is specifying an identifier\n   that's not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.batch#ComputeEnvironmentDetail": {
      "type": "structure",
      "members": {
        "computeEnvironmentName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the compute environment. It can be up to 128 characters long. It can contain uppercase and\n lowercase letters, numbers, hyphens (-), and underscores (_).</p>",
            "smithy.api#required": {}
          }
        },
        "computeEnvironmentArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the compute environment.</p>",
            "smithy.api#required": {}
          }
        },
        "unmanagedvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of VCPUs expected to be used for an unmanaged compute environment.</p>"
          }
        },
        "ecsClusterArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the underlying Amazon ECS cluster that the compute environment uses.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.batch#TagrisTagsMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags applied to the compute environment.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.batch#CEType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the compute environment: <code>MANAGED</code> or <code>UNMANAGED</code>. For more information, see\n   <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute environments</a> in the\n   <i>Batch User Guide</i>.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.batch#CEState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the compute environment. The valid values are <code>ENABLED</code> or <code>DISABLED</code>.</p>\n         <p>If the state is <code>ENABLED</code>, then the Batch scheduler can attempt to place jobs from an associated\n   job queue on the compute resources within the environment. If the compute environment is managed, then it can scale\n   its instances out or in automatically based on the job queue demand.</p>\n         <p>If the state is <code>DISABLED</code>, then the Batch scheduler doesn't attempt to place jobs within the\n   environment. Jobs in a <code>STARTING</code> or <code>RUNNING</code> state continue to progress normally. Managed\n   compute environments in the <code>DISABLED</code> state don't scale out. However, they scale in to\n   <code>minvCpus</code> value after instances become idle.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.batch#CEStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the compute environment (for example, <code>CREATING</code> or <code>VALID</code>).</p>"
          }
        },
        "statusReason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short, human-readable string to provide additional details for the current status of the compute\n   environment.</p>"
          }
        },
        "computeResources": {
          "target": "com.amazonaws.batch#ComputeResource",
          "traits": {
            "smithy.api#documentation": "<p>The compute resources defined for the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute environments</a> in the\n   <i>Batch User Guide</i>.</p>"
          }
        },
        "serviceRole": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The service role that's associated with the compute environment that allows Batch to make calls to Amazon Web Services API\n   operations on your behalf. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/service_IAM_role.html\">Batch service IAM role</a> in the\n   <i>Batch User Guide</i>.</p>"
          }
        },
        "updatePolicy": {
          "target": "com.amazonaws.batch#UpdatePolicy",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the infrastructure update policy for the compute environment. For more information about\n   infrastructure updates, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating\n   compute environments</a> in the <i>Batch User Guide</i>.</p>"
          }
        },
        "eksConfiguration": {
          "target": "com.amazonaws.batch#EksConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the Amazon EKS cluster that supports the Batch compute environment. Only specify this\n   parameter if the <code>containerOrchestrationType</code> is <code>EKS</code>.</p>"
          }
        },
        "containerOrchestrationType": {
          "target": "com.amazonaws.batch#OrchestrationType",
          "traits": {
            "smithy.api#documentation": "<p>The orchestration type of the compute environment. The valid values are <code>ECS</code> (default) or\n   <code>EKS</code>.</p>"
          }
        },
        "uuid": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for the compute environment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents an Batch compute environment.</p>"
      }
    },
    "com.amazonaws.batch#ComputeEnvironmentDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#ComputeEnvironmentDetail"
      }
    },
    "com.amazonaws.batch#ComputeEnvironmentOrder": {
      "type": "structure",
      "members": {
        "order": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The order of the compute environment. Compute environments are tried in ascending order. For example, if two\n   compute environments are associated with a job queue, the compute environment with a lower <code>order</code> integer\n   value is tried for job placement first.</p>",
            "smithy.api#required": {}
          }
        },
        "computeEnvironment": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the compute environment.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The order that compute environments are tried in for job placement within a queue. Compute environments are\n   tried in ascending order. For example, if two compute environments are associated with a job queue, the compute\n   environment with a lower order integer value is tried for job placement first. Compute environments must be in the\n   <code>VALID</code> state before you can associate them with a job queue. All of the compute environments must be\n   either EC2 (<code>EC2</code> or <code>SPOT</code>) or Fargate (<code>FARGATE</code> or <code>FARGATE_SPOT</code>);\n   EC2 and Fargate compute environments can't be mixed.</p>\n         <note>\n            <p>All compute environments that are associated with a job queue must share the same architecture. Batch doesn't\n    support mixing compute environment architecture types in a single job queue.</p>\n         </note>"
      }
    },
    "com.amazonaws.batch#ComputeEnvironmentOrders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#ComputeEnvironmentOrder"
      }
    },
    "com.amazonaws.batch#ComputeResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.batch#CRType",
          "traits": {
            "smithy.api#documentation": "<p>The type of compute environment: <code>EC2</code>, <code>SPOT</code>, <code>FARGATE</code>, or\n   <code>FARGATE_SPOT</code>. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute environments</a> in the\n   <i>Batch User Guide</i>.</p>\n         <p> If you choose <code>SPOT</code>, you must also specify an Amazon EC2 Spot Fleet role with the\n   <code>spotIamFleetRole</code> parameter. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/spot_fleet_IAM_role.html\">Amazon EC2 spot fleet role</a> in the\n   <i>Batch User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "allocationStrategy": {
          "target": "com.amazonaws.batch#CRAllocationStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The allocation strategy to use for the compute resource if not enough instances of the best fitting instance\n   type can be allocated. This might be because of availability of the instance type in the Region or <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-resource-limits.html\">Amazon EC2 service limits</a>. For more\n   information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/allocation-strategies.html\">Allocation strategies</a>\n   in the <i>Batch User Guide</i>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>\n         <dl>\n            <dt>BEST_FIT (default)</dt>\n            <dd>\n               <p>Batch selects an instance type that best fits the needs of the jobs with a preference for the lowest-cost\n      instance type. If additional instances of the selected instance type aren't available, Batch waits for the\n      additional instances to be available. If there aren't enough instances available or the user is reaching <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-resource-limits.html\">Amazon EC2 service limits</a>,\n      additional jobs aren't run until the currently running jobs are completed. This allocation strategy keeps costs\n      lower but can limit scaling. If you're using Spot Fleets with <code>BEST_FIT</code>, the Spot Fleet IAM Role must\n      be specified. Compute resources that use a <code>BEST_FIT</code> allocation strategy don't support infrastructure\n      updates and can't update some parameters. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the\n      <i>Batch User Guide</i>.</p>\n            </dd>\n            <dt>BEST_FIT_PROGRESSIVE</dt>\n            <dd>\n               <p>Batch selects additional instance types that are large enough to meet the requirements of the jobs in the\n      queue. Its preference is for instance types with lower cost vCPUs. If additional instances of the previously\n      selected instance types aren't available, Batch selects new instance types.</p>\n            </dd>\n            <dt>SPOT_CAPACITY_OPTIMIZED</dt>\n            <dd>\n               <p>Batch selects one or more instance types that are large enough to meet the requirements of the jobs in the\n      queue. Its preference is for instance types that are less likely to be interrupted. This allocation strategy is\n      only available for Spot Instance compute resources.</p>\n            </dd>\n         </dl>\n         <p>With both <code>BEST_FIT_PROGRESSIVE</code> and <code>SPOT_CAPACITY_OPTIMIZED</code> strategies using On-Demand\n   or Spot Instances, and the <code>BEST_FIT</code> strategy using Spot Instances, Batch might need to exceed\n    <code>maxvCpus</code> to meet your capacity requirements. In this event, Batch never exceeds <code>maxvCpus</code>\n   by more than a single instance.</p>"
          }
        },
        "minvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of Amazon EC2 vCPUs that an environment should maintain (even if the compute environment is\n   <code>DISABLED</code>).</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
          }
        },
        "maxvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of Amazon EC2 vCPUs that a compute environment can reach.</p>\n         <note>\n            <p>With both <code>BEST_FIT_PROGRESSIVE</code> and <code>SPOT_CAPACITY_OPTIMIZED</code> allocation strategies\n    using On-Demand or Spot Instances, and the <code>BEST_FIT</code> strategy using Spot Instances, Batch might need to exceed <code>maxvCpus</code> to meet your capacity requirements. In this event, Batch never\n    exceeds <code>maxvCpus</code> by more than a single instance. For example, no more than a single instance from among\n    those specified in your compute environment is allocated.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "desiredvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The desired number of Amazon EC2 vCPUS in the compute environment. Batch modifies this value between the minimum\n   and maximum values based on job queue demand.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
          }
        },
        "instanceTypes": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The instances types that can be launched. You can specify instance families to launch any instance type within\n   those families (for example, <code>c5</code> or <code>p3</code>), or you can specify specific sizes within a family\n   (such as <code>c5.8xlarge</code>). You can also choose <code>optimal</code> to select instance types (from the C4,\n   M4, and R4 instance families) that match the demand of your job queues.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>\n         <note>\n            <p>When you create a compute environment, the instance types that you select for the compute environment must\n    share the same architecture. For example, you can't mix x86 and ARM instances in the same compute\n    environment.</p>\n         </note>\n         <note>\n            <p>Currently, <code>optimal</code> uses instance types from the C4, M4, and R4 instance families. In Regions that\n    don't have instance types from those instance families, instance types from the C5, M5, and R5 instance families are\n    used.</p>\n         </note>"
          }
        },
        "imageId": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use ec2Configuration[].imageIdOverride instead."
            },
            "smithy.api#documentation": "<p>The Amazon Machine Image (AMI) ID used for instances launched in the compute environment. This parameter is\n   overridden by the <code>imageIdOverride</code> member of the <code>Ec2Configuration</code> structure.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>\n         <note>\n            <p>The AMI that you choose for a compute environment must match the architecture of the instance types that\n    you intend to use for that compute environment. For example, if your compute environment uses A1 instance types,\n    the compute resource AMI that you choose must support ARM instances. Amazon ECS vends both x86 and ARM versions of the\n    Amazon ECS-optimized Amazon Linux 2 AMI. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html#ecs-optimized-ami-linux-variants.html\">Amazon ECS-optimized\n    Amazon Linux 2 AMI</a>\n    in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n         </note>"
          }
        },
        "subnets": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The VPC subnets where the compute resources are launched. These subnets must be within the same VPC. Fargate\n   compute resources can contain up to 16 subnets. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html\">VPCs and subnets</a> in the <i>Amazon VPC User\n   Guide</i>.</p>\n         <note>\n            <p>Batch on Amazon EC2 and Batch on Amazon EKS support Local Zones. For more information, see\n    <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-local-zones\"> Local Zones</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>, <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/local-zones.html\">Amazon EKS and Amazon Web Services Local\n      Zones</a> in the <i>Amazon EKS User Guide</i> and <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/cluster-regions-zones.html#clusters-local-zones\">\n       Amazon ECS clusters in Local Zones, Wavelength Zones, and Amazon Web Services Outposts</a> in the\n    <i>Amazon ECS Developer Guide</i>.</p>\n            <p>Batch on Fargate doesn't currently support Local Zones.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 security groups that are associated with instances launched in the compute environment. One or more\n   security groups must be specified, either in <code>securityGroupIds</code> or using a launch template referenced in\n   <code>launchTemplate</code>. This parameter is required for jobs that are running on Fargate resources and must\n   contain at least one security group. Fargate doesn't support launch templates. If security groups are specified\n   using both <code>securityGroupIds</code> and <code>launchTemplate</code>, the values in <code>securityGroupIds</code>\n   are used.</p>"
          }
        },
        "ec2KeyPair": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 key pair that's used for instances launched in the compute environment. You can use this key pair to\n   log in to your instances with SSH.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
          }
        },
        "instanceRole": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon ECS instance profile applied to Amazon EC2 instances in a compute environment. You can specify the short name\n   or full Amazon Resource Name (ARN) of an instance profile. For example, <code>\n               <i>ecsInstanceRole</i>\n            </code> or\n   <code>arn:aws:iam::<i><aws_account_id></i>:instance-profile/<i>ecsInstanceRole</i>\n            </code>.\n   For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/instance_IAM_role.html\">Amazon ECS instance\n   role</a> in the <i>Batch User Guide</i>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p>\n         </note>"
          }
        },
        "tags": {
[...]
