{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.batch#AWSBatchV20160810": {
      "type": "service",
      "version": "2016-08-10",
      "operations": [
        {
          "target": "com.amazonaws.batch#CancelJob"
        },
        {
          "target": "com.amazonaws.batch#CreateComputeEnvironment"
        },
        {
          "target": "com.amazonaws.batch#CreateJobQueue"
        },
        {
          "target": "com.amazonaws.batch#DeleteComputeEnvironment"
        },
        {
          "target": "com.amazonaws.batch#DeleteJobQueue"
        },
        {
          "target": "com.amazonaws.batch#DeregisterJobDefinition"
        },
        {
          "target": "com.amazonaws.batch#DescribeComputeEnvironments"
        },
        {
          "target": "com.amazonaws.batch#DescribeJobDefinitions"
        },
        {
          "target": "com.amazonaws.batch#DescribeJobQueues"
        },
        {
          "target": "com.amazonaws.batch#DescribeJobs"
        },
        {
          "target": "com.amazonaws.batch#ListJobs"
        },
        {
          "target": "com.amazonaws.batch#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.batch#RegisterJobDefinition"
        },
        {
          "target": "com.amazonaws.batch#SubmitJob"
        },
        {
          "target": "com.amazonaws.batch#TagResource"
        },
        {
          "target": "com.amazonaws.batch#TerminateJob"
        },
        {
          "target": "com.amazonaws.batch#UntagResource"
        },
        {
          "target": "com.amazonaws.batch#UpdateComputeEnvironment"
        },
        {
          "target": "com.amazonaws.batch#UpdateJobQueue"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Batch",
          "arnNamespace": "batch",
          "cloudFormationName": "Batch",
          "cloudTrailEventSource": "batch.amazonaws.com",
          "endpointPrefix": "batch"
        },
        "aws.auth#sigv4": {
          "name": "batch"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Using AWS Batch, you can run batch computing workloads on the AWS Cloud. Batch computing is a common means for\n   developers, scientists, and engineers to access large amounts of compute resources. AWS Batch utilizes the advantages\n   of this computing workload to remove the undifferentiated heavy lifting of configuring and managing required\n   infrastructure, while also adopting a familiar batch computing software approach. Given these advantages, AWS Batch can\n   help you to efficiently provision resources in response to jobs submitted, thus effectively helping to eliminate\n   capacity constraints, reduce compute costs, and deliver your results more quickly.</p>\n         <p>As a fully managed service, AWS Batch can run batch computing workloads of any scale. AWS Batch automatically\n   provisions compute resources and optimizes workload distribution based on the quantity and scale of your specific\n   workloads. With AWS Batch, there's no need to install or manage batch computing software. This means that you can focus\n   your time and energy on analyzing results and solving your specific problems. </p>",
        "smithy.api#title": "AWS Batch",
        "smithy.api#xmlNamespace": {
          "uri": "http://batch.amazonaws.com/doc/2016-08-10/"
        }
      }
    },
    "com.amazonaws.batch#ArrayJobDependency": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "N_TO_N",
            "name": "N_TO_N"
          },
          {
            "value": "SEQUENTIAL",
            "name": "SEQUENTIAL"
          }
        ]
      }
    },
    "com.amazonaws.batch#ArrayJobStatusSummary": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.batch#String"
      },
      "value": {
        "target": "com.amazonaws.batch#Integer"
      }
    },
    "com.amazonaws.batch#ArrayProperties": {
      "type": "structure",
      "members": {
        "size": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the array job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing an AWS Batch array job.</p>"
      }
    },
    "com.amazonaws.batch#ArrayPropertiesDetail": {
      "type": "structure",
      "members": {
        "statusSummary": {
          "target": "com.amazonaws.batch#ArrayJobStatusSummary",
          "traits": {
            "smithy.api#documentation": "<p>A summary of the number of array job children in each available job status. This parameter is returned for\n   parent array jobs.</p>"
          }
        },
        "size": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the array job. This parameter is returned for parent array jobs.</p>"
          }
        },
        "index": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The job index within the array that is associated with this job. This parameter is returned for array job\n   children.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the array properties of a job.</p>"
      }
    },
    "com.amazonaws.batch#ArrayPropertiesSummary": {
      "type": "structure",
      "members": {
        "size": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the array job. This parameter is returned for parent array jobs.</p>"
          }
        },
        "index": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The job index within the array that is associated with this job. This parameter is returned for children of\n   array jobs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the array properties of a job.</p>"
      }
    },
    "com.amazonaws.batch#AssignPublicIp": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.batch#AttemptContainerDetail": {
      "type": "structure",
      "members": {
        "containerInstanceArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon ECS container instance that hosts the job attempt.</p>"
          }
        },
        "taskArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon ECS task that is associated with the job attempt. Each container attempt receives a task\n   ARN when they reach the <code>STARTING</code> status.</p>"
          }
        },
        "exitCode": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The exit code for the job attempt. A non-zero exit code is considered a failure.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short (255 max characters) human-readable string to provide additional details about a running or stopped\n   container.</p>"
          }
        },
        "logStreamName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch Logs log stream associated with the container. The log group for AWS Batch jobs is\n    <code>/aws/batch/job</code>. Each container attempt receives a log stream name when they reach the\n    <code>RUNNING</code> status.</p>"
          }
        },
        "networkInterfaces": {
          "target": "com.amazonaws.batch#NetworkInterfaceList",
          "traits": {
            "smithy.api#documentation": "<p>The network interfaces associated with the job attempt.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the details of a container that is part of a job attempt.</p>"
      }
    },
    "com.amazonaws.batch#AttemptDetail": {
      "type": "structure",
      "members": {
        "container": {
          "target": "com.amazonaws.batch#AttemptContainerDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details about the container in this job attempt.</p>"
          }
        },
        "startedAt": {
          "target": "com.amazonaws.batch#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp (in milliseconds) for when the attempt was started (when the attempt transitioned from the\n    <code>STARTING</code> state to the <code>RUNNING</code> state).</p>"
          }
        },
        "stoppedAt": {
          "target": "com.amazonaws.batch#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp (in milliseconds) for when the attempt was stopped (when the attempt transitioned from the\n    <code>RUNNING</code> state to a terminal state, such as <code>SUCCEEDED</code> or <code>FAILED</code>).</p>"
          }
        },
        "statusReason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short, human-readable string to provide additional details about the current status of the job attempt.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing a job attempt.</p>"
      }
    },
    "com.amazonaws.batch#AttemptDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#AttemptDetail"
      }
    },
    "com.amazonaws.batch#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.batch#CEState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.batch#CEStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          },
          {
            "value": "VALID",
            "name": "VALID"
          },
          {
            "value": "INVALID",
            "name": "INVALID"
          }
        ]
      }
    },
    "com.amazonaws.batch#CEType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MANAGED",
            "name": "MANAGED"
          },
          {
            "value": "UNMANAGED",
            "name": "UNMANAGED"
          }
        ]
      }
    },
    "com.amazonaws.batch#CRAllocationStrategy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BEST_FIT",
            "name": "BEST_FIT"
          },
          {
            "value": "BEST_FIT_PROGRESSIVE",
            "name": "BEST_FIT_PROGRESSIVE"
          },
          {
            "value": "SPOT_CAPACITY_OPTIMIZED",
            "name": "SPOT_CAPACITY_OPTIMIZED"
          }
        ]
      }
    },
    "com.amazonaws.batch#CRType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EC2",
            "name": "EC2"
          },
          {
            "value": "SPOT",
            "name": "SPOT"
          },
          {
            "value": "FARGATE",
            "name": "FARGATE"
          },
          {
            "value": "FARGATE_SPOT",
            "name": "FARGATE_SPOT"
          }
        ]
      }
    },
    "com.amazonaws.batch#CancelJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#CancelJobRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#CancelJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a job in an AWS Batch job queue. Jobs that are in the <code>SUBMITTED</code>, <code>PENDING</code>, or\n    <code>RUNNABLE</code> state are canceled. Jobs that have progressed to <code>STARTING</code> or <code>RUNNING</code>\n   are not canceled (but the API operation still succeeds, even if no job is canceled); these jobs must be terminated\n   with the <a>TerminateJob</a> operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/canceljob",
          "code": 200
        }
      }
    },
    "com.amazonaws.batch#CancelJobRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Batch job ID of the job to cancel.</p>",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A message to attach to the job that explains the reason for canceling it. This message is returned by future\n    <a>DescribeJobs</a> operations on the job. This message is also recorded in the AWS Batch activity\n   logs.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.batch#CancelJobResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.batch#ClientException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.batch#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that\n   doesn't have permissions to use the action or resource, or specifying an identifier that isn't valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.batch#ComputeEnvironmentDetail": {
      "type": "structure",
      "members": {
        "computeEnvironmentName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the compute environment.</p>",
            "smithy.api#required": {}
          }
        },
        "computeEnvironmentArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the compute environment.</p>",
            "smithy.api#required": {}
          }
        },
        "ecsClusterArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the underlying Amazon ECS cluster used by the compute environment.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.batch#TagrisTagsMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags applied to the compute environment.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.batch#CEType",
          "traits": {
            "smithy.api#documentation": "<p>The type of compute environment: <code>EC2</code>, <code>SPOT</code>, <code>FARGATE</code>, or\n    <code>FARGATE_SPOT</code>. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute Environments</a> in the\n    <i>AWS Batch User Guide</i>.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.batch#CEState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the compute environment. The valid values are <code>ENABLED</code> or <code>DISABLED</code>.</p>\n         <p>If the state is <code>ENABLED</code>, then the AWS Batch scheduler can attempt to place jobs from an associated\n   job queue on the compute resources within the environment. If the compute environment is managed, then it can scale\n   its instances out or in automatically, based on the job queue demand.</p>\n         <p>If the state is <code>DISABLED</code>, then the AWS Batch scheduler doesn't attempt to place jobs within the\n   environment. Jobs in a <code>STARTING</code> or <code>RUNNING</code> state continue to progress normally. Managed\n   compute environments in the <code>DISABLED</code> state do not scale out. However, they scale in to\n    <code>minvCpus</code> value after instances become idle.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.batch#CEStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the compute environment (for example, <code>CREATING</code> or <code>VALID</code>).</p>"
          }
        },
        "statusReason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short, human-readable string to provide additional details about the current status of the compute\n   environment.</p>"
          }
        },
        "computeResources": {
          "target": "com.amazonaws.batch#ComputeResource",
          "traits": {
            "smithy.api#documentation": "<p>The compute resources defined for the compute environment.</p>"
          }
        },
        "serviceRole": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The service role associated with the compute environment that allows AWS Batch to make calls to AWS API\n   operations on your behalf.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing an AWS Batch compute environment.</p>"
      }
    },
    "com.amazonaws.batch#ComputeEnvironmentDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#ComputeEnvironmentDetail"
      }
    },
    "com.amazonaws.batch#ComputeEnvironmentOrder": {
      "type": "structure",
      "members": {
        "order": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The order of the compute environment. Compute environments are tried in ascending order. For example, if two\n   compute environments are associated with a job queue, the compute environment with a lower <code>order</code> integer\n   value is tried for job placement first.</p>",
            "smithy.api#required": {}
          }
        },
        "computeEnvironment": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the compute environment.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The order in which compute environments are tried for job placement within a queue. Compute environments are\n   tried in ascending order. For example, if two compute environments are associated with a job queue, the compute\n   environment with a lower order integer value is tried for job placement first.</p>"
      }
    },
    "com.amazonaws.batch#ComputeEnvironmentOrders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#ComputeEnvironmentOrder"
      }
    },
    "com.amazonaws.batch#ComputeResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.batch#CRType",
          "traits": {
            "smithy.api#documentation": "<p>The type of compute environment: <code>EC2</code>, <code>SPOT</code>, <code>FARGATE</code>, or\n    <code>FARGATE_SPOT</code>. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute Environments</a> in the\n    <i>AWS Batch User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "allocationStrategy": {
          "target": "com.amazonaws.batch#CRAllocationStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The allocation strategy to use for the compute resource if not enough instances of the best fitting instance\n   type can be allocated. This might be because of availability of the instance type in the Region or <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-resource-limits.html\">Amazon EC2 service limits</a>. For more\n   information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/allocation-strategies.html\">Allocation\n    Strategies</a> in the <i>AWS Batch User Guide</i>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources, and shouldn't be specified.</p>\n         </note>\n         <dl>\n            <dt>BEST_FIT (default)</dt>\n            <dd>\n               <p>AWS Batch selects an instance type that best fits the needs of the jobs with a preference for the lowest-cost\n      instance type. If additional instances of the selected instance type aren't available, AWS Batch will wait for the\n      additional instances to be available. If there are not enough instances available, or if the user is hitting\n       <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-resource-limits.html\">Amazon EC2 service limits</a>\n      then additional jobs aren't run until currently running jobs have completed. This allocation strategy keeps costs\n      lower but can limit scaling. If you are using Spot Fleets with <code>BEST_FIT</code> then the Spot Fleet IAM Role\n      must be specified.</p>\n            </dd>\n            <dt>BEST_FIT_PROGRESSIVE</dt>\n            <dd>\n               <p>AWS Batch will select additional instance types that are large enough to meet the requirements of the jobs in\n      the queue, with a preference for instance types with a lower cost per unit vCPU. If additional instances of the\n      previously selected instance types aren't available, AWS Batch will select new instance types.</p>\n            </dd>\n            <dt>SPOT_CAPACITY_OPTIMIZED</dt>\n            <dd>\n               <p>AWS Batch will select one or more instance types that are large enough to meet the requirements of the jobs in\n      the queue, with a preference for instance types that are less likely to be interrupted. This allocation strategy\n      is only available for Spot Instance compute resources.</p>\n            </dd>\n         </dl>\n         <p>With both <code>BEST_FIT_PROGRESSIVE</code> and <code>SPOT_CAPACITY_OPTIMIZED</code> strategies, AWS Batch might\n   need to go above <code>maxvCpus</code> to meet your capacity requirements. In this event, AWS Batch never exceeds\n    <code>maxvCpus</code> by more than a single instance.</p>"
          }
        },
        "minvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of Amazon EC2 vCPUs that an environment should maintain (even if the compute environment is\n    <code>DISABLED</code>).</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources, and shouldn't be specified.</p>\n         </note>"
          }
        },
        "maxvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of Amazon EC2 vCPUs that an environment can reach.</p>\n         <note>\n            <p>With both <code>BEST_FIT_PROGRESSIVE</code> and <code>SPOT_CAPACITY_OPTIMIZED</code> allocation strategies,\n    AWS Batch may need to go above <code>maxvCpus</code> to meet your capacity requirements. In this event, AWS Batch will\n    never go above <code>maxvCpus</code> by more than a single instance (e.g., no more than a single instance from among\n    those specified in your compute environment).</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "desiredvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The desired number of Amazon EC2 vCPUS in the compute environment. AWS Batch modifies this value between the minimum\n   and maximum values, based on job queue demand.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources, and shouldn't be specified.</p>\n         </note>"
          }
        },
        "instanceTypes": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The instances types that may be launched. You can specify instance families to launch any instance type within\n   those families (for example, <code>c5</code> or <code>p3</code>), or you can specify specific sizes within a family\n   (such as <code>c5.8xlarge</code>). You can also choose <code>optimal</code> to select instance types (from the C, M,\n   and R instance families) on the fly that match the demand of your job queues.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources, and shouldn't be specified.</p>\n         </note>\n         <note>\n            <p>When you create a compute environment, the instance types that you select for the compute environment must\n    share the same architecture. For example, you can't mix x86 and ARM instances in the same compute\n    environment.</p>\n         </note>"
          }
        },
        "imageId": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use ec2Configuration[].imageIdOverride instead."
            },
            "smithy.api#documentation": "<p>The Amazon Machine Image (AMI) ID used for instances launched in the compute environment. This parameter is\n   overridden by the <code>imageIdOverride</code> member of the <code>Ec2Configuration</code> structure.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources, and shouldn't be specified.</p>\n         </note>\n         <note>\n            <p>The AMI that you choose for a compute environment must match the architecture of the instance types that\n    you intend to use for that compute environment. For example, if your compute environment uses A1 instance types,\n    the compute resource AMI that you choose must support ARM instances. Amazon ECS vends both x86 and ARM versions of the\n    Amazon ECS-optimized Amazon Linux 2 AMI. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html#ecs-optimized-ami-linux-variants.html\">Amazon ECS-optimized\n    Amazon Linux 2 AMI</a>\n    in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n         </note>"
          }
        },
        "subnets": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The VPC subnets into which the compute resources are launched. These subnets must be within the same VPC. This\n   parameter is required for jobs running on Fargate resources, where it can contain up to 16 subnets. For more\n   information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html\">VPCs and Subnets</a> in\n   the <i>Amazon VPC User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 security groups associated with instances launched in the compute environment. One or more security\n   groups must be specified, either in <code>securityGroupIds</code> or using a launch template referenced in\n    <code>launchTemplate</code>. This parameter is required for jobs running on Fargate resources and must contain at\n   least one security group. (Fargate does not support launch templates.) If security groups are specified using both\n    <code>securityGroupIds</code> and <code>launchTemplate</code>, the values in <code>securityGroupIds</code> will be\n   used.</p>"
          }
        },
        "ec2KeyPair": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 key pair that is used for instances launched in the compute environment. You can use this key pair to\n   log in to your instances with SSH.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources, and shouldn't be specified.</p>\n         </note>"
          }
        },
        "instanceRole": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon ECS instance profile applied to Amazon EC2 instances in a compute environment. You can specify the short name\n   or full Amazon Resource Name (ARN) of an instance profile. For example,\n    <code>\n               <i>ecsInstanceRole</i>\n            </code> or\n     <code>arn:aws:iam::<i><aws_account_id></i>:instance-profile/<i>ecsInstanceRole</i>\n            </code>.\n   For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/instance_IAM_role.html\">Amazon ECS Instance\n    Role</a> in the <i>AWS Batch User Guide</i>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources, and shouldn't be specified.</p>\n         </note>"
          }
        },
        "tags": {
          "target": "com.amazonaws.batch#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pair tags to be applied to EC2 resources that are launched in the compute environment. For AWS Batch,\n   these take the form of \"String1\": \"String2\", where String1 is the tag key and String2 is the tag value—for example, {\n   \"Name\": \"AWS Batch Instance - C4OnDemand\" }. This is helpful for recognizing your AWS Batch instances in the Amazon EC2\n   console. These tags can not be updated or removed after the compute environment has been created; any changes require\n   creating a new compute environment and removing the old compute environment. These tags are not seen when using the\n   AWS Batch <code>ListTagsForResource</code> API operation.</p>"
          }
        },
        "placementGroup": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 placement group to associate with your compute resources. If you intend to submit multi-node parallel\n   jobs to your compute environment, you should consider creating a cluster placement group and associate it with your\n   compute resources. This keeps your multi-node parallel job on a logical grouping of instances within a single\n   Availability Zone with high network flow potential. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html\">Placement Groups</a> in the <i>Amazon EC2 User Guide for\n    Linux Instances</i>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources, and shouldn't be specified.</p>\n         </note>"
          }
        },
        "bidPercentage": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum percentage that a Spot Instance price can be when compared with the On-Demand price for that\n   instance type before instances are launched. For example, if your maximum percentage is 20%, then the Spot price must\n   be below 20% of the current On-Demand price for that Amazon EC2 instance. You always pay the lowest (market) price and\n   never more than your maximum percentage. If you leave this field empty, the default value is 100% of the On-Demand\n   price.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources, and shouldn't be specified.</p>\n         </note>"
          }
        },
        "spotIamFleetRole": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon EC2 Spot Fleet IAM role applied to a <code>SPOT</code> compute environment. This role is\n   required if the allocation strategy set to <code>BEST_FIT</code> or if the allocation strategy isn't specified. For\n   more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/spot_fleet_IAM_role.html\">Amazon EC2 Spot\n    Fleet Role</a> in the <i>AWS Batch User Guide</i>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources, and shouldn't be specified.</p>\n         </note>\n         <important>\n            <p>To tag your Spot Instances on creation, the Spot Fleet IAM role specified here must use the newer <b>AmazonEC2SpotFleetTaggingRole</b> managed policy. The previously recommended <b>AmazonEC2SpotFleetRole</b> managed policy doesn't have the required permissions to tag Spot\n    Instances. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/troubleshooting.html#spot-instance-no-tag\">Spot Instances not tagged on\n     creation</a> in the <i>AWS Batch User Guide</i>.</p>\n         </important>"
          }
        },
        "launchTemplate": {
          "target": "com.amazonaws.batch#LaunchTemplateSpecification",
          "traits": {
            "smithy.api#documentation": "<p>The launch template to use for your compute resources. Any other compute resource parameters that you specify in\n   a <a>CreateComputeEnvironment</a> API operation override the same parameters in the launch template. You\n   must specify either the launch template ID or launch template name in the request, but not both. For more\n   information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/launch-templates.html\">Launch Template\n    Support</a> in the <i>AWS Batch User Guide</i>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources, and shouldn't be specified.</p>\n         </note>"
          }
        },
        "ec2Configuration": {
          "target": "com.amazonaws.batch#Ec2ConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>Provides information used to select Amazon Machine Images (AMIs) for instances in the compute environment. If\n    <code>Ec2Configuration</code> isn't specified, the default is <code>ECS_AL1</code>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources, and shouldn't be specified.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing an AWS Batch compute resource.</p>"
      }
    },
    "com.amazonaws.batch#ComputeResourceUpdate": {
      "type": "structure",
      "members": {
        "minvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of Amazon EC2 vCPUs that an environment should maintain.</p>\n         <note>\n            <p>This parameter isnt applicable to jobs running on Fargate resources, and shouldn't be specified.</p>\n         </note>"
          }
        },
        "maxvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of Amazon EC2 vCPUs that an environment can reach.</p>"
          }
        },
        "desiredvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The desired number of Amazon EC2 vCPUS in the compute environment.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources, and shouldn't be specified.</p>\n         </note>"
          }
        },
        "subnets": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The VPC subnets that the compute resources are launched into. This parameter is required for jobs running on\n   Fargate compute resources, where it can contain up to 16 subnets. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html\">VPCs and Subnets</a> in the <i>Amazon\n    VPC User Guide</i>. This can't be specified for EC2 compute resources. Providing an empty list will be\n   handled as if this parameter wasn't specified and no change is made.</p>"
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 security groups associated with instances launched in the compute environment. This parameter is\n   required for Fargate compute resources, where it can contain up to 5 security groups. This can't be specified for\n   EC2 compute resources. Providing an empty list is handled as if this parameter wasn't specified and no changeis\n   made.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the attributes of a compute environment that can be updated.</p>"
      }
    },
    "com.amazonaws.batch#ContainerDetail": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The image used to start the container.</p>"
          }
        },
        "vcpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of vCPUs reserved for the container. Jobs running on EC2 resources can specify the vCPU requirement\n   for the job using <code>resourceRequirements</code> but the vCPU requirements can't be specified both here and in the\n    <code>resourceRequirement</code> object. This parameter maps to <code>CpuShares</code> in the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--cpu-shares</code> option to\n    <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. Each vCPU is equivalent to 1,024 CPU shares. You must\n   specify at least one vCPU. This is required but can be specified in several places. It must be specified for each\n   node at least once.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources. Jobs running on Fargate resources\n    must specify the vCPU requirement for the job using <code>resourceRequirements</code>.</p>\n         </note>"
          }
        },
        "memory": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>For jobs run on EC2 resources that didn't specify memory requirements using <code>ResourceRequirement</code>,\n   the number of MiB of memory reserved for the job. For other jobs, including all run on Fargate resources, see\n    <code>resourceRequirements</code>.</p>"
          }
        },
        "command": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The command that is passed to the container.</p>"
          }
        },
        "jobRoleArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) associated with the job upon execution.</p>"
          }
        },
        "executionRoleArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the execution role that AWS Batch can assume. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/execution-IAM-role.html\">AWS Batch execution IAM role</a> in the\n    <i>AWS Batch User Guide</i>.</p>"
          }
        },
        "volumes": {
          "target": "com.amazonaws.batch#Volumes",
          "traits": {
            "smithy.api#documentation": "<p>A list of volumes associated with the job.</p>"
          }
        },
        "environment": {
          "target": "com.amazonaws.batch#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>The environment variables to pass to a container.</p>\n         <note>\n            <p>Environment variables must not start with <code>AWS_BATCH</code>; this naming\n convention is reserved for variables that are set by the AWS Batch service.</p>\n         </note>"
          }
        },
        "mountPoints": {
          "target": "com.amazonaws.batch#MountPoints",
          "traits": {
            "smithy.api#documentation": "<p>The mount points for data volumes in your container.</p>"
          }
        },
        "readonlyRootFilesystem": {
          "target": "com.amazonaws.batch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When this parameter is true, the container is given read-only access to its root file system. This parameter\n   maps to <code>ReadonlyRootfs</code> in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and\n   the <code>--read-only</code> option to <a href=\"https://docs.docker.com/engine/reference/commandline/run/\">\n               <code>docker run</code>\n            </a>.</p>"
          }
        },
        "ulimits": {
          "target": "com.amazonaws.batch#Ulimits",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>ulimit</code> values to set in the container. This parameter maps to <code>Ulimits</code> in the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--ulimit</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources.</p>\n         </note>"
          }
        },
        "privileged": {
          "target": "com.amazonaws.batch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When this parameter is true, the container is given elevated permissions on the host container instance (similar\n   to the <code>root</code> user). The default value is false.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources and shouldn't be provided, or specified\n    as false.</p>\n         </note>"
          }
        },
        "user": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The user name to use inside the container. This parameter maps to <code>User</code> in the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--user</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>"
          }
        },
        "exitCode": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The exit code to return upon completion.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short (255 max characters) human-readable string to provide additional details about a running or stopped\n   container.</p>"
          }
        },
        "containerInstanceArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container instance that the container is running on.</p>"
          }
        },
        "taskArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon ECS task that is associated with the container job. Each container attempt receives a\n   task ARN when they reach the <code>STARTING</code> status.</p>"
          }
        },
        "logStreamName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch Logs log stream associated with the container. The log group for AWS Batch jobs is\n    <code>/aws/batch/job</code>. Each container attempt receives a log stream name when they reach the\n    <code>RUNNING</code> status.</p>"
          }
        },
        "instanceType": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The instance type of the underlying host infrastructure of a multi-node parallel job.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources.</p>\n         </note>"
          }
        },
        "networkInterfaces": {
          "target": "com.amazonaws.batch#NetworkInterfaceList",
          "traits": {
            "smithy.api#documentation": "<p>The network interfaces associated with the job.</p>"
          }
        },
        "resourceRequirements": {
          "target": "com.amazonaws.batch#ResourceRequirements",
          "traits": {
            "smithy.api#documentation": "<p>The type and amount of resources to assign to a container. The supported resources include <code>GPU</code>,\n    <code>MEMORY</code>, and <code>VCPU</code>.</p>"
          }
        },
        "linuxParameters": {
          "target": "com.amazonaws.batch#LinuxParameters",
          "traits": {
            "smithy.api#documentation": "<p>Linux-specific modifications that are applied to the container, such as details for device mappings.</p>"
          }
        },
        "logConfiguration": {
          "target": "com.amazonaws.batch#LogConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The log configuration specification for the container.</p>\n         <p>This parameter maps to <code>LogConfig</code> in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--log-driver</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.\n   By default, containers use the same logging driver that the Docker daemon uses. However the container might use a\n   different logging driver than the Docker daemon by specifying a log driver with this parameter in the container\n   definition. To use a different logging driver for a container, the log system must be configured properly on the\n   container instance. Or, alternatively, it must be configured on a different log server for remote logging options.\n   For more information on the options for different supported log drivers, see <a href=\"https://docs.docker.com/engine/admin/logging/overview/\">Configure logging drivers</a> in the Docker\n   documentation.</p>\n         <note>\n            <p>AWS Batch currently supports a subset of the logging drivers available to the Docker daemon (shown in the <a>LogConfiguration</a> data type). Additional log drivers may be available in future releases of the Amazon ECS\n    container agent.</p>\n         </note>\n         <p>This parameter requires version 1.18 of the Docker Remote API or greater on your\n container instance. To check the Docker Remote API version on your container instance, log into your\n container instance and run the following command: <code>sudo docker version | grep \"Server API version\"</code>\n         </p>\n         <note>\n            <p>The Amazon ECS container agent running on a container instance must register the logging drivers available on that\n    instance with the <code>ECS_AVAILABLE_LOGGING_DRIVERS</code> environment variable before containers placed on that\n    instance can use these log configuration options. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-config.html\">Amazon ECS Container Agent Configuration</a> in the\n     <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n         </note>"
          }
        },
        "secrets": {
          "target": "com.amazonaws.batch#SecretList",
          "traits": {
            "smithy.api#documentation": "<p>The secrets to pass to the container. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/specifying-sensitive-data.html\">Specifying sensitive data</a> in the\n    <i>AWS Batch User Guide</i>.</p>"
          }
        },
        "networkConfiguration": {
          "target": "com.amazonaws.batch#NetworkConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The network configuration for jobs running on Fargate resources. Jobs running on EC2 resources must not\n   specify this parameter.</p>"
          }
        },
        "fargatePlatformConfiguration": {
          "target": "com.amazonaws.batch#FargatePlatformConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The platform configuration for jobs running on Fargate resources. Jobs running on EC2 resources must not\n   specify this parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the details of a container that is part of a job.</p>"
      }
    },
    "com.amazonaws.batch#ContainerOverrides": {
      "type": "structure",
      "members": {
        "vcpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use resourceRequirements instead."
            },
            "smithy.api#documentation": "<p>This parameter is deprecated and not supported for jobs run on Fargate resources, see\n    <code>resourceRequirement</code>. For jobs run on EC2 resources, the number of vCPUs to reserve for the container.\n   This value overrides the value set in the job definition. Jobs run on EC2 resources can specify the vCPU requirement\n   using <code>resourceRequirement</code> but the vCPU requirements can't be specified both here and in\n    <code>resourceRequirement</code>. This parameter maps to <code>CpuShares</code> in the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--cpu-shares</code> option to\n    <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. Each vCPU is equivalent to 1,024 CPU shares. You must\n   specify at least one vCPU.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources and shouldn't be provided. Jobs running\n    on Fargate resources must specify the vCPU requirement for the job using <code>resourceRequirements</code>.</p>\n         </note>"
          }
        },
        "memory": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use resourceRequirements instead."
            },
            "smithy.api#documentation": "<p>This parameter is deprecated and not supported for jobs run on Fargate resources, use\n    <code>ResourceRequirement</code>. For jobs run on EC2 resource, the number of MiB of memory reserved for the job.\n   This value overrides the value set in the job definition.</p>"
          }
        },
        "command": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The command to send to the container that overrides the default command from the Docker image or the job\n   definition.</p>"
          }
        },
        "instanceType": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The instance type to use for a multi-node parallel job.</p>\n         <note>\n            <p>This parameter isn't applicable to single-node container jobs or for jobs running on Fargate resources and\n    shouldn't be provided.</p>\n         </note>"
          }
        },
        "environment": {
          "target": "com.amazonaws.batch#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>The environment variables to send to the container. You can add new environment variables, which are added to\n   the container at launch, or you can override the existing environment variables from the Docker image or the job\n   definition.</p>\n         <note>\n            <p>Environment variables must not start with <code>AWS_BATCH</code>; this naming\n convention is reserved for variables that are set by the AWS Batch service.</p>\n         </note>"
          }
        },
        "resourceRequirements": {
          "target": "com.amazonaws.batch#ResourceRequirements",
          "traits": {
            "smithy.api#documentation": "<p>The type and amount of resources to assign to a container. This overrides the settings in the job definition.\n   The supported resources include <code>GPU</code>, <code>MEMORY</code>, and <code>VCPU</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The overrides that should be sent to a container.</p>"
      }
    },
    "com.amazonaws.batch#ContainerProperties": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The image used to start a container. This string is passed directly to the Docker daemon. Images in the Docker\n   Hub registry are available by default. Other repositories are specified with\n     <code>\n               <i>repository-url</i>/<i>image</i>:<i>tag</i>\n            </code>.\n   Up to 255 letters (uppercase and lowercase), numbers, hyphens, underscores, colons,\n periods, forward slashes, and number signs are allowed. This parameter maps to <code>Image</code> in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of\n   the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>IMAGE</code> parameter of <a href=\"https://docs.docker.com/engine/reference/run/\">docker\n   run</a>.</p>\n         <note>\n            <p>Docker image architecture must match the processor architecture of the compute resources that they're scheduled\n    on. For example, ARM-based Docker images can only run on ARM-based compute resources.</p>\n         </note>\n         <ul>\n            <li>\n               <p>Images in Amazon ECR repositories use the full registry and repository URI (for example,\n      <code>012345678910.dkr.ecr.<region-name>.amazonaws.com/<repository-name></code>).</p>\n            </li>\n            <li>\n               <p>Images in official repositories on Docker Hub use a single name (for example, <code>ubuntu</code> or\n      <code>mongo</code>).</p>\n            </li>\n            <li>\n               <p>Images in other repositories on Docker Hub are qualified with an organization name (for example,\n      <code>amazon/amazon-ecs-agent</code>).</p>\n            </li>\n            <li>\n               <p>Images in other online repositories are qualified further by a domain name (for example,\n      <code>quay.io/assemblyline/ubuntu</code>).</p>\n            </li>\n         </ul>"
          }
        },
        "vcpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use resourceRequirements instead."
            },
            "smithy.api#documentation": "<p>This parameter is deprecated and not supported for jobs run on Fargate resources, see\n    <code>resourceRequirement</code>. The number of vCPUs reserved for the container. Jobs running on EC2 resources can\n   specify the vCPU requirement for the job using <code>resourceRequirements</code> but the vCPU requirements can't be\n   specified both here and in the <code>resourceRequirement</code> structure. This parameter maps to\n    <code>CpuShares</code> in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the\n    <code>--cpu-shares</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. Each vCPU is equivalent\n   to 1,024 CPU shares. You must specify at least one vCPU. This is required but can be specified in several places. It\n   must be specified for each node at least once.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources and shouldn't be provided. Jobs running\n    on Fargate resources must specify the vCPU requirement for the job using <code>resourceRequirements</code>.</p>\n         </note>"
          }
        },
        "memory": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use resourceRequirements instead."
            },
            "smithy.api#documentation": "<p>This parameter is deprecated and not supported for jobs run on Fargate resources, use\n    <code>ResourceRequirement</code>. For jobs run on EC2 resources can specify the memory requirement using the\n    <code>ResourceRequirement</code> structure. The hard limit (in MiB) of memory to present to the container. If your\n   container attempts to exceed the memory specified here, the container is killed. This parameter maps to\n    <code>Memory</code> in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the\n    <code>--memory</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. You must specify at least 4\n   MiB of memory for a job. This is required but can be specified in several places; it must be specified for each node\n   at least once.</p>\n         <note>\n            <p>If you're trying to maximize your resource utilization by providing your jobs as much memory as possible for a\n    particular instance type, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/memory-management.html\">Memory\n     Management</a> in the <i>AWS Batch User Guide</i>.</p>\n         </note>"
          }
        },
        "command": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The command that is passed to the container. This parameter maps to <code>Cmd</code> in the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>COMMAND</code> parameter to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. For more information, see <a href=\"https://docs.docker.com/engine/reference/builder/#cmd\">https://docs.docker.com/engine/reference/builder/#cmd</a>.</p>"
          }
        },
        "jobRoleArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that the container can assume for AWS permissions. For more information, see\n    <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-iam-roles.html\">IAM Roles for Tasks</a>\n   in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
          }
        },
        "executionRoleArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the execution role that AWS Batch can assume. Jobs running on Fargate resources must provide an\n   execution role. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/execution-IAM-role.html\">AWS Batch execution IAM role</a> in the\n    <i>AWS Batch User Guide</i>.</p>"
          }
        },
        "volumes": {
          "target": "com.amazonaws.batch#Volumes",
          "traits": {
            "smithy.api#documentation": "<p>A list of data volumes used in a job.</p>"
          }
        },
        "environment": {
          "target": "com.amazonaws.batch#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>The environment variables to pass to a container. This parameter maps to <code>Env</code> in the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--env</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>\n         <important>\n            <p>We don't recommend using plaintext environment variables for sensitive information, such as credential\n    data.</p>\n         </important>\n         <note>\n            <p>Environment variables must not start with <code>AWS_BATCH</code>; this naming\n convention is reserved for variables that are set by the AWS Batch service.</p>\n         </note>"
          }
        },
        "mountPoints": {
          "target": "com.amazonaws.batch#MountPoints",
          "traits": {
            "smithy.api#documentation": "<p>The mount points for data volumes in your container. This parameter maps to <code>Volumes</code> in the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--volume</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>"
          }
        },
        "readonlyRootFilesystem": {
          "target": "com.amazonaws.batch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When this parameter is true, the container is given read-only access to its root file system. This parameter\n   maps to <code>ReadonlyRootfs</code> in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and\n   the <code>--read-only</code> option to <code>docker run</code>.</p>"
          }
        },
        "privileged": {
          "target": "com.amazonaws.batch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When this parameter is true, the container is given elevated permissions on the host container instance (similar\n   to the <code>root</code> user). This parameter maps to <code>Privileged</code> in the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--privileged</code> option to\n    <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. The default value is false.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources and shouldn't be provided, or specified\n    as false.</p>\n         </note>"
          }
        },
        "ulimits": {
          "target": "com.amazonaws.batch#Ulimits",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>ulimits</code> to set in the container. This parameter maps to <code>Ulimits</code> in the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--ulimit</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>\n         <note>\n            <p>This parameter isn't applicable to jobs running on Fargate resources and shouldn't be provided.</p>\n         </note>"
          }
        },
        "user": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The user name to use inside the container. This parameter maps to <code>User</code> in the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--user</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>"
          }
        },
        "instanceType": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The instance type to use for a multi-node parallel job. All node groups in a multi-node parallel job must use\n   the same instance type.</p>\n         <note>\n            <p>This parameter isn't applicable to single-node container jobs or for jobs running on Fargate resources and\n    shouldn't be provided.</p>\n         </note>"
          }
        },
        "resourceRequirements": {
          "target": "com.amazonaws.batch#ResourceRequirements",
          "traits": {
            "smithy.api#documentation": "<p>The type and amount of resources to assign to a container. The supported resources include <code>GPU</code>,\n    <code>MEMORY</code>, and <code>VCPU</code>.</p>"
          }
        },
        "linuxParameters": {
          "target": "com.amazonaws.batch#LinuxParameters",
          "traits": {
            "smithy.api#documentation": "<p>Linux-specific modifications that are applied to the container, such as details for device mappings.</p>"
          }
        },
        "logConfiguration": {
          "target": "com.amazonaws.batch#LogConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The log configuration specification for the container.</p>\n         <p>This parameter maps to <code>LogConfig</code> in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--log-driver</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.\n   By default, containers use the same logging driver that the Docker daemon uses. However the container might use a\n   different logging driver than the Docker daemon by specifying a log driver with this parameter in the container\n   definition. To use a different logging driver for a container, the log system must be configured properly on the\n   container instance (or on a different log server for remote logging options). For more information on the options for\n   different supported log drivers, see <a href=\"https://docs.docker.com/engine/admin/logging/overview/\">Configure\n    logging drivers</a> in the Docker documentation.</p>\n         <note>\n            <p>AWS Batch currently supports a subset of the logging drivers available to the Docker daemon (shown in the <a>LogConfiguration</a> data type).</p>\n         </note>\n         <p>This parameter requires version 1.18 of the Docker Remote API or greater on your\n container instance. To check the Docker Remote API version on your container instance, log into your\n container instance and run the following command: <code>sudo docker version | grep \"Server API version\"</code> \n         </p>\n         <note>\n            <p>The Amazon ECS container agent running on a container instance must register the logging drivers available on that\n    instance with the <code>ECS_AVAILABLE_LOGGING_DRIVERS</code> environment variable before containers placed on that\n    instance can use these log configuration options. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-config.html\">Amazon ECS Container Agent Configuration</a> in the\n     <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n         </note>"
          }
        },
        "secrets": {
          "target": "com.amazonaws.batch#SecretList",
          "traits": {
            "smithy.api#documentation": "<p>The secrets for the container. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/specifying-sensitive-data.html\">Specifying sensitive data</a> in the\n    <i>AWS Batch User Guide</i>.</p>"
          }
        },
        "networkConfiguration": {
          "target": "com.amazonaws.batch#NetworkConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The network configuration for jobs running on Fargate resources. Jobs running on EC2 resources must not\n   specify this parameter.</p>"
          }
        },
        "fargatePlatformConfiguration": {
          "target": "com.amazonaws.batch#FargatePlatformConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The platform configuration for jobs running on Fargate resources. Jobs running on EC2 resources must not\n   specify this parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container properties are used in job definitions to describe the container that is launched as part of a\n   job.</p>"
      }
    },
    "com.amazonaws.batch#ContainerSummary": {
      "type": "structure",
      "members": {
        "exitCode": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The exit code to return upon completion.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short (255 max characters) human-readable string to provide additional details about a running or stopped\n   container.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing summary details of a container within a job.</p>"
      }
    },
    "com.amazonaws.batch#CreateComputeEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#CreateComputeEnvironmentRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#CreateComputeEnvironmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an AWS Batch compute environment. You can create <code>MANAGED</code> or <code>UNMANAGED</code> compute\n   environments. <code>MANAGED</code> compute environments can use Amazon EC2 or AWS Fargate resources.\n    <code>UNMANAGED</code> compute environments can only use EC2 resources.</p>\n         <p>In a managed compute environment, AWS Batch manages the capacity and instance types of the compute resources\n   within the environment. This is based on the compute resource specification that you define or the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-launch-templates.html\">launch template</a> that you\n   specify when you create the compute environment. You can choose either to use EC2 On-Demand Instances and EC2 Spot\n   Instances, or to use Fargate and Fargate Spot capacity in your managed compute environment. You can optionally\n   set a maximum price so that Spot Instances only launch when the Spot Instance price is below a specified percentage\n   of the On-Demand price.</p>\n         <note>\n            <p>Multi-node parallel jobs are not supported on Spot Instances.</p>\n         </note>\n         <p>In an unmanaged compute environment, you can manage your own EC2 compute resources and have a lot of flexibility\n   with how you configure your compute resources. For example, you can use custom AMI. However, you need to verify that\n   your AMI meets the Amazon ECS container instance AMI specification. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/container_instance_AMIs.html\">container instance AMIs</a> in the\n    <i>Amazon Elastic Container Service Developer Guide</i>. After you have created your unmanaged compute environment, you can use the\n    <a>DescribeComputeEnvironments</a> operation to find the Amazon ECS cluster that is associated with it. Then,\n   manually launch your container instances into that Amazon ECS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/launch_container_instance.html\">Launching an Amazon ECS\n    container instance</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n         <note>\n            <p>AWS Batch doesn't upgrade the AMIs in a compute environment after it's created. For example, it doesn't update\n    the AMIs when a newer version of the Amazon ECS-optimized AMI is available. Therefore, you're responsible for the\n    management of the guest operating system (including updates and security patches) and any additional application\n    software or utilities that you install on the compute resources. To use a new AMI for your AWS Batch jobs, complete\n    these steps:</p>\n            <ol>\n               <li>\n                  <p>Create a new compute environment with the new AMI.</p>\n               </li>\n               <li>\n                  <p>Add the compute environment to an existing job queue.</p>\n               </li>\n               <li>\n                  <p>Remove the earlier compute environment from your job queue.</p>\n               </li>\n               <li>\n                  <p>Delete the earlier compute environment.</p>\n               </li>\n            </ol>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/createcomputeenvironment",
          "code": 200
        }
      }
    },
    "com.amazonaws.batch#CreateComputeEnvironmentRequest": {
      "type": "structure",
      "members": {
        "computeEnvironmentName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name for your compute environment. Up to 128 letters (uppercase and lowercase), numbers, hyphens, and\n underscores are allowed.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.batch#CEType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the compute environment: <code>MANAGED</code> or <code>UNMANAGED</code>. For more information, see\n    <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute Environments</a> in\n   the <i>AWS Batch User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.batch#CEState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the compute environment. If the state is <code>ENABLED</code>, then the compute environment accepts\n   jobs from a queue and can scale out automatically based on queues.</p>"
          }
        },
        "computeResources": {
          "target": "com.amazonaws.batch#ComputeResource",
          "traits": {
            "smithy.api#documentation": "<p>Details about the compute resources managed by the compute environment. This parameter is required for managed\n   compute environments. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute Environments</a> in the\n    <i>AWS Batch User Guide</i>.</p>"
          }
        },
        "serviceRole": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The full Amazon Resource Name (ARN) of the IAM role that allows AWS Batch to make calls to other AWS services on your\n   behalf.</p>\n         <p>If your specified role has a path other than <code>/</code>, then you must either specify the full role ARN\n   (this is recommended) or prefix the role name with the path.</p>\n         <note>\n            <p>Depending on how you created your AWS Batch service role, its ARN may contain the <code>service-role</code> path\n    prefix. When you only specify the name of the service role, AWS Batch assumes that your ARN doesn't use the\n     <code>service-role</code> path prefix. Because of this, we recommend that you specify the full ARN of your service\n    role when you create compute environments.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.batch#TagrisTagsMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags that you apply to the compute environment to help you categorize and organize your resources. Each tag\n   consists of a key and an optional value. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging AWS Resources</a> in <i>AWS General\n   Reference</i>.</p>\n         <p>These tags can be updated or removed using the <a href=\"https://docs.aws.amazon.com/batch/latest/APIReference/API_TagResource.html\">TagResource</a> and <a href=\"https://docs.aws.amazon.com/batch/latest/APIReference/API_UntagResource.html\">UntagResource</a> API operations. These tags don't\n   propagate to the underlying compute resources.</p>"
          }
        }
      }
    },
    "com.amazonaws.batch#CreateComputeEnvironmentResponse": {
      "type": "structure",
      "members": {
        "computeEnvironmentName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the compute environment.</p>"
          }
        },
        "computeEnvironmentArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the compute environment.</p>"
          }
        }
      }
    },
    "com.amazonaws.batch#CreateJobQueue": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#CreateJobQueueRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#CreateJobQueueResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an AWS Batch job queue. When you create a job queue, you associate one or more compute environments to the\n   queue and assign an order of preference for the compute environments.</p>\n         <p>You also set a priority to the job queue that determines the order in which the AWS Batch scheduler places jobs\n   onto its associated compute environments. For example, if a compute environment is associated with more than one job\n   queue, the job queue with a higher priority is given preference for scheduling jobs to that compute\n   environment.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/createjobqueue",
          "code": 200
        }
      }
    },
    "com.amazonaws.batch#CreateJobQueueRequest": {
      "type": "structure",
      "members": {
        "jobQueueName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job queue.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.batch#JQState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the job queue. If the job queue state is <code>ENABLED</code>, it is able to accept jobs. If the\n   job queue state is <code>DISABLED</code>, new jobs can't be added to the queue, but jobs already in the queue can\n   finish.</p>"
          }
        },
        "priority": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The priority of the job queue. Job queues with a higher priority (or a higher integer value for the\n    <code>priority</code> parameter) are evaluated first when associated with the same compute environment. Priority is\n   determined in descending order. For example, a job queue with a priority value of <code>10</code> is given scheduling\n   preference over a job queue with a priority value of <code>1</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "computeEnvironmentOrder": {
          "target": "com.amazonaws.batch#ComputeEnvironmentOrders",
          "traits": {
            "smithy.api#documentation": "<p>The set of compute environments mapped to a job queue and their order relative to each other. The job scheduler\n   uses this parameter to determine which compute environment should run a specific job. Compute environments must be in\n   the <code>VALID</code> state before you can associate them with a job queue. You can associate up to three compute\n   environments with a job queue. All of the compute environments must be either EC2 (<code>EC2</code> or\n    <code>SPOT</code>) or Fargate (<code>FARGATE</code> or <code>FARGATE_SPOT</code>); EC2 and Fargate compute\n   environments can't be mixed.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.batch#TagrisTagsMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags that you apply to the job queue to help you categorize and organize your resources. Each tag consists\n   of a key and an optional value. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging AWS Resources</a> in <i>AWS General\n   Reference</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.batch#CreateJobQueueResponse": {
      "type": "structure",
      "members": {
        "jobQueueName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job queue.</p>",
            "smithy.api#required": {}
          }
        },
        "jobQueueArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the job queue.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.batch#DeleteComputeEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#DeleteComputeEnvironmentRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#DeleteComputeEnvironmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an AWS Batch compute environment.</p>\n         <p>Before you can delete a compute environment, you must set its state to <code>DISABLED</code> with the <a>UpdateComputeEnvironment</a> API operation and disassociate it from any job queues with the <a>UpdateJobQueue</a> API operation. Compute environments that use AWS Fargate resources must terminate all\n   active jobs on that compute environment before deleting the compute environment. If this isn't done, the compute\n   environment will end up in an invalid state.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/deletecomputeenvironment",
          "code": 200
        }
      }
    },
    "com.amazonaws.batch#DeleteComputeEnvironmentRequest": {
      "type": "structure",
      "members": {
        "computeEnvironment": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name or Amazon Resource Name (ARN) of the compute environment to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.batch#DeleteComputeEnvironmentResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.batch#DeleteJobQueue": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#DeleteJobQueueRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#DeleteJobQueueResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified job queue. You must first disable submissions for a queue with the <a>UpdateJobQueue</a> operation. All jobs in the queue are terminated when you delete a job queue.</p>\n         <p>It's not necessary to disassociate compute environments from a queue before submitting a\n    <code>DeleteJobQueue</code> request.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/deletejobqueue",
          "code": 200
        }
      }
    },
    "com.amazonaws.batch#DeleteJobQueueRequest": {
      "type": "structure",
      "members": {
        "jobQueue": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The short name or full Amazon Resource Name (ARN) of the queue to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.batch#DeleteJobQueueResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.batch#DeregisterJobDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#DeregisterJobDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#DeregisterJobDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deregisters an AWS Batch job definition. Job definitions are permanently deleted after 180 days.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/deregisterjobdefinition",
          "code": 200
        }
      }
    },
    "com.amazonaws.batch#DeregisterJobDefinitionRequest": {
      "type": "structure",
      "members": {
        "jobDefinition": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name and revision (<code>name:revision</code>) or full Amazon Resource Name (ARN) of the job definition to deregister.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.batch#DeregisterJobDefinitionResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.batch#DescribeComputeEnvironments": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#DescribeComputeEnvironmentsRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#DescribeComputeEnvironmentsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes one or more of your compute environments.</p>\n         <p>If you're using an unmanaged compute environment, you can use the <code>DescribeComputeEnvironment</code>\n   operation to determine the <code>ecsClusterArn</code> that you should launch your Amazon ECS container instances\n   into.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/describecomputeenvironments",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.batch#DescribeComputeEnvironmentsRequest": {
      "type": "structure",
      "members": {
        "computeEnvironments": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 100 compute environment names or full Amazon Resource Name (ARN) entries.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of cluster results returned by <code>DescribeComputeEnvironments</code> in paginated output.\n   When this parameter is used, <code>DescribeComputeEnvironments</code> only returns <code>maxResults</code> results in\n   a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can\n   be seen by sending another <code>DescribeComputeEnvironments</code> request with the returned <code>nextToken</code>\n   value. This value can be between 1 and 100. If this parameter isn't used, then\n    <code>DescribeComputeEnvironments</code> returns up to 100 results and a <code>nextToken</code>\n   value if applicable.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeComputeEnvironments</code>\n   request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination\n   continues from the end of the previous results that returned the <code>nextToken</code> value. This value is\n    <code>null</code> when there are no more results to return.</p>\n         <note>\n            <p>This token should be treated as an opaque identifier that is only used to\n retrieve the next items in a list and not for other programmatic purposes.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.batch#DescribeComputeEnvironmentsResponse": {
      "type": "structure",
      "members": {
        "computeEnvironments": {
          "target": "com.amazonaws.batch#ComputeEnvironmentDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The list of compute environments.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value to include in a future <code>DescribeComputeEnvironments</code> request. When\n   the results of a <code>DescribeJobDefinitions</code> request exceed <code>maxResults</code>, this value can be used\n   to retrieve the next page of results. This value is <code>null</code> when there are no more results to\n   return.</p>"
          }
        }
      }
    },
    "com.amazonaws.batch#DescribeJobDefinitions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#DescribeJobDefinitionsRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#DescribeJobDefinitionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a list of job definitions. You can specify a <code>status</code> (such as <code>ACTIVE</code>) to only\n   return job definitions that match that status.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/describejobdefinitions",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.batch#DescribeJobDefinitionsRequest": {
      "type": "structure",
      "members": {
        "jobDefinitions": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 100 job definition names or full Amazon Resource Name (ARN) entries.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results returned by <code>DescribeJobDefinitions</code> in paginated output. When this\n   parameter is used, <code>DescribeJobDefinitions</code> only returns <code>maxResults</code> results in a single page\n   along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by\n   sending another <code>DescribeJobDefinitions</code> request with the returned <code>nextToken</code> value. This\n   value can be between 1 and 100. If this parameter isn't used, then\n    <code>DescribeJobDefinitions</code> returns up to 100 results and a <code>nextToken</code> value\n   if applicable.</p>"
          }
        },
        "jobDefinitionName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job definition to describe.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The status used to filter job definitions.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeJobDefinitions</code> request\n   where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues\n   from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code>\n   when there are no more results to return.</p>\n         <note>\n            <p>This token should be treated as an opaque identifier that is only used to\n retrieve the next items in a list and not for other programmatic purposes.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.batch#DescribeJobDefinitionsResponse": {
      "type": "structure",
      "members": {
        "jobDefinitions": {
          "target": "com.amazonaws.batch#JobDefinitionList",
          "traits": {
            "smithy.api#documentation": "<p>The list of job definitions.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value to include in a future <code>DescribeJobDefinitions</code> request. When the\n   results of a <code>DescribeJobDefinitions</code> request exceed <code>maxResults</code>, this value can be used to\n   retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.batch#DescribeJobQueues": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#DescribeJobQueuesRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#DescribeJobQueuesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes one or more of your job queues.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/describejobqueues",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.batch#DescribeJobQueuesRequest": {
      "type": "structure",
      "members": {
        "jobQueues": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 100 queue names or full queue Amazon Resource Name (ARN) entries.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
[...]
