{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.batch#AWSBatchV20160810": {
      "type": "service",
      "version": "2016-08-10",
      "operations": [
        {
          "target": "com.amazonaws.batch#CancelJob"
        },
        {
          "target": "com.amazonaws.batch#CreateComputeEnvironment"
        },
        {
          "target": "com.amazonaws.batch#CreateJobQueue"
        },
        {
          "target": "com.amazonaws.batch#DeleteComputeEnvironment"
        },
        {
          "target": "com.amazonaws.batch#DeleteJobQueue"
        },
        {
          "target": "com.amazonaws.batch#DeregisterJobDefinition"
        },
        {
          "target": "com.amazonaws.batch#DescribeComputeEnvironments"
        },
        {
          "target": "com.amazonaws.batch#DescribeJobDefinitions"
        },
        {
          "target": "com.amazonaws.batch#DescribeJobQueues"
        },
        {
          "target": "com.amazonaws.batch#DescribeJobs"
        },
        {
          "target": "com.amazonaws.batch#ListJobs"
        },
        {
          "target": "com.amazonaws.batch#RegisterJobDefinition"
        },
        {
          "target": "com.amazonaws.batch#SubmitJob"
        },
        {
          "target": "com.amazonaws.batch#TerminateJob"
        },
        {
          "target": "com.amazonaws.batch#UpdateComputeEnvironment"
        },
        {
          "target": "com.amazonaws.batch#UpdateJobQueue"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Batch",
          "arnNamespace": "batch",
          "cloudFormationName": "Batch",
          "cloudTrailEventSource": "frontend.dilithium.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "batch"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>AWS Batch enables you to run batch computing workloads on the AWS Cloud. Batch computing is a common way for\n   developers, scientists, and engineers to access large amounts of compute resources, and AWS Batch removes the\n   undifferentiated heavy lifting of configuring and managing the required infrastructure. AWS Batch will be familiar to\n   users of traditional batch computing software. This service can efficiently provision resources in response to jobs\n   submitted in order to eliminate capacity constraints, reduce compute costs, and deliver results quickly.</p>\n         <p>As a fully managed service, AWS Batch enables developers, scientists, and engineers to run batch computing\n   workloads of any scale. AWS Batch automatically provisions compute resources and optimizes the workload distribution\n   based on the quantity and scale of the workloads. With AWS Batch, there is no need to install or manage batch computing\n   software, which allows you to focus on analyzing results and solving problems. AWS Batch reduces operational\n   complexities, saves time, and reduces costs, which makes it easy for developers, scientists, and engineers to run\n   their batch jobs in the AWS Cloud.</p>",
        "smithy.api#title": "AWS Batch",
        "smithy.api#xmlNamespace": {
          "uri": "http://batch.amazonaws.com/doc/2016-08-10/"
        }
      }
    },
    "com.amazonaws.batch#ArrayJobDependency": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "N_TO_N",
            "name": "N_TO_N"
          },
          {
            "value": "SEQUENTIAL",
            "name": "SEQUENTIAL"
          }
        ]
      }
    },
    "com.amazonaws.batch#ArrayJobStatusSummary": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.batch#String"
      },
      "value": {
        "target": "com.amazonaws.batch#Integer"
      }
    },
    "com.amazonaws.batch#ArrayProperties": {
      "type": "structure",
      "members": {
        "size": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the array job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing an AWS Batch array job.</p>"
      }
    },
    "com.amazonaws.batch#ArrayPropertiesDetail": {
      "type": "structure",
      "members": {
        "index": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The job index within the array that is associated with this job. This parameter is returned for array job\n   children.</p>"
          }
        },
        "size": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the array job. This parameter is returned for parent array jobs.</p>"
          }
        },
        "statusSummary": {
          "target": "com.amazonaws.batch#ArrayJobStatusSummary",
          "traits": {
            "smithy.api#documentation": "<p>A summary of the number of array job children in each available job status. This parameter is returned for\n   parent array jobs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the array properties of a job.</p>"
      }
    },
    "com.amazonaws.batch#ArrayPropertiesSummary": {
      "type": "structure",
      "members": {
        "index": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The job index within the array that is associated with this job. This parameter is returned for children of\n   array jobs.</p>"
          }
        },
        "size": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the array job. This parameter is returned for parent array jobs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the array properties of a job.</p>"
      }
    },
    "com.amazonaws.batch#AttemptContainerDetail": {
      "type": "structure",
      "members": {
        "containerInstanceArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon ECS container instance that hosts the job attempt.</p>"
          }
        },
        "exitCode": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The exit code for the job attempt. A non-zero exit code is considered a failure.</p>"
          }
        },
        "logStreamName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch Logs log stream associated with the container. The log group for AWS Batch jobs is\n    <code>/aws/batch/job</code>. Each container attempt receives a log stream name when they reach the\n    <code>RUNNING</code> status.</p>"
          }
        },
        "networkInterfaces": {
          "target": "com.amazonaws.batch#NetworkInterfaceList",
          "traits": {
            "smithy.api#documentation": "<p>The network interfaces associated with the job attempt.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short (255 max characters) human-readable string to provide additional details about a running or stopped\n   container.</p>"
          }
        },
        "taskArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon ECS task that is associated with the job attempt. Each container attempt receives a task\n   ARN when they reach the <code>STARTING</code> status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the details of a container that is part of a job attempt.</p>"
      }
    },
    "com.amazonaws.batch#AttemptDetail": {
      "type": "structure",
      "members": {
        "container": {
          "target": "com.amazonaws.batch#AttemptContainerDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details about the container in this job attempt.</p>"
          }
        },
        "startedAt": {
          "target": "com.amazonaws.batch#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp (in seconds and milliseconds) for when the attempt was started (when the attempt transitioned\n   from the <code>STARTING</code> state to the <code>RUNNING</code> state).</p>"
          }
        },
        "statusReason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short, human-readable string to provide additional details about the current status of the job attempt.</p>"
          }
        },
        "stoppedAt": {
          "target": "com.amazonaws.batch#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp (in seconds and milliseconds) for when the attempt was stopped (when the attempt transitioned\n   from the <code>RUNNING</code> state to a terminal state, such as <code>SUCCEEDED</code> or\n   <code>FAILED</code>).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing a job attempt.</p>"
      }
    },
    "com.amazonaws.batch#AttemptDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#AttemptDetail"
      }
    },
    "com.amazonaws.batch#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.batch#CEState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.batch#CEStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          },
          {
            "value": "VALID",
            "name": "VALID"
          },
          {
            "value": "INVALID",
            "name": "INVALID"
          }
        ]
      }
    },
    "com.amazonaws.batch#CEType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MANAGED",
            "name": "MANAGED"
          },
          {
            "value": "UNMANAGED",
            "name": "UNMANAGED"
          }
        ]
      }
    },
    "com.amazonaws.batch#CRAllocationStrategy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BEST_FIT",
            "name": "BEST_FIT"
          },
          {
            "value": "BEST_FIT_PROGRESSIVE",
            "name": "BEST_FIT_PROGRESSIVE"
          },
          {
            "value": "SPOT_CAPACITY_OPTIMIZED",
            "name": "SPOT_CAPACITY_OPTIMIZED"
          }
        ]
      }
    },
    "com.amazonaws.batch#CRType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EC2",
            "name": "EC2"
          },
          {
            "value": "SPOT",
            "name": "SPOT"
          }
        ]
      }
    },
    "com.amazonaws.batch#CancelJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#CancelJobRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#CancelJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a job in an AWS Batch job queue. Jobs that are in the <code>SUBMITTED</code>, <code>PENDING</code>, or\n    <code>RUNNABLE</code> state are cancelled. Jobs that have progressed to <code>STARTING</code> or\n    <code>RUNNING</code> are not cancelled (but the API operation still succeeds, even if no job is cancelled); these\n   jobs must be terminated with the <a>TerminateJob</a> operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/canceljob",
          "code": 200
        }
      }
    },
    "com.amazonaws.batch#CancelJobRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Batch job ID of the job to cancel.</p>",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A message to attach to the job that explains the reason for canceling it. This message is returned by future\n    <a>DescribeJobs</a> operations on the job. This message is also recorded in the AWS Batch activity\n   logs.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.batch#CancelJobResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.batch#ClientException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.batch#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that\n   doesn't have permissions to use the action or resource, or specifying an identifier that is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.batch#ComputeEnvironmentDetail": {
      "type": "structure",
      "members": {
        "computeEnvironmentArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the compute environment.</p>",
            "smithy.api#required": {}
          }
        },
        "computeEnvironmentName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the compute environment.</p>",
            "smithy.api#required": {}
          }
        },
        "computeResources": {
          "target": "com.amazonaws.batch#ComputeResource",
          "traits": {
            "smithy.api#documentation": "<p>The compute resources defined for the compute environment.</p>"
          }
        },
        "ecsClusterArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the underlying Amazon ECS cluster used by the compute environment.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceRole": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The service role associated with the compute environment that allows AWS Batch to make calls to AWS API\n   operations on your behalf.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.batch#CEState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the compute environment. The valid values are <code>ENABLED</code> or <code>DISABLED</code>.</p>\n         <p>If the state is <code>ENABLED</code>, then the AWS Batch scheduler can attempt to place jobs from an associated\n   job queue on the compute resources within the environment. If the compute environment is managed, then it can scale\n   its instances out or in automatically, based on the job queue demand.</p>\n         <p>If the state is <code>DISABLED</code>, then the AWS Batch scheduler does not attempt to place jobs within the\n   environment. Jobs in a <code>STARTING</code> or <code>RUNNING</code> state continue to progress normally. Managed\n   compute environments in the <code>DISABLED</code> state do not scale out. However, they scale in to\n    <code>minvCpus</code> value after instances become idle.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.batch#CEStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the compute environment (for example, <code>CREATING</code> or <code>VALID</code>).</p>"
          }
        },
        "statusReason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short, human-readable string to provide additional details about the current status of the compute\n   environment.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.batch#CEType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the compute environment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing an AWS Batch compute environment.</p>"
      }
    },
    "com.amazonaws.batch#ComputeEnvironmentDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#ComputeEnvironmentDetail"
      }
    },
    "com.amazonaws.batch#ComputeEnvironmentOrder": {
      "type": "structure",
      "members": {
        "computeEnvironment": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the compute environment.</p>",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The order of the compute environment.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The order in which compute environments are tried for job placement within a queue. Compute environments are\n   tried in ascending order. For example, if two compute environments are associated with a job queue, the compute\n   environment with a lower order integer value is tried for job placement first.</p>"
      }
    },
    "com.amazonaws.batch#ComputeEnvironmentOrders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#ComputeEnvironmentOrder"
      }
    },
    "com.amazonaws.batch#ComputeResource": {
      "type": "structure",
      "members": {
        "allocationStrategy": {
          "target": "com.amazonaws.batch#CRAllocationStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The allocation strategy to use for the compute resource in case not enough instances of the best fitting\n   instance type can be allocated. This could be due to availability of the instance type in the region or <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-resource-limits.html\">Amazon EC2 service limits</a>. If this is\n   not specified, the default is <code>BEST_FIT</code>, which will use only the best fitting instance type, waiting for\n   additional capacity if it's not available. This allocation strategy keeps costs lower but can limit scaling. If you\n   are using Spot Fleets with <code>BEST_FIT</code> then the Spot Fleet IAM Role must be specified.\n    <code>BEST_FIT_PROGRESSIVE</code> will select additional instance types that are large enough to meet the\n   requirements of the jobs in the queue, with a preference for instance types with a lower cost per vCPU.\n    <code>SPOT_CAPACITY_OPTIMIZED</code> is only available for Spot Instance compute resources and will select\n   additional instance types that are large enough to meet the requirements of the jobs in the queue, with a preference\n   for instance types that are less likely to be interrupted. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/allocation-strategies.html \">Allocation Strategies</a> in the\n    <i>AWS Batch User Guide</i>.</p>"
          }
        },
        "bidPercentage": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum percentage that a Spot Instance price can be when compared with the On-Demand price for that\n   instance type before instances are launched. For example, if your maximum percentage is 20%, then the Spot price must\n   be below 20% of the current On-Demand price for that Amazon EC2 instance. You always pay the lowest (market) price and\n   never more than your maximum percentage. If you leave this field empty, the default value is 100% of the On-Demand\n   price.</p>"
          }
        },
        "desiredvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The desired number of Amazon EC2 vCPUS in the compute environment.</p>"
          }
        },
        "ec2KeyPair": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 key pair that is used for instances launched in the compute environment.</p>"
          }
        },
        "imageId": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Machine Image (AMI) ID used for instances launched in the compute environment.</p>"
          }
        },
        "instanceRole": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon ECS instance profile applied to Amazon EC2 instances in a compute environment. You can specify the short name\n   or full Amazon Resource Name (ARN) of an instance profile. For example,\n    <code>\n               <i>ecsInstanceRole</i>\n            </code> or\n     <code>arn:aws:iam::<i><aws_account_id></i>:instance-profile/<i>ecsInstanceRole</i>\n            </code>.\n   For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/instance_IAM_role.html\">Amazon ECS Instance\n    Role</a> in the <i>AWS Batch User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "instanceTypes": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The instances types that may be launched. You can specify instance families to launch any instance type within\n   those families (for example, <code>c5</code> or <code>p3</code>), or you can specify specific sizes within a family\n   (such as <code>c5.8xlarge</code>). You can also choose <code>optimal</code> to pick instance types (from the C, M,\n   and R instance families) on the fly that match the demand of your job queues.</p>",
            "smithy.api#required": {}
          }
        },
        "launchTemplate": {
          "target": "com.amazonaws.batch#LaunchTemplateSpecification",
          "traits": {
            "smithy.api#documentation": "<p>The launch template to use for your compute resources. Any other compute resource parameters that you specify in\n   a <a>CreateComputeEnvironment</a> API operation override the same parameters in the launch template. You\n   must specify either the launch template ID or launch template name in the request, but not both. For more\n   information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/launch-templates.html\">Launch Template\n    Support</a> in the <i>AWS Batch User Guide</i>.</p>"
          }
        },
        "maxvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of Amazon EC2 vCPUs that an environment can reach.</p>",
            "smithy.api#required": {}
          }
        },
        "minvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of Amazon EC2 vCPUs that an environment should maintain (even if the compute environment is\n    <code>DISABLED</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "placementGroup": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 placement group to associate with your compute resources. If you intend to submit multi-node parallel\n   jobs to your compute environment, you should consider creating a cluster placement group and associate it with your\n   compute resources. This keeps your multi-node parallel job on a logical grouping of instances within a single\n   Availability Zone with high network flow potential. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html\">Placement Groups</a> in the <i>Amazon EC2 User Guide for\n    Linux Instances</i>.</p>"
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 security groups associated with instances launched in the compute environment. One or more security\n   groups must be specified, either in <code>securityGroupIds</code> or using a launch template referenced in\n    <code>launchTemplate</code>. If security groups are specified using both <code>securityGroupIds</code> and\n    <code>launchTemplate</code>, the values in <code>securityGroupIds</code> will be used.</p>"
          }
        },
        "spotIamFleetRole": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon EC2 Spot Fleet IAM role applied to a <code>SPOT</code> compute environment.\n   This role is required if the allocation\n   strategy set to <code>BEST_FIT</code> or if the allocation strategy is not specified. For more\n   information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/spot_fleet_IAM_role.html\">Amazon EC2 Spot Fleet\n    Role</a> in the <i>AWS Batch User Guide</i>.</p>"
          }
        },
        "subnets": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The VPC subnets into which the compute resources are launched. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html\">VPCs and Subnets</a> in the <i>Amazon\n    VPC User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.batch#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pair tags to be applied to resources that are launched in the compute environment. For AWS Batch, these\n   take the form of \"String1\": \"String2\", where String1 is the tag key and String2 is the tag value—for example, {\n   \"Name\": \"AWS Batch Instance - C4OnDemand\" }.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.batch#CRType",
          "traits": {
            "smithy.api#documentation": "<p>The type of compute environment: <code>EC2</code> or <code>SPOT</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing an AWS Batch compute resource.</p>"
      }
    },
    "com.amazonaws.batch#ComputeResourceUpdate": {
      "type": "structure",
      "members": {
        "desiredvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The desired number of Amazon EC2 vCPUS in the compute environment.</p>"
          }
        },
        "maxvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of Amazon EC2 vCPUs that an environment can reach.</p>"
          }
        },
        "minvCpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of Amazon EC2 vCPUs that an environment should maintain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the attributes of a compute environment that can be updated.</p>"
      }
    },
    "com.amazonaws.batch#ContainerDetail": {
      "type": "structure",
      "members": {
        "command": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The command that is passed to the container.</p>"
          }
        },
        "containerInstanceArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container instance on which the container is running.</p>"
          }
        },
        "environment": {
          "target": "com.amazonaws.batch#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>The environment variables to pass to a container.</p>\n         <note>\n            <p>Environment variables must not start with <code>AWS_BATCH</code>; this naming convention is reserved for variables that are set by the AWS Batch service.</p>\n         </note>"
          }
        },
        "exitCode": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The exit code to return upon completion.</p>"
          }
        },
        "image": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The image used to start the container.</p>"
          }
        },
        "instanceType": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The instance type of the underlying host infrastructure of a multi-node parallel job.</p>"
          }
        },
        "jobRoleArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) associated with the job upon execution.</p>"
          }
        },
        "linuxParameters": {
          "target": "com.amazonaws.batch#LinuxParameters",
          "traits": {
            "smithy.api#documentation": "<p>Linux-specific modifications that are applied to the container, such as details for device mappings.</p>"
          }
        },
        "logStreamName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch Logs log stream associated with the container. The log group for AWS Batch jobs is\n    <code>/aws/batch/job</code>. Each container attempt receives a log stream name when they reach the\n    <code>RUNNING</code> status.</p>"
          }
        },
        "memory": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of MiB of memory reserved for the job.</p>"
          }
        },
        "mountPoints": {
          "target": "com.amazonaws.batch#MountPoints",
          "traits": {
            "smithy.api#documentation": "<p>The mount points for data volumes in your container.</p>"
          }
        },
        "networkInterfaces": {
          "target": "com.amazonaws.batch#NetworkInterfaceList",
          "traits": {
            "smithy.api#documentation": "<p>The network interfaces associated with the job.</p>"
          }
        },
        "privileged": {
          "target": "com.amazonaws.batch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When this parameter is true, the container is given elevated privileges on the host container instance (similar\n   to the <code>root</code> user).</p>"
          }
        },
        "readonlyRootFilesystem": {
          "target": "com.amazonaws.batch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When this parameter is true, the container is given read-only access to its root file system.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short (255 max characters) human-readable string to provide additional details about a running or stopped\n   container.</p>"
          }
        },
        "resourceRequirements": {
          "target": "com.amazonaws.batch#ResourceRequirements",
          "traits": {
            "smithy.api#documentation": "<p>The type and amount of a resource to assign to a container. Currently, the only supported resource is\n    <code>GPU</code>.</p>"
          }
        },
        "taskArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon ECS task that is associated with the container job. Each container attempt receives a\n   task ARN when they reach the <code>STARTING</code> status.</p>"
          }
        },
        "ulimits": {
          "target": "com.amazonaws.batch#Ulimits",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>ulimit</code> values to set in the container.</p>"
          }
        },
        "user": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The user name to use inside the container.</p>"
          }
        },
        "vcpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of VCPUs allocated for the job.</p>"
          }
        },
        "volumes": {
          "target": "com.amazonaws.batch#Volumes",
          "traits": {
            "smithy.api#documentation": "<p>A list of volumes associated with the job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the details of a container that is part of a job.</p>"
      }
    },
    "com.amazonaws.batch#ContainerOverrides": {
      "type": "structure",
      "members": {
        "command": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The command to send to the container that overrides the default command from the Docker image or the job\n   definition.</p>"
          }
        },
        "environment": {
          "target": "com.amazonaws.batch#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>The environment variables to send to the container. You can add new environment variables, which are added to\n   the container at launch, or you can override the existing environment variables from the Docker image or the job\n   definition.</p>\n         <note>\n            <p>Environment variables must not start with <code>AWS_BATCH</code>; this naming convention is reserved for variables that are set by the AWS Batch service.</p>\n         </note>"
          }
        },
        "instanceType": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The instance type to use for a multi-node parallel job. This parameter is not valid for single-node container\n   jobs.</p>"
          }
        },
        "memory": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of MiB of memory reserved for the job. This value overrides the value set in the job\n   definition.</p>"
          }
        },
        "resourceRequirements": {
          "target": "com.amazonaws.batch#ResourceRequirements",
          "traits": {
            "smithy.api#documentation": "<p>The type and amount of a resource to assign to a container. This value overrides the value set in the job\n   definition. Currently, the only supported resource is <code>GPU</code>.</p>"
          }
        },
        "vcpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of vCPUs to reserve for the container. This value overrides the value set in the job\n   definition.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The overrides that should be sent to a container.</p>"
      }
    },
    "com.amazonaws.batch#ContainerProperties": {
      "type": "structure",
      "members": {
        "command": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The command that is passed to the container. This parameter maps to <code>Cmd</code> in the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>COMMAND</code> parameter to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. For more information, see <a href=\"https://docs.docker.com/engine/reference/builder/#cmd\">https://docs.docker.com/engine/reference/builder/#cmd</a>.</p>"
          }
        },
        "environment": {
          "target": "com.amazonaws.batch#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>The environment variables to pass to a container. This parameter maps to <code>Env</code> in the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--env</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>\n         <important>\n            <p>We do not recommend using plaintext environment variables for sensitive information, such as credential\n    data.</p>\n         </important>\n         <note>\n            <p>Environment variables must not start with <code>AWS_BATCH</code>; this naming convention is reserved for variables that are set by the AWS Batch service.</p>\n         </note>"
          }
        },
        "image": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The image used to start a container. This string is passed directly to the Docker daemon. Images in the Docker\n   Hub registry are available by default. Other repositories are specified with\n     <code>\n               <i>repository-url</i>/<i>image</i>:<i>tag</i>\n            </code>.\n   Up to 255 letters (uppercase and lowercase), numbers, hyphens, underscores, colons, periods, forward slashes, and number signs are allowed. This parameter maps to <code>Image</code> in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of\n   the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>IMAGE</code> parameter of <a href=\"https://docs.docker.com/engine/reference/run/\">docker\n   run</a>.</p>\n         <ul>\n            <li>\n               <p>Images in Amazon ECR repositories use the full registry and repository URI (for example,\n      <code>012345678910.dkr.ecr.<region-name>.amazonaws.com/<repository-name></code>).</p>\n            </li>\n            <li>\n               <p>Images in official repositories on Docker Hub use a single name (for example, <code>ubuntu</code> or\n      <code>mongo</code>).</p>\n            </li>\n            <li>\n               <p>Images in other repositories on Docker Hub are qualified with an organization name (for example,\n      <code>amazon/amazon-ecs-agent</code>).</p>\n            </li>\n            <li>\n               <p>Images in other online repositories are qualified further by a domain name (for example,\n      <code>quay.io/assemblyline/ubuntu</code>).</p>\n            </li>\n         </ul>"
          }
        },
        "instanceType": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The instance type to use for a multi-node parallel job. Currently all node groups in a multi-node parallel job\n   must use the same instance type. This parameter is not valid for single-node container jobs.</p>"
          }
        },
        "jobRoleArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that the container can assume for AWS permissions.</p>"
          }
        },
        "linuxParameters": {
          "target": "com.amazonaws.batch#LinuxParameters",
          "traits": {
            "smithy.api#documentation": "<p>Linux-specific modifications that are applied to the container, such as details for device mappings.</p>"
          }
        },
        "memory": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The hard limit (in MiB) of memory to present to the container. If your container attempts to exceed the memory\n   specified here, the container is killed. This parameter maps to <code>Memory</code> in the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--memory</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. You must specify at least 4 MiB of memory for a job.</p>\n         <note>\n            <p>If you are trying to maximize your resource utilization by providing your jobs as much memory as possible for a\n    particular instance type, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/memory-management.html\">Memory\n     Management</a> in the <i>AWS Batch User Guide</i>.</p>\n         </note>"
          }
        },
        "mountPoints": {
          "target": "com.amazonaws.batch#MountPoints",
          "traits": {
            "smithy.api#documentation": "<p>The mount points for data volumes in your container. This parameter maps to <code>Volumes</code> in the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--volume</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>"
          }
        },
        "privileged": {
          "target": "com.amazonaws.batch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When this parameter is true, the container is given elevated privileges on the host container instance (similar\n   to the <code>root</code> user). This parameter maps to <code>Privileged</code> in the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--privileged</code> option to\n    <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>"
          }
        },
        "readonlyRootFilesystem": {
          "target": "com.amazonaws.batch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When this parameter is true, the container is given read-only access to its root file system. This parameter\n   maps to <code>ReadonlyRootfs</code> in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and\n   the <code>--read-only</code> option to <code>docker run</code>.</p>"
          }
        },
        "resourceRequirements": {
          "target": "com.amazonaws.batch#ResourceRequirements",
          "traits": {
            "smithy.api#documentation": "<p>The type and amount of a resource to assign to a container. Currently, the only supported resource is\n    <code>GPU</code>.</p>"
          }
        },
        "ulimits": {
          "target": "com.amazonaws.batch#Ulimits",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>ulimits</code> to set in the container. This parameter maps to <code>Ulimits</code> in the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--ulimit</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>"
          }
        },
        "user": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The user name to use inside the container. This parameter maps to <code>User</code> in the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--user</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>"
          }
        },
        "vcpus": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of vCPUs reserved for the container. This parameter maps to <code>CpuShares</code> in the\n   <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--cpu-shares</code> option to\n    <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. Each vCPU is equivalent to 1,024 CPU shares. You must\n   specify at least one vCPU.</p>"
          }
        },
        "volumes": {
          "target": "com.amazonaws.batch#Volumes",
          "traits": {
            "smithy.api#documentation": "<p>A list of data volumes used in a job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container properties are used in job definitions to describe the container that is launched as part of a\n   job.</p>"
      }
    },
    "com.amazonaws.batch#ContainerSummary": {
      "type": "structure",
      "members": {
        "exitCode": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The exit code to return upon completion.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short (255 max characters) human-readable string to provide additional details about a running or stopped\n   container.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing summary details of a container within a job.</p>"
      }
    },
    "com.amazonaws.batch#CreateComputeEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#CreateComputeEnvironmentRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#CreateComputeEnvironmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an AWS Batch compute environment. You can create <code>MANAGED</code> or <code>UNMANAGED</code> compute\n   environments.</p>\n         <p>In a managed compute environment, AWS Batch manages the capacity and instance types of the compute resources\n   within the environment. This is based on the compute resource specification that you define or the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-launch-templates.html\">launch template</a> that you\n   specify when you create the compute environment. You can choose to use Amazon EC2 On-Demand Instances or Spot Instances in\n   your managed compute environment. You can optionally set a maximum price so that Spot Instances only launch when the\n   Spot Instance price is below a specified percentage of the On-Demand price.</p>\n         <note>\n            <p>Multi-node parallel jobs are not supported on Spot Instances.</p>\n         </note>\n         <p>In an unmanaged compute environment, you can manage your own compute resources. This provides more compute\n   resource configuration options, such as using a custom AMI, but you must ensure that your AMI meets the Amazon ECS\n   container instance AMI specification. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/container_instance_AMIs.html\">Container Instance AMIs</a> in the\n    <i>Amazon Elastic Container Service Developer Guide</i>. After you have created your unmanaged compute environment, you can use the\n    <a>DescribeComputeEnvironments</a> operation to find the Amazon ECS cluster that is associated with it. Then,\n   manually launch your container instances into that Amazon ECS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/launch_container_instance.html\">Launching an Amazon ECS\n    Container Instance</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n         <note>\n            <p>AWS Batch does not upgrade the AMIs in a compute environment after it is created (for example, when a newer\n    version of the Amazon ECS-optimized AMI is available). You are responsible for the management of the guest operating\n    system (including updates and security patches) and any additional application software or utilities that you\n    install on the compute resources. To use a new AMI for your AWS Batch jobs:</p>\n            <ol>\n               <li>\n                  <p>Create a new compute environment with the new AMI.</p>\n               </li>\n               <li>\n                  <p>Add the compute environment to an existing job queue.</p>\n               </li>\n               <li>\n                  <p>Remove the old compute environment from your job queue.</p>\n               </li>\n               <li>\n                  <p>Delete the old compute environment.</p>\n               </li>\n            </ol>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/createcomputeenvironment",
          "code": 200
        }
      }
    },
    "com.amazonaws.batch#CreateComputeEnvironmentRequest": {
      "type": "structure",
      "members": {
        "computeEnvironmentName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name for your compute environment. Up to 128 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed.</p>",
            "smithy.api#required": {}
          }
        },
        "computeResources": {
          "target": "com.amazonaws.batch#ComputeResource",
          "traits": {
            "smithy.api#documentation": "<p>Details of the compute resources managed by the compute environment. This parameter is required for managed\n   compute environments. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute Environments</a> in the\n    <i>AWS Batch User Guide</i>.</p>"
          }
        },
        "serviceRole": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The full Amazon Resource Name (ARN) of the IAM role that allows AWS Batch to make calls to other AWS services on your\n   behalf.</p>\n         <p>If your specified role has a path other than <code>/</code>, then you must either specify the full role ARN\n   (this is recommended) or prefix the role name with the path.</p>\n         <note>\n            <p>Depending on how you created your AWS Batch service role, its ARN may contain the <code>service-role</code> path\n    prefix. When you only specify the name of the service role, AWS Batch assumes that your ARN does not use the\n     <code>service-role</code> path prefix. Because of this, we recommend that you specify the full ARN of your service\n    role when you create compute environments.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.batch#CEState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the compute environment. If the state is <code>ENABLED</code>, then the compute environment accepts\n   jobs from a queue and can scale out automatically based on queues.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.batch#CEType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute Environments</a> in the\n    <i>AWS Batch User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.batch#CreateComputeEnvironmentResponse": {
      "type": "structure",
      "members": {
        "computeEnvironmentArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the compute environment.</p>"
          }
        },
        "computeEnvironmentName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the compute environment.</p>"
          }
        }
      }
    },
    "com.amazonaws.batch#CreateJobQueue": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#CreateJobQueueRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#CreateJobQueueResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an AWS Batch job queue. When you create a job queue, you associate one or more compute environments to the\n   queue and assign an order of preference for the compute environments.</p>\n         <p>You also set a priority to the job queue that determines the order in which the AWS Batch scheduler places jobs\n   onto its associated compute environments. For example, if a compute environment is associated with more than one job\n   queue, the job queue with a higher priority is given preference for scheduling jobs to that compute\n   environment.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/createjobqueue",
          "code": 200
        }
      }
    },
    "com.amazonaws.batch#CreateJobQueueRequest": {
      "type": "structure",
      "members": {
        "computeEnvironmentOrder": {
          "target": "com.amazonaws.batch#ComputeEnvironmentOrders",
          "traits": {
            "smithy.api#documentation": "<p>The set of compute environments mapped to a job queue and their order relative to each other. The job scheduler\n   uses this parameter to determine which compute environment should execute a given job. Compute environments must be\n   in the <code>VALID</code> state before you can associate them with a job queue. You can associate up to three compute\n   environments with a job queue.</p>",
            "smithy.api#required": {}
          }
        },
        "jobQueueName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job queue.</p>",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The priority of the job queue. Job queues with a higher priority (or a higher integer value for the\n    <code>priority</code> parameter) are evaluated first when associated with the same compute environment. Priority is\n   determined in descending order, for example, a job queue with a priority value of <code>10</code> is given scheduling\n   preference over a job queue with a priority value of <code>1</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.batch#JQState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the job queue. If the job queue state is <code>ENABLED</code>, it is able to accept jobs.</p>"
          }
        }
      }
    },
    "com.amazonaws.batch#CreateJobQueueResponse": {
      "type": "structure",
      "members": {
        "jobQueueArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the job queue.</p>",
            "smithy.api#required": {}
          }
        },
        "jobQueueName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job queue.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.batch#DeleteComputeEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#DeleteComputeEnvironmentRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#DeleteComputeEnvironmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an AWS Batch compute environment.</p>\n         <p>Before you can delete a compute environment, you must set its state to <code>DISABLED</code> with the <a>UpdateComputeEnvironment</a> API operation and disassociate it from any job queues with the <a>UpdateJobQueue</a> API operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/deletecomputeenvironment",
          "code": 200
        }
      }
    },
    "com.amazonaws.batch#DeleteComputeEnvironmentRequest": {
      "type": "structure",
      "members": {
        "computeEnvironment": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name or Amazon Resource Name (ARN) of the compute environment to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.batch#DeleteComputeEnvironmentResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.batch#DeleteJobQueue": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#DeleteJobQueueRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#DeleteJobQueueResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified job queue. You must first disable submissions for a queue with the <a>UpdateJobQueue</a> operation. All jobs in the queue are terminated when you delete a job queue.</p>\n         <p>It is not necessary to disassociate compute environments from a queue before submitting a\n    <code>DeleteJobQueue</code> request.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/deletejobqueue",
          "code": 200
        }
      }
    },
    "com.amazonaws.batch#DeleteJobQueueRequest": {
      "type": "structure",
      "members": {
        "jobQueue": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The short name or full Amazon Resource Name (ARN) of the queue to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.batch#DeleteJobQueueResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.batch#DeregisterJobDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#DeregisterJobDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#DeregisterJobDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deregisters an AWS Batch job definition.\n      Job definitions will be permanently deleted after 180 days.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/deregisterjobdefinition",
          "code": 200
        }
      }
    },
    "com.amazonaws.batch#DeregisterJobDefinitionRequest": {
      "type": "structure",
      "members": {
        "jobDefinition": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name and revision (<code>name:revision</code>) or full Amazon Resource Name (ARN) of the job definition to deregister.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.batch#DeregisterJobDefinitionResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.batch#DescribeComputeEnvironments": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#DescribeComputeEnvironmentsRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#DescribeComputeEnvironmentsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes one or more of your compute environments.</p>\n         <p>If you are using an unmanaged compute environment, you can use the <code>DescribeComputeEnvironment</code>\n   operation to determine the <code>ecsClusterArn</code> that you should launch your Amazon ECS container instances\n   into.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/describecomputeenvironments",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.batch#DescribeComputeEnvironmentsRequest": {
      "type": "structure",
      "members": {
        "computeEnvironments": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 100 compute environment names or full Amazon Resource Name (ARN) entries.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of cluster results returned by <code>DescribeComputeEnvironments</code> in paginated output.\n   When this parameter is used, <code>DescribeComputeEnvironments</code> only returns <code>maxResults</code> results in\n   a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can\n   be seen by sending another <code>DescribeComputeEnvironments</code> request with the returned <code>nextToken</code>\n   value. This value can be between 1 and 100. If this parameter is not used, then\n    <code>DescribeComputeEnvironments</code> returns up to 100 results and a <code>nextToken</code>\n   value if applicable.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeComputeEnvironments</code>\n   request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination\n   continues from the end of the previous results that returned the <code>nextToken</code> value. This value is\n    <code>null</code> when there are no more results to return.</p>\n         <note>\n            <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.batch#DescribeComputeEnvironmentsResponse": {
      "type": "structure",
      "members": {
        "computeEnvironments": {
          "target": "com.amazonaws.batch#ComputeEnvironmentDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The list of compute environments.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value to include in a future <code>DescribeComputeEnvironments</code> request. When\n   the results of a <code>DescribeJobDefinitions</code> request exceed <code>maxResults</code>, this value can be used\n   to retrieve the next page of results. This value is <code>null</code> when there are no more results to\n   return.</p>"
          }
        }
      }
    },
    "com.amazonaws.batch#DescribeJobDefinitions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#DescribeJobDefinitionsRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#DescribeJobDefinitionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a list of job definitions. You can specify a <code>status</code> (such as <code>ACTIVE</code>) to only\n   return job definitions that match that status.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/describejobdefinitions",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.batch#DescribeJobDefinitionsRequest": {
      "type": "structure",
      "members": {
        "jobDefinitionName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job definition to describe.</p>"
          }
        },
        "jobDefinitions": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 100 job definition names or full Amazon Resource Name (ARN) entries.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results returned by <code>DescribeJobDefinitions</code> in paginated output. When this\n   parameter is used, <code>DescribeJobDefinitions</code> only returns <code>maxResults</code> results in a single page\n   along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by\n   sending another <code>DescribeJobDefinitions</code> request with the returned <code>nextToken</code> value. This\n   value can be between 1 and 100. If this parameter is not used, then\n    <code>DescribeJobDefinitions</code> returns up to 100 results and a <code>nextToken</code> value\n   if applicable.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeJobDefinitions</code> request\n   where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues\n   from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code>\n   when there are no more results to return.</p>\n         <note>\n            <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p>\n         </note>"
          }
        },
        "status": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The status with which to filter job definitions.</p>"
          }
        }
      }
    },
    "com.amazonaws.batch#DescribeJobDefinitionsResponse": {
      "type": "structure",
      "members": {
        "jobDefinitions": {
          "target": "com.amazonaws.batch#JobDefinitionList",
          "traits": {
            "smithy.api#documentation": "<p>The list of job definitions.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value to include in a future <code>DescribeJobDefinitions</code> request. When the\n   results of a <code>DescribeJobDefinitions</code> request exceed <code>maxResults</code>, this value can be used to\n   retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.batch#DescribeJobQueues": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#DescribeJobQueuesRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#DescribeJobQueuesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes one or more of your job queues.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/describejobqueues",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.batch#DescribeJobQueuesRequest": {
      "type": "structure",
      "members": {
        "jobQueues": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 100 queue names or full queue Amazon Resource Name (ARN) entries.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results returned by <code>DescribeJobQueues</code> in paginated output. When this\n   parameter is used, <code>DescribeJobQueues</code> only returns <code>maxResults</code> results in a single page along\n   with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending\n   another <code>DescribeJobQueues</code> request with the returned <code>nextToken</code> value. This value can be\n   between 1 and 100. If this parameter is not used, then <code>DescribeJobQueues</code>\n   returns up to 100 results and a <code>nextToken</code> value if applicable.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeJobQueues</code> request where\n    <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the\n   end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when\n   there are no more results to return.</p>\n         <note>\n            <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.batch#DescribeJobQueuesResponse": {
      "type": "structure",
      "members": {
        "jobQueues": {
          "target": "com.amazonaws.batch#JobQueueDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The list of job queues.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value to include in a future <code>DescribeJobQueues</code> request. When the results\n   of a <code>DescribeJobQueues</code> request exceed <code>maxResults</code>, this value can be used to retrieve the\n   next page of results. This value is <code>null</code> when there are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.batch#DescribeJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.batch#DescribeJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.batch#DescribeJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.batch#ClientException"
        },
        {
          "target": "com.amazonaws.batch#ServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a list of AWS Batch jobs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/describejobs",
          "code": 200
        }
      }
    },
    "com.amazonaws.batch#DescribeJobsRequest": {
      "type": "structure",
      "members": {
        "jobs": {
          "target": "com.amazonaws.batch#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 100 job IDs.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.batch#DescribeJobsResponse": {
      "type": "structure",
      "members": {
        "jobs": {
          "target": "com.amazonaws.batch#JobDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The list of jobs.</p>"
          }
        }
      }
    },
    "com.amazonaws.batch#Device": {
      "type": "structure",
      "members": {
        "containerPath": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The path inside the container at which to expose the host device. By default the <code>hostPath</code> value is\n   used.</p>"
          }
        },
        "hostPath": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The path for the device on the host container instance.</p>",
            "smithy.api#required": {}
          }
        },
        "permissions": {
          "target": "com.amazonaws.batch#DeviceCgroupPermissions",
          "traits": {
            "smithy.api#documentation": "<p>The explicit permissions to provide to the container for the device. By default, the container has permissions\n   for <code>read</code>, <code>write</code>, and <code>mknod</code> for the device.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing a container instance host device.</p>"
      }
    },
    "com.amazonaws.batch#DeviceCgroupPermission": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "READ",
            "name": "READ"
          },
          {
            "value": "WRITE",
            "name": "WRITE"
          },
          {
            "value": "MKNOD",
            "name": "MKNOD"
          }
        ]
      }
    },
    "com.amazonaws.batch#DeviceCgroupPermissions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#DeviceCgroupPermission"
      }
    },
    "com.amazonaws.batch#DevicesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#Device"
      }
    },
    "com.amazonaws.batch#EnvironmentVariables": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#KeyValuePair"
      }
    },
    "com.amazonaws.batch#Host": {
      "type": "structure",
      "members": {
        "sourcePath": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The path on the host container instance that is presented to the container. If this parameter is empty, then the\n   Docker daemon has assigned a host path for you. If this parameter contains a file location, then the data volume\n   persists at the specified location on the host container instance until you delete it manually. If the source path\n   location does not exist on the host container instance, the Docker daemon creates it. If the location does exist, the\n   contents of the source path folder are exported.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Determine whether your data volume persists on the host container instance and where it is stored. If this\n   parameter is empty, then the Docker daemon assigns a host path for your data volume, but the data is not guaranteed\n   to persist after the containers associated with it stop running.</p>"
      }
    },
    "com.amazonaws.batch#Integer": {
      "type": "integer"
    },
    "com.amazonaws.batch#JQState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.batch#JQStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          },
          {
            "value": "VALID",
            "name": "VALID"
          },
          {
            "value": "INVALID",
            "name": "INVALID"
          }
        ]
      }
    },
    "com.amazonaws.batch#JobDefinition": {
      "type": "structure",
      "members": {
        "containerProperties": {
          "target": "com.amazonaws.batch#ContainerProperties",
          "traits": {
            "smithy.api#documentation": "<p>An object with various properties specific to container-based jobs.</p>"
          }
        },
        "jobDefinitionArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the job definition.</p>",
            "smithy.api#required": {}
          }
        },
        "jobDefinitionName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job definition.</p>",
            "smithy.api#required": {}
          }
        },
        "nodeProperties": {
          "target": "com.amazonaws.batch#NodeProperties",
          "traits": {
            "smithy.api#documentation": "<p>An object with various properties specific to multi-node parallel jobs.</p>"
          }
        },
        "parameters": {
          "target": "com.amazonaws.batch#ParametersMap",
          "traits": {
            "smithy.api#documentation": "<p>Default parameters or parameter substitution placeholders that are set in the job definition. Parameters are\n   specified as a key-value pair mapping. Parameters in a <code>SubmitJob</code> request override any corresponding\n   parameter defaults from the job definition. For more information about specifying parameters, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/job_definition_parameters.html\">Job Definition Parameters</a>\n   in the <i>AWS Batch User Guide</i>.</p>"
          }
        },
        "retryStrategy": {
          "target": "com.amazonaws.batch#RetryStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The retry strategy to use for failed jobs that are submitted with this job definition.</p>"
          }
        },
        "revision": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the job definition.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the job definition.</p>"
          }
        },
        "timeout": {
          "target": "com.amazonaws.batch#JobTimeout",
          "traits": {
            "smithy.api#documentation": "<p>The timeout configuration for jobs that are submitted with this job definition. You can specify a timeout\n   duration after which AWS Batch terminates your jobs if they have not finished.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of job definition.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing an AWS Batch job definition.</p>"
      }
    },
    "com.amazonaws.batch#JobDefinitionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#JobDefinition"
      }
    },
    "com.amazonaws.batch#JobDefinitionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "container",
            "name": "Container"
          },
          {
            "value": "multinode",
            "name": "Multinode"
          }
        ]
      }
    },
    "com.amazonaws.batch#JobDependency": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The job ID of the AWS Batch job associated with this dependency.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.batch#ArrayJobDependency",
          "traits": {
            "smithy.api#documentation": "<p>The type of the job dependency.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing an AWS Batch job dependency.</p>"
      }
    },
    "com.amazonaws.batch#JobDependencyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#JobDependency"
      }
    },
    "com.amazonaws.batch#JobDetail": {
      "type": "structure",
      "members": {
        "arrayProperties": {
          "target": "com.amazonaws.batch#ArrayPropertiesDetail",
          "traits": {
            "smithy.api#documentation": "<p>The array properties of the job, if it is an array job.</p>"
          }
        },
        "attempts": {
          "target": "com.amazonaws.batch#AttemptDetails",
          "traits": {
            "smithy.api#documentation": "<p>A list of job attempts associated with this job.</p>"
          }
        },
        "container": {
          "target": "com.amazonaws.batch#ContainerDetail",
          "traits": {
            "smithy.api#documentation": "<p>An object representing the details of the container that is associated with the job.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.batch#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp (in seconds and milliseconds) for when the job was created. For non-array jobs and parent\n   array jobs, this is when the job entered the <code>SUBMITTED</code> state (at the time <a>SubmitJob</a>\n   was called). For array child jobs, this is when the child job was spawned by its parent and entered the\n    <code>PENDING</code> state.</p>"
          }
        },
        "dependsOn": {
          "target": "com.amazonaws.batch#JobDependencyList",
          "traits": {
            "smithy.api#documentation": "<p>A list of job IDs on which this job depends.</p>"
          }
        },
        "jobDefinition": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The job definition that is used by this job.</p>",
            "smithy.api#required": {}
          }
        },
        "jobId": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the job.</p>",
            "smithy.api#required": {}
          }
        },
        "jobName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job.</p>",
            "smithy.api#required": {}
          }
        },
        "jobQueue": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the job queue with which the job is associated.</p>",
            "smithy.api#required": {}
          }
        },
        "nodeDetails": {
          "target": "com.amazonaws.batch#NodeDetails",
          "traits": {
            "smithy.api#documentation": "<p>An object representing the details of a node that is associated with a multi-node parallel job.</p>"
          }
        },
        "nodeProperties": {
          "target": "com.amazonaws.batch#NodeProperties",
          "traits": {
            "smithy.api#documentation": "<p>An object representing the node properties of a multi-node parallel job.</p>"
          }
        },
        "parameters": {
          "target": "com.amazonaws.batch#ParametersMap",
          "traits": {
            "smithy.api#documentation": "<p>Additional parameters passed to the job that replace parameter substitution placeholders or override any\n   corresponding parameter defaults from the job definition.</p>"
          }
        },
        "retryStrategy": {
          "target": "com.amazonaws.batch#RetryStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The retry strategy to use for this job if an attempt fails.</p>"
          }
        },
        "startedAt": {
          "target": "com.amazonaws.batch#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp (in seconds and milliseconds) for when the job was started (when the job transitioned from\n   the <code>STARTING</code> state to the <code>RUNNING</code> state).</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.batch#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status for the job.</p>\n         <note>\n            <p>If your jobs do not progress to <code>STARTING</code>, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/troubleshooting.html#job_stuck_in_runnable\">Jobs Stuck in RUNNABLE Status</a> in\n    the troubleshooting section of the <i>AWS Batch User Guide</i>.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "statusReason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short, human-readable string to provide additional details about the current status of the job.</p>"
          }
        },
        "stoppedAt": {
          "target": "com.amazonaws.batch#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp (in seconds and milliseconds) for when the job was stopped (when the job transitioned from\n   the <code>RUNNING</code> state to a terminal state, such as <code>SUCCEEDED</code> or <code>FAILED</code>).</p>"
          }
        },
        "timeout": {
          "target": "com.amazonaws.batch#JobTimeout",
          "traits": {
            "smithy.api#documentation": "<p>The timeout configuration for the job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing an AWS Batch job.</p>"
      }
    },
    "com.amazonaws.batch#JobDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#JobDetail"
      }
    },
    "com.amazonaws.batch#JobQueueDetail": {
      "type": "structure",
      "members": {
        "computeEnvironmentOrder": {
          "target": "com.amazonaws.batch#ComputeEnvironmentOrders",
          "traits": {
            "smithy.api#documentation": "<p>The compute environments that are attached to the job queue and the order in which job placement is preferred.\n   Compute environments are selected for job placement in ascending order.</p>",
            "smithy.api#required": {}
          }
        },
        "jobQueueArn": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the job queue.</p>",
            "smithy.api#required": {}
          }
        },
        "jobQueueName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job queue.</p>",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The priority of the job queue.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.batch#JQState",
          "traits": {
            "smithy.api#documentation": "<p>Describes the ability of the queue to accept new jobs.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.batch#JQStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the job queue (for example, <code>CREATING</code> or <code>VALID</code>).</p>"
          }
        },
        "statusReason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short, human-readable string to provide additional details about the current status of the job queue.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing the details of an AWS Batch job queue.</p>"
      }
    },
    "com.amazonaws.batch#JobQueueDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#JobQueueDetail"
      }
    },
    "com.amazonaws.batch#JobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SUBMITTED",
            "name": "SUBMITTED"
          },
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "RUNNABLE",
            "name": "RUNNABLE"
          },
          {
            "value": "STARTING",
            "name": "STARTING"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.batch#JobSummary": {
      "type": "structure",
      "members": {
        "arrayProperties": {
          "target": "com.amazonaws.batch#ArrayPropertiesSummary",
          "traits": {
            "smithy.api#documentation": "<p>The array properties of the job, if it is an array job.</p>"
          }
        },
        "container": {
          "target": "com.amazonaws.batch#ContainerSummary",
          "traits": {
            "smithy.api#documentation": "<p>An object representing the details of the container that is associated with the job.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.batch#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp for when the job was created. For non-array jobs and parent array jobs, this is when the job\n   entered the <code>SUBMITTED</code> state (at the time <a>SubmitJob</a> was called). For array child jobs,\n   this is when the child job was spawned by its parent and entered the <code>PENDING</code> state.</p>"
          }
        },
        "jobId": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the job.</p>",
            "smithy.api#required": {}
          }
        },
        "jobName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job.</p>",
            "smithy.api#required": {}
          }
        },
        "nodeProperties": {
          "target": "com.amazonaws.batch#NodePropertiesSummary",
          "traits": {
            "smithy.api#documentation": "<p>The node properties for a single node in a job summary list.</p>"
          }
        },
        "startedAt": {
          "target": "com.amazonaws.batch#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp for when the job was started (when the job transitioned from the <code>STARTING</code> state\n   to the <code>RUNNING</code> state).</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.batch#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status for the job.</p>"
          }
        },
        "statusReason": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>A short, human-readable string to provide additional details about the current status of the job.</p>"
          }
        },
        "stoppedAt": {
          "target": "com.amazonaws.batch#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp for when the job was stopped (when the job transitioned from the <code>RUNNING</code> state\n   to a terminal state, such as <code>SUCCEEDED</code> or <code>FAILED</code>).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing summary details of a job.</p>"
      }
    },
    "com.amazonaws.batch#JobSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.batch#JobSummary"
      }
    },
    "com.amazonaws.batch#JobTimeout": {
      "type": "structure",
      "members": {
        "attemptDurationSeconds": {
          "target": "com.amazonaws.batch#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The time duration in seconds (measured from the job attempt's <code>startedAt</code> timestamp) after which\n   AWS Batch terminates your jobs if they have not finished.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing a job timeout configuration.</p>"
      }
    },
    "com.amazonaws.batch#KeyValuePair": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the key-value pair. For environment variables, this is the name of the environment variable.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the key-value pair. For environment variables, this is the value of the environment\n   variable.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A key-value pair object.</p>"
      }
    },
    "com.amazonaws.batch#LaunchTemplateSpecification": {
      "type": "structure",
      "members": {
        "launchTemplateId": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the launch template.</p>"
          }
        },
        "launchTemplateName": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the launch template.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.batch#String",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the launch template.</p>\n         <p>Default: The default version of the launch template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing a launch template associated with a compute resource. You must specify either the launch\n   template ID or launch template name in the request, but not both.</p>"
      }
    },
    "com.amazonaws.batch#LinuxParameters": {
      "type": "structure",
      "members": {
        "devices": {
[...]
