{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.bcmpricingcalculator#AWSBCMPricingCalculator": {
      "type": "service",
      "version": "2024-06-19",
      "operations": [
        {
          "target": "com.amazonaws.bcmpricingcalculator#GetPreferences"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#TagResource"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#UntagResource"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#UpdatePreferences"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.bcmpricingcalculator#BillEstimate"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#BillScenario"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#WorkloadEstimate"
        }
      ],
      "errors": [
        {
          "target": "com.amazonaws.bcmpricingcalculator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#InternalServerException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#ValidationException"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "BCM Pricing Calculator",
          "arnNamespace": "bcm-pricing-calculator"
        },
        "aws.api#tagEnabled": {},
        "aws.auth#sigv4": {
          "name": "bcm-pricing-calculator"
        },
        "aws.endpoints#dualStackOnlyEndpoints": {},
        "aws.endpoints#standardPartitionalEndpoints": {
          "endpointPatternType": "service_region_dnsSuffix"
        },
        "aws.iam#defineConditionKeys": {
          "aws:RequestTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by the tags that are passed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
          },
          "aws:ResourceTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by the tags associated with the resource",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-resourcetag"
          },
          "aws:TagKeys": {
            "type": "ArrayOfString",
            "documentation": "Filters access by the tag keys that are passed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-tagkeys"
          }
        },
        "aws.iam#supportedPrincipalTypes": ["Root", "IAMUser", "IAMRole", "FederatedUser"],
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<p> You can use the Pricing Calculator API to programmatically create estimates for your planned cloud use. You can model usage and commitments such as Savings Plans and Reserved Instances, and generate estimated costs using your discounts and benefit sharing preferences. </p> <p>The Pricing Calculator API provides the following endpoint:</p> <ul> <li> <p> <code>https://bcm-pricing-calculator.us-east-1.api.aws</code> </p> </li> </ul>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "items"
        },
        "smithy.api#title": "AWS Billing and Cost Management Pricing Calculator",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://bcm-pricing-calculator-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://bcm-pricing-calculator.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with region not set and fips disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://bcm-pricing-calculator-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://bcm-pricing-calculator.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://bcm-pricing-calculator-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://bcm-pricing-calculator.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://bcm-pricing-calculator-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://bcm-pricing-calculator.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-iso-east-1"
                      }
                    ]
                  },
                  "url": "https://bcm-pricing-calculator-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-iso-east-1"
                      }
                    ]
                  },
                  "url": "https://bcm-pricing-calculator.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isob-east-1"
                      }
                    ]
                  },
                  "url": "https://bcm-pricing-calculator-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isob-east-1"
                      }
                    ]
                  },
                  "url": "https://bcm-pricing-calculator.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-isoe-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "eu-isoe-west-1"
                      }
                    ]
                  },
                  "url": "https://bcm-pricing-calculator-fips.eu-isoe-west-1.cloud.adc-e.uk"
                }
              },
              "params": {
                "Region": "eu-isoe-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-isoe-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "eu-isoe-west-1"
                      }
                    ]
                  },
                  "url": "https://bcm-pricing-calculator.eu-isoe-west-1.cloud.adc-e.uk"
                }
              },
              "params": {
                "Region": "eu-isoe-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isof-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isof-south-1"
                      }
                    ]
                  },
                  "url": "https://bcm-pricing-calculator-fips.us-isof-south-1.csp.hci.ic.gov"
                }
              },
              "params": {
                "Region": "us-isof-south-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isof-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isof-south-1"
                      }
                    ]
                  },
                  "url": "https://bcm-pricing-calculator.us-isof-south-1.csp.hci.ic.gov"
                }
              },
              "params": {
                "Region": "us-isof-south-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.bcmpricingcalculator#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AccessDeniedCode",
          "httpResponseCode": 403
        },
        "smithy.api#documentation": "<p> You do not have sufficient access to perform this action. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.bcmpricingcalculator#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.bcmpricingcalculator#AddReservedInstanceAction": {
      "type": "structure",
      "members": {
        "reservedInstancesOfferingId": {
          "target": "com.amazonaws.bcmpricingcalculator#Uuid",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Reserved Instance offering to add. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeReservedInstancesOfferings.html\"> DescribeReservedInstancesOfferings</a>. </p>"
          }
        },
        "instanceCount": {
          "target": "com.amazonaws.bcmpricingcalculator#ReservedInstanceInstanceCount",
          "traits": {
            "smithy.api#documentation": "<p> The number of instances to add for this Reserved Instance offering. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents an action to add a Reserved Instance to a bill scenario. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#AddSavingsPlanAction": {
      "type": "structure",
      "members": {
        "savingsPlanOfferingId": {
          "target": "com.amazonaws.bcmpricingcalculator#Uuid",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Savings Plan offering to add. For more information, see <a href=\"https://docs.aws.amazon.com/savingsplans/latest/APIReference/API_DescribeSavingsPlansOfferings.html\"> DescribeSavingsPlansOfferings</a>. </p>"
          }
        },
        "commitment": {
          "target": "com.amazonaws.bcmpricingcalculator#SavingsPlanCommitment",
          "traits": {
            "smithy.api#documentation": "<p> The hourly commitment, in the same currency of the <code>savingsPlanOfferingId</code>. This is a value between 0.001 and 1 million. You cannot specify more than five digits after the decimal point. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents an action to add a Savings Plan to a bill scenario. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#Arn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "service": "com.amazonaws.bcmpricingcalculator#AWSBCMPricingCalculator"
        },
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[-a-z0-9]*:bcm-pricing-calculator:[-a-z0-9]*:[0-9]{12}:[-a-z0-9/:_]+$"
      }
    },
    "com.amazonaws.bcmpricingcalculator#AvailabilityZone": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 32
        },
        "smithy.api#pattern": "^[-a-zA-Z0-9\\.\\-_:, \\/()]*$"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModification": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModificationRequest"
      },
      "output": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModificationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bcmpricingcalculator#ConflictException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "CreateBillScenarioCommitmentModification",
          "documentation": "Grants permission to create new commitments or remove existing commitment from a specified bill scenario"
        },
        "smithy.api#documentation": "<p> Create Compute Savings Plans, EC2 Instance Savings Plans, or EC2 Reserved Instances commitments that you want to model in a Bill Scenario. </p> <note> <p>The <code>BatchCreateBillScenarioCommitmentModification</code> operation doesn't have its own IAM permission. To authorize this operation for Amazon Web Services principals, include the permission <code>bcm-pricing-calculator:CreateBillScenarioCommitmentModification</code> in your policies.</p> </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModificationEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModificationEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModificationEntry": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.bcmpricingcalculator#Key",
          "traits": {
            "smithy.api#documentation": "<p> A unique identifier for this entry in the batch operation. This can be any valid string. This key is useful to identify errors associated with any commitment entry as any error is returned with this key. </p>",
            "smithy.api#required": {}
          }
        },
        "group": {
          "target": "com.amazonaws.bcmpricingcalculator#UsageGroup",
          "traits": {
            "smithy.api#documentation": "<p> An optional group identifier for the commitment modification. </p>"
          }
        },
        "usageAccountId": {
          "target": "com.amazonaws.bcmpricingcalculator#AccountId",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services account ID to which this commitment will be applied to. </p>",
            "smithy.api#required": {}
          }
        },
        "commitmentAction": {
          "target": "com.amazonaws.bcmpricingcalculator#BillScenarioCommitmentModificationAction",
          "traits": {
            "smithy.api#documentation": "<p> The specific commitment action to be taken (e.g., adding a Reserved Instance or Savings Plan). </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents an entry object in the batch operation to create bill scenario commitment modifications. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModificationError": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.bcmpricingcalculator#Key",
          "traits": {
            "smithy.api#documentation": "<p> The key of the entry that caused the error. </p>"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> A descriptive message for the error that occurred. </p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModificationErrorCode",
          "traits": {
            "smithy.api#documentation": "<p> The error code associated with the failed operation. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents an error that occurred during a batch create operation for bill scenario commitment modifications. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModificationErrorCode": {
      "type": "enum",
      "members": {
        "CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLICT"
          }
        },
        "INTERNAL_SERVER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_SERVER_ERROR"
          }
        },
        "INVALID_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_ACCOUNT"
          }
        }
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModificationErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModificationError"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModificationItem": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.bcmpricingcalculator#Key",
          "traits": {
            "smithy.api#documentation": "<p> The key of the successfully created entry. This can be any valid string. This key is useful to identify errors associated with any commitment entry as any error is returned with this key. </p>"
          }
        },
        "id": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The unique identifier assigned to the created commitment modification. </p>"
          }
        },
        "group": {
          "target": "com.amazonaws.bcmpricingcalculator#UsageGroup",
          "traits": {
            "smithy.api#documentation": "<p> The group identifier for the created commitment modification. </p>"
          }
        },
        "usageAccountId": {
          "target": "com.amazonaws.bcmpricingcalculator#AccountId",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services account ID associated with the created commitment modification. </p>"
          }
        },
        "commitmentAction": {
          "target": "com.amazonaws.bcmpricingcalculator#BillScenarioCommitmentModificationAction",
          "traits": {
            "smithy.api#documentation": "<p> The specific commitment action that was taken. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents a successfully created item in a batch operation for bill scenario commitment modifications. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModificationItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModificationItem"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModificationRequest": {
      "type": "structure",
      "members": {
        "billScenarioId": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Bill Scenario for which you want to create the modeled commitment. </p>",
            "smithy.api#required": {}
          }
        },
        "commitmentModifications": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModificationEntries",
          "traits": {
            "smithy.api#documentation": "<p> List of commitments that you want to model in the Bill Scenario. </p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.bcmpricingcalculator#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. </p>",
            "smithy.api#httpHeader": "X-Amzn-Client-Token",
            "smithy.api#idempotencyToken": {},
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModificationResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModificationItems",
          "traits": {
            "smithy.api#documentation": "<p> Returns the list of successful commitment line items that were created for the Bill Scenario. </p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioCommitmentModificationErrors",
          "traits": {
            "smithy.api#documentation": "<p> Returns the list of errors reason and the commitment item keys that cannot be created in the Bill Scenario. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModification": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModificationRequest"
      },
      "output": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModificationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bcmpricingcalculator#ConflictException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "CreateBillScenarioUsageModification",
          "documentation": "Grants permission to create usage in the specified bill scenario"
        },
        "smithy.api#documentation": "<p> Create Amazon Web Services service usage that you want to model in a Bill Scenario. </p> <note> <p>The <code>BatchCreateBillScenarioUsageModification</code> operation doesn't have its own IAM permission. To authorize this operation for Amazon Web Services principals, include the permission <code>bcm-pricing-calculator:CreateBillScenarioUsageModification</code> in your policies.</p> </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModificationEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModificationEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModificationEntry": {
      "type": "structure",
      "members": {
        "serviceCode": {
          "target": "com.amazonaws.bcmpricingcalculator#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services service code for this usage modification. This identifies the specific Amazon Web Services service to the customer as a unique short abbreviation. For example, <code>AmazonEC2</code> and <code>AWSKMS</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "usageType": {
          "target": "com.amazonaws.bcmpricingcalculator#UsageType",
          "traits": {
            "smithy.api#documentation": "<p> Describes the usage details of the usage line item. </p>",
            "smithy.api#required": {}
          }
        },
        "operation": {
          "target": "com.amazonaws.bcmpricingcalculator#Operation",
          "traits": {
            "smithy.api#documentation": "<p> The specific operation associated with this usage modification. Describes the specific Amazon Web Services operation that this usage line models. For example, <code>RunInstances</code> indicates the operation of an Amazon EC2 instance. </p>",
            "smithy.api#required": {}
          }
        },
        "availabilityZone": {
          "target": "com.amazonaws.bcmpricingcalculator#AvailabilityZone",
          "traits": {
            "smithy.api#documentation": "<p> The Availability Zone that this usage line uses. </p>"
          }
        },
        "key": {
          "target": "com.amazonaws.bcmpricingcalculator#Key",
          "traits": {
            "smithy.api#documentation": "<p> A unique identifier for this entry in the batch operation. This can be any valid string. This key is useful to identify errors associated with any usage entry as any error is returned with this key. </p>",
            "smithy.api#required": {}
          }
        },
        "group": {
          "target": "com.amazonaws.bcmpricingcalculator#UsageGroup",
          "traits": {
            "smithy.api#documentation": "<p> An optional group identifier for the usage modification. </p>"
          }
        },
        "usageAccountId": {
          "target": "com.amazonaws.bcmpricingcalculator#AccountId",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services account ID to which this usage will be applied to. </p>",
            "smithy.api#required": {}
          }
        },
        "amounts": {
          "target": "com.amazonaws.bcmpricingcalculator#UsageAmounts",
          "traits": {
            "smithy.api#documentation": "<p> The amount of usage you want to create for the service use you are modeling. </p>"
          }
        },
        "historicalUsage": {
          "target": "com.amazonaws.bcmpricingcalculator#HistoricalUsageEntity",
          "traits": {
            "smithy.api#documentation": "<p> Historical usage data associated with this modification, if available. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents an entry in a batch operation to create bill scenario usage modifications. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModificationError": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.bcmpricingcalculator#Key",
          "traits": {
            "smithy.api#documentation": "<p> The key of the entry that caused the error. </p>"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> A descriptive message for the error that occurred. </p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModificationErrorCode",
          "traits": {
            "smithy.api#documentation": "<p> The error code associated with the failed operation. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents an error that occurred during a batch create operation for bill scenario usage modifications. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModificationErrorCode": {
      "type": "enum",
      "members": {
        "BAD_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BAD_REQUEST"
          }
        },
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FOUND"
          }
        },
        "CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLICT"
          }
        },
        "INTERNAL_SERVER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_SERVER_ERROR"
          }
        }
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModificationErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModificationError"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModificationItem": {
      "type": "structure",
      "members": {
        "serviceCode": {
          "target": "com.amazonaws.bcmpricingcalculator#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services service code for this usage modification. </p>",
            "smithy.api#required": {}
          }
        },
        "usageType": {
          "target": "com.amazonaws.bcmpricingcalculator#UsageType",
          "traits": {
            "smithy.api#documentation": "<p> The type of usage that was modified. </p>",
            "smithy.api#required": {}
          }
        },
        "operation": {
          "target": "com.amazonaws.bcmpricingcalculator#Operation",
          "traits": {
            "smithy.api#documentation": "<p> The specific operation associated with this usage modification. </p>",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The location associated with this usage modification. </p>"
          }
        },
        "availabilityZone": {
          "target": "com.amazonaws.bcmpricingcalculator#AvailabilityZone",
          "traits": {
            "smithy.api#documentation": "<p> The availability zone associated with this usage modification, if applicable. </p>"
          }
        },
        "id": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The unique identifier assigned to the created usage modification. </p>"
          }
        },
        "group": {
          "target": "com.amazonaws.bcmpricingcalculator#UsageGroup",
          "traits": {
            "smithy.api#documentation": "<p> The group identifier for the created usage modification. </p>"
          }
        },
        "usageAccountId": {
          "target": "com.amazonaws.bcmpricingcalculator#AccountId",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services account ID associated with the created usage modification. </p>"
          }
        },
        "quantities": {
          "target": "com.amazonaws.bcmpricingcalculator#UsageQuantities",
          "traits": {
            "smithy.api#documentation": "<p> The modified usage quantities. </p>"
          }
        },
        "historicalUsage": {
          "target": "com.amazonaws.bcmpricingcalculator#HistoricalUsageEntity",
          "traits": {
            "smithy.api#documentation": "<p> Historical usage data associated with this modification, if available. </p>"
          }
        },
        "key": {
          "target": "com.amazonaws.bcmpricingcalculator#Key",
          "traits": {
            "smithy.api#documentation": "<p> The key of the successfully created entry. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents a successfully created item in a batch operation for bill scenario usage modifications. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModificationItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModificationItem"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModificationRequest": {
      "type": "structure",
      "members": {
        "billScenarioId": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Bill Scenario for which you want to create the modeled usage. </p>",
            "smithy.api#required": {}
          }
        },
        "usageModifications": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModificationEntries",
          "traits": {
            "smithy.api#documentation": "<p> List of usage that you want to model in the Bill Scenario. </p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.bcmpricingcalculator#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. </p>",
            "smithy.api#httpHeader": "X-Amzn-Client-Token",
            "smithy.api#idempotencyToken": {},
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModificationResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModificationItems",
          "traits": {
            "smithy.api#documentation": "<p> Returns the list of successful usage line items that were created for the Bill Scenario. </p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchCreateBillScenarioUsageModificationErrors",
          "traits": {
            "smithy.api#documentation": "<p> Returns the list of errors reason and the usage item keys that cannot be created in the Bill Scenario. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsageRequest"
      },
      "output": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bcmpricingcalculator#ConflictException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "CreateWorkloadEstimateUsage",
          "documentation": "Grants permission to create usage in the specified workload estimate"
        },
        "smithy.api#documentation": "<p> Create Amazon Web Services service usage that you want to model in a Workload Estimate. </p> <note> <p>The <code>BatchCreateWorkloadEstimateUsage</code> operation doesn't have its own IAM permission. To authorize this operation for Amazon Web Services principals, include the permission <code>bcm-pricing-calculator:CreateWorkloadEstimateUsage</code> in your policies.</p> </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsageCode": {
      "type": "enum",
      "members": {
        "BAD_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BAD_REQUEST"
          }
        },
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FOUND"
          }
        },
        "CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLICT"
          }
        },
        "INTERNAL_SERVER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_SERVER_ERROR"
          }
        }
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsageEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsageEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsageEntry": {
      "type": "structure",
      "members": {
        "serviceCode": {
          "target": "com.amazonaws.bcmpricingcalculator#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services service code for this usage estimate. </p>",
            "smithy.api#required": {}
          }
        },
        "usageType": {
          "target": "com.amazonaws.bcmpricingcalculator#UsageType",
          "traits": {
            "smithy.api#documentation": "<p> The type of usage being estimated. </p>",
            "smithy.api#required": {}
          }
        },
        "operation": {
          "target": "com.amazonaws.bcmpricingcalculator#Operation",
          "traits": {
            "smithy.api#documentation": "<p> The specific operation associated with this usage estimate. </p>",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "com.amazonaws.bcmpricingcalculator#Key",
          "traits": {
            "smithy.api#documentation": "<p> A unique identifier for this entry in the batch operation. </p>",
            "smithy.api#required": {}
          }
        },
        "group": {
          "target": "com.amazonaws.bcmpricingcalculator#UsageGroup",
          "traits": {
            "smithy.api#documentation": "<p> An optional group identifier for the usage estimate. </p>"
          }
        },
        "usageAccountId": {
          "target": "com.amazonaws.bcmpricingcalculator#AccountId",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services account ID associated with this usage estimate. </p>",
            "smithy.api#required": {}
          }
        },
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p> The estimated usage amount. </p>",
            "smithy.api#required": {}
          }
        },
        "historicalUsage": {
          "target": "com.amazonaws.bcmpricingcalculator#HistoricalUsageEntity",
          "traits": {
            "smithy.api#documentation": "<p> Historical usage data associated with this estimate, if available. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents an entry in a batch operation to create workload estimate usage. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsageError": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.bcmpricingcalculator#Key",
          "traits": {
            "smithy.api#documentation": "<p> The key of the entry that caused the error. </p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsageCode",
          "traits": {
            "smithy.api#documentation": "<p> The error code associated with the failed operation. </p>"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> A descriptive message for the error that occurred. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents an error that occurred during a batch create operation for workload estimate usage. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsageErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsageError"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsageItem": {
      "type": "structure",
      "members": {
        "serviceCode": {
          "target": "com.amazonaws.bcmpricingcalculator#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services service code for this usage estimate. </p>",
            "smithy.api#required": {}
          }
        },
        "usageType": {
          "target": "com.amazonaws.bcmpricingcalculator#UsageType",
          "traits": {
            "smithy.api#documentation": "<p> The type of usage that was estimated. </p>",
            "smithy.api#required": {}
          }
        },
        "operation": {
          "target": "com.amazonaws.bcmpricingcalculator#Operation",
          "traits": {
            "smithy.api#documentation": "<p> The specific operation associated with this usage estimate. </p>",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The location associated with this usage estimate. </p>"
          }
        },
        "id": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The unique identifier assigned to the created usage estimate. </p>"
          }
        },
        "usageAccountId": {
          "target": "com.amazonaws.bcmpricingcalculator#AccountId",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services account ID associated with the created usage estimate. </p>"
          }
        },
        "group": {
          "target": "com.amazonaws.bcmpricingcalculator#UsageGroup",
          "traits": {
            "smithy.api#documentation": "<p> The group identifier for the created usage estimate. </p>"
          }
        },
        "quantity": {
          "target": "com.amazonaws.bcmpricingcalculator#WorkloadEstimateUsageQuantity",
          "traits": {
            "smithy.api#documentation": "<p> The estimated usage quantity. </p>"
          }
        },
        "cost": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p> The estimated cost associated with this usage. </p>"
          }
        },
        "currency": {
          "target": "com.amazonaws.bcmpricingcalculator#CurrencyCode",
          "traits": {
            "smithy.api#documentation": "<p> The currency of the estimated cost. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.bcmpricingcalculator#WorkloadEstimateCostStatus",
          "traits": {
            "smithy.api#documentation": "<p> The current status of the created usage estimate. </p>"
          }
        },
        "historicalUsage": {
          "target": "com.amazonaws.bcmpricingcalculator#HistoricalUsageEntity",
          "traits": {
            "smithy.api#documentation": "<p> Historical usage data associated with this estimate, if available. </p>"
          }
        },
        "key": {
          "target": "com.amazonaws.bcmpricingcalculator#Key",
          "traits": {
            "smithy.api#documentation": "<p> The key of the successfully created entry. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents a successfully created item in a batch operation for workload estimate usage. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsageItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsageItem"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsageRequest": {
      "type": "structure",
      "members": {
        "workloadEstimateId": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Workload estimate for which you want to create the modeled usage. </p>",
            "smithy.api#required": {}
          }
        },
        "usage": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsageEntries",
          "traits": {
            "smithy.api#documentation": "<p> List of usage that you want to model in the Workload estimate. </p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.bcmpricingcalculator#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. </p>",
            "smithy.api#httpHeader": "X-Amzn-Client-Token",
            "smithy.api#idempotencyToken": {},
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsageResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsageItems",
          "traits": {
            "smithy.api#documentation": "<p> Returns the list of successful usage line items that were created for the Workload estimate. </p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchCreateWorkloadEstimateUsageErrors",
          "traits": {
            "smithy.api#documentation": "<p> Returns the list of errors reason and the usage item keys that cannot be created in the Workload estimate. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioCommitmentModification": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioCommitmentModificationRequest"
      },
      "output": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioCommitmentModificationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bcmpricingcalculator#ConflictException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "DeleteBillScenarioCommitmentModification",
          "documentation": "Grants permission to delete newly added commitments from the specified bill scenario"
        },
        "smithy.api#documentation": "<p> Delete commitment that you have created in a Bill Scenario. You can only delete a commitment that you had added and cannot model deletion (or removal) of a existing commitment. If you want model deletion of an existing commitment, see the negate <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_AWSBCMPricingCalculator_BillScenarioCommitmentModificationAction.html\"> BillScenarioCommitmentModificationAction</a> of <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_AWSBCMPricingCalculator_BatchCreateBillScenarioUsageModification.html\"> BatchCreateBillScenarioCommitmentModification</a> operation. </p> <note> <p>The <code>BatchDeleteBillScenarioCommitmentModification</code> operation doesn't have its own IAM permission. To authorize this operation for Amazon Web Services principals, include the permission <code>bcm-pricing-calculator:DeleteBillScenarioCommitmentModification</code> in your policies.</p> </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioCommitmentModificationEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#ResourceId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioCommitmentModificationError": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the error. </p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioCommitmentModificationErrorCode",
          "traits": {
            "smithy.api#documentation": "<p> The code associated with the error. </p>"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The message that describes the error. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents an error that occurred when deleting a commitment in a Bill Scenario. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioCommitmentModificationErrorCode": {
      "type": "enum",
      "members": {
        "BAD_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BAD_REQUEST"
          }
        },
        "CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLICT"
          }
        },
        "INTERNAL_SERVER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_SERVER_ERROR"
          }
        }
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioCommitmentModificationErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioCommitmentModificationError"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioCommitmentModificationRequest": {
      "type": "structure",
      "members": {
        "billScenarioId": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Bill Scenario for which you want to delete the modeled commitment. </p>",
            "smithy.api#required": {}
          }
        },
        "ids": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioCommitmentModificationEntries",
          "traits": {
            "smithy.api#documentation": "<p> List of commitments that you want to delete from the Bill Scenario. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioCommitmentModificationResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioCommitmentModificationErrors",
          "traits": {
            "smithy.api#documentation": "<p> Returns the list of errors reason and the commitment item keys that cannot be deleted from the Bill Scenario. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioUsageModification": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioUsageModificationRequest"
      },
      "output": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioUsageModificationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bcmpricingcalculator#ConflictException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "DeleteBillScenarioUsageModification",
          "documentation": "Grants permission to delete newly added usage from the specified bill scenario"
        },
        "smithy.api#documentation": "<p> Delete usage that you have created in a Bill Scenario. You can only delete usage that you had added and cannot model deletion (or removal) of a existing usage. If you want model removal of an existing usage, see <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_AWSBCMPricingCalculator_BatchUpdateBillScenarioUsageModification.html\"> BatchUpdateBillScenarioUsageModification</a>. </p> <note> <p>The <code>BatchDeleteBillScenarioUsageModification</code> operation doesn't have its own IAM permission. To authorize this operation for Amazon Web Services principals, include the permission <code>bcm-pricing-calculator:DeleteBillScenarioUsageModification</code> in your policies.</p> </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioUsageModificationEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#ResourceId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioUsageModificationError": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the error. </p>"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The message that describes the error. </p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioUsageModificationErrorCode",
          "traits": {
            "smithy.api#documentation": "<p> The code associated with the error. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents an error that occurred when deleting usage in a Bill Scenario. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioUsageModificationErrorCode": {
      "type": "enum",
      "members": {
        "BAD_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BAD_REQUEST"
          }
        },
        "CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLICT"
          }
        },
        "INTERNAL_SERVER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_SERVER_ERROR"
          }
        }
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioUsageModificationErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioUsageModificationError"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioUsageModificationRequest": {
      "type": "structure",
      "members": {
        "billScenarioId": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Bill Scenario for which you want to delete the modeled usage. </p>",
            "smithy.api#required": {}
          }
        },
        "ids": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioUsageModificationEntries",
          "traits": {
            "smithy.api#documentation": "<p> List of usage that you want to delete from the Bill Scenario. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioUsageModificationResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchDeleteBillScenarioUsageModificationErrors",
          "traits": {
            "smithy.api#documentation": "<p> Returns the list of errors reason and the usage item keys that cannot be deleted from the Bill Scenario. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteWorkloadEstimateUsage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchDeleteWorkloadEstimateUsageRequest"
      },
      "output": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchDeleteWorkloadEstimateUsageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bcmpricingcalculator#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "DeleteWorkloadEstimateUsage",
          "documentation": "Grants permission to delete newly added usage from the specified workload estimate"
        },
        "smithy.api#documentation": "<p> Delete usage that you have created in a Workload estimate. You can only delete usage that you had added and cannot model deletion (or removal) of a existing usage. If you want model removal of an existing usage, see <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_AWSBCMPricingCalculator_BatchUpdateWorkloadEstimateUsage.html\"> BatchUpdateWorkloadEstimateUsage</a>. </p> <note> <p>The <code>BatchDeleteWorkloadEstimateUsage</code> operation doesn't have its own IAM permission. To authorize this operation for Amazon Web Services principals, include the permission <code>bcm-pricing-calculator:DeleteWorkloadEstimateUsage</code> in your policies.</p> </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteWorkloadEstimateUsageEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#ResourceId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteWorkloadEstimateUsageError": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the error. </p>"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The message that describes the error. </p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.bcmpricingcalculator#WorkloadEstimateUpdateUsageErrorCode",
          "traits": {
            "smithy.api#documentation": "<p> The code associated with the error. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents an error that occurred when deleting usage in a workload estimate. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteWorkloadEstimateUsageErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchDeleteWorkloadEstimateUsageError"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteWorkloadEstimateUsageRequest": {
      "type": "structure",
      "members": {
        "workloadEstimateId": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Workload estimate for which you want to delete the modeled usage. </p>",
            "smithy.api#required": {}
          }
        },
        "ids": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchDeleteWorkloadEstimateUsageEntries",
          "traits": {
            "smithy.api#documentation": "<p> List of usage that you want to delete from the Workload estimate. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchDeleteWorkloadEstimateUsageResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchDeleteWorkloadEstimateUsageErrors",
          "traits": {
            "smithy.api#documentation": "<p> Returns the list of errors reason and the usage item keys that cannot be deleted from the Workload estimate. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioCommitmentModification": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioCommitmentModificationRequest"
      },
      "output": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioCommitmentModificationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bcmpricingcalculator#ConflictException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "UpdateBillScenarioCommitmentModification",
          "documentation": "Grants permission to update commitment group of commitments in the specified bill scenario"
        },
        "smithy.api#documentation": "<p> Update a newly added or existing commitment. You can update the commitment group based on a commitment ID and a Bill scenario ID. </p> <note> <p>The <code>BatchUpdateBillScenarioCommitmentModification</code> operation doesn't have its own IAM permission. To authorize this operation for Amazon Web Services principals, include the permission <code>bcm-pricing-calculator:UpdateBillScenarioCommitmentModification</code> in your policies.</p> </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioCommitmentModificationEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioCommitmentModificationEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioCommitmentModificationEntry": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The unique identifier of the commitment modification to update. </p>",
            "smithy.api#required": {}
          }
        },
        "group": {
          "target": "com.amazonaws.bcmpricingcalculator#UsageGroup",
          "traits": {
            "smithy.api#documentation": "<p> The updated group identifier for the commitment modification. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents an entry in a batch operation to update bill scenario commitment modifications. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioCommitmentModificationError": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the error. </p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioCommitmentModificationErrorCode",
          "traits": {
            "smithy.api#documentation": "<p> The code associated with the error. </p>"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The message that describes the error. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents an error that occurred when updating a commitment in a Bill Scenario. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioCommitmentModificationErrorCode": {
      "type": "enum",
      "members": {
        "BAD_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BAD_REQUEST"
          }
        },
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FOUND"
          }
        },
        "CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLICT"
          }
        },
        "INTERNAL_SERVER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_SERVER_ERROR"
          }
        }
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioCommitmentModificationErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioCommitmentModificationError"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioCommitmentModificationRequest": {
      "type": "structure",
      "members": {
        "billScenarioId": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Bill Scenario for which you want to modify the commitment group of a modeled commitment. </p>",
            "smithy.api#required": {}
          }
        },
        "commitmentModifications": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioCommitmentModificationEntries",
          "traits": {
            "smithy.api#documentation": "<p> List of commitments that you want to update in a Bill Scenario. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioCommitmentModificationResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.bcmpricingcalculator#BillScenarioCommitmentModificationItems",
          "traits": {
            "smithy.api#documentation": "<p> Returns the list of successful commitment line items that were updated for a Bill Scenario. </p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioCommitmentModificationErrors",
          "traits": {
            "smithy.api#documentation": "<p> Returns the list of error reasons and commitment line item IDs that could not be updated for the Bill Scenario. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioUsageModification": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioUsageModificationRequest"
      },
      "output": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioUsageModificationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bcmpricingcalculator#ConflictException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "UpdateBillScenarioUsageModification",
          "documentation": "Grants permission to update usage amount, usage hour, and usage group in the specified bill scenario"
        },
        "smithy.api#documentation": "<p> Update a newly added or existing usage lines. You can update the usage amounts, usage hour, and usage group based on a usage ID and a Bill scenario ID. </p> <note> <p>The <code>BatchUpdateBillScenarioUsageModification</code> operation doesn't have its own IAM permission. To authorize this operation for Amazon Web Services principals, include the permission <code>bcm-pricing-calculator:UpdateBillScenarioUsageModification</code> in your policies.</p> </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioUsageModificationEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioUsageModificationEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioUsageModificationEntry": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The unique identifier of the usage modification to update. </p>",
            "smithy.api#required": {}
          }
        },
        "group": {
          "target": "com.amazonaws.bcmpricingcalculator#UsageGroup",
          "traits": {
            "smithy.api#documentation": "<p> The updated group identifier for the usage modification. </p>"
          }
        },
        "amounts": {
          "target": "com.amazonaws.bcmpricingcalculator#UsageAmounts",
          "traits": {
            "smithy.api#documentation": "<p> The updated usage amounts for the modification. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents an entry in a batch operation to update bill scenario usage modifications. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioUsageModificationError": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the error. </p>"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The message that describes the error. </p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioUsageModificationErrorCode",
          "traits": {
            "smithy.api#documentation": "<p> The code associated with the error. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents an error that occurred when updating usage in a Bill Scenario. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioUsageModificationErrorCode": {
      "type": "enum",
      "members": {
        "BAD_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BAD_REQUEST"
          }
        },
        "NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_FOUND"
          }
        },
        "CONFLICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLICT"
          }
        },
        "INTERNAL_SERVER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_SERVER_ERROR"
          }
        }
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioUsageModificationErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioUsageModificationError"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioUsageModificationRequest": {
      "type": "structure",
      "members": {
        "billScenarioId": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Bill Scenario for which you want to modify the usage lines. </p>",
            "smithy.api#required": {}
          }
        },
        "usageModifications": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioUsageModificationEntries",
          "traits": {
            "smithy.api#documentation": "<p> List of usage lines that you want to update in a Bill Scenario identified by the usage ID. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioUsageModificationResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.bcmpricingcalculator#BillScenarioUsageModificationItems",
          "traits": {
            "smithy.api#documentation": "<p> Returns the list of successful usage line items that were updated for a Bill Scenario. </p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateBillScenarioUsageModificationErrors",
          "traits": {
            "smithy.api#documentation": "<p> Returns the list of error reasons and usage line item IDs that could not be updated for the Bill Scenario. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateWorkloadEstimateUsage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateWorkloadEstimateUsageRequest"
      },
      "output": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateWorkloadEstimateUsageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bcmpricingcalculator#DataUnavailableException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#ServiceQuotaExceededException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "name": "UpdateWorkloadEstimateUsage",
          "documentation": "Grants permission to update usage amount and usage group in the specified workload estimate based on the usage id"
        },
        "smithy.api#documentation": "<p> Update a newly added or existing usage lines. You can update the usage amounts and usage group based on a usage ID and a Workload estimate ID. </p> <note> <p>The <code>BatchUpdateWorkloadEstimateUsage</code> operation doesn't have its own IAM permission. To authorize this operation for Amazon Web Services principals, include the permission <code>bcm-pricing-calculator:UpdateWorkloadEstimateUsage</code> in your policies.</p> </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateWorkloadEstimateUsageEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateWorkloadEstimateUsageEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateWorkloadEstimateUsageEntry": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The unique identifier of the usage estimate to update. </p>",
            "smithy.api#required": {}
          }
        },
        "group": {
          "target": "com.amazonaws.bcmpricingcalculator#UsageGroup",
          "traits": {
            "smithy.api#documentation": "<p> The updated group identifier for the usage estimate. </p>"
          }
        },
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p> The updated estimated usage amount. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents an entry in a batch operation to update workload estimate usage. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateWorkloadEstimateUsageError": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the error. </p>"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The message that describes the error. </p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.bcmpricingcalculator#WorkloadEstimateUpdateUsageErrorCode",
          "traits": {
            "smithy.api#documentation": "<p> The code associated with the error. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents an error that occurred when updating usage in a workload estimate. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateWorkloadEstimateUsageErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateWorkloadEstimateUsageError"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateWorkloadEstimateUsageRequest": {
      "type": "structure",
      "members": {
        "workloadEstimateId": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Workload estimate for which you want to modify the usage lines. </p>",
            "smithy.api#required": {}
          }
        },
        "usage": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateWorkloadEstimateUsageEntries",
          "traits": {
            "smithy.api#documentation": "<p> List of usage line amounts and usage group that you want to update in a Workload estimate identified by the usage ID. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BatchUpdateWorkloadEstimateUsageResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.bcmpricingcalculator#WorkloadEstimateUsageItems",
          "traits": {
            "smithy.api#documentation": "<p> Returns the list of successful usage line items that were updated for a Workload estimate. </p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.bcmpricingcalculator#BatchUpdateWorkloadEstimateUsageErrors",
          "traits": {
            "smithy.api#documentation": "<p> Returns the list of error reasons and usage line item IDs that could not be updated for the Workload estimate. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BillEstimate": {
      "type": "resource",
      "identifiers": {
        "billEstimateId": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId"
        }
      },
      "properties": {
        "name": {
          "target": "com.amazonaws.bcmpricingcalculator#BillEstimateName"
        },
        "costSummary": {
          "target": "com.amazonaws.bcmpricingcalculator#BillEstimateCostSummary"
        },
        "status": {
          "target": "com.amazonaws.bcmpricingcalculator#BillEstimateStatus"
        },
        "billInterval": {
          "target": "com.amazonaws.bcmpricingcalculator#BillInterval"
        },
        "failureMessage": {
          "target": "smithy.api#String"
        },
        "createdAt": {
          "target": "smithy.api#Timestamp"
        },
        "expiresAt": {
          "target": "smithy.api#Timestamp"
        }
      },
      "create": {
        "target": "com.amazonaws.bcmpricingcalculator#CreateBillEstimate"
      },
      "read": {
        "target": "com.amazonaws.bcmpricingcalculator#GetBillEstimate"
      },
      "update": {
        "target": "com.amazonaws.bcmpricingcalculator#UpdateBillEstimate"
      },
      "delete": {
        "target": "com.amazonaws.bcmpricingcalculator#DeleteBillEstimate"
      },
      "list": {
        "target": "com.amazonaws.bcmpricingcalculator#ListBillEstimates"
      },
      "resources": [
        {
          "target": "com.amazonaws.bcmpricingcalculator#BillEstimateCommitment"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#BillEstimateInputCommitmentModification"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#BillEstimateInputUsageModification"
        },
        {
          "target": "com.amazonaws.bcmpricingcalculator#BillEstimateLineItem"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "bill-estimate/{billEstimateId}"
        },
        "aws.api#taggable": {},
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#iamResource": {
          "name": "bill-estimate"
        },
        "smithy.api#documentation": "Represents a bill estimate that is created from a bill scenario"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BillEstimateCommitment": {
      "type": "resource",
      "identifiers": {
        "billEstimateId": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId"
        },
        "resultCommitmentId": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId"
        },
        "id": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId"
        }
      },
      "list": {
        "target": "com.amazonaws.bcmpricingcalculator#ListBillEstimateCommitments"
      },
      "traits": {
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BillEstimateCommitmentSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BillEstimateCommitmentSummary"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BillEstimateCommitmentSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The unique identifier of the commitment. </p>"
          }
        },
        "purchaseAgreementType": {
          "target": "com.amazonaws.bcmpricingcalculator#PurchaseAgreementType",
          "traits": {
            "smithy.api#documentation": "<p> The type of purchase agreement (e.g., Reserved Instance, Savings Plan). </p>"
          }
        },
        "offeringId": {
          "target": "com.amazonaws.bcmpricingcalculator#Uuid",
          "traits": {
            "smithy.api#documentation": "<p> The identifier of the specific offering associated with this commitment. </p>"
          }
        },
        "usageAccountId": {
          "target": "com.amazonaws.bcmpricingcalculator#AccountId",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services account ID associated with this commitment. </p>"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services region associated with this commitment. </p>"
          }
        },
        "termLength": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The length of the commitment term. </p>"
          }
        },
        "paymentOption": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The payment option chosen for this commitment (e.g., All Upfront, Partial Upfront, No Upfront). </p>"
          }
        },
        "upfrontPayment": {
          "target": "com.amazonaws.bcmpricingcalculator#CostAmount",
          "traits": {
            "smithy.api#documentation": "<p> The upfront payment amount for this commitment, if applicable. </p>"
          }
        },
        "monthlyPayment": {
          "target": "com.amazonaws.bcmpricingcalculator#CostAmount",
          "traits": {
            "smithy.api#documentation": "<p> The monthly payment amount for this commitment, if applicable. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Provides a summary of commitment-related information for a bill estimate. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BillEstimateCostSummary": {
      "type": "structure",
      "members": {
        "totalCostDifference": {
          "target": "com.amazonaws.bcmpricingcalculator#CostDifference",
          "traits": {
            "smithy.api#documentation": "<p> The total difference in cost between the estimated and historical costs. </p>"
          }
        },
        "serviceCostDifferences": {
          "target": "com.amazonaws.bcmpricingcalculator#ServiceCostDifferenceMap",
          "traits": {
            "smithy.api#documentation": "<p> A breakdown of cost differences by Amazon Web Services service. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Provides a summary of cost-related information for a bill estimate. </p>"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BillEstimateInputCommitmentModification": {
      "type": "resource",
      "identifiers": {
        "billEstimateId": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId"
        },
        "id": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId"
        }
      },
      "list": {
        "target": "com.amazonaws.bcmpricingcalculator#ListBillEstimateInputCommitmentModifications"
      },
      "traits": {
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.bcmpricingcalculator#BillEstimateInputCommitmentModificationSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bcmpricingcalculator#BillEstimateInputCommitmentModificationSummary"
      }
    },
    "com.amazonaws.bcmpricingcalculator#BillEstimateInputCommitmentModificationSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.bcmpricingcalculator#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The unique identifier of the commitment modification. </p>"
          }
        },
        "group": {
[...]
