{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.bedrockagentruntime#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockagentruntime#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is denied because of missing access permissions. Check your permissions and retry your request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.bedrockagentruntime#ActionGroupInvocationInput": {
      "type": "structure",
      "members": {
        "actionGroupName": {
          "target": "com.amazonaws.bedrockagentruntime#ActionGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action group.</p>"
          }
        },
        "verb": {
          "target": "com.amazonaws.bedrockagentruntime#Verb",
          "traits": {
            "smithy.api#documentation": "<p>The API method being used, based off the action group.</p>"
          }
        },
        "apiPath": {
          "target": "com.amazonaws.bedrockagentruntime#ApiPath",
          "traits": {
            "smithy.api#documentation": "<p>The path to the API to call, based off the action group.</p>"
          }
        },
        "parameters": {
          "target": "com.amazonaws.bedrockagentruntime#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters in the Lambda input event.</p>"
          }
        },
        "requestBody": {
          "target": "com.amazonaws.bedrockagentruntime#RequestBody",
          "traits": {
            "smithy.api#documentation": "<p>The parameters in the request body for the Lambda input event.</p>"
          }
        },
        "function": {
          "target": "com.amazonaws.bedrockagentruntime#Function",
          "traits": {
            "smithy.api#documentation": "<p>The function in the action group to call.</p>"
          }
        },
        "executionType": {
          "target": "com.amazonaws.bedrockagentruntime#ExecutionType",
          "traits": {
            "smithy.api#documentation": "<p>How fulfillment of the action is handled. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/action-handle.html\">Handling fulfillment of the action</a>.</p>"
          }
        },
        "invocationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the invocation. Only returned if the <code>executionType</code> is <code>RETURN_CONTROL</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the action group being invoked. For more information about the possible structures, see the InvocationInput tab in <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/trace-orchestration.html\">OrchestrationTrace</a> in the Amazon Bedrock User Guide.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#ActionGroupInvocationOutput": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.amazonaws.bedrockagentruntime#ActionGroupOutputString",
          "traits": {
            "smithy.api#documentation": "<p>The JSON-formatted string returned by the API invoked by the action group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the JSON-formatted string returned by the API invoked by the action group.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#ActionGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#ActionGroupOutputString": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#ActionInvocationType": {
      "type": "enum",
      "members": {
        "RESULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESULT"
          }
        },
        "USER_CONFIRMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_CONFIRMATION"
          }
        },
        "USER_CONFIRMATION_AND_RESULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_CONFIRMATION_AND_RESULT"
          }
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#AdditionalModelRequestFields": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.bedrockagentruntime#AdditionalModelRequestFieldsKey"
      },
      "value": {
        "target": "com.amazonaws.bedrockagentruntime#AdditionalModelRequestFieldsValue"
      }
    },
    "com.amazonaws.bedrockagentruntime#AdditionalModelRequestFieldsKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#AdditionalModelRequestFieldsValue": {
      "type": "document"
    },
    "com.amazonaws.bedrockagentruntime#AgentAliasId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 10
        },
        "smithy.api#pattern": "^[0-9a-zA-Z]+$"
      }
    },
    "com.amazonaws.bedrockagentruntime#AgentId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 10
        },
        "smithy.api#pattern": "^[0-9a-zA-Z]+$"
      }
    },
    "com.amazonaws.bedrockagentruntime#AgentVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        },
        "smithy.api#pattern": "^(DRAFT|[0-9]{0,4}[1-9][0-9]{0,4})$"
      }
    },
    "com.amazonaws.bedrockagentruntime#AmazonBedrockAgentRunTimeService": {
      "type": "service",
      "version": "2023-07-26",
      "resources": [
        {
          "target": "com.amazonaws.bedrockagentruntime#FlowResource"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#InferenceResource"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#MemoryResource"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#RetrieveAndGenerateResource"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#RetrieveResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Bedrock Agent Runtime",
          "arnNamespace": "bedrock",
          "endpointPrefix": "bedrock-agent-runtime",
          "cloudTrailEventSource": "bedrock.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "bedrock"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Contains APIs related to model invocation and querying of knowledge bases.</p>",
        "smithy.api#title": "Agents for Amazon Bedrock Runtime",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-agent-runtime-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-agent-runtime-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-agent-runtime.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://bedrock-agent-runtime.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#ApiContentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.bedrockagentruntime#PropertyParameters"
      }
    },
    "com.amazonaws.bedrockagentruntime#ApiInvocationInput": {
      "type": "structure",
      "members": {
        "actionGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The action group that the API operation belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "httpMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP method of the API operation.</p>"
          }
        },
        "apiPath": {
          "target": "com.amazonaws.bedrockagentruntime#ApiPath",
          "traits": {
            "smithy.api#documentation": "<p>The path to the API operation.</p>"
          }
        },
        "parameters": {
          "target": "com.amazonaws.bedrockagentruntime#ApiParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters to provide for the API request, as the agent elicited from the user.</p>"
          }
        },
        "requestBody": {
          "target": "com.amazonaws.bedrockagentruntime#ApiRequestBody",
          "traits": {
            "smithy.api#documentation": "<p>The request body to provide for the API request, as the agent elicited from the user.</p>"
          }
        },
        "actionInvocationType": {
          "target": "com.amazonaws.bedrockagentruntime#ActionInvocationType",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the API operation to invoke.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the API operation that the agent predicts should be called.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>In the <code>returnControl</code> field of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#ApiParameter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter.</p>"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The data type for the parameter.</p>"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a parameter to provide to the API request.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#ApiParameters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagentruntime#ApiParameter"
      }
    },
    "com.amazonaws.bedrockagentruntime#ApiPath": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#ApiRequestBody": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.amazonaws.bedrockagentruntime#ApiContentMap",
          "traits": {
            "smithy.api#documentation": "<p>The content of the request body. The key of the object in this field is a media type defining the format of the request body.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request body to provide for the API request, as the agent elicited from the user.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#ApiResult": {
      "type": "structure",
      "members": {
        "actionGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The action group that the API operation belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "httpMethod": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP method for the API operation.</p>"
          }
        },
        "apiPath": {
          "target": "com.amazonaws.bedrockagentruntime#ApiPath",
          "traits": {
            "smithy.api#documentation": "<p>The path to the API operation.</p>"
          }
        },
        "confirmationState": {
          "target": "com.amazonaws.bedrockagentruntime#ConfirmationState",
          "traits": {
            "smithy.api#documentation": "<p>Controls the API operations or functions to invoke based on the user confirmation.</p>"
          }
        },
        "responseBody": {
          "target": "com.amazonaws.bedrockagentruntime#ResponseBody",
          "traits": {
            "smithy.api#documentation": "<p>The response body from the API operation. The key of the object is the content type (currently, only <code>TEXT</code> is supported). The response may be returned directly or from the Lambda function.</p>"
          }
        },
        "httpStatusCode": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>http status code from API execution response (for example: 200, 400, 500).</p>"
          }
        },
        "responseState": {
          "target": "com.amazonaws.bedrockagentruntime#ResponseState",
          "traits": {
            "smithy.api#documentation": "<p>Controls the final response state returned to end user when API/Function execution failed. When this state is FAILURE, the request would fail with dependency failure exception. When this state is REPROMPT, the API/function response will be sent to model for re-prompt</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the API operation that was called from the action group and the response body that was returned.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>In the <code>returnControlInvocationResults</code> of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_RequestSyntax\">InvokeAgent request</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#Attribution": {
      "type": "structure",
      "members": {
        "citations": {
          "target": "com.amazonaws.bedrockagentruntime#Citations",
          "traits": {
            "smithy.api#documentation": "<p>A list of citations and related information for a part of an agent response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains citations for a part of an agent response.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#BadGatewayException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockagentruntime#NonBlankString"
        },
        "resourceName": {
          "target": "com.amazonaws.bedrockagentruntime#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was an issue with a dependency due to a server issue. Retry your request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 502
      }
    },
    "com.amazonaws.bedrockagentruntime#BedrockModelArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^(arn:aws(-[^:]+)?:(bedrock|sagemaker):[a-z0-9-]{1,20}:([0-9]{12})?:([a-z-]+/)?)?([a-z0-9.-]{1,63}){0,2}(([:][a-z0-9-]{1,63}){0,2})?(/[a-z0-9]{1,12})?$"
      }
    },
    "com.amazonaws.bedrockagentruntime#ByteContentBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10485760
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#ByteContentDoc": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "com.amazonaws.bedrockagentruntime#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The file name of the document contained in the wrapper object.</p>",
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "com.amazonaws.bedrockagentruntime#ContentType",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the document contained in the wrapper object.</p>",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.amazonaws.bedrockagentruntime#ByteContentBlob",
          "traits": {
            "smithy.api#documentation": "<p>The byte value of the file to upload, encoded as a Base-64 string.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This property contains the document to chat with, along with its attributes.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#ByteContentFile": {
      "type": "structure",
      "members": {
        "mediaType": {
          "target": "com.amazonaws.bedrockagentruntime#MimeType",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of data contained in the file used for chat.</p>",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.amazonaws.bedrockagentruntime#ByteContentBlob",
          "traits": {
            "smithy.api#documentation": "<p>The raw bytes of the file to attach. The maximum size of all files that is attached is 10MB. You can attach a maximum of 5 files. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The property contains the file to chat with, along with its attributes.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#Citation": {
      "type": "structure",
      "members": {
        "generatedResponsePart": {
          "target": "com.amazonaws.bedrockagentruntime#GeneratedResponsePart",
          "traits": {
            "smithy.api#documentation": "<p>Contains the generated response and metadata </p>"
          }
        },
        "retrievedReferences": {
          "target": "com.amazonaws.bedrockagentruntime#RetrievedReferences",
          "traits": {
            "smithy.api#documentation": "<p>Contains metadata about the sources cited for the generated response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object containing a segment of the generated response that is based on a source in the knowledge base, alongside information about the source.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a> – in the <code>citations</code> field</p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_ResponseSyntax\">RetrieveAndGenerate response</a> – in the <code>citations</code> field</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#Citations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagentruntime#Citation"
      }
    },
    "com.amazonaws.bedrockagentruntime#CodeInterpreterInvocationInput": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The code for the code interpreter to use.</p>"
          }
        },
        "files": {
          "target": "com.amazonaws.bedrockagentruntime#Files",
          "traits": {
            "smithy.api#documentation": "<p>Files that are uploaded for code interpreter to use.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the code interpreter being invoked.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#CodeInterpreterInvocationOutput": {
      "type": "structure",
      "members": {
        "executionOutput": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Contains the successful output returned from code execution</p>"
          }
        },
        "executionError": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Contains the error returned from code execution.</p>"
          }
        },
        "files": {
          "target": "com.amazonaws.bedrockagentruntime#Files",
          "traits": {
            "smithy.api#documentation": "<p>Contains output files, if generated by code execution.</p>"
          }
        },
        "executionTimeout": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if the execution of the code timed out.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the JSON-formatted string returned by the API invoked by the code interpreter.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#ConfirmationState": {
      "type": "enum",
      "members": {
        "CONFIRM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFIRM"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockagentruntime#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was a conflict performing an operation. Resolve the conflict and retry your request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.bedrockagentruntime#ContentBody": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The body of the API response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the body of the API response.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>In the <code>returnControlInvocationResults</code> field of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_RequestSyntax\">InvokeAgent request</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#ContentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.bedrockagentruntime#Parameters"
      }
    },
    "com.amazonaws.bedrockagentruntime#ContentType": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-z]{1,20}/.{1,20}"
      }
    },
    "com.amazonaws.bedrockagentruntime#CreationMode": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "OVERRIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERRIDDEN"
          }
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#DateTimestamp": {
      "type": "timestamp",
      "traits": {
        "smithy.api#documentation": "Time Stamp.",
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.bedrockagentruntime#DeleteAgentMemory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagentruntime#DeleteAgentMemoryRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagentruntime#DeleteAgentMemoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagentruntime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#BadGatewayException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#DependencyFailedException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes memory from the specified memory identifier.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "DELETE",
          "uri": "/agents/{agentId}/agentAliases/{agentAliasId}/memories"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#DeleteAgentMemoryRequest": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagentruntime#AgentId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent to which the alias belongs.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "agentAliasId": {
          "target": "com.amazonaws.bedrockagentruntime#AgentAliasId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of an alias of an agent.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "memoryId": {
          "target": "com.amazonaws.bedrockagentruntime#MemoryId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the memory.</p>",
            "smithy.api#httpQuery": "memoryId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#DeleteAgentMemoryResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#DependencyFailedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockagentruntime#NonBlankString"
        },
        "resourceName": {
          "target": "com.amazonaws.bedrockagentruntime#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was an issue with a dependency. Check the resource configurations and retry the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 424
      }
    },
    "com.amazonaws.bedrockagentruntime#ExecutionType": {
      "type": "enum",
      "members": {
        "LAMBDA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LAMBDA"
          }
        },
        "RETURN_CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETURN_CONTROL"
          }
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#ExternalSource": {
      "type": "structure",
      "members": {
        "sourceType": {
          "target": "com.amazonaws.bedrockagentruntime#ExternalSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The source type of the external source wrapper object.</p>",
            "smithy.api#required": {}
          }
        },
        "s3Location": {
          "target": "com.amazonaws.bedrockagentruntime#S3ObjectDoc",
          "traits": {
            "smithy.api#documentation": "<p>The S3 location of the external source wrapper object.</p>"
          }
        },
        "byteContent": {
          "target": "com.amazonaws.bedrockagentruntime#ByteContentDoc",
          "traits": {
            "smithy.api#documentation": "<p>The identifier, contentType, and data of the external source wrapper object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The unique external source of the content contained in the wrapper object.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#ExternalSourceType": {
      "type": "enum",
      "members": {
        "S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3"
          }
        },
        "BYTE_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYTE_CONTENT"
          }
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#ExternalSources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagentruntime#ExternalSource"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#ExternalSourcesGenerationConfiguration": {
      "type": "structure",
      "members": {
        "promptTemplate": {
          "target": "com.amazonaws.bedrockagentruntime#PromptTemplate",
          "traits": {
            "smithy.api#documentation": "<p>Contain the textPromptTemplate string for the external source wrapper object.</p>"
          }
        },
        "guardrailConfiguration": {
          "target": "com.amazonaws.bedrockagentruntime#GuardrailConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration details for the guardrail.</p>"
          }
        },
        "inferenceConfig": {
          "target": "com.amazonaws.bedrockagentruntime#InferenceConfig",
          "traits": {
            "smithy.api#documentation": "<p> Configuration settings for inference when using RetrieveAndGenerate to generate responses while using an external source.</p>"
          }
        },
        "additionalModelRequestFields": {
          "target": "com.amazonaws.bedrockagentruntime#AdditionalModelRequestFields",
          "traits": {
            "smithy.api#documentation": "<p> Additional model parameters and their corresponding values not included in the textInferenceConfig structure for an external source. Takes in custom model parameters specific to the language model being used. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the generation configuration of the external source wrapper object.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#ExternalSourcesRetrieveAndGenerateConfiguration": {
      "type": "structure",
      "members": {
        "modelArn": {
          "target": "com.amazonaws.bedrockagentruntime#BedrockModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The model Amazon Resource Name (ARN) for the external source wrapper object in the <code>retrieveAndGenerate</code> function.</p>",
            "smithy.api#required": {}
          }
        },
        "sources": {
          "target": "com.amazonaws.bedrockagentruntime#ExternalSources",
          "traits": {
            "smithy.api#documentation": "<p>The document for the external source wrapper object in the <code>retrieveAndGenerate</code> function.</p>",
            "smithy.api#required": {}
          }
        },
        "generationConfiguration": {
          "target": "com.amazonaws.bedrockagentruntime#ExternalSourcesGenerationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The prompt used with the external source wrapper object with the <code>retrieveAndGenerate</code> function.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configurations of the external source wrapper object in the <code>retrieveAndGenerate</code> function.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#FailureReasonString": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FailureTrace": {
      "type": "structure",
      "members": {
        "traceId": {
          "target": "com.amazonaws.bedrockagentruntime#TraceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the trace.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.bedrockagentruntime#FailureReasonString",
          "traits": {
            "smithy.api#documentation": "<p>The reason the interaction failed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the failure of the interaction.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FileBody": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "max": 1000000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FilePart": {
      "type": "structure",
      "members": {
        "files": {
          "target": "com.amazonaws.bedrockagentruntime#OutputFiles",
          "traits": {
            "smithy.api#documentation": "<p>Files containing intermediate response for the user.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains intermediate response for code interpreter if any files have been generated.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#FileSource": {
      "type": "structure",
      "members": {
        "sourceType": {
          "target": "com.amazonaws.bedrockagentruntime#FileSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The source type of the files to attach.</p>",
            "smithy.api#required": {}
          }
        },
        "s3Location": {
          "target": "com.amazonaws.bedrockagentruntime#S3ObjectFile",
          "traits": {
            "smithy.api#documentation": "<p>The s3 location of the files to attach.</p>"
          }
        },
        "byteContent": {
          "target": "com.amazonaws.bedrockagentruntime#ByteContentFile",
          "traits": {
            "smithy.api#documentation": "<p>The data and the text of the attached files.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The source file of the content contained in the wrapper object.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#FileSourceType": {
      "type": "enum",
      "members": {
        "S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3"
          }
        },
        "BYTE_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYTE_CONTENT"
          }
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#FileUseCase": {
      "type": "enum",
      "members": {
        "CODE_INTERPRETER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_INTERPRETER"
          }
        },
        "CHAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHAT"
          }
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#Files": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.bedrockagentruntime#FilterAttribute": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.bedrockagentruntime#FilterKey",
          "traits": {
            "smithy.api#documentation": "<p>The name that the metadata attribute must match.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.bedrockagentruntime#FilterValue",
          "traits": {
            "smithy.api#documentation": "<p>The value to whcih to compare the value of the metadata attribute.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the name that the metadata attribute must match and the value to which to compare the value of the metadata attribute. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/kb-test-config.html\">Query configurations</a>.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_RequestSyntax\">RetrieveAndGenerate request</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#FilterKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#FilterValue": {
      "type": "document"
    },
    "com.amazonaws.bedrockagentruntime#FinalResponse": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.amazonaws.bedrockagentruntime#FinalResponseString",
          "traits": {
            "smithy.api#documentation": "<p>The text in the response to the user.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the response to the user.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#FinalResponseString": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowAliasIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 2048
        },
        "smithy.api#pattern": "^(arn:aws:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:flow/[0-9a-zA-Z]{10}/alias/[0-9a-zA-Z]{10})|(\\bTSTALIASID\\b|[0-9a-zA-Z]+)$"
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowCompletionEvent": {
      "type": "structure",
      "members": {
        "completionReason": {
          "target": "com.amazonaws.bedrockagentruntime#FlowCompletionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason that the flow completed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about why a flow completed.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowCompletionReason": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 2048
        },
        "smithy.api#pattern": "^(arn:aws:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:flow/[0-9a-zA-Z]{10})|([0-9a-zA-Z]{10})$"
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowInput": {
      "type": "structure",
      "members": {
        "nodeName": {
          "target": "com.amazonaws.bedrockagentruntime#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the flow input node that begins the prompt flow.</p>",
            "smithy.api#required": {}
          }
        },
        "nodeOutputName": {
          "target": "com.amazonaws.bedrockagentruntime#NodeOutputName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the output from the flow input node that begins the prompt flow.</p>",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.amazonaws.bedrockagentruntime#FlowInputContent",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an input into the prompt flow.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an input into the prompt flow and where to send it.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowInputContent": {
      "type": "union",
      "members": {
        "document": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>The input to send to the prompt flow input node.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an input into the flow.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowInputs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagentruntime#FlowInput"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowOutputContent": {
      "type": "union",
      "members": {
        "document": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>The content in the output.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the content in an output from prompt flow invocation.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowOutputEvent": {
      "type": "structure",
      "members": {
        "nodeName": {
          "target": "com.amazonaws.bedrockagentruntime#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the flow output node that the output is from.</p>",
            "smithy.api#required": {}
          }
        },
        "nodeType": {
          "target": "com.amazonaws.bedrockagentruntime#NodeType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the node that the output is from.</p>",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.amazonaws.bedrockagentruntime#FlowOutputContent",
          "traits": {
            "smithy.api#documentation": "<p>The content in the output.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an output from prompt flow invoction.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.bedrockagentruntime#InvokeFlow"
        }
      ]
    },
    "com.amazonaws.bedrockagentruntime#FlowResponseStream": {
      "type": "union",
      "members": {
        "flowOutputEvent": {
          "target": "com.amazonaws.bedrockagentruntime#FlowOutputEvent",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an output from flow invocation.</p>"
          }
        },
        "flowCompletionEvent": {
          "target": "com.amazonaws.bedrockagentruntime#FlowCompletionEvent",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about why the flow completed.</p>"
          }
        },
        "flowTraceEvent": {
          "target": "com.amazonaws.bedrockagentruntime#FlowTraceEvent",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about a trace, which tracks an input or output for a node in the flow.</p>"
          }
        },
        "internalServerException": {
          "target": "com.amazonaws.bedrockagentruntime#InternalServerException",
          "traits": {
            "smithy.api#documentation": "<p>An internal server error occurred. Retry your request.</p>"
          }
        },
        "validationException": {
          "target": "com.amazonaws.bedrockagentruntime#ValidationException",
          "traits": {
            "smithy.api#documentation": "<p>Input validation failed. Check your request parameters and retry the request.</p>"
          }
        },
        "resourceNotFoundException": {
          "target": "com.amazonaws.bedrockagentruntime#ResourceNotFoundException",
          "traits": {
            "smithy.api#documentation": "<p>The specified resource Amazon Resource Name (ARN) was not found. Check the Amazon Resource Name (ARN) and try your request again.</p>"
          }
        },
        "serviceQuotaExceededException": {
          "target": "com.amazonaws.bedrockagentruntime#ServiceQuotaExceededException",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests exceeds the service quota. Resubmit your request later.</p>"
          }
        },
        "throttlingException": {
          "target": "com.amazonaws.bedrockagentruntime#ThrottlingException",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests exceeds the limit. Resubmit your request later.</p>"
          }
        },
        "accessDeniedException": {
          "target": "com.amazonaws.bedrockagentruntime#AccessDeniedException",
          "traits": {
            "smithy.api#documentation": "<p>The request is denied because of missing access permissions. Check your permissions and retry your request.</p>"
          }
        },
        "conflictException": {
          "target": "com.amazonaws.bedrockagentruntime#ConflictException",
          "traits": {
            "smithy.api#documentation": "<p>There was a conflict performing an operation. Resolve the conflict and retry your request.</p>"
          }
        },
        "dependencyFailedException": {
          "target": "com.amazonaws.bedrockagentruntime#DependencyFailedException",
          "traits": {
            "smithy.api#documentation": "<p>There was an issue with a dependency. Check the resource configurations and retry the request.</p>"
          }
        },
        "badGatewayException": {
          "target": "com.amazonaws.bedrockagentruntime#BadGatewayException",
          "traits": {
            "smithy.api#documentation": "<p>There was an issue with a dependency due to a server issue. Retry your request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The output of the flow.</p>",
        "smithy.api#streaming": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowTrace": {
      "type": "union",
      "members": {
        "nodeInputTrace": {
          "target": "com.amazonaws.bedrockagentruntime#FlowTraceNodeInputEvent",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the input into a node.</p>"
          }
        },
        "nodeOutputTrace": {
          "target": "com.amazonaws.bedrockagentruntime#FlowTraceNodeOutputEvent",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the output from a node.</p>"
          }
        },
        "conditionNodeResultTrace": {
          "target": "com.amazonaws.bedrockagentruntime#FlowTraceConditionNodeResultEvent",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an output from a condition node.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an input or output for a node in the flow. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowTraceCondition": {
      "type": "structure",
      "members": {
        "conditionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the condition.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a condition that was satisfied. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowTraceConditionNodeResultEvent": {
      "type": "structure",
      "members": {
        "nodeName": {
          "target": "com.amazonaws.bedrockagentruntime#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the condition node.</p>",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "com.amazonaws.bedrockagentruntime#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the trace was returned.</p>",
            "smithy.api#required": {}
          }
        },
        "satisfiedConditions": {
          "target": "com.amazonaws.bedrockagentruntime#FlowTraceConditions",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects containing information about the conditions that were satisfied.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an output from a condition node. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowTraceConditions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagentruntime#FlowTraceCondition"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowTraceEvent": {
      "type": "structure",
      "members": {
        "trace": {
          "target": "com.amazonaws.bedrockagentruntime#FlowTrace",
          "traits": {
            "smithy.api#documentation": "<p>The trace object containing information about an input or output for a node in the flow.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a trace, which tracks an input or output for a node in the flow. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowTraceNodeInputContent": {
      "type": "union",
      "members": {
        "document": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>The content of the node input.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the content of the node input. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowTraceNodeInputEvent": {
      "type": "structure",
      "members": {
        "nodeName": {
          "target": "com.amazonaws.bedrockagentruntime#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the node that received the input.</p>",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "com.amazonaws.bedrockagentruntime#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the trace was returned.</p>",
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "com.amazonaws.bedrockagentruntime#FlowTraceNodeInputFields",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects containing information about each field in the input.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the input into a node. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowTraceNodeInputField": {
      "type": "structure",
      "members": {
        "nodeInputName": {
          "target": "com.amazonaws.bedrockagentruntime#NodeInputName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the node input.</p>",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.amazonaws.bedrockagentruntime#FlowTraceNodeInputContent",
          "traits": {
            "smithy.api#documentation": "<p>The content of the node input.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a field in the input into a node. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowTraceNodeInputFields": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagentruntime#FlowTraceNodeInputField"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowTraceNodeOutputContent": {
      "type": "union",
      "members": {
        "document": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>The content of the node output.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the content of the node output. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowTraceNodeOutputEvent": {
      "type": "structure",
      "members": {
        "nodeName": {
          "target": "com.amazonaws.bedrockagentruntime#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the node that yielded the output.</p>",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "com.amazonaws.bedrockagentruntime#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the trace was returned.</p>",
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "com.amazonaws.bedrockagentruntime#FlowTraceNodeOutputFields",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects containing information about each field in the output.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the output from a node. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowTraceNodeOutputField": {
      "type": "structure",
      "members": {
        "nodeOutputName": {
          "target": "com.amazonaws.bedrockagentruntime#NodeOutputName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the node output.</p>",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.amazonaws.bedrockagentruntime#FlowTraceNodeOutputContent",
          "traits": {
            "smithy.api#documentation": "<p>The content of the node output.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a field in the output from a node. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-trace.html\">Track each step in your prompt flow by viewing its trace in Amazon Bedrock</a>.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FlowTraceNodeOutputFields": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagentruntime#FlowTraceNodeOutputField"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#Function": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FunctionInvocationInput": {
      "type": "structure",
      "members": {
        "actionGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The action group that the function belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "com.amazonaws.bedrockagentruntime#FunctionParameters",
          "traits": {
            "smithy.api#documentation": "<p>A list of parameters of the function.</p>"
          }
        },
        "function": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the function.</p>"
          }
        },
        "actionInvocationType": {
          "target": "com.amazonaws.bedrockagentruntime#ActionInvocationType",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the function to invoke,</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the function that the agent predicts should be called.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>In the <code>returnControl</code> field of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#FunctionParameter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter.</p>"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the parameter.</p>"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a parameter of the function.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>In the <code>returnControl</code> field of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#FunctionParameters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagentruntime#FunctionParameter"
      }
    },
    "com.amazonaws.bedrockagentruntime#FunctionResult": {
      "type": "structure",
      "members": {
        "actionGroup": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The action group that the function belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "confirmationState": {
          "target": "com.amazonaws.bedrockagentruntime#ConfirmationState",
          "traits": {
            "smithy.api#documentation": "<p>Contains the user confirmation information about the function that was called.</p>"
          }
        },
        "function": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the function that was called.</p>"
          }
        },
        "responseBody": {
          "target": "com.amazonaws.bedrockagentruntime#ResponseBody",
          "traits": {
            "smithy.api#documentation": "<p>The response from the function call using the parameters. The key of the object is the content type (currently, only <code>TEXT</code> is supported). The response may be returned directly or from the Lambda function.</p>"
          }
        },
        "responseState": {
          "target": "com.amazonaws.bedrockagentruntime#ResponseState",
          "traits": {
            "smithy.api#documentation": "<p>Controls the final response state returned to end user when API/Function execution failed. When this state is FAILURE, the request would fail with dependency failure exception. When this state is REPROMPT, the API/function response will be sent to model for re-prompt</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the function that was called from the action group and the response that was returned.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>In the <code>returnControlInvocationResults</code> of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_RequestSyntax\">InvokeAgent request</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#GeneratedResponsePart": {
      "type": "structure",
      "members": {
        "textResponsePart": {
          "target": "com.amazonaws.bedrockagentruntime#TextResponsePart",
          "traits": {
            "smithy.api#documentation": "<p>Contains metadata about a textual part of the generated response that is accompanied by a citation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata about a part of the generated response that is accompanied by a citation.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a> – in the <code>generatedResponsePart</code> field</p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_ResponseSyntax\">RetrieveAndGenerate response</a> – in the <code>generatedResponsePart</code> field</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#GenerationConfiguration": {
      "type": "structure",
      "members": {
        "promptTemplate": {
          "target": "com.amazonaws.bedrockagentruntime#PromptTemplate",
          "traits": {
            "smithy.api#documentation": "<p>Contains the template for the prompt that's sent to the model for response generation. Generation prompts must include the <code>$search_results$</code> variable. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prompt-placeholders.html\">Use placeholder variables</a> in the user guide.</p>"
          }
        },
        "guardrailConfiguration": {
          "target": "com.amazonaws.bedrockagentruntime#GuardrailConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration details for the guardrail.</p>"
          }
        },
        "inferenceConfig": {
          "target": "com.amazonaws.bedrockagentruntime#InferenceConfig",
          "traits": {
            "smithy.api#documentation": "<p> Configuration settings for inference when using RetrieveAndGenerate to generate responses while using a knowledge base as a source. </p>"
          }
        },
        "additionalModelRequestFields": {
          "target": "com.amazonaws.bedrockagentruntime#AdditionalModelRequestFields",
          "traits": {
            "smithy.api#documentation": "<p> Additional model parameters and corresponding values not included in the textInferenceConfig structure for a knowledge base. This allows users to provide custom model parameters specific to the language model being used. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configurations for response generation based on the knowledge base query results.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_RequestSyntax\">RetrieveAndGenerate request</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#GetAgentMemory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagentruntime#GetAgentMemoryRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagentruntime#GetAgentMemoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagentruntime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#BadGatewayException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#DependencyFailedException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the sessions stored in the memory of the agent.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/agents/{agentId}/agentAliases/{agentAliasId}/memories"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxItems",
          "items": "memoryContents"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#GetAgentMemoryRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.bedrockagentruntime#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the total number of results is greater than the maxItems value provided in the request, enter the token returned \n      in the <code>nextToken</code> field in the response in this field to return the next batch of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "maxItems": {
          "target": "com.amazonaws.bedrockagentruntime#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return in the response. If the total number of results is greater \n      than this value, use the token returned in the response in the <code>nextToken</code> field when making another \n      request to return the next batch of results.</p>",
            "smithy.api#httpQuery": "maxItems"
          }
        },
        "agentId": {
          "target": "com.amazonaws.bedrockagentruntime#AgentId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent to which the alias belongs.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "agentAliasId": {
          "target": "com.amazonaws.bedrockagentruntime#AgentAliasId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of an alias of an agent.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "memoryType": {
          "target": "com.amazonaws.bedrockagentruntime#MemoryType",
          "traits": {
            "smithy.api#documentation": "<p>The type of memory.</p>",
            "smithy.api#httpQuery": "memoryType",
            "smithy.api#required": {}
          }
        },
        "memoryId": {
          "target": "com.amazonaws.bedrockagentruntime#MemoryId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the memory. </p>",
            "smithy.api#httpQuery": "memoryId",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#GetAgentMemoryResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.bedrockagentruntime#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the total number of results is greater than the maxItems value provided in the request, use this token \n      when making another request in the <code>nextToken</code> field to return the next batch of results.</p>"
          }
        },
        "memoryContents": {
          "target": "com.amazonaws.bedrockagentruntime#Memories",
          "traits": {
            "smithy.api#documentation": "<p>Contains details of the sessions stored in the memory</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#GuadrailAction": {
      "type": "enum",
      "members": {
        "INTERVENED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERVENED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#GuardrailAction": {
      "type": "enum",
      "members": {
        "INTERVENED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERVENED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#GuardrailAssessment": {
      "type": "structure",
      "members": {
        "topicPolicy": {
          "target": "com.amazonaws.bedrockagentruntime#GuardrailTopicPolicyAssessment",
          "traits": {
            "smithy.api#documentation": "<p>Topic policy details of the Guardrail.</p>"
          }
        },
        "contentPolicy": {
          "target": "com.amazonaws.bedrockagentruntime#GuardrailContentPolicyAssessment",
          "traits": {
            "smithy.api#documentation": "<p>Content policy details of the Guardrail.</p>"
          }
        },
        "wordPolicy": {
          "target": "com.amazonaws.bedrockagentruntime#GuardrailWordPolicyAssessment",
          "traits": {
            "smithy.api#documentation": "<p>Word policy details of the Guardrail.</p>"
          }
        },
[...]
