{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.bedrock#AcceptEula": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.bedrock#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrock#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is denied because of missing access permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.bedrock#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.bedrock#AdditionalModelRequestFields": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.bedrock#AdditionalModelRequestFieldsKey"
      },
      "value": {
        "target": "com.amazonaws.bedrock#AdditionalModelRequestFieldsValue"
      }
    },
    "com.amazonaws.bedrock#AdditionalModelRequestFieldsKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.bedrock#AdditionalModelRequestFieldsValue": {
      "type": "document"
    },
    "com.amazonaws.bedrock#AmazonBedrockControlPlaneService": {
      "type": "service",
      "version": "2023-04-20",
      "resources": [
        {
          "target": "com.amazonaws.bedrock#BedrockMarketplaceResource"
        },
        {
          "target": "com.amazonaws.bedrock#EvaluationJobResource"
        },
        {
          "target": "com.amazonaws.bedrock#GuardrailsResource"
        },
        {
          "target": "com.amazonaws.bedrock#InferenceProfileResource"
        },
        {
          "target": "com.amazonaws.bedrock#LoggingResource"
        },
        {
          "target": "com.amazonaws.bedrock#ModelCopyResource"
        },
        {
          "target": "com.amazonaws.bedrock#ModelImportResource"
        },
        {
          "target": "com.amazonaws.bedrock#ModelInvocationJobResource"
        },
        {
          "target": "com.amazonaws.bedrock#ModelResource"
        },
        {
          "target": "com.amazonaws.bedrock#PromptRouterResource"
        },
        {
          "target": "com.amazonaws.bedrock#ProvisionedModelThroughputResource"
        },
        {
          "target": "com.amazonaws.bedrock#SubscriptionResource"
        },
        {
          "target": "com.amazonaws.bedrock#TaggingResource"
        },
        {
          "target": "com.amazonaws.bedrock#TrainingResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Bedrock",
          "endpointPrefix": "bedrock"
        },
        "aws.auth#sigv4": {
          "name": "bedrock"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Describes the API operations for creating, managing, fine-turning, and evaluating Amazon Bedrock models.</p>",
        "smithy.api#title": "Amazon Bedrock",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://bedrock.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.bedrock#ApplicationType": {
      "type": "enum",
      "members": {
        "MODEL_EVALUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ModelEvaluation"
          }
        },
        "RAG_EVALUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RagEvaluation"
          }
        }
      }
    },
    "com.amazonaws.bedrock#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 2048
        }
      }
    },
    "com.amazonaws.bedrock#AutomatedEvaluationConfig": {
      "type": "structure",
      "members": {
        "datasetMetricConfigs": {
          "target": "com.amazonaws.bedrock#EvaluationDatasetMetricConfigs",
          "traits": {
            "smithy.api#documentation": "<p>Configuration details of the prompt datasets and metrics you want to use for your evaluation job.</p>",
            "smithy.api#required": {}
          }
        },
        "evaluatorModelConfig": {
          "target": "com.amazonaws.bedrock#EvaluatorModelConfig",
          "traits": {
            "smithy.api#documentation": "<p>Contains the evaluator model configuration details. <code>EvaluatorModelConfig</code> is required for evaluation jobs that use a knowledge base or in model evaluation job that use a model as judge. This model computes all evaluation related metrics.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration details of an automated evaluation job. The <code>EvaluationDatasetMetricConfig</code> object \n         is used to specify the prompt datasets, task type, and metric names.</p>"
      }
    },
    "com.amazonaws.bedrock#BaseModelIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^(arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/([a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([.]?[a-z0-9-]{1,63})([:][a-z0-9-]{1,63}){0,2})/[a-z0-9]{12})|(:foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([:][a-z0-9-]{1,63}){0,2})))|([a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([.]?[a-z0-9-]{1,63})([:][a-z0-9-]{1,63}){0,2})|(([0-9a-zA-Z][_-]?)+)$"
      }
    },
    "com.amazonaws.bedrock#BatchDeleteEvaluationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#BatchDeleteEvaluationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#BatchDeleteEvaluationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a batch of evaluation jobs. An evaluation job can only be deleted if it has \n         following status <code>FAILED</code>, <code>COMPLETED</code>, and <code>STOPPED</code>. \n         You can request up to 25 model evaluation jobs be deleted in a single request.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "POST",
          "uri": "/evaluation-jobs/batch-delete"
        }
      }
    },
    "com.amazonaws.bedrock#BatchDeleteEvaluationJobError": {
      "type": "structure",
      "members": {
        "jobIdentifier": {
          "target": "com.amazonaws.bedrock#EvaluationJobIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the evaluation job being deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A HTTP status code of the evaluation job being deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A status message about the evaluation job deletion.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON array that provides the status of the evaluation jobs being deleted.</p>"
      }
    },
    "com.amazonaws.bedrock#BatchDeleteEvaluationJobErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrock#BatchDeleteEvaluationJobError"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 25
        }
      }
    },
    "com.amazonaws.bedrock#BatchDeleteEvaluationJobItem": {
      "type": "structure",
      "members": {
        "jobIdentifier": {
          "target": "com.amazonaws.bedrock#EvaluationJobIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the evaluation job for deletion.</p>",
            "smithy.api#required": {}
          }
        },
        "jobStatus": {
          "target": "com.amazonaws.bedrock#EvaluationJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the evaluation job for deletion.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An evaluation job for deletion, and it’s current status.</p>"
      }
    },
    "com.amazonaws.bedrock#BatchDeleteEvaluationJobItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrock#BatchDeleteEvaluationJobItem"
      }
    },
    "com.amazonaws.bedrock#BatchDeleteEvaluationJobRequest": {
      "type": "structure",
      "members": {
        "jobIdentifiers": {
          "target": "com.amazonaws.bedrock#EvaluationJobIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>A list of one or more evaluation job Amazon Resource Names (ARNs) you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#BatchDeleteEvaluationJobResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.bedrock#BatchDeleteEvaluationJobErrors",
          "traits": {
            "smithy.api#documentation": "<p>A JSON object containing the HTTP status codes and the ARNs of evaluation jobs that failed to be deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "evaluationJobs": {
          "target": "com.amazonaws.bedrock#BatchDeleteEvaluationJobItems",
          "traits": {
            "smithy.api#documentation": "<p>The list of evaluation jobs for deletion.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#BedrockEvaluatorModel": {
      "type": "structure",
      "members": {
        "modelIdentifier": {
          "target": "com.amazonaws.bedrock#EvaluatorModelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the evaluator model used used in knowledge base evaluation job or in model evaluation job that use a model as judge.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The evaluator model used in knowledge base evaluation job or in model evaluation job that use a model as judge. This model computes all evaluation related metrics.</p>"
      }
    },
    "com.amazonaws.bedrock#BedrockEvaluatorModels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrock#BedrockEvaluatorModel"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.bedrock#BedrockMarketplaceResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.bedrock#CreateMarketplaceModelEndpoint"
        },
        {
          "target": "com.amazonaws.bedrock#DeleteMarketplaceModelEndpoint"
        },
        {
          "target": "com.amazonaws.bedrock#DeregisterMarketplaceModelEndpoint"
        },
        {
          "target": "com.amazonaws.bedrock#GetMarketplaceModelEndpoint"
        },
        {
          "target": "com.amazonaws.bedrock#ListMarketplaceModelEndpoints"
        },
        {
          "target": "com.amazonaws.bedrock#RegisterMarketplaceModelEndpoint"
        },
        {
          "target": "com.amazonaws.bedrock#UpdateMarketplaceModelEndpoint"
        }
      ]
    },
    "com.amazonaws.bedrock#BedrockModelArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^(arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12})|(:foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([.:]?[a-z0-9-]{1,63}))))|(arn:aws(|-us-gov|-cn|-iso|-iso-b):bedrock:(|[0-9a-z-]{1,20}):(|[0-9]{12}):inference-profile/[a-zA-Z0-9-:.]+)|([a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([.:]?[a-z0-9-]{1,63}))|(([0-9a-zA-Z][_-]?)+)$"
      }
    },
    "com.amazonaws.bedrock#BedrockModelId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 140
        },
        "smithy.api#pattern": "^[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([a-z0-9-]{1,63}[.]){0,2}[a-z0-9-]{1,63}([:][a-z0-9-]{1,63}){0,2}(/[a-z0-9]{12}|)$"
      }
    },
    "com.amazonaws.bedrock#BrandedName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.bedrock#BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 63
        }
      }
    },
    "com.amazonaws.bedrock#ByteContentBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10485760
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrock#ByteContentDoc": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "com.amazonaws.bedrock#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The file name of the document contained in the wrapper object.</p>",
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "com.amazonaws.bedrock#ContentType",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the document contained in the wrapper object.</p>",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.amazonaws.bedrock#ByteContentBlob",
          "traits": {
            "smithy.api#documentation": "<p>The byte value of the file to upload, encoded as a Base-64 string.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the document contained in the wrapper object, along with its attributes/fields.</p>"
      }
    },
    "com.amazonaws.bedrock#CloudWatchConfig": {
      "type": "structure",
      "members": {
        "logGroupName": {
          "target": "com.amazonaws.bedrock#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The log group name.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.bedrock#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The role Amazon Resource Name (ARN).</p>",
            "smithy.api#required": {}
          }
        },
        "largeDataDeliveryS3Config": {
          "target": "com.amazonaws.bedrock#S3Config",
          "traits": {
            "smithy.api#documentation": "<p>S3 configuration for delivering a large amount of data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CloudWatch logging configuration.</p>"
      }
    },
    "com.amazonaws.bedrock#CommitmentDuration": {
      "type": "enum",
      "members": {
        "ONE_MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneMonth"
          }
        },
        "SIX_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SixMonths"
          }
        }
      }
    },
    "com.amazonaws.bedrock#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrock#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error occurred because of a conflict while performing an operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.bedrock#ContentType": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-z]{1,20}/.{1,20}"
      }
    },
    "com.amazonaws.bedrock#CreateEvaluationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#CreateEvaluationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#CreateEvaluationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an evaluation job.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "POST",
          "uri": "/evaluation-jobs"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bedrock#CreateEvaluationJobRequest": {
      "type": "structure",
      "members": {
        "jobName": {
          "target": "com.amazonaws.bedrock#EvaluationJobName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the evaluation job. Names must unique with your Amazon Web Services account, \n         and your account's Amazon Web Services region.</p>",
            "smithy.api#required": {}
          }
        },
        "jobDescription": {
          "target": "com.amazonaws.bedrock#EvaluationJobDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the evaluation job.</p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.bedrock#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the API request completes no more than one time. If this token matches a previous request,\n      Amazon Bedrock ignores the request, but does not return an error. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.bedrock#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM service role that Amazon Bedrock can \n         assume to perform tasks on your behalf. To learn more about the required permissions, \n         see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-evaluation-security.html\">Required \n            permissions for model evaluations</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "customerEncryptionKeyId": {
          "target": "com.amazonaws.bedrock#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>Specify your customer managed encryption key Amazon Resource Name (ARN) that will be used to encrypt your evaluation job.</p>"
          }
        },
        "jobTags": {
          "target": "com.amazonaws.bedrock#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags to attach to the model evaluation job.</p>"
          }
        },
        "applicationType": {
          "target": "com.amazonaws.bedrock#ApplicationType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the evaluation job is for evaluating a model or evaluating a knowledge base\n         (retrieval and response generation).</p>"
          }
        },
        "evaluationConfig": {
          "target": "com.amazonaws.bedrock#EvaluationConfig",
          "traits": {
            "smithy.api#documentation": "<p>Contains the configuration details of either an automated or human-based evaluation job.</p>",
            "smithy.api#required": {}
          }
        },
        "inferenceConfig": {
          "target": "com.amazonaws.bedrock#EvaluationInferenceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Contains the configuration details of the inference model for the evaluation job.</p>\n         <p>For model evaluation jobs, automated jobs support a single model or \n         <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/cross-region-inference.html\">inference profile</a>, and jobs that use human workers support \n         two models or inference profiles.</p>",
            "smithy.api#required": {}
          }
        },
        "outputDataConfig": {
          "target": "com.amazonaws.bedrock#EvaluationOutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Contains the configuration details of the Amazon S3 bucket for storing the results \n         of the evaluation job.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#CreateEvaluationJobResponse": {
      "type": "structure",
      "members": {
        "jobArn": {
          "target": "com.amazonaws.bedrock#EvaluationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the evaluation job.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#CreateGuardrail": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#CreateGuardrailRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#CreateGuardrailResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a guardrail to block topics and to implement safeguards for your generative AI applications.</p>\n         <p>You can configure the following policies in a guardrail to avoid undesirable and harmful content, filter \n        out denied topics and words, and remove sensitive information for privacy protection.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Content filters</b> - Adjust filter strengths\n              to block input prompts or model responses containing harmful content.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Denied topics</b> - Define a set of topics that\n              are undesirable in the context of your application. These topics will be blocked if\n              detected in user queries or model responses.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Word filters</b> - Configure filters to block\n              undesirable words, phrases, and profanity. Such words can include offensive terms, \n              competitor names etc.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Sensitive information filters</b> - Block or\n              mask sensitive information such as personally identifiable information (PII) or custom \n              regex in user inputs and model responses.</p>\n            </li>\n         </ul>\n         <p>In addition to the above policies, you can also configure the messages to be returned to \n        the user if a user input or model response is in violation of the policies defined in the guardrail.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/guardrails.html\">Amazon Bedrock Guardrails</a> in\n         the <i>Amazon Bedrock User Guide</i>.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "POST",
          "uri": "/guardrails"
        }
      }
    },
    "com.amazonaws.bedrock#CreateGuardrailRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.bedrock#GuardrailName",
          "traits": {
            "smithy.api#documentation": "<p>The name to give the guardrail.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrock#GuardrailDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the guardrail.</p>"
          }
        },
        "topicPolicyConfig": {
          "target": "com.amazonaws.bedrock#GuardrailTopicPolicyConfig",
          "traits": {
            "smithy.api#documentation": "<p>The topic policies to configure for the guardrail.</p>"
          }
        },
        "contentPolicyConfig": {
          "target": "com.amazonaws.bedrock#GuardrailContentPolicyConfig",
          "traits": {
            "smithy.api#documentation": "<p>The content filter policies to configure for the guardrail.</p>"
          }
        },
        "wordPolicyConfig": {
          "target": "com.amazonaws.bedrock#GuardrailWordPolicyConfig",
          "traits": {
            "smithy.api#documentation": "<p>The word policy you configure for the guardrail.</p>"
          }
        },
        "sensitiveInformationPolicyConfig": {
          "target": "com.amazonaws.bedrock#GuardrailSensitiveInformationPolicyConfig",
          "traits": {
            "smithy.api#documentation": "<p>The sensitive information policy to configure for the guardrail.</p>"
          }
        },
        "contextualGroundingPolicyConfig": {
          "target": "com.amazonaws.bedrock#GuardrailContextualGroundingPolicyConfig",
          "traits": {
            "smithy.api#documentation": "<p>The contextual grounding policy configuration used to create a guardrail.</p>"
          }
        },
        "blockedInputMessaging": {
          "target": "com.amazonaws.bedrock#GuardrailBlockedMessaging",
          "traits": {
            "smithy.api#documentation": "<p>The message to return when the guardrail blocks a prompt.</p>",
            "smithy.api#required": {}
          }
        },
        "blockedOutputsMessaging": {
          "target": "com.amazonaws.bedrock#GuardrailBlockedMessaging",
          "traits": {
            "smithy.api#documentation": "<p>The message to return when the guardrail blocks a model response.</p>",
            "smithy.api#required": {}
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.bedrock#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the KMS key that you use to encrypt the guardrail.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.bedrock#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags that you want to attach to the guardrail. </p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.bedrock#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the API request \n         completes no more than once. If this token matches a previous request, \n         Amazon Bedrock ignores the request, but does not return an error. \n         For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring \n            idempotency</a> in the <i>Amazon S3 User Guide</i>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#CreateGuardrailResponse": {
      "type": "structure",
      "members": {
        "guardrailId": {
          "target": "com.amazonaws.bedrock#GuardrailId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the guardrail that was created.</p>",
            "smithy.api#required": {}
          }
        },
        "guardrailArn": {
          "target": "com.amazonaws.bedrock#GuardrailArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the guardrail.</p>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.bedrock#GuardrailDraftVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the guardrail that was created. \n         This value will always be <code>DRAFT</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.bedrock#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the guardrail was created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#CreateGuardrailVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#CreateGuardrailVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#CreateGuardrailVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a version of the guardrail. Use this API to create a snapshot of the \n      guardrail when you are satisfied with a configuration, or to compare the configuration with another version.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "POST",
          "uri": "/guardrails/{guardrailIdentifier}"
        }
      }
    },
    "com.amazonaws.bedrock#CreateGuardrailVersionRequest": {
      "type": "structure",
      "members": {
        "guardrailIdentifier": {
          "target": "com.amazonaws.bedrock#GuardrailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the guardrail. This can be an ID or the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrock#GuardrailDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the guardrail version.</p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.bedrock#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the API request \n         completes no more than once. If this token matches a previous request, \n         Amazon Bedrock ignores the request, but does not return an error. \n         For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring \n            idempotency</a> in the <i>Amazon S3 User Guide</i>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#CreateGuardrailVersionResponse": {
      "type": "structure",
      "members": {
        "guardrailId": {
          "target": "com.amazonaws.bedrock#GuardrailId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the guardrail.</p>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.bedrock#GuardrailNumericalVersion",
          "traits": {
            "smithy.api#documentation": "<p>The number of the version of the guardrail.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#CreateInferenceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#CreateInferenceProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#CreateInferenceProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an application inference profile to track metrics and costs when invoking a model. To create an application inference profile for a foundation model in one region, specify the ARN of the model in that region. To create an application inference profile for a foundation model across multiple regions, specify the ARN of the system-defined inference profile that contains the regions that you want to route requests to. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/cross-region-inference.html\">Increase throughput and resilience with cross-region inference in Amazon Bedrock</a>. in the Amazon Bedrock User Guide.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/inference-profiles"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bedrock#CreateInferenceProfileRequest": {
      "type": "structure",
      "members": {
        "inferenceProfileName": {
          "target": "com.amazonaws.bedrock#InferenceProfileName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the inference profile.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrock#InferenceProfileDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the inference profile.</p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.bedrock#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the API request completes no more than one time. If this token matches a previous request,\n      Amazon Bedrock ignores the request, but does not return an error. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "modelSource": {
          "target": "com.amazonaws.bedrock#InferenceProfileModelSource",
          "traits": {
            "smithy.api#documentation": "<p>The foundation model or system-defined inference profile that the inference profile will track metrics and costs for.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.bedrock#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects, each of which contains a tag and its value. For more information, see  <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Tagging resources</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#CreateInferenceProfileResponse": {
      "type": "structure",
      "members": {
        "inferenceProfileArn": {
          "target": "com.amazonaws.bedrock#InferenceProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the inference profile that you created.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.bedrock#InferenceProfileStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the inference profile. <code>ACTIVE</code> means that the inference profile is ready to be used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#CreateMarketplaceModelEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#CreateMarketplaceModelEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#CreateMarketplaceModelEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an endpoint for a model from Amazon Bedrock Marketplace. The endpoint is hosted by\n            Amazon SageMaker.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/marketplace-model/endpoints"
        }
      }
    },
    "com.amazonaws.bedrock#CreateMarketplaceModelEndpointRequest": {
      "type": "structure",
      "members": {
        "modelSourceIdentifier": {
          "target": "com.amazonaws.bedrock#ModelSourceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the model from Amazon Bedrock Marketplace that you want to deploy to the\n            endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "endpointConfig": {
          "target": "com.amazonaws.bedrock#EndpointConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the endpoint, including the number and type of instances to\n            use.</p>",
            "smithy.api#required": {}
          }
        },
        "acceptEula": {
          "target": "com.amazonaws.bedrock#AcceptEula",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether you accept the end-user license agreement (EULA) for the model. Set\n            to <code>true</code> to accept the EULA.</p>"
          }
        },
        "endpointName": {
          "target": "com.amazonaws.bedrock#EndpointName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the endpoint. This name must be unique within your Amazon Web Services\n            account and region.</p>",
            "smithy.api#required": {}
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.bedrock#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. This token is listed as not required because Amazon Web Services SDKs\n            automatically generate it for you and set this parameter. If you're not using the\n                Amazon Web Services SDK or the CLI, you must provide this token or the\n            action will fail.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.bedrock#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key-value pairs to apply to the underlying Amazon SageMaker endpoint. You can use\n            these tags to organize and identify your Amazon Web Services resources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#CreateMarketplaceModelEndpointResponse": {
      "type": "structure",
      "members": {
        "marketplaceModelEndpoint": {
          "target": "com.amazonaws.bedrock#MarketplaceModelEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>Details about the created endpoint.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#CreateModelCopyJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#CreateModelCopyJobRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#CreateModelCopyJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies a model to another region so that it can be used there. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/copy-model.html\">Copy models to be used in other regions</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/model-copy-jobs"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bedrock#CreateModelCopyJobRequest": {
      "type": "structure",
      "members": {
        "sourceModelArn": {
          "target": "com.amazonaws.bedrock#ModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the model to be copied.</p>",
            "smithy.api#required": {}
          }
        },
        "targetModelName": {
          "target": "com.amazonaws.bedrock#CustomModelName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the copied model.</p>",
            "smithy.api#required": {}
          }
        },
        "modelKmsKeyId": {
          "target": "com.amazonaws.bedrock#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the KMS key that you use to encrypt the model copy.</p>"
          }
        },
        "targetModelTags": {
          "target": "com.amazonaws.bedrock#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags to associate with the target model. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/tagging.html\">Tag resources</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.bedrock#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the API request completes no more than one time. If this token matches a previous request,\n      Amazon Bedrock ignores the request, but does not return an error. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#CreateModelCopyJobResponse": {
      "type": "structure",
      "members": {
        "jobArn": {
          "target": "com.amazonaws.bedrock#ModelCopyJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the model copy job.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#CreateModelCustomizationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#CreateModelCustomizationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#CreateModelCustomizationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a fine-tuning job to customize a base model.</p>\n         <p>You specify the base foundation model and the location of the training data.\n         After the  model-customization job completes successfully, your custom model resource will be ready to use. Amazon Bedrock returns validation loss metrics and output generations after the job completes.\n      </p>\n         <p>For information on the format of training and validation data, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-prepare.html\">Prepare the datasets</a>.</p>\n         <p>\n       Model-customization jobs are asynchronous and the completion time depends on the base model and the training/validation data size.\n       To monitor a job, use the <code>GetModelCustomizationJob</code> operation to retrieve the job status.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/model-customization-jobs"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bedrock#CreateModelCustomizationJobRequest": {
      "type": "structure",
      "members": {
        "jobName": {
          "target": "com.amazonaws.bedrock#JobName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the fine-tuning job.</p>",
            "smithy.api#required": {}
          }
        },
        "customModelName": {
          "target": "com.amazonaws.bedrock#CustomModelName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the resulting custom model.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.bedrock#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM service role that Amazon Bedrock can assume to perform tasks on your behalf.\n         For example, during model training, Amazon Bedrock needs your permission to read input data from an S3 bucket, write model artifacts to an S3 bucket.\n         To pass this role to Amazon Bedrock, the caller of this API must have the <code>iam:PassRole</code> permission.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.bedrock#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the API request completes no more than one time. If this token matches a previous request,\n         Amazon Bedrock ignores the request, but does not return an error. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "baseModelIdentifier": {
          "target": "com.amazonaws.bedrock#BaseModelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Name of the base model.</p>",
            "smithy.api#required": {}
          }
        },
        "customizationType": {
          "target": "com.amazonaws.bedrock#CustomizationType",
          "traits": {
            "smithy.api#documentation": "<p>The customization type.</p>"
          }
        },
        "customModelKmsKeyId": {
          "target": "com.amazonaws.bedrock#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The custom model is encrypted at rest using this key.</p>"
          }
        },
        "jobTags": {
          "target": "com.amazonaws.bedrock#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags to attach to the job.</p>"
          }
        },
        "customModelTags": {
          "target": "com.amazonaws.bedrock#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags to attach to the resulting custom model.</p>"
          }
        },
        "trainingDataConfig": {
          "target": "com.amazonaws.bedrock#TrainingDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the training dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "validationDataConfig": {
          "target": "com.amazonaws.bedrock#ValidationDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the validation dataset. </p>"
          }
        },
        "outputDataConfig": {
          "target": "com.amazonaws.bedrock#OutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>S3 location for the output data.</p>",
            "smithy.api#required": {}
          }
        },
        "hyperParameters": {
          "target": "com.amazonaws.bedrock#ModelCustomizationHyperParameters",
          "traits": {
            "smithy.api#documentation": "<p>Parameters related to tuning the model. For details on the format for different models, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models-hp.html\">Custom model hyperparameters</a>.</p>"
          }
        },
        "vpcConfig": {
          "target": "com.amazonaws.bedrock#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the Virtual Private Cloud (VPC) that contains the resources that you're using for this job. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/vpc-model-customization.html\">Protect your model customization jobs using a VPC</a>.</p>"
          }
        },
        "customizationConfig": {
          "target": "com.amazonaws.bedrock#CustomizationConfig",
          "traits": {
            "smithy.api#documentation": "<p>The customization configuration for the model customization job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#CreateModelCustomizationJobResponse": {
      "type": "structure",
      "members": {
        "jobArn": {
          "target": "com.amazonaws.bedrock#ModelCustomizationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the fine tuning job</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#CreateModelImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#CreateModelImportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#CreateModelImportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a model import job to import model that you have customized in other environments, such as Amazon SageMaker. For more information, \n    see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-import-model.html\">Import a customized model</a>\n         </p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/model-import-jobs"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bedrock#CreateModelImportJobRequest": {
      "type": "structure",
      "members": {
        "jobName": {
          "target": "com.amazonaws.bedrock#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the import job.</p>",
            "smithy.api#required": {}
          }
        },
        "importedModelName": {
          "target": "com.amazonaws.bedrock#ImportedModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the imported model.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.bedrock#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the model import job.</p>",
            "smithy.api#required": {}
          }
        },
        "modelDataSource": {
          "target": "com.amazonaws.bedrock#ModelDataSource",
          "traits": {
            "smithy.api#documentation": "<p>The data source for the imported model.</p>",
            "smithy.api#required": {}
          }
        },
        "jobTags": {
          "target": "com.amazonaws.bedrock#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags to attach to this import job. </p>"
          }
        },
        "importedModelTags": {
          "target": "com.amazonaws.bedrock#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags to attach to the imported model.</p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.bedrock#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the API request completes no more than one time. If this token matches a previous request,\n        Amazon Bedrock ignores the request, but does not return an error. For more information, \n        see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>.</p>"
          }
        },
        "vpcConfig": {
          "target": "com.amazonaws.bedrock#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>VPC configuration parameters for the\n        private Virtual Private Cloud (VPC) that contains the resources you are using for the import job.</p>"
          }
        },
        "importedModelKmsKeyId": {
          "target": "com.amazonaws.bedrock#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The imported model is encrypted at rest using this key.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#CreateModelImportJobResponse": {
      "type": "structure",
      "members": {
        "jobArn": {
          "target": "com.amazonaws.bedrock#ModelImportJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the model import job.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#CreateModelInvocationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#CreateModelInvocationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#CreateModelInvocationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a batch inference job to invoke a model on multiple prompts. Format your data according to <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/batch-inference-data\">Format your inference data</a> and upload it to an Amazon S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/batch-inference.html\">Process multiple prompts with batch inference</a>.</p>\n         <p>The response returns a <code>jobArn</code> that you can use to stop or get details about the job.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/model-invocation-job"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bedrock#CreateModelInvocationJobRequest": {
      "type": "structure",
      "members": {
        "jobName": {
          "target": "com.amazonaws.bedrock#ModelInvocationJobName",
          "traits": {
            "smithy.api#documentation": "<p>A name to give the batch inference job.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.bedrock#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service role with permissions to carry out and manage batch inference. You can use the console to create a default service role or follow the steps at <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/batch-iam-sr.html\">Create a service role for batch inference</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.bedrock#ModelInvocationIdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the API request completes no more than one time. If this token matches a previous request,\n      Amazon Bedrock ignores the request, but does not return an error. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "modelId": {
          "target": "com.amazonaws.bedrock#ModelId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the foundation model to use for the batch inference job.</p>",
            "smithy.api#required": {}
          }
        },
        "inputDataConfig": {
          "target": "com.amazonaws.bedrock#ModelInvocationJobInputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Details about the location of the input to the batch inference job.</p>",
            "smithy.api#required": {}
          }
        },
        "outputDataConfig": {
          "target": "com.amazonaws.bedrock#ModelInvocationJobOutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Details about the location of the output of the batch inference job.</p>",
            "smithy.api#required": {}
          }
        },
        "vpcConfig": {
          "target": "com.amazonaws.bedrock#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the Virtual Private Cloud (VPC) for the data in the batch inference job. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/batch-vpc\">Protect batch inference jobs using a VPC</a>.</p>"
          }
        },
        "timeoutDurationInHours": {
          "target": "com.amazonaws.bedrock#ModelInvocationJobTimeoutDurationInHours",
          "traits": {
            "smithy.api#documentation": "<p>The number of hours after which to force the batch inference job to time out.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.bedrock#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Any tags to associate with the batch inference job. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/tagging.html\">Tagging Amazon Bedrock resources</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#CreateModelInvocationJobResponse": {
      "type": "structure",
      "members": {
        "jobArn": {
          "target": "com.amazonaws.bedrock#ModelInvocationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the batch inference job.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#CreateProvisionedModelThroughput": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#CreateProvisionedModelThroughputRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#CreateProvisionedModelThroughputResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates dedicated throughput for a base or custom model with the model units and for the duration that you specify. For pricing details, see <a href=\"http://aws.amazon.com/bedrock/pricing/\">Amazon Bedrock Pricing</a>. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-throughput.html\">Provisioned Throughput</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/provisioned-model-throughput"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bedrock#CreateProvisionedModelThroughputRequest": {
      "type": "structure",
      "members": {
        "clientRequestToken": {
          "target": "com.amazonaws.bedrock#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the API request completes no more than one time. If this token matches a previous request,\n         Amazon Bedrock ignores the request, but does not return an error. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a> in the Amazon S3 User Guide.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "modelUnits": {
          "target": "com.amazonaws.bedrock#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>Number of model units to allocate. A model unit delivers a specific throughput level for the specified model. The throughput level of a model unit specifies the total number of input and output tokens that it can process and generate within a span of one minute. By default, your account has no model units for purchasing Provisioned Throughputs with commitment. You must first visit the <a href=\"https://console.aws.amazon.com/support/home#/case/create?issueType=service-limit-increase\">Amazon Web Services support center</a> to request MUs.</p>\n         <p>For model unit quotas, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/quotas.html#prov-thru-quotas\">Provisioned Throughput quotas</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>\n         <p>For more information about what an MU specifies, contact your Amazon Web Services account manager.</p>",
            "smithy.api#required": {}
          }
        },
        "provisionedModelName": {
          "target": "com.amazonaws.bedrock#ProvisionedModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name for this Provisioned Throughput.</p>",
            "smithy.api#required": {}
          }
        },
        "modelId": {
          "target": "com.amazonaws.bedrock#ModelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or name of the model to associate with this Provisioned Throughput. For a list of models for which you can purchase Provisioned Throughput, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-ids.html#prov-throughput-models\">Amazon Bedrock model IDs for purchasing Provisioned Throughput</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "commitmentDuration": {
          "target": "com.amazonaws.bedrock#CommitmentDuration",
          "traits": {
            "smithy.api#documentation": "<p>The commitment duration requested for the Provisioned Throughput. Billing occurs hourly and is discounted for longer commitment terms. To request a no-commit Provisioned Throughput, omit this field.</p>\n         <p>Custom models support all levels of commitment. To see which base models support no commitment, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/pt-supported.html\">Supported regions and models for Provisioned Throughput</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>\n         </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.bedrock#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags to associate with this Provisioned Throughput.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#CreateProvisionedModelThroughputResponse": {
      "type": "structure",
      "members": {
        "provisionedModelArn": {
          "target": "com.amazonaws.bedrock#ProvisionedModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for this Provisioned Throughput.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#CustomModelArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([a-z0-9-]{1,63}[.]){0,2}[a-z0-9-]{1,63}([:][a-z0-9-]{1,63}){0,2}/[a-z0-9]{12}$"
      }
    },
    "com.amazonaws.bedrock#CustomModelName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 63
        },
        "smithy.api#pattern": "^([0-9a-zA-Z][_-]?){1,63}$"
      }
    },
    "com.amazonaws.bedrock#CustomModelSummary": {
      "type": "structure",
      "members": {
        "modelArn": {
          "target": "com.amazonaws.bedrock#CustomModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the custom model.</p>",
            "smithy.api#required": {}
          }
        },
        "modelName": {
          "target": "com.amazonaws.bedrock#CustomModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom model.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.bedrock#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Creation time of the model.</p>",
            "smithy.api#required": {}
          }
        },
        "baseModelArn": {
          "target": "com.amazonaws.bedrock#ModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The base model Amazon Resource Name (ARN).</p>",
            "smithy.api#required": {}
          }
        },
        "baseModelName": {
          "target": "com.amazonaws.bedrock#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The base model name.</p>",
            "smithy.api#required": {}
          }
        },
        "customizationType": {
          "target": "com.amazonaws.bedrock#CustomizationType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to carry out continued pre-training of a model or whether to fine-tune it. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a>.</p>"
          }
        },
        "ownerAccountId": {
          "target": "com.amazonaws.bedrock#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the account that owns the model.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information for a custom model.</p>"
      }
    },
    "com.amazonaws.bedrock#CustomModelSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrock#CustomModelSummary"
      }
    },
    "com.amazonaws.bedrock#CustomizationConfig": {
      "type": "union",
      "members": {
        "distillationConfig": {
          "target": "com.amazonaws.bedrock#DistillationConfig",
          "traits": {
            "smithy.api#documentation": "<p>The distillation configuration for the custom model.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A model customization configuration</p>"
      }
    },
    "com.amazonaws.bedrock#CustomizationType": {
      "type": "enum",
      "members": {
        "FINE_TUNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINE_TUNING"
          }
        },
        "CONTINUED_PRE_TRAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTINUED_PRE_TRAINING"
          }
        },
        "DISTILLATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTILLATION"
          }
        }
      }
    },
    "com.amazonaws.bedrock#DeleteCustomModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#DeleteCustomModelRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#DeleteCustomModelResponse"
      },
      "errors": [
        {
[...]
