{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.bedrockagentcore#A2aDescriptor": {
            "type": "structure",
            "members": {
                "agentCard": {
                    "target": "com.amazonaws.bedrockagentcore#AgentCardDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p> The agent card definition that describes the agent's capabilities and interface.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The A2A (Agent-to-Agent) descriptor configuration for a registry record.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#ABTestArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {
                    "type": "AWS::BedrockAgentCore::ABTest"
                },
                "smithy.api#pattern": "^arn:aws[a-zA-Z-]*:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:ab-test/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}$"
            }
        },
        "com.amazonaws.bedrockagentcore#ABTestDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 200
                }
            }
        },
        "com.amazonaws.bedrockagentcore#ABTestEvaluationConfig": {
            "type": "union",
            "members": {
                "onlineEvaluationConfigArn": {
                    "target": "com.amazonaws.bedrockagentcore#OnlineEvaluationConfigArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a single online evaluation configuration to use for both variants.</p>"
                    }
                },
                "perVariantOnlineEvaluationConfig": {
                    "target": "com.amazonaws.bedrockagentcore#PerVariantOnlineEvaluationConfigList",
                    "traits": {
                        "smithy.api#documentation": "<p>Per-variant online evaluation configurations, allowing different evaluation settings for each variant.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The evaluation configuration for an A/B test, specifying which online evaluation configurations to use for measuring variant performance.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#ABTestExecutionStatus": {
            "type": "enum",
            "members": {
                "PAUSED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PAUSED"
                    }
                },
                "RUNNING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "RUNNING"
                    }
                },
                "STOPPED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STOPPED"
                    }
                },
                "NOT_STARTED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NOT_STARTED"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcore#ABTestId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}$"
            }
        },
        "com.amazonaws.bedrockagentcore#ABTestName": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]{0,47}$"
            }
        },
        "com.amazonaws.bedrockagentcore#ABTestResults": {
            "type": "structure",
            "members": {
                "analysisTimestamp": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the analysis was performed.</p>"
                    }
                },
                "evaluatorMetrics": {
                    "target": "com.amazonaws.bedrockagentcore#EvaluatorMetricList",
                    "traits": {
                        "smithy.api#documentation": "<p>The per-evaluator metrics comparing control and treatment variants.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The statistical results of an A/B test.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#ABTestStatus": {
            "type": "enum",
            "members": {
                "CREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATING"
                    }
                },
                "ACTIVE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ACTIVE"
                    }
                },
                "CREATE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATE_FAILED"
                    }
                },
                "UPDATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATING"
                    }
                },
                "UPDATE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATE_FAILED"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                },
                "DELETE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETE_FAILED"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcore#ABTestSummary": {
            "type": "structure",
            "members": {
                "abTestId": {
                    "target": "com.amazonaws.bedrockagentcore#ABTestId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the A/B test.</p>",
                        "smithy.api#required": {}
                    }
                },
                "abTestArn": {
                    "target": "com.amazonaws.bedrockagentcore#ABTestArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the A/B test.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.bedrockagentcore#ABTestName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the A/B test.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.bedrockagentcore#ABTestStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the A/B test.</p>",
                        "smithy.api#required": {}
                    }
                },
                "executionStatus": {
                    "target": "com.amazonaws.bedrockagentcore#ABTestExecutionStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The execution status of the A/B test.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.bedrockagentcore#ABTestDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the A/B test.</p>"
                    }
                },
                "gatewayArn": {
                    "target": "com.amazonaws.bedrockagentcore#GatewayArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the gateway used for traffic splitting.</p>"
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the A/B test was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the A/B test was last updated.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary information about an A/B test.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#ABTestSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcore#ABTestSummary"
            }
        },
        "com.amazonaws.bedrockagentcore#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.bedrockagentcore#NonBlankString"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The exception that occurs when you do not have sufficient permissions to perform an action. Verify that your IAM policy includes the necessary permissions for the operation you are trying to perform.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.bedrockagentcore#AccessTokenType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 131072
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentcore#ActorId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_/]*(?::[a-zA-Z0-9-_/]+)*[a-zA-Z0-9-_/]*$"
            }
        },
        "com.amazonaws.bedrockagentcore#ActorSummary": {
            "type": "structure",
            "members": {
                "actorId": {
                    "target": "com.amazonaws.bedrockagentcore#ActorId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the actor.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains summary information about an actor in an AgentCore Memory resource.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#ActorSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcore#ActorSummary"
            }
        },
        "com.amazonaws.bedrockagentcore#AffectedSession": {
            "type": "structure",
            "members": {
                "sessionId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the affected session.</p>",
                        "smithy.api#required": {}
                    }
                },
                "explanation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>An explanation of how the failure manifested in this session.</p>",
                        "smithy.api#required": {}
                    }
                },
                "fixType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of fix recommended for this failure.</p>",
                        "smithy.api#required": {}
                    }
                },
                "recommendation": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The specific fix recommendation for this session.</p>",
                        "smithy.api#required": {}
                    }
                },
                "failureSpans": {
                    "target": "com.amazonaws.bedrockagentcore#FailureSpanDetailList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of spans where failures were detected in this session.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A session affected by a detected failure pattern, including root cause details.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#AffectedSessionList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcore#AffectedSession"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0
                }
            }
        },
        "com.amazonaws.bedrockagentcore#AgentCard": {
            "type": "document"
        },
        "com.amazonaws.bedrockagentcore#AgentCardDefinition": {
            "type": "structure",
            "members": {
                "schemaVersion": {
                    "target": "com.amazonaws.bedrockagentcore#SchemaVersion",
                    "traits": {
                        "smithy.api#documentation": "<p> The schema version of the agent card definition.</p>"
                    }
                },
                "inlineContent": {
                    "target": "com.amazonaws.bedrockagentcore#InlineContent",
                    "traits": {
                        "smithy.api#documentation": "<p> The inline content of the agent card definition.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The agent card definition for A2A descriptors, including the schema version and inline content that describes the agent's capabilities.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#AgentSkillsDescriptor": {
            "type": "structure",
            "members": {
                "skillMd": {
                    "target": "com.amazonaws.bedrockagentcore#SkillMdDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p> The skill description in markdown format.</p>",
                        "smithy.api#required": {}
                    }
                },
                "skillDefinition": {
                    "target": "com.amazonaws.bedrockagentcore#SkillDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p> The structured skill definition with a schema version and content.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p> The agent skills descriptor configuration for a registry record.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#AgentTracesConfig": {
            "type": "union",
            "members": {
                "sessionSpans": {
                    "target": "com.amazonaws.bedrockagentcore#Spans",
                    "traits": {
                        "smithy.api#documentation": "<p>Agent traces provided as inline session spans in OpenTelemetry format.</p>"
                    }
                },
                "cloudwatchLogs": {
                    "target": "com.amazonaws.bedrockagentcore#CloudWatchLogsTraceConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>Agent traces read from CloudWatch Logs.</p>"
                    }
                },
                "batchEvaluation": {
                    "target": "com.amazonaws.bedrockagentcore#BatchEvaluationTraceConfig",
                    "traits": {
                        "smithy.api#documentation": "<p>Use a completed batch evaluation as the source of agent traces.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration specifying where to read agent traces from for recommendation analysis.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#AgenticResource": {
            "type": "resource",
            "operations": [
                {
                    "target": "com.amazonaws.bedrockagentcore#GetAgentCard"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#InvokeAgentRuntime"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#InvokeAgentRuntimeCommand"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#StopRuntimeSession"
                }
            ]
        },
        "com.amazonaws.bedrockagentcore#AmazonBedrockAgentCore": {
            "type": "service",
            "version": "2024-02-28",
            "operations": [
                {
                    "target": "com.amazonaws.bedrockagentcore#CompleteResourceTokenAuth"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#GetResourceApiKey"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#GetResourceOauth2Token"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#GetResourcePaymentToken"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#GetWorkloadAccessToken"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenForJWT"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenForUserId"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#InvokeCodeInterpreter"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#InvokeHarness"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.bedrockagentcore#AgenticResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#BrowserProfileResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#BrowserSessionResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#CodeInterpreterSessionResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#EvaluationResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#MemoryResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#PaymentInstrumentResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#PaymentSessionResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ProcessPaymentResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#RegistryRecordResource"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Bedrock AgentCore",
                    "arnNamespace": "bedrock-agentcore",
                    "endpointPrefix": "bedrock-agentcore"
                },
                "aws.auth#sigv4": {
                    "name": "bedrock-agentcore"
                },
                "aws.protocols#restJson1": {
                    "http": [
                        "http/1.1"
                    ],
                    "eventStreamHttp": [
                        "http/1.1"
                    ]
                },
                "smithy.api#documentation": "<p>Welcome to the Amazon Bedrock AgentCore Data Plane API reference. Data Plane actions process and handle data or workloads within Amazon Web Services services. </p>",
                "smithy.api#title": "Amazon Bedrock AgentCore",
                "smithy.rules#endpointBdd": {
                    "version": "1.1",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "conditions": [
                        {
                            "fn": "isSet",
                            "argv": [
                                {
                                    "ref": "Endpoint"
                                }
                            ]
                        },
                        {
                            "fn": "isSet",
                            "argv": [
                                {
                                    "ref": "Region"
                                }
                            ]
                        },
                        {
                            "fn": "aws.partition",
                            "argv": [
                                {
                                    "ref": "Region"
                                }
                            ],
                            "assign": "PartitionResult"
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "ref": "UseFIPS"
                                },
                                true
                            ]
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "ref": "UseDualStack"
                                },
                                true
                            ]
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                    ]
                                },
                                true
                            ]
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                    ]
                                },
                                true
                            ]
                        }
                    ],
                    "results": [
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": {
                                    "ref": "Endpoint"
                                },
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://bedrock-agentcore-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://bedrock-agentcore-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "FIPS is enabled but this partition does not support FIPS",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://bedrock-agentcore.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "DualStack is enabled but this partition does not support DualStack",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://bedrock-agentcore.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ],
                    "root": 2,
                    "nodeCount": 13,
                    "nodes": "/////wAAAAH/////AAAAAAAAAAwAAAADAAAAAQAAAAQF9eELAAAAAgAAAAUF9eELAAAAAwAAAAgAAAAGAAAABAAAAAcF9eEKAAAABQX14QgF9eEJAAAABAAAAAoAAAAJAAAABgX14QYF9eEHAAAABQAAAAsF9eEFAAAABgX14QQF9eEFAAAAAwX14QEAAAANAAAABAX14QIF9eED"
                },
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://bedrock-agentcore-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://bedrock-agentcore-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://bedrock-agentcore.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://bedrock-agentcore.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.bedrockagentcore#Amount": {
            "type": "structure",
            "members": {
                "value": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The numeric value of the amount.</p>",
                        "smithy.api#required": {}
                    }
                },
                "currency": {
                    "target": "com.amazonaws.bedrockagentcore#Currency",
                    "traits": {
                        "smithy.api#documentation": "<p>The currency code for the amount.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Represents a monetary amount with a currency.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#ApiKeyArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:aws:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:token-vault/[a-zA-Z0-9-.]+/apikeycredentialprovider/[a-zA-Z0-9-.]+$"
            }
        },
        "com.amazonaws.bedrockagentcore#ApiKeyType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 65536
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentcore#AudienceType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                }
            }
        },
        "com.amazonaws.bedrockagentcore#AudiencesListType": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcore#AudienceType"
            }
        },
        "com.amazonaws.bedrockagentcore#AuthorizationUrlType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentcore#AutomationStream": {
            "type": "structure",
            "members": {
                "streamEndpoint": {
                    "target": "com.amazonaws.bedrockagentcore#BrowserStreamEndpoint",
                    "traits": {
                        "smithy.api#documentation": "<p>The endpoint URL for the automation stream. This URL is used to establish a WebSocket connection to the stream for sending commands and receiving responses.</p>",
                        "smithy.api#required": {}
                    }
                },
                "streamStatus": {
                    "target": "com.amazonaws.bedrockagentcore#AutomationStreamStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the automation stream. This indicates whether the stream is available for use. Possible values include ACTIVE, CONNECTING, and DISCONNECTED.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration for a stream that enables programmatic control of a browser session in Amazon Bedrock AgentCore. This stream provides a bidirectional communication channel for sending commands to the browser and receiving responses, allowing agents to automate web interactions such as navigation, form filling, and element clicking.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#AutomationStreamStatus": {
            "type": "enum",
            "members": {
                "ENABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "ENABLED"
                    }
                },
                "DISABLED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DISABLED"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcore#AutomationStreamUpdate": {
            "type": "structure",
            "members": {
                "streamStatus": {
                    "target": "com.amazonaws.bedrockagentcore#AutomationStreamStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the automation stream.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about an update to an automation stream.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#AvailableLimits": {
            "type": "structure",
            "members": {
                "availableSpendAmount": {
                    "target": "com.amazonaws.bedrockagentcore#Amount",
                    "traits": {
                        "smithy.api#documentation": "<p>The remaining available amount that can be spent.</p>"
                    }
                },
                "updatedAt": {
                    "target": "com.amazonaws.bedrockagentcore#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the available limits were last updated.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The available spending limits for a payment session.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#BasicAuth": {
            "type": "structure",
            "members": {
                "secretArn": {
                    "target": "com.amazonaws.bedrockagentcore#SecretArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Web Services Secrets Manager secret containing proxy credentials. The secret must be a JSON object with <code>username</code> and <code>password</code> string fields that meet validation requirements. The caller must have <code>secretsmanager:GetSecretValue</code> permission for this ARN. Example secret format: <code>{\"username\": \"proxy_user\", \"password\": \"secure_password\"}</code> </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration for HTTP Basic Authentication using credentials stored in Amazon Web Services Secrets Manager. The secret must contain a JSON object with <code>username</code> and <code>password</code> string fields. Username allows alphanumeric characters and <code>@._+=-</code> symbols (pattern: <code>^[a-zA-Z0-9@._+=\\-]+$</code>). Password allows alphanumeric characters and <code>@._+=-!#$%&amp;*</code> symbols (pattern: <code>^[a-zA-Z0-9@._+=\\-!#$%&amp;*]+$</code>). Both fields have a maximum length of 256 characters.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#BatchCreateMemoryRecords": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.bedrockagentcore#BatchCreateMemoryRecordsInput"
            },
            "output": {
                "target": "com.amazonaws.bedrockagentcore#BatchCreateMemoryRecordsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ServiceException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ThrottledException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates multiple memory records in a single batch operation for the specified memory with custom content.</p>",
                "smithy.api#http": {
                    "code": 201,
                    "method": "POST",
                    "uri": "/memories/{memoryId}/memoryRecords/batchCreate"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.bedrockagentcore#BatchCreateMemoryRecordsInput": {
            "type": "structure",
            "members": {
                "memoryId": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of the memory resource where records will be created.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "records": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordsCreateInputList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of memory record creation inputs to be processed in the batch operation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotent processing of the batch request.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.bedrockagentcore#BatchCreateMemoryRecordsOutput": {
            "type": "structure",
            "members": {
                "successfulRecords": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordsOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of memory records that were successfully created during the batch operation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "failedRecords": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordsOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of memory records that failed to be created, including error details for each failure.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.bedrockagentcore#BatchDeleteMemoryRecords": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.bedrockagentcore#BatchDeleteMemoryRecordsInput"
            },
            "output": {
                "target": "com.amazonaws.bedrockagentcore#BatchDeleteMemoryRecordsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ServiceException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ThrottledException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes multiple memory records in a single batch operation from the specified memory.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/memories/{memoryId}/memoryRecords/batchDelete"
                }
            }
        },
        "com.amazonaws.bedrockagentcore#BatchDeleteMemoryRecordsInput": {
            "type": "structure",
            "members": {
                "memoryId": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of the memory resource where records will be deleted.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "records": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordsDeleteInputList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of memory record deletion inputs to be processed in the batch operation.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.bedrockagentcore#BatchDeleteMemoryRecordsOutput": {
            "type": "structure",
            "members": {
                "successfulRecords": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordsOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of memory records that were successfully deleted during the batch operation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "failedRecords": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordsOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of memory records that failed to be deleted, including error details for each failure.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.bedrockagentcore#BatchEvaluationArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {
                    "type": "AWS::BedrockAgentCore::BatchEvaluate"
                },
                "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a batch evaluation.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#BatchEvaluationDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "max": 200
                }
            }
        },
        "com.amazonaws.bedrockagentcore#BatchEvaluationId": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>The unique identifier for a batch evaluation.</p>",
                "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}$"
            }
        },
        "com.amazonaws.bedrockagentcore#BatchEvaluationName": {
            "type": "string",
            "traits": {
                "smithy.api#documentation": "<p>A human-readable name for a batch evaluation.</p>",
                "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]{0,47}$"
            }
        },
        "com.amazonaws.bedrockagentcore#BatchEvaluationStatus": {
            "type": "enum",
            "members": {
                "PENDING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PENDING"
                    }
                },
                "IN_PROGRESS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "IN_PROGRESS"
                    }
                },
                "COMPLETED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COMPLETED"
                    }
                },
                "COMPLETED_WITH_ERRORS": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "COMPLETED_WITH_ERRORS"
                    }
                },
                "FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "FAILED"
                    }
                },
                "STOPPING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STOPPING"
                    }
                },
                "STOPPED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "STOPPED"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The lifecycle status of a batch evaluation job.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#BatchEvaluationSummary": {
            "type": "structure",
            "members": {
                "batchEvaluationId": {
                    "target": "com.amazonaws.bedrockagentcore#BatchEvaluationId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the batch evaluation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "batchEvaluationArn": {
                    "target": "com.amazonaws.bedrockagentcore#BatchEvaluationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the batch evaluation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "batchEvaluationName": {
                    "target": "com.amazonaws.bedrockagentcore#BatchEvaluationName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the batch evaluation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.bedrockagentcore#BatchEvaluationStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the batch evaluation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the batch evaluation was created.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "date-time"
                    }
                },
                "description": {
                    "target": "com.amazonaws.bedrockagentcore#BatchEvaluationDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the batch evaluation.</p>"
                    }
                },
                "evaluators": {
                    "target": "com.amazonaws.bedrockagentcore#EvaluatorList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of evaluators applied during the batch evaluation.</p>"
                    }
                },
                "insights": {
                    "target": "com.amazonaws.bedrockagentcore#InsightList",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of insight analyses applied during the batch evaluation.</p>"
                    }
                },
                "evaluationResults": {
                    "target": "com.amazonaws.bedrockagentcore#EvaluationJobResults",
                    "traits": {
                        "smithy.api#documentation": "<p>The aggregated evaluation results.</p>"
                    }
                },
                "errorDetails": {
                    "target": "com.amazonaws.bedrockagentcore#ErrorDetailsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The error details if the batch evaluation encountered failures.</p>"
                    }
                },
                "kmsKeyArn": {
                    "target": "com.amazonaws.bedrockagentcore#KmsKeyArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the KMS key used to encrypt evaluation data.</p>"
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the batch evaluation was last updated.</p>",
                        "smithy.api#timestampFormat": "date-time"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary representation for list responses.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#BatchEvaluationSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcore#BatchEvaluationSummary"
            }
        },
        "com.amazonaws.bedrockagentcore#BatchEvaluationTraceConfig": {
            "type": "structure",
            "members": {
                "batchEvaluationArn": {
                    "target": "com.amazonaws.bedrockagentcore#BatchEvaluationArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the completed batch evaluation to use as the trace source.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration for using a batch evaluation as the source of agent traces for recommendations.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#BatchUpdateMemoryRecords": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.bedrockagentcore#BatchUpdateMemoryRecordsInput"
            },
            "output": {
                "target": "com.amazonaws.bedrockagentcore#BatchUpdateMemoryRecordsOutput"
            },
            "errors": [
                {
                    "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ServiceException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ThrottledException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcore#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Updates multiple memory records with custom content in a single batch operation within the specified memory.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/memories/{memoryId}/memoryRecords/batchUpdate"
                }
            }
        },
        "com.amazonaws.bedrockagentcore#BatchUpdateMemoryRecordsInput": {
            "type": "structure",
            "members": {
                "memoryId": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique ID of the memory resource where records will be updated.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "records": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordsUpdateInputList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of memory record update inputs to be processed in the batch operation.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.bedrockagentcore#BatchUpdateMemoryRecordsOutput": {
            "type": "structure",
            "members": {
                "successfulRecords": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordsOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of memory records that were successfully updated during the batch operation.</p>",
                        "smithy.api#required": {}
                    }
                },
                "failedRecords": {
                    "target": "com.amazonaws.bedrockagentcore#MemoryRecordsOutputList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of memory records that failed to be updated, including error details for each failure.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.bedrockagentcore#BlockchainChainId": {
            "type": "enum",
            "members": {
                "BASE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>Base Mainnet (EVM L2)</p>",
                        "smithy.api#enumValue": "BASE"
                    }
                },
                "BASE_SEPOLIA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>Base Sepolia testnet (EVM L2)</p>",
                        "smithy.api#enumValue": "BASE_SEPOLIA"
                    }
                },
                "ETHEREUM": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>Ethereum Mainnet (EVM L1)</p>",
                        "smithy.api#enumValue": "ETHEREUM"
                    }
                },
                "SOLANA": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>Solana Mainnet</p>",
                        "smithy.api#enumValue": "SOLANA"
                    }
                },
                "SOLANA_DEVNET": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#documentation": "<p>Solana Devnet testnet</p>",
                        "smithy.api#enumValue": "SOLANA_DEVNET"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Supported blockchain chain identifiers for balance queries. Each value maps to a specific chain supported by the underlying providers (Privy, Coinbase).</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#Body": {
            "type": "blob",
            "traits": {
                "smithy.api#length": {
                    "max": 100000000
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.bedrockagentcore#Branch": {
            "type": "structure",
            "members": {
                "rootEventId": {
                    "target": "com.amazonaws.bedrockagentcore#EventId",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the root event for this branch.</p>"
                    }
                },
                "name": {
                    "target": "com.amazonaws.bedrockagentcore#BranchName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the branch.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about a branch in an AgentCore Memory resource. Branches allow for organizing events into different conversation threads or paths.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#BranchFilter": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.bedrockagentcore#BranchName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the branch to filter by.</p>",
                        "smithy.api#required": {}
                    }
                },
                "includeParentBranches": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#default": true,
                        "smithy.api#documentation": "<p>Specifies whether to include parent branches in the results. Set to true to include parent branches, or false to exclude them.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains filter criteria for branches when listing events.</p>"
            }
        },
        "com.amazonaws.bedrockagentcore#BranchName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 100
                },
                "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]*$"
            }
        },
        "com.amazonaws.bedrockagentcore#BrowserAction": {
            "type": "union",
            "members": {
                "mouseClick": {
                    "target": "com.amazonaws.bedrockagentcore#MouseClickArguments",
                    "traits": {
                        "smithy.api#documentation": "<p>Click at the specified coordinates.</p>"
                    }
                },
                "mouseMove": {
                    "target": "com.amazonaws.bedrockagentcore#MouseMoveArguments",
                    "traits": {
                        "smithy.api#documentation": "<p>Move the cursor to the specified coordinates.</p>"
                    }
                },
                "mouseDrag": {
                    "target": "com.amazonaws.bedrockagentcore#MouseDragArguments",
                    "traits": {
                        "smithy.api#documentation": "<p>Drag from a start position to an end position.</p>"
                    }
                },
                "mouseScroll": {
                    "target": "com.amazonaws.bedrockagentcore#MouseScrollArguments",
                    "traits": {
                        "smithy.api#documentation": "<p>Scroll at the specified position.</p>"
                    }
                },
                "keyType": {
                    "target": "com.amazonaws.bedrockagentcore#KeyTypeArguments",
                    "traits": {
                        "smithy.api#documentation": "<p>Type a string of text.</p>"
                    }
                },
[...]
