{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.bedrockruntime#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockruntime#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is denied because of missing access permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.bedrockruntime#AmazonBedrockFrontendService": {
      "type": "service",
      "version": "2023-09-30",
      "resources": [
        {
          "target": "com.amazonaws.bedrockruntime#InferenceResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Bedrock Runtime",
          "endpointPrefix": "bedrock-runtime",
          "cloudTrailEventSource": "bedrock.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "bedrock"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Describes the API operations for running inference using Amazon Bedrock models.</p>",
        "smithy.api#title": "Amazon Bedrock Runtime",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-runtime-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-runtime-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-runtime.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://bedrock-runtime.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.bedrockruntime#Body": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "max": 25000000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 2048
        },
        "smithy.api#pattern": "^(([a-z0-9]+)|(arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:guardrail/[a-z0-9]+))$"
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailVersion": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(([1-9][0-9]{0,7})|(DRAFT))$"
      }
    },
    "com.amazonaws.bedrockruntime#InferenceResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.bedrockruntime#InvokeModel"
        },
        {
          "target": "com.amazonaws.bedrockruntime#InvokeModelWithResponseStream"
        }
      ]
    },
    "com.amazonaws.bedrockruntime#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockruntime#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal server error occurred. Retry your request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.bedrockruntime#InvokeModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockruntime#InvokeModelRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockruntime#InvokeModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockruntime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ModelErrorException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ModelNotReadyException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ModelTimeoutException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Invokes the specified Amazon Bedrock model to run inference using the prompt and inference parameters provided in the request body. \n         You use model inference to generate text, images, and embeddings.</p>\n         <p>For example code, see <i>Invoke model code examples</i> in the <i>Amazon Bedrock User Guide</i>.\n      </p>\n         <p>This operation requires permission for the <code>bedrock:InvokeModel</code> action.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/model/{modelId}/invoke"
        }
      }
    },
    "com.amazonaws.bedrockruntime#InvokeModelIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^(arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12})|(:foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([.:]?[a-z0-9-]{1,63}))|([0-9]{12}:provisioned-model/[a-z0-9]{12})))|([a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([.:]?[a-z0-9-]{1,63}))|(([0-9a-zA-Z][_-]?)+)$"
      }
    },
    "com.amazonaws.bedrockruntime#InvokeModelRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.amazonaws.bedrockruntime#Body",
          "traits": {
            "smithy.api#documentation": "<p>The prompt and inference parameters in the format specified in the <code>contentType</code> in the header. To see the format and content of the request and response bodies for different models, refer to <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-parameters.html\">Inference parameters</a>. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/api-methods-run.html\">Run inference</a> in the Bedrock User Guide.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "com.amazonaws.bedrockruntime#MimeType",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the input data in the request. The default value is\n            <code>application/json</code>.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        },
        "accept": {
          "target": "com.amazonaws.bedrockruntime#MimeType",
          "traits": {
            "smithy.api#documentation": "<p>The desired MIME type of the inference body in the response. The default value is <code>application/json</code>.</p>",
            "smithy.api#httpHeader": "Accept"
          }
        },
        "modelId": {
          "target": "com.amazonaws.bedrockruntime#InvokeModelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the model to invoke to run inference.</p>\n         <p>The <code>modelId</code> to provide depends on the type of model that you use:</p>\n         <ul>\n            <li>\n               <p>If you use a base model, specify the model ID or its ARN. For a list of model IDs for base models, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-ids.html#model-ids-arns\">Amazon Bedrock base model IDs (on-demand throughput)</a> in the Amazon Bedrock User Guide.</p>\n            </li>\n            <li>\n               <p>If you use a provisioned model, specify the ARN of the Provisioned Throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-thru-use.html\">Run inference using a Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p>\n            </li>\n            <li>\n               <p>If you use a custom model, first purchase Provisioned Throughput for it. Then specify the ARN of the resulting provisioned model. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-use.html\">Use a custom model in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p>\n            </li>\n         </ul>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "trace": {
          "target": "com.amazonaws.bedrockruntime#Trace",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to enable or disable the Bedrock trace. If enabled, you can see the full Bedrock trace.</p>",
            "smithy.api#httpHeader": "X-Amzn-Bedrock-Trace"
          }
        },
        "guardrailIdentifier": {
          "target": "com.amazonaws.bedrockruntime#GuardrailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the guardrail that you want to use. If you don't provide a value, no guardrail is applied\n            to the invocation.</p>\n         <p>An error will be thrown in the following situations.</p>\n         <ul>\n            <li>\n               <p>You don't provide a guardrail identifier but you specify the <code>amazon-bedrock-guardrailConfig</code> field in the request body.</p>\n            </li>\n            <li>\n               <p>You enable the guardrail but the <code>contentType</code> isn't <code>application/json</code>.</p>\n            </li>\n            <li>\n               <p>You provide a guardrail identifier, but <code>guardrailVersion</code> isn't specified.</p>\n            </li>\n         </ul>",
            "smithy.api#httpHeader": "X-Amzn-Bedrock-GuardrailIdentifier"
          }
        },
        "guardrailVersion": {
          "target": "com.amazonaws.bedrockruntime#GuardrailVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version number for the guardrail. The value can also be <code>DRAFT</code>.</p>",
            "smithy.api#httpHeader": "X-Amzn-Bedrock-GuardrailVersion"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockruntime#InvokeModelResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.amazonaws.bedrockruntime#Body",
          "traits": {
            "smithy.api#documentation": "<p>Inference response from the model in the format specified in the <code>contentType</code> header. To see the format and content of the request and response bodies for different models, refer to <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-parameters.html\">Inference parameters</a>.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "com.amazonaws.bedrockruntime#MimeType",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the inference result.</p>",
            "smithy.api#httpHeader": "Content-Type",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockruntime#InvokeModelWithResponseStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockruntime#InvokeModelWithResponseStreamRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockruntime#InvokeModelWithResponseStreamResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockruntime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ModelErrorException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ModelNotReadyException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ModelStreamErrorException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ModelTimeoutException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Invoke the specified Amazon Bedrock model to run inference using the prompt and inference parameters provided in the request body. The response is returned in a stream.</p>\n         <p>To see if a model supports streaming, call <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_GetFoundationModel.html\">GetFoundationModel</a>\n         and check the <code>responseStreamingSupported</code> field in the response.</p>\n         <note>\n            <p>The CLI doesn't support <code>InvokeModelWithResponseStream</code>.</p>\n         </note>\n         <p>For example code, see <i>Invoke model with streaming code\n         example</i> in the <i>Amazon Bedrock User Guide</i>.\n      </p>\n         <p>This operation requires permissions to perform the <code>bedrock:InvokeModelWithResponseStream</code> action. </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/model/{modelId}/invoke-with-response-stream"
        }
      }
    },
    "com.amazonaws.bedrockruntime#InvokeModelWithResponseStreamRequest": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.amazonaws.bedrockruntime#Body",
          "traits": {
            "smithy.api#documentation": "<p>The prompt and inference parameters in the format specified in the <code>contentType</code> in the header. To see the format and content of the request and response bodies for different models, refer to <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-parameters.html\">Inference parameters</a>. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/api-methods-run.html\">Run inference</a> in the Bedrock User Guide.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "com.amazonaws.bedrockruntime#MimeType",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the input data in the request. The default value is\n            <code>application/json</code>.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        },
        "accept": {
          "target": "com.amazonaws.bedrockruntime#MimeType",
          "traits": {
            "smithy.api#documentation": "<p>The desired MIME type of the inference body in the response. The default value is\n            <code>application/json</code>.</p>",
            "smithy.api#httpHeader": "X-Amzn-Bedrock-Accept"
          }
        },
        "modelId": {
          "target": "com.amazonaws.bedrockruntime#InvokeModelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the model to invoke to run inference.</p>\n         <p>The <code>modelId</code> to provide depends on the type of model that you use:</p>\n         <ul>\n            <li>\n               <p>If you use a base model, specify the model ID or its ARN. For a list of model IDs for base models, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-ids.html#model-ids-arns\">Amazon Bedrock base model IDs (on-demand throughput)</a> in the Amazon Bedrock User Guide.</p>\n            </li>\n            <li>\n               <p>If you use a provisioned model, specify the ARN of the Provisioned Throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-thru-use.html\">Run inference using a Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p>\n            </li>\n            <li>\n               <p>If you use a custom model, first purchase Provisioned Throughput for it. Then specify the ARN of the resulting provisioned model. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-use.html\">Use a custom model in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p>\n            </li>\n         </ul>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "trace": {
          "target": "com.amazonaws.bedrockruntime#Trace",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to enable or disable the Bedrock trace. If enabled, you can see the full Bedrock trace.</p>",
            "smithy.api#httpHeader": "X-Amzn-Bedrock-Trace"
          }
        },
        "guardrailIdentifier": {
          "target": "com.amazonaws.bedrockruntime#GuardrailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the guardrail that you want to use. If you don't provide a value, no guardrail is applied\n            to the invocation.</p>\n         <p>An error is thrown in the following situations.</p>\n         <ul>\n            <li>\n               <p>You don't provide a guardrail identifier but you specify the <code>amazon-bedrock-guardrailConfig</code> field in the request body.</p>\n            </li>\n            <li>\n               <p>You enable the guardrail but the <code>contentType</code> isn't <code>application/json</code>.</p>\n            </li>\n            <li>\n               <p>You provide a guardrail identifier, but <code>guardrailVersion</code> isn't specified.</p>\n            </li>\n         </ul>",
            "smithy.api#httpHeader": "X-Amzn-Bedrock-GuardrailIdentifier"
          }
        },
        "guardrailVersion": {
          "target": "com.amazonaws.bedrockruntime#GuardrailVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version number for the guardrail. The value can also be <code>DRAFT</code>.</p>",
            "smithy.api#httpHeader": "X-Amzn-Bedrock-GuardrailVersion"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockruntime#InvokeModelWithResponseStreamResponse": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.amazonaws.bedrockruntime#ResponseStream",
          "traits": {
            "smithy.api#documentation": "<p>Inference response from the model in the format specified by the <code>contentType</code> header. To see the format and content of this field for different models, refer to <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-parameters.html\">Inference parameters</a>.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "com.amazonaws.bedrockruntime#MimeType",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the inference result.</p>",
            "smithy.api#httpHeader": "X-Amzn-Bedrock-Content-Type",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockruntime#MimeType": {
      "type": "string"
    },
    "com.amazonaws.bedrockruntime#ModelErrorException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockruntime#NonBlankString"
        },
        "originalStatusCode": {
          "target": "com.amazonaws.bedrockruntime#StatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The original status code.</p>"
          }
        },
        "resourceName": {
          "target": "com.amazonaws.bedrockruntime#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The resource name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed due to an error while processing the model.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 424
      }
    },
    "com.amazonaws.bedrockruntime#ModelNotReadyException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockruntime#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The model specified in the request is not ready to serve inference requests.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.bedrockruntime#ModelStreamErrorException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockruntime#NonBlankString"
        },
        "originalStatusCode": {
          "target": "com.amazonaws.bedrockruntime#StatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The original status code.</p>"
          }
        },
        "originalMessage": {
          "target": "com.amazonaws.bedrockruntime#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The original message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occurred while streaming the response. Retry your request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 424
      }
    },
    "com.amazonaws.bedrockruntime#ModelTimeoutException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockruntime#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request took too long to process. Processing time exceeded the model timeout length.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 408
      }
    },
    "com.amazonaws.bedrockruntime#NonBlankString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.bedrockruntime#PartBody": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "max": 1000000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockruntime#PayloadPart": {
      "type": "structure",
      "members": {
        "bytes": {
          "target": "com.amazonaws.bedrockruntime#PartBody",
          "traits": {
            "smithy.api#documentation": "<p>Base64-encoded bytes of payload data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Payload content included in the response.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockruntime#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockruntime#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.bedrockruntime#ResponseStream": {
      "type": "union",
      "members": {
        "chunk": {
          "target": "com.amazonaws.bedrockruntime#PayloadPart",
          "traits": {
            "smithy.api#documentation": "<p>Content included in the response.</p>"
          }
        },
        "internalServerException": {
          "target": "com.amazonaws.bedrockruntime#InternalServerException",
          "traits": {
            "smithy.api#documentation": "<p>An internal server error occurred. Retry your request.</p>"
          }
        },
        "modelStreamErrorException": {
          "target": "com.amazonaws.bedrockruntime#ModelStreamErrorException",
          "traits": {
            "smithy.api#documentation": "<p>An error occurred while streaming the response. Retry your request.</p>"
          }
        },
        "validationException": {
          "target": "com.amazonaws.bedrockruntime#ValidationException",
          "traits": {
            "smithy.api#documentation": "<p>Input validation failed. Check your request parameters and retry the request.</p>"
          }
        },
        "throttlingException": {
          "target": "com.amazonaws.bedrockruntime#ThrottlingException",
          "traits": {
            "smithy.api#documentation": "<p>The number or frequency of requests exceeds the limit. Resubmit your request later.</p>"
          }
        },
        "modelTimeoutException": {
          "target": "com.amazonaws.bedrockruntime#ModelTimeoutException",
          "traits": {
            "smithy.api#documentation": "<p>The request took too long to process. Processing time exceeded the model timeout length.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Definition of content in the response stream.</p>",
        "smithy.api#streaming": {}
      }
    },
    "com.amazonaws.bedrockruntime#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockruntime#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of requests exceeds the service quota. Resubmit your request later.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.bedrockruntime#StatusCode": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 100,
          "max": 599
        }
      }
    },
    "com.amazonaws.bedrockruntime#ThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockruntime#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of requests exceeds the limit. Resubmit your request later.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.bedrockruntime#Trace": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.bedrockruntime#ValidationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockruntime#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input validation failed. Check your request parameters and retry the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    }
  }
}
