{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.bedrockagent#APISchema": {
      "type": "union",
      "members": {
        "s3": {
          "target": "com.amazonaws.bedrockagent#S3Identifier"
        },
        "payload": {
          "target": "com.amazonaws.bedrockagent#Payload"
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains information about the API Schema for the Action Group"
      }
    },
    "com.amazonaws.bedrockagent#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockagent#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "This exception is thrown when a request is denied per access permissions",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.bedrockagent#ActionGroupExecutor": {
      "type": "union",
      "members": {
        "lambda": {
          "target": "com.amazonaws.bedrockagent#LambdaArn"
        }
      },
      "traits": {
        "smithy.api#documentation": "Type of Executors for an Action Group"
      }
    },
    "com.amazonaws.bedrockagent#ActionGroupResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.bedrockagent#CreateAgentActionGroup"
        },
        {
          "target": "com.amazonaws.bedrockagent#DeleteAgentActionGroup"
        },
        {
          "target": "com.amazonaws.bedrockagent#GetAgentActionGroup"
        },
        {
          "target": "com.amazonaws.bedrockagent#ListAgentActionGroups"
        },
        {
          "target": "com.amazonaws.bedrockagent#UpdateAgentActionGroup"
        }
      ]
    },
    "com.amazonaws.bedrockagent#ActionGroupSignature": {
      "type": "enum",
      "members": {
        "AMAZON_USERINPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMAZON.UserInput"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Action Group Signature for a BuiltIn Action"
      }
    },
    "com.amazonaws.bedrockagent#ActionGroupState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "State of the action group"
      }
    },
    "com.amazonaws.bedrockagent#ActionGroupSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagent#ActionGroupSummary"
      },
      "traits": {
        "smithy.api#documentation": "List of ActionGroup Summaries",
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.bedrockagent#ActionGroupSummary": {
      "type": "structure",
      "members": {
        "actionGroupId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "actionGroupName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "actionGroupState": {
          "target": "com.amazonaws.bedrockagent#ActionGroupState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description"
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "ActionGroup Summary"
      }
    },
    "com.amazonaws.bedrockagent#Agent": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentArn": {
          "target": "com.amazonaws.bedrockagent#AgentArn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentVersion": {
          "target": "com.amazonaws.bedrockagent#DraftVersion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.bedrockagent#ClientToken"
        },
        "instruction": {
          "target": "com.amazonaws.bedrockagent#Instruction"
        },
        "agentStatus": {
          "target": "com.amazonaws.bedrockagent#AgentStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "foundationModel": {
          "target": "com.amazonaws.bedrockagent#ModelIdentifier"
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description"
        },
        "idleSessionTTLInSeconds": {
          "target": "com.amazonaws.bedrockagent#SessionTTL",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentResourceRoleArn": {
          "target": "com.amazonaws.bedrockagent#AgentRoleArn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "customerEncryptionKeyArn": {
          "target": "com.amazonaws.bedrockagent#KmsKeyArn"
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "preparedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp"
        },
        "failureReasons": {
          "target": "com.amazonaws.bedrockagent#FailureReasons"
        },
        "recommendedActions": {
          "target": "com.amazonaws.bedrockagent#RecommendedActions"
        },
        "promptOverrideConfiguration": {
          "target": "com.amazonaws.bedrockagent#PromptOverrideConfiguration"
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the information of an agent"
      }
    },
    "com.amazonaws.bedrockagent#AgentActionGroup": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentVersion": {
          "target": "com.amazonaws.bedrockagent#Version",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "actionGroupId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "actionGroupName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.bedrockagent#ClientToken"
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description"
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "parentActionSignature": {
          "target": "com.amazonaws.bedrockagent#ActionGroupSignature"
        },
        "actionGroupExecutor": {
          "target": "com.amazonaws.bedrockagent#ActionGroupExecutor"
        },
        "apiSchema": {
          "target": "com.amazonaws.bedrockagent#APISchema"
        },
        "actionGroupState": {
          "target": "com.amazonaws.bedrockagent#ActionGroupState",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the information of an Agent Action Group"
      }
    },
    "com.amazonaws.bedrockagent#AgentAlias": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentAliasId": {
          "target": "com.amazonaws.bedrockagent#AgentAliasId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentAliasName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentAliasArn": {
          "target": "com.amazonaws.bedrockagent#AgentAliasArn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.bedrockagent#ClientToken"
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description"
        },
        "routingConfiguration": {
          "target": "com.amazonaws.bedrockagent#AgentAliasRoutingConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentAliasHistoryEvents": {
          "target": "com.amazonaws.bedrockagent#AgentAliasHistoryEvents"
        },
        "agentAliasStatus": {
          "target": "com.amazonaws.bedrockagent#AgentAliasStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the information of an agent alias"
      }
    },
    "com.amazonaws.bedrockagent#AgentAliasArn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Arn representation of the Agent Alias.",
        "smithy.api#length": {
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:agent-alias/[0-9a-zA-Z]{10}/[0-9a-zA-Z]{10}$"
      }
    },
    "com.amazonaws.bedrockagent#AgentAliasHistoryEvent": {
      "type": "structure",
      "members": {
        "routingConfiguration": {
          "target": "com.amazonaws.bedrockagent#AgentAliasRoutingConfiguration"
        },
        "endDate": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp"
        },
        "startDate": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp"
        }
      },
      "traits": {
        "smithy.api#documentation": "History event for an alias for an Agent."
      }
    },
    "com.amazonaws.bedrockagent#AgentAliasHistoryEvents": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagent#AgentAliasHistoryEvent"
      },
      "traits": {
        "smithy.api#documentation": "The list of history events for an alias for an Agent.",
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.bedrockagent#AgentAliasId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Id for an Agent Alias generated at the server side.",
        "smithy.api#length": {
          "min": 10,
          "max": 10
        },
        "smithy.api#pattern": "^(\\bTSTALIASID\\b|[0-9a-zA-Z]+)$"
      }
    },
    "com.amazonaws.bedrockagent#AgentAliasRoutingConfiguration": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagent#AgentAliasRoutingConfigurationListItem"
      },
      "traits": {
        "smithy.api#documentation": "Routing configuration for an Agent alias.",
        "smithy.api#length": {
          "max": 1
        }
      }
    },
    "com.amazonaws.bedrockagent#AgentAliasRoutingConfigurationListItem": {
      "type": "structure",
      "members": {
        "agentVersion": {
          "target": "com.amazonaws.bedrockagent#Version",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the routing configuration for an Agent alias."
      }
    },
    "com.amazonaws.bedrockagent#AgentAliasStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "PREPARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The statuses an Agent Alias can be in."
      }
    },
    "com.amazonaws.bedrockagent#AgentAliasSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagent#AgentAliasSummary"
      },
      "traits": {
        "smithy.api#documentation": "The list of summaries of all the aliases for an Agent.",
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.bedrockagent#AgentAliasSummary": {
      "type": "structure",
      "members": {
        "agentAliasId": {
          "target": "com.amazonaws.bedrockagent#AgentAliasId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentAliasName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description"
        },
        "routingConfiguration": {
          "target": "com.amazonaws.bedrockagent#AgentAliasRoutingConfiguration"
        },
        "agentAliasStatus": {
          "target": "com.amazonaws.bedrockagent#AgentAliasStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Summary of an alias for an Agent."
      }
    },
    "com.amazonaws.bedrockagent#AgentArn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Arn representation of the Agent.",
        "smithy.api#length": {
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:agent/[0-9a-zA-Z]{10}$"
      }
    },
    "com.amazonaws.bedrockagent#AgentKnowledgeBase": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentVersion": {
          "target": "com.amazonaws.bedrockagent#Version",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseState": {
          "target": "com.amazonaws.bedrockagent#KnowledgeBaseState",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the information of an Agent Knowledge Base."
      }
    },
    "com.amazonaws.bedrockagent#AgentKnowledgeBaseSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagent#AgentKnowledgeBaseSummary"
      },
      "traits": {
        "smithy.api#documentation": "List of Agent Knowledge Base Summaries",
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.bedrockagent#AgentKnowledgeBaseSummary": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description"
        },
        "knowledgeBaseState": {
          "target": "com.amazonaws.bedrockagent#KnowledgeBaseState",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Agent Knowledge Base Summary"
      }
    },
    "com.amazonaws.bedrockagent#AgentResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.bedrockagent#CreateAgent"
        },
        {
          "target": "com.amazonaws.bedrockagent#DeleteAgent"
        },
        {
          "target": "com.amazonaws.bedrockagent#GetAgent"
        },
        {
          "target": "com.amazonaws.bedrockagent#ListAgents"
        },
        {
          "target": "com.amazonaws.bedrockagent#PrepareAgent"
        },
        {
          "target": "com.amazonaws.bedrockagent#UpdateAgent"
        }
      ]
    },
    "com.amazonaws.bedrockagent#AgentRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "ARN of a IAM role.",
        "smithy.api#length": {
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:iam::([0-9]{12})?:role/(service-role/)?AmazonBedrockExecutionRoleForAgents.+$"
      }
    },
    "com.amazonaws.bedrockagent#AgentStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARING"
          }
        },
        "PREPARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARED"
          }
        },
        "NOT_PREPARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_PREPARED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "VERSIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERSIONING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Schema Type for Action APIs."
      }
    },
    "com.amazonaws.bedrockagent#AgentSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagent#AgentSummary"
      },
      "traits": {
        "smithy.api#documentation": "List of AgentSummary.",
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.bedrockagent#AgentSummary": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentStatus": {
          "target": "com.amazonaws.bedrockagent#AgentStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description"
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "latestAgentVersion": {
          "target": "com.amazonaws.bedrockagent#Version"
        }
      },
      "traits": {
        "smithy.api#documentation": "Summary of Agent."
      }
    },
    "com.amazonaws.bedrockagent#AgentVersion": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentArn": {
          "target": "com.amazonaws.bedrockagent#AgentArn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.bedrockagent#NumericalVersion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "instruction": {
          "target": "com.amazonaws.bedrockagent#Instruction"
        },
        "agentStatus": {
          "target": "com.amazonaws.bedrockagent#AgentStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "foundationModel": {
          "target": "com.amazonaws.bedrockagent#ModelIdentifier"
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description"
        },
        "idleSessionTTLInSeconds": {
          "target": "com.amazonaws.bedrockagent#SessionTTL",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentResourceRoleArn": {
          "target": "com.amazonaws.bedrockagent#AgentRoleArn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "customerEncryptionKeyArn": {
          "target": "com.amazonaws.bedrockagent#KmsKeyArn"
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "failureReasons": {
          "target": "com.amazonaws.bedrockagent#FailureReasons"
        },
        "recommendedActions": {
          "target": "com.amazonaws.bedrockagent#RecommendedActions"
        },
        "promptOverrideConfiguration": {
          "target": "com.amazonaws.bedrockagent#PromptOverrideConfiguration"
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the information of an agent version."
      }
    },
    "com.amazonaws.bedrockagent#AgentVersionSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagent#AgentVersionSummary"
      },
      "traits": {
        "smithy.api#documentation": "List of AgentVersionSummary.",
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.bedrockagent#AgentVersionSummary": {
      "type": "structure",
      "members": {
        "agentName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentStatus": {
          "target": "com.amazonaws.bedrockagent#AgentStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentVersion": {
          "target": "com.amazonaws.bedrockagent#Version",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description"
        }
      },
      "traits": {
        "smithy.api#documentation": "Summary of agent version."
      }
    },
    "com.amazonaws.bedrockagent#AliasResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.bedrockagent#CreateAgentAlias"
        },
        {
          "target": "com.amazonaws.bedrockagent#DeleteAgentAlias"
        },
        {
          "target": "com.amazonaws.bedrockagent#GetAgentAlias"
        },
        {
          "target": "com.amazonaws.bedrockagent#ListAgentAliases"
        },
        {
          "target": "com.amazonaws.bedrockagent#UpdateAgentAlias"
        }
      ]
    },
    "com.amazonaws.bedrockagent#AmazonBedrockAgentBuildTimeLambda": {
      "type": "service",
      "version": "2023-06-05",
      "resources": [
        {
          "target": "com.amazonaws.bedrockagent#ActionGroupResource"
        },
        {
          "target": "com.amazonaws.bedrockagent#AgentResource"
        },
        {
          "target": "com.amazonaws.bedrockagent#AliasResource"
        },
        {
          "target": "com.amazonaws.bedrockagent#DataSourceResource"
        },
        {
          "target": "com.amazonaws.bedrockagent#IngestionJobResource"
        },
        {
          "target": "com.amazonaws.bedrockagent#KnowledgeBaseResource"
        },
        {
          "target": "com.amazonaws.bedrockagent#TaggingResource"
        },
        {
          "target": "com.amazonaws.bedrockagent#VersionResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Bedrock Agent",
          "arnNamespace": "bedrock",
          "endpointPrefix": "bedrock-agent",
          "cloudTrailEventSource": "bedrock.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "bedrock"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-user-agent",
            "x-amzn-platform-id",
            "x-amzn-trace-id"
          ],
          "additionalExposedHeaders": ["x-amzn-errortype", "x-amzn-requestid", "x-amzn-trace-id"],
          "maxAge": 86400
        },
        "smithy.api#documentation": "An example service, deployed with the Octane Service creator,\nwhich will echo the string",
        "smithy.api#title": "Agents for Amazon Bedrock",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-agent-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-agent-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-agent.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://bedrock-agent.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.bedrockagent#AssociateAgentKnowledgeBase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagent#AssociateAgentKnowledgeBaseRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagent#AssociateAgentKnowledgeBaseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Associate a Knowledge Base to an existing Amazon Bedrock Agent",
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/agents/{agentId}/agentversions/{agentVersion}/knowledgebases/"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["console"]
      }
    },
    "com.amazonaws.bedrockagent#AssociateAgentKnowledgeBaseRequest": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "Id generated at the server side when an Agent is created",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "agentVersion": {
          "target": "com.amazonaws.bedrockagent#DraftVersion",
          "traits": {
            "smithy.api#documentation": "Draft Version of the Agent.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseState": {
          "target": "com.amazonaws.bedrockagent#KnowledgeBaseState"
        }
      },
      "traits": {
        "smithy.api#documentation": "Associate Agent Knowledge Base Request",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagent#AssociateAgentKnowledgeBaseResponse": {
      "type": "structure",
      "members": {
        "agentKnowledgeBase": {
          "target": "com.amazonaws.bedrockagent#AgentKnowledgeBase",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Associate Agent Knowledge Base Response",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagent#BasePromptTemplate": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Base Prompt Template.",
        "smithy.api#length": {
          "min": 1,
          "max": 100000
        }
      }
    },
    "com.amazonaws.bedrockagent#BedrockEmbeddingModelArn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Arn of a Bedrock model.",
        "smithy.api#length": {
          "min": 20,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12})|(:foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}))$"
      }
    },
    "com.amazonaws.bedrockagent#ChunkingConfiguration": {
      "type": "structure",
      "members": {
        "chunkingStrategy": {
          "target": "com.amazonaws.bedrockagent#ChunkingStrategy",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "fixedSizeChunkingConfiguration": {
          "target": "com.amazonaws.bedrockagent#FixedSizeChunkingConfiguration"
        }
      },
      "traits": {
        "smithy.api#documentation": "Configures chunking strategy"
      }
    },
    "com.amazonaws.bedrockagent#ChunkingStrategy": {
      "type": "enum",
      "members": {
        "FIXED_SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIXED_SIZE"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of chunking strategy"
      }
    },
    "com.amazonaws.bedrockagent#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Client specified token used for idempotency checks",
        "smithy.api#length": {
          "min": 33,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
      }
    },
    "com.amazonaws.bedrockagent#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Name of the column",
        "smithy.api#length": {
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_\\-]+$"
      }
    },
    "com.amazonaws.bedrockagent#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockagent#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "This exception is thrown when there is a conflict performing an operation",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.bedrockagent#CreateAgent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagent#CreateAgentRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagent#CreateAgentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates an Amazon Bedrock Agent",
        "smithy.api#http": {
          "code": 202,
          "method": "PUT",
          "uri": "/agents/"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["console"]
      }
    },
    "com.amazonaws.bedrockagent#CreateAgentActionGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagent#CreateAgentActionGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagent#CreateAgentActionGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates an Action Group for existing Amazon Bedrock Agent",
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/agents/{agentId}/agentversions/{agentVersion}/actiongroups/"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["console"]
      }
    },
    "com.amazonaws.bedrockagent#CreateAgentActionGroupRequest": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "Id generated at the server side when an Agent is created",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "agentVersion": {
          "target": "com.amazonaws.bedrockagent#DraftVersion",
          "traits": {
            "smithy.api#documentation": "Draft Version of the Agent.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "actionGroupName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.bedrockagent#ClientToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description"
        },
        "parentActionGroupSignature": {
          "target": "com.amazonaws.bedrockagent#ActionGroupSignature"
        },
        "actionGroupExecutor": {
          "target": "com.amazonaws.bedrockagent#ActionGroupExecutor"
        },
        "apiSchema": {
          "target": "com.amazonaws.bedrockagent#APISchema"
        },
        "actionGroupState": {
          "target": "com.amazonaws.bedrockagent#ActionGroupState"
        }
      },
      "traits": {
        "smithy.api#documentation": "Create Action Group Request",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagent#CreateAgentActionGroupResponse": {
      "type": "structure",
      "members": {
        "agentActionGroup": {
          "target": "com.amazonaws.bedrockagent#AgentActionGroup",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Create Action Group Response",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagent#CreateAgentAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagent#CreateAgentAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagent#CreateAgentAliasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates an Alias for an existing Amazon Bedrock Agent",
        "smithy.api#http": {
          "code": 202,
          "method": "PUT",
          "uri": "/agents/{agentId}/agentaliases/"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["console"]
      }
    },
    "com.amazonaws.bedrockagent#CreateAgentAliasRequest": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "Id generated at the server side when an Agent is created",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "agentAliasName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.bedrockagent#ClientToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description"
        },
        "routingConfiguration": {
          "target": "com.amazonaws.bedrockagent#AgentAliasRoutingConfiguration"
        },
        "tags": {
          "target": "com.amazonaws.bedrockagent#TagsMap"
        }
      },
      "traits": {
        "smithy.api#documentation": "Create Agent Alias Request",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagent#CreateAgentAliasResponse": {
      "type": "structure",
      "members": {
        "agentAlias": {
          "target": "com.amazonaws.bedrockagent#AgentAlias",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Create Agent Alias Response",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagent#CreateAgentRequest": {
      "type": "structure",
      "members": {
        "agentName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.bedrockagent#ClientToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        },
        "instruction": {
          "target": "com.amazonaws.bedrockagent#Instruction"
        },
        "foundationModel": {
          "target": "com.amazonaws.bedrockagent#ModelIdentifier"
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description"
        },
        "idleSessionTTLInSeconds": {
          "target": "com.amazonaws.bedrockagent#SessionTTL"
        },
        "agentResourceRoleArn": {
          "target": "com.amazonaws.bedrockagent#AgentRoleArn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "customerEncryptionKeyArn": {
          "target": "com.amazonaws.bedrockagent#KmsKeyArn"
        },
        "tags": {
          "target": "com.amazonaws.bedrockagent#TagsMap"
        },
        "promptOverrideConfiguration": {
          "target": "com.amazonaws.bedrockagent#PromptOverrideConfiguration"
        }
      },
      "traits": {
        "smithy.api#documentation": "Create Agent Request",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagent#CreateAgentResponse": {
      "type": "structure",
      "members": {
        "agent": {
          "target": "com.amazonaws.bedrockagent#Agent",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Create Agent Response",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagent#CreateDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagent#CreateDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagent#CreateDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Create a new data source",
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/knowledgebases/{knowledgeBaseId}/datasources/"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["console"]
      }
    },
    "com.amazonaws.bedrockagent#CreateDataSourceRequest": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.bedrockagent#ClientToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        },
        "name": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description"
        },
        "dataSourceConfiguration": {
          "target": "com.amazonaws.bedrockagent#DataSourceConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serverSideEncryptionConfiguration": {
          "target": "com.amazonaws.bedrockagent#ServerSideEncryptionConfiguration"
        },
        "vectorIngestionConfiguration": {
          "target": "com.amazonaws.bedrockagent#VectorIngestionConfiguration"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagent#CreateDataSourceResponse": {
      "type": "structure",
      "members": {
        "dataSource": {
          "target": "com.amazonaws.bedrockagent#DataSource",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagent#CreateKnowledgeBase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagent#CreateKnowledgeBaseRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagent#CreateKnowledgeBaseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Create a new knowledge base",
        "smithy.api#http": {
          "code": 202,
          "method": "PUT",
          "uri": "/knowledgebases/"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["console"]
      }
    },
    "com.amazonaws.bedrockagent#CreateKnowledgeBaseRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.bedrockagent#ClientToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        },
        "name": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description"
        },
        "roleArn": {
          "target": "com.amazonaws.bedrockagent#KnowledgeBaseRoleArn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseConfiguration": {
          "target": "com.amazonaws.bedrockagent#KnowledgeBaseConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "storageConfiguration": {
          "target": "com.amazonaws.bedrockagent#StorageConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.bedrockagent#TagsMap"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagent#CreateKnowledgeBaseResponse": {
      "type": "structure",
      "members": {
        "knowledgeBase": {
          "target": "com.amazonaws.bedrockagent#KnowledgeBase",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagent#CreationMode": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "OVERRIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERRIDDEN"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creation Mode for Prompt Configuration."
      }
    },
    "com.amazonaws.bedrockagent#DataSource": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dataSourceId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.bedrockagent#DataSourceStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description"
        },
        "dataSourceConfiguration": {
          "target": "com.amazonaws.bedrockagent#DataSourceConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serverSideEncryptionConfiguration": {
          "target": "com.amazonaws.bedrockagent#ServerSideEncryptionConfiguration"
        },
        "vectorIngestionConfiguration": {
          "target": "com.amazonaws.bedrockagent#VectorIngestionConfiguration"
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Contains the information of a data source."
      }
    },
    "com.amazonaws.bedrockagent#DataSourceConfiguration": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.bedrockagent#DataSourceType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "s3Configuration": {
          "target": "com.amazonaws.bedrockagent#S3DataSourceConfiguration"
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies a raw data source location to ingest."
      }
    },
    "com.amazonaws.bedrockagent#DataSourceResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.bedrockagent#CreateDataSource"
        },
        {
          "target": "com.amazonaws.bedrockagent#DeleteDataSource"
        },
        {
          "target": "com.amazonaws.bedrockagent#GetDataSource"
        },
        {
          "target": "com.amazonaws.bedrockagent#ListDataSources"
        },
        {
          "target": "com.amazonaws.bedrockagent#UpdateDataSource"
        }
      ]
    },
    "com.amazonaws.bedrockagent#DataSourceStatus": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The status of a data source."
      }
    },
    "com.amazonaws.bedrockagent#DataSourceSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagent#DataSourceSummary"
      },
      "traits": {
        "smithy.api#documentation": "list of data source summaries"
      }
    },
    "com.amazonaws.bedrockagent#DataSourceSummary": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dataSourceId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.bedrockagent#DataSourceStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description"
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Summary information of a data source."
      }
    },
    "com.amazonaws.bedrockagent#DataSourceType": {
      "type": "enum",
      "members": {
        "S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of the data source location."
      }
    },
    "com.amazonaws.bedrockagent#DateTimestamp": {
      "type": "timestamp",
      "traits": {
        "smithy.api#documentation": "Time Stamp.",
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.bedrockagent#DeleteAgent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagent#DeleteAgentRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagent#DeleteAgentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes an Agent for existing Amazon Bedrock Agent",
        "smithy.api#http": {
          "code": 202,
          "method": "DELETE",
          "uri": "/agents/{agentId}/"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["console"]
      }
    },
    "com.amazonaws.bedrockagent#DeleteAgentActionGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagent#DeleteAgentActionGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagent#DeleteAgentActionGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes an Action Group for existing Amazon Bedrock Agent.",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/agents/{agentId}/agentversions/{agentVersion}/actiongroups/{actionGroupId}/"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["console"]
      }
    },
    "com.amazonaws.bedrockagent#DeleteAgentActionGroupRequest": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "Id generated at the server side when an Agent is created",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "agentVersion": {
          "target": "com.amazonaws.bedrockagent#DraftVersion",
          "traits": {
            "smithy.api#documentation": "Draft Version of the Agent.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "actionGroupId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "Id generated at the server side when an Agent ActionGroup is created",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "skipResourceInUseCheck": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "Skips checking if resource is in use when set to true. Defaults to false",
            "smithy.api#httpQuery": "skipResourceInUseCheck"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Delete Action Group Request",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagent#DeleteAgentActionGroupResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Delete Action Group Response",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagent#DeleteAgentAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagent#DeleteAgentAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagent#DeleteAgentAliasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes an Alias for a Amazon Bedrock Agent",
        "smithy.api#http": {
          "code": 202,
          "method": "DELETE",
          "uri": "/agents/{agentId}/agentaliases/{agentAliasId}/"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["console"]
      }
    },
    "com.amazonaws.bedrockagent#DeleteAgentAliasRequest": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "Id generated at the server side when an Agent is created",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "agentAliasId": {
          "target": "com.amazonaws.bedrockagent#AgentAliasId",
          "traits": {
            "smithy.api#documentation": "Id generated at the server side when an Agent Alias is created",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Delete Agent Alias Request",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagent#DeleteAgentAliasResponse": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentAliasId": {
          "target": "com.amazonaws.bedrockagent#AgentAliasId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentAliasStatus": {
          "target": "com.amazonaws.bedrockagent#AgentAliasStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Delete Agent Alias Response",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagent#DeleteAgentRequest": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "Id generated at the server side when an Agent is created",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "skipResourceInUseCheck": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "Skips checking if resource is in use when set to true. Defaults to false",
            "smithy.api#httpQuery": "skipResourceInUseCheck"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Delete Agent Request",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagent#DeleteAgentResponse": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentStatus": {
          "target": "com.amazonaws.bedrockagent#AgentStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Delete Agent Response",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagent#DeleteAgentVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagent#DeleteAgentVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagent#DeleteAgentVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes an Agent version for existing Amazon Bedrock Agent",
        "smithy.api#http": {
          "code": 202,
          "method": "DELETE",
          "uri": "/agents/{agentId}/agentversions/{agentVersion}/"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["console"]
      }
    },
    "com.amazonaws.bedrockagent#DeleteAgentVersionRequest": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "Id generated at the server side when an Agent is created",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "agentVersion": {
          "target": "com.amazonaws.bedrockagent#NumericalVersion",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "skipResourceInUseCheck": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "Skips checking if resource is in use when set to true. Defaults to false",
            "smithy.api#httpQuery": "skipResourceInUseCheck"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Delete Agent Version Request",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagent#DeleteAgentVersionResponse": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentVersion": {
          "target": "com.amazonaws.bedrockagent#NumericalVersion",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "agentStatus": {
          "target": "com.amazonaws.bedrockagent#AgentStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Delete Agent Version Response",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagent#DeleteDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagent#DeleteDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagent#DeleteDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Delete an existing data source",
        "smithy.api#http": {
          "code": 202,
          "method": "DELETE",
          "uri": "/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["console"]
      }
    },
    "com.amazonaws.bedrockagent#DeleteDataSourceRequest": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "dataSourceId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagent#DeleteDataSourceResponse": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dataSourceId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.bedrockagent#DataSourceStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagent#DeleteKnowledgeBase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagent#DeleteKnowledgeBaseRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagent#DeleteKnowledgeBaseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Delete an existing knowledge base",
        "smithy.api#http": {
          "code": 202,
          "method": "DELETE",
          "uri": "/knowledgebases/{knowledgeBaseId}"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["console"]
      }
    },
    "com.amazonaws.bedrockagent#DeleteKnowledgeBaseRequest": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagent#DeleteKnowledgeBaseResponse": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.bedrockagent#KnowledgeBaseStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagent#Description": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Description of the Resource.",
        "smithy.api#length": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.bedrockagent#DisassociateAgentKnowledgeBase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagent#DisassociateAgentKnowledgeBaseRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagent#DisassociateAgentKnowledgeBaseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Disassociate an existing Knowledge Base from an Amazon Bedrock Agent",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/agents/{agentId}/agentversions/{agentVersion}/knowledgebases/{knowledgeBaseId}/"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["console"]
      }
    },
    "com.amazonaws.bedrockagent#DisassociateAgentKnowledgeBaseRequest": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "Id generated at the server side when an Agent is created",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "agentVersion": {
          "target": "com.amazonaws.bedrockagent#DraftVersion",
          "traits": {
            "smithy.api#documentation": "Draft Version of the Agent.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "Id generated at the server side when a Knowledge Base is associated to an Agent",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Disassociate Agent Knowledge Base Request",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagent#DisassociateAgentKnowledgeBaseResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Disassociate Agent Knowledge Base Response",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagent#DraftVersion": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Draft Agent Version.",
        "smithy.api#length": {
          "min": 5,
          "max": 5
        },
        "smithy.api#pattern": "^DRAFT$"
      }
    },
    "com.amazonaws.bedrockagent#FailureReason": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Failure Reason for Error.",
        "smithy.api#length": {
          "max": 2048
        }
      }
    },
    "com.amazonaws.bedrockagent#FailureReasons": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagent#FailureReason"
      },
      "traits": {
[...]
