{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.bedrockagentcorecontrol#A2aDescriptor": {
            "type": "structure",
            "members": {
                "agentCard": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentCardDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p>The agent card definition for the A2A agent, as defined by the A2A protocol specification.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The Agent-to-Agent (A2A) protocol descriptor for a registry record. Contains the agent card definition as defined by the A2A protocol specification.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#NonBlankString"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>This exception is thrown when a request is denied per access permissions</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#Action": {
            "type": "union",
            "members": {
                "configurationBundle": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ConfigurationBundleAction",
                    "traits": {
                        "smithy.api#documentation": "<p>An action that applies a configuration bundle override to the request.</p>"
                    }
                },
                "routeToTarget": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#RouteToTargetAction",
                    "traits": {
                        "smithy.api#documentation": "<p>An action that routes the request to a specific target.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>An action to take when a gateway rule's conditions are met.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#Actions": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#Action"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ActorTokenContentType": {
            "type": "enum",
            "members": {
                "NONE": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NONE"
                    }
                },
                "M2M": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "M2M"
                    }
                },
                "AWS_IAM_ID_TOKEN_JWT": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "AWS_IAM_ID_TOKEN_JWT"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AddDatasetExamples": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.bedrockagentcorecontrol#AddDatasetExamplesRequest"
            },
            "output": {
                "target": "com.amazonaws.bedrockagentcorecontrol#AddDatasetExamplesResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ConflictException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#InternalServerException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p> Adds examples to the dataset's DRAFT. All examples are validated against the dataset's schema type before any writes occur. If any example fails validation, the entire batch is rejected (all-or-nothing semantics). </p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/datasets/{datasetId}/examples/add",
                    "code": 202
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AddDatasetExamplesRequest": {
            "type": "structure",
            "members": {
                "datasetId": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#DatasetId",
                    "traits": {
                        "smithy.api#documentation": "<p> The unique identifier of the dataset to add examples to. </p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the API request completes no more than one time. If you don't specify this field, a value is randomly generated for you. If this token matches a previous request, the service ignores the request, but doesn't return an error. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "source": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#DataSourceType",
                    "traits": {
                        "smithy.api#documentation": "<p> Source of examples to add. Provide either inline examples or an S3 URI pointing to a JSONL file. </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AddDatasetExamplesResponse": {
            "type": "structure",
            "members": {
                "datasetArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#DatasetArn",
                    "traits": {
                        "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the dataset. </p>",
                        "smithy.api#required": {}
                    }
                },
                "datasetId": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#DatasetId",
                    "traits": {
                        "smithy.api#documentation": "<p> The unique identifier of the dataset. </p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#DatasetStatus",
                    "traits": {
                        "smithy.api#documentation": "<p> The current status of the dataset. </p>",
                        "smithy.api#required": {}
                    }
                },
                "addedCount": {
                    "target": "smithy.api#Long",
                    "traits": {
                        "smithy.api#documentation": "<p> The number of examples added. </p>",
                        "smithy.api#required": {}
                    }
                },
                "updatedAt": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p> The timestamp when the examples were added. </p>",
                        "smithy.api#required": {}
                    }
                },
                "exampleIds": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ExampleIdList",
                    "traits": {
                        "smithy.api#documentation": "<p> IDs of all added examples (auto-generated UUIDs). </p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AdditionalModelRequestFields": {
            "type": "document"
        },
        "com.amazonaws.bedrockagentcorecontrol#AdvertisedScopeMappingType": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.bedrockagentcorecontrol#AllowedScopeType"
            },
            "value": {
                "target": "com.amazonaws.bedrockagentcorecontrol#AllowedScopeType"
            },
            "traits": {
                "smithy.api#documentation": "Maps an originalScope (from allowedScopes) to an advertisedScope\nexposed in WWW-Authenticate / Protected Resource Metadata.",
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentCardDefinition": {
            "type": "structure",
            "members": {
                "schemaVersion": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#SchemaVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The schema version of the agent card based on the A2A protocol specification.</p>"
                    }
                },
                "inlineContent": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#InlineContent",
                    "traits": {
                        "smithy.api#documentation": "<p>The JSON content containing the A2A agent card definition, conforming to the A2A protocol specification.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The agent card definition for an A2A descriptor. Contains the schema version and inline content for the agent card.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentEndpointDescription": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentEndpointResource": {
            "type": "resource",
            "identifiers": {
                "agentRuntimeId": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeId"
                },
                "endpointName": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#EndpointName"
                }
            },
            "create": {
                "target": "com.amazonaws.bedrockagentcorecontrol#CreateAgentRuntimeEndpoint"
            },
            "read": {
                "target": "com.amazonaws.bedrockagentcorecontrol#GetAgentRuntimeEndpoint"
            },
            "update": {
                "target": "com.amazonaws.bedrockagentcorecontrol#UpdateAgentRuntimeEndpoint"
            },
            "delete": {
                "target": "com.amazonaws.bedrockagentcorecontrol#DeleteAgentRuntimeEndpoint"
            },
            "list": {
                "target": "com.amazonaws.bedrockagentcorecontrol#ListAgentRuntimeEndpoints"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentManagedRuntimeType": {
            "type": "enum",
            "members": {
                "PYTHON_3_10": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PYTHON_3_10"
                    }
                },
                "PYTHON_3_11": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PYTHON_3_11"
                    }
                },
                "PYTHON_3_12": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PYTHON_3_12"
                    }
                },
                "PYTHON_3_13": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PYTHON_3_13"
                    }
                },
                "PYTHON_3_14": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "PYTHON_3_14"
                    }
                },
                "NODE_22": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "NODE_22"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentResource": {
            "type": "resource",
            "identifiers": {
                "agentRuntimeId": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeId"
                }
            },
            "create": {
                "target": "com.amazonaws.bedrockagentcorecontrol#CreateAgentRuntime"
            },
            "read": {
                "target": "com.amazonaws.bedrockagentcorecontrol#GetAgentRuntime"
            },
            "update": {
                "target": "com.amazonaws.bedrockagentcorecontrol#UpdateAgentRuntime"
            },
            "delete": {
                "target": "com.amazonaws.bedrockagentcorecontrol#DeleteAgentRuntime"
            },
            "list": {
                "target": "com.amazonaws.bedrockagentcorecontrol#ListAgentRuntimes"
            },
            "operations": [
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ListAgentRuntimeVersions"
                }
            ]
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntime": {
            "type": "structure",
            "members": {
                "agentRuntimeArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent runtime.</p>",
                        "smithy.api#required": {}
                    }
                },
                "agentRuntimeId": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the agent runtime.</p>",
                        "smithy.api#required": {}
                    }
                },
                "agentRuntimeVersion": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The version of the agent runtime.</p>",
                        "smithy.api#required": {}
                    }
                },
                "agentRuntimeName": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the agent runtime.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the agent runtime.</p>",
                        "smithy.api#required": {}
                    }
                },
                "lastUpdatedAt": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the agent runtime was last updated.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the agent runtime.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about an agent runtime. An agent runtime is the execution environment for a Amazon Bedrock AgentCore Agent.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {
                    "type": "AWS::BedrockAgentCore::Runtime"
                },
                "smithy.api#pattern": "^arn:(-[^:]+)?:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:agent/[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}:([0-9]{0,4}[1-9][0-9]{0,4})$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeArtifact": {
            "type": "union",
            "members": {
                "containerConfiguration": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ContainerConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The container configuration for the agent artifact.</p>"
                    }
                },
                "codeConfiguration": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#CodeConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The code configuration for the agent runtime artifact, including the source code location and execution settings.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The artifact of the agent.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpoint": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#EndpointName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the agent runtime endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "liveVersion": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The live version of the agent runtime endpoint. This is the version that is currently serving requests.</p>"
                    }
                },
                "targetVersion": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeVersion",
                    "traits": {
                        "smithy.api#documentation": "<p>The target version of the agent runtime endpoint. This is the version that the endpoint is being updated to.</p>"
                    }
                },
                "agentRuntimeEndpointArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpointArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent runtime endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "agentRuntimeArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent runtime associated with the endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpointStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The current status of the agent runtime endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "id": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpointId",
                    "traits": {
                        "smithy.api#documentation": "<p>The unique identifier of the agent runtime endpoint.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentEndpointDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the agent runtime endpoint.</p>"
                    }
                },
                "createdAt": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the agent runtime endpoint was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "lastUpdatedAt": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#DateTimestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the agent runtime endpoint was last updated.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about an agent runtime endpoint. An endpoint provides a way to connect to and interact with an agent runtime.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpointArn": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {
                    "type": "AWS::BedrockAgentCore::RuntimeEndpoint"
                },
                "smithy.api#pattern": "^arn:(-[^:]+)?:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:agentEndpoint/[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpointId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]{0,99}-[a-zA-Z0-9]{10}$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpointStatus": {
            "type": "enum",
            "members": {
                "CREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATING"
                    }
                },
                "CREATE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATE_FAILED"
                    }
                },
                "UPDATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATING"
                    }
                },
                "UPDATE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATE_FAILED"
                    }
                },
                "READY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "READY"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpoints": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeEndpoint"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeId": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]{0,99}-[a-zA-Z0-9]{10}$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeName": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]{0,47}$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeStatus": {
            "type": "enum",
            "members": {
                "CREATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATING"
                    }
                },
                "CREATE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "CREATE_FAILED"
                    }
                },
                "UPDATING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATING"
                    }
                },
                "UPDATE_FAILED": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "UPDATE_FAILED"
                    }
                },
                "READY": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "READY"
                    }
                },
                "DELETING": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "DELETING"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimeVersion": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 5
                },
                "smithy.api#pattern": "^([1-9][0-9]{0,4})$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentRuntimes": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#AgentRuntime"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AgentSkillsDescriptor": {
            "type": "structure",
            "members": {
                "skillMd": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#SkillMdDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p>The optional skill markdown definition describing the agent's skills in a human-readable format.</p>"
                    }
                },
                "skillDefinition": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#SkillDefinition",
                    "traits": {
                        "smithy.api#documentation": "<p>The structured skill definition with schema version and content.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The agent skills descriptor for a registry record. Contains an optional skill markdown definition in human-readable format and an optional structured skill definition.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AllowedAudience": {
            "type": "string"
        },
        "com.amazonaws.bedrockagentcorecontrol#AllowedAudienceList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#AllowedAudience"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AllowedClient": {
            "type": "string"
        },
        "com.amazonaws.bedrockagentcorecontrol#AllowedClientsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#AllowedClient"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AllowedQueryParameters": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#HttpQueryParameterName"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                },
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AllowedRequestHeaders": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#HttpHeaderName"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                },
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AllowedResponseHeaders": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#HttpHeaderName"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                },
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AllowedScopeType": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "^[\\x21\\x23-\\x5B\\x5D-\\x7E]+$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AllowedScopesType": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#AllowedScopeType"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AllowedStringListValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                },
                "smithy.api#pattern": "^[a-zA-Z0-9\\s._:/=+@-]*$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AllowedStringListValuesList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#AllowedStringListValue"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AllowedStringValue": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#pattern": "^[a-zA-Z0-9\\s._:/=+@-]*$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AllowedStringValuesList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#AllowedStringValue"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AllowedWorkloadConfiguration": {
            "type": "structure",
            "members": {
                "hostingEnvironments": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#HostingEnvironmentListType",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of hosting environments whose workloads are allowed to invoke the target. At launch, the only supported hosting environment is AgentCore Gateway.</p>"
                    }
                },
                "workloadIdentities": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#WorkloadIdentityNameListType",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of workload identities that are allowed to invoke the target.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration that restricts which workloads in the request's identity chain are allowed to invoke the target, identified by their hosting environments and workload identities. At launch, this is supported only for AgentCore Runtime targets, and the allowed workloads are AgentCore Gateways.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#AmazonBedrockAgentCoreControl": {
            "type": "service",
            "version": "2023-06-05",
            "operations": [
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#DeleteResourcePolicy"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#GetResourcePolicy"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#GetTokenVault"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#PutResourcePolicy"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#SetTokenVaultCMK"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#TagResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#UntagResource"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentEndpointResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#AgentResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialProvider"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#BrowserProfileResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#BrowserResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#CodeInterpreterResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ConfigurationBundle"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#Dataset"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#Evaluator"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#GatewayResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#GatewayRuleResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#GatewayTargetResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#HarnessEndpointResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#HarnessResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#MemoryResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#Oauth2CredentialProvider"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#OnlineEvaluationConfig"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#PaymentCredentialProvider"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#PaymentManagerResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#PolicyEngineResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#PolicyGenerationResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#PolicyResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#RegistryRecordResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#RegistryResource"
                },
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#WorkloadIdentity"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "Bedrock AgentCore Control",
                    "arnNamespace": "bedrock-agentcore",
                    "endpointPrefix": "bedrock-agentcore-control",
                    "cloudTrailEventSource": "bedrock-agentcore.amazonaws.com"
                },
                "aws.auth#sigv4": {
                    "name": "bedrock-agentcore"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#cors": {
                    "additionalAllowedHeaders": [
                        "*",
                        "content-type",
                        "x-amz-content-sha256",
                        "x-amz-user-agent",
                        "x-amzn-platform-id",
                        "x-amzn-trace-id"
                    ],
                    "additionalExposedHeaders": [
                        "x-amzn-errortype",
                        "x-amzn-requestid",
                        "x-amzn-trace-id"
                    ],
                    "maxAge": 86400
                },
                "smithy.api#documentation": "<p>Welcome to the Amazon Bedrock AgentCore Control plane API reference. Control plane actions configure, create, modify, and monitor Amazon Web Services resources.</p>",
                "smithy.api#title": "Amazon Bedrock AgentCore Control",
                "smithy.rules#endpointBdd": {
                    "version": "1.1",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "conditions": [
                        {
                            "fn": "isSet",
                            "argv": [
                                {
                                    "ref": "Endpoint"
                                }
                            ]
                        },
                        {
                            "fn": "isSet",
                            "argv": [
                                {
                                    "ref": "Region"
                                }
                            ]
                        },
                        {
                            "fn": "aws.partition",
                            "argv": [
                                {
                                    "ref": "Region"
                                }
                            ],
                            "assign": "PartitionResult"
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "ref": "UseFIPS"
                                },
                                true
                            ]
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "ref": "UseDualStack"
                                },
                                true
                            ]
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                    ]
                                },
                                true
                            ]
                        },
                        {
                            "fn": "booleanEquals",
                            "argv": [
                                {
                                    "fn": "getAttr",
                                    "argv": [
                                        {
                                            "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                    ]
                                },
                                true
                            ]
                        }
                    ],
                    "results": [
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": {
                                    "ref": "Endpoint"
                                },
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://bedrock-agentcore-control-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://bedrock-agentcore-control-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "FIPS is enabled but this partition does not support FIPS",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://bedrock-agentcore-control.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "DualStack is enabled but this partition does not support DualStack",
                            "type": "error"
                        },
                        {
                            "conditions": [],
                            "endpoint": {
                                "url": "https://bedrock-agentcore-control.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                            },
                            "type": "endpoint"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ],
                    "root": 2,
                    "nodeCount": 13,
                    "nodes": "/////wAAAAH/////AAAAAAAAAAwAAAADAAAAAQAAAAQF9eELAAAAAgAAAAUF9eELAAAAAwAAAAgAAAAGAAAABAAAAAcF9eEKAAAABQX14QgF9eEJAAAABAAAAAoAAAAJAAAABgX14QYF9eEHAAAABQAAAAsF9eEFAAAABgX14QQF9eEFAAAAAwX14QEAAAANAAAABAX14QIF9eED"
                },
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "string"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "string"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                            "type": "error"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": {
                                                    "ref": "Endpoint"
                                                },
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "isSet",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ]
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "aws.partition",
                                                    "argv": [
                                                        {
                                                            "ref": "Region"
                                                        }
                                                    ],
                                                    "assign": "PartitionResult"
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        }
                                                                    ]
                                                                },
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://bedrock-agentcore-control-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseFIPS"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsFIPS"
                                                                            ]
                                                                        },
                                                                        true
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://bedrock-agentcore-control-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "FIPS is enabled but this partition does not support FIPS",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "ref": "UseDualStack"
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [
                                                                {
                                                                    "fn": "booleanEquals",
                                                                    "argv": [
                                                                        true,
                                                                        {
                                                                            "fn": "getAttr",
                                                                            "argv": [
                                                                                {
                                                                                    "ref": "PartitionResult"
                                                                                },
                                                                                "supportsDualStack"
                                                                            ]
                                                                        }
                                                                    ]
                                                                }
                                                            ],
                                                            "rules": [
                                                                {
                                                                    "conditions": [],
                                                                    "rules": [
                                                                        {
                                                                            "conditions": [],
                                                                            "endpoint": {
                                                                                "url": "https://bedrock-agentcore-control.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                                "properties": {},
                                                                                "headers": {}
                                                                            },
                                                                            "type": "endpoint"
                                                                        }
                                                                    ],
                                                                    "type": "tree"
                                                                }
                                                            ],
                                                            "type": "tree"
                                                        },
                                                        {
                                                            "conditions": [],
                                                            "error": "DualStack is enabled but this partition does not support DualStack",
                                                            "type": "error"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://bedrock-agentcore-control.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                }
                                            ],
                                            "type": "tree"
                                        }
                                    ],
                                    "type": "tree"
                                },
                                {
                                    "conditions": [],
                                    "error": "Invalid Configuration: Missing Region",
                                    "type": "error"
                                }
                            ],
                            "type": "tree"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://bedrock-agentcore-control.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiGatewayTargetConfiguration": {
            "type": "structure",
            "members": {
                "restApiId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the API Gateway REST API.</p>",
                        "smithy.api#required": {}
                    }
                },
                "stage": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The ID of the stage of the REST API to add as a target.</p>",
                        "smithy.api#required": {}
                    }
                },
                "apiGatewayToolConfiguration": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ApiGatewayToolConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration for defining REST API tool filters and overrides for the gateway target.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration for an Amazon API Gateway target.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiGatewayToolConfiguration": {
            "type": "structure",
            "members": {
                "toolOverrides": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ApiGatewayToolOverrides",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of explicit tool definitions with optional custom names and descriptions.</p>"
                    }
                },
                "toolFilters": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ApiGatewayToolFilters",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of path and method patterns to expose as tools using metadata from the REST API's OpenAPI specification.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration for defining REST API tool filters and overrides for the gateway target.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiGatewayToolFilter": {
            "type": "structure",
            "members": {
                "filterPath": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Resource path to match in the REST API. Supports exact paths (for example, <code>/pets</code>) or wildcard paths (for example, <code>/pets/*</code> to match all paths under <code>/pets</code>). Must match existing paths in the REST API.</p>",
                        "smithy.api#required": {}
                    }
                },
                "methods": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#RestApiMethods",
                    "traits": {
                        "smithy.api#documentation": "<p>The methods to filter for.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies which operations from an API Gateway REST API are exposed as tools. Tool names and descriptions are derived from the operationId and description fields in the API's exported OpenAPI specification.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiGatewayToolFilters": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#ApiGatewayToolFilter"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiGatewayToolOverride": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of tool. Identifies the tool in the Model Context Protocol.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the tool. Provides information about the purpose and usage of the tool. If not provided, uses the description from the API's OpenAPI specification.</p>"
                    }
                },
                "path": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#documentation": "<p>Resource path in the REST API (e.g., <code>/pets</code>). Must explicitly match an existing path in the REST API.</p>",
                        "smithy.api#required": {}
                    }
                },
                "method": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#RestApiMethod",
                    "traits": {
                        "smithy.api#documentation": "<p>The HTTP method to expose for the specified path.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Settings to override configurations for a tool.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiGatewayToolOverrides": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#ApiGatewayToolOverride"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiKeyArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:aws:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:token-vault/[a-zA-Z0-9-.]+/apikeycredentialprovider/[a-zA-Z0-9-.]+$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialLocation": {
            "type": "enum",
            "members": {
                "HEADER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "HEADER"
                    }
                },
                "QUERY_PARAMETER": {
                    "target": "smithy.api#Unit",
                    "traits": {
                        "smithy.api#enumValue": "QUERY_PARAMETER"
                    }
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialParameterName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialPrefix": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 64
                }
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialProvider": {
            "type": "resource",
            "identifiers": {
                "name": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#CredentialProviderName"
                }
            },
            "properties": {
                "apiKey": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#DefaultApiKeyType"
                },
                "apiKeySecretArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#Secret"
                },
                "apiKeySecretJsonKey": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#SecretJsonKeyType"
                },
                "apiKeySecretConfig": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#SecretReference"
                },
                "apiKeySecretSource": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#SecretSourceType"
                },
                "credentialProviderArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialProviderArnType"
                },
                "createdTime": {
                    "target": "smithy.api#Timestamp"
                },
                "lastUpdatedTime": {
                    "target": "smithy.api#Timestamp"
                }
            },
            "put": {
                "target": "com.amazonaws.bedrockagentcorecontrol#CreateApiKeyCredentialProvider"
            },
            "read": {
                "target": "com.amazonaws.bedrockagentcorecontrol#GetApiKeyCredentialProvider"
            },
            "update": {
                "target": "com.amazonaws.bedrockagentcorecontrol#UpdateApiKeyCredentialProvider"
            },
            "delete": {
                "target": "com.amazonaws.bedrockagentcorecontrol#DeleteApiKeyCredentialProvider"
            },
            "collectionOperations": [
                {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ListApiKeyCredentialProviders"
                }
            ]
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialProviderArn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:([^:]*):([^:]*):([^:]*):([0-9]{12})?:(.+)$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialProviderArnType": {
            "type": "string",
            "traits": {
                "aws.api#arnReference": {
                    "type": "AWS::BedrockAgentCore::APIKeyCredentialProvider"
                },
                "smithy.api#pattern": "^arn:(aws|aws-us-gov):acps:[A-Za-z0-9-]{1,64}:[0-9]{12}:token-vault/[a-zA-Z0-9-.]+/apikeycredentialprovider/[a-zA-Z0-9-.]+$"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialProviderItem": {
            "type": "structure",
            "members": {
                "name": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#CredentialProviderName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the API key credential provider.</p>",
                        "smithy.api#required": {}
                    }
                },
                "credentialProviderArn": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialProviderArnType",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the API key credential provider.</p>",
                        "smithy.api#required": {}
                    }
                },
                "createdTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the API key credential provider was created.</p>",
                        "smithy.api#required": {}
                    }
                },
                "lastUpdatedTime": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The timestamp when the API key credential provider was last updated.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Contains information about an API key credential provider.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialProviders": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.bedrockagentcorecontrol#ApiKeyCredentialProviderItem"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApiSchemaConfiguration": {
            "type": "union",
            "members": {
                "s3": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#S3Configuration"
                },
                "inlinePayload": {
                    "target": "com.amazonaws.bedrockagentcorecontrol#InlinePayload",
                    "traits": {
                        "smithy.api#documentation": "<p>The inline payload containing the API schema definition.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration for API schema.</p>"
            }
        },
        "com.amazonaws.bedrockagentcorecontrol#ApprovalConfiguration": {
            "type": "structure",
            "members": {
                "autoApproval": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#default": false,
                        "smithy.api#documentation": "<p>Whether registry records are auto-approved. When set to <code>true</code>, records are automatically approved upon creation. When set to <code>false</code> (the default), records require explicit approval for security purposes.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration for the registry record approval workflow. Controls whether records added to the registry require explicit approval before becoming active.</p>"
            }
        },
[...]
