{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.bedrockagentcore#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockagentcore#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The exception that occurs when you do not have sufficient permissions to perform an action. Verify that your IAM policy includes the necessary permissions for the operation you are trying to perform.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.bedrockagentcore#AccessTokenType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 131072
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentcore#ActorId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_/]*$"
      }
    },
    "com.amazonaws.bedrockagentcore#ActorSummary": {
      "type": "structure",
      "members": {
        "actorId": {
          "target": "com.amazonaws.bedrockagentcore#ActorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the actor.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about an actor in a memory store.</p>"
      }
    },
    "com.amazonaws.bedrockagentcore#ActorSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagentcore#ActorSummary"
      }
    },
    "com.amazonaws.bedrockagentcore#AgenticResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.bedrockagentcore#InvokeAgentRuntime"
        }
      ]
    },
    "com.amazonaws.bedrockagentcore#AmazonBedrockAgentCore": {
      "type": "service",
      "version": "2024-02-28",
      "operations": [
        {
          "target": "com.amazonaws.bedrockagentcore#GetResourceApiKey"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#GetResourceOauth2Token"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#GetWorkloadAccessToken"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenForJWT"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenForUserId"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#InvokeCodeInterpreter"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.bedrockagentcore#AgenticResource"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#BrowserSessionResource"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#CodeInterpreterSessionResource"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#MemoryResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Bedrock AgentCore",
          "arnNamespace": "bedrock-agentcore",
          "endpointPrefix": "bedrock-agentcore"
        },
        "aws.auth#sigv4": {
          "name": "bedrock-agentcore"
        },
        "aws.protocols#restJson1": {
          "http": ["http/1.1"],
          "eventStreamHttp": ["http/1.1"]
        },
        "smithy.api#documentation": "<note> <p>Amazon Bedrock AgentCore is in preview release and is subject to change.</p> </note> <p>Data plane operations for Amazon Bedrock AgentCore.</p>",
        "smithy.api#title": "Amazon Bedrock AgentCore Data Plane Fronting Layer",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-agentcore-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-agentcore-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-agentcore.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://bedrock-agentcore.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agentcore-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agentcore-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agentcore.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agentcore.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agentcore-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agentcore-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agentcore.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agentcore.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agentcore-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agentcore-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agentcore.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agentcore.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agentcore-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agentcore.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agentcore-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agentcore.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.bedrockagentcore#ApiKeyType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 65536
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentcore#AutomationStream": {
      "type": "structure",
      "members": {
        "streamEndpoint": {
          "target": "com.amazonaws.bedrockagentcore#BrowserStreamEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint URL for the automation stream. This URL is used to establish a WebSocket connection to the stream for sending commands and receiving responses.</p>",
            "smithy.api#required": {}
          }
        },
        "streamStatus": {
          "target": "com.amazonaws.bedrockagentcore#AutomationStreamStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the automation stream. This indicates whether the stream is available for use. Possible values include ACTIVE, CONNECTING, and DISCONNECTED.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for a stream that enables programmatic control of a browser session in Amazon Bedrock. This stream provides a bidirectional communication channel for sending commands to the browser and receiving responses, allowing agents to automate web interactions such as navigation, form filling, and element clicking.</p>"
      }
    },
    "com.amazonaws.bedrockagentcore#AutomationStreamStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.bedrockagentcore#AutomationStreamUpdate": {
      "type": "structure",
      "members": {
        "streamStatus": {
          "target": "com.amazonaws.bedrockagentcore#AutomationStreamStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the automation stream.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an update to an automation stream.</p>"
      }
    },
    "com.amazonaws.bedrockagentcore#Body": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "max": 100000000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentcore#Branch": {
      "type": "structure",
      "members": {
        "rootEventId": {
          "target": "com.amazonaws.bedrockagentcore#EventId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the root event for this branch.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.bedrockagentcore#BranchName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the branch.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a branch in a memory store. Branches allow for organizing events into different conversation threads or paths.</p>"
      }
    },
    "com.amazonaws.bedrockagentcore#BranchFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.bedrockagentcore#BranchName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the branch to filter by.</p>",
            "smithy.api#required": {}
          }
        },
        "includeParentBranches": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#default": true,
            "smithy.api#documentation": "<p>Specifies whether to include parent branches in the results. Set to true to include parent branches, or false to exclude them.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains filter criteria for branches when listing events.</p>"
      }
    },
    "com.amazonaws.bedrockagentcore#BranchName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9-_]*$"
      }
    },
    "com.amazonaws.bedrockagentcore#BrowserSessionId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9a-zA-Z]{1,40}$"
      }
    },
    "com.amazonaws.bedrockagentcore#BrowserSessionResource": {
      "type": "resource",
      "identifiers": {
        "browserIdentifier": {
          "target": "smithy.api#String"
        }
      },
      "read": {
        "target": "com.amazonaws.bedrockagentcore#GetBrowserSession"
      },
      "operations": [
        {
          "target": "com.amazonaws.bedrockagentcore#ListBrowserSessions"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#StartBrowserSession"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#StopBrowserSession"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#UpdateBrowserStream"
        }
      ]
    },
    "com.amazonaws.bedrockagentcore#BrowserSessionStatus": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATED"
          }
        }
      }
    },
    "com.amazonaws.bedrockagentcore#BrowserSessionStream": {
      "type": "structure",
      "members": {
        "automationStream": {
          "target": "com.amazonaws.bedrockagentcore#AutomationStream",
          "traits": {
            "smithy.api#documentation": "<p>The stream that enables programmatic control of the browser. This stream allows agents to perform actions such as navigating to URLs, clicking elements, and filling forms.</p>",
            "smithy.api#required": {}
          }
        },
        "liveViewStream": {
          "target": "com.amazonaws.bedrockagentcore#LiveViewStream",
          "traits": {
            "smithy.api#documentation": "<p>The stream that provides a visual representation of the browser content. This stream allows agents to observe the current state of the browser, including rendered web pages and visual elements.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The collection of streams associated with a browser session in Amazon Bedrock. These streams provide different ways to interact with and observe the browser session, including programmatic control and visual representation of the browser content.</p>"
      }
    },
    "com.amazonaws.bedrockagentcore#BrowserSessionSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagentcore#BrowserSessionSummary"
      }
    },
    "com.amazonaws.bedrockagentcore#BrowserSessionSummary": {
      "type": "structure",
      "members": {
        "browserIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the browser associated with the session. This identifier specifies which browser environment is used for the session.</p>",
            "smithy.api#required": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.bedrockagentcore#BrowserSessionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the browser session. This identifier is used in operations that interact with the session.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.bedrockagentcore#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the browser session. This name helps identify and manage the session.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.bedrockagentcore#BrowserSessionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the browser session. Possible values include ACTIVE, STOPPING, and STOPPED.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagentcore#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the browser session was created. This value is in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.bedrockagentcore#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the browser session was last updated. This value is in ISO 8601 format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A condensed representation of a browser session in Amazon Bedrock. This structure contains key information about a browser session, including identifiers, status, and timestamps, without the full details of the session configuration and streams.</p>"
      }
    },
    "com.amazonaws.bedrockagentcore#BrowserSessionTimeout": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 28800
        }
      }
    },
    "com.amazonaws.bedrockagentcore#BrowserStreamEndpoint": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 512
        }
      }
    },
    "com.amazonaws.bedrockagentcore#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 33,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9]){0,256}$"
      }
    },
    "com.amazonaws.bedrockagentcore#CodeInterpreterResult": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.amazonaws.bedrockagentcore#ContentBlockList",
          "traits": {
            "smithy.api#documentation": "<p>The textual content of the execution result. This includes standard output from the code execution, such as print statements, console output, and text representations of results.</p>",
            "smithy.api#required": {}
          }
        },
        "structuredContent": {
          "target": "com.amazonaws.bedrockagentcore#ToolResultStructuredContent",
          "traits": {
            "smithy.api#documentation": "<p>The structured content of the execution result. This includes additional metadata about the execution, such as execution time, memory usage, and structured representations of output data. The format depends on the specific code interpreter and execution context.</p>"
          }
        },
        "isError": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the result represents an error. If true, the content contains error messages or exception information. If false, the content contains successful execution results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The output produced by executing code in a code interpreter session in Amazon Bedrock. This structure contains the results of code execution, including textual output, structured data, and error information. Agents use these results to generate responses that incorporate computation, data analysis, and visualization.</p>"
      }
    },
    "com.amazonaws.bedrockagentcore#CodeInterpreterSessionId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9a-zA-Z]{1,40}$"
      }
    },
    "com.amazonaws.bedrockagentcore#CodeInterpreterSessionResource": {
      "type": "resource",
      "identifiers": {
        "codeInterpreterIdentifier": {
          "target": "smithy.api#String"
        }
      },
      "read": {
        "target": "com.amazonaws.bedrockagentcore#GetCodeInterpreterSession"
      },
      "operations": [
        {
          "target": "com.amazonaws.bedrockagentcore#ListCodeInterpreterSessions"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#StartCodeInterpreterSession"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#StopCodeInterpreterSession"
        }
      ]
    },
    "com.amazonaws.bedrockagentcore#CodeInterpreterSessionStatus": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "TERMINATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATED"
          }
        }
      }
    },
    "com.amazonaws.bedrockagentcore#CodeInterpreterSessionSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagentcore#CodeInterpreterSessionSummary"
      }
    },
    "com.amazonaws.bedrockagentcore#CodeInterpreterSessionSummary": {
      "type": "structure",
      "members": {
        "codeInterpreterIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the code interpreter associated with the session. This identifier specifies which code interpreter environment is used for the session.</p>",
            "smithy.api#required": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.bedrockagentcore#CodeInterpreterSessionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the code interpreter session. This identifier is used in operations that interact with the session.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.bedrockagentcore#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the code interpreter session. This name helps identify and manage the session.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.bedrockagentcore#CodeInterpreterSessionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the code interpreter session. Possible values include ACTIVE, STOPPING, and STOPPED.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagentcore#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the code interpreter session was created. This value is in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.bedrockagentcore#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the code interpreter session was last updated. This value is in ISO 8601 format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A condensed representation of a code interpreter session in Amazon Bedrock. This structure contains key information about a code interpreter session, including identifiers, status, and timestamps, without the full details of the session configuration.</p>"
      }
    },
    "com.amazonaws.bedrockagentcore#CodeInterpreterSessionTimeout": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 28800
        }
      }
    },
    "com.amazonaws.bedrockagentcore#CodeInterpreterStreamOutput": {
      "type": "union",
      "members": {
        "result": {
          "target": "com.amazonaws.bedrockagentcore#CodeInterpreterResult"
        },
        "accessDeniedException": {
          "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
        },
        "conflictException": {
          "target": "com.amazonaws.bedrockagentcore#ConflictException"
        },
        "internalServerException": {
          "target": "com.amazonaws.bedrockagentcore#InternalServerException"
        },
        "resourceNotFoundException": {
          "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
        },
        "serviceQuotaExceededException": {
          "target": "com.amazonaws.bedrockagentcore#ServiceQuotaExceededException"
        },
        "throttlingException": {
          "target": "com.amazonaws.bedrockagentcore#ThrottlingException"
        },
        "validationException": {
          "target": "com.amazonaws.bedrockagentcore#ValidationException"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains output from a code interpreter stream.</p>",
        "smithy.api#streaming": {}
      }
    },
    "com.amazonaws.bedrockagentcore#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockagentcore#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The exception that occurs when the request conflicts with the current state of the resource. This can happen when trying to modify a resource that is currently being modified by another request, or when trying to create a resource that already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.bedrockagentcore#Content": {
      "type": "union",
      "members": {
        "text": {
          "target": "com.amazonaws.bedrockagentcore#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The text content of the memory item.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 9000
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the content of a memory item.</p>"
      }
    },
    "com.amazonaws.bedrockagentcore#ContentBlock": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.bedrockagentcore#ContentBlockType",
          "traits": {
            "smithy.api#documentation": "<p>The type of content in the block.</p>",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The text content of the block.</p>"
          }
        },
        "data": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "<p>The binary data content of the block.</p>"
          }
        },
        "mimeType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the content.</p>"
          }
        },
        "uri": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the content.</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the content block.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the content block.</p>"
          }
        },
        "size": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The size of the content in bytes.</p>"
          }
        },
        "resource": {
          "target": "com.amazonaws.bedrockagentcore#ResourceContent",
          "traits": {
            "smithy.api#documentation": "<p>The resource associated with the content block.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A block of content in a response.</p>"
      }
    },
    "com.amazonaws.bedrockagentcore#ContentBlockList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagentcore#ContentBlock"
      }
    },
    "com.amazonaws.bedrockagentcore#ContentBlockType": {
      "type": "enum",
      "members": {
        "TEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text"
          }
        },
        "IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image"
          }
        },
        "EMBEDDED_RESOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource"
          }
        },
        "RESOURCE_LINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resource_link"
          }
        }
      }
    },
    "com.amazonaws.bedrockagentcore#Conversational": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.amazonaws.bedrockagentcore#Content",
          "traits": {
            "smithy.api#documentation": "<p>The content of the conversation message.</p>",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.amazonaws.bedrockagentcore#Role",
          "traits": {
            "smithy.api#documentation": "<p>The role of the participant in the conversation (for example, \"user\" or \"assistant\").</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains conversational content for an event payload.</p>"
      }
    },
    "com.amazonaws.bedrockagentcore#CreateEvent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagentcore#CreateEventInput"
      },
      "output": {
        "target": "com.amazonaws.bedrockagentcore#CreateEventOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#InvalidInputException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ServiceException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ThrottledException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an event in a memory store. Events represent interactions or activities that occur within a session and are associated with specific actors.</p> <p>To use this operation, you must have the <code>genesismemory:CreateEvent</code> permission.</p> <p>This operation is subject to request rate limiting.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/memories/{memoryId}/events"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bedrockagentcore#CreateEventInput": {
      "type": "structure",
      "members": {
        "memoryId": {
          "target": "com.amazonaws.bedrockagentcore#MemoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the memory store in which to create the event.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "actorId": {
          "target": "com.amazonaws.bedrockagentcore#ActorId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the actor associated with this event. An actor represents an entity that participates in sessions and generates events.</p>",
            "smithy.api#required": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.bedrockagentcore#SessionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the session in which this event occurs. A session represents a sequence of related events.</p>"
          }
        },
        "eventTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the event occurred. If not specified, the current time is used.</p>",
            "smithy.api#required": {}
          }
        },
        "payload": {
          "target": "com.amazonaws.bedrockagentcore#PayloadTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The content payload of the event. This can include conversational data or binary content.</p>",
            "smithy.api#required": {}
          }
        },
        "branch": {
          "target": "com.amazonaws.bedrockagentcore#Branch",
          "traits": {
            "smithy.api#documentation": "<p>The branch information for this event. Branches allow for organizing events into different conversation threads or paths.</p>"
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the operation completes no more than one time. If this token matches a previous request, AgentCore ignores the request, but does not return an error.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagentcore#CreateEventOutput": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.amazonaws.bedrockagentcore#Event",
          "traits": {
            "smithy.api#documentation": "<p>The event that was created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagentcore#CredentialProviderName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-_]+$"
      }
    },
    "com.amazonaws.bedrockagentcore#CustomRequestKeyType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-_\\.]+$"
      }
    },
    "com.amazonaws.bedrockagentcore#CustomRequestParametersType": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.bedrockagentcore#CustomRequestKeyType"
      },
      "value": {
        "target": "com.amazonaws.bedrockagentcore#CustomRequestValueType"
      }
    },
    "com.amazonaws.bedrockagentcore#CustomRequestValueType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentcore#DateTimestamp": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.bedrockagentcore#DeleteEvent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagentcore#DeleteEventInput"
      },
      "output": {
        "target": "com.amazonaws.bedrockagentcore#DeleteEventOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#InvalidInputException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ServiceException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ThrottledException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an event from a memory store. When you delete an event, it is permanently removed.</p> <p>To use this operation, you must have the <code>genesismemory:DeleteEvent</code> permission.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/memories/{memoryId}/actor/{actorId}/sessions/{sessionId}/events/{eventId}"
        }
      }
    },
    "com.amazonaws.bedrockagentcore#DeleteEventInput": {
      "type": "structure",
      "members": {
        "memoryId": {
          "target": "com.amazonaws.bedrockagentcore#MemoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the memory store from which to delete the event.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.bedrockagentcore#SessionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the session containing the event to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "eventId": {
          "target": "com.amazonaws.bedrockagentcore#EventId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the event to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "actorId": {
          "target": "com.amazonaws.bedrockagentcore#ActorId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the actor associated with the event to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagentcore#DeleteEventOutput": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "com.amazonaws.bedrockagentcore#EventId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the event that was deleted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagentcore#DeleteMemoryRecord": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagentcore#DeleteMemoryRecordInput"
      },
      "output": {
        "target": "com.amazonaws.bedrockagentcore#DeleteMemoryRecordOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#InvalidInputException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ServiceException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ThrottledException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a memory record from a memory store. When you delete a memory record, it is permanently removed.</p> <p>To use this operation, you must have the <code>genesismemory:DeleteMemoryRecord</code> permission.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/memories/{memoryId}/memoryRecords/{memoryRecordId}"
        }
      }
    },
    "com.amazonaws.bedrockagentcore#DeleteMemoryRecordInput": {
      "type": "structure",
      "members": {
        "memoryId": {
          "target": "com.amazonaws.bedrockagentcore#MemoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the memory store from which to delete the memory record.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "memoryRecordId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the memory record to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagentcore#DeleteMemoryRecordOutput": {
      "type": "structure",
      "members": {
        "memoryRecordId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the memory record that was deleted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagentcore#Document": {
      "type": "document"
    },
    "com.amazonaws.bedrockagentcore#Event": {
      "type": "structure",
      "members": {
        "memoryId": {
          "target": "com.amazonaws.bedrockagentcore#MemoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the memory store containing the event.</p>",
            "smithy.api#required": {}
          }
        },
        "actorId": {
          "target": "com.amazonaws.bedrockagentcore#ActorId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the actor associated with the event.</p>",
            "smithy.api#required": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.bedrockagentcore#SessionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the session containing the event.</p>",
            "smithy.api#required": {}
          }
        },
        "eventId": {
          "target": "com.amazonaws.bedrockagentcore#EventId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the event.</p>",
            "smithy.api#required": {}
          }
        },
        "eventTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the event occurred.</p>",
            "smithy.api#required": {}
          }
        },
        "payload": {
          "target": "com.amazonaws.bedrockagentcore#PayloadTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The content payload of the event.</p>",
            "smithy.api#required": {}
          }
        },
        "branch": {
          "target": "com.amazonaws.bedrockagentcore#Branch",
          "traits": {
            "smithy.api#documentation": "<p>The branch information for the event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an event in a memory store.</p>"
      }
    },
    "com.amazonaws.bedrockagentcore#EventId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]+#[a-fA-F0-9]+$"
      }
    },
    "com.amazonaws.bedrockagentcore#EventList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagentcore#Event"
      }
    },
    "com.amazonaws.bedrockagentcore#FilterInput": {
      "type": "structure",
      "members": {
        "branch": {
          "target": "com.amazonaws.bedrockagentcore#BranchFilter",
          "traits": {
            "smithy.api#documentation": "<p>The branch filter criteria to apply when listing events.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains filter criteria for listing events.</p>"
      }
    },
    "com.amazonaws.bedrockagentcore#GetBrowserSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagentcore#GetBrowserSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagentcore#GetBrowserSessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves detailed information about a specific browser session in Amazon Bedrock. This operation returns the session's configuration, current status, associated streams, and metadata.</p> <p>To get a browser session, you must specify both the browser identifier and the session ID. The response includes information about the session's viewport configuration, timeout settings, and stream endpoints.</p> <p>The following operations are related to <code>GetBrowserSession</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/API_StartBrowserSession.html\">StartBrowserSession</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/API_ListBrowserSessions.html\">ListBrowserSessions</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/API_StopBrowserSession.html\">StopBrowserSession</a> </p> </li> </ul>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/browsers/{browserIdentifier}/sessions/get",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetBrowserSessionRequest": {
      "type": "structure",
      "members": {
        "browserIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the browser associated with the session.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.bedrockagentcore#BrowserSessionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the browser session to retrieve.</p>",
            "smithy.api#httpQuery": "sessionId",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetBrowserSessionResponse": {
      "type": "structure",
      "members": {
        "browserIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the browser.</p>",
            "smithy.api#required": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.bedrockagentcore#BrowserSessionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the browser session.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.bedrockagentcore#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the browser session.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagentcore#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the browser session was created.</p>",
            "smithy.api#required": {}
          }
        },
        "viewPort": {
          "target": "com.amazonaws.bedrockagentcore#ViewPort"
        },
        "sessionTimeoutSeconds": {
          "target": "com.amazonaws.bedrockagentcore#BrowserSessionTimeout",
          "traits": {
            "smithy.api#documentation": "<p>The timeout period for the browser session in seconds.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.bedrockagentcore#BrowserSessionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the browser session. Possible values include ACTIVE, STOPPING, and STOPPED.</p>"
          }
        },
        "streams": {
          "target": "com.amazonaws.bedrockagentcore#BrowserSessionStream",
          "traits": {
            "smithy.api#documentation": "<p>The streams associated with this browser session. These include the automation stream and live view stream.</p>"
          }
        },
        "sessionReplayArtifact": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The artifact containing the session replay information.</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.bedrockagentcore#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the browser session was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetCodeInterpreterSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagentcore#GetCodeInterpreterSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagentcore#GetCodeInterpreterSessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves detailed information about a specific code interpreter session in Amazon Bedrock. This operation returns the session's configuration, current status, and metadata.</p> <p>To get a code interpreter session, you must specify both the code interpreter identifier and the session ID. The response includes information about the session's timeout settings and current status.</p> <p>The following operations are related to <code>GetCodeInterpreterSession</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/API_StartCodeInterpreterSession.html\">StartCodeInterpreterSession</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/API_ListCodeInterpreterSessions.html\">ListCodeInterpreterSessions</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/API_StopCodeInterpreterSession.html\">StopCodeInterpreterSession</a> </p> </li> </ul>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/code-interpreters/{codeInterpreterIdentifier}/sessions/get",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetCodeInterpreterSessionRequest": {
      "type": "structure",
      "members": {
        "codeInterpreterIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the code interpreter associated with the session.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.bedrockagentcore#CodeInterpreterSessionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the code interpreter session to retrieve.</p>",
            "smithy.api#httpQuery": "sessionId",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetCodeInterpreterSessionResponse": {
      "type": "structure",
      "members": {
        "codeInterpreterIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the code interpreter.</p>",
            "smithy.api#required": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.bedrockagentcore#CodeInterpreterSessionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the code interpreter session.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.bedrockagentcore#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the code interpreter session.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagentcore#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the code interpreter session was created.</p>",
            "smithy.api#required": {}
          }
        },
        "sessionTimeoutSeconds": {
          "target": "com.amazonaws.bedrockagentcore#CodeInterpreterSessionTimeout",
          "traits": {
            "smithy.api#documentation": "<p>The timeout period for the code interpreter session in seconds.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.bedrockagentcore#CodeInterpreterSessionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the code interpreter session. Possible values include ACTIVE, STOPPING, and STOPPED.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetEvent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagentcore#GetEventInput"
      },
      "output": {
        "target": "com.amazonaws.bedrockagentcore#GetEventOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#InvalidInputException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ServiceException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ThrottledException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about a specific event in a memory store.</p> <p>To use this operation, you must have the <code>genesismemory:GetEvent</code> permission.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/memories/{memoryId}/actor/{actorId}/sessions/{sessionId}/events/{eventId}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetEventInput": {
      "type": "structure",
      "members": {
        "memoryId": {
          "target": "com.amazonaws.bedrockagentcore#MemoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the memory store containing the event.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.bedrockagentcore#SessionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the session containing the event.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "actorId": {
          "target": "com.amazonaws.bedrockagentcore#ActorId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the actor associated with the event.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "eventId": {
          "target": "com.amazonaws.bedrockagentcore#EventId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the event to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetEventOutput": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.amazonaws.bedrockagentcore#Event",
          "traits": {
            "smithy.api#documentation": "<p>The requested event information.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetMemoryRecord": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagentcore#GetMemoryRecordInput"
      },
      "output": {
        "target": "com.amazonaws.bedrockagentcore#GetMemoryRecordOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#InvalidInputException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ServiceException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ThrottledException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a specific memory record from a memory store.</p> <p>To use this operation, you must have the <code>genesismemory:GetMemoryRecord</code> permission.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/memories/{memoryId}/memoryRecord/{memoryRecordId}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetMemoryRecordInput": {
      "type": "structure",
      "members": {
        "memoryId": {
          "target": "com.amazonaws.bedrockagentcore#MemoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the memory store containing the memory record.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "memoryRecordId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the memory record to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetMemoryRecordOutput": {
      "type": "structure",
      "members": {
        "memoryRecord": {
          "target": "com.amazonaws.bedrockagentcore#MemoryRecord",
          "traits": {
            "smithy.api#documentation": "<p>The requested memory record.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetResourceApiKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagentcore#GetResourceApiKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagentcore#GetResourceApiKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p>Retrieves an API Key associated with an API Key Credential Provider</p>",
        "smithy.api#http": {
          "uri": "/identities/api-key",
          "method": "POST"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetResourceApiKeyRequest": {
      "type": "structure",
      "members": {
        "workloadIdentityToken": {
          "target": "com.amazonaws.bedrockagentcore#WorkloadIdentityTokenType",
          "traits": {
            "smithy.api#documentation": "<p>The identity token of the workload you want to get the API Key of.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceCredentialProviderName": {
          "target": "com.amazonaws.bedrockagentcore#CredentialProviderName",
          "traits": {
            "smithy.api#documentation": "<p>The credential provider name of the resource you are retrieving the API Key of.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetResourceApiKeyResponse": {
      "type": "structure",
      "members": {
        "apiKey": {
          "target": "com.amazonaws.bedrockagentcore#ApiKeyType",
          "traits": {
            "smithy.api#documentation": "<p>The API Key associated with the resource requested.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetResourceOauth2Token": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagentcore#GetResourceOauth2TokenRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagentcore#GetResourceOauth2TokenResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p>Reaturns the Oauth2Token of the provided resource</p>",
        "smithy.api#http": {
          "uri": "/identities/oauth2/token",
          "method": "POST"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetResourceOauth2TokenRequest": {
      "type": "structure",
      "members": {
        "workloadIdentityToken": {
          "target": "com.amazonaws.bedrockagentcore#WorkloadIdentityTokenType",
          "traits": {
            "smithy.api#documentation": "<p>The identity token of the workload you want to retrive the Oauth2 Token of.</p>",
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "com.amazonaws.bedrockagentcore#UserIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user ID of the user you're retrieving the token on behalf of.</p>"
          }
        },
        "resourceCredentialProviderName": {
          "target": "com.amazonaws.bedrockagentcore#CredentialProviderName",
          "traits": {
            "smithy.api#documentation": "<p>Reference to the credential provider</p>",
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.amazonaws.bedrockagentcore#ScopesListType",
          "traits": {
            "smithy.api#documentation": "<p>The OAuth scopes requested</p>",
            "smithy.api#required": {}
          }
        },
        "oauth2Flow": {
          "target": "com.amazonaws.bedrockagentcore#Oauth2FlowType",
          "traits": {
            "smithy.api#documentation": "<p>The type of flow to be performed</p>",
            "smithy.api#required": {}
          }
        },
        "resourceOauth2ReturnUrl": {
          "target": "com.amazonaws.bedrockagentcore#ResourceOauth2ReturnUrlType",
          "traits": {
            "smithy.api#documentation": "<p>Callback url to redirect after token retrieval completes. Should be one of the provideded urls during WorkloadIdentity creation</p>"
          }
        },
        "forceAuthentication": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>If true, always initiate a new 3LO flow</p>"
          }
        },
        "customParameters": {
          "target": "com.amazonaws.bedrockagentcore#CustomRequestParametersType",
          "traits": {
            "smithy.api#documentation": "<p>Gives the ability to send extra/custom parameters to the resource credentials provider during the authorization process. Standard OAuth2 flow parameters will not be overriden.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetResourceOauth2TokenResponse": {
      "type": "structure",
      "members": {
        "authorizationUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL for the authorization process, provided if the Access token requires user Authorization.</p>"
          }
        },
        "accessToken": {
          "target": "com.amazonaws.bedrockagentcore#AccessTokenType",
          "traits": {
            "smithy.api#documentation": "<p>OAuth2 token ready for use</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetWorkloadAccessToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p>Obtains an Workload access token for agentic workloads not acting on behalf of user.</p>",
        "smithy.api#http": {
          "uri": "/identities/GetWorkloadAccessToken",
          "method": "POST"
        }
      }
    },
    "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenForJWT": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenForJWTRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenForJWTResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p>Obtains an Workload access token for agentic workloads acting on behalf of user with JWT token</p>",
        "smithy.api#http": {
          "uri": "/identities/GetWorkloadAccessTokenForJWT",
          "method": "POST"
        }
      }
    },
    "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenForJWTRequest": {
      "type": "structure",
      "members": {
        "workloadName": {
          "target": "com.amazonaws.bedrockagentcore#WorkloadIdentityNameType",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for the registered agent</p>",
            "smithy.api#required": {}
          }
        },
        "userToken": {
          "target": "com.amazonaws.bedrockagentcore#UserTokenType",
          "traits": {
            "smithy.api#documentation": "<p>OAuth2 token issued by the user's identity provider</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenForJWTResponse": {
      "type": "structure",
      "members": {
        "workloadAccessToken": {
          "target": "com.amazonaws.bedrockagentcore#WorkloadIdentityTokenType",
          "traits": {
            "smithy.api#documentation": "<p>Opaque token representing both agent and user identity</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenForUserId": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenForUserIdRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenForUserIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p>Obtains an Workload access token for agentic workloads acting on behalf of user with User Id.</p>",
        "smithy.api#http": {
          "uri": "/identities/GetWorkloadAccessTokenForUserId",
          "method": "POST"
        }
      }
    },
    "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenForUserIdRequest": {
      "type": "structure",
      "members": {
        "workloadName": {
          "target": "com.amazonaws.bedrockagentcore#WorkloadIdentityNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the worklaod you want to get the access token of.</p>",
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "com.amazonaws.bedrockagentcore#UserIdType",
          "traits": {
            "smithy.api#documentation": "<p>The user id of the user you are retrieving the access token for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenForUserIdResponse": {
      "type": "structure",
      "members": {
        "workloadAccessToken": {
          "target": "com.amazonaws.bedrockagentcore#WorkloadIdentityTokenType",
          "traits": {
            "smithy.api#documentation": "<p>The workload access token of the named workload.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenRequest": {
      "type": "structure",
      "members": {
        "workloadName": {
          "target": "com.amazonaws.bedrockagentcore#WorkloadIdentityNameType",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for the registered agent</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagentcore#GetWorkloadAccessTokenResponse": {
      "type": "structure",
      "members": {
        "workloadAccessToken": {
          "target": "com.amazonaws.bedrockagentcore#WorkloadIdentityTokenType",
          "traits": {
            "smithy.api#documentation": "<p>Opaque token representing both agent and user identity</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagentcore#HttpResponseCode": {
      "type": "integer"
    },
    "com.amazonaws.bedrockagentcore#InputContentBlock": {
      "type": "structure",
      "members": {
        "path": {
          "target": "com.amazonaws.bedrockagentcore#MaxLenString",
          "traits": {
            "smithy.api#documentation": "<p>The path to the input content.</p>",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "com.amazonaws.bedrockagentcore#MaxLenString",
          "traits": {
            "smithy.api#documentation": "<p>The text input content.</p>"
          }
        },
        "blob": {
          "target": "com.amazonaws.bedrockagentcore#Body",
          "traits": {
            "smithy.api#documentation": "<p>The binary input content.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A block of input content.</p>"
      }
    },
    "com.amazonaws.bedrockagentcore#InputContentBlockList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagentcore#InputContentBlock"
      }
    },
    "com.amazonaws.bedrockagentcore#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockagentcore#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The exception that occurs when the service encounters an unexpected internal error. This is a temporary condition that will resolve itself with retries. We recommend implementing exponential backoff retry logic in your application.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.bedrockagentcore#InvalidInputException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input fails to satisfy the constraints specified by AgentCore. Check your input values and try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.bedrockagentcore#InvokeAgentRuntime": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagentcore#InvokeAgentRuntimeRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagentcore#InvokeAgentRuntimeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagentcore#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#RuntimeClientError"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagentcore#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sends a request to an agent runtime in Amazon Bedrock and receives responses in real-time. The agent processes the request using the configured foundation model and any associated knowledge bases or action groups.</p> <p>To invoke an agent runtime, you must specify the agent runtime ARN and provide a payload containing your request. You can optionally specify a qualifier to target a specific version or alias of the agent.</p> <p>This operation supports streaming responses, allowing you to receive partial responses as they become available. We recommend using pagination to ensure that the operation returns quickly and successfully when processing large responses.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/runtimes/{agentRuntimeArn}/invocations",
          "code": 200
        }
      }
    },
    "com.amazonaws.bedrockagentcore#InvokeAgentRuntimeRequest": {
      "type": "structure",
      "members": {
        "contentType": {
          "target": "com.amazonaws.bedrockagentcore#MimeType",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the input data in the payload. This tells the agent runtime how to interpret the payload data. Common values include application/json for JSON data.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        },
        "accept": {
          "target": "com.amazonaws.bedrockagentcore#MimeType",
          "traits": {
[...]
