{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.bedrockagent#APISchema": {
      "type": "union",
      "members": {
        "s3": {
          "target": "com.amazonaws.bedrockagent#S3Identifier",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the S3 object containing the OpenAPI schema for the action group. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-api-schema.html\">Action group OpenAPI schemas</a>.</p>"
          }
        },
        "payload": {
          "target": "com.amazonaws.bedrockagent#Payload",
          "traits": {
            "smithy.api#documentation": "<p>The JSON or YAML-formatted payload defining the OpenAPI schema for the action group. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-api-schema.html\">Action group OpenAPI schemas</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the OpenAPI schema for the action group. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-api-schema.html\">Action group OpenAPI schemas</a>. You can either include the schema directly in the <code>payload</code> field or you can upload it to an S3 bucket and specify the S3 bucket location in the <code>s3</code> field.</p>"
      }
    },
    "com.amazonaws.bedrockagent#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockagent#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is denied because of missing access permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.bedrockagent#ActionGroupExecutor": {
      "type": "union",
      "members": {
        "lambda": {
          "target": "com.amazonaws.bedrockagent#LambdaArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Lambda function containing the business logic that is carried out upon invoking the action.</p>"
          }
        },
        "customControl": {
          "target": "com.amazonaws.bedrockagent#CustomControlMethod",
          "traits": {
            "smithy.api#documentation": "<p>To return the action group invocation results directly in the <code>InvokeAgent</code> response, specify <code>RETURN_CONTROL</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the Lambda function containing the business logic that is carried out upon invoking the action or the custom control method for handling the information elicited from the user.</p>"
      }
    },
    "com.amazonaws.bedrockagent#ActionGroupResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.bedrockagent#CreateAgentActionGroup"
        },
        {
          "target": "com.amazonaws.bedrockagent#DeleteAgentActionGroup"
        },
        {
          "target": "com.amazonaws.bedrockagent#GetAgentActionGroup"
        },
        {
          "target": "com.amazonaws.bedrockagent#ListAgentActionGroups"
        },
        {
          "target": "com.amazonaws.bedrockagent#UpdateAgentActionGroup"
        }
      ]
    },
    "com.amazonaws.bedrockagent#ActionGroupSignature": {
      "type": "enum",
      "members": {
        "AMAZON_USERINPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMAZON.UserInput"
          }
        }
      }
    },
    "com.amazonaws.bedrockagent#ActionGroupState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.bedrockagent#ActionGroupSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagent#ActionGroupSummary"
      },
      "traits": {
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.bedrockagent#ActionGroupSummary": {
      "type": "structure",
      "members": {
        "actionGroupId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the action group.</p>",
            "smithy.api#required": {}
          }
        },
        "actionGroupName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action group.</p>",
            "smithy.api#required": {}
          }
        },
        "actionGroupState": {
          "target": "com.amazonaws.bedrockagent#ActionGroupState",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the action group is available for the agent to invoke or not when\n      sending an <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html\">InvokeAgent</a>\n      request.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the action group.</p>"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the action group was last updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about an action group.</p>"
      }
    },
    "com.amazonaws.bedrockagent#Agent": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "agentName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "agentArn": {
          "target": "com.amazonaws.bedrockagent#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "agentVersion": {
          "target": "com.amazonaws.bedrockagent#DraftVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.bedrockagent#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the API request completes no more than one time. If this token matches a previous request,\n      Amazon Bedrock ignores the request, but does not return an error. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>.</p>"
          }
        },
        "instruction": {
          "target": "com.amazonaws.bedrockagent#Instruction",
          "traits": {
            "smithy.api#documentation": "<p>Instructions that tell the agent what it should do and how it should interact with users.</p>"
          }
        },
        "agentStatus": {
          "target": "com.amazonaws.bedrockagent#AgentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the agent and whether it is ready for use. The following statuses are possible:</p>\n         <ul>\n            <li>\n               <p>CREATING – The agent is being created.</p>\n            </li>\n            <li>\n               <p>PREPARING – The agent is being prepared.</p>\n            </li>\n            <li>\n               <p>PREPARED – The agent is prepared and ready to be invoked.</p>\n            </li>\n            <li>\n               <p>NOT_PREPARED – The agent has been created but not yet prepared.</p>\n            </li>\n            <li>\n               <p>FAILED – The agent API operation failed.</p>\n            </li>\n            <li>\n               <p>UPDATING – The agent is being updated.</p>\n            </li>\n            <li>\n               <p>DELETING – The agent is being deleted.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "foundationModel": {
          "target": "com.amazonaws.bedrockagent#ModelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The foundation model used for orchestration by the agent.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the agent.</p>"
          }
        },
        "idleSessionTTLInSeconds": {
          "target": "com.amazonaws.bedrockagent#SessionTTL",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds for which Amazon Bedrock keeps information about a user's conversation with the agent.</p>\n         <p>A user interaction remains active for the amount of time specified. If no conversation occurs during this time, the session expires and Amazon Bedrock deletes any data provided before the timeout.</p>",
            "smithy.api#required": {}
          }
        },
        "agentResourceRoleArn": {
          "target": "com.amazonaws.bedrockagent#AgentRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role with permissions to invoke API operations on the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "customerEncryptionKeyArn": {
          "target": "com.amazonaws.bedrockagent#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key that encrypts the agent.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the agent was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the agent was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "preparedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the agent was last prepared.</p>"
          }
        },
        "failureReasons": {
          "target": "com.amazonaws.bedrockagent#FailureReasons",
          "traits": {
            "smithy.api#documentation": "<p>Contains reasons that the agent-related API that you invoked failed.</p>"
          }
        },
        "recommendedActions": {
          "target": "com.amazonaws.bedrockagent#RecommendedActions",
          "traits": {
            "smithy.api#documentation": "<p>Contains recommended actions to take for the agent-related API that you invoked to succeed.</p>"
          }
        },
        "promptOverrideConfiguration": {
          "target": "com.amazonaws.bedrockagent#PromptOverrideConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains configurations to override prompt templates in different parts of an agent sequence. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/advanced-prompts.html\">Advanced prompts</a>.</p>"
          }
        },
        "guardrailConfiguration": {
          "target": "com.amazonaws.bedrockagent#GuardrailConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The guardrails configuration assigned to the agent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about an agent.</p>"
      }
    },
    "com.amazonaws.bedrockagent#AgentActionGroup": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent to which the action group belongs.</p>",
            "smithy.api#required": {}
          }
        },
        "agentVersion": {
          "target": "com.amazonaws.bedrockagent#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the agent to which the action group belongs.</p>",
            "smithy.api#required": {}
          }
        },
        "actionGroupId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the action group.</p>",
            "smithy.api#required": {}
          }
        },
        "actionGroupName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action group.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.bedrockagent#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the API request completes no more than one time. If this token matches a previous request,\n      Amazon Bedrock ignores the request, but does not return an error. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the action group.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the action group was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the action group was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "parentActionSignature": {
          "target": "com.amazonaws.bedrockagent#ActionGroupSignature",
          "traits": {
            "smithy.api#documentation": "<p>If this field is set as <code>AMAZON.UserInput</code>, the agent can request the user for additional information when trying to complete a task. The <code>description</code>, <code>apiSchema</code>, and <code>actionGroupExecutor</code> fields must be blank for this action group.</p>\n         <p>During orchestration, if the agent determines that it needs to invoke an API in an action group, but doesn't have enough information to complete the API request, it will invoke this action group instead and return an <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_Observation.html\">Observation</a> reprompting the user for more information.</p>"
          }
        },
        "actionGroupExecutor": {
          "target": "com.amazonaws.bedrockagent#ActionGroupExecutor",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Lambda function containing the business logic that is carried out upon invoking the action or the custom control method for handling the information elicited from the user.</p>"
          }
        },
        "apiSchema": {
          "target": "com.amazonaws.bedrockagent#APISchema",
          "traits": {
            "smithy.api#documentation": "<p>Contains either details about the S3 object containing the OpenAPI schema for the action group or the JSON or YAML-formatted payload defining the schema. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-api-schema.html\">Action group OpenAPI schemas</a>.</p>"
          }
        },
        "functionSchema": {
          "target": "com.amazonaws.bedrockagent#FunctionSchema",
          "traits": {
            "smithy.api#documentation": "<p>Defines functions that each define parameters that the agent needs to invoke from the user. Each function represents an action in an action group.</p>"
          }
        },
        "actionGroupState": {
          "target": "com.amazonaws.bedrockagent#ActionGroupState",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the action group is available for the agent to invoke or not when sending an <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html\">InvokeAgent</a> request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about an action group.</p>"
      }
    },
    "com.amazonaws.bedrockagent#AgentAlias": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "agentAliasId": {
          "target": "com.amazonaws.bedrockagent#AgentAliasId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the alias of the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "agentAliasName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alias of the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "agentAliasArn": {
          "target": "com.amazonaws.bedrockagent#AgentAliasArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the alias of the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.bedrockagent#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the API request completes no more than one time. If this token matches a previous request,\n      Amazon Bedrock ignores the request, but does not return an error. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the alias of the agent.</p>"
          }
        },
        "routingConfiguration": {
          "target": "com.amazonaws.bedrockagent#AgentAliasRoutingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the routing configuration of the alias.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the alias of the agent was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the alias was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "agentAliasHistoryEvents": {
          "target": "com.amazonaws.bedrockagent#AgentAliasHistoryEvents",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the history of the alias.</p>"
          }
        },
        "agentAliasStatus": {
          "target": "com.amazonaws.bedrockagent#AgentAliasStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the alias of the agent and whether it is ready for use. The following statuses are possible:</p>\n         <ul>\n            <li>\n               <p>CREATING – The agent alias is being created.</p>\n            </li>\n            <li>\n               <p>PREPARED – The agent alias is finished being created or updated and is ready to be invoked.</p>\n            </li>\n            <li>\n               <p>FAILED – The agent alias API operation failed.</p>\n            </li>\n            <li>\n               <p>UPDATING – The agent alias is being updated.</p>\n            </li>\n            <li>\n               <p>DELETING – The agent alias is being deleted.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "failureReasons": {
          "target": "com.amazonaws.bedrockagent#FailureReasons",
          "traits": {
            "smithy.api#documentation": "<p>Information on the failure of Provisioned Throughput assigned to an agent alias.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about an alias of an agent.</p>"
      }
    },
    "com.amazonaws.bedrockagent#AgentAliasArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:agent-alias/[0-9a-zA-Z]{10}/[0-9a-zA-Z]{10}$"
      }
    },
    "com.amazonaws.bedrockagent#AgentAliasHistoryEvent": {
      "type": "structure",
      "members": {
        "routingConfiguration": {
          "target": "com.amazonaws.bedrockagent#AgentAliasRoutingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the version of the agent with which the alias is associated.</p>"
          }
        },
        "endDate": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the alias stopped being associated to the version in the <code>routingConfiguration</code> object</p>"
          }
        },
        "startDate": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the alias began being associated to the version in the <code>routingConfiguration</code> object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the history of the alias.</p>"
      }
    },
    "com.amazonaws.bedrockagent#AgentAliasHistoryEvents": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagent#AgentAliasHistoryEvent"
      },
      "traits": {
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.bedrockagent#AgentAliasId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 10
        },
        "smithy.api#pattern": "^(\\bTSTALIASID\\b|[0-9a-zA-Z]+)$"
      }
    },
    "com.amazonaws.bedrockagent#AgentAliasRoutingConfiguration": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagent#AgentAliasRoutingConfigurationListItem"
      },
      "traits": {
        "smithy.api#length": {
          "max": 1
        }
      }
    },
    "com.amazonaws.bedrockagent#AgentAliasRoutingConfigurationListItem": {
      "type": "structure",
      "members": {
        "agentVersion": {
          "target": "com.amazonaws.bedrockagent#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the agent with which the alias is associated.</p>"
          }
        },
        "provisionedThroughput": {
          "target": "com.amazonaws.bedrockagent#ProvisionedModelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Information on the Provisioned Throughput assigned to an agent alias.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the routing configuration of the alias.</p>"
      }
    },
    "com.amazonaws.bedrockagent#AgentAliasStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "PREPARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.amazonaws.bedrockagent#AgentAliasSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagent#AgentAliasSummary"
      },
      "traits": {
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.bedrockagent#AgentAliasSummary": {
      "type": "structure",
      "members": {
        "agentAliasId": {
          "target": "com.amazonaws.bedrockagent#AgentAliasId",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about </p>",
            "smithy.api#required": {}
          }
        },
        "agentAliasName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alias.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the alias.</p>"
          }
        },
        "routingConfiguration": {
          "target": "com.amazonaws.bedrockagent#AgentAliasRoutingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the version of the agent with which the alias is associated.</p>"
          }
        },
        "agentAliasStatus": {
          "target": "com.amazonaws.bedrockagent#AgentAliasStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the alias.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the alias of the agent was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the alias was last updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about an alias of an agent.</p>"
      }
    },
    "com.amazonaws.bedrockagent#AgentArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:agent/[0-9a-zA-Z]{10}$"
      }
    },
    "com.amazonaws.bedrockagent#AgentKnowledgeBase": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent with which the knowledge base is associated.</p>",
            "smithy.api#required": {}
          }
        },
        "agentVersion": {
          "target": "com.amazonaws.bedrockagent#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the agent with which the knowledge base is associated.</p>",
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the association between the agent and the knowledge base.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the association between the agent and the knowledge base.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the association between the agent and the knowledge base was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the association between the agent and the knowledge base was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseState": {
          "target": "com.amazonaws.bedrockagent#KnowledgeBaseState",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to use the knowledge base or not when sending an <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html\">InvokeAgent</a> request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about a knowledge base that is associated with an agent.</p>"
      }
    },
    "com.amazonaws.bedrockagent#AgentKnowledgeBaseSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagent#AgentKnowledgeBaseSummary"
      },
      "traits": {
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.bedrockagent#AgentKnowledgeBaseSummary": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the knowledge base associated with an agent.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the knowledge base associated with an agent.</p>"
          }
        },
        "knowledgeBaseState": {
          "target": "com.amazonaws.bedrockagent#KnowledgeBaseState",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the agent uses the knowledge base or not when sending an <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html\">InvokeAgent</a> request.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the knowledge base associated with an agent was last updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about a knowledge base associated with an agent.</p>"
      }
    },
    "com.amazonaws.bedrockagent#AgentResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.bedrockagent#CreateAgent"
        },
        {
          "target": "com.amazonaws.bedrockagent#DeleteAgent"
        },
        {
          "target": "com.amazonaws.bedrockagent#GetAgent"
        },
        {
          "target": "com.amazonaws.bedrockagent#ListAgents"
        },
        {
          "target": "com.amazonaws.bedrockagent#PrepareAgent"
        },
        {
          "target": "com.amazonaws.bedrockagent#UpdateAgent"
        }
      ]
    },
    "com.amazonaws.bedrockagent#AgentRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:iam::([0-9]{12})?:role/.+$"
      }
    },
    "com.amazonaws.bedrockagent#AgentStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARING"
          }
        },
        "PREPARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARED"
          }
        },
        "NOT_PREPARED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_PREPARED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "VERSIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERSIONING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.amazonaws.bedrockagent#AgentSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagent#AgentSummary"
      },
      "traits": {
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.bedrockagent#AgentSummary": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "agentName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "agentStatus": {
          "target": "com.amazonaws.bedrockagent#AgentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the agent.</p>"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the agent was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "latestAgentVersion": {
          "target": "com.amazonaws.bedrockagent#Version",
          "traits": {
            "smithy.api#documentation": "<p>The latest version of the agent.</p>"
          }
        },
        "guardrailConfiguration": {
          "target": "com.amazonaws.bedrockagent#GuardrailConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The details of the guardrails configuration in the agent summary.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about an agent.</p>"
      }
    },
    "com.amazonaws.bedrockagent#AgentVersion": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent that the version belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "agentName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent that the version belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "agentArn": {
          "target": "com.amazonaws.bedrockagent#AgentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the agent that the version belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.bedrockagent#NumericalVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version number.</p>",
            "smithy.api#required": {}
          }
        },
        "instruction": {
          "target": "com.amazonaws.bedrockagent#Instruction",
          "traits": {
            "smithy.api#documentation": "<p>The instructions provided to the agent.</p>"
          }
        },
        "agentStatus": {
          "target": "com.amazonaws.bedrockagent#AgentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the agent that the version belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "foundationModel": {
          "target": "com.amazonaws.bedrockagent#ModelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The foundation model that the version invokes.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the version.</p>"
          }
        },
        "idleSessionTTLInSeconds": {
          "target": "com.amazonaws.bedrockagent#SessionTTL",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds for which Amazon Bedrock keeps information about a user's conversation with the agent.</p>\n         <p>A user interaction remains active for the amount of time specified. If no conversation occurs during this time, the session expires and Amazon Bedrock deletes any data provided before the timeout.</p>",
            "smithy.api#required": {}
          }
        },
        "agentResourceRoleArn": {
          "target": "com.amazonaws.bedrockagent#AgentRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role with permissions to invoke API operations on the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "customerEncryptionKeyArn": {
          "target": "com.amazonaws.bedrockagent#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key that encrypts the agent.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the version was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the version was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "failureReasons": {
          "target": "com.amazonaws.bedrockagent#FailureReasons",
          "traits": {
            "smithy.api#documentation": "<p>A list of reasons that the API operation on the version failed.</p>"
          }
        },
        "recommendedActions": {
          "target": "com.amazonaws.bedrockagent#RecommendedActions",
          "traits": {
            "smithy.api#documentation": "<p>A list of recommended actions to take for the failed API operation on the version to succeed.</p>"
          }
        },
        "promptOverrideConfiguration": {
          "target": "com.amazonaws.bedrockagent#PromptOverrideConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains configurations to override prompt templates in different parts of an agent sequence. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/advanced-prompts.html\">Advanced prompts</a>.</p>"
          }
        },
        "guardrailConfiguration": {
          "target": "com.amazonaws.bedrockagent#GuardrailConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The guardrails configuration assigned to the agent version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about a version of an agent.</p>"
      }
    },
    "com.amazonaws.bedrockagent#AgentVersionSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagent#AgentVersionSummary"
      },
      "traits": {
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.bedrockagent#AgentVersionSummary": {
      "type": "structure",
      "members": {
        "agentName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the agent to which the version belongs.</p>",
            "smithy.api#required": {}
          }
        },
        "agentStatus": {
          "target": "com.amazonaws.bedrockagent#AgentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the agent to which the version belongs.</p>",
            "smithy.api#required": {}
          }
        },
        "agentVersion": {
          "target": "com.amazonaws.bedrockagent#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the version was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.bedrockagent#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the version was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the version of the agent.</p>"
          }
        },
        "guardrailConfiguration": {
          "target": "com.amazonaws.bedrockagent#GuardrailConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The details of the guardrails configuration in the agent version summary.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about a version of an agent.</p>"
      }
    },
    "com.amazonaws.bedrockagent#AliasResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.bedrockagent#CreateAgentAlias"
        },
        {
          "target": "com.amazonaws.bedrockagent#DeleteAgentAlias"
        },
        {
          "target": "com.amazonaws.bedrockagent#GetAgentAlias"
        },
        {
          "target": "com.amazonaws.bedrockagent#ListAgentAliases"
        },
        {
          "target": "com.amazonaws.bedrockagent#UpdateAgentAlias"
        }
      ]
    },
    "com.amazonaws.bedrockagent#AmazonBedrockAgentBuildTimeLambda": {
      "type": "service",
      "version": "2023-06-05",
      "resources": [
        {
          "target": "com.amazonaws.bedrockagent#ActionGroupResource"
        },
        {
          "target": "com.amazonaws.bedrockagent#AgentResource"
        },
        {
          "target": "com.amazonaws.bedrockagent#AliasResource"
        },
        {
          "target": "com.amazonaws.bedrockagent#DataSourceResource"
        },
        {
          "target": "com.amazonaws.bedrockagent#IngestionJobResource"
        },
        {
          "target": "com.amazonaws.bedrockagent#KnowledgeBaseResource"
        },
        {
          "target": "com.amazonaws.bedrockagent#TaggingResource"
        },
        {
          "target": "com.amazonaws.bedrockagent#VersionResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Bedrock Agent",
          "arnNamespace": "bedrock",
          "endpointPrefix": "bedrock-agent",
          "cloudTrailEventSource": "bedrock.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "bedrock"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-user-agent",
            "x-amzn-platform-id",
            "x-amzn-trace-id"
          ],
          "additionalExposedHeaders": ["x-amzn-errortype", "x-amzn-requestid", "x-amzn-trace-id"],
          "maxAge": 86400
        },
        "smithy.api#documentation": "<p>Describes the API operations for creating and managing Amazon Bedrock agents.</p>",
        "smithy.api#title": "Agents for Amazon Bedrock",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-agent-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-agent-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-agent.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://bedrock-agent.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.bedrockagent#AssociateAgentKnowledgeBase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagent#AssociateAgentKnowledgeBaseRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagent#AssociateAgentKnowledgeBaseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a knowledge base with an agent. If a knowledge base is associated and its <code>indexState</code> is set to <code>Enabled</code>, the agent queries the knowledge base for information to augment its response to the user.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/agents/{agentId}/agentversions/{agentVersion}/knowledgebases/"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["console"]
      }
    },
    "com.amazonaws.bedrockagent#AssociateAgentKnowledgeBaseRequest": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent with which you want to associate the knowledge base.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "agentVersion": {
          "target": "com.amazonaws.bedrockagent#DraftVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the agent with which you want to associate the knowledge base.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the knowledge base to associate with the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of what the agent should use the knowledge base for.</p>",
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseState": {
          "target": "com.amazonaws.bedrockagent#KnowledgeBaseState",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to use the knowledge base or not when sending an <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html\">InvokeAgent</a> request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagent#AssociateAgentKnowledgeBaseResponse": {
      "type": "structure",
      "members": {
        "agentKnowledgeBase": {
          "target": "com.amazonaws.bedrockagent#AgentKnowledgeBase",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the knowledge base that has been associated with the agent.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagent#BasePromptTemplate": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100000
        }
      }
    },
    "com.amazonaws.bedrockagent#BedrockEmbeddingModelArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^(arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12})|(:foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([.:]?[a-z0-9-]{1,63}))|([0-9]{12}:provisioned-model/[a-z0-9]{12})))|([a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([.:]?[a-z0-9-]{1,63}))|(([0-9a-zA-Z][_-]?)+)$"
      }
    },
    "com.amazonaws.bedrockagent#BedrockEmbeddingModelConfiguration": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.amazonaws.bedrockagent#Dimensions",
          "traits": {
            "smithy.api#documentation": "<p>The dimensions details for the vector configuration used on the Bedrock embeddings model.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The vector configuration details for the Bedrock embeddings model.</p>"
      }
    },
    "com.amazonaws.bedrockagent#BucketOwnerAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.bedrockagent#ChunkingConfiguration": {
      "type": "structure",
      "members": {
        "chunkingStrategy": {
          "target": "com.amazonaws.bedrockagent#ChunkingStrategy",
          "traits": {
            "smithy.api#documentation": "<p>Knowledge base can split your source data into chunks. A <i>chunk</i> refers to an excerpt from a data source that is returned when the knowledge base that it belongs to is queried. You have the following options for chunking your data. If you opt for <code>NONE</code>, then you may want to pre-process your files by splitting them up such that each file corresponds to a chunk.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>FIXED_SIZE</code> – Amazon Bedrock splits your source data into chunks of the approximate size that you set in the <code>fixedSizeChunkingConfiguration</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NONE</code> – Amazon Bedrock treats each file as one chunk. If you choose this option, you may want to pre-process your documents by splitting them into separate files.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "fixedSizeChunkingConfiguration": {
          "target": "com.amazonaws.bedrockagent#FixedSizeChunkingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configurations for when you choose fixed-size chunking. If you set the <code>chunkingStrategy</code> as <code>NONE</code>, exclude this field.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about how to chunk the documents in the data source. A <i>chunk</i> refers to an excerpt from a data source that is returned when the knowledge base that it belongs to is queried.</p>"
      }
    },
    "com.amazonaws.bedrockagent#ChunkingStrategy": {
      "type": "enum",
      "members": {
        "FIXED_SIZE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIXED_SIZE"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.amazonaws.bedrockagent#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 33,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
      }
    },
    "com.amazonaws.bedrockagent#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_\\-]+$"
      }
    },
    "com.amazonaws.bedrockagent#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockagent#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was a conflict performing an operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.bedrockagent#CreateAgent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagent#CreateAgentRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagent#CreateAgentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an agent that orchestrates interactions between foundation models, data sources, software applications, user conversations, and APIs to carry out tasks to help customers.</p>\n         <ul>\n            <li>\n               <p>Specify the following fields for security purposes.</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>agentResourceRoleArn</code> – The Amazon Resource Name (ARN) of the role with permissions to invoke API operations on an agent.</p>\n                  </li>\n                  <li>\n                     <p>(Optional) <code>customerEncryptionKeyArn</code> – The Amazon Resource Name (ARN) of a KMS key to encrypt the creation of the agent.</p>\n                  </li>\n                  <li>\n                     <p>(Optional) <code>idleSessionTTLinSeconds</code> – Specify the number of seconds for which the agent should maintain session information. After this time expires, the subsequent <code>InvokeAgent</code> request begins a new session.</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>To override the default prompt behavior for agent orchestration and to use advanced prompts, include a <code>promptOverrideConfiguration</code> object. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/advanced-prompts.html\">Advanced prompts</a>.</p>\n            </li>\n            <li>\n               <p>If you agent fails to be created, the response returns a list of <code>failureReasons</code> alongside a list of <code>recommendedActions</code> for you to troubleshoot.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "code": 202,
          "method": "PUT",
          "uri": "/agents/"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["console"]
      }
    },
    "com.amazonaws.bedrockagent#CreateAgentActionGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagent#CreateAgentActionGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagent#CreateAgentActionGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an action group for an agent. An action group represents the actions that an agent can carry out for the customer by defining the APIs that an agent can call and the logic for calling them.</p>\n         <p>To allow your agent to request the user for additional information when trying to complete a task, add an action group with the <code>parentActionGroupSignature</code> field set to <code>AMAZON.UserInput</code>. You must leave the <code>description</code>, <code>apiSchema</code>, and <code>actionGroupExecutor</code> fields blank for this action group. During orchestration, if your agent determines that it needs to invoke an API in an action group, but doesn't have enough information to complete the API request, it will invoke this action group instead and return an <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_Observation.html\">Observation</a> reprompting the user for more information.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/agents/{agentId}/agentversions/{agentVersion}/actiongroups/"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["console"]
      }
    },
    "com.amazonaws.bedrockagent#CreateAgentActionGroupRequest": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent for which to create the action group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "agentVersion": {
          "target": "com.amazonaws.bedrockagent#DraftVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the agent for which to create the action group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "actionGroupName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name to give the action group.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.bedrockagent#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the API request completes no more than one time. If this token matches a previous request,\n      Amazon Bedrock ignores the request, but does not return an error. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the action group.</p>"
          }
        },
        "parentActionGroupSignature": {
          "target": "com.amazonaws.bedrockagent#ActionGroupSignature",
          "traits": {
            "smithy.api#documentation": "<p>To allow your agent to request the user for additional information when trying to complete a task, set this field to <code>AMAZON.UserInput</code>. You must leave the <code>description</code>, <code>apiSchema</code>, and <code>actionGroupExecutor</code> fields blank for this action group.</p>\n         <p>During orchestration, if your agent determines that it needs to invoke an API in an action group, but doesn't have enough information to complete the API request, it will invoke this action group instead and return an <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_Observation.html\">Observation</a> reprompting the user for more information.</p>"
          }
        },
        "actionGroupExecutor": {
          "target": "com.amazonaws.bedrockagent#ActionGroupExecutor",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Lambda function containing the business logic that is carried out upon invoking the action or the custom control method for handling the information elicited from the user.</p>"
          }
        },
        "apiSchema": {
          "target": "com.amazonaws.bedrockagent#APISchema",
          "traits": {
            "smithy.api#documentation": "<p>Contains either details about the S3 object containing the OpenAPI schema for the action group or the JSON or YAML-formatted payload defining the schema. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-api-schema.html\">Action group OpenAPI schemas</a>.</p>"
          }
        },
        "actionGroupState": {
          "target": "com.amazonaws.bedrockagent#ActionGroupState",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the action group is available for the agent to invoke or not when sending an <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html\">InvokeAgent</a> request.</p>"
          }
        },
        "functionSchema": {
          "target": "com.amazonaws.bedrockagent#FunctionSchema",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the function schema for the action group or the JSON or YAML-formatted payload defining the schema.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagent#CreateAgentActionGroupResponse": {
      "type": "structure",
      "members": {
        "agentActionGroup": {
          "target": "com.amazonaws.bedrockagent#AgentActionGroup",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the action group that was created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagent#CreateAgentAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagent#CreateAgentAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagent#CreateAgentAliasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an alias of an agent that can be used to deploy the agent.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "PUT",
          "uri": "/agents/{agentId}/agentaliases/"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["console"]
      }
    },
    "com.amazonaws.bedrockagent#CreateAgentAliasRequest": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.bedrockagent#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "agentAliasName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alias.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.bedrockagent#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the API request completes no more than one time. If this token matches a previous request,\n      Amazon Bedrock ignores the request, but does not return an error. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the alias of the agent.</p>"
          }
        },
        "routingConfiguration": {
          "target": "com.amazonaws.bedrockagent#AgentAliasRoutingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the routing configuration of the alias.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.bedrockagent#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Any tags that you want to attach to the alias of the agent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagent#CreateAgentAliasResponse": {
      "type": "structure",
      "members": {
        "agentAlias": {
          "target": "com.amazonaws.bedrockagent#AgentAlias",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the alias that was created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagent#CreateAgentRequest": {
      "type": "structure",
      "members": {
        "agentName": {
          "target": "com.amazonaws.bedrockagent#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the agent that you create.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.bedrockagent#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure that the API request completes no more than one time. If this token matches a previous request,\n      Amazon Bedrock ignores the request, but does not return an error. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "instruction": {
          "target": "com.amazonaws.bedrockagent#Instruction",
          "traits": {
            "smithy.api#documentation": "<p>Instructions that tell the agent what it should do and how it should interact with users.</p>"
          }
        },
        "foundationModel": {
          "target": "com.amazonaws.bedrockagent#ModelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The foundation model to be used for orchestration by the agent you create.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.bedrockagent#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the agent.</p>"
          }
        },
        "idleSessionTTLInSeconds": {
          "target": "com.amazonaws.bedrockagent#SessionTTL",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds for which Amazon Bedrock keeps information about a user's conversation with the agent.</p>\n         <p>A user interaction remains active for the amount of time specified. If no conversation occurs during this time, the session expires and Amazon Bedrock deletes any data provided before the timeout.</p>"
          }
        },
        "agentResourceRoleArn": {
          "target": "com.amazonaws.bedrockagent#AgentRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role with permissions to invoke API operations on the agent.</p>"
          }
        },
        "customerEncryptionKeyArn": {
          "target": "com.amazonaws.bedrockagent#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key with which to encrypt the agent.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.bedrockagent#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Any tags that you want to attach to the agent.</p>"
          }
        },
        "promptOverrideConfiguration": {
          "target": "com.amazonaws.bedrockagent#PromptOverrideConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains configurations to override prompts in different parts of an agent sequence. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/advanced-prompts.html\">Advanced prompts</a>.</p>"
          }
        },
        "guardrailConfiguration": {
          "target": "com.amazonaws.bedrockagent#GuardrailConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The unique Guardrail configuration assigned to the agent when it is created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagent#CreateAgentResponse": {
      "type": "structure",
      "members": {
        "agent": {
          "target": "com.amazonaws.bedrockagent#Agent",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the agent created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagent#CreateDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagent#CreateDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagent#CreateDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagent#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagent#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagent#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sets up a data source to be added to a knowledge base.</p>\n         <important>\n            <p>You can't change the <code>chunkingConfiguration</code> after you create the data source.</p>\n         </important>",
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/knowledgebases/{knowledgeBaseId}/datasources/"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["console"]
      }
    },
[...]
