{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.bedrockruntime#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockruntime#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is denied because you do not have sufficient permissions to perform the requested action. For troubleshooting this error, \n         see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/troubleshooting-api-error-codes.html#ts-access-denied\">AccessDeniedException</a> in the Amazon Bedrock User Guide</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.bedrockruntime#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.bedrockruntime#AdditionalModelResponseFieldPaths": {
      "type": "list",
      "member": {
        "target": "smithy.api#String",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 256
          }
        }
      },
      "traits": {
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.bedrockruntime#AmazonBedrockFrontendService": {
      "type": "service",
      "version": "2023-09-30",
      "resources": [
        {
          "target": "com.amazonaws.bedrockruntime#AsyncInvokeResource"
        },
        {
          "target": "com.amazonaws.bedrockruntime#GuardrailResource"
        },
        {
          "target": "com.amazonaws.bedrockruntime#InferenceResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Bedrock Runtime",
          "endpointPrefix": "bedrock-runtime",
          "cloudTrailEventSource": "bedrock.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "bedrock"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Describes the API operations for running inference using Amazon Bedrock models.</p>",
        "smithy.api#title": "Amazon Bedrock Runtime",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-runtime-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-runtime-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-runtime.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://bedrock-runtime.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-runtime.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.bedrockruntime#AnyToolChoice": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The model must request at least one tool (no text is generated). For example, <code>{\"any\" : {}}</code>.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#ApplyGuardrail": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockruntime#ApplyGuardrailRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockruntime#ApplyGuardrailResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockruntime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The action to apply a guardrail.</p>\n         <p>For troubleshooting some of the common errors you might encounter when using the <code>ApplyGuardrail</code> API, \n            see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/troubleshooting-api-error-codes.html\">Troubleshooting Amazon Bedrock API Error Codes</a> in the Amazon Bedrock User Guide</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/guardrail/{guardrailIdentifier}/version/{guardrailVersion}/apply"
        }
      }
    },
    "com.amazonaws.bedrockruntime#ApplyGuardrailRequest": {
      "type": "structure",
      "members": {
        "guardrailIdentifier": {
          "target": "com.amazonaws.bedrockruntime#GuardrailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The guardrail identifier used in the request to apply the guardrail.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "guardrailVersion": {
          "target": "com.amazonaws.bedrockruntime#GuardrailVersion",
          "traits": {
            "smithy.api#documentation": "<p>The guardrail version used in the request to apply the guardrail.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.amazonaws.bedrockruntime#GuardrailContentSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of data used in the request to apply the guardrail.</p>",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.amazonaws.bedrockruntime#GuardrailContentBlockList",
          "traits": {
            "smithy.api#documentation": "<p>The content details used in the request to apply the guardrail.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockruntime#ApplyGuardrailResponse": {
      "type": "structure",
      "members": {
        "usage": {
          "target": "com.amazonaws.bedrockruntime#GuardrailUsage",
          "traits": {
            "smithy.api#documentation": "<p>The usage details in the response from the guardrail.</p>",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.amazonaws.bedrockruntime#GuardrailAction",
          "traits": {
            "smithy.api#documentation": "<p>The action taken in the response from the guardrail.</p>",
            "smithy.api#required": {}
          }
        },
        "outputs": {
          "target": "com.amazonaws.bedrockruntime#GuardrailOutputContentList",
          "traits": {
            "smithy.api#documentation": "<p>The output details in the response from the guardrail.</p>",
            "smithy.api#required": {}
          }
        },
        "assessments": {
          "target": "com.amazonaws.bedrockruntime#GuardrailAssessmentList",
          "traits": {
            "smithy.api#documentation": "<p>The assessment details in the response from the guardrail.</p>",
            "smithy.api#required": {}
          }
        },
        "guardrailCoverage": {
          "target": "com.amazonaws.bedrockruntime#GuardrailCoverage",
          "traits": {
            "smithy.api#documentation": "<p>The guardrail coverage details in the apply guardrail response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockruntime#AsyncInvokeArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:[a-z0-9\\-]+:bedrock:[a-z0-9\\-]*:[0-9]*:(provisioned-model|foundation-model)/.+$"
      }
    },
    "com.amazonaws.bedrockruntime#AsyncInvokeIdempotencyToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[!-~]*$"
      }
    },
    "com.amazonaws.bedrockruntime#AsyncInvokeIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z_\\.\\-/0-9:]+$"
      }
    },
    "com.amazonaws.bedrockruntime#AsyncInvokeMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 2048
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockruntime#AsyncInvokeOutputDataConfig": {
      "type": "union",
      "members": {
        "s3OutputDataConfig": {
          "target": "com.amazonaws.bedrockruntime#AsyncInvokeS3OutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>A storage location for the output data in an S3 bucket</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Asynchronous invocation output data settings.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#AsyncInvokeResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.bedrockruntime#GetAsyncInvoke"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ListAsyncInvokes"
        },
        {
          "target": "com.amazonaws.bedrockruntime#StartAsyncInvoke"
        }
      ]
    },
    "com.amazonaws.bedrockruntime#AsyncInvokeS3OutputDataConfig": {
      "type": "structure",
      "members": {
        "s3Uri": {
          "target": "com.amazonaws.bedrockruntime#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>An object URI starting with <code>s3://</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.bedrockruntime#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>A KMS encryption key ID.</p>"
          }
        },
        "bucketOwner": {
          "target": "com.amazonaws.bedrockruntime#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>If the bucket belongs to another AWS account, specify that account's ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Asynchronous invocation output data settings.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#AsyncInvokeStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      }
    },
    "com.amazonaws.bedrockruntime#AsyncInvokeSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockruntime#AsyncInvokeSummary"
      }
    },
    "com.amazonaws.bedrockruntime#AsyncInvokeSummary": {
      "type": "structure",
      "members": {
        "invocationArn": {
          "target": "com.amazonaws.bedrockruntime#InvocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The invocation's ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "modelArn": {
          "target": "com.amazonaws.bedrockruntime#AsyncInvokeArn",
          "traits": {
            "smithy.api#documentation": "<p>The invoked model's ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.bedrockruntime#AsyncInvokeIdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>The invocation's idempotency token.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.bedrockruntime#AsyncInvokeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The invocation's status.</p>"
          }
        },
        "failureMessage": {
          "target": "com.amazonaws.bedrockruntime#AsyncInvokeMessage",
          "traits": {
            "smithy.api#documentation": "<p>An error message.</p>"
          }
        },
        "submitTime": {
          "target": "com.amazonaws.bedrockruntime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the invocation was submitted.</p>",
            "smithy.api#required": {}
          }
        },
        "lastModifiedTime": {
          "target": "com.amazonaws.bedrockruntime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the invocation was last modified.</p>"
          }
        },
        "endTime": {
          "target": "com.amazonaws.bedrockruntime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the invocation ended.</p>"
          }
        },
        "outputDataConfig": {
          "target": "com.amazonaws.bedrockruntime#AsyncInvokeOutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The invocation's output data settings.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of an asynchronous invocation.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#AutoToolChoice": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The Model automatically decides if a tool should be called or whether to generate text instead.\n         For example, <code>{\"auto\" : {}}</code>.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#Body": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "max": 25000000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockruntime#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockruntime#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error occurred because of a conflict while performing an operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.bedrockruntime#ContentBlock": {
      "type": "union",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Text to include in the message.</p>"
          }
        },
        "image": {
          "target": "com.amazonaws.bedrockruntime#ImageBlock",
          "traits": {
            "smithy.api#documentation": "<p>Image to include in the message. </p>\n         <note>\n            <p>This field is only supported by Anthropic Claude 3 models.</p>\n         </note>"
          }
        },
        "document": {
          "target": "com.amazonaws.bedrockruntime#DocumentBlock",
          "traits": {
            "smithy.api#documentation": "<p>A document to include in the message.</p>"
          }
        },
        "video": {
          "target": "com.amazonaws.bedrockruntime#VideoBlock",
          "traits": {
            "smithy.api#documentation": "<p>Video to include in the message. </p>"
          }
        },
        "toolUse": {
          "target": "com.amazonaws.bedrockruntime#ToolUseBlock",
          "traits": {
            "smithy.api#documentation": "<p>Information about a tool use request from a model.</p>"
          }
        },
        "toolResult": {
          "target": "com.amazonaws.bedrockruntime#ToolResultBlock",
          "traits": {
            "smithy.api#documentation": "<p>The result for a tool request that a model makes.</p>"
          }
        },
        "guardContent": {
          "target": "com.amazonaws.bedrockruntime#GuardrailConverseContentBlock",
          "traits": {
            "smithy.api#documentation": "<p>Contains the content to assess with the guardrail. If you don't specify\n            <code>guardContent</code> in a call to the Converse API, the guardrail (if passed in the\n         Converse API) assesses the entire message.</p>\n         <p>For more information, see  <i>Use a guardrail with the Converse API</i> in the <i>Amazon Bedrock User Guide</i>.\n\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A block of content for a message that you pass to, or receive from, a model with the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_runtime_Converse.html\">Converse</a> or <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_runtime_ConverseStream.html\">ConverseStream</a> API operations.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#ContentBlockDelta": {
      "type": "union",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The content text.</p>"
          }
        },
        "toolUse": {
          "target": "com.amazonaws.bedrockruntime#ToolUseBlockDelta",
          "traits": {
            "smithy.api#documentation": "<p>Information about a tool that the model is requesting to use.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A bock of content in a streaming response.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#ContentBlockDeltaEvent": {
      "type": "structure",
      "members": {
        "delta": {
          "target": "com.amazonaws.bedrockruntime#ContentBlockDelta",
          "traits": {
            "smithy.api#documentation": "<p>The delta for a content block delta event.</p>",
            "smithy.api#required": {}
          }
        },
        "contentBlockIndex": {
          "target": "com.amazonaws.bedrockruntime#NonNegativeInteger",
          "traits": {
            "smithy.api#documentation": "<p>The block index for a content block delta event. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The content block delta event.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#ContentBlockStart": {
      "type": "union",
      "members": {
        "toolUse": {
          "target": "com.amazonaws.bedrockruntime#ToolUseBlockStart",
          "traits": {
            "smithy.api#documentation": "<p>Information about a tool that the model is requesting to use.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Content block start information.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#ContentBlockStartEvent": {
      "type": "structure",
      "members": {
        "start": {
          "target": "com.amazonaws.bedrockruntime#ContentBlockStart",
          "traits": {
            "smithy.api#documentation": "<p>Start information about a content block start event.  </p>",
            "smithy.api#required": {}
          }
        },
        "contentBlockIndex": {
          "target": "com.amazonaws.bedrockruntime#NonNegativeInteger",
          "traits": {
            "smithy.api#documentation": "<p>The index for a content block start event.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Content block start event.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#ContentBlockStopEvent": {
      "type": "structure",
      "members": {
        "contentBlockIndex": {
          "target": "com.amazonaws.bedrockruntime#NonNegativeInteger",
          "traits": {
            "smithy.api#documentation": "<p>The index for a content block.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A content block stop event.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#ContentBlocks": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockruntime#ContentBlock"
      }
    },
    "com.amazonaws.bedrockruntime#ConversationRole": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "user"
          }
        },
        "ASSISTANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "assistant"
          }
        }
      }
    },
    "com.amazonaws.bedrockruntime#ConversationalModelId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^(arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12})|(:foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([.:]?[a-z0-9-]{1,63}))|([0-9]{12}:imported-model/[a-z0-9]{12})|([0-9]{12}:provisioned-model/[a-z0-9]{12})|([0-9]{12}:(inference-profile|application-inference-profile)/[a-zA-Z0-9-:.]+)))|([a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([.:]?[a-z0-9-]{1,63}))|(([0-9a-zA-Z][_-]?)+)|([a-zA-Z0-9-:.]+)|(^(arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:prompt/[0-9a-zA-Z]{10}(?::[0-9]{1,5})?))$|(^arn:aws:sagemaker:[a-z0-9-]+:[0-9]{12}:endpoint/[a-zA-Z0-9-]+$)|(^arn:aws(-[^:]+)?:bedrock:([0-9a-z-]{1,20}):([0-9]{12}):default-prompt-router/[a-zA-Z0-9-:.]+$)$"
      }
    },
    "com.amazonaws.bedrockruntime#Converse": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockruntime#ConverseRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockruntime#ConverseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockruntime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ModelErrorException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ModelNotReadyException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ModelTimeoutException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sends messages to the specified Amazon Bedrock model. <code>Converse</code> provides\n         a consistent interface that works with all models that\n         support messages. This allows you to write code once and use it with different models.\n         If a model has unique inference parameters, you can also pass those unique parameters\n         to the model.</p>\n         <p>Amazon Bedrock doesn't store any text, images, or documents that you provide as content. The data is only used to generate the response.</p>\n         <p>You can submit a prompt by including it in the <code>messages</code> field, specifying the <code>modelId</code> of a foundation model or inference profile to run inference on it, and including any other fields that are relevant to your use case.</p>\n         <p>You can also submit a prompt from Prompt management by specifying the ARN of the prompt version and including a map of variables to values in the <code>promptVariables</code> field. You can append more messages to the prompt by using the <code>messages</code> field. If you use a prompt from Prompt management, you can't include the following fields in the request: <code>additionalModelRequestFields</code>, <code>inferenceConfig</code>, <code>system</code>, or <code>toolConfig</code>. Instead, these fields must be defined through Prompt management. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prompt-management-use.html\">Use a prompt from Prompt management</a>.</p>\n         <p>For information about the Converse API, see <i>Use the Converse API</i> in the <i>Amazon Bedrock User Guide</i>.\n            To use a guardrail, see  <i>Use a guardrail with the Converse API</i> in the <i>Amazon Bedrock User Guide</i>.\n            To use a tool with a model, see <i>Tool use (Function calling)</i> in the <i>Amazon Bedrock User Guide</i>\n         </p>\n         <p>For example code, see <i>Converse API examples</i> in the <i>Amazon Bedrock User Guide</i>.\n      </p>\n         <p>This operation requires permission for the <code>bedrock:InvokeModel</code> action. </p>\n         <important>\n            <p>To deny all inference access to resources that you specify in the modelId field, you\n         need to deny access to the <code>bedrock:InvokeModel</code> and\n         <code>bedrock:InvokeModelWithResponseStream</code> actions. Doing this also denies\n         access to the resource through the base inference actions (<a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_runtime_InvokeModel.html\">InvokeModel</a> and <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_runtime_InvokeModelWithResponseStream.html\">InvokeModelWithResponseStream</a>). For more information see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/security_iam_id-based-policy-examples.html#security_iam_id-based-policy-examples-deny-inference\">Deny access for inference on specific models</a>.\n      </p>\n         </important>\n         <p>For troubleshooting some of the common errors you might encounter when using the <code>Converse</code> API, \n         see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/troubleshooting-api-error-codes.html\">Troubleshooting Amazon Bedrock API Error Codes</a> in the Amazon Bedrock User Guide</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/model/{modelId}/converse"
        }
      }
    },
    "com.amazonaws.bedrockruntime#ConverseMetrics": {
      "type": "structure",
      "members": {
        "latencyMs": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The latency of the call to <code>Converse</code>, in milliseconds.\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metrics for a call to <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_runtime_Converse.html\">Converse</a>.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#ConverseOutput": {
      "type": "union",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockruntime#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message that the model generates.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The output from a call to <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_runtime_Converse.html\">Converse</a>.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#ConverseRequest": {
      "type": "structure",
      "members": {
        "modelId": {
          "target": "com.amazonaws.bedrockruntime#ConversationalModelId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the model or throughput with which to run inference, or the prompt resource to use in inference. The value depends on the resource that you use:</p>\n         <ul>\n            <li>\n               <p>If you use a base model, specify the model ID or its ARN. For a list of model IDs for base models, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-ids.html#model-ids-arns\">Amazon Bedrock base model IDs (on-demand throughput)</a> in the Amazon Bedrock User Guide.</p>\n            </li>\n            <li>\n               <p>If you use an inference profile, specify the inference profile ID or its ARN. For a list of inference profile IDs, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/cross-region-inference-support.html\">Supported Regions and models for cross-region inference</a> in the Amazon Bedrock User Guide.</p>\n            </li>\n            <li>\n               <p>If you use a provisioned model, specify the ARN of the Provisioned Throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-thru-use.html\">Run inference using a Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p>\n            </li>\n            <li>\n               <p>If you use a custom model, first purchase Provisioned Throughput for it. Then specify the ARN of the resulting provisioned model. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-use.html\">Use a custom model in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p>\n            </li>\n            <li>\n               <p>To include a prompt that was defined in <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prompt-management.html\">Prompt management</a>, specify the ARN of the prompt version to use.</p>\n            </li>\n         </ul>\n         <p>The Converse API doesn't support <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-import-model.html\">imported models</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "messages": {
          "target": "com.amazonaws.bedrockruntime#Messages",
          "traits": {
            "smithy.api#documentation": "<p>The messages that you want to send to the model.</p>"
          }
        },
        "system": {
          "target": "com.amazonaws.bedrockruntime#SystemContentBlocks",
          "traits": {
            "smithy.api#documentation": "<p>A prompt that provides instructions or context to the model about the task it should perform, or the persona it should adopt during the conversation.</p>"
          }
        },
        "inferenceConfig": {
          "target": "com.amazonaws.bedrockruntime#InferenceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Inference parameters to pass to the model. <code>Converse</code> and <code>ConverseStream</code> support a base\n         set of inference parameters. If you need to pass additional parameters that the model\n         supports, use the <code>additionalModelRequestFields</code> request field.</p>"
          }
        },
        "toolConfig": {
          "target": "com.amazonaws.bedrockruntime#ToolConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information for the tools that the model can use when generating a response. </p>\n         <p>For information about models that support tool use, see \n         <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/conversation-inference.html#conversation-inference-supported-models-features\">Supported models and model features</a>.</p>"
          }
        },
        "guardrailConfig": {
          "target": "com.amazonaws.bedrockruntime#GuardrailConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information for a guardrail that you want to use in the request. If you include <code>guardContent</code> blocks in the <code>content</code> field in the <code>messages</code> field, the guardrail operates only on those messages. If you include no <code>guardContent</code> blocks, the guardrail operates on all messages in the request body and in any included prompt resource.</p>"
          }
        },
        "additionalModelRequestFields": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>Additional inference parameters that the model supports, beyond the\n         base set of inference parameters that <code>Converse</code> and <code>ConverseStream</code> support in the <code>inferenceConfig</code>\n         field. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-parameters.html\">Model parameters</a>.</p>"
          }
        },
        "promptVariables": {
          "target": "com.amazonaws.bedrockruntime#PromptVariableMap",
          "traits": {
            "smithy.api#documentation": "<p>Contains a map of variables in a prompt from Prompt management to objects containing the values to fill in for them when running model invocation. This field is ignored if you don't specify a prompt resource in the <code>modelId</code> field.</p>"
          }
        },
        "additionalModelResponseFieldPaths": {
          "target": "com.amazonaws.bedrockruntime#AdditionalModelResponseFieldPaths",
          "traits": {
            "smithy.api#documentation": "<p>Additional model parameters field paths to return in the\n         response. <code>Converse</code> and <code>ConverseStream</code> return the requested fields as a JSON Pointer object in the\n         <code>additionalModelResponseFields</code> field. The following is example JSON for <code>additionalModelResponseFieldPaths</code>.</p>\n         <p>\n            <code>[\n         \"/stop_sequence\"\n         ]</code>\n         </p>\n         <p>For information about the JSON Pointer syntax, see the\n         <a href=\"https://datatracker.ietf.org/doc/html/rfc6901\">Internet Engineering Task Force (IETF)</a> documentation.</p>\n         <p>\n            <code>Converse</code> and <code>ConverseStream</code> reject an empty JSON Pointer or incorrectly structured\n         JSON Pointer with a <code>400</code> error code. if the JSON Pointer is valid, but the requested\n         field is not in the model response, it is ignored by <code>Converse</code>.</p>",
            "smithy.api#length": {
              "max": 10
            }
          }
        },
        "requestMetadata": {
          "target": "com.amazonaws.bedrockruntime#RequestMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that you can use to filter invocation logs.</p>"
          }
        },
        "performanceConfig": {
          "target": "com.amazonaws.bedrockruntime#PerformanceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Model performance settings for the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockruntime#ConverseResponse": {
      "type": "structure",
      "members": {
        "output": {
          "target": "com.amazonaws.bedrockruntime#ConverseOutput",
          "traits": {
            "smithy.api#documentation": "<p>The result from the call to <code>Converse</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "stopReason": {
          "target": "com.amazonaws.bedrockruntime#StopReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason why the model stopped generating output.</p>",
            "smithy.api#required": {}
          }
        },
        "usage": {
          "target": "com.amazonaws.bedrockruntime#TokenUsage",
          "traits": {
            "smithy.api#documentation": "<p>The total number of tokens used in the call to <code>Converse</code>. The total includes\n         the tokens input to the model and the tokens generated by the model.</p>",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.amazonaws.bedrockruntime#ConverseMetrics",
          "traits": {
            "smithy.api#documentation": "<p>Metrics for the call to <code>Converse</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "additionalModelResponseFields": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>Additional fields in the response that are unique to the model. </p>"
          }
        },
        "trace": {
          "target": "com.amazonaws.bedrockruntime#ConverseTrace",
          "traits": {
            "smithy.api#documentation": "<p>A trace object that contains information about the Guardrail behavior.</p>"
          }
        },
        "performanceConfig": {
          "target": "com.amazonaws.bedrockruntime#PerformanceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Model performance settings for the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockruntime#ConverseStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockruntime#ConverseStreamRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockruntime#ConverseStreamResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockruntime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ModelErrorException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ModelNotReadyException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ModelTimeoutException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sends messages to the specified Amazon Bedrock model and returns\n         the response in a stream. <code>ConverseStream</code> provides a consistent API\n         that works with all Amazon Bedrock models that support messages.\n         This allows you to write code once and use it with different models. Should a\n         model have unique inference parameters, you can also pass those unique parameters to the\n         model. </p>\n         <p>To find out if a model supports streaming, call <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_GetFoundationModel.html\">GetFoundationModel</a>\n         and check the <code>responseStreamingSupported</code> field in the response.</p>\n         <note>\n            <p>The CLI doesn't support streaming operations in Amazon Bedrock, including <code>ConverseStream</code>.</p>\n         </note>\n         <p>Amazon Bedrock doesn't store any text, images, or documents that you provide as content. The data is only used to generate the response.</p>\n         <p>You can submit a prompt by including it in the <code>messages</code> field, specifying the <code>modelId</code> of a foundation model or inference profile to run inference on it, and including any other fields that are relevant to your use case.</p>\n         <p>You can also submit a prompt from Prompt management by specifying the ARN of the prompt version and including a map of variables to values in the <code>promptVariables</code> field. You can append more messages to the prompt by using the <code>messages</code> field. If you use a prompt from Prompt management, you can't include the following fields in the request: <code>additionalModelRequestFields</code>, <code>inferenceConfig</code>, <code>system</code>, or <code>toolConfig</code>. Instead, these fields must be defined through Prompt management. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prompt-management-use.html\">Use a prompt from Prompt management</a>.</p>\n         <p>For information about the Converse API, see <i>Use the Converse API</i> in the <i>Amazon Bedrock User Guide</i>.\n         To use a guardrail, see  <i>Use a guardrail with the Converse API</i> in the <i>Amazon Bedrock User Guide</i>.\n         To use a tool with a model, see <i>Tool use (Function calling)</i> in the <i>Amazon Bedrock User Guide</i>\n         </p>\n         <p>For example code, see <i>Conversation streaming example</i> in the <i>Amazon Bedrock User Guide</i>.\n      </p>\n         <p>This operation requires permission for the <code>bedrock:InvokeModelWithResponseStream</code> action.</p>\n         <important>\n            <p>To deny all inference access to resources that you specify in the modelId field, you\n         need to deny access to the <code>bedrock:InvokeModel</code> and\n         <code>bedrock:InvokeModelWithResponseStream</code> actions. Doing this also denies\n         access to the resource through the base inference actions (<a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_runtime_InvokeModel.html\">InvokeModel</a> and <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_runtime_InvokeModelWithResponseStream.html\">InvokeModelWithResponseStream</a>). For more information see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/security_iam_id-based-policy-examples.html#security_iam_id-based-policy-examples-deny-inference\">Deny access for inference on specific models</a>.\n      </p>\n         </important>\n         <p>For troubleshooting some of the common errors you might encounter when using the <code>ConverseStream</code> API, \n         see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/troubleshooting-api-error-codes.html\">Troubleshooting Amazon Bedrock API Error Codes</a> in the Amazon Bedrock User Guide</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/model/{modelId}/converse-stream"
        }
      }
    },
    "com.amazonaws.bedrockruntime#ConverseStreamMetadataEvent": {
      "type": "structure",
      "members": {
        "usage": {
          "target": "com.amazonaws.bedrockruntime#TokenUsage",
          "traits": {
            "smithy.api#documentation": "<p>Usage information for the conversation stream event.</p>",
            "smithy.api#required": {}
          }
        },
        "metrics": {
          "target": "com.amazonaws.bedrockruntime#ConverseStreamMetrics",
          "traits": {
            "smithy.api#documentation": "<p>The metrics for the conversation stream metadata event.</p>",
            "smithy.api#required": {}
          }
        },
        "trace": {
          "target": "com.amazonaws.bedrockruntime#ConverseStreamTrace",
          "traits": {
            "smithy.api#documentation": "<p>The trace object in the response from <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_runtime_ConverseStream.html\">ConverseStream</a> that contains information about the guardrail behavior.</p>"
          }
        },
        "performanceConfig": {
          "target": "com.amazonaws.bedrockruntime#PerformanceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Model performance configuration metadata for the conversation stream event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A conversation stream metadata event.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#ConverseStreamMetrics": {
      "type": "structure",
      "members": {
        "latencyMs": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The latency for the streaming request, in milliseconds.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metrics for the stream.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#ConverseStreamOutput": {
      "type": "union",
      "members": {
        "messageStart": {
          "target": "com.amazonaws.bedrockruntime#MessageStartEvent",
          "traits": {
            "smithy.api#documentation": "<p>Message start information.</p>"
          }
        },
        "contentBlockStart": {
          "target": "com.amazonaws.bedrockruntime#ContentBlockStartEvent",
          "traits": {
            "smithy.api#documentation": "<p>Start information for a content block.</p>"
          }
        },
        "contentBlockDelta": {
          "target": "com.amazonaws.bedrockruntime#ContentBlockDeltaEvent",
          "traits": {
            "smithy.api#documentation": "<p>The messages output content block delta.</p>"
          }
        },
        "contentBlockStop": {
          "target": "com.amazonaws.bedrockruntime#ContentBlockStopEvent",
          "traits": {
            "smithy.api#documentation": "<p>Stop information for a content block.</p>"
          }
        },
        "messageStop": {
          "target": "com.amazonaws.bedrockruntime#MessageStopEvent",
          "traits": {
            "smithy.api#documentation": "<p>Message stop information.</p>"
          }
        },
        "metadata": {
          "target": "com.amazonaws.bedrockruntime#ConverseStreamMetadataEvent",
          "traits": {
            "smithy.api#documentation": "<p>Metadata for the converse output stream.</p>"
          }
        },
        "internalServerException": {
          "target": "com.amazonaws.bedrockruntime#InternalServerException",
          "traits": {
            "smithy.api#documentation": "<p>An internal server error occurred. Retry your request.</p>"
          }
        },
        "modelStreamErrorException": {
          "target": "com.amazonaws.bedrockruntime#ModelStreamErrorException",
          "traits": {
            "smithy.api#documentation": "<p>A streaming error occurred. Retry your request.</p>"
          }
        },
        "validationException": {
          "target": "com.amazonaws.bedrockruntime#ValidationException",
          "traits": {
            "smithy.api#documentation": "<p>The input fails to satisfy the constraints specified by <i>Amazon Bedrock</i>. For troubleshooting this error, \n         see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/troubleshooting-api-error-codes.html#ts-validation-error\">ValidationError</a> in the Amazon Bedrock User Guide</p>"
          }
        },
        "throttlingException": {
          "target": "com.amazonaws.bedrockruntime#ThrottlingException",
          "traits": {
            "smithy.api#documentation": "<p>Your request was denied due to exceeding the account quotas for <i>Amazon Bedrock</i>. For\n         troubleshooting this error, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/troubleshooting-api-error-codes.html#ts-throttling-exception\">ThrottlingException</a> in the Amazon Bedrock User Guide</p>"
          }
        },
        "serviceUnavailableException": {
          "target": "com.amazonaws.bedrockruntime#ServiceUnavailableException",
          "traits": {
            "smithy.api#documentation": "<p>The service isn't currently available. For troubleshooting this error, \n         see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/troubleshooting-api-error-codes.html#ts-service-unavailable\">ServiceUnavailable</a> in the Amazon Bedrock User Guide</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The messages output stream</p>",
        "smithy.api#streaming": {}
      }
    },
    "com.amazonaws.bedrockruntime#ConverseStreamRequest": {
      "type": "structure",
      "members": {
        "modelId": {
          "target": "com.amazonaws.bedrockruntime#ConversationalModelId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the model or throughput with which to run inference, or the prompt resource to use in inference. The value depends on the resource that you use:</p>\n         <ul>\n            <li>\n               <p>If you use a base model, specify the model ID or its ARN. For a list of model IDs for base models, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-ids.html#model-ids-arns\">Amazon Bedrock base model IDs (on-demand throughput)</a> in the Amazon Bedrock User Guide.</p>\n            </li>\n            <li>\n               <p>If you use an inference profile, specify the inference profile ID or its ARN. For a list of inference profile IDs, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/cross-region-inference-support.html\">Supported Regions and models for cross-region inference</a> in the Amazon Bedrock User Guide.</p>\n            </li>\n            <li>\n               <p>If you use a provisioned model, specify the ARN of the Provisioned Throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-thru-use.html\">Run inference using a Provisioned Throughput</a> in the Amazon Bedrock User Guide.</p>\n            </li>\n            <li>\n               <p>If you use a custom model, first purchase Provisioned Throughput for it. Then specify the ARN of the resulting provisioned model. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-use.html\">Use a custom model in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p>\n            </li>\n            <li>\n               <p>To include a prompt that was defined in <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prompt-management.html\">Prompt management</a>, specify the ARN of the prompt version to use.</p>\n            </li>\n         </ul>\n         <p>The Converse API doesn't support <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-import-model.html\">imported models</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "messages": {
          "target": "com.amazonaws.bedrockruntime#Messages",
          "traits": {
            "smithy.api#documentation": "<p>The messages that you want to send to the model.</p>"
          }
        },
        "system": {
          "target": "com.amazonaws.bedrockruntime#SystemContentBlocks",
          "traits": {
            "smithy.api#documentation": "<p>A prompt that provides instructions or context to the model about the task it should perform, or the persona it should adopt during the conversation.</p>"
          }
        },
        "inferenceConfig": {
          "target": "com.amazonaws.bedrockruntime#InferenceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Inference parameters to pass to the model. <code>Converse</code> and <code>ConverseStream</code> support a base\n         set of inference parameters. If you need to pass additional parameters that the model\n         supports, use the <code>additionalModelRequestFields</code> request field.</p>"
          }
        },
        "toolConfig": {
          "target": "com.amazonaws.bedrockruntime#ToolConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information for the tools that the model can use when generating a response.</p>\n         <p>For information about models that support streaming tool use, see \n            <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/conversation-inference.html#conversation-inference-supported-models-features\">Supported models and model features</a>.</p>"
          }
        },
        "guardrailConfig": {
          "target": "com.amazonaws.bedrockruntime#GuardrailStreamConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information for a guardrail that you want to use in the request. If you include <code>guardContent</code> blocks in the <code>content</code> field in the <code>messages</code> field, the guardrail operates only on those messages. If you include no <code>guardContent</code> blocks, the guardrail operates on all messages in the request body and in any included prompt resource.</p>"
          }
        },
        "additionalModelRequestFields": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>Additional inference parameters that the model supports, beyond the\n         base set of inference parameters that <code>Converse</code> and <code>ConverseStream</code> support in the <code>inferenceConfig</code>\n         field. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-parameters.html\">Model parameters</a>.</p>"
          }
        },
        "promptVariables": {
          "target": "com.amazonaws.bedrockruntime#PromptVariableMap",
          "traits": {
            "smithy.api#documentation": "<p>Contains a map of variables in a prompt from Prompt management to objects containing the values to fill in for them when running model invocation. This field is ignored if you don't specify a prompt resource in the <code>modelId</code> field.</p>"
          }
        },
        "additionalModelResponseFieldPaths": {
          "target": "com.amazonaws.bedrockruntime#AdditionalModelResponseFieldPaths",
          "traits": {
            "smithy.api#documentation": "<p>Additional model parameters field paths to return in the\n         response. <code>Converse</code> and <code>ConverseStream</code> return the requested fields as a JSON Pointer object in the\n         <code>additionalModelResponseFields</code> field. The following is example JSON for <code>additionalModelResponseFieldPaths</code>.</p>\n         <p>\n            <code>[\n         \"/stop_sequence\"\n         ]</code>\n         </p>\n         <p>For information about the JSON Pointer syntax, see the\n         <a href=\"https://datatracker.ietf.org/doc/html/rfc6901\">Internet Engineering Task Force (IETF)</a> documentation.</p>\n         <p>\n            <code>Converse</code> and <code>ConverseStream</code> reject an empty JSON Pointer or incorrectly structured\n         JSON Pointer with a <code>400</code> error code. if the JSON Pointer is valid, but the requested\n         field is not in the model response, it is ignored by <code>Converse</code>.</p>",
            "smithy.api#length": {
              "max": 10
            }
          }
        },
        "requestMetadata": {
          "target": "com.amazonaws.bedrockruntime#RequestMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that you can use to filter invocation logs.</p>"
          }
        },
        "performanceConfig": {
          "target": "com.amazonaws.bedrockruntime#PerformanceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Model performance settings for the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockruntime#ConverseStreamResponse": {
      "type": "structure",
      "members": {
        "stream": {
          "target": "com.amazonaws.bedrockruntime#ConverseStreamOutput",
          "traits": {
            "smithy.api#documentation": "<p>The output stream that the model generated.</p>",
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockruntime#ConverseStreamTrace": {
      "type": "structure",
      "members": {
        "guardrail": {
          "target": "com.amazonaws.bedrockruntime#GuardrailTraceAssessment",
          "traits": {
            "smithy.api#documentation": "<p>The guardrail trace object. </p>"
          }
        },
        "promptRouter": {
          "target": "com.amazonaws.bedrockruntime#PromptRouterTrace",
          "traits": {
            "smithy.api#documentation": "<p>The request's prompt router.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The trace object in a response from <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_runtime_ConverseStream.html\">ConverseStream</a>. Currently, you can only trace guardrails.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#ConverseTrace": {
      "type": "structure",
      "members": {
        "guardrail": {
          "target": "com.amazonaws.bedrockruntime#GuardrailTraceAssessment",
          "traits": {
            "smithy.api#documentation": "<p>The guardrail trace object. </p>"
          }
        },
        "promptRouter": {
          "target": "com.amazonaws.bedrockruntime#PromptRouterTrace",
          "traits": {
            "smithy.api#documentation": "<p>The request's prompt router.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The trace object in a response from <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_runtime_Converse.html\">Converse</a>. Currently, you can only trace guardrails.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#DocumentBlock": {
      "type": "structure",
      "members": {
        "format": {
          "target": "com.amazonaws.bedrockruntime#DocumentFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of a document, or its extension.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A name for the document. The name can only contain the following characters:</p>\n         <ul>\n            <li>\n               <p>Alphanumeric characters</p>\n            </li>\n            <li>\n               <p>Whitespace characters (no more than one in a row)</p>\n            </li>\n            <li>\n               <p>Hyphens</p>\n            </li>\n            <li>\n               <p>Parentheses</p>\n            </li>\n            <li>\n               <p>Square brackets</p>\n            </li>\n         </ul>\n         <note>\n            <p>This field is vulnerable to prompt injections, because the model might inadvertently interpret it as instructions. Therefore, we recommend that you specify a neutral name.</p>\n         </note>",
            "smithy.api#length": {
              "min": 1,
              "max": 200
            },
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.amazonaws.bedrockruntime#DocumentSource",
          "traits": {
            "smithy.api#documentation": "<p>Contains the content of the document.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A document to include in a message.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#DocumentFormat": {
      "type": "enum",
      "members": {
        "PDF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pdf"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "csv"
          }
        },
        "DOC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "doc"
          }
        },
        "DOCX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "docx"
          }
        },
        "XLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xls"
          }
        },
        "XLSX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "xlsx"
          }
        },
        "HTML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "html"
          }
        },
        "TXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "txt"
          }
        },
        "MD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "md"
          }
        }
      }
    },
    "com.amazonaws.bedrockruntime#DocumentSource": {
      "type": "union",
      "members": {
        "bytes": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "<p>The raw bytes for the document. If you use an Amazon Web Services SDK, you don't need to encode the bytes in base64.</p>",
            "smithy.api#length": {
              "min": 1
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the content of a document.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#GetAsyncInvoke": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockruntime#GetAsyncInvokeRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockruntime#GetAsyncInvokeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockruntime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockruntime#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve information about an asynchronous invocation.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/async-invoke/{invocationArn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.bedrockruntime#GetAsyncInvokeRequest": {
      "type": "structure",
      "members": {
        "invocationArn": {
          "target": "com.amazonaws.bedrockruntime#InvocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The invocation's ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockruntime#GetAsyncInvokeResponse": {
      "type": "structure",
      "members": {
        "invocationArn": {
          "target": "com.amazonaws.bedrockruntime#InvocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The invocation's ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "modelArn": {
          "target": "com.amazonaws.bedrockruntime#AsyncInvokeArn",
          "traits": {
            "smithy.api#documentation": "<p>The invocation's model ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.bedrockruntime#AsyncInvokeIdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>The invocation's idempotency token.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.bedrockruntime#AsyncInvokeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The invocation's status.</p>",
            "smithy.api#required": {}
          }
        },
        "failureMessage": {
          "target": "com.amazonaws.bedrockruntime#AsyncInvokeMessage",
          "traits": {
            "smithy.api#documentation": "<p>An error message.</p>"
          }
        },
        "submitTime": {
          "target": "com.amazonaws.bedrockruntime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the invocation request was submitted.</p>",
            "smithy.api#required": {}
          }
        },
        "lastModifiedTime": {
          "target": "com.amazonaws.bedrockruntime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The invocation's last modified time.</p>"
          }
        },
        "endTime": {
          "target": "com.amazonaws.bedrockruntime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the invocation ended.</p>"
          }
        },
        "outputDataConfig": {
          "target": "com.amazonaws.bedrockruntime#AsyncInvokeOutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Output data settings.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailAction": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "GUARDRAIL_INTERVENED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUARDRAIL_INTERVENED"
          }
        }
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailAssessment": {
      "type": "structure",
      "members": {
        "topicPolicy": {
          "target": "com.amazonaws.bedrockruntime#GuardrailTopicPolicyAssessment",
          "traits": {
            "smithy.api#documentation": "<p>The topic policy.</p>"
          }
        },
        "contentPolicy": {
          "target": "com.amazonaws.bedrockruntime#GuardrailContentPolicyAssessment",
          "traits": {
            "smithy.api#documentation": "<p>The content policy.</p>"
          }
        },
        "wordPolicy": {
          "target": "com.amazonaws.bedrockruntime#GuardrailWordPolicyAssessment",
          "traits": {
            "smithy.api#documentation": "<p>The word policy.</p>"
          }
        },
        "sensitiveInformationPolicy": {
          "target": "com.amazonaws.bedrockruntime#GuardrailSensitiveInformationPolicyAssessment",
          "traits": {
            "smithy.api#documentation": "<p>The sensitive information policy.</p>"
          }
        },
        "contextualGroundingPolicy": {
          "target": "com.amazonaws.bedrockruntime#GuardrailContextualGroundingPolicyAssessment",
          "traits": {
            "smithy.api#documentation": "<p>The contextual grounding policy used for the guardrail assessment.</p>"
          }
        },
        "invocationMetrics": {
          "target": "com.amazonaws.bedrockruntime#GuardrailInvocationMetrics",
          "traits": {
            "smithy.api#documentation": "<p>The invocation metrics for the guardrail assessment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A behavior assessment of the guardrail policies used in a call to the Converse API. </p>"
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailAssessmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockruntime#GuardrailAssessment"
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailAssessmentListMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.bedrockruntime#GuardrailAssessmentList"
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailAssessmentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.bedrockruntime#GuardrailAssessment"
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailConfiguration": {
      "type": "structure",
      "members": {
        "guardrailIdentifier": {
          "target": "com.amazonaws.bedrockruntime#GuardrailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the guardrail.</p>",
            "smithy.api#required": {}
          }
        },
        "guardrailVersion": {
          "target": "com.amazonaws.bedrockruntime#GuardrailVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the guardrail.</p>",
            "smithy.api#required": {}
          }
        },
        "trace": {
          "target": "com.amazonaws.bedrockruntime#GuardrailTrace",
          "traits": {
            "smithy.api#default": "disabled",
            "smithy.api#documentation": "<p>The trace behavior for the guardrail.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information for a guardrail that you use with the  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_runtime_Converse.html\">Converse</a> operation.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailContentBlock": {
      "type": "union",
      "members": {
        "text": {
          "target": "com.amazonaws.bedrockruntime#GuardrailTextBlock",
          "traits": {
            "smithy.api#documentation": "<p>Text within content block to be evaluated by the guardrail.</p>"
          }
        },
        "image": {
          "target": "com.amazonaws.bedrockruntime#GuardrailImageBlock",
          "traits": {
            "smithy.api#documentation": "<p>Image within guardrail content block to be evaluated by the guardrail.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The content block to be evaluated by the guardrail.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailContentBlockList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockruntime#GuardrailContentBlock"
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailContentFilter": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.bedrockruntime#GuardrailContentFilterType",
          "traits": {
            "smithy.api#documentation": "<p>The guardrail type.</p>",
            "smithy.api#required": {}
          }
        },
        "confidence": {
          "target": "com.amazonaws.bedrockruntime#GuardrailContentFilterConfidence",
          "traits": {
            "smithy.api#documentation": "<p>The guardrail confidence.</p>",
            "smithy.api#required": {}
          }
        },
        "filterStrength": {
          "target": "com.amazonaws.bedrockruntime#GuardrailContentFilterStrength",
          "traits": {
            "smithy.api#documentation": "<p>The filter strength setting for the guardrail content filter.</p>"
          }
        },
        "action": {
          "target": "com.amazonaws.bedrockruntime#GuardrailContentPolicyAction",
          "traits": {
            "smithy.api#documentation": "<p>The guardrail action.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The content filter for a guardrail.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailContentFilterConfidence": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailContentFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockruntime#GuardrailContentFilter"
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailContentFilterStrength": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailContentFilterType": {
      "type": "enum",
      "members": {
        "INSULTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSULTS"
          }
        },
        "HATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HATE"
          }
        },
        "SEXUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEXUAL"
          }
        },
        "VIOLENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIOLENCE"
          }
        },
        "MISCONDUCT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISCONDUCT"
          }
        },
        "PROMPT_ATTACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROMPT_ATTACK"
          }
        }
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailContentPolicyAction": {
      "type": "enum",
      "members": {
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        }
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailContentPolicyAssessment": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.amazonaws.bedrockruntime#GuardrailContentFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The content policy filters.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An assessment of a content policy for a guardrail.</p>"
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailContentPolicyUnitsProcessed": {
      "type": "integer"
    },
    "com.amazonaws.bedrockruntime#GuardrailContentQualifier": {
      "type": "enum",
      "members": {
        "GROUNDING_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "grounding_source"
          }
        },
        "QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "query"
          }
        },
        "GUARD_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "guard_content"
          }
        }
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailContentQualifierList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockruntime#GuardrailContentQualifier"
      }
    },
    "com.amazonaws.bedrockruntime#GuardrailContentSource": {
      "type": "enum",
      "members": {
        "INPUT": {
          "target": "smithy.api#Unit",
[...]
