{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.bedrock#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrock#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is denied because of missing access permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.bedrock#AmazonBedrockControlPlaneService": {
      "type": "service",
      "version": "2023-04-20",
      "resources": [
        {
          "target": "com.amazonaws.bedrock#LoggingResource"
        },
        {
          "target": "com.amazonaws.bedrock#ModelResource"
        },
        {
          "target": "com.amazonaws.bedrock#ProvisionedModelThroughputResource"
        },
        {
          "target": "com.amazonaws.bedrock#SubscriptionResource"
        },
        {
          "target": "com.amazonaws.bedrock#TaggingResource"
        },
        {
          "target": "com.amazonaws.bedrock#TrainingResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Bedrock",
          "endpointPrefix": "bedrock"
        },
        "aws.auth#sigv4": {
          "name": "bedrock"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Describes the API operations for creating and managing Bedrock models.</p>",
        "smithy.api#title": "Amazon Bedrock",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://bedrock.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.bedrock#BaseModelIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^(arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12})|(:foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([a-z0-9-]{1,63}[.]){0,2}[a-z0-9-]{1,63}([:][a-z0-9-]{1,63}){0,2})))|([a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([.]?[a-z0-9-]{1,63})([:][a-z0-9-]{1,63}){0,2})|(([0-9a-zA-Z][_-]?)+)$"
      }
    },
    "com.amazonaws.bedrock#BedrockModelId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 140
        },
        "smithy.api#pattern": "^[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([a-z0-9-]{1,63}[.]){0,2}[a-z0-9-]{1,63}([:][a-z0-9-]{1,63}){0,2}(/[a-z0-9]{12}|)$"
      }
    },
    "com.amazonaws.bedrock#BrandedName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.bedrock#BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 63
        }
      }
    },
    "com.amazonaws.bedrock#CloudWatchConfig": {
      "type": "structure",
      "members": {
        "logGroupName": {
          "target": "com.amazonaws.bedrock#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The log group name.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.bedrock#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The role ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "largeDataDeliveryS3Config": {
          "target": "com.amazonaws.bedrock#S3Config",
          "traits": {
            "smithy.api#documentation": "<p>S3 configuration for delivering a large amount of data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CloudWatch logging configuration.</p>"
      }
    },
    "com.amazonaws.bedrock#CommitmentDuration": {
      "type": "enum",
      "members": {
        "ONE_MONTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneMonth"
          }
        },
        "SIX_MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SixMonths"
          }
        }
      }
    },
    "com.amazonaws.bedrock#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrock#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error occurred because of a conflict while performing an operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.bedrock#CreateModelCustomizationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#CreateModelCustomizationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#CreateModelCustomizationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a fine-tuning job to customize a base model.</p>\n         <p>You specify the base foundation model and the location of the training data.\n            After the  model-customization job completes successfully, your custom model resource will be ready to use. Training data\n            contains input and output text for each record in a JSONL format. Optionally, you can specify validation data\n            in the same format as the training data. Bedrock returns validation loss metrics and output generations\n            after the job completes.\n        </p>\n         <p>\n            Model-customization jobs are asynchronous and the completion time depends on the base model and the training/validation data size.\n            To monitor a job, use the <code>GetModelCustomizationJob</code> operation to retrieve the job status.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Bedrock User Guide.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/model-customization-jobs"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["model-customization"]
      }
    },
    "com.amazonaws.bedrock#CreateModelCustomizationJobRequest": {
      "type": "structure",
      "members": {
        "jobName": {
          "target": "com.amazonaws.bedrock#JobName",
          "traits": {
            "smithy.api#documentation": "<p>Enter a unique name for the fine-tuning job.</p>",
            "smithy.api#required": {}
          }
        },
        "customModelName": {
          "target": "com.amazonaws.bedrock#CustomModelName",
          "traits": {
            "smithy.api#documentation": "<p>Enter a name for the custom model.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.bedrock#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM role that Bedrock can assume to perform tasks on your behalf.\n            For example, during model training, Bedrock needs your permission to read input data from an S3 bucket, write model artifacts to an S3 bucket.\n            To pass this role to Bedrock, the caller of this API must have the <code>iam:PassRole</code> permission.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.bedrock#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique token value that you can provide. The GetModelCustomizationJob response includes the same token value.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "baseModelIdentifier": {
          "target": "com.amazonaws.bedrock#BaseModelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Name of the base model.</p>",
            "smithy.api#required": {}
          }
        },
        "customModelKmsKeyId": {
          "target": "com.amazonaws.bedrock#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The custom model is encrypted at rest using this key.</p>",
            "smithy.api#tags": ["customer-managed-key"]
          }
        },
        "jobTags": {
          "target": "com.amazonaws.bedrock#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Assign tags to the job.</p>"
          }
        },
        "customModelTags": {
          "target": "com.amazonaws.bedrock#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Assign tags to the custom model.</p>"
          }
        },
        "trainingDataConfig": {
          "target": "com.amazonaws.bedrock#TrainingDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the training dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "validationDataConfig": {
          "target": "com.amazonaws.bedrock#ValidationDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the validation dataset. </p>"
          }
        },
        "outputDataConfig": {
          "target": "com.amazonaws.bedrock#OutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>S3 location for the output data.</p>",
            "smithy.api#required": {}
          }
        },
        "hyperParameters": {
          "target": "com.amazonaws.bedrock#ModelCustomizationHyperParameters",
          "traits": {
            "smithy.api#documentation": "<p>Parameters related to tuning the model.</p>",
            "smithy.api#required": {}
          }
        },
        "vpcConfig": {
          "target": "com.amazonaws.bedrock#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>VPC configuration (optional). Configuration parameters for the\n            private Virtual Private Cloud (VPC) that contains the resources you are using for this job.</p>",
            "smithy.api#tags": ["model-customization-vpc"]
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#CreateModelCustomizationJobResponse": {
      "type": "structure",
      "members": {
        "jobArn": {
          "target": "com.amazonaws.bedrock#ModelCustomizationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the fine tuning job</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#CreateProvisionedModelThroughput": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#CreateProvisionedModelThroughputRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#CreateProvisionedModelThroughputResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a provisioned throughput with dedicated capacity for a foundation model or a fine-tuned model.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Provisioned throughput</a> in the Bedrock User Guide.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/provisioned-model-throughput"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bedrock#CreateProvisionedModelThroughputRequest": {
      "type": "structure",
      "members": {
        "clientRequestToken": {
          "target": "com.amazonaws.bedrock#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique token value that you can provide. If this token matches a previous request,\n            Bedrock ignores the request, but does not return an error.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "modelUnits": {
          "target": "com.amazonaws.bedrock#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>Number of model units to allocate.</p>",
            "smithy.api#required": {}
          }
        },
        "provisionedModelName": {
          "target": "com.amazonaws.bedrock#ProvisionedModelName",
          "traits": {
            "smithy.api#documentation": "<p>Unique name for this provisioned throughput.</p>",
            "smithy.api#required": {}
          }
        },
        "modelId": {
          "target": "com.amazonaws.bedrock#ModelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Name or ARN of the model to associate with this provisioned throughput.</p>",
            "smithy.api#required": {}
          }
        },
        "commitmentDuration": {
          "target": "com.amazonaws.bedrock#CommitmentDuration",
          "traits": {
            "smithy.api#documentation": "<p>Commitment duration requested for the provisioned throughput.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.bedrock#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags to associate with this provisioned throughput.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#CreateProvisionedModelThroughputResponse": {
      "type": "structure",
      "members": {
        "provisionedModelArn": {
          "target": "com.amazonaws.bedrock#ProvisionedModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for this provisioned throughput.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#CustomModelArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([a-z0-9-]{1,63}[.]){0,2}[a-z0-9-]{1,63}([:][a-z0-9-]{1,63}){0,2}/[a-z0-9]{12}$"
      }
    },
    "com.amazonaws.bedrock#CustomModelName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 63
        },
        "smithy.api#pattern": "^([0-9a-zA-Z][_-]?)+$"
      }
    },
    "com.amazonaws.bedrock#CustomModelSummary": {
      "type": "structure",
      "members": {
        "modelArn": {
          "target": "com.amazonaws.bedrock#CustomModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the custom model.</p>",
            "smithy.api#required": {}
          }
        },
        "modelName": {
          "target": "com.amazonaws.bedrock#CustomModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom model.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.bedrock#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Creation time of the model.</p>",
            "smithy.api#required": {}
          }
        },
        "baseModelArn": {
          "target": "com.amazonaws.bedrock#ModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The base model ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "baseModelName": {
          "target": "com.amazonaws.bedrock#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The base model name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information for a custom model.</p>"
      }
    },
    "com.amazonaws.bedrock#CustomModelSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrock#CustomModelSummary"
      }
    },
    "com.amazonaws.bedrock#DeleteCustomModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#DeleteCustomModelRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#DeleteCustomModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a custom model that you created earlier. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Bedrock User Guide.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/custom-models/{modelIdentifier}"
        },
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["model-customization"]
      }
    },
    "com.amazonaws.bedrock#DeleteCustomModelRequest": {
      "type": "structure",
      "members": {
        "modelIdentifier": {
          "target": "com.amazonaws.bedrock#ModelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Name of the model to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#DeleteCustomModelResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#DeleteModelInvocationLoggingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#DeleteModelInvocationLoggingConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#DeleteModelInvocationLoggingConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete the invocation logging. </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/logging/modelinvocations"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bedrock#DeleteModelInvocationLoggingConfigurationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#DeleteModelInvocationLoggingConfigurationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#DeleteProvisionedModelThroughput": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#DeleteProvisionedModelThroughputRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#DeleteProvisionedModelThroughputResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a provisioned throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Provisioned throughput</a> in the Bedrock User Guide.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/provisioned-model-throughput/{provisionedModelId}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.bedrock#DeleteProvisionedModelThroughputRequest": {
      "type": "structure",
      "members": {
        "provisionedModelId": {
          "target": "com.amazonaws.bedrock#ProvisionedModelId",
          "traits": {
            "smithy.api#documentation": "<p>The ARN or name of the provisioned throughput.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#DeleteProvisionedModelThroughputResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 2048
        }
      }
    },
    "com.amazonaws.bedrock#FineTuningJobStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InProgress"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "STOPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopping"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopped"
          }
        }
      }
    },
    "com.amazonaws.bedrock#FoundationModelArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}::foundation-model/[a-z0-9-]{1,63}[.]{1}([a-z0-9-]{1,63}[.]){0,2}[a-z0-9-]{1,63}([:][a-z0-9-]{1,63}){0,2}$"
      }
    },
    "com.amazonaws.bedrock#FoundationModelDetails": {
      "type": "structure",
      "members": {
        "modelArn": {
          "target": "com.amazonaws.bedrock#FoundationModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The model ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "modelId": {
          "target": "com.amazonaws.bedrock#BedrockModelId",
          "traits": {
            "smithy.api#documentation": "<p>The model identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "modelName": {
          "target": "com.amazonaws.bedrock#BrandedName",
          "traits": {
            "smithy.api#documentation": "<p>The model name.</p>"
          }
        },
        "providerName": {
          "target": "com.amazonaws.bedrock#BrandedName",
          "traits": {
            "smithy.api#documentation": "<p>he model's provider name.</p>"
          }
        },
        "inputModalities": {
          "target": "com.amazonaws.bedrock#ModelModalityList",
          "traits": {
            "smithy.api#documentation": "<p>The input modalities that the model supports.</p>"
          }
        },
        "outputModalities": {
          "target": "com.amazonaws.bedrock#ModelModalityList",
          "traits": {
            "smithy.api#documentation": "<p>The output modalities that the model supports.</p>"
          }
        },
        "responseStreamingSupported": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the model supports streaming.</p>"
          }
        },
        "customizationsSupported": {
          "target": "com.amazonaws.bedrock#ModelCustomizationList",
          "traits": {
            "smithy.api#documentation": "<p>The customization that the model supports.</p>"
          }
        },
        "inferenceTypesSupported": {
          "target": "com.amazonaws.bedrock#InferenceTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The inference types that the model supports.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a foundation model.</p>"
      }
    },
    "com.amazonaws.bedrock#FoundationModelSummary": {
      "type": "structure",
      "members": {
        "modelArn": {
          "target": "com.amazonaws.bedrock#FoundationModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the foundation model.</p>",
            "smithy.api#required": {}
          }
        },
        "modelId": {
          "target": "com.amazonaws.bedrock#BedrockModelId",
          "traits": {
            "smithy.api#documentation": "<p>The model Id of the foundation model.</p>",
            "smithy.api#required": {}
          }
        },
        "modelName": {
          "target": "com.amazonaws.bedrock#BrandedName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the model.</p>"
          }
        },
        "providerName": {
          "target": "com.amazonaws.bedrock#BrandedName",
          "traits": {
            "smithy.api#documentation": "<p>The model's provider name.</p>"
          }
        },
        "inputModalities": {
          "target": "com.amazonaws.bedrock#ModelModalityList",
          "traits": {
            "smithy.api#documentation": "<p>The input modalities that the model supports.</p>"
          }
        },
        "outputModalities": {
          "target": "com.amazonaws.bedrock#ModelModalityList",
          "traits": {
            "smithy.api#documentation": "<p>The output modalities that the model supports.</p>"
          }
        },
        "responseStreamingSupported": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the model supports streaming.</p>"
          }
        },
        "customizationsSupported": {
          "target": "com.amazonaws.bedrock#ModelCustomizationList",
          "traits": {
            "smithy.api#documentation": "<p>Whether the model supports fine-tuning or continual pre-training.</p>"
          }
        },
        "inferenceTypesSupported": {
          "target": "com.amazonaws.bedrock#InferenceTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The inference types that the model supports.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information for a foundation model.</p>"
      }
    },
    "com.amazonaws.bedrock#FoundationModelSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrock#FoundationModelSummary"
      }
    },
    "com.amazonaws.bedrock#GetCustomModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#GetCustomModelRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#GetCustomModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get the properties associated with a Bedrock custom model that you have created.For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Bedrock User Guide.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/custom-models/{modelIdentifier}"
        },
        "smithy.api#readonly": {},
        "smithy.api#tags": ["model-customization"]
      }
    },
    "com.amazonaws.bedrock#GetCustomModelRequest": {
      "type": "structure",
      "members": {
        "modelIdentifier": {
          "target": "com.amazonaws.bedrock#ModelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Name or ARN of the custom model.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#GetCustomModelResponse": {
      "type": "structure",
      "members": {
        "modelArn": {
          "target": "com.amazonaws.bedrock#ModelArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN associated with this model.</p>",
            "smithy.api#required": {}
          }
        },
        "modelName": {
          "target": "com.amazonaws.bedrock#CustomModelName",
          "traits": {
            "smithy.api#documentation": "<p>Model name associated with this model.</p>",
            "smithy.api#required": {}
          }
        },
        "jobName": {
          "target": "com.amazonaws.bedrock#JobName",
          "traits": {
            "smithy.api#documentation": "<p>Job name associated with this model.</p>"
          }
        },
        "jobArn": {
          "target": "com.amazonaws.bedrock#ModelCustomizationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>Job ARN associated with this model.</p>",
            "smithy.api#required": {}
          }
        },
        "baseModelArn": {
          "target": "com.amazonaws.bedrock#ModelArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the base model.</p>",
            "smithy.api#required": {}
          }
        },
        "modelKmsKeyArn": {
          "target": "com.amazonaws.bedrock#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The custom model is encrypted at rest using this key.</p>",
            "smithy.api#tags": ["customer-managed-key"]
          }
        },
        "hyperParameters": {
          "target": "com.amazonaws.bedrock#ModelCustomizationHyperParameters",
          "traits": {
            "smithy.api#documentation": "<p>Hyperparameter values associated with this model.</p>"
          }
        },
        "trainingDataConfig": {
          "target": "com.amazonaws.bedrock#TrainingDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the training dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "validationDataConfig": {
          "target": "com.amazonaws.bedrock#ValidationDataConfig"
        },
        "outputDataConfig": {
          "target": "com.amazonaws.bedrock#OutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Output data configuration associated with this custom model.</p>",
            "smithy.api#required": {}
          }
        },
        "trainingMetrics": {
          "target": "com.amazonaws.bedrock#TrainingMetrics",
          "traits": {
            "smithy.api#documentation": "<p>The training metrics from the job creation.</p>"
          }
        },
        "validationMetrics": {
          "target": "com.amazonaws.bedrock#ValidationMetrics",
          "traits": {
            "smithy.api#documentation": "<p>The validation metrics from the job creation.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.bedrock#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Creation time of the model.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#GetFoundationModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#GetFoundationModelRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#GetFoundationModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get details about a Bedrock foundation model.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/foundation-models/{modelIdentifier}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.bedrock#GetFoundationModelRequest": {
      "type": "structure",
      "members": {
        "modelIdentifier": {
          "target": "com.amazonaws.bedrock#ModelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The model identifier. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#GetFoundationModelResponse": {
      "type": "structure",
      "members": {
        "modelDetails": {
          "target": "com.amazonaws.bedrock#FoundationModelDetails",
          "traits": {
            "smithy.api#documentation": "<p>Information about the foundation model.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#GetModelCustomizationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#GetModelCustomizationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#GetModelCustomizationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the properties associated with a model-customization job, including the status of the job.\n            For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Bedrock User Guide.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/model-customization-jobs/{jobIdentifier}"
        },
        "smithy.api#readonly": {},
        "smithy.api#tags": ["model-customization"]
      }
    },
    "com.amazonaws.bedrock#GetModelCustomizationJobRequest": {
      "type": "structure",
      "members": {
        "jobIdentifier": {
          "target": "com.amazonaws.bedrock#ModelCustomizationJobIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Identifier for the customization job.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#GetModelCustomizationJobResponse": {
      "type": "structure",
      "members": {
        "jobArn": {
          "target": "com.amazonaws.bedrock#ModelCustomizationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the customization job.</p>",
            "smithy.api#required": {}
          }
        },
        "jobName": {
          "target": "com.amazonaws.bedrock#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the customization job.</p>",
            "smithy.api#required": {}
          }
        },
        "outputModelName": {
          "target": "com.amazonaws.bedrock#CustomModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the output model.</p>",
            "smithy.api#required": {}
          }
        },
        "outputModelArn": {
          "target": "com.amazonaws.bedrock#CustomModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the output model.</p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.bedrock#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that you specified in the CreateCustomizationJob request.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.bedrock#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.bedrock#ModelCustomizationJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the job. A successful job transitions from in-progress to completed when the output model is ready to use.\n            If the job failed, the failure message contains information about why the job failed.</p>"
          }
        },
        "failureMessage": {
          "target": "com.amazonaws.bedrock#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Information about why the job failed.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.bedrock#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Time that the resource was created.</p>",
            "smithy.api#required": {}
          }
        },
        "lastModifiedTime": {
          "target": "com.amazonaws.bedrock#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Time that the resource was last modified.</p>"
          }
        },
        "endTime": {
          "target": "com.amazonaws.bedrock#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Time that the resource transitioned to terminal state.</p>"
          }
        },
        "baseModelArn": {
          "target": "com.amazonaws.bedrock#FoundationModelArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the base model.</p>",
            "smithy.api#required": {}
          }
        },
        "hyperParameters": {
          "target": "com.amazonaws.bedrock#ModelCustomizationHyperParameters",
          "traits": {
            "smithy.api#documentation": "<p>The hyperparameter values for the job.</p>",
            "smithy.api#required": {}
          }
        },
        "trainingDataConfig": {
          "target": "com.amazonaws.bedrock#TrainingDataConfig",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "validationDataConfig": {
          "target": "com.amazonaws.bedrock#ValidationDataConfig",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "outputDataConfig": {
          "target": "com.amazonaws.bedrock#OutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Output data configuration </p>",
            "smithy.api#required": {}
          }
        },
        "outputModelKmsKeyArn": {
          "target": "com.amazonaws.bedrock#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The custom model is encrypted at rest using this key.</p>",
            "smithy.api#tags": ["customer-managed-key"]
          }
        },
        "trainingMetrics": {
          "target": "com.amazonaws.bedrock#TrainingMetrics"
        },
        "validationMetrics": {
          "target": "com.amazonaws.bedrock#ValidationMetrics",
          "traits": {
            "smithy.api#documentation": "<p>The loss metric for each validator that you provided in the createjob request.</p>"
          }
        },
        "vpcConfig": {
          "target": "com.amazonaws.bedrock#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>VPC configuration for the custom model job.</p>",
            "smithy.api#tags": ["model-customization-vpc"]
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#GetModelInvocationLoggingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#GetModelInvocationLoggingConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#GetModelInvocationLoggingConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get the current configuration values for model invocation logging.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/logging/modelinvocations"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.bedrock#GetModelInvocationLoggingConfigurationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#GetModelInvocationLoggingConfigurationResponse": {
      "type": "structure",
      "members": {
        "loggingConfig": {
          "target": "com.amazonaws.bedrock#LoggingConfig",
          "traits": {
            "smithy.api#documentation": "<p>The current configuration values.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#GetProvisionedModelThroughput": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#GetProvisionedModelThroughputRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#GetProvisionedModelThroughputResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get details for a provisioned throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Provisioned throughput</a> in the Bedrock User Guide.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/provisioned-model-throughput/{provisionedModelId}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.bedrock#GetProvisionedModelThroughputRequest": {
      "type": "structure",
      "members": {
        "provisionedModelId": {
          "target": "com.amazonaws.bedrock#ProvisionedModelId",
          "traits": {
            "smithy.api#documentation": "<p>The ARN or name of the provisioned throughput.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#GetProvisionedModelThroughputResponse": {
      "type": "structure",
      "members": {
        "modelUnits": {
          "target": "com.amazonaws.bedrock#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The current number of model units requested to be available for this provisioned throughput.</p>",
            "smithy.api#required": {}
          }
        },
        "desiredModelUnits": {
          "target": "com.amazonaws.bedrock#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The desired number of model units that was requested to be available for this provisioned throughput.</p>",
            "smithy.api#required": {}
          }
        },
        "provisionedModelName": {
          "target": "com.amazonaws.bedrock#ProvisionedModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the provisioned throughput.</p>",
            "smithy.api#required": {}
          }
        },
        "provisionedModelArn": {
          "target": "com.amazonaws.bedrock#ProvisionedModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the provisioned throughput.</p>",
            "smithy.api#required": {}
          }
        },
        "modelArn": {
          "target": "com.amazonaws.bedrock#ModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN or name of the model associated with this provisioned throughput.</p>",
            "smithy.api#required": {}
          }
        },
        "desiredModelArn": {
          "target": "com.amazonaws.bedrock#ModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the new model to asssociate with this provisioned throughput.</p>",
            "smithy.api#required": {}
          }
        },
        "foundationModelArn": {
          "target": "com.amazonaws.bedrock#FoundationModelArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the foundation model.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.bedrock#ProvisionedModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the provisioned throughput. </p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.bedrock#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the creation time for this provisioned throughput. </p>",
            "smithy.api#required": {}
          }
        },
        "lastModifiedTime": {
          "target": "com.amazonaws.bedrock#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the last modified time of this provisioned throughput. </p>",
            "smithy.api#required": {}
          }
        },
        "failureMessage": {
          "target": "com.amazonaws.bedrock#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Failure message for any issues that the create operation encounters.</p>"
          }
        },
        "commitmentDuration": {
          "target": "com.amazonaws.bedrock#CommitmentDuration",
          "traits": {
            "smithy.api#documentation": "<p>Commitment duration of the provisioned throughput.</p>"
          }
        },
        "commitmentExpirationTime": {
          "target": "com.amazonaws.bedrock#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Commitment expiration time for the provisioned throughput.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#IdempotencyToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$"
      }
    },
    "com.amazonaws.bedrock#InferenceType": {
      "type": "enum",
      "members": {
        "ON_DEMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEMAND"
          }
        },
        "PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONED"
          }
        }
      }
    },
    "com.amazonaws.bedrock#InferenceTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrock#InferenceType"
      }
    },
    "com.amazonaws.bedrock#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrock#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal server error occurred. Retry your request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.bedrock#JobName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9\\+\\-\\.])*$"
      }
    },
    "com.amazonaws.bedrock#KeyPrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 1024
        }
      }
    },
    "com.amazonaws.bedrock#KmsKeyArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:kms:[a-zA-Z0-9-]*:[0-9]{12}:key/[a-zA-Z0-9-]{36}$"
      }
    },
    "com.amazonaws.bedrock#KmsKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:kms:[a-zA-Z0-9-]*:[0-9]{12}:((key/[a-zA-Z0-9-]{36})|(alias/[a-zA-Z0-9-_/]+))$"
      }
    },
    "com.amazonaws.bedrock#ListCustomModels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#ListCustomModelsRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#ListCustomModelsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of the custom models that you have created with the <code>CreateModelCustomizationJob</code> operation.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Bedrock User Guide.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/custom-models"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "modelSummaries"
        },
        "smithy.api#readonly": {},
        "smithy.api#tags": ["model-customization"]
      }
    },
    "com.amazonaws.bedrock#ListCustomModelsRequest": {
      "type": "structure",
      "members": {
        "creationTimeBefore": {
          "target": "com.amazonaws.bedrock#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Return custom models created before the specified time. </p>",
            "smithy.api#httpQuery": "creationTimeBefore"
          }
        },
        "creationTimeAfter": {
          "target": "com.amazonaws.bedrock#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Return custom models created after the specified time. </p>",
            "smithy.api#httpQuery": "creationTimeAfter"
          }
        },
        "nameContains": {
          "target": "com.amazonaws.bedrock#CustomModelName",
          "traits": {
            "smithy.api#documentation": "<p>Return custom models only if the job name contains these characters.</p>",
            "smithy.api#httpQuery": "nameContains"
          }
        },
        "baseModelArnEquals": {
          "target": "com.amazonaws.bedrock#ModelArn",
          "traits": {
            "smithy.api#documentation": "<p>Return custom models only if the base model ARN matches this parameter.</p>",
            "smithy.api#httpQuery": "baseModelArnEquals"
          }
        },
        "foundationModelArnEquals": {
          "target": "com.amazonaws.bedrock#FoundationModelArn",
          "traits": {
            "smithy.api#documentation": "<p>Return custom models only if the foundation model ARN matches this parameter.</p>",
            "smithy.api#httpQuery": "foundationModelArnEquals"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.bedrock#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of results to return in the response.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.bedrock#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>Continuation token from the previous response, for Bedrock to list the next set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "sortBy": {
          "target": "com.amazonaws.bedrock#SortModelsBy",
          "traits": {
            "smithy.api#documentation": "<p>The field to sort by in the returned list of models.</p>",
            "smithy.api#httpQuery": "sortBy"
          }
        },
        "sortOrder": {
          "target": "com.amazonaws.bedrock#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The sort order of the results.</p>",
            "smithy.api#httpQuery": "sortOrder"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#ListCustomModelsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.bedrock#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>Continuation token for the next request to list the next set of results.</p>"
          }
        },
        "modelSummaries": {
          "target": "com.amazonaws.bedrock#CustomModelSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Model summaries.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#ListFoundationModels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#ListFoundationModelsRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#ListFoundationModelsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List of Bedrock foundation models that you can use. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/foundation-models.html\">Foundation models</a> in the Bedrock User Guide.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/foundation-models"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.bedrock#ListFoundationModelsRequest": {
      "type": "structure",
      "members": {
        "byProvider": {
          "target": "com.amazonaws.bedrock#Provider",
          "traits": {
            "smithy.api#documentation": "<p>A Bedrock model provider.</p>",
            "smithy.api#httpQuery": "byProvider"
          }
        },
        "byCustomizationType": {
          "target": "com.amazonaws.bedrock#ModelCustomization",
          "traits": {
            "smithy.api#documentation": "<p>List by customization type.</p>",
            "smithy.api#httpQuery": "byCustomizationType"
          }
        },
        "byOutputModality": {
          "target": "com.amazonaws.bedrock#ModelModality",
          "traits": {
            "smithy.api#documentation": "<p>List by output modality type.</p>",
            "smithy.api#httpQuery": "byOutputModality"
          }
        },
        "byInferenceType": {
          "target": "com.amazonaws.bedrock#InferenceType",
          "traits": {
            "smithy.api#documentation": "<p>List by inference type.</p>",
            "smithy.api#httpQuery": "byInferenceType"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#ListFoundationModelsResponse": {
      "type": "structure",
      "members": {
        "modelSummaries": {
          "target": "com.amazonaws.bedrock#FoundationModelSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of bedrock foundation models.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#ListModelCustomizationJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#ListModelCustomizationJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#ListModelCustomizationJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of model customization jobs that you have submitted. You can filter the jobs to return based on\n            one or more criteria.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the Bedrock User Guide.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/model-customization-jobs"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "modelCustomizationJobSummaries"
        },
        "smithy.api#readonly": {},
        "smithy.api#tags": ["model-customization"]
      }
    },
    "com.amazonaws.bedrock#ListModelCustomizationJobsRequest": {
      "type": "structure",
      "members": {
        "creationTimeAfter": {
          "target": "com.amazonaws.bedrock#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Return customization jobs created after the specified time. </p>",
            "smithy.api#httpQuery": "creationTimeAfter"
          }
        },
        "creationTimeBefore": {
          "target": "com.amazonaws.bedrock#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Return customization jobs created before the specified time. </p>",
            "smithy.api#httpQuery": "creationTimeBefore"
          }
        },
        "statusEquals": {
          "target": "com.amazonaws.bedrock#FineTuningJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>Return customization jobs with the specified status. </p>",
            "smithy.api#httpQuery": "statusEquals"
          }
        },
        "nameContains": {
          "target": "com.amazonaws.bedrock#JobName",
          "traits": {
            "smithy.api#documentation": "<p>Return customization jobs only if the job name contains these characters.</p>",
            "smithy.api#httpQuery": "nameContains"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.bedrock#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of results to return in the response.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.bedrock#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>Continuation token from the previous response, for Bedrock to list the next set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "sortBy": {
          "target": "com.amazonaws.bedrock#SortJobsBy",
          "traits": {
            "smithy.api#documentation": "<p>The field to sort by in the returned list of jobs.</p>",
            "smithy.api#httpQuery": "sortBy"
          }
        },
        "sortOrder": {
          "target": "com.amazonaws.bedrock#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The sort order of the results.</p>",
            "smithy.api#httpQuery": "sortOrder"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#ListModelCustomizationJobsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.bedrock#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>Page continuation token to use in the next request.</p>"
          }
        },
        "modelCustomizationJobSummaries": {
          "target": "com.amazonaws.bedrock#ModelCustomizationJobSummaries",
          "traits": {
            "smithy.api#documentation": "<p>Job summaries.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#ListProvisionedModelThroughputs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#ListProvisionedModelThroughputsRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#ListProvisionedModelThroughputsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List the provisioned capacities. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Provisioned throughput</a> in the Bedrock User Guide.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/provisioned-model-throughputs"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "provisionedModelSummaries"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.bedrock#ListProvisionedModelThroughputsRequest": {
      "type": "structure",
      "members": {
        "creationTimeAfter": {
          "target": "com.amazonaws.bedrock#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Return provisioned capacities created after the specified time. </p>",
            "smithy.api#httpQuery": "creationTimeAfter"
          }
        },
        "creationTimeBefore": {
          "target": "com.amazonaws.bedrock#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Return provisioned capacities created before the specified time. </p>",
            "smithy.api#httpQuery": "creationTimeBefore"
          }
        },
        "statusEquals": {
          "target": "com.amazonaws.bedrock#ProvisionedModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>Return the list of provisioned capacities that match the specified status.</p>",
            "smithy.api#httpQuery": "statusEquals"
          }
        },
        "modelArnEquals": {
          "target": "com.amazonaws.bedrock#ModelArn",
          "traits": {
            "smithy.api#documentation": "<p>Return the list of provisioned capacities where their model ARN is equal to this parameter.</p>",
            "smithy.api#httpQuery": "modelArnEquals"
          }
        },
        "nameContains": {
          "target": "com.amazonaws.bedrock#ProvisionedModelName",
          "traits": {
            "smithy.api#documentation": "<p>Return the list of provisioned capacities if their name contains these characters.</p>",
            "smithy.api#httpQuery": "nameContains"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.bedrock#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>THe maximum number of results to return in the response.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.bedrock#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>Continuation token from the previous response, for Bedrock to list the next set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "sortBy": {
          "target": "com.amazonaws.bedrock#SortByProvisionedModels",
          "traits": {
            "smithy.api#documentation": "<p>The field to sort by in the returned list of provisioned capacities.</p>",
            "smithy.api#httpQuery": "sortBy"
          }
        },
        "sortOrder": {
          "target": "com.amazonaws.bedrock#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The sort order of the results.</p>",
            "smithy.api#httpQuery": "sortOrder"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#ListProvisionedModelThroughputsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.bedrock#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>Continuation token for the next request to list the next set of results.</p>"
          }
        },
        "provisionedModelSummaries": {
          "target": "com.amazonaws.bedrock#ProvisionedModelSummaries",
          "traits": {
            "smithy.api#documentation": "<p>List of summaries, one for each provisioned throughput in the response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrock#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrock#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrock#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrock#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrock#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrock#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrock#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List the tags associated with the specified resource.</p>\n         <p>For more information, see  <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Tagging resources</a> in the Bedrock User Guide.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/listTagsForResource"
        },
        "smithy.api#tags": ["tagging"]
      }
    },
    "com.amazonaws.bedrock#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceARN": {
          "target": "com.amazonaws.bedrock#TaggableResourcesArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrock#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.bedrock#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of the tags associated with this resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrock#LogGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        }
      }
    },
    "com.amazonaws.bedrock#LoggingConfig": {
      "type": "structure",
      "members": {
        "cloudWatchConfig": {
          "target": "com.amazonaws.bedrock#CloudWatchConfig",
          "traits": {
            "smithy.api#documentation": "<p>CloudWatch logging configuration.</p>"
          }
        },
        "s3Config": {
          "target": "com.amazonaws.bedrock#S3Config",
          "traits": {
            "smithy.api#documentation": "<p>S3 configuration for storing log data.</p>"
          }
        },
        "textDataDeliveryEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to include text data in the log delivery.</p>"
          }
        },
        "imageDataDeliveryEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to include image data in the log delivery.</p>"
          }
        },
        "embeddingDataDeliveryEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to include embeddings data in the log delivery.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration fields for invokation logging.</p>"
      }
    },
    "com.amazonaws.bedrock#LoggingResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.bedrock#DeleteModelInvocationLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.bedrock#GetModelInvocationLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.bedrock#PutModelInvocationLoggingConfiguration"
        }
      ]
    },
    "com.amazonaws.bedrock#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.bedrock#MetricFloat": {
      "type": "float"
    },
    "com.amazonaws.bedrock#ModelArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12})|(:foundation-model/[a-z0-9-]{1,63}[.]{1}([a-z0-9-]{1,63}[.]){0,2}[a-z0-9-]{1,63}([:][a-z0-9-]{1,63}){0,2}))$"
      }
    },
    "com.amazonaws.bedrock#ModelCustomization": {
      "type": "enum",
      "members": {
        "FINE_TUNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINE_TUNING"
          }
        }
      }
    },
    "com.amazonaws.bedrock#ModelCustomizationHyperParameters": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.bedrock#ModelCustomizationJobArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:model-customization-job/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([a-z0-9-]{1,63}[.]){0,2}[a-z0-9-]{1,63}([:][a-z0-9-]{1,63}){0,2}/[a-z0-9]{12}$"
      }
    },
    "com.amazonaws.bedrock#ModelCustomizationJobIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 1011
        },
        "smithy.api#pattern": "^(arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:model-customization-job/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}([a-z0-9-]{1,63}[.]){0,2}[a-z0-9-]{1,63}([:][a-z0-9-]{1,63}){0,2}/[a-z0-9]{12})|([a-zA-Z0-9](-*[a-zA-Z0-9\\+\\-\\.])*)$"
      }
    },
    "com.amazonaws.bedrock#ModelCustomizationJobStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
