{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.bedrockagentruntime#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockagentruntime#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is denied because of missing access permissions. Check your permissions and retry your request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.bedrockagentruntime#ActionGroupInvocationInput": {
      "type": "structure",
      "members": {
        "actionGroupName": {
          "target": "com.amazonaws.bedrockagentruntime#ActionGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action group.</p>"
          }
        },
        "verb": {
          "target": "com.amazonaws.bedrockagentruntime#Verb",
          "traits": {
            "smithy.api#documentation": "<p>The API method being used, based off the action group.</p>"
          }
        },
        "apiPath": {
          "target": "com.amazonaws.bedrockagentruntime#ApiPath",
          "traits": {
            "smithy.api#documentation": "<p>The path to the API to call, based off the action group.</p>"
          }
        },
        "parameters": {
          "target": "com.amazonaws.bedrockagentruntime#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters in the Lambda input event.</p>"
          }
        },
        "requestBody": {
          "target": "com.amazonaws.bedrockagentruntime#RequestBody",
          "traits": {
            "smithy.api#documentation": "<p>The parameters in the request body for the Lambda input event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the action group being invoked.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#ActionGroupInvocationOutput": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.amazonaws.bedrockagentruntime#ActionGroupOutputString",
          "traits": {
            "smithy.api#documentation": "<p>The JSON-formatted string returned by the API invoked by the action group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the JSON-formatted string returned by the API invoked by the action group.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#ActionGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#ActionGroupOutputString": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#AgentAliasId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 10
        },
        "smithy.api#pattern": "^[0-9a-zA-Z]+$"
      }
    },
    "com.amazonaws.bedrockagentruntime#AgentId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 10
        },
        "smithy.api#pattern": "^[0-9a-zA-Z]+$"
      }
    },
    "com.amazonaws.bedrockagentruntime#AmazonBedrockAgentRunTimeService": {
      "type": "service",
      "version": "2023-07-26",
      "resources": [
        {
          "target": "com.amazonaws.bedrockagentruntime#InferenceResource"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#RetrieveAndGenerateResource"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#RetrieveResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Bedrock Agent Runtime",
          "arnNamespace": "bedrock",
          "endpointPrefix": "bedrock-agent-runtime",
          "cloudTrailEventSource": "bedrock.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "bedrock"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Contains APIs related to model invocation and querying of knowledge bases.</p>",
        "smithy.api#title": "Agents for Amazon Bedrock Runtime",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-agent-runtime-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-agent-runtime-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://bedrock-agent-runtime.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://bedrock-agent-runtime.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://bedrock-agent-runtime.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#ApiPath": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#Attribution": {
      "type": "structure",
      "members": {
        "citations": {
          "target": "com.amazonaws.bedrockagentruntime#Citations",
          "traits": {
            "smithy.api#documentation": "<p>A list of citations and related information for a part of an agent response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains citations for a part of an agent response.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#BadGatewayException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockagentruntime#NonBlankString"
        },
        "resourceName": {
          "target": "com.amazonaws.bedrockagentruntime#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was an issue with a dependency due to a server issue. Retry your request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 502
      }
    },
    "com.amazonaws.bedrockagentruntime#BedrockModelArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:(([0-9]{12}:custom-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}/[a-z0-9]{12})|(:foundation-model/[a-z0-9-]{1,63}[.]{1}[a-z0-9-]{1,63}))$"
      }
    },
    "com.amazonaws.bedrockagentruntime#Citation": {
      "type": "structure",
      "members": {
        "generatedResponsePart": {
          "target": "com.amazonaws.bedrockagentruntime#GeneratedResponsePart",
          "traits": {
            "smithy.api#documentation": "<p>Contains the generated response and metadata </p>"
          }
        },
        "retrievedReferences": {
          "target": "com.amazonaws.bedrockagentruntime#RetrievedReferences",
          "traits": {
            "smithy.api#documentation": "<p>Contains metadata about the sources cited for the generated response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object containing a segment of the generated response that is based on a source in the knowledge base, alongside information about the source.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_Retrieve.html#API_agent-runtime_Retrieve_ResponseSyntax\">Retrieve response</a> – in the <code>citations</code> field</p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_ResponseSyntax\">RetrieveAndGenerate response</a> – in the <code>citations</code> field</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#Citations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagentruntime#Citation"
      }
    },
    "com.amazonaws.bedrockagentruntime#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockagentruntime#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was a conflict performing an operation. Resolve the conflict and retry your request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.bedrockagentruntime#ContentMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "com.amazonaws.bedrockagentruntime#Parameters"
      }
    },
    "com.amazonaws.bedrockagentruntime#CreationMode": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "OVERRIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OVERRIDDEN"
          }
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#DependencyFailedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockagentruntime#NonBlankString"
        },
        "resourceName": {
          "target": "com.amazonaws.bedrockagentruntime#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was an issue with a dependency. Check the resource configurations and retry the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 424
      }
    },
    "com.amazonaws.bedrockagentruntime#FailureReasonString": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FailureTrace": {
      "type": "structure",
      "members": {
        "traceId": {
          "target": "com.amazonaws.bedrockagentruntime#TraceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the trace.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.bedrockagentruntime#FailureReasonString",
          "traits": {
            "smithy.api#documentation": "<p>The reason the interaction failed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the failure of the interaction.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#FilterAttribute": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.bedrockagentruntime#FilterKey",
          "traits": {
            "smithy.api#documentation": "<p>The name that the metadata attribute must match.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.bedrockagentruntime#FilterValue",
          "traits": {
            "smithy.api#documentation": "<p>The value to whcih to compare the value of the metadata attribute.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the name that the metadata attribute must match and the value to which to compare the value of the metadata attribute. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/kb-test-config.html\">Query configurations</a>.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_RequestSyntax\">RetrieveAndGenerate request</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#FilterKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#FilterValue": {
      "type": "document"
    },
    "com.amazonaws.bedrockagentruntime#FinalResponse": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.amazonaws.bedrockagentruntime#FinalResponseString",
          "traits": {
            "smithy.api#documentation": "<p>The text in the response to the user.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the response to the user.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#FinalResponseString": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#GeneratedResponsePart": {
      "type": "structure",
      "members": {
        "textResponsePart": {
          "target": "com.amazonaws.bedrockagentruntime#TextResponsePart",
          "traits": {
            "smithy.api#documentation": "<p>Contains metadata about a textual part of the generated response that is accompanied by a citation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains metadata about a part of the generated response that is accompanied by a citation.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_Retrieve.html#API_agent-runtime_Retrieve_ResponseSyntax\">Retrieve response</a> – in the <code>generatedResponsePart</code> field</p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_ResponseSyntax\">RetrieveAndGenerate response</a> – in the <code>generatedResponsePart</code> field</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#GenerationConfiguration": {
      "type": "structure",
      "members": {
        "promptTemplate": {
          "target": "com.amazonaws.bedrockagentruntime#PromptTemplate",
          "traits": {
            "smithy.api#documentation": "<p>Contains the template for the prompt that's sent to the model for response generation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configurations for response generation based on the knowledge base query results.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_RequestSyntax\">RetrieveAndGenerate request</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#InferenceConfiguration": {
      "type": "structure",
      "members": {
        "temperature": {
          "target": "com.amazonaws.bedrockagentruntime#Temperature",
          "traits": {
            "smithy.api#documentation": "<p>The likelihood of the model selecting higher-probability options while generating a response. A lower value makes the model more likely to choose higher-probability options, while a higher value makes the model more likely to choose lower-probability options.</p>"
          }
        },
        "topP": {
          "target": "com.amazonaws.bedrockagentruntime#TopP",
          "traits": {
            "smithy.api#documentation": "<p>While generating a response, the model determines the probability of the following token at each point of generation. The value that you set for <code>Top P</code> determines the number of most-likely candidates from which the model chooses the next token in the sequence. For example, if you set <code>topP</code> to 80, the model only selects the next token from the top 80% of the probability distribution of next tokens.</p>"
          }
        },
        "topK": {
          "target": "com.amazonaws.bedrockagentruntime#TopK",
          "traits": {
            "smithy.api#documentation": "<p>While generating a response, the model determines the probability of the following token at each point of generation. The value that you set for <code>topK</code> is the number of most-likely candidates from which the model chooses the next token in the sequence. For example, if you set <code>topK</code> to 50, the model selects the next token from among the top 50 most likely choices.</p>"
          }
        },
        "maximumLength": {
          "target": "com.amazonaws.bedrockagentruntime#MaximumLength",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of tokens allowed in the generated response.</p>"
          }
        },
        "stopSequences": {
          "target": "com.amazonaws.bedrockagentruntime#StopSequences",
          "traits": {
            "smithy.api#documentation": "<p>A list of stop sequences. A stop sequence is a sequence of characters that causes the model to stop generating the response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifications about the inference parameters that were provided alongside the prompt. These are specified in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent_PromptOverrideConfiguration.html\">PromptOverrideConfiguration</a> object that was set when the agent was created or updated. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-parameters.html\">Inference parameters for foundation models</a>.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#InferenceResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.bedrockagentruntime#InvokeAgent"
        }
      ]
    },
    "com.amazonaws.bedrockagentruntime#InputText": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 25000000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockagentruntime#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal server error occurred. Retry your request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.bedrockagentruntime#InvocationInput": {
      "type": "structure",
      "members": {
        "traceId": {
          "target": "com.amazonaws.bedrockagentruntime#TraceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the trace.</p>"
          }
        },
        "invocationType": {
          "target": "com.amazonaws.bedrockagentruntime#InvocationType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the agent is invoking an action group or a knowledge base.</p>"
          }
        },
        "actionGroupInvocationInput": {
          "target": "com.amazonaws.bedrockagentruntime#ActionGroupInvocationInput",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the action group to be invoked.</p>"
          }
        },
        "knowledgeBaseLookupInput": {
          "target": "com.amazonaws.bedrockagentruntime#KnowledgeBaseLookupInput",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the knowledge base to look up and the query to be made.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information pertaining to the action group or knowledge base that is being invoked.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#InvocationType": {
      "type": "enum",
      "members": {
        "ACTION_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_GROUP"
          }
        },
        "KNOWLEDGE_BASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KNOWLEDGE_BASE"
          }
        },
        "FINISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FINISH"
          }
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#InvokeAgent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.bedrockagentruntime#InvokeAgentRequest"
      },
      "output": {
        "target": "com.amazonaws.bedrockagentruntime#InvokeAgentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.bedrockagentruntime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#BadGatewayException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#ConflictException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#DependencyFailedException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#InternalServerException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#ThrottlingException"
        },
        {
          "target": "com.amazonaws.bedrockagentruntime#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sends a prompt for the agent to process and respond to.</p>\n         <note>\n            <p>The CLI doesn't support <code>InvokeAgent</code>.</p>\n         </note>\n         <ul>\n            <li>\n               <p>To continue the same conversation with an agent, use the same <code>sessionId</code> value in the request.</p>\n            </li>\n            <li>\n               <p>To activate trace enablement, turn <code>enableTrace</code> to <code>true</code>. Trace enablement helps you follow the agent's reasoning process that led it to the information it processed, the actions it took, and the final result it yielded. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-test.html#trace-events\">Trace enablement</a>.</p>\n            </li>\n            <li>\n               <p>End a conversation by setting <code>endSession</code> to <code>true</code>.</p>\n            </li>\n            <li>\n               <p>Include attributes for the session or prompt in the <code>sessionState</code> object.</p>\n            </li>\n         </ul>\n         <p>The response is returned in the <code>bytes</code> field of the <code>chunk</code> object.</p>\n         <ul>\n            <li>\n               <p>The <code>attribution</code> object contains citations for parts of the response.</p>\n            </li>\n            <li>\n               <p>If you set <code>enableTrace</code> to <code>true</code> in the request, you can trace the agent's steps and reasoning process that led it to the response.</p>\n            </li>\n            <li>\n               <p>Errors are also surfaced in the response.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/agents/{agentId}/agentAliases/{agentAliasId}/sessions/{sessionId}/text"
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#InvokeAgentRequest": {
      "type": "structure",
      "members": {
        "sessionState": {
          "target": "com.amazonaws.bedrockagentruntime#SessionState",
          "traits": {
            "smithy.api#documentation": "<p>Contains parameters that specify various attributes of the session. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-session-state.html\">Control session context</a>.</p>"
          }
        },
        "agentId": {
          "target": "com.amazonaws.bedrockagentruntime#AgentId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the agent to use.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "agentAliasId": {
          "target": "com.amazonaws.bedrockagentruntime#AgentAliasId",
          "traits": {
            "smithy.api#documentation": "<p>The alias of the agent to use.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.bedrockagentruntime#SessionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the session. Use the same value across requests to continue the same conversation.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "endSession": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to end the session with the agent or not.</p>"
          }
        },
        "enableTrace": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to turn on the trace or not to track the agent's reasoning process. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-test.html#trace-events\">Trace enablement</a>.</p>"
          }
        },
        "inputText": {
          "target": "com.amazonaws.bedrockagentruntime#InputText",
          "traits": {
            "smithy.api#documentation": "<p>The prompt text to send the agent.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#InvokeAgentResponse": {
      "type": "structure",
      "members": {
        "completion": {
          "target": "com.amazonaws.bedrockagentruntime#ResponseStream",
          "traits": {
            "smithy.api#documentation": "<p>The agent's response to the user prompt.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "com.amazonaws.bedrockagentruntime#MimeType",
          "traits": {
            "smithy.api#documentation": "<p>The MIME type of the input data in the request. The default value is <code>application/json</code>.</p>",
            "smithy.api#httpHeader": "x-amzn-bedrock-agent-content-type",
            "smithy.api#required": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.bedrockagentruntime#SessionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the session with the agent.</p>",
            "smithy.api#httpHeader": "x-amz-bedrock-agent-session-id",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#KmsKeyArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws(|-cn|-us-gov):kms:[a-zA-Z0-9-]*:[0-9]{12}:key/[a-zA-Z0-9-]{36}$"
      }
    },
    "com.amazonaws.bedrockagentruntime#KnowledgeBaseId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 10
        },
        "smithy.api#pattern": "^[0-9a-zA-Z]+$"
      }
    },
    "com.amazonaws.bedrockagentruntime#KnowledgeBaseLookupInput": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.amazonaws.bedrockagentruntime#KnowledgeBaseLookupInputString",
          "traits": {
            "smithy.api#documentation": "<p>The query made to the knowledge base.</p>"
          }
        },
        "knowledgeBaseId": {
          "target": "com.amazonaws.bedrockagentruntime#TraceKnowledgeBaseId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the knowledge base to look up.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the knowledge base to look up and the query to be made.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#KnowledgeBaseLookupInputString": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#KnowledgeBaseLookupOutput": {
      "type": "structure",
      "members": {
        "retrievedReferences": {
          "target": "com.amazonaws.bedrockagentruntime#RetrievedReferences",
          "traits": {
            "smithy.api#documentation": "<p>Contains metadata about the sources cited for the generated response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the results from looking up the knowledge base.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#KnowledgeBaseQuery": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The text of the query made to the knowledge base.</p>",
            "smithy.api#length": {
              "max": 1000
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the query made to the knowledge base.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_Retrieve.html#API_agent-runtime_Retrieve_RequestSyntax\">Retrieve request</a> – in the <code>retrievalQuery</code> field</p>\n            </li>\n         </ul>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#KnowledgeBaseRetrievalConfiguration": {
      "type": "structure",
      "members": {
        "vectorSearchConfiguration": {
          "target": "com.amazonaws.bedrockagentruntime#KnowledgeBaseVectorSearchConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about how the results from the vector search should be returned. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/kb-test-config.html\">Query configurations</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains configurations for the knowledge base query and retrieval process. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/kb-test-config.html\">Query configurations</a>.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_Retrieve.html#API_agent-runtime_Retrieve_RequestSyntax\">Retrieve request</a> – in the <code>retrievalConfiguration</code> field</p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_RequestSyntax\">RetrieveAndGenerate request</a> – in the <code>retrievalConfiguration</code> field</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#KnowledgeBaseRetrievalResult": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.amazonaws.bedrockagentruntime#RetrievalResultContent",
          "traits": {
            "smithy.api#documentation": "<p>Contains a chunk of text from a data source in the knowledge base.</p>",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.amazonaws.bedrockagentruntime#RetrievalResultLocation",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the location of the data source.</p>"
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>The level of relevance of the result to the query.</p>"
          }
        },
        "metadata": {
          "target": "com.amazonaws.bedrockagentruntime#RetrievalResultMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Contains metadata attributes and their values for the file in the data source. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/knowledge-base-ds.html#kb-ds-metadata\">Metadata and filtering</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a result from querying the knowledge base.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_Retrieve.html#API_agent-runtime_Retrieve_ResponseSyntax\">Retrieve response</a> – in the <code>retrievalResults</code> field</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#KnowledgeBaseRetrievalResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagentruntime#KnowledgeBaseRetrievalResult"
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#KnowledgeBaseRetrieveAndGenerateConfiguration": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.bedrockagentruntime#KnowledgeBaseId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the knowledge base that is queried and the foundation model used for generation.</p>",
            "smithy.api#required": {}
          }
        },
        "modelArn": {
          "target": "com.amazonaws.bedrockagentruntime#BedrockModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the foundation model used to generate a response.</p>",
            "smithy.api#required": {}
          }
        },
        "retrievalConfiguration": {
          "target": "com.amazonaws.bedrockagentruntime#KnowledgeBaseRetrievalConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains configurations for how to retrieve and return the knowledge base query.</p>"
          }
        },
        "generationConfiguration": {
          "target": "com.amazonaws.bedrockagentruntime#GenerationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains configurations for response generation based on the knowwledge base query results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the resource being queried.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_Retrieve.html#API_agent-runtime_Retrieve_RequestSyntax\">Retrieve request</a> – in the <code>knowledgeBaseConfiguration</code> field</p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_RequestSyntax\">RetrieveAndGenerate request</a> – in the <code>knowledgeBaseConfiguration</code> field</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#KnowledgeBaseVectorSearchConfiguration": {
      "type": "structure",
      "members": {
        "numberOfResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#addedDefault": {},
            "smithy.api#default": 5,
            "smithy.api#documentation": "<p>The number of source chunks to retrieve.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "overrideSearchType": {
          "target": "com.amazonaws.bedrockagentruntime#SearchType",
          "traits": {
            "smithy.api#documentation": "<p>By default, Amazon Bedrock decides a search strategy for you. If you're using an Amazon OpenSearch Serverless vector store that contains a filterable text field, you can specify whether to query the knowledge base with a <code>HYBRID</code> search using both vector embeddings and raw text, or <code>SEMANTIC</code> search using only vector embeddings. For other vector store configurations, only <code>SEMANTIC</code> search is available. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/knowledge-base-test.html\">Test a knowledge base</a>.</p>"
          }
        },
        "filter": {
          "target": "com.amazonaws.bedrockagentruntime#RetrievalFilter",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the filters to use on the metadata in the knowledge base data sources before returning results. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/kb-test-config.html\">Query configurations</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configurations for how to perform the search query and return results. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/kb-test-config.html\">Query configurations</a>.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_Retrieve.html#API_agent-runtime_Retrieve_RequestSyntax\">Retrieve request</a> – in the <code>vectorSearchConfiguration</code> field</p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_RequestSyntax\">RetrieveAndGenerate request</a> – in the <code>vectorSearchConfiguration</code> field</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#LambdaArn": {
      "type": "string"
    },
    "com.amazonaws.bedrockagentruntime#MaximumLength": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 4096
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#MimeType": {
      "type": "string"
    },
    "com.amazonaws.bedrockagentruntime#ModelInvocationInput": {
      "type": "structure",
      "members": {
        "traceId": {
          "target": "com.amazonaws.bedrockagentruntime#TraceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the trace.</p>"
          }
        },
        "text": {
          "target": "com.amazonaws.bedrockagentruntime#PromptText",
          "traits": {
            "smithy.api#documentation": "<p>The text that prompted the agent at this step.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.bedrockagentruntime#PromptType",
          "traits": {
            "smithy.api#documentation": "<p>The step in the agent sequence.</p>"
          }
        },
        "inferenceConfiguration": {
          "target": "com.amazonaws.bedrockagentruntime#InferenceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifications about the inference parameters that were provided alongside the prompt. These are specified in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent_PromptOverrideConfiguration.html\">PromptOverrideConfiguration</a> object that was set when the agent was created or updated. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-parameters.html\">Inference parameters for foundation models</a>.</p>"
          }
        },
        "overrideLambda": {
          "target": "com.amazonaws.bedrockagentruntime#LambdaArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Lambda function to use when parsing the raw foundation model output in parts of the agent sequence.</p>"
          }
        },
        "promptCreationMode": {
          "target": "com.amazonaws.bedrockagentruntime#CreationMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the default prompt template was <code>OVERRIDDEN</code>. If it was, the <code>basePromptTemplate</code> that was set in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent_PromptOverrideConfiguration.html\">PromptOverrideConfiguration</a> object when the agent was created or updated is used instead.</p>"
          }
        },
        "parserMode": {
          "target": "com.amazonaws.bedrockagentruntime#CreationMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to override the default parser Lambda function when parsing the raw foundation model output in the part of the agent sequence defined by the <code>promptType</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for the pre-processing step.</p>\n         <ul>\n            <li>\n               <p>The <code>type</code> matches the agent step.</p>\n            </li>\n            <li>\n               <p>The <code>text</code> contains the prompt.</p>\n            </li>\n            <li>\n               <p>The <code>inferenceConfiguration</code>, <code>parserMode</code>, and <code>overrideLambda</code> values are set in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent_PromptOverrideConfiguration.html\">PromptOverrideConfiguration</a> object that was set when the agent was created or updated.</p>\n            </li>\n         </ul>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^\\S*$"
      }
    },
    "com.amazonaws.bedrockagentruntime#NonBlankString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.bedrockagentruntime#Observation": {
      "type": "structure",
      "members": {
        "traceId": {
          "target": "com.amazonaws.bedrockagentruntime#TraceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the trace.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.bedrockagentruntime#Type",
          "traits": {
            "smithy.api#documentation": "<p>Specifies what kind of information the agent returns in the observation. The following values are possible.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ACTION_GROUP</code> – The agent returns the result of an action group.</p>\n            </li>\n            <li>\n               <p>\n                  <code>KNOWLEDGE_BASE</code> – The agent returns information from a knowledge base.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FINISH</code> – The agent returns a final response to the user with no follow-up.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ASK_USER</code> – The agent asks the user a question.</p>\n            </li>\n            <li>\n               <p>\n                  <code>REPROMPT</code> – The agent prompts the user again for the same information.</p>\n            </li>\n         </ul>"
          }
        },
        "actionGroupInvocationOutput": {
          "target": "com.amazonaws.bedrockagentruntime#ActionGroupInvocationOutput",
          "traits": {
            "smithy.api#documentation": "<p>Contains the JSON-formatted string returned by the API invoked by the action group.</p>"
          }
        },
        "knowledgeBaseLookupOutput": {
          "target": "com.amazonaws.bedrockagentruntime#KnowledgeBaseLookupOutput",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the results from looking up the knowledge base.</p>"
          }
        },
        "finalResponse": {
          "target": "com.amazonaws.bedrockagentruntime#FinalResponse",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the response to the user.</p>"
          }
        },
        "repromptResponse": {
          "target": "com.amazonaws.bedrockagentruntime#RepromptResponse",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the response to reprompt the input.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the result or output of an action group or knowledge base, or the response to the user.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#OrchestrationTrace": {
      "type": "union",
      "members": {
        "rationale": {
          "target": "com.amazonaws.bedrockagentruntime#Rationale",
          "traits": {
            "smithy.api#documentation": "<p>Details about the reasoning, based on the input, that the agent uses to justify carrying out an action group or getting information from a knowledge base.</p>"
          }
        },
        "invocationInput": {
          "target": "com.amazonaws.bedrockagentruntime#InvocationInput",
          "traits": {
            "smithy.api#documentation": "<p>Contains information pertaining to the action group or knowledge base that is being invoked.</p>"
          }
        },
        "observation": {
          "target": "com.amazonaws.bedrockagentruntime#Observation",
          "traits": {
            "smithy.api#documentation": "<p>Details about the observation (the output of the action group Lambda or knowledge base) made by the agent.</p>"
          }
        },
        "modelInvocationInput": {
          "target": "com.amazonaws.bedrockagentruntime#ModelInvocationInput",
          "traits": {
            "smithy.api#documentation": "<p>The input for the orchestration step.</p>\n         <ul>\n            <li>\n               <p>The <code>type</code> is <code>ORCHESTRATION</code>.</p>\n            </li>\n            <li>\n               <p>The <code>text</code> contains the prompt.</p>\n            </li>\n            <li>\n               <p>The <code>inferenceConfiguration</code>, <code>parserMode</code>, and <code>overrideLambda</code> values are set in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent_PromptOverrideConfiguration.html\">PromptOverrideConfiguration</a> object that was set when the agent was created or updated.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the orchestration step, in which the agent determines the order in which actions are executed and which knowledge bases are retrieved.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#OutputString": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#Parameter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter.</p>"
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the parameter.</p>"
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A parameter in the Lambda input event.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#Parameters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagentruntime#Parameter"
      }
    },
    "com.amazonaws.bedrockagentruntime#PartBody": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "max": 1000000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#PayloadPart": {
      "type": "structure",
      "members": {
        "bytes": {
          "target": "com.amazonaws.bedrockagentruntime#PartBody",
          "traits": {
            "smithy.api#documentation": "<p>A part of the agent response in bytes.</p>"
          }
        },
        "attribution": {
          "target": "com.amazonaws.bedrockagentruntime#Attribution",
          "traits": {
            "smithy.api#documentation": "<p>Contains citations for a part of an agent response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a part of an agent response and citations for it.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#PostProcessingModelInvocationOutput": {
      "type": "structure",
      "members": {
        "traceId": {
          "target": "com.amazonaws.bedrockagentruntime#TraceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the trace.</p>"
          }
        },
        "parsedResponse": {
          "target": "com.amazonaws.bedrockagentruntime#PostProcessingParsedResponse",
          "traits": {
            "smithy.api#documentation": "<p>Details about the response from the Lambda parsing of the output of the post-processing step.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The foundation model output from the post-processing step.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#PostProcessingParsedResponse": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.amazonaws.bedrockagentruntime#OutputString",
          "traits": {
            "smithy.api#documentation": "<p>The text returned by the parser.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the response from the Lambda parsing of the output from the post-processing step.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#PostProcessingTrace": {
      "type": "union",
      "members": {
        "modelInvocationInput": {
          "target": "com.amazonaws.bedrockagentruntime#ModelInvocationInput",
          "traits": {
            "smithy.api#documentation": "<p>The input for the post-processing step.</p>\n         <ul>\n            <li>\n               <p>The <code>type</code> is <code>POST_PROCESSING</code>.</p>\n            </li>\n            <li>\n               <p>The <code>text</code> contains the prompt.</p>\n            </li>\n            <li>\n               <p>The <code>inferenceConfiguration</code>, <code>parserMode</code>, and <code>overrideLambda</code> values are set in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent_PromptOverrideConfiguration.html\">PromptOverrideConfiguration</a> object that was set when the agent was created or updated.</p>\n            </li>\n         </ul>"
          }
        },
        "modelInvocationOutput": {
          "target": "com.amazonaws.bedrockagentruntime#PostProcessingModelInvocationOutput",
          "traits": {
            "smithy.api#documentation": "<p>The foundation model output from the post-processing step.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the post-processing step, in which the agent shapes the response.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#PreProcessingModelInvocationOutput": {
      "type": "structure",
      "members": {
        "traceId": {
          "target": "com.amazonaws.bedrockagentruntime#TraceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the trace.</p>"
          }
        },
        "parsedResponse": {
          "target": "com.amazonaws.bedrockagentruntime#PreProcessingParsedResponse",
          "traits": {
            "smithy.api#documentation": "<p>Details about the response from the Lambda parsing of the output of the pre-processing step.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The foundation model output from the pre-processing step.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#PreProcessingParsedResponse": {
      "type": "structure",
      "members": {
        "rationale": {
          "target": "com.amazonaws.bedrockagentruntime#RationaleString",
          "traits": {
            "smithy.api#documentation": "<p>The text returned by the parsing of the pre-processing step, explaining the steps that the agent plans to take in orchestration, if the user input is valid.</p>"
          }
        },
        "isValid": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the user input is valid or not. If <code>false</code>, the agent doesn't proceed to orchestration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the response from the Lambda parsing of the output from the pre-processing step.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#PreProcessingTrace": {
      "type": "union",
      "members": {
        "modelInvocationInput": {
          "target": "com.amazonaws.bedrockagentruntime#ModelInvocationInput",
          "traits": {
            "smithy.api#documentation": "<p>The input for the pre-processing step.</p>\n         <ul>\n            <li>\n               <p>The <code>type</code> is <code>PRE_PROCESSING</code>.</p>\n            </li>\n            <li>\n               <p>The <code>text</code> contains the prompt.</p>\n            </li>\n            <li>\n               <p>The <code>inferenceConfiguration</code>, <code>parserMode</code>, and <code>overrideLambda</code> values are set in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent_PromptOverrideConfiguration.html\">PromptOverrideConfiguration</a> object that was set when the agent was created or updated.</p>\n            </li>\n         </ul>"
          }
        },
        "modelInvocationOutput": {
          "target": "com.amazonaws.bedrockagentruntime#PreProcessingModelInvocationOutput",
          "traits": {
            "smithy.api#documentation": "<p>The foundation model output from the pre-processing step.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the pre-processing step, in which the agent contextualizes and categorizes user inputs.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#PromptSessionAttributesMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.bedrockagentruntime#PromptTemplate": {
      "type": "structure",
      "members": {
        "textPromptTemplate": {
          "target": "com.amazonaws.bedrockagentruntime#TextPromptTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The template for the prompt that's sent to the model for response generation. You can include prompt placeholders, which become replaced before the prompt is sent to the model to provide instructions and context to the model. In addition, you can include XML tags to delineate meaningful sections of the prompt template.</p>\n         <p>For more information, see the following resources:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/kb-test-config.html#kb-test-config-sysprompt\">Knowledge base prompt templates</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.anthropic.com/claude/docs/use-xml-tags\">Use XML tags with Anthropic Claude models</a>\n               </p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the template for the prompt that's sent to the model for response generation. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/kb-test-config.html#kb-test-config-sysprompt\">Knowledge base prompt templates</a>.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_RequestSyntax\">RetrieveAndGenerate request</a> – in the <code>filter</code> field</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.bedrockagentruntime#PromptText": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#PromptType": {
      "type": "enum",
      "members": {
        "PRE_PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRE_PROCESSING"
          }
        },
        "ORCHESTRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORCHESTRATION"
          }
        },
        "KNOWLEDGE_BASE_RESPONSE_GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KNOWLEDGE_BASE_RESPONSE_GENERATION"
          }
        },
        "POST_PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POST_PROCESSING"
          }
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#Rationale": {
      "type": "structure",
      "members": {
        "traceId": {
          "target": "com.amazonaws.bedrockagentruntime#TraceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the trace step.</p>"
          }
        },
        "text": {
          "target": "com.amazonaws.bedrockagentruntime#RationaleString",
          "traits": {
            "smithy.api#documentation": "<p>The reasoning or thought process of the agent, based on the input.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the reasoning, based on the input, that the agent uses to justify carrying out an action group or getting information from a knowledge base.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#RationaleString": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#RepromptResponse": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The text reprompting the input.</p>"
          }
        },
        "source": {
          "target": "com.amazonaws.bedrockagentruntime#Source",
          "traits": {
            "smithy.api#documentation": "<p>Specifies what output is prompting the agent to reprompt the input.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the agent's response to reprompt the input.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#RequestBody": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.amazonaws.bedrockagentruntime#ContentMap",
          "traits": {
            "smithy.api#documentation": "<p>The content in the request body.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters in the request body for the Lambda input event.</p>"
      }
    },
    "com.amazonaws.bedrockagentruntime#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.bedrockagentruntime#NonBlankString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.bedrockagentruntime#ResponseStream": {
      "type": "union",
      "members": {
        "chunk": {
          "target": "com.amazonaws.bedrockagentruntime#PayloadPart",
          "traits": {
            "smithy.api#documentation": "<p>Contains a part of an agent response and citations for it.</p>"
          }
        },
        "trace": {
          "target": "com.amazonaws.bedrockagentruntime#TracePart",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the agent and session, alongside the agent's reasoning process and results from calling API actions and querying knowledge bases and metadata about the trace. You can use the trace to understand how the agent arrived at the response it provided the customer. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/trace-events.html\">Trace events</a>.</p>"
          }
        },
        "internalServerException": {
          "target": "com.amazonaws.bedrockagentruntime#InternalServerException",
          "traits": {
            "smithy.api#documentation": "<p>An internal server error occurred. Retry your request.</p>"
          }
        },
        "validationException": {
          "target": "com.amazonaws.bedrockagentruntime#ValidationException",
          "traits": {
            "smithy.api#documentation": "<p>Input validation failed. Check your request parameters and retry the request.</p>"
          }
        },
        "resourceNotFoundException": {
          "target": "com.amazonaws.bedrockagentruntime#ResourceNotFoundException",
          "traits": {
            "smithy.api#documentation": "<p>The specified resource ARN was not found. Check the ARN and try your request again.</p>"
          }
        },
        "serviceQuotaExceededException": {
          "target": "com.amazonaws.bedrockagentruntime#ServiceQuotaExceededException",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests exceeds the service quota. Resubmit your request later.</p>"
          }
        },
        "throttlingException": {
          "target": "com.amazonaws.bedrockagentruntime#ThrottlingException",
          "traits": {
            "smithy.api#documentation": "<p>The number of requests exceeds the limit. Resubmit your request later.</p>"
          }
        },
        "accessDeniedException": {
          "target": "com.amazonaws.bedrockagentruntime#AccessDeniedException",
          "traits": {
            "smithy.api#documentation": "<p>The request is denied because of missing access permissions. Check your permissions and retry your request.</p>"
          }
        },
        "conflictException": {
          "target": "com.amazonaws.bedrockagentruntime#ConflictException",
          "traits": {
            "smithy.api#documentation": "<p>There was a conflict performing an operation. Resolve the conflict and retry your request.</p>"
          }
        },
        "dependencyFailedException": {
          "target": "com.amazonaws.bedrockagentruntime#DependencyFailedException",
          "traits": {
            "smithy.api#documentation": "<p>There was an issue with a dependency. Check the resource configurations and retry the request.</p>"
          }
        },
        "badGatewayException": {
          "target": "com.amazonaws.bedrockagentruntime#BadGatewayException",
          "traits": {
            "smithy.api#documentation": "<p>There was an issue with a dependency due to a server issue. Retry your request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response from invoking the agent and associated citations and trace information.</p>",
        "smithy.api#streaming": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#RetrievalFilter": {
      "type": "union",
      "members": {
        "equals": {
          "target": "com.amazonaws.bedrockagentruntime#FilterAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Knowledge base data sources that contain a metadata attribute whose name matches the <code>key</code> and whose value matches the <code>value</code> in this object are returned.</p>"
          }
        },
        "notEquals": {
          "target": "com.amazonaws.bedrockagentruntime#FilterAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Knowledge base data sources that contain a metadata attribute whose name matches the <code>key</code> and whose value doesn't match the <code>value</code> in this object are returned.</p>"
          }
        },
        "greaterThan": {
          "target": "com.amazonaws.bedrockagentruntime#FilterAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Knowledge base data sources that contain a metadata attribute whose name matches the <code>key</code> and whose value is greater than the <code>value</code> in this object are returned.</p>"
          }
        },
        "greaterThanOrEquals": {
          "target": "com.amazonaws.bedrockagentruntime#FilterAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Knowledge base data sources that contain a metadata attribute whose name matches the <code>key</code> and whose value is greater than or equal to the <code>value</code> in this object are returned.</p>"
          }
        },
        "lessThan": {
          "target": "com.amazonaws.bedrockagentruntime#FilterAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Knowledge base data sources that contain a metadata attribute whose name matches the <code>key</code> and whose value is less than the <code>value</code> in this object are returned.</p>"
          }
        },
        "lessThanOrEquals": {
          "target": "com.amazonaws.bedrockagentruntime#FilterAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Knowledge base data sources that contain a metadata attribute whose name matches the <code>key</code> and whose value is less than or equal to the <code>value</code> in this object are returned.</p>"
          }
        },
        "in": {
          "target": "com.amazonaws.bedrockagentruntime#FilterAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Knowledge base data sources that contain a metadata attribute whose name matches the <code>key</code> and whose value is in the list specified in the <code>value</code> in this object are returned.</p>"
          }
        },
        "notIn": {
          "target": "com.amazonaws.bedrockagentruntime#FilterAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Knowledge base data sources that contain a metadata attribute whose name matches the <code>key</code> and whose value isn't in the list specified in the <code>value</code> in this object are returned.</p>"
          }
        },
        "startsWith": {
          "target": "com.amazonaws.bedrockagentruntime#FilterAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Knowledge base data sources that contain a metadata attribute whose name matches the <code>key</code> and whose value starts with the <code>value</code> in this object are returned. This filter is currently only supported for Amazon OpenSearch Serverless vector stores.</p>"
          }
        },
        "andAll": {
          "target": "com.amazonaws.bedrockagentruntime#RetrievalFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Knowledge base data sources whose metadata attributes fulfill all the filter conditions inside this list are returned.</p>"
          }
        },
        "orAll": {
          "target": "com.amazonaws.bedrockagentruntime#RetrievalFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Knowledge base data sources whose metadata attributes fulfill at least one of the filter conditions inside this list are returned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the filters to use on the metadata attributes in the knowledge base data sources before returning results. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/kb-test-config.html\">Query configurations</a>.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_Retrieve.html#API_agent-runtime_Retrieve_RequestSyntax\">Retrieve request</a> – in the <code>filter</code> field</p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_RequestSyntax\">RetrieveAndGenerate request</a> – in the <code>filter</code> field</p>\n            </li>\n         </ul>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#RetrievalFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.bedrockagentruntime#RetrievalFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 5
        }
      }
    },
    "com.amazonaws.bedrockagentruntime#RetrievalResultContent": {
      "type": "structure",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The cited text from the data source.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the cited text from the data source.</p>\n         <p>This data type is used in the following API operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_Retrieve.html#API_agent-runtime_Retrieve_ResponseSyntax\">Retrieve response</a> – in the <code>content</code> field</p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_ResponseSyntax\">RetrieveAndGenerate response</a> – in the <code>content</code> field</p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_Retrieve.html#API_agent-runtime_Retrieve_ResponseSyntax\">Retrieve response</a> – in the <code>content</code> field</p>\n            </li>\n         </ul>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.bedrockagentruntime#RetrievalResultLocation": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.bedrockagentruntime#RetrievalResultLocationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the location of the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "s3Location": {
          "target": "com.amazonaws.bedrockagentruntime#RetrievalResultS3Location",
          "traits": {
            "smithy.api#documentation": "<p>Contains the S3 location of the data source.</p>"
          }
        }
      },
      "traits": {
[...]
