{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.billingconductor#AWSBillingConductor": {
      "type": "service",
      "version": "2021-07-30",
      "operations": [
        {
          "target": "com.amazonaws.billingconductor#ListAccountAssociations"
        },
        {
          "target": "com.amazonaws.billingconductor#ListBillingGroupCostReports"
        },
        {
          "target": "com.amazonaws.billingconductor#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.billingconductor#TagResource"
        },
        {
          "target": "com.amazonaws.billingconductor#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.billingconductor#BillingGroup"
        },
        {
          "target": "com.amazonaws.billingconductor#CustomLineItem"
        },
        {
          "target": "com.amazonaws.billingconductor#PricingPlan"
        },
        {
          "target": "com.amazonaws.billingconductor#PricingRule"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "billingconductor",
          "arnNamespace": "billingconductor"
        },
        "aws.auth#sigv4": {
          "name": "billingconductor"
        },
        "aws.iam#defineConditionKeys": {
          "aws:ResourceTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access based on the tags associated with the resource",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-resourcetag"
          },
          "aws:RequestTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access based on the tags that are passed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
          },
          "aws:TagKeys": {
            "type": "String",
            "documentation": "Filters access based on the tag keys that are passed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-tagkeys"
          }
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": ["X-Api-Key"]
        },
        "smithy.api#documentation": "<p>Amazon Web Services Billing Conductor is a fully managed service that you can use\n      to customize a <a href=\"https://docs.aws.amazon.com/billingconductor/latest/userguide/understanding-eb.html#eb-other-definitions\">pro forma</a> version of your billing data each month, to accurately show or chargeback\n      your end customers. Amazon Web Services Billing Conductor doesn't change the way\n      you're billed by Amazon Web Services each month by design. Instead, it provides you with a\n      mechanism to configure, generate, and display rates to certain customers over a given billing\n      period. You can also analyze the difference between the rates you apply to your accounting\n      groupings relative to your actual rates from Amazon Web Services. As a result of your Amazon Web Services Billing Conductor configuration, the payer account can also see the\n      custom rate applied on the billing details page of the <a href=\"https://console.aws.amazon.com/billing\">Amazon Web Services Billing console</a>, or configure a cost and usage report per\n      billing group.</p>\n         <p>This documentation shows how you can configure Amazon Web Services Billing Conductor using its\n      API. For more information about using the <a href=\"https://console.aws.amazon.com/billingconductor/\">Amazon Web Services\n        Billing Conductor</a> user interface, see the <a href=\"https://docs.aws.amazon.com/billingconductor/latest/userguide/what-is-billingconductor.html\"> Amazon Web Services Billing Conductor User Guide</a>.</p>",
        "smithy.api#title": "AWSBillingConductor",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://billingconductor-fips.{Region}.api.aws",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://billingconductor-fips.{Region}.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://billingconductor.{Region}.api.aws",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://billingconductor.us-east-1.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-east-1",
                              "signingName": "billingconductor"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://billingconductor-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://billingconductor-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://billingconductor.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://billingconductor.us-east-1.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-east-1",
                              "signingName": "billingconductor"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://billingconductor.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://billingconductor-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://billingconductor-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://billingconductor.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://billingconductor.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://billingconductor-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://billingconductor.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region aws-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingName": "billingconductor",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://billingconductor.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "aws-global",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://billingconductor-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://billingconductor-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://billingconductor.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingName": "billingconductor",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://billingconductor.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://billingconductor-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://billingconductor-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://billingconductor.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://billingconductor.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://billingconductor-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://billingconductor.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.billingconductor#AWSCost": {
      "type": "string"
    },
    "com.amazonaws.billingconductor#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.billingconductor#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.\n    </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.billingconductor#AccountAssociationsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billingconductor#AccountAssociationsListElement"
      }
    },
    "com.amazonaws.billingconductor#AccountAssociationsListElement": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.billingconductor#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The associating array of account IDs.\n    </p>"
          }
        },
        "BillingGroupArn": {
          "target": "com.amazonaws.billingconductor#BillingGroupArn",
          "traits": {
            "smithy.api#documentation": "<p> The Billing Group Arn that the linked account is associated to. </p>"
          }
        },
        "AccountName": {
          "target": "com.amazonaws.billingconductor#AccountName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The Amazon Web Services account name.\n    </p>"
          }
        },
        "AccountEmail": {
          "target": "com.amazonaws.billingconductor#AccountEmail",
          "traits": {
            "smithy.api#documentation": "<p>\n      The Amazon Web Services account email. \n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A representation of a linked account. </p>"
      }
    },
    "com.amazonaws.billingconductor#AccountEmail": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.billingconductor#AccountGrouping": {
      "type": "structure",
      "members": {
        "LinkedAccountIds": {
          "target": "com.amazonaws.billingconductor#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>\n      The account IDs that make up the billing group. Account IDs must be a part of the consolidated billing family, and not associated with another billing group.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n     The set of accounts that will be under the billing group. The set of accounts resemble the linked accounts in a consolidated family.\n    </p>"
      }
    },
    "com.amazonaws.billingconductor#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.billingconductor#AccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billingconductor#AccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 30
        }
      }
    },
    "com.amazonaws.billingconductor#AccountName": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.billingconductor#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        },
        "smithy.api#pattern": "^arn:aws(-cn)?:billingconductor::[0-9]{12}:billinggroup/?[0-9]{12}$|^arn:aws(-cn)?:billingconductor::[0-9]{12}:pricingplan/[a-zA-Z0-9]{10}$|^arn:aws(-cn)?:billingconductor::[0-9]{12}:pricingrule/[a-zA-Z0-9]{10}$|^(arn:aws(-cn)?:billingconductor::[0-9]{12}:customlineitem/)?[a-zA-Z0-9]{10}$"
      }
    },
    "com.amazonaws.billingconductor#AssociateAccounts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billingconductor#AssociateAccountsInput"
      },
      "output": {
        "target": "com.amazonaws.billingconductor#AssociateAccountsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.billingconductor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billingconductor#ConflictException"
        },
        {
          "target": "com.amazonaws.billingconductor#InternalServerException"
        },
        {
          "target": "com.amazonaws.billingconductor#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.billingconductor#ServiceLimitExceededException"
        },
        {
          "target": "com.amazonaws.billingconductor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billingconductor#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Connects an array of account IDs in a consolidated billing family to a predefined\n      billing group. The account IDs must be a part of the consolidated billing family during the\n      current month, and not already associated with another billing group. The maximum number of\n      accounts that can be associated in one call is 30. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/associate-accounts",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.billingconductor#AssociateAccountsInput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.billingconductor#BillingGroupArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the billing group that associates the array of\n      account IDs. </p>",
            "smithy.api#required": {}
          }
        },
        "AccountIds": {
          "target": "com.amazonaws.billingconductor#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>\n      The associating array of account IDs.\n    </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.billingconductor#AssociateAccountsOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.billingconductor#BillingGroupArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the billing group that associates the array of\n      account IDs. </p>"
          }
        }
      }
    },
    "com.amazonaws.billingconductor#AssociatePricingRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billingconductor#AssociatePricingRulesInput"
      },
      "output": {
        "target": "com.amazonaws.billingconductor#AssociatePricingRulesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.billingconductor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billingconductor#ConflictException"
        },
        {
          "target": "com.amazonaws.billingconductor#InternalServerException"
        },
        {
          "target": "com.amazonaws.billingconductor#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.billingconductor#ServiceLimitExceededException"
        },
        {
          "target": "com.amazonaws.billingconductor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billingconductor#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Connects an array of <code>PricingRuleArns</code> to a defined <code>PricingPlan</code>.\n      The maximum number <code>PricingRuleArn</code> that can be associated in one call is 30. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/associate-pricing-rules",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.billingconductor#AssociatePricingRulesInput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.billingconductor#PricingPlanArn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The <code>PricingPlanArn</code> that the <code>PricingRuleArns</code> are associated with.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "PricingRuleArns": {
          "target": "com.amazonaws.billingconductor#PricingRuleArnsNonEmptyInput",
          "traits": {
            "smithy.api#documentation": "<p>\n      The <code>PricingRuleArns</code> that are associated with the Pricing Plan.\n    </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.billingconductor#AssociatePricingRulesOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.billingconductor#PricingPlanArn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The <code>PricingPlanArn</code> that the <code>PricingRuleArns</code> are associated with.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.billingconductor#AssociateResourceError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.billingconductor#String",
          "traits": {
            "smithy.api#documentation": "<p> The reason why the resource association failed. </p>"
          }
        },
        "Reason": {
          "target": "com.amazonaws.billingconductor#AssociateResourceErrorReason",
          "traits": {
            "smithy.api#documentation": "<p> A static error code that's used to classify the type of failure. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      A representation of a resource association error.\n    </p>"
      }
    },
    "com.amazonaws.billingconductor#AssociateResourceErrorReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INVALID_ARN",
            "name": "INVALID_ARN"
          },
          {
            "value": "SERVICE_LIMIT_EXCEEDED",
            "name": "SERVICE_LIMIT_EXCEEDED"
          },
          {
            "value": "ILLEGAL_CUSTOMLINEITEM",
            "name": "ILLEGAL_CUSTOMLINEITEM"
          },
          {
            "value": "INTERNAL_SERVER_EXCEPTION",
            "name": "INTERNAL_SERVER_EXCEPTION"
          },
          {
            "value": "INVALID_BILLING_PERIOD_RANGE",
            "name": "INVALID_BILLING_PERIOD_RANGE"
          }
        ]
      }
    },
    "com.amazonaws.billingconductor#AssociateResourceResponseElement": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.billingconductor#CustomLineItemAssociationElement",
          "traits": {
            "smithy.api#documentation": "<p>\n      The resource ARN that was associated to the custom line item.\n    </p>"
          }
        },
        "Error": {
          "target": "com.amazonaws.billingconductor#AssociateResourceError",
          "traits": {
            "smithy.api#documentation": "<p>\n      An <code>AssociateResourceError</code> that will populate if the resource association fails.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      A resource association result for a percentage custom line item.\n    </p>"
      }
    },
    "com.amazonaws.billingconductor#AssociateResourcesResponseList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billingconductor#AssociateResourceResponseElement"
      }
    },
    "com.amazonaws.billingconductor#Association": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^((arn:aws(-cn)?:billingconductor::[0-9]{12}:billinggroup/)?[0-9]{12}|MONITORED|UNMONITORED)$"
      }
    },
    "com.amazonaws.billingconductor#BatchAssociateResourcesToCustomLineItem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billingconductor#BatchAssociateResourcesToCustomLineItemInput"
      },
      "output": {
        "target": "com.amazonaws.billingconductor#BatchAssociateResourcesToCustomLineItemOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.billingconductor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billingconductor#ConflictException"
        },
        {
          "target": "com.amazonaws.billingconductor#InternalServerException"
        },
        {
          "target": "com.amazonaws.billingconductor#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.billingconductor#ServiceLimitExceededException"
        },
        {
          "target": "com.amazonaws.billingconductor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billingconductor#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Associates a batch of resources to a percentage custom line item.\n    </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/batch-associate-resources-to-custom-line-item",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.billingconductor#BatchAssociateResourcesToCustomLineItemInput": {
      "type": "structure",
      "members": {
        "TargetArn": {
          "target": "com.amazonaws.billingconductor#CustomLineItemArn",
          "traits": {
            "smithy.api#documentation": "<p>\n      A percentage custom line item ARN to associate the resources to.\n    </p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "Arn"
          }
        },
        "ResourceArns": {
          "target": "com.amazonaws.billingconductor#CustomLineItemBatchAssociationsList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list containing the ARNs of the resources to be associated.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "BillingPeriodRange": {
          "target": "com.amazonaws.billingconductor#CustomLineItemBillingPeriodRange"
        }
      }
    },
    "com.amazonaws.billingconductor#BatchAssociateResourcesToCustomLineItemOutput": {
      "type": "structure",
      "members": {
        "SuccessfullyAssociatedResources": {
          "target": "com.amazonaws.billingconductor#AssociateResourcesResponseList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of <code>AssociateResourceResponseElement</code> for each resource that's been associated to a percentage custom line item successfully.\n    </p>"
          }
        },
        "FailedAssociatedResources": {
          "target": "com.amazonaws.billingconductor#AssociateResourcesResponseList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of <code>AssociateResourceResponseElement</code> for each resource that failed association to a percentage custom line item.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.billingconductor#BatchDisassociateResourcesFromCustomLineItem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billingconductor#BatchDisassociateResourcesFromCustomLineItemInput"
      },
      "output": {
        "target": "com.amazonaws.billingconductor#BatchDisassociateResourcesFromCustomLineItemOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.billingconductor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billingconductor#ConflictException"
        },
        {
          "target": "com.amazonaws.billingconductor#InternalServerException"
        },
        {
          "target": "com.amazonaws.billingconductor#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.billingconductor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billingconductor#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Disassociates a batch of resources from a percentage custom line item.\n    </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/batch-disassociate-resources-from-custom-line-item",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.billingconductor#BatchDisassociateResourcesFromCustomLineItemInput": {
      "type": "structure",
      "members": {
        "TargetArn": {
          "target": "com.amazonaws.billingconductor#CustomLineItemArn",
          "traits": {
            "smithy.api#documentation": "<p>\n      A percentage custom line item ARN to disassociate the resources from.\n    </p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "Arn"
          }
        },
        "ResourceArns": {
          "target": "com.amazonaws.billingconductor#CustomLineItemBatchDisassociationsList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list containing the ARNs of resources to be disassociated.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "BillingPeriodRange": {
          "target": "com.amazonaws.billingconductor#CustomLineItemBillingPeriodRange"
        }
      }
    },
    "com.amazonaws.billingconductor#BatchDisassociateResourcesFromCustomLineItemOutput": {
      "type": "structure",
      "members": {
        "SuccessfullyDisassociatedResources": {
          "target": "com.amazonaws.billingconductor#DisassociateResourcesResponseList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of <code>DisassociateResourceResponseElement</code> for each resource that's been disassociated from a percentage custom line item successfully.\n    </p>"
          }
        },
        "FailedDisassociatedResources": {
          "target": "com.amazonaws.billingconductor#DisassociateResourcesResponseList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of <code>DisassociateResourceResponseElement</code> for each resource that failed disassociation from a percentage custom line item.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.billingconductor#BillingEntity": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9 ]+$"
      }
    },
    "com.amazonaws.billingconductor#BillingGroup": {
      "type": "resource",
      "identifiers": {
        "Arn": {
          "target": "com.amazonaws.billingconductor#BillingGroupArn"
        }
      },
      "create": {
        "target": "com.amazonaws.billingconductor#CreateBillingGroup"
      },
      "update": {
        "target": "com.amazonaws.billingconductor#UpdateBillingGroup"
      },
      "delete": {
        "target": "com.amazonaws.billingconductor#DeleteBillingGroup"
      },
      "list": {
        "target": "com.amazonaws.billingconductor#ListBillingGroups"
      },
      "operations": [
        {
          "target": "com.amazonaws.billingconductor#AssociateAccounts"
        },
        {
          "target": "com.amazonaws.billingconductor#DisassociateAccounts"
        }
      ],
      "traits": {
        "aws.cloudformation#cfnResource": {},
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#disableConditionKeyInference": {},
        "smithy.api#documentation": "A billing group is a set of linked account which belong to the same end customer.\nIt can be seen as a virtual consolidated billing family.\n"
      }
    },
    "com.amazonaws.billingconductor#BillingGroupArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(arn:aws(-cn)?:billingconductor::[0-9]{12}:billinggroup/)?[0-9]{12}$"
      }
    },
    "com.amazonaws.billingconductor#BillingGroupArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billingconductor#BillingGroupArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.billingconductor#BillingGroupCostReportElement": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.billingconductor#BillingGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a billing group. </p>"
          }
        },
        "AWSCost": {
          "target": "com.amazonaws.billingconductor#AWSCost",
          "traits": {
            "smithy.api#documentation": "<p>The actual Amazon Web Services charges for the billing group.\n    </p>"
          }
        },
        "ProformaCost": {
          "target": "com.amazonaws.billingconductor#ProformaCost",
          "traits": {
            "smithy.api#documentation": "<p>The hypothetical Amazon Web Services charges based on the associated pricing plan of a billing group.\n    </p>"
          }
        },
        "Margin": {
          "target": "com.amazonaws.billingconductor#Margin",
          "traits": {
            "smithy.api#documentation": "<p>\n      The billing group margin.\n    </p>"
          }
        },
        "MarginPercentage": {
          "target": "com.amazonaws.billingconductor#MarginPercentage",
          "traits": {
            "smithy.api#documentation": "<p>\n      The percentage of billing group margin.\n    </p>"
          }
        },
        "Currency": {
          "target": "com.amazonaws.billingconductor#Currency",
          "traits": {
            "smithy.api#documentation": "<p>The displayed currency.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary report of actual Amazon Web Services charges and calculated Amazon Web Services charges, based on the associated pricing plan of a billing group.\n    </p>"
      }
    },
    "com.amazonaws.billingconductor#BillingGroupCostReportList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billingconductor#BillingGroupCostReportElement"
      }
    },
    "com.amazonaws.billingconductor#BillingGroupDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.billingconductor#BillingGroupFullArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws(-cn)?:billingconductor::[0-9]{12}:billinggroup/[0-9]{12}$"
      }
    },
    "com.amazonaws.billingconductor#BillingGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billingconductor#BillingGroupListElement"
      }
    },
    "com.amazonaws.billingconductor#BillingGroupListElement": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.billingconductor#BillingGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the billing group. </p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.billingconductor#BillingGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) that can be used to uniquely identify the billing group.\n    </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.billingconductor#BillingGroupDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the billing group. </p>"
          }
        },
        "PrimaryAccountId": {
          "target": "com.amazonaws.billingconductor#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID that serves as the main account in a billing group. </p>"
          }
        },
        "ComputationPreference": {
          "target": "com.amazonaws.billingconductor#ComputationPreference"
        },
        "Size": {
          "target": "com.amazonaws.billingconductor#NumberOfAccounts",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of accounts in the particular billing group.\n    </p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.billingconductor#Instant",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>\n      The time when the billing group was created.\n    </p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.billingconductor#Instant",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p> The most recent time when the billing group was modified. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.billingconductor#BillingGroupStatus",
          "traits": {
            "smithy.api#documentation": "<p>The billing group status. Only one of the valid values can be used.\n    </p>"
          }
        },
        "StatusReason": {
          "target": "com.amazonaws.billingconductor#BillingGroupStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason why the billing group is in its current status.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A representation of a billing group.\n    </p>"
      }
    },
    "com.amazonaws.billingconductor#BillingGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_\\+=\\.\\-@]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.billingconductor#BillingGroupStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "PRIMARY_ACCOUNT_MISSING",
            "name": "PRIMARY_ACCOUNT_MISSING"
          }
        ]
      }
    },
    "com.amazonaws.billingconductor#BillingGroupStatusReason": {
      "type": "string"
    },
    "com.amazonaws.billingconductor#BillingPeriod": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{4}-(0?[1-9]|1[012])$"
      }
    },
    "com.amazonaws.billingconductor#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.billingconductor#ComputationPreference": {
      "type": "structure",
      "members": {
        "PricingPlanArn": {
          "target": "com.amazonaws.billingconductor#PricingPlanFullArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the pricing plan that's used to compute the Amazon Web Services charges for a billing group. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      The preferences and settings that will be used to compute the Amazon Web Services charges for a billing group.\n    </p>"
      }
    },
    "com.amazonaws.billingconductor#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.billingconductor#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.billingconductor#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the resource in use.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.billingconductor#String",
          "traits": {
            "smithy.api#documentation": "<p>Type of the resource in use.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "Reason": {
          "target": "com.amazonaws.billingconductor#ConflictExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>Reason for the inconsistent state.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can cause an inconsistent state by updating or deleting a resource.\n    </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.billingconductor#ConflictExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RESOURCE_NAME_CONFLICT",
            "name": "RESOURCE_NAME_CONFLICT"
          },
          {
            "value": "PRICING_RULE_IN_PRICING_PLAN_CONFLICT",
            "name": "PRICING_RULE_IN_PRICING_PLAN_CONFLICT"
          },
          {
            "value": "PRICING_PLAN_ATTACHED_TO_BILLING_GROUP_DELETE_CONFLICT",
            "name": "PRICING_PLAN_ATTACHED_TO_BILLING_GROUP_DELETE_CONFLICT"
          },
          {
            "value": "PRICING_RULE_ATTACHED_TO_PRICING_PLAN_DELETE_CONFLICT",
            "name": "PRICING_RULE_ATTACHED_TO_PRICING_PLAN_DELETE_CONFLICT"
          },
          {
            "value": "WRITE_CONFLICT_RETRY",
            "name": "WRITE_CONFLICT_RETRY"
          }
        ]
      }
    },
    "com.amazonaws.billingconductor#CreateBillingGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billingconductor#CreateBillingGroupInput"
      },
      "output": {
        "target": "com.amazonaws.billingconductor#CreateBillingGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.billingconductor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billingconductor#ConflictException"
        },
        {
          "target": "com.amazonaws.billingconductor#InternalServerException"
        },
        {
          "target": "com.amazonaws.billingconductor#ServiceLimitExceededException"
        },
        {
          "target": "com.amazonaws.billingconductor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billingconductor#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "smithy.api#documentation": "<p>\n      Creates a billing group that resembles a consolidated billing family that Amazon Web Services charges, based off of the predefined pricing plan computation.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/create-billing-group",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.billingconductor#CreateBillingGroupInput": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.billingconductor#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>\n      The token that is needed to support idempotency. Idempotency isn't currently supported, but will be implemented in a future update. \n    </p>",
            "smithy.api#httpHeader": "X-Amzn-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.billingconductor#BillingGroupName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The billing group name. The names must be unique.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "AccountGrouping": {
          "target": "com.amazonaws.billingconductor#AccountGrouping",
          "traits": {
            "smithy.api#documentation": "<p>\n      The set of accounts that will be under the billing group. The set of accounts resemble the linked accounts in a consolidated family.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "ComputationPreference": {
          "target": "com.amazonaws.billingconductor#ComputationPreference",
          "traits": {
            "smithy.api#documentation": "<p>\n      The preferences and settings that will be used to compute the Amazon Web Services charges for a billing group.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "PrimaryAccountId": {
          "target": "com.amazonaws.billingconductor#AccountId",
          "traits": {
            "smithy.api#documentation": "<p> The account ID that serves as the main account in a billing group. </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.billingconductor#BillingGroupDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the billing group. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.billingconductor#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> A map that contains tag keys and tag values that are attached to a billing group. This\n      feature isn't available during the beta. </p>"
          }
        }
      }
    },
    "com.amazonaws.billingconductor#CreateBillingGroupOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.billingconductor#BillingGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created billing group. </p>"
          }
        }
      }
    },
    "com.amazonaws.billingconductor#CreateCustomLineItem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billingconductor#CreateCustomLineItemInput"
      },
      "output": {
        "target": "com.amazonaws.billingconductor#CreateCustomLineItemOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.billingconductor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billingconductor#ConflictException"
        },
        {
          "target": "com.amazonaws.billingconductor#InternalServerException"
        },
        {
          "target": "com.amazonaws.billingconductor#ServiceLimitExceededException"
        },
        {
          "target": "com.amazonaws.billingconductor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billingconductor#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "smithy.api#documentation": "<p>\n      Creates a custom line item that can be used to create a one-time fixed charge that can be applied to a single billing group for the current or previous billing period. The one-time fixed charge is either a fee or discount. \n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/create-custom-line-item",
          "code": 200
        }
      }
    },
    "com.amazonaws.billingconductor#CreateCustomLineItemInput": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.billingconductor#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>\n      The token that is needed to support idempotency. Idempotency isn't currently supported, but will be implemented in a future update. \n    </p>",
            "smithy.api#httpHeader": "X-Amzn-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.billingconductor#CustomLineItemName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The name of the custom line item.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.billingconductor#CustomLineItemDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n      The description of the custom line item. This is shown on the Bills page in association with the charge value.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "BillingGroupArn": {
          "target": "com.amazonaws.billingconductor#BillingGroupArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) that references the billing group where the custom line\n      item applies to. </p>",
            "smithy.api#required": {}
          }
        },
        "BillingPeriodRange": {
          "target": "com.amazonaws.billingconductor#CustomLineItemBillingPeriodRange",
          "traits": {
            "smithy.api#documentation": "<p> A time range for which the custom line item is effective. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.billingconductor#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> A map that contains tag keys and tag values that are attached to a custom line item. </p>"
          }
        },
        "ChargeDetails": {
          "target": "com.amazonaws.billingconductor#CustomLineItemChargeDetails",
          "traits": {
            "smithy.api#documentation": "<p>\n      A <code>CustomLineItemChargeDetails</code> that describes the charge details for a custom line item.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.billingconductor#BillingGroup",
            "ids": {
              "Arn": "BillingGroupArn"
            }
          }
        ]
      }
    },
    "com.amazonaws.billingconductor#CreateCustomLineItemOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.billingconductor#CustomLineItemArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the created custom line item. </p>"
          }
        }
      }
    },
    "com.amazonaws.billingconductor#CreateFreeTierConfig": {
      "type": "structure",
      "members": {
        "Activated": {
          "target": "com.amazonaws.billingconductor#TieringActivated",
          "traits": {
            "smithy.api#documentation": "<p>\n      Activate or deactivate Amazon Web Services Free Tier.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      The possible Amazon Web Services Free Tier configurations.\n    </p>"
      }
    },
    "com.amazonaws.billingconductor#CreatePricingPlan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billingconductor#CreatePricingPlanInput"
      },
      "output": {
        "target": "com.amazonaws.billingconductor#CreatePricingPlanOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.billingconductor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billingconductor#ConflictException"
        },
        {
          "target": "com.amazonaws.billingconductor#InternalServerException"
        },
        {
          "target": "com.amazonaws.billingconductor#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.billingconductor#ServiceLimitExceededException"
        },
        {
          "target": "com.amazonaws.billingconductor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billingconductor#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "smithy.api#documentation": "<p>Creates a pricing plan that is used for computing Amazon Web Services charges for billing groups.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/create-pricing-plan",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.billingconductor#CreatePricingPlanInput": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.billingconductor#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>\n      The token that is needed to support idempotency. Idempotency isn't currently supported, but will be implemented in a future update. \n    </p>",
            "smithy.api#httpHeader": "X-Amzn-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.billingconductor#PricingPlanName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pricing plan. The names must be unique to each pricing plan. </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.billingconductor#PricingPlanDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the pricing plan. </p>"
          }
        },
        "PricingRuleArns": {
          "target": "com.amazonaws.billingconductor#PricingRuleArnsInput",
          "traits": {
            "smithy.api#documentation": "<p> A list of Amazon Resource Names (ARNs) that define the pricing plan parameters. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.billingconductor#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n      A map that contains tag keys and tag values that are attached to a pricing plan.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.billingconductor#CreatePricingPlanOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.billingconductor#PricingPlanArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created pricing plan.</p>"
          }
        }
      }
    },
    "com.amazonaws.billingconductor#CreatePricingRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billingconductor#CreatePricingRuleInput"
      },
      "output": {
        "target": "com.amazonaws.billingconductor#CreatePricingRuleOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.billingconductor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billingconductor#ConflictException"
        },
        {
          "target": "com.amazonaws.billingconductor#InternalServerException"
        },
        {
          "target": "com.amazonaws.billingconductor#ServiceLimitExceededException"
        },
        {
          "target": "com.amazonaws.billingconductor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billingconductor#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "smithy.api#documentation": "<p>\n      Creates a pricing rule can be associated to a pricing plan, or a set of pricing plans.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/create-pricing-rule",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.billingconductor#CreatePricingRuleInput": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.billingconductor#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p> The token that's needed to support idempotency. Idempotency isn't currently supported,\n      but will be implemented in a future update. </p>",
            "smithy.api#httpHeader": "X-Amzn-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.billingconductor#PricingRuleName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The pricing rule name. The names must be unique to each pricing rule.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.billingconductor#PricingRuleDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n      The pricing rule description.\n    </p>"
          }
        },
        "Scope": {
          "target": "com.amazonaws.billingconductor#PricingRuleScope",
          "traits": {
            "smithy.api#documentation": "<p> The scope of pricing rule that indicates if it's globally applicable, or it's\n      service-specific. </p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.billingconductor#PricingRuleType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The type of pricing rule.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "ModifierPercentage": {
          "target": "com.amazonaws.billingconductor#ModifierPercentage",
          "traits": {
            "smithy.api#documentation": "<p> A percentage modifier that's applied on the public pricing rates. </p>"
          }
        },
        "Service": {
          "target": "com.amazonaws.billingconductor#Service",
          "traits": {
            "smithy.api#documentation": "<p>\n      If the <code>Scope</code> attribute is set to <code>SERVICE</code> or <code>SKU</code>, the attribute indicates which service the <code>PricingRule</code> is applicable for.\n    </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.billingconductor#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n      A map that contains tag keys and tag values that are attached to a pricing rule.\n    </p>"
          }
        },
        "BillingEntity": {
          "target": "com.amazonaws.billingconductor#BillingEntity",
          "traits": {
            "smithy.api#documentation": "<p>\n      The seller of services provided by Amazon Web Services, their affiliates, or third-party providers selling services via Amazon Web Services Marketplace.\n    </p>"
          }
        },
        "Tiering": {
          "target": "com.amazonaws.billingconductor#CreateTieringInput",
          "traits": {
            "smithy.api#documentation": "<p>\n      The set of tiering configurations for the pricing rule.\n    </p>"
          }
        },
        "UsageType": {
          "target": "com.amazonaws.billingconductor#UsageType",
          "traits": {
            "smithy.api#documentation": "<p>\n      Usage type is the unit that each service uses to measure the usage of a specific type of resource.</p>\n         <p>If the <code>Scope</code> attribute is set to <code>SKU</code>, this attribute indicates which usage type the <code>PricingRule</code> is modifying. For example, <code>USW2-BoxUsage:m2.2xlarge</code> describes an<code> M2 High Memory Double Extra Large</code> instance in the US West (Oregon) Region. \n      \n    </p>"
          }
        },
        "Operation": {
          "target": "com.amazonaws.billingconductor#Operation",
          "traits": {
            "smithy.api#documentation": "<p>\n      Operation is the specific Amazon Web Services action covered by this line item. This describes the specific usage of the line item.</p>\n         <p>\n        If the <code>Scope</code> attribute is set to <code>SKU</code>, this attribute indicates which operation the <code>PricingRule</code> is modifying. For example, a value of <code>RunInstances:0202</code> indicates the operation of running an Amazon EC2 instance.</p>"
          }
        }
      }
    },
    "com.amazonaws.billingconductor#CreatePricingRuleOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.billingconductor#PricingRuleArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the created pricing rule. </p>"
          }
        }
      }
    },
    "com.amazonaws.billingconductor#CreateTieringInput": {
      "type": "structure",
      "members": {
        "FreeTier": {
          "target": "com.amazonaws.billingconductor#CreateFreeTierConfig",
          "traits": {
            "smithy.api#documentation": "<p>\n      The possible Amazon Web Services Free Tier configurations.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      The set of tiering configurations for the pricing rule.\n    </p>"
      }
    },
    "com.amazonaws.billingconductor#Currency": {
      "type": "string"
    },
    "com.amazonaws.billingconductor#CurrencyCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "USD",
            "name": "USD"
          },
          {
            "value": "CNY",
            "name": "CNY"
          }
        ]
      }
    },
    "com.amazonaws.billingconductor#CustomLineItem": {
      "type": "resource",
      "identifiers": {
        "Arn": {
          "target": "com.amazonaws.billingconductor#CustomLineItemArn"
        }
      },
      "create": {
        "target": "com.amazonaws.billingconductor#CreateCustomLineItem"
      },
      "update": {
        "target": "com.amazonaws.billingconductor#UpdateCustomLineItem"
      },
      "delete": {
        "target": "com.amazonaws.billingconductor#DeleteCustomLineItem"
      },
      "list": {
        "target": "com.amazonaws.billingconductor#ListCustomLineItems"
      },
      "operations": [
        {
          "target": "com.amazonaws.billingconductor#BatchAssociateResourcesToCustomLineItem"
        },
        {
          "target": "com.amazonaws.billingconductor#BatchDisassociateResourcesFromCustomLineItem"
        },
        {
          "target": "com.amazonaws.billingconductor#ListCustomLineItemVersions"
        },
        {
          "target": "com.amazonaws.billingconductor#ListResourcesAssociatedToCustomLineItem"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#disableConditionKeyInference": {},
        "smithy.api#documentation": "Represents the custom line item\n"
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(arn:aws(-cn)?:billingconductor::[0-9]{12}:customlineitem/)?[a-zA-Z0-9]{10}$"
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemArns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billingconductor#CustomLineItemArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemAssociationElement": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(arn:aws(-cn)?:billingconductor::[0-9]{12}:(customlineitem|billinggroup)/)?[a-zA-Z0-9]{10,12}$"
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemAssociationsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billingconductor#CustomLineItemAssociationElement"
      },
      "traits": {
        "smithy.api#length": {
          "max": 5
        }
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemBatchAssociationsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billingconductor#CustomLineItemAssociationElement"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 30
        }
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemBatchDisassociationsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billingconductor#CustomLineItemAssociationElement"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 30
        }
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemBillingPeriodRange": {
      "type": "structure",
      "members": {
        "InclusiveStartBillingPeriod": {
          "target": "com.amazonaws.billingconductor#BillingPeriod",
          "traits": {
            "smithy.api#documentation": "<p>\n      The inclusive start billing period that defines a billing period range where a custom line is applied.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "ExclusiveEndBillingPeriod": {
          "target": "com.amazonaws.billingconductor#BillingPeriod",
          "traits": {
            "smithy.api#documentation": "<p>\n      The inclusive end billing period that defines a billing period range where a custom line is applied.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      The billing period range in which the custom line item request will be applied.\n    </p>"
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemChargeDetails": {
      "type": "structure",
      "members": {
        "Flat": {
          "target": "com.amazonaws.billingconductor#CustomLineItemFlatChargeDetails",
          "traits": {
            "smithy.api#documentation": "<p>\n      A <code>CustomLineItemFlatChargeDetails</code> that describes the charge details of a flat custom line item.\n    </p>"
          }
        },
        "Percentage": {
          "target": "com.amazonaws.billingconductor#CustomLineItemPercentageChargeDetails",
          "traits": {
            "smithy.api#documentation": "<p>\n      A <code>CustomLineItemPercentageChargeDetails</code> that describes the charge details of a percentage custom line item.\n    </p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.billingconductor#CustomLineItemType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The type of the custom line item that indicates whether the charge is a fee or credit.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      The charge details of a custom line item. It should contain only one of <code>Flat</code> or <code>Percentage</code>.\n    </p>"
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemChargeValue": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1000000
        }
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemFlatChargeDetails": {
      "type": "structure",
      "members": {
        "ChargeValue": {
          "target": "com.amazonaws.billingconductor#CustomLineItemChargeValue",
          "traits": {
            "smithy.api#documentation": "<p>\n      The custom line item's fixed charge value in USD.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      A representation of the charge details that are associated with a flat custom line item.\n    </p>"
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billingconductor#CustomLineItemListElement"
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemListElement": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.billingconductor#CustomLineItemArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Names (ARNs) for custom line items. </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.billingconductor#CustomLineItemName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The custom line item's name.\n    </p>"
          }
        },
        "ChargeDetails": {
          "target": "com.amazonaws.billingconductor#ListCustomLineItemChargeDetails",
          "traits": {
            "smithy.api#documentation": "<p>\n      A <code>ListCustomLineItemChargeDetails</code> that describes the charge details of a custom line item.\n    </p>"
          }
        },
        "CurrencyCode": {
          "target": "com.amazonaws.billingconductor#CurrencyCode",
          "traits": {
            "smithy.api#documentation": "<p>\n      The custom line item's charge value currency. Only one of the valid values can be used.\n    </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.billingconductor#CustomLineItemDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n      The custom line item's description. This is shown on the Bills page in association with the charge value.\n    </p>"
          }
        },
        "ProductCode": {
          "target": "com.amazonaws.billingconductor#CustomLineItemProductCode",
          "traits": {
            "smithy.api#documentation": "<p>\n      The product code that's associated with the custom line item.\n    </p>"
          }
        },
        "BillingGroupArn": {
          "target": "com.amazonaws.billingconductor#BillingGroupArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) that references the billing group where the custom line\n      item applies to. </p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.billingconductor#Instant",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>\n      The time created.\n    </p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.billingconductor#Instant",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p> The most recent time when the custom line item was modified. </p>"
          }
        },
        "AssociationSize": {
          "target": "com.amazonaws.billingconductor#NumberOfAssociations",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>\n      The number of resources that are associated to the custom line item.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      A representation of a custom line item.\n    </p>"
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_\\+=\\.\\-@]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billingconductor#CustomLineItemName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemPercentageChargeDetails": {
      "type": "structure",
      "members": {
        "PercentageValue": {
          "target": "com.amazonaws.billingconductor#CustomLineItemPercentageChargeValue",
          "traits": {
            "smithy.api#documentation": "<p>\n      The custom line item's percentage value. This will be multiplied against the combined value of its associated resources to determine its charge value.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "AssociatedValues": {
          "target": "com.amazonaws.billingconductor#CustomLineItemAssociationsList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of resource ARNs to associate to the percentage custom line item.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      A representation of the charge details that are associated with a percentage custom line item.\n    </p>"
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemPercentageChargeValue": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 10000
        }
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemProductCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 29
        }
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemRelationship": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PARENT",
            "name": "PARENT"
          },
          {
            "value": "CHILD",
            "name": "CHILD"
          }
        ]
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREDIT",
            "name": "CREDIT"
          },
          {
            "value": "FEE",
            "name": "FEE"
          }
        ]
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemVersionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billingconductor#CustomLineItemVersionListElement"
      }
    },
    "com.amazonaws.billingconductor#CustomLineItemVersionListElement": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.billingconductor#CustomLineItemName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom line item.</p>"
          }
        },
        "ChargeDetails": {
          "target": "com.amazonaws.billingconductor#ListCustomLineItemChargeDetails"
        },
        "CurrencyCode": {
          "target": "com.amazonaws.billingconductor#CurrencyCode",
          "traits": {
            "smithy.api#documentation": "<p>The charge value currency of the custom line item.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.billingconductor#CustomLineItemDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the custom line item.</p>"
          }
        },
        "ProductCode": {
          "target": "com.amazonaws.billingconductor#CustomLineItemProductCode",
          "traits": {
            "smithy.api#documentation": "<p>The product code that’s associated with the custom line item.</p>"
          }
        },
        "BillingGroupArn": {
          "target": "com.amazonaws.billingconductor#BillingGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the billing group that the custom line item applies to.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.billingconductor#Instant",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The time when the custom line item version was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.billingconductor#Instant",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The most recent time that the custom line item version was modified.</p>"
          }
        },
        "AssociationSize": {
          "target": "com.amazonaws.billingconductor#NumberOfAssociations",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of resources that are associated with the custom line item.</p>"
          }
        },
        "StartBillingPeriod": {
          "target": "com.amazonaws.billingconductor#BillingPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The start billing period of the custom line item version.</p>"
          }
        },
        "EndBillingPeriod": {
          "target": "com.amazonaws.billingconductor#BillingPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The end billing period of the custom line item version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A representation of a custom line item version.</p>"
      }
    },
    "com.amazonaws.billingconductor#DeleteBillingGroup": {
      "type": "operation",
      "input": {
[...]
