{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.billing#AWSBilling": {
      "type": "service",
      "version": "2023-09-07",
      "operations": [
        {
          "target": "com.amazonaws.billing#ListBillingViews"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Billing",
          "endpointPrefix": "billing",
          "arnNamespace": "billing",
          "cloudTrailEventSource": "billing.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "billing"
        },
        "aws.endpoints#dualStackOnlyEndpoints": {},
        "aws.endpoints#standardPartitionalEndpoints": {
          "endpointPatternType": "service_region_dnsSuffix"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<p>\n        You can use the Billing API to programatically list the billing views available to you for a given time period. A billing view represents a set of billing data.\n      </p>\n         <p>The Billing API provides the following endpoint:</p>\n         <p>\n            <code>https://billing.us-east-1.api.aws</code>\n         </p>",
        "smithy.api#title": "AWS Billing",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://billing-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://billing.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with region not set and fips disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://billing-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://billing.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://billing-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://billing.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://billing-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://billing.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-iso-east-1"
                      }
                    ]
                  },
                  "url": "https://billing-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-iso-east-1"
                      }
                    ]
                  },
                  "url": "https://billing.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isob-east-1"
                      }
                    ]
                  },
                  "url": "https://billing-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isob-east-1"
                      }
                    ]
                  },
                  "url": "https://billing.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-isoe-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "eu-isoe-west-1"
                      }
                    ]
                  },
                  "url": "https://billing-fips.eu-isoe-west-1.cloud.adc-e.uk"
                }
              },
              "params": {
                "Region": "eu-isoe-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-isoe-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "eu-isoe-west-1"
                      }
                    ]
                  },
                  "url": "https://billing.eu-isoe-west-1.cloud.adc-e.uk"
                }
              },
              "params": {
                "Region": "eu-isoe-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isof-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isof-south-1"
                      }
                    ]
                  },
                  "url": "https://billing-fips.us-isof-south-1.csp.hci.ic.gov"
                }
              },
              "params": {
                "Region": "us-isof-south-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isof-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isof-south-1"
                      }
                    ]
                  },
                  "url": "https://billing.us-isof-south-1.csp.hci.ic.gov"
                }
              },
              "params": {
                "Region": "us-isof-south-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.billing#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.billing#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "BillingAccessDenied",
          "httpResponseCode": 403
        },
        "smithy.api#documentation": "<p>You don't have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.billing#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.billing#ActiveTimeRange": {
      "type": "structure",
      "members": {
        "activeAfterInclusive": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The inclusive time range start date.</p>",
            "smithy.api#required": {}
          }
        },
        "activeBeforeInclusive": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n      The inclusive time range end date.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A time range with a start and end time.</p>"
      }
    },
    "com.amazonaws.billing#BillingViewArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[a-z-]*:(billing)::[0-9]{12}:billingview/[a-zA-Z0-9_\\+=\\.\\-@]{1,43}$"
      }
    },
    "com.amazonaws.billing#BillingViewList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billing#BillingViewListElement"
      }
    },
    "com.amazonaws.billing#BillingViewListElement": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.billing#BillingViewArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view.\n      </p>"
          }
        },
        "name": {
          "target": "com.amazonaws.billing#BillingViewName",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of names of the Billing view.\n    </p>"
          }
        },
        "ownerAccountId": {
          "target": "com.amazonaws.billing#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The list of owners of the Billing view.\n    </p>"
          }
        },
        "billingViewType": {
          "target": "com.amazonaws.billing#BillingViewType",
          "traits": {
            "smithy.api#documentation": "<p>The type of billing view.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A representation of a billing view.</p>"
      }
    },
    "com.amazonaws.billing#BillingViewName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[ a-zA-Z0-9_\\+=\\.\\-@]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.billing#BillingViewType": {
      "type": "enum",
      "members": {
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY"
          }
        },
        "BILLING_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_GROUP"
          }
        }
      }
    },
    "com.amazonaws.billing#BillingViewsMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.billing#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 1024
        }
      }
    },
    "com.amazonaws.billing#FieldName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 100
        }
      }
    },
    "com.amazonaws.billing#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.billing#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "BillingInternalServer",
          "httpResponseCode": 500
        },
        "smithy.api#documentation": "<p>The request processing failed because of an unknown error, exception, or failure.\n      </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.billing#ListBillingViews": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billing#ListBillingViewsRequest"
      },
      "output": {
        "target": "com.amazonaws.billing#ListBillingViewsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.billing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billing#InternalServerException"
        },
        {
          "target": "com.amazonaws.billing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the billing views available for a given time period.\n      </p>\n         <p>Every Amazon Web Services account has a unique <code>PRIMARY</code> billing view that represents the billing data available by default. Accounts that use Billing Conductor also have <code>BILLING_GROUP</code> billing views representing pro forma costs associated with each created billing group.</p>",
        "smithy.api#examples": [
          {
            "title": "Invoke ListBillingViews",
            "input": {
              "activeTimeRange": {
                "activeAfterInclusive": 1719792000,
                "activeBeforeInclusive": 1.722470399999e9
              }
            },
            "output": {
              "billingViews": [
                {
                  "arn": "arn:aws:billing::123456789101:billingview/primary",
                  "billingViewType": "PRIMARY",
                  "name": "Primary Billing View Account 123456789101",
                  "ownerAccountId": "123456789101"
                }
              ]
            }
          },
          {
            "title": "Error example for ListBillingViews",
            "input": {
              "activeTimeRange": {
                "activeAfterInclusive": 1719792001,
                "activeBeforeInclusive": 1719792000
              }
            },
            "error": {
              "shapeId": "com.amazonaws.billing#ValidationException",
              "content": {
                "message": "Failed to get billing view data for an invalid time range.",
                "reason": "other"
              }
            },
            "allowConstraintErrors": true
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "billingViews"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListBillingViewsSuccess",
            "params": {
              "activeTimeRange": {
                "activeAfterInclusive": 1719792000,
                "activeBeforeInclusive": 1.722470399999e9
              }
            },
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.billing#ListBillingViewsRequest": {
      "type": "structure",
      "members": {
        "activeTimeRange": {
          "target": "com.amazonaws.billing#ActiveTimeRange",
          "traits": {
            "smithy.api#documentation": "<p>\n      The time range for the billing views listed. <code>PRIMARY</code> billing view is always listed. <code>BILLING_GROUP</code> billing views are listed for time ranges when the associated billing group resource in Billing Conductor is active. The time range must be within one calendar month.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.billing#BillingViewsMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of billing views to retrieve. Default is 100.\n      </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.billing#PageToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that is used on subsequent calls to list billing views.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.billing#ListBillingViewsResponse": {
      "type": "structure",
      "members": {
        "billingViews": {
          "target": "com.amazonaws.billing#BillingViewList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>BillingViewListElement</code> retrieved.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.billing#PageToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use on subsequent calls to list billing views.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.billing#PageToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2047
        }
      }
    },
    "com.amazonaws.billing#ThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.billing#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "BillingThrottling",
          "httpResponseCode": 429
        },
        "smithy.api#documentation": "<p>The request was denied due to request throttling.\n      </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.billing#ValidationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.billing#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.billing#ValidationExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>",
            "smithy.api#required": {}
          }
        },
        "fieldList": {
          "target": "com.amazonaws.billing#ValidationExceptionFieldList",
          "traits": {
            "smithy.api#documentation": "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.</p>"
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "BillingValidation",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The input fails to satisfy the constraints specified by an Amazon Web Services service.\n      </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.billing#ValidationExceptionField": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.billing#FieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "com.amazonaws.billing#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message describing why the field failed validation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The field's information of a request that resulted in an exception.\n      </p>"
      }
    },
    "com.amazonaws.billing#ValidationExceptionFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billing#ValidationExceptionField"
      }
    },
    "com.amazonaws.billing#ValidationExceptionReason": {
      "type": "enum",
      "members": {
        "UNKNOWN_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unknownOperation"
          }
        },
        "CANNOT_PARSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cannotParse"
          }
        },
        "FIELD_VALIDATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fieldValidationFailed"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      }
    }
  }
}
