{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.billing#AWSBilling": {
      "type": "service",
      "version": "2023-09-07",
      "operations": [
        {
          "target": "com.amazonaws.billing#AssociateSourceViews"
        },
        {
          "target": "com.amazonaws.billing#CreateBillingView"
        },
        {
          "target": "com.amazonaws.billing#DeleteBillingView"
        },
        {
          "target": "com.amazonaws.billing#DisassociateSourceViews"
        },
        {
          "target": "com.amazonaws.billing#GetBillingView"
        },
        {
          "target": "com.amazonaws.billing#GetResourcePolicy"
        },
        {
          "target": "com.amazonaws.billing#ListBillingViews"
        },
        {
          "target": "com.amazonaws.billing#ListSourceViewsForBillingView"
        },
        {
          "target": "com.amazonaws.billing#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.billing#TagResource"
        },
        {
          "target": "com.amazonaws.billing#UntagResource"
        },
        {
          "target": "com.amazonaws.billing#UpdateBillingView"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Billing",
          "endpointPrefix": "billing",
          "arnNamespace": "billing",
          "cloudTrailEventSource": "billing.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "billing"
        },
        "aws.endpoints#standardPartitionalEndpoints": {
          "endpointPatternType": "service_region_dnsSuffix",
          "partitionEndpointSpecialCases": {
            "aws": [
              {
                "endpoint": "https://billing.us-east-1.api.aws",
                "region": "us-east-1",
                "dualStack": true
              },
              {
                "endpoint": "https://billing.us-east-1.api.aws",
                "region": "us-east-1",
                "dualStack": false
              }
            ]
          }
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<p> You can use the Billing API to programatically list the billing views available to you for a given time period. A billing view represents a set of billing data. </p> <p>The Billing API provides the following endpoint:</p> <p> <code>https://billing.us-east-1.api.aws</code> </p>",
        "smithy.api#title": "AWS Billing",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://billing.us-east-1.api.aws",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-east-1"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://billing.us-east-1.api.aws",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-east-1"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://billing-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}",
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "name": "sigv4",
                                          "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://billing-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dnsSuffix}",
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "name": "sigv4",
                                          "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://billing.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}",
                                    "properties": {
                                      "authSchemes": [
                                        {
                                          "name": "sigv4",
                                          "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                        }
                                      ]
                                    },
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://billing.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dnsSuffix}",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with region not set and fips disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://billing-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://billing-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://billing.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://billing.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://billing-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://billing-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://billing.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://billing.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://billing-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://billing-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://billing.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://billing.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-iso-east-1"
                      }
                    ]
                  },
                  "url": "https://billing-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-iso-east-1"
                      }
                    ]
                  },
                  "url": "https://billing.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isob-east-1"
                      }
                    ]
                  },
                  "url": "https://billing-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isob-east-1"
                      }
                    ]
                  },
                  "url": "https://billing.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-isoe-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "eu-isoe-west-1"
                      }
                    ]
                  },
                  "url": "https://billing-fips.eu-isoe-west-1.cloud.adc-e.uk"
                }
              },
              "params": {
                "Region": "eu-isoe-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-isoe-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "eu-isoe-west-1"
                      }
                    ]
                  },
                  "url": "https://billing.eu-isoe-west-1.cloud.adc-e.uk"
                }
              },
              "params": {
                "Region": "eu-isoe-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isof-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isof-south-1"
                      }
                    ]
                  },
                  "url": "https://billing-fips.us-isof-south-1.csp.hci.ic.gov"
                }
              },
              "params": {
                "Region": "us-isof-south-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isof-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isof-south-1"
                      }
                    ]
                  },
                  "url": "https://billing.us-isof-south-1.csp.hci.ic.gov"
                }
              },
              "params": {
                "Region": "us-isof-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eusc-de-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "eusc-de-east-1"
                      }
                    ]
                  },
                  "url": "https://billing-fips.eusc-de-east-1.amazonaws.eu"
                }
              },
              "params": {
                "Region": "eusc-de-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eusc-de-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "eusc-de-east-1"
                      }
                    ]
                  },
                  "url": "https://billing.eusc-de-east-1.amazonaws.eu"
                }
              },
              "params": {
                "Region": "eusc-de-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.billing#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.billing#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "BillingAccessDenied",
          "httpResponseCode": 403
        },
        "smithy.api#documentation": "<p>You don't have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.billing#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.billing#ActiveTimeRange": {
      "type": "structure",
      "members": {
        "activeAfterInclusive": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The inclusive time range start date.</p>",
            "smithy.api#required": {}
          }
        },
        "activeBeforeInclusive": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The inclusive time range end date. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A time range with a start and end time.</p>"
      }
    },
    "com.amazonaws.billing#AssociateSourceViews": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billing#AssociateSourceViewsRequest"
      },
      "output": {
        "target": "com.amazonaws.billing#AssociateSourceViewsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.billing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billing#BillingViewHealthStatusException"
        },
        {
          "target": "com.amazonaws.billing#ConflictException"
        },
        {
          "target": "com.amazonaws.billing#InternalServerException"
        },
        {
          "target": "com.amazonaws.billing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.billing#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.billing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Associates one or more source billing views with an existing billing view. This allows creating aggregate billing views that combine data from multiple sources. </p>",
        "smithy.api#examples": [
          {
            "title": "Invoke AssociateSourceViews",
            "input": {
              "arn": "arn:aws:billing::123456789012:billingview/custom-46f47cb2-a11d-43f3-983d-470b5708a899",
              "sourceViews": [
                "arn:aws:billing::123456789012:billingview/primary",
                "arn:aws:billing::123456789012:billingview/custom-d3f9c7e4-8b2f-4a6e-9d3b-2f7c8a1e5f6d"
              ]
            },
            "output": {
              "arn": "arn:aws:billing::123456789012:billingview/custom-46f47cb2-a11d-43f3-983d-470b5708a899"
            }
          }
        ],
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.billing#AssociateSourceViewsRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.billing#BillingViewArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the billing view to associate source views with. </p>",
            "smithy.api#required": {}
          }
        },
        "sourceViews": {
          "target": "com.amazonaws.billing#BillingViewSourceViewsList",
          "traits": {
            "smithy.api#documentation": "<p> A list of ARNs of the source billing views to associate. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.billing#AssociateSourceViewsResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.billing#BillingViewArn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of the billing view that the source views were associated with. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.billing#BillingViewArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[a-z-]*:(billing)::[0-9]{12}:billingview/[a-zA-Z0-9/:_\\+=\\.\\-@]{0,75}[a-zA-Z0-9]$"
      }
    },
    "com.amazonaws.billing#BillingViewArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billing#BillingViewArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.billing#BillingViewDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^([ a-zA-Z0-9_\\+=\\.\\-@]+)?$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.billing#BillingViewElement": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.billing#BillingViewArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view. </p>"
          }
        },
        "name": {
          "target": "com.amazonaws.billing#BillingViewName",
          "traits": {
            "smithy.api#documentation": "<p> The account name of the billing view. </p>"
          }
        },
        "description": {
          "target": "com.amazonaws.billing#BillingViewDescription",
          "traits": {
            "smithy.api#documentation": "<p> The description of the billing view. </p>"
          }
        },
        "billingViewType": {
          "target": "com.amazonaws.billing#BillingViewType",
          "traits": {
            "smithy.api#documentation": "<p>The type of billing group. </p>"
          }
        },
        "ownerAccountId": {
          "target": "com.amazonaws.billing#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account owner of the billing view. </p>"
          }
        },
        "sourceAccountId": {
          "target": "com.amazonaws.billing#AccountId",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services account ID that owns the source billing view, if this is a derived billing view. </p>"
          }
        },
        "dataFilterExpression": {
          "target": "com.amazonaws.billing#Expression",
          "traits": {
            "smithy.api#documentation": "<p> See <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_billing_Expression.html\">Expression</a>. Billing view only supports <code>LINKED_ACCOUNT</code> and <code>Tags</code>. </p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the billing view was created. </p>"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the billing view was last updated. </p>"
          }
        },
        "derivedViewCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The number of billing views that use this billing view as a source. </p>"
          }
        },
        "sourceViewCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The number of source views associated with this billing view. </p>"
          }
        },
        "viewDefinitionLastUpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The timestamp of when the billing view definition was last updated. </p>"
          }
        },
        "healthStatus": {
          "target": "com.amazonaws.billing#BillingViewHealthStatus",
          "traits": {
            "smithy.api#documentation": "<p> The current health status of the billing view. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The metadata associated to the billing view. </p>"
      }
    },
    "com.amazonaws.billing#BillingViewHealthStatus": {
      "type": "structure",
      "members": {
        "statusCode": {
          "target": "com.amazonaws.billing#BillingViewStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current health status code of the billing view.</p>"
          }
        },
        "statusReasons": {
          "target": "com.amazonaws.billing#BillingViewStatusReasons",
          "traits": {
            "smithy.api#documentation": "<p>A list of reasons explaining the current health status, if applicable.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the health status of a billing view, including a status code and optional reasons for the status. </p>"
      }
    },
    "com.amazonaws.billing#BillingViewHealthStatusException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.billing#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Exception thrown when a billing view's health status prevents an operation from being performed. This may occur if the billing view is in a state other than <code>HEALTHY</code>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.billing#BillingViewList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billing#BillingViewListElement"
      }
    },
    "com.amazonaws.billing#BillingViewListElement": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.billing#BillingViewArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view. </p>"
          }
        },
        "name": {
          "target": "com.amazonaws.billing#BillingViewName",
          "traits": {
            "smithy.api#documentation": "<p> A list of names of the Billing view. </p>"
          }
        },
        "description": {
          "target": "com.amazonaws.billing#BillingViewDescription",
          "traits": {
            "smithy.api#documentation": "<p> The description of the billing view. </p>"
          }
        },
        "ownerAccountId": {
          "target": "com.amazonaws.billing#AccountId",
          "traits": {
            "smithy.api#documentation": "<p> The list of owners of the Billing view. </p>"
          }
        },
        "sourceAccountId": {
          "target": "com.amazonaws.billing#AccountId",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services account ID that owns the source billing view, if this is a derived billing view. </p>"
          }
        },
        "billingViewType": {
          "target": "com.amazonaws.billing#BillingViewType",
          "traits": {
            "smithy.api#documentation": "<p>The type of billing view.</p>"
          }
        },
        "healthStatus": {
          "target": "com.amazonaws.billing#BillingViewHealthStatus",
          "traits": {
            "smithy.api#documentation": "<p> The current health status of the billing view. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A representation of a billing view.</p>"
      }
    },
    "com.amazonaws.billing#BillingViewName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[ a-zA-Z0-9_\\+=\\.\\-@]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.billing#BillingViewSourceViewsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billing#BillingViewArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.billing#BillingViewStatus": {
      "type": "enum",
      "members": {
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.amazonaws.billing#BillingViewStatusReason": {
      "type": "enum",
      "members": {
        "SOURCE_VIEW_UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_VIEW_UNHEALTHY"
          }
        },
        "SOURCE_VIEW_UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_VIEW_UPDATING"
          }
        },
        "SOURCE_VIEW_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_VIEW_ACCESS_DENIED"
          }
        },
        "SOURCE_VIEW_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_VIEW_NOT_FOUND"
          }
        },
        "CYCLIC_DEPENDENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CYCLIC_DEPENDENCY"
          }
        },
        "SOURCE_VIEW_DEPTH_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_VIEW_DEPTH_EXCEEDED"
          }
        },
        "AGGREGATE_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATE_SOURCE"
          }
        },
        "VIEW_OWNER_NOT_MANAGEMENT_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEW_OWNER_NOT_MANAGEMENT_ACCOUNT"
          }
        }
      }
    },
    "com.amazonaws.billing#BillingViewStatusReasons": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billing#BillingViewStatusReason"
      }
    },
    "com.amazonaws.billing#BillingViewType": {
      "type": "enum",
      "members": {
        "PRIMARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY"
          }
        },
        "BILLING_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BILLING_GROUP"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.amazonaws.billing#BillingViewTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billing#BillingViewType"
      }
    },
    "com.amazonaws.billing#BillingViewsMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.billing#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.billing#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.billing#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.billing#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The identifier for the service resource associated with the request. </p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.billing#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p> The type of resource associated with the request. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "BillingConflict",
          "httpResponseCode": 409
        },
        "smithy.api#documentation": "<p> The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.billing#CreateBillingView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billing#CreateBillingViewRequest"
      },
      "output": {
        "target": "com.amazonaws.billing#CreateBillingViewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.billing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billing#BillingViewHealthStatusException"
        },
        {
          "target": "com.amazonaws.billing#ConflictException"
        },
        {
          "target": "com.amazonaws.billing#InternalServerException"
        },
        {
          "target": "com.amazonaws.billing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.billing#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.billing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a billing view with the specified billing view attributes. </p>",
        "smithy.api#examples": [
          {
            "title": "Invoke CreateBillingView",
            "input": {
              "name": "Example Custom Billing View",
              "sourceViews": ["arn:aws:billing::123456789101:billingview/primary"],
              "description": "Custom Billing View Example",
              "dataFilterExpression": {
                "dimensions": {
                  "key": "LINKED_ACCOUNT",
                  "values": ["000000000000"]
                }
              }
            },
            "output": {
              "arn": "arn:aws:billing::123456789101:billingview/custom-46f47cb2-a11d-43f3-983d-470b5708a899",
              "createdAt": 1719792001
            }
          }
        ],
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.billing#CreateBillingViewRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.billing#BillingViewName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the billing view. </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.billing#BillingViewDescription",
          "traits": {
            "smithy.api#documentation": "<p> The description of the billing view. </p>"
          }
        },
        "sourceViews": {
          "target": "com.amazonaws.billing#BillingViewSourceViewsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of billing views used as the data source for the custom billing view.</p>",
            "smithy.api#required": {}
          }
        },
        "dataFilterExpression": {
          "target": "com.amazonaws.billing#Expression",
          "traits": {
            "smithy.api#documentation": "<p> See <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_billing_Expression.html\">Expression</a>. Billing view only supports <code>LINKED_ACCOUNT</code> and <code>Tags</code>. </p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.billing#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier you specify to ensure idempotency of the request. Idempotency ensures that an API request completes no more than one time. If the original request completes successfully, any subsequent retries complete successfully without performing any further actions with an idempotent request. </p>",
            "smithy.api#httpHeader": "X-Amzn-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "resourceTags": {
          "target": "com.amazonaws.billing#ResourceTagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key value map specifying tags associated to the billing view being created. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.billing#CreateBillingViewResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.billing#BillingViewArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view. </p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The time when the billing view was created. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.billing#DeleteBillingView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billing#DeleteBillingViewRequest"
      },
      "output": {
        "target": "com.amazonaws.billing#DeleteBillingViewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.billing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billing#ConflictException"
        },
        {
          "target": "com.amazonaws.billing#InternalServerException"
        },
        {
          "target": "com.amazonaws.billing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified billing view.</p>",
        "smithy.api#examples": [
          {
            "title": "Invoke DeleteBillingView",
            "input": {
              "arn": "arn:aws:billing::123456789101:billingview/custom-46f47cb2-a11d-43f3-983d-470b5708a899"
            },
            "output": {
              "arn": "arn:aws:billing::123456789101:billingview/custom-46f47cb2-a11d-43f3-983d-470b5708a899"
            }
          }
        ],
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.billing#DeleteBillingViewRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.billing#BillingViewArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view. </p>",
            "smithy.api#required": {}
          }
        },
        "force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p> If set to true, forces deletion of the billing view even if it has derived resources (e.g. other billing views or budgets). Use with caution as this may break dependent resources. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.billing#DeleteBillingViewResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.billing#BillingViewArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.billing#Dimension": {
      "type": "enum",
      "members": {
        "LINKED_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LINKED_ACCOUNT"
          }
        }
      }
    },
    "com.amazonaws.billing#DimensionValues": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.billing#Dimension",
          "traits": {
            "smithy.api#documentation": "<p> The names of the metadata types that you can use to filter and group your results. </p>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.billing#Values",
          "traits": {
            "smithy.api#documentation": "<p> The metadata values that you can use to filter and group your results. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The metadata that you can use to filter and group your results. </p>"
      }
    },
    "com.amazonaws.billing#DisassociateSourceViews": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billing#DisassociateSourceViewsRequest"
      },
      "output": {
        "target": "com.amazonaws.billing#DisassociateSourceViewsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.billing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billing#BillingViewHealthStatusException"
        },
        {
          "target": "com.amazonaws.billing#ConflictException"
        },
        {
          "target": "com.amazonaws.billing#InternalServerException"
        },
        {
          "target": "com.amazonaws.billing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.billing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Removes the association between one or more source billing views and an existing billing view. This allows modifying the composition of aggregate billing views. </p>",
        "smithy.api#examples": [
          {
            "title": "Invoke DisassociateSourceViews",
            "input": {
              "arn": "arn:aws:billing::123456789012:billingview/custom-46f47cb2-a11d-43f3-983d-470b5708a899",
              "sourceViews": [
                "arn:aws:billing::123456789012:billingview/primary",
                "arn:aws:billing::123456789012:billingview/custom-d3f9c7e4-8b2f-4a6e-9d3b-2f7c8a1e5f6d"
              ]
            },
            "output": {
              "arn": "arn:aws:billing::123456789012:billingview/custom-46f47cb2-a11d-43f3-983d-470b5708a899"
            }
          }
        ],
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.billing#DisassociateSourceViewsRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.billing#BillingViewArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the billing view to disassociate source views from. </p>",
            "smithy.api#required": {}
          }
        },
        "sourceViews": {
          "target": "com.amazonaws.billing#BillingViewSourceViewsList",
          "traits": {
            "smithy.api#documentation": "<p> A list of ARNs of the source billing views to disassociate. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.billing#DisassociateSourceViewsResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.billing#BillingViewArn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of the billing view that the source views were disassociated from. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.billing#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 1024
        }
      }
    },
    "com.amazonaws.billing#Expression": {
      "type": "structure",
      "members": {
        "dimensions": {
          "target": "com.amazonaws.billing#DimensionValues",
          "traits": {
            "smithy.api#documentation": "<p> The specific <code>Dimension</code> to use for <code>Expression</code>. </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.billing#TagValues",
          "traits": {
            "smithy.api#documentation": "<p> The specific <code>Tag</code> to use for <code>Expression</code>. </p>"
          }
        },
        "timeRange": {
          "target": "com.amazonaws.billing#TimeRange",
          "traits": {
            "smithy.api#documentation": "<p> Specifies a time range filter for the billing view data. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> See <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_billing_Expression.html\">Expression</a>. Billing view only supports <code>LINKED_ACCOUNT</code> and <code>Tags</code>. </p>"
      }
    },
    "com.amazonaws.billing#FieldName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 100
        }
      }
    },
    "com.amazonaws.billing#GetBillingView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billing#GetBillingViewRequest"
      },
      "output": {
        "target": "com.amazonaws.billing#GetBillingViewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.billing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billing#InternalServerException"
        },
        {
          "target": "com.amazonaws.billing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.billing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the metadata associated to the specified billing view ARN. </p>",
        "smithy.api#examples": [
          {
            "title": "Invoke GetBillingView",
            "input": {
              "arn": "arn:aws:billing::123456789101:billingview/custom-46f47cb2-a11d-43f3-983d-470b5708a899"
            },
            "output": {
              "billingView": {
                "arn": "arn:aws:billing::123456789101:billingview/custom-46f47cb2-a11d-43f3-983d-470b5708a899",
                "name": "Example Custom Billing View",
                "description": "Custom Billing View Example -- updated description",
                "dataFilterExpression": {
                  "dimensions": {
                    "key": "LINKED_ACCOUNT",
                    "values": ["000000000000"]
                  }
                },
                "ownerAccountId": "123456789101",
                "billingViewType": "CUSTOM"
              }
            }
          }
        ],
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.billing#GetBillingViewRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.billing#BillingViewArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.billing#GetBillingViewResponse": {
      "type": "structure",
      "members": {
        "billingView": {
          "target": "com.amazonaws.billing#BillingViewElement",
          "traits": {
            "smithy.api#documentation": "<p>The billing view element associated with the specified ARN. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.billing#GetResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billing#GetResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.billing#GetResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.billing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billing#InternalServerException"
        },
        {
          "target": "com.amazonaws.billing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.billing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the resource-based policy document attached to the resource in <code>JSON</code> format. </p>",
        "smithy.api#examples": [
          {
            "title": "Invoke GetResourcePolicy",
            "input": {
              "resourceArn": "arn:aws:billing::123456789101:billingview/custom-46f47cb2-a11d-43f3-983d-470b5708a899"
            },
            "output": {
              "resourceArn": "arn:aws:billing::123456789101:billingview/custom-46f47cb2-a11d-43f3-983d-470b5708a899",
              "policy": "{\"Version\":\"2012-10-17\",\"Id\":\"46f47cb2-a11d-43f3-983d-470b5708a899\",\"Statement\":[{\"Sid\":\"ExampleStatement1\",\"Effect\":\"Allow\",\"Principal\":{\"AWS\":\"arn:aws:iam::000000000000:root\"},\"Action\":[\"ce:GetDimensionValues\",\"ce:GetCostAndUsageWithResources\",\"ce:GetCostAndUsage\",\"ce:GetCostForecast\",\"ce:GetTags\",\"ce:GetUsageForecast\",\"ce:GetCostCategories\",\"billing:GetBillingView\"],\"Resource\":\"arn:aws:billing::123456789101:billingview/custom-46f47cb2-a11d-43f3-983d-470b5708a899\"}]}"
            }
          }
        ],
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.billing#GetResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.billing#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the billing view resource to which the policy is attached to. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.billing#GetResourcePolicyResponse": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.billing#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the billing view resource to which the policy is attached to. </p>",
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "com.amazonaws.billing#PolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>The resource-based policy document attached to the resource in <code>JSON</code> format. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.billing#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.billing#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "BillingInternalServer",
          "httpResponseCode": 500
        },
        "smithy.api#documentation": "<p>The request processing failed because of an unknown error, exception, or failure. </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.billing#ListBillingViews": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billing#ListBillingViewsRequest"
      },
      "output": {
        "target": "com.amazonaws.billing#ListBillingViewsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.billing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billing#InternalServerException"
        },
        {
          "target": "com.amazonaws.billing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the billing views available for a given time period. </p> <p>Every Amazon Web Services account has a unique <code>PRIMARY</code> billing view that represents the billing data available by default. Accounts that use Billing Conductor also have <code>BILLING_GROUP</code> billing views representing pro forma costs associated with each created billing group.</p>",
        "smithy.api#examples": [
          {
            "title": "Invoke ListBillingViews",
            "input": {
              "activeTimeRange": {
                "activeAfterInclusive": 1719792000,
                "activeBeforeInclusive": 1.722470399999e9
              }
            },
            "output": {
              "billingViews": [
                {
                  "arn": "arn:aws:billing::123456789101:billingview/primary",
                  "billingViewType": "PRIMARY",
                  "name": "Primary Billing View Account 123456789101",
                  "ownerAccountId": "123456789101"
                }
              ]
            }
          },
          {
            "title": "Error example for ListBillingViews",
            "input": {
              "activeTimeRange": {
                "activeAfterInclusive": 1719792001,
                "activeBeforeInclusive": 1719792000
              }
            },
            "error": {
              "shapeId": "com.amazonaws.billing#ValidationException",
              "content": {
                "message": "Failed to get billing view data for an invalid time range.",
                "reason": "other"
              }
            },
            "allowConstraintErrors": true
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "billingViews"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListBillingViewsSuccess",
            "params": {
              "activeTimeRange": {
                "activeAfterInclusive": 1719792000,
                "activeBeforeInclusive": 1.722470399999e9
              }
            },
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.billing#ListBillingViewsRequest": {
      "type": "structure",
      "members": {
        "activeTimeRange": {
          "target": "com.amazonaws.billing#ActiveTimeRange",
          "traits": {
            "smithy.api#documentation": "<p> The time range for the billing views listed. <code>PRIMARY</code> billing view is always listed. <code>BILLING_GROUP</code> billing views are listed for time ranges when the associated billing group resource in Billing Conductor is active. The time range must be within one calendar month. </p>"
          }
        },
        "arns": {
          "target": "com.amazonaws.billing#BillingViewArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view. </p>"
          }
        },
        "billingViewTypes": {
          "target": "com.amazonaws.billing#BillingViewTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The type of billing view.</p>"
          }
        },
        "ownerAccountId": {
          "target": "com.amazonaws.billing#AccountId",
          "traits": {
            "smithy.api#documentation": "<p> The list of owners of the billing view. </p>"
          }
        },
        "sourceAccountId": {
          "target": "com.amazonaws.billing#AccountId",
          "traits": {
            "smithy.api#documentation": "<p> Filters the results to include only billing views that use the specified account as a source. </p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.billing#BillingViewsMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of billing views to retrieve. Default is 100. </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.billing#PageToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that is used on subsequent calls to list billing views.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.billing#ListBillingViewsResponse": {
      "type": "structure",
      "members": {
        "billingViews": {
          "target": "com.amazonaws.billing#BillingViewList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>BillingViewListElement</code> retrieved.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.billing#PageToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use on subsequent calls to list billing views. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.billing#ListSourceViewsForBillingView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billing#ListSourceViewsForBillingViewRequest"
      },
      "output": {
        "target": "com.amazonaws.billing#ListSourceViewsForBillingViewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.billing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billing#InternalServerException"
        },
        {
          "target": "com.amazonaws.billing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.billing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the source views (managed Amazon Web Services billing views) associated with the billing view. </p>",
        "smithy.api#examples": [
          {
            "title": "Invoke ListSourceViewsForBillingView",
            "input": {
              "arn": "arn:aws:billing::123456789101:billingview/custom-46f47cb2-a11d-43f3-983d-470b5708a899"
            },
            "output": {
              "sourceViews": ["arn:aws:billing::123456789101:billingview/primary"]
            }
          }
        ],
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "sourceViews"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.billing#ListSourceViewsForBillingViewRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.billing#BillingViewArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) that can be used to uniquely identify the billing view. </p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.billing#BillingViewsMaxResults",
          "traits": {
            "smithy.api#documentation": "<p> The number of entries a paginated response contains. </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.billing#PageToken",
          "traits": {
            "smithy.api#documentation": "<p> The pagination token that is used on subsequent calls to list billing views. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.billing#ListSourceViewsForBillingViewResponse": {
      "type": "structure",
      "members": {
        "sourceViews": {
          "target": "com.amazonaws.billing#BillingViewSourceViewsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of billing views used as the data source for the custom billing view. </p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.billing#PageToken",
          "traits": {
            "smithy.api#documentation": "<p> The pagination token that is used on subsequent calls to list billing views. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.billing#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billing#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.billing#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.billing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billing#InternalServerException"
        },
        {
          "target": "com.amazonaws.billing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.billing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists tags associated with the billing view resource. </p>",
        "smithy.api#examples": [
          {
            "title": "Invoke ListTagsForResource",
            "input": {
              "resourceArn": "arn:aws:billing::123456789101:billingview/custom-46f47cb2-a11d-43f3-983d-470b5708a899"
            },
            "output": {
              "resourceTags": [
                {
                  "key": "ExampleTagKey",
                  "value": "ExampleTagValue"
                }
              ]
            }
          }
        ],
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.billing#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.billing#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the resource. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.billing#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "resourceTags": {
          "target": "com.amazonaws.billing#ResourceTagList",
          "traits": {
            "smithy.api#documentation": "<p> A list of tag key value pairs that are associated with the resource. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.billing#PageToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2047
        }
      }
    },
    "com.amazonaws.billing#PolicyDocument": {
      "type": "string"
    },
    "com.amazonaws.billing#QuotaCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.billing#ResourceArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[a-z-]*:(billing)::[0-9]{12}:[a-zA-Z0-9/:_\\+=\\.\\@-]{0,70}[a-zA-Z0-9]$"
      }
    },
    "com.amazonaws.billing#ResourceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.billing#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.billing#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.billing#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> Value is a list of resource IDs that were not found. </p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.billing#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p> Value is the type of resource that was not found. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "BillingResourceNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p> The specified ARN in the request doesn't exist. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.billing#ResourceTag": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.billing#ResourceTagKey",
          "traits": {
            "smithy.api#documentation": "<p> The key that's associated with the tag. </p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.billing#ResourceTagValue",
          "traits": {
            "smithy.api#documentation": "<p> The value that's associated with the tag. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The tag structure that contains a tag key and value. </p>"
      }
    },
    "com.amazonaws.billing#ResourceTagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.billing#ResourceTagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billing#ResourceTagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.billing#ResourceTagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.billing#ResourceTag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.billing#ResourceTagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.billing#ResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.billing#ServiceCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.billing#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.billing#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.billing#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the resource. </p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.billing#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p> The type of Amazon Web Services resource. </p>",
            "smithy.api#required": {}
          }
        },
        "serviceCode": {
          "target": "com.amazonaws.billing#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p> The container for the <code>serviceCode</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "quotaCode": {
          "target": "com.amazonaws.billing#QuotaCode",
          "traits": {
            "smithy.api#documentation": "<p> The container for the <code>quotaCode</code>. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "BillingServiceQuotaExceeded",
          "httpResponseCode": 402
        },
        "smithy.api#documentation": "<p> You've reached the limit of resources you can create, or exceeded the size of an individual resource. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.billing#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^[\\S\\s]*$"
      }
    },
    "com.amazonaws.billing#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billing#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.billing#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.billing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billing#InternalServerException"
        },
        {
          "target": "com.amazonaws.billing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.billing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> An API operation for adding one or more tags (key-value pairs) to a resource. </p>",
        "smithy.api#examples": [
          {
            "title": "Invoke TagResource",
            "input": {
              "resourceArn": "arn:aws:billing::123456789101:billingview/custom-46f47cb2-a11d-43f3-983d-470b5708a899",
              "resourceTags": [
                {
                  "key": "ExampleTagKey",
                  "value": "ExampleTagValue"
                }
              ]
            },
            "output": {}
          }
        ]
      }
    },
    "com.amazonaws.billing#TagResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.billing#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the resource. </p>",
            "smithy.api#required": {}
          }
        },
        "resourceTags": {
          "target": "com.amazonaws.billing#ResourceTagList",
          "traits": {
            "smithy.api#documentation": "<p> A list of tag key value pairs that are associated with the resource. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.billing#TagResourceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.billing#TagValues": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.billing#TagKey",
          "traits": {
            "smithy.api#documentation": "<p> The key for the tag. </p>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.billing#Values",
          "traits": {
            "smithy.api#documentation": "<p> The specific value of the tag. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The values that are available for a tag. </p>"
      }
    },
    "com.amazonaws.billing#ThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.billing#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "BillingThrottling",
          "httpResponseCode": 429
        },
        "smithy.api#documentation": "<p>The request was denied due to request throttling. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.billing#TimeRange": {
      "type": "structure",
      "members": {
        "beginDateInclusive": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The inclusive start date of the time range. </p>"
          }
        },
        "endDateInclusive": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The inclusive end date of the time range. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Specifies a time range with inclusive begin and end dates. </p>"
      }
    },
    "com.amazonaws.billing#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billing#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.billing#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.billing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billing#InternalServerException"
        },
        {
          "target": "com.amazonaws.billing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.billing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.billing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Removes one or more tags from a resource. Specify only tag keys in your request. Don't specify the value. </p>",
        "smithy.api#examples": [
          {
            "title": "Invoke UntagResource",
            "input": {
              "resourceArn": "arn:aws:billing::123456789101:billingview/custom-46f47cb2-a11d-43f3-983d-470b5708a899",
              "resourceTagKeys": ["ExampleTagKey"]
            },
            "output": {}
          }
        ]
      }
    },
    "com.amazonaws.billing#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.billing#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the resource. </p>",
            "smithy.api#required": {}
          }
        },
        "resourceTagKeys": {
          "target": "com.amazonaws.billing#ResourceTagKeyList",
          "traits": {
            "smithy.api#documentation": "<p> A list of tag key value pairs that are associated with the resource. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.billing#UntagResourceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.billing#UpdateBillingView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.billing#UpdateBillingViewRequest"
      },
      "output": {
        "target": "com.amazonaws.billing#UpdateBillingViewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.billing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.billing#BillingViewHealthStatusException"
        },
        {
          "target": "com.amazonaws.billing#ConflictException"
        },
        {
          "target": "com.amazonaws.billing#InternalServerException"
        },
        {
[...]
