{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.budgets#AWSBudgetServiceGateway": {
      "type": "service",
      "version": "2016-10-20",
      "operations": [
        {
          "target": "com.amazonaws.budgets#CreateBudget"
        },
        {
          "target": "com.amazonaws.budgets#CreateBudgetAction"
        },
        {
          "target": "com.amazonaws.budgets#CreateNotification"
        },
        {
          "target": "com.amazonaws.budgets#CreateSubscriber"
        },
        {
          "target": "com.amazonaws.budgets#DeleteBudget"
        },
        {
          "target": "com.amazonaws.budgets#DeleteBudgetAction"
        },
        {
          "target": "com.amazonaws.budgets#DeleteNotification"
        },
        {
          "target": "com.amazonaws.budgets#DeleteSubscriber"
        },
        {
          "target": "com.amazonaws.budgets#DescribeBudget"
        },
        {
          "target": "com.amazonaws.budgets#DescribeBudgetAction"
        },
        {
          "target": "com.amazonaws.budgets#DescribeBudgetActionHistories"
        },
        {
          "target": "com.amazonaws.budgets#DescribeBudgetActionsForAccount"
        },
        {
          "target": "com.amazonaws.budgets#DescribeBudgetActionsForBudget"
        },
        {
          "target": "com.amazonaws.budgets#DescribeBudgetNotificationsForAccount"
        },
        {
          "target": "com.amazonaws.budgets#DescribeBudgetPerformanceHistory"
        },
        {
          "target": "com.amazonaws.budgets#DescribeBudgets"
        },
        {
          "target": "com.amazonaws.budgets#DescribeNotificationsForBudget"
        },
        {
          "target": "com.amazonaws.budgets#DescribeSubscribersForNotification"
        },
        {
          "target": "com.amazonaws.budgets#ExecuteBudgetAction"
        },
        {
          "target": "com.amazonaws.budgets#UpdateBudget"
        },
        {
          "target": "com.amazonaws.budgets#UpdateBudgetAction"
        },
        {
          "target": "com.amazonaws.budgets#UpdateNotification"
        },
        {
          "target": "com.amazonaws.budgets#UpdateSubscriber"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Budgets",
          "arnNamespace": "budgets",
          "cloudFormationName": "Budgets",
          "cloudTrailEventSource": "budgets.amazonaws.com",
          "endpointPrefix": "budgets"
        },
        "aws.auth#sigv4": {
          "name": "budgets"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Use the Amazon Web Services Budgets API to plan your service usage, service costs, and instance reservations. This API reference provides descriptions, syntax, and usage examples for each of the actions and data types for the Amazon Web Services Budgets feature. </p>\n\t\t       <p>Budgets provide you with a way to see the following information:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>How close your plan is to your budgeted amount or to the free tier limits</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Your usage-to-date, including how much you've used of your Reserved Instances (RIs)</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Your current estimated charges from Amazon Web Services, and how much your predicted usage will accrue in charges by the end of the month</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>How much of your budget has been used</p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>Amazon Web Services updates your budget status several times a day. Budgets track your unblended costs, subscriptions, refunds, and RIs. You can create the following types of budgets:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <b>Cost budgets</b> - Plan how much you want to spend on a service.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Usage budgets</b> - Plan how much you want to use one or more services.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>RI utilization budgets</b> - Define a utilization threshold, and receive alerts when your RI usage falls below that threshold. This lets you see if your RIs are unused or under-utilized.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>RI coverage budgets</b> - Define a coverage threshold, and receive alerts when the number of your instance hours that are covered by RIs fall below that threshold. This lets you see how much of your instance usage is covered by a reservation.</p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>Service Endpoint</p>\n\t        <p>The Amazon Web Services Budgets API provides the following endpoint:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>https://budgets.amazonaws.com</p>\n\t\t\t         </li>\n         </ul>\n\t        <p>For information about costs that are associated with the Amazon Web Services Budgets API, see <a href=\"https://aws.amazon.com/aws-cost-management/pricing/\">Amazon Web Services Cost Management Pricing</a>.</p>",
        "smithy.api#title": "AWS Budgets",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://budgets-fips.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "budgets",
                                      "signingRegion": "us-east-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://budgets-fips.{Region}.amazonaws.com",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "budgets",
                                      "signingRegion": "us-east-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://budgets.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "budgets",
                                      "signingRegion": "us-east-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://budgets.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingName": "budgets",
                              "signingRegion": "us-east-1"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws-cn"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://budgets-fips.{Region}.api.amazonwebservices.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "budgets",
                                      "signingRegion": "cn-northwest-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://budgets-fips.{Region}.amazonaws.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "budgets",
                                      "signingRegion": "cn-northwest-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://budgets.{Region}.api.amazonwebservices.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "budgets",
                                      "signingRegion": "cn-northwest-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://budgets.amazonaws.com.cn",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingName": "budgets",
                              "signingRegion": "cn-northwest-1"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://budgets-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://budgets-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://budgets.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://budgets.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingName": "budgets",
                              "signingRegion": "us-east-1"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-cn-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://budgets.amazonaws.com.cn",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingName": "budgets",
                              "signingRegion": "cn-northwest-1"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://budgets.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region aws-cn-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingName": "budgets",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://budgets.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "aws-cn-global",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region aws-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingName": "budgets",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://budgets.amazonaws.com"
                }
              },
              "params": {
                "Region": "aws-global",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.budgets#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.budgets#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You are not authorized to use this operation with the given parameters.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.budgets#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The account ID of the user. It's a 12-digit number.</p>",
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.budgets#Action": {
      "type": "structure",
      "members": {
        "ActionId": {
          "target": "com.amazonaws.budgets#ActionId",
          "traits": {
            "smithy.api#documentation": "<p>A system-generated universally unique identifier (UUID) for the action. </p>",
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "NotificationType": {
          "target": "com.amazonaws.budgets#NotificationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ActionType": {
          "target": "com.amazonaws.budgets#ActionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of action. This defines the type of tasks that can be carried out by this action.\n\t\t\tThis field also determines the format for definition. </p>",
            "smithy.api#required": {}
          }
        },
        "ActionThreshold": {
          "target": "com.amazonaws.budgets#ActionThreshold",
          "traits": {
            "smithy.api#documentation": "<p>The trigger threshold of the action. </p>",
            "smithy.api#required": {}
          }
        },
        "Definition": {
          "target": "com.amazonaws.budgets#Definition",
          "traits": {
            "smithy.api#documentation": "<p>Where you specify all of the type-specific parameters. </p>",
            "smithy.api#required": {}
          }
        },
        "ExecutionRoleArn": {
          "target": "com.amazonaws.budgets#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The role passed for action execution and reversion. Roles and actions must be in the same\n\t\t\taccount. </p>",
            "smithy.api#required": {}
          }
        },
        "ApprovalModel": {
          "target": "com.amazonaws.budgets#ApprovalModel",
          "traits": {
            "smithy.api#documentation": "<p>This specifies if the action needs manual or automatic approval. </p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.budgets#ActionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the action. </p>",
            "smithy.api#required": {}
          }
        },
        "Subscribers": {
          "target": "com.amazonaws.budgets#Subscribers",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A budget action resource. </p>"
      }
    },
    "com.amazonaws.budgets#ActionHistories": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.budgets#ActionHistory"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.budgets#ActionHistory": {
      "type": "structure",
      "members": {
        "Timestamp": {
          "target": "com.amazonaws.budgets#GenericTimestamp",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.budgets#ActionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of action at the time of the event. </p>",
            "smithy.api#required": {}
          }
        },
        "EventType": {
          "target": "com.amazonaws.budgets#EventType",
          "traits": {
            "smithy.api#documentation": "<p>This distinguishes between whether the events are triggered by the user or are generated by\n\t\t\tthe system. </p>",
            "smithy.api#required": {}
          }
        },
        "ActionHistoryDetails": {
          "target": "com.amazonaws.budgets#ActionHistoryDetails",
          "traits": {
            "smithy.api#documentation": "<p>The description of the details for the event. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The historical records for a budget action. </p>"
      }
    },
    "com.amazonaws.budgets#ActionHistoryDetails": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.budgets#GenericString",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Action": {
          "target": "com.amazonaws.budgets#Action",
          "traits": {
            "smithy.api#documentation": "<p>The budget action resource. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The description of the details for the event. </p>"
      }
    },
    "com.amazonaws.budgets#ActionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
      }
    },
    "com.amazonaws.budgets#ActionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STANDBY",
            "name": "Standby"
          },
          {
            "value": "PENDING",
            "name": "Pending"
          },
          {
            "value": "EXECUTION_IN_PROGRESS",
            "name": "Execution_In_Progress"
          },
          {
            "value": "EXECUTION_SUCCESS",
            "name": "Execution_Success"
          },
          {
            "value": "EXECUTION_FAILURE",
            "name": "Execution_Failure"
          },
          {
            "value": "REVERSE_IN_PROGRESS",
            "name": "Reverse_In_Progress"
          },
          {
            "value": "REVERSE_SUCCESS",
            "name": "Reverse_Success"
          },
          {
            "value": "REVERSE_FAILURE",
            "name": "Reverse_Failure"
          },
          {
            "value": "RESET_IN_PROGRESS",
            "name": "Reset_In_Progress"
          },
          {
            "value": "RESET_FAILURE",
            "name": "Reset_Failure"
          }
        ]
      }
    },
    "com.amazonaws.budgets#ActionSubType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STOP_EC2_INSTANCES",
            "name": "STOP_EC2"
          },
          {
            "value": "STOP_RDS_INSTANCES",
            "name": "STOP_RDS"
          }
        ]
      }
    },
    "com.amazonaws.budgets#ActionThreshold": {
      "type": "structure",
      "members": {
        "ActionThresholdValue": {
          "target": "com.amazonaws.budgets#NotificationThreshold",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#required": {}
          }
        },
        "ActionThresholdType": {
          "target": "com.amazonaws.budgets#ThresholdType",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The trigger threshold of the action. </p>"
      }
    },
    "com.amazonaws.budgets#ActionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "APPLY_IAM_POLICY",
            "name": "IAM"
          },
          {
            "value": "APPLY_SCP_POLICY",
            "name": "SCP"
          },
          {
            "value": "RUN_SSM_DOCUMENTS",
            "name": "SSM"
          }
        ]
      }
    },
    "com.amazonaws.budgets#Actions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.budgets#Action"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.budgets#AdjustmentPeriod": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 60
        }
      }
    },
    "com.amazonaws.budgets#ApprovalModel": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AUTOMATIC",
            "name": "AUTO"
          },
          {
            "value": "MANUAL",
            "name": "MANUAL"
          }
        ]
      }
    },
    "com.amazonaws.budgets#AutoAdjustData": {
      "type": "structure",
      "members": {
        "AutoAdjustType": {
          "target": "com.amazonaws.budgets#AutoAdjustType",
          "traits": {
            "smithy.api#documentation": "<p>The string that defines whether your budget auto-adjusts based on historical or forecasted data.</p>",
            "smithy.api#required": {}
          }
        },
        "HistoricalOptions": {
          "target": "com.amazonaws.budgets#HistoricalOptions",
          "traits": {
            "smithy.api#documentation": "<p>The parameters that define or describe the historical data that your auto-adjusting budget is based on.</p>"
          }
        },
        "LastAutoAdjustTime": {
          "target": "com.amazonaws.budgets#GenericTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time that your budget was auto-adjusted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters that determine the budget amount for an auto-adjusting budget.</p>"
      }
    },
    "com.amazonaws.budgets#AutoAdjustType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "HISTORICAL",
            "name": "HISTORICAL"
          },
          {
            "value": "FORECAST",
            "name": "FORECAST"
          }
        ]
      }
    },
    "com.amazonaws.budgets#Budget": {
      "type": "structure",
      "members": {
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a budget. The name must be unique within an account. The <code>:</code> and <code>\\</code> characters aren't allowed in <code>BudgetName</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "BudgetLimit": {
          "target": "com.amazonaws.budgets#Spend",
          "traits": {
            "smithy.api#documentation": "<p>The total amount of cost, usage, RI utilization, RI coverage, Savings Plans utilization, or\n\t\t\tSavings Plans coverage that you want to track with your budget.</p>\n\t\t       <p>\n            <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI or\n\t\t\tSavings Plans utilization or coverage budgets. RI and Savings Plans utilization or\n\t\t\tcoverage budgets default to <code>100</code>. This is the only valid value for RI or\n\t\t\tSavings Plans utilization or coverage budgets. You can't use <code>BudgetLimit</code>\n\t\t\twith <code>PlannedBudgetLimits</code> for <code>CreateBudget</code> and\n\t\t\t\t<code>UpdateBudget</code> actions. </p>"
          }
        },
        "PlannedBudgetLimits": {
          "target": "com.amazonaws.budgets#PlannedBudgetLimits",
          "traits": {
            "smithy.api#documentation": "<p>A map containing multiple <code>BudgetLimit</code>, including current or future limits.</p>\n\t\t       <p>\n            <code>PlannedBudgetLimits</code> is available for cost or usage budget and supports both\n\t\t\tmonthly and quarterly <code>TimeUnit</code>. </p>\n\t\t       <p>For monthly budgets, provide 12 months of <code>PlannedBudgetLimits</code> values. This must start from the current month and include the next 11 months. The <code>key</code> is the start of the month, <code>UTC</code> in epoch seconds. </p>\n\t\t       <p>For quarterly budgets, provide four quarters of <code>PlannedBudgetLimits</code> value\n\t\t\tentries in standard calendar quarter increments. This must start from the current\n\t\t\tquarter and include the next three quarters. The <code>key</code> is the start of the\n\t\t\tquarter, <code>UTC</code> in epoch seconds. </p>\n\t\t       <p>If the planned budget expires before 12 months for monthly or four quarters for quarterly,\n\t\t\tprovide the <code>PlannedBudgetLimits</code> values only for the remaining\n\t\t\tperiods.</p>\n\t\t       <p>If the budget begins at a date in the future, provide <code>PlannedBudgetLimits</code> values from the start date of the budget. </p>\n\t\t       <p>After all of the <code>BudgetLimit</code> values in <code>PlannedBudgetLimits</code> are used, the budget continues to use the last limit as the <code>BudgetLimit</code>. At that point, the planned budget provides the same experience as a fixed budget. </p>\n\t\t       <p>\n            <code>DescribeBudget</code> and <code>DescribeBudgets</code> response along with\n\t\t\t\t<code>PlannedBudgetLimits</code> also contain <code>BudgetLimit</code> representing\n\t\t\tthe current month or quarter limit present in <code>PlannedBudgetLimits</code>. This\n\t\t\tonly applies to budgets that are created with <code>PlannedBudgetLimits</code>. Budgets\n\t\t\tthat are created without <code>PlannedBudgetLimits</code> only contain\n\t\t\t\t<code>BudgetLimit</code>. They don't contain\n\t\t\t<code>PlannedBudgetLimits</code>.</p>"
          }
        },
        "CostFilters": {
          "target": "com.amazonaws.budgets#CostFilters",
          "traits": {
            "smithy.api#documentation": "<p>The cost filters, such as <code>Region</code>, <code>Service</code>, <code>member account</code>, <code>Tag</code>, or <code>Cost Category</code>, that are applied to a budget.</p>\n\t\t       <p>Amazon Web Services Budgets supports the following services as a <code>Service</code> filter for RI budgets:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>Amazon EC2</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Amazon Redshift</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Amazon Relational Database Service</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Amazon ElastiCache</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Amazon OpenSearch Service</p>\n\t\t\t         </li>\n         </ul>"
          }
        },
        "CostTypes": {
          "target": "com.amazonaws.budgets#CostTypes",
          "traits": {
            "smithy.api#documentation": "<p>The types of costs that are included in this <code>COST</code> budget.</p>\n\t\t       <p>\n            <code>USAGE</code>, <code>RI_UTILIZATION</code>, <code>RI_COVERAGE</code>, <code>SAVINGS_PLANS_UTILIZATION</code>, and <code>SAVINGS_PLANS_COVERAGE</code> budgets do not have <code>CostTypes</code>.</p>"
          }
        },
        "TimeUnit": {
          "target": "com.amazonaws.budgets#TimeUnit",
          "traits": {
            "smithy.api#documentation": "<p>The length of time until a budget resets the actual and forecasted spend.</p>",
            "smithy.api#required": {}
          }
        },
        "TimePeriod": {
          "target": "com.amazonaws.budgets#TimePeriod",
          "traits": {
            "smithy.api#documentation": "<p>The period of time that's covered by a budget. You setthe start date and end date. The start\n\t\t\tdate must come before the end date. The end date must come before <code>06/15/87 00:00\n\t\t\t\tUTC</code>. </p>\n\t\t       <p>If you create your budget and don't specify a start date, Amazon Web Services defaults to the\n\t\t\tstart of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example,\n\t\t\tif you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set\n\t\t\ta start date, Amazon Web Services set your start date to <code>01/24/18 00:00 UTC</code>.\n\t\t\tIf you chose <code>MONTHLY</code>, Amazon Web Services set your start date to\n\t\t\t\t<code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, Amazon Web Services set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for\n\t\t\tthe Billing and Cost Management console and the API. </p>\n\t\t       <p>You can change either date with the <code>UpdateBudget</code> operation.</p>\n\t\t       <p>After the end date, Amazon Web Services deletes the budget and all the associated\n\t\t\tnotifications and subscribers.</p>"
          }
        },
        "CalculatedSpend": {
          "target": "com.amazonaws.budgets#CalculatedSpend",
          "traits": {
            "smithy.api#documentation": "<p>The actual and forecasted cost or usage that the budget tracks.</p>"
          }
        },
        "BudgetType": {
          "target": "com.amazonaws.budgets#BudgetType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this budget tracks costs, usage, RI utilization, RI coverage, Savings\n\t\t\tPlans utilization, or Savings Plans coverage.</p>",
            "smithy.api#required": {}
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.budgets#GenericTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time that you updated this budget.</p>"
          }
        },
        "AutoAdjustData": {
          "target": "com.amazonaws.budgets#AutoAdjustData",
          "traits": {
            "smithy.api#documentation": "<p>The parameters that determine the budget amount for an auto-adjusting budget.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of the <code>CreateBudget</code> operation. The content consists of the detailed metadata and data file information, and the current status of the <code>budget</code> object.</p>\n\t\t       <p>This is the Amazon Resource Name (ARN) pattern for a budget: </p>\n\t\t       <p>\n            <code>arn:aws:budgets::AccountId:budget/budgetName</code>\n         </p>"
      }
    },
    "com.amazonaws.budgets#BudgetName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p> A string that represents the budget name. The \":\" and \"\\\" characters aren't allowed.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[^:\\\\]+$"
      }
    },
    "com.amazonaws.budgets#BudgetNotificationsForAccount": {
      "type": "structure",
      "members": {
        "Notifications": {
          "target": "com.amazonaws.budgets#Notifications"
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         The budget name and associated notifications for an account.\n      </p>"
      }
    },
    "com.amazonaws.budgets#BudgetNotificationsForAccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.budgets#BudgetNotificationsForAccount"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.budgets#BudgetPerformanceHistory": {
      "type": "structure",
      "members": {
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName"
        },
        "BudgetType": {
          "target": "com.amazonaws.budgets#BudgetType"
        },
        "CostFilters": {
          "target": "com.amazonaws.budgets#CostFilters",
          "traits": {
            "smithy.api#documentation": "<p>The history of the cost filters for a budget during the specified time period.</p>"
          }
        },
        "CostTypes": {
          "target": "com.amazonaws.budgets#CostTypes",
          "traits": {
            "smithy.api#documentation": "<p>The history of the cost types for a budget during the specified time period.</p>"
          }
        },
        "TimeUnit": {
          "target": "com.amazonaws.budgets#TimeUnit"
        },
        "BudgetedAndActualAmountsList": {
          "target": "com.amazonaws.budgets#BudgetedAndActualAmountsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of amounts of cost or usage that you created budgets for, which are compared to your\n\t\t\tactual costs or usage.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A history of the state of a budget at the end of the budget's specified time period.</p>"
      }
    },
    "com.amazonaws.budgets#BudgetType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p> The type of a budget. It must be one of the following types: </p>\n\t\t       <p>\n            <code>COST</code>, <code>USAGE</code>, <code>RI_UTILIZATION</code>, <code>RI_COVERAGE</code>, <code>SAVINGS_PLANS_UTILIZATION</code>, or <code>SAVINGS_PLANS_COVERAGE</code>.</p>",
        "smithy.api#enum": [
          {
            "value": "USAGE",
            "name": "Usage"
          },
          {
            "value": "COST",
            "name": "Cost"
          },
          {
            "value": "RI_UTILIZATION",
            "name": "RIUtilization"
          },
          {
            "value": "RI_COVERAGE",
            "name": "RICoverage"
          },
          {
            "value": "SAVINGS_PLANS_UTILIZATION",
            "name": "SPUtilization"
          },
          {
            "value": "SAVINGS_PLANS_COVERAGE",
            "name": "SPCoverage"
          }
        ]
      }
    },
    "com.amazonaws.budgets#BudgetedAndActualAmounts": {
      "type": "structure",
      "members": {
        "BudgetedAmount": {
          "target": "com.amazonaws.budgets#Spend",
          "traits": {
            "smithy.api#documentation": "<p>The amount of cost or usage that you created the budget for.</p>"
          }
        },
        "ActualAmount": {
          "target": "com.amazonaws.budgets#Spend",
          "traits": {
            "smithy.api#documentation": "<p>Your actual costs or usage for a budget period.</p>"
          }
        },
        "TimePeriod": {
          "target": "com.amazonaws.budgets#TimePeriod",
          "traits": {
            "smithy.api#documentation": "<p>The time period that's covered by this budget comparison.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The amount of cost or usage that you created the budget for, compared to your actual costs or usage.</p>"
      }
    },
    "com.amazonaws.budgets#BudgetedAndActualAmountsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.budgets#BudgetedAndActualAmounts"
      }
    },
    "com.amazonaws.budgets#Budgets": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.budgets#Budget"
      },
      "traits": {
        "smithy.api#documentation": "<p> A list of budgets.</p>"
      }
    },
    "com.amazonaws.budgets#CalculatedSpend": {
      "type": "structure",
      "members": {
        "ActualSpend": {
          "target": "com.amazonaws.budgets#Spend",
          "traits": {
            "smithy.api#documentation": "<p>The amount of cost, usage, RI units, or Savings Plans units that you used.</p>",
            "smithy.api#required": {}
          }
        },
        "ForecastedSpend": {
          "target": "com.amazonaws.budgets#Spend",
          "traits": {
            "smithy.api#documentation": "<p>The amount of cost, usage, RI units, or Savings Plans units that you're forecasted to\n\t\t\tuse.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The spend objects that are associated with this budget. The <code>actualSpend</code> tracks\n\t\t\thow much you've used, cost, usage, RI units, or Savings Plans units and the\n\t\t\t\t<code>forecastedSpend</code> tracks how much that you're predicted to spend based on\n\t\t\tyour historical usage profile.</p>\n\t\t       <p>For example, if it's the 20th of the month and you have spent <code>50</code> dollars on\n\t\t\tAmazon EC2, your <code>actualSpend</code> is <code>50 USD</code>, and your\n\t\t\t\t<code>forecastedSpend</code> is <code>75 USD</code>.</p>"
      }
    },
    "com.amazonaws.budgets#ComparisonOperator": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p> The comparison operator of a notification. Currently, the service supports the following\n\t\t\toperators:</p>\n\t\t       <p>\n            <code>GREATER_THAN</code>, <code>LESS_THAN</code>, <code>EQUAL_TO</code>\n         </p>",
        "smithy.api#enum": [
          {
            "value": "GREATER_THAN",
            "name": "GREATER_THAN"
          },
          {
            "value": "LESS_THAN",
            "name": "LESS_THAN"
          },
          {
            "value": "EQUAL_TO",
            "name": "EQUAL_TO"
          }
        ]
      }
    },
    "com.amazonaws.budgets#CostFilters": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.budgets#GenericString"
      },
      "value": {
        "target": "com.amazonaws.budgets#DimensionValues"
      },
      "traits": {
        "smithy.api#documentation": "<p> A map that represents the cost filters that are applied to the budget.</p>"
      }
    },
    "com.amazonaws.budgets#CostTypes": {
      "type": "structure",
      "members": {
        "IncludeTax": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget includes taxes.</p>\n\t\t       <p>The default value is <code>true</code>.</p>"
          }
        },
        "IncludeSubscription": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget includes subscriptions.</p>\n\t\t       <p>The default value is <code>true</code>.</p>"
          }
        },
        "UseBlended": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget uses a blended rate.</p>\n\t\t       <p>The default value is <code>false</code>.</p>"
          }
        },
        "IncludeRefund": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget includes refunds.</p>\n\t\t       <p>The default value is <code>true</code>.</p>"
          }
        },
        "IncludeCredit": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget includes credits.</p>\n\t\t       <p>The default value is <code>true</code>.</p>"
          }
        },
        "IncludeUpfront": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget includes upfront RI costs.</p>\n\t\t       <p>The default value is <code>true</code>.</p>"
          }
        },
        "IncludeRecurring": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget includes recurring fees such as monthly RI fees.</p>\n\t\t       <p>The default value is <code>true</code>.</p>"
          }
        },
        "IncludeOtherSubscription": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget includes non-RI subscription costs.</p>\n\t\t       <p>The default value is <code>true</code>.</p>"
          }
        },
        "IncludeSupport": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget includes support subscription fees.</p>\n\t\t       <p>The default value is <code>true</code>.</p>"
          }
        },
        "IncludeDiscount": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget includes discounts.</p>\n\t\t       <p>The default value is <code>true</code>.</p>"
          }
        },
        "UseAmortized": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget uses the amortized rate.</p>\n\t\t       <p>The default value is <code>false</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The types of cost that are included in a <code>COST</code> budget, such as tax and subscriptions.</p>\n\t\t       <p>\n            <code>USAGE</code>, <code>RI_UTILIZATION</code>, <code>RI_COVERAGE</code>,\n\t\t\t\t<code>SAVINGS_PLANS_UTILIZATION</code>, and <code>SAVINGS_PLANS_COVERAGE</code>\n\t\t\tbudgets don't have <code>CostTypes</code>.</p>"
      }
    },
    "com.amazonaws.budgets#CreateBudget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#CreateBudgetRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#CreateBudgetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#CreationLimitExceededException"
        },
        {
          "target": "com.amazonaws.budgets#DuplicateRecordException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a budget and, if included, notifications and subscribers. </p>\n\t\t       <important>\n\t\t\t         <p>Only one of <code>BudgetLimit</code> or <code>PlannedBudgetLimits</code> can be present in the syntax at one time. Use the syntax that matches your case. The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_CreateBudget.html#API_CreateBudget_Examples\">Examples</a> section. </p>\n\t\t       </important>"
      }
    },
    "com.amazonaws.budgets#CreateBudgetAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#CreateBudgetActionRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#CreateBudgetActionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#CreationLimitExceededException"
        },
        {
          "target": "com.amazonaws.budgets#DuplicateRecordException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        },
        {
          "target": "com.amazonaws.budgets#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Creates a budget action.\n      </p>"
      }
    },
    "com.amazonaws.budgets#CreateBudgetActionRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "NotificationType": {
          "target": "com.amazonaws.budgets#NotificationType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ActionType": {
          "target": "com.amazonaws.budgets#ActionType",
          "traits": {
            "smithy.api#documentation": "<p>\n         The type of action. This defines the type of tasks that can be carried out by this action. This field also determines the format for definition.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "ActionThreshold": {
          "target": "com.amazonaws.budgets#ActionThreshold",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Definition": {
          "target": "com.amazonaws.budgets#Definition",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ExecutionRoleArn": {
          "target": "com.amazonaws.budgets#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>\n         The role passed for action execution and reversion. Roles and actions must be in the same account.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "ApprovalModel": {
          "target": "com.amazonaws.budgets#ApprovalModel",
          "traits": {
            "smithy.api#documentation": "<p>\n         This specifies if the action needs manual or automatic approval.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "Subscribers": {
          "target": "com.amazonaws.budgets#Subscribers",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.budgets#CreateBudgetActionResponse": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ActionId": {
          "target": "com.amazonaws.budgets#ActionId",
          "traits": {
            "smithy.api#documentation": "<p>\n         A system-generated universally unique identifier (UUID) for the action.\n      </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.budgets#CreateBudgetRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budget.</p>",
            "smithy.api#required": {}
          }
        },
        "Budget": {
          "target": "com.amazonaws.budgets#Budget",
          "traits": {
            "smithy.api#documentation": "<p>The budget object that you want to create.</p>",
            "smithy.api#required": {}
          }
        },
        "NotificationsWithSubscribers": {
          "target": "com.amazonaws.budgets#NotificationWithSubscribersList",
          "traits": {
            "smithy.api#documentation": "<p>A notification that you want to associate with a budget. A budget can have up to five notifications, and each notification can have one SNS subscriber and up to 10 email subscribers. If you include notifications and subscribers in your <code>CreateBudget</code> call, Amazon Web Services creates the notifications and subscribers for you.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of CreateBudget </p>"
      }
    },
    "com.amazonaws.budgets#CreateBudgetResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> Response of CreateBudget </p>"
      }
    },
    "com.amazonaws.budgets#CreateNotification": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#CreateNotificationRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#CreateNotificationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#CreationLimitExceededException"
        },
        {
          "target": "com.amazonaws.budgets#DuplicateRecordException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        },
        {
          "target": "com.amazonaws.budgets#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a notification. You must create the budget before you create the associated notification.</p>"
      }
    },
    "com.amazonaws.budgets#CreateNotificationRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budget that you want to create a notification for.</p>",
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the budget that you want Amazon Web Services to notify you about. Budget names must be unique within an account.</p>",
            "smithy.api#required": {}
          }
        },
        "Notification": {
          "target": "com.amazonaws.budgets#Notification",
          "traits": {
            "smithy.api#documentation": "<p>The notification that you want to create.</p>",
            "smithy.api#required": {}
          }
        },
        "Subscribers": {
          "target": "com.amazonaws.budgets#Subscribers",
          "traits": {
            "smithy.api#documentation": "<p>A list of subscribers that you want to associate with the notification. Each notification can have one SNS subscriber and up to 10 email subscribers.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of CreateNotification </p>"
      }
    },
    "com.amazonaws.budgets#CreateNotificationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> Response of CreateNotification </p>"
      }
    },
    "com.amazonaws.budgets#CreateSubscriber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#CreateSubscriberRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#CreateSubscriberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#CreationLimitExceededException"
        },
        {
          "target": "com.amazonaws.budgets#DuplicateRecordException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        },
        {
          "target": "com.amazonaws.budgets#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a subscriber. You must create the associated budget and notification before you create the subscriber.</p>"
      }
    },
    "com.amazonaws.budgets#CreateSubscriberRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budget that you want to create a subscriber for.</p>",
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the budget that you want to subscribe to. Budget names must be unique within an account.</p>",
            "smithy.api#required": {}
          }
        },
        "Notification": {
          "target": "com.amazonaws.budgets#Notification",
          "traits": {
            "smithy.api#documentation": "<p>The notification that you want to create a subscriber for.</p>",
            "smithy.api#required": {}
          }
        },
        "Subscriber": {
          "target": "com.amazonaws.budgets#Subscriber",
          "traits": {
            "smithy.api#documentation": "<p>The subscriber that you want to associate with a budget notification.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of CreateSubscriber </p>"
      }
    },
    "com.amazonaws.budgets#CreateSubscriberResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> Response of CreateSubscriber </p>"
      }
    },
    "com.amazonaws.budgets#CreationLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.budgets#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You've exceeded the notification or subscriber limit.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 405
      }
    },
    "com.amazonaws.budgets#Definition": {
      "type": "structure",
      "members": {
        "IamActionDefinition": {
          "target": "com.amazonaws.budgets#IamActionDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The Identity and Access Management (IAM) action definition details. </p>"
          }
        },
        "ScpActionDefinition": {
          "target": "com.amazonaws.budgets#ScpActionDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The service control policies (SCPs) action definition details. </p>"
          }
        },
        "SsmActionDefinition": {
          "target": "com.amazonaws.budgets#SsmActionDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Systems Manager (SSM) action definition details. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies all of the type-specific parameters. </p>"
      }
    },
    "com.amazonaws.budgets#DeleteBudget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#DeleteBudgetRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#DeleteBudgetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        },
        {
          "target": "com.amazonaws.budgets#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a budget. You can delete your budget at any time.</p>\n\t\t       <important>\n\t\t\t         <p>Deleting a budget also deletes the notifications and subscribers that are associated with that budget.</p>\n\t\t       </important>"
      }
    },
    "com.amazonaws.budgets#DeleteBudgetAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#DeleteBudgetActionRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#DeleteBudgetActionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        },
        {
          "target": "com.amazonaws.budgets#ResourceLockedException"
        },
        {
          "target": "com.amazonaws.budgets#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Deletes a budget action.\n      </p>"
      }
    },
    "com.amazonaws.budgets#DeleteBudgetActionRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ActionId": {
          "target": "com.amazonaws.budgets#ActionId",
          "traits": {
            "smithy.api#documentation": "<p>\n         A system-generated universally unique identifier (UUID) for the action.\n      </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.budgets#DeleteBudgetActionResponse": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Action": {
          "target": "com.amazonaws.budgets#Action",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.budgets#DeleteBudgetRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budget that you want to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the budget that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of DeleteBudget </p>"
      }
    },
    "com.amazonaws.budgets#DeleteBudgetResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> Response of DeleteBudget </p>"
      }
    },
    "com.amazonaws.budgets#DeleteNotification": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#DeleteNotificationRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#DeleteNotificationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        },
        {
          "target": "com.amazonaws.budgets#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a notification.</p>\n\t\t       <important>\n\t\t\t         <p>Deleting a notification also deletes the subscribers that are associated with the notification.</p>\n\t\t       </important>"
      }
    },
    "com.amazonaws.budgets#DeleteNotificationRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budget whose notification you want to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the budget whose notification you want to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "Notification": {
          "target": "com.amazonaws.budgets#Notification",
          "traits": {
            "smithy.api#documentation": "<p>The notification that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of DeleteNotification </p>"
      }
    },
    "com.amazonaws.budgets#DeleteNotificationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> Response of DeleteNotification </p>"
      }
    },
    "com.amazonaws.budgets#DeleteSubscriber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#DeleteSubscriberRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#DeleteSubscriberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        },
        {
          "target": "com.amazonaws.budgets#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a subscriber.</p>\n\t\t       <important>\n\t\t\t         <p>Deleting the last subscriber to a notification also deletes the notification.</p>\n\t\t       </important>"
      }
    },
    "com.amazonaws.budgets#DeleteSubscriberRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budget whose subscriber you want to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the budget whose subscriber you want to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "Notification": {
          "target": "com.amazonaws.budgets#Notification",
          "traits": {
            "smithy.api#documentation": "<p>The notification whose subscriber you want to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "Subscriber": {
          "target": "com.amazonaws.budgets#Subscriber",
          "traits": {
            "smithy.api#documentation": "<p>The subscriber that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of DeleteSubscriber </p>"
      }
    },
    "com.amazonaws.budgets#DeleteSubscriberResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> Response of DeleteSubscriber </p>"
      }
    },
    "com.amazonaws.budgets#DescribeBudget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#DescribeBudgetRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#DescribeBudgetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        },
        {
          "target": "com.amazonaws.budgets#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a budget.</p>\n\t\t       <important>\n\t\t\t         <p>The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_DescribeBudget.html#API_DescribeBudget_Examples\">Examples</a> section. </p>\n\t\t       </important>"
      }
    },
    "com.amazonaws.budgets#DescribeBudgetAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#DescribeBudgetActionRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#DescribeBudgetActionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        },
        {
          "target": "com.amazonaws.budgets#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Describes a budget action detail.\n      </p>"
      }
    },
    "com.amazonaws.budgets#DescribeBudgetActionHistories": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#DescribeBudgetActionHistoriesRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#DescribeBudgetActionHistoriesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        },
        {
          "target": "com.amazonaws.budgets#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Describes a budget action history detail.\n      </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ActionHistories",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.budgets#DescribeBudgetActionHistoriesRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ActionId": {
          "target": "com.amazonaws.budgets#ActionId",
          "traits": {
            "smithy.api#documentation": "<p>\n         A system-generated universally unique identifier (UUID) for the action.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "TimePeriod": {
          "target": "com.amazonaws.budgets#TimePeriod"
        },
        "MaxResults": {
          "target": "com.amazonaws.budgets#MaxResults"
        },
        "NextToken": {
          "target": "com.amazonaws.budgets#GenericString"
        }
      }
    },
    "com.amazonaws.budgets#DescribeBudgetActionHistoriesResponse": {
      "type": "structure",
      "members": {
        "ActionHistories": {
          "target": "com.amazonaws.budgets#ActionHistories",
          "traits": {
            "smithy.api#documentation": "<p>\n         The historical record of the budget action resource.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.budgets#GenericString"
        }
      }
    },
    "com.amazonaws.budgets#DescribeBudgetActionRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ActionId": {
          "target": "com.amazonaws.budgets#ActionId",
          "traits": {
            "smithy.api#documentation": "<p>\n         A system-generated universally unique identifier (UUID) for the action.\n      </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.budgets#DescribeBudgetActionResponse": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Action": {
          "target": "com.amazonaws.budgets#Action",
          "traits": {
            "smithy.api#documentation": "<p>\n         A budget action resource.\n      </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.budgets#DescribeBudgetActionsForAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#DescribeBudgetActionsForAccountRequest"
[...]
