{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.budgets#AWSBudgetServiceGateway": {
      "type": "service",
      "version": "2016-10-20",
      "operations": [
        {
          "target": "com.amazonaws.budgets#CreateBudget"
        },
        {
          "target": "com.amazonaws.budgets#CreateNotification"
        },
        {
          "target": "com.amazonaws.budgets#CreateSubscriber"
        },
        {
          "target": "com.amazonaws.budgets#DeleteBudget"
        },
        {
          "target": "com.amazonaws.budgets#DeleteNotification"
        },
        {
          "target": "com.amazonaws.budgets#DeleteSubscriber"
        },
        {
          "target": "com.amazonaws.budgets#DescribeBudget"
        },
        {
          "target": "com.amazonaws.budgets#DescribeBudgetPerformanceHistory"
        },
        {
          "target": "com.amazonaws.budgets#DescribeBudgets"
        },
        {
          "target": "com.amazonaws.budgets#DescribeNotificationsForBudget"
        },
        {
          "target": "com.amazonaws.budgets#DescribeSubscribersForNotification"
        },
        {
          "target": "com.amazonaws.budgets#UpdateBudget"
        },
        {
          "target": "com.amazonaws.budgets#UpdateNotification"
        },
        {
          "target": "com.amazonaws.budgets#UpdateSubscriber"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Budgets",
          "arnNamespace": "budgets",
          "cloudFormationName": "Budgets",
          "cloudTrailEventSource": "awsbudgetservicegateway.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "budgets"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>The AWS Budgets API enables you to use AWS Budgets to plan your service usage, service costs, and instance reservations. The API reference provides descriptions, syntax, and usage examples for each of the actions and data types for AWS Budgets. </p>\n\t\t       <p>Budgets provide you with a way to see the following information:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>How close your plan is to your budgeted amount or to the free tier limits</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Your usage-to-date, including how much you've used of your Reserved Instances (RIs)</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Your current estimated charges from AWS, and how much your predicted usage will accrue in charges by the end of the month</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>How much of your budget has been used</p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>AWS updates your budget status several times a day. Budgets track your unblended costs, subscriptions, refunds, and RIs. You can create the following types of budgets:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <b>Cost budgets</b> - Plan how much you want to spend on a service.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Usage budgets</b> - Plan how much you want to use one or more services.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>RI utilization budgets</b> - Define a utilization threshold, and receive alerts when your RI usage falls below that threshold. This lets you see if your RIs are unused or under-utilized.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>RI coverage budgets</b> - Define a coverage threshold, and receive alerts when the number of your instance hours that are covered by RIs fall below that threshold. This lets you see how much of your instance usage is covered by a reservation.</p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>Service Endpoint</p>\n\t\t       <p>The AWS Budgets API provides the following endpoint:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>https://budgets.amazonaws.com</p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>For information about costs that are associated with the AWS Budgets API, see <a href=\"https://aws.amazon.com/aws-cost-management/pricing/\">AWS Cost Management Pricing</a>.</p>",
        "smithy.api#title": "AWS Budgets"
      }
    },
    "com.amazonaws.budgets#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.budgets#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You are not authorized to use this operation with the given parameters.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.budgets#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The account ID of the user. It should be a 12-digit number.</p>",
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "\\d{12}"
      }
    },
    "com.amazonaws.budgets#Budget": {
      "type": "structure",
      "members": {
        "BudgetLimit": {
          "target": "com.amazonaws.budgets#Spend",
          "traits": {
            "smithy.api#documentation": "<p>The total amount of cost, usage, RI utilization, RI coverage, Savings Plans utilization, or Savings Plans coverage that you want to track with your budget.</p>\n\t\t       <p>\n            <code>BudgetLimit</code> is required for cost or usage budgets, but optional for RI or Savings Plans utilization or coverage budgets. RI and Savings Plans utilization or coverage budgets default to <code>100</code>, which is the only valid value for RI or Savings Plans utilization or coverage budgets. You can't use <code>BudgetLimit</code> with <code>PlannedBudgetLimits</code> for <code>CreateBudget</code> and <code>UpdateBudget</code> actions. </p>"
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a budget. The name must be unique within an account. The <code>:</code> and <code>\\</code> characters aren't allowed in <code>BudgetName</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "BudgetType": {
          "target": "com.amazonaws.budgets#BudgetType",
          "traits": {
            "smithy.api#documentation": "<p>Whether this budget tracks costs, usage, RI utilization, RI coverage, Savings Plans utilization, or Savings Plans coverage.</p>",
            "smithy.api#required": {}
          }
        },
        "CalculatedSpend": {
          "target": "com.amazonaws.budgets#CalculatedSpend",
          "traits": {
            "smithy.api#documentation": "<p>The actual and forecasted cost or usage that the budget tracks.</p>"
          }
        },
        "CostFilters": {
          "target": "com.amazonaws.budgets#CostFilters",
          "traits": {
            "smithy.api#documentation": "<p>The cost filters, such as service or tag, that are applied to a budget.</p>\n\t\t       <p>AWS Budgets supports the following services as a filter for RI budgets:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>Amazon Elastic Compute Cloud - Compute</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Amazon Redshift</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Amazon Relational Database Service</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Amazon ElastiCache</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Amazon Elasticsearch Service</p>\n\t\t\t         </li>\n         </ul>"
          }
        },
        "CostTypes": {
          "target": "com.amazonaws.budgets#CostTypes",
          "traits": {
            "smithy.api#documentation": "<p>The types of costs that are included in this <code>COST</code> budget.</p>\n\t\t       <p>\n            <code>USAGE</code>, <code>RI_UTILIZATION</code>, <code>RI_COVERAGE</code>, <code>Savings_Plans_Utilization</code>, and <code>Savings_Plans_Coverage</code> budgets do not have <code>CostTypes</code>.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.budgets#GenericTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time that you updated this budget.</p>"
          }
        },
        "PlannedBudgetLimits": {
          "target": "com.amazonaws.budgets#PlannedBudgetLimits",
          "traits": {
            "smithy.api#documentation": "<p>A map containing multiple <code>BudgetLimit</code>, including current or future limits.</p>\n\t\t       <p>\n            <code>PlannedBudgetLimits</code> is available for cost or usage budget and supports monthly and quarterly <code>TimeUnit</code>. </p>\n\t\t       <p>For monthly budgets, provide 12 months of <code>PlannedBudgetLimits</code> values. This must start from the current month and include the next 11 months. The <code>key</code> is the start of the month, <code>UTC</code> in epoch seconds. </p>\n\t\t       <p>For quarterly budgets, provide 4 quarters of <code>PlannedBudgetLimits</code> value entries in standard calendar quarter increments. This must start from the current quarter and include the next 3 quarters. The <code>key</code> is the start of the quarter, <code>UTC</code> in epoch seconds. </p>\n\t\t       <p>If the planned budget expires before 12 months for monthly or 4 quarters for quarterly, provide the <code>PlannedBudgetLimits</code> values only for the remaining periods.</p>\n\t\t       <p>If the budget begins at a date in the future, provide <code>PlannedBudgetLimits</code> values from the start date of the budget. </p>\n\t\t       <p>After all of the <code>BudgetLimit</code> values in <code>PlannedBudgetLimits</code> are used, the budget continues to use the last limit as the <code>BudgetLimit</code>. At that point, the planned budget provides the same experience as a fixed budget. </p>\n\t\t       <p>\n            <code>DescribeBudget</code> and <code>DescribeBudgets</code> response along with <code>PlannedBudgetLimits</code> will also contain <code>BudgetLimit</code> representing the current month or quarter limit present in <code>PlannedBudgetLimits</code>. This only applies to budgets created with <code>PlannedBudgetLimits</code>. Budgets created without <code>PlannedBudgetLimits</code> will only contain <code>BudgetLimit</code>, and no <code>PlannedBudgetLimits</code>.</p>"
          }
        },
        "TimePeriod": {
          "target": "com.amazonaws.budgets#TimePeriod",
          "traits": {
            "smithy.api#documentation": "<p>The period of time that is covered by a budget. The period has a start date and an end date. The start date must come before the end date. The end date must come before <code>06/15/87 00:00 UTC</code>. </p>\n\t\t       <p>If you create your budget and don't specify a start date, AWS defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API. </p>\n\t\t       <p>You can change either date with the <code>UpdateBudget</code> operation.</p>\n\t\t       <p>After the end date, AWS deletes the budget and all associated notifications and subscribers.</p>"
          }
        },
        "TimeUnit": {
          "target": "com.amazonaws.budgets#TimeUnit",
          "traits": {
            "smithy.api#documentation": "<p>The length of time until a budget resets the actual and forecasted spend. <code>DAILY</code> is available only for <code>RI_UTILIZATION</code>, <code>RI_COVERAGE</code>, <code>Savings_Plans_Utilization</code>, and <code>Savings_Plans_Coverage</code> budgets.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of the <code>CreateBudget</code> operation. The content consists of the detailed metadata and data file information, and the current status of the <code>budget</code> object.</p>\n\t\t       <p>This is the ARN pattern for a budget: </p>\n\t\t       <p>\n            <code>arn:aws:budgetservice::AccountId:budget/budgetName</code>\n         </p>"
      }
    },
    "com.amazonaws.budgets#BudgetName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p> A string that represents the budget name. The \":\" and \"\\\" characters aren't allowed.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[^:\\\\]+"
      }
    },
    "com.amazonaws.budgets#BudgetPerformanceHistory": {
      "type": "structure",
      "members": {
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName"
        },
        "BudgetType": {
          "target": "com.amazonaws.budgets#BudgetType"
        },
        "BudgetedAndActualAmountsList": {
          "target": "com.amazonaws.budgets#BudgetedAndActualAmountsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of amounts of cost or usage that you created budgets for, compared to your actual costs or usage.</p>"
          }
        },
        "CostFilters": {
          "target": "com.amazonaws.budgets#CostFilters",
          "traits": {
            "smithy.api#documentation": "<p>The history of the cost filters for a budget during the specified time period.</p>"
          }
        },
        "CostTypes": {
          "target": "com.amazonaws.budgets#CostTypes",
          "traits": {
            "smithy.api#documentation": "<p>The history of the cost types for a budget during the specified time period.</p>"
          }
        },
        "TimeUnit": {
          "target": "com.amazonaws.budgets#TimeUnit"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A history of the state of a budget at the end of the budget's specified time period.</p>"
      }
    },
    "com.amazonaws.budgets#BudgetType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p> The type of a budget. It must be one of the following types: </p>\n\t\t       <p>\n            <code>COST</code>, <code>USAGE</code>, <code>RI_UTILIZATION</code>, or <code>RI_COVERAGE</code>.</p>",
        "smithy.api#enum": [
          {
            "value": "USAGE",
            "name": "Usage"
          },
          {
            "value": "COST",
            "name": "Cost"
          },
          {
            "value": "RI_UTILIZATION",
            "name": "RIUtilization"
          },
          {
            "value": "RI_COVERAGE",
            "name": "RICoverage"
          },
          {
            "value": "SAVINGS_PLANS_UTILIZATION",
            "name": "SPUtilization"
          },
          {
            "value": "SAVINGS_PLANS_COVERAGE",
            "name": "SPCoverage"
          }
        ]
      }
    },
    "com.amazonaws.budgets#BudgetedAndActualAmounts": {
      "type": "structure",
      "members": {
        "ActualAmount": {
          "target": "com.amazonaws.budgets#Spend",
          "traits": {
            "smithy.api#documentation": "<p>Your actual costs or usage for a budget period.</p>"
          }
        },
        "BudgetedAmount": {
          "target": "com.amazonaws.budgets#Spend",
          "traits": {
            "smithy.api#documentation": "<p>The amount of cost or usage that you created the budget for.</p>"
          }
        },
        "TimePeriod": {
          "target": "com.amazonaws.budgets#TimePeriod",
          "traits": {
            "smithy.api#documentation": "<p>The time period covered by this budget comparison.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The amount of cost or usage that you created the budget for, compared to your actual costs or usage.</p>"
      }
    },
    "com.amazonaws.budgets#BudgetedAndActualAmountsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.budgets#BudgetedAndActualAmounts"
      }
    },
    "com.amazonaws.budgets#Budgets": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.budgets#Budget"
      },
      "traits": {
        "smithy.api#documentation": "<p> A list of budgets.</p>"
      }
    },
    "com.amazonaws.budgets#CalculatedSpend": {
      "type": "structure",
      "members": {
        "ActualSpend": {
          "target": "com.amazonaws.budgets#Spend",
          "traits": {
            "smithy.api#documentation": "<p>The amount of cost, usage, or RI units that you have used.</p>",
            "smithy.api#required": {}
          }
        },
        "ForecastedSpend": {
          "target": "com.amazonaws.budgets#Spend",
          "traits": {
            "smithy.api#documentation": "<p>The amount of cost, usage, or RI units that you are forecasted to use.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The spend objects that are associated with this budget. The <code>actualSpend</code> tracks how much you've used, cost, usage, or RI units, and the <code>forecastedSpend</code> tracks how much you are predicted to spend if your current usage remains steady.</p>\n\t\t       <p>For example, if it is the 20th of the month and you have spent <code>50</code> dollars on Amazon EC2, your <code>actualSpend</code> is <code>50 USD</code>, and your <code>forecastedSpend</code> is <code>75 USD</code>.</p>"
      }
    },
    "com.amazonaws.budgets#ComparisonOperator": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p> The comparison operator of a notification. Currently the service supports the following operators:</p>\n\t\t       <p>\n            <code>GREATER_THAN</code>, <code>LESS_THAN</code>, <code>EQUAL_TO</code>\n         </p>",
        "smithy.api#enum": [
          {
            "value": "GREATER_THAN",
            "name": "GREATER_THAN"
          },
          {
            "value": "LESS_THAN",
            "name": "LESS_THAN"
          },
          {
            "value": "EQUAL_TO",
            "name": "EQUAL_TO"
          }
        ]
      }
    },
    "com.amazonaws.budgets#CostFilters": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.budgets#GenericString"
      },
      "value": {
        "target": "com.amazonaws.budgets#DimensionValues"
      },
      "traits": {
        "smithy.api#documentation": "<p> A map that represents the cost filters that are applied to the budget.</p>"
      }
    },
    "com.amazonaws.budgets#CostTypes": {
      "type": "structure",
      "members": {
        "IncludeCredit": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget includes credits.</p>\n\t\t       <p>The default value is <code>true</code>.</p>"
          }
        },
        "IncludeDiscount": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget includes discounts.</p>\n\t\t       <p>The default value is <code>true</code>.</p>"
          }
        },
        "IncludeOtherSubscription": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget includes non-RI subscription costs.</p>\n\t\t       <p>The default value is <code>true</code>.</p>"
          }
        },
        "IncludeRecurring": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget includes recurring fees such as monthly RI fees.</p>\n\t\t       <p>The default value is <code>true</code>.</p>"
          }
        },
        "IncludeRefund": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget includes refunds.</p>\n\t\t       <p>The default value is <code>true</code>.</p>"
          }
        },
        "IncludeSubscription": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget includes subscriptions.</p>\n\t\t       <p>The default value is <code>true</code>.</p>"
          }
        },
        "IncludeSupport": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget includes support subscription fees.</p>\n\t\t       <p>The default value is <code>true</code>.</p>"
          }
        },
        "IncludeTax": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget includes taxes.</p>\n\t\t       <p>The default value is <code>true</code>.</p>"
          }
        },
        "IncludeUpfront": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget includes upfront RI costs.</p>\n\t\t       <p>The default value is <code>true</code>.</p>"
          }
        },
        "UseAmortized": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget uses the amortized rate.</p>\n\t\t       <p>The default value is <code>false</code>.</p>"
          }
        },
        "UseBlended": {
          "target": "com.amazonaws.budgets#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether a budget uses a blended rate.</p>\n\t\t       <p>The default value is <code>false</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The types of cost that are included in a <code>COST</code> budget, such as tax and subscriptions.</p>\n\t\t       <p>\n            <code>USAGE</code>, <code>RI_UTILIZATION</code>, and <code>RI_COVERAGE</code> budgets do not have <code>CostTypes</code>.</p>"
      }
    },
    "com.amazonaws.budgets#CreateBudget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#CreateBudgetRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#CreateBudgetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#CreationLimitExceededException"
        },
        {
          "target": "com.amazonaws.budgets#DuplicateRecordException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a budget and, if included, notifications and subscribers. </p>\n\t\t       <important>\n\t\t\t         <p>Only one of <code>BudgetLimit</code> or <code>PlannedBudgetLimits</code> can be present in the syntax at one time. Use the syntax that matches your case. The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_CreateBudget.html#API_CreateBudget_Examples\">Examples</a> section. </p>\n\t\t       </important>"
      }
    },
    "com.amazonaws.budgets#CreateBudgetRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budget.</p>",
            "smithy.api#required": {}
          }
        },
        "Budget": {
          "target": "com.amazonaws.budgets#Budget",
          "traits": {
            "smithy.api#documentation": "<p>The budget object that you want to create.</p>",
            "smithy.api#required": {}
          }
        },
        "NotificationsWithSubscribers": {
          "target": "com.amazonaws.budgets#NotificationWithSubscribersList",
          "traits": {
            "smithy.api#documentation": "<p>A notification that you want to associate with a budget. A budget can have up to five notifications, and each notification can have one SNS subscriber and up to 10 email subscribers. If you include notifications and subscribers in your <code>CreateBudget</code> call, AWS creates the notifications and subscribers for you.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of CreateBudget </p>"
      }
    },
    "com.amazonaws.budgets#CreateBudgetResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> Response of CreateBudget </p>"
      }
    },
    "com.amazonaws.budgets#CreateNotification": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#CreateNotificationRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#CreateNotificationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#CreationLimitExceededException"
        },
        {
          "target": "com.amazonaws.budgets#DuplicateRecordException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a notification. You must create the budget before you create the associated notification.</p>"
      }
    },
    "com.amazonaws.budgets#CreateNotificationRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budget that you want to create a notification for.</p>",
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the budget that you want AWS to notify you about. Budget names must be unique within an account.</p>",
            "smithy.api#required": {}
          }
        },
        "Notification": {
          "target": "com.amazonaws.budgets#Notification",
          "traits": {
            "smithy.api#documentation": "<p>The notification that you want to create.</p>",
            "smithy.api#required": {}
          }
        },
        "Subscribers": {
          "target": "com.amazonaws.budgets#Subscribers",
          "traits": {
            "smithy.api#documentation": "<p>A list of subscribers that you want to associate with the notification. Each notification can have one SNS subscriber and up to 10 email subscribers.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of CreateNotification </p>"
      }
    },
    "com.amazonaws.budgets#CreateNotificationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> Response of CreateNotification </p>"
      }
    },
    "com.amazonaws.budgets#CreateSubscriber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#CreateSubscriberRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#CreateSubscriberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#CreationLimitExceededException"
        },
        {
          "target": "com.amazonaws.budgets#DuplicateRecordException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a subscriber. You must create the associated budget and notification before you create the subscriber.</p>"
      }
    },
    "com.amazonaws.budgets#CreateSubscriberRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budget that you want to create a subscriber for.</p>",
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the budget that you want to subscribe to. Budget names must be unique within an account.</p>",
            "smithy.api#required": {}
          }
        },
        "Notification": {
          "target": "com.amazonaws.budgets#Notification",
          "traits": {
            "smithy.api#documentation": "<p>The notification that you want to create a subscriber for.</p>",
            "smithy.api#required": {}
          }
        },
        "Subscriber": {
          "target": "com.amazonaws.budgets#Subscriber",
          "traits": {
            "smithy.api#documentation": "<p>The subscriber that you want to associate with a budget notification.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of CreateSubscriber </p>"
      }
    },
    "com.amazonaws.budgets#CreateSubscriberResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> Response of CreateSubscriber </p>"
      }
    },
    "com.amazonaws.budgets#CreationLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.budgets#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You've exceeded the notification or subscriber limit.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.budgets#DeleteBudget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#DeleteBudgetRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#DeleteBudgetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a budget. You can delete your budget at any time.</p>\n\t\t       <important>\n\t\t\t         <p>Deleting a budget also deletes the notifications and subscribers that are associated with that budget.</p>\n\t\t       </important>"
      }
    },
    "com.amazonaws.budgets#DeleteBudgetRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budget that you want to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the budget that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of DeleteBudget </p>"
      }
    },
    "com.amazonaws.budgets#DeleteBudgetResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> Response of DeleteBudget </p>"
      }
    },
    "com.amazonaws.budgets#DeleteNotification": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#DeleteNotificationRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#DeleteNotificationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a notification.</p>\n\t\t       <important>\n\t\t\t         <p>Deleting a notification also deletes the subscribers that are associated with the notification.</p>\n\t\t       </important>"
      }
    },
    "com.amazonaws.budgets#DeleteNotificationRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budget whose notification you want to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the budget whose notification you want to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "Notification": {
          "target": "com.amazonaws.budgets#Notification",
          "traits": {
            "smithy.api#documentation": "<p>The notification that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of DeleteNotification </p>"
      }
    },
    "com.amazonaws.budgets#DeleteNotificationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> Response of DeleteNotification </p>"
      }
    },
    "com.amazonaws.budgets#DeleteSubscriber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#DeleteSubscriberRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#DeleteSubscriberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a subscriber.</p>\n\t\t       <important>\n\t\t\t         <p>Deleting the last subscriber to a notification also deletes the notification.</p>\n\t\t       </important>"
      }
    },
    "com.amazonaws.budgets#DeleteSubscriberRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budget whose subscriber you want to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the budget whose subscriber you want to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "Notification": {
          "target": "com.amazonaws.budgets#Notification",
          "traits": {
            "smithy.api#documentation": "<p>The notification whose subscriber you want to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "Subscriber": {
          "target": "com.amazonaws.budgets#Subscriber",
          "traits": {
            "smithy.api#documentation": "<p>The subscriber that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of DeleteSubscriber </p>"
      }
    },
    "com.amazonaws.budgets#DeleteSubscriberResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> Response of DeleteSubscriber </p>"
      }
    },
    "com.amazonaws.budgets#DescribeBudget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#DescribeBudgetRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#DescribeBudgetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a budget.</p>\n\t\t       <important>\n\t\t\t         <p>The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_DescribeBudget.html#API_DescribeBudget_Examples\">Examples</a> section. </p>\n\t\t       </important>"
      }
    },
    "com.amazonaws.budgets#DescribeBudgetPerformanceHistory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#DescribeBudgetPerformanceHistoryRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#DescribeBudgetPerformanceHistoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#ExpiredNextTokenException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the history for <code>DAILY</code>, <code>MONTHLY</code>, and <code>QUARTERLY</code> budgets. Budget history isn't available for <code>ANNUAL</code> budgets.</p>"
      }
    },
    "com.amazonaws.budgets#DescribeBudgetPerformanceHistoryRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.budgets#MaxResults"
        },
        "NextToken": {
          "target": "com.amazonaws.budgets#GenericString"
        },
        "TimePeriod": {
          "target": "com.amazonaws.budgets#TimePeriod",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves how often the budget went into an <code>ALARM</code> state for the specified time period.</p>"
          }
        }
      }
    },
    "com.amazonaws.budgets#DescribeBudgetPerformanceHistoryResponse": {
      "type": "structure",
      "members": {
        "BudgetPerformanceHistory": {
          "target": "com.amazonaws.budgets#BudgetPerformanceHistory",
          "traits": {
            "smithy.api#documentation": "<p>The history of how often the budget has gone into an <code>ALARM</code> state.</p>\n\t\t       <p>For <code>DAILY</code> budgets, the history saves the state of the budget for the last 60 days. For <code>MONTHLY</code> budgets, the history saves the state of the budget for the current month plus the last 12 months. For <code>QUARTERLY</code> budgets, the history saves the state of the budget for the last four quarters.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.budgets#GenericString"
        }
      }
    },
    "com.amazonaws.budgets#DescribeBudgetRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budget that you want a description of.</p>",
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the budget that you want a description of.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of DescribeBudget </p>"
      }
    },
    "com.amazonaws.budgets#DescribeBudgetResponse": {
      "type": "structure",
      "members": {
        "Budget": {
          "target": "com.amazonaws.budgets#Budget",
          "traits": {
            "smithy.api#documentation": "<p>The description of the budget.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Response of DescribeBudget </p>"
      }
    },
    "com.amazonaws.budgets#DescribeBudgets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#DescribeBudgetsRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#DescribeBudgetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#ExpiredNextTokenException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the budgets that are associated with an account.</p>\n\t\t       <important>\n\t\t\t         <p>The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_DescribeBudgets.html#API_DescribeBudgets_Examples\">Examples</a> section. </p>\n\t\t       </important>"
      }
    },
    "com.amazonaws.budgets#DescribeBudgetsRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budgets that you want descriptions of.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.budgets#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>An optional integer that represents how many entries a paginated response contains. The maximum is 100.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.budgets#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that you include in your request to indicate the next set of results that you want to retrieve.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of DescribeBudgets </p>"
      }
    },
    "com.amazonaws.budgets#DescribeBudgetsResponse": {
      "type": "structure",
      "members": {
        "Budgets": {
          "target": "com.amazonaws.budgets#Budgets",
          "traits": {
            "smithy.api#documentation": "<p>A list of budgets.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.budgets#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token in the service response that indicates the next set of results that you can retrieve.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Response of DescribeBudgets </p>"
      }
    },
    "com.amazonaws.budgets#DescribeNotificationsForBudget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#DescribeNotificationsForBudgetRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#DescribeNotificationsForBudgetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#ExpiredNextTokenException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the notifications that are associated with a budget.</p>"
      }
    },
    "com.amazonaws.budgets#DescribeNotificationsForBudgetRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budget whose notifications you want descriptions of.</p>",
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the budget whose notifications you want descriptions of.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.budgets#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>An optional integer that represents how many entries a paginated response contains. The maximum is 100.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.budgets#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that you include in your request to indicate the next set of results that you want to retrieve.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of DescribeNotificationsForBudget </p>"
      }
    },
    "com.amazonaws.budgets#DescribeNotificationsForBudgetResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.budgets#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token in the service response that indicates the next set of results that you can retrieve.</p>"
          }
        },
        "Notifications": {
          "target": "com.amazonaws.budgets#Notifications",
          "traits": {
            "smithy.api#documentation": "<p>A list of notifications that are associated with a budget.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Response of GetNotificationsForBudget </p>"
      }
    },
    "com.amazonaws.budgets#DescribeSubscribersForNotification": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#DescribeSubscribersForNotificationRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#DescribeSubscribersForNotificationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#ExpiredNextTokenException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the subscribers that are associated with a notification.</p>"
      }
    },
    "com.amazonaws.budgets#DescribeSubscribersForNotificationRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budget whose subscribers you want descriptions of.</p>",
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the budget whose subscribers you want descriptions of.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.budgets#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>An optional integer that represents how many entries a paginated response contains. The maximum is 100.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.budgets#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that you include in your request to indicate the next set of results that you want to retrieve.</p>"
          }
        },
        "Notification": {
          "target": "com.amazonaws.budgets#Notification",
          "traits": {
            "smithy.api#documentation": "<p>The notification whose subscribers you want to list.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of DescribeSubscribersForNotification </p>"
      }
    },
    "com.amazonaws.budgets#DescribeSubscribersForNotificationResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.budgets#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token in the service response that indicates the next set of results that you can retrieve.</p>"
          }
        },
        "Subscribers": {
          "target": "com.amazonaws.budgets#Subscribers",
          "traits": {
            "smithy.api#documentation": "<p>A list of subscribers that are associated with a notification.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Response of DescribeSubscribersForNotification </p>"
      }
    },
    "com.amazonaws.budgets#DimensionValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.budgets#GenericString"
      }
    },
    "com.amazonaws.budgets#DuplicateRecordException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.budgets#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The budget name already exists. Budget names must be unique within an account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.budgets#ExpiredNextTokenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.budgets#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The pagination token expired.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.budgets#GenericString": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p> A generic string.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 2147483647
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.budgets#GenericTimestamp": {
      "type": "timestamp",
      "traits": {
        "smithy.api#documentation": "<p> A generic time stamp. In Java, it is transformed to a <code>Date</code> object.</p>"
      }
    },
    "com.amazonaws.budgets#InternalErrorException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.budgets#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.budgets#InvalidNextTokenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.budgets#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The pagination token is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.budgets#InvalidParameterException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.budgets#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error on the client occurred. Typically, the cause is an invalid input value.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.budgets#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#documentation": "<p> An integer that represents how many entries a paginated response contains. The maximum is 100.</p>",
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.budgets#NotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.budgets#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t locate the resource that you specified.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.budgets#Notification": {
      "type": "structure",
      "members": {
        "ComparisonOperator": {
          "target": "com.amazonaws.budgets#ComparisonOperator",
          "traits": {
            "smithy.api#documentation": "<p>The comparison that is used for this notification.</p>",
            "smithy.api#required": {}
          }
        },
        "NotificationState": {
          "target": "com.amazonaws.budgets#NotificationState",
          "traits": {
            "smithy.api#documentation": "<p>Whether this notification is in alarm. If a budget notification is in the <code>ALARM</code> state, you have passed the set threshold for the budget.</p>"
          }
        },
        "NotificationType": {
          "target": "com.amazonaws.budgets#NotificationType",
          "traits": {
            "smithy.api#documentation": "<p>Whether the notification is for how much you have spent (<code>ACTUAL</code>) or for how much you're forecasted to spend (<code>FORECASTED</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "Threshold": {
          "target": "com.amazonaws.budgets#NotificationThreshold",
          "traits": {
            "smithy.api#documentation": "<p>The threshold that is associated with a notification. Thresholds are always a percentage.</p>",
            "smithy.api#required": {}
          }
        },
        "ThresholdType": {
          "target": "com.amazonaws.budgets#ThresholdType",
          "traits": {
            "smithy.api#documentation": "<p>The type of threshold for a notification. For <code>ABSOLUTE_VALUE</code> thresholds, AWS notifies you when you go over or are forecasted to go over your total cost threshold. For <code>PERCENTAGE</code> thresholds, AWS notifies you when you go over or are forecasted to go over a certain percentage of your forecasted spend. For example, if you have a budget for 200 dollars and you have a <code>PERCENTAGE</code> threshold of 80%, AWS notifies you when you go over 160 dollars.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A notification that is associated with a budget. A budget can have up to five notifications. </p>\n\t\t       <p>Each notification must have at least one subscriber. A notification can have one SNS subscriber and up to 10 email subscribers, for a total of 11 subscribers.</p>\n\t\t       <p>For example, if you have a budget for 200 dollars and you want to be notified when you go over 160 dollars, create a notification with the following parameters:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>A notificationType of <code>ACTUAL</code>\n               </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>A <code>thresholdType</code> of <code>PERCENTAGE</code>\n               </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>A <code>comparisonOperator</code> of <code>GREATER_THAN</code>\n               </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>A notification <code>threshold</code> of <code>80</code>\n               </p>\n\t\t\t         </li>\n         </ul>"
      }
    },
    "com.amazonaws.budgets#NotificationState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OK",
            "name": "OK"
          },
          {
            "value": "ALARM",
            "name": "ALARM"
          }
        ]
      }
    },
    "com.amazonaws.budgets#NotificationThreshold": {
      "type": "double",
      "traits": {
        "smithy.api#documentation": "<p> The threshold of a notification. It must be a number between 0 and 1,000,000,000.</p>",
        "smithy.api#range": {
          "min": 0,
          "max": 1000000000
        }
      }
    },
    "com.amazonaws.budgets#NotificationType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p> The type of a notification. It must be ACTUAL or FORECASTED.</p>",
        "smithy.api#enum": [
          {
            "value": "ACTUAL",
            "name": "ACTUAL"
          },
          {
            "value": "FORECASTED",
            "name": "FORECASTED"
          }
        ]
      }
    },
    "com.amazonaws.budgets#NotificationWithSubscribers": {
      "type": "structure",
      "members": {
        "Notification": {
          "target": "com.amazonaws.budgets#Notification",
          "traits": {
            "smithy.api#documentation": "<p>The notification that is associated with a budget.</p>",
            "smithy.api#required": {}
          }
        },
        "Subscribers": {
          "target": "com.amazonaws.budgets#Subscribers",
          "traits": {
            "smithy.api#documentation": "<p>A list of subscribers who are subscribed to this notification.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A notification with subscribers. A notification can have one SNS subscriber and up to 10 email subscribers, for a total of 11 subscribers.</p>"
      }
    },
    "com.amazonaws.budgets#NotificationWithSubscribersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.budgets#NotificationWithSubscribers"
      },
      "traits": {
        "smithy.api#documentation": "<p> A list of notifications, each with a list of subscribers.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.budgets#Notifications": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.budgets#Notification"
      },
      "traits": {
        "smithy.api#documentation": "<p> A list of notifications.</p>"
      }
    },
    "com.amazonaws.budgets#NullableBoolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.budgets#NumericValue": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p> A string that represents a numeric value.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 2147483647
        },
        "smithy.api#pattern": "([0-9]*\\.)?[0-9]+"
      }
    },
    "com.amazonaws.budgets#PlannedBudgetLimits": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.budgets#GenericString"
      },
      "value": {
        "target": "com.amazonaws.budgets#Spend"
      }
    },
    "com.amazonaws.budgets#Spend": {
      "type": "structure",
      "members": {
        "Amount": {
          "target": "com.amazonaws.budgets#NumericValue",
          "traits": {
            "smithy.api#documentation": "<p>The cost or usage amount that is associated with a budget forecast, actual spend, or budget threshold.</p>",
            "smithy.api#required": {}
          }
        },
        "Unit": {
          "target": "com.amazonaws.budgets#UnitValue",
          "traits": {
            "smithy.api#documentation": "<p>The unit of measurement that is used for the budget forecast, actual spend, or budget threshold, such as dollars or GB.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The amount of cost or usage that is measured for a budget.</p>\n\t\t       <p>For example, a <code>Spend</code> for <code>3 GB</code> of S3 usage would have the following parameters:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>An <code>Amount</code> of <code>3</code>\n               </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>A <code>unit</code> of <code>GB</code>\n               </p>\n\t\t\t         </li>\n         </ul>"
      }
    },
    "com.amazonaws.budgets#Subscriber": {
      "type": "structure",
      "members": {
        "Address": {
          "target": "com.amazonaws.budgets#SubscriberAddress",
          "traits": {
            "smithy.api#documentation": "<p>The address that AWS sends budget notifications to, either an SNS topic or an email.</p>\n\t\t       <p>When you create a subscriber, the value of <code>Address</code> can't contain line breaks.</p>",
            "smithy.api#required": {}
          }
        },
        "SubscriptionType": {
          "target": "com.amazonaws.budgets#SubscriptionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of notification that AWS sends to a subscriber.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The subscriber to a budget notification. The subscriber consists of a subscription type and either an Amazon SNS topic or an email address.</p>\n\t\t       <p>For example, an email subscriber would have the following parameters:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>A <code>subscriptionType</code> of <code>EMAIL</code>\n               </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>An <code>address</code> of <code>example@example.com</code>\n               </p>\n\t\t\t         </li>\n         </ul>"
      }
    },
    "com.amazonaws.budgets#SubscriberAddress": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p> A string that contains an email address or SNS topic for the subscriber's address.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 2147483647
        },
        "smithy.api#pattern": "(.*[\\n\\r\\t\\f\\ ]?)*",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.budgets#Subscribers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.budgets#Subscriber"
      },
      "traits": {
        "smithy.api#documentation": "<p> A list of subscribers.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 11
        }
      }
    },
    "com.amazonaws.budgets#SubscriptionType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p> The subscription type of the subscriber. It can be SMS or EMAIL.</p>",
        "smithy.api#enum": [
          {
            "value": "SNS",
            "name": "SNS"
          },
          {
            "value": "EMAIL",
            "name": "EMAIL"
          }
        ]
      }
    },
    "com.amazonaws.budgets#ThresholdType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p> The type of threshold for a notification. It can be PERCENTAGE or ABSOLUTE_VALUE.</p>",
        "smithy.api#enum": [
          {
            "value": "PERCENTAGE",
            "name": "PERCENTAGE"
          },
          {
            "value": "ABSOLUTE_VALUE",
            "name": "ABSOLUTE_VALUE"
          }
        ]
      }
    },
    "com.amazonaws.budgets#TimePeriod": {
      "type": "structure",
      "members": {
        "End": {
          "target": "com.amazonaws.budgets#GenericTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end date for a budget. If you didn't specify an end date, AWS set your end date to <code>06/15/87 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API.</p>\n\t\t       <p>After the end date, AWS deletes the budget and all associated notifications and subscribers. You can change your end date with the <code>UpdateBudget</code> operation.</p>"
          }
        },
        "Start": {
          "target": "com.amazonaws.budgets#GenericTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start date for a budget. If you created your budget and didn't specify a start date, AWS defaults to the start of your chosen time period (DAILY, MONTHLY, QUARTERLY, or ANNUALLY). For example, if you created your budget on January 24, 2018, chose <code>DAILY</code>, and didn't set a start date, AWS set your start date to <code>01/24/18 00:00 UTC</code>. If you chose <code>MONTHLY</code>, AWS set your start date to <code>01/01/18 00:00 UTC</code>. The defaults are the same for the AWS Billing and Cost Management console and the API.</p>\n\t\t       <p>You can change your start date with the <code>UpdateBudget</code> operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The period of time that is covered by a budget. The period has a start date and an end date. The start date must come before the end date. There are no restrictions on the end date. </p>"
      }
    },
    "com.amazonaws.budgets#TimeUnit": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p> The time unit of the budget, such as MONTHLY or QUARTERLY.</p>",
        "smithy.api#enum": [
          {
            "value": "DAILY",
            "name": "DAILY"
          },
          {
            "value": "MONTHLY",
            "name": "MONTHLY"
          },
          {
            "value": "QUARTERLY",
            "name": "QUARTERLY"
          },
          {
            "value": "ANNUALLY",
            "name": "ANNUALLY"
          }
        ]
      }
    },
    "com.amazonaws.budgets#UnitValue": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p> A string that represents the spend unit of a budget. It can't be null or empty.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 2147483647
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.budgets#UpdateBudget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#UpdateBudgetRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#UpdateBudgetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates a budget. You can change every part of a budget except for the <code>budgetName</code> and the <code>calculatedSpend</code>. When you modify a budget, the <code>calculatedSpend</code> drops to zero until AWS has new usage data to use for forecasting.</p>\n\t\t       <important>\n\t\t\t         <p>Only one of <code>BudgetLimit</code> or <code>PlannedBudgetLimits</code> can be present in the syntax at one time. Use the syntax that matches your case. The Request Syntax section shows the <code>BudgetLimit</code> syntax. For <code>PlannedBudgetLimits</code>, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_budgets_UpdateBudget.html#API_UpdateBudget_Examples\">Examples</a> section. </p>\n\t\t       </important>"
      }
    },
    "com.amazonaws.budgets#UpdateBudgetRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budget that you want to update.</p>",
            "smithy.api#required": {}
          }
        },
        "NewBudget": {
          "target": "com.amazonaws.budgets#Budget",
          "traits": {
            "smithy.api#documentation": "<p>The budget that you want to update your budget to.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of UpdateBudget </p>"
      }
    },
    "com.amazonaws.budgets#UpdateBudgetResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> Response of UpdateBudget </p>"
      }
    },
    "com.amazonaws.budgets#UpdateNotification": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#UpdateNotificationRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#UpdateNotificationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#DuplicateRecordException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates a notification.</p>"
      }
    },
    "com.amazonaws.budgets#UpdateNotificationRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budget whose notification you want to update.</p>",
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the budget whose notification you want to update.</p>",
            "smithy.api#required": {}
          }
        },
        "NewNotification": {
          "target": "com.amazonaws.budgets#Notification",
          "traits": {
            "smithy.api#documentation": "<p>The updated notification to be associated with a budget.</p>",
            "smithy.api#required": {}
          }
        },
        "OldNotification": {
          "target": "com.amazonaws.budgets#Notification",
          "traits": {
            "smithy.api#documentation": "<p>The previous notification that is associated with a budget.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of UpdateNotification </p>"
      }
    },
    "com.amazonaws.budgets#UpdateNotificationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> Response of UpdateNotification </p>"
      }
    },
    "com.amazonaws.budgets#UpdateSubscriber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.budgets#UpdateSubscriberRequest"
      },
      "output": {
        "target": "com.amazonaws.budgets#UpdateSubscriberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.budgets#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.budgets#DuplicateRecordException"
        },
        {
          "target": "com.amazonaws.budgets#InternalErrorException"
        },
        {
          "target": "com.amazonaws.budgets#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.budgets#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates a subscriber.</p>"
      }
    },
    "com.amazonaws.budgets#UpdateSubscriberRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.budgets#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>accountId</code> that is associated with the budget whose subscriber you want to update.</p>",
            "smithy.api#required": {}
          }
        },
        "BudgetName": {
          "target": "com.amazonaws.budgets#BudgetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the budget whose subscriber you want to update.</p>",
            "smithy.api#required": {}
          }
        },
        "NewSubscriber": {
          "target": "com.amazonaws.budgets#Subscriber",
          "traits": {
            "smithy.api#documentation": "<p>The updated subscriber that is associated with a budget notification.</p>",
            "smithy.api#required": {}
          }
        },
        "Notification": {
          "target": "com.amazonaws.budgets#Notification",
          "traits": {
            "smithy.api#documentation": "<p>The notification whose subscriber you want to update.</p>",
            "smithy.api#required": {}
          }
        },
        "OldSubscriber": {
          "target": "com.amazonaws.budgets#Subscriber",
          "traits": {
            "smithy.api#documentation": "<p>The previous subscriber that is associated with a budget notification.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request of UpdateSubscriber </p>"
      }
    },
    "com.amazonaws.budgets#UpdateSubscriberResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p> Response of UpdateSubscriber </p>"
      }
    },
    "com.amazonaws.budgets#errorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The error message the exception carries.</p>"
      }
    }
  }
}
