{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.chatbot#AccountPreferences": {
      "type": "structure",
      "members": {
        "UserAuthorizationRequired": {
          "target": "com.amazonaws.chatbot#BooleanAccountPreference",
          "traits": {
            "smithy.api#documentation": "<p>Enables use of a user role requirement in your chat configuration.</p>"
          }
        },
        "TrainingDataCollectionEnabled": {
          "target": "com.amazonaws.chatbot#BooleanAccountPreference",
          "traits": {
            "smithy.api#documentation": "<p>Turns on training data collection.</p>\n         <p>This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AI technologies for AWS Chatbot.\n  </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Preferences related to AWS Chatbot usage in the calling AWS account.</p>"
      }
    },
    "com.amazonaws.chatbot#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws:(wheatley|chatbot):[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$"
      }
    },
    "com.amazonaws.chatbot#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 1224
        },
        "smithy.api#pattern": "^arn:aws:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$"
      }
    },
    "com.amazonaws.chatbot#AssociateToConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#AssociateToConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#AssociateToConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#InternalServiceError"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#UnauthorizedException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to associate a resource with a configuration",
          "resources": {
            "required": {
              "ChatbotConfiguration": {},
              "custom-action": {}
            }
          }
        },
        "smithy.api#documentation": "<p>Links a resource (for example, a custom action) to a channel configuration.</p>",
        "smithy.api#examples": [
          {
            "title": "Associate a custom action to a configuration",
            "documentation": "Associate a custom action to a channel configuration, allowing it to be used in that channel",
            "input": {
              "Resource": "arn:aws:chatbot::1234567890:custom-action/my-custom-action",
              "ChatConfiguration": "arn:aws:chatbot::1234567890:chat-configuration/slack-channel/my-channel"
            },
            "output": {}
          }
        ],
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/associate-to-configuration"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.chatbot#AssociateToConfigurationRequest": {
      "type": "structure",
      "members": {
        "Resource": {
          "target": "com.amazonaws.chatbot#ResourceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The resource Amazon Resource Name (ARN) to link.</p>",
            "smithy.api#required": {}
          }
        },
        "ChatConfiguration": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The channel configuration to associate with the resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#AssociateToConfigurationResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#AssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#AssociationListing"
      }
    },
    "com.amazonaws.chatbot#AssociationListing": {
      "type": "structure",
      "members": {
        "Resource": {
          "target": "com.amazonaws.chatbot#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource (for example, a custom action).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A listing of an association with a channel configuration.</p>"
      }
    },
    "com.amazonaws.chatbot#AwsUserIdentity": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 15,
          "max": 1101
        },
        "smithy.api#pattern": "^arn:aws:(iam|sts)::[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$"
      }
    },
    "com.amazonaws.chatbot#BooleanAccountPreference": {
      "type": "boolean"
    },
    "com.amazonaws.chatbot#ChatConfigurationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 19,
          "max": 1169
        },
        "smithy.api#pattern": "^arn:aws:(wheatley|chatbot):[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$"
      }
    },
    "com.amazonaws.chatbot#ChimeWebhookConfiguration": {
      "type": "structure",
      "members": {
        "WebhookDescription": {
          "target": "com.amazonaws.chatbot#ChimeWebhookDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the webhook. We recommend using the convention <code>RoomName/WebhookName</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/chime-setup.html\">Tutorial: Get started with Amazon Chime</a> in the <i> AWS Chatbot Administrator Guide</i>.\n </p>",
            "smithy.api#required": {}
          }
        },
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ChimeWebhookConfiguration.</p>",
            "smithy.api#required": {}
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.chatbot#Arn",
          "traits": {
            "smithy.api#documentation": "<p>A user-defined role that AWS Chatbot assumes. This is not the service-linked role.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/chatbot-iam-policies.html\">IAM policies for AWS Chatbot</a> in the <i> AWS Chatbot Administrator Guide</i>.\n  </p>",
            "smithy.api#required": {}
          }
        },
        "SnsTopicArns": {
          "target": "com.amazonaws.chatbot#SnsTopicArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the SNS topics that deliver notifications to AWS Chatbot.</p>",
            "smithy.api#required": {}
          }
        },
        "ConfigurationName": {
          "target": "com.amazonaws.chatbot#ConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>"
          }
        },
        "LoggingLevel": {
          "target": "com.amazonaws.chatbot#CustomerCwLogLevel",
          "traits": {
            "smithy.api#documentation": "<p>Logging levels include <code>ERROR</code>, <code>INFO</code>, or <code>NONE</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chatbot#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags assigned to a resource. A tag is a string-to-string map of key-value pairs.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.chatbot#ResourceState",
          "traits": {
            "smithy.api#documentation": "<p>Either <code>ENABLED</code> or <code>DISABLED</code>. The resource returns <code>DISABLED</code> if the organization's AWS Chatbot policy has explicitly denied that configuration.\n\t  For example, if Amazon Chime is disabled.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.chatbot#String",
          "traits": {
            "smithy.api#documentation": "<p>Provided if State is <code>DISABLED</code>. Provides context as to why the resource is disabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An AWS Chatbot configuration for Amazon Chime.</p>"
      }
    },
    "com.amazonaws.chatbot#ChimeWebhookConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#ChimeWebhookConfiguration"
      }
    },
    "com.amazonaws.chatbot#ChimeWebhookDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chatbot#ChimeWebhookUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^https://hooks\\.chime\\.aws/incomingwebhooks/[A-Za-z0-9\\-]+?\\?token=[A-Za-z0-9\\-]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chatbot#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 33,
          "max": 126
        },
        "smithy.api#pattern": "^[\\x21-\\x7F]+$"
      }
    },
    "com.amazonaws.chatbot#ConfigurationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_]+$"
      }
    },
    "com.amazonaws.chatbot#ConfiguredTeam": {
      "type": "structure",
      "members": {
        "TenantId": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Microsoft Teams tenant.</p>",
            "smithy.api#required": {}
          }
        },
        "TeamId": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Microsoft Teams authorized with AWS Chatbot.</p>\n         <p>To get the team ID, you must perform the initial authorization flow with Microsoft Teams in the AWS Chatbot console. Then you can copy and paste the team ID from the console. For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/teams-setup.html#teams-client-setup\">Step 1: Configure a Microsoft Teams client</a> in the <i> AWS Chatbot Administrator Guide</i>.\n</p>",
            "smithy.api#required": {}
          }
        },
        "TeamName": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Microsoft Teams Team.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.chatbot#ResourceState",
          "traits": {
            "smithy.api#documentation": "<p>Either <code>ENABLED</code> or <code>DISABLED</code>. The resource returns <code>DISABLED</code> if the organization's AWS Chatbot policy has explicitly denied that configuration.\n\t  For example, if Amazon Chime is disabled.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.chatbot#String",
          "traits": {
            "smithy.api#documentation": "<p>Provided if State is <code>DISABLED</code>. Provides context as to why the resource is disabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A Microsoft Teams team that is authorized with AWS Chatbot.</p>"
      }
    },
    "com.amazonaws.chatbot#ConfiguredTeamsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#ConfiguredTeam"
      }
    },
    "com.amazonaws.chatbot#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was an issue processing your request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.chatbot#CreateChimeWebhookConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#CreateChimeWebhookConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#CreateChimeWebhookConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#ConflictException"
        },
        {
          "target": "com.amazonaws.chatbot#CreateChimeWebhookConfigurationException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#LimitExceededException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create an AWS Chatbot Chime Webhook Configuration",
          "createsResources": ["ChatbotConfiguration"]
        },
        "smithy.api#documentation": "<p>Creates an AWS Chatbot configuration for Amazon Chime.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/create-chime-webhook-configuration",
          "code": 201
        }
      }
    },
    "com.amazonaws.chatbot#CreateChimeWebhookConfigurationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#CreateChimeWebhookConfigurationRequest": {
      "type": "structure",
      "members": {
        "WebhookDescription": {
          "target": "com.amazonaws.chatbot#ChimeWebhookDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the webhook. We recommend using the convention <code>RoomName/WebhookName</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/chime-setup.html\">Tutorial: Get started with Amazon Chime</a> in the <i> AWS Chatbot Administrator Guide</i>.\n </p>",
            "smithy.api#required": {}
          }
        },
        "WebhookUrl": {
          "target": "com.amazonaws.chatbot#ChimeWebhookUrl",
          "traits": {
            "smithy.api#documentation": "<p>The URL for the Amazon Chime webhook.</p>",
            "smithy.api#required": {}
          }
        },
        "SnsTopicArns": {
          "target": "com.amazonaws.chatbot#SnsTopicArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the SNS topics that deliver notifications to AWS Chatbot.</p>",
            "smithy.api#required": {}
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.chatbot#Arn",
          "traits": {
            "smithy.api#documentation": "<p>A user-defined role that AWS Chatbot assumes. This is not the service-linked role.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/chatbot-iam-policies.html\">IAM policies for AWS Chatbot</a> in the <i> AWS Chatbot Administrator Guide</i>.\n  </p>",
            "smithy.api#required": {}
          }
        },
        "ConfigurationName": {
          "target": "com.amazonaws.chatbot#ConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "LoggingLevel": {
          "target": "com.amazonaws.chatbot#CustomerCwLogLevel",
          "traits": {
            "smithy.api#documentation": "<p>Logging levels include <code>ERROR</code>, <code>INFO</code>, or <code>NONE</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chatbot#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags assigned to a resource. A tag is a string-to-string map of key-value pairs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#CreateChimeWebhookConfigurationResult": {
      "type": "structure",
      "members": {
        "WebhookConfiguration": {
          "target": "com.amazonaws.chatbot#ChimeWebhookConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Chime webhook configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#CreateCustomAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#CreateCustomActionRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#CreateCustomActionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#ConflictException"
        },
        {
          "target": "com.amazonaws.chatbot#InternalServiceError"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#LimitExceededException"
        },
        {
          "target": "com.amazonaws.chatbot#UnauthorizedException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a custom action"
        },
        "smithy.api#documentation": "<p>Creates a custom action that can be invoked as an alias or as a button on a notification.</p>",
        "smithy.api#examples": [
          {
            "title": "Create an alias that invokes a Lambda function",
            "documentation": "Creates an alias that invokes a Lambda function from chat channels. You can use this alias by entering 'run invoke', after which you're prompted for the function name.",
            "input": {
              "ActionName": "my-custom-action",
              "Definition": {
                "CommandText": "lambda invoke $functionName"
              },
              "AliasName": "invoke"
            },
            "output": {
              "CustomActionArn": "arn:aws:chatbot::1234567890:custom-action/my-custom-action"
            }
          },
          {
            "title": "Create a custom action to list alarms",
            "documentation": "Creates a button on all Cloudwatch notifications that lists alarms in the ‘ALARM’ state.",
            "input": {
              "ActionName": "describe-alarms",
              "Definition": {
                "CommandText": "cloudwatch describe-alarms --state-value ALARM"
              },
              "Attachments": [
                {
                  "NotificationType": "CloudWatch",
                  "ButtonText": "List alarms"
                }
              ]
            },
            "output": {
              "CustomActionArn": "arn:aws:chatbot::1234567890:custom-action/describe-alarms"
            }
          }
        ],
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/create-custom-action"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.chatbot#CreateCustomActionRequest": {
      "type": "structure",
      "members": {
        "Definition": {
          "target": "com.amazonaws.chatbot#CustomActionDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The definition of the command to run when invoked as an alias or as an action button.</p>",
            "smithy.api#required": {}
          }
        },
        "AliasName": {
          "target": "com.amazonaws.chatbot#CustomActionAliasName",
          "traits": {
            "smithy.api#documentation": "<p>The name used to invoke this action in a chat channel. For example, <code>@aws run my-alias</code>.</p>"
          }
        },
        "Attachments": {
          "target": "com.amazonaws.chatbot#CustomActionAttachmentList",
          "traits": {
            "smithy.api#documentation": "<p>Defines when this custom action button should be attached to a notification.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chatbot#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags assigned to a resource. A tag is a string-to-string map of key-value pairs.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.chatbot#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Idempotency ensures that an API request completes only once. With an idempotent request, if the original request completes successfully, subsequent retries with the same client token returns the result from the original successful request.</p>\n         <p>If you do not specify a client token, one is automatically generated by the SDK.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "ActionName": {
          "target": "com.amazonaws.chatbot#CustomActionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom action. This name is included in the Amazon Resource Name (ARN).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#CreateCustomActionResult": {
      "type": "structure",
      "members": {
        "CustomActionArn": {
          "target": "com.amazonaws.chatbot#CustomActionArn",
          "traits": {
            "smithy.api#documentation": "<p>The fully defined ARN of the custom action.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "CustomActionArn"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#CreateMicrosoftTeamsChannelConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#CreateTeamsChannelConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#CreateTeamsChannelConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#ConflictException"
        },
        {
          "target": "com.amazonaws.chatbot#CreateTeamsChannelConfigurationException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#LimitExceededException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create an AWS Chatbot Microsoft Teams Channel Configuration",
          "createsResources": ["ChatbotConfiguration"]
        },
        "smithy.api#documentation": "<p>Creates an AWS Chatbot configuration for Microsoft Teams.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/create-ms-teams-channel-configuration",
          "code": 201
        },
        "smithy.api#suppress": ["OperationInputOutputName.input", "OperationInputOutputName.output"]
      }
    },
    "com.amazonaws.chatbot#CreateSlackChannelConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#CreateSlackChannelConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#CreateSlackChannelConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#ConflictException"
        },
        {
          "target": "com.amazonaws.chatbot#CreateSlackChannelConfigurationException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#LimitExceededException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create an AWS Chatbot Slack Channel Configuration",
          "createsResources": ["ChatbotConfiguration"]
        },
        "smithy.api#documentation": "<p>Creates an AWS Chatbot confugration for Slack.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/create-slack-channel-configuration",
          "code": 201
        }
      }
    },
    "com.amazonaws.chatbot#CreateSlackChannelConfigurationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#CreateSlackChannelConfigurationRequest": {
      "type": "structure",
      "members": {
        "SlackTeamId": {
          "target": "com.amazonaws.chatbot#SlackTeamId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Slack workspace authorized with AWS Chatbot.</p>",
            "smithy.api#required": {}
          }
        },
        "SlackChannelId": {
          "target": "com.amazonaws.chatbot#SlackChannelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Slack channel.</p>\n         <p>To get this ID, open Slack, right click on the channel name in the left pane, then choose Copy Link. The channel ID is the 9-character string at the end of the URL. For example, ABCBBLZZZ.\n  </p>",
            "smithy.api#required": {}
          }
        },
        "SlackChannelName": {
          "target": "com.amazonaws.chatbot#SlackChannelDisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Slack channel.</p>"
          }
        },
        "SnsTopicArns": {
          "target": "com.amazonaws.chatbot#SnsTopicArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the SNS topics that deliver notifications to AWS Chatbot.</p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.chatbot#Arn",
          "traits": {
            "smithy.api#documentation": "<p>A user-defined role that AWS Chatbot assumes. This is not the service-linked role.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/chatbot-iam-policies.html\">IAM policies for AWS Chatbot</a> in the <i> AWS Chatbot Administrator Guide</i>.\n  </p>",
            "smithy.api#required": {}
          }
        },
        "ConfigurationName": {
          "target": "com.amazonaws.chatbot#ConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "LoggingLevel": {
          "target": "com.amazonaws.chatbot#CustomerCwLogLevel",
          "traits": {
            "smithy.api#documentation": "<p>Logging levels include <code>ERROR</code>, <code>INFO</code>, or <code>NONE</code>.</p>"
          }
        },
        "GuardrailPolicyArns": {
          "target": "com.amazonaws.chatbot#GuardrailPolicyArnList",
          "traits": {
            "smithy.api#documentation": "<p>The list of IAM policy ARNs that are applied as channel guardrails. The AWS managed <code>AdministratorAccess</code> policy is applied by default if this is not set.\n  </p>"
          }
        },
        "UserAuthorizationRequired": {
          "target": "com.amazonaws.chatbot#BooleanAccountPreference",
          "traits": {
            "smithy.api#documentation": "<p>Enables use of a user role requirement in your chat configuration.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chatbot#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags assigned to a resource. A tag is a string-to-string map of key-value pairs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#CreateSlackChannelConfigurationResult": {
      "type": "structure",
      "members": {
        "ChannelConfiguration": {
          "target": "com.amazonaws.chatbot#SlackChannelConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for a Slack channel configured with AWS Chatbot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#CreateTeamsChannelConfigurationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#CreateTeamsChannelConfigurationRequest": {
      "type": "structure",
      "members": {
        "ChannelId": {
          "target": "com.amazonaws.chatbot#TeamsChannelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Microsoft Teams channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.chatbot#TeamsChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Microsoft Teams channel.</p>"
          }
        },
        "TeamId": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Microsoft Teams authorized with AWS Chatbot.</p>\n         <p>To get the team ID, you must perform the initial authorization flow with Microsoft Teams in the AWS Chatbot console. Then you can copy and paste the team ID from the console. For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/teams-setup.html#teams-client-setup\">Step 1: Configure a Microsoft Teams client</a> in the <i> AWS Chatbot Administrator Guide</i>.\n</p>",
            "smithy.api#required": {}
          }
        },
        "TeamName": {
          "target": "com.amazonaws.chatbot#TeamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Microsoft Teams Team.</p>"
          }
        },
        "TenantId": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Microsoft Teams tenant.</p>",
            "smithy.api#required": {}
          }
        },
        "SnsTopicArns": {
          "target": "com.amazonaws.chatbot#SnsTopicArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the SNS topics that deliver notifications to AWS Chatbot.</p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.chatbot#Arn",
          "traits": {
            "smithy.api#documentation": "<p>A user-defined role that AWS Chatbot assumes. This is not the service-linked role.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/chatbot-iam-policies.html\">IAM policies for AWS Chatbot</a> in the <i> AWS Chatbot Administrator Guide</i>.\n  </p>",
            "smithy.api#required": {}
          }
        },
        "ConfigurationName": {
          "target": "com.amazonaws.chatbot#ConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "LoggingLevel": {
          "target": "com.amazonaws.chatbot#CustomerCwLogLevel",
          "traits": {
            "smithy.api#documentation": "<p>Logging levels include <code>ERROR</code>, <code>INFO</code>, or <code>NONE</code>.</p>"
          }
        },
        "GuardrailPolicyArns": {
          "target": "com.amazonaws.chatbot#GuardrailPolicyArnList",
          "traits": {
            "smithy.api#documentation": "<p>The list of IAM policy ARNs that are applied as channel guardrails. The AWS managed <code>AdministratorAccess</code> policy is applied by default if this is not set.\n  </p>"
          }
        },
        "UserAuthorizationRequired": {
          "target": "com.amazonaws.chatbot#BooleanAccountPreference",
          "traits": {
            "smithy.api#documentation": "<p>Enables use of a user role requirement in your chat configuration.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chatbot#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags assigned to a resource. A tag is a string-to-string map of key-value pairs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#CreateTeamsChannelConfigurationResult": {
      "type": "structure",
      "members": {
        "ChannelConfiguration": {
          "target": "com.amazonaws.chatbot#TeamsChannelConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for a Microsoft Teams channel configured with AWS Chatbot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#CustomAction": {
      "type": "structure",
      "members": {
        "CustomActionArn": {
          "target": "com.amazonaws.chatbot#CustomActionArn",
          "traits": {
            "smithy.api#documentation": "<p>The fully defined Amazon Resource Name (ARN) of the custom action.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "CustomActionArn"
          }
        },
        "Definition": {
          "target": "com.amazonaws.chatbot#CustomActionDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The definition of the command to run when invoked an alias or as an action button.</p>",
            "smithy.api#required": {}
          }
        },
        "AliasName": {
          "target": "com.amazonaws.chatbot#CustomActionAliasName",
          "traits": {
            "smithy.api#documentation": "<p>The name used to invoke this action in the chat channel. For example, <code>@aws run my-alias</code>.</p>"
          }
        },
        "Attachments": {
          "target": "com.amazonaws.chatbot#CustomActionAttachmentList",
          "traits": {
            "smithy.api#documentation": "<p>Defines when this custom action button should be attached to a notification.</p>"
          }
        },
        "ActionName": {
          "target": "com.amazonaws.chatbot#CustomActionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom action that is included in the ARN.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a parameterized command that can be invoked as an alias or as a notification button in the chat client.</p>"
      }
    },
    "com.amazonaws.chatbot#CustomActionAliasName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 30
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_]+$"
      }
    },
    "com.amazonaws.chatbot#CustomActionArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::Chatbot::CustomAction",
          "service": "com.amazonaws.chatbot#WheatleyOrchestration_20171011",
          "resource": "com.amazonaws.chatbot#CustomActionResource"
        },
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws:chatbot:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:custom-action/[a-zA-Z0-9_-]{1,64}$"
      }
    },
    "com.amazonaws.chatbot#CustomActionArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#CustomActionArn"
      }
    },
    "com.amazonaws.chatbot#CustomActionAttachment": {
      "type": "structure",
      "members": {
        "NotificationType": {
          "target": "com.amazonaws.chatbot#CustomActionAttachmentNotificationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of notification that the custom action should be attached to.</p>"
          }
        },
        "ButtonText": {
          "target": "com.amazonaws.chatbot#CustomActionButtonText",
          "traits": {
            "smithy.api#documentation": "<p>The text of the button that appears on the notification.</p>"
          }
        },
        "Criteria": {
          "target": "com.amazonaws.chatbot#CustomActionAttachmentCriteriaList",
          "traits": {
            "smithy.api#documentation": "<p>The criteria for when a button should be shown based on values in the notification.</p>"
          }
        },
        "Variables": {
          "target": "com.amazonaws.chatbot#CustomActionAttachmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>The variables to extract from the notification.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines when a custom action button should be attached to a notification.</p>"
      }
    },
    "com.amazonaws.chatbot#CustomActionAttachmentCriteria": {
      "type": "structure",
      "members": {
        "Operator": {
          "target": "com.amazonaws.chatbot#CustomActionAttachmentCriteriaOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operation to perform on the named variable.</p>",
            "smithy.api#required": {}
          }
        },
        "VariableName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the variable to operate on.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 100
            },
            "smithy.api#pattern": "^[A-Za-z0-9-_]+$",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that is compared with the actual value of the variable based on the behavior of the operator.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 1024
            },
            "smithy.api#pattern": "^[\\S\\s]+$"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A criteria for when a button should be shown based on values in the notification</p>"
      }
    },
    "com.amazonaws.chatbot#CustomActionAttachmentCriteriaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#CustomActionAttachmentCriteria"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.chatbot#CustomActionAttachmentCriteriaOperator": {
      "type": "enum",
      "members": {
        "HAS_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HAS_VALUE"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS"
          }
        }
      }
    },
    "com.amazonaws.chatbot#CustomActionAttachmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#CustomActionAttachment"
      }
    },
    "com.amazonaws.chatbot#CustomActionAttachmentNotificationType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.chatbot#CustomActionAttachmentVariables": {
      "type": "map",
      "key": {
        "target": "smithy.api#String",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 100
          },
          "smithy.api#pattern": "^[A-Za-z0-9-_]+$"
        }
      },
      "value": {
        "target": "smithy.api#String",
        "traits": {
          "smithy.api#length": {
            "min": 0,
            "max": 1024
          },
          "smithy.api#pattern": "^[\\x21-\\x7F]+$"
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.chatbot#CustomActionButtonText": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^[\\S\\s]+$"
      }
    },
    "com.amazonaws.chatbot#CustomActionDefinition": {
      "type": "structure",
      "members": {
        "CommandText": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The command string to run which may include variables by prefixing with a dollar sign ($).</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 100
            },
            "smithy.api#pattern": "^[\\S\\s]+$",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The definition of the command to run when invoked as an alias or as an action button.</p>"
      }
    },
    "com.amazonaws.chatbot#CustomActionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_-]{1,64}$"
      }
    },
    "com.amazonaws.chatbot#CustomActionResource": {
      "type": "resource",
      "identifiers": {
        "CustomActionArn": {
          "target": "com.amazonaws.chatbot#CustomActionArn"
        }
      },
      "properties": {
        "ActionName": {
          "target": "com.amazonaws.chatbot#CustomActionName"
        },
        "Definition": {
          "target": "com.amazonaws.chatbot#CustomActionDefinition"
        },
        "AliasName": {
          "target": "com.amazonaws.chatbot#CustomActionAliasName"
        },
        "Attachments": {
          "target": "com.amazonaws.chatbot#CustomActionAttachmentList"
        },
        "Tags": {
          "target": "com.amazonaws.chatbot#TagList"
        }
      },
      "create": {
        "target": "com.amazonaws.chatbot#CreateCustomAction"
      },
      "read": {
        "target": "com.amazonaws.chatbot#GetCustomAction"
      },
      "update": {
        "target": "com.amazonaws.chatbot#UpdateCustomAction"
      },
      "delete": {
        "target": "com.amazonaws.chatbot#DeleteCustomAction"
      },
      "list": {
        "target": "com.amazonaws.chatbot#ListCustomActions"
      },
      "traits": {
        "aws.api#arn": {
          "template": "{CustomActionArn}",
          "absolute": true
        },
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#iamResource": {
          "name": "custom-action",
          "relativeDocumentation": "what-is.html"
        }
      }
    },
    "com.amazonaws.chatbot#CustomerCwLogLevel": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 5
        },
        "smithy.api#pattern": "^(ERROR|INFO|NONE)$"
      }
    },
    "com.amazonaws.chatbot#DeleteChimeWebhookConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DeleteChimeWebhookConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DeleteChimeWebhookConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DeleteChimeWebhookConfigurationException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete an AWS Chatbot Chime Webhook Configuration",
          "resources": {
            "required": {
              "ChatbotConfiguration": {}
            }
          }
        },
        "smithy.api#documentation": "<p>Deletes a Amazon Chime webhook configuration for AWS Chatbot.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-chime-webhook-configuration",
          "code": 204
        }
      }
    },
    "com.amazonaws.chatbot#DeleteChimeWebhookConfigurationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DeleteChimeWebhookConfigurationRequest": {
      "type": "structure",
      "members": {
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ChimeWebhookConfiguration to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DeleteChimeWebhookConfigurationResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DeleteCustomAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DeleteCustomActionRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DeleteCustomActionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#InternalServiceError"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.chatbot#UnauthorizedException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete a custom action"
        },
        "smithy.api#documentation": "<p>Deletes a custom action.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete a custom action",
            "input": {
              "CustomActionArn": "arn:aws:chatbot::1234567890:custom-action/my-custom-action"
            },
            "output": {}
          }
        ],
        "smithy.api#http": {
          "code": 204,
          "method": "POST",
          "uri": "/delete-custom-action"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.chatbot#DeleteCustomActionRequest": {
      "type": "structure",
      "members": {
        "CustomActionArn": {
          "target": "com.amazonaws.chatbot#CustomActionArn",
          "traits": {
            "smithy.api#documentation": "<p>The fully defined ARN of the custom action.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "CustomActionArn"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DeleteCustomActionResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DeleteMicrosoftTeamsChannelConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DeleteTeamsChannelConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DeleteTeamsChannelConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DeleteTeamsChannelConfigurationException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete an AWS Chatbot Microsoft Teams Channel Configuration",
          "resources": {
            "required": {
              "ChatbotConfiguration": {}
            }
          }
        },
        "smithy.api#documentation": "<p>Deletes a Microsoft Teams channel configuration for AWS Chatbot</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-ms-teams-channel-configuration",
          "code": 204
        },
        "smithy.api#suppress": ["OperationInputOutputName.input", "OperationInputOutputName.output"]
      }
    },
    "com.amazonaws.chatbot#DeleteMicrosoftTeamsConfiguredTeam": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DeleteTeamsConfiguredTeamRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DeleteTeamsConfiguredTeamResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DeleteTeamsConfiguredTeamException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete the Microsoft Teams configured with AWS Chatbot in an AWS account"
        },
        "smithy.api#documentation": "<p>Deletes the Microsoft Teams team authorization allowing for channels to be configured in that Microsoft Teams team. Note that the Microsoft Teams team must have no channels configured to remove it.\n </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-ms-teams-configured-teams",
          "code": 204
        },
        "smithy.api#suppress": ["OperationInputOutputName.input", "OperationInputOutputName.output"]
      }
    },
    "com.amazonaws.chatbot#DeleteMicrosoftTeamsUserIdentity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DeleteMicrosoftTeamsUserIdentityRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DeleteMicrosoftTeamsUserIdentityResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DeleteMicrosoftTeamsUserIdentityException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete an AWS Chatbot Microsoft Teams User Identity"
        },
        "smithy.api#documentation": "<p>Identifes a user level permission for a channel configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-ms-teams-user-identity",
          "code": 204
        }
      }
    },
    "com.amazonaws.chatbot#DeleteMicrosoftTeamsUserIdentityException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DeleteMicrosoftTeamsUserIdentityRequest": {
      "type": "structure",
      "members": {
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the MicrosoftTeamsChannelConfiguration associated with the user identity to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The Microsoft Teams user ID.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DeleteMicrosoftTeamsUserIdentityResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DeleteSlackChannelConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DeleteSlackChannelConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DeleteSlackChannelConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DeleteSlackChannelConfigurationException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete an AWS Chatbot Slack Channel Configuration",
          "resources": {
            "required": {
              "ChatbotConfiguration": {}
            }
          }
        },
        "smithy.api#documentation": "<p>Deletes a Slack channel configuration for AWS Chatbot</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-slack-channel-configuration",
          "code": 204
        }
      }
    },
    "com.amazonaws.chatbot#DeleteSlackChannelConfigurationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DeleteSlackChannelConfigurationRequest": {
      "type": "structure",
      "members": {
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the SlackChannelConfiguration to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DeleteSlackChannelConfigurationResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DeleteSlackUserIdentity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DeleteSlackUserIdentityRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DeleteSlackUserIdentityResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DeleteSlackUserIdentityException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#ResourceNotFoundException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete an AWS Chatbot Slack User Identity"
        },
        "smithy.api#documentation": "<p>Deletes a user level permission for a Slack channel configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-slack-user-identity",
          "code": 204
        }
      }
    },
    "com.amazonaws.chatbot#DeleteSlackUserIdentityException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DeleteSlackUserIdentityRequest": {
      "type": "structure",
      "members": {
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SlackChannelConfiguration associated with the user identity to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "SlackTeamId": {
          "target": "com.amazonaws.chatbot#SlackTeamId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Slack workspace authorized with AWS Chatbot.</p>",
            "smithy.api#required": {}
          }
        },
        "SlackUserId": {
          "target": "com.amazonaws.chatbot#SlackUserId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the user in Slack</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DeleteSlackUserIdentityResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DeleteSlackWorkspaceAuthorization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DeleteSlackWorkspaceAuthorizationRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DeleteSlackWorkspaceAuthorizationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DeleteSlackWorkspaceAuthorizationFault"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete the Slack workspace authorization with AWS Chatbot, associated with an AWS account"
        },
        "smithy.api#documentation": "<p>Deletes the Slack workspace authorization that allows channels to be configured in that workspace. This requires all configured channels in the workspace to be deleted.\n  </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-slack-workspace-authorization",
          "code": 204
        }
      }
    },
    "com.amazonaws.chatbot#DeleteSlackWorkspaceAuthorizationFault": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was an issue deleting your Slack workspace.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DeleteSlackWorkspaceAuthorizationRequest": {
      "type": "structure",
      "members": {
        "SlackTeamId": {
          "target": "com.amazonaws.chatbot#SlackTeamId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Slack workspace authorized with AWS Chatbot.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DeleteSlackWorkspaceAuthorizationResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DeleteTeamsChannelConfigurationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DeleteTeamsChannelConfigurationRequest": {
      "type": "structure",
      "members": {
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the MicrosoftTeamsChannelConfiguration associated with the user identity to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DeleteTeamsChannelConfigurationResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DeleteTeamsConfiguredTeamException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DeleteTeamsConfiguredTeamRequest": {
      "type": "structure",
      "members": {
        "TeamId": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Microsoft Teams team authorized with AWS Chatbot.</p>\n         <p>To get the team ID, you must perform the initial authorization flow with Microsoft Teams in the AWS Chatbot console. Then you can copy and paste the team ID from the console. For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/teams-setup.html#teams-client-setup\">Step 1: Configure a Microsoft Teams client</a> in the <i> AWS Chatbot Administrator Guide</i>.\n</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DeleteTeamsConfiguredTeamResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DescribeChimeWebhookConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DescribeChimeWebhookConfigurationsRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DescribeChimeWebhookConfigurationsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DescribeChimeWebhookConfigurationsException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list all AWS Chatbot Chime Webhook Configurations in an AWS Account"
        },
        "smithy.api#documentation": "<p>Lists Amazon Chime webhook configurations optionally filtered by ChatConfigurationArn</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-chime-webhook-configurations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "WebhookConfigurations"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.chatbot#DescribeChimeWebhookConfigurationsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DescribeChimeWebhookConfigurationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.chatbot#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.\n  </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.\n  </p>"
          }
        },
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>An optional Amazon Resource Name (ARN) of a ChimeWebhookConfiguration to describe.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DescribeChimeWebhookConfigurationsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.\n </p>"
          }
        },
        "WebhookConfigurations": {
          "target": "com.amazonaws.chatbot#ChimeWebhookConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon Chime webhooks associated with the account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DescribeSlackChannelConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DescribeSlackChannelConfigurationsRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DescribeSlackChannelConfigurationsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DescribeSlackChannelConfigurationsException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list all AWS Chatbot Slack Channel Configurations in an AWS account"
        },
        "smithy.api#documentation": "<p>Lists Slack channel configurations optionally filtered by ChatConfigurationArn</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-slack-channel-configurations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "SlackChannelConfigurations"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.chatbot#DescribeSlackChannelConfigurationsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DescribeSlackChannelConfigurationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.chatbot#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.\n  </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p> An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.\n  </p>"
          }
        },
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>An optional Amazon Resource Name (ARN) of a SlackChannelConfiguration to describe.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DescribeSlackChannelConfigurationsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.\n  </p>"
          }
        },
        "SlackChannelConfigurations": {
          "target": "com.amazonaws.chatbot#SlackChannelConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Slack channel configurations.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DescribeSlackUserIdentities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DescribeSlackUserIdentitiesRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DescribeSlackUserIdentitiesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DescribeSlackUserIdentitiesException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to describe AWS Chatbot Slack User Identities"
        },
        "smithy.api#documentation": "<p>Lists all Slack user identities with a mapped role.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-slack-user-identities",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "SlackUserIdentities"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.chatbot#DescribeSlackUserIdentitiesException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DescribeSlackUserIdentitiesRequest": {
      "type": "structure",
      "members": {
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the SlackChannelConfiguration associated with the user identities to describe.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p> An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.\n  </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.chatbot#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.\n  </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DescribeSlackUserIdentitiesResult": {
      "type": "structure",
      "members": {
        "SlackUserIdentities": {
          "target": "com.amazonaws.chatbot#SlackUserIdentitiesList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Slack User Identities.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p> An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.\n  </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DescribeSlackWorkspaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DescribeSlackWorkspacesRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DescribeSlackWorkspacesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DescribeSlackWorkspacesException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list all authorized Slack workspaces connected to the AWS Account onboarded with AWS Chatbot service"
        },
        "smithy.api#documentation": "<p>List all authorized Slack workspaces connected to the AWS Account onboarded with AWS Chatbot.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-slack-workspaces",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "SlackWorkspaces"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.chatbot#DescribeSlackWorkspacesException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DescribeSlackWorkspacesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.chatbot#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.\n  </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p> An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.\n  </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DescribeSlackWorkspacesResult": {
      "type": "structure",
      "members": {
        "SlackWorkspaces": {
          "target": "com.amazonaws.chatbot#SlackWorkspacesList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Slack workspaces registered with AWS Chatbot.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p> An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.\n  </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DisassociateFromConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DisassociateFromConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DisassociateFromConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#InternalServiceError"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#UnauthorizedException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to disassociate a resource from a configuration",
          "resources": {
            "required": {
              "ChatbotConfiguration": {},
              "custom-action": {}
            }
          }
        },
        "smithy.api#documentation": "<p>Unlink a resource, for example a custom action, from a channel configuration.</p>",
        "smithy.api#examples": [
          {
            "title": "Disassociate a custom action from a configuration",
            "input": {
              "Resource": "arn:aws:chatbot::1234567890:custom-action/my-custom-action",
              "ChatConfiguration": "arn:aws:chatbot::1234567890:chat-configuration/slack-channel/my-channel"
            },
            "output": {}
          }
        ],
        "smithy.api#http": {
          "code": 204,
          "method": "POST",
          "uri": "/disassociate-from-configuration"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.chatbot#DisassociateFromConfigurationRequest": {
      "type": "structure",
      "members": {
        "Resource": {
          "target": "com.amazonaws.chatbot#ResourceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The resource (for example, a custom action) Amazon Resource Name (ARN) to unlink.</p>",
            "smithy.api#required": {}
          }
        },
        "ChatConfiguration": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The channel configuration the resource is being disassociated from.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DisassociateFromConfigurationResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.chatbot#GetAccountPreferences": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#GetAccountPreferencesRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#GetAccountPreferencesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#GetAccountPreferencesException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to retrieve AWS Chatbot account preferences"
        },
        "smithy.api#documentation": "<p>Returns AWS Chatbot account preferences.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/get-account-preferences",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.chatbot#GetAccountPreferencesException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#GetAccountPreferencesRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#GetAccountPreferencesResult": {
      "type": "structure",
      "members": {
        "AccountPreferences": {
          "target": "com.amazonaws.chatbot#AccountPreferences",
          "traits": {
            "smithy.api#documentation": "<p>The preferences related to AWS Chatbot usage in the calling AWS account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#GetCustomAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#GetCustomActionRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#GetCustomActionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#InternalServiceError"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.chatbot#UnauthorizedException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get a custom action"
        },
        "smithy.api#documentation": "<p>Returns a custom action.</p>",
        "smithy.api#examples": [
          {
            "title": "Get a custom action",
            "input": {
              "CustomActionArn": "arn:aws:chatbot::1234567890:custom-action/my-custom-action"
            },
            "output": {
              "CustomAction": {
                "CustomActionArn": "arn:aws:chatbot::1234567890:custom-action/my-custom-action",
                "ActionName": "my-custom-action",
                "Definition": {
                  "CommandText": "lambda invoke $functionName"
                }
              }
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/get-custom-action"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.chatbot#GetCustomActionRequest": {
      "type": "structure",
      "members": {
        "CustomActionArn": {
          "target": "com.amazonaws.chatbot#CustomActionArn",
          "traits": {
            "smithy.api#documentation": "<p>Returns the fully defined Amazon Resource Name (ARN) of the custom action.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "CustomActionArn"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#GetCustomActionResult": {
      "type": "structure",
      "members": {
        "CustomAction": {
          "target": "com.amazonaws.chatbot#CustomAction",
          "traits": {
            "smithy.api#documentation": "<p>Returns the custom action.</p>",
            "smithy.api#nestedProperties": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#GetMicrosoftTeamsChannelConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#GetTeamsChannelConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#GetTeamsChannelConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#GetTeamsChannelConfigurationException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get a single AWS Chatbot Microsoft Teams Channel Configurations in an AWS account"
        },
        "smithy.api#documentation": "<p>Returns a Microsoft Teams channel configuration in an AWS account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/get-ms-teams-channel-configuration",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.api#suppress": ["OperationInputOutputName.input", "OperationInputOutputName.output"]
      }
    },
    "com.amazonaws.chatbot#GetTeamsChannelConfigurationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#GetTeamsChannelConfigurationRequest": {
      "type": "structure",
      "members": {
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the MicrosoftTeamsChannelConfiguration to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#GetTeamsChannelConfigurationResult": {
      "type": "structure",
      "members": {
        "ChannelConfiguration": {
          "target": "com.amazonaws.chatbot#TeamsChannelConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for a Microsoft Teams channel configured with AWS Chatbot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#GuardrailPolicyArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 11,
          "max": 1163
        },
        "smithy.api#pattern": "^(^$|(?!.*\\/aws-service-role\\/.*)arn:aws:iam:[A-Za-z0-9_\\/.-]{0,63}:[A-Za-z0-9_\\/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_\\/+=,@.-]{0,1023})$"
      }
    },
    "com.amazonaws.chatbot#GuardrailPolicyArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#GuardrailPolicyArn"
      }
    },
    "com.amazonaws.chatbot#InternalServiceError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Unexpected error during processing of request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#InvalidParameterException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request input doesn't meet the constraints required by AWS Chatbot.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chatbot#InvalidRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request input doesn't meet the constraints required by AWS Chatbot.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chatbot#LimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have exceeded a service limit for AWS Chatbot.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.chatbot#ListAssociations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#ListAssociationsRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#ListAssociationsResult"
      },
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list resources associated with a configuration",
          "resources": {
            "required": {
              "ChatbotConfiguration": {}
            }
          }
        },
        "smithy.api#documentation": "<p>Lists resources associated with a channel configuration.</p>",
        "smithy.api#examples": [
          {
            "title": "List custom actions associated with a configuration",
            "input": {
              "ChatConfiguration": "arn:aws:chatbot::1234567890:chat-configuration/slack-channel/my-channel"
            },
            "output": {
              "Associations": [
                {
                  "Resource": "arn:aws:chatbot::1234567890:custom-action/my-custom-action"
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/list-associations"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "Associations"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.chatbot#ListAssociationsRequest": {
      "type": "structure",
      "members": {
        "ChatConfiguration": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The channel configuration to list associations for.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1024
            },
            "smithy.api#pattern": "^[\\x20-\\x7F]+$"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#ListAssociationsResult": {
      "type": "structure",
      "members": {
        "Associations": {
          "target": "com.amazonaws.chatbot#AssociationList",
          "traits": {
            "smithy.api#documentation": "<p>The resources associated with this channel configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1024
            },
            "smithy.api#pattern": "^[\\x20-\\x7F]+$"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#ListCustomActions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#ListCustomActionsRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#ListCustomActionsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#InternalServiceError"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#UnauthorizedException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list custom actions"
        },
        "smithy.api#documentation": "<p>Lists custom actions defined in this account.</p>",
        "smithy.api#examples": [
          {
            "title": "List custom actions",
            "input": {},
            "output": {
              "CustomActions": ["arn:aws:chatbot::1234567890:custom-action/my-custom-action"]
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/list-custom-actions"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "CustomActions"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.chatbot#ListCustomActionsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1024
            },
            "smithy.api#pattern": "^[\\x20-\\x7F]+$"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#ListCustomActionsResult": {
      "type": "structure",
      "members": {
        "CustomActions": {
          "target": "com.amazonaws.chatbot#CustomActionArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of custom actions.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1024
            },
            "smithy.api#pattern": "^[\\x20-\\x7F]+$"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#ListMicrosoftTeamsChannelConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#ListTeamsChannelConfigurationsRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#ListTeamsChannelConfigurationsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#ListTeamsChannelConfigurationsException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
[...]
