{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.chatbot#AccountPreferences": {
      "type": "structure",
      "members": {
        "UserAuthorizationRequired": {
          "target": "com.amazonaws.chatbot#BooleanAccountPreference",
          "traits": {
            "smithy.api#documentation": "<p>Enables use of a user role requirement in your chat configuration.</p>"
          }
        },
        "TrainingDataCollectionEnabled": {
          "target": "com.amazonaws.chatbot#BooleanAccountPreference",
          "traits": {
            "smithy.api#documentation": "<p>Turns on training data collection.</p>\n         <p>This helps improve the AWS Chatbot experience by allowing AWS Chatbot to store and use your customer information, such as AWS Chatbot configurations, notifications, user inputs, AWS Chatbot generated responses, and interaction data. This data helps us to continuously improve and develop Artificial Intelligence (AI) technologies. Your data is not shared with any third parties and is protected using sophisticated controls to prevent unauthorized access and misuse. AWS Chatbot does not store or use interactions in chat channels with Amazon Q for training AI technologies for AWS Chatbot.\n  </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Preferences related to AWS Chatbot usage in the calling AWS account.</p>"
      }
    },
    "com.amazonaws.chatbot#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws:(wheatley|chatbot):[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$"
      }
    },
    "com.amazonaws.chatbot#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 1224
        },
        "smithy.api#pattern": "^arn:aws:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$"
      }
    },
    "com.amazonaws.chatbot#AwsUserIdentity": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 15,
          "max": 1101
        },
        "smithy.api#pattern": "^arn:aws:(iam|sts)::[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$"
      }
    },
    "com.amazonaws.chatbot#BooleanAccountPreference": {
      "type": "boolean"
    },
    "com.amazonaws.chatbot#ChatConfigurationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 19,
          "max": 1169
        },
        "smithy.api#pattern": "^arn:aws:(wheatley|chatbot):[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$"
      }
    },
    "com.amazonaws.chatbot#ChimeWebhookConfiguration": {
      "type": "structure",
      "members": {
        "WebhookDescription": {
          "target": "com.amazonaws.chatbot#ChimeWebhookDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the webhook. We recommend using the convention <code>RoomName/WebhookName</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/chime-setup.html\">Tutorial: Get started with Amazon Chime</a> in the <i> AWS Chatbot Administrator Guide</i>.\n </p>",
            "smithy.api#required": {}
          }
        },
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the ChimeWebhookConfiguration.</p>",
            "smithy.api#required": {}
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.chatbot#Arn",
          "traits": {
            "smithy.api#documentation": "<p>A user-defined role that AWS Chatbot assumes. This is not the service-linked role.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/chatbot-iam-policies.html\">IAM policies for AWS Chatbot</a> in the <i> AWS Chatbot Administrator Guide</i>.\n  </p>",
            "smithy.api#required": {}
          }
        },
        "SnsTopicArns": {
          "target": "com.amazonaws.chatbot#SnsTopicArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the SNS topics that deliver notifications to AWS Chatbot.</p>",
            "smithy.api#required": {}
          }
        },
        "ConfigurationName": {
          "target": "com.amazonaws.chatbot#ConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>"
          }
        },
        "LoggingLevel": {
          "target": "com.amazonaws.chatbot#CustomerCwLogLevel",
          "traits": {
            "smithy.api#documentation": "<p>Logging levels include <code>ERROR</code>, <code>INFO</code>, or <code>NONE</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chatbot#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags assigned to a resource. A tag is a string-to-string map of key-value pairs.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.chatbot#ResourceState",
          "traits": {
            "smithy.api#documentation": "<p>Either <code>ENABLED</code> or <code>DISABLED</code>. The resource returns <code>DISABLED</code> if the organization's AWS Chatbot policy has explicitly denied that configuration.\n\t  For example, if Amazon Chime is disabled.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.chatbot#String",
          "traits": {
            "smithy.api#documentation": "<p>Provided if State is <code>DISABLED</code>. Provides context as to why the resource is disabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An AWS Chatbot configuration for Amazon Chime.</p>"
      }
    },
    "com.amazonaws.chatbot#ChimeWebhookConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#ChimeWebhookConfiguration"
      }
    },
    "com.amazonaws.chatbot#ChimeWebhookDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chatbot#ChimeWebhookUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^https://hooks\\.chime\\.aws/incomingwebhooks/[A-Za-z0-9\\-]+?\\?token=[A-Za-z0-9\\-]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chatbot#ConfigurationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_]+$"
      }
    },
    "com.amazonaws.chatbot#ConfiguredTeam": {
      "type": "structure",
      "members": {
        "TenantId": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Microsoft Teams tenant.</p>",
            "smithy.api#required": {}
          }
        },
        "TeamId": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Microsoft Teams authorized with AWS Chatbot.</p>\n         <p>To get the team ID, you must perform the initial authorization flow with Microsoft Teams in the AWS Chatbot console. Then you can copy and paste the team ID from the console. For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/teams-setup.html#teams-client-setup\">Step 1: Configure a Microsoft Teams client</a> in the <i> AWS Chatbot Administrator Guide</i>.\n</p>",
            "smithy.api#required": {}
          }
        },
        "TeamName": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Microsoft Teams Team.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.chatbot#ResourceState",
          "traits": {
            "smithy.api#documentation": "<p>Either <code>ENABLED</code> or <code>DISABLED</code>. The resource returns <code>DISABLED</code> if the organization's AWS Chatbot policy has explicitly denied that configuration.\n\t  For example, if Amazon Chime is disabled.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.chatbot#String",
          "traits": {
            "smithy.api#documentation": "<p>Provided if State is <code>DISABLED</code>. Provides context as to why the resource is disabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A Microsoft Teams team that is authorized with AWS Chatbot.</p>"
      }
    },
    "com.amazonaws.chatbot#ConfiguredTeamsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#ConfiguredTeam"
      }
    },
    "com.amazonaws.chatbot#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was an issue processing your request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.chatbot#CreateChimeWebhookConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#CreateChimeWebhookConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#CreateChimeWebhookConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#ConflictException"
        },
        {
          "target": "com.amazonaws.chatbot#CreateChimeWebhookConfigurationException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an AWS Chatbot configuration for Amazon Chime.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/create-chime-webhook-configuration",
          "code": 201
        }
      }
    },
    "com.amazonaws.chatbot#CreateChimeWebhookConfigurationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#CreateChimeWebhookConfigurationRequest": {
      "type": "structure",
      "members": {
        "WebhookDescription": {
          "target": "com.amazonaws.chatbot#ChimeWebhookDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the webhook. We recommend using the convention <code>RoomName/WebhookName</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/chime-setup.html\">Tutorial: Get started with Amazon Chime</a> in the <i> AWS Chatbot Administrator Guide</i>.\n </p>",
            "smithy.api#required": {}
          }
        },
        "WebhookUrl": {
          "target": "com.amazonaws.chatbot#ChimeWebhookUrl",
          "traits": {
            "smithy.api#documentation": "<p>The URL for the Amazon Chime webhook.</p>",
            "smithy.api#required": {}
          }
        },
        "SnsTopicArns": {
          "target": "com.amazonaws.chatbot#SnsTopicArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the SNS topics that deliver notifications to AWS Chatbot.</p>",
            "smithy.api#required": {}
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.chatbot#Arn",
          "traits": {
            "smithy.api#documentation": "<p>A user-defined role that AWS Chatbot assumes. This is not the service-linked role.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/chatbot-iam-policies.html\">IAM policies for AWS Chatbot</a> in the <i> AWS Chatbot Administrator Guide</i>.\n  </p>",
            "smithy.api#required": {}
          }
        },
        "ConfigurationName": {
          "target": "com.amazonaws.chatbot#ConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "LoggingLevel": {
          "target": "com.amazonaws.chatbot#CustomerCwLogLevel",
          "traits": {
            "smithy.api#documentation": "<p>Logging levels include <code>ERROR</code>, <code>INFO</code>, or <code>NONE</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chatbot#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags assigned to a resource. A tag is a string-to-string map of key-value pairs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#CreateChimeWebhookConfigurationResult": {
      "type": "structure",
      "members": {
        "WebhookConfiguration": {
          "target": "com.amazonaws.chatbot#ChimeWebhookConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Chime webhook configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#CreateMicrosoftTeamsChannelConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#CreateTeamsChannelConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#CreateTeamsChannelConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#ConflictException"
        },
        {
          "target": "com.amazonaws.chatbot#CreateTeamsChannelConfigurationException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an AWS Chatbot configuration for Microsoft Teams.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/create-ms-teams-channel-configuration",
          "code": 201
        },
        "smithy.api#suppress": ["OperationInputOutputName.input", "OperationInputOutputName.output"]
      }
    },
    "com.amazonaws.chatbot#CreateSlackChannelConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#CreateSlackChannelConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#CreateSlackChannelConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#ConflictException"
        },
        {
          "target": "com.amazonaws.chatbot#CreateSlackChannelConfigurationException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an AWS Chatbot confugration for Slack.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/create-slack-channel-configuration",
          "code": 201
        }
      }
    },
    "com.amazonaws.chatbot#CreateSlackChannelConfigurationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#CreateSlackChannelConfigurationRequest": {
      "type": "structure",
      "members": {
        "SlackTeamId": {
          "target": "com.amazonaws.chatbot#SlackTeamId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Slack workspace authorized with AWS Chatbot.</p>",
            "smithy.api#required": {}
          }
        },
        "SlackChannelId": {
          "target": "com.amazonaws.chatbot#SlackChannelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Slack channel.</p>\n         <p>To get this ID, open Slack, right click on the channel name in the left pane, then choose Copy Link. The channel ID is the 9-character string at the end of the URL. For example, ABCBBLZZZ.\n  </p>",
            "smithy.api#required": {}
          }
        },
        "SlackChannelName": {
          "target": "com.amazonaws.chatbot#SlackChannelDisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Slack channel.</p>"
          }
        },
        "SnsTopicArns": {
          "target": "com.amazonaws.chatbot#SnsTopicArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the SNS topics that deliver notifications to AWS Chatbot.</p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.chatbot#Arn",
          "traits": {
            "smithy.api#documentation": "<p>A user-defined role that AWS Chatbot assumes. This is not the service-linked role.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/chatbot-iam-policies.html\">IAM policies for AWS Chatbot</a> in the <i> AWS Chatbot Administrator Guide</i>.\n  </p>",
            "smithy.api#required": {}
          }
        },
        "ConfigurationName": {
          "target": "com.amazonaws.chatbot#ConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "LoggingLevel": {
          "target": "com.amazonaws.chatbot#CustomerCwLogLevel",
          "traits": {
            "smithy.api#documentation": "<p>Logging levels include <code>ERROR</code>, <code>INFO</code>, or <code>NONE</code>.</p>"
          }
        },
        "GuardrailPolicyArns": {
          "target": "com.amazonaws.chatbot#GuardrailPolicyArnList",
          "traits": {
            "smithy.api#documentation": "<p>The list of IAM policy ARNs that are applied as channel guardrails. The AWS managed <code>AdministratorAccess</code> policy is applied by default if this is not set.\n  </p>"
          }
        },
        "UserAuthorizationRequired": {
          "target": "com.amazonaws.chatbot#BooleanAccountPreference",
          "traits": {
            "smithy.api#documentation": "<p>Enables use of a user role requirement in your chat configuration.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chatbot#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags assigned to a resource. A tag is a string-to-string map of key-value pairs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#CreateSlackChannelConfigurationResult": {
      "type": "structure",
      "members": {
        "ChannelConfiguration": {
          "target": "com.amazonaws.chatbot#SlackChannelConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for a Slack channel configured with AWS Chatbot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#CreateTeamsChannelConfigurationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#CreateTeamsChannelConfigurationRequest": {
      "type": "structure",
      "members": {
        "ChannelId": {
          "target": "com.amazonaws.chatbot#TeamsChannelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Microsoft Teams channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.chatbot#TeamsChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Microsoft Teams channel.</p>"
          }
        },
        "TeamId": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Microsoft Teams authorized with AWS Chatbot.</p>\n         <p>To get the team ID, you must perform the initial authorization flow with Microsoft Teams in the AWS Chatbot console. Then you can copy and paste the team ID from the console. For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/teams-setup.html#teams-client-setup\">Step 1: Configure a Microsoft Teams client</a> in the <i> AWS Chatbot Administrator Guide</i>.\n</p>",
            "smithy.api#required": {}
          }
        },
        "TeamName": {
          "target": "com.amazonaws.chatbot#TeamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Microsoft Teams Team.</p>"
          }
        },
        "TenantId": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Microsoft Teams tenant.</p>",
            "smithy.api#required": {}
          }
        },
        "SnsTopicArns": {
          "target": "com.amazonaws.chatbot#SnsTopicArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the SNS topics that deliver notifications to AWS Chatbot.</p>"
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.chatbot#Arn",
          "traits": {
            "smithy.api#documentation": "<p>A user-defined role that AWS Chatbot assumes. This is not the service-linked role.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/chatbot-iam-policies.html\">IAM policies for AWS Chatbot</a> in the <i> AWS Chatbot Administrator Guide</i>.\n  </p>",
            "smithy.api#required": {}
          }
        },
        "ConfigurationName": {
          "target": "com.amazonaws.chatbot#ConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "LoggingLevel": {
          "target": "com.amazonaws.chatbot#CustomerCwLogLevel",
          "traits": {
            "smithy.api#documentation": "<p>Logging levels include <code>ERROR</code>, <code>INFO</code>, or <code>NONE</code>.</p>"
          }
        },
        "GuardrailPolicyArns": {
          "target": "com.amazonaws.chatbot#GuardrailPolicyArnList",
          "traits": {
            "smithy.api#documentation": "<p>The list of IAM policy ARNs that are applied as channel guardrails. The AWS managed <code>AdministratorAccess</code> policy is applied by default if this is not set.\n  </p>"
          }
        },
        "UserAuthorizationRequired": {
          "target": "com.amazonaws.chatbot#BooleanAccountPreference",
          "traits": {
            "smithy.api#documentation": "<p>Enables use of a user role requirement in your chat configuration.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chatbot#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags assigned to a resource. A tag is a string-to-string map of key-value pairs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#CreateTeamsChannelConfigurationResult": {
      "type": "structure",
      "members": {
        "ChannelConfiguration": {
          "target": "com.amazonaws.chatbot#TeamsChannelConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for a Microsoft Teams channel configured with AWS Chatbot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#CustomerCwLogLevel": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 5
        },
        "smithy.api#pattern": "^(ERROR|INFO|NONE)$"
      }
    },
    "com.amazonaws.chatbot#DeleteChimeWebhookConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DeleteChimeWebhookConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DeleteChimeWebhookConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DeleteChimeWebhookConfigurationException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Amazon Chime webhook configuration for AWS Chatbot.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-chime-webhook-configuration",
          "code": 204
        }
      }
    },
    "com.amazonaws.chatbot#DeleteChimeWebhookConfigurationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DeleteChimeWebhookConfigurationRequest": {
      "type": "structure",
      "members": {
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ChimeWebhookConfiguration to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DeleteChimeWebhookConfigurationResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DeleteMicrosoftTeamsChannelConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DeleteTeamsChannelConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DeleteTeamsChannelConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DeleteTeamsChannelConfigurationException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Microsoft Teams channel configuration for AWS Chatbot</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-ms-teams-channel-configuration",
          "code": 204
        },
        "smithy.api#suppress": ["OperationInputOutputName.input", "OperationInputOutputName.output"]
      }
    },
    "com.amazonaws.chatbot#DeleteMicrosoftTeamsConfiguredTeam": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DeleteTeamsConfiguredTeamRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DeleteTeamsConfiguredTeamResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DeleteTeamsConfiguredTeamException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the Microsoft Teams team authorization allowing for channels to be configured in that Microsoft Teams team. Note that the Microsoft Teams team must have no channels configured to remove it.\n </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-ms-teams-configured-teams",
          "code": 204
        },
        "smithy.api#suppress": ["OperationInputOutputName.input", "OperationInputOutputName.output"]
      }
    },
    "com.amazonaws.chatbot#DeleteMicrosoftTeamsUserIdentity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DeleteMicrosoftTeamsUserIdentityRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DeleteMicrosoftTeamsUserIdentityResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DeleteMicrosoftTeamsUserIdentityException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Identifes a user level permission for a channel configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-ms-teams-user-identity",
          "code": 204
        }
      }
    },
    "com.amazonaws.chatbot#DeleteMicrosoftTeamsUserIdentityException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DeleteMicrosoftTeamsUserIdentityRequest": {
      "type": "structure",
      "members": {
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the MicrosoftTeamsChannelConfiguration associated with the user identity to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The Microsoft Teams user ID.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DeleteMicrosoftTeamsUserIdentityResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DeleteSlackChannelConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DeleteSlackChannelConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DeleteSlackChannelConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DeleteSlackChannelConfigurationException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Slack channel configuration for AWS Chatbot</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-slack-channel-configuration",
          "code": 204
        }
      }
    },
    "com.amazonaws.chatbot#DeleteSlackChannelConfigurationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DeleteSlackChannelConfigurationRequest": {
      "type": "structure",
      "members": {
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the SlackChannelConfiguration to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DeleteSlackChannelConfigurationResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DeleteSlackUserIdentity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DeleteSlackUserIdentityRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DeleteSlackUserIdentityResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DeleteSlackUserIdentityException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a user level permission for a Slack channel configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-slack-user-identity",
          "code": 204
        }
      }
    },
    "com.amazonaws.chatbot#DeleteSlackUserIdentityException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DeleteSlackUserIdentityRequest": {
      "type": "structure",
      "members": {
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SlackChannelConfiguration associated with the user identity to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "SlackTeamId": {
          "target": "com.amazonaws.chatbot#SlackTeamId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Slack workspace authorized with AWS Chatbot.</p>",
            "smithy.api#required": {}
          }
        },
        "SlackUserId": {
          "target": "com.amazonaws.chatbot#SlackUserId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the user in Slack</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DeleteSlackUserIdentityResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DeleteSlackWorkspaceAuthorization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DeleteSlackWorkspaceAuthorizationRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DeleteSlackWorkspaceAuthorizationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DeleteSlackWorkspaceAuthorizationFault"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the Slack workspace authorization that allows channels to be configured in that workspace. This requires all configured channels in the workspace to be deleted.\n  </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-slack-workspace-authorization",
          "code": 204
        }
      }
    },
    "com.amazonaws.chatbot#DeleteSlackWorkspaceAuthorizationFault": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was an issue deleting your Slack workspace.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DeleteSlackWorkspaceAuthorizationRequest": {
      "type": "structure",
      "members": {
        "SlackTeamId": {
          "target": "com.amazonaws.chatbot#SlackTeamId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Slack workspace authorized with AWS Chatbot.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DeleteSlackWorkspaceAuthorizationResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DeleteTeamsChannelConfigurationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DeleteTeamsChannelConfigurationRequest": {
      "type": "structure",
      "members": {
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the MicrosoftTeamsChannelConfiguration associated with the user identity to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DeleteTeamsChannelConfigurationResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DeleteTeamsConfiguredTeamException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DeleteTeamsConfiguredTeamRequest": {
      "type": "structure",
      "members": {
        "TeamId": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Microsoft Teams team authorized with AWS Chatbot.</p>\n         <p>To get the team ID, you must perform the initial authorization flow with Microsoft Teams in the AWS Chatbot console. Then you can copy and paste the team ID from the console. For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/teams-setup.html#teams-client-setup\">Step 1: Configure a Microsoft Teams client</a> in the <i> AWS Chatbot Administrator Guide</i>.\n</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DeleteTeamsConfiguredTeamResult": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DescribeChimeWebhookConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DescribeChimeWebhookConfigurationsRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DescribeChimeWebhookConfigurationsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DescribeChimeWebhookConfigurationsException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists Amazon Chime webhook configurations optionally filtered by ChatConfigurationArn</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-chime-webhook-configurations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "WebhookConfigurations"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.chatbot#DescribeChimeWebhookConfigurationsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DescribeChimeWebhookConfigurationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.chatbot#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.\n  </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.\n  </p>"
          }
        },
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>An optional Amazon Resource Number (ARN) of a ChimeWebhookConfiguration to describe.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DescribeChimeWebhookConfigurationsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.\n </p>"
          }
        },
        "WebhookConfigurations": {
          "target": "com.amazonaws.chatbot#ChimeWebhookConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon Chime webhooks associated with the account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DescribeSlackChannelConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DescribeSlackChannelConfigurationsRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DescribeSlackChannelConfigurationsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DescribeSlackChannelConfigurationsException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists Slack channel configurations optionally filtered by ChatConfigurationArn</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-slack-channel-configurations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "SlackChannelConfigurations"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.chatbot#DescribeSlackChannelConfigurationsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DescribeSlackChannelConfigurationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.chatbot#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.\n  </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p> An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.\n  </p>"
          }
        },
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>An optional Amazon Resource Number (ARN) of a SlackChannelConfiguration to describe.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DescribeSlackChannelConfigurationsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.\n  </p>"
          }
        },
        "SlackChannelConfigurations": {
          "target": "com.amazonaws.chatbot#SlackChannelConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Slack channel configurations.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DescribeSlackUserIdentities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DescribeSlackUserIdentitiesRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DescribeSlackUserIdentitiesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DescribeSlackUserIdentitiesException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all Slack user identities with a mapped role.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-slack-user-identities",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "SlackUserIdentities"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.chatbot#DescribeSlackUserIdentitiesException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DescribeSlackUserIdentitiesRequest": {
      "type": "structure",
      "members": {
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the SlackChannelConfiguration associated with the user identities to describe.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p> An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.\n  </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.chatbot#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.\n  </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DescribeSlackUserIdentitiesResult": {
      "type": "structure",
      "members": {
        "SlackUserIdentities": {
          "target": "com.amazonaws.chatbot#SlackUserIdentitiesList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Slack User Identities.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p> An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.\n  </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#DescribeSlackWorkspaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#DescribeSlackWorkspacesRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#DescribeSlackWorkspacesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#DescribeSlackWorkspacesException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List all authorized Slack workspaces connected to the AWS Account onboarded with AWS Chatbot.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describe-slack-workspaces",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "SlackWorkspaces"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.chatbot#DescribeSlackWorkspacesException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#DescribeSlackWorkspacesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.chatbot#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.\n  </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p> An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.\n  </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#DescribeSlackWorkspacesResult": {
      "type": "structure",
      "members": {
        "SlackWorkspaces": {
          "target": "com.amazonaws.chatbot#SlackWorkspacesList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Slack workspaces registered with AWS Chatbot.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p> An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.\n  </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.chatbot#GetAccountPreferences": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#GetAccountPreferencesRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#GetAccountPreferencesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#GetAccountPreferencesException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns AWS Chatbot account preferences.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/get-account-preferences",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.chatbot#GetAccountPreferencesException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#GetAccountPreferencesRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#GetAccountPreferencesResult": {
      "type": "structure",
      "members": {
        "AccountPreferences": {
          "target": "com.amazonaws.chatbot#AccountPreferences",
          "traits": {
            "smithy.api#documentation": "<p>The preferences related to AWS Chatbot usage in the calling AWS account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#GetMicrosoftTeamsChannelConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#GetTeamsChannelConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#GetTeamsChannelConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#GetTeamsChannelConfigurationException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a Microsoft Teams channel configuration in an AWS account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/get-ms-teams-channel-configuration",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.api#suppress": ["OperationInputOutputName.input", "OperationInputOutputName.output"]
      }
    },
    "com.amazonaws.chatbot#GetTeamsChannelConfigurationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#GetTeamsChannelConfigurationRequest": {
      "type": "structure",
      "members": {
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the MicrosoftTeamsChannelConfiguration to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#GetTeamsChannelConfigurationResult": {
      "type": "structure",
      "members": {
        "ChannelConfiguration": {
          "target": "com.amazonaws.chatbot#TeamsChannelConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for a Microsoft Teams channel configured with AWS Chatbot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#GuardrailPolicyArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 11,
          "max": 1163
        },
        "smithy.api#pattern": "^(^$|(?!.*\\/aws-service-role\\/.*)arn:aws:iam:[A-Za-z0-9_\\/.-]{0,63}:[A-Za-z0-9_\\/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_\\/+=,@.-]{0,1023})$"
      }
    },
    "com.amazonaws.chatbot#GuardrailPolicyArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#GuardrailPolicyArn"
      }
    },
    "com.amazonaws.chatbot#InternalServiceError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Unexpected error during processing of request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#InvalidParameterException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request input doesn't meet the constraints required by AWS Chatbot.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chatbot#InvalidRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request input doesn't meet the constraints required by AWS Chatbot.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chatbot#LimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have exceeded a service limit for AWS Chatbot.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.chatbot#ListMicrosoftTeamsChannelConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#ListTeamsChannelConfigurationsRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#ListTeamsChannelConfigurationsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#ListTeamsChannelConfigurationsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all AWS Chatbot Microsoft Teams channel configurations in an AWS account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/list-ms-teams-channel-configurations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "TeamChannelConfigurations"
        },
        "smithy.api#readonly": {},
        "smithy.api#suppress": ["OperationInputOutputName.input", "OperationInputOutputName.output"]
      }
    },
    "com.amazonaws.chatbot#ListMicrosoftTeamsConfiguredTeams": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#ListMicrosoftTeamsConfiguredTeamsRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#ListMicrosoftTeamsConfiguredTeamsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#ListMicrosoftTeamsConfiguredTeamsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all authorized Microsoft Teams for an AWS Account</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/list-ms-teams-configured-teams",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "ConfiguredTeams"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.chatbot#ListMicrosoftTeamsConfiguredTeamsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#ListMicrosoftTeamsConfiguredTeamsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.chatbot#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#ListMicrosoftTeamsConfiguredTeamsResult": {
      "type": "structure",
      "members": {
        "ConfiguredTeams": {
          "target": "com.amazonaws.chatbot#ConfiguredTeamsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of teams in Microsoft Teams that are configured with AWS Chatbot.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#ListMicrosoftTeamsUserIdentities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#ListMicrosoftTeamsUserIdentitiesRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#ListMicrosoftTeamsUserIdentitiesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.chatbot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.chatbot#ListMicrosoftTeamsUserIdentitiesException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>A list all Microsoft Teams user identities with a mapped role.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/list-ms-teams-user-identities",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "TeamsUserIdentities"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.chatbot#ListMicrosoftTeamsUserIdentitiesException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#ListMicrosoftTeamsUserIdentitiesRequest": {
      "type": "structure",
      "members": {
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the MicrosoftTeamsChannelConfiguration associated with the user identities to list.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.\n  </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.chatbot#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.\n  </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#ListMicrosoftTeamsUserIdentitiesResult": {
      "type": "structure",
      "members": {
        "TeamsUserIdentities": {
          "target": "com.amazonaws.chatbot#TeamsUserIdentitiesList",
          "traits": {
            "smithy.api#documentation": "<p>User level permissions associated to a channel configuration.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.\n  </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#InternalServiceError"
        },
        {
          "target": "com.amazonaws.chatbot#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.chatbot#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all of the tags associated with the Amazon Resource Name (ARN) that you specify. The resource can be a user, server, or role.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/list-tags-for-resource",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.chatbot#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.chatbot#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN you specified to list the tags of.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.chatbot#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that are assigned to a resource, usually for the purpose of grouping and searching for items. Tags are metadata that you define.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#ListTeamsChannelConfigurationsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chatbot#ListTeamsChannelConfigurationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.chatbot#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.</p>"
          }
        },
        "TeamId": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Microsoft Teams authorized with AWS Chatbot.</p>\n         <p>To get the team ID, you must perform the initial authorization flow with Microsoft Teams in the AWS Chatbot console. Then you can copy and paste the team ID from the console. For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/teams-setup.html#teams-client-setup\">Step 1: Configure a Microsoft Teams client</a> in the <i> AWS Chatbot Administrator Guide</i>.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#ListTeamsChannelConfigurationsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.chatbot#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.</p>"
          }
        },
        "TeamChannelConfigurations": {
          "target": "com.amazonaws.chatbot#TeamChannelConfigurationsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of AWS Chatbot channel configurations for Microsoft Teams.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.chatbot#PaginationToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1276
        },
        "smithy.api#pattern": "^[a-zA-Z0-9=\\/+_.\\-,#:\\\\\"{}]{4,1276}$"
      }
    },
    "com.amazonaws.chatbot#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We were unable to find the resource for your request</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.chatbot#ResourceState": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(ENABLED|DISABLED)$"
      }
    },
    "com.amazonaws.chatbot#ServiceUnavailableException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.chatbot#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can’t process your request right now because of a server issue. Try again later.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.chatbot#SlackChannelConfiguration": {
      "type": "structure",
      "members": {
        "SlackTeamName": {
          "target": "com.amazonaws.chatbot#SlackTeamName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the Slack workspace.</p>",
            "smithy.api#required": {}
          }
        },
        "SlackTeamId": {
          "target": "com.amazonaws.chatbot#SlackTeamId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Slack workspace authorized with Amazon Chime.</p>",
            "smithy.api#required": {}
          }
        },
        "SlackChannelId": {
          "target": "com.amazonaws.chatbot#SlackChannelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Slack channel.</p>\n         <p>To get this ID, open Slack, right click on the channel name in the left pane, then choose Copy Link. The channel ID is the 9-character string at the end of the URL. For example, ABCBBLZZZ.\n  </p>",
            "smithy.api#required": {}
          }
        },
        "SlackChannelName": {
          "target": "com.amazonaws.chatbot#SlackChannelDisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Slack channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the SlackChannelConfiguration.</p>",
            "smithy.api#required": {}
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.chatbot#Arn",
          "traits": {
            "smithy.api#documentation": "<p>A user-defined role that AWS Chatbot assumes. This is not the service-linked role.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/chatbot-iam-policies.html\">IAM policies for AWS Chatbot</a> in the <i> AWS Chatbot Administrator Guide</i>.\n  </p>",
            "smithy.api#required": {}
          }
        },
        "SnsTopicArns": {
          "target": "com.amazonaws.chatbot#SnsTopicArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the SNS topics that deliver notifications to AWS Chatbot.</p>",
            "smithy.api#required": {}
          }
        },
        "ConfigurationName": {
          "target": "com.amazonaws.chatbot#ConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>"
          }
        },
        "LoggingLevel": {
          "target": "com.amazonaws.chatbot#CustomerCwLogLevel",
          "traits": {
            "smithy.api#documentation": "<p>Logging levels include <code>ERROR</code>, <code>INFO</code>, or <code>NONE</code>.</p>"
          }
        },
        "GuardrailPolicyArns": {
          "target": "com.amazonaws.chatbot#GuardrailPolicyArnList",
          "traits": {
            "smithy.api#documentation": "<p>The list of IAM policy ARNs that are applied as channel guardrails. The AWS managed <code>AdministratorAccess</code> policy is applied by default if this is not set.\n  </p>"
          }
        },
        "UserAuthorizationRequired": {
          "target": "com.amazonaws.chatbot#BooleanAccountPreference",
          "traits": {
            "smithy.api#documentation": "<p>Enables use of a user role requirement in your chat configuration.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chatbot#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags assigned to a resource. A tag is a string-to-string map of key-value pairs.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.chatbot#ResourceState",
          "traits": {
            "smithy.api#documentation": "<p>Either <code>ENABLED</code> or <code>DISABLED</code>. The resource returns <code>DISABLED</code> if the organization's AWS Chatbot policy has explicitly denied that configuration.\n\t  For example, if Amazon Chime is disabled.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.chatbot#String",
          "traits": {
            "smithy.api#documentation": "<p>Provided if State is <code>DISABLED</code>. Provides context as to why the resource is disabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An AWS Chatbot configuration for Slack.</p>"
      }
    },
    "com.amazonaws.chatbot#SlackChannelConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#SlackChannelConfiguration"
      }
    },
    "com.amazonaws.chatbot#SlackChannelDisplayName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chatbot#SlackChannelId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[A-Za-z0-9]+$"
      }
    },
    "com.amazonaws.chatbot#SlackTeamId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[0-9A-Z]{1,255}$"
      }
    },
    "com.amazonaws.chatbot#SlackTeamName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.chatbot#SlackUserId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(.*)$"
      }
    },
    "com.amazonaws.chatbot#SlackUserIdentitiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#SlackUserIdentity"
      }
    },
    "com.amazonaws.chatbot#SlackUserIdentity": {
      "type": "structure",
      "members": {
        "IamRoleArn": {
          "target": "com.amazonaws.chatbot#Arn",
          "traits": {
            "smithy.api#documentation": "<p>A user-defined role that AWS Chatbot assumes. This is not the service-linked role.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/chatbot-iam-policies.html\">IAM policies for AWS Chatbot</a> in the <i> AWS Chatbot Administrator Guide</i>.\n  </p>",
            "smithy.api#required": {}
          }
        },
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the SlackChannelConfiguration associated with the user identity to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "SlackTeamId": {
          "target": "com.amazonaws.chatbot#SlackTeamId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Slack workspace authorized with AWS Chatbot.</p>",
            "smithy.api#required": {}
          }
        },
        "SlackUserId": {
          "target": "com.amazonaws.chatbot#SlackUserId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the user in Slack</p>",
            "smithy.api#required": {}
          }
        },
        "AwsUserIdentity": {
          "target": "com.amazonaws.chatbot#AwsUserIdentity",
          "traits": {
            "smithy.api#documentation": "<p>The AWS user identity ARN used to associate a Slack user ID with an IAM Role.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Identifes a user level permission for a channel configuration. </p>"
      }
    },
    "com.amazonaws.chatbot#SlackWorkspace": {
      "type": "structure",
      "members": {
        "SlackTeamId": {
          "target": "com.amazonaws.chatbot#SlackTeamId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Slack workspace authorized with AWS Chatbot.</p>",
            "smithy.api#required": {}
          }
        },
        "SlackTeamName": {
          "target": "com.amazonaws.chatbot#SlackTeamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Slack workspace.</p>",
            "smithy.api#required": {}
          }
        },
        "State": {
          "target": "com.amazonaws.chatbot#ResourceState",
          "traits": {
            "smithy.api#documentation": "<p>Either <code>ENABLED</code> or <code>DISABLED</code>. The resource returns <code>DISABLED</code> if the organization's AWS Chatbot policy has explicitly denied that configuration.\n\t  For example, if Amazon Chime is disabled.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.chatbot#String",
          "traits": {
            "smithy.api#documentation": "<p>Provided if State is <code>DISABLED</code>. Provides context as to why the resource is disabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A Slack workspace. </p>"
      }
    },
    "com.amazonaws.chatbot#SlackWorkspacesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#SlackWorkspace"
      }
    },
    "com.amazonaws.chatbot#SnsTopicArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#Arn"
      }
    },
    "com.amazonaws.chatbot#String": {
      "type": "string"
    },
    "com.amazonaws.chatbot#Tag": {
      "type": "structure",
      "members": {
        "TagKey": {
          "target": "com.amazonaws.chatbot#TagKey",
          "traits": {
            "smithy.api#documentation": "<p>The key of the tag.</p>",
            "smithy.api#required": {}
          }
        },
        "TagValue": {
          "target": "com.amazonaws.chatbot#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the tag.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A key-value pair. A tag consists of a tag key and a tag value. Tag keys and tag values are both required, but tag values can be empty (null) strings.</p>\n         <important>\n            <p>Do not include confidential or sensitive information in this field. </p>\n         </important>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/allocation-tag-restrictions.html\">User-Defined Tag Restrictions</a> in the <i>AWS Billing and Cost Management User Guide</i>.</p>"
      }
    },
    "com.amazonaws.chatbot#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.chatbot#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.chatbot#TagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.chatbot#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chatbot#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.chatbot#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chatbot#InternalServiceError"
        },
        {
          "target": "com.amazonaws.chatbot#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.chatbot#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chatbot#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches a key-value pair to a resource, as identified by its Amazon Resource Name (ARN). Resources are users, servers, roles, and other entities.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tag-resource",
          "code": 200
        }
      }
    },
    "com.amazonaws.chatbot#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.chatbot#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chatbot#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to apply to the configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chatbot#TagResourceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chatbot#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.chatbot#Tags": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#Tag"
      }
    },
    "com.amazonaws.chatbot#TeamChannelConfigurationsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#TeamsChannelConfiguration"
      }
    },
    "com.amazonaws.chatbot#TeamName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(.*)$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chatbot#TeamsChannelConfiguration": {
      "type": "structure",
      "members": {
        "ChannelId": {
          "target": "com.amazonaws.chatbot#TeamsChannelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Microsoft Teams channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.chatbot#TeamsChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Microsoft Teams channel.</p>"
          }
        },
        "TeamId": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Microsoft Teams authorized with AWS Chatbot.</p>\n         <p>To get the team ID, you must perform the initial authorization flow with Microsoft Teams in the AWS Chatbot console. Then you can copy and paste the team ID from the console. For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/teams-setup.html#teams-client-setup\">Step 1: Configure a Microsoft Teams client</a> in the <i> AWS Chatbot Administrator Guide</i>.\n</p>",
            "smithy.api#required": {}
          }
        },
        "TeamName": {
          "target": "com.amazonaws.chatbot#TeamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Microsoft Teams Team.</p>"
          }
        },
        "TenantId": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Microsoft Teams tenant.</p>",
            "smithy.api#required": {}
          }
        },
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the MicrosoftTeamsChannelConfiguration associated with the user identity to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "IamRoleArn": {
          "target": "com.amazonaws.chatbot#Arn",
          "traits": {
            "smithy.api#documentation": "<p>A user-defined role that AWS Chatbot assumes. This is not the service-linked role.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/chatbot-iam-policies.html\">IAM policies for AWS Chatbot</a> in the <i> AWS Chatbot Administrator Guide</i>.\n  </p>",
            "smithy.api#required": {}
          }
        },
        "SnsTopicArns": {
          "target": "com.amazonaws.chatbot#SnsTopicArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the SNS topics that deliver notifications to AWS Chatbot.</p>",
            "smithy.api#required": {}
          }
        },
        "ConfigurationName": {
          "target": "com.amazonaws.chatbot#ConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>"
          }
        },
        "LoggingLevel": {
          "target": "com.amazonaws.chatbot#CustomerCwLogLevel",
          "traits": {
            "smithy.api#documentation": "<p>Logging levels include <code>ERROR</code>, <code>INFO</code>, or <code>NONE</code>.</p>"
          }
        },
        "GuardrailPolicyArns": {
          "target": "com.amazonaws.chatbot#GuardrailPolicyArnList",
          "traits": {
            "smithy.api#documentation": "<p>The list of IAM policy ARNs that are applied as channel guardrails. The AWS managed <code>AdministratorAccess</code> policy is applied by default if this is not set.\n  </p>"
          }
        },
        "UserAuthorizationRequired": {
          "target": "com.amazonaws.chatbot#BooleanAccountPreference",
          "traits": {
            "smithy.api#documentation": "<p>Enables use of a user role requirement in your chat configuration.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chatbot#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags assigned to a resource. A tag is a string-to-string map of key-value pairs.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.chatbot#ResourceState",
          "traits": {
            "smithy.api#documentation": "<p>Either <code>ENABLED</code> or <code>DISABLED</code>. The resource returns <code>DISABLED</code> if the organization's AWS Chatbot policy has explicitly denied that configuration.\n\t  For example, if Amazon Chime is disabled.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.chatbot#String",
          "traits": {
            "smithy.api#documentation": "<p>Provided if State is <code>DISABLED</code>. Provides context as to why the resource is disabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An AWS Chatbot configuration for Microsoft Teams.</p>"
      }
    },
    "com.amazonaws.chatbot#TeamsChannelId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^([a-zA-Z0-9-_=+\\/.,])*%3[aA]([a-zA-Z0-9-_=+\\/.,])*%40([a-zA-Z0-9-_=+\\/.,])*$"
      }
    },
    "com.amazonaws.chatbot#TeamsChannelName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^(.*)$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chatbot#TeamsUserIdentitiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chatbot#TeamsUserIdentity"
      }
    },
    "com.amazonaws.chatbot#TeamsUserIdentity": {
      "type": "structure",
      "members": {
        "IamRoleArn": {
          "target": "com.amazonaws.chatbot#Arn",
          "traits": {
            "smithy.api#documentation": "<p>A user-defined role that AWS Chatbot assumes. This is not the service-linked role.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/chatbot-iam-policies.html\">IAM policies for AWS Chatbot</a> in the <i> AWS Chatbot Administrator Guide</i>.\n  </p>",
            "smithy.api#required": {}
          }
        },
        "ChatConfigurationArn": {
          "target": "com.amazonaws.chatbot#ChatConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the MicrosoftTeamsChannelConfiguration associated with the user identity to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "TeamId": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Microsoft Teams authorized with AWS Chatbot.</p>\n         <p>To get the team ID, you must perform the initial authorization flow with Microsoft Teams in the AWS Chatbot console. Then you can copy and paste the team ID from the console. For more information, see <a href=\"https://docs.aws.amazon.com/chatbot/latest/adminguide/teams-setup.html#teams-client-setup\">Step 1: Configure a Microsoft Teams client</a> in the <i> AWS Chatbot Administrator Guide</i>.\n</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The Microsoft Teams user ID.</p>"
          }
        },
        "AwsUserIdentity": {
          "target": "com.amazonaws.chatbot#AwsUserIdentity",
          "traits": {
            "smithy.api#documentation": "<p>The AWS user identity ARN used to associate a Microsoft Teams user Identity with an IAM Role.</p>"
          }
        },
        "TeamsChannelId": {
          "target": "com.amazonaws.chatbot#TeamsChannelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Microsoft Teams channel.</p>"
          }
        },
        "TeamsTenantId": {
          "target": "com.amazonaws.chatbot#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Microsoft Teams tenant.</p>"
          }
        }
      },
      "traits": {
[...]
