{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.chimesdkmediapipelines#ActiveSpeakerOnlyConfiguration": {
      "type": "structure",
      "members": {
        "ActiveSpeakerPosition": {
          "target": "com.amazonaws.chimesdkmediapipelines#ActiveSpeakerPosition",
          "traits": {
            "smithy.api#documentation": "<p>The position of the <code>ActiveSpeakerOnly</code> video tile.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the configuration for an <code>ActiveSpeakerOnly</code> video tile.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ActiveSpeakerPosition": {
      "type": "enum",
      "members": {
        "TopLeft": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TopLeft"
          }
        },
        "TopRight": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TopRight"
          }
        },
        "BottomLeft": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BottomLeft"
          }
        },
        "BottomRight": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BottomRight"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^arn[\\/\\:\\-\\_\\.a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#AmazonTranscribeCallAnalyticsProcessorConfiguration": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.chimesdkmediapipelines#CallAnalyticsLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code in the configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "VocabularyName": {
          "target": "com.amazonaws.chimesdkmediapipelines#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the custom vocabulary to use when processing a transcription. Note\n         that vocabulary names are case sensitive.</p>\n         <p>If the language of the specified custom vocabulary doesn't match the language identified in your media, the custom vocabulary is not applied to your transcription.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-vocabulary.html\">Custom vocabularies</a> in the <i>Amazon Transcribe Developer Guide</i>.</p>\n         <p>Length Constraints: Minimum length of 1. Maximum length of 200. </p>"
          }
        },
        "VocabularyFilterName": {
          "target": "com.amazonaws.chimesdkmediapipelines#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the custom vocabulary filter to use when processing a\n         transcription. Note that vocabulary filter names are case sensitive.</p>\n         <p>If the language of the specified custom vocabulary filter doesn't match the language identified in your media, the vocabulary filter is not applied to your transcription.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/vocabulary-filtering.html\">Using vocabulary filtering with unwanted words</a> \n         in the <i>Amazon Transcribe Developer Guide</i>.</p>\n         <p>Length Constraints: Minimum length of 1. Maximum length of 200. </p>"
          }
        },
        "VocabularyFilterMethod": {
          "target": "com.amazonaws.chimesdkmediapipelines#VocabularyFilterMethod",
          "traits": {
            "smithy.api#documentation": "<p>Specifies how to apply a vocabulary filter to a transcript.</p>\n         <p>To replace words with <b>***</b>, choose <code>mask</code>.</p>\n         <p>To delete words, choose <code>remove</code>.</p>\n         <p>To flag words without changing them, choose <code>tag</code>. </p>"
          }
        },
        "LanguageModelName": {
          "target": "com.amazonaws.chimesdkmediapipelines#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the custom language model to use when processing a transcription.\n         Note that language model names are case sensitive.</p>\n         <p>The language of the specified language model must match the language code specified\n         in the transcription request. If the languages don't match, the custom language model isn't\n         applied. Language mismatches don't generate errors or warnings.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-language-models.html\">Custom language models</a> in the <i>Amazon Transcribe Developer Guide</i>.</p>"
          }
        },
        "EnablePartialResultsStabilization": {
          "target": "com.amazonaws.chimesdkmediapipelines#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Enables partial result stabilization for your transcription. Partial result stabilization can reduce latency in your output, but may impact accuracy. \n         For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html#streaming-partial-result-stabilization\">Partial-result stabilization</a> \n         in the <i>Amazon Transcribe Developer Guide</i>.</p>"
          }
        },
        "PartialResultsStability": {
          "target": "com.amazonaws.chimesdkmediapipelines#PartialResultsStability",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the level of stability to use when you enable partial results stabilization\n            (<code>EnablePartialResultsStabilization</code>).</p>\n         <p>Low stability provides the highest accuracy. High stability transcribes faster, but with slightly lower accuracy.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html#streaming-partial-result-stabilization\">Partial-result stabilization</a> \n         in the <i>Amazon Transcribe Developer Guide</i>.</p>"
          }
        },
        "ContentIdentificationType": {
          "target": "com.amazonaws.chimesdkmediapipelines#ContentType",
          "traits": {
            "smithy.api#documentation": "<p>Labels all personally identifiable information (PII) identified in your transcript.</p>\n         <p>Content identification is performed at the segment level; PII specified in <code>PiiEntityTypes</code> is flagged upon complete transcription of an audio segment.</p>\n         <p>You can’t set <code>ContentIdentificationType</code> and <code>ContentRedactionType</code> in the same request. If you do, your request returns a <code>BadRequestException</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/pii-redaction.html\">Redacting or identifying personally identifiable information</a> \n         in the <i>Amazon Transcribe Developer Guide</i>.</p>"
          }
        },
        "ContentRedactionType": {
          "target": "com.amazonaws.chimesdkmediapipelines#ContentType",
          "traits": {
            "smithy.api#documentation": "<p>Redacts all personally identifiable information (PII) identified in your transcript.</p>\n         <p>Content redaction is performed at the segment level; PII specified in <code>PiiEntityTypes</code> is redacted upon complete transcription of an audio segment.</p>\n         <p>You can’t set <code>ContentRedactionType</code> and <code>ContentIdentificationType</code> in the same request. If you do, your request returns a <code>BadRequestException</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/pii-redaction.html\">Redacting or identifying personally identifiable information</a> \n         in the <i>Amazon Transcribe Developer Guide</i>.</p>"
          }
        },
        "PiiEntityTypes": {
          "target": "com.amazonaws.chimesdkmediapipelines#PiiEntityTypes",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the types of personally identifiable information (PII) to redact from a transcript. You can include as many types as you'd like, or you can select <code>ALL</code>.</p>\n         <p>To include <code>PiiEntityTypes</code> in your Call Analytics request, you must also include <code>ContentIdentificationType</code> or <code>ContentRedactionType</code>, but you can't include both. </p>\n         <p>Values must be comma-separated and can include: <code>ADDRESS</code>, <code>BANK_ACCOUNT_NUMBER</code>, <code>BANK_ROUTING</code>, <code>CREDIT_DEBIT_CVV</code>, \n               <code>CREDIT_DEBIT_EXPIRY</code>, <code>CREDIT_DEBIT_NUMBER</code>, <code>EMAIL</code>, \n               <code>NAME</code>, <code>PHONE</code>, <code>PIN</code>, <code>SSN</code>, or <code>ALL</code>.</p>\n         <p>Length Constraints: Minimum length of 1. Maximum length of 300.</p>"
          }
        },
        "FilterPartialResults": {
          "target": "com.amazonaws.chimesdkmediapipelines#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>If true, <code>UtteranceEvents</code> with <code>IsPartial: true</code> are filtered out of the insights target.</p>"
          }
        },
        "PostCallAnalyticsSettings": {
          "target": "com.amazonaws.chimesdkmediapipelines#PostCallAnalyticsSettings",
          "traits": {
            "smithy.api#documentation": "<p>The settings for a post-call analysis task in an analytics configuration.</p>"
          }
        },
        "CallAnalyticsStreamCategories": {
          "target": "com.amazonaws.chimesdkmediapipelines#CategoryNameList",
          "traits": {
            "smithy.api#documentation": "<p>By default, all <code>CategoryEvents</code> are sent to the insights target. If this parameter is specified, only included categories are sent to the insights target. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains the configuration settings for an Amazon Transcribe call\n         analytics processor.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#AmazonTranscribeProcessorConfiguration": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.chimesdkmediapipelines#CallAnalyticsLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code that represents the language spoken in your audio.</p>\n         <p>If you're unsure of the language spoken in your audio, consider using\n            <code>IdentifyLanguage</code> to enable automatic language identification.</p>\n         <p>For a list of languages that real-time Call Analytics supports, see the <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages table</a> \n         in the <i>Amazon Transcribe Developer Guide</i>.</p>"
          }
        },
        "VocabularyName": {
          "target": "com.amazonaws.chimesdkmediapipelines#VocabularyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom vocabulary that you specified in your Call Analytics\n         request.</p>\n         <p>Length Constraints: Minimum length of 1. Maximum length of 200.</p>"
          }
        },
        "VocabularyFilterName": {
          "target": "com.amazonaws.chimesdkmediapipelines#VocabularyFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom vocabulary filter that you specified in your Call Analytics\n         request.</p>\n         <p>Length Constraints: Minimum length of 1. Maximum length of 200.</p>"
          }
        },
        "VocabularyFilterMethod": {
          "target": "com.amazonaws.chimesdkmediapipelines#VocabularyFilterMethod",
          "traits": {
            "smithy.api#documentation": "<p>The vocabulary filtering method used in your Call Analytics transcription.</p>"
          }
        },
        "ShowSpeakerLabel": {
          "target": "com.amazonaws.chimesdkmediapipelines#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Enables speaker partitioning (diarization) in your transcription output. Speaker partitioning labels the speech from individual speakers in your media file.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/diarization.html\">Partitioning speakers (diarization)</a> in the <i>Amazon Transcribe Developer Guide</i>.</p>"
          }
        },
        "EnablePartialResultsStabilization": {
          "target": "com.amazonaws.chimesdkmediapipelines#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Enables partial result stabilization for your transcription. Partial result stabilization can reduce latency in your output, but may impact accuracy.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html#streaming-partial-result-stabilization\">Partial-result stabilization</a> \n         in the <i>Amazon Transcribe Developer Guide</i>.</p>"
          }
        },
        "PartialResultsStability": {
          "target": "com.amazonaws.chimesdkmediapipelines#PartialResultsStability",
          "traits": {
            "smithy.api#documentation": "<p>The level of stability to use when you enable partial results stabilization\n            (<code>EnablePartialResultsStabilization</code>).</p>\n         <p>Low stability provides the highest accuracy. High stability transcribes faster, but with slightly lower accuracy.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/streaming.html#streaming-partial-result-stabilization\">Partial-result stabilization</a> \n         in the <i>Amazon Transcribe Developer Guide</i>.</p>"
          }
        },
        "ContentIdentificationType": {
          "target": "com.amazonaws.chimesdkmediapipelines#ContentType",
          "traits": {
            "smithy.api#documentation": "<p>Labels all personally identifiable information (PII) identified in your transcript.</p>\n         <p>Content identification is performed at the segment level; PII specified in\n            <code>PiiEntityTypes</code> is flagged upon complete transcription of an audio\n         segment.</p>\n         <p>You can’t set <code>ContentIdentificationType</code> and\n            <code>ContentRedactionType</code> in the same request. If you set both, your request\n         returns a <code>BadRequestException</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/pii-redaction.html\">Redacting or identifying personally identifiable information</a> \n         in the <i>Amazon Transcribe Developer Guide</i>.</p>"
          }
        },
        "ContentRedactionType": {
          "target": "com.amazonaws.chimesdkmediapipelines#ContentType",
          "traits": {
            "smithy.api#documentation": "<p>Redacts all personally identifiable information (PII) identified in your transcript.</p>\n         <p>Content redaction is performed at the segment level; PII specified in PiiEntityTypes is redacted upon complete transcription of an audio segment.</p>\n         <p>You can’t set ContentRedactionType and ContentIdentificationType in the same request. If you set both, your request returns a <code>BadRequestException</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/pii-redaction.html\">Redacting or identifying personally identifiable information</a> \n         in the <i>Amazon Transcribe Developer Guide</i>.</p>"
          }
        },
        "PiiEntityTypes": {
          "target": "com.amazonaws.chimesdkmediapipelines#PiiEntityTypes",
          "traits": {
            "smithy.api#documentation": "<p>The types of personally identifiable information (PII) to redact from a transcript. You\n         can include as many types as you'd like, or you can select <code>ALL</code>.</p>\n         <p>To include <code>PiiEntityTypes</code> in your Call Analytics request, you must also include <code>ContentIdentificationType</code> or <code>ContentRedactionType</code>, but you can't include both.</p>\n         <p>Values must be comma-separated and can include: <code>ADDRESS</code>, <code>BANK_ACCOUNT_NUMBER</code>, <code>BANK_ROUTING</code>, <code>CREDIT_DEBIT_CVV</code>, \n         <code>CREDIT_DEBIT_EXPIRY</code>, <code>CREDIT_DEBIT_NUMBER</code>, <code>EMAIL</code>, \n         <code>NAME</code>, <code>PHONE</code>, <code>PIN</code>, <code>SSN</code>, or <code>ALL</code>.</p>\n         <p>If you leave this parameter empty, the default behavior is equivalent to <code>ALL</code>.</p>"
          }
        },
        "LanguageModelName": {
          "target": "com.amazonaws.chimesdkmediapipelines#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom language model that you want to use when processing your\n         transcription. Note that language model names are case sensitive.</p>\n         <p>The language of the specified language model must match the language code you specify in your transcription request. If the languages don't match, the custom language model isn't applied. \n            There are no errors or warnings associated with a language mismatch.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-language-models.html\">Custom language models</a> in the <i>Amazon Transcribe Developer Guide</i>.</p>"
          }
        },
        "FilterPartialResults": {
          "target": "com.amazonaws.chimesdkmediapipelines#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>If true, <code>TranscriptEvents</code> with <code>IsPartial: true</code> are filtered out of the insights target.</p>"
          }
        },
        "IdentifyLanguage": {
          "target": "com.amazonaws.chimesdkmediapipelines#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Turns language identification on or off.</p>"
          }
        },
        "LanguageOptions": {
          "target": "com.amazonaws.chimesdkmediapipelines#LanguageOptions",
          "traits": {
            "smithy.api#documentation": "<p>The language options for the transcription, such as automatic language detection.</p>"
          }
        },
        "PreferredLanguage": {
          "target": "com.amazonaws.chimesdkmediapipelines#CallAnalyticsLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The preferred language for the transcription.</p>"
          }
        },
        "VocabularyNames": {
          "target": "com.amazonaws.chimesdkmediapipelines#VocabularyNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the custom vocabulary or vocabularies used during transcription.</p>"
          }
        },
        "VocabularyFilterNames": {
          "target": "com.amazonaws.chimesdkmediapipelines#VocabularyFilterNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the custom vocabulary filter or filters using during transcription.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains the configuration settings for an Amazon Transcribe processor.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^arn[\\/\\:\\-\\_\\.a-zA-Z0-9]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ArtifactsConcatenationConfiguration": {
      "type": "structure",
      "members": {
        "Audio": {
          "target": "com.amazonaws.chimesdkmediapipelines#AudioConcatenationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the audio artifacts concatenation.</p>",
            "smithy.api#required": {}
          }
        },
        "Video": {
          "target": "com.amazonaws.chimesdkmediapipelines#VideoConcatenationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the video artifacts concatenation.</p>",
            "smithy.api#required": {}
          }
        },
        "Content": {
          "target": "com.amazonaws.chimesdkmediapipelines#ContentConcatenationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the content artifacts concatenation.</p>",
            "smithy.api#required": {}
          }
        },
        "DataChannel": {
          "target": "com.amazonaws.chimesdkmediapipelines#DataChannelConcatenationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the data channel artifacts concatenation.</p>",
            "smithy.api#required": {}
          }
        },
        "TranscriptionMessages": {
          "target": "com.amazonaws.chimesdkmediapipelines#TranscriptionMessagesConcatenationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the transcription messages artifacts concatenation.</p>",
            "smithy.api#required": {}
          }
        },
        "MeetingEvents": {
          "target": "com.amazonaws.chimesdkmediapipelines#MeetingEventsConcatenationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the meeting events artifacts concatenation.</p>",
            "smithy.api#required": {}
          }
        },
        "CompositedVideo": {
          "target": "com.amazonaws.chimesdkmediapipelines#CompositedVideoConcatenationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the composited video artifacts concatenation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for the artifacts concatenation.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ArtifactsConcatenationState": {
      "type": "enum",
      "members": {
        "Enabled": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "Disabled": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ArtifactsConfiguration": {
      "type": "structure",
      "members": {
        "Audio": {
          "target": "com.amazonaws.chimesdkmediapipelines#AudioArtifactsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the audio artifacts.</p>",
            "smithy.api#required": {}
          }
        },
        "Video": {
          "target": "com.amazonaws.chimesdkmediapipelines#VideoArtifactsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the video artifacts.</p>",
            "smithy.api#required": {}
          }
        },
        "Content": {
          "target": "com.amazonaws.chimesdkmediapipelines#ContentArtifactsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the content artifacts.</p>",
            "smithy.api#required": {}
          }
        },
        "CompositedVideo": {
          "target": "com.amazonaws.chimesdkmediapipelines#CompositedVideoArtifactsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Enables video compositing.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for the artifacts.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ArtifactsState": {
      "type": "enum",
      "members": {
        "Enabled": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        },
        "Disabled": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disabled"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#AttendeeIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmediapipelines#GuidString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#AudioArtifactsConcatenationState": {
      "type": "enum",
      "members": {
        "Enabled": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enabled"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#AudioArtifactsConfiguration": {
      "type": "structure",
      "members": {
        "MuxType": {
          "target": "com.amazonaws.chimesdkmediapipelines#AudioMuxType",
          "traits": {
            "smithy.api#documentation": "<p>The MUX type of the audio artifact configuration object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The audio artifact configuration object.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#AudioChannelsOption": {
      "type": "enum",
      "members": {
        "Stereo": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stereo"
          }
        },
        "Mono": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Mono"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#AudioConcatenationConfiguration": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.chimesdkmediapipelines#AudioArtifactsConcatenationState",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables the configuration object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The audio artifact concatenation configuration object.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#AudioMuxType": {
      "type": "enum",
      "members": {
        "AudioOnly": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AudioOnly"
          }
        },
        "AudioWithActiveSpeakerVideo": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AudioWithActiveSpeakerVideo"
          }
        },
        "AudioWithCompositedVideo": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AudioWithCompositedVideo"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#AudioSampleRateOption": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^44100|48000$"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#AwsRegion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "^([a-z]+-){2,}\\d+$"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#BadRequestException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmediapipelines#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmediapipelines#String"
        },
        "RequestId": {
          "target": "com.amazonaws.chimesdkmediapipelines#String",
          "traits": {
            "smithy.api#documentation": "<p>The request ID associated with the call responsible for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input parameters don't match the service's restrictions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chimesdkmediapipelines#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.chimesdkmediapipelines#BorderColor": {
      "type": "enum",
      "members": {
        "Black": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Black"
          }
        },
        "Blue": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Blue"
          }
        },
        "Red": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Red"
          }
        },
        "Green": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Green"
          }
        },
        "White": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "White"
          }
        },
        "Yellow": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Yellow"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#BorderThickness": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CallAnalyticsLanguageCode": {
      "type": "enum",
      "members": {
        "EN_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en-US"
          }
        },
        "EN_GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en-GB"
          }
        },
        "ES_US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "es-US"
          }
        },
        "FR_CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr-CA"
          }
        },
        "FR_FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fr-FR"
          }
        },
        "EN_AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "en-AU"
          }
        },
        "IT_IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "it-IT"
          }
        },
        "DE_DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "de-DE"
          }
        },
        "PT_BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pt-BR"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CanvasOrientation": {
      "type": "enum",
      "members": {
        "Landscape": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Landscape"
          }
        },
        "Portrait": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Portrait"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CategoryName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[0-9a-zA-Z._-]+$"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CategoryNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmediapipelines#CategoryName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ChannelDefinition": {
      "type": "structure",
      "members": {
        "ChannelId": {
          "target": "com.amazonaws.chimesdkmediapipelines#ChannelId",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The channel ID.</p>",
            "smithy.api#required": {}
          }
        },
        "ParticipantRole": {
          "target": "com.amazonaws.chimesdkmediapipelines#ParticipantRole",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the audio in a channel belongs to the <code>AGENT</code> or <code>CUSTOMER</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines an audio channel in a Kinesis video stream.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ChannelDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmediapipelines#ChannelDefinition"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ChannelId": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ChimeSDKMediaPipelinesService": {
      "type": "service",
      "version": "2021-07-15",
      "operations": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaCapturePipeline"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaConcatenationPipeline"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaInsightsPipeline"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaInsightsPipelineConfiguration"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaLiveConnectorPipeline"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaPipelineKinesisVideoStreamPool"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaStreamPipeline"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#DeleteMediaCapturePipeline"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#DeleteMediaInsightsPipelineConfiguration"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#DeleteMediaPipeline"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#DeleteMediaPipelineKinesisVideoStreamPool"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#GetMediaCapturePipeline"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#GetMediaInsightsPipelineConfiguration"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#GetMediaPipeline"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#GetMediaPipelineKinesisVideoStreamPool"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#GetSpeakerSearchTask"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#GetVoiceToneAnalysisTask"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ListMediaCapturePipelines"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ListMediaInsightsPipelineConfigurations"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ListMediaPipelineKinesisVideoStreamPools"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ListMediaPipelines"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#StartSpeakerSearchTask"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#StartVoiceToneAnalysisTask"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#StopSpeakerSearchTask"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#StopVoiceToneAnalysisTask"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#TagResource"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UntagResource"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UpdateMediaInsightsPipelineConfiguration"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UpdateMediaInsightsPipelineStatus"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UpdateMediaPipelineKinesisVideoStreamPool"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Chime SDK Media Pipelines",
          "arnNamespace": "chime",
          "cloudFormationName": "ChimeSDKMediaPipelines",
          "cloudTrailEventSource": "chimesdkmediapipelines.amazonaws.com",
          "endpointPrefix": "media-pipelines-chime"
        },
        "aws.auth#sigv4": {
          "name": "chime"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>The Amazon Chime SDK media pipeline APIs in this section allow software developers to\n         create Amazon Chime SDK media pipelines that capture, concatenate, or stream your Amazon Chime SDK meetings. For more information about media pipelines, see <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/APIReference/API_Operations_Amazon_Chime_SDK_Media_Pipelines.html\">Amazon Chime SDK media pipelines</a>. </p>",
        "smithy.api#title": "Amazon Chime SDK Media Pipelines",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://media-pipelines-chime-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://media-pipelines-chime-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://media-pipelines-chime.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://media-pipelines-chime.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ChimeSdkMeetingConcatenationConfiguration": {
      "type": "structure",
      "members": {
        "ArtifactsConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#ArtifactsConcatenationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the artifacts in an Amazon Chime SDK meeting concatenation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration object of the Amazon Chime SDK meeting concatenation for a specified\n         media pipeline.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ChimeSdkMeetingConfiguration": {
      "type": "structure",
      "members": {
        "SourceConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#SourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The source configuration for a specified media pipeline.</p>"
          }
        },
        "ArtifactsConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#ArtifactsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the artifacts in an Amazon Chime SDK meeting.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration object of the Amazon Chime SDK meeting for a specified media pipeline. <code>SourceType</code> must be <code>ChimeSdkMeeting</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ChimeSdkMeetingLiveConnectorConfiguration": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.chimesdkmediapipelines#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The configuration object's Chime SDK meeting ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "MuxType": {
          "target": "com.amazonaws.chimesdkmediapipelines#LiveConnectorMuxType",
          "traits": {
            "smithy.api#documentation": "<p>The configuration object's multiplex type.</p>",
            "smithy.api#required": {}
          }
        },
        "CompositedVideo": {
          "target": "com.amazonaws.chimesdkmediapipelines#CompositedVideoArtifactsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The media pipeline's composited video.</p>"
          }
        },
        "SourceConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#SourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The source configuration settings of the media pipeline's configuration object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The media pipeline's configuration object.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        },
        "smithy.api#pattern": "^[-_a-zA-Z0-9]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CompositedVideoArtifactsConfiguration": {
      "type": "structure",
      "members": {
        "Layout": {
          "target": "com.amazonaws.chimesdkmediapipelines#LayoutOption",
          "traits": {
            "smithy.api#documentation": "<p>The layout setting, such as <code>GridView</code> in the configuration object.</p>"
          }
        },
        "Resolution": {
          "target": "com.amazonaws.chimesdkmediapipelines#ResolutionOption",
          "traits": {
            "smithy.api#documentation": "<p>The video resolution setting in the configuration object. Default: HD at 1280 x 720. FHD resolution: 1920 x 1080.</p>"
          }
        },
        "GridViewConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#GridViewConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The <code>GridView</code> configuration setting.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the configuration for compositing video artifacts.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CompositedVideoConcatenationConfiguration": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.chimesdkmediapipelines#ArtifactsConcatenationState",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables the configuration object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The composited video configuration object for a specified\n         media pipeline. <code>SourceType</code> must be\n         <code>ChimeSdkMeeting</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ConcatenationSink": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.chimesdkmediapipelines#ConcatenationSinkType",
          "traits": {
            "smithy.api#documentation": "<p>The type of data sink in the configuration object.</p>",
            "smithy.api#required": {}
          }
        },
        "S3BucketSinkConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#S3BucketSinkConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings for an Amazon S3 bucket sink.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data sink of the configuration object.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ConcatenationSinkList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmediapipelines#ConcatenationSink"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ConcatenationSinkType": {
      "type": "enum",
      "members": {
        "S3Bucket": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3Bucket"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ConcatenationSource": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.chimesdkmediapipelines#ConcatenationSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of concatenation source in a configuration object.</p>",
            "smithy.api#required": {}
          }
        },
        "MediaCapturePipelineSourceConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaCapturePipelineSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The concatenation settings for the media pipeline in a configuration object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The source type and media pipeline configuration settings in a configuration object.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ConcatenationSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmediapipelines#ConcatenationSource"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ConcatenationSourceType": {
      "type": "enum",
      "members": {
        "MediaCapturePipeline": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MediaCapturePipeline"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ConflictException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmediapipelines#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmediapipelines#String"
        },
        "RequestId": {
          "target": "com.amazonaws.chimesdkmediapipelines#String",
          "traits": {
            "smithy.api#documentation": "<p>The request ID associated with the call responsible for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be processed because of conflict in the current state of the\n         resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ContentArtifactsConfiguration": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.chimesdkmediapipelines#ArtifactsState",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the content artifact is enabled or disabled.</p>",
            "smithy.api#required": {}
          }
        },
        "MuxType": {
          "target": "com.amazonaws.chimesdkmediapipelines#ContentMuxType",
          "traits": {
            "smithy.api#documentation": "<p>The MUX type of the artifact configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The content artifact object.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ContentConcatenationConfiguration": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.chimesdkmediapipelines#ArtifactsConcatenationState",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables the configuration object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The composited content configuration object for a specified\n         media pipeline. </p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ContentMuxType": {
      "type": "enum",
      "members": {
        "ContentOnly": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ContentOnly"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ContentRedactionOutput": {
      "type": "enum",
      "members": {
        "REDACTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redacted"
          }
        },
        "REDACTED_AND_UNREDACTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "redacted_and_unredacted"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ContentShareLayoutOption": {
      "type": "enum",
      "members": {
        "PresenterOnly": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PresenterOnly"
          }
        },
        "Horizontal": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Horizontal"
          }
        },
        "Vertical": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Vertical"
          }
        },
        "ActiveSpeakerOnly": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ActiveSpeakerOnly"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ContentType": {
      "type": "enum",
      "members": {
        "PII": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PII"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CornerRadius": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaCapturePipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaCapturePipelineRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaCapturePipelineResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a media pipeline.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sdk-media-capture-pipelines",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaCapturePipelineRequest": {
      "type": "structure",
      "members": {
        "SourceType": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaPipelineSourceType",
          "traits": {
            "smithy.api#documentation": "<p>Source type from which the media artifacts are captured. A Chime SDK Meeting is the only\n         supported source.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.chimesdkmediapipelines#Arn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the source from which the media artifacts are captured.</p>",
            "smithy.api#required": {}
          }
        },
        "SinkType": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaPipelineSinkType",
          "traits": {
            "smithy.api#documentation": "<p>Destination type to which the media artifacts are saved. You must use an S3 bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "SinkArn": {
          "target": "com.amazonaws.chimesdkmediapipelines#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the sink type.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkmediapipelines#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the client request. The token makes the API request idempotent. Use a unique token for each media pipeline request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "ChimeSdkMeetingConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#ChimeSdkMeetingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for a specified media pipeline. <code>SourceType</code> must\n         be <code>ChimeSdkMeeting</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkmediapipelines#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag key-value pairs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaCapturePipelineResponse": {
      "type": "structure",
      "members": {
        "MediaCapturePipeline": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaCapturePipeline",
          "traits": {
            "smithy.api#documentation": "<p>A media pipeline object, the ID, source type, source ARN, sink type, and sink\n         ARN of a media pipeline object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaConcatenationPipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaConcatenationPipelineRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaConcatenationPipelineResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a media concatenation pipeline.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sdk-media-concatenation-pipelines",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaConcatenationPipelineRequest": {
      "type": "structure",
      "members": {
        "Sources": {
          "target": "com.amazonaws.chimesdkmediapipelines#ConcatenationSourceList",
          "traits": {
            "smithy.api#documentation": "<p>An object that specifies the sources for the media concatenation pipeline.</p>",
            "smithy.api#required": {}
          }
        },
        "Sinks": {
          "target": "com.amazonaws.chimesdkmediapipelines#ConcatenationSinkList",
          "traits": {
            "smithy.api#documentation": "<p>An object that specifies the data sinks for the media concatenation pipeline.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkmediapipelines#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the client request. The token makes the API request\n         idempotent. Use a unique token for each media concatenation pipeline request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkmediapipelines#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the media concatenation pipeline.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaConcatenationPipelineResponse": {
      "type": "structure",
      "members": {
        "MediaConcatenationPipeline": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaConcatenationPipeline",
          "traits": {
            "smithy.api#documentation": "<p>A media concatenation pipeline object, the ID, source type, <code>MediaPipelineARN</code>, and sink of a\n         media concatenation pipeline object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaInsightsPipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaInsightsPipelineRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaInsightsPipelineResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a media insights pipeline.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/media-insights-pipelines",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaInsightsPipelineConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaInsightsPipelineConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaInsightsPipelineConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains the static configurations for a media insights\n         pipeline.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/media-insights-pipeline-configurations",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaInsightsPipelineConfigurationRequest": {
      "type": "structure",
      "members": {
        "MediaInsightsPipelineConfigurationName": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaInsightsPipelineConfigurationNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the media insights pipeline configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceAccessRoleArn": {
          "target": "com.amazonaws.chimesdkmediapipelines#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role used by the service to access Amazon Web Services resources,\n         including <code>Transcribe</code> and <code>Transcribe Call Analytics</code>, on the \n         caller’s behalf.</p>",
            "smithy.api#required": {}
          }
        },
        "RealTimeAlertConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#RealTimeAlertConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings for the real-time alerts in a media insights pipeline configuration.</p>"
          }
        },
        "Elements": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaInsightsPipelineConfigurationElements",
          "traits": {
            "smithy.api#documentation": "<p>The elements in the request, such as a processor for Amazon Transcribe or a sink for a Kinesis Data Stream.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkmediapipelines#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the media insights pipeline configuration.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkmediapipelines#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the media insights pipeline configuration request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaInsightsPipelineConfigurationResponse": {
      "type": "structure",
      "members": {
        "MediaInsightsPipelineConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaInsightsPipelineConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings for the media insights pipeline.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaInsightsPipelineRequest": {
      "type": "structure",
      "members": {
        "MediaInsightsPipelineConfigurationArn": {
          "target": "com.amazonaws.chimesdkmediapipelines#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the pipeline's configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "KinesisVideoStreamSourceRuntimeConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#KinesisVideoStreamSourceRuntimeConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The runtime configuration for the Kinesis video stream source of the media insights\n         pipeline.</p>"
          }
        },
        "MediaInsightsRuntimeMetadata": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaInsightsRuntimeMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The runtime metadata for the media insights pipeline. Consists of a key-value map of strings.</p>"
          }
        },
        "KinesisVideoStreamRecordingSourceRuntimeConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#KinesisVideoStreamRecordingSourceRuntimeConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The runtime configuration for the Kinesis video recording stream source.</p>"
          }
        },
        "S3RecordingSinkRuntimeConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#S3RecordingSinkRuntimeConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The runtime configuration for the S3 recording sink. If specified, the settings in this structure override any settings in <code>S3RecordingSinkConfiguration</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkmediapipelines#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the media insights pipeline.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkmediapipelines#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the media insights pipeline request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaInsightsPipelineResponse": {
      "type": "structure",
      "members": {
        "MediaInsightsPipeline": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaInsightsPipeline",
          "traits": {
            "smithy.api#documentation": "<p>The media insights pipeline object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaLiveConnectorPipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaLiveConnectorPipelineRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaLiveConnectorPipelineResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a media live connector pipeline in an Amazon Chime SDK meeting.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sdk-media-live-connector-pipelines",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaLiveConnectorPipelineRequest": {
      "type": "structure",
      "members": {
        "Sources": {
          "target": "com.amazonaws.chimesdkmediapipelines#LiveConnectorSourceList",
          "traits": {
            "smithy.api#documentation": "<p>The media live connector pipeline's data sources.</p>",
            "smithy.api#required": {}
          }
        },
        "Sinks": {
          "target": "com.amazonaws.chimesdkmediapipelines#LiveConnectorSinkList",
          "traits": {
            "smithy.api#documentation": "<p>The media live connector pipeline's data sinks.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkmediapipelines#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The token assigned to the client making the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkmediapipelines#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the media live connector pipeline.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaLiveConnectorPipelineResponse": {
      "type": "structure",
      "members": {
        "MediaLiveConnectorPipeline": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaLiveConnectorPipeline",
          "traits": {
            "smithy.api#documentation": "<p>The new media live connector pipeline.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaPipelineKinesisVideoStreamPool": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaPipelineKinesisVideoStreamPoolRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaPipelineKinesisVideoStreamPoolResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Kinesis video stream pool for the media pipeline.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/media-pipeline-kinesis-video-stream-pools",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaPipelineKinesisVideoStreamPoolRequest": {
      "type": "structure",
      "members": {
        "StreamConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#KinesisVideoStreamConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings for the video stream.</p>",
            "smithy.api#required": {}
          }
        },
        "PoolName": {
          "target": "com.amazonaws.chimesdkmediapipelines#KinesisVideoStreamPoolName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the video stream pool.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkmediapipelines#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The token assigned to the client making the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkmediapipelines#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the video stream pool.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaPipelineKinesisVideoStreamPoolResponse": {
      "type": "structure",
      "members": {
        "KinesisVideoStreamPoolConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#KinesisVideoStreamPoolConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the Kinesis video stream pool.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaStreamPipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaStreamPipelineRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaStreamPipelineResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a streaming media pipeline.</p>",
[...]
