{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.chimesdkmessaging#AllowNotifications": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "FILTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILTERED"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#AppInstanceUserMembershipSummary": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelMembershipType",
          "traits": {
            "smithy.api#documentation": "<p>The type of <code>ChannelMembership</code>.</p>"
          }
        },
        "ReadMarkerTimestamp": {
          "target": "com.amazonaws.chimesdkmessaging#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which an <code>AppInstanceUser</code> last marked a channel as read.</p>"
          }
        },
        "SubChannelId": {
          "target": "com.amazonaws.chimesdkmessaging#SubChannelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the SubChannel that the <code>AppInstanceUser</code> is a member of.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the membership details of an <code>AppInstanceUser</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#AssociateChannelFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmessaging#AssociateChannelFlowRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmessaging#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a channel flow with a channel. Once associated, all messages to that channel go through channel flow processors. To stop processing, use the \n         <code>DisassociateChannelFlow</code> API.</p>\n      \n         <note>\n            <p>Only administrators or channel moderators can associate a channel flow. The <code>x-amz-chime-bearer</code> request header is mandatory. Use the <code>AppInstanceUserArn</code> \n         of the user that makes the API call as the value in the header.</p>\n         </note>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/channels/{ChannelArn}/channel-flow",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#AssociateChannelFlowRequest": {
      "type": "structure",
      "members": {
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ChannelFlowArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel flow.</p>",
            "smithy.api#required": {}
          }
        },
        "ChimeBearer": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUserArn</code> of the user making the API call.</p>",
            "smithy.api#httpHeader": "x-amz-chime-bearer",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#BadRequestException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmessaging#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmessaging#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input parameters don't match the service's restrictions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chimesdkmessaging#BatchChannelMemberships": {
      "type": "structure",
      "members": {
        "InvitedBy": {
          "target": "com.amazonaws.chimesdkmessaging#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the member who invited another member.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelMembershipType",
          "traits": {
            "smithy.api#documentation": "<p>The membership types set for the channel users.</p>"
          }
        },
        "Members": {
          "target": "com.amazonaws.chimesdkmessaging#Members",
          "traits": {
            "smithy.api#documentation": "<p>The users successfully added to the request.</p>"
          }
        },
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel to which you're adding users.</p>"
          }
        },
        "SubChannelId": {
          "target": "com.amazonaws.chimesdkmessaging#SubChannelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the SubChannel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The membership information, including member ARNs, the channel ARN, and membership\n         types.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#BatchCreateChannelMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmessaging#BatchCreateChannelMembershipRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmessaging#BatchCreateChannelMembershipResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmessaging#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a specified number of users to a channel. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channels/{ChannelArn}/memberships?operation=batch-create",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#BatchCreateChannelMembershipError": {
      "type": "structure",
      "members": {
        "MemberArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUserArn</code> of the member that the service couldn't add.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.chimesdkmessaging#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.chimesdkmessaging#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of failed member ARNs, error codes, and error messages.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#BatchCreateChannelMembershipErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmessaging#BatchCreateChannelMembershipError"
      }
    },
    "com.amazonaws.chimesdkmessaging#BatchCreateChannelMembershipRequest": {
      "type": "structure",
      "members": {
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel to which you're adding users.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelMembershipType",
          "traits": {
            "smithy.api#documentation": "<p>The membership type of a user, <code>DEFAULT</code> or <code>HIDDEN</code>. Default\n         members are always returned as part of <code>ListChannelMemberships</code>. Hidden members\n         are only returned if the type filter in <code>ListChannelMemberships</code> equals\n            <code>HIDDEN</code>. Otherwise hidden members are not returned. This is only supported\n         by moderators.</p>"
          }
        },
        "MemberArns": {
          "target": "com.amazonaws.chimesdkmessaging#MemberArns",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUserArn</code>s of the members you want to add to the channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ChimeBearer": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
            "smithy.api#httpHeader": "x-amz-chime-bearer",
            "smithy.api#required": {}
          }
        },
        "SubChannelId": {
          "target": "com.amazonaws.chimesdkmessaging#SubChannelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the SubChannel in the request. </p>\n         <note>\n            <p>Only required when creating membership in a SubChannel for a moderator in an elastic channel.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#BatchCreateChannelMembershipResponse": {
      "type": "structure",
      "members": {
        "BatchChannelMemberships": {
          "target": "com.amazonaws.chimesdkmessaging#BatchChannelMemberships",
          "traits": {
            "smithy.api#documentation": "<p>The list of channel memberships in the response.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.chimesdkmessaging#BatchCreateChannelMembershipErrors",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the memberships in the request, a list of the\n         memberships is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#CallbackIdType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 32,
          "max": 64
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#Channel": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.chimesdkmessaging#NonEmptyResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a channel.</p>"
          }
        },
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a channel.</p>"
          }
        },
        "Mode": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelMode",
          "traits": {
            "smithy.api#documentation": "<p>The mode of the channel.</p>"
          }
        },
        "Privacy": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelPrivacy",
          "traits": {
            "smithy.api#documentation": "<p>The channel's privacy setting.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkmessaging#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The channel's metadata.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.chimesdkmessaging#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUser</code> who created the channel.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkmessaging#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the <code>AppInstanceUser</code> created the channel.</p>"
          }
        },
        "LastMessageTimestamp": {
          "target": "com.amazonaws.chimesdkmessaging#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which a member sent the last message in the channel.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.chimesdkmessaging#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which a channel was last updated.</p>"
          }
        },
        "ChannelFlowArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel flow.</p>"
          }
        },
        "ElasticChannelConfiguration": {
          "target": "com.amazonaws.chimesdkmessaging#ElasticChannelConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The attributes required to configure and create an elastic channel. An elastic channel can support a maximum of 1-million members.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a channel.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelAssociatedWithFlowSummary": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.chimesdkmessaging#NonEmptyResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel flow.</p>"
          }
        },
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>"
          }
        },
        "Mode": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelMode",
          "traits": {
            "smithy.api#documentation": "<p>The mode of the channel.</p>"
          }
        },
        "Privacy": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelPrivacy",
          "traits": {
            "smithy.api#documentation": "<p>The channel's privacy setting.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkmessaging#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The channel's metadata.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of details of a channel associated with channel flow.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelAssociatedWithFlowSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmessaging#ChannelAssociatedWithFlowSummary"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelBan": {
      "type": "structure",
      "members": {
        "Member": {
          "target": "com.amazonaws.chimesdkmessaging#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The member being banned from the channel.</p>"
          }
        },
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel from which a member is being banned.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkmessaging#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the ban was created.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.chimesdkmessaging#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUser</code> who created the ban.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a channel ban.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelBanSummary": {
      "type": "structure",
      "members": {
        "Member": {
          "target": "com.amazonaws.chimesdkmessaging#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The member being banned from a channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the details of a <code>ChannelBan</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelBanSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmessaging#ChannelBanSummary"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelFlow": {
      "type": "structure",
      "members": {
        "ChannelFlowArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel flow.</p>"
          }
        },
        "Processors": {
          "target": "com.amazonaws.chimesdkmessaging#ProcessorList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the processor Lambda functions.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkmessaging#NonEmptyResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel flow.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkmessaging#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the channel flow was created.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.chimesdkmessaging#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which a channel flow was updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a channel flow.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelFlowCallback": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmessaging#ChannelFlowCallbackRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmessaging#ChannelFlowCallbackResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmessaging#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Calls back Chime SDK Messaging with a processing response message. This should be invoked from the processor Lambda. This is a developer API.</p>\n         <p>You can return one of the following processing responses:</p>                  \n         <ul>\n            <li>\n               <p>Update message content or metadata</p>\n            </li>\n            <li>\n               <p>Deny a message</p>\n            </li>\n            <li>\n               <p>Make no changes to the message</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channels/{ChannelArn}?operation=channel-flow-callback",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelFlowCallbackRequest": {
      "type": "structure",
      "members": {
        "CallbackId": {
          "target": "com.amazonaws.chimesdkmessaging#CallbackIdType",
          "traits": {
            "smithy.api#documentation": "<p>The identifier passed to the processor by the service when invoked. Use the identifier to call back the service.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeleteResource": {
          "target": "com.amazonaws.chimesdkmessaging#NonNullableBoolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>When a processor determines that a message needs to be <code>DENIED</code>, pass this parameter with a value of true.</p>"
          }
        },
        "ChannelMessage": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelMessageCallback",
          "traits": {
            "smithy.api#documentation": "<p>Stores information about the processed message.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelFlowCallbackResponse": {
      "type": "structure",
      "members": {
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>"
          }
        },
        "CallbackId": {
          "target": "com.amazonaws.chimesdkmessaging#CallbackIdType",
          "traits": {
            "smithy.api#documentation": "<p>The call back ID passed in the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelFlowExecutionOrder": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 3
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelFlowSummary": {
      "type": "structure",
      "members": {
        "ChannelFlowArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel flow.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkmessaging#NonEmptyResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel flow.</p>"
          }
        },
        "Processors": {
          "target": "com.amazonaws.chimesdkmessaging#ProcessorList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the processor Lambda functions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of details of a channel flow.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelFlowSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmessaging#ChannelFlowSummary"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[A-Za-z0-9]([A-Za-z0-9\\:\\-\\_\\.\\@]{0,62}[A-Za-z0-9])?$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelMemberArns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmessaging#ChimeArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelMembership": {
      "type": "structure",
      "members": {
        "InvitedBy": {
          "target": "com.amazonaws.chimesdkmessaging#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the member who invited another member.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelMembershipType",
          "traits": {
            "smithy.api#documentation": "<p>The membership type set for the channel member.</p>"
          }
        },
        "Member": {
          "target": "com.amazonaws.chimesdkmessaging#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The data of the channel member.</p>"
          }
        },
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the member's channel.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkmessaging#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the channel membership was created.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.chimesdkmessaging#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which a channel membership was last updated.</p>"
          }
        },
        "SubChannelId": {
          "target": "com.amazonaws.chimesdkmessaging#SubChannelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the SubChannel that a user belongs to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a channel member.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelMembershipForAppInstanceUserSummary": {
      "type": "structure",
      "members": {
        "ChannelSummary": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelSummary",
          "traits": {
            "smithy.api#documentation": "<p>Returns the channel data for an <code>AppInstance</code>.</p>"
          }
        },
        "AppInstanceUserMembershipSummary": {
          "target": "com.amazonaws.chimesdkmessaging#AppInstanceUserMembershipSummary",
          "traits": {
            "smithy.api#documentation": "<p>Returns the channel membership data for an <code>AppInstance</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the channel membership details of an <code>AppInstanceUser</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelMembershipForAppInstanceUserSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmessaging#ChannelMembershipForAppInstanceUserSummary"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelMembershipPreferences": {
      "type": "structure",
      "members": {
        "PushNotifications": {
          "target": "com.amazonaws.chimesdkmessaging#PushNotificationPreferences",
          "traits": {
            "smithy.api#documentation": "<p>The push notification configuration of a message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The channel membership preferences for an <code>AppInstanceUser</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelMembershipSummary": {
      "type": "structure",
      "members": {
        "Member": {
          "target": "com.amazonaws.chimesdkmessaging#Identity",
          "traits": {
            "smithy.api#documentation": "<p>A member's summary data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the details of a <code>ChannelMembership</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelMembershipSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmessaging#ChannelMembershipSummary"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelMembershipType": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "HIDDEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIDDEN"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelMessage": {
      "type": "structure",
      "members": {
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>"
          }
        },
        "MessageId": {
          "target": "com.amazonaws.chimesdkmessaging#MessageId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a message.</p>"
          }
        },
        "Content": {
          "target": "com.amazonaws.chimesdkmessaging#Content",
          "traits": {
            "smithy.api#documentation": "<p>The message content.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkmessaging#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The message metadata.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelMessageType",
          "traits": {
            "smithy.api#documentation": "<p>The message type.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkmessaging#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the message was created.</p>"
          }
        },
        "LastEditedTimestamp": {
          "target": "com.amazonaws.chimesdkmessaging#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which a message was edited.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.chimesdkmessaging#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which a message was updated.</p>"
          }
        },
        "Sender": {
          "target": "com.amazonaws.chimesdkmessaging#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The message sender.</p>"
          }
        },
        "Redacted": {
          "target": "com.amazonaws.chimesdkmessaging#NonNullableBoolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Hides the content of a message.</p>"
          }
        },
        "Persistence": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelMessagePersistenceType",
          "traits": {
            "smithy.api#documentation": "<p>The persistence setting for a channel message.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelMessageStatusStructure",
          "traits": {
            "smithy.api#documentation": "<p>The status of the channel message.</p>"
          }
        },
        "MessageAttributes": {
          "target": "com.amazonaws.chimesdkmessaging#MessageAttributeMap",
          "traits": {
            "smithy.api#documentation": "<p>The attributes for the message, used for message filtering along with a <code>FilterRule</code> defined in the <code>PushNotificationPreferences</code>.</p>"
          }
        },
        "SubChannelId": {
          "target": "com.amazonaws.chimesdkmessaging#SubChannelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the SubChannel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a message in a channel.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelMessageCallback": {
      "type": "structure",
      "members": {
        "MessageId": {
          "target": "com.amazonaws.chimesdkmessaging#MessageId",
          "traits": {
            "smithy.api#documentation": "<p>The message ID.</p>",
            "smithy.api#required": {}
          }
        },
        "Content": {
          "target": "com.amazonaws.chimesdkmessaging#NonEmptyContent",
          "traits": {
            "smithy.api#documentation": "<p>The message content.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkmessaging#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The message metadata.</p>"
          }
        },
        "PushNotification": {
          "target": "com.amazonaws.chimesdkmessaging#PushNotificationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The push notification configuration of the message.</p>"
          }
        },
        "MessageAttributes": {
          "target": "com.amazonaws.chimesdkmessaging#MessageAttributeMap",
          "traits": {
            "smithy.api#documentation": "<p>The attributes for the message, used for message filtering along with a <code>FilterRule</code> defined in the <code>PushNotificationPreferences</code>. </p>"
          }
        },
        "SubChannelId": {
          "target": "com.amazonaws.chimesdkmessaging#SubChannelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the SubChannel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Stores information about a callback.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelMessagePersistenceType": {
      "type": "enum",
      "members": {
        "PERSISTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSISTENT"
          }
        },
        "NON_PERSISTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_PERSISTENT"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelMessageStatus": {
      "type": "enum",
      "members": {
        "SENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENT"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENIED"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelMessageStatusStructure": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelMessageStatus",
          "traits": {
            "smithy.api#documentation": "<p>The message status value.</p>"
          }
        },
        "Detail": {
          "target": "com.amazonaws.chimesdkmessaging#StatusDetail",
          "traits": {
            "smithy.api#documentation": "<p>Contains more details about the messasge status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Stores information about a message status.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelMessageSummary": {
      "type": "structure",
      "members": {
        "MessageId": {
          "target": "com.amazonaws.chimesdkmessaging#MessageId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the message.</p>"
          }
        },
        "Content": {
          "target": "com.amazonaws.chimesdkmessaging#Content",
          "traits": {
            "smithy.api#documentation": "<p>The content of the message.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkmessaging#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the message.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelMessageType",
          "traits": {
            "smithy.api#documentation": "<p>The type of message.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkmessaging#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the message summary was created.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.chimesdkmessaging#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which a message was last updated.</p>"
          }
        },
        "LastEditedTimestamp": {
          "target": "com.amazonaws.chimesdkmessaging#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which a message was last edited.</p>"
          }
        },
        "Sender": {
          "target": "com.amazonaws.chimesdkmessaging#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The message sender.</p>"
          }
        },
        "Redacted": {
          "target": "com.amazonaws.chimesdkmessaging#NonNullableBoolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether a message was redacted.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelMessageStatusStructure",
          "traits": {
            "smithy.api#documentation": "<p>The message status. The status value is <code>SENT</code> for messages sent to a channel without a channel flow. For channels associated with channel flow, the value determines the \n         processing stage.</p>"
          }
        },
        "MessageAttributes": {
          "target": "com.amazonaws.chimesdkmessaging#MessageAttributeMap",
          "traits": {
            "smithy.api#documentation": "<p>The message attribues listed in a the summary of a channel message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the messages in a <code>Channel</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelMessageSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmessaging#ChannelMessageSummary"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelMessageType": {
      "type": "enum",
      "members": {
        "STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD"
          }
        },
        "CONTROL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTROL"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelMode": {
      "type": "enum",
      "members": {
        "UNRESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNRESTRICTED"
          }
        },
        "RESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESTRICTED"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelModeratedByAppInstanceUserSummary": {
      "type": "structure",
      "members": {
        "ChannelSummary": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelSummary",
          "traits": {
            "smithy.api#documentation": "<p>Summary of the details of a <code>Channel</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the details of a moderated channel.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelModeratedByAppInstanceUserSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmessaging#ChannelModeratedByAppInstanceUserSummary"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelModerator": {
      "type": "structure",
      "members": {
        "Moderator": {
          "target": "com.amazonaws.chimesdkmessaging#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The moderator's data.</p>"
          }
        },
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the moderator's channel.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkmessaging#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the moderator was created.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.chimesdkmessaging#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUser</code> who created the moderator.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a channel moderator.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelModeratorArns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmessaging#ChimeArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelModeratorSummary": {
      "type": "structure",
      "members": {
        "Moderator": {
          "target": "com.amazonaws.chimesdkmessaging#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The data for a moderator.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the details of a <code>ChannelModerator</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelModeratorSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmessaging#ChannelModeratorSummary"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelPrivacy": {
      "type": "enum",
      "members": {
        "PUBLIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC"
          }
        },
        "PRIVATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelSummary": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.chimesdkmessaging#NonEmptyResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>"
          }
        },
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>"
          }
        },
        "Mode": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelMode",
          "traits": {
            "smithy.api#documentation": "<p>The mode of the channel.</p>"
          }
        },
        "Privacy": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelPrivacy",
          "traits": {
            "smithy.api#documentation": "<p>The privacy setting of the channel.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkmessaging#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the channel.</p>"
          }
        },
        "LastMessageTimestamp": {
          "target": "com.amazonaws.chimesdkmessaging#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the last persistent message in a channel was sent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the details of a <code>Channel</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChannelSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmessaging#ChannelSummary"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChimeArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}$"
      }
    },
    "com.amazonaws.chimesdkmessaging#ChimeMessagingService": {
      "type": "service",
      "version": "2021-05-15",
      "operations": [
        {
          "target": "com.amazonaws.chimesdkmessaging#AssociateChannelFlow"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#BatchCreateChannelMembership"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ChannelFlowCallback"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#CreateChannel"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#CreateChannelBan"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#CreateChannelFlow"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#CreateChannelMembership"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#CreateChannelModerator"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#DeleteChannel"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#DeleteChannelBan"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#DeleteChannelFlow"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#DeleteChannelMembership"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#DeleteChannelMessage"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#DeleteChannelModerator"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#DescribeChannel"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#DescribeChannelBan"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#DescribeChannelFlow"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#DescribeChannelMembership"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#DescribeChannelMembershipForAppInstanceUser"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#DescribeChannelModeratedByAppInstanceUser"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#DescribeChannelModerator"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#DisassociateChannelFlow"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#GetChannelMembershipPreferences"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#GetChannelMessage"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#GetChannelMessageStatus"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#GetMessagingSessionEndpoint"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ListChannelBans"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ListChannelFlows"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ListChannelMemberships"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ListChannelMembershipsForAppInstanceUser"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ListChannelMessages"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ListChannelModerators"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ListChannels"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ListChannelsAssociatedWithChannelFlow"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ListChannelsModeratedByAppInstanceUser"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ListSubChannels"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#PutChannelMembershipPreferences"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#RedactChannelMessage"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#SearchChannels"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#SendChannelMessage"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#TagResource"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#UntagResource"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#UpdateChannel"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#UpdateChannelFlow"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#UpdateChannelMessage"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#UpdateChannelReadMarker"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Chime SDK Messaging",
          "arnNamespace": "chime",
          "cloudFormationName": "ChimeSDKMessaging",
          "cloudTrailEventSource": "chimesdkmessaging.amazonaws.com",
          "endpointPrefix": "messaging-chime"
        },
        "aws.auth#sigv4": {
          "name": "chime"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>The Amazon Chime SDK Messaging APIs in this section allow software developers to send\n         and receive messages in custom messaging applications. These APIs depend on the frameworks\n         provided by the Amazon Chime SDK Identity APIs. For more information about the messaging\n         APIs, see <a href=\"https://docs.aws.amazon.com/chime/latest/APIReference/API_Operations_Amazon_Chime_SDK_Messaging.html\">Amazon Chime SDK messaging</a>.</p>",
        "smithy.api#title": "Amazon Chime SDK Messaging",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://messaging-chime-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://messaging-chime-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://messaging-chime.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://messaging-chime.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://messaging-chime-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://messaging-chime-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://messaging-chime.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://messaging-chime.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://messaging-chime-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://messaging-chime-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://messaging-chime.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://messaging-chime.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        },
        "smithy.api#pattern": "^[-_a-zA-Z0-9]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmessaging#ConflictException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmessaging#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmessaging#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be processed because of conflict in the current state of the\n         resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.chimesdkmessaging#Content": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        },
        "smithy.api#pattern": "^[\\s\\S]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmessaging#CreateChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmessaging#CreateChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmessaging#CreateChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmessaging#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a channel to which you can add users and send messages.</p>\n\n         <p>\n            <b>Restriction</b>: You can't change a channel's\n         privacy.</p>\n\n         <note>\n            <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the\n               <code>AppInstanceUserArn</code> of the user that makes the API call as the value in\n            the header.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channels",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#CreateChannelBan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmessaging#CreateChannelBanRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmessaging#CreateChannelBanResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmessaging#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently bans a member from a channel. Moderators can't add banned members to a\n         channel. To undo a ban, you first have to <code>DeleteChannelBan</code>, and then\n            <code>CreateChannelMembership</code>. Bans are cleaned up when you delete users or\n         channels.</p>\n         <p>If you ban a user who is already part of a channel, that user is automatically kicked\n         from the channel.</p>\n\n         <note>\n            <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the\n               <code>AppInstanceUserArn</code> of the user that makes the API call as the value in\n            the header.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channels/{ChannelArn}/bans",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#CreateChannelBanRequest": {
      "type": "structure",
      "members": {
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the ban request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MemberArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUserArn</code> of the member being banned.</p>",
            "smithy.api#required": {}
          }
        },
        "ChimeBearer": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
            "smithy.api#httpHeader": "x-amz-chime-bearer",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#CreateChannelBanResponse": {
      "type": "structure",
      "members": {
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the response to the ban request.</p>"
          }
        },
        "Member": {
          "target": "com.amazonaws.chimesdkmessaging#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ChannelArn</code> and <code>BannedIdentity</code> of the member in the ban\n         response.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#CreateChannelFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmessaging#CreateChannelFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmessaging#CreateChannelFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmessaging#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a channel flow, a container for processors. Processors are AWS Lambda functions\n         that perform actions on chat messages, such as stripping out profanity. You can associate\n         channel flows with channels, and the processors in the channel flow then take action on all\n         messages sent to that channel. This is a developer API.</p>\n           \n           <p>Channel flows process the following items:</p>\n         <ol>\n            <li>\n               <p>New and updated messages</p>\n            </li>\n            <li>\n               <p>Persistent and non-persistent messages</p>\n            </li>\n            <li>\n               <p>The Standard message type</p>\n            </li>\n         </ol>\n       \n         <note>\n            <p>Channel flows don't process Control or System messages. For more information about the message types provided by Chime SDK Messaging, refer to \n           <a href=\"https://docs.aws.amazon.com/chime/latest/dg/using-the-messaging-sdk.html#msg-types\">Message types</a> in the <i>Amazon Chime developer guide</i>.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channel-flows",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#CreateChannelFlowRequest": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel flow request.</p>",
            "smithy.api#required": {}
          }
        },
        "Processors": {
          "target": "com.amazonaws.chimesdkmessaging#ProcessorList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the processor Lambda functions.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkmessaging#NonEmptyResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel flow.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkmessaging#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the creation request.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkmessaging#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The client token for the request. An Idempotency token.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#CreateChannelFlowResponse": {
      "type": "structure",
      "members": {
        "ChannelFlowArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel flow.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#CreateChannelMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmessaging#CreateChannelMembershipRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmessaging#CreateChannelMembershipResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmessaging#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a user to a channel. The <code>InvitedBy</code> field in <code>ChannelMembership</code> is derived from the\n         request header. A channel member can:</p>\n\n         <ul>\n            <li>\n               <p>List messages</p>\n            </li>\n            <li>\n               <p>Send messages</p>\n            </li>\n            <li>\n               <p>Receive messages</p>\n            </li>\n            <li>\n               <p>Edit their own messages</p>\n            </li>\n            <li>\n               <p>Leave the channel</p>\n            </li>\n         </ul>\n\n         <p>Privacy settings impact this action as follows:</p>\n\n         <ul>\n            <li>\n               <p>Public Channels: You do not need to be a member to list messages, but you must be\n               a member to send messages.</p>\n            </li>\n            <li>\n               <p>Private Channels: You must be a member to list or send messages.</p>\n            </li>\n         </ul>\n\n         <note>\n            <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the\n               <code>AppInstanceUserArn</code> of the user that makes the API call as the value in\n            the header.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channels/{ChannelArn}/memberships",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#CreateChannelMembershipRequest": {
      "type": "structure",
      "members": {
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel to which you're adding users.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MemberArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUserArn</code> of the member you want to add to the channel.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelMembershipType",
          "traits": {
            "smithy.api#documentation": "<p>The membership type of a user, <code>DEFAULT</code> or <code>HIDDEN</code>. Default\n         members are always returned as part of <code>ListChannelMemberships</code>. Hidden members\n         are only returned if the type filter in <code>ListChannelMemberships</code> equals\n            <code>HIDDEN</code>. Otherwise hidden members are not returned. This is only supported\n         by moderators.</p>",
            "smithy.api#required": {}
          }
        },
        "ChimeBearer": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
            "smithy.api#httpHeader": "x-amz-chime-bearer",
            "smithy.api#required": {}
          }
        },
        "SubChannelId": {
          "target": "com.amazonaws.chimesdkmessaging#SubChannelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the SubChannel in the request.</p>\n         <note>\n            <p>Only required when creating membership in a SubChannel for a moderator in an elastic channel.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#CreateChannelMembershipResponse": {
      "type": "structure",
      "members": {
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>"
          }
        },
        "Member": {
          "target": "com.amazonaws.chimesdkmessaging#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The ARN and metadata of the member being added.</p>"
          }
        },
        "SubChannelId": {
          "target": "com.amazonaws.chimesdkmessaging#SubChannelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the SubChannel in the response.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#CreateChannelModerator": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmessaging#CreateChannelModeratorRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmessaging#CreateChannelModeratorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmessaging#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new <code>ChannelModerator</code>. A channel moderator can:</p>\n\n         <ul>\n            <li>\n               <p>Add and remove other members of the channel.</p>\n            </li>\n            <li>\n               <p>Add and remove other moderators of the channel.</p>\n            </li>\n            <li>\n               <p>Add and remove user bans for the channel.</p>\n            </li>\n            <li>\n               <p>Redact messages in the channel.</p>\n            </li>\n            <li>\n               <p>List messages in the channel.</p>\n            </li>\n         </ul>\n\n         <note>\n            <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the\n               <code>AppInstanceUserArn</code> of the user that makes the API call as the value in\n            the header.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channels/{ChannelArn}/moderators",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#CreateChannelModeratorRequest": {
      "type": "structure",
      "members": {
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ChannelModeratorArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUserArn</code> of the moderator.</p>",
            "smithy.api#required": {}
          }
        },
        "ChimeBearer": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
            "smithy.api#httpHeader": "x-amz-chime-bearer",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#CreateChannelModeratorResponse": {
      "type": "structure",
      "members": {
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>"
          }
        },
        "ChannelModerator": {
          "target": "com.amazonaws.chimesdkmessaging#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the channel and the moderator.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#CreateChannelRequest": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel request.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkmessaging#NonEmptyResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>",
            "smithy.api#required": {}
          }
        },
        "Mode": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelMode",
          "traits": {
            "smithy.api#documentation": "<p>The channel mode: <code>UNRESTRICTED</code> or <code>RESTRICTED</code>. Administrators,\n         moderators, and channel members can add themselves and other members to unrestricted\n         channels. Only administrators and moderators can add members to restricted channels.</p>"
          }
        },
        "Privacy": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelPrivacy",
          "traits": {
            "smithy.api#documentation": "<p>The channel's privacy level: <code>PUBLIC</code> or <code>PRIVATE</code>. Private\n         channels aren't discoverable by users outside the channel. Public channels are discoverable\n         by anyone in the <code>AppInstance</code>.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkmessaging#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the creation request. Limited to 1KB and UTF-8.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkmessaging#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The client token for the request. An <code>Idempotency</code> token.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkmessaging#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the creation request.</p>"
          }
        },
        "ChimeBearer": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
            "smithy.api#httpHeader": "x-amz-chime-bearer",
            "smithy.api#required": {}
          }
        },
        "ChannelId": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the channel in the request.</p>"
          }
        },
        "MemberArns": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelMemberArns",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the channel members in the request.</p>"
          }
        },
        "ModeratorArns": {
          "target": "com.amazonaws.chimesdkmessaging#ChannelModeratorArns",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the channel moderators in the request.</p>"
          }
        },
        "ElasticChannelConfiguration": {
          "target": "com.amazonaws.chimesdkmessaging#ElasticChannelConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The attributes required to configure and create an elastic channel. An elastic channel can support a maximum of 1-million users, excluding moderators.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#CreateChannelResponse": {
      "type": "structure",
      "members": {
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#DeleteChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmessaging#DeleteChannelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmessaging#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Immediately makes a channel and its memberships inaccessible and marks them for\n         deletion. This is an irreversible process.</p>\n\n         <note>\n            <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the\n               <code>AppInstanceUserArn</code> of the user that makes the API call as the value in\n            the header.</p>\n         </note>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/channels/{ChannelArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#DeleteChannelBan": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmessaging#DeleteChannelBanRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmessaging#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a user from a channel's ban list.</p>\n\n         <note>\n            <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the\n               <code>AppInstanceUserArn</code> of the user that makes the API call as the value in\n            the header.</p>\n         </note>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/channels/{ChannelArn}/bans/{MemberArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#DeleteChannelBanRequest": {
      "type": "structure",
      "members": {
        "ChannelArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel from which the <code>AppInstanceUser</code> was banned.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MemberArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code> that you want to reinstate.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ChimeBearer": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
            "smithy.api#httpHeader": "x-amz-chime-bearer",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#DeleteChannelFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmessaging#DeleteChannelFlowRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmessaging#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a channel flow, an irreversible process. This is a developer API.</p>\n         <note>\n            <p> This API works only when the channel flow is not associated with any channel. To get a list of all channels that a channel flow is associated with, use the \n           <code>ListChannelsAssociatedWithChannelFlow</code> API. Use the <code>DisassociateChannelFlow</code> API to disassociate a channel flow from all channels. </p>\n         </note>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/channel-flows/{ChannelFlowArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#DeleteChannelFlowRequest": {
      "type": "structure",
      "members": {
        "ChannelFlowArn": {
          "target": "com.amazonaws.chimesdkmessaging#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel flow.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmessaging#DeleteChannelMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmessaging#DeleteChannelMembershipRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmessaging#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmessaging#UnauthorizedClientException"
        }
      ],
      "traits": {
[...]
