{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.chimesdkmeetings#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:"
      }
    },
    "com.amazonaws.chimesdkmeetings#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^arn[\\/\\:\\-\\_\\.a-zA-Z0-9]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#Attendee": {
      "type": "structure",
      "members": {
        "ExternalUserId": {
          "target": "com.amazonaws.chimesdkmeetings#ExternalUserId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>"
          }
        },
        "AttendeeId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK attendee ID.</p>"
          }
        },
        "JoinToken": {
          "target": "com.amazonaws.chimesdkmeetings#JoinTokenString",
          "traits": {
            "smithy.api#documentation": "<p>The join token used by the Amazon Chime SDK attendee.</p>"
          }
        },
        "Capabilities": {
          "target": "com.amazonaws.chimesdkmeetings#AttendeeCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>The capabilities assigned to an attendee: audio, video, or content.</p>\n        <note>\n            <p>You use the capabilities with a set of values that control what the capabilities can do, such as <code>SendReceive</code> data. For more information about those values, see \n            .</p>\n         </note>\n        \n        <p>When using capabilities, be aware of these corner cases:</p>\n        <ul>\n            <li>\n                <p>You can't set <code>content</code> capabilities to <code>SendReceive</code> or <code>Receive</code> unless you also set <code>video</code> capabilities to <code>SendReceive</code> \n                    or <code>Receive</code>. If you don't set the <code>video</code> capability to receive, the response will contain an HTTP 400 Bad Request status code. However, you can set your <code>video</code> capability \n                    to receive and you set your <code>content</code> capability to not receive.</p>                    \n            </li>\n            <li>\n                <p>When you change an <code>audio</code> capability from <code>None</code> or <code>Receive</code> to <code>Send</code> or <code>SendReceive</code> , \n                    and if the attendee left their microphone unmuted, audio will flow from the attendee to the other meeting participants.</p>\n            </li>\n            <li>\n                <p>When you change a <code>video</code> or <code>content</code> capability from <code>None</code> or <code>Receive</code> to <code>Send</code> or <code>SendReceive</code> , \n                    and if the attendee turned on their video or content streams, remote attendess can receive those streams, but only after media renegotiation between the client and the Amazon Chime back-end server.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Amazon Chime SDK meeting attendee. Includes a unique \n           <code>AttendeeId</code> and <code>JoinToken</code>. The \n           <code>JoinToken</code>\n           allows a client to authenticate and join as the specified attendee. The \n           <code>JoinToken</code>\n           expires when the meeting ends, or when \n           <a>DeleteAttendee</a>\n           is called. After that, the attendee is unable to join the meeting.\n       </p>\n       \n         <p>We recommend securely transferring each <code>JoinToken</code> from your server application\n           to the client so that no other client has access to the token except for the one\n           authorized to represent the attendee.</p>"
      }
    },
    "com.amazonaws.chimesdkmeetings#AttendeeCapabilities": {
      "type": "structure",
      "members": {
        "Audio": {
          "target": "com.amazonaws.chimesdkmeetings#MediaCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>The audio capability assigned to an attendee.</p>",
            "smithy.api#required": {}
          }
        },
        "Video": {
          "target": "com.amazonaws.chimesdkmeetings#MediaCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>The video capability assigned to an attendee.</p>",
            "smithy.api#required": {}
          }
        },
        "Content": {
          "target": "com.amazonaws.chimesdkmeetings#MediaCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>The content capability assigned to an attendee.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The media capabilities of an attendee: audio, video, or content. </p>\n        <note>\n            <p>You use the capabilities with a set of values that control what the capabilities can do, such as <code>SendReceive</code> data. For more information about those values, see \n            .</p>\n         </note>\n        \n        <p>When using capabilities, be aware of these corner cases:</p>\n        <ul>\n            <li>\n                <p>You can't set <code>content</code> capabilities to <code>SendReceive</code> or <code>Receive</code> unless you also set <code>video</code> capabilities to <code>SendReceive</code> \n                    or <code>Receive</code>. If you don't set the <code>video</code> capability to receive, the response will contain an HTTP 400 Bad Request status code. However, you can set your <code>video</code> capability \n                    to receive and you set your <code>content</code> capability to not receive.</p>                    \n            </li>\n            <li>\n                <p>When you change an <code>audio</code> capability from <code>None</code> or <code>Receive</code> to <code>Send</code> or <code>SendReceive</code> , \n                    and if the attendee left their microphone unmuted, audio will flow from the attendee to the other meeting participants.</p>\n            </li>\n            <li>\n                <p>When you change a <code>video</code> or <code>content</code> capability from <code>None</code> or <code>Receive</code> to <code>Send</code> or <code>SendReceive</code> , \n                    and if the attendee turned on their video or content streams, remote attendess can receive those streams, but only after media renegotiation between the client and the Amazon Chime back-end server.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.chimesdkmeetings#AttendeeIdItem": {
      "type": "structure",
      "members": {
        "AttendeeId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>A list of one or more attendee IDs.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains one or more attendee IDs.</p>"
      }
    },
    "com.amazonaws.chimesdkmeetings#AttendeeIdsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmeetings#AttendeeIdItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 250
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#AttendeeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmeetings#Attendee"
      }
    },
    "com.amazonaws.chimesdkmeetings#AudioFeatures": {
      "type": "structure",
      "members": {
        "EchoReduction": {
          "target": "com.amazonaws.chimesdkmeetings#MeetingFeatureStatus",
          "traits": {
            "smithy.api#documentation": "<p>Makes echo reduction available to clients who connect to the meeting.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An optional category of meeting features that contains audio-specific configurations, such as operating parameters for Amazon Voice Focus. </p>"
      }
    },
    "com.amazonaws.chimesdkmeetings#BadRequestException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "RequestId": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The request id associated with the call responsible for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input parameters don't match the service's restrictions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chimesdkmeetings#BatchCreateAttendee": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#BatchCreateAttendeeRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmeetings#BatchCreateAttendeeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#LimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates up to 100 attendees for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see \n            <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/meetings/{MeetingId}/attendees?operation=batch-create",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#BatchCreateAttendeeErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmeetings#CreateAttendeeError"
      }
    },
    "com.amazonaws.chimesdkmeetings#BatchCreateAttendeeRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK ID of the meeting to which you're adding attendees.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Attendees": {
          "target": "com.amazonaws.chimesdkmeetings#CreateAttendeeRequestItemList",
          "traits": {
            "smithy.api#documentation": "<p>The attendee information, including attendees' IDs and join tokens.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#BatchCreateAttendeeResponse": {
      "type": "structure",
      "members": {
        "Attendees": {
          "target": "com.amazonaws.chimesdkmeetings#AttendeeList",
          "traits": {
            "smithy.api#documentation": "<p>The attendee information, including attendees' IDs and join tokens.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.chimesdkmeetings#BatchCreateAttendeeErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the attendees in the request, a list of the attendees is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#BatchUpdateAttendeeCapabilitiesExcept": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#BatchUpdateAttendeeCapabilitiesExceptRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates <code>AttendeeCapabilities</code> except the capabilities listed in an <code>ExcludedAttendeeIds</code> table.</p>\n        \n        <note>\n            <p>You use the capabilities with a set of values that control what the capabilities can do, such as <code>SendReceive</code> data. For more information about those values, see \n            .</p>\n         </note>\n        \n        <p>When using capabilities, be aware of these corner cases:</p>\n        <ul>\n            <li>\n                <p>You can't set <code>content</code> capabilities to <code>SendReceive</code> or <code>Receive</code> unless you also set <code>video</code> capabilities to <code>SendReceive</code> \n                    or <code>Receive</code>. If you don't set the <code>video</code> capability to receive, the response will contain an HTTP 400 Bad Request status code. However, you can set your <code>video</code> capability \n                    to receive and you set your <code>content</code> capability to not receive.</p>                    \n            </li>\n            <li>\n                <p>When you change an <code>audio</code> capability from <code>None</code> or <code>Receive</code> to <code>Send</code> or <code>SendReceive</code> , \n                    and if the attendee left their microphone unmuted, audio will flow from the attendee to the other meeting participants.</p>\n            </li>\n            <li>\n                <p>When you change a <code>video</code> or <code>content</code> capability from <code>None</code> or <code>Receive</code> to <code>Send</code> or <code>SendReceive</code> , \n                    and if the attendee turned on their video or content streams, remote attendess can receive those streams, but only after media renegotiation between the client and the Amazon Chime back-end server.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/meetings/{MeetingId}/attendees/capabilities?operation=batch-update-except",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#BatchUpdateAttendeeCapabilitiesExceptRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the meeting associated with the update request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ExcludedAttendeeIds": {
          "target": "com.amazonaws.chimesdkmeetings#AttendeeIdsList",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AttendeeIDs</code> that you want to exclude from one or more capabilities.</p>",
            "smithy.api#required": {}
          }
        },
        "Capabilities": {
          "target": "com.amazonaws.chimesdkmeetings#AttendeeCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>The capabilities (<code>audio</code>, <code>video</code>, or <code>content</code>) that you want to update.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.chimesdkmeetings#ChimeMeetingsSDKService": {
      "type": "service",
      "version": "2021-07-15",
      "operations": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BatchCreateAttendee"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#BatchUpdateAttendeeCapabilitiesExcept"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#CreateAttendee"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#CreateMeeting"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#CreateMeetingWithAttendees"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#DeleteAttendee"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#DeleteMeeting"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#GetAttendee"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#GetMeeting"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ListAttendees"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#StartMeetingTranscription"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#StopMeetingTranscription"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#TagResource"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UntagResource"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UpdateAttendeeCapabilities"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Chime SDK Meetings",
          "arnNamespace": "chime",
          "cloudFormationName": "ChimeSDKMeetings",
          "cloudTrailEventSource": "chimesdkmeetings.amazonaws.com",
          "endpointPrefix": "meetings-chime"
        },
        "aws.auth#sigv4": {
          "name": "chime"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>The Amazon Chime SDK meetings APIs in this section allow software developers to create Amazon Chime SDK meetings, set the AWS Regions for meetings, create and manage users, and send and \n            receive meeting notifications. For more information about the meeting APIs, see <a href=\"https://docs.aws.amazon.com/chime/latest/APIReference/API_Operations_Amazon_Chime_SDK_Meetings.html\">Amazon Chime SDK meetings</a>.</p>",
        "smithy.api#title": "Amazon Chime SDK Meetings",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://meetings-chime-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://meetings-chime-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://meetings-chime.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://meetings-chime.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        },
        "smithy.api#pattern": "^[-_a-zA-Z0-9]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#ConflictException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "RequestId": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the request involved in the conflict.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Multiple instances of the same request have been made simultaneously.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateAttendee": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#CreateAttendeeRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmeetings#CreateAttendeeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#LimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n           Creates a new attendee for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see \n           <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a>\n           in the \n           <i>Amazon Chime Developer Guide</i>.\n       </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/meetings/{MeetingId}/attendees",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateAttendeeError": {
      "type": "structure",
      "members": {
        "ExternalUserId": {
          "target": "com.amazonaws.chimesdkmeetings#ExternalUserId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The list of errors returned when errors are encountered during the BatchCreateAttendee and CreateAttendee actions. This includes external user IDs, error codes, and error messages.</p>"
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateAttendeeRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the meeting.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ExternalUserId": {
          "target": "com.amazonaws.chimesdkmeetings#ExternalUserId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>",
            "smithy.api#required": {}
          }
        },
        "Capabilities": {
          "target": "com.amazonaws.chimesdkmeetings#AttendeeCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>The capabilities (<code>audio</code>, <code>video</code>, or <code>content</code>) that you want to grant an attendee. If you don't specify capabilities, all users have send and receive capabilities on \n            all media channels by default.</p>\n        \n        <note>\n            <p>You use the capabilities with a set of values that control what the capabilities can do, such as <code>SendReceive</code> data. For more information about those values, see \n            .</p>\n         </note>\n        \n            <p>When using capabilities, be aware of these corner cases:</p>\n            <ul>\n            <li>\n                    <p>You can't set <code>content</code> capabilities to <code>SendReceive</code> or <code>Receive</code> unless you also set <code>video</code> capabilities to <code>SendReceive</code> \n                    or <code>Receive</code>. If you don't set the <code>video</code> capability to receive, the response will contain an HTTP 400 Bad Request status code. However, you can set your <code>video</code> capability \n                    to receive and you set your <code>content</code> capability to not receive.</p>                    \n                </li>\n            <li>\n                    <p>When you change an <code>audio</code> capability from <code>None</code> or <code>Receive</code> to <code>Send</code> or <code>SendReceive</code> , \n                    and if the attendee left their microphone unmuted, audio will flow from the attendee to the other meeting participants.</p>\n                </li>\n            <li>\n                    <p>When you change a <code>video</code> or <code>content</code> capability from <code>None</code> or <code>Receive</code> to <code>Send</code> or <code>SendReceive</code> , \n                   and if the attendee turned on their video or content streams, remote attendess can receive those streams, but only after media renegotiation between the client and the Amazon Chime back-end server.</p>\n                </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateAttendeeRequestItem": {
      "type": "structure",
      "members": {
        "ExternalUserId": {
          "target": "com.amazonaws.chimesdkmeetings#ExternalUserId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>",
            "smithy.api#required": {}
          }
        },
        "Capabilities": {
          "target": "com.amazonaws.chimesdkmeetings#AttendeeCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>A list of one or more capabilities.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Chime SDK attendee fields to create, used with the BatchCreateAttendee action.</p>"
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateAttendeeRequestItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmeetings#CreateAttendeeRequestItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateAttendeeResponse": {
      "type": "structure",
      "members": {
        "Attendee": {
          "target": "com.amazonaws.chimesdkmeetings#Attendee",
          "traits": {
            "smithy.api#documentation": "<p>The attendee information, including attendee ID and join token.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateMeeting": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#CreateMeetingRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmeetings#CreateMeetingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#LimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon Chime SDK meeting in the specified media Region with no initial attendees. For more information about specifying media Regions, see \n           <a href=\"https://docs.aws.amazon.com/chime/latest/dg/chime-sdk-meetings-regions.html\">Amazon Chime SDK Media Regions</a>\n           in the <i>Amazon Chime Developer Guide</i>. For more information about the Amazon Chime SDK, see \n           <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a>\n           in the \n           <i>Amazon Chime Developer Guide</i>.\n       </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/meetings",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateMeetingRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkmeetings#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the client request. Use a different token for different meetings.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "MediaRegion": {
          "target": "com.amazonaws.chimesdkmeetings#MediaRegion",
          "traits": {
            "smithy.api#documentation": "<p>The Region in which to create the meeting.</p>\n       \n         <p>\n           Available values: \n           <code>af-south-1</code>, \n           <code>ap-northeast-1</code>, \n           <code>ap-northeast-2</code>, \n           <code>ap-south-1</code>, \n           <code>ap-southeast-1</code>, \n           <code>ap-southeast-2</code>,           \n           <code>ca-central-1</code>, \n           <code>eu-central-1</code>, \n           <code>eu-north-1</code>, \n           <code>eu-south-1</code>, \n           <code>eu-west-1</code>, \n           <code>eu-west-2</code>, \n           <code>eu-west-3</code>,            \n           <code>sa-east-1</code>, \n           <code>us-east-1</code>, \n           <code>us-east-2</code>, \n           <code>us-west-1</code>, \n           <code>us-west-2</code>.\n       </p>\n         <p>Available values in AWS GovCloud (US) Regions: <code>us-gov-east-1</code>, <code>us-gov-west-1</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "MeetingHostId": {
          "target": "com.amazonaws.chimesdkmeetings#ExternalUserId",
          "traits": {
            "smithy.api#documentation": "<p>Reserved.</p>"
          }
        },
        "ExternalMeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#ExternalMeetingId",
          "traits": {
            "smithy.api#documentation": "<p>The external meeting ID.</p>",
            "smithy.api#required": {}
          }
        },
        "NotificationsConfiguration": {
          "target": "com.amazonaws.chimesdkmeetings#NotificationsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for resource targets to receive notifications when meeting and attendee events occur.</p>"
          }
        },
        "MeetingFeatures": {
          "target": "com.amazonaws.chimesdkmeetings#MeetingFeaturesConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Lists the audio and video features enabled for a meeting, such as echo reduction.</p>"
          }
        },
        "PrimaryMeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#PrimaryMeetingId",
          "traits": {
            "smithy.api#documentation": "<p>When specified, replicates the media from the primary meeting to the new meeting.</p>"
          }
        },
        "TenantIds": {
          "target": "com.amazonaws.chimesdkmeetings#TenantIdList",
          "traits": {
            "smithy.api#documentation": "<p>A consistent and opaque identifier, created and maintained by the builder to represent a segment of their users.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkmeetings#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Applies one or more tags to an Amazon Chime SDK meeting. Note the following:</p>            \n         <ul>\n            <li>\n               <p>Not all resources have tags. For a list of services with resources that support tagging using this operation, see \n        <a href=\"https://docs.aws.amazon.com/resourcegroupstagging/latest/APIReference/supported-services.html\">Services that support the Resource Groups Tagging API</a>. If the resource \n        doesn't yet support this operation, the resource's service might support tagging using its own API operations. For more information, refer to the documentation for that service.</p>\n            </li>\n            <li>\n               <p>Each resource can have up to 50 tags. For other limits, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html#tag-conventions\">Tag Naming and Usage Conventions</a> in the \n       <i>AWS General Reference</i>.</p>\n            </li>\n            <li>\n               <p>You can only tag resources that are located in the specified AWS Region for the AWS account.</p>\n            </li>\n            <li>\n               <p>To add tags to a resource, you need the necessary permissions for the service that the resource belongs to as well as permissions for adding tags. For more information, see the \n        documentation for each service.</p>\n            </li>\n         </ul>   \n            <important>\n            <p>Do not store personally identifiable information (PII) or other confidential or sensitive information in tags. We use tags to provide you with billing and administration services. Tags are not intended to be \n            used for private or sensitive data.</p>\n         </important>  \n            <p>\n            <b>Minimum permissions</b>\n         </p>\n                \n               <p> In addition to the <code>tag:TagResources </code>permission required by this operation, you must also have the tagging permission defined by the service that created the resource. For example, \n                   to tag a <code>ChimeSDKMeetings</code> instance  using the <code>TagResources</code> operation, you must have both of the following permissions:</p>\n                \n                <p>\n            <code>tag:TagResources</code>\n         </p>\n                \n                <p>\n            <code>ChimeSDKMeetings:CreateTags</code>\n         </p>\n                \n                <note>\n            <p>Some services might have specific requirements for tagging some resources. For example, to tag an Amazon S3 bucket, you must also have the <code>s3:GetBucketTagging</code> permission. \n                If the expected minimum permissions don't work, check the documentation for that service's tagging APIs for more information.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateMeetingResponse": {
      "type": "structure",
      "members": {
        "Meeting": {
          "target": "com.amazonaws.chimesdkmeetings#Meeting",
          "traits": {
            "smithy.api#documentation": "<p>The meeting information, including the meeting ID and \n           <code>MediaPlacement</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateMeetingWithAttendees": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#CreateMeetingWithAttendeesRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmeetings#CreateMeetingWithAttendeesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#LimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n           Creates a new Amazon Chime SDK meeting in the specified media Region, with attendees. For more information about specifying media Regions, see \n           <a href=\"https://docs.aws.amazon.com/chime/latest/dg/chime-sdk-meetings-regions.html\">Amazon Chime SDK Media Regions</a>\n           in the <i>Amazon Chime Developer Guide</i>. For more information about the Amazon Chime SDK, see \n           <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a>\n           in the <i>Amazon Chime Developer Guide</i>.\n       </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/meetings?operation=create-attendees",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateMeetingWithAttendeesRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkmeetings#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the client request. Use a different token for different meetings.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "MediaRegion": {
          "target": "com.amazonaws.chimesdkmeetings#MediaRegion",
          "traits": {
            "smithy.api#documentation": "<p>The Region in which to create the meeting.</p>\n       \n         <p>\n           Available values: \n           <code>af-south-1</code>, \n           <code>ap-northeast-1</code>, \n           <code>ap-northeast-2</code>, \n           <code>ap-south-1</code>, \n           <code>ap-southeast-1</code>, \n           <code>ap-southeast-2</code>,           \n           <code>ca-central-1</code>, \n           <code>eu-central-1</code>, \n           <code>eu-north-1</code>, \n           <code>eu-south-1</code>, \n           <code>eu-west-1</code>, \n           <code>eu-west-2</code>, \n           <code>eu-west-3</code>,            \n           <code>sa-east-1</code>, \n           <code>us-east-1</code>, \n           <code>us-east-2</code>, \n           <code>us-west-1</code>, \n           <code>us-west-2</code>.\n       </p>\n         <p>Available values in AWS GovCloud (US) Regions: <code>us-gov-east-1</code>, <code>us-gov-west-1</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "MeetingHostId": {
          "target": "com.amazonaws.chimesdkmeetings#ExternalUserId",
          "traits": {
            "smithy.api#documentation": "<p>Reserved.</p>"
          }
        },
        "ExternalMeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#ExternalMeetingId",
          "traits": {
            "smithy.api#documentation": "<p>The external meeting ID.</p>",
            "smithy.api#required": {}
          }
        },
        "MeetingFeatures": {
          "target": "com.amazonaws.chimesdkmeetings#MeetingFeaturesConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Lists the audio and video features enabled for a meeting, such as echo reduction.</p>"
          }
        },
        "NotificationsConfiguration": {
          "target": "com.amazonaws.chimesdkmeetings#NotificationsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for resource targets to receive notifications when meeting and attendee events occur.</p>"
          }
        },
        "Attendees": {
          "target": "com.amazonaws.chimesdkmeetings#CreateMeetingWithAttendeesRequestItemList",
          "traits": {
            "smithy.api#documentation": "<p>The attendee information, including attendees' IDs and join tokens.</p>",
            "smithy.api#required": {}
          }
        },
        "PrimaryMeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#PrimaryMeetingId",
          "traits": {
            "smithy.api#documentation": "<p>When specified, replicates the media from the primary meeting to the new meeting.</p>"
          }
        },
        "TenantIds": {
          "target": "com.amazonaws.chimesdkmeetings#TenantIdList",
          "traits": {
            "smithy.api#documentation": "<p>A consistent and opaque identifier, created and maintained by the builder to represent a segment of their users.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkmeetings#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags in the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateMeetingWithAttendeesRequestItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmeetings#CreateAttendeeRequestItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateMeetingWithAttendeesResponse": {
      "type": "structure",
      "members": {
        "Meeting": {
          "target": "com.amazonaws.chimesdkmeetings#Meeting",
          "traits": {
            "smithy.api#documentation": "<p>The meeting information, including the meeting ID and \n           <code>MediaPlacement</code>.</p>"
          }
        },
        "Attendees": {
          "target": "com.amazonaws.chimesdkmeetings#AttendeeList",
          "traits": {
            "smithy.api#documentation": "<p>The attendee information, including attendees' IDs and join tokens.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.chimesdkmeetings#BatchCreateAttendeeErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the attendees in the request, a list of the attendees is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#DeleteAttendee": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#DeleteAttendeeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an attendee from the specified Amazon Chime SDK meeting and deletes their \n           <code>JoinToken</code>. Attendees are automatically deleted when a Amazon Chime SDK meeting is deleted. For more information about the Amazon Chime SDK, see \n           <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a>\n           in the <i>Amazon Chime Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/meetings/{MeetingId}/attendees/{AttendeeId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#DeleteAttendeeRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AttendeeId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK attendee ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#DeleteMeeting": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#DeleteMeetingRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Amazon Chime SDK meeting. The operation deletes all attendees, disconnects all clients, and prevents new clients from \n           joining the meeting. For more information about the Amazon Chime SDK, see \n           <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the \n           <i>Amazon Chime Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/meetings/{MeetingId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#DeleteMeetingRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#EngineTranscribeMedicalSettings": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeMedicalLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code specified for the Amazon Transcribe Medical engine.</p>",
            "smithy.api#required": {}
          }
        },
        "Specialty": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeMedicalSpecialty",
          "traits": {
            "smithy.api#documentation": "<p>The specialty specified for the Amazon Transcribe Medical engine.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeMedicalType",
          "traits": {
            "smithy.api#documentation": "<p>The type of transcription.</p>",
            "smithy.api#required": {}
          }
        },
        "VocabularyName": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary passed to Amazon Transcribe Medical.</p>"
          }
        },
        "Region": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeMedicalRegion",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region passed to Amazon Transcribe Medical. If you don't specify a Region, Amazon Chime uses the meeting's Region. </p>"
          }
        },
        "ContentIdentificationType": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeMedicalContentIdentificationType",
          "traits": {
            "smithy.api#documentation": "<p>Set this field to <code>PHI</code> to identify personal health information in the transcription output.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Settings specific to the Amazon Transcribe Medical engine.</p>"
      }
    },
    "com.amazonaws.chimesdkmeetings#EngineTranscribeSettings": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code specified for the Amazon Transcribe engine.</p>"
          }
        },
        "VocabularyFilterMethod": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeVocabularyFilterMethod",
          "traits": {
            "smithy.api#documentation": "<p>The filtering method passed to Amazon Transcribe.</p>"
          }
        },
        "VocabularyFilterName": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary filter passed to Amazon Transcribe.</p>"
          }
        },
        "VocabularyName": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary passed to Amazon Transcribe.</p>"
          }
        },
        "Region": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeRegion",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region passed to Amazon Transcribe. If you don't specify a Region, Amazon Chime uses the meeting's Region.</p>"
          }
        },
        "EnablePartialResultsStabilization": {
          "target": "com.amazonaws.chimesdkmeetings#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Generates partial transcription results that are less likely to change as meeting attendees speak. It does so by only allowing the last few words from the partial results to change.</p>"
          }
        },
        "PartialResultsStability": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribePartialResultsStability",
          "traits": {
            "smithy.api#documentation": "<p>The stabity level of a partial results transcription. Determines how stable you want the transcription results to be. A higher level means the transcription results are less likely to change.</p>"
          }
        },
        "ContentIdentificationType": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeContentIdentificationType",
          "traits": {
            "smithy.api#documentation": "<p>Set this field to <code>PII</code> to identify personally identifiable information in the transcription output.</p>"
          }
        },
        "ContentRedactionType": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeContentRedactionType",
          "traits": {
            "smithy.api#documentation": "<p>Set this field to <code>PII</code> to redact personally identifiable information in the transcription output. Content redaction is performed only upon complete transcription of the audio segments.</p>\n            \n            <p>You can’t set <code>ContentRedactionType</code> and <code>ContentIdentificationType</code> in the same request. If you set both, your request returns a <code>BadRequestException</code>.</p>"
          }
        },
        "PiiEntityTypes": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribePiiEntityTypes",
          "traits": {
            "smithy.api#documentation": "<p>Lists the PII entity types you want to identify or redact. To specify entity types, you must enable <code>ContentIdentificationType</code> or <code>ContentRedactionType</code>.</p>\n        \n        <p>\n            <code>PIIEntityTypes</code> must be comma-separated. The available values are: \n            <code>BANK_ACCOUNT_NUMBER</code>, <code>BANK_ROUTING, CREDIT_DEBIT_NUMBER</code>, <code>CREDIT_DEBIT_CVV</code>, <code>CREDIT_DEBIT_EXPIRY</code>, <code>PIN</code>, <code>EMAIL</code>, \n            <code>ADDRESS</code>, <code>NAME</code>, <code>PHONE</code>, <code>SSN</code>, and <code>ALL</code>.</p>\n        \n        <p>\n            <code>PiiEntityTypes</code> is an optional parameter with a default value of <code>ALL</code>.</p>"
          }
        },
        "LanguageModelName": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeLanguageModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the language model used during transcription.</p>"
          }
        },
        "IdentifyLanguage": {
          "target": "com.amazonaws.chimesdkmeetings#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Automatically identifies the language spoken in media files.</p>"
          }
        },
        "LanguageOptions": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeLanguageOptions",
          "traits": {
            "smithy.api#documentation": "<p>Language codes for the languages that you want to identify. You must provide at least 2 codes.</p>"
          }
        },
        "PreferredLanguage": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>Language code for the preferred language.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Settings specific to the Amazon Transcribe engine.</p>"
      }
    },
    "com.amazonaws.chimesdkmeetings#ExternalMeetingId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#ExternalUserId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#ForbiddenException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "RequestId": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The request id associated with the call responsible for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The client is permanently forbidden from making the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.chimesdkmeetings#GetAttendee": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#GetAttendeeRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmeetings#GetAttendeeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Gets the Amazon Chime SDK attendee details for a specified meeting ID and attendee ID. For more information about the Amazon Chime SDK, see \n            <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a>\n            in the <i>Amazon Chime Developer Guide</i>.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/meetings/{MeetingId}/attendees/{AttendeeId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#GetAttendeeRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AttendeeId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK attendee ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#GetAttendeeResponse": {
      "type": "structure",
      "members": {
        "Attendee": {
          "target": "com.amazonaws.chimesdkmeetings#Attendee",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK attendee information.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#GetMeeting": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#GetMeetingRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmeetings#GetMeetingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the Amazon Chime SDK meeting details for the specified meeting ID. For more information about the Amazon Chime SDK, see \n            <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a>\n            in the <i>Amazon Chime Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/meetings/{MeetingId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#GetMeetingRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#GetMeetingResponse": {
      "type": "structure",
      "members": {
        "Meeting": {
          "target": "com.amazonaws.chimesdkmeetings#Meeting",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting information.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#GuidString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-fA-F0-9]{8}(?:-[a-fA-F0-9]{4}){3}-[a-fA-F0-9]{12}$"
      }
    },
    "com.amazonaws.chimesdkmeetings#JoinTokenString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2048
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#LimitExceededException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "RequestId": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The request id associated with the call responsible for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request exceeds the resource limit.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chimesdkmeetings#ListAttendees": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#ListAttendeesRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmeetings#ListAttendeesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Lists the attendees for the specified Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see \n            <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a>\n            in the <i>Amazon Chime Developer Guide</i>.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/meetings/{MeetingId}/attendees",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#ListAttendeesRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results.</p>",
            "smithy.api#httpQuery": "next-token"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.chimesdkmeetings#ResultMax",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>",
            "smithy.api#httpQuery": "max-results"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#ListAttendeesResponse": {
      "type": "structure",
      "members": {
        "Attendees": {
          "target": "com.amazonaws.chimesdkmeetings#AttendeeList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK attendee information.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmeetings#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of the tags available for the specified resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.chimesdkmeetings#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#httpQuery": "arn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.chimesdkmeetings#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags requested for the specified resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#MediaCapabilities": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SendReceive",
            "name": "SEND_RECEIVE"
          },
          {
            "value": "Send",
            "name": "SEND"
          },
          {
            "value": "Receive",
            "name": "RECEIVE"
          },
          {
            "value": "None",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmeetings#MediaPlacement": {
      "type": "structure",
      "members": {
        "AudioHostUrl": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The audio host URL.</p>"
          }
        },
        "AudioFallbackUrl": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The audio fallback URL.</p>"
          }
        },
        "SignalingUrl": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The signaling URL.</p>"
          }
        },
        "TurnControlUrl": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The turn control URL.</p>"
          }
        },
        "ScreenDataUrl": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The screen data URL.</p>"
          }
        },
        "ScreenViewingUrl": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The screen viewing URL.</p>"
          }
        },
        "ScreenSharingUrl": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The screen sharing URL.</p>"
          }
        },
        "EventIngestionUrl": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The event ingestion URL.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A set of endpoints used by clients to connect to the media service group for an Amazon Chime SDK meeting.</p>"
      }
    },
    "com.amazonaws.chimesdkmeetings#MediaRegion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#Meeting": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>"
          }
        },
        "MeetingHostId": {
          "target": "com.amazonaws.chimesdkmeetings#ExternalUserId",
          "traits": {
            "smithy.api#documentation": "<p>Reserved.</p>"
          }
        },
        "ExternalMeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#ExternalMeetingId",
          "traits": {
            "smithy.api#documentation": "<p>The external meeting ID.</p>"
          }
        },
        "MediaRegion": {
          "target": "com.amazonaws.chimesdkmeetings#MediaRegion",
          "traits": {
            "smithy.api#documentation": "<p>The Region in which you create the meeting. Available values: <code>af-south-1</code>, <code>ap-northeast-1</code>, \n            <code>ap-northeast-2</code>, <code>ap-south-1</code>, <code>ap-southeast-1</code>, <code>ap-southeast-2</code>, <code>ca-central-1</code>, \n            <code>eu-central-1</code>, <code>eu-north-1</code>, <code>eu-south-1</code>,\n            <code>eu-west-1</code>, <code>eu-west-2</code>, <code>eu-west-3</code>,\n            <code>sa-east-1</code>, <code>us-east-1</code>, <code>us-east-2</code>,\n            <code>us-west-1</code>, <code>us-west-2</code>.</p>\n        <p>Available values in AWS GovCloud (US) Regions: <code>us-gov-east-1</code>, <code>us-gov-west-1</code>.</p>"
          }
        },
        "MediaPlacement": {
          "target": "com.amazonaws.chimesdkmeetings#MediaPlacement",
          "traits": {
            "smithy.api#documentation": "<p>The media placement for the meeting.</p>"
          }
        },
        "MeetingFeatures": {
          "target": "com.amazonaws.chimesdkmeetings#MeetingFeaturesConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The features available to a meeting, such as Amazon Voice Focus.</p>"
          }
        },
        "PrimaryMeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#PrimaryMeetingId",
          "traits": {
            "smithy.api#documentation": "<p>When specified, replicates the media from the primary meeting to this meeting.</p>"
          }
        },
        "TenantIds": {
          "target": "com.amazonaws.chimesdkmeetings#TenantIdList",
          "traits": {
            "smithy.api#documentation": "<p>Array of strings.</p>"
          }
        },
        "MeetingArn": {
          "target": "com.amazonaws.chimesdkmeetings#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the meeting.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A meeting created using the Amazon Chime SDK.</p>"
      }
    },
    "com.amazonaws.chimesdkmeetings#MeetingFeatureStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AVAILABLE",
            "name": "AVAILABLE"
          },
          {
            "value": "UNAVAILABLE",
            "name": "UNAVAILABLE"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmeetings#MeetingFeaturesConfiguration": {
      "type": "structure",
      "members": {
        "Audio": {
          "target": "com.amazonaws.chimesdkmeetings#AudioFeatures",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings for the audio features available to a meeting. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration settings of the features available to a meeting.></p>"
      }
    },
    "com.amazonaws.chimesdkmeetings#NotFoundException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "RequestId": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The request ID associated with the call responsible for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more of the resources in the request does not exist in the system.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.chimesdkmeetings#NotificationsConfiguration": {
      "type": "structure",
      "members": {
        "LambdaFunctionArn": {
          "target": "com.amazonaws.chimesdkmeetings#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the AWS Lambda function in the notifications configuration.</p>"
          }
        },
        "SnsTopicArn": {
          "target": "com.amazonaws.chimesdkmeetings#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SNS topic.</p>"
          }
        },
        "SqsQueueArn": {
          "target": "com.amazonaws.chimesdkmeetings#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the SQS queue.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for resource targets to receive notifications when meeting and attendee events occur.</p>"
      }
    },
    "com.amazonaws.chimesdkmeetings#PrimaryMeetingId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "RequestId": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource that couldn't be found.</p>"
          }
        },
        "ResourceName": {
[...]
