{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.chime#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chime#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chime#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permissions to perform the requested operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.chime#Account": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account name.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountType": {
          "target": "com.amazonaws.chime#AccountType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account type. For more information about different account types, see \n    <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration\n                Guide</i>.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chime#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account creation timestamp, in ISO 8601 format.</p>"
          }
        },
        "DefaultLicense": {
          "target": "com.amazonaws.chime#License",
          "traits": {
            "smithy.api#documentation": "<p>The default license for the Amazon Chime account.</p>"
          }
        },
        "SupportedLicenses": {
          "target": "com.amazonaws.chime#LicenseList",
          "traits": {
            "smithy.api#documentation": "<p>Supported licenses for the Amazon Chime account.</p>"
          }
        },
        "AccountStatus": {
          "target": "com.amazonaws.chime#AccountStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the account.</p>"
          }
        },
        "SigninDelegateGroups": {
          "target": "com.amazonaws.chime#SigninDelegateGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The sign-in delegate groups associated with the account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Chime account details. An AWS account can have multiple Amazon Chime accounts.</p>"
      }
    },
    "com.amazonaws.chime#AccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#Account"
      }
    },
    "com.amazonaws.chime#AccountName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.chime#AccountSettings": {
      "type": "structure",
      "members": {
        "DisableRemoteControl": {
          "target": "com.amazonaws.chime#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Setting that stops or starts remote control of shared screens during meetings.</p>"
          }
        },
        "EnableDialOut": {
          "target": "com.amazonaws.chime#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Setting that allows meeting participants to choose the <b>Call me at a phone number</b> option. For more information, see \n    <a href=\"https://docs.aws.amazon.com/chime/latest/ug/chime-join-meeting.html\">Join a Meeting without the Amazon Chime App</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Settings related to the Amazon Chime account. This includes settings that start or stop\n            remote control of shared screens, or start or stop the dial-out option in the Amazon Chime web application. For more information about these settings, see \n    <a href=\"https://docs.aws.amazon.com/chime/latest/ag/policies.html\">Use the Policies Page</a> in the <i>Amazon Chime Administration Guide</i>.</p>"
      }
    },
    "com.amazonaws.chime#AccountStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Suspended",
            "name": "Suspended"
          },
          {
            "value": "Active",
            "name": "Active"
          }
        ]
      }
    },
    "com.amazonaws.chime#AccountType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Team",
            "name": "Team"
          },
          {
            "value": "EnterpriseDirectory",
            "name": "EnterpriseDirectory"
          },
          {
            "value": "EnterpriseLWA",
            "name": "EnterpriseLWA"
          },
          {
            "value": "EnterpriseOIDC",
            "name": "EnterpriseOIDC"
          }
        ]
      }
    },
    "com.amazonaws.chime#AlexaForBusinessMetadata": {
      "type": "structure",
      "members": {
        "IsAlexaForBusinessEnabled": {
          "target": "com.amazonaws.chime#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Starts or stops Alexa for Business.</p>"
          }
        },
        "AlexaForBusinessRoomArn": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the room resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Alexa for Business metadata associated with an Amazon Chime user, used to integrate Alexa for Business with a device.</p>"
      }
    },
    "com.amazonaws.chime#Alpha2CountryCode": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[A-Z]{2}$"
      }
    },
    "com.amazonaws.chime#AppInstance": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the messaging instance.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chime#NonEmptyResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an <code>AppInstance</code>.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chime#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of an <code>AppInstance</code>.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time an <code>AppInstance</code> was last updated. In epoch milliseconds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an <code>AppInstance</code>, an instance of an Amazon Chime SDK messaging application.</p>"
      }
    },
    "com.amazonaws.chime#AppInstanceAdmin": {
      "type": "structure",
      "members": {
        "Admin": {
          "target": "com.amazonaws.chime#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceAdmin</code> data.</p>"
          }
        },
        "AppInstanceArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code> for which the user is an administrator.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which an administrator was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an <code>AppInstanceAdmin</code>.</p>"
      }
    },
    "com.amazonaws.chime#AppInstanceAdminList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#AppInstanceAdminSummary"
      }
    },
    "com.amazonaws.chime#AppInstanceAdminSummary": {
      "type": "structure",
      "members": {
        "Admin": {
          "target": "com.amazonaws.chime#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The details of the <code>AppInstanceAdmin</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the details of an <code>AppInstanceAdmin</code>.</p>"
      }
    },
    "com.amazonaws.chime#AppInstanceDataType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Channel",
            "name": "Channel"
          },
          {
            "value": "ChannelMessage",
            "name": "ChannelMessage"
          }
        ]
      }
    },
    "com.amazonaws.chime#AppInstanceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#AppInstanceSummary"
      }
    },
    "com.amazonaws.chime#AppInstanceRetentionSettings": {
      "type": "structure",
      "members": {
        "ChannelRetentionSettings": {
          "target": "com.amazonaws.chime#ChannelRetentionSettings",
          "traits": {
            "smithy.api#documentation": "<p>The length of time in days to retain the messages in a channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the data-retention settings for an <code>AppInstance</code>.</p>"
      }
    },
    "com.amazonaws.chime#AppInstanceStreamingConfiguration": {
      "type": "structure",
      "members": {
        "AppInstanceDataType": {
          "target": "com.amazonaws.chime#AppInstanceDataType",
          "traits": {
            "smithy.api#documentation": "<p>The type of data to be streamed.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.chime#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The resource ARN.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the streaming configuration of an <code>AppInstance</code>.</p>"
      }
    },
    "com.amazonaws.chime#AppInstanceStreamingConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#AppInstanceStreamingConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        }
      }
    },
    "com.amazonaws.chime#AppInstanceSummary": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstance</code> ARN.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chime#NonEmptyResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>AppInstance</code>.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chime#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the <code>AppInstance</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the data for an <code>AppInstance</code>.</p>"
      }
    },
    "com.amazonaws.chime#AppInstanceUser": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chime#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>AppInstanceUser</code>.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the <code>AppInstanceUser</code> was created.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chime#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the <code>AppInstanceUser</code>.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the <code>AppInstanceUser</code> was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an <code>AppInstanceUser</code>.</p>"
      }
    },
    "com.amazonaws.chime#AppInstanceUserList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#AppInstanceUserSummary"
      }
    },
    "com.amazonaws.chime#AppInstanceUserMembershipSummary": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.chime#ChannelMembershipType",
          "traits": {
            "smithy.api#documentation": "<p>The type of <code>ChannelMembership</code>.</p>"
          }
        },
        "ReadMarkerTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which a message was last read.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the membership details of an <code>AppInstanceUser</code>.</p>"
      }
    },
    "com.amazonaws.chime#AppInstanceUserSummary": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chime#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an <code>AppInstanceUser</code>.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chime#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the <code>AppInstanceUser</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the details of an <code>AppInstanceUser</code>.</p>"
      }
    },
    "com.amazonaws.chime#AreaCode": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^$|^[0-9]{3,3}$"
      }
    },
    "com.amazonaws.chime#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^arn[\\/\\:\\-\\_\\.a-zA-Z0-9]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumberWithUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#AssociatePhoneNumberWithUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#AssociatePhoneNumberWithUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a phone number with the specified Amazon Chime user.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users/{UserId}?operation=associate-phone-number",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumberWithUserRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The user ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "E164PhoneNumber": {
          "target": "com.amazonaws.chime#E164PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number, in E.164 format.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumberWithUserResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnectorRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates phone numbers with the specified Amazon Chime Voice Connector.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connectors/{VoiceConnectorId}?operation=associate-phone-numbers",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnectorGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnectorGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnectorGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates phone numbers with the specified Amazon Chime Voice Connector group.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connector-groups/{VoiceConnectorGroupId}?operation=associate-phone-numbers",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnectorGroupRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorGroupId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime Voice Connector group ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "E164PhoneNumbers": {
          "target": "com.amazonaws.chime#E164PhoneNumberList",
          "traits": {
            "smithy.api#documentation": "<p>List of phone numbers, in E.164 format.</p>",
            "smithy.api#required": {}
          }
        },
        "ForceAssociate": {
          "target": "com.amazonaws.chime#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>If true, associates the provided phone numbers with the provided Amazon Chime Voice Connector Group and removes any previously existing associations. If false, does not associate any phone numbers that have previously existing associations.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnectorGroupResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.chime#PhoneNumberErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnectorRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime Voice Connector ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "E164PhoneNumbers": {
          "target": "com.amazonaws.chime#E164PhoneNumberList",
          "traits": {
            "smithy.api#documentation": "<p>List of phone numbers, in E.164 format.</p>",
            "smithy.api#required": {}
          }
        },
        "ForceAssociate": {
          "target": "com.amazonaws.chime#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>If true, associates the provided phone numbers with the provided Amazon Chime Voice Connector and removes any previously existing associations. If false, does not associate any phone numbers that have previously existing associations.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumbersWithVoiceConnectorResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.chime#PhoneNumberErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and \n    error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#AssociateSigninDelegateGroupsWithAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#AssociateSigninDelegateGroupsWithAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#AssociateSigninDelegateGroupsWithAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified sign-in delegate groups with the specified Amazon Chime account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}?operation=associate-signin-delegate-groups",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#AssociateSigninDelegateGroupsWithAccountRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SigninDelegateGroups": {
          "target": "com.amazonaws.chime#SigninDelegateGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The sign-in delegate groups.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#AssociateSigninDelegateGroupsWithAccountResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.chime#Attendee": {
      "type": "structure",
      "members": {
        "ExternalUserId": {
          "target": "com.amazonaws.chime#ExternalUserIdType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>"
          }
        },
        "AttendeeId": {
          "target": "com.amazonaws.chime#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK attendee ID.</p>"
          }
        },
        "JoinToken": {
          "target": "com.amazonaws.chime#JoinTokenString",
          "traits": {
            "smithy.api#documentation": "<p>The join token used by the Amazon Chime SDK attendee.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\nAn Amazon Chime SDK meeting attendee. Includes a unique \n<code>AttendeeId</code>\nand \n<code>JoinToken</code>\n. The \n<code>JoinToken</code>\nallows a client to authenticate and join as the specified attendee. The \n<code>JoinToken</code>\nexpires when the meeting ends or when \n<a>DeleteAttendee</a>\nis called. After that, the attendee is unable to join the meeting.\n</p>\n\n         <p>We recommend securely transferring each <code>JoinToken</code> from your server application\n            to the client so that no other client has access to the token except for the one\n            authorized to represent the attendee.</p>"
      }
    },
    "com.amazonaws.chime#AttendeeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#Attendee"
      }
    },
    "com.amazonaws.chime#AttendeeTagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.chime#AttendeeTagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.chime#BadRequestException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chime#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chime#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input parameters don't match the service's restrictions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chime#BatchChannelMemberships": {
      "type": "structure",
      "members": {
        "InvitedBy": {
          "target": "com.amazonaws.chime#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the member who invited another member.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.chime#ChannelMembershipType",
          "traits": {
            "smithy.api#documentation": "<p>The membership types set for the channel users.</p>"
          }
        },
        "Members": {
          "target": "com.amazonaws.chime#Members",
          "traits": {
            "smithy.api#documentation": "<p>The users successfully added to the request.</p>"
          }
        },
        "ChannelArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel to which you're adding users.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The membership information, including member ARNs, the channel ARN, and membership\n         types.</p>"
      }
    },
    "com.amazonaws.chime#BatchCreateAttendee": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchCreateAttendeeRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchCreateAttendeeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nCreates up to 100 new attendees for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see \n<a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a>\nin the \n<i>Amazon Chime Developer Guide</i>. \n</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/meetings/{MeetingId}/attendees?operation=batch-create",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#BatchCreateAttendeeErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#CreateAttendeeError"
      }
    },
    "com.amazonaws.chime#BatchCreateAttendeeRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chime#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Attendees": {
          "target": "com.amazonaws.chime#CreateAttendeeRequestItemList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the attendees to create.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#BatchCreateAttendeeResponse": {
      "type": "structure",
      "members": {
        "Attendees": {
          "target": "com.amazonaws.chime#AttendeeList",
          "traits": {
            "smithy.api#documentation": "<p>The attendee information, including attendees IDs and join tokens.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.chime#BatchCreateAttendeeErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the attendees in the request, a list of the attendees is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#BatchCreateChannelMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchCreateChannelMembershipRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchCreateChannelMembershipResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a specified number of users to a channel.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "messaging-"
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channels/{ChannelArn}/memberships?operation=batch-create",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#BatchCreateChannelMembershipError": {
      "type": "structure",
      "members": {
        "MemberArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the member that the service couldn't add.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.chime#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of failed member ARNs, error codes, and error messages.</p>"
      }
    },
    "com.amazonaws.chime#BatchCreateChannelMembershipErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#BatchCreateChannelMembershipError"
      }
    },
    "com.amazonaws.chime#BatchCreateChannelMembershipRequest": {
      "type": "structure",
      "members": {
        "ChannelArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel to which you're adding users.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.chime#ChannelMembershipType",
          "traits": {
            "smithy.api#documentation": "<p>The membership type of a user, <code>DEFAULT</code> or <code>HIDDEN</code>. Default\n         members are always returned as part of <code>ListChannelMemberships</code>. Hidden members\n         are only returned if the type filter in <code>ListChannelMemberships</code> equals\n            <code>HIDDEN</code>. Otherwise hidden members are not returned. This is only supported\n         by moderators.</p>"
          }
        },
        "MemberArns": {
          "target": "com.amazonaws.chime#MemberArns",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the members you want to add to the channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ChimeBearer": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUserArn</code> of the user that makes the API call.</p>",
            "smithy.api#httpHeader": "x-amz-chime-bearer"
          }
        }
      }
    },
    "com.amazonaws.chime#BatchCreateChannelMembershipResponse": {
      "type": "structure",
      "members": {
        "BatchChannelMemberships": {
          "target": "com.amazonaws.chime#BatchChannelMemberships",
          "traits": {
            "smithy.api#documentation": "<p>The list of channel memberships in the response.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.chime#BatchCreateChannelMembershipErrors",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the memberships in the request, a list of the\n         memberships is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#BatchCreateRoomMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchCreateRoomMembershipRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchCreateRoomMembershipResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds up to 50 members to a chat room in an Amazon Chime Enterprise account. Members can be users or bots. The member role designates whether the member is a chat room administrator or a general chat room member.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/rooms/{RoomId}/memberships?operation=batch-create",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#BatchCreateRoomMembershipRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RoomId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The room ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MembershipItemList": {
          "target": "com.amazonaws.chime#MembershipItemList",
          "traits": {
            "smithy.api#documentation": "<p>The list of membership items.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#BatchCreateRoomMembershipResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.chime#MemberErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the member IDs in the request, a list of the member IDs is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#BatchDeletePhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchDeletePhoneNumberRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchDeletePhoneNumberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nMoves phone numbers into the \n<b>Deletion queue</b>. Phone numbers must be disassociated from any users or Amazon Chime Voice Connectors before they can be deleted.\n</p>\n\n         <p>\nPhone numbers remain in the \n<b>Deletion queue</b> for 7 days before they are deleted permanently.\n</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/phone-numbers?operation=batch-delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#BatchDeletePhoneNumberRequest": {
      "type": "structure",
      "members": {
        "PhoneNumberIds": {
          "target": "com.amazonaws.chime#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>List of phone number IDs.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#BatchDeletePhoneNumberResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.chime#PhoneNumberErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#BatchSuspendUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchSuspendUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchSuspendUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Suspends up to 50 users from a <code>Team</code> or <code>EnterpriseLWA</code> Amazon Chime\n            account. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration\n                Guide</i>.</p>\n\n         <p>Users suspended from a <code>Team</code> account are disassociated from the account,but they\n            can continue to use Amazon Chime as free users. To remove the suspension from suspended\n                <code>Team</code> account users, invite them to the <code>Team</code> account again.\n            You can use the <a>InviteUsers</a> action to do so.</p>\n\n         <p>Users suspended from an <code>EnterpriseLWA</code> account are immediately signed out of\n            Amazon Chime and can no longer sign in. To remove the suspension from suspended <code>EnterpriseLWA</code> account users, use the <a>BatchUnsuspendUser</a> action.</p>\n\n         <p>\nTo sign out users without suspending them, use the \n<a>LogoutUser</a>\naction.\n</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users?operation=suspend",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#BatchSuspendUserRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "UserIdList": {
          "target": "com.amazonaws.chime#UserIdList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the user IDs to suspend.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#BatchSuspendUserResponse": {
      "type": "structure",
      "members": {
        "UserErrors": {
          "target": "com.amazonaws.chime#UserErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the <a>BatchSuspendUser</a> action fails for one or more of the user IDs in the\n            request, a list of the user IDs is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#BatchUnsuspendUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchUnsuspendUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchUnsuspendUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the suspension from up to 50 previously suspended users for the specified Amazon\n            Chime <code>EnterpriseLWA</code> account. Only users on <code>EnterpriseLWA</code>\n            accounts can be unsuspended using this action. For more information about different account types, see \n    <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">\n        Managing Your Amazon Chime Accounts\n    </a> in the account types, in the <i>Amazon Chime Administration Guide</i>.\n</p>\n\n         <p>\nPreviously suspended users who are unsuspended using this action are returned to \n<code>Registered</code>\nstatus. Users who are not previously suspended are ignored.\n</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users?operation=unsuspend",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#BatchUnsuspendUserRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "UserIdList": {
          "target": "com.amazonaws.chime#UserIdList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the user IDs to unsuspend.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#BatchUnsuspendUserResponse": {
      "type": "structure",
      "members": {
        "UserErrors": {
          "target": "com.amazonaws.chime#UserErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the <a>BatchUnsuspendUser</a> action fails for one or more of the user IDs in the\n            request, a list of the user IDs is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#BatchUpdatePhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchUpdatePhoneNumberRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchUpdatePhoneNumberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates phone number product types or calling names. You can update one attribute at a time for each <code>UpdatePhoneNumberRequestItem</code>. For example, you can update the product type or the calling name.</p>\n         <p>For toll-free numbers, you cannot use the Amazon Chime Business Calling product type. For numbers outside the U.S., you must use the Amazon Chime SIP Media Application Dial-In product type.</p>\n         <p>Updates to outbound calling names can take up to 72 hours to complete. Pending updates to outbound calling names must be complete before you can request another update.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/phone-numbers?operation=batch-update",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#BatchUpdatePhoneNumberRequest": {
      "type": "structure",
      "members": {
        "UpdatePhoneNumberRequestItems": {
          "target": "com.amazonaws.chime#UpdatePhoneNumberRequestItemList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the phone number IDs and product types or calling names to update.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#BatchUpdatePhoneNumberResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.chime#PhoneNumberErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#BatchUpdateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchUpdateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchUpdateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates user details within the <a>UpdateUserRequestItem</a> object for up to 20 users for the specified Amazon Chime account. Currently, only <code>LicenseType</code> updates are supported for this action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#BatchUpdateUserRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "UpdateUserRequestItems": {
          "target": "com.amazonaws.chime#UpdateUserRequestItemList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the user IDs and details to update.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#BatchUpdateUserResponse": {
      "type": "structure",
      "members": {
        "UserErrors": {
          "target": "com.amazonaws.chime#UserErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the <a>BatchUpdateUser</a> action fails for one or more of the user IDs in the\n            request, a list of the user IDs is returned, along with error codes and error messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.chime#Bot": {
      "type": "structure",
      "members": {
        "BotId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The bot ID.</p>"
          }
        },
        "UserId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the bot user.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The bot display name.</p>"
          }
        },
        "BotType": {
          "target": "com.amazonaws.chime#BotType",
          "traits": {
            "smithy.api#documentation": "<p>The bot type.</p>"
          }
        },
        "Disabled": {
          "target": "com.amazonaws.chime#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>When true, the bot is stopped from running in your account.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chime#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The bot creation timestamp, in ISO 8601 format.</p>"
          }
        },
        "UpdatedTimestamp": {
          "target": "com.amazonaws.chime#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The updated bot timestamp, in ISO 8601 format.</p>"
          }
        },
        "BotEmail": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The bot email address.</p>"
          }
        },
        "SecurityToken": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The security token used to authenticate Amazon Chime with the outgoing event endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource that allows Enterprise account administrators to configure an interface to receive events from Amazon Chime.</p>"
      }
    },
    "com.amazonaws.chime#BotList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#Bot"
      }
    },
    "com.amazonaws.chime#BotType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ChatBot",
            "name": "ChatBot"
          }
        ]
      }
    },
    "com.amazonaws.chime#BusinessCallingSettings": {
      "type": "structure",
      "members": {
        "CdrBucket": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket designated for call detail record storage.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Chime Business Calling settings for the administrator's AWS account. Includes any\n            Amazon S3 buckets designated for storing call detail records.</p>"
      }
    },
    "com.amazonaws.chime#CallingName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^$|^[a-zA-Z0-9 ]{2,15}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chime#CallingNameStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Unassigned",
            "name": "Unassigned"
          },
          {
            "value": "UpdateInProgress",
            "name": "UpdateInProgress"
          },
          {
            "value": "UpdateSucceeded",
            "name": "UpdateSucceeded"
          },
          {
            "value": "UpdateFailed",
            "name": "UpdateFailed"
          }
        ]
      }
    },
    "com.amazonaws.chime#CallingRegion": {
      "type": "string"
    },
    "com.amazonaws.chime#CallingRegionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#CallingRegion"
      }
    },
    "com.amazonaws.chime#Capability": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Voice",
            "name": "Voice"
          },
          {
            "value": "SMS",
            "name": "SMS"
          }
        ]
      }
    },
    "com.amazonaws.chime#CapabilityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#Capability"
      }
    },
    "com.amazonaws.chime#Channel": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.chime#NonEmptyResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>"
          }
        },
        "ChannelArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>"
          }
        },
        "Mode": {
          "target": "com.amazonaws.chime#ChannelMode",
          "traits": {
            "smithy.api#documentation": "<p>The mode of the channel.</p>"
          }
        },
        "Privacy": {
          "target": "com.amazonaws.chime#ChannelPrivacy",
          "traits": {
            "smithy.api#documentation": "<p>The channel's privacy setting.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chime#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The channel's metadata.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.chime#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUser</code> who created the channel.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the <code>AppInstanceUser</code> created the channel.</p>"
          }
        },
        "LastMessageTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which a member sent the last message in the channel.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which a channel was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a channel.</p>"
      }
    },
    "com.amazonaws.chime#ChannelBan": {
      "type": "structure",
      "members": {
        "Member": {
          "target": "com.amazonaws.chime#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The member being banned from the channel.</p>"
          }
        },
        "ChannelArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel from which a member is being banned.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the ban was created.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.chime#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUser</code> who created the ban.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a channel ban.</p>"
      }
    },
    "com.amazonaws.chime#ChannelBanSummary": {
      "type": "structure",
      "members": {
        "Member": {
          "target": "com.amazonaws.chime#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The member being banned from a channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the details of a <code>ChannelBan</code>.</p>"
      }
    },
    "com.amazonaws.chime#ChannelBanSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#ChannelBanSummary"
      }
    },
    "com.amazonaws.chime#ChannelMembership": {
      "type": "structure",
      "members": {
        "InvitedBy": {
          "target": "com.amazonaws.chime#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the member who invited another member.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.chime#ChannelMembershipType",
          "traits": {
            "smithy.api#documentation": "<p>The membership type set for the channel member.</p>"
          }
        },
        "Member": {
          "target": "com.amazonaws.chime#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The data of the channel member.</p>"
          }
        },
        "ChannelArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the member's channel.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the channel membership was created.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which a channel membership was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a channel member.</p>"
      }
    },
    "com.amazonaws.chime#ChannelMembershipForAppInstanceUserSummary": {
      "type": "structure",
      "members": {
        "ChannelSummary": {
          "target": "com.amazonaws.chime#ChannelSummary"
        },
        "AppInstanceUserMembershipSummary": {
          "target": "com.amazonaws.chime#AppInstanceUserMembershipSummary"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the channel membership details of an <code>AppInstanceUser</code>.</p>"
      }
    },
    "com.amazonaws.chime#ChannelMembershipForAppInstanceUserSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#ChannelMembershipForAppInstanceUserSummary"
      }
    },
    "com.amazonaws.chime#ChannelMembershipSummary": {
      "type": "structure",
      "members": {
        "Member": {
          "target": "com.amazonaws.chime#Identity",
          "traits": {
            "smithy.api#documentation": "<p>A member's summary data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the details of a <code>ChannelMembership</code>.</p>"
      }
    },
    "com.amazonaws.chime#ChannelMembershipSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#ChannelMembershipSummary"
      }
    },
    "com.amazonaws.chime#ChannelMembershipType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DEFAULT",
            "name": "DEFAULT"
          },
          {
            "value": "HIDDEN",
            "name": "HIDDEN"
          }
        ]
      }
    },
    "com.amazonaws.chime#ChannelMessage": {
      "type": "structure",
      "members": {
        "ChannelArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>"
          }
        },
        "MessageId": {
          "target": "com.amazonaws.chime#MessageId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a message.</p>"
          }
        },
        "Content": {
          "target": "com.amazonaws.chime#Content",
          "traits": {
            "smithy.api#documentation": "<p>The message content.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chime#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The message metadata.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.chime#ChannelMessageType",
          "traits": {
            "smithy.api#documentation": "<p>The message type.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the message was created.</p>"
          }
        },
        "LastEditedTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which a message was edited.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which a message was updated.</p>"
          }
        },
        "Sender": {
          "target": "com.amazonaws.chime#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The message sender.</p>"
          }
        },
        "Redacted": {
          "target": "com.amazonaws.chime#NonNullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Hides the content of a message.</p>"
          }
        },
        "Persistence": {
          "target": "com.amazonaws.chime#ChannelMessagePersistenceType",
          "traits": {
            "smithy.api#documentation": "<p>The persistence setting for a channel message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a message in a channel.</p>"
      }
    },
    "com.amazonaws.chime#ChannelMessagePersistenceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PERSISTENT",
            "name": "PERSISTENT"
          },
          {
            "value": "NON_PERSISTENT",
            "name": "NON_PERSISTENT"
          }
        ]
      }
    },
    "com.amazonaws.chime#ChannelMessageSummary": {
      "type": "structure",
      "members": {
        "MessageId": {
          "target": "com.amazonaws.chime#MessageId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the message.</p>"
          }
        },
        "Content": {
          "target": "com.amazonaws.chime#Content",
          "traits": {
            "smithy.api#documentation": "<p>The content of the message.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chime#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the message.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.chime#ChannelMessageType",
          "traits": {
            "smithy.api#documentation": "<p>The type of message.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the message summary was created.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which a message was last updated.</p>"
          }
        },
        "LastEditedTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which a message was last edited.</p>"
          }
        },
        "Sender": {
          "target": "com.amazonaws.chime#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The message sender.</p>"
          }
        },
        "Redacted": {
          "target": "com.amazonaws.chime#NonNullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether a message was redacted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the messages in a <code>Channel</code>.</p>"
      }
    },
    "com.amazonaws.chime#ChannelMessageSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#ChannelMessageSummary"
      }
    },
    "com.amazonaws.chime#ChannelMessageType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STANDARD",
            "name": "STANDARD"
          },
          {
            "value": "CONTROL",
            "name": "CONTROL"
          }
        ]
      }
    },
    "com.amazonaws.chime#ChannelMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "UNRESTRICTED",
            "name": "UNRESTRICTED"
          },
          {
            "value": "RESTRICTED",
            "name": "RESTRICTED"
          }
        ]
      }
    },
    "com.amazonaws.chime#ChannelModeratedByAppInstanceUserSummary": {
      "type": "structure",
      "members": {
        "ChannelSummary": {
          "target": "com.amazonaws.chime#ChannelSummary",
          "traits": {
            "smithy.api#documentation": "<p>Summary of the details of a <code>Channel</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the details of a moderated channel.</p>"
      }
    },
    "com.amazonaws.chime#ChannelModeratedByAppInstanceUserSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#ChannelModeratedByAppInstanceUserSummary"
      }
    },
    "com.amazonaws.chime#ChannelModerator": {
      "type": "structure",
      "members": {
        "Moderator": {
          "target": "com.amazonaws.chime#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The moderator's data.</p>"
          }
        },
        "ChannelArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the moderator's channel.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the moderator was created.</p>"
          }
        },
        "CreatedBy": {
          "target": "com.amazonaws.chime#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceUser</code> who created the moderator.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a channel moderator.</p>"
      }
    },
    "com.amazonaws.chime#ChannelModeratorSummary": {
      "type": "structure",
      "members": {
        "Moderator": {
          "target": "com.amazonaws.chime#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The data for a moderator.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the details of a <code>ChannelModerator</code>.</p>"
      }
    },
    "com.amazonaws.chime#ChannelModeratorSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#ChannelModeratorSummary"
      }
    },
    "com.amazonaws.chime#ChannelPrivacy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PUBLIC",
            "name": "PUBLIC"
          },
          {
            "value": "PRIVATE",
            "name": "PRIVATE"
          }
        ]
      }
    },
    "com.amazonaws.chime#ChannelRetentionSettings": {
      "type": "structure",
      "members": {
        "RetentionDays": {
          "target": "com.amazonaws.chime#RetentionDays",
          "traits": {
            "smithy.api#documentation": "<p>The time in days to retain the messages in a channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the retention settings for a channel.</p>"
      }
    },
    "com.amazonaws.chime#ChannelSummary": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.chime#NonEmptyResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>"
          }
        },
        "ChannelArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>"
          }
        },
        "Mode": {
          "target": "com.amazonaws.chime#ChannelMode",
          "traits": {
            "smithy.api#documentation": "<p>The mode of the channel.</p>"
          }
        },
        "Privacy": {
          "target": "com.amazonaws.chime#ChannelPrivacy",
          "traits": {
            "smithy.api#documentation": "<p>The privacy setting of the channel.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chime#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the channel.</p>"
          }
        },
        "LastMessageTimestamp": {
          "target": "com.amazonaws.chime#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the last message in a channel was sent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the details of a <code>Channel</code>.</p>"
      }
    },
    "com.amazonaws.chime#ChannelSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#ChannelSummary"
      }
    },
    "com.amazonaws.chime#ChimeArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}$"
      }
    },
    "com.amazonaws.chime#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        },
        "smithy.api#pattern": "^[-_a-zA-Z0-9]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chime#ConflictException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chime#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chime#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be processed because of conflict in the current state of the\n         resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.chime#Content": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        },
        "smithy.api#pattern": "^[\\s\\S]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chime#ConversationRetentionSettings": {
      "type": "structure",
      "members": {
        "RetentionDays": {
          "target": "com.amazonaws.chime#RetentionDays",
          "traits": {
            "smithy.api#documentation": "<p>The number of days for which to retain conversation messages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The retention settings that determine how long to retain conversation messages for an Amazon Chime Enterprise account.</p>"
      }
    },
    "com.amazonaws.chime#Country": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^$|^[A-Z]{2,2}$"
      }
    },
    "com.amazonaws.chime#CountryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#Country"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.chime#CpsLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.chime#CreateAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Chime account under the administrator's AWS account. Only <code>Team</code>\n            account types are currently supported for this action. For more information about different account types, see \n    <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateAccountRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.chime#AccountName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Chime account.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#CreateAccountResponse": {
      "type": "structure",
      "members": {
        "Account": {
          "target": "com.amazonaws.chime#Account",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account details.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateAppInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateAppInstanceRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateAppInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ConflictException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Chime SDK messaging <code>AppInstance</code> under an AWS account. Only SDK messaging customers use this API. \n<code>CreateAppInstance</code> supports idempotency behavior as described in the AWS API Standard.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "identity-"
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/app-instances",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateAppInstanceAdmin": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateAppInstanceAdminRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateAppInstanceAdminResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ConflictException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Promotes an <code>AppInstanceUser</code> to an <code>AppInstanceAdmin</code>. The promoted user can perform the following actions. \n</p>\n\n         <ul>\n            <li>\n               <p>\n                  <code>ChannelModerator</code> actions across all channels in the <code>AppInstance</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteChannelMessage</code> actions.</p>\n            </li>\n         </ul>\n\n         <p>Only an <code>AppInstanceUser</code> can be promoted to an <code>AppInstanceAdmin</code> role.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "identity-"
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/app-instances/{AppInstanceArn}/admins",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateAppInstanceAdminRequest": {
      "type": "structure",
      "members": {
        "AppInstanceAdminArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the administrator of the current <code>AppInstance</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "AppInstanceArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chime#CreateAppInstanceAdminResponse": {
      "type": "structure",
      "members": {
        "AppInstanceAdmin": {
          "target": "com.amazonaws.chime#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The name and ARN of the admin for the <code>AppInstance</code>.</p>"
          }
        },
        "AppInstanceArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the of the admin for the <code>AppInstance</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateAppInstanceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.chime#NonEmptyResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>AppInstance</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chime#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the <code>AppInstance</code>. Limited to a 1KB string in UTF-8.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chime#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ClientRequestToken</code> of the <code>AppInstance</code>.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chime#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to the <code>AppInstanceUser</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateAppInstanceResponse": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the <code>AppInstance</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateAppInstanceUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateAppInstanceUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateAppInstanceUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ConflictException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user under an Amazon Chime <code>AppInstance</code>. The request consists of a unique <code>appInstanceUserId</code> and \n<code>Name</code> for that user.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "identity-"
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/app-instance-users",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateAppInstanceUserRequest": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code> request.</p>",
            "smithy.api#required": {}
          }
        },
        "AppInstanceUserId": {
          "target": "com.amazonaws.chime#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The user ID of the <code>AppInstance</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.chime#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The user's name.</p>",
            "smithy.api#required": {}
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chime#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The request's metadata. Limited to a 1KB string in UTF-8.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chime#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The token assigned to the user requesting an <code>AppInstance</code>.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chime#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to the <code>AppInstanceUser</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateAppInstanceUserResponse": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chime#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The user's ARN.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateAttendee": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateAttendeeRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateAttendeeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nCreates a new attendee for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see \n<a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a>\nin the \n<i>Amazon Chime Developer Guide</i>.\n</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/meetings/{MeetingId}/attendees",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateAttendeeError": {
      "type": "structure",
      "members": {
        "ExternalUserId": {
          "target": "com.amazonaws.chime#ExternalUserIdType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The list of errors returned when errors are encountered during the BatchCreateAttendee and CreateAttendee actions. This includes external user IDs, error codes, and error messages.</p>"
      }
    },
    "com.amazonaws.chime#CreateAttendeeRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chime#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ExternalUserId": {
          "target": "com.amazonaws.chime#ExternalUserIdType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chime#AttendeeTagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag key-value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateAttendeeRequestItem": {
      "type": "structure",
      "members": {
        "ExternalUserId": {
          "target": "com.amazonaws.chime#ExternalUserIdType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chime#AttendeeTagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag key-value pairs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Chime SDK attendee fields to create, used with the BatchCreateAttendee action.</p>"
      }
    },
    "com.amazonaws.chime#CreateAttendeeRequestItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#CreateAttendeeRequestItem"
      }
    },
    "com.amazonaws.chime#CreateAttendeeResponse": {
      "type": "structure",
      "members": {
        "Attendee": {
          "target": "com.amazonaws.chime#Attendee",
          "traits": {
            "smithy.api#documentation": "<p>The attendee information, including attendee ID and join token.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateBotRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateBotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a bot for an Amazon Chime Enterprise account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/bots",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateBotRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The bot display name.</p>",
            "smithy.api#required": {}
          }
        },
        "Domain": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The domain of the Amazon Chime Enterprise account.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateBotResponse": {
      "type": "structure",
      "members": {
        "Bot": {
          "target": "com.amazonaws.chime#Bot",
          "traits": {
            "smithy.api#documentation": "<p>The bot details.</p>"
          }
        }
      }
    },
    "com.amazonaws.chime#CreateChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ConflictException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a channel to which you can add users and send messages.</p>\n\n         <p>\n            <b>Restriction</b>: You can't change a channel's\n         privacy.</p>\n\n         <note>\n            <p>The <code>x-amz-chime-bearer</code> request header is mandatory. Use the\n               <code>AppInstanceUserArn</code> of the user that makes the API call as the value in\n            the header.</p>\n         </note>",
        "smithy.api#endpoint": {
          "hostPrefix": "messaging-"
        },
        "smithy.api#http": {
[...]
