{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.chimesdkmeetings#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:"
      }
    },
    "com.amazonaws.chimesdkmeetings#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^arn[\\/\\:\\-\\_\\.a-zA-Z0-9]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#Attendee": {
      "type": "structure",
      "members": {
        "ExternalUserId": {
          "target": "com.amazonaws.chimesdkmeetings#ExternalUserId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>\n         <p>Pattern: <code>[-_&@+=,(){}\\[\\]\\/«».:|'\"#a-zA-Z0-9À-ÿ\\s]*</code>\n         </p>\n         <p>Values that begin with <code>aws:</code> are reserved. You can't configure a value that uses this prefix. \n            Case insensitive.</p>"
          }
        },
        "AttendeeId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK attendee ID.</p>"
          }
        },
        "JoinToken": {
          "target": "com.amazonaws.chimesdkmeetings#JoinTokenString",
          "traits": {
            "smithy.api#documentation": "<p>The join token used by the Amazon Chime SDK attendee.</p>"
          }
        },
        "Capabilities": {
          "target": "com.amazonaws.chimesdkmeetings#AttendeeCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>The capabilities assigned to an attendee: audio, video, or content.</p>\n         <note>\n            <p>You use the capabilities with a set of values that control what the capabilities can do, such as <code>SendReceive</code> data. For more information about those values, see \n            .</p>\n         </note>\n         <p>When using capabilities, be aware of these corner cases:</p>\n         <ul>\n            <li>\n               <p>You can't set <code>content</code> capabilities to <code>SendReceive</code> or <code>Receive</code> unless you also set <code>video</code> capabilities to <code>SendReceive</code> \n                    or <code>Receive</code>. If you don't set the <code>video</code> capability to receive, the response will contain an HTTP 400 Bad Request status code. However, you can set your <code>video</code> capability \n                    to receive and you set your <code>content</code> capability to not receive.</p>\n            </li>\n            <li>\n               <p>When you change an <code>audio</code> capability from <code>None</code> or <code>Receive</code> to <code>Send</code> or <code>SendReceive</code> , \n                    and if the attendee left their microphone unmuted, audio will flow from the attendee to the other meeting participants.</p>\n            </li>\n            <li>\n               <p>When you change a <code>video</code> or <code>content</code> capability from <code>None</code> or <code>Receive</code> to <code>Send</code> or <code>SendReceive</code> , \n                    and if the attendee turned on their video or content streams, remote attendees can receive those streams, but only after media renegotiation between the client and the Amazon Chime back-end server.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Amazon Chime SDK meeting attendee. Includes a unique \n           <code>AttendeeId</code> and <code>JoinToken</code>. The \n           <code>JoinToken</code>\n           allows a client to authenticate and join as the specified attendee. The \n           <code>JoinToken</code>\n           expires when the meeting ends, or when \n           <a>DeleteAttendee</a>\n           is called. After that, the attendee is unable to join the meeting.\n       </p>\n         <p>We recommend securely transferring each <code>JoinToken</code> from your server application\n           to the client so that no other client has access to the token except for the one\n           authorized to represent the attendee.</p>"
      }
    },
    "com.amazonaws.chimesdkmeetings#AttendeeCapabilities": {
      "type": "structure",
      "members": {
        "Audio": {
          "target": "com.amazonaws.chimesdkmeetings#MediaCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>The audio capability assigned to an attendee.</p>",
            "smithy.api#required": {}
          }
        },
        "Video": {
          "target": "com.amazonaws.chimesdkmeetings#MediaCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>The video capability assigned to an attendee.</p>",
            "smithy.api#required": {}
          }
        },
        "Content": {
          "target": "com.amazonaws.chimesdkmeetings#MediaCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>The content capability assigned to an attendee.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The media capabilities of an attendee: audio, video, or content. </p>\n         <note>\n            <p>You use the capabilities with a set of values that control what the capabilities can do, such as <code>SendReceive</code> data. For more information about those values, see \n            .</p>\n         </note>\n         <p>When using capabilities, be aware of these corner cases:</p>\n         <ul>\n            <li>\n               <p>You can't set <code>content</code> capabilities to <code>SendReceive</code> or <code>Receive</code> unless you also set <code>video</code> capabilities to <code>SendReceive</code> \n                    or <code>Receive</code>. If you don't set the <code>video</code> capability to receive, the response will contain an HTTP 400 Bad Request status code. However, you can set your <code>video</code> capability \n                    to receive and you set your <code>content</code> capability to not receive.</p>\n            </li>\n            <li>\n               <p>When you change an <code>audio</code> capability from <code>None</code> or <code>Receive</code> to <code>Send</code> or <code>SendReceive</code> , \n                    and if the attendee left their microphone unmuted, audio will flow from the attendee to the other meeting participants.</p>\n            </li>\n            <li>\n               <p>When you change a <code>video</code> or <code>content</code> capability from <code>None</code> or <code>Receive</code> to <code>Send</code> or <code>SendReceive</code> , \n                    and if the attendee turned on their video or content streams, remote attendees can receive those streams, but only after media renegotiation between the client and the Amazon Chime back-end server.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.chimesdkmeetings#AttendeeIdItem": {
      "type": "structure",
      "members": {
        "AttendeeId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>A list of one or more attendee IDs.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains one or more attendee IDs.</p>"
      }
    },
    "com.amazonaws.chimesdkmeetings#AttendeeIdsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmeetings#AttendeeIdItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 250
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#AttendeeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmeetings#Attendee"
      }
    },
    "com.amazonaws.chimesdkmeetings#AudioFeatures": {
      "type": "structure",
      "members": {
        "EchoReduction": {
          "target": "com.amazonaws.chimesdkmeetings#MeetingFeatureStatus",
          "traits": {
            "smithy.api#documentation": "<p>Makes echo reduction available to clients who connect to the meeting.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An optional category of meeting features that contains audio-specific configurations, such as operating parameters for Amazon Voice Focus. </p>"
      }
    },
    "com.amazonaws.chimesdkmeetings#BadRequestException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "RequestId": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The request id associated with the call responsible for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input parameters don't match the service's restrictions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chimesdkmeetings#BatchCreateAttendee": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#BatchCreateAttendeeRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmeetings#BatchCreateAttendeeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#LimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates up to 100 attendees for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see \n            <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/meetings/{MeetingId}/attendees?operation=batch-create",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#BatchCreateAttendeeErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmeetings#CreateAttendeeError"
      }
    },
    "com.amazonaws.chimesdkmeetings#BatchCreateAttendeeRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK ID of the meeting to which you're adding attendees.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Attendees": {
          "target": "com.amazonaws.chimesdkmeetings#CreateAttendeeRequestItemList",
          "traits": {
            "smithy.api#documentation": "<p>The attendee information, including attendees' IDs and join tokens.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#BatchCreateAttendeeResponse": {
      "type": "structure",
      "members": {
        "Attendees": {
          "target": "com.amazonaws.chimesdkmeetings#AttendeeList",
          "traits": {
            "smithy.api#documentation": "<p>The attendee information, including attendees' IDs and join tokens.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.chimesdkmeetings#BatchCreateAttendeeErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the attendees in the request, a list of the attendees is returned, along with error codes and error messages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#BatchUpdateAttendeeCapabilitiesExcept": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#BatchUpdateAttendeeCapabilitiesExceptRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates <code>AttendeeCapabilities</code> except the capabilities listed in an <code>ExcludedAttendeeIds</code> table.</p>\n         <note>\n            <p>You use the capabilities with a set of values that control what the capabilities can do, such as <code>SendReceive</code> data. For more information about those values, see \n            .</p>\n         </note>\n         <p>When using capabilities, be aware of these corner cases:</p>\n         <ul>\n            <li>\n               <p>You can't set <code>content</code> capabilities to <code>SendReceive</code> or <code>Receive</code> unless you also set <code>video</code> capabilities to <code>SendReceive</code> \n                    or <code>Receive</code>. If you don't set the <code>video</code> capability to receive, the response will contain an HTTP 400 Bad Request status code. However, you can set your <code>video</code> capability \n                    to receive and you set your <code>content</code> capability to not receive.</p>\n            </li>\n            <li>\n               <p>When you change an <code>audio</code> capability from <code>None</code> or <code>Receive</code> to <code>Send</code> or <code>SendReceive</code> , \n                    and if the attendee left their microphone unmuted, audio will flow from the attendee to the other meeting participants.</p>\n            </li>\n            <li>\n               <p>When you change a <code>video</code> or <code>content</code> capability from <code>None</code> or <code>Receive</code> to <code>Send</code> or <code>SendReceive</code> , \n                    and if the attendee turned on their video or content streams, remote attendees can receive those streams, but only after media renegotiation between the client and the Amazon Chime back-end server.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/meetings/{MeetingId}/attendees/capabilities?operation=batch-update-except",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#BatchUpdateAttendeeCapabilitiesExceptRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the meeting associated with the update request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ExcludedAttendeeIds": {
          "target": "com.amazonaws.chimesdkmeetings#AttendeeIdsList",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AttendeeIDs</code> that you want to exclude from one or more capabilities.</p>",
            "smithy.api#required": {}
          }
        },
        "Capabilities": {
          "target": "com.amazonaws.chimesdkmeetings#AttendeeCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>The capabilities (<code>audio</code>, <code>video</code>, or <code>content</code>) that you want to update.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.chimesdkmeetings#ChimeMeetingsSDKService": {
      "type": "service",
      "version": "2021-07-15",
      "operations": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BatchCreateAttendee"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#BatchUpdateAttendeeCapabilitiesExcept"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#CreateAttendee"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#CreateMeeting"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#CreateMeetingWithAttendees"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#DeleteAttendee"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#DeleteMeeting"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#GetAttendee"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#GetMeeting"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ListAttendees"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#StartMeetingTranscription"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#StopMeetingTranscription"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#TagResource"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UntagResource"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UpdateAttendeeCapabilities"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Chime SDK Meetings",
          "arnNamespace": "chime",
          "cloudFormationName": "ChimeSDKMeetings",
          "cloudTrailEventSource": "chimesdkmeetings.amazonaws.com",
          "endpointPrefix": "meetings-chime"
        },
        "aws.auth#sigv4": {
          "name": "chime"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>The Amazon Chime SDK meetings APIs in this section allow software developers to create Amazon Chime SDK meetings, set the AWS Regions for meetings, create and manage users, and send and \n            receive meeting notifications. For more information about the meeting APIs, see \n            <a href=\"https://docs.aws.amazon.com/chime/latest/APIReference/API_Operations_Amazon_Chime_SDK_Meetings.html\">Amazon Chime SDK meetings</a>.</p>",
        "smithy.api#title": "Amazon Chime SDK Meetings",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://meetings-chime-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://meetings-chime-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://meetings-chime.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://meetings-chime.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://meetings-chime.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        },
        "smithy.api#pattern": "^[-_a-zA-Z0-9]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#ConflictException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "RequestId": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the request involved in the conflict.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Multiple instances of the same request have been made simultaneously.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateAttendee": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#CreateAttendeeRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmeetings#CreateAttendeeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#LimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n           Creates a new attendee for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see \n           <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a>\n           in the \n           <i>Amazon Chime Developer Guide</i>.\n       </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/meetings/{MeetingId}/attendees",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateAttendeeError": {
      "type": "structure",
      "members": {
        "ExternalUserId": {
          "target": "com.amazonaws.chimesdkmeetings#ExternalUserId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>\n         <p>Pattern: <code>[-_&@+=,(){}\\[\\]\\/«».:|'\"#a-zA-Z0-9À-ÿ\\s]*</code>\n         </p>\n         <p>Values that begin with <code>aws:</code> are reserved. You can't configure a value that uses this prefix. \n            Case insensitive.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The list of errors returned when errors are encountered during the BatchCreateAttendee and CreateAttendee actions. This includes external user IDs, error codes, and error messages.</p>"
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateAttendeeRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the meeting.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ExternalUserId": {
          "target": "com.amazonaws.chimesdkmeetings#ExternalUserId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>\n         <p>Pattern: <code>[-_&@+=,(){}\\[\\]\\/«».:|'\"#a-zA-Z0-9À-ÿ\\s]*</code>\n         </p>\n         <p>Values that begin with <code>aws:</code> are reserved. You can't configure a value that\n            uses this prefix.</p>",
            "smithy.api#required": {}
          }
        },
        "Capabilities": {
          "target": "com.amazonaws.chimesdkmeetings#AttendeeCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>The capabilities (<code>audio</code>, <code>video</code>, or <code>content</code>) that you want to grant an attendee. If you don't specify capabilities, all users have send and receive capabilities on \n            all media channels by default.</p>\n         <note>\n            <p>You use the capabilities with a set of values that control what the capabilities can do, such as <code>SendReceive</code> data. For more information about those values, see \n            .</p>\n         </note>\n         <p>When using capabilities, be aware of these corner cases:</p>\n         <ul>\n            <li>\n               <p>You can't set <code>content</code> capabilities to <code>SendReceive</code> or <code>Receive</code> unless you also set <code>video</code> capabilities to <code>SendReceive</code> \n                    or <code>Receive</code>. If you don't set the <code>video</code> capability to receive, the response will contain an HTTP 400 Bad Request status code. However, you can set your <code>video</code> capability \n                    to receive and you set your <code>content</code> capability to not receive.</p>\n            </li>\n            <li>\n               <p>When you change an <code>audio</code> capability from <code>None</code> or <code>Receive</code> to <code>Send</code> or <code>SendReceive</code> , \n                    and if the attendee left their microphone unmuted, audio will flow from the attendee to the other meeting participants.</p>\n            </li>\n            <li>\n               <p>When you change a <code>video</code> or <code>content</code> capability from <code>None</code> or <code>Receive</code> to <code>Send</code> or <code>SendReceive</code> , \n                   and if the attendee turned on their video or content streams, remote attendees can receive those streams, but only after media renegotiation between the client and the Amazon Chime back-end server.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateAttendeeRequestItem": {
      "type": "structure",
      "members": {
        "ExternalUserId": {
          "target": "com.amazonaws.chimesdkmeetings#ExternalUserId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK external user ID. An idempotency token. Links the attendee to an identity managed by a builder application.</p>\n         <p>Pattern: <code>[-_&@+=,(){}\\[\\]\\/«».:|'\"#a-zA-Z0-9À-ÿ\\s]*</code>\n         </p>\n         <p>Values that begin with <code>aws:</code> are reserved. You can't configure a value that uses this prefix. \n            Case insensitive.</p>",
            "smithy.api#required": {}
          }
        },
        "Capabilities": {
          "target": "com.amazonaws.chimesdkmeetings#AttendeeCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>A list of one or more capabilities.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Chime SDK attendee fields to create, used with the BatchCreateAttendee action.</p>"
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateAttendeeRequestItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmeetings#CreateAttendeeRequestItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateAttendeeResponse": {
      "type": "structure",
      "members": {
        "Attendee": {
          "target": "com.amazonaws.chimesdkmeetings#Attendee",
          "traits": {
            "smithy.api#documentation": "<p>The attendee information, including attendee ID and join token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateMeeting": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#CreateMeetingRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmeetings#CreateMeetingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#LimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon Chime SDK meeting in the specified media Region with no initial attendees. For more information about specifying media Regions, see \n           <a href=\"https://docs.aws.amazon.com/chime/latest/dg/chime-sdk-meetings-regions.html\">Amazon Chime SDK Media Regions</a>\n           in the <i>Amazon Chime Developer Guide</i>. For more information about the Amazon Chime SDK, see \n           <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a>\n           in the \n           <i>Amazon Chime Developer Guide</i>.\n       </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/meetings",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateMeetingRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkmeetings#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the client request. Use a different token for different meetings.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "MediaRegion": {
          "target": "com.amazonaws.chimesdkmeetings#MediaRegion",
          "traits": {
            "smithy.api#documentation": "<p>The Region in which to create the meeting.</p>\n         <p>\n           Available values: \n           <code>af-south-1</code>, \n           <code>ap-northeast-1</code>, \n           <code>ap-northeast-2</code>, \n           <code>ap-south-1</code>, \n           <code>ap-southeast-1</code>, \n           <code>ap-southeast-2</code>,           \n           <code>ca-central-1</code>, \n           <code>eu-central-1</code>, \n           <code>eu-north-1</code>, \n           <code>eu-south-1</code>, \n           <code>eu-west-1</code>, \n           <code>eu-west-2</code>, \n           <code>eu-west-3</code>,            \n           <code>sa-east-1</code>, \n           <code>us-east-1</code>, \n           <code>us-east-2</code>, \n           <code>us-west-1</code>, \n           <code>us-west-2</code>.\n       </p>\n         <p>Available values in AWS GovCloud (US) Regions: <code>us-gov-east-1</code>, <code>us-gov-west-1</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "MeetingHostId": {
          "target": "com.amazonaws.chimesdkmeetings#ExternalUserId",
          "traits": {
            "smithy.api#documentation": "<p>Reserved.</p>"
          }
        },
        "ExternalMeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#ExternalMeetingId",
          "traits": {
            "smithy.api#documentation": "<p>The external meeting ID.</p>\n         <p>Pattern: <code>[-_&@+=,(){}\\[\\]\\/«».:|'\"#a-zA-Z0-9À-ÿ\\s]*</code>\n         </p>\n         <p>Values that begin with <code>aws:</code> are reserved. You can't configure a value that uses this prefix. \n           Case insensitive.</p>",
            "smithy.api#required": {}
          }
        },
        "NotificationsConfiguration": {
          "target": "com.amazonaws.chimesdkmeetings#NotificationsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for resource targets to receive notifications when meeting and attendee events occur.</p>"
          }
        },
        "MeetingFeatures": {
          "target": "com.amazonaws.chimesdkmeetings#MeetingFeaturesConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Lists the audio and video features enabled for a meeting, such as echo reduction.</p>"
          }
        },
        "PrimaryMeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#PrimaryMeetingId",
          "traits": {
            "smithy.api#documentation": "<p>When specified, replicates the media from the primary meeting to the new meeting.</p>"
          }
        },
        "TenantIds": {
          "target": "com.amazonaws.chimesdkmeetings#TenantIdList",
          "traits": {
            "smithy.api#documentation": "<p>A consistent and opaque identifier, created and maintained by the builder to represent a segment of their users.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkmeetings#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Applies one or more tags to an Amazon Chime SDK meeting. Note the following:</p>\n         <ul>\n            <li>\n               <p>Not all resources have tags. For a list of services with resources that support tagging using this operation, see \n        <a href=\"https://docs.aws.amazon.com/resourcegroupstagging/latest/APIReference/supported-services.html\">Services that support the Resource Groups Tagging API</a>. If the resource \n        doesn't yet support this operation, the resource's service might support tagging using its own API operations. For more information, refer to the documentation for that service.</p>\n            </li>\n            <li>\n               <p>Each resource can have up to 50 tags. For other limits, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html#tag-conventions\">Tag Naming and Usage Conventions</a> in the \n       <i>AWS General Reference</i>.</p>\n            </li>\n            <li>\n               <p>You can only tag resources that are located in the specified AWS Region for the AWS account.</p>\n            </li>\n            <li>\n               <p>To add tags to a resource, you need the necessary permissions for the service that the resource belongs to as well as permissions for adding tags. For more information, see the \n        documentation for each service.</p>\n            </li>\n         </ul>\n         <important>\n            <p>Do not store personally identifiable information (PII) or other confidential or sensitive information in tags. We use tags to provide you with billing and administration services. Tags are not intended to be \n            used for private or sensitive data.</p>\n         </important>\n         <p>\n            <b>Minimum permissions</b>\n         </p>\n         <p>In addition to the <code>tag:TagResources</code> permission required by this operation, you must also have the tagging permission defined by the service that created the resource. For example, \n                   to tag a <code>ChimeSDKMeetings</code> instance using the <code>TagResources</code> operation, you must have both of the following permissions:</p>\n         <p>\n            <code>tag:TagResources</code>\n         </p>\n         <p>\n            <code>ChimeSDKMeetings:CreateTags</code>\n         </p>\n         <note>\n            <p>Some services might have specific requirements for tagging some resources. For example, to tag an Amazon S3 bucket, you must also have the <code>s3:GetBucketTagging</code> permission. \n                If the expected minimum permissions don't work, check the documentation for that service's tagging APIs for more information.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateMeetingResponse": {
      "type": "structure",
      "members": {
        "Meeting": {
          "target": "com.amazonaws.chimesdkmeetings#Meeting",
          "traits": {
            "smithy.api#documentation": "<p>The meeting information, including the meeting ID and \n           <code>MediaPlacement</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateMeetingWithAttendees": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#CreateMeetingWithAttendeesRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmeetings#CreateMeetingWithAttendeesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#LimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n           Creates a new Amazon Chime SDK meeting in the specified media Region, with attendees. For more information about specifying media Regions, see \n           <a href=\"https://docs.aws.amazon.com/chime/latest/dg/chime-sdk-meetings-regions.html\">Amazon Chime SDK Media Regions</a>\n           in the <i>Amazon Chime Developer Guide</i>. For more information about the Amazon Chime SDK, see \n           <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a>\n           in the <i>Amazon Chime Developer Guide</i>.\n       </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/meetings?operation=create-attendees",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateMeetingWithAttendeesRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkmeetings#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the client request. Use a different token for different meetings.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "MediaRegion": {
          "target": "com.amazonaws.chimesdkmeetings#MediaRegion",
          "traits": {
            "smithy.api#documentation": "<p>The Region in which to create the meeting.</p>\n         <p>\n           Available values: \n           <code>af-south-1</code>, \n           <code>ap-northeast-1</code>, \n           <code>ap-northeast-2</code>, \n           <code>ap-south-1</code>, \n           <code>ap-southeast-1</code>, \n           <code>ap-southeast-2</code>,           \n           <code>ca-central-1</code>, \n           <code>eu-central-1</code>, \n           <code>eu-north-1</code>, \n           <code>eu-south-1</code>, \n           <code>eu-west-1</code>, \n           <code>eu-west-2</code>, \n           <code>eu-west-3</code>,            \n           <code>sa-east-1</code>, \n           <code>us-east-1</code>, \n           <code>us-east-2</code>, \n           <code>us-west-1</code>, \n           <code>us-west-2</code>.\n       </p>\n         <p>Available values in AWS GovCloud (US) Regions: <code>us-gov-east-1</code>, <code>us-gov-west-1</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "MeetingHostId": {
          "target": "com.amazonaws.chimesdkmeetings#ExternalUserId",
          "traits": {
            "smithy.api#documentation": "<p>Reserved.</p>"
          }
        },
        "ExternalMeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#ExternalMeetingId",
          "traits": {
            "smithy.api#documentation": "<p>The external meeting ID.</p>\n         <p>Pattern: <code>[-_&@+=,(){}\\[\\]\\/«».:|'\"#a-zA-Z0-9À-ÿ\\s]*</code>\n         </p>\n         <p>Values that begin with <code>aws:</code> are reserved. You can't configure a value that uses this prefix. \n           Case insensitive.</p>",
            "smithy.api#required": {}
          }
        },
        "MeetingFeatures": {
          "target": "com.amazonaws.chimesdkmeetings#MeetingFeaturesConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Lists the audio and video features enabled for a meeting, such as echo reduction.</p>"
          }
        },
        "NotificationsConfiguration": {
          "target": "com.amazonaws.chimesdkmeetings#NotificationsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for resource targets to receive notifications when meeting and attendee events occur.</p>"
          }
        },
        "Attendees": {
          "target": "com.amazonaws.chimesdkmeetings#CreateMeetingWithAttendeesRequestItemList",
          "traits": {
            "smithy.api#documentation": "<p>The attendee information, including attendees' IDs and join tokens.</p>",
            "smithy.api#required": {}
          }
        },
        "PrimaryMeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#PrimaryMeetingId",
          "traits": {
            "smithy.api#documentation": "<p>When specified, replicates the media from the primary meeting to the new meeting.</p>"
          }
        },
        "TenantIds": {
          "target": "com.amazonaws.chimesdkmeetings#TenantIdList",
          "traits": {
            "smithy.api#documentation": "<p>A consistent and opaque identifier, created and maintained by the builder to represent a segment of their users.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkmeetings#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags in the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateMeetingWithAttendeesRequestItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmeetings#CreateAttendeeRequestItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#CreateMeetingWithAttendeesResponse": {
      "type": "structure",
      "members": {
        "Meeting": {
          "target": "com.amazonaws.chimesdkmeetings#Meeting",
          "traits": {
            "smithy.api#documentation": "<p>The meeting information, including the meeting ID and \n           <code>MediaPlacement</code>.</p>"
          }
        },
        "Attendees": {
          "target": "com.amazonaws.chimesdkmeetings#AttendeeList",
          "traits": {
            "smithy.api#documentation": "<p>The attendee information, including attendees' IDs and join tokens.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.chimesdkmeetings#BatchCreateAttendeeErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the attendees in the request, a list of the attendees is returned, along with error codes and error messages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#DeleteAttendee": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#DeleteAttendeeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an attendee from the specified Amazon Chime SDK meeting and deletes their \n           <code>JoinToken</code>. Attendees are automatically deleted when a Amazon Chime SDK meeting is deleted. For more information about the Amazon Chime SDK, see \n           <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a>\n           in the <i>Amazon Chime Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/meetings/{MeetingId}/attendees/{AttendeeId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#DeleteAttendeeRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AttendeeId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK attendee ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#DeleteMeeting": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#DeleteMeetingRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Amazon Chime SDK meeting. The operation deletes all attendees, disconnects all clients, and prevents new clients from \n           joining the meeting. For more information about the Amazon Chime SDK, see \n           <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the \n           <i>Amazon Chime Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/meetings/{MeetingId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#DeleteMeetingRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#EngineTranscribeMedicalSettings": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeMedicalLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code specified for the Amazon Transcribe Medical engine.</p>",
            "smithy.api#required": {}
          }
        },
        "Specialty": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeMedicalSpecialty",
          "traits": {
            "smithy.api#documentation": "<p>The specialty specified for the Amazon Transcribe Medical engine.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeMedicalType",
          "traits": {
            "smithy.api#documentation": "<p>The type of transcription.</p>",
            "smithy.api#required": {}
          }
        },
        "VocabularyName": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vocabulary passed to Amazon Transcribe Medical.</p>"
          }
        },
        "Region": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeMedicalRegion",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region passed to Amazon Transcribe Medical. If you don't specify a Region, Amazon Chime uses the meeting's Region. </p>"
          }
        },
        "ContentIdentificationType": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeMedicalContentIdentificationType",
          "traits": {
            "smithy.api#documentation": "<p>Set this field to <code>PHI</code> to identify personal health information in the transcription output.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Settings specific to the Amazon Transcribe Medical engine.</p>"
      }
    },
    "com.amazonaws.chimesdkmeetings#EngineTranscribeSettings": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>Specify the language code that represents the language spoken.</p>\n         <p>If you're unsure of the language spoken in your audio, consider using <code>IdentifyLanguage</code> to enable automatic language identification.</p>"
          }
        },
        "VocabularyFilterMethod": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeVocabularyFilterMethod",
          "traits": {
            "smithy.api#documentation": "<p>Specify how you want your vocabulary filter applied to your transcript.</p>\n         <p>To replace words with <code>***</code>, choose <code>mask</code>.</p>\n         <p>To delete words, choose <code>remove</code>.</p>\n         <p>To flag words without changing them, choose <code>tag</code>.</p>"
          }
        },
        "VocabularyFilterName": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>Specify the name of the custom vocabulary filter that you want to use when processing your transcription. Note that vocabulary filter names are case sensitive. </p>\n         <p>If you use Amazon Transcribe in multiple Regions, the vocabulary filter must be available in Amazon Transcribe in each Region.</p>\n         <p>If you include <code>IdentifyLanguage</code> and want to use one or more vocabulary filters with your transcription, use the <code>VocabularyFilterNames</code> parameter instead.</p>"
          }
        },
        "VocabularyName": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>Specify the name of the custom vocabulary that you want to use when processing your transcription. Note that vocabulary names are case sensitive.</p>\n         <p>If you use Amazon Transcribe multiple Regions, the vocabulary must be available in Amazon Transcribe in each Region.</p>\n         <p>If you include <code>IdentifyLanguage</code> and want to use one or more custom vocabularies with your transcription, use the <code>VocabularyNames</code> \n                parameter instead.</p>"
          }
        },
        "Region": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeRegion",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region in which to use Amazon Transcribe.</p>\n         <p>If you don't specify a Region, then the <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/APIReference/API_meeting-chime_CreateMeeting.html\">MediaRegion</a> of the meeting is used.  \n            However, if Amazon Transcribe is not available in the <code>MediaRegion</code>, then a <code>TranscriptFailed</code> event is sent.</p>\n         <p>Use <code>auto</code> to use Amazon Transcribe in a Region near the meeting’s <code>MediaRegion</code>.  For more information, refer to \n            <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/dg/transcription-options.html#choose-region\">Choosing a transcription Region</a> in the \n            <i>Amazon Chime SDK Developer Guide</i>.</p>"
          }
        },
        "EnablePartialResultsStabilization": {
          "target": "com.amazonaws.chimesdkmeetings#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Enables partial result stabilization for your transcription. Partial result stabilization can reduce latency in your output, but may impact accuracy.</p>"
          }
        },
        "PartialResultsStability": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribePartialResultsStability",
          "traits": {
            "smithy.api#documentation": "<p>Specify the level of stability to use when you enable partial results stabilization (<code>EnablePartialResultsStabilization</code>).</p>\n         <p>Low stability provides the highest accuracy. High stability transcribes faster, but with slightly lower accuracy.</p>"
          }
        },
        "ContentIdentificationType": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeContentIdentificationType",
          "traits": {
            "smithy.api#documentation": "<p>Labels all personally identifiable information (PII) identified in your transcript. If you don't include <code>PiiEntityTypes</code>, all PII is identified.</p>\n         <note>\n            <p>You can’t set <code>ContentIdentificationType</code> and <code>ContentRedactionType</code>.</p>\n         </note>"
          }
        },
        "ContentRedactionType": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeContentRedactionType",
          "traits": {
            "smithy.api#documentation": "<p>Content redaction is performed at the segment level. If you don't include <code>PiiEntityTypes</code>, all PII is redacted.</p>\n         <note>\n            <p>You can’t set <code>ContentRedactionType</code> and <code>ContentIdentificationType</code>.</p>\n         </note>"
          }
        },
        "PiiEntityTypes": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribePiiEntityTypes",
          "traits": {
            "smithy.api#documentation": "<p>Specify which types of personally identifiable information (PII) you want to redact in your transcript. You can include as many types as you'd like, or you can select <code>ALL</code>.</p>\n         <p>Values must be comma-separated and can include: <code>ADDRESS</code>, <code>BANK_ACCOUNT_NUMBER</code>, <code>BANK_ROUTING</code>, <code>CREDIT_DEBIT_CVV</code>, <code>CREDIT_DEBIT_EXPIRY</code>\n            <code>CREDIT_DEBIT_NUMBER</code>, <code>EMAIL</code>,<code>NAME</code>, <code>PHONE</code>,  <code>PIN</code>, \n                <code>SSN</code>, or <code>ALL</code>.</p>\n         <p>Note that if you include <code>PiiEntityTypes</code>, you must also include <code>ContentIdentificationType</code> or <code>ContentRedactionType</code>.</p>\n         <p>If you include <code>ContentRedactionType</code> or <code>ContentIdentificationType</code>, but do not include PiiEntityTypes, all PII is redacted or identified.</p>"
          }
        },
        "LanguageModelName": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeLanguageModelName",
          "traits": {
            "smithy.api#documentation": "<p>Specify the name of the custom language model that you want to use when processing your transcription. Note that language model names are case sensitive.</p>\n         <p>The language of the specified language model must match the language code. If the languages don't match, the custom language model isn't applied. There are no errors or warnings associated with \n            a language mismatch.</p>\n         <p>If you use Amazon Transcribe in multiple Regions, the custom language model must be available in Amazon Transcribe in each Region.</p>"
          }
        },
        "IdentifyLanguage": {
          "target": "com.amazonaws.chimesdkmeetings#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Enables automatic language identification for your transcription.</p>\n         <p>If you include <code>IdentifyLanguage</code>, you can optionally use <code>LanguageOptions</code> to include a list of language codes that you think may be present in your audio stream. \n            Including language options can improve transcription accuracy.</p>\n         <p>You can also use <code>PreferredLanguage</code> to include a preferred language. Doing so can help Amazon Transcribe identify the language faster.</p>\n         <p>You must include either <code>LanguageCode</code> or <code>IdentifyLanguage</code>.</p>\n         <p>Language identification can't be combined with custom language models or redaction.</p>"
          }
        },
        "LanguageOptions": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeLanguageOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specify two or more language codes that represent the languages you think may be present in your media; including more than five is not recommended. If you're unsure what languages \n            are present, do not include this parameter.</p>\n         <p>Including language options can improve the accuracy of language identification.</p>\n         <p>If you include <code>LanguageOptions</code>, you must also include <code>IdentifyLanguage</code>.</p>\n         <important>\n            <p>You can only include one language dialect per language. For example, you cannot include <code>en-US</code> and <code>en-AU</code>.</p>\n         </important>"
          }
        },
        "PreferredLanguage": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeLanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>Specify a preferred language from the subset of languages codes you specified in <code>LanguageOptions</code>.</p>\n         <p>You can only use this parameter if you include <code>IdentifyLanguage</code> and <code>LanguageOptions</code>.</p>"
          }
        },
        "VocabularyNames": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeVocabularyNamesOrFilterNamesString",
          "traits": {
            "smithy.api#documentation": "<p>Specify the names of the custom vocabularies that you want to use when processing your transcription. Note that vocabulary names are case sensitive.</p>\n         <p>If you use Amazon Transcribe in multiple Regions, the vocabulary must be available in Amazon Transcribe in each Region.</p>\n         <p>If you don't include <code>IdentifyLanguage</code> and want to use a custom vocabulary with your transcription, use the <code>VocabularyName</code> parameter instead.</p>"
          }
        },
        "VocabularyFilterNames": {
          "target": "com.amazonaws.chimesdkmeetings#TranscribeVocabularyNamesOrFilterNamesString",
          "traits": {
            "smithy.api#documentation": "<p>Specify the names of the custom vocabulary filters that you want to use when processing your transcription. Note that vocabulary filter names are case sensitive.</p>\n         <p>If you use Amazon Transcribe in multiple Regions, the vocabulary filter must be available in Amazon Transcribe in each Region.</p>\n         <p> If you're <i>not</i> including <code>IdentifyLanguage</code> and want to use a custom vocabulary filter with your transcription, use the <code>VocabularyFilterName</code> \n            parameter instead.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Settings specific for Amazon Transcribe as the live transcription engine. </p>\n         <p>If you specify an invalid combination of parameters, a <code>TranscriptFailed</code> event will be sent with the contents of the \n            <code>BadRequestException</code> generated by Amazon Transcribe.  For more information on each parameter and which combinations are valid, refer to the \n            <a href=\"https://docs.aws.amazon.com/transcribe/latest/APIReference/API_streaming_StartStreamTranscription.html\">StartStreamTranscription</a> API in the \n            <i>Amazon Transcribe Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.chimesdkmeetings#ExternalMeetingId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#ExternalUserId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#ForbiddenException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "RequestId": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The request id associated with the call responsible for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The client is permanently forbidden from making the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.chimesdkmeetings#GetAttendee": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#GetAttendeeRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmeetings#GetAttendeeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Gets the Amazon Chime SDK attendee details for a specified meeting ID and attendee ID. For more information about the Amazon Chime SDK, see \n            <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a>\n            in the <i>Amazon Chime Developer Guide</i>.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/meetings/{MeetingId}/attendees/{AttendeeId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#GetAttendeeRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AttendeeId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK attendee ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#GetAttendeeResponse": {
      "type": "structure",
      "members": {
        "Attendee": {
          "target": "com.amazonaws.chimesdkmeetings#Attendee",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK attendee information.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#GetMeeting": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#GetMeetingRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmeetings#GetMeetingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the Amazon Chime SDK meeting details for the specified meeting ID. For more information about the Amazon Chime SDK, see \n            <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a>\n            in the <i>Amazon Chime Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/meetings/{MeetingId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#GetMeetingRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#GetMeetingResponse": {
      "type": "structure",
      "members": {
        "Meeting": {
          "target": "com.amazonaws.chimesdkmeetings#Meeting",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting information.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#GuidString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-fA-F0-9]{8}(?:-[a-fA-F0-9]{4}){3}-[a-fA-F0-9]{12}$"
      }
    },
    "com.amazonaws.chimesdkmeetings#JoinTokenString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2048
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#LimitExceededException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmeetings#String"
        },
        "RequestId": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The request id associated with the call responsible for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request exceeds the resource limit.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chimesdkmeetings#ListAttendees": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmeetings#ListAttendeesRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmeetings#ListAttendeesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmeetings#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#ThrottlingException"
        },
        {
          "target": "com.amazonaws.chimesdkmeetings#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Lists the attendees for the specified Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see \n            <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a>\n            in the <i>Amazon Chime Developer Guide</i>.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/meetings/{MeetingId}/attendees",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.chimesdkmeetings#ListAttendeesRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chimesdkmeetings#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results.</p>",
            "smithy.api#httpQuery": "next-token"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.chimesdkmeetings#ResultMax",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>",
            "smithy.api#httpQuery": "max-results"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkmeetings#ListAttendeesResponse": {
      "type": "structure",
      "members": {
        "Attendees": {
          "target": "com.amazonaws.chimesdkmeetings#AttendeeList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK attendee information.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chimesdkmeetings#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results.</p>"
          }
        }
      },
      "traits": {
[...]
