{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.chimesdkvoice#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkvoice#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkvoice#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.chimesdkvoice#Address": {
      "type": "structure",
      "members": {
        "streetName": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString"
        },
        "streetSuffix": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString"
        },
        "postDirectional": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString"
        },
        "preDirectional": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString"
        },
        "streetNumber": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString"
        },
        "city": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString"
        },
        "state": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString"
        },
        "postalCode": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString"
        },
        "postalCodePlus4": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString"
        },
        "country": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#AlexaSkillId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        },
        "smithy.api#pattern": "^amzn1\\.application-oa2-client\\.[0-9a-fA-F]{32}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkvoice#AlexaSkillIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkvoice#AlexaSkillId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.chimesdkvoice#AlexaSkillStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#Alpha2CountryCode": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[A-Z]{2}$"
      }
    },
    "com.amazonaws.chimesdkvoice#AreaCode": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^$|^[0-9]{3,3}$"
      }
    },
    "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connectors/{VoiceConnectorId}?operation=associate-phone-numbers",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connector-groups/{VoiceConnectorGroupId}?operation=associate-phone-numbers",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorGroupRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorGroupId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "E164PhoneNumbers": {
          "target": "com.amazonaws.chimesdkvoice#E164PhoneNumberList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ForceAssociate": {
          "target": "com.amazonaws.chimesdkvoice#NullableBoolean"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorGroupResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.chimesdkvoice#PhoneNumberErrorList"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "E164PhoneNumbers": {
          "target": "com.amazonaws.chimesdkvoice#E164PhoneNumberList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ForceAssociate": {
          "target": "com.amazonaws.chimesdkvoice#NullableBoolean"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.chimesdkvoice#PhoneNumberErrorList"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#BadRequestException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkvoice#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkvoice#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chimesdkvoice#BatchDeletePhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#BatchDeletePhoneNumberRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#BatchDeletePhoneNumberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/phone-numbers?operation=batch-delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkvoice#BatchDeletePhoneNumberRequest": {
      "type": "structure",
      "members": {
        "PhoneNumberIds": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyStringList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#BatchDeletePhoneNumberResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.chimesdkvoice#PhoneNumberErrorList"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#BatchUpdatePhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#BatchUpdatePhoneNumberRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#BatchUpdatePhoneNumberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/phone-numbers?operation=batch-update",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkvoice#BatchUpdatePhoneNumberRequest": {
      "type": "structure",
      "members": {
        "UpdatePhoneNumberRequestItems": {
          "target": "com.amazonaws.chimesdkvoice#UpdatePhoneNumberRequestItemList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#BatchUpdatePhoneNumberResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.chimesdkvoice#PhoneNumberErrorList"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.chimesdkvoice#CallingName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^$|^[a-zA-Z0-9 ]{2,15}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkvoice#CallingNameStatus": {
      "type": "enum",
      "members": {
        "Unassigned": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unassigned"
          }
        },
        "UpdateInProgress": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateInProgress"
          }
        },
        "UpdateSucceeded": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateSucceeded"
          }
        },
        "UpdateFailed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateFailed"
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CallingRegion": {
      "type": "string"
    },
    "com.amazonaws.chimesdkvoice#CallingRegionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkvoice#CallingRegion"
      }
    },
    "com.amazonaws.chimesdkvoice#CandidateAddress": {
      "type": "structure",
      "members": {
        "streetInfo": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString"
        },
        "streetNumber": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString"
        },
        "city": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString"
        },
        "state": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString"
        },
        "postalCode": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString"
        },
        "postalCodePlus4": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString"
        },
        "country": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CandidateAddressList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkvoice#CandidateAddress",
        "traits": {
          "smithy.api#xmlName": "CandidateAddress"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#Capability": {
      "type": "enum",
      "members": {
        "Voice": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Voice"
          }
        },
        "SMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMS"
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CapabilityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkvoice#Capability"
      }
    },
    "com.amazonaws.chimesdkvoice#ChimeSDKTelephonyService": {
      "type": "service",
      "version": "2022-08-03",
      "operations": [
        {
          "target": "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnector"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#AssociatePhoneNumbersWithVoiceConnectorGroup"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#BatchDeletePhoneNumber"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#BatchUpdatePhoneNumber"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#CreatePhoneNumberOrder"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#CreateProxySession"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#CreateSipMediaApplication"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationCall"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#CreateSipRule"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#CreateVoiceConnector"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#CreateVoiceConnectorGroup"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#DeletePhoneNumber"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#DeleteProxySession"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#DeleteSipMediaApplication"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#DeleteSipRule"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnector"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorEmergencyCallingConfiguration"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorGroup"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorOrigination"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorProxy"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorStreamingConfiguration"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorTermination"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorTerminationCredentials"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#DisassociatePhoneNumbersFromVoiceConnector"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#DisassociatePhoneNumbersFromVoiceConnectorGroup"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#GetGlobalSettings"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#GetPhoneNumber"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#GetPhoneNumberOrder"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#GetPhoneNumberSettings"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#GetProxySession"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#GetSipMediaApplication"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#GetSipMediaApplicationAlexaSkillConfiguration"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#GetSipMediaApplicationLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#GetSipRule"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#GetVoiceConnector"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#GetVoiceConnectorEmergencyCallingConfiguration"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#GetVoiceConnectorGroup"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#GetVoiceConnectorLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#GetVoiceConnectorOrigination"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#GetVoiceConnectorProxy"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#GetVoiceConnectorStreamingConfiguration"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#GetVoiceConnectorTermination"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#GetVoiceConnectorTerminationHealth"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ListAvailableVoiceConnectorRegions"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ListPhoneNumberOrders"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ListPhoneNumbers"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ListProxySessions"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ListSipMediaApplications"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ListSipRules"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ListSupportedPhoneNumberCountries"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ListVoiceConnectorGroups"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ListVoiceConnectors"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ListVoiceConnectorTerminationCredentials"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#PutSipMediaApplicationAlexaSkillConfiguration"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#PutSipMediaApplicationLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#PutVoiceConnectorEmergencyCallingConfiguration"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#PutVoiceConnectorLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#PutVoiceConnectorOrigination"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#PutVoiceConnectorProxy"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#PutVoiceConnectorStreamingConfiguration"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#PutVoiceConnectorTermination"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#PutVoiceConnectorTerminationCredentials"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#RestorePhoneNumber"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#SearchAvailablePhoneNumbers"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UpdateGlobalSettings"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UpdatePhoneNumber"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UpdatePhoneNumberSettings"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UpdateProxySession"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UpdateSipMediaApplication"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UpdateSipMediaApplicationCall"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UpdateSipRule"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UpdateVoiceConnector"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UpdateVoiceConnectorGroup"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ValidateE911Address"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Chime SDK Voice",
          "arnNamespace": "chime",
          "cloudFormationName": "ChimeSDKVoice",
          "cloudTrailEventSource": "chimesdkvoice.amazonaws.com",
          "endpointPrefix": "voice-chime"
        },
        "aws.auth#sigv4": {
          "name": "chime"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#title": "Amazon Chime SDK Voice",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://voice-chime-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://voice-chime-fips.{Region}.{PartitionResult#dnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://voice-chime.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://voice-chime.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://voice-chime-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://voice-chime-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://voice-chime.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://voice-chime.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://voice-chime-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://voice-chime-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://voice-chime.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://voice-chime.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-iso-east-1"
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://voice-chime-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-iso-east-1"
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-iso-east-1"
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://voice-chime.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-iso-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://voice-chime-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://voice-chime-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://voice-chime.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://voice-chime.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://voice-chime-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://voice-chime.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#ConflictException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkvoice#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkvoice#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.chimesdkvoice#Country": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^$|^[A-Z]{2,2}$"
      }
    },
    "com.amazonaws.chimesdkvoice#CountryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkvoice#Country"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CpsLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreatePhoneNumberOrder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#CreatePhoneNumberOrderRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#CreatePhoneNumberOrderResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/phone-number-orders",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreatePhoneNumberOrderRequest": {
      "type": "structure",
      "members": {
        "ProductType": {
          "target": "com.amazonaws.chimesdkvoice#PhoneNumberProductType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "E164PhoneNumbers": {
          "target": "com.amazonaws.chimesdkvoice#E164PhoneNumberList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreatePhoneNumberOrderResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberOrder": {
          "target": "com.amazonaws.chimesdkvoice#PhoneNumberOrder"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreateProxySession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#CreateProxySessionRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#CreateProxySessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connectors/{VoiceConnectorId}/proxy-sessions",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreateProxySessionRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString128",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ParticipantPhoneNumbers": {
          "target": "com.amazonaws.chimesdkvoice#ParticipantPhoneNumberList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkvoice#ProxySessionNameString"
        },
        "ExpiryMinutes": {
          "target": "com.amazonaws.chimesdkvoice#PositiveInteger"
        },
        "Capabilities": {
          "target": "com.amazonaws.chimesdkvoice#CapabilityList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "NumberSelectionBehavior": {
          "target": "com.amazonaws.chimesdkvoice#NumberSelectionBehavior"
        },
        "GeoMatchLevel": {
          "target": "com.amazonaws.chimesdkvoice#GeoMatchLevel"
        },
        "GeoMatchParams": {
          "target": "com.amazonaws.chimesdkvoice#GeoMatchParams"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreateProxySessionResponse": {
      "type": "structure",
      "members": {
        "ProxySession": {
          "target": "com.amazonaws.chimesdkvoice#ProxySession"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreateSipMediaApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sip-media-applications",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationCall": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationCallRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationCallResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sip-media-applications/{SipMediaApplicationId}/calls",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationCallRequest": {
      "type": "structure",
      "members": {
        "FromPhoneNumber": {
          "target": "com.amazonaws.chimesdkvoice#E164PhoneNumber",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ToPhoneNumber": {
          "target": "com.amazonaws.chimesdkvoice#E164PhoneNumber",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "SipMediaApplicationId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SipHeaders": {
          "target": "com.amazonaws.chimesdkvoice#SipHeadersMap"
        },
        "ArgumentsMap": {
          "target": "com.amazonaws.chimesdkvoice#SMACreateCallArgumentsMap"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationCallResponse": {
      "type": "structure",
      "members": {
        "SipMediaApplicationCall": {
          "target": "com.amazonaws.chimesdkvoice#SipMediaApplicationCall"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationRequest": {
      "type": "structure",
      "members": {
        "AwsRegion": {
          "target": "com.amazonaws.chimesdkvoice#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkvoice#SipMediaApplicationName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Endpoints": {
          "target": "com.amazonaws.chimesdkvoice#SipMediaApplicationEndpointList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreateSipMediaApplicationResponse": {
      "type": "structure",
      "members": {
        "SipMediaApplication": {
          "target": "com.amazonaws.chimesdkvoice#SipMediaApplication"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreateSipRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#CreateSipRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#CreateSipRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sip-rules",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreateSipRuleRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.chimesdkvoice#SipRuleName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "TriggerType": {
          "target": "com.amazonaws.chimesdkvoice#SipRuleTriggerType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "TriggerValue": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Disabled": {
          "target": "com.amazonaws.chimesdkvoice#NullableBoolean"
        },
        "TargetApplications": {
          "target": "com.amazonaws.chimesdkvoice#SipRuleTargetApplicationList"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreateSipRuleResponse": {
      "type": "structure",
      "members": {
        "SipRule": {
          "target": "com.amazonaws.chimesdkvoice#SipRule"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreateVoiceConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#CreateVoiceConnectorRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#CreateVoiceConnectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connectors",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreateVoiceConnectorGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#CreateVoiceConnectorGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#CreateVoiceConnectorGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connector-groups",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreateVoiceConnectorGroupRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.chimesdkvoice#VoiceConnectorGroupName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "VoiceConnectorItems": {
          "target": "com.amazonaws.chimesdkvoice#VoiceConnectorItemList"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreateVoiceConnectorGroupResponse": {
      "type": "structure",
      "members": {
        "VoiceConnectorGroup": {
          "target": "com.amazonaws.chimesdkvoice#VoiceConnectorGroup"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreateVoiceConnectorRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.chimesdkvoice#VoiceConnectorName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "AwsRegion": {
          "target": "com.amazonaws.chimesdkvoice#VoiceConnectorAwsRegion"
        },
        "RequireEncryption": {
          "target": "com.amazonaws.chimesdkvoice#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CreateVoiceConnectorResponse": {
      "type": "structure",
      "members": {
        "VoiceConnector": {
          "target": "com.amazonaws.chimesdkvoice#VoiceConnector"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#Credential": {
      "type": "structure",
      "members": {
        "Username": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveString"
        },
        "Password": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveString"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#CredentialList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkvoice#Credential"
      }
    },
    "com.amazonaws.chimesdkvoice#DNISEmergencyCallingConfiguration": {
      "type": "structure",
      "members": {
        "EmergencyPhoneNumber": {
          "target": "com.amazonaws.chimesdkvoice#E164PhoneNumber",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "TestPhoneNumber": {
          "target": "com.amazonaws.chimesdkvoice#E164PhoneNumber"
        },
        "CallingCountry": {
          "target": "com.amazonaws.chimesdkvoice#Alpha2CountryCode",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DNISEmergencyCallingConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkvoice#DNISEmergencyCallingConfiguration"
      }
    },
    "com.amazonaws.chimesdkvoice#DataRetentionInHours": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeletePhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#DeletePhoneNumberRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/phone-numbers/{PhoneNumberId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeletePhoneNumberRequest": {
      "type": "structure",
      "members": {
        "PhoneNumberId": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteProxySession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#DeleteProxySessionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/voice-connectors/{VoiceConnectorId}/proxy-sessions/{ProxySessionId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteProxySessionRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString128",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ProxySessionId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString128",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteSipMediaApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#DeleteSipMediaApplicationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/sip-media-applications/{SipMediaApplicationId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteSipMediaApplicationRequest": {
      "type": "structure",
      "members": {
        "SipMediaApplicationId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteSipRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#DeleteSipRuleRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/sip-rules/{SipRuleId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteSipRuleRequest": {
      "type": "structure",
      "members": {
        "SipRuleId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteVoiceConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/voice-connectors/{VoiceConnectorId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorEmergencyCallingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorEmergencyCallingConfigurationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/voice-connectors/{VoiceConnectorId}/emergency-calling-configuration",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorEmergencyCallingConfigurationRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorGroupRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/voice-connector-groups/{VoiceConnectorGroupId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorGroupRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorGroupId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorOrigination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorOriginationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/voice-connectors/{VoiceConnectorId}/origination",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorOriginationRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorProxy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorProxyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/voice-connectors/{VoiceConnectorId}/programmable-numbers/proxy",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorProxyRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString128",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorStreamingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorStreamingConfigurationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/voice-connectors/{VoiceConnectorId}/streaming-configuration",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorStreamingConfigurationRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorTermination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorTerminationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/voice-connectors/{VoiceConnectorId}/termination",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorTerminationCredentials": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorTerminationCredentialsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connectors/{VoiceConnectorId}/termination/credentials?operation=delete",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorTerminationCredentialsRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Usernames": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveStringList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DeleteVoiceConnectorTerminationRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DisassociatePhoneNumbersFromVoiceConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#DisassociatePhoneNumbersFromVoiceConnectorRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#DisassociatePhoneNumbersFromVoiceConnectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connectors/{VoiceConnectorId}?operation=disassociate-phone-numbers",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DisassociatePhoneNumbersFromVoiceConnectorGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#DisassociatePhoneNumbersFromVoiceConnectorGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#DisassociatePhoneNumbersFromVoiceConnectorGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "POST",
          "uri": "/voice-connector-groups/{VoiceConnectorGroupId}?operation=disassociate-phone-numbers",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DisassociatePhoneNumbersFromVoiceConnectorGroupRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorGroupId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "E164PhoneNumbers": {
          "target": "com.amazonaws.chimesdkvoice#E164PhoneNumberList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DisassociatePhoneNumbersFromVoiceConnectorGroupResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.chimesdkvoice#PhoneNumberErrorList"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DisassociatePhoneNumbersFromVoiceConnectorRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "E164PhoneNumbers": {
          "target": "com.amazonaws.chimesdkvoice#E164PhoneNumberList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#DisassociatePhoneNumbersFromVoiceConnectorResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.chimesdkvoice#PhoneNumberErrorList"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#E164PhoneNumber": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\+?[1-9]\\d{1,14}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkvoice#E164PhoneNumberList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkvoice#E164PhoneNumber"
      }
    },
    "com.amazonaws.chimesdkvoice#EmergencyCallingConfiguration": {
      "type": "structure",
      "members": {
        "DNIS": {
          "target": "com.amazonaws.chimesdkvoice#DNISEmergencyCallingConfigurationList"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#ErrorCode": {
      "type": "enum",
      "members": {
        "BadRequest": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BadRequest"
          }
        },
        "Conflict": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Conflict"
          }
        },
        "Forbidden": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Forbidden"
          }
        },
        "NotFound": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotFound"
          }
        },
        "PreconditionFailed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PreconditionFailed"
          }
        },
        "ResourceLimitExceeded": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResourceLimitExceeded"
          }
        },
        "ServiceFailure": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServiceFailure"
          }
        },
        "AccessDenied": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AccessDenied"
          }
        },
        "ServiceUnavailable": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServiceUnavailable"
          }
        },
        "Throttled": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Throttled"
          }
        },
        "Throttling": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Throttling"
          }
        },
        "Unauthorized": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unauthorized"
          }
        },
        "Unprocessable": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unprocessable"
          }
        },
        "VoiceConnectorGroupAssociationsExist": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VoiceConnectorGroupAssociationsExist"
          }
        },
        "PhoneNumberAssociationsExist": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PhoneNumberAssociationsExist"
          }
        },
        "Gone": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Gone"
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#ForbiddenException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkvoice#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkvoice#String"
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.chimesdkvoice#FunctionArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10000
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z-]*)?:lambda:[a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkvoice#GeoMatchLevel": {
      "type": "enum",
      "members": {
        "Country": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Country"
          }
        },
        "AreaCode": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AreaCode"
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#GeoMatchParams": {
      "type": "structure",
      "members": {
        "Country": {
          "target": "com.amazonaws.chimesdkvoice#Country",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "AreaCode": {
          "target": "com.amazonaws.chimesdkvoice#AreaCode",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#GetGlobalSettings": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#GetGlobalSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/settings",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkvoice#GetGlobalSettingsResponse": {
      "type": "structure",
      "members": {
        "VoiceConnector": {
          "target": "com.amazonaws.chimesdkvoice#VoiceConnectorSettings"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#GetPhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#GetPhoneNumberRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#GetPhoneNumberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/phone-numbers/{PhoneNumberId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkvoice#GetPhoneNumberOrder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#GetPhoneNumberOrderRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#GetPhoneNumberOrderResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/phone-number-orders/{PhoneNumberOrderId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkvoice#GetPhoneNumberOrderRequest": {
      "type": "structure",
      "members": {
        "PhoneNumberOrderId": {
          "target": "com.amazonaws.chimesdkvoice#GuidString",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#GetPhoneNumberOrderResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberOrder": {
          "target": "com.amazonaws.chimesdkvoice#PhoneNumberOrder"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#GetPhoneNumberRequest": {
      "type": "structure",
      "members": {
        "PhoneNumberId": {
          "target": "com.amazonaws.chimesdkvoice#SensitiveNonEmptyString",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#GetPhoneNumberResponse": {
      "type": "structure",
      "members": {
        "PhoneNumber": {
          "target": "com.amazonaws.chimesdkvoice#PhoneNumber"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#GetPhoneNumberSettings": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#GetPhoneNumberSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/settings/phone-number",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkvoice#GetPhoneNumberSettingsResponse": {
      "type": "structure",
      "members": {
        "CallingName": {
          "target": "com.amazonaws.chimesdkvoice#CallingName"
        },
        "CallingNameUpdatedTimestamp": {
          "target": "com.amazonaws.chimesdkvoice#Iso8601Timestamp"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#GetProxySession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#GetProxySessionRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#GetProxySessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/voice-connectors/{VoiceConnectorId}/proxy-sessions/{ProxySessionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkvoice#GetProxySessionRequest": {
      "type": "structure",
      "members": {
        "VoiceConnectorId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString128",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ProxySessionId": {
          "target": "com.amazonaws.chimesdkvoice#NonEmptyString128",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkvoice#GetProxySessionResponse": {
      "type": "structure",
      "members": {
        "ProxySession": {
          "target": "com.amazonaws.chimesdkvoice#ProxySession"
        }
      }
    },
    "com.amazonaws.chimesdkvoice#GetSipMediaApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#GetSipMediaApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#GetSipMediaApplicationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sip-media-applications/{SipMediaApplicationId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkvoice#GetSipMediaApplicationAlexaSkillConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkvoice#GetSipMediaApplicationAlexaSkillConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkvoice#GetSipMediaApplicationAlexaSkillConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkvoice#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkvoice#ServiceFailureException"
[...]
