{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.chimesdkidentity#AllowMessages": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstance": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the messaging instance.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#NonEmptyResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an <code>AppInstance</code>.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time an <code>AppInstance</code> was last updated. In epoch milliseconds.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkidentity#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of an <code>AppInstance</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an <code>AppInstance</code>, an instance of an Amazon Chime SDK messaging\n         application.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceAdmin": {
      "type": "structure",
      "members": {
        "Admin": {
          "target": "com.amazonaws.chimesdkidentity#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceAdmin</code> data.</p>"
          }
        },
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code> for which the user is an administrator.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which an administrator was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The name and ARN of the admin for the <code>AppInstance</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceAdminList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkidentity#AppInstanceAdminSummary"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceAdminSummary": {
      "type": "structure",
      "members": {
        "Admin": {
          "target": "com.amazonaws.chimesdkidentity#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The details of the <code>AppInstanceAdmin</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the details of an <code>AppInstanceAdmin</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceBot": {
      "type": "structure",
      "members": {
        "AppInstanceBotArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the AppInstanceBot.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AppInstanceBot.</p>"
          }
        },
        "Configuration": {
          "target": "com.amazonaws.chimesdkidentity#Configuration",
          "traits": {
            "smithy.api#documentation": "<p>The data processing instructions for an AppInstanceBot.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the <code>AppInstanceBot</code> was created.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the <code>AppInstanceBot</code> was last updated.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkidentity#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata for an AppInstanceBot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Amazon Lex V2 chat bot created under an <code>AppInstance</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceBotList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkidentity#AppInstanceBotSummary"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceBotSummary": {
      "type": "structure",
      "members": {
        "AppInstanceBotArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the AppInstanceBot.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AppInstanceBox.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkidentity#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the AppInstanceBot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>High-level information about an AppInstanceBot.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkidentity#AppInstanceSummary"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceRetentionSettings": {
      "type": "structure",
      "members": {
        "ChannelRetentionSettings": {
          "target": "com.amazonaws.chimesdkidentity#ChannelRetentionSettings",
          "traits": {
            "smithy.api#documentation": "<p>The length of time in days to retain the messages in a channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the data-retention settings for an <code>AppInstance</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceSummary": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstance</code> ARN.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#NonEmptyResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>AppInstance</code>.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkidentity#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the <code>AppInstance</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the data for an <code>AppInstance</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceUser": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>AppInstanceUser</code>.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkidentity#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the <code>AppInstanceUser</code>.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the <code>AppInstanceUser</code> was created.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the <code>AppInstanceUser</code> was last updated.</p>"
          }
        },
        "ExpirationSettings": {
          "target": "com.amazonaws.chimesdkidentity#ExpirationSettings",
          "traits": {
            "smithy.api#documentation": "<p>The interval after which an <code>AppInstanceUser</code> is automatically deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an <code>AppInstanceUser</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceUserEndpoint": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>"
          }
        },
        "EndpointId": {
          "target": "com.amazonaws.chimesdkidentity#String64",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the <code>AppInstanceUserEndpoint</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveString1600",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>AppInstanceUserEndpoint</code>.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceUserEndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the <code>AppInstanceUserEndpoint</code>.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource to which the endpoint belongs.</p>"
          }
        },
        "EndpointAttributes": {
          "target": "com.amazonaws.chimesdkidentity#EndpointAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The attributes of an <code>Endpoint</code>.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which an <code>AppInstanceUserEndpoint</code> was created.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which an <code>AppInstanceUserEndpoint</code> was last updated.</p>"
          }
        },
        "AllowMessages": {
          "target": "com.amazonaws.chimesdkidentity#AllowMessages",
          "traits": {
            "smithy.api#documentation": "<p>Boolean that controls whether the <code>AppInstanceUserEndpoint</code> is opted in to receive messages. <code>ALL</code> indicates the endpoint will receive all messages. \n         <code>NONE</code> indicates the endpoint will receive no messages.</p>"
          }
        },
        "EndpointState": {
          "target": "com.amazonaws.chimesdkidentity#EndpointState",
          "traits": {
            "smithy.api#documentation": "<p>A read-only field that represents the state of an <code>AppInstanceUserEndpoint</code>. Supported values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ACTIVE</code>: The <code>AppInstanceUserEndpoint</code> is active and able to receive messages. When <code>ACTIVE</code>, the <code>EndpointStatusReason</code> remains empty.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INACTIVE</code>: The <code>AppInstanceUserEndpoint</code> is inactive and can't receive message. When <code>INACTIVE</code>, the corresponding reason will be \n            conveyed through <code>EndpointStatusReason</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INVALID_DEVICE_TOKEN</code> indicates that an <code>AppInstanceUserEndpoint</code> is <code>INACTIVE</code> due to invalid device token</p>\n            </li>\n            <li>\n               <p>\n                  <code>INVALID_PINPOINT_ARN</code> indicates that an <code>AppInstanceUserEndpoint</code> is <code>INACTIVE</code> due to an invalid pinpoint ARN that was input \n            through the <code>ResourceArn</code> field.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An endpoint under an Amazon Chime <code>AppInstanceUser</code> that receives messages for a user. For push notifications, the endpoint is a mobile device used to receive mobile push notifications for a user.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceUserEndpointSummary": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>"
          }
        },
        "EndpointId": {
          "target": "com.amazonaws.chimesdkidentity#String64",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the <code>AppInstanceUserEndpoint</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveString1600",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>AppInstanceUserEndpoint</code>.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceUserEndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the <code>AppInstanceUserEndpoint</code>.</p>"
          }
        },
        "AllowMessages": {
          "target": "com.amazonaws.chimesdkidentity#AllowMessages",
          "traits": {
            "smithy.api#documentation": "<p>BBoolean that controls whether the <code>AppInstanceUserEndpoint</code> is opted in to receive messages. <code>ALL</code> indicates the endpoint will receive all messages. \n         <code>NONE</code> indicates the endpoint will receive no messages.</p>"
          }
        },
        "EndpointState": {
          "target": "com.amazonaws.chimesdkidentity#EndpointState",
          "traits": {
            "smithy.api#documentation": "<p>A read-only field that represent the state of an <code>AppInstanceUserEndpoint</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the details of an <code>AppInstanceUserEndpoint</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceUserEndpointSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkidentity#AppInstanceUserEndpointSummary"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceUserEndpointType": {
      "type": "enum",
      "members": {
        "APNS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APNS"
          }
        },
        "APNS_SANDBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APNS_SANDBOX"
          }
        },
        "GCM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GCM"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceUserList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkidentity#AppInstanceUserSummary"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceUserSummary": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an <code>AppInstanceUser</code>.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkidentity#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the <code>AppInstanceUser</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the details of an <code>AppInstanceUser</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#BadRequestException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkidentity#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkidentity#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input parameters don't match the service's restrictions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chimesdkidentity#ChannelRetentionSettings": {
      "type": "structure",
      "members": {
        "RetentionDays": {
          "target": "com.amazonaws.chimesdkidentity#RetentionDays",
          "traits": {
            "smithy.api#documentation": "<p>The time in days to retain the messages in a channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the retention settings for a channel.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#ChimeArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}$"
      }
    },
    "com.amazonaws.chimesdkidentity#ChimeIdentityService": {
      "type": "service",
      "version": "2021-04-20",
      "operations": [
        {
          "target": "com.amazonaws.chimesdkidentity#CreateAppInstance"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceAdmin"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceBot"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceUser"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#DeleteAppInstance"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#DeleteAppInstanceAdmin"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#DeleteAppInstanceBot"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#DeleteAppInstanceUser"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#DeregisterAppInstanceUserEndpoint"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#DescribeAppInstance"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceAdmin"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceBot"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceUser"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserEndpoint"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#GetAppInstanceRetentionSettings"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ListAppInstanceAdmins"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ListAppInstanceBots"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ListAppInstances"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ListAppInstanceUserEndpoints"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ListAppInstanceUsers"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#PutAppInstanceRetentionSettings"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#PutAppInstanceUserExpirationSettings"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#RegisterAppInstanceUserEndpoint"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#TagResource"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UntagResource"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UpdateAppInstance"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UpdateAppInstanceBot"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UpdateAppInstanceUser"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UpdateAppInstanceUserEndpoint"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Chime SDK Identity",
          "arnNamespace": "chime",
          "cloudFormationName": "ChimeSDKIdentity",
          "cloudTrailEventSource": "chimesdkidentity.amazonaws.com",
          "endpointPrefix": "identity-chime"
        },
        "aws.auth#sigv4": {
          "name": "chime"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>The Amazon Chime SDK Identity APIs in this section allow software developers to create\n         and manage unique instances of their messaging applications. These APIs provide the\n         overarching framework for creating and sending messages. For more information about the\n         identity APIs, refer to <a href=\"https://docs.aws.amazon.com/chime/latest/APIReference/API_Operations_Amazon_Chime_SDK_Identity.html\">Amazon Chime SDK identity</a>.</p>",
        "smithy.api#title": "Amazon Chime SDK Identity",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://identity-chime-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://identity-chime-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://identity-chime.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://identity-chime.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        },
        "smithy.api#pattern": "^[-_a-zA-Z0-9]*$"
      }
    },
    "com.amazonaws.chimesdkidentity#Configuration": {
      "type": "structure",
      "members": {
        "Lex": {
          "target": "com.amazonaws.chimesdkidentity#LexConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for an Amazon Lex V2 bot.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains configuration data.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#ConflictException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkidentity#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkidentity#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be processed because of conflict in the current state of the\n         resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Chime SDK messaging <code>AppInstance</code> under an AWS account.\n         Only SDK messaging customers use this API. <code>CreateAppInstance</code> supports\n         idempotency behavior as described in the AWS API Standard.</p>\n         <p>identity</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/app-instances",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceAdmin": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceAdminRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceAdminResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Promotes an <code>AppInstanceUser</code> or <code>AppInstanceBot</code> to an \n         <code>AppInstanceAdmin</code>. The\n         promoted entity can perform the following actions. </p>\n         <ul>\n            <li>\n               <p>\n                  <code>ChannelModerator</code> actions across all channels in the\n                  <code>AppInstance</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteChannelMessage</code> actions.</p>\n            </li>\n         </ul>\n         <p>Only an <code>AppInstanceUser</code> and <code>AppInstanceBot</code> can be promoted to an <code>AppInstanceAdmin</code>\n         role.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/app-instances/{AppInstanceArn}/admins",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceAdminRequest": {
      "type": "structure",
      "members": {
        "AppInstanceAdminArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the administrator of the current <code>AppInstance</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceAdminResponse": {
      "type": "structure",
      "members": {
        "AppInstanceAdmin": {
          "target": "com.amazonaws.chimesdkidentity#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The ARN and name of the administrator, the ARN of the <code>AppInstance</code>, and the created and \n         last-updated timestamps. All timestamps use epoch milliseconds.</p>"
          }
        },
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the of the admin for the <code>AppInstance</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceBotRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceBotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a bot under an Amazon Chime <code>AppInstance</code>. The request consists of a \n         unique <code>Configuration</code> and <code>Name</code> for that bot.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/app-instance-bots",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceBotRequest": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code> request.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The user's name.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkidentity#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The request metadata. Limited to a 1KB string in UTF-8.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkidentity#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the client making the request. Use different tokens for different <code>AppInstanceBots</code>.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkidentity#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the <code>AppInstanceBot</code>.</p>"
          }
        },
        "Configuration": {
          "target": "com.amazonaws.chimesdkidentity#Configuration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information about the Amazon Lex V2 V2 bot.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceBotResponse": {
      "type": "structure",
      "members": {
        "AppInstanceBotArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppinstanceBot</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#NonEmptyResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>AppInstance</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkidentity#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the <code>AppInstance</code>. Limited to a 1KB string in UTF-8.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkidentity#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the request. Use different tokens to create different <code>AppInstances</code>.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkidentity#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to the <code>AppInstance</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceResponse": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the <code>AppInstance</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user under an Amazon Chime <code>AppInstance</code>. The request consists of a\n         unique <code>appInstanceUserId</code> and <code>Name</code> for that user.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/app-instance-users",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceUserRequest": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code> request.</p>",
            "smithy.api#required": {}
          }
        },
        "AppInstanceUserId": {
          "target": "com.amazonaws.chimesdkidentity#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The user ID of the <code>AppInstance</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The user's name.</p>",
            "smithy.api#required": {}
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkidentity#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The request's metadata. Limited to a 1KB string in UTF-8.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkidentity#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the request. Use different tokens to request additional <code>AppInstances</code>.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkidentity#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to the <code>AppInstanceUser</code>.</p>"
          }
        },
        "ExpirationSettings": {
          "target": "com.amazonaws.chimesdkidentity#ExpirationSettings",
          "traits": {
            "smithy.api#documentation": "<p>Settings that control the interval after which the <code>AppInstanceUser</code> is automatically deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceUserResponse": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The user's ARN.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkidentity#DeleteAppInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#DeleteAppInstanceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an <code>AppInstance</code> and all associated data asynchronously.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/app-instances/{AppInstanceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DeleteAppInstanceAdmin": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#DeleteAppInstanceAdminRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Demotes an <code>AppInstanceAdmin</code> to an <code>AppInstanceUser</code> or \n         <code>AppInstanceBot</code>. This action\n         does not delete the user.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/app-instances/{AppInstanceArn}/admins/{AppInstanceAdminArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DeleteAppInstanceAdminRequest": {
      "type": "structure",
      "members": {
        "AppInstanceAdminArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>'s administrator.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkidentity#DeleteAppInstanceBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#DeleteAppInstanceBotRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an <code>AppInstanceBot</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/app-instance-bots/{AppInstanceBotArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DeleteAppInstanceBotRequest": {
      "type": "structure",
      "members": {
        "AppInstanceBotArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceBot</code> being deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkidentity#DeleteAppInstanceRequest": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkidentity#DeleteAppInstanceUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#DeleteAppInstanceUserRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an <code>AppInstanceUser</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/app-instance-users/{AppInstanceUserArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DeleteAppInstanceUserRequest": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the user request being deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkidentity#DeregisterAppInstanceUserEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#DeregisterAppInstanceUserEndpointRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deregisters an <code>AppInstanceUserEndpoint</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/app-instance-users/{AppInstanceUserArn}/endpoints/{EndpointId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DeregisterAppInstanceUserEndpointRequest": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "EndpointId": {
          "target": "com.amazonaws.chimesdkidentity#String64",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the <code>AppInstanceUserEndpoint</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the full details of an <code>AppInstance</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app-instances/{AppInstanceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceAdmin": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceAdminRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceAdminResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the full details of an <code>AppInstanceAdmin</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app-instances/{AppInstanceArn}/admins/{AppInstanceAdminArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceAdminRequest": {
      "type": "structure",
      "members": {
        "AppInstanceAdminArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceAdmin</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceAdminResponse": {
      "type": "structure",
      "members": {
        "AppInstanceAdmin": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceAdmin",
          "traits": {
            "smithy.api#documentation": "<p>The ARN and name of the <code>AppInstanceUser</code>, the ARN of the\n            <code>AppInstance</code>, and the created and last-updated timestamps. All timestamps\n         use epoch milliseconds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceBotRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceBotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>AppInstanceBot's</code> information.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app-instance-bots/{AppInstanceBotArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceBotRequest": {
      "type": "structure",
      "members": {
        "AppInstanceBotArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceBot</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceBotResponse": {
      "type": "structure",
      "members": {
        "AppInstanceBot": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceBot",
          "traits": {
            "smithy.api#documentation": "<p>The detials of the <code>AppInstanceBot</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceRequest": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceResponse": {
      "type": "structure",
      "members": {
        "AppInstance": {
          "target": "com.amazonaws.chimesdkidentity#AppInstance",
          "traits": {
            "smithy.api#documentation": "<p>The ARN, metadata, created and last-updated timestamps, and the name of the\n            <code>AppInstance</code>. All timestamps use epoch milliseconds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the full details of an <code>AppInstanceUser</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app-instance-users/{AppInstanceUserArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the full details of an <code>AppInstanceUserEndpoint</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app-instance-users/{AppInstanceUserArn}/endpoints/{EndpointId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserEndpointRequest": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#String1600",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "EndpointId": {
          "target": "com.amazonaws.chimesdkidentity#String64",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the <code>AppInstanceUserEndpoint</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserEndpointResponse": {
      "type": "structure",
      "members": {
        "AppInstanceUserEndpoint": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceUserEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The full details of an <code>AppInstanceUserEndpoint</code>: the <code>AppInstanceUserArn</code>, ID, name, type, resource ARN, attributes, \n         allow messages, state, and created and last updated timestamps. All timestamps use epoch milliseconds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserRequest": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserResponse": {
      "type": "structure",
      "members": {
        "AppInstanceUser": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceUser",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>AppInstanceUser</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkidentity#EndpointAttributes": {
      "type": "structure",
      "members": {
        "DeviceToken": {
          "target": "com.amazonaws.chimesdkidentity#NonEmptySensitiveString1600",
          "traits": {
            "smithy.api#documentation": "<p>The device token for the GCM, APNS, and APNS_SANDBOX endpoint types.</p>",
            "smithy.api#required": {}
          }
        },
        "VoipDeviceToken": {
          "target": "com.amazonaws.chimesdkidentity#NonEmptySensitiveString1600",
          "traits": {
            "smithy.api#documentation": "<p>The VOIP device token for the APNS and APNS_SANDBOX endpoint types.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The attributes of an <code>Endpoint</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#EndpointState": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.chimesdkidentity#EndpointStatus",
          "traits": {
            "smithy.api#documentation": "<p>Enum that indicates the Status of an <code>AppInstanceUserEndpoint</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "StatusReason": {
          "target": "com.amazonaws.chimesdkidentity#EndpointStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the <code>EndpointStatus</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A read-only field that represents the state of an <code>AppInstanceUserEndpoint</code>. Supported values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ACTIVE</code>: The <code>AppInstanceUserEndpoint</code> is active and able to receive messages. When <code>ACTIVE</code>, the <code>EndpointStatusReason</code> remains empty.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INACTIVE</code>: The <code>AppInstanceUserEndpoint</code> is inactive and can't receive\n               message. When INACTIVE, the corresponding reason will be conveyed through\n               EndpointStatusReason.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INVALID_DEVICE_TOKEN</code> indicates that an <code>AppInstanceUserEndpoint</code> is <code>INACTIVE</code> due to invalid device token</p>\n            </li>\n            <li>\n               <p>\n                  <code>INVALID_PINPOINT_ARN</code> indicates that an <code>AppInstanceUserEndpoint</code> is <code>INACTIVE</code> due to an invalid pinpoint ARN that was input through the <code>ResourceArn</code> field.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.chimesdkidentity#EndpointStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#EndpointStatusReason": {
      "type": "enum",
      "members": {
        "INVALID_DEVICE_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_DEVICE_TOKEN"
          }
        },
        "INVALID_PINPOINT_ARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_PINPOINT_ARN"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ErrorCode": {
      "type": "enum",
      "members": {
        "BadRequest": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BadRequest"
          }
        },
        "Conflict": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Conflict"
          }
        },
        "Forbidden": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Forbidden"
          }
        },
        "NotFound": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotFound"
          }
        },
        "PreconditionFailed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PreconditionFailed"
          }
        },
        "ResourceLimitExceeded": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResourceLimitExceeded"
          }
        },
        "ServiceFailure": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServiceFailure"
          }
        },
        "AccessDenied": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AccessDenied"
          }
        },
        "ServiceUnavailable": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServiceUnavailable"
          }
        },
        "Throttled": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Throttled"
          }
        },
        "Throttling": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Throttling"
          }
        },
        "Unauthorized": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unauthorized"
          }
        },
        "Unprocessable": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unprocessable"
          }
        },
        "VoiceConnectorGroupAssociationsExist": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VoiceConnectorGroupAssociationsExist"
          }
        },
        "PhoneNumberAssociationsExist": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PhoneNumberAssociationsExist"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ExpirationCriterion": {
      "type": "enum",
      "members": {
        "CREATED_TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED_TIMESTAMP"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ExpirationDays": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 5475
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ExpirationSettings": {
      "type": "structure",
      "members": {
        "ExpirationDays": {
          "target": "com.amazonaws.chimesdkidentity#ExpirationDays",
          "traits": {
            "smithy.api#documentation": "<p>The period in days after which an <code>AppInstanceUser</code> will be automatically deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "ExpirationCriterion": {
          "target": "com.amazonaws.chimesdkidentity#ExpirationCriterion",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the conditions under which an <code>AppInstanceUser</code> will expire.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Determines the interval after which an <code>AppInstanceUser</code> is automatically deleted.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#ForbiddenException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkidentity#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkidentity#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The client is permanently forbidden from making the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.chimesdkidentity#GetAppInstanceRetentionSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#GetAppInstanceRetentionSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#GetAppInstanceRetentionSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the retention settings for an <code>AppInstance</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app-instances/{AppInstanceArn}/retention-settings",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkidentity#GetAppInstanceRetentionSettingsRequest": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chimesdkidentity#GetAppInstanceRetentionSettingsResponse": {
      "type": "structure",
      "members": {
        "AppInstanceRetentionSettings": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceRetentionSettings",
          "traits": {
            "smithy.api#documentation": "<p>The retention settings for the <code>AppInstance</code>.</p>"
          }
        },
        "InitiateDeletionTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp representing the time at which the specified items are retained, in Epoch\n         Seconds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chimesdkidentity#Identity": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN in an Identity.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name in an Identity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a user or bot.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#InvokedBy": {
      "type": "structure",
      "members": {
        "StandardMessages": {
          "target": "com.amazonaws.chimesdkidentity#StandardMessages",
          "traits": {
            "smithy.api#documentation": "<p>Sets standard messages as the bot trigger. For standard messages:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ALL</code>: The bot processes all standard messages.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AUTO</code>: The bot responds to ALL messages when the channel has one other non-hidden member, and responds to MENTIONS when the \n            channel has more than one other non-hidden member.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MENTIONS</code>: The bot processes all standard messages that have a message attribute with <code>CHIME.mentions</code> and a \n            value of the bot ARN.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NONE</code>: The bot processes no standard messages.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "TargetedMessages": {
          "target": "com.amazonaws.chimesdkidentity#TargetedMessages",
          "traits": {
            "smithy.api#documentation": "<p>Sets targeted messages as the bot trigger. For targeted messages:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ALL</code>: The bot processes all <code>TargetedMessages</code> sent to it. The bot then responds with a targeted message back to the sender.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>NONE</code>: The bot processes no targeted messages.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the type of message that triggers a bot.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#LexBotAliasArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 15,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws:lex:[a-z]{2}-[a-z]+-\\d{1}:\\d{12}:bot-alias/[A-Z0-9]{10}/[A-Z0-9]{10}$"
      }
    },
    "com.amazonaws.chimesdkidentity#LexConfiguration": {
      "type": "structure",
      "members": {
        "RespondsTo": {
          "target": "com.amazonaws.chimesdkidentity#RespondsTo",
          "traits": {
            "smithy.api#documentation": "<important>\n            <p>\n               <b>Deprecated</b>. Use <code>InvokedBy</code> instead.</p>\n         </important>\n         <p>Determines whether the Amazon Lex V2 bot responds to all standard messages. Control messages are not supported.</p>"
          }
        },
        "InvokedBy": {
          "target": "com.amazonaws.chimesdkidentity#InvokedBy",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of message that triggers a bot.</p>"
          }
        },
        "LexBotAliasArn": {
          "target": "com.amazonaws.chimesdkidentity#LexBotAliasArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon Lex V2 bot's alias. The ARN uses this format: \n         <code>arn:aws:lex:REGION:ACCOUNT:bot-alias/MYBOTID/MYBOTALIAS</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "LocaleId": {
          "target": "com.amazonaws.chimesdkidentity#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the Amazon Lex V2 bot's language and locale. The string must match one of the \n         supported locales in Amazon Lex V2. All of the intents, slot types, and slots used in the bot must have the same \n         locale. For more information, see <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/how-languages.html\">Supported languages</a> in the <i>Amazon Lex V2 Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "WelcomeIntent": {
          "target": "com.amazonaws.chimesdkidentity#LexIntentName",
          "traits": {
[...]
