{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.chime#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chime#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chime#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permissions to perform the requested operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.chime#Account": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account name.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountType": {
          "target": "com.amazonaws.chime#AccountType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account type. For more information about different account types, see \n    <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration\n                Guide</i>.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chime#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account creation timestamp, in ISO 8601 format.</p>"
          }
        },
        "DefaultLicense": {
          "target": "com.amazonaws.chime#License",
          "traits": {
            "smithy.api#documentation": "<p>The default license for the Amazon Chime account.</p>"
          }
        },
        "SupportedLicenses": {
          "target": "com.amazonaws.chime#LicenseList",
          "traits": {
            "smithy.api#documentation": "<p>Supported licenses for the Amazon Chime account.</p>"
          }
        },
        "AccountStatus": {
          "target": "com.amazonaws.chime#AccountStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the account.</p>"
          }
        },
        "SigninDelegateGroups": {
          "target": "com.amazonaws.chime#SigninDelegateGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The sign-in delegate groups associated with the account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Chime account details. An AWS account can have multiple Amazon Chime accounts.</p>"
      }
    },
    "com.amazonaws.chime#AccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#Account"
      }
    },
    "com.amazonaws.chime#AccountName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.chime#AccountSettings": {
      "type": "structure",
      "members": {
        "DisableRemoteControl": {
          "target": "com.amazonaws.chime#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Setting that stops or starts remote control of shared screens during meetings.</p>"
          }
        },
        "EnableDialOut": {
          "target": "com.amazonaws.chime#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Setting that allows meeting participants to choose the <b>Call me at a phone number</b> option. For more information, see \n    <a href=\"https://docs.aws.amazon.com/chime/latest/ug/chime-join-meeting.html\">Join a Meeting without the Amazon Chime App</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Settings related to the Amazon Chime account. This includes settings that start or stop\n            remote control of shared screens, or start or stop the dial-out option in the Amazon Chime web application. For more information about these settings, see \n    <a href=\"https://docs.aws.amazon.com/chime/latest/ag/policies.html\">Use the Policies Page</a> in the <i>Amazon Chime Administration Guide</i>.</p>"
      }
    },
    "com.amazonaws.chime#AccountStatus": {
      "type": "enum",
      "members": {
        "Suspended": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Suspended"
          }
        },
        "Active": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Active"
          }
        }
      }
    },
    "com.amazonaws.chime#AccountType": {
      "type": "enum",
      "members": {
        "Team": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Team"
          }
        },
        "EnterpriseDirectory": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnterpriseDirectory"
          }
        },
        "EnterpriseLWA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnterpriseLWA"
          }
        },
        "EnterpriseOIDC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EnterpriseOIDC"
          }
        }
      }
    },
    "com.amazonaws.chime#AlexaForBusinessMetadata": {
      "type": "structure",
      "members": {
        "IsAlexaForBusinessEnabled": {
          "target": "com.amazonaws.chime#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Starts or stops Alexa for Business.</p>"
          }
        },
        "AlexaForBusinessRoomArn": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the room resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Alexa for Business metadata associated with an Amazon Chime user, used to integrate Alexa for Business with a device.</p>"
      }
    },
    "com.amazonaws.chime#Alpha2CountryCode": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[A-Z]{2}$"
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumberWithUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#AssociatePhoneNumberWithUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#AssociatePhoneNumberWithUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a phone number with the specified Amazon Chime user.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users/{UserId}?operation=associate-phone-number",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumberWithUserRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The user ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "E164PhoneNumber": {
          "target": "com.amazonaws.chime#E164PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number, in E.164 format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#AssociatePhoneNumberWithUserResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#AssociateSigninDelegateGroupsWithAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#AssociateSigninDelegateGroupsWithAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#AssociateSigninDelegateGroupsWithAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified sign-in delegate groups with the specified Amazon Chime account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}?operation=associate-signin-delegate-groups",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#AssociateSigninDelegateGroupsWithAccountRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SigninDelegateGroups": {
          "target": "com.amazonaws.chime#SigninDelegateGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The sign-in delegate groups.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#AssociateSigninDelegateGroupsWithAccountResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#BadRequestException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chime#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chime#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input parameters don't match the service's restrictions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chime#BatchCreateRoomMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchCreateRoomMembershipRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchCreateRoomMembershipResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds up to 50 members to a chat room in an Amazon Chime Enterprise account. Members can be users or bots. The member role designates whether the member is a \n    chat room administrator or a general chat room member.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/rooms/{RoomId}/memberships?operation=batch-create",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#BatchCreateRoomMembershipRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RoomId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The room ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MembershipItemList": {
          "target": "com.amazonaws.chime#MembershipItemList",
          "traits": {
            "smithy.api#documentation": "<p>The list of membership items.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#BatchCreateRoomMembershipResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.chime#MemberErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the member IDs in the request, a list of the member IDs is returned, along with error codes and error messages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#BatchDeletePhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchDeletePhoneNumberRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchDeletePhoneNumberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nMoves phone numbers into the \n<b>Deletion queue</b>. Phone numbers must be disassociated from any users or Amazon Chime Voice Connectors before they can be deleted.\n</p>\n         <p>\nPhone numbers remain in the \n<b>Deletion queue</b> for 7 days before they are deleted permanently.\n</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/phone-numbers?operation=batch-delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#BatchDeletePhoneNumberRequest": {
      "type": "structure",
      "members": {
        "PhoneNumberIds": {
          "target": "com.amazonaws.chime#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>List of phone number IDs.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#BatchDeletePhoneNumberResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.chime#PhoneNumberErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#BatchSuspendUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchSuspendUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchSuspendUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Suspends up to 50 users from a <code>Team</code> or <code>EnterpriseLWA</code> Amazon Chime\n            account. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration\n                Guide</i>.</p>\n         <p>Users suspended from a <code>Team</code> account are disassociated from the account,but they\n            can continue to use Amazon Chime as free users. To remove the suspension from suspended\n                <code>Team</code> account users, invite them to the <code>Team</code> account again.\n            You can use the <a>InviteUsers</a> action to do so.</p>\n         <p>Users suspended from an <code>EnterpriseLWA</code> account are immediately signed out of\n            Amazon Chime and can no longer sign in. To remove the suspension from suspended <code>EnterpriseLWA</code> account users, use the \n    <a>BatchUnsuspendUser</a> action.</p>\n         <p>\nTo sign out users without suspending them, use the \n<a>LogoutUser</a> action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users?operation=suspend",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#BatchSuspendUserRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "UserIdList": {
          "target": "com.amazonaws.chime#UserIdList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the user IDs to suspend.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#BatchSuspendUserResponse": {
      "type": "structure",
      "members": {
        "UserErrors": {
          "target": "com.amazonaws.chime#UserErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the <a>BatchSuspendUser</a> action fails for one or more of the user IDs in the\n            request, a list of the user IDs is returned, along with error codes and error messages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#BatchUnsuspendUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchUnsuspendUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchUnsuspendUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the suspension from up to 50 previously suspended users for the specified Amazon\n            Chime <code>EnterpriseLWA</code> account. Only users on <code>EnterpriseLWA</code>\n            accounts can be unsuspended using this action. For more information about different account types, see \n    <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">\n        Managing Your Amazon Chime Accounts\n    </a> in the account types, in the <i>Amazon Chime Administration Guide</i>.\n</p>\n         <p>Previously suspended users who are unsuspended using this action are returned to \n<code>Registered</code>\nstatus. Users who are not previously suspended are ignored.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users?operation=unsuspend",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#BatchUnsuspendUserRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "UserIdList": {
          "target": "com.amazonaws.chime#UserIdList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the user IDs to unsuspend.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#BatchUnsuspendUserResponse": {
      "type": "structure",
      "members": {
        "UserErrors": {
          "target": "com.amazonaws.chime#UserErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the <a>BatchUnsuspendUser</a> action fails for one or more of the user IDs in the\n            request, a list of the user IDs is returned, along with error codes and error messages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#BatchUpdatePhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchUpdatePhoneNumberRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchUpdatePhoneNumberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates phone number product types or calling names. You can update one attribute at a time for each <code>UpdatePhoneNumberRequestItem</code>. For example, you can update the product type or the calling name.</p>\n         <p>For toll-free numbers, you cannot use the Amazon Chime Business Calling product type. For numbers outside the U.S., you must use the Amazon Chime SIP Media Application Dial-In product type.</p>\n         <p>Updates to outbound calling names can take up to 72 hours to complete. Pending updates to outbound calling names must be complete before you can request another update.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/phone-numbers?operation=batch-update",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#BatchUpdatePhoneNumberRequest": {
      "type": "structure",
      "members": {
        "UpdatePhoneNumberRequestItems": {
          "target": "com.amazonaws.chime#UpdatePhoneNumberRequestItemList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the phone number IDs and product types or calling names to update.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#BatchUpdatePhoneNumberResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberErrors": {
          "target": "com.amazonaws.chime#PhoneNumberErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#BatchUpdateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#BatchUpdateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#BatchUpdateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates user details within the <a>UpdateUserRequestItem</a> object for up to 20 users for the specified Amazon Chime account. Currently, only <code>LicenseType</code> updates are supported for this action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#BatchUpdateUserRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "UpdateUserRequestItems": {
          "target": "com.amazonaws.chime#UpdateUserRequestItemList",
          "traits": {
            "smithy.api#documentation": "<p>The request containing the user IDs and details to update.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#BatchUpdateUserResponse": {
      "type": "structure",
      "members": {
        "UserErrors": {
          "target": "com.amazonaws.chime#UserErrorList",
          "traits": {
            "smithy.api#documentation": "<p>If the <a>BatchUpdateUser</a> action fails for one or more of the user IDs in the\n            request, a list of the user IDs is returned, along with error codes and error messages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.chime#Bot": {
      "type": "structure",
      "members": {
        "BotId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The bot ID.</p>"
          }
        },
        "UserId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the bot user.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The bot display name.</p>"
          }
        },
        "BotType": {
          "target": "com.amazonaws.chime#BotType",
          "traits": {
            "smithy.api#documentation": "<p>The bot type.</p>"
          }
        },
        "Disabled": {
          "target": "com.amazonaws.chime#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>When true, the bot is stopped from running in your account.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chime#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The bot creation timestamp, in ISO 8601 format.</p>"
          }
        },
        "UpdatedTimestamp": {
          "target": "com.amazonaws.chime#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The updated bot timestamp, in ISO 8601 format.</p>"
          }
        },
        "BotEmail": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The bot email address.</p>"
          }
        },
        "SecurityToken": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The security token used to authenticate Amazon Chime with the outgoing event endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource that allows Enterprise account administrators to configure an interface to receive events from Amazon Chime.</p>"
      }
    },
    "com.amazonaws.chime#BotList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#Bot"
      }
    },
    "com.amazonaws.chime#BotType": {
      "type": "enum",
      "members": {
        "ChatBot": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ChatBot"
          }
        }
      }
    },
    "com.amazonaws.chime#BusinessCallingSettings": {
      "type": "structure",
      "members": {
        "CdrBucket": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket designated for call detail record storage.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Chime Business Calling settings for the administrator's AWS account. Includes any\n            Amazon S3 buckets designated for storing call detail records.</p>"
      }
    },
    "com.amazonaws.chime#CallingName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^$|^[a-zA-Z0-9 ]{2,15}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chime#CallingNameStatus": {
      "type": "enum",
      "members": {
        "Unassigned": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unassigned"
          }
        },
        "UpdateInProgress": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateInProgress"
          }
        },
        "UpdateSucceeded": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateSucceeded"
          }
        },
        "UpdateFailed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdateFailed"
          }
        }
      }
    },
    "com.amazonaws.chime#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        },
        "smithy.api#pattern": "^[-_a-zA-Z0-9]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chime#ConflictException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chime#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chime#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be processed because of conflict in the current state of the\n         resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.chime#ConversationRetentionSettings": {
      "type": "structure",
      "members": {
        "RetentionDays": {
          "target": "com.amazonaws.chime#RetentionDays",
          "traits": {
            "smithy.api#documentation": "<p>The number of days for which to retain conversation messages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The retention settings that determine how long to retain conversation messages for an Amazon Chime Enterprise account.</p>"
      }
    },
    "com.amazonaws.chime#CreateAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Chime account under the administrator's AWS account. Only <code>Team</code>\n            account types are currently supported for this action. For more information about different account types, see \n    <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime \n        Administration Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateAccountRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.chime#AccountName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Chime account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#CreateAccountResponse": {
      "type": "structure",
      "members": {
        "Account": {
          "target": "com.amazonaws.chime#Account",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#CreateBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateBotRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateBotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a bot for an Amazon Chime Enterprise account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/bots",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateBotRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The bot display name.</p>",
            "smithy.api#required": {}
          }
        },
        "Domain": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The domain of the Amazon Chime Enterprise account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#CreateBotResponse": {
      "type": "structure",
      "members": {
        "Bot": {
          "target": "com.amazonaws.chime#Bot",
          "traits": {
            "smithy.api#documentation": "<p>The bot details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#CreateMeetingDialOut": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateMeetingDialOutRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateMeetingDialOutResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Uses the join token and call metadata in a meeting request (From number, To number, and so forth) to initiate an outbound call to a public \n    switched telephone network (PSTN) and join them into a Chime meeting. Also ensures that the From number belongs to the customer.</p>\n         <p>To play welcome audio or implement an interactive voice response (IVR), use the \n<code>CreateSipMediaApplicationCall</code> action with the corresponding SIP media application ID.</p>\n         <important>\n            <p>\n               <b>This API is not available in a dedicated namespace.</b>\n            </p>\n         </important>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/meetings/{MeetingId}/dial-outs",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateMeetingDialOutRequest": {
      "type": "structure",
      "members": {
        "MeetingId": {
          "target": "com.amazonaws.chime#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime SDK meeting ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "FromPhoneNumber": {
          "target": "com.amazonaws.chime#E164PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>Phone number used as the caller ID when the remote party receives a call.</p>",
            "smithy.api#required": {}
          }
        },
        "ToPhoneNumber": {
          "target": "com.amazonaws.chime#E164PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>Phone number called when inviting someone to a meeting.</p>",
            "smithy.api#required": {}
          }
        },
        "JoinToken": {
          "target": "com.amazonaws.chime#JoinTokenString",
          "traits": {
            "smithy.api#documentation": "<p>Token used by the Amazon Chime SDK attendee. Call the <a href=\"https://docs.aws.amazon.com/chime/latest/APIReference/API_CreateAttendee.html\">CreateAttendee</a> action to get a join token.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#CreateMeetingDialOutResponse": {
      "type": "structure",
      "members": {
        "TransactionId": {
          "target": "com.amazonaws.chime#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>Unique ID that tracks API calls.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#CreatePhoneNumberOrder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreatePhoneNumberOrderRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreatePhoneNumberOrderResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an order for phone numbers to be provisioned. For toll-free numbers, you cannot use the Amazon Chime Business Calling product type. \n        For numbers outside the U.S., you must use the Amazon Chime SIP Media Application Dial-In product type.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/phone-number-orders",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreatePhoneNumberOrderRequest": {
      "type": "structure",
      "members": {
        "ProductType": {
          "target": "com.amazonaws.chime#PhoneNumberProductType",
          "traits": {
            "smithy.api#documentation": "<p>The phone number product type.</p>",
            "smithy.api#required": {}
          }
        },
        "E164PhoneNumbers": {
          "target": "com.amazonaws.chime#E164PhoneNumberList",
          "traits": {
            "smithy.api#documentation": "<p>List of phone numbers, in E.164 format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#CreatePhoneNumberOrderResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberOrder": {
          "target": "com.amazonaws.chime#PhoneNumberOrder",
          "traits": {
            "smithy.api#documentation": "<p>The phone number order details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#CreateRoom": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateRoomRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateRoomResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a chat room for the specified Amazon Chime Enterprise account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/rooms",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateRoomMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateRoomMembershipRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateRoomMembershipResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ConflictException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a member to a chat room in an Amazon Chime Enterprise account. A member can be either a user or a bot. The member role designates whether the member is a chat room administrator or a general chat room member.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/rooms/{RoomId}/memberships",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateRoomMembershipRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RoomId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The room ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MemberId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime member ID (user ID or bot ID).</p>",
            "smithy.api#required": {}
          }
        },
        "Role": {
          "target": "com.amazonaws.chime#RoomMembershipRole",
          "traits": {
            "smithy.api#documentation": "<p>The role of the member.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#CreateRoomMembershipResponse": {
      "type": "structure",
      "members": {
        "RoomMembership": {
          "target": "com.amazonaws.chime#RoomMembership",
          "traits": {
            "smithy.api#documentation": "<p>The room membership details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#CreateRoomRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The room name.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chime#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#CreateRoomResponse": {
      "type": "structure",
      "members": {
        "Room": {
          "target": "com.amazonaws.chime#Room",
          "traits": {
            "smithy.api#documentation": "<p>The room details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ConflictException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user under the specified Amazon Chime account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users?operation=create",
          "code": 201
        }
      }
    },
    "com.amazonaws.chime#CreateUserRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The user name.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.chime#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The user's email address.</p>"
          }
        },
        "UserType": {
          "target": "com.amazonaws.chime#UserType",
          "traits": {
            "smithy.api#documentation": "<p>The user type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#CreateUserResponse": {
      "type": "structure",
      "members": {
        "User": {
          "target": "com.amazonaws.chime#User",
          "traits": {
            "smithy.api#documentation": "<p>The user on the Amazon Chime account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#DeleteAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#DeleteAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#DeleteAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        },
        {
          "target": "com.amazonaws.chime#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Amazon Chime account. You must suspend all users before deleting\n                <code>Team</code> account. You can use the <a>BatchSuspendUser</a> action\n            to dodo.</p>\n         <p>For <code>EnterpriseLWA</code> and <code>EnterpriseAD</code> accounts, you must release the\n            claimed domains for your Amazon Chime account before deletion. As soon as you release\n            the domain, all users under that account are suspended.</p>\n         <p>Deleted accounts appear in your <code>Disabled</code> accounts list for 90 days. To restore\n            deleted account from your <code>Disabled</code> accounts list, you must contact AWS\n            Support.</p>\n         <p>After 90 days, deleted accounts are permanently removed from your \n<code>Disabled</code> accounts list.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{AccountId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chime#DeleteAccountRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#DeleteAccountResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#DeleteEventsConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#DeleteEventsConfigurationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the events configuration that allows a bot to receive outgoing events.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{AccountId}/bots/{BotId}/events-configuration",
          "code": 204
        }
      }
    },
    "com.amazonaws.chime#DeleteEventsConfigurationRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "BotId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The bot ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#DeletePhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#DeletePhoneNumberRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Moves the specified phone number into the <b>Deletion queue</b>. A\n            phone number must be disassociated from any users or Amazon Chime Voice Connectors\n            before it can be deleted.</p>\n         <p>Deleted phone numbers remain in the \n<b>Deletion queue</b>\nfor 7 days before they are deleted permanently.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/phone-numbers/{PhoneNumberId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chime#DeletePhoneNumberRequest": {
      "type": "structure",
      "members": {
        "PhoneNumberId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The phone number ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#DeleteRoom": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#DeleteRoomRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a chat room in an Amazon Chime Enterprise account.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{AccountId}/rooms/{RoomId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chime#DeleteRoomMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#DeleteRoomMembershipRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a member from a chat room in an Amazon Chime Enterprise account.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{AccountId}/rooms/{RoomId}/memberships/{MemberId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chime#DeleteRoomMembershipRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RoomId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The room ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MemberId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The member ID (user ID or bot ID).</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#DeleteRoomRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RoomId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The chat room ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#DisassociatePhoneNumberFromUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#DisassociatePhoneNumberFromUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#DisassociatePhoneNumberFromUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates the primary provisioned phone number from the specified Amazon Chime user.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}/users/{UserId}?operation=disassociate-phone-number",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#DisassociatePhoneNumberFromUserRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The user ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#DisassociatePhoneNumberFromUserResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#DisassociateSigninDelegateGroupsFromAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#DisassociateSigninDelegateGroupsFromAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#DisassociateSigninDelegateGroupsFromAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates the specified sign-in delegate groups from the specified Amazon Chime account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AccountId}?operation=disassociate-signin-delegate-groups",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#DisassociateSigninDelegateGroupsFromAccountRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "GroupNames": {
          "target": "com.amazonaws.chime#NonEmptyStringList",
          "traits": {
            "smithy.api#documentation": "<p>The sign-in delegate group names.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#DisassociateSigninDelegateGroupsFromAccountResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#E164PhoneNumber": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\+?[1-9]\\d{1,14}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chime#E164PhoneNumberList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chime#E164PhoneNumber"
      }
    },
    "com.amazonaws.chime#EmailAddress": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^.+@.+\\..+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chime#EmailStatus": {
      "type": "enum",
      "members": {
        "NotSent": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotSent"
          }
        },
        "Sent": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sent"
          }
        },
        "Failed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      }
    },
    "com.amazonaws.chime#ErrorCode": {
      "type": "enum",
      "members": {
        "BadRequest": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BadRequest"
          }
        },
        "Conflict": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Conflict"
          }
        },
        "Forbidden": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Forbidden"
          }
        },
        "NotFound": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotFound"
          }
        },
        "PreconditionFailed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PreconditionFailed"
          }
        },
        "ResourceLimitExceeded": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResourceLimitExceeded"
          }
        },
        "ServiceFailure": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServiceFailure"
          }
        },
        "AccessDenied": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AccessDenied"
          }
        },
        "ServiceUnavailable": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ServiceUnavailable"
          }
        },
        "Throttled": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Throttled"
          }
        },
        "Throttling": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Throttling"
          }
        },
        "Unauthorized": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unauthorized"
          }
        },
        "Unprocessable": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unprocessable"
          }
        },
        "VoiceConnectorGroupAssociationsExist": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VoiceConnectorGroupAssociationsExist"
          }
        },
        "PhoneNumberAssociationsExist": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PhoneNumberAssociationsExist"
          }
        }
      }
    },
    "com.amazonaws.chime#EventsConfiguration": {
      "type": "structure",
      "members": {
        "BotId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The bot ID.</p>"
          }
        },
        "OutboundEventsHTTPSEndpoint": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>HTTPS endpoint that allows a bot to receive outgoing events.</p>"
          }
        },
        "LambdaFunctionArn": {
          "target": "com.amazonaws.chime#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>Lambda function ARN that allows a bot to receive outgoing events.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration that allows a bot to receive outgoing events. Can be either an HTTPS endpoint or a Lambda function ARN.</p>"
      }
    },
    "com.amazonaws.chime#ForbiddenException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chime#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chime#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The client is permanently forbidden from making the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.chime#GetAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#GetAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#GetAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details for the specified Amazon Chime account, such as account type and supported\n            licenses.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{AccountId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#GetAccountRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#GetAccountResponse": {
      "type": "structure",
      "members": {
        "Account": {
          "target": "com.amazonaws.chime#Account",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#GetAccountSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#GetAccountSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#GetAccountSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves account settings for the specified Amazon Chime account ID, such as remote control\n            and dialout settings. For more information about these settings, see \n    <a href=\"https://docs.aws.amazon.com/chime/latest/ag/policies.html\">Use the Policies Page</a> in the <i>Amazon Chime Administration Guide</i>.\n</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{AccountId}/settings",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#GetAccountSettingsRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#GetAccountSettingsResponse": {
      "type": "structure",
      "members": {
        "AccountSettings": {
          "target": "com.amazonaws.chime#AccountSettings",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account settings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#GetBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#GetBotRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#GetBotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details for the specified bot, such as bot email address, bot type, status, and display name.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{AccountId}/bots/{BotId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#GetBotRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "BotId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The bot ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#GetBotResponse": {
      "type": "structure",
      "members": {
        "Bot": {
          "target": "com.amazonaws.chime#Bot",
          "traits": {
            "smithy.api#documentation": "<p>The chat bot details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#GetEventsConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#GetEventsConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#GetEventsConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details for an events configuration that allows a bot to receive outgoing events, such as an HTTPS endpoint or Lambda function ARN.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{AccountId}/bots/{BotId}/events-configuration",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#GetEventsConfigurationRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "BotId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The bot ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#GetEventsConfigurationResponse": {
      "type": "structure",
      "members": {
        "EventsConfiguration": {
          "target": "com.amazonaws.chime#EventsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The events configuration details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#GetGlobalSettings": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.chime#GetGlobalSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves global settings for the administrator's AWS account, such as Amazon Chime Business\n            Calling and Amazon Chime Voice Connector settings.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/settings",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#GetGlobalSettingsResponse": {
      "type": "structure",
      "members": {
        "BusinessCalling": {
          "target": "com.amazonaws.chime#BusinessCallingSettings",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime Business Calling settings.</p>"
          }
        },
        "VoiceConnector": {
          "target": "com.amazonaws.chime#VoiceConnectorSettings",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime Voice Connector settings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#GetPhoneNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#GetPhoneNumberRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#GetPhoneNumberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details for the specified phone number ID, such as associations, capabilities, and product type.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/phone-numbers/{PhoneNumberId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#GetPhoneNumberOrder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#GetPhoneNumberOrderRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#GetPhoneNumberOrderResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details for the specified phone number order, such as the order creation timestamp, phone\n            numbers in E.164 format, product type, and order status.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/phone-number-orders/{PhoneNumberOrderId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#GetPhoneNumberOrderRequest": {
      "type": "structure",
      "members": {
        "PhoneNumberOrderId": {
          "target": "com.amazonaws.chime#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the phone number order.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#GetPhoneNumberOrderResponse": {
      "type": "structure",
      "members": {
        "PhoneNumberOrder": {
          "target": "com.amazonaws.chime#PhoneNumberOrder",
          "traits": {
            "smithy.api#documentation": "<p>The phone number order details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#GetPhoneNumberRequest": {
      "type": "structure",
      "members": {
        "PhoneNumberId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The phone number ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#GetPhoneNumberResponse": {
      "type": "structure",
      "members": {
        "PhoneNumber": {
          "target": "com.amazonaws.chime#PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#GetPhoneNumberSettings": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.chime#GetPhoneNumberSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the phone number settings for the administrator's AWS account, such as the default outbound calling name.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/settings/phone-number",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#GetPhoneNumberSettingsResponse": {
      "type": "structure",
      "members": {
        "CallingName": {
          "target": "com.amazonaws.chime#CallingName",
          "traits": {
            "smithy.api#documentation": "<p>The default outbound calling name for the account.</p>"
          }
        },
        "CallingNameUpdatedTimestamp": {
          "target": "com.amazonaws.chime#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The updated outbound calling name timestamp, in ISO 8601 format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#GetRetentionSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#GetRetentionSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#GetRetentionSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nGets the retention settings for the specified Amazon Chime Enterprise account. For more information about retention settings, see \n<a href=\"https://docs.aws.amazon.com/chime/latest/ag/chat-retention.html\">Managing Chat Retention Policies</a> in the <i>Amazon Chime Administration Guide</i>.\n</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{AccountId}/retention-settings",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#GetRetentionSettingsRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#GetRetentionSettingsResponse": {
      "type": "structure",
      "members": {
        "RetentionSettings": {
          "target": "com.amazonaws.chime#RetentionSettings",
          "traits": {
            "smithy.api#documentation": "<p>The retention settings.</p>"
          }
        },
        "InitiateDeletionTimestamp": {
          "target": "com.amazonaws.chime#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp representing the time at which the specified items are permanently deleted, in ISO 8601 format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#GetRoom": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#GetRoomRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#GetRoomResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves room details, such as the room name, for a room in an Amazon Chime Enterprise account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{AccountId}/rooms/{RoomId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#GetRoomRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RoomId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The room ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#GetRoomResponse": {
      "type": "structure",
      "members": {
        "Room": {
          "target": "com.amazonaws.chime#Room",
          "traits": {
            "smithy.api#documentation": "<p>The room details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#GetUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#GetUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#GetUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details for the specified user ID, such as primary email address, license type,and personal meeting PIN.</p>\n         <p>\nTo retrieve user details with an email address instead of a user ID, use the \n<a>ListUsers</a> action, and then filter by email address.\n</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{AccountId}/users/{UserId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#GetUserRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.chime#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The user ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.chime#GetUserResponse": {
      "type": "structure",
      "members": {
        "User": {
          "target": "com.amazonaws.chime#User",
          "traits": {
            "smithy.api#documentation": "<p>The user details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.chime#GetUserSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chime#GetUserSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.chime#GetUserSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chime#BadRequestException"
        },
        {
          "target": "com.amazonaws.chime#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chime#NotFoundException"
        },
        {
          "target": "com.amazonaws.chime#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chime#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chime#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chime#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves settings for the specified user ID, such as any associated phone number settings.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/accounts/{AccountId}/users/{UserId}/settings",
          "code": 200
        }
      }
    },
    "com.amazonaws.chime#GetUserSettingsRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Chime account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.chime#String",
          "traits": {
            "smithy.api#documentation": "<p>The user ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
[...]
