{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.chimesdkidentity#AllowMessages": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALL",
            "name": "ALL"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstance": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the messaging instance.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#NonEmptyResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an <code>AppInstance</code>.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which an <code>AppInstance</code> was created. In epoch milliseconds.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time an <code>AppInstance</code> was last updated. In epoch milliseconds.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkidentity#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of an <code>AppInstance</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an <code>AppInstance</code>, an instance of an Amazon Chime SDK messaging\n         application.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceAdmin": {
      "type": "structure",
      "members": {
        "Admin": {
          "target": "com.amazonaws.chimesdkidentity#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstanceAdmin</code> data.</p>"
          }
        },
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code> for which the user is an administrator.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which an administrator was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an <code>AppInstanceAdmin</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceAdminList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkidentity#AppInstanceAdminSummary"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceAdminSummary": {
      "type": "structure",
      "members": {
        "Admin": {
          "target": "com.amazonaws.chimesdkidentity#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The details of the <code>AppInstanceAdmin</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the details of an <code>AppInstanceAdmin</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkidentity#AppInstanceSummary"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceRetentionSettings": {
      "type": "structure",
      "members": {
        "ChannelRetentionSettings": {
          "target": "com.amazonaws.chimesdkidentity#ChannelRetentionSettings",
          "traits": {
            "smithy.api#documentation": "<p>The length of time in days to retain the messages in a channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the data-retention settings for an <code>AppInstance</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceSummary": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AppInstance</code> ARN.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#NonEmptyResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>AppInstance</code>.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkidentity#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the <code>AppInstance</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the data for an <code>AppInstance</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceUser": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>AppInstanceUser</code>.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkidentity#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the <code>AppInstanceUser</code>.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the <code>AppInstanceUser</code> was created.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the <code>AppInstanceUser</code> was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of an <code>AppInstanceUser</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceUserEndpoint": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>"
          }
        },
        "EndpointId": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveString64",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the <code>AppInstanceUserEndpoint</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveString1600",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>AppInstanceUserEndpoint</code>.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceUserEndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the <code>AppInstanceUserEndpoint</code>.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource to which the endpoint belongs.</p>"
          }
        },
        "EndpointAttributes": {
          "target": "com.amazonaws.chimesdkidentity#EndpointAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The attributes of an <code>Endpoint</code>.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which an <code>AppInstanceUserEndpoint</code> was created.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which an <code>AppInstanceUserEndpoint</code> was last updated.</p>"
          }
        },
        "AllowMessages": {
          "target": "com.amazonaws.chimesdkidentity#AllowMessages",
          "traits": {
            "smithy.api#documentation": "<p>Boolean that controls whether the <code>AppInstanceUserEndpoint</code> is opted in to receive messages. <code>ALL</code> indicates the endpoint will receive all messages. \n         <code>NONE</code> indicates the endpoint will receive no messages.</p>"
          }
        },
        "EndpointState": {
          "target": "com.amazonaws.chimesdkidentity#EndpointState",
          "traits": {
            "smithy.api#documentation": "<p>A read-only field that represents the state of an <code>AppInstanceUserEndpoint</code>. Supported values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ACTIVE</code>: The <code>AppInstanceUserEndpoint</code> is active and able to receive messages. When <code>ACTIVE</code>, the <code>EndpointStatusReason</code> remains empty.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INACTIVE</code>: The <code>AppInstanceUserEndpoint</code> is inactive and can't receive message. When <code>INACTIVE</code>, the corresponding reason will be \n            conveyed through <code>EndpointStatusReason</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INVALID_DEVICE_TOKEN</code> indicates that an <code>AppInstanceUserEndpoint</code> is <code>INACTIVE</code> due to invalid device token</p>\n            </li>\n            <li>\n               <p>\n                  <code>INVALID_PINPOINT_ARN</code> indicates that an <code>AppInstanceUserEndpoint</code> is <code>INACTIVE</code> due to an invalid pinpoint ARN that was input \n            through the <code>ResourceArn</code> field.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An endpoint under an Amazon Chime <code>AppInstanceUser</code> that receives messages for a user. For push notifications, the endpoint is a mobile device used to receive mobile push notifications for a user.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceUserEndpointSummary": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>"
          }
        },
        "EndpointId": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveString64",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the <code>AppInstanceUserEndpoint</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveString1600",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>AppInstanceUserEndpoint</code>.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceUserEndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the <code>AppInstanceUserEndpoint</code>.</p>"
          }
        },
        "AllowMessages": {
          "target": "com.amazonaws.chimesdkidentity#AllowMessages",
          "traits": {
            "smithy.api#documentation": "<p>BBoolean that controls whether the <code>AppInstanceUserEndpoint</code> is opted in to receive messages. <code>ALL</code> indicates the endpoint will receive all messages. \n         <code>NONE</code> indicates the endpoint will receive no messages.</p>"
          }
        },
        "EndpointState": {
          "target": "com.amazonaws.chimesdkidentity#EndpointState",
          "traits": {
            "smithy.api#documentation": "<p>A read-only field that represent the state of an <code>AppInstanceUserEndpoint</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the details of an <code>AppInstanceUserEndpoint</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceUserEndpointSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkidentity#AppInstanceUserEndpointSummary"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceUserEndpointType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "APNS",
            "name": "APNS"
          },
          {
            "value": "APNS_SANDBOX",
            "name": "APNS_SANDBOX"
          },
          {
            "value": "GCM",
            "name": "GCM"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceUserList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkidentity#AppInstanceUserSummary"
      }
    },
    "com.amazonaws.chimesdkidentity#AppInstanceUserSummary": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an <code>AppInstanceUser</code>.</p>"
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkidentity#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the <code>AppInstanceUser</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the details of an <code>AppInstanceUser</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#BadRequestException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkidentity#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkidentity#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input parameters don't match the service's restrictions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chimesdkidentity#ChannelRetentionSettings": {
      "type": "structure",
      "members": {
        "RetentionDays": {
          "target": "com.amazonaws.chimesdkidentity#RetentionDays",
          "traits": {
            "smithy.api#documentation": "<p>The time in days to retain the messages in a channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the retention settings for a channel.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#ChimeArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}$"
      }
    },
    "com.amazonaws.chimesdkidentity#ChimeIdentityService": {
      "type": "service",
      "version": "2021-04-20",
      "operations": [
        {
          "target": "com.amazonaws.chimesdkidentity#CreateAppInstance"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceAdmin"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceUser"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#DeleteAppInstance"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#DeleteAppInstanceAdmin"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#DeleteAppInstanceUser"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#DeregisterAppInstanceUserEndpoint"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#DescribeAppInstance"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceAdmin"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceUser"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserEndpoint"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#GetAppInstanceRetentionSettings"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ListAppInstanceAdmins"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ListAppInstances"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ListAppInstanceUserEndpoints"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ListAppInstanceUsers"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#PutAppInstanceRetentionSettings"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#RegisterAppInstanceUserEndpoint"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#TagResource"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UntagResource"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UpdateAppInstance"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UpdateAppInstanceUser"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UpdateAppInstanceUserEndpoint"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Chime SDK Identity",
          "arnNamespace": "chime",
          "cloudFormationName": "ChimeSDKIdentity",
          "cloudTrailEventSource": "chimesdkidentity.amazonaws.com",
          "endpointPrefix": "identity-chime"
        },
        "aws.auth#sigv4": {
          "name": "chime"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>The Amazon Chime SDK Identity APIs in this section allow software developers to create\n         and manage unique instances of their messaging applications. These APIs provide the\n         overarching framework for creating and sending messages. For more information about the\n         identity APIs, refer to <a href=\"https://docs.aws.amazon.com/chime/latest/APIReference/API_Operations_Amazon_Chime_SDK_Identity.html\">Amazon Chime SDK identity</a>.</p>",
        "smithy.api#title": "Amazon Chime SDK Identity",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://identity-chime-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://identity-chime-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://identity-chime.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://identity-chime.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://identity-chime.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        },
        "smithy.api#pattern": "^[-_a-zA-Z0-9]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkidentity#ConflictException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkidentity#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkidentity#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be processed because of conflict in the current state of the\n         resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Chime SDK messaging <code>AppInstance</code> under an AWS account.\n         Only SDK messaging customers use this API. <code>CreateAppInstance</code> supports\n         idempotency behavior as described in the AWS API Standard.</p>\n         <p>identity</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/app-instances",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceAdmin": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceAdminRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceAdminResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Promotes an <code>AppInstanceUser</code> to an <code>AppInstanceAdmin</code>. The\n         promoted user can perform the following actions. </p>\n\n         <ul>\n            <li>\n               <p>\n                  <code>ChannelModerator</code> actions across all channels in the\n                  <code>AppInstance</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteChannelMessage</code> actions.</p>\n            </li>\n         </ul>\n\n         <p>Only an <code>AppInstanceUser</code> can be promoted to an <code>AppInstanceAdmin</code>\n         role.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/app-instances/{AppInstanceArn}/admins",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceAdminRequest": {
      "type": "structure",
      "members": {
        "AppInstanceAdminArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the administrator of the current <code>AppInstance</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceAdminResponse": {
      "type": "structure",
      "members": {
        "AppInstanceAdmin": {
          "target": "com.amazonaws.chimesdkidentity#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The name and ARN of the admin for the <code>AppInstance</code>.</p>"
          }
        },
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the of the admin for the <code>AppInstance</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#NonEmptyResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>AppInstance</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkidentity#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata of the <code>AppInstance</code>. Limited to a 1KB string in UTF-8.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkidentity#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ClientRequestToken</code> of the <code>AppInstance</code>.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkidentity#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to the <code>AppInstanceUser</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceResponse": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the <code>AppInstance</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#CreateAppInstanceUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user under an Amazon Chime <code>AppInstance</code>. The request consists of a\n         unique <code>appInstanceUserId</code> and <code>Name</code> for that user.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/app-instance-users",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceUserRequest": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code> request.</p>",
            "smithy.api#required": {}
          }
        },
        "AppInstanceUserId": {
          "target": "com.amazonaws.chimesdkidentity#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The user ID of the <code>AppInstance</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The user's name.</p>",
            "smithy.api#required": {}
          }
        },
        "Metadata": {
          "target": "com.amazonaws.chimesdkidentity#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>The request's metadata. Limited to a 1KB string in UTF-8.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkidentity#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The token assigned to the user requesting an <code>AppInstance</code>.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkidentity#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to the <code>AppInstanceUser</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#CreateAppInstanceUserResponse": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The user's ARN.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DeleteAppInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#DeleteAppInstanceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an <code>AppInstance</code> and all associated data asynchronously.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/app-instances/{AppInstanceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DeleteAppInstanceAdmin": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#DeleteAppInstanceAdminRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Demotes an <code>AppInstanceAdmin</code> to an <code>AppInstanceUser</code>. This action\n         does not delete the user.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/app-instances/{AppInstanceArn}/admins/{AppInstanceAdminArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DeleteAppInstanceAdminRequest": {
      "type": "structure",
      "members": {
        "AppInstanceAdminArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>'s administrator.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DeleteAppInstanceRequest": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DeleteAppInstanceUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#DeleteAppInstanceUserRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an <code>AppInstanceUser</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/app-instance-users/{AppInstanceUserArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DeleteAppInstanceUserRequest": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the user request being deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DeregisterAppInstanceUserEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#DeregisterAppInstanceUserEndpointRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deregisters an <code>AppInstanceUserEndpoint</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/app-instance-users/{AppInstanceUserArn}/endpoints/{EndpointId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DeregisterAppInstanceUserEndpointRequest": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "EndpointId": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveString64",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the <code>AppInstanceUserEndpoint</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the full details of an <code>AppInstance</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app-instances/{AppInstanceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceAdmin": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceAdminRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceAdminResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the full details of an <code>AppInstanceAdmin</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app-instances/{AppInstanceArn}/admins/{AppInstanceAdminArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceAdminRequest": {
      "type": "structure",
      "members": {
        "AppInstanceAdminArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceAdmin</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceAdminResponse": {
      "type": "structure",
      "members": {
        "AppInstanceAdmin": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceAdmin",
          "traits": {
            "smithy.api#documentation": "<p>The ARN and name of the <code>AppInstanceUser</code>, the ARN of the\n            <code>AppInstance</code>, and the created and last-updated timestamps. All timestamps\n         use epoch milliseconds.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceRequest": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceResponse": {
      "type": "structure",
      "members": {
        "AppInstance": {
          "target": "com.amazonaws.chimesdkidentity#AppInstance",
          "traits": {
            "smithy.api#documentation": "<p>The ARN, metadata, created and last-updated timestamps, and the name of the\n            <code>AppInstance</code>. All timestamps use epoch milliseconds.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the full details of an <code>AppInstanceUser</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app-instance-users/{AppInstanceUserArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the full details of an <code>AppInstanceUserEndpoint</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app-instance-users/{AppInstanceUserArn}/endpoints/{EndpointId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserEndpointRequest": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveString1600",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "EndpointId": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveString64",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the <code>AppInstanceUserEndpoint</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserEndpointResponse": {
      "type": "structure",
      "members": {
        "AppInstanceUserEndpoint": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceUserEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The full details of an <code>AppInstanceUserEndpoint</code>: the <code>AppInstanceUserArn</code>, ID, name, type, resource ARN, attributes, \n         allow messages, state, and created and last updated timestamps. All timestamps use epoch milliseconds.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserRequest": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#DescribeAppInstanceUserResponse": {
      "type": "structure",
      "members": {
        "AppInstanceUser": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceUser",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>AppInstanceUser</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#EndpointAttributes": {
      "type": "structure",
      "members": {
        "DeviceToken": {
          "target": "com.amazonaws.chimesdkidentity#NonEmptySensitiveString1600",
          "traits": {
            "smithy.api#documentation": "<p>The device token for the GCM, APNS, and APNS_SANDBOX endpoint types.</p>",
            "smithy.api#required": {}
          }
        },
        "VoipDeviceToken": {
          "target": "com.amazonaws.chimesdkidentity#NonEmptySensitiveString1600",
          "traits": {
            "smithy.api#documentation": "<p>The VOIP device token for the APNS and APNS_SANDBOX endpoint types.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The attributes of an <code>Endpoint</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#EndpointState": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.chimesdkidentity#EndpointStatus",
          "traits": {
            "smithy.api#documentation": "<p>Enum that indicates the Status of an <code>AppInstanceUserEndpoint</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "StatusReason": {
          "target": "com.amazonaws.chimesdkidentity#EndpointStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the <code>EndpointStatus</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A read-only field that represents the state of an <code>AppInstanceUserEndpoint</code>. Supported values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ACTIVE</code>: The <code>AppInstanceUserEndpoint</code> is active and able to receive messages. When <code>ACTIVE</code>, the <code>EndpointStatusReason</code> remains empty.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INACTIVE</code>: The <code>AppInstanceUserEndpoint</code> is inactive and can't receive\n               message. When INACTIVE, the corresponding reason will be conveyed through\n               EndpointStatusReason.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INVALID_DEVICE_TOKEN</code> indicates that an <code>AppInstanceUserEndpoint</code> is <code>INACTIVE</code> due to invalid device token</p>\n            </li>\n            <li>\n               <p>\n                  <code>INVALID_PINPOINT_ARN</code> indicates that an <code>AppInstanceUserEndpoint</code> is <code>INACTIVE</code> due to an invalid pinpoint ARN that was input through the <code>ResourceArn</code> field.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.chimesdkidentity#EndpointStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "INACTIVE",
            "name": "INACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkidentity#EndpointStatusReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INVALID_DEVICE_TOKEN",
            "name": "INVALID_DEVICE_TOKEN"
          },
          {
            "value": "INVALID_PINPOINT_ARN",
            "name": "INVALID_PINPOINT_ARN"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkidentity#ErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BadRequest",
            "name": "BadRequest"
          },
          {
            "value": "Conflict",
            "name": "Conflict"
          },
          {
            "value": "Forbidden",
            "name": "Forbidden"
          },
          {
            "value": "NotFound",
            "name": "NotFound"
          },
          {
            "value": "PreconditionFailed",
            "name": "PreconditionFailed"
          },
          {
            "value": "ResourceLimitExceeded",
            "name": "ResourceLimitExceeded"
          },
          {
            "value": "ServiceFailure",
            "name": "ServiceFailure"
          },
          {
            "value": "AccessDenied",
            "name": "AccessDenied"
          },
          {
            "value": "ServiceUnavailable",
            "name": "ServiceUnavailable"
          },
          {
            "value": "Throttled",
            "name": "Throttled"
          },
          {
            "value": "Throttling",
            "name": "Throttling"
          },
          {
            "value": "Unauthorized",
            "name": "Unauthorized"
          },
          {
            "value": "Unprocessable",
            "name": "Unprocessable"
          },
          {
            "value": "VoiceConnectorGroupAssociationsExist",
            "name": "VoiceConnectorGroupAssociationsExist"
          },
          {
            "value": "PhoneNumberAssociationsExist",
            "name": "PhoneNumberAssociationsExist"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkidentity#ForbiddenException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkidentity#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkidentity#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The client is permanently forbidden from making the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.chimesdkidentity#GetAppInstanceRetentionSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#GetAppInstanceRetentionSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#GetAppInstanceRetentionSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the retention settings for an <code>AppInstance</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app-instances/{AppInstanceArn}/retention-settings",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkidentity#GetAppInstanceRetentionSettingsRequest": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#GetAppInstanceRetentionSettingsResponse": {
      "type": "structure",
      "members": {
        "AppInstanceRetentionSettings": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceRetentionSettings",
          "traits": {
            "smithy.api#documentation": "<p>The retention settings for the <code>AppInstance</code>.</p>"
          }
        },
        "InitiateDeletionTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp representing the time at which the specified items are retained, in Epoch\n         Seconds.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#Identity": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN in an Identity.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name in an Identity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a user.</p>"
      }
    },
    "com.amazonaws.chimesdkidentity#ListAppInstanceAdmins": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#ListAppInstanceAdminsRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#ListAppInstanceAdminsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of the administrators in the <code>AppInstance</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app-instances/{AppInstanceArn}/admins",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ListAppInstanceAdminsRequest": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.chimesdkidentity#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of administrators that you want to return.</p>",
            "smithy.api#httpQuery": "max-results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chimesdkidentity#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned from previous API requests until the number of administrators is\n         reached.</p>",
            "smithy.api#httpQuery": "next-token"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ListAppInstanceAdminsResponse": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>.</p>"
          }
        },
        "AppInstanceAdmins": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceAdminList",
          "traits": {
            "smithy.api#documentation": "<p>The information for each administrator.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chimesdkidentity#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned from previous API requests until the number of administrators is\n         reached.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ListAppInstanceUserEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#ListAppInstanceUserEndpointsRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#ListAppInstanceUserEndpointsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the <code>AppInstanceUserEndpoints</code> created under a single <code>AppInstanceUser</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app-instance-users/{AppInstanceUserArn}/endpoints",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ListAppInstanceUserEndpointsRequest": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.chimesdkidentity#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of endpoints that you want to return.</p>",
            "smithy.api#httpQuery": "max-results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chimesdkidentity#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token passed by previous API calls until all requested endpoints are returned.</p>",
            "smithy.api#httpQuery": "next-token"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ListAppInstanceUserEndpointsResponse": {
      "type": "structure",
      "members": {
        "AppInstanceUserEndpoints": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceUserEndpointSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The information for each requested <code>AppInstanceUserEndpoint</code>.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chimesdkidentity#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token passed by previous API calls until all requested endpoints are returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ListAppInstanceUsers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#ListAppInstanceUsersRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#ListAppInstanceUsersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List all <code>AppInstanceUsers</code> created under a single\n         <code>AppInstance</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app-instance-users",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ListAppInstanceUsersRequest": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
            "smithy.api#httpQuery": "app-instance-arn",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.chimesdkidentity#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of requests that you want returned.</p>",
            "smithy.api#httpQuery": "max-results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chimesdkidentity#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token passed by previous API calls until all requested users are returned.</p>",
            "smithy.api#httpQuery": "next-token"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ListAppInstanceUsersResponse": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>.</p>"
          }
        },
        "AppInstanceUsers": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceUserList",
          "traits": {
            "smithy.api#documentation": "<p>The information for each requested <code>AppInstanceUser</code>.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chimesdkidentity#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token passed by previous API calls until all requested users are returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ListAppInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#ListAppInstancesRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#ListAppInstancesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all Amazon Chime <code>AppInstance</code>s created under a single AWS\n         account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/app-instances",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ListAppInstancesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.chimesdkidentity#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of <code>AppInstance</code>s that you want to return.</p>",
            "smithy.api#httpQuery": "max-results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chimesdkidentity#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token passed by previous API requests until you reach the maximum number of\n            <code>AppInstances</code>.</p>",
            "smithy.api#httpQuery": "next-token"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ListAppInstancesResponse": {
      "type": "structure",
      "members": {
        "AppInstances": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceList",
          "traits": {
            "smithy.api#documentation": "<p>The information for each <code>AppInstance</code>.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chimesdkidentity#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token passed by previous API requests until the maximum number of\n            <code>AppInstance</code>s is reached.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags applied to an Amazon Chime SDK identity resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#httpQuery": "arn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.chimesdkidentity#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag key-value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.chimesdkidentity#Metadata": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": ".*",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkidentity#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": ".*",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkidentity#NonEmptyResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkidentity#NonEmptySensitiveString1600": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": ".*",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkidentity#PutAppInstanceRetentionSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#PutAppInstanceRetentionSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#PutAppInstanceRetentionSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sets the amount of time in days that a given <code>AppInstance</code> retains\n         data.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/app-instances/{AppInstanceArn}/retention-settings",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkidentity#PutAppInstanceRetentionSettingsRequest": {
      "type": "structure",
      "members": {
        "AppInstanceArn": {
          "target": "com.amazonaws.chimesdkidentity#ChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstance</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AppInstanceRetentionSettings": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceRetentionSettings",
          "traits": {
            "smithy.api#documentation": "<p>The time in days to retain data. Data type: number.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#PutAppInstanceRetentionSettingsResponse": {
      "type": "structure",
      "members": {
        "AppInstanceRetentionSettings": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceRetentionSettings",
          "traits": {
            "smithy.api#documentation": "<p>The time in days to retain data. Data type: number.</p>"
          }
        },
        "InitiateDeletionTimestamp": {
          "target": "com.amazonaws.chimesdkidentity#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the API deletes data.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#RegisterAppInstanceUserEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkidentity#RegisterAppInstanceUserEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkidentity#RegisterAppInstanceUserEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkidentity#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ConflictException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkidentity#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Registers an endpoint under an Amazon Chime <code>AppInstanceUser</code>. The endpoint receives messages for a user. For push notifications, the endpoint is a mobile device used to receive mobile push notifications for a user.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/app-instance-users/{AppInstanceUserArn}/endpoints",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkidentity#RegisterAppInstanceUserEndpointRequest": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveString1600",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>AppInstanceUserEndpoint</code>.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.chimesdkidentity#AppInstanceUserEndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the <code>AppInstanceUserEndpoint</code>. Supported types:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>APNS</code>: The mobile notification service for an Apple device.</p>\n            </li>\n            <li>\n               <p>\n                  <code>APNS_SANDBOX</code>: The sandbox environment of the mobile notification service for an Apple device.</p>\n            </li>\n            <li>\n               <p>\n                  <code>GCM</code>: The mobile notification service for an Android device.</p>\n            </li>\n         </ul>\n         <p>Populate the <code>ResourceArn</code> value of each type as <code>PinpointAppArn</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource to which the endpoint belongs.</p>",
            "smithy.api#required": {}
          }
        },
        "EndpointAttributes": {
          "target": "com.amazonaws.chimesdkidentity#EndpointAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The attributes of an <code>Endpoint</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkidentity#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for each client request. </p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "AllowMessages": {
          "target": "com.amazonaws.chimesdkidentity#AllowMessages",
          "traits": {
            "smithy.api#documentation": "<p>Boolean that controls whether the AppInstanceUserEndpoint is opted in to receive messages. <code>ALL</code> indicates the endpoint receives all messages. \n         <code>NONE</code> indicates the endpoint receives no messages.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#RegisterAppInstanceUserEndpointResponse": {
      "type": "structure",
      "members": {
        "AppInstanceUserArn": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveChimeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>AppInstanceUser</code>.</p>"
          }
        },
        "EndpointId": {
          "target": "com.amazonaws.chimesdkidentity#SensitiveString64",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the <code>AppInstanceUserEndpoint</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkidentity#ResourceLimitExceededException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkidentity#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkidentity#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request exceeds the resource limit.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chimesdkidentity#ResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkidentity#RetentionDays": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 5475
        }
      }
    },
    "com.amazonaws.chimesdkidentity#SensitiveChimeArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkidentity#SensitiveString1600": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1600
        },
        "smithy.api#pattern": ".*",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkidentity#SensitiveString64": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        },
        "smithy.api#pattern": ".*",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkidentity#ServiceFailureException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkidentity#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkidentity#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The service encountered an unexpected error.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chimesdkidentity#ServiceUnavailableException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkidentity#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkidentity#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The service is currently unavailable.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.chimesdkidentity#String": {
      "type": "string"
    },
    "com.amazonaws.chimesdkidentity#Tag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.chimesdkidentity#TagKey",
          "traits": {
            "smithy.api#documentation": "<p>The key in a tag.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.chimesdkidentity#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The value in a tag.</p>",
[...]
