{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.chimesdkmediapipelines#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^arn[\\/\\:\\-\\_\\.a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^arn[\\/\\:\\-\\_\\.a-zA-Z0-9]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ArtifactsConcatenationConfiguration": {
      "type": "structure",
      "members": {
        "Audio": {
          "target": "com.amazonaws.chimesdkmediapipelines#AudioConcatenationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the audio artifacts concatenation.</p>",
            "smithy.api#required": {}
          }
        },
        "Video": {
          "target": "com.amazonaws.chimesdkmediapipelines#VideoConcatenationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the video artifacts concatenation.</p>",
            "smithy.api#required": {}
          }
        },
        "Content": {
          "target": "com.amazonaws.chimesdkmediapipelines#ContentConcatenationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the content artifacts concatenation.</p>",
            "smithy.api#required": {}
          }
        },
        "DataChannel": {
          "target": "com.amazonaws.chimesdkmediapipelines#DataChannelConcatenationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the data channel artifacts concatenation.</p>",
            "smithy.api#required": {}
          }
        },
        "TranscriptionMessages": {
          "target": "com.amazonaws.chimesdkmediapipelines#TranscriptionMessagesConcatenationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the transcription messages artifacts concatenation.</p>",
            "smithy.api#required": {}
          }
        },
        "MeetingEvents": {
          "target": "com.amazonaws.chimesdkmediapipelines#MeetingEventsConcatenationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the meeting events artifacts concatenation.</p>",
            "smithy.api#required": {}
          }
        },
        "CompositedVideo": {
          "target": "com.amazonaws.chimesdkmediapipelines#CompositedVideoConcatenationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the composited video artifacts concatenation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for the artifacts concatenation.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ArtifactsConcatenationState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Enabled",
            "name": "Enabled"
          },
          {
            "value": "Disabled",
            "name": "Disabled"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ArtifactsConfiguration": {
      "type": "structure",
      "members": {
        "Audio": {
          "target": "com.amazonaws.chimesdkmediapipelines#AudioArtifactsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the audio artifacts.</p>",
            "smithy.api#required": {}
          }
        },
        "Video": {
          "target": "com.amazonaws.chimesdkmediapipelines#VideoArtifactsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the video artifacts.</p>",
            "smithy.api#required": {}
          }
        },
        "Content": {
          "target": "com.amazonaws.chimesdkmediapipelines#ContentArtifactsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the content artifacts.</p>",
            "smithy.api#required": {}
          }
        },
        "CompositedVideo": {
          "target": "com.amazonaws.chimesdkmediapipelines#CompositedVideoArtifactsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Enables video compositing.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for the artifacts.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ArtifactsState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Enabled",
            "name": "Enabled"
          },
          {
            "value": "Disabled",
            "name": "Disabled"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#AttendeeIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmediapipelines#GuidString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#AudioArtifactsConcatenationState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Enabled",
            "name": "Enabled"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#AudioArtifactsConfiguration": {
      "type": "structure",
      "members": {
        "MuxType": {
          "target": "com.amazonaws.chimesdkmediapipelines#AudioMuxType",
          "traits": {
            "smithy.api#documentation": "<p>The MUX type of the audio artifact configuration object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The audio artifact configuration object.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#AudioChannelsOption": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Stereo",
            "name": "Stereo"
          },
          {
            "value": "Mono",
            "name": "Mono"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#AudioConcatenationConfiguration": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.chimesdkmediapipelines#AudioArtifactsConcatenationState",
          "traits": {
            "smithy.api#documentation": "<p>Enables the <i>name</i> object, where <i>name</i> \n         is the name of the configuration object, such as <code>AudioConcatenation</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The audio artifact concatenation configuration object.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#AudioMuxType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AudioOnly",
            "name": "AudioOnly"
          },
          {
            "value": "AudioWithActiveSpeakerVideo",
            "name": "AudioWithActiveSpeakerVideo"
          },
          {
            "value": "AudioWithCompositedVideo",
            "name": "AudioWithCompositedVideo"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#AudioSampleRateOption": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^44100|48000$"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#BadRequestException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmediapipelines#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmediapipelines#String"
        },
        "RequestId": {
          "target": "com.amazonaws.chimesdkmediapipelines#String",
          "traits": {
            "smithy.api#documentation": "<p>The request id associated with the call responsible for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input parameters don't match the service's restrictions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ChimeSDKMediaPipelinesService": {
      "type": "service",
      "version": "2021-07-15",
      "operations": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaCapturePipeline"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaConcatenationPipeline"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaLiveConnectorPipeline"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#DeleteMediaCapturePipeline"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#DeleteMediaPipeline"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#GetMediaCapturePipeline"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#GetMediaPipeline"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ListMediaCapturePipelines"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ListMediaPipelines"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#TagResource"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UntagResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Chime SDK Media Pipelines",
          "arnNamespace": "chime",
          "cloudFormationName": "ChimeSDKMediaPipelines",
          "cloudTrailEventSource": "chimesdkmediapipelines.amazonaws.com",
          "endpointPrefix": "media-pipelines-chime"
        },
        "aws.auth#sigv4": {
          "name": "chime"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>The Amazon Chime SDK media pipeline APIs in this section allow software developers to\n         create Amazon Chime SDK media pipelines that capture, concatenate, or stream your Amazon Chime SDK meetings. For more information about media pipleines, see <a href=\"http://amazonaws.com/chime/latest/APIReference/API_Operations_Amazon_Chime_SDK_Media_Pipelines.html\">Amazon Chime SDK media pipelines</a>. </p>",
        "smithy.api#title": "Amazon Chime SDK Media Pipelines",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://media-pipelines-chime-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://media-pipelines-chime-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://media-pipelines-chime.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://media-pipelines-chime.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://media-pipelines-chime.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ChimeSdkMeetingConcatenationConfiguration": {
      "type": "structure",
      "members": {
        "ArtifactsConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#ArtifactsConcatenationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the artifacts in an Amazon Chime SDK meeting concatenation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration object of the Amazon Chime SDK meeting concatenation for a specified\n         media pipeline.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ChimeSdkMeetingConfiguration": {
      "type": "structure",
      "members": {
        "SourceConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#SourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The source configuration for a specified media pipline.</p>"
          }
        },
        "ArtifactsConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#ArtifactsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the artifacts in an Amazon Chime SDK meeting.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration object of the Amazon Chime SDK meeting for a specified media pipeline. <code>SourceType</code> must be <code>ChimeSdkMeeting</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ChimeSdkMeetingLiveConnectorConfiguration": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.chimesdkmediapipelines#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The configuration object's Chime SDK meeting ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "MuxType": {
          "target": "com.amazonaws.chimesdkmediapipelines#LiveConnectorMuxType",
          "traits": {
            "smithy.api#documentation": "<p>The configuration object's multiplex type.</p>",
            "smithy.api#required": {}
          }
        },
        "CompositedVideo": {
          "target": "com.amazonaws.chimesdkmediapipelines#CompositedVideoArtifactsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The media pipeline's composited video.</p>"
          }
        },
        "SourceConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#SourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The source configuration settings of the media pipeline's configuration object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The media pipeline's configuration object.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        },
        "smithy.api#pattern": "^[-_a-zA-Z0-9]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CompositedVideoArtifactsConfiguration": {
      "type": "structure",
      "members": {
        "Layout": {
          "target": "com.amazonaws.chimesdkmediapipelines#LayoutOption",
          "traits": {
            "smithy.api#documentation": "<p>The layout setting, such as <code>GridView</code> in the configuration object.</p>"
          }
        },
        "Resolution": {
          "target": "com.amazonaws.chimesdkmediapipelines#ResolutionOption",
          "traits": {
            "smithy.api#documentation": "<p>The video resolution setting in the configuration object. Default: HD at 1280 x 720. FHD resolution: 1920 x 1080.</p>"
          }
        },
        "GridViewConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#GridViewConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The <code>GridView</code> configuration setting.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the configuration for the composited video artifacts.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CompositedVideoConcatenationConfiguration": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.chimesdkmediapipelines#ArtifactsConcatenationState",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables the configuration object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The composited video configuration object for a specified\n         media pipeline. <code>SourceType</code> must be\n         <code>ChimeSdkMeeting</code>.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ConcatenationSink": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.chimesdkmediapipelines#ConcatenationSinkType",
          "traits": {
            "smithy.api#documentation": "<p>The type of data sink in the configuration object.</p>",
            "smithy.api#required": {}
          }
        },
        "S3BucketSinkConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#S3BucketSinkConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings for an Amazon S3 bucket sink.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data sink of the configuration object.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ConcatenationSinkList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmediapipelines#ConcatenationSink"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ConcatenationSinkType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "S3Bucket",
            "name": "S3Bucket"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ConcatenationSource": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.chimesdkmediapipelines#ConcatenationSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of concatenation source in a configuration object.</p>",
            "smithy.api#required": {}
          }
        },
        "MediaCapturePipelineSourceConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaCapturePipelineSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The concatenation settings for the media pipeline in a configuration object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The source type and media pipeline configuration settings in a configuration object.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ConcatenationSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmediapipelines#ConcatenationSource"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ConcatenationSourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MediaCapturePipeline",
            "name": "MediaCapturePipeline"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ContentArtifactsConfiguration": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.chimesdkmediapipelines#ArtifactsState",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the content artifact is enabled or disabled.</p>",
            "smithy.api#required": {}
          }
        },
        "MuxType": {
          "target": "com.amazonaws.chimesdkmediapipelines#ContentMuxType",
          "traits": {
            "smithy.api#documentation": "<p>The MUX type of the artifact configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The content artifact object.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ContentConcatenationConfiguration": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.chimesdkmediapipelines#ArtifactsConcatenationState",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables the configuration object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The composited content configuration object for a specified\n         media pipeline. </p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ContentMuxType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ContentOnly",
            "name": "ContentOnly"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ContentShareLayoutOption": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PresenterOnly",
            "name": "PresenterOnly"
          },
          {
            "value": "Horizontal",
            "name": "Horizontal"
          },
          {
            "value": "Vertical",
            "name": "Vertical"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaCapturePipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaCapturePipelineRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaCapturePipelineResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a media pipeline.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sdk-media-capture-pipelines",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaCapturePipelineRequest": {
      "type": "structure",
      "members": {
        "SourceType": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaPipelineSourceType",
          "traits": {
            "smithy.api#documentation": "<p>Source type from which the media artifacts are captured. A Chime SDK Meeting is the only\n         supported source.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.chimesdkmediapipelines#Arn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the source from which the media artifacts are captured.</p>",
            "smithy.api#required": {}
          }
        },
        "SinkType": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaPipelineSinkType",
          "traits": {
            "smithy.api#documentation": "<p>Destination type to which the media artifacts are saved. You must use an S3 bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "SinkArn": {
          "target": "com.amazonaws.chimesdkmediapipelines#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the sink type.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkmediapipelines#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the client request. The token makes the API request idempotent. Use a unique token for each media pipeline request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "ChimeSdkMeetingConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#ChimeSdkMeetingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for a specified media pipeline. <code>SourceType</code> must\n         be <code>ChimeSdkMeeting</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkmediapipelines#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag key-value pairs.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaCapturePipelineResponse": {
      "type": "structure",
      "members": {
        "MediaCapturePipeline": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaCapturePipeline",
          "traits": {
            "smithy.api#documentation": "<p>A media pipeline object, the ID, source type, source ARN, sink type, and sink\n         ARN of a media pipeline object.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaConcatenationPipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaConcatenationPipelineRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaConcatenationPipelineResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a media concatenation pipeline.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sdk-media-concatenation-pipelines",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaConcatenationPipelineRequest": {
      "type": "structure",
      "members": {
        "Sources": {
          "target": "com.amazonaws.chimesdkmediapipelines#ConcatenationSourceList",
          "traits": {
            "smithy.api#documentation": "<p>An object that specifies the sources for the media concatenation pipeline.</p>",
            "smithy.api#required": {}
          }
        },
        "Sinks": {
          "target": "com.amazonaws.chimesdkmediapipelines#ConcatenationSinkList",
          "traits": {
            "smithy.api#documentation": "<p>An object that specifies the data sinks for the media concatenation pipeline.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkmediapipelines#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the client request. The token makes the API request\n         idempotent. Use a unique token for each media concatenation pipeline request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkmediapipelines#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the media concatenation pipeline.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaConcatenationPipelineResponse": {
      "type": "structure",
      "members": {
        "MediaConcatenationPipeline": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaConcatenationPipeline",
          "traits": {
            "smithy.api#documentation": "<p>A media concatenation pipeline object, the ID, source type, <code>MediaPipelineARN</code>, and sink of a\n         media concatenation pipeline object.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaLiveConnectorPipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaLiveConnectorPipelineRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmediapipelines#CreateMediaLiveConnectorPipelineResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a streaming media pipeline in an Amazon Chime SDK meeting.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sdk-media-live-connector-pipelines",
          "code": 201
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaLiveConnectorPipelineRequest": {
      "type": "structure",
      "members": {
        "Sources": {
          "target": "com.amazonaws.chimesdkmediapipelines#LiveConnectorSourceList",
          "traits": {
            "smithy.api#documentation": "<p>The media pipeline's data sources.</p>",
            "smithy.api#required": {}
          }
        },
        "Sinks": {
          "target": "com.amazonaws.chimesdkmediapipelines#LiveConnectorSinkList",
          "traits": {
            "smithy.api#documentation": "<p>The media pipeline's data sinks.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.chimesdkmediapipelines#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The token assigned to the client making the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkmediapipelines#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the media pipeline.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#CreateMediaLiveConnectorPipelineResponse": {
      "type": "structure",
      "members": {
        "MediaLiveConnectorPipeline": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaLiveConnectorPipeline",
          "traits": {
            "smithy.api#documentation": "<p>The new media pipeline.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#DataChannelConcatenationConfiguration": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.chimesdkmediapipelines#ArtifactsConcatenationState",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables the configuration object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The content configuration object's data channel.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#DeleteMediaCapturePipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmediapipelines#DeleteMediaCapturePipelineRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the media pipeline.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/sdk-media-capture-pipelines/{MediaPipelineId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#DeleteMediaCapturePipelineRequest": {
      "type": "structure",
      "members": {
        "MediaPipelineId": {
          "target": "com.amazonaws.chimesdkmediapipelines#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the media pipeline being deleted. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#DeleteMediaPipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmediapipelines#DeleteMediaPipelineRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the media pipeline.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/sdk-media-pipelines/{MediaPipelineId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#DeleteMediaPipelineRequest": {
      "type": "structure",
      "members": {
        "MediaPipelineId": {
          "target": "com.amazonaws.chimesdkmediapipelines#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the media pipeline to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BadRequest",
            "name": "BadRequest"
          },
          {
            "value": "Forbidden",
            "name": "Forbidden"
          },
          {
            "value": "NotFound",
            "name": "NotFound"
          },
          {
            "value": "ResourceLimitExceeded",
            "name": "ResourceLimitExceeded"
          },
          {
            "value": "ServiceFailure",
            "name": "ServiceFailure"
          },
          {
            "value": "ServiceUnavailable",
            "name": "ServiceUnavailable"
          },
          {
            "value": "Throttling",
            "name": "Throttling"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ExternalUserIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmediapipelines#ExternalUserIdType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ExternalUserIdType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 64
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ForbiddenException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmediapipelines#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmediapipelines#String"
        },
        "RequestId": {
          "target": "com.amazonaws.chimesdkmediapipelines#String",
          "traits": {
            "smithy.api#documentation": "<p>The request id associated with the call responsible for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The client is permanently forbidden from making the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.chimesdkmediapipelines#GetMediaCapturePipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmediapipelines#GetMediaCapturePipelineRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmediapipelines#GetMediaCapturePipelineResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets an existing media pipeline.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sdk-media-capture-pipelines/{MediaPipelineId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#GetMediaCapturePipelineRequest": {
      "type": "structure",
      "members": {
        "MediaPipelineId": {
          "target": "com.amazonaws.chimesdkmediapipelines#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pipeline that you want to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#GetMediaCapturePipelineResponse": {
      "type": "structure",
      "members": {
        "MediaCapturePipeline": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaCapturePipeline",
          "traits": {
            "smithy.api#documentation": "<p>The media pipeline object.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#GetMediaPipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmediapipelines#GetMediaPipelineRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmediapipelines#GetMediaPipelineResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets an existing media pipeline.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sdk-media-pipelines/{MediaPipelineId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#GetMediaPipelineRequest": {
      "type": "structure",
      "members": {
        "MediaPipelineId": {
          "target": "com.amazonaws.chimesdkmediapipelines#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pipeline that you want to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#GetMediaPipelineResponse": {
      "type": "structure",
      "members": {
        "MediaPipeline": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaPipeline",
          "traits": {
            "smithy.api#documentation": "<p>The media pipeline object.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#GridViewConfiguration": {
      "type": "structure",
      "members": {
        "ContentShareLayout": {
          "target": "com.amazonaws.chimesdkmediapipelines#ContentShareLayoutOption",
          "traits": {
            "smithy.api#documentation": "<p>Defines the layout of the video tiles when content sharing is enabled.</p>",
            "smithy.api#required": {}
          }
        },
        "PresenterOnlyConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#PresenterOnlyConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Defines the configuration options for a presenter only video tile.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the type of grid layout.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#GuidString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "^[a-fA-F0-9]{8}(?:-[a-fA-F0-9]{4}){3}-[a-fA-F0-9]{12}$"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#Iso8601Timestamp": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#LayoutOption": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "GridView",
            "name": "GridView"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ListMediaCapturePipelines": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmediapipelines#ListMediaCapturePipelinesRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmediapipelines#ListMediaCapturePipelinesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of media pipelines.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sdk-media-capture-pipelines",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ListMediaCapturePipelinesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.chimesdkmediapipelines#String",
          "traits": {
            "smithy.api#documentation": "<p>The token used to retrieve the next page of results.</p>",
            "smithy.api#httpQuery": "next-token"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.chimesdkmediapipelines#ResultMax",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call. Valid Range: 1 - 99.</p>",
            "smithy.api#httpQuery": "max-results"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ListMediaCapturePipelinesResponse": {
      "type": "structure",
      "members": {
        "MediaCapturePipelines": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaCapturePipelineSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The media pipeline objects in the list.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chimesdkmediapipelines#String",
          "traits": {
            "smithy.api#documentation": "<p>The token used to retrieve the next page of results. </p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ListMediaPipelines": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmediapipelines#ListMediaPipelinesRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmediapipelines#ListMediaPipelinesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of media pipelines.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sdk-media-pipelines",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ListMediaPipelinesRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.chimesdkmediapipelines#String",
          "traits": {
            "smithy.api#documentation": "<p>The token used to retrieve the next page of results.</p>",
            "smithy.api#httpQuery": "next-token"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.chimesdkmediapipelines#ResultMax",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call. Valid Range: 1 - 99.</p>",
            "smithy.api#httpQuery": "max-results"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ListMediaPipelinesResponse": {
      "type": "structure",
      "members": {
        "MediaPipelines": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaPipelineList",
          "traits": {
            "smithy.api#documentation": "<p>The media pipeline objects in the list.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.chimesdkmediapipelines#String",
          "traits": {
            "smithy.api#documentation": "<p>The token used to retrieve the next page of results. </p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmediapipelines#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmediapipelines#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags available for a media pipeline.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags",
          "code": 200
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.chimesdkmediapipelines#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the media pipeline associated with any tags. The ARN consists of the pipeline's region, resource ID, and pipeline ID.</p>",
            "smithy.api#httpQuery": "arn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.chimesdkmediapipelines#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the specified media pipeline.</p>"
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#LiveConnectorMuxType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AudioWithCompositedVideo",
            "name": "AudioWithCompositedVideo"
          },
          {
            "value": "AudioWithActiveSpeakerVideo",
            "name": "AudioWithActiveSpeakerVideo"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#LiveConnectorRTMPConfiguration": {
      "type": "structure",
      "members": {
        "Url": {
          "target": "com.amazonaws.chimesdkmediapipelines#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the RTMP configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "AudioChannels": {
          "target": "com.amazonaws.chimesdkmediapipelines#AudioChannelsOption",
          "traits": {
            "smithy.api#documentation": "<p>The audio channels set for the RTMP configuration</p>"
          }
        },
        "AudioSampleRate": {
          "target": "com.amazonaws.chimesdkmediapipelines#AudioSampleRateOption",
          "traits": {
            "smithy.api#documentation": "<p>The audio sample rate set for the RTMP configuration. Default: 48000.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The media pipeline's RTMP configuration object.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#LiveConnectorSinkConfiguration": {
      "type": "structure",
      "members": {
        "SinkType": {
          "target": "com.amazonaws.chimesdkmediapipelines#LiveConnectorSinkType",
          "traits": {
            "smithy.api#documentation": "<p>The sink configuration's sink type.</p>",
            "smithy.api#required": {}
          }
        },
        "RTMPConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#LiveConnectorRTMPConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The sink configuration's RTMP configuration setttings.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The media pipeline's sink configuration settings.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#LiveConnectorSinkList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmediapipelines#LiveConnectorSinkConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#LiveConnectorSinkType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RTMP",
            "name": "RTMP"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#LiveConnectorSourceConfiguration": {
      "type": "structure",
      "members": {
        "SourceType": {
          "target": "com.amazonaws.chimesdkmediapipelines#LiveConnectorSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The source configuration's media source type.</p>",
            "smithy.api#required": {}
          }
        },
        "ChimeSdkMeetingLiveConnectorConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#ChimeSdkMeetingLiveConnectorConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings of the connector pipeline.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data source configuration object of a streaming media pipeline.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#LiveConnectorSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmediapipelines#LiveConnectorSourceConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#LiveConnectorSourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ChimeSdkMeeting",
            "name": "ChimeSdkMeeting"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#MediaCapturePipeline": {
      "type": "structure",
      "members": {
        "MediaPipelineId": {
          "target": "com.amazonaws.chimesdkmediapipelines#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a media pipeline.</p>"
          }
        },
        "MediaPipelineArn": {
          "target": "com.amazonaws.chimesdkmediapipelines#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the media capture pipeline</p>"
          }
        },
        "SourceType": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaPipelineSourceType",
          "traits": {
            "smithy.api#documentation": "<p>Source type from which media artifacts are saved. You must use\n         <code>ChimeMeeting</code>.</p>"
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.chimesdkmediapipelines#Arn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the source from which the media artifacts are saved.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaPipelineStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the media pipeline.</p>"
          }
        },
        "SinkType": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaPipelineSinkType",
          "traits": {
            "smithy.api#documentation": "<p>Destination type to which the media artifacts are saved. You must use an S3\n         Bucket.</p>"
          }
        },
        "SinkArn": {
          "target": "com.amazonaws.chimesdkmediapipelines#Arn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the destination to which the media artifacts are saved.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkmediapipelines#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the pipeline was created, in ISO 8601 format.</p>"
          }
        },
        "UpdatedTimestamp": {
          "target": "com.amazonaws.chimesdkmediapipelines#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the pipeline was updated, in ISO 8601 format.</p>"
          }
        },
        "ChimeSdkMeetingConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#ChimeSdkMeetingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for a specified media pipeline. <code>SourceType</code> must\n         be <code>ChimeSdkMeeting</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A media pipeline object consisting of an ID, source type, source ARN, a sink\n         type, a sink ARN, and a configuration object.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#MediaCapturePipelineSourceConfiguration": {
      "type": "structure",
      "members": {
        "MediaPipelineArn": {
          "target": "com.amazonaws.chimesdkmediapipelines#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The media pipeline ARN in the configuration object of a media capture pipeline.</p>",
            "smithy.api#required": {}
          }
        },
        "ChimeSdkMeetingConfiguration": {
          "target": "com.amazonaws.chimesdkmediapipelines#ChimeSdkMeetingConcatenationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The meeting configuration settings in a media capture pipeline configuration object. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The source configuration object of a media capture pipeline.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#MediaCapturePipelineSummary": {
      "type": "structure",
      "members": {
        "MediaPipelineId": {
          "target": "com.amazonaws.chimesdkmediapipelines#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the media pipeline in the summary.</p>"
          }
        },
        "MediaPipelineArn": {
          "target": "com.amazonaws.chimesdkmediapipelines#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the media pipeline in the summary.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary data of a media capture pipeline.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#MediaCapturePipelineSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmediapipelines#MediaCapturePipelineSummary"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#MediaConcatenationPipeline": {
      "type": "structure",
      "members": {
        "MediaPipelineId": {
          "target": "com.amazonaws.chimesdkmediapipelines#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the media pipeline being concatenated.</p>"
          }
        },
        "MediaPipelineArn": {
          "target": "com.amazonaws.chimesdkmediapipelines#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the media pipeline that you specify in the <code>SourceConfiguration</code> object.</p>"
          }
        },
        "Sources": {
          "target": "com.amazonaws.chimesdkmediapipelines#ConcatenationSourceList",
          "traits": {
            "smithy.api#documentation": "<p>The data sources being concatnated.</p>"
          }
        },
        "Sinks": {
          "target": "com.amazonaws.chimesdkmediapipelines#ConcatenationSinkList",
          "traits": {
            "smithy.api#documentation": "<p>The data sinks of the concatenation pipeline.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaPipelineStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the concatenation pipeline.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkmediapipelines#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the concatenation pipeline was created.</p>"
          }
        },
        "UpdatedTimestamp": {
          "target": "com.amazonaws.chimesdkmediapipelines#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the concatenation pipeline was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Concatenates audio and video data from one or more data streams.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#MediaLiveConnectorPipeline": {
      "type": "structure",
      "members": {
        "Sources": {
          "target": "com.amazonaws.chimesdkmediapipelines#LiveConnectorSourceList",
          "traits": {
            "smithy.api#documentation": "<p>The connector pipeline's data sources.</p>"
          }
        },
        "Sinks": {
          "target": "com.amazonaws.chimesdkmediapipelines#LiveConnectorSinkList",
          "traits": {
            "smithy.api#documentation": "<p>The connector pipeline's data sinks.</p>"
          }
        },
        "MediaPipelineId": {
          "target": "com.amazonaws.chimesdkmediapipelines#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The connector pipeline's ID.</p>"
          }
        },
        "MediaPipelineArn": {
          "target": "com.amazonaws.chimesdkmediapipelines#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The connector pipeline's ARN.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaPipelineStatus",
          "traits": {
            "smithy.api#documentation": "<p>The connector pipeline's status.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "com.amazonaws.chimesdkmediapipelines#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Thetime at which the connector pipeline was created.</p>"
          }
        },
        "UpdatedTimestamp": {
          "target": "com.amazonaws.chimesdkmediapipelines#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the connector pipeline was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The connector pipeline.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#MediaPipeline": {
      "type": "structure",
      "members": {
        "MediaCapturePipeline": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaCapturePipeline",
          "traits": {
            "smithy.api#documentation": "<p>A pipeline that enables users to capture audio and video.</p>"
          }
        },
        "MediaLiveConnectorPipeline": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaLiveConnectorPipeline",
          "traits": {
            "smithy.api#documentation": "<p>The connector pipeline of the media pipeline.</p>"
          }
        },
        "MediaConcatenationPipeline": {
          "target": "com.amazonaws.chimesdkmediapipelines#MediaConcatenationPipeline",
          "traits": {
            "smithy.api#documentation": "<p>The media concatenation pipeline in a media pipeline.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A pipeline consisting of a media capture, media concatenation, or live-streaming pipeline.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#MediaPipelineList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmediapipelines#MediaPipelineSummary"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#MediaPipelineSinkType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "S3Bucket",
            "name": "S3Bucket"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#MediaPipelineSourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ChimeSdkMeeting",
            "name": "ChimeSdkMeeting"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#MediaPipelineStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Initializing",
            "name": "Initializing"
          },
          {
            "value": "InProgress",
            "name": "InProgress"
          },
          {
            "value": "Failed",
            "name": "Failed"
          },
          {
            "value": "Stopping",
            "name": "Stopping"
          },
          {
            "value": "Stopped",
            "name": "Stopped"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#MediaPipelineSummary": {
      "type": "structure",
      "members": {
        "MediaPipelineId": {
          "target": "com.amazonaws.chimesdkmediapipelines#GuidString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the media pipeline in the summary.</p>"
          }
        },
        "MediaPipelineArn": {
          "target": "com.amazonaws.chimesdkmediapipelines#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the media pipeline in the summary.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary of the media pipeline.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#MeetingEventsConcatenationConfiguration": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.chimesdkmediapipelines#ArtifactsConcatenationState",
          "traits": {
            "smithy.api#documentation": "<p>Enables or disables the configuration object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration object for an event concatenation pipeline.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#NotFoundException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmediapipelines#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmediapipelines#String"
        },
        "RequestId": {
          "target": "com.amazonaws.chimesdkmediapipelines#String",
          "traits": {
            "smithy.api#documentation": "<p>The request id associated with the call responsible for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more of the resources in the request does not exist in the system.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.chimesdkmediapipelines#PresenterOnlyConfiguration": {
      "type": "structure",
      "members": {
        "PresenterPosition": {
          "target": "com.amazonaws.chimesdkmediapipelines#PresenterPosition",
          "traits": {
            "smithy.api#documentation": "<p>Defines the position of the presenter video tile. Default: <code>TopRight</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the configuration for a presenter only video tile.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#PresenterPosition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TopLeft",
            "name": "TopLeft"
          },
          {
            "value": "TopRight",
            "name": "TopRight"
          },
          {
            "value": "BottomLeft",
            "name": "BottomLeft"
          },
          {
            "value": "BottomRight",
            "name": "BottomRight"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ResolutionOption": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "HD",
            "name": "HD"
          },
          {
            "value": "FHD",
            "name": "FHD"
          }
        ]
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ResourceLimitExceededException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmediapipelines#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmediapipelines#String"
        },
        "RequestId": {
          "target": "com.amazonaws.chimesdkmediapipelines#String",
          "traits": {
            "smithy.api#documentation": "<p>The request id associated with the call responsible for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request exceeds the resource limit.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ResultMax": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#S3BucketSinkConfiguration": {
      "type": "structure",
      "members": {
        "Destination": {
          "target": "com.amazonaws.chimesdkmediapipelines#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The destination URL of the S3 bucket.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration settings for the S3 bucket.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#SelectedVideoStreams": {
      "type": "structure",
      "members": {
        "AttendeeIds": {
          "target": "com.amazonaws.chimesdkmediapipelines#AttendeeIdList",
          "traits": {
            "smithy.api#documentation": "<p>The attendee IDs of the streams selected for a media pipeline. </p>"
          }
        },
        "ExternalUserIds": {
          "target": "com.amazonaws.chimesdkmediapipelines#ExternalUserIdList",
          "traits": {
            "smithy.api#documentation": "<p>The external user IDs of the streams selected for a media pipeline.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The video streams for a specified media pipeline. The total number of\n         video streams can't exceed 25.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#SensitiveString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ServiceFailureException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmediapipelines#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmediapipelines#String"
        },
        "RequestId": {
          "target": "com.amazonaws.chimesdkmediapipelines#String",
          "traits": {
            "smithy.api#documentation": "<p>The request id associated with the call responsible for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The service encountered an unexpected error.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmediapipelines#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmediapipelines#String"
        },
        "RequestId": {
          "target": "com.amazonaws.chimesdkmediapipelines#String",
          "traits": {
            "smithy.api#documentation": "<p>The request id associated with the call responsible for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The service is currently unavailable.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.chimesdkmediapipelines#SourceConfiguration": {
      "type": "structure",
      "members": {
        "SelectedVideoStreams": {
          "target": "com.amazonaws.chimesdkmediapipelines#SelectedVideoStreams",
          "traits": {
            "smithy.api#documentation": "<p>The selected video streams for a specified media pipeline. The number\n         of video streams can't exceed 25.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Source configuration for a specified media pipeline.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#String": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#Tag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.chimesdkmediapipelines#TagKey",
          "traits": {
            "smithy.api#documentation": "<p>The key half of a tag.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.chimesdkmediapipelines#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The value half of a tag.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A key/value pair that grants users access to meeting resources.</p>"
      }
    },
    "com.amazonaws.chimesdkmediapipelines#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmediapipelines#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#TagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.chimesdkmediapipelines#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.chimesdkmediapipelines#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.chimesdkmediapipelines#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.chimesdkmediapipelines#BadRequestException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ForbiddenException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#NotFoundException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#ThrottledClientException"
        },
        {
          "target": "com.amazonaws.chimesdkmediapipelines#UnauthorizedClientException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The ARN of the media pipeline that you want to tag. Consists of he pipeline's endpoint region, resource ID, and pipeline ID.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags?operation=tag-resource",
          "code": 204
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.chimesdkmediapipelines#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the media pipeline associated with any tags. The ARN consists of the pipeline's endpoint region, resource ID, and pipeline ID.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.chimesdkmediapipelines#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the specified media pipeline.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#TagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.chimesdkmediapipelines#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.chimesdkmediapipelines#ThrottledClientException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.chimesdkmediapipelines#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.chimesdkmediapipelines#String"
        },
[...]
