{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.cleanrooms#AWSBastionControlPlaneServiceLambda": {
      "type": "service",
      "version": "2022-02-17",
      "operations": [
        {
          "target": "com.amazonaws.cleanrooms#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.cleanrooms#TagResource"
        },
        {
          "target": "com.amazonaws.cleanrooms#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.cleanrooms#AnalysisTemplateResource"
        },
        {
          "target": "com.amazonaws.cleanrooms#CollaborationResource"
        },
        {
          "target": "com.amazonaws.cleanrooms#ConfiguredAudienceModelAssociationResource"
        },
        {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableAssociationResource"
        },
        {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableResource"
        },
        {
          "target": "com.amazonaws.cleanrooms#MembershipResource"
        },
        {
          "target": "com.amazonaws.cleanrooms#PrivacyBudgetTemplateResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CleanRooms",
          "arnNamespace": "cleanrooms",
          "cloudTrailEventSource": "cleanrooms.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "cleanrooms"
        },
        "aws.iam#supportedPrincipalTypes": ["Root", "IAMUser", "IAMRole", "FederatedUser"],
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-user-agent",
            "x-amzn-platform-id",
            "x-amzn-trace-id"
          ],
          "additionalExposedHeaders": ["x-amzn-errortype", "x-amzn-requestid", "x-amzn-trace-id"],
          "maxAge": 86400
        },
        "smithy.api#documentation": "<p>Welcome to the <i>Clean Rooms API Reference</i>.</p>\n         <p>Clean Rooms is an Amazon Web Services service that helps multiple parties to join\n         their data together in a secure collaboration workspace. In the collaboration, members who\n         can query and receive results can get insights into the collective datasets without either\n         party getting access to the other party's raw data.</p>\n         <p>To learn more about Clean Rooms concepts, procedures, and best practices, see the\n            <a href=\"https://docs.aws.amazon.com/clean-rooms/latest/userguide/what-is.html\">Clean Rooms User Guide</a>.</p>\n         <p>To learn more about SQL commands, functions, and conditions supported in Clean Rooms, see the\n            <a href=\"https://docs.aws.amazon.com/clean-rooms/latest/sql-reference/sql-reference.html\">Clean Rooms SQL Reference</a>.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        },
        "smithy.api#title": "AWS Clean Rooms Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://cleanrooms-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://cleanrooms-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://cleanrooms.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cleanrooms.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.cleanrooms#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "reason": {
          "target": "com.amazonaws.cleanrooms#AccessDeniedExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>A reason code for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Caller does not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.cleanrooms#AccessDeniedExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INSUFFICIENT_PERMISSIONS",
            "name": "INSUFFICIENT_PERMISSIONS"
          }
        ]
      }
    },
    "com.amazonaws.cleanrooms#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d+$"
      }
    },
    "com.amazonaws.cleanrooms#AggregateColumn": {
      "type": "structure",
      "members": {
        "columnNames": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnNameList",
          "traits": {
            "smithy.api#documentation": "<p>Column names in configured table of aggregate columns.</p>",
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "function": {
          "target": "com.amazonaws.cleanrooms#AggregateFunctionName",
          "traits": {
            "smithy.api#documentation": "<p>Aggregation function that can be applied to aggregate column in query.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Column in configured table that can be used in aggregate function in query.</p>"
      }
    },
    "com.amazonaws.cleanrooms#AggregateColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#AggregateColumn"
      }
    },
    "com.amazonaws.cleanrooms#AggregateFunctionName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "SUM",
            "value": "SUM"
          },
          {
            "name": "SUM_DISTINCT",
            "value": "SUM_DISTINCT"
          },
          {
            "name": "COUNT",
            "value": "COUNT"
          },
          {
            "name": "COUNT_DISTINCT",
            "value": "COUNT_DISTINCT"
          },
          {
            "name": "AVG",
            "value": "AVG"
          }
        ]
      }
    },
    "com.amazonaws.cleanrooms#AggregationConstraint": {
      "type": "structure",
      "members": {
        "columnName": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnName",
          "traits": {
            "smithy.api#documentation": "<p>Column in aggregation constraint for which there must be a minimum number of distinct\n         values in an output row for it to be in the query output.</p>",
            "smithy.api#required": {}
          }
        },
        "minimum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of distinct values that an output row must be an aggregation of.\n         Minimum threshold of distinct values for a specified column that must exist in an output\n         row for it to be in the query output.</p>",
            "smithy.api#range": {
              "min": 2,
              "max": 100000
            },
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.cleanrooms#AggregationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of aggregation the constraint allows. The only valid value is currently\n         `COUNT_DISTINCT`.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Constraint on query output removing output rows that do not meet a minimum number of\n         distinct values of a specified column.</p>"
      }
    },
    "com.amazonaws.cleanrooms#AggregationConstraints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#AggregationConstraint"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.cleanrooms#AggregationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "COUNT_DISTINCT",
            "value": "COUNT_DISTINCT"
          }
        ]
      }
    },
    "com.amazonaws.cleanrooms#AllowedAnalysesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#AnalysisTemplateArnOrQueryWildcard"
      }
    },
    "com.amazonaws.cleanrooms#AllowedAnalysisProviderList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#AccountId"
      }
    },
    "com.amazonaws.cleanrooms#AllowedColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#ColumnName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 225
        }
      }
    },
    "com.amazonaws.cleanrooms#AnalysisFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "SQL",
            "value": "SQL"
          }
        ]
      }
    },
    "com.amazonaws.cleanrooms#AnalysisMethod": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "DIRECT_QUERY",
            "value": "DIRECT_QUERY"
          }
        ]
      }
    },
    "com.amazonaws.cleanrooms#AnalysisParameter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.cleanrooms#ParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter. The name must use only alphanumeric, underscore (_), or\n         hyphen (-) characters but cannot start or end with a hyphen.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.cleanrooms#ParameterType",
          "traits": {
            "smithy.api#documentation": "<p>The type of parameter.</p>",
            "smithy.api#required": {}
          }
        },
        "defaultValue": {
          "target": "com.amazonaws.cleanrooms#ParameterValue",
          "traits": {
            "smithy.api#documentation": "<p>Optional. The default value that is applied in the analysis template. The member who can\n         query can override this value in the query editor.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Optional. The member who can query can provide this placeholder for a literal data value\n         in an analysis template.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.cleanrooms#AnalysisParameterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#AnalysisParameter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRule": {
      "type": "structure",
      "members": {
        "collaborationId": {
          "target": "com.amazonaws.cleanrooms#CollaborationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the associated collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleType",
          "traits": {
            "smithy.api#documentation": "<p>The type of analysis rule.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanrooms#TableAlias",
          "traits": {
            "smithy.api#documentation": "<p>The name for the analysis rule.</p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the analysis rule was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the analysis rule was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "com.amazonaws.cleanrooms#AnalysisRulePolicy",
          "traits": {
            "smithy.api#documentation": "<p>A policy that describes the associated data usage limitations.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A specification about how data from the configured table can be used in a query.</p>"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRuleAggregation": {
      "type": "structure",
      "members": {
        "aggregateColumns": {
          "target": "com.amazonaws.cleanrooms#AggregateColumnList",
          "traits": {
            "smithy.api#documentation": "<p>The columns that query runners are allowed to use in aggregation queries.</p>",
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "joinColumns": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnList",
          "traits": {
            "smithy.api#documentation": "<p>Columns in configured table that can be used in join statements and/or as aggregate\n         columns. They can never be outputted directly.</p>",
            "smithy.api#required": {}
          }
        },
        "joinRequired": {
          "target": "com.amazonaws.cleanrooms#JoinRequiredOption",
          "traits": {
            "smithy.api#documentation": "<p>Control that requires member who runs query to do a join with their configured table\n         and/or other configured table in query.</p>"
          }
        },
        "allowedJoinOperators": {
          "target": "com.amazonaws.cleanrooms#JoinOperatorsList",
          "traits": {
            "smithy.api#documentation": "<p>Which logical operators (if any) are to be used in an INNER JOIN match condition.\n         Default is <code>AND</code>.</p>"
          }
        },
        "dimensionColumns": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnList",
          "traits": {
            "smithy.api#documentation": "<p>The columns that query runners are allowed to select, group by, or filter by.</p>",
            "smithy.api#required": {}
          }
        },
        "scalarFunctions": {
          "target": "com.amazonaws.cleanrooms#ScalarFunctionsList",
          "traits": {
            "smithy.api#documentation": "<p>Set of scalar functions that are allowed to be used on dimension columns and the output\n         of aggregation of metrics.</p>",
            "smithy.api#required": {}
          }
        },
        "outputConstraints": {
          "target": "com.amazonaws.cleanrooms#AggregationConstraints",
          "traits": {
            "smithy.api#documentation": "<p>Columns that must meet a specific threshold value (after an aggregation function is\n         applied to it) for each output row to be returned.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A type of analysis rule that enables query structure and specified queries that produce\n         aggregate statistics.</p>"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRuleColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnName"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRuleColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 127
        },
        "smithy.api#pattern": "^[a-z0-9_](([a-z0-9_ ]+-)*([a-z0-9_ ]+))?$"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRuleColumnNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnName"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRuleCustom": {
      "type": "structure",
      "members": {
        "allowedAnalyses": {
          "target": "com.amazonaws.cleanrooms#AllowedAnalysesList",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the analysis templates that are allowed by the custom analysis rule.</p>",
            "smithy.api#length": {
              "min": 0
            },
            "smithy.api#required": {}
          }
        },
        "allowedAnalysisProviders": {
          "target": "com.amazonaws.cleanrooms#AllowedAnalysisProviderList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the Amazon Web Services accounts that are allowed to query by the custom analysis rule. Required when\n            <code>allowedAnalyses</code> is <code>ANY_QUERY</code>.</p>",
            "smithy.api#length": {
              "min": 0
            }
          }
        },
        "differentialPrivacy": {
          "target": "com.amazonaws.cleanrooms#DifferentialPrivacyConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The differential privacy configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A type of analysis rule that enables the table owner to approve custom SQL queries on\n         their configured tables. It supports differential privacy.</p>"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRuleList": {
      "type": "structure",
      "members": {
        "joinColumns": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnList",
          "traits": {
            "smithy.api#documentation": "<p>Columns that can be used to join a configured table with the table of the member who can\n         query and other members' configured tables.</p>",
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "allowedJoinOperators": {
          "target": "com.amazonaws.cleanrooms#JoinOperatorsList",
          "traits": {
            "smithy.api#documentation": "<p>The logical operators (if any) that are to be used in an INNER JOIN match condition.\n         Default is <code>AND</code>.</p>"
          }
        },
        "listColumns": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnList",
          "traits": {
            "smithy.api#documentation": "<p>Columns that can be listed in the output.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A type of analysis rule that enables row-level analysis.</p>"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRulePolicy": {
      "type": "union",
      "members": {
        "v1": {
          "target": "com.amazonaws.cleanrooms#AnalysisRulePolicyV1",
          "traits": {
            "smithy.api#documentation": "<p>Controls on the query specifications that can be run on configured table.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Controls on the query specifications that can be run on configured table.</p>"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRulePolicyV1": {
      "type": "union",
      "members": {
        "list": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleList",
          "traits": {
            "smithy.api#documentation": "<p>Analysis rule type that enables only list queries on a configured table.</p>"
          }
        },
        "aggregation": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleAggregation",
          "traits": {
            "smithy.api#documentation": "<p>Analysis rule type that enables only aggregation queries on a configured table.</p>"
          }
        },
        "custom": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleCustom",
          "traits": {
            "smithy.api#documentation": "<p>Analysis rule type that enables custom SQL queries on a configured table.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Controls on the query specifications that can be run on configured table.</p>"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRuleType": {
      "type": "enum",
      "members": {
        "AGGREGATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATION"
          }
        },
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIST"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRuleTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#AnalysisRuleType"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisSchema": {
      "type": "structure",
      "members": {
        "referencedTables": {
          "target": "com.amazonaws.cleanrooms#QueryTables",
          "traits": {
            "smithy.api#documentation": "<p>The tables referenced in the analysis schema.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A relation within an analysis.</p>"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisSource": {
      "type": "union",
      "members": {
        "text": {
          "target": "com.amazonaws.cleanrooms#AnalysisTemplateText",
          "traits": {
            "smithy.api#documentation": "<p>The query text.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure that defines the body of the analysis template.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.cleanrooms#AnalysisTemplate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.cleanrooms#AnalysisTemplateIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the analysis template.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "AnalysisTemplateId"
          }
        },
        "arn": {
          "target": "com.amazonaws.cleanrooms#AnalysisTemplateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the analysis template.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationId": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the associated collaboration of the analysis template.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationArn": {
          "target": "com.amazonaws.cleanrooms#CollaborationArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN for the analysis template’s associated collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "membershipId": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of a member who created the analysis template.</p>",
            "smithy.api#required": {}
          }
        },
        "membershipArn": {
          "target": "com.amazonaws.cleanrooms#MembershipArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the member who created the analysis template.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanrooms#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the analysis template.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.cleanrooms#ResourceAlias",
          "traits": {
            "smithy.api#documentation": "<p>The name of the analysis template.</p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the analysis template was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the analysis template was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "schema": {
          "target": "com.amazonaws.cleanrooms#AnalysisSchema",
          "traits": {
            "smithy.api#documentation": "<p>The entire schema object.</p>",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.amazonaws.cleanrooms#AnalysisFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the analysis template.</p>",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.amazonaws.cleanrooms#AnalysisSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the analysis template.</p>",
            "smithy.api#required": {}
          }
        },
        "analysisParameters": {
          "target": "com.amazonaws.cleanrooms#AnalysisParameterList",
          "traits": {
            "smithy.api#documentation": "<p>The parameters of the analysis template.</p>"
          }
        },
        "validations": {
          "target": "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatusDetailList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the validations performed on the analysis template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The analysis template.</p>"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisTemplateArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 200
        },
        "smithy.api#pattern": "^arn:aws:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:membership/[\\d\\w-]+/analysistemplate/[\\d\\w-]+$"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisTemplateArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#AnalysisTemplateArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.cleanrooms#AnalysisTemplateArnOrQueryWildcard": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 200
        },
        "smithy.api#pattern": "^(ANY_QUERY|arn:aws:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:membership/[\\d\\w-]+/analysistemplate/[\\d\\w-]+)$"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisTemplateIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisTemplateResource": {
      "type": "resource",
      "identifiers": {
        "MembershipId": {
          "target": "com.amazonaws.cleanrooms#MembershipIdentifier"
        },
        "AnalysisTemplateId": {
          "target": "com.amazonaws.cleanrooms#AnalysisTemplateIdentifier"
        }
      },
      "create": {
        "target": "com.amazonaws.cleanrooms#CreateAnalysisTemplate"
      },
      "read": {
        "target": "com.amazonaws.cleanrooms#GetAnalysisTemplate"
      },
      "update": {
        "target": "com.amazonaws.cleanrooms#UpdateAnalysisTemplate"
      },
      "delete": {
        "target": "com.amazonaws.cleanrooms#DeleteAnalysisTemplate"
      },
      "list": {
        "target": "com.amazonaws.cleanrooms#ListAnalysisTemplates"
      },
      "traits": {
        "aws.api#arn": {
          "template": "membership/{MembershipId}/analysistemplate/{AnalysisTemplateId}"
        },
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#iamResource": {
          "name": "analysistemplate"
        },
        "smithy.api#documentation": "Represents a query that can be stored within a collaboration"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisTemplateSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.cleanrooms#AnalysisTemplateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the analysis template.</p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the analysis template summary was created.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.cleanrooms#AnalysisTemplateIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the analysis template.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanrooms#ResourceAlias",
          "traits": {
            "smithy.api#documentation": "<p>The name of the analysis template. </p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the analysis template summary was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "membershipArn": {
          "target": "com.amazonaws.cleanrooms#MembershipArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the member who created the analysis template.</p>",
            "smithy.api#required": {}
          }
        },
        "membershipId": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for a membership resource.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationArn": {
          "target": "com.amazonaws.cleanrooms#CollaborationArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN for the analysis template summary’s associated collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationId": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the collaboration that the analysis template summary belongs to.\n         Currently accepts collaboration ID.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanrooms#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the analysis template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The metadata of the analysis template.</p>"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisTemplateSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#AnalysisTemplateSummary"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisTemplateText": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 90000
        }
      }
    },
    "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatus": {
      "type": "enum",
      "members": {
        "VALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VALID"
          }
        },
        "INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID"
          }
        },
        "UNABLE_TO_VALIDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNABLE_TO_VALIDATE"
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatusDetail": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.cleanrooms#AnalysisTemplateValidationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of validation that was performed.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the validation.</p>",
            "smithy.api#required": {}
          }
        },
        "reasons": {
          "target": "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatusReasonList",
          "traits": {
            "smithy.api#documentation": "<p>The reasons for the validation results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status details of the analysis template validation. Clean Rooms Differential Privacy uses a general-purpose query structure to support complex SQL queries and validates whether an analysis template fits that general-purpose query structure. Validation is performed when analysis templates are created and fetched. Because analysis templates are immutable by design, we recommend that you create analysis templates after you associate the configured tables with their analysis rule to your collaboration.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/clean-rooms/latest/userguide/analysis-rules-custom.html#custom-diff-privacy\">https://docs.aws.amazon.com/clean-rooms/latest/userguide/analysis-rules-custom.html#custom-diff-privacy</a>.</p>"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatusDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatusDetail"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatusReason": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The validation message.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The reasons for the validation results.</p>"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatusReasonList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatusReason"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisTemplateValidationType": {
      "type": "enum",
      "members": {
        "DIFFERENTIAL_PRIVACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIFFERENTIAL_PRIVACY"
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#BatchGetCollaborationAnalysisTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanrooms#BatchGetCollaborationAnalysisTemplateInput"
      },
      "output": {
        "target": "com.amazonaws.cleanrooms#BatchGetCollaborationAnalysisTemplateOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanrooms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanrooms#InternalServerException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to view details of multiple analysis tempaltes within a collaboration",
        "smithy.api#documentation": "<p>Retrieves multiple analysis templates within a collaboration by their Amazon Resource\n         Names (ARNs).</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/collaborations/{collaborationIdentifier}/batch-analysistemplates"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.cleanrooms#BatchGetCollaborationAnalysisTemplateError": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.cleanrooms#AnalysisTemplateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the analysis template.</p>",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An error code for the error.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of why the call failed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of errors thrown by the call to retrieve multiple analysis templates within a\n         collaboration by their identifiers.</p>"
      }
    },
    "com.amazonaws.cleanrooms#BatchGetCollaborationAnalysisTemplateErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#BatchGetCollaborationAnalysisTemplateError"
      },
      "traits": {
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.cleanrooms#BatchGetCollaborationAnalysisTemplateInput": {
      "type": "structure",
      "members": {
        "collaborationIdentifier": {
          "target": "com.amazonaws.cleanrooms#CollaborationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the collaboration that the analysis templates belong to.\n         Currently accepts collaboration ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "CollaborationId"
          }
        },
        "analysisTemplateArns": {
          "target": "com.amazonaws.cleanrooms#AnalysisTemplateArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) associated with the analysis template within a\n         collaboration.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#BatchGetCollaborationAnalysisTemplateOutput": {
      "type": "structure",
      "members": {
        "collaborationAnalysisTemplates": {
          "target": "com.amazonaws.cleanrooms#CollaborationAnalysisTemplateList",
          "traits": {
            "smithy.api#documentation": "<p>The retrieved list of analysis templates within a collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.amazonaws.cleanrooms#BatchGetCollaborationAnalysisTemplateErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Error reasons for collaboration analysis templates that could not be retrieved. One\n         error is returned for every collaboration analysis template that could not be\n         retrieved.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#BatchGetSchema": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanrooms#BatchGetSchemaInput"
      },
      "output": {
        "target": "com.amazonaws.cleanrooms#BatchGetSchemaOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanrooms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanrooms#InternalServerException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to view details of schemas",
        "smithy.api#documentation": "<p>Retrieves multiple schemas by their identifiers.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/collaborations/{collaborationIdentifier}/batch-schema"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.cleanrooms#BatchGetSchemaAnalysisRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanrooms#BatchGetSchemaAnalysisRuleInput"
      },
      "output": {
        "target": "com.amazonaws.cleanrooms#BatchGetSchemaAnalysisRuleOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanrooms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanrooms#InternalServerException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to view analysis rules associated with schemas",
        "smithy.api#documentation": "<p>Retrieves multiple analysis rule schemas.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/collaborations/{collaborationIdentifier}/batch-schema-analysis-rule"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.cleanrooms#BatchGetSchemaAnalysisRuleError": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.cleanrooms#TableAlias",
          "traits": {
            "smithy.api#documentation": "<p>An error name for the error.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleType",
          "traits": {
            "smithy.api#documentation": "<p>The analysis rule type.</p>",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An error code for the error.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of why the call failed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error that describes why a schema could not be fetched.</p>"
      }
    },
    "com.amazonaws.cleanrooms#BatchGetSchemaAnalysisRuleErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#BatchGetSchemaAnalysisRuleError"
      },
      "traits": {
        "smithy.api#length": {
          "max": 25
        }
      }
    },
    "com.amazonaws.cleanrooms#BatchGetSchemaAnalysisRuleInput": {
      "type": "structure",
      "members": {
        "collaborationIdentifier": {
          "target": "com.amazonaws.cleanrooms#CollaborationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the collaboration that contains the schema analysis rule.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "CollaborationId"
          }
        },
        "schemaAnalysisRuleRequests": {
          "target": "com.amazonaws.cleanrooms#SchemaAnalysisRuleRequestList",
          "traits": {
            "smithy.api#documentation": "<p>The information that's necessary to retrieve a schema analysis rule.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cleanrooms#BatchGetSchemaAnalysisRuleOutput": {
      "type": "structure",
      "members": {
        "analysisRules": {
          "target": "com.amazonaws.cleanrooms#SchemaAnalysisRuleList",
          "traits": {
            "smithy.api#documentation": "<p>The retrieved list of analysis rules.</p>",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.amazonaws.cleanrooms#BatchGetSchemaAnalysisRuleErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Error reasons for schemas that could not be retrieved. One error is returned for every schema that could not be retrieved.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cleanrooms#BatchGetSchemaError": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.cleanrooms#TableAlias",
          "traits": {
            "smithy.api#documentation": "<p>An error name for the error.</p>",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An error code for the error. </p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An error message for the error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error describing why a schema could not be fetched.</p>"
      }
    },
    "com.amazonaws.cleanrooms#BatchGetSchemaErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#BatchGetSchemaError"
      },
      "traits": {
        "smithy.api#length": {
          "max": 25
        }
      }
    },
    "com.amazonaws.cleanrooms#BatchGetSchemaInput": {
      "type": "structure",
      "members": {
        "collaborationIdentifier": {
          "target": "com.amazonaws.cleanrooms#CollaborationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the collaboration that the schemas belong to. Currently accepts\n         collaboration ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "CollaborationId"
          }
        },
        "names": {
          "target": "com.amazonaws.cleanrooms#TableAliasList",
          "traits": {
            "smithy.api#documentation": "<p>The names for the schema objects to\n         retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#BatchGetSchemaOutput": {
      "type": "structure",
      "members": {
        "schemas": {
          "target": "com.amazonaws.cleanrooms#SchemaList",
          "traits": {
            "smithy.api#documentation": "<p>The retrieved list of schemas.</p>",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.amazonaws.cleanrooms#BatchGetSchemaErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Error reasons for schemas that could not be retrieved. One error is returned for every\n         schema that could not be retrieved.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#CleanroomsArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 100
        },
        "smithy.api#pattern": "^arn:aws:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:[\\d\\w/-]+$"
      }
    },
    "com.amazonaws.cleanrooms#Collaboration": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the collaboration.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "CollaborationId"
          }
        },
        "arn": {
          "target": "com.amazonaws.cleanrooms#CollaborationArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN for the collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanrooms#CollaborationName",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable identifier provided by the collaboration owner. Display names are not\n         unique.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanrooms#CollaborationDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the collaboration provided by the collaboration owner.</p>"
          }
        },
        "creatorAccountId": {
          "target": "com.amazonaws.cleanrooms#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier used to reference members of the collaboration. Currently only supports\n         Amazon Web Services account ID.</p>",
            "smithy.api#required": {}
          }
        },
        "creatorDisplayName": {
          "target": "com.amazonaws.cleanrooms#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>A display name of the collaboration creator.</p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the collaboration was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the collaboration metadata was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "memberStatus": {
          "target": "com.amazonaws.cleanrooms#MemberStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a member in a collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "membershipId": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for your membership within the collaboration.</p>"
          }
        },
        "membershipArn": {
          "target": "com.amazonaws.cleanrooms#MembershipArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN for your membership within the collaboration.</p>"
          }
        },
        "dataEncryptionMetadata": {
          "target": "com.amazonaws.cleanrooms#DataEncryptionMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The settings for client-side encryption for cryptographic computing.</p>"
          }
        },
        "queryLogStatus": {
          "target": "com.amazonaws.cleanrooms#CollaborationQueryLogStatus",
          "traits": {
            "smithy.api#documentation": "<p>An indicator as to whether query logging has been enabled or disabled for the\n         collaboration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The multi-party data share environment. The collaboration contains metadata about its\n         purpose and participants.</p>"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationAnalysisTemplate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.cleanrooms#AnalysisTemplateIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the analysis template.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "AnalysisTemplateId"
          }
        },
        "arn": {
          "target": "com.amazonaws.cleanrooms#AnalysisTemplateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the analysis template.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationId": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the collaboration that the analysis templates belong to.\n         Currently accepts collaboration ID.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationArn": {
          "target": "com.amazonaws.cleanrooms#CollaborationArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN for the analysis template’s associated collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanrooms#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the analysis template.</p>"
          }
        },
        "creatorAccountId": {
          "target": "com.amazonaws.cleanrooms#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier used to reference members of the collaboration. Currently only supports\n         Amazon Web Services account ID.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanrooms#ResourceAlias",
          "traits": {
            "smithy.api#documentation": "<p>The name of the analysis template.</p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the analysis template within a collaboration was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the analysis template in the collaboration was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "schema": {
          "target": "com.amazonaws.cleanrooms#AnalysisSchema",
          "traits": {
            "smithy.api#documentation": "<p>The entire schema object.</p>",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.amazonaws.cleanrooms#AnalysisFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the analysis template in the collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.amazonaws.cleanrooms#AnalysisSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the analysis template within a collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "analysisParameters": {
          "target": "com.amazonaws.cleanrooms#AnalysisParameterList",
          "traits": {
            "smithy.api#documentation": "<p>The analysis parameters that have been specified in the analysis template.</p>"
          }
        },
        "validations": {
          "target": "com.amazonaws.cleanrooms#AnalysisTemplateValidationStatusDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The validations that were performed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The analysis template within a collaboration.</p>"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationAnalysisTemplateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#CollaborationAnalysisTemplate"
      },
      "traits": {
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.cleanrooms#CollaborationAnalysisTemplateSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.cleanrooms#AnalysisTemplateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the analysis template.</p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the summary of the analysis template in a collaboration was\n         created.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.cleanrooms#AnalysisTemplateIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the analysis template.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanrooms#ResourceAlias",
          "traits": {
            "smithy.api#documentation": "<p>The name of the analysis template.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the summary of the analysis template in the collaboration was last\n         updated.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationArn": {
          "target": "com.amazonaws.cleanrooms#CollaborationArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN for the analysis template’s associated collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationId": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the collaboration that the analysis templates belong to.\n         Currently accepts collaboration ID.</p>",
            "smithy.api#required": {}
          }
        },
        "creatorAccountId": {
          "target": "com.amazonaws.cleanrooms#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier used to reference members of the collaboration. Currently only supports\n         Amazon Web Services account ID.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanrooms#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the analysis template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The metadata of the analysis template within a collaboration.</p>"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationAnalysisTemplateSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#CollaborationAnalysisTemplateSummary"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 100
        },
        "smithy.api#pattern": "^arn:aws:[\\w]+:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:collaboration/[\\d\\w-]+$"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationConfiguredAudienceModelAssociation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.cleanrooms#ConfiguredAudienceModelAssociationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the configured audience model association.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "ConfiguredAudienceModelAssociationId"
          }
        },
        "arn": {
          "target": "com.amazonaws.cleanrooms#ConfiguredAudienceModelAssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured audience model association.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationId": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the collaboration that the configured audience model associations belong to. Accepts collaboration ID.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationArn": {
          "target": "com.amazonaws.cleanrooms#CollaborationArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN for the configured audience model's associated collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "configuredAudienceModelArn": {
          "target": "com.amazonaws.cleanrooms#ConfiguredAudienceModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configure audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanrooms#ConfiguredAudienceModelAssociationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configured audience model association.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanrooms#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the configured audience model association.</p>"
          }
        },
        "creatorAccountId": {
          "target": "com.amazonaws.cleanrooms#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier used to reference members of the collaboration. Only supports AWS account ID.</p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the configured audience model association was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the configured audience model association was updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configured audience model association within a collaboration.</p>"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationConfiguredAudienceModelAssociationSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.cleanrooms#ConfiguredAudienceModelAssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured audience model association.</p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the configured audience model association was created.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.cleanrooms#ConfiguredAudienceModelAssociationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the configured audience model association.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanrooms#ConfiguredAudienceModelAssociationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configured audience model association.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the configured audience model association was updated.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationArn": {
          "target": "com.amazonaws.cleanrooms#CollaborationArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN for the configured audience model's associated collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationId": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the collaboration that the configured audience model associations belong to. Accepts collaboration ID.</p>",
            "smithy.api#required": {}
          }
        },
        "creatorAccountId": {
          "target": "com.amazonaws.cleanrooms#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier used to reference members of the collaboration. Only supports AWS account ID.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanrooms#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the configured audience model association.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of the configured audience model association in the collaboration.</p>"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationConfiguredAudienceModelAssociationSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#CollaborationConfiguredAudienceModelAssociationSummary"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(?!\\s*$)[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDBFF-\\uDC00\\uDFFF\\t\\r\\n]*$"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^(?!\\s*$)[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDBFF-\\uDC00\\uDFFF\\t]*$"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationPrivacyBudgetSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the collaboration privacy budget.</p>",
            "smithy.api#required": {}
          }
        },
        "privacyBudgetTemplateId": {
          "target": "com.amazonaws.cleanrooms#PrivacyBudgetTemplateIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the collaboration privacy budget template.</p>",
            "smithy.api#required": {}
          }
        },
        "privacyBudgetTemplateArn": {
          "target": "com.amazonaws.cleanrooms#PrivacyBudgetTemplateArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the collaboration privacy budget template.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationId": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the collaboration that includes this privacy budget.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationArn": {
          "target": "com.amazonaws.cleanrooms#CollaborationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the collaboration that includes this privacy budget.</p>",
            "smithy.api#required": {}
          }
        },
        "creatorAccountId": {
          "target": "com.amazonaws.cleanrooms#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the account that created this privacy budget.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.cleanrooms#PrivacyBudgetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of privacy budget template.</p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the privacy budget was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the privacy budget was updated.</p>",
            "smithy.api#required": {}
          }
        },
        "budget": {
          "target": "com.amazonaws.cleanrooms#PrivacyBudget",
          "traits": {
            "smithy.api#documentation": "<p>The includes epsilon provided and utility in terms of aggregations.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of the collaboration privacy budgets. This summary includes the collaboration information, creation information, epsilon provided, and utility in terms of aggregations.</p>"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationPrivacyBudgetSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#CollaborationPrivacyBudgetSummary"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationPrivacyBudgetTemplate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.cleanrooms#PrivacyBudgetTemplateIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the collaboration privacy budget template.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.cleanrooms#PrivacyBudgetTemplateArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the collaboration privacy budget template.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationId": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the collaboration that includes this collaboration privacy budget template.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationArn": {
          "target": "com.amazonaws.cleanrooms#CollaborationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the collaboration that includes this collaboration privacy budget template.</p>",
            "smithy.api#required": {}
          }
        },
        "creatorAccountId": {
          "target": "com.amazonaws.cleanrooms#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the account that created this collaboration privacy budget template.</p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the collaboration privacy budget template was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the collaboration privacy budget template was updated.</p>",
            "smithy.api#required": {}
          }
        },
        "privacyBudgetType": {
          "target": "com.amazonaws.cleanrooms#PrivacyBudgetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of privacy budget template.</p>",
            "smithy.api#required": {}
          }
        },
        "autoRefresh": {
          "target": "com.amazonaws.cleanrooms#PrivacyBudgetTemplateAutoRefresh",
          "traits": {
            "smithy.api#documentation": "<p>How often the privacy budget refreshes.</p>\n         <important>\n            <p>If you plan to regularly bring new data into the collaboration, use <code>CALENDAR_MONTH</code> to automatically get a new privacy budget for the collaboration every calendar month. Choosing this option allows arbitrary amounts of information to be revealed about rows of the data when repeatedly queried across refreshes. Avoid choosing this if the same rows will be repeatedly queried between privacy budget refreshes.</p>\n         </important>",
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "com.amazonaws.cleanrooms#PrivacyBudgetTemplateParametersOutput",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the epsilon and noise parameters for the privacy budget template.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An array that specifies the information for a collaboration's privacy budget template.</p>"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationPrivacyBudgetTemplateSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.cleanrooms#PrivacyBudgetTemplateIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the collaboration privacy budget template.</p>",
[...]
