{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.cleanrooms#AWSBastionControlPlaneServiceLambda": {
      "type": "service",
      "version": "2022-02-17",
      "resources": [
        {
          "target": "com.amazonaws.cleanrooms#CollaborationResource"
        },
        {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableAssociationResource"
        },
        {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableResource"
        },
        {
          "target": "com.amazonaws.cleanrooms#MembershipResource"
        },
        {
          "target": "com.amazonaws.cleanrooms#PrivacyBudgetTemplateResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CleanRooms",
          "arnNamespace": "cleanrooms",
          "cloudTrailEventSource": "cleanrooms.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "cleanrooms"
        },
        "aws.iam#supportedPrincipalTypes": ["Root", "IAMUser", "IAMRole", "FederatedUser"],
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-user-agent",
            "x-amzn-platform-id",
            "x-amzn-trace-id"
          ],
          "additionalExposedHeaders": ["x-amzn-errortype", "x-amzn-requestid", "x-amzn-trace-id"],
          "maxAge": 86400
        },
        "smithy.api#documentation": "<note>\n            <p>AWS Clean Rooms is in preview release and is subject to change.</p>\n         </note>\n         <p>Welcome to the <i>AWS Clean Rooms API Reference</i>.</p>\n         <p>AWS Clean Rooms is an AWS service that helps multiple parties to join their data\n         together in a secure collaboration workspace. In the collaboration, members who can query\n         and receive results can get insights into the combined data without either party getting\n         access to the other party's raw data.</p>\n         <p>To learn more about AWS Clean Rooms concepts, procedures, and best practices, see the\n            <a href=\"https://docs.aws.amazon.com/clean-rooms/latest/userguide/what-is.html\">AWS Clean\n            Rooms User Guide</a>.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        },
        "smithy.api#title": "AWS Clean Rooms Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://cleanrooms-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://cleanrooms-fips.{Region}.{PartitionResult#dnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://cleanrooms.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://cleanrooms.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-gov-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-gov-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-gov-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-gov-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "cn-north-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "cn-north-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "cn-north-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "cn-north-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-iso-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-iso-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-iso-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-iso-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-isob-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-isob-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-isob-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-isob-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-1",
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-1",
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-east-1",
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.cleanrooms#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "reason": {
          "target": "com.amazonaws.cleanrooms#AccessDeniedExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>A reason code for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Caller does not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.cleanrooms#AccessDeniedExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INSUFFICIENT_PERMISSIONS",
            "name": "INSUFFICIENT_PERMISSIONS"
          }
        ]
      }
    },
    "com.amazonaws.cleanrooms#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d+$"
      }
    },
    "com.amazonaws.cleanrooms#AggregateColumn": {
      "type": "structure",
      "members": {
        "columnNames": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnNameList",
          "traits": {
            "smithy.api#documentation": "<p>Column names in configured table of aggregate columns.</p>",
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "function": {
          "target": "com.amazonaws.cleanrooms#AggregateFunctionName",
          "traits": {
            "smithy.api#documentation": "<p>Aggregation function that can be applied to aggregate column in query.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Column in configured table that can be used in aggregate function in query.</p>"
      }
    },
    "com.amazonaws.cleanrooms#AggregateColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#AggregateColumn"
      }
    },
    "com.amazonaws.cleanrooms#AggregateFunctionName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "SUM",
            "value": "SUM"
          },
          {
            "name": "SUM_DISTINCT",
            "value": "SUM_DISTINCT"
          },
          {
            "name": "COUNT",
            "value": "COUNT"
          },
          {
            "name": "COUNT_DISTINCT",
            "value": "COUNT_DISTINCT"
          },
          {
            "name": "AVG",
            "value": "AVG"
          }
        ]
      }
    },
    "com.amazonaws.cleanrooms#AggregationConstraint": {
      "type": "structure",
      "members": {
        "columnName": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnName",
          "traits": {
            "smithy.api#documentation": "<p>Column in aggregation constraint for which there must be a minimum number of distinct values in an output row for it to be in the query output.</p>",
            "smithy.api#required": {}
          }
        },
        "minimum": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of distinct values that an output row must be an aggregation of.\n         Minimum threshold of distinct values for a specified column that must exist in an output\n         row for it to be in the query output.</p>",
            "smithy.api#range": {
              "min": 2
            },
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.cleanrooms#AggregationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of aggregation the constraint allows. The only valid value is currently\n         `COUNT_DISTINCT`.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Constraint on query output removing output rows that do not meet a minimum number of distinct values of a specified column.</p>"
      }
    },
    "com.amazonaws.cleanrooms#AggregationConstraints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#AggregationConstraint"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.cleanrooms#AggregationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "COUNT_DISTINCT",
            "value": "COUNT_DISTINCT"
          }
        ]
      }
    },
    "com.amazonaws.cleanrooms#AllowedColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#ColumnName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 250
        }
      }
    },
    "com.amazonaws.cleanrooms#AnalysisMethod": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "DIRECT_QUERY",
            "value": "DIRECT_QUERY"
          }
        ]
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRule": {
      "type": "structure",
      "members": {
        "collaborationId": {
          "target": "com.amazonaws.cleanrooms#CollaborationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the associated collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleType",
          "traits": {
            "smithy.api#documentation": "<p>The type of analysis rule. Valid values are `AGGREGATION` and `LIST`.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanrooms#TableAlias",
          "traits": {
            "smithy.api#documentation": "<p>The name for the analysis rule.</p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the analysis rule was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the analysis rule was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "com.amazonaws.cleanrooms#AnalysisRulePolicy",
          "traits": {
            "smithy.api#documentation": "<p>A policy that describes the associated data usage limitations.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A specification about how data from the configured table can be used in a query.</p>"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRuleAggregation": {
      "type": "structure",
      "members": {
        "aggregateColumns": {
          "target": "com.amazonaws.cleanrooms#AggregateColumnList",
          "traits": {
            "smithy.api#documentation": "<p>The columns that query runners are allowed to use in aggregation queries.</p>",
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "joinColumns": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnList",
          "traits": {
            "smithy.api#documentation": "<p>Columns in configured table that can be used in join statements and/or as aggregate\n         columns. They can never be outputted directly.</p>",
            "smithy.api#required": {}
          }
        },
        "joinRequired": {
          "target": "com.amazonaws.cleanrooms#JoinRequiredOption",
          "traits": {
            "smithy.api#documentation": "<p>Control that requires member who runs query to do a join with their configured table\n         and/or other configured table in query</p>"
          }
        },
        "dimensionColumns": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnList",
          "traits": {
            "smithy.api#documentation": "<p>The columns that query runners are allowed to select, group by, or filter by.</p>",
            "smithy.api#required": {}
          }
        },
        "scalarFunctions": {
          "target": "com.amazonaws.cleanrooms#ScalarFunctionsList",
          "traits": {
            "smithy.api#documentation": "<p>Set of scalar functions that are allowed to be used on dimension columns and the output of aggregation of metrics.</p>",
            "smithy.api#required": {}
          }
        },
        "outputConstraints": {
          "target": "com.amazonaws.cleanrooms#AggregationConstraints",
          "traits": {
            "smithy.api#documentation": "<p>Columns that must meet a specific threshold value (after an aggregation function is applied to it) for each output row to be returned.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Enables query structure and specified queries that product aggregate statistics.</p>"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRuleColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnName"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRuleColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 127
        },
        "smithy.api#pattern": "^[a-z0-9_](([a-z0-9_ ]+-)*([a-z0-9_ ]+))?$"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRuleColumnNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnName"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRuleList": {
      "type": "structure",
      "members": {
        "joinColumns": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnList",
          "traits": {
            "smithy.api#documentation": "<p>Columns that can be used to join a configured table with the table of the member who can query and another members' configured tables.</p>",
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "listColumns": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleColumnList",
          "traits": {
            "smithy.api#documentation": "<p>Columns that can be listed in the output.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A type of analysis rule that enables row-level analysis.</p>"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRulePolicy": {
      "type": "union",
      "members": {
        "v1": {
          "target": "com.amazonaws.cleanrooms#AnalysisRulePolicyV1",
          "traits": {
            "smithy.api#documentation": "<p>Controls on the query specifications that can be run on configured table..</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Controls on the query specifications that can be run on configured table..</p>"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRulePolicyV1": {
      "type": "union",
      "members": {
        "list": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleList",
          "traits": {
            "smithy.api#documentation": "<p>Analysis rule type that enables only list queries on a configured table.</p>"
          }
        },
        "aggregation": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleAggregation",
          "traits": {
            "smithy.api#documentation": "<p>Analysis rule type that enables only aggregation queries on a configured table.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Controls on the query specifications that can be run on configured table..</p>"
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRuleType": {
      "type": "enum",
      "members": {
        "AGGREGATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATION"
          }
        },
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIST"
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#AnalysisRuleTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#AnalysisRuleType"
      }
    },
    "com.amazonaws.cleanrooms#BatchGetSchema": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanrooms#BatchGetSchemaInput"
      },
      "output": {
        "target": "com.amazonaws.cleanrooms#BatchGetSchemaOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanrooms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanrooms#InternalServerException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to view details of schemas",
        "smithy.api#documentation": "<p>Retrieves multiple schemas by their identifiers.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/collaborations/{collaborationIdentifier}/batch-schema"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.cleanrooms#BatchGetSchemaError": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.cleanrooms#TableAlias",
          "traits": {
            "smithy.api#documentation": "<p>An error name for the error.</p>",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An error code for the error. </p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An error message for the error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error describing why a schema could not be fetched.</p>"
      }
    },
    "com.amazonaws.cleanrooms#BatchGetSchemaErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#BatchGetSchemaError"
      },
      "traits": {
        "smithy.api#length": {
          "max": 25
        }
      }
    },
    "com.amazonaws.cleanrooms#BatchGetSchemaInput": {
      "type": "structure",
      "members": {
        "collaborationIdentifier": {
          "target": "com.amazonaws.cleanrooms#CollaborationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the collaboration that the schemas belong to. Currently accepts\n         collaboration ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "CollaborationId"
          }
        },
        "names": {
          "target": "com.amazonaws.cleanrooms#TableAliasList",
          "traits": {
            "smithy.api#documentation": "<p>The names for the schema objects to retrieve.&gt;</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#BatchGetSchemaOutput": {
      "type": "structure",
      "members": {
        "schemas": {
          "target": "com.amazonaws.cleanrooms#SchemaList",
          "traits": {
            "smithy.api#documentation": "<p>The retrieved list of schemas.</p>",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.amazonaws.cleanrooms#BatchGetSchemaErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Error reasons for schemas that could not be retrieved. One error is returned for every\n         schema that could not be retrieved.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#Collaboration": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the collaboration.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "CollaborationId"
          }
        },
        "arn": {
          "target": "com.amazonaws.cleanrooms#CollaborationArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN for the collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanrooms#CollaborationName",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable identifier provided by the collaboration owner. Display names are not unique.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanrooms#CollaborationDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the collaboration provided by the collaboration owner.</p>"
          }
        },
        "creatorAccountId": {
          "target": "com.amazonaws.cleanrooms#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier used to reference members of the collaboration. Currently only supports AWS account ID.</p>",
            "smithy.api#required": {}
          }
        },
        "creatorDisplayName": {
          "target": "com.amazonaws.cleanrooms#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>A display name of the collaboration creator.</p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the collaboration was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the collaboration metadata was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "memberStatus": {
          "target": "com.amazonaws.cleanrooms#MemberStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a member in a collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "membershipId": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for your membership within the collaboration.</p>"
          }
        },
        "membershipArn": {
          "target": "com.amazonaws.cleanrooms#MembershipArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN for your membership within the collaboration.</p>"
          }
        },
        "dataEncryptionMetadata": {
          "target": "com.amazonaws.cleanrooms#DataEncryptionMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The settings for client-side encryption for cryptographic computing.</p>"
          }
        },
        "queryLogStatus": {
          "target": "com.amazonaws.cleanrooms#CollaborationQueryLogStatus",
          "traits": {
            "smithy.api#documentation": "<p>An indicator as to whether query logging has been enabled or disabled for the\n         collaboration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The multi-party data share environment. The collaboration contains metadata about its purpose and participants.</p>"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 100
        },
        "smithy.api#pattern": "^arn:aws:[\\w]+:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:collaboration/[\\d\\w-]+$"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(?!\\s*$)[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDBFF-\\uDC00\\uDFFF\\t\\r\\n]*$"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^(?!\\s*$)[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDBFF-\\uDC00\\uDFFF\\t]*$"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationQueryLogStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "ENABLED",
            "value": "ENABLED"
          },
          {
            "name": "DISABLED",
            "value": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.cleanrooms#CollaborationResource": {
      "type": "resource",
      "identifiers": {
        "CollaborationId": {
          "target": "com.amazonaws.cleanrooms#CollaborationIdentifier"
        }
      },
      "create": {
        "target": "com.amazonaws.cleanrooms#CreateCollaboration"
      },
      "read": {
        "target": "com.amazonaws.cleanrooms#GetCollaboration"
      },
      "update": {
        "target": "com.amazonaws.cleanrooms#UpdateCollaboration"
      },
      "delete": {
        "target": "com.amazonaws.cleanrooms#DeleteCollaboration"
      },
      "list": {
        "target": "com.amazonaws.cleanrooms#ListCollaborations"
      },
      "operations": [
        {
          "target": "com.amazonaws.cleanrooms#BatchGetSchema"
        },
        {
          "target": "com.amazonaws.cleanrooms#DeleteMember"
        },
        {
          "target": "com.amazonaws.cleanrooms#GetSchema"
        },
        {
          "target": "com.amazonaws.cleanrooms#GetSchemaAnalysisRule"
        },
        {
          "target": "com.amazonaws.cleanrooms#ListMembers"
        },
        {
          "target": "com.amazonaws.cleanrooms#ListSchemas"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "collaboration/{CollaborationId}"
        },
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#iamResource": {
          "name": "Collaboration"
        },
        "smithy.api#documentation": "Represents a collaboration between AWS accounts that allows for secure data collaboration"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the collaboration.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "CollaborationId"
          }
        },
        "arn": {
          "target": "com.amazonaws.cleanrooms#CollaborationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanrooms#CollaborationName",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable identifier provided by the collaboration owner. Display names are not unique.</p>",
            "smithy.api#required": {}
          }
        },
        "creatorAccountId": {
          "target": "com.amazonaws.cleanrooms#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier used to reference members of the collaboration. Currently only supports AWS Account ID.</p>",
            "smithy.api#required": {}
          }
        },
        "creatorDisplayName": {
          "target": "com.amazonaws.cleanrooms#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the collaboration creator.</p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the collaboration was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the collaboration metadata was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "memberStatus": {
          "target": "com.amazonaws.cleanrooms#MemberStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a member in a collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "membershipId": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of a member in a collaboration.</p>"
          }
        },
        "membershipArn": {
          "target": "com.amazonaws.cleanrooms#MembershipArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a member in a collaboration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The metadata of the collaboration.</p>"
      }
    },
    "com.amazonaws.cleanrooms#CollaborationSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#CollaborationSummary"
      }
    },
    "com.amazonaws.cleanrooms#Column": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.cleanrooms#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.cleanrooms#ColumnTypeString",
          "traits": {
            "smithy.api#documentation": "<p>The type of the column.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A column within a schema relation, derived from the underlying AWS Glue table.</p>"
      }
    },
    "com.amazonaws.cleanrooms#ColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#Column"
      }
    },
    "com.amazonaws.cleanrooms#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 128
        },
        "smithy.api#pattern": "^[a-z0-9_](([a-z0-9_ ]+-)*([a-z0-9_ ]+))?$"
      }
    },
    "com.amazonaws.cleanrooms#ColumnTypeString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 255
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDBFF-\\uDC00\\uDFFF\\t]*$"
      }
    },
    "com.amazonaws.cleanrooms#ConfiguredTable": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the configured table.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "ConfiguredTableId"
          }
        },
        "arn": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN for the configured table.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanrooms#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the configured table.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanrooms#TableDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the configured table.</p>"
          }
        },
        "tableReference": {
          "target": "com.amazonaws.cleanrooms#TableReference",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Glue table that this configured table represents.</p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the configured table was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the configured table was last updated</p>",
            "smithy.api#required": {}
          }
        },
        "analysisRuleTypes": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableAnalysisRuleTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The types of analysis rules associated with this configured table. Valid values are `AGGREGATION` and `LIST`. Currently, only one analysis rule may be associated with a configured table.</p>",
            "smithy.api#required": {}
          }
        },
        "analysisMethod": {
          "target": "com.amazonaws.cleanrooms#AnalysisMethod",
          "traits": {
            "smithy.api#documentation": "<p>The analysis method for the configured table. The only valid value is currently `DIRECT_QUERY`.</p>",
            "smithy.api#required": {}
          }
        },
        "allowedColumns": {
          "target": "com.amazonaws.cleanrooms#AllowedColumnList",
          "traits": {
            "smithy.api#documentation": "<p>The columns within the underlying AWS Glue table that can be utilized within\n         collaborations.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A table that has been configured for use in a collaboration.</p>"
      }
    },
    "com.amazonaws.cleanrooms#ConfiguredTableAnalysisRule": {
      "type": "structure",
      "members": {
        "configuredTableId": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the configured table.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "ConfiguredTableId"
          }
        },
        "configuredTableArn": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN for the configured table.</p>",
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableAnalysisRulePolicy",
          "traits": {
            "smithy.api#documentation": "<p>The policy that controls SQL query rules.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableAnalysisRuleType",
          "traits": {
            "smithy.api#documentation": "<p>The type of configured table analysis rule. Valid values are `AGGREGATION` and `LIST`.</p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the configured table analysis rule was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the configured table analysis rule was last updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A configured table analysis rule, which limits how data for this table can be used.</p>"
      }
    },
    "com.amazonaws.cleanrooms#ConfiguredTableAnalysisRulePolicy": {
      "type": "union",
      "members": {
        "v1": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableAnalysisRulePolicyV1",
          "traits": {
            "smithy.api#documentation": "<p>Controls on the query specifications that can be run on a configured table.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Controls on the query specifications that can be run on a configured table.</p>"
      }
    },
    "com.amazonaws.cleanrooms#ConfiguredTableAnalysisRulePolicyV1": {
      "type": "union",
      "members": {
        "list": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleList",
          "traits": {
            "smithy.api#documentation": "<p>Analysis rule type that enables only list queries on a configured table.</p>"
          }
        },
        "aggregation": {
          "target": "com.amazonaws.cleanrooms#AnalysisRuleAggregation",
          "traits": {
            "smithy.api#documentation": "<p>Analysis rule type that enables only aggregation queries on a configured table.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Controls on the query specifications that can be run on a configured table.</p>"
      }
    },
    "com.amazonaws.cleanrooms#ConfiguredTableAnalysisRuleType": {
      "type": "enum",
      "members": {
        "AGGREGATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGGREGATION"
          }
        },
        "LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIST"
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#ConfiguredTableAnalysisRuleTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#ConfiguredTableAnalysisRuleType"
      }
    },
    "com.amazonaws.cleanrooms#ConfiguredTableArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 100
        },
        "smithy.api#pattern": "^arn:aws:[\\w]+:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:configuredTable/[\\d\\w-]+$"
      }
    },
    "com.amazonaws.cleanrooms#ConfiguredTableAssociation": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableAssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN for the configured table association.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the configured table association.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "ConfiguredTableAssociationId"
          }
        },
        "configuredTableId": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the configured table that the association refers to.</p>",
            "smithy.api#required": {}
          }
        },
        "configuredTableArn": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN for the configured table that the association refers to.</p>",
            "smithy.api#required": {}
          }
        },
        "membershipId": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the membership this configured table association belongs to.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "MembershipId"
          }
        },
        "membershipArn": {
          "target": "com.amazonaws.cleanrooms#MembershipArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN for the membership this configured table association belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.cleanrooms#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The service will assume this role to access catalog metadata and query the table.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanrooms#TableAlias",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configured table association, in lowercase. The table is identified by this name when running protected queries against the underlying data.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanrooms#TableDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the configured table association.</p>"
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the configured table association was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the configured table association was last updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A configured table association links a configured table to a collaboration.</p>"
      }
    },
    "com.amazonaws.cleanrooms#ConfiguredTableAssociationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 100
        },
        "smithy.api#pattern": "^arn:aws:[\\w]+:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:configuredTableAssociation/[\\d\\w-]+/[\\d\\w-]+$"
      }
    },
    "com.amazonaws.cleanrooms#ConfiguredTableAssociationIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
      }
    },
    "com.amazonaws.cleanrooms#ConfiguredTableAssociationResource": {
      "type": "resource",
      "identifiers": {
        "MembershipId": {
          "target": "com.amazonaws.cleanrooms#MembershipIdentifier"
        },
        "ConfiguredTableAssociationId": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableAssociationIdentifier"
        }
      },
      "create": {
        "target": "com.amazonaws.cleanrooms#CreateConfiguredTableAssociation"
      },
      "read": {
        "target": "com.amazonaws.cleanrooms#GetConfiguredTableAssociation"
      },
      "update": {
        "target": "com.amazonaws.cleanrooms#UpdateConfiguredTableAssociation"
      },
      "delete": {
        "target": "com.amazonaws.cleanrooms#DeleteConfiguredTableAssociation"
      },
      "list": {
        "target": "com.amazonaws.cleanrooms#ListConfiguredTableAssociations"
      },
      "traits": {
        "aws.api#arn": {
          "template": "membership/{MembershipId}/configuredtableassociation/{ConfiguredTableAssociationId}"
        },
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#iamResource": {
          "name": "ConfiguredTableAssociation"
        },
        "smithy.api#documentation": "Represents a table that can be queried within a collaboration"
      }
    },
    "com.amazonaws.cleanrooms#ConfiguredTableAssociationSummary": {
      "type": "structure",
      "members": {
        "configuredTableId": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique configured table ID that this configured table association refers to.</p>",
            "smithy.api#required": {}
          }
        },
        "membershipId": {
          "target": "com.amazonaws.cleanrooms#MembershipIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the membership that the configured table association belongs\n         to.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "MembershipId"
          }
        },
        "membershipArn": {
          "target": "com.amazonaws.cleanrooms#MembershipArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN for the membership that the configured table association belongs\n         to.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanrooms#TableAlias",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configured table association. The table is identified by this name when running Protected Queries against the underlying data.</p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the configured table association was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the configured table association was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.cleanrooms#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the configured table association.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "ConfiguredTableAssociationId"
          }
        },
        "arn": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableAssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN for the configured table association.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configured table association summary for the objects listed by the request.</p>"
      }
    },
    "com.amazonaws.cleanrooms#ConfiguredTableAssociationSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#ConfiguredTableAssociationSummary"
      }
    },
    "com.amazonaws.cleanrooms#ConfiguredTableIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
      }
    },
    "com.amazonaws.cleanrooms#ConfiguredTableResource": {
      "type": "resource",
      "identifiers": {
        "ConfiguredTableId": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableIdentifier"
        }
      },
      "create": {
        "target": "com.amazonaws.cleanrooms#CreateConfiguredTable"
      },
      "read": {
        "target": "com.amazonaws.cleanrooms#GetConfiguredTable"
      },
      "update": {
        "target": "com.amazonaws.cleanrooms#UpdateConfiguredTable"
      },
      "delete": {
        "target": "com.amazonaws.cleanrooms#DeleteConfiguredTable"
      },
      "list": {
        "target": "com.amazonaws.cleanrooms#ListConfiguredTables"
      },
      "operations": [
        {
          "target": "com.amazonaws.cleanrooms#CreateConfiguredTableAnalysisRule"
        },
        {
          "target": "com.amazonaws.cleanrooms#DeleteConfiguredTableAnalysisRule"
        },
        {
          "target": "com.amazonaws.cleanrooms#GetConfiguredTableAnalysisRule"
        },
        {
          "target": "com.amazonaws.cleanrooms#UpdateConfiguredTableAnalysisRule"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "configuredtable/{ConfiguredTableId}"
        },
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#iamResource": {
          "name": "ConfiguredTable"
        },
        "smithy.api#documentation": "Represents a table that can be associated with collaborations"
      }
    },
    "com.amazonaws.cleanrooms#ConfiguredTableSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the configured table.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "ConfiguredTableId"
          }
        },
        "arn": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique ARN of the configured table.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanrooms#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configured table.</p>",
            "smithy.api#required": {}
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the configured table was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the configured table was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "analysisRuleTypes": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableAnalysisRuleTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The types of analysis rules associated with this configured table.</p>",
            "smithy.api#required": {}
          }
        },
        "analysisMethod": {
          "target": "com.amazonaws.cleanrooms#AnalysisMethod",
          "traits": {
            "smithy.api#documentation": "<p>The analysis method for the configured tables. The only valid value is currently `DIRECT_QUERY`.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configured table summary for the objects listed by the request.</p>"
      }
    },
    "com.amazonaws.cleanrooms#ConfiguredTableSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanrooms#ConfiguredTableSummary",
        "traits": {
          "smithy.api#documentation": "<p>The member of the configured table summary list.</p>"
        }
      }
    },
    "com.amazonaws.cleanrooms#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the conflicting resource.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.cleanrooms#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the conflicting resource.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.cleanrooms#ConflictExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>A reason code for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.cleanrooms#ConflictExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALREADY_EXISTS",
            "name": "ALREADY_EXISTS"
          },
          {
            "value": "SUBRESOURCES_EXIST",
            "name": "SUBRESOURCES_EXIST"
          },
          {
            "value": "INVALID_STATE",
            "name": "INVALID_STATE"
          }
        ]
      }
    },
    "com.amazonaws.cleanrooms#CreateCollaboration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanrooms#CreateCollaborationInput"
      },
      "output": {
        "target": "com.amazonaws.cleanrooms#CreateCollaborationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanrooms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanrooms#InternalServerException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a new collaboration, a shared data collaboration environment",
        "smithy.api#documentation": "<p>Creates a new collaboration.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/collaborations"
        }
      }
    },
    "com.amazonaws.cleanrooms#CreateCollaborationInput": {
      "type": "structure",
      "members": {
        "members": {
          "target": "com.amazonaws.cleanrooms#MemberList",
          "traits": {
            "smithy.api#documentation": "<p>A list of initial members, not including the creator. This list is immutable.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanrooms#CollaborationName",
          "traits": {
            "smithy.api#documentation": "<p>The display name for a collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanrooms#CollaborationDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the collaboration provided by the collaboration owner.</p>",
            "smithy.api#required": {}
          }
        },
        "creatorMemberAbilities": {
          "target": "com.amazonaws.cleanrooms#MemberAbilities",
          "traits": {
            "smithy.api#documentation": "<p>The abilities granted to the collaboration creator.</p>",
            "smithy.api#required": {}
          }
        },
        "creatorDisplayName": {
          "target": "com.amazonaws.cleanrooms#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the collaboration creator.</p>",
            "smithy.api#required": {}
          }
        },
        "dataEncryptionMetadata": {
          "target": "com.amazonaws.cleanrooms#DataEncryptionMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The settings for client-side encryption with Cryptographic Computing for Clean Rooms.</p>"
          }
        },
        "queryLogStatus": {
          "target": "com.amazonaws.cleanrooms#CollaborationQueryLogStatus",
          "traits": {
            "smithy.api#documentation": "<p>An indicator as to whether query logging has been enabled or disabled for the\n         collaboration.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#CreateCollaborationOutput": {
      "type": "structure",
      "members": {
        "collaboration": {
          "target": "com.amazonaws.cleanrooms#Collaboration",
          "traits": {
            "smithy.api#documentation": "<p>The entire created collaboration object.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#CreateConfiguredTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanrooms#CreateConfiguredTableInput"
      },
      "output": {
        "target": "com.amazonaws.cleanrooms#CreateConfiguredTableOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanrooms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ConflictException"
        },
        {
          "target": "com.amazonaws.cleanrooms#InternalServerException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a new configured table",
        "smithy.api#documentation": "<p>Creates a new configured table resource.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/configuredTables"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cleanrooms#CreateConfiguredTableAnalysisRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanrooms#CreateConfiguredTableAnalysisRuleInput"
      },
      "output": {
        "target": "com.amazonaws.cleanrooms#CreateConfiguredTableAnalysisRuleOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanrooms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ConflictException"
        },
        {
          "target": "com.amazonaws.cleanrooms#InternalServerException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create analysis rules for configured tables",
        "smithy.api#documentation": "<p>Creates a new analysis rule for a configured table. Currently, only one analysis rule\n         can be created for a given configured table.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/configuredTables/{configuredTableIdentifier}/analysisRule"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cleanrooms#CreateConfiguredTableAnalysisRuleInput": {
      "type": "structure",
      "members": {
        "configuredTableIdentifier": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the configured table to create the analysis rule for. Currently accepts the configured table ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "ConfiguredTableId"
          }
        },
        "analysisRuleType": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableAnalysisRuleType",
          "traits": {
            "smithy.api#documentation": "<p>The type of analysis rule. Valid values are AGGREGATION and LIST.</p>",
            "smithy.api#required": {}
          }
        },
        "analysisRulePolicy": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableAnalysisRulePolicy",
          "traits": {
            "smithy.api#documentation": "<p>The entire created configured table analysis rule object.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#CreateConfiguredTableAnalysisRuleOutput": {
      "type": "structure",
      "members": {
        "analysisRule": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableAnalysisRule",
          "traits": {
            "smithy.api#documentation": "<p>The entire created analysis rule.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#CreateConfiguredTableAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanrooms#CreateConfiguredTableAssociationInput"
      },
      "output": {
        "target": "com.amazonaws.cleanrooms#CreateConfiguredTableAssociationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanrooms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ConflictException"
        },
        {
          "target": "com.amazonaws.cleanrooms#InternalServerException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to link a configured table with a collaboration by creating a new association",
        "aws.iam#requiredActions": ["iam:PassRole"],
        "smithy.api#documentation": "<p>Creates a configured table association. A configured table association links a\n         configured table with a collaboration.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/memberships/{membershipIdentifier}/configuredTableAssociations"
        }
      }
    },
    "com.amazonaws.cleanrooms#CreateConfiguredTableAssociationInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.cleanrooms#TableAlias",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configured table association. This name is used to query the underlying\n         configured table.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanrooms#TableDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the configured table association.</p>"
          }
        },
        "membershipIdentifier": {
          "target": "com.amazonaws.cleanrooms#MembershipIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for one of your memberships for a collaboration. The configured\n         table is associated to the collaboration that this membership belongs to. Currently accepts\n         a membership ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "MembershipId"
          }
        },
        "configuredTableIdentifier": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the configured table to be associated to. Currently accepts a\n         configured table ID.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.cleanrooms#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The service will assume this role to access catalog metadata and query the table.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#CreateConfiguredTableAssociationOutput": {
      "type": "structure",
      "members": {
        "configuredTableAssociation": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The entire configured table association object.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#CreateConfiguredTableInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.cleanrooms#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configured table.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanrooms#TableDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the configured table.</p>"
          }
        },
        "tableReference": {
          "target": "com.amazonaws.cleanrooms#TableReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the AWS Glue table being configured.</p>",
            "smithy.api#required": {}
          }
        },
        "allowedColumns": {
          "target": "com.amazonaws.cleanrooms#AllowedColumnList",
          "traits": {
            "smithy.api#documentation": "<p>The columns of the underlying table that can be used by collaborations or analysis rules.</p>",
            "smithy.api#required": {}
          }
        },
        "analysisMethod": {
          "target": "com.amazonaws.cleanrooms#AnalysisMethod",
          "traits": {
            "smithy.api#documentation": "<p>The analysis method for the configured tables. The only valid value is currently `DIRECT_QUERY`.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#CreateConfiguredTableOutput": {
      "type": "structure",
      "members": {
        "configuredTable": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTable",
          "traits": {
            "smithy.api#documentation": "<p>The created configured table.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#CreateMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanrooms#CreateMembershipInput"
      },
      "output": {
        "target": "com.amazonaws.cleanrooms#CreateMembershipOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanrooms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ConflictException"
        },
        {
          "target": "com.amazonaws.cleanrooms#InternalServerException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to join collaborations by creating a membership",
        "smithy.api#documentation": "<p>Creates a membership for a specific collaboration identifier and joins the\n         collaboration.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/memberships"
        }
      }
    },
    "com.amazonaws.cleanrooms#CreateMembershipInput": {
      "type": "structure",
      "members": {
        "collaborationIdentifier": {
          "target": "com.amazonaws.cleanrooms#CollaborationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the associated collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "queryLogStatus": {
          "target": "com.amazonaws.cleanrooms#MembershipQueryLogStatus",
          "traits": {
            "smithy.api#documentation": "<p>An indicator as to whether query logging has been enabled or disabled for the\n         collaboration.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#CreateMembershipOutput": {
      "type": "structure",
      "members": {
        "membership": {
          "target": "com.amazonaws.cleanrooms#Membership",
          "traits": {
            "smithy.api#documentation": "<p>The membership that was created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#DataEncryptionMetadata": {
      "type": "structure",
      "members": {
        "allowCleartext": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether encrypted tables can contain cleartext data (true) or are to cryptographically process every column (false).</p>",
            "smithy.api#required": {}
          }
        },
        "allowDuplicates": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether Fingerprint columns can contain duplicate entries (true) or are to contain only non-repeated values (false).</p>",
            "smithy.api#required": {}
          }
        },
        "allowJoinsOnColumnsWithDifferentNames": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether Fingerprint columns can be joined on any other Fingerprint column with a different name (true) or can only be joined on Fingerprint columns of the same name (false).</p>",
            "smithy.api#required": {}
          }
        },
        "preserveNulls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether NULL values are to be copied as NULL to encrypted tables (true) or cryptographically processed (false).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The settings for client-side encryption for cryptographic computing.</p>"
      }
    },
    "com.amazonaws.cleanrooms#DeleteCollaboration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanrooms#DeleteCollaborationInput"
      },
      "output": {
        "target": "com.amazonaws.cleanrooms#DeleteCollaborationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanrooms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanrooms#InternalServerException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete an existing collaboration",
        "smithy.api#documentation": "<p>Deletes a collaboration. It can only be called by the collaboration owner.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/collaborations/{collaborationIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cleanrooms#DeleteCollaborationInput": {
      "type": "structure",
      "members": {
        "collaborationIdentifier": {
          "target": "com.amazonaws.cleanrooms#CollaborationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the collaboration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "CollaborationId"
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#DeleteCollaborationOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.cleanrooms#DeleteConfiguredTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanrooms#DeleteConfiguredTableInput"
      },
      "output": {
        "target": "com.amazonaws.cleanrooms#DeleteConfiguredTableOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanrooms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ConflictException"
        },
        {
          "target": "com.amazonaws.cleanrooms#InternalServerException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete a configured table",
        "smithy.api#documentation": "<p>Deletes a configured table.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/configuredTables/{configuredTableIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cleanrooms#DeleteConfiguredTableAnalysisRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanrooms#DeleteConfiguredTableAnalysisRuleInput"
      },
      "output": {
        "target": "com.amazonaws.cleanrooms#DeleteConfiguredTableAnalysisRuleOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanrooms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ConflictException"
        },
        {
          "target": "com.amazonaws.cleanrooms#InternalServerException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete an existing analysis rule",
        "smithy.api#documentation": "<p>Deletes a configured table analysis rule.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cleanrooms#DeleteConfiguredTableAnalysisRuleInput": {
      "type": "structure",
      "members": {
        "configuredTableIdentifier": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the configured table that the analysis rule applies to.\n         Currently accepts the configured table ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "ConfiguredTableId"
          }
        },
        "analysisRuleType": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableAnalysisRuleType",
          "traits": {
            "smithy.api#documentation": "<p>The analysis rule type to be deleted. Configured table analysis rules are uniquely identified by their configured table identifier and analysis rule type.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#DeleteConfiguredTableAnalysisRuleOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>An empty response that indicates a successful delete.</p>"
      }
    },
    "com.amazonaws.cleanrooms#DeleteConfiguredTableAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanrooms#DeleteConfiguredTableAssociationInput"
      },
      "output": {
        "target": "com.amazonaws.cleanrooms#DeleteConfiguredTableAssociationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanrooms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ConflictException"
        },
        {
          "target": "com.amazonaws.cleanrooms#InternalServerException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cleanrooms#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to remove a configured table association from a collaboration",
        "smithy.api#documentation": "<p>Deletes a configured table association.</p>",
        "smithy.api#http": {
          "code": 204,
          "method": "DELETE",
          "uri": "/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cleanrooms#DeleteConfiguredTableAssociationInput": {
      "type": "structure",
      "members": {
        "configuredTableAssociationIdentifier": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableAssociationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the configured table association to be deleted. Currently accepts the configured table ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "ConfiguredTableAssociationId"
          }
        },
        "membershipIdentifier": {
          "target": "com.amazonaws.cleanrooms#MembershipIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the membership that the configured table association belongs to.\n         Currently accepts the membership ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "MembershipId"
          }
        }
      }
    },
    "com.amazonaws.cleanrooms#DeleteConfiguredTableAssociationOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.cleanrooms#DeleteConfiguredTableInput": {
      "type": "structure",
      "members": {
        "configuredTableIdentifier": {
          "target": "com.amazonaws.cleanrooms#ConfiguredTableIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the configured table to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "ConfiguredTableId"
[...]
