{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.cleanroomsml#AWSStarkControlService": {
      "type": "service",
      "version": "2023-09-06",
      "operations": [
        {
          "target": "com.amazonaws.cleanroomsml#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.cleanroomsml#TagResource"
        },
        {
          "target": "com.amazonaws.cleanroomsml#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.cleanroomsml#AudienceExportJob"
        },
        {
          "target": "com.amazonaws.cleanroomsml#AudienceGenerationJob"
        },
        {
          "target": "com.amazonaws.cleanroomsml#AudienceModel"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModel"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelPolicy"
        },
        {
          "target": "com.amazonaws.cleanroomsml#TrainingDataset"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CleanRoomsML",
          "arnNamespace": "cleanrooms-ml",
          "cloudTrailEventSource": "cleanrooms-ml.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "cleanrooms-ml"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-user-agent",
            "x-amzn-platform-id",
            "x-amzn-trace-id"
          ],
          "additionalExposedHeaders": ["x-amzn-errortype", "x-amzn-requestid", "x-amzn-trace-id"],
          "maxAge": 86400
        },
        "smithy.api#documentation": "<p>Welcome to the <i>Amazon Web Services Clean Rooms ML API Reference</i>.</p>\n         <p>Amazon Web Services Clean Rooms ML provides a privacy-enhancing method for two parties to identify similar users in their data without the need to share their data with each other. The first party brings the training data to Clean Rooms so that they can create and configure an audience model (lookalike model) and associate it with a collaboration. The second party then brings their seed data to Clean Rooms  and generates an audience (lookalike segment) that resembles the training data.</p>\n         <p>To learn more about Amazon Web Services Clean Rooms ML concepts, procedures, and best practices, see the\n       <a href=\"https://docs.aws.amazon.com/clean-rooms/latest/userguide/machine-learning.html\">Clean Rooms User Guide</a>.</p>\n         <p>To learn more about SQL commands, functions, and conditions supported in Clean Rooms, see the\n       <a href=\"https://docs.aws.amazon.com/clean-rooms/latest/sql-reference/sql-reference.html\">Clean Rooms SQL Reference</a>.</p>",
        "smithy.api#title": "AWS Clean Rooms ML",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://cleanrooms-ml-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://cleanrooms-ml-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://cleanrooms-ml.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cleanrooms-ml.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.cleanroomsml#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.cleanroomsml#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceDestination": {
      "type": "structure",
      "members": {
        "s3Destination": {
          "target": "com.amazonaws.cleanroomsml#S3ConfigMap",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket and path for the configured audience.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the Amazon S3 bucket where the configured audience is stored.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceExportJob": {
      "type": "resource",
      "identifiers": {
        "audienceExportJobArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceExportJobArn"
        }
      },
      "create": {
        "target": "com.amazonaws.cleanroomsml#StartAudienceExportJob"
      },
      "list": {
        "target": "com.amazonaws.cleanroomsml#ListAudienceExportJobs"
      },
      "traits": {
        "aws.api#arn": {
          "template": "{audienceExportJobArn}",
          "absolute": true
        }
      }
    },
    "com.amazonaws.cleanroomsml#AudienceExportJobArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "service": "com.amazonaws.cleanroomsml#AWSStarkControlService",
          "resource": "com.amazonaws.cleanroomsml#AudienceExportJob"
        },
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:[0-9]{12}:audience-export-job/[-a-zA-Z0-9_/.]+$"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceExportJobList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#AudienceExportJobSummary"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceExportJobStatus": {
      "type": "enum",
      "members": {
        "CREATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_PENDING"
          }
        },
        "CREATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_IN_PROGRESS"
          }
        },
        "CREATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FAILED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.amazonaws.cleanroomsml#AudienceExportJobSummary": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the audience export job was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the audience export job was updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the audience export job.</p>",
            "smithy.api#required": {}
          }
        },
        "audienceGenerationJobArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceGenerationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the audience generation job that was exported.</p>",
            "smithy.api#required": {}
          }
        },
        "audienceSize": {
          "target": "com.amazonaws.cleanroomsml#AudienceSize",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the audience export job.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.cleanroomsml#AudienceExportJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the audience export job.</p>",
            "smithy.api#required": {}
          }
        },
        "statusDetails": {
          "target": "com.amazonaws.cleanroomsml#StatusDetails"
        },
        "outputLocation": {
          "target": "com.amazonaws.cleanroomsml#S3Path",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket where the audience export is stored.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the audience export job.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceGenerationJob": {
      "type": "resource",
      "identifiers": {
        "audienceGenerationJobArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceGenerationJobArn"
        }
      },
      "create": {
        "target": "com.amazonaws.cleanroomsml#StartAudienceGenerationJob"
      },
      "read": {
        "target": "com.amazonaws.cleanroomsml#GetAudienceGenerationJob"
      },
      "delete": {
        "target": "com.amazonaws.cleanroomsml#DeleteAudienceGenerationJob"
      },
      "list": {
        "target": "com.amazonaws.cleanroomsml#ListAudienceGenerationJobs"
      },
      "traits": {
        "aws.api#arn": {
          "template": "{audienceGenerationJobArn}",
          "absolute": true
        }
      }
    },
    "com.amazonaws.cleanroomsml#AudienceGenerationJobArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "service": "com.amazonaws.cleanroomsml#AWSStarkControlService",
          "resource": "com.amazonaws.cleanroomsml#AudienceGenerationJob"
        },
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:[0-9]{12}:audience-generation-job/[-a-zA-Z0-9_/.]+$"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceGenerationJobDataSource": {
      "type": "structure",
      "members": {
        "dataSource": {
          "target": "com.amazonaws.cleanroomsml#S3ConfigMap",
          "traits": {
            "smithy.api#documentation": "<p>Defines the Amazon S3 bucket where the seed audience for the generating audience is stored. A valid data source is a JSON line file in the following format:</p>\n         <p>\n            <code>{\"user_id\": \"111111\"}</code>\n         </p>\n         <p>\n            <code>{\"user_id\": \"222222\"}</code>\n         </p>\n         <p>\n            <code>...</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.cleanroomsml#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that can read the Amazon S3 bucket where the training data is stored.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the Amazon S3 bucket where the seed audience for the generating audience is stored.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceGenerationJobList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#AudienceGenerationJobSummary"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceGenerationJobStatus": {
      "type": "enum",
      "members": {
        "CREATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_PENDING"
          }
        },
        "CREATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_IN_PROGRESS"
          }
        },
        "CREATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FAILED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_PENDING"
          }
        },
        "DELETE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_IN_PROGRESS"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        }
      }
    },
    "com.amazonaws.cleanroomsml#AudienceGenerationJobSummary": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the audience generation job was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the audience generation job was updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "audienceGenerationJobArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceGenerationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the audience generation job.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the audience generation job.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the audience generation job.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.cleanroomsml#AudienceGenerationJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the audience generation job.</p>",
            "smithy.api#required": {}
          }
        },
        "configuredAudienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured audience model that was used for this audience generation job.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationId": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the collaboration that contains this audience generation job.</p>"
          }
        },
        "startedBy": {
          "target": "com.amazonaws.cleanroomsml#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Account that submitted the job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the configured audience generation job.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceModel": {
      "type": "resource",
      "identifiers": {
        "audienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceModelArn"
        }
      },
      "create": {
        "target": "com.amazonaws.cleanroomsml#CreateAudienceModel"
      },
      "read": {
        "target": "com.amazonaws.cleanroomsml#GetAudienceModel"
      },
      "delete": {
        "target": "com.amazonaws.cleanroomsml#DeleteAudienceModel"
      },
      "list": {
        "target": "com.amazonaws.cleanroomsml#ListAudienceModels"
      },
      "traits": {
        "aws.api#arn": {
          "template": "{audienceModelArn}",
          "absolute": true
        }
      }
    },
    "com.amazonaws.cleanroomsml#AudienceModelArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "service": "com.amazonaws.cleanroomsml#AWSStarkControlService",
          "resource": "com.amazonaws.cleanroomsml#AudienceModel"
        },
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:[0-9]{12}:audience-model/[-a-zA-Z0-9_/.]+$"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceModelList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#AudienceModelSummary"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceModelStatus": {
      "type": "enum",
      "members": {
        "CREATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_PENDING"
          }
        },
        "CREATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_IN_PROGRESS"
          }
        },
        "CREATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FAILED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_PENDING"
          }
        },
        "DELETE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_IN_PROGRESS"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        }
      }
    },
    "com.amazonaws.cleanroomsml#AudienceModelSummary": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the audience model was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the audience model was updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "audienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "trainingDatasetArn": {
          "target": "com.amazonaws.cleanroomsml#TrainingDatasetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the training dataset that was used for the audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.cleanroomsml#AudienceModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the audience model.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the audience model.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceQualityMetrics": {
      "type": "structure",
      "members": {
        "relevanceMetrics": {
          "target": "com.amazonaws.cleanroomsml#RelevanceMetrics",
          "traits": {
            "smithy.api#documentation": "<p>The relevance scores of the generated audience.</p>",
            "smithy.api#required": {}
          }
        },
        "recallMetric": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>The recall score of the generated audience. Recall is the percentage of the most similar users (by default, the most similar 20%) from a sample of the training data that are included in the seed audience by the audience generation job. Values range from 0-1, larger values indicate a better audience. A recall value approximately equal to the maximum bin size indicates that the audience model is equivalent to random selection.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metrics that describe the quality of the generated audience.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceSize": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.cleanroomsml#AudienceSizeType",
          "traits": {
            "smithy.api#documentation": "<p>Whether the audience size is defined in absolute terms or as a percentage. You can use the <code>ABSOLUTE</code>\n            <a>AudienceSize</a> to configure out audience sizes using the count of identifiers in the output. You can use the <code>Percentage</code>\n            <a>AudienceSize</a> to configure sizes in the range 1-100 percent.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.cleanroomsml#AudienceSizeValue",
          "traits": {
            "smithy.api#documentation": "<p>Specify an audience size value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The size of the generated audience. Must match one of the sizes in the configured audience model.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceSizeBins": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#AudienceSizeValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.cleanroomsml#AudienceSizeConfig": {
      "type": "structure",
      "members": {
        "audienceSizeType": {
          "target": "com.amazonaws.cleanroomsml#AudienceSizeType",
          "traits": {
            "smithy.api#documentation": "<p>Whether the audience output sizes are defined as an absolute number or a percentage.</p>",
            "smithy.api#required": {}
          }
        },
        "audienceSizeBins": {
          "target": "com.amazonaws.cleanroomsml#AudienceSizeBins",
          "traits": {
            "smithy.api#documentation": "<p>An array of the different audience output sizes.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configure the list of audience output sizes that can be created. A request to <a>StartAudienceGenerationJob</a> that uses this configured audience model must have an <code>audienceSize</code> selected from this list. You can use the <code>ABSOLUTE</code>\n            <a>AudienceSize</a> to configure out audience sizes using the count of identifiers in the output. You can use the <code>Percentage</code>\n            <a>AudienceSize</a> to configure sizes in the range 1-100 percent.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceSizeType": {
      "type": "enum",
      "members": {
        "ABSOLUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABSOLUTE"
          }
        },
        "PERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERCENTAGE"
          }
        }
      }
    },
    "com.amazonaws.cleanroomsml#AudienceSizeValue": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 20000000
        }
      }
    },
    "com.amazonaws.cleanroomsml#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_](([a-zA-Z0-9_ ]+-)*([a-zA-Z0-9_ ]+))?$"
      }
    },
    "com.amazonaws.cleanroomsml#ColumnSchema": {
      "type": "structure",
      "members": {
        "columnName": {
          "target": "com.amazonaws.cleanroomsml#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a column.</p>",
            "smithy.api#required": {}
          }
        },
        "columnTypes": {
          "target": "com.amazonaws.cleanroomsml#ColumnTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The data type of column.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata for a column.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#ColumnType": {
      "type": "enum",
      "members": {
        "USER_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_ID"
          }
        },
        "ITEM_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_ID"
          }
        },
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMP"
          }
        },
        "CATEGORICAL_FEATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORICAL_FEATURE"
          }
        },
        "NUMERICAL_FEATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMERICAL_FEATURE"
          }
        }
      }
    },
    "com.amazonaws.cleanroomsml#ColumnTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#ColumnType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredAudienceModel": {
      "type": "resource",
      "identifiers": {
        "configuredAudienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelArn"
        }
      },
      "create": {
        "target": "com.amazonaws.cleanroomsml#CreateConfiguredAudienceModel"
      },
      "read": {
        "target": "com.amazonaws.cleanroomsml#GetConfiguredAudienceModel"
      },
      "update": {
        "target": "com.amazonaws.cleanroomsml#UpdateConfiguredAudienceModel"
      },
      "delete": {
        "target": "com.amazonaws.cleanroomsml#DeleteConfiguredAudienceModel"
      },
      "list": {
        "target": "com.amazonaws.cleanroomsml#ListConfiguredAudienceModels"
      },
      "traits": {
        "aws.api#arn": {
          "template": "{configuredAudienceModelArn}",
          "absolute": true
        }
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredAudienceModelArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "service": "com.amazonaws.cleanroomsml#AWSStarkControlService",
          "resource": "com.amazonaws.cleanroomsml#ConfiguredAudienceModel"
        },
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:[0-9]{12}:configured-audience-model/[-a-zA-Z0-9_/.]+$"
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredAudienceModelList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelSummary"
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredAudienceModelOutputConfig": {
      "type": "structure",
      "members": {
        "destination": {
          "target": "com.amazonaws.cleanroomsml#AudienceDestination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.cleanroomsml#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that can write the Amazon S3 bucket.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information necessary for the configure audience model output.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredAudienceModelPolicy": {
      "type": "resource",
      "identifiers": {
        "configuredAudienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelArn"
        }
      },
      "put": {
        "target": "com.amazonaws.cleanroomsml#PutConfiguredAudienceModelPolicy"
      },
      "read": {
        "target": "com.amazonaws.cleanroomsml#GetConfiguredAudienceModelPolicy"
      },
      "delete": {
        "target": "com.amazonaws.cleanroomsml#DeleteConfiguredAudienceModelPolicy"
      },
      "traits": {
        "aws.api#arn": {
          "template": "{configuredAudienceModelArn}",
          "absolute": true
        }
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredAudienceModelStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredAudienceModelSummary": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the configured audience model was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the configured audience model was updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configured audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "audienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the audience model that was used to create the configured audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "outputConfig": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelOutputConfig",
          "traits": {
            "smithy.api#documentation": "<p>The output configuration of the configured audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the configured audience model.</p>"
          }
        },
        "configuredAudienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured audience model that you are interested in.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the configured audience model.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the configured audience model.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't complete this action because another resource depends on this resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.cleanroomsml#CreateAudienceModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanroomsml#CreateAudienceModelRequest"
      },
      "output": {
        "target": "com.amazonaws.cleanroomsml#CreateAudienceModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanroomsml#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ConflictException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Defines the information necessary to create an audience model. An audience model is a machine learning model that Clean Rooms ML trains to measure similarity between users. Clean Rooms ML manages training and storing the audience model. The audience model can be used in multiple calls to the <a>StartAudienceGenerationJob</a> API.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/audience-model"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cleanroomsml#CreateAudienceModelRequest": {
      "type": "structure",
      "members": {
        "trainingDataStartTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start date and time of the training window.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "trainingDataEndTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end date and time of the training window.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the audience model resource.</p>",
            "smithy.api#required": {}
          }
        },
        "trainingDatasetArn": {
          "target": "com.amazonaws.cleanroomsml#TrainingDatasetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the training dataset for this audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "kmsKeyArn": {
          "target": "com.amazonaws.cleanroomsml#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key. This key is used to encrypt and decrypt customer-owned data in the trained ML model and the associated data.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.cleanroomsml#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The optional metadata that you apply to the resource to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define.</p>\n         <p>The following basic restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Maximum number of tags per resource - 50.</p>\n            </li>\n            <li>\n               <p>For each resource, each tag key must be unique, and each tag key can have only one value.</p>\n            </li>\n            <li>\n               <p>Maximum key length - 128 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>Maximum value length - 256 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>If your tagging schema is used across multiple services and resources, remember that other services may have restrictions on allowed characters. Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following characters: + - = . _ : / @.</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n               <p>Do not use aws:, AWS:, or any upper or lowercase combination of such as a prefix for keys as it is reserved for AWS use. You cannot edit or delete tag keys with this prefix. Values can have this prefix. If a tag value has aws as its prefix but the key does not, then Clean Rooms ML considers it to be a user tag and will count against the limit of 50 tags. Tags with only the key prefix of aws do not count against your tags per resource limit.</p>\n            </li>\n         </ul>"
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the audience model.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cleanroomsml#CreateAudienceModelResponse": {
      "type": "structure",
      "members": {
        "audienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the audience model.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cleanroomsml#CreateConfiguredAudienceModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanroomsml#CreateConfiguredAudienceModelRequest"
      },
      "output": {
        "target": "com.amazonaws.cleanroomsml#CreateConfiguredAudienceModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanroomsml#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ConflictException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Defines the information necessary to create a configured audience model.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/configured-audience-model"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cleanroomsml#CreateConfiguredAudienceModelRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configured audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "audienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the audience model to use for the configured audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "outputConfig": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelOutputConfig",
          "traits": {
            "smithy.api#documentation": "<p>Configure the Amazon S3 location and IAM Role for audiences created using this configured audience model. Each audience will have a unique location. The IAM Role must have <code>s3:PutObject</code> permission on the destination Amazon S3 location. If the destination is protected with Amazon S3 KMS-SSE, then the Role must also have the required KMS permissions.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the configured audience model.</p>"
          }
        },
        "sharedAudienceMetrics": {
          "target": "com.amazonaws.cleanroomsml#MetricsList",
          "traits": {
            "smithy.api#documentation": "<p>Whether audience metrics are shared.</p>",
            "smithy.api#required": {}
          }
        },
        "minMatchingSeedSize": {
          "target": "com.amazonaws.cleanroomsml#MinMatchingSeedSize",
          "traits": {
            "smithy.api#default": 500,
            "smithy.api#documentation": "<p>The minimum number of users from the seed audience that must match with users in the training data of the audience model. The default value is 500.</p>"
          }
        },
        "audienceSizeConfig": {
          "target": "com.amazonaws.cleanroomsml#AudienceSizeConfig",
          "traits": {
            "smithy.api#documentation": "<p>Configure the list of output sizes of audiences that can be created using this configured audience model. A request to <a>StartAudienceGenerationJob</a> that uses this configured audience model must have an <code>audienceSize</code> selected from this list. You can use the <code>ABSOLUTE</code>\n            <a>AudienceSize</a> to configure out audience sizes using the count of identifiers in the output. You can use the <code>Percentage</code>\n            <a>AudienceSize</a> to configure sizes in the range 1-100 percent.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.cleanroomsml#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The optional metadata that you apply to the resource to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define.</p>\n         <p>The following basic restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Maximum number of tags per resource - 50.</p>\n            </li>\n            <li>\n               <p>For each resource, each tag key must be unique, and each tag key can have only one value.</p>\n            </li>\n            <li>\n               <p>Maximum key length - 128 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>Maximum value length - 256 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>If your tagging schema is used across multiple services and resources, remember that other services may have restrictions on allowed characters. Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following characters: + - = . _ : / @.</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n               <p>Do not use aws:, AWS:, or any upper or lowercase combination of such as a prefix for keys as it is reserved for AWS use. You cannot edit or delete tag keys with this prefix. Values can have this prefix. If a tag value has aws as its prefix but the key does not, then Clean Rooms ML considers it to be a user tag and will count against the limit of 50 tags. Tags with only the key prefix of aws do not count against your tags per resource limit.</p>\n            </li>\n         </ul>"
          }
        },
        "childResourceTagOnCreatePolicy": {
          "target": "com.amazonaws.cleanroomsml#TagOnCreatePolicy",
          "traits": {
            "smithy.api#documentation": "<p>Configure how the service tags audience generation jobs created using this configured audience model. If you specify <code>NONE</code>, the tags from the <a>StartAudienceGenerationJob</a> request determine the tags of the audience generation job. If you specify <code>FROM_PARENT_RESOURCE</code>, the audience generation job inherits the tags from the configured audience model, by default. Tags in the <a>StartAudienceGenerationJob</a> will override the default.</p>\n         <p>When the client is in a different account than the configured audience model, the tags from the client are never applied to a resource in the caller's account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cleanroomsml#CreateConfiguredAudienceModelResponse": {
      "type": "structure",
      "members": {
        "configuredAudienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured audience model.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cleanroomsml#CreateTrainingDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanroomsml#CreateTrainingDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.cleanroomsml#CreateTrainingDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanroomsml#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ConflictException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Defines the information necessary to create a training dataset. In Clean Rooms ML, the <code>TrainingDataset</code> is metadata that points to a Glue table, which is read only during <code>AudienceModel</code> creation.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/training-dataset"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cleanroomsml#CreateTrainingDatasetRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the training dataset. This name must be unique in your account and region.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.cleanroomsml#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that Clean Rooms ML can assume to read the data referred to in the <code>dataSource</code> field of each dataset.</p>\n         <p>Passing a role across AWS accounts is not allowed. If you pass a role that isn't in your account, you get an <code>AccessDeniedException</code> error.</p>",
            "smithy.api#required": {}
          }
        },
        "trainingData": {
          "target": "com.amazonaws.cleanroomsml#DatasetList",
          "traits": {
            "smithy.api#documentation": "<p>An array of information that lists the Dataset objects, which specifies the dataset type and details on its location and schema. You must provide a role that has read access to these tables.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1
            },
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.cleanroomsml#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The optional metadata that you apply to the resource to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define.</p>\n         <p>The following basic restrictions apply to tags:</p>\n         <ul>\n            <li>\n               <p>Maximum number of tags per resource - 50.</p>\n            </li>\n            <li>\n               <p>For each resource, each tag key must be unique, and each tag key can have only one value.</p>\n            </li>\n            <li>\n               <p>Maximum key length - 128 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>Maximum value length - 256 Unicode characters in UTF-8.</p>\n            </li>\n            <li>\n               <p>If your tagging schema is used across multiple services and resources, remember that other services may have restrictions on allowed characters. Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following characters: + - = . _ : / @.</p>\n            </li>\n            <li>\n               <p>Tag keys and values are case sensitive.</p>\n            </li>\n            <li>\n               <p>Do not use aws:, AWS:, or any upper or lowercase combination of such as a prefix for keys as it is reserved for AWS use. You cannot edit or delete tag keys with this prefix. Values can have this prefix. If a tag value has aws as its prefix but the key does not, then Clean Rooms ML considers it to be a user tag and will count against the limit of 50 tags. Tags with only the key prefix of aws do not count against your tags per resource limit.</p>\n            </li>\n         </ul>"
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the training dataset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cleanroomsml#CreateTrainingDatasetResponse": {
      "type": "structure",
      "members": {
        "trainingDatasetArn": {
          "target": "com.amazonaws.cleanroomsml#TrainingDatasetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the training dataset resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cleanroomsml#DataSource": {
      "type": "structure",
      "members": {
        "glueDataSource": {
          "target": "com.amazonaws.cleanroomsml#GlueDataSource",
          "traits": {
            "smithy.api#documentation": "<p>A GlueDataSource object that defines the catalog ID, database name, and table name for the training data.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines information about the Glue data source that contains the training data.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#Dataset": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.cleanroomsml#DatasetType",
          "traits": {
            "smithy.api#documentation": "<p>What type of information is found in the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "inputConfig": {
          "target": "com.amazonaws.cleanroomsml#DatasetInputConfig",
          "traits": {
            "smithy.api#documentation": "<p>A DatasetInputConfig object that defines the data source and schema mapping.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines where the training dataset is located, what type of data it contains, and how to access the data.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#DatasetInputConfig": {
      "type": "structure",
      "members": {
        "schema": {
          "target": "com.amazonaws.cleanroomsml#DatasetSchemaList",
          "traits": {
            "smithy.api#documentation": "<p>The schema information for the training data.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 100
            },
            "smithy.api#required": {}
          }
        },
        "dataSource": {
          "target": "com.amazonaws.cleanroomsml#DataSource",
          "traits": {
            "smithy.api#documentation": "<p>A DataSource object that specifies the Glue data source for the training data.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the Glue data source and schema mapping information.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#DatasetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#Dataset"
      }
    },
    "com.amazonaws.cleanroomsml#DatasetSchemaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#ColumnSchema"
      }
    },
    "com.amazonaws.cleanroomsml#DatasetType": {
      "type": "enum",
      "members": {
        "INTERACTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERACTIONS"
          }
        }
      }
    },
    "com.amazonaws.cleanroomsml#DeleteAudienceGenerationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanroomsml#DeleteAudienceGenerationJobRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanroomsml#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ConflictException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified audience generation job, and removes all data associated with the job.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/audience-generation-job/{audienceGenerationJobArn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cleanroomsml#DeleteAudienceGenerationJobRequest": {
      "type": "structure",
      "members": {
        "audienceGenerationJobArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceGenerationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the audience generation job that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cleanroomsml#DeleteAudienceModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanroomsml#DeleteAudienceModelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanroomsml#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ConflictException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Specifies an audience model that you want to delete. You can't delete an audience model if there are any configured audience models that depend on the audience model.</p>",
        "smithy.api#http": {
          "code": 200,
          "uri": "/audience-model/{audienceModelArn}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cleanroomsml#DeleteAudienceModelRequest": {
      "type": "structure",
      "members": {
        "audienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the audience model that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cleanroomsml#DeleteConfiguredAudienceModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanroomsml#DeleteConfiguredAudienceModelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanroomsml#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ConflictException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified configured audience model. You can't delete a configured audience model if there are any lookalike models that use the configured audience model. If you delete a configured audience model, it will be removed from any collaborations that it is associated to.</p>",
        "smithy.api#http": {
          "code": 200,
          "uri": "/configured-audience-model/{configuredAudienceModelArn}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cleanroomsml#DeleteConfiguredAudienceModelPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanroomsml#DeleteConfiguredAudienceModelPolicyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanroomsml#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified configured audience model policy.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/configured-audience-model/{configuredAudienceModelArn}/policy"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cleanroomsml#DeleteConfiguredAudienceModelPolicyRequest": {
      "type": "structure",
      "members": {
        "configuredAudienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured audience model policy that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cleanroomsml#DeleteConfiguredAudienceModelRequest": {
      "type": "structure",
      "members": {
        "configuredAudienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured audience model that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cleanroomsml#DeleteTrainingDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanroomsml#DeleteTrainingDatasetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanroomsml#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ConflictException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Specifies a training dataset that you want to delete. You can't delete a training dataset if there are any audience models that depend on the training dataset. In Clean Rooms ML, the <code>TrainingDataset</code> is metadata that points to a Glue table, which is read only during <code>AudienceModel</code> creation. This action deletes the metadata.</p>",
        "smithy.api#http": {
          "uri": "/training-dataset/{trainingDatasetArn}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cleanroomsml#DeleteTrainingDatasetRequest": {
      "type": "structure",
      "members": {
        "trainingDatasetArn": {
          "target": "com.amazonaws.cleanroomsml#TrainingDatasetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the training dataset that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cleanroomsml#GetAudienceGenerationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanroomsml#GetAudienceGenerationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.cleanroomsml#GetAudienceGenerationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanroomsml#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an audience generation job.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/audience-generation-job/{audienceGenerationJobArn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.cleanroomsml#GetAudienceGenerationJobRequest": {
      "type": "structure",
      "members": {
        "audienceGenerationJobArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceGenerationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the audience generation job that you are interested in.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cleanroomsml#GetAudienceGenerationJobResponse": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the audience generation job was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the audience generation job was updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "audienceGenerationJobArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceGenerationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the audience generation job.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the audience generation job.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the audience generation job.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.cleanroomsml#AudienceGenerationJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the audience generation job.</p>",
            "smithy.api#required": {}
          }
        },
        "statusDetails": {
          "target": "com.amazonaws.cleanroomsml#StatusDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the status of the audience generation job.</p>"
          }
        },
        "configuredAudienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured audience model used for this audience generation job.</p>",
            "smithy.api#required": {}
          }
        },
        "seedAudience": {
          "target": "com.amazonaws.cleanroomsml#AudienceGenerationJobDataSource",
          "traits": {
            "smithy.api#documentation": "<p>The seed audience that was used for this audience generation job. This field will be null if the account calling the API is the account that started this audience generation job. </p>"
          }
        },
        "includeSeedInOutput": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Configure whether the seed users are included in the output audience. By default, Clean Rooms ML removes seed users from the output audience. If you specify <code>TRUE</code>, the seed users will appear first in the output. Clean Rooms ML does not explicitly reveal whether a user was in the seed, but the recipient of the audience will know that the first <code>minimumSeedSize</code> count of users are from the seed.</p>"
          }
        },
        "collaborationId": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the collaboration that this audience generation job is associated with.</p>"
          }
        },
        "metrics": {
          "target": "com.amazonaws.cleanroomsml#AudienceQualityMetrics",
          "traits": {
            "smithy.api#documentation": "<p>The relevance scores for different audience sizes and the recall score of the generated audience. </p>"
          }
        },
        "startedBy": {
          "target": "com.amazonaws.cleanroomsml#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account that started this audience generation job.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.cleanroomsml#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags that are associated to this audience generation job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cleanroomsml#GetAudienceModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanroomsml#GetAudienceModelRequest"
      },
      "output": {
        "target": "com.amazonaws.cleanroomsml#GetAudienceModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanroomsml#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an audience model</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/audience-model/{audienceModelArn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.cleanroomsml#GetAudienceModelRequest": {
      "type": "structure",
      "members": {
        "audienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the audience model that you are interested in.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cleanroomsml#GetAudienceModelResponse": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the audience model was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the audience model was updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "trainingDataStartTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start date specified for the training window.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "trainingDataEndTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end date specified for the training window.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "audienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "trainingDatasetArn": {
          "target": "com.amazonaws.cleanroomsml#TrainingDatasetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the training dataset that was used for this audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.cleanroomsml#AudienceModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "statusDetails": {
          "target": "com.amazonaws.cleanroomsml#StatusDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the status of the audience model.</p>"
          }
        },
        "kmsKeyArn": {
          "target": "com.amazonaws.cleanroomsml#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key ARN used for the audience model.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.cleanroomsml#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags that are assigned to the audience model.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the audience model.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cleanroomsml#GetConfiguredAudienceModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanroomsml#GetConfiguredAudienceModelRequest"
      },
      "output": {
        "target": "com.amazonaws.cleanroomsml#GetConfiguredAudienceModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanroomsml#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a specified configured audience model.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/configured-audience-model/{configuredAudienceModelArn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.cleanroomsml#GetConfiguredAudienceModelPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanroomsml#GetConfiguredAudienceModelPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.cleanroomsml#GetConfiguredAudienceModelPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanroomsml#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a configured audience model policy.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
[...]
