{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.cleanroomsml#AWSStarkControlService": {
      "type": "service",
      "version": "2023-09-06",
      "operations": [
        {
          "target": "com.amazonaws.cleanroomsml#ListCollaborationConfiguredModelAlgorithmAssociations"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ListCollaborationMLInputChannels"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ListCollaborationTrainedModelExportJobs"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ListCollaborationTrainedModelInferenceJobs"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ListCollaborationTrainedModels"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.cleanroomsml#TagResource"
        },
        {
          "target": "com.amazonaws.cleanroomsml#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.cleanroomsml#AudienceExportJob"
        },
        {
          "target": "com.amazonaws.cleanroomsml#AudienceGenerationJob"
        },
        {
          "target": "com.amazonaws.cleanroomsml#AudienceModel"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModel"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelPolicy"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithm"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmAssociation"
        },
        {
          "target": "com.amazonaws.cleanroomsml#MLConfiguration"
        },
        {
          "target": "com.amazonaws.cleanroomsml#MLInputChannel"
        },
        {
          "target": "com.amazonaws.cleanroomsml#TrainedModel"
        },
        {
          "target": "com.amazonaws.cleanroomsml#TrainedModelExportJob"
        },
        {
          "target": "com.amazonaws.cleanroomsml#TrainedModelInferenceJob"
        },
        {
          "target": "com.amazonaws.cleanroomsml#TrainingDataset"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CleanRoomsML",
          "arnNamespace": "cleanrooms-ml",
          "cloudTrailEventSource": "cleanrooms-ml.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "cleanrooms-ml"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-user-agent",
            "x-amzn-platform-id",
            "x-amzn-trace-id"
          ],
          "additionalExposedHeaders": ["x-amzn-errortype", "x-amzn-requestid", "x-amzn-trace-id"],
          "maxAge": 86400
        },
        "smithy.api#documentation": "<p>Welcome to the <i>Amazon Web Services Clean Rooms ML API Reference</i>.</p> <p>Amazon Web Services Clean Rooms ML provides a privacy-enhancing method for two parties to identify similar users in their data without the need to share their data with each other. The first party brings the training data to Clean Rooms so that they can create and configure an audience model (lookalike model) and associate it with a collaboration. The second party then brings their seed data to Clean Rooms and generates an audience (lookalike segment) that resembles the training data.</p> <p>To learn more about Amazon Web Services Clean Rooms ML concepts, procedures, and best practices, see the <a href=\"https://docs.aws.amazon.com/clean-rooms/latest/userguide/machine-learning.html\">Clean Rooms User Guide</a>.</p> <p>To learn more about SQL commands, functions, and conditions supported in Clean Rooms, see the <a href=\"https://docs.aws.amazon.com/clean-rooms/latest/sql-reference/sql-reference.html\">Clean Rooms SQL Reference</a>.</p> <p/>",
        "smithy.api#title": "AWS Clean Rooms ML",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://cleanrooms-ml-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://cleanrooms-ml-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://cleanrooms-ml.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cleanrooms-ml.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cleanrooms-ml.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.cleanroomsml#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.cleanroomsml#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.cleanroomsml#AccountIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.cleanroomsml#AlgorithmImage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.cleanroomsml#AnalysisTemplateArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        },
        "smithy.api#pattern": "^arn:aws[-a-z]*:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:membership/[\\d\\w-]+/analysistemplate/[\\d\\w-]+$"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceDestination": {
      "type": "structure",
      "members": {
        "s3Destination": {
          "target": "com.amazonaws.cleanroomsml#S3ConfigMap",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket and path for the configured audience.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the Amazon S3 bucket where the configured audience is stored.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceExportJob": {
      "type": "resource",
      "identifiers": {
        "audienceExportJobArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceExportJobArn"
        }
      },
      "create": {
        "target": "com.amazonaws.cleanroomsml#StartAudienceExportJob"
      },
      "list": {
        "target": "com.amazonaws.cleanroomsml#ListAudienceExportJobs"
      },
      "traits": {
        "aws.api#arn": {
          "template": "{audienceExportJobArn}",
          "absolute": true
        }
      }
    },
    "com.amazonaws.cleanroomsml#AudienceExportJobArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "service": "com.amazonaws.cleanroomsml#AWSStarkControlService",
          "resource": "com.amazonaws.cleanroomsml#AudienceExportJob"
        },
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:[0-9]{12}:audience-export-job/[-a-zA-Z0-9_/.]+$"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceExportJobList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#AudienceExportJobSummary"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceExportJobStatus": {
      "type": "enum",
      "members": {
        "CREATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_PENDING"
          }
        },
        "CREATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_IN_PROGRESS"
          }
        },
        "CREATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FAILED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.amazonaws.cleanroomsml#AudienceExportJobSummary": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the audience export job was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the audience export job was updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the audience export job.</p>",
            "smithy.api#required": {}
          }
        },
        "audienceGenerationJobArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceGenerationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the audience generation job that was exported.</p>",
            "smithy.api#required": {}
          }
        },
        "audienceSize": {
          "target": "com.amazonaws.cleanroomsml#AudienceSize",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the audience export job.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.cleanroomsml#AudienceExportJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the audience export job.</p>",
            "smithy.api#required": {}
          }
        },
        "statusDetails": {
          "target": "com.amazonaws.cleanroomsml#StatusDetails"
        },
        "outputLocation": {
          "target": "com.amazonaws.cleanroomsml#S3Path",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket where the audience export is stored.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the audience export job.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceGenerationJob": {
      "type": "resource",
      "identifiers": {
        "audienceGenerationJobArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceGenerationJobArn"
        }
      },
      "create": {
        "target": "com.amazonaws.cleanroomsml#StartAudienceGenerationJob"
      },
      "read": {
        "target": "com.amazonaws.cleanroomsml#GetAudienceGenerationJob"
      },
      "delete": {
        "target": "com.amazonaws.cleanroomsml#DeleteAudienceGenerationJob"
      },
      "list": {
        "target": "com.amazonaws.cleanroomsml#ListAudienceGenerationJobs"
      },
      "traits": {
        "aws.api#arn": {
          "template": "{audienceGenerationJobArn}",
          "absolute": true
        }
      }
    },
    "com.amazonaws.cleanroomsml#AudienceGenerationJobArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "service": "com.amazonaws.cleanroomsml#AWSStarkControlService",
          "resource": "com.amazonaws.cleanroomsml#AudienceGenerationJob"
        },
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:[0-9]{12}:audience-generation-job/[-a-zA-Z0-9_/.]+$"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceGenerationJobDataSource": {
      "type": "structure",
      "members": {
        "dataSource": {
          "target": "com.amazonaws.cleanroomsml#S3ConfigMap",
          "traits": {
            "smithy.api#documentation": "<p>Defines the Amazon S3 bucket where the seed audience for the generating audience is stored. A valid data source is a JSON line file in the following format:</p> <p> <code>{\"user_id\": \"111111\"}</code> </p> <p> <code>{\"user_id\": \"222222\"}</code> </p> <p> <code>...</code> </p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.cleanroomsml#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that can read the Amazon S3 bucket where the seed audience is stored.</p>",
            "smithy.api#required": {}
          }
        },
        "sqlParameters": {
          "target": "com.amazonaws.cleanroomsml#ProtectedQuerySQLParameters",
          "traits": {
            "smithy.api#documentation": "<p>The protected SQL query parameters.</p>"
          }
        },
        "sqlComputeConfiguration": {
          "target": "com.amazonaws.cleanroomsml#ComputeConfiguration"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the Amazon S3 bucket where the seed audience for the generating audience is stored.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceGenerationJobList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#AudienceGenerationJobSummary"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceGenerationJobStatus": {
      "type": "enum",
      "members": {
        "CREATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_PENDING"
          }
        },
        "CREATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_IN_PROGRESS"
          }
        },
        "CREATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FAILED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_PENDING"
          }
        },
        "DELETE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_IN_PROGRESS"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        }
      }
    },
    "com.amazonaws.cleanroomsml#AudienceGenerationJobSummary": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the audience generation job was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the audience generation job was updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "audienceGenerationJobArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceGenerationJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the audience generation job.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the audience generation job.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the audience generation job.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.cleanroomsml#AudienceGenerationJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the audience generation job.</p>",
            "smithy.api#required": {}
          }
        },
        "configuredAudienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured audience model that was used for this audience generation job.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationId": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the collaboration that contains this audience generation job.</p>"
          }
        },
        "startedBy": {
          "target": "com.amazonaws.cleanroomsml#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Account that submitted the job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the configured audience generation job.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceModel": {
      "type": "resource",
      "identifiers": {
        "audienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceModelArn"
        }
      },
      "create": {
        "target": "com.amazonaws.cleanroomsml#CreateAudienceModel"
      },
      "read": {
        "target": "com.amazonaws.cleanroomsml#GetAudienceModel"
      },
      "delete": {
        "target": "com.amazonaws.cleanroomsml#DeleteAudienceModel"
      },
      "list": {
        "target": "com.amazonaws.cleanroomsml#ListAudienceModels"
      },
      "traits": {
        "aws.api#arn": {
          "template": "{audienceModelArn}",
          "absolute": true
        }
      }
    },
    "com.amazonaws.cleanroomsml#AudienceModelArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "service": "com.amazonaws.cleanroomsml#AWSStarkControlService",
          "resource": "com.amazonaws.cleanroomsml#AudienceModel"
        },
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:[0-9]{12}:audience-model/[-a-zA-Z0-9_/.]+$"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceModelList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#AudienceModelSummary"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceModelStatus": {
      "type": "enum",
      "members": {
        "CREATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_PENDING"
          }
        },
        "CREATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_IN_PROGRESS"
          }
        },
        "CREATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FAILED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_PENDING"
          }
        },
        "DELETE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_IN_PROGRESS"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        }
      }
    },
    "com.amazonaws.cleanroomsml#AudienceModelSummary": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the audience model was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the audience model was updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "audienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "trainingDatasetArn": {
          "target": "com.amazonaws.cleanroomsml#TrainingDatasetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the training dataset that was used for the audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.cleanroomsml#AudienceModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the audience model.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the audience model.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceQualityMetrics": {
      "type": "structure",
      "members": {
        "relevanceMetrics": {
          "target": "com.amazonaws.cleanroomsml#RelevanceMetrics",
          "traits": {
            "smithy.api#documentation": "<p>The relevance scores of the generated audience.</p>",
            "smithy.api#required": {}
          }
        },
        "recallMetric": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>The recall score of the generated audience. Recall is the percentage of the most similar users (by default, the most similar 20%) from a sample of the training data that are included in the seed audience by the audience generation job. Values range from 0-1, larger values indicate a better audience. A recall value approximately equal to the maximum bin size indicates that the audience model is equivalent to random selection. </p>",
            "smithy.api#range": {
              "min": 0.0,
              "max": 1.0
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metrics that describe the quality of the generated audience.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceSize": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.cleanroomsml#AudienceSizeType",
          "traits": {
            "smithy.api#documentation": "<p>Whether the audience size is defined in absolute terms or as a percentage. You can use the <code>ABSOLUTE</code> <a>AudienceSize</a> to configure out audience sizes using the count of identifiers in the output. You can use the <code>Percentage</code> <a>AudienceSize</a> to configure sizes in the range 1-100 percent.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.cleanroomsml#AudienceSizeValue",
          "traits": {
            "smithy.api#documentation": "<p>Specify an audience size value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The size of the generated audience. Must match one of the sizes in the configured audience model.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceSizeBins": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#AudienceSizeValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.cleanroomsml#AudienceSizeConfig": {
      "type": "structure",
      "members": {
        "audienceSizeType": {
          "target": "com.amazonaws.cleanroomsml#AudienceSizeType",
          "traits": {
            "smithy.api#documentation": "<p>Whether the audience output sizes are defined as an absolute number or a percentage.</p>",
            "smithy.api#required": {}
          }
        },
        "audienceSizeBins": {
          "target": "com.amazonaws.cleanroomsml#AudienceSizeBins",
          "traits": {
            "smithy.api#documentation": "<p>An array of the different audience output sizes.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the relevance scores at these audience sizes when used in the <a>GetAudienceGenerationJob</a> for a specified audience generation job and configured audience model.</p> <p>Specifies the list of allowed <code>audienceSize</code> values when used in the <a>StartAudienceExportJob</a> for an audience generation job. You can use the <code>ABSOLUTE</code> <a>AudienceSize</a> to configure out audience sizes using the count of identifiers in the output. You can use the <code>Percentage</code> <a>AudienceSize</a> to configure sizes in the range 1-100 percent.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#AudienceSizeType": {
      "type": "enum",
      "members": {
        "ABSOLUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ABSOLUTE"
          }
        },
        "PERCENTAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERCENTAGE"
          }
        }
      }
    },
    "com.amazonaws.cleanroomsml#AudienceSizeValue": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 20000000
        }
      }
    },
    "com.amazonaws.cleanroomsml#CancelTrainedModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanroomsml#CancelTrainedModelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanroomsml#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ConflictException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Submits a request to cancel the trained model job.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "PATCH",
          "uri": "/memberships/{membershipIdentifier}/trained-models/{trainedModelArn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cleanroomsml#CancelTrainedModelInferenceJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanroomsml#CancelTrainedModelInferenceJobRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanroomsml#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ConflictException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Submits a request to cancel a trained model inference job.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "PATCH",
          "uri": "/memberships/{membershipIdentifier}/trained-model-inference-jobs/{trainedModelInferenceJobArn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cleanroomsml#CancelTrainedModelInferenceJobRequest": {
      "type": "structure",
      "members": {
        "membershipIdentifier": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The membership ID of the trained model inference job that you want to cancel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "trainedModelInferenceJobArn": {
          "target": "com.amazonaws.cleanroomsml#TrainedModelInferenceJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the trained model inference job that you want to cancel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cleanroomsml#CancelTrainedModelRequest": {
      "type": "structure",
      "members": {
        "membershipIdentifier": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The membership ID of the trained model job that you want to cancel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "trainedModelArn": {
          "target": "com.amazonaws.cleanroomsml#TrainedModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the trained model job that you want to cancel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "versionIdentifier": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The version identifier of the trained model to cancel. This parameter allows you to specify which version of the trained model you want to cancel when multiple versions exist.</p> <p>If <code>versionIdentifier</code> is not specified, the base model will be cancelled.</p>",
            "smithy.api#httpQuery": "versionIdentifier"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cleanroomsml#CollaborationConfiguredModelAlgorithmAssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#CollaborationConfiguredModelAlgorithmAssociationSummary"
      }
    },
    "com.amazonaws.cleanroomsml#CollaborationConfiguredModelAlgorithmAssociationSummary": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the configured model algorithm association was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the configured model algorithm association was updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "configuredModelAlgorithmAssociationArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmAssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured model algorithm association.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configured model algorithm association.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the configured model algorithm association.</p>"
          }
        },
        "membershipIdentifier": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The membership ID of the member that created the configured model algorithm association.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationIdentifier": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The collaboration ID of the collaboration that contains the configured model algorithm association.</p>",
            "smithy.api#required": {}
          }
        },
        "configuredModelAlgorithmArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured model algorithm that is associated to the collaboration.</p>",
            "smithy.api#required": {}
          }
        },
        "creatorAccountId": {
          "target": "com.amazonaws.cleanroomsml#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the member that created the configured model algorithm association.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about a configured model algorithm in a collaboration.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#CollaborationMLInputChannelSummary": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the ML input channel was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the ML input channel was updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "membershipIdentifier": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The membership ID of the membership that contains the ML input channel.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationIdentifier": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The collaboration ID of the collaboration that contains the ML input channel.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ML input channel.</p>",
            "smithy.api#required": {}
          }
        },
        "configuredModelAlgorithmAssociations": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmAssociationArnList",
          "traits": {
            "smithy.api#documentation": "<p>The associated configured model algorithms used to create the ML input channel.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1
            },
            "smithy.api#required": {}
          }
        },
        "mlInputChannelArn": {
          "target": "com.amazonaws.cleanroomsml#MLInputChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ML input channel.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.cleanroomsml#MLInputChannelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the ML input channel.</p>",
            "smithy.api#required": {}
          }
        },
        "creatorAccountId": {
          "target": "com.amazonaws.cleanroomsml#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the member who created the ML input channel.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the ML input channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about an ML input channel in a collaboration.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#CollaborationMLInputChannelsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#CollaborationMLInputChannelSummary"
      }
    },
    "com.amazonaws.cleanroomsml#CollaborationTrainedModelExportJobList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#CollaborationTrainedModelExportJobSummary"
      }
    },
    "com.amazonaws.cleanroomsml#CollaborationTrainedModelExportJobSummary": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the trained model export job was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the trained model export job was updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the trained model export job.</p>",
            "smithy.api#required": {}
          }
        },
        "outputConfiguration": {
          "target": "com.amazonaws.cleanroomsml#TrainedModelExportOutputConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.cleanroomsml#TrainedModelExportJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the trained model.</p>",
            "smithy.api#required": {}
          }
        },
        "statusDetails": {
          "target": "com.amazonaws.cleanroomsml#StatusDetails"
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the trained model.</p>"
          }
        },
        "creatorAccountId": {
          "target": "com.amazonaws.cleanroomsml#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the member that created the trained model.</p>",
            "smithy.api#required": {}
          }
        },
        "trainedModelArn": {
          "target": "com.amazonaws.cleanroomsml#TrainedModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the trained model that is being exported.</p>",
            "smithy.api#required": {}
          }
        },
        "trainedModelVersionIdentifier": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The version identifier of the trained model that was exported in this job.</p>"
          }
        },
        "membershipIdentifier": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The membership ID of the member that created the trained model export job.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationIdentifier": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The collaboration ID of the collaboration that contains the trained model export job.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about a trained model export job in a collaboration.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#CollaborationTrainedModelInferenceJobList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#CollaborationTrainedModelInferenceJobSummary"
      }
    },
    "com.amazonaws.cleanroomsml#CollaborationTrainedModelInferenceJobSummary": {
      "type": "structure",
      "members": {
        "trainedModelInferenceJobArn": {
          "target": "com.amazonaws.cleanroomsml#TrainedModelInferenceJobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the trained model inference job.</p>",
            "smithy.api#required": {}
          }
        },
        "configuredModelAlgorithmAssociationArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmAssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured model algorithm association that is used for the trained model inference job.</p>"
          }
        },
        "membershipIdentifier": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The membership ID of the membership that contains the trained model inference job.</p>",
            "smithy.api#required": {}
          }
        },
        "trainedModelArn": {
          "target": "com.amazonaws.cleanroomsml#TrainedModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the trained model that is used for the trained model inference job.</p>",
            "smithy.api#required": {}
          }
        },
        "trainedModelVersionIdentifier": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The version identifier of the trained model that was used for inference in this job.</p>"
          }
        },
        "collaborationIdentifier": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The collaboration ID of the collaboration that contains the trained model inference job.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.cleanroomsml#TrainedModelInferenceJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the trained model inference job.</p>",
            "smithy.api#required": {}
          }
        },
        "outputConfiguration": {
          "target": "com.amazonaws.cleanroomsml#InferenceOutputConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Returns output configuration information for the trained model inference job.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the trained model inference job.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the trained model inference job.</p>"
          }
        },
        "metricsStatus": {
          "target": "com.amazonaws.cleanroomsml#MetricsStatus",
          "traits": {
            "smithy.api#documentation": "<p>the trained model inference job metrics status.</p>"
          }
        },
        "metricsStatusDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Details about the metrics status for trained model inference job.</p>"
          }
        },
        "logsStatus": {
          "target": "com.amazonaws.cleanroomsml#LogsStatus",
          "traits": {
            "smithy.api#documentation": "<p>The trained model inference job logs status.</p>"
          }
        },
        "logsStatusDetails": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Details about the logs status for the trained model inference job.</p>"
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the trained model inference job was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the trained model inference job was updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "creatorAccountId": {
          "target": "com.amazonaws.cleanroomsml#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID that created the trained model inference job.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about a trained model inference job in a collaboration.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#CollaborationTrainedModelList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#CollaborationTrainedModelSummary"
      }
    },
    "com.amazonaws.cleanroomsml#CollaborationTrainedModelSummary": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the trained model was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the trained model was updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "trainedModelArn": {
          "target": "com.amazonaws.cleanroomsml#TrainedModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the trained model.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the trained model.</p>",
            "smithy.api#required": {}
          }
        },
        "versionIdentifier": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The version identifier of this trained model version.</p>"
          }
        },
        "incrementalTrainingDataChannels": {
          "target": "com.amazonaws.cleanroomsml#IncrementalTrainingDataChannelsOutput",
          "traits": {
            "smithy.api#documentation": "<p>Information about the incremental training data channels used to create this version of the trained model.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the trained model.</p>"
          }
        },
        "membershipIdentifier": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The membership ID of the member that created the trained model.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationIdentifier": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The collaboration ID of the collaboration that contains the trained model.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.cleanroomsml#TrainedModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the trained model.</p>",
            "smithy.api#required": {}
          }
        },
        "configuredModelAlgorithmAssociationArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmAssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured model algorithm association that is used for this trained model.</p>",
            "smithy.api#required": {}
          }
        },
        "creatorAccountId": {
          "target": "com.amazonaws.cleanroomsml#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the member that created the trained model.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about a trained model in a collaboration.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_](([a-zA-Z0-9_ ]+-)*([a-zA-Z0-9_ ]+))?$"
      }
    },
    "com.amazonaws.cleanroomsml#ColumnSchema": {
      "type": "structure",
      "members": {
        "columnName": {
          "target": "com.amazonaws.cleanroomsml#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a column.</p>",
            "smithy.api#required": {}
          }
        },
        "columnTypes": {
          "target": "com.amazonaws.cleanroomsml#ColumnTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The data type of column.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata for a column.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#ColumnType": {
      "type": "enum",
      "members": {
        "USER_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_ID"
          }
        },
        "ITEM_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITEM_ID"
          }
        },
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMP"
          }
        },
        "CATEGORICAL_FEATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CATEGORICAL_FEATURE"
          }
        },
        "NUMERICAL_FEATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NUMERICAL_FEATURE"
          }
        }
      }
    },
    "com.amazonaws.cleanroomsml#ColumnTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#ColumnType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.cleanroomsml#ComputeConfiguration": {
      "type": "union",
      "members": {
        "worker": {
          "target": "com.amazonaws.cleanroomsml#WorkerComputeConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The worker instances that will perform the compute work.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides configuration information for the instances that will perform the compute work.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredAudienceModel": {
      "type": "resource",
      "identifiers": {
        "configuredAudienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelArn"
        }
      },
      "create": {
        "target": "com.amazonaws.cleanroomsml#CreateConfiguredAudienceModel"
      },
      "read": {
        "target": "com.amazonaws.cleanroomsml#GetConfiguredAudienceModel"
      },
      "update": {
        "target": "com.amazonaws.cleanroomsml#UpdateConfiguredAudienceModel"
      },
      "delete": {
        "target": "com.amazonaws.cleanroomsml#DeleteConfiguredAudienceModel"
      },
      "list": {
        "target": "com.amazonaws.cleanroomsml#ListConfiguredAudienceModels"
      },
      "traits": {
        "aws.api#arn": {
          "template": "{configuredAudienceModelArn}",
          "absolute": true
        }
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredAudienceModelArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "service": "com.amazonaws.cleanroomsml#AWSStarkControlService",
          "resource": "com.amazonaws.cleanroomsml#ConfiguredAudienceModel"
        },
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:[0-9]{12}:configured-audience-model/[-a-zA-Z0-9_/.]+$"
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredAudienceModelList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelSummary"
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredAudienceModelOutputConfig": {
      "type": "structure",
      "members": {
        "destination": {
          "target": "com.amazonaws.cleanroomsml#AudienceDestination",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.cleanroomsml#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that can write the Amazon S3 bucket.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information necessary for the configure audience model output.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredAudienceModelPolicy": {
      "type": "resource",
      "identifiers": {
        "configuredAudienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelArn"
        }
      },
      "put": {
        "target": "com.amazonaws.cleanroomsml#PutConfiguredAudienceModelPolicy"
      },
      "read": {
        "target": "com.amazonaws.cleanroomsml#GetConfiguredAudienceModelPolicy"
      },
      "delete": {
        "target": "com.amazonaws.cleanroomsml#DeleteConfiguredAudienceModelPolicy"
      },
      "traits": {
        "aws.api#arn": {
          "template": "{configuredAudienceModelArn}",
          "absolute": true
        }
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredAudienceModelStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredAudienceModelSummary": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the configured audience model was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the configured audience model was updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configured audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "audienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#AudienceModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the audience model that was used to create the configured audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "outputConfig": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelOutputConfig",
          "traits": {
            "smithy.api#documentation": "<p>The output configuration of the configured audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the configured audience model.</p>"
          }
        },
        "configuredAudienceModelArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured audience model that you are interested in.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredAudienceModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the configured audience model.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the configured audience model.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithm": {
      "type": "resource",
      "identifiers": {
        "configuredModelAlgorithmArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmArn"
        }
      },
      "create": {
        "target": "com.amazonaws.cleanroomsml#CreateConfiguredModelAlgorithm"
      },
      "read": {
        "target": "com.amazonaws.cleanroomsml#GetConfiguredModelAlgorithm"
      },
      "delete": {
        "target": "com.amazonaws.cleanroomsml#DeleteConfiguredModelAlgorithm"
      },
      "list": {
        "target": "com.amazonaws.cleanroomsml#ListConfiguredModelAlgorithms"
      },
      "traits": {
        "aws.api#arn": {
          "template": "{configuredModelAlgorithmArn}",
          "absolute": true
        }
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "service": "com.amazonaws.cleanroomsml#AWSStarkControlService",
          "resource": "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithm"
        },
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:[0-9]{12}:configured-model-algorithm/[-a-zA-Z0-9_/.]+$"
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmAssociation": {
      "type": "resource",
      "identifiers": {
        "configuredModelAlgorithmAssociationArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmAssociationArn"
        }
      },
      "create": {
        "target": "com.amazonaws.cleanroomsml#CreateConfiguredModelAlgorithmAssociation"
      },
      "read": {
        "target": "com.amazonaws.cleanroomsml#GetConfiguredModelAlgorithmAssociation"
      },
      "delete": {
        "target": "com.amazonaws.cleanroomsml#DeleteConfiguredModelAlgorithmAssociation"
      },
      "list": {
        "target": "com.amazonaws.cleanroomsml#ListConfiguredModelAlgorithmAssociations"
      },
      "operations": [
        {
          "target": "com.amazonaws.cleanroomsml#GetCollaborationConfiguredModelAlgorithmAssociation"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "{configuredModelAlgorithmAssociationArn}",
          "absolute": true
        }
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmAssociationArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "service": "com.amazonaws.cleanroomsml#AWSStarkControlService",
          "resource": "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmAssociation"
        },
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:[0-9]{12}:membership/[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}/configured-model-algorithm-association/[-a-zA-Z0-9_/.]+$"
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmAssociationArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmAssociationArn"
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmAssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmAssociationSummary"
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmAssociationSummary": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the configured model algorithm association was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the configured model algorithm association was updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "configuredModelAlgorithmAssociationArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmAssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured model algorithm association.</p>",
            "smithy.api#required": {}
          }
        },
        "configuredModelAlgorithmArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured model algorithm that is being associated.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configured model algorithm association.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the configured model algorithm association.</p>"
          }
        },
        "membershipIdentifier": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The membership ID of the member that created the configured model algorithm association.</p>",
            "smithy.api#required": {}
          }
        },
        "collaborationIdentifier": {
          "target": "com.amazonaws.cleanroomsml#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The collaboration ID of the collaboration that contains the configured model algorithm association.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about the configured model algorithm association.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmSummary"
      }
    },
    "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmSummary": {
      "type": "structure",
      "members": {
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the configured model algorithm was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "updateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time at which the configured model algorithm was updated.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "configuredModelAlgorithmArn": {
          "target": "com.amazonaws.cleanroomsml#ConfiguredModelAlgorithmArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configured model algorithm.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configured model algorithm.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the configured model algorithm.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about a configured model algorithm.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't complete this action because another resource depends on this resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.cleanroomsml#ContainerArgument": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.cleanroomsml#ContainerArguments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#ContainerArgument"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.cleanroomsml#ContainerConfig": {
      "type": "structure",
      "members": {
        "imageUri": {
          "target": "com.amazonaws.cleanroomsml#AlgorithmImage",
          "traits": {
            "smithy.api#documentation": "<p>The registry path of the docker image that contains the algorithm. Clean Rooms ML currently only supports the <code>registry/repository[:tag]</code> image path format. For more information about using images in Clean Rooms ML, see the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_AlgorithmSpecification.html#sagemaker-Type-AlgorithmSpecification-TrainingImage\">Sagemaker API reference</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "entrypoint": {
          "target": "com.amazonaws.cleanroomsml#ContainerEntrypoint",
          "traits": {
            "smithy.api#documentation": "<p>The entrypoint script for a Docker container used to run a training job. This script takes precedence over the default train processing instructions. See How Amazon SageMaker Runs Your Training Image for additional information. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/your-algorithms-training-algo-dockerfile.html\">How Sagemaker runs your training image</a>.</p>"
          }
        },
        "arguments": {
          "target": "com.amazonaws.cleanroomsml#ContainerArguments",
          "traits": {
            "smithy.api#documentation": "<p>The arguments for a container used to run a training job. See How Amazon SageMaker Runs Your Training Image for additional information. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/your-algorithms-training-algo-dockerfile.html\">How Sagemaker runs your training image</a>.</p>"
          }
        },
        "metricDefinitions": {
          "target": "com.amazonaws.cleanroomsml#MetricDefinitionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of metric definition objects. Each object specifies the metric name and regular expressions used to parse algorithm logs. Amazon Web Services Clean Rooms ML publishes each metric to all members' Amazon CloudWatch using IAM role configured in <a>PutMLConfiguration</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides configuration information for the dockerized container where the model algorithm is stored.</p>"
      }
    },
    "com.amazonaws.cleanroomsml#ContainerEntrypoint": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cleanroomsml#ContainerEntrypointString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.cleanroomsml#ContainerEntrypointString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.cleanroomsml#CreateAudienceModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cleanroomsml#CreateAudienceModelRequest"
      },
      "output": {
        "target": "com.amazonaws.cleanroomsml#CreateAudienceModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cleanroomsml#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ConflictException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.cleanroomsml#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Defines the information necessary to create an audience model. An audience model is a machine learning model that Clean Rooms ML trains to measure similarity between users. Clean Rooms ML manages training and storing the audience model. The audience model can be used in multiple calls to the <a>StartAudienceGenerationJob</a> API.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/audience-model"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cleanroomsml#CreateAudienceModelRequest": {
      "type": "structure",
      "members": {
        "trainingDataStartTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start date and time of the training window.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "trainingDataEndTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end date and time of the training window.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "name": {
          "target": "com.amazonaws.cleanroomsml#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the audience model resource.</p>",
            "smithy.api#required": {}
          }
        },
        "trainingDatasetArn": {
          "target": "com.amazonaws.cleanroomsml#TrainingDatasetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the training dataset for this audience model.</p>",
            "smithy.api#required": {}
          }
        },
        "kmsKeyArn": {
          "target": "com.amazonaws.cleanroomsml#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key. This key is used to encrypt and decrypt customer-owned data in the trained ML model and the associated data.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.cleanroomsml#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The optional metadata that you apply to the resource to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define.</p> <p>The following basic restrictions apply to tags:</p> <ul> <li> <p>Maximum number of tags per resource - 50.</p> </li> <li> <p>For each resource, each tag key must be unique, and each tag key can have only one value.</p> </li> <li> <p>Maximum key length - 128 Unicode characters in UTF-8.</p> </li> <li> <p>Maximum value length - 256 Unicode characters in UTF-8.</p> </li> <li> <p>If your tagging schema is used across multiple services and resources, remember that other services may have restrictions on allowed characters. Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following characters: + - = . _ : / @.</p> </li> <li> <p>Tag keys and values are case sensitive.</p> </li> <li> <p>Do not use aws:, AWS:, or any upper or lowercase combination of such as a prefix for keys as it is reserved for AWS use. You cannot edit or delete tag keys with this prefix. Values can have this prefix. If a tag value has aws as its prefix but the key does not, then Clean Rooms ML considers it to be a user tag and will count against the limit of 50 tags. Tags with only the key prefix of aws do not count against your tags per resource limit.</p> </li> </ul>"
          }
        },
        "description": {
          "target": "com.amazonaws.cleanroomsml#ResourceDescription",
          "traits": {
[...]
