{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.cloudwatch#ActionPrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.cloudwatch#ActionsEnabled": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.cloudwatch#AlarmArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmHistoryItem": {
      "type": "structure",
      "members": {
        "AlarmName": {
          "target": "com.amazonaws.cloudwatch#AlarmName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name for the alarm.</p>"
          }
        },
        "HistoryData": {
          "target": "com.amazonaws.cloudwatch#HistoryData",
          "traits": {
            "smithy.api#documentation": "<p>Data about the alarm, in JSON format.</p>"
          }
        },
        "HistoryItemType": {
          "target": "com.amazonaws.cloudwatch#HistoryItemType",
          "traits": {
            "smithy.api#documentation": "<p>The type of alarm history item.</p>"
          }
        },
        "HistorySummary": {
          "target": "com.amazonaws.cloudwatch#HistorySummary",
          "traits": {
            "smithy.api#documentation": "<p>A summary of the alarm history, in text format.</p>"
          }
        },
        "Timestamp": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp for the alarm history item.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the history of a specific alarm.</p>"
      }
    },
    "com.amazonaws.cloudwatch#AlarmHistoryItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#AlarmHistoryItem"
      }
    },
    "com.amazonaws.cloudwatch#AlarmName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmNamePrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#AlarmName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.cloudwatch#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetector": {
      "type": "structure",
      "members": {
        "Configuration": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectorConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration specifies details about how the \n\t\tanomaly detection model is to be trained, including time ranges to \n\t\texclude from use for training the model, and the time zone to use for \n\t\tthe metric.</p>"
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.cloudwatch#Dimensions",
          "traits": {
            "smithy.api#documentation": "<p>The metric dimensions associated with the anomaly detection model.</p>"
          }
        },
        "MetricName": {
          "target": "com.amazonaws.cloudwatch#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric associated with the anomaly detection model.</p>"
          }
        },
        "Namespace": {
          "target": "com.amazonaws.cloudwatch#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the metric associated with the anomaly detection model.</p>"
          }
        },
        "Stat": {
          "target": "com.amazonaws.cloudwatch#Stat",
          "traits": {
            "smithy.api#documentation": "<p>The statistic associated with the anomaly detection model.</p>"
          }
        },
        "StateValue": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectorStateValue",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the anomaly detector's training. The possible values are <code>TRAINED | PENDING_TRAINING | TRAINED_INSUFFICIENT_DATA</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An anomaly detection model associated with a particular CloudWatch metric and statistic. You\n\t\t\tcan use the model to display a band of expected normal values when the metric is\n\t\t\tgraphed.</p>"
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectorConfiguration": {
      "type": "structure",
      "members": {
        "ExcludedTimeRanges": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectorExcludedTimeRanges",
          "traits": {
            "smithy.api#documentation": "<p>An array of time ranges to exclude from use when the anomaly detection model is trained. Use\n\t\t\tthis to make sure that events that could cause unusual values for the metric, such as\n\t\t\tdeployments, aren't used when CloudWatch creates the model.</p>"
          }
        },
        "MetricTimezone": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectorMetricTimezone",
          "traits": {
            "smithy.api#documentation": "<p>The time zone to use for the metric. This is useful to enable the model to automatically\n\t\t\taccount for daylight savings time changes if the metric is sensitive to such time\n\t\t\tchanges.</p>\n\t\t       <p>To specify a time zone, use the name of the time zone as specified in the standard tz database. For more information, \n\t\t\tsee <a href=\"https://en.wikipedia.org/wiki/Tz_database\">tz database</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration specifies details about how the anomaly detection model is to be trained,\n\t\t\tincluding time ranges to exclude from use for training the model and the time zone to\n\t\t\tuse for the metric.</p>"
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectorExcludedTimeRanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#Range"
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectorMetricTimezone": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#AnomalyDetectorStateValue": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING_TRAINING"
          },
          {
            "value": "TRAINED_INSUFFICIENT_DATA"
          },
          {
            "value": "TRAINED"
          }
        ]
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#AnomalyDetector"
      }
    },
    "com.amazonaws.cloudwatch#AwsQueryErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#BatchFailures": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#PartialFailure"
      }
    },
    "com.amazonaws.cloudwatch#ComparisonOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "GreaterThanOrEqualToThreshold"
          },
          {
            "value": "GreaterThanThreshold"
          },
          {
            "value": "LessThanThreshold"
          },
          {
            "value": "LessThanOrEqualToThreshold"
          },
          {
            "value": "LessThanLowerOrGreaterThanUpperThreshold"
          },
          {
            "value": "LessThanLowerThreshold"
          },
          {
            "value": "GreaterThanUpperThreshold"
          }
        ]
      }
    },
    "com.amazonaws.cloudwatch#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudwatch#FaultDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>More than one process tried to modify a resource at the same time.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.cloudwatch#Counts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#DatapointValue"
      }
    },
    "com.amazonaws.cloudwatch#DashboardArn": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#DashboardBody": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#DashboardEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#DashboardEntry"
      }
    },
    "com.amazonaws.cloudwatch#DashboardEntry": {
      "type": "structure",
      "members": {
        "DashboardArn": {
          "target": "com.amazonaws.cloudwatch#DashboardArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dashboard.</p>"
          }
        },
        "DashboardName": {
          "target": "com.amazonaws.cloudwatch#DashboardName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dashboard.</p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.cloudwatch#LastModified",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp of when the dashboard was last modified, either by an API call or\n\t\t\tthrough the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>"
          }
        },
        "Size": {
          "target": "com.amazonaws.cloudwatch#Size",
          "traits": {
            "smithy.api#documentation": "<p>The size of the dashboard, in bytes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a specific dashboard.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DashboardErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#DashboardInvalidInputError": {
      "type": "structure",
      "members": {
        "dashboardValidationMessages": {
          "target": "com.amazonaws.cloudwatch#DashboardValidationMessages"
        },
        "message": {
          "target": "com.amazonaws.cloudwatch#DashboardErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Some part of the dashboard data is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudwatch#DashboardName": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#DashboardNamePrefix": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#DashboardNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#DashboardName"
      }
    },
    "com.amazonaws.cloudwatch#DashboardNotFoundError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.cloudwatch#DashboardErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified dashboard does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.cloudwatch#DashboardValidationMessage": {
      "type": "structure",
      "members": {
        "DataPath": {
          "target": "com.amazonaws.cloudwatch#DataPath",
          "traits": {
            "smithy.api#documentation": "<p>The data path related to the message.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.cloudwatch#Message",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the error or warning.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error or warning for the operation.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DashboardValidationMessages": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#DashboardValidationMessage"
      }
    },
    "com.amazonaws.cloudwatch#DataPath": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#Datapoint": {
      "type": "structure",
      "members": {
        "Average": {
          "target": "com.amazonaws.cloudwatch#DatapointValue",
          "traits": {
            "smithy.api#documentation": "<p>The average of the metric values that correspond to the data point.</p>"
          }
        },
        "ExtendedStatistics": {
          "target": "com.amazonaws.cloudwatch#DatapointValueMap",
          "traits": {
            "smithy.api#documentation": "<p>The percentile statistic for the data point.</p>"
          }
        },
        "Maximum": {
          "target": "com.amazonaws.cloudwatch#DatapointValue",
          "traits": {
            "smithy.api#documentation": "<p>The maximum metric value for the data point.</p>"
          }
        },
        "Minimum": {
          "target": "com.amazonaws.cloudwatch#DatapointValue",
          "traits": {
            "smithy.api#documentation": "<p>The minimum metric value for the data point.</p>"
          }
        },
        "SampleCount": {
          "target": "com.amazonaws.cloudwatch#DatapointValue",
          "traits": {
            "smithy.api#documentation": "<p>The number of metric values that contributed to the aggregate value of this\n\t\t\tdata point.</p>"
          }
        },
        "Sum": {
          "target": "com.amazonaws.cloudwatch#DatapointValue",
          "traits": {
            "smithy.api#documentation": "<p>The sum of the metric values for the data point.</p>"
          }
        },
        "Timestamp": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp used for the data point.</p>"
          }
        },
        "Unit": {
          "target": "com.amazonaws.cloudwatch#StandardUnit",
          "traits": {
            "smithy.api#documentation": "<p>The standard unit for the data point.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Encapsulates the statistical data that CloudWatch computes from metric data.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DatapointValue": {
      "type": "double",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.cloudwatch#DatapointValueMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.cloudwatch#ExtendedStatistic"
      },
      "value": {
        "target": "com.amazonaws.cloudwatch#DatapointValue"
      }
    },
    "com.amazonaws.cloudwatch#DatapointValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#DatapointValue"
      }
    },
    "com.amazonaws.cloudwatch#Datapoints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#Datapoint"
      }
    },
    "com.amazonaws.cloudwatch#DatapointsToAlarm": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.cloudwatch#DeleteAlarms": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DeleteAlarmsInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#ResourceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified alarms. You can delete up to 50 alarms in one operation. \n\t\t\tIn the event of an error, no alarms are\n\t\t\tdeleted.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DeleteAlarmsInput": {
      "type": "structure",
      "members": {
        "AlarmNames": {
          "target": "com.amazonaws.cloudwatch#AlarmNames",
          "traits": {
            "smithy.api#documentation": "<p>The alarms to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DeleteAnomalyDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DeleteAnomalyDetectorInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DeleteAnomalyDetectorOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InternalServiceFault"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified anomaly detection model from your account.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DeleteAnomalyDetectorInput": {
      "type": "structure",
      "members": {
        "Dimensions": {
          "target": "com.amazonaws.cloudwatch#Dimensions",
          "traits": {
            "smithy.api#documentation": "<p>The metric dimensions associated with the anomaly detection model to delete.</p>"
          }
        },
        "MetricName": {
          "target": "com.amazonaws.cloudwatch#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>The metric name associated with the anomaly detection model to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "Namespace": {
          "target": "com.amazonaws.cloudwatch#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace associated with the anomaly detection model to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "Stat": {
          "target": "com.amazonaws.cloudwatch#Stat",
          "traits": {
            "smithy.api#documentation": "<p>The statistic associated with the anomaly detection model to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DeleteAnomalyDetectorOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.cloudwatch#DeleteDashboards": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DeleteDashboardsInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DeleteDashboardsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#DashboardNotFoundError"
        },
        {
          "target": "com.amazonaws.cloudwatch#InternalServiceFault"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes all dashboards that you specify. You may specify up to 100 dashboards to delete. \n\t\t\tIf there is an error during this call, no dashboards are deleted.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DeleteDashboardsInput": {
      "type": "structure",
      "members": {
        "DashboardNames": {
          "target": "com.amazonaws.cloudwatch#DashboardNames",
          "traits": {
            "smithy.api#documentation": "<p>The dashboards to be deleted. This parameter is required.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DeleteDashboardsOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.cloudwatch#DeleteInsightRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DeleteInsightRulesInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DeleteInsightRulesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes the specified Contributor Insights rules.</p>\n\t\t       <p>If you create a rule, delete it, and then re-create it with the same name, \n\t\t\thistorical data from the first time the rule was created may or may not be available.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DeleteInsightRulesInput": {
      "type": "structure",
      "members": {
        "RuleNames": {
          "target": "com.amazonaws.cloudwatch#InsightRuleNames",
          "traits": {
            "smithy.api#documentation": "<p>An array of the rule names to delete. If you need to find out the names of your rules, use <a>DescribeInsightRules</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DeleteInsightRulesOutput": {
      "type": "structure",
      "members": {
        "Failures": {
          "target": "com.amazonaws.cloudwatch#BatchFailures",
          "traits": {
            "smithy.api#documentation": "<p>An array listing the rules that could not be deleted. You cannot delete built-in rules.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmHistory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmHistoryInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmHistoryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidNextToken"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the history for the specified alarm. You can filter the results by date range or item type.\n\t\t\tIf an alarm name is not specified, the histories for all alarms are returned.</p>\n\t\t       <p>CloudWatch retains the history of an alarm even if you delete the alarm.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AlarmHistoryItems",
          "pageSize": "MaxRecords"
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmHistoryInput": {
      "type": "structure",
      "members": {
        "AlarmName": {
          "target": "com.amazonaws.cloudwatch#AlarmName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alarm.</p>"
          }
        },
        "EndDate": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The ending date to retrieve alarm history.</p>"
          }
        },
        "HistoryItemType": {
          "target": "com.amazonaws.cloudwatch#HistoryItemType",
          "traits": {
            "smithy.api#documentation": "<p>The type of alarm histories to retrieve.</p>"
          }
        },
        "MaxRecords": {
          "target": "com.amazonaws.cloudwatch#MaxRecords",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of alarm history records to retrieve.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to indicate that there is more data\n\t\t\tavailable.</p>"
          }
        },
        "StartDate": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The starting date to retrieve alarm history.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmHistoryOutput": {
      "type": "structure",
      "members": {
        "AlarmHistoryItems": {
          "target": "com.amazonaws.cloudwatch#AlarmHistoryItems",
          "traits": {
            "smithy.api#documentation": "<p>The alarm histories, in JSON format.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that marks the start of the next batch of returned results.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarms": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmsInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidNextToken"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the specified alarms. If no alarms are specified, all alarms are\n\t\t\treturned. Alarms can be retrieved by using only a prefix for the alarm\n\t\t\tname, the alarm state, or a prefix for any action.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "MetricAlarms",
          "pageSize": "MaxRecords"
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmsForMetric": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmsForMetricInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmsForMetricOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the alarms for the specified metric. To\n\t\t\tfilter the results, specify a statistic, period, or unit.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmsForMetricInput": {
      "type": "structure",
      "members": {
        "Dimensions": {
          "target": "com.amazonaws.cloudwatch#Dimensions",
          "traits": {
            "smithy.api#documentation": "<p>The dimensions associated with the metric. If the metric has any associated\n\t\t\tdimensions, you must specify them in order for the call to succeed.</p>"
          }
        },
        "ExtendedStatistic": {
          "target": "com.amazonaws.cloudwatch#ExtendedStatistic",
          "traits": {
            "smithy.api#documentation": "<p>The percentile statistic for the metric. Specify a value between\n\t\t    p0.0 and p100.</p>"
          }
        },
        "MetricName": {
          "target": "com.amazonaws.cloudwatch#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Namespace": {
          "target": "com.amazonaws.cloudwatch#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Period": {
          "target": "com.amazonaws.cloudwatch#Period",
          "traits": {
            "smithy.api#documentation": "<p>The period, in seconds, over which the statistic is applied.</p>"
          }
        },
        "Statistic": {
          "target": "com.amazonaws.cloudwatch#Statistic",
          "traits": {
            "smithy.api#documentation": "<p>The statistic for the metric, other than percentiles.\n\t\t    For percentile statistics, use <code>ExtendedStatistics</code>.</p>"
          }
        },
        "Unit": {
          "target": "com.amazonaws.cloudwatch#StandardUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit for the metric.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmsForMetricOutput": {
      "type": "structure",
      "members": {
        "MetricAlarms": {
          "target": "com.amazonaws.cloudwatch#MetricAlarms",
          "traits": {
            "smithy.api#documentation": "<p>The information for each alarm with the specified metric.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmsInput": {
      "type": "structure",
      "members": {
        "ActionPrefix": {
          "target": "com.amazonaws.cloudwatch#ActionPrefix",
          "traits": {
            "smithy.api#documentation": "<p>The action name prefix.</p>"
          }
        },
        "AlarmNamePrefix": {
          "target": "com.amazonaws.cloudwatch#AlarmNamePrefix",
          "traits": {
            "smithy.api#documentation": "<p>The alarm name prefix. If this parameter\n\t\t\tis specified, you cannot specify <code>AlarmNames</code>.</p>"
          }
        },
        "AlarmNames": {
          "target": "com.amazonaws.cloudwatch#AlarmNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the alarms.</p>"
          }
        },
        "MaxRecords": {
          "target": "com.amazonaws.cloudwatch#MaxRecords",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of alarm descriptions to retrieve.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to indicate that there is more data\n\t\t\tavailable.</p>"
          }
        },
        "StateValue": {
          "target": "com.amazonaws.cloudwatch#StateValue",
          "traits": {
            "smithy.api#documentation": "<p>The state value to be used in matching alarms.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmsOutput": {
      "type": "structure",
      "members": {
        "MetricAlarms": {
          "target": "com.amazonaws.cloudwatch#MetricAlarms",
          "traits": {
            "smithy.api#documentation": "<p>The information for the specified alarms.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that marks the start of the next batch of returned results.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAnomalyDetectors": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DescribeAnomalyDetectorsInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DescribeAnomalyDetectorsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InternalServiceFault"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidNextToken"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the anomaly detection models that you have created in your account. You can list all\n\t\t\tmodels in your account or filter the results to only the models that are related to a\n\t\t\tcertain namespace, metric name, or metric dimension.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DescribeAnomalyDetectorsInput": {
      "type": "structure",
      "members": {
        "Dimensions": {
          "target": "com.amazonaws.cloudwatch#Dimensions",
          "traits": {
            "smithy.api#documentation": "<p>Limits the results to only the anomaly detection models that are associated with the\n\t\t\tspecified metric dimensions. If there are multiple metrics that have these dimensions\n\t\t\tand have anomaly detection models associated, they're all returned.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.cloudwatch#MaxReturnedResultsCount",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in one operation. The maximum\n\t\t\tvalue you can specify is 10.</p>\n\t\t\t      <p>To retrieve the remaining results, make another call with the returned \n\t\t\t<code>NextToken</code> value. </p>"
          }
        },
        "MetricName": {
          "target": "com.amazonaws.cloudwatch#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>Limits the results to only the anomaly detection models that are associated with the\n\t\t\tspecified metric name. If there are multiple metrics with this name in different\n\t\t\tnamespaces that have anomaly detection models, they're all returned.</p>"
          }
        },
        "Namespace": {
          "target": "com.amazonaws.cloudwatch#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>Limits the results to only the anomaly detection models that\n\t\t\tare associated with the specified namespace.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Use the token returned by the previous operation to request the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAnomalyDetectorsOutput": {
      "type": "structure",
      "members": {
        "AnomalyDetectors": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectors",
          "traits": {
            "smithy.api#documentation": "<p>The list of anomaly detection models returned by the operation.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that you can use in a subsequent operation to \n\t\tretrieve the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeInsightRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DescribeInsightRulesInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DescribeInsightRulesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidNextToken"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of all the Contributor Insights rules in your account. All rules in your account are returned with a\n\t\tsingle operation.</p>\n\t\t\n\t\t       <p>For more information about Contributor Insights, see \n\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/ContributorInsights.html\">Using Contributor Insights to Analyze High-Cardinality Data</a>.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeInsightRulesInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.cloudwatch#InsightRuleMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>This parameter is not currently used. Reserved for future use. If it is used in the future, the maximum value may be different.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeInsightRulesOutput": {
      "type": "structure",
      "members": {
        "InsightRules": {
          "target": "com.amazonaws.cloudwatch#InsightRules",
          "traits": {
            "smithy.api#documentation": "<p>The rules returned by the operation.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#Dimension": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.cloudwatch#DimensionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dimension.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.cloudwatch#DimensionValue",
          "traits": {
            "smithy.api#documentation": "<p>The value representing the dimension measurement.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Expands the identity of a metric.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DimensionFilter": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.cloudwatch#DimensionName",
          "traits": {
            "smithy.api#documentation": "<p>The dimension name to be matched.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.cloudwatch#DimensionValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the dimension to be matched.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents filters for a dimension.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DimensionFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#DimensionFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.cloudwatch#DimensionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#DimensionValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#Dimensions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#Dimension"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.cloudwatch#DisableAlarmActions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DisableAlarmActionsInput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Disables the actions for the specified alarms. When an alarm's actions are disabled, the\n\t\t\talarm actions do not execute when the alarm state changes.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DisableAlarmActionsInput": {
      "type": "structure",
      "members": {
        "AlarmNames": {
          "target": "com.amazonaws.cloudwatch#AlarmNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the alarms.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DisableInsightRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DisableInsightRulesInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DisableInsightRulesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables the specified Contributor Insights rules. When rules are disabled, they do not analyze log groups and do \n\t\tnot incur costs.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DisableInsightRulesInput": {
      "type": "structure",
      "members": {
        "RuleNames": {
          "target": "com.amazonaws.cloudwatch#InsightRuleNames",
          "traits": {
            "smithy.api#documentation": "<p>An array of the rule names to disable. If you need to find out the names of your rules, use <a>DescribeInsightRules</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DisableInsightRulesOutput": {
      "type": "structure",
      "members": {
        "Failures": {
          "target": "com.amazonaws.cloudwatch#BatchFailures",
          "traits": {
            "smithy.api#documentation": "<p>An array listing the rules that could not be disabled. You cannot disable built-in rules.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#EnableAlarmActions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#EnableAlarmActionsInput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Enables the actions for the specified alarms.</p>"
      }
    },
    "com.amazonaws.cloudwatch#EnableAlarmActionsInput": {
      "type": "structure",
      "members": {
        "AlarmNames": {
          "target": "com.amazonaws.cloudwatch#AlarmNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the alarms.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#EnableInsightRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#EnableInsightRulesInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#EnableInsightRulesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables the specified Contributor Insights rules. When rules are enabled, they immediately begin analyzing log data.</p>"
      }
    },
    "com.amazonaws.cloudwatch#EnableInsightRulesInput": {
      "type": "structure",
      "members": {
        "RuleNames": {
          "target": "com.amazonaws.cloudwatch#InsightRuleNames",
          "traits": {
            "smithy.api#documentation": "<p>An array of the rule names to enable. If you need to find out the names of your rules, use <a>DescribeInsightRules</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#EnableInsightRulesOutput": {
      "type": "structure",
      "members": {
        "Failures": {
          "target": "com.amazonaws.cloudwatch#BatchFailures",
          "traits": {
            "smithy.api#documentation": "<p>An array listing the rules that could not be enabled. You cannot disable or enable built-in rules.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#EvaluateLowSampleCountPercentile": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#EvaluationPeriods": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.cloudwatch#ExceptionType": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#ExtendedStatistic": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "p(\\d{1,2}(\\.\\d{0,2})?|100)"
      }
    },
    "com.amazonaws.cloudwatch#ExtendedStatistics": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#ExtendedStatistic"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.cloudwatch#FailureCode": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#FailureDescription": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#FailureResource": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#FaultDescription": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#GetDashboard": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#GetDashboardInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#GetDashboardOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#DashboardNotFoundError"
        },
        {
          "target": "com.amazonaws.cloudwatch#InternalServiceFault"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays the details of the dashboard that you specify.</p>\n\t\t       <p>To copy an existing dashboard, use <code>GetDashboard</code>, and then use the data returned\n\t\t\twithin <code>DashboardBody</code> as the template for the new dashboard when you call <code>PutDashboard</code> to create\n\t\t\tthe copy.</p>"
      }
    },
    "com.amazonaws.cloudwatch#GetDashboardInput": {
      "type": "structure",
      "members": {
        "DashboardName": {
          "target": "com.amazonaws.cloudwatch#DashboardName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dashboard to be described.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#GetDashboardOutput": {
      "type": "structure",
      "members": {
        "DashboardArn": {
          "target": "com.amazonaws.cloudwatch#DashboardArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dashboard.</p>"
          }
        },
        "DashboardBody": {
          "target": "com.amazonaws.cloudwatch#DashboardBody",
          "traits": {
            "smithy.api#documentation": "<p>The detailed information about the dashboard, including what widgets are included and their location\n\t\t\ton the dashboard. For more information about the <code>DashboardBody</code> syntax, \n\t\t\tsee <a>CloudWatch-Dashboard-Body-Structure</a>. </p>"
          }
        },
        "DashboardName": {
          "target": "com.amazonaws.cloudwatch#DashboardName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dashboard.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#GetInsightRuleReport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#GetInsightRuleReportInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#GetInsightRuleReportOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation returns the time series data collected by a Contributor Insights rule. The data includes the identity and number of \n\t\tcontributors to the log group.</p>\n\t\t       <p>You can also optionally return one or more statistics about each data point in the time series. These statistics can include the following:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <code>UniqueContributors</code> -- the number of unique contributors for each data point.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>MaxContributorValue</code> -- the value of the top contributor for each data point. The identity of the \n\t\t\t\t\tcontributor may change for each data point in the graph.</p>\n\t\t\t\t           <p>If this rule aggregates by COUNT, the top contributor for each data point is the contributor with the \n\t\t\t\t\tmost occurrences in that period. If the rule aggregates by SUM, the top contributor is the contributor with the highest sum in the log field specified\n\t\t\t\t\tby the rule's <code>Value</code>, during that period.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>SampleCount</code> -- the number of data points matched by the rule.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>Sum</code> -- the sum of the values from all contributors during the time period represented by that data point.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>Minimum</code> -- the minimum value from a single observation during the time period represented by that data point.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>Maximum</code> -- the maximum value from a single observation during the time period represented by that data point.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>Average</code> -- the average value from all contributors during the time period represented by that data point.</p>\n\t\t\t         </li>\n         </ul>"
      }
    },
    "com.amazonaws.cloudwatch#GetInsightRuleReportInput": {
      "type": "structure",
      "members": {
        "EndTime": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time of the data to use in the report. When used in a raw HTTP Query API, it is formatted as \n\t\t\t<code>yyyy-MM-dd'T'HH:mm:ss</code>. For example, \n\t\t\t<code>2019-07-01T23:59:59</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxContributorCount": {
          "target": "com.amazonaws.cloudwatch#InsightRuleUnboundInteger",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of contributors to include in the report. The range is 1 to 100. If you omit this, the default of 10 is used.</p>"
          }
        },
        "Metrics": {
          "target": "com.amazonaws.cloudwatch#InsightRuleMetricList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which metrics to use for aggregation of contributor values for the report. You can specify one or more\n\t\tof the following metrics:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <code>UniqueContributors</code> -- the number of unique contributors for each data point.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>MaxContributorValue</code> -- the value of the top contributor for each data point. The identity of the \n\t\t\t\t\tcontributor may change for each data point in the graph.</p>\n\t\t\t\t           <p>If this rule aggregates by COUNT, the top contributor for each data point is the contributor with the \n\t\t\t\t\tmost occurrences in that period. If the rule aggregates by SUM, the top contributor is the contributor with the highest sum in the log field specified\n\t\t\t\t\tby the rule's <code>Value</code>, during that period.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>SampleCount</code> -- the number of data points matched by the rule.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>Sum</code> -- the sum of the values from all contributors during the time period represented by that data point.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>Minimum</code> -- the minimum value from a single observation during the time period represented by that data point.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>Maximum</code> -- the maximum value from a single observation during the time period represented by that data point.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>Average</code> -- the average value from all contributors during the time period represented by that data point.</p>\n\t\t\t         </li>\n         </ul>"
          }
        },
        "OrderBy": {
          "target": "com.amazonaws.cloudwatch#InsightRuleOrderBy",
          "traits": {
            "smithy.api#documentation": "<p>Determines what statistic to use to rank the contributors. Valid values are SUM and MAXIMUM.</p>"
          }
        },
        "Period": {
          "target": "com.amazonaws.cloudwatch#Period",
          "traits": {
            "smithy.api#documentation": "<p>The period, in seconds, to use for the statistics in the <code>InsightRuleMetricDatapoint</code> results.</p>",
            "smithy.api#required": {}
          }
        },
        "RuleName": {
          "target": "com.amazonaws.cloudwatch#InsightRuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule that you want to see data from.</p>",
            "smithy.api#required": {}
          }
        },
        "StartTime": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the data to use in the report. When used in a raw HTTP Query API, it is formatted as \n\t\t\t<code>yyyy-MM-dd'T'HH:mm:ss</code>. For example, \n\t\t\t<code>2019-07-01T23:59:59</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#GetInsightRuleReportOutput": {
      "type": "structure",
      "members": {
        "AggregateValue": {
          "target": "com.amazonaws.cloudwatch#InsightRuleUnboundDouble",
          "traits": {
            "smithy.api#documentation": "<p>The sum of the values from all individual contributors that match the rule.</p>"
          }
        },
        "AggregationStatistic": {
          "target": "com.amazonaws.cloudwatch#InsightRuleAggregationStatistic",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this rule aggregates contributor data by COUNT or SUM.</p>"
          }
        },
        "ApproximateUniqueCount": {
          "target": "com.amazonaws.cloudwatch#InsightRuleUnboundLong",
          "traits": {
            "smithy.api#documentation": "<p>An approximate count of the unique contributors found by this rule in this time period.</p>"
          }
        },
        "Contributors": {
          "target": "com.amazonaws.cloudwatch#InsightRuleContributors",
          "traits": {
            "smithy.api#documentation": "<p>An array of the unique contributors found by this rule in this time period. If the rule contains multiple keys, each combination of values\n\t\tfor the keys counts as a unique contributor.</p>"
          }
        },
        "KeyLabels": {
          "target": "com.amazonaws.cloudwatch#InsightRuleContributorKeyLabels",
          "traits": {
            "smithy.api#documentation": "<p>An array of the strings used as the keys for this rule. The keys are the dimensions used to classify contributors. \n\t\t\tIf the rule contains more than one key, then each unique combination of values for the keys is counted as a unique contributor.</p>"
          }
        },
        "MetricDatapoints": {
          "target": "com.amazonaws.cloudwatch#InsightRuleMetricDatapoints",
          "traits": {
            "smithy.api#documentation": "<p>A time series of metric data points that matches the time period in the rule request.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#GetMetricData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#GetMetricDataInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#GetMetricDataOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidNextToken"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>You can use the <code>GetMetricData</code> API to retrieve as many as 100 different\n\t\t\tmetrics in a single request, with a total of as many as 100,800 data points. You can also\n\t\t\toptionally perform math expressions on the values of the returned statistics, to create\n\t\t\tnew time series that represent new insights into your data. For example, using Lambda\n\t\t\tmetrics, you could divide the Errors metric by the Invocations metric to get an error\n\t\t\trate time series. For more information about metric math expressions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/using-metric-math.html#metric-math-syntax\">Metric Math Syntax and Functions</a> in the <i>Amazon CloudWatch User\n\t\t\t\tGuide</i>.</p>\n\t\t\n\t\t       <p>Calls to the <code>GetMetricData</code> API have a different pricing structure than \n\t\t\tcalls to <code>GetMetricStatistics</code>. For more information about pricing, see \n\t\t\t<a href=\"https://aws.amazon.com/cloudwatch/pricing/\">Amazon CloudWatch Pricing</a>.</p>\n\n\t\t       <p>Amazon CloudWatch retains metric data as follows:</p>\n\t\t       <ul>\n            <li>\n               <p>Data points with a period of less than 60 seconds are available for 3 hours. These data points are high-resolution\n\t\t\t\tmetrics and are available only for custom metrics that have been defined with a <code>StorageResolution</code> of 1.</p>\n            </li>\n            <li>\n               <p>Data points with a period of 60 seconds (1-minute) are available for 15 days.</p>\n            </li>\n            <li>\n               <p>Data points with a period of 300 seconds (5-minute) are available for 63 days.</p>\n            </li>\n            <li>\n               <p>Data points with a period of 3600 seconds (1 hour) are available for 455 days (15 months).</p>\n            </li>\n         </ul>\n\t\t       <p>Data points that are initially published with a shorter period are aggregated together for long-term storage. For example, if you collect \n\t\t\tdata using a period of 1 minute, the data remains available for 15 days with 1-minute resolution. After 15 days, this data is still available, \n\t\t\tbut is aggregated and retrievable only with a resolution of 5 minutes. After 63 days, the data is further aggregated and is available with \n\t\t\ta resolution of 1 hour.</p>\n\t\t\n\t\t       <p>If you omit <code>Unit</code> in your request, all data that was collected with any unit is returned, along with the corresponding units that were specified\n\t\t\twhen the data was reported to CloudWatch. If you specify a unit, the operation returns only data data that was collected with that unit specified.\n\t\t\tIf you specify a unit that does not match the data collected, the results of the operation are null. CloudWatch does not perform unit conversions.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxDatapoints"
        }
      }
    },
    "com.amazonaws.cloudwatch#GetMetricDataInput": {
      "type": "structure",
      "members": {
        "EndTime": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp indicating the latest data to be returned.</p>\n\t\t       <p>The value specified is exclusive; results include data points up to the specified time stamp.</p>\n\t\t       <p>For better performance, specify <code>StartTime</code> and <code>EndTime</code>\n\t\t\tvalues that align with the value of the metric's <code>Period</code> and sync up with\n\t\t\tthe beginning and end of an hour. For example, if the <code>Period</code> of a metric\n\t\t\tis 5 minutes, specifying 12:05 or 12:30 as <code>EndTime</code> can get a faster response\n\t\t\tfrom CloudWatch than setting 12:07 or 12:29 as the <code>EndTime</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxDatapoints": {
          "target": "com.amazonaws.cloudwatch#GetMetricDataMaxDatapoints",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of data points the request should return before paginating. If you omit\n\t\t\tthis, the default of 100,800 is used.</p>"
          }
        },
        "MetricDataQueries": {
          "target": "com.amazonaws.cloudwatch#MetricDataQueries",
          "traits": {
            "smithy.api#documentation": "<p>The metric queries to be returned. A single <code>GetMetricData</code> call can include as many as 100 <code>MetricDataQuery</code>\n\t\tstructures. Each of these structures can specify either a metric to retrieve, or a math expression to perform on retrieved data. </p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Include this value, if it was returned by the previous call, to get the next set of data points.</p>"
          }
        },
        "ScanBy": {
          "target": "com.amazonaws.cloudwatch#ScanBy",
          "traits": {
            "smithy.api#documentation": "<p>The order in which data points should be returned. <code>TimestampDescending</code> returns the newest data first and paginates\n\t\t\twhen the <code>MaxDatapoints</code> limit is reached. <code>TimestampAscending</code> returns the oldest data first and paginates\n\t\t\twhen the <code>MaxDatapoints</code> limit is reached.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp indicating the earliest data to be returned.</p>\n\t\t       <p>The value specified is inclusive; results include data points with the specified time stamp. </p>\n\t\t       <p>CloudWatch rounds the specified time stamp as follows:</p>\n\t\t       <ul>\n            <li>\n               <p>Start time less than 15 days ago - Round down to the nearest whole minute.\n\t\t\t\tFor example, 12:32:34 is rounded down to 12:32:00.</p>\n            </li>\n            <li>\n               <p>Start time between 15 and 63 days ago - Round down to the nearest 5-minute clock interval.\n\t\t\t\tFor example, 12:32:34 is rounded down to 12:30:00.</p>\n            </li>\n            <li>\n               <p>Start time greater than 63 days ago - Round down to the nearest 1-hour clock interval.\n\t\t\t\tFor example, 12:32:34 is rounded down to 12:00:00.</p>\n            </li>\n         </ul>\n\t\t       <p>If you set <code>Period</code> to 5, 10, or 30, the start time of your request is \n\t\t\trounded down to the nearest time that corresponds to even 5-, 10-, or 30-second divisions\n\t\t\tof a minute. For example, if you make a query at (HH:mm:ss) 01:05:23 for the previous \n\t\t\t10-second period, the start time of your request is rounded down and you receive data from 01:05:10 to \n\t\t\t01:05:20. If you make a query at 15:07:17 for the previous 5 minutes of data, using a \n\t\t\tperiod of 5 seconds, you receive data \n\t\t\ttimestamped between 15:02:15 and 15:07:15.\n\t\t</p>\n\t\t       <p>For better performance, specify <code>StartTime</code> and <code>EndTime</code>\n\t\tvalues that align with the value of the metric's <code>Period</code> and sync up with\n\t\tthe beginning and end of an hour. For example, if the <code>Period</code> of a metric\n\t\tis 5 minutes, specifying 12:05 or 12:30 as <code>StartTime</code> can get a faster response\n\t\t\tfrom CloudWatch than setting 12:07 or 12:29 as the <code>StartTime</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#GetMetricDataMaxDatapoints": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.cloudwatch#GetMetricDataOutput": {
      "type": "structure",
      "members": {
        "Messages": {
          "target": "com.amazonaws.cloudwatch#MetricDataResultMessages",
          "traits": {
            "smithy.api#documentation": "<p>Contains a message about this <code>GetMetricData</code> operation, if the operation\n\t\t\tresults in such a message. An example of a message that may be returned\n\t\t\tis <code>Maximum number of allowed metrics exceeded</code>. If\n\t\t\tthere is a message, as much of the operation as possible is \n\t\t\tstill executed.</p>\n\t\t       <p>A message appears here only if it is related to the global <code>GetMetricData</code> operation. Any message\n\t\t\tabout a specific metric returned by the operation appears in the <code>MetricDataResult</code> object returned for that metric.</p>"
          }
        },
        "MetricDataResults": {
          "target": "com.amazonaws.cloudwatch#MetricDataResults",
          "traits": {
            "smithy.api#documentation": "<p>The metrics that are returned, including the metric name, namespace, and dimensions.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that marks the next batch of returned results.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#GetMetricStatistics": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#GetMetricStatisticsInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#GetMetricStatisticsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InternalServiceFault"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets statistics for the specified metric.</p>\n\n\n\n\t\t       <p>The maximum number of data points returned from a single call is 1,440. If  \n\t\t\tyou request more than 1,440 data points, CloudWatch returns an error. \n\t\t\tTo reduce the number of data points, you can narrow the specified time range and make \n\t\t\tmultiple requests across adjacent time ranges, or you can increase the specified period. \n\t\t\tData points are not returned in chronological order.</p>\n\n\t\t       <p>CloudWatch aggregates data points based on the length of the period\n\t\t\tthat you specify. For example, if you request statistics with a one-hour period, \n\t\t\tCloudWatch aggregates all data points with time stamps that fall within each \n\t\t\tone-hour period. Therefore, the number of values aggregated by CloudWatch is larger than\n\t\t\tthe number of data points returned.</p>\n\t\t       <p>CloudWatch needs raw data points to calculate percentile statistics. If you publish \n\t\t\tdata using a statistic set instead, you can only retrieve \n\t\t\tpercentile statistics for this data if one of the following conditions is true:</p>\n\t\t       <ul>\n            <li>\n               <p>The SampleCount value of the statistic set is 1.</p>\n            </li>\n            <li>\n               <p>The Min and the Max values of the statistic set are equal.</p>\n            </li>\n         </ul>\n\t\t       <p>Percentile statistics are not available for metrics when any of the metric values are negative numbers.</p>\n\t\t       <p>Amazon CloudWatch retains metric data as follows:</p>\n\t\t       <ul>\n            <li>\n               <p>Data points with a period of less than 60 seconds are available for 3 hours. These data points are high-resolution\n\t\t\t\tmetrics and are available only for custom metrics that have been defined with a <code>StorageResolution</code> of 1.</p>\n            </li>\n            <li>\n               <p>Data points with a period of 60 seconds (1-minute) are available for 15 days.</p>\n            </li>\n            <li>\n               <p>Data points with a period of 300 seconds (5-minute) are available for 63 days.</p>\n            </li>\n            <li>\n               <p>Data points with a period of 3600 seconds (1 hour) are available for 455 days (15 months).</p>\n            </li>\n         </ul>\n\t\t       <p>Data points that are initially published with a shorter period are aggregated together for long-term storage. For example, if you collect \n\t\t\tdata using a period of 1 minute, the data remains available for 15 days with 1-minute resolution. After 15 days, this data is still available, \n\t\t\tbut is aggregated and retrievable only with a resolution of 5 minutes. After 63 days, the data is further aggregated and is available with \n\t\ta resolution of 1 hour.</p>\n\t\t       <p>CloudWatch started retaining 5-minute and 1-hour metric data as of July 9, 2016.</p>\t\n\n\t\t       <p>For information about metrics and dimensions supported by AWS services, see the \n\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CW_Support_For_AWS.html\">Amazon CloudWatch Metrics and Dimensions Reference</a> in the\n\t\t\t<i>Amazon CloudWatch User Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudwatch#GetMetricStatisticsInput": {
      "type": "structure",
      "members": {
        "Dimensions": {
          "target": "com.amazonaws.cloudwatch#Dimensions",
          "traits": {
            "smithy.api#documentation": "<p>The dimensions. If the metric contains multiple dimensions, you must include a value for each dimension. CloudWatch treats each unique combination of dimensions as a separate metric.\n\t\t    If a specific combination of dimensions was not published, you can't retrieve statistics for it.\n\t\t    You must specify the same dimensions that were used when the metrics were created. For an example,\n\t\t    see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#dimension-combinations\">Dimension Combinations</a> in the <i>Amazon CloudWatch User Guide</i>. For more information about specifying dimensions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html\">Publishing Metrics</a> in the\n\t\t\t<i>Amazon CloudWatch User Guide</i>.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp that determines the last data point to return.</p> \n\t\t       <p>The value specified is exclusive; results include data points up to the specified time stamp.\n\t\t\tIn a raw HTTP query, the time stamp must be in ISO 8601 UTC format (for example, 2016-10-10T23:00:00Z).</p>",
            "smithy.api#required": {}
          }
        },
        "ExtendedStatistics": {
          "target": "com.amazonaws.cloudwatch#ExtendedStatistics",
          "traits": {
            "smithy.api#documentation": "<p>The percentile statistics. Specify values between p0.0 and p100. When calling <code>GetMetricStatistics</code>, you must \n\t\t\tspecify either <code>Statistics</code> or <code>ExtendedStatistics</code>, but not both. Percentile statistics are not \n\t\t\tavailable for metrics when any of the metric values are negative numbers.</p>"
          }
        },
        "MetricName": {
          "target": "com.amazonaws.cloudwatch#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric, with or without spaces.</p>",
            "smithy.api#required": {}
          }
        },
        "Namespace": {
          "target": "com.amazonaws.cloudwatch#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the metric, with or without spaces.</p>",
            "smithy.api#required": {}
          }
        },
        "Period": {
          "target": "com.amazonaws.cloudwatch#Period",
          "traits": {
            "smithy.api#documentation": "<p>The granularity, in seconds, of the returned data points. For metrics with regular resolution, a period can\n\t\t\tbe as short as one minute (60 seconds) and must be a multiple of 60. For high-resolution metrics that are collected\n\t\t\tat intervals of less than one minute, the period can be 1, 5, 10, 30, 60, or any multiple of 60. High-resolution metrics\n\t\tare those metrics stored by a <code>PutMetricData</code> call that includes a <code>StorageResolution</code> of 1 second.</p>\n\t\t       <p>If the <code>StartTime</code> parameter specifies a time stamp that is greater than\n\t\t    3 hours ago, you must specify the period as follows or no data points in that time range is returned:</p>\n\t\t       <ul>\n            <li>\n               <p>Start time between 3 hours and 15 days ago - Use a multiple of 60 seconds (1 minute).</p>\n            </li>\n            <li>\n               <p>Start time between 15 and 63 days ago - Use a multiple of 300 seconds (5 minutes).</p>\n            </li>\n            <li>\n               <p>Start time greater than 63 days ago - Use a multiple of 3600 seconds (1 hour).</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "StartTime": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp that determines the first data point to return. Start times are \n\t\t\tevaluated relative to the time that CloudWatch receives the request.</p>\n\t        <p>The value specified is inclusive; results include data points with the specified time stamp. \n\t    \tIn a raw HTTP query, the time stamp must be in ISO 8601 UTC format (for example, 2016-10-03T23:00:00Z).</p>\n\t\t       <p>CloudWatch rounds the specified time stamp as follows:</p>\n\t\t       <ul>\n            <li>\n               <p>Start time less than 15 days ago - Round down to the nearest whole minute.\n\t\t\t    For example, 12:32:34 is rounded down to 12:32:00.</p>\n            </li>\n            <li>\n               <p>Start time between 15 and 63 days ago - Round down to the nearest 5-minute clock interval.\n\t\t\t    For example, 12:32:34 is rounded down to 12:30:00.</p>\n            </li>\n            <li>\n               <p>Start time greater than 63 days ago - Round down to the nearest 1-hour clock interval.\n\t\t\t    For example, 12:32:34 is rounded down to 12:00:00.</p>\n            </li>\n         </ul>\n\t\t       <p>If you set <code>Period</code> to 5, 10, or 30, the start time of your request is \n\t\t\trounded down to the nearest time that corresponds to even 5-, 10-, or 30-second divisions\n\t\t\tof a minute. For example, if you make a query at (HH:mm:ss) 01:05:23 for the previous \n\t\t\t10-second period, the start time of your request is rounded down and you receive data from 01:05:10 to \n\t\t\t01:05:20. If you make a query at 15:07:17 for the previous 5 minutes of data, using a \n\t\t\tperiod of 5 seconds, you receive data \n\t\t\ttimestamped between 15:02:15 and 15:07:15.\n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "Statistics": {
          "target": "com.amazonaws.cloudwatch#Statistics",
          "traits": {
            "smithy.api#documentation": "<p>The metric statistics, other than percentile. For percentile statistics,\n\t\t    use <code>ExtendedStatistics</code>. When calling <code>GetMetricStatistics</code>, you must \n\t\tspecify either <code>Statistics</code> or <code>ExtendedStatistics</code>, but not both.</p>"
          }
        },
        "Unit": {
          "target": "com.amazonaws.cloudwatch#StandardUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit for a given metric. \n\t\t\tIf you omit <code>Unit</code>, all data that was collected with any unit is returned, along with the corresponding units that were specified\n\t\t\twhen the data was reported to CloudWatch. If you specify a unit, the operation returns only data data that was collected with that unit specified.\n\t\t\tIf you specify a unit that does not match the data collected, the results of the operation are null. CloudWatch does not perform unit conversions.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#GetMetricStatisticsOutput": {
      "type": "structure",
      "members": {
        "Datapoints": {
          "target": "com.amazonaws.cloudwatch#Datapoints",
          "traits": {
            "smithy.api#documentation": "<p>The data points for the specified metric.</p>"
          }
        },
        "Label": {
          "target": "com.amazonaws.cloudwatch#MetricLabel",
          "traits": {
            "smithy.api#documentation": "<p>A label for the specified metric.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#GetMetricWidgetImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#GetMetricWidgetImageInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#GetMetricWidgetImageOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>You can use the <code>GetMetricWidgetImage</code> API to retrieve a snapshot graph of \n\t\t\tone or more Amazon CloudWatch metrics as a bitmap image. You can then embed this \n\t\t\timage into your services and products, such as wiki pages, reports, and documents. \n\t\t\tYou could also retrieve images regularly, such as every minute, and create your own \n\t\t\tcustom live dashboard.</p>\n\t\t\n\t\t       <p>The graph you retrieve can include all CloudWatch metric graph features, including metric math\n\t\tand horizontal and vertical annotations.</p>\n\t\t\n\t\t       <p>There is a limit of 20 transactions per second for this API. Each <code>GetMetricWidgetImage</code> action has the following limits:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>As many as 100 metrics in the graph.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>Up to 100 KB uncompressed payload.</p>\n\t\t\t         </li>\n         </ul>"
      }
    },
    "com.amazonaws.cloudwatch#GetMetricWidgetImageInput": {
      "type": "structure",
      "members": {
        "MetricWidget": {
          "target": "com.amazonaws.cloudwatch#MetricWidget",
          "traits": {
            "smithy.api#documentation": "<p>A JSON string that defines the bitmap graph to be retrieved. The string includes the \n\t\t\tmetrics to include in the graph, statistics, annotations, title, axis limits, and so on. \n\t\t\tYou can include only one <code>MetricWidget</code> parameter in each <code>GetMetricWidgetImage</code> call.</p>\n\t\t       <p>For more information about the syntax of <code>MetricWidget</code> see <a>CloudWatch-Metric-Widget-Structure</a>.</p>\n\t\t\n\t\t       <p>If any metric on the graph could not load all the requested data points, an orange triangle with an exclamation\n\t\t\tpoint appears next to the graph legend.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputFormat": {
          "target": "com.amazonaws.cloudwatch#OutputFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the resulting image. Only PNG images are supported.</p>\n\n\t\t       <p>The default is <code>png</code>. If you specify <code>png</code>, the API returns an HTTP response with the \n\t\t\tcontent-type set to <code>text/xml</code>. The image data is in a <code>MetricWidgetImage</code> \n\t\t\tfield. For example:</p>\n\t\t\n\t\t       <p>\n            <code>\n\t\t\t<GetMetricWidgetImageResponse xmlns=<URLstring>></code>\n         </p>\n\t\t       <p>\n            <code>  <GetMetricWidgetImageResult></code>\n         </p>\n\t\t       <p>\n            <code>    <MetricWidgetImage></code>\n         </p>\n\t\t       <p>\n            <code>       iVBORw0KGgoAAAANSUhEUgAAAlgAAAGQEAYAAAAip...</code>\n         </p>\n\t\t       <p>\n            <code>    </MetricWidgetImage></code>\n         </p>\n\t\t       <p>\n            <code>  </GetMetricWidgetImageResult></code>\n         </p>\n\t\t       <p>\n            <code>  <ResponseMetadata></code>\n         </p>\n\t\t       <p>\n            <code>    <RequestId>6f0d4192-4d42-11e8-82c1-f539a07e0e3b</RequestId></code>\n         </p>\n\t\t       <p>\n            <code>  </ResponseMetadata></code>\n         </p>\n\t\t       <p>\n            <code></GetMetricWidgetImageResponse></code>\n         </p>\n\t\t\n\t\t       <p>The <code>image/png</code> setting is intended only for custom HTTP requests. For most\n\t\t\tuse cases, and all actions using an AWS SDK, you should use <code>png</code>. If you specify \n\t\t\t<code>image/png</code>, the HTTP response has a content-type set to <code>image/png</code>, \n\t\t\tand the body of the response is a PNG image. </p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#GetMetricWidgetImageOutput": {
      "type": "structure",
      "members": {
        "MetricWidgetImage": {
          "target": "com.amazonaws.cloudwatch#MetricWidgetImage",
          "traits": {
            "smithy.api#documentation": "<p>The image of the graph, in the output format specified.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#GraniteServiceVersion20100801": {
      "type": "service",
      "version": "2010-08-01",
      "operations": [
        {
          "target": "com.amazonaws.cloudwatch#DeleteAlarms"
        },
        {
          "target": "com.amazonaws.cloudwatch#DeleteAnomalyDetector"
        },
        {
          "target": "com.amazonaws.cloudwatch#DeleteDashboards"
        },
        {
          "target": "com.amazonaws.cloudwatch#DeleteInsightRules"
        },
        {
          "target": "com.amazonaws.cloudwatch#DescribeAlarmHistory"
        },
        {
          "target": "com.amazonaws.cloudwatch#DescribeAlarms"
        },
        {
          "target": "com.amazonaws.cloudwatch#DescribeAlarmsForMetric"
        },
        {
          "target": "com.amazonaws.cloudwatch#DescribeAnomalyDetectors"
        },
        {
          "target": "com.amazonaws.cloudwatch#DescribeInsightRules"
        },
        {
          "target": "com.amazonaws.cloudwatch#DisableAlarmActions"
        },
        {
          "target": "com.amazonaws.cloudwatch#DisableInsightRules"
        },
        {
          "target": "com.amazonaws.cloudwatch#EnableAlarmActions"
        },
        {
          "target": "com.amazonaws.cloudwatch#EnableInsightRules"
        },
        {
          "target": "com.amazonaws.cloudwatch#GetDashboard"
        },
        {
          "target": "com.amazonaws.cloudwatch#GetInsightRuleReport"
        },
        {
          "target": "com.amazonaws.cloudwatch#GetMetricData"
        },
        {
          "target": "com.amazonaws.cloudwatch#GetMetricStatistics"
        },
        {
          "target": "com.amazonaws.cloudwatch#GetMetricWidgetImage"
        },
        {
          "target": "com.amazonaws.cloudwatch#ListDashboards"
        },
        {
          "target": "com.amazonaws.cloudwatch#ListMetrics"
        },
        {
          "target": "com.amazonaws.cloudwatch#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.cloudwatch#PutAnomalyDetector"
        },
        {
          "target": "com.amazonaws.cloudwatch#PutDashboard"
        },
        {
          "target": "com.amazonaws.cloudwatch#PutInsightRule"
        },
        {
          "target": "com.amazonaws.cloudwatch#PutMetricAlarm"
        },
        {
          "target": "com.amazonaws.cloudwatch#PutMetricData"
        },
        {
          "target": "com.amazonaws.cloudwatch#SetAlarmState"
        },
        {
          "target": "com.amazonaws.cloudwatch#TagResource"
        },
        {
          "target": "com.amazonaws.cloudwatch#UntagResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CloudWatch",
          "arnNamespace": "monitoring",
          "cloudFormationName": "CloudWatch",
          "cloudTrailEventSource": "v2010_08_01.cloudwatch.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "monitoring"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#documentation": "<p>Amazon CloudWatch monitors your Amazon Web Services (AWS) resources and the\n\t\t\tapplications you run on AWS in real time. You can use CloudWatch to collect and track\n\t\t\tmetrics, which are the variables you want to measure for your resources and\n\t\t\tapplications.</p>\n\n\t\t       <p>CloudWatch alarms send notifications or automatically change the resources\n\t\t\tyou are monitoring based on rules that you define. For example, you can monitor the CPU\n\t\t\tusage and disk reads and writes of your Amazon EC2\n\t\t\tinstances. Then, use this data to determine whether you should launch additional\n\t\t\tinstances to handle increased load. You can also use this data to stop under-used\n\t\t\tinstances to save money.</p>\n\n\t\t       <p>In addition to monitoring the built-in metrics that come with AWS, you can monitor\n\t\t\tyour own custom metrics. With CloudWatch, you gain system-wide visibility into resource\n\t\t\tutilization, application performance, and operational health.</p>",
        "smithy.api#title": "Amazon CloudWatch",
        "smithy.api#xmlNamespace": {
          "uri": "http://monitoring.amazonaws.com/doc/2010-08-01/"
        }
      }
    },
    "com.amazonaws.cloudwatch#HistoryData": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4095
        }
      }
    },
    "com.amazonaws.cloudwatch#HistoryItemType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ConfigurationUpdate"
          },
          {
            "value": "StateUpdate"
          },
          {
            "value": "Action"
          }
        ]
      }
    },
    "com.amazonaws.cloudwatch#HistorySummary": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#InsightRule": {
      "type": "structure",
      "members": {
        "Definition": {
          "target": "com.amazonaws.cloudwatch#InsightRuleDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The definition of the rule, as a JSON object. The definition contains the keywords used to define contributors, \n\t\t\tthe value to aggregate on if this rule returns a sum instead of a count, and the filters. For details on the valid syntax, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/ContributorInsights-RuleSyntax.html\">Contributor Insights\n\t\t\t\tRule Syntax</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.cloudwatch#InsightRuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule.</p>",
            "smithy.api#required": {}
          }
        },
        "Schema": {
          "target": "com.amazonaws.cloudwatch#InsightRuleSchema",
          "traits": {
            "smithy.api#documentation": "<p>For rules that you create, this is always <code>{\"Name\": \"CloudWatchLogRule\", \"Version\": 1}</code>. For built-in rules, \n\t\t\tthis is <code>{\"Name\": \"ServiceLogRule\", \"Version\": 1}</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "State": {
          "target": "com.amazonaws.cloudwatch#InsightRuleState",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the rule is enabled or disabled.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure contains the definition for a Contributor Insights rule.</p>"
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleAggregationStatistic": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#InsightRuleContributor": {
      "type": "structure",
      "members": {
        "ApproximateAggregateValue": {
          "target": "com.amazonaws.cloudwatch#InsightRuleUnboundDouble",
          "traits": {
            "smithy.api#documentation": "<p>An approximation of the aggregate value that comes from this contributor.</p>",
            "smithy.api#required": {}
          }
        },
        "Datapoints": {
          "target": "com.amazonaws.cloudwatch#InsightRuleContributorDatapoints",
          "traits": {
            "smithy.api#documentation": "<p>An array of the data points where this contributor is present. Only the data points when this contributor appeared are included in the array.</p>",
            "smithy.api#required": {}
          }
        },
        "Keys": {
          "target": "com.amazonaws.cloudwatch#InsightRuleContributorKeys",
          "traits": {
            "smithy.api#documentation": "<p>One of the log entry field keywords that is used to define contributors for this rule.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One of the unique contributors found by a Contributor Insights rule. If the rule contains multiple keys, then\n\t\t\ta unique contributor is a unique combination of values from all the keys in the rule.</p>\n\t\t       <p>If the rule contains a single key, then each unique contributor is each unique value for this key.</p>\n\t\t       <p>For more information, see <a>GetInsightRuleReport</a>.</p>"
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleContributorDatapoint": {
      "type": "structure",
      "members": {
        "ApproximateValue": {
          "target": "com.amazonaws.cloudwatch#InsightRuleUnboundDouble",
          "traits": {
            "smithy.api#documentation": "<p>The approximate value that this contributor added during this timestamp.</p>",
            "smithy.api#required": {}
          }
        },
        "Timestamp": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the data point.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One data point related to one contributor.</p>\n\t\t       <p>For more information, see <a>GetInsightRuleReport</a> and <a>InsightRuleContributor</a>.</p>"
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleContributorDatapoints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#InsightRuleContributorDatapoint"
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleContributorKey": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#InsightRuleContributorKeyLabel": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#InsightRuleContributorKeyLabels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#InsightRuleContributorKeyLabel"
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleContributorKeys": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#InsightRuleContributorKey"
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleContributors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#InsightRuleContributor"
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleDefinition": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8192
        },
        "smithy.api#pattern": "[\\x00-\\x7F]+"
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleMetricDatapoint": {
      "type": "structure",
      "members": {
        "Average": {
          "target": "com.amazonaws.cloudwatch#InsightRuleUnboundDouble",
          "traits": {
            "smithy.api#documentation": "<p>The average value from all contributors during the time period represented by that data point.</p>\n\t\t       <p>This statistic is returned only if you included it in the <code>Metrics</code> array in your request.</p>"
          }
        },
        "MaxContributorValue": {
          "target": "com.amazonaws.cloudwatch#InsightRuleUnboundDouble",
          "traits": {
            "smithy.api#documentation": "<p>The maximum value provided by one contributor during this timestamp. Each timestamp is evaluated separately, \n\t\t\tso the identity of the max contributor\n\t\tcould be different for each timestamp.</p>\n\t\t       <p>This statistic is returned only if you included it in the <code>Metrics</code> array in your request.</p>"
          }
        },
        "Maximum": {
          "target": "com.amazonaws.cloudwatch#InsightRuleUnboundDouble",
          "traits": {
            "smithy.api#documentation": "<p>The maximum value from a single occurence from a single contributor during the time period represented by that data point.</p>\n\t\t       <p>This statistic is returned only if you included it in the <code>Metrics</code> array in your request.</p>"
          }
        },
        "Minimum": {
          "target": "com.amazonaws.cloudwatch#InsightRuleUnboundDouble",
          "traits": {
            "smithy.api#documentation": "<p>The minimum value from a single contributor during the time period represented by that data point.</p>\n\t\t       <p>This statistic is returned only if you included it in the <code>Metrics</code> array in your request.</p>"
          }
        },
        "SampleCount": {
          "target": "com.amazonaws.cloudwatch#InsightRuleUnboundDouble",
          "traits": {
            "smithy.api#documentation": "<p>The number of occurrences that matched the rule during this data point.</p>\n\t\t       <p>This statistic is returned only if you included it in the <code>Metrics</code> array in your request.</p>"
          }
        },
        "Sum": {
          "target": "com.amazonaws.cloudwatch#InsightRuleUnboundDouble",
          "traits": {
            "smithy.api#documentation": "<p>The sum of the values from all contributors during the time period represented by that data point.</p>\n\t\t       <p>This statistic is returned only if you included it in the <code>Metrics</code> array in your request.</p>"
          }
        },
        "Timestamp": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the data point.</p>",
            "smithy.api#required": {}
          }
        },
        "UniqueContributors": {
          "target": "com.amazonaws.cloudwatch#InsightRuleUnboundDouble",
          "traits": {
            "smithy.api#documentation": "<p>The number of unique contributors who published data during this timestamp.</p>\n\t\t       <p>This statistic is returned only if you included it in the <code>Metrics</code> array in your request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One data point from the metric time series returned in a Contributor Insights rule report.</p>\n\t\t       <p>For more information, see <a>GetInsightRuleReport</a>.</p>"
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleMetricDatapoints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#InsightRuleMetricDatapoint"
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleMetricList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#InsightRuleMetricName"
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleMetricName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "[\\x20-\\x7E]+"
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[\\x20-\\x7E]+"
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#InsightRuleName"
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleOrderBy": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "[\\x20-\\x7E]+"
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleSchema": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#InsightRuleState": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "[\\x20-\\x7E]+"
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleUnboundDouble": {
      "type": "double",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleUnboundInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.cloudwatch#InsightRuleUnboundLong": {
      "type": "long",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.cloudwatch#InsightRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#InsightRule"
      }
    },
    "com.amazonaws.cloudwatch#InternalServiceFault": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudwatch#FaultDescription",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Request processing has failed due to some unknown error, exception, or failure.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.cloudwatch#InvalidFormatFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.cloudwatch#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data was not syntactically valid JSON.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudwatch#InvalidNextToken": {
[...]
