{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.cloudsearch#A9SearchCloudConfigService2013": {
      "type": "service",
      "version": "2013-01-01",
      "operations": [
        {
          "target": "com.amazonaws.cloudsearch#BuildSuggesters"
        },
        {
          "target": "com.amazonaws.cloudsearch#CreateDomain"
        },
        {
          "target": "com.amazonaws.cloudsearch#DefineAnalysisScheme"
        },
        {
          "target": "com.amazonaws.cloudsearch#DefineExpression"
        },
        {
          "target": "com.amazonaws.cloudsearch#DefineIndexField"
        },
        {
          "target": "com.amazonaws.cloudsearch#DefineSuggester"
        },
        {
          "target": "com.amazonaws.cloudsearch#DeleteAnalysisScheme"
        },
        {
          "target": "com.amazonaws.cloudsearch#DeleteDomain"
        },
        {
          "target": "com.amazonaws.cloudsearch#DeleteExpression"
        },
        {
          "target": "com.amazonaws.cloudsearch#DeleteIndexField"
        },
        {
          "target": "com.amazonaws.cloudsearch#DeleteSuggester"
        },
        {
          "target": "com.amazonaws.cloudsearch#DescribeAnalysisSchemes"
        },
        {
          "target": "com.amazonaws.cloudsearch#DescribeAvailabilityOptions"
        },
        {
          "target": "com.amazonaws.cloudsearch#DescribeDomainEndpointOptions"
        },
        {
          "target": "com.amazonaws.cloudsearch#DescribeDomains"
        },
        {
          "target": "com.amazonaws.cloudsearch#DescribeExpressions"
        },
        {
          "target": "com.amazonaws.cloudsearch#DescribeIndexFields"
        },
        {
          "target": "com.amazonaws.cloudsearch#DescribeScalingParameters"
        },
        {
          "target": "com.amazonaws.cloudsearch#DescribeServiceAccessPolicies"
        },
        {
          "target": "com.amazonaws.cloudsearch#DescribeSuggesters"
        },
        {
          "target": "com.amazonaws.cloudsearch#IndexDocuments"
        },
        {
          "target": "com.amazonaws.cloudsearch#ListDomainNames"
        },
        {
          "target": "com.amazonaws.cloudsearch#UpdateAvailabilityOptions"
        },
        {
          "target": "com.amazonaws.cloudsearch#UpdateDomainEndpointOptions"
        },
        {
          "target": "com.amazonaws.cloudsearch#UpdateScalingParameters"
        },
        {
          "target": "com.amazonaws.cloudsearch#UpdateServiceAccessPolicies"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CloudSearch",
          "arnNamespace": "cloudsearch",
          "cloudFormationName": "CloudSearch",
          "cloudTrailEventSource": "cloudsearch.amazonaws.com",
          "endpointPrefix": "cloudsearch"
        },
        "aws.auth#sigv4": {
          "name": "cloudsearch"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#documentation": "<fullname>Amazon CloudSearch Configuration Service</fullname>\n    <p>You use the Amazon CloudSearch configuration service to create, configure, and manage search domains.\n      Configuration service  requests are submitted using the AWS Query protocol. AWS Query requests\n      are HTTP or HTTPS requests submitted via HTTP GET or POST with a query parameter named Action.</p>\n    <p>The endpoint for configuration service requests is region-specific: cloudsearch.<i>region</i>.amazonaws.com.\n      For example, cloudsearch.us-east-1.amazonaws.com. For a current list of supported regions and endpoints,\n      see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#cloudsearch_region\" target=\"_blank\">Regions and Endpoints</a>.</p>",
        "smithy.api#title": "Amazon CloudSearch",
        "smithy.api#xmlNamespace": {
          "uri": "http://cloudsearch.amazonaws.com/doc/2013-01-01/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://cloudsearch-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cloudsearch-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://cloudsearch.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://cloudsearch.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudsearch.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.cloudsearch#APIVersion": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Amazon CloudSearch API version for a domain: 2011-02-01 or 2013-01-01.</p>"
      }
    },
    "com.amazonaws.cloudsearch#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the search domain.  See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\" target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.</p>"
      }
    },
    "com.amazonaws.cloudsearch#AccessPoliciesStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.cloudsearch#PolicyDocument",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.cloudsearch#OptionStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configured access rules for the domain's document and search endpoints, and the current status of those rules.</p>"
      }
    },
    "com.amazonaws.cloudsearch#AlgorithmicStemming": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "none",
            "name": "none"
          },
          {
            "value": "minimal",
            "name": "minimal"
          },
          {
            "value": "light",
            "name": "light"
          },
          {
            "value": "full",
            "name": "full"
          }
        ]
      }
    },
    "com.amazonaws.cloudsearch#AnalysisOptions": {
      "type": "structure",
      "members": {
        "Synonyms": {
          "target": "com.amazonaws.cloudsearch#String",
          "traits": {
            "smithy.api#documentation": "<p>A JSON object that defines synonym groups and aliases. A synonym group is an array of arrays, where each sub-array is a group of terms where each term in the group is considered a synonym of every other term in the group. The aliases value is an object that contains a collection of string:value pairs where the string specifies a term and the array of values specifies each of the aliases for that term. An alias is considered a synonym of the specified term, but the term is not considered a synonym of the alias. For more information about specifying synonyms, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html#synonyms\">Synonyms</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
          }
        },
        "Stopwords": {
          "target": "com.amazonaws.cloudsearch#String",
          "traits": {
            "smithy.api#documentation": "<p>A  JSON array of terms to ignore during indexing and searching. For example, <code>[\"a\", \"an\", \"the\", \"of\"]</code>. The stopwords dictionary must explicitly list each word you want to ignore. Wildcards and regular expressions are not supported. </p>"
          }
        },
        "StemmingDictionary": {
          "target": "com.amazonaws.cloudsearch#String",
          "traits": {
            "smithy.api#documentation": "<p>A JSON object that contains a collection of string:value pairs that each map a term to its stem. For example, <code>{\"term1\": \"stem1\", \"term2\": \"stem2\", \"term3\": \"stem3\"}</code>. The stemming dictionary is applied in addition to any algorithmic stemming. This enables you to override the results of the algorithmic stemming to correct specific cases of overstemming or understemming. The maximum size of a stemming dictionary is 500 KB.</p>"
          }
        },
        "JapaneseTokenizationDictionary": {
          "target": "com.amazonaws.cloudsearch#String",
          "traits": {
            "smithy.api#documentation": "<p>A JSON array that contains a collection of terms, tokens, readings and part of speech for Japanese Tokenizaiton. The Japanese tokenization dictionary enables you to override the default tokenization for selected terms. This is only valid for Japanese language fields.</p>"
          }
        },
        "AlgorithmicStemming": {
          "target": "com.amazonaws.cloudsearch#AlgorithmicStemming",
          "traits": {
            "smithy.api#documentation": "<p>The level of algorithmic stemming to perform: <code>none</code>, <code>minimal</code>, <code>light</code>, or <code>full</code>. The available levels vary depending on the language. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/text-processing.html#text-processing-settings\" target=\"_blank\">Language Specific Text Processing Settings</a> in the <i>Amazon CloudSearch Developer Guide</i> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Synonyms, stopwords, and stemming options for an analysis scheme. Includes tokenization dictionary for Japanese.</p>"
      }
    },
    "com.amazonaws.cloudsearch#AnalysisScheme": {
      "type": "structure",
      "members": {
        "AnalysisSchemeName": {
          "target": "com.amazonaws.cloudsearch#StandardName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "AnalysisSchemeLanguage": {
          "target": "com.amazonaws.cloudsearch#AnalysisSchemeLanguage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "AnalysisOptions": {
          "target": "com.amazonaws.cloudsearch#AnalysisOptions"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information for an analysis scheme. Each analysis scheme has a unique name and specifies the language of the text to be processed. The following options can be configured for an analysis scheme: <code>Synonyms</code>, <code>Stopwords</code>, <code>StemmingDictionary</code>, <code>JapaneseTokenizationDictionary</code> and <code>AlgorithmicStemming</code>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#AnalysisSchemeLanguage": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>An <a href=\"http://tools.ietf.org/html/rfc4646\" target=\"_blank\">IETF RFC 4646</a> language code or <code>mul</code>  for multiple languages.</p>",
        "smithy.api#enum": [
          {
            "value": "ar",
            "name": "ar"
          },
          {
            "value": "bg",
            "name": "bg"
          },
          {
            "value": "ca",
            "name": "ca"
          },
          {
            "value": "cs",
            "name": "cs"
          },
          {
            "value": "da",
            "name": "da"
          },
          {
            "value": "de",
            "name": "de"
          },
          {
            "value": "el",
            "name": "el"
          },
          {
            "value": "en",
            "name": "en"
          },
          {
            "value": "es",
            "name": "es"
          },
          {
            "value": "eu",
            "name": "eu"
          },
          {
            "value": "fa",
            "name": "fa"
          },
          {
            "value": "fi",
            "name": "fi"
          },
          {
            "value": "fr",
            "name": "fr"
          },
          {
            "value": "ga",
            "name": "ga"
          },
          {
            "value": "gl",
            "name": "gl"
          },
          {
            "value": "he",
            "name": "he"
          },
          {
            "value": "hi",
            "name": "hi"
          },
          {
            "value": "hu",
            "name": "hu"
          },
          {
            "value": "hy",
            "name": "hy"
          },
          {
            "value": "id",
            "name": "id"
          },
          {
            "value": "it",
            "name": "it"
          },
          {
            "value": "ja",
            "name": "ja"
          },
          {
            "value": "ko",
            "name": "ko"
          },
          {
            "value": "lv",
            "name": "lv"
          },
          {
            "value": "mul",
            "name": "mul"
          },
          {
            "value": "nl",
            "name": "nl"
          },
          {
            "value": "no",
            "name": "no"
          },
          {
            "value": "pt",
            "name": "pt"
          },
          {
            "value": "ro",
            "name": "ro"
          },
          {
            "value": "ru",
            "name": "ru"
          },
          {
            "value": "sv",
            "name": "sv"
          },
          {
            "value": "th",
            "name": "th"
          },
          {
            "value": "tr",
            "name": "tr"
          },
          {
            "value": "zh-Hans",
            "name": "zh_Hans"
          },
          {
            "value": "zh-Hant",
            "name": "zh_Hant"
          }
        ]
      }
    },
    "com.amazonaws.cloudsearch#AnalysisSchemeStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.cloudsearch#AnalysisScheme",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.cloudsearch#OptionStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status and configuration of an  <code>AnalysisScheme</code>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#AnalysisSchemeStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudsearch#AnalysisSchemeStatus"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of the analysis schemes configured for a domain.</p>"
      }
    },
    "com.amazonaws.cloudsearch#AvailabilityOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.cloudsearch#MultiAZ",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>The availability options configured for the domain.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.cloudsearch#OptionStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status and configuration of the domain's availability options.</p>"
      }
    },
    "com.amazonaws.cloudsearch#BaseException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.cloudsearch#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.cloudsearch#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occurred while processing the request.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudsearch#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.cloudsearch#BuildSuggesters": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#BuildSuggestersRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#BuildSuggestersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Indexes the search suggestions. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html#configuring-suggesters\">Configuring Suggesters</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#BuildSuggestersRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.cloudsearch#DomainName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>BuildSuggester</a></code> operation. Specifies the name of the domain you want to update.</p>"
      }
    },
    "com.amazonaws.cloudsearch#BuildSuggestersResponse": {
      "type": "structure",
      "members": {
        "FieldNames": {
          "target": "com.amazonaws.cloudsearch#FieldNameList"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>BuildSuggester</code> request. Contains a list of the fields used for suggestions.</p>"
      }
    },
    "com.amazonaws.cloudsearch#CreateDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#CreateDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#CreateDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        },
        {
          "target": "com.amazonaws.cloudsearch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new search domain. For more information,\n      see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/creating-domains.html\" target=\"_blank\">Creating a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#CreateDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.cloudsearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the domain you are creating. Allowed characters are a-z (lower-case letters), 0-9, and hyphen (-). Domain names must start with a letter or number and be at least 3 and no more than 28 characters long.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>CreateDomain</a></code> operation. Specifies a name for the new search domain.</p>"
      }
    },
    "com.amazonaws.cloudsearch#CreateDomainResponse": {
      "type": "structure",
      "members": {
        "DomainStatus": {
          "target": "com.amazonaws.cloudsearch#DomainStatus"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>CreateDomainRequest</code>. Contains the status of a newly created domain.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DateArrayOptions": {
      "type": "structure",
      "members": {
        "DefaultValue": {
          "target": "com.amazonaws.cloudsearch#FieldValue",
          "traits": {
            "smithy.api#documentation": "A value to use for the field if the field isn't specified for a document."
          }
        },
        "SourceFields": {
          "target": "com.amazonaws.cloudsearch#FieldNameCommaList",
          "traits": {
            "smithy.api#documentation": "<p>A list of source fields to map to the field. </p>"
          }
        },
        "FacetEnabled": {
          "target": "com.amazonaws.cloudsearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether facet information can be returned for the field.</p>"
          }
        },
        "SearchEnabled": {
          "target": "com.amazonaws.cloudsearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the contents of the field are searchable.</p>"
          }
        },
        "ReturnEnabled": {
          "target": "com.amazonaws.cloudsearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the contents of the field can be returned in the search results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Options for a field that contains an array of dates.  Present if <code>IndexFieldType</code> specifies the field is of type <code>date-array</code>. All options are enabled by default.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DateOptions": {
      "type": "structure",
      "members": {
        "DefaultValue": {
          "target": "com.amazonaws.cloudsearch#FieldValue",
          "traits": {
            "smithy.api#documentation": "A value to use for the field if the field isn't specified for a document."
          }
        },
        "SourceField": {
          "target": "com.amazonaws.cloudsearch#FieldName"
        },
        "FacetEnabled": {
          "target": "com.amazonaws.cloudsearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether facet information can be returned for the field.</p>"
          }
        },
        "SearchEnabled": {
          "target": "com.amazonaws.cloudsearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the contents of the field are searchable.</p>"
          }
        },
        "ReturnEnabled": {
          "target": "com.amazonaws.cloudsearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the contents of the field can be returned in the search results.</p>"
          }
        },
        "SortEnabled": {
          "target": "com.amazonaws.cloudsearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the field can be used to sort the search results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Options for a date field. Dates and times are specified in UTC (Coordinated Universal Time) according to IETF RFC3339: yyyy-mm-ddT00:00:00Z.  Present if <code>IndexFieldType</code> specifies the field is of type <code>date</code>. All options are enabled by default.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DefineAnalysisScheme": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#DefineAnalysisSchemeRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#DefineAnalysisSchemeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InvalidTypeException"
        },
        {
          "target": "com.amazonaws.cloudsearch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Configures an analysis scheme that can be applied to a <code>text</code> or <code>text-array</code> field to define language-specific text processing options. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html\" target=\"_blank\">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DefineAnalysisSchemeRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.cloudsearch#DomainName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "AnalysisScheme": {
          "target": "com.amazonaws.cloudsearch#AnalysisScheme",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DefineAnalysisScheme</a></code> operation. Specifies the name of the domain you want to update and the analysis scheme configuration.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DefineAnalysisSchemeResponse": {
      "type": "structure",
      "members": {
        "AnalysisScheme": {
          "target": "com.amazonaws.cloudsearch#AnalysisSchemeStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code><a>DefineAnalysisScheme</a></code> request. Contains the status of the newly-configured analysis scheme.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DefineExpression": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#DefineExpressionRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#DefineExpressionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InvalidTypeException"
        },
        {
          "target": "com.amazonaws.cloudsearch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Configures an <code><a>Expression</a></code> for the search domain. Used to create new expressions and modify existing ones.  If the expression exists, the new configuration replaces the old one. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\" target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DefineExpressionRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.cloudsearch#DomainName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Expression": {
          "target": "com.amazonaws.cloudsearch#Expression",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DefineExpression</a></code> operation. Specifies the name of the domain you want to update and the expression you want to configure.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DefineExpressionResponse": {
      "type": "structure",
      "members": {
        "Expression": {
          "target": "com.amazonaws.cloudsearch#ExpressionStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DefineExpression</code> request. Contains the status of the newly-configured expression.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DefineIndexField": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#DefineIndexFieldRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#DefineIndexFieldResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InvalidTypeException"
        },
        {
          "target": "com.amazonaws.cloudsearch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Configures an <code><a>IndexField</a></code> for the search domain. Used to create new fields and modify existing ones. You must specify the name of the domain you are configuring and an index field configuration. The index field configuration specifies a unique name, the index field type, and the options you want to configure for the field. The options you can specify depend on the <code><a>IndexFieldType</a></code>. If the field exists, the new configuration replaces the old one. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html\" target=\"_blank\">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>"
      }
    },
    "com.amazonaws.cloudsearch#DefineIndexFieldRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.cloudsearch#DomainName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "IndexField": {
          "target": "com.amazonaws.cloudsearch#IndexField",
          "traits": {
            "smithy.api#documentation": "<p>The index field and field options you want to configure. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DefineIndexField</a></code> operation. Specifies the name of the domain you want to update and the index field configuration.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DefineIndexFieldResponse": {
      "type": "structure",
      "members": {
        "IndexField": {
          "target": "com.amazonaws.cloudsearch#IndexFieldStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code><a>DefineIndexField</a></code> request. Contains the status of the newly-configured index field.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DefineSuggester": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#DefineSuggesterRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#DefineSuggesterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InvalidTypeException"
        },
        {
          "target": "com.amazonaws.cloudsearch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Configures a suggester for a domain. A suggester enables you to display possible matches before users finish typing their queries. When you configure a suggester, you must specify the name of the text field you want to search for possible matches and a unique name for the suggester. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html\" target=\"_blank\">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DefineSuggesterRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.cloudsearch#DomainName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Suggester": {
          "target": "com.amazonaws.cloudsearch#Suggester",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DefineSuggester</a></code> operation. Specifies the name of the domain you want to update and the suggester configuration.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DefineSuggesterResponse": {
      "type": "structure",
      "members": {
        "Suggester": {
          "target": "com.amazonaws.cloudsearch#SuggesterStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DefineSuggester</code> request. Contains the status of the newly-configured suggester.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DeleteAnalysisScheme": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#DeleteAnalysisSchemeRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#DeleteAnalysisSchemeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InvalidTypeException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an analysis scheme. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html\" target=\"_blank\">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>"
      }
    },
    "com.amazonaws.cloudsearch#DeleteAnalysisSchemeRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.cloudsearch#DomainName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "AnalysisSchemeName": {
          "target": "com.amazonaws.cloudsearch#StandardName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the analysis scheme you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DeleteAnalysisScheme</a></code> operation. Specifies the name of the domain you want to update and the analysis scheme you want to delete. </p>"
      }
    },
    "com.amazonaws.cloudsearch#DeleteAnalysisSchemeResponse": {
      "type": "structure",
      "members": {
        "AnalysisScheme": {
          "target": "com.amazonaws.cloudsearch#AnalysisSchemeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the analysis scheme being deleted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DeleteAnalysisScheme</code> request. Contains the status of the deleted analysis scheme.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DeleteDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#DeleteDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#DeleteDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes a search domain and all of its data. Once a domain has been deleted, it cannot be recovered. For more information,\n      see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/deleting-domains.html\" target=\"_blank\">Deleting a Search  Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>"
      }
    },
    "com.amazonaws.cloudsearch#DeleteDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.cloudsearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain you want to permanently delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DeleteDomain</a></code> operation. Specifies the name of the domain you want to delete.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DeleteDomainResponse": {
      "type": "structure",
      "members": {
        "DomainStatus": {
          "target": "com.amazonaws.cloudsearch#DomainStatus"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DeleteDomain</code> request. Contains the status of a newly deleted domain, or no status if the domain has already been completely deleted.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DeleteExpression": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#DeleteExpressionRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#DeleteExpressionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InvalidTypeException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes an <code><a>Expression</a></code> from the search domain. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\" target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DeleteExpressionRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.cloudsearch#DomainName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ExpressionName": {
          "target": "com.amazonaws.cloudsearch#StandardName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code><a>Expression</a></code> to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DeleteExpression</a></code> operation. Specifies the name of the domain you want to update and the name of the expression you want to delete.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DeleteExpressionResponse": {
      "type": "structure",
      "members": {
        "Expression": {
          "target": "com.amazonaws.cloudsearch#ExpressionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the expression being deleted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code><a>DeleteExpression</a></code> request. Specifies the expression being deleted.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DeleteIndexField": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#DeleteIndexFieldRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#DeleteIndexFieldResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InvalidTypeException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes an <code><a>IndexField</a></code> from the search domain. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html\" target=\"_blank\">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DeleteIndexFieldRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.cloudsearch#DomainName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "IndexFieldName": {
          "target": "com.amazonaws.cloudsearch#DynamicFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the index field your want to remove from the domain's indexing options.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DeleteIndexField</a></code> operation. Specifies the name of the domain you want to update and the name of the index field you want to delete.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DeleteIndexFieldResponse": {
      "type": "structure",
      "members": {
        "IndexField": {
          "target": "com.amazonaws.cloudsearch#IndexFieldStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the index field being deleted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code><a>DeleteIndexField</a></code> request.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DeleteSuggester": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#DeleteSuggesterRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#DeleteSuggesterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InvalidTypeException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a suggester. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html\" target=\"_blank\">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DeleteSuggesterRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.cloudsearch#DomainName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "SuggesterName": {
          "target": "com.amazonaws.cloudsearch#StandardName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the suggester you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DeleteSuggester</a></code> operation. Specifies the name of the domain you want to update and name of the suggester you want to delete.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DeleteSuggesterResponse": {
      "type": "structure",
      "members": {
        "Suggester": {
          "target": "com.amazonaws.cloudsearch#SuggesterStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the suggester being deleted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DeleteSuggester</code> request. Contains the status of the deleted suggester.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeAnalysisSchemes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#DescribeAnalysisSchemesRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#DescribeAnalysisSchemesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the analysis schemes configured for a domain. An analysis scheme defines language-specific text processing options for a <code>text</code> field. Can be limited to specific analysis schemes by name.  By default, shows all analysis schemes and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes.  For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html\" target=\"_blank\">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeAnalysisSchemesRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.cloudsearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain you want to describe.</p>",
            "smithy.api#required": {}
          }
        },
        "AnalysisSchemeNames": {
          "target": "com.amazonaws.cloudsearch#StandardNameList",
          "traits": {
            "smithy.api#documentation": "<p>The analysis schemes you want to describe.</p>"
          }
        },
        "Deployed": {
          "target": "com.amazonaws.cloudsearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DescribeAnalysisSchemes</a></code> operation. Specifies the name of the domain you want to describe. To limit the response to particular analysis schemes, specify the names of the analysis schemes you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>. </p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeAnalysisSchemesResponse": {
      "type": "structure",
      "members": {
        "AnalysisSchemes": {
          "target": "com.amazonaws.cloudsearch#AnalysisSchemeStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The analysis scheme descriptions.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DescribeAnalysisSchemes</code> request. Contains the analysis schemes configured for the domain specified in the request.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeAvailabilityOptions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#DescribeAvailabilityOptionsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#DescribeAvailabilityOptionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InvalidTypeException"
        },
        {
          "target": "com.amazonaws.cloudsearch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the availability options configured for a domain. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see  <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html\" target=\"_blank\">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeAvailabilityOptionsRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.cloudsearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain you want to describe.</p>",
            "smithy.api#required": {}
          }
        },
        "Deployed": {
          "target": "com.amazonaws.cloudsearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DescribeAvailabilityOptions</a></code> operation. Specifies the name of the domain you want to describe. To show the active configuration and exclude any pending changes, set the Deployed option to <code>true</code>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeAvailabilityOptionsResponse": {
      "type": "structure",
      "members": {
        "AvailabilityOptions": {
          "target": "com.amazonaws.cloudsearch#AvailabilityOptionsStatus",
          "traits": {
            "smithy.api#documentation": "<p>The availability options configured for the domain. Indicates whether Multi-AZ is enabled for the domain. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DescribeAvailabilityOptions</code> request. Indicates whether or not the Multi-AZ option is enabled for the domain specified in the request. </p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeDomainEndpointOptions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#DescribeDomainEndpointOptionsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#DescribeDomainEndpointOptionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        },
        {
          "target": "com.amazonaws.cloudsearch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the domain's endpoint options, specifically whether all requests to the domain must arrive over HTTPS. For more information, see  <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-domain-endpoint-options.html\" target=\"_blank\">Configuring Domain Endpoint Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeDomainEndpointOptionsRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.cloudsearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>A string that represents the name of a domain.</p>",
            "smithy.api#required": {}
          }
        },
        "Deployed": {
          "target": "com.amazonaws.cloudsearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to retrieve the latest configuration (which might be in a Processing state) or the current, active configuration. Defaults to <code>false</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DescribeDomainEndpointOptions</a></code> operation. Specify the name of the domain you want to describe. To show the active configuration and exclude any pending changes, set the Deployed option to <code>true</code>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeDomainEndpointOptionsResponse": {
      "type": "structure",
      "members": {
        "DomainEndpointOptions": {
          "target": "com.amazonaws.cloudsearch#DomainEndpointOptionsStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status and configuration of a search domain's endpoint options.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DescribeDomainEndpointOptions</code> request. Contains the status and configuration of a search domain's endpoint options. </p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeDomains": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#DescribeDomainsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#DescribeDomainsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about the search domains owned by this account. Can be limited to specific domains. Shows\n      all domains by default. To get the number of searchable documents in a domain, use the console or submit a <code>matchall</code> request to your domain's search endpoint: <code>q=matchall&amp;q.parser=structured&amp;size=0</code>. For more information,\n      see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html\" target=\"_blank\">Getting Information about a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeDomainsRequest": {
      "type": "structure",
      "members": {
        "DomainNames": {
          "target": "com.amazonaws.cloudsearch#DomainNameList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the domains you want to include in the response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DescribeDomains</a></code> operation. By default shows the status of all domains. To restrict the response to particular domains, specify the names of the domains you want to describe.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeDomainsResponse": {
      "type": "structure",
      "members": {
        "DomainStatusList": {
          "target": "com.amazonaws.cloudsearch#DomainStatusList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DescribeDomains</code> request. Contains the status of the domains specified in the request or all domains owned by the account.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeExpressions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#DescribeExpressionsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#DescribeExpressionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the expressions configured for the search domain. Can be limited to specific expressions by name. By default, shows all expressions and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see  <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\" target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeExpressionsRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.cloudsearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain you want to describe.</p>",
            "smithy.api#required": {}
          }
        },
        "ExpressionNames": {
          "target": "com.amazonaws.cloudsearch#StandardNameList",
          "traits": {
            "smithy.api#documentation": "<p>Limits the <code><a>DescribeExpressions</a></code> response to the specified expressions. If not specified, all expressions are shown.</p>"
          }
        },
        "Deployed": {
          "target": "com.amazonaws.cloudsearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DescribeDomains</a></code> operation.\n      Specifies the name of the domain you want to describe. To restrict the response to particular expressions, specify the names of the expressions you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeExpressionsResponse": {
      "type": "structure",
      "members": {
        "Expressions": {
          "target": "com.amazonaws.cloudsearch#ExpressionStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The expressions configured for the domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DescribeExpressions</code> request. Contains the expressions configured for the domain specified in the request.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeIndexFields": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#DescribeIndexFieldsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#DescribeIndexFieldsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about the index fields configured for the search domain.\n      Can be limited to specific fields by name.  By default, shows all fields and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information,\n      see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html\" target=\"_blank\">Getting Domain Information</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeIndexFieldsRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.cloudsearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain you want to describe.</p>",
            "smithy.api#required": {}
          }
        },
        "FieldNames": {
          "target": "com.amazonaws.cloudsearch#DynamicFieldNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the index fields you want to describe. If not specified, information is returned for all configured index fields.</p>"
          }
        },
        "Deployed": {
          "target": "com.amazonaws.cloudsearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DescribeIndexFields</a></code> operation. Specifies the name of the domain you want to describe. To restrict the response to particular index fields, specify the names of the index fields you want to describe. To show  the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeIndexFieldsResponse": {
      "type": "structure",
      "members": {
        "IndexFields": {
          "target": "com.amazonaws.cloudsearch#IndexFieldStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The index fields configured for the domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DescribeIndexFields</code> request. Contains the index fields configured for the domain specified in the request.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeScalingParameters": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#DescribeScalingParametersRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#DescribeScalingParametersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the scaling parameters configured for a domain. A domain's scaling parameters specify the desired search instance type and replication count. For more information, see   <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-scaling-options.html\" target=\"_blank\">Configuring Scaling Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeScalingParametersRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.cloudsearch#DomainName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DescribeScalingParameters</a></code> operation. Specifies the name of the domain you want to describe. </p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeScalingParametersResponse": {
      "type": "structure",
      "members": {
        "ScalingParameters": {
          "target": "com.amazonaws.cloudsearch#ScalingParametersStatus",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DescribeScalingParameters</code> request. Contains the scaling parameters configured for the domain specified in the request.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeServiceAccessPolicies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#DescribeServiceAccessPoliciesRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#DescribeServiceAccessPoliciesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about the access policies that control access to the domain's document and search endpoints. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information,\n      see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-access.html\" target=\"_blank\">Configuring Access for a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeServiceAccessPoliciesRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.cloudsearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain you want to describe.</p>",
            "smithy.api#required": {}
          }
        },
        "Deployed": {
          "target": "com.amazonaws.cloudsearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code><a>DescribeServiceAccessPolicies</a></code> operation. Specifies the name of the domain you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeServiceAccessPoliciesResponse": {
      "type": "structure",
      "members": {
        "AccessPolicies": {
          "target": "com.amazonaws.cloudsearch#AccessPoliciesStatus",
          "traits": {
            "smithy.api#documentation": "<p>The access rules configured for the domain specified in the request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DescribeServiceAccessPolicies</code> request.</p>"
      }
    },
    "com.amazonaws.cloudsearch#DescribeSuggesters": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudsearch#DescribeSuggestersRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudsearch#DescribeSuggestersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudsearch#BaseException"
        },
        {
          "target": "com.amazonaws.cloudsearch#InternalException"
        },
        {
          "target": "com.amazonaws.cloudsearch#ResourceNotFoundException"
        }
      ],
      "traits": {
[...]
