{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.cloudwatch#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#ActionPrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.cloudwatch#ActionsEnabled": {
      "type": "boolean"
    },
    "com.amazonaws.cloudwatch#ActionsSuppressedBy": {
      "type": "enum",
      "members": {
        "WaitPeriod": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WaitPeriod"
          }
        },
        "ExtensionPeriod": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExtensionPeriod"
          }
        },
        "Alarm": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Alarm"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#ActionsSuppressedReason": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmHistoryItem": {
      "type": "structure",
      "members": {
        "AlarmName": {
          "target": "com.amazonaws.cloudwatch#AlarmName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name for the alarm.</p>"
          }
        },
        "AlarmType": {
          "target": "com.amazonaws.cloudwatch#AlarmType",
          "traits": {
            "smithy.api#documentation": "<p>The type of alarm, either metric alarm or composite alarm.</p>"
          }
        },
        "Timestamp": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp for the alarm history item.</p>"
          }
        },
        "HistoryItemType": {
          "target": "com.amazonaws.cloudwatch#HistoryItemType",
          "traits": {
            "smithy.api#documentation": "<p>The type of alarm history item.</p>"
          }
        },
        "HistorySummary": {
          "target": "com.amazonaws.cloudwatch#HistorySummary",
          "traits": {
            "smithy.api#documentation": "<p>A summary of the alarm history, in text format.</p>"
          }
        },
        "HistoryData": {
          "target": "com.amazonaws.cloudwatch#HistoryData",
          "traits": {
            "smithy.api#documentation": "<p>Data about the alarm, in JSON format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the history of a specific alarm.</p>"
      }
    },
    "com.amazonaws.cloudwatch#AlarmHistoryItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#AlarmHistoryItem"
      }
    },
    "com.amazonaws.cloudwatch#AlarmName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmNamePrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#AlarmName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmRule": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10240
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmType": {
      "type": "enum",
      "members": {
        "CompositeAlarm": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CompositeAlarm"
          }
        },
        "MetricAlarm": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MetricAlarm"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#AlarmType"
      }
    },
    "com.amazonaws.cloudwatch#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetector": {
      "type": "structure",
      "members": {
        "Namespace": {
          "target": "com.amazonaws.cloudwatch#Namespace",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Use SingleMetricAnomalyDetector.Namespace property."
            },
            "smithy.api#documentation": "<p>The namespace of the metric associated with the anomaly detection model.</p>"
          }
        },
        "MetricName": {
          "target": "com.amazonaws.cloudwatch#MetricName",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Use SingleMetricAnomalyDetector.MetricName property."
            },
            "smithy.api#documentation": "<p>The name of the metric associated with the anomaly detection model.</p>"
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.cloudwatch#Dimensions",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Use SingleMetricAnomalyDetector.Dimensions property."
            },
            "smithy.api#documentation": "<p>The metric dimensions associated with the anomaly detection model.</p>"
          }
        },
        "Stat": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectorMetricStat",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Use SingleMetricAnomalyDetector.Stat property."
            },
            "smithy.api#documentation": "<p>The statistic associated with the anomaly detection model.</p>"
          }
        },
        "Configuration": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectorConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration specifies details about how the \n\t\tanomaly detection model is to be trained, including time ranges to \n\t\texclude from use for training the model, and the time zone to use for \n\t\tthe metric.</p>"
          }
        },
        "StateValue": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectorStateValue",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the anomaly detector's training. The possible values are <code>TRAINED | PENDING_TRAINING | TRAINED_INSUFFICIENT_DATA</code>\n         </p>"
          }
        },
        "SingleMetricAnomalyDetector": {
          "target": "com.amazonaws.cloudwatch#SingleMetricAnomalyDetector",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch metric and statistic for this anomaly detector.</p>"
          }
        },
        "MetricMathAnomalyDetector": {
          "target": "com.amazonaws.cloudwatch#MetricMathAnomalyDetector",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch metric math expression for this anomaly detector.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An anomaly detection model associated with a particular CloudWatch metric, statistic, or metric math expression. \n\t\t\tYou can use the model to display a band of expected, normal values \n\t\t\twhen the metric is graphed.</p>"
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectorConfiguration": {
      "type": "structure",
      "members": {
        "ExcludedTimeRanges": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectorExcludedTimeRanges",
          "traits": {
            "smithy.api#documentation": "<p>An array of time ranges to exclude from use when the anomaly detection model is trained. Use\n\t\t\tthis to make sure that events that could cause unusual values for the metric, such as\n\t\t\tdeployments, aren't used when CloudWatch creates the model.</p>"
          }
        },
        "MetricTimezone": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectorMetricTimezone",
          "traits": {
            "smithy.api#documentation": "<p>The time zone to use for the metric. This is useful to enable the model to automatically\n\t\t\taccount for daylight savings time changes if the metric is sensitive to such time\n\t\t\tchanges.</p>\n         <p>To specify a time zone, use the name of the time zone as specified in the standard tz database. For more information, \n\t\t\tsee <a href=\"https://en.wikipedia.org/wiki/Tz_database\">tz database</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration specifies details about how the anomaly detection model is to be trained,\n\t\t\tincluding time ranges to exclude from use for training the model and the time zone to\n\t\t\tuse for the metric.</p>"
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectorExcludedTimeRanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#Range"
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectorMetricStat": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        },
        "smithy.api#pattern": "^(SampleCount|Average|Sum|Minimum|Maximum|IQM|(p|tc|tm|ts|wm)(\\d{1,2}(\\.\\d{0,10})?|100)|[ou]\\d+(\\.\\d*)?)(_E|_L|_H)?|(TM|TC|TS|WM)\\(((((\\d{1,2})(\\.\\d{0,10})?|100(\\.0{0,10})?)%)?:((\\d{1,2})(\\.\\d{0,10})?|100(\\.0{0,10})?)%|((\\d{1,2})(\\.\\d{0,10})?|100(\\.0{0,10})?)%:(((\\d{1,2})(\\.\\d{0,10})?|100(\\.0{0,10})?)%)?)\\)|(TM|TC|TS|WM|PR)\\(((\\d+(\\.\\d{0,10})?|(\\d+(\\.\\d{0,10})?[Ee][+-]?\\d+)):((\\d+(\\.\\d{0,10})?|(\\d+(\\.\\d{0,10})?[Ee][+-]?\\d+)))?|((\\d+(\\.\\d{0,10})?|(\\d+(\\.\\d{0,10})?[Ee][+-]?\\d+)))?:(\\d+(\\.\\d{0,10})?|(\\d+(\\.\\d{0,10})?[Ee][+-]?\\d+)))\\)$"
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectorMetricTimezone": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectorStateValue": {
      "type": "enum",
      "members": {
        "PENDING_TRAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_TRAINING"
          }
        },
        "TRAINED_INSUFFICIENT_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAINED_INSUFFICIENT_DATA"
          }
        },
        "TRAINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAINED"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectorType": {
      "type": "enum",
      "members": {
        "SINGLE_METRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_METRIC"
          }
        },
        "METRIC_MATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_MATH"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectorTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#AnomalyDetectorType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2
        }
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#AnomalyDetector"
      }
    },
    "com.amazonaws.cloudwatch#AwsQueryErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#BatchFailures": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#PartialFailure"
      }
    },
    "com.amazonaws.cloudwatch#ComparisonOperator": {
      "type": "enum",
      "members": {
        "GreaterThanOrEqualToThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GreaterThanOrEqualToThreshold"
          }
        },
        "GreaterThanThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GreaterThanThreshold"
          }
        },
        "LessThanThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessThanThreshold"
          }
        },
        "LessThanOrEqualToThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessThanOrEqualToThreshold"
          }
        },
        "LessThanLowerOrGreaterThanUpperThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessThanLowerOrGreaterThanUpperThreshold"
          }
        },
        "LessThanLowerThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessThanLowerThreshold"
          }
        },
        "GreaterThanUpperThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GreaterThanUpperThreshold"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#CompositeAlarm": {
      "type": "structure",
      "members": {
        "ActionsEnabled": {
          "target": "com.amazonaws.cloudwatch#ActionsEnabled",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether actions should be executed during any changes to the alarm state.</p>"
          }
        },
        "AlarmActions": {
          "target": "com.amazonaws.cloudwatch#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>The actions to execute when this alarm transitions to the ALARM state from any other state. Each action is specified as an Amazon Resource Name (ARN).</p>"
          }
        },
        "AlarmArn": {
          "target": "com.amazonaws.cloudwatch#AlarmArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the alarm.</p>"
          }
        },
        "AlarmConfigurationUpdatedTimestamp": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp of the last update to the alarm configuration.</p>"
          }
        },
        "AlarmDescription": {
          "target": "com.amazonaws.cloudwatch#AlarmDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the alarm.</p>"
          }
        },
        "AlarmName": {
          "target": "com.amazonaws.cloudwatch#AlarmName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alarm.</p>"
          }
        },
        "AlarmRule": {
          "target": "com.amazonaws.cloudwatch#AlarmRule",
          "traits": {
            "smithy.api#documentation": "<p>The rule that this alarm uses to evaluate its alarm state.</p>"
          }
        },
        "InsufficientDataActions": {
          "target": "com.amazonaws.cloudwatch#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>The actions to execute when this alarm transitions to the INSUFFICIENT_DATA state from any other state. Each action is specified as an Amazon Resource Name (ARN).</p>"
          }
        },
        "OKActions": {
          "target": "com.amazonaws.cloudwatch#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>The actions to execute when this alarm transitions to the OK state from any other state. Each action is specified as an Amazon Resource Name (ARN).</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.cloudwatch#StateReason",
          "traits": {
            "smithy.api#documentation": "<p>An explanation for the alarm state, in text format.</p>"
          }
        },
        "StateReasonData": {
          "target": "com.amazonaws.cloudwatch#StateReasonData",
          "traits": {
            "smithy.api#documentation": "<p>An explanation for the alarm state, in JSON format.</p>"
          }
        },
        "StateUpdatedTimestamp": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Tracks the timestamp of any state update, even if <code>StateValue</code> doesn't change.</p>"
          }
        },
        "StateValue": {
          "target": "com.amazonaws.cloudwatch#StateValue",
          "traits": {
            "smithy.api#documentation": "<p>The state value for the alarm.</p>"
          }
        },
        "StateTransitionedTimestamp": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n\t\t\tThe timestamp \n\t\t\tof the last change \n\t\t\tto the alarm's <code>StateValue</code>.\n\t\t</p>"
          }
        },
        "ActionsSuppressedBy": {
          "target": "com.amazonaws.cloudwatch#ActionsSuppressedBy",
          "traits": {
            "smithy.api#documentation": "<p>\n\t\t\tWhen the value is <code>ALARM</code>, \n\t\t\tit means \n\t\t\tthat the actions are suppressed\n\t\t\tbecause the suppressor alarm is \n\t\t\tin <code>ALARM</code>\n\t\t\tWhen the value is <code>WaitPeriod</code>, \n\t\t\tit means that \n\t\t\tthe actions are suppressed \n\t\t\tbecause the composite alarm is waiting\n\t\t\tfor the suppressor alarm \n\t\t\tto go \n\t\t\tinto \n\t\t\tinto the <code>ALARM</code> state. \n\t\t\tThe maximum waiting time is as specified\n\t\t\tin <code>ActionsSuppressorWaitPeriod</code>. \n\t\t\tAfter this time, \n\t\t\tthe composite alarm performs its actions.\n\t\t\tWhen the value is <code>ExtensionPeriod</code>,\n\t\t\tit means \n\t\t\tthat the actions are suppressed\n\t\t\tbecause the composite alarm is waiting \n\t\t\tafter the suppressor alarm went out\n\t\t\tof the <code>ALARM</code> state. \n\t\t\tThe maximum waiting time is as specified \n\t\t\tin <code>ActionsSuppressorExtensionPeriod</code>. \n\t\t\tAfter this time,\n\t\t\tthe composite alarm performs its actions.\n\t\t</p>"
          }
        },
        "ActionsSuppressedReason": {
          "target": "com.amazonaws.cloudwatch#ActionsSuppressedReason",
          "traits": {
            "smithy.api#documentation": "<p>\n\t\t\tCaptures the reason for action suppression.\n\t\t</p>"
          }
        },
        "ActionsSuppressor": {
          "target": "com.amazonaws.cloudwatch#AlarmArn",
          "traits": {
            "smithy.api#documentation": "<p>\n\t\t\tActions will be suppressed \n\t\t\tif the suppressor alarm is \n\t\t\tin the <code>ALARM</code> state. \n\t\t\t<code>ActionsSuppressor</code> can be an AlarmName or an Amazon Resource Name (ARN) \n\t\t\tfrom an existing alarm. \n\t\t</p>"
          }
        },
        "ActionsSuppressorWaitPeriod": {
          "target": "com.amazonaws.cloudwatch#SuppressorPeriod",
          "traits": {
            "smithy.api#documentation": "<p>\n\t\t\tThe maximum time \n\t\t\tin seconds \n\t\t\tthat the composite alarm waits\n\t\t\tfor the suppressor alarm \n\t\t\tto go \n\t\t\tinto the <code>ALARM</code> state. \n\t\t\tAfter this time, \n\t\t\tthe composite alarm performs its actions.\n\t\t</p>\n         <important>\n            <p>\n               <code>WaitPeriod</code> \n\t\t\t\tis required only \n\t\t\t\twhen <code>ActionsSuppressor</code> is specified.\n\t\t\t</p>\n         </important>"
          }
        },
        "ActionsSuppressorExtensionPeriod": {
          "target": "com.amazonaws.cloudwatch#SuppressorPeriod",
          "traits": {
            "smithy.api#documentation": "<p>\n\t\t\tThe maximum time \n\t\t\tin seconds\n\t\t\tthat the composite alarm waits \n\t\t\tafter suppressor alarm goes out \n\t\t\tof the <code>ALARM</code> state. \n\t\t\tAfter this time, \n\t\t\tthe composite alarm performs its actions.\n\t\t</p>\n         <important>\n            <p>\n               <code>ExtensionPeriod</code> \n\t\t\t\tis required only \n\t\t\t\twhen <code>ActionsSuppressor</code> is specified.\n\t\t\t</p>\n         </important>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details about a composite alarm.</p>"
      }
    },
    "com.amazonaws.cloudwatch#CompositeAlarms": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#CompositeAlarm"
      }
    },
    "com.amazonaws.cloudwatch#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudwatch#FaultDescription"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ConcurrentModificationException",
          "httpResponseCode": 429
        },
        "smithy.api#documentation": "<p>More than one process tried to modify a resource at the same time.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.cloudwatch#Counts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#DatapointValue"
      }
    },
    "com.amazonaws.cloudwatch#DashboardArn": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#DashboardBody": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#DashboardEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#DashboardEntry"
      }
    },
    "com.amazonaws.cloudwatch#DashboardEntry": {
      "type": "structure",
      "members": {
        "DashboardName": {
          "target": "com.amazonaws.cloudwatch#DashboardName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dashboard.</p>"
          }
        },
        "DashboardArn": {
          "target": "com.amazonaws.cloudwatch#DashboardArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dashboard.</p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.cloudwatch#LastModified",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp of when the dashboard was last modified, either by an API call or\n\t\t\tthrough the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>"
          }
        },
        "Size": {
          "target": "com.amazonaws.cloudwatch#Size",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The size of the dashboard, in bytes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a specific dashboard.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DashboardErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#DashboardInvalidInputError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.cloudwatch#DashboardErrorMessage"
        },
        "dashboardValidationMessages": {
          "target": "com.amazonaws.cloudwatch#DashboardValidationMessages"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidParameterInput",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>Some part of the dashboard data is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudwatch#DashboardName": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#DashboardNamePrefix": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#DashboardNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#DashboardName"
      }
    },
    "com.amazonaws.cloudwatch#DashboardNotFoundError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.cloudwatch#DashboardErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ResourceNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>The specified dashboard does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.cloudwatch#DashboardValidationMessage": {
      "type": "structure",
      "members": {
        "DataPath": {
          "target": "com.amazonaws.cloudwatch#DataPath",
          "traits": {
            "smithy.api#documentation": "<p>The data path related to the message.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.cloudwatch#Message",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the error or warning.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error or warning for the operation.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DashboardValidationMessages": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#DashboardValidationMessage"
      }
    },
    "com.amazonaws.cloudwatch#DataPath": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#Datapoint": {
      "type": "structure",
      "members": {
        "Timestamp": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp used for the data point.</p>"
          }
        },
        "SampleCount": {
          "target": "com.amazonaws.cloudwatch#DatapointValue",
          "traits": {
            "smithy.api#documentation": "<p>The number of metric values that contributed to the aggregate value of this\n\t\t\tdata point.</p>"
          }
        },
        "Average": {
          "target": "com.amazonaws.cloudwatch#DatapointValue",
          "traits": {
            "smithy.api#documentation": "<p>The average of the metric values that correspond to the data point.</p>"
          }
        },
        "Sum": {
          "target": "com.amazonaws.cloudwatch#DatapointValue",
          "traits": {
            "smithy.api#documentation": "<p>The sum of the metric values for the data point.</p>"
          }
        },
        "Minimum": {
          "target": "com.amazonaws.cloudwatch#DatapointValue",
          "traits": {
            "smithy.api#documentation": "<p>The minimum metric value for the data point.</p>"
          }
        },
        "Maximum": {
          "target": "com.amazonaws.cloudwatch#DatapointValue",
          "traits": {
            "smithy.api#documentation": "<p>The maximum metric value for the data point.</p>"
          }
        },
        "Unit": {
          "target": "com.amazonaws.cloudwatch#StandardUnit",
          "traits": {
            "smithy.api#documentation": "<p>The standard unit for the data point.</p>"
          }
        },
        "ExtendedStatistics": {
          "target": "com.amazonaws.cloudwatch#DatapointValueMap",
          "traits": {
            "smithy.api#documentation": "<p>The percentile statistic for the data point.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Encapsulates the statistical data that CloudWatch computes from metric data.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DatapointValue": {
      "type": "double"
    },
    "com.amazonaws.cloudwatch#DatapointValueMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.cloudwatch#ExtendedStatistic"
      },
      "value": {
        "target": "com.amazonaws.cloudwatch#DatapointValue"
      }
    },
    "com.amazonaws.cloudwatch#DatapointValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#DatapointValue"
      }
    },
    "com.amazonaws.cloudwatch#Datapoints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#Datapoint"
      }
    },
    "com.amazonaws.cloudwatch#DatapointsToAlarm": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.cloudwatch#DeleteAlarms": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DeleteAlarmsInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#ResourceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified alarms. You can delete up to 100 alarms in one operation. However, this total can include no more\n\t\t\tthan one composite alarm. For example, you could delete 99 metric alarms and one composite alarms with one operation, but you can't\n\t\t\tdelete two composite alarms with one operation.</p>\n         <p>\n\t\t\tIn the event of an error, no alarms are\n\t\t\tdeleted.</p>\n         <note>\n            <p>It is possible to create a loop or cycle of composite alarms, where composite alarm A depends on composite alarm B, and \n\t\t\tcomposite alarm B also depends on composite alarm A. In this scenario, you can't delete any composite alarm that is part of the cycle \n\t\t\tbecause there is always still a composite alarm that depends on that alarm that you want to delete.</p>\n            <p>To get out of such a situation, you must\n\t\t\t\tbreak the cycle by changing the rule of one of the composite alarms in the cycle to remove a dependency that creates the cycle. The simplest\n\t\t\t\tchange to make to break a cycle is to change the <code>AlarmRule</code> of one of the alarms to <code>false</code>. </p>\n            <p>Additionally, the evaluation of composite alarms stops if CloudWatch detects a cycle in the evaluation path.\n\t\t\t</p>\n         </note>"
      }
    },
    "com.amazonaws.cloudwatch#DeleteAlarmsInput": {
      "type": "structure",
      "members": {
        "AlarmNames": {
          "target": "com.amazonaws.cloudwatch#AlarmNames",
          "traits": {
            "smithy.api#documentation": "<p>The alarms to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DeleteAnomalyDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DeleteAnomalyDetectorInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DeleteAnomalyDetectorOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InternalServiceFault"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n\t\t\tDeletes the specified anomaly detection model \n\t\t\tfrom your account.\n\t\t\tFor more information \n\t\t\tabout \n\t\t\thow to delete an anomaly detection model, \n\t\t\tsee <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Create_Anomaly_Detection_Alarm.html#Delete_Anomaly_Detection_Model\">Deleting an anomaly detection model</a> \n\t\t\tin the <i>CloudWatch User Guide</i>.  \n\t\t</p>"
      }
    },
    "com.amazonaws.cloudwatch#DeleteAnomalyDetectorInput": {
      "type": "structure",
      "members": {
        "Namespace": {
          "target": "com.amazonaws.cloudwatch#Namespace",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Use SingleMetricAnomalyDetector."
            },
            "smithy.api#documentation": "<p>The namespace associated with the anomaly detection model to delete.</p>"
          }
        },
        "MetricName": {
          "target": "com.amazonaws.cloudwatch#MetricName",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Use SingleMetricAnomalyDetector."
            },
            "smithy.api#documentation": "<p>The metric name associated with the anomaly detection model to delete.</p>"
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.cloudwatch#Dimensions",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Use SingleMetricAnomalyDetector."
            },
            "smithy.api#documentation": "<p>The metric dimensions associated with the anomaly detection model to delete.</p>"
          }
        },
        "Stat": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectorMetricStat",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Use SingleMetricAnomalyDetector."
            },
            "smithy.api#documentation": "<p>The statistic associated with the anomaly detection model to delete.</p>"
          }
        },
        "SingleMetricAnomalyDetector": {
          "target": "com.amazonaws.cloudwatch#SingleMetricAnomalyDetector",
          "traits": {
            "smithy.api#documentation": "<p>A single metric anomaly detector to be deleted.</p>\n         <p>When using <code>SingleMetricAnomalyDetector</code>, \n\t\t\tyou cannot include the following parameters in the same operation:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Dimensions</code>,</p>\n            </li>\n            <li>\n               <p>\n                  <code>MetricName</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Namespace</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Stat</code>\n               </p>\n            </li>\n            <li>\n               <p>the <code>MetricMathAnomalyDetector</code> parameters of <code>DeleteAnomalyDetectorInput</code>\n               </p>\n            </li>\n         </ul>\n         <p>Instead, specify the single metric anomaly detector attributes \n\t\t\tas part of the <code>SingleMetricAnomalyDetector</code> property.</p>"
          }
        },
        "MetricMathAnomalyDetector": {
          "target": "com.amazonaws.cloudwatch#MetricMathAnomalyDetector",
          "traits": {
            "smithy.api#documentation": "<p>The metric math anomaly detector to be deleted.</p>\n         <p>When using <code>MetricMathAnomalyDetector</code>, you cannot include following parameters in the same operation:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Dimensions</code>,</p>\n            </li>\n            <li>\n               <p>\n                  <code>MetricName</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Namespace</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Stat</code>\n               </p>\n            </li>\n            <li>\n               <p>the <code>SingleMetricAnomalyDetector</code> parameters of <code>DeleteAnomalyDetectorInput</code>\n               </p>\n            </li>\n         </ul>\n         <p>Instead, specify the metric math anomaly detector attributes as part of the\n\t\t\t<code>MetricMathAnomalyDetector</code> property.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DeleteAnomalyDetectorOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.cloudwatch#DeleteDashboards": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DeleteDashboardsInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DeleteDashboardsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#DashboardNotFoundError"
        },
        {
          "target": "com.amazonaws.cloudwatch#InternalServiceFault"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes all dashboards that you specify. You\n\t\t\tcan specify up to 100 dashboards to delete. If there is an error during this call, no dashboards are\n\t\t\tdeleted.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DeleteDashboardsInput": {
      "type": "structure",
      "members": {
        "DashboardNames": {
          "target": "com.amazonaws.cloudwatch#DashboardNames",
          "traits": {
            "smithy.api#documentation": "<p>The dashboards to be deleted. This parameter is required.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DeleteDashboardsOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.cloudwatch#DeleteInsightRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DeleteInsightRulesInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DeleteInsightRulesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes the specified Contributor Insights rules.</p>\n         <p>If you create a rule, delete it, and then re-create it with the same name, historical data from the first time\n\t\t\tthe rule was created might\n\t\t\tnot be available.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DeleteInsightRulesInput": {
      "type": "structure",
      "members": {
        "RuleNames": {
          "target": "com.amazonaws.cloudwatch#InsightRuleNames",
          "traits": {
            "smithy.api#documentation": "<p>An array of the rule names to delete. If you need to find out the names of your rules, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_DescribeInsightRules.html\">DescribeInsightRules</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DeleteInsightRulesOutput": {
      "type": "structure",
      "members": {
        "Failures": {
          "target": "com.amazonaws.cloudwatch#BatchFailures",
          "traits": {
            "smithy.api#documentation": "<p>An array listing the rules that could not be deleted. You cannot delete built-in rules.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DeleteMetricStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DeleteMetricStreamInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DeleteMetricStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InternalServiceFault"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes the metric stream that you specify.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DeleteMetricStreamInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.cloudwatch#MetricStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric stream to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DeleteMetricStreamOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.cloudwatch#DescribeAlarmHistory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmHistoryInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmHistoryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidNextToken"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the history for the specified alarm. You can filter the results by date range or item type.\n\t\t\tIf an alarm name is not specified, the histories for either all metric alarms or all composite alarms are returned.</p>\n         <p>CloudWatch retains the history of an alarm even if you delete the alarm.</p>\n         <p>To use this operation and return information about a composite alarm, you must be signed on with \n\t\t\tthe <code>cloudwatch:DescribeAlarmHistory</code> permission that is scoped to <code>*</code>. You can't return information\n\t\t\tabout composite alarms if your <code>cloudwatch:DescribeAlarmHistory</code> permission has a narrower scope.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AlarmHistoryItems",
          "pageSize": "MaxRecords"
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmHistoryInput": {
      "type": "structure",
      "members": {
        "AlarmName": {
          "target": "com.amazonaws.cloudwatch#AlarmName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alarm.</p>"
          }
        },
        "AlarmTypes": {
          "target": "com.amazonaws.cloudwatch#AlarmTypes",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter to specify whether you want the operation to return metric alarms or composite alarms. If you omit this parameter, \n\t\t\tonly metric alarms are returned.</p>"
          }
        },
        "HistoryItemType": {
          "target": "com.amazonaws.cloudwatch#HistoryItemType",
          "traits": {
            "smithy.api#documentation": "<p>The type of alarm histories to retrieve.</p>"
          }
        },
        "StartDate": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The starting date to retrieve alarm history.</p>"
          }
        },
        "EndDate": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The ending date to retrieve alarm history.</p>"
          }
        },
        "MaxRecords": {
          "target": "com.amazonaws.cloudwatch#MaxRecords",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of alarm history records to retrieve.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to indicate that there is more data\n\t\t\tavailable.</p>"
          }
        },
        "ScanBy": {
          "target": "com.amazonaws.cloudwatch#ScanBy",
          "traits": {
            "smithy.api#documentation": "<p>Specified whether to return the newest or oldest alarm history first. Specify <code>TimestampDescending</code> to have the newest\n\t\tevent history returned first, and specify <code>TimestampAscending</code> to have the oldest history returned first.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmHistoryOutput": {
      "type": "structure",
      "members": {
        "AlarmHistoryItems": {
          "target": "com.amazonaws.cloudwatch#AlarmHistoryItems",
          "traits": {
            "smithy.api#documentation": "<p>The alarm histories, in JSON format.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that marks the start of the next batch of returned results.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarms": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmsInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidNextToken"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the specified alarms. You can filter the results by specifying a prefix for the alarm\n\t\t\tname, the alarm state, or a prefix for any action.</p>\n         <p>To use this operation and return information about composite alarms, you must be signed on with \n\t\tthe <code>cloudwatch:DescribeAlarms</code> permission that is scoped to <code>*</code>. You can't return information\n\t\t\tabout composite alarms if your <code>cloudwatch:DescribeAlarms</code> permission has a narrower scope.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxRecords"
        },
        "smithy.waiters#waitable": {
          "AlarmExists": {
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "length(MetricAlarms[]) > `0`",
                    "expected": "true",
                    "comparator": "booleanEquals"
                  }
                }
              }
            ],
            "minDelay": 5
          },
          "CompositeAlarmExists": {
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "length(CompositeAlarms[]) > `0`",
                    "expected": "true",
                    "comparator": "booleanEquals"
                  }
                }
              }
            ],
            "minDelay": 5
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmsForMetric": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmsForMetricInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmsForMetricOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the alarms for the specified metric. To\n\t\t\tfilter the results, specify a statistic, period, or unit.</p>\n         <p>This operation retrieves only standard alarms that are based on\n\t\tthe specified metric. It does not return alarms based on math expressions that\n\t\tuse the specified metric, or composite alarms that use the specified metric.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmsForMetricInput": {
      "type": "structure",
      "members": {
        "MetricName": {
          "target": "com.amazonaws.cloudwatch#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Namespace": {
          "target": "com.amazonaws.cloudwatch#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Statistic": {
          "target": "com.amazonaws.cloudwatch#Statistic",
          "traits": {
            "smithy.api#documentation": "<p>The statistic for the metric, other than percentiles.\n\t\t    For percentile statistics, use <code>ExtendedStatistics</code>.</p>"
          }
        },
        "ExtendedStatistic": {
          "target": "com.amazonaws.cloudwatch#ExtendedStatistic",
          "traits": {
            "smithy.api#documentation": "<p>The percentile statistic for the metric. Specify a value between\n\t\t    p0.0 and p100.</p>"
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.cloudwatch#Dimensions",
          "traits": {
            "smithy.api#documentation": "<p>The dimensions associated with the metric. If the metric has any associated\n\t\t\tdimensions, you must specify them in order for the call to succeed.</p>"
          }
        },
        "Period": {
          "target": "com.amazonaws.cloudwatch#Period",
          "traits": {
            "smithy.api#documentation": "<p>The period, in seconds, over which the statistic is applied.</p>"
          }
        },
        "Unit": {
          "target": "com.amazonaws.cloudwatch#StandardUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit for the metric.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmsForMetricOutput": {
      "type": "structure",
      "members": {
        "MetricAlarms": {
          "target": "com.amazonaws.cloudwatch#MetricAlarms",
          "traits": {
            "smithy.api#documentation": "<p>The information for each alarm with the specified metric.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmsInput": {
      "type": "structure",
      "members": {
        "AlarmNames": {
          "target": "com.amazonaws.cloudwatch#AlarmNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the alarms to retrieve information about.</p>"
          }
        },
        "AlarmNamePrefix": {
          "target": "com.amazonaws.cloudwatch#AlarmNamePrefix",
          "traits": {
            "smithy.api#documentation": "<p>An alarm name prefix. If you specify this parameter, you receive information about all alarms that have names\n\t\t\tthat start with this prefix.</p>\n         <p>If this parameter\n\t\t\tis specified, you cannot specify <code>AlarmNames</code>.</p>"
          }
        },
        "AlarmTypes": {
          "target": "com.amazonaws.cloudwatch#AlarmTypes",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter to specify whether you want the operation to return metric alarms or composite alarms. If you omit this parameter, \n\t\tonly metric alarms are returned.</p>"
          }
        },
        "ChildrenOfAlarmName": {
          "target": "com.amazonaws.cloudwatch#AlarmName",
          "traits": {
            "smithy.api#documentation": "<p>If you use this parameter and specify the name of a composite alarm, the operation returns \n\t\t\tinformation about the \"children\" alarms\n\t\t\tof the alarm you specify. These are the metric alarms and composite alarms referenced in the \n\t\t\t<code>AlarmRule</code> field of the composite alarm that you specify in \n\t\t\t<code>ChildrenOfAlarmName</code>. Information about the composite alarm that you name in \n\t\t\t<code>ChildrenOfAlarmName</code> is not returned.</p>\n         <p>If you specify <code>ChildrenOfAlarmName</code>, you cannot specify any other parameters in the request except\n\t\t\tfor <code>MaxRecords</code> and <code>NextToken</code>. If you do so, you\n\t\t\treceive a validation\n\t\t\terror.</p>\n         <note>\n            <p>Only the <code>Alarm Name</code>, <code>ARN</code>, <code>StateValue</code> (OK/ALARM/INSUFFICIENT_DATA), and <code>StateUpdatedTimestamp</code> \n\t\t\tinformation are returned by this operation \n\t\t\twhen you use this parameter. To get complete information about\n\t\t\tthese alarms, perform another <code>DescribeAlarms</code> operation and specify\n\t\t\tthe parent alarm names in the <code>AlarmNames</code> parameter.</p>\n         </note>"
          }
        },
        "ParentsOfAlarmName": {
          "target": "com.amazonaws.cloudwatch#AlarmName",
          "traits": {
            "smithy.api#documentation": "<p>If you use this parameter and specify the name of a metric or composite alarm, the operation returns \n\t\t\tinformation about the \"parent\" alarms\n\t\t\tof the alarm you specify. These are the composite alarms that have <code>AlarmRule</code>\n\t\t\tparameters that reference \n\t\t\tthe alarm named in <code>ParentsOfAlarmName</code>. Information about the alarm that you specify in\n\t\t\t<code>ParentsOfAlarmName</code> is not returned.</p>\n         <p>If you specify <code>ParentsOfAlarmName</code>, you cannot specify any other parameters in the request except\n\t\t\tfor <code>MaxRecords</code> and <code>NextToken</code>. If you do so, you receive a validation\n\t\t\terror.</p>\n         <note>\n            <p>Only the Alarm Name and ARN are returned by this operation when you use this parameter. To get complete information about\n\t\t\tthese alarms, perform another <code>DescribeAlarms</code> operation and specify\n\t\t\tthe parent alarm names in the <code>AlarmNames</code> parameter.</p>\n         </note>"
          }
        },
        "StateValue": {
          "target": "com.amazonaws.cloudwatch#StateValue",
          "traits": {
            "smithy.api#documentation": "<p>Specify this parameter to receive information only about alarms that are currently in the state that you specify.</p>"
          }
        },
        "ActionPrefix": {
          "target": "com.amazonaws.cloudwatch#ActionPrefix",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter to filter the results of the operation to only those alarms that\n\t\tuse a certain alarm action. For example, you could specify the ARN of an SNS topic to find all\n\t\talarms that send notifications to that topic.</p>"
          }
        },
        "MaxRecords": {
          "target": "com.amazonaws.cloudwatch#MaxRecords",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of alarm descriptions to retrieve.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to indicate that there is more data\n\t\t\tavailable.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmsOutput": {
      "type": "structure",
      "members": {
        "CompositeAlarms": {
          "target": "com.amazonaws.cloudwatch#CompositeAlarms",
          "traits": {
            "smithy.api#documentation": "<p>The information about any composite alarms returned by the operation.</p>"
          }
        },
        "MetricAlarms": {
          "target": "com.amazonaws.cloudwatch#MetricAlarms",
          "traits": {
            "smithy.api#documentation": "<p>The information about any metric alarms returned by the operation.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that marks the start of the next batch of returned results.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAnomalyDetectors": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DescribeAnomalyDetectorsInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DescribeAnomalyDetectorsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InternalServiceFault"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidNextToken"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the anomaly detection models that you have created in your account.\n\t\t\tFor single metric anomaly detectors, \n\t\t\tyou can list all of the models in your account or filter the results \n\t\t\tto only the models that are related to a certain namespace, metric name, or metric dimension.\n\t\t\tFor metric math anomaly detectors, \n\t\t\tyou can list them by adding <code>METRIC_MATH</code> to the <code>AnomalyDetectorTypes</code> array. \n\t\t\tThis will return all metric math anomaly detectors in your account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AnomalyDetectors",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAnomalyDetectorsInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Use the token returned by the previous operation to request the next page of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.cloudwatch#MaxReturnedResultsCount",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in one operation. The maximum\n\t\t\tvalue that you can specify is 100.</p>\n         <p>To retrieve the remaining results, make another call with the returned \n\t\t\t<code>NextToken</code> value. </p>"
          }
        },
        "Namespace": {
          "target": "com.amazonaws.cloudwatch#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>Limits the results to only the anomaly detection models that\n\t\t\tare associated with the specified namespace.</p>"
          }
        },
        "MetricName": {
          "target": "com.amazonaws.cloudwatch#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>Limits the results to only the anomaly detection models that are associated with the\n\t\t\tspecified metric name. If there are multiple metrics with this name in different\n\t\t\tnamespaces that have anomaly detection models, they're all returned.</p>"
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.cloudwatch#Dimensions",
          "traits": {
            "smithy.api#documentation": "<p>Limits the results to only the anomaly detection models that are associated with the\n\t\t\tspecified metric dimensions. If there are multiple metrics that have these dimensions\n\t\t\tand have anomaly detection models associated, they're all returned.</p>"
          }
        },
        "AnomalyDetectorTypes": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectorTypes",
          "traits": {
            "smithy.api#documentation": "<p>The anomaly detector types to request when using <code>DescribeAnomalyDetectorsInput</code>.\n\t\t\tIf empty, defaults to <code>SINGLE_METRIC</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAnomalyDetectorsOutput": {
      "type": "structure",
      "members": {
        "AnomalyDetectors": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectors",
          "traits": {
            "smithy.api#documentation": "<p>The list of anomaly detection models returned by the operation.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that you can use in a subsequent operation to \n\t\tretrieve the next set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeInsightRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DescribeInsightRulesInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DescribeInsightRulesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidNextToken"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of all the Contributor Insights rules in your account.</p>\n         <p>For more information about Contributor Insights, see \n\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/ContributorInsights.html\">Using Contributor Insights to Analyze High-Cardinality Data</a>.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeInsightRulesInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Include this value, if it was returned by the previous operation, to get the next set of rules.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.cloudwatch#InsightRuleMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in one operation. If you omit this\n\t\tparameter, the default of 500 is used.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeInsightRulesOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If this parameter is present, it is a token that marks the start of the next batch of returned results.      </p>"
          }
        },
        "InsightRules": {
          "target": "com.amazonaws.cloudwatch#InsightRules",
          "traits": {
            "smithy.api#documentation": "<p>The rules returned by the operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#Dimension": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.cloudwatch#DimensionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dimension. Dimension names must contain only ASCII characters, must include \n\t\t\tat least one non-whitespace character, and cannot start with a colon (<code>:</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.cloudwatch#DimensionValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the dimension. Dimension values must contain only ASCII characters and must include \n\t\t\tat least one non-whitespace character.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A dimension is a name/value pair that is part of the identity of a metric. Because dimensions are part of the unique \n\t\t\tidentifier for a metric, whenever you add a unique name/value pair to one of \n\t\t\tyour metrics, you are creating a new variation of that metric. For example, many Amazon EC2 metrics publish\n\t\t<code>InstanceId</code> as a dimension name, and the actual instance ID as the value for that dimension.</p>\n         <p>You \n\t\tcan assign up to 30 dimensions to a metric.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DimensionFilter": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.cloudwatch#DimensionName",
          "traits": {
            "smithy.api#documentation": "<p>The dimension name to be matched.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.cloudwatch#DimensionValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the dimension to be matched.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents filters for a dimension.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DimensionFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#DimensionFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.cloudwatch#DimensionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#DimensionValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.cloudwatch#Dimensions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#Dimension"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 30
        }
      }
    },
    "com.amazonaws.cloudwatch#DisableAlarmActions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DisableAlarmActionsInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#documentation": "<p>Disables the actions for the specified alarms. When an alarm's actions are disabled, the\n\t\t\talarm actions do not execute when the alarm state changes.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DisableAlarmActionsInput": {
      "type": "structure",
      "members": {
        "AlarmNames": {
          "target": "com.amazonaws.cloudwatch#AlarmNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the alarms.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DisableInsightRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DisableInsightRulesInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DisableInsightRulesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables the specified Contributor Insights rules. When rules are disabled, they do not analyze log groups and do \n\t\tnot incur costs.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DisableInsightRulesInput": {
      "type": "structure",
      "members": {
        "RuleNames": {
          "target": "com.amazonaws.cloudwatch#InsightRuleNames",
          "traits": {
            "smithy.api#documentation": "<p>An array of the rule names to disable. If you need to find out the names of your rules, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_DescribeInsightRules.html\">DescribeInsightRules</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DisableInsightRulesOutput": {
      "type": "structure",
      "members": {
        "Failures": {
          "target": "com.amazonaws.cloudwatch#BatchFailures",
          "traits": {
            "smithy.api#documentation": "<p>An array listing the rules that could not be disabled. You cannot disable built-in rules.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#EnableAlarmActions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#EnableAlarmActionsInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#documentation": "<p>Enables the actions for the specified alarms.</p>"
      }
    },
    "com.amazonaws.cloudwatch#EnableAlarmActionsInput": {
      "type": "structure",
      "members": {
        "AlarmNames": {
          "target": "com.amazonaws.cloudwatch#AlarmNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the alarms.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#EnableInsightRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#EnableInsightRulesInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#EnableInsightRulesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables the specified Contributor Insights rules. When rules are enabled, they immediately begin analyzing log data.</p>"
      }
    },
    "com.amazonaws.cloudwatch#EnableInsightRulesInput": {
      "type": "structure",
      "members": {
        "RuleNames": {
          "target": "com.amazonaws.cloudwatch#InsightRuleNames",
          "traits": {
            "smithy.api#documentation": "<p>An array of the rule names to enable. If you need to find out the names of your rules, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_DescribeInsightRules.html\">DescribeInsightRules</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#EnableInsightRulesOutput": {
      "type": "structure",
      "members": {
        "Failures": {
          "target": "com.amazonaws.cloudwatch#BatchFailures",
          "traits": {
            "smithy.api#documentation": "<p>An array listing the rules that could not be enabled. You cannot disable or enable built-in rules.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#EvaluateLowSampleCountPercentile": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#EvaluationPeriods": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.cloudwatch#EvaluationState": {
      "type": "enum",
      "members": {
        "PARTIAL_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_DATA"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#ExceptionType": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#ExtendedStatistic": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#ExtendedStatistics": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#ExtendedStatistic"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.cloudwatch#FailureCode": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#FailureDescription": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#FailureResource": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#FaultDescription": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#GetDashboard": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#GetDashboardInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#GetDashboardOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#DashboardNotFoundError"
        },
        {
          "target": "com.amazonaws.cloudwatch#InternalServiceFault"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays the details of the dashboard that you specify.</p>\n         <p>To copy an existing dashboard, use <code>GetDashboard</code>, and then use the data returned\n\t\t\twithin <code>DashboardBody</code> as the template for the new dashboard when you call <code>PutDashboard</code> to create\n\t\t\tthe copy.</p>"
      }
    },
    "com.amazonaws.cloudwatch#GetDashboardInput": {
      "type": "structure",
      "members": {
        "DashboardName": {
          "target": "com.amazonaws.cloudwatch#DashboardName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dashboard to be described.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#GetDashboardOutput": {
      "type": "structure",
      "members": {
        "DashboardArn": {
          "target": "com.amazonaws.cloudwatch#DashboardArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dashboard.</p>"
          }
        },
        "DashboardBody": {
          "target": "com.amazonaws.cloudwatch#DashboardBody",
          "traits": {
            "smithy.api#documentation": "<p>The detailed information about the dashboard, including what widgets are included and their location\n\t\t\ton the dashboard. For more information about the <code>DashboardBody</code> syntax, \n\t\t\tsee <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/CloudWatch-Dashboard-Body-Structure.html\">Dashboard Body Structure and Syntax</a>. </p>"
          }
        },
        "DashboardName": {
          "target": "com.amazonaws.cloudwatch#DashboardName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dashboard.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#GetInsightRuleReport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#GetInsightRuleReportInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#GetInsightRuleReportOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation returns the time series data collected by a Contributor Insights rule. The data includes the identity and number of \n\t\tcontributors to the log group.</p>\n         <p>You can also optionally return one or more statistics about each data point in the time series. These statistics can include the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>UniqueContributors</code> -- the number of unique contributors for each data point.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MaxContributorValue</code> -- the value of the top contributor for each data point. The identity of the\n\t\t\t\t\tcontributor might change for each data point in the graph.</p>\n               <p>If this rule aggregates by COUNT, the top contributor for each data point is the contributor with the \n\t\t\t\t\tmost occurrences in that period. If the rule aggregates by SUM, the top contributor is the contributor with the highest sum in the log field specified\n\t\t\t\t\tby the rule's <code>Value</code>, during that period.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SampleCount</code> -- the number of data points matched by the rule.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Sum</code> -- the sum of the values from all contributors during the time period represented by that data point.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Minimum</code> -- the minimum value from a single observation during the time period represented by that data point.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Maximum</code> -- the maximum value from a single observation during the time period represented by that data point.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Average</code> -- the average value from all contributors during the time period represented by that data point.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.cloudwatch#GetInsightRuleReportInput": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.cloudwatch#InsightRuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule that you want to see data from.</p>",
            "smithy.api#required": {}
          }
        },
        "StartTime": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the data to use in the report. When used in a raw HTTP Query API, it is formatted as \n\t\t\t<code>yyyy-MM-dd'T'HH:mm:ss</code>. For example, \n\t\t\t<code>2019-07-01T23:59:59</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time of the data to use in the report. When used in a raw HTTP Query API, it is formatted as \n\t\t\t<code>yyyy-MM-dd'T'HH:mm:ss</code>. For example, \n\t\t\t<code>2019-07-01T23:59:59</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Period": {
          "target": "com.amazonaws.cloudwatch#Period",
          "traits": {
            "smithy.api#documentation": "<p>The period, in seconds, to use for the statistics in the <code>InsightRuleMetricDatapoint</code> results.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxContributorCount": {
          "target": "com.amazonaws.cloudwatch#InsightRuleUnboundInteger",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of contributors to include in the report. The range is 1 to 100. If you omit this, the default of 10 is used.</p>"
          }
        },
        "Metrics": {
          "target": "com.amazonaws.cloudwatch#InsightRuleMetricList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which metrics to use for aggregation of contributor values for the report. You can specify one or more\n\t\tof the following metrics:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>UniqueContributors</code> -- the number of unique contributors for each data point.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MaxContributorValue</code> -- the value of the top contributor for each data point. The identity of the\n\t\t\t\t\tcontributor might change for each data point in the graph.</p>\n               <p>If this rule aggregates by COUNT, the top contributor for each data point is the contributor with the \n\t\t\t\t\tmost occurrences in that period. If the rule aggregates by SUM, the top contributor is the contributor with the highest sum in the log field specified\n\t\t\t\t\tby the rule's <code>Value</code>, during that period.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SampleCount</code> -- the number of data points matched by the rule.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Sum</code> -- the sum of the values from all contributors during the time period represented by that data point.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Minimum</code> -- the minimum value from a single observation during the time period represented by that data point.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Maximum</code> -- the maximum value from a single observation during the time period represented by that data point.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Average</code> -- the average value from all contributors during the time period represented by that data point.</p>\n            </li>\n         </ul>"
          }
        },
        "OrderBy": {
          "target": "com.amazonaws.cloudwatch#InsightRuleOrderBy",
          "traits": {
            "smithy.api#documentation": "<p>Determines what statistic to use to rank the contributors. Valid values are SUM and MAXIMUM.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#GetInsightRuleReportOutput": {
      "type": "structure",
      "members": {
        "KeyLabels": {
          "target": "com.amazonaws.cloudwatch#InsightRuleContributorKeyLabels",
          "traits": {
            "smithy.api#documentation": "<p>An array of the strings used as the keys for this rule. The keys are the dimensions used to classify contributors. \n\t\t\tIf the rule contains more than one key, then each unique combination of values for the keys is counted as a unique contributor.</p>"
          }
        },
        "AggregationStatistic": {
          "target": "com.amazonaws.cloudwatch#InsightRuleAggregationStatistic",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this rule aggregates contributor data by COUNT or SUM.</p>"
          }
        },
        "AggregateValue": {
          "target": "com.amazonaws.cloudwatch#InsightRuleUnboundDouble",
          "traits": {
            "smithy.api#documentation": "<p>The sum of the values from all individual contributors that match the rule.</p>"
          }
        },
        "ApproximateUniqueCount": {
          "target": "com.amazonaws.cloudwatch#InsightRuleUnboundLong",
          "traits": {
            "smithy.api#documentation": "<p>An approximate count of the unique contributors found by this rule in this time period.</p>"
          }
        },
        "Contributors": {
          "target": "com.amazonaws.cloudwatch#InsightRuleContributors",
          "traits": {
            "smithy.api#documentation": "<p>An array of the unique contributors found by this rule in this time period. If the rule contains multiple keys, each combination of values\n\t\tfor the keys counts as a unique contributor.</p>"
          }
        },
        "MetricDatapoints": {
          "target": "com.amazonaws.cloudwatch#InsightRuleMetricDatapoints",
          "traits": {
            "smithy.api#documentation": "<p>A time series of metric data points that matches the time period in the rule request.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#GetMetricData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#GetMetricDataInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#GetMetricDataOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidNextToken"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>You can use the <code>GetMetricData</code> API to retrieve CloudWatch metric values. The operation \n\t\t\tcan also include a CloudWatch Metrics Insights query, and one or more metric math functions.</p>\n         <p>A <code>GetMetricData</code> operation that does not include a query can retrieve as many as 500 different\n\t\t\tmetrics in a single request, with a total of as many as 100,800 data points. You can also\n\t\t\toptionally perform metric math expressions on the values of the returned statistics, to create\n\t\t\tnew time series that represent new insights into your data. For example, using Lambda\n\t\t\tmetrics, you could divide the Errors metric by the Invocations metric to get an error\n\t\t\trate time series. For more information about metric math expressions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/using-metric-math.html#metric-math-syntax\">Metric Math Syntax and Functions</a> in the <i>Amazon CloudWatch User\n\t\t\t\t\tGuide</i>.</p>\n         <p>If you include a Metrics Insights query, each <code>GetMetricData</code> operation can include only one\n\t\t\tquery. But the same <code>GetMetricData</code> operation can also retrieve other metrics. Metrics Insights queries\n\t\tcan query only the most recent three hours of metric data. For more information about Metrics Insights, \n\t\tsee <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/query_with_cloudwatch-metrics-insights.html\">Query your metrics with CloudWatch Metrics Insights</a>.</p>\n         <p>Calls to the <code>GetMetricData</code> API have a different pricing structure than \n\t\t\tcalls to <code>GetMetricStatistics</code>. For more information about pricing, see \n\t\t\t<a href=\"https://aws.amazon.com/cloudwatch/pricing/\">Amazon CloudWatch Pricing</a>.</p>\n         <p>Amazon CloudWatch retains metric data as follows:</p>\n         <ul>\n            <li>\n               <p>Data points with a period of less than 60 seconds are available for 3 hours. These data points are high-resolution\n\t\t\t\tmetrics and are available only for custom metrics that have been defined with a <code>StorageResolution</code> of 1.</p>\n            </li>\n            <li>\n               <p>Data points with a period of 60 seconds (1-minute) are available for 15 days.</p>\n            </li>\n            <li>\n               <p>Data points with a period of 300 seconds (5-minute) are available for 63 days.</p>\n            </li>\n            <li>\n               <p>Data points with a period of 3600 seconds (1 hour) are available for 455 days (15 months).</p>\n            </li>\n         </ul>\n         <p>Data points that are initially published with a shorter period are aggregated together for long-term storage. For example, if you collect \n\t\t\tdata using a period of 1 minute, the data remains available for 15 days with 1-minute resolution. After 15 days, this data is still available, \n\t\t\tbut is aggregated and retrievable only with a resolution of 5 minutes. After 63 days, the data is further aggregated and is available with \n\t\t\ta resolution of 1 hour.</p>\n         <p>If you omit <code>Unit</code> in your request, all data that was collected with any unit is returned, along with the corresponding units that were specified\n\t\t\twhen the data was reported to CloudWatch. If you specify a unit, the operation returns only data that was collected with that unit specified.\n\t\t\tIf you specify a unit that does not match the data collected, the results of the operation are null. CloudWatch does not perform unit conversions.</p>\n         <p>\n            <b>Using Metrics Insights queries with metric math</b>\n         </p>\n         <p>You can't mix a Metric Insights query and metric math syntax in the same expression, but \n\t\t\tyou can reference results from a Metrics Insights query within other Metric math expressions. A Metrics Insights \n\t\t\tquery without a <b>GROUP BY</b> clause returns a single time-series (TS), \n\t\t\tand can be used as input for a metric math expression that expects a single time series. A Metrics Insights \n\t\t\tquery with a <b>GROUP BY</b> clause returns an array of time-series (TS[]), \n\t\t\tand can be used as input for a metric math expression that expects an array of time series. </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxDatapoints"
        }
      }
    },
    "com.amazonaws.cloudwatch#GetMetricDataInput": {
      "type": "structure",
      "members": {
        "MetricDataQueries": {
          "target": "com.amazonaws.cloudwatch#MetricDataQueries",
          "traits": {
            "smithy.api#documentation": "<p>The metric queries to be returned. A single <code>GetMetricData</code> call can \n\t\t\tinclude as many as 500 <code>MetricDataQuery</code>\n\t\tstructures. Each of these structures can specify either a metric to retrieve, a Metrics Insights query,\n\t\tor a math expression to perform on retrieved data. </p>",
            "smithy.api#required": {}
          }
        },
        "StartTime": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp indicating the earliest data to be returned.</p>\n         <p>The value specified is inclusive; results include data points with the specified time stamp. </p>\n         <p>CloudWatch rounds the specified time stamp as follows:</p>\n         <ul>\n            <li>\n               <p>Start time less than 15 days ago - Round down to the nearest whole minute.\n\t\t\t\tFor example, 12:32:34 is rounded down to 12:32:00.</p>\n            </li>\n            <li>\n               <p>Start time between 15 and 63 days ago - Round down to the nearest 5-minute clock interval.\n\t\t\t\tFor example, 12:32:34 is rounded down to 12:30:00.</p>\n            </li>\n            <li>\n               <p>Start time greater than 63 days ago - Round down to the nearest 1-hour clock interval.\n\t\t\t\tFor example, 12:32:34 is rounded down to 12:00:00.</p>\n            </li>\n         </ul>\n         <p>If you set <code>Period</code> to 5, 10, or 30, the start time of your request is \n\t\t\trounded down to the nearest time that corresponds to even 5-, 10-, or 30-second divisions\n\t\t\tof a minute. For example, if you make a query at (HH:mm:ss) 01:05:23 for the previous \n\t\t\t10-second period, the start time of your request is rounded down and you receive data from 01:05:10 to \n\t\t\t01:05:20. If you make a query at 15:07:17 for the previous 5 minutes of data, using a \n\t\t\tperiod of 5 seconds, you receive data \n\t\t\ttimestamped between 15:02:15 and 15:07:15.\n\t\t</p>\n         <p>For better performance, specify <code>StartTime</code> and <code>EndTime</code>\n\t\tvalues that align with the value of the metric's <code>Period</code> and sync up with\n\t\tthe beginning and end of an hour. For example, if the <code>Period</code> of a metric\n\t\tis 5 minutes, specifying 12:05 or 12:30 as <code>StartTime</code> can get a faster response\n\t\t\tfrom CloudWatch than setting 12:07 or 12:29 as the <code>StartTime</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp indicating the latest data to be returned.</p>\n         <p>The value specified is exclusive; results include data points up to the specified time stamp.</p>\n         <p>For better performance, specify <code>StartTime</code> and <code>EndTime</code>\n\t\t\tvalues that align with the value of the metric's <code>Period</code> and sync up with\n\t\t\tthe beginning and end of an hour. For example, if the <code>Period</code> of a metric\n\t\t\tis 5 minutes, specifying 12:05 or 12:30 as <code>EndTime</code> can get a faster response\n\t\t\tfrom CloudWatch than setting 12:07 or 12:29 as the <code>EndTime</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Include this value, if it was returned by the previous <code>GetMetricData</code> operation, \n\t\t\tto get the next set of data points.</p>"
          }
        },
        "ScanBy": {
          "target": "com.amazonaws.cloudwatch#ScanBy",
          "traits": {
            "smithy.api#documentation": "<p>The order in which data points should be returned. <code>TimestampDescending</code> returns the newest data first and paginates\n\t\t\twhen the <code>MaxDatapoints</code> limit is reached. <code>TimestampAscending</code> returns the oldest data first and paginates\n\t\t\twhen the <code>MaxDatapoints</code> limit is reached.</p>"
          }
        },
        "MaxDatapoints": {
          "target": "com.amazonaws.cloudwatch#GetMetricDataMaxDatapoints",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of data points the request should return before paginating. If you omit\n\t\t\tthis, the default of 100,800 is used.</p>"
          }
        },
        "LabelOptions": {
          "target": "com.amazonaws.cloudwatch#LabelOptions",
          "traits": {
            "smithy.api#documentation": "<p>This structure includes the <code>Timezone</code> parameter, which you can use\n\t\t\tto specify your time zone so that the labels of returned data display the \n\t\t\tcorrect time\n\t\t\tfor your time zone. </p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#GetMetricDataLabelTimezone": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#GetMetricDataMaxDatapoints": {
      "type": "integer"
    },
    "com.amazonaws.cloudwatch#GetMetricDataOutput": {
      "type": "structure",
      "members": {
        "MetricDataResults": {
          "target": "com.amazonaws.cloudwatch#MetricDataResults",
          "traits": {
            "smithy.api#documentation": "<p>The metrics that are returned, including the metric name, namespace, and dimensions.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that marks the next batch of returned results.</p>"
          }
        },
        "Messages": {
          "target": "com.amazonaws.cloudwatch#MetricDataResultMessages",
          "traits": {
            "smithy.api#documentation": "<p>Contains a message about this <code>GetMetricData</code> operation, if the operation results in such a message.\n\t\t\tAn example of a message that\n\t\t\tmight be returned is <code>Maximum number of allowed metrics exceeded</code>. If there is a message, as much of the\n\t\t\toperation as possible is still executed.</p>\n         <p>A message appears here only if it is related to the global <code>GetMetricData</code> operation. Any message\n\t\t\tabout a specific metric returned by the operation appears in the <code>MetricDataResult</code> object returned for that metric.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#GetMetricStatistics": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#GetMetricStatisticsInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#GetMetricStatisticsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InternalServiceFault"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets statistics for the specified metric.</p>\n         <p>The maximum number of data points returned from a single call is 1,440. If  \n\t\t\tyou request more than 1,440 data points, CloudWatch returns an error. \n\t\t\tTo reduce the number of data points, you can narrow the specified time range and make \n\t\t\tmultiple requests across adjacent time ranges, or you can increase the specified period. \n\t\t\tData points are not returned in chronological order.</p>\n         <p>CloudWatch aggregates data points based on the length of the period\n\t\t\tthat you specify. For example, if you request statistics with a one-hour period, \n\t\t\tCloudWatch aggregates all data points with time stamps that fall within each \n\t\t\tone-hour period. Therefore, the number of values aggregated by CloudWatch is larger than\n\t\t\tthe number of data points returned.</p>\n         <p>CloudWatch needs raw data points to calculate percentile statistics. If you publish \n\t\t\tdata using a statistic set instead, you can only retrieve \n\t\t\tpercentile statistics for this data if one of the following conditions is true:</p>\n         <ul>\n            <li>\n               <p>The SampleCount value of the statistic set is 1.</p>\n            </li>\n            <li>\n               <p>The Min and the Max values of the statistic set are equal.</p>\n            </li>\n         </ul>\n         <p>Percentile statistics are not available for metrics when any of the metric values are negative numbers.</p>\n         <p>Amazon CloudWatch retains metric data as follows:</p>\n         <ul>\n            <li>\n               <p>Data points with a period of less than 60 seconds are available for 3 hours. These data points are high-resolution\n\t\t\t\tmetrics and are available only for custom metrics that have been defined with a <code>StorageResolution</code> of 1.</p>\n            </li>\n            <li>\n               <p>Data points with a period of 60 seconds (1-minute) are available for 15 days.</p>\n            </li>\n            <li>\n               <p>Data points with a period of 300 seconds (5-minute) are available for 63 days.</p>\n            </li>\n            <li>\n               <p>Data points with a period of 3600 seconds (1 hour) are available for 455 days (15 months).</p>\n            </li>\n         </ul>\n         <p>Data points that are initially published with a shorter period are aggregated together for long-term storage. For example, if you collect \n\t\t\tdata using a period of 1 minute, the data remains available for 15 days with 1-minute resolution. After 15 days, this data is still available, \n\t\t\tbut is aggregated and retrievable only with a resolution of 5 minutes. After 63 days, the data is further aggregated and is available with \n\t\ta resolution of 1 hour.</p>\n         <p>CloudWatch started retaining 5-minute and 1-hour metric data as of July 9, 2016.</p>\n         <p>For information about metrics and dimensions supported by Amazon Web Services services, see the \n\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CW_Support_For_AWS.html\">Amazon CloudWatch Metrics and Dimensions Reference</a> in the\n\t\t\t<i>Amazon CloudWatch User Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudwatch#GetMetricStatisticsInput": {
[...]
