{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.clouddirectory#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.clouddirectory#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access denied or directory not found. Either you don't have permissions for this directory or the directory does not exist. Try calling <a>ListDirectories</a> and check your permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.clouddirectory#AddFacetToObject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.clouddirectory#AddFacetToObjectRequest"
      },
      "output": {
        "target": "com.amazonaws.clouddirectory#AddFacetToObjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.clouddirectory#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.clouddirectory#DirectoryNotEnabledException"
        },
        {
          "target": "com.amazonaws.clouddirectory#FacetValidationException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InternalServiceException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InvalidArnException"
        },
        {
          "target": "com.amazonaws.clouddirectory#LimitExceededException"
        },
        {
          "target": "com.amazonaws.clouddirectory#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.clouddirectory#RetryableConflictException"
        },
        {
          "target": "com.amazonaws.clouddirectory#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a new <a>Facet</a> to an object. An object can have more than one facet applied on it.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/amazonclouddirectory/2017-01-11/object/facets",
          "code": 200
        }
      }
    },
    "com.amazonaws.clouddirectory#AddFacetToObjectRequest": {
      "type": "structure",
      "members": {
        "DirectoryArn": {
          "target": "com.amazonaws.clouddirectory#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that is associated with the <a>Directory</a>\n      where the object resides. For more information, see <a>arns</a>.</p>",
            "smithy.api#httpHeader": "x-amz-data-partition",
            "smithy.api#required": {}
          }
        },
        "SchemaFacet": {
          "target": "com.amazonaws.clouddirectory#SchemaFacet",
          "traits": {
            "smithy.api#documentation": "<p>Identifiers for the facet that you are adding to the object. See <a>SchemaFacet</a> for details.</p>",
            "smithy.api#required": {}
          }
        },
        "ObjectAttributeList": {
          "target": "com.amazonaws.clouddirectory#AttributeKeyAndValueList",
          "traits": {
            "smithy.api#documentation": "<p>Attributes on the facet that you are adding to the object.</p>"
          }
        },
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the object you are adding the specified facet to.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.clouddirectory#AddFacetToObjectResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.clouddirectory#AmazonCloudDirectory_20170111": {
      "type": "service",
      "version": "2017-01-11",
      "operations": [
        {
          "target": "com.amazonaws.clouddirectory#AddFacetToObject"
        },
        {
          "target": "com.amazonaws.clouddirectory#ApplySchema"
        },
        {
          "target": "com.amazonaws.clouddirectory#AttachObject"
        },
        {
          "target": "com.amazonaws.clouddirectory#AttachPolicy"
        },
        {
          "target": "com.amazonaws.clouddirectory#AttachToIndex"
        },
        {
          "target": "com.amazonaws.clouddirectory#AttachTypedLink"
        },
        {
          "target": "com.amazonaws.clouddirectory#BatchRead"
        },
        {
          "target": "com.amazonaws.clouddirectory#BatchWrite"
        },
        {
          "target": "com.amazonaws.clouddirectory#CreateDirectory"
        },
        {
          "target": "com.amazonaws.clouddirectory#CreateFacet"
        },
        {
          "target": "com.amazonaws.clouddirectory#CreateIndex"
        },
        {
          "target": "com.amazonaws.clouddirectory#CreateObject"
        },
        {
          "target": "com.amazonaws.clouddirectory#CreateSchema"
        },
        {
          "target": "com.amazonaws.clouddirectory#CreateTypedLinkFacet"
        },
        {
          "target": "com.amazonaws.clouddirectory#DeleteDirectory"
        },
        {
          "target": "com.amazonaws.clouddirectory#DeleteFacet"
        },
        {
          "target": "com.amazonaws.clouddirectory#DeleteObject"
        },
        {
          "target": "com.amazonaws.clouddirectory#DeleteSchema"
        },
        {
          "target": "com.amazonaws.clouddirectory#DeleteTypedLinkFacet"
        },
        {
          "target": "com.amazonaws.clouddirectory#DetachFromIndex"
        },
        {
          "target": "com.amazonaws.clouddirectory#DetachObject"
        },
        {
          "target": "com.amazonaws.clouddirectory#DetachPolicy"
        },
        {
          "target": "com.amazonaws.clouddirectory#DetachTypedLink"
        },
        {
          "target": "com.amazonaws.clouddirectory#DisableDirectory"
        },
        {
          "target": "com.amazonaws.clouddirectory#EnableDirectory"
        },
        {
          "target": "com.amazonaws.clouddirectory#GetAppliedSchemaVersion"
        },
        {
          "target": "com.amazonaws.clouddirectory#GetDirectory"
        },
        {
          "target": "com.amazonaws.clouddirectory#GetFacet"
        },
        {
          "target": "com.amazonaws.clouddirectory#GetLinkAttributes"
        },
        {
          "target": "com.amazonaws.clouddirectory#GetObjectAttributes"
        },
        {
          "target": "com.amazonaws.clouddirectory#GetObjectInformation"
        },
        {
          "target": "com.amazonaws.clouddirectory#GetSchemaAsJson"
        },
        {
          "target": "com.amazonaws.clouddirectory#GetTypedLinkFacetInformation"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListAppliedSchemaArns"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListAttachedIndices"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListDevelopmentSchemaArns"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListDirectories"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListFacetAttributes"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListFacetNames"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListIncomingTypedLinks"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListIndex"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListManagedSchemaArns"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListObjectAttributes"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListObjectChildren"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListObjectParentPaths"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListObjectParents"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListObjectPolicies"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListOutgoingTypedLinks"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListPolicyAttachments"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListPublishedSchemaArns"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListTypedLinkFacetAttributes"
        },
        {
          "target": "com.amazonaws.clouddirectory#ListTypedLinkFacetNames"
        },
        {
          "target": "com.amazonaws.clouddirectory#LookupPolicy"
        },
        {
          "target": "com.amazonaws.clouddirectory#PublishSchema"
        },
        {
          "target": "com.amazonaws.clouddirectory#PutSchemaFromJson"
        },
        {
          "target": "com.amazonaws.clouddirectory#RemoveFacetFromObject"
        },
        {
          "target": "com.amazonaws.clouddirectory#TagResource"
        },
        {
          "target": "com.amazonaws.clouddirectory#UntagResource"
        },
        {
          "target": "com.amazonaws.clouddirectory#UpdateFacet"
        },
        {
          "target": "com.amazonaws.clouddirectory#UpdateLinkAttributes"
        },
        {
          "target": "com.amazonaws.clouddirectory#UpdateObjectAttributes"
        },
        {
          "target": "com.amazonaws.clouddirectory#UpdateSchema"
        },
        {
          "target": "com.amazonaws.clouddirectory#UpdateTypedLinkFacet"
        },
        {
          "target": "com.amazonaws.clouddirectory#UpgradeAppliedSchema"
        },
        {
          "target": "com.amazonaws.clouddirectory#UpgradePublishedSchema"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CloudDirectory",
          "arnNamespace": "clouddirectory",
          "cloudFormationName": "CloudDirectory",
          "cloudTrailEventSource": "clouddirectory.amazonaws.com",
          "endpointPrefix": "clouddirectory"
        },
        "aws.auth#sigv4": {
          "name": "clouddirectory"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Amazon Cloud Directory</fullname>\n         <p>Amazon Cloud Directory is a component of the AWS Directory Service that simplifies the\n      development and management of cloud-scale web, mobile, and IoT applications. This guide\n      describes the Cloud Directory operations that you can call programmatically and includes\n      detailed information on data types and errors. For information about Cloud Directory features, see <a href=\"https://aws.amazon.com/directoryservice/\">AWS Directory\n        Service</a> and the <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/what_is_cloud_directory.html\">Amazon Cloud Directory Developer Guide</a>.</p>",
        "smithy.api#title": "Amazon CloudDirectory"
      }
    },
    "com.amazonaws.clouddirectory#ApplySchema": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.clouddirectory#ApplySchemaRequest"
      },
      "output": {
        "target": "com.amazonaws.clouddirectory#ApplySchemaResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.clouddirectory#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InternalServiceException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InvalidArnException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InvalidAttachmentException"
        },
        {
          "target": "com.amazonaws.clouddirectory#LimitExceededException"
        },
        {
          "target": "com.amazonaws.clouddirectory#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.clouddirectory#RetryableConflictException"
        },
        {
          "target": "com.amazonaws.clouddirectory#SchemaAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.clouddirectory#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies the input published schema, at the specified version, into the <a>Directory</a> with the same\n      name and version as that of the published schema.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/amazonclouddirectory/2017-01-11/schema/apply",
          "code": 200
        }
      }
    },
    "com.amazonaws.clouddirectory#ApplySchemaRequest": {
      "type": "structure",
      "members": {
        "PublishedSchemaArn": {
          "target": "com.amazonaws.clouddirectory#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Published schema Amazon Resource Name (ARN) that needs to be copied. For more\n      information, see <a>arns</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "DirectoryArn": {
          "target": "com.amazonaws.clouddirectory#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that is associated with the <a>Directory</a>\n      into which the schema is copied. For more information, see <a>arns</a>.</p>",
            "smithy.api#httpHeader": "x-amz-data-partition",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.clouddirectory#ApplySchemaResponse": {
      "type": "structure",
      "members": {
        "AppliedSchemaArn": {
          "target": "com.amazonaws.clouddirectory#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The applied schema ARN that is associated with the copied schema in the <a>Directory</a>. You can use this ARN to describe the schema information applied on\n      this directory. For more information, see <a>arns</a>.</p>"
          }
        },
        "DirectoryArn": {
          "target": "com.amazonaws.clouddirectory#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that is associated with the <a>Directory</a>. For more information,\n      see <a>arns</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.clouddirectory#Arn": {
      "type": "string"
    },
    "com.amazonaws.clouddirectory#Arns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.clouddirectory#Arn"
      }
    },
    "com.amazonaws.clouddirectory#AttachObject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.clouddirectory#AttachObjectRequest"
      },
      "output": {
        "target": "com.amazonaws.clouddirectory#AttachObjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.clouddirectory#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.clouddirectory#DirectoryNotEnabledException"
        },
        {
          "target": "com.amazonaws.clouddirectory#FacetValidationException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InternalServiceException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InvalidArnException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InvalidAttachmentException"
        },
        {
          "target": "com.amazonaws.clouddirectory#LimitExceededException"
        },
        {
          "target": "com.amazonaws.clouddirectory#LinkNameAlreadyInUseException"
        },
        {
          "target": "com.amazonaws.clouddirectory#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.clouddirectory#RetryableConflictException"
        },
        {
          "target": "com.amazonaws.clouddirectory#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches an existing object to another object. An object can be accessed in two\n      ways:</p>\n         <ol>\n            <li>\n               <p>Using the path</p>\n            </li>\n            <li>\n               <p>Using <code>ObjectIdentifier</code>\n               </p>\n            </li>\n         </ol>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/amazonclouddirectory/2017-01-11/object/attach",
          "code": 200
        }
      }
    },
    "com.amazonaws.clouddirectory#AttachObjectRequest": {
      "type": "structure",
      "members": {
        "DirectoryArn": {
          "target": "com.amazonaws.clouddirectory#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) that is associated with the <a>Directory</a>\n      where both objects reside. For more information, see <a>arns</a>.</p>",
            "smithy.api#httpHeader": "x-amz-data-partition",
            "smithy.api#required": {}
          }
        },
        "ParentReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The parent object reference.</p>",
            "smithy.api#required": {}
          }
        },
        "ChildReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The child object reference to be attached to the object.</p>",
            "smithy.api#required": {}
          }
        },
        "LinkName": {
          "target": "com.amazonaws.clouddirectory#LinkName",
          "traits": {
            "smithy.api#documentation": "<p>The link name with which the child object is attached to the parent.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.clouddirectory#AttachObjectResponse": {
      "type": "structure",
      "members": {
        "AttachedObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The attached <code>ObjectIdentifier</code>, which is the child\n        <code>ObjectIdentifier</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.clouddirectory#AttachPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.clouddirectory#AttachPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.clouddirectory#AttachPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.clouddirectory#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.clouddirectory#DirectoryNotEnabledException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InternalServiceException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InvalidArnException"
        },
        {
          "target": "com.amazonaws.clouddirectory#LimitExceededException"
        },
        {
          "target": "com.amazonaws.clouddirectory#NotPolicyException"
        },
        {
          "target": "com.amazonaws.clouddirectory#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.clouddirectory#RetryableConflictException"
        },
        {
          "target": "com.amazonaws.clouddirectory#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches a policy object to a regular object. An object can have a limited number of attached\n      policies.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/amazonclouddirectory/2017-01-11/policy/attach",
          "code": 200
        }
      }
    },
    "com.amazonaws.clouddirectory#AttachPolicyRequest": {
      "type": "structure",
      "members": {
        "DirectoryArn": {
          "target": "com.amazonaws.clouddirectory#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that is associated with the <a>Directory</a>\n      where both objects reside. For more information, see <a>arns</a>.</p>",
            "smithy.api#httpHeader": "x-amz-data-partition",
            "smithy.api#required": {}
          }
        },
        "PolicyReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that is associated with the policy object.</p>",
            "smithy.api#required": {}
          }
        },
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that identifies the object to which the policy will be\n      attached.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.clouddirectory#AttachPolicyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.clouddirectory#AttachToIndex": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.clouddirectory#AttachToIndexRequest"
      },
      "output": {
        "target": "com.amazonaws.clouddirectory#AttachToIndexResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.clouddirectory#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.clouddirectory#DirectoryNotEnabledException"
        },
        {
          "target": "com.amazonaws.clouddirectory#IndexedAttributeMissingException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InternalServiceException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InvalidArnException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InvalidAttachmentException"
        },
        {
          "target": "com.amazonaws.clouddirectory#LimitExceededException"
        },
        {
          "target": "com.amazonaws.clouddirectory#LinkNameAlreadyInUseException"
        },
        {
          "target": "com.amazonaws.clouddirectory#NotIndexException"
        },
        {
          "target": "com.amazonaws.clouddirectory#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.clouddirectory#RetryableConflictException"
        },
        {
          "target": "com.amazonaws.clouddirectory#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches the specified object to the specified index.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/amazonclouddirectory/2017-01-11/index/attach",
          "code": 200
        }
      }
    },
    "com.amazonaws.clouddirectory#AttachToIndexRequest": {
      "type": "structure",
      "members": {
        "DirectoryArn": {
          "target": "com.amazonaws.clouddirectory#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the directory where the object and index\n      exist.</p>",
            "smithy.api#httpHeader": "x-amz-data-partition",
            "smithy.api#required": {}
          }
        },
        "IndexReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the index that you are attaching the object to.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the object that you are attaching to the index.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.clouddirectory#AttachToIndexResponse": {
      "type": "structure",
      "members": {
        "AttachedObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ObjectIdentifier</code> of the object that was attached to the index.</p>"
          }
        }
      }
    },
    "com.amazonaws.clouddirectory#AttachTypedLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.clouddirectory#AttachTypedLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.clouddirectory#AttachTypedLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.clouddirectory#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.clouddirectory#DirectoryNotEnabledException"
        },
        {
          "target": "com.amazonaws.clouddirectory#FacetValidationException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InternalServiceException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InvalidArnException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InvalidAttachmentException"
        },
        {
          "target": "com.amazonaws.clouddirectory#LimitExceededException"
        },
        {
          "target": "com.amazonaws.clouddirectory#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.clouddirectory#RetryableConflictException"
        },
        {
          "target": "com.amazonaws.clouddirectory#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches a typed link to a specified source and target object. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/amazonclouddirectory/2017-01-11/typedlink/attach",
          "code": 200
        }
      }
    },
    "com.amazonaws.clouddirectory#AttachTypedLinkRequest": {
      "type": "structure",
      "members": {
        "DirectoryArn": {
          "target": "com.amazonaws.clouddirectory#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the directory where you want to attach the typed\n      link.</p>",
            "smithy.api#httpHeader": "x-amz-data-partition",
            "smithy.api#required": {}
          }
        },
        "SourceObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the source object that the typed link will attach to.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the target object that the typed link will attach to.</p>",
            "smithy.api#required": {}
          }
        },
        "TypedLinkFacet": {
          "target": "com.amazonaws.clouddirectory#TypedLinkSchemaAndFacetName",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the typed link facet that is associated with the typed link.</p>",
            "smithy.api#required": {}
          }
        },
        "Attributes": {
          "target": "com.amazonaws.clouddirectory#AttributeNameAndValueList",
          "traits": {
            "smithy.api#documentation": "<p>A set of attributes that are associated with the typed link.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.clouddirectory#AttachTypedLinkResponse": {
      "type": "structure",
      "members": {
        "TypedLinkSpecifier": {
          "target": "com.amazonaws.clouddirectory#TypedLinkSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>Returns a typed link specifier as output.</p>"
          }
        }
      }
    },
    "com.amazonaws.clouddirectory#AttributeKey": {
      "type": "structure",
      "members": {
        "SchemaArn": {
          "target": "com.amazonaws.clouddirectory#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the schema that contains the facet and\n      attribute.</p>",
            "smithy.api#required": {}
          }
        },
        "FacetName": {
          "target": "com.amazonaws.clouddirectory#FacetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the facet that the attribute exists within.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.clouddirectory#AttributeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A unique identifier for an attribute.</p>"
      }
    },
    "com.amazonaws.clouddirectory#AttributeKeyAndValue": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.clouddirectory#AttributeKey",
          "traits": {
            "smithy.api#documentation": "<p>The key of the attribute.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.clouddirectory#TypedAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the attribute.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The combination of an attribute key and an attribute value.</p>"
      }
    },
    "com.amazonaws.clouddirectory#AttributeKeyAndValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.clouddirectory#AttributeKeyAndValue"
      }
    },
    "com.amazonaws.clouddirectory#AttributeKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.clouddirectory#AttributeKey"
      }
    },
    "com.amazonaws.clouddirectory#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 230
        },
        "smithy.api#pattern": "^[a-zA-Z0-9._:-]*$"
      }
    },
    "com.amazonaws.clouddirectory#AttributeNameAndValue": {
      "type": "structure",
      "members": {
        "AttributeName": {
          "target": "com.amazonaws.clouddirectory#AttributeName",
          "traits": {
            "smithy.api#documentation": "<p>The attribute name of the typed link.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.clouddirectory#TypedAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value for the typed link.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Identifies the attribute name and value for a typed link.</p>"
      }
    },
    "com.amazonaws.clouddirectory#AttributeNameAndValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.clouddirectory#AttributeNameAndValue"
      }
    },
    "com.amazonaws.clouddirectory#AttributeNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.clouddirectory#AttributeName"
      }
    },
    "com.amazonaws.clouddirectory#BatchAddFacetToObject": {
      "type": "structure",
      "members": {
        "SchemaFacet": {
          "target": "com.amazonaws.clouddirectory#SchemaFacet",
          "traits": {
            "smithy.api#documentation": "<p>Represents the facet being added to the object.</p>",
            "smithy.api#required": {}
          }
        },
        "ObjectAttributeList": {
          "target": "com.amazonaws.clouddirectory#AttributeKeyAndValueList",
          "traits": {
            "smithy.api#documentation": "<p>The attributes to set on the object.</p>",
            "smithy.api#required": {}
          }
        },
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the object being mutated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a batch add facet to object operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchAddFacetToObjectResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The result of a batch add facet to object operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchAttachObject": {
      "type": "structure",
      "members": {
        "ParentReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The parent object reference.</p>",
            "smithy.api#required": {}
          }
        },
        "ChildReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The child object reference that is to be attached to the object.</p>",
            "smithy.api#required": {}
          }
        },
        "LinkName": {
          "target": "com.amazonaws.clouddirectory#LinkName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the link.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of an <a>AttachObject</a> operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchAttachObjectResponse": {
      "type": "structure",
      "members": {
        "attachedObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ObjectIdentifier</code> of the object that has been attached.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output batch <a>AttachObject</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchAttachPolicy": {
      "type": "structure",
      "members": {
        "PolicyReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that is associated with the policy object.</p>",
            "smithy.api#required": {}
          }
        },
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that identifies the object to which the policy will be\n       attached.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attaches a policy object to a regular object inside a <a>BatchRead</a> operation. For more information, see <a>AttachPolicy</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchAttachPolicyResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of an <a>AttachPolicy</a> response\n      operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchAttachToIndex": {
      "type": "structure",
      "members": {
        "IndexReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the index that you are attaching the object to.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the object that you are attaching to the index.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attaches the specified object to the specified index inside a <a>BatchRead</a> operation. For more information, see <a>AttachToIndex</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchAttachToIndexResponse": {
      "type": "structure",
      "members": {
        "AttachedObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ObjectIdentifier</code> of the object that was attached to the index.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>AttachToIndex</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchAttachTypedLink": {
      "type": "structure",
      "members": {
        "SourceObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the source object that the typed link will attach to.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the target object that the typed link will attach to.</p>",
            "smithy.api#required": {}
          }
        },
        "TypedLinkFacet": {
          "target": "com.amazonaws.clouddirectory#TypedLinkSchemaAndFacetName",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the typed link facet that is associated with the typed link.</p>",
            "smithy.api#required": {}
          }
        },
        "Attributes": {
          "target": "com.amazonaws.clouddirectory#AttributeNameAndValueList",
          "traits": {
            "smithy.api#documentation": "<p>A set of attributes that are associated with the typed link.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attaches a typed link to a specified source and target object inside a <a>BatchRead</a> operation. For more information, see <a>AttachTypedLink</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchAttachTypedLinkResponse": {
      "type": "structure",
      "members": {
        "TypedLinkSpecifier": {
          "target": "com.amazonaws.clouddirectory#TypedLinkSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>Returns a typed link specifier as output.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>AttachTypedLink</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchCreateIndex": {
      "type": "structure",
      "members": {
        "OrderedIndexedAttributeList": {
          "target": "com.amazonaws.clouddirectory#AttributeKeyList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the attributes that should be indexed on. Currently only a single attribute\n       is supported.</p>",
            "smithy.api#required": {}
          }
        },
        "IsUnique": {
          "target": "com.amazonaws.clouddirectory#Bool",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the attribute that is being indexed has unique values or\n       not.</p>",
            "smithy.api#required": {}
          }
        },
        "ParentReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the parent object that contains the index object.</p>"
          }
        },
        "LinkName": {
          "target": "com.amazonaws.clouddirectory#LinkName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the link between the parent object and the index object.</p>"
          }
        },
        "BatchReferenceName": {
          "target": "com.amazonaws.clouddirectory#BatchReferenceName",
          "traits": {
            "smithy.api#documentation": "<p>The batch reference name. See <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/transaction_support.html\">Transaction Support</a> for more information.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates an index object inside of a <a>BatchRead</a> operation. For more information, see <a>CreateIndex</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchCreateIndexResponse": {
      "type": "structure",
      "members": {
        "ObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ObjectIdentifier</code> of the index created by this operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>CreateIndex</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchCreateObject": {
      "type": "structure",
      "members": {
        "SchemaFacet": {
          "target": "com.amazonaws.clouddirectory#SchemaFacetList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>FacetArns</code> that will be associated with the object. For more\n      information, see <a>arns</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "ObjectAttributeList": {
          "target": "com.amazonaws.clouddirectory#AttributeKeyAndValueList",
          "traits": {
            "smithy.api#documentation": "<p>An attribute map, which contains an attribute ARN as the key and attribute value as\n      the map value.</p>",
            "smithy.api#required": {}
          }
        },
        "ParentReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>If specified, the parent reference to which this object will be attached.</p>"
          }
        },
        "LinkName": {
          "target": "com.amazonaws.clouddirectory#LinkName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the link.</p>"
          }
        },
        "BatchReferenceName": {
          "target": "com.amazonaws.clouddirectory#BatchReferenceName",
          "traits": {
            "smithy.api#documentation": "<p>The batch reference name. See <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/transaction_support.html\">Transaction Support</a> for more information.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>CreateObject</a> operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchCreateObjectResponse": {
      "type": "structure",
      "members": {
        "ObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID that is associated with the object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>CreateObject</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchDeleteObject": {
      "type": "structure",
      "members": {
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that identifies the object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>DeleteObject</a> operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchDeleteObjectResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>DeleteObject</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchDetachFromIndex": {
      "type": "structure",
      "members": {
        "IndexReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the index object.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the object being detached from the index.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detaches the specified object from the specified index inside a <a>BatchRead</a> operation. For more information, see <a>DetachFromIndex</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchDetachFromIndexResponse": {
      "type": "structure",
      "members": {
        "DetachedObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ObjectIdentifier</code> of the object that was detached from the index.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>DetachFromIndex</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchDetachObject": {
      "type": "structure",
      "members": {
        "ParentReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Parent reference from which the object with the specified link name is\n      detached.</p>",
            "smithy.api#required": {}
          }
        },
        "LinkName": {
          "target": "com.amazonaws.clouddirectory#LinkName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the link.</p>",
            "smithy.api#required": {}
          }
        },
        "BatchReferenceName": {
          "target": "com.amazonaws.clouddirectory#BatchReferenceName",
          "traits": {
            "smithy.api#documentation": "<p>The batch reference name. See <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/transaction_support.html\">Transaction Support</a> for more information.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>DetachObject</a> operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchDetachObjectResponse": {
      "type": "structure",
      "members": {
        "detachedObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ObjectIdentifier</code> of the detached object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>DetachObject</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchDetachPolicy": {
      "type": "structure",
      "members": {
        "PolicyReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Reference that identifies the policy object.</p>",
            "smithy.api#required": {}
          }
        },
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Reference that identifies the object whose policy object will be detached.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detaches the specified policy from the specified directory inside a <a>BatchWrite</a> operation. For more information, see <a>DetachPolicy</a> and <a>BatchWriteRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchDetachPolicyResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>DetachPolicy</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchDetachTypedLink": {
      "type": "structure",
      "members": {
        "TypedLinkSpecifier": {
          "target": "com.amazonaws.clouddirectory#TypedLinkSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>Used to accept a typed link specifier as input.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detaches a typed link from a specified source and target object inside a <a>BatchRead</a> operation. For more information, see <a>DetachTypedLink</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchDetachTypedLinkResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>DetachTypedLink</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchGetLinkAttributes": {
      "type": "structure",
      "members": {
        "TypedLinkSpecifier": {
          "target": "com.amazonaws.clouddirectory#TypedLinkSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>Allows a typed link specifier to be accepted as input.</p>",
            "smithy.api#required": {}
          }
        },
        "AttributeNames": {
          "target": "com.amazonaws.clouddirectory#AttributeNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of attribute names whose values will be retrieved.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves attributes that are associated with a typed link inside a <a>BatchRead</a> operation. For more information, see <a>GetLinkAttributes</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchGetLinkAttributesResponse": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.clouddirectory#AttributeKeyAndValueList",
          "traits": {
            "smithy.api#documentation": "<p>The attributes that are associated with the typed link.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>GetLinkAttributes</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchGetObjectAttributes": {
      "type": "structure",
      "members": {
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Reference that identifies the object whose attributes will be retrieved.</p>",
            "smithy.api#required": {}
          }
        },
        "SchemaFacet": {
          "target": "com.amazonaws.clouddirectory#SchemaFacet",
          "traits": {
            "smithy.api#documentation": "<p>Identifier for the facet whose attributes will be retrieved. See <a>SchemaFacet</a> for details.</p>",
            "smithy.api#required": {}
          }
        },
        "AttributeNames": {
          "target": "com.amazonaws.clouddirectory#AttributeNameList",
          "traits": {
            "smithy.api#documentation": "<p>List of attribute names whose values will be retrieved.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves attributes within a facet that are associated with an object inside an <a>BatchRead</a> operation. For more information, see <a>GetObjectAttributes</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchGetObjectAttributesResponse": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.clouddirectory#AttributeKeyAndValueList",
          "traits": {
            "smithy.api#documentation": "<p>The attribute values that are associated with an object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>GetObjectAttributes</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchGetObjectInformation": {
      "type": "structure",
      "members": {
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves metadata about an object inside a <a>BatchRead</a> operation. For more information, see <a>GetObjectInformation</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchGetObjectInformationResponse": {
      "type": "structure",
      "members": {
        "SchemaFacets": {
          "target": "com.amazonaws.clouddirectory#SchemaFacetList",
          "traits": {
            "smithy.api#documentation": "<p>The facets attached to the specified object.</p>"
          }
        },
        "ObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ObjectIdentifier</code> of the specified object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>GetObjectInformation</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListAttachedIndices": {
      "type": "structure",
      "members": {
        "TargetReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the object that has indices attached.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to retrieve.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists indices attached to an object inside a <a>BatchRead</a> operation. For more information, see <a>ListAttachedIndices</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListAttachedIndicesResponse": {
      "type": "structure",
      "members": {
        "IndexAttachments": {
          "target": "com.amazonaws.clouddirectory#IndexAttachmentList",
          "traits": {
            "smithy.api#documentation": "<p>The indices attached to the specified object.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListAttachedIndices</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListIncomingTypedLinks": {
      "type": "structure",
      "members": {
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that identifies the object whose attributes will be listed.</p>",
            "smithy.api#required": {}
          }
        },
        "FilterAttributeRanges": {
          "target": "com.amazonaws.clouddirectory#TypedLinkAttributeRangeList",
          "traits": {
            "smithy.api#documentation": "<p>Provides range filters for multiple attributes. When providing ranges to typed link\n       selection, any inexact ranges must be specified at the end. Any attributes that do not have a\n       range specified are presumed to match the entire range.</p>"
          }
        },
        "FilterTypedLink": {
          "target": "com.amazonaws.clouddirectory#TypedLinkSchemaAndFacetName",
          "traits": {
            "smithy.api#documentation": "<p>Filters are interpreted in the order of the attributes on the typed link facet, not the\n       order in which they are supplied to any API calls.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to retrieve.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns a paginated list of all the incoming <a>TypedLinkSpecifier</a> information for an object inside a <a>BatchRead</a> operation. For more information, see <a>ListIncomingTypedLinks</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListIncomingTypedLinksResponse": {
      "type": "structure",
      "members": {
        "LinkSpecifiers": {
          "target": "com.amazonaws.clouddirectory#TypedLinkSpecifierList",
          "traits": {
            "smithy.api#documentation": "<p>Returns one or more typed link specifiers as output.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListIncomingTypedLinks</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListIndex": {
      "type": "structure",
      "members": {
        "RangesOnIndexedValues": {
          "target": "com.amazonaws.clouddirectory#ObjectAttributeRangeList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ranges of indexed values that you want to query.</p>"
          }
        },
        "IndexReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference to the index to list.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to retrieve.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists objects attached to the specified index inside a <a>BatchRead</a> operation. For more information, see <a>ListIndex</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListIndexResponse": {
      "type": "structure",
      "members": {
        "IndexAttachments": {
          "target": "com.amazonaws.clouddirectory#IndexAttachmentList",
          "traits": {
            "smithy.api#documentation": "<p>The objects and indexed values attached to the index.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListIndex</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListObjectAttributes": {
      "type": "structure",
      "members": {
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Reference of the object whose attributes need to be listed.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to be retrieved in a single call. This is an approximate\n      number.</p>"
          }
        },
        "FacetFilter": {
          "target": "com.amazonaws.clouddirectory#SchemaFacet",
          "traits": {
            "smithy.api#documentation": "<p>Used to filter the list of object attributes that are associated with a certain\n      facet.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListObjectAttributes</a> operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListObjectAttributesResponse": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.clouddirectory#AttributeKeyAndValueList",
          "traits": {
            "smithy.api#documentation": "<p>The attributes map that is associated with the object. <code>AttributeArn</code> is the\n      key; attribute value is the value.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListObjectAttributes</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListObjectChildren": {
      "type": "structure",
      "members": {
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Reference of the object for which child objects are being listed.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of items to be retrieved in a single call. This is an approximate\n       number.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListObjectChildren</a> operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListObjectChildrenResponse": {
      "type": "structure",
      "members": {
        "Children": {
          "target": "com.amazonaws.clouddirectory#LinkNameToObjectIdentifierMap",
          "traits": {
            "smithy.api#documentation": "<p>The children structure, which is a map with the key as the <code>LinkName</code> and\n        <code>ObjectIdentifier</code> as the value.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListObjectChildren</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListObjectParentPaths": {
      "type": "structure",
      "members": {
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that identifies the object whose attributes will be listed.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to retrieve.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves all available parent paths for any object type such as node, leaf node, policy node, and index node objects inside a <a>BatchRead</a> operation. For more information, see <a>ListObjectParentPaths</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListObjectParentPathsResponse": {
      "type": "structure",
      "members": {
        "PathToObjectIdentifiersList": {
          "target": "com.amazonaws.clouddirectory#PathToObjectIdentifiersList",
          "traits": {
            "smithy.api#documentation": "<p>Returns the path to the <code>ObjectIdentifiers</code> that are associated with the\n       directory.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListObjectParentPaths</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListObjectParents": {
      "type": "structure",
      "members": {
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to be retrieved in a single call. This is an approximate\n      number.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists parent objects that are associated with a given object in pagination\n      fashion.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListObjectParentsResponse": {
      "type": "structure",
      "members": {
        "ParentLinks": {
          "target": "com.amazonaws.clouddirectory#ObjectIdentifierAndLinkNameList",
          "traits": {
            "smithy.api#documentation": "<p>Returns a list of parent reference and LinkName Tuples.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListObjectParents</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListObjectPolicies": {
      "type": "structure",
      "members": {
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that identifies the object whose attributes will be listed.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to retrieve.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns policies attached to an object in pagination fashion inside a <a>BatchRead</a> operation. For more information, see <a>ListObjectPolicies</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListObjectPoliciesResponse": {
      "type": "structure",
      "members": {
        "AttachedPolicyIds": {
          "target": "com.amazonaws.clouddirectory#ObjectIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of policy <code>ObjectIdentifiers</code>, that are attached to the\n       object.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListObjectPolicies</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListOutgoingTypedLinks": {
      "type": "structure",
      "members": {
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that identifies the object whose attributes will be listed.</p>",
            "smithy.api#required": {}
          }
        },
        "FilterAttributeRanges": {
          "target": "com.amazonaws.clouddirectory#TypedLinkAttributeRangeList",
          "traits": {
            "smithy.api#documentation": "<p>Provides range filters for multiple attributes. When providing ranges to typed link\n       selection, any inexact ranges must be specified at the end. Any attributes that do not have a\n       range specified are presumed to match the entire range.</p>"
          }
        },
        "FilterTypedLink": {
          "target": "com.amazonaws.clouddirectory#TypedLinkSchemaAndFacetName",
          "traits": {
            "smithy.api#documentation": "<p>Filters are interpreted in the order of the attributes defined on the typed link facet,\n       not the order they are supplied to any API calls.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to retrieve.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns a paginated list of all the outgoing <a>TypedLinkSpecifier</a> information for an object inside a <a>BatchRead</a> operation. For more information, see <a>ListOutgoingTypedLinks</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListOutgoingTypedLinksResponse": {
      "type": "structure",
      "members": {
        "TypedLinkSpecifiers": {
          "target": "com.amazonaws.clouddirectory#TypedLinkSpecifierList",
          "traits": {
            "smithy.api#documentation": "<p>Returns a typed link specifier as output.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListOutgoingTypedLinks</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListPolicyAttachments": {
      "type": "structure",
      "members": {
        "PolicyReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>The reference that identifies the policy object.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to retrieve.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns all of the <code>ObjectIdentifiers</code> to which a given policy is attached inside a <a>BatchRead</a> operation. For more information, see <a>ListPolicyAttachments</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchListPolicyAttachmentsResponse": {
      "type": "structure",
      "members": {
        "ObjectIdentifiers": {
          "target": "com.amazonaws.clouddirectory#ObjectIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>ObjectIdentifiers</code> to which the policy is attached.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>ListPolicyAttachments</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchLookupPolicy": {
      "type": "structure",
      "members": {
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Reference that identifies the object whose policies will be looked up.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.clouddirectory#NumberResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to retrieve.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists all policies from the root of the Directory to the object specified inside a <a>BatchRead</a> operation. For more information, see <a>LookupPolicy</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchLookupPolicyResponse": {
      "type": "structure",
      "members": {
        "PolicyToPathList": {
          "target": "com.amazonaws.clouddirectory#PolicyToPathList",
          "traits": {
            "smithy.api#documentation": "<p>Provides list of path to policies. Policies contain <code>PolicyId</code>, <code>ObjectIdentifier</code>, and\n       <code>PolicyType</code>. For more\n       information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/key_concepts_directory.html#key_concepts_policies\">Policies</a>.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.clouddirectory#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>LookupPolicy</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchOperationIndex": {
      "type": "integer"
    },
    "com.amazonaws.clouddirectory#BatchRead": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.clouddirectory#BatchReadRequest"
      },
      "output": {
        "target": "com.amazonaws.clouddirectory#BatchReadResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.clouddirectory#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.clouddirectory#DirectoryNotEnabledException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InternalServiceException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InvalidArnException"
        },
        {
          "target": "com.amazonaws.clouddirectory#LimitExceededException"
        },
        {
          "target": "com.amazonaws.clouddirectory#RetryableConflictException"
        },
        {
          "target": "com.amazonaws.clouddirectory#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Performs all the read operations in a batch. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/amazonclouddirectory/2017-01-11/batchread",
          "code": 200
        }
      }
    },
    "com.amazonaws.clouddirectory#BatchReadException": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.clouddirectory#BatchReadExceptionType",
          "traits": {
            "smithy.api#documentation": "<p>A type of exception, such as <code>InvalidArnException</code>.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.clouddirectory#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>An exception message that is associated with the failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The batch read exception structure, which contains the exception type and\n      message.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchReadExceptionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ValidationException",
            "name": "ValidationException"
          },
          {
            "value": "InvalidArnException",
            "name": "InvalidArnException"
          },
          {
            "value": "ResourceNotFoundException",
            "name": "ResourceNotFoundException"
          },
          {
            "value": "InvalidNextTokenException",
            "name": "InvalidNextTokenException"
          },
          {
            "value": "AccessDeniedException",
            "name": "AccessDeniedException"
          },
          {
            "value": "NotNodeException",
            "name": "NotNodeException"
          },
          {
            "value": "FacetValidationException",
            "name": "FacetValidationException"
          },
          {
            "value": "CannotListParentOfRootException",
            "name": "CannotListParentOfRootException"
          },
          {
            "value": "NotIndexException",
            "name": "NotIndexException"
          },
          {
            "value": "NotPolicyException",
            "name": "NotPolicyException"
          },
          {
            "value": "DirectoryNotEnabledException",
            "name": "DirectoryNotEnabledException"
          },
          {
            "value": "LimitExceededException",
            "name": "LimitExceededException"
          },
          {
            "value": "InternalServiceException",
            "name": "InternalServiceException"
          }
        ]
      }
    },
    "com.amazonaws.clouddirectory#BatchReadOperation": {
      "type": "structure",
      "members": {
        "ListObjectAttributes": {
          "target": "com.amazonaws.clouddirectory#BatchListObjectAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Lists all attributes that are associated with an object.</p>"
          }
        },
        "ListObjectChildren": {
          "target": "com.amazonaws.clouddirectory#BatchListObjectChildren",
          "traits": {
            "smithy.api#documentation": "<p>Returns a paginated list of child objects that are associated with a given\n      object.</p>"
          }
        },
        "ListAttachedIndices": {
          "target": "com.amazonaws.clouddirectory#BatchListAttachedIndices",
          "traits": {
            "smithy.api#documentation": "<p>Lists indices attached to an object.</p>"
          }
        },
        "ListObjectParentPaths": {
          "target": "com.amazonaws.clouddirectory#BatchListObjectParentPaths",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves all available parent paths for any object type such as node, leaf node,\n       policy node, and index node objects. For more information about objects, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/key_concepts_directorystructure.html\">Directory Structure</a>.</p>"
          }
        },
        "GetObjectInformation": {
          "target": "com.amazonaws.clouddirectory#BatchGetObjectInformation",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves metadata about an object.</p>"
          }
        },
        "GetObjectAttributes": {
          "target": "com.amazonaws.clouddirectory#BatchGetObjectAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves attributes within a facet that are associated with an object.</p>"
          }
        },
        "ListObjectParents": {
          "target": "com.amazonaws.clouddirectory#BatchListObjectParents",
          "traits": {
            "smithy.api#documentation": "<p>Lists parent objects that are associated with a given object in pagination\n      fashion.</p>"
          }
        },
        "ListObjectPolicies": {
          "target": "com.amazonaws.clouddirectory#BatchListObjectPolicies",
          "traits": {
            "smithy.api#documentation": "<p>Returns policies attached to an object in pagination fashion.</p>"
          }
        },
        "ListPolicyAttachments": {
          "target": "com.amazonaws.clouddirectory#BatchListPolicyAttachments",
          "traits": {
            "smithy.api#documentation": "<p>Returns all of the <code>ObjectIdentifiers</code> to which a given policy is attached.</p>"
          }
        },
        "LookupPolicy": {
          "target": "com.amazonaws.clouddirectory#BatchLookupPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Lists all policies from the root of the <a>Directory</a> to the object\n       specified. If there are no policies present, an empty list is returned. If policies are\n       present, and if some objects don't have the policies attached, it returns the <code>ObjectIdentifier</code>\n       for such objects. If policies are present, it returns <code>ObjectIdentifier</code>, <code>policyId</code>, and\n       <code>policyType</code>. Paths that don't lead to the root from the target object are ignored. For more\n       information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/key_concepts_directory.html#key_concepts_policies\">Policies</a>.</p>"
          }
        },
        "ListIndex": {
          "target": "com.amazonaws.clouddirectory#BatchListIndex",
          "traits": {
            "smithy.api#documentation": "<p>Lists objects attached to the specified index.</p>"
          }
        },
        "ListOutgoingTypedLinks": {
          "target": "com.amazonaws.clouddirectory#BatchListOutgoingTypedLinks",
          "traits": {
            "smithy.api#documentation": "<p>Returns a paginated list of all the outgoing <a>TypedLinkSpecifier</a>\n       information for an object. It also supports filtering by typed link facet and identity\n       attributes. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>"
          }
        },
        "ListIncomingTypedLinks": {
          "target": "com.amazonaws.clouddirectory#BatchListIncomingTypedLinks",
          "traits": {
            "smithy.api#documentation": "<p>Returns a paginated list of all the incoming <a>TypedLinkSpecifier</a>\n       information for an object. It also supports filtering by typed link facet and identity\n       attributes. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>"
          }
        },
        "GetLinkAttributes": {
          "target": "com.amazonaws.clouddirectory#BatchGetLinkAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves attributes that are associated with a typed link.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>BatchRead</code> operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchReadOperationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.clouddirectory#BatchReadOperation"
      }
    },
    "com.amazonaws.clouddirectory#BatchReadOperationResponse": {
      "type": "structure",
      "members": {
        "SuccessfulResponse": {
          "target": "com.amazonaws.clouddirectory#BatchReadSuccessfulResponse",
          "traits": {
            "smithy.api#documentation": "<p>Identifies which operation in a batch has succeeded.</p>"
          }
        },
        "ExceptionResponse": {
          "target": "com.amazonaws.clouddirectory#BatchReadException",
          "traits": {
            "smithy.api#documentation": "<p>Identifies which operation in a batch has failed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>BatchRead</code> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchReadOperationResponseList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.clouddirectory#BatchReadOperationResponse"
      }
    },
    "com.amazonaws.clouddirectory#BatchReadRequest": {
      "type": "structure",
      "members": {
        "DirectoryArn": {
          "target": "com.amazonaws.clouddirectory#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that is associated with the <a>Directory</a>.\n      For more information, see <a>arns</a>.</p>",
            "smithy.api#httpHeader": "x-amz-data-partition",
            "smithy.api#required": {}
          }
        },
        "Operations": {
          "target": "com.amazonaws.clouddirectory#BatchReadOperationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of operations that are part of the batch.</p>",
            "smithy.api#required": {}
          }
        },
        "ConsistencyLevel": {
          "target": "com.amazonaws.clouddirectory#ConsistencyLevel",
          "traits": {
            "smithy.api#documentation": "<p>Represents the manner and timing in which the successful write or update of an object\n      is reflected in a subsequent read operation of that same object.</p>",
            "smithy.api#httpHeader": "x-amz-consistency-level"
          }
        }
      }
    },
    "com.amazonaws.clouddirectory#BatchReadResponse": {
      "type": "structure",
      "members": {
        "Responses": {
          "target": "com.amazonaws.clouddirectory#BatchReadOperationResponseList",
          "traits": {
            "smithy.api#documentation": "<p>A list of all the responses for each batch read.</p>"
          }
        }
      }
    },
    "com.amazonaws.clouddirectory#BatchReadSuccessfulResponse": {
      "type": "structure",
      "members": {
        "ListObjectAttributes": {
          "target": "com.amazonaws.clouddirectory#BatchListObjectAttributesResponse",
          "traits": {
            "smithy.api#documentation": "<p>Lists all attributes that are associated with an object.</p>"
          }
        },
        "ListObjectChildren": {
          "target": "com.amazonaws.clouddirectory#BatchListObjectChildrenResponse",
          "traits": {
            "smithy.api#documentation": "<p>Returns a paginated list of child objects that are associated with a given\n      object.</p>"
          }
        },
        "GetObjectInformation": {
          "target": "com.amazonaws.clouddirectory#BatchGetObjectInformationResponse",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves metadata about an object.</p>"
          }
        },
        "GetObjectAttributes": {
          "target": "com.amazonaws.clouddirectory#BatchGetObjectAttributesResponse",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves attributes within a facet that are associated with an object.</p>"
          }
        },
        "ListAttachedIndices": {
          "target": "com.amazonaws.clouddirectory#BatchListAttachedIndicesResponse",
          "traits": {
            "smithy.api#documentation": "<p>Lists indices attached to an object.</p>"
          }
        },
        "ListObjectParentPaths": {
          "target": "com.amazonaws.clouddirectory#BatchListObjectParentPathsResponse",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves all available parent paths for any object type such as node, leaf node,\n       policy node, and index node objects. For more information about objects, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/key_concepts_directorystructure.html\">Directory Structure</a>.</p>"
          }
        },
        "ListObjectPolicies": {
          "target": "com.amazonaws.clouddirectory#BatchListObjectPoliciesResponse",
          "traits": {
            "smithy.api#documentation": "<p>Returns policies attached to an object in pagination fashion.</p>"
          }
        },
        "ListPolicyAttachments": {
          "target": "com.amazonaws.clouddirectory#BatchListPolicyAttachmentsResponse",
          "traits": {
            "smithy.api#documentation": "<p>Returns all of the <code>ObjectIdentifiers</code> to which a given policy is attached.</p>"
          }
        },
        "LookupPolicy": {
          "target": "com.amazonaws.clouddirectory#BatchLookupPolicyResponse",
          "traits": {
            "smithy.api#documentation": "<p>Lists all policies from the root of the <a>Directory</a> to the object\n       specified. If there are no policies present, an empty list is returned. If policies are\n       present, and if some objects don't have the policies attached, it returns the <code>ObjectIdentifier</code>\n       for such objects. If policies are present, it returns <code>ObjectIdentifier</code>, <code>policyId</code>, and\n       <code>policyType</code>. Paths that don't lead to the root from the target object are ignored. For more\n       information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/key_concepts_directory.html#key_concepts_policies\">Policies</a>.</p>"
          }
        },
        "ListIndex": {
          "target": "com.amazonaws.clouddirectory#BatchListIndexResponse",
          "traits": {
            "smithy.api#documentation": "<p>Lists objects attached to the specified index.</p>"
          }
        },
        "ListOutgoingTypedLinks": {
          "target": "com.amazonaws.clouddirectory#BatchListOutgoingTypedLinksResponse",
          "traits": {
            "smithy.api#documentation": "<p>Returns a paginated list of all the outgoing <a>TypedLinkSpecifier</a>\n       information for an object. It also supports filtering by typed link facet and identity\n       attributes. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>"
          }
        },
        "ListIncomingTypedLinks": {
          "target": "com.amazonaws.clouddirectory#BatchListIncomingTypedLinksResponse",
          "traits": {
            "smithy.api#documentation": "<p>Returns a paginated list of all the incoming <a>TypedLinkSpecifier</a>\n       information for an object. It also supports filtering by typed link facet and identity\n       attributes. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>"
          }
        },
        "GetLinkAttributes": {
          "target": "com.amazonaws.clouddirectory#BatchGetLinkAttributesResponse",
          "traits": {
            "smithy.api#documentation": "<p>The list of attributes to retrieve from the typed link.</p>"
          }
        },
        "ListObjectParents": {
          "target": "com.amazonaws.clouddirectory#BatchListObjectParentsResponse",
          "traits": {
            "smithy.api#documentation": "<p>The list of parent objects to retrieve.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>BatchRead</code> success response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchReferenceName": {
      "type": "string"
    },
    "com.amazonaws.clouddirectory#BatchRemoveFacetFromObject": {
      "type": "structure",
      "members": {
        "SchemaFacet": {
          "target": "com.amazonaws.clouddirectory#SchemaFacet",
          "traits": {
            "smithy.api#documentation": "<p>The facet to remove from the object.</p>",
            "smithy.api#required": {}
          }
        },
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the object whose facet will be removed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A batch operation to remove a facet from an object.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchRemoveFacetFromObjectResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>An empty result that represents success.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchUpdateLinkAttributes": {
      "type": "structure",
      "members": {
        "TypedLinkSpecifier": {
          "target": "com.amazonaws.clouddirectory#TypedLinkSpecifier",
          "traits": {
            "smithy.api#documentation": "<p>Allows a typed link specifier to be accepted as input.</p>",
            "smithy.api#required": {}
          }
        },
        "AttributeUpdates": {
          "target": "com.amazonaws.clouddirectory#LinkAttributeUpdateList",
          "traits": {
            "smithy.api#documentation": "<p>The attributes update structure.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updates a given typed link’s attributes inside a <a>BatchRead</a> operation. Attributes to be updated must not contribute to the typed link’s identity, as defined by its <code>IdentityAttributeOrder</code>. For more information, see <a>UpdateLinkAttributes</a> and <a>BatchReadRequest$Operations</a>.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchUpdateLinkAttributesResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <a>UpdateLinkAttributes</a> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchUpdateObjectAttributes": {
      "type": "structure",
      "members": {
        "ObjectReference": {
          "target": "com.amazonaws.clouddirectory#ObjectReference",
          "traits": {
            "smithy.api#documentation": "<p>Reference that identifies the object.</p>",
            "smithy.api#required": {}
          }
        },
        "AttributeUpdates": {
          "target": "com.amazonaws.clouddirectory#ObjectAttributeUpdateList",
          "traits": {
            "smithy.api#documentation": "<p>Attributes update structure.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>BatchUpdate</code> operation. </p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchUpdateObjectAttributesResponse": {
      "type": "structure",
      "members": {
        "ObjectIdentifier": {
          "target": "com.amazonaws.clouddirectory#ObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>ID that is associated with the object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>BatchUpdate</code> response operation.</p>"
      }
    },
    "com.amazonaws.clouddirectory#BatchWrite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.clouddirectory#BatchWriteRequest"
      },
      "output": {
        "target": "com.amazonaws.clouddirectory#BatchWriteResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.clouddirectory#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.clouddirectory#BatchWriteException"
        },
        {
          "target": "com.amazonaws.clouddirectory#DirectoryNotEnabledException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InternalServiceException"
        },
        {
          "target": "com.amazonaws.clouddirectory#InvalidArnException"
        },
        {
          "target": "com.amazonaws.clouddirectory#LimitExceededException"
        },
        {
          "target": "com.amazonaws.clouddirectory#RetryableConflictException"
        },
        {
[...]
