{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.cloudfront#AccessDenied": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access denied.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.cloudfront#ActiveTrustedSigners": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.cloudfront#boolean",
          "traits": {
            "smithy.api#documentation": "<p>Enabled is <code>true</code> if any of the AWS accounts listed in the \n\t\t\t<code>TrustedSigners</code> complex type for this distribution have active CloudFront key \n\t\t\tpairs. If not, <code>Enabled</code> is <code>false</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Items": {
          "target": "com.amazonaws.cloudfront#SignerList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains one <code>Signer</code> complex type for each trusted \n\t\t\tsigner that is specified in the <code>TrustedSigners</code> complex type.</p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of trusted signers specified in the <code>TrustedSigners</code> complex type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that lists the AWS accounts, if any, that you included in the \n\t\t\t\t<code>TrustedSigners</code> complex type for this distribution. These are the accounts that \n\t\t\tyou want to allow to create signed URLs for private content.</p> \n\t\t       <p>The <code>Signer</code> complex type lists the AWS account number of the trusted \n\t\t\tsigner or <code>self</code> if the signer is the AWS account that created the distribution. \n\t\t\tThe <code>Signer</code> element also includes the IDs of any active CloudFront key pairs that are \n\t\t\tassociated with the trusted signer's AWS account. If no <code>KeyPairId</code> element \n\t\t\tappears for a <code>Signer</code>, that signer can't create signed URLs. </p> \n\t\t       <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">Serving Private \n\t\t\t\tContent through CloudFront</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudfront#AliasICPRecordal": {
      "type": "structure",
      "members": {
        "CNAME": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>A domain name associated with a distribution. </p>"
          }
        },
        "ICPRecordalStatus": {
          "target": "com.amazonaws.cloudfront#ICPRecordalStatus",
          "traits": {
            "smithy.api#documentation": "<p>The Internet Content Provider (ICP) recordal status for a CNAME. The ICPRecordalStatus is set to \n\t\t\tAPPROVED for all CNAMEs (aliases) in regions outside of China. </p>\n\t\t       <p>The status values returned are the following:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <b>APPROVED</b> indicates that the associated CNAME has a valid ICP recordal number.\n\t\t\tMultiple CNAMEs can be associated with a distribution, and CNAMEs can correspond to different ICP recordals. To be marked as\n\t\t\tAPPROVED, that is, valid to use with China region, a CNAME must have one ICP recordal number associated with it.</p>\n            </li>\n            <li>\n               <p>\n                  <b>SUSPENDED</b> indicates that the associated CNAME does not have a valid ICP recordal \n\t\t\t\tnumber.</p>\n            </li>\n            <li>\n               <p>\n                  <b>PENDING</b> indicates that CloudFront can't determine the ICP recordal status of the \n\t\t\t\tCNAME associated with the distribution because there was an error in trying to determine the status. You can try again\n\t\t\t\tto see if the error is resolved in which case CloudFront returns an APPROVED or SUSPENDED status.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AWS services in China customers must file for an Internet Content Provider (ICP) recordal if they want to serve content \n\t\t\tpublicly on an alternate domain name, also known as a CNAME, that they've added to CloudFront. AliasICPRecordal provides the ICP \n\t\t\trecordal status for CNAMEs associated with distributions. The status is returned in the CloudFront response; you can't configure\n\t\t\tit yourself.</p>\n\t\t       <p>For more information about ICP recordals, see  <a href=\"https://docs.amazonaws.cn/en_us/aws/latest/userguide/accounts-and-credentials.html\">\n\t\t\tSignup, Accounts, and Credentials</a> in <i>Getting Started with AWS services in China</i>.</p>"
      }
    },
    "com.amazonaws.cloudfront#AliasICPRecordals": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#AliasICPRecordal",
        "traits": {
          "smithy.api#xmlName": "AliasICPRecordal"
        }
      }
    },
    "com.amazonaws.cloudfront#AliasList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#string",
        "traits": {
          "smithy.api#xmlName": "CNAME"
        }
      }
    },
    "com.amazonaws.cloudfront#Aliases": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.cloudfront#AliasList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains the CNAME aliases, if any, that you want to associate with \n\t\t\tthis distribution.</p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of CNAME aliases, if any, that you want to associate with this \n\t\t\tdistribution.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about CNAMEs (alternate domain names), if any, \n\t\t\tfor this distribution. </p>"
      }
    },
    "com.amazonaws.cloudfront#AllowedMethods": {
      "type": "structure",
      "members": {
        "CachedMethods": {
          "target": "com.amazonaws.cloudfront#CachedMethods"
        },
        "Items": {
          "target": "com.amazonaws.cloudfront#MethodsList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains the HTTP methods that you want CloudFront to process and forward \n\t\t\tto your origin.</p>",
            "smithy.api#required": {}
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of HTTP methods that you want CloudFront to forward to your origin. Valid values \n\t\t\tare 2 (for <code>GET</code> and <code>HEAD</code> requests), 3 (for <code>GET</code>, \n\t\t\t\t<code>HEAD</code>, and <code>OPTIONS</code> requests) and 7 (for <code>GET, HEAD, OPTIONS, \n\t\t\t\tPUT, PATCH, POST</code>, and <code>DELETE</code> requests).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that controls which HTTP methods CloudFront processes and forwards to your \n\t\t\tAmazon S3 bucket or your custom origin. There are three choices:</p> \n\t\t       <ul>\n            <li> \n\t\t\t\t           <p>CloudFront forwards only <code>GET</code> and <code>HEAD</code> requests.</p> \n\t\t\t         </li>\n            <li> \n\t\t\t\t           <p>CloudFront forwards only <code>GET</code>, <code>HEAD</code>, and <code>OPTIONS</code> \n\t\t\t\t\trequests.</p> \n\t\t\t         </li>\n            <li> \n\t\t\t\t           <p>CloudFront forwards <code>GET, HEAD, OPTIONS, PUT, PATCH, POST</code>, and \n\t\t\t\t\t\t<code>DELETE</code> requests.</p> \n\t\t\t         </li>\n         </ul> \n\t\t       <p>If you pick the third choice, you may need to restrict access to your Amazon S3 bucket or \n\t\t\tto your custom origin so users can't perform operations that you don't want them to. For \n\t\t\texample, you might not want users to have permissions to delete objects from your \n\t\t\torigin.</p>"
      }
    },
    "com.amazonaws.cloudfront#AwsAccountNumberList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#string",
        "traits": {
          "smithy.api#xmlName": "AwsAccountNumber"
        }
      }
    },
    "com.amazonaws.cloudfront#BatchTooLarge": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Invalidation batch specified is too large.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 413
      }
    },
    "com.amazonaws.cloudfront#CNAMEAlreadyExists": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The CNAME specified is already defined for CloudFront.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.cloudfront#CacheBehavior": {
      "type": "structure",
      "members": {
        "AllowedMethods": {
          "target": "com.amazonaws.cloudfront#AllowedMethods"
        },
        "Compress": {
          "target": "com.amazonaws.cloudfront#boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether you want CloudFront to automatically compress certain files for this cache behavior. \n\t\t\tIf so, specify true; if not, specify false. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/ServingCompressedFiles.html\">Serving Compressed Files</a> in the \n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>"
          }
        },
        "DefaultTTL": {
          "target": "com.amazonaws.cloudfront#long",
          "traits": {
            "smithy.api#documentation": "<p>The default amount of time that you want objects to stay in CloudFront caches before CloudFront \n\t\t\tforwards another request to your origin to determine whether the object has been updated. The \n\t\t\tvalue that you specify applies only when your origin does not add HTTP headers such as \n\t\t\t\t<code>Cache-Control max-age</code>, <code>Cache-Control s-maxage</code>, and \n\t\t\t\t<code>Expires</code> to objects. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing How Long Content Stays \n\t\t\t\tin an Edge Cache (Expiration)</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
          }
        },
        "FieldLevelEncryptionId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The value of <code>ID</code> for the field-level encryption configuration that you \n\t\t\twant CloudFront to use for encrypting specific fields of data for a cache behavior or for the\n\t\t\tdefault cache behavior in your distribution.</p>"
          }
        },
        "ForwardedValues": {
          "target": "com.amazonaws.cloudfront#ForwardedValues",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that specifies how CloudFront handles query strings, cookies, and HTTP headers.</p>",
            "smithy.api#required": {}
          }
        },
        "LambdaFunctionAssociations": {
          "target": "com.amazonaws.cloudfront#LambdaFunctionAssociations",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains zero or more Lambda function associations for a cache \n\t\t\tbehavior.</p>"
          }
        },
        "MaxTTL": {
          "target": "com.amazonaws.cloudfront#long",
          "traits": {
            "smithy.api#documentation": "<p>The maximum amount of time that you want objects to stay in CloudFront caches before CloudFront \n\t\t\tforwards another request to your origin to determine whether the object has been updated. The \n\t\t\tvalue that you specify applies only when your origin adds HTTP headers such as \n\t\t\t\t<code>Cache-Control max-age</code>, <code>Cache-Control s-maxage</code>, and \n\t\t\t\t<code>Expires</code> to objects. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing How Long Content Stays \n\t\t\t\tin an Edge Cache (Expiration)</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
          }
        },
        "MinTTL": {
          "target": "com.amazonaws.cloudfront#long",
          "traits": {
            "smithy.api#documentation": "<p>The minimum amount of time that you want objects to stay in CloudFront caches before CloudFront \n\t\t\tforwards another request to your origin to determine whether the object has been updated. For \n\t\t\tmore information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">\n\t\t\t\tManaging How Long Content Stays in an Edge Cache (Expiration)</a> in the <i>\n\t\t\t\tAmazon CloudFront Developer Guide</i>.</p> \n\t\t       <p>You must specify <code>0</code> for <code>MinTTL</code> if you configure CloudFront to \n\t\t\tforward all headers to your origin (under <code>Headers</code>, if you specify <code>1</code> \n\t\t\tfor <code>Quantity</code> and <code>*</code> for <code>Name</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "PathPattern": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The pattern (for example, <code>images/*.jpg</code>) that specifies which requests to \n\t\t\tapply the behavior to. When CloudFront receives a viewer request, the requested path is compared \n\t\t\twith path patterns in the order in which cache behaviors are listed in the \n\t\t\tdistribution.</p> \n\t\t       <note> \n\t\t\t         <p>You can optionally include a slash (<code>/</code>) at the beginning of the path \n\t\t\t\tpattern. For example, <code>/images/*.jpg</code>. CloudFront behavior is the same with or without \n\t\t\t\tthe leading <code>/</code>.</p> \n\t\t       </note> \n\t\t       <p>The path pattern for the default cache behavior is <code>*</code> and cannot be \n\t\t\tchanged. If the request for an object does not match the path pattern for any cache behaviors, \n\t\t\tCloudFront applies the behavior in the default cache behavior.</p> \n\t\t       <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-web-values-specify.html#DownloadDistValuesPathPattern\">Path \n\t\t\t\tPattern</a> in the <i> Amazon CloudFront Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "SmoothStreaming": {
          "target": "com.amazonaws.cloudfront#boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether you want to distribute media files in the Microsoft Smooth Streaming \n\t\t\tformat using the origin that is associated with this cache behavior. If so, specify \n\t\t\t\t<code>true</code>; if not, specify <code>false</code>. If you specify <code>true</code> for \n\t\t\t\t<code>SmoothStreaming</code>, you can still distribute other content using this cache \n\t\t\tbehavior if the content matches the value of <code>PathPattern</code>. </p>"
          }
        },
        "TargetOriginId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The value of <code>ID</code> for the origin that you want CloudFront to route requests to \n\t\t\twhen a request matches the path pattern either for a cache behavior or for the default cache \n\t\t\tbehavior in your distribution.</p>",
            "smithy.api#required": {}
          }
        },
        "TrustedSigners": {
          "target": "com.amazonaws.cloudfront#TrustedSigners",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that specifies the AWS accounts, if any, that you want to allow to \n\t\t\tcreate signed URLs for private content.</p> \n\t\t       <p>If you want to require signed URLs in requests for objects in the target origin that \n\t\t\tmatch the <code>PathPattern</code> for this cache behavior, specify <code>true</code> for \n\t\t\t\t<code>Enabled</code>, and specify the applicable values for <code>Quantity</code> and \n\t\t\t\t<code>Items</code>. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">Serving Private Content through CloudFront</a> in the <i>Amazon CloudFront Developer Guide</i>.\n\t\t</p> \n\t\t       <p>If you don't want to require signed URLs in requests for objects that match \n\t\t\t\t<code>PathPattern</code>, specify <code>false</code> for <code>Enabled</code> and \n\t\t\t\t<code>0</code> for <code>Quantity</code>. Omit <code>Items</code>.</p> \n\t\t       <p>To add, change, or remove one or more trusted signers, change <code>Enabled</code> to \n\t\t\t\t<code>true</code> (if it's currently <code>false</code>), change <code>Quantity</code> as \n\t\t\tapplicable, and specify all of the trusted signers that you want to include in the updated \n\t\t\tdistribution.</p>",
            "smithy.api#required": {}
          }
        },
        "ViewerProtocolPolicy": {
          "target": "com.amazonaws.cloudfront#ViewerProtocolPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The protocol that viewers can use to access the files in the origin specified by \n\t\t\t\t<code>TargetOriginId</code> when a request matches the path pattern in \n\t\t\t\t<code>PathPattern</code>. You can specify the following options:</p> \n\t\t       <ul>\n            <li> \n\t\t\t\t           <p>\n                  <code>allow-all</code>: Viewers can use HTTP or HTTPS.</p> \n\t\t\t         </li>\n            <li> \n\t\t\t\t           <p>\n                  <code>redirect-to-https</code>: If a viewer submits an HTTP request, CloudFront returns \n\t\t\t\t\tan HTTP status code of 301 (Moved Permanently) to the viewer along with the HTTPS URL. The \n\t\t\t\t\tviewer then resubmits the request using the new URL. </p> \n\t\t\t         </li>\n            <li> \n\t\t\t\t           <p>\n                  <code>https-only</code>: If a viewer sends an HTTP request, CloudFront returns an HTTP \n\t\t\t\t\tstatus code of 403 (Forbidden). </p> \n\t\t\t         </li>\n         </ul> \n\t\t       <p>For more information about requiring the HTTPS protocol, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/SecureConnections.html\">Using an HTTPS Connection to Access Your \n\t\t\t\tObjects</a> in the <i>Amazon CloudFront Developer Guide</i>.</p> \n\t\t       <note> \n\t\t\t         <p>The only way to guarantee that viewers retrieve an object that was fetched from the \n\t\t\t\torigin using HTTPS is never to use any other protocol to fetch the object. If you have \n\t\t\t\trecently changed from HTTP to HTTPS, we recommend that you clear your objects' cache because \n\t\t\t\tcached objects are protocol agnostic. That means that an edge location will return an object \n\t\t\t\tfrom the cache regardless of whether the current request protocol matches the protocol used \n\t\t\t\tpreviously. For more information, see \n\t\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing How Long Content Stays \n\t\t\t\tin an Edge Cache (Expiration)</a> in the \n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p> \n\t\t       </note>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that describes how CloudFront processes requests.</p> \n\t\t       <p>You must create at least as many cache behaviors (including the default cache behavior) \n\t\t\tas you have origins if you want CloudFront to distribute objects from all of the origins. Each cache \n\t\t\tbehavior specifies the one origin from which you want CloudFront to get objects. If you have two \n\t\t\torigins and only the default cache behavior, the default cache behavior will cause CloudFront to get \n\t\t\tobjects from one of the origins, but the other origin is never used.</p> \n\t\t       <p>For the current limit on the number of cache behaviors that you can add to a \n\t\t\tdistribution, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_cloudfront\">Amazon CloudFront \n\t\t\t\tLimits</a> in the <i>AWS General Reference</i>.</p> \n\t\t       <p>If you don't want to specify any cache behaviors, include only an empty \n\t\t\t\t<code>CacheBehaviors</code> element. Don't include an empty <code>CacheBehavior</code> \n\t\t\telement, or CloudFront returns a <code>MalformedXML</code> error.</p> \n\t\t       <p>To delete all cache behaviors in an existing distribution, update the distribution \n\t\t\tconfiguration and include only an empty <code>CacheBehaviors</code> element.</p> \n\t\t       <p>To add, change, or remove one or more cache behaviors, update the distribution \n\t\t\tconfiguration and specify all of the cache behaviors that you want to include in the updated \n\t\t\tdistribution.</p> \n\t\t       <p>For more information about cache behaviors, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-web-values-specify.html#DownloadDistValuesCacheBehavior\">Cache \n\t\t\t\tBehaviors</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudfront#CacheBehaviorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#CacheBehavior",
        "traits": {
          "smithy.api#xmlName": "CacheBehavior"
        }
      }
    },
    "com.amazonaws.cloudfront#CacheBehaviors": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.cloudfront#CacheBehaviorList",
          "traits": {
            "smithy.api#documentation": "<p>Optional: A complex type that contains cache behaviors for this distribution. If \n\t\t\t\t<code>Quantity</code> is <code>0</code>, you can omit <code>Items</code>.</p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of cache behaviors for this distribution. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains zero or more <code>CacheBehavior</code> elements. \n\t\t</p>"
      }
    },
    "com.amazonaws.cloudfront#CachedMethods": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.cloudfront#MethodsList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains the HTTP methods that you want CloudFront to cache responses \n\t\t\tto.</p>",
            "smithy.api#required": {}
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of HTTP methods for which you want CloudFront to cache responses. Valid values are \n\t\t\t\t<code>2</code> (for caching responses to <code>GET</code> and <code>HEAD</code> requests) \n\t\t\tand <code>3</code> (for caching responses to <code>GET</code>, <code>HEAD</code>, and \n\t\t\t\t<code>OPTIONS</code> requests).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that controls whether CloudFront caches the response to requests using the \n\t\t\tspecified HTTP methods. There are two choices:</p> \n\t\t       <ul>\n            <li> \n\t\t\t\t           <p>CloudFront caches responses to <code>GET</code> and <code>HEAD</code> requests.</p> \n\t\t\t         </li>\n            <li> \n\t\t\t\t           <p>CloudFront caches responses to <code>GET</code>, <code>HEAD</code>, and \n\t\t\t\t\t\t<code>OPTIONS</code> requests.</p> \n\t\t\t         </li>\n         </ul> \n\t\t       <p>If you pick the second choice for your Amazon S3 Origin, you may need to forward \n\t\t\tAccess-Control-Request-Method, Access-Control-Request-Headers, and Origin headers for the \n\t\t\tresponses to be cached correctly. </p>"
      }
    },
    "com.amazonaws.cloudfront#CannotChangeImmutablePublicKeyFields": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't change the value of a public key.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudfront#CertificateSource": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "cloudfront"
          },
          {
            "value": "iam"
          },
          {
            "value": "acm"
          }
        ]
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentity": {
      "type": "structure",
      "members": {
        "CloudFrontOriginAccessIdentityConfig": {
          "target": "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityConfig",
          "traits": {
            "smithy.api#documentation": "<p>The current configuration information for the identity. </p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the origin access identity, for example, <code>E74FTE3AJFJ256A</code>. \n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "S3CanonicalUserId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 canonical user ID for the origin access identity, used when giving the origin \n\t\t\taccess identity read permission to an object in Amazon S3. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CloudFront origin access identity.</p>"
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityAlreadyExists": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>If the <code>CallerReference</code> is a value you already sent in a previous request to create an identity but the content \n\t\t\tof the <code>CloudFrontOriginAccessIdentityConfig</code> is different from the original request, CloudFront returns a \n\t\t\t<code>CloudFrontOriginAccessIdentityAlreadyExists</code> error. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityConfig": {
      "type": "structure",
      "members": {
        "CallerReference": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique value (for example, a date-time stamp) that ensures that the request can't be replayed.</p> \n\t\t       <p>If the value of <code>CallerReference</code> is new (regardless of the content of the \n\t\t\t<code>CloudFrontOriginAccessIdentityConfig</code> object), a new origin access identity is \n\t\t\tcreated.</p> \n\t\t       <p>If the <code>CallerReference</code> is a value already sent in a previous identity \n\t\t\trequest, and the content of the <code>CloudFrontOriginAccessIdentityConfig</code> is identical \n\t\t\tto the original request (ignoring white space), the response includes the same information \n\t\t\treturned to the original request. </p> \n\t\t       <p>If the <code>CallerReference</code> is a value you already sent in a previous request \n\t\t\tto create an identity, but the content of the \n\t\t\t<code>CloudFrontOriginAccessIdentityConfig</code> is different from the original request, \n\t\t\tCloudFront returns a <code>CloudFrontOriginAccessIdentityAlreadyExists</code> error. </p>",
            "smithy.api#required": {}
          }
        },
        "Comment": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>Any comments you want to include about the origin access identity. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Origin access identity configuration. Send a <code>GET</code> request to the \n\t\t\t\t\t<code>/<i>CloudFront API version</i>/CloudFront/identity ID/config</code> resource. \n\t\t</p>"
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityInUse": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Origin Access Identity specified is already in use.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityList": {
      "type": "structure",
      "members": {
        "IsTruncated": {
          "target": "com.amazonaws.cloudfront#boolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag that indicates whether more origin access identities remain to be listed. If \n\t\t\tyour results were truncated, you can make a follow-up pagination request using the \n\t\t\t\t<code>Marker</code> request parameter to retrieve more items in the list.</p>",
            "smithy.api#required": {}
          }
        },
        "Items": {
          "target": "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentitySummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains one <code>CloudFrontOriginAccessIdentitySummary</code> \n\t\t\telement for each origin access identity that was created by the current AWS \n\t\t\taccount.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>Use this when paginating results to indicate where to begin in your list of origin \n\t\t\taccess identities. The results include identities in the list that occur after the marker. To \n\t\t\tget the next page of results, set the <code>Marker</code> to the value of the \n\t\t\t\t<code>NextMarker</code> from the current page's response (which is also the ID of the last \n\t\t\tidentity on that page). </p>",
            "smithy.api#required": {}
          }
        },
        "MaxItems": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of origin access identities you want in the response body. \n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>If <code>IsTruncated</code> is <code>true</code>, this element is present and contains \n\t\t\tthe value you can use for the <code>Marker</code> request parameter to continue listing your \n\t\t\torigin access identities where they left off. </p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of CloudFront origin access identities that were created by the current AWS \n\t\t\taccount. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists the origin access identities for CloudFront.Send a <code>GET</code> request to the \n\t\t\t\t\t<code>/<i>CloudFront API version</i>/origin-access-identity/cloudfront</code> \n\t\t\tresource. The response includes a <code>CloudFrontOriginAccessIdentityList</code> element with \n\t\t\tzero or more <code>CloudFrontOriginAccessIdentitySummary</code> child elements. By default, \n\t\t\tyour entire list of origin access identities is returned in one single page. If the list is \n\t\t\tlong, you can paginate it using the <code>MaxItems</code> and <code>Marker</code> \n\t\t\tparameters.</p>"
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentitySummary": {
      "type": "structure",
      "members": {
        "Comment": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The comment for this origin access identity, as originally specified when \n\t\t\tcreated.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the origin access identity. For example: \n\t\t\t<code>E74FTE3AJFJ256A</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "S3CanonicalUserId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 canonical user ID for the origin access identity, which you use when giving \n\t\t\tthe origin access identity read permission to an object in Amazon S3.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the information about a CloudFront origin access identity.</p>"
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentitySummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentitySummary",
        "traits": {
          "smithy.api#xmlName": "CloudFrontOriginAccessIdentitySummary"
        }
      }
    },
    "com.amazonaws.cloudfront#Cloudfront2019_03_26": {
      "type": "service",
      "version": "2019-03-26",
      "operations": [
        {
          "target": "com.amazonaws.cloudfront#CreateCloudFrontOriginAccessIdentity"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateDistributionWithTags"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateFieldLevelEncryptionProfile"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateInvalidation"
        },
        {
          "target": "com.amazonaws.cloudfront#CreatePublicKey"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateStreamingDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateStreamingDistributionWithTags"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteCloudFrontOriginAccessIdentity"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteFieldLevelEncryptionProfile"
        },
        {
          "target": "com.amazonaws.cloudfront#DeletePublicKey"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteStreamingDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#GetCloudFrontOriginAccessIdentity"
        },
        {
          "target": "com.amazonaws.cloudfront#GetCloudFrontOriginAccessIdentityConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#GetDistributionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetFieldLevelEncryption"
        },
        {
          "target": "com.amazonaws.cloudfront#GetFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetFieldLevelEncryptionProfile"
        },
        {
          "target": "com.amazonaws.cloudfront#GetFieldLevelEncryptionProfileConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetInvalidation"
        },
        {
          "target": "com.amazonaws.cloudfront#GetPublicKey"
        },
        {
          "target": "com.amazonaws.cloudfront#GetPublicKeyConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetStreamingDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#GetStreamingDistributionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#ListCloudFrontOriginAccessIdentities"
        },
        {
          "target": "com.amazonaws.cloudfront#ListDistributions"
        },
        {
          "target": "com.amazonaws.cloudfront#ListDistributionsByWebACLId"
        },
        {
          "target": "com.amazonaws.cloudfront#ListFieldLevelEncryptionConfigs"
        },
        {
          "target": "com.amazonaws.cloudfront#ListFieldLevelEncryptionProfiles"
        },
        {
          "target": "com.amazonaws.cloudfront#ListInvalidations"
        },
        {
          "target": "com.amazonaws.cloudfront#ListPublicKeys"
        },
        {
          "target": "com.amazonaws.cloudfront#ListStreamingDistributions"
        },
        {
          "target": "com.amazonaws.cloudfront#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.cloudfront#TagResource"
        },
        {
          "target": "com.amazonaws.cloudfront#UntagResource"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateCloudFrontOriginAccessIdentity"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateFieldLevelEncryptionProfile"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdatePublicKey"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateStreamingDistribution"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CloudFront",
          "arnNamespace": "cloudfront",
          "cloudFormationName": "CloudFront",
          "cloudTrailEventSource": "_2019_03_26.edge.amazon.com"
        },
        "aws.auth#sigv4": {
          "name": "cloudfront"
        },
        "aws.protocols#restXml": {},
        "smithy.api#documentation": "<fullname>Amazon CloudFront</fullname>\n\t\t       <p>This is the <i>Amazon CloudFront API Reference</i>. This guide is for developers who need detailed information about \n\t\t\tCloudFront API actions, data types, and errors. For detailed information about CloudFront features, see the <i>Amazon CloudFront Developer Guide</i>.</p>",
        "smithy.api#title": "Amazon CloudFront",
        "smithy.api#xmlNamespace": {
          "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
        }
      }
    },
    "com.amazonaws.cloudfront#CommentType": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.cloudfront#ContentTypeProfile": {
      "type": "structure",
      "members": {
        "ContentType": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The content type for a field-level encryption content type-profile mapping. </p>",
            "smithy.api#required": {}
          }
        },
        "Format": {
          "target": "com.amazonaws.cloudfront#Format",
          "traits": {
            "smithy.api#documentation": "<p>The format for a field-level encryption content type-profile mapping. </p>",
            "smithy.api#required": {}
          }
        },
        "ProfileId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The profile ID for a field-level encryption content type-profile mapping. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A field-level encryption content type profile. </p>"
      }
    },
    "com.amazonaws.cloudfront#ContentTypeProfileConfig": {
      "type": "structure",
      "members": {
        "ContentTypeProfiles": {
          "target": "com.amazonaws.cloudfront#ContentTypeProfiles",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for a field-level encryption content type-profile. </p>"
          }
        },
        "ForwardWhenContentTypeIsUnknown": {
          "target": "com.amazonaws.cloudfront#boolean",
          "traits": {
            "smithy.api#documentation": "<p>The setting in a field-level encryption content type-profile mapping that specifies what to do\n\t\t\twhen an unknown content type is provided for the profile. If true, content is\n\t\t\tforwarded without being encrypted when the content type is unknown. If false (the\n\t\t\tdefault), an error is returned when the content type is unknown. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for a field-level encryption content type-profile mapping. </p>"
      }
    },
    "com.amazonaws.cloudfront#ContentTypeProfileList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#ContentTypeProfile",
        "traits": {
          "smithy.api#xmlName": "ContentTypeProfile"
        }
      }
    },
    "com.amazonaws.cloudfront#ContentTypeProfiles": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.cloudfront#ContentTypeProfileList",
          "traits": {
            "smithy.api#documentation": "<p>Items in a field-level encryption content type-profile mapping. </p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of field-level encryption content type-profile mappings. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Field-level encryption content type-profile. </p>"
      }
    },
    "com.amazonaws.cloudfront#CookieNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#string",
        "traits": {
          "smithy.api#xmlName": "Name"
        }
      }
    },
    "com.amazonaws.cloudfront#CookieNames": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.cloudfront#CookieNameList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains one <code>Name</code> element for each cookie that you \n\t\t\twant CloudFront to forward to the origin for this cache behavior.</p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of different cookies that you want CloudFront to forward to the origin for this \n\t\t\tcache behavior.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that specifies whether you want CloudFront to forward cookies to the origin \n\t\t\tand, if so, which ones. For more information about forwarding cookies to the origin, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/header-caching.html\">\n\t\t\tCaching Content Based on Request Headers</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudfront#CookiePreference": {
      "type": "structure",
      "members": {
        "Forward": {
          "target": "com.amazonaws.cloudfront#ItemSelection",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which cookies to forward to the origin for this cache behavior: all, none, or \n\t\t\tthe list of cookies specified in the <code>WhitelistedNames</code> complex type.</p> \n\t\t       <p>Amazon S3 doesn't process cookies. When the cache behavior is forwarding requests to an \n\t\t\tAmazon S3 origin, specify none for the <code>Forward</code> element. </p>",
            "smithy.api#required": {}
          }
        },
        "WhitelistedNames": {
          "target": "com.amazonaws.cloudfront#CookieNames",
          "traits": {
            "smithy.api#documentation": "<p>Required if you specify <code>whitelist</code> for the value of <code>Forward:</code>. \n\t\t\tA complex type that specifies how many different cookies you want CloudFront to forward to the \n\t\t\torigin for this cache behavior and, if you want to forward selected cookies, the names of \n\t\t\tthose cookies.</p> \n\t\t       <p>If you specify <code>all</code> or none for the value of <code>Forward</code>, omit \n\t\t\t\t<code>WhitelistedNames</code>. If you change the value of <code>Forward</code> from \n\t\t\t\t<code>whitelist</code> to all or none and you don't delete the <code>WhitelistedNames</code> \n\t\t\telement and its child elements, CloudFront deletes them automatically.</p> \n\t\t       <p>For the current limit on the number of cookie names that you can whitelist for each \n\t\t\tcache behavior, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/xrefaws_service_limits.html#limits_cloudfront\">\n\t\t\t\tCloudFront Limits</a> in the <i>AWS General Reference</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that specifies whether you want CloudFront to forward cookies to the origin \n\t\t\tand, if so, which ones. For more information about forwarding cookies to the origin, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Cookies.html\">Caching Content \n\t\t\t\tBased on Cookies</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudfront#CreateCloudFrontOriginAccessIdentity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudfront#CreateCloudFrontOriginAccessIdentityRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudfront#CreateCloudFrontOriginAccessIdentityResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#InconsistentQuantities"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidArgument"
        },
        {
          "target": "com.amazonaws.cloudfront#MissingBody"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyCloudFrontOriginAccessIdentities"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new origin access identity. If you're using Amazon S3 for your origin, you can \n\t\t\tuse an origin access identity to require users to access your content using a CloudFront URL instead \n\t\t\tof the Amazon S3 URL. For more information about how to use origin access identities, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">Serving Private Content through CloudFront</a> in the \n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2019-03-26/origin-access-identity/cloudfront",
          "code": 201
        }
      }
    },
    "com.amazonaws.cloudfront#CreateCloudFrontOriginAccessIdentityRequest": {
      "type": "structure",
      "members": {
        "CloudFrontOriginAccessIdentityConfig": {
          "target": "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityConfig",
          "traits": {
            "smithy.api#documentation": "<p>The current configuration information for the identity.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request to create a new origin access identity (OAI). An origin access identity is a \n\t\t\tspecial CloudFront user that you can associate with Amazon S3 origins, so that you can secure all or \n\t\t\tjust some of your Amazon S3 content. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/private-content-restricting-access-to-s3.html\">\n\t\t\tRestricting Access to Amazon S3 Content by Using an Origin Access Identity</a> in the \n\t\t\t<i>Amazon CloudFront Developer Guide</i>. </p>"
      }
    },
    "com.amazonaws.cloudfront#CreateCloudFrontOriginAccessIdentityResult": {
      "type": "structure",
      "members": {
        "CloudFrontOriginAccessIdentity": {
          "target": "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentity",
          "traits": {
            "smithy.api#documentation": "<p>The origin access identity's information.</p>",
            "smithy.api#httpPayload": {}
          }
        },
        "ETag": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the origin access identity created.</p>",
            "smithy.api#httpHeader": "ETag"
          }
        },
        "Location": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified URI of the new origin access identity just created. For example: \n\t\t\t\t<code>https://cloudfront.amazonaws.com/2010-11-01/origin-access-identity/cloudfront/E74FTE3AJFJ256A</code>.</p>",
            "smithy.api#httpHeader": "Location"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The returned result of the corresponding request.</p>"
      }
    },
    "com.amazonaws.cloudfront#CreateDistribution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudfront#CreateDistributionRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudfront#CreateDistributionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudfront#AccessDenied"
        },
        {
          "target": "com.amazonaws.cloudfront#CNAMEAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#DistributionAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#IllegalFieldLevelEncryptionConfigAssociationWithCacheBehavior"
        },
        {
          "target": "com.amazonaws.cloudfront#InconsistentQuantities"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidArgument"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidDefaultRootObject"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidErrorCode"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidForwardCookies"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidGeoRestrictionParameter"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidHeadersForS3Origin"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidLambdaFunctionAssociation"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidLocationCode"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidMinimumProtocolVersion"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOrigin"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOriginAccessIdentity"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOriginKeepaliveTimeout"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOriginReadTimeout"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidProtocolSettings"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidQueryStringParameters"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidRelativePath"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidRequiredProtocol"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidResponseCode"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidTTLOrder"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidViewerCertificate"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidWebACLId"
        },
        {
          "target": "com.amazonaws.cloudfront#MissingBody"
        },
        {
          "target": "com.amazonaws.cloudfront#NoSuchFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#NoSuchOrigin"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyCacheBehaviors"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyCertificates"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyCookieNamesInWhiteList"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionCNAMEs"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributions"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionsAssociatedToFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionsWithLambdaAssociations"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyHeadersInForwardedValues"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyLambdaFunctionAssociations"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyOriginCustomHeaders"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyOriginGroupsPerDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyOrigins"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyQueryStringParameters"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyTrustedSigners"
        },
        {
          "target": "com.amazonaws.cloudfront#TrustedSignerDoesNotExist"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new web distribution. You create a CloudFront distribution to tell CloudFront where you \n\t\t\twant content to be delivered from, and the details about how to track and manage content delivery. Send a <code>POST</code> request to the \n\t\t\t<code>/<i>CloudFront API version</i>/distribution</code>/<code>distribution ID</code> resource.</p>\n\t\t       <important>\n            <p>When you update a distribution, there are more required fields than when you create a distribution.\n\t\t\tWhen you update your distribution by using \n\t\t\t<a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a>,\n\t\t\tfollow the steps included\n\t\t\tin the documentation to get the current configuration\n\t\t\tand then make your updates. This helps to make sure that you include all of the required fields. To view a summary,\n\t\t\tsee <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-overview-required-fields.html\">Required \n\t\t\t\tFields for Create Distribution and Update Distribution</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>\n         </important>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2019-03-26/distribution",
          "code": 201
        }
      }
    },
    "com.amazonaws.cloudfront#CreateDistributionRequest": {
      "type": "structure",
      "members": {
        "DistributionConfig": {
          "target": "com.amazonaws.cloudfront#DistributionConfig",
          "traits": {
            "smithy.api#documentation": "<p>The distribution's configuration information.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request to create a new distribution.</p>"
      }
    },
    "com.amazonaws.cloudfront#CreateDistributionResult": {
      "type": "structure",
      "members": {
        "Distribution": {
          "target": "com.amazonaws.cloudfront#Distribution",
          "traits": {
            "smithy.api#documentation": "<p>The distribution's information.</p>",
            "smithy.api#httpPayload": {}
          }
        },
        "ETag": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the distribution created.</p>",
            "smithy.api#httpHeader": "ETag"
          }
        },
        "Location": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified URI of the new distribution resource just created. For example: \n\t\t\t\t<code>https://cloudfront.amazonaws.com/2010-11-01/distribution/EDFDVBD632BHDS5</code>.</p>",
            "smithy.api#httpHeader": "Location"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The returned result of the corresponding request.</p>"
      }
    },
    "com.amazonaws.cloudfront#CreateDistributionWithTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudfront#CreateDistributionWithTagsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudfront#CreateDistributionWithTagsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudfront#AccessDenied"
        },
        {
          "target": "com.amazonaws.cloudfront#CNAMEAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#DistributionAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#IllegalFieldLevelEncryptionConfigAssociationWithCacheBehavior"
        },
        {
          "target": "com.amazonaws.cloudfront#InconsistentQuantities"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidArgument"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidDefaultRootObject"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidErrorCode"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidForwardCookies"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidGeoRestrictionParameter"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidHeadersForS3Origin"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidLambdaFunctionAssociation"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidLocationCode"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidMinimumProtocolVersion"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOrigin"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOriginAccessIdentity"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOriginKeepaliveTimeout"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOriginReadTimeout"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidProtocolSettings"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidQueryStringParameters"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidRelativePath"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidRequiredProtocol"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidResponseCode"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidTagging"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidTTLOrder"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidViewerCertificate"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidWebACLId"
        },
        {
          "target": "com.amazonaws.cloudfront#MissingBody"
        },
        {
          "target": "com.amazonaws.cloudfront#NoSuchFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#NoSuchOrigin"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyCacheBehaviors"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyCertificates"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyCookieNamesInWhiteList"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionCNAMEs"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributions"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionsAssociatedToFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionsWithLambdaAssociations"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyHeadersInForwardedValues"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyLambdaFunctionAssociations"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyOriginCustomHeaders"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyOriginGroupsPerDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyOrigins"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyQueryStringParameters"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyTrustedSigners"
        },
        {
          "target": "com.amazonaws.cloudfront#TrustedSignerDoesNotExist"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new distribution with tags.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2019-03-26/distribution?WithTags",
          "code": 201
        }
      }
    },
    "com.amazonaws.cloudfront#CreateDistributionWithTagsRequest": {
      "type": "structure",
      "members": {
        "DistributionConfigWithTags": {
          "target": "com.amazonaws.cloudfront#DistributionConfigWithTags",
          "traits": {
            "smithy.api#documentation": "<p>The distribution's configuration information. </p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request to create a new distribution with tags. </p>"
      }
    },
    "com.amazonaws.cloudfront#CreateDistributionWithTagsResult": {
      "type": "structure",
      "members": {
        "Distribution": {
          "target": "com.amazonaws.cloudfront#Distribution",
          "traits": {
            "smithy.api#documentation": "<p>The distribution's information. </p>",
            "smithy.api#httpPayload": {}
          }
        },
        "ETag": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the distribution created.</p>",
            "smithy.api#httpHeader": "ETag"
          }
        },
        "Location": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified URI of the new distribution resource just created. For example: \n\t\t\t\t<code>https://cloudfront.amazonaws.com/2010-11-01/distribution/EDFDVBD632BHDS5</code>. \n\t\t</p>",
            "smithy.api#httpHeader": "Location"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The returned result of the corresponding request. </p>"
      }
    },
    "com.amazonaws.cloudfront#CreateFieldLevelEncryptionConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudfront#CreateFieldLevelEncryptionConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudfront#CreateFieldLevelEncryptionConfigResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudfront#FieldLevelEncryptionConfigAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#InconsistentQuantities"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidArgument"
        },
        {
          "target": "com.amazonaws.cloudfront#NoSuchFieldLevelEncryptionProfile"
        },
        {
          "target": "com.amazonaws.cloudfront#QueryArgProfileEmpty"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyFieldLevelEncryptionConfigs"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyFieldLevelEncryptionContentTypeProfiles"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyFieldLevelEncryptionQueryArgProfiles"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new field-level encryption configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2019-03-26/field-level-encryption",
          "code": 201
        }
      }
    },
    "com.amazonaws.cloudfront#CreateFieldLevelEncryptionConfigRequest": {
      "type": "structure",
      "members": {
        "FieldLevelEncryptionConfig": {
          "target": "com.amazonaws.cloudfront#FieldLevelEncryptionConfig",
          "traits": {
            "smithy.api#documentation": "<p>The request to create a new field-level encryption configuration.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudfront#CreateFieldLevelEncryptionConfigResult": {
      "type": "structure",
      "members": {
        "ETag": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the field level encryption configuration. For example: <code>E2QWRUHAPOMQZL</code>.</p>",
            "smithy.api#httpHeader": "ETag"
          }
        },
        "FieldLevelEncryption": {
          "target": "com.amazonaws.cloudfront#FieldLevelEncryption",
          "traits": {
            "smithy.api#documentation": "<p>Returned when you create a new field-level encryption configuration.</p>",
            "smithy.api#httpPayload": {}
          }
        },
        "Location": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified URI of the new configuration resource just created. For example: \n\t\t\t<code>https://cloudfront.amazonaws.com/2010-11-01/field-level-encryption-config/EDFDVBD632BHDS5</code>.</p>",
            "smithy.api#httpHeader": "Location"
          }
        }
      }
    },
    "com.amazonaws.cloudfront#CreateFieldLevelEncryptionProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudfront#CreateFieldLevelEncryptionProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudfront#CreateFieldLevelEncryptionProfileResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudfront#FieldLevelEncryptionProfileAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#FieldLevelEncryptionProfileSizeExceeded"
        },
        {
          "target": "com.amazonaws.cloudfront#InconsistentQuantities"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidArgument"
        },
        {
          "target": "com.amazonaws.cloudfront#NoSuchPublicKey"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyFieldLevelEncryptionEncryptionEntities"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyFieldLevelEncryptionFieldPatterns"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyFieldLevelEncryptionProfiles"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a field-level encryption profile.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2019-03-26/field-level-encryption-profile",
          "code": 201
        }
      }
    },
    "com.amazonaws.cloudfront#CreateFieldLevelEncryptionProfileRequest": {
      "type": "structure",
      "members": {
        "FieldLevelEncryptionProfileConfig": {
          "target": "com.amazonaws.cloudfront#FieldLevelEncryptionProfileConfig",
          "traits": {
            "smithy.api#documentation": "<p>The request to create a field-level encryption profile.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudfront#CreateFieldLevelEncryptionProfileResult": {
      "type": "structure",
      "members": {
        "ETag": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the field level encryption profile. For example: <code>E2QWRUHAPOMQZL</code>.</p>",
            "smithy.api#httpHeader": "ETag"
          }
        },
        "FieldLevelEncryptionProfile": {
          "target": "com.amazonaws.cloudfront#FieldLevelEncryptionProfile",
          "traits": {
            "smithy.api#documentation": "<p>Returned when you create a new field-level encryption profile.</p>",
            "smithy.api#httpPayload": {}
          }
        },
        "Location": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified URI of the new profile resource just created. For example: \n\t\t\t<code>https://cloudfront.amazonaws.com/2010-11-01/field-level-encryption-profile/EDFDVBD632BHDS5</code>.</p>",
            "smithy.api#httpHeader": "Location"
          }
        }
      }
    },
    "com.amazonaws.cloudfront#CreateInvalidation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudfront#CreateInvalidationRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudfront#CreateInvalidationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudfront#AccessDenied"
        },
        {
          "target": "com.amazonaws.cloudfront#BatchTooLarge"
        },
        {
          "target": "com.amazonaws.cloudfront#InconsistentQuantities"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidArgument"
        },
        {
          "target": "com.amazonaws.cloudfront#MissingBody"
        },
        {
          "target": "com.amazonaws.cloudfront#NoSuchDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyInvalidationsInProgress"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new invalidation. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2019-03-26/distribution/{DistributionId}/invalidation",
          "code": 201
        }
      }
    },
    "com.amazonaws.cloudfront#CreateInvalidationRequest": {
      "type": "structure",
      "members": {
        "DistributionId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The distribution's id.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "InvalidationBatch": {
          "target": "com.amazonaws.cloudfront#InvalidationBatch",
          "traits": {
            "smithy.api#documentation": "<p>The batch information for the invalidation.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request to create an invalidation.</p>"
      }
    },
    "com.amazonaws.cloudfront#CreateInvalidationResult": {
      "type": "structure",
      "members": {
        "Invalidation": {
          "target": "com.amazonaws.cloudfront#Invalidation",
          "traits": {
            "smithy.api#documentation": "<p>The invalidation's information.</p>",
            "smithy.api#httpPayload": {}
          }
        },
        "Location": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified URI of the distribution and invalidation batch request, including \n\t\t\tthe <code>Invalidation ID</code>.</p>",
            "smithy.api#httpHeader": "Location"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The returned result of the corresponding request.</p>"
      }
    },
    "com.amazonaws.cloudfront#CreatePublicKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudfront#CreatePublicKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudfront#CreatePublicKeyResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudfront#InvalidArgument"
        },
        {
          "target": "com.amazonaws.cloudfront#PublicKeyAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyPublicKeys"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Add a new public key to CloudFront to use, for example, for field-level encryption. You can add a maximum of 10 public keys with one AWS account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2019-03-26/public-key",
          "code": 201
        }
      }
    },
    "com.amazonaws.cloudfront#CreatePublicKeyRequest": {
      "type": "structure",
      "members": {
        "PublicKeyConfig": {
          "target": "com.amazonaws.cloudfront#PublicKeyConfig",
          "traits": {
            "smithy.api#documentation": "<p>The request to add a public key to CloudFront.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudfront#CreatePublicKeyResult": {
      "type": "structure",
      "members": {
        "ETag": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the public key. For example: <code>E2QWRUHAPOMQZL</code>.</p>",
            "smithy.api#httpHeader": "ETag"
          }
        },
        "Location": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified URI of the new public key resource just created. For example: \n\t\t\t<code>https://cloudfront.amazonaws.com/2010-11-01/cloudfront-public-key/EDFDVBD632BHDS5</code>.</p>",
            "smithy.api#httpHeader": "Location"
          }
        },
        "PublicKey": {
          "target": "com.amazonaws.cloudfront#PublicKey",
          "traits": {
            "smithy.api#documentation": "<p>Returned when you add a public key.</p>",
            "smithy.api#httpPayload": {}
          }
        }
      }
    },
    "com.amazonaws.cloudfront#CreateStreamingDistribution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudfront#CreateStreamingDistributionRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudfront#CreateStreamingDistributionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudfront#AccessDenied"
        },
        {
          "target": "com.amazonaws.cloudfront#CNAMEAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#InconsistentQuantities"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidArgument"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOrigin"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOriginAccessIdentity"
        },
        {
          "target": "com.amazonaws.cloudfront#MissingBody"
        },
        {
          "target": "com.amazonaws.cloudfront#StreamingDistributionAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyStreamingDistributionCNAMEs"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyStreamingDistributions"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyTrustedSigners"
        },
        {
          "target": "com.amazonaws.cloudfront#TrustedSignerDoesNotExist"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new RTMP distribution. An RTMP distribution is similar to a web distribution, \n\t\t\tbut an RTMP distribution streams media files using the Adobe Real-Time Messaging Protocol \n\t\t\t(RTMP) instead of serving files using HTTP. </p> \n\t\t       <p>To create a new distribution, submit a <code>POST</code> request to the \n\t\t\t\t<i>CloudFront API version</i>/distribution resource. The request body must include a \n\t\t\tdocument with a <i>StreamingDistributionConfig</i> element. The response echoes \n\t\t\tthe <code>StreamingDistributionConfig</code> element and returns other information about the \n\t\t\tRTMP distribution.</p> \n\t\t       <p>To get the status of your request, use the <i>GET \n\t\t\t\tStreamingDistribution</i> API action. When the value of <code>Enabled</code> is \n\t\t\t\t<code>true</code> and the value of <code>Status</code> is <code>Deployed</code>, your \n\t\t\tdistribution is ready. A distribution usually deploys in less than 15 minutes.</p> \n\t\t       <p>For more information about web distributions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-rtmp.html\">Working with RTMP Distributions</a> in the \n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p> \n\t\t       <important> \n\t\t\t         <p>Beginning with the 2012-05-05 version of the CloudFront API, we made substantial changes to \n\t\t\t\tthe format of the XML document that you include in the request body when you create or \n\t\t\t\tupdate a web distribution or an RTMP distribution, and when you invalidate objects. With \n\t\t\t\tprevious versions of the API, we discovered that it was too easy to accidentally delete one \n\t\t\t\tor more values for an element that accepts multiple values, for example, CNAMEs and trusted \n\t\t\t\tsigners. Our changes for the 2012-05-05 release are intended to prevent these accidental \n\t\t\t\tdeletions and to notify you when there's a mismatch between the number of values you say \n\t\t\t\tyou're specifying in the <code>Quantity</code> element and the number of values \n\t\t\t\tspecified.</p> \n\t\t       </important>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2019-03-26/streaming-distribution",
          "code": 201
        }
      }
    },
    "com.amazonaws.cloudfront#CreateStreamingDistributionRequest": {
      "type": "structure",
      "members": {
        "StreamingDistributionConfig": {
          "target": "com.amazonaws.cloudfront#StreamingDistributionConfig",
          "traits": {
            "smithy.api#documentation": "<p>The streaming distribution's configuration information.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request to create a new streaming distribution.</p>"
      }
    },
    "com.amazonaws.cloudfront#CreateStreamingDistributionResult": {
      "type": "structure",
      "members": {
        "ETag": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the streaming distribution created.</p>",
            "smithy.api#httpHeader": "ETag"
          }
        },
        "Location": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified URI of the new streaming distribution resource just created. For \n\t\t\texample: \n\t\t\t\t<code>https://cloudfront.amazonaws.com/2010-11-01/streaming-distribution/EGTXBD79H29TRA8</code>.</p>",
            "smithy.api#httpHeader": "Location"
          }
        },
        "StreamingDistribution": {
          "target": "com.amazonaws.cloudfront#StreamingDistribution",
          "traits": {
            "smithy.api#documentation": "<p>The streaming distribution's information.</p>",
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The returned result of the corresponding request.</p>"
      }
    },
    "com.amazonaws.cloudfront#CreateStreamingDistributionWithTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudfront#CreateStreamingDistributionWithTagsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudfront#CreateStreamingDistributionWithTagsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudfront#AccessDenied"
        },
        {
          "target": "com.amazonaws.cloudfront#CNAMEAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#InconsistentQuantities"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidArgument"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOrigin"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidOriginAccessIdentity"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidTagging"
        },
        {
          "target": "com.amazonaws.cloudfront#MissingBody"
        },
        {
          "target": "com.amazonaws.cloudfront#StreamingDistributionAlreadyExists"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyStreamingDistributionCNAMEs"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyStreamingDistributions"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyTrustedSigners"
        },
        {
          "target": "com.amazonaws.cloudfront#TrustedSignerDoesNotExist"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new streaming distribution with tags.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2019-03-26/streaming-distribution?WithTags",
          "code": 201
        }
      }
    },
    "com.amazonaws.cloudfront#CreateStreamingDistributionWithTagsRequest": {
      "type": "structure",
      "members": {
        "StreamingDistributionConfigWithTags": {
          "target": "com.amazonaws.cloudfront#StreamingDistributionConfigWithTags",
          "traits": {
            "smithy.api#documentation": "<p> The streaming distribution's configuration information. </p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request to create a new streaming distribution with tags.</p>"
      }
    },
    "com.amazonaws.cloudfront#CreateStreamingDistributionWithTagsResult": {
      "type": "structure",
      "members": {
        "ETag": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the distribution created.</p>",
            "smithy.api#httpHeader": "ETag"
          }
        },
        "Location": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified URI of the new streaming distribution resource just created. For \n\t\t\t\texample:<code> \n\t\t\t\thttps://cloudfront.amazonaws.com/2010-11-01/streaming-distribution/EGTXBD79H29TRA8</code>.</p>",
            "smithy.api#httpHeader": "Location"
          }
        },
        "StreamingDistribution": {
          "target": "com.amazonaws.cloudfront#StreamingDistribution",
          "traits": {
            "smithy.api#documentation": "<p>The streaming distribution's information. </p>",
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The returned result of the corresponding request. </p>"
      }
    },
    "com.amazonaws.cloudfront#CustomErrorResponse": {
      "type": "structure",
      "members": {
        "ErrorCachingMinTTL": {
          "target": "com.amazonaws.cloudfront#long",
          "traits": {
            "smithy.api#documentation": "<p>The minimum amount of time, in seconds, that you want CloudFront to cache the HTTP status \n\t\t\tcode specified in <code>ErrorCode</code>. When this time period has elapsed, CloudFront queries your \n\t\t\torigin to see whether the problem that caused the error has been resolved and the requested \n\t\t\tobject is now available.</p> \n\t\t       <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/custom-error-pages.html\">Customizing \n\t\t\t\tError Responses</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP status code for which you want to specify a custom error page and/or a caching \n\t\t\tduration.</p>",
            "smithy.api#required": {}
          }
        },
        "ResponseCode": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP status code that you want CloudFront to return to the viewer along with the custom \n\t\t\terror page. There are a variety of reasons that you might want CloudFront to return a status code \n\t\t\tdifferent from the status code that your origin returned to CloudFront, for example:</p> \n\t\t       <ul>\n            <li> \n\t\t\t\t           <p>Some Internet devices (some firewalls and corporate proxies, for example) intercept \n\t\t\t\t\tHTTP 4xx and 5xx and prevent the response from being returned to the viewer. If you \n\t\t\t\t\tsubstitute <code>200</code>, the response typically won't be intercepted.</p> \n\t\t\t         </li>\n            <li> \n\t\t\t\t           <p>If you don't care about distinguishing among different client errors or server \n\t\t\t\t\terrors, you can specify <code>400</code> or <code>500</code> as the \n\t\t\t\t\t\t<code>ResponseCode</code> for all 4xx or 5xx errors.</p> \n\t\t\t         </li>\n            <li> \n\t\t\t\t           <p>You might want to return a <code>200</code> status code (OK) and static website so \n\t\t\t\t\tyour customers don't know that your website is down.</p> \n\t\t\t         </li>\n         </ul> \n\t\t       <p>If you specify a value for <code>ResponseCode</code>, you must also specify a value for\n\t\t\t<code>ResponsePagePath</code>.</p>"
          }
        },
        "ResponsePagePath": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The path to the custom error page that you want CloudFront to return to a viewer when your \n\t\t\torigin returns the HTTP status code specified by <code>ErrorCode</code>, for example, \n\t\t\t\t<code>/4xx-errors/403-forbidden.html</code>. If you want to store your objects and your \n\t\t\tcustom error pages in different locations, your distribution must include a cache behavior for \n\t\t\twhich the following is true:</p> \n\t\t       <ul>\n            <li> \n\t\t\t\t           <p>The value of <code>PathPattern</code> matches the path to your custom error \n\t\t\t\t\tmessages. For example, suppose you saved custom error pages for 4xx errors in an Amazon S3 \n\t\t\t\t\tbucket in a directory named <code>/4xx-errors</code>. Your distribution must include a \n\t\t\t\t\tcache behavior for which the path pattern routes requests for your custom error pages to \n\t\t\t\t\tthat location, for example, <code>/4xx-errors/*</code>. </p> \n\t\t\t         </li>\n            <li> \n\t\t\t\t           <p>The value of <code>TargetOriginId</code> specifies the value of the <code>ID</code> \n\t\t\t\t\telement for the origin that contains your custom error pages.</p> \n\t\t\t         </li>\n         </ul> \n\t\t       <p>If you specify a value for <code>ResponsePagePath</code>, you must also specify a value\n\t\t\tfor <code>ResponseCode</code>.</p> \n\t\t       <p>We recommend that you store custom error pages in an Amazon S3 bucket. If you store custom \n\t\t\terror pages on an HTTP server and the server starts to return 5xx errors, CloudFront can't get the \n\t\t\tfiles that you want to return to viewers because the origin server is unavailable.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that controls:</p> \n\t\t       <ul>\n            <li> \n\t\t\t\t           <p>Whether CloudFront replaces HTTP status codes in the 4xx and 5xx range with custom error \n\t\t\t\t\tmessages before returning the response to the viewer. </p> \n\t\t\t         </li>\n            <li> \n\t\t\t\t           <p>How long CloudFront caches HTTP status codes in the 4xx and 5xx range.</p> \n\t\t\t         </li>\n         </ul> \n\t\t       <p>For more information about custom error pages, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/custom-error-pages.html\">Customizing Error Responses</a> in the \n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudfront#CustomErrorResponseList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#CustomErrorResponse",
        "traits": {
          "smithy.api#xmlName": "CustomErrorResponse"
        }
      }
    },
    "com.amazonaws.cloudfront#CustomErrorResponses": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.cloudfront#CustomErrorResponseList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains a <code>CustomErrorResponse</code> element for each HTTP \n\t\t\tstatus code for which you want to specify a custom error page and/or a caching duration. \n\t\t</p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of HTTP status codes for which you want to specify a custom error page \n\t\t\tand/or a caching duration. If <code>Quantity</code> is <code>0</code>, you can omit \n\t\t\t\t<code>Items</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that controls:</p> \n\t\t       <ul>\n            <li> \n\t\t\t\t           <p>Whether CloudFront replaces HTTP status codes in the 4xx and 5xx range with custom error \n\t\t\t\t\tmessages before returning the response to the viewer.</p> \n\t\t\t         </li>\n            <li> \n\t\t\t\t           <p>How long CloudFront caches HTTP status codes in the 4xx and 5xx range.</p> \n\t\t\t         </li>\n         </ul> \n\t\t       <p>For more information about custom error pages, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/custom-error-pages.html\">Customizing Error Responses</a> in the \n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudfront#CustomHeaders": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.cloudfront#OriginCustomHeadersList",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>Optional</b>: A list that contains one \n\t\t\t\t<code>OriginCustomHeader</code> element for each custom header that you want CloudFront to forward \n\t\t\tto the origin. If Quantity is <code>0</code>, omit <code>Items</code>.</p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of custom headers, if any, for this distribution.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains the list of Custom Headers for each origin. </p>"
      }
    },
    "com.amazonaws.cloudfront#CustomOriginConfig": {
      "type": "structure",
      "members": {
        "HTTPPort": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP port the custom origin listens on.</p>",
            "smithy.api#required": {}
          }
        },
        "HTTPSPort": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The HTTPS port the custom origin listens on.</p>",
            "smithy.api#required": {}
          }
        },
        "OriginKeepaliveTimeout": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>You can create a custom keep-alive timeout. All timeout units are in seconds. The \n\t\t\tdefault keep-alive timeout is 5 seconds, but you can configure custom timeout lengths using \n\t\t\tthe CloudFront API. The minimum timeout length is 1 second; the maximum is 60 seconds.</p> \n\t\t       <p>If you need to increase the maximum time limit, contact the <a href=\"https://console.aws.amazon.com/support/home#/\">AWS Support Center</a>.</p>"
          }
        },
        "OriginProtocolPolicy": {
          "target": "com.amazonaws.cloudfront#OriginProtocolPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The origin protocol policy to apply to your origin.</p>",
            "smithy.api#required": {}
          }
        },
        "OriginReadTimeout": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>You can create a custom origin read timeout. All timeout units are in seconds. The \n\t\t\tdefault origin read timeout is 30 seconds, but you can configure custom timeout lengths using \n\t\t\tthe CloudFront API. The minimum timeout length is 4 seconds; the maximum is 60 seconds.</p> \n\t\t       <p>If you need to increase the maximum time limit, contact the <a href=\"https://console.aws.amazon.com/support/home#/\">AWS Support Center</a>.</p>"
          }
        },
        "OriginSslProtocols": {
          "target": "com.amazonaws.cloudfront#OriginSslProtocols",
          "traits": {
            "smithy.api#documentation": "<p>The SSL/TLS protocols that you want CloudFront to use when communicating with your origin over HTTPS.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A custom origin or an Amazon S3 bucket configured as a website endpoint.</p>"
      }
    },
    "com.amazonaws.cloudfront#DefaultCacheBehavior": {
      "type": "structure",
      "members": {
        "AllowedMethods": {
          "target": "com.amazonaws.cloudfront#AllowedMethods"
        },
        "Compress": {
          "target": "com.amazonaws.cloudfront#boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether you want CloudFront to automatically compress certain files for this cache behavior. \n\t\t\tIf so, specify <code>true</code>; if not, specify <code>false</code>. For more information, \n\t\t\tsee <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/ServingCompressedFiles.html\">Serving Compressed Files</a> in \n\t\t\tthe <i>Amazon CloudFront Developer Guide</i>.</p>"
          }
        },
        "DefaultTTL": {
          "target": "com.amazonaws.cloudfront#long",
          "traits": {
            "smithy.api#documentation": "<p>The default amount of time that you want objects to stay in CloudFront caches before CloudFront \n\t\t\tforwards another request to your origin to determine whether the object has been updated. The \n\t\t\tvalue that you specify applies only when your origin does not add HTTP headers such as \n\t\t\t\t<code>Cache-Control max-age</code>, <code>Cache-Control s-maxage</code>, and \n\t\t\t\t<code>Expires</code> to objects. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing How Long Content Stays \n\t\t\t\t\tin an Edge Cache (Expiration)</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
          }
        },
        "FieldLevelEncryptionId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The value of <code>ID</code> for the field-level encryption configuration that you \n\t\twant CloudFront to use for encrypting specific fields of data for a cache behavior or for the\n\t\tdefault cache behavior in your distribution.</p>"
          }
        },
        "ForwardedValues": {
          "target": "com.amazonaws.cloudfront#ForwardedValues",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that specifies how CloudFront handles query strings, cookies, and HTTP headers.</p>",
            "smithy.api#required": {}
          }
        },
        "LambdaFunctionAssociations": {
          "target": "com.amazonaws.cloudfront#LambdaFunctionAssociations",
          "traits": {
[...]
