{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      },
      {
        "id": "QueryErrorCode",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.cloudwatch#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#ActionPrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.cloudwatch#ActionsEnabled": {
      "type": "boolean"
    },
    "com.amazonaws.cloudwatch#ActionsSuppressedBy": {
      "type": "enum",
      "members": {
        "WaitPeriod": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WaitPeriod"
          }
        },
        "ExtensionPeriod": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExtensionPeriod"
          }
        },
        "Alarm": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Alarm"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#ActionsSuppressedReason": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmContributor": {
      "type": "structure",
      "members": {
        "ContributorId": {
          "target": "com.amazonaws.cloudwatch#ContributorId",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The unique identifier for this alarm contributor.</p>",
            "smithy.api#required": {}
          }
        },
        "ContributorAttributes": {
          "target": "com.amazonaws.cloudwatch#ContributorAttributes",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>A map of attributes that describe the contributor, such as metric dimensions and other identifying characteristics.</p>",
            "smithy.api#required": {}
          }
        },
        "StateReason": {
          "target": "com.amazonaws.cloudwatch#StateReason",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>An explanation for the contributor's current state, providing context about why it is in its current condition.</p>",
            "smithy.api#required": {}
          }
        },
        "StateTransitionedTimestamp": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the contributor last transitioned to its current state.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an individual contributor to a multi-timeseries alarm, containing information about a specific time series and its contribution to the alarm's state.</p>"
      }
    },
    "com.amazonaws.cloudwatch#AlarmContributors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#AlarmContributor"
      }
    },
    "com.amazonaws.cloudwatch#AlarmDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmHistoryItem": {
      "type": "structure",
      "members": {
        "AlarmName": {
          "target": "com.amazonaws.cloudwatch#AlarmName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name for the alarm.</p>"
          }
        },
        "AlarmContributorId": {
          "target": "com.amazonaws.cloudwatch#ContributorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the alarm contributor associated with this history item, if applicable.</p>"
          }
        },
        "AlarmType": {
          "target": "com.amazonaws.cloudwatch#AlarmType",
          "traits": {
            "smithy.api#documentation": "<p>The type of alarm, either metric alarm or composite alarm.</p>"
          }
        },
        "Timestamp": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp for the alarm history item.</p>"
          }
        },
        "HistoryItemType": {
          "target": "com.amazonaws.cloudwatch#HistoryItemType",
          "traits": {
            "smithy.api#documentation": "<p>The type of alarm history item.</p>"
          }
        },
        "HistorySummary": {
          "target": "com.amazonaws.cloudwatch#HistorySummary",
          "traits": {
            "smithy.api#documentation": "<p>A summary of the alarm history, in text format.</p>"
          }
        },
        "HistoryData": {
          "target": "com.amazonaws.cloudwatch#HistoryData",
          "traits": {
            "smithy.api#documentation": "<p>Data about the alarm, in JSON format.</p>"
          }
        },
        "AlarmContributorAttributes": {
          "target": "com.amazonaws.cloudwatch#ContributorAttributes",
          "traits": {
            "smithy.api#documentation": "<p>A map of attributes that describe the alarm contributor associated with this history item, providing context about the contributor's characteristics at the time of the event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the history of a specific alarm.</p>"
      }
    },
    "com.amazonaws.cloudwatch#AlarmHistoryItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#AlarmHistoryItem"
      }
    },
    "com.amazonaws.cloudwatch#AlarmName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmNamePrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#AlarmName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmRule": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10240
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmType": {
      "type": "enum",
      "members": {
        "CompositeAlarm": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CompositeAlarm"
          }
        },
        "MetricAlarm": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MetricAlarm"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#AlarmTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#AlarmType"
      }
    },
    "com.amazonaws.cloudwatch#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetector": {
      "type": "structure",
      "members": {
        "Namespace": {
          "target": "com.amazonaws.cloudwatch#Namespace",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Use SingleMetricAnomalyDetector.Namespace property."
            },
            "smithy.api#documentation": "<p>The namespace of the metric associated with the anomaly detection model.</p>"
          }
        },
        "MetricName": {
          "target": "com.amazonaws.cloudwatch#MetricName",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Use SingleMetricAnomalyDetector.MetricName property."
            },
            "smithy.api#documentation": "<p>The name of the metric associated with the anomaly detection model.</p>"
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.cloudwatch#Dimensions",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Use SingleMetricAnomalyDetector.Dimensions property."
            },
            "smithy.api#documentation": "<p>The metric dimensions associated with the anomaly detection model.</p>"
          }
        },
        "Stat": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectorMetricStat",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Use SingleMetricAnomalyDetector.Stat property."
            },
            "smithy.api#documentation": "<p>The statistic associated with the anomaly detection model.</p>"
          }
        },
        "Configuration": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectorConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration specifies details about how the anomaly detection model is to be\n            trained, including time ranges to exclude from use for training the model, and the time\n            zone to use for the metric.</p>"
          }
        },
        "StateValue": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectorStateValue",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the anomaly detector's training.</p>"
          }
        },
        "MetricCharacteristics": {
          "target": "com.amazonaws.cloudwatch#MetricCharacteristics",
          "traits": {
            "smithy.api#documentation": "<p>This object includes parameters that you can use to provide information about your\n            metric to CloudWatch to help it build more accurate anomaly detection models.\n            Currently, it includes the <code>PeriodicSpikes</code> parameter.</p>"
          }
        },
        "SingleMetricAnomalyDetector": {
          "target": "com.amazonaws.cloudwatch#SingleMetricAnomalyDetector",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch metric and statistic for this anomaly detector.</p>"
          }
        },
        "MetricMathAnomalyDetector": {
          "target": "com.amazonaws.cloudwatch#MetricMathAnomalyDetector",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch metric math expression for this anomaly detector.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An anomaly detection model associated with a particular CloudWatch metric, statistic,\n            or metric math expression. You can use the model to display a band of expected, normal\n            values when the metric is graphed.</p>\n         <p>If you have enabled unified cross-account observability, and this account is a\n            monitoring account, the metric can be in the same account or a source account.</p>"
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectorConfiguration": {
      "type": "structure",
      "members": {
        "ExcludedTimeRanges": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectorExcludedTimeRanges",
          "traits": {
            "smithy.api#documentation": "<p>An array of time ranges to exclude from use when the anomaly detection model is\n            trained. Use this to make sure that events that could cause unusual values for the\n            metric, such as deployments, aren't used when CloudWatch creates the model.</p>"
          }
        },
        "MetricTimezone": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectorMetricTimezone",
          "traits": {
            "smithy.api#documentation": "<p>The time zone to use for the metric. This is useful to enable the model to\n            automatically account for daylight savings time changes if the metric is sensitive to\n            such time changes.</p>\n         <p>To specify a time zone, use the name of the time zone as specified in the standard\n            tz database. For more information, see <a href=\"https://en.wikipedia.org/wiki/Tz_database\">tz database</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration specifies details about how the anomaly detection model is to be\n            trained, including time ranges to exclude from use for training the model and the time\n            zone to use for the metric.</p>"
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectorExcludedTimeRanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#Range"
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectorMetricStat": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        },
        "smithy.api#pattern": "^(SampleCount|Average|Sum|Minimum|Maximum|IQM|(p|tc|tm|ts|wm)(\\d{1,2}(\\.\\d{0,10})?|100)|[ou]\\d+(\\.\\d*)?)(_E|_L|_H)?|(TM|TC|TS|WM)\\(((((\\d{1,2})(\\.\\d{0,10})?|100(\\.0{0,10})?)%)?:((\\d{1,2})(\\.\\d{0,10})?|100(\\.0{0,10})?)%|((\\d{1,2})(\\.\\d{0,10})?|100(\\.0{0,10})?)%:(((\\d{1,2})(\\.\\d{0,10})?|100(\\.0{0,10})?)%)?)\\)|(TM|TC|TS|WM|PR)\\(((\\d+(\\.\\d{0,10})?|(\\d+(\\.\\d{0,10})?[Ee][+-]?\\d+)):((\\d+(\\.\\d{0,10})?|(\\d+(\\.\\d{0,10})?[Ee][+-]?\\d+)))?|((\\d+(\\.\\d{0,10})?|(\\d+(\\.\\d{0,10})?[Ee][+-]?\\d+)))?:(\\d+(\\.\\d{0,10})?|(\\d+(\\.\\d{0,10})?[Ee][+-]?\\d+)))\\)$"
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectorMetricTimezone": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectorStateValue": {
      "type": "enum",
      "members": {
        "PENDING_TRAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_TRAINING"
          }
        },
        "TRAINED_INSUFFICIENT_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAINED_INSUFFICIENT_DATA"
          }
        },
        "TRAINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAINED"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectorType": {
      "type": "enum",
      "members": {
        "SINGLE_METRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_METRIC"
          }
        },
        "METRIC_MATH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "METRIC_MATH"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectorTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#AnomalyDetectorType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2
        }
      }
    },
    "com.amazonaws.cloudwatch#AnomalyDetectors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#AnomalyDetector"
      }
    },
    "com.amazonaws.cloudwatch#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.cloudwatch#AwsQueryErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#BatchFailures": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#PartialFailure"
      }
    },
    "com.amazonaws.cloudwatch#ComparisonOperator": {
      "type": "enum",
      "members": {
        "GreaterThanOrEqualToThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GreaterThanOrEqualToThreshold"
          }
        },
        "GreaterThanThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GreaterThanThreshold"
          }
        },
        "LessThanThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessThanThreshold"
          }
        },
        "LessThanOrEqualToThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessThanOrEqualToThreshold"
          }
        },
        "LessThanLowerOrGreaterThanUpperThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessThanLowerOrGreaterThanUpperThreshold"
          }
        },
        "LessThanLowerThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessThanLowerThreshold"
          }
        },
        "GreaterThanUpperThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GreaterThanUpperThreshold"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#CompositeAlarm": {
      "type": "structure",
      "members": {
        "ActionsEnabled": {
          "target": "com.amazonaws.cloudwatch#ActionsEnabled",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether actions should be executed during any changes to the alarm\n            state.</p>"
          }
        },
        "AlarmActions": {
          "target": "com.amazonaws.cloudwatch#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>The actions to execute when this alarm transitions to the ALARM state from any other\n            state. Each action is specified as an Amazon Resource Name (ARN).</p>"
          }
        },
        "AlarmArn": {
          "target": "com.amazonaws.cloudwatch#AlarmArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the alarm.</p>"
          }
        },
        "AlarmConfigurationUpdatedTimestamp": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp of the last update to the alarm configuration.</p>"
          }
        },
        "AlarmDescription": {
          "target": "com.amazonaws.cloudwatch#AlarmDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the alarm.</p>"
          }
        },
        "AlarmName": {
          "target": "com.amazonaws.cloudwatch#AlarmName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alarm.</p>"
          }
        },
        "AlarmRule": {
          "target": "com.amazonaws.cloudwatch#AlarmRule",
          "traits": {
            "smithy.api#documentation": "<p>The rule that this alarm uses to evaluate its alarm state.</p>"
          }
        },
        "InsufficientDataActions": {
          "target": "com.amazonaws.cloudwatch#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>The actions to execute when this alarm transitions to the INSUFFICIENT_DATA state from\n            any other state. Each action is specified as an Amazon Resource Name (ARN).</p>"
          }
        },
        "OKActions": {
          "target": "com.amazonaws.cloudwatch#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>The actions to execute when this alarm transitions to the OK state from any other\n            state. Each action is specified as an Amazon Resource Name (ARN).</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.cloudwatch#StateReason",
          "traits": {
            "smithy.api#documentation": "<p>An explanation for the alarm state, in text format.</p>"
          }
        },
        "StateReasonData": {
          "target": "com.amazonaws.cloudwatch#StateReasonData",
          "traits": {
            "smithy.api#documentation": "<p>An explanation for the alarm state, in JSON format.</p>"
          }
        },
        "StateUpdatedTimestamp": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Tracks the timestamp of any state update, even if <code>StateValue</code> doesn't\n            change.</p>"
          }
        },
        "StateValue": {
          "target": "com.amazonaws.cloudwatch#StateValue",
          "traits": {
            "smithy.api#documentation": "<p>The state value for the alarm.</p>"
          }
        },
        "StateTransitionedTimestamp": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The timestamp of the last change to the alarm's <code>StateValue</code>. </p>"
          }
        },
        "ActionsSuppressedBy": {
          "target": "com.amazonaws.cloudwatch#ActionsSuppressedBy",
          "traits": {
            "smithy.api#documentation": "<p> When the value is <code>ALARM</code>, it means that the actions are suppressed\n            because the suppressor alarm is in <code>ALARM</code> When the value is\n            <code>WaitPeriod</code>, it means that the actions are suppressed because the\n            composite alarm is waiting for the suppressor alarm to go into into the\n            <code>ALARM</code> state. The maximum waiting time is as specified in\n            <code>ActionsSuppressorWaitPeriod</code>. After this time, the composite alarm\n            performs its actions. When the value is <code>ExtensionPeriod</code>, it means that the\n            actions are suppressed because the composite alarm is waiting after the suppressor alarm\n            went out of the <code>ALARM</code> state. The maximum waiting time is as specified in\n            <code>ActionsSuppressorExtensionPeriod</code>. After this time, the composite alarm\n            performs its actions. </p>"
          }
        },
        "ActionsSuppressedReason": {
          "target": "com.amazonaws.cloudwatch#ActionsSuppressedReason",
          "traits": {
            "smithy.api#documentation": "<p> Captures the reason for action suppression. </p>"
          }
        },
        "ActionsSuppressor": {
          "target": "com.amazonaws.cloudwatch#AlarmArn",
          "traits": {
            "smithy.api#documentation": "<p> Actions will be suppressed if the suppressor alarm is in the <code>ALARM</code>\n            state. <code>ActionsSuppressor</code> can be an AlarmName or an Amazon Resource Name\n            (ARN) from an existing alarm. </p>"
          }
        },
        "ActionsSuppressorWaitPeriod": {
          "target": "com.amazonaws.cloudwatch#SuppressorPeriod",
          "traits": {
            "smithy.api#documentation": "<p> The maximum time in seconds that the composite alarm waits for the suppressor alarm\n            to go into the <code>ALARM</code> state. After this time, the composite alarm performs\n            its actions. </p>\n         <important>\n            <p>\n               <code>WaitPeriod</code> is required only when <code>ActionsSuppressor</code> is\n                specified. </p>\n         </important>"
          }
        },
        "ActionsSuppressorExtensionPeriod": {
          "target": "com.amazonaws.cloudwatch#SuppressorPeriod",
          "traits": {
            "smithy.api#documentation": "<p> The maximum time in seconds that the composite alarm waits after suppressor alarm\n            goes out of the <code>ALARM</code> state. After this time, the composite alarm performs\n            its actions. </p>\n         <important>\n            <p>\n               <code>ExtensionPeriod</code> is required only when <code>ActionsSuppressor</code> is\n                specified. </p>\n         </important>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details about a composite alarm.</p>"
      }
    },
    "com.amazonaws.cloudwatch#CompositeAlarms": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#CompositeAlarm"
      }
    },
    "com.amazonaws.cloudwatch#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudwatch#FaultDescription"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ConcurrentModificationException",
          "httpResponseCode": 429
        },
        "smithy.api#documentation": "<p>More than one process tried to modify a resource at the same time.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.cloudwatch#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudwatch#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This operation attempted to create a resource that already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.cloudwatch#ContributorAttributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.cloudwatch#AttributeName"
      },
      "value": {
        "target": "com.amazonaws.cloudwatch#AttributeValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 30
        }
      }
    },
    "com.amazonaws.cloudwatch#ContributorId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.cloudwatch#Counts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#DatapointValue"
      }
    },
    "com.amazonaws.cloudwatch#DashboardArn": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#DashboardBody": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#DashboardEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#DashboardEntry"
      }
    },
    "com.amazonaws.cloudwatch#DashboardEntry": {
      "type": "structure",
      "members": {
        "DashboardName": {
          "target": "com.amazonaws.cloudwatch#DashboardName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dashboard.</p>"
          }
        },
        "DashboardArn": {
          "target": "com.amazonaws.cloudwatch#DashboardArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dashboard.</p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.cloudwatch#LastModified",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp of when the dashboard was last modified, either by an API call or\n            through the console. This number is expressed as the number of milliseconds since Jan 1,\n            1970 00:00:00 UTC.</p>"
          }
        },
        "Size": {
          "target": "com.amazonaws.cloudwatch#Size",
          "traits": {
            "smithy.api#documentation": "<p>The size of the dashboard, in bytes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a specific dashboard.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DashboardErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#DashboardInvalidInputError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.cloudwatch#DashboardErrorMessage"
        },
        "dashboardValidationMessages": {
          "target": "com.amazonaws.cloudwatch#DashboardValidationMessages"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidParameterInput",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>Some part of the dashboard data is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudwatch#DashboardName": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#DashboardNamePrefix": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#DashboardNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#DashboardName"
      }
    },
    "com.amazonaws.cloudwatch#DashboardNotFoundError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.cloudwatch#DashboardErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ResourceNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>The specified dashboard does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.cloudwatch#DashboardValidationMessage": {
      "type": "structure",
      "members": {
        "DataPath": {
          "target": "com.amazonaws.cloudwatch#DataPath",
          "traits": {
            "smithy.api#documentation": "<p>The data path related to the message.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.cloudwatch#Message",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the error or warning.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error or warning for the operation.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DashboardValidationMessages": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#DashboardValidationMessage"
      }
    },
    "com.amazonaws.cloudwatch#DataPath": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#Datapoint": {
      "type": "structure",
      "members": {
        "Timestamp": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp used for the data point.</p>"
          }
        },
        "SampleCount": {
          "target": "com.amazonaws.cloudwatch#DatapointValue",
          "traits": {
            "smithy.api#documentation": "<p>The number of metric values that contributed to the aggregate value of this data\n            point.</p>"
          }
        },
        "Average": {
          "target": "com.amazonaws.cloudwatch#DatapointValue",
          "traits": {
            "smithy.api#documentation": "<p>The average of the metric values that correspond to the data point.</p>"
          }
        },
        "Sum": {
          "target": "com.amazonaws.cloudwatch#DatapointValue",
          "traits": {
            "smithy.api#documentation": "<p>The sum of the metric values for the data point.</p>"
          }
        },
        "Minimum": {
          "target": "com.amazonaws.cloudwatch#DatapointValue",
          "traits": {
            "smithy.api#documentation": "<p>The minimum metric value for the data point.</p>"
          }
        },
        "Maximum": {
          "target": "com.amazonaws.cloudwatch#DatapointValue",
          "traits": {
            "smithy.api#documentation": "<p>The maximum metric value for the data point.</p>"
          }
        },
        "Unit": {
          "target": "com.amazonaws.cloudwatch#StandardUnit",
          "traits": {
            "smithy.api#documentation": "<p>The standard unit for the data point.</p>"
          }
        },
        "ExtendedStatistics": {
          "target": "com.amazonaws.cloudwatch#DatapointValueMap",
          "traits": {
            "smithy.api#documentation": "<p>The percentile statistic for the data point.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Encapsulates the statistical data that CloudWatch computes from metric\n            data.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DatapointValue": {
      "type": "double"
    },
    "com.amazonaws.cloudwatch#DatapointValueMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.cloudwatch#ExtendedStatistic"
      },
      "value": {
        "target": "com.amazonaws.cloudwatch#DatapointValue"
      }
    },
    "com.amazonaws.cloudwatch#DatapointValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#DatapointValue"
      }
    },
    "com.amazonaws.cloudwatch#Datapoints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#Datapoint"
      }
    },
    "com.amazonaws.cloudwatch#DatapointsToAlarm": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.cloudwatch#DeleteAlarms": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DeleteAlarmsInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#ResourceNotFound"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified alarms. You can delete up to 100 alarms in one operation.\n            However, this total can include no more than one composite alarm. For example, you could\n            delete 99 metric alarms and one composite alarms with one operation, but you can't\n            delete two composite alarms with one operation.</p>\n         <p> If you specify any incorrect alarm names, the alarms you specify with correct names are still deleted. Other syntax errors might result\n            in no alarms being deleted. To confirm that alarms were deleted successfully, you can use the\n            <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_DescribeAlarms.html\">DescribeAlarms</a> operation after using <code>DeleteAlarms</code>.</p>\n         <note>\n            <p>It is possible to create a loop or cycle of composite alarms, where composite\n                alarm A depends on composite alarm B, and composite alarm B also depends on\n                composite alarm A. In this scenario, you can't delete any composite alarm that is\n                part of the cycle because there is always still a composite alarm that depends on\n                that alarm that you want to delete.</p>\n            <p>To get out of such a situation, you must break the cycle by changing the rule of\n                one of the composite alarms in the cycle to remove a dependency that creates the\n                cycle. The simplest change to make to break a cycle is to change the\n                <code>AlarmRule</code> of one of the alarms to <code>false</code>. </p>\n            <p>Additionally, the evaluation of composite alarms stops if CloudWatch\n                detects a cycle in the evaluation path. </p>\n         </note>"
      }
    },
    "com.amazonaws.cloudwatch#DeleteAlarmsInput": {
      "type": "structure",
      "members": {
        "AlarmNames": {
          "target": "com.amazonaws.cloudwatch#AlarmNames",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The alarms to be deleted. Do not enclose the alarm names in quote marks.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatch#DeleteAnomalyDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DeleteAnomalyDetectorInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DeleteAnomalyDetectorOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InternalServiceFault"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes the specified anomaly detection model from your account. For more information\n            about how to delete an anomaly detection model, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Create_Anomaly_Detection_Alarm.html#Delete_Anomaly_Detection_Model\">Deleting an anomaly detection model</a> in the <i>CloudWatch User\n            Guide</i>. </p>"
      }
    },
    "com.amazonaws.cloudwatch#DeleteAnomalyDetectorInput": {
      "type": "structure",
      "members": {
        "Namespace": {
          "target": "com.amazonaws.cloudwatch#Namespace",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Use SingleMetricAnomalyDetector."
            },
            "smithy.api#documentation": "<p>The namespace associated with the anomaly detection model to delete.</p>"
          }
        },
        "MetricName": {
          "target": "com.amazonaws.cloudwatch#MetricName",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Use SingleMetricAnomalyDetector."
            },
            "smithy.api#documentation": "<p>The metric name associated with the anomaly detection model to delete.</p>"
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.cloudwatch#Dimensions",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Use SingleMetricAnomalyDetector."
            },
            "smithy.api#documentation": "<p>The metric dimensions associated with the anomaly detection model to delete.</p>"
          }
        },
        "Stat": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectorMetricStat",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Use SingleMetricAnomalyDetector."
            },
            "smithy.api#documentation": "<p>The statistic associated with the anomaly detection model to delete.</p>"
          }
        },
        "SingleMetricAnomalyDetector": {
          "target": "com.amazonaws.cloudwatch#SingleMetricAnomalyDetector",
          "traits": {
            "smithy.api#documentation": "<p>A single metric anomaly detector to be deleted.</p>\n         <p>When using <code>SingleMetricAnomalyDetector</code>, you cannot include the following\n            parameters in the same operation:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Dimensions</code>,</p>\n            </li>\n            <li>\n               <p>\n                  <code>MetricName</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Namespace</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Stat</code>\n               </p>\n            </li>\n            <li>\n               <p>the <code>MetricMathAnomalyDetector</code> parameters of\n                    <code>DeleteAnomalyDetectorInput</code>\n               </p>\n            </li>\n         </ul>\n         <p>Instead, specify the single metric anomaly detector attributes as part of the\n            <code>SingleMetricAnomalyDetector</code> property.</p>"
          }
        },
        "MetricMathAnomalyDetector": {
          "target": "com.amazonaws.cloudwatch#MetricMathAnomalyDetector",
          "traits": {
            "smithy.api#documentation": "<p>The metric math anomaly detector to be deleted.</p>\n         <p>When using <code>MetricMathAnomalyDetector</code>, you cannot include following\n            parameters in the same operation:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Dimensions</code>,</p>\n            </li>\n            <li>\n               <p>\n                  <code>MetricName</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Namespace</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Stat</code>\n               </p>\n            </li>\n            <li>\n               <p>the <code>SingleMetricAnomalyDetector</code> parameters of\n                    <code>DeleteAnomalyDetectorInput</code>\n               </p>\n            </li>\n         </ul>\n         <p>Instead, specify the metric math anomaly detector attributes as part of the\n            <code>MetricMathAnomalyDetector</code> property.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatch#DeleteAnomalyDetectorOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudwatch#DeleteDashboards": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DeleteDashboardsInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DeleteDashboardsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#ConflictException"
        },
        {
          "target": "com.amazonaws.cloudwatch#DashboardNotFoundError"
        },
        {
          "target": "com.amazonaws.cloudwatch#InternalServiceFault"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes all dashboards that you specify. You can specify up to 100 dashboards to\n            delete. If there is an error during this call, no dashboards are deleted.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DeleteDashboardsInput": {
      "type": "structure",
      "members": {
        "DashboardNames": {
          "target": "com.amazonaws.cloudwatch#DashboardNames",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The dashboards to be deleted. This parameter is required.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatch#DeleteDashboardsOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudwatch#DeleteInsightRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DeleteInsightRulesInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DeleteInsightRulesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes the specified Contributor Insights rules.</p>\n         <p>If you create a rule, delete it, and then re-create it with the same name, historical\n            data from the first time the rule was created might not be available.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DeleteInsightRulesInput": {
      "type": "structure",
      "members": {
        "RuleNames": {
          "target": "com.amazonaws.cloudwatch#InsightRuleNames",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>An array of the rule names to delete. If you need to find out the names of your rules,\n            use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_DescribeInsightRules.html\">DescribeInsightRules</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatch#DeleteInsightRulesOutput": {
      "type": "structure",
      "members": {
        "Failures": {
          "target": "com.amazonaws.cloudwatch#BatchFailures",
          "traits": {
            "smithy.api#documentation": "<p>An array listing the rules that could not be deleted. You cannot delete built-in\n            rules.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudwatch#DeleteMetricStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DeleteMetricStreamInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DeleteMetricStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InternalServiceFault"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes the metric stream that you specify.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DeleteMetricStreamInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.cloudwatch#MetricStreamName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The name of the metric stream to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatch#DeleteMetricStreamOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmContributors": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmContributorsInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmContributorsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidNextToken"
        },
        {
          "target": "com.amazonaws.cloudwatch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the information of the current alarm contributors that are in <code>ALARM</code> state. This operation returns details about the individual time series that contribute to the alarm's state.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmContributorsInput": {
      "type": "structure",
      "members": {
        "AlarmName": {
          "target": "com.amazonaws.cloudwatch#AlarmName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The name of the alarm for which to retrieve contributor information.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to indicate that there is more data available.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmContributorsOutput": {
      "type": "structure",
      "members": {
        "AlarmContributors": {
          "target": "com.amazonaws.cloudwatch#AlarmContributors",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>A list of alarm contributors that provide details about the individual time series contributing to the alarm's state.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that marks the start of the next batch of returned results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmHistory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmHistoryInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmHistoryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidNextToken"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the history for the specified alarm. You can filter the results by date\n            range or item type. If an alarm name is not specified, the histories for either all\n            metric alarms or all composite alarms are returned.</p>\n         <p>CloudWatch retains the history of an alarm even if you delete the alarm.</p>\n         <p>To use this operation and return information about a composite alarm, you must be\n            signed on with the <code>cloudwatch:DescribeAlarmHistory</code> permission that is\n            scoped to <code>*</code>. You can't return information about composite alarms if your\n            <code>cloudwatch:DescribeAlarmHistory</code> permission has a narrower scope.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AlarmHistoryItems",
          "pageSize": "MaxRecords"
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmHistoryInput": {
      "type": "structure",
      "members": {
        "AlarmName": {
          "target": "com.amazonaws.cloudwatch#AlarmName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alarm.</p>"
          }
        },
        "AlarmContributorId": {
          "target": "com.amazonaws.cloudwatch#ContributorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of a specific alarm contributor to filter the alarm history results.</p>"
          }
        },
        "AlarmTypes": {
          "target": "com.amazonaws.cloudwatch#AlarmTypes",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter to specify whether you want the operation to return metric alarms\n            or composite alarms. If you omit this parameter, only metric alarms are returned.</p>"
          }
        },
        "HistoryItemType": {
          "target": "com.amazonaws.cloudwatch#HistoryItemType",
          "traits": {
            "smithy.api#documentation": "<p>The type of alarm histories to retrieve.</p>"
          }
        },
        "StartDate": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The starting date to retrieve alarm history.</p>"
          }
        },
        "EndDate": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The ending date to retrieve alarm history.</p>"
          }
        },
        "MaxRecords": {
          "target": "com.amazonaws.cloudwatch#MaxRecords",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of alarm history records to retrieve.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to indicate that there is more data\n            available.</p>"
          }
        },
        "ScanBy": {
          "target": "com.amazonaws.cloudwatch#ScanBy",
          "traits": {
            "smithy.api#documentation": "<p>Specified whether to return the newest or oldest alarm history first. Specify\n            <code>TimestampDescending</code> to have the newest event history returned first,\n            and specify <code>TimestampAscending</code> to have the oldest history returned\n            first.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmHistoryOutput": {
      "type": "structure",
      "members": {
        "AlarmHistoryItems": {
          "target": "com.amazonaws.cloudwatch#AlarmHistoryItems",
          "traits": {
            "smithy.api#documentation": "<p>The alarm histories, in JSON format.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that marks the start of the next batch of returned results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarms": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmsInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidNextToken"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the specified alarms. You can filter the results by specifying a prefix\n            for the alarm name, the alarm state, or a prefix for any action.</p>\n         <p>To use this operation and return information about composite alarms, you must be\n            signed on with the <code>cloudwatch:DescribeAlarms</code> permission that is scoped to\n            <code>*</code>. You can't return information about composite alarms if your\n            <code>cloudwatch:DescribeAlarms</code> permission has a narrower scope.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxRecords"
        },
        "smithy.waiters#waitable": {
          "AlarmExists": {
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "length(MetricAlarms[]) > `0`",
                    "expected": "true",
                    "comparator": "booleanEquals"
                  }
                }
              }
            ],
            "minDelay": 5
          },
          "CompositeAlarmExists": {
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "length(CompositeAlarms[]) > `0`",
                    "expected": "true",
                    "comparator": "booleanEquals"
                  }
                }
              }
            ],
            "minDelay": 5
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmsForMetric": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmsForMetricInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DescribeAlarmsForMetricOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the alarms for the specified metric. To filter the results, specify a\n            statistic, period, or unit.</p>\n         <p>This operation retrieves only standard alarms that are based on the specified\n            metric. It does not return alarms based on math expressions that use the specified\n            metric, or composite alarms that use the specified metric.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmsForMetricInput": {
      "type": "structure",
      "members": {
        "MetricName": {
          "target": "com.amazonaws.cloudwatch#MetricName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The name of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Namespace": {
          "target": "com.amazonaws.cloudwatch#Namespace",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The namespace of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Statistic": {
          "target": "com.amazonaws.cloudwatch#Statistic",
          "traits": {
            "smithy.api#documentation": "<p>The statistic for the metric, other than percentiles. For percentile statistics,\n            use <code>ExtendedStatistics</code>.</p>"
          }
        },
        "ExtendedStatistic": {
          "target": "com.amazonaws.cloudwatch#ExtendedStatistic",
          "traits": {
            "smithy.api#documentation": "<p>The percentile statistic for the metric. Specify a value between p0.0 and\n            p100.</p>"
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.cloudwatch#Dimensions",
          "traits": {
            "smithy.api#documentation": "<p>The dimensions associated with the metric. If the metric has any associated\n            dimensions, you must specify them in order for the call to succeed.</p>"
          }
        },
        "Period": {
          "target": "com.amazonaws.cloudwatch#Period",
          "traits": {
            "smithy.api#documentation": "<p>The period, in seconds, over which the statistic is applied.</p>"
          }
        },
        "Unit": {
          "target": "com.amazonaws.cloudwatch#StandardUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit for the metric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmsForMetricOutput": {
      "type": "structure",
      "members": {
        "MetricAlarms": {
          "target": "com.amazonaws.cloudwatch#MetricAlarms",
          "traits": {
            "smithy.api#documentation": "<p>The information for each alarm with the specified metric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmsInput": {
      "type": "structure",
      "members": {
        "AlarmNames": {
          "target": "com.amazonaws.cloudwatch#AlarmNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of the alarms to retrieve information about.</p>"
          }
        },
        "AlarmNamePrefix": {
          "target": "com.amazonaws.cloudwatch#AlarmNamePrefix",
          "traits": {
            "smithy.api#documentation": "<p>An alarm name prefix. If you specify this parameter, you receive information about\n            all alarms that have names that start with this prefix.</p>\n         <p>If this parameter is specified, you cannot specify\n            <code>AlarmNames</code>.</p>"
          }
        },
        "AlarmTypes": {
          "target": "com.amazonaws.cloudwatch#AlarmTypes",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter to specify whether you want the operation to return metric alarms\n            or composite alarms. If you omit this parameter, only metric alarms are returned, even\n            if composite alarms exist in the account.</p>\n         <p>For example, if you omit this parameter or specify <code>MetricAlarms</code>, the\n            operation returns only a list of metric alarms. It does not return any composite alarms,\n            even if composite alarms exist in the account.</p>\n         <p>If you specify <code>CompositeAlarms</code>, the operation returns only a list of\n            composite alarms, and does not return any metric alarms.</p>"
          }
        },
        "ChildrenOfAlarmName": {
          "target": "com.amazonaws.cloudwatch#AlarmName",
          "traits": {
            "smithy.api#documentation": "<p>If you use this parameter and specify the name of a composite alarm, the operation\n            returns information about the \"children\" alarms of the alarm you specify. These are the\n            metric alarms and composite alarms referenced in the <code>AlarmRule</code> field of the\n            composite alarm that you specify in <code>ChildrenOfAlarmName</code>. Information about\n            the composite alarm that you name in <code>ChildrenOfAlarmName</code> is not\n            returned.</p>\n         <p>If you specify <code>ChildrenOfAlarmName</code>, you cannot specify any other\n            parameters in the request except for <code>MaxRecords</code> and <code>NextToken</code>.\n            If you do so, you receive a validation error.</p>\n         <note>\n            <p>Only the <code>Alarm Name</code>, <code>ARN</code>, <code>StateValue</code>\n                (OK/ALARM/INSUFFICIENT_DATA), and <code>StateUpdatedTimestamp</code> information are\n                returned by this operation when you use this parameter. To get complete information\n                about these alarms, perform another <code>DescribeAlarms</code> operation and\n                specify the parent alarm names in the <code>AlarmNames</code> parameter.</p>\n         </note>"
          }
        },
        "ParentsOfAlarmName": {
          "target": "com.amazonaws.cloudwatch#AlarmName",
          "traits": {
            "smithy.api#documentation": "<p>If you use this parameter and specify the name of a metric or composite alarm, the\n            operation returns information about the \"parent\" alarms of the alarm you specify. These\n            are the composite alarms that have <code>AlarmRule</code> parameters that reference the\n            alarm named in <code>ParentsOfAlarmName</code>. Information about the alarm that you\n            specify in <code>ParentsOfAlarmName</code> is not returned.</p>\n         <p>If you specify <code>ParentsOfAlarmName</code>, you cannot specify any other\n            parameters in the request except for <code>MaxRecords</code> and <code>NextToken</code>.\n            If you do so, you receive a validation error.</p>\n         <note>\n            <p>Only the Alarm Name and ARN are returned by this operation when you use this\n                parameter. To get complete information about these alarms, perform another\n                <code>DescribeAlarms</code> operation and specify the parent alarm names in the\n                <code>AlarmNames</code> parameter.</p>\n         </note>"
          }
        },
        "StateValue": {
          "target": "com.amazonaws.cloudwatch#StateValue",
          "traits": {
            "smithy.api#documentation": "<p>Specify this parameter to receive information only about alarms that are currently\n            in the state that you specify.</p>"
          }
        },
        "ActionPrefix": {
          "target": "com.amazonaws.cloudwatch#ActionPrefix",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter to filter the results of the operation to only those alarms that\n            use a certain alarm action. For example, you could specify the ARN of an SNS topic to\n            find all alarms that send notifications to that topic.</p>"
          }
        },
        "MaxRecords": {
          "target": "com.amazonaws.cloudwatch#MaxRecords",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of alarm descriptions to retrieve.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned by a previous call to indicate that there is more data\n            available.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatch#DescribeAlarmsOutput": {
      "type": "structure",
      "members": {
        "CompositeAlarms": {
          "target": "com.amazonaws.cloudwatch#CompositeAlarms",
          "traits": {
            "smithy.api#documentation": "<p>The information about any composite alarms returned by the operation.</p>"
          }
        },
        "MetricAlarms": {
          "target": "com.amazonaws.cloudwatch#MetricAlarms",
          "traits": {
            "smithy.api#documentation": "<p>The information about any metric alarms returned by the operation.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that marks the start of the next batch of returned results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudwatch#DescribeAnomalyDetectors": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DescribeAnomalyDetectorsInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DescribeAnomalyDetectorsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InternalServiceFault"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidNextToken"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the anomaly detection models that you have created in your account. For single\n            metric anomaly detectors, you can list all of the models in your account or filter the\n            results to only the models that are related to a certain namespace, metric name, or\n            metric dimension. For metric math anomaly detectors, you can list them by adding\n            <code>METRIC_MATH</code> to the <code>AnomalyDetectorTypes</code> array. This will\n            return all metric math anomaly detectors in your account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AnomalyDetectors",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeAnomalyDetectorsInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Use the token returned by the previous operation to request the next page of\n            results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.cloudwatch#MaxReturnedResultsCount",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in one operation. The maximum value that you\n            can specify is 100.</p>\n         <p>To retrieve the remaining results, make another call with the returned\n            <code>NextToken</code> value. </p>"
          }
        },
        "Namespace": {
          "target": "com.amazonaws.cloudwatch#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>Limits the results to only the anomaly detection models that are associated with the\n            specified namespace.</p>"
          }
        },
        "MetricName": {
          "target": "com.amazonaws.cloudwatch#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>Limits the results to only the anomaly detection models that are associated with the\n            specified metric name. If there are multiple metrics with this name in different\n            namespaces that have anomaly detection models, they're all returned.</p>"
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.cloudwatch#Dimensions",
          "traits": {
            "smithy.api#documentation": "<p>Limits the results to only the anomaly detection models that are associated with the\n            specified metric dimensions. If there are multiple metrics that have these dimensions\n            and have anomaly detection models associated, they're all returned.</p>"
          }
        },
        "AnomalyDetectorTypes": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectorTypes",
          "traits": {
            "smithy.api#documentation": "<p>The anomaly detector types to request when using\n            <code>DescribeAnomalyDetectorsInput</code>. If empty, defaults to\n            <code>SINGLE_METRIC</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatch#DescribeAnomalyDetectorsOutput": {
      "type": "structure",
      "members": {
        "AnomalyDetectors": {
          "target": "com.amazonaws.cloudwatch#AnomalyDetectors",
          "traits": {
            "smithy.api#documentation": "<p>The list of anomaly detection models returned by the operation.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that you can use in a subsequent operation to retrieve the next set of\n            results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudwatch#DescribeInsightRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DescribeInsightRulesInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DescribeInsightRulesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidNextToken"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of all the Contributor Insights rules in your account.</p>\n         <p>For more information about Contributor Insights, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/ContributorInsights.html\">Using Contributor\n            Insights to Analyze High-Cardinality Data</a>.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.cloudwatch#DescribeInsightRulesInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Include this value, if it was returned by the previous operation, to get the next set\n            of rules.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.cloudwatch#InsightRuleMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in one operation. If you omit this parameter,\n            the default of 500 is used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatch#DescribeInsightRulesOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.cloudwatch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If this parameter is present, it is a token that marks the start of the next batch of\n            returned results. </p>"
          }
        },
        "InsightRules": {
          "target": "com.amazonaws.cloudwatch#InsightRules",
          "traits": {
            "smithy.api#documentation": "<p>The rules returned by the operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudwatch#Dimension": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.cloudwatch#DimensionName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The name of the dimension. Dimension names must contain only ASCII characters, must\n            include at least one non-whitespace character, and cannot start with a colon\n            (<code>:</code>). ASCII control characters are not supported as part of dimension\n            names.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.cloudwatch#DimensionValue",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The value of the dimension. Dimension values must contain only ASCII characters and\n            must include at least one non-whitespace character. ASCII control characters are not\n            supported as part of dimension values.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A dimension is a name/value pair that is part of the identity of a metric. Because\n            dimensions are part of the unique identifier for a metric, whenever you add a unique\n            name/value pair to one of your metrics, you are creating a new variation of that metric.\n            For example, many Amazon EC2 metrics publish <code>InstanceId</code> as a\n            dimension name, and the actual instance ID as the value for that dimension.</p>\n         <p>You can assign up to 30 dimensions to a metric.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DimensionFilter": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.cloudwatch#DimensionName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The dimension name to be matched.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.cloudwatch#DimensionValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the dimension to be matched.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents filters for a dimension.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DimensionFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#DimensionFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.cloudwatch#DimensionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#DimensionValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.cloudwatch#Dimensions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#Dimension"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 30
        }
      }
    },
    "com.amazonaws.cloudwatch#DisableAlarmActions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DisableAlarmActionsInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#documentation": "<p>Disables the actions for the specified alarms. When an alarm's actions are\n            disabled, the alarm actions do not execute when the alarm state changes.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DisableAlarmActionsInput": {
      "type": "structure",
      "members": {
        "AlarmNames": {
          "target": "com.amazonaws.cloudwatch#AlarmNames",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The names of the alarms.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatch#DisableInsightRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#DisableInsightRulesInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#DisableInsightRulesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables the specified Contributor Insights rules. When rules are disabled, they do\n            not analyze log groups and do not incur costs.</p>"
      }
    },
    "com.amazonaws.cloudwatch#DisableInsightRulesInput": {
      "type": "structure",
      "members": {
        "RuleNames": {
          "target": "com.amazonaws.cloudwatch#InsightRuleNames",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>An array of the rule names to disable. If you need to find out the names of your\n            rules, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_DescribeInsightRules.html\">DescribeInsightRules</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatch#DisableInsightRulesOutput": {
      "type": "structure",
      "members": {
        "Failures": {
          "target": "com.amazonaws.cloudwatch#BatchFailures",
          "traits": {
            "smithy.api#documentation": "<p>An array listing the rules that could not be disabled. You cannot disable built-in\n            rules.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudwatch#EnableAlarmActions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#EnableAlarmActionsInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "traits": {
        "smithy.api#documentation": "<p>Enables the actions for the specified alarms.</p>"
      }
    },
    "com.amazonaws.cloudwatch#EnableAlarmActionsInput": {
      "type": "structure",
      "members": {
        "AlarmNames": {
          "target": "com.amazonaws.cloudwatch#AlarmNames",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The names of the alarms.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatch#EnableInsightRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#EnableInsightRulesInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#EnableInsightRulesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables the specified Contributor Insights rules. When rules are enabled, they\n            immediately begin analyzing log data.</p>"
      }
    },
    "com.amazonaws.cloudwatch#EnableInsightRulesInput": {
      "type": "structure",
      "members": {
        "RuleNames": {
          "target": "com.amazonaws.cloudwatch#InsightRuleNames",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>An array of the rule names to enable. If you need to find out the names of your rules,\n            use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_DescribeInsightRules.html\">DescribeInsightRules</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatch#EnableInsightRulesOutput": {
      "type": "structure",
      "members": {
        "Failures": {
          "target": "com.amazonaws.cloudwatch#BatchFailures",
          "traits": {
            "smithy.api#documentation": "<p>An array listing the rules that could not be enabled. You cannot disable or enable\n            built-in rules.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudwatch#Entity": {
      "type": "structure",
      "members": {
        "KeyAttributes": {
          "target": "com.amazonaws.cloudwatch#EntityKeyAttributesMap",
          "traits": {
            "smithy.api#documentation": "<p>The attributes of the entity which identify the specific entity, as a list of \n            key-value pairs. Entities with the same <code>KeyAttributes</code> are considered to be\n            the same entity. For an entity to be valid, the <code>KeyAttributes</code> must exist\n            and be formatted correctly.</p>\n         <p>There are five allowed attributes (key names): <code>Type</code>,\n            <code>ResourceType</code>, <code>Identifier</code>, <code>Name</code>, and\n            <code>Environment</code>.</p>\n         <p>For details about how to use the key attributes to specify an entity, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/adding-your-own-related-telemetry.html\">How \n            to add related \n            information to telemetry</a> in the <i>CloudWatch User \n            Guide</i>.</p>"
          }
        },
        "Attributes": {
          "target": "com.amazonaws.cloudwatch#EntityAttributesMap",
          "traits": {
            "smithy.api#documentation": "<p>Additional attributes of the entity that are not used to specify the identity of the\n            entity. A list of key-value pairs.</p>\n         <p>For details about how to use the attributes, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/adding-your-own-related-telemetry.html\">How \n            to add related information to \n            telemetry</a> in the <i>CloudWatch User Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An entity associated with metrics, to allow for finding related telemetry. An entity\n            is typically a resource or service within your system. For example, metrics from an\n            Amazon EC2 instance could be associated with that instance as the entity. \n            Similarly, metrics from a service that you own could be associated with that service as \n            the entity.</p>"
      }
    },
    "com.amazonaws.cloudwatch#EntityAttributesMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.cloudwatch#EntityAttributesMapKeyString"
      },
      "value": {
        "target": "com.amazonaws.cloudwatch#EntityAttributesMapValueString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.cloudwatch#EntityAttributesMapKeyString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.cloudwatch#EntityAttributesMapValueString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.cloudwatch#EntityKeyAttributesMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.cloudwatch#EntityKeyAttributesMapKeyString"
      },
      "value": {
        "target": "com.amazonaws.cloudwatch#EntityKeyAttributesMapValueString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 4
        }
      }
    },
    "com.amazonaws.cloudwatch#EntityKeyAttributesMapKeyString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        }
      }
    },
    "com.amazonaws.cloudwatch#EntityKeyAttributesMapValueString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.cloudwatch#EntityMetricData": {
      "type": "structure",
      "members": {
        "Entity": {
          "target": "com.amazonaws.cloudwatch#Entity",
          "traits": {
            "smithy.api#documentation": "<p>The entity associated with the metrics.</p>"
          }
        },
        "MetricData": {
          "target": "com.amazonaws.cloudwatch#MetricData",
          "traits": {
            "smithy.api#documentation": "<p>The metric data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A set of metrics that are associated with an entity, such as a specific service\n            or resource. Contains the entity and the list of metric data associated with it.</p>"
      }
    },
    "com.amazonaws.cloudwatch#EntityMetricDataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#EntityMetricData"
      }
    },
    "com.amazonaws.cloudwatch#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#EvaluateLowSampleCountPercentile": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.cloudwatch#EvaluationPeriods": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.cloudwatch#EvaluationState": {
      "type": "enum",
      "members": {
        "PARTIAL_DATA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARTIAL_DATA"
          }
        }
      }
    },
    "com.amazonaws.cloudwatch#ExceptionType": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#ExtendedStatistic": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#ExtendedStatistics": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatch#ExtendedStatistic"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.cloudwatch#FailureCode": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#FailureDescription": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#FailureResource": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#FaultDescription": {
      "type": "string"
    },
    "com.amazonaws.cloudwatch#GetDashboard": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#GetDashboardInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#GetDashboardOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#DashboardNotFoundError"
        },
        {
          "target": "com.amazonaws.cloudwatch#InternalServiceFault"
        },
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays the details of the dashboard that you specify.</p>\n         <p>To copy an existing dashboard, use <code>GetDashboard</code>, and then use the data\n            returned within <code>DashboardBody</code> as the template for the new dashboard when\n            you call <code>PutDashboard</code> to create the copy.</p>"
      }
    },
    "com.amazonaws.cloudwatch#GetDashboardInput": {
      "type": "structure",
      "members": {
        "DashboardName": {
          "target": "com.amazonaws.cloudwatch#DashboardName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The name of the dashboard to be described.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatch#GetDashboardOutput": {
      "type": "structure",
      "members": {
        "DashboardArn": {
          "target": "com.amazonaws.cloudwatch#DashboardArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dashboard.</p>"
          }
        },
        "DashboardBody": {
          "target": "com.amazonaws.cloudwatch#DashboardBody",
          "traits": {
            "smithy.api#documentation": "<p>The detailed information about the dashboard, including what widgets are included\n            and their location on the dashboard. For more information about the\n            <code>DashboardBody</code> syntax, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/CloudWatch-Dashboard-Body-Structure.html\">Dashboard Body Structure and Syntax</a>. </p>"
          }
        },
        "DashboardName": {
          "target": "com.amazonaws.cloudwatch#DashboardName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dashboard.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudwatch#GetInsightRuleReport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatch#GetInsightRuleReportInput"
      },
      "output": {
        "target": "com.amazonaws.cloudwatch#GetInsightRuleReportOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatch#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.cloudwatch#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation returns the time series data collected by a Contributor Insights rule.\n            The data includes the identity and number of contributors to the log group.</p>\n         <p>You can also optionally return one or more statistics about each data point in the\n            time series. These statistics can include the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>UniqueContributors</code> -- the number of unique contributors for each\n                    data point.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MaxContributorValue</code> -- the value of the top contributor for each\n                    data point. The identity of the contributor might change for each data point in\n                    the graph.</p>\n               <p>If this rule aggregates by COUNT, the top contributor for each data point is\n                    the contributor with the most occurrences in that period. If the rule aggregates\n                    by SUM, the top contributor is the contributor with the highest sum in the log\n                    field specified by the rule's <code>Value</code>, during that period.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SampleCount</code> -- the number of data points matched by the\n                    rule.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Sum</code> -- the sum of the values from all contributors during the\n                    time period represented by that data point.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Minimum</code> -- the minimum value from a single observation during the\n                    time period represented by that data point.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Maximum</code> -- the maximum value from a single observation during the\n                    time period represented by that data point.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Average</code> -- the average value from all contributors during the\n                    time period represented by that data point.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.cloudwatch#GetInsightRuleReportInput": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.cloudwatch#InsightRuleName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The name of the rule that you want to see data from.</p>",
            "smithy.api#required": {}
          }
        },
        "StartTime": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The start time of the data to use in the report. When used in a raw HTTP Query API, it\n            is formatted as <code>yyyy-MM-dd'T'HH:mm:ss</code>. For example,\n            <code>2019-07-01T23:59:59</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.cloudwatch#Timestamp",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The end time of the data to use in the report. When used in a raw HTTP Query API, it\n            is formatted as <code>yyyy-MM-dd'T'HH:mm:ss</code>. For example,\n            <code>2019-07-01T23:59:59</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Period": {
          "target": "com.amazonaws.cloudwatch#Period",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The period, in seconds, to use for the statistics in the\n            <code>InsightRuleMetricDatapoint</code> results.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxContributorCount": {
          "target": "com.amazonaws.cloudwatch#InsightRuleUnboundInteger",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of contributors to include in the report. The range is 1 to 100. If\n            you omit this, the default of 10 is used.</p>"
          }
        },
        "Metrics": {
          "target": "com.amazonaws.cloudwatch#InsightRuleMetricList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which metrics to use for aggregation of contributor values for the report.\n            You can specify one or more of the following metrics:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>UniqueContributors</code> -- the number of unique contributors for each\n                    data point.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MaxContributorValue</code> -- the value of the top contributor for each\n                    data point. The identity of the contributor might change for each data point in\n                    the graph.</p>\n               <p>If this rule aggregates by COUNT, the top contributor for each data point is\n                    the contributor with the most occurrences in that period. If the rule aggregates\n                    by SUM, the top contributor is the contributor with the highest sum in the log\n                    field specified by the rule's <code>Value</code>, during that period.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SampleCount</code> -- the number of data points matched by the\n                    rule.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Sum</code> -- the sum of the values from all contributors during the\n                    time period represented by that data point.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Minimum</code> -- the minimum value from a single observation during the\n                    time period represented by that data point.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Maximum</code> -- the maximum value from a single observation during the\n                    time period represented by that data point.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Average</code> -- the average value from all contributors during the\n                    time period represented by that data point.</p>\n            </li>\n         </ul>"
          }
        },
        "OrderBy": {
          "target": "com.amazonaws.cloudwatch#InsightRuleOrderBy",
          "traits": {
            "smithy.api#documentation": "<p>Determines what statistic to use to rank the contributors. Valid values are\n            <code>Sum</code> and <code>Maximum</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatch#GetInsightRuleReportOutput": {
      "type": "structure",
      "members": {
        "KeyLabels": {
          "target": "com.amazonaws.cloudwatch#InsightRuleContributorKeyLabels",
          "traits": {
            "smithy.api#documentation": "<p>An array of the strings used as the keys for this rule. The keys are the dimensions\n            used to classify contributors. If the rule contains more than one key, then each unique\n            combination of values for the keys is counted as a unique contributor.</p>"
          }
        },
        "AggregationStatistic": {
          "target": "com.amazonaws.cloudwatch#InsightRuleAggregationStatistic",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this rule aggregates contributor data by COUNT or SUM.</p>"
          }
        },
        "AggregateValue": {
          "target": "com.amazonaws.cloudwatch#InsightRuleUnboundDouble",
          "traits": {
            "smithy.api#documentation": "<p>The sum of the values from all individual contributors that match the rule.</p>"
          }
[...]
