{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.cloudtrail#AddTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudtrail#AddTagsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudtrail#AddTagsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudtrail#CloudTrailARNInvalidException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidTagParameterException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidTrailNameException"
        },
        {
          "target": "com.amazonaws.cloudtrail#NotOrganizationMasterAccountException"
        },
        {
          "target": "com.amazonaws.cloudtrail#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.cloudtrail#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudtrail#ResourceTypeNotSupportedException"
        },
        {
          "target": "com.amazonaws.cloudtrail#TagsLimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudtrail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more tags to a trail, up to a limit of 50. Overwrites an existing tag's value when a new value is specified for an existing tag key. \n         Tag key names must be unique for a trail; you cannot have two keys with the same name but different values. \n          If you specify a key without a value, the tag will be created with the specified key and a value of null. \n          You can tag a trail that applies to all AWS Regions only from the Region in which the trail was created (also known as its home region).</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cloudtrail#AddTagsRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p>\n         <p>\n            <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "TagsList": {
          "target": "com.amazonaws.cloudtrail#TagsList",
          "traits": {
            "smithy.api#documentation": "<p>Contains a list of CloudTrail tags, up to a limit of 50</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the tags to add to a trail.</p>"
      }
    },
    "com.amazonaws.cloudtrail#AddTagsResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      }
    },
    "com.amazonaws.cloudtrail#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.cloudtrail#ByteBuffer": {
      "type": "blob"
    },
    "com.amazonaws.cloudtrail#CloudTrailARNInvalidException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when an operation is called with an invalid trail ARN. The format of a trail ARN is:</p>\n         <p>\n            <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code>\n         </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#CloudTrailAccessNotEnabledException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when trusted access has not been enabled between AWS CloudTrail and AWS Organizations. For more information, \n         see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html\">Enabling Trusted Access with Other AWS Services</a>\n         and <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/creating-an-organizational-trail-prepare.html\">Prepare For Creating a Trail For Your Organization</a>. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#CloudTrail_20131101": {
      "type": "service",
      "version": "2013-11-01",
      "operations": [
        {
          "target": "com.amazonaws.cloudtrail#AddTags"
        },
        {
          "target": "com.amazonaws.cloudtrail#CreateTrail"
        },
        {
          "target": "com.amazonaws.cloudtrail#DeleteTrail"
        },
        {
          "target": "com.amazonaws.cloudtrail#DescribeTrails"
        },
        {
          "target": "com.amazonaws.cloudtrail#GetEventSelectors"
        },
        {
          "target": "com.amazonaws.cloudtrail#GetInsightSelectors"
        },
        {
          "target": "com.amazonaws.cloudtrail#GetTrail"
        },
        {
          "target": "com.amazonaws.cloudtrail#GetTrailStatus"
        },
        {
          "target": "com.amazonaws.cloudtrail#ListPublicKeys"
        },
        {
          "target": "com.amazonaws.cloudtrail#ListTags"
        },
        {
          "target": "com.amazonaws.cloudtrail#ListTrails"
        },
        {
          "target": "com.amazonaws.cloudtrail#LookupEvents"
        },
        {
          "target": "com.amazonaws.cloudtrail#PutEventSelectors"
        },
        {
          "target": "com.amazonaws.cloudtrail#PutInsightSelectors"
        },
        {
          "target": "com.amazonaws.cloudtrail#RemoveTags"
        },
        {
          "target": "com.amazonaws.cloudtrail#StartLogging"
        },
        {
          "target": "com.amazonaws.cloudtrail#StopLogging"
        },
        {
          "target": "com.amazonaws.cloudtrail#UpdateTrail"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CloudTrail",
          "arnNamespace": "cloudtrail",
          "cloudFormationName": "CloudTrail",
          "cloudTrailEventSource": "v20131101.cloudtrail.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "cloudtrail"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>AWS CloudTrail</fullname>\n         <p>This is the CloudTrail API Reference. It provides descriptions of actions, data types, common parameters, and common errors for CloudTrail.</p>\n         <p>CloudTrail is a web service that records AWS API calls for your AWS account and delivers log files to an Amazon S3 bucket. The recorded information includes the identity of the user, the start time of the AWS API call, the source IP address, the request parameters, and the response elements returned by the service.</p> \n      \n         <note>\n            <p>As an alternative to the API,\n         you can use one of the AWS SDKs, which consist of libraries and sample code for various\n         programming languages and platforms (Java, Ruby, .NET, iOS, Android, etc.). The SDKs\n         provide a convenient way to create programmatic access to AWSCloudTrail. For example, the SDKs\n         take care of cryptographically signing requests, managing errors, and retrying requests\n         automatically. For information about the AWS SDKs, including how to download and install\n         them, see the <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services\n            page</a>.</p> \n         </note> \n         <p>See the <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-user-guide.html\">AWS CloudTrail User Guide</a> for information about the data that is included with each AWS API call listed in the log files.</p>",
        "smithy.api#title": "AWS CloudTrail",
        "smithy.api#xmlNamespace": {
          "uri": "http://cloudtrail.amazonaws.com/doc/2013-11-01/"
        }
      }
    },
    "com.amazonaws.cloudtrail#CloudWatchLogsDeliveryUnavailableException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Cannot set a CloudWatch Logs delivery for this region.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#CreateTrail": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudtrail#CreateTrailRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudtrail#CreateTrailResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudtrail#CloudTrailAccessNotEnabledException"
        },
        {
          "target": "com.amazonaws.cloudtrail#CloudWatchLogsDeliveryUnavailableException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InsufficientDependencyServiceAccessPermissionException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InsufficientEncryptionPolicyException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InsufficientS3BucketPolicyException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InsufficientSnsTopicPolicyException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidCloudWatchLogsLogGroupArnException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidCloudWatchLogsRoleArnException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidKmsKeyIdException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidS3BucketNameException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidS3PrefixException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidSnsTopicNameException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidTagParameterException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidTrailNameException"
        },
        {
          "target": "com.amazonaws.cloudtrail#KmsException"
        },
        {
          "target": "com.amazonaws.cloudtrail#KmsKeyDisabledException"
        },
        {
          "target": "com.amazonaws.cloudtrail#KmsKeyNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudtrail#MaximumNumberOfTrailsExceededException"
        },
        {
          "target": "com.amazonaws.cloudtrail#NotOrganizationMasterAccountException"
        },
        {
          "target": "com.amazonaws.cloudtrail#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.cloudtrail#OrganizationNotInAllFeaturesModeException"
        },
        {
          "target": "com.amazonaws.cloudtrail#OrganizationsNotInUseException"
        },
        {
          "target": "com.amazonaws.cloudtrail#S3BucketDoesNotExistException"
        },
        {
          "target": "com.amazonaws.cloudtrail#TrailAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.cloudtrail#TrailNotProvidedException"
        },
        {
          "target": "com.amazonaws.cloudtrail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a trail that specifies the settings for delivery of log data to an Amazon S3 bucket. </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cloudtrail#CreateTrailRequest": {
      "type": "structure",
      "members": {
        "CloudWatchLogsLogGroupArn": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a log group name using an Amazon Resource Name (ARN), a unique identifier that represents the log group \n         to which CloudTrail logs will be delivered. Not required unless you specify CloudWatchLogsRoleArn.</p>"
          }
        },
        "CloudWatchLogsRoleArn": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user's log group.</p>"
          }
        },
        "EnableLogFileValidation": {
          "target": "com.amazonaws.cloudtrail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether log file integrity validation is enabled. The default is false.</p>\n         <note>\n            <p>When you disable log file integrity validation, the chain of digest files is broken after one hour. CloudTrail will not create digest files for log files that were delivered during a period in which log file integrity validation was disabled. For example, if you enable log file integrity validation at noon on January 1, disable it at noon on January 2, and re-enable it at noon on January 10, digest files will not be created for the log files delivered from noon on January 2 to noon on January 10. The same applies whenever you stop CloudTrail logging or delete a trail.</p>\n         </note>"
          }
        },
        "IncludeGlobalServiceEvents": {
          "target": "com.amazonaws.cloudtrail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the trail is publishing events from global services such as IAM to the log files.</p>"
          }
        },
        "IsMultiRegionTrail": {
          "target": "com.amazonaws.cloudtrail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the trail is created in the current region or in all regions. The default is false, which creates a trail only in the region where you are signed in. As a best practice, consider\n      creating trails that log events in all regions.</p>"
          }
        },
        "IsOrganizationTrail": {
          "target": "com.amazonaws.cloudtrail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the trail is created for all accounts in an organization in AWS Organizations, or only for the current AWS account. \n      The default is false, and cannot be true unless the call is made on behalf of an AWS account that is the master account for an organization in \n      AWS Organizations.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the KMS key ID to use to encrypt the logs delivered by CloudTrail. The\n         value can be an alias name prefixed by \"alias/\", a fully specified ARN to an alias, a fully\n         specified ARN to a key, or a globally unique identifier.</p>\n         <p>Examples:</p>\n         <ul>\n            <li>\n               <p>alias/MyAliasName</p>\n            </li>\n            <li>\n               <p>arn:aws:kms:us-east-2:123456789012:alias/MyAliasName</p>\n            </li>\n            <li>\n               <p>arn:aws:kms:us-east-2:123456789012:key/12345678-1234-1234-1234-123456789012</p>\n            </li>\n            <li>\n               <p>12345678-1234-1234-1234-123456789012</p>\n            </li>\n         </ul>"
          }
        },
        "Name": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the trail. The name must meet the following requirements:</p>\n         <ul>\n            <li>\n               <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p>\n            </li>\n            <li>\n               <p>Start with a letter or number, and end with a letter or number</p>\n            </li>\n            <li>\n               <p>Be between 3 and 128 characters</p>\n            </li>\n            <li>\n               <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code>\n            and <code>my--namespace</code> are invalid.</p>\n            </li>\n            <li>\n               <p>Not be in IP address format (for example, 192.168.5.4)</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the Amazon S3 bucket designated for publishing log files. See <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon S3 Bucket Naming Requirements</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "S3KeyPrefix": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated\n         for log file delivery. For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>. The maximum length is 200 characters.</p>"
          }
        },
        "SnsTopicName": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the Amazon SNS topic defined for notification of log file delivery. The maximum length is 256 characters.</p>"
          }
        },
        "TagsList": {
          "target": "com.amazonaws.cloudtrail#TagsList"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the settings for each trail.</p>"
      }
    },
    "com.amazonaws.cloudtrail#CreateTrailResponse": {
      "type": "structure",
      "members": {
        "CloudWatchLogsLogGroupArn": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the log group to which CloudTrail logs will be delivered.</p>"
          }
        },
        "CloudWatchLogsRoleArn": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user's log group.</p>"
          }
        },
        "IncludeGlobalServiceEvents": {
          "target": "com.amazonaws.cloudtrail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the trail is publishing events from global services such as IAM to the log files.</p>"
          }
        },
        "IsMultiRegionTrail": {
          "target": "com.amazonaws.cloudtrail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the trail exists in one region or in all regions.</p>"
          }
        },
        "IsOrganizationTrail": {
          "target": "com.amazonaws.cloudtrail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the trail is an organization trail.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the KMS key ID that encrypts the logs delivered by CloudTrail. The value is a fully specified ARN to a KMS key in the format:</p>\n         <p>\n            <code>arn:aws:kms:us-east-2:123456789012:key/12345678-1234-1234-1234-123456789012</code>\n         </p>"
          }
        },
        "LogFileValidationEnabled": {
          "target": "com.amazonaws.cloudtrail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether log file integrity validation is enabled.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the trail.</p>"
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the Amazon S3 bucket designated for publishing log files.</p>"
          }
        },
        "S3KeyPrefix": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated\n         for log file delivery. For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>.</p>"
          }
        },
        "SnsTopicARN": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of the Amazon SNS topic that CloudTrail uses to send notifications when log files are delivered. The format of a topic ARN is:</p>\n         <p>\n            <code>arn:aws:sns:us-east-2:123456789012:MyTopic</code>\n         </p>"
          }
        },
        "SnsTopicName": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>This field is no longer in use. Use SnsTopicARN.</p>"
          }
        },
        "TrailARN": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ARN of the trail that was created. The format of a trail ARN\n         is:</p>\n         <p>\n            <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      }
    },
    "com.amazonaws.cloudtrail#DataResource": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type in which you want to log data events. You can specify <code>AWS::S3::Object</code> or\n         <code>AWS::Lambda::Function</code> resources.</p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.cloudtrail#DataResourceValues",
          "traits": {
            "smithy.api#documentation": "<p>An array of Amazon Resource Name (ARN) strings or partial ARN strings for the specified objects.</p>\n         <ul>\n            <li>\n               <p>To log data events for all objects in all S3 buckets in your AWS account, specify the \n         prefix as <code>arn:aws:s3:::</code>. </p>\n               <note>\n                  <p>This will also enable logging of data event activity performed by any user or role in your AWS account, \n         even if that activity is performed on a bucket that belongs to another AWS account. </p>\n               </note>\n            </li>\n            <li>\n               <p>To log data events for all objects in an S3 bucket, specify the bucket and an empty\n         object prefix such as <code>arn:aws:s3:::bucket-1/</code>. The trail logs data events for\n         all objects in this S3 bucket.</p>\n            </li>\n            <li>\n               <p>To log data events for specific objects, specify the S3 bucket and object prefix such\n         as <code>arn:aws:s3:::bucket-1/example-images</code>. The trail logs data events for\n         objects in this S3 bucket that match the prefix.</p>\n            </li>\n            <li>\n               <p>To log data events for all functions in your AWS account, specify the prefix as\n      <code>arn:aws:lambda</code>.</p>\n               <note>\n                  <p>This will also enable logging of <code>Invoke</code> activity performed by any user or role in your AWS account, \n            even if that activity is performed on a function that belongs to another AWS account. </p>\n               </note>\n            </li>\n            <li>\n               <p>To log data events for a specific Lambda function, specify the function ARN.</p>\n               <note>\n                  <p>Lambda function ARNs are exact. For example, if you specify a \n            function ARN <i>arn:aws:lambda:us-west-2:111111111111:function:helloworld</i>, data events will\n            only be logged for <i>arn:aws:lambda:us-west-2:111111111111:function:helloworld</i>. They will\n            not be logged for <i>arn:aws:lambda:us-west-2:111111111111:function:helloworld2</i>.</p>\n               </note> \n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon S3 buckets or AWS Lambda functions that you specify in your event selectors for your trail to\n         log data events. Data events provide information about the resource operations performed on or within a resource itself.\n         These are also known as data plane operations. You can specify up to 250 data resources for a trail.</p>\n         <note>\n            <p>The total number of allowed data resources is 250. This number can be distributed between 1 and 5 event selectors, \n      but the total cannot exceed 250 across all selectors.</p>\n         </note>\n         <p>The following example demonstrates how logging works when you configure logging of all data events\n      for an S3 bucket named <code>bucket-1</code>. In this example, the CloudTrail user specified an empty prefix, \n      and the option to log both <code>Read</code> and <code>Write</code> data events.</p>\n         <ol>\n            <li>\n               <p>A user uploads an image file to <code>bucket-1</code>.</p>\n            </li>\n            <li>\n               <p>The <code>PutObject</code> API operation is an Amazon S3 object-level API. \n            It is recorded as a data event in CloudTrail. Because the CloudTrail user specified an S3 bucket\n            with an empty prefix, events that occur on any object in that bucket are logged. The trail processes and logs the\n               event.</p>\n            </li>\n            <li>\n               <p>A user uploads an object to an Amazon S3 bucket named\n                  <code>arn:aws:s3:::bucket-2</code>.</p>\n            </li>\n            <li>\n               <p>The <code>PutObject</code> API operation occurred for an object in an S3 bucket that the CloudTrail\n            user didn't specify for the trail. The trail doesn’t log the event.</p>\n            </li>\n         </ol>\n         <p>The following example demonstrates how logging works when you configure logging of AWS Lambda data events for a \n         Lambda function named <i>MyLambdaFunction</i>, but not for all AWS Lambda functions.</p>\n         <ol>\n            <li>\n               <p>A user runs a script that includes a call to the <i>MyLambdaFunction</i> function and the\n               <i>MyOtherLambdaFunction</i> function.</p>\n            </li>\n            <li>\n               <p>The <code>Invoke</code> API operation on <i>MyLambdaFunction</i> is an AWS Lambda API. \n               It is recorded as a data event in CloudTrail. Because the CloudTrail user specified logging data events for\n               <i>MyLambdaFunction</i>, any invocations of that function are logged. The trail processes and logs the event. </p>\n            </li>\n            <li>\n               <p>The <code>Invoke</code> API operation on <i>MyOtherLambdaFunction</i> is an AWS Lambda API. \n               Because the CloudTrail user did not specify logging data events for all Lambda functions,\n               the <code>Invoke</code> operation for <i>MyOtherLambdaFunction</i> does not match the function specified for the trail. \n               The trail doesn’t log the event. </p>\n            </li>\n         </ol>"
      }
    },
    "com.amazonaws.cloudtrail#DataResourceValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudtrail#String"
      }
    },
    "com.amazonaws.cloudtrail#DataResources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudtrail#DataResource"
      }
    },
    "com.amazonaws.cloudtrail#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.cloudtrail#DeleteTrail": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudtrail#DeleteTrailRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudtrail#DeleteTrailResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudtrail#InsufficientDependencyServiceAccessPermissionException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidHomeRegionException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidTrailNameException"
        },
        {
          "target": "com.amazonaws.cloudtrail#NotOrganizationMasterAccountException"
        },
        {
          "target": "com.amazonaws.cloudtrail#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.cloudtrail#TrailNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudtrail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a trail. This operation must be called from the region in which the trail was\n         created. <code>DeleteTrail</code> cannot be called on the shadow trails (replicated trails\n         in other regions) of a trail that is enabled in all regions.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cloudtrail#DeleteTrailRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a\n         trail ARN is:\n         <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request that specifies the name of a trail to delete.</p>"
      }
    },
    "com.amazonaws.cloudtrail#DeleteTrailResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      }
    },
    "com.amazonaws.cloudtrail#DescribeTrails": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudtrail#DescribeTrailsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudtrail#DescribeTrailsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudtrail#InvalidTrailNameException"
        },
        {
          "target": "com.amazonaws.cloudtrail#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.cloudtrail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves settings for one or more trails associated with the current region for your account.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cloudtrail#DescribeTrailsRequest": {
      "type": "structure",
      "members": {
        "includeShadowTrails": {
          "target": "com.amazonaws.cloudtrail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to include shadow trails in the response. A shadow trail is the replication in a region of a trail that was created in a different region,\n         or in the case of an organization trail, the replication of an organization trail in member accounts. If you do not include shadow trails, organization trails in a member account\n         and region replication trails will not be returned. The default is true.</p>"
          }
        },
        "trailNameList": {
          "target": "com.amazonaws.cloudtrail#TrailNameList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of trail names, trail ARNs, or both, of the trails to describe. The format of a trail ARN is:</p>\n         <p>\n            <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code>\n         </p> \n      \n         <p>If an empty list is specified, information for the trail in the current region is returned.</p>\n         <ul>\n            <li>\n               <p>If an empty list is specified and <code>IncludeShadowTrails</code> is false, then\n            information for all trails in the current region is returned.</p>\n            </li>\n            <li>\n               <p>If an empty list is specified and IncludeShadowTrails is null or true, then information for all trails in the current region and any associated shadow trails in other regions is returned.</p>\n            </li>\n         </ul>\n         <note>\n            <p>If one or more trail names are specified, information is returned only if the names match the names of trails belonging only to the current region. To return information about a trail in another region, you must specify its trail ARN.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the trail.</p>"
      }
    },
    "com.amazonaws.cloudtrail#DescribeTrailsResponse": {
      "type": "structure",
      "members": {
        "trailList": {
          "target": "com.amazonaws.cloudtrail#TrailList",
          "traits": {
            "smithy.api#documentation": "<p>The list of trail objects. Trail objects with string values are only returned if values for the objects exist in a trail's configuration. \n         For example, <code>SNSTopicName</code> and <code>SNSTopicARN</code> are only returned in results if a trail is configured to send SNS notifications. Similarly, \n      <code>KMSKeyId</code> only appears in results if a trail's log files are encrypted with AWS KMS-managed keys.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      }
    },
    "com.amazonaws.cloudtrail#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.cloudtrail#Event": {
      "type": "structure",
      "members": {
        "AccessKeyId": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS access key ID that was used to sign the request. If the request was made \n         with temporary security credentials, this is the access key ID of the temporary credentials.</p>"
          }
        },
        "CloudTrailEvent": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>A JSON string that contains a representation of the event returned.</p>"
          }
        },
        "EventId": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>The CloudTrail ID of the event returned.</p>"
          }
        },
        "EventName": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event returned.</p>"
          }
        },
        "EventSource": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS service that the request was made to.</p>"
          }
        },
        "EventTime": {
          "target": "com.amazonaws.cloudtrail#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time of the event returned.</p>"
          }
        },
        "ReadOnly": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Information about whether the event is a write event or a read event. </p>"
          }
        },
        "Resources": {
          "target": "com.amazonaws.cloudtrail#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>A list of resources referenced by the event returned.</p>"
          }
        },
        "Username": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>A user name or role name of the requester that called the API in the event returned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an event that was returned by a lookup request. The result includes a representation of a CloudTrail event.</p>"
      }
    },
    "com.amazonaws.cloudtrail#EventCategory": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "insight",
            "name": "Insight"
          }
        ]
      }
    },
    "com.amazonaws.cloudtrail#EventSelector": {
      "type": "structure",
      "members": {
        "DataResources": {
          "target": "com.amazonaws.cloudtrail#DataResources",
          "traits": {
            "smithy.api#documentation": "<p>CloudTrail supports data event logging for Amazon S3 objects and AWS Lambda functions. You can specify \n         up to 250 resources for an individual event selector, but the total number of data resources cannot exceed \n         250 across all event selectors in a trail. This limit does not apply if you configure resource logging for all data events. </p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-management-and-data-events-with-cloudtrail.html#logging-data-events\">Data Events</a> and <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/WhatIsCloudTrail-Limits.html\">Limits in AWS CloudTrail</a> \n         in the <i>AWS CloudTrail User Guide</i>.</p>"
          }
        },
        "ExcludeManagementEventSources": {
          "target": "com.amazonaws.cloudtrail#ExcludeManagementEventSources",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of service event sources from which you do not want management events to be logged on your trail. In this release, the list can be empty (disables the filter), or it can filter out AWS Key Management Service events by \n         containing <code>\"kms.amazonaws.com\"</code>. By default, <code>ExcludeManagementEventSources</code> is empty, and AWS KMS events are included in events that are logged to your trail. </p>"
          }
        },
        "IncludeManagementEvents": {
          "target": "com.amazonaws.cloudtrail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specify if you want your event selector to include management events for your trail.</p>\n         <p>\n         For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-management-and-data-events-with-cloudtrail.html#logging-management-events\">Management Events</a> in the <i>AWS CloudTrail User Guide</i>.</p> \n      \n         <p>By default, the value is <code>true</code>.</p>"
          }
        },
        "ReadWriteType": {
          "target": "com.amazonaws.cloudtrail#ReadWriteType",
          "traits": {
            "smithy.api#documentation": "<p>Specify if you want your trail to log read-only events, write-only events, or all. For example,\n         the EC2 <code>GetConsoleOutput</code> is a read-only API operation and\n            <code>RunInstances</code> is a write-only API operation.</p>\n         <p> By default, the value is <code>All</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Use event selectors to further specify the management and data event settings for your trail. By\n         default, trails created without specific event selectors will be configured to log all read and \n         write management events, and no data events. When an event occurs in your account, CloudTrail evaluates the event selector\n         for all trails. For each trail, if the event matches any event selector, the trail\n         processes and logs the event. If the event doesn't match any event selector, the trail\n         doesn't log the event.</p>\n         <p>You can configure up to five event selectors for a trail.</p>"
      }
    },
    "com.amazonaws.cloudtrail#EventSelectors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudtrail#EventSelector"
      }
    },
    "com.amazonaws.cloudtrail#EventsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudtrail#Event"
      }
    },
    "com.amazonaws.cloudtrail#ExcludeManagementEventSources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudtrail#String"
      }
    },
    "com.amazonaws.cloudtrail#GetEventSelectors": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudtrail#GetEventSelectorsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudtrail#GetEventSelectorsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudtrail#InvalidTrailNameException"
        },
        {
          "target": "com.amazonaws.cloudtrail#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.cloudtrail#TrailNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudtrail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the settings for the event selectors that you configured for your trail.\n         The information returned for your event selectors includes the following:</p>\n         <ul>\n            <li>\n               <p>If your event selector includes read-only events, write-only events, or\n            all events. This applies to both management events and data events.</p>\n            </li>\n            <li>\n               <p>If your event selector includes management events.</p>\n            </li>\n            <li>\n               <p>If your event selector includes data events, the Amazon S3 objects or AWS Lambda functions\n            that you are logging for data events.</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-management-and-data-events-with-cloudtrail.html\">Logging Data and Management Events for Trails\n      </a> in the <i>AWS CloudTrail User Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cloudtrail#GetEventSelectorsRequest": {
      "type": "structure",
      "members": {
        "TrailName": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the trail or trail ARN. If you specify a trail name, the\n         string must meet the following requirements:</p>\n         <ul>\n            <li>\n               <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p>\n            </li>\n            <li>\n               <p>Start with a letter or number, and end with a letter or number</p>\n            </li>\n            <li>\n               <p>Be between 3 and 128 characters</p>\n            </li>\n            <li>\n               <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code>\n                  and <code>my--namespace</code> are not valid.</p>\n            </li>\n            <li>\n               <p>Not be in IP address format (for example, 192.168.5.4)</p>\n            </li>\n         </ul>\n         <p>If you specify a trail ARN, it must be in the format:</p>\n         <p>\n            <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudtrail#GetEventSelectorsResponse": {
      "type": "structure",
      "members": {
        "EventSelectors": {
          "target": "com.amazonaws.cloudtrail#EventSelectors",
          "traits": {
            "smithy.api#documentation": "<p>The event selectors that are configured for the trail.</p>"
          }
        },
        "TrailARN": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>The specified trail ARN that has the event selectors.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudtrail#GetInsightSelectors": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudtrail#GetInsightSelectorsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudtrail#GetInsightSelectorsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudtrail#InsightNotEnabledException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidTrailNameException"
        },
        {
          "target": "com.amazonaws.cloudtrail#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.cloudtrail#TrailNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudtrail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the settings for the Insights event selectors that you configured for your trail. <code>GetInsightSelectors</code> shows \n         if CloudTrail Insights event logging is enabled on the trail, and if it is, which insight types are enabled. \n         If you run <code>GetInsightSelectors</code> on a trail that does not have Insights events enabled, the operation throws the exception\n         <code>InsightNotEnabledException</code>\n         </p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-insights-events-with-cloudtrail.html\">Logging CloudTrail Insights Events for Trails\n      </a> in the <i>AWS CloudTrail User Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cloudtrail#GetInsightSelectorsRequest": {
      "type": "structure",
      "members": {
        "TrailName": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the trail or trail ARN. If you specify a trail name, the\n         string must meet the following requirements:</p>\n         <ul>\n            <li>\n               <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p>\n            </li>\n            <li>\n               <p>Start with a letter or number, and end with a letter or number</p>\n            </li>\n            <li>\n               <p>Be between 3 and 128 characters</p>\n            </li>\n            <li>\n               <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code>\n               and <code>my--namespace</code> are not valid.</p>\n            </li>\n            <li>\n               <p>Not be in IP address format (for example, 192.168.5.4)</p>\n            </li>\n         </ul>\n         <p>If you specify a trail ARN, it must be in the format:</p>\n         <p>\n            <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudtrail#GetInsightSelectorsResponse": {
      "type": "structure",
      "members": {
        "InsightSelectors": {
          "target": "com.amazonaws.cloudtrail#InsightSelectors",
          "traits": {
            "smithy.api#documentation": "<p>A JSON string that contains the insight types you want to log on a trail. In this release, only <code>ApiCallRateInsight</code> is supported as an insight type.</p>"
          }
        },
        "TrailARN": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a trail for which you want to get Insights selectors.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudtrail#GetTrail": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudtrail#GetTrailRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudtrail#GetTrailResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudtrail#InvalidTrailNameException"
        },
        {
          "target": "com.amazonaws.cloudtrail#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.cloudtrail#TrailNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudtrail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns settings information for a specified trail.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cloudtrail#GetTrailRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>The name or the Amazon Resource Name (ARN) of the trail for which you want to retrieve settings information.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudtrail#GetTrailResponse": {
      "type": "structure",
      "members": {
        "Trail": {
          "target": "com.amazonaws.cloudtrail#Trail"
        }
      }
    },
    "com.amazonaws.cloudtrail#GetTrailStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudtrail#GetTrailStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudtrail#GetTrailStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudtrail#InvalidTrailNameException"
        },
        {
          "target": "com.amazonaws.cloudtrail#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.cloudtrail#TrailNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudtrail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a JSON-formatted list of information about the specified trail. Fields include information on delivery errors, Amazon SNS and Amazon S3 errors, and start and stop logging times for each trail. This operation returns trail status from a single region. To return trail status from all regions, you must call the operation on each region.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cloudtrail#GetTrailStatusRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name or the CloudTrail ARN of the trail for which you are requesting status. To get the status of a shadow trail (a replication of the trail in another region), you must specify its ARN. The format of a trail ARN is:</p>\n          <p>\n            <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The name of a trail about which you want the current status.</p>"
      }
    },
    "com.amazonaws.cloudtrail#GetTrailStatusResponse": {
      "type": "structure",
      "members": {
        "IsLogging": {
          "target": "com.amazonaws.cloudtrail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the CloudTrail is currently logging AWS API calls.</p>"
          }
        },
        "LatestCloudWatchLogsDeliveryError": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Displays any CloudWatch Logs error that CloudTrail encountered when attempting to deliver logs to CloudWatch Logs.</p>"
          }
        },
        "LatestCloudWatchLogsDeliveryTime": {
          "target": "com.amazonaws.cloudtrail#Date",
          "traits": {
            "smithy.api#documentation": "<p>Displays the most recent date and time when CloudTrail delivered logs to CloudWatch Logs.</p>"
          }
        },
        "LatestDeliveryAttemptSucceeded": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>This field is no longer in use.</p>"
          }
        },
        "LatestDeliveryAttemptTime": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>This field is no longer in use.</p>"
          }
        },
        "LatestDeliveryError": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Displays any Amazon S3 error that CloudTrail encountered when attempting to deliver log files\n         to the designated bucket. For more information see the topic <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html\">Error\n            Responses</a> in the Amazon S3 API Reference. </p>\n         <note>\n            <p>This error occurs only when there is a problem with the destination S3 bucket and will\n         not occur for timeouts. To resolve the issue, create a new bucket and call\n            <code>UpdateTrail</code> to specify the new bucket, or fix the existing objects so that\n         CloudTrail can again write to the bucket.</p>\n         </note>"
          }
        },
        "LatestDeliveryTime": {
          "target": "com.amazonaws.cloudtrail#Date",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the date and time that CloudTrail last delivered log files to an account's Amazon S3 bucket.</p>"
          }
        },
        "LatestDigestDeliveryError": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Displays any Amazon S3 error that CloudTrail encountered when attempting to deliver a digest\n         file to the designated bucket. For more information see the topic <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html\">Error\n            Responses</a> in the Amazon S3 API Reference. </p>\n         <note>\n            <p>This error occurs only when there is a problem with the destination S3 bucket and will\n         not occur for timeouts. To resolve the issue, create a new bucket and call\n            <code>UpdateTrail</code> to specify the new bucket, or fix the existing objects so that\n         CloudTrail can again write to the bucket.</p>\n         </note>"
          }
        },
        "LatestDigestDeliveryTime": {
          "target": "com.amazonaws.cloudtrail#Date",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the date and time that CloudTrail last delivered a digest file to an account's Amazon S3 bucket.</p>"
          }
        },
        "LatestNotificationAttemptSucceeded": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>This field is no longer in use.</p>"
          }
        },
        "LatestNotificationAttemptTime": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>This field is no longer in use.</p>"
          }
        },
        "LatestNotificationError": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Displays any Amazon SNS error that CloudTrail encountered when attempting to send a\n         notification. For more information about Amazon SNS errors, see the <a href=\"https://docs.aws.amazon.com/sns/latest/dg/welcome.html\">Amazon SNS Developer Guide</a>.\n      </p>"
          }
        },
        "LatestNotificationTime": {
          "target": "com.amazonaws.cloudtrail#Date",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the date and time of the most recent Amazon SNS notification that CloudTrail has written a new log file to an account's Amazon S3 bucket.</p>"
          }
        },
        "StartLoggingTime": {
          "target": "com.amazonaws.cloudtrail#Date",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the most recent date and time when CloudTrail started recording API calls for an AWS account.</p>"
          }
        },
        "StopLoggingTime": {
          "target": "com.amazonaws.cloudtrail#Date",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the most recent date and time when CloudTrail stopped recording API calls for an AWS account.</p>"
          }
        },
        "TimeLoggingStarted": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>This field is no longer in use.</p>"
          }
        },
        "TimeLoggingStopped": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>This field is no longer in use.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      }
    },
    "com.amazonaws.cloudtrail#InsightNotEnabledException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>If you run <code>GetInsightSelectors</code> on a trail that does not have Insights events enabled, the operation throws the exception <code>InsightNotEnabledException</code>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InsightSelector": {
      "type": "structure",
      "members": {
        "InsightType": {
          "target": "com.amazonaws.cloudtrail#InsightType",
          "traits": {
            "smithy.api#documentation": "<p>The type of insights to log on a trail. In this release, only <code>ApiCallRateInsight</code> is supported as an insight type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A JSON string that contains a list of insight types that are logged on a trail.</p>"
      }
    },
    "com.amazonaws.cloudtrail#InsightSelectors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudtrail#InsightSelector"
      }
    },
    "com.amazonaws.cloudtrail#InsightType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ApiCallRateInsight",
            "name": "ApiCallRateInsight"
          }
        ]
      }
    },
    "com.amazonaws.cloudtrail#InsufficientDependencyServiceAccessPermissionException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the IAM user or role that is used to create the organization trail is lacking one or more required permissions for \n         creating an organization trail in a required service. For more information, see \n         <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/creating-an-organizational-trail-prepare.html\">Prepare For Creating a Trail For Your Organization</a>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InsufficientEncryptionPolicyException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the policy on the S3 bucket or KMS key is not sufficient.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InsufficientS3BucketPolicyException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the policy on the S3 bucket is not sufficient.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.cloudtrail#InsufficientSnsTopicPolicyException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the policy on the SNS topic is not sufficient.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.cloudtrail#InvalidCloudWatchLogsLogGroupArnException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the provided CloudWatch log group is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InvalidCloudWatchLogsRoleArnException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the provided role is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InvalidEventCategoryException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Occurs if an event category that is not valid is specified as a value of <code>EventCategory</code>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InvalidEventSelectorsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the <code>PutEventSelectors</code> operation is called with a number of event selectors or data resources\n         that is not valid. The combination of event selectors and data resources is not valid. A trail can have up to 5 event selectors. A trail \n         is limited to 250 data resources. These data resources can be distributed across event selectors, but the overall total cannot exceed 250.</p>\n         <p>You can:</p>\n         <ul>\n            <li>\n               <p>Specify a valid number of event selectors (1 to 5) for a trail.</p>\n            </li>\n            <li>\n               <p>Specify a valid number of data resources (1 to 250) for an event selector. \n               The limit of number of resources on an individual event selector is configurable up to 250. \n               However, this upper limit is allowed only if the total number of data resources does not \n               exceed 250 across all event selectors for a trail.</p>\n            </li>\n            <li>\n               <p>Specify a valid value for a parameter. For example, specifying the <code>ReadWriteType</code> \n               parameter with a value of <code>read-only</code> is invalid.</p>\n            </li>\n         </ul>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InvalidHomeRegionException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when an operation is called on a trail from a region other than the region in which the trail was created.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InvalidInsightSelectorsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The formatting or syntax of the <code>InsightSelectors</code> JSON statement in your <code>PutInsightSelectors</code> or <code>GetInsightSelectors</code> request \n         is not valid, or the specified insight type in the <code>InsightSelectors</code> statement is not a valid insight type.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InvalidKmsKeyIdException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the KMS key ARN is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InvalidLookupAttributesException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Occurs when an invalid lookup attribute is specified.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InvalidMaxResultsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown if the limit specified is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InvalidNextTokenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Invalid token or token that was previously used in a request with different parameters. This exception is thrown if the token is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InvalidParameterCombinationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the combination of parameters provided is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InvalidS3BucketNameException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the provided S3 bucket name is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InvalidS3PrefixException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the provided S3 prefix is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InvalidSnsTopicNameException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the provided SNS topic name is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InvalidTagParameterException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the specified tag key or values are not valid. \n         It can also occur if there are duplicate tags or too many tags on the resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InvalidTimeRangeException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Occurs if the timestamp values are invalid. Either the start time occurs after the end time or the time range is outside the range of possible values.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InvalidTokenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Reserved for future use.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#InvalidTrailNameException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p>\n         <ul>\n            <li>\n               <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p>\n            </li>\n            <li>\n               <p>Start with a letter or number, and end with a letter or number</p>\n            </li>\n            <li>\n               <p>Be between 3 and 128 characters</p>\n            </li>\n            <li>\n               <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code>\n            and <code>my--namespace</code> are invalid.</p>\n            </li>\n            <li>\n               <p>Not be in IP address format (for example, 192.168.5.4)</p>\n            </li>\n         </ul>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#KmsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when there is an issue with the specified KMS key and the trail can’t be updated.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#KmsKeyDisabledException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#deprecated": {},
        "smithy.api#documentation": "<p>This exception is no longer in use.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#KmsKeyNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the KMS key does not exist, or when the S3 bucket and the KMS key are not in the same region.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#ListPublicKeys": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudtrail#ListPublicKeysRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudtrail#ListPublicKeysResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudtrail#InvalidTimeRangeException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidTokenException"
        },
        {
          "target": "com.amazonaws.cloudtrail#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.cloudtrail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns all public keys whose private keys were used to sign the digest files within the specified time range. The public key is needed to validate digest files that were signed with its corresponding private key.</p>\n         <note>\n            <p>CloudTrail uses different private/public key pairs per region. Each digest file is signed with a private key unique to its region. Therefore, when you validate a digest file from a particular region, you must look in the same region for its corresponding public key.</p>\n         </note>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "PublicKeyList"
        }
      }
    },
    "com.amazonaws.cloudtrail#ListPublicKeysRequest": {
      "type": "structure",
      "members": {
        "EndTime": {
          "target": "com.amazonaws.cloudtrail#Date",
          "traits": {
            "smithy.api#documentation": "<p>Optionally specifies, in UTC, the end of the time range to look up public keys for CloudTrail digest files. If not specified, the current time is used.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.cloudtrail#Date",
          "traits": {
            "smithy.api#documentation": "<p>Optionally specifies, in UTC, the start of the time range to look up public keys for CloudTrail digest files. If not specified, the current time is used, and the current public key is returned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Requests the public keys for a specified time range.</p>"
      }
    },
    "com.amazonaws.cloudtrail#ListPublicKeysResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>"
          }
        },
        "PublicKeyList": {
          "target": "com.amazonaws.cloudtrail#PublicKeyList",
          "traits": {
            "smithy.api#documentation": "<p>Contains an array of PublicKey objects.</p>\n         <note>\n            <p>The returned public keys may have validity time ranges that overlap.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      }
    },
    "com.amazonaws.cloudtrail#ListTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudtrail#ListTagsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudtrail#ListTagsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudtrail#CloudTrailARNInvalidException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidTokenException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidTrailNameException"
        },
        {
          "target": "com.amazonaws.cloudtrail#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.cloudtrail#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudtrail#ResourceTypeNotSupportedException"
        },
        {
          "target": "com.amazonaws.cloudtrail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags for the trail in the current region.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ResourceTagList"
        }
      }
    },
    "com.amazonaws.cloudtrail#ListTagsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>"
          }
        },
        "ResourceIdList": {
          "target": "com.amazonaws.cloudtrail#ResourceIdList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of trail ARNs whose tags will be listed. The list has a limit of 20 ARNs. The format of a trail ARN is:</p>\n            <p>\n            <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a list of trail tags to return.</p>"
      }
    },
    "com.amazonaws.cloudtrail#ListTagsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>"
          }
        },
        "ResourceTagList": {
          "target": "com.amazonaws.cloudtrail#ResourceTagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of resource tags.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      }
    },
    "com.amazonaws.cloudtrail#ListTrails": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudtrail#ListTrailsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudtrail#ListTrailsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudtrail#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.cloudtrail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists trails that are in the current account.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Trails"
        }
      }
    },
    "com.amazonaws.cloudtrail#ListTrailsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to get the next page of results after a previous API call. This token must be passed \n         in with the same parameters that were specified in the the original call. For example, if the original \n         call specified an AttributeKey of 'Username' with a value of 'root', the call with NextToken should \n         include those same parameters.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudtrail#ListTrailsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to get the next page of results after a previous API call. If the token does not appear, \n         there are no more results to return. The token must be passed in with the same parameters as the previous call. \n         For example, if the original call specified an AttributeKey of 'Username' with a value of 'root', the call with \n         NextToken should include those same parameters.</p>"
          }
        },
        "Trails": {
          "target": "com.amazonaws.cloudtrail#Trails",
          "traits": {
            "smithy.api#documentation": "<p>Returns the name, ARN, and home region of trails in the current account.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudtrail#LookupAttribute": {
      "type": "structure",
      "members": {
        "AttributeKey": {
          "target": "com.amazonaws.cloudtrail#LookupAttributeKey",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an attribute on which to filter the events returned.</p>",
            "smithy.api#required": {}
          }
        },
        "AttributeValue": {
          "target": "com.amazonaws.cloudtrail#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a value for the specified AttributeKey.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies an attribute and value that filter the events returned.</p>"
      }
    },
    "com.amazonaws.cloudtrail#LookupAttributeKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EventId",
            "name": "EVENT_ID"
          },
          {
            "value": "EventName",
            "name": "EVENT_NAME"
          },
          {
            "value": "ReadOnly",
            "name": "READ_ONLY"
          },
          {
            "value": "Username",
            "name": "USERNAME"
          },
          {
            "value": "ResourceType",
            "name": "RESOURCE_TYPE"
          },
          {
            "value": "ResourceName",
            "name": "RESOURCE_NAME"
          },
          {
            "value": "EventSource",
            "name": "EVENT_SOURCE"
          },
          {
            "value": "AccessKeyId",
            "name": "ACCESS_KEY_ID"
          }
        ]
      }
    },
    "com.amazonaws.cloudtrail#LookupAttributesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudtrail#LookupAttribute"
      }
    },
    "com.amazonaws.cloudtrail#LookupEvents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudtrail#LookupEventsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudtrail#LookupEventsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudtrail#InvalidEventCategoryException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidLookupAttributesException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidMaxResultsException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.cloudtrail#InvalidTimeRangeException"
        },
        {
          "target": "com.amazonaws.cloudtrail#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.cloudtrail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Looks up <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-concepts.html#cloudtrail-concepts-management-events\">management events</a> or \n         <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-concepts.html#cloudtrail-concepts-insights-events\">CloudTrail Insights events</a> that are captured by CloudTrail. \n         You can look up events that occurred in a region within the last 90 days. Lookup supports the following attributes for management events:</p>\n         <ul>\n            <li>\n               <p>AWS access key</p>\n            </li>\n            <li>\n               <p>Event ID</p>\n            </li>\n            <li>\n               <p>Event name</p>\n            </li>\n            <li>\n               <p>Event source</p>\n            </li>\n            <li>\n               <p>Read only</p>\n            </li>\n            <li>\n               <p>Resource name</p>\n            </li>\n            <li>\n               <p>Resource type</p>\n            </li>\n            <li>\n               <p>User name</p>\n            </li>\n         </ul>\n         <p>Lookup supports the following attributes for Insights events:</p>\n         <ul>\n            <li>\n               <p>Event ID</p>\n            </li>\n            <li>\n               <p>Event name</p>\n            </li>\n            <li>\n               <p>Event source</p>\n            </li>\n         </ul>\n         <p>All attributes are optional. The default number of results returned is 50, with a\n         maximum of 50 possible. The response includes a token that you can use to get the next page\n         of results.</p>\n         <important>\n            <p>The rate of lookup requests is limited to two per second per account. If this\n            limit is exceeded, a throttling error occurs.</p>\n         </important>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Events",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.cloudtrail#LookupEventsRequest": {
      "type": "structure",
      "members": {
        "EndTime": {
          "target": "com.amazonaws.cloudtrail#Date",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that only events that occur before or at the specified time are returned. If the specified end time is before the specified start time, an error is returned.</p>"
          }
        },
        "EventCategory": {
          "target": "com.amazonaws.cloudtrail#EventCategory",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the event category. If you do not specify an event category, events of the category are not returned in the response. For example, \n         if you do not specify <code>insight</code> as the value of <code>EventCategory</code>, no Insights events are returned.</p>"
          }
        },
        "LookupAttributes": {
          "target": "com.amazonaws.cloudtrail#LookupAttributesList",
          "traits": {
            "smithy.api#documentation": "<p>Contains a list of lookup attributes. Currently the list can contain only one item.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.cloudtrail#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The number of events to return. Possible values are 1 through 50. The default is 50.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudtrail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to get the next page of results after a previous API call. This token must be passed in with the same parameters that were specified in the the original call. \n         For example, if the original call specified an AttributeKey of 'Username' with a value of 'root', the call with NextToken should include those same parameters.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.cloudtrail#Date",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that only events that occur after or at the specified time are returned. If the specified start time is after the specified end time, an error is returned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a request for LookupEvents.</p>"
      }
    },
    "com.amazonaws.cloudtrail#LookupEventsResponse": {
      "type": "structure",
      "members": {
        "Events": {
          "target": "com.amazonaws.cloudtrail#EventsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of events returned based on the lookup attributes specified and the CloudTrail event. The events list is sorted by time. The most recent event is listed first.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudtrail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to get the next page of results after a previous API call. If the token does not appear, \n         there are no more results to return. The token must be passed in with the same parameters as the previous call. \n         For example, if the original call specified an AttributeKey of 'Username' with a value of 'root', the call with \n         NextToken should include those same parameters.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a response to a LookupEvents action.</p>"
      }
    },
    "com.amazonaws.cloudtrail#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.cloudtrail#MaximumNumberOfTrailsExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the maximum number of trails is reached.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.cloudtrail#NextToken": {
      "type": "string"
    },
    "com.amazonaws.cloudtrail#NotOrganizationMasterAccountException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the AWS account making the request to create or update an organization trail is not the master account for an \n         organization in AWS Organizations. For more information, see \n         <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/creating-an-organizational-trail-prepare.html\">Prepare For Creating a Trail For Your Organization</a>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#OperationNotPermittedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the requested operation is not permitted.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#OrganizationNotInAllFeaturesModeException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when AWS Organizations is not configured to support all features. All features must be enabled in AWS Organization to support\n         creating an organization trail. For more information, see \n         <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/creating-an-organizational-trail-prepare.html\">Prepare For Creating a Trail For Your Organization</a>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudtrail#OrganizationsNotInUseException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudtrail#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Brief description of the exception returned by the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the request is made from an AWS account that is not a member of an organization. \n         To make this request, sign in using the credentials of an account that belongs to an organization.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.cloudtrail#PublicKey": {
[...]
