{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.cloudwatchlogs#AccessPolicy": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#Arn": {
      "type": "string"
    },
    "com.amazonaws.cloudwatchlogs#AssociateKmsKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#AssociateKmsKeyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified AWS Key Management Service (AWS KMS) customer master key (CMK) with the specified log group.</p> \n         <p>Associating an AWS KMS CMK with a log group overrides any existing associations between the log group and a CMK. \n      After a CMK is associated with a log group, all newly ingested data for the log group is encrypted using the CMK. \n      This association is stored as long as the data encrypted with the CMK is still within Amazon CloudWatch Logs. \n      This enables Amazon CloudWatch Logs to decrypt this data whenever it is requested.</p>\n         <note>\n            <p>\n               <b>Important:</b> CloudWatch Logs supports only symmetric CMKs. Do not use an \n        associate an asymmetric CMK with your log group. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using Symmetric and Asymmetric Keys</a>.</p>\n         </note>\n         <p>Note that it can take up to 5 minutes for this operation to take effect.</p>\n         <p>If you attempt to associate a CMK with a log group but the CMK does not exist or the CMK is disabled, you will receive an \n      <code>InvalidParameterException</code> error.\n    </p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#AssociateKmsKeyRequest": {
      "type": "structure",
      "members": {
        "kmsKeyId": {
          "target": "com.amazonaws.cloudwatchlogs#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. This must be a symmetric CMK.\n      For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a> and <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using Symmetric and Asymmetric Keys</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#CancelExportTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#CancelExportTaskRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the specified export task.</p> \n         <p>The task must be in the <code>PENDING</code> or <code>RUNNING</code> state.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#CancelExportTaskRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "com.amazonaws.cloudwatchlogs#ExportTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the export task.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateExportTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#CreateExportTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#CreateExportTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an export task, which allows you to efficiently export data from a\n      log group to an Amazon S3 bucket.</p>\n         <p>This is an asynchronous call. If all the required information is provided, this \n      operation initiates an export task and responds with the ID of the task. After the task has started,\n      you can use <a>DescribeExportTasks</a> to get the status of the export task. Each account can\n      only have one active (<code>RUNNING</code> or <code>PENDING</code>) export task at a time.\n      To cancel an export task, use <a>CancelExportTask</a>.</p>\n         <p>You can export logs from multiple log groups or multiple time ranges to the same S3\n      bucket. To separate out log data for each export task, you can specify a prefix to be used as\n      the Amazon S3 key prefix for all exported objects.</p>\n         <p>Exporting to S3 buckets that are encrypted with AES-256 is supported. Exporting to S3 buckets \n      encrypted with SSE-KMS is not supported. </p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateExportTaskRequest": {
      "type": "structure",
      "members": {
        "destination": {
          "target": "com.amazonaws.cloudwatchlogs#ExportDestinationBucket",
          "traits": {
            "smithy.api#documentation": "<p>The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.</p>",
            "smithy.api#required": {}
          }
        },
        "destinationPrefix": {
          "target": "com.amazonaws.cloudwatchlogs#ExportDestinationPrefix",
          "traits": {
            "smithy.api#documentation": "<p>The prefix used as the start of the key for every object exported. If you don't\n      specify a value, the default is <code>exportedlogs</code>.</p>"
          }
        },
        "from": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the range for the request, expressed as the number of milliseconds\n      after Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not\n      exported.</p>",
            "smithy.api#required": {}
          }
        },
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>",
            "smithy.api#required": {}
          }
        },
        "logStreamNamePrefix": {
          "target": "com.amazonaws.cloudwatchlogs#LogStreamName",
          "traits": {
            "smithy.api#documentation": "<p>Export only log streams that match the provided prefix. If you don't\n      specify a value, no prefix filter is applied.</p>"
          }
        },
        "taskName": {
          "target": "com.amazonaws.cloudwatchlogs#ExportTaskName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the export task.</p>"
          }
        },
        "to": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time of the range for the request, expressed as the number of milliseconds\n      after Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not\n      exported.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateExportTaskResponse": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "com.amazonaws.cloudwatchlogs#ExportTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the export task.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateLogGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#CreateLogGroupRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a log group with the specified name.</p>\n         <p>You can create up to 20,000 log groups per account.</p>\n         <p>You must use the following guidelines when naming a log group:</p>\n         <ul>\n            <li>\n               <p>Log group names must be unique within a region for an AWS account.</p>\n            </li>\n            <li>\n               <p>Log group names can be between 1 and 512 characters long.</p>\n            </li>\n            <li>\n               <p>Log group names consist of the following characters: a-z, A-Z, 0-9, '_' (underscore), '-' (hyphen), \n          '/' (forward slash), '.' (period), and '#' (number sign)</p>\n            </li>\n         </ul>\n         <p>If you associate a AWS Key Management Service (AWS KMS) customer master key (CMK) with the log group, ingested data is encrypted using the CMK. \n      This association is stored as long as the data encrypted with the CMK is still within Amazon CloudWatch Logs. \n      This enables Amazon CloudWatch Logs to decrypt this data whenever it is requested.</p>\n         <p>If you attempt to associate a CMK with the log group but the CMK does not exist or the CMK is disabled, you will \n      receive an <code>InvalidParameterException</code> error.\n    </p>\n         <note>\n            <p>\n               <b>Important:</b> CloudWatch Logs supports only symmetric CMKs. Do not \n        associate an asymmetric CMK with your log group. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using Symmetric and Asymmetric Keys</a>.</p>\n         </note>"
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateLogGroupRequest": {
      "type": "structure",
      "members": {
        "kmsKeyId": {
          "target": "com.amazonaws.cloudwatchlogs#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. \n      For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.</p>"
          }
        },
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.cloudwatchlogs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pairs to use for the tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateLogStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#CreateLogStreamRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a log stream for the specified log group.</p> \n         <p>There is no limit on the number of log streams that you can create for a log group. There is a limit \n    of 50 TPS on <code>CreateLogStream</code> operations, after which transactions are throttled.</p>\n         <p>You must use the following guidelines when naming a log stream:</p>\n         <ul>\n            <li>\n               <p>Log stream names must be unique within the log group.</p>\n            </li>\n            <li>\n               <p>Log stream names can be between 1 and 512 characters long.</p>\n            </li>\n            <li>\n               <p>The ':' (colon) and '*' (asterisk) characters are not allowed.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateLogStreamRequest": {
      "type": "structure",
      "members": {
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>",
            "smithy.api#required": {}
          }
        },
        "logStreamName": {
          "target": "com.amazonaws.cloudwatchlogs#LogStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log stream.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DataAlreadyAcceptedException": {
      "type": "structure",
      "members": {
        "expectedSequenceToken": {
          "target": "com.amazonaws.cloudwatchlogs#SequenceToken"
        },
        "message": {
          "target": "com.amazonaws.cloudwatchlogs#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The event was already logged.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudwatchlogs#Days": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#documentation": "<p>The number of days to retain the log events in the specified log group.\n      Possible values are: 1, 3, 5, 7, 14, 30, 60, 90, 120, 150, 180, 365, 400, 545, 731, 1827, and 3653.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DefaultValue": {
      "type": "double",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DeleteDestinationRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified destination, and eventually disables all the\n      subscription filters that publish to it. This operation does not delete the \n      physical resource encapsulated by the destination.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteDestinationRequest": {
      "type": "structure",
      "members": {
        "destinationName": {
          "target": "com.amazonaws.cloudwatchlogs#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the destination.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteLogGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DeleteLogGroupRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified log group and permanently deletes all the archived\n      log events associated with the log group.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteLogGroupRequest": {
      "type": "structure",
      "members": {
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteLogStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DeleteLogStreamRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified log stream and permanently deletes all the archived log events associated\n      with the log stream.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteLogStreamRequest": {
      "type": "structure",
      "members": {
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>",
            "smithy.api#required": {}
          }
        },
        "logStreamName": {
          "target": "com.amazonaws.cloudwatchlogs#LogStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log stream.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteMetricFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DeleteMetricFilterRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified metric filter.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteMetricFilterRequest": {
      "type": "structure",
      "members": {
        "filterName": {
          "target": "com.amazonaws.cloudwatchlogs#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric filter.</p>",
            "smithy.api#required": {}
          }
        },
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DeleteResourcePolicyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a resource policy from this account. This revokes \n    the access of the identities in that policy to put log events to this account.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "policyName": {
          "target": "com.amazonaws.cloudwatchlogs#PolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the policy to be revoked. This parameter is required.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteRetentionPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DeleteRetentionPolicyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified retention policy.</p> \n         <p>Log events do not expire if they belong to log groups without a retention policy.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteRetentionPolicyRequest": {
      "type": "structure",
      "members": {
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteSubscriptionFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DeleteSubscriptionFilterRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified subscription filter.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteSubscriptionFilterRequest": {
      "type": "structure",
      "members": {
        "filterName": {
          "target": "com.amazonaws.cloudwatchlogs#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the subscription filter.</p>",
            "smithy.api#required": {}
          }
        },
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#Descending": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeDestinations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DescribeDestinationsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#DescribeDestinationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all your destinations. The results are ASCII-sorted by destination name.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "destinations",
          "pageSize": "limit"
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeDestinationsRequest": {
      "type": "structure",
      "members": {
        "DestinationNamePrefix": {
          "target": "com.amazonaws.cloudwatchlogs#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The prefix to match. If you don't specify a value, no prefix filter is applied.</p>"
          }
        },
        "limit": {
          "target": "com.amazonaws.cloudwatchlogs#DescribeLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items returned. If you don't specify a value, the default is up to 50 items.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeDestinationsResponse": {
      "type": "structure",
      "members": {
        "destinations": {
          "target": "com.amazonaws.cloudwatchlogs#Destinations",
          "traits": {
            "smithy.api#documentation": "<p>The destinations.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken"
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeExportTasks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DescribeExportTasksRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#DescribeExportTasksResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the specified export tasks. You can list all your export tasks or filter \n      the results based on task ID or task status.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeExportTasksRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "com.amazonaws.cloudwatchlogs#DescribeLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items returned. If you don't specify a value, the default is up to 50 items.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>"
          }
        },
        "statusCode": {
          "target": "com.amazonaws.cloudwatchlogs#ExportTaskStatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The status code of the export task. Specifying a status code filters the results to zero or more export tasks.</p>"
          }
        },
        "taskId": {
          "target": "com.amazonaws.cloudwatchlogs#ExportTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the export task. Specifying a task ID filters the results to zero or one export tasks.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeExportTasksResponse": {
      "type": "structure",
      "members": {
        "exportTasks": {
          "target": "com.amazonaws.cloudwatchlogs#ExportTasks",
          "traits": {
            "smithy.api#documentation": "<p>The export tasks.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken"
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeLogGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DescribeLogGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#DescribeLogGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the specified log groups. You can list all your log groups or filter the results by prefix.\n      The results are ASCII-sorted by log group name.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "logGroups",
          "pageSize": "limit"
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeLogGroupsRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "com.amazonaws.cloudwatchlogs#DescribeLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items returned. If you don't specify a value, the default is up to 50 items.</p>"
          }
        },
        "logGroupNamePrefix": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The prefix to match.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeLogGroupsResponse": {
      "type": "structure",
      "members": {
        "logGroups": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroups",
          "traits": {
            "smithy.api#documentation": "<p>The log groups.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken"
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeLogStreams": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DescribeLogStreamsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#DescribeLogStreamsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the log streams for the specified log group. \n      You can list all the log streams or filter the results by prefix.\n      You can also control how the results are ordered.</p>\n         <p>This operation has a limit of five transactions per second, after which transactions are throttled.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "logStreams",
          "pageSize": "limit"
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeLogStreamsRequest": {
      "type": "structure",
      "members": {
        "descending": {
          "target": "com.amazonaws.cloudwatchlogs#Descending",
          "traits": {
            "smithy.api#documentation": "<p>If the value is true, results are returned in descending order. \n      If the value is to false, results are returned in ascending order.\n      The default value is false.</p>"
          }
        },
        "limit": {
          "target": "com.amazonaws.cloudwatchlogs#DescribeLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items returned. If you don't specify a value, the default is up to 50 items.</p>"
          }
        },
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>",
            "smithy.api#required": {}
          }
        },
        "logStreamNamePrefix": {
          "target": "com.amazonaws.cloudwatchlogs#LogStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The prefix to match.</p> \n         <p>If <code>orderBy</code> is <code>LastEventTime</code>,you cannot specify this\n      parameter.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>"
          }
        },
        "orderBy": {
          "target": "com.amazonaws.cloudwatchlogs#OrderBy",
          "traits": {
            "smithy.api#documentation": "<p>If the value is <code>LogStreamName</code>, the results are ordered by log stream name.\n      If the value is <code>LastEventTime</code>, the results are ordered by the event time. \n      The default value is <code>LogStreamName</code>.</p>\n         <p>If you order the results by event time, you cannot specify the <code>logStreamNamePrefix</code> parameter.</p>\n         <p>lastEventTimestamp represents the time of the most recent log event in the log stream\n      in CloudWatch Logs. This number is expressed as the number of milliseconds after Jan 1, 1970\n      00:00:00 UTC. lastEventTimeStamp updates on an eventual consistency basis. It typically\n      updates in less than an hour from ingestion, but may take longer in some rare\n      situations.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeLogStreamsResponse": {
      "type": "structure",
      "members": {
        "logStreams": {
          "target": "com.amazonaws.cloudwatchlogs#LogStreams",
          "traits": {
            "smithy.api#documentation": "<p>The log streams.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken"
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeMetricFilters": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DescribeMetricFiltersRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#DescribeMetricFiltersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the specified metric filters.\n      You can list all the metric filters or filter the results by log name, prefix, metric name, or metric namespace.\n\n      The results are ASCII-sorted by filter name.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "metricFilters",
          "pageSize": "limit"
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeMetricFiltersRequest": {
      "type": "structure",
      "members": {
        "filterNamePrefix": {
          "target": "com.amazonaws.cloudwatchlogs#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>The prefix to match.</p>"
          }
        },
        "limit": {
          "target": "com.amazonaws.cloudwatchlogs#DescribeLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items returned. If you don't specify a value, the default is up to 50 items.</p>"
          }
        },
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>"
          }
        },
        "metricName": {
          "target": "com.amazonaws.cloudwatchlogs#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>Filters results to include only those with the specified metric name. If you include this parameter in your request, you \n    must also include the <code>metricNamespace</code> parameter.</p>"
          }
        },
        "metricNamespace": {
          "target": "com.amazonaws.cloudwatchlogs#MetricNamespace",
          "traits": {
            "smithy.api#documentation": "<p>Filters results to include only those in the specified namespace. If you include this parameter in your request, you \n    must also include the <code>metricName</code> parameter.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeMetricFiltersResponse": {
      "type": "structure",
      "members": {
        "metricFilters": {
          "target": "com.amazonaws.cloudwatchlogs#MetricFilters",
          "traits": {
            "smithy.api#documentation": "<p>The metric filters.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken"
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeQueries": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DescribeQueriesRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#DescribeQueriesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of CloudWatch Logs Insights queries that are scheduled, executing, or have been executed recently in this account. You can request all\n    queries, or limit it to queries of a specific log group or queries with a certain status.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeQueriesMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeQueriesRequest": {
      "type": "structure",
      "members": {
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>Limits the returned queries to only those for the specified log group.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.cloudwatchlogs#DescribeQueriesMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Limits the number of returned queries to the specified number.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken"
        },
        "status": {
          "target": "com.amazonaws.cloudwatchlogs#QueryStatus",
          "traits": {
            "smithy.api#documentation": "<p>Limits the returned queries to only those that have the specified status. Valid values are <code>Cancelled</code>, \n      <code>Complete</code>, <code>Failed</code>, <code>Running</code>, and <code>Scheduled</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeQueriesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken"
        },
        "queries": {
          "target": "com.amazonaws.cloudwatchlogs#QueryInfoList",
          "traits": {
            "smithy.api#documentation": "<p>The list of queries that match the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeResourcePolicies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DescribeResourcePoliciesRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#DescribeResourcePoliciesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the resource policies in this account.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeResourcePoliciesRequest": {
      "type": "structure",
      "members": {
        "limit": {
          "target": "com.amazonaws.cloudwatchlogs#DescribeLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of resource policies to be displayed with one call of this API.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken"
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeResourcePoliciesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken"
        },
        "resourcePolicies": {
          "target": "com.amazonaws.cloudwatchlogs#ResourcePolicies",
          "traits": {
            "smithy.api#documentation": "<p>The resource policies that exist in this account.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeSubscriptionFilters": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DescribeSubscriptionFiltersRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#DescribeSubscriptionFiltersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the subscription filters for the specified log group. You can list all the subscription filters or filter the results by prefix.\n      The results are ASCII-sorted by filter name.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "subscriptionFilters",
          "pageSize": "limit"
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeSubscriptionFiltersRequest": {
      "type": "structure",
      "members": {
        "filterNamePrefix": {
          "target": "com.amazonaws.cloudwatchlogs#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>The prefix to match. If you don't specify a value, no prefix filter is applied.</p>"
          }
        },
        "limit": {
          "target": "com.amazonaws.cloudwatchlogs#DescribeLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items returned. If you don't specify a value, the default is up to 50 items.</p>"
          }
        },
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DescribeSubscriptionFiltersResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken"
        },
        "subscriptionFilters": {
          "target": "com.amazonaws.cloudwatchlogs#SubscriptionFilters",
          "traits": {
            "smithy.api#documentation": "<p>The subscription filters.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#Destination": {
      "type": "structure",
      "members": {
        "accessPolicy": {
          "target": "com.amazonaws.cloudwatchlogs#AccessPolicy",
          "traits": {
            "smithy.api#documentation": "<p>An IAM policy document that governs which AWS accounts can create subscription filters\n      against this destination.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.cloudwatchlogs#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of this destination.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the destination, expressed as the number of milliseconds after Jan\n      1, 1970 00:00:00 UTC.</p>"
          }
        },
        "destinationName": {
          "target": "com.amazonaws.cloudwatchlogs#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the destination.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.cloudwatchlogs#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>A role for impersonation, used when delivering log events to the target.</p>"
          }
        },
        "targetArn": {
          "target": "com.amazonaws.cloudwatchlogs#TargetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the physical target to where the log events are\n      delivered (for example, a Kinesis stream).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a cross-account destination that receives subscription log events.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DestinationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DestinationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "[^:*]*"
      }
    },
    "com.amazonaws.cloudwatchlogs#Destinations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#Destination"
      }
    },
    "com.amazonaws.cloudwatchlogs#DisassociateKmsKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DisassociateKmsKeyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates the associated AWS Key Management Service (AWS KMS) customer master key (CMK) from the specified log group.</p> \n         <p>After the AWS KMS CMK is disassociated from the log group, AWS CloudWatch Logs stops encrypting newly ingested data for the log group. \n      All previously ingested data remains encrypted, and AWS CloudWatch Logs requires permissions for the CMK whenever the encrypted data is requested.</p>\n         <p>Note that it can take up to 5 minutes for this operation to take effect.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DisassociateKmsKeyRequest": {
      "type": "structure",
      "members": {
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#Distribution": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The method used to distribute log data to the destination, which can be either\n      random or grouped by log stream.</p>",
        "smithy.api#enum": [
          {
            "value": "Random",
            "name": "Random"
          },
          {
            "value": "ByLogStream",
            "name": "ByLogStream"
          }
        ]
      }
    },
    "com.amazonaws.cloudwatchlogs#EventId": {
      "type": "string"
    },
    "com.amazonaws.cloudwatchlogs#EventMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#EventNumber": {
      "type": "long"
    },
    "com.amazonaws.cloudwatchlogs#EventsLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#ExportDestinationBucket": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#ExportDestinationPrefix": {
      "type": "string"
    },
    "com.amazonaws.cloudwatchlogs#ExportTask": {
      "type": "structure",
      "members": {
        "destination": {
          "target": "com.amazonaws.cloudwatchlogs#ExportDestinationBucket",
          "traits": {
            "smithy.api#documentation": "<p>The name of Amazon S3 bucket to which the log data was exported.</p>"
          }
        },
        "destinationPrefix": {
          "target": "com.amazonaws.cloudwatchlogs#ExportDestinationPrefix",
          "traits": {
            "smithy.api#documentation": "<p>The prefix that was used as the start of Amazon S3 key for every object exported.</p>"
          }
        },
        "executionInfo": {
          "target": "com.amazonaws.cloudwatchlogs#ExportTaskExecutionInfo",
          "traits": {
            "smithy.api#documentation": "<p>Execution info about the export task.</p>"
          }
        },
        "from": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.\n      Events with a timestamp before this time are not exported.</p>"
          }
        },
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group from which logs data was exported.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.cloudwatchlogs#ExportTaskStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the export task.</p>"
          }
        },
        "taskId": {
          "target": "com.amazonaws.cloudwatchlogs#ExportTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the export task.</p>"
          }
        },
        "taskName": {
          "target": "com.amazonaws.cloudwatchlogs#ExportTaskName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the export task.</p>"
          }
        },
        "to": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.\n      Events with a timestamp later than this time are not exported.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an export task.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#ExportTaskExecutionInfo": {
      "type": "structure",
      "members": {
        "completionTime": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The completion time of the export task, expressed as the number of milliseconds after\n      Jan 1, 1970 00:00:00 UTC.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the export task, expressed as the number of milliseconds after Jan\n      1, 1970 00:00:00 UTC.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the status of an export task.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#ExportTaskId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#ExportTaskName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#ExportTaskStatus": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.cloudwatchlogs#ExportTaskStatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The status code of the export task.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.cloudwatchlogs#ExportTaskStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The status message related to the status code.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the status of an export task.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#ExportTaskStatusCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CANCELLED",
            "name": "CANCELLED"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "PENDING_CANCEL",
            "name": "PENDING_CANCEL"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          }
        ]
      }
    },
    "com.amazonaws.cloudwatchlogs#ExportTaskStatusMessage": {
      "type": "string"
    },
    "com.amazonaws.cloudwatchlogs#ExportTasks": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#ExportTask"
      }
    },
    "com.amazonaws.cloudwatchlogs#ExtractedValues": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.cloudwatchlogs#Token"
      },
      "value": {
        "target": "com.amazonaws.cloudwatchlogs#Value"
      }
    },
    "com.amazonaws.cloudwatchlogs#Field": {
      "type": "string"
    },
    "com.amazonaws.cloudwatchlogs#FilterCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#FilterLogEvents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#FilterLogEventsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#FilterLogEventsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists log events from the specified log group. You can list all the log events or filter the results\n      using a filter pattern, a time range, and the name of the log stream.</p>\n         <p>By default, this operation returns as many log events as can fit in 1 MB (up to 10,000\n      log events), or all the events found within the time range that you specify. If the results\n      include a token, then there are more log events available, and you can get additional results\n      by specifying the token in a subsequent call.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "limit"
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#FilterLogEventsRequest": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end of the time range, expressed as the number of milliseconds after Jan 1, 1970\n      00:00:00 UTC. Events with a timestamp later than this time are not returned.</p>"
          }
        },
        "filterPattern": {
          "target": "com.amazonaws.cloudwatchlogs#FilterPattern",
          "traits": {
            "smithy.api#documentation": "<p>The filter pattern to use. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/FilterAndPatternSyntax.html\">Filter and Pattern Syntax</a>.</p>\n         <p>If not provided, all the events are matched.</p>"
          }
        },
        "interleaved": {
          "target": "com.amazonaws.cloudwatchlogs#Interleaved",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Starting on June 17, 2019, this parameter will be ignored and the value will be assumed to be true. The response from this operation will always interleave events from multiple log streams within a log group."
            },
            "smithy.api#documentation": "<p>If the value is true, the operation makes a best effort to provide responses that\n      contain events from multiple log streams within the log group, interleaved in a single\n      response. If the value is false, all the matched log events in the first log stream are\n      searched first, then those in the next log stream, and so on. The default is false.</p>\n         <p>\n            <b>IMPORTANT:</b> Starting on June 17, 2019, this parameter will be ignored and the value will be assumed to be\n    true. The response from this operation will always interleave events from multiple log streams within\n    a log group.</p>"
          }
        },
        "limit": {
          "target": "com.amazonaws.cloudwatchlogs#EventsLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of events to return. The default is 10,000 events.</p>"
          }
        },
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group to search.</p>",
            "smithy.api#required": {}
          }
        },
        "logStreamNamePrefix": {
          "target": "com.amazonaws.cloudwatchlogs#LogStreamName",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results to include only events from log streams that have names starting with this prefix.</p>\n         <p>If you specify a value for both <code>logStreamNamePrefix</code> and <code>logStreamNames</code>, but the value for\n      <code>logStreamNamePrefix</code> does not match any log stream names specified in <code>logStreamNames</code>, the action\n    returns an <code>InvalidParameterException</code> error.</p>"
          }
        },
        "logStreamNames": {
          "target": "com.amazonaws.cloudwatchlogs#InputLogStreamNames",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results to only logs from the log streams in this list.</p>\n         <p>If you specify a value for both <code>logStreamNamePrefix</code> and <code>logStreamNames</code>, the action\n      returns an <code>InvalidParameterException</code> error.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of events to return. (You received this token from a previous call.)</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start of the time range, expressed as the number of milliseconds after Jan 1, 1970\n      00:00:00 UTC. Events with a timestamp before this time are not returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#FilterLogEventsResponse": {
      "type": "structure",
      "members": {
        "events": {
          "target": "com.amazonaws.cloudwatchlogs#FilteredLogEvents",
          "traits": {
            "smithy.api#documentation": "<p>The matched events.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use when requesting the next set of items. The token expires after 24 hours.</p>"
          }
        },
        "searchedLogStreams": {
          "target": "com.amazonaws.cloudwatchlogs#SearchedLogStreams",
          "traits": {
            "smithy.api#documentation": "<p>Indicates which log streams have been searched and whether each has been searched completely.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#FilterName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "[^:*]*"
      }
    },
    "com.amazonaws.cloudwatchlogs#FilterPattern": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>A symbolic description of how CloudWatch Logs should interpret the data in each log\n      event. For example, a log event may contain timestamps, IP addresses, strings, and so on. You\n      use the filter pattern to specify what to look for in the log event message.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#FilteredLogEvent": {
      "type": "structure",
      "members": {
        "eventId": {
          "target": "com.amazonaws.cloudwatchlogs#EventId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the event.</p>"
          }
        },
        "ingestionTime": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the event was ingested, expressed as the number of milliseconds after Jan 1,\n      1970 00:00:00 UTC.</p>"
          }
        },
        "logStreamName": {
          "target": "com.amazonaws.cloudwatchlogs#LogStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log stream to which this event belongs.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.cloudwatchlogs#EventMessage",
          "traits": {
            "smithy.api#documentation": "<p>The data contained in the log event.</p>"
          }
        },
        "timestamp": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the event occurred, expressed as the number of milliseconds after Jan 1, 1970\n      00:00:00 UTC.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a matched event.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#FilteredLogEvents": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#FilteredLogEvent"
      }
    },
    "com.amazonaws.cloudwatchlogs#GetLogEvents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#GetLogEventsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#GetLogEventsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists log events from the specified log stream. You can list all the log events or \n      filter using a time range.</p>\n\n         <p>By default, this operation returns as many log events as can fit in a response size of 1MB (up to 10,000 log events). \n      You can get additional log events by specifying one of the tokens in a subsequent call.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextForwardToken",
          "items": "events",
          "pageSize": "limit"
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#GetLogEventsRequest": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end of the time range, expressed as the number of milliseconds after Jan 1, 1970\n      00:00:00 UTC. Events with a timestamp equal to or later than this time are not\n      included.</p>"
          }
        },
        "limit": {
          "target": "com.amazonaws.cloudwatchlogs#EventsLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of log events returned. If you don't specify a value, the maximum is\n      as many log events as can fit in a response size of 1 MB, up to 10,000 log events.</p>"
          }
        },
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>",
            "smithy.api#required": {}
          }
        },
        "logStreamName": {
          "target": "com.amazonaws.cloudwatchlogs#LogStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log stream.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>\n         <p>Using this token works only when you specify <code>true</code> for <code>startFromHead</code>.</p>"
          }
        },
        "startFromHead": {
          "target": "com.amazonaws.cloudwatchlogs#StartFromHead",
          "traits": {
            "smithy.api#documentation": "<p>If the value is true, the earliest log events are returned first.\n      If the value is false, the latest log events are returned first.\n      The default value is false.</p>\n         <p>If you are using <code>nextToken</code> in this operation, you must specify <code>true</code> for <code>startFromHead</code>.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start of the time range, expressed as the number of milliseconds after Jan 1, 1970\n      00:00:00 UTC. Events with a timestamp equal to this time or later than this time are included.\n      Events with a timestamp earlier than this time are not included.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#GetLogEventsResponse": {
      "type": "structure",
      "members": {
        "events": {
          "target": "com.amazonaws.cloudwatchlogs#OutputLogEvents",
          "traits": {
            "smithy.api#documentation": "<p>The events.</p>"
          }
        },
        "nextBackwardToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items in the backward direction. The token expires after 24 hours. This token will never be null. If you \n    have reached the end of the stream, it will return the same token you passed in.</p>"
          }
        },
        "nextForwardToken": {
          "target": "com.amazonaws.cloudwatchlogs#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of items in the forward direction. The token expires after 24 hours. If you \n      have reached the end of the stream, it will return the same token you passed in.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#GetLogGroupFields": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#GetLogGroupFieldsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#GetLogGroupFieldsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of the fields that are included in log events in the specified log group, along with the percentage of log events\n    that contain each field. The search is limited to a time period that you specify.</p>\n         <p>In the results, fields that start with @ are fields generated by CloudWatch Logs. For\n      example, <code>@timestamp</code> is the timestamp of each log event.</p>\n         <p>The response results are sorted by the frequency percentage, starting \n    with the highest percentage.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#GetLogGroupFieldsRequest": {
      "type": "structure",
      "members": {
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group to search.</p>",
            "smithy.api#required": {}
          }
        },
        "time": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time to set as the center of the query. If you specify <code>time</code>, the 8\n      minutes before and 8 minutes after this time are searched. If you omit <code>time</code>, the\n      past 15 minutes are queried.</p>\n         <p>The <code>time</code> value is specified as epoch time, the number of seconds since\n      January 1, 1970, 00:00:00 UTC.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#GetLogGroupFieldsResponse": {
      "type": "structure",
      "members": {
        "logGroupFields": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupFieldList",
          "traits": {
            "smithy.api#documentation": "<p>The array of fields found in the query. Each object in the array contains the name of the field, along with the \n    percentage of time it appeared in the log events that were queried.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#GetLogRecord": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#GetLogRecordRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#GetLogRecordResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves all the fields and values of a single log event. All fields\n    are retrieved, even if the original query that produced the <code>logRecordPointer</code>\n    retrieved only a subset of fields. Fields are returned as field name/field value pairs.</p>\n         <p>Additionally, the entire unparsed log event is returned within <code>@message</code>.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#GetLogRecordRequest": {
      "type": "structure",
      "members": {
        "logRecordPointer": {
          "target": "com.amazonaws.cloudwatchlogs#LogRecordPointer",
          "traits": {
            "smithy.api#documentation": "<p>The pointer corresponding to the log event record you want to retrieve. You get this from\n      the response of a <code>GetQueryResults</code> operation. In that response, the value of the\n        <code>@ptr</code> field for a log event is the value to use as <code>logRecordPointer</code>\n      to retrieve that complete log event record.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#GetLogRecordResponse": {
      "type": "structure",
      "members": {
        "logRecord": {
          "target": "com.amazonaws.cloudwatchlogs#LogRecord",
          "traits": {
            "smithy.api#documentation": "<p>The requested log event, as a JSON string.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#GetQueryResults": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#GetQueryResultsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#GetQueryResultsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the results from the specified query.</p>\n         <p>Only the fields requested in the query are returned, along with a <code>@ptr</code> field which\n      is the identifier for the log record. You can use the value of <code>@ptr</code> in a  operation\n    to get the full log record.</p>\n         <p>\n            <code>GetQueryResults</code>\n      does not start a query execution. To run a query, use .</p>\n         <p>If the value of the <code>Status</code> field in the output is <code>Running</code>, this operation \n      returns only partial results. If you see a value of <code>Scheduled</code> or <code>Running</code> for the status, \n      you can retry the operation later to see the final results. </p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#GetQueryResultsRequest": {
      "type": "structure",
      "members": {
        "queryId": {
          "target": "com.amazonaws.cloudwatchlogs#QueryId",
          "traits": {
            "smithy.api#documentation": "<p>The ID number of the query.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#GetQueryResultsResponse": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.amazonaws.cloudwatchlogs#QueryResults",
          "traits": {
            "smithy.api#documentation": "<p>The log events that matched the query criteria during the most recent time it ran.</p>\n         <p>The <code>results</code> value is an array of arrays. Each log event is one object in the\n      top-level array. Each of these log event objects is an array of\n        <code>field</code>/<code>value</code> pairs.</p>"
          }
        },
        "statistics": {
          "target": "com.amazonaws.cloudwatchlogs#QueryStatistics",
          "traits": {
            "smithy.api#documentation": "<p>Includes the number of log events scanned by the query, the number of log events that matched the \n    query criteria, and the total number of bytes in the log events that were scanned.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.cloudwatchlogs#QueryStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the most recent running of the query. Possible values are <code>Cancelled</code>, \n      <code>Complete</code>, <code>Failed</code>, <code>Running</code>, <code>Scheduled</code>, \n      <code>Timeout</code>, and <code>Unknown</code>.</p>\n         <p>Queries time out after 15 minutes of execution. To avoid having your \n      queries time out, reduce the time range being searched, or partition your \n      query into a number of queries.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#InputLogEvent": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.cloudwatchlogs#EventMessage",
          "traits": {
            "smithy.api#documentation": "<p>The raw event message.</p>",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the event occurred, expressed as the number of milliseconds after Jan 1, 1970\n      00:00:00 UTC.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a log event, which is a record of activity that was recorded \n      by the application or resource being monitored.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#InputLogEvents": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#InputLogEvent"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#InputLogStreamNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#LogStreamName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#Interleaved": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#InvalidOperationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.cloudwatchlogs#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation is not valid on the specified resource.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudwatchlogs#InvalidParameterException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.cloudwatchlogs#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A parameter is specified incorrectly.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudwatchlogs#InvalidSequenceTokenException": {
      "type": "structure",
      "members": {
        "expectedSequenceToken": {
          "target": "com.amazonaws.cloudwatchlogs#SequenceToken"
        },
        "message": {
          "target": "com.amazonaws.cloudwatchlogs#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The sequence token is not valid. You can get the correct sequence token in \n      the <code>expectedSequenceToken</code> field in the <code>InvalidSequenceTokenException</code>\n    message. </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudwatchlogs#KmsKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#LimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.cloudwatchlogs#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have reached the maximum number of resources that can be created.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudwatchlogs#ListTagsLogGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#ListTagsLogGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#ListTagsLogGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags for the specified log group.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#ListTagsLogGroupRequest": {
      "type": "structure",
      "members": {
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#ListTagsLogGroupResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.cloudwatchlogs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the log group.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#LogEventIndex": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#LogGroup": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.cloudwatchlogs#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the log group.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the log group, expressed as the number of milliseconds after Jan\n      1, 1970 00:00:00 UTC.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.cloudwatchlogs#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the CMK to use when encrypting log data.</p>"
          }
        },
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>"
          }
        },
        "metricFilterCount": {
          "target": "com.amazonaws.cloudwatchlogs#FilterCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of metric filters.</p>"
          }
        },
        "retentionInDays": {
          "target": "com.amazonaws.cloudwatchlogs#Days"
        },
        "storedBytes": {
          "target": "com.amazonaws.cloudwatchlogs#StoredBytes",
          "traits": {
            "smithy.api#documentation": "<p>The number of bytes stored.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a log group.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#LogGroupField": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.cloudwatchlogs#Field",
          "traits": {
            "smithy.api#documentation": "<p>The name of a log field.</p>"
          }
        },
        "percent": {
          "target": "com.amazonaws.cloudwatchlogs#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of log events queried that contained the field.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The fields contained in log events found by a <code>GetLogGroupFields</code> operation,\n      along with the percentage of queried log events in which each field appears.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#LogGroupFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#LogGroupField"
      }
    },
    "com.amazonaws.cloudwatchlogs#LogGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "[\\.\\-_/#A-Za-z0-9]+"
      }
    },
    "com.amazonaws.cloudwatchlogs#LogGroupNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#LogGroupName"
      }
    },
    "com.amazonaws.cloudwatchlogs#LogGroups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#LogGroup"
      }
    },
    "com.amazonaws.cloudwatchlogs#LogRecord": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.cloudwatchlogs#Field"
      },
      "value": {
        "target": "com.amazonaws.cloudwatchlogs#Value"
      }
    },
    "com.amazonaws.cloudwatchlogs#LogRecordPointer": {
      "type": "string"
    },
    "com.amazonaws.cloudwatchlogs#LogStream": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.cloudwatchlogs#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the log stream.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the stream, expressed as the number of milliseconds after Jan 1,\n      1970 00:00:00 UTC.</p>"
          }
        },
        "firstEventTimestamp": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time of the first event, expressed as the number of milliseconds after Jan 1, 1970\n      00:00:00 UTC.</p>"
          }
        },
        "lastEventTimestamp": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time of the most recent log event in the log stream in CloudWatch Logs. This number\n      is expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. The\n        <code>lastEventTime</code> value updates on an eventual consistency basis. It typically\n      updates in less than an hour from ingestion, but may take longer in some rare\n      situations.</p>"
          }
        },
        "lastIngestionTime": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The ingestion time, expressed as the number of milliseconds after Jan 1, 1970 00:00:00\n      UTC.</p>"
          }
        },
        "logStreamName": {
          "target": "com.amazonaws.cloudwatchlogs#LogStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log stream.</p>"
          }
        },
        "storedBytes": {
          "target": "com.amazonaws.cloudwatchlogs#StoredBytes",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Starting on June 17, 2019, this parameter will be deprecated for log streams, and will be reported as zero. This change applies only to log streams. The storedBytes parameter for log groups is not affected."
            },
            "smithy.api#documentation": "<p>The number of bytes stored.</p>\n         <p>\n            <b>IMPORTANT:</b>On June 17, 2019, this parameter was deprecated for log streams, and is always\n      reported as zero. This change applies only to log streams. The <code>storedBytes</code> parameter for log\n      groups is not affected.</p>"
          }
        },
        "uploadSequenceToken": {
          "target": "com.amazonaws.cloudwatchlogs#SequenceToken",
          "traits": {
            "smithy.api#documentation": "<p>The sequence token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a log stream, which is a sequence of log events from \n      a single emitter of logs.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#LogStreamName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "[^:*]*"
      }
    },
    "com.amazonaws.cloudwatchlogs#LogStreamSearchedCompletely": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#LogStreams": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#LogStream"
      }
    },
    "com.amazonaws.cloudwatchlogs#Logs_20140328": {
      "type": "service",
      "version": "2014-03-28",
      "operations": [
        {
          "target": "com.amazonaws.cloudwatchlogs#AssociateKmsKey"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#CancelExportTask"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#CreateExportTask"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#CreateLogGroup"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#CreateLogStream"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#DeleteDestination"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#DeleteLogGroup"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#DeleteLogStream"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#DeleteMetricFilter"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#DeleteResourcePolicy"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#DeleteRetentionPolicy"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#DeleteSubscriptionFilter"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#DescribeDestinations"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#DescribeExportTasks"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#DescribeLogGroups"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#DescribeLogStreams"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#DescribeMetricFilters"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#DescribeQueries"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#DescribeResourcePolicies"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#DescribeSubscriptionFilters"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#DisassociateKmsKey"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#FilterLogEvents"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#GetLogEvents"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#GetLogGroupFields"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#GetLogRecord"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#GetQueryResults"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ListTagsLogGroup"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#PutDestination"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#PutDestinationPolicy"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#PutLogEvents"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#PutMetricFilter"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#PutResourcePolicy"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#PutRetentionPolicy"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#PutSubscriptionFilter"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#StartQuery"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#StopQuery"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#TagLogGroup"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#TestMetricFilter"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#UntagLogGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CloudWatch Logs",
          "arnNamespace": "logs",
          "cloudFormationName": "Logs",
          "cloudTrailEventSource": "v20140328.logs.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "logs"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>You can use Amazon CloudWatch Logs to monitor, store, and access your log files from\n      Amazon EC2 instances, AWS CloudTrail, or other sources. You can then retrieve the associated\n      log data from CloudWatch Logs using the CloudWatch console, CloudWatch Logs commands in the\n      AWS CLI, CloudWatch Logs API, or CloudWatch Logs SDK.</p> \n         <p>You can use CloudWatch Logs to:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Monitor logs from EC2 instances in real-time</b>: You\n          can use CloudWatch Logs to monitor applications and systems using log data. For example,\n          CloudWatch Logs can track the number of errors that occur in your application logs and\n          send you a notification whenever the rate of errors exceeds a threshold that you specify.\n          CloudWatch Logs uses your log data for monitoring; so, no code changes are required. For\n          example, you can monitor application logs for specific literal terms (such as\n          \"NullReferenceException\") or count the number of occurrences of a literal term at a\n          particular position in log data (such as \"404\" status codes in an Apache access log). When\n          the term you are searching for is found, CloudWatch Logs reports the data to a CloudWatch\n          metric that you specify.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Monitor AWS CloudTrail logged events</b>: You can\n          create alarms in CloudWatch and receive notifications of particular API activity as\n          captured by CloudTrail and use the notification to perform troubleshooting.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Archive log data</b>: You can use CloudWatch Logs to\n          store your log data in highly durable storage. You can change the log retention setting so\n          that any log events older than this setting are automatically deleted. The CloudWatch Logs\n          agent makes it easy to quickly send both rotated and non-rotated log data off of a host\n          and into the log service. You can then access the raw log data when you need it.</p>\n            </li>\n         </ul>",
        "smithy.api#title": "Amazon CloudWatch Logs",
        "smithy.api#xmlNamespace": {
          "uri": "http://monitoring.amazonaws.com/doc/2014-03-28/"
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#MalformedQueryException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.cloudwatchlogs#Message"
        },
        "queryCompileError": {
          "target": "com.amazonaws.cloudwatchlogs#QueryCompileError"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The query string is not valid. Details about this error are displayed in a \n      <code>QueryCompileError</code> object. For more information, see \n      .</p>\n         <p>For more information about valid query syntax, see\n      <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/CWL_QuerySyntax.html\">CloudWatch Logs Insights Query Syntax</a>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudwatchlogs#Message": {
      "type": "string"
    },
    "com.amazonaws.cloudwatchlogs#MetricFilter": {
      "type": "structure",
      "members": {
        "creationTime": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the metric filter, expressed as the number of milliseconds after\n      Jan 1, 1970 00:00:00 UTC.</p>"
          }
        },
        "filterName": {
[...]
