{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.cloudformation#AcceptTermsAndConditions": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.cloudformation#Account": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.cloudformation#AccountGateResult": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.cloudformation#AccountGateStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the account gate function.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SUCCEEDED</code>: The account gate function has determined that the\n               account and Region passes any requirements for a stack set operation to occur.\n               CloudFormation proceeds with the stack operation in that account and Region.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code>: The account gate function has determined that the account\n               and Region does not meet the requirements for a stack set operation to occur. AWS\n               CloudFormation cancels the stack set operation in that account and Region, and sets\n               the stack set operation result status for that account and Region to\n                  <code>FAILED</code>. </p>\n            </li>\n            <li>\n               <p>\n                  <code>SKIPPED</code>: CloudFormation has skipped calling the account gate\n               function for this account and Region, for one of the following reasons:</p>\n               <ul>\n                  <li>\n                     <p>An account gate function has not been specified for the account and\n                     Region. CloudFormation proceeds with the stack set operation in this\n                     account and Region.</p>\n                  </li>\n                  <li>\n                     <p>The <code>AWSCloudFormationStackSetExecutionRole</code> of the stack set\n                     adminstration account lacks permissions to invoke the function.\n                     CloudFormation proceeds with the stack set operation in this account and\n                     Region.</p>\n                  </li>\n                  <li>\n                     <p>Either no action is necessary, or no action is possible, on the stack.\n                     CloudFormation skips the stack set operation in this account and\n                     Region.</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>"
          }
        },
        "StatusReason": {
          "target": "com.amazonaws.cloudformation#AccountGateStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the account gate status assigned to this account and Region for the\n         stack set operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure that contains the results of the account gate function which\n         CloudFormation invokes, if present, before proceeding with a stack set operation in an\n         account and Region.</p>\n         <p>For each account and Region, CloudFormation lets you specify a Lamdba function\n         that encapsulates any requirements that must be met before CloudFormation can proceed with\n         a stack set operation in that account and Region. CloudFormation invokes the function each\n         time a stack set operation is requested for that account and Region; if the function\n         returns <code>FAILED</code>, CloudFormation cancels the operation in that account and\n         Region, and sets the stack set operation result status for that account and Region to\n            <code>FAILED</code>. </p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-account-gating.html\">Configuring a\n            target account gate</a>.</p>"
      }
    },
    "com.amazonaws.cloudformation#AccountGateStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "SKIPPED",
            "name": "SKIPPED"
          }
        ]
      }
    },
    "com.amazonaws.cloudformation#AccountGateStatusReason": {
      "type": "string"
    },
    "com.amazonaws.cloudformation#AccountLimit": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.cloudformation#LimitName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the account limit.</p>\n         <p>Values: <code>ConcurrentResourcesLimit</code> | <code>StackLimit</code> |\n            <code>StackOutputsLimit</code>\n         </p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.cloudformation#LimitValue",
          "traits": {
            "smithy.api#documentation": "<p>The value that is associated with the account limit name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The AccountLimit data type. </p>\n         <p>CloudFormation has the following limits per account:</p>\n         <ul>\n            <li>\n               <p>Number of concurrent resources</p>\n            </li>\n            <li>\n               <p>Number of stacks</p>\n            </li>\n            <li>\n               <p>Number of stack outputs</p>\n            </li>\n         </ul>\n         <p>For more information about these account limits, and other CloudFormation\n         limits, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cloudformation-limits.html\">CloudFormation Limits</a> in the <i>CloudFormation User Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudformation#AccountLimitList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudformation#AccountLimit"
      }
    },
    "com.amazonaws.cloudformation#AccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudformation#Account"
      }
    },
    "com.amazonaws.cloudformation#AccountsUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5120
        },
        "smithy.api#pattern": "^(s3://|http(s?)://).+$"
      }
    },
    "com.amazonaws.cloudformation#ActivateType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudformation#ActivateTypeInput"
      },
      "output": {
        "target": "com.amazonaws.cloudformation#ActivateTypeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudformation#CFNRegistryException"
        },
        {
          "target": "com.amazonaws.cloudformation#TypeNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates a public third-party extension, making it available for use in stack\n         templates. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/registry-public.html\">Using\n            public extensions</a> in the <i>CloudFormation User Guide</i>.</p>\n         <p>Once you have activated a public third-party extension in your account and region, use\n            <a href=\"AWSCloudFormation/latest/APIReference/API_SetTypeConfiguration.html\">SetTypeConfiguration</a> to specify configuration properties for the extension. For\n         more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/registry-register.html#registry-set-configuration\">Configuring extensions at the account level</a> in the <i>CloudFormation\n            User Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cloudformation#ActivateTypeInput": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.cloudformation#ThirdPartyType",
          "traits": {
            "smithy.api#documentation": "<p>The extension type.</p>\n         <p>Conditional: You must specify <code>PublicTypeArn</code>, or <code>TypeName</code>,\n            <code>Type</code>, and <code>PublisherId</code>.</p>"
          }
        },
        "PublicTypeArn": {
          "target": "com.amazonaws.cloudformation#ThirdPartyTypeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the public extension.</p>\n         <p>Conditional: You must specify <code>PublicTypeArn</code>, or <code>TypeName</code>,\n            <code>Type</code>, and <code>PublisherId</code>.</p>"
          }
        },
        "PublisherId": {
          "target": "com.amazonaws.cloudformation#PublisherId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the extension publisher.</p>\n         <p>Conditional: You must specify <code>PublicTypeArn</code>, or <code>TypeName</code>,\n            <code>Type</code>, and <code>PublisherId</code>.</p>"
          }
        },
        "TypeName": {
          "target": "com.amazonaws.cloudformation#TypeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the extension.</p>\n         <p>Conditional: You must specify <code>PublicTypeArn</code>, or <code>TypeName</code>,\n            <code>Type</code>, and <code>PublisherId</code>.</p>"
          }
        },
        "TypeNameAlias": {
          "target": "com.amazonaws.cloudformation#TypeName",
          "traits": {
            "smithy.api#documentation": "<p>An alias to assign to the public extension, in this account and region. If you specify\n         an alias for the extension, CloudFormation treats the alias as the extension type name\n         within this account and region. You must use the alias to refer to the extension in your\n         templates, API calls, and CloudFormation console.</p>\n         <p>An extension alias must be unique within a given account and region. You can activate\n         the same public resource multiple times in the same account and region, using different\n         type name aliases.</p>"
          }
        },
        "AutoUpdate": {
          "target": "com.amazonaws.cloudformation#AutoUpdate",
          "traits": {
            "smithy.api#documentation": "<p>Whether to automatically update the extension in this account and region when a new\n            <i>minor</i> version is published by the extension publisher. Major\n         versions released by the publisher must be manually updated.</p>\n         <p>The default is <code>true</code>.</p>"
          }
        },
        "LoggingConfig": {
          "target": "com.amazonaws.cloudformation#LoggingConfig"
        },
        "ExecutionRoleArn": {
          "target": "com.amazonaws.cloudformation#RoleARN2",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IAM execution role to use to activate the extension.</p>"
          }
        },
        "VersionBump": {
          "target": "com.amazonaws.cloudformation#VersionBump",
          "traits": {
            "smithy.api#documentation": "<p>Manually updates a previously-activated type to a new major or minor version, if\n         available. You can also use this parameter to update the value of\n         <code>AutoUpdate</code>.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>MAJOR</code>: CloudFormation updates the extension to the newest major\n               version, if one is available.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MINOR</code>: CloudFormation updates the extension to the newest minor\n               version, if one is available.</p>\n            </li>\n         </ul>"
          }
        },
        "MajorVersion": {
          "target": "com.amazonaws.cloudformation#MajorVersion",
          "traits": {
            "smithy.api#documentation": "<p>The major version of this extension you want to activate, if multiple major versions are\n         available. The default is the latest major version. CloudFormation uses the latest\n         available <i>minor</i> version of the major version selected.</p>\n         <p>You can specify <code>MajorVersion</code> or <code>VersionBump</code>, but not\n         both.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudformation#ActivateTypeOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.cloudformation#PrivateTypeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the activated extension, in this account and\n         region.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudformation#AllowedValue": {
      "type": "string"
    },
    "com.amazonaws.cloudformation#AllowedValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudformation#AllowedValue"
      }
    },
    "com.amazonaws.cloudformation#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudformation#ErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AlreadyExistsException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The resource with the name requested already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudformation#Arn": {
      "type": "string"
    },
    "com.amazonaws.cloudformation#AutoDeployment": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.cloudformation#AutoDeploymentNullable",
          "traits": {
            "smithy.api#documentation": "<p>If set to <code>true</code>, StackSets automatically deploys additional stack instances\n         to Organizations accounts that are added to a target organization or organizational\n         unit (OU) in the specified Regions. If an account is removed from a target organization or\n         OU, StackSets deletes stack instances from the account in the specified Regions.</p>"
          }
        },
        "RetainStacksOnAccountRemoval": {
          "target": "com.amazonaws.cloudformation#RetainStacksOnAccountRemovalNullable",
          "traits": {
            "smithy.api#documentation": "<p>If set to <code>true</code>, stack resources are retained when an account is removed\n         from a target organization or OU. If set to <code>false</code>, stack resources are\n         deleted. Specify only if <code>Enabled</code> is set to <code>True</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>[Service-managed permissions] Describes whether StackSets automatically deploys to\n            Organizations accounts that are added to a target organization or organizational\n         unit (OU).</p>"
      }
    },
    "com.amazonaws.cloudformation#AutoDeploymentNullable": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.cloudformation#AutoUpdate": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.cloudformation#BatchDescribeTypeConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudformation#BatchDescribeTypeConfigurationsInput"
      },
      "output": {
        "target": "com.amazonaws.cloudformation#BatchDescribeTypeConfigurationsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudformation#CFNRegistryException"
        },
        {
          "target": "com.amazonaws.cloudformation#TypeConfigurationNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns configuration data for the specified CloudFormation extensions, from the\n         CloudFormation registry for the account and region.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/registry-register.html#registry-set-configuration\">Configuring extensions at the account level</a> in the\n            <i>CloudFormation User Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudformation#BatchDescribeTypeConfigurationsError": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.cloudformation#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.cloudformation#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        },
        "TypeConfigurationIdentifier": {
          "target": "com.amazonaws.cloudformation#TypeConfigurationIdentifier"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed information concerning an error generated during the setting of configuration\n         data for a CloudFormation extension.</p>"
      }
    },
    "com.amazonaws.cloudformation#BatchDescribeTypeConfigurationsErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudformation#BatchDescribeTypeConfigurationsError"
      }
    },
    "com.amazonaws.cloudformation#BatchDescribeTypeConfigurationsInput": {
      "type": "structure",
      "members": {
        "TypeConfigurationIdentifiers": {
          "target": "com.amazonaws.cloudformation#TypeConfigurationIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>The list of identifiers for the desired extension configurations.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudformation#BatchDescribeTypeConfigurationsOutput": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.cloudformation#BatchDescribeTypeConfigurationsErrors",
          "traits": {
            "smithy.api#documentation": "<p>A list of information concerning any errors generated during the setting of the\n         specified configurations.</p>"
          }
        },
        "UnprocessedTypeConfigurations": {
          "target": "com.amazonaws.cloudformation#UnprocessedTypeConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>A list of any of the specified extension configurations that CloudFormation could not\n         process for any reason.</p>"
          }
        },
        "TypeConfigurations": {
          "target": "com.amazonaws.cloudformation#TypeConfigurationDetailsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of any of the specified extension configurations from the CloudFormation\n         registry.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudformation#BoxedInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.cloudformation#BoxedMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.cloudformation#CFNRegistryException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudformation#ErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CFNRegistryException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>An error occurred during a CloudFormation registry operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudformation#CallAs": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SELF",
            "name": "SELF"
          },
          {
            "value": "DELEGATED_ADMIN",
            "name": "DELEGATED_ADMIN"
          }
        ]
      }
    },
    "com.amazonaws.cloudformation#CancelUpdateStack": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudformation#CancelUpdateStackInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudformation#TokenAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels an update on the specified stack. If the call completes successfully, the\n         stack rolls back the update and reverts to the previous stack configuration.</p>\n         <note>\n            <p>You can cancel only stacks that are in the UPDATE_IN_PROGRESS state.</p>\n         </note>"
      }
    },
    "com.amazonaws.cloudformation#CancelUpdateStackInput": {
      "type": "structure",
      "members": {
        "StackName": {
          "target": "com.amazonaws.cloudformation#StackName",
          "traits": {
            "smithy.api#documentation": "<p>The name or the unique stack ID that is associated with the stack.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.cloudformation#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this <code>CancelUpdateStack</code> request. Specify this\n         token if you plan to retry requests so that CloudFormation knows that you're not\n         attempting to cancel an update on a stack with the same name. You might retry\n         <code>CancelUpdateStack</code> requests to ensure that CloudFormation successfully\n         received them.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for the <a>CancelUpdateStack</a> action.</p>"
      }
    },
    "com.amazonaws.cloudformation#Capabilities": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudformation#Capability"
      }
    },
    "com.amazonaws.cloudformation#CapabilitiesReason": {
      "type": "string"
    },
    "com.amazonaws.cloudformation#Capability": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CAPABILITY_IAM",
            "name": "CAPABILITY_IAM"
          },
          {
            "value": "CAPABILITY_NAMED_IAM",
            "name": "CAPABILITY_NAMED_IAM"
          },
          {
            "value": "CAPABILITY_AUTO_EXPAND",
            "name": "CAPABILITY_AUTO_EXPAND"
          }
        ]
      }
    },
    "com.amazonaws.cloudformation#Category": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "REGISTERED",
            "name": "REGISTERED"
          },
          {
            "value": "ACTIVATED",
            "name": "ACTIVATED"
          },
          {
            "value": "THIRD_PARTY",
            "name": "THIRD_PARTY"
          },
          {
            "value": "AWS_TYPES",
            "name": "AWS_TYPES"
          }
        ]
      }
    },
    "com.amazonaws.cloudformation#CausingEntity": {
      "type": "string"
    },
    "com.amazonaws.cloudformation#Change": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.cloudformation#ChangeType",
          "traits": {
            "smithy.api#documentation": "<p>The type of entity that CloudFormation changes. Currently, the only entity type\n         is <code>Resource</code>.</p>"
          }
        },
        "ResourceChange": {
          "target": "com.amazonaws.cloudformation#ResourceChange",
          "traits": {
            "smithy.api#documentation": "<p>A <code>ResourceChange</code> structure that describes the resource and action that\n         CloudFormation will perform.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>Change</code> structure describes the changes CloudFormation will\n         perform if you execute the change set.</p>"
      }
    },
    "com.amazonaws.cloudformation#ChangeAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Add",
            "name": "Add"
          },
          {
            "value": "Modify",
            "name": "Modify"
          },
          {
            "value": "Remove",
            "name": "Remove"
          },
          {
            "value": "Import",
            "name": "Import"
          },
          {
            "value": "Dynamic",
            "name": "Dynamic"
          }
        ]
      }
    },
    "com.amazonaws.cloudformation#ChangeSetId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#pattern": "^arn:[-a-zA-Z0-9:/]*$"
      }
    },
    "com.amazonaws.cloudformation#ChangeSetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z][-a-zA-Z0-9]*$"
      }
    },
    "com.amazonaws.cloudformation#ChangeSetNameOrId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^[a-zA-Z][-a-zA-Z0-9]*|arn:[-a-zA-Z0-9:/]*$"
      }
    },
    "com.amazonaws.cloudformation#ChangeSetNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudformation#ErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ChangeSetNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>The specified change set name or ID doesn't exit. To view valid change sets for a\n         stack, use the <code>ListChangeSets</code> action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.cloudformation#ChangeSetStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATE_PENDING",
            "name": "CREATE_PENDING"
          },
          {
            "value": "CREATE_IN_PROGRESS",
            "name": "CREATE_IN_PROGRESS"
          },
          {
            "value": "CREATE_COMPLETE",
            "name": "CREATE_COMPLETE"
          },
          {
            "value": "DELETE_PENDING",
            "name": "DELETE_PENDING"
          },
          {
            "value": "DELETE_IN_PROGRESS",
            "name": "DELETE_IN_PROGRESS"
          },
          {
            "value": "DELETE_COMPLETE",
            "name": "DELETE_COMPLETE"
          },
          {
            "value": "DELETE_FAILED",
            "name": "DELETE_FAILED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.cloudformation#ChangeSetStatusReason": {
      "type": "string"
    },
    "com.amazonaws.cloudformation#ChangeSetSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudformation#ChangeSetSummary"
      }
    },
    "com.amazonaws.cloudformation#ChangeSetSummary": {
      "type": "structure",
      "members": {
        "StackId": {
          "target": "com.amazonaws.cloudformation#StackId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the stack with which the change set is associated.</p>"
          }
        },
        "StackName": {
          "target": "com.amazonaws.cloudformation#StackName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stack with which the change set is associated.</p>"
          }
        },
        "ChangeSetId": {
          "target": "com.amazonaws.cloudformation#ChangeSetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the change set.</p>"
          }
        },
        "ChangeSetName": {
          "target": "com.amazonaws.cloudformation#ChangeSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the change set.</p>"
          }
        },
        "ExecutionStatus": {
          "target": "com.amazonaws.cloudformation#ExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>If the change set execution status is <code>AVAILABLE</code>, you can execute the\n         change set. If you can’t execute the change set, the status indicates why. For example, a\n         change set might be in an <code>UNAVAILABLE</code> state because CloudFormation is\n         still creating it or in an <code>OBSOLETE</code> state because the stack was already\n         updated.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.cloudformation#ChangeSetStatus",
          "traits": {
            "smithy.api#documentation": "<p>The state of the change set, such as <code>CREATE_IN_PROGRESS</code>,\n            <code>CREATE_COMPLETE</code>, or <code>FAILED</code>.</p>"
          }
        },
        "StatusReason": {
          "target": "com.amazonaws.cloudformation#ChangeSetStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>A description of the change set's status. For example, if your change set is in the\n            <code>FAILED</code> state, CloudFormation shows the error message.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.cloudformation#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The start time when the change set was created, in UTC.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.cloudformation#Description",
          "traits": {
            "smithy.api#documentation": "<p>Descriptive information about the change set.</p>"
          }
        },
        "IncludeNestedStacks": {
          "target": "com.amazonaws.cloudformation#IncludeNestedStacks",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the current setting of <code>IncludeNestedStacks</code> for the change\n         set.</p>"
          }
        },
        "ParentChangeSetId": {
          "target": "com.amazonaws.cloudformation#ChangeSetId",
          "traits": {
            "smithy.api#documentation": "<p>The parent change set ID.</p>"
          }
        },
        "RootChangeSetId": {
          "target": "com.amazonaws.cloudformation#ChangeSetId",
          "traits": {
            "smithy.api#documentation": "<p>The root change set ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>ChangeSetSummary</code> structure describes a change set, its status, and\n         the stack with which it's associated.</p>"
      }
    },
    "com.amazonaws.cloudformation#ChangeSetType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATE",
            "name": "CREATE"
          },
          {
            "value": "UPDATE",
            "name": "UPDATE"
          },
          {
            "value": "IMPORT",
            "name": "IMPORT"
          }
        ]
      }
    },
    "com.amazonaws.cloudformation#ChangeSource": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ResourceReference",
            "name": "ResourceReference"
          },
          {
            "value": "ParameterReference",
            "name": "ParameterReference"
          },
          {
            "value": "ResourceAttribute",
            "name": "ResourceAttribute"
          },
          {
            "value": "DirectModification",
            "name": "DirectModification"
          },
          {
            "value": "Automatic",
            "name": "Automatic"
          }
        ]
      }
    },
    "com.amazonaws.cloudformation#ChangeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Resource",
            "name": "Resource"
          }
        ]
      }
    },
    "com.amazonaws.cloudformation#Changes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudformation#Change"
      }
    },
    "com.amazonaws.cloudformation#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*$"
      }
    },
    "com.amazonaws.cloudformation#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.cloudformation#CloudFormation": {
      "type": "service",
      "version": "2010-05-15",
      "operations": [
        {
          "target": "com.amazonaws.cloudformation#ActivateType"
        },
        {
          "target": "com.amazonaws.cloudformation#BatchDescribeTypeConfigurations"
        },
        {
          "target": "com.amazonaws.cloudformation#CancelUpdateStack"
        },
        {
          "target": "com.amazonaws.cloudformation#ContinueUpdateRollback"
        },
        {
          "target": "com.amazonaws.cloudformation#CreateChangeSet"
        },
        {
          "target": "com.amazonaws.cloudformation#CreateStack"
        },
        {
          "target": "com.amazonaws.cloudformation#CreateStackInstances"
        },
        {
          "target": "com.amazonaws.cloudformation#CreateStackSet"
        },
        {
          "target": "com.amazonaws.cloudformation#DeactivateType"
        },
        {
          "target": "com.amazonaws.cloudformation#DeleteChangeSet"
        },
        {
          "target": "com.amazonaws.cloudformation#DeleteStack"
        },
        {
          "target": "com.amazonaws.cloudformation#DeleteStackInstances"
        },
        {
          "target": "com.amazonaws.cloudformation#DeleteStackSet"
        },
        {
          "target": "com.amazonaws.cloudformation#DeregisterType"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeAccountLimits"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeChangeSet"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribePublisher"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeStackDriftDetectionStatus"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeStackEvents"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeStackInstance"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeStackResource"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeStackResourceDrifts"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeStackResources"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeStacks"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeStackSet"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeStackSetOperation"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeType"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeTypeRegistration"
        },
        {
          "target": "com.amazonaws.cloudformation#DetectStackDrift"
        },
        {
          "target": "com.amazonaws.cloudformation#DetectStackResourceDrift"
        },
        {
          "target": "com.amazonaws.cloudformation#DetectStackSetDrift"
        },
        {
          "target": "com.amazonaws.cloudformation#EstimateTemplateCost"
        },
        {
          "target": "com.amazonaws.cloudformation#ExecuteChangeSet"
        },
        {
          "target": "com.amazonaws.cloudformation#GetStackPolicy"
        },
        {
          "target": "com.amazonaws.cloudformation#GetTemplate"
        },
        {
          "target": "com.amazonaws.cloudformation#GetTemplateSummary"
        },
        {
          "target": "com.amazonaws.cloudformation#ImportStacksToStackSet"
        },
        {
          "target": "com.amazonaws.cloudformation#ListChangeSets"
        },
        {
          "target": "com.amazonaws.cloudformation#ListExports"
        },
        {
          "target": "com.amazonaws.cloudformation#ListImports"
        },
        {
          "target": "com.amazonaws.cloudformation#ListStackInstances"
        },
        {
          "target": "com.amazonaws.cloudformation#ListStackResources"
        },
        {
          "target": "com.amazonaws.cloudformation#ListStacks"
        },
        {
          "target": "com.amazonaws.cloudformation#ListStackSetOperationResults"
        },
        {
          "target": "com.amazonaws.cloudformation#ListStackSetOperations"
        },
        {
          "target": "com.amazonaws.cloudformation#ListStackSets"
        },
        {
          "target": "com.amazonaws.cloudformation#ListTypeRegistrations"
        },
        {
          "target": "com.amazonaws.cloudformation#ListTypes"
        },
        {
          "target": "com.amazonaws.cloudformation#ListTypeVersions"
        },
        {
          "target": "com.amazonaws.cloudformation#PublishType"
        },
        {
          "target": "com.amazonaws.cloudformation#RecordHandlerProgress"
        },
        {
          "target": "com.amazonaws.cloudformation#RegisterPublisher"
        },
        {
          "target": "com.amazonaws.cloudformation#RegisterType"
        },
        {
          "target": "com.amazonaws.cloudformation#RollbackStack"
        },
        {
          "target": "com.amazonaws.cloudformation#SetStackPolicy"
        },
        {
          "target": "com.amazonaws.cloudformation#SetTypeConfiguration"
        },
        {
          "target": "com.amazonaws.cloudformation#SetTypeDefaultVersion"
        },
        {
          "target": "com.amazonaws.cloudformation#SignalResource"
        },
        {
          "target": "com.amazonaws.cloudformation#StopStackSetOperation"
        },
        {
          "target": "com.amazonaws.cloudformation#TestType"
        },
        {
          "target": "com.amazonaws.cloudformation#UpdateStack"
        },
        {
          "target": "com.amazonaws.cloudformation#UpdateStackInstances"
        },
        {
          "target": "com.amazonaws.cloudformation#UpdateStackSet"
        },
        {
          "target": "com.amazonaws.cloudformation#UpdateTerminationProtection"
        },
        {
          "target": "com.amazonaws.cloudformation#ValidateTemplate"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CloudFormation",
          "arnNamespace": "cloudformation",
          "cloudFormationName": "CloudFormation",
          "cloudTrailEventSource": "cloudformation.amazonaws.com",
          "endpointPrefix": "cloudformation"
        },
        "aws.auth#sigv4": {
          "name": "cloudformation"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#documentation": "<fullname>AWS CloudFormation</fullname>\n         <p>CloudFormation allows you to create and manage Amazon Web Services infrastructure deployments\n         predictably and repeatedly. You can use CloudFormation to leverage Amazon Web Services products, such\n         as Amazon Elastic Compute Cloud, Amazon Elastic Block Store, Amazon Simple Notification\n         Service, Elastic Load Balancing, and Auto Scaling to build highly-reliable, highly\n         scalable, cost-effective applications without creating or configuring the underlying Amazon Web Services\n         infrastructure.</p>\n         <p>With CloudFormation, you declare all of your resources and dependencies in a\n         template file. The template defines a collection of resources as a single unit called a\n         stack. CloudFormation creates and deletes all member resources of the stack together\n         and manages all dependencies between the resources for you.</p>\n         <p>For more information about CloudFormation, see the <a href=\"http://aws.amazon.com/cloudformation/\">CloudFormation Product Page</a>.</p>\n         <p>CloudFormation makes use of other Amazon Web Services products. If you need additional\n         technical information about a specific Amazon Web Services product, you can find the product's technical\n         documentation at <a href=\"https://docs.aws.amazon.com/\">\n               <code>docs.aws.amazon.com</code>\n            </a>.</p>",
        "smithy.api#title": "AWS CloudFormation",
        "smithy.api#xmlNamespace": {
          "uri": "http://cloudformation.amazonaws.com/doc/2010-05-15/"
        }
      }
    },
    "com.amazonaws.cloudformation#ConfigurationSchema": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 60000
        },
        "smithy.api#pattern": "^[\\s\\S]+$"
      }
    },
    "com.amazonaws.cloudformation#ConnectionArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^arn:aws(-[\\w]+)*:.+:.+:[0-9]{12}:.+$"
      }
    },
    "com.amazonaws.cloudformation#ContinueUpdateRollback": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudformation#ContinueUpdateRollbackInput"
      },
      "output": {
        "target": "com.amazonaws.cloudformation#ContinueUpdateRollbackOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudformation#TokenAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>For a specified stack that is in the <code>UPDATE_ROLLBACK_FAILED</code> state,\n         continues rolling it back to the <code>UPDATE_ROLLBACK_COMPLETE</code> state. Depending on\n         the cause of the failure, you can manually <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/troubleshooting.html#troubleshooting-errors-update-rollback-failed\"> fix the error</a> and continue the rollback. By continuing the rollback, you can\n         return your stack to a working state (the <code>UPDATE_ROLLBACK_COMPLETE</code> state), and\n         then try to update the stack again.</p>\n         <p>A stack goes into the <code>UPDATE_ROLLBACK_FAILED</code> state when\n         CloudFormation cannot roll back all changes after a failed stack update. For example, you\n         might have a stack that is rolling back to an old database instance that was deleted\n         outside of CloudFormation. Because CloudFormation doesn't know the database was\n         deleted, it assumes that the database instance still exists and attempts to roll back to\n         it, causing the update rollback to fail.</p>"
      }
    },
    "com.amazonaws.cloudformation#ContinueUpdateRollbackInput": {
      "type": "structure",
      "members": {
        "StackName": {
          "target": "com.amazonaws.cloudformation#StackNameOrId",
          "traits": {
            "smithy.api#documentation": "<p>The name or the unique ID of the stack that you want to continue rolling\n         back.</p>\n         <note>\n            <p>Don't specify the name of a nested stack (a stack that was created by using the\n               <code>AWS::CloudFormation::Stack</code> resource). Instead, use this operation on the\n            parent stack (the stack that contains the <code>AWS::CloudFormation::Stack</code>\n            resource).</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "RoleARN": {
          "target": "com.amazonaws.cloudformation#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Identity and Access Management (IAM) role\n         that CloudFormation assumes to roll back the stack. CloudFormation uses the role's\n         credentials to make calls on your behalf. CloudFormation always uses this role for all\n         future operations on the stack. As long as users have permission to operate on the stack,\n         CloudFormation uses this role even if the users don't have permission to pass it.\n         Ensure that the role grants least privilege.</p>\n         <p>If you don't specify a value, CloudFormation uses the role that was previously\n         associated with the stack. If no role is available, CloudFormation uses a temporary\n         session that is generated from your user credentials.</p>"
          }
        },
        "ResourcesToSkip": {
          "target": "com.amazonaws.cloudformation#ResourcesToSkip",
          "traits": {
            "smithy.api#documentation": "<p>A list of the logical IDs of the resources that CloudFormation skips during the\n         continue update rollback operation. You can specify only resources that are in the\n            <code>UPDATE_FAILED</code> state because a rollback failed. You can't specify resources\n         that are in the <code>UPDATE_FAILED</code> state for other reasons, for example, because an\n         update was cancelled. To check why a resource update failed, use the <a>DescribeStackResources</a> action, and view the resource status reason. </p>\n         <important>\n            <p>Specify this property to skip rolling back resources that CloudFormation\n            can't successfully roll back. We recommend that you <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/troubleshooting.html#troubleshooting-errors-update-rollback-failed\"> troubleshoot</a> resources before skipping them. CloudFormation sets\n            the status of the specified resources to <code>UPDATE_COMPLETE</code> and continues to\n            roll back the stack. After the rollback is complete, the state of the skipped resources\n            will be inconsistent with the state of the resources in the stack template. Before\n            performing another stack update, you must update the stack or resources to be consistent\n            with each other. If you don't, subsequent stack updates might fail, and the stack will\n            become unrecoverable.</p>\n         </important>\n         <p>Specify the minimum number of resources required to successfully roll back your stack.\n         For example, a failed resource update might cause dependent resources to fail. In this\n         case, it might not be necessary to skip the dependent resources.</p>\n         <p>To skip resources that are part of nested stacks, use the following format:\n            <code>NestedStackName.ResourceLogicalID</code>. If you want to specify the logical ID of\n         a stack resource (<code>Type: AWS::CloudFormation::Stack</code>) in the\n            <code>ResourcesToSkip</code> list, then its corresponding embedded stack must be in one\n         of the following states: <code>DELETE_IN_PROGRESS</code>, <code>DELETE_COMPLETE</code>, or\n            <code>DELETE_FAILED</code>.</p>\n         <note>\n            <p>Don't confuse a child stack's name with its corresponding logical ID defined in the\n            parent stack. For an example of a continue update rollback operation with nested stacks,\n            see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-continueupdaterollback.html#nested-stacks\">Using ResourcesToSkip to recover a nested stacks hierarchy</a>.</p>\n         </note>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.cloudformation#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this <code>ContinueUpdateRollback</code> request. Specify\n         this token if you plan to retry requests so that CloudFormationknows that you're not\n         attempting to continue the rollback to a stack with the same name. You might retry\n         <code>ContinueUpdateRollback</code> requests to ensure that CloudFormation\n         successfully received them.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for the <a>ContinueUpdateRollback</a> action.</p>"
      }
    },
    "com.amazonaws.cloudformation#ContinueUpdateRollbackOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The output for a <a>ContinueUpdateRollback</a> action.</p>"
      }
    },
    "com.amazonaws.cloudformation#CreateChangeSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudformation#CreateChangeSetInput"
      },
      "output": {
        "target": "com.amazonaws.cloudformation#CreateChangeSetOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudformation#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.cloudformation#InsufficientCapabilitiesException"
        },
        {
          "target": "com.amazonaws.cloudformation#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a list of changes that will be applied to a stack so that you can review the\n         changes before executing them. You can create a change set for a stack that doesn't exist\n         or an existing stack. If you create a change set for a stack that doesn't exist, the change\n         set shows all of the resources that CloudFormation will create. If you create a change\n         set for an existing stack, CloudFormation compares the stack's information with the\n         information that you submit in the change set and lists the differences. Use change sets to\n         understand which resources CloudFormation will create or change, and how it will change\n         resources in an existing stack, before you create or update a stack.</p>\n         <p>To create a change set for a stack that doesn't exist, for the\n            <code>ChangeSetType</code> parameter, specify <code>CREATE</code>. To create a change\n         set for an existing stack, specify <code>UPDATE</code> for the <code>ChangeSetType</code>\n         parameter. To create a change set for an import operation, specify <code>IMPORT</code> for\n         the <code>ChangeSetType</code> parameter. After the <code>CreateChangeSet</code> call\n         successfully completes, CloudFormation starts creating the change set. To check the\n         status of the change set or to review it, use the <a>DescribeChangeSet</a>\n         action.</p>\n         <p>When you are satisfied with the changes the change set will make, execute the change\n         set by using the <a>ExecuteChangeSet</a> action. CloudFormation doesn't make\n         changes until you execute the change set.</p>\n         <p>To create a change set for the entire stack hierachy, set\n            <code>IncludeNestedStacks</code> to <code>True</code>.</p>"
      }
    },
    "com.amazonaws.cloudformation#CreateChangeSetInput": {
      "type": "structure",
      "members": {
        "StackName": {
          "target": "com.amazonaws.cloudformation#StackNameOrId",
          "traits": {
            "smithy.api#documentation": "<p>The name or the unique ID of the stack for which you are creating a change set.\n         CloudFormation generates the change set by comparing this stack's information with the\n         information that you submit, such as a modified template or different parameter input\n         values.</p>",
            "smithy.api#required": {}
          }
        },
        "TemplateBody": {
          "target": "com.amazonaws.cloudformation#TemplateBody",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the body of the revised template, with a minimum length of\n         1 byte and a maximum length of 51,200 bytes. CloudFormation generates the change set by\n         comparing this template with the template of the stack that you specified.</p>\n         <p>Conditional: You must specify only <code>TemplateBody</code> or\n            <code>TemplateURL</code>.</p>"
          }
        },
        "TemplateURL": {
          "target": "com.amazonaws.cloudformation#TemplateURL",
          "traits": {
            "smithy.api#documentation": "<p>The location of the file that contains the revised template. The URL must point to a\n         template (max size: 460,800 bytes) that is located in an S3 bucket or a Systems Manager\n         document. CloudFormation generates the change set by comparing this template with the\n         stack that you specified.</p>\n         <p>Conditional: You must specify only <code>TemplateBody</code> or\n            <code>TemplateURL</code>.</p>"
          }
        },
        "UsePreviousTemplate": {
          "target": "com.amazonaws.cloudformation#UsePreviousTemplate",
          "traits": {
            "smithy.api#documentation": "<p>Whether to reuse the template that is associated with the stack to create the change\n         set.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.cloudformation#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>Parameter</code> structures that specify input parameters for the\n         change set. For more information, see the <a>Parameter</a> data type.</p>"
          }
        },
        "Capabilities": {
          "target": "com.amazonaws.cloudformation#Capabilities",
          "traits": {
            "smithy.api#documentation": "<p>In some cases, you must explicitly acknowledge that your stack template contains certain\n         capabilities in order for CloudFormation to create the stack.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code>\n               </p>\n               <p>Some stack templates might include resources that can affect permissions in\n               your Amazon Web Services account; for example, by creating new Identity and Access Management\n               (IAM) users. For those stacks, you must explicitly acknowledge this by specifying one\n               of these capabilities.</p>\n               <p>The following IAM resources require you to specify either the\n                  <code>CAPABILITY_IAM</code> or <code>CAPABILITY_NAMED_IAM</code>\n               capability.</p>\n               <ul>\n                  <li>\n                     <p>If you have IAM resources, you can specify either\n                     capability.</p>\n                  </li>\n                  <li>\n                     <p>If you have IAM resources with custom names, you\n                        <i>must</i> specify <code>CAPABILITY_NAMED_IAM</code>.</p>\n                  </li>\n                  <li>\n                     <p>If you don't specify either of these capabilities, CloudFormation returns an\n                        <code>InsufficientCapabilities</code> error.</p>\n                  </li>\n               </ul>\n               <p>If your stack template contains these resources, we recommend that you review\n               all permissions associated with them and edit their permissions if\n               necessary.</p>\n               <ul>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\">\n                        AWS::IAM::AccessKey</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\">\n                        AWS::IAM::Group</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\">\n                        AWS::IAM::Policy</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\">\n                        AWS::IAM::Role</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\">\n                        AWS::IAM::User</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>\n                     </p>\n                  </li>\n               </ul>\n               <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM\n                  Resources in CloudFormation Templates</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CAPABILITY_AUTO_EXPAND</code>\n               </p>\n               <p>Some template contain macros. Macros perform custom processing on templates; this\n               can include simple actions like find-and-replace operations, all the way to extensive\n               transformations of entire templates. Because of this, users typically create a change\n               set from the processed template, so that they can review the changes resulting from\n               the macros before actually creating the stack. If your stack template contains one or\n               more macros, and you choose to create a stack directly from the processed template,\n               without first reviewing the resulting changes in a change set, you must acknowledge\n               this capability. This includes the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/create-reusable-transform-function-snippets-and-add-to-your-template-with-aws-include-transform.html\">AWS::Include</a> and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/transform-aws-serverless.html\">AWS::Serverless</a> transforms, which are macros hosted by CloudFormation.</p>\n               <note>\n                  <p>This capacity does not apply to creating change sets, and specifying it when\n                  creating change sets has no effect.</p>\n                  <p>If you want to create a stack from a stack template that contains macros\n                     <i>and</i> nested stacks, you must create or update the stack\n                  directly from the template using the <a>CreateStack</a> or <a>UpdateStack</a> action, and specifying this capability.</p>\n               </note>\n               <p>For more information on macros, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-macros.html\">Using CloudFormation Macros to\n                  Perform Custom Processing on Templates</a>.</p>\n            </li>\n         </ul>"
          }
        },
        "ResourceTypes": {
          "target": "com.amazonaws.cloudformation#ResourceTypes",
          "traits": {
            "smithy.api#documentation": "<p>The template resource types that you have permissions to work with if you execute\n         this change set, such as <code>AWS::EC2::Instance</code>, <code>AWS::EC2::*</code>, or\n            <code>Custom::MyCustomInstance</code>.</p>\n         <p>If the list of resource types doesn't include a resource type that you're updating,\n         the stack update fails. By default, CloudFormation grants permissions to all resource\n         types. Identity and Access Management (IAM) uses this parameter for condition keys in\n         IAM policies for CloudFormation. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html\">Controlling Access with\n            Identity and Access Management</a> in the CloudFormation User\n         Guide.</p>"
          }
        },
        "RoleARN": {
          "target": "com.amazonaws.cloudformation#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Identity and Access Management (IAM) role\n         that CloudFormation assumes when executing the change set. CloudFormation uses the\n         role's credentials to make calls on your behalf. CloudFormation uses this role for all\n         future operations on the stack. As long as users have permission to operate on the stack,\n         CloudFormation uses this role even if the users don't have permission to pass it.\n         Ensure that the role grants least privilege.</p>\n         <p>If you don't specify a value, CloudFormation uses the role that was previously\n         associated with the stack. If no role is available, CloudFormation uses a temporary\n         session that is generated from your user credentials.</p>"
          }
        },
        "RollbackConfiguration": {
          "target": "com.amazonaws.cloudformation#RollbackConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The rollback triggers for CloudFormation to monitor during stack creation and\n         updating operations, and for the specified monitoring period afterwards.</p>"
          }
        },
        "NotificationARNs": {
          "target": "com.amazonaws.cloudformation#NotificationARNs",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of Amazon Simple Notification Service (Amazon SNS)\n         topics that CloudFormation associates with the stack. To remove all associated\n         notification topics, specify an empty list.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.cloudformation#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs to associate with this stack. CloudFormation also propagates\n         these tags to resources in the stack. You can specify a maximum of 50 tags.</p>"
          }
        },
        "ChangeSetName": {
          "target": "com.amazonaws.cloudformation#ChangeSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the change set. The name must be unique among all change sets that are\n         associated with the specified stack.</p>\n         <p>A change set name can contain only alphanumeric, case sensitive characters and\n         hyphens. It must start with an alphabetic character and cannot exceed 128\n         characters.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.cloudformation#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this <code>CreateChangeSet</code> request. Specify this token\n         if you plan to retry requests so that CloudFormation knows that you're not attempting\n         to create another change set with the same name. You might retry\n            <code>CreateChangeSet</code> requests to ensure that CloudFormation successfully\n         received them.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.cloudformation#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description to help you identify this change set.</p>"
          }
        },
        "ChangeSetType": {
          "target": "com.amazonaws.cloudformation#ChangeSetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of change set operation. To create a change set for a new stack, specify\n            <code>CREATE</code>. To create a change set for an existing stack, specify\n            <code>UPDATE</code>. To create a change set for an import operation, specify\n            <code>IMPORT</code>.</p>\n         <p>If you create a change set for a new stack, CloudFormation creates a stack with a\n         unique stack ID, but no template or resources. The stack will be in the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-describing-stacks.html#d0e11995\">\n               <code>REVIEW_IN_PROGRESS</code>\n            </a> state until you execute the change\n         set.</p>\n         <p>By default, CloudFormation specifies <code>UPDATE</code>. You can't use the\n            <code>UPDATE</code> type to create a change set for a new stack or the\n            <code>CREATE</code> type to create a change set for an existing stack.</p>"
          }
        },
        "ResourcesToImport": {
          "target": "com.amazonaws.cloudformation#ResourcesToImport",
          "traits": {
            "smithy.api#documentation": "<p>The resources to import into your stack.</p>"
          }
        },
        "IncludeNestedStacks": {
          "target": "com.amazonaws.cloudformation#IncludeNestedStacks",
          "traits": {
            "smithy.api#documentation": "<p>Creates a change set for the all nested stacks specified in the template. The default\n         behavior of this action is set to <code>False</code>. To include nested sets in a change\n         set, specify <code>True</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for the <a>CreateChangeSet</a> action.</p>"
      }
    },
    "com.amazonaws.cloudformation#CreateChangeSetOutput": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.cloudformation#ChangeSetId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the change set.</p>"
          }
        },
        "StackId": {
          "target": "com.amazonaws.cloudformation#StackId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the stack.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The output for the <a>CreateChangeSet</a> action.</p>"
      }
    },
    "com.amazonaws.cloudformation#CreateStack": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudformation#CreateStackInput"
      },
      "output": {
        "target": "com.amazonaws.cloudformation#CreateStackOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudformation#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.cloudformation#InsufficientCapabilitiesException"
        },
        {
          "target": "com.amazonaws.cloudformation#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudformation#TokenAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a stack as specified in the template. After the call completes successfully,\n         the stack creation starts. You can check the status of the stack via the <a>DescribeStacks</a> API.</p>"
      }
    },
    "com.amazonaws.cloudformation#CreateStackInput": {
      "type": "structure",
      "members": {
        "StackName": {
          "target": "com.amazonaws.cloudformation#StackName",
          "traits": {
            "smithy.api#documentation": "<p>The name that is associated with the stack. The name must be unique in the Region in\n         which you are creating the stack.</p>\n         <note>\n            <p>A stack name can contain only alphanumeric characters (case sensitive) and hyphens.\n            It must start with an alphabetical character and cannot be longer than 128\n            characters.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "TemplateBody": {
          "target": "com.amazonaws.cloudformation#TemplateBody",
          "traits": {
            "smithy.api#documentation": "<p>Structure containing the template body with a minimum length of 1 byte and a maximum\n         length of 51,200 bytes. For more information, go to <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a>\n         in the CloudFormation User Guide.</p>\n         <p>Conditional: You must specify either the <code>TemplateBody</code> or the\n            <code>TemplateURL</code> parameter, but not both.</p>"
          }
        },
        "TemplateURL": {
          "target": "com.amazonaws.cloudformation#TemplateURL",
          "traits": {
            "smithy.api#documentation": "<p>Location of file containing the template body. The URL must point to a template (max\n         size: 460,800 bytes) that is located in an Amazon S3 bucket or a Systems Manager document.\n         For more information, go to the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a>\n         in the CloudFormation User Guide.</p>\n         <p>Conditional: You must specify either the <code>TemplateBody</code> or the\n            <code>TemplateURL</code> parameter, but not both.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.cloudformation#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>Parameter</code> structures that specify input parameters for the\n         stack. For more information, see the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a> data\n         type.</p>"
          }
        },
        "DisableRollback": {
          "target": "com.amazonaws.cloudformation#DisableRollback",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>true</code> to disable rollback of the stack if stack creation failed.\n         You can specify either <code>DisableRollback</code> or <code>OnFailure</code>, but not\n         both.</p>\n         <p>Default: <code>false</code>\n         </p>"
          }
        },
        "RollbackConfiguration": {
          "target": "com.amazonaws.cloudformation#RollbackConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The rollback triggers for CloudFormation to monitor during stack creation and\n         updating operations, and for the specified monitoring period afterwards.</p>"
          }
        },
        "TimeoutInMinutes": {
          "target": "com.amazonaws.cloudformation#TimeoutMinutes",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time that can pass before the stack status becomes CREATE_FAILED; if\n            <code>DisableRollback</code> is not set or is set to <code>false</code>, the stack will\n         be rolled back.</p>"
          }
        },
        "NotificationARNs": {
          "target": "com.amazonaws.cloudformation#NotificationARNs",
          "traits": {
            "smithy.api#documentation": "<p>The Simple Notification Service (SNS) topic ARNs to publish stack related events. You\n         can find your SNS topic ARNs using the SNS console or your Command Line Interface\n         (CLI).</p>"
          }
        },
        "Capabilities": {
          "target": "com.amazonaws.cloudformation#Capabilities",
          "traits": {
            "smithy.api#documentation": "<p>In some cases, you must explicitly acknowledge that your stack template contains certain\n         capabilities in order for CloudFormation to create the stack.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code>\n               </p>\n               <p>Some stack templates might include resources that can affect permissions in\n               your Amazon Web Services account; for example, by creating new Identity and Access Management\n               (IAM) users. For those stacks, you must explicitly acknowledge this by specifying one\n               of these capabilities.</p>\n               <p>The following IAM resources require you to specify either the\n                  <code>CAPABILITY_IAM</code> or <code>CAPABILITY_NAMED_IAM</code>\n               capability.</p>\n               <ul>\n                  <li>\n                     <p>If you have IAM resources, you can specify either capability.</p>\n                  </li>\n                  <li>\n                     <p>If you have IAM resources with custom names, you <i>must</i>\n                     specify <code>CAPABILITY_NAMED_IAM</code>.</p>\n                  </li>\n                  <li>\n                     <p>If you don't specify either of these capabilities, CloudFormation returns an\n                        <code>InsufficientCapabilities</code> error.</p>\n                  </li>\n               </ul>\n               <p>If your stack template contains these resources, we recommend that you review\n               all permissions associated with them and edit their permissions if\n               necessary.</p>\n               <ul>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\">\n                        AWS::IAM::AccessKey</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\">\n                        AWS::IAM::Group</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\">\n                        AWS::IAM::Policy</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\">\n                        AWS::IAM::Role</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\">\n                        AWS::IAM::User</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>\n                     </p>\n                  </li>\n               </ul>\n               <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM\n                  Resources in CloudFormation Templates</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CAPABILITY_AUTO_EXPAND</code>\n               </p>\n               <p>Some template contain macros. Macros perform custom processing on templates; this\n               can include simple actions like find-and-replace operations, all the way to extensive\n               transformations of entire templates. Because of this, users typically create a change\n               set from the processed template, so that they can review the changes resulting from\n               the macros before actually creating the stack. If your stack template contains one or\n               more macros, and you choose to create a stack directly from the processed template,\n               without first reviewing the resulting changes in a change set, you must acknowledge\n               this capability. This includes the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/create-reusable-transform-function-snippets-and-add-to-your-template-with-aws-include-transform.html\">AWS::Include</a> and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/transform-aws-serverless.html\">AWS::Serverless</a> transforms, which are macros hosted by CloudFormation.</p>\n               <p>If you want to create a stack from a stack template that contains macros\n                  <i>and</i> nested stacks, you must create the stack directly from\n               the template using this capability.</p>\n               <important>\n                  <p>You should only create stacks directly from a stack template that contains\n                  macros if you know what processing the macro performs.</p>\n                  <p>Each macro relies on an underlying Lambda service function for processing stack\n                  templates. Be aware that the Lambda function owner can update the function\n                  operation without CloudFormation being notified.</p>\n               </important>\n               <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-macros.html\">Using\n                     CloudFormation Macros to Perform Custom Processing on\n               Templates</a>.</p>\n            </li>\n         </ul>"
          }
        },
        "ResourceTypes": {
          "target": "com.amazonaws.cloudformation#ResourceTypes",
          "traits": {
            "smithy.api#documentation": "<p>The template resource types that you have permissions to work with for this create\n         stack action, such as <code>AWS::EC2::Instance</code>, <code>AWS::EC2::*</code>, or\n            <code>Custom::MyCustomInstance</code>. Use the following syntax to describe template\n         resource types: <code>AWS::*</code> (for all Amazon Web Services resources),\n            <code>Custom::*</code> (for all custom resources),\n               <code>Custom::<i>logical_ID</i>\n            </code> (for a specific custom resource),\n            <code>AWS::<i>service_name</i>::*</code> (for all resources of a\n         particular Amazon Web Services service), and\n               <code>AWS::<i>service_name</i>::<i>resource_logical_ID</i>\n               </code> (for a specific Amazon Web Services resource).</p>\n         <p>If the list of resource types doesn't include a resource that you're creating, the\n         stack creation fails. By default, CloudFormation grants permissions to all resource\n         types. Identity and Access Management (IAM) uses this parameter for CloudFormation-specific condition keys in IAM policies. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html\">Controlling Access with Identity and Access Management</a>.</p>"
          }
        },
        "RoleARN": {
          "target": "com.amazonaws.cloudformation#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Identity and Access Management (IAM) role\n         that CloudFormation assumes to create the stack. CloudFormation uses the role's\n         credentials to make calls on your behalf. CloudFormation always uses this role for all\n         future operations on the stack. As long as users have permission to operate on the stack,\n         CloudFormation uses this role even if the users don't have permission to pass it.\n         Ensure that the role grants least privilege.</p>\n         <p>If you don't specify a value, CloudFormation uses the role that was previously\n         associated with the stack. If no role is available, CloudFormation uses a temporary\n         session that is generated from your user credentials.</p>"
          }
        },
        "OnFailure": {
          "target": "com.amazonaws.cloudformation#OnFailure",
          "traits": {
            "smithy.api#documentation": "<p>Determines what action will be taken if stack creation fails. This must be one of:\n         DO_NOTHING, ROLLBACK, or DELETE. You can specify either <code>OnFailure</code> or\n            <code>DisableRollback</code>, but not both.</p>\n         <p>Default: <code>ROLLBACK</code>\n         </p>"
          }
        },
        "StackPolicyBody": {
          "target": "com.amazonaws.cloudformation#StackPolicyBody",
          "traits": {
            "smithy.api#documentation": "<p>Structure containing the stack policy body. For more information, go to <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/protect-stack-resources.html\"> Prevent Updates\n            to Stack Resources</a> in the <i>CloudFormation User Guide</i>.\n         You can specify either the <code>StackPolicyBody</code> or the <code>StackPolicyURL</code>\n         parameter, but not both.</p>"
          }
        },
        "StackPolicyURL": {
          "target": "com.amazonaws.cloudformation#StackPolicyURL",
          "traits": {
            "smithy.api#documentation": "<p>Location of a file containing the stack policy. The URL must point to a policy\n         (maximum size: 16 KB) located in an S3 bucket in the same\n         Region as the stack. You can specify either the <code>StackPolicyBody</code> or the\n            <code>StackPolicyURL</code> parameter, but not both.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.cloudformation#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs to associate with this stack. CloudFormation also propagates\n         these tags to the resources created in the stack. A maximum number of 50 tags can be\n         specified.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.cloudformation#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this <code>CreateStack</code> request. Specify this token if\n         you plan to retry requests so that CloudFormation knows that you're not attempting to\n         create a stack with the same name. You might retry <code>CreateStack</code> requests to\n         ensure that CloudFormation successfully received them.</p>\n         <p>All events triggered by a given stack operation are assigned the same client request\n         token, which you can use to track operations. For example, if you execute a\n         <code>CreateStack</code> operation with the token <code>token1</code>, then all the\n         <code>StackEvents</code> generated by that operation will have\n         <code>ClientRequestToken</code> set as <code>token1</code>.</p>\n         <p>In the console, stack operations display the client request token on the Events tab.\n         Stack operations that are initiated from the console use the token format\n            <i>Console-StackOperation-ID</i>, which helps you easily identify the\n         stack operation . For example, if you create a stack using the console, each stack event\n         would be assigned the same token in the following format:\n         <code>Console-CreateStack-7f59c3cf-00d2-40c7-b2ff-e75db0987002</code>. </p>"
          }
        },
        "EnableTerminationProtection": {
          "target": "com.amazonaws.cloudformation#EnableTerminationProtection",
          "traits": {
            "smithy.api#documentation": "<p>Whether to enable termination protection on the specified stack. If a user attempts to\n         delete a stack with termination protection enabled, the operation fails and the stack\n         remains unchanged. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-protect-stacks.html\">Protecting a Stack From Being\n            Deleted</a> in the <i>CloudFormation User Guide</i>. Termination protection is\n         disabled on stacks by default.</p>\n         <p>For <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-nested-stacks.html\">nested stacks</a>,\n         termination protection is set on the root stack and cannot be changed directly on the\n         nested stack.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for <a>CreateStack</a> action.</p>"
      }
    },
    "com.amazonaws.cloudformation#CreateStackInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudformation#CreateStackInstancesInput"
      },
      "output": {
        "target": "com.amazonaws.cloudformation#CreateStackInstancesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudformation#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.cloudformation#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudformation#OperationIdAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.cloudformation#OperationInProgressException"
        },
        {
          "target": "com.amazonaws.cloudformation#StackSetNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudformation#StaleRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates stack instances for the specified accounts, within the specified Regions. A\n         stack instance refers to a stack in a specific account and Region. You must specify at least one value for either <code>Accounts</code> or <code>DeploymentTargets</code>, and you must specify at least one value for <code>Regions</code>.</p>"
      }
    },
    "com.amazonaws.cloudformation#CreateStackInstancesInput": {
      "type": "structure",
      "members": {
        "StackSetName": {
          "target": "com.amazonaws.cloudformation#StackSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name or unique ID of the stack set that you want to create stack instances\n         from.</p>",
            "smithy.api#required": {}
          }
        },
        "Accounts": {
          "target": "com.amazonaws.cloudformation#AccountList",
          "traits": {
            "smithy.api#documentation": "<p>[Self-managed permissions] The names of one or more Amazon Web Services accounts that you want to create stack instances in the\n         specified Region(s) for.</p>\n         <p>You can specify <code>Accounts</code> or <code>DeploymentTargets</code>, but not both.</p>"
          }
        },
        "DeploymentTargets": {
          "target": "com.amazonaws.cloudformation#DeploymentTargets",
          "traits": {
            "smithy.api#documentation": "<p>[Service-managed permissions] The Organizations accounts for which to create\n         stack instances in the specified Regions.</p>\n         <p>You can specify <code>Accounts</code> or <code>DeploymentTargets</code>, but not\n         both.</p>"
          }
        },
        "Regions": {
          "target": "com.amazonaws.cloudformation#RegionList",
          "traits": {
            "smithy.api#documentation": "<p>The names of one or more Regions where you want to create stack instances using the\n         specified Amazon Web Services accounts.</p>",
            "smithy.api#required": {}
          }
        },
        "ParameterOverrides": {
          "target": "com.amazonaws.cloudformation#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>A list of stack set parameters whose values you want to override in the selected\n         stack instances.</p>\n         <p>Any overridden parameter values will be applied to all stack instances in the\n         specified accounts and Regions. When specifying parameters and their values, be aware of\n         how CloudFormation sets parameter values during stack instance operations:</p>\n         <ul>\n            <li>\n               <p>To override the current value for a parameter, include the parameter and\n               specify its value.</p>\n            </li>\n            <li>\n               <p>To leave an overridden parameter set to its present value, include the parameter and specify <code>UsePreviousValue</code> as\n               <code>true</code>. (You cannot specify both a value and set\n               <code>UsePreviousValue</code> to <code>true</code>.)</p>\n            </li>\n            <li>\n               <p>To set an overridden parameter back to the value specified in the stack set,\n               specify a parameter list but do not include the parameter in the list.</p>\n            </li>\n            <li>\n               <p>To leave all parameters set to their present values, do not specify this\n               property at all.</p>\n            </li>\n         </ul>\n         <p>During stack set updates, any parameter values overridden for a stack instance are\n         not updated, but retain their overridden value.</p>\n         <p>You can only override the parameter <i>values</i> that are specified in\n         the stack set; to add or delete a parameter itself, use <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_UpdateStackSet.html\">UpdateStackSet</a> to update the stack set template.</p>"
          }
        },
        "OperationPreferences": {
          "target": "com.amazonaws.cloudformation#StackSetOperationPreferences",
          "traits": {
            "smithy.api#documentation": "<p>Preferences for how CloudFormation performs this stack set operation.</p>"
          }
        },
        "OperationId": {
          "target": "com.amazonaws.cloudformation#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for this stack set operation.</p>\n         <p>The operation ID also functions as an idempotency token, to ensure that\n         CloudFormation performs the stack set operation only once, even if you retry the request\n         multiple times. You might retry stack set operation requests to ensure that\n         CloudFormation successfully received them.</p>\n         <p>If you don't specify an operation ID, the SDK generates one\n         automatically.</p>\n         <p>Repeating this stack set operation with a new operation ID retries all stack instances\n         whose status is <code>OUTDATED</code>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "CallAs": {
          "target": "com.amazonaws.cloudformation#CallAs",
          "traits": {
            "smithy.api#documentation": "<p>[Service-managed permissions] Specifies whether you are acting as an account administrator in the organization's management account or as a delegated administrator in a member account.</p> \n         <p>By default, <code>SELF</code> is specified. Use <code>SELF</code> for stack sets with self-managed permissions.</p>\n         <ul>\n            <li>\n               <p>If you are signed in to the management account, specify <code>SELF</code>.</p>\n            </li>\n            <li>\n               <p>If you are signed in to a delegated administrator account, specify <code>DELEGATED_ADMIN</code>.</p>\n               <p>Your Amazon Web Services account must be registered as a delegated administrator in the management account. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-orgs-delegated-admin.html\">Register a delegated administrator</a> in the <i>CloudFormation User Guide</i>.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.cloudformation#CreateStackInstancesOutput": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.cloudformation#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for this stack set operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.cloudformation#CreateStackOutput": {
      "type": "structure",
      "members": {
        "StackId": {
          "target": "com.amazonaws.cloudformation#StackId",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier of the stack.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The output for a <a>CreateStack</a> action.</p>"
      }
    },
    "com.amazonaws.cloudformation#CreateStackSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudformation#CreateStackSetInput"
      },
      "output": {
        "target": "com.amazonaws.cloudformation#CreateStackSetOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudformation#CreatedButModifiedException"
        },
        {
          "target": "com.amazonaws.cloudformation#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudformation#NameAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a stack set.</p>"
      }
    },
    "com.amazonaws.cloudformation#CreateStackSetInput": {
      "type": "structure",
      "members": {
        "StackSetName": {
          "target": "com.amazonaws.cloudformation#StackSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name to associate with the stack set. The name must be unique in the Region where\n         you create your stack set.</p>\n         <note>\n            <p>A stack name can contain only alphanumeric characters (case-sensitive) and\n            hyphens. It must start with an alphabetic character and can't be longer than 128\n            characters.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.cloudformation#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the stack set. You can use the description to identify the stack\n         set's purpose or other important information.</p>"
          }
        },
        "TemplateBody": {
          "target": "com.amazonaws.cloudformation#TemplateBody",
          "traits": {
            "smithy.api#documentation": "<p>The structure that contains the template body, with a minimum length of 1 byte and a\n         maximum length of 51,200 bytes. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a>\n         in the CloudFormation User Guide.</p>\n         <p>Conditional: You must specify either the TemplateBody or the TemplateURL parameter,\n         but not both.</p>"
          }
        },
        "TemplateURL": {
          "target": "com.amazonaws.cloudformation#TemplateURL",
          "traits": {
            "smithy.api#documentation": "<p>The location of the file that contains the template body. The URL must point to a\n         template (maximum size: 460,800 bytes) that's located in an Amazon S3 bucket or a Systems\n         Manager document. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a>\n         in the CloudFormation User Guide.</p>\n         <p>Conditional: You must specify either the TemplateBody or the TemplateURL parameter,\n         but not both.</p>"
          }
        },
        "StackId": {
          "target": "com.amazonaws.cloudformation#StackId",
          "traits": {
            "smithy.api#documentation": "<p>The stack ID you are importing into a new stack set. Specify the Amazon Resource Number\n         (ARN) of the stack.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.cloudformation#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>The input parameters for the stack set template.</p>"
          }
        },
        "Capabilities": {
          "target": "com.amazonaws.cloudformation#Capabilities",
          "traits": {
[...]
