{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.cloudformation#AcceptTermsAndConditions": {
      "type": "boolean"
    },
    "com.amazonaws.cloudformation#Account": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.cloudformation#AccountFilterType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "INTERSECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERSECTION"
          }
        },
        "DIFFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIFFERENCE"
          }
        },
        "UNION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNION"
          }
        }
      }
    },
    "com.amazonaws.cloudformation#AccountGateResult": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.cloudformation#AccountGateStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the account gate function.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SUCCEEDED</code>: The account gate function has determined that the account and Region passes any\n     requirements for a stack set operation to occur. CloudFormation proceeds with the stack operation in that account and\n     Region.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code>: The account gate function has determined that the account and Region doesn't meet the\n     requirements for a stack set operation to occur. CloudFormation cancels the stack set operation in that account and Region,\n     and sets the stack set operation result status for that account and Region to <code>FAILED</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SKIPPED</code>: CloudFormation has skipped calling the account gate function for this account and Region, for one\n     of the following reasons:</p>\n               <ul>\n                  <li>\n                     <p>An account gate function hasn't been specified for the account and Region. CloudFormation proceeds with the stack set\n       operation in this account and Region.</p>\n                  </li>\n                  <li>\n                     <p>The <code>AWSCloudFormationStackSetExecutionRole</code> of the stack set administration account lacks\n       permissions to invoke the function. CloudFormation proceeds with the stack set operation in this account and\n       Region.</p>\n                  </li>\n                  <li>\n                     <p>Either no action is necessary, or no action is possible, on the stack. CloudFormation skips the stack set operation\n       in this account and Region.</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>"
          }
        },
        "StatusReason": {
          "target": "com.amazonaws.cloudformation#AccountGateStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the account gate status assigned to this account and Region for the stack set operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure that contains the results of the account gate function which CloudFormation invokes, if present, before\n   proceeding with a stack set operation in an account and Region.</p>\n         <p>For each account and Region, CloudFormation lets you specify a Lambda function that encapsulates any\n   requirements that must be met before CloudFormation can proceed with a stack set operation in that account and Region.\n   CloudFormation invokes the function each time a stack set operation is requested for that account and Region; if the\n   function returns <code>FAILED</code>, CloudFormation cancels the operation in that account and Region, and sets the stack\n   set operation result status for that account and Region to <code>FAILED</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-account-gating.html\">Configuring a target account\n   gate</a>.</p>"
      }
    },
    "com.amazonaws.cloudformation#AccountGateStatus": {
      "type": "enum",
      "members": {
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        }
      }
    },
    "com.amazonaws.cloudformation#AccountGateStatusReason": {
      "type": "string"
    },
    "com.amazonaws.cloudformation#AccountLimit": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.cloudformation#LimitName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the account limit.</p>\n         <p>Values: <code>ConcurrentResourcesLimit</code> | <code>StackLimit</code> | <code>StackOutputsLimit</code>\n         </p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.cloudformation#LimitValue",
          "traits": {
            "smithy.api#documentation": "<p>The value that's associated with the account limit name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The AccountLimit data type.</p>\n         <p>CloudFormation has the following limits per account:</p>\n         <ul>\n            <li>\n               <p>Number of concurrent resources</p>\n            </li>\n            <li>\n               <p>Number of stacks</p>\n            </li>\n            <li>\n               <p>Number of stack outputs</p>\n            </li>\n         </ul>\n         <p>For more information about these account limits, and other CloudFormation limits, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cloudformation-limits.html\">CloudFormation quotas</a> in the\n   <i>CloudFormation User Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudformation#AccountLimitList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudformation#AccountLimit"
      }
    },
    "com.amazonaws.cloudformation#AccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudformation#Account"
      }
    },
    "com.amazonaws.cloudformation#AccountsUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5120
        },
        "smithy.api#pattern": "^(s3://|http(s?)://).+$"
      }
    },
    "com.amazonaws.cloudformation#ActivateOrganizationsAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudformation#ActivateOrganizationsAccessInput"
      },
      "output": {
        "target": "com.amazonaws.cloudformation#ActivateOrganizationsAccessOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudformation#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.cloudformation#OperationNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activate trusted access with Organizations. With trusted access between StackSets and Organizations\n   activated, the management account has permissions to create and manage StackSets for your\n   organization.</p>"
      }
    },
    "com.amazonaws.cloudformation#ActivateOrganizationsAccessInput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudformation#ActivateOrganizationsAccessOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudformation#ActivateType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudformation#ActivateTypeInput"
      },
      "output": {
        "target": "com.amazonaws.cloudformation#ActivateTypeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudformation#CFNRegistryException"
        },
        {
          "target": "com.amazonaws.cloudformation#TypeNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates a public third-party extension, making it available for use in stack templates. For more information,\n   see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/registry-public.html\">Using public\n   extensions</a> in the <i>CloudFormation User Guide</i>.</p>\n         <p>Once you have activated a public third-party extension in your account and Region, use <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_SetTypeConfiguration.html\">SetTypeConfiguration</a> to specify configuration properties for the extension. For more information, see\n    <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/registry-private.html#registry-set-configuration\">Configuring extensions at\n    the account level</a> in the <i>CloudFormation User Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.cloudformation#ActivateTypeInput": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.cloudformation#ThirdPartyType",
          "traits": {
            "smithy.api#documentation": "<p>The extension type.</p>\n         <p>Conditional: You must specify <code>PublicTypeArn</code>, or <code>TypeName</code>, <code>Type</code>, and\n   <code>PublisherId</code>.</p>"
          }
        },
        "PublicTypeArn": {
          "target": "com.amazonaws.cloudformation#ThirdPartyTypeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the public extension.</p>\n         <p>Conditional: You must specify <code>PublicTypeArn</code>, or <code>TypeName</code>, <code>Type</code>, and\n   <code>PublisherId</code>.</p>"
          }
        },
        "PublisherId": {
          "target": "com.amazonaws.cloudformation#PublisherId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the extension publisher.</p>\n         <p>Conditional: You must specify <code>PublicTypeArn</code>, or <code>TypeName</code>, <code>Type</code>, and\n   <code>PublisherId</code>.</p>"
          }
        },
        "TypeName": {
          "target": "com.amazonaws.cloudformation#TypeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the extension.</p>\n         <p>Conditional: You must specify <code>PublicTypeArn</code>, or <code>TypeName</code>, <code>Type</code>, and\n   <code>PublisherId</code>.</p>"
          }
        },
        "TypeNameAlias": {
          "target": "com.amazonaws.cloudformation#TypeName",
          "traits": {
            "smithy.api#documentation": "<p>An alias to assign to the public extension, in this account and Region. If you specify an alias for the\n   extension, CloudFormation treats the alias as the extension type name within this account and Region. You must use the\n   alias to refer to the extension in your templates, API calls, and CloudFormation console.</p>\n         <p>An extension alias must be unique within a given account and Region. You can activate the same public resource\n   multiple times in the same account and Region, using different type name aliases.</p>"
          }
        },
        "AutoUpdate": {
          "target": "com.amazonaws.cloudformation#AutoUpdate",
          "traits": {
            "smithy.api#documentation": "<p>Whether to automatically update the extension in this account and Region when a new <i>minor</i>\n   version is published by the extension publisher. Major versions released by the publisher must be manually\n   updated.</p>\n         <p>The default is <code>true</code>.</p>"
          }
        },
        "LoggingConfig": {
          "target": "com.amazonaws.cloudformation#LoggingConfig",
          "traits": {
            "smithy.api#documentation": "<p>Contains logging configuration information for an extension.</p>"
          }
        },
        "ExecutionRoleArn": {
          "target": "com.amazonaws.cloudformation#RoleARN2",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IAM execution role to use to activate the extension.</p>"
          }
        },
        "VersionBump": {
          "target": "com.amazonaws.cloudformation#VersionBump",
          "traits": {
            "smithy.api#documentation": "<p>Manually updates a previously-activated type to a new major or minor version, if available. You can also use\n   this parameter to update the value of <code>AutoUpdate</code>.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>MAJOR</code>: CloudFormation updates the extension to the newest major version, if one is available.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MINOR</code>: CloudFormation updates the extension to the newest minor version, if one is available.</p>\n            </li>\n         </ul>"
          }
        },
        "MajorVersion": {
          "target": "com.amazonaws.cloudformation#MajorVersion",
          "traits": {
            "smithy.api#documentation": "<p>The major version of this extension you want to activate, if multiple major versions are available. The default\n   is the latest major version. CloudFormation uses the latest available <i>minor</i> version of the major\n   version selected.</p>\n         <p>You can specify <code>MajorVersion</code> or <code>VersionBump</code>, but not both.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudformation#ActivateTypeOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.cloudformation#PrivateTypeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the activated extension, in this account and Region.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudformation#AfterContext": {
      "type": "string"
    },
    "com.amazonaws.cloudformation#AfterValue": {
      "type": "string"
    },
    "com.amazonaws.cloudformation#AllowedValue": {
      "type": "string"
    },
    "com.amazonaws.cloudformation#AllowedValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudformation#AllowedValue"
      }
    },
    "com.amazonaws.cloudformation#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudformation#ErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AlreadyExistsException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The resource with the name requested already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudformation#Arn": {
      "type": "string"
    },
    "com.amazonaws.cloudformation#AttributeChangeType": {
      "type": "enum",
      "members": {
        "Add": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Add"
          }
        },
        "Remove": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Remove"
          }
        },
        "Modify": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Modify"
          }
        }
      }
    },
    "com.amazonaws.cloudformation#AutoDeployment": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.cloudformation#AutoDeploymentNullable",
          "traits": {
            "smithy.api#documentation": "<p>If set to <code>true</code>, StackSets automatically deploys additional stack instances to Organizations\n   accounts that are added to a target organization or organizational unit (OU) in the specified Regions. If an account\n   is removed from a target organization or OU, StackSets deletes stack instances from the account in the specified\n   Regions.</p>"
          }
        },
        "RetainStacksOnAccountRemoval": {
          "target": "com.amazonaws.cloudformation#RetainStacksOnAccountRemovalNullable",
          "traits": {
            "smithy.api#documentation": "<p>If set to <code>true</code>, stack resources are retained when an account is removed from a target organization\n   or OU. If set to <code>false</code>, stack resources are deleted. Specify only if <code>Enabled</code> is set to\n    <code>True</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>[Service-managed permissions] Describes whether StackSets automatically deploys to Organizations\n   accounts that are added to a target organization or organizational unit (OU).</p>"
      }
    },
    "com.amazonaws.cloudformation#AutoDeploymentNullable": {
      "type": "boolean"
    },
    "com.amazonaws.cloudformation#AutoUpdate": {
      "type": "boolean"
    },
    "com.amazonaws.cloudformation#BatchDescribeTypeConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudformation#BatchDescribeTypeConfigurationsInput"
      },
      "output": {
        "target": "com.amazonaws.cloudformation#BatchDescribeTypeConfigurationsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudformation#CFNRegistryException"
        },
        {
          "target": "com.amazonaws.cloudformation#TypeConfigurationNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns configuration data for the specified CloudFormation extensions, from the CloudFormation registry\n   for the account and Region.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/registry-private.html#registry-set-configuration\">Configuring extensions at\n   the account level</a> in the <i>CloudFormation User Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudformation#BatchDescribeTypeConfigurationsError": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.cloudformation#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.cloudformation#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        },
        "TypeConfigurationIdentifier": {
          "target": "com.amazonaws.cloudformation#TypeConfigurationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Identifying information for the configuration of a CloudFormation extension.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed information concerning an error generated during the setting of configuration data for a CloudFormation extension.</p>"
      }
    },
    "com.amazonaws.cloudformation#BatchDescribeTypeConfigurationsErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudformation#BatchDescribeTypeConfigurationsError"
      }
    },
    "com.amazonaws.cloudformation#BatchDescribeTypeConfigurationsInput": {
      "type": "structure",
      "members": {
        "TypeConfigurationIdentifiers": {
          "target": "com.amazonaws.cloudformation#TypeConfigurationIdentifiers",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The list of identifiers for the desired extension configurations.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudformation#BatchDescribeTypeConfigurationsOutput": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.cloudformation#BatchDescribeTypeConfigurationsErrors",
          "traits": {
            "smithy.api#documentation": "<p>A list of information concerning any errors generated during the setting of the specified configurations.</p>"
          }
        },
        "UnprocessedTypeConfigurations": {
          "target": "com.amazonaws.cloudformation#UnprocessedTypeConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>A list of any of the specified extension configurations that CloudFormation could not process for any reason.</p>"
          }
        },
        "TypeConfigurations": {
          "target": "com.amazonaws.cloudformation#TypeConfigurationDetailsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of any of the specified extension configurations from the CloudFormation registry.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudformation#BeforeContext": {
      "type": "string"
    },
    "com.amazonaws.cloudformation#BeforeValue": {
      "type": "string"
    },
    "com.amazonaws.cloudformation#BoxedInteger": {
      "type": "integer"
    },
    "com.amazonaws.cloudformation#BoxedMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.cloudformation#CFNRegistryException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudformation#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>An message with details about the error that occurred.</p>"
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CFNRegistryException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>An error occurred during a CloudFormation registry operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudformation#CallAs": {
      "type": "enum",
      "members": {
        "SELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SELF"
          }
        },
        "DELEGATED_ADMIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELEGATED_ADMIN"
          }
        }
      }
    },
    "com.amazonaws.cloudformation#CancelUpdateStack": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudformation#CancelUpdateStackInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudformation#TokenAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels an update on the specified stack. If the call completes successfully, the stack rolls back the update\n   and reverts to the previous stack configuration.</p>\n         <note>\n            <p>You can cancel only stacks that are in the <code>UPDATE_IN_PROGRESS</code> state.</p>\n         </note>"
      }
    },
    "com.amazonaws.cloudformation#CancelUpdateStackInput": {
      "type": "structure",
      "members": {
        "StackName": {
          "target": "com.amazonaws.cloudformation#StackName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<note>\n            <p>If you don't pass a parameter to <code>StackName</code>, the API returns a response that describes all\n    resources in the account.</p>\n            <p>The IAM policy below can be added to IAM policies when you want to limit resource-level permissions and\n    avoid returning a response when no parameter is sent in the request:</p>\n            <p>\n               <code>{ \"Version\": \"2012-10-17\", \"Statement\": [{ \"Effect\": \"Deny\", \"Action\": \"cloudformation:DescribeStacks\",\n    \"NotResource\": \"arn:aws:cloudformation:*:*:stack/*/*\" }] }</code>\n            </p>\n         </note>\n         <p>The name or the unique stack ID that's associated with the stack.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.cloudformation#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this <code>CancelUpdateStack</code> request. Specify this token if you plan to retry\n   requests so that CloudFormation knows that you're not attempting to cancel an update on a stack with the same name. You might\n   retry <code>CancelUpdateStack</code> requests to ensure that CloudFormation successfully received them.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for the <a>CancelUpdateStack</a> action.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudformation#Capabilities": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudformation#Capability"
      }
    },
    "com.amazonaws.cloudformation#CapabilitiesReason": {
      "type": "string"
    },
    "com.amazonaws.cloudformation#Capability": {
      "type": "enum",
      "members": {
        "CAPABILITY_IAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPABILITY_IAM"
          }
        },
        "CAPABILITY_NAMED_IAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPABILITY_NAMED_IAM"
          }
        },
        "CAPABILITY_AUTO_EXPAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPABILITY_AUTO_EXPAND"
          }
        }
      }
    },
    "com.amazonaws.cloudformation#Category": {
      "type": "enum",
      "members": {
        "REGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REGISTERED"
          }
        },
        "ACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVATED"
          }
        },
        "THIRD_PARTY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THIRD_PARTY"
          }
        },
        "AWS_TYPES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_TYPES"
          }
        }
      }
    },
    "com.amazonaws.cloudformation#CausingEntity": {
      "type": "string"
    },
    "com.amazonaws.cloudformation#Change": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.cloudformation#ChangeType",
          "traits": {
            "smithy.api#documentation": "<p>The type of entity that CloudFormation changes.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Resource</code> This change is for a resource.</p>\n            </li>\n         </ul>"
          }
        },
        "HookInvocationCount": {
          "target": "com.amazonaws.cloudformation#HookInvocationCount",
          "traits": {
            "smithy.api#documentation": "<p>Is either <code>null</code>, if no hooks invoke for the resource, or contains the number of hooks that will\n   invoke for the resource.</p>"
          }
        },
        "ResourceChange": {
          "target": "com.amazonaws.cloudformation#ResourceChange",
          "traits": {
            "smithy.api#documentation": "<p>A <code>ResourceChange</code> structure that describes the resource and action that CloudFormation will perform.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>Change</code> structure describes the changes CloudFormation will perform if you execute the change set.</p>"
      }
    },
    "com.amazonaws.cloudformation#ChangeAction": {
      "type": "enum",
      "members": {
        "Add": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Add"
          }
        },
        "Modify": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Modify"
          }
        },
        "Remove": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Remove"
          }
        },
        "Import": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Import"
          }
        },
        "Dynamic": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dynamic"
          }
        }
      }
    },
    "com.amazonaws.cloudformation#ChangeSetHook": {
      "type": "structure",
      "members": {
        "InvocationPoint": {
          "target": "com.amazonaws.cloudformation#HookInvocationPoint",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the points in provisioning logic where a hook is invoked.</p>"
          }
        },
        "FailureMode": {
          "target": "com.amazonaws.cloudformation#HookFailureMode",
          "traits": {
            "smithy.api#documentation": "<p>Specify the hook failure mode for non-compliant resources in the followings ways.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>FAIL</code> Stops provisioning resources.</p>\n            </li>\n            <li>\n               <p>\n                  <code>WARN</code> Allows provisioning to continue with a warning message.</p>\n            </li>\n         </ul>"
          }
        },
        "TypeName": {
          "target": "com.amazonaws.cloudformation#HookTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name for your hook. Specifies a three-part namespace for your hook, with a recommended pattern of\n   <code>Organization::Service::Hook</code>.</p>\n         <note>\n            <p>The following organization namespaces are reserved and can't be used in your hook type names:</p>\n            <ul>\n               <li>\n                  <p>\n                     <code>Alexa</code>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <code>AMZN</code>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <code>Amazon</code>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <code>ASK</code>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <code>AWS</code>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <code>Custom</code>\n                  </p>\n               </li>\n               <li>\n                  <p>\n                     <code>Dev</code>\n                  </p>\n               </li>\n            </ul>\n         </note>"
          }
        },
        "TypeVersionId": {
          "target": "com.amazonaws.cloudformation#HookTypeVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The version ID of the type specified.</p>"
          }
        },
        "TypeConfigurationVersionId": {
          "target": "com.amazonaws.cloudformation#HookTypeConfigurationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The version ID of the type configuration.</p>"
          }
        },
        "TargetDetails": {
          "target": "com.amazonaws.cloudformation#ChangeSetHookTargetDetails",
          "traits": {
            "smithy.api#documentation": "<p>Specifies details about the target that the hook will run against.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the resource, the hook, and the hook version to be invoked.</p>"
      }
    },
    "com.amazonaws.cloudformation#ChangeSetHookResourceTargetDetails": {
      "type": "structure",
      "members": {
        "LogicalResourceId": {
          "target": "com.amazonaws.cloudformation#LogicalResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource's logical ID, which is defined in the stack's template.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.cloudformation#HookTargetTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The type of CloudFormation resource, such as <code>AWS::S3::Bucket</code>.</p>"
          }
        },
        "ResourceAction": {
          "target": "com.amazonaws.cloudformation#ChangeAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the action of the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies <code>RESOURCE</code> type target details for activated hooks.</p>"
      }
    },
    "com.amazonaws.cloudformation#ChangeSetHookTargetDetails": {
      "type": "structure",
      "members": {
        "TargetType": {
          "target": "com.amazonaws.cloudformation#HookTargetType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the type.</p>"
          }
        },
        "ResourceTargetDetails": {
          "target": "com.amazonaws.cloudformation#ChangeSetHookResourceTargetDetails",
          "traits": {
            "smithy.api#documentation": "<p>Required if <code>TargetType</code> is <code>RESOURCE</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies target details for an activated hook.</p>"
      }
    },
    "com.amazonaws.cloudformation#ChangeSetHooks": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudformation#ChangeSetHook"
      }
    },
    "com.amazonaws.cloudformation#ChangeSetHooksStatus": {
      "type": "enum",
      "members": {
        "PLANNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNING"
          }
        },
        "PLANNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLANNED"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAVAILABLE"
          }
        }
      }
    },
    "com.amazonaws.cloudformation#ChangeSetId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#pattern": "^arn:[-a-zA-Z0-9:/]*$"
      }
    },
    "com.amazonaws.cloudformation#ChangeSetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z][-a-zA-Z0-9]*$"
      }
    },
    "com.amazonaws.cloudformation#ChangeSetNameOrId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^[a-zA-Z][-a-zA-Z0-9]*|arn:[-a-zA-Z0-9:/]*$"
      }
    },
    "com.amazonaws.cloudformation#ChangeSetNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudformation#ErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ChangeSetNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>The specified change set name or ID doesn't exit. To view valid change sets for a stack, use the\n   <code>ListChangeSets</code> operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.cloudformation#ChangeSetStatus": {
      "type": "enum",
      "members": {
        "CREATE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_PENDING"
          }
        },
        "CREATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_IN_PROGRESS"
          }
        },
        "CREATE_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_COMPLETE"
          }
        },
        "DELETE_PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_PENDING"
          }
        },
        "DELETE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_IN_PROGRESS"
          }
        },
        "DELETE_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_COMPLETE"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.cloudformation#ChangeSetStatusReason": {
      "type": "string"
    },
    "com.amazonaws.cloudformation#ChangeSetSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudformation#ChangeSetSummary"
      }
    },
    "com.amazonaws.cloudformation#ChangeSetSummary": {
      "type": "structure",
      "members": {
        "StackId": {
          "target": "com.amazonaws.cloudformation#StackId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the stack with which the change set is associated.</p>"
          }
        },
        "StackName": {
          "target": "com.amazonaws.cloudformation#StackName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stack with which the change set is associated.</p>"
          }
        },
        "ChangeSetId": {
          "target": "com.amazonaws.cloudformation#ChangeSetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the change set.</p>"
          }
        },
        "ChangeSetName": {
          "target": "com.amazonaws.cloudformation#ChangeSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the change set.</p>"
          }
        },
        "ExecutionStatus": {
          "target": "com.amazonaws.cloudformation#ExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>If the change set execution status is <code>AVAILABLE</code>, you can execute the change set. If you can't\n   execute the change set, the status indicates why. For example, a change set might be in an <code>UNAVAILABLE</code>\n   state because CloudFormation is still creating it or in an <code>OBSOLETE</code> state because the stack was already\n   updated.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.cloudformation#ChangeSetStatus",
          "traits": {
            "smithy.api#documentation": "<p>The state of the change set, such as <code>CREATE_IN_PROGRESS</code>, <code>CREATE_COMPLETE</code>, or\n   <code>FAILED</code>.</p>"
          }
        },
        "StatusReason": {
          "target": "com.amazonaws.cloudformation#ChangeSetStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>A description of the change set's status. For example, if your change set is in the <code>FAILED</code> state,\n   CloudFormation shows the error message.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.cloudformation#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The start time when the change set was created, in UTC.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.cloudformation#Description",
          "traits": {
            "smithy.api#documentation": "<p>Descriptive information about the change set.</p>"
          }
        },
        "IncludeNestedStacks": {
          "target": "com.amazonaws.cloudformation#IncludeNestedStacks",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the current setting of <code>IncludeNestedStacks</code> for the change set.</p>"
          }
        },
        "ParentChangeSetId": {
          "target": "com.amazonaws.cloudformation#ChangeSetId",
          "traits": {
            "smithy.api#documentation": "<p>The parent change set ID.</p>"
          }
        },
        "RootChangeSetId": {
          "target": "com.amazonaws.cloudformation#ChangeSetId",
          "traits": {
            "smithy.api#documentation": "<p>The root change set ID.</p>"
          }
        },
        "ImportExistingResources": {
          "target": "com.amazonaws.cloudformation#ImportExistingResources",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if the change set imports resources that already exist.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>ChangeSetSummary</code> structure describes a change set, its status, and the stack with which it's\n   associated.</p>"
      }
    },
    "com.amazonaws.cloudformation#ChangeSetType": {
      "type": "enum",
      "members": {
        "CREATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE"
          }
        },
        "UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE"
          }
        },
        "IMPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPORT"
          }
        }
      }
    },
    "com.amazonaws.cloudformation#ChangeSource": {
      "type": "enum",
      "members": {
        "ResourceReference": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResourceReference"
          }
        },
        "ParameterReference": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ParameterReference"
          }
        },
        "ResourceAttribute": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResourceAttribute"
          }
        },
        "DirectModification": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DirectModification"
          }
        },
        "Automatic": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Automatic"
          }
        }
      }
    },
    "com.amazonaws.cloudformation#ChangeType": {
      "type": "enum",
      "members": {
        "Resource": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Resource"
          }
        }
      }
    },
    "com.amazonaws.cloudformation#Changes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudformation#Change"
      }
    },
    "com.amazonaws.cloudformation#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*$"
      }
    },
    "com.amazonaws.cloudformation#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.cloudformation#CloudFormation": {
      "type": "service",
      "version": "2010-05-15",
      "operations": [
        {
          "target": "com.amazonaws.cloudformation#ActivateOrganizationsAccess"
        },
        {
          "target": "com.amazonaws.cloudformation#ActivateType"
        },
        {
          "target": "com.amazonaws.cloudformation#BatchDescribeTypeConfigurations"
        },
        {
          "target": "com.amazonaws.cloudformation#CancelUpdateStack"
        },
        {
          "target": "com.amazonaws.cloudformation#ContinueUpdateRollback"
        },
        {
          "target": "com.amazonaws.cloudformation#CreateChangeSet"
        },
        {
          "target": "com.amazonaws.cloudformation#CreateGeneratedTemplate"
        },
        {
          "target": "com.amazonaws.cloudformation#CreateStack"
        },
        {
          "target": "com.amazonaws.cloudformation#CreateStackInstances"
        },
        {
          "target": "com.amazonaws.cloudformation#CreateStackSet"
        },
        {
          "target": "com.amazonaws.cloudformation#DeactivateOrganizationsAccess"
        },
        {
          "target": "com.amazonaws.cloudformation#DeactivateType"
        },
        {
          "target": "com.amazonaws.cloudformation#DeleteChangeSet"
        },
        {
          "target": "com.amazonaws.cloudformation#DeleteGeneratedTemplate"
        },
        {
          "target": "com.amazonaws.cloudformation#DeleteStack"
        },
        {
          "target": "com.amazonaws.cloudformation#DeleteStackInstances"
        },
        {
          "target": "com.amazonaws.cloudformation#DeleteStackSet"
        },
        {
          "target": "com.amazonaws.cloudformation#DeregisterType"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeAccountLimits"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeChangeSet"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeChangeSetHooks"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeGeneratedTemplate"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeOrganizationsAccess"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribePublisher"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeResourceScan"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeStackDriftDetectionStatus"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeStackEvents"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeStackInstance"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeStackResource"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeStackResourceDrifts"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeStackResources"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeStacks"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeStackSet"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeStackSetOperation"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeType"
        },
        {
          "target": "com.amazonaws.cloudformation#DescribeTypeRegistration"
        },
        {
          "target": "com.amazonaws.cloudformation#DetectStackDrift"
        },
        {
          "target": "com.amazonaws.cloudformation#DetectStackResourceDrift"
        },
        {
          "target": "com.amazonaws.cloudformation#DetectStackSetDrift"
        },
        {
          "target": "com.amazonaws.cloudformation#EstimateTemplateCost"
        },
        {
          "target": "com.amazonaws.cloudformation#ExecuteChangeSet"
        },
        {
          "target": "com.amazonaws.cloudformation#GetGeneratedTemplate"
        },
        {
          "target": "com.amazonaws.cloudformation#GetStackPolicy"
        },
        {
          "target": "com.amazonaws.cloudformation#GetTemplate"
        },
        {
          "target": "com.amazonaws.cloudformation#GetTemplateSummary"
        },
        {
          "target": "com.amazonaws.cloudformation#ImportStacksToStackSet"
        },
        {
          "target": "com.amazonaws.cloudformation#ListChangeSets"
        },
        {
          "target": "com.amazonaws.cloudformation#ListExports"
        },
        {
          "target": "com.amazonaws.cloudformation#ListGeneratedTemplates"
        },
        {
          "target": "com.amazonaws.cloudformation#ListImports"
        },
        {
          "target": "com.amazonaws.cloudformation#ListResourceScanRelatedResources"
        },
        {
          "target": "com.amazonaws.cloudformation#ListResourceScanResources"
        },
        {
          "target": "com.amazonaws.cloudformation#ListResourceScans"
        },
        {
          "target": "com.amazonaws.cloudformation#ListStackInstanceResourceDrifts"
        },
        {
          "target": "com.amazonaws.cloudformation#ListStackInstances"
        },
        {
          "target": "com.amazonaws.cloudformation#ListStackResources"
        },
        {
          "target": "com.amazonaws.cloudformation#ListStacks"
        },
        {
          "target": "com.amazonaws.cloudformation#ListStackSetAutoDeploymentTargets"
        },
        {
          "target": "com.amazonaws.cloudformation#ListStackSetOperationResults"
        },
        {
          "target": "com.amazonaws.cloudformation#ListStackSetOperations"
        },
        {
          "target": "com.amazonaws.cloudformation#ListStackSets"
        },
        {
          "target": "com.amazonaws.cloudformation#ListTypeRegistrations"
        },
        {
          "target": "com.amazonaws.cloudformation#ListTypes"
        },
        {
          "target": "com.amazonaws.cloudformation#ListTypeVersions"
        },
        {
          "target": "com.amazonaws.cloudformation#PublishType"
        },
        {
          "target": "com.amazonaws.cloudformation#RecordHandlerProgress"
        },
        {
          "target": "com.amazonaws.cloudformation#RegisterPublisher"
        },
        {
          "target": "com.amazonaws.cloudformation#RegisterType"
        },
        {
          "target": "com.amazonaws.cloudformation#RollbackStack"
        },
        {
          "target": "com.amazonaws.cloudformation#SetStackPolicy"
        },
        {
          "target": "com.amazonaws.cloudformation#SetTypeConfiguration"
        },
        {
          "target": "com.amazonaws.cloudformation#SetTypeDefaultVersion"
        },
        {
          "target": "com.amazonaws.cloudformation#SignalResource"
        },
        {
          "target": "com.amazonaws.cloudformation#StartResourceScan"
        },
        {
          "target": "com.amazonaws.cloudformation#StopStackSetOperation"
        },
        {
          "target": "com.amazonaws.cloudformation#TestType"
        },
        {
          "target": "com.amazonaws.cloudformation#UpdateGeneratedTemplate"
        },
        {
          "target": "com.amazonaws.cloudformation#UpdateStack"
        },
        {
          "target": "com.amazonaws.cloudformation#UpdateStackInstances"
        },
        {
          "target": "com.amazonaws.cloudformation#UpdateStackSet"
        },
        {
          "target": "com.amazonaws.cloudformation#UpdateTerminationProtection"
        },
        {
          "target": "com.amazonaws.cloudformation#ValidateTemplate"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CloudFormation",
          "arnNamespace": "cloudformation",
          "cloudFormationName": "CloudFormation",
          "cloudTrailEventSource": "cloudformation.amazonaws.com",
          "endpointPrefix": "cloudformation"
        },
        "aws.auth#sigv4": {
          "name": "cloudformation"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#documentation": "<fullname>CloudFormation</fullname>\n         <p>CloudFormation allows you to create and manage Amazon Web Services infrastructure deployments predictably and\n   repeatedly. You can use CloudFormation to leverage Amazon Web Services products, such as Amazon Elastic Compute Cloud, Amazon Elastic Block Store, Amazon Simple Notification Service, Elastic Load Balancing, and Auto Scaling to build highly reliable, highly\n   scalable, cost-effective applications without creating or configuring the underlying Amazon Web Services\n   infrastructure.</p>\n         <p>With CloudFormation, you declare all your resources and dependencies in a template file. The template defines a\n   collection of resources as a single unit called a stack. CloudFormation creates and deletes all member resources of the stack\n   together and manages all dependencies between the resources for you.</p>\n         <p>For more information about CloudFormation, see the <a href=\"http://aws.amazon.com/cloudformation/\">CloudFormation\n   product page</a>.</p>\n         <p>CloudFormation makes use of other Amazon Web Services products. If you need additional technical information about a\n   specific Amazon Web Services product, you can find the product's technical documentation at <a href=\"https://docs.aws.amazon.com/\">docs.aws.amazon.com</a>.</p>",
        "smithy.api#title": "AWS CloudFormation",
        "smithy.api#xmlNamespace": {
          "uri": "http://cloudformation.amazonaws.com/doc/2010-05-15/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cloudformation-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    },
                                    "aws-us-gov"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://cloudformation.{Region}.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cloudformation-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cloudformation.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://cloudformation.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudformation-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.cloudformation#ConcurrencyMode": {
      "type": "enum",
      "members": {
        "STRICT_FAILURE_TOLERANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRICT_FAILURE_TOLERANCE"
          }
        },
        "SOFT_FAILURE_TOLERANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFT_FAILURE_TOLERANCE"
          }
        }
      }
    },
    "com.amazonaws.cloudformation#ConcurrentResourcesLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudformation#ErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ConcurrentResourcesLimitExceeded",
          "httpResponseCode": 429
        },
        "smithy.api#documentation": "<p>No more than 5 generated templates can be in an <code>InProgress</code> or <code>Pending</code> status at one\n   time. This error is also returned if a generated template that is in an <code>InProgress</code> or\n   <code>Pending</code> status is attempted to be updated or deleted.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.cloudformation#ConfigurationSchema": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 60000
        },
        "smithy.api#pattern": "^[\\s\\S]+$"
      }
    },
    "com.amazonaws.cloudformation#ConnectionArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^arn:aws(-[\\w]+)*:.+:.+:[0-9]{12}:.+$"
      }
    },
    "com.amazonaws.cloudformation#ContinueUpdateRollback": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudformation#ContinueUpdateRollbackInput"
      },
      "output": {
        "target": "com.amazonaws.cloudformation#ContinueUpdateRollbackOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudformation#TokenAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>For a specified stack that's in the <code>UPDATE_ROLLBACK_FAILED</code> state, continues rolling it back to the\n   <code>UPDATE_ROLLBACK_COMPLETE</code> state. Depending on the cause of the failure, you can manually <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/troubleshooting.html#troubleshooting-errors-update-rollback-failed\"> fix the\n   error</a> and continue the rollback. By continuing the rollback, you can return your stack to a working state\n   (the <code>UPDATE_ROLLBACK_COMPLETE</code> state), and then try to update the stack again.</p>\n         <p>A stack goes into the <code>UPDATE_ROLLBACK_FAILED</code> state when CloudFormation can't roll back all changes after\n   a failed stack update. For example, you might have a stack that's rolling back to an old database instance that was\n   deleted outside of CloudFormation. Because CloudFormation doesn't know the database was deleted, it assumes that the database instance\n   still exists and attempts to roll back to it, causing the update rollback to fail.</p>"
      }
    },
    "com.amazonaws.cloudformation#ContinueUpdateRollbackInput": {
      "type": "structure",
      "members": {
        "StackName": {
          "target": "com.amazonaws.cloudformation#StackNameOrId",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The name or the unique ID of the stack that you want to continue rolling back.</p>\n         <note>\n            <p>Don't specify the name of a nested stack (a stack that was created by using the\n    <code>AWS::CloudFormation::Stack</code> resource). Instead, use this operation on the parent stack (the stack that\n    contains the <code>AWS::CloudFormation::Stack</code> resource).</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "RoleARN": {
          "target": "com.amazonaws.cloudformation#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Identity and Access Management (IAM) role that CloudFormation assumes to\n   roll back the stack. CloudFormation uses the role's credentials to make calls on your behalf. CloudFormation always uses this\n   role for all future operations on the stack. Provided that users have permission to operate on the stack, CloudFormation\n   uses this role even if the users don't have permission to pass it. Ensure that the role grants least\n   permission.</p>\n         <p>If you don't specify a value, CloudFormation uses the role that was previously associated with the stack. If no role\n   is available, CloudFormation uses a temporary session that's generated from your user credentials.</p>"
          }
        },
        "ResourcesToSkip": {
          "target": "com.amazonaws.cloudformation#ResourcesToSkip",
          "traits": {
            "smithy.api#documentation": "<p>A list of the logical IDs of the resources that CloudFormation skips during the continue update rollback operation.\n   You can specify only resources that are in the <code>UPDATE_FAILED</code> state because a rollback failed. You can't\n   specify resources that are in the <code>UPDATE_FAILED</code> state for other reasons, for example, because an update\n   was canceled. To check why a resource update failed, use the <a>DescribeStackResources</a> action, and\n   view the resource status reason.</p>\n         <important>\n            <p>Specify this property to skip rolling back resources that CloudFormation can't successfully roll back. We recommend\n    that you <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/troubleshooting.html#troubleshooting-errors-update-rollback-failed\">\n    troubleshoot</a> resources before skipping them. CloudFormation sets the status of the specified resources to\n    <code>UPDATE_COMPLETE</code> and continues to roll back the stack. After the rollback is complete, the state of the\n    skipped resources will be inconsistent with the state of the resources in the stack template. Before performing\n    another stack update, you must update the stack or resources to be consistent with each other. If you don't,\n    subsequent stack updates might fail, and the stack will become unrecoverable.</p>\n         </important>\n         <p>Specify the minimum number of resources required to successfully roll back your stack. For example, a failed\n   resource update might cause dependent resources to fail. In this case, it might not be necessary to skip the\n   dependent resources.</p>\n         <p>To skip resources that are part of nested stacks, use the following format:\n   <code>NestedStackName.ResourceLogicalID</code>. If you want to specify the logical ID of a stack resource\n   (<code>Type: AWS::CloudFormation::Stack</code>) in the <code>ResourcesToSkip</code> list, then its corresponding\n   embedded stack must be in one of the following states: <code>DELETE_IN_PROGRESS</code>, <code>DELETE_COMPLETE</code>,\n   or <code>DELETE_FAILED</code>.</p>\n         <note>\n            <p>Don't confuse a child stack's name with its corresponding logical ID defined in the parent stack. For an\n    example of a continue update rollback operation with nested stacks, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-continueupdaterollback.html#nested-stacks\">Using\n    ResourcesToSkip to recover a nested stacks hierarchy</a>.</p>\n         </note>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.cloudformation#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this <code>ContinueUpdateRollback</code> request. Specify this token if you plan to\n   retry requests so that CloudFormation knows that you're not attempting to continue the rollback to a stack with the same name.\n   You might retry <code>ContinueUpdateRollback</code> requests to ensure that CloudFormation successfully received\n   them.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for the <a>ContinueUpdateRollback</a> action.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudformation#ContinueUpdateRollbackOutput": {
      "type": "structure",
[...]
