{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.cloudhsmv2#Backup": {
      "type": "structure",
      "members": {
        "BackupId": {
          "target": "com.amazonaws.cloudhsmv2#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the backup.</p>",
            "smithy.api#required": {}
          }
        },
        "BackupArn": {
          "target": "com.amazonaws.cloudhsmv2#BackupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the backup.</p>"
          }
        },
        "BackupState": {
          "target": "com.amazonaws.cloudhsmv2#BackupState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the backup.</p>"
          }
        },
        "ClusterId": {
          "target": "com.amazonaws.cloudhsmv2#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the cluster that was backed up.</p>"
          }
        },
        "CreateTimestamp": {
          "target": "com.amazonaws.cloudhsmv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the backup was created.</p>"
          }
        },
        "CopyTimestamp": {
          "target": "com.amazonaws.cloudhsmv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the backup was copied from a source backup.</p>"
          }
        },
        "NeverExpires": {
          "target": "com.amazonaws.cloudhsmv2#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the service should exempt a backup from the retention policy for the cluster. <code>True</code> exempts \n      a backup from the retention policy. <code>False</code> means the service applies the backup retention policy defined at the cluster.</p>"
          }
        },
        "SourceRegion": {
          "target": "com.amazonaws.cloudhsmv2#Region",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region that contains the source backup from which the new backup was\n      copied.</p>"
          }
        },
        "SourceBackup": {
          "target": "com.amazonaws.cloudhsmv2#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the source backup from which the new backup was\n      copied.</p>"
          }
        },
        "SourceCluster": {
          "target": "com.amazonaws.cloudhsmv2#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the cluster containing the source backup from which the new\n      backup was copied.</p>"
          }
        },
        "DeleteTimestamp": {
          "target": "com.amazonaws.cloudhsmv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the backup will be permanently deleted.</p>"
          }
        },
        "TagList": {
          "target": "com.amazonaws.cloudhsmv2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags for the backup.</p>"
          }
        },
        "HsmType": {
          "target": "com.amazonaws.cloudhsmv2#HsmType",
          "traits": {
            "smithy.api#documentation": "<p>The HSM type used to create the backup.</p>"
          }
        },
        "Mode": {
          "target": "com.amazonaws.cloudhsmv2#ClusterMode",
          "traits": {
            "smithy.api#documentation": "<p>The mode of the cluster that was backed up.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a backup of an CloudHSM cluster. All backup objects\n      contain the <code>BackupId</code>, <code>BackupState</code>, <code>ClusterId</code>, and\n        <code>CreateTimestamp</code> parameters. Backups that were copied into a destination region\n      additionally contain the <code>CopyTimestamp</code>, <code>SourceBackup</code>,\n        <code>SourceCluster</code>, and <code>SourceRegion</code> parameters. A backup that is\n      pending deletion will include the <code>DeleteTimestamp</code> parameter.</p>"
      }
    },
    "com.amazonaws.cloudhsmv2#BackupArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(arn:aws(-(us-gov))?:cloudhsm:([a-z]{2}(-(gov|isob|iso))?-(east|west|north|south|central){1,2}-[0-9]{1}):[0-9]{12}:backup/)?backup-[2-7a-zA-Z]{11,16}$"
      }
    },
    "com.amazonaws.cloudhsmv2#BackupId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^backup-[2-7a-zA-Z]{11,16}$"
      }
    },
    "com.amazonaws.cloudhsmv2#BackupPolicy": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        }
      }
    },
    "com.amazonaws.cloudhsmv2#BackupRetentionPolicy": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.cloudhsmv2#BackupRetentionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of backup retention policy. For the <code>DAYS</code> type, the value is \n            the number of days to retain backups.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.cloudhsmv2#BackupRetentionValue",
          "traits": {
            "smithy.api#documentation": "<p>Use a value between 7 - 379.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A policy that defines the number of days to retain backups.</p>"
      }
    },
    "com.amazonaws.cloudhsmv2#BackupRetentionType": {
      "type": "enum",
      "members": {
        "DAYS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DAYS"
          }
        }
      }
    },
    "com.amazonaws.cloudhsmv2#BackupRetentionValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 3
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.cloudhsmv2#BackupState": {
      "type": "enum",
      "members": {
        "CREATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_IN_PROGRESS"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "PENDING_DELETION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_DELETION"
          }
        }
      }
    },
    "com.amazonaws.cloudhsmv2#Backups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudhsmv2#Backup"
      }
    },
    "com.amazonaws.cloudhsmv2#BackupsMaxSize": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.cloudhsmv2#BaldrApiService": {
      "type": "service",
      "version": "2017-04-28",
      "operations": [
        {
          "target": "com.amazonaws.cloudhsmv2#CopyBackupToRegion"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CreateCluster"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CreateHsm"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#DeleteBackup"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#DeleteCluster"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#DeleteHsm"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#DeleteResourcePolicy"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#DescribeBackups"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#DescribeClusters"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#GetResourcePolicy"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#InitializeCluster"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#ListTags"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#ModifyBackupAttributes"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#ModifyCluster"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#PutResourcePolicy"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#RestoreBackup"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#TagResource"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#UntagResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CloudHSM V2",
          "arnNamespace": "cloudhsm",
          "cloudFormationName": "CloudHSMV2",
          "cloudTrailEventSource": "cloudhsmv2.amazonaws.com",
          "docId": "cloudhsmv2-2017-04-28",
          "endpointPrefix": "cloudhsmv2"
        },
        "aws.auth#sigv4": {
          "name": "cloudhsm"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>For more information about CloudHSM, see <a href=\"http://aws.amazon.com/cloudhsm/\">CloudHSM</a> and the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/\">\n      CloudHSM User Guide</a>.</p>",
        "smithy.api#title": "AWS CloudHSM V2",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cloudhsmv2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cloudhsmv2-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cloudhsmv2.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            "aws",
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "name"
                              ]
                            }
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://cloudhsmv2.{Region}.amazonaws.com",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            "aws-us-gov",
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "name"
                              ]
                            }
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://cloudhsmv2.{Region}.amazonaws.com",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://cloudhsmv2.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cloudhsmv2.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.cloudhsmv2#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.cloudhsmv2#Cert": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20000
        },
        "smithy.api#pattern": "^[a-zA-Z0-9+-/=\\s]*$"
      }
    },
    "com.amazonaws.cloudhsmv2#Certificates": {
      "type": "structure",
      "members": {
        "ClusterCsr": {
          "target": "com.amazonaws.cloudhsmv2#Cert",
          "traits": {
            "smithy.api#documentation": "<p>The cluster's certificate signing request (CSR). The CSR exists only when the cluster's\n      state is <code>UNINITIALIZED</code>.</p>"
          }
        },
        "HsmCertificate": {
          "target": "com.amazonaws.cloudhsmv2#Cert",
          "traits": {
            "smithy.api#documentation": "<p>The HSM certificate issued (signed) by the HSM hardware.</p>"
          }
        },
        "AwsHardwareCertificate": {
          "target": "com.amazonaws.cloudhsmv2#Cert",
          "traits": {
            "smithy.api#documentation": "<p>The HSM hardware certificate issued (signed) by CloudHSM.</p>"
          }
        },
        "ManufacturerHardwareCertificate": {
          "target": "com.amazonaws.cloudhsmv2#Cert",
          "traits": {
            "smithy.api#documentation": "<p>The HSM hardware certificate issued (signed) by the hardware manufacturer.</p>"
          }
        },
        "ClusterCertificate": {
          "target": "com.amazonaws.cloudhsmv2#Cert",
          "traits": {
            "smithy.api#documentation": "<p>The cluster certificate issued (signed) by the issuing certificate authority (CA) of\n      the cluster's owner.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains one or more certificates or a certificate signing request (CSR).</p>"
      }
    },
    "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudhsmv2#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because the requester does not have permission to perform the\n      requested operation.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudhsmv2#CloudHsmArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws(-(us-gov))?:cloudhsm:([a-z]{2}(-(gov|isob|iso))?-(east|west|north|south|central){1,2}-[0-9]{1}):[0-9]{12}:(backup/backup|cluster/cluster|hsm/hsm)-[2-7a-zA-Z]{11,16}$"
      }
    },
    "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudhsmv2#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because of an CloudHSM internal failure. The request can\n      be retried.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudhsmv2#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because it is not a valid request.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudhsmv2#CloudHsmResourceLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudhsmv2#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because it exceeds an CloudHSM limit.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudhsmv2#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because it refers to a resource that cannot be\n      found.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudhsmv2#CloudHsmServiceException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudhsmv2#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because an error occurred.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudhsmv2#CloudHsmTagException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudhsmv2#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because of a tagging failure. Verify the tag conditions in all applicable policies, and then retry the request.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudhsmv2#Cluster": {
      "type": "structure",
      "members": {
        "BackupPolicy": {
          "target": "com.amazonaws.cloudhsmv2#BackupPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The cluster's backup policy.</p>"
          }
        },
        "BackupRetentionPolicy": {
          "target": "com.amazonaws.cloudhsmv2#BackupRetentionPolicy",
          "traits": {
            "smithy.api#documentation": "<p>A policy that defines how the service retains backups.</p>"
          }
        },
        "ClusterId": {
          "target": "com.amazonaws.cloudhsmv2#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The cluster's identifier (ID).</p>"
          }
        },
        "CreateTimestamp": {
          "target": "com.amazonaws.cloudhsmv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the cluster was created.</p>"
          }
        },
        "Hsms": {
          "target": "com.amazonaws.cloudhsmv2#Hsms",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the HSMs in the cluster.</p>"
          }
        },
        "HsmType": {
          "target": "com.amazonaws.cloudhsmv2#HsmType",
          "traits": {
            "smithy.api#documentation": "<p>The type of HSM that the cluster contains.</p>"
          }
        },
        "HsmTypeRollbackExpiration": {
          "target": "com.amazonaws.cloudhsmv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp until when the cluster can be rolled back to its original HSM type.</p>"
          }
        },
        "PreCoPassword": {
          "target": "com.amazonaws.cloudhsmv2#PreCoPassword",
          "traits": {
            "smithy.api#documentation": "<p>The default password for the cluster's Pre-Crypto Officer (PRECO) user.</p>"
          }
        },
        "SecurityGroup": {
          "target": "com.amazonaws.cloudhsmv2#SecurityGroup",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the cluster's security group.</p>"
          }
        },
        "SourceBackupId": {
          "target": "com.amazonaws.cloudhsmv2#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the backup used to create the cluster. This value exists only\n      when the cluster was created from a backup.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.cloudhsmv2#ClusterState",
          "traits": {
            "smithy.api#documentation": "<p>The cluster's state.</p>"
          }
        },
        "StateMessage": {
          "target": "com.amazonaws.cloudhsmv2#StateMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the cluster's state.</p>"
          }
        },
        "SubnetMapping": {
          "target": "com.amazonaws.cloudhsmv2#ExternalSubnetMapping",
          "traits": {
            "smithy.api#documentation": "<p>A map from availability zone to the cluster’s subnet in that availability zone.</p>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.cloudhsmv2#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the virtual private cloud (VPC) that contains the\n      cluster.</p>"
          }
        },
        "NetworkType": {
          "target": "com.amazonaws.cloudhsmv2#NetworkType",
          "traits": {
            "smithy.api#documentation": "<p>The cluster's NetworkType can be IPv4 (the default) or DUALSTACK.\n        The IPv4 NetworkType restricts communication between your application and the hardware security modules (HSMs) to the IPv4 protocol only. The DUALSTACK NetworkType enables communication over both IPv4 and IPv6 protocols.\n        To use DUALSTACK, configure your virtual private cloud (VPC) and subnets to support both IPv4 and IPv6.\n        This configuration involves adding IPv6 Classless Inter-Domain Routing (CIDR) blocks to the existing IPv4 CIDR blocks in your subnets.\n        The NetworkType you choose affects the network addressing options for your cluster. DUALSTACK provides more flexibility by supporting both IPv4 and IPv6 communication.</p>"
          }
        },
        "Certificates": {
          "target": "com.amazonaws.cloudhsmv2#Certificates",
          "traits": {
            "smithy.api#documentation": "<p>Contains one or more certificates or a certificate signing request (CSR).</p>"
          }
        },
        "TagList": {
          "target": "com.amazonaws.cloudhsmv2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags for the cluster.</p>"
          }
        },
        "Mode": {
          "target": "com.amazonaws.cloudhsmv2#ClusterMode",
          "traits": {
            "smithy.api#documentation": "<p>The mode of the cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an CloudHSM cluster.</p>"
      }
    },
    "com.amazonaws.cloudhsmv2#ClusterId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^cluster-[2-7a-zA-Z]{11,16}$"
      }
    },
    "com.amazonaws.cloudhsmv2#ClusterMode": {
      "type": "enum",
      "members": {
        "FIPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIPS"
          }
        },
        "NON_FIPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NON_FIPS"
          }
        }
      }
    },
    "com.amazonaws.cloudhsmv2#ClusterState": {
      "type": "enum",
      "members": {
        "CREATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_IN_PROGRESS"
          }
        },
        "UNINITIALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNINITIALIZED"
          }
        },
        "INITIALIZE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZE_IN_PROGRESS"
          }
        },
        "INITIALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_IN_PROGRESS"
          }
        },
        "MODIFY_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFY_IN_PROGRESS"
          }
        },
        "ROLLBACK_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLBACK_IN_PROGRESS"
          }
        },
        "DELETE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_IN_PROGRESS"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEGRADED"
          }
        }
      }
    },
    "com.amazonaws.cloudhsmv2#Clusters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudhsmv2#Cluster"
      }
    },
    "com.amazonaws.cloudhsmv2#ClustersMaxSize": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.cloudhsmv2#CopyBackupToRegion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudhsmv2#CopyBackupToRegionRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudhsmv2#CopyBackupToRegionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmTagException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copy an CloudHSM cluster backup to a different region.</p>\n         <p>\n            <b>Cross-account use:</b> No. You cannot perform this operation on an CloudHSM backup in a different Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.cloudhsmv2#CopyBackupToRegionRequest": {
      "type": "structure",
      "members": {
        "DestinationRegion": {
          "target": "com.amazonaws.cloudhsmv2#Region",
          "traits": {
            "smithy.api#documentation": "<p>The AWS region that will contain your copied CloudHSM cluster backup.</p>",
            "smithy.api#required": {}
          }
        },
        "BackupId": {
          "target": "com.amazonaws.cloudhsmv2#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the backup that will be copied to the destination region. </p>",
            "smithy.api#required": {}
          }
        },
        "TagList": {
          "target": "com.amazonaws.cloudhsmv2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags to apply to the destination backup during creation. If you specify tags, only these tags will be applied to the destination backup. If you do not specify tags, the service copies tags from the source backup to the destination backup.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudhsmv2#CopyBackupToRegionResponse": {
      "type": "structure",
      "members": {
        "DestinationBackup": {
          "target": "com.amazonaws.cloudhsmv2#DestinationBackup",
          "traits": {
            "smithy.api#documentation": "<p>Information on the backup that will be copied to the destination region, including\n      CreateTimestamp, SourceBackup, SourceCluster, and Source Region. CreateTimestamp of the\n      destination backup will be the same as that of the source backup.</p>\n         <p>You will need to use the <code>sourceBackupID</code> returned in this operation to use\n      the <a>DescribeBackups</a> operation on the backup that will be copied to the\n      destination region.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudhsmv2#CreateCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudhsmv2#CreateClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudhsmv2#CreateClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmTagException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new CloudHSM cluster.</p>\n         <p>\n            <b>Cross-account use:</b> Yes. To perform this operation with an CloudHSM backup in a different AWS account, specify the full backup \n    ARN in the value of the SourceBackupId parameter.</p>"
      }
    },
    "com.amazonaws.cloudhsmv2#CreateClusterRequest": {
      "type": "structure",
      "members": {
        "BackupRetentionPolicy": {
          "target": "com.amazonaws.cloudhsmv2#BackupRetentionPolicy",
          "traits": {
            "smithy.api#documentation": "<p>A policy that defines how the service retains backups.</p>"
          }
        },
        "HsmType": {
          "target": "com.amazonaws.cloudhsmv2#HsmType",
          "traits": {
            "smithy.api#documentation": "<p>The type of HSM to use in the cluster. The allowed values are\n      <code>hsm1.medium</code> and <code>hsm2m.medium</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceBackupId": {
          "target": "com.amazonaws.cloudhsmv2#BackupArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) or the Amazon Resource Name (ARN) of the cluster backup to restore. Use this value to restore the\n      cluster from a backup instead of creating a new cluster. To find the backup ID or ARN, use <a>DescribeBackups</a>. <i>If using a backup in another account, the full ARN must be supplied.</i>\n         </p>"
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.cloudhsmv2#SubnetIds",
          "traits": {
            "smithy.api#documentation": "<p>The identifiers (IDs) of the subnets where you are creating the cluster. You must\n      specify at least one subnet. If you specify multiple subnets, they must meet the following\n      criteria:</p>\n         <ul>\n            <li>\n               <p>All subnets must be in the same virtual private cloud (VPC).</p>\n            </li>\n            <li>\n               <p>You can specify only one subnet per Availability Zone.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "NetworkType": {
          "target": "com.amazonaws.cloudhsmv2#NetworkType",
          "traits": {
            "smithy.api#documentation": "<p>The NetworkType to create a cluster with. The allowed values are\n          <code>IPV4</code> and <code>DUALSTACK</code>.\n      </p>"
          }
        },
        "TagList": {
          "target": "com.amazonaws.cloudhsmv2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags to apply to the CloudHSM cluster during creation.</p>"
          }
        },
        "Mode": {
          "target": "com.amazonaws.cloudhsmv2#ClusterMode",
          "traits": {
            "smithy.api#documentation": "<p>The mode to use in the cluster. The allowed values are\n      <code>FIPS</code> and <code>NON_FIPS</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudhsmv2#CreateClusterResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "target": "com.amazonaws.cloudhsmv2#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>Information about the cluster that was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudhsmv2#CreateHsm": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudhsmv2#CreateHsmRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudhsmv2#CreateHsmResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new hardware security module (HSM) in the specified CloudHSM\n      cluster.</p>\n         <p>\n            <b>Cross-account use:</b> No. You cannot perform this operation on an CloudHSM cluster in a different Amazon Web Service account.</p>"
      }
    },
    "com.amazonaws.cloudhsmv2#CreateHsmRequest": {
      "type": "structure",
      "members": {
        "ClusterId": {
          "target": "com.amazonaws.cloudhsmv2#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the HSM's cluster. To find the cluster ID, use <a>DescribeClusters</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.cloudhsmv2#ExternalAz",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone where you are creating the HSM. To find the cluster's\n      Availability Zones, use <a>DescribeClusters</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "IpAddress": {
          "target": "com.amazonaws.cloudhsmv2#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>The HSM's IP address. If you specify an IP address, use an available address from the\n      subnet that maps to the Availability Zone where you are creating the HSM. If you don't specify\n      an IP address, one is chosen for you from that subnet.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudhsmv2#CreateHsmResponse": {
      "type": "structure",
      "members": {
        "Hsm": {
          "target": "com.amazonaws.cloudhsmv2#Hsm",
          "traits": {
            "smithy.api#documentation": "<p>Information about the HSM that was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudhsmv2#DeleteBackup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudhsmv2#DeleteBackupRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudhsmv2#DeleteBackupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specified CloudHSM backup. A backup can be restored up to 7 days\n            after the DeleteBackup request is made. For more information on restoring a backup, see\n                <a>RestoreBackup</a>.</p>\n         <p>\n            <b>Cross-account use:</b> No. You cannot perform this operation on an CloudHSM backup in a different Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.cloudhsmv2#DeleteBackupRequest": {
      "type": "structure",
      "members": {
        "BackupId": {
          "target": "com.amazonaws.cloudhsmv2#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the backup to be deleted. To find the ID of a backup, use the <a>DescribeBackups</a> operation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudhsmv2#DeleteBackupResponse": {
      "type": "structure",
      "members": {
        "Backup": {
          "target": "com.amazonaws.cloudhsmv2#Backup",
          "traits": {
            "smithy.api#documentation": "<p>Information on the <code>Backup</code> object deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudhsmv2#DeleteCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudhsmv2#DeleteClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudhsmv2#DeleteClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmTagException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified CloudHSM cluster. Before you can delete a cluster, you must\n      delete all HSMs in the cluster. To see if the cluster contains any HSMs, use <a>DescribeClusters</a>. To delete an HSM, use <a>DeleteHsm</a>.</p>\n         <p>\n            <b>Cross-account use:</b> No. You cannot perform this operation on an CloudHSM cluster in a different Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.cloudhsmv2#DeleteClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterId": {
          "target": "com.amazonaws.cloudhsmv2#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the cluster that you are deleting. To find the cluster ID, use\n      <a>DescribeClusters</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudhsmv2#DeleteClusterResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "target": "com.amazonaws.cloudhsmv2#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>Information about the cluster that was deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudhsmv2#DeleteHsm": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudhsmv2#DeleteHsmRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudhsmv2#DeleteHsmResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified HSM. To specify an HSM, you can use its identifier (ID), the IP\n      address of the HSM's elastic network interface (ENI), or the ID of the HSM's ENI. You need to\n      specify only one of these values. To find these values, use <a>DescribeClusters</a>.</p>\n         <p>\n            <b>Cross-account use:</b> No. You cannot perform this operation on an CloudHSM hsm in a different Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.cloudhsmv2#DeleteHsmRequest": {
      "type": "structure",
      "members": {
        "ClusterId": {
          "target": "com.amazonaws.cloudhsmv2#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the cluster that contains the HSM that you are\n      deleting.</p>",
            "smithy.api#required": {}
          }
        },
        "HsmId": {
          "target": "com.amazonaws.cloudhsmv2#HsmId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the HSM that you are deleting.</p>"
          }
        },
        "EniId": {
          "target": "com.amazonaws.cloudhsmv2#EniId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the elastic network interface (ENI) of the HSM that you are\n      deleting.</p>"
          }
        },
        "EniIp": {
          "target": "com.amazonaws.cloudhsmv2#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>The IP address of the elastic network interface (ENI) of the HSM that you are\n      deleting.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudhsmv2#DeleteHsmResponse": {
      "type": "structure",
      "members": {
        "HsmId": {
          "target": "com.amazonaws.cloudhsmv2#HsmId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the HSM that was deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudhsmv2#DeleteResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudhsmv2#DeleteResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudhsmv2#DeleteResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes an CloudHSM resource policy. Deleting a resource policy will result in the resource being unshared and removed from\n      any RAM resource shares. Deleting the resource policy attached to a backup will not impact any clusters created from that \n      backup.</p>\n         <p>\n            <b>Cross-account use:</b> No. You cannot perform this operation on an CloudHSM resource in a different Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.cloudhsmv2#DeleteResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmArn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the resource from which the policy will be removed. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudhsmv2#DeleteResourcePolicyResponse": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmArn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the resource from which the policy was deleted. </p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.cloudhsmv2#ResourcePolicy",
          "traits": {
            "smithy.api#documentation": "<p>The policy previously attached to the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudhsmv2#DescribeBackups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudhsmv2#DescribeBackupsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudhsmv2#DescribeBackupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmTagException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about backups of CloudHSM clusters. Lists either the backups you own or the backups shared with you when the Shared parameter is true.</p>\n         <p>This is a paginated operation, which means that each response might contain only a\n      subset of all the backups. When the response contains only a subset of backups, it includes a\n        <code>NextToken</code> value. Use this value in a subsequent <code>DescribeBackups</code>\n      request to get more backups. When you receive a response with no <code>NextToken</code> (or an\n      empty or null value), that means there are no more backups to get.</p>\n         <p>\n            <b>Cross-account use:</b> Yes. Customers can describe backups in other Amazon Web Services accounts that are shared with them.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.cloudhsmv2#DescribeBackupsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.cloudhsmv2#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>NextToken</code> value that you received in the previous response. Use this\n      value to get more backups.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.cloudhsmv2#BackupsMaxSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of backups to return in the response. When there are more backups\n      than the number you specify, the response contains a <code>NextToken</code> value.</p>"
          }
        },
        "Filters": {
          "target": "com.amazonaws.cloudhsmv2#Filters",
          "traits": {
            "smithy.api#documentation": "<p>One or more filters to limit the items returned in the response.</p>\n         <p>Use the <code>backupIds</code> filter to return only the specified backups. Specify\n      backups by their backup identifier (ID).</p>\n         <p>Use the <code>sourceBackupIds</code> filter to return only the backups created from a\n      source backup. The <code>sourceBackupID</code> of a source backup is returned by the <a>CopyBackupToRegion</a> operation.</p>\n         <p>Use the <code>clusterIds</code> filter to return only the backups for the specified\n      clusters. Specify clusters by their cluster identifier (ID).</p>\n         <p>Use the <code>states</code> filter to return only backups that match the specified\n      state.</p>\n         <p>Use the <code>neverExpires</code> filter to return backups filtered by the value in the\n        <code>neverExpires</code> parameter. <code>True</code> returns all backups exempt from the\n      backup retention policy. <code>False</code> returns all backups with a backup retention policy\n      defined at the cluster.</p>"
          }
        },
        "Shared": {
          "target": "com.amazonaws.cloudhsmv2#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Describe backups that are shared with you.</p>\n         <note>\n            <p>By default when using this option, the command returns backups that have been shared using a standard Resource Access Manager \n    resource share. In order for a backup that was shared using the PutResourcePolicy command to be returned, the share must be promoted to a \n    standard resource share using the RAM <a href=\"https://docs.aws.amazon.com/cli/latest/reference/ram/promote-resource-share-created-from-policy.html\">PromoteResourceShareCreatedFromPolicy</a> API operation.\n\n    For more information about sharing backups, see <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/sharing.html\"> Working with shared backups</a> in the CloudHSM User Guide.</p>\n         </note>"
          }
        },
        "SortAscending": {
          "target": "com.amazonaws.cloudhsmv2#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Designates whether or not to sort the return backups by ascending chronological order\n      of generation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudhsmv2#DescribeBackupsResponse": {
      "type": "structure",
      "members": {
        "Backups": {
          "target": "com.amazonaws.cloudhsmv2#Backups",
          "traits": {
            "smithy.api#documentation": "<p>A list of backups.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudhsmv2#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>An opaque string that indicates that the response contains only a subset of backups.\n      Use this value in a subsequent <code>DescribeBackups</code> request to get more\n      backups.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudhsmv2#DescribeClusters": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudhsmv2#DescribeClustersRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudhsmv2#DescribeClustersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmTagException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about CloudHSM clusters.</p>\n         <p>This is a paginated operation, which means that each response might contain only a\n      subset of all the clusters. When the response contains only a subset of clusters, it includes\n      a <code>NextToken</code> value. Use this value in a subsequent <code>DescribeClusters</code>\n      request to get more clusters. When you receive a response with no <code>NextToken</code> (or\n      an empty or null value), that means there are no more clusters to get.</p>\n         <p>\n            <b>Cross-account use:</b> No. You cannot perform this operation on CloudHSM clusters in a different Amazon Web Services account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        },
        "smithy.test#smokeTests": [
          {
            "id": "DescribeClustersSuccess",
            "params": {},
            "vendorParams": {
              "region": "us-west-2"
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "expect": {
              "success": {}
            }
          }
        ]
      }
    },
    "com.amazonaws.cloudhsmv2#DescribeClustersRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.cloudhsmv2#Filters",
          "traits": {
            "smithy.api#documentation": "<p>One or more filters to limit the items returned in the response.</p>\n         <p>Use the <code>clusterIds</code> filter to return only the specified clusters. Specify\n      clusters by their cluster identifier (ID).</p>\n         <p>Use the <code>vpcIds</code> filter to return only the clusters in the specified virtual\n      private clouds (VPCs). Specify VPCs by their VPC identifier (ID).</p>\n         <p>Use the <code>states</code> filter to return only clusters that match the specified\n      state.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudhsmv2#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>NextToken</code> value that you received in the previous response. Use this\n      value to get more clusters.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.cloudhsmv2#ClustersMaxSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of clusters to return in the response. When there are more clusters\n      than the number you specify, the response contains a <code>NextToken</code> value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudhsmv2#DescribeClustersResponse": {
      "type": "structure",
      "members": {
        "Clusters": {
          "target": "com.amazonaws.cloudhsmv2#Clusters",
          "traits": {
            "smithy.api#documentation": "<p>A list of clusters.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudhsmv2#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>An opaque string that indicates that the response contains only a subset of clusters.\n      Use this value in a subsequent <code>DescribeClusters</code> request to get more\n      clusters.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudhsmv2#DestinationBackup": {
      "type": "structure",
      "members": {
        "CreateTimestamp": {
          "target": "com.amazonaws.cloudhsmv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when both the source backup was created.</p>"
          }
        },
        "SourceRegion": {
          "target": "com.amazonaws.cloudhsmv2#Region",
          "traits": {
            "smithy.api#documentation": "<p>The AWS region that contains the source backup from which the new backup was copied.</p>"
          }
        },
        "SourceBackup": {
          "target": "com.amazonaws.cloudhsmv2#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the source backup from which the new backup was copied.</p>"
          }
        },
        "SourceCluster": {
          "target": "com.amazonaws.cloudhsmv2#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the cluster containing the source backup from which the new backup was copied.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the backup that will be copied and created by the <a>CopyBackupToRegion</a> operation.</p>"
      }
    },
    "com.amazonaws.cloudhsmv2#EniId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^eni-[0-9a-fA-F]{8,17}$"
      }
    },
    "com.amazonaws.cloudhsmv2#ExternalAz": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\\d[a-z]$"
      }
    },
    "com.amazonaws.cloudhsmv2#ExternalSubnetMapping": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.cloudhsmv2#ExternalAz"
      },
      "value": {
        "target": "com.amazonaws.cloudhsmv2#SubnetId"
      }
    },
    "com.amazonaws.cloudhsmv2#Field": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
      }
    },
    "com.amazonaws.cloudhsmv2#Filters": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.cloudhsmv2#Field"
      },
      "value": {
        "target": "com.amazonaws.cloudhsmv2#Strings"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 30
        }
      }
    },
    "com.amazonaws.cloudhsmv2#GetResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudhsmv2#GetResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudhsmv2#GetResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves the resource policy document attached to a given resource. </p>\n         <p>\n            <b>Cross-account use:</b> No. You cannot perform this operation on an CloudHSM resource in a different Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.cloudhsmv2#GetResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmArn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the resource to which a policy is attached.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudhsmv2#GetResourcePolicyResponse": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazonaws.cloudhsmv2#ResourcePolicy",
          "traits": {
            "smithy.api#documentation": "<p>The policy attached to a resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudhsmv2#Hsm": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.cloudhsmv2#ExternalAz",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone that contains the HSM.</p>"
          }
        },
        "ClusterId": {
          "target": "com.amazonaws.cloudhsmv2#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the cluster that contains the HSM.</p>"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.cloudhsmv2#SubnetId",
          "traits": {
            "smithy.api#documentation": "<p>The subnet that contains the HSM's elastic network interface (ENI).</p>"
          }
        },
        "EniId": {
          "target": "com.amazonaws.cloudhsmv2#EniId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the HSM's elastic network interface (ENI).</p>"
          }
        },
        "EniIp": {
          "target": "com.amazonaws.cloudhsmv2#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>The IP address of the HSM's elastic network interface (ENI).</p>"
          }
        },
        "EniIpV6": {
          "target": "com.amazonaws.cloudhsmv2#IpV6Address",
          "traits": {
            "smithy.api#documentation": "<p>The IPv6 address (if any) of the HSM's elastic network interface (ENI).</p>"
          }
        },
        "HsmId": {
          "target": "com.amazonaws.cloudhsmv2#HsmId",
          "traits": {
            "smithy.api#documentation": "<p>The HSM's identifier (ID).</p>",
            "smithy.api#required": {}
          }
        },
        "HsmType": {
          "target": "com.amazonaws.cloudhsmv2#HsmType",
          "traits": {
            "smithy.api#documentation": "<p>The type of HSM.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.cloudhsmv2#HsmState",
          "traits": {
            "smithy.api#documentation": "<p>The HSM's state.</p>"
          }
        },
        "StateMessage": {
          "target": "com.amazonaws.cloudhsmv2#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the HSM's state.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a hardware security module (HSM) in an CloudHSM\n      cluster.</p>"
      }
    },
    "com.amazonaws.cloudhsmv2#HsmId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^hsm-[2-7a-zA-Z]{11,16}$"
      }
    },
    "com.amazonaws.cloudhsmv2#HsmState": {
      "type": "enum",
      "members": {
        "CREATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_IN_PROGRESS"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DEGRADED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEGRADED"
          }
        },
        "DELETE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_IN_PROGRESS"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.amazonaws.cloudhsmv2#HsmType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 32
        },
        "smithy.api#pattern": "^((p|)hsm[0-9][a-z.]*\\.[a-zA-Z]+)$"
      }
    },
    "com.amazonaws.cloudhsmv2#Hsms": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudhsmv2#Hsm"
      }
    },
    "com.amazonaws.cloudhsmv2#InitializeCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudhsmv2#InitializeClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudhsmv2#InitializeClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Claims an CloudHSM cluster by submitting the cluster certificate issued by your\n      issuing certificate authority (CA) and the CA's root certificate. Before you can claim a\n      cluster, you must sign the cluster's certificate signing request (CSR) with your issuing CA.\n      To get the cluster's CSR, use <a>DescribeClusters</a>.</p>\n         <p>\n            <b>Cross-account use:</b> No. You cannot perform this operation on an CloudHSM cluster in a different Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.cloudhsmv2#InitializeClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterId": {
          "target": "com.amazonaws.cloudhsmv2#ClusterId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (ID) of the cluster that you are claiming. To find the cluster ID, use\n        <a>DescribeClusters</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "SignedCert": {
          "target": "com.amazonaws.cloudhsmv2#Cert",
          "traits": {
            "smithy.api#documentation": "<p>The cluster certificate issued (signed) by your issuing certificate authority (CA). The\n      certificate must be in PEM format and can contain a maximum of 5000 characters.</p>",
            "smithy.api#required": {}
          }
        },
        "TrustAnchor": {
          "target": "com.amazonaws.cloudhsmv2#Cert",
          "traits": {
            "smithy.api#documentation": "<p>The issuing certificate of the issuing certificate authority (CA) that issued (signed)\n      the cluster certificate. You must use a self-signed certificate. The certificate used to sign the HSM CSR must be directly available, and thus must be the\n      root certificate. The certificate must be in PEM format and can contain a\n      maximum of 5000 characters.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudhsmv2#InitializeClusterResponse": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.cloudhsmv2#ClusterState",
          "traits": {
            "smithy.api#documentation": "<p>The cluster's state.</p>"
          }
        },
        "StateMessage": {
          "target": "com.amazonaws.cloudhsmv2#StateMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the cluster's state.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudhsmv2#IpAddress": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}$"
      }
    },
    "com.amazonaws.cloudhsmv2#IpV6Address": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.cloudhsmv2#ListTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudhsmv2#ListTagsRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudhsmv2#ListTagsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmAccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInternalFailureException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmInvalidRequestException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmServiceException"
        },
        {
          "target": "com.amazonaws.cloudhsmv2#CloudHsmTagException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a list of tags for the specified CloudHSM cluster.</p>\n         <p>This is a paginated operation, which means that each response might contain only a\n      subset of all the tags. When the response contains only a subset of tags, it includes a\n      <code>NextToken</code> value. Use this value in a subsequent <code>ListTags</code> request to\n      get more tags. When you receive a response with no <code>NextToken</code> (or an empty or null\n      value), that means there are no more tags to get.</p>\n         <p>\n            <b>Cross-account use:</b> No. You cannot perform this operation on an CloudHSM resource in a different Amazon Web Services account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.cloudhsmv2#ListTagsRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.cloudhsmv2#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The cluster identifier (ID) for the cluster whose tags you are getting. To find the\n      cluster ID, use <a>DescribeClusters</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.cloudhsmv2#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>NextToken</code> value that you received in the previous response. Use this\n      value to get more tags.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.cloudhsmv2#MaxSize",
          "traits": {
[...]
