{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.cloudfront#AccessControlAllowHeadersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#string",
        "traits": {
          "smithy.api#xmlName": "Header"
        }
      }
    },
    "com.amazonaws.cloudfront#AccessControlAllowMethodsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#ResponseHeadersPolicyAccessControlAllowMethodsValues",
        "traits": {
          "smithy.api#xmlName": "Method"
        }
      }
    },
    "com.amazonaws.cloudfront#AccessControlAllowOriginsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#string",
        "traits": {
          "smithy.api#xmlName": "Origin"
        }
      }
    },
    "com.amazonaws.cloudfront#AccessControlExposeHeadersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#string",
        "traits": {
          "smithy.api#xmlName": "Header"
        }
      }
    },
    "com.amazonaws.cloudfront#AccessDenied": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access denied.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.cloudfront#ActiveTrustedKeyGroups": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.cloudfront#boolean",
          "traits": {
            "smithy.api#documentation": "<p>This field is <code>true</code> if any of the key groups have public keys that CloudFront\n\t\t\tcan use to verify the signatures of signed URLs and signed cookies. If not, this field\n\t\t\tis <code>false</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of key groups in the list.</p>",
            "smithy.api#required": {}
          }
        },
        "Items": {
          "target": "com.amazonaws.cloudfront#KGKeyPairIdsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key groups, including the identifiers of the public keys in each key group\n\t\t\tthat CloudFront can use to verify the signatures of signed URLs and signed cookies.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of key groups, and the public keys in each key group, that CloudFront can use to\n\t\t\tverify the signatures of signed URLs and signed cookies.</p>"
      }
    },
    "com.amazonaws.cloudfront#ActiveTrustedSigners": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.cloudfront#boolean",
          "traits": {
            "smithy.api#documentation": "<p>This field is <code>true</code> if any of the Amazon Web Services accounts in the list have active\n\t\t\tCloudFront key pairs that CloudFront can use to verify the signatures of signed URLs and signed\n\t\t\tcookies. If not, this field is <code>false</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of Amazon Web Services accounts in the list.</p>",
            "smithy.api#required": {}
          }
        },
        "Items": {
          "target": "com.amazonaws.cloudfront#SignerList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon Web Services accounts and the identifiers of active CloudFront key pairs in each account\n\t\t\tthat CloudFront can use to verify the signatures of signed URLs and signed cookies.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of Amazon Web Services accounts and the active CloudFront key pairs in each account that CloudFront can\n\t\t\tuse to verify the signatures of signed URLs and signed cookies.</p>"
      }
    },
    "com.amazonaws.cloudfront#AliasICPRecordal": {
      "type": "structure",
      "members": {
        "CNAME": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>A domain name associated with a distribution.</p>"
          }
        },
        "ICPRecordalStatus": {
          "target": "com.amazonaws.cloudfront#ICPRecordalStatus",
          "traits": {
            "smithy.api#documentation": "<p>The Internet Content Provider (ICP) recordal status for a CNAME. The ICPRecordalStatus\n\t\t\tis set to APPROVED for all CNAMEs (aliases) in regions outside of China.</p>\n         <p>The status values returned are the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>APPROVED</b> indicates that the associated CNAME\n\t\t\t\t\thas a valid ICP recordal number. Multiple CNAMEs can be associated with a\n\t\t\t\t\tdistribution, and CNAMEs can correspond to different ICP recordals. To be marked\n\t\t\t\t\tas APPROVED, that is, valid to use with China region, a CNAME must have one ICP\n\t\t\t\t\trecordal number associated with it.</p>\n            </li>\n            <li>\n               <p>\n                  <b>SUSPENDED</b> indicates that the associated CNAME\n\t\t\t\t\tdoes not have a valid ICP recordal number.</p>\n            </li>\n            <li>\n               <p>\n                  <b>PENDING</b> indicates that CloudFront can't determine\n\t\t\t\t\tthe ICP recordal status of the CNAME associated with the distribution because\n\t\t\t\t\tthere was an error in trying to determine the status. You can try again to see\n\t\t\t\t\tif the error is resolved in which case CloudFront returns an APPROVED or SUSPENDED\n\t\t\t\t\tstatus.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Web Services services in China customers must file for an Internet Content Provider (ICP)\n\t\t\trecordal if they want to serve content publicly on an alternate domain name, also known\n\t\t\tas a CNAME, that they've added to CloudFront. AliasICPRecordal provides the ICP recordal\n\t\t\tstatus for CNAMEs associated with distributions. The status is returned in the CloudFront\n\t\t\tresponse; you can't configure it yourself.</p>\n         <p>For more information about ICP recordals, see <a href=\"https://docs.amazonaws.cn/en_us/aws/latest/userguide/accounts-and-credentials.html\"> Signup, Accounts, and Credentials</a> in <i>Getting Started with Amazon Web Services\n\t\t\t\tservices in China</i>.</p>"
      }
    },
    "com.amazonaws.cloudfront#AliasICPRecordals": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#AliasICPRecordal",
        "traits": {
          "smithy.api#xmlName": "AliasICPRecordal"
        }
      }
    },
    "com.amazonaws.cloudfront#AliasList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#string",
        "traits": {
          "smithy.api#xmlName": "CNAME"
        }
      }
    },
    "com.amazonaws.cloudfront#Aliases": {
      "type": "structure",
      "members": {
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of CNAME aliases, if any, that you want to associate with this\n\t\t\tdistribution.</p>",
            "smithy.api#required": {}
          }
        },
        "Items": {
          "target": "com.amazonaws.cloudfront#AliasList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains the CNAME aliases, if any, that you want to associate\n\t\t\twith this distribution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about CNAMEs (alternate domain names), if\n\t\t\tany, for this distribution.</p>"
      }
    },
    "com.amazonaws.cloudfront#AllowedMethods": {
      "type": "structure",
      "members": {
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of HTTP methods that you want CloudFront to forward to your origin. Valid values\n\t\t\tare 2 (for <code>GET</code> and <code>HEAD</code> requests), 3 (for <code>GET</code>,\n\t\t\t\t<code>HEAD</code>, and <code>OPTIONS</code> requests) and 7 (for <code>GET, HEAD,\n\t\t\t\tOPTIONS, PUT, PATCH, POST</code>, and <code>DELETE</code> requests).</p>",
            "smithy.api#required": {}
          }
        },
        "Items": {
          "target": "com.amazonaws.cloudfront#MethodsList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains the HTTP methods that you want CloudFront to process and\n\t\t\tforward to your origin.</p>",
            "smithy.api#required": {}
          }
        },
        "CachedMethods": {
          "target": "com.amazonaws.cloudfront#CachedMethods"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that controls which HTTP methods CloudFront processes and forwards to your\n\t\t\tAmazon S3 bucket or your custom origin. There are three choices:</p>\n         <ul>\n            <li>\n               <p>CloudFront forwards only <code>GET</code> and <code>HEAD</code> requests.</p>\n            </li>\n            <li>\n               <p>CloudFront forwards only <code>GET</code>, <code>HEAD</code>, and\n\t\t\t\t\t\t<code>OPTIONS</code> requests.</p>\n            </li>\n            <li>\n               <p>CloudFront forwards <code>GET, HEAD, OPTIONS, PUT, PATCH, POST</code>, and\n\t\t\t\t\t\t<code>DELETE</code> requests.</p>\n            </li>\n         </ul>\n         <p>If you pick the third choice, you may need to restrict access to your Amazon S3 bucket or\n\t\t\tto your custom origin so users can't perform operations that you don't want them to. For\n\t\t\texample, you might not want users to have permissions to delete objects from your\n\t\t\torigin.</p>"
      }
    },
    "com.amazonaws.cloudfront#AssociateAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudfront#AssociateAliasRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudfront#AccessDenied"
        },
        {
          "target": "com.amazonaws.cloudfront#IllegalUpdate"
        },
        {
          "target": "com.amazonaws.cloudfront#InvalidArgument"
        },
        {
          "target": "com.amazonaws.cloudfront#NoSuchDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#TooManyDistributionCNAMEs"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an alias (also known as a CNAME or an alternate domain name) with a CloudFront\n\t\t\tdistribution.</p>\n         <p>With this operation you can move an alias that's already in use on a CloudFront distribution\n\t\t\tto a different distribution in one step. This prevents the downtime that could occur if\n\t\t\tyou first remove the alias from one distribution and then separately add the alias to\n\t\t\tanother distribution.</p>\n         <p>To use this operation to associate an alias with a distribution, you provide the alias\n\t\t\tand the ID of the target distribution for the alias. For more information, including how\n\t\t\tto set up the target distribution, prerequisites that you must complete, and other\n\t\t\trestrictions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html#alternate-domain-names-move\">Moving an alternate domain name to a different\n\t\t\t\tdistribution</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/2020-05-31/distribution/{TargetDistributionId}/associate-alias",
          "code": 200
        }
      }
    },
    "com.amazonaws.cloudfront#AssociateAliasRequest": {
      "type": "structure",
      "members": {
        "TargetDistributionId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the distribution that you're associating the alias with.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Alias": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The alias (also known as a CNAME) to add to the target distribution.</p>",
            "smithy.api#httpQuery": "Alias",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.cloudfront#AwsAccountNumberList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#string",
        "traits": {
          "smithy.api#xmlName": "AwsAccountNumber"
        }
      }
    },
    "com.amazonaws.cloudfront#BatchTooLarge": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Invalidation batch specified is too large.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 413
      }
    },
    "com.amazonaws.cloudfront#CNAMEAlreadyExists": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The CNAME specified is already defined for CloudFront.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.cloudfront#CacheBehavior": {
      "type": "structure",
      "members": {
        "PathPattern": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The pattern (for example, <code>images/*.jpg</code>) that specifies which requests to\n\t\t\tapply the behavior to. When CloudFront receives a viewer request, the requested path is\n\t\t\tcompared with path patterns in the order in which cache behaviors are listed in the\n\t\t\tdistribution.</p>\n         <note>\n            <p>You can optionally include a slash (<code>/</code>) at the beginning of the path\n\t\t\t\tpattern. For example, <code>/images/*.jpg</code>. CloudFront behavior is the same with or\n\t\t\t\twithout the leading <code>/</code>.</p>\n         </note>\n         <p>The path pattern for the default cache behavior is <code>*</code> and cannot be\n\t\t\tchanged. If the request for an object does not match the path pattern for any cache\n\t\t\tbehaviors, CloudFront applies the behavior in the default cache behavior.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-web-values-specify.html#DownloadDistValuesPathPattern\">Path Pattern</a> in the <i> Amazon CloudFront Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetOriginId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The value of <code>ID</code> for the origin that you want CloudFront to route requests to\n\t\t\twhen they match this cache behavior.</p>",
            "smithy.api#required": {}
          }
        },
        "TrustedSigners": {
          "target": "com.amazonaws.cloudfront#TrustedSigners",
          "traits": {
            "smithy.api#documentation": "<important>\n            <p>We recommend using <code>TrustedKeyGroups</code> instead of\n\t\t\t\t\t<code>TrustedSigners</code>.</p>\n         </important>\n         <p>A list of Amazon Web Services account IDs whose public keys CloudFront can use to validate signed URLs or\n\t\t\tsigned cookies.</p>\n         <p>When a cache behavior contains trusted signers, CloudFront requires signed URLs or signed\n\t\t\tcookies for all requests that match the cache behavior. The URLs or cookies must be\n\t\t\tsigned with the private key of a CloudFront key pair in the trusted signer's Amazon Web Services account.\n\t\t\tThe signed URL or cookie contains information about which public key CloudFront should use to\n\t\t\tverify the signature. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">Serving private content</a> in the\n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>"
          }
        },
        "TrustedKeyGroups": {
          "target": "com.amazonaws.cloudfront#TrustedKeyGroups",
          "traits": {
            "smithy.api#documentation": "<p>A list of key groups that CloudFront can use to validate signed URLs or signed\n\t\t\tcookies.</p>\n         <p>When a cache behavior contains trusted key groups, CloudFront requires signed URLs or signed\n\t\t\tcookies for all requests that match the cache behavior. The URLs or cookies must be\n\t\t\tsigned with a private key whose corresponding public key is in the key group. The signed\n\t\t\tURL or cookie contains information about which public key CloudFront should use to verify the\n\t\t\tsignature. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">Serving private content</a> in the\n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>"
          }
        },
        "ViewerProtocolPolicy": {
          "target": "com.amazonaws.cloudfront#ViewerProtocolPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The protocol that viewers can use to access the files in the origin specified by\n\t\t\t\t<code>TargetOriginId</code> when a request matches the path pattern in\n\t\t\t\t<code>PathPattern</code>. You can specify the following options:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>allow-all</code>: Viewers can use HTTP or HTTPS.</p>\n            </li>\n            <li>\n               <p>\n                  <code>redirect-to-https</code>: If a viewer submits an HTTP request, CloudFront\n\t\t\t\t\treturns an HTTP status code of 301 (Moved Permanently) to the viewer along with\n\t\t\t\t\tthe HTTPS URL. The viewer then resubmits the request using the new URL.</p>\n            </li>\n            <li>\n               <p>\n                  <code>https-only</code>: If a viewer sends an HTTP request, CloudFront returns an\n\t\t\t\t\tHTTP status code of 403 (Forbidden).</p>\n            </li>\n         </ul>\n         <p>For more information about requiring the HTTPS protocol, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/using-https-viewers-to-cloudfront.html\">Requiring HTTPS Between Viewers and CloudFront</a> in the\n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n         <note>\n            <p>The only way to guarantee that viewers retrieve an object that was fetched from\n\t\t\t\tthe origin using HTTPS is never to use any other protocol to fetch the object. If\n\t\t\t\tyou have recently changed from HTTP to HTTPS, we recommend that you clear your\n\t\t\t\tobjects' cache because cached objects are protocol agnostic. That means that an edge\n\t\t\t\tlocation will return an object from the cache regardless of whether the current\n\t\t\t\trequest protocol matches the protocol used previously. For more information, see\n\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing Cache\n\t\t\t\t\tExpiration</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "AllowedMethods": {
          "target": "com.amazonaws.cloudfront#AllowedMethods"
        },
        "SmoothStreaming": {
          "target": "com.amazonaws.cloudfront#boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether you want to distribute media files in the Microsoft Smooth Streaming\n\t\t\tformat using the origin that is associated with this cache behavior. If so, specify\n\t\t\t\t<code>true</code>; if not, specify <code>false</code>. If you specify\n\t\t\t\t<code>true</code> for <code>SmoothStreaming</code>, you can still distribute other\n\t\t\tcontent using this cache behavior if the content matches the value of\n\t\t\t\t<code>PathPattern</code>.</p>"
          }
        },
        "Compress": {
          "target": "com.amazonaws.cloudfront#boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether you want CloudFront to automatically compress certain files for this cache behavior.\n\t\t\tIf so, specify true; if not, specify false. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/ServingCompressedFiles.html\">Serving\n\t\t\t\tCompressed Files</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
          }
        },
        "LambdaFunctionAssociations": {
          "target": "com.amazonaws.cloudfront#LambdaFunctionAssociations",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains zero or more Lambda@Edge function associations for a\n\t\t\tcache behavior.</p>"
          }
        },
        "FunctionAssociations": {
          "target": "com.amazonaws.cloudfront#FunctionAssociations",
          "traits": {
            "smithy.api#documentation": "<p>A list of CloudFront functions that are associated with this cache behavior. CloudFront functions\n\t\t\tmust be published to the <code>LIVE</code> stage to associate them with a cache\n\t\t\tbehavior.</p>"
          }
        },
        "FieldLevelEncryptionId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The value of <code>ID</code> for the field-level encryption configuration that you\n\t\t\twant CloudFront to use for encrypting specific fields of data for this cache behavior.</p>"
          }
        },
        "RealtimeLogConfigArn": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the real-time log configuration that is attached to\n\t\t\tthis cache behavior. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/real-time-logs.html\">Real-time logs</a> in the\n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>"
          }
        },
        "CachePolicyId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the cache policy that is attached to this cache behavior. For\n\t\t\tmore information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-the-cache-key.html#cache-key-create-cache-policy\">Creating cache policies</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/using-managed-cache-policies.html\">Using the managed cache policies</a> in the\n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n         <p>A <code>CacheBehavior</code> must include either a <code>CachePolicyId</code> or\n\t\t\t\t<code>ForwardedValues</code>. We recommend that you use a\n\t\t\t<code>CachePolicyId</code>.</p>"
          }
        },
        "OriginRequestPolicyId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the origin request policy that is attached to this cache\n\t\t\tbehavior. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-origin-requests.html#origin-request-create-origin-request-policy\">Creating origin request policies</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/using-managed-origin-request-policies.html\">Using the managed origin request policies</a> in the\n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>"
          }
        },
        "ResponseHeadersPolicyId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for a response headers policy.</p>"
          }
        },
        "ForwardedValues": {
          "target": "com.amazonaws.cloudfront#ForwardedValues",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>This field is deprecated. We recommend that you use a cache policy or an origin\n\t\t\trequest policy instead of this field. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/working-with-policies.html\">Working with policies</a> in the\n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n         <p>If you want to include values in the cache key, use a cache policy. For more\n\t\t\tinformation, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-the-cache-key.html#cache-key-create-cache-policy\">Creating cache policies</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/using-managed-cache-policies.html\">Using the managed cache policies</a> in the\n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n         <p>If you want to send values to the origin but not include them in the cache key, use an\n\t\t\torigin request policy. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-origin-requests.html#origin-request-create-origin-request-policy\">Creating origin request policies</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/using-managed-origin-request-policies.html\">Using the managed origin request policies</a> in the\n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n         <p>A <code>CacheBehavior</code> must include either a <code>CachePolicyId</code> or\n\t\t\t\t<code>ForwardedValues</code>. We recommend that you use a\n\t\t\t<code>CachePolicyId</code>.</p>\n         <p>A complex type that specifies how CloudFront handles query strings, cookies, and HTTP\n\t\t\theaders.</p>"
          }
        },
        "MinTTL": {
          "target": "com.amazonaws.cloudfront#long",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>This field is deprecated. We recommend that you use the <code>MinTTL</code> field in a\n\t\t\tcache policy instead of this field. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-the-cache-key.html#cache-key-create-cache-policy\">Creating cache policies</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/using-managed-cache-policies.html\">Using the managed cache policies</a> in the\n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n         <p>The minimum amount of time that you want objects to stay in CloudFront caches before CloudFront\n\t\t\tforwards another request to your origin to determine whether the object has been\n\t\t\tupdated. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\"> Managing How Long\n\t\t\t\tContent Stays in an Edge Cache (Expiration)</a> in the <i>\n\t\t\t\tAmazon CloudFront Developer Guide</i>.</p>\n         <p>You must specify <code>0</code> for <code>MinTTL</code> if you configure CloudFront to\n\t\t\tforward all headers to your origin (under <code>Headers</code>, if you specify\n\t\t\t\t<code>1</code> for <code>Quantity</code> and <code>*</code> for\n\t\t\t<code>Name</code>).</p>"
          }
        },
        "DefaultTTL": {
          "target": "com.amazonaws.cloudfront#long",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>This field is deprecated. We recommend that you use the <code>DefaultTTL</code> field\n\t\t\tin a cache policy instead of this field. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-the-cache-key.html#cache-key-create-cache-policy\">Creating cache policies</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/using-managed-cache-policies.html\">Using the managed cache policies</a> in the\n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n         <p>The default amount of time that you want objects to stay in CloudFront caches before CloudFront\n\t\t\tforwards another request to your origin to determine whether the object has been\n\t\t\tupdated. The value that you specify applies only when your origin does not add HTTP\n\t\t\theaders such as <code>Cache-Control max-age</code>, <code>Cache-Control s-maxage</code>,\n\t\t\tand <code>Expires</code> to objects. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing How Long Content Stays in an Edge Cache (Expiration)</a> in the\n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>"
          }
        },
        "MaxTTL": {
          "target": "com.amazonaws.cloudfront#long",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>This field is deprecated. We recommend that you use the <code>MaxTTL</code> field in a\n\t\t\tcache policy instead of this field. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/controlling-the-cache-key.html#cache-key-create-cache-policy\">Creating cache policies</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/using-managed-cache-policies.html\">Using the managed cache policies</a> in the\n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n         <p>The maximum amount of time that you want objects to stay in CloudFront caches before CloudFront\n\t\t\tforwards another request to your origin to determine whether the object has been\n\t\t\tupdated. The value that you specify applies only when your origin adds HTTP headers such\n\t\t\tas <code>Cache-Control max-age</code>, <code>Cache-Control s-maxage</code>, and\n\t\t\t\t<code>Expires</code> to objects. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing How Long Content Stays in an Edge Cache (Expiration)</a> in the\n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that describes how CloudFront processes requests.</p>\n         <p>You must create at least as many cache behaviors (including the default cache\n\t\t\tbehavior) as you have origins if you want CloudFront to serve objects from all of the origins.\n\t\t\tEach cache behavior specifies the one origin from which you want CloudFront to get objects. If\n\t\t\tyou have two origins and only the default cache behavior, the default cache behavior\n\t\t\twill cause CloudFront to get objects from one of the origins, but the other origin is never\n\t\t\tused.</p>\n         <p>For the current quota (formerly known as limit) on the number of cache behaviors that\n\t\t\tyou can add to a distribution, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/cloudfront-limits.html\">Quotas</a> in the\n\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n         <p>If you don't want to specify any cache behaviors, include only an empty\n\t\t\t\t<code>CacheBehaviors</code> element. Don't include an empty\n\t\t\t\t<code>CacheBehavior</code> element because this is invalid.</p>\n         <p>To delete all cache behaviors in an existing distribution, update the distribution\n\t\t\tconfiguration and include only an empty <code>CacheBehaviors</code> element.</p>\n         <p>To add, change, or remove one or more cache behaviors, update the distribution\n\t\t\tconfiguration and specify all of the cache behaviors that you want to include in the\n\t\t\tupdated distribution.</p>\n         <p>For more information about cache behaviors, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-web-values-specify.html#DownloadDistValuesCacheBehavior\">Cache Behavior Settings</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudfront#CacheBehaviorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#CacheBehavior",
        "traits": {
          "smithy.api#xmlName": "CacheBehavior"
        }
      }
    },
    "com.amazonaws.cloudfront#CacheBehaviors": {
      "type": "structure",
      "members": {
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of cache behaviors for this distribution.</p>",
            "smithy.api#required": {}
          }
        },
        "Items": {
          "target": "com.amazonaws.cloudfront#CacheBehaviorList",
          "traits": {
            "smithy.api#documentation": "<p>Optional: A complex type that contains cache behaviors for this distribution. If\n\t\t\t\t<code>Quantity</code> is <code>0</code>, you can omit <code>Items</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains zero or more <code>CacheBehavior</code> elements.</p>"
      }
    },
    "com.amazonaws.cloudfront#CachePolicy": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the cache policy.</p>",
            "smithy.api#required": {}
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.cloudfront#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the cache policy was last modified.</p>",
            "smithy.api#required": {}
          }
        },
        "CachePolicyConfig": {
          "target": "com.amazonaws.cloudfront#CachePolicyConfig",
          "traits": {
            "smithy.api#documentation": "<p>The cache policy configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A cache policy.</p>\n         <p>When it's attached to a cache behavior, the cache policy determines the\n\t\t\tfollowing:</p>\n         <ul>\n            <li>\n               <p>The values that CloudFront includes in the cache key. These values can include HTTP\n\t\t\t\t\theaders, cookies, and URL query strings. CloudFront uses the cache key to find an\n\t\t\t\t\tobject in its cache that it can return to the viewer.</p>\n            </li>\n            <li>\n               <p>The default, minimum, and maximum time to live (TTL) values that you want\n\t\t\t\t\tobjects to stay in the CloudFront cache.</p>\n            </li>\n         </ul>\n         <p>The headers, cookies, and query strings that are included in the cache key are\n\t\t\tautomatically included in requests that CloudFront sends to the origin. CloudFront sends a request\n\t\t\twhen it can't find a valid object in its cache that matches the request's cache key. If\n\t\t\tyou want to send values to the origin but <i>not</i> include them in the\n\t\t\tcache key, use <code>OriginRequestPolicy</code>.</p>"
      }
    },
    "com.amazonaws.cloudfront#CachePolicyAlreadyExists": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A cache policy with this name already exists. You must provide a unique name. To\n\t\t\tmodify an existing cache policy, use <code>UpdateCachePolicy</code>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.cloudfront#CachePolicyConfig": {
      "type": "structure",
      "members": {
        "Comment": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>A comment to describe the cache policy. The comment cannot be longer than 128\n\t\t\tcharacters.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique name to identify the cache policy.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultTTL": {
          "target": "com.amazonaws.cloudfront#long",
          "traits": {
            "smithy.api#documentation": "<p>The default amount of time, in seconds, that you want objects to stay in the CloudFront\n\t\t\tcache before CloudFront sends another request to the origin to see if the object has been\n\t\t\tupdated. CloudFront uses this value as the object's time to live (TTL) only when the origin\n\t\t\tdoes <i>not</i> send <code>Cache-Control</code> or <code>Expires</code>\n\t\t\theaders with the object. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing How Long Content Stays in an Edge Cache (Expiration)</a> in the\n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n         <p>The default value for this field is 86400 seconds (one day). If the value of\n\t\t\t\t<code>MinTTL</code> is more than 86400 seconds, then the default value for this\n\t\t\tfield is the same as the value of <code>MinTTL</code>.</p>"
          }
        },
        "MaxTTL": {
          "target": "com.amazonaws.cloudfront#long",
          "traits": {
            "smithy.api#documentation": "<p>The maximum amount of time, in seconds, that objects stay in the CloudFront cache before\n\t\t\tCloudFront sends another request to the origin to see if the object has been updated. CloudFront\n\t\t\tuses this value only when the origin sends <code>Cache-Control</code> or\n\t\t\t\t<code>Expires</code> headers with the object. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing How Long Content Stays in an Edge Cache (Expiration)</a> in the\n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n         <p>The default value for this field is 31536000 seconds (one year). If the value of\n\t\t\t\t<code>MinTTL</code> or <code>DefaultTTL</code> is more than 31536000 seconds, then\n\t\t\tthe default value for this field is the same as the value of\n\t\t\t<code>DefaultTTL</code>.</p>"
          }
        },
        "MinTTL": {
          "target": "com.amazonaws.cloudfront#long",
          "traits": {
            "smithy.api#documentation": "<p>The minimum amount of time, in seconds, that you want objects to stay in the CloudFront\n\t\t\tcache before CloudFront sends another request to the origin to see if the object has been\n\t\t\tupdated. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing How Long Content Stays in an Edge Cache (Expiration)</a> in the\n\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "ParametersInCacheKeyAndForwardedToOrigin": {
          "target": "com.amazonaws.cloudfront#ParametersInCacheKeyAndForwardedToOrigin",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP headers, cookies, and URL query strings to include in the cache key. The\n\t\t\tvalues included in the cache key are automatically included in requests that CloudFront sends\n\t\t\tto the origin.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A cache policy configuration.</p>\n         <p>This configuration determines the following:</p>\n         <ul>\n            <li>\n               <p>The values that CloudFront includes in the cache key. These values can include HTTP\n\t\t\t\t\theaders, cookies, and URL query strings. CloudFront uses the cache key to find an\n\t\t\t\t\tobject in its cache that it can return to the viewer.</p>\n            </li>\n            <li>\n               <p>The default, minimum, and maximum time to live (TTL) values that you want\n\t\t\t\t\tobjects to stay in the CloudFront cache.</p>\n            </li>\n         </ul>\n         <p>The headers, cookies, and query strings that are included in the cache key are\n\t\t\tautomatically included in requests that CloudFront sends to the origin. CloudFront sends a request\n\t\t\twhen it can't find a valid object in its cache that matches the request's cache key. If\n\t\t\tyou want to send values to the origin but <i>not</i> include them in the\n\t\t\tcache key, use <code>OriginRequestPolicy</code>.</p>"
      }
    },
    "com.amazonaws.cloudfront#CachePolicyCookieBehavior": {
      "type": "enum",
      "members": {
        "none": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "whitelist": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "allExcept": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allExcept"
          }
        },
        "all": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      }
    },
    "com.amazonaws.cloudfront#CachePolicyCookiesConfig": {
      "type": "structure",
      "members": {
        "CookieBehavior": {
          "target": "com.amazonaws.cloudfront#CachePolicyCookieBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether any cookies in viewer requests are included in the cache key and\n\t\t\tautomatically included in requests that CloudFront sends to the origin. Valid values\n\t\t\tare:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>none</code> – Cookies in viewer requests are not included in the cache\n\t\t\t\t\tkey and are not automatically included in requests that CloudFront sends to the\n\t\t\t\t\torigin. Even when this field is set to <code>none</code>, any cookies that are\n\t\t\t\t\tlisted in an <code>OriginRequestPolicy</code>\n                  <i>are</i> included in origin requests.</p>\n            </li>\n            <li>\n               <p>\n                  <code>whitelist</code> – The cookies in viewer requests that are listed in the\n\t\t\t\t\t\t<code>CookieNames</code> type are included in the cache key and\n\t\t\t\t\tautomatically included in requests that CloudFront sends to the origin.</p>\n            </li>\n            <li>\n               <p>\n                  <code>allExcept</code> – All cookies in viewer requests that are\n\t\t\t\t\t\t\t<i>\n                     <b>not</b>\n                  </i> listed in the\n\t\t\t\t\t\t<code>CookieNames</code> type are included in the cache key and\n\t\t\t\t\tautomatically included in requests that CloudFront sends to the origin.</p>\n            </li>\n            <li>\n               <p>\n                  <code>all</code> – All cookies in viewer requests are included in the cache\n\t\t\t\t\tkey and are automatically included in requests that CloudFront sends to the\n\t\t\t\t\torigin.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Cookies": {
          "target": "com.amazonaws.cloudfront#CookieNames"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that determines whether any cookies in viewer requests (and if so, which\n\t\t\tcookies) are included in the cache key and automatically included in requests that CloudFront\n\t\t\tsends to the origin.</p>"
      }
    },
    "com.amazonaws.cloudfront#CachePolicyHeaderBehavior": {
      "type": "enum",
      "members": {
        "none": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "whitelist": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        }
      }
    },
    "com.amazonaws.cloudfront#CachePolicyHeadersConfig": {
      "type": "structure",
      "members": {
        "HeaderBehavior": {
          "target": "com.amazonaws.cloudfront#CachePolicyHeaderBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether any HTTP headers are included in the cache key and automatically\n\t\t\tincluded in requests that CloudFront sends to the origin. Valid values are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>none</code> – HTTP headers are not included in the cache key and are not\n\t\t\t\t\tautomatically included in requests that CloudFront sends to the origin. Even when this\n\t\t\t\t\tfield is set to <code>none</code>, any headers that are listed in an\n\t\t\t\t\t\t<code>OriginRequestPolicy</code>\n                  <i>are</i> included in origin requests.</p>\n            </li>\n            <li>\n               <p>\n                  <code>whitelist</code> – The HTTP headers that are listed in the\n\t\t\t\t\t\t<code>Headers</code> type are included in the cache key and are\n\t\t\t\t\tautomatically included in requests that CloudFront sends to the origin.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Headers": {
          "target": "com.amazonaws.cloudfront#Headers"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that determines whether any HTTP headers (and if so, which headers) are\n\t\t\tincluded in the cache key and automatically included in requests that CloudFront sends to the\n\t\t\torigin.</p>"
      }
    },
    "com.amazonaws.cloudfront#CachePolicyInUse": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Cannot delete the cache policy because it is attached to one or more cache\n\t\t\tbehaviors.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.cloudfront#CachePolicyList": {
      "type": "structure",
      "members": {
        "NextMarker": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>If there are more items in the list than are in this response, this element is\n\t\t\tpresent. It contains the value that you should use in the <code>Marker</code> field of a\n\t\t\tsubsequent request to continue listing cache policies where you left off.</p>"
          }
        },
        "MaxItems": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of cache policies requested.</p>",
            "smithy.api#required": {}
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of cache policies returned in the response.</p>",
            "smithy.api#required": {}
          }
        },
        "Items": {
          "target": "com.amazonaws.cloudfront#CachePolicySummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Contains the cache policies in the list.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of cache policies.</p>"
      }
    },
    "com.amazonaws.cloudfront#CachePolicyQueryStringBehavior": {
      "type": "enum",
      "members": {
        "none": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "none"
          }
        },
        "whitelist": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "whitelist"
          }
        },
        "allExcept": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "allExcept"
          }
        },
        "all": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "all"
          }
        }
      }
    },
    "com.amazonaws.cloudfront#CachePolicyQueryStringsConfig": {
      "type": "structure",
      "members": {
        "QueryStringBehavior": {
          "target": "com.amazonaws.cloudfront#CachePolicyQueryStringBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether any URL query strings in viewer requests are included in the cache\n\t\t\tkey and automatically included in requests that CloudFront sends to the origin. Valid values\n\t\t\tare:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>none</code> – Query strings in viewer requests are not included in the\n\t\t\t\t\tcache key and are not automatically included in requests that CloudFront sends to the\n\t\t\t\t\torigin. Even when this field is set to <code>none</code>, any query strings that\n\t\t\t\t\tare listed in an <code>OriginRequestPolicy</code>\n                  <i>are</i> included in origin requests.</p>\n            </li>\n            <li>\n               <p>\n                  <code>whitelist</code> – The query strings in viewer requests that are listed\n\t\t\t\t\tin the <code>QueryStringNames</code> type are included in the cache key and\n\t\t\t\t\tautomatically included in requests that CloudFront sends to the origin.</p>\n            </li>\n            <li>\n               <p>\n                  <code>allExcept</code> – All query strings in viewer requests that are\n\t\t\t\t\t\t\t<i>\n                     <b>not</b>\n                  </i> listed in the\n\t\t\t\t\t\t<code>QueryStringNames</code> type are included in the cache key and\n\t\t\t\t\tautomatically included in requests that CloudFront sends to the origin.</p>\n            </li>\n            <li>\n               <p>\n                  <code>all</code> – All query strings in viewer requests are included in the\n\t\t\t\t\tcache key and are automatically included in requests that CloudFront sends to the\n\t\t\t\t\torigin.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "QueryStrings": {
          "target": "com.amazonaws.cloudfront#QueryStringNames",
          "traits": {
            "smithy.api#documentation": "<p>Contains the specific query strings in viewer requests that either <i>\n               <b>are</b>\n            </i> or <i>\n               <b>are\n\t\t\t\t\tnot</b>\n            </i> included in the cache key and automatically included\n\t\t\tin requests that CloudFront sends to the origin. The behavior depends on whether the\n\t\t\t\t<code>QueryStringBehavior</code> field in the\n\t\t\t\t<code>CachePolicyQueryStringsConfig</code> type is set to <code>whitelist</code>\n\t\t\t(the listed query strings <i>\n               <b>are</b>\n            </i>\n\t\t\tincluded) or <code>allExcept</code> (the listed query strings <i>\n               <b>are not</b>\n            </i> included, but all other query strings\n\t\t\tare).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that determines whether any URL query strings in viewer requests (and if so,\n\t\t\twhich query strings) are included in the cache key and automatically included in\n\t\t\trequests that CloudFront sends to the origin.</p>"
      }
    },
    "com.amazonaws.cloudfront#CachePolicySummary": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.cloudfront#CachePolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of cache policy, either <code>managed</code> (created by Amazon Web Services) or\n\t\t\t\t<code>custom</code> (created in this Amazon Web Services account).</p>",
            "smithy.api#required": {}
          }
        },
        "CachePolicy": {
          "target": "com.amazonaws.cloudfront#CachePolicy",
          "traits": {
            "smithy.api#documentation": "<p>The cache policy.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a cache policy.</p>"
      }
    },
    "com.amazonaws.cloudfront#CachePolicySummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#CachePolicySummary",
        "traits": {
          "smithy.api#xmlName": "CachePolicySummary"
        }
      }
    },
    "com.amazonaws.cloudfront#CachePolicyType": {
      "type": "enum",
      "members": {
        "managed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "managed"
          }
        },
        "custom": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "custom"
          }
        }
      }
    },
    "com.amazonaws.cloudfront#CachedMethods": {
      "type": "structure",
      "members": {
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of HTTP methods for which you want CloudFront to cache responses. Valid values\n\t\t\tare <code>2</code> (for caching responses to <code>GET</code> and <code>HEAD</code>\n\t\t\trequests) and <code>3</code> (for caching responses to <code>GET</code>,\n\t\t\t\t<code>HEAD</code>, and <code>OPTIONS</code> requests).</p>",
            "smithy.api#required": {}
          }
        },
        "Items": {
          "target": "com.amazonaws.cloudfront#MethodsList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains the HTTP methods that you want CloudFront to cache responses\n\t\t\tto.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that controls whether CloudFront caches the response to requests using the\n\t\t\tspecified HTTP methods. There are two choices:</p>\n         <ul>\n            <li>\n               <p>CloudFront caches responses to <code>GET</code> and <code>HEAD</code>\n\t\t\t\t\trequests.</p>\n            </li>\n            <li>\n               <p>CloudFront caches responses to <code>GET</code>, <code>HEAD</code>, and\n\t\t\t\t\t\t<code>OPTIONS</code> requests.</p>\n            </li>\n         </ul>\n         <p>If you pick the second choice for your Amazon S3 Origin, you may need to forward\n\t\t\tAccess-Control-Request-Method, Access-Control-Request-Headers, and Origin headers for\n\t\t\tthe responses to be cached correctly.</p>"
      }
    },
    "com.amazonaws.cloudfront#CannotChangeImmutablePublicKeyFields": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't change the value of a public key.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.cloudfront#CertificateSource": {
      "type": "enum",
      "members": {
        "cloudfront": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloudfront"
          }
        },
        "iam": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "iam"
          }
        },
        "acm": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "acm"
          }
        }
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentity": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the origin access identity, for example, <code>E74FTE3AJFJ256A</code>.\n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "S3CanonicalUserId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 canonical user ID for the origin access identity, used when giving the origin\n\t\t\taccess identity read permission to an object in Amazon S3.</p>",
            "smithy.api#required": {}
          }
        },
        "CloudFrontOriginAccessIdentityConfig": {
          "target": "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityConfig",
          "traits": {
            "smithy.api#documentation": "<p>The current configuration information for the identity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CloudFront origin access identity.</p>"
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityAlreadyExists": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>If the <code>CallerReference</code> is a value you already sent in a previous request\n\t\t\tto create an identity but the content of the\n\t\t\t\t<code>CloudFrontOriginAccessIdentityConfig</code> is different from the original\n\t\t\trequest, CloudFront returns a <code>CloudFrontOriginAccessIdentityAlreadyExists</code> error.\n\t\t</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityConfig": {
      "type": "structure",
      "members": {
        "CallerReference": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>A unique value (for example, a date-time stamp) that ensures that the request can't be\n\t\t\treplayed.</p>\n         <p>If the value of <code>CallerReference</code> is new (regardless of the content of the\n\t\t\t\t<code>CloudFrontOriginAccessIdentityConfig</code> object), a new origin access\n\t\t\tidentity is created.</p>\n         <p>If the <code>CallerReference</code> is a value already sent in a previous identity\n\t\t\trequest, and the content of the <code>CloudFrontOriginAccessIdentityConfig</code> is\n\t\t\tidentical to the original request (ignoring white space), the response includes the same\n\t\t\tinformation returned to the original request.</p>\n         <p>If the <code>CallerReference</code> is a value you already sent in a previous request\n\t\t\tto create an identity, but the content of the\n\t\t\t\t<code>CloudFrontOriginAccessIdentityConfig</code> is different from the original\n\t\t\trequest, CloudFront returns a <code>CloudFrontOriginAccessIdentityAlreadyExists</code> error.\n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "Comment": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>A comment to describe the origin access identity. The comment cannot be longer than\n\t\t\t128 characters.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Origin access identity configuration. Send a <code>GET</code> request to the\n\t\t\t\t\t<code>/<i>CloudFront API version</i>/CloudFront/identity ID/config</code>\n\t\t\tresource.</p>"
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityInUse": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.cloudfront#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Origin Access Identity specified is already in use.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentityList": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>Use this when paginating results to indicate where to begin in your list of origin\n\t\t\taccess identities. The results include identities in the list that occur after the\n\t\t\tmarker. To get the next page of results, set the <code>Marker</code> to the value of the\n\t\t\t\t<code>NextMarker</code> from the current page's response (which is also the ID of\n\t\t\tthe last identity on that page).</p>",
            "smithy.api#required": {}
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>If <code>IsTruncated</code> is <code>true</code>, this element is present and contains\n\t\t\tthe value you can use for the <code>Marker</code> request parameter to continue listing\n\t\t\tyour origin access identities where they left off.</p>"
          }
        },
        "MaxItems": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of origin access identities you want in the response body.</p>",
            "smithy.api#required": {}
          }
        },
        "IsTruncated": {
          "target": "com.amazonaws.cloudfront#boolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag that indicates whether more origin access identities remain to be listed. If\n\t\t\tyour results were truncated, you can make a follow-up pagination request using the\n\t\t\t\t<code>Marker</code> request parameter to retrieve more items in the list.</p>",
            "smithy.api#required": {}
          }
        },
        "Quantity": {
          "target": "com.amazonaws.cloudfront#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of CloudFront origin access identities that were created by the current\n\t\t\tAmazon Web Services account.</p>",
            "smithy.api#required": {}
          }
        },
        "Items": {
          "target": "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentitySummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains one <code>CloudFrontOriginAccessIdentitySummary</code>\n\t\t\telement for each origin access identity that was created by the current\n\t\t\tAmazon Web Services account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists the origin access identities for CloudFront.Send a <code>GET</code> request to the\n\t\t\t\t\t<code>/<i>CloudFront API\n\t\t\t\tversion</i>/origin-access-identity/cloudfront</code> resource. The response\n\t\t\tincludes a <code>CloudFrontOriginAccessIdentityList</code> element with zero or more\n\t\t\t\t<code>CloudFrontOriginAccessIdentitySummary</code> child elements. By default, your\n\t\t\tentire list of origin access identities is returned in one single page. If the list is\n\t\t\tlong, you can paginate it using the <code>MaxItems</code> and <code>Marker</code>\n\t\t\tparameters.</p>"
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentitySummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the origin access identity. For example:\n\t\t\t<code>E74FTE3AJFJ256A</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "S3CanonicalUserId": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 canonical user ID for the origin access identity, which you use when giving\n\t\t\tthe origin access identity read permission to an object in Amazon S3.</p>",
            "smithy.api#required": {}
          }
        },
        "Comment": {
          "target": "com.amazonaws.cloudfront#string",
          "traits": {
            "smithy.api#documentation": "<p>The comment for this origin access identity, as originally specified when\n\t\t\tcreated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the information about a CloudFront origin access identity.</p>"
      }
    },
    "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentitySummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudfront#CloudFrontOriginAccessIdentitySummary",
        "traits": {
          "smithy.api#xmlName": "CloudFrontOriginAccessIdentitySummary"
        }
      }
    },
    "com.amazonaws.cloudfront#Cloudfront2020_05_31": {
      "type": "service",
      "version": "2020-05-31",
      "operations": [
        {
          "target": "com.amazonaws.cloudfront#AssociateAlias"
        },
        {
          "target": "com.amazonaws.cloudfront#CopyDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateCachePolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateCloudFrontOriginAccessIdentity"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateContinuousDeploymentPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateDistributionWithTags"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateFieldLevelEncryptionProfile"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateFunction"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateInvalidation"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateKeyGroup"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateMonitoringSubscription"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateOriginAccessControl"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateOriginRequestPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#CreatePublicKey"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateRealtimeLogConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateResponseHeadersPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateStreamingDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#CreateStreamingDistributionWithTags"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteCachePolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteCloudFrontOriginAccessIdentity"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteContinuousDeploymentPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteFieldLevelEncryptionProfile"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteFunction"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteKeyGroup"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteMonitoringSubscription"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteOriginAccessControl"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteOriginRequestPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#DeletePublicKey"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteRealtimeLogConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteResponseHeadersPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#DeleteStreamingDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#DescribeFunction"
        },
        {
          "target": "com.amazonaws.cloudfront#GetCachePolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#GetCachePolicyConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetCloudFrontOriginAccessIdentity"
        },
        {
          "target": "com.amazonaws.cloudfront#GetCloudFrontOriginAccessIdentityConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetContinuousDeploymentPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#GetContinuousDeploymentPolicyConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#GetDistributionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetFieldLevelEncryption"
        },
        {
          "target": "com.amazonaws.cloudfront#GetFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetFieldLevelEncryptionProfile"
        },
        {
          "target": "com.amazonaws.cloudfront#GetFieldLevelEncryptionProfileConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetFunction"
        },
        {
          "target": "com.amazonaws.cloudfront#GetInvalidation"
        },
        {
          "target": "com.amazonaws.cloudfront#GetKeyGroup"
        },
        {
          "target": "com.amazonaws.cloudfront#GetKeyGroupConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetMonitoringSubscription"
        },
        {
          "target": "com.amazonaws.cloudfront#GetOriginAccessControl"
        },
        {
          "target": "com.amazonaws.cloudfront#GetOriginAccessControlConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetOriginRequestPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#GetOriginRequestPolicyConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetPublicKey"
        },
        {
          "target": "com.amazonaws.cloudfront#GetPublicKeyConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetRealtimeLogConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetResponseHeadersPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#GetResponseHeadersPolicyConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#GetStreamingDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#GetStreamingDistributionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#ListCachePolicies"
        },
        {
          "target": "com.amazonaws.cloudfront#ListCloudFrontOriginAccessIdentities"
        },
        {
          "target": "com.amazonaws.cloudfront#ListConflictingAliases"
        },
        {
          "target": "com.amazonaws.cloudfront#ListContinuousDeploymentPolicies"
        },
        {
          "target": "com.amazonaws.cloudfront#ListDistributions"
        },
        {
          "target": "com.amazonaws.cloudfront#ListDistributionsByCachePolicyId"
        },
        {
          "target": "com.amazonaws.cloudfront#ListDistributionsByKeyGroup"
        },
        {
          "target": "com.amazonaws.cloudfront#ListDistributionsByOriginRequestPolicyId"
        },
        {
          "target": "com.amazonaws.cloudfront#ListDistributionsByRealtimeLogConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#ListDistributionsByResponseHeadersPolicyId"
        },
        {
          "target": "com.amazonaws.cloudfront#ListDistributionsByWebACLId"
        },
        {
          "target": "com.amazonaws.cloudfront#ListFieldLevelEncryptionConfigs"
        },
        {
          "target": "com.amazonaws.cloudfront#ListFieldLevelEncryptionProfiles"
        },
        {
          "target": "com.amazonaws.cloudfront#ListFunctions"
        },
        {
          "target": "com.amazonaws.cloudfront#ListInvalidations"
        },
        {
          "target": "com.amazonaws.cloudfront#ListKeyGroups"
        },
        {
          "target": "com.amazonaws.cloudfront#ListOriginAccessControls"
        },
        {
          "target": "com.amazonaws.cloudfront#ListOriginRequestPolicies"
        },
        {
          "target": "com.amazonaws.cloudfront#ListPublicKeys"
        },
        {
          "target": "com.amazonaws.cloudfront#ListRealtimeLogConfigs"
        },
        {
          "target": "com.amazonaws.cloudfront#ListResponseHeadersPolicies"
        },
        {
          "target": "com.amazonaws.cloudfront#ListStreamingDistributions"
        },
        {
          "target": "com.amazonaws.cloudfront#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.cloudfront#PublishFunction"
        },
        {
          "target": "com.amazonaws.cloudfront#TagResource"
        },
        {
          "target": "com.amazonaws.cloudfront#TestFunction"
        },
        {
          "target": "com.amazonaws.cloudfront#UntagResource"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateCachePolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateCloudFrontOriginAccessIdentity"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateContinuousDeploymentPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateDistribution"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateDistributionWithStagingConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateFieldLevelEncryptionConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateFieldLevelEncryptionProfile"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateFunction"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateKeyGroup"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateOriginAccessControl"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateOriginRequestPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdatePublicKey"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateRealtimeLogConfig"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateResponseHeadersPolicy"
        },
        {
          "target": "com.amazonaws.cloudfront#UpdateStreamingDistribution"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CloudFront",
          "arnNamespace": "cloudfront",
          "cloudFormationName": "CloudFront",
          "cloudTrailEventSource": "cloudfront.amazonaws.com",
          "endpointPrefix": "cloudfront"
        },
        "aws.auth#sigv4": {
          "name": "cloudfront"
        },
        "aws.protocols#restXml": {},
        "smithy.api#documentation": "<fullname>Amazon CloudFront</fullname>\n         <p>This is the <i>Amazon CloudFront API Reference</i>. This guide is for developers\n\t\t\twho need detailed information about CloudFront API actions, data types, and errors. For\n\t\t\tdetailed information about CloudFront features, see the\n\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>",
        "smithy.api#title": "Amazon CloudFront",
        "smithy.api#xmlNamespace": {
          "uri": "http://cloudfront.amazonaws.com/doc/2020-05-31/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cloudfront-fips.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-east-1",
                                      "signingName": "cloudfront"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cloudfront-fips.{Region}.amazonaws.com",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-east-1",
                                      "signingName": "cloudfront"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cloudfront.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-east-1",
                                      "signingName": "cloudfront"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://cloudfront.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-east-1",
                              "signingName": "cloudfront"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws-cn"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cloudfront-fips.{Region}.api.amazonwebservices.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "cn-northwest-1",
                                      "signingName": "cloudfront"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cloudfront-fips.{Region}.amazonaws.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "cn-northwest-1",
                                      "signingName": "cloudfront"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cloudfront.{Region}.api.amazonwebservices.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "cn-northwest-1",
                                      "signingName": "cloudfront"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://cloudfront.cn-northwest-1.amazonaws.com.cn",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "cn-northwest-1",
[...]
