{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.cloudwatchlogs#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.cloudwatchlogs#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have sufficient permissions to perform this action.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudwatchlogs#AccessPolicy": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.cloudwatchlogs#AccountIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#AccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#AccountPolicies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#AccountPolicy"
      }
    },
    "com.amazonaws.cloudwatchlogs#AccountPolicy": {
      "type": "structure",
      "members": {
        "policyName": {
          "target": "com.amazonaws.cloudwatchlogs#PolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the account policy.</p>"
          }
        },
        "policyDocument": {
          "target": "com.amazonaws.cloudwatchlogs#AccountPolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>The policy document for this account policy.</p>\n         <p>The JSON specified in <code>policyDocument</code> can be up to 30,720 characters.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that this policy was most recently updated.</p>"
          }
        },
        "policyType": {
          "target": "com.amazonaws.cloudwatchlogs#PolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of policy for this account policy.</p>"
          }
        },
        "scope": {
          "target": "com.amazonaws.cloudwatchlogs#Scope",
          "traits": {
            "smithy.api#documentation": "<p>The scope of the account policy.</p>"
          }
        },
        "selectionCriteria": {
          "target": "com.amazonaws.cloudwatchlogs#SelectionCriteria",
          "traits": {
            "smithy.api#documentation": "<p>The log group selection criteria that is used for this policy.</p>"
          }
        },
        "accountId": {
          "target": "com.amazonaws.cloudwatchlogs#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID that the policy applies to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains information about one CloudWatch Logs account policy.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#AccountPolicyDocument": {
      "type": "string"
    },
    "com.amazonaws.cloudwatchlogs#ActionStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "CLIENT_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_ERROR"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#AddKeyEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#AddKeyEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#AddKeyEntry": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.cloudwatchlogs#Key",
          "traits": {
            "smithy.api#documentation": "<p>The key of the new entry to be added to the log event</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.cloudwatchlogs#AddKeyValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the new entry to be added to the log event</p>",
            "smithy.api#required": {}
          }
        },
        "overwriteIfExists": {
          "target": "com.amazonaws.cloudwatchlogs#OverwriteIfExists",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Specifies whether to overwrite the value if the key already exists in the log event. If\n      you omit this, the default is <code>false</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This object defines one key that will be added with the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/CloudWatch-Logs-Transformation.html#CloudWatch-Logs-Transformation-addKey\"> addKeys</a> processor.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#AddKeyValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#AddKeys": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.amazonaws.cloudwatchlogs#AddKeyEntries",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects, where each object contains the information about one key to add to\n      the log event. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This processor adds new key-value pairs to the log event. </p>\n         <p>For more information about this processor including examples, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/CloudWatch-Logs-Transformation.html#CloudWatch-Logs-Transformation-addKeys\"> addKeys</a> in the <i>CloudWatch Logs User Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#AggregateLogGroupSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#AggregateLogGroupSummary"
      }
    },
    "com.amazonaws.cloudwatchlogs#AggregateLogGroupSummary": {
      "type": "structure",
      "members": {
        "logGroupCount": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of log groups in this aggregate summary group.</p>"
          }
        },
        "groupingIdentifiers": {
          "target": "com.amazonaws.cloudwatchlogs#GroupingIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>An array of key-value pairs that identify the data source characteristics used to group\n      the log groups.</p>\n         <p>The size and content of this array depends on the <code>groupBy</code> parameter specified\n      in the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an aggregate summary of log groups grouped by data source characteristics,\n      including the count of log groups and their grouping identifiers.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#AllowedActionForAllowVendedLogsDeliveryForResource": {
      "type": "string"
    },
    "com.amazonaws.cloudwatchlogs#AllowedFieldDelimiters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#FieldDelimiter"
      }
    },
    "com.amazonaws.cloudwatchlogs#AllowedFields": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#RecordField"
      }
    },
    "com.amazonaws.cloudwatchlogs#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^[\\w+=/:,.@-]*$"
      }
    },
    "com.amazonaws.cloudwatchlogs#Anomalies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#Anomaly"
      }
    },
    "com.amazonaws.cloudwatchlogs#Anomaly": {
      "type": "structure",
      "members": {
        "anomalyId": {
          "target": "com.amazonaws.cloudwatchlogs#AnomalyId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID that CloudWatch Logs assigned to this anomaly.</p>",
            "smithy.api#required": {}
          }
        },
        "patternId": {
          "target": "com.amazonaws.cloudwatchlogs#PatternId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the pattern used to help identify this anomaly.</p>",
            "smithy.api#required": {}
          }
        },
        "anomalyDetectorArn": {
          "target": "com.amazonaws.cloudwatchlogs#AnomalyDetectorArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the anomaly detector that identified this anomaly.</p>",
            "smithy.api#required": {}
          }
        },
        "patternString": {
          "target": "com.amazonaws.cloudwatchlogs#PatternString",
          "traits": {
            "smithy.api#documentation": "<p>The pattern used to help identify this anomaly, in string format.</p>",
            "smithy.api#required": {}
          }
        },
        "patternRegex": {
          "target": "com.amazonaws.cloudwatchlogs#PatternRegex",
          "traits": {
            "smithy.api#documentation": "<p>The pattern used to help identify this anomaly, in regular expression format.</p>"
          }
        },
        "priority": {
          "target": "com.amazonaws.cloudwatchlogs#Priority",
          "traits": {
            "smithy.api#documentation": "<p>The priority level of this anomaly, as determined by CloudWatch Logs. Priority is\n      computed based on log severity labels such as <code>FATAL</code> and <code>ERROR</code> and\n      the amount of deviation from the baseline. Possible values are <code>HIGH</code>,\n        <code>MEDIUM</code>, and <code>LOW</code>.</p>"
          }
        },
        "firstSeen": {
          "target": "com.amazonaws.cloudwatchlogs#EpochMillis",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The date and time when the anomaly detector first saw this anomaly. It is specified as\n      epoch time, which is the number of seconds since <code>January 1, 1970, 00:00:00\n      UTC</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "lastSeen": {
          "target": "com.amazonaws.cloudwatchlogs#EpochMillis",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The date and time when the anomaly detector most recently saw this anomaly. It is\n      specified as epoch time, which is the number of seconds since <code>January 1, 1970, 00:00:00\n        UTC</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cloudwatchlogs#Description",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of the anomaly. This description is generated by CloudWatch Logs.</p>",
            "smithy.api#required": {}
          }
        },
        "active": {
          "target": "com.amazonaws.cloudwatchlogs#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this anomaly is still ongoing.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.cloudwatchlogs#State",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the current state of this anomaly. If it is still being treated as an anomaly,\n      the value is <code>Active</code>. If you have suppressed this anomaly by using the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_UpdateAnomaly.html\">UpdateAnomaly</a> operation, the value is <code>Suppressed</code>. If this behavior is\n      now considered to be normal, the value is <code>Baseline</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "histogram": {
          "target": "com.amazonaws.cloudwatchlogs#Histogram",
          "traits": {
            "smithy.api#documentation": "<p>A map showing times when the anomaly detector ran, and the number of occurrences of this\n      anomaly that were detected at each of those runs. The times are specified in epoch time, which\n      is the number of seconds since <code>January 1, 1970, 00:00:00 UTC</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "logSamples": {
          "target": "com.amazonaws.cloudwatchlogs#LogSamples",
          "traits": {
            "smithy.api#documentation": "<p>An array of sample log event messages that are considered to be part of this\n      anomaly.</p>",
            "smithy.api#required": {}
          }
        },
        "patternTokens": {
          "target": "com.amazonaws.cloudwatchlogs#PatternTokens",
          "traits": {
            "smithy.api#documentation": "<p>An array of structures where each structure contains information about one token that\n      makes up the pattern.</p>",
            "smithy.api#required": {}
          }
        },
        "logGroupArnList": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>An array of ARNS of the log groups that contained log events considered to be part of this\n      anomaly.</p>",
            "smithy.api#required": {}
          }
        },
        "suppressed": {
          "target": "com.amazonaws.cloudwatchlogs#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether this anomaly is currently suppressed. To suppress an anomaly, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_UpdateAnomaly.html\">UpdateAnomaly</a>.</p>"
          }
        },
        "suppressedDate": {
          "target": "com.amazonaws.cloudwatchlogs#EpochMillis",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>If the anomaly is suppressed, this indicates when it was suppressed.</p>"
          }
        },
        "suppressedUntil": {
          "target": "com.amazonaws.cloudwatchlogs#EpochMillis",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>If the anomaly is suppressed, this indicates when the suppression will end. If this value\n      is <code>0</code>, the anomaly was suppressed with no expiration, with the\n        <code>INFINITE</code> value.</p>"
          }
        },
        "isPatternLevelSuppression": {
          "target": "com.amazonaws.cloudwatchlogs#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>If this anomaly is suppressed, this field is <code>true</code> if the suppression is\n      because the pattern is suppressed. If <code>false</code>, then only this particular anomaly is\n      suppressed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure represents one anomaly that has been found by a logs anomaly\n      detector.</p>\n         <p>For more information about patterns and anomalies, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_CreateLogAnomalyDetector.html\">CreateLogAnomalyDetector</a>. </p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#AnomalyDetector": {
      "type": "structure",
      "members": {
        "anomalyDetectorArn": {
          "target": "com.amazonaws.cloudwatchlogs#AnomalyDetectorArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the anomaly detector.</p>"
          }
        },
        "detectorName": {
          "target": "com.amazonaws.cloudwatchlogs#DetectorName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the anomaly detector.</p>"
          }
        },
        "logGroupArnList": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the ARNs of the log groups that this anomaly detector watches.</p>"
          }
        },
        "evaluationFrequency": {
          "target": "com.amazonaws.cloudwatchlogs#EvaluationFrequency",
          "traits": {
            "smithy.api#documentation": "<p>Specifies how often the anomaly detector runs and look for anomalies.</p>"
          }
        },
        "filterPattern": {
          "target": "com.amazonaws.cloudwatchlogs#FilterPattern"
        },
        "anomalyDetectorStatus": {
          "target": "com.amazonaws.cloudwatchlogs#AnomalyDetectorStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the current status of the anomaly detector. To pause an anomaly detector, use\n      the <code>enabled</code> parameter in the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_UpdateLogAnomalyDetector.html\">UpdateLogAnomalyDetector</a> operation.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.cloudwatchlogs#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the KMS key assigned to this anomaly detector, if any.</p>"
          }
        },
        "creationTimeStamp": {
          "target": "com.amazonaws.cloudwatchlogs#EpochMillis",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The date and time when this anomaly detector was created.</p>"
          }
        },
        "lastModifiedTimeStamp": {
          "target": "com.amazonaws.cloudwatchlogs#EpochMillis",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The date and time when this anomaly detector was most recently modified.</p>"
          }
        },
        "anomalyVisibilityTime": {
          "target": "com.amazonaws.cloudwatchlogs#AnomalyVisibilityTime",
          "traits": {
            "smithy.api#documentation": "<p>The number of days used as the life cycle of anomalies. After this time, anomalies are\n      automatically baselined and the anomaly detector model will treat new occurrences of similar\n      event as normal. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about one anomaly detector in the account.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#AnomalyDetectorArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#pattern": "^[\\w#+=/:,.@-]*$"
      }
    },
    "com.amazonaws.cloudwatchlogs#AnomalyDetectorStatus": {
      "type": "enum",
      "members": {
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "TRAINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRAINING"
          }
        },
        "ANALYZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANALYZING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "PAUSED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAUSED"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#AnomalyDetectors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#AnomalyDetector"
      }
    },
    "com.amazonaws.cloudwatchlogs#AnomalyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#AnomalyVisibilityTime": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 7,
          "max": 90
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#ApplyOnTransformedLogs": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.cloudwatchlogs#Arn": {
      "type": "string"
    },
    "com.amazonaws.cloudwatchlogs#AssociateKmsKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#AssociateKmsKeyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified KMS key with either one log group in the\n      account, or with all stored CloudWatch Logs query insights results in the\n      account.</p>\n         <p>When you use <code>AssociateKmsKey</code>, you specify either the\n        <code>logGroupName</code> parameter or the <code>resourceIdentifier</code> parameter. You\n      can't specify both of those parameters in the same operation.</p>\n         <ul>\n            <li>\n               <p>Specify the <code>logGroupName</code> parameter to cause log events ingested into that\n          log group to be encrypted with that key. Only the log events ingested after the key is\n          associated are encrypted with that key.</p>\n               <p>Associating a KMS key with a log group overrides any existing\n          associations between the log group and a KMS key. After a KMS key is associated with a log group, all newly ingested data for the log group\n          is encrypted using the KMS key. This association is stored as long as the\n          data encrypted with the KMS key is still within CloudWatch Logs. This\n          enables CloudWatch Logs to decrypt this data whenever it is requested.</p>\n               <p>Associating a key with a log group does not cause the results of queries of that log\n          group to be encrypted with that key. To have query results encrypted with a KMS key, you must use an <code>AssociateKmsKey</code> operation with the\n            <code>resourceIdentifier</code> parameter that specifies a <code>query-result</code>\n          resource. </p>\n            </li>\n            <li>\n               <p>Specify the <code>resourceIdentifier</code> parameter with a <code>query-result</code>\n          resource, to use that key to encrypt the stored results of all future <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_StartQuery.html\">StartQuery</a> operations in the account. The response from a <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_GetQueryResults.html\">GetQueryResults</a> operation will still return the query results in plain\n          text.</p>\n               <p>Even if you have not associated a key with your query results, the query results are\n          encrypted when stored, using the default CloudWatch Logs method.</p>\n               <p>If you run a query from a monitoring account that queries logs in a source account,\n          the query results key from the monitoring account, if any, is used.</p>\n            </li>\n         </ul>\n         <important>\n            <p>If you delete the key that is used to encrypt log events or log group query results,\n        then all the associated stored log events or query results that were encrypted with that key\n        will be unencryptable and unusable.</p>\n         </important>\n         <note>\n            <p>CloudWatch Logs supports only symmetric KMS keys. Do not associate an\n        asymmetric KMS key with your log group or query results. For more\n        information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using Symmetric and Asymmetric\n          Keys</a>.</p>\n         </note>\n         <p>It can take up to 5 minutes for this operation to take effect.</p>\n         <p>If you attempt to associate a KMS key with a log group but the KMS key does not exist or the KMS key is disabled, you receive an\n        <code>InvalidParameterException</code> error. </p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#AssociateKmsKeyRequest": {
      "type": "structure",
      "members": {
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>\n         <p>In your <code>AssociateKmsKey</code> operation, you must specify either the\n        <code>resourceIdentifier</code> parameter or the <code>logGroup</code> parameter, but you\n      can't specify both.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.cloudwatchlogs#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key to use when encrypting log\n      data. This must be a symmetric KMS key. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource Names</a> and <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using Symmetric and Asymmetric\n        Keys</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceIdentifier": {
          "target": "com.amazonaws.cloudwatchlogs#ResourceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the target for this operation. You must specify one of the following:</p>\n         <ul>\n            <li>\n               <p>Specify the following ARN to have future <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_GetQueryResults.html\">GetQueryResults</a> operations in this account encrypt the results with the\n          specified KMS key. Replace <i>REGION</i> and\n            <i>ACCOUNT_ID</i> with your Region and account ID.</p>\n               <p>\n                  <code>arn:aws:logs:<i>REGION</i>:<i>ACCOUNT_ID</i>:query-result:*</code>\n               </p>\n            </li>\n            <li>\n               <p>Specify the ARN of a log group to have CloudWatch Logs use the KMS key to encrypt log events that are ingested and stored by that log\n          group. The log group ARN must be in the following format. Replace\n            <i>REGION</i> and <i>ACCOUNT_ID</i> with your Region and\n          account ID.</p>\n               <p>\n                  <code>arn:aws:logs:<i>REGION</i>:<i>ACCOUNT_ID</i>:log-group:<i>LOG_GROUP_NAME</i>\n                  </code>\n               </p>\n            </li>\n         </ul>\n         <p>In your <code>AssociateKmsKey</code> operation, you must specify either the\n        <code>resourceIdentifier</code> parameter or the <code>logGroup</code> parameter, but you\n      can't specify both.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#AssociateSourceToS3TableIntegration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#AssociateSourceToS3TableIntegrationRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#AssociateSourceToS3TableIntegrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#InternalServerException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a data source with an S3 Table Integration for query access in the 'logs'\n      namespace. This enables querying log data using analytics engines that support Iceberg such as\n      Amazon Athena, Amazon Redshift, and Apache Spark.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#AssociateSourceToS3TableIntegrationRequest": {
      "type": "structure",
      "members": {
        "integrationArn": {
          "target": "com.amazonaws.cloudwatchlogs#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the S3 Table Integration to associate the data source\n      with.</p>",
            "smithy.api#required": {}
          }
        },
        "dataSource": {
          "target": "com.amazonaws.cloudwatchlogs#DataSource",
          "traits": {
            "smithy.api#documentation": "<p>The data source to associate with the S3 Table Integration. Contains the name and type of\n      the data source.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#AssociateSourceToS3TableIntegrationResponse": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "com.amazonaws.cloudwatchlogs#S3TableIntegrationSourceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the association between the data source and S3 Table\n      Integration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#Baseline": {
      "type": "boolean"
    },
    "com.amazonaws.cloudwatchlogs#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.cloudwatchlogs#CSV": {
      "type": "structure",
      "members": {
        "quoteCharacter": {
          "target": "com.amazonaws.cloudwatchlogs#QuoteCharacter",
          "traits": {
            "smithy.api#documentation": "<p>The character used used as a text qualifier for a single column of data. If you omit this,\n      the double quotation mark <code>\"</code> character is used.</p>"
          }
        },
        "delimiter": {
          "target": "com.amazonaws.cloudwatchlogs#Delimiter",
          "traits": {
            "smithy.api#documentation": "<p>The character used to separate each column in the original comma-separated value log\n      event. If you omit this, the processor looks for the comma <code>,</code> character as the\n      delimiter.</p>"
          }
        },
        "columns": {
          "target": "com.amazonaws.cloudwatchlogs#Columns",
          "traits": {
            "smithy.api#documentation": "<p>An array of names to use for the columns in the transformed log event.</p>\n         <p>If you omit this, default column names (<code>[column_1, column_2 ...]</code>) are\n      used.</p>"
          }
        },
        "source": {
          "target": "com.amazonaws.cloudwatchlogs#Source",
          "traits": {
            "smithy.api#documentation": "<p>The path to the field in the log event that has the comma separated values to be parsed.\n      If you omit this value, the whole log message is processed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>CSV</code> processor parses comma-separated values (CSV) from the log events\n      into columns.</p>\n         <p>For more information about this processor including examples, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/CloudWatch-Logs-Transformation.html#CloudWatch-Logs-Transformation-csv\"> csv</a> in the <i>CloudWatch Logs User Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#CancelExportTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#CancelExportTaskRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the specified export task.</p>\n         <p>The task must be in the <code>PENDING</code> or <code>RUNNING</code> state.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#CancelExportTaskRequest": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "com.amazonaws.cloudwatchlogs#ExportTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the export task.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 128
        },
        "smithy.api#pattern": "^\\S{36,128}$"
      }
    },
    "com.amazonaws.cloudwatchlogs#CollectionRetentionDays": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 30
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#Column": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#Columns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#Column"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#ConfigurationTemplate": {
      "type": "structure",
      "members": {
        "service": {
          "target": "com.amazonaws.cloudwatchlogs#Service",
          "traits": {
            "smithy.api#documentation": "<p>A string specifying which service this configuration template applies to. For more\n      information about supported services see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/AWS-logs-and-resource-policy.html\">Enable logging from\n          Amazon Web Services services.</a>.</p>"
          }
        },
        "logType": {
          "target": "com.amazonaws.cloudwatchlogs#LogType",
          "traits": {
            "smithy.api#documentation": "<p>A string specifying which log type this configuration template applies to.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.cloudwatchlogs#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>A string specifying which resource type this configuration template applies to.</p>"
          }
        },
        "deliveryDestinationType": {
          "target": "com.amazonaws.cloudwatchlogs#DeliveryDestinationType",
          "traits": {
            "smithy.api#documentation": "<p>A string specifying which destination type this configuration template applies to.</p>"
          }
        },
        "defaultDeliveryConfigValues": {
          "target": "com.amazonaws.cloudwatchlogs#ConfigurationTemplateDeliveryConfigValues",
          "traits": {
            "smithy.api#documentation": "<p>A mapping that displays the default value of each property within a delivery's\n      configuration, if it is not specified in the request.</p>"
          }
        },
        "allowedFields": {
          "target": "com.amazonaws.cloudwatchlogs#AllowedFields",
          "traits": {
            "smithy.api#documentation": "<p>The allowed fields that a caller can use in the <code>recordFields</code> parameter of a\n        <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_CreateDelivery.html\">CreateDelivery</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_UpdateDeliveryConfiguration.html\">UpdateDeliveryConfiguration</a> operation.</p>"
          }
        },
        "allowedOutputFormats": {
          "target": "com.amazonaws.cloudwatchlogs#OutputFormats",
          "traits": {
            "smithy.api#documentation": "<p>The list of delivery destination output formats that are supported by this log\n      source.</p>"
          }
        },
        "allowedActionForAllowVendedLogsDeliveryForResource": {
          "target": "com.amazonaws.cloudwatchlogs#AllowedActionForAllowVendedLogsDeliveryForResource",
          "traits": {
            "smithy.api#documentation": "<p>The action permissions that a caller needs to have to be able to successfully create a\n      delivery source on the desired resource type when calling <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutDeliverySource.html\">PutDeliverySource</a>.</p>"
          }
        },
        "allowedFieldDelimiters": {
          "target": "com.amazonaws.cloudwatchlogs#AllowedFieldDelimiters",
          "traits": {
            "smithy.api#documentation": "<p>The valid values that a caller can use as field delimiters when calling <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_CreateDelivery.html\">CreateDelivery</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_UpdateDeliveryConfiguration.html\">UpdateDeliveryConfiguration</a> on a delivery that delivers in <code>Plain</code>,\n        <code>W3C</code>, or <code>Raw</code> format.</p>"
          }
        },
        "allowedSuffixPathFields": {
          "target": "com.amazonaws.cloudwatchlogs#RecordFields",
          "traits": {
            "smithy.api#documentation": "<p>The list of variable fields that can be used in the suffix path of a delivery that\n      delivers to an S3 bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing information about the deafult settings and available settings that\n      you can use to configure a <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_Delivery.html\">delivery</a> or a\n        <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DeliveryDestination.html\">delivery\n        destination</a>.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#ConfigurationTemplateDeliveryConfigValues": {
      "type": "structure",
      "members": {
        "recordFields": {
          "target": "com.amazonaws.cloudwatchlogs#RecordFields",
          "traits": {
            "smithy.api#documentation": "<p>The default record fields that will be delivered when a list of record fields is not\n      provided in a <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_CreateDelivery.html\">CreateDelivery</a> operation.</p>"
          }
        },
        "fieldDelimiter": {
          "target": "com.amazonaws.cloudwatchlogs#FieldDelimiter",
          "traits": {
            "smithy.api#documentation": "<p>The default field delimiter that is used in a <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_CreateDelivery.html\">CreateDelivery</a> operation when the field delimiter is not specified in that\n      operation. The field delimiter is used only when the final output delivery is in\n        <code>Plain</code>, <code>W3C</code>, or <code>Raw</code> format.</p>"
          }
        },
        "s3DeliveryConfiguration": {
          "target": "com.amazonaws.cloudwatchlogs#S3DeliveryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The delivery parameters that are used when you create a delivery to a delivery destination\n      that is an S3 Bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure contains the default values that are used for each configuration parameter\n      when you use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_CreateDelivery.html\">CreateDelivery</a> to create a deliver under the current service type, resource type,\n      and log type.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#ConfigurationTemplates": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#ConfigurationTemplate"
      }
    },
    "com.amazonaws.cloudwatchlogs#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.cloudwatchlogs#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This operation attempted to create a resource that already exists.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudwatchlogs#CopyValue": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.amazonaws.cloudwatchlogs#CopyValueEntries",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>CopyValueEntry</code> objects, where each object contains the\n      information about one field value to copy. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This processor copies values within a log event. You can also use this processor to add\n      metadata to log events by copying the values of the following metadata keys into the log\n      events: <code>@logGroupName</code>, <code>@logGroupStream</code>, <code>@accountId</code>,\n        <code>@regionName</code>. </p>\n         <p>For more information about this processor including examples, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/CloudWatch-Logs-Transformation.html#CloudWatch-Logs-Transformation-copyValue\"> copyValue</a> in the <i>CloudWatch Logs User Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#CopyValueEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#CopyValueEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#CopyValueEntry": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.amazonaws.cloudwatchlogs#Source",
          "traits": {
            "smithy.api#documentation": "<p>The key to copy.</p>",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.amazonaws.cloudwatchlogs#Target",
          "traits": {
            "smithy.api#documentation": "<p>The key of the field to copy the value to.</p>",
            "smithy.api#required": {}
          }
        },
        "overwriteIfExists": {
          "target": "com.amazonaws.cloudwatchlogs#OverwriteIfExists",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Specifies whether to overwrite the value if the destination key already exists. If you\n      omit this, the default is <code>false</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This object defines one value to be copied with the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/CloudWatch-Logs-Transformation.html#CloudWatch-Logs-Transformation-copoyValue\"> copyValue</a> processor.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#Count": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateDelivery": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#CreateDeliveryRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#CreateDeliveryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ConflictException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <i>delivery</i>. A delivery is a connection between a logical\n        <i>delivery source</i> and a logical <i>delivery destination</i>\n      that you have already created.</p>\n         <p>Only some Amazon Web Services services support being configured as a delivery source using\n      this operation. These services are listed as <b>Supported [V2\n        Permissions]</b> in the table at <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/AWS-logs-and-resource-policy.html\">Enabling logging from\n          Amazon Web Services services.</a>\n         </p>\n         <p>A delivery destination can represent a log group in CloudWatch Logs, an Amazon S3 bucket, a delivery stream in Firehose, or X-Ray.</p>\n         <p>To configure logs delivery between a supported Amazon Web Services service and a\n      destination, you must do the following:</p>\n         <ul>\n            <li>\n               <p>Create a delivery source, which is a logical object that represents the resource that\n          is actually sending the logs. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutDeliverySource.html\">PutDeliverySource</a>.</p>\n            </li>\n            <li>\n               <p>Create a <i>delivery destination</i>, which is a logical object that\n          represents the actual delivery destination. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutDeliveryDestination.html\">PutDeliveryDestination</a>.</p>\n            </li>\n            <li>\n               <p>If you are delivering logs cross-account, you must use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutDeliveryDestinationPolicy.html\">PutDeliveryDestinationPolicy</a> in the destination account to assign an IAM policy to the destination. This policy allows delivery to that destination.\n        </p>\n            </li>\n            <li>\n               <p>Use <code>CreateDelivery</code> to create a <i>delivery</i> by pairing\n          exactly one delivery source and one delivery destination. </p>\n            </li>\n         </ul>\n         <p>You can configure a single delivery source to send logs to multiple destinations by\n      creating multiple deliveries. You can also create multiple deliveries to configure multiple\n      delivery sources to send logs to the same delivery destination.</p>\n         <p>To update an existing delivery configuration, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_UpdateDeliveryConfiguration.html\">UpdateDeliveryConfiguration</a>.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateDeliveryRequest": {
      "type": "structure",
      "members": {
        "deliverySourceName": {
          "target": "com.amazonaws.cloudwatchlogs#DeliverySourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the delivery source to use for this delivery.</p>",
            "smithy.api#required": {}
          }
        },
        "deliveryDestinationArn": {
          "target": "com.amazonaws.cloudwatchlogs#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the delivery destination to use for this delivery.</p>",
            "smithy.api#required": {}
          }
        },
        "recordFields": {
          "target": "com.amazonaws.cloudwatchlogs#RecordFields",
          "traits": {
            "smithy.api#documentation": "<p>The list of record fields to be delivered to the destination, in order. If the delivery's\n      log source has mandatory fields, they must be included in this list.</p>"
          }
        },
        "fieldDelimiter": {
          "target": "com.amazonaws.cloudwatchlogs#FieldDelimiter",
          "traits": {
            "smithy.api#documentation": "<p>The field delimiter to use between record fields when the final output format of a\n      delivery is in <code>Plain</code>, <code>W3C</code>, or <code>Raw</code> format.</p>"
          }
        },
        "s3DeliveryConfiguration": {
          "target": "com.amazonaws.cloudwatchlogs#S3DeliveryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>This structure contains parameters that are valid only when the delivery's delivery\n      destination is an S3 bucket.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.cloudwatchlogs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of key-value pairs to associate with the resource.</p>\n         <p>For more information about tagging, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateDeliveryResponse": {
      "type": "structure",
      "members": {
        "delivery": {
          "target": "com.amazonaws.cloudwatchlogs#Delivery",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains information about the delivery that you just created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateExportTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#CreateExportTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#CreateExportTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an export task so that you can efficiently export data from a log group to an\n      Amazon S3 bucket. When you perform a <code>CreateExportTask</code> operation, you must use\n      credentials that have permission to write to the S3 bucket that you specify as the\n      destination.</p>\n         <p>Exporting log data to S3 buckets that are encrypted by KMS is supported.\n      Exporting log data to Amazon S3 buckets that have S3 Object Lock enabled with a\n      retention period is also supported.</p>\n         <p>Exporting to S3 buckets that are encrypted with AES-256 is supported. </p>\n         <p>This is an asynchronous call. If all the required information is provided, this\n      operation initiates an export task and responds with the ID of the task. After the task has\n      started, you can use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DescribeExportTasks.html\">DescribeExportTasks</a> to get the status of the export task. Each account can only\n      have one active (<code>RUNNING</code> or <code>PENDING</code>) export task at a time. To\n      cancel an export task, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_CancelExportTask.html\">CancelExportTask</a>.</p>\n         <p>You can export logs from multiple log groups or multiple time ranges to the same S3\n      bucket. To separate log data for each export task, specify a prefix to be used as the Amazon\n      S3 key prefix for all exported objects.</p>\n         <note>\n            <p>We recommend that you don't regularly export to Amazon S3 as a way to\n        continuously archive your logs. For that use case, we instead recommend that you use\n        subscriptions. For more information about subscriptions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Subscriptions.html\">Real-time processing of log data\n          with subscriptions</a>.</p>\n         </note>\n         <note>\n            <p>Time-based sorting on chunks of log data inside an exported file is not guaranteed. You\n        can sort the exported log field data by using Linux utilities.</p>\n         </note>"
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateExportTaskRequest": {
      "type": "structure",
      "members": {
        "taskName": {
          "target": "com.amazonaws.cloudwatchlogs#ExportTaskName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the export task.</p>"
          }
        },
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>",
            "smithy.api#required": {}
          }
        },
        "logStreamNamePrefix": {
          "target": "com.amazonaws.cloudwatchlogs#LogStreamName",
          "traits": {
            "smithy.api#documentation": "<p>Export only log streams that match the provided prefix. If you don't specify a value,\n      no prefix filter is applied.</p>"
          }
        },
        "from": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the range for the request, expressed as the number of milliseconds\n      after <code>Jan 1, 1970 00:00:00 UTC</code>. Events with a timestamp earlier than this time\n      are not exported.</p>",
            "smithy.api#required": {}
          }
        },
        "to": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time of the range for the request, expressed as the number of milliseconds\n      after <code>Jan 1, 1970 00:00:00 UTC</code>. Events with a timestamp later than this time are\n      not exported.</p>\n         <p>You must specify a time that is not earlier than when this log group was created.</p>",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.amazonaws.cloudwatchlogs#ExportDestinationBucket",
          "traits": {
            "smithy.api#documentation": "<p>The name of S3 bucket for the exported log data. The bucket must be in the same Amazon Web Services Region.</p>",
            "smithy.api#required": {}
          }
        },
        "destinationPrefix": {
          "target": "com.amazonaws.cloudwatchlogs#ExportDestinationPrefix",
          "traits": {
            "smithy.api#documentation": "<p>The prefix used as the start of the key for every object exported. If you don't specify\n      a value, the default is <code>exportedlogs</code>.</p>\n         <p>The length of this parameter must comply with the S3 object key name length limits. The\n      object key name is a sequence of Unicode characters with UTF-8 encoding, and can be up to\n      1,024 bytes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateExportTaskResponse": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "com.amazonaws.cloudwatchlogs#ExportTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the export task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateLogAnomalyDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#CreateLogAnomalyDetectorRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#CreateLogAnomalyDetectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an <i>anomaly detector</i> that regularly scans one or more log\n      groups and look for patterns and anomalies in the logs.</p>\n         <p>An anomaly detector can help surface issues by automatically discovering anomalies in your\n      log event traffic. An anomaly detector uses machine learning algorithms to scan log events and\n      find <i>patterns</i>. A pattern is a shared text structure that recurs among\n      your log fields. Patterns provide a useful tool for analyzing large sets of logs because a\n      large number of log events can often be compressed into a few patterns.</p>\n         <p>The anomaly detector uses pattern recognition to find <code>anomalies</code>, which are\n      unusual log events. It uses the <code>evaluationFrequency</code> to compare current log events\n      and patterns with trained baselines. </p>\n         <p>Fields within a pattern are called <i>tokens</i>. Fields that vary within a\n      pattern, such as a request ID or timestamp, are referred to as <i>dynamic\n        tokens</i> and represented by <code><*></code>. </p>\n         <p>The following is an example of a pattern:</p>\n         <p>\n            <code>[INFO] Request time: <*> ms</code>\n         </p>\n         <p>This pattern represents log events like <code>[INFO] Request time: 327 ms</code> and other\n      similar log events that differ only by the number, in this csse 327. When the pattern is\n      displayed, the different numbers are replaced by <code><*></code>\n         </p>\n         <note>\n            <p>Any parts of log events that are masked as sensitive data are not scanned for anomalies.\n        For more information about masking sensitive data, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/mask-sensitive-log-data.html\">Help protect sensitive log\n          data with masking</a>. </p>\n         </note>"
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateLogAnomalyDetectorRequest": {
      "type": "structure",
      "members": {
        "logGroupArnList": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupArnList",
          "traits": {
            "smithy.api#documentation": "<p>An array containing the ARN of the log group that this anomaly detector will watch. You\n      can specify only one log group ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "detectorName": {
          "target": "com.amazonaws.cloudwatchlogs#DetectorName",
          "traits": {
            "smithy.api#documentation": "<p>A name for this anomaly detector.</p>"
          }
        },
        "evaluationFrequency": {
          "target": "com.amazonaws.cloudwatchlogs#EvaluationFrequency",
          "traits": {
            "smithy.api#documentation": "<p>Specifies how often the anomaly detector is to run and look for anomalies. Set this value\n      according to the frequency that the log group receives new logs. For example, if the log group\n      receives new log events every 10 minutes, then 15 minutes might be a good setting for\n        <code>evaluationFrequency</code> .</p>"
          }
        },
        "filterPattern": {
          "target": "com.amazonaws.cloudwatchlogs#FilterPattern",
          "traits": {
            "smithy.api#documentation": "<p>You can use this parameter to limit the anomaly detection model to examine only log events\n      that match the pattern you specify here. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/FilterAndPatternSyntax.html\">Filter and Pattern\n        Syntax</a>.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.cloudwatchlogs#DetectorKmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>Optionally assigns a KMS key to secure this anomaly detector and its\n      findings. If a key is assigned, the anomalies found and the model used by this detector are\n      encrypted at rest with the key. If a key is assigned to an anomaly detector, a user must have\n      permissions for both this key and for the anomaly detector to retrieve information about the\n      anomalies that it finds.</p>\n         <p> Make sure the value provided is a valid KMS key ARN. For more information\n      about using a KMS key and to see the required IAM policy, see\n        <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/LogsAnomalyDetection-KMS.html\">Use a KMS key with an anomaly detector</a>.</p>"
          }
        },
        "anomalyVisibilityTime": {
          "target": "com.amazonaws.cloudwatchlogs#AnomalyVisibilityTime",
          "traits": {
            "smithy.api#documentation": "<p>The number of days to have visibility on an anomaly. After this time period has elapsed\n      for an anomaly, it will be automatically baselined and the anomaly detector will treat new\n      occurrences of a similar anomaly as normal. Therefore, if you do not correct the cause of an\n      anomaly during the time period specified in <code>anomalyVisibilityTime</code>, it will be\n      considered normal going forward and will not be detected as an anomaly.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.cloudwatchlogs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of key-value pairs to associate with the resource.</p>\n         <p>For more information about tagging, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateLogAnomalyDetectorResponse": {
      "type": "structure",
      "members": {
        "anomalyDetectorArn": {
          "target": "com.amazonaws.cloudwatchlogs#AnomalyDetectorArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the log anomaly detector that you just created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateLogGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#CreateLogGroupRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#LimitExceededException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a log group with the specified name. You can create up to 1,000,000 log groups\n      per Region per account.</p>\n         <p>You must use the following guidelines when naming a log group:</p>\n         <ul>\n            <li>\n               <p>Log group names must be unique within a Region for an Amazon Web Services\n          account.</p>\n            </li>\n            <li>\n               <p>Log group names can be between 1 and 512 characters long.</p>\n            </li>\n            <li>\n               <p>Log group names consist of the following characters: a-z, A-Z, 0-9, '_'\n          (underscore), '-' (hyphen), '/' (forward slash), '.' (period), and '#' (number\n          sign)</p>\n            </li>\n            <li>\n               <p>Log group names can't start with the string <code>aws/</code>\n               </p>\n            </li>\n         </ul>\n         <p>When you create a log group, by default the log events in the log group do not expire.\n      To set a retention policy so that events expire and are deleted after a specified time, use\n        <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutRetentionPolicy.html\">PutRetentionPolicy</a>.</p>\n         <p>If you associate an KMS key with the log group, ingested data is\n      encrypted using the KMS key. This association is stored as long as the data\n      encrypted with the KMS key is still within CloudWatch Logs. This enables\n        CloudWatch Logs to decrypt this data whenever it is requested.</p>\n         <p>If you attempt to associate a KMS key with the log group but the KMS key does not exist or the KMS key is disabled, you receive an\n        <code>InvalidParameterException</code> error. </p>\n         <important>\n            <p>CloudWatch Logs supports only symmetric KMS keys. Do not associate an\n        asymmetric KMS key with your log group. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using\n          Symmetric and Asymmetric Keys</a>.</p>\n         </important>"
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateLogGroupRequest": {
      "type": "structure",
      "members": {
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the log group.</p>",
            "smithy.api#required": {}
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.cloudwatchlogs#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key to use when encrypting log\n      data. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">Amazon Resource\n        Names</a>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.cloudwatchlogs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pairs to use for the tags.</p>\n         <p>You can grant users access to certain log groups while preventing them from accessing\n      other log groups. To do so, tag your groups and use IAM policies that refer to\n      those tags. To assign tags when you create a log group, you must have either the\n        <code>logs:TagResource</code> or <code>logs:TagLogGroup</code> permission. For more\n      information about tagging, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a>. For\n      more information about using tags to control access, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_tags.html\">Controlling access to Amazon Web Services\n        resources using tags</a>.</p>"
          }
        },
        "logGroupClass": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupClass",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter to specify the log group class for this log group. There are three\n      classes:</p>\n         <ul>\n            <li>\n               <p>The <code>Standard</code> log class supports all CloudWatch Logs features.</p>\n            </li>\n            <li>\n               <p>The <code>Infrequent Access</code> log class supports a subset of CloudWatch Logs\n          features and incurs lower costs.</p>\n            </li>\n            <li>\n               <p>Use the <code>Delivery</code> log class only for delivering Lambda\n          logs to store in Amazon S3 or Amazon Data Firehose. Log events in log groups in\n          the Delivery class are kept in CloudWatch Logs for only one day. This log class doesn't\n          offer rich CloudWatch Logs capabilities such as CloudWatch Logs Insights\n          queries.</p>\n            </li>\n         </ul>\n         <p>If you omit this parameter, the default of <code>STANDARD</code> is used.</p>\n         <important>\n            <p>The value of <code>logGroupClass</code> can't be changed after a log group is\n        created.</p>\n         </important>\n         <p>For details about the features supported by each class, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/CloudWatch_Logs_Log_Classes.html\">Log classes</a>\n         </p>"
          }
        },
        "deletionProtectionEnabled": {
          "target": "com.amazonaws.cloudwatchlogs#DeletionProtectionEnabled",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter to enable deletion protection for the new log group. When enabled on a log group, deletion protection blocks all\n      deletion operations until it is explicitly disabled. By default log groups are created without deletion protection enabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateLogStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#CreateLogStreamRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a log stream for the specified log group. A log stream is a sequence of log\n      events that originate from a single source, such as an application instance or a resource that\n      is being monitored.</p>\n         <p>There is no limit on the number of log streams that you can create for a log group.\n      There is a limit of 50 TPS on <code>CreateLogStream</code> operations, after which\n      transactions are throttled.</p>\n         <p>You must use the following guidelines when naming a log stream:</p>\n         <ul>\n            <li>\n               <p>Log stream names must be unique within the log group.</p>\n            </li>\n            <li>\n               <p>Log stream names can be between 1 and 512 characters long.</p>\n            </li>\n            <li>\n               <p>Don't use ':' (colon) or '*' (asterisk) characters.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateLogStreamRequest": {
      "type": "structure",
      "members": {
        "logGroupName": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log group.</p>",
            "smithy.api#required": {}
          }
        },
        "logStreamName": {
          "target": "com.amazonaws.cloudwatchlogs#LogStreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the log stream.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateScheduledQuery": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#CreateScheduledQueryRequest"
      },
      "output": {
        "target": "com.amazonaws.cloudwatchlogs#CreateScheduledQueryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ConflictException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#InternalServerException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a scheduled query that runs CloudWatch Logs Insights queries at regular intervals. Scheduled queries enable proactive monitoring by automatically executing queries to detect patterns and anomalies in your log data. Query results can be delivered to Amazon S3 for analysis or further processing.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateScheduledQueryRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.cloudwatchlogs#ScheduledQueryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the scheduled query. The name must be unique within your account and region. Valid characters are alphanumeric characters, hyphens, underscores, and periods. Length must be between 1 and 255 characters.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.cloudwatchlogs#ScheduledQueryDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the scheduled query to help identify its purpose and functionality.</p>"
          }
        },
        "queryLanguage": {
          "target": "com.amazonaws.cloudwatchlogs#QueryLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The query language to use for the scheduled query. Valid values are <code>LogsQL</code>, <code>PPL</code>, and <code>SQL</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "queryString": {
          "target": "com.amazonaws.cloudwatchlogs#QueryString",
          "traits": {
            "smithy.api#documentation": "<p>The query string to execute. This is the same query syntax used in CloudWatch Logs Insights. Maximum length is 10,000 characters.</p>",
            "smithy.api#required": {}
          }
        },
        "logGroupIdentifiers": {
          "target": "com.amazonaws.cloudwatchlogs#ScheduledQueryLogGroupIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>An array of log group names or ARNs to query. You can specify between 1 and 50 log groups. Log groups can be identified by name or full ARN.</p>"
          }
        },
        "scheduleExpression": {
          "target": "com.amazonaws.cloudwatchlogs#ScheduleExpression",
          "traits": {
            "smithy.api#documentation": "<p>A cron expression that defines when the scheduled query runs. The expression uses standard cron syntax and supports minute-level precision. Maximum length is 256 characters.</p>",
            "smithy.api#required": {}
          }
        },
        "timezone": {
          "target": "com.amazonaws.cloudwatchlogs#ScheduleTimezone",
          "traits": {
            "smithy.api#documentation": "<p>The timezone for evaluating the schedule expression. This determines when the scheduled query executes relative to the specified timezone.</p>"
          }
        },
        "startTimeOffset": {
          "target": "com.amazonaws.cloudwatchlogs#StartTimeOffset",
          "traits": {
            "smithy.api#documentation": "<p>The time offset in seconds that defines the lookback period for the query. This determines how far back in time the query searches from the execution time.</p>"
          }
        },
        "destinationConfiguration": {
          "target": "com.amazonaws.cloudwatchlogs#DestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration for where to deliver query results. Currently supports Amazon S3 destinations for storing query output.</p>"
          }
        },
        "scheduleStartTime": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time for the scheduled query in Unix epoch format. The query will not execute before this time.</p>"
          }
        },
        "scheduleEndTime": {
          "target": "com.amazonaws.cloudwatchlogs#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time for the scheduled query in Unix epoch format. The query will stop executing after this time.</p>"
          }
        },
        "executionRoleArn": {
          "target": "com.amazonaws.cloudwatchlogs#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that grants permissions to execute the query and deliver results to the specified destination. The role must have permissions to read from the specified log groups and write to the destination.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.cloudwatchlogs#ScheduledQueryState",
          "traits": {
            "smithy.api#documentation": "<p>The initial state of the scheduled query. Valid values are <code>ENABLED</code> and <code>DISABLED</code>. Default is <code>ENABLED</code>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.cloudwatchlogs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs to associate with the scheduled query for resource management and cost allocation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#CreateScheduledQueryResponse": {
      "type": "structure",
      "members": {
        "scheduledQueryArn": {
          "target": "com.amazonaws.cloudwatchlogs#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the created scheduled query.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.cloudwatchlogs#ScheduledQueryState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the scheduled query.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#DashboardViewerPrincipals": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#Arn"
      }
    },
    "com.amazonaws.cloudwatchlogs#Data": {
      "type": "blob"
    },
    "com.amazonaws.cloudwatchlogs#DataAlreadyAcceptedException": {
      "type": "structure",
      "members": {
        "expectedSequenceToken": {
          "target": "com.amazonaws.cloudwatchlogs#SequenceToken"
        },
        "message": {
          "target": "com.amazonaws.cloudwatchlogs#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The event was already logged.</p>\n         <important>\n            <p>\n               <code>PutLogEvents</code> actions are now always accepted and never return\n          <code>DataAlreadyAcceptedException</code> regardless of whether a given batch of log\n        events has already been accepted. </p>\n         </important>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.cloudwatchlogs#DataProtectionPolicyDocument": {
      "type": "string"
    },
    "com.amazonaws.cloudwatchlogs#DataProtectionStatus": {
      "type": "enum",
      "members": {
        "ACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVATED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        },
        "ARCHIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARCHIVED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DataSource": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.cloudwatchlogs#DataSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.cloudwatchlogs#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a data source that categorizes logs by originating service and log type,\n      providing service-based organization complementing traditional log groups.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DataSourceFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.cloudwatchlogs#DataSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name pattern to filter data sources by.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.cloudwatchlogs#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type pattern to filter data sources by.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filter criteria for data sources, used to specify which data sources to include in\n      operations based on name and type.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DataSourceFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.cloudwatchlogs#DataSourceFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.cloudwatchlogs#DataSourceName": {
      "type": "string"
    },
    "com.amazonaws.cloudwatchlogs#DataSourceType": {
      "type": "string"
    },
    "com.amazonaws.cloudwatchlogs#DataType": {
      "type": "string"
    },
    "com.amazonaws.cloudwatchlogs#DateTimeConverter": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.amazonaws.cloudwatchlogs#Source",
          "traits": {
            "smithy.api#documentation": "<p>The key to apply the date conversion to.</p>",
            "smithy.api#required": {}
          }
        },
        "target": {
          "target": "com.amazonaws.cloudwatchlogs#Target",
          "traits": {
            "smithy.api#documentation": "<p>The JSON field to store the result in.</p>",
            "smithy.api#required": {}
          }
        },
        "targetFormat": {
          "target": "com.amazonaws.cloudwatchlogs#TargetFormat",
          "traits": {
            "smithy.api#documentation": "<p>The datetime format to use for the converted data in the target field.</p>\n         <p>If you omit this, the default of <code> yyyy-MM-dd'T'HH:mm:ss.SSS'Z</code> is used.</p>"
          }
        },
        "matchPatterns": {
          "target": "com.amazonaws.cloudwatchlogs#MatchPatterns",
          "traits": {
            "smithy.api#documentation": "<p>A list of patterns to match against the <code>source</code> field.</p>",
            "smithy.api#required": {}
          }
        },
        "sourceTimezone": {
          "target": "com.amazonaws.cloudwatchlogs#SourceTimezone",
          "traits": {
            "smithy.api#documentation": "<p>The time zone of the source field. If you omit this, the default used is the UTC\n      zone.</p>"
          }
        },
        "targetTimezone": {
          "target": "com.amazonaws.cloudwatchlogs#TargetTimezone",
          "traits": {
            "smithy.api#documentation": "<p>The time zone of the target field. If you omit this, the default used is the UTC\n      zone.</p>"
          }
        },
        "locale": {
          "target": "com.amazonaws.cloudwatchlogs#Locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale of the source field. If you omit this, the default of <code>locale.ROOT</code>\n      is used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This processor converts a datetime string into a format that you specify. </p>\n         <p>For more information about this processor including examples, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/CloudWatch-Logs-Transformation.html#CloudWatch-Logs-Transformation-datetimeConverter\"> datetimeConverter</a> in the <i>CloudWatch Logs User\n      Guide</i>.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#Days": {
      "type": "integer",
      "traits": {
        "smithy.api#documentation": "<p>The number of days to retain the log events in the specified log group. Possible values\n      are: 1, 3, 5, 7, 14, 30, 60, 90, 120, 150, 180, 365, 400, 545, 731, 1096, 1827, 2192, 2557,\n      2922, 3288, and 3653.</p>\n         <p>To set a log group so that its log events do not expire, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DeleteRetentionPolicy.html\">DeleteRetentionPolicy</a>. </p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DefaultValue": {
      "type": "double"
    },
    "com.amazonaws.cloudwatchlogs#DeleteAccountPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DeleteAccountPolicyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a CloudWatch Logs account policy. This stops the\n      account-wide policy from applying to log groups or data sources in the account. If you delete\n      a data protection policy or subscription filter policy, any log-group level policies of those\n      types remain in effect. This operation supports deletion of data source-based field index\n      policies, including facet configurations, in addition to log group-based policies.</p>\n         <p>To use this operation, you must be signed on with the correct permissions depending on the\n      type of policy that you are deleting.</p>\n         <ul>\n            <li>\n               <p>To delete a data protection policy, you must have the\n            <code>logs:DeleteDataProtectionPolicy</code> and <code>logs:DeleteAccountPolicy</code>\n          permissions.</p>\n            </li>\n            <li>\n               <p>To delete a subscription filter policy, you must have the\n            <code>logs:DeleteSubscriptionFilter</code> and <code>logs:DeleteAccountPolicy</code>\n          permissions.</p>\n            </li>\n            <li>\n               <p>To delete a transformer policy, you must have the <code>logs:DeleteTransformer</code>\n          and <code>logs:DeleteAccountPolicy</code> permissions.</p>\n            </li>\n            <li>\n               <p>To delete a field index policy, you must have the <code>logs:DeleteIndexPolicy</code>\n          and <code>logs:DeleteAccountPolicy</code> permissions.</p>\n               <p>If you delete a field index policy that included facet configurations, those\n          facets will no longer be available for interactive exploration in the CloudWatch Logs\n          Insights console. However, facet data is retained for up to 30 days.</p>\n            </li>\n         </ul>\n         <p>If you delete a field index policy, the indexing of the log events that happened before\n      you deleted the policy will still be used for up to 30 days to improve CloudWatch Logs\n      Insights queries.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteAccountPolicyRequest": {
      "type": "structure",
      "members": {
        "policyName": {
          "target": "com.amazonaws.cloudwatchlogs#PolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the policy to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "policyType": {
          "target": "com.amazonaws.cloudwatchlogs#PolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of policy to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteDataProtectionPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DeleteDataProtectionPolicyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#OperationAbortedException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the data protection policy from the specified log group. </p>\n         <p>For more information about data protection policies, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutDataProtectionPolicy.html\">PutDataProtectionPolicy</a>.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteDataProtectionPolicyRequest": {
      "type": "structure",
      "members": {
        "logGroupIdentifier": {
          "target": "com.amazonaws.cloudwatchlogs#LogGroupIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the log group that you want to delete the data protection policy\n      for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteDelivery": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DeleteDeliveryRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#ConflictException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a <i>delivery</i>. A delivery is a connection between a logical\n        <i>delivery source</i> and a logical <i>delivery\n      destination</i>. Deleting a delivery only deletes the connection between the delivery\n      source and delivery destination. It does not delete the delivery destination or the delivery\n      source.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteDeliveryDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DeleteDeliveryDestinationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#ConflictException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a <i>delivery destination</i>. A delivery is a connection between a\n      logical <i>delivery source</i> and a logical <i>delivery\n        destination</i>.</p>\n         <p>You can't delete a delivery destination if any current deliveries are associated with it.\n      To find whether any deliveries are associated with this delivery destination, use the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DescribeDeliveries.html\">DescribeDeliveries</a> operation and check the <code>deliveryDestinationArn</code>\n      field in the results.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteDeliveryDestinationPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DeleteDeliveryDestinationPolicyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#ConflictException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a delivery destination policy. For more information about these policies, see\n        <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_PutDeliveryDestinationPolicy.html\">PutDeliveryDestinationPolicy</a>.</p>"
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteDeliveryDestinationPolicyRequest": {
      "type": "structure",
      "members": {
        "deliveryDestinationName": {
          "target": "com.amazonaws.cloudwatchlogs#DeliveryDestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the delivery destination that you want to delete the policy for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteDeliveryDestinationRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.cloudwatchlogs#DeliveryDestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the delivery destination that you want to delete. You can find a list of\n      delivery destination names by using the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DescribeDeliveryDestinations.html\">DescribeDeliveryDestinations</a> operation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteDeliveryRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.cloudwatchlogs#DeliveryId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the delivery to delete. You can find the ID of a delivery with the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatchLogs/latest/APIReference/API_DescribeDeliveries.html\">DescribeDeliveries</a> operation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.cloudwatchlogs#DeleteDeliverySource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.cloudwatchlogs#DeleteDeliverySourceRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.cloudwatchlogs#ConflictException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.cloudwatchlogs#ServiceQuotaExceededException"
[...]
