{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.codepipeline#AWSRegionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 30
        }
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#AWSSessionCredentials": {
      "type": "structure",
      "members": {
        "accessKeyId": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#AccessKeyId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The access key for the session.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "secretAccessKey": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#SecretAccessKey",
          "traits": {
            "smithy.api#documentation": "\n        <p>The secret access key for the session.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "sessionToken": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#SessionToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>The token for the session.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents an AWS session credentials object. These credentials are temporary\n            credentials that are issued by AWS Secure Token Service (STS). They can be used to\n            access input and output artifacts in the Amazon S3 bucket used to store artifact for the\n            pipeline in AWS CodePipeline.</p>\n      ",
        "smithy.api#sensitive": true
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#AccessKeyId": {
      "type": "string"
    },
    "com.amazonaws.codepipeline.common.frontend.service#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[0-9]{12}"
      }
    },
    "com.amazonaws.codepipeline#AcknowledgeJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codepipeline#AcknowledgeJobInput"
      },
      "output": {
        "target": "com.amazonaws.codepipeline#AcknowledgeJobOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codepipeline.common.frontend.service#InvalidNonceException"
        },
        {
          "target": "com.amazonaws.codepipeline.common.frontend.service#JobNotFoundException"
        },
        {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Returns information about a specified job and whether that job has been received by\n            the job worker. Used for custom actions only.</p>\n        \n      "
      }
    },
    "com.amazonaws.codepipeline#AcknowledgeJobInput": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#JobId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The unique system-generated ID of the job for which you want to confirm\n            receipt.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "nonce": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#Nonce",
          "traits": {
            "smithy.api#documentation": "\n        <p>A system-generated random number that AWS CodePipeline uses to ensure that the job\n            is being worked on by only one job worker. Get this number from the response of the\n                <a>PollForJobs</a> request that returned this job.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the input of an AcknowledgeJob action.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#AcknowledgeJobOutput": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#JobStatus",
          "traits": {
            "smithy.api#documentation": "\n        <p>Whether the job worker has received the specified job.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the output of an AcknowledgeJob action.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#AcknowledgeThirdPartyJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codepipeline#AcknowledgeThirdPartyJobInput"
      },
      "output": {
        "target": "com.amazonaws.codepipeline#AcknowledgeThirdPartyJobOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codepipeline#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.codepipeline.common.frontend.service#InvalidNonceException"
        },
        {
          "target": "com.amazonaws.codepipeline.common.frontend.service#JobNotFoundException"
        },
        {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Confirms a job worker has received the specified job. Used for partner\n            actions only.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#AcknowledgeThirdPartyJobInput": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.codepipeline#ClientToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>The clientToken portion of the clientId and clientToken pair used to verify that\n            the calling entity is allowed access to the job and its details.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "jobId": {
          "target": "com.amazonaws.codepipeline#ThirdPartyJobId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The unique system-generated ID of the job.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "nonce": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#Nonce",
          "traits": {
            "smithy.api#documentation": "\n        <p>A system-generated random number that AWS CodePipeline uses to ensure that the job\n            is being worked on by only one job worker. Get this number from the response to a <a>GetThirdPartyJobDetails</a> request.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the input of an AcknowledgeThirdPartyJob action.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#AcknowledgeThirdPartyJobOutput": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#JobStatus",
          "traits": {
            "smithy.api#documentation": "\n        <p>The status information for the third party job, if any.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the output of an AcknowledgeThirdPartyJob action.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ActionCategory": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "Source": {
            "name": "Source"
          },
          "Build": {
            "name": "Build"
          },
          "Deploy": {
            "name": "Deploy"
          },
          "Test": {
            "name": "Test"
          },
          "Invoke": {
            "name": "Invoke"
          },
          "Approval": {
            "name": "Approval"
          }
        }
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ActionConfiguration": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionConfigurationMap",
          "traits": {
            "smithy.api#documentation": "\n        <p>The configuration data for the action.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents information about an action configuration.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ActionConfigurationKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ActionConfigurationMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.codepipeline.common.frontend.service#ActionConfigurationKey"
      },
      "value": {
        "target": "com.amazonaws.codepipeline.common.frontend.service#ActionConfigurationValue"
      }
    },
    "com.amazonaws.codepipeline#ActionConfigurationProperty": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.codepipeline#Description",
          "traits": {
            "smithy.api#documentation": "\n        <p>The description of the action configuration property that is displayed to\n            users.</p>\n      "
          }
        },
        "key": {
          "target": "com.amazonaws.codepipeline#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>Whether the configuration property is a key.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "name": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionConfigurationKey",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the action configuration property.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "queryable": {
          "target": "com.amazonaws.codepipeline#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>Indicates that the property is used with\n                <code>PollForJobs</code>. When creating a custom action, an action can have up to\n            one queryable property. If it has one, that property must be both required and not\n            secret.</p>\n        <p>If you create a pipeline with a custom action type, and that custom action contains\n            a queryable property, the value for that configuration property is subject to other\n            restrictions. The value must be less than or equal to twenty (20) characters. The value\n            can contain only alphanumeric characters, underscores, and hyphens.</p>\n      "
          }
        },
        "required": {
          "target": "com.amazonaws.codepipeline#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>Whether the configuration property is a required value.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "secret": {
          "target": "com.amazonaws.codepipeline#Boolean",
          "traits": {
            "smithy.api#documentation": "\n        <p>Whether the configuration property is secret. Secrets are hidden from all calls\n            except for <code>GetJobDetails</code>, <code>GetThirdPartyJobDetails</code>,\n                <code>PollForJobs</code>, and <code>PollForThirdPartyJobs</code>.</p>\n        <p>When updating a pipeline, passing * * * * * without changing any other values of\n            the action preserves the previous value of the secret.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "type": {
          "target": "com.amazonaws.codepipeline#ActionConfigurationPropertyType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The type of the configuration property.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents information about an action configuration property.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#ActionConfigurationPropertyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codepipeline#ActionConfigurationProperty"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.codepipeline#ActionConfigurationPropertyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "String": {
            "name": "String"
          },
          "Number": {
            "name": "Number"
          },
          "Boolean": {
            "name": "Boolean"
          }
        }
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ActionConfigurationQueryableValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "[a-zA-Z0-9_-]+"
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ActionConfigurationValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ActionContext": {
      "type": "structure",
      "members": {
        "actionExecutionId": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionExecutionId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The system-generated unique ID that corresponds to an action's execution.</p>\n      "
          }
        },
        "name": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the action in the context of a job.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the context of an action in the stage of a pipeline to a job\n            worker.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#ActionDeclaration": {
      "type": "structure",
      "members": {
        "actionTypeId": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionTypeId",
          "traits": {
            "smithy.api#documentation": "\n        <p>Specifies the action type and the provider of the action.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "configuration": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionConfigurationMap",
          "traits": {
            "smithy.api#documentation": "\n        <p>The action's configuration. These are key-value pairs that specify input values for\n            an action. For more information, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/reference-pipeline-structure.html#action-requirements\">Action Structure Requirements in CodePipeline</a>. For the list of\n            configuration properties for the AWS CloudFormation action type in CodePipeline, see\n                <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/continuous-delivery-codepipeline-action-reference.html\">Configuration Properties Reference</a> in the <i>AWS CloudFormation User\n                Guide</i>. For template snippets with examples, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/continuous-delivery-codepipeline-parameter-override-functions.html\">Using Parameter Override Functions with CodePipeline Pipelines</a> in the\n                <i>AWS CloudFormation User Guide</i>.</p>\n        <p>The values can be represented in either JSON or YAML format. For example, the JSON\n            configuration item format is as follows: </p>\n        <p>\n            <i>JSON:</i>\n         </p>\n        <p>\n            <code>\"Configuration\" : { Key : Value },</code>\n        </p>\n      "
          }
        },
        "inputArtifacts": {
          "target": "com.amazonaws.codepipeline#InputArtifactList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name or ID of the artifact consumed by the action, such as a test or build\n            artifact.</p>\n      "
          }
        },
        "name": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The action declaration's name.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "namespace": {
          "target": "com.amazonaws.codepipeline#ActionNamespace",
          "traits": {
            "smithy.api#documentation": "\n        <p>The variable namespace associated with the action. All variables produced as output by this action fall under this namespace.</p>\n      "
          }
        },
        "outputArtifacts": {
          "target": "com.amazonaws.codepipeline#OutputArtifactList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name or ID of the result of the action declaration, such as a test or build\n            artifact.</p>\n      "
          }
        },
        "region": {
          "target": "com.amazonaws.codepipeline#AWSRegionName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The action declaration's AWS Region, such as us-east-1.</p>\n      "
          }
        },
        "roleArn": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#RoleArn",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ARN of the IAM service role that performs the declared action. This is\n            assumed through the roleArn for the pipeline.</p>\n      "
          }
        },
        "runOrder": {
          "target": "com.amazonaws.codepipeline#ActionRunOrder",
          "traits": {
            "smithy.api#documentation": "\n        <p>The order in which actions are run.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents information about an action declaration.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#ActionExecution": {
      "type": "structure",
      "members": {
        "errorDetails": {
          "target": "com.amazonaws.codepipeline#ErrorDetails",
          "traits": {
            "smithy.api#documentation": "\n        <p>The details of an error returned by a URL external to AWS.</p>\n      "
          }
        },
        "externalExecutionId": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ExecutionId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The external ID of the run of the action.</p>\n      "
          }
        },
        "externalExecutionUrl": {
          "target": "com.amazonaws.codepipeline#Url",
          "traits": {
            "smithy.api#documentation": "\n        <p>The URL of a resource external to AWS that is used when running the action\n            (for example, an external repository URL).</p>\n      "
          }
        },
        "lastStatusChange": {
          "target": "com.amazonaws.codepipeline#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n        <p>The last status change of the action.</p>\n      "
          }
        },
        "lastUpdatedBy": {
          "target": "com.amazonaws.codepipeline#LastUpdatedBy",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ARN of the user who last changed the pipeline.</p>\n      "
          }
        },
        "percentComplete": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#Percentage",
          "traits": {
            "smithy.api#documentation": "\n        <p>A percentage of completeness of the action as it runs.</p>\n      "
          }
        },
        "status": {
          "target": "com.amazonaws.codepipeline#ActionExecutionStatus",
          "traits": {
            "smithy.api#documentation": "\n        <p>The status of the action, or for a completed action, the last status of the\n            action.</p>\n      "
          }
        },
        "summary": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ExecutionSummary",
          "traits": {
            "smithy.api#documentation": "\n        <p>A summary of the run of the action.</p>\n      "
          }
        },
        "token": {
          "target": "com.amazonaws.codepipeline#ActionExecutionToken",
          "traits": {
            "smithy.api#documentation": "\n        <p>The system-generated token used to identify a unique approval request. The token\n            for each open approval request can be obtained using the <code>GetPipelineState</code>\n            command. It is used to validate that the approval request corresponding to this token is\n            still valid.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents information about the run of an action.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#ActionExecutionDetail": {
      "type": "structure",
      "members": {
        "actionExecutionId": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionExecutionId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The action execution ID.</p>\n      "
          }
        },
        "actionName": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the action.</p>\n      "
          }
        },
        "input": {
          "target": "com.amazonaws.codepipeline#ActionExecutionInput",
          "traits": {
            "smithy.api#documentation": "\n        <p>Input details for the action execution, such as role ARN, Region, and input\n            artifacts.</p>\n      "
          }
        },
        "lastUpdateTime": {
          "target": "com.amazonaws.codepipeline#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n        <p>The last update time of the action execution.</p>\n      "
          }
        },
        "output": {
          "target": "com.amazonaws.codepipeline#ActionExecutionOutput",
          "traits": {
            "smithy.api#documentation": "\n        <p>Output details for the action execution, such as the action execution result.</p>\n      "
          }
        },
        "pipelineExecutionId": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#PipelineExecutionId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The pipeline execution ID for the action execution.</p>\n      "
          }
        },
        "pipelineVersion": {
          "target": "com.amazonaws.codepipeline#PipelineVersion",
          "traits": {
            "smithy.api#documentation": "\n        <p>The version of the pipeline where the action was run.</p>\n      "
          }
        },
        "stageName": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#StageName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the stage that contains the action.</p>\n      "
          }
        },
        "startTime": {
          "target": "com.amazonaws.codepipeline#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n        <p>The start time of the action execution.</p>\n      "
          }
        },
        "status": {
          "target": "com.amazonaws.codepipeline#ActionExecutionStatus",
          "traits": {
            "smithy.api#documentation": "\n        <p> The status of the action execution. Status categories are <code>InProgress</code>,\n                <code>Succeeded</code>, and <code>Failed</code>.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Returns information about an execution of an action, including the action execution\n            ID, and the name, version, and timing of the action. </p>\n      "
      }
    },
    "com.amazonaws.codepipeline#ActionExecutionDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codepipeline#ActionExecutionDetail"
      }
    },
    "com.amazonaws.codepipeline#ActionExecutionFilter": {
      "type": "structure",
      "members": {
        "pipelineExecutionId": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#PipelineExecutionId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The pipeline execution ID used to filter action execution history.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Filter values for the action execution.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ActionExecutionId": {
      "type": "string"
    },
    "com.amazonaws.codepipeline#ActionExecutionInput": {
      "type": "structure",
      "members": {
        "actionTypeId": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionTypeId"
        },
        "configuration": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionConfigurationMap",
          "traits": {
            "smithy.api#documentation": "\n        <p>Configuration data for an action execution.</p>\n      "
          }
        },
        "inputArtifacts": {
          "target": "com.amazonaws.codepipeline#ArtifactDetailList",
          "traits": {
            "smithy.api#documentation": "\n        <p>Details of input artifacts of the action that correspond to the action\n            execution.</p>\n      "
          }
        },
        "namespace": {
          "target": "com.amazonaws.codepipeline#ActionNamespace",
          "traits": {
            "smithy.api#documentation": "\n        <p>The variable namespace associated with the action. All variables produced as output by this action fall under this namespace.</p>\n      "
          }
        },
        "region": {
          "target": "com.amazonaws.codepipeline#AWSRegionName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The AWS Region for the action, such as us-east-1.</p>\n      "
          }
        },
        "resolvedConfiguration": {
          "target": "com.amazonaws.codepipeline#ResolvedActionConfigurationMap",
          "traits": {
            "smithy.api#documentation": "\n        <p>Configuration data for an action execution with all variable references replaced with their real values for the execution.</p>\n      "
          }
        },
        "roleArn": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#RoleArn",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ARN of the IAM service role that performs the declared action. This is assumed\n            through the roleArn for the pipeline. </p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Input information used for an action execution.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#ActionExecutionOutput": {
      "type": "structure",
      "members": {
        "executionResult": {
          "target": "com.amazonaws.codepipeline#ActionExecutionResult",
          "traits": {
            "smithy.api#documentation": "\n        <p>Execution result information listed in the output details for an action\n            execution.</p>\n      "
          }
        },
        "outputArtifacts": {
          "target": "com.amazonaws.codepipeline#ArtifactDetailList",
          "traits": {
            "smithy.api#documentation": "\n        <p>Details of output artifacts of the action that correspond to the action\n            execution.</p>\n      "
          }
        },
        "outputVariables": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#OutputVariablesMap",
          "traits": {
            "smithy.api#documentation": "\n        <p>The outputVariables field shows the key-value pairs that were output as part of that execution.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Output details listed for an action execution, such as the action execution\n            result.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#ActionExecutionResult": {
      "type": "structure",
      "members": {
        "externalExecutionId": {
          "target": "com.amazonaws.codepipeline#ExternalExecutionId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The action provider's external ID for the action execution.</p>\n      "
          }
        },
        "externalExecutionSummary": {
          "target": "com.amazonaws.codepipeline#ExternalExecutionSummary",
          "traits": {
            "smithy.api#documentation": "\n        <p>The action provider's summary for the action execution.</p>\n      "
          }
        },
        "externalExecutionUrl": {
          "target": "com.amazonaws.codepipeline#Url",
          "traits": {
            "smithy.api#documentation": "\n        <p>The deepest external link to the external resource (for example, a repository URL or\n            deployment endpoint) that is used when running the action.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Execution result information, such as the external execution ID.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#ActionExecutionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "InProgress": {
            "name": "InProgress"
          },
          "Succeeded": {
            "name": "Succeeded"
          },
          "Failed": {
            "name": "Failed"
          }
        }
      }
    },
    "com.amazonaws.codepipeline#ActionExecutionToken": {
      "type": "string"
    },
    "com.amazonaws.codepipeline.common.frontend.service#ActionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[A-Za-z0-9.@\\-_]+"
      }
    },
    "com.amazonaws.codepipeline#ActionNamespace": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[A-Za-z0-9@\\-_]+"
      }
    },
    "com.amazonaws.codepipeline#ActionNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#Message",
          "traits": {
            "smithy.api#documentation": "\n        <p>The message provided to the user in the event of an exception.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The specified action cannot be found.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ActionOwner": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "AWS": {
            "name": "AWS"
          },
          "ThirdParty": {
            "name": "ThirdParty"
          },
          "Custom": {
            "name": "Custom"
          }
        }
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ActionProvider": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        },
        "smithy.api#pattern": "[0-9A-Za-z_-]+"
      }
    },
    "com.amazonaws.codepipeline#ActionRevision": {
      "type": "structure",
      "members": {
        "created": {
          "target": "com.amazonaws.codepipeline#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n        <p>The date and time when the most recent version of the action was created, in\n            timestamp format.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "revisionChangeId": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#RevisionChangeIdentifier",
          "traits": {
            "smithy.api#documentation": "\n        <p>The unique identifier of the change that set the state to this revision (for\n            example, a deployment ID or timestamp).</p>\n      ",
            "smithy.api#required": true
          }
        },
        "revisionId": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#Revision",
          "traits": {
            "smithy.api#documentation": "\n        <p>The system-generated unique ID that identifies the revision number of the\n            action.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents information about the version (or revision) of an action.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#ActionRunOrder": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 999
        }
      }
    },
    "com.amazonaws.codepipeline#ActionState": {
      "type": "structure",
      "members": {
        "actionName": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the action.</p>\n      "
          }
        },
        "currentRevision": {
          "target": "com.amazonaws.codepipeline#ActionRevision",
          "traits": {
            "smithy.api#documentation": "\n        <p>Represents information about the version (or revision) of an action.</p>\n      "
          }
        },
        "entityUrl": {
          "target": "com.amazonaws.codepipeline#Url",
          "traits": {
            "smithy.api#documentation": "\n        <p>A URL link for more information about the state of the action, such as a deployment\n            group details page.</p>\n      "
          }
        },
        "latestExecution": {
          "target": "com.amazonaws.codepipeline#ActionExecution",
          "traits": {
            "smithy.api#documentation": "\n        <p>Represents information about the run of an action.</p>\n      "
          }
        },
        "revisionUrl": {
          "target": "com.amazonaws.codepipeline#Url",
          "traits": {
            "smithy.api#documentation": "\n        <p>A URL link for more information about the revision, such as a commit details\n            page.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents information about the state of an action.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#ActionStateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codepipeline#ActionState"
      }
    },
    "com.amazonaws.codepipeline#ActionType": {
      "type": "structure",
      "members": {
        "actionConfigurationProperties": {
          "target": "com.amazonaws.codepipeline#ActionConfigurationPropertyList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The configuration properties for the action type.</p>\n      "
          }
        },
        "id": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionTypeId",
          "traits": {
            "smithy.api#documentation": "\n        <p>Represents information about an action type.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "inputArtifactDetails": {
          "target": "com.amazonaws.codepipeline#ArtifactDetails",
          "traits": {
            "smithy.api#documentation": "\n        <p>The details of the input artifact for the action, such as its commit ID.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "outputArtifactDetails": {
          "target": "com.amazonaws.codepipeline#ArtifactDetails",
          "traits": {
            "smithy.api#documentation": "\n        <p>The details of the output artifact of the action, such as its commit ID.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "settings": {
          "target": "com.amazonaws.codepipeline#ActionTypeSettings",
          "traits": {
            "smithy.api#documentation": "\n        <p>The settings for the action type.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Returns information about the details of an action type.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ActionTypeId": {
      "type": "structure",
      "members": {
        "category": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionCategory",
          "traits": {
            "smithy.api#documentation": "\n        <p>A category defines what kind of action can be taken in the stage, and constrains\n            the provider type for the action. Valid categories are limited to one of the following values.\n            </p>\n      ",
            "smithy.api#required": true
          }
        },
        "owner": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionOwner",
          "traits": {
            "smithy.api#documentation": "\n        <p>The creator of the action being called.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "provider": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionProvider",
          "traits": {
            "smithy.api#documentation": "\n        <p>The provider of the service being called by the action. Valid providers are\n            determined by the action category. For example, an action in the Deploy category type\n            might have a provider of AWS CodeDeploy, which would be specified as CodeDeploy. For more information, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/reference-pipeline-structure.html#actions-valid-providers\">Valid Action Types and Providers in CodePipeline</a>.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "version": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#Version",
          "traits": {
            "smithy.api#documentation": "\n        <p>A string that describes the action version.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents information about an action type.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#ActionTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codepipeline#ActionType"
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ActionTypeNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#Message",
          "traits": {
            "smithy.api#documentation": "\n        <p>The message provided to the user in the event of an exception.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The specified action type cannot be found.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codepipeline#ActionTypeSettings": {
      "type": "structure",
      "members": {
        "entityUrlTemplate": {
          "target": "com.amazonaws.codepipeline#UrlTemplate",
          "traits": {
            "smithy.api#documentation": "\n        <p>The URL returned to the AWS CodePipeline console that provides a deep link to the\n            resources of the external system, such as the configuration page for an AWS CodeDeploy\n            deployment group. This link is provided as part of the action display in the\n            pipeline.</p>\n      "
          }
        },
        "executionUrlTemplate": {
          "target": "com.amazonaws.codepipeline#UrlTemplate",
          "traits": {
            "smithy.api#documentation": "\n        <p>The URL returned to the AWS CodePipeline console that contains a link to the\n            top-level landing page for the external system, such as the console page for AWS CodeDeploy.\n            This link is shown on the pipeline view page in the AWS CodePipeline console and\n            provides a link to the execution entity of the external action.</p>\n      "
          }
        },
        "revisionUrlTemplate": {
          "target": "com.amazonaws.codepipeline#UrlTemplate",
          "traits": {
            "smithy.api#documentation": "\n        <p>The URL returned to the AWS CodePipeline console that contains a link to the page\n            where customers can update or change the configuration of the external action.</p>\n      "
          }
        },
        "thirdPartyConfigurationUrl": {
          "target": "com.amazonaws.codepipeline#Url",
          "traits": {
            "smithy.api#documentation": "\n        <p>The URL of a sign-up page where users can sign up for an external service and\n            perform initial configuration of the action provided by that service.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Returns information about the settings for an action type.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#ApprovalAlreadyCompletedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#Message",
          "traits": {
            "smithy.api#documentation": "\n        <p>The message provided to the user in the event of an exception.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The approval action has already been approved or rejected.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codepipeline#ApprovalResult": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.codepipeline#ApprovalStatus",
          "traits": {
            "smithy.api#documentation": "\n        <p>The response submitted by a reviewer assigned to an approval action\n            request.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "summary": {
          "target": "com.amazonaws.codepipeline#ApprovalSummary",
          "traits": {
            "smithy.api#documentation": "\n        <p>The summary of the current status of the approval request.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents information about the result of an approval request.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#ApprovalStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "Approved": {
            "name": "Approved"
          },
          "Rejected": {
            "name": "Rejected"
          }
        }
      }
    },
    "com.amazonaws.codepipeline#ApprovalSummary": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        }
      }
    },
    "com.amazonaws.codepipeline#ApprovalToken": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#Artifact": {
      "type": "structure",
      "members": {
        "location": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ArtifactLocation",
          "traits": {
            "smithy.api#documentation": "\n        <p>The location of an artifact.</p>\n      "
          }
        },
        "name": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ArtifactName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The artifact's name.</p>\n      "
          }
        },
        "revision": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#Revision",
          "traits": {
            "smithy.api#documentation": "\n        <p>The artifact's revision ID. Depending on the type of object, this could be a commit\n            ID (GitHub) or a revision ID (Amazon S3).</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents information about an artifact that is worked on by actions in the\n            pipeline.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#ArtifactDetail": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ArtifactName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The artifact object name for the action execution.</p>\n      "
          }
        },
        "s3location": {
          "target": "com.amazonaws.codepipeline#S3Location",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon S3 artifact location for the action execution.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Artifact details for the action execution, such as the artifact location.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#ArtifactDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codepipeline#ArtifactDetail"
      }
    },
    "com.amazonaws.codepipeline#ArtifactDetails": {
      "type": "structure",
      "members": {
        "maximumCount": {
          "target": "com.amazonaws.codepipeline#MaximumArtifactCount",
          "traits": {
            "smithy.api#documentation": "\n        <p>The maximum number of artifacts allowed for the action type.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "minimumCount": {
          "target": "com.amazonaws.codepipeline#MinimumArtifactCount",
          "traits": {
            "smithy.api#documentation": "\n        <p>The minimum number of artifacts allowed for the action type.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Returns information about the details of an artifact.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ArtifactList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codepipeline.common.frontend.service#Artifact"
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ArtifactLocation": {
      "type": "structure",
      "members": {
        "s3Location": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#S3ArtifactLocation",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon S3 bucket that contains the artifact.</p>\n      "
          }
        },
        "type": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ArtifactLocationType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The type of artifact in the location.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents information about the location of an artifact.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ArtifactLocationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "S3": {
            "name": "S3"
          }
        }
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ArtifactName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[a-zA-Z0-9_\\-]+"
      }
    },
    "com.amazonaws.codepipeline#ArtifactRevision": {
      "type": "structure",
      "members": {
        "created": {
          "target": "com.amazonaws.codepipeline#Timestamp",
          "traits": {
            "smithy.api#documentation": "\n        <p>The date and time when the most recent revision of the artifact was created, in\n            timestamp format.</p>\n      "
          }
        },
        "name": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ArtifactName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of an artifact. This name might be system-generated, such as \"MyApp\", or\n            defined by the user when an action is created.</p>\n      "
          }
        },
        "revisionChangeIdentifier": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#RevisionChangeIdentifier",
          "traits": {
            "smithy.api#documentation": "\n        <p>An additional identifier for a revision, such as a commit date or, for artifacts\n            stored in Amazon S3 buckets, the ETag value.</p>\n      "
          }
        },
        "revisionId": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#Revision",
          "traits": {
            "smithy.api#documentation": "\n        <p>The revision ID of the artifact.</p>\n      "
          }
        },
        "revisionSummary": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#RevisionSummary",
          "traits": {
            "smithy.api#documentation": "\n        <p>Summary information about the most recent revision of the artifact. For GitHub and\n            AWS CodeCommit repositories, the commit message. For Amazon S3 buckets or actions, the\n            user-provided content of a <code>codepipeline-artifact-revision-summary</code> key\n            specified in the object metadata.</p>\n      "
          }
        },
        "revisionUrl": {
          "target": "com.amazonaws.codepipeline#Url",
          "traits": {
            "smithy.api#documentation": "\n        <p>The commit ID for the artifact revision. For artifacts stored in GitHub or AWS\n            CodeCommit repositories, the commit ID is linked to a commit details page.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents revision details of an artifact. </p>\n      "
      }
    },
    "com.amazonaws.codepipeline#ArtifactRevisionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codepipeline#ArtifactRevision"
      }
    },
    "com.amazonaws.codepipeline#ArtifactStore": {
      "type": "structure",
      "members": {
        "encryptionKey": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#EncryptionKey",
          "traits": {
            "smithy.api#documentation": "\n        <p>The encryption key used to encrypt the data in the artifact store, such as an AWS\n            Key Management Service (AWS KMS) key. If this is undefined, the default key for Amazon\n            S3 is used.</p>\n      "
          }
        },
        "location": {
          "target": "com.amazonaws.codepipeline#ArtifactStoreLocation",
          "traits": {
            "smithy.api#documentation": "\n        <p>The Amazon S3 bucket used for storing the artifacts for a pipeline. You can specify\n            the name of an S3 bucket but not a folder in the bucket. A folder to contain the\n            pipeline artifacts is created for you based on the name of the pipeline. You can use any\n            Amazon S3 bucket in the same AWS Region as the pipeline to store your pipeline\n            artifacts.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "type": {
          "target": "com.amazonaws.codepipeline#ArtifactStoreType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The type of the artifact store, such as S3.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The Amazon S3 bucket where artifacts for the pipeline are stored.</p>\n        <note>\n            <p>You must include either <code>artifactStore</code> or\n                    <code>artifactStores</code> in your pipeline, but you cannot use both. If you\n                create a cross-region action in your pipeline, you must use\n                    <code>artifactStores</code>.</p>\n        </note>\n      "
      }
    },
    "com.amazonaws.codepipeline#ArtifactStoreLocation": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 63
        },
        "smithy.api#pattern": "[a-zA-Z0-9\\-\\.]+"
      }
    },
    "com.amazonaws.codepipeline#ArtifactStoreMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.codepipeline#AWSRegionName"
      },
      "value": {
        "target": "com.amazonaws.codepipeline#ArtifactStore"
      }
    },
    "com.amazonaws.codepipeline#ArtifactStoreType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "S3": {
            "name": "S3"
          }
        }
      }
    },
    "com.amazonaws.codepipeline#BlockerDeclaration": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codepipeline#BlockerName",
          "traits": {
            "smithy.api#documentation": "\n        <p>Reserved for future use.</p>\n        \n      ",
            "smithy.api#required": true
          }
        },
        "type": {
          "target": "com.amazonaws.codepipeline#BlockerType",
          "traits": {
            "smithy.api#documentation": "\n        <p>Reserved for future use.</p>\n        \n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Reserved for future use.</p>\n        \n      "
      }
    },
    "com.amazonaws.codepipeline#BlockerName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.codepipeline#BlockerType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "Schedule": {
            "name": "Schedule"
          }
        }
      }
    },
    "com.amazonaws.codepipeline#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.codepipeline#ClientId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
      }
    },
    "com.amazonaws.codepipeline#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.codepipeline#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.codepipeline#Code": {
      "type": "string"
    },
    "com.amazonaws.codepipeline#CodePipeline_20150709": {
      "type": "service",
      "version": "2015-07-09",
      "operations": [
        {
          "target": "com.amazonaws.codepipeline#AcknowledgeJob"
        },
        {
          "target": "com.amazonaws.codepipeline#AcknowledgeThirdPartyJob"
        },
        {
          "target": "com.amazonaws.codepipeline#CreateCustomActionType"
        },
        {
          "target": "com.amazonaws.codepipeline#CreatePipeline"
        },
        {
          "target": "com.amazonaws.codepipeline#DeleteCustomActionType"
        },
        {
          "target": "com.amazonaws.codepipeline#DeletePipeline"
        },
        {
          "target": "com.amazonaws.codepipeline#DeleteWebhook"
        },
        {
          "target": "com.amazonaws.codepipeline#DeregisterWebhookWithThirdParty"
        },
        {
          "target": "com.amazonaws.codepipeline#DisableStageTransition"
        },
        {
          "target": "com.amazonaws.codepipeline#EnableStageTransition"
        },
        {
          "target": "com.amazonaws.codepipeline#GetJobDetails"
        },
        {
          "target": "com.amazonaws.codepipeline#GetPipeline"
        },
        {
          "target": "com.amazonaws.codepipeline#GetPipelineExecution"
        },
        {
          "target": "com.amazonaws.codepipeline#GetPipelineState"
        },
        {
          "target": "com.amazonaws.codepipeline#GetThirdPartyJobDetails"
        },
        {
          "target": "com.amazonaws.codepipeline#ListActionExecutions"
        },
        {
          "target": "com.amazonaws.codepipeline#ListActionTypes"
        },
        {
          "target": "com.amazonaws.codepipeline#ListPipelineExecutions"
        },
        {
          "target": "com.amazonaws.codepipeline#ListPipelines"
        },
        {
          "target": "com.amazonaws.codepipeline#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.codepipeline#ListWebhooks"
        },
        {
          "target": "com.amazonaws.codepipeline#PollForJobs"
        },
        {
          "target": "com.amazonaws.codepipeline#PollForThirdPartyJobs"
        },
        {
          "target": "com.amazonaws.codepipeline#PutActionRevision"
        },
        {
          "target": "com.amazonaws.codepipeline#PutApprovalResult"
        },
        {
          "target": "com.amazonaws.codepipeline#PutJobFailureResult"
        },
        {
          "target": "com.amazonaws.codepipeline#PutJobSuccessResult"
        },
        {
          "target": "com.amazonaws.codepipeline#PutThirdPartyJobFailureResult"
        },
        {
          "target": "com.amazonaws.codepipeline#PutThirdPartyJobSuccessResult"
        },
        {
          "target": "com.amazonaws.codepipeline#PutWebhook"
        },
        {
          "target": "com.amazonaws.codepipeline#RegisterWebhookWithThirdParty"
        },
        {
          "target": "com.amazonaws.codepipeline#RetryStageExecution"
        },
        {
          "target": "com.amazonaws.codepipeline#StartPipelineExecution"
        },
        {
          "target": "com.amazonaws.codepipeline#TagResource"
        },
        {
          "target": "com.amazonaws.codepipeline#UntagResource"
        },
        {
          "target": "com.amazonaws.codepipeline#UpdatePipeline"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CodePipeline",
          "arnNamespace": "codepipeline",
          "cloudFormationName": "CodePipeline",
          "cloudTrailEventSource": "codepipeline.amazonaws.com"
        },
        "smithy.api#documentation": "\n        <fullname>AWS CodePipeline</fullname>\n        <p>\n            <b>Overview</b>\n        </p>\n\n        <p>This is the AWS CodePipeline API Reference. This guide provides descriptions of the\n            actions and data types for AWS CodePipeline. Some functionality for your pipeline can only be\n           configured through the API. For more information, see the <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/welcome.html\">AWS\n                CodePipeline User Guide</a>.</p>\n\n        <p>You can use the AWS CodePipeline API to work with pipelines, stages, actions, and\n            transitions.</p>\n        <p>\n            <i>Pipelines</i> are models of automated release processes. Each pipeline\n            is uniquely named, and consists of stages, actions, and transitions. </p>\n        <p>You can work with pipelines by calling:</p>\n        <ul>\n            <li>\n                <p>\n                    <a>CreatePipeline</a>, which creates a uniquely named\n                    pipeline.</p>\n            </li>\n            <li>\n                <p>\n                    <a>DeletePipeline</a>, which deletes the specified\n                    pipeline.</p>\n            </li>\n            <li>\n                <p>\n                    <a>GetPipeline</a>, which returns information about the pipeline\n                    structure and pipeline metadata, including the pipeline Amazon Resource Name\n                    (ARN).</p>\n            </li>\n            <li>\n                <p>\n                    <a>GetPipelineExecution</a>, which returns information about a\n                    specific execution of a pipeline.</p>\n            </li>\n            <li>\n                <p>\n                    <a>GetPipelineState</a>, which returns information about the current\n                    state of the stages and actions of a pipeline.</p>\n            </li>\n            <li>\n                <p>\n                  <a>ListActionExecutions</a>, which returns action-level details\n                    for past executions. The details include full stage and action-level details,\n                    including individual action duration, status, any errors that occurred during\n                    the execution, and input and output artifact location details.</p>\n            </li>\n            <li>\n                <p>\n                    <a>ListPipelines</a>, which gets a summary of all of the pipelines\n                    associated with your account.</p>\n            </li>\n            <li>\n                <p>\n                    <a>ListPipelineExecutions</a>, which gets a summary of the most\n                    recent executions for a pipeline.</p>\n            </li>\n            <li>\n                <p>\n                    <a>StartPipelineExecution</a>, which runs the most recent\n                    revision of an artifact through the pipeline.</p>\n            </li>\n            <li>\n                <p>\n                    <a>UpdatePipeline</a>, which updates a pipeline with edits or changes\n                    to the structure of the pipeline.</p>\n            </li>\n         </ul>\n\n        <p>Pipelines include <i>stages</i>. Each stage contains one or more\n            actions that must complete before the next stage begins. A stage results in success\n            or failure. If a stage fails, the pipeline stops at that stage and remains\n            stopped until either a new version of an artifact appears in the source location, or a\n            user takes action to rerun the most recent artifact through the pipeline. You can call\n                <a>GetPipelineState</a>, which displays the status of a pipeline,\n            including the status of stages in the pipeline, or <a>GetPipeline</a>, which\n            returns the entire structure of the pipeline, including the stages of that pipeline. For\n            more information about the structure of stages and actions, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/pipeline-structure.html\">AWS\n                CodePipeline Pipeline Structure Reference</a>.</p>\n        <p>Pipeline stages include <i>actions</i> that are categorized into\n            categories such as source or build actions performed in a stage of a pipeline. For\n            example, you can use a source action to import artifacts into a pipeline from a source\n            such as Amazon S3. Like stages, you do not work with actions directly in most cases, but\n            you do define and interact with actions when working with pipeline operations such as\n                <a>CreatePipeline</a> and <a>GetPipelineState</a>. Valid\n            action categories are:</p>\n        <ul>\n            <li>\n                <p>Source</p>\n            </li>\n            <li>\n                <p>Build</p>\n            </li>\n            <li>\n                <p>Test</p>\n            </li>\n            <li>\n                <p>Deploy</p>\n            </li>\n            <li>\n                <p>Approval</p>\n            </li>\n            <li>\n                <p>Invoke</p>\n            </li>\n         </ul>\n        <p>Pipelines also include <i>transitions</i>, which allow the transition\n            of artifacts from one stage to the next in a pipeline after the actions in one stage\n            complete.</p>\n        <p>You can work with transitions by calling:</p>\n        <ul>\n            <li>\n                <p>\n                    <a>DisableStageTransition</a>, which prevents artifacts from\n                    transitioning to the next stage in a pipeline.</p>\n            </li>\n            <li>\n                <p>\n                    <a>EnableStageTransition</a>, which enables transition of artifacts\n                    between stages in a pipeline. </p>\n            </li>\n         </ul>\n\n\n        <p>\n            <b>Using the API to integrate with AWS CodePipeline</b>\n        </p>\n\n        <p>For third-party integrators or developers who want to create their own integrations\n            with AWS CodePipeline, the expected sequence varies from the standard API user. To integrate with AWS CodePipeline, developers need to work with the following\n            items:</p>\n        <p>\n            <b>Jobs</b>, which are instances of an action. For\n            example, a job for a source action might import a revision of an artifact from a source. </p>\n        <p>You can work with jobs by calling:</p>\n        <ul>\n            <li>\n                <p>\n                    <a>AcknowledgeJob</a>, which confirms whether a job worker has\n                    received the specified job.</p>\n            </li>\n            <li>\n                <p>\n                    <a>GetJobDetails</a>, which returns the details of a job.</p>\n            </li>\n            <li>\n                <p>\n                    <a>PollForJobs</a>, which determines whether there are any jobs to\n                    act on.</p>\n            </li>\n            <li>\n                <p>\n                    <a>PutJobFailureResult</a>, which provides details of a job failure.\n                    </p>\n            </li>\n            <li>\n                <p>\n                    <a>PutJobSuccessResult</a>, which provides details of a job\n                    success.</p>\n            </li>\n         </ul>\n\n        <p>\n            <b>Third party jobs</b>, which are instances of an action\n            created by a partner action and integrated into AWS CodePipeline. Partner actions are\n            created by members of the AWS Partner Network.</p>\n        <p>You can work with third party jobs by calling:</p>\n        <ul>\n            <li>\n                <p>\n                    <a>AcknowledgeThirdPartyJob</a>, which confirms whether a job worker\n                    has received the specified job.</p>\n            </li>\n            <li>\n                <p>\n                    <a>GetThirdPartyJobDetails</a>, which requests the details of a job\n                    for a partner action.</p>\n            </li>\n            <li>\n                <p>\n                    <a>PollForThirdPartyJobs</a>, which determines whether there are any\n                    jobs to act on. </p>\n            </li>\n            <li>\n                <p>\n                    <a>PutThirdPartyJobFailureResult</a>, which provides details of a job\n                    failure.</p>\n            </li>\n            <li>\n                <p>\n                    <a>PutThirdPartyJobSuccessResult</a>, which provides details of a job\n                    success.</p>\n            </li>\n         </ul>\n\n      ",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS CodePipeline"
      }
    },
    "com.amazonaws.codepipeline#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Unable to modify the tag due to a simultaneous update request.</p>\n      ",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ContinuationToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.codepipeline#CreateCustomActionType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codepipeline#CreateCustomActionTypeInput"
      },
      "output": {
        "target": "com.amazonaws.codepipeline#CreateCustomActionTypeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codepipeline#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.codepipeline#InvalidTagsException"
        },
        {
          "target": "com.amazonaws.codepipeline#LimitExceededException"
        },
        {
          "target": "com.amazonaws.codepipeline#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Creates a new custom action that can be used in all pipelines associated with the\n            AWS account. Only used for custom actions.</p>\n        \n      "
      }
    },
    "com.amazonaws.codepipeline#CreateCustomActionTypeInput": {
      "type": "structure",
      "members": {
        "category": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionCategory",
          "traits": {
            "smithy.api#documentation": "\n        <p>The category of the custom action, such as a build action or a test\n            action.</p>\n        <note>\n            <p>Although <code>Source</code> and <code>Approval</code> are listed as valid\n                values, they are not currently functional. These values are reserved for future\n                use.</p>\n        </note>\n      ",
            "smithy.api#required": true
          }
        },
        "configurationProperties": {
          "target": "com.amazonaws.codepipeline#ActionConfigurationPropertyList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The configuration properties for the custom action.</p>\n        <note>\n            <p>You can refer to a name in the configuration properties of the custom action\n                within the URL templates by following the format of {Config:name}, as long as the\n                configuration property is both required and not secret. For more information, see\n                    <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/how-to-create-custom-action.html\">Create a\n                    Custom Action for a Pipeline</a>.</p>\n        </note>\n      "
          }
        },
        "inputArtifactDetails": {
          "target": "com.amazonaws.codepipeline#ArtifactDetails",
          "traits": {
            "smithy.api#documentation": "\n        <p>The details of the input artifact for the action, such as its commit ID.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "outputArtifactDetails": {
          "target": "com.amazonaws.codepipeline#ArtifactDetails",
          "traits": {
            "smithy.api#documentation": "\n        <p>The details of the output artifact of the action, such as its commit ID.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "provider": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionProvider",
          "traits": {
            "smithy.api#documentation": "\n        <p>The provider of the service used in the custom action, such as AWS\n            CodeDeploy.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "settings": {
          "target": "com.amazonaws.codepipeline#ActionTypeSettings",
          "traits": {
            "smithy.api#documentation": "\n        <p>URLs that provide users information about this custom action.</p>\n      "
          }
        },
        "tags": {
          "target": "com.amazonaws.codepipeline#TagList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The tags for the custom action.</p>\n      "
          }
        },
        "version": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#Version",
          "traits": {
            "smithy.api#documentation": "\n        <p>The version identifier of the custom action.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the input of a CreateCustomActionType operation.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#CreateCustomActionTypeOutput": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "com.amazonaws.codepipeline#ActionType",
          "traits": {
            "smithy.api#documentation": "\n        <p>Returns information about the details of an action type.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "tags": {
          "target": "com.amazonaws.codepipeline#TagList",
          "traits": {
            "smithy.api#documentation": "\n        <p>Specifies the tags applied to the custom action.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the output of a <code>CreateCustomActionType</code> operation.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#CreatePipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codepipeline#CreatePipelineInput"
      },
      "output": {
        "target": "com.amazonaws.codepipeline#CreatePipelineOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codepipeline#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.codepipeline#InvalidActionDeclarationException"
        },
        {
          "target": "com.amazonaws.codepipeline#InvalidBlockerDeclarationException"
        },
        {
          "target": "com.amazonaws.codepipeline#InvalidStageDeclarationException"
        },
        {
          "target": "com.amazonaws.codepipeline#InvalidStructureException"
        },
        {
          "target": "com.amazonaws.codepipeline#InvalidTagsException"
        },
        {
          "target": "com.amazonaws.codepipeline#LimitExceededException"
        },
        {
          "target": "com.amazonaws.codepipeline#PipelineNameInUseException"
        },
        {
          "target": "com.amazonaws.codepipeline#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Creates a pipeline.</p>\n        <note>\n            <p>In the pipeline structure, you must include either <code>artifactStore</code>\n                or <code>artifactStores</code> in your pipeline, but you cannot use both. If you\n                create a cross-region action in your pipeline, you must use\n                    <code>artifactStores</code>.</p>\n        </note>\n        \n      "
      }
    },
    "com.amazonaws.codepipeline#CreatePipelineInput": {
      "type": "structure",
      "members": {
        "pipeline": {
          "target": "com.amazonaws.codepipeline#PipelineDeclaration",
          "traits": {
            "smithy.api#documentation": "\n        <p>Represents the structure of actions and stages to be performed in the pipeline.\n        </p>\n      ",
            "smithy.api#required": true
          }
        },
        "tags": {
          "target": "com.amazonaws.codepipeline#TagList",
          "traits": {
            "smithy.api#documentation": "\n        <p>The tags for the pipeline.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the input of a <code>CreatePipeline</code> action.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#CreatePipelineOutput": {
      "type": "structure",
      "members": {
        "pipeline": {
          "target": "com.amazonaws.codepipeline#PipelineDeclaration",
          "traits": {
            "smithy.api#documentation": "\n        <p>Represents the structure of actions and stages to be performed in the pipeline.\n        </p>\n      "
          }
        },
        "tags": {
          "target": "com.amazonaws.codepipeline#TagList",
          "traits": {
            "smithy.api#documentation": "\n        <p>Specifies the tags applied to the pipeline.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the output of a <code>CreatePipeline</code> action.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#CurrentRevision": {
      "type": "structure",
      "members": {
        "changeIdentifier": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#RevisionChangeIdentifier",
          "traits": {
            "smithy.api#documentation": "\n        <p>The change identifier for the current revision.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "created": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#Time",
          "traits": {
            "smithy.api#documentation": "\n        <p>The date and time when the most recent revision of the artifact was created, in\n            timestamp format.</p>\n      "
          }
        },
        "revision": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#Revision",
          "traits": {
            "smithy.api#documentation": "\n        <p>The revision ID of the current version of an artifact.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "revisionSummary": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#RevisionSummary",
          "traits": {
            "smithy.api#documentation": "\n        <p>The summary of the most recent revision of the artifact.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents information about a current revision.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#DeleteCustomActionType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codepipeline#DeleteCustomActionTypeInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codepipeline#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Marks a custom action as deleted. <code>PollForJobs</code> for the custom action\n            fails after the action is marked for deletion. Used for custom\n            actions only.</p>\n        <important>\n            <p>To re-create a custom action after it has been deleted you must use a string in\n                the version field that has never been used before. This string can be an incremented\n                version number, for example. To restore a deleted custom action, use a JSON file\n                that is identical to the deleted action, including the original string in the\n                version field.</p>\n        </important>\n        \n      "
      }
    },
    "com.amazonaws.codepipeline#DeleteCustomActionTypeInput": {
      "type": "structure",
      "members": {
        "category": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionCategory",
          "traits": {
            "smithy.api#documentation": "\n        <p>The category of the custom action that you want to delete, such as source or\n            deploy.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "provider": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ActionProvider",
          "traits": {
            "smithy.api#documentation": "\n        <p>The provider of the service used in the custom action, such as AWS\n            CodeDeploy.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "version": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#Version",
          "traits": {
            "smithy.api#documentation": "\n        <p>The version of the custom action to delete.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the input of a <code>DeleteCustomActionType</code> operation. The custom\n            action will be marked as deleted.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#DeletePipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codepipeline#DeletePipelineInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codepipeline#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Deletes the specified pipeline.</p>\n        \n      "
      }
    },
    "com.amazonaws.codepipeline#DeletePipelineInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#PipelineName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the pipeline to be deleted.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the input of a <code>DeletePipeline</code> action.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#DeleteWebhook": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codepipeline#DeleteWebhookInput"
      },
      "output": {
        "target": "com.amazonaws.codepipeline#DeleteWebhookOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codepipeline#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Deletes a previously created webhook by name. Deleting the webhook stops AWS\n            CodePipeline from starting a pipeline every time an external event occurs. The API \n            returns successfully when trying to delete a webhook that is already deleted. If a\n            deleted webhook is re-created by calling PutWebhook with the same name, it will have a\n            different URL.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#DeleteWebhookInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codepipeline#WebhookName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the webhook you want to delete.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.codepipeline#DeleteWebhookOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.codepipeline#DeregisterWebhookWithThirdParty": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codepipeline#DeregisterWebhookWithThirdPartyInput"
      },
      "output": {
        "target": "com.amazonaws.codepipeline#DeregisterWebhookWithThirdPartyOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codepipeline#WebhookNotFoundException"
        },
        {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Removes the connection between the webhook that was created by CodePipeline and the\n            external tool with events to be detected. Currently supported only for webhooks that\n            target an action type of GitHub.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#DeregisterWebhookWithThirdPartyInput": {
      "type": "structure",
      "members": {
        "webhookName": {
          "target": "com.amazonaws.codepipeline#WebhookName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the webhook you want to deregister.</p>\n      "
          }
        }
      }
    },
    "com.amazonaws.codepipeline#DeregisterWebhookWithThirdPartyOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.codepipeline#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 160
        }
      }
    },
    "com.amazonaws.codepipeline#DisableStageTransition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codepipeline#DisableStageTransitionInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codepipeline#PipelineNotFoundException"
        },
        {
          "target": "com.amazonaws.codepipeline#StageNotFoundException"
        },
        {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Prevents artifacts in a pipeline from transitioning to the next stage in the\n            pipeline.</p>\n        \n      "
      }
    },
    "com.amazonaws.codepipeline#DisableStageTransitionInput": {
      "type": "structure",
      "members": {
        "pipelineName": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#PipelineName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the pipeline in which you want to disable the flow of artifacts from\n            one stage to another.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "reason": {
          "target": "com.amazonaws.codepipeline#DisabledReason",
          "traits": {
            "smithy.api#documentation": "\n        <p>The reason given to the user that a stage is disabled, such as waiting for manual\n            approval or manual tests. This message is displayed in the pipeline console\n            UI.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "stageName": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#StageName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the stage where you want to disable the inbound or outbound transition\n            of artifacts.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "transitionType": {
          "target": "com.amazonaws.codepipeline#StageTransitionType",
          "traits": {
            "smithy.api#documentation": "\n        <p>Specifies whether artifacts are prevented from transitioning into the stage and\n            being processed by the actions in that stage (inbound), or prevented from transitioning\n            from the stage after they have been processed by the actions in that stage\n            (outbound).</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the input of a <code>DisableStageTransition</code> action.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#DisabledReason": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        },
        "smithy.api#pattern": "[a-zA-Z0-9!@ \\(\\)\\.\\*\\?\\-]+"
      }
    },
    "com.amazonaws.codepipeline#EnableStageTransition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codepipeline#EnableStageTransitionInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codepipeline#PipelineNotFoundException"
        },
        {
          "target": "com.amazonaws.codepipeline#StageNotFoundException"
        },
        {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n        <p>Enables artifacts in a pipeline to transition to a stage in a pipeline.</p>\n        \n      "
      }
    },
    "com.amazonaws.codepipeline#EnableStageTransitionInput": {
      "type": "structure",
      "members": {
        "pipelineName": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#PipelineName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the pipeline in which you want to enable the flow of artifacts from one\n            stage to another.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "stageName": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#StageName",
          "traits": {
            "smithy.api#documentation": "\n        <p>The name of the stage where you want to enable the transition of artifacts, either\n            into the stage (inbound) or from that stage to the next stage (outbound).</p>\n      ",
            "smithy.api#required": true
          }
        },
        "transitionType": {
          "target": "com.amazonaws.codepipeline#StageTransitionType",
          "traits": {
            "smithy.api#documentation": "\n        <p>Specifies whether artifacts are allowed to enter the stage and be processed by\n            the actions in that stage (inbound) or whether already processed artifacts are\n            allowed to transition to the next stage (outbound).</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents the input of an <code>EnableStageTransition</code> action.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#Enabled": {
      "type": "boolean"
    },
    "com.amazonaws.codepipeline.common.frontend.service#EncryptionKey": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#EncryptionKeyId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The ID used to identify the key. For an AWS KMS key, you can use the key ID, the\n            key ARN, or the alias ARN.</p>\n        <note>\n            <p>Aliases are recognized only in the account that created the customer master key\n                (CMK). For cross-account actions, you can only use the key ID or key ARN to identify\n                the key.</p>\n        </note>\n      ",
            "smithy.api#required": true
          }
        },
        "type": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#EncryptionKeyType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The type of encryption key, such as an AWS Key Management Service (AWS KMS) key.\n            When creating or updating a pipeline, the value must be set to 'KMS'.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents information about the key used to encrypt data in the artifact store,\n            such as an AWS Key Management Service (AWS KMS) key.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#EncryptionKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#EncryptionKeyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "KMS": {
            "name": "KMS"
          }
        }
      }
    },
    "com.amazonaws.codepipeline#ErrorDetails": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.codepipeline#Code",
          "traits": {
            "smithy.api#documentation": "\n        <p>The system ID or number code of the error.</p>\n      "
          }
        },
        "message": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#Message",
          "traits": {
            "smithy.api#documentation": "\n        <p>The text of the error message.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents information about an error in AWS CodePipeline.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ExecutionDetails": {
      "type": "structure",
      "members": {
        "externalExecutionId": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ExecutionId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The system-generated unique ID of this action used to identify this job worker in\n            any external systems, such as AWS CodeDeploy.</p>\n      "
          }
        },
        "percentComplete": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#Percentage",
          "traits": {
            "smithy.api#documentation": "\n        <p>The percentage of work completed on the action, represented on a scale of 0 to\n            100 percent.</p>\n      "
          }
        },
        "summary": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ExecutionSummary",
          "traits": {
            "smithy.api#documentation": "\n        <p>The summary of the current status of the actions.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The details of the actions taken and results produced on an artifact as it passes\n            through stages in the pipeline.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ExecutionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1500
        }
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#ExecutionSummary": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.codepipeline#ExecutionTrigger": {
      "type": "structure",
      "members": {
        "triggerDetail": {
          "target": "com.amazonaws.codepipeline#TriggerDetail",
          "traits": {
            "smithy.api#documentation": "\n        <p>Detail related to the event that started a pipeline execution, such as the webhook ARN\n            of the webhook that triggered the pipeline execution or the user ARN for a\n            user-initiated <code>start-pipeline-execution</code> CLI command.</p>\n      "
          }
        },
        "triggerType": {
          "target": "com.amazonaws.codepipeline#TriggerType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The type of change-detection method, command, or user interaction that started a\n            pipeline execution.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>The interaction or event that started a pipeline execution.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline#ExternalExecutionId": {
      "type": "string"
    },
    "com.amazonaws.codepipeline#ExternalExecutionSummary": {
      "type": "string"
    },
    "com.amazonaws.codepipeline.common.frontend.service#FailureDetails": {
      "type": "structure",
      "members": {
        "externalExecutionId": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#ExecutionId",
          "traits": {
            "smithy.api#documentation": "\n        <p>The external ID of the run of the action that failed.</p>\n      "
          }
        },
        "message": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#Message",
          "traits": {
            "smithy.api#documentation": "\n        <p>The message about the failure.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "type": {
          "target": "com.amazonaws.codepipeline.common.frontend.service#FailureType",
          "traits": {
            "smithy.api#documentation": "\n        <p>The type of the failure.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n        <p>Represents information about failure details.</p>\n      "
      }
    },
    "com.amazonaws.codepipeline.common.frontend.service#FailureType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "JobFailed": {
            "name": "JobFailed"
          },
          "ConfigurationError": {
            "name": "ConfigurationError"
          },
          "PermissionError": {
            "name": "PermissionError"
          },
          "RevisionOutOfSync": {
            "name": "RevisionOutOfSync"
          },
          "RevisionUnavailable": {
            "name": "RevisionUnavailable"
          },
          "SystemUnavailable": {
            "name": "SystemUnavailable"
          }
        }
      }
    },
    "com.amazonaws.codepipeline#GetJobDetails": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codepipeline#GetJobDetailsInput"
      },
      "output": {
        "target": "com.amazonaws.codepipeline#GetJobDetailsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codepipeline.common.frontend.service#JobNotFoundException"
        },
        {
[...]
