{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.codestarconnections#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "[0-9]{12}"
      }
    },
    "com.amazonaws.codestarconnections#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "arn:aws(-[\\w]+)*:.+:.+:[0-9]{12}:.+"
      }
    },
    "com.amazonaws.codestarconnections#CodeStar_connections_20191201": {
      "type": "service",
      "version": "2019-12-01",
      "operations": [
        {
          "target": "com.amazonaws.codestarconnections#CreateConnection"
        },
        {
          "target": "com.amazonaws.codestarconnections#CreateHost"
        },
        {
          "target": "com.amazonaws.codestarconnections#DeleteConnection"
        },
        {
          "target": "com.amazonaws.codestarconnections#DeleteHost"
        },
        {
          "target": "com.amazonaws.codestarconnections#GetConnection"
        },
        {
          "target": "com.amazonaws.codestarconnections#GetHost"
        },
        {
          "target": "com.amazonaws.codestarconnections#ListConnections"
        },
        {
          "target": "com.amazonaws.codestarconnections#ListHosts"
        },
        {
          "target": "com.amazonaws.codestarconnections#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.codestarconnections#TagResource"
        },
        {
          "target": "com.amazonaws.codestarconnections#UntagResource"
        },
        {
          "target": "com.amazonaws.codestarconnections#UpdateHost"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CodeStar connections",
          "arnNamespace": "codestar-connections",
          "cloudFormationName": "CodeStarconnections",
          "cloudTrailEventSource": "codestarconnections.amazonaws.com",
          "endpointPrefix": "codestar-connections"
        },
        "aws.auth#sigv4": {
          "name": "codestar-connections"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<fullname>AWS CodeStar Connections</fullname>\n         <p>This AWS CodeStar Connections API Reference provides descriptions and usage examples of\n      the operations and data types for the AWS CodeStar Connections API. You can use the\n      connections API to work with connections and installations.</p>\n         <p>\n            <i>Connections</i> are configurations that you use to connect AWS\n      resources to external code repositories. Each connection is a resource that can be given to\n      services such as CodePipeline to connect to a third-party repository such as Bitbucket. For\n      example, you can add the connection in CodePipeline so that it triggers your pipeline when a\n      code change is made to your third-party code repository. Each connection is named and\n      associated with a unique ARN that is used to reference the connection.</p>\n         <p>When you create a connection, the console initiates a third-party connection handshake.\n        <i>Installations</i> are the apps that are used to conduct this handshake. For\n      example, the installation for the Bitbucket provider type is the Bitbucket app. When you\n      create a connection, you can choose an existing installation or create one.</p>\n         <p>When you want to create a connection to an installed provider type such as GitHub\n      Enterprise Server, you create a <i>host</i> for your connections.</p>\n         <p>You can work with connections by calling:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateConnection</a>, which creates a uniquely named connection that can be\n          referenced by services such as CodePipeline.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteConnection</a>, which deletes the specified connection.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetConnection</a>, which returns information about the connection, including\n          the connection status.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListConnections</a>, which lists the connections associated with your\n          account.</p>\n            </li>\n         </ul>\n         <p>You can work with hosts by calling:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateHost</a>, which creates a host that represents the infrastructure where your provider is installed.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteHost</a>, which deletes the specified host.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetHost</a>, which returns information about the host, including\n          the setup status.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListHosts</a>, which lists the hosts associated with your\n          account.</p>\n            </li>\n         </ul>\n         <p>You can work with tags in AWS CodeStar Connections by calling the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>ListTagsForResource</a>, which gets information about AWS tags for a\n          specified Amazon Resource Name (ARN) in AWS CodeStar Connections.</p>\n            </li>\n            <li>\n               <p>\n                  <a>TagResource</a>, which adds or updates tags for a resource in AWS CodeStar\n          Connections.</p>\n            </li>\n            <li>\n               <p>\n                  <a>UntagResource</a>, which removes tags for a resource in AWS CodeStar\n          Connections.</p>\n            </li>\n         </ul>\n         <p>For information about how to use AWS CodeStar Connections, see the <a href=\"https://docs.aws.amazon.com/dtconsole/latest/userguide/welcome-connections.html\">Developer Tools User\n        Guide</a>.</p>",
        "smithy.api#title": "AWS CodeStar connections",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://codestar-connections-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://codestar-connections-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://codestar-connections.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://codestar-connections.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-connections.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.codestarconnections#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.codestarconnections#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Two conflicting operations have been made on the same resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.codestarconnections#Connection": {
      "type": "structure",
      "members": {
        "ConnectionName": {
          "target": "com.amazonaws.codestarconnections#ConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the connection. Connection names must be unique in an AWS user account.</p>"
          }
        },
        "ConnectionArn": {
          "target": "com.amazonaws.codestarconnections#ConnectionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connection. The ARN is used as the connection\n      reference when the connection is shared between AWS services.</p>\n         <note>\n            <p>The ARN is never reused if the connection is deleted.</p>\n         </note>"
          }
        },
        "ProviderType": {
          "target": "com.amazonaws.codestarconnections#ProviderType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the external provider where your third-party code repository is\n      configured.</p>"
          }
        },
        "OwnerAccountId": {
          "target": "com.amazonaws.codestarconnections#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the external provider where your third-party code repository is configured.\n      For Bitbucket, this is the account ID of the owner of the Bitbucket repository.</p>"
          }
        },
        "ConnectionStatus": {
          "target": "com.amazonaws.codestarconnections#ConnectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the connection. </p>"
          }
        },
        "HostArn": {
          "target": "com.amazonaws.codestarconnections#HostArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the host associated with the connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource that is used to connect third-party source providers with services like AWS CodePipeline.</p>\n         <p>Note: A connection created through CloudFormation, the CLI, or the SDK is in `PENDING` status by default. You can make its status `AVAILABLE` by updating the \n      connection in the console.</p>"
      }
    },
    "com.amazonaws.codestarconnections#ConnectionArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "arn:aws(-[\\w]+)*:.+:.+:[0-9]{12}:.+"
      }
    },
    "com.amazonaws.codestarconnections#ConnectionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codestarconnections#Connection"
      }
    },
    "com.amazonaws.codestarconnections#ConnectionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "[\\s\\S]*"
      }
    },
    "com.amazonaws.codestarconnections#ConnectionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "AVAILABLE",
            "name": "AVAILABLE"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          }
        ]
      }
    },
    "com.amazonaws.codestarconnections#CreateConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestarconnections#CreateConnectionInput"
      },
      "output": {
        "target": "com.amazonaws.codestarconnections#CreateConnectionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestarconnections#LimitExceededException"
        },
        {
          "target": "com.amazonaws.codestarconnections#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codestarconnections#ResourceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a connection that can then be given to other AWS services like CodePipeline so\n      that it can access third-party code repositories. The connection is in pending status until\n      the third-party connection handshake is completed from the console.</p>"
      }
    },
    "com.amazonaws.codestarconnections#CreateConnectionInput": {
      "type": "structure",
      "members": {
        "ProviderType": {
          "target": "com.amazonaws.codestarconnections#ProviderType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the external provider where your third-party code repository is\n      configured.</p>"
          }
        },
        "ConnectionName": {
          "target": "com.amazonaws.codestarconnections#ConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the connection to be created. The name must be unique in the calling AWS\n      account.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.codestarconnections#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pair to use when tagging the resource.</p>"
          }
        },
        "HostArn": {
          "target": "com.amazonaws.codestarconnections#HostArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the host associated with the connection to be created.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestarconnections#CreateConnectionOutput": {
      "type": "structure",
      "members": {
        "ConnectionArn": {
          "target": "com.amazonaws.codestarconnections#ConnectionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connection to be created. The ARN is used as the\n      connection reference when the connection is shared between AWS services.</p>\n         <note>\n            <p>The ARN is never reused if the connection is deleted.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.codestarconnections#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the tags applied to the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestarconnections#CreateHost": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestarconnections#CreateHostInput"
      },
      "output": {
        "target": "com.amazonaws.codestarconnections#CreateHostOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestarconnections#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a resource that represents the infrastructure where a third-party provider is\n      installed. The host is used when you create connections to an installed third-party provider\n      type, such as GitHub Enterprise Server. You create one host for all connections to that\n      provider.</p>\n         <note>\n            <p>A host created through the CLI or the SDK is in `PENDING` status by\n        default. You can make its status `AVAILABLE` by setting up the host in the console.</p>\n         </note>"
      }
    },
    "com.amazonaws.codestarconnections#CreateHostInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.codestarconnections#HostName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the host to be created. The name must be unique in the calling AWS\n      account.</p>",
            "smithy.api#required": {}
          }
        },
        "ProviderType": {
          "target": "com.amazonaws.codestarconnections#ProviderType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the installed provider to be associated with your connection. The host\n      resource represents the infrastructure where your provider type is installed. The valid\n      provider type is GitHub Enterprise Server.</p>",
            "smithy.api#required": {}
          }
        },
        "ProviderEndpoint": {
          "target": "com.amazonaws.codestarconnections#Url",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint of the infrastructure to be represented by the host after it is\n      created.</p>",
            "smithy.api#required": {}
          }
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.codestarconnections#VpcConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The VPC configuration to be provisioned for the host. A VPC must be configured and the\n      infrastructure to be represented by the host must already be connected to the VPC.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.codestarconnections#TagList"
        }
      }
    },
    "com.amazonaws.codestarconnections#CreateHostOutput": {
      "type": "structure",
      "members": {
        "HostArn": {
          "target": "com.amazonaws.codestarconnections#HostArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the host to be created.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.codestarconnections#TagList"
        }
      }
    },
    "com.amazonaws.codestarconnections#DeleteConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestarconnections#DeleteConnectionInput"
      },
      "output": {
        "target": "com.amazonaws.codestarconnections#DeleteConnectionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestarconnections#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The connection to be deleted.</p>"
      }
    },
    "com.amazonaws.codestarconnections#DeleteConnectionInput": {
      "type": "structure",
      "members": {
        "ConnectionArn": {
          "target": "com.amazonaws.codestarconnections#ConnectionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connection to be deleted.</p>\n         <note>\n            <p>The ARN is never reused if the connection is deleted.</p>\n         </note>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codestarconnections#DeleteConnectionOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.codestarconnections#DeleteHost": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestarconnections#DeleteHostInput"
      },
      "output": {
        "target": "com.amazonaws.codestarconnections#DeleteHostOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestarconnections#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codestarconnections#ResourceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The host to be deleted. Before you delete a host, all connections associated to the host must be deleted.</p>\n         <note>\n            <p>A host cannot be deleted if it is in the VPC_CONFIG_INITIALIZING or VPC_CONFIG_DELETING state.</p>\n         </note>"
      }
    },
    "com.amazonaws.codestarconnections#DeleteHostInput": {
      "type": "structure",
      "members": {
        "HostArn": {
          "target": "com.amazonaws.codestarconnections#HostArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the host to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codestarconnections#DeleteHostOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.codestarconnections#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 600
        }
      }
    },
    "com.amazonaws.codestarconnections#GetConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestarconnections#GetConnectionInput"
      },
      "output": {
        "target": "com.amazonaws.codestarconnections#GetConnectionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestarconnections#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codestarconnections#ResourceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the connection ARN and details such as status, owner, and provider type.</p>"
      }
    },
    "com.amazonaws.codestarconnections#GetConnectionInput": {
      "type": "structure",
      "members": {
        "ConnectionArn": {
          "target": "com.amazonaws.codestarconnections#ConnectionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a connection.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codestarconnections#GetConnectionOutput": {
      "type": "structure",
      "members": {
        "Connection": {
          "target": "com.amazonaws.codestarconnections#Connection",
          "traits": {
            "smithy.api#documentation": "<p>The connection details, such as status, owner, and provider type.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestarconnections#GetHost": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestarconnections#GetHostInput"
      },
      "output": {
        "target": "com.amazonaws.codestarconnections#GetHostOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestarconnections#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codestarconnections#ResourceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the host ARN and details such as status, provider type, endpoint, and, if\n      applicable, the VPC configuration.</p>"
      }
    },
    "com.amazonaws.codestarconnections#GetHostInput": {
      "type": "structure",
      "members": {
        "HostArn": {
          "target": "com.amazonaws.codestarconnections#HostArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the requested host.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codestarconnections#GetHostOutput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.codestarconnections#HostName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the requested host.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.codestarconnections#HostStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the requested host.</p>"
          }
        },
        "ProviderType": {
          "target": "com.amazonaws.codestarconnections#ProviderType",
          "traits": {
            "smithy.api#documentation": "<p>The provider type of the requested host, such as GitHub Enterprise Server.</p>"
          }
        },
        "ProviderEndpoint": {
          "target": "com.amazonaws.codestarconnections#Url",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint of the infrastructure represented by the requested host.</p>"
          }
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.codestarconnections#VpcConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The VPC configuration of the requested host.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestarconnections#Host": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.codestarconnections#HostName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the host.</p>"
          }
        },
        "HostArn": {
          "target": "com.amazonaws.codestarconnections#HostArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the host.</p>"
          }
        },
        "ProviderType": {
          "target": "com.amazonaws.codestarconnections#ProviderType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the installed provider to be associated with your connection. The host\n      resource represents the infrastructure where your provider type is installed. The valid\n      provider type is GitHub Enterprise Server.</p>"
          }
        },
        "ProviderEndpoint": {
          "target": "com.amazonaws.codestarconnections#Url",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint of the infrastructure where your provider type is installed.</p>"
          }
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.codestarconnections#VpcConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The VPC configuration provisioned for the host.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.codestarconnections#HostStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the host, such as PENDING, AVAILABLE, VPC_CONFIG_DELETING, VPC_CONFIG_INITIALIZING, and VPC_CONFIG_FAILED_INITIALIZATION.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.codestarconnections#HostStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The status description for the host.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource that represents the infrastructure where a third-party provider is installed.\n      The host is used when you create connections to an installed third-party provider type, such\n      as GitHub Enterprise Server. You create one host for all connections to that provider.</p>\n         <note>\n            <p>A host created through the CLI or the SDK is in `PENDING` status by\n        default. You can make its status `AVAILABLE` by setting up the host in the console.</p>\n         </note>"
      }
    },
    "com.amazonaws.codestarconnections#HostArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "arn:aws(-[\\w]+)*:codestar-connections:.+:[0-9]{12}:host\\/.+"
      }
    },
    "com.amazonaws.codestarconnections#HostList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codestarconnections#Host"
      }
    },
    "com.amazonaws.codestarconnections#HostName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.codestarconnections#HostStatus": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.codestarconnections#HostStatusMessage": {
      "type": "string"
    },
    "com.amazonaws.codestarconnections#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.codestarconnections#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exceeded the maximum limit for connections.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.codestarconnections#ListConnections": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestarconnections#ListConnectionsInput"
      },
      "output": {
        "target": "com.amazonaws.codestarconnections#ListConnectionsOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists the connections associated with your account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.codestarconnections#ListConnectionsInput": {
      "type": "structure",
      "members": {
        "ProviderTypeFilter": {
          "target": "com.amazonaws.codestarconnections#ProviderType",
          "traits": {
            "smithy.api#documentation": "<p>Filters the list of connections to those associated with a specified provider, such as\n      Bitbucket.</p>"
          }
        },
        "HostArnFilter": {
          "target": "com.amazonaws.codestarconnections#HostArn",
          "traits": {
            "smithy.api#documentation": "<p>Filters the list of connections to those associated with a specified host.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.codestarconnections#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call. To retrieve the remaining\n      results, make another call with the returned <code>nextToken</code> value.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.codestarconnections#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that was returned from the previous <code>ListConnections</code> call, which\n      can be used to return the next set of connections in the list.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestarconnections#ListConnectionsOutput": {
      "type": "structure",
      "members": {
        "Connections": {
          "target": "com.amazonaws.codestarconnections#ConnectionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of connections and the details for each connection, such as status, owner, and\n      provider type.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.codestarconnections#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that can be used in the next <code>ListConnections</code> call. To view all\n      items in the list, continue to call this operation with each subsequent token until no more\n      <code>nextToken</code> values are returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestarconnections#ListHosts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestarconnections#ListHostsInput"
      },
      "output": {
        "target": "com.amazonaws.codestarconnections#ListHostsOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists the hosts associated with your account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.codestarconnections#ListHostsInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.codestarconnections#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call. To retrieve the remaining\n      results, make another call with the returned <code>nextToken</code> value.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.codestarconnections#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that was returned from the previous <code>ListHosts</code> call, which can be\n      used to return the next set of hosts in the list.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestarconnections#ListHostsOutput": {
      "type": "structure",
      "members": {
        "Hosts": {
          "target": "com.amazonaws.codestarconnections#HostList",
          "traits": {
            "smithy.api#documentation": "<p>A list of hosts and the details for each host, such as status, endpoint, and provider\n      type.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.codestarconnections#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that can be used in the next <code>ListHosts</code> call. To view all items in the\n      list, continue to call this operation with each subsequent token until no more\n      <code>nextToken</code> values are returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestarconnections#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestarconnections#ListTagsForResourceInput"
      },
      "output": {
        "target": "com.amazonaws.codestarconnections#ListTagsForResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestarconnections#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the set of key-value pairs (metadata) that are used to manage the resource.</p>"
      }
    },
    "com.amazonaws.codestarconnections#ListTagsForResourceInput": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.codestarconnections#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource for which you want to get information about tags, if any.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codestarconnections#ListTagsForResourceOutput": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.codestarconnections#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tag key and value pairs associated with the specified resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestarconnections#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.codestarconnections#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.codestarconnections#ProviderType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Bitbucket",
            "name": "BITBUCKET"
          },
          {
            "value": "GitHub",
            "name": "GITHUB"
          },
          {
            "value": "GitHubEnterpriseServer",
            "name": "GITHUB_ENTERPRISE_SERVER"
          }
        ]
      }
    },
    "com.amazonaws.codestarconnections#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.codestarconnections#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Resource not found. Verify the connection resource ARN and try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.codestarconnections#ResourceUnavailableException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.codestarconnections#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Resource not found. Verify the ARN for the host resource and try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.codestarconnections#SecurityGroupId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 11,
          "max": 20
        },
        "smithy.api#pattern": "sg-\\w{8}(\\w{9})?"
      }
    },
    "com.amazonaws.codestarconnections#SecurityGroupIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codestarconnections#SecurityGroupId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.codestarconnections#SubnetId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 15,
          "max": 24
        },
        "smithy.api#pattern": "subnet-\\w{8}(\\w{9})?"
      }
    },
    "com.amazonaws.codestarconnections#SubnetIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codestarconnections#SubnetId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.codestarconnections#Tag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.codestarconnections#TagKey",
          "traits": {
            "smithy.api#documentation": "<p>The tag's key.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.codestarconnections#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The tag's value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A tag is a key-value pair that is used to manage the resource.</p>\n         <p>This tag is available for use by AWS services that support tags.</p>"
      }
    },
    "com.amazonaws.codestarconnections#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.codestarconnections#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codestarconnections#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.codestarconnections#TagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codestarconnections#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.codestarconnections#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestarconnections#TagResourceInput"
      },
      "output": {
        "target": "com.amazonaws.codestarconnections#TagResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestarconnections#LimitExceededException"
        },
        {
          "target": "com.amazonaws.codestarconnections#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds to or modifies the tags of the given resource. Tags are metadata that can be used\n      to manage a resource.</p>"
      }
    },
    "com.amazonaws.codestarconnections#TagResourceInput": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.codestarconnections#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource to which you want to add or update tags.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.codestarconnections#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags you want to modify or add to the resource.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codestarconnections#TagResourceOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.codestarconnections#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.codestarconnections#TlsCertificate": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16384
        },
        "smithy.api#pattern": "[\\s\\S]*"
      }
    },
    "com.amazonaws.codestarconnections#UnsupportedOperationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.codestarconnections#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation is not supported. Check the connection status and try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.codestarconnections#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestarconnections#UntagResourceInput"
      },
      "output": {
        "target": "com.amazonaws.codestarconnections#UntagResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestarconnections#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes tags from an AWS resource.</p>"
      }
    },
    "com.amazonaws.codestarconnections#UntagResourceInput": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.codestarconnections#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource to remove tags from.</p>",
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.codestarconnections#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The list of keys for the tags to be removed from the resource.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codestarconnections#UntagResourceOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.codestarconnections#UpdateHost": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestarconnections#UpdateHostInput"
      },
      "output": {
        "target": "com.amazonaws.codestarconnections#UpdateHostOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestarconnections#ConflictException"
        },
        {
          "target": "com.amazonaws.codestarconnections#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codestarconnections#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.codestarconnections#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates a specified host with the provided configurations.</p>"
      }
    },
    "com.amazonaws.codestarconnections#UpdateHostInput": {
      "type": "structure",
      "members": {
        "HostArn": {
          "target": "com.amazonaws.codestarconnections#HostArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the host to be updated.</p>",
            "smithy.api#required": {}
          }
        },
        "ProviderEndpoint": {
          "target": "com.amazonaws.codestarconnections#Url",
          "traits": {
            "smithy.api#documentation": "<p>The URL or endpoint of the host to be updated.</p>"
          }
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.codestarconnections#VpcConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The VPC configuration of the host to be updated. A VPC must be configured and the\n      infrastructure to be represented by the host must already be connected to the VPC.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestarconnections#UpdateHostOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.codestarconnections#Url": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.codestarconnections#VpcConfiguration": {
      "type": "structure",
      "members": {
        "VpcId": {
          "target": "com.amazonaws.codestarconnections#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon VPC connected to the infrastructure where your provider type is\n      installed.</p>",
            "smithy.api#required": {}
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.codestarconnections#SubnetIds",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the subnet or subnets associated with the Amazon VPC connected to the\n      infrastructure where your provider type is installed.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.codestarconnections#SecurityGroupIds",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the security group or security groups associated with the Amazon VPC connected\n      to the infrastructure where your provider type is installed.</p>",
            "smithy.api#required": {}
          }
        },
        "TlsCertificate": {
          "target": "com.amazonaws.codestarconnections#TlsCertificate",
          "traits": {
            "smithy.api#documentation": "<p>The value of the Transport Layer Security (TLS) certificate associated with the infrastructure where your provider type is installed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The VPC configuration provisioned for the host.</p>"
      }
    },
    "com.amazonaws.codestarconnections#VpcId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 21
        },
        "smithy.api#pattern": "vpc-\\w{8}(\\w{9})?"
      }
    }
  }
}