{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.codecommit#AccountId": {
      "type": "string"
    },
    "com.amazonaws.codecommit#ActorDoesNotExistException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified Amazon Resource Name (ARN) does not exist in the AWS account.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#AdditionalData": {
      "type": "string"
    },
    "com.amazonaws.codecommit#Approval": {
      "type": "structure",
      "members": {
        "userArn": {
          "target": "com.amazonaws.codecommit#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the user.</p>"
          }
        },
        "approvalState": {
          "target": "com.amazonaws.codecommit#ApprovalState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the approval, APPROVE or REVOKE. REVOKE states are not stored.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a specific approval on a pull request.</p>"
      }
    },
    "com.amazonaws.codecommit#ApprovalList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codecommit#Approval"
      }
    },
    "com.amazonaws.codecommit#ApprovalRule": {
      "type": "structure",
      "members": {
        "approvalRuleId": {
          "target": "com.amazonaws.codecommit#ApprovalRuleId",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated ID of the approval rule.</p>"
          }
        },
        "approvalRuleName": {
          "target": "com.amazonaws.codecommit#ApprovalRuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the approval rule.</p>"
          }
        },
        "approvalRuleContent": {
          "target": "com.amazonaws.codecommit#ApprovalRuleContent",
          "traits": {
            "smithy.api#documentation": "<p>The content of the approval rule.</p>"
          }
        },
        "ruleContentSha256": {
          "target": "com.amazonaws.codecommit#RuleContentSha256",
          "traits": {
            "smithy.api#documentation": "<p>The SHA-256 hash signature for the content of the approval rule.</p>"
          }
        },
        "lastModifiedDate": {
          "target": "com.amazonaws.codecommit#LastModifiedDate",
          "traits": {
            "smithy.api#documentation": "<p>The date the approval rule was most recently changed, in timestamp format.</p>"
          }
        },
        "creationDate": {
          "target": "com.amazonaws.codecommit#CreationDate",
          "traits": {
            "smithy.api#documentation": "<p>The date the approval rule was created, in timestamp format.</p>"
          }
        },
        "lastModifiedUser": {
          "target": "com.amazonaws.codecommit#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the user who made the most recent changes to the approval rule.</p>"
          }
        },
        "originApprovalRuleTemplate": {
          "target": "com.amazonaws.codecommit#OriginApprovalRuleTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The approval rule template used to create the rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an approval rule.</p>"
      }
    },
    "com.amazonaws.codecommit#ApprovalRuleContent": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 3000
        }
      }
    },
    "com.amazonaws.codecommit#ApprovalRuleContentRequiredException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The content for the approval rule is empty. You must provide some content for an approval rule. The content cannot be null.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#ApprovalRuleDoesNotExistException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified approval rule does not exist.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#ApprovalRuleEventMetadata": {
      "type": "structure",
      "members": {
        "approvalRuleName": {
          "target": "com.amazonaws.codecommit#ApprovalRuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the approval rule.</p>"
          }
        },
        "approvalRuleId": {
          "target": "com.amazonaws.codecommit#ApprovalRuleId",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated ID of the approval rule.</p>"
          }
        },
        "approvalRuleContent": {
          "target": "com.amazonaws.codecommit#ApprovalRuleContent",
          "traits": {
            "smithy.api#documentation": "<p>The content of the approval rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an event for an approval rule.</p>"
      }
    },
    "com.amazonaws.codecommit#ApprovalRuleId": {
      "type": "string"
    },
    "com.amazonaws.codecommit#ApprovalRuleName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.codecommit#ApprovalRuleNameAlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An approval rule with that name already exists. Approval rule names must be unique\n            within the scope of a pull request.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#ApprovalRuleNameRequiredException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An approval rule name is required, but was not specified.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#ApprovalRuleOverriddenEventMetadata": {
      "type": "structure",
      "members": {
        "revisionId": {
          "target": "com.amazonaws.codecommit#RevisionId",
          "traits": {
            "smithy.api#documentation": "<p>The revision ID of the pull request when the override event occurred.</p>"
          }
        },
        "overrideStatus": {
          "target": "com.amazonaws.codecommit#OverrideStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the override event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an override event for approval rules for a pull request.</p>"
      }
    },
    "com.amazonaws.codecommit#ApprovalRuleTemplate": {
      "type": "structure",
      "members": {
        "approvalRuleTemplateId": {
          "target": "com.amazonaws.codecommit#ApprovalRuleTemplateId",
          "traits": {
            "smithy.api#documentation": "<p>The system-generated ID of the approval rule template.</p>"
          }
        },
        "approvalRuleTemplateName": {
          "target": "com.amazonaws.codecommit#ApprovalRuleTemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the approval rule template.</p>"
          }
        },
        "approvalRuleTemplateDescription": {
          "target": "com.amazonaws.codecommit#ApprovalRuleTemplateDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the approval rule template.</p>"
          }
        },
        "approvalRuleTemplateContent": {
          "target": "com.amazonaws.codecommit#ApprovalRuleTemplateContent",
          "traits": {
            "smithy.api#documentation": "<p>The content of the approval rule template.</p>"
          }
        },
        "ruleContentSha256": {
          "target": "com.amazonaws.codecommit#RuleContentSha256",
          "traits": {
            "smithy.api#documentation": "<p>The SHA-256 hash signature for the content of the approval rule template.</p>"
          }
        },
        "lastModifiedDate": {
          "target": "com.amazonaws.codecommit#LastModifiedDate",
          "traits": {
            "smithy.api#documentation": "<p>The date the approval rule template was most recently changed, in timestamp format.</p>"
          }
        },
        "creationDate": {
          "target": "com.amazonaws.codecommit#CreationDate",
          "traits": {
            "smithy.api#documentation": "<p>The date the approval rule template was created, in timestamp format.</p>"
          }
        },
        "lastModifiedUser": {
          "target": "com.amazonaws.codecommit#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the user who made the most recent changes to the approval rule template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an approval rule template.</p>"
      }
    },
    "com.amazonaws.codecommit#ApprovalRuleTemplateContent": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 3000
        }
      }
    },
    "com.amazonaws.codecommit#ApprovalRuleTemplateContentRequiredException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The content for the approval rule template is empty. You must provide some content for an approval rule template. The content cannot be null.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#ApprovalRuleTemplateDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.codecommit#ApprovalRuleTemplateDoesNotExistException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified approval rule template does not exist. Verify that the name is correct and that you are signed in to the AWS Region where the template\n        was created, and then try again.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#ApprovalRuleTemplateId": {
      "type": "string"
    },
    "com.amazonaws.codecommit#ApprovalRuleTemplateInUseException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The approval rule template is associated with one or more repositories. You cannot delete a template that is associated with a repository. Remove\n        all associations, and then try again.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#ApprovalRuleTemplateName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.codecommit#ApprovalRuleTemplateNameAlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You cannot create an approval rule template with that name because a template with\n            that name already exists in this AWS Region for your AWS account. Approval rule template\n            names must be unique.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#ApprovalRuleTemplateNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codecommit#ApprovalRuleTemplateName"
      }
    },
    "com.amazonaws.codecommit#ApprovalRuleTemplateNameRequiredException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An approval rule template name is required, but was not specified.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#ApprovalRulesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codecommit#ApprovalRule"
      }
    },
    "com.amazonaws.codecommit#ApprovalRulesNotSatisfiedList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codecommit#ApprovalRuleName"
      }
    },
    "com.amazonaws.codecommit#ApprovalRulesSatisfiedList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codecommit#ApprovalRuleName"
      }
    },
    "com.amazonaws.codecommit#ApprovalState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "APPROVE",
            "name": "APPROVE"
          },
          {
            "value": "REVOKE",
            "name": "REVOKE"
          }
        ]
      }
    },
    "com.amazonaws.codecommit#ApprovalStateChangedEventMetadata": {
      "type": "structure",
      "members": {
        "revisionId": {
          "target": "com.amazonaws.codecommit#RevisionId",
          "traits": {
            "smithy.api#documentation": "<p>The revision ID of the pull request when the approval state changed.</p>"
          }
        },
        "approvalStatus": {
          "target": "com.amazonaws.codecommit#ApprovalState",
          "traits": {
            "smithy.api#documentation": "<p>The approval status for the pull request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a change in the approval state for a pull request.</p>"
      }
    },
    "com.amazonaws.codecommit#ApprovalStateRequiredException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An approval state is required, but was not specified.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#Approved": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.codecommit#Arn": {
      "type": "string"
    },
    "com.amazonaws.codecommit#AssociateApprovalRuleTemplateWithRepository": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codecommit#AssociateApprovalRuleTemplateWithRepositoryInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.codecommit#ApprovalRuleTemplateDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codecommit#ApprovalRuleTemplateNameRequiredException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionIntegrityChecksFailedException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyAccessDeniedException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyDisabledException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyNotFoundException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyUnavailableException"
        },
        {
          "target": "com.amazonaws.codecommit#InvalidApprovalRuleTemplateNameException"
        },
        {
          "target": "com.amazonaws.codecommit#InvalidRepositoryNameException"
        },
        {
          "target": "com.amazonaws.codecommit#MaximumRuleTemplatesAssociatedWithRepositoryException"
        },
        {
          "target": "com.amazonaws.codecommit#RepositoryDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codecommit#RepositoryNameRequiredException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an association between an approval rule template and a specified repository.\n            Then, the next time a pull request is created in the repository where the destination\n            reference (if specified) matches the destination reference (branch) for the pull\n            request, an approval rule that matches the template conditions is automatically created\n            for that pull request. If no destination references are specified in the template, an\n            approval rule that matches the template contents is created for all pull requests in\n            that repository.</p>"
      }
    },
    "com.amazonaws.codecommit#AssociateApprovalRuleTemplateWithRepositoryInput": {
      "type": "structure",
      "members": {
        "approvalRuleTemplateName": {
          "target": "com.amazonaws.codecommit#ApprovalRuleTemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the approval rule template. </p>",
            "smithy.api#required": {}
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.codecommit#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository that you want to associate with the template.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codecommit#AuthorDoesNotExistException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified Amazon Resource Name (ARN) does not exist in the AWS account.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#BatchAssociateApprovalRuleTemplateWithRepositories": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codecommit#BatchAssociateApprovalRuleTemplateWithRepositoriesInput"
      },
      "output": {
        "target": "com.amazonaws.codecommit#BatchAssociateApprovalRuleTemplateWithRepositoriesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codecommit#ApprovalRuleTemplateDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codecommit#ApprovalRuleTemplateNameRequiredException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionIntegrityChecksFailedException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyAccessDeniedException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyDisabledException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyNotFoundException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyUnavailableException"
        },
        {
          "target": "com.amazonaws.codecommit#InvalidApprovalRuleTemplateNameException"
        },
        {
          "target": "com.amazonaws.codecommit#MaximumRepositoryNamesExceededException"
        },
        {
          "target": "com.amazonaws.codecommit#RepositoryNamesRequiredException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an association between an approval rule template and one or more specified repositories. </p>"
      }
    },
    "com.amazonaws.codecommit#BatchAssociateApprovalRuleTemplateWithRepositoriesError": {
      "type": "structure",
      "members": {
        "repositoryName": {
          "target": "com.amazonaws.codecommit#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository where the association was not made.</p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.codecommit#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>An error code that specifies whether the repository name was not valid or not found.</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.codecommit#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>An error message that provides details about why the repository name was not found or not valid.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about errors in a BatchAssociateApprovalRuleTemplateWithRepositories operation.</p>"
      }
    },
    "com.amazonaws.codecommit#BatchAssociateApprovalRuleTemplateWithRepositoriesErrorsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codecommit#BatchAssociateApprovalRuleTemplateWithRepositoriesError"
      }
    },
    "com.amazonaws.codecommit#BatchAssociateApprovalRuleTemplateWithRepositoriesInput": {
      "type": "structure",
      "members": {
        "approvalRuleTemplateName": {
          "target": "com.amazonaws.codecommit#ApprovalRuleTemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the template you want to associate with one or more repositories.</p>",
            "smithy.api#required": {}
          }
        },
        "repositoryNames": {
          "target": "com.amazonaws.codecommit#RepositoryNameList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the repositories you want to associate with the template.</p>\n        <note>\n            <p>The length constraint limit is for each string in the array. The array itself can be empty.</p>\n         </note>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codecommit#BatchAssociateApprovalRuleTemplateWithRepositoriesOutput": {
      "type": "structure",
      "members": {
        "associatedRepositoryNames": {
          "target": "com.amazonaws.codecommit#RepositoryNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of names of the repositories that have been associated with the template.</p>",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.amazonaws.codecommit#BatchAssociateApprovalRuleTemplateWithRepositoriesErrorsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of any errors that might have occurred while attempting to create the association between the template and the repositories.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codecommit#BatchDescribeMergeConflicts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codecommit#BatchDescribeMergeConflictsInput"
      },
      "output": {
        "target": "com.amazonaws.codecommit#BatchDescribeMergeConflictsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codecommit#CommitDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codecommit#CommitRequiredException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionIntegrityChecksFailedException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyAccessDeniedException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyDisabledException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyNotFoundException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyUnavailableException"
        },
        {
          "target": "com.amazonaws.codecommit#InvalidCommitException"
        },
        {
          "target": "com.amazonaws.codecommit#InvalidConflictDetailLevelException"
        },
        {
          "target": "com.amazonaws.codecommit#InvalidConflictResolutionStrategyException"
        },
        {
          "target": "com.amazonaws.codecommit#InvalidContinuationTokenException"
        },
        {
          "target": "com.amazonaws.codecommit#InvalidMaxConflictFilesException"
        },
        {
          "target": "com.amazonaws.codecommit#InvalidMaxMergeHunksException"
        },
        {
          "target": "com.amazonaws.codecommit#InvalidMergeOptionException"
        },
        {
          "target": "com.amazonaws.codecommit#InvalidRepositoryNameException"
        },
        {
          "target": "com.amazonaws.codecommit#MaximumFileContentToLoadExceededException"
        },
        {
          "target": "com.amazonaws.codecommit#MaximumItemsToCompareExceededException"
        },
        {
          "target": "com.amazonaws.codecommit#MergeOptionRequiredException"
        },
        {
          "target": "com.amazonaws.codecommit#RepositoryDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codecommit#RepositoryNameRequiredException"
        },
        {
          "target": "com.amazonaws.codecommit#TipsDivergenceExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about one or more merge conflicts in the attempted merge of two commit specifiers using the squash or three-way merge strategy.</p>"
      }
    },
    "com.amazonaws.codecommit#BatchDescribeMergeConflictsError": {
      "type": "structure",
      "members": {
        "filePath": {
          "target": "com.amazonaws.codecommit#Path",
          "traits": {
            "smithy.api#documentation": "<p>The path to the file.</p>",
            "smithy.api#required": {}
          }
        },
        "exceptionName": {
          "target": "com.amazonaws.codecommit#ExceptionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the exception.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message provided by the exception.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about errors in a BatchDescribeMergeConflicts operation.</p>"
      }
    },
    "com.amazonaws.codecommit#BatchDescribeMergeConflictsErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codecommit#BatchDescribeMergeConflictsError"
      }
    },
    "com.amazonaws.codecommit#BatchDescribeMergeConflictsInput": {
      "type": "structure",
      "members": {
        "repositoryName": {
          "target": "com.amazonaws.codecommit#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository that contains the merge conflicts you want to review.</p>",
            "smithy.api#required": {}
          }
        },
        "destinationCommitSpecifier": {
          "target": "com.amazonaws.codecommit#CommitName",
          "traits": {
            "smithy.api#documentation": "<p>The branch, tag, HEAD, or other fully qualified reference used to identify a commit\n            (for example, a branch name or a full commit ID).</p>",
            "smithy.api#required": {}
          }
        },
        "sourceCommitSpecifier": {
          "target": "com.amazonaws.codecommit#CommitName",
          "traits": {
            "smithy.api#documentation": "<p>The branch, tag, HEAD, or other fully qualified reference used to identify a commit\n            (for example, a branch name or a full commit ID).</p>",
            "smithy.api#required": {}
          }
        },
        "mergeOption": {
          "target": "com.amazonaws.codecommit#MergeOptionTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The merge option or strategy you want to use to merge the code.</p>",
            "smithy.api#required": {}
          }
        },
        "maxMergeHunks": {
          "target": "com.amazonaws.codecommit#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of merge hunks to include in the output.</p>"
          }
        },
        "maxConflictFiles": {
          "target": "com.amazonaws.codecommit#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of files to include in the output.</p>"
          }
        },
        "filePaths": {
          "target": "com.amazonaws.codecommit#FilePaths",
          "traits": {
            "smithy.api#documentation": "<p>The path of the target files used to describe the conflicts. If not specified, the default is all conflict files.</p>"
          }
        },
        "conflictDetailLevel": {
          "target": "com.amazonaws.codecommit#ConflictDetailLevelTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>The level of conflict detail to use. If unspecified, the default FILE_LEVEL is used,\n            which returns a not-mergeable result if the same file has differences in both branches.\n            If LINE_LEVEL is specified, a conflict is considered not mergeable if the same file in\n            both branches has differences on the same line.</p>"
          }
        },
        "conflictResolutionStrategy": {
          "target": "com.amazonaws.codecommit#ConflictResolutionStrategyTypeEnum",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which branch to use when resolving conflicts, or whether to attempt\n            automatically merging two versions of a file. The default is NONE, which requires any\n            conflicts to be resolved manually before the merge operation is successful.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.codecommit#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>An enumeration token that, when provided in a request, returns the next batch of the\n            results.</p>"
          }
        }
      }
    },
    "com.amazonaws.codecommit#BatchDescribeMergeConflictsOutput": {
      "type": "structure",
      "members": {
        "conflicts": {
          "target": "com.amazonaws.codecommit#Conflicts",
          "traits": {
            "smithy.api#documentation": "<p>A list of conflicts for each file, including the conflict metadata and the hunks of the differences between the files.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.codecommit#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>An enumeration token that can be used in a request to return the next batch of the results.</p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.codecommit#BatchDescribeMergeConflictsErrors",
          "traits": {
            "smithy.api#documentation": "<p>A list of any errors returned while describing the merge conflicts for each file.</p>"
          }
        },
        "destinationCommitId": {
          "target": "com.amazonaws.codecommit#ObjectId",
          "traits": {
            "smithy.api#documentation": "<p>The commit ID of the destination commit specifier that was used in the merge evaluation.</p>",
            "smithy.api#required": {}
          }
        },
        "sourceCommitId": {
          "target": "com.amazonaws.codecommit#ObjectId",
          "traits": {
            "smithy.api#documentation": "<p>The commit ID of the source commit specifier that was used in the merge evaluation.</p>",
            "smithy.api#required": {}
          }
        },
        "baseCommitId": {
          "target": "com.amazonaws.codecommit#ObjectId",
          "traits": {
            "smithy.api#documentation": "<p>The commit ID of the merge base.</p>"
          }
        }
      }
    },
    "com.amazonaws.codecommit#BatchDisassociateApprovalRuleTemplateFromRepositories": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codecommit#BatchDisassociateApprovalRuleTemplateFromRepositoriesInput"
      },
      "output": {
        "target": "com.amazonaws.codecommit#BatchDisassociateApprovalRuleTemplateFromRepositoriesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codecommit#ApprovalRuleTemplateDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codecommit#ApprovalRuleTemplateNameRequiredException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionIntegrityChecksFailedException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyAccessDeniedException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyDisabledException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyNotFoundException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyUnavailableException"
        },
        {
          "target": "com.amazonaws.codecommit#InvalidApprovalRuleTemplateNameException"
        },
        {
          "target": "com.amazonaws.codecommit#MaximumRepositoryNamesExceededException"
        },
        {
          "target": "com.amazonaws.codecommit#RepositoryNamesRequiredException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the association between an approval rule template and one or more specified repositories. </p>"
      }
    },
    "com.amazonaws.codecommit#BatchDisassociateApprovalRuleTemplateFromRepositoriesError": {
      "type": "structure",
      "members": {
        "repositoryName": {
          "target": "com.amazonaws.codecommit#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository where the association with the template was not able to be removed.</p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.codecommit#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>An error code that specifies whether the repository name was not valid or not\n            found.</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.codecommit#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>An error message that provides details about why the repository name was either not found or not valid.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about errors in a BatchDisassociateApprovalRuleTemplateFromRepositories operation.</p>"
      }
    },
    "com.amazonaws.codecommit#BatchDisassociateApprovalRuleTemplateFromRepositoriesErrorsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codecommit#BatchDisassociateApprovalRuleTemplateFromRepositoriesError"
      }
    },
    "com.amazonaws.codecommit#BatchDisassociateApprovalRuleTemplateFromRepositoriesInput": {
      "type": "structure",
      "members": {
        "approvalRuleTemplateName": {
          "target": "com.amazonaws.codecommit#ApprovalRuleTemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the template that you want to disassociate from one or more repositories.</p>",
            "smithy.api#required": {}
          }
        },
        "repositoryNames": {
          "target": "com.amazonaws.codecommit#RepositoryNameList",
          "traits": {
            "smithy.api#documentation": "<p>The repository names that you want to disassociate from the approval rule\n            template.</p>\n        <note>\n            <p>The length constraint limit is for each string in the array. The array itself can be empty.</p>\n         </note>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codecommit#BatchDisassociateApprovalRuleTemplateFromRepositoriesOutput": {
      "type": "structure",
      "members": {
        "disassociatedRepositoryNames": {
          "target": "com.amazonaws.codecommit#RepositoryNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of repository names that have had their association with the template\n            removed.</p>",
            "smithy.api#required": {}
          }
        },
        "errors": {
          "target": "com.amazonaws.codecommit#BatchDisassociateApprovalRuleTemplateFromRepositoriesErrorsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of any errors that might have occurred while attempting to remove the association between the template and the repositories.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codecommit#BatchGetCommits": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codecommit#BatchGetCommitsInput"
      },
      "output": {
        "target": "com.amazonaws.codecommit#BatchGetCommitsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codecommit#CommitIdsLimitExceededException"
        },
        {
          "target": "com.amazonaws.codecommit#CommitIdsListRequiredException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionIntegrityChecksFailedException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyAccessDeniedException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyDisabledException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyNotFoundException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyUnavailableException"
        },
        {
          "target": "com.amazonaws.codecommit#InvalidRepositoryNameException"
        },
        {
          "target": "com.amazonaws.codecommit#RepositoryDoesNotExistException"
        },
        {
          "target": "com.amazonaws.codecommit#RepositoryNameRequiredException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the contents of one or more commits in a repository.</p>"
      }
    },
    "com.amazonaws.codecommit#BatchGetCommitsError": {
      "type": "structure",
      "members": {
        "commitId": {
          "target": "com.amazonaws.codecommit#ObjectId",
          "traits": {
            "smithy.api#documentation": "<p>A commit ID that either could not be found or was not in a valid format.</p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.codecommit#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>An error code that specifies whether the commit ID was not valid or not found.</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.codecommit#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>An error message that provides detail about why the commit ID either was not found or was not valid.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about errors in a BatchGetCommits operation.</p>"
      }
    },
    "com.amazonaws.codecommit#BatchGetCommitsErrorsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codecommit#BatchGetCommitsError"
      }
    },
    "com.amazonaws.codecommit#BatchGetCommitsInput": {
      "type": "structure",
      "members": {
        "commitIds": {
          "target": "com.amazonaws.codecommit#CommitIdsInputList",
          "traits": {
            "smithy.api#documentation": "<p>The full commit IDs of the commits to get information about.</p>\n        <note>\n            <p>You must supply the full SHA IDs of each commit. You cannot use shortened SHA\n                IDs.</p>\n        </note>",
            "smithy.api#required": {}
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.codecommit#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository that contains the commits.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codecommit#BatchGetCommitsOutput": {
      "type": "structure",
      "members": {
        "commits": {
          "target": "com.amazonaws.codecommit#CommitObjectsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of commit data type objects, each of which contains information about a specified commit.</p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.codecommit#BatchGetCommitsErrorsList",
          "traits": {
            "smithy.api#documentation": "<p>Returns any commit IDs for which information could not be found. For example, if one\n            of the commit IDs was a shortened SHA ID or that commit was not found in the specified\n            repository, the ID returns an error object with more information.</p>"
          }
        }
      }
    },
    "com.amazonaws.codecommit#BatchGetRepositories": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codecommit#BatchGetRepositoriesInput"
      },
      "output": {
        "target": "com.amazonaws.codecommit#BatchGetRepositoriesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codecommit#EncryptionIntegrityChecksFailedException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyAccessDeniedException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyDisabledException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyNotFoundException"
        },
        {
          "target": "com.amazonaws.codecommit#EncryptionKeyUnavailableException"
        },
        {
          "target": "com.amazonaws.codecommit#InvalidRepositoryNameException"
        },
        {
          "target": "com.amazonaws.codecommit#MaximumRepositoryNamesExceededException"
        },
        {
          "target": "com.amazonaws.codecommit#RepositoryNamesRequiredException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about one or more repositories.</p>\n        <note>\n            <p>The description field for a repository accepts all HTML characters and all valid\n                Unicode characters. Applications that do not HTML-encode the description and display\n                it in a webpage can expose users to potentially malicious code. Make sure that you\n                HTML-encode the description field in any application that uses this API to display\n                the repository description on a webpage.</p>\n         </note>"
      }
    },
    "com.amazonaws.codecommit#BatchGetRepositoriesInput": {
      "type": "structure",
      "members": {
        "repositoryNames": {
          "target": "com.amazonaws.codecommit#RepositoryNameList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the repositories to get information about.</p>\n        <note>\n            <p>The length constraint limit is for each string in the array. The array itself can be empty.</p>\n         </note>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input of a batch get repositories operation.</p>"
      }
    },
    "com.amazonaws.codecommit#BatchGetRepositoriesOutput": {
      "type": "structure",
      "members": {
        "repositories": {
          "target": "com.amazonaws.codecommit#RepositoryMetadataList",
          "traits": {
            "smithy.api#documentation": "<p>A list of repositories returned by the batch get repositories operation.</p>"
          }
        },
        "repositoriesNotFound": {
          "target": "com.amazonaws.codecommit#RepositoryNotFoundList",
          "traits": {
            "smithy.api#documentation": "<p>Returns a list of repository names for which information could not be found.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a batch get repositories operation.</p>"
      }
    },
    "com.amazonaws.codecommit#BeforeCommitIdAndAfterCommitIdAreSameException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The before commit ID and the after commit ID are the same, which is not valid. The before commit ID and the after commit ID must be different commit IDs.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#BlobIdDoesNotExistException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified blob does not exist.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#BlobIdRequiredException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A blob ID is required, but was not specified.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#BlobMetadata": {
      "type": "structure",
      "members": {
        "blobId": {
          "target": "com.amazonaws.codecommit#ObjectId",
          "traits": {
            "smithy.api#documentation": "<p>The full ID of the blob.</p>"
          }
        },
        "path": {
          "target": "com.amazonaws.codecommit#Path",
          "traits": {
            "smithy.api#documentation": "<p>The path to the blob and associated file name, if any.</p>"
          }
        },
        "mode": {
          "target": "com.amazonaws.codecommit#Mode",
          "traits": {
            "smithy.api#documentation": "<p>The file mode permissions of the blob. File mode permission codes include:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>100644</code> indicates read/write</p>\n            </li>\n            <li>\n               <p>\n                  <code>100755</code> indicates read/write/execute</p>\n            </li>\n            <li>\n               <p>\n                  <code>160000</code> indicates a submodule</p>\n            </li>\n            <li>\n               <p>\n                  <code>120000</code> indicates a symlink</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a specific Git blob object.</p>"
      }
    },
    "com.amazonaws.codecommit#BranchDoesNotExistException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified branch does not exist.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#BranchInfo": {
      "type": "structure",
      "members": {
        "branchName": {
          "target": "com.amazonaws.codecommit#BranchName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the branch.</p>"
          }
        },
        "commitId": {
          "target": "com.amazonaws.codecommit#CommitId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the last commit made to the branch.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a branch.</p>"
      }
    },
    "com.amazonaws.codecommit#BranchName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.codecommit#BranchNameExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Cannot create the branch with the specified name because the commit conflicts with an existing branch with the same name. \n            Branch names must be unique.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#BranchNameIsTagNameException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified branch name is not valid because it is a tag name. Enter the name of a\n            branch in the repository. For a list of valid branch names, use <a>ListBranches</a>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#BranchNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codecommit#BranchName"
      }
    },
    "com.amazonaws.codecommit#BranchNameRequiredException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A branch name is required, but was not specified.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#CallerReactions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codecommit#ReactionValue"
      }
    },
    "com.amazonaws.codecommit#CannotDeleteApprovalRuleFromTemplateException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The approval rule cannot be deleted from the pull request because it was created by an\n            approval rule template and applied to the pull request automatically.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#CannotModifyApprovalRuleFromTemplateException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The approval rule cannot be modified for the pull request because it was created by an\n            approval rule template and applied to the pull request automatically.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#CapitalBoolean": {
      "type": "boolean"
    },
    "com.amazonaws.codecommit#ChangeTypeEnum": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "A",
            "name": "ADDED"
          },
          {
            "value": "M",
            "name": "MODIFIED"
          },
          {
            "value": "D",
            "name": "DELETED"
          }
        ]
      }
    },
    "com.amazonaws.codecommit#ClientRequestToken": {
      "type": "string"
    },
    "com.amazonaws.codecommit#ClientRequestTokenRequiredException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codecommit#Message",
          "traits": {
            "smithy.api#documentation": "<p>Any message associated with the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A client request token is required. A client request token is an unique,\n            client-generated idempotency token that, when provided in a request, ensures the request\n            cannot be repeated with a changed parameter. If a request is received with the same\n            parameters and a token is included, the request returns information about the initial\n            request that used that token.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codecommit#CloneUrlHttp": {
      "type": "string"
    },
    "com.amazonaws.codecommit#CloneUrlSsh": {
      "type": "string"
    },
    "com.amazonaws.codecommit#CodeCommit_20150413": {
      "type": "service",
      "version": "2015-04-13",
      "operations": [
        {
          "target": "com.amazonaws.codecommit#AssociateApprovalRuleTemplateWithRepository"
        },
        {
          "target": "com.amazonaws.codecommit#BatchAssociateApprovalRuleTemplateWithRepositories"
        },
        {
          "target": "com.amazonaws.codecommit#BatchDescribeMergeConflicts"
        },
        {
          "target": "com.amazonaws.codecommit#BatchDisassociateApprovalRuleTemplateFromRepositories"
        },
        {
          "target": "com.amazonaws.codecommit#BatchGetCommits"
        },
        {
          "target": "com.amazonaws.codecommit#BatchGetRepositories"
        },
        {
          "target": "com.amazonaws.codecommit#CreateApprovalRuleTemplate"
        },
        {
          "target": "com.amazonaws.codecommit#CreateBranch"
        },
        {
          "target": "com.amazonaws.codecommit#CreateCommit"
        },
        {
          "target": "com.amazonaws.codecommit#CreatePullRequest"
        },
        {
          "target": "com.amazonaws.codecommit#CreatePullRequestApprovalRule"
        },
        {
          "target": "com.amazonaws.codecommit#CreateRepository"
        },
        {
          "target": "com.amazonaws.codecommit#CreateUnreferencedMergeCommit"
        },
        {
          "target": "com.amazonaws.codecommit#DeleteApprovalRuleTemplate"
        },
        {
          "target": "com.amazonaws.codecommit#DeleteBranch"
        },
        {
          "target": "com.amazonaws.codecommit#DeleteCommentContent"
        },
        {
          "target": "com.amazonaws.codecommit#DeleteFile"
        },
        {
          "target": "com.amazonaws.codecommit#DeletePullRequestApprovalRule"
        },
        {
          "target": "com.amazonaws.codecommit#DeleteRepository"
        },
        {
          "target": "com.amazonaws.codecommit#DescribeMergeConflicts"
        },
        {
          "target": "com.amazonaws.codecommit#DescribePullRequestEvents"
        },
        {
          "target": "com.amazonaws.codecommit#DisassociateApprovalRuleTemplateFromRepository"
        },
        {
          "target": "com.amazonaws.codecommit#EvaluatePullRequestApprovalRules"
        },
        {
          "target": "com.amazonaws.codecommit#GetApprovalRuleTemplate"
        },
        {
          "target": "com.amazonaws.codecommit#GetBlob"
        },
        {
          "target": "com.amazonaws.codecommit#GetBranch"
        },
        {
          "target": "com.amazonaws.codecommit#GetComment"
        },
        {
          "target": "com.amazonaws.codecommit#GetCommentReactions"
        },
        {
          "target": "com.amazonaws.codecommit#GetCommentsForComparedCommit"
        },
        {
          "target": "com.amazonaws.codecommit#GetCommentsForPullRequest"
        },
        {
          "target": "com.amazonaws.codecommit#GetCommit"
        },
        {
          "target": "com.amazonaws.codecommit#GetDifferences"
        },
        {
          "target": "com.amazonaws.codecommit#GetFile"
        },
        {
          "target": "com.amazonaws.codecommit#GetFolder"
        },
        {
          "target": "com.amazonaws.codecommit#GetMergeCommit"
        },
        {
          "target": "com.amazonaws.codecommit#GetMergeConflicts"
        },
        {
          "target": "com.amazonaws.codecommit#GetMergeOptions"
        },
        {
          "target": "com.amazonaws.codecommit#GetPullRequest"
        },
        {
          "target": "com.amazonaws.codecommit#GetPullRequestApprovalStates"
        },
        {
          "target": "com.amazonaws.codecommit#GetPullRequestOverrideState"
        },
        {
          "target": "com.amazonaws.codecommit#GetRepository"
        },
        {
          "target": "com.amazonaws.codecommit#GetRepositoryTriggers"
        },
        {
          "target": "com.amazonaws.codecommit#ListApprovalRuleTemplates"
        },
        {
          "target": "com.amazonaws.codecommit#ListAssociatedApprovalRuleTemplatesForRepository"
        },
        {
          "target": "com.amazonaws.codecommit#ListBranches"
        },
        {
          "target": "com.amazonaws.codecommit#ListPullRequests"
        },
        {
          "target": "com.amazonaws.codecommit#ListRepositories"
        },
        {
          "target": "com.amazonaws.codecommit#ListRepositoriesForApprovalRuleTemplate"
        },
        {
          "target": "com.amazonaws.codecommit#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.codecommit#MergeBranchesByFastForward"
        },
        {
          "target": "com.amazonaws.codecommit#MergeBranchesBySquash"
        },
        {
          "target": "com.amazonaws.codecommit#MergeBranchesByThreeWay"
        },
        {
          "target": "com.amazonaws.codecommit#MergePullRequestByFastForward"
        },
        {
          "target": "com.amazonaws.codecommit#MergePullRequestBySquash"
        },
        {
          "target": "com.amazonaws.codecommit#MergePullRequestByThreeWay"
        },
        {
          "target": "com.amazonaws.codecommit#OverridePullRequestApprovalRules"
        },
        {
          "target": "com.amazonaws.codecommit#PostCommentForComparedCommit"
        },
        {
          "target": "com.amazonaws.codecommit#PostCommentForPullRequest"
        },
        {
          "target": "com.amazonaws.codecommit#PostCommentReply"
        },
        {
          "target": "com.amazonaws.codecommit#PutCommentReaction"
        },
        {
          "target": "com.amazonaws.codecommit#PutFile"
        },
        {
          "target": "com.amazonaws.codecommit#PutRepositoryTriggers"
        },
        {
          "target": "com.amazonaws.codecommit#TagResource"
        },
        {
          "target": "com.amazonaws.codecommit#TestRepositoryTriggers"
        },
        {
          "target": "com.amazonaws.codecommit#UntagResource"
        },
        {
          "target": "com.amazonaws.codecommit#UpdateApprovalRuleTemplateContent"
        },
        {
          "target": "com.amazonaws.codecommit#UpdateApprovalRuleTemplateDescription"
        },
        {
          "target": "com.amazonaws.codecommit#UpdateApprovalRuleTemplateName"
        },
        {
          "target": "com.amazonaws.codecommit#UpdateComment"
        },
        {
          "target": "com.amazonaws.codecommit#UpdateDefaultBranch"
        },
        {
          "target": "com.amazonaws.codecommit#UpdatePullRequestApprovalRuleContent"
        },
        {
          "target": "com.amazonaws.codecommit#UpdatePullRequestApprovalState"
        },
        {
          "target": "com.amazonaws.codecommit#UpdatePullRequestDescription"
        },
        {
          "target": "com.amazonaws.codecommit#UpdatePullRequestStatus"
        },
        {
          "target": "com.amazonaws.codecommit#UpdatePullRequestTitle"
        },
        {
          "target": "com.amazonaws.codecommit#UpdateRepositoryDescription"
        },
        {
          "target": "com.amazonaws.codecommit#UpdateRepositoryName"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CodeCommit",
          "arnNamespace": "codecommit",
          "cloudFormationName": "CodeCommit",
          "cloudTrailEventSource": "codecommit.amazonaws.com",
          "endpointPrefix": "codecommit"
        },
        "aws.auth#sigv4": {
          "name": "codecommit"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>AWS CodeCommit</fullname>\n        <p>This is the <i>AWS CodeCommit API Reference</i>. This reference provides descriptions of the operations and data types for \n            AWS CodeCommit API along with usage examples.</p>\n        <p>You can use the AWS CodeCommit API to work with the following objects:</p>\n        \n            <p>Repositories, by calling the following:</p>\n          <ul>\n            <li>\n                  <p>\n                  <a>BatchGetRepositories</a>, which returns information about one or more repositories associated with your AWS account.</p>\n            </li>\n            <li>\n                  <p>\n                  <a>CreateRepository</a>, which creates an AWS CodeCommit repository.</p>\n            </li>\n            <li>\n                  <p>\n                  <a>DeleteRepository</a>, which deletes an AWS CodeCommit repository.</p>\n            </li>\n            <li>\n                  <p>\n                  <a>GetRepository</a>, which returns information about a specified repository.</p>\n            </li>\n            <li>\n                  <p>\n                  <a>ListRepositories</a>, which lists all AWS CodeCommit repositories associated with your AWS account.</p>\n            </li>\n            <li>\n                  <p>\n                  <a>UpdateRepositoryDescription</a>, which sets or updates the description of the repository.</p>\n              </li>\n            <li>\n                  <p>\n                  <a>UpdateRepositoryName</a>, which changes the name of the\n                    repository. If you change the name of a repository, no other users of that\n                    repository can access it until you send them the new HTTPS or SSH URL to\n                    use.</p>\n            </li>\n         </ul>\n        \n            <p>Branches, by calling the following:</p>\n            <ul>\n            <li>\n                    <p>\n                  <a>CreateBranch</a>, which creates a branch in a specified\n                    repository.</p>\n            </li>\n            <li>\n                    <p>\n                  <a>DeleteBranch</a>, which deletes the specified branch in a repository unless it is the default branch.</p>\n                </li>\n            <li>\n                    <p>\n                  <a>GetBranch</a>, which returns information about a specified branch.</p>\n            </li>\n            <li>\n                    <p>\n                  <a>ListBranches</a>, which lists all branches for a specified repository.</p>\n            </li>\n            <li>\n                    <p>\n                  <a>UpdateDefaultBranch</a>, which changes the default branch for a repository.</p>\n            </li>\n         </ul>\n        \n        <p>Files, by calling the following:</p>\n        <ul>\n            <li>\n               <p>\n                  <a>DeleteFile</a>, which deletes the content of a specified file from a specified branch.</p>\n            </li>\n            <li>\n                <p>\n                  <a>GetBlob</a>, which returns the base-64 encoded content of an\n                    individual Git blob object in a repository.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetFile</a>, which returns the base-64 encoded content of a specified file.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetFolder</a>, which returns the contents of a specified folder or directory.</p>\n            </li>\n            <li>\n               <p>\n                  <a>PutFile</a>, which adds or modifies a single file in a specified repository and branch.</p>\n            </li>\n         </ul>\n        \n        \n            <p>Commits, by calling the following:</p>\n              <ul>\n            <li>\n                      <p>\n                  <a>BatchGetCommits</a>, which returns information about one or more commits in a repository.</p>\n                  </li>\n            <li>\n               <p>\n                  <a>CreateCommit</a>, which creates a commit for changes to a repository.</p>\n            </li>\n            <li>\n                      <p>\n                  <a>GetCommit</a>, which returns information about  a commit, including commit \n                          messages and author and committer information.</p>\n                  </li>\n            <li>\n                      <p>\n                  <a>GetDifferences</a>, which returns information about the\n                    differences in a valid commit specifier (such as a branch, tag, HEAD, commit ID,\n                    or other fully qualified reference).</p>\n                  </li>\n         </ul>\n        \n\n        <p>Merges, by calling the following:</p>\n        <ul>\n            <li>\n                <p>\n                  <a>BatchDescribeMergeConflicts</a>, which returns information about conflicts in a merge between commits in a repository.</p>\n            </li>\n            <li>\n                <p>\n                  <a>CreateUnreferencedMergeCommit</a>, which creates an unreferenced commit between two branches or commits for the\n                    purpose of comparing them and identifying any potential conflicts.</p>\n            </li>\n            <li>\n                <p>\n                  <a>DescribeMergeConflicts</a>, which returns information about merge conflicts between the base, source, and destination versions\n                    of a file in a potential merge.</p>\n            </li>\n            <li>\n                <p>\n                  <a>GetMergeCommit</a>, which returns information about the merge between a source and destination commit. </p>\n\n            </li>\n            <li>\n                <p>\n                  <a>GetMergeConflicts</a>, which returns information about merge conflicts\n                    between the source and destination branch in a pull request.</p>\n            </li>\n            <li>\n\n                <p>\n                  <a>GetMergeOptions</a>, which returns information about the available merge options between two branches or commit specifiers.</p>\n            </li>\n            <li>\n                <p>\n                  <a>MergeBranchesByFastForward</a>, which merges two branches using the fast-forward merge option.</p>\n            </li>\n            <li>\n                <p>\n                  <a>MergeBranchesBySquash</a>, which merges two branches using the squash merge option.</p>\n            </li>\n            <li>\n                <p>\n                  <a>MergeBranchesByThreeWay</a>, which merges two branches using the three-way merge option.</p>\n            </li>\n         </ul>\n        \n        \n        <p>Pull requests, by calling the following:</p>\n        <ul>\n            <li>\n                <p>\n                  <a>CreatePullRequest</a>, which creates a pull request in a specified repository.</p>\n            </li>\n            <li>\n               <p>\n                  <a>CreatePullRequestApprovalRule</a>, which creates an approval rule for a specified pull request.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DeletePullRequestApprovalRule</a>, which deletes an approval rule for a specified pull request.</p>\n            </li>\n            <li>\n                <p>\n                  <a>DescribePullRequestEvents</a>, which returns information about one or more pull request events.</p>\n            </li>\n            <li>\n               <p>\n                  <a>EvaluatePullRequestApprovalRules</a>, which evaluates whether a pull request has met all the conditions specified in its associated approval rules.</p>\n            </li>\n            <li>\n                <p>\n                  <a>GetCommentsForPullRequest</a>, which returns information about comments on a specified pull request.</p>\n            </li>\n            <li>\n\n                <p>\n                  <a>GetPullRequest</a>, which returns information about a specified pull request.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetPullRequestApprovalStates</a>, which returns information about the approval states for a specified pull request.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetPullRequestOverrideState</a>, which returns information about whether approval rules have been set aside (overriden) for a \n            pull request, and if so, the Amazon Resource Name (ARN) of the user or identity that overrode the rules and their requirements for the pull request.</p>\n            </li>\n            <li> \n                <p>\n                  <a>ListPullRequests</a>, which lists all pull requests for a repository.</p>\n            </li>\n            <li>\n                <p>\n                  <a>MergePullRequestByFastForward</a>, which merges the source destination branch of a pull request into the specified destination\n                    branch for that pull request using the fast-forward merge option.</p>\n            </li>\n            <li>\n                <p>\n                  <a>MergePullRequestBySquash</a>, which merges the source destination branch of a pull request into the specified destination\n                branch for that pull request using the squash merge option.</p>\n            </li>\n            <li>\n                <p>\n                  <a>MergePullRequestByThreeWay</a>. which merges the source destination branch of a pull request into the specified destination\n                branch for that pull request using the three-way merge option.</p>\n            </li>\n            <li>\n               <p>\n                  <a>OverridePullRequestApprovalRules</a>, which sets aside all approval rule requirements for a pull request.</p>\n            </li>\n            <li>\n                <p>\n                  <a>PostCommentForPullRequest</a>, which posts a comment to a pull request at the specified line, file, or request.</p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdatePullRequestApprovalRuleContent</a>, which updates the structure of an approval rule for a pull request.</p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdatePullRequestApprovalState</a>, which updates the state of an approval on a pull request.</p>\n            </li>\n            <li>\n                <p>\n                  <a>UpdatePullRequestDescription</a>, which updates the description of a pull request.</p>\n            </li>\n            <li>\n                <p>\n                  <a>UpdatePullRequestStatus</a>, which updates the status of a pull request.</p>\n            </li>\n            <li>\n                <p>\n                  <a>UpdatePullRequestTitle</a>, which updates the title of a pull request.</p>\n            </li>\n         </ul>\n        \n        <p>Approval rule templates, by calling the following:</p>\n        <ul>\n            <li>\n               <p>\n                  <a>AssociateApprovalRuleTemplateWithRepository</a>, which associates a template\n                    with a specified repository. After the template is associated with a repository,\n                    AWS CodeCommit creates approval rules that match the template conditions on\n                    every pull request created in the specified repository.</p>\n            </li>\n            <li>\n               <p>\n                  <a>BatchAssociateApprovalRuleTemplateWithRepositories</a>, which associates a\n                    template with one or more specified repositories. After the template is\n                    associated with a repository, AWS CodeCommit creates approval rules that match\n                    the template conditions on every pull request created in the specified\n                    repositories.</p>\n            </li>\n            <li>\n               <p>\n                  <a>BatchDisassociateApprovalRuleTemplateFromRepositories</a>, which removes the\n                    association between a template and specified repositories so that approval rules\n                    based on the template are not automatically created when pull requests are\n                    created in those repositories.</p>\n            </li>\n            <li>\n               <p>\n                  <a>CreateApprovalRuleTemplate</a>, which creates a template for approval rules that can then be associated with one or more repositories\n             in your AWS account.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteApprovalRuleTemplate</a>, which deletes the specified template. It does not remove approval rules on pull requests already created with the template.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DisassociateApprovalRuleTemplateFromRepository</a>, which removes the\n                    association between a template and a repository so that approval rules based on\n                    the template are not automatically created when pull requests are created in the\n                    specified repository.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetApprovalRuleTemplate</a>, which returns information about an approval rule template.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListApprovalRuleTemplates</a>, which lists all approval rule templates in the AWS Region in your AWS account.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListAssociatedApprovalRuleTemplatesForRepository</a>, which lists all approval rule templates that are associated with a specified repository.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListRepositoriesForApprovalRuleTemplate</a>, which lists all repositories associated with the specified approval rule template.</p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateApprovalRuleTemplateDescription</a>, which updates the description of an\n                    approval rule template.</p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateApprovalRuleTemplateName</a>, which updates the name of an approval rule template.</p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateApprovalRuleTemplateContent</a>, which updates the content of an approval rule template.</p>\n            </li>\n         </ul>\n        \n        <p>Comments in a repository, by calling the following:</p>\n        <ul>\n            <li>\n                <p>\n                  <a>DeleteCommentContent</a>, which deletes the content of a comment on a commit in a repository.</p>\n            </li>\n            <li>\n                <p>\n                  <a>GetComment</a>, which returns information about a comment on a commit.</p>\n            </li>\n            <li>\n                <p>\n                  <a>GetCommentReactions</a>, which returns information about emoji reactions to comments.</p>\n            </li>\n            <li>\n                <p>\n                  <a>GetCommentsForComparedCommit</a>, which returns information about comments on the comparison between two commit specifiers \n                    in a repository.</p>\n            </li>\n            <li>\n                <p>\n                  <a>PostCommentForComparedCommit</a>, which creates a comment on the comparison between two commit specifiers in a repository.</p>\n            </li>\n            <li>\n                <p>\n                  <a>PostCommentReply</a>, which creates a reply to a comment.</p>\n            </li>\n            <li>\n               <p>\n                  <a>PutCommentReaction</a>, which creates or updates an emoji reaction to a comment.</p>\n            </li>\n            <li>\n                <p>\n                  <a>UpdateComment</a>, which updates the content of a comment on a commit in a repository.</p>\n            </li>\n         </ul>\n        \n        <p>Tags used to tag resources in AWS CodeCommit (not Git tags), by calling the following:</p>\n        <ul>\n            <li>\n               <p>\n                  <a>ListTagsForResource</a>, which gets information about AWS tags for a specified Amazon Resource Name (ARN) in AWS CodeCommit.</p>\n            </li>\n            <li>\n               <p>\n                  <a>TagResource</a>, which adds or updates tags for a resource in AWS CodeCommit.</p>\n            </li>\n            <li>\n               <p>\n                  <a>UntagResource</a>, which removes tags for a resource in AWS CodeCommit.</p>\n            </li>\n         </ul>\n         \n            <p>Triggers, by calling the following:</p> \n                <ul>\n            <li>\n                        <p>\n                  <a>GetRepositoryTriggers</a>, which returns information about triggers configured \n                            for a repository.</p>\n            </li>\n            <li>\n                        <p>\n                  <a>PutRepositoryTriggers</a>, which replaces all triggers for a repository and can \n                            be used to create or delete triggers.</p>\n            </li>\n            <li>\n                        <p>\n                  <a>TestRepositoryTriggers</a>, which tests the functionality of a repository trigger \n                            by sending data to the trigger target.</p>\n            </li>\n         </ul>\n                   \n            \n             \n        \n        <p>For information about how to use AWS CodeCommit, see the <a href=\"https://docs.aws.amazon.com/codecommit/latest/userguide/welcome.html\">AWS CodeCommit User Guide</a>.</p>",
        "smithy.api#title": "AWS CodeCommit",
        "smithy.api#xmlNamespace": {
          "uri": "http://codecommit.amazonaws.com/doc/2015-04-13"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://codecommit-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://codecommit-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://codecommit.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://codecommit.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codecommit-fips.ap-south-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codecommit-fips.ap-south-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codecommit.ap-south-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codecommit.ap-south-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codecommit-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codecommit-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codecommit.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codecommit.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codecommit-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codecommit-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codecommit.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codecommit.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codecommit-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codecommit-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codecommit.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
[...]
