{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.codeartifact#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codeartifact#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n        The operation did not succeed because of an unauthorized access attempt.\n      </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.codeartifact#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "[0-9]{12}"
      }
    },
    "com.amazonaws.codeartifact#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "\\S+"
      }
    },
    "com.amazonaws.codeartifact#Asset": {
      "type": "blob",
      "traits": {
        "smithy.api#streaming": {}
      }
    },
    "com.amazonaws.codeartifact#AssetHashes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.codeartifact#HashAlgorithm"
      },
      "value": {
        "target": "com.amazonaws.codeartifact#HashValue"
      }
    },
    "com.amazonaws.codeartifact#AssetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "\\P{C}+"
      }
    },
    "com.amazonaws.codeartifact#AssetSummary": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codeartifact#AssetName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the asset.\n       </p>",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "com.amazonaws.codeartifact#LongOptional",
          "traits": {
            "smithy.api#documentation": "<p>\n      The size of the asset.\n    </p>"
          }
        },
        "hashes": {
          "target": "com.amazonaws.codeartifact#AssetHashes",
          "traits": {
            "smithy.api#documentation": "<p>\n      The hashes of the asset.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n        Contains details about a package version asset.\n       </p>"
      }
    },
    "com.amazonaws.codeartifact#AssetSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codeartifact#AssetSummary"
      }
    },
    "com.amazonaws.codeartifact#AssociateExternalConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeartifact#AssociateExternalConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.codeartifact#AssociateExternalConnectionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeartifact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codeartifact#ConflictException"
        },
        {
          "target": "com.amazonaws.codeartifact#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeartifact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeartifact#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.codeartifact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeartifact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds an existing external connection to a repository. One external connection is allowed\n      per repository.</p>\n         <note>\n            <p>A repository can have one or more upstream repositories, or an external connection.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/repository/external-connection",
          "code": 200
        }
      }
    },
    "com.amazonaws.codeartifact#AssociateExternalConnectionRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that contains the repository.</p>",
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {}
          }
        },
        "domainOwner": {
          "target": "com.amazonaws.codeartifact#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n        The 12-digit account number of the AWS account that owns the domain. It does not include \n        dashes or spaces.\n      </p>",
            "smithy.api#httpQuery": "domain-owner"
          }
        },
        "repository": {
          "target": "com.amazonaws.codeartifact#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The name of the repository to which the external connection is added.\n    </p>",
            "smithy.api#httpQuery": "repository",
            "smithy.api#required": {}
          }
        },
        "externalConnection": {
          "target": "com.amazonaws.codeartifact#ExternalConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The name of the external connection to add to the repository. The following values are supported:\n    </p>\n         <ul>\n            <li>\n               <p>\n                  <code>public:npmjs</code> - for the npm public repository.\n        </p>\n            </li>\n            <li>\n               <p>\n                  <code>public:pypi</code> - for the Python Package Index.\n        </p>\n            </li>\n            <li>\n               <p>\n                  <code>public:maven-central</code> - for Maven Central.\n        </p>\n            </li>\n            <li>\n               <p>\n                  <code>public:maven-googleandroid</code> - for the Google Android repository.\n        </p>\n            </li>\n            <li>\n               <p>\n                  <code>public:maven-gradleplugins</code> - for the Gradle plugins repository.\n        </p>\n            </li>\n            <li>\n               <p>\n                  <code>public:maven-commonsware</code> - for the CommonsWare Android repository.\n        </p>\n            </li>\n            <li>\n               <p>\n                  <code>public:nuget-org</code> - for the NuGet Gallery.\n        </p>\n            </li>\n         </ul>",
            "smithy.api#httpQuery": "external-connection",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codeartifact#AssociateExternalConnectionResult": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "com.amazonaws.codeartifact#RepositoryDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n        Information about the connected repository after processing the request.\n       </p>"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#AuthorizationTokenDurationSeconds": {
      "type": "long",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 43200
        }
      }
    },
    "com.amazonaws.codeartifact#BooleanOptional": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.codeartifact#CodeArtifactControlPlaneService": {
      "type": "service",
      "version": "2018-09-22",
      "operations": [
        {
          "target": "com.amazonaws.codeartifact#AssociateExternalConnection"
        },
        {
          "target": "com.amazonaws.codeartifact#CopyPackageVersions"
        },
        {
          "target": "com.amazonaws.codeartifact#CreateDomain"
        },
        {
          "target": "com.amazonaws.codeartifact#CreateRepository"
        },
        {
          "target": "com.amazonaws.codeartifact#DeleteDomain"
        },
        {
          "target": "com.amazonaws.codeartifact#DeleteDomainPermissionsPolicy"
        },
        {
          "target": "com.amazonaws.codeartifact#DeletePackageVersions"
        },
        {
          "target": "com.amazonaws.codeartifact#DeleteRepository"
        },
        {
          "target": "com.amazonaws.codeartifact#DeleteRepositoryPermissionsPolicy"
        },
        {
          "target": "com.amazonaws.codeartifact#DescribeDomain"
        },
        {
          "target": "com.amazonaws.codeartifact#DescribePackageVersion"
        },
        {
          "target": "com.amazonaws.codeartifact#DescribeRepository"
        },
        {
          "target": "com.amazonaws.codeartifact#DisassociateExternalConnection"
        },
        {
          "target": "com.amazonaws.codeartifact#DisposePackageVersions"
        },
        {
          "target": "com.amazonaws.codeartifact#GetAuthorizationToken"
        },
        {
          "target": "com.amazonaws.codeartifact#GetDomainPermissionsPolicy"
        },
        {
          "target": "com.amazonaws.codeartifact#GetPackageVersionAsset"
        },
        {
          "target": "com.amazonaws.codeartifact#GetPackageVersionReadme"
        },
        {
          "target": "com.amazonaws.codeartifact#GetRepositoryEndpoint"
        },
        {
          "target": "com.amazonaws.codeartifact#GetRepositoryPermissionsPolicy"
        },
        {
          "target": "com.amazonaws.codeartifact#ListDomains"
        },
        {
          "target": "com.amazonaws.codeartifact#ListPackages"
        },
        {
          "target": "com.amazonaws.codeartifact#ListPackageVersionAssets"
        },
        {
          "target": "com.amazonaws.codeartifact#ListPackageVersionDependencies"
        },
        {
          "target": "com.amazonaws.codeartifact#ListPackageVersions"
        },
        {
          "target": "com.amazonaws.codeartifact#ListRepositories"
        },
        {
          "target": "com.amazonaws.codeartifact#ListRepositoriesInDomain"
        },
        {
          "target": "com.amazonaws.codeartifact#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.codeartifact#PutDomainPermissionsPolicy"
        },
        {
          "target": "com.amazonaws.codeartifact#PutRepositoryPermissionsPolicy"
        },
        {
          "target": "com.amazonaws.codeartifact#TagResource"
        },
        {
          "target": "com.amazonaws.codeartifact#UntagResource"
        },
        {
          "target": "com.amazonaws.codeartifact#UpdatePackageVersionsStatus"
        },
        {
          "target": "com.amazonaws.codeartifact#UpdateRepository"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "codeartifact",
          "arnNamespace": "codeartifact",
          "cloudFormationName": "Codeartifact",
          "cloudTrailEventSource": "codeartifact.amazonaws.com",
          "endpointPrefix": "codeartifact"
        },
        "aws.auth#sigv4": {
          "name": "codeartifact"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p> AWS CodeArtifact is a fully managed artifact repository compatible with language-native\n      package managers and build tools such as npm, Apache Maven, NuGet, and pip. You can use CodeArtifact to\n      share packages with development teams and pull packages. Packages can be pulled from both\n      public and CodeArtifact repositories. You can also create an upstream relationship between a CodeArtifact\n      repository and another repository, which effectively merges their contents from the point of\n      view of a package manager client. </p>\n    \n         <p>\n            <b>AWS CodeArtifact Components</b>\n         </p>\n         <p>Use the information in this guide to help you work with the following CodeArtifact components:</p>\n    \n         <ul>\n            <li>\n               <p>\n                  <b>Repository</b>: A CodeArtifact repository contains a set of <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/welcome.html#welcome-concepts-package-version\">package\n            versions</a>, each of which maps to a set of assets, or files. Repositories are\n          polyglot, so a single repository can contain packages of any supported type. Each\n          repository exposes endpoints for fetching and publishing packages using tools like the\n            <b>\n                     <code>npm</code>\n                  </b> CLI, the <b>\n                     <code>NuGet</code>\n                  </b> CLI, \n          the Maven CLI (<b>\n                     <code>mvn</code>\n                  </b>), and <b>\n                     <code>pip</code>\n                  </b>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Domain</b>: Repositories are aggregated into a higher-level entity known as a\n            <i>domain</i>. All package assets and metadata are stored in the domain,\n            but are consumed through repositories. A given package asset, such as a Maven JAR file, is\n            stored once per domain, no matter how many repositories it's present in. All of the assets\n            and metadata in a domain are encrypted with the same customer master key (CMK) stored in\n            AWS Key Management Service (AWS KMS).</p>\n               <p>Each repository is a member of a single domain and can't be moved to a\n            different domain.</p>\n               <p>The domain allows organizational policy to be applied across multiple\n            repositories, such as which accounts can access repositories in the domain, and\n            which public repositories can be used as sources of packages.</p>\n               <p>Although an organization can have multiple domains, we recommend a single production\n            domain that contains all published artifacts so that teams can find and share packages\n            across their organization.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Package</b>: A <i>package</i> is a bundle of software and the metadata required to\n          resolve dependencies and install the software. CodeArtifact supports <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/using-npm.html\">npm</a>, <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/using-python.html\">PyPI</a>, <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/using-maven\">Maven</a>, and <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/using-nuget\">NuGet</a> package formats.</p>        \n               <p>In CodeArtifact, a package consists of:</p>\n               <ul>\n                  <li>\n                     <p>A <i>name</i> (for example, <code>webpack</code> is the name of a\n              popular npm package)</p>\n                  </li>\n                  <li>\n                     <p>An optional namespace (for example, <code>@types</code> in <code>@types/node</code>)</p>\n                  </li>\n                  <li>\n                     <p>A set of versions (for example, <code>1.0.0</code>, <code>1.0.1</code>,\n                <code>1.0.2</code>, etc.)</p>\n                  </li>\n                  <li>\n                     <p> Package-level metadata (for example, npm tags)</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>\n                  <b>Package version</b>: A version of a package, such as <code>@types/node 12.6.9</code>. The version number\n          format and semantics vary for different package formats. For example, npm package versions\n          must conform to the <a href=\"https://semver.org/\">Semantic Versioning\n            specification</a>. In CodeArtifact, a package version consists of the version identifier,\n          metadata at the package version level, and a set of assets.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Upstream repository</b>: One repository is <i>upstream</i> of another when the package versions in\n          it can be accessed from the repository endpoint of the downstream repository, effectively\n          merging the contents of the two repositories from the point of view of a client. CodeArtifact\n          allows creating an upstream relationship between two repositories.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Asset</b>: An individual file stored in CodeArtifact associated with a package version, such as an npm\n            <code>.tgz</code> file or Maven POM and JAR files.</p>\n            </li>\n         </ul>\n    \n         <p>CodeArtifact supports these operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>AssociateExternalConnection</code>: Adds an existing external \n          connection to a repository.\n        </p>\n            </li>\n            <li>\n               <p>\n                  <code>CopyPackageVersions</code>: Copies package versions from one \n          repository to another repository in the same domain.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CreateDomain</code>: Creates a domain</p>\n            </li>\n            <li>\n               <p>\n                  <code>CreateRepository</code>: Creates a CodeArtifact repository in a domain. </p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteDomain</code>: Deletes a domain. You cannot delete a domain that contains\n          repositories. </p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteDomainPermissionsPolicy</code>: Deletes the resource policy that is set on a domain.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DeletePackageVersions</code>: Deletes versions of a package. After a package has\n          been deleted, it can be republished, but its assets and metadata cannot be restored\n          because they have been permanently removed from storage.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteRepository</code>: Deletes a repository.          \n        </p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteRepositoryPermissionsPolicy</code>: Deletes the resource policy that is set on a repository.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DescribeDomain</code>: Returns a <code>DomainDescription</code> object that\n          contains information about the requested domain.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DescribePackageVersion</code>: Returns a <code>\n                     <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_PackageVersionDescription.html\">PackageVersionDescription</a>\n                  </code> \n          object that contains details about a package version. </p>\n            </li>\n            <li>\n               <p>\n                  <code>DescribeRepository</code>: Returns a <code>RepositoryDescription</code> object\n          that contains detailed information about the requested repository. </p>\n            </li>\n            <li>\n               <p>\n                  <code>DisposePackageVersions</code>: Disposes versions of a package. A package version\n          with the status <code>Disposed</code> cannot be restored because they have been\n          permanently removed from storage.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DisassociateExternalConnection</code>: Removes an existing external connection from a repository.          \n        </p>\n            </li>\n            <li>\n               <p>\n                  <code>GetAuthorizationToken</code>: Generates a temporary authorization token for accessing repositories in the domain. The token expires the authorization period has passed. \n          The default authorization period is 12 hours and can be customized to any length with a maximum of 12 hours.</p>\n            </li>\n            <li>\n               <p>\n                  <code>GetDomainPermissionsPolicy</code>: Returns the policy of a resource\n          that is attached to the specified domain. </p>\n            </li>\n            <li>\n               <p>\n                  <code>GetPackageVersionAsset</code>: Returns the contents of an asset that is in a package version. </p>\n            </li>\n            <li>\n               <p>\n                  <code>GetPackageVersionReadme</code>: Gets the readme file or descriptive text for a package version.</p>\n            </li>\n            <li>\n               <p>\n                  <code>GetRepositoryEndpoint</code>: Returns the endpoint of a repository for a specific package format. A repository has one endpoint for each \n          package format:\n        </p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>npm</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>pypi</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>maven</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>nuget</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>\n                  <code>GetRepositoryPermissionsPolicy</code>: Returns the resource policy that is set on a repository.          \n        </p>\n            </li>\n            <li>\n               <p>\n                  <code>ListDomains</code>: Returns a list of <code>DomainSummary</code> objects. Each\n          returned <code>DomainSummary</code> object contains information about a domain.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListPackages</code>: Lists the packages in a repository.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListPackageVersionAssets</code>: Lists the assets for a given package version.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListPackageVersionDependencies</code>: Returns a list of the direct dependencies for a\n          package version. </p>\n            </li>\n            <li>\n               <p>\n                  <code>ListPackageVersions</code>: Returns a list of package versions for a specified\n          package in a repository.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListRepositories</code>: Returns a list of repositories owned by the AWS account that called this method.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListRepositoriesInDomain</code>: Returns a list of the repositories in a domain.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListTagsForResource</code>: Returns a list of the tags associated with a resource.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PutDomainPermissionsPolicy</code>: Attaches a resource policy to a domain.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PutRepositoryPermissionsPolicy</code>: Sets the resource policy on a repository\n          that specifies permissions to access it. </p>\n            </li>\n            <li>\n               <p>\n                  <code>TagResource</code>: Adds or updates tags for a resource.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UntagResource</code>: Removes a tag from a resource. </p>\n            </li>\n            <li>\n               <p>\n                  <code>UpdatePackageVersionsStatus</code>: Updates the status of one or more versions of a package.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UpdateRepository</code>: Updates the properties of a repository.</p>\n            </li>\n         </ul>",
        "smithy.api#title": "CodeArtifact"
      }
    },
    "com.amazonaws.codeartifact#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codeartifact#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.codeartifact#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the resource.\n    </p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.codeartifact#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The type of AWS resource.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n        The operation did not succeed because prerequisites are not met.\n      </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.codeartifact#CopyPackageVersions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeartifact#CopyPackageVersionsRequest"
      },
      "output": {
        "target": "com.amazonaws.codeartifact#CopyPackageVersionsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeartifact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codeartifact#ConflictException"
        },
        {
          "target": "com.amazonaws.codeartifact#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeartifact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeartifact#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.codeartifact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeartifact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n        Copies package versions from one repository to another repository in the same domain.\n      </p>\n         <note>\n            <p>\n        You must specify <code>versions</code> or <code>versionRevisions</code>. You cannot specify both.\n      </p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/package/versions/copy",
          "code": 200
        }
      }
    },
    "com.amazonaws.codeartifact#CopyPackageVersionsRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n        The name of the domain that contains the source and destination repositories.\n      </p>",
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {}
          }
        },
        "domainOwner": {
          "target": "com.amazonaws.codeartifact#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n        The 12-digit account number of the AWS account that owns the domain. It does not include \n        dashes or spaces.\n      </p>",
            "smithy.api#httpQuery": "domain-owner"
          }
        },
        "sourceRepository": {
          "target": "com.amazonaws.codeartifact#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the repository that contains the package versions to copy.\n       </p>",
            "smithy.api#httpQuery": "source-repository",
            "smithy.api#required": {}
          }
        },
        "destinationRepository": {
          "target": "com.amazonaws.codeartifact#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The name of the repository into which package versions are copied.\n    </p>",
            "smithy.api#httpQuery": "destination-repository",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.amazonaws.codeartifact#PackageFormat",
          "traits": {
            "smithy.api#documentation": "<p>\n      The format of the package that is copied. The valid package types are:\n    </p>\n         <ul>\n            <li>\n               <p>\n                  <code>npm</code>: A Node Package Manager (npm) package.\n        </p>\n            </li>\n            <li>\n               <p>\n                  <code>pypi</code>: A Python Package Index (PyPI) package.\n        </p>\n            </li>\n            <li>\n               <p>\n                  <code>maven</code>: A Maven package that contains compiled code in a distributable format, such as a JAR file.\n        </p>\n            </li>\n            <li>\n               <p>\n                  <code>nuget</code>: A NuGet package.\n        </p>\n            </li>\n         </ul>",
            "smithy.api#httpQuery": "format",
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.codeartifact#PackageNamespace",
          "traits": {
            "smithy.api#documentation": "<p>\n      The namespace of the package. The package component that specifies its \n      namespace depends on its type. For example:\n    </p>\n         <ul>\n            <li>\n               <p>\n          The namespace of a Maven package is its <code>groupId</code>.\n        </p>\n            </li>\n            <li>\n               <p>\n          The namespace of an npm package is its <code>scope</code>.\n        </p>\n            </li>\n            <li>\n               <p>\n          A Python package does not contain a corresponding component, so \n          Python packages do not have a namespace.\n        </p>\n            </li>\n            <li>\n               <p>\n          A NuGet package does not contain a corresponding component, so \n          NuGet packages do not have a namespace.\n        </p>\n            </li>\n         </ul>",
            "smithy.api#httpQuery": "namespace"
          }
        },
        "package": {
          "target": "com.amazonaws.codeartifact#PackageName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The name of the package that is copied.\n    </p>",
            "smithy.api#httpQuery": "package",
            "smithy.api#required": {}
          }
        },
        "versions": {
          "target": "com.amazonaws.codeartifact#PackageVersionList",
          "traits": {
            "smithy.api#documentation": "<p>\n        The versions of the package to copy.\n      </p>\n         <note>\n            <p>\n        You must specify <code>versions</code> or <code>versionRevisions</code>. You cannot specify both.\n      </p>\n         </note>"
          }
        },
        "versionRevisions": {
          "target": "com.amazonaws.codeartifact#PackageVersionRevisionMap",
          "traits": {
            "smithy.api#documentation": "<p>\n       A list of key-value pairs. The keys are package versions and the values are package version revisions. A <code>CopyPackageVersion</code> operation\n      succeeds if the specified versions in the source repository match the specified package version revision.\n    </p>\n         <note>\n            <p>\n        You must specify <code>versions</code> or <code>versionRevisions</code>. You cannot specify both.\n      </p>\n         </note>"
          }
        },
        "allowOverwrite": {
          "target": "com.amazonaws.codeartifact#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>\n       Set to true to overwrite a package version that already exists in the destination repository.\n       If set to false and the package version already exists in the destination repository,\n       the package version is returned in the <code>failedVersions</code> field of the response with \n       an <code>ALREADY_EXISTS</code> error code.\n     </p>"
          }
        },
        "includeFromUpstream": {
          "target": "com.amazonaws.codeartifact#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p> Set to true to copy packages from repositories that are upstream from the source\n      repository to the destination repository. The default setting is false. For more information,\n      see <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/repos-upstream.html\">Working with\n        upstream repositories</a>. </p>"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#CopyPackageVersionsResult": {
      "type": "structure",
      "members": {
        "successfulVersions": {
          "target": "com.amazonaws.codeartifact#SuccessfulPackageVersionInfoMap",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of the package versions that were successfully copied to your repository.\n    </p>"
          }
        },
        "failedVersions": {
          "target": "com.amazonaws.codeartifact#PackageVersionErrorMap",
          "traits": {
            "smithy.api#documentation": "<p>\n      A map of package versions that failed to copy and their error codes. The possible error codes are in \n      the <code>PackageVersionError</code> data type. They are:\n    </p>\n         <ul>\n            <li>\n               <p>\n                  <code>ALREADY_EXISTS</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>MISMATCHED_REVISION</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>MISMATCHED_STATUS</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>NOT_ALLOWED</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>NOT_FOUND</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>SKIPPED</code>\n               </p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#CreateDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeartifact#CreateDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.codeartifact#CreateDomainResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeartifact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codeartifact#ConflictException"
        },
        {
          "target": "com.amazonaws.codeartifact#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeartifact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeartifact#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.codeartifact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeartifact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Creates a domain. CodeArtifact <i>domains</i> make it easier to manage multiple repositories across an\n        organization. You can use a domain to apply permissions across many\n        repositories owned by different AWS accounts. An asset is stored only once\n        in a domain, even if it's in multiple repositories. \n    </p>\n\n         <p>Although you can have multiple domains, we recommend a single production domain that contains all\n        published artifacts so that your development teams can find and share packages. You can use a second\n        pre-production domain to test changes to the production domain configuration.\n      </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/domain",
          "code": 200
        }
      }
    },
    "com.amazonaws.codeartifact#CreateDomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the domain to create. All domain names in an AWS Region that are in the\n      same AWS account must be unique. The domain name is used as the prefix in DNS hostnames. Do\n      not use sensitive information in a domain name because it is publicly discoverable. </p>",
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {}
          }
        },
        "encryptionKey": {
          "target": "com.amazonaws.codeartifact#Arn",
          "traits": {
            "smithy.api#documentation": "<p> The encryption key for the domain. This is used to encrypt content stored in a domain.\n      An encryption key can be a key ID, a key Amazon Resource Name (ARN), a key alias, or a key\n      alias ARN. To specify an <code>encryptionKey</code>, your IAM role must have\n        <code>kms:DescribeKey</code> and <code>kms:CreateGrant</code> permissions on the encryption\n      key that is used. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestSyntax\">DescribeKey</a> in the <i>AWS Key Management Service API Reference</i>\n      and <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">AWS KMS API Permissions\n        Reference</a> in the <i>AWS Key Management Service Developer Guide</i>. </p>\n         <important>\n            <p> CodeArtifact supports only symmetric CMKs. Do not associate an asymmetric CMK with your\n        domain. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using symmetric and asymmetric\n          keys</a> in the <i>AWS Key Management Service Developer Guide</i>. </p>\n         </important>"
          }
        },
        "tags": {
          "target": "com.amazonaws.codeartifact#TagList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tag key-value pairs for the domain.</p>"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#CreateDomainResult": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n        Contains information about the created domain after processing the request.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#CreateRepository": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeartifact#CreateRepositoryRequest"
      },
      "output": {
        "target": "com.amazonaws.codeartifact#CreateRepositoryResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeartifact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codeartifact#ConflictException"
        },
        {
          "target": "com.amazonaws.codeartifact#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeartifact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeartifact#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.codeartifact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeartifact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n        Creates a repository.\n      </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/repository",
          "code": 200
        }
      }
    },
    "com.amazonaws.codeartifact#CreateRepositoryRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n        The domain that contains the created repository.\n      </p>",
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {}
          }
        },
        "domainOwner": {
          "target": "com.amazonaws.codeartifact#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n        The 12-digit account number of the AWS account that owns the domain. It does not include \n        dashes or spaces.\n      </p>",
            "smithy.api#httpQuery": "domain-owner"
          }
        },
        "repository": {
          "target": "com.amazonaws.codeartifact#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the repository to create. </p>",
            "smithy.api#httpQuery": "repository",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.codeartifact#Description",
          "traits": {
            "smithy.api#documentation": "<p>\n      A description of the created repository.\n    </p>"
          }
        },
        "upstreams": {
          "target": "com.amazonaws.codeartifact#UpstreamRepositoryList",
          "traits": {
            "smithy.api#documentation": "<p> A list of upstream repositories to associate with the repository. The order of the upstream repositories \n        in the list determines their priority order when AWS CodeArtifact looks for a requested package version. For more \n        information, see <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/repos-upstream.html\">Working with upstream repositories</a>. </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.codeartifact#TagList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tag key-value pairs for the repository.</p>"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#CreateRepositoryResult": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "com.amazonaws.codeartifact#RepositoryDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n        Information about the created repository after processing the request.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DeleteDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeartifact#DeleteDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.codeartifact#DeleteDomainResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeartifact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codeartifact#ConflictException"
        },
        {
          "target": "com.amazonaws.codeartifact#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeartifact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeartifact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Deletes a domain. You cannot delete a domain that contains repositories. If you want to delete a domain\n         with repositories, first delete its repositories.\n      </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/domain",
          "code": 200
        }
      }
    },
    "com.amazonaws.codeartifact#DeleteDomainPermissionsPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeartifact#DeleteDomainPermissionsPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.codeartifact#DeleteDomainPermissionsPolicyResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeartifact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codeartifact#ConflictException"
        },
        {
          "target": "com.amazonaws.codeartifact#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeartifact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeartifact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeartifact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n        Deletes the resource policy set on a domain.\n      </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/domain/permissions/policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.codeartifact#DeleteDomainPermissionsPolicyRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n        The name of the domain associated with the resource policy to be deleted.\n      </p>",
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {}
          }
        },
        "domainOwner": {
          "target": "com.amazonaws.codeartifact#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n        The 12-digit account number of the AWS account that owns the domain. It does not include \n        dashes or spaces.\n      </p>",
            "smithy.api#httpQuery": "domain-owner"
          }
        },
        "policyRevision": {
          "target": "com.amazonaws.codeartifact#PolicyRevision",
          "traits": {
            "smithy.api#documentation": "<p>\n        The current revision of the resource policy to be deleted. This revision is used for optimistic locking, which\n        prevents others from overwriting your changes to the domain's resource policy.\n      </p>",
            "smithy.api#httpQuery": "policy-revision"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DeleteDomainPermissionsPolicyResult": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.amazonaws.codeartifact#ResourcePolicy",
          "traits": {
            "smithy.api#documentation": "<p>\n        Information about the deleted resource policy after processing the request.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DeleteDomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the domain to delete.\n       </p>",
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {}
          }
        },
        "domainOwner": {
          "target": "com.amazonaws.codeartifact#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n        The 12-digit account number of the AWS account that owns the domain. It does not include \n        dashes or spaces.\n      </p>",
            "smithy.api#httpQuery": "domain-owner"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DeleteDomainResult": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n        Contains information about the deleted domain after processing the request.\n       </p>"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DeletePackageVersions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeartifact#DeletePackageVersionsRequest"
      },
      "output": {
        "target": "com.amazonaws.codeartifact#DeletePackageVersionsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeartifact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codeartifact#ConflictException"
        },
        {
          "target": "com.amazonaws.codeartifact#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeartifact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeartifact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeartifact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes one or more versions of a package. A deleted package version cannot be restored\n      in your repository. If you want to remove a package version from your repository and be able\n      to restore it later, set its status to <code>Archived</code>. Archived packages cannot be\n      downloaded from a repository and don't show up with list package APIs (for example,\n          <code>\n               <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_ListPackageVersions.html\">ListackageVersions</a>\n            </code>), but you can restore them using <code>\n               <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_UpdatePackageVersionsStatus.html\">UpdatePackageVersionsStatus</a>\n            </code>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/package/versions/delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.codeartifact#DeletePackageVersionsRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n        The name of the domain that contains the package to delete.\n      </p>",
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {}
          }
        },
        "domainOwner": {
          "target": "com.amazonaws.codeartifact#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n        The 12-digit account number of the AWS account that owns the domain. It does not include \n        dashes or spaces.\n      </p>",
            "smithy.api#httpQuery": "domain-owner"
          }
        },
        "repository": {
          "target": "com.amazonaws.codeartifact#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>\n        The name of the repository that contains the package versions to delete.\n      </p>",
            "smithy.api#httpQuery": "repository",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.amazonaws.codeartifact#PackageFormat",
          "traits": {
            "smithy.api#documentation": "<p>\n        The format of the package versions to delete. The valid values are:\n      </p>\n         <ul>\n            <li>\n               <p>\n                  <code>npm</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>pypi</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>maven</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>nuget</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#httpQuery": "format",
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.codeartifact#PackageNamespace",
          "traits": {
            "smithy.api#documentation": "<p>\n      The namespace of the package. The package component that specifies its \n      namespace depends on its type. For example:\n    </p>\n         <ul>\n            <li>\n               <p>\n          The namespace of a Maven package is its <code>groupId</code>.\n        </p>\n            </li>\n            <li>\n               <p>\n          The namespace of an npm package is its <code>scope</code>.\n        </p>\n            </li>\n            <li>\n               <p>\n          A Python package does not contain a corresponding component, so \n          Python packages do not have a namespace.\n        </p>\n            </li>\n            <li>\n               <p>\n          A NuGet package does not contain a corresponding component, so \n          NuGet packages do not have a namespace.\n        </p>\n            </li>\n         </ul>",
            "smithy.api#httpQuery": "namespace"
          }
        },
        "package": {
          "target": "com.amazonaws.codeartifact#PackageName",
          "traits": {
            "smithy.api#documentation": "<p>\n        The name of the package with the versions to delete.\n      </p>",
            "smithy.api#httpQuery": "package",
            "smithy.api#required": {}
          }
        },
        "versions": {
          "target": "com.amazonaws.codeartifact#PackageVersionList",
          "traits": {
            "smithy.api#documentation": "<p>\n        An array of strings that specify the versions of the package to delete.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "expectedStatus": {
          "target": "com.amazonaws.codeartifact#PackageVersionStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n        The expected status of the package version to delete. Valid values are:\n      </p>\n         <ul>\n            <li>\n               <p>\n                  <code>Published</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Unfinished</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Unlisted</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Archived</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Disposed</code>\n               </p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DeletePackageVersionsResult": {
      "type": "structure",
      "members": {
        "successfulVersions": {
          "target": "com.amazonaws.codeartifact#SuccessfulPackageVersionInfoMap",
          "traits": {
            "smithy.api#documentation": "<p>\n       A list of the package versions that were successfully deleted.\n     </p>"
          }
        },
        "failedVersions": {
          "target": "com.amazonaws.codeartifact#PackageVersionErrorMap",
          "traits": {
            "smithy.api#documentation": "<p>\n       A <code>PackageVersionError</code> object that contains a map of errors codes for the \n       deleted package that failed. The possible error codes are:\n     </p>\n         <ul>\n            <li>\n               <p>\n                  <code>ALREADY_EXISTS</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>MISMATCHED_REVISION</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>MISMATCHED_STATUS</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>NOT_ALLOWED</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>NOT_FOUND</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>SKIPPED</code>\n               </p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DeleteRepository": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeartifact#DeleteRepositoryRequest"
      },
      "output": {
        "target": "com.amazonaws.codeartifact#DeleteRepositoryResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeartifact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codeartifact#ConflictException"
        },
        {
          "target": "com.amazonaws.codeartifact#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeartifact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeartifact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeartifact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Deletes a repository.\n       </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/repository",
          "code": 200
        }
      }
    },
    "com.amazonaws.codeartifact#DeleteRepositoryPermissionsPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeartifact#DeleteRepositoryPermissionsPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.codeartifact#DeleteRepositoryPermissionsPolicyResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeartifact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codeartifact#ConflictException"
        },
        {
          "target": "com.amazonaws.codeartifact#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeartifact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeartifact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeartifact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n        Deletes the resource policy that is set on a repository. After a resource policy is deleted, the\n        permissions allowed and denied by the deleted policy are removed. The effect of deleting a resource policy might not be immediate.\n      </p>\n         <important>\n            <p>\n         Use <code>DeleteRepositoryPermissionsPolicy</code> with caution. After a policy is deleted, AWS users, roles, and accounts lose permissions to perform\n         the repository actions granted by the deleted policy.\n       </p>\n         </important>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/repository/permissions/policies",
          "code": 200
        }
      }
    },
    "com.amazonaws.codeartifact#DeleteRepositoryPermissionsPolicyRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n        The name of the domain that contains the repository associated with the resource policy to be deleted.\n      </p>",
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {}
          }
        },
        "domainOwner": {
          "target": "com.amazonaws.codeartifact#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n        The 12-digit account number of the AWS account that owns the domain. It does not include \n        dashes or spaces.\n      </p>",
            "smithy.api#httpQuery": "domain-owner"
          }
        },
        "repository": {
          "target": "com.amazonaws.codeartifact#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The name of the repository that is associated with the resource policy to be deleted\n    </p>",
            "smithy.api#httpQuery": "repository",
            "smithy.api#required": {}
          }
        },
        "policyRevision": {
          "target": "com.amazonaws.codeartifact#PolicyRevision",
          "traits": {
            "smithy.api#documentation": "<p>\n      The revision of the repository's resource policy to be deleted. This revision is used for optimistic locking, which\n      prevents others from accidentally overwriting your changes to the repository's resource policy.\n    </p>",
            "smithy.api#httpQuery": "policy-revision"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DeleteRepositoryPermissionsPolicyResult": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.amazonaws.codeartifact#ResourcePolicy",
          "traits": {
            "smithy.api#documentation": "<p>\n      Information about the deleted policy after processing the request.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DeleteRepositoryRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the domain that contains the repository to delete.\n       </p>",
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {}
          }
        },
        "domainOwner": {
          "target": "com.amazonaws.codeartifact#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n        The 12-digit account number of the AWS account that owns the domain. It does not include \n        dashes or spaces.\n      </p>",
            "smithy.api#httpQuery": "domain-owner"
          }
        },
        "repository": {
          "target": "com.amazonaws.codeartifact#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the repository to delete. </p>",
            "smithy.api#httpQuery": "repository",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DeleteRepositoryResult": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "com.amazonaws.codeartifact#RepositoryDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n        Information about the deleted repository after processing the request.\n       </p>"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DescribeDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeartifact#DescribeDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.codeartifact#DescribeDomainResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeartifact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codeartifact#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeartifact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeartifact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeartifact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Returns a \n      <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_DomainDescription.html\">\n               <code>DomainDescription</code>\n            </a> \n      object that contains information about the requested domain.\n     </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/domain",
          "code": 200
        }
      }
    },
    "com.amazonaws.codeartifact#DescribeDomainRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n         A string that specifies the name of the requested domain.\n     </p>",
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {}
          }
        },
        "domainOwner": {
          "target": "com.amazonaws.codeartifact#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n        The 12-digit account number of the AWS account that owns the domain. It does not include \n        dashes or spaces.\n      </p>",
            "smithy.api#httpQuery": "domain-owner"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DescribeDomainResult": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainDescription"
        }
      }
    },
    "com.amazonaws.codeartifact#DescribePackageVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeartifact#DescribePackageVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.codeartifact#DescribePackageVersionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeartifact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codeartifact#ConflictException"
        },
        {
          "target": "com.amazonaws.codeartifact#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeartifact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeartifact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeartifact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n       Returns a \n       <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_PackageVersionDescription.html\">\n               <code>PackageVersionDescription</code>\n            </a> \n       object that contains information about the requested package version.\n     </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/package/version",
          "code": 200
        }
      }
    },
    "com.amazonaws.codeartifact#DescribePackageVersionRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The name of the domain that contains the repository that contains the package version.\n    </p>",
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {}
          }
        },
        "domainOwner": {
          "target": "com.amazonaws.codeartifact#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n        The 12-digit account number of the AWS account that owns the domain. It does not include \n        dashes or spaces.\n      </p>",
            "smithy.api#httpQuery": "domain-owner"
          }
        },
        "repository": {
          "target": "com.amazonaws.codeartifact#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the repository that contains the package version. </p>",
            "smithy.api#httpQuery": "repository",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.amazonaws.codeartifact#PackageFormat",
          "traits": {
            "smithy.api#documentation": "<p>\n      A format that specifies the type of the requested package version. The valid values are:\n    </p>\n         <ul>\n            <li>\n               <p>\n                  <code>npm</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>pypi</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>maven</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>nuget</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#httpQuery": "format",
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.codeartifact#PackageNamespace",
          "traits": {
            "smithy.api#documentation": "<p>\n      The namespace of the package. The package component that specifies its \n      namespace depends on its type. For example:\n    </p>\n         <ul>\n            <li>\n               <p>\n          The namespace of a Maven package is its <code>groupId</code>.\n        </p>\n            </li>\n            <li>\n               <p>\n          The namespace of an npm package is its <code>scope</code>.\n        </p>\n            </li>\n            <li>\n               <p>\n          A Python package does not contain a corresponding component, so \n          Python packages do not have a namespace.\n        </p>\n            </li>\n            <li>\n               <p>\n          A NuGet package does not contain a corresponding component, so \n          NuGet packages do not have a namespace.\n        </p>\n            </li>\n         </ul>",
            "smithy.api#httpQuery": "namespace"
          }
        },
        "package": {
          "target": "com.amazonaws.codeartifact#PackageName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the requested package version. </p>",
            "smithy.api#httpQuery": "package",
            "smithy.api#required": {}
          }
        },
        "packageVersion": {
          "target": "com.amazonaws.codeartifact#PackageVersion",
          "traits": {
            "smithy.api#documentation": "<p>\n      A string that contains the package version (for example, <code>3.5.2</code>).\n    </p>",
            "smithy.api#httpQuery": "version",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DescribePackageVersionResult": {
      "type": "structure",
      "members": {
        "packageVersion": {
          "target": "com.amazonaws.codeartifact#PackageVersionDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n      A <code>\n               <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_PackageVersionDescription.html\">PackageVersionDescription</a>\n            </code> \n      object that contains information about the requested package version.\n    </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DescribeRepository": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeartifact#DescribeRepositoryRequest"
      },
      "output": {
        "target": "com.amazonaws.codeartifact#DescribeRepositoryResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeartifact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codeartifact#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeartifact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeartifact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeartifact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Returns a <code>RepositoryDescription</code> object that contains detailed information \n        about the requested repository.\n       </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/repository",
          "code": 200
        }
      }
    },
    "com.amazonaws.codeartifact#DescribeRepositoryRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the domain that contains the repository to describe.\n       </p>",
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {}
          }
        },
        "domainOwner": {
          "target": "com.amazonaws.codeartifact#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n        The 12-digit account number of the AWS account that owns the domain. It does not include \n        dashes or spaces.\n      </p>",
            "smithy.api#httpQuery": "domain-owner"
          }
        },
        "repository": {
          "target": "com.amazonaws.codeartifact#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>\n        A string that specifies the name of the requested repository.\n       </p>",
            "smithy.api#httpQuery": "repository",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DescribeRepositoryResult": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "com.amazonaws.codeartifact#RepositoryDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n         A <code>RepositoryDescription</code> object that contains the requested repository information.\n       </p>"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        },
        "smithy.api#pattern": "\\P{C}+"
      }
    },
    "com.amazonaws.codeartifact#DisassociateExternalConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeartifact#DisassociateExternalConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.codeartifact#DisassociateExternalConnectionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeartifact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codeartifact#ConflictException"
        },
        {
          "target": "com.amazonaws.codeartifact#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeartifact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeartifact#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.codeartifact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeartifact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Removes an existing external connection from a repository.\n    </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/repository/external-connection",
          "code": 200
        }
      }
    },
    "com.amazonaws.codeartifact#DisassociateExternalConnectionRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that contains the repository from which to remove the external\n      repository. </p>",
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {}
          }
        },
        "domainOwner": {
          "target": "com.amazonaws.codeartifact#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n        The 12-digit account number of the AWS account that owns the domain. It does not include \n        dashes or spaces.\n      </p>",
            "smithy.api#httpQuery": "domain-owner"
          }
        },
        "repository": {
          "target": "com.amazonaws.codeartifact#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository from which the external connection will be removed. </p>",
            "smithy.api#httpQuery": "repository",
            "smithy.api#required": {}
          }
        },
        "externalConnection": {
          "target": "com.amazonaws.codeartifact#ExternalConnectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the external connection to be removed from the repository. </p>",
            "smithy.api#httpQuery": "external-connection",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DisassociateExternalConnectionResult": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "com.amazonaws.codeartifact#RepositoryDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n      The repository associated with the removed external connection.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DisposePackageVersions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeartifact#DisposePackageVersionsRequest"
      },
      "output": {
        "target": "com.amazonaws.codeartifact#DisposePackageVersionsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeartifact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codeartifact#ConflictException"
        },
        {
          "target": "com.amazonaws.codeartifact#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeartifact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeartifact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeartifact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Deletes the assets in package versions and sets the package versions' status to <code>Disposed</code>.\n      A disposed package version cannot be restored in your repository because its assets are deleted.\n    </p>\n    \n         <p>\n      To view all disposed package versions in a repository, use <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_ListPackageVersions.html\">\n               <code>ListPackageVersions</code>\n            </a> and set the \n      <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_ListPackageVersions.html#API_ListPackageVersions_RequestSyntax\">\n               <code>status</code>\n            </a> parameter \n      to <code>Disposed</code>.\n    </p>\n    \n         <p>\n      To view information about a disposed package version, use <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_DescribePackageVersion.html\">\n               <code>DescribePackageVersion</code>\n            </a>..\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/package/versions/dispose",
          "code": 200
        }
      }
    },
    "com.amazonaws.codeartifact#DisposePackageVersionsRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The name of the domain that contains the repository you want to dispose.\n    </p>",
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {}
          }
        },
        "domainOwner": {
          "target": "com.amazonaws.codeartifact#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n        The 12-digit account number of the AWS account that owns the domain. It does not include \n        dashes or spaces.\n      </p>",
            "smithy.api#httpQuery": "domain-owner"
          }
        },
        "repository": {
          "target": "com.amazonaws.codeartifact#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The name of the repository that contains the package versions you want to dispose.\n    </p>",
            "smithy.api#httpQuery": "repository",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.amazonaws.codeartifact#PackageFormat",
          "traits": {
            "smithy.api#documentation": "<p>\n      A format that specifies the type of package versions you want to dispose. The valid values are:\n    </p>\n         <ul>\n            <li>\n               <p>\n                  <code>npm</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>pypi</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>maven</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>nuget</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#httpQuery": "format",
            "smithy.api#required": {}
          }
        },
        "namespace": {
          "target": "com.amazonaws.codeartifact#PackageNamespace",
          "traits": {
            "smithy.api#documentation": "<p>\n      The namespace of the package. The package component that specifies its \n      namespace depends on its type. For example:\n    </p>\n         <ul>\n            <li>\n               <p>\n          The namespace of a Maven package is its <code>groupId</code>.\n        </p>\n            </li>\n            <li>\n               <p>\n          The namespace of an npm package is its <code>scope</code>.\n        </p>\n            </li>\n            <li>\n               <p>\n          A Python package does not contain a corresponding component, so \n          Python packages do not have a namespace.\n        </p>\n            </li>\n            <li>\n               <p>\n          A NuGet package does not contain a corresponding component, so \n          NuGet packages do not have a namespace.\n        </p>\n            </li>\n         </ul>",
            "smithy.api#httpQuery": "namespace"
          }
        },
        "package": {
          "target": "com.amazonaws.codeartifact#PackageName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The name of the package with the versions you want to dispose.\n    </p>",
            "smithy.api#httpQuery": "package",
            "smithy.api#required": {}
          }
        },
        "versions": {
          "target": "com.amazonaws.codeartifact#PackageVersionList",
          "traits": {
            "smithy.api#documentation": "<p>\n      The versions of the package you want to dispose.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "versionRevisions": {
          "target": "com.amazonaws.codeartifact#PackageVersionRevisionMap",
          "traits": {
            "smithy.api#documentation": "<p>\n      The revisions of the package versions you want to dispose.\n    </p>"
          }
        },
        "expectedStatus": {
          "target": "com.amazonaws.codeartifact#PackageVersionStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n      The expected status of the package version to dispose. Valid values are:\n    </p>\n         <ul>\n            <li>\n               <p>\n                  <code>Published</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Unfinished</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Unlisted</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Archived</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Disposed</code>\n               </p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DisposePackageVersionsResult": {
      "type": "structure",
      "members": {
        "successfulVersions": {
          "target": "com.amazonaws.codeartifact#SuccessfulPackageVersionInfoMap",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of the package versions that were successfully disposed.\n    </p>"
          }
        },
        "failedVersions": {
          "target": "com.amazonaws.codeartifact#PackageVersionErrorMap",
          "traits": {
            "smithy.api#documentation": "<p>\n      A <code>PackageVersionError</code> object that contains a map of errors codes for the \n      disposed package versions that failed. The possible error codes are:\n    </p>\n         <ul>\n            <li>\n               <p>\n                  <code>ALREADY_EXISTS</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>MISMATCHED_REVISION</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>MISMATCHED_STATUS</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>NOT_ALLOWED</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>NOT_FOUND</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>SKIPPED</code>\n               </p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#DomainDescription": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codeartifact#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the domain.\n       </p>"
          }
        },
        "owner": {
          "target": "com.amazonaws.codeartifact#AccountId",
          "traits": {
            "smithy.api#documentation": "<p> The AWS account ID that owns the domain. </p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.codeartifact#Arn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the domain. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.codeartifact#DomainStatus",
          "traits": {
            "smithy.api#documentation": "<p> The current status of a domain. The valid values are </p>\n         <ul>\n            <li>\n               <p>\n                  <code>Active</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Deleted</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "createdTime": {
          "target": "com.amazonaws.codeartifact#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n      A timestamp that represents the date and time the domain was created.\n    </p>"
          }
        },
        "encryptionKey": {
          "target": "com.amazonaws.codeartifact#Arn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of an AWS Key Management Service (AWS KMS) key associated with a domain. </p>"
          }
        },
        "repositoryCount": {
          "target": "com.amazonaws.codeartifact#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n      The number of repositories in the domain.\n    </p>"
          }
        },
        "assetSizeBytes": {
          "target": "com.amazonaws.codeartifact#Long",
          "traits": {
            "smithy.api#documentation": "<p>\n      The total size of all assets in the domain.\n    </p>"
          }
        },
        "s3BucketArn": {
          "target": "com.amazonaws.codeartifact#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon S3 bucket that is used to store package assets in the domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n       Information about a domain. A domain is a container for repositories. When you create a domain, it is empty until you \n       add one or more repositories.\n      </p>"
      }
    },
    "com.amazonaws.codeartifact#DomainName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 50
        },
        "smithy.api#pattern": "[a-z][a-z0-9\\-]{0,48}[a-z0-9]"
      }
    },
    "com.amazonaws.codeartifact#DomainStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Active",
            "name": "ACTIVE"
          },
          {
            "value": "Deleted",
            "name": "DELETED"
          }
        ]
      }
    },
    "com.amazonaws.codeartifact#DomainSummary": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codeartifact#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The name of the domain.\n    </p>"
          }
        },
        "owner": {
          "target": "com.amazonaws.codeartifact#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n        The 12-digit account number of the AWS account that owns the domain. It does not include \n        dashes or spaces.\n      </p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.codeartifact#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ARN of the domain.\n    </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.codeartifact#DomainStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n      A string that contains the status of the domain. The valid values are:      \n    </p>\n         <ul>\n            <li>\n               <p>\n                  <code>Active</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>Deleted</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "createdTime": {
          "target": "com.amazonaws.codeartifact#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n      A timestamp that contains the date and time the domain was created.\n    </p>"
          }
        },
        "encryptionKey": {
          "target": "com.amazonaws.codeartifact#Arn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The key used to encrypt the domain.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about a domain, including its name, Amazon Resource Name (ARN), and status.\n      The <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_ListDomains.html\">\n               <code>ListDomains</code>\n            </a> operation returns a list of <code>DomainSummary</code>\n      objects. </p>"
      }
    },
    "com.amazonaws.codeartifact#DomainSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codeartifact#DomainSummary"
      }
    },
    "com.amazonaws.codeartifact#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.codeartifact#ExternalConnectionName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[A-Za-z0-9][A-Za-z0-9._\\-:]{1,99}"
      }
    },
    "com.amazonaws.codeartifact#ExternalConnectionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Available",
            "name": "AVAILABLE"
          }
        ]
      }
    },
    "com.amazonaws.codeartifact#GetAuthorizationToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeartifact#GetAuthorizationTokenRequest"
      },
      "output": {
        "target": "com.amazonaws.codeartifact#GetAuthorizationTokenResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeartifact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codeartifact#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeartifact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeartifact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeartifact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n        Generates a temporary authorization token for accessing repositories in the domain. \n        This API requires the <code>codeartifact:GetAuthorizationToken</code> and <code>sts:GetServiceBearerToken</code> permissions. \n        For more information about authorization tokens, see \n        <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/tokens-authentication.html\">AWS CodeArtifact authentication and tokens</a>.\n      </p>\n         <note>\n            <p>CodeArtifact authorization tokens are valid for a period of 12 hours when created with the <code>login</code> command. \n         You can call <code>login</code> periodically to refresh the token. When \n         you create an authorization token with the <code>GetAuthorizationToken</code> API, you can set a custom authorization period, \n         up to a maximum of 12 hours, with the <code>durationSeconds</code> parameter.</p>\n            <p>The authorization period begins after <code>login</code> \n         or <code>GetAuthorizationToken</code> is called. If <code>login</code> or <code>GetAuthorizationToken</code> is called while \n         assuming a role, the token lifetime is independent of the maximum session duration \n         of the role. For example, if you call <code>sts assume-role</code> and specify a session duration of 15 minutes, then \n         generate a CodeArtifact authorization token, the token will be valid for the full authorization period \n         even though this is longer than the 15-minute session duration.</p>\n            <p>See \n         <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html\">Using IAM Roles</a> \n         for more information on controlling session duration. </p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/authorization-token",
          "code": 200
        }
      }
    },
    "com.amazonaws.codeartifact#GetAuthorizationTokenRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n        The name of the domain that is in scope for the generated authorization token.\n       </p>",
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {}
          }
        },
        "domainOwner": {
          "target": "com.amazonaws.codeartifact#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n        The 12-digit account number of the AWS account that owns the domain. It does not include \n        dashes or spaces.\n      </p>",
            "smithy.api#httpQuery": "domain-owner"
          }
        },
        "durationSeconds": {
          "target": "com.amazonaws.codeartifact#AuthorizationTokenDurationSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The time, in seconds, that the generated authorization token is valid. Valid values are \n    <code>0</code> and any number between <code>900</code> (15 minutes) and <code>43200</code> (12 hours). \n    A value of <code>0</code> will set the expiration of the authorization token to the same expiration of \n    the user's role's temporary credentials.</p>",
            "smithy.api#httpQuery": "duration"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#GetAuthorizationTokenResult": {
      "type": "structure",
      "members": {
        "authorizationToken": {
          "target": "com.amazonaws.codeartifact#String",
          "traits": {
            "smithy.api#documentation": "<p>\n        The returned authentication token.\n       </p>"
          }
        },
        "expiration": {
          "target": "com.amazonaws.codeartifact#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n      A timestamp that specifies the date and time the authorization token expires.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#GetDomainPermissionsPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeartifact#GetDomainPermissionsPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.codeartifact#GetDomainPermissionsPolicyResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeartifact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codeartifact#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeartifact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeartifact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeartifact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n        Returns the resource policy attached to the specified domain.\n      </p>\n         <note>\n            <p>\n         The policy is a resource-based policy, not an identity-based policy. For more information, see\n         <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_identity-vs-resource.html\">Identity-based policies\n           and resource-based policies </a> in the <i>AWS Identity and Access Management User Guide</i>.\n       </p>\n         </note>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/domain/permissions/policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.codeartifact#GetDomainPermissionsPolicyRequest": {
      "type": "structure",
      "members": {
        "domain": {
          "target": "com.amazonaws.codeartifact#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n        The name of the domain to which the resource policy is attached.\n      </p>",
            "smithy.api#httpQuery": "domain",
            "smithy.api#required": {}
          }
        },
        "domainOwner": {
          "target": "com.amazonaws.codeartifact#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>\n        The 12-digit account number of the AWS account that owns the domain. It does not include \n        dashes or spaces.\n      </p>",
            "smithy.api#httpQuery": "domain-owner"
          }
        }
      }
    },
    "com.amazonaws.codeartifact#GetDomainPermissionsPolicyResult": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.amazonaws.codeartifact#ResourcePolicy",
          "traits": {
            "smithy.api#documentation": "<p>\n        The returned resource policy.\n      </p>"
          }
        }
      }
    },
[...]
