{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.codebuild#AccountLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codebuild#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An AWS service limit was exceeded for the calling AWS account.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codebuild#ArtifactNamespace": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "BUILD_ID",
            "name": "BUILD_ID"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#ArtifactPackaging": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "ZIP",
            "name": "ZIP"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#ArtifactsType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CODEPIPELINE",
            "name": "CODEPIPELINE"
          },
          {
            "value": "S3",
            "name": "S3"
          },
          {
            "value": "NO_ARTIFACTS",
            "name": "NO_ARTIFACTS"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#AuthType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OAUTH",
            "name": "OAUTH"
          },
          {
            "value": "BASIC_AUTH",
            "name": "BASIC_AUTH"
          },
          {
            "value": "PERSONAL_ACCESS_TOKEN",
            "name": "PERSONAL_ACCESS_TOKEN"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#BatchDeleteBuilds": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#BatchDeleteBuildsInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#BatchDeleteBuildsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes one or more builds.</p>"
      }
    },
    "com.amazonaws.codebuild#BatchDeleteBuildsInput": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.amazonaws.codebuild#BuildIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the builds to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchDeleteBuildsOutput": {
      "type": "structure",
      "members": {
        "buildsDeleted": {
          "target": "com.amazonaws.codebuild#BuildIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the builds that were successfully deleted.</p>"
          }
        },
        "buildsNotDeleted": {
          "target": "com.amazonaws.codebuild#BuildsNotDeleted",
          "traits": {
            "smithy.api#documentation": "<p>Information about any builds that could not be successfully deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchGetBuilds": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#BatchGetBuildsInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#BatchGetBuildsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more builds.</p>"
      }
    },
    "com.amazonaws.codebuild#BatchGetBuildsInput": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.amazonaws.codebuild#BuildIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the builds.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchGetBuildsOutput": {
      "type": "structure",
      "members": {
        "builds": {
          "target": "com.amazonaws.codebuild#Builds",
          "traits": {
            "smithy.api#documentation": "<p>Information about the requested builds.</p>"
          }
        },
        "buildsNotFound": {
          "target": "com.amazonaws.codebuild#BuildIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of builds for which information could not be found.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchGetProjects": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#BatchGetProjectsInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#BatchGetProjectsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more build projects.</p>"
      }
    },
    "com.amazonaws.codebuild#BatchGetProjectsInput": {
      "type": "structure",
      "members": {
        "names": {
          "target": "com.amazonaws.codebuild#ProjectNames",
          "traits": {
            "smithy.api#documentation": "<p>The names or ARNs of the build projects. To get information about a project shared with your AWS account, its ARN must \n         be specified. You cannot specify a shared project using its name.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchGetProjectsOutput": {
      "type": "structure",
      "members": {
        "projects": {
          "target": "com.amazonaws.codebuild#Projects",
          "traits": {
            "smithy.api#documentation": "<p>Information about the requested build projects.</p>"
          }
        },
        "projectsNotFound": {
          "target": "com.amazonaws.codebuild#ProjectNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of build projects for which information could not be found.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchGetReportGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#BatchGetReportGroupsInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#BatchGetReportGroupsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Returns an array of report groups.         \n      </p>"
      }
    },
    "com.amazonaws.codebuild#BatchGetReportGroupsInput": {
      "type": "structure",
      "members": {
        "reportGroupArns": {
          "target": "com.amazonaws.codebuild#ReportGroupArns",
          "traits": {
            "smithy.api#documentation": "<p>\n         An array of report group ARNs that identify the report groups to return.\n      </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchGetReportGroupsOutput": {
      "type": "structure",
      "members": {
        "reportGroups": {
          "target": "com.amazonaws.codebuild#ReportGroups",
          "traits": {
            "smithy.api#documentation": "<p>\n         The array of report groups returned by <code>BatchGetReportGroups</code>.\n      </p>"
          }
        },
        "reportGroupsNotFound": {
          "target": "com.amazonaws.codebuild#ReportGroupArns",
          "traits": {
            "smithy.api#documentation": "<p>\n         An array of ARNs passed to <code>BatchGetReportGroups</code> that are not associated with a <code>ReportGroup</code>.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchGetReports": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#BatchGetReportsInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#BatchGetReportsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Returns an array of reports.\n      </p>"
      }
    },
    "com.amazonaws.codebuild#BatchGetReportsInput": {
      "type": "structure",
      "members": {
        "reportArns": {
          "target": "com.amazonaws.codebuild#ReportArns",
          "traits": {
            "smithy.api#documentation": "<p>\n         An array of ARNs that identify the <code>Report</code> objects to return.\n      </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchGetReportsOutput": {
      "type": "structure",
      "members": {
        "reports": {
          "target": "com.amazonaws.codebuild#Reports",
          "traits": {
            "smithy.api#documentation": "<p>\n         The array of <code>Report</code> objects returned by <code>BatchGetReports</code>.\n      </p>"
          }
        },
        "reportsNotFound": {
          "target": "com.amazonaws.codebuild#ReportArns",
          "traits": {
            "smithy.api#documentation": "<p>\n         An array of ARNs passed to <code>BatchGetReportGroups</code> that are not associated with a <code>Report</code>.         \n      </p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.codebuild#Build": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the build.</p>"
          }
        },
        "artifacts": {
          "target": "com.amazonaws.codebuild#BuildArtifacts",
          "traits": {
            "smithy.api#documentation": "<p>Information about the output artifacts for the build.</p>"
          }
        },
        "buildComplete": {
          "target": "com.amazonaws.codebuild#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the build is complete. True if complete; otherwise, false.</p>"
          }
        },
        "buildNumber": {
          "target": "com.amazonaws.codebuild#WrapperLong",
          "traits": {
            "smithy.api#documentation": "<p>The number of the build. For each project, the <code>buildNumber</code> of its first build is \n         <code>1</code>. The <code>buildNumber</code> of each subsequent build is incremented by <code>1</code>. \n      If a build is deleted, the <code>buildNumber</code> of other builds does not change.</p>"
          }
        },
        "buildStatus": {
          "target": "com.amazonaws.codebuild#StatusType",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the build. Valid values include:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>FAILED</code>: The build failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAULT</code>: The build faulted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code>: The build is still in progress.</p>\n            </li>\n            <li>\n               <p>\n                  <code>STOPPED</code>: The build stopped.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SUCCEEDED</code>: The build succeeded.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TIMED_OUT</code>: The build timed out.</p>\n            </li>\n         </ul>"
          }
        },
        "cache": {
          "target": "com.amazonaws.codebuild#ProjectCache",
          "traits": {
            "smithy.api#documentation": "<p>Information about the cache for the build.</p>"
          }
        },
        "currentPhase": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>The current build phase.</p>"
          }
        },
        "encryptionKey": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Key Management Service (AWS KMS) customer master key (CMK) to be used for encrypting the build output\n         artifacts.</p>\n         <note>\n            <p>\n            You can use a cross-account KMS key to encrypt the build output artifacts if your service role \n            has permission to that key.\n         </p>\n         </note>\n         <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK's alias (using the\n         format <code>alias/<i>alias-name</i>\n            </code>).</p>"
          }
        },
        "endTime": {
          "target": "com.amazonaws.codebuild#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the build process ended, expressed in Unix time format.</p>"
          }
        },
        "environment": {
          "target": "com.amazonaws.codebuild#ProjectEnvironment",
          "traits": {
            "smithy.api#documentation": "<p>Information about the build environment for this build.</p>"
          }
        },
        "exportedEnvironmentVariables": {
          "target": "com.amazonaws.codebuild#ExportedEnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>\n         A list of exported environment variables for this build.\n      </p>"
          }
        },
        "id": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the build.</p>"
          }
        },
        "initiator": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>The entity that started the build. Valid values include:</p>\n         <ul>\n            <li>\n               <p>If AWS CodePipeline started the build, the pipeline's name (for example,\n                  <code>codepipeline/my-demo-pipeline</code>).</p>\n            </li>\n            <li>\n               <p>If an AWS Identity and Access Management (IAM) user started the build, the user's name (for example,\n                  <code>MyUserName</code>).</p>\n            </li>\n            <li>\n               <p>If the Jenkins plugin for AWS CodeBuild started the build, the string\n                  <code>CodeBuild-Jenkins-Plugin</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "logs": {
          "target": "com.amazonaws.codebuild#LogsLocation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the build's logs in Amazon CloudWatch Logs.</p>"
          }
        },
        "networkInterface": {
          "target": "com.amazonaws.codebuild#NetworkInterface",
          "traits": {
            "smithy.api#documentation": "<p>Describes a network interface.</p>"
          }
        },
        "phases": {
          "target": "com.amazonaws.codebuild#BuildPhases",
          "traits": {
            "smithy.api#documentation": "<p>Information about all previous build phases that are complete and information about any\n         current build phase that is not yet complete.</p>"
          }
        },
        "projectName": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS CodeBuild project.</p>"
          }
        },
        "queuedTimeoutInMinutes": {
          "target": "com.amazonaws.codebuild#WrapperInt",
          "traits": {
            "smithy.api#documentation": "<p> The number of minutes a build is allowed to be queued before it times out. </p>"
          }
        },
        "reportArns": {
          "target": "com.amazonaws.codebuild#BuildReportArns",
          "traits": {
            "smithy.api#documentation": "<p>\n         An array of the ARNs associated with this build's reports. \n      </p>"
          }
        },
        "resolvedSourceVersion": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p> An identifier for the version of this build's source code. </p>\n         <ul>\n            <li>\n               <p> For AWS CodeCommit, GitHub, GitHub Enterprise, and BitBucket, the commit ID. </p>\n            </li>\n            <li>\n               <p> For AWS CodePipeline, the source revision provided by AWS CodePipeline. </p>\n            </li>\n            <li>\n               <p> For Amazon Simple Storage Service (Amazon S3), this does not apply. </p>\n            </li>\n         </ul>"
          }
        },
        "secondaryArtifacts": {
          "target": "com.amazonaws.codebuild#BuildArtifactsList",
          "traits": {
            "smithy.api#documentation": "<p> An array of <code>ProjectArtifacts</code> objects. </p>"
          }
        },
        "secondarySourceVersions": {
          "target": "com.amazonaws.codebuild#ProjectSecondarySourceVersions",
          "traits": {
            "smithy.api#documentation": "<p> An array of <code>ProjectSourceVersion</code> objects. Each\n            <code>ProjectSourceVersion</code> must be one of: </p>\n         <ul>\n            <li>\n               <p>For AWS CodeCommit: the commit ID, branch, or Git tag to use.</p>\n            </li>\n            <li>\n               <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that\n               corresponds to the version of the source code you want to build. If a pull request ID\n               is specified, it must use the format <code>pr/pull-request-ID</code> (for example,\n                  <code>pr/25</code>). If a branch name is specified, the branch's HEAD commit ID is\n               used. If not specified, the default branch's HEAD commit ID is used.</p>\n            </li>\n            <li>\n               <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the\n               version of the source code you want to build. If a branch name is specified, the\n               branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit\n               ID is used.</p>\n            </li>\n            <li>\n               <p>For Amazon Simple Storage Service (Amazon S3): the version ID of the object that represents the build input ZIP file to\n               use.</p>\n            </li>\n         </ul>"
          }
        },
        "secondarySources": {
          "target": "com.amazonaws.codebuild#ProjectSources",
          "traits": {
            "smithy.api#documentation": "<p> An array of <code>ProjectSource</code> objects. </p>"
          }
        },
        "serviceRole": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of a service role used for this build.</p>"
          }
        },
        "source": {
          "target": "com.amazonaws.codebuild#ProjectSource",
          "traits": {
            "smithy.api#documentation": "<p>Information about the source code to be built.</p>"
          }
        },
        "sourceVersion": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Any version identifier for the version of the source code to be built. If <code>sourceVersion</code> is specified at \n         the project level, then this <code>sourceVersion</code> (at the build level) takes precedence.\n      </p>\n         <p>\n         For more information, see \n         <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/sample-source-version.html\">Source Version Sample with CodeBuild</a> \n         in the <i>AWS CodeBuild User Guide</i>.\n      </p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.codebuild#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the build process started, expressed in Unix time format.</p>"
          }
        },
        "timeoutInMinutes": {
          "target": "com.amazonaws.codebuild#WrapperInt",
          "traits": {
            "smithy.api#documentation": "<p>How long, in minutes, for AWS CodeBuild to wait before timing out this build if it does not get\n         marked as completed.</p>"
          }
        },
        "vpcConfig": {
          "target": "com.amazonaws.codebuild#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>If your AWS CodeBuild project accesses resources in an Amazon VPC, you provide this parameter\n         that identifies the VPC ID and the list of security group IDs and subnet IDs. The security\n         groups and subnets must belong to the same VPC. You must provide at least one security\n         group and one subnet ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a build.</p>"
      }
    },
    "com.amazonaws.codebuild#BuildArtifacts": {
      "type": "structure",
      "members": {
        "artifactIdentifier": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p> An identifier for this artifact definition. </p>"
          }
        },
        "encryptionDisabled": {
          "target": "com.amazonaws.codebuild#WrapperBoolean",
          "traits": {
            "smithy.api#documentation": "<p> Information that tells you if encryption for build artifacts is disabled. </p>"
          }
        },
        "location": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>Information about the location of the build artifacts.</p>"
          }
        },
        "md5sum": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>The MD5 hash of the build artifact.</p>\n         <p>You can use this hash along with a checksum tool to confirm file integrity and\n         authenticity.</p>\n         <note>\n            <p>This value is available only if the build project's <code>packaging</code> value is\n            set to <code>ZIP</code>.</p>\n         </note>"
          }
        },
        "overrideArtifactName": {
          "target": "com.amazonaws.codebuild#WrapperBoolean",
          "traits": {
            "smithy.api#documentation": "<p> If this flag is set, a name specified in the build spec file overrides the artifact\n         name. The name specified in a build spec file is calculated at build time and uses the\n         Shell Command Language. For example, you can append a date and time to your artifact name\n         so that it is always unique. </p>"
          }
        },
        "sha256sum": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>The SHA-256 hash of the build artifact.</p>\n         <p>You can use this hash along with a checksum tool to confirm file integrity and\n         authenticity.</p>\n         <note>\n            <p>This value is available only if the build project's <code>packaging</code> value is\n            set to <code>ZIP</code>.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about build output artifacts.</p>"
      }
    },
    "com.amazonaws.codebuild#BuildArtifactsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#BuildArtifacts"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 12
        }
      }
    },
    "com.amazonaws.codebuild#BuildIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#NonEmptyString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.codebuild#BuildNotDeleted": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the build that could not be successfully deleted.</p>"
          }
        },
        "statusCode": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>Additional information about the build that could not be successfully deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a build that could not be successfully deleted.</p>"
      }
    },
    "com.amazonaws.codebuild#BuildPhase": {
      "type": "structure",
      "members": {
        "contexts": {
          "target": "com.amazonaws.codebuild#PhaseContexts",
          "traits": {
            "smithy.api#documentation": "<p>Additional information about a build phase, especially to help troubleshoot a failed\n         build.</p>"
          }
        },
        "durationInSeconds": {
          "target": "com.amazonaws.codebuild#WrapperLong",
          "traits": {
            "smithy.api#documentation": "<p>How long, in seconds, between the starting and ending times of the build's phase.</p>"
          }
        },
        "endTime": {
          "target": "com.amazonaws.codebuild#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the build phase ended, expressed in Unix time format.</p>"
          }
        },
        "phaseStatus": {
          "target": "com.amazonaws.codebuild#StatusType",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the build phase. Valid values include:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>FAILED</code>: The build phase failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAULT</code>: The build phase faulted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code>: The build phase is still in progress.</p>\n            </li>\n            <li>\n               <p>\n                  <code>QUEUED</code>: The build has been submitted and is queued behind other\n               submitted builds.</p>\n            </li>\n            <li>\n               <p>\n                  <code>STOPPED</code>: The build phase stopped.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SUCCEEDED</code>: The build phase succeeded.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TIMED_OUT</code>: The build phase timed out.</p>\n            </li>\n         </ul>"
          }
        },
        "phaseType": {
          "target": "com.amazonaws.codebuild#BuildPhaseType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the build phase. Valid values include:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BUILD</code>: Core build activities typically occur in this build\n               phase.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COMPLETED</code>: The build has been completed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DOWNLOAD_SOURCE</code>: Source code is being downloaded in this build\n               phase.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FINALIZING</code>: The build process is completing in this build\n               phase.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INSTALL</code>: Installation activities typically occur in this build\n               phase.</p>\n            </li>\n            <li>\n               <p>\n                  <code>POST_BUILD</code>: Post-build activities typically occur in this build\n               phase.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PRE_BUILD</code>: Pre-build activities typically occur in this build\n               phase.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PROVISIONING</code>: The build environment is being set up.</p>\n            </li>\n            <li>\n               <p>\n                  <code>QUEUED</code>: The build has been submitted and is queued behind other\n               submitted builds.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SUBMITTED</code>: The build has been submitted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UPLOAD_ARTIFACTS</code>: Build output artifacts are being uploaded to the\n               output location.</p>\n            </li>\n         </ul>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.codebuild#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the build phase started, expressed in Unix time format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a stage for a build.</p>"
      }
    },
    "com.amazonaws.codebuild#BuildPhaseType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SUBMITTED",
            "name": "SUBMITTED"
          },
          {
            "value": "QUEUED",
            "name": "QUEUED"
          },
          {
            "value": "PROVISIONING",
            "name": "PROVISIONING"
          },
          {
            "value": "DOWNLOAD_SOURCE",
            "name": "DOWNLOAD_SOURCE"
          },
          {
            "value": "INSTALL",
            "name": "INSTALL"
          },
          {
            "value": "PRE_BUILD",
            "name": "PRE_BUILD"
          },
          {
            "value": "BUILD",
            "name": "BUILD"
          },
          {
            "value": "POST_BUILD",
            "name": "POST_BUILD"
          },
          {
            "value": "UPLOAD_ARTIFACTS",
            "name": "UPLOAD_ARTIFACTS"
          },
          {
            "value": "FINALIZING",
            "name": "FINALIZING"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#BuildPhases": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#BuildPhase"
      }
    },
    "com.amazonaws.codebuild#BuildReportArns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#String"
      }
    },
    "com.amazonaws.codebuild#Builds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#Build"
      }
    },
    "com.amazonaws.codebuild#BuildsNotDeleted": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#BuildNotDeleted"
      }
    },
    "com.amazonaws.codebuild#CacheMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LOCAL_DOCKER_LAYER_CACHE",
            "name": "LOCAL_DOCKER_LAYER_CACHE"
          },
          {
            "value": "LOCAL_SOURCE_CACHE",
            "name": "LOCAL_SOURCE_CACHE"
          },
          {
            "value": "LOCAL_CUSTOM_CACHE",
            "name": "LOCAL_CUSTOM_CACHE"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#CacheType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NO_CACHE",
            "name": "NO_CACHE"
          },
          {
            "value": "S3",
            "name": "S3"
          },
          {
            "value": "LOCAL",
            "name": "LOCAL"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#CloudWatchLogsConfig": {
      "type": "structure",
      "members": {
        "groupName": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p> The group name of the logs in Amazon CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html\">Working with\n            Log Groups and Log Streams</a>. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.codebuild#LogsConfigStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the logs in Amazon CloudWatch Logs for a build project. Valid values are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ENABLED</code>: Amazon CloudWatch Logs are enabled for this build project.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DISABLED</code>: Amazon CloudWatch Logs are not enabled for this build project.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "streamName": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p> The prefix of the stream name of the Amazon CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html\">Working with\n            Log Groups and Log Streams</a>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about Amazon CloudWatch Logs for a build project. </p>"
      }
    },
    "com.amazonaws.codebuild#CodeBuild_20161006": {
      "type": "service",
      "version": "2016-10-06",
      "operations": [
        {
          "target": "com.amazonaws.codebuild#BatchDeleteBuilds"
        },
        {
          "target": "com.amazonaws.codebuild#BatchGetBuilds"
        },
        {
          "target": "com.amazonaws.codebuild#BatchGetProjects"
        },
        {
          "target": "com.amazonaws.codebuild#BatchGetReportGroups"
        },
        {
          "target": "com.amazonaws.codebuild#BatchGetReports"
        },
        {
          "target": "com.amazonaws.codebuild#CreateProject"
        },
        {
          "target": "com.amazonaws.codebuild#CreateReportGroup"
        },
        {
          "target": "com.amazonaws.codebuild#CreateWebhook"
        },
        {
          "target": "com.amazonaws.codebuild#DeleteProject"
        },
        {
          "target": "com.amazonaws.codebuild#DeleteReport"
        },
        {
          "target": "com.amazonaws.codebuild#DeleteReportGroup"
        },
        {
          "target": "com.amazonaws.codebuild#DeleteResourcePolicy"
        },
        {
          "target": "com.amazonaws.codebuild#DeleteSourceCredentials"
        },
        {
          "target": "com.amazonaws.codebuild#DeleteWebhook"
        },
        {
          "target": "com.amazonaws.codebuild#DescribeTestCases"
        },
        {
          "target": "com.amazonaws.codebuild#GetResourcePolicy"
        },
        {
          "target": "com.amazonaws.codebuild#ImportSourceCredentials"
        },
        {
          "target": "com.amazonaws.codebuild#InvalidateProjectCache"
        },
        {
          "target": "com.amazonaws.codebuild#ListBuilds"
        },
        {
          "target": "com.amazonaws.codebuild#ListBuildsForProject"
        },
        {
          "target": "com.amazonaws.codebuild#ListCuratedEnvironmentImages"
        },
        {
          "target": "com.amazonaws.codebuild#ListProjects"
        },
        {
          "target": "com.amazonaws.codebuild#ListReportGroups"
        },
        {
          "target": "com.amazonaws.codebuild#ListReports"
        },
        {
          "target": "com.amazonaws.codebuild#ListReportsForReportGroup"
        },
        {
          "target": "com.amazonaws.codebuild#ListSharedProjects"
        },
        {
          "target": "com.amazonaws.codebuild#ListSharedReportGroups"
        },
        {
          "target": "com.amazonaws.codebuild#ListSourceCredentials"
        },
        {
          "target": "com.amazonaws.codebuild#PutResourcePolicy"
        },
        {
          "target": "com.amazonaws.codebuild#StartBuild"
        },
        {
          "target": "com.amazonaws.codebuild#StopBuild"
        },
        {
          "target": "com.amazonaws.codebuild#UpdateProject"
        },
        {
          "target": "com.amazonaws.codebuild#UpdateReportGroup"
        },
        {
          "target": "com.amazonaws.codebuild#UpdateWebhook"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CodeBuild",
          "arnNamespace": "codebuild",
          "cloudFormationName": "CodeBuild",
          "cloudTrailEventSource": "codebuild.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "codebuild"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>AWS CodeBuild</fullname>\n         <p>AWS CodeBuild is a fully managed build service in the cloud. AWS CodeBuild compiles your source code,\n         runs unit tests, and produces artifacts that are ready to deploy. AWS CodeBuild eliminates the need\n         to provision, manage, and scale your own build servers. It provides prepackaged build\n         environments for the most popular programming languages and build tools, such as Apache\n         Maven, Gradle, and more. You can also fully customize build environments in AWS CodeBuild to use\n         your own build tools. AWS CodeBuild scales automatically to meet peak build requests. You pay only\n         for the build time you consume. For more information about AWS CodeBuild, see the <i>\n               <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/welcome.html\">AWS CodeBuild User Guide</a>.</i>\n         </p>\n         <p>AWS CodeBuild supports these operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BatchDeleteBuilds</code>: Deletes one or more builds.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BatchGetBuilds</code>: Gets information about one or more builds.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BatchGetProjects</code>: Gets information about one or more build projects.\n               A <i>build project</i> defines how AWS CodeBuild runs a build. This includes\n               information such as where to get the source code to build, the build environment to\n               use, the build commands to run, and where to store the build output. A\n               <i>build environment</i> is a representation of operating system,\n               programming language runtime, and tools that AWS CodeBuild uses to run a build. You can add\n               tags to build projects to help manage your resources and costs.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BatchGetReportGroups</code>: Returns an array of report groups.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>BatchGetReports</code>: Returns an array of reports.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>CreateProject</code>: Creates a build project.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CreateReportGroup</code>: Creates a report group. A report group contains a collection of reports.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>CreateWebhook</code>: For an existing AWS CodeBuild build project that has its\n               source code stored in a GitHub or Bitbucket repository, enables AWS CodeBuild to start\n               rebuilding the source code every time a code change is pushed to the\n               repository.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteProject</code>: Deletes a build project.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteReport</code>: Deletes a report.               \n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteReportGroup</code>: Deletes a report group. \n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteResourcePolicy</code>:  Deletes a resource policy that is identified by its resource ARN. \n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteSourceCredentials</code>: Deletes a set of GitHub, GitHub Enterprise, \n               or Bitbucket source credentials.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteWebhook</code>: For an existing AWS CodeBuild build project that has its\n               source code stored in a GitHub or Bitbucket repository, stops AWS CodeBuild from rebuilding\n               the source code every time a code change is pushed to the repository.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DescribeTestCases</code>: Returns a list of details about test cases for a report.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>GetResourcePolicy</code>:  Gets a resource policy that is identified by its resource ARN.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>ImportSourceCredentials</code>: Imports the source repository credentials for an AWS CodeBuild project that has its source code stored \n               in a GitHub, GitHub Enterprise, or Bitbucket repository.</p>\n            </li>\n            <li>\n               <p>\n                  <code>InvalidateProjectCache</code>: Resets the cache for a project.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListBuilds</code>: Gets a list of build IDs, with each build ID representing\n               a single build.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListBuildsForProject</code>: Gets a list of build IDs for the specified\n               build project, with each build ID representing a single build.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListCuratedEnvironmentImages</code>: Gets information about Docker images\n               that are managed by AWS CodeBuild.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListProjects</code>: Gets a list of build project names, with each build\n               project name representing a single build project.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListReportGroups</code>: Gets a list ARNs for the report groups in the current AWS account.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>ListReports</code>: Gets a list ARNs for the reports in the current AWS account.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>ListReportsForReportGroup</code>: Returns a list of ARNs for the reports that belong to a <code>ReportGroup</code>.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>ListSharedProjects</code>: Gets a list of ARNs associated with projects shared with the current AWS account or user.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListSharedReportGroups</code>: Gets a list of ARNs associated with report groups shared with the current AWS account or user</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListSourceCredentials</code>: Returns a list of <code>SourceCredentialsInfo</code> objects. Each <code>SourceCredentialsInfo</code> object includes \n               the authentication type, token ARN, and type of source provider for one set of credentials.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PutResourcePolicy</code>:  Stores a resource policy for the ARN of a <code>Project</code> or <code>ReportGroup</code> object.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>StartBuild</code>: Starts running a build.</p>\n            </li>\n            <li>\n               <p>\n                  <code>StopBuild</code>: Attempts to stop running a build.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UpdateProject</code>: Changes the settings of an existing build\n               project.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UpdateReportGroup</code>: Changes a report group.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UpdateWebhook</code>: Changes the settings of an existing webhook.</p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS CodeBuild"
      }
    },
    "com.amazonaws.codebuild#ComputeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BUILD_GENERAL1_SMALL",
            "name": "BUILD_GENERAL1_SMALL"
          },
          {
            "value": "BUILD_GENERAL1_MEDIUM",
            "name": "BUILD_GENERAL1_MEDIUM"
          },
          {
            "value": "BUILD_GENERAL1_LARGE",
            "name": "BUILD_GENERAL1_LARGE"
          },
          {
            "value": "BUILD_GENERAL1_2XLARGE",
            "name": "BUILD_GENERAL1_2XLARGE"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#CreateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#CreateProjectInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#CreateProjectOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#AccountLimitExceededException"
        },
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        },
        {
          "target": "com.amazonaws.codebuild#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a build project.</p>"
      }
    },
    "com.amazonaws.codebuild#CreateProjectInput": {
      "type": "structure",
      "members": {
        "artifacts": {
          "target": "com.amazonaws.codebuild#ProjectArtifacts",
          "traits": {
            "smithy.api#documentation": "<p>Information about the build output artifacts for the build project.</p>",
            "smithy.api#required": {}
          }
        },
        "badgeEnabled": {
          "target": "com.amazonaws.codebuild#WrapperBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Set this to true to generate a publicly accessible URL for your project's build\n         badge.</p>"
          }
        },
        "cache": {
          "target": "com.amazonaws.codebuild#ProjectCache",
          "traits": {
            "smithy.api#documentation": "<p>Stores recently used information so that it can be quickly accessed at a later\n         time.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.codebuild#ProjectDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description that makes the build project easy to identify.</p>"
          }
        },
        "encryptionKey": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Key Management Service (AWS KMS) customer master key (CMK) to be used for encrypting the build output\n         artifacts.</p>\n         <note>\n            <p>\n            You can use a cross-account KMS key to encrypt the build output artifacts if your service role \n            has permission to that key.\n         </p>\n         </note>\n         <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK's alias (using the\n         format <code>alias/<i>alias-name</i>\n            </code>).</p>"
          }
        },
        "environment": {
          "target": "com.amazonaws.codebuild#ProjectEnvironment",
          "traits": {
            "smithy.api#documentation": "<p>Information about the build environment for the build project.</p>",
            "smithy.api#required": {}
          }
        },
        "logsConfig": {
          "target": "com.amazonaws.codebuild#LogsConfig",
          "traits": {
            "smithy.api#documentation": "<p> Information about logs for the build project. These can be logs in Amazon CloudWatch Logs, logs uploaded\n         to a specified S3 bucket, or both. </p>"
          }
        },
        "name": {
          "target": "com.amazonaws.codebuild#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the build project.</p>",
            "smithy.api#required": {}
          }
        },
        "queuedTimeoutInMinutes": {
          "target": "com.amazonaws.codebuild#TimeOut",
          "traits": {
            "smithy.api#documentation": "<p> The number of minutes a build is allowed to be queued before it times out. </p>"
          }
        },
        "secondaryArtifacts": {
          "target": "com.amazonaws.codebuild#ProjectArtifactsList",
          "traits": {
            "smithy.api#documentation": "<p> An array of <code>ProjectArtifacts</code> objects. </p>"
          }
        },
        "secondarySourceVersions": {
          "target": "com.amazonaws.codebuild#ProjectSecondarySourceVersions",
          "traits": {
            "smithy.api#documentation": "<p>\n         An array of <code>ProjectSourceVersion</code> objects. If <code>secondarySourceVersions</code> is specified at the build level, then they take precedence over these \n         <code>secondarySourceVersions</code> (at the project level).\n      </p>"
          }
        },
        "secondarySources": {
          "target": "com.amazonaws.codebuild#ProjectSources",
          "traits": {
            "smithy.api#documentation": "<p> An array of <code>ProjectSource</code> objects. </p>"
          }
        },
        "serviceRole": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the AWS Identity and Access Management (IAM) role that enables AWS CodeBuild to interact with dependent AWS services on\n         behalf of the AWS account.</p>",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.amazonaws.codebuild#ProjectSource",
          "traits": {
            "smithy.api#documentation": "<p>Information about the build input source code for the build project.</p>",
            "smithy.api#required": {}
          }
        },
        "sourceVersion": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>\n         A version of the build input to be built for this project. If not specified, the\n         latest version is used. If specified, it must be one of:\n      </p>\n         <ul>\n            <li>\n               <p>For AWS CodeCommit: the commit ID, branch, or Git tag to use.</p>\n            </li>\n            <li>\n               <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that\n               corresponds to the version of the source code you want to build. If a pull request ID\n               is specified, it must use the format <code>pr/pull-request-ID</code> (for example\n               <code>pr/25</code>). If a branch name is specified, the branch's HEAD commit ID is\n               used. If not specified, the default branch's HEAD commit ID is used.</p>\n            </li>\n            <li>\n               <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the\n               version of the source code you want to build. If a branch name is specified, the\n               branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit\n               ID is used.</p>\n            </li>\n            <li>\n               <p>For Amazon Simple Storage Service (Amazon S3): the version ID of the object that represents the build input ZIP file to\n               use.</p>\n            </li>\n         </ul>\n         <p>\n         If <code>sourceVersion</code> is specified at the build level, then that version takes precedence over this <code>sourceVersion</code> (at the project level).\n      </p>\n         <p>\n         For more information, see \n         <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/sample-source-version.html\">Source Version Sample with CodeBuild</a> \n         in the <i>AWS CodeBuild User Guide</i>.\n      </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.codebuild#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A set of tags for this build project.</p>\n         <p>These tags are available for use by AWS services that support AWS CodeBuild build project\n         tags.</p>"
          }
        },
        "timeoutInMinutes": {
          "target": "com.amazonaws.codebuild#TimeOut",
          "traits": {
            "smithy.api#documentation": "<p>How long, in minutes, from 5 to 480 (8 hours), for AWS CodeBuild to wait before it times out any\n         build that has not been marked as completed. The default is 60 minutes.</p>"
          }
        },
        "vpcConfig": {
          "target": "com.amazonaws.codebuild#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>VpcConfig enables AWS CodeBuild to access resources in an Amazon VPC.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#CreateProjectOutput": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.amazonaws.codebuild#Project",
          "traits": {
            "smithy.api#documentation": "<p>Information about the build project that was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#CreateReportGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#CreateReportGroupInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#CreateReportGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#AccountLimitExceededException"
        },
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        },
        {
          "target": "com.amazonaws.codebuild#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Creates a report group. A report group contains a collection of reports.\n      </p>"
      }
    },
    "com.amazonaws.codebuild#CreateReportGroupInput": {
      "type": "structure",
      "members": {
        "exportConfig": {
          "target": "com.amazonaws.codebuild#ReportExportConfig",
          "traits": {
            "smithy.api#documentation": "<p>\n         A <code>ReportExportConfig</code> object that contains information about where the report group test results are exported.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.codebuild#ReportGroupName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the report group.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.codebuild#ReportType",
          "traits": {
            "smithy.api#documentation": "<p>\n         The type of report group.\n      </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#CreateReportGroupOutput": {
      "type": "structure",
      "members": {
        "reportGroup": {
          "target": "com.amazonaws.codebuild#ReportGroup",
          "traits": {
            "smithy.api#documentation": "<p>\n         Information about the report group that was created.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#CreateWebhook": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#CreateWebhookInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#CreateWebhookOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        },
        {
          "target": "com.amazonaws.codebuild#OAuthProviderException"
        },
        {
          "target": "com.amazonaws.codebuild#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.codebuild#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>For an existing AWS CodeBuild build project that has its source code stored in a GitHub or\n         Bitbucket repository, enables AWS CodeBuild to start rebuilding the source code every time a code\n         change is pushed to the repository.</p>\n         <important>\n            <p>If you enable webhooks for an AWS CodeBuild project, and the project is used as a build step\n            in AWS CodePipeline, then two identical builds are created for each commit. One build is triggered\n            through webhooks, and one through AWS CodePipeline. Because billing is on a per-build basis, you\n            are billed for both builds. Therefore, if you are using AWS CodePipeline, we recommend that you\n            disable webhooks in AWS CodeBuild. In the AWS CodeBuild console, clear the Webhook box. For more\n            information, see step 5 in <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/change-project.html#change-project-console\">Change a\n               Build Project's Settings</a>.</p>\n         </important>"
      }
    },
    "com.amazonaws.codebuild#CreateWebhookInput": {
      "type": "structure",
      "members": {
        "branchFilter": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>A regular expression used to determine which repository branches are built when a\n         webhook is triggered. If the name of a branch matches the regular expression, then it is\n         built. If <code>branchFilter</code> is empty, then all branches are built.</p>\n         <note>\n            <p>\n            It is recommended that you use <code>filterGroups</code> instead of <code>branchFilter</code>.\n         </p>\n         </note>"
          }
        },
        "filterGroups": {
          "target": "com.amazonaws.codebuild#FilterGroups",
          "traits": {
            "smithy.api#documentation": "<p>\n         An array of arrays of <code>WebhookFilter</code> objects used to determine which webhooks are triggered. At least one \n         <code>WebhookFilter</code> in the array must specify <code>EVENT</code> as its <code>type</code>.\n      </p>\n         <p>\n         For a build to be \n         triggered, at least one filter group in the <code>filterGroups</code> array must pass. For a filter group \n         to pass, each of its filters must pass.\n      </p>"
          }
        },
        "projectName": {
          "target": "com.amazonaws.codebuild#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS CodeBuild project.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#CreateWebhookOutput": {
      "type": "structure",
      "members": {
        "webhook": {
          "target": "com.amazonaws.codebuild#Webhook",
          "traits": {
            "smithy.api#documentation": "<p>Information about a webhook that connects repository events to a build project in\n         AWS CodeBuild.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#CredentialProviderType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SECRETS_MANAGER",
            "name": "SECRETS_MANAGER"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#DeleteProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#DeleteProjectInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#DeleteProjectOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Deletes a build project. When you delete a project, its builds are not deleted. \n      </p>"
      }
    },
    "com.amazonaws.codebuild#DeleteProjectInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the build project.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#DeleteProjectOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.codebuild#DeleteReport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#DeleteReportInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#DeleteReportOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Deletes a report.\n      </p>"
      }
    },
    "com.amazonaws.codebuild#DeleteReportGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#DeleteReportGroupInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#DeleteReportGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            <code>DeleteReportGroup</code>: Deletes a report group. Before you delete a report group, you must \n         delete its reports. Use <a href=\"https://docs.aws.amazon.com/codebuild/latest/APIReference/API_ListReportsForReportGroup.html\">ListReportsForReportGroup</a> to \n         get the reports in a report group. Use <a href=\"https://docs.aws.amazon.com/codebuild/latest/APIReference/API_DeleteReport.html\">DeleteReport</a> to delete the reports. If you call \n         <code>DeleteReportGroup</code> for a report group that contains one or more reports, an exception is thrown.\n      </p>"
      }
    },
    "com.amazonaws.codebuild#DeleteReportGroupInput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The ARN of the report group to delete.\n      </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#DeleteReportGroupOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.codebuild#DeleteReportInput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The ARN of the report to delete.\n      </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#DeleteReportOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.codebuild#DeleteResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#DeleteResourcePolicyInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#DeleteResourcePolicyOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Deletes a resource policy that is identified by its resource ARN.\n      </p>"
      }
    },
    "com.amazonaws.codebuild#DeleteResourcePolicyInput": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The ARN of the resource that is associated with the resource policy.\n      </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#DeleteResourcePolicyOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.codebuild#DeleteSourceCredentials": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#DeleteSourceCredentialsInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#DeleteSourceCredentialsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        },
        {
          "target": "com.amazonaws.codebuild#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Deletes a set of GitHub, GitHub Enterprise, or Bitbucket source credentials. \n      </p>"
      }
    },
    "com.amazonaws.codebuild#DeleteSourceCredentialsInput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the token.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#DeleteSourceCredentialsOutput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The Amazon Resource Name (ARN) of the token.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#DeleteWebhook": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#DeleteWebhookInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#DeleteWebhookOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        },
        {
          "target": "com.amazonaws.codebuild#OAuthProviderException"
        },
        {
          "target": "com.amazonaws.codebuild#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>For an existing AWS CodeBuild build project that has its source code stored in a GitHub or\n         Bitbucket repository, stops AWS CodeBuild from rebuilding the source code every time a code change\n         is pushed to the repository.</p>"
      }
    },
    "com.amazonaws.codebuild#DeleteWebhookInput": {
      "type": "structure",
      "members": {
        "projectName": {
          "target": "com.amazonaws.codebuild#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS CodeBuild project.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#DeleteWebhookOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.codebuild#DescribeTestCases": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#DescribeTestCasesInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#DescribeTestCasesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        },
        {
          "target": "com.amazonaws.codebuild#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Returns a list of details about test cases for a report.\n      </p>"
      }
    },
    "com.amazonaws.codebuild#DescribeTestCasesInput": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "com.amazonaws.codebuild#TestCaseFilter",
          "traits": {
            "smithy.api#documentation": "<p>\n         A <code>TestCaseFilter</code> object used to filter the returned reports.\n      </p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.codebuild#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>\n         The maximum number of paginated test cases returned per response. Use <code>nextToken</code> to iterate pages in \n         the list of returned <code>TestCase</code> objects. The default value is 100.\n      </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            During a previous call, the maximum number of items that can be returned is the value specified in \n            <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> \n            is returned. To get the next batch of items in the list, call this operation again, adding the next token\n            to the call. To get all of the items in the list, keep calling this operation with each\n            subsequent next token that is returned, until no more next tokens are returned.\n      </p>"
          }
        },
        "reportArn": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>\n         The ARN of the report for which test cases are returned.\n      </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#DescribeTestCasesOutput": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>\n         During a previous call, the maximum number of items that can be returned is the value specified in \n         <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> \n         is returned. To get the next batch of items in the list, call this operation again, adding the next token\n         to the call. To get all of the items in the list, keep calling this operation with each\n         subsequent next token that is returned, until no more next tokens are returned.\n      </p>"
          }
        },
        "testCases": {
          "target": "com.amazonaws.codebuild#TestCases",
          "traits": {
            "smithy.api#documentation": "<p>\n         The returned list of test cases.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#EnvironmentImage": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the Docker image.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Docker image.</p>"
          }
        },
        "versions": {
          "target": "com.amazonaws.codebuild#ImageVersions",
          "traits": {
            "smithy.api#documentation": "<p>A list of environment image versions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a Docker image that is managed by AWS CodeBuild.</p>"
      }
    },
    "com.amazonaws.codebuild#EnvironmentImages": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#EnvironmentImage"
      }
    },
    "com.amazonaws.codebuild#EnvironmentLanguage": {
      "type": "structure",
      "members": {
        "images": {
          "target": "com.amazonaws.codebuild#EnvironmentImages",
          "traits": {
            "smithy.api#documentation": "<p>The list of Docker images that are related by the specified programming language.</p>"
          }
        },
        "language": {
          "target": "com.amazonaws.codebuild#LanguageType",
          "traits": {
            "smithy.api#documentation": "<p>The programming language for the Docker images.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A set of Docker images that are related by programming language and are managed by\n         AWS CodeBuild.</p>"
      }
    },
    "com.amazonaws.codebuild#EnvironmentLanguages": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#EnvironmentLanguage"
      }
    },
    "com.amazonaws.codebuild#EnvironmentPlatform": {
      "type": "structure",
      "members": {
        "languages": {
          "target": "com.amazonaws.codebuild#EnvironmentLanguages",
          "traits": {
            "smithy.api#documentation": "<p>The list of programming languages that are available for the specified platform.</p>"
          }
        },
        "platform": {
          "target": "com.amazonaws.codebuild#PlatformType",
          "traits": {
            "smithy.api#documentation": "<p>The platform's name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A set of Docker images that are related by platform and are managed by AWS CodeBuild.</p>"
      }
    },
    "com.amazonaws.codebuild#EnvironmentPlatforms": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#EnvironmentPlatform"
      }
    },
    "com.amazonaws.codebuild#EnvironmentType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "WINDOWS_CONTAINER",
            "name": "WINDOWS_CONTAINER"
          },
          {
            "value": "LINUX_CONTAINER",
            "name": "LINUX_CONTAINER"
          },
          {
            "value": "LINUX_GPU_CONTAINER",
            "name": "LINUX_GPU_CONTAINER"
          },
          {
            "value": "ARM_CONTAINER",
            "name": "ARM_CONTAINER"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#EnvironmentVariable": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name or key of the environment variable.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.codebuild#EnvironmentVariableType",
          "traits": {
            "smithy.api#documentation": "<p>The type of environment variable. Valid values include:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PARAMETER_STORE</code>: An environment variable stored in Amazon EC2 Systems Manager Parameter\n               Store.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PLAINTEXT</code>: An environment variable in plain text format. This is the default value.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SECRETS_MANAGER</code>: An environment variable stored in AWS Secrets Manager.</p>\n            </li>\n         </ul>"
          }
        },
        "value": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the environment variable.</p>\n         <important>\n            <p>We strongly discourage the use of environment variables to store sensitive values,\n            especially AWS secret key IDs and secret access keys. Environment variables can be\n            displayed in plain text using the AWS CodeBuild console and the AWS Command Line Interface (AWS CLI).</p>\n         </important>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an environment variable for a build project or a build.</p>"
      }
    },
    "com.amazonaws.codebuild#EnvironmentVariableType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PLAINTEXT",
            "name": "PLAINTEXT"
          },
          {
            "value": "PARAMETER_STORE",
            "name": "PARAMETER_STORE"
          },
          {
            "value": "SECRETS_MANAGER",
            "name": "SECRETS_MANAGER"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#EnvironmentVariables": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#EnvironmentVariable"
      }
    },
    "com.amazonaws.codebuild#ExportedEnvironmentVariable": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of this exported environment variable.\n      </p>"
          }
        },
        "value": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>\n         The value assigned to this exported environment variable.\n      </p>\n         <note>\n            <p> During a build, the value of a variable is available starting\n            with the <code>install</code> phase. It can be updated between the\n            start of the <code>install</code> phase and the end of the\n            <code>post_build</code> phase. After the <code>post_build</code>\n            phase ends, the value of exported variables cannot change.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Information about an exported environment variable.\n      </p>"
      }
    },
    "com.amazonaws.codebuild#ExportedEnvironmentVariables": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#ExportedEnvironmentVariable"
      }
    },
    "com.amazonaws.codebuild#FilterGroup": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#WebhookFilter"
      }
    },
    "com.amazonaws.codebuild#FilterGroups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#FilterGroup"
      }
    },
    "com.amazonaws.codebuild#GetResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#GetResourcePolicyInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#GetResourcePolicyOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        },
        {
          "target": "com.amazonaws.codebuild#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Gets a resource policy that is identified by its resource ARN. \n      </p>"
      }
    },
    "com.amazonaws.codebuild#GetResourcePolicyInput": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The ARN of the resource that is associated with the resource policy.         \n      </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#GetResourcePolicyOutput": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The resource policy for the resource identified by the input ARN parameter.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#GitCloneDepth": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.codebuild#GitSubmodulesConfig": {
      "type": "structure",
      "members": {
        "fetchSubmodules": {
          "target": "com.amazonaws.codebuild#WrapperBoolean",
          "traits": {
            "smithy.api#documentation": "<p>\n         Set to true to fetch Git submodules for your AWS CodeBuild build project.\n      </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Information about the Git submodules configuration for an AWS CodeBuild build project.\n      </p>"
      }
    },
    "com.amazonaws.codebuild#ImagePullCredentialsType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CODEBUILD",
            "name": "CODEBUILD"
          },
          {
            "value": "SERVICE_ROLE",
            "name": "SERVICE_ROLE"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#ImageVersions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#String"
      }
    },
    "com.amazonaws.codebuild#ImportSourceCredentials": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#ImportSourceCredentialsInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#ImportSourceCredentialsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#AccountLimitExceededException"
        },
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        },
        {
          "target": "com.amazonaws.codebuild#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Imports the source repository credentials for an AWS CodeBuild project that has its source code stored \n         in a GitHub, GitHub Enterprise, or Bitbucket repository. \n      </p>"
      }
    },
    "com.amazonaws.codebuild#ImportSourceCredentialsInput": {
      "type": "structure",
      "members": {
        "authType": {
          "target": "com.amazonaws.codebuild#AuthType",
          "traits": {
            "smithy.api#documentation": "<p>\n         The type of authentication used to connect to a GitHub, GitHub Enterprise, or Bitbucket repository. An OAUTH connection is not \n         supported by the API and must be created using the AWS CodeBuild console.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "serverType": {
          "target": "com.amazonaws.codebuild#ServerType",
          "traits": {
            "smithy.api#documentation": "<p>\n         The source provider used for this project.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "shouldOverwrite": {
          "target": "com.amazonaws.codebuild#WrapperBoolean",
          "traits": {
            "smithy.api#documentation": "<p>\n         Set to <code>false</code> to prevent overwriting the repository source credentials. Set to <code>true</code> to overwrite \n         the repository source credentials. The default value is <code>true</code>.\n      </p>"
          }
        },
        "token": {
          "target": "com.amazonaws.codebuild#SensitiveNonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>\n         For GitHub or GitHub Enterprise, this is the personal access token. For Bitbucket, this is the app password.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "username": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The Bitbucket username when the <code>authType</code> is BASIC_AUTH. This parameter is not valid for other types \n         of source providers or connections.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#ImportSourceCredentialsOutput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The Amazon Resource Name (ARN) of the token.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#InvalidInputException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codebuild#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input value that was provided is not valid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codebuild#InvalidateProjectCache": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#InvalidateProjectCacheInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#InvalidateProjectCacheOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        },
        {
          "target": "com.amazonaws.codebuild#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Resets the cache for a project.</p>"
      }
    },
    "com.amazonaws.codebuild#InvalidateProjectCacheInput": {
      "type": "structure",
      "members": {
        "projectName": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS CodeBuild build project that the cache is reset for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#InvalidateProjectCacheOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.codebuild#KeyInput": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 127
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=@+\\-]*)$"
      }
    },
    "com.amazonaws.codebuild#LanguageType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "JAVA",
            "name": "JAVA"
          },
          {
            "value": "PYTHON",
            "name": "PYTHON"
          },
          {
            "value": "NODE_JS",
            "name": "NODE_JS"
          },
          {
            "value": "RUBY",
            "name": "RUBY"
          },
          {
            "value": "GOLANG",
            "name": "GOLANG"
          },
          {
            "value": "DOCKER",
            "name": "DOCKER"
          },
          {
            "value": "ANDROID",
            "name": "ANDROID"
          },
          {
            "value": "DOTNET",
            "name": "DOTNET"
          },
          {
            "value": "BASE",
            "name": "BASE"
          },
          {
            "value": "PHP",
            "name": "PHP"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#ListBuilds": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#ListBuildsInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#ListBuildsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a list of build IDs, with each build ID representing a single build.</p>"
      }
    },
    "com.amazonaws.codebuild#ListBuildsForProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#ListBuildsForProjectInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#ListBuildsForProjectOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        },
        {
          "target": "com.amazonaws.codebuild#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a list of build IDs for the specified build project, with each build ID\n         representing a single build.</p>"
      }
    },
    "com.amazonaws.codebuild#ListBuildsForProjectInput": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>During a previous call, if there are more than 100 items in the list, only the first 100\n         items are returned, along with a unique string called a <i>nextToken</i>. To\n         get the next batch of items in the list, call this operation again, adding the next token\n         to the call. To get all of the items in the list, keep calling this operation with each\n         subsequent next token that is returned, until no more next tokens are returned.</p>"
          }
        },
        "projectName": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS CodeBuild project.</p>",
            "smithy.api#required": {}
          }
        },
        "sortOrder": {
          "target": "com.amazonaws.codebuild#SortOrderType",
          "traits": {
            "smithy.api#documentation": "<p>The order to list build IDs. Valid values include:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ASCENDING</code>: List the build IDs in ascending order by build ID.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DESCENDING</code>: List the build IDs in descending order by build\n               ID.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#ListBuildsForProjectOutput": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.amazonaws.codebuild#BuildIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of build IDs for the specified build project, with each build ID representing a\n         single build.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>If there are more than 100 items in the list, only the first 100 items are returned,\n         along with a unique string called a <i>nextToken</i>. To get the next batch\n         of items in the list, call this operation again, adding the next token to the call.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#ListBuildsInput": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>During a previous call, if there are more than 100 items in the list, only the first 100\n         items are returned, along with a unique string called a <i>nextToken</i>. To\n         get the next batch of items in the list, call this operation again, adding the next token\n         to the call. To get all of the items in the list, keep calling this operation with each\n         subsequent next token that is returned, until no more next tokens are returned.</p>"
          }
        },
        "sortOrder": {
          "target": "com.amazonaws.codebuild#SortOrderType",
          "traits": {
            "smithy.api#documentation": "<p>The order to list build IDs. Valid values include:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ASCENDING</code>: List the build IDs in ascending order by build ID.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DESCENDING</code>: List the build IDs in descending order by build\n               ID.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#ListBuildsOutput": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.amazonaws.codebuild#BuildIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of build IDs, with each build ID representing a single build.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>If there are more than 100 items in the list, only the first 100 items are returned,\n         along with a unique string called a <i>nextToken</i>. To get the next batch\n         of items in the list, call this operation again, adding the next token to the call.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#ListCuratedEnvironmentImages": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#ListCuratedEnvironmentImagesInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#ListCuratedEnvironmentImagesOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Gets information about Docker images that are managed by AWS CodeBuild.</p>"
      }
    },
    "com.amazonaws.codebuild#ListCuratedEnvironmentImagesInput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.codebuild#ListCuratedEnvironmentImagesOutput": {
      "type": "structure",
      "members": {
        "platforms": {
          "target": "com.amazonaws.codebuild#EnvironmentPlatforms",
          "traits": {
            "smithy.api#documentation": "<p>Information about supported platforms for Docker images that are managed by\n         AWS CodeBuild.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#ListProjects": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#ListProjectsInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#ListProjectsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a list of build project names, with each build project name representing a single\n         build project.</p>"
      }
    },
    "com.amazonaws.codebuild#ListProjectsInput": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>During a previous call, if there are more than 100 items in the list, only the first 100\n         items are returned, along with a unique string called a <i>nextToken</i>. To\n         get the next batch of items in the list, call this operation again, adding the next token\n         to the call. To get all of the items in the list, keep calling this operation with each\n         subsequent next token that is returned, until no more next tokens are returned.</p>"
          }
        },
        "sortBy": {
          "target": "com.amazonaws.codebuild#ProjectSortByType",
          "traits": {
            "smithy.api#documentation": "<p>The criterion to be used to list build project names. Valid values include:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CREATED_TIME</code>: List based on when each build project was\n               created.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LAST_MODIFIED_TIME</code>: List based on when information about each build\n               project was last changed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NAME</code>: List based on each build project's name.</p>\n            </li>\n         </ul>\n         <p>Use <code>sortOrder</code> to specify in what order to list the build project names\n         based on the preceding criteria.</p>"
          }
        },
        "sortOrder": {
          "target": "com.amazonaws.codebuild#SortOrderType",
          "traits": {
            "smithy.api#documentation": "<p>The order in which to list build projects. Valid values include:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ASCENDING</code>: List in ascending order.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DESCENDING</code>: List in descending order.</p>\n            </li>\n         </ul>\n         <p>Use <code>sortBy</code> to specify the criterion to be used to list build project\n         names.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#ListProjectsOutput": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>If there are more than 100 items in the list, only the first 100 items are returned,\n         along with a unique string called a <i>nextToken</i>. To get the next batch\n         of items in the list, call this operation again, adding the next token to the call.</p>"
          }
        },
        "projects": {
          "target": "com.amazonaws.codebuild#ProjectNames",
          "traits": {
            "smithy.api#documentation": "<p>The list of build project names, with each build project name representing a single\n         build project.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#ListReportGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#ListReportGroupsInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#ListReportGroupsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>  \n         Gets a list ARNs for the report groups in the current AWS account.\n      </p>"
[...]
