{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.codestar#AssociateTeamMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestar#AssociateTeamMemberRequest"
      },
      "output": {
        "target": "com.amazonaws.codestar#AssociateTeamMemberResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestar#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.codestar#InvalidServiceRoleException"
        },
        {
          "target": "com.amazonaws.codestar#LimitExceededException"
        },
        {
          "target": "com.amazonaws.codestar#ProjectConfigurationException"
        },
        {
          "target": "com.amazonaws.codestar#ProjectNotFoundException"
        },
        {
          "target": "com.amazonaws.codestar#TeamMemberAlreadyAssociatedException"
        },
        {
          "target": "com.amazonaws.codestar#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds an IAM user to the team for an AWS CodeStar project.</p>"
      }
    },
    "com.amazonaws.codestar#AssociateTeamMemberRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "com.amazonaws.codestar#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the project to which you will add the IAM user.</p>",
            "smithy.api#required": {}
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.codestar#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A user- or system-generated token that identifies the entity that requested the team\n      member association to the project. This token can be used to repeat the request.</p>"
          }
        },
        "userArn": {
          "target": "com.amazonaws.codestar#UserArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar\n      project.</p>",
            "smithy.api#required": {}
          }
        },
        "projectRole": {
          "target": "com.amazonaws.codestar#Role",
          "traits": {
            "smithy.api#documentation": "<p>The AWS CodeStar project role that will apply to this user. This role determines what actions\n      a user can take in an AWS CodeStar project.</p>",
            "smithy.api#required": {}
          }
        },
        "remoteAccessAllowed": {
          "target": "com.amazonaws.codestar#RemoteAccessAllowed",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Whether the team member is allowed to use an SSH public/private key pair to remotely\n      access project resources, for example Amazon EC2 instances.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#AssociateTeamMemberResult": {
      "type": "structure",
      "members": {
        "clientRequestToken": {
          "target": "com.amazonaws.codestar#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>The user- or system-generated token from the initial request that can be used to repeat\n      the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#BucketKey": {
      "type": "string"
    },
    "com.amazonaws.codestar#BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 63
        }
      }
    },
    "com.amazonaws.codestar#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[\\w:/-]+$"
      }
    },
    "com.amazonaws.codestar#Code": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.amazonaws.codestar#CodeSource",
          "traits": {
            "smithy.api#documentation": "<p>The location where the source code files provided with the project request are\n      stored. AWS CodeStar retrieves the files during project creation.</p>",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.amazonaws.codestar#CodeDestination",
          "traits": {
            "smithy.api#documentation": "<p>The repository to be created in AWS CodeStar. Valid values are AWS CodeCommit or GitHub. After AWS CodeStar provisions the new repository, the\n      source code files provided with the project request are placed in the repository.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Location and destination information about the source code files provided with the\n      project request. The source code is uploaded to the new project source repository after\n      project creation.</p>"
      }
    },
    "com.amazonaws.codestar#CodeCommitCodeDestination": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codestar#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AWS CodeCommit repository to be created in AWS CodeStar.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the AWS CodeCommit repository to be created in AWS CodeStar. This is where the source code files provided\n      with the project request will be uploaded after project creation.</p>"
      }
    },
    "com.amazonaws.codestar#CodeDestination": {
      "type": "structure",
      "members": {
        "codeCommit": {
          "target": "com.amazonaws.codestar#CodeCommitCodeDestination",
          "traits": {
            "smithy.api#documentation": "<p>Information about the AWS CodeCommit repository to be created in AWS CodeStar. This is where the source code files provided\n      with the project request will be uploaded after project creation.</p>"
          }
        },
        "gitHub": {
          "target": "com.amazonaws.codestar#GitHubCodeDestination",
          "traits": {
            "smithy.api#documentation": "<p>Information about the GitHub repository to be created in AWS CodeStar. This is where the source code files provided with the\n      project request will be uploaded after project creation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The repository to be created in AWS CodeStar. Valid values are AWS CodeCommit or GitHub. After AWS CodeStar provisions the new repository, the\n      source code files provided with the project request are placed in the repository.</p>"
      }
    },
    "com.amazonaws.codestar#CodeSource": {
      "type": "structure",
      "members": {
        "s3": {
          "target": "com.amazonaws.codestar#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Amazon S3 location where the source code files provided with the\n      project request are stored. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The location where the source code files provided with the project request are\n      stored. AWS CodeStar retrieves the files during project creation.</p>"
      }
    },
    "com.amazonaws.codestar#CodeStar_20170419": {
      "type": "service",
      "version": "2017-04-19",
      "operations": [
        {
          "target": "com.amazonaws.codestar#AssociateTeamMember"
        },
        {
          "target": "com.amazonaws.codestar#CreateProject"
        },
        {
          "target": "com.amazonaws.codestar#CreateUserProfile"
        },
        {
          "target": "com.amazonaws.codestar#DeleteProject"
        },
        {
          "target": "com.amazonaws.codestar#DeleteUserProfile"
        },
        {
          "target": "com.amazonaws.codestar#DescribeProject"
        },
        {
          "target": "com.amazonaws.codestar#DescribeUserProfile"
        },
        {
          "target": "com.amazonaws.codestar#DisassociateTeamMember"
        },
        {
          "target": "com.amazonaws.codestar#ListProjects"
        },
        {
          "target": "com.amazonaws.codestar#ListResources"
        },
        {
          "target": "com.amazonaws.codestar#ListTagsForProject"
        },
        {
          "target": "com.amazonaws.codestar#ListTeamMembers"
        },
        {
          "target": "com.amazonaws.codestar#ListUserProfiles"
        },
        {
          "target": "com.amazonaws.codestar#TagProject"
        },
        {
          "target": "com.amazonaws.codestar#UntagProject"
        },
        {
          "target": "com.amazonaws.codestar#UpdateProject"
        },
        {
          "target": "com.amazonaws.codestar#UpdateTeamMember"
        },
        {
          "target": "com.amazonaws.codestar#UpdateUserProfile"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CodeStar",
          "arnNamespace": "codestar",
          "cloudFormationName": "CodeStar",
          "cloudTrailEventSource": "codestar.amazonaws.com",
          "endpointPrefix": "codestar"
        },
        "aws.auth#sigv4": {
          "name": "codestar"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>AWS CodeStar</fullname>\n         <p>This is the API reference for AWS CodeStar. This reference provides descriptions of the\n      operations and data types for the AWS CodeStar API along with usage examples.</p>\n         <p>You can use the AWS CodeStar API to work with:</p>\n         <p>Projects and their resources, by calling the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>DeleteProject</code>, which deletes a project.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DescribeProject</code>, which lists the attributes of a project.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListProjects</code>, which lists all projects associated with your AWS\n          account.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListResources</code>, which lists the resources associated with a\n          project.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListTagsForProject</code>, which lists the tags associated with a\n          project.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TagProject</code>, which adds tags to a project.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UntagProject</code>, which removes tags from a project.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UpdateProject</code>, which updates the attributes of a project.</p>\n            </li>\n         </ul>\n         <p>Teams and team members, by calling the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>AssociateTeamMember</code>, which adds an IAM user to the team for a\n          project.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DisassociateTeamMember</code>, which removes an IAM user from the team for a\n          project.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListTeamMembers</code>, which lists all the IAM users in the team for a\n          project, including their roles and attributes.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UpdateTeamMember</code>, which updates a team member's attributes in a\n          project.</p>\n            </li>\n         </ul>\n         <p>Users, by calling the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CreateUserProfile</code>, which creates a user profile that contains data\n          associated with the user across all projects.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DeleteUserProfile</code>, which deletes all user profile information across\n          all projects.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DescribeUserProfile</code>, which describes the profile of a user.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ListUserProfiles</code>, which lists all user profiles.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UpdateUserProfile</code>, which updates the profile for a user.</p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS CodeStar",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://codestar-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://codestar-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://codestar.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://codestar.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codestar.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.codestar#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codestar#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Another modification is being made. That modification must complete before you can make\n      your change.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.codestar#CreateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestar#CreateProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.codestar#CreateProjectResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestar#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.codestar#InvalidServiceRoleException"
        },
        {
          "target": "com.amazonaws.codestar#LimitExceededException"
        },
        {
          "target": "com.amazonaws.codestar#ProjectAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.codestar#ProjectConfigurationException"
        },
        {
          "target": "com.amazonaws.codestar#ProjectCreationFailedException"
        },
        {
          "target": "com.amazonaws.codestar#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a project, including project resources. This action creates a project based on\n      a submitted project request. A set of source code files and a toolchain template file\n      can be included with the project request. If these are not provided, an empty project is created.</p>"
      }
    },
    "com.amazonaws.codestar#CreateProjectRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codestar#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The display name for the project to be created in AWS CodeStar.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.codestar#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the project to be created in AWS CodeStar.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.codestar#ProjectDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the project, if any.</p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.codestar#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A user- or system-generated token that identifies the entity that requested project\n      creation. This token can be used to repeat the request.</p>"
          }
        },
        "sourceCode": {
          "target": "com.amazonaws.codestar#SourceCode",
          "traits": {
            "smithy.api#documentation": "<p>A list of the Code objects submitted with the project request. If this\n      parameter is specified, the request must also include the toolchain parameter.</p>"
          }
        },
        "toolchain": {
          "target": "com.amazonaws.codestar#Toolchain",
          "traits": {
            "smithy.api#documentation": "<p>The name of the toolchain template file submitted with the project request. If\n      this parameter is specified, the request must also include the sourceCode parameter.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.codestar#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags created for the project.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#CreateProjectResult": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.codestar#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the project.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.codestar#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created project.</p>",
            "smithy.api#required": {}
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.codestar#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A user- or system-generated token that identifies the entity that requested project\n      creation.</p>"
          }
        },
        "projectTemplateId": {
          "target": "com.amazonaws.codestar#ProjectTemplateId",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#CreateUserProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestar#CreateUserProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.codestar#CreateUserProfileResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestar#UserProfileAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.codestar#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a profile for a user that includes user preferences, such as the display name\n      and email address assocciated with the user, in AWS CodeStar. The user profile is not\n      project-specific. Information in the user profile is displayed wherever the user's information\n      appears to other users in AWS CodeStar.</p>"
      }
    },
    "com.amazonaws.codestar#CreateUserProfileRequest": {
      "type": "structure",
      "members": {
        "userArn": {
          "target": "com.amazonaws.codestar#UserArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the user in IAM.</p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.codestar#UserProfileDisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The name that will be displayed as the friendly name for the user in AWS CodeStar. </p>",
            "smithy.api#required": {}
          }
        },
        "emailAddress": {
          "target": "com.amazonaws.codestar#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address that will be displayed as part of the user's profile in\n      AWS CodeStar.</p>",
            "smithy.api#required": {}
          }
        },
        "sshPublicKey": {
          "target": "com.amazonaws.codestar#SshPublicKey",
          "traits": {
            "smithy.api#documentation": "<p>The SSH public key associated with the user in AWS CodeStar. If a project owner allows the\n      user remote access to project resources, this public key will be used along with the user's\n      private key for SSH access.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#CreateUserProfileResult": {
      "type": "structure",
      "members": {
        "userArn": {
          "target": "com.amazonaws.codestar#UserArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the user in IAM.</p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.codestar#UserProfileDisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The name that is displayed as the friendly name for the user in AWS CodeStar.</p>"
          }
        },
        "emailAddress": {
          "target": "com.amazonaws.codestar#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address that is displayed as part of the user's profile in AWS CodeStar.</p>"
          }
        },
        "sshPublicKey": {
          "target": "com.amazonaws.codestar#SshPublicKey",
          "traits": {
            "smithy.api#documentation": "<p>The SSH public key associated with the user in AWS CodeStar. This is the public portion of the\n      public/private keypair the user can use to access project resources if a project owner allows\n      the user remote access to those resources.</p>"
          }
        },
        "createdTimestamp": {
          "target": "com.amazonaws.codestar#CreatedTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the user profile was created, in timestamp format.</p>"
          }
        },
        "lastModifiedTimestamp": {
          "target": "com.amazonaws.codestar#LastModifiedTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the user profile was last modified, in timestamp format.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#CreatedTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.codestar#DeleteProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestar#DeleteProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.codestar#DeleteProjectResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestar#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.codestar#InvalidServiceRoleException"
        },
        {
          "target": "com.amazonaws.codestar#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a project, including project resources. Does not delete users associated with\n      the project, but does delete the IAM roles that allowed access to the project.</p>"
      }
    },
    "com.amazonaws.codestar#DeleteProjectRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.codestar#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the project to be deleted in AWS CodeStar.</p>",
            "smithy.api#required": {}
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.codestar#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A user- or system-generated token that identifies the entity that requested project\n      deletion. This token can be used to repeat the request. </p>"
          }
        },
        "deleteStack": {
          "target": "com.amazonaws.codestar#DeleteStack",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether to send a delete request for the primary stack in AWS CloudFormation originally\n      used to generate the project and its resources. This option will delete all AWS resources for\n      the project (except for any buckets in Amazon S3) as well as deleting the project itself.\n      Recommended for most use cases.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#DeleteProjectResult": {
      "type": "structure",
      "members": {
        "stackId": {
          "target": "com.amazonaws.codestar#StackId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the primary stack in AWS CloudFormation that will be deleted as part of\n      deleting the project and its resources.</p>"
          }
        },
        "projectArn": {
          "target": "com.amazonaws.codestar#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the deleted project.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#DeleteStack": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.codestar#DeleteUserProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestar#DeleteUserProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.codestar#DeleteUserProfileResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestar#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a user profile in AWS CodeStar, including all personal preference data associated with\n      that profile, such as display name and email address. It does not delete the history of that\n      user, for example the history of commits made by that user.</p>"
      }
    },
    "com.amazonaws.codestar#DeleteUserProfileRequest": {
      "type": "structure",
      "members": {
        "userArn": {
          "target": "com.amazonaws.codestar#UserArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the user to delete from AWS CodeStar.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codestar#DeleteUserProfileResult": {
      "type": "structure",
      "members": {
        "userArn": {
          "target": "com.amazonaws.codestar#UserArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the user deleted from AWS CodeStar.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codestar#DescribeProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestar#DescribeProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.codestar#DescribeProjectResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestar#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.codestar#InvalidServiceRoleException"
        },
        {
          "target": "com.amazonaws.codestar#ProjectConfigurationException"
        },
        {
          "target": "com.amazonaws.codestar#ProjectNotFoundException"
        },
        {
          "target": "com.amazonaws.codestar#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a project and its resources.</p>"
      }
    },
    "com.amazonaws.codestar#DescribeProjectRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.codestar#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the project.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codestar#DescribeProjectResult": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codestar#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The display name for the project.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.codestar#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the project.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.codestar#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the project.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.codestar#ProjectDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the project, if any.</p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.codestar#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>A user- or system-generated token that identifies the entity that requested project\n      creation. </p>"
          }
        },
        "createdTimeStamp": {
          "target": "com.amazonaws.codestar#CreatedTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the project was created, in timestamp format.</p>"
          }
        },
        "stackId": {
          "target": "com.amazonaws.codestar#StackId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the primary stack in AWS CloudFormation used to generate resources for the\n      project.</p>"
          }
        },
        "projectTemplateId": {
          "target": "com.amazonaws.codestar#ProjectTemplateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the AWS CodeStar project template used to create the project.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.codestar#ProjectStatus",
          "traits": {
            "smithy.api#documentation": "<p>The project creation or deletion status.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#DescribeUserProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestar#DescribeUserProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.codestar#DescribeUserProfileResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestar#UserProfileNotFoundException"
        },
        {
          "target": "com.amazonaws.codestar#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a user in AWS CodeStar and the user attributes across all projects.</p>"
      }
    },
    "com.amazonaws.codestar#DescribeUserProfileRequest": {
      "type": "structure",
      "members": {
        "userArn": {
          "target": "com.amazonaws.codestar#UserArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the user.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codestar#DescribeUserProfileResult": {
      "type": "structure",
      "members": {
        "userArn": {
          "target": "com.amazonaws.codestar#UserArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the user.</p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.codestar#UserProfileDisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The display name shown for the user in AWS CodeStar projects. For example, this could be set\n      to both first and last name (\"Mary Major\") or a single name (\"Mary\"). The display name is also\n      used to generate the initial icon associated with the user in AWS CodeStar projects. If spaces are\n      included in the display name, the first character that appears after the space will be used as\n      the second character in the user initial icon. The initial icon displays a maximum of two\n      characters, so a display name with more than one space (for example \"Mary Jane Major\") would\n      generate an initial icon using the first character and the first character after the space\n      (\"MJ\", not \"MM\").</p>"
          }
        },
        "emailAddress": {
          "target": "com.amazonaws.codestar#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address for the user. Optional.</p>"
          }
        },
        "sshPublicKey": {
          "target": "com.amazonaws.codestar#SshPublicKey",
          "traits": {
            "smithy.api#documentation": "<p>The SSH public key associated with the user. This SSH public key is associated with the\n      user profile, and can be used in conjunction with the associated private key for access to\n      project resources, such as Amazon EC2 instances, if a project owner grants remote access to\n      those resources.</p>"
          }
        },
        "createdTimestamp": {
          "target": "com.amazonaws.codestar#CreatedTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the user profile was created in AWS CodeStar, in timestamp\n      format.</p>",
            "smithy.api#required": {}
          }
        },
        "lastModifiedTimestamp": {
          "target": "com.amazonaws.codestar#LastModifiedTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the user profile was last modified, in timestamp\n      format.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codestar#DisassociateTeamMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestar#DisassociateTeamMemberRequest"
      },
      "output": {
        "target": "com.amazonaws.codestar#DisassociateTeamMemberResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestar#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.codestar#InvalidServiceRoleException"
        },
        {
          "target": "com.amazonaws.codestar#ProjectNotFoundException"
        },
        {
          "target": "com.amazonaws.codestar#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a user from a project. Removing a user from a project also removes the IAM\n      policies from that user that allowed access to the project and its resources. Disassociating a\n      team member does not remove that user's profile from AWS CodeStar. It does not remove the user from\n      IAM.</p>"
      }
    },
    "com.amazonaws.codestar#DisassociateTeamMemberRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "com.amazonaws.codestar#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS CodeStar project from which you want to remove a team member.</p>",
            "smithy.api#required": {}
          }
        },
        "userArn": {
          "target": "com.amazonaws.codestar#UserArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM user or group whom you want to remove from\n      the project.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codestar#DisassociateTeamMemberResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.codestar#Email": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 128
        },
        "smithy.api#pattern": "^[\\w-.+]+@[\\w-.+]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.codestar#GitHubCodeDestination": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codestar#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the GitHub repository to be created in AWS CodeStar.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.codestar#RepositoryDescription",
          "traits": {
            "smithy.api#documentation": "<p>Description for the GitHub repository to be created in AWS CodeStar. This description displays in\n      GitHub after the repository is created.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.codestar#RepositoryType",
          "traits": {
            "smithy.api#documentation": "<p>The type of GitHub repository to be created in AWS CodeStar. Valid values are User or Organization.</p>",
            "smithy.api#required": {}
          }
        },
        "owner": {
          "target": "com.amazonaws.codestar#RepositoryOwner",
          "traits": {
            "smithy.api#documentation": "<p>The GitHub username for the owner of the GitHub repository to be created in AWS CodeStar. If this repository should\n      be owned by a GitHub organization, provide its name.</p>",
            "smithy.api#required": {}
          }
        },
        "privateRepository": {
          "target": "com.amazonaws.codestar#RepositoryIsPrivate",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether the GitHub repository is to be a private repository.</p>",
            "smithy.api#required": {}
          }
        },
        "issuesEnabled": {
          "target": "com.amazonaws.codestar#RepositoryEnableIssues",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether to enable issues for the GitHub repository.</p>",
            "smithy.api#required": {}
          }
        },
        "token": {
          "target": "com.amazonaws.codestar#GitHubPersonalToken",
          "traits": {
            "smithy.api#documentation": "<p>The GitHub user's personal access token for the GitHub repository.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the GitHub repository to be created in AWS CodeStar. This is where the source code files provided with the\n      project request will be uploaded after project creation.</p>"
      }
    },
    "com.amazonaws.codestar#GitHubPersonalToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.codestar#InvalidNextTokenException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codestar#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The next token is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.codestar#InvalidServiceRoleException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codestar#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The service role is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.codestar#LastModifiedTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.codestar#LimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codestar#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource limit has been exceeded.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.codestar#ListProjects": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestar#ListProjectsRequest"
      },
      "output": {
        "target": "com.amazonaws.codestar#ListProjectsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestar#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.codestar#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all projects in AWS CodeStar associated with your AWS account.</p>"
      }
    },
    "com.amazonaws.codestar#ListProjectsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.codestar#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The continuation token to be used to return the next set of results, if the results\n      cannot be returned in one response.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.codestar#MaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum amount of data that can be contained in a single set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#ListProjectsResult": {
      "type": "structure",
      "members": {
        "projects": {
          "target": "com.amazonaws.codestar#ProjectsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of projects.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.codestar#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The continuation token to use when requesting the next set of results, if there are\n      more results to be returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#ListResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestar#ListResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.codestar#ListResourcesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestar#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.codestar#ProjectNotFoundException"
        },
        {
          "target": "com.amazonaws.codestar#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists resources associated with a project in AWS CodeStar.</p>"
      }
    },
    "com.amazonaws.codestar#ListResourcesRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "com.amazonaws.codestar#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the project.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.codestar#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The continuation token for the next set of results, if the results cannot be returned\n      in one response.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.codestar#MaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum amount of data that can be contained in a single set of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#ListResourcesResult": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.amazonaws.codestar#ResourcesResult",
          "traits": {
            "smithy.api#documentation": "<p>An array of resources associated with the project. </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.codestar#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The continuation token to use when requesting the next set of results, if there are\n      more results to be returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#ListTagsForProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestar#ListTagsForProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.codestar#ListTagsForProjectResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestar#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.codestar#ProjectNotFoundException"
        },
        {
          "target": "com.amazonaws.codestar#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the tags for a project.</p>"
      }
    },
    "com.amazonaws.codestar#ListTagsForProjectRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.codestar#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the project to get tags for.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.codestar#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.codestar#MaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Reserved for future use.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#ListTagsForProjectResult": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.codestar#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the project.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.codestar#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#ListTeamMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestar#ListTeamMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.codestar#ListTeamMembersResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestar#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.codestar#ProjectNotFoundException"
        },
        {
          "target": "com.amazonaws.codestar#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all team members associated with a project.</p>"
      }
    },
    "com.amazonaws.codestar#ListTeamMembersRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "com.amazonaws.codestar#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the project for which you want to list team members.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.codestar#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The continuation token for the next set of results, if the results cannot be returned\n      in one response.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.codestar#MaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum number of team members you want returned in a response.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#ListTeamMembersResult": {
      "type": "structure",
      "members": {
        "teamMembers": {
          "target": "com.amazonaws.codestar#TeamMemberResult",
          "traits": {
            "smithy.api#documentation": "<p>A list of team member objects for the project.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.codestar#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The continuation token to use when requesting the next set of results, if there are\n      more results to be returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#ListUserProfiles": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestar#ListUserProfilesRequest"
      },
      "output": {
        "target": "com.amazonaws.codestar#ListUserProfilesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestar#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.codestar#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the user profiles configured for your AWS account in AWS CodeStar.</p>"
      }
    },
    "com.amazonaws.codestar#ListUserProfilesRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.codestar#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The continuation token for the next set of results, if the results cannot be returned\n      in one response.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.codestar#MaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum number of results to return in a response.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#ListUserProfilesResult": {
      "type": "structure",
      "members": {
        "userProfiles": {
          "target": "com.amazonaws.codestar#UserProfilesList",
          "traits": {
            "smithy.api#documentation": "<p>All the user profiles configured in AWS CodeStar for an AWS account.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.codestar#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The continuation token to use when requesting the next set of results, if there are\n      more results to be returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.codestar#Message": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.codestar#PaginationToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^[\\w/+=]+$"
      }
    },
    "com.amazonaws.codestar#ProjectAlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codestar#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An AWS CodeStar project with the same ID already exists in this region for the AWS account.\n      AWS CodeStar project IDs must be unique within a region for the AWS account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.codestar#ProjectArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[^:\\s]*:codestar:[^:\\s]+:[0-9]{12}:project\\/[a-z]([a-z0-9|-])+$"
      }
    },
    "com.amazonaws.codestar#ProjectConfigurationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codestar#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Project configuration information is required but not specified.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.codestar#ProjectCreationFailedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codestar#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The project creation request was valid, but a nonspecific exception or error occurred\n      during project creation. The project could not be created in AWS CodeStar.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.codestar#ProjectDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^$|^\\S(.*\\S)?$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.codestar#ProjectId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 15
        },
        "smithy.api#pattern": "^[a-z][a-z0-9-]+$"
      }
    },
    "com.amazonaws.codestar#ProjectName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^\\S(.*\\S)?$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.codestar#ProjectNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codestar#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified AWS CodeStar project was not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.codestar#ProjectStatus": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.amazonaws.codestar#State",
          "traits": {
            "smithy.api#documentation": "<p>The phase of completion for a project creation or deletion.</p>",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.codestar#Reason",
          "traits": {
            "smithy.api#documentation": "<p>In the case of a project creation or deletion failure, a reason for the\n      failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An indication of whether a project creation or deletion is failed or\n      successful.</p>"
      }
    },
    "com.amazonaws.codestar#ProjectSummary": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "com.amazonaws.codestar#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the project.</p>"
          }
        },
        "projectArn": {
          "target": "com.amazonaws.codestar#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the project.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the metadata for a project.</p>"
      }
    },
    "com.amazonaws.codestar#ProjectTemplateId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#pattern": "^arn:aws[^:\\s]{0,5}:codestar:[^:\\s]+::project-template(\\/(github|codecommit))?\\/[a-z0-9-]+$"
      }
    },
    "com.amazonaws.codestar#ProjectsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codestar#ProjectSummary"
      }
    },
    "com.amazonaws.codestar#Reason": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^$|^\\S(.*\\S)?$"
      }
    },
    "com.amazonaws.codestar#RemoteAccessAllowed": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.codestar#RepositoryDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^\\S(.*\\S)?$"
      }
    },
    "com.amazonaws.codestar#RepositoryEnableIssues": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.codestar#RepositoryIsPrivate": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.codestar#RepositoryName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^\\S[\\w.-]*$"
      }
    },
    "com.amazonaws.codestar#RepositoryOwner": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^\\S(.*\\S)?$"
      }
    },
    "com.amazonaws.codestar#RepositoryType": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(user|organization|User|Organization)$"
      }
    },
    "com.amazonaws.codestar#Resource": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.codestar#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a resource for a project.</p>"
      }
    },
    "com.amazonaws.codestar#ResourceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 11
        },
        "smithy.api#pattern": "^arn\\:aws\\:\\S.*\\:.*"
      }
    },
    "com.amazonaws.codestar#ResourcesResult": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codestar#Resource"
      }
    },
    "com.amazonaws.codestar#Role": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(Owner|Viewer|Contributor)$"
      }
    },
    "com.amazonaws.codestar#RoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1224
        }
      }
    },
    "com.amazonaws.codestar#S3Location": {
      "type": "structure",
      "members": {
        "bucketName": {
          "target": "com.amazonaws.codestar#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket name where the source code files provided with the project\n      request are stored.</p>"
          }
        },
        "bucketKey": {
          "target": "com.amazonaws.codestar#BucketKey",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 object key where the source code files provided with the project\n      request are stored.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon S3 location where the source code files provided with the project\n      request are stored.</p>"
      }
    },
    "com.amazonaws.codestar#SourceCode": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codestar#Code"
      }
    },
    "com.amazonaws.codestar#SshPublicKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 16384
        },
        "smithy.api#pattern": "^[\\t\\r\\n\\u0020-\\u00FF]*$"
      }
    },
    "com.amazonaws.codestar#StackId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[^:\\s]*:cloudformation:[^:\\s]+:[0-9]{12}:stack\\/[^:\\s]+\\/[^:\\s]+$"
      }
    },
    "com.amazonaws.codestar#State": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(CreateInProgress|CreateComplete|CreateFailed|DeleteComplete|DeleteFailed|DeleteInProgress|UpdateComplete|UpdateInProgress|UpdateFailed|Unknown)$"
      }
    },
    "com.amazonaws.codestar#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.codestar#TagKeys": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codestar#TagKey"
      }
    },
    "com.amazonaws.codestar#TagProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codestar#TagProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.codestar#TagProjectResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.codestar#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.codestar#LimitExceededException"
        },
        {
          "target": "com.amazonaws.codestar#ProjectNotFoundException"
        },
        {
          "target": "com.amazonaws.codestar#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds tags to a project.</p>"
      }
    },
    "com.amazonaws.codestar#TagProjectRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.codestar#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the project you want to add a tag to.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.codestar#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags you want to add to the project.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codestar#TagProjectResult": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.codestar#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the project.</p>"
          }
        }
      }
    },
    "com.amazonaws.codestar#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.codestar#Tags": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.codestar#TagKey"
      },
      "value": {
        "target": "com.amazonaws.codestar#TagValue"
      }
    },
    "com.amazonaws.codestar#TeamMember": {
      "type": "structure",
      "members": {
        "userArn": {
          "target": "com.amazonaws.codestar#UserArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the user in IAM.</p>",
            "smithy.api#required": {}
          }
        },
        "projectRole": {
          "target": "com.amazonaws.codestar#Role",
          "traits": {
            "smithy.api#documentation": "<p>The role assigned to the user in the project. Project roles have different levels of\n      access. For more information, see <a href=\"http://docs.aws.amazon.com/codestar/latest/userguide/working-with-teams.html\">Working with\n        Teams</a> in the <i>AWS CodeStar User Guide</i>. </p>",
            "smithy.api#required": {}
          }
        },
        "remoteAccessAllowed": {
          "target": "com.amazonaws.codestar#RemoteAccessAllowed",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Whether the user is allowed to remotely access project resources using an SSH\n      public/private key pair.</p>"
          }
        }
      },
      "traits": {
[...]
