{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.codegurureviewer#AWSGuruFrontendService": {
      "type": "service",
      "version": "2019-09-19",
      "operations": [
        {
          "target": "com.amazonaws.codegurureviewer#AssociateRepository"
        },
        {
          "target": "com.amazonaws.codegurureviewer#CreateCodeReview"
        },
        {
          "target": "com.amazonaws.codegurureviewer#DescribeCodeReview"
        },
        {
          "target": "com.amazonaws.codegurureviewer#DescribeRecommendationFeedback"
        },
        {
          "target": "com.amazonaws.codegurureviewer#DescribeRepositoryAssociation"
        },
        {
          "target": "com.amazonaws.codegurureviewer#DisassociateRepository"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ListCodeReviews"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ListRecommendationFeedback"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ListRecommendations"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ListRepositoryAssociations"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.codegurureviewer#PutRecommendationFeedback"
        },
        {
          "target": "com.amazonaws.codegurureviewer#TagResource"
        },
        {
          "target": "com.amazonaws.codegurureviewer#UntagResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CodeGuru Reviewer",
          "arnNamespace": "codeguru-reviewer",
          "cloudFormationName": "CodeGuruReviewer",
          "cloudTrailEventSource": "codegurureviewer.amazonaws.com",
          "endpointPrefix": "codeguru-reviewer"
        },
        "aws.auth#sigv4": {
          "name": "codeguru-reviewer"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>This section provides documentation for the Amazon CodeGuru Reviewer API operations. CodeGuru Reviewer is a service\n         that uses program analysis and machine learning to detect potential defects that are difficult for developers to find and recommends\n         fixes in your Java and Python code.</p>\n         \n         <p>By proactively detecting and providing recommendations for addressing code defects and implementing best practices, CodeGuru Reviewer\n            improves the overall quality and maintainability of your code base during the code review stage. For more information about CodeGuru Reviewer, see the \n            <i>\n               <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/welcome.html\">Amazon CodeGuru Reviewer User Guide</a>.</i>\n         </p>\n      \n         <p>\n         To improve the security of your CodeGuru Reviewer API calls, you can establish a private connection between your VPC and CodeGuru Reviewer by \n         creating an <i>interface VPC endpoint</i>. For more information, see \n         <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/vpc-interface-endpoints.html\">CodeGuru Reviewer and interface \n            VPC endpoints (Amazon Web Services PrivateLink)</a> in the <i>Amazon CodeGuru Reviewer User Guide</i>.\n      </p>",
        "smithy.api#title": "Amazon CodeGuru Reviewer"
      }
    },
    "com.amazonaws.codegurureviewer#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.codegurureviewer#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.codegurureviewer#AnalysisType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Security",
            "name": "SECURITY"
          },
          {
            "value": "CodeQuality",
            "name": "CODE_QUALITY"
          }
        ]
      }
    },
    "com.amazonaws.codegurureviewer#AnalysisTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codegurureviewer#AnalysisType"
      }
    },
    "com.amazonaws.codegurureviewer#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:aws[^:\\s]*:codeguru-reviewer:[^:\\s]+:[\\d]{12}:[a-z-]+:[\\w-]+$"
      }
    },
    "com.amazonaws.codegurureviewer#AssociateRepository": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codegurureviewer#AssociateRepositoryRequest"
      },
      "output": {
        "target": "com.amazonaws.codegurureviewer#AssociateRepositoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codegurureviewer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ConflictException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#InternalServerException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Use to associate an Amazon Web Services CodeCommit repository or a repostory managed by \n         Amazon Web Services CodeStar Connections with Amazon CodeGuru Reviewer. When you associate a \n        repository, CodeGuru Reviewer reviews source code changes in the repository's pull requests and provides \n        automatic recommendations. You can view recommendations using the CodeGuru Reviewer console. For more information, see \n         <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/recommendations.html\">Recommendations in \n            Amazon CodeGuru Reviewer</a> in the <i>Amazon CodeGuru Reviewer User Guide.</i> \n        </p>\n      \n         <p>If you associate a CodeCommit or S3 repository, it must be in the same \n         Amazon Web Services Region and Amazon Web Services account where its CodeGuru Reviewer code reviews are configured.</p>\n      \n         <p>Bitbucket and GitHub Enterprise Server repositories are managed by Amazon Web Services CodeStar\n         Connections to connect to CodeGuru Reviewer. For more information, see <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/getting-started-associate-repository.html\">Associate a repository</a> in\n         the <i>Amazon CodeGuru Reviewer User Guide.</i>\n         </p>\n      \n         <note>\n            <p>\n            You cannot use the CodeGuru Reviewer SDK or the Amazon Web Services CLI to associate a GitHub repository with Amazon CodeGuru Reviewer. To associate \n            a GitHub repository, use the console. For more information, see \n            <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/getting-started-with-guru.html\">Getting \n            started with CodeGuru Reviewer</a> in the <i>CodeGuru Reviewer User Guide.</i>\n            </p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/associations",
          "code": 200
        }
      }
    },
    "com.amazonaws.codegurureviewer#AssociateRepositoryRequest": {
      "type": "structure",
      "members": {
        "Repository": {
          "target": "com.amazonaws.codegurureviewer#Repository",
          "traits": {
            "smithy.api#documentation": "<p>The repository to associate.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.codegurureviewer#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Amazon CodeGuru Reviewer uses this value to prevent the accidental creation of duplicate repository\n        associations if there are failures and retries. </p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.codegurureviewer#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n\t\t\tAn array of key-value pairs used to tag an associated repository. A tag is a custom attribute label with two parts: \n\t\t</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>A <i>tag key</i> (for example, <code>CostCenter</code>,\n\t\t\t\t\t<code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag\n\t\t\t\t\tkeys are case sensitive.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>An optional field known as a <i>tag value</i> (for example,\n\t\t\t\t\t<code>111122223333</code>, <code>Production</code>, or a team name).\n\t\t\t\t\tOmitting the tag value is the same as using an empty string. Like tag keys, tag\n\t\t\t\t\tvalues are case sensitive.</p>\n\t\t\t         </li>\n         </ul>"
          }
        },
        "KMSKeyDetails": {
          "target": "com.amazonaws.codegurureviewer#KMSKeyDetails",
          "traits": {
            "smithy.api#documentation": "<p>A <code>KMSKeyDetails</code> object that contains:</p>\n         <ul>\n            <li>\n               <p>The encryption option for this repository association. It is either owned by Amazon Web Services \n            Key Management Service (KMS) (<code>AWS_OWNED_CMK</code>) or customer managed (<code>CUSTOMER_MANAGED_CMK</code>).</p>\n            </li>\n            <li>\n               <p>The ID of the Amazon Web Services KMS key that \n            is associated with this respository association.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#AssociateRepositoryResponse": {
      "type": "structure",
      "members": {
        "RepositoryAssociation": {
          "target": "com.amazonaws.codegurureviewer#RepositoryAssociation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the repository association.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.codegurureviewer#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n\t\t\tAn array of key-value pairs used to tag an associated repository. A tag is a custom attribute label with two parts: \n\t\t</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>A <i>tag key</i> (for example, <code>CostCenter</code>,\n\t\t\t\t\t<code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag\n\t\t\t\t\tkeys are case sensitive.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>An optional field known as a <i>tag value</i> (for example,\n\t\t\t\t\t<code>111122223333</code>, <code>Production</code>, or a team name).\n\t\t\t\t\tOmitting the tag value is the same as using an empty string. Like tag keys, tag\n\t\t\t\t\tvalues are case sensitive.</p>\n\t\t\t         </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#AssociationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:aws[^:\\s]*:codeguru-reviewer:[^:\\s]+:[\\d]{12}:association:[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
      }
    },
    "com.amazonaws.codegurureviewer#AssociationId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.codegurureviewer#BranchDiffSourceCodeType": {
      "type": "structure",
      "members": {
        "SourceBranchName": {
          "target": "com.amazonaws.codegurureviewer#BranchName",
          "traits": {
            "smithy.api#documentation": "<p>The source branch for a diff in an associated repository.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationBranchName": {
          "target": "com.amazonaws.codegurureviewer#BranchName",
          "traits": {
            "smithy.api#documentation": "<p>The destination branch for a diff in an associated repository.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         A type of <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_SourceCodeType\">\n               <code>SourceCodeType</code>\n            </a> that \n         specifies a code diff between a source and destination branch in an associated repository.\n      </p>"
      }
    },
    "com.amazonaws.codegurureviewer#BranchName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.codegurureviewer#BuildArtifactsObjectKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^\\S(.*\\S)?$"
      }
    },
    "com.amazonaws.codegurureviewer#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[\\w-]+$"
      }
    },
    "com.amazonaws.codegurureviewer#CodeArtifacts": {
      "type": "structure",
      "members": {
        "SourceCodeArtifactsObjectKey": {
          "target": "com.amazonaws.codegurureviewer#SourceCodeArtifactsObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>The S3 object key for a source code .zip file. This is required for all code reviews.</p>",
            "smithy.api#required": {}
          }
        },
        "BuildArtifactsObjectKey": {
          "target": "com.amazonaws.codegurureviewer#BuildArtifactsObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>The S3 object key for a build artifacts .zip file that \n         contains .jar or .class files. This is required for a code review with security analysis. For more \n         information, see <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/code-review-security.html\">Create code reviews with security \n            analysis</a> in the <i>Amazon CodeGuru Reviewer User Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Code artifacts are source code artifacts and build artifacts used in a repository analysis or a pull request review.</p>\n         <ul>\n            <li>\n               <p>Source code artifacts are source code files in a Git repository that are \n            compressed into a .zip file.</p>\n            </li>\n            <li>\n               <p>Build artifacts are .jar or .class files that are compressed in a .zip file.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.codegurureviewer#CodeCommitRepository": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.codegurureviewer#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Web Services CodeCommit repository. For more information, see \n         <a href=\"https://docs.aws.amazon.com/codecommit/latest/APIReference/API_GetRepository.html#CodeCommit-GetRepository-request-repositoryName\">repositoryName</a> \n         in the <i>Amazon Web Services CodeCommit API Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Amazon Web Services CodeCommit repository. The CodeCommit repository must be in the same \n      Amazon Web Services Region and Amazon Web Services account where its CodeGuru Reviewer code reviews are configured.</p>"
      }
    },
    "com.amazonaws.codegurureviewer#CodeReview": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.codegurureviewer#Name",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the code review.\n      </p>"
          }
        },
        "CodeReviewArn": {
          "target": "com.amazonaws.codegurureviewer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\">\n               <code>CodeReview</code>\n            </a> object.\n      </p>"
          }
        },
        "RepositoryName": {
          "target": "com.amazonaws.codegurureviewer#Name",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the repository.\n      </p>"
          }
        },
        "Owner": {
          "target": "com.amazonaws.codegurureviewer#Owner",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the repository. For an Amazon Web Services CodeCommit repository, this is the Amazon Web Services account ID of the \n      account that owns the repository. For a GitHub, GitHub Enterprise Server, or Bitbucket repository, this is the username for the account that owns the repository.\n      For an S3 repository, it can be the username or Amazon Web Services account ID.</p>"
          }
        },
        "ProviderType": {
          "target": "com.amazonaws.codegurureviewer#ProviderType",
          "traits": {
            "smithy.api#documentation": "<p>\n         The type of repository that contains the reviewed code (for example, GitHub or Bitbucket).\n      </p>"
          }
        },
        "State": {
          "target": "com.amazonaws.codegurureviewer#JobState",
          "traits": {
            "smithy.api#documentation": "<p>The valid code review states are:</p>\n         <ul>\n            <li>            \n               <p>\n                  <code>Completed</code>: The code review is complete.\n            </p>            \n            </li>\n            <li>\n               <p>\n                  <code>Pending</code>: The code review started and has not completed or failed.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>Failed</code>: The code review failed.\n            </p>            \n            </li>\n            <li>\n               <p>\n                  <code>Deleting</code>: The code review is being deleted.\n            </p>\n            </li>\n         </ul>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.codegurureviewer#StateReason",
          "traits": {
            "smithy.api#documentation": "<p>\n         The reason for the state of the code review.\n      </p>"
          }
        },
        "CreatedTimeStamp": {
          "target": "com.amazonaws.codegurureviewer#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>\n         The time, in milliseconds since the epoch, when the code review was created.\n      </p>"
          }
        },
        "LastUpdatedTimeStamp": {
          "target": "com.amazonaws.codegurureviewer#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>\n         The time, in milliseconds since the epoch, when the code review was last updated.\n      </p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.codegurureviewer#Type",
          "traits": {
            "smithy.api#documentation": "<p>\n         The type of code review.\n      </p>"
          }
        },
        "PullRequestId": {
          "target": "com.amazonaws.codegurureviewer#PullRequestId",
          "traits": {
            "smithy.api#documentation": "<p>\n         The pull request ID for the code review.\n      </p>"
          }
        },
        "SourceCodeType": {
          "target": "com.amazonaws.codegurureviewer#SourceCodeType",
          "traits": {
            "smithy.api#documentation": "<p>\n         The type of the source code for the code review.\n      </p>"
          }
        },
        "AssociationArn": {
          "target": "com.amazonaws.codegurureviewer#AssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>\n\t\t\tThe Amazon Resource Name (ARN) of the  \n\t\t\t<a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\">\n               <code>RepositoryAssociation</code>\n            </a> that contains \n\t\t\tthe reviewed source code. You can retrieve associated repository ARNs by calling \n\t\t\t<a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_ListRepositoryAssociations.html\">\n               <code>ListRepositoryAssociations</code>\n            </a>.\n\t\t</p>"
          }
        },
        "Metrics": {
          "target": "com.amazonaws.codegurureviewer#Metrics",
          "traits": {
            "smithy.api#documentation": "<p>\n         The statistics from the code review.\n      </p>"
          }
        },
        "AnalysisTypes": {
          "target": "com.amazonaws.codegurureviewer#AnalysisTypes",
          "traits": {
            "smithy.api#documentation": "<p>They types of analysis performed during a repository analysis or a pull request review. You can specify either \n         <code>Security</code>, <code>CodeQuality</code>, or both.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Information about a code review. A code review belongs to the associated repository that contains the reviewed code. \n      </p>"
      }
    },
    "com.amazonaws.codegurureviewer#CodeReviewName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]*$"
      }
    },
    "com.amazonaws.codegurureviewer#CodeReviewSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codegurureviewer#CodeReviewSummary"
      }
    },
    "com.amazonaws.codegurureviewer#CodeReviewSummary": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.codegurureviewer#Name",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the code review.\n      </p>"
          }
        },
        "CodeReviewArn": {
          "target": "com.amazonaws.codegurureviewer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\">\n               <code>CodeReview</code>\n            </a> object.\n      </p>"
          }
        },
        "RepositoryName": {
          "target": "com.amazonaws.codegurureviewer#Name",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the repository.\n      </p>"
          }
        },
        "Owner": {
          "target": "com.amazonaws.codegurureviewer#Owner",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the repository. For an Amazon Web Services CodeCommit repository, this is the Amazon Web Services account ID of the \n      account that owns the repository. For a GitHub, GitHub Enterprise Server, or Bitbucket repository, this is the username for the account that owns the repository.\n      For an S3 repository, it can be the username or Amazon Web Services account ID.</p>"
          }
        },
        "ProviderType": {
          "target": "com.amazonaws.codegurureviewer#ProviderType",
          "traits": {
            "smithy.api#documentation": "<p>\n         The provider type of the repository association.\n      </p>"
          }
        },
        "State": {
          "target": "com.amazonaws.codegurureviewer#JobState",
          "traits": {
            "smithy.api#documentation": "<p>\n         The state of the code review.\n      </p>\n         <p>The valid code review states are:</p>\n         <ul>\n            <li>            \n               <p>\n                  <code>Completed</code>: The code review is complete.\n            </p>            \n            </li>\n            <li>\n               <p>\n                  <code>Pending</code>: The code review started and has not completed or failed.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>Failed</code>: The code review failed.\n            </p>            \n            </li>\n            <li>\n               <p>\n                  <code>Deleting</code>: The code review is being deleted.\n            </p>\n            </li>\n         </ul>"
          }
        },
        "CreatedTimeStamp": {
          "target": "com.amazonaws.codegurureviewer#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>\n         The time, in milliseconds since the epoch, when the code review was created.\n      </p>"
          }
        },
        "LastUpdatedTimeStamp": {
          "target": "com.amazonaws.codegurureviewer#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>\n         The time, in milliseconds since the epoch, when the code review was last updated.\n      </p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.codegurureviewer#Type",
          "traits": {
            "smithy.api#documentation": "<p>\n         The type of the code review.\n      </p>"
          }
        },
        "PullRequestId": {
          "target": "com.amazonaws.codegurureviewer#PullRequestId",
          "traits": {
            "smithy.api#documentation": "<p>\n         The pull request ID for the code review.\n      </p>"
          }
        },
        "MetricsSummary": {
          "target": "com.amazonaws.codegurureviewer#MetricsSummary",
          "traits": {
            "smithy.api#documentation": "<p>\n         The statistics from the code review.\n      </p>"
          }
        },
        "SourceCodeType": {
          "target": "com.amazonaws.codegurureviewer#SourceCodeType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Information about the summary of the code review.\n      </p>"
      }
    },
    "com.amazonaws.codegurureviewer#CodeReviewType": {
      "type": "structure",
      "members": {
        "RepositoryAnalysis": {
          "target": "com.amazonaws.codegurureviewer#RepositoryAnalysis",
          "traits": {
            "smithy.api#documentation": "<p> A code review that analyzes all code under a specified branch in an associated\n\t\t\trepository. The associated repository is specified using its ARN in <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CreateCodeReview\">\n               <code>CreateCodeReview</code>\n            </a>. </p>",
            "smithy.api#required": {}
          }
        },
        "AnalysisTypes": {
          "target": "com.amazonaws.codegurureviewer#AnalysisTypes",
          "traits": {
            "smithy.api#documentation": "<p>They types of analysis performed during a repository analysis or a pull request review. You can specify either \n         <code>Security</code>, <code>CodeQuality</code>, or both.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         The type of a code review. There are two code review types:         \n      </p>\n         <ul>\n            <li>\n               <p>\n                  <code>PullRequest</code> - A code review that is automatically triggered by a pull request on an associated repository.\n            </p>\n            </li>\n            <li>\n               <p>\n\t\t\t\t\t             <code>RepositoryAnalysis</code> - A code review that analyzes all code under a specified\n\t\t\t\t\tbranch in an associated repository. The associated repository is specified using its ARN\n\t\t\t\t\tin <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CreateCodeReview\">\n                     <code>CreateCodeReview</code>\n                  </a>. </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.codegurureviewer#CommitDiffSourceCodeType": {
      "type": "structure",
      "members": {
        "SourceCommit": {
          "target": "com.amazonaws.codegurureviewer#CommitId",
          "traits": {
            "smithy.api#documentation": "<p>\n         The SHA of the source commit used to generate a commit diff. This field is required for a pull request code review.\n      </p>"
          }
        },
        "DestinationCommit": {
          "target": "com.amazonaws.codegurureviewer#CommitId",
          "traits": {
            "smithy.api#documentation": "<p>\n         The SHA of the destination commit used to generate a commit diff. This field is required for a pull request code review.\n      </p>"
          }
        },
        "MergeBaseCommit": {
          "target": "com.amazonaws.codegurureviewer#CommitId",
          "traits": {
            "smithy.api#documentation": "<p>The SHA of the merge base of a commit.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         A type of <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_SourceCodeType\">\n               <code>SourceCodeType</code>\n            </a> that \n         specifies the commit diff for a pull request on an associated repository. The <code>SourceCommit</code> \n         and <code>DestinationCommit</code> fields are required to do a pull request code review.\n      </p>"
      }
    },
    "com.amazonaws.codegurureviewer#CommitId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 6,
          "max": 64
        }
      }
    },
    "com.amazonaws.codegurureviewer#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.codegurureviewer#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested operation would cause a conflict with the current state of a service\n         resource associated with the request. Resolve the conflict before retrying this request. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.codegurureviewer#ConnectionArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^arn:aws(-[\\w]+)*:.+:.+:[0-9]{12}:.+$"
      }
    },
    "com.amazonaws.codegurureviewer#CreateCodeReview": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codegurureviewer#CreateCodeReviewRequest"
      },
      "output": {
        "target": "com.amazonaws.codegurureviewer#CreateCodeReviewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codegurureviewer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ConflictException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#InternalServerException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Use to create a code review with a <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReviewType.html\">\n               <code>CodeReviewType</code>\n            </a> \n         of <code>RepositoryAnalysis</code>. This type of code review analyzes all code under a specified branch in an associated repository. \n         <code>PullRequest</code> code reviews are automatically triggered by a pull request.\n      </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/codereviews",
          "code": 200
        }
      }
    },
    "com.amazonaws.codegurureviewer#CreateCodeReviewRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.codegurureviewer#CodeReviewName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the code review. The name of each code review in your Amazon Web Services account must be unique.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "RepositoryAssociationArn": {
          "target": "com.amazonaws.codegurureviewer#AssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>\n         The Amazon Resource Name (ARN) of the  \n         <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\">\n               <code>RepositoryAssociation</code>\n            </a> object. \n         You can retrieve this ARN by calling \n         <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_ListRepositoryAssociations.html\">\n               <code>ListRepositoryAssociations</code>\n            </a>.\n      </p>\n         <p>\n         A code review can only be created on an associated repository. This is the ARN of the \n         associated repository.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.codegurureviewer#CodeReviewType",
          "traits": {
            "smithy.api#documentation": "<p>\n         The type of code review to create. This is specified using a \n         <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReviewType.html\">\n               <code>CodeReviewType</code>\n            </a> \n         object. You can create a code review only of type <code>RepositoryAnalysis</code>. \n      </p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.codegurureviewer#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>\n         Amazon CodeGuru Reviewer uses this value to prevent the accidental creation of duplicate code \n         reviews if there are failures and retries.\n      </p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#CreateCodeReviewResponse": {
      "type": "structure",
      "members": {
        "CodeReview": {
          "target": "com.amazonaws.codegurureviewer#CodeReview"
        }
      }
    },
    "com.amazonaws.codegurureviewer#DescribeCodeReview": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codegurureviewer#DescribeCodeReviewRequest"
      },
      "output": {
        "target": "com.amazonaws.codegurureviewer#DescribeCodeReviewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codegurureviewer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#InternalServerException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Returns the metadata associated with the code review along with its status.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/codereviews/{CodeReviewArn}",
          "code": 200
        },
        "smithy.waiters#waitable": {
          "CodeReviewCompleted": {
            "documentation": "Wait until a code review is complete.",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "CodeReview.State",
                    "expected": "Completed",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "CodeReview.State",
                    "expected": "Pending",
                    "comparator": "stringEquals"
                  }
                }
              }
            ],
            "minDelay": 10
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#DescribeCodeReviewRequest": {
      "type": "structure",
      "members": {
        "CodeReviewArn": {
          "target": "com.amazonaws.codegurureviewer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\">\n               <code>CodeReview</code>\n            </a> object.\n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#DescribeCodeReviewResponse": {
      "type": "structure",
      "members": {
        "CodeReview": {
          "target": "com.amazonaws.codegurureviewer#CodeReview",
          "traits": {
            "smithy.api#documentation": "<p>\n         Information about the code review.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#DescribeRecommendationFeedback": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codegurureviewer#DescribeRecommendationFeedbackRequest"
      },
      "output": {
        "target": "com.amazonaws.codegurureviewer#DescribeRecommendationFeedbackResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codegurureviewer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#InternalServerException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Describes the customer feedback for a CodeGuru Reviewer recommendation.\n      </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/feedback/{CodeReviewArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.codegurureviewer#DescribeRecommendationFeedbackRequest": {
      "type": "structure",
      "members": {
        "CodeReviewArn": {
          "target": "com.amazonaws.codegurureviewer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\">\n               <code>CodeReview</code>\n            </a> object.\n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RecommendationId": {
          "target": "com.amazonaws.codegurureviewer#RecommendationId",
          "traits": {
            "smithy.api#documentation": "<p>\n         The recommendation ID that can be used to track the provided recommendations and then to collect the feedback.\n      </p>",
            "smithy.api#httpQuery": "RecommendationId",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.codegurureviewer#UserId",
          "traits": {
            "smithy.api#documentation": "<p>\n         Optional parameter to describe the feedback for a given user. If this is not supplied, it defaults to the user making the request.\n      </p>\n         <p>\n         The <code>UserId</code> is an IAM principal that can be specified as an Amazon Web Services account ID or an Amazon Resource Name (ARN). For \n         more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html#Principal_specifying\">\n            Specifying a Principal</a> in the <i>Amazon Web Services Identity and Access Management User Guide</i>.\n      </p>",
            "smithy.api#httpQuery": "UserId"
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#DescribeRecommendationFeedbackResponse": {
      "type": "structure",
      "members": {
        "RecommendationFeedback": {
          "target": "com.amazonaws.codegurureviewer#RecommendationFeedback",
          "traits": {
            "smithy.api#documentation": "<p>\n         The recommendation feedback given by the user.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#DescribeRepositoryAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codegurureviewer#DescribeRepositoryAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.codegurureviewer#DescribeRepositoryAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codegurureviewer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#InternalServerException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#NotFoundException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Returns a <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\">\n               <code>RepositoryAssociation</code>\n            </a> object \n         that contains information about the requested repository association.\n      </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/associations/{AssociationArn}",
          "code": 200
        },
        "smithy.waiters#waitable": {
          "RepositoryAssociationSucceeded": {
            "documentation": "Wait until a repository association is complete.",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "RepositoryAssociation.State",
                    "expected": "Associated",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "RepositoryAssociation.State",
                    "expected": "Associating",
                    "comparator": "stringEquals"
                  }
                }
              }
            ],
            "minDelay": 10
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#DescribeRepositoryAssociationRequest": {
      "type": "structure",
      "members": {
        "AssociationArn": {
          "target": "com.amazonaws.codegurureviewer#AssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>\n         The Amazon Resource Name (ARN) of the  \n         <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\">\n               <code>RepositoryAssociation</code>\n            </a> object. \n         You can retrieve this ARN by calling \n         <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_ListRepositoryAssociations.html\">\n               <code>ListRepositoryAssociations</code>\n            </a>.\n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#DescribeRepositoryAssociationResponse": {
      "type": "structure",
      "members": {
        "RepositoryAssociation": {
          "target": "com.amazonaws.codegurureviewer#RepositoryAssociation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the repository association.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.codegurureviewer#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n\t\t\tAn array of key-value pairs used to tag an associated repository. A tag is a custom attribute label with two parts: \n\t\t</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>A <i>tag key</i> (for example, <code>CostCenter</code>,\n\t\t\t\t\t<code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag\n\t\t\t\t\tkeys are case sensitive.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>An optional field known as a <i>tag value</i> (for example,\n\t\t\t\t\t<code>111122223333</code>, <code>Production</code>, or a team name).\n\t\t\t\t\tOmitting the tag value is the same as using an empty string. Like tag keys, tag\n\t\t\t\t\tvalues are case sensitive.</p>\n\t\t\t         </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#DisassociateRepository": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codegurureviewer#DisassociateRepositoryRequest"
      },
      "output": {
        "target": "com.amazonaws.codegurureviewer#DisassociateRepositoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codegurureviewer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ConflictException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#InternalServerException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#NotFoundException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the association between Amazon CodeGuru Reviewer and a repository.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/associations/{AssociationArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.codegurureviewer#DisassociateRepositoryRequest": {
      "type": "structure",
      "members": {
        "AssociationArn": {
          "target": "com.amazonaws.codegurureviewer#AssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>\n         The Amazon Resource Name (ARN) of the  \n         <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\">\n               <code>RepositoryAssociation</code>\n            </a> object. \n         You can retrieve this ARN by calling \n         <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_ListRepositoryAssociations.html\">\n               <code>ListRepositoryAssociations</code>\n            </a>.\n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#DisassociateRepositoryResponse": {
      "type": "structure",
      "members": {
        "RepositoryAssociation": {
          "target": "com.amazonaws.codegurureviewer#RepositoryAssociation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the disassociated repository.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.codegurureviewer#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n\t\t\tAn array of key-value pairs used to tag an associated repository. A tag is a custom attribute label with two parts: \n\t\t</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>A <i>tag key</i> (for example, <code>CostCenter</code>,\n\t\t\t\t\t<code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag\n\t\t\t\t\tkeys are case sensitive.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>An optional field known as a <i>tag value</i> (for example,\n\t\t\t\t\t<code>111122223333</code>, <code>Production</code>, or a team name).\n\t\t\t\t\tOmitting the tag value is the same as using an empty string. Like tag keys, tag\n\t\t\t\t\tvalues are case sensitive.</p>\n\t\t\t         </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#EncryptionOption": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AWS_OWNED_CMK",
            "name": "AoCmk"
          },
          {
            "value": "CUSTOMER_MANAGED_CMK",
            "name": "CmCmk"
          }
        ]
      }
    },
    "com.amazonaws.codegurureviewer#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.codegurureviewer#EventInfo": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.codegurureviewer#EventName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event. The possible names are <code>pull_request</code>, <code>workflow_dispatch</code>, \n         <code>schedule</code>, and <code>push</code>\n         </p>"
          }
        },
        "State": {
          "target": "com.amazonaws.codegurureviewer#EventState",
          "traits": {
            "smithy.api#documentation": "<p>The state of an event. The state might be open, closed, or another state.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an event. The event might be a push, pull request, scheduled request, or another type of event.</p>"
      }
    },
    "com.amazonaws.codegurureviewer#EventName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "^[ \\-A-Z_a-z]+$"
      }
    },
    "com.amazonaws.codegurureviewer#EventState": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "^[ \\-A-Z_a-z]+$"
      }
    },
    "com.amazonaws.codegurureviewer#FilePath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.codegurureviewer#FindingsCount": {
      "type": "long",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.codegurureviewer#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.codegurureviewer#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The server encountered an internal error and is unable to complete the request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.codegurureviewer#JobState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Completed",
            "name": "COMPLETED"
          },
          {
            "value": "Pending",
            "name": "PENDING"
          },
          {
            "value": "Failed",
            "name": "FAILED"
          },
          {
            "value": "Deleting",
            "name": "DELETING"
          }
        ]
      }
    },
    "com.amazonaws.codegurureviewer#JobStates": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codegurureviewer#JobState"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 3
        }
      }
    },
    "com.amazonaws.codegurureviewer#KMSKeyDetails": {
      "type": "structure",
      "members": {
        "KMSKeyId": {
          "target": "com.amazonaws.codegurureviewer#KMSKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services KMS key that is associated with a respository association.</p>"
          }
        },
        "EncryptionOption": {
          "target": "com.amazonaws.codegurureviewer#EncryptionOption",
          "traits": {
            "smithy.api#documentation": "<p>The encryption option for a repository association. It is either owned by Amazon Web Services \n            Key Management Service (KMS) (<code>AWS_OWNED_CMK</code>) or customer managed (<code>CUSTOMER_MANAGED_CMK</code>).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains:</p>\n         <ul>\n            <li>\n               <p>The encryption option for a repository association. It is either owned by Amazon Web Services \n            Key Management Service (KMS) (<code>AWS_OWNED_CMK</code>) or customer managed (<code>CUSTOMER_MANAGED_CMK</code>).</p>\n            </li>\n            <li>\n               <p>The ID of the Amazon Web Services KMS key that \n            is associated with a respository association.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.codegurureviewer#KMSKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.codegurureviewer#LineNumber": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.codegurureviewer#ListCodeReviews": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codegurureviewer#ListCodeReviewsRequest"
      },
      "output": {
        "target": "com.amazonaws.codegurureviewer#ListCodeReviewsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codegurureviewer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#InternalServerException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Lists all the code reviews that the customer has created in the past 90 days.\n      </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/codereviews",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.codegurureviewer#ListCodeReviewsMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.codegurureviewer#ListCodeReviewsRequest": {
      "type": "structure",
      "members": {
        "ProviderTypes": {
          "target": "com.amazonaws.codegurureviewer#ProviderTypes",
          "traits": {
            "smithy.api#documentation": "<p>\n         List of provider types for filtering that needs to be applied before displaying the result. For example, <code>providerTypes=[GitHub]</code>  lists code reviews from GitHub.\n      </p>",
            "smithy.api#httpQuery": "ProviderTypes"
          }
        },
        "States": {
          "target": "com.amazonaws.codegurureviewer#JobStates",
          "traits": {
            "smithy.api#documentation": "<p>\n         List of states for filtering that needs to be applied before displaying the result. For example, <code>states=[Pending]</code> lists code reviews in the Pending state.\n      </p>\n         <p>The valid code review states are:</p>\n         <ul>\n            <li>            \n               <p>\n                  <code>Completed</code>: The code review is complete.\n            </p>            \n            </li>\n            <li>\n               <p>\n                  <code>Pending</code>: The code review started and has not completed or failed.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>Failed</code>: The code review failed.\n            </p>            \n            </li>\n            <li>\n               <p>\n                  <code>Deleting</code>: The code review is being deleted.\n            </p>\n            </li>\n         </ul>",
            "smithy.api#httpQuery": "States"
          }
        },
        "RepositoryNames": {
          "target": "com.amazonaws.codegurureviewer#RepositoryNames",
          "traits": {
            "smithy.api#documentation": "<p>\n         List of repository names for filtering that needs to be applied before displaying the result.\n      </p>",
            "smithy.api#httpQuery": "RepositoryNames"
          }
        },
        "Type": {
          "target": "com.amazonaws.codegurureviewer#Type",
          "traits": {
            "smithy.api#documentation": "<p>\n         The type of code reviews to list in the response.\n      </p>",
            "smithy.api#httpQuery": "Type",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.codegurureviewer#ListCodeReviewsMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>\n         The maximum number of results that are returned per call. The default is 100.\n      </p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.codegurureviewer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n         If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page.\n         Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged.\n      </p>",
            "smithy.api#httpQuery": "NextToken"
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#ListCodeReviewsResponse": {
      "type": "structure",
      "members": {
        "CodeReviewSummaries": {
          "target": "com.amazonaws.codegurureviewer#CodeReviewSummaries",
          "traits": {
            "smithy.api#documentation": "<p>\n         A list of code reviews that meet the criteria of the request.\n      </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.codegurureviewer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n         Pagination token.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#ListRecommendationFeedback": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codegurureviewer#ListRecommendationFeedbackRequest"
      },
      "output": {
        "target": "com.amazonaws.codegurureviewer#ListRecommendationFeedbackResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codegurureviewer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#InternalServerException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Returns a list of \n         <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RecommendationFeedbackSummary.html\">\n               <code>RecommendationFeedbackSummary</code>\n            </a> \n         objects that contain customer recommendation feedback for all CodeGuru Reviewer users. \n      </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/feedback/{CodeReviewArn}/RecommendationFeedback",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.codegurureviewer#ListRecommendationFeedbackRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.codegurureviewer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n         If <code>nextToken</code> is returned, there are more results available. The value of nextToken is a unique pagination token for each page.\n         Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged.\n      </p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.codegurureviewer#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>\n         The maximum number of results that are returned per call. The default is 100.\n      </p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "CodeReviewArn": {
          "target": "com.amazonaws.codegurureviewer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\">\n               <code>CodeReview</code>\n            </a> object.\n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "UserIds": {
          "target": "com.amazonaws.codegurureviewer#UserIds",
          "traits": {
            "smithy.api#documentation": "<p>\n         An Amazon Web Services user's account ID or Amazon Resource Name (ARN). Use this ID to query the recommendation feedback for a code review from that user.\n      </p>\n         <p>\n         The <code>UserId</code> is an IAM principal that can be specified as an Amazon Web Services account ID or an Amazon Resource Name (ARN). For \n         more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html#Principal_specifying\">\n            Specifying a Principal</a> in the <i>Amazon Web Services Identity and Access Management User Guide</i>.\n      </p>",
            "smithy.api#httpQuery": "UserIds"
          }
        },
        "RecommendationIds": {
          "target": "com.amazonaws.codegurureviewer#RecommendationIds",
          "traits": {
            "smithy.api#documentation": "<p>\n         Used to query the recommendation feedback for a given recommendation. \n      </p>",
            "smithy.api#httpQuery": "RecommendationIds"
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#ListRecommendationFeedbackResponse": {
      "type": "structure",
      "members": {
        "RecommendationFeedbackSummaries": {
          "target": "com.amazonaws.codegurureviewer#RecommendationFeedbackSummaries",
          "traits": {
            "smithy.api#documentation": "<p> Recommendation feedback summaries corresponding to the code review ARN. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.codegurureviewer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n         If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page.\n         Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#ListRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codegurureviewer#ListRecommendationsRequest"
      },
      "output": {
        "target": "com.amazonaws.codegurureviewer#ListRecommendationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codegurureviewer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#InternalServerException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Returns the list of all recommendations for a completed code review.\n      </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/codereviews/{CodeReviewArn}/Recommendations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.codegurureviewer#ListRecommendationsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.codegurureviewer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n         Pagination token.\n      </p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.codegurureviewer#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>\n         The maximum number of results that are returned per call. The default is 100.\n      </p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "CodeReviewArn": {
          "target": "com.amazonaws.codegurureviewer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\">\n               <code>CodeReview</code>\n            </a> object.\n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#ListRecommendationsResponse": {
      "type": "structure",
      "members": {
        "RecommendationSummaries": {
          "target": "com.amazonaws.codegurureviewer#RecommendationSummaries",
          "traits": {
            "smithy.api#documentation": "<p>\n         List of recommendations for the requested code review.\n      </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.codegurureviewer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n         Pagination token.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#ListRepositoryAssociations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codegurureviewer#ListRepositoryAssociationsRequest"
      },
      "output": {
        "target": "com.amazonaws.codegurureviewer#ListRepositoryAssociationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codegurureviewer#InternalServerException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Returns a list of <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociationSummary.html\">\n               <code>RepositoryAssociationSummary</code>\n            </a> objects that \n         contain summary information about a repository association. You can filter the returned list by \n         <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociationSummary.html#reviewer-Type-RepositoryAssociationSummary-ProviderType\">\n               <code>ProviderType</code>\n            </a>, \n         <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociationSummary.html#reviewer-Type-RepositoryAssociationSummary-Name\">\n               <code>Name</code>\n            </a>, \n         <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociationSummary.html#reviewer-Type-RepositoryAssociationSummary-State\">\n               <code>State</code>\n            </a>, and \n         <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociationSummary.html#reviewer-Type-RepositoryAssociationSummary-Owner\">\n               <code>Owner</code>\n            </a>.\n      </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/associations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.codegurureviewer#ListRepositoryAssociationsRequest": {
      "type": "structure",
      "members": {
        "ProviderTypes": {
          "target": "com.amazonaws.codegurureviewer#ProviderTypes",
          "traits": {
            "smithy.api#documentation": "<p>List of provider types to use as a filter.</p>",
            "smithy.api#httpQuery": "ProviderType"
          }
        },
        "States": {
          "target": "com.amazonaws.codegurureviewer#RepositoryAssociationStates",
          "traits": {
            "smithy.api#documentation": "<p>List of repository association states to use as a filter.</p>\n         <p>The valid repository association states are:</p>\n         <ul>\n            <li>            \n               <p>\n                  <b>Associated</b>: The repository \n               association is complete.\n            </p>            \n            </li>\n            <li>\n               <p>\n                  <b>Associating</b>: CodeGuru Reviewer is:               \n            </p>\n               <ul>\n                  <li>\n                     <p>\n                     Setting up pull request notifications. This is required \n                     for pull requests to trigger a CodeGuru Reviewer review.\n                  </p>\n                     <note>\n                        <p>\n                        If your repository <code>ProviderType</code> is <code>GitHub</code>, <code>GitHub Enterprise Server</code>, or <code>Bitbucket</code>, \n                        CodeGuru Reviewer creates webhooks in your repository to trigger CodeGuru Reviewer reviews. If you delete these webhooks, \n                        reviews of code in your repository cannot be triggered.\n                     </p>\n                     </note>\n                  </li>\n                  <li>\n                     <p>\n                     Setting up source code access. This is required for CodeGuru Reviewer to securely \n                     clone code in your repository.\n                  </p>\n                  </li>\n               </ul>            \n            </li>\n            <li>\n               <p>\n                  <b>Failed</b>: The repository failed to associate or disassociate.\n            </p>            \n            </li>\n            <li>\n               <p>\n                  <b>Disassociating</b>: CodeGuru Reviewer is removing the repository's pull request notifications and \n               source code access.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <b>Disassociated</b>: CodeGuru Reviewer successfully disassociated the repository. You can create a new association \n               with this repository if you want to review source code in it later. You can control access to code reviews created in an \n               associated repository with tags after it has been disassociated. For more information, see <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-ug/auth-and-access-control-using-tags.html\">Using tags to control access to \n               associated repositories</a> in the <i>Amazon CodeGuru Reviewer User Guide</i>.\n            </p>\n            </li>\n         </ul>",
            "smithy.api#httpQuery": "State"
          }
        },
        "Names": {
          "target": "com.amazonaws.codegurureviewer#Names",
          "traits": {
            "smithy.api#documentation": "<p>List of repository names to use as a filter.</p>",
            "smithy.api#httpQuery": "Name"
          }
        },
        "Owners": {
          "target": "com.amazonaws.codegurureviewer#Owners",
          "traits": {
            "smithy.api#documentation": "<p>List of owners to use as a filter. \n        For Amazon Web Services CodeCommit, it is the name of the CodeCommit account that was\n        used to associate the repository. For other repository source providers, such as Bitbucket and GitHub Enterprise Server, this is name of the account \n        that was used to associate the repository. </p>",
            "smithy.api#httpQuery": "Owner"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.codegurureviewer#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of repository association results returned by <code>ListRepositoryAssociations</code> \n         in paginated output. When this parameter is used, <code>ListRepositoryAssociations</code> only returns \n         <code>maxResults</code> results in a single page with a <code>nextToken</code> response \n         element. The remaining results of the initial request \n         can be seen by sending another <code>ListRepositoryAssociations</code> request with the returned \n         <code>nextToken</code> value. \n         This value can be between 1 and 100. If this parameter is not used, <code>ListRepositoryAssociations</code>\n         returns up to 100 results and a <code>nextToken</code> value if applicable. </p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.codegurureviewer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated \n         <code>ListRepositoryAssociations</code> request where <code>maxResults</code> was used and the results \n         exceeded the value of that parameter. Pagination continues from the end of the previous results \n         that returned the <code>nextToken</code> value. \n      </p>\n         <note>\n            <p>Treat this token as an opaque identifier that is only used to retrieve \n         the next items in a list and not for other programmatic purposes.</p>\n         </note>",
            "smithy.api#httpQuery": "NextToken"
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#ListRepositoryAssociationsResponse": {
      "type": "structure",
      "members": {
        "RepositoryAssociationSummaries": {
          "target": "com.amazonaws.codegurureviewer#RepositoryAssociationSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list of repository associations that meet the criteria of the request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.codegurureviewer#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListRecommendations</code> request. \n         When the results of a <code>ListRecommendations</code> request exceed <code>maxResults</code>, this \n         value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more \n         results to return. </p>"
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codegurureviewer#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.codegurureviewer#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codegurureviewer#InternalServerException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the list of tags associated with an associated repository resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{resourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.codegurureviewer#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.codegurureviewer#AssociationArn",
          "traits": {
            "smithy.api#documentation": "<p>\n         The Amazon Resource Name (ARN) of the  \n         <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_RepositoryAssociation.html\">\n               <code>RepositoryAssociation</code>\n            </a> object. \n         You can retrieve this ARN by calling \n         <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_ListRepositoryAssociations.html\">\n               <code>ListRepositoryAssociations</code>\n            </a>.\n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.codegurureviewer#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n\t\t\tAn array of key-value pairs used to tag an associated repository. A tag is a custom attribute label with two parts: \n\t\t</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>A <i>tag key</i> (for example, <code>CostCenter</code>,\n\t\t\t\t\t<code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag\n\t\t\t\t\tkeys are case sensitive.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>An optional field known as a <i>tag value</i> (for example,\n\t\t\t\t\t<code>111122223333</code>, <code>Production</code>, or a team name).\n\t\t\t\t\tOmitting the tag value is the same as using an empty string. Like tag keys, tag\n\t\t\t\t\tvalues are case sensitive.</p>\n\t\t\t         </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#LongDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^\\S(.*\\S)?$"
      }
    },
    "com.amazonaws.codegurureviewer#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.codegurureviewer#MeteredLinesOfCodeCount": {
      "type": "long",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.codegurureviewer#Metrics": {
      "type": "structure",
      "members": {
        "MeteredLinesOfCodeCount": {
          "target": "com.amazonaws.codegurureviewer#MeteredLinesOfCodeCount",
          "traits": {
            "smithy.api#documentation": "<p>\n            <code>MeteredLinesOfCode</code> is the number of lines of code in the repository where the code review happened. \n         This does not include non-code lines such as comments and blank lines.\n      </p>"
          }
        },
        "FindingsCount": {
          "target": "com.amazonaws.codegurureviewer#FindingsCount",
          "traits": {
            "smithy.api#documentation": "<p>\n         Total number of recommendations found in the code review.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Information about the statistics from the code review.\n      </p>"
      }
    },
    "com.amazonaws.codegurureviewer#MetricsSummary": {
      "type": "structure",
      "members": {
        "MeteredLinesOfCodeCount": {
          "target": "com.amazonaws.codegurureviewer#MeteredLinesOfCodeCount",
          "traits": {
            "smithy.api#documentation": "<p>\n         Lines of code metered in the code review. For the initial code review pull request and all subsequent revisions, \n         this includes all lines of code in the files added to the pull request. In subsequent revisions, for files that already \n         existed in the pull request, this includes only the changed lines of code. In both cases, this does not include non-code lines such as comments \n         and import statements. For example, if you submit a pull request containing 5 files, each with 500 lines of code, and in \n         a subsequent revision you added a new file with 200 lines of code, and also modified a total of 25 lines across the initial 5 files, \n         <code>MeteredLinesOfCodeCount</code> includes the first 5 files (5 * 500 = 2,500 lines), the new file (200 lines) and the 25 changed lines of\n         code for a total of 2,725 lines of code.\n      </p>"
          }
        },
        "FindingsCount": {
          "target": "com.amazonaws.codegurureviewer#FindingsCount",
          "traits": {
            "smithy.api#documentation": "<p>\n         Total number of recommendations found in the code review.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Information about metrics summaries.\n      </p>"
      }
    },
    "com.amazonaws.codegurureviewer#Name": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^\\S[\\w.-]*$"
      }
    },
    "com.amazonaws.codegurureviewer#Names": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codegurureviewer#Name"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 3
        }
      }
    },
    "com.amazonaws.codegurureviewer#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.codegurureviewer#NotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.codegurureviewer#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource specified in the request was not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.codegurureviewer#Owner": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^\\S(.*\\S)?$"
      }
    },
    "com.amazonaws.codegurureviewer#Owners": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codegurureviewer#Owner"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 3
        }
      }
    },
    "com.amazonaws.codegurureviewer#ProviderType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CodeCommit",
            "name": "CODE_COMMIT"
          },
          {
            "value": "GitHub",
            "name": "GIT_HUB"
          },
          {
            "value": "Bitbucket",
            "name": "BITBUCKET"
          },
          {
            "value": "GitHubEnterpriseServer",
            "name": "GIT_HUB_ENTERPRISE_SERVER"
          },
          {
            "value": "S3Bucket",
            "name": "S3_BUCKET"
          }
        ]
      }
    },
    "com.amazonaws.codegurureviewer#ProviderTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codegurureviewer#ProviderType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 3
        }
      }
    },
    "com.amazonaws.codegurureviewer#PullRequestId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.codegurureviewer#PutRecommendationFeedback": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codegurureviewer#PutRecommendationFeedbackRequest"
      },
      "output": {
        "target": "com.amazonaws.codegurureviewer#PutRecommendationFeedbackResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codegurureviewer#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#InternalServerException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codegurureviewer#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Stores customer feedback for a CodeGuru Reviewer recommendation. When this API is called again with different reactions the previous feedback is overwritten.\n      </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/feedback",
          "code": 200
        }
      }
    },
    "com.amazonaws.codegurureviewer#PutRecommendationFeedbackRequest": {
      "type": "structure",
      "members": {
        "CodeReviewArn": {
          "target": "com.amazonaws.codegurureviewer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\">\n               <code>CodeReview</code>\n            </a> object.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "RecommendationId": {
          "target": "com.amazonaws.codegurureviewer#RecommendationId",
          "traits": {
            "smithy.api#documentation": "<p>\n         The recommendation ID that can be used to track the provided recommendations and then to collect the feedback.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "Reactions": {
          "target": "com.amazonaws.codegurureviewer#Reactions",
          "traits": {
            "smithy.api#documentation": "<p>\n         List for storing reactions. Reactions are utf-8 text code for emojis. If you send an empty list it clears all your feedback.\n      </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codegurureviewer#PutRecommendationFeedbackResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.codegurureviewer#Reaction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ThumbsUp",
            "name": "THUMBS_UP"
          },
          {
            "value": "ThumbsDown",
            "name": "THUMBS_DOWN"
          }
        ]
      }
    },
    "com.amazonaws.codegurureviewer#Reactions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codegurureviewer#Reaction"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.codegurureviewer#RecommendationCategory": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AWSBestPractices",
            "name": "AWS_BEST_PRACTICES"
          },
          {
            "value": "AWSCloudFormationIssues",
            "name": "AWS_CLOUDFORMATION_ISSUES"
          },
          {
            "value": "DuplicateCode",
            "name": "DUPLICATE_CODE"
          },
          {
            "value": "CodeMaintenanceIssues",
            "name": "CODE_MAINTENANCE_ISSUES"
          },
          {
            "value": "ConcurrencyIssues",
            "name": "CONCURRENCY_ISSUES"
          },
          {
            "value": "InputValidations",
            "name": "INPUT_VALIDATIONS"
          },
          {
            "value": "PythonBestPractices",
            "name": "PYTHON_BEST_PRACTICES"
          },
          {
            "value": "JavaBestPractices",
            "name": "JAVA_BEST_PRACTICES"
          },
          {
            "value": "ResourceLeaks",
            "name": "RESOURCE_LEAKS"
          },
          {
            "value": "SecurityIssues",
            "name": "SECURITY_ISSUES"
          },
          {
            "value": "CodeInconsistencies",
            "name": "CODE_INCONSISTENCIES"
          }
        ]
      }
    },
    "com.amazonaws.codegurureviewer#RecommendationFeedback": {
      "type": "structure",
      "members": {
        "CodeReviewArn": {
          "target": "com.amazonaws.codegurureviewer#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/codeguru/latest/reviewer-api/API_CodeReview.html\">\n               <code>CodeReview</code>\n            </a> object.\n      </p>"
          }
        },
        "RecommendationId": {
          "target": "com.amazonaws.codegurureviewer#RecommendationId",
          "traits": {
            "smithy.api#documentation": "<p>\n         The recommendation ID that can be used to track the provided recommendations. Later on it can be used to collect the feedback.\n      </p>"
          }
        },
        "Reactions": {
          "target": "com.amazonaws.codegurureviewer#Reactions",
          "traits": {
            "smithy.api#documentation": "<p>\n         List for storing reactions. Reactions are utf-8 text code for emojis. You can send an empty list to clear off all your feedback.\n      </p>"
          }
        },
        "UserId": {
          "target": "com.amazonaws.codegurureviewer#UserId",
          "traits": {
            "smithy.api#documentation": "<p>\n         The ID of the user that made the API call.\n      </p>\n         <p>\n         The <code>UserId</code> is an IAM principal that can be specified as an Amazon Web Services account ID or an Amazon Resource Name (ARN). For \n         more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html#Principal_specifying\">\n            Specifying a Principal</a> in the <i>Amazon Web Services Identity and Access Management User Guide</i>.\n      </p>"
          }
        },
        "CreatedTimeStamp": {
          "target": "com.amazonaws.codegurureviewer#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>\n         The time at which the feedback was created.\n      </p>"
          }
        },
        "LastUpdatedTimeStamp": {
          "target": "com.amazonaws.codegurureviewer#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>\n         The time at which the feedback was last updated. \n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Information about the recommendation feedback.\n      </p>"
      }
    },
    "com.amazonaws.codegurureviewer#RecommendationFeedbackSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codegurureviewer#RecommendationFeedbackSummary"
      }
    },
    "com.amazonaws.codegurureviewer#RecommendationFeedbackSummary": {
      "type": "structure",
      "members": {
        "RecommendationId": {
          "target": "com.amazonaws.codegurureviewer#RecommendationId",
          "traits": {
            "smithy.api#documentation": "<p>\n         The recommendation ID that can be used to track the provided recommendations. Later on it can be used to collect the feedback.\n      </p>"
          }
        },
        "Reactions": {
          "target": "com.amazonaws.codegurureviewer#Reactions",
          "traits": {
            "smithy.api#documentation": "<p>\n         List for storing reactions. Reactions are utf-8 text code for emojis.\n      </p>"
          }
        },
        "UserId": {
          "target": "com.amazonaws.codegurureviewer#UserId",
          "traits": {
            "smithy.api#documentation": "<p>\n         The ID of the user that gave the feedback.\n      </p>\n         <p>\n         The <code>UserId</code> is an IAM principal that can be specified as an Amazon Web Services account ID or an Amazon Resource Name (ARN). For \n         more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html#Principal_specifying\">\n            Specifying a Principal</a> in the <i>Amazon Web Services Identity and Access Management User Guide</i>.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Information about recommendation feedback summaries.\n      </p>"
      }
    },
    "com.amazonaws.codegurureviewer#RecommendationId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.codegurureviewer#RecommendationIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codegurureviewer#RecommendationId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.codegurureviewer#RecommendationSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codegurureviewer#RecommendationSummary"
      }
    },
    "com.amazonaws.codegurureviewer#RecommendationSummary": {
      "type": "structure",
      "members": {
        "FilePath": {
          "target": "com.amazonaws.codegurureviewer#FilePath",
          "traits": {
            "smithy.api#documentation": "<p>Name of the file on which a recommendation is provided.</p>"
          }
        },
        "RecommendationId": {
          "target": "com.amazonaws.codegurureviewer#RecommendationId",
          "traits": {
            "smithy.api#documentation": "<p>\n         The recommendation ID that can be used to track the provided recommendations. Later on it can be used to collect the feedback.\n      </p>"
          }
        },
        "StartLine": {
          "target": "com.amazonaws.codegurureviewer#LineNumber",
          "traits": {
            "smithy.api#documentation": "<p>\n         Start line from where the recommendation is applicable in the source commit or source branch.\n      </p>"
          }
        },
        "EndLine": {
          "target": "com.amazonaws.codegurureviewer#LineNumber",
          "traits": {
            "smithy.api#documentation": "<p>\n         Last line where the recommendation is applicable in the source commit or source branch. For a single line comment the start line and end line values are the same.\n      </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.codegurureviewer#Text",
          "traits": {
            "smithy.api#documentation": "<p>\n         A description of the recommendation generated by CodeGuru Reviewer for the lines of code between the start line and the end line.\n      </p>"
          }
        },
        "RecommendationCategory": {
          "target": "com.amazonaws.codegurureviewer#RecommendationCategory",
          "traits": {
            "smithy.api#documentation": "<p>The type of a recommendation.</p>"
          }
        },
        "RuleMetadata": {
          "target": "com.amazonaws.codegurureviewer#RuleMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Metadata about a rule. Rule metadata includes an ID, a name, a list of tags, and a \n         short and long description. CodeGuru Reviewer uses rules to analyze code. A rule's recommendation is \n         included in analysis results if code is detected that violates the rule.</p>"
          }
        },
        "Severity": {
          "target": "com.amazonaws.codegurureviewer#Severity",
          "traits": {
            "smithy.api#documentation": "<p>The severity of the issue in the code that generated this recommendation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Information about recommendations.\n      </p>"
      }
    },
    "com.amazonaws.codegurureviewer#Repository": {
      "type": "structure",
      "members": {
        "CodeCommit": {
          "target": "com.amazonaws.codegurureviewer#CodeCommitRepository",
          "traits": {
            "smithy.api#documentation": "<p>Information about an Amazon Web Services CodeCommit repository.</p>"
          }
        },
        "Bitbucket": {
          "target": "com.amazonaws.codegurureviewer#ThirdPartySourceRepository",
          "traits": {
            "smithy.api#documentation": "<p>\n         Information about a Bitbucket repository.\n      </p>"
          }
        },
        "GitHubEnterpriseServer": {
          "target": "com.amazonaws.codegurureviewer#ThirdPartySourceRepository",
          "traits": {
            "smithy.api#documentation": "<p>\n         Information about a GitHub Enterprise Server repository.\n      </p>"
          }
        },
        "S3Bucket": {
          "target": "com.amazonaws.codegurureviewer#S3Repository"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Information about an associated Amazon Web Services CodeCommit repository or an associated repository that is managed \n         by Amazon Web Services CodeStar Connections (for example, Bitbucket). This <code>Repository</code> object \n         is not used if your source code is in an associated GitHub repository.\n      </p>"
      }
    },
    "com.amazonaws.codegurureviewer#RepositoryAnalysis": {
      "type": "structure",
      "members": {
        "RepositoryHead": {
          "target": "com.amazonaws.codegurureviewer#RepositoryHeadSourceCodeType",
          "traits": {
[...]
