{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.codebuild#AccountLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.codebuild#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Amazon Web Services service limit was exceeded for the calling Amazon Web Services account.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.codebuild#ArtifactNamespace": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "BUILD_ID",
            "name": "BUILD_ID"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#ArtifactPackaging": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "ZIP",
            "name": "ZIP"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#ArtifactsType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CODEPIPELINE",
            "name": "CODEPIPELINE"
          },
          {
            "value": "S3",
            "name": "S3"
          },
          {
            "value": "NO_ARTIFACTS",
            "name": "NO_ARTIFACTS"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#AuthType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OAUTH",
            "name": "OAUTH"
          },
          {
            "value": "BASIC_AUTH",
            "name": "BASIC_AUTH"
          },
          {
            "value": "PERSONAL_ACCESS_TOKEN",
            "name": "PERSONAL_ACCESS_TOKEN"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#BatchDeleteBuilds": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#BatchDeleteBuildsInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#BatchDeleteBuildsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes one or more builds.</p>"
      }
    },
    "com.amazonaws.codebuild#BatchDeleteBuildsInput": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.amazonaws.codebuild#BuildIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the builds to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchDeleteBuildsOutput": {
      "type": "structure",
      "members": {
        "buildsDeleted": {
          "target": "com.amazonaws.codebuild#BuildIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the builds that were successfully deleted.</p>"
          }
        },
        "buildsNotDeleted": {
          "target": "com.amazonaws.codebuild#BuildsNotDeleted",
          "traits": {
            "smithy.api#documentation": "<p>Information about any builds that could not be successfully deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchGetBuildBatches": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#BatchGetBuildBatchesInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#BatchGetBuildBatchesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about one or more batch builds.</p>"
      }
    },
    "com.amazonaws.codebuild#BatchGetBuildBatchesInput": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.amazonaws.codebuild#BuildBatchIds",
          "traits": {
            "smithy.api#documentation": "<p>An array that contains the batch build identifiers to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchGetBuildBatchesOutput": {
      "type": "structure",
      "members": {
        "buildBatches": {
          "target": "com.amazonaws.codebuild#BuildBatches",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>BuildBatch</code> objects that represent the retrieved batch\n            builds.</p>"
          }
        },
        "buildBatchesNotFound": {
          "target": "com.amazonaws.codebuild#BuildBatchIds",
          "traits": {
            "smithy.api#documentation": "<p>An array that contains the identifiers of any batch builds that are not found.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchGetBuilds": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#BatchGetBuildsInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#BatchGetBuildsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more builds.</p>"
      }
    },
    "com.amazonaws.codebuild#BatchGetBuildsInput": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.amazonaws.codebuild#BuildIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the builds.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchGetBuildsOutput": {
      "type": "structure",
      "members": {
        "builds": {
          "target": "com.amazonaws.codebuild#Builds",
          "traits": {
            "smithy.api#documentation": "<p>Information about the requested builds.</p>"
          }
        },
        "buildsNotFound": {
          "target": "com.amazonaws.codebuild#BuildIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of builds for which information could not be found.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchGetProjects": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#BatchGetProjectsInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#BatchGetProjectsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more build projects.</p>"
      }
    },
    "com.amazonaws.codebuild#BatchGetProjectsInput": {
      "type": "structure",
      "members": {
        "names": {
          "target": "com.amazonaws.codebuild#ProjectNames",
          "traits": {
            "smithy.api#documentation": "<p>The names or ARNs of the build projects. To get information about a project shared\n            with your Amazon Web Services account, its ARN must be specified. You cannot specify a shared project\n            using its name.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchGetProjectsOutput": {
      "type": "structure",
      "members": {
        "projects": {
          "target": "com.amazonaws.codebuild#Projects",
          "traits": {
            "smithy.api#documentation": "<p>Information about the requested build projects.</p>"
          }
        },
        "projectsNotFound": {
          "target": "com.amazonaws.codebuild#ProjectNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of build projects for which information could not be found.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchGetReportGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#BatchGetReportGroupsInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#BatchGetReportGroupsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Returns an array of report groups.\n    </p>"
      }
    },
    "com.amazonaws.codebuild#BatchGetReportGroupsInput": {
      "type": "structure",
      "members": {
        "reportGroupArns": {
          "target": "com.amazonaws.codebuild#ReportGroupArns",
          "traits": {
            "smithy.api#documentation": "<p>\n      An array of report group ARNs that identify the report groups to return.\n    </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchGetReportGroupsOutput": {
      "type": "structure",
      "members": {
        "reportGroups": {
          "target": "com.amazonaws.codebuild#ReportGroups",
          "traits": {
            "smithy.api#documentation": "<p>\n      The array of report groups returned by <code>BatchGetReportGroups</code>.\n    </p>"
          }
        },
        "reportGroupsNotFound": {
          "target": "com.amazonaws.codebuild#ReportGroupArns",
          "traits": {
            "smithy.api#documentation": "<p>\n      An array of ARNs passed to <code>BatchGetReportGroups</code> that are not associated with a <code>ReportGroup</code>.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchGetReports": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#BatchGetReportsInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#BatchGetReportsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Returns an array of reports.\n    </p>"
      }
    },
    "com.amazonaws.codebuild#BatchGetReportsInput": {
      "type": "structure",
      "members": {
        "reportArns": {
          "target": "com.amazonaws.codebuild#ReportArns",
          "traits": {
            "smithy.api#documentation": "<p>\n      An array of ARNs that identify the <code>Report</code> objects to return.\n    </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchGetReportsOutput": {
      "type": "structure",
      "members": {
        "reports": {
          "target": "com.amazonaws.codebuild#Reports",
          "traits": {
            "smithy.api#documentation": "<p>\n      The array of <code>Report</code> objects returned by <code>BatchGetReports</code>.\n    </p>"
          }
        },
        "reportsNotFound": {
          "target": "com.amazonaws.codebuild#ReportArns",
          "traits": {
            "smithy.api#documentation": "<p>\n      An array of ARNs passed to <code>BatchGetReportGroups</code> that are not associated with a <code>Report</code>.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#BatchRestrictions": {
      "type": "structure",
      "members": {
        "maximumBuildsAllowed": {
          "target": "com.amazonaws.codebuild#WrapperInt",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the maximum number of builds allowed.</p>"
          }
        },
        "computeTypesAllowed": {
          "target": "com.amazonaws.codebuild#ComputeTypesAllowed",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that specify the compute types that are allowed for the batch\n            build. See <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/build-env-ref-compute-types.html\">Build environment\n                compute types</a> in the <i>CodeBuild User Guide</i> for these values.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies restrictions for the batch build.</p>"
      }
    },
    "com.amazonaws.codebuild#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.codebuild#BucketOwnerAccess": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Specifies the bucket owner's access for objects that another account uploads to their\n            Amazon S3 bucket. By default, only the account that uploads the objects to the bucket has\n            access to these objects. This property allows you to give the bucket owner access to\n            these objects.</p>\n        <note>\n            <p>To use this property, your CodeBuild service role must have the\n                    <code>s3:PutBucketAcl</code> permission. This permission allows CodeBuild to modify\n                the access control list for the bucket.</p>\n        </note>\n        <p>This property can be one of the following values:</p>\n         <dl>\n            <dt>NONE</dt>\n            <dd>\n                <p>The bucket owner does not have access to the objects. This is the\n                        default.</p>\n            </dd>\n            <dt>READ_ONLY</dt>\n            <dd>\n              <p>The bucket owner has read-only access to the objects. The uploading account\n                        retains ownership of the objects.</p>\n            </dd>\n            <dt>FULL</dt>\n            <dd>\n              <p>The bucket owner has full access to the objects. Object ownership is determined\n                        by the following criteria:</p>\n                    <ul>\n                  <li>\n                            <p>If the bucket is configured with the <b>Bucket\n                                    owner preferred</b> setting, the bucket owner owns the\n                                objects. The uploading account will have object access as specified\n                                by the bucket's policy.</p>\n                        </li>\n                  <li>\n                            <p>Otherwise, the uploading account retains ownership of the\n                                objects.</p>\n                        </li>\n               </ul>\n                    <p>For more information about Amazon S3 object ownership, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/about-object-ownership.html\">Controlling ownership of uploaded objects using S3\n                            Object Ownership</a> in the <i>Amazon Simple Storage Service User\n                        Guide</i>.</p>\n            </dd>\n         </dl>",
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "READ_ONLY",
            "name": "READ_ONLY"
          },
          {
            "value": "FULL",
            "name": "FULL"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#Build": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the build.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the build.</p>"
          }
        },
        "buildNumber": {
          "target": "com.amazonaws.codebuild#WrapperLong",
          "traits": {
            "smithy.api#documentation": "<p>The number of the build. For each project, the <code>buildNumber</code> of its first\n            build is <code>1</code>. The <code>buildNumber</code> of each subsequent build is\n            incremented by <code>1</code>. If a build is deleted, the <code>buildNumber</code> of\n            other builds does not change.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.codebuild#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the build process started, expressed in Unix time format.</p>"
          }
        },
        "endTime": {
          "target": "com.amazonaws.codebuild#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the build process ended, expressed in Unix time format.</p>"
          }
        },
        "currentPhase": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>The current build phase.</p>"
          }
        },
        "buildStatus": {
          "target": "com.amazonaws.codebuild#StatusType",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the build. Valid values include:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>FAILED</code>: The build failed.</p>\n            </li>\n            <li>\n                <p>\n                  <code>FAULT</code>: The build faulted.</p>\n            </li>\n            <li>\n                <p>\n                  <code>IN_PROGRESS</code>: The build is still in progress.</p>\n            </li>\n            <li>\n                <p>\n                  <code>STOPPED</code>: The build stopped.</p>\n            </li>\n            <li>\n                <p>\n                  <code>SUCCEEDED</code>: The build succeeded.</p>\n            </li>\n            <li>\n                <p>\n                  <code>TIMED_OUT</code>: The build timed out.</p>\n            </li>\n         </ul>"
          }
        },
        "sourceVersion": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Any version identifier for the version of the source code to be built. If\n                <code>sourceVersion</code> is specified at the project level, then this\n                <code>sourceVersion</code> (at the build level) takes precedence. </p>\n        <p> For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/sample-source-version.html\">Source Version Sample\n                with CodeBuild</a> in the <i>CodeBuild User Guide</i>. </p>"
          }
        },
        "resolvedSourceVersion": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p> An identifier for the version of this build's source code. </p>\n        <ul>\n            <li>\n                <p> For CodeCommit, GitHub, GitHub Enterprise, and BitBucket, the commit ID. </p>\n            </li>\n            <li>\n                <p> For CodePipeline, the source revision provided by CodePipeline. </p>\n            </li>\n            <li>\n                <p> For Amazon S3, this does not apply. </p>\n            </li>\n         </ul>"
          }
        },
        "projectName": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CodeBuild project.</p>"
          }
        },
        "phases": {
          "target": "com.amazonaws.codebuild#BuildPhases",
          "traits": {
            "smithy.api#documentation": "<p>Information about all previous build phases that are complete and information about\n            any current build phase that is not yet complete.</p>"
          }
        },
        "source": {
          "target": "com.amazonaws.codebuild#ProjectSource",
          "traits": {
            "smithy.api#documentation": "<p>Information about the source code to be built.</p>"
          }
        },
        "secondarySources": {
          "target": "com.amazonaws.codebuild#ProjectSources",
          "traits": {
            "smithy.api#documentation": "<p> An array of <code>ProjectSource</code> objects. </p>"
          }
        },
        "secondarySourceVersions": {
          "target": "com.amazonaws.codebuild#ProjectSecondarySourceVersions",
          "traits": {
            "smithy.api#documentation": "<p> An array of <code>ProjectSourceVersion</code> objects. Each\n                <code>ProjectSourceVersion</code> must be one of: </p>\n        <ul>\n            <li>\n                <p>For CodeCommit: the commit ID, branch, or Git tag to use.</p>\n            </li>\n            <li>\n                <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that\n                    corresponds to the version of the source code you want to build. If a pull\n                    request ID is specified, it must use the format <code>pr/pull-request-ID</code>\n                    (for example, <code>pr/25</code>). If a branch name is specified, the branch's\n                    HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is\n                    used.</p>\n            </li>\n            <li>\n                <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the\n                    version of the source code you want to build. If a branch name is specified, the\n                    branch's HEAD commit ID is used. If not specified, the default branch's HEAD\n                    commit ID is used.</p>\n            </li>\n            <li>\n                <p>For Amazon S3: the version ID of the object that represents the build input ZIP\n                    file to use.</p>\n            </li>\n         </ul>"
          }
        },
        "artifacts": {
          "target": "com.amazonaws.codebuild#BuildArtifacts",
          "traits": {
            "smithy.api#documentation": "<p>Information about the output artifacts for the build.</p>"
          }
        },
        "secondaryArtifacts": {
          "target": "com.amazonaws.codebuild#BuildArtifactsList",
          "traits": {
            "smithy.api#documentation": "<p> An array of <code>ProjectArtifacts</code> objects. </p>"
          }
        },
        "cache": {
          "target": "com.amazonaws.codebuild#ProjectCache",
          "traits": {
            "smithy.api#documentation": "<p>Information about the cache for the build.</p>"
          }
        },
        "environment": {
          "target": "com.amazonaws.codebuild#ProjectEnvironment",
          "traits": {
            "smithy.api#documentation": "<p>Information about the build environment for this build.</p>"
          }
        },
        "serviceRole": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of a service role used for this build.</p>"
          }
        },
        "logs": {
          "target": "com.amazonaws.codebuild#LogsLocation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the build's logs in CloudWatch Logs.</p>"
          }
        },
        "timeoutInMinutes": {
          "target": "com.amazonaws.codebuild#WrapperInt",
          "traits": {
            "smithy.api#documentation": "<p>How long, in minutes, for CodeBuild to wait before timing out this build if it does not\n            get marked as completed.</p>"
          }
        },
        "queuedTimeoutInMinutes": {
          "target": "com.amazonaws.codebuild#WrapperInt",
          "traits": {
            "smithy.api#documentation": "<p> The number of minutes a build is allowed to be queued before it times out. </p>"
          }
        },
        "buildComplete": {
          "target": "com.amazonaws.codebuild#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the build is complete. True if complete; otherwise, false.</p>"
          }
        },
        "initiator": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>The entity that started the build. Valid values include:</p>\n        <ul>\n            <li>\n                <p>If CodePipeline started the build, the pipeline's name (for example,\n                        <code>codepipeline/my-demo-pipeline</code>).</p>\n            </li>\n            <li>\n                <p>If an IAM user started the build, the user's name (for example,\n                        <code>MyUserName</code>).</p>\n            </li>\n            <li>\n                <p>If the Jenkins plugin for CodeBuild started the build, the string\n                        <code>CodeBuild-Jenkins-Plugin</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "vpcConfig": {
          "target": "com.amazonaws.codebuild#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>If your CodeBuild project accesses resources in an Amazon VPC, you provide this parameter\n            that identifies the VPC ID and the list of security group IDs and subnet IDs. The\n            security groups and subnets must belong to the same VPC. You must provide at least one\n            security group and one subnet ID.</p>"
          }
        },
        "networkInterface": {
          "target": "com.amazonaws.codebuild#NetworkInterface",
          "traits": {
            "smithy.api#documentation": "<p>Describes a network interface.</p>"
          }
        },
        "encryptionKey": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Key Management Service customer master key (CMK) to be used for encrypting the build output\n            artifacts.</p>\n        <note>\n            <p> You can use a cross-account KMS key to encrypt the build output artifacts if your\n                service role has permission to that key. </p>\n        </note>\n        <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK's alias (using\n            the format <code>alias/<alias-name></code>).</p>"
          }
        },
        "exportedEnvironmentVariables": {
          "target": "com.amazonaws.codebuild#ExportedEnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>A list of exported environment variables for this build.</p>\n        <p>Exported environment variables are used in conjunction with CodePipeline to export\n  environment variables from the current build stage to subsequent stages in the pipeline.\n  For more information, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/actions-variables.html\">Working with variables</a> in the <i>CodePipeline User Guide</i>.</p>"
          }
        },
        "reportArns": {
          "target": "com.amazonaws.codebuild#BuildReportArns",
          "traits": {
            "smithy.api#documentation": "<p> An array of the ARNs associated with this build's reports. </p>"
          }
        },
        "fileSystemLocations": {
          "target": "com.amazonaws.codebuild#ProjectFileSystemLocations",
          "traits": {
            "smithy.api#documentation": "<p>\n      An array of <code>ProjectFileSystemLocation</code> objects for a CodeBuild build project. A <code>ProjectFileSystemLocation</code> object \n      specifies the <code>identifier</code>, <code>location</code>, <code>mountOptions</code>, \n      <code>mountPoint</code>, and <code>type</code> of a file system created using Amazon Elastic File System.\n  </p>"
          }
        },
        "debugSession": {
          "target": "com.amazonaws.codebuild#DebugSession",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the debug session for this build.</p>"
          }
        },
        "buildBatchArn": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the batch build that this build is a member of, if applicable.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a build.</p>"
      }
    },
    "com.amazonaws.codebuild#BuildArtifacts": {
      "type": "structure",
      "members": {
        "location": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>Information about the location of the build artifacts.</p>"
          }
        },
        "sha256sum": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>The SHA-256 hash of the build artifact.</p>\n        <p>You can use this hash along with a checksum tool to confirm file integrity and\n            authenticity.</p>\n        <note>\n            <p>This value is available only if the build project's <code>packaging</code> value\n                is set to <code>ZIP</code>.</p>\n        </note>"
          }
        },
        "md5sum": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>The MD5 hash of the build artifact.</p>\n        <p>You can use this hash along with a checksum tool to confirm file integrity and\n            authenticity.</p>\n        <note>\n            <p>This value is available only if the build project's <code>packaging</code> value\n                is set to <code>ZIP</code>.</p>\n        </note>"
          }
        },
        "overrideArtifactName": {
          "target": "com.amazonaws.codebuild#WrapperBoolean",
          "traits": {
            "smithy.api#documentation": "<p> If this flag is set, a name specified in the buildspec file overrides the artifact\n            name. The name specified in a buildspec file is calculated at build time and uses the\n            Shell Command Language. For example, you can append a date and time to your artifact\n            name so that it is always unique. </p>"
          }
        },
        "encryptionDisabled": {
          "target": "com.amazonaws.codebuild#WrapperBoolean",
          "traits": {
            "smithy.api#documentation": "<p> Information that tells you if encryption for build artifacts is disabled. </p>"
          }
        },
        "artifactIdentifier": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p> An identifier for this artifact definition. </p>"
          }
        },
        "bucketOwnerAccess": {
          "target": "com.amazonaws.codebuild#BucketOwnerAccess"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about build output artifacts.</p>"
      }
    },
    "com.amazonaws.codebuild#BuildArtifactsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#BuildArtifacts"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 12
        }
      }
    },
    "com.amazonaws.codebuild#BuildBatch": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the batch build.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the batch build.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.codebuild#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the batch build started.</p>"
          }
        },
        "endTime": {
          "target": "com.amazonaws.codebuild#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the batch build ended.</p>"
          }
        },
        "currentPhase": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>The current phase of the batch build.</p>"
          }
        },
        "buildBatchStatus": {
          "target": "com.amazonaws.codebuild#StatusType",
          "traits": {
            "smithy.api#documentation": "<p>The status of the batch build.</p>"
          }
        },
        "sourceVersion": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the version of the source code to be built.</p>"
          }
        },
        "resolvedSourceVersion": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resolved version of this batch build's source code.</p>\n        <ul>\n            <li>\n                <p>For CodeCommit, GitHub, GitHub Enterprise, and BitBucket, the commit ID.</p>\n            </li>\n            <li>\n                <p>For CodePipeline, the source revision provided by CodePipeline.</p>\n            </li>\n            <li>\n                <p>For Amazon S3, this does not apply.</p>\n            </li>\n         </ul>"
          }
        },
        "projectName": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the batch build project.</p>"
          }
        },
        "phases": {
          "target": "com.amazonaws.codebuild#BuildBatchPhases",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>BuildBatchPhase</code> objects the specify the phases of the\n            batch build.</p>"
          }
        },
        "source": {
          "target": "com.amazonaws.codebuild#ProjectSource"
        },
        "secondarySources": {
          "target": "com.amazonaws.codebuild#ProjectSources",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>ProjectSource</code> objects that define the sources for the batch\n            build.</p>"
          }
        },
        "secondarySourceVersions": {
          "target": "com.amazonaws.codebuild#ProjectSecondarySourceVersions",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>ProjectSourceVersion</code> objects. Each\n                <code>ProjectSourceVersion</code> must be one of: </p>\n         <ul>\n            <li>\n               <p>For CodeCommit: the commit ID, branch, or Git tag to use.</p>\n            </li>\n            <li>\n               <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that\n          corresponds to the version of the source code you want to build. If a pull\n          request ID is specified, it must use the format <code>pr/pull-request-ID</code>\n          (for example, <code>pr/25</code>). If a branch name is specified, the branch's\n          HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is\n          used.</p>\n            </li>\n            <li>\n               <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the\n          version of the source code you want to build. If a branch name is specified, the\n          branch's HEAD commit ID is used. If not specified, the default branch's HEAD\n          commit ID is used.</p>\n            </li>\n            <li>\n               <p>For Amazon S3: the version ID of the object that represents the build input ZIP\n          file to use.</p>\n            </li>\n         </ul>"
          }
        },
        "artifacts": {
          "target": "com.amazonaws.codebuild#BuildArtifacts",
          "traits": {
            "smithy.api#documentation": "<p>A <code>BuildArtifacts</code> object the defines the build artifacts for this batch build.</p>"
          }
        },
        "secondaryArtifacts": {
          "target": "com.amazonaws.codebuild#BuildArtifactsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>BuildArtifacts</code> objects the define the build artifacts\n            for this batch build.</p>"
          }
        },
        "cache": {
          "target": "com.amazonaws.codebuild#ProjectCache"
        },
        "environment": {
          "target": "com.amazonaws.codebuild#ProjectEnvironment"
        },
        "serviceRole": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of a service role used for builds in the batch.</p>"
          }
        },
        "logConfig": {
          "target": "com.amazonaws.codebuild#LogsConfig"
        },
        "buildTimeoutInMinutes": {
          "target": "com.amazonaws.codebuild#WrapperInt",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the maximum amount of time, in minutes, that the build in a batch must be\n            completed in.</p>"
          }
        },
        "queuedTimeoutInMinutes": {
          "target": "com.amazonaws.codebuild#WrapperInt",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the amount of time, in minutes, that the batch build is allowed to be queued\n            before it times out.</p>"
          }
        },
        "complete": {
          "target": "com.amazonaws.codebuild#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if the batch build is complete.</p>"
          }
        },
        "initiator": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>The entity that started the batch build. Valid values include:</p>\n        <ul>\n            <li>\n                <p>If CodePipeline started the build, the pipeline's name (for example,\n                        <code>codepipeline/my-demo-pipeline</code>).</p>\n            </li>\n            <li>\n                <p>If an IAM user started the build, the user's name.</p>\n            </li>\n            <li>\n                <p>If the Jenkins plugin for CodeBuild started the build, the string\n                        <code>CodeBuild-Jenkins-Plugin</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "vpcConfig": {
          "target": "com.amazonaws.codebuild#VpcConfig"
        },
        "encryptionKey": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Key Management Service customer master key (CMK) to be used for encrypting the batch build output\n            artifacts.</p>\n        <note>\n            <p>You can use a cross-account KMS key to encrypt the build output artifacts if your\n                service role has permission to that key. </p>\n        </note>\n        <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK's alias (using\n            the format <code>alias/<alias-name></code>).</p>"
          }
        },
        "buildBatchNumber": {
          "target": "com.amazonaws.codebuild#WrapperLong",
          "traits": {
            "smithy.api#documentation": "<p>The number of the batch build. For each project, the <code>buildBatchNumber</code> of its\n            first batch build is <code>1</code>. The <code>buildBatchNumber</code> of each subsequent\n            batch build is incremented by <code>1</code>. If a batch build is deleted, the\n                <code>buildBatchNumber</code> of other batch builds does not change.</p>"
          }
        },
        "fileSystemLocations": {
          "target": "com.amazonaws.codebuild#ProjectFileSystemLocations",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>ProjectFileSystemLocation</code> objects for the batch build\n            project. A <code>ProjectFileSystemLocation</code> object specifies the\n                <code>identifier</code>, <code>location</code>, <code>mountOptions</code>,\n                <code>mountPoint</code>, and <code>type</code> of a file system created using Amazon\n            Elastic File System. </p>"
          }
        },
        "buildBatchConfig": {
          "target": "com.amazonaws.codebuild#ProjectBuildBatchConfig"
        },
        "buildGroups": {
          "target": "com.amazonaws.codebuild#BuildGroups",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>BuildGroup</code> objects that define the build groups for the\n            batch build.</p>"
          }
        },
        "debugSessionEnabled": {
          "target": "com.amazonaws.codebuild#WrapperBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies if session debugging is enabled for this batch build. For more information, see\n  <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/session-manager.html\">Viewing a running build in Session Manager</a>. Batch session debugging is not supported for matrix batch builds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a batch build.</p>"
      }
    },
    "com.amazonaws.codebuild#BuildBatchFilter": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.codebuild#StatusType",
          "traits": {
            "smithy.api#documentation": "<p>The status of the batch builds to retrieve. Only batch builds that have this status will\n            be retrieved.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies filters when retrieving batch builds.</p>"
      }
    },
    "com.amazonaws.codebuild#BuildBatchIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#NonEmptyString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.codebuild#BuildBatchPhase": {
      "type": "structure",
      "members": {
        "phaseType": {
          "target": "com.amazonaws.codebuild#BuildBatchPhaseType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the batch build phase. Valid values include:</p>\n        <dl>\n            <dt>COMBINE_ARTIFACTS</dt>\n            <dd>\n                    <p>Build output artifacts are being combined and uploaded to the output\n                        location.</p>\n                </dd>\n            <dt>DOWNLOAD_BATCHSPEC</dt>\n            <dd>\n                    <p>The batch build specification is being downloaded.</p>\n                </dd>\n            <dt>FAILED</dt>\n            <dd>\n                    <p>One or more of the builds failed.</p>\n                </dd>\n            <dt>IN_PROGRESS</dt>\n            <dd>\n                    <p>The batch build is in progress.</p>\n                </dd>\n            <dt>STOPPED</dt>\n            <dd>\n                    <p>The batch build was stopped.</p>\n                </dd>\n            <dt>SUBMITTED</dt>\n            <dd>\n                    <p>The btach build has been submitted.</p>\n                </dd>\n            <dt>SUCCEEDED</dt>\n            <dd>\n                    <p>The batch build succeeded.</p>\n                </dd>\n         </dl>"
          }
        },
        "phaseStatus": {
          "target": "com.amazonaws.codebuild#StatusType",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the batch build phase. Valid values include:</p>\n        <dl>\n            <dt>FAILED</dt>\n            <dd>\n                    <p>The build phase failed.</p>\n                </dd>\n            <dt>FAULT</dt>\n            <dd>\n                    <p>The build phase faulted.</p>\n                </dd>\n            <dt>IN_PROGRESS</dt>\n            <dd>\n                    <p>The build phase is still in progress.</p>\n                </dd>\n            <dt>QUEUED</dt>\n            <dd>\n                    <p>The build has been submitted and is queued behind other submitted\n                        builds.</p>\n                </dd>\n            <dt>STOPPED</dt>\n            <dd>\n                    <p>The build phase stopped.</p>\n                </dd>\n            <dt>SUCCEEDED</dt>\n            <dd>\n                    <p>The build phase succeeded.</p>\n                </dd>\n            <dt>TIMED_OUT</dt>\n            <dd>\n                    <p>The build phase timed out.</p>\n                </dd>\n         </dl>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.codebuild#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the batch build phase started, expressed in Unix time format.</p>"
          }
        },
        "endTime": {
          "target": "com.amazonaws.codebuild#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the batch build phase ended, expressed in Unix time format.</p>"
          }
        },
        "durationInSeconds": {
          "target": "com.amazonaws.codebuild#WrapperLong",
          "traits": {
            "smithy.api#documentation": "<p>How long, in seconds, between the starting and ending times of the batch build's\n        phase.</p>"
          }
        },
        "contexts": {
          "target": "com.amazonaws.codebuild#PhaseContexts",
          "traits": {
            "smithy.api#documentation": "<p>Additional information about the batch build phase. Especially to help troubleshoot a\n            failed batch build.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a stage for a batch build.</p>"
      }
    },
    "com.amazonaws.codebuild#BuildBatchPhaseType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SUBMITTED",
            "name": "SUBMITTED"
          },
          {
            "value": "DOWNLOAD_BATCHSPEC",
            "name": "DOWNLOAD_BATCHSPEC"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "COMBINE_ARTIFACTS",
            "name": "COMBINE_ARTIFACTS"
          },
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "STOPPED",
            "name": "STOPPED"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#BuildBatchPhases": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#BuildBatchPhase"
      }
    },
    "com.amazonaws.codebuild#BuildBatches": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#BuildBatch"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.codebuild#BuildGroup": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>Contains the identifier of the build group.</p>"
          }
        },
        "dependsOn": {
          "target": "com.amazonaws.codebuild#Identifiers",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that contain the identifiers of the build groups that this build\n            group depends on.</p>"
          }
        },
        "ignoreFailure": {
          "target": "com.amazonaws.codebuild#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies if failures in this build group can be ignored.</p>"
          }
        },
        "currentBuildSummary": {
          "target": "com.amazonaws.codebuild#BuildSummary",
          "traits": {
            "smithy.api#documentation": "<p>A <code>BuildSummary</code> object that contains a summary of the current build\n            group.</p>"
          }
        },
        "priorBuildSummaryList": {
          "target": "com.amazonaws.codebuild#BuildSummaries",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>BuildSummary</code> objects that contain summaries of previous\n            build groups.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a batch build build group. Build groups are used to combine\n            builds that can run in parallel, while still being able to set dependencies on other\n            build groups.</p>"
      }
    },
    "com.amazonaws.codebuild#BuildGroups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#BuildGroup"
      }
    },
    "com.amazonaws.codebuild#BuildIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#NonEmptyString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.codebuild#BuildNotDeleted": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the build that could not be successfully deleted.</p>"
          }
        },
        "statusCode": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>Additional information about the build that could not be successfully deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a build that could not be successfully deleted.</p>"
      }
    },
    "com.amazonaws.codebuild#BuildPhase": {
      "type": "structure",
      "members": {
        "phaseType": {
          "target": "com.amazonaws.codebuild#BuildPhaseType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the build phase. Valid values include:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>BUILD</code>: Core build activities typically occur in this build\n                    phase.</p>\n            </li>\n            <li>\n                <p>\n                  <code>COMPLETED</code>: The build has been completed.</p>\n            </li>\n            <li>\n                <p>\n                  <code>DOWNLOAD_SOURCE</code>: Source code is being downloaded in this build\n                    phase.</p>\n            </li>\n            <li>\n                <p>\n                  <code>FINALIZING</code>: The build process is completing in this build\n                    phase.</p>\n            </li>\n            <li>\n                <p>\n                  <code>INSTALL</code>: Installation activities typically occur in this build\n                    phase.</p>\n            </li>\n            <li>\n                <p>\n                  <code>POST_BUILD</code>: Post-build activities typically occur in this build\n                    phase.</p>\n            </li>\n            <li>\n                <p>\n                  <code>PRE_BUILD</code>: Pre-build activities typically occur in this build\n                    phase.</p>\n            </li>\n            <li>\n                <p>\n                  <code>PROVISIONING</code>: The build environment is being set up.</p>\n            </li>\n            <li>\n                <p>\n                  <code>QUEUED</code>: The build has been submitted and is queued behind other\n                    submitted builds.</p>\n            </li>\n            <li>\n                <p>\n                  <code>SUBMITTED</code>: The build has been submitted.</p>\n            </li>\n            <li>\n                <p>\n                  <code>UPLOAD_ARTIFACTS</code>: Build output artifacts are being uploaded to\n                    the output location.</p>\n            </li>\n         </ul>"
          }
        },
        "phaseStatus": {
          "target": "com.amazonaws.codebuild#StatusType",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the build phase. Valid values include:</p>\n        <dl>\n            <dt>FAILED</dt>\n            <dd>\n                    <p>The build phase failed.</p>\n                </dd>\n            <dt>FAULT</dt>\n            <dd>\n                    <p>The build phase faulted.</p>\n                </dd>\n            <dt>IN_PROGRESS</dt>\n            <dd>\n                    <p>The build phase is still in progress.</p>\n                </dd>\n            <dt>QUEUED</dt>\n            <dd>\n                    <p>The build has been submitted and is queued behind other submitted\n                        builds.</p>\n                </dd>\n            <dt>STOPPED</dt>\n            <dd>\n                    <p>The build phase stopped.</p>\n                </dd>\n            <dt>SUCCEEDED</dt>\n            <dd>\n                    <p>The build phase succeeded.</p>\n                </dd>\n            <dt>TIMED_OUT</dt>\n            <dd>\n                    <p>The build phase timed out.</p>\n                </dd>\n         </dl>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.codebuild#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the build phase started, expressed in Unix time format.</p>"
          }
        },
        "endTime": {
          "target": "com.amazonaws.codebuild#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the build phase ended, expressed in Unix time format.</p>"
          }
        },
        "durationInSeconds": {
          "target": "com.amazonaws.codebuild#WrapperLong",
          "traits": {
            "smithy.api#documentation": "<p>How long, in seconds, between the starting and ending times of the build's\n            phase.</p>"
          }
        },
        "contexts": {
          "target": "com.amazonaws.codebuild#PhaseContexts",
          "traits": {
            "smithy.api#documentation": "<p>Additional information about a build phase, especially to help troubleshoot a failed\n            build.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a stage for a build.</p>"
      }
    },
    "com.amazonaws.codebuild#BuildPhaseType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SUBMITTED",
            "name": "SUBMITTED"
          },
          {
            "value": "QUEUED",
            "name": "QUEUED"
          },
          {
            "value": "PROVISIONING",
            "name": "PROVISIONING"
          },
          {
            "value": "DOWNLOAD_SOURCE",
            "name": "DOWNLOAD_SOURCE"
          },
          {
            "value": "INSTALL",
            "name": "INSTALL"
          },
          {
            "value": "PRE_BUILD",
            "name": "PRE_BUILD"
          },
          {
            "value": "BUILD",
            "name": "BUILD"
          },
          {
            "value": "POST_BUILD",
            "name": "POST_BUILD"
          },
          {
            "value": "UPLOAD_ARTIFACTS",
            "name": "UPLOAD_ARTIFACTS"
          },
          {
            "value": "FINALIZING",
            "name": "FINALIZING"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#BuildPhases": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#BuildPhase"
      }
    },
    "com.amazonaws.codebuild#BuildReportArns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#String"
      }
    },
    "com.amazonaws.codebuild#BuildStatusConfig": {
      "type": "structure",
      "members": {
        "context": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the context of the build status CodeBuild sends to the source provider. The\n            usage of this parameter depends on the source provider.</p>\n        <dl>\n            <dt>Bitbucket</dt>\n            <dd>\n                    <p>This parameter is used for the <code>name</code> parameter in the\n                        Bitbucket commit status. For more information, see <a href=\"https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Bworkspace%7D/%7Brepo_slug%7D/commit/%7Bnode%7D/statuses/build\">build</a> in the Bitbucket API documentation.</p>\n                </dd>\n            <dt>GitHub/GitHub Enterprise Server</dt>\n            <dd>\n                    <p>This parameter is used for the <code>context</code> parameter in the\n                        GitHub commit status. For more information, see <a href=\"https://developer.github.com/v3/repos/statuses/#create-a-commit-status\">Create a commit status</a> in the GitHub developer guide.</p>\n                </dd>\n         </dl>"
          }
        },
        "targetUrl": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the target url of the build status CodeBuild sends to the source provider. The\n            usage of this parameter depends on the source provider.</p>\n        <dl>\n            <dt>Bitbucket</dt>\n            <dd>\n                    <p>This parameter is used for the <code>url</code> parameter in the Bitbucket\n                        commit status. For more information, see <a href=\"https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Bworkspace%7D/%7Brepo_slug%7D/commit/%7Bnode%7D/statuses/build\">build</a> in the Bitbucket API documentation.</p>\n                </dd>\n            <dt>GitHub/GitHub Enterprise Server</dt>\n            <dd>\n                    <p>This parameter is used for the <code>target_url</code> parameter in the\n                        GitHub commit status. For more information, see <a href=\"https://developer.github.com/v3/repos/statuses/#create-a-commit-status\">Create a commit status</a> in the GitHub developer guide.</p>\n                </dd>\n         </dl>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information that defines how the CodeBuild build project reports the build status\n            to the source provider. </p>"
      }
    },
    "com.amazonaws.codebuild#BuildSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#BuildSummary"
      }
    },
    "com.amazonaws.codebuild#BuildSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>The batch build ARN.</p>"
          }
        },
        "requestedOn": {
          "target": "com.amazonaws.codebuild#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the build was started, expressed in Unix time format.</p>"
          }
        },
        "buildStatus": {
          "target": "com.amazonaws.codebuild#StatusType",
          "traits": {
            "smithy.api#documentation": "<p>The status of the build group.</p>\n        <dl>\n            <dt>FAILED</dt>\n            <dd>\n                    <p>The build group failed.</p>\n                </dd>\n            <dt>FAULT</dt>\n            <dd>\n                    <p>The build group faulted.</p>\n                </dd>\n            <dt>IN_PROGRESS</dt>\n            <dd>\n                    <p>The build group is still in progress.</p>\n                </dd>\n            <dt>STOPPED</dt>\n            <dd>\n                    <p>The build group stopped.</p>\n                </dd>\n            <dt>SUCCEEDED</dt>\n            <dd>\n                    <p>The build group succeeded.</p>\n                </dd>\n            <dt>TIMED_OUT</dt>\n            <dd>\n                    <p>The build group timed out.</p>\n                </dd>\n         </dl>"
          }
        },
        "primaryArtifact": {
          "target": "com.amazonaws.codebuild#ResolvedArtifact",
          "traits": {
            "smithy.api#documentation": "<p>A <code>ResolvedArtifact</code> object that represents the primary build artifacts for the\n            build group.</p>"
          }
        },
        "secondaryArtifacts": {
          "target": "com.amazonaws.codebuild#ResolvedSecondaryArtifacts",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>ResolvedArtifact</code> objects that represents the secondary build\n            artifacts for the build group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about a batch build group.</p>"
      }
    },
    "com.amazonaws.codebuild#Builds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#Build"
      }
    },
    "com.amazonaws.codebuild#BuildsNotDeleted": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#BuildNotDeleted"
      }
    },
    "com.amazonaws.codebuild#CacheMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LOCAL_DOCKER_LAYER_CACHE",
            "name": "LOCAL_DOCKER_LAYER_CACHE"
          },
          {
            "value": "LOCAL_SOURCE_CACHE",
            "name": "LOCAL_SOURCE_CACHE"
          },
          {
            "value": "LOCAL_CUSTOM_CACHE",
            "name": "LOCAL_CUSTOM_CACHE"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#CacheType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NO_CACHE",
            "name": "NO_CACHE"
          },
          {
            "value": "S3",
            "name": "S3"
          },
          {
            "value": "LOCAL",
            "name": "LOCAL"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#CloudWatchLogsConfig": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.codebuild#LogsConfigStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the logs in CloudWatch Logs for a build project. Valid values are:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>ENABLED</code>: CloudWatch Logs are enabled for this build project.</p>\n            </li>\n            <li>\n                <p>\n                  <code>DISABLED</code>: CloudWatch Logs are not enabled for this build project.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "groupName": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p> The group name of the logs in CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html\">Working\n                with Log Groups and Log Streams</a>. </p>"
          }
        },
        "streamName": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p> The prefix of the stream name of the CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html\">Working\n                with Log Groups and Log Streams</a>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about CloudWatch Logs for a build project. </p>"
      }
    },
    "com.amazonaws.codebuild#CodeBuild_20161006": {
      "type": "service",
      "version": "2016-10-06",
      "operations": [
        {
          "target": "com.amazonaws.codebuild#BatchDeleteBuilds"
        },
        {
          "target": "com.amazonaws.codebuild#BatchGetBuildBatches"
        },
        {
          "target": "com.amazonaws.codebuild#BatchGetBuilds"
        },
        {
          "target": "com.amazonaws.codebuild#BatchGetProjects"
        },
        {
          "target": "com.amazonaws.codebuild#BatchGetReportGroups"
        },
        {
          "target": "com.amazonaws.codebuild#BatchGetReports"
        },
        {
          "target": "com.amazonaws.codebuild#CreateProject"
        },
        {
          "target": "com.amazonaws.codebuild#CreateReportGroup"
        },
        {
          "target": "com.amazonaws.codebuild#CreateWebhook"
        },
        {
          "target": "com.amazonaws.codebuild#DeleteBuildBatch"
        },
        {
          "target": "com.amazonaws.codebuild#DeleteProject"
        },
        {
          "target": "com.amazonaws.codebuild#DeleteReport"
        },
        {
          "target": "com.amazonaws.codebuild#DeleteReportGroup"
        },
        {
          "target": "com.amazonaws.codebuild#DeleteResourcePolicy"
        },
        {
          "target": "com.amazonaws.codebuild#DeleteSourceCredentials"
        },
        {
          "target": "com.amazonaws.codebuild#DeleteWebhook"
        },
        {
          "target": "com.amazonaws.codebuild#DescribeCodeCoverages"
        },
        {
          "target": "com.amazonaws.codebuild#DescribeTestCases"
        },
        {
          "target": "com.amazonaws.codebuild#GetReportGroupTrend"
        },
        {
          "target": "com.amazonaws.codebuild#GetResourcePolicy"
        },
        {
          "target": "com.amazonaws.codebuild#ImportSourceCredentials"
        },
        {
          "target": "com.amazonaws.codebuild#InvalidateProjectCache"
        },
        {
          "target": "com.amazonaws.codebuild#ListBuildBatches"
        },
        {
          "target": "com.amazonaws.codebuild#ListBuildBatchesForProject"
        },
        {
          "target": "com.amazonaws.codebuild#ListBuilds"
        },
        {
          "target": "com.amazonaws.codebuild#ListBuildsForProject"
        },
        {
          "target": "com.amazonaws.codebuild#ListCuratedEnvironmentImages"
        },
        {
          "target": "com.amazonaws.codebuild#ListProjects"
        },
        {
          "target": "com.amazonaws.codebuild#ListReportGroups"
        },
        {
          "target": "com.amazonaws.codebuild#ListReports"
        },
        {
          "target": "com.amazonaws.codebuild#ListReportsForReportGroup"
        },
        {
          "target": "com.amazonaws.codebuild#ListSharedProjects"
        },
        {
          "target": "com.amazonaws.codebuild#ListSharedReportGroups"
        },
        {
          "target": "com.amazonaws.codebuild#ListSourceCredentials"
        },
        {
          "target": "com.amazonaws.codebuild#PutResourcePolicy"
        },
        {
          "target": "com.amazonaws.codebuild#RetryBuild"
        },
        {
          "target": "com.amazonaws.codebuild#RetryBuildBatch"
        },
        {
          "target": "com.amazonaws.codebuild#StartBuild"
        },
        {
          "target": "com.amazonaws.codebuild#StartBuildBatch"
        },
        {
          "target": "com.amazonaws.codebuild#StopBuild"
        },
        {
          "target": "com.amazonaws.codebuild#StopBuildBatch"
        },
        {
          "target": "com.amazonaws.codebuild#UpdateProject"
        },
        {
          "target": "com.amazonaws.codebuild#UpdateProjectVisibility"
        },
        {
          "target": "com.amazonaws.codebuild#UpdateReportGroup"
        },
        {
          "target": "com.amazonaws.codebuild#UpdateWebhook"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CodeBuild",
          "arnNamespace": "codebuild",
          "cloudFormationName": "CodeBuild",
          "cloudTrailEventSource": "codebuild.amazonaws.com",
          "endpointPrefix": "codebuild"
        },
        "aws.auth#sigv4": {
          "name": "codebuild"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>CodeBuild</fullname>\n        <p>CodeBuild is a fully managed build service in the cloud. CodeBuild compiles your source code,\n            runs unit tests, and produces artifacts that are ready to deploy. CodeBuild eliminates the\n            need to provision, manage, and scale your own build servers. It provides prepackaged\n            build environments for the most popular programming languages and build tools, such as\n            Apache Maven, Gradle, and more. You can also fully customize build environments in CodeBuild\n            to use your own build tools. CodeBuild scales automatically to meet peak build requests. You\n            pay only for the build time you consume. For more information about CodeBuild, see the <i>\n                <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/welcome.html\">CodeBuild User\n                    Guide</a>.</i>\n         </p>",
        "smithy.api#title": "AWS CodeBuild"
      }
    },
    "com.amazonaws.codebuild#CodeCoverage": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the code coverage report.</p>"
          }
        },
        "reportARN": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the report.</p>"
          }
        },
        "filePath": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The path of the test report file.</p>"
          }
        },
        "lineCoveragePercentage": {
          "target": "com.amazonaws.codebuild#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of lines that are covered by your tests.</p>"
          }
        },
        "linesCovered": {
          "target": "com.amazonaws.codebuild#NonNegativeInt",
          "traits": {
            "smithy.api#documentation": "<p>The number of lines that are covered by your tests.</p>"
          }
        },
        "linesMissed": {
          "target": "com.amazonaws.codebuild#NonNegativeInt",
          "traits": {
            "smithy.api#documentation": "<p>The number of lines that are not covered by your tests.</p>"
          }
        },
        "branchCoveragePercentage": {
          "target": "com.amazonaws.codebuild#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of branches that are covered by your tests.</p>"
          }
        },
        "branchesCovered": {
          "target": "com.amazonaws.codebuild#NonNegativeInt",
          "traits": {
            "smithy.api#documentation": "<p>The number of conditional branches that are covered by your tests.</p>"
          }
        },
        "branchesMissed": {
          "target": "com.amazonaws.codebuild#NonNegativeInt",
          "traits": {
            "smithy.api#documentation": "<p>The number of conditional branches that are not covered by your tests.</p>"
          }
        },
        "expired": {
          "target": "com.amazonaws.codebuild#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the tests were run.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains code coverage report information.</p>\n        <p>Line coverage measures how many statements your tests cover. A statement is a single\n      instruction, not including comments, conditionals, etc.</p>\n        <p>Branch coverage determines if your tests cover every possible branch of a control\n    structure, such as an <code>if</code> or <code>case</code> statement.</p>"
      }
    },
    "com.amazonaws.codebuild#CodeCoverageReportSummary": {
      "type": "structure",
      "members": {
        "lineCoveragePercentage": {
          "target": "com.amazonaws.codebuild#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of lines that are covered by your tests.</p>"
          }
        },
        "linesCovered": {
          "target": "com.amazonaws.codebuild#NonNegativeInt",
          "traits": {
            "smithy.api#documentation": "<p>The number of lines that are covered by your tests.</p>"
          }
        },
        "linesMissed": {
          "target": "com.amazonaws.codebuild#NonNegativeInt",
          "traits": {
            "smithy.api#documentation": "<p>The number of lines that are not covered by your tests.</p>"
          }
        },
        "branchCoveragePercentage": {
          "target": "com.amazonaws.codebuild#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of branches that are covered by your tests.</p>"
          }
        },
        "branchesCovered": {
          "target": "com.amazonaws.codebuild#NonNegativeInt",
          "traits": {
            "smithy.api#documentation": "<p>The number of conditional branches that are covered by your tests.</p>"
          }
        },
        "branchesMissed": {
          "target": "com.amazonaws.codebuild#NonNegativeInt",
          "traits": {
            "smithy.api#documentation": "<p>The number of conditional branches that are not covered by your tests.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of a code coverage report.</p>\n        <p>Line coverage measures how many statements your tests cover. A statement is a single\n      instruction, not including comments, conditionals, etc.</p>\n        <p>Branch coverage determines if your tests cover every possible branch of a control\n    structure, such as an <code>if</code> or <code>case</code> statement.</p>"
      }
    },
    "com.amazonaws.codebuild#CodeCoverages": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#CodeCoverage"
      }
    },
    "com.amazonaws.codebuild#ComputeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BUILD_GENERAL1_SMALL",
            "name": "BUILD_GENERAL1_SMALL"
          },
          {
            "value": "BUILD_GENERAL1_MEDIUM",
            "name": "BUILD_GENERAL1_MEDIUM"
          },
          {
            "value": "BUILD_GENERAL1_LARGE",
            "name": "BUILD_GENERAL1_LARGE"
          },
          {
            "value": "BUILD_GENERAL1_2XLARGE",
            "name": "BUILD_GENERAL1_2XLARGE"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#ComputeTypesAllowed": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codebuild#NonEmptyString"
      }
    },
    "com.amazonaws.codebuild#CreateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#CreateProjectInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#CreateProjectOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#AccountLimitExceededException"
        },
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        },
        {
          "target": "com.amazonaws.codebuild#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a build project.</p>"
      }
    },
    "com.amazonaws.codebuild#CreateProjectInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codebuild#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the build project.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.codebuild#ProjectDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description that makes the build project easy to identify.</p>"
          }
        },
        "source": {
          "target": "com.amazonaws.codebuild#ProjectSource",
          "traits": {
            "smithy.api#documentation": "<p>Information about the build input source code for the build project.</p>",
            "smithy.api#required": {}
          }
        },
        "secondarySources": {
          "target": "com.amazonaws.codebuild#ProjectSources",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>ProjectSource</code> objects. </p>"
          }
        },
        "sourceVersion": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>A version of the build input to be built for this project. If not specified, the latest\n            version is used. If specified, it must be one of: </p>\n         <ul>\n            <li>\n               <p>For CodeCommit: the commit ID, branch, or Git tag to use.</p>\n            </li>\n            <li>\n               <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that\n          corresponds to the version of the source code you want to build. If a pull\n          request ID is specified, it must use the format <code>pr/pull-request-ID</code>\n          (for example <code>pr/25</code>). If a branch name is specified, the branch's\n          HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is\n          used.</p>\n            </li>\n            <li>\n               <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the\n          version of the source code you want to build. If a branch name is specified, the\n          branch's HEAD commit ID is used. If not specified, the default branch's HEAD\n          commit ID is used.</p>\n            </li>\n            <li>\n               <p>For Amazon S3: the version ID of the object that represents the build input ZIP\n          file to use.</p>\n            </li>\n         </ul>\n         <p>If <code>sourceVersion</code> is specified at the build level, then that version takes\n            precedence over this <code>sourceVersion</code> (at the project level). </p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/sample-source-version.html\">Source Version Sample\n                with CodeBuild</a> in the <i>CodeBuild User Guide</i>. \n    </p>"
          }
        },
        "secondarySourceVersions": {
          "target": "com.amazonaws.codebuild#ProjectSecondarySourceVersions",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>ProjectSourceVersion</code> objects. If\n      <code>secondarySourceVersions</code> is specified at the build level, then they take\n      precedence over these <code>secondarySourceVersions</code> (at the project level).\n    </p>"
          }
        },
        "artifacts": {
          "target": "com.amazonaws.codebuild#ProjectArtifacts",
          "traits": {
            "smithy.api#documentation": "<p>Information about the build output artifacts for the build project.</p>",
            "smithy.api#required": {}
          }
        },
        "secondaryArtifacts": {
          "target": "com.amazonaws.codebuild#ProjectArtifactsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>ProjectArtifacts</code> objects. </p>"
          }
        },
        "cache": {
          "target": "com.amazonaws.codebuild#ProjectCache",
          "traits": {
            "smithy.api#documentation": "<p>Stores recently used information so that it can be quickly accessed at a later\n        time.</p>"
          }
        },
        "environment": {
          "target": "com.amazonaws.codebuild#ProjectEnvironment",
          "traits": {
            "smithy.api#documentation": "<p>Information about the build environment for the build project.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceRole": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that enables CodeBuild to interact with dependent Amazon Web Services services\n      on behalf of the Amazon Web Services account.</p>",
            "smithy.api#required": {}
          }
        },
        "timeoutInMinutes": {
          "target": "com.amazonaws.codebuild#TimeOut",
          "traits": {
            "smithy.api#documentation": "<p>How long, in minutes, from 5 to 480 (8 hours), for CodeBuild to wait before it times out\n      any build that has not been marked as completed. The default is 60 minutes.</p>"
          }
        },
        "queuedTimeoutInMinutes": {
          "target": "com.amazonaws.codebuild#TimeOut",
          "traits": {
            "smithy.api#documentation": "<p>The number of minutes a build is allowed to be queued before it times out. </p>"
          }
        },
        "encryptionKey": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Key Management Service customer master key (CMK) to be used for encrypting the build output\n      artifacts.</p>\n         <note>\n            <p>You can use a cross-account KMS key to encrypt the build output artifacts if your\n        service role has permission to that key. </p>\n         </note>\n         <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK's alias (using\n        the format <code>alias/<alias-name></code>).\n    </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.codebuild#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tag key and value pairs associated with this build project.</p>\n         <p>These tags are available for use by Amazon Web Services services that support CodeBuild build project\n      tags.</p>"
          }
        },
        "vpcConfig": {
          "target": "com.amazonaws.codebuild#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>VpcConfig enables CodeBuild to access resources in an Amazon VPC.</p>"
          }
        },
        "badgeEnabled": {
          "target": "com.amazonaws.codebuild#WrapperBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Set this to true to generate a publicly accessible URL for your project's build\n        badge.</p>"
          }
        },
        "logsConfig": {
          "target": "com.amazonaws.codebuild#LogsConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about logs for the build project. These can be logs in CloudWatch Logs, logs\n      uploaded to a specified S3 bucket, or both. </p>"
          }
        },
        "fileSystemLocations": {
          "target": "com.amazonaws.codebuild#ProjectFileSystemLocations",
          "traits": {
            "smithy.api#documentation": "<p>\n      An array of <code>ProjectFileSystemLocation</code> objects for a CodeBuild build project. A <code>ProjectFileSystemLocation</code> object \n      specifies the <code>identifier</code>, <code>location</code>, <code>mountOptions</code>, \n      <code>mountPoint</code>, and <code>type</code> of a file system created using Amazon Elastic File System.\n  </p>"
          }
        },
        "buildBatchConfig": {
          "target": "com.amazonaws.codebuild#ProjectBuildBatchConfig",
          "traits": {
            "smithy.api#documentation": "<p>A <a>ProjectBuildBatchConfig</a>\n object that defines the batch build options\n            for the project.</p>"
          }
        },
        "concurrentBuildLimit": {
          "target": "com.amazonaws.codebuild#WrapperInt",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of concurrent builds that are allowed for this project.</p>\n         <p>New builds are only started if the current number of builds is less than or equal to this limit. \n  If the current build count meets this limit, new builds are throttled and are not run.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#CreateProjectOutput": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.amazonaws.codebuild#Project",
          "traits": {
            "smithy.api#documentation": "<p>Information about the build project that was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#CreateReportGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#CreateReportGroupInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#CreateReportGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#AccountLimitExceededException"
        },
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        },
        {
          "target": "com.amazonaws.codebuild#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Creates a report group. A report group contains a collection of reports.\n    </p>"
      }
    },
    "com.amazonaws.codebuild#CreateReportGroupInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codebuild#ReportGroupName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The name of the report group.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.codebuild#ReportType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The type of report group.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "exportConfig": {
          "target": "com.amazonaws.codebuild#ReportExportConfig",
          "traits": {
            "smithy.api#documentation": "<p>\n      A <code>ReportExportConfig</code> object that contains information about where the report group test results are exported.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.codebuild#TagList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of tag key and value pairs associated with this report group.\n    </p>\n         <p>These tags are available for use by Amazon Web Services services that support CodeBuild report group\n      tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#CreateReportGroupOutput": {
      "type": "structure",
      "members": {
        "reportGroup": {
          "target": "com.amazonaws.codebuild#ReportGroup",
          "traits": {
            "smithy.api#documentation": "<p>\n      Information about the report group that was created.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#CreateWebhook": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#CreateWebhookInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#CreateWebhookOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        },
        {
          "target": "com.amazonaws.codebuild#OAuthProviderException"
        },
        {
          "target": "com.amazonaws.codebuild#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.codebuild#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>For an existing CodeBuild build project that has its source code stored in a GitHub or\n      Bitbucket repository, enables CodeBuild to start rebuilding the source code every time a\n      code change is pushed to the repository.</p>\n         <important>\n            <p>If you enable webhooks for an CodeBuild project, and the project is used as a build\n        step in CodePipeline, then two identical builds are created for each commit. One build is\n        triggered through webhooks, and one through CodePipeline. Because billing is on a per-build\n        basis, you are billed for both builds. Therefore, if you are using CodePipeline, we\n        recommend that you disable webhooks in CodeBuild. In the CodeBuild console, clear the\n        Webhook box. For more information, see step 5 in <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/change-project.html#change-project-console\">Change a Build Project's Settings</a>.</p>\n         </important>"
      }
    },
    "com.amazonaws.codebuild#CreateWebhookInput": {
      "type": "structure",
      "members": {
        "projectName": {
          "target": "com.amazonaws.codebuild#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CodeBuild project.</p>",
            "smithy.api#required": {}
          }
        },
        "branchFilter": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>A regular expression used to determine which repository branches are built when a\n      webhook is triggered. If the name of a branch matches the regular expression, then it is\n      built. If <code>branchFilter</code> is empty, then all branches are built.</p>\n         <note>\n            <p>It is recommended that you use <code>filterGroups</code> instead of\n        <code>branchFilter</code>. </p>\n         </note>"
          }
        },
        "filterGroups": {
          "target": "com.amazonaws.codebuild#FilterGroups",
          "traits": {
            "smithy.api#documentation": "<p>An array of arrays of <code>WebhookFilter</code> objects used to determine which\n      webhooks are triggered. At least one <code>WebhookFilter</code> in the array must\n      specify <code>EVENT</code> as its <code>type</code>. </p>\n         <p>For a build to be triggered, at least one filter group in the\n      <code>filterGroups</code> array must pass. For a filter group to pass, each of its\n      filters must pass. </p>"
          }
        },
        "buildType": {
          "target": "com.amazonaws.codebuild#WebhookBuildType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of build this webhook will trigger.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#CreateWebhookOutput": {
      "type": "structure",
      "members": {
        "webhook": {
          "target": "com.amazonaws.codebuild#Webhook",
          "traits": {
            "smithy.api#documentation": "<p>Information about a webhook that connects repository events to a build project in\n      CodeBuild.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#CredentialProviderType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SECRETS_MANAGER",
            "name": "SECRETS_MANAGER"
          }
        ]
      }
    },
    "com.amazonaws.codebuild#DebugSession": {
      "type": "structure",
      "members": {
        "sessionEnabled": {
          "target": "com.amazonaws.codebuild#WrapperBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies if session debugging is enabled for this build.</p>"
          }
        },
        "sessionTarget": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Contains the identifier of the Session Manager session used for the build. To work with\n            the paused build, you open this session to examine, control, and resume the\n            build.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the debug session for a build. For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/session-manager.html\">Viewing a\n                running build in Session Manager</a>.</p>"
      }
    },
    "com.amazonaws.codebuild#DeleteBuildBatch": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#DeleteBuildBatchInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#DeleteBuildBatchOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a batch build.</p>"
      }
    },
    "com.amazonaws.codebuild#DeleteBuildBatchInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the batch build to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#DeleteBuildBatchOutput": {
      "type": "structure",
      "members": {
        "statusCode": {
          "target": "com.amazonaws.codebuild#String",
          "traits": {
            "smithy.api#documentation": "<p>The status code.</p>"
          }
        },
        "buildsDeleted": {
          "target": "com.amazonaws.codebuild#BuildIds",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that contain the identifiers of the builds that were deleted.</p>"
          }
        },
        "buildsNotDeleted": {
          "target": "com.amazonaws.codebuild#BuildsNotDeleted",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>BuildNotDeleted</code> objects that specify the builds that could not be\n            deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#DeleteProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#DeleteProjectInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#DeleteProjectOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes a build project. When you delete a project, its builds are not deleted.\n        </p>"
      }
    },
    "com.amazonaws.codebuild#DeleteProjectInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the build project.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#DeleteProjectOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.codebuild#DeleteReport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#DeleteReportInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#DeleteReportOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Deletes a report.\n    </p>"
      }
    },
    "com.amazonaws.codebuild#DeleteReportGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#DeleteReportGroupInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#DeleteReportGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a report group. Before you delete a report group, you must delete its reports. </p>"
      }
    },
    "com.amazonaws.codebuild#DeleteReportGroupInput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the report group to delete. </p>",
            "smithy.api#required": {}
          }
        },
        "deleteReports": {
          "target": "com.amazonaws.codebuild#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>If <code>true</code>, deletes any reports that belong to a report group before deleting\n            the report group. </p>\n         <p>If <code>false</code>, you must delete any reports in the report group. Use <a href=\"https://docs.aws.amazon.com/codebuild/latest/APIReference/API_ListReportsForReportGroup.html\">ListReportsForReportGroup</a> to get the reports in a report group. Use <a href=\"https://docs.aws.amazon.com/codebuild/latest/APIReference/API_DeleteReport.html\">DeleteReport</a> to delete the reports. If you call\n      <code>DeleteReportGroup</code> for a report group that contains one or more reports,\n            an exception is thrown. </p>"
          }
        }
      }
    },
    "com.amazonaws.codebuild#DeleteReportGroupOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.codebuild#DeleteReportInput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ARN of the report to delete.\n    </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#DeleteReportOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.codebuild#DeleteResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codebuild#DeleteResourcePolicyInput"
      },
      "output": {
        "target": "com.amazonaws.codebuild#DeleteResourcePolicyOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.codebuild#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes a resource policy that is identified by its resource ARN. </p>"
      }
    },
    "com.amazonaws.codebuild#DeleteResourcePolicyInput": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.codebuild#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of the resource that is associated with the resource policy. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.codebuild#DeleteResourcePolicyOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.codebuild#DeleteSourceCredentials": {
[...]
