{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.codeguruprofiler#ActionGroup": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "agentPermissions",
            "name": "AGENT_PERMISSIONS",
            "documentation": "Permission group type for Agent APIs - ConfigureAgent, PostAgentProfile"
          }
        ]
      }
    },
    "com.amazonaws.codeguruprofiler#AddNotificationChannels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeguruprofiler#AddNotificationChannelsRequest"
      },
      "output": {
        "target": "com.amazonaws.codeguruprofiler#AddNotificationChannelsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeguruprofiler#ConflictException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Add up to 2 anomaly notifications channels for a profiling group.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/profilingGroups/{profilingGroupName}/notificationConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.codeguruprofiler#AddNotificationChannelsRequest": {
      "type": "structure",
      "members": {
        "profilingGroupName": {
          "target": "com.amazonaws.codeguruprofiler#ProfilingGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profiling group that we are setting up notifications for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "channels": {
          "target": "com.amazonaws.codeguruprofiler#Channels",
          "traits": {
            "smithy.api#documentation": "<p>One or 2 channels to report to when anomalies are detected.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the AddNotificationChannelsRequest.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#AddNotificationChannelsResponse": {
      "type": "structure",
      "members": {
        "notificationConfiguration": {
          "target": "com.amazonaws.codeguruprofiler#NotificationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The new notification configuration for this profiling group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the AddNotificationChannelsResponse.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#AgentConfiguration": {
      "type": "structure",
      "members": {
        "shouldProfile": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\n         A <code>Boolean</code> that specifies whether the profiling agent collects profiling data or not. Set to <code>true</code>\n        to enable profiling.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "periodInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n         How long a profiling agent should send profiling data using \n         <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ConfigureAgent.html\">\n               <code>ConfigureAgent</code>\n            </a>. \n         For example, if this is set to 300, the profiling agent calls <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ConfigureAgent.html\">\n               <code>ConfigureAgent</code>\n            </a> \n         every 5 minutes to submit the profiled data collected during that period. \n      </p>",
            "smithy.api#required": {}
          }
        },
        "agentParameters": {
          "target": "com.amazonaws.codeguruprofiler#AgentParameters",
          "traits": {
            "smithy.api#documentation": "<p>\n         Parameters used by the profiler. The valid parameters are: \n      </p> \n         <ul>\n            <li>\n               <p>\n                  <code>MaxStackDepth</code> - The maximum depth of the stacks in the code that is represented in \n               the profile. For example, if CodeGuru Profiler finds a method <code>A</code>, \n               which calls method <code>B</code>, which calls method <code>C</code>, which \n               calls method <code>D</code>, then the depth is 4. If the <code>maxDepth</code> is \n               set to 2, then the profiler evaluates <code>A</code> and <code>B</code>.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>MemoryUsageLimitPercent</code> - The percentage of memory that is used by the\n               profiler.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MinimumTimeForReportingInMilliseconds</code> - The minimum time in milliseconds between \n               sending reports.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>ReportingIntervalInMilliseconds</code> - The reporting interval in milliseconds used \n               to report profiles.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>SamplingIntervalInMilliseconds</code> - The sampling interval in milliseconds that is used to \n               profile samples.\n            </p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         The response of <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ConfigureAgent.html\">\n               <code>ConfigureAgent</code>\n            </a> that \n         specifies if an agent profiles or not and for how long to return profiling data.\n      </p>"
      }
    },
    "com.amazonaws.codeguruprofiler#AgentOrchestrationConfig": {
      "type": "structure",
      "members": {
        "profilingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\n         A <code>Boolean</code> that specifies whether the profiling agent collects profiling data or not. Set to <code>true</code>\n         to enable profiling.\n      </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Specifies whether profiling is enabled or disabled for a profiling group. It \n         is used by <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ConfigureAgent.html\">\n               <code>ConfigureAgent</code>\n            </a> \n         to enable or disable profiling for a profiling group.\n      </p>"
      }
    },
    "com.amazonaws.codeguruprofiler#AgentParameterField": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SamplingIntervalInMilliseconds",
            "name": "SAMPLING_INTERVAL_IN_MILLISECONDS",
            "documentation": "Sampling interval in milliseconds used to sample profiles."
          },
          {
            "value": "ReportingIntervalInMilliseconds",
            "name": "REPORTING_INTERVAL_IN_MILLISECONDS",
            "documentation": "Reporting interval in milliseconds used to report profiles."
          },
          {
            "value": "MinimumTimeForReportingInMilliseconds",
            "name": "MINIMUM_TIME_FOR_REPORTING_IN_MILLISECONDS",
            "documentation": "Minimum time in milliseconds between sending reports."
          },
          {
            "value": "MemoryUsageLimitPercent",
            "name": "MEMORY_USAGE_LIMIT_PERCENT",
            "documentation": "Percentage of memory to be used by CodeGuru profiler. Minimum of 30MB is required for the agent."
          },
          {
            "value": "MaxStackDepth",
            "name": "MAX_STACK_DEPTH",
            "documentation": "Maximum stack depth to be captured by the CodeGuru Profiler."
          }
        ]
      }
    },
    "com.amazonaws.codeguruprofiler#AgentParameters": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.codeguruprofiler#AgentParameterField"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.codeguruprofiler#AgentProfile": {
      "type": "blob"
    },
    "com.amazonaws.codeguruprofiler#AggregatedProfile": {
      "type": "blob"
    },
    "com.amazonaws.codeguruprofiler#AggregatedProfileTime": {
      "type": "structure",
      "members": {
        "start": {
          "target": "com.amazonaws.codeguruprofiler#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n         The time that aggregation of posted agent profiles for a profiling group starts. The aggregation profile \n         contains profiles posted by the agent starting at this time for an aggregation period  \n         specified by the <code>period</code> property of the <code>AggregatedProfileTime</code> \n         object.\n      </p>\n         <p>\n         Specify <code>start</code> using the ISO 8601 format. For example, \n         2020-06-01T13:15:02.001Z  represents 1 millisecond past June 1, 2020 1:15:02 PM UTC.\n      </p>"
          }
        },
        "period": {
          "target": "com.amazonaws.codeguruprofiler#AggregationPeriod",
          "traits": {
            "smithy.api#documentation": "<p>\n         The aggregation period. This indicates the period during which an aggregation profile \n         collects posted agent profiles for a profiling group. Use one of three valid \n         durations that are specified using the ISO 8601 format.\n      </p>\n         <ul>\n            <li>\n               <p>\n                  <code>P1D</code> — 1 day\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>PT1H</code> — 1 hour\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>PT5M</code> — 5 minutes\n            </p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Specifies the aggregation period and aggregation start time for \n         an aggregated profile. An aggregated profile is used to collect posted agent profiles \n         during an aggregation period. There are three possible aggregation periods (1 day, \n         1 hour, or 5 minutes).\n      </p>"
      }
    },
    "com.amazonaws.codeguruprofiler#AggregationPeriod": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PT5M",
            "name": "PT5M",
            "documentation": "Period of five minutes."
          },
          {
            "value": "PT1H",
            "name": "PT1H",
            "documentation": "Period of one hour."
          },
          {
            "value": "P1D",
            "name": "P1D",
            "documentation": "Period of one day."
          }
        ]
      }
    },
    "com.amazonaws.codeguruprofiler#Anomalies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codeguruprofiler#Anomaly"
      }
    },
    "com.amazonaws.codeguruprofiler#Anomaly": {
      "type": "structure",
      "members": {
        "metric": {
          "target": "com.amazonaws.codeguruprofiler#Metric",
          "traits": {
            "smithy.api#documentation": "<p>\n            Details about the metric that the analysis used when it detected the anomaly. \n            The metric includes the name of the frame that was analyzed with the type and \n            thread states used to derive the metric value for that frame.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason for which metric was flagged as anomalous.</p>",
            "smithy.api#required": {}
          }
        },
        "instances": {
          "target": "com.amazonaws.codeguruprofiler#AnomalyInstances",
          "traits": {
            "smithy.api#documentation": "<p>\n            A list of the instances of the detected anomalies during the requested period.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Details about an anomaly in a specific metric of application profile. The anomaly is detected using  \n            analysis of the metric data over a period of time.\n        </p>"
      }
    },
    "com.amazonaws.codeguruprofiler#AnomalyInstance": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            The universally unique identifier (UUID) of an instance of an anomaly in a metric.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "startTime": {
          "target": "com.amazonaws.codeguruprofiler#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n            The start time of the period during which the metric is flagged as anomalous. \n            This is specified \n            using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 \n            millisecond past June 1, 2020 1:15:02 PM UTC.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "endTime": {
          "target": "com.amazonaws.codeguruprofiler#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n            The end time of the period during which the metric is flagged as anomalous. \n            This is specified \n            using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 \n            millisecond past June 1, 2020 1:15:02 PM UTC.\n        </p>"
          }
        },
        "userFeedback": {
          "target": "com.amazonaws.codeguruprofiler#UserFeedback",
          "traits": {
            "smithy.api#documentation": "<p>Feedback type on a specific instance of anomaly submitted by the user.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specific duration in which the metric is flagged as anomalous.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#AnomalyInstanceId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
      }
    },
    "com.amazonaws.codeguruprofiler#AnomalyInstances": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codeguruprofiler#AnomalyInstance"
      }
    },
    "com.amazonaws.codeguruprofiler#BatchGetFrameMetricData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeguruprofiler#BatchGetFrameMetricDataRequest"
      },
      "output": {
        "target": "com.amazonaws.codeguruprofiler#BatchGetFrameMetricDataResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeguruprofiler#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Returns the time series of values for a requested list \n         of frame metrics from a time period.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/profilingGroups/{profilingGroupName}/frames/-/metrics",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.codeguruprofiler#BatchGetFrameMetricDataRequest": {
      "type": "structure",
      "members": {
        "profilingGroupName": {
          "target": "com.amazonaws.codeguruprofiler#ProfilingGroupName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the profiling group associated with the \n         the frame metrics used to return the time series values.\n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "startTime": {
          "target": "com.amazonaws.codeguruprofiler#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n         The start time of the time period for the frame metrics used to return the time series values. \n         This is specified \n         using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 \n         millisecond past June 1, 2020 1:15:02 PM UTC.\n      </p>",
            "smithy.api#httpQuery": "startTime"
          }
        },
        "endTime": {
          "target": "com.amazonaws.codeguruprofiler#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n         The end time of the time period for the returned time series values. \n         This is specified \n         using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 \n         millisecond past June 1, 2020 1:15:02 PM UTC.\n      </p>",
            "smithy.api#httpQuery": "endTime"
          }
        },
        "period": {
          "target": "com.amazonaws.codeguruprofiler#Period",
          "traits": {
            "smithy.api#documentation": "<p>\n         The duration of the frame metrics used to return the time series values. \n         Specify using the ISO 8601 format. The maximum period duration \n         is one day (<code>PT24H</code> or <code>P1D</code>).\n      </p>",
            "smithy.api#httpQuery": "period"
          }
        },
        "targetResolution": {
          "target": "com.amazonaws.codeguruprofiler#AggregationPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The requested resolution of time steps for the returned time series of values. \n         If the requested target resolution is not available due to data not being retained we provide a best effort \n         result by falling back to the most granular available resolution after the target resolution. \n         There are 3 valid values.\n      </p>\n         <ul>\n            <li>\n               <p>\n                  <code>P1D</code> — 1 day\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>PT1H</code> — 1 hour\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>PT5M</code> — 5 minutes\n            </p>\n            </li>\n         </ul>",
            "smithy.api#httpQuery": "targetResolution"
          }
        },
        "frameMetrics": {
          "target": "com.amazonaws.codeguruprofiler#FrameMetrics",
          "traits": {
            "smithy.api#documentation": "<p>\n         The details of the metrics that are used to request a time series of values. The metric includes \n         the name of the frame, the aggregation type to calculate the metric value for the \n         frame, and the thread states to use to get the count for the metric value of the frame.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the BatchGetFrameMetricDataRequest.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#BatchGetFrameMetricDataResponse": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "com.amazonaws.codeguruprofiler#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n         The start time of the time period for the returned time series values. \n         This is specified \n         using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 \n         millisecond past June 1, 2020 1:15:02 PM UTC.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "endTime": {
          "target": "com.amazonaws.codeguruprofiler#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n         The end time of the time period for the returned time series values. \n         This is specified \n         using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 \n         millisecond past June 1, 2020 1:15:02 PM UTC.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "resolution": {
          "target": "com.amazonaws.codeguruprofiler#AggregationPeriod",
          "traits": {
            "smithy.api#documentation": "<p>Resolution or granularity of the profile data used to generate the time series. \n         This is the value used to jump through time steps in a time series. There are 3 valid values.\n      </p>\n         <ul>\n            <li>\n               <p>\n                  <code>P1D</code> — 1 day\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>PT1H</code> — 1 hour\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>PT5M</code> — 5 minutes\n            </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "endTimes": {
          "target": "com.amazonaws.codeguruprofiler#ListOfTimestamps",
          "traits": {
            "smithy.api#documentation": "<p>\n         List of instances, or time steps, in the time series. For example, if the \n         <code>period</code> is one day (<code>PT24H)</code>), and the <code>resolution</code> \n         is five minutes (<code>PT5M</code>), then there are 288 <code>endTimes</code> in the \n         list that are each five minutes appart.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "unprocessedEndTimes": {
          "target": "com.amazonaws.codeguruprofiler#UnprocessedEndTimeMap",
          "traits": {
            "smithy.api#documentation": "<p>List of instances which remained unprocessed. This will create a missing time step in the list of end times.</p>",
            "smithy.api#required": {}
          }
        },
        "frameMetricData": {
          "target": "com.amazonaws.codeguruprofiler#FrameMetricData",
          "traits": {
            "smithy.api#documentation": "<p>Details of the metrics to request a time series of values. The metric includes \n         the name of the frame, the aggregation type to calculate the metric value for the frame, \n         and the thread states to use to get the count for the metric value of the frame.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the BatchGetFrameMetricDataResponse.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#Channel": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.codeguruprofiler#ChannelId",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for each <code>Channel</code> in the notification configuration of a Profiling Group. A random UUID for channelId is used when adding a channel to the notification configuration if not specified in the request.</p>"
          }
        },
        "uri": {
          "target": "com.amazonaws.codeguruprofiler#ChannelUri",
          "traits": {
            "smithy.api#documentation": "<p>Unique arn of the resource to be used for notifications. We support a valid SNS topic arn as a channel uri.</p>",
            "smithy.api#required": {}
          }
        },
        "eventPublishers": {
          "target": "com.amazonaws.codeguruprofiler#EventPublishers",
          "traits": {
            "smithy.api#documentation": "<p>List of publishers for different type of events that may be detected in an application from the profile. Anomaly detection is the only event publisher in Profiler.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Notification medium for users to get alerted for events that occur in application profile. We support SNS topic as a notification channel.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#ChannelId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
      }
    },
    "com.amazonaws.codeguruprofiler#ChannelUri": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {},
        "smithy.api#documentation": "Channel URI uniquely identifies a Notification Channel.\nTopicArn is the uri for an SNS channel, emailId is uri for an email channel etc.\nCurrently we only support SNS channels and thus required to be an ARN"
      }
    },
    "com.amazonaws.codeguruprofiler#Channels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codeguruprofiler#Channel"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.codeguruprofiler#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[\\w-]+$"
      }
    },
    "com.amazonaws.codeguruprofiler#CodeGuruProfiler": {
      "type": "service",
      "version": "2019-07-18",
      "operations": [
        {
          "target": "com.amazonaws.codeguruprofiler#GetFindingsReportAccountSummary"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#TagResource"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.codeguruprofiler#ProfilingGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "CodeGuruProfiler",
          "arnNamespace": "codeguru-profiler",
          "cloudFormationName": "CodeGuruProfiler",
          "cloudTrailEventSource": "codeguru-profiler.amazonaws.com",
          "endpointPrefix": "codeguru-profiler"
        },
        "aws.auth#sigv4": {
          "name": "codeguru-profiler"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "X-Amz-Content-Sha256",
            "X-Amz-User-Agent",
            "Content-Type"
          ]
        },
        "smithy.api#documentation": "<p>\n          This section provides documentation for the Amazon CodeGuru Profiler API operations.\n      </p>\n         <p>\n         Amazon CodeGuru Profiler collects runtime performance data from your live applications, and provides\n         recommendations that can help you fine-tune your application performance. Using machine learning\n         algorithms, CodeGuru Profiler can help you find your most expensive lines of code and suggest ways you can\n         improve efficiency and remove CPU bottlenecks.\n      </p>\n         <p>\n         Amazon CodeGuru Profiler provides different visualizations of profiling data to help you identify what code is\n         running on the CPU, see how much time is consumed, and suggest ways to reduce CPU utilization.\n      </p>\n         <note>\n            <p>Amazon CodeGuru Profiler currently supports applications written in all Java virtual machine (JVM)\n            languages and Python. While CodeGuru Profiler supports both visualizations and recommendations for applications\n            written in Java, it can also generate visualizations and a subset of recommendations for\n            applications written in other JVM languages and Python.</p>\n         </note>\n         <p>\n         For more information, see <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-ug/what-is-codeguru-profiler.html\">What is Amazon CodeGuru Profiler</a> in \n         the <i>Amazon CodeGuru Profiler User Guide</i>.\n      </p>",
        "smithy.api#title": "Amazon CodeGuru Profiler",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://codeguru-profiler-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://codeguru-profiler-fips.{Region}.{PartitionResult#dnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://codeguru-profiler.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://codeguru-profiler.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://codeguru-profiler.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.codeguruprofiler#ComputePlatform": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Default",
            "name": "DEFAULT",
            "documentation": "Compute platform meant to used for all usecases (like EC2, Fargate, physical servers etc.) but AWS Lambda."
          },
          {
            "value": "AWSLambda",
            "name": "AWSLAMBDA",
            "documentation": "Compute platform meant to used for AWS Lambda."
          }
        ]
      }
    },
    "com.amazonaws.codeguruprofiler#ConfigureAgent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeguruprofiler#ConfigureAgentRequest"
      },
      "output": {
        "target": "com.amazonaws.codeguruprofiler#ConfigureAgentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeguruprofiler#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n          Used by profiler agents to report their current state and to receive remote \n          configuration updates. For example, <code>ConfigureAgent</code> can be used \n         to tell an agent whether to profile or not and for how long to return profiling data.\n      </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/profilingGroups/{profilingGroupName}/configureAgent",
          "code": 200
        },
        "smithy.api#tags": [
          "dataplane"
        ]
      }
    },
    "com.amazonaws.codeguruprofiler#ConfigureAgentRequest": {
      "type": "structure",
      "members": {
        "profilingGroupName": {
          "target": "com.amazonaws.codeguruprofiler#ProfilingGroupName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the profiling group for which the configured agent is collecting profiling data.\n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "fleetInstanceId": {
          "target": "com.amazonaws.codeguruprofiler#FleetInstanceId",
          "traits": {
            "smithy.api#documentation": "<p> A universally unique identifier (UUID) for a profiling instance. For example, if the\n         profiling instance is an Amazon EC2 instance, it is the instance ID. If it is an AWS\n         Fargate container, it is the container's task ID. </p>"
          }
        },
        "metadata": {
          "target": "com.amazonaws.codeguruprofiler#Metadata",
          "traits": {
            "smithy.api#documentation": "<p> Metadata captured about the compute platform the agent is running on. It includes\n         information about sampling and reporting. The valid fields are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>COMPUTE_PLATFORM</code> - The compute platform on which the agent is running\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>AGENT_ID</code> - The ID for an agent instance.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>AWS_REQUEST_ID</code> - The AWS request ID of a Lambda invocation.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>EXECUTION_ENVIRONMENT</code> - The execution environment a Lambda function is running on.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>LAMBDA_FUNCTION_ARN</code> - The Amazon Resource Name (ARN) that is used to invoke a Lambda function.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>LAMBDA_MEMORY_LIMIT_IN_MB</code> - The memory allocated to a Lambda function.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>LAMBDA_REMAINING_TIME_IN_MILLISECONDS</code> - The time in milliseconds before execution of a Lambda function times out.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>LAMBDA_TIME_GAP_BETWEEN_INVOKES_IN_MILLISECONDS</code> - The time in milliseconds between two invocations of a Lambda function.\n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>LAMBDA_PREVIOUS_EXECUTION_TIME_IN_MILLISECONDS</code> - The time in milliseconds for the previous Lambda invocation.\n            </p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the configureAgentRequest.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#ConfigureAgentResponse": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "com.amazonaws.codeguruprofiler#AgentConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>\n         An <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_AgentConfiguration.html\">\n               <code>AgentConfiguration</code>\n            </a> \n         object that specifies if an agent profiles or not and for how long to return profiling data.\n      </p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the configureAgentResponse.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested operation would cause a conflict with the current state \n        of a service resource associated with the request. Resolve the conflict \n        before retrying this request.\n      </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.codeguruprofiler#CreateProfilingGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeguruprofiler#CreateProfilingGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.codeguruprofiler#CreateProfilingGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeguruprofiler#ConflictException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a profiling group.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/profilingGroups",
          "code": 201
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.codeguruprofiler#CreateProfilingGroupRequest": {
      "type": "structure",
      "members": {
        "profilingGroupName": {
          "target": "com.amazonaws.codeguruprofiler#ProfilingGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profiling group to create.</p>",
            "smithy.api#required": {}
          }
        },
        "computePlatform": {
          "target": "com.amazonaws.codeguruprofiler#ComputePlatform",
          "traits": {
            "smithy.api#documentation": "<p>\n         The compute platform of the profiling group. Use <code>AWSLambda</code> if your application \n         runs on AWS Lambda. Use <code>Default</code> if your application runs on a compute platform that \n         is not AWS Lambda, such an Amazon EC2 instance, an on-premises server, or a different platform. \n         If not specified, <code>Default</code> is used.         \n      </p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.codeguruprofiler#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> Amazon CodeGuru Profiler uses this universally unique identifier (UUID) to prevent the\n         accidental creation of duplicate profiling groups if there are failures and retries. </p>",
            "smithy.api#httpQuery": "clientToken",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "agentOrchestrationConfig": {
          "target": "com.amazonaws.codeguruprofiler#AgentOrchestrationConfig",
          "traits": {
            "smithy.api#documentation": "<p>\n         Specifies whether profiling is enabled or disabled for the created profiling group.\n      </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.codeguruprofiler#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>\n         A list of tags to add to the created profiling group.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the createProfiliingGroupRequest.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#CreateProfilingGroupResponse": {
      "type": "structure",
      "members": {
        "profilingGroup": {
          "target": "com.amazonaws.codeguruprofiler#ProfilingGroupDescription",
          "traits": {
            "smithy.api#documentation": "<p> The returned <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ProfilingGroupDescription.html\">\n               <code>ProfilingGroupDescription</code>\n            </a> object that contains information\n         about the created profiling group. </p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the createProfilingGroupResponse.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#DeleteProfilingGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeguruprofiler#DeleteProfilingGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.codeguruprofiler#DeleteProfilingGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeguruprofiler#ConflictException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a profiling group.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/profilingGroups/{profilingGroupName}",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.codeguruprofiler#DeleteProfilingGroupRequest": {
      "type": "structure",
      "members": {
        "profilingGroupName": {
          "target": "com.amazonaws.codeguruprofiler#ProfilingGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profiling group to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the deleteProfilingGroupRequest.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#DeleteProfilingGroupResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the deleteProfilingGroupResponse.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#DescribeProfilingGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeguruprofiler#DescribeProfilingGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.codeguruprofiler#DescribeProfilingGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeguruprofiler#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Returns a <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ProfilingGroupDescription.html\">\n               <code>ProfilingGroupDescription</code>\n            </a> \n         object that contains information about the requested profiling group.\n      </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/profilingGroups/{profilingGroupName}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.codeguruprofiler#DescribeProfilingGroupRequest": {
      "type": "structure",
      "members": {
        "profilingGroupName": {
          "target": "com.amazonaws.codeguruprofiler#ProfilingGroupName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the profiling group to get information about.\n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the describeProfilingGroupRequest.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#DescribeProfilingGroupResponse": {
      "type": "structure",
      "members": {
        "profilingGroup": {
          "target": "com.amazonaws.codeguruprofiler#ProfilingGroupDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n         The returned <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ProfilingGroupDescription.html\">\n               <code>ProfilingGroupDescription</code>\n            </a> \n         object that contains information about the requested profiling group.\n      </p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the describeProfilingGroupResponse.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#EventPublisher": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AnomalyDetection",
            "name": "ANOMALY_DETECTION",
            "documentation": "Notifications for Anomaly Detection"
          }
        ]
      }
    },
    "com.amazonaws.codeguruprofiler#EventPublishers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codeguruprofiler#EventPublisher"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.codeguruprofiler#FeedbackType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Positive",
            "name": "Positive",
            "documentation": "Profiler recommendation flagged as useful."
          },
          {
            "value": "Negative",
            "name": "Negative",
            "documentation": "Profiler recommendation flagged as not useful."
          }
        ]
      }
    },
    "com.amazonaws.codeguruprofiler#FindingsReportId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
      }
    },
    "com.amazonaws.codeguruprofiler#FindingsReportSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codeguruprofiler#FindingsReportSummary"
      }
    },
    "com.amazonaws.codeguruprofiler#FindingsReportSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.codeguruprofiler#FindingsReportId",
          "traits": {
            "smithy.api#documentation": "<p>The universally unique identifier (UUID) of the recommendation report.</p>"
          }
        },
        "profilingGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profiling group that is associated with the analysis data.</p>"
          }
        },
        "profileStartTime": {
          "target": "com.amazonaws.codeguruprofiler#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the profile the analysis data is about. \n            This is specified \n            using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 \n            millisecond past June 1, 2020 1:15:02 PM UTC.</p>"
          }
        },
        "profileEndTime": {
          "target": "com.amazonaws.codeguruprofiler#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n            The end time of the period during which the metric is flagged as anomalous. \n            This is specified \n            using the ISO 8601 format. For example, 2020-06-01T13:15:02.001Z represents 1 \n            millisecond past June 1, 2020 1:15:02 PM UTC.\n        </p>"
          }
        },
        "totalNumberOfFindings": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of different recommendations that were found by the analysis.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Information about potential recommendations that might be created from the \n            analysis of profiling data.\n        </p>"
      }
    },
    "com.amazonaws.codeguruprofiler#FleetInstanceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.codeguruprofiler#FrameMetric": {
      "type": "structure",
      "members": {
        "frameName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> Name of the method common across the multiple occurrences of a frame in an application\n         profile.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.codeguruprofiler#MetricType",
          "traits": {
            "smithy.api#documentation": "<p> A type of aggregation that specifies how a metric for a frame is analyzed. The\n         supported value <code>AggregatedRelativeTotalTime</code> is an aggregation of the metric\n         value for one frame that is calculated across the occurrences of all frames in a profile. </p>",
            "smithy.api#required": {}
          }
        },
        "threadStates": {
          "target": "com.amazonaws.codeguruprofiler#ThreadStates",
          "traits": {
            "smithy.api#documentation": "<p>List of application runtime thread states used to get the counts for a frame a derive a metric value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         The frame name, metric type, and thread states. These are used \n         to derive the value of the metric for the frame.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#FrameMetricData": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codeguruprofiler#FrameMetricDatum"
      }
    },
    "com.amazonaws.codeguruprofiler#FrameMetricDatum": {
      "type": "structure",
      "members": {
        "frameMetric": {
          "target": "com.amazonaws.codeguruprofiler#FrameMetric",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.codeguruprofiler#FrameMetricValues",
          "traits": {
            "smithy.api#documentation": "<p>\n         A list of values that are associated with a frame metric.\n      </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Information about a frame metric and its values.\n      </p>"
      }
    },
    "com.amazonaws.codeguruprofiler#FrameMetricValue": {
      "type": "double"
    },
    "com.amazonaws.codeguruprofiler#FrameMetricValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codeguruprofiler#FrameMetricValue"
      }
    },
    "com.amazonaws.codeguruprofiler#FrameMetrics": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.codeguruprofiler#FrameMetric"
      }
    },
    "com.amazonaws.codeguruprofiler#GetFindingsReportAccountSummary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeguruprofiler#GetFindingsReportAccountSummaryRequest"
      },
      "output": {
        "target": "com.amazonaws.codeguruprofiler#GetFindingsReportAccountSummaryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeguruprofiler#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Returns a list of \n            <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_FindingsReportSummary.html\">\n               <code>FindingsReportSummary</code>\n            </a> \n            objects that contain analysis results for all profiling groups in your AWS account.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/internal/findingsReports",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.codeguruprofiler#GetFindingsReportAccountSummaryRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.codeguruprofiler#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value returned from a previous paginated <code>GetFindingsReportAccountSummary</code>\n         request where <code>maxResults</code> was used and the results exceeded the value of that parameter.\n         Pagination continues from the end of the previous results that returned the <code>nextToken</code> value.\n      </p>\n         <note>\n            <p>This token should be treated as an opaque identifier that is only used to retrieve\n         the next items in a list and not for other programmatic purposes.</p>\n         </note>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.codeguruprofiler#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results returned by <code> GetFindingsReportAccountSummary</code> in paginated output. \n            When this parameter is used, <code>GetFindingsReportAccountSummary</code> only returns <code>maxResults</code> \n            results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial \n            request can be seen by sending another <code>GetFindingsReportAccountSummary</code> request with the returned \n            <code>nextToken</code> value.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "dailyReportsOnly": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A <code>Boolean</code> value indicating whether to only return reports from daily profiles. If set \n            to <code>True</code>, only analysis data from daily profiles is returned. If set to <code>False</code>, \n            analysis data is returned from smaller time windows (for example, one hour).</p>",
            "smithy.api#httpQuery": "dailyReportsOnly"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the GetFindingsReportAccountSummaryRequest.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#GetFindingsReportAccountSummaryResponse": {
      "type": "structure",
      "members": {
        "reportSummaries": {
          "target": "com.amazonaws.codeguruprofiler#FindingsReportSummaries",
          "traits": {
            "smithy.api#documentation": "<p>The return list of \n            <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_FindingsReportSummary.html\">\n               <code>FindingsReportSummary</code>\n            </a> \n            objects taht contain summaries of analysis results for all profiling groups in your AWS account.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.codeguruprofiler#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>nextToken</code> value to include in a future <code>GetFindingsReportAccountSummary</code> request.\n         When the results of a <code>GetFindingsReportAccountSummary</code> request exceed <code>maxResults</code>, this\n         value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more\n         results to return.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the GetFindingsReportAccountSummaryResponse.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#GetNotificationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeguruprofiler#GetNotificationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.codeguruprofiler#GetNotificationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeguruprofiler#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get the current configuration for anomaly notifications for a profiling group.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/profilingGroups/{profilingGroupName}/notificationConfiguration",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.codeguruprofiler#GetNotificationConfigurationRequest": {
      "type": "structure",
      "members": {
        "profilingGroupName": {
          "target": "com.amazonaws.codeguruprofiler#ProfilingGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profiling group we want to get the notification configuration for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the GetNotificationConfigurationRequest.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#GetNotificationConfigurationResponse": {
      "type": "structure",
      "members": {
        "notificationConfiguration": {
          "target": "com.amazonaws.codeguruprofiler#NotificationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The current notification configuration for this profiling group.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the GetNotificationConfigurationResponse.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#GetPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeguruprofiler#GetPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.codeguruprofiler#GetPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeguruprofiler#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Returns the JSON-formatted resource-based policy on a profiling group.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/profilingGroups/{profilingGroupName}/policy",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.codeguruprofiler#GetPolicyRequest": {
      "type": "structure",
      "members": {
        "profilingGroupName": {
          "target": "com.amazonaws.codeguruprofiler#ProfilingGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profiling group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The structure representing the <code>getPolicyRequest</code>.\n        </p>"
      }
    },
    "com.amazonaws.codeguruprofiler#GetPolicyResponse": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The JSON-formatted resource-based policy attached to the <code>ProfilingGroup</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "revisionId": {
          "target": "com.amazonaws.codeguruprofiler#RevisionId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the current revision of the returned policy.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the <code>getPolicyResponse</code>.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#GetProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.codeguruprofiler#GetProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.codeguruprofiler#GetProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.codeguruprofiler#InternalServerException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ThrottlingException"
        },
        {
          "target": "com.amazonaws.codeguruprofiler#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         Gets the aggregated profile of a profiling group for a specified time range. \n         Amazon CodeGuru Profiler collects posted agent profiles for a profiling group \n         into aggregated profiles.  \n     </p>\n      \n         <note>\n            <p>\n            Because aggregated profiles expire over time <code>GetProfile</code> is not idempotent.\n         </p>\n         </note>\n      \n         <p>\n         Specify the time range for the requested aggregated profile using 1 or 2 of the following parameters: <code>startTime</code>, \n         <code>endTime</code>, <code>period</code>. The maximum time range allowed is 7 days. If you specify all 3 parameters, \n         an exception is thrown. If you specify only <code>period</code>, the latest aggregated profile is returned. \n      </p>\n      \n         <p>\n         Aggregated profiles are available with aggregation periods of 5 minutes, 1 hour, and 1 day, aligned to \n         UTC. The aggregation period of an aggregated profile determines how long it is retained. For more \n         information, see <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_AggregatedProfileTime.html\">\n               <code>AggregatedProfileTime</code>\n            </a>. The aggregated profile's aggregation period determines how long  \n         it is retained by CodeGuru Profiler.\n      </p>\n      \n         <ul>\n            <li>\n               <p>\n               If the aggregation period is 5 minutes, the aggregated profile is retained for 15 days.\n            </p>\n            </li>\n            <li>\n               <p>\n               If the aggregation period is 1 hour, the aggregated profile is retained for 60 days.\n            </p>\n            </li>\n            <li>\n               <p>\n               If the aggregation period is 1 day, the aggregated profile is retained for 3 years.\n            </p>\n            </li>\n         </ul>\n      \n         <p>There are two use cases for calling <code>GetProfile</code>.</p>\n         <ol>\n            <li>\n               <p>\n               If you want to return an aggregated profile that already exists, use \n               <a href=\"https://docs.aws.amazon.com/codeguru/latest/profiler-api/API_ListProfileTimes.html\">\n                     <code>ListProfileTimes</code>\n                  </a> to \n               view the time ranges of existing aggregated profiles. Use them in a <code>GetProfile</code> request to return a specific, \n               existing aggregated profile.\n            </p>\n            </li>\n            <li>\n               <p>\n               If you want to return an aggregated profile for a time range that doesn't align with an existing aggregated profile, \n               then CodeGuru Profiler makes a best effort to combine existing aggregated profiles from the requested time \n               range and return them as one aggregated profile. \n            </p>\n            \n               <p> If aggregated profiles do not exist for the full time range requested, then\n               aggregated profiles for a smaller time range are returned. For example, if the\n               requested time range is from 00:00 to 00:20, and the existing aggregated profiles are\n               from 00:15 and 00:25, then the aggregated profiles from 00:15 to 00:20 are returned. </p>\n            \n            \n            </li>\n         </ol>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/profilingGroups/{profilingGroupName}/profile",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.codeguruprofiler#GetProfileRequest": {
      "type": "structure",
      "members": {
        "profilingGroupName": {
          "target": "com.amazonaws.codeguruprofiler#ProfilingGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the profiling group to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "startTime": {
          "target": "com.amazonaws.codeguruprofiler#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time of the profile to get. Specify using \n         the ISO 8601 format. For example, \n         2020-06-01T13:15:02.001Z  represents 1 millisecond past June 1, 2020 1:15:02 PM UTC.</p>\n      \n         <p>\n         If you specify <code>startTime</code>, then you must also specify <code>period</code> \n         or <code>endTime</code>, but not both.\n      </p>",
            "smithy.api#httpQuery": "startTime"
          }
        },
        "period": {
          "target": "com.amazonaws.codeguruprofiler#Period",
          "traits": {
            "smithy.api#documentation": "<p>\n         Used with <code>startTime</code> or <code>endTime</code> to specify \n         the time range for the returned aggregated profile. Specify using \n         the ISO 8601 format. For example, <code>P1DT1H1M1S</code>.\n      </p>\n      \n         <p>\n         To get the latest aggregated profile, specify only <code>period</code>. \n      </p>",
            "smithy.api#httpQuery": "period"
          }
        },
        "endTime": {
          "target": "com.amazonaws.codeguruprofiler#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n         The end time of the requested profile. Specify using \n         the ISO 8601 format. For example, \n         2020-06-01T13:15:02.001Z  represents 1 millisecond past June 1, 2020 1:15:02 PM UTC.\n      </p>\n         <p>\n         If you specify <code>endTime</code>, then you must also specify <code>period</code> \n         or <code>startTime</code>, but not both.\n      </p>",
            "smithy.api#httpQuery": "endTime"
          }
        },
        "maxDepth": {
          "target": "com.amazonaws.codeguruprofiler#MaxDepth",
          "traits": {
            "smithy.api#documentation": "<p>\n         The maximum depth of the stacks in the code that is represented in \n         the aggregated profile. For example, if CodeGuru Profiler finds a method <code>A</code>, \n         which calls method <code>B</code>, which calls method <code>C</code>, which \n         calls method <code>D</code>, then the depth is 4. If the <code>maxDepth</code> is \n         set to 2, then the aggregated profile contains representations of methods <code>A</code> \n         and <code>B</code>.\n      </p>",
            "smithy.api#httpQuery": "maxDepth"
          }
        },
        "accept": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>\n         The format of the returned profiling data. The format maps to the \n         <code>Accept</code> and <code>Content-Type</code> headers of the \n         HTTP request. You can specify one of the following: \n        or the default .\n      </p>\n      \n         <ul>\n            <li>\n               <p>\n                  <code>application/json</code> — standard JSON format \n            </p>\n            </li>\n            <li>\n               <p>\n                  <code>application/x-amzn-ion</code> — the Amazon Ion data format. For more information, \n               see <a href=\"http://amzn.github.io/ion-docs/\">Amazon Ion</a>.\n            </p>\n            </li>\n         </ul>",
            "smithy.api#httpHeader": "Accept"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure representing the getProfileRequest.</p>"
      }
    },
    "com.amazonaws.codeguruprofiler#GetProfileResponse": {
      "type": "structure",
      "members": {
        "profile": {
          "target": "com.amazonaws.codeguruprofiler#AggregatedProfile",
          "traits": {
            "smithy.api#documentation": "<p>Information about the profile.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "smithy.api#String",
          "traits": {
[...]
